[2021-01-12 11:34] themronion commented on #13323
@hartez Do you have any workarounds? Maybe like setting height request somewhere or i dont know. Or should i stay on the prerelease version?

[2021-01-12 11:47] brzezinol commented on #11993
The same behavior on Samsung S20+.
On emulator works fine.

[2021-01-12 12:02] tompi opened #13376 "[Bug] [iOS] Brush color lost on swiping"
### Description

Brush-bindings seems to get lost when navigating in carousel view(only happens on iOS, android works fine).
Happens on both emulator and devices

### Steps to Reproduce

1. Download repro-app: https://github.com/tompi/shapedebug
2. Run it on ios and swipe a few times back and forth

### Expected Behavior

Stroke and fill attributes of shapes are intact after swiping

### Actual Be

[2021-01-12 12:22] sbeckmann opened #13377 "Can't seek/scrub/skip through audio/video resources in WebView provided by UriToStreamResolver on UWP"
### Description
When using an `IUriToStreamResolver` for resources located locally on the device in `FileSystem.CacheDirectory`, WebView's audio/video player does not support seeking/scrubbing on UWP. The slider will just skip back to the current position.

### Steps to Reproduce

1. Download sample project ([WebViewTest.zip](https://github.com/xamarin/Xamarin.Forms/files/5801863/WebViewTest.zip))

[2021-01-12 12:43] developer9969 commented on #13303
@dphamsafetrust  hi interesting but that is an old version not a new one.Do you have same issue as I do?

[2021-01-12 12:45] Ganeshamoorthy10 commented on #13321
Hi @hartez ,

Thanks for the solution. Its working perfectly in Xamarin Forms Android and iOS, but in UWP its not working. Could you please check on this?

[Uploading SampleProject.zip…]()

[2021-01-12 12:48] dphamsafetrust commented on #13303
Exactly same :)

[2021-01-12 12:52] nionzion commented on #13296
### Workaround

- Add a custom renderer in your Xamarin.Android Project and override the ScrollTo()-method

[code]

To obtain custom functionality you can customize the ScrollTo-Method

[2021-01-12 13:00] developer9969 commented on #13303
@dphamsafetrust  problem is it does not seems to be in the list of items they are working on for 5.01 and we will never be able to upgrade until is fixed or someone suggests a workaround.

[2021-01-12 13:18] MaxFmi commented on #11237
@PureWeen Thanks for the answer.

I haven't worked with Azure DevOps and not sure where to download the nuget. Artifacts is only showing an old Android version.
![Screenshot 2021-01-12 at 14 17 06](https://user-images.githubusercontent.com/61872738/104319253-e79a7900-54e0-11eb-8c60-903dc4b4a6c6.png)
![Screenshot 2021-01-12 at 14 17 51](https://user-images.githubusercontent.com/61872738/104319321-f

[2021-01-12 13:23] imuller commented on #2383
Same here. We have this issue in multiple of our listviews. When the viewcell content (vertical) is different on each cell, the height of the viewcell hides some of the bottom content.

[2021-01-12 14:01] jameswestgate commented on #13255
I'm also seeing a similar issue when moving from Forms 4.8.0.1821 to 5.0. In my case, the carousel is inside a ScrollView.

[2021-01-12 14:02] jawbrey commented on #13041
@ChristianTBaker any ideas what specifically triggers this?  I'm trying to determine if we can refactor our grid layout to avoid the trigger while we wait for a fix

[2021-01-12 14:03] PureWeen commented on #11237
@MaxFmi on the page above you would click on where it says "4 published"

Here's a direct link you can use
https://dev.azure.com/xamarin/public/_build/results?buildId=33354&view=artifacts&pathAsName=false&type=publishedArtifacts

When you hover over the "nuget"  option you'll see three dots to the right. Click those to download the packages

[2021-01-12 15:08] AlleSchonWeg opened #13378 "[Bug] iOS LinearGradientBrush Transparent Color"
### Description
Using this sample xaml:
[code]
shows on iOS a gray area. ;)
### Expected Behavior
All should be white. Like android.

### Actual Behavior
Shows a gray area.

### Basic Information

- Version with issue: 4.8.0.1560
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library / AndroidX Version:
- NuGet Packages:
- Affected Devices

[2021-01-12 15:12] ahoefling commented on #13296
@nionzion Thanks for the workaround, this does prevent the application from crashing and it is something I was looking at for a potential fix to XF. I believe the problem to be more complex than that as `ScrollTo` stopped working after my first time clearing out the list and setting the `CurrentItem = null`.

It appears that there is some state management code that happens in the parent class that

[2021-01-12 15:25] GalaxiaGuy opened #13379 "[Bug] Unable to use RealtiveSource in GridItemsLayout"
### Description

When trying to bind properties of `GridItemsLayout` like `Span`, a runtime exception is thrown because `GridItemsLayout` is not an `Element`.

The exception is thrown from here: https://github.com/xamarin/Xamarin.Forms/blob/d6e6b37eeef1702dfe7af8e1f02781e8cb45b90a/Xamarin.Forms.Core/Binding.cs#L157

### Steps to Reproduce

Use some code like the following:

[code]

### Basic Infor

[2021-01-12 16:06] GalaxiaGuy commented on #13379
Separate to this specific bug, it looks from the code that `RelativeSource Self` also requires the target to be an `Element` when it that case it might not be necessary.

[2021-01-12 18:23] mduchev commented on #12258
I can also confirm that it was working fine in 4.8.0.1821 and it's broken again in 5.0

[2021-01-12 18:24] mduchev commented on #13373
I can also confirm that it was working fine in 4.8.0.1821 and it's broken again in 5.0

[2021-01-12 18:28] lqsantos commented on #13310
Some problem here

[2021-01-12 20:15] jawbrey commented on #13041
@ChristianTBaker I was able to prevent the crash by removing `<views1:ProgressSegmentsView ... ` from the `ItemsPage` xaml (`IsVisible="False"` works too) - but not sure what it was about that control that causes this

[2021-01-12 21:33] angelru commented on #7277
any solution to this? i'm in a chat app

[2021-01-12 21:57] IeuanWalker commented on #7277
@angelru might be worth creating an issue in [XamarinCommunityToolkit](https://github.com/xamarin/XamarinCommunityToolkit) to see if anyone in the community can collaborate to get it built. That project new things are created quite fast.

[2021-01-12 22:40] hartez commented on #13345
@aperel66 Thanks for the clarification - I'll close this one.

[2021-01-12 22:40] #13345 closed

[2021-01-13 00:44] hartez commented on #13245
We definitely have a performance regression here to investigate. In the meantime, I would strongly suggest modifying your code to add your Grid's RowDefinitions up front. Adding them as you go along is causing the Grid to do a _lot_ of extra layout computation. If you can change your Grid creation code to something like this:

[code]

I think you'll find that the performance is _much_ better. The

[2021-01-13 01:39] mikebikerider commented on #13366
Comparing DatePickerRenderer.cs for Xamarin.Forms 4.8 and 5.0 makes me think both issues - missing Day of Week for date format "D" and wrong date are caused by changes in UpdateDateFromModel(bool animate)
both start with:
			if (_picker.Date.ToDateTime().Date != Element.Date.Date)
				_picker.SetDate(Element.Date.ToNSDate(), animate);
In 4.8
 Control.Text = Element.Date.ToString(Element.Format);
I

[2021-01-13 01:57] Silic0nS0ldier commented on #13361
I don't think this is the same issue. The view defined on the `EmptyView` property is showing when it should here. When there is something to show (and the issue is manifesting), nothing is shown. This appears to be different to the issue described on those other tickets.

Once I've got a reproduction together (hoped to have this together by now, should have accounted for the "end of project rush"

[2021-01-13 03:13] educatedcg commented on #13366
I agree this seems like a bug.. Perfectly working datetime picker no longer picks the correct date.
If you look at the binding property:
<DatePicker x:Name="EndDate" Date="{Binding SelectedEndDate}" />
 {1/31/2021 12:00:00 AM} - making matters worse, you can't even select the end of the month unless you select the first day of the next month.. It's always off by a day... Maybe the 12AM portion??

[2021-01-13 04:10] haiduong741 commented on #13303
Pls answer or attach a solution for this. @hartez
Thanks.

[2021-01-13 04:27] mikebikerider commented on #13366
No, not the 12 AM portion. The underlying iOS DatePicker works correctly and always shows the correct date. The date is pushed 1 day back when control on the page is updated. Date is pushed 1 day back if you are in the Western hemisphere, I am. If I fly to the UTC + zone it would be 1 day ahead at least some hours of the day. It can be quite confusing.
The workaround I suggested is simple. The per

[2021-01-13 05:23] OrtizJorge97 commented on #3855
Same issue here in January 12 2021 with Xamarin Forms: 4.8.0.1269.

[2021-01-13 05:26] Ralpharoo commented on #13373
+1. Just upgraded for new Xamarin.Essentials and the DatePickers are acting as above in XF 5.0.0.1874

If you want a quick fix, I can confirm using the custom renderer mention here works;
https://github.com/xamarin/Xamarin.Forms/issues/11963#issuecomment-696701626

[2021-01-13 07:18] nixkuroi commented on #2049
Having a similar issue when converting between a list<string> to a comma separated string in Xamarin.Forms 5.0.0.1874

 public object Convert(object value, Type targetType, object parameter, System.Globalization.CultureInfo culture)
        {
            if (value is List<string> keywordList)
            {
                return String.Join(",", keywordList);
            }

            return null

[2021-01-13 07:57] jsuarezruiz commented on #13359
Thanks for the feedback. It seems that #13181 will fix the issue. However, if you have a small example where reproduce the issue I can validate if it is exactly the same.

[2021-01-13 08:00] jsuarezruiz commented on #13358
Thanks for the feedback. It seems that https://github.com/xamarin/Xamarin.Forms/pull/13183 will fix the issue. However, if you have a small example where reproduce the issue I can validate if it is exactly the same.

[2021-01-13 08:03] jsuarezruiz commented on #13232
I can reproduce the issue with the attached sample.
![issue13232](https://user-images.githubusercontent.com/6755973/104423243-20d4f680-557e-11eb-8562-57e4d2e83227.gif)

[2021-01-13 08:03] Dids commented on #8640
It seems like Xamarin.Forms 5.0 only made this worse? The previous workarounds weren't exactly reliable before, but now they seem to be entirely unusable.

What's more, there seems to be a new warning coming from iOS when using CarouselView, both with and without the hack/workaround above:
[code]

[2021-01-13 08:11] jsuarezruiz commented on #13232
@Tommigun1980 We highly value all the feedback with issues, discussions, etc. and the attached examples very much for several reasons: we know that they take precious time, help to detect the problem more quickly, etc.
So, we really appreciate all your time and help in making Xamarin.Forms better!.
I'm going to review the issue today.

[2021-01-13 08:50] jfdomitor commented on #12563
A workaround seems to be to declare separate flyout items instead of using FlyoutDisplayOptions="AsMultipleItems".

This does not work
[code]

While this works:

[code]

[2021-01-13 09:12] jsuarezruiz commented on #13232
@Tommigun1980 The issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/13385

[2021-01-13 09:20] jsuarezruiz commented on #13376
Can reproduce the issue. Thanks for the attached sample!.

[2021-01-13 09:35] Tommigun1980 commented on #13232
Great!! Thank you. Closing the issue.

[2021-01-13 09:57] Tommigun1980 commented on #12774
Hi again.

@StephaneDelcroix Any chance this crash bug could get fixed? As mentioned it makes debugging very hard as the app just hard ceases on exceptions, and it prevents diagnostics logging on actual devices. It is hurting me pretty badly.

I also spent a lot of time on isolating the exact issue and making the repro project, so could at least a generic timeline be given?

Thanks so much!

[2021-01-13 10:00] Tommigun1980 commented on #12675
Hi!

Would this issue get fixed if I tried to isolate the exact issue and made a repro? I need to know approximately how long a fix might take to materialize as if it’s 6 months+ I will need to look into alternatives.

Thank you!

[2021-01-13 10:22] MitchBomcanhao commented on #13136
@samtun could you add which specific 4.8 version you found the issue on? "latest 4.8 version" isn't entirely clear when reading this retrospectively...

[2021-01-13 10:32] jsuarezruiz commented on #13376
@tompi The issue will be fixed by #13386

[2021-01-13 10:41] Srikanth540-L commented on #6227
@samhouts  the work around mentioned by @balbarak is not working in Xamarin Forms 5  and failing with below error stack:

at Xamarin.Forms.Platform.iOS.ShellFlyoutRenderer.Xamarin.Forms.IAppearanceObserver.OnAppearanceChanged (Xamarin.Forms.ShellAppearance appearance) [0x00022] in D:\a\1\s\Xamarin.Forms.Platform.iOS\Renderers\ShellFlyoutRenderer.cs:25
  at Xamarin.Forms.Shell.Xamarin.Forms.IShellC

[2021-01-13 10:46] elmo3326 commented on #6544
Upvoting this.

[2021-01-13 11:11] DonatasUr commented on #8794
I finally find the way out. To make iOS redraw component with new size (flexlayout) need to set MinimumHeightRequest. This makes to redraw component again. My project components tree:
StackLayout
   Pickers/Labels
   StackLayout
      StackLayout
         Labels/Pickers
      ...
   ListView
      StackLayout
         StackLayout
            Labels/Buttons
         FlexLayout  <-- This must grow i

[2021-01-13 11:20] ragulsv commented on #13241
But the same thing gets worked correctly in the below xamarin forms version 5.0 preview.

[2021-01-13 11:20] jsuarezruiz commented on #13210
Trying the attached example, I get this exception:
<img width="792" alt="Captura de pantalla 2021-01-13 a las 12 16 52" src="https://user-images.githubusercontent.com/6755973/104445666-ac0fb580-5599-11eb-96e2-3a2e32a934c5.png">
After include:
`Xamarin.Forms.Forms.SetFlags("Brush_Experimental");`

The sample is working as expected. Could you try the same adding the previous line?

[2021-01-13 11:23] Moreno-Borsalino opened #13387 "[Bug] [Android] Upgrade from version 4.8 to 5.0 breaks Label Texttype Html Text rendering"
### Description
I upgraded an Android App from version 4.8 to 5.0 and I had problem on one page very simple showing only a Label with Html Text inside. With version 5.0 it shows only the first part of the text by completely cutting off the last part. However, with version 4.8 there were no problems. The text is about 3535 characters long and contains only some &lt;h2&gt; and &lt;br&gt; tags.
### S

[2021-01-13 11:27] jsuarezruiz commented on #13363
Need to review it, but maybe is related and could be fixed by: https://github.com/xamarin/Xamarin.Forms/pull/13113/

[2021-01-13 11:35] tompi commented on #13376
@jsuarezruiz Nice, that was fixed quickly! thnx 👍

[2021-01-13 12:09] Ganeshamoorthy10 opened #13388 "Entry Text color is not changed in UWP with visual states solution"
Hi @hartez ,

Thanks for the solution. Its working perfectly with Visual states TextColor is changed for Entry when IsEnabled is false  in Xamarin Forms Android and iOS, but in UWP its not working TextColor is not changed with Visual states. Could you please check on this?

[SampleProject.zip](https://github.com/xamarin/Xamarin.Forms/files/5802148/SampleProject.zip)

_Originally posted by @Ganesha

[2021-01-13 12:15] Devaraj-Sekar opened #13389 "[Bug] Localization is not updated at Runtime in Xamarin Forms controls and Custom controls"
### Description

Localization is updated at Runtime in Xamarin Forms

### Steps to Reproduce

1. Create a button in Xamarin forms with some random text. (Default localization language will be English)
2. Add equivalent resource .resx file to the button text.
2. Now, change the localization of the application through some button click event. (Change to French -> Thread.Culture.CurrentCulture("fr-FR

[2021-01-13 12:41] Srikanth540-L opened #13390 "[Bug] SlideFlyoutTransition is not working after the xamarin forms update to xamarin forms 5"
SlideFlyoutTransition is not working  after the xamarin forms  update to xamarin forms 5

### Description

We have requirement  where the hamburger icon is in the right side of the screen  and the flyout should move from  RTL but the bottom tabs follow LTR to accomplish this we have gone for CustomShellRenderer  where for iOS we are handling the transition.

at Xamarin.Forms.Platform.iOS.ShellFlyo

[2021-01-13 12:51] jsuarezruiz commented on #13232
Let's keep it open until the PR is validated and merged, ok?

[2021-01-13 13:21] Tommigun1980 commented on #13232
Ah sorry! For sure.

[2021-01-13 14:53] Redth commented on #12656
Is anyone able to modify the sample @PureWeen posted to reproduce the issue?

[2021-01-13 14:54] Redth commented on #12801
It's been awhile since the OP responded and it looks like this might not actually be a bug.  I'm going to close the issue, please re-open with more info if need be.

[2021-01-13 14:54] #12801 closed

[2021-01-13 14:54] Redth commented on #12802
@rookiejava can this be closed?

[2021-01-13 14:55] Redth commented on #12831
Please re-open with a repro if you're able to in the future.  Thanks.

[2021-01-13 14:55] #12831 closed

[2021-01-13 14:55] #12863 closed

[2021-01-13 14:55] Redth commented on #12789
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-13 14:55] #12789 closed

[2021-01-13 14:56] Redth commented on #12879
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-13 14:56] #12879 closed

[2021-01-13 14:56] #12550 closed

[2021-01-13 14:56] Redth commented on #12737
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-13 14:56] #12737 closed

[2021-01-13 15:44] PureWeen commented on #9474
Closing this issue
- @jgold6 indicated a workaround that can be applied to ListView
- Guidance going forward is to use CollectionView so we are focusing on fixing a11y issues with CollectionView currently and most likely won't make any additional changes to ListView

https://github.com/xamarin/Xamarin.Forms/issues/12252

[2021-01-13 15:44] #9474 closed

[2021-01-13 16:07] jpauly-pe commented on #10425
Hi XF team,

I saw this issue was added in the 5.0.0 milestone, but removed from it in november

Is this issue already solved ? If not, were you able to reproduce ?

Thanks.

[2021-01-13 16:08] PureWeen commented on #9090
ButtonRepro.Xaml still looks like it's an issue

But the Switch part of this issue looks to be fixed on 5.0.0 most likely by this
https://github.com/xamarin/Xamarin.Forms/pull/13244

[2021-01-13 16:15] Coding-BookMark commented on #13378
i have the same issue in List View Items in Gradient Frame Control

[2021-01-13 16:16] person2434 opened #13392 "Transparent Color When i Use LinearGradientBrush in Xamarin.Forms 5 Update in Listview Items"
i have the same issue in List View Items in Gradient Frame Control

_Originally posted by @Coding-BookMark in https://github.com/xamarin/Xamarin.Forms/issues/13378#issuecomment-759556439_

[2021-01-13 16:17] elicul commented on #13310
Is there any workaround for this issue?

[2021-01-13 16:37] jsuarezruiz commented on #13392
@Coding-BookMark Could you share a piece of code to be sure is the same as #13378?

[2021-01-13 17:02] samhouts commented on #6227
@Srikanth540-L Can you please open a new issue for that? Thank you!

[2021-01-13 17:38] Az0th commented on #13016
Another information:
On my iPad Air 2 it is working.
On my iPhone 11 not.

[2021-01-13 17:45] spelltwister commented on #1879
This is still an issue in 4.8.0.1821.  Now that I see 5 is out of -pre, I'll have to upgrade and test.

[2021-01-13 18:51] drasticactions opened #13393 "[Bug] [UWP] Setting/Resetting FontFamily or FontAttributes on Label causes original label style to be lost."
[Video Reproduction of Bug](https://user-images.githubusercontent.com/898335/104495346-aae48580-55a5-11eb-9b1d-c3effb1cfa7f.mp4
)

### Description

When editing a label, if a FontFamily or Attribute is added or removed from one that doesn't already have one, resetting it back to its original state will cause it to lose any initial styles it had.

### Steps to Reproduce

1. Create a basic template

[2021-01-13 19:22] #13071 closed

[2021-01-13 20:29] rachelkang commented on #7568
The following is a summary of the current behavior I am observing on XF 5.0.0.1874 for TabIndex, as per the "Tab order" page in this sample (with default settings / no buttons activated):
| Platform | Focus order | Keyboard tabbing | Misc |
|---------|--------------|-------------------|------|
| iOS | Right swiping to navigate the focus with VO seems to work properly. The focus order goes through

[2021-01-13 20:52] KungFuBrad opened #13395 "[Bug] AppIcons nor Storyboard (launchscreen) will show on iPhone 6S."
Greetings all!

I'm having an issue on a physical iPhone 6S device (running the latest 12.5 available to it). Neither the AppIcons nor the Launchscreen.storyboard file (all set up properly in the Info.plist file) will show on my device. I am using Hot Reload to deploy the app to the target device.

Both the AppIcons and the Launch storyboard all work fine across all of the multiple simulators I've

[2021-01-13 20:52] KungFuBrad opened #13396 "[Bug]"
Greetings all!

I'm having an issue on a physical iPhone 6S device (running the latest 12.5 available to it). Neither the AppIcons nor the Launchscreen.storyboard file (all set up properly in the Info.plist file) will show on my device. I am using Hot Reload to deploy the app to the target device.

Both the AppIcons and the Launch storyboard all work fine across all of the multiple simulators I've

[2021-01-13 21:11] mknotzer commented on #13236
Android crashes now already at the first call.

changing
await oView.ScaleTo(0.2, 0);
to
await oView.ScaleTo(0.2, 10);

fixed it.

btw: the View was set to Invisible = False

[2021-01-13 21:38] eddieyanez commented on #13310
Not that I’m aware of, sadly.

[2021-01-13 21:41] KungFuBrad commented on #13396
Apologies, this is a dupe of 13395; not sure how/why it sent in the form twice.

[2021-01-13 21:41] #13396 closed

[2021-01-13 21:51] stepkillah commented on #13371
Experienced very similar behavior when putting `Entry` in `CollectionView.Header` which then can't be focused if `EmptyView` set not from inline.

[2021-01-13 22:02] CartBlanche opened #13397 "[Bug] Using a custom font in Mac app causes crash. "fontDescriptor cannot be null" error."
### Description

Call to `descriptor.FontDescriptorWithSymbolicTraits(traits)` returns null (even though the Apple docs don't mention it AppKit, but do mention it for UIKit),
So when this line is executed, it throws a `frontDescriptor cannot be null` error and crashes the app.
https://github.com/xamarin/Xamarin.Forms/blob/80a4dbfb1cd897f478c38d0aafa6a5d67940d2f3/Xamarin.Forms.Platform.MacOS/Extens

[2021-01-13 22:40] rookiejava commented on #12802
@dhindrik Yes. However, I'm not sure but I know t it is being reviewed internally. I am also hoping to support .NET and Xamarin on more Tizen devices. I will tell you again if there is a new update.

@Redth Yes. :-)

[2021-01-13 22:40] #12802 closed

[2021-01-13 23:09] Tommigun1980 commented on #13371
Same issue as https://github.com/xamarin/Xamarin.Forms/issues/13357 I think.

[2021-01-13 23:50] IMLizKing opened #13398 "[Bug] Image in ScrollView causes content to truncate at end on Android"
### Description

I find that if I put an Image into a stacklayout contained in a scrollview (within a ContentPage) that the bottom of the scrollview content will be truncated and only show the background color of the scrollview in the space that should display the content.  Not co-incidentally, the amount of blank space equals the height of the rendered image.  And if you request a height for the

[2021-01-14 01:37] mcguu commented on #11828
quickly please

[2021-01-14 02:47] konglu2016 commented on #12141
I encountered the same problem, is there a solution now

[2021-01-14 05:09] gabsterdev1 commented on #13303
@developer9969  hi there we have exactly the same issue .Any news or workaround?

@PureWeen @hartez any suggestions?

many thanks

[2021-01-14 07:25] PatrickRyder commented on #12737
I still haven't had an opportunity to test this but am certain the fix will work.

Thank you!

[2021-01-14 08:07] RobDaytona commented on #10627
Hello??

[2021-01-14 08:14] Softtinn commented on #1698
Any news on this one?

[2021-01-14 08:27] MarcoSal opened #13399 "[Bug]"
### Description
I have an error that only showed up today. until yesterday it worked fine. in the meantime i have updated visual studio.
xamarin forms is 5.0
the error reports:
Java.Lang.IllegalStateException: 'The specified child already has a parent. You must call removeView () on the child's parent first. '

(https://forums.xamarin.com/discussion/comment/428174#Comment_428174)

I have a scrollv

[2021-01-14 09:52] ivanv-microsoft commented on #12990
My team started having the same issue this week..
Installing Preview version of VS (16.9.0) seems to help.
Using above property (EnableTypeReflection) seems to help too (even though I still get "errors" in output during runtime, but debugging continues unhindered)

[2021-01-14 11:06] roubachof opened #13400 "[Enhancement] CornerRadius type consistency through controls"
## Summary
`CornerRadius` is an `int` on `Button` and `ImageButton`, but a `float` on `Frame`.
When creating style, I have to create two value in my resource dictionary:

[code]

Which is quite annoying x)

## API Changes

Pick one type :)

[2021-01-14 11:12] stepkillah commented on #13361
Experiencing the same issue when collection changes rapidly, basically - data in `ItemSource` do not correspond actual CollectionView views

[2021-01-14 11:12] AntonIOIOIO commented on #13363
But this makes sense right? If you scroll on a collectionview it should not fire the button cause you are scrolling instead?

[2021-01-14 11:16] zoli13 commented on #13363
@AntonIOIOIO
No, this is not correct.
First of all, button Released should be called when the button touch is released, **regardless** what caused it.
Second, even on a collectionview, you don't need to scroll, e.g.: you can move your finger horizontal out of the button, while the collectionview if vertical, so no scroll happens (at least on the GUI).

[2021-01-14 12:47] GalaxiaGuy commented on #13400
And `BoxView` uses the `CornerRadius` type which lets you specify each corner individually (as `double`s).

I don't think this can be changed without being a breaking change for someone.

Hopefully it will be improved in Maui.

[2021-01-14 13:03] jsuarezruiz commented on #13399
@MarcoSal Could you attach a sample where reproduce the issue?, could you share the exception trace?. I have done a quick test, but cannot reproduce the issue.

![issue13399](https://user-images.githubusercontent.com/6755973/104594296-3f67ea00-5671-11eb-8cb2-69c1a88e83db.gif)

[2021-01-14 15:22] mkanyo opened #13403 "[Bug] Shell.SearchHandler shows items with full screen height on Android"
### Description

Running the latest version of Xamarin Forms 5.0.0.1874 the Shell.SearchHandler shows search result items with full screen height on Android.

### Steps to Reproduce

The issue can currently be observed by running the Xamarin Form Sample Xaminals.

This is the repo:
https://github.com/xamarin/xamarin-forms-samples/tree/master/UserInterface/Xaminals

In the MoneysPage.xaml
The Searc

[2021-01-14 15:46] jsuarezruiz commented on #13337
@sjordanGSS Thanks for the attached sample!. The issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/13404

[2021-01-14 16:56] KrzDyner opened #13405 "[Bug] Setting ListView.GroupHeaderTemplate Label FontSize to 14 renders larger font size on UWP"
### Description

If you set the FontSize of a label inside ListView.GroupHeaderTemplate to 14, when you deploy the solution the label will be much larger. Seems more like size 18-20.
From investigating it looks like other FontSizes are unaffected. 13 and 15 have the expected outcomes.

### Steps to Reproduce

1. Create a Grouped Listview with GroupHeaderTemplates and ItemTemplates
2. Set the FontS

[2021-01-14 17:09] Srikanth540-L commented on #6227
@samhouts I have created the bug for the same please refer the below link
https://github.com/xamarin/Xamarin.Forms/issues/13390

[2021-01-14 17:38] mknotzer commented on #13236
Your project crashes at the second call, testet with Android Emulator Pixel 2 Pie (API 28)

[2021-01-14 17:47] samt1925 opened #13406 "[Enhancement] Why RequestedThemeChanged only works on OSAppTheme.Unspecified?"
## Summary

Why RequestedThemeChanged only works on OSAppTheme.Unspecified?
## API Changes

Need to catch all theme change request.

[2021-01-14 21:26] benas1989 opened #13407 "Path + Shell problem[Bug]"
I update to xamarin forms 5.0.0.1874.
I added a path and shell according to the example.
But when I walk between pages there is a problem. For the first time, everything is done correctly. Pressing a second time does not display everything.

Sorry for the bad English. : D
Maybe you can somehow understand what I write here.

### Description

### Steps to Reproduce

1. Create new project
2. Paste co

[2021-01-14 21:42] themronion commented on #13395
@KungFuBrad its normal for iOS Hot Restart. Please read about it's limitations: not showing an icon and launchscreen is one of them. @samhouts Can be closed

[2021-01-14 21:55] themronion commented on #13395
What about just rebuilding the project instead of Hot Reload?

[2021-01-14 21:56] orimslala commented on #11656
Equally hitting this problem. I have round Ellipses in my main page. Noticed it when i integrated the AppShell with tab bar navigation into my app. The issues pops up when i navigate between tabs. once i return back to my main page, the ellipses have already disappeared :-(

[2021-01-14 21:59] davidortinau opened #13408 "[Bug] Gesture prevents multiple selection in CollectionView"
### Description

I have a ColV with multiple selection working great. When I add any kind of gesture to my ItemTemplate views, the selection ceases to work.

Initially I thought it was because of the long press TouchEffect in the XCT, however I just tried a simple TapGesture (double tap too) and this is consistently broken.

Related report with video https://github.com/xamarin/XamarinCommunityTool

[2021-01-14 22:16] drjhkom commented on #8978
I'm new to Xamarin, and would have really liked to have seen how you can "easily place the IndicatorView where I want"!

[2021-01-14 22:24] vincentwx opened #13409 "[Bug] Editor control rendered incorrectly with material visual in 5.0"
### Description
When the Editor control has no text in it, the PlaceHolder is shown in both floating hint area and text input area. Xamarin.Forms 4.8 does not have this problem. This problem is  specific to the new stable 5.0 release.
### Steps to Reproduce
Just drop a line on a page like the one below you will see it on the screen. (Tested on Android)

Editor Placeholder="Remark" PlaceholderColor

[2021-01-14 22:36] KungFuBrad commented on #13395
I'm not so sure it's just Hot Reload ... I have cleaned the project. Disconnected the device, restarted the device, deleted the BIN and OBJ folders from both the main project and the iOS project .. even fully reset the phone (Erase all Content and Settings) and still only the default icons and loading screen is shown on the physical device.

[2021-01-14 22:39] brentedwards commented on #12555
I see a similar issue with CollectionView. We have implemented forever scroll functionality in our app. When the user hits the bottom of the items loaded, the next chunk is loaded. If I scroll to the bottom fast enough, I can see the next record added. However, once I scroll, the CollectionView jumps up the items and it looks as though the app is loading duplicate records. As the CollectionView ge

[2021-01-14 22:54] programmation commented on #13400
Breaking changes are not a problem when they bring improvements. I'm also optimistic that in this case a `TypeConverter` would enable a smooth transition from the current multiple-type system to one single `CornerRadius` type.

[2021-01-14 23:01] kmcclive commented on #10101
I can confirm that this is still a problem on 5.0.0.1874.

[2021-01-14 23:07] danieeis commented on #11566
In general aspects it is difficult to apply styles to an html label, since it does not accept font family from html, font-size and a large number of other styles to the labels. You have to guess which labels work to apply such a thing. It would discard completely to use label html to apply styles to it.

[2021-01-14 23:13] linnkrb opened #13410 "[Bug] Keyboard jumps to default Keyboard in SearchBar on hitting Space button (on iPad)"
### Description
If i add an SearchBar to my project, whenever I hit space the keyboard changes back to the default keyboard.

For example I put   <SearchBar Keyboard="Numeric"></SearchBar>
As a user I usually search for numbers, but this time I want to search for a name instead: "John Doe". I change the keyboard to alpha numeric (since my default is numeric), but after I hit space after John, my k

[2021-01-14 23:27] vtkachen111 commented on #12193
I am actually still finding this issue on XF 5.0.0.1874 on both ios and android... no matter what content i put within carouselview... swipe right twice, swipe back once, blank screen, then 2 more rights and another blank screen.

[2021-01-15 02:32] Tommigun1980 commented on #12555
Same happens when items are deleted.

[2021-01-15 03:20] beeradmoore commented on #13258
Came to report the same issue, did not realise the issue is setting BackgroundColor. I'll go try fix that as a workaround for me.

As for this issue, I was able to replicate the issue by changing the Push_Modal method from the original sample to look like so

[code]

Main difference from @oleksandrtretiak comment above is that you don't need to use NavigationPage in the PushModal.

I have updated

[2021-01-15 03:44] vtkachen111 opened #13411 "[Bug] IOS CarouselView ScrollTo(index) not scrolling"
### Description
Calling ScrollTo on carouselview in ios to get it to scroll to an index doesn't do anything.
### Steps to Reproduce

1. Create a carouselview with items.
2. Call ScrollTo(whatever index)

### Expected Behavior
Would display image at desired index
### Actual Behavior
Displays the first image
### Basic Information

- Version with issue: Xamarin 5.0.0.1874
- Last known good version: n

[2021-01-15 03:49] vtkachen111 opened #13412 "[Bug] CarouselView Loop=True does not render some items"
### Description
When having more than 1 item in carouselview with loop set to on, going back and fourth doesn't render items often
### Steps to Reproduce

1. Create carouselview with loop=true and with more than 1 item
2. Swipe right twice, swipe left (you should see a non-rendered view), swipe right twice again and will be another blank view

### Expected Behavior
For all views to render normally

[2021-01-15 07:20] Ben-FarSoft opened #13413 "[Bug] Release build crashes on Android 4.4 KitKat"
### Description

Building an brand new app to new emulated Android 4.4 device crashes if in Release mode, but works in Debug mode. Further testing has showed that it has got to do with the embedded runtime. If in Release mode I tick the Use Shared Runtime and make sure the Mono Shared Runtime is installed then I can get it to work.

### Steps to Reproduce

1. Create new blank Mobile app(Xamarin.Fo

[2021-01-15 08:35] BYES-PA commented on #13303
This happens with my project as well

[2021-01-15 09:25] jsuarezruiz commented on #13407
@benas1989 Thanks for the feedback. This issue will be fix by https://github.com/xamarin/Xamarin.Forms/pull/13284/

[2021-01-15 10:46] #12309 closed

[2021-01-15 10:46] #13305 closed

[2021-01-15 10:50] #13310 closed

[2021-01-15 10:50] #13306 closed

[2021-01-15 10:58] #12245 closed

[2021-01-15 10:58] #12911 closed

[2021-01-15 10:58] #13225 closed

[2021-01-15 10:58] #11656 closed

[2021-01-15 10:58] #11924 closed

[2021-01-15 10:58] #12521 closed

[2021-01-15 10:58] #12844 closed

[2021-01-15 10:58] #13096 closed

[2021-01-15 10:58] #13164 closed

[2021-01-15 10:58] #13407 closed

[2021-01-15 11:03] Chozarajan opened #13415 "Dynamic change of localization not reflected instantly"
I have changed the localization dynamically, but it was not reflected instantly in the app.

Platform: Currently checked on Android
Version: Xamarin Forms Latest

Replication step:
1. Run the attached sample
2. Press Click event in Android
3. Now change the localization on another button click
4. But the pages were not changed instantly

Sample Link: [LocalizationSample.zip](https://github.com/xam

[2021-01-15 11:16] #11705 closed

[2021-01-15 11:46] themronion commented on #13395
Ok. Are u sure you are using exactly Hot Reload (not Hot Restart)?

[2021-01-15 11:51] #10473 closed

[2021-01-15 12:05] KonstantinKellermann opened #13416 "Material-UI bug on several ui controls"
### Description
We found some ui-issues using Xamarin.Forms 5.0.0.1874 and Xamarin.Forms.Visual.Material 5.0.0.1874.
After updating the nuget packages the ui was broken because buttons looked like they were disabled even they were not.

The backgroundcolor of DatePickers, TimePickers, Entries, Editors and Pickers is changing to white (or black if you use the dark theme) if they are disabled and yo

[2021-01-15 12:40] developer9969 commented on #13303
Hi there we love xamarin and we would like to upgrade to the latest , we totally get it that you are very busy as there many bugs raised daily but I think the inability to upgrade to the latest code is quite important. Could someone from the Xamarin team reply to this thread?

[2021-01-15 12:47] InquisitorJax commented on #9520
Critical Issue - still not getting attention? It's been almost a year now.
@PureWeen @samhouts  pretty please raise the priority on this guy.

[2021-01-15 13:17] themronion commented on #13415
In order for it to work u need to reload the page

[2021-01-15 13:21] themronion commented on #13413
In order for Xamarin to work on Android 4.4 u need to do some additional steps. Some small magic. I reccomend to develop apps setting the minimum version to 5.0 and forget about 4.4, since in the future exactly 5.0 will be the minumum supported version by MAUI and Forms

[2021-01-15 13:25] themronion commented on #13389
same as - https://github.com/xamarin/Xamarin.Forms/issues/13415

[2021-01-15 14:15] Ben-FarSoft commented on #13413
That is a problem, as we are forced to support 4.4. Some of the hardware we need to support with our app still comes only with 4.4.

[2021-01-15 14:25] raz0r777 commented on #13291
I have the same problem. Any solution?

[2021-01-15 14:35] Saturn commented on #1944
I will say this is also an annoyance for us too. I was hoping it may be a very much desired feature so it could have been prioritised more. But, not sure where it stands at the moment.

[2021-01-15 15:02] Maxima078 opened #13417 "Change background brush in trigger does not work"
### Description
When current background brush is a `LinearGradientBrush`, a trigger cannot update background to `SolidColorBrush`. Using a setter to update `BackgroundColor` does not work either.

### Steps to Reproduce
- Set a frame background to a `LinearGradientBrush`
- Add a trigger with a setter updating background to a  `SolidColorBrush`
- Make your trigger trigger

### Actual Behavior
Backg

[2021-01-15 15:04] KungFuBrad commented on #13395
OK, I can confirm that I WAS using Host Restart (under the Preview settings). I'm rebooting everything now (after deselecting Hot Restart). I will ensure that I'm connected to a Mac, using Hot Reload (under Xamarin settings), will try again and report back. Thanks!

[2021-01-15 15:20] KPixel commented on #11880
@samhouts Can you please triage this issue?

[2021-01-15 15:25] HeikkiDev opened #13418 "[Bug] Issue changing visibility of any control when using ViewRenderer on 5.0"
### Description
I faced an issue where hidden controls that becomes visible as response to a user action does not became visible anymore after updating from 4.8 to 5.0.0.1539-pre2 and above.
If I remove my custom ViewRenderers for iOS and Androids the bug is gone.

### Steps to Reproduce

1. Write own ViewRenderer for any purpose on Android and iOS.
2. Have a control that changes his visibility af

[2021-01-15 15:35] PureWeen commented on #13303
@developer9969 sorry if I've missed some steps but what do I do with your sample to reproduce? I downloaded it and it's running fine for me. I also removed all of the support and androidx packages and it still ran fine for me.

@haiduong741 @gabsterdev1 @BYES-PA do you have repros?

[2021-01-15 15:44] MasterEmit commented on #8850
Same problem on our side but Android:

[code]

[2021-01-15 15:47] PureWeen commented on #13303
If you disable aapt2 in the project properties does that fix the issue for you?

![image](https://user-images.githubusercontent.com/5375137/104747868-a55a7d00-5716-11eb-9dce-6eb4977b2c7a.png)

[2021-01-15 15:54] aperel66 commented on #13345
Hi, EZ.

Quick question, my VS keeps disconnecting from my Mac every 10 minutes or
so. Is there a better way to connect without using SSH over the network? I
cannot identify the problem, so is there a way to connect like via a usb
port?

On Tue, Jan 12, 2021 at 5:40 PM E.Z. Hart <notifications@github.com> wrote:

--
Alex Perelberg

aperel6 <aperel@optonline.net>6@gmail.com
(203) 858-1514

[2021-01-15 16:02] PureWeen commented on #13303
@haiduong741 @gabsterdev1 @BYES-PA @developer9969 @dphamsafetrust

- Can you make sure all your projects have the same Xamarin.Forms installed?
- I would uninstall any support/androidx libraries you have installed and just let them transitively come from forms
- Can you try rebuilding the project?
- If rebuilding doesn't work can you close out of VS. Delete the bin/obj directories. Re-open the pro

[2021-01-15 16:17] AdamDiament commented on #9228
Did anyone get anywhere here? I am having the same thing when turning the internet connection off and on again. Xamarin Forms 5, Android.

[2021-01-15 16:19] #13374 closed

[2021-01-15 16:24] themronion commented on #13395
Not showing icons and launchscreen is one of the limitations of Hot Restart, so issue can be closed i guess

[2021-01-15 16:30] themronion commented on #13413
The choice is up to u) So, here are some hacks that i remember i did to make it launch. In Android project settings turn on APPT2, then edit your .csproj file and add this line -
[code]
Then in the OnCreate method -
[code]
Dunno if its the right think to do and if all the steps are required, but it did the trick

[2021-01-15 16:35] MarcoSal commented on #13399
when I delete an element it generates the error, except in case it is the last element ...

[2021-01-15 16:48] johnn82 commented on #9018
I thing FFMPEG is not the way, due to a license problem when embedding it.

I think a better way would be the porting of these two libraries:

for iOS a nice import of  this would be nice!
https://github.com/rs/SDAVAssetExportSession

for Android a nice import of this would be nice!
https://github.com/natario1/Transcoder

[2021-01-15 17:01] Alex-Dobrynin opened #13419 "[Bug] A lot of empty space in the end of the list in CollectionView with GridLayout"
If i use many items in CollectionView with GridLayout there is a lot of empty space in the end of the list.

I have list of Xamarin.Forms.Colors

`public class ColorObject
    {
        public Color Color { get; set; }
    }`

`private void InitColors()
        {
            Colors.Clear();
            var colors = new List<ColorObject>();
            foreach (var field in typeof(Color).GetFields(

[2021-01-15 17:31] KungFuBrad commented on #13395
Or we could wait to ensure that is after I'm able to test.

[2021-01-15 17:35] Coding-BookMark commented on #13392
Hello how are you
 Please, what do I do now? Has the problem been solved or not?
Because the problem is still in my Listview

[2021-01-15 17:54] Devaraj-Sekar commented on #13389
Hi @themronion ,

Thank you for the update.

Please let us know if any improvement on the reported issue.

Regards,
Devaraj S

[2021-01-15 18:04] KungFuBrad commented on #13395
OK, for those facing a similar problem, it does indeed look like a limitation via Hot Restart.

And for those actually looking to read the documentation (as I was) here is a link:
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/deploy-test/hot-restart

Please go ahead and close this ticket.

[2021-01-15 18:04] #13395 closed

[2021-01-15 18:05] jsuarezruiz commented on #13417
@Maxima078 On what platform/s does it happen? Could you attach a small example where to reproduce the issue?
I did a quick test, but cannot reproduce the issue:
![issue13417](https://user-images.githubusercontent.com/6755973/104762386-8b478b80-5764-11eb-92ba-2a45be1cdda7.gif)

[2021-01-15 18:27] #11237 closed

[2021-01-15 18:27] #13328 closed

[2021-01-15 18:29] #13154 closed

[2021-01-15 18:44] liammc44 opened #13420 "[Bug] Shell.TitleView broken in v5.0.0.1874 when using multiple Views"
### Description
Functionality has been broken inside the Shell.TitleView for version 5.0.0.1874.

I have a Grid within the Shell.TitleView for a ContentPage. Within that Grid is an ImageButton and a Label.
When using version 4.8.0.1451, the ImageButton and Label show perfectly fine.
When I update to version 5.0.0.1874, the ImageButton and Label **no longer show**.

Again, this should work fine (as

[2021-01-15 18:52] tbrentlong opened #13421 "iOS project unable to find main project dll"
I'm not able to debug my app.  When I run it, all I get is a blank screen and the following application output.  It says it is not able to find the main project.  Any help would be appreciated. Thanks in advance.

  Launched application 'com.DragonInvestor.Mobile' on 'iPhone' with pid 1064
2021-01-15 12:07:57.581 DragonInvestor.Mobile.iOS[1064:552030] Xamarin.iOS: Successfully received USB connect

[2021-01-15 19:45] themronion commented on #13389
@Devaraj-Sekar https://github.com/xamarin/Xamarin.Forms/issues/13415#issuecomment-760936381

[2021-01-15 20:20] RobertHolloway opened #13422 "[Bug] Location property no longer set via ShellNavigationState's Uri ctor"
### Description

Constructing a `ShellNavigationState` instance from a `Uri` would set its `Location` property in Xamarin Forms v4.8 (_via its internal `FullLocation` property_). This no longer occurs in v5.0, so the value is `null`.

### Steps to Reproduce

1. Create a new Xamarin Forms (_v5_) Mobile App Shell project.
2. In App's `ctor`, create two `ShellNavigationState` instances: one from a `U

[2021-01-15 21:33] rachelkang commented on #11039
Closing this issue as it seems to have been fixed in XF 4.8 :)

[2021-01-15 21:33] #11039 closed

[2021-01-15 21:39] Maxima078 commented on #13417
I have reproduced it on Android 10 with a physical device. Here is a repro:
[Sample1.zip](https://github.com/xamarin/Xamarin.Forms/files/5823039/Sample1.zip)

[2021-01-15 21:47] rachelkang commented on #8157
It appears that most of these issues were fixed in XF 4.8
The only remaining issue appears to the the one relating to HorizontalTextAlignment, which will be fixed by #13197

Tested against repro linked earlier in this thread https://github.com/xamarin/Xamarin.Forms/files/3760179/_8157.Repro.zip

[2021-01-15 21:53] Maxima078 commented on #13417
I've just tried with a simulator (Pixel 2 Android 9) and got the same result:
![Tq4J8bgAqD](https://user-images.githubusercontent.com/8363725/104782253-33208180-5784-11eb-9beb-89a4849c7b6f.gif)

[2021-01-16 01:22] haiduong741 commented on #13303
My Company's project:
![image](https://user-images.githubusercontent.com/37478492/104793161-e19fe300-57d3-11eb-9b48-fa07205a7f12.png)

[2021-01-16 01:32] haiduong741 commented on #13303
Enable aap2:
![image](https://user-images.githubusercontent.com/37478492/104793483-62131380-57d5-11eb-9842-9c0a4f1ba543.png)

[2021-01-16 01:35] haiduong741 commented on #13303
My project installed lastest:
![image](https://user-images.githubusercontent.com/37478492/104793563-c504aa80-57d5-11eb-9289-223df7653dba.png)

[2021-01-16 01:42] haiduong741 commented on #13303
When click error, this file is open (path: obj\Debug\110\lp\181\jl\res\layout\mtrl_calendar_month_navigation.xml):
![image](https://user-images.githubusercontent.com/37478492/104793830-a05d0280-57d6-11eb-8c1c-5ae02f941c09.png)

[2021-01-16 05:48] BretJohnson commented on #13355
@xshiiiidev You are using Visual Studio for Windows (not Mac), right? What version? Thanks.

[2021-01-16 06:41] xshiiiidev commented on #13355
@BretJohnson

Yup I am using Windows 10, I have the latest Version 16.8.4

[2021-01-16 08:08] divyesh08 opened #13425 "[Bug] CarouselView not working properly after upgrading to Xamarin.Forms 5.0.0.1874"
### I have upgraded Xamarin.Forms nuget from version 4.8.0.1821 to 5.0.0.1874. After that I have noticed a bug in CarouselView. The issue is it shows scroll for single item only, it works fine with items>1 but with single item it not works like before.

Is there any way or work around for this? I have not got any fix yet. But I can put a condition that until I have items>1 in list I will show a di

[2021-01-16 09:23] divyesh008 opened #13426 "[Bug] CarouselView not working properly after upgrading to Xamarin.Forms 5.0.0.1874"
### I have upgraded Xamarin.Forms nuget from version 4.8.0.1821 to 5.0.0.1874. After that I have noticed a bug in CarouselView. The issue is it shows scroll for single item only, it works fine with items>1 but with single item it not works like before.

Is there any way or work around for this? I have not got any fix yet. But I can put a condition that until I have items>1 in list I will show a di

[2021-01-16 09:23] divyesh08 commented on #13425
Moved to: https://github.com/xamarin/Xamarin.Forms/issues/13426

[2021-01-16 09:23] #13425 closed

[2021-01-16 09:51] developer9969 commented on #13303
@PureWeen  thank you for your reply. I kind of dont understand how my repro proj just works for you.
As soon as you download and build do you get the error?

**See below again my repo and logs.**

1. I have the latest XForms for all projects
2. I have the latest Android sdks and tools installed
3. I have removed all the android support/AndroidX library from this repro proj and only installed (Xama

[2021-01-16 10:24] developer9969 commented on #13303
@PureWeen  see below video is 5 mins but you can skip as you see fit

1. Run repro with Xamarin forms 4.5.8.1560 all works
2. Updated to  5.0.0.1874 Build fail
3. Downgraded to 4.5.8.1560 all works
[ReproXF5Video.zip](https://github.com/xamarin/Xamarin.Forms/files/5824193/ReproXF5Video.zip)

[2021-01-16 11:11] divyesh008 commented on #13426
I have got the solution, just need to set **Loop = False**

[2021-01-16 11:12] divyesh008 commented on #13426
I have got the solution, just need to set **Loop = False**

[2021-01-16 11:17] mleviathan opened #13427 "[Bug] iOS Solution pushing pages before old content disappears"
### Description
Hello everyone, I already opened a question on StackOverflow but still couldn't get an answer.
I got a problem with my application, developed using Xamarin.Forms 5.0.0.1874 (but error was present even before updating the NuGet to this version).
When pushing a new page using
await App.Current.MainPage.Navigation.PushAsync(new Views.SessionPage());
the content of present page is not

[2021-01-16 11:41] divyesh008 commented on #13426
.

[2021-01-16 14:57] liammc44 commented on #13420
Workaround - the **temporary fix** is to downgrade back to Xamarin.Forms v4.8.0.1451, but obviously the issue still needs fixed so that I can eventually use 5.0

[2021-01-16 15:47] GalaxiaGuy opened #13428 "[Enhancement] Support for attached properties that have collection values"
## Summary
I would like to be able to easily create attached properties with collection values that can be easily used in XAML, ideally with access to the element's binding context and ancestry.

This may already be possible, but I've tried quite a bit and always face problems.

## API Changes

Make the following sort of thing possible.

_Note the `Binding` that implicitly uses the `BindingContext

[2021-01-16 15:57] GalaxiaGuy commented on #13415
To add more detail to what @themronion said, you are setting your localized text using `x:Static` which just reads the value once when the page is created.

XamarinCommunityToolkit includes a Translate extensions that lets you specify a ResourceManager and provides text via binding which can be made to update when the culture changes.

https://github.com/xamarin/XamarinCommunityToolkit

[2021-01-16 16:03] GalaxiaGuy commented on #13427
That is the default native iOS transition, and has been the default Forms uses on iOS forever. It looks odd in this case because your pages are transparent.

You can disable the transition completely by using
`await App.Current.MainPage.Navigation.PushAsync(new Views.SessionPage(), false);`

[2021-01-16 17:37] PureWeen commented on #13420
Fixed here
https://github.com/xamarin/Xamarin.Forms/pull/13319

You can test via the nightlies
https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

[2021-01-16 17:37] #13420 closed

[2021-01-16 17:49] PureWeen commented on #13362
@transis2 can you post your AppShell file here? And/or any customizations/styles/etc... that you apply?

[2021-01-16 18:11] neckerblue opened #13429 "[Bug]"
### Description
*Using Mobile App (Xamarin.Forms) template, all defaults, nothing touched*

[iOS] ObservableCollection.Add("some_string") severe performance hit after updating from Xamarin.Forms 4.8.0.1451 to Xamarin.Forms 5.0.0.1874 & Xamarin.Essentials 1.5.3.2 to Xamarin.Essentials 1.6.0

[Android] No change in performance.
### Steps to Reproduce

1. Create New Project (VS2019 16.8.4 stable, .Ne

[2021-01-16 21:25] maxkoshevoi commented on #12851
Hi, are there any news about this incorrect exception?  It's still reported with latest Visual Studio (16.8.4) and Xamarin.Forms (5.0.0.1874).

[2021-01-16 22:05] mariusmuntean opened #13430 "[Bug]"
### Description
The transform (e.g. Scale) of a VisualElement does not apply to its Clip geometry on Android.

### Steps to Reproduce

1. Create a VisualElement
2. Change Scale to some non-default value
3. Add an EllipseGeometry for clipping

### Expected Behavior
The VisualElement is clipped and then scaled.

### Actual Behavior
The VisualElement is scaled and then clipped at the wrong coordinate

[2021-01-16 23:40] vg12345 opened #13431 "[Bug] iOS: items reorder in UICollectionView is stuck under Xamarin Forms 5.0.0.1874"
iOS: items reorder in UICollectionView is stuck immediately under Xamarin Forms 5.0.0.1874 in function
    **UICollectionView.UpdateInteractiveMovement**

Works better under older Xamarin Forms version (4.8) but stucks after 10-20 seconds

Attached is the sample application.

Reproduction steps for Xamarin Forms 5.0.0.1874
1.	Press long on item until it become half-transparent
2.	Start drag
3.	App

[2021-01-17 03:56] davidortinau commented on #13426
By default `CarouselView` loops. This was the last feature implemented to take it from preview to stable release.

If I understand your description, I believe that's why you see this change in behavior now. How about setting the Loop to false when you have only 1 item?

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/carouselview/interaction

[2021-01-17 07:32] AndreasReitberger opened #13432 "[Bug] Shell Flyout is closing if touching the second half of the FlyoutFooterTemplate on Xamarin 5"
### Description
I'm using the Xamarin.Forms Version **5.0.0.1874** and implemented the `FlyoutFooterTemplate` in my AppShell.xaml file.
In this I have two buttons to either restart the timer or to reconnect to the websocket. Please see the code snippet below.

[code]
Once I click somewhere on the second half of the `FlyoutFooterTemplate`, the Flyout closes. This doesn't happen in the `FlyoutHeader

[2021-01-17 08:34] AndreasReitberger commented on #13432
Just tested it on **Android**, here the Fylout stays open. However the content behind reacts on the touch inputs.
So if a button is overlayed from the `FlyoutFooterTemplate` (from the currently shown page) the button is clickable throught the `FlyoutFooterTemplate`.

[2021-01-17 10:29] UweReisewitz commented on #13235
Today I have updated the sample application to Xamarin.Forms 5.0.0.1874.
The problem is still there .

[2021-01-17 10:30] UweReisewitz commented on #13234
Today I have updated the sample application to Xamarin.Forms 5.0.0.1874.
The problem is still there .

[2021-01-17 10:33] UweReisewitz commented on #13233
Today I have updated the sample application to Xamarin.Forms 5.0.0.1874.
The problem is still there.

[2021-01-17 10:38] divyesh008 commented on #13426
@davidortinau Thanks for replay. Yesterday I have tried by setting Loop="False" but it did not work. But then I have clean and rebuild all projects and now it works as I want.

[2021-01-17 10:38] #13426 closed

[2021-01-17 13:57] Sarthak261995 commented on #12341
It would be so great if we can get bindings of the iOS and Android SDK's and a proper integration document.This can be a revolutionary library who wants to support chat and video/voice calling in their Xamarin App.

[2021-01-17 14:01] Sarthak261995 commented on #12341
Check this Great work https://github.com/Laerdal/Xamarin.AzureCommunicationCalling though he might not be able to update binding on a regular interval

[2021-01-17 14:35] almirvuk commented on #13269
@hartez @samhouts I would like to take this one when the decision is made, will this go in Essentials or in XF. :)

[2021-01-17 20:40] demoh2019 commented on #9859
Are there any updates?

[2021-01-18 00:07] Tommigun1980 commented on #13361
Ah, sorry. I think it’s probably closely related though. There’s another issue reported (severe performance regression) in 5.0.0 unless a batch add is used, https://github.com/xamarin/Xamarin.Forms/issues/13429, that may also be closely related.

[2021-01-18 00:54] #13203 closed

[2021-01-18 05:25] MuneeshKumarG commented on #13249
@rachelkang : Provided workaround not works with our end. This keyboard freeze problem occurs only with TableView. And this issue reproduced with particular devices alone. Please check with mentioned device and let me know the solution.

[2021-01-18 05:44] Ganeshamoorthy10 commented on #13388
Hi Team,

Could you please check and provide a solution on this query?

[2021-01-18 06:17] BYES-PA commented on #13303
@PureWeen This worked for me. I get other errors now, but I have yet to determine if they are related to this issue.

[2021-01-18 06:43] Huaba93 commented on #3527
@mattleibow could you provide us with sample code of what we need to change in a custom renderer/android specific to fix this?

A fix is absolutely necessary, otherwise the "Image" feature cannot be used.

imho there are some related issues:
#6632
#9227

[2021-01-18 07:50] PaulsonMac opened #13435 "[Bug] How to exclude AdSupport Class from Xamarin.iOS.dll using Linker or other possible ways?"
### Description
AdSupport is included within the Xamarin.iOS.dll.

Is there a way to exclude AdSupport class from Xamarin.ios.dll as I don't want Firebase Analytics SDK to use it?

I saw a way to exclude assemblies in Xamarin.iOS Linker documentation section, but is it possible to exclude this AdSupport class of an assembly in Linker?

### Why I want to do this?

If the AdSupport is included in th

[2021-01-18 07:54] Ben-FarSoft commented on #13413
@themronion thanks for the help, but unfortunately that also did not work. Luckily there is only two devices I know of that this currently affects and i can use my work around on them for now.

FYI. the devices in question are Datalogic Falcon X4 mobile scanners. They are still sold new with Android 4.4 and no play store.

[2021-01-18 07:58] jm-parent commented on #6908
Same here with Xamarin 5.0 :'(

[2021-01-18 08:26] michaldivis commented on #10953
I've heard some news about this issue being resolved in XF 5.0. Haven't checked it out myself though.

[2021-01-18 09:09] chrisfoulds commented on #6908
Yep still there, Xamarin team care zero about performance and reliability, STOP adding new features and fix what you have made it has become a slow buggy pile of uselessness.
Your new platform you are making to replace forms will just drive people away to flutter etc

[2021-01-18 09:49] kumarc-123 commented on #13179
Even I am facing this issue. Using the latest version of Xamarin forms to this date.

[2021-01-18 10:12] AlfonChitoSalano opened #13436 "[Bug] Java.Lang.IllegalArgumentException in CarouselView adjusting PeekAreaInsets in OnSizeAllocated using XF 5.0"
### Description
The stacktrace is here
{Java.Lang.IllegalArgumentException: Invalid target position  at Java.Interop.JniEnvironment+InstanceMethods.CallVoidMethod (Java.Interop.JniObjectReference instance, Java.Interop.JniMethodInfo method, Java.Interop.JniArgumentValue* args) [0x0006e] in <89755ea61d9c4ae0a40ce90b872c9e2d>:0   at Java.Interop.JniPeerMembers+JniInstanceMethods.InvokeVirtualVoidMet

[2021-01-18 11:00] jsuarezruiz commented on #13430
@mariusmuntean Thanks for the attached sample. I have done tests in emulators with API Level 28, 29 and 30 and I cannot reproduce the issue. Am I missing something?
<img width="1887" alt="Captura de pantalla 2021-01-18 a las 11 58 48" src="https://user-images.githubusercontent.com/6755973/104907026-c1635600-5984-11eb-993d-bcedb21d4922.png">

[2021-01-18 11:17] DoubleL222 opened #13437 "[Bug] Changing ItemsLayout of CollectionView at runtime does not work on UWP"
### Description

Changing the ItemsLayout of CollectionView at runtime does not work properly on UWP. The collection is not affected after changing the ItemsLayout property. I tried setting it to:

- CollectionOne.ItemsLayout = new LinearItemsLayout(ItemsLayoutOrientation.Vertical);
    - Expected: Create a vertical, scrollable list
    - Actual: Same! (Works)
- CollectionOne.ItemsLayout = new Lin

[2021-01-18 11:20] daviddunson commented on #13265
Getting the same error, setting the Minimum Android version does not do anything to fix the issue.

[2021-01-18 11:55] jsuarezruiz commented on #13399
@MarcoSal Ah, now, I can reproduce the issue. Will be fixed by #13439

[2021-01-18 12:17] Alex-Dobrynin opened #13441 "[Bug] Android CarouselView crashes inside of ListView if Loop set to False"
I have CarouselView inside of DataTemplate of ListView to show images and etc.
If Loop property set to False it crashes when scroll ListView

Crash stack trace:

JniEnvironment+InstanceMethods.CallVoidMethod (Java.Interop.JniObjectReference instance, Java.Interop.JniMethodInfo method, Java.Interop.JniArgumentValue* args)
JniPeerMembers+JniInstanceMethods.InvokeVirtualVoidMethod (System.String enco

[2021-01-18 12:22] Alex-Dobrynin opened #13442 "[Enhancement] Disable looping of CarouselView when only 1 item"
Right now, if loop property set to true and I have only 1 item in CarouselView I can scroll it and this item will appear again and again.

My suggestion is to disable looping when only 1 item in CarouselView and loop set ot true

[2021-01-18 12:44] jsuarezruiz commented on #13392
@Coding-BookMark You issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/13402

[2021-01-18 12:49] PawKanarek commented on #13442
I think, that CaroulelView works good here, there might be case where developer/UI want to scroll just 1 item infinity times.
IMO you should set Loop property to false by yourself when you got just 1 item. That won't be hard.

[2021-01-18 12:52] jsuarezruiz commented on #13437
Can reproduce the issue.

[2021-01-18 13:51] jgoyvaerts opened #13443 "Outdated Microsoft Xamarin Support Policy page"
Not sure if this is the right place to make this issue, apologies in advance if I'm in the wrong spot.

When researching our potential transition from Xamarin Forms to .NET MAUI I came across this page:
https://dotnet.microsoft.com/platform/support/policy/xamarin, which describes how long Microsoft plans to support Xamarin versions. However, it looks like the page is outdated, seeing as the last X

[2021-01-18 14:07] AshishMantosh commented on #10801
What was workaround?

[2021-01-18 14:13] Huaba93 opened #13444 "[Bug] [Android]LayoutCompression not working inside a Frame"
### Description
When setting `CompressedLayout.IsHeadless="True"` to the child of a frame, the whole element with all its children gets removed. This seems to be an android only issue.

### Steps to Reproduce

1. Create a frame
2. Add a layout to the frames content
3. activate for this layout LayoutCompression

sample:
[code]

### Expected Behavior
Only the layout with LayoutCompression applied di

[2021-01-18 14:55] l0gaw commented on #13340
@themronion it worked. thank you.

[2021-01-18 15:06] #13340 closed

[2021-01-18 15:09] l0gaw commented on #13340
It seems the workaround of making a .sln shortcut and starting the project from it solved the problem. Although it's odd that I need to do this.

[2021-01-18 15:09] CocoCR300 commented on #13133
I am experiencing something similar with X.F 5.0.0.1874 on the same platform, when the collection binded to the `CarouselView.ItemsSource` property is empty, then the `CarouselView.CurrentItem` property is set to `null` and then the app crashes without an exception being thrown, this also happens setting `CurrentItem` to null manually.

[2021-01-18 15:23] sjorsmiltenburg commented on #3311
@Elashi do you have a workaround?

[2021-01-18 15:33] jsuarezruiz commented on #13441
I have tried to reproduce the issue but without success.
[Issue13441.zip](https://github.com/xamarin/Xamarin.Forms/files/5831119/Issue13441.zip)

Could you attach a sample where reproduce the issue?, what Xamarin.Forms version are you using?

[2021-01-18 15:51] developer9969 commented on #13303
@BYES-PA  hi there , did it work for you?did have same error as me?

[2021-01-18 16:06] Tommigun1980 commented on #13203
Hi @rmarinho. I tested with the latest nightly build of XF and this issue still happens. Is the fix not in the nightly build yet?

Thank you.

[2021-01-18 16:11] andrrrr commented on #9906
in Jan 2021, I'm still having this issue (updated to forms5.0.0)

[2021-01-18 16:11] Tommigun1980 commented on #13231
@hartez Pinging regarding this again. Is there any chance these issues could be fixed? The CollectionView is currently too buggy for production use as you can't add items to it, delete items from it and not scroll it properly. I was really hopeful a repro project would get these issues resolved but I am not getting any kind of replies here, so I'd appreciate any kind of timeline or communication r

[2021-01-18 16:21] PetrVobornik opened #13445 "Add ItemSelected event to CollectionView"
## Summary
CollectionView's existing event SelectionChanged is OK for touch screens and cursor. But, especially on UWP, users sometimes needs use a keyboard or a controller (on Xbox or TV) for selecting one concretely item from the list. User switch between items by arrow keys, tab, page up/down... (or by Thumbstick on controller) and on one of them press Enter (or A-button). Only in that moment t

[2021-01-18 16:49] AndreasReitberger commented on #12141
Same problem on my end with **Xamarin.Forms -Version 5.0.0.1874**. A small delay of 50 ms (await Task.Delay()) solved it in the simulator. However I'm not sure if this works on each device.

I'm calling `Shell.Current.GoToAsync` while the latest page in the NavigationStack is "OnDisappearing". Guess this is the problem.

[2021-01-18 16:57] PureWeen commented on #12141
@konglu2016 @AndreasReitberger this should be fixed with the next release of 5.0

You can test the nightlies here if you'd like
https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

If you're still having the issue please attach a repro

[2021-01-18 17:05] Alex-Dobrynin commented on #13441
Here is your test project, but edited template, check it, it crashes when scroll

[Edited13441.zip](https://github.com/xamarin/Xamarin.Forms/files/5831592/Edited13441.zip)

I`m using android 10, but i dont think this is the problem

[2021-01-18 17:07] PaulsonMac commented on #8797
@hartez , any update on this please?

[2021-01-18 17:10] Alex-Dobrynin commented on #12656
Unfortunately, I cannot put my code which reproduces this issue, coz its under NDA

[2021-01-18 17:16] JKennedy24 commented on #8928
Heres another memory leak in the collectionview if anyone is interrested:

If you use an ObservableCollection to bind, You'll hit the following:

https://github.com/xamarin/Xamarin.Forms/blob/80a4dbfb1cd897f478c38d0aafa6a5d67940d2f3/Xamarin.Forms.Platform.UAP/CollectionView/GroupableItemsViewRenderer.cs#L30

https://github.com/xamarin/Xamarin.Forms/blob/80a4dbfb1cd897f478c38d0aafa6a5d67940d2f3/Xam

[2021-01-18 17:25] CliffAgius commented on #8928
@JKennedy24 I have been looking at this over recent weeks but also trying a vanilla UPW project with an ObservableCollection so nothing Xamarin in the project the same Memory Leak is apparent.  There is various Forum Posts detailing this memory leak in the underlying UWP ListView, but I am trying to track it down and see if I can solve it.

However if you have a fix then please comment here or eve

[2021-01-18 18:35] mariusmuntean commented on #13430
@jsuarezruiz I'am seeing the issue on an emulator with API version 24.
Sorry for not mentioning it from the beginning.

[2021-01-18 18:38] CocoCR300 commented on #13296
This also affects UWP (https://github.com/xamarin/Xamarin.Forms/issues/13133#issuecomment-762308838):
1. Binding an empty collection to the `ItemsSource` property causes `CurrentItem` being set to `null` and then the app crashes.
2. In a collection with some items, clearing it and then scrolling causes the app to crash. The last element displayed remains there.

[2021-01-18 20:57] ChristopherMWood opened #13448 "Label text getting cut off when using accessibility font scaling"
### Description
When rendering a label in XAML with font scaling turned on, in some circumstances the label text gets cut off and does not render correctly. This makes accessibility features break certain UI layouts for users depending on the text in the label. Since font scaling is not available on simulators, this must be reproduced using the test project on a physical device. Exact reproduction

[2021-01-18 21:26] dmariogatto commented on #13203
@Tommigun1980 I think it was only just [merged ](https://github.com/xamarin/Xamarin.Forms/commit/d05bf4ac0383572526992e03bb4aafef4a24719b) into 5.0. So probably not in the nightly yet.

[2021-01-19 02:05] sisaacks commented on #11738
I also have the same issue, switching tabs is slow....I dont understand why.  I click on the tab and I can literally count to two before the tab loads

[2021-01-19 06:12] michaldivis commented on #10953
Still not working when using Hot Restart on Windows.
Xamarin.Forms 5.0.0.1874
Xamarin.Forms.Visual.Material 5.0.0.1874

[2021-01-19 07:34] BYES-PA commented on #13303
@developer9969 Yes, uninstalling any support/androidx library worked. Yes, I had exactly the same error.
I had another unrelated error (some xml error) which was fixed by setting the dex compiler from dx to d8.

[2021-01-19 07:52] shalinasanga commented on #13420
v4.8.0.1821 also good

[2021-01-19 08:06] NazariiShkatulaAP opened #13450 "[Bug] Random UWP crash with COMException"
### Description
AppCenter tracks hundreds of crashes on **production** with the same call stack that does not provide any information about the root cause of it:
[code]
From events that were tracked this crashed could happen any time: after a successful API request, after navigation, opening the main page, etc. All reports have a different set of events, so it should be happening randomly in the a

[2021-01-19 08:31] dphamsafetrust commented on #13303
@PureWeen this worked for me. Thank you so much.

[2021-01-19 08:34] jsuarezruiz commented on #13441
Thanks for the repro sample, now I can reproduce the issue. Thanks!.

[2021-01-19 08:46] sattasundar opened #13451 "[Bug] "java" exited with code 1. (MSB6006)"
### Description
/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.D8.targets(5,5): Error MSB6006: "java" exited with code 1. (MSB6006) (XamDemo.Android)
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue: Xamarin.Forms 5
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Andro

[2021-01-19 09:18] jsuarezruiz commented on #13451
@sattasundar  We will need more information to address the issue. Could you share traces or an example where reproduce the issue?

[2021-01-19 09:55] sattasundar commented on #13451
Have created new project and updated nuget to latest version.

And added this https://github.com/TobiasBuchholz/Plugin.Firebase plugin from nuget successfully.

After that when building solution getting this error.

[2021-01-19 10:47] TFreudi1 commented on #3885
Still no plans to join the pull request of cbs-cbt ? It is really a pain if you have a long list, and my App is working in UWP/iOS too, where it is working absolutely nice, thats why I won't change the whole App to a different control.

[2021-01-19 10:54] JKennedy24 commented on #8928
If you want to workaround all memory leaks on UWP for `CollectionView` you must first implement the customrenderer mentioned here: https://github.com/xamarin/Xamarin.Forms/issues/8928#issuecomment-567014376 (you will need to add the ExtendedCollectionView as another ExportRenderer)

and also use this extended version of CollectionView to get rid of memory leak mentioned here: https://github.com/xa

[2021-01-19 11:05] #13436 closed

[2021-01-19 11:21] ccant01 commented on #9792
Hi, I was wondering if there was any update/workarounds on this? I think I am having a similar issue in iOS only (Android works fine). When my FlowListView first appears I have a "Loading" FlowViewCell which is then replaced by a FlowViewCell (which has the actual data), when it is complete. The "Loading" cell is picked up by iOS voiceover but the actual "Data" viewcell is invisible to iOS voiceov

[2021-01-19 11:26] Qythyx commented on #9033
This is a super-ugly hack, but it solved the problem for me. Based on what @stefanbogaard86 suggested, I tried using Visual="Material", but the problem I ran into was that the DatePicker entry box didn't match the rest of the form. But, he's right that using Material did fix the issue with the picker rendering. So, I found this to get the best of both visuals:
[code]
The first picker is what we wa

[2021-01-19 11:28] xperseguers commented on #9792
Are you using v5.0 of Xamarin.Forms? Most if not all of my VoiceOver problems have finally vanished with v5.0. But I cannot use v5.0 since it's way too buggy at the moment, so I stick to v4.6 (v4.7 was buggy as well and due to this bug and other I was waiting for v5.0)

[2021-01-19 11:33] NPadrutt commented on #13373
This might be a stupid question and it is a bit OT, but is this the default ios behaviour that it first opens this little flyout
![image](https://user-images.githubusercontent.com/1764367/105029280-6d26a780-5a52-11eb-98f7-911b4f278908.png)

and you have to click that again to open the new picker layout?
![image](https://user-images.githubusercontent.com/1764367/105029301-7a439680-5a52-11eb-9666-fa

[2021-01-19 11:40] hrshitjain opened #13453 "[Bug] Getting Exception on making HTTPS request : System.Threading.Tasks.TaskCanceledException: Cannot access a disposed object. Object name: 'MobileAuthenticatedStream'"
We have a Xamarin Forms mobile application that is giving exception on iOS when trying to connect the API Backend.

System.Threading.Tasks.TaskCanceledException: Cannot access a disposed object. Object name: 'MobileAuthenticatedStream' on iPhone 11(iOS 14.2).

Cannot replicate but it happens when the device transitions from background to foreground and data are fetched through HTTPS calls to the b

[2021-01-19 11:44] xperseguers commented on #11445
@samhouts You removed this from the 5.0.0 milestone but the problem actually exists in v5.0 as released a few days ago. I'm now facing this problem after upgrading from v4.6 to v5.0.

[2021-01-19 11:46] Suplanus commented on #13373
No. Thats the bug 🐛

[2021-01-19 11:48] ccant01 commented on #9792
Thanks, it is good to know that v5.0 has helped with VoiceOver issues. I am currently on 4.8 Xamarin.Forms at the moment, I was considering moving to v5.0 to see if that would fix it but as the first stable release was out I was a bit wary just in case it was still a bit buggy. Though I might give v5.0 a go and roll back if it is appears to affect other parts of the app.

[2021-01-19 11:52] mduchev commented on #13373
Even though there is no "regression" label, like @Suplanus said, this is a regression from 4.8.0.1821.

[2021-01-19 11:53] Gmotagi commented on #13303
I Also have the same issue and tried everything in this thread with no luck.

**Error		failed linking file resources.	XxxxApp.Android
Error		'10dp' is incompatible with attribute horizontalOffset (attr) float [weak]
Error		'5dp' is incompatible with attribute verticalOffset (attr) float [weak]**

Running VS 16.8.4
Have set project min and target to Android 11, Api 30 - R
Deleted bin/obj multiple t

[2021-01-19 11:53] xperseguers commented on #9792
Have a look at this nasty bug I'm facing in v5.0. So far that's the only one I've found but it makes the app unusable right now: https://github.com/xamarin/Xamarin.Forms/issues/11445#issuecomment-762789864

[2021-01-19 11:54] Suplanus commented on #13373
It is still unverified... so we have to wait 😕

[2021-01-19 12:58] Rothanan commented on #6451
any news on this?

[2021-01-19 12:59] NPadrutt commented on #13373
ah, I see. Because the fix in the 4.8 version was that it opens the picker in the wheel style.

[2021-01-19 13:02] meJevin opened #13454 "[Bug] iOS device can't make requests via HttpClient to web service running on local area network"
### Description
When using Http client in a sample Xamarin.Forms project I am unable to make any kind of HTTP requests using HttpClient (NSUrlSession) on my iOS device (iPhone 11, iOS 14.3) to a web service running on my development computer. Both devices are connected to the same network. A web service is a ASP.NET Core Web API running NOT in IISExpress but via dotnet run, the launch settings for

[2021-01-19 13:24] MuneeshKumarG opened #13455 "[Bug] [Android] Unable to focus custom EditText in Xamarin ListView"
### Description

I have written custom view in Xamarin. And implemented the view design in renderer with EditText.

When I try to focus the EditText in ListView ItemTemplate, Keyboard not showing in android platform. In outside the ListView it works fine.

### Code snippet

[code]

[2021-01-19 13:59] SebastianSossna commented on #6261
You rather disable the behavoir by setting it disabled for the FlyoutItem, than for the Shellcontent. Like this:
[code]

[2021-01-19 14:17] xtomik opened #13456 "[Bug] WPF Application.Properties are shared between different applications"
### Description
Xamarin.Forms.Application.Properties are shared between applications.

it seems the issue depends on Xamarin.Forms version.

When the application has referenced Xamarin.Forms 5.0.0, then it's shared properties from other applications that references this version also.

When the application has referenced Xamarin.Forms 4.5.0/4.6.0, then it's shared properties from other applications

[2021-01-19 14:37] sattasundar commented on #13451
Issue resolved.

[2021-01-19 14:45] Pinox opened #13457 "[Bug] XF 5.0 breaks Native UWP winui:NavigationView"
Upgrading to XF 5.0 in my native UWP app breaks the winui:NavigationView.

I used UWP TemplateStudio to check results: This is navigationview with XF 4.8

![UWP_Menu1](https://user-images.githubusercontent.com/5297255/105049572-783eff00-5a75-11eb-8fed-a13cafd77009.png)

This is the navigationview in UWP when upgrading to XF 5.0

As you can see the NavigationView is displayed in a very compressed l

[2021-01-19 14:45] ichijikuibo opened #13458 "[Bug] CarouselView System.ArgumentOutOfRangeException when adding and removing at same time"
### Description

When both adding a removing to a ObservableCollection bound to a CarouselView the application crashes. I have tested it on a blank application too.

I spent that much time trying to determine exactly what was causing it I eventually downloaded the Xamarin.Forms source code to help locate the problem. The problem is in the Xamarin.Forms.Platform.Android.CarouselViewRender method Co

[2021-01-19 14:58] rachelkang commented on #13249
@MuneeshKumarG thanks for elaborating! I am seeing now that the behavior is more strange on the Nexus device mentioned. There seems to be a lag/delay on the keyboard hiding that takes especially long on the Nexus. What other devices have you experienced this with? And have you tried updating to XF 5.0?

Repro: [Issue13249.zip](https://github.com/xamarin/Xamarin.Forms/files/5836637/Issue13249.zip)

[2021-01-19 15:03] PureWeen commented on #13303
@developer9969  (and anyone else still having the issue) can you try to attach a binlog using the following tool?

https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools

You can also try to run

`msbuild <yourproject> /bl`

This will create a file called msbuild.binlog

If you don't feel comfortable attaching that file here then just email it to me
shneuvil

[2021-01-19 15:16] stesvis opened #13459 "[Bug] CollectionView Header and Empty view bug with Grid Layout"
I am using Xamarin.Forms 5.0 and the latest VS 2019.
I have an CollectionView with a `Header`:

[code]

And an `EmptyView`:

[code]

The problem is that when the EmptyView is visible, they display beside each other because I am using the GridLayout:

[code]

Now, I understand that Header, Empty View etc are actually considered collection view items and the grid layout applies to them too, but this

[2021-01-19 15:20] Tommigun1980 commented on #13203
@dmariogatto It was committed four days ago to the 5.0.0 branch. I tested with the latest nightly again and it's not fixed. I have provided two different repro cases for this issue. @rmarinho Is the fix supposed to be in the latest nightly?

Thank you.

[2021-01-19 15:24] Tommigun1980 commented on #13203
@dmariogatto It was committed four days ago to the 5.0.0 branch (https://github.com/xamarin/Xamarin.Forms/commit/c419953e86aa4de9a680439564abe69d60331ab5). I tested with the latest nightly again and it's not fixed. I have provided two different repro cases for this issue.

@rmarinho @hartez Is the fix supposed to be in the latest nightly?

Thank you.

[2021-01-19 15:32] Aculeo commented on #3228
For future readers arriving here, I guess it's been renamed. (Why is this not part of the documentation?)

[code]

This is how I got it working.

[2021-01-19 16:57] jsuarezruiz commented on #13315
Thanks for the detailed feedback @amura11. The issue will be fixed by #13460

<img width="372" alt="Captura de pantalla 2021-01-19 a las 17 55 22" src="https://user-images.githubusercontent.com/6755973/105067277-d375ef00-5a7f-11eb-9851-bfa12b1866af.png">

[2021-01-19 17:42] jrahma opened #13461 "Additional KeyboardFlags' Enum"
Hi,

Please add the following to the KeyboardFlags Enum:

ForceCapital / ForceUpper : to force all letters in CAPS.
ForceSmall / ForceLower : to force all letters in Small.

Thanks,
Jassim

[2021-01-19 18:15] javanjoel commented on #9013
I also had to implement the "scrolled" workaround. Please fix this Xamarin team!

[2021-01-19 18:21] ichijikuibo commented on #13458
That work around isn't very good it can still happen seems time it takes to free up the main thread affects it too.

[2021-01-19 18:41] meJevin opened #13463 "[Bug] [IMPORTANT] Hot Reload doesn't work with .Net Standard 2.1"
### Description
Hot Reload doesn't work with .Net Standard 2.1. Only works on .Net Standard 2.0

### Steps to Reproduce

1.  Create a Xamarin.Forms project
2.  Switch PCL to .Net Standard 2.1 from 2.0
3.  Try to use Hot Reload feature

### Expected Behavior
Hot reload works on .Net Standard 2.1

### Actual Behavior
Hot reload doesn't work on .Net Standard 2.1

### Basic Information

- Version with

[2021-01-19 18:41] meJevin commented on #13463
Yo, this is kinda big. Might wanna take a look at this.

[2021-01-19 19:35] hartez opened #13464 "[Bug] CollectionView group footers with grid layout on iOS not always fully spanning"
### Description

Example here: https://user-images.githubusercontent.com/5375137/104662039-86fd6e80-568f-11eb-947b-80f357542b70.png

### Steps to Reproduce

Control Gallery -> CollectionView Gallery -> Grouping Galleries -> Grouping, Grid

Scroll around a bit, some of the footers won't span.

### Expected Behavior

Footers should have the same width as the headers.

### Actual Behavior

They don't

[2021-01-19 20:09] aherrick commented on #6421
why can't we add a style to FontImageSource in 2021? 😭

[2021-01-19 20:26] dmariogatto commented on #11738
@sisaacks

Having a slight delay on the first-load of the tab is expected as they are loaded on demand. You may be able to decrease this time by reducing the view complexity, or the amount of work your view model is doing on first load.

However, this delay also occurs on subsequent tab loads, although not as bad, as only the native fragment is getting recreated (#8795). Personally, I've stopped u

[2021-01-19 20:31] sisaacks commented on #11738
@dmariogatto I currently dont have time to do that....maybe in the future....or maybe the conversion to .net MAUI will alleviate this issue.  And yes I was aware first time visit is slower than the subsequent visits due to how shell works.  It did seem odd though, it was still somewhat lagging even after initial visit.  Unfortunately with what my client wants....i have to get data on each tab load

[2021-01-19 22:29] RobotGizmo opened #13465 "[Bug] NullReferenceException when adding FlyoutItems in iOS"
### Description

**This line needs a null check:**
https://github.com/xamarin/Xamarin.Forms/blob/9090bcc44e499fcaa9959d39e574f132c802f047/Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs#L355

**Right now it's this:**
`SelectedViewController = renderer.ViewController;`

**I believe it should be this because the if statement above is ignoring the null:**
`SelectedViewController = renderer?

[2021-01-19 22:51] hartez commented on #13437
@jsuarezruiz The problems switching from linear to grid view can be solved by adding a call to `UpdateItemSize()` at the end of the `FindItemsWrapGrid()` method in FormsGridView.cs.

We have a UI test for this (Issue10482), but it works accidentally - because the images in the test grid are loaded asynchronously, they cause a cell resize which refreshes the grid. Basically the images are doing the

[2021-01-19 23:40] PureWeen commented on #13463
@BretJohnson  @StephaneDelcroix  ?

[2021-01-20 01:49] emersonk commented on #7741
Is anyone else still having this problem?

[2021-01-20 01:52] mfeingol commented on #7741
Yep, I saw this repro just the other day with latest VS and XF 5.0.

[2021-01-20 02:03] mcguu opened #13467 "[Bug] carouselView currentItem issue in android."
can not set current item correctly in carouselView

### Steps to Reproduce

1. create a carouselview
2. set the itemSource and the currentItem
3. check if it is right.

### Actual Behavior
in the example If I set below list[4] it is correct but if I set the currentItem to list[5] or list[6] it is not right.

[carouseltest.zip](https://github.com/xamarin/Xamarin.Forms/files/5839705/carouseltest.zip

[2021-01-20 02:08] hoangwy commented on #13366
Same here
![Simulator Screen Shot - iPhone 12 - 2021-01-19 at 18 07 03](https://user-images.githubusercontent.com/3329721/105117321-28663500-5a81-11eb-839d-47374294d3d3.png)
As you can see
The Wheel shows January 19, 2021 but the label shows 1/18/21

[2021-01-20 02:52] davidbuckleyni opened #13468 "[Bug] Xamrain forms Ios project not loading in windows 16..8.4 Community"
### Description

Previous to 16.8.4 even though we are not able to run the project on windows except with hot reload the project now fails to even load in visual studio. This was always possible in the forms project type even for basic file editing. Has this now been changed and must always be open on a mac?

### Steps to Reproduce

1. Create a new forms application with ios and andriod checked.
2

[2021-01-20 06:38] Suplanus opened #13469 "[Bug] 5.0.0 Service Release 1 not in Nuget.org or nightly-feed"
The new release [5.0.0 Service Release 1](https://github.com/xamarin/Xamarin.Forms/releases/tag/release-5.0.0-sr1) is not available on nuget.org or in the nightly-feed.

[2021-01-20 08:54] giuseppenovielli commented on #9033
@jfversluis  Fix this issue into Android's dark mode!! Visual="Material" as workaround

[2021-01-20 09:06] jsuarezruiz commented on #13437
The issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/13470

[2021-01-20 09:18] MuneeshKumarG commented on #13249
In below device also this reported problem reproduced.

Mi A3 (Android 10.0 - API 29).

[2021-01-20 09:28] Elashi commented on #3311
Yes, not to use `<Label.FormattedText>`.  I just use multiple `<Labe>`s instead now.
Instead of using one single big label with a lot of `<Span>`s in it , I use multiple `<Label>`s
Actually , `<Span>`s  have another problem.  If you add Tap gesture handler to it, it will not catch it if you tap on it, you have to tap bellow the actual `<Span>` to be handled correctly.
do NOT use `<Span>` !

[2021-01-20 09:45] UweReisewitz opened #13471 "[Enhancement] Support native Dialogs on Windows Desktop"
## Summary
Mobile devices use a single page, so it is no problem to show dialogs as areas within this page. On the other hand, in Windows Desktop one expects to see MessageBoxes or Custom Dialogs to show in a separate Window

## API Changes

The BuiltIn Dialogs and the Page (for custom dialogs) should have an option to show them in a separate Window, if possible.
Systems that only have a single pa

[2021-01-20 09:46] AGerchevProgress opened #13472 "[Bug] [iOS] App could not be build with Xcode 11 or lower using Xamarin.Forms 5.0"
### Description
I've faced an issue with Xamarin.Forms 5.0 where I cannot build the app with lower version than XCode 12 when the Linker behavior is set to "Link Framework SDKs Only". The bug can be reproduced after this change https://github.com/xamarin/Xamarin.Forms/commit/5a770f90f52c13ef90a18597d7e26ae90dffe207#diff-6fab6656b3d67e8eccc1127901acd8c91f7464b8f61e93af326e504814f334be has been made

[2021-01-20 09:47] amirvenus opened #13473 "[Enhancement] [iPadOS] Primary, Supplementary and Secondary pages inside UISplitViewController"
## Summary

On iPadOS 14, Apple has introduced a new concept:
https://developer.apple.com/documentation/uikit/uisplitviewcontroller?language=objc

## API Changes

FlyOutPage (aka MasterDetailPage)  needs to introduce 'Supplementary' view, so it will become

FlytOutPage -> FlyOut (also known as Primary in UISplitViewController)
**FlytOutPage -> Supplementary (also known as Supplementary in UISplitV

[2021-01-20 10:02] jvv-sk commented on #12300
I'm facing this exact same issue in our app. Lots of users complaining about the crashes

[2021-01-20 10:12] Kanimozhi1795 opened #13474 "[Bug] When load the control dynamically height not updated proper in Xamarin.Forms.UWP."
### Description

I have using Entry inside the Frame. The control visibility enabled dynamically. After that update the height for Entry, parent height updated but the Entry height not updated properly. Control getting cropped.

### Steps to Reproduce

1. Run the attached sample.
2. Click the switch in the sample.
3. Click the "Increase the Height" button.
4. Click the "Decrease the Height" button

[2021-01-20 11:22] #12848 closed

[2021-01-20 11:39] AndyNetDuma opened #13475 "[Bug] Radio button Selected only 1 way bindable"
### Description
Radio button selected is not bindable from vm to view.

### Steps to Reproduce

Sample reproduction project attached.

1. Create radio button
2. Bind radio button selected to vm
3. Set selected from vm

### Expected Behavior
Radio appears selected

### Actual Behavior
No radio items are selected, only verified on Android

### Basic Information

- Version with issue: 5.0.0.1874
- La

[2021-01-20 12:03] Suplanus commented on #5647
Also in 5.0.0

[2021-01-20 12:07] Domik234 commented on #10578
Putting the app into the background and then to foreground back works for me and separator is hidden, but switching between light and dark mode makes it visible.
* Tested on iPhone XS, iOS 14.2
* VS19 16.8.4
* Xamarin.iOS 14.8.0.3
* Xamarin.Forms 5.0.0.1874

[2021-01-20 12:32] demoh2019 commented on #6500
Update?

[2021-01-20 13:01] serbesthamit commented on #7751
Goto Android Project, then click on properties,
click on assemblyinfo.cs
[assembly: Application(UsesCleartextTraffic = true)]

https://forums.xamarin.com/discussion/164771/cleartext-http-traffic-not-permitted

[2021-01-20 16:00] GalaxiaGuy commented on #13428
This post covers a similar thing in WPF and UWP:

https://stackoverflow.com/questions/47471077/collection-type-attached-properties

[2021-01-20 16:07] AndreasReitberger opened #13476 "[Bug] TitleView is only visible after re-entering the page on iOS - Version 5.0.0.1905"
### Description
I updated to the latest stable version of Xamarin.Forms.
Now the `TitleView` content is only visible after re-entering the page. In other words, if the page is shown the first time, the `TitleView` is empty. If I navigate to another page via `Shell.GoToAsync()` and return, the `TitleView` is visible.

### Steps to Reproduce

1. Create a Shell app and add a few ShellItems and a PopU

[2021-01-20 16:34] AndreasReitberger commented on #13432
This seems to be fixed in the latest version as I can see so far.

[2021-01-20 16:37] AndreasReitberger commented on #12141
@PureWeen
Just tried the latest release, and this still happens.
Got this error when navigating with Shell.GoToAsync() to another page in code, while the current one is disappearing.

[code]

![image](https://user-images.githubusercontent.com/2952443/105205968-1b5f4980-5b46-11eb-836f-95e9f5f682e8.png)

[2021-01-20 16:54] tranb3r commented on #11593
Any update ?

[2021-01-20 16:55] tranb3r commented on #8383
Any update ?

[2021-01-20 16:58] PureWeen commented on #13472
@AGerchevProgress we dropped support for Xcode11 with version 5.0

Xamarin.iOS doesn't support multi targeting different versions of Xcode. We try to stay backwards compatible as long as we can but as Apple rolls out new iOS versions we have to use newer APIs that are only available with newer versions of Xcode so that apps will be able to run successfully on all versions of iOS

[2021-01-20 16:58] #13472 closed

[2021-01-20 16:59] PureWeen commented on #13469
It should be available now

[2021-01-20 16:59] #13469 closed

[2021-01-20 17:07] PureWeen commented on #13465
@RobotGizmo can you provide the code you are using to add the FlyoutItem?

It'd be useful to see where in the life cycle you are adding it and what the structure of the FlyoutItem you are adding is?

[2021-01-20 17:10] PureWeen commented on #13457
@Pinox  can you provide a sample? With NavigationView we are just pulling in WinUI dependencies and with 5.0 we bumped up the WinUI dependency but we aren't replacing any of the implicit styles for these controls

[2021-01-20 17:15] RobotGizmo commented on #13465
I'll see what I can provide, it's all very inter-connected. Here is the XAML definition for the FlyoutItem:

[code]

And here is the code that adds the items:

[code]

Please let me know if I can provide any more information. Thanks!

[2021-01-20 17:24] rmarinho commented on #13442
@Alex-Dobrynin i don't think that might be needed, since the user should be able to do that.  Just listen to the items in the collection and disable the loop.

[2021-01-20 17:29] PureWeen commented on #13429
@neckerblue can you attach a repro?

Are you seeing the performance difference on the same version of VS? If you down grade to 4.8 vs being on 5.0?

[2021-01-20 17:31] RobotGizmo commented on #13465
I just wanted to let you know that I updated to the latest version of Xamarin Forms and the issue is still present, if that helps at all. (5.0.0.1905+599-sha.51ca97b92-azdo.4376726)

[2021-01-20 17:32] PureWeen commented on #13428
@StephaneDelcroix

[2021-01-20 17:36] PureWeen commented on #13419
@Alex-Dobrynin can you attach a repro please?

[2021-01-20 17:39] Alex-Dobrynin commented on #13419
what is stopping you from taking code written above and paste it into the VS?

[2021-01-20 17:45] hartez commented on #13419
@Alex-Dobrynin - Question: if you change the VerticalItemSpacing in your project from 10 to 0, does the extra space at the bottom go away or get smaller? I _think_ I know where it's coming from; if setting that to zero makes a difference then I'll know for sure.

[2021-01-20 17:45] PureWeen commented on #13411
@vtkachen111 can you attach a repro please?

[2021-01-20 17:51] Alex-Dobrynin commented on #13419
You really think that I should play with itemspacings?

[2021-01-20 17:59] PureWeen commented on #13400
Just an FYI we're planning on standardizing all of this with .NET MAUI by using System.Graphics or System.Drawing for our types

[2021-01-20 17:59] #13400 closed

[2021-01-20 18:10] neckerblue commented on #13429
@PureWeen
It's all showing up right from the templates, were my instructions incorrect or ...?

Same VS version for both.
If 4.8 performance = ok, if 5.0 performance = dead.
Downgrading from 5.0.x -> 4.8 fixes ObservableCollection's performance problems.

I am unsure what repro referrs to, so I made 2 repositories:

- Repository with Xamarin.Forms 4.8 (ObservableCollection's performance = GOOD):
h

[2021-01-20 18:23] vtkachen111 commented on #13411
Attached

[2021-01-20 18:25] vtkachen111 commented on #13412
Attached an example... scrolling through back and fourth should always display a value.

[2021-01-20 18:49] Suplanus commented on #13373
Is fixed in this release: [5.0.0 Service Release 1](https://github.com/xamarin/Xamarin.Forms/releases/tag/release-5.0.0-sr1)

[2021-01-20 18:49] #13373 closed

[2021-01-20 19:28] rachelkang commented on #13387
Hi, @Moreno-Borsalino - thanks so much for submitting this issue! I tried to reproduce what you described, but unfortunately wasn't able to. Would you modify this sample project to reflect the issue you're experiencing? [Issue13387.zip](https://github.com/xamarin/Xamarin.Forms/files/5844792/Issue13387.zip)

And if you haven't already, please try updating to the latest version of XF 5.0 in your own

[2021-01-20 19:41] holecekp commented on #5652
Is there any update on this issue? It affects also RadioButtons with a ControlTemplate. If you have a page with a ScrollView and RadioButtons with ControlTemplate, and you click on one of the RadioButtons, the ScrollView is resetted, and the user is suddenly moved to the beginning of the page. RadioButtons without ControlTemplate do not have this problem.

A workaround proposed by Jglauby works, b

[2021-01-20 20:46] LanceMcCarthy commented on #13303
@PureWeen you can repro with my Microsoft MVP Companion app project. Instead of just cloning (it is a large solution), just pop in and see the csproj) https://github.com/LanceMcCarthy/MvpApi/blob/dev/src/MvpApi.Forms/Android/MvpApi.Forms.Android.csproj

[2021-01-20 21:20] Centurys opened #13477 "[Bug] ToolbarItems not shown on shell modal page"
### Description
When using Shell template, I would like to use `ContentPage.ToolbarItems` declaration on content pages to add some commands. `ContentPage.ToolbarItems` toolbar at the top is not visible on modal page.
Is this by design? Can I somehow manually render `ContentPage.ToolbarItems` with some custom xaml?

### Steps to Reproduce

1. Create Shell app.
2. Navigate to modal with code behind:

[2021-01-20 21:22] PureWeen commented on #13303
@LanceMcCarthy if you just remove this one
[code]

Does that also fix for you?

[2021-01-20 21:25] Kapusch commented on #13115
I've encountered the same behaviour with XF 5.0 and was not sure about what actually happens.
And it is indeed because I initialize CarouselView with 3 default photos, which are exactly the same...

Thank you for providing your last comment !

[2021-01-20 21:30] LanceMcCarthy commented on #13303
It was breaking when that package was explicitly listed.

Here's an easy comparison for you to put side-by-side

#### Works
[code]

#### Does Not Work

[code]

[2021-01-20 21:57] PureWeen commented on #13475
It looks like this is a timing issue with the MessageCenter

The SelectedValue is binding through to the RadioButtonGroup but it's not propagating visually

@hartez

[2021-01-20 22:17] PureWeen commented on #13471
https://github.com/xamarin/XamarinCommunityToolkit/pull/653

[2021-01-20 22:17] #13471 closed

[2021-01-20 22:21] PureWeen commented on #13473
The structure of .NET MAUI here lends itself to this type of things since it'll be a lot more straight forward exposing native behaviors like this.

The other thing here is that UISplitViewController is only used when you're on an iPad if you're on an iPhone then it's just a UIView with a custom UIView for the Flyout

[2021-01-20 22:28] PureWeen commented on #13468
@davidbuckleyni I installed the community edition and it's able to run iOS projects without any issue.

If you go into the VS Installer and remove the Xamarin workload and then re-add it does that fix the issue?

[2021-01-20 22:34] PureWeen commented on #13467
@mcguu can you try with the latest version of forms?

I tested your sample on the latest version of 5.0 and it looks like it's working
![image](https://user-images.githubusercontent.com/5375137/105249252-6de83800-5b3d-11eb-862c-acd6e4d69158.png)

[2021-01-20 22:35] #13467 closed

[2021-01-20 22:40] PureWeen commented on #13454
@meJevin if you use a native Xamarin.iOS app do you see the same issue?

[2021-01-20 22:44] josemtp commented on #13459
Confirmó lo mencionado. Justamente me acaba de passar.

[2021-01-20 22:54] PureWeen commented on #13455
@MuneeshKumarG  just an FYI that this issue probably won't get addressed

Because it's a custom renderer and I tested this with CollectionView and it works fine there.
I'll put this one as up for grabs if someone from the community wants to take it

[2021-01-20 23:07] tessarolli commented on #10584
By switching to FlyoutPage this bug still happens

Should we start the birthday party preparations?

Come on guys, we are still using version 4.4 because of it

Please fix.
I couldn't.. I've tried...

[2021-01-20 23:15] PureWeen commented on #13458
@ichijikuibo can you attach your `I have tested it on a blank application too.` ?

[2021-01-20 23:21] PureWeen commented on #13453
@hrshitjain we're not going to be able to help on this one without more details here.

If you have a minimal repro that even just represents the type of HTTP request your making? Is it a 3rd party library?

[2021-01-20 23:22] PureWeen commented on #13458
Also @ichijikuibo can you test on the latest SR release of Xamarin.Forms?

[2021-01-20 23:29] ichijikuibo commented on #13458
[CarouselView Crash.zip](https://github.com/xamarin/Xamarin.Forms/files/5845855/CarouselView.Crash.zip)
I tested on version 1905 today and it still happens

[2021-01-20 23:31] PureWeen commented on #13450
@NazariiShkatulaAP There isn't much that I can tell from your stack traces

You can subscribe to the UnhandledException handler yourself on UWP
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.application.unhandledexception?view=winrt-19041

to try and extract additional context to log with the report.

You could also subscribe to the UnobservedTaskException and see if you can extract addi

[2021-01-20 23:32] PureWeen commented on #13450
It might also be useful to post this question to StackOverflow to see if anyone else can help with some additional debugging tips

[2021-01-20 23:37] PureWeen commented on #13443
Thank you for the heads up @jgoyvaerts

@samhouts is taking care of it

[2021-01-20 23:37] #13443 closed

[2021-01-20 23:51] PureWeen commented on #13413
This looks like it's a Xamarin.Android issue

I've attached a Xamarin.Android app that has the same exception

[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/5845918/App1.zip)

[code]

[2021-01-21 00:06] PureWeen commented on #13368
@benas1989 By default you can only use something that's represented by a string on Android because if you don't specify your own Control Template then Android will use a native Android control that doesn't support arbitrary content

If you want to use arbitrary content  you need to define your own ControlTemplate or use the one that's packaged with RadioButton

For example

[code]

@hartez @davidb

[2021-01-21 00:13] PureWeen commented on #13351
@aperel66 can you attach a reproduction?

I tested with our default template and it works fine for me there

![image](https://user-images.githubusercontent.com/5375137/105256264-0933da00-5b4b-11eb-9d5c-938e3b3d6409.png)
[Issue13351.zip](https://github.com/xamarin/Xamarin.Forms/files/5845987/Issue13351.zip)

[2021-01-21 02:10] mcguu commented on #13467
@PureWeen  yes. sorry to waste your time. please solve another bug that immersive is not ok in xamarin.forms shell.

[2021-01-21 02:16] fbd-ss opened #13479 "failure to deploy to physical device"
After i installed xf 5.0.i can no longer deploy to physical device ( Note 9 Api 29 ) rolled back to 4.8 problem still persists. Only for physical devices, emulator deploys ok. Doesn't mater what project i open the result is the same. It hangs here "Detecting installed packages...". Repaired VS ( Community 2019, Version 16.8.4 ) but still no change.

[2021-01-21 06:37] MagicAndre1981 commented on #8218
nice there is now a PR linked to it. Will test it when it was merged

[2021-01-21 08:41] MaxFmi opened #13481 "[Bug] x:DataType prevents binding in ListView.GroupHeaderTemplate"
### Description
We're using ListView.GroupHeaderTemplate with a custom layout. The issue arises when we set x:DataType to ListView or on one of its parent xaml tags like ContentPage.

### Steps to Reproduce

1. Creat a ContentPage with
2. Add a ListView with GroupHeaderTemplate
3. Use a ViewModel as BindingContext
4. Set x:DataType to ContentPage or ListView or both
5. Add Binding to your items in

[2021-01-21 08:52] bcaceiro commented on #13420
I've downloaded the latest SR form V5 and the problem remains. TitleView does not show up.

[2021-01-21 09:12] Raystorm7 commented on #6608
@samhouts Any update on this?
Thank you.

[2021-01-21 09:28] Pinox commented on #13457
@PureWeen  Sure , please find attached the sample.

Just uncomment below to see effect.

`List assembliesToInclude = new List();
Xamarin.Forms.Forms.Init((LaunchActivatedEventArgs)activationArgs, assembliesToInclude);`

[App8.zip](https://github.com/xamarin/Xamarin.Forms/files/5848231/App8.zip)

[2021-01-21 09:40] Gmotagi commented on #13303
I removed the Xamarin.Google.Android.Material line and it now builds & runs for me as well.

Relevant nugets after: -

[code]

[2021-01-21 10:17] Simon-72 opened #13483 "[Bug] Radio button styling issues"
### Description

when using a Radio button with black page background the circle to click is not visible and there is no property to change the colour of it, also setting the backgroundcolor of the control results in a line appearing along the bottom of the control.

### Steps to Reproduce

1.  Create a radio button
2.  Change the background colour of the page
3.  change the background colour of t

[2021-01-21 10:18] martinsmithdev commented on #12258
Still an issue. Workaround works but needs fix.

[2021-01-21 10:20] Suplanus commented on #12258
Is fixed in this release: [5.0.0 Service Release 1](https://github.com/xamarin/Xamarin.Forms/releases/tag/release-5.0.0-sr1)

[2021-01-21 10:42] davidbritch commented on #13368
The doc already says: "When the RadioButton.Content is assigned a View, it will be displayed on supported platforms (iOS, UWP), while unsupported platforms will fallback to a string representation of the View object (Android). When a ControlTemplate is applied to a RadioButton, a View can be assigned to the RadioButton.Content property on all platforms."

[2021-01-21 10:45] dpuckett commented on #6451
Sorry but, why make the assumption that ANY control view should be taking up the entire screen space as "expected behaviour"???
Isn't this why we have Vertical/Horizontal Options properties on our views, so we can specify we WANT this behaviour?

This isn't only true of the CollectionView, but ListView as well!

[2021-01-21 11:21] developer9969 commented on #13303
@PureWeen  FINALLY  I have managed to build the solution , this was a complicated process has we had some android library that were having a mixture of  Support and AndroidX.

I Removed all the android packages and I let Visual studio tell me what it required. and finally build!!

the errors we were getting were not helping as it gave no idea where the problem was.

However now unfortunately the A

[2021-01-21 11:34] rayita commented on #6544
Upvoting this.

[2021-01-21 11:53] developer9969 opened #13486 "Devops Pipeline fails Can't resolve the reference 'System.Void UIKit.UIPageControl IndicatorViewRenderer (5.0.0.1905)"
Hi Xamarin team.

It took few days to make sure I could build my solutions with the latest due to issues with android https://github.com/xamarin/Xamarin.Forms/issues/13303

and when I finally managed to get it going  my devops build fails with

` MTOUCH : error MT2101: Can't resolve the reference 'System.Void UIKit.UIPageControl::set_AllowsContinuousInteraction(System.Boolean)',
 referenced from t

[2021-01-21 11:54] cris-m commented on #11101
I am experiencing this issue after Visual studio for Mac update to version 8.8.6 (build 15) and Xamarin Forms 5.0.0.1905. Is there any fix without downgrading Xamarin Forms ?

[2021-01-21 12:04] Tommigun1980 commented on #11101
For anyone experiencing this issue please open a new ticket. I am not sure if the closed issues are monitored.

[2021-01-21 12:12] bcaceiro commented on #13477
This also happens with TitleView - no items appearing - so probably related.

[2021-01-21 13:02] memsom commented on #13416
I am also seeing this issue. If I set Visual to Default, the button renders correctly, but if I have Material installed and initialised, I end up with badly rendered buttons in a SyncFusion sfListView swipe template if they have an image. I don't see this in many other places we use Buttons with images, but I think we also set an explicit style on those buttons.

[2021-01-21 13:04] SeRgI1982 commented on #13376
It happens not only with CarouselView.
I have experienced it when I used Shapes with TabView.
I had Shapes on 1st Tab. Switching to another Tab and back cause loss of color (IsSwipeEnabled = false).

Another case: Polygon with Fill color used on my custom control. Changing visibility of this control cause loss of color.
I tried with binded color via StaticResource like also with fixed color (prede

[2021-01-21 13:20] aperel66 commented on #13351
Hello, Shane.

Thank you for looking into this issue. I must have failed to mention
another important detail.
In the IOS Renderer of CollectionView, set the Bounces property to FALSE
Like so:

[assembly: ExportRenderer(typeof(CollectionView),
typeof(CustomLibraries.iOS.CollectionViewRendererIos))]
namespace CollectionViewExtension
{
    public class CollectionViewRendererIos : CollectionViewRender

[2021-01-21 13:25] schnerring commented on #11101
#13217

[2021-01-21 13:41] vg12345 commented on #13431
=================================================================
	Native Crash Reporting

=================================================================
Got a segv while executing native code. This usually indicates
a fatal error in the mono runtime or one of the native libraries

used by your application.
=================================================================

=====================

[2021-01-21 13:53] davidbuckleyni commented on #13468
I will attempt that now but had no issues before the 16.4

[2021-01-21 13:59] aperel66 commented on #13347
@hartez @rmarinho
Gentlemen, can you please provide an estimate on when this issue will be fixed/released.
Thank you!

[2021-01-21 14:00] davidbuckleyni commented on #13468
Yeah that seemed to fix it @PureWeen must have been something to do with the last update before 16.8.4

[2021-01-21 14:15] Moreno-Borsalino commented on #13387
Hi Rachel,
I am sending you the updated project to reproduce the bug. Respect your project I added the long string inside resources and added NotificationPage to have a second page to jump in and get the wrong behavior. I changed also to Android 10.
I tested in an emulator in Visual Studio 2019. The emulator is based on device Pixel 3a (+ Store), CPU x86_64 and operating system Android Q 10.0  - A

[2021-01-21 14:17] PureWeen commented on #13486
@developer9969 AllowsContinuousInteraction was added in ios 14 so you're either not on iOS 14 or you have an old version of Xamarin.iOS installed on your devops pipeline

[2021-01-21 14:22] Moreno-Borsalino commented on #13387
Hi Rachel,
I don't understand if you got the attached files to my email. I sending you again the files with the updated project to reproduce the bug. Respect your project I added the long string inside resources and added NotificationPage to have a second page to jump in and get the wrong behavior. I changed also to Android 10.
I tested in an emulator in Visual Studio 2019. The emulator is based o

[2021-01-21 14:26] Redth commented on #12023
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:26] #12023 closed

[2021-01-21 14:27] Redth commented on #12869
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:27] #12869 closed

[2021-01-21 14:28] Redth commented on #12557
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:28] #12557 closed

[2021-01-21 14:28] Redth commented on #12517
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:28] #12517 closed

[2021-01-21 14:28] Redth commented on #12905
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:28] #12905 closed

[2021-01-21 14:29] Redth commented on #12909
Unfortunately we can't transfer across orgs, so please open an issue with uno as @jsuarezruiz mentioned if this is still a problem.  Thanks!

[2021-01-21 14:29] #12909 closed

[2021-01-21 14:29] Redth commented on #12423
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:29] #12423 closed

[2021-01-21 14:30] Redth commented on #12870
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:30] #12870 closed

[2021-01-21 14:31] Redth commented on #12957
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:31] #12957 closed

[2021-01-21 14:31] #13000 closed

[2021-01-21 14:31] Redth commented on #13024
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:31] #13024 closed

[2021-01-21 14:31] Redth commented on #12970
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:31] #12970 closed

[2021-01-21 14:32] Redth commented on #13026
Please check back in after you've updated your developer environment if the issue still exists and attach a project which reproduces it.  Feel free to re-open the issue in that case.  Thanks!

[2021-01-21 14:32] #13026 closed

[2021-01-21 14:33] Redth commented on #12927
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:33] #12927 closed

[2021-01-21 14:33] Redth commented on #13070
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:33] #13070 closed

[2021-01-21 14:33] Redth commented on #12999
Can you please attach a sample project which reproduces this issue?

[2021-01-21 14:34] Redth commented on #12868
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:34] #12868 closed

[2021-01-21 14:34] Redth commented on #13091
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:34] #13091 closed

[2021-01-21 14:41] Redth commented on #13077
We are reviewing the cross platform lifecycle API's in Maui: https://github.com/dotnet/maui/issues/30

This should help with implementing patterns like you are attempting.  Your best bet for now is to continue on with your custom events in the AppDelegate.

[2021-01-21 14:41] #13077 closed

[2021-01-21 14:41] Redth commented on #13104
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:41] #13104 closed

[2021-01-21 14:42] Redth commented on #11807
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:42] #11807 closed

[2021-01-21 14:42] Redth commented on #11936
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:42] #11936 closed

[2021-01-21 14:43] Redth commented on #13125
Please try the latest version of XF 5.0 and re-open attaching a sample which reproduces the issue if you are still experiencing it there.  Thanks!

[2021-01-21 14:43] #13125 closed

[2021-01-21 14:44] Redth commented on #13134
It's going to be very difficult to reproduce this without a sample.  If you could please try and create a smaller sample which exhibits this behaviour and attach it, we might be able to see what's happening.

Thanks

[2021-01-21 14:45] Redth commented on #12902
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:45] #12902 closed

[2021-01-21 14:46] Redth commented on #13160
I think we need a bit more context here to try and reproduce the issue.  Can you please attach a sample project which reproduces the crash?

[2021-01-21 14:48] Redth commented on #13162
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:48] #13162 closed

[2021-01-21 14:48] Redth commented on #13056
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:48] #13056 closed

[2021-01-21 14:49] Redth commented on #13211
Can you please attach a sample project which reproduces this issue?

[2021-01-21 14:49] Redth commented on #13215
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-01-21 14:49] #13215 closed

[2021-01-21 14:55] jameswestgate commented on #8431
For people trying to figure this out, here is a solution using a custom ViewCellRenderer

[code]

[2021-01-21 14:55] vsfeedback opened #13487 "Visual studio community 2019 debugger behaviour inconsistent with source file?"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Visual-studio-community-2019-debugger-be/1312217)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.8.2]
I have a solution that consists of a class library project and a console application project that's for testing the class library. So long so good, all work

[2021-01-21 14:56] vsfeedback opened #13488 "Visual Studio 2019 release 16.8.4 - Xamarin.Forms Error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Visual-Studio-2019-release-1684---Xama/1311205)._

---
[regression] [worked-in:16.8.3]
The xamarin.forms project was working fine in visual studio enterprise 16.8.3, but after updating to visual studio enterprise 16.8.4, when I try to open a blank xamarin.forms project, I get the errors

[2021-01-21 14:57] JohnGalt1717 commented on #13151
@hartez If you look at Windows Mail you can see what it should look like.  There is a single titlebar that is part of the windows header with the window controls and then immediately below the hamburger and everything else.

So in Xamarin, Shell is doubling up the title bars etc. or at the very least isn't allowing you to set the title of the application on there.

[2021-01-21 15:00] JohnBot2013 commented on #13091
[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/5850107/App1.zip)
Hi, sorry but I didn't get the message from 10 Dec.
I have just updated the sample to Forms 5 release version and the problem remains
Sample project attached.
Thanks

[2021-01-21 15:00] Redth commented on #3240
Can you please attach a sample project which reproduces the issue?

[2021-01-21 15:02] Redth commented on #12656
If you're able to reproduce this, please share on this issue and re-open it.  Unfortunately without a way to reliably reproduce it, we won't be able to fix it.

[2021-01-21 15:02] #12656 closed

[2021-01-21 15:05] #12821 closed

[2021-01-21 15:07] Redth commented on #13255
Yes could you please attach a sample which reproduces the issue?

[2021-01-21 15:08] ericdc66 commented on #13211
I'm not sure if this helps, but I was getting the same issue. In my situation, I was using an await for a method with web api service calls and UI updates within a property changed handler. I wrapped my await call in a call to Application.Current.Dispatcher.BeginInvokeOnMainThread() and the problem went away. It seemed like it was related to trying to update a UI element on a non-UI thread (as in

[2021-01-21 15:15] Tommigun1980 opened #13489 "[Bug] Can't use DynamicBinding in OnPlatform"
### Description

Using a DynamicBinding in an OnPlatform clause results in a 'Cast is not valid' error.
This is problematic because it breaks dynamic theming.

### Steps to Reproduce

[code]

### Expected Behavior

It should not crash with a 'Cast is not valid' error.

### Actual Behavior

It crashes with a 'Cast is not valid' error.

### Basic Information

- Version with issue: Xamarin.Forms 5.0.

[2021-01-21 15:23] #13206 closed

[2021-01-21 15:23] #13208 closed

[2021-01-21 15:33] #13451 closed

[2021-01-21 15:37] PureWeen commented on #13266
So, @AmSmart the "+" character is an unfortunate casualty of how UriDecode/Encode works.  Usually this all works fine but unfortunately "UriDecode" replaces all "+"'s with a space.

With 5.0 we made it so query strings automatically get decoded once they reach the destination so if you encode the phone number first then it'll come out correctly on the other end.

[2021-01-21 15:42] PureWeen commented on #13266
@AmSmart can you elaborate on this?

If you encode the query string on the uri then it will come out decoded on the other side so you don't have to do any decoding in your VMs that receive the parameters

[2021-01-21 15:59] mattleibow commented on #13303
You may need to update iOS on the agents: https://github.com/xamarin/Essentials/issues/1589#issuecomment-756600412

[code]

[2021-01-21 16:09] rachelkang commented on #13448
Hi, @ChristopherMWood - thank for submitting this issue! I'm able to reproduce this issue on iOS, although not on Android. Would you mind sharing repro steps / device specs for how you reproduced the issue on Android?

On iOS, I'm noticing that its the specification of both a padding and FontSize (either named or numeric) results in the words getting cut off. I'm not sure what your use case is, bu

[2021-01-21 16:11] developer9969 commented on #13486
@PureWeen  thanks for replying

1. Pipeline : We are using Microsoft Hosted agent  (we have no control over what is installed)
2. Pool='macOS-latest'
I have the following on visual studio
![image](https://user-images.githubusercontent.com/16970109/105374733-ed3e4000-5bff-11eb-829d-13db77405616.png)

Am I missing the obvious?

thanks

[2021-01-21 16:16] PureWeen commented on #13488
If you go into the VS Installer and remove the Xamarin workload and then re-add it does that fix the issue?

[2021-01-21 16:19] mattleibow commented on #13303
I'll have a quick look. Just updating to the latest stable of everything.

[2021-01-21 16:20] PureWeen commented on #13352
@lauxjpn if you update to 16.8.4 do you have thee same issues?

[2021-01-21 16:20] PureWeen commented on #13487
if you update to 16.8.4 do you have the same issues?

[2021-01-21 16:35] Tommigun1980 opened #13491 "[Bug] Brushes: NavigationBar.BarBackgroundColor assignment prevents NavigationBar.BarBackground brush rendering on Android"
### Description

On iOS, when both a background color and a brush are defined on a NavigationBar, the brush will take precedence.
On Android, if a background color property is defined in any way on a NavigationBar, the brush will never be drawn.

So if your NavigationBar XAML looks like
[code]
the BarBackground will not render on Android. Removing the 'BarBackgroundColor="Transparent"' property as

[2021-01-21 16:36] vg12345 commented on #13431
=================================================================
	Native Crash Reporting

=================================================================
Got a segv while executing native code. This usually indicates
a fatal error in the mono runtime or one of the native libraries

used by your application.
=================================================================

=====================

[2021-01-21 16:42] PaulsonMac commented on #12956
Yes, I'll give it a try

[2021-01-21 16:43] PureWeen commented on #13476
@AndreasReitberger can you attach a repro?  I've attached my attempt but the TitleView is always showing up for me

[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/5850772/Archive.zip)

[2021-01-21 16:48] rachelkang commented on #13387
@Moreno-Borsalino got it - thanks for elaborating and sharing the details! I'm able to see it now :)

[2021-01-21 17:00] meJevin commented on #13454
@PureWeen, I'm sorry, I don't have a Mac machine. I can not provide you with this informatiom.

[2021-01-21 17:19] PureWeen commented on #13489
[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/5850959/Archive.zip)

This looks like it's an iOS 14 specific issue. I don't get the exception when running on iOS 13

[2021-01-21 17:23] peter-chapman commented on #11757
I am also seeing this error when removing a SKCanvasView from Form.  The trigger for this exception seems to be a second touch event coming in that has nowhere to go as the .net SKCanvasView has already been disposed.  Presumably there is some unfortunate logic that means that when you remove the SKCanvasView in the middle of a touch callback the dispose isn't disconnected correctly.
You can set t

[2021-01-21 17:26] Tommigun1980 commented on #13489
Sorry for forgetting to mention iOS version, and thanks for looking into this!

[2021-01-21 17:27] Moreno-Borsalino commented on #13387
@rachelkang I am happy to be able to make a small contribution to this project :-)

[2021-01-21 17:32] bharathirajauk opened #13492 "[Bug] [UWP] LayoutChildren method is not called in custom control after upgrade Xamarin.Forms 5.0"
### Description

I have created a custom control which is extended from ContentView in Xamarin.Forms. I have layout the **Content** for some scenario using LayoutChildren override method in Forms. This is working fine up to XF version 4.8. After upgrade to Xamarin.Forms 5.0, this LayouChildren override method is not called and Content also not displayed. I suspect that in Xamarin.Forms 5.0, layout

[2021-01-21 17:38] Tommigun1980 opened #13493 "[Bug] LinearGradientBrush: StartPoint/EndPoint do nothing on a BoxView on Android"
### Description

LinearGradientBrush's StartPoint and EndPoint properties have no effect on Android (while they do work properly on iOS).

### Steps to Reproduce

Define a brush such as:
[code]

Draw with it, for example:
[code]

_Edit: Issue happens only with a 'BoxView'; 'Image' for example works properly._

iOS - correct:
<img width="560" alt="Screenshot 2021-01-21 at 19 35 32" src="https://use

[2021-01-21 17:41] Gmotagi commented on #13303
I've sent you a link to my failing binlog to the email you posted previously.

[2021-01-21 17:47] jsuarezruiz commented on #13493
@Tommigun1980 Happens with `BoxView` or other specific View?

[2021-01-21 17:51] Tommigun1980 commented on #13493
Hi @jsuarezruiz! I had seen the issue with a BoxView, but encouraged by your question replaced the BoxView with an Image and lo and behold that works, so apparently this is an issue with BoxViews only.

[2021-01-21 18:05] Tommigun1980 commented on #13491
Edit: Amended bug report to specify this happens only with a NavigationBar, after confirming it's not a generic issue.

[2021-01-21 18:18] jsuarezruiz commented on #13493
Thanks for the detailed feedback @Tommigun1980. The issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/11812/

[2021-01-21 18:21] Tommigun1980 commented on #13493
Ah thank you! And apparently I had already reported this exact issue earlier, couldn't remember lol.

[2021-01-21 18:24] jsuarezruiz commented on #13493
They were not exactly the same, similar ones although the fix is the same. In any case, I hope we can include the fix soon!.

[2021-01-21 18:28] danielkboyer commented on #13366
I am getting the same issue, this is frustrating, a working build is now halted because of this. @mikebikerider solution works, it's just a pain to implement this anywhere I have a DatePicker. Is there a fix that does not require creating a label over it?

[2021-01-21 18:29] mattleibow commented on #13303
So... Just starting from the top and trying the builds.

I created a new project, updated everything - making sure to use all the [packages listed here](https://github.com/xamarin/Xamarin.Forms/issues/13303#issuecomment-763961030). Seems to build for me.

Only thing different is that I did not add Telerik as it was not installed at the time. Installing now and will try again.

However, could someo

[2021-01-21 18:35] mattleibow commented on #13303
OK... I think I found _what_ was causing the issue, but not _how_ yet. So my sample app works fine, but now fails when I installed the Telerik package. Not sure what is up just yet, but for those using sample apps and also the test app above, could you test that and then install Telerik just to confirm it is that package?

[2021-01-21 18:50] Tommigun1980 opened #13495 "[Bug] Regression in XF5: SwipeView glitches when pulled out"
### Description

I am currently running XF 5.0.0-pre4 (locked to this version until https://github.com/xamarin/Xamarin.Forms/issues/13203 is fixed) and tested with the latest nightly build (5.0.1.1917-nightly).

This version seems to have a regression in the how the SwipeView is rendered.

Please see the following video of the issue:
https://user-images.githubusercontent.com/60286968/105397419-b2e

[2021-01-21 18:54] Tommigun1980 opened #13496 "[Bug] SwipeView minor rendering discrepancy depending on gesture"
### Description

If a SwipeView is pulled out and subsequently pushed out, **without releasing the finger in-between**, it looks correct:
https://user-images.githubusercontent.com/60286968/105398047-841ff200-5c2a-11eb-8d1e-890c6a9e0b17.mov

However; pulling out a SwipeView, then releasing the finger, and subsequently pushing it out looks like this:
https://user-images.githubusercontent.com/6028696

[2021-01-21 18:55] PureWeen commented on #13435
@PaulsonMac from what I can tell those get linked out

Below is a screen shot from an iphone/release build with full linking on

![image](https://user-images.githubusercontent.com/5375137/105398349-e1df1a80-5be7-11eb-802b-cdc16568bf3f.png)

[2021-01-21 18:56] GeorgeVelikov opened #13497 "[Bug] Shell.ItemTemplate and Shell.MenuItemTemplate are not loaded up properly"
### Description

Custom item and menu item templates are not loaded up properly. To "fix" this, we can save the XAML file containing the Shell, prompting a hot reload which would properly load the templates

This seems to be related with using FontImages

### Steps to Reproduce

1. Add some ItemTemplate and MenuItemTemplate to the Shell
2. Run App with a flyout menu
3. Flyout menu has no styling

[2021-01-21 19:09] GeorgeVelikov opened #13498 "[Bug] Can't change BindingContext of a MenuItem"
### Description

Setting the BindingContext of a page with some null BindingContext and then pushing it seems to turn back to the "inherited" BindingContext

### Steps to Reproduce

1. Create Screen
2. Register Screen with some route i.e. Routing.RegisterRoute("About", typeof(AboutScreen))
3. Add MenuItem to shell which has the Routing.Route to "About", BindingContext is of some AboutScreenViewMod

[2021-01-21 19:19] juwens opened #13499 "[Bug] [UWP] [Shell]"
### Description
UnhandledException
```Unhandled exception at 0x00007FFA94078F99 (Windows.UI.Xaml.dll) in Frontend.UWP.exe: 0xC000027B: An application-internal exception has occurred (parameters: 0x00000174E5CFF890, 0x0000000000000002).```
![image](https://user-images.githubusercontent.com/11560817/105400651-8764af00-5c25-11eb-9a43-b77c29cf34cf.png)

### Steps to Reproduce

1. Start App with VS
2.

[2021-01-21 19:23] jsuarezruiz commented on #13495
@Tommigun1980 Could you share a piece of code to see how you are creating the `SwipeView` Content and SwipeItems?. I am interested to know if you use SwipeItem, SwipeItemView, etc.

[2021-01-21 19:25] PureWeen commented on #13498
@GeorgeVelikov can you attach a repro please?

[2021-01-21 19:32] PureWeen commented on #13499
@juwens can you attach a repro?

Here's mine and it works fine on UWP

[App2.zip](https://github.com/xamarin/Xamarin.Forms/files/5851674/App2.zip)

[2021-01-21 19:42] GeorgeVelikov commented on #13498
@PureWeen Yeah, I'll create one some time tomorrow GMT

[2021-01-21 19:52] Gmotagi commented on #13303
I'm also using Telerik. The plot thickens!

[2021-01-21 20:03] Gmotagi commented on #13303
@mattleibow I tried your App1 project above and it builds and runs fine.

I then added in
`<PackageReference Include="Telerik.UI.for.Xamarin" Version="2021.1.119.1" />`

and I get the

Error		failed linking file resources.	App1.Android
Error		'5dp' is incompatible with attribute verticalOffset (attr) float [weak].	App1.Android
Error		'10dp' is incompatible with attribute horizontalOffset (attr) fl

[2021-01-21 20:07] LanceMcCarthy commented on #13303
Coincidentally, I'm the Manager of Telerik Support in the US and can help out in digging deeper.

cc @didiyordanova are you aware of any known issues here?

@mattleibow I'm downloading your App1 test and sending it to Didi and the dev team.
@Gmotagi If you would like to track our internal progress, open a BR here https://feedback.telerik.com/xamarin  (click "Report a bug")

[2021-01-21 20:30] GeorgeVelikov commented on #13497
@PureWeen I have added a reproduction for this issue

[XF5ShellIssues.zip](https://github.com/xamarin/Xamarin.Forms/files/5851971/XF5ShellIssues.zip)

[2021-01-21 20:52] benas1989 commented on #13368
@PureWeen  Thanks for the reply. :)
I don’t understand what a universal platform is then.
It should automatically work as in the example. No need to write additional code. And if you want something specific then you write extra to work with platform specific elements. Here is exactly the case for android.
Here in my opinion as a new programmer.

Sorry for the bad English :D

[2021-01-21 21:09] davidbuckleyni commented on #13468
It happened again basically 20 mins after I done what you said I quit visual studio then come back to same project and got it again odd to say least @PureWeen

[2021-01-21 21:23] PureWeen commented on #13492
@hartez it looks like this is a regression from

https://github.com/xamarin/Xamarin.Forms/pull/12017

It looks like because the Layout is no longer marshaled to the UI Thread the layout code never gets beyond this point

https://github.com/xamarin/Xamarin.Forms/blob/51d840a00e0f7a9fb481087b813c637e6b4d4058/Xamarin.Forms.Core/Layout.cs#L473

I'm guessing before when it was all being executed from `

[2021-01-21 21:37] PureWeen commented on #13483
For the time being @Simon-72 I would recommend taking a look at this

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/radiobutton#redefine-radiobutton-appearance

Also can you attach the XAML or a sample that causes that underline to appear?

[2021-01-21 21:38] PureWeen commented on #13481
@MaxFmi can you attach a reproduction please?

Does the same issue happen if you are using CollectionView?

[2021-01-21 21:52] Tommigun1980 commented on #13126
@Redth @hartez I think https://github.com/xamarin/Xamarin.Forms/issues/13203 is a duplicate of this one. It was closed as fixed, but I have tested with the latest nightly build of Xamarin.Forms (5.0.1.1917-nightly) and this issue still happens.

I have provided a simple repro in this bug report (https://github.com/xamarin/Xamarin.Forms/issues/13126#issuecomment-751310883), and also a more involved

[2021-01-21 21:57] Tommigun1980 commented on #13492
Could that commit also be causing the cause for https://github.com/xamarin/Xamarin.Forms/issues/13126#issuecomment-751310883? This regression was introduced in XF 5.0.0-pre5, and makes CollectionViews show up as empty.

https://github.com/xamarin/Xamarin.Forms/commit/c419953e86aa4de9a680439564abe69d60331ab5#diff-af8af62afd20e030f39b075a80366258189203886d6945708511607ee820d511R472 attempted to solv

[2021-01-21 22:13] PureWeen commented on #13468
@davidbuckleyni is this happening with a clean new project? or just your own project?

[2021-01-21 22:14] davidbuckleyni commented on #13468
I will check that in morning for you mate @PureWeen

[2021-01-21 23:09] jcmanke commented on #11770
+1 for changing this in MAUI. Just have the indexing operator call TryGetValue.

[2021-01-21 23:11] ahoke-cr commented on #1879
I am still experiencing this issue on Xamarin.Forms 5.0.0.1874

[2021-01-21 23:30] juwens commented on #13499
@PureWeen thanks for your super fast reply.
Ich checked your zip and changed "Target Version" to 1809 and i got the exception.
You can to that or checkout my example repo: https://github.com/juwens/XamarinShellUwp

[2021-01-21 23:38] PureWeen commented on #10279
This has been enabled on 16.9

[2021-01-21 23:38] #10279 closed

[2021-01-21 23:39] PureWeen commented on #12000
@francis2 are you still seeing this on the latest version of Shell?

[2021-01-22 00:22] zetaFairlight opened #13500 "[Bug] Xamarin Forms 5 project template not working."
### Description
Basic template doesn't work after upgrading to Xamarin.Forms 5.0+

### Steps to Reproduce

1.  On Visual Studio 2019 create a Xamarin Forms project
2. Update the nuget packages for Xamarin Forms to 5.0
3. Run the sample on an Android phone (Moto G7 in this case), **not** in the emulator.

### Expected Behavior
To see and use the placeholder/template for Xamarin project working on t

[2021-01-22 01:14] Centurys opened #13501 "[Enhancement] SlidesView add IsOpen onSwipeChanging and swipe threshold percentage value"
## Summary
Would be very good to control UI when `SwipeView` swipe gesture on `Mode=SwipeMode.Execute` would be executed. I would like to show to the user with visual change when swipe is executed, e.g. user would see visually if finger release would cause action to be invoked and when it would nothing happens, this is already calculated on `SwipeEndedEventArgs` property `IsOpen`.

And to configur

[2021-01-22 01:45] haiduong741 commented on #13303
It still not working for me. No Solution really clean can fixing them.

[2021-01-22 02:23] hartez commented on #13459
@stesvis Which platform (e.g. Android, iOS, UWP) are you seeing this on?

[2021-01-22 02:53] stesvis commented on #13459
In Android, but i haven't tried it in iOS yet, so i don't know if it's a bug there.

[2021-01-22 03:04] #13435 closed

[2021-01-22 03:10] PureWeen commented on #13497
@GeorgeVelikov so I'm not super sure yet why this worked on 4.8 but `TemplateBinding` is only supposed to be used with ControlTemplates

For your template all you need to do is this

[code]

[2021-01-22 03:13] PureWeen commented on #13500
@zetaFairlight do you have dark mode on? This is a known issue with dark mode

[2021-01-22 03:29] zetaFairlight commented on #13500
@PureWeen **Yes**, Visual Studio was in dark mode, but now I've switched to "blue" mode and I get the **same** results. Will keep trying.

[2021-01-22 03:38] PureWeen commented on #13427
I agree with @GalaxiaGuy on this one

You can also alter the transition using something like https://github.com/GiampaoloGabba/Xamarin.Plugin.SharedTransitions

[2021-01-22 05:11] AndreasReitberger commented on #13476
Hi @PureWeen
thanks for your reply. I'll check your repo and check if there are any differents to my project. I'll keep you posted.

[2021-01-22 05:27] Tommigun1980 commented on #13495
Hi @jsuarezruiz!

It is a SwipeView -> SwipeItems -> SwipeItem inside a DataTemplate coming from a DataTemplateSelector inside a ListView.
I replaced the ListView with a CollectionView and the issue does not happen with a CollectionView!

[code]

(it uses RemainOpen as it's still using the workaround https://github.com/xamarin/Xamarin.Forms/issues/11643#issuecomment-668872047, as I haven't gotten

[2021-01-22 06:29] developer9969 commented on #13486
Hi
the pipeline building is my last hurdle to move to 5 so that I can also use the community toolkit, kind of surprised nobody else is having this issue

One thing I dont understand as I have the following

- Pipeline : We are using Microsoft Hosted agent (we have no control over what is installed)
- Pool='macOS-latest'  (macos-10.15) which according to the document it has the latest installed

[2021-01-22 06:30] hrshitjain commented on #13453
@PureWeen We are not using any third-party library. We are making an HTTP GET request, which works fine in all cases.
This may be related to the MONO issue here:

- https://github.com/mono/mono/issues/20759
- https://github.com/mono/mono/issues/15462

[2021-01-22 07:06] SelvaKumar68 opened #13502 "[Bug]"
### Problem in Opening Prism Dialog on Content page.

### Steps to Reproduce
We have Xamarin Forms application, in which we use Prism for navigation and to show Custom Display Alert.

For Many page the Prism.ShowDialog  Display alert as expected. But for few pages when Prism.ShowDialog get called we see only white screen on the View. We couldn't proceed any further.

On the Dialog page I did overr

[2021-01-22 07:39] divyesh08 commented on #12339
Any solution for this from xaml?

[2021-01-22 08:53] GeorgeVelikov commented on #13497
@PureWeen Thanks, that does seem to work!

[2021-01-22 09:00] jsuarezruiz commented on #13491
@Tommigun1980 The issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/13503

[2021-01-22 09:13] jsuarezruiz commented on #13496
The issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/12726

[2021-01-22 09:29] GeorgeVelikov commented on #13498
@PureWeen I have added a reproduction for this issue.

The page in question is "BrokenPage"

[XF5ShellIssues.zip](https://github.com/xamarin/Xamarin.Forms/files/5854815/XF5ShellIssues.zip)

[2021-01-22 09:46] jsuarezruiz commented on #13495
I have tried to reproduce the same behavior in a small example using Xamarin.Forms 5.0.1.1917-nightly:
[Issue13495.zip](https://github.com/xamarin/Xamarin.Forms/files/5854928/Issue13495.zip)

But I can't reproduce the glitch. Could you take a look to the example?

[2021-01-22 09:47] davidbuckleyni commented on #13468
Just to be clear this is the error I am reciving I will check it with a clean project today.

![image](https://user-images.githubusercontent.com/5619229/105475015-d1d24400-5c96-11eb-9370-b4d61a718eb3.png)

[2021-01-22 10:07] MitchBomcanhao commented on #13500
@zetaFairlight the visual studio theme is not relevant for this matter, he's asked about your phone's light/dark theme.

[2021-01-22 11:41] ccant01 commented on #9792
I have upgraded to XF v5 but my issue is not resolved (though I haven't found any bugs yet which is good). Either it is a slightly different issue or it is still an issue. I will investigate a bit further.

[2021-01-22 12:06] zetaFairlight commented on #13500
Yes, @MitchBomcanhao, that device is was on dark mode. I will retry with the device dark mode _off_ now.

[2021-01-22 12:07] AndreasReitberger commented on #13476
Hi @PureWeen
I checked your repo and was able to reproduce the issue also in your example.

I set the TitleView as followed:

[code]

However only the `VerticalTextAlignment` for the label was needed to let the TitleBar disappear.
Please find the repo here:
[_Issue13476.zip](https://github.com/xamarin/Xamarin.Forms/files/5855606/_Issue13476.zip)

[2021-01-22 12:52] AlvaroAlfameta commented on #13416
Same problem here
![Snipaste_2021-01-22_08-52-16](https://user-images.githubusercontent.com/70548066/105493007-296cb180-5c8f-11eb-8ba9-727ad8b8a6b4.png)

[2021-01-22 12:55] Huaba93 opened #13504 "[Bug] [iOS] [regression] CarouselView ItemsViewScrolledEventArgs provides wrong item indexes"
### Description
When the Scrolled event of a carousel is fired for the first time, it returns wrong values for FirstVisibleItemIndex, CenterItemIndex and LastVisibleItemIndex.
On android it works as expected.

### Steps to Reproduce

1. Start attached sample project in debug
2. Check console output

### Expected Behavior
FirstVisibleItemIndex 99
CenterItemIndex 0
LastVisibleItemIndex 1

### Actual

[2021-01-22 13:39] themronion commented on #13323
@hartez i have an update for you, maybe it will help. When setting the ItemSizingStrategy to MeasureFirstItem the problem dissapears

[2021-01-22 14:28] zetaFairlight commented on #13500
Correct. It's working only on the "light" mode, in the phone.
I'll try to learn more about this problem. Thanks!

[2021-01-22 14:45] LanceMcCarthy commented on #13303
Update: The issue was escalated and the Telerik development team is looking at this in depth today.

@haiduong741 The workaround is to let the Xamarin.Forms 5.x NuGet package restore its own dependencies (instead of you explicitly listing it).

What I mean by that is you should open your Android project's csproj file and **remove** the highlighted items in this screenshot:

![image](https://user-i

[2021-01-22 15:05] PaulMercer-SDS commented on #13258
This is an issue for us too.
From a ContentPage we push a modal page which changes some state in the app. When the modal page is popped, we are checking that state in the OnAppearing event of the original page.
This was working up to XF 5.0 pre2, but from pre3 or pre4 the event is no longer being fired.

[2021-01-22 15:29] Rabosa616 commented on #13476
I have the same issue

[2021-01-22 15:30] Rabosa616 commented on #13477
I have this issue but as @bcaceiro said with the TitleView on any page

[2021-01-22 15:34] AndreasReitberger commented on #13476
@PureWeen
I did some further research and it seems that once a Grid is used, the VerticalTextAlignment fails.

Doesn't work:
[code]
Works:
[code]

Hope this helps!

[2021-01-22 15:39] PureWeen commented on #13500
https://github.com/xamarin/Xamarin.Forms/pull/12409

[2021-01-22 15:39] #13500 closed

[2021-01-22 15:41] #13497 closed

[2021-01-22 15:48] #13427 closed

[2021-01-22 15:53] MitchBomcanhao commented on #10049
any updates on this?

[2021-01-22 16:32] quintanalexis1989 commented on #10567
Why this bug are closed? I am also getting this issue on iPhone 6 with 12.4.9 iOS version

[2021-01-22 17:02] PureWeen commented on #13502
@SelvaKumar68 can you move this issue over to

https://github.com/PrismLibrary/Prism

So @dansiegel can look at it and then tell me how it's my fault :-p

[2021-01-22 17:02] #13502 closed

[2021-01-22 17:11] dansiegel commented on #13502
ROFL... now the pressure is on to come up with a reason, I mean you're totally asking me to give you one 😆

[2021-01-22 17:14] CocoCR300 commented on #13133
I updated Xamarin.Forms to 5.0.0.1905 and the UWP project target framework version to 10.0.19041.0 on my example and after some tests:
- With `CarouselView.Loop` set to `False`, an empty collection binded to the CarouselView doesn't cause errors.
- The CarouselView doesn't refresh when updating the collection binded to it (adding/deleting an item or calling the `Clear` method), it refreshes only b

[2021-01-22 17:24] PureWeen commented on #13411
@vtkachen111 I see in your original post that you indicate "Version with issue: Xamarin 5.0.0.1874" as the problem

I tested your sample against an iOS 14.3 device and an Android device.

In both cases the CarouselView starts out at item 2

Can you try your sample again updated to the latest version of XF?

[2021-01-22 17:39] PureWeen commented on #13415
I'm going to move this one into our .NET MAUI board so we can look at providing a better dynamic experience there for localization

[2021-01-22 17:43] MSicc commented on #13419
It seems the vertical item spacing is summed up and added to the end of the list. Just ran into that bug (again)

[2021-01-22 17:47] PureWeen commented on #12990
I'm going to close this issue for now based on @ivanv-microsoft 's comment about 16.9

If this issue persist on 16.9 then we can revisit

[2021-01-22 17:47] #12990 closed

[2021-01-22 17:47] PureWeen commented on #13075
This issue should be resolved by this PR  @johnshardman

https://github.com/xamarin/Xamarin.Forms/pull/13244

[2021-01-22 17:47] #13075 closed

[2021-01-22 17:54] PureWeen commented on #13177
@CometSL9 can you test with the latest release of 5.0 ?
There were a number of changes made there

[2021-01-22 17:59] PureWeen commented on #13280
@mknotzer can you attach a reproduction please? You might need to open an issue here with Rg.Plugins. They might not be disposing of the page properly

[2021-01-22 18:04] holecekp opened #13505 "[Bug] Serious accessibility issues in RadioButton with a ControlTemplate"
### Description
RadioButtons without a ControlTemplate works well. Besides mouse, or touch, one can activate them from the keyboard. The user can press Tab key to navigate to the particular RadioButton and the Space key can be used to check the RadioButton. Screenreaders can also handle RadioButtons well as long as they do not have a ControlTemplate. For example, Narrator in Window reads the Radio

[2021-01-22 18:06] PureWeen commented on #13453
I'm going to close this issue here for now and we can follow what the mono team thinks inside the issues you've referenced

[2021-01-22 18:06] #13453 closed

[2021-01-22 18:07] rachelkang commented on #13080
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please submit a feature request describing the enhancement you would like to see. Thank you!

[2021-01-22 18:07] #13080 closed

[2021-01-22 18:10] PureWeen commented on #13431
@vg12345 can you attach a reproduction please?

[2021-01-22 18:11] PureWeen commented on #13465
@RobotGizmo if instead of clearing out the Items you set "IsVisible" to false does that still crash?

[2021-01-22 18:22] themronion commented on #13415
@PureWeen everything is almost ready in the XFCT. Also there is a PR coming to support translating the strings that were set in the codebehind (not in xaml). A class called LocalizedString - i checked it out and it works like a charm. Grab some inspiration there😉

[2021-01-22 18:46] rachelkang commented on #13249
also noticing now that the virtual keyboard doesn't seem to appear at all on iOS, even without the Focused/Unfocused events

[2021-01-22 18:52] RobotGizmo commented on #13465
If I set it to `IsVisible=false` then I get a routing error somewhere else in the code. If I just comment out the `this.shlRoot.Items.Clear();` line it doesn't crash with the NullRef exception.

[2021-01-22 18:55] educatedcg commented on #13366
It's crazy that no one is picking this bug up. It's a fundamental breaking bug. If no one picks it up, one of us will have to fix it. I had to revert my app to 4.8, because this make 5.0 unusable for me on iOS.

[2021-01-22 19:05] eddieyanez opened #13506 "Dismissing a Modal Page while passing data when using Shell goes back *twice* on the nav stack, instead of once, breaking app navigation"
### Description
For a given navigation stack of **Page A** > **Page B** > **Modal Page**, dismissing the Modal Page with data (e.g. below) navigates all the way back to **Page A** instead of **Page B**. Unfortunately, this issue has now broken the app.
`await Shell.Current.GoToAsync("..?Data=test");`

Dismissing the page (e.g. below) without data navigates back to Page B as expected.
`await Shell.

[2021-01-22 19:22] CocoCR300 commented on #13133
Now, only sometimes, the example is throwing this exception when a collection is assigned to `ItemsSource` (empty or not) on Android.
<details><summary>Java.Lang.IllegalArgumentException: 'Invalid target position'</summary>

```{Java.Lang.IllegalArgumentException: Invalid target position  at Java.Interop.JniEnvironment+InstanceMethods.CallVoidMethod (Java.Interop.JniObjectReference instance, Java.

[2021-01-22 20:22] #13171 closed

[2021-01-22 20:24] #2660 closed

[2021-01-22 20:28] PureWeen commented on #13415
That's awesome!!! Definitely be good to see how we can bring that goodness directly to .NET MAUI

[2021-01-22 20:33] viktorchernev commented on #13487
I am the OP.

Yes, I do, I was waiting for 16.8.4 to become available before proceeding with this, so the above behaviour is with 16.8.4. In 16.8.3 it was similar behavior I was experiencing - A breakpoint hit, marking a part of a comment line that has nothing to do with the breakpoint and such.

When I decided to build a dummy UI in WPF everything works fine, and I get this behavior only with the

[2021-01-22 21:28] PureWeen commented on #13506
@eddieyanez thank you for logging this!!

For now if you want to workaround the issue it looks like you can do the following

" await AppShell.Current.GoToAsync("../?Data=test");"

[2021-01-22 21:44] PureWeen commented on #13406
@samt1925 can you elaborate or attach a reproduction?

We do fire this event based on various platform level events

https://github.com/xamarin/Xamarin.Forms/search?q=TriggerThemeChanged

[2021-01-22 21:53] PureWeen commented on #13405
@KrzDyner that's an odd one :-/

I tested on CollectionView and the same behavior happens

[2021-01-22 22:02] #13389 closed

[2021-01-22 22:10] PureWeen commented on #13398
@IMLizKing can you attach a reproduction please? I'm not seeing what you're seeing by following your steps here

![image](https://user-images.githubusercontent.com/5375137/105554118-525f6780-5ccc-11eb-826f-9ce073224c69.png)

[2021-01-22 22:12] francis2 commented on #12000
Hi,

I just tried on Forms 4.8.0.1269 and 5.0.0.1905 and get the same exception using the test solution above.

Object reference not set to an instance of an object at Xamarin.Forms.ShellSection.OnChildRemoved (Xamarin.Forms.Element child, System.Int32 oldLogicalIndex) [0x0001b] in D:\a\1\s\Xamarin.Forms.Core\Shell\ShellSection.cs:651 at Xamarin.Forms.ShellSection.ItemsCollectionChanged (System.Ob

[2021-01-22 22:19] PureWeen commented on #13388
@Ganeshamoorthy10 so this looks like a bug with setting IsEnabled to false and the TextColor on UWP

If you just add a disabled Entry with TextColor red on UWP it doesn't show up as red

[2021-01-22 22:23] PureWeen commented on #13379
@StephaneDelcroix  thoughts?

[2021-01-22 22:31] PureWeen commented on #13377
@sbeckmann have you tried a native UWP app to see if the same behavior is exhibited there? It feels like this is more of UWP level issue.

[2021-01-22 22:36] PureWeen commented on #13372
@mhughey-vent can you attach a reproduction?

Is your app crashing? Are you just seeing a message in the logs?
Android has an initial warmup where it figures out any embedded fonts the user might be using and it does this

But maybe it's being too aggressive in your case? Are you using Shell?

[2021-01-22 22:39] eddieyanez commented on #13506
No worries. Thanks for looking at the issue so quickly.

The workaround works for me.

[2021-01-22 22:41] Kapusch commented on #13115
My workaround for this @AswinPG  : using a [DataTemplateSelector](https://docs.microsoft.com/fr-fr/xamarin/xamarin-forms/user-interface/carouselview/populate-data#choose-item-appearance-at-runtime) for the CarouselView.

Indeed, I'm able to display the same default template but with 3 different Items in ItemsSource (DefaultMainPhoto, DefaultAlt1Photo, DefaultAlt2Photo).

[2021-01-22 23:18] PureWeen commented on #13364
@AhmedAbuelnour can you attach a reproduction please?

 I tested with our basic template and it seems to work fine

[App6.zip](https://github.com/xamarin/Xamarin.Forms/files/5859138/App6.zip)

[2021-01-22 23:26] PureWeen commented on #13361
Moving this to needsinfo for now until a reproduction is attached

[2021-01-22 23:35] vtkachen111 commented on #13411
@PureWeen Oh I apologize, I didn't even see that there was a new xamarin version. Unfortunately I don't have a way to verify right now, I will asap though. Thank you

[2021-01-23 00:04] PureWeen commented on #13366
I waited all day to test this issue and from what I can tell this is fixed with the latest SR1 of Xamarin.Forms

I'm closing this for now. If you still have an issue with the latest 5.0 release of Forms let me know and we can re-open

[2021-01-23 00:18] PureWeen commented on #13366
@rachelkang is still seeing this issue where she's at in the world so going to re-open for now :-/

[2021-01-23 01:09] AnthonyIacono commented on #6605
Does anyone have any ideas for working around this with a custom renderer?

[2021-01-23 02:09] xamiell commented on #3527
Hi!
Any update?

[2021-01-23 05:37] demoh2019 commented on #6908
Same here with Xamarin 5.0

[2021-01-23 06:03] john-larson opened #13509 "ZXing.Net.Mobile Not Working on iOS With Hot Restart"
Scanning a QR code on iOS using the Hot Reload feature of Xamarin.Forms does not seem to work. The video stream is displayed on the screen but QR code is not detected. And debug output shows the following error:

`Got a segv while executing native code.`

[2021-01-23 10:39] AlfonChitoSalano commented on #13436
@rmarinho and @samhouts  I have tried to update the XF version to this one https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/5.0/5.0.0-sr1 with the said fix #13182 and I'm still seeing the issue. I have updated the reproducible project here https://drive.google.com/file/d/1hg9fuqDpo0LRGn7ifj4mkJ68feK64nwv/view?usp=sharing. Would you be able to reopen the issue until this is fixe

[2021-01-23 11:18] vg12345 commented on #13431
Hi,

Attached is the sample application.

Reproduction steps for Xamarin Forms 5.0.0.1874

  1.  Press long on item until it become half-transparent
  2.  Start drag
  3.  Application is stuck immediately

Reproduction steps for Xamarin Forms 4.8

  1.  Press long on item until it become half-transparent
  2.  Start drag up and down continuously without leaving drug mode
  3.  Application is stuck

[2021-01-23 12:07] lauxjpn commented on #13352
@PureWeen With VS 16.8.4, the exact behavior as described in the OP still exists for both, Android (fail-safe is hit on second method call) and iOS (fail-safe is hit on first method call).

[2021-01-23 14:50] shahid-aman commented on #12141
Im having this same issue after updating to Forms 5. I am supposed to release my app this week. WTF.

System.NullReferenceException: Object reference not set to an instance of an object
  at Xamarin.Forms.Shell.GetNavBarIsVisible (Xamarin.Forms.BindableObject obj) [0x00000] in D:\a\1\s\Xamarin.Forms.Core\Shell\Shell.cs:104
  at Xamarin.Forms.Platform.iOS.ShellSectionRenderer+NavDelegate.WillShowVi

[2021-01-23 14:53] samt1925 commented on #13406
@PureWeen I can not reproduce it on a new project but trying to figure it out what's broke it.

[2021-01-23 15:40] PureWeen commented on #12141
@AndreasReitberger @shahid-aman your exceptions seem related to each other but not related to this issue

If you could create a new issue with a repro that would be helpful

[2021-01-23 17:01] AndreasReitberger opened #13510 "[Bug] NRE when Shell.Current.GoAsync() on PageDisappearing"
@PureWeen
Just tried the latest release, and this still happens.
Got this error when navigating with Shell.GoToAsync() to another page in code, while the current one is disappearing.

[code]

![image](https://user-images.githubusercontent.com/2952443/105205968-1b5f4980-5b46-11eb-836f-95e9f5f682e8.png)

I'm calling the Shell.GoToAsync() on the main thread. Could this be the problem?

[code]

__Orig

[2021-01-23 17:08] AndreasReitberger commented on #12141
Done 👍🏻

[2021-01-23 18:52] SailorTurkey opened #13511 "[Bug] Xamarin.Forms.Shell FlyoutHeaderBehavior="CollapseOnScroll" Doesn't Collapse But Scroll Header Content"
### Description
FlyoutHeaderBehavior="CollapseOnScroll" not working, Flyout just scrolls

### Steps to Reproduce

1. Create a new project,
2.  Use Xamarin 5.0.0.1905
3. Set Xamarin.Forms.Shell FlyoutHeaderBehavior to "CollapseOnScroll"

### Expected Behavior

On scroll down the flyout header should collapse and on scroll up should come uncollapse.

### Actual Behavior

Just scrolls the content.

#

[2021-01-23 19:08] Pelinalpp opened #13512 "[Bug] CollectionView ui is broken, when the grid is change"
### Description
CollectionView is broken (ui getting broken), when the grid is change on iOS.
Collectionview's grid doesn't broken on Android. But when I change grid, it turns back at the top of the list.

### Steps to Reproduce

1. Create a Xamarin Forms project
2. Create a collectionview, that can be one or more than grid. (This can be changed at runtime with a button)
Note: Collectionview eleme

[2021-01-23 19:24] IMLizKing commented on #13398
Thanks for taking a look.  I just made a [github repository](https://github.com/IMLizKing/ShowScrollViewTruncation) to demonstrate the bug and verified that it still fails for me on both my Pixel 4 (Android 11) and a Pixel 2 simulator running Android 10.  Make sure you scroll down to see that the content is chopped off.

I will also note that if the image can load before the layout (or re-layout)

[2021-01-23 20:21] salahAldeen98 opened #13513 "Properte to change underline color on selected tab"

[2021-01-23 20:24] samt1925 commented on #13406
https://github.com/samt1925/ThemeTestApp
If click the "Change to Dark Theme" or "Change to Light Theme" buttons and after use cmd + shift + A for change device theme, App.Current.RequestedThemeChanged not firing.

[2021-01-23 21:01] PureWeen commented on #13510
@AndreasReitberger

That shouldn't cause any problems.

Can you attach a reproduction?

[2021-01-23 21:25] PureWeen commented on #13511
@SailorTurkey are you seeing this on iOS or Android?

I'm able to recreate on iOS but for me Android is working fine so just want to make sure

[2021-01-23 22:37] SailorTurkey commented on #13511
@PureWeen  thanks for quick reply, yes its on android (android x)

[2021-01-23 22:38] PureWeen commented on #13511
@SailorTurkey can you attach a repro or the xaml you are using for your flyout header?

I'm not seeing any issues on my side with android

[2021-01-23 22:38] SailorTurkey commented on #13511
let me make a repro

[2021-01-23 23:37] mr5z commented on #13217
Still experiencing this on XF 5.0.0.1905

![image](https://user-images.githubusercontent.com/6318395/105617048-ee958580-5e16-11eb-99ad-36a0aae9758e.png)

[2021-01-24 00:00] davidortinau opened #13515 "[Bug] IndicatorView Template adds it's own background color"
### Description

I'm trying to create an `IndicatorTemplate` and expect the background of the element to be transparent, however color is being applied, so my template content is not the only thing visible.

Related, there is no Visual State for Selected.

### Steps to Reproduce

Add a template with content that isn't a rectangle. Run it. Observe that there is a background not present in the templ

[2021-01-24 02:38] mikebikerider commented on #13366
The issue has to be caused by changes in DatePickerRendererBase.UpdateDateFromModel(bool animate) from Xamarin.Forms 4.8 to 5.0.
A second work around could be custom renderer overriding OnElementChanged() and OnElementPropertyChanged().
As an extra bonus you can pick a desired DatePicker style - Default, Wheels, Compact for iOS 13.4 and higher.

using YourAppName.iOS.Renderers;
using Xamarin.Forms

[2021-01-24 02:56] dhiraj-shetty opened #13517 "[Bug] Unable to compile Xamarin iOS project using App Center"
I am unable to compile my Xamarin Forms iOS project using Appcenter. I have tried various versions of Xamarin Forms and all are throwing different errors in the Appcenter Build environment i.e.

**Xamarin Forms: 5.0.0.1905**
MTOUCH : error MT2101: Can't resolve the reference 'System.Void UIKit.UIDatePicker::set_PreferredDatePickerStyle(UIKit.UIDatePickerStyle)', referenced from the method 'System.

[2021-01-24 04:01] aperel66 opened #13518 "[Bug] Native Linking Failed - 30 errors"
### Description
After updating to version  5.0.0.1905 of Xamarin
<PackageReference Include="Xamarin.Forms" Version="5.0.0.1905" />
The IOS project no longer links.
It produces 30 linking errors that did not exist in previous version of Xamarin

### Steps to Reproduce

1. Update to latest XF 1905
2. Build Project
3.

### Expected Behavior
Project builds
### Actual Behavior
30 Linking errors
### Bas

[2021-01-24 04:05] davidortinau commented on #13515
Perhaps it's this line: https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms.Core/IndicatorStackLayout.cs#L98

[2021-01-24 06:35] AndreasReitberger commented on #13510
Hi,
I was able to create a repo showing the issue. Please find it attached.
The app has a LoadingPage. From this "OnAppearing" I call Shell.GoToAsync() to the LoginPage.
If you click the "Login" button, the exception is fired.
HOWEVER! Only if you do not use breakpoints... Seems to be a timing thing.

![image](https://user-images.githubusercontent.com/2952443/105623018-9f4f5500-5e16-11eb-8383-5e62

[2021-01-24 09:15] dhiraj-shetty commented on #13517
My Appcenter build settings was having a selection of  Xamarin iOS SDK which was pointing to an earlier SDK.

Pointing it to the latest version solved the problem.

[2021-01-24 09:15] #13517 closed

[2021-01-24 16:34] virsanna commented on #5894
@jfversluis @samhouts @kvpt
The same problem has appeared with Entry in case of Entry is within the TitleView.
The app is crashed with "System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.EntryRenderer from native handle"
The slightly simplified code fragment is below.
[code]
Literally the same structure with Entry inside the Grid on the page itself doe

[2021-01-24 18:12] EmilAlipiev commented on #12884
this still exist in the latest Vs2019 and XF5 it makes hot reload unusable for uwp xamarin

[2021-01-24 18:49] VPRoss commented on #13016
Getting this "Got a segv while executing native code" situation as well running on iOS with HotRestart. It was working prior to upgrading to Xamarin.Forms 5. Same app works fine against the Android emulator. There have also been iPhone updates in recent weeks so maybe some issue there? iPhone is 11 Pro Max with iOS 14.3

[2021-01-24 22:44] mrobraven opened #13519 "[Bug] BackgroundImageSource not constrained on iOS"
### Description
Basically I am trying to use BackgroundImageSource of a ContentPage which works fine on Android devices, fitting to the bounds of the screen. However on iOS, the image is not constrained to the bounds of the screen and only 1/3 of the image is visible because it is too large. I understand that there are workarounds to this which involve using a GridView but implementing this will b

[2021-01-24 23:01] PetrVobornik commented on #13445
Second use case scenario:

I select the item and by the existing event SelectionChanged I open the item detail on the second page.
I return back by the back button to the first page with the CollectionView and selected item.
I tap on the same item which is currently selected and the event SelectionChanged is not launched, because selection was not changed.

Yes, I can clear selection in OnAppearin

[2021-01-24 23:07] developersimsek opened #13520 "[Bug] Xamarin.Forms Android Failed to Create App Archive. Copy of the mdbs files failed."
### Description

[severity:I’m unable to use this version]
On Windows 10 I am using Visual Studio Version 16.8.4. I am no longer able to create an android archive. The last output from Xamarin is this:
Creating directory ‘0708d92989054ec99c2cef4f08e9833d’…
Copying msym ‘Xamarin.AndroidX.AppCompat.AppCompatResources.dll’
Cannot create the archive file because the copy of mdbs files failed.

### Ste

[2021-01-24 23:43] beeradmoore commented on #13258
I tested what @PaulMercer-SDS mentioned

5.0.0.1558-pre3 works
5.0.0.1709-pre4 broken
5.0.0.1905 broken (though I didn't expect this to contain a fix)

I had a real quick browse of pre4 and what had changed and nothing stood out immediately.

[2021-01-25 01:17] haiduong741 commented on #13303
My project does't has any Reference which your comment @LanceMcCarthy
![image](https://user-images.githubusercontent.com/37478492/105650238-b8730700-5ee5-11eb-9476-68dbe002537e.png)

[2021-01-25 02:00] LanceMcCarthy commented on #13303
You need to get rid of all those Support.v7 libraries (they are deprecated in Android 10). Just manually delete them, then do a package restore, so the XF 5.0 can restore its AndroidX dependencies and do a clean/rebuild.

[2021-01-25 02:18] LittleCornerDev commented on #13079
Just found out, even with an explicit unfocus before opening the address book, picking a contact on iOS *half* works:
- If user does not use the address book search bar, then contact details are returned and picker opens/gets focus successfully.
- It user uses the search bar, the contact details are returned, but the picker does not get focus.

[2021-01-25 03:13] haiduong741 commented on #13303
Sorry but it not working for me. :( What I missed anything?
![image](https://user-images.githubusercontent.com/37478492/105656923-f2e4a000-5ef5-11eb-9c54-dbbcf0f994ec.png)

[2021-01-25 09:04] alex-relov opened #13522 "Problem while rendering the page [Bug]"
### Description
On android if at the moment of initialization an element has a height of 0, after which its height changes, then other elements on the page stop being displayed. When the focus is received by the Entry field, the page will be re-rendered and the elements will be displayed correctly.
### Steps to Reproduce

1. Clone https://github.com/alex-relov/FormsSample
2. Start in android devic

[2021-01-25 10:30] marylouisefauske opened #13523 "[Bug] CollectionView displays wrong data (iOS)"
### Description
CollectionView displays random, inconsistent data when refreshing (CollectionView wrapped in RefreshVIew). Data is displayed correctly whenever a hot reload occurs. This issue occurs on iOS only. In our case we have a CollectionView that displays a color depending on the value of an enum, using DataTrigger, and the colors are not displayed corresponding to the statuses on iOS (work

[2021-01-25 10:40] MelissaW990 commented on #13420
Still encountering this issue on XF version 5.0.0.1905

[2021-01-25 10:47] Huaba93 commented on #13436
I agree, it still happens with Forms 5.0.0.1905. It seems to be a timing issue, when I use binding I can't always reproduce it guaranteed.

This is working:
[code]

this is not working:
[code]

[2021-01-25 11:07] Burgler-dev commented on #12300
I'm experiencing the exact same problem, a fix is needed! App crashes are serious. Does anyone has found a way around this? I still would like to be able to use sheets.

[2021-01-25 11:13] Immons commented on #13397
Confirm this bug. Just stuck on that...

[2021-01-25 11:24] rmarinho commented on #13523
Hello, seems i can't download the reproduction zip file, was it uploaded ?

[2021-01-25 11:27] orikworld commented on #12300
I have same issue, any workarounds?

[2021-01-25 11:36] ramidisha opened #13525 "[Bug] iOS crash from native code"
### Description

I am using AppCenter to track errors and crashes for my Xamarin Forms app and from the reports many crashes with the following native stacktrace are shown:
`BoxRenderer.LayoutSubviews ()
(wrapper managed-to-native) UIKit.UIApplication.UIApplicationMain(int,string[],intptr,intptr)
UIApplication.Main (System.String[] args, System.IntPtr principal, System.IntPtr delegate)
UIApplicati

[2021-01-25 11:39] marylouisefauske commented on #13523
@rmarinho The reproduction zip file should be uploaded now.

[2021-01-25 12:04] timvandenhof commented on #6579
I can confirm this issue still exists in Xamarin.Forms 5.0.0.
As this only affects the Samsung keyboard, is this not a specific issue with the Samsung keyboard itself? Or is it really Xamarin that has to specify the required input options more clearly to the OS?

[2021-01-25 12:53] developer9969 commented on #13303
@haiduong741  hi there, I feel your pain!!! Nightmare. I did manage to make it work and I had a mixture of

- Support Library
- AndroidX
- Syncfusion (third party)

After different approaches did not work I did the following "drastic approach"

1. Created a temp Branch
2. Remove all the classes in my android project  (no many in my case)
3. Removed all the supported library and androidX and syncfu

[2021-01-25 13:00] rmarinho commented on #13525
this seems a duplicated of #13136  it should be fixed on 5.0.0, please upgrade.

Thanks

[2021-01-25 13:00] #13525 closed

[2021-01-25 13:14] inimirpaz opened #13526 "[Bug] [iOS] App crash when rendering label with FormattedText in XF 5.0.1.1876"
### Description

This is a possible duplicate of https://github.com/xamarin/Xamarin.Forms/issues/12259 .
In Xamarin.Forms 5.0 (5.0.1.1876) when you have a label whose text is composed by "Label.FormattedText -> FormattedString" the iOS app crashes when the page is displayed (after the constructor and - if I recall correctly - the OnAppearing are executed) giving System.ArgumentNullException . Andr

[2021-01-25 13:26] sbeckmann commented on #13377
@PureWeen no, I hadn't tested that but I did now and you're absolutely right - same behavior there.

[UwpWebViewTest.zip](https://github.com/xamarin/Xamarin.Forms/files/5866789/UwpWebViewTest.zip)

Is there a way to convert this issue to a UWP issue or could you tell me which repo on GitHub I should report this issue to?

[2021-01-25 13:42] gentledepp opened #13527 "[Bug] When navigating back to a previous page (modal stack), OnAppearing() is not called"
### Description
When you have multiple pages in a modal stack and you navigate back, the `OnAppearing()` callback of the previous page that you return to will only be called for the most inner level.
E.g.: You have 3 modal pages: 1, 2 and 3. You start with page 1, then you navigate to 2 and from 2 to 3 (modally) => your stack will be 1/2/3;
Now, navigating back from 3 to 2 will call `2.OnAppearing

[2021-01-25 13:51] mapanjwani commented on #8234
+1

[2021-01-25 14:06] ChristopherMWood commented on #13448
Hey @rachelkang, thanks for reading and reproducing this issue! The test repo does not reproduce the issue on Android unfortunately. Android has way less font scaling sizes available so it's much harder to reproduce and in my testing was unable to get a consistent example that reproduced in both iOS and Android using the same layout and settings. This issue was originally reproduced in a productio

[2021-01-25 14:20] CartBlanche commented on #13397
@immons, thanks for confirming. Sadly I've not heard anything back from @samhouts or @jsuarezruiz in nearly 2 weeks now, so no idea where this crash is on their fix list.

[2021-01-25 14:38] rmarinho commented on #13526
Hi @inimirpaz that version seems to be a nightly where did you get it?
Can you try 5.0.0 stable like 5.0.0.1905 from Nuget.org.?!

Thanks

[2021-01-25 14:57] LanceMcCarthy commented on #13303
@haiduong741 There are multiple problems there.

The first problem is you have a reference for a 25.4.0.2 v7 support library, you also have references for v7 28.0.0.3. Those all need to be the same 28.0.0.3 version. However, that is not your fundamental problem.

### Bottom Line

The bottom line is anything that starts with **Xamarin.Android.Support**.xxx _cannot_ be used with Xamarin.Forms 5 or l

[2021-01-25 15:06] inimirpaz commented on #13526
Hi @rmarinho ,
you are right... I have NO idea how I ended up enabling the nightly nuget channel, but that was the case as the 5.0.1.1876 was labeled as "stable" I updated to that...
The issue is not present in the latest -real- stable 5.0.0.1905, thanks! (but you might still want to investigate the issue in the upcoming version)

[2021-01-25 15:31] rmarinho commented on #13526
I tested the latest nightly and works fine, maybe we fixed it already.

[2021-01-25 15:31] #13526 closed

[2021-01-25 15:37] LanceMcCarthy commented on #13303
@PureWeen We have identified the problem, it is a conflict of object types in the `Xamarin.Google.Android.Material` package against external definitions.

As a quick public example, imagin you defined the following in the native Android project's attrs.xml (notice format is set to `float`):
[code]

However, take a look at one of the attributes being used in the lastest version of `Xamarin.Google.A

[2021-01-25 15:41] developer9969 commented on #13303
@LanceMcCarthy  Excellent explanation, however I did not know that

I have some apps that have a mix of support and Androidx set with a target of Android10 and they compile and I dont have any errors. My understanding is that at build time it will Swap them to AndroidX and dont have to be all AndroidX. (Of course we want to use AndroidX)

Below is an extract from the doc you referenced.
![image](h

[2021-01-25 15:41] rmarinho commented on #13519
Hi @mrobraven can you upload simple sample so we can try to understand better?!

Thanks

[2021-01-25 15:44] GalaxiaGuy opened #13530 "[Bug] [iOS] CollectionView visible cells not updating correctly when using XCT ObservableRangeCollection after recent semaphore fix"
### Description

I have a `CollectionView.ItemsSource` bound to an `ObservableRangeCollection` from Xamarin Community Toolkit.
Some time after being initially shown, some items are removed and some items are added using `AddRange` and `RemoveRange`.

The visible cells do not change.

I don't know if the bug is in Forms, or XCT, but this worked fine in Forms versions without this fix: https://githu

[2021-01-25 15:52] LanceMcCarthy commented on #13303
You are correct, the bindings should get compiled for AndroidX, but that is assuming the process does a perfect discovery and match. This is mostly to help the transition for projects using libraries that haven't been updated with AndroidX dependencies yet (the transistive part of the puzzle).

In the case of Lunk's project, since he's already going to be fixing a bunch PackageReferences list, mig

[2021-01-25 15:53] omghb opened #13531 "[Bug] Android: App gets killed during Application.OnSleep operation"
Issue: App gets killed before my `Application.OnSleep` override completes with saving the current state into a JSON file.
Version: Xamarin.Forms 5.0.0

The current Xamarin Forms implementation for `OnSleep` is called when the Activity goes from `OnPause` to the `OnStop` state. See:
https://github.com/xamarin/Xamarin.Forms/blob/3276a592381e579d9c065945d6efdccd68941d7c/Xamarin.Forms.Platform.Android

[2021-01-25 15:56] mrobraven commented on #13519
Hi,

Attached below are two screenshots from the XAML previewer. Android, with the image (background gradient) displaying correctly and iOS where the image is far too large.

**Android**
![Screenshot 2021-01-25 at 15 52 16](https://user-images.githubusercontent.com/10405903/105730056-d2ccd500-5f25-11eb-83b1-8fef2a940e32.png)

**iOS**
![Screenshot 2021-01-25 at 15 54 49](https://user-images.githubu

[2021-01-25 16:01] developer9969 commented on #13303
thanks you for your time in answering . I spent at least 3 full working days on this issue. Very very frustrating.
Next task is to remove those support library where I can, some third party vendors have not upgraded. We use one for notifications and they wont move to androidX.

Again, brilliant explanation

[2021-01-25 16:40] aperel66 opened #13533 "[Bug] Android Emulator Fails with Out-of Memory Exception when decoding image"
### Description
I am running an Android Emulator through Hyper-V and I have allocated 4 GB to it on my 64 GB I-9 machine
### Steps to Reproduce

1. Try to decode a 2048x2048 image
2.
3.

### Expected Behavior
Image decodes
### Actual Behavior
Java.Lang.OutOfMemoryError
  Message=OOM allocating Bitmap with dimensions 2048 x 2048

### Basic Information

- Version with issue:
- Last known good versio

[2021-01-25 16:41] aperel66 commented on #13533
OS Name	Microsoft Windows 10 Pro
Version	10.0.19042 Build 19042
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Name	ALEX-I9
System Manufacturer	Dell Inc.
System Model	XPS 8930
System Type	x64-based PC
System SKU	0859
Processor	Intel(R) Core(TM) i9-9900K CPU @ 3.60GHz, 3600 Mhz, 8 Core(s), 16 Logical Processor(s)
BIOS Version/Date	Dell Inc. 1.1.15, 7/1/2020
SMBIOS

[2021-01-25 18:11] Redth commented on #13519
Could you please attach a sample project with the image and code used to produce those screenshots?  Thanks!

[2021-01-25 18:12] Redth commented on #13468
Can you attach the contents of the MSFSAddonsHub.Forms.iOS.csproj file?

[2021-01-25 18:23] thisismyself commented on #11652
The AppThemeBinding feature is absolutely great. But issues like this here make styling really annoying, frustrating and just partly usable. It gives Xamarin-haters in managements and tech boards arguments against Xamarin, unfortunately.

[2021-01-25 18:31] rodrigojuarez opened #13535 "Can't hide entry underline in Android after upgrading to Xamarin.Forms.Visual.Material 5.0.0.1905"
### Description
Can't hide the entry underline in Android after upgrading to Xamarin.Forms.Visual.Material 5.0.0.1905.
I was using a custom renderer with a CustomEntry class to hide the entry underline and after the upgrade of Xamarin.Forms & Xamarin.Forms.Visual.Material it's not working anymore

### Steps to Reproduce

From various stackoverflow posts I tried the following in my custom android r

[2021-01-25 19:08] meJevin commented on #13463
@PureWeen, bump

[2021-01-25 20:36] chrisgull commented on #9803
I'd be interesting in seeing this and other Shell aspects being truly cross platform. Thanks guys.

[2021-01-25 20:51] rmarinho commented on #13296
Hey i can fix the issue of the crash but i m trying to figure out why it doesn't work the 2nd time (clear the items) .

Will keep you posted @ahoefling

[2021-01-25 21:45] Redth commented on #13377
Hi there, unfortunately there's no easy way to transfer the issue, please use the Report Feedback feature in Visual Studio to create the issue and attach the sample for the UWP team to look at.

Thanks!

[2021-01-25 21:45] #13377 closed

[2021-01-25 22:10] franciscc commented on #4678
This works for me! VS2019 01/25

[2021-01-25 22:23] danhermes commented on #11793
Hi folks. ETA on this? It's blocking my stories for a large client who has legal obligations for accessibility.

[2021-01-25 22:43] demoh2019 commented on #8431
fix pls)

[2021-01-25 23:36] andreas-siegmund commented on #5175
Hi,

I faced this issue now as well and after some investigation you find a lot of examples of people having a similar issue. Often it is about some text entry field losing the focus when another button on the page is pressed. The proposed solutions for those issues were always some dirty hacks. Hence I would assume that the root cause of this issue also affects those cases with the entry fields.

[2021-01-26 00:03] PureWeen commented on #11793
This PR fixes a lot of fundamental issues with CV/LV/ScrollView on iOS https://github.com/xamarin/Xamarin.Forms/pull/13300

The core issue here though is that TabIndex/TabStop doesn't really work very well on iOS/Android and I'd recommend against it

If you can test the latest version of 5.0 @danhermes and if you're still having issues can you attach a repro

If you take a look at https://github.c

[2021-01-26 01:42] stanios opened #13537 "[Bug] Cannot access a disposed object. Object name: 'PageContainer'."
### Description
Removing a gesture recognizer that's inside a page's effect throws an exception: Cannot access a disposed object. Object name: 'PageContainer'.
### Steps to Reproduce

Not always reproducible, but essentially we need to have a _PlatformEffect_ with a gesture recognizer on a Xamarin.Forms.ContentPage. When the effect in question calls its OnDetached method, we will remove the gestur

[2021-01-26 01:49] haiduong741 commented on #13303
I has been sloved problem after update XF 5.0.1931 and remove v7 reference.
Thanks for your solution @LanceMcCarthy
Thanks for your support @developer9969
Thanks you..

[2021-01-26 04:36] robertsan96 commented on #7741
Still happening in VS for macOS (both Android & iOS)... 👎

[2021-01-26 05:38] demoh2019 opened #13538 "[Bug] CollectionView Rotate"
### Description

When rotating the screen horizontally and then vertically, the collectionview disappears

### Steps to Reproduce

1. Rotate the phone to a horizontal position
2. Rotate your phone to an upright position

### Expected Behavior

collectionview adapts to screen size

### Actual Behavior

collectionview disappears

### Basic Information

- Version with issue: latest versions
- Affecte

[2021-01-26 09:06] GalaxiaGuy commented on #13530
Although this is true in the small test case, it does not seem to be true in the app I'm currently working on. When using `ObservableCollection` the cells update, but all change to have the same content as the last visible cell (again scrolling the cell off screen back on again fixes it).

[2021-01-26 09:22] kerberosargos commented on #9126
Same issue is for me too.

[2021-01-26 09:43] AswinPG commented on #13110
if we change the height request of a child element from the cs file or if we are using multiple bindable layout inside the scrollview, this error happens. we cannot see to the end. the elements at the end are not shown

[2021-01-26 10:08] EmilAlipiev opened #13539 "[Enhancement] Comma or Semicolon separated Styles on OnIdiom and OnPlatform"
## Summary
Instead of this

[code]

this

[code]

I am not sure if comma is possible as it is used already on other purpose but maybe a semicolon can be used.

[2021-01-26 10:34] GalaxiaGuy commented on #13539
I suspect this is not reasonably achievable, since the exact syntax used is general to `MarkupExtension`s, and is not specific to `OnIdiom`

[2021-01-26 11:21] Tommigun1980 commented on #13530
I think this may be the same issue as https://github.com/xamarin/Xamarin.Forms/issues/13126#issuecomment-751310883, as that issue is using an OptimizedObservableCollection with AddRange (that sends RESET events)?

[2021-01-26 11:24] Tommigun1980 commented on #13126
I found a workaround for now that allows me to update to XF5-pre5 and later:

After doing a batch edit/toggling visibility on a CollectionView, force set the ItemsSource to null and back in your code-behind:
[code]

Needless to say this issue that was introduced in 5.0.0-pre5 needs to be fixed, but at least the above should allow your app to function in the interim.

[2021-01-26 11:26] AlexanderMelchers opened #13540 "[Enhancement] Remove the EventArgs type parameter constraint from WeakEventManager"
## Summary
With XF 5.0 the `WeakEventManager` has been made public. I highly laud this development, as this is a step in the right direction to expire my custom implementation. However, in all cases where I'm using my own `WeakEventManager`, I'm using events with handlers that pass object-values rather than `EventArgs`. The constraint `where TEventArgs: EventArgs` in Forms' implementation of the `

[2021-01-26 11:29] rmarinho commented on #13538
Hi @demoh2019 thanks for your report , i tried to reproduce but wasn't able too, can you please upload a small repro and specify what version of forms you are using.

Thanks

[2021-01-26 11:34] rmarinho commented on #13537
Hi @stanios  thanks for your feedback, it will be really hard to try to understand this without a proper reproduction, can you please upload a small sample with the code you use?.

Thanks

[2021-01-26 11:36] SWarnberg opened #13541 "[Bug] Editor Placeholder is duplicated (again) in Xamarin Forms 5"
### Description
The placeholder in the Editor is yet again duplicated, and overlapped, in Xamarin Forms 5. This was originally reported in [https://github.com/xamarin/Xamarin.Forms/issues/5822](https://github.com/xamarin/Xamarin.Forms/issues/5822) and fixed in [https://github.com/xamarin/Xamarin.Forms/pull/5823](https://github.com/xamarin/Xamarin.Forms/pull/5823).
However, it seems to be back now:

[2021-01-26 11:37] rmarinho commented on #13535
Hi @rodrigojuarez thanks for your feedback, To better understand the problem please upload a small reproduction of the problem.

Thanks

[2021-01-26 11:46] SWarnberg commented on #13541
Just tested with latest NuGets, still same issue, so I updated description above.

[2021-01-26 12:00] rmarinho commented on #13531
Hi @omghb  i just tested this in our repo and it seems it's able to save the properties without a problem.

Can you please upload a small reproduction of the issue so we can take a look.

Thanks

[2021-01-26 12:10] jegerkarlkoder commented on #13538
I see the same issue, in my case the issue related to "Loop" setting if set to "true" it works if "false" layout is not updated correctly on ios when rotating.

[2021-01-26 12:13] abbalooga opened #13543 "[Enhancement] Make named font size scaled for accessibility, and all numerical font sizes fixed"
## Summary
I cannot find a way to keep font sizes fixed on android between devices using differing font scale settings. This makes it impossible to create a neat interface for displaying information that is fixed across devices.
It would make logic that named font sizes are subject to user scaling but numbered font sizes are fixed to the developers design wishes.

## API Changes

We would require

[2021-01-26 12:27] rmarinho commented on #13541
Hello, i just tested this on 5.0.0 and i can't reproduce, can you upload a simple sample.

![image](https://user-images.githubusercontent.com/1235097/105844925-e46bb680-5fd1-11eb-95cf-c4940e358b77.png)

Thanks

[2021-01-26 12:31] omghb commented on #13531
An important thing to mention is that this issue happens but quite seldom -> it is not reproducible.

It depends on the decision of Android kill the app instead of completing OnStop first.

[2021-01-26 12:32] rmarinho commented on #13518
What Xcode version do you have? is VS updated ?

[2021-01-26 12:39] rmarinho commented on #13512
Hi @Pelinalpp seems there are a couple of details there, can you please upload  a small reproduction to help us understand the problem?

Thanks

[2021-01-26 12:51] rmarinho commented on #13357
I can confirm the footer is not displayed on Android.

[2021-01-26 12:56] rmarinho commented on #13371
Hi @stesvis i had some issues trying to reproduce this issue, is it possible to upload a small sample that shows the problem instead of the video.

Thanks

[2021-01-26 13:04] jsuarezruiz commented on #13495
@Tommigun1980 Could you take a look to the previous attached sample? We must be doing something different. I can't reproduce the glitch.

[2021-01-26 13:14] YZahringer opened #13544 "[Bug] DataTrigger not applied when null at initial"
### Description
The `DataTrigger` is not applied if the value is `null` at the beginning, but it is applied later if the value changes.

Binding to:
- **Nullable** type with default value => Trigger **not applied** at beginning
- **Non nullable** type with default value => Trigger **applied** at beginning

So the trigger is applied at the beginning only if the Binding value is not null. I think th

[2021-01-26 13:25] AlexanderMelchers opened #13545 "[Enhancement] Allow specification of an event source with the WeakEventManager"
## Summary
With XF 5.0 the `WeakEventManager` has been made public. I highly laud this development, as this is a step in the right direction to expire my custom implementation. However, the current Forms' implementation can only be used within the event-source, not the listener. Adding the possibility of specifying an event-source would remedy this, and would greatly extend the usefulness of the `

[2021-01-26 13:26] gertverhoeven commented on #9520
I have the same issue with the background color set dynamically with a converter based on a property of the item (only some items needs another background color.  When scrolling, the same color pattern is showing up again even the property has another value for that item.

[2021-01-26 13:26] AlexanderMelchers commented on #13540
Although this issue has merit on its own, I think it gains when seen together with #13545.

[2021-01-26 13:26] Tommigun1980 commented on #13543
This is especially important with font images.

[2021-01-26 13:31] SWarnberg commented on #13541
Did you apply Visual Material in your test?
This is how it looks in our production version with 4.8:

![image](https://user-images.githubusercontent.com/26246346/105850941-b17dee80-5fe2-11eb-99f0-f04da11230fd.png)

Exact same code, the only change between the branches are the upgrade of the NuGet packages as specified.

Will see if I can get the time to create a sample.

[2021-01-26 13:45] Tommigun1980 commented on #13495
Hi. I will try to figure out what exactly causes the glitch today.
Unfortunately it started to happen with the CollectionView now as well, so it seems random as it doesn't happen every time. I didn't change anything between now and when I last tested it, so presumably some condition will need to happen for the bug to materialise. I'll try to isolate what exactly it is and add it to the repro case.

[2021-01-26 13:47] ClaytonIndustries commented on #13541
This should be enough to repro

`<Editor Placeholder="Anything" Visual="Material" />`

[2021-01-26 13:51] Tommigun1980 commented on #13126
Any chance of this issue getting fixed? There is a repro in this bug report. This also seems to produce new bug reports weekly as this is quite a fatal regression.

Thank you.

[2021-01-26 13:52] ClaytonIndustries commented on #13538
Also seeing the same effect in Xamarin.Forms 5.0.0.1931, but my case is if the CollectionView is initially not visible, then becomes visible nothing is shown. Same console output as @demoh2019

[2021-01-26 13:55] PLBSoft commented on #13541
Hello @rmarinho
The issue can be reproduced with
 https://github.com/xamarin/xamarin-forms-samples/tree/master/UserInterface/VisualDemos => Editors

### Expected behavior
![image](https://user-images.githubusercontent.com/11420054/105853319-d7f15900-5fe5-11eb-9697-1e2a88916413.png)

### Actual behavior
Since Xamarin.Forms and Xamarin.Forms.Visual.Material 5.0.0.1874
![image](https://user-images.gi

[2021-01-26 14:04] SWarnberg commented on #13541
Exactly. Or use attached project. Go to item details page.
[Xamarin Forms 5 Editor.zip](https://github.com/xamarin/Xamarin.Forms/files/5873736/Xamarin.Forms.5.Editor.zip)

[2021-01-26 14:40] Tommigun1980 commented on #13495
[Issue13495.zip](https://github.com/xamarin/Xamarin.Forms/files/5873943/Issue13495.zip)

Hi @jsuarezruiz. Please find updated repro case in this project. A couple of notes:

1) It **never** happens on the first pull out, and **always** happens on consecutive pulls of the swipe items.
2) I removed the forced background color on the grid, as it was masking the issue. I have a background image and no