[2020-10-27 23:10] acuntex commented on #11986
@rickclephas Wrapping the Editor in a StackLayout does not work in my case.
It behaves differently though, if I put it in a StackLayout I see the first line instead of the second line until it resizes.

This bug is a big blocker for us, we can't go online because of it after 10 months of hard work!
It is a basic control of Xamarin.Forms which is in Xamarin for years. Please fix it.

[2020-10-27 23:22] PureWeen commented on #12605
@zleao you can't remove the TimePicker from the visual tree while it's still open. This causes the renderer to dispose of the dialog because it's been removed from the visual tree. Once the dialog is closed the listener that's past into the created dialog tries to fire a callback event on that disposed of dialog

You'll need to wait until the dialog is closed or create your own dialog that doesn't

[2020-10-27 23:22] #12605 closed

[2020-10-27 23:42] aminkhiar commented on #12071
@pictos after a couple of investigation, i am seeing this issue only on Android not IOS . any insight would be appreciated ?

[2020-10-28 03:54] Strypper commented on #12561
Have a look at this repo: [(https://github.com/E-vaTRON/SmartZone)]
Custom Control
Name: DeviceViewCell
Location: SmartZone/ControlZone/ControlZone/Components/DeviceViewCell/

Issue Bindable Property
Name: Percentage
Location: SmartZone/ControlZone/ControlZone/Components/DeviceViewCell/DeviceViewCell.xaml.cs

Testing Place
Name: "SubjectRequestList" CollationView
Location: SmartZone/ControlZone/Co

[2020-10-28 04:09] jbtamaresgit commented on #11233
I've installed the
[code]
Manifest
[code]
Error
[code]

It looks like it is having a conflict com.google.android.gms.version conflicts with com.google.firebase.iid, any resolution to this? Updating the manifest updates the meta data on it also, so I cannot do what the ide suggested to do so.

[2020-10-28 04:50] rikun5989 commented on #12625
There might be some problem in visual studio 2017 with xamarin project. Howevevr it works fine in Visual studio 2019.
I try to run your project in 2017 but same problem occured, but it works fine in 2019.

[2020-10-28 06:16] rickclephas commented on #11986
@acuntex there are a couple of issues with the `Editor`... checkout these other issues: #12062 and #5659

[2020-10-28 06:45] EddieNoureddine opened #12633 "[Bug]"
### Description
Image, Text, any view would flip/mirror in CollectionView header if  flowDirection = RightToLeft iOS only!

### Steps to Reproduce

1. Set ContentPage flowDirection to RightToLeft
2. Put any image e.g arrow pointing right , or write Arabic , Hebrew any rtl text in collectionView header

### Expected Behavior
should show image, text, view  without mirroring

### Actual Behavior

- t

[2020-10-28 07:35] AlleSchonWeg commented on #12630
I reported the same issue: https://github.com/xamarin/Xamarin.Forms/issues/11843

[2020-10-28 07:42] jspuij commented on #12112
Found a nice list of issues for iOS/macOS because of the changes to the runtime for .NET 5: https://github.com/xamarin/xamarin-macios/issues/8901.

Some more issues (and some enhancements) here:
https://github.com/xamarin/xamarin-macios/milestone/35

For mono on android:
https://github.com/xamarin/xamarin-android/milestone/21

[2020-10-28 08:19] SWarnberg commented on #6579
It's very sad to see that this is still not fixed. This is not the only bug related to locales in Xamarin. Is this a US-only framework?

@omghb, is your workaround still valid in Xamarin Forms 4.8? Because when I use it, the default keyboard is shown instead of the numeric keyboard.

@nebula2, just to confirm, your workaround doesn't work on Samsung devices, right? Since dots aren't even coming to

[2020-10-28 08:19] StephaneDelcroix commented on #12620
as a workaround, try to add a dot `.` between the 2 indexers, like in `Foo[index0].[index1]`

[2020-10-28 08:23] nebula2 commented on #6579
I am using a Huawei phone. but I have an old Samsung S5. I will try and see if that works there. If not it would mean a small adjustment. i am using this value converter in prod and had no issues until today

[2020-10-28 08:35] mrpmorris commented on #12112
Blazor Mobile Bindings is near the top of my things to try. If it won't work with NET5 it looks like it has died before it even got started and so isn't even worth considering.

[2020-10-28 08:36] kevcrooks commented on #12404
Thanks @activa I tried this and it seems to have a similar problem (it's difficult to do repeated testing because I only see this in release mode, which takes time to build!).

The startup time might reduce slightly, but at best is > 30s which is too slow for us to use.

If there's not a good fix for this, we'll have to revert to doing fonts on a per-platform basis again, but I'd thought there mus

[2020-10-28 08:57] acuntex commented on #11986
@rickclephas Yep, I honestly don't understand it. Is no one using Xamarin.Forms in productive Apps that are a bigger than the usual example App?

I've dealt with bugs in React-Native before, but Xamarin.Forms has a lot of bugs you can't just workaround in basic components.

[2020-10-28 09:01] GalaxiaGuy commented on #12561
`DeviceViewCell` is trying to bind to a `Percentage` property. Since no source is specified this is looking for that property on the `BindingContext`, i.e. your viewmodel, an instance of `DeviceBase`.

If you intend to bind to the `PercentageProperty` you have created on `DeviceViewCell` you need to specify the source, with something like:

`Progress="{x:Binding Percentage, Mode=TwoWay, Source={Re

[2020-10-28 09:13] KarthikRaja26 opened #12635 "[Bug] UWP - FontIcons not showing in Latest Xamarin Form release"
### Description

FontIcons not showing in Latest Xamarin Forms Release in UWP platform

### Steps to Reproduce

1. Run the attached sample
2. Note the icon is not rendering properly and it's like a rectangle shape.

### Expected Behavior

Font Icons should show.

### Actual Behavior

Font Icons showing like a rectangle and broken

### Basic Information

- Version with issue: 4.8.0.1560
- Last know

[2020-10-28 09:38] jsuarezruiz commented on #12609
Tested with 4.8 and 5.0. Using Xamarin.Forms 4.8 I can reproduce the problem on Android (it works on iOS). In 5.0 it works in both cases.

[2020-10-28 09:45] jsuarezruiz commented on #12384
@hartez Could this be related/fixed by https://github.com/xamarin/Xamarin.Forms/pull/12475?

[2020-10-28 10:12] jsuarezruiz commented on #10466
I have done some tests using Xamarin.Forms 5.0 in a Device using Android 10:

![issue10466](https://user-images.githubusercontent.com/6755973/97422262-ddb79f80-190d-11eb-965e-2aee8fc908d3.gif)

The results:

- CloseRequested - Never fires when swiping. That is correct, this only fire using the Close method.
- OpenRequested - Never fires when swiping. That is correct, this only  fires now using the

[2020-10-28 10:16] jsuarezruiz commented on #12345
@Tommigun1980 I am using Xamarin.Forms 5.0.0 branch and iOS 14.1 simulators. Could you attach an example where reproduce the issue?

[2020-10-28 10:53] acuntex opened #12637 "[Bug] [iOS] Random Crashes on iOS with Images in CollectionView"
# Description
Sometimes the iOS app randomly crashes with images in a CollectionView. The following stack trace came out of Crashlytics:
[code]

### Steps to Reproduce

1. Use Images in a CollectionView
2. Use the app like a user does, i.e. go back and forth and use it like a wild animal. (idk what to say about a random crash?!)

### Expected Behavior
The app does not crash

### Actual Behavior
Th

[2020-10-28 11:02] TsplayerT commented on #10801
@mduchev or does anyone know why version 5 of Xamarin will be released saying that this problem has been fixed but is still occurring? I could not understand.

Even using this line `Forms.SetFlags (" UseLegacyRenderers ")` in the project, an exception occurs with ObjectName:
`Xamarin.Forms.Platform.Android.AppCompat.FrameRenderer`

Without line to flag, the exception has this ObjectName:
`Xamarin.

[2020-10-28 11:04] jsuarezruiz commented on #10563
@WilliamWatterson86 and @Rothanan Could you try using the NuGet from https://github.com/xamarin/Xamarin.Forms/pull/10575?

[2020-10-28 11:23] Rothanan commented on #10563
Im Sorry, I tought this was an UWP Topic, I'm having trouble with this in UWP.

The solution tou mentioned doesnt fiz It for UWP.

[2020-10-28 11:45] Tommigun1980 commented on #12345
Hi. This is the XAML:

[code]

I don't have any special renderers or styles for check box.

[2020-10-28 11:48] Tommigun1980 commented on #12616
Hi @PureWeen.

I have the default turned on, ie entire page.

The flex layout is inside a modally pushed page. All other changes are propagated, except to the ones to a flex layout.

[2020-10-28 11:51] Tommigun1980 commented on #12555
Hi. I don't see any issue with FFImageLoading so I won't be replacing it, but thanks for the suggestion. I am positive it has nothing to do with the collection view and list view issues, I had issues with them before even using FFImageLoading and I can't see how just the mere presence of its NuGet would somehow break the other components. But I did have the entire NuGet removed when I tested remov

[2020-10-28 12:21] dellis1972 commented on #11233
@jbtamaresgit

Looking at the error message it looks like you have two `meta-data` items somewhere for `com.google.android.gms.version` (this includes in a Nuget Package that has been imported).
One has an `android:value` of `4.2.0` (hardcoded) the other has `@integer/google_play_services_version`. This is what is causing that error. you could try updating the one with `4.2.0` to use `@integer/goo

[2020-10-28 12:28] WanftMoon commented on #12626
@PureWeen @samhouts
Can you link the duplicate issue?

[2020-10-28 12:37] AdamDiament commented on #10466
Thanks @jsuarezruiz . I have upgraded to 5 pre3 and I get the same behaviour now. However SwipeChanging, SwipeEnded and SwipeStarted only seem to fire when opening the item. Once the item it open, upon swiping to close, none of the events fire. Is this expected behaviour?

[2020-10-28 12:38] praveennachi60 commented on #7046
That's Great. This is what I looking for..Thank you @Gckumar999 .
Its working as I expected.

[2020-10-28 12:53] JKennedy24 commented on #12538
Extra Info: I just tried:
**Resources**
`            <SolidColorBrush x:Key="CompleteColourSBC">#27ae61</SolidColorBrush>`
**XAML**
`<Ellipse Fill="{StaticResource CompleteColourSBC}" StrokeThickness="0" WidthRequest="10" HeightRequest="10" HorizontalOptions="End" VerticalOptions="End" Margin="0,0,2,2" >`

But that didnt work,

The only thing that actually worked was:
`<Ellipse Fill="#27ae61" Stro

[2020-10-28 13:09] AswinPG commented on #7046
How can we do infinite loading with it ?

[2020-10-28 13:53] mduchev commented on #10801
@TsplayerT I think that the issue that we are both seeing (the FrameRenderer exception) is a separate issue. The main issue - the one with the LabelRenderer may be indeed fixed, but a similar bug is happening with the FrameRenderer. I also noticed the new exception only when I'm using something inside a Frame. Unfortunately, I cannot pinpoint the exact layout and steps which crash the app. If you

[2020-10-28 14:17] Druffl3 opened #12639 "Platform-Support-macOS-Status wiki is not updated"
The latest Xamarin.Mac release notes was updated on 09/02/2020 here: https://docs.microsoft.com/en-us/xamarin/mac/release-notes/6/6.99. Why isn't the status of the controls not updated here: https://github.com/xamarin/Xamarin.Forms/wiki/Platform-Support-macOS-Status

[2020-10-28 15:02] prabh-62 commented on #12587
<img width="886" alt="xamarin_forms_references" src="https://user-images.githubusercontent.com/13006107/97453248-f030d980-190b-11eb-9833-a676248498b7.png">

I have added the following project references to the Xamarin app and pulled in latest changes for Xamarin.Forms git repo and I still have the same issue.

I am not able to reproduce the app with a simple hello world xamarin.forms app. I can cl

[2020-10-28 15:02] #12587 closed

[2020-10-28 15:19] PureWeen commented on #12626
It's the number after "Duplicate" https://github.com/xamarin/Xamarin.Forms/issues/12626  that's a clickable link

[2020-10-28 15:23] WanftMoon commented on #12626
@PureWeen @samhouts
Just to make sure, this issue is #12626. Why would it be a duplicate from itself?

[2020-10-28 16:06] andersonvieiragomeslopes commented on #8718
This problem is really very serious, I changed the listview for collectionview by official recommendation, now a problem like this arises. It is very sad to see that it has been over a year and the problem has not been solved, the solution @brminnick does not sound very good to me due to all the efforts made, but it solved this problem in a demo I made, we have an application with 5 million downlo

[2020-10-28 16:11] PureWeen commented on #12626
Apologies @WanftMoon I meant to link
https://github.com/xamarin/Xamarin.Forms/issues/11011

There are a number of issues logged against MeasureAll

https://github.com/xamarin/Xamarin.Forms/issues/12622
https://github.com/xamarin/Xamarin.Forms/issues/11511

So just trying to consolidate

[2020-10-28 16:17] lrfahmi commented on #6293
Can every item have an effect (such as a ripple effect)?

[2020-10-28 17:13] Strypper commented on #12561
I got the Percentage work now, but why ?
Why is Percentage need so specify the source while other props doesn't

[2020-10-28 17:32] DandiAndy opened #12642 "[iOS][Shell][Bug] Rapid ShellContent Navigation Causes Blank Screens"
## Description

When rapidly moving between ShellContent pages sitting under a Tab, blank pages start to appear.

### Steps to Reproduce

1. Have an app with the following navigation hierarchy:

 FlyoutItem
        -> Tab
                -> ShellContent
                -> ShellContent

2. Navigate quickly between the two shell content pages via the tabs at the top.

### Expected Behavior

Pages ap

[2020-10-28 17:39] PureWeen commented on #12071
I haven't fully tested through the list of issues but this PR
https://github.com/xamarin/Xamarin.Forms/pull/12514

Does fix a number of the things highlighted by this issue

[2020-10-28 18:02] BretJohnson opened #12643 "[Bug] TrySetPropertyValues should work with null passed for source"
As we discussed last week with Stephane, when we call TrySetPropertyValues for Hot Reload we don't have source info, so we'd like to pass null for XmlLineInfo. That will be the signal to Forms that there's no source info.

When we do that these things should happen:
- Don't register source info on change notification.
- Don't NRE. There are some places where it assumes XmlLineInfo is non-null.
- D

[2020-10-28 18:38] solomonfried commented on #11843
Is there any known workaround?

Your issue has been open since August. It appears in Triage with “Needs Estimate”.

Have you noticed if the issue occurs with apk bundles? I have been releasing aab. I know that the new font file is in the bundle because it gets installed if the previous version is removed first.

I was hoping there was a way to flag a resource as "always install"

Thanks

[2020-10-28 18:48] rmarinho commented on #12349
This was fixed by #12361 Would be on the next 4.8.0 or 5.0.0

[2020-10-28 18:48] #12349 closed

[2020-10-28 19:01] rmarinho commented on #12352
Hey @fkbeys  just use a `CollectionView` and it will work fine.

[code]

[2020-10-28 19:01] #12352 closed

[2020-10-28 19:59] WanftMoon commented on #12626
ty, will follow those issues!

best regards.

[2020-10-28 20:09] davidortinau commented on #12315
Updated to 5.0-pre2 and it's working now.
![image](https://user-images.githubusercontent.com/41873/97488433-401f9880-192c-11eb-80d2-38f4499c307d.png)

So I tried 5.0.1.16606-nightly and it's broken (button disappeared).

![image](https://user-images.githubusercontent.com/41873/97489087-19159680-192d-11eb-94d1-8ac3c92c9acb.png)

Same with your sample project. Button appears when I change to 0 radiu

[2020-10-28 20:21] Tommigun1980 opened #12644 "[Bug] Unnecessary XF build warning after updating VS to 8.8 Preview"
After updating VS For Mac to 8.8 Preview build 2899 making iOS builds gives the following warnings:

[code]

I am not targeting UWP at all. Xamarin.Forms.Targets seems to try to exclude UWP when there is no project with  `Condition="'$(TargetPlatformVersion)' != '' and '$(TargetPlatformMinVersion)' != ''"`, but it is somehow still printed.

Thanks.

[2020-10-28 20:23] fbd-ss commented on #2137
I had the same issue when using "Auto" on any row height in a grid.  The rows appeared the correct height, but the underlying grid container got confused by the auto, even if the auto wasnt the last row which you may expect to cause issue.  The grid container, instead of being a total of say 80, would blow out to 5x that even with labels in correct position.

The only way i found to fix it was to

[2020-10-28 20:29] Tommigun1980 commented on #12615
Hi.

I don't have a separate repro but it happens with ListViews in my project. They use IndicatorViews, data templates and uneven rows.

I don't know if it happens only with XF 5 as I recently converted some of my bindable stack layouts to collection views and list views.

I don't know if it is related to the issue you linked, could be. Is there a version with the fix?

[2020-10-28 20:39] spadapet opened #12645 "[Bug] BindingDiagnostics.BindingFailed message doesn't always match debug output"
### Description

The issue with the new BindingDiagnostics.BindingFailed event args is that the Message string doesn't always exactly match the debug output for the binding failure
* Either slightly different string (like missing quotes)
* Or accidentally passed the wrong message parameters
* And there wasn't a way to know if the prefix was "Binding:" or "MultiBinding:"

BTW, this is for the XAML

[2020-10-28 20:40] spadapet commented on #12645
@StephaneDelcroix I'm working on a fix now, so I'll create a PR when it's ready

[2020-10-28 21:14] Tommigun1980 commented on #12617
Hi @PureWeen. It tested and it to work only if you "inline" the ItemsSource as you did, but not when the ItemsSource is coming from a binding. So could you replace the ItemsSource in your example with one coming from a binding and try again, as that is not working?

Thanks.

[2020-10-28 21:17] Tommigun1980 commented on #12617
Hi @PureWeen. I tested it and it only seems to work if you "inline" the ItemsSource as you did, but not when the ItemsSource is coming from a binding. So could you replace the ItemsSource in your example with one coming from a binding and try again, as that is not working?

Please look at the repro XAML I posted in this issue, it shows the structure I am using.

Thanks.

[2020-10-28 21:30] Tommigun1980 opened #12647 "[Bug] ControlTemplates require BindingContext="{TemplateBinding BindingContext}""
Hi.

I am not 100% if this is a bug, but I couldn't get ControlTemplates' to work without manually setting its binding context to "{TemplateBinding BindingContext}".

So any thing of this sort did not work inside a ControlTemplate for me:
Text="{TemplateBinding Something}"

But after setting the binding context in the containing object to  "{TemplateBinding BindingContext}", now everything works a

[2020-10-28 21:36] ahoefling opened #12648 "[Bug] ListView Memory Leak for Large Amounts of Updates on Android"
### Description
This problem is isolated to Android as it doesn't appear to happen on iOS. I have not tested other platforms

When making large amounts of sequential adds to an `ObservableCollection` that is bound to a `ListView` the `System.Delegate` from the `CollectionChanged` event does not properly get cleaned-up from the garbage collector. This creates a massive memory leak using standard be

[2020-10-28 21:39] givod commented on #11101
it didn't work for me, instead, the whole threw all sorts of errors

[2020-10-28 21:42] Tommigun1980 commented on #12616
Did you test with BindingContext coming from a binding btw?

[2020-10-28 21:53] Tommigun1980 commented on #12618
Hi @PureWeen.

I tried your example and it looks like this:
<img width="433" alt="Screenshot 2020-10-28 at 23 50 53" src="https://user-images.githubusercontent.com/60286968/97500558-7c78e600-1978-11eb-9661-88b7b2aeee5a.png">

AutoSize="TextChanges" does absolutely nothing. It has never ever worked for me and based on Googling a lot of other people too. Shouldn't it resize the Editor rows to fit th

[2020-10-28 21:56] Tommigun1980 commented on #12618
Maybe this is a follow-up issue but as you can see in the video I sent 9 seconds in, the editor should scroll the text, but I have to type one more line before it scrolls. So once the typed text reaches the editor's borders you are effectively typing blind.

[2020-10-28 22:03] Tommigun1980 opened #12649 "[Bug] Build failures showing already fixed errors issue is back"
Hi.

This issue was fixed but is back, namely that whenever you have had any XAML errors and tried to build, then fix say one four errors and build again, VS still shows all the errors you have already fixed. Only a restart of VS seems to help.

XF 5-pre3, VS For Mac 8.8 Preview (this happened also with latest stable).

[2020-10-28 22:10] Tommigun1980 commented on #12601
Just in case -- in your tests: please make sure to set the ItemsSource to a real binding, preferably to an ObservableCollection, as I am starting to think some issues can not be reproduced with an "inline" items source.

[2020-10-28 22:46] #12585 closed

[2020-10-28 23:08] PureWeen commented on #12644
https://github.com/xamarin/Xamarin.Forms/pull/12611

[2020-10-28 23:08] #12644 closed

[2020-10-28 23:45] PureWeen commented on #12517
Can you try a more recent version of Forms?

Are you calling GC.Collect/GC.WaitForPendingFinalizers before taking measurements to make sure the GC has ran?

[2020-10-28 23:48] PureWeen commented on #12499
@JohanOtto can you attach a repro please?

[2020-10-28 23:49] PureWeen commented on #12487
@StephaneDelcroix FYI

[2020-10-28 23:53] PureWeen commented on #12293
@banditoth if you could include a zip of your issue that would help us get to the bottom of this one

Usually this type of exception
[code]

means that something that was disposed of is trying to be recreated.

I would add a break point to the constructor you added
[code]

and see when that's called and then figure out why it's getting called.

[2020-10-28 23:58] PureWeen commented on #11807
@avatar2012 can you address @hartez 's question please?

https://github.com/xamarin/Xamarin.Forms/issues/11807#issuecomment-685752727

It's hard to narrow this one down without some additional information

[2020-10-29 00:03] #12577 closed

[2020-10-29 00:04] llzz19851985 commented on #12517
@PureWeen yes,I have force GC before dump

[2020-10-29 00:08] llzz19851985 commented on #12517
@PureWeen now I Found not custom view render not remove from memory after page remove from page navigation,all render is always in memory although page removed !

[2020-10-29 00:15] PureWeen commented on #12550
@DjeeBay can you attach a repro please? I tried with your XAML and I'm not seeing the issue you describe

[2020-10-29 00:32] PureWeen commented on #12345
Not sure @Tommigun1980

did you test with @jsuarezruiz 's repro? I updated his repro to the latest 5.0 and I don't see any borders

Pinging @hartez just in case something rings a bell for him

[2020-10-29 00:52] PureWeen commented on #12413
@Srikanth540-L can you attach a short video? I'm not able to reproduce the issue you are describing

[2020-10-29 04:20] jbtamaresgit commented on #11233
Hi @dellis1972
I have updated the manifest file to `@integer/google_play_services_version`, and also tried `@tools:replace="android:value"`. I resulted with a build error of `/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.D8.targets(51,5): error MSB6006: "java" exited with code 1.` Isn't this about proguard?

[2020-10-29 05:53] tekmun commented on #12543
Hi,
This is the only outstanding bug in my Xamarin.Forms app ported to MacOS.  Is there a timeline when this bug can be resolved?  Thanks.

[2020-10-29 06:33] Tommigun1980 commented on #12592
@StephaneDelcroix Could you please at least answer if there's a performance difference between the two annotations, and where implicit styles should be merged for optimal performance? Please, it is not documented anywhere.

[2020-10-29 07:02] Tommigun1980 commented on #12601
I tried this on Android now, and on that platform even my hack is not working. So on Android, when using ItemsUpdatingScrollMode="KeepLastItemInView" and data is populated, I couldn't find any way to scroll it to the end of the list at start. The use case is to scroll to the end of a chat messages list.

[2020-10-29 07:05] Tommigun1980 commented on #12555
Apparently my hacks for the list view to scroll to the bottom don't work on Android, so I don't know what to do next. I couldn't find any permutation of controls that work.

@acuntex: The fixes seem all lacking to some degree and either try to hard code the heights of the data templates (can't do as I'm displaying chat messages), or seem to break something else like grouping or headers. If someone

[2020-10-29 07:44] holecekp opened #12652 "[Bug] NullReferenceException in the Shell on UWP"
### Description
I am experiencing random crashes in my Xamarin.Forms application on UWP. This specific crash occurred when I clicked on a flyout item in the shell menu to navigate to another page.

**System.NullReferenceException: Object reference not set to an instance of an object.**
**Stack trace** (from AppCenter):
<img width="604" alt="NRE_in_shell" src="https://user-images.githubusercontent.

[2020-10-29 07:55] Tommigun1980 commented on #5355
Another issue: Named span styles also don't get to seem implicit span styles stylings, or alternative implicit span styles are not applied at all. Have to use named styles only for spans atm.

[2020-10-29 07:58] Tommigun1980 commented on #12345
Hi @PureWeen and @jsuarezruiz, I was not able to reproduce it with the repro case when run as is, but was when copied to my project. I removed one implicit style at a time until found that the following affected the radio buttons:

[code]

So apparently a frame's stylings "bleed" into radio buttons.
What I don't understand is why this happens **only** on iOS 14.

[2020-10-29 08:06] avatar2012 commented on #11807
I cannot give you an example how to run into this issue but as I wrote fixing it by build the package from original github sources 4.8, does add the missing constructor overload although it is already available in the sources.

I figured out that compared the dll assemblies from nugget repository does not contain the code which confuses.

I want point out that I didn't modify the sources except I

[2020-10-29 08:12] Tommigun1980 commented on #12345
I can't get this to work. I need the implicit styling on the frame, but not on radio buttons.
Explicitly overriding BorderColor on the radio button instances, or by adding
[code]
does nothing -- if you ever set a border color on frames then radio buttons look ugly on iOS 14.

[2020-10-29 08:24] mattleibow commented on #12510
Looks like this might be an issue with something else, the React Native team also has it. And I was able to repro with a plain, empty UWP template

https://github.com/microsoft/react-native-windows/issues/6331#issuecomment-718357629

[2020-10-29 08:27] Silic0nS0ldier commented on #11700
I cannot speak to its reliability, but I was able to work around this issue with a custom renderer.

[code]

[2020-10-29 08:33] GalaxiaGuy commented on #12561
The other properties aren't really working either. `IconImageSourceProperty`, `PowerStatus` and `Model` are also the names of properties on your viewmodel, and the control is binding directly to them, instead of the the bindable properties you have created on the control.

To make it all work in a nicely encapsulated fashion, you would need to pass the properties through to the control:

```<devic

[2020-10-29 08:47] jsuarezruiz commented on #10111
@Tommigun1980 Do you still have this issue?, are you setting the experimental flags somewhere else in the App? If not, could you attach a small example?

[2020-10-29 09:10] jsuarezruiz commented on #12023
@softlion I have created a sample using Xamarin.Forms 4.8.0.1560 using your code  and test it in iOS 13 and 14:
[Issue12023.zip](https://github.com/xamarin/Xamarin.Forms/files/5457209/Issue12023.zip)

Cannot reproduce the issue:
![Issue12023](https://user-images.githubusercontent.com/6755973/97547713-6e55b480-19ce-11eb-9027-415c3fa4bf7c.gif)

Could you take a look to the attached sample?

[2020-10-29 09:24] jsuarezruiz commented on #12315
I can reproduce the issue in the last attached example but on the 5.0.0 branch, I still can't reproduce it.
@PureWeen Could you try https://github.com/xamarin/Xamarin.Forms/blob/fix-12315/Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12315.xaml to validate this case, please?

[2020-10-29 09:56] StephaneDelcroix commented on #12645
@spadapet  I thought we had that fixed. Let's talk when you're up

[2020-10-29 10:41] GerhardSchreurs commented on #9550
This bug seems related to the horizontal scrolling issue (which is fixed)
https://github.com/xamarin/Xamarin.Forms/issues/8569

[2020-10-29 11:21] GerhardSchreurs commented on #9550
Using Xamarin.Forms 4.8.0.1560 I tried @boris-df solution but that didn't work. The solution as posted by @FIELDPOINT works, but i modified it like this::

`public class EditorRenderer : Xamarin.Forms.Platform.iOS.EditorRenderer
    {
        protected override void OnElementChanged(ElementChangedEventArgs<Editor> e)
        {
            if (Element == null) return;
            Element.SizeChange

[2020-10-29 12:30] #11571 closed

[2020-10-29 12:30] #11715 closed

[2020-10-29 13:01] jsuarezruiz commented on #12304
There is a DefaultTheme with a Button Style (using different BackgroundColors based on the Button State). Without the Style, everything is working as expected.

But, the Button BackgroundColor must override the color aligned by the App level style.

[2020-10-29 13:24] VincentH-Net commented on #12136
@PureWeen could you add the internal `IPaddingElement` interface to the issue description?
C# Markup also needs to access that one; I missed it earlier (my bad)
Thx!

[2020-10-29 13:30] jonathanpeppers commented on #11233
There should be earlier errrors/warnings in the log that show the actual problem, can you share the full log (or more of it)?

Maybe we need to make the message `java exited with code 1` actually say `r8.jar exited with code 1`, as it would be much more clear...

[2020-10-29 13:33] jeffdevalmeida commented on #10436
I have the same problem.
My code dont work in iPhone 11 and iPhone 12. Just in iPhone 8 and 8 Plus.

I tryied to use CollectionView then list my power bi reports. See this sample at iPhone 8 Plus (iOS 14.1):
![image](https://user-images.githubusercontent.com/54694777/97578199-3c911d80-19cf-11eb-9eff-91e6be7cb103.png)

But in iPhone 11 and 12, my list dont work. See this sample at iPhone 11 (iOS 14

[2020-10-29 14:24] Alex-Dobrynin opened #12656 "[Bug] Argument out of range CollectionView iOS"
I have CollectionView with horizontal linear layout

![image](https://user-images.githubusercontent.com/23138430/97585866-44b68080-1a02-11eb-9da9-23f2f1c17ec3.png)

and when i add footer to collection view it throws exception mentioned in title. only in ios.

![image](https://user-images.githubusercontent.com/23138430/97586592-1c7b5180-1a03-11eb-92f3-12f5460ff02f.png)

Xamarin forms version is 4.8

[2020-10-29 14:48] rmarinho commented on #11506
This should be fixed on next 4.8.0 service release  and 5.0.0

[2020-10-29 14:48] #11506 closed

[2020-10-29 14:49] #10865 closed

[2020-10-29 14:50] rmarinho commented on #4996
Spec is implemented!

[2020-10-29 14:50] #4996 closed

[2020-10-29 15:17] #12608 closed

[2020-10-29 15:18] PureWeen commented on #12649
@Tommigun1980 can you supply a repro or at least a video so we can have some added context?

[2020-10-29 15:29] ehsangfl commented on #12609
I Update my project to xamarin 5.0.0 preview 3, and test it. unfortunatly, it is not rendered on App.MainPage.
it works for other pages than mainpage
[NavigationPageTitleView.zip](https://github.com/xamarin/Xamarin.Forms/files/5459484/NavigationPageTitleView.zip)

[2020-10-29 15:30] sumascer commented on #12239
Any update?

[2020-10-29 15:34] Axemasta commented on #7691
This is still an issue, when will this be addressed?

[2020-10-29 15:36] rmarinho commented on #10950
This seems to be fixed on 4.8.0 latest release and 5.0.0

[2020-10-29 15:36] #10950 closed

[2020-10-29 15:46] Tommigun1980 commented on #12649
Hi. I will take a video soon and post it here. I also just noticed that even when a build is successful it will show any errors I've had during the session, so they are not just shown when a build fails. But I'll get back to this soon.

Thanks.

[2020-10-29 15:48] rmarinho commented on #10994
Seems the second  or third time you change Item[0].Images[2] it works

[2020-10-29 15:51] melicaster opened #12659 "[Bug] Xamarin 4.8.0.1560 caused iOS failed to build"
### Description
I am getting the following message when building iOS build after updated to Xamarin 4.8.0.1560
MTOUCH : error MT2101: Can't resolve the reference 'System.Void UIKit.UIDatePicker::set_PreferredDatePickerStyle(UIKit.UIDatePickerStyle)', referenced from the method 'System.Void Xamarin.Forms.Platform.iOS.DatePickerRendererBase`1::OnElementChanged(Xamarin.Forms.Platform.iOS.ElementChang

[2020-10-29 15:55] rmarinho commented on #10994
This is fixed on 5.0.0-pre3

[2020-10-29 15:55] #10994 closed

[2020-10-29 15:56] #12028 closed

[2020-10-29 15:56] #12318 closed

[2020-10-29 15:57] #11572 closed

[2020-10-29 16:28] AlexanderMelchers opened #12660 "[Bug] InvalidOperationException when using a RelativeSource in a Behavior"
### Description

An `InvalidOperationException` (two in sequence on Android) is thrown when using a `RelativeSource`-binding in a `Behavior` to bind to the containing component/page. A stack-trace from Android reads as follows:

[code]

### Steps to Reproduce

1. Create a new app.
2. Create an `EventToCommandBehavior`. Samples on how to do this abound on the internet, but one such implementation c

[2020-10-29 16:33] Tommigun1980 commented on #12649
Shoot. I restarted VS and now it doesn't happen anymore, so presumably it's some condition that needs to be fulfilled for it to trigger. I have had the error happen constantly for two days, so my guess is once it starts to happen it will persist until VS is restarted. I will take a video the next time it happens and gather the VS logs etc.

[2020-10-29 17:34] PureWeen commented on #12659
@melicaster it sounds like you need to update to the latest XCode and/or version of Visual Studio

The API you are listing there is part of XCode 12 so if you are still on XCode 11 and an older version of Xamarin.iOS you won't be able to compile

[2020-10-29 17:34] #12659 closed

[2020-10-29 17:37] PureWeen commented on #12656
@Alex-Dobrynin can you add a repro please? That exception looks like there's a bug with inflating the MainPage and setting the Root View Controller on your app. I suspect there's an error with your XAML that's causing the page to throw an exception on creation.

Can you enable First Chance Exceptions? That might reveal a better exception message as well?

[2020-10-29 17:58] maxbrister opened #12661 "[Enhancement] Add an overlay layer on Application"
## Summary
VS would like to implement element selection behavior for Android/iOS. We need a way of both intercepting mouse events and drawing adorners over existing Xamarin applications.

## API Changes

[code]

It might be desirable to use something less obvious or make it clear users shouldn't use the layer themselves. If users start using the `OverlayLayer` in their own apps we will conflict wi

[2020-10-29 18:12] Redth commented on #3209
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-10-29 18:12] #3209 closed

[2020-10-29 18:12] Redth commented on #3204
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-10-29 18:12] #3204 closed

[2020-10-29 18:13] Redth commented on #3198
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-10-29 18:13] #3198 closed

[2020-10-29 18:13] Redth commented on #3194
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-10-29 18:13] #3194 closed

[2020-10-29 18:13] Redth commented on #3188
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-10-29 18:13] #3188 closed

[2020-10-29 18:19] Redth commented on #8617
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-10-29 18:19] #8617 closed

[2020-10-29 18:20] Alex-Dobrynin commented on #12656
it does not matter what xaml code i have in my app. if i remove footer of collection view or make vertical layout it works, so i make conclusion that the problem is in CollectionView`s footer within horizontal layout, code of that footer i placed above.

[2020-10-29 18:29] JoergB opened #12663 "[Enhancement] Extend the control DisplayPromptAsync to input integer values"
## Summary
Allow the user to enter an integer value in a convenient and smart way.
While using the control DisplayPromptAsync as an integer input the keyboard entry text field should be accompanied - not replaced - by a slider for easy and fast input.

## API Changes
Overload of the method DisplayPromptAsync using the original signature but extended by the parameters minValue and maxValue and an i

[2020-10-29 18:47] vsfeedback opened #12664 "Xamarin Forms SwipeItemView does not work in UWP"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Xamarin-Forms-SwipeItemView-does-not-wor/1229499?preview=true)._

---
[severity:I'm unable to use this version of Visual Studio]
Xamarin Forms SwipeItemView is not working when App is running in UWP.
The content in SwipeItemView does not become visible after swiping.
It only work in And

[2020-10-29 18:55] rmarinho commented on #12580
Hey, this doesn't seem to be related with Forms you need to update your custom renderer to iOS14.

you can add this or cehck or code on 4.8.0

[code]

[2020-10-29 18:55] #12580 closed

[2020-10-29 19:52] dansiegel commented on #8451
@StephaneDelcroix I believe this ultimately is due to XamlC running way to late in the build pipeline. By the time XamlC runs the references have already been stripped out since there's no code to keep it from being linked out.

When I applied an init in code with the referenced project (as described in these docs) everything worked.

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/cus

[2020-10-29 20:07] kirankumar4vr opened #12665 "[Bug] [Shell][iOS] FlyOutHeader height is not adjusting dynamically on iOS"
### Description
There is a big gap between flyout header and menu items on iOS when height request is not provided for flyout header.  The same XAML works fine on Android without height request and content with dynamic height.
But, when a non-significant change like an extra space is added in XAML and saved (Ctrl+S), Hot reload kicks in and Header and menu items adjust properly on iOS. I've posted

[2020-10-29 20:33] #11938 closed

[2020-10-29 20:35] solomonfried opened #12666 "[Bug] With Compiled Bindings, Binding Property not set correctly when BindingContext is itself bound."
### Description

When using x:DataType in XAML at the top of a Visual Tree,
If a child visual element sets its own BindingContext to a property of the ViewModel, then binding will fail on the child element as it tries to bind to the original x:DataType

(see example below)

### Steps to Reproduce

Assuming a ViewModel called Customers with a Property SelectedCustomer of type Customer (singular)

[

[2020-10-29 21:03] pursey commented on #8272
I can also confirm this.

[2020-10-29 21:16] PureWeen commented on #12666
[Issue12666.zip](https://github.com/xamarin/Xamarin.Forms/files/5461331/Issue12666.zip)
@StephaneDelcroix

[2020-10-29 21:26] PureWeen commented on #12665
@kirankumar4vr can you delete this folder on your repository?

https://github.com/kirankumar4vr/XamFormsFlyoutHeader/tree/master/.vs/FlyOutHearder/xs/project-cache

it's being finnicky

Also can you try the latest 5.0 pre3 and let me know if you're seeing this issue there?

[2020-10-29 21:30] PureWeen commented on #12660
Let me know if this issue answers any questions you have about why this isn't working

https://github.com/xamarin/Xamarin.Forms/issues/9957#issuecomment-604110601

[2020-10-29 21:30] #12660 closed

[2020-10-29 21:43] PureWeen commented on #12652
@holecekp can you test on 5.0.0 pre3 and let me know if you see the same exception?

[2020-10-29 22:03] PureWeen commented on #12633
[Issue12633.zip](https://github.com/xamarin/Xamarin.Forms/files/5461523/Issue12633.zip)

[code]

[2020-10-29 22:13] PureWeen commented on #12619
@InquisitorJax is this your issue?

https://github.com/xamarin/Xamarin.Forms/issues/11632

I tested your sample but I wasn't quite able to reproduce the scenario you describe

Your `OnAppearing` code calls LoadItems

[code]

Which is triggering the refresh code.

The discussion here might also help highlight the behavior of the RefreshView
https://github.com/xamarin/Xamarin.Forms/issues/12506

[2020-10-29 22:22] PureWeen commented on #12656
I tested with the following code and it's working fine for me without any exceptions

[code]

[2020-10-29 22:26] AlexanderMelchers commented on #12660
Thanks for the pointer, @PureWeen! This does kind of confirm what I already suspected might be the case, based on how `Behavior`s work internally (i.e. them not being part of the visual tree and that causing the issue here). It's still unfortunate that `RelativeSource` can't be used with a `Behavior`, though, as sometimes you just want to be able to carry across some data. And with `x:Reference` w

[2020-10-29 22:40] InquisitorJax commented on #12619
yeah it looks like the Binding to the IsRefreshing may be throwing things into unexpected behavior there - I'll confirm....

[2020-10-30 00:35] PureWeen commented on #12600
[code]

[code]

[2020-10-30 01:03] pmahend1 commented on #6351
Yes. It does not work . Is there any work around?

[code]

[2020-10-30 01:25] tekmun commented on #12543
Hi,
The issue could be related to the Flipped Coordinate System on MacOS.  In the sample project, the scrollview is set to scroll to origin (0,0) and it scrolls all the way to the bottom.  This is because Cocoa and Core Graphics define the origin differently. One at the top left and the other at the bottom left.  Thanks.

[2020-10-30 01:53] kirankumar4vr commented on #12665
@PureWeen I've deleted the folder as asked on the repository
The issue is reproducible on 5.0 pre 3 as well

[2020-10-30 02:18] tuyen-vuduc opened #12669 "[Bug] iOS 14 - ScrollView has a SafeArea inset"
### Description
When trying using ScrollView as the root element of the page, we could have its child to display underlying the notch.

### Steps to Reproduce

1. Create a simple content page with ScrollView and some content inside
2. Check out it display

### Expected Behavior
- No safearea at the top of the scroll view

### Actual Behavior
- Safearea at the top of the scroll view

### Basic Info

[2020-10-30 02:28] gitKRM opened #12670 "Xamarin Forms build time for iOS is painfully slow and buggy"
### Description
when creating a Xamarin forms application then setting iOS as the start up project, building the application onto a device is ridiculously slow. Building to an emulator is pretty much the same regards to speed.
I have tried different approaches e.g. we develop on a windows machine and was just using the mac as a build host, therefore i attempted loading the solution into VS for mac

[2020-10-30 02:56] jbtamaresgit commented on #11233
Hi @jonathanpeppers , I've fixed the issue, the issue underlies with the firebase packages, playservices, and androidx and I cannot pinpoint it so what I did was I uninstalled all firebase packages, androidx, and googleplayservices and cleanly installed the packages I need. Thanks for the help.

[2020-10-30 04:29] EmilAlipiev opened #12671 "[Bug] UWP ListView header Size problem after 4.8.0.1364"
### Description

Using the 4.8.0.1560 Header in the listView sizes too large as in the screenshot below. Before versions were just fitting the child size. I am using a grid like below in the listview header.
[code]
in the previos versions using Auto, even using * as height, it would just perfectly fit around the children. Why now it is extending almost half size of the screen. Do you have some bre

[2020-10-30 04:50] KarthikRaja26 commented on #12384
Hi @hartez ,

Could you please confirm on this?

Regards,
karthik Raja

[2020-10-30 06:35] thongnm commented on #3571
@martinstoeckli Did you have a solution for this issue? I am struggling with it on Mac OS too. Actually, I was creating an extension for Visual Studio For Mac. It only contains a simple dialog with a Webview control. However, the Webview control is failed to render. Other controls (label, button, etc) work fine.

[2020-10-30 06:48] HausBJB opened #12672 "[iOS] Path is not displayed correctly"
[iOS] Path is not displayed correctly
 [Android] OK

`        <Grid BackgroundColor="Red">
            <Path Data="M0,37 V0 H193.86 L179.575,26.261 A19.5,19.5,0,0,1,162.148,37 Z">
                <Path.Fill>
                    <LinearGradientBrush>
                        <GradientStop Offset="0" Color="White" />
                        <GradientStop Offset="1" Color="Orange" />

[2020-10-30 07:14] HarryLobster opened #12673 "[Bug] XF5+ CarouselView crashes If last Item is removed"
I make it brief because I am so frustrated....

CarouselView crashes If last Item is removed.
This is confirmed by Jarvan from the Xamarin-Forum.

The bug is not raised if I use a CollectionView instead or use XF4.8.

Please fix it and think about "Automatic Testing" for your Quality Control. I am tired about all those errors...

[2020-10-30 07:15] InquisitorJax commented on #12619
@PureWeen I guess the expectation is that setting IsRefreshing in the ViewModel shouldn't trigger the Command - imo that's working cross purposes with the Command. (It should only toggle the visibility of the loading indicator - as in other implementations of the functionality)
This is a fairly common pattern to have a "busy" flag while records are fetching.
 - imo you guys are going to experience

[2020-10-30 07:46] hamiddd1980 opened #12674 "[Enhancement] Modify The Code In GeometryExtensions.cs File To Add Support For Right To Left to CLIP Property"
## Summary
Hi.currently the **CLIP** property doesn't support **RightToLeft** layout (both Android and iOS) and this causes the View doesn't render correctly when a **Geometry** is applied to it and the **Flowdirection** is **RifgtToLeft** (both Android and iOS).(please refer to Issue [#11536](https://github.com/xamarin/Xamarin.Forms/issues/11536) )
I think the problem can be solved by modifying t

[2020-10-30 08:21] StephaneDelcroix commented on #12666
Thanks for this report. It seems legit

[2020-10-30 08:22] Tommigun1980 opened #12675 "[Bug] RefreshView/CollectionView sometimes caps height on actual device"
Hi.

I have a RefreshView containing a CollectionView, where they should occupy the rest of the vertical space on a page.
This works well in the simulator but around 50% of the time when I run the app on an actual device (iOS), they won't fill the page and instead stay around halfway.

Please see the following screenshots, they are from an actual device but I have blanked out the app's details for

[2020-10-30 08:28] Tommigun1980 commented on #12675
My guess of what is going on (and this is a guess only):
1) The items in the view have their height set to "width X aspect ratio" (via a converter)
2) Because height is calculated like this, I had to set the collection view to MeasureAllItems
3) The items all do have equal height, but MeasureFirstItem seems to 'sample' the height once at start and as height is calculated from width it seems to sam

[2020-10-30 08:44] DiamondKesha opened #12677 "[Bug] After migration to version 10, the project breaks"
### Description
After migration to Target Framework 10.0 (Q) version and build project - my app is breaks. Instead of the icon that I put and the name, let's say "My App" changes to the standard android icon and the name becomes "Sample" (see screenshots from below)

If i create new project everything works and changes without errors.

### Steps to Reproduce

1. Change "Compile using Android Versi

[2020-10-30 09:17] rozek1szymon opened #12678 "RadioButtonRenderer in ios doesnt exist"
There is no property such as RadioButtonRenderer in Xamarin Ios

### Steps to Reproduce

1.  try to create customRadioButton renderer and try to extend from : RadioButtonRenderer

it should be possible to create such a renderer

It occurs in 5.0.0.1558-pre3

In this commit RadioButtonRenderer from IOS was deleted: https://github.com/xamarin/Xamarin.Forms/commit/2a97a6c5f0e39602cd6c7140c80bc872d0f7

[2020-10-30 09:39] AlexanderMelchers commented on #9957
@legistek, as I had bumped into the same issues as described here (see #12660), I thought I'd give your suggestion a try. Unfortunately, though, resolution of `RelativeSource`-bindings seems to occur somewhere as a higher level prior  - i.e. prior to the value being passed on to the `EventToCommandBehavior`'s `Command`-property. What I did was change the type of both my `CommandProperty` bindable

[2020-10-30 10:07] Uzivatel919 opened #12679 "[Bug] Possibly false positive of XLS0501"
### Description

If element has _Name_ property it cannot be set along with _x:Name_.

### Steps to Reproduce

1. Create some custom element.

[code]
2.  Use it in XAML

[code]
### Expected Behavior

I believe x:Name and Name should not colide.

### Actual Behavior

Getting _XLS0501 The property 'Name' is set more than once._

### Basic Information

Xamarin.Forms 4.6.0.1141

VisualStudio.16.Releas

[2020-10-30 10:15] Alex-Dobrynin commented on #12656
ok, i`ve investigated this question more deeper.

it does not work within horizontal layout when i do next

![image](https://user-images.githubusercontent.com/23138430/97692071-f22f9f80-1aa7-11eb-914c-d3fca301653b.png)

but when i do this:

![image](https://user-images.githubusercontent.com/23138430/97692365-59e5ea80-1aa8-11eb-9b88-94301161f2a2.png)

it works well.

So, as you can see it does not

[2020-10-30 10:20] wojciech-kulik opened #12680 "[Bug] Xamarin.Forms.Maps adds permisson WRITE_EXTERNAL_STORAGE to Android project"
### Steps to Reproduce

1. Create a new Xamarin.Forms project with Android and iOS app.
2. Target API level 29, minimum 23 in Android Manifest.
2. Add Xamarin.Forms.Maps package (4.8.0.1560)
3. Remove extra permissions from AssemblyInfo.cs
4. Build release android.
5. Check manifest in /obj/Release/android/AndroidManifest.xml

### Actual Behavior

Xamarin.Forms.Maps adds `WRITE_EXTERNAL_STORAGE` t

[2020-10-30 10:29] ccsousa01 commented on #8641
Using 5.0.0.1558-pre3. Loop performs well on Android and completely freezes on iOS, at least v14.

[2020-10-30 10:56] martinstoeckli commented on #3571
@thongnm - I didn't try since, waiting for DotNet5 to come out before I make another attempt.

[2020-10-30 11:50] #11643 closed

[2020-10-30 11:53] #10897 closed

[2020-10-30 12:01] MitchBomcanhao commented on #12670
I have found that this sort of thing occasionally happens to me as well, ie trying to debug the app on an iOS device takes forever (easily 15/20 minutes)
It seems that it deploys the package to the device but never actually launches it, and then vs2019 probably just sits there waiting for something.

this doesn't always happen, and I've not found a pattern surrounding it.
It essentially makes iOS

[2020-10-30 12:07] #11800 closed

[2020-10-30 12:20] jsuarezruiz commented on #12614
@Tommigun1980 Is this the behavior you are looking for?
![issue12614](https://user-images.githubusercontent.com/6755973/97704296-6e2ee500-1ab2-11eb-845f-3a02f50572de.gif)

You could achieve it using the **SwipeTransitionMode** Platform Specific. In any case, reviewing this case, the behavior and possibilities.

[2020-10-30 12:25] dennisstromberg commented on #11504
Simply just putting the url "https://www.youtube.com/embed/ssP0GrK8Uws" as source works on both android and ios:
`
   <WebView Source="https://www.youtube.com/embed/ssP0GrK8Uws"
                VerticalOptions="FillAndExpand"
                HorizontalOptions="FillAndExpand"
                />
`

[2020-10-30 12:47] rmarinho commented on #12533
fixed by #12472)

[2020-10-30 12:47] #12533 closed

[2020-10-30 12:48] #11877 closed

[2020-10-30 12:53] Cfun1 opened #12682 "[Enhancement] Add events related to Shell Flyout status being changed OnFlyoutOpened OnFlyoutClosed"
## Summary
In order to execute some code upon Flyout being opened/closed, an event which is triggered once the Flyout is opened/closed and could be helpful.

## API Changes
[code]

[2020-10-30 13:22] VincentH-Net opened #12683 "BindableLayout.SetEmptyViewTemplate sets EmptyView instead of EmptyViewTemplate"
https://github.com/xamarin/Xamarin.Forms/blob/2cb4c542cf7d826d3653eaa431b2c74bd1c3190c/Xamarin.Forms.Core/BindableLayout.cs#L78-L81

A single statement change would fix this:
`b.SetValue(EmptyViewProperty, value);` -> `b.SetValue(EmptyViewTemplateProperty, value);`

Possibly this also fixes #9905, https://github.com/xamarin/Xamarin.Forms/issues/12374 and  https://github.com/xamarin/Xamarin.Forms/i

[2020-10-30 13:40] jameslavery commented on #12252
@aryobenholzner  - one workaround (which may not be useful for you, depending on your use case) is to set

_AutomationProperties.IsInAccessibleTree="False"_ on the CollectionView

This allows you to select the items. This is what we've had to do for now in our app.

[2020-10-30 13:54] HausBJB opened #12685 "[iOs][Bug] TapGestureRecognizer in Path does not work on iOS"
TapGestureRecognizer in Path does not work on iOS

`        <Grid BackgroundColor="Red">
            <Path Data="M0,37 V0 H193.86 L179.575,26.261 A19.5,19.5,0,0,1,162.148,37 Z">
                <Path.Fill>
                    <LinearGradientBrush>
                        <GradientStop Offset="0" Color="White" />
                        <GradientStop Offset="1" Color="Orange" />

[2020-10-30 14:03] jameslavery opened #12686 "[Bug] CollectionView header does not lay out correctly on iOS with VoiceOver"
### Description

In Xamarin.Forms 4.8, when using VoiceOver, the header of a CollectionView does not lay out properly if an Image is placed in it.

### Steps to Reproduce
See repro project

Add a CollectionView with a few items and SelectionMode="Single", and set AutomationProperties.IsInAccessibleTree="False" to work around issue #12252
Deploy to an iOS device
Turn VoiceOver on
Run the applicatio

[2020-10-30 14:14] kirankumar4vr commented on #12665
@PureWeen  I've deleted the folder on the repository as asked
The issue is reproducible on 5.0 pre 3 as well

[2020-10-30 15:34] holecekp commented on #12652
@PureWeen Yes, after about 30 minutes of trying, I was able to reproduce this crash also in 5.0.0 pre 3.

[2020-10-30 15:49] Eswaran17392 opened #12687 "[BUG][iOS] The scroll view content is hidden when programmatically change the scrolling."
### Description
In Xamarin forms iOS, when programmatically change the scrolling, the scroll view content gets hidden. In android, when programmatically change the scrolling, the scroll view content is visible.
### Steps to Reproduce

1. Run the sample.
2. Click the search bar.
3. Check the view.

### Expected Behavior

- The content in the scroll view should be visible.

### Actual Behavior

- Th

[2020-10-30 15:54] DiamondKesha commented on #12677
I fix it.
Copy old manifest file, because when you change framework version - manifest file is dumped

[2020-10-30 15:54] #12677 closed

[2020-10-30 16:19] #11155 closed

[2020-10-30 16:29] VladislavAntonyuk opened #12688 "[Bug] CollectionView HorizontalItemSpacing unexpected layout"
### Description

### Steps to Reproduce

1. Create collection view
2. Add ItemLayout
[code]

### Expected Behavior
all columns have the same width

### Actual Behavior
The first column and the second column has different width

### Basic Information

- Version with issue: 5.0.1-nightly
- Platform Target Frameworks:
  - Android: Android SDK 30

### Screenshots

![image](https://user-images.githubus

[2020-10-30 16:40] PureWeen commented on #12619
The behavior is similar to the UWP RefreshView was another another motivation. On UWP when you trigger the Refresh method it calls the event which is then where you have to cancel the refresh.  Android/iOS don't work like this though and do separate out user invoked vs programmatically invoked

I think some of this will be helped by adding some additional APIs to customize whether the visualizatio

[2020-10-30 16:41] PureWeen commented on #12619
@InquisitorJax

Can you pause the app and give me a stack trace?

[2020-10-30 16:57] PureWeen commented on #12652
@holecekp do you have a repro I can play with?

[2020-10-30 18:03] Saxby-source commented on #7575
Just curious if this has been, or is being, implemented. as this would really help with a project I'm doing 👍

[2020-10-30 18:46] legistek commented on #9957
I can't say why your modifications to the EventToCommandBehavior aren't working without seeing the code. But I can say,  once again, that RelativeSource bindings cannot be applied to objects not in the visual tree. It's simply impossible and if you're getting the exception it's because something is trying to do just that.

Remember RelativeSource works for Setters only because the setter Value tak

[2020-10-30 20:08] Softtinn commented on #7934
Any more info on this?

[2020-10-30 20:22] #12398 closed

[2020-10-30 21:30] rachelkang opened #12690 "[Bug] Ambiguous Android.Views.InflateException when target android version and framework don't match"
### Description
VSMac does not automatically update the target Android version (in `AndroidManifest.xml`) when the target framework is updated (in project options). Therefore, when one tries to run an Android app with this mismatch, a `Android.Views.InflateException` gets thrown before the app crashes. This exception error/message is ambiguous and should either be clarified or automatically resolv

[2020-10-30 21:51] PureWeen commented on #12673
[Issue12673.zip](https://github.com/xamarin/Xamarin.Forms/files/5467827/Issue12673.zip)

[2020-10-30 21:52] PureWeen commented on #12672
@jsuarezruiz

[2020-10-30 22:04] PureWeen commented on #12682
@Cfun1 there's a property on shell "FlyoutIsPresented"  that you can watch for

https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.shell.flyoutispresented?view=xamarin-forms

So, I'd subscribe to PropertyChanged events on Shell and then change with that property changes

[2020-10-30 22:04] #12682 closed

[2020-10-30 22:20] PureWeen commented on #12656
@Alex-Dobrynin can you modify this sample so it crashes in the way that you are seeing?

[Issue12656.zip](https://github.com/xamarin/Xamarin.Forms/files/5467915/Issue12656.zip)

[2020-10-30 22:23] PureWeen commented on #12669
@tuyen-vuduc  I don't quite follow

I ran this app with a ScrollView on an iOS 14 device and an iOS 12 device. They both layout about the same as it relates to the notch.

Can you attach a repro?

![image](https://user-images.githubusercontent.com/5375137/97761753-90395f00-1ad4-11eb-8e97-b5a79435c9f4.png)

[2020-10-30 22:44] Ghadaaldjain commented on #10800
This bug is still alive, remote images are not loading on IOS 14

[2020-10-30 22:46] PureWeen commented on #12679
@Uzivatel919 I think this is correct

I tested on UWP and UWP reports the same error

![image](https://user-images.githubusercontent.com/5375137/97762812-be6c6e00-1ad7-11eb-8bed-3d46704de886.png)

@StephaneDelcroix can correct me here if I'm mistaken though

[2020-10-30 22:46] #12679 closed

[2020-10-30 22:47] InquisitorJax commented on #12619
all fair points.

[2020-10-30 22:47] PureWeen commented on #12674
@jsuarezruiz

[2020-10-30 22:48] PureWeen commented on #12671
@EmilAlipiev can you attach a repro please?

[2020-10-30 22:51] PureWeen commented on #12637
@acuntex can you give a little more info here on your CollectionView? How are the images loaded? are these local images? are they remote images?

[2020-10-30 22:53] PureWeen commented on #12630
Closing as duplicate

[2020-10-30 22:53] #12630 closed

[2020-10-30 23:08] acuntex commented on #12637
@PureWeen The images are loaded with https://github.com/roubachof/Xamarin.Forms.Nuke/ (as <Image ...>)

There are two remote images (one of them is shown multiple times).
There are many local icons. (pngs)

[2020-10-30 23:21] PureWeen commented on #12584
@transis2 can you test on the latest 5.0 pre3? If you still see an issue can you attach a repro?

For me the underline is white

![image](https://user-images.githubusercontent.com/5375137/97764450-b6fb9380-1adc-11eb-8326-4c27fcb68771.png)

[2020-10-30 23:24] PureWeen commented on #12583
@transis2 are you testing on API 29 devices? For me the progress bar is showing up correctly

![image](https://user-images.githubusercontent.com/5375137/97764591-1b1e5780-1add-11eb-9a6b-8cb7d871d30f.png)

[2020-10-30 23:26] PureWeen commented on #12545
Same thing here as on the other two issues @transis2

I think there's something I'm not understanding here on your set of issues.

![image](https://user-images.githubusercontent.com/5375137/97764650-60428980-1add-11eb-8510-3c35e1a57cfa.png)

[2020-10-30 23:51] PureWeen commented on #12565
@bhuvan94 can you test this against 5.0-pre3?

I tested your sample and it appears to work now..

Though the way it appears isn't as smooth as I'd like it to be.

Let me know if that's what you are seeing on 5.0-pre3 as well please

[2020-10-31 00:04] PureWeen commented on #12563
@dan-matthews can you try out 5.0 pre3 and if you still see the issue attach a repro?

I'm not quite seeing what you're talking about here..

I'm seeing the same behavior on Android and iOS for this one

[2020-10-31 01:13] EvgenyPrikhodko opened #12692 "SearchBoxVisibility="Collapsible" work like SearchBoxVisibility="Hidden" [Bug] iOS"
Hi
`SearchBoxVisibility="Collapsible"  work like SearchBoxVisibility="Hidden"  `
Sample (https://docs.microsoft.com/ru-ru/xamarin/xamarin-forms/app-fundamentals/shell/search)

[code]
in Android works fine,in iOS icon not show!

[2020-10-31 01:29] transis2 commented on #12584
@PureWeen sure! I Will test and provide a feedbak

[2020-10-31 01:34] transis2 commented on #12583
@PureWeen I will check

[2020-10-31 02:56] skclusive commented on #12112
.NET5 support required for Blazor Mobile Bindings to consume net5.0 based libraries.

if "Xamarin.Forms can run on .NET 5", please do consider for the future of Blazor Mobile Bindings to be even considered for trying out.

getting familiar with Blazor Mobile Bindings, would help us explore MAUI as well which is planned to support Blazor model as well.

[2020-10-31 03:45] PureWeen commented on #12544
@HausBJB I think this is just a difference with how iOS modifies its slider display vs Android.

If the track was covering the image you'd see orange overlapping the image on the right side. The image you're using is transparent so on iOS you're just seeing the track through the image. It looks like Android accounts for this and modifies the track whereas Android iiOS doesn't

[2020-10-31 03:58] PureWeen commented on #12414
You need to Unsubscribe otherwise it will just keep calling left over subscriptions

The MessageCenter is a global static structure so it will retain references that survive the popping of the page. I realize that it uses weak references but those only get cleaned up after a GC runs

[2020-10-31 03:58] #12414 closed

[2020-10-31 04:01] PureWeen commented on #11550
@state2lake if you put some `Debug.WriteLines` inside the event to you see anything in your output?

[2020-10-31 04:54] PureWeen commented on #12274
@SergTomcat I'm not quite following the conversation here.

If you want to use a custom icon you can try to copy what Shell does here and implement your own DrawerArrowDrawable

https://github.com/xamarin/Xamarin.Forms/blob/79cc0f49fe90a59f02aa0490072b449ccdad4a27/Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs#L652

And then you could apply some sort of animation to that

For exam

[2020-10-31 04:59] PureWeen commented on #12477
@dgerding can you attach a reproduction please?

[2020-10-31 06:54] HenJigg opened #12694 "[错误]CollectionView SelectionCommand"
### Description
When ActionView selects an item and selects the item again, the corresponding Command cannot be triggered

### Steps to Reproduce

![image](https://user-images.githubusercontent.com/42528522/97773199-cd5f2900-1b88-11eb-8016-4ef7bd27aec6.png)
The first time can be triggered normally, and when the second click is made, the ActionChangedCommand cannot be triggered unless the Collectio

[2020-10-31 08:42] JohnHDev opened #12695 "[Bug] Odd scrolling behaviour of Editor inside a ScrollView"
### Description
On iOS14, an Editor inside a ScrollView scrolls oddly. Worked fine on iOS 13.

### Steps to Reproduce
1.
Replace your MainPage class with this:

    public class MainPage: ContentPage
    {
        public MainPage()
        {
            Content = new ScrollView()
            {
                Padding = new Thickness(10),
                Content = new Editor()
                {

[2020-10-31 10:27] Uzivatel919 commented on #12679
I tested just WPF but there already exists is [FrameworkElement.Name](https://docs.microsoft.com/en-us/dotnet/api/system.windows.frameworkelement.name?view=netcore-3.1). I should have tested also UWP. Nonetheless does not it mean that both **Xamarin** and **UWP** reports false positives, @PureWeen?

[2020-10-31 10:45] HausBJB commented on #12544
Hello, I already thought that means that the Android actually does it wrong because it is transparent and it does not display it transparently

Thanks then that can actually be closed

[2020-10-31 11:00] Tommigun1980 opened #12696 "[Bug] Hot reload: App stops every time after making change and performing action"
Hi.

I have a 100% repro case where if I do an edit to a page containing a collection view inside a refresh view, make an edit and run a command, the app in the simulator just shuts down. No error is reported in VS, and the log just says "Stopped hot reload session due to ExplicityEnded ...".

I have a video of the entire sequence in case it would be helpful. In that case just let me know where to

[2020-10-31 11:14] Cfun1 commented on #12682
@PureWeen
[code]
I don't know how to listen to an inherited `BindableProperty` which is not exposing a `propertyChanged ` delegate?
Isn't an overkill to listen to changes on my whole class ?

[2020-10-31 11:17] Tommigun1980 opened #12697 "[Bug] DataTemplate instances are initiated with width/height set to -1"
Hi.

Imagine a collection view such as:
[code]

Now imagine a data template such as:
[code]
... ie the instance's height will be set to its "width * aspect ratio".

However, the instance of the data template will be created with a width of -1 even though the width is available in the collection that the element will be added to. So it seems that the data template instances are initiated before bei

[2020-10-31 11:22] Tommigun1980 commented on #12622
Workaround found for uniform dynamically assigned elements, as outlined in the report at https://github.com/xamarin/Xamarin.Forms/issues/12697.

These are not duplicate reports however - this report details refresh view's behaviour with non-uniform contents.

[2020-10-31 11:33] Tommigun1980 commented on #12555
Hi @jsuarezruiz. I saw that you had assigned yourself to some of the collection view issues. After having a look at the open issues it seems as this report is a duplicate. In fact there's a ton of reports that seem to all have to do with this exact same measurement problem in CollectionViews (and ListViews), that are exposed when measurement strategy is set to all items *and* items of different he

[2020-10-31 12:29] holecekp commented on #12652
@PureWeen  I have created a repro and I was able to reproduce the NRE for 4 times in it.
[UwpShellTestProject.zip](https://github.com/xamarin/Xamarin.Forms/files/5469037/UwpShellTestProject.zip)

**Steps:**
This bug is very hard to reproduce. It requires a lot of patience. I took me 3 - 20 minutes of random clicking to crash the application. There are some steps that I did randomly.
- Selecting di

[2020-10-31 12:42] holecekp commented on #12265
By the way, the bug is also in 5.0.0 pre 3. I have reproduced the issue also in that version accidentally while I was trying to reproduce another issue.

The application was in the foreground but I was not using the computer for about 3 minutes (it seems that this period of inactivity increases the chance for reproducing this issue). Then I quickly clicked several times on a button that updates an

[2020-10-31 13:09] Cfun1 commented on #12441
@rachelkang unfortunately I am having a problem to open the "report a problem" page I always get "WebSocket connection error", if anyone is able and want to open a ticket for this issue please do.

[2020-10-31 13:25] WorldOfBasti commented on #2137
Hello @fbd-ss,
I have the same issue, thank you for your little trick. The problem is I cannot use this with labels because they get cut off..

I hope this will be fixed with XF 5

[2020-10-31 14:33] transis2 commented on #12584
@PureWeen Hi, it works when android theme is set to dark.
I was using a custom app theme without change OS theme.
Is it possible to force controls to use dark theme independent of OS theme ?

[2020-10-31 14:45] transis2 commented on #12583
Hi @PureWeen, it works when OS theme is set to dark.

Is it possible to expose progressbar progress "uncompleted" color to change ?

If we set BackgroundColor the control look like this print screen below
![Screenshot_1604155186](https://user-images.githubusercontent.com/4941173/97782016-d989bd00-1b6d-11eb-8297-
f3bde0a2df81.png)

[2020-10-31 14:45] PureWeen commented on #12515
The issue here looks to be caused by the order of InitializeComponent and setting the BindingContext
If you set the BindingContext after calling InitializeComponent then it seems to work fine.

[2020-10-31 15:01] PureWeen commented on #12682
@Cfun1 you just have to subscribe to property changes on shell

No, all of these property changed events already get fired. It wouldn't make sense for us to add a specific event for every single Bindable Property that exists on a control. It's more performant overall to just have one otherwise users would have to subscribe to multiple events (which would be slower)

[2020-10-31 15:15] HenJigg commented on #12694
I remember it wrong, it should be triggered when the selected item changes. I think there should be a Command that can be triggered when selected

[2020-10-31 15:16] #12694 closed

[2020-10-31 16:36] PureWeen commented on #12624
Are you seeing the issue with the following repro?

[Issue12624.zip](https://github.com/xamarin/Xamarin.Forms/files/5469427/Issue12624.zip)

I tested on my S9 and even when it's all the way turned up I still just get "Phone"

Maybe it's an older Samsung device issue?

[2020-10-31 16:53] PureWeen commented on #12384
@KarthikRaja26

I tested on the latest nightly and it looks like it's been corrected

![image](https://user-images.githubusercontent.com/5375137/97784874-a9dbb480-1b6f-11eb-8be4-735e19ab379d.png)

https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

I'm going to close for now but let me know if I'm mistaken and we can reopen

[2020-10-31 16:53] #12384 closed

[2020-10-31 16:56] PureWeen commented on #12440
Closing for now as a duplicate of

https://github.com/xamarin/Xamarin.Forms/issues/11324

So we can track this under that issue

[2020-10-31 16:56] #12440 closed

[2020-10-31 16:56] PureWeen commented on #11324
Android also appears to be problematic as well
https://github.com/xamarin/Xamarin.Forms/issues/12440

[2020-10-31 17:26] Cfun1 commented on #6486
[code]
[code]
Still `Shell_Appearing()` not triggered with 5.0.0-pre2.

[2020-10-31 17:36] PureWeen commented on #12557
@gokulsaravanan I'm not quite following your expectations here

Your outer most grid is set to

[code]

That's telling each row to take up an equal percentage so the first child grid will take up 50 percent and the bottom label will take up 50 percent.

And then the inner grid is

[code]

Which seems consistent with the behavior I'm seeing. The Editor is part of that Auto so it keeps remeasuring a

[2020-10-31 17:41] PureWeen commented on #12419
@phillw1994 PCL libraries can't reference Netstandard 2.1 libraries. If I remember correctly PCL only supports up to NS 1.4 (maybe 2.0?)

If I'm not understanding your issue can you add a repro?

[2020-10-31 17:54] PureWeen commented on #12375
@tiitk you have to force garbage collection to test if things are cleaned up.

[code]

Try that and let me know your results

[2020-10-31 20:45] ahmedroshdy commented on #8308
same issue happened with me, any solution ?... this is the stack trace ... using latest stable version from xamarin forms
happens in iOS 12
NSObject.get_SuperHandle ()
UICollectionViewController.get_CollectionView ()
ItemsViewController`1[TItemsView].GetPrototype ()
ItemsViewLayout.DetermineCellSize ()
ListViewLayout.ConstrainTo (CoreGraphics.CGSize size)
ItemsViewLayout.UpdateConstraints (CoreGra

[2020-10-31 21:50] hamiddd1980 commented on #11324
Hi. I found out that the Radiobutton **(without applying Control Template)** is Displayed correctly in Right To Left mode in  **Android** by Enabling **android:supportsRtl="true"** .
but the problem still exists when a **Control Template** is applied to the View in **RightToLeft** Mode in Android and iOS.(following pictures)
also in iOS  , the Text and Radiobutton overlaps.
Thanks.
**Radiobutton i

[2020-10-31 22:40] Tommigun1980 commented on #12618
Hi @PureWeen, I'd really like to know what could be different if the repro case works properly for you. I need to use a resizing editor for chat message input so is there anything I can do to help here? As I said just running the repro exposes the problem for me so I'd like to know what could be different.
Thanks.

[2020-10-31 22:40] Tommigun1980 commented on #12616
Hi @PureWeen. Were you able to reproduce the issue in your repro case when using bindings instead of inline data?
Thanks.

[2020-10-31 22:41] Tommigun1980 commented on #12615
Hi @PureWeen. I tested with the latest nighty build of XF that seems to contain this fix, but the issue persists so I don't think it's related to https://github.com/xamarin/Xamarin.Forms/pull/12475.
Thanks.

[2020-10-31 22:43] Tommigun1980 commented on #12614
Hi @jsuarezruiz and thanks for the suggestion. I had avoided that mode because it would fix it for iOS only but not for Android though.
Thank you.

[2020-10-31 22:48] Tommigun1980 commented on #12614
@jsuarezruiz I tested it as a fix for iOS only in the time being, and it exposes the same problem as outlined in this report. When pulling an item 'back', the swipe item does slide out and instead stays put. If you have an item that is shorter than the swipe item the exact same issue happens even in that mode.

Please see the following video:
https://drive.google.com/file/d/17Crnw3rycBUgy2YatIvOdn

[2020-10-31 23:01] Tommigun1980 commented on #12402
Hi @jsuarezruiz. Has there been any progress on this 'init takes half a minute after a few calls' problem?
If it's hard to reproduce and not a generic problem, I can provide access to my project if an appropriate NDA is signed.
But I'm "hoping" it happens with in any scenario so it can be easily reproduced.

[2020-10-31 23:07] Tommigun1980 commented on #12402
@jsuarezruiz I tested this on Android now and the same slowdown happens there, so I think it's safe to say it's not iOS 14 specific.

[2020-10-31 23:54] transis2 commented on #12545
@PureWeen sorry guys.
In My case I wrote projects in 2017 and keeping it until the atual days.
I wrote custom theme resources because in the past we have no native support to dark theme.
Also theres something wrong with My \Resources\values\styles.xml

My app give Users the option to choose light or dark Mode independent of OS theme. This the cause of confusion.
If we just change page background c

[2020-11-01 00:46] Tommigun1980 commented on #12402
@jsuarezruiz I noticed that converters for bindings are run tens and tens of times for assignments after a while that should only take place once, so my guess is that bindings accumulate somehow. Such as first run -> evaluate bindings once, second run -> evaluate bindings two times, third run -> evaluate four times etc. It doesn't seem to be linear, they seem to evaluate almost exponentially more

[2020-11-01 00:53] Tommigun1980 opened #12699 "[Spec] Backwards compatible merged dictionary speed boost"
Microsoft's documentation says to use styles sparingly as they require multiple lookups when using merged dictionaries.

I think even calling it "merged dictionary" is a misnomer as XF keeps a list of dictionaries, one per "merged" dictionary, so the more dictionaries you merge in the more lookups are required. I don't think we should have to choose between putting all styles in one large file or

[2020-11-01 01:02] Tommigun1980 commented on #12614
@jsuarezruiz Furthermore -- when you have lots of elements in a collection and use SwipeTransitionMode.Drag, it is so sensitive that it's almost impossible to use. The problem is that when trying to 'drag' out a swipe item it doesn't lock vertical scroll, so you end up scrolling vertically *and* pulling out an item. This either breaks the pull out animation or reveals the drag item but also scroll

[2020-11-01 02:16] EddieNoureddine commented on #2413
Issue is still around . Not resolved yet with the latest xf 5.0

[2020-11-01 02:20] Only-Xam commented on #10563
[UWP] SwipeView.Open() is still not working with latest available version Xamarin.Forms.5.0.0.1558-pre3

[2020-11-01 06:55] softlion commented on #12023
I suppose you should add a content over the gradient. Try a collection view with a transparent background.

What i suppose is that the gradient does not redraw itself when a view with a transparent background is over it.

[2020-11-01 07:05] softlion commented on #11853
@bruzkovsky I do have a clean implementation of this for mvvmcross. Along with a clean implementation of a range observable collection perfectly woirking with that (much older that the one your tech guru created some years ago). My code was started 6 years ago and is fully stable on hundreds on devices.

But this is a code that took me a very long time to architecture and build. I have nights on t

[2020-11-01 09:04] bruzkovsky commented on #11853
@softlion I'm sorry I cannot follow you. I didn't mean to suggest that you have to do anything, the problem is entirely on the XF side. I wanted to show that the ObservableItemsSource in its current state does not even work correctly with a plain ObservableCollection. My point is that the problem is more complicated than just the wrong use of `SemaphoreSlim`, therefore I proposed a refactoring of

[2020-11-01 10:24] rscholey commented on #12670
Not sure if this is the same problem but after deleting an app and first time it installs on the phone then now hangs somewhere about here: LoadApplication(new App());  in the appdelegate.

If I stop and run for a second time then it works okay.

[2020-11-01 11:17] kazo0 commented on #10124
Running into the same issue. Calling Unfocus() in OnQueryConfirmed doesn't seem to do anything

[2020-11-01 11:56] SergTomcat commented on #12274
@PureWeen, thank you. I think that's what I was looking for.

[2020-11-01 12:01] #7790 closed

[2020-11-01 12:01] #9590 closed

[2020-11-01 12:01] #11421 closed

[2020-11-01 12:44] maxkoshevoi opened #12700 "[Bug] Unable to bind Glyph property in FontImageSource of ToolbarItem"
### Description
Original discussion: https://forums.xamarin.com/discussion/180852/why-glyph-property-in-fontimagesource-doesnt-bind

This code doesn't produce any errors, but `Glyph` is always empty (getter of `MyIcon` is newer executed):
[code]
Static binding works fine.

### Steps to Reproduce

1. Add `ToolbarItem` to your page
2. Specify`IconImageSource` to it as `FontImageSource` with binded `

[2020-11-01 13:20] kazo0 commented on #10124
Looking at `ShellPageRendererTracker.cs` `AttachSearchController()`, if we were to set `_searchController.ObscuresBackgroundDuringPresentation = false;` then the main view seems to stay in focus since there is no longer a dimmed view overlaying on top of it. Although, the search bar seems to be stuck in "search mode" where you can no longer see the page title but the search term stays:

![Screen R

[2020-11-01 14:01] kazo0 commented on #10124
Looks like we need to set `SearchController.Active = false` when losing focus, I can make a PR

[2020-11-01 15:50] #12561 closed

[2020-11-01 18:49] PureWeen commented on #12618
![2020-11-01_12-46-27](https://user-images.githubusercontent.com/5375137/97811459-60a76580-1c40-11eb-997a-6dcf2effd5dc.gif)

I'm not sure.. It sizes for me here just fine

A repro and more info about the devices you are testing would help

[2020-11-01 19:33] PureWeen commented on #10406
This doesn't seem like a bug with AutoSize. A bug with AutoSize would be a scenario where a given text would layout differently if it was initially set vs typed in

AutoSize appears to be working fine here (unless I've missed something in the discussion)

For example if I take the xaml

[code]

The Editor will layout the same way if I start it out with a bunch of Text vs type the Text in
The above

[2020-11-01 19:35] PureWeen commented on #12618
Please post any of your findings over here

https://github.com/xamarin/Xamarin.Forms/issues/10406

[2020-11-01 19:35] #12618 closed

[2020-11-01 20:23] #12274 closed

[2020-11-01 20:30] domagojmedo commented on #10774
@jsuarezruiz is this something that we can expect in XCT? I saw that TabView was moved there but this wasn't

[2020-11-01 21:44] maxkoshevoi commented on #12351
Also there is no animation in this scenario (even if I explicitly ask for it `GoToAsync("..", true)`)

[2020-11-02 04:00] Tommigun1980 opened #12703 "[Bug] OnParentSet null is not called when popping modal stack"
It is common to have a pattern such as
[code]
to clean up stuff in your ContentPages. This works in a modal stack and a normal navigation stack, ie the system nulls parent and OnParentSet is called when a page is navigated away form.

However, if an entire modal stack is popped via `Navigation.PopModalAsync()`, OnParentSet null is not invoked on the pages. Expected behaviour is that OnParentSet nu

[2020-11-02 04:36] MuneeshKumarG commented on #12507
Any progress in this?

[2020-11-02 05:44] Tommigun1980 opened #12704 "[Bug] Editor with AutoSize="TextChanges" - no control over text position"
Hi!

If you have an editor with AutoSize="TextChanges" and keep on writing inside it, you'll eventually come to a point where the editor can't grow any taller. If you keep writing inside the editor the contents don't scroll (and can't even be manually scrolled) so you will be typing blind after a while. This is worse on small devices such as an iPhone SE.

Please see this video of the issue:
https

[2020-11-02 05:49] Tommigun1980 commented on #10406
I got it to work -- in my case it was an implicit style that was breaking things. Would be so great to have some kind of "style" explorer as exist in the browser, but alas, it was a user error on my side on this one. For anyone else having problems with AutoSize make sure to check your implicit styles for any sizing constructs that may be affecting things.

[2020-11-02 05:57] Tommigun1980 commented on #12675
Very often when I boot the app on an actual device it looks right the first time, then it looks wrong for multiple times, until it eventually looks right again. So I think this is definitely timing related somehow, maybe to the sizing of the elements or something.

[2020-11-02 07:21] Tommigun1980 opened #12706 "[Enhancement] Add pivot for collections"
Hi.

Please see the following video:
https://drive.google.com/file/d/1bk8jBkicgLmW0YDpsy3_PIs4S92LayiS/view?usp=sharing

When the virtual keyboard is shown, the area allocated to the ListView (or CollectionView) gets smaller. This makes the last messages hidden, unless manually scrolled to, and I couldn't find a way to alter this behaviour. I would like to define a 'pivot' where when set to 'Botto

[2020-11-02 09:20] Srikanth540-L commented on #12413
@PureWeen The scenario is simple as described above we select monkeys tab and go to any monkeys details and from there we select any other tab and select monkey tab we will land on monkey detail which has back button on top left and tabs below, In our main application we don't have back button since we have back button in the sample you can navigate back to monkeys tab, The question is in ios it t

[2020-11-02 10:42] Goldstrike commented on #12312
It's the same thing when requesting a **invalid url**:
- on **Android**, this will fire a `Navigated` event with `WebNavigationResult.Failure`
- on **iOS**, nothing happens: we only have a **white empty `View`**

Do you prefer I create a new issue, or is it possible to fix this in the same time?

[2020-11-02 10:52] aaRopi commented on #12312
Hi @Goldstrike ,

Thank you for the additional info. I have a PR that is open fixing the issue I have outlined. Here: #12327

I don't know if the PR fixes your issue as well.

[2020-11-02 10:55] #12680 closed

[2020-11-02 10:56] #12643 closed

[2020-11-02 11:14] Goldstrike commented on #12312
Hi @aaRopi ,
So if I want to use your code, what do I have to do?
- add the [`WkWebViewRenderer.cs` class](https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs#L588) in my "**Renderers**" iOS folder
- add you [implementation](https://github.com/xamarin/Xamarin.Forms/pull/12327/commits/29dc9d2c4d529c78994a614a3546fac8f6339fc3) you've given

I

[2020-11-02 11:50] rmarinho commented on #12504
We have a PR for this : https://github.com/xamarin/Xamarin.Forms/pull/12520

[2020-11-02 11:53] rmarinho commented on #12502
duplicated #12300

[2020-11-02 11:53] #12502 closed

[2020-11-02 11:54] rmarinho commented on #12504
Actually maps were already updated and merged on #10873

[2020-11-02 11:54] #12504 closed

[2020-11-02 12:01] aaRopi commented on #12312
Hi @Goldstrike ,

Yes, I think that should work. Or maybe subclass from the `WkWebViewRenderer`, and add the one extra method my PR also adds.

[2020-11-02 12:02] rmarinho commented on #11807
What nuget  are you ? what version of Forms?

[2020-11-02 12:28] #12645 closed

[2020-11-02 13:36] mduchev commented on #10292
Here's another repro:
[CollectionViewIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/5475366/CollectionViewIssue.zip)

I've had the same issue and managed to narrow the issue down to the combination of GridItemsLayout, Span and HorizontalItemSpacing.

![Nov-02-2020 15-30-17](https://user-images.githubusercontent.com/8217099/97874036-19dd6c80-1d21-11eb-8362-8c962f6ee779.gif)

[2020-11-02 13:45] AlleSchonWeg opened #12710 "[Bug] iOS Label linebreaks with MaxLines"
### Description
Labels with MaxLines value != 1 rendering wrong.

### Steps to Reproduce

Using this sample xaml:
[code]

### Expected Behavior
- Label 1 (Beige) should display 2 lines
- Label 2 (LightGreen) is correct
- Label 3 (LightPink) should display 2 lines and no empty first line.

### Actual Behavior
![Unbenannt](https://user-images.githubusercontent.com/6727366/97874744-bf8cdd80-1d19-11eb

[2020-11-02 13:55] rodrigojuarez commented on #10950
The issue I reported in a comment in this bug (in Android when I set the position programmatically the first time it doesn't set the CurrentItem) is still happening for me. Tested on Android Xamarin.Forms 4.8.0.1560
You have a repo with my code at https://github.com/XamEsp/CarouselPositionIssue

[2020-11-02 14:13] Goldstrike commented on #12312
@samhouts @jsuarezruiz
What's new about this PR? Is there another way to fix the original issue?

[2020-11-02 14:30] kazo0 opened #12711 "[Bug][Android][SearchHandler] Shell SearchHandler border shadow always displays"
### Description
Setting the SearchHandler BackgroundColor to the same color as the Shell.BackgroundColor leaves a right-side border shadow that you cannot get rid of

### Steps to Reproduce

[code]

### Expected Behavior
SearchHandler background matches the nav bar background without any border effect

### Actual Behavior
Right side of the SearchHandler seems to have some border shadow

### Basic

[2020-11-02 15:04] rmarinho commented on #12396
I think what's happing is you are setting in a diffrent Thread when you use the async keyword.

try something like this:

[code]

[2020-11-02 15:11] rachelkang commented on #12523
Hi, @HirakCTS - thanks for submitting this issue!
Would you be able to share the version of XF you're using? I tested on XF 4.8, and assuming you're referring to the count where the DatePicker reads off the date (i.e. Month 11 of 12), wasn't able to reproduce this bug. Please let me know if I'm misunderstanding the issue. But if I'm understanding correctly and if you happen to have the same config

[2020-11-02 15:17] PureWeen commented on #12670
Hello @gitKRM @rscholey and @MitchBomcanhao . I pinged @spouliot on the iOS team about this one but we're going to need some additional info to find anything useful here.

Can you enable diagnostic build logs and attach them here please?

https://docs.microsoft.com/en-us/visualstudio/ide/how-to-view-save-and-configure-build-log-files?view=vs-2019#to-change-the-amount-of-information-included-in-the

[2020-11-02 15:30] rachelkang commented on #12524
Hi, @HirakCTS - thanks for submitting the issue. Would you be able to provide some more details about the version of XF and iOS you're using? I turned on VoiceOver and ran it over this simple XAML, but wasn't able to reproduce the issue as I understood it. VO read off the controls in order: Entry 1, Select a monkey, Entry 2, Entry 3, Entry 4. Let me know if I'm misinterpreting something

[code]

[2020-11-02 15:32] #12584 closed

[2020-11-02 16:22] AlexanderMelchers commented on #9957
I think that with the `EventToCommandBehavior` it may indeed have been the fact I was still using a `BindableProperty` then... I don't think I'll invest more time in this, but thanks for pointing that out to me :)

As to using an `AttachedProperty`, I don't believe those get cleared - i.e., set to `null` - automatically. At least, this didn't show up in a test I did. As such, as with the attached

[2020-11-02 16:30] WorldOfBasti commented on #12396
Thank you so much! With this works it as expected.

[2020-11-02 16:33] rmarinho commented on #12396
Awesome!

[2020-11-02 16:33] #12396 closed

[2020-11-02 16:50] legistek commented on #9957
If the binding is based on the object's `BindingContext`, it should get cleared to `null` when the object is removed from the visual tree. Even if the binding is not based on the `BindingContext` , it would be impossible for the control to receive `ItemTapped` after it's out of the visual tree, so the command would never get invoked anyway. Thus if your concern is the time between when the control

[2020-11-02 17:07] hartez commented on #12678
@rozek1szymon It sounds like you're reporting two different issues here - can you please create a second issue for your CheckedChanged problem?

[2020-11-02 17:41] rmarinho commented on #12697
I don't see how that's possible... the instances will always have Width and Height to -1

[2020-11-02 18:01] rmarinho commented on #12704
Did you tried to add a scrollview around the Editor?

Does ti behave like that on iOS and Android ?

[2020-11-02 18:23] holecekp commented on #11500
RadioButton appearance is not good on Android in 5.0.0 pre-3 as well. The font size is larger compared to the other texts (labels). If the text has multiple lines than the icon is not aligned properly (expected: icon should align to the first line of the text; actual: the icon is centered vertically with respect to all of the text lines).

[2020-11-02 18:46] rachelkang commented on #12516
@johnshardman thanks for submitting this issue! It looks like we currently have no implementation of `AutomationProperties.LabeledByProperty` for iOS :(  We'll be updating our docs to reflect this gap, and will be sure to explore this issue further

[2020-11-02 18:54] rachelkang commented on #12494
@johnshardman this definitely sounds frustrating! I suggest you submit your feedback on this site https://developercommunity.visualstudio.com/spaces/8/index.html and it should then get routed to the appropriate team :)

[2020-11-02 18:54] #12494 closed

[2020-11-02 19:13] Cr15Denis commented on #12418
similar problem #10966

[2020-11-02 19:17] Tommigun1980 commented on #12704
Hi. The editor itself provides a scrollbar so I don't think it's possible to wrap it inside (another) scroll view.

Looking at a messaging app like Facebook Messenger, they cap the rows at 6, after which point it won't grow anymore, and the caret gets kept visible when entering more lines after that.
If there was an ability to set max lines I think the other visualisation problem would not appear

[2020-11-02 19:25] Tommigun1980 commented on #12697
Hi. What do you mean?
I am able to set proper dimensions by using the relative binding to its parent instead of itself - shouldn't this be known at the time when they are added based on its horizontal and vertical options, as long as its parent has dimensions set?

But if not, thank you for the answer. In that case there is still an issue with the collection view when using ItemSizingStrategy="Mea

[2020-11-02 19:34] pictos commented on #12563
@PureWeen this bug still happens. :/

[2020-11-02 19:40] pictos commented on #12563
I think this one is related to:
#12564
#7594
#11446

[2020-11-02 19:43] nithinshiriya opened #12712 "[Bug][iOS] Setting Main page crashing the application"
### Description

After the latest Xamarin form version 4.8 ios app crashing while setting the MainPage.

### Steps to Reproduce

1. Login Page => simple page
2. CurrentApplication.MainPage = new LoginPage();
3. After Login
4. CurrentApplication.MainPage = new MasterDetailPage()
5. Without any information app closed.

### Expected Behavior
Should have open the MasterdetailPage

### Actual Behavior

[2020-11-02 19:59] rmarinho commented on #12712
Hi @nithinshiriya can you please upload a small repro project so we can try look whats the issue? was this working in other versions ?

[2020-11-02 20:02] rmarinho commented on #12692
Hi @EvgenyPrikhodko, sorry but i'm not understanding what's the issue, do you mind upload a small reproduction and explain a little bit more what's the issue you are facing?

also we have a issue template you should follow and answer the questions to help identify the issue. quicker.

[2020-11-02 20:20] rmarinho commented on #12688
Seems to work fine on iOS ,but we see the issue on Android.

![image](https://user-images.githubusercontent.com/1235097/97915125-dac31180-1d48-11eb-9e57-6df8731ab3af.png)

[2020-11-02 20:26] EvgenyPrikhodko commented on #12692
@rmarinho
1. Look this
[code] (https://github.com/xamarin/xamarin-forms-samples/blob/dfeff716692138db15e6f6e851e1680cc9538f61/UserInterface/Xaminals/Xaminals/Views/CatsPage.xaml#L28)
2.  Add this
`SearchBoxVisibility="Collapsible"`
3. Result:

[image Sreen](https://static.redus.cloud/img/Collapsible.png)

[2020-11-02 20:35] nithinshiriya commented on #12712
@rmarinho I am going to create a repo. Meantime here is what i am getting.

2020-11-02 16:34:52.069034-0400 Evervast.PicPoll.iOS[45273:2399130] *** Assertion failure in -[UIApplication _runWithMainScene:transitionContext:completion:], UIApplication.m:4207
2020-11-02 16:34:52.071133-0400 Evervast.PicPoll.iOS[45273:2399130] dynamic_cast error 2: One or more of the following type_info's has hidden vi

[2020-11-02 20:35] rmarinho commented on #12687
The scroll is not getting hidden, is scrolling the full height of the screen, so when you are scroll the height of the visible grid that contains the searchbar and label it scroll to outside of the screen.

The issue here might be android that doesn't scroll nothing.

What do you want to achieve?

[2020-11-02 21:37] KevinAnass commented on #11700
@IgorKravchenko10  there is value i thing replace the text

[2020-11-02 21:42] rachelkang commented on #12631
Hi, @geeetarcode - thanks for submitting this issue. I tried to reproduce this bug but wasn't able to - I put various labels on 3 different pages, and when I'm on the top-most page, VoiceOver only reads the elements on the current page (and none from any underlying pages).

Would you be able to share a sample project that reproduces the issue you're experiencing or edit this one I've tested with h

[2020-11-02 22:08] geeetarcode commented on #12631
Hi @rachelkang . Unfortunately I can't give an example with the current codebase due to NDA. But, did you by chance try it with a subclass of a Page or a View that was acting as a page? I was just in the codebase and am seeing the same issue with a View on top of a Page. I'd think that whatever is on the topmost view would be the one with ADA focus? Or am I thinking about VoiceOver in Xamarin inco

[2020-11-02 22:24] rachelkang commented on #12607
Hi, @johnshardman - thanks for submitting this issue. Would you mind elaborating a bit more on exactly what keys you're pressing and what you're clicking through? I'm running the app with Narrator on, and I'm hearing neither "AppBar" or "Image" read aloud - I only hear the controls on the page being read. If possible, a video would be immensely helpful! Thanks :)

[2020-11-02 22:25] rachelkang commented on #12607
Another note - I had to update the target version of UWP to at least 18362 to successfully build the sample you linked - perhaps you could try updating UWP and seeing if you still see the bug?

[2020-11-02 22:48] rachelkang commented on #12631
@geeetarcode no worries, totally understand! Since I'm not sure exactly how you subclassed your pages or structured your views, would you mind editing the zipped project I shared above ([Issue12631.zip](https://github.com/xamarin/Xamarin.Forms/files/5478430/Issue12631.zip)) to reflect the basic page structure you're thinking of? (no need to share any of the actual code you're working on)  It's pos

[2020-11-02 23:42] VladislavAntonyuk commented on #12688
I am not sure if it is related on not, but I also see on Android, the last item has invalid height:
![image](https://user-images.githubusercontent.com/33021114/97931213-ce08e280-1d75-11eb-8dfb-708c7e282b7d.png)

[2020-11-02 23:44] magoolation commented on #12631
As a voiceover user I would like to clarify some points:
A page and a view are two conpletely different things.
A page is a new viewcontroller and receive exclusivity for the focus.
A view is a overlay and unless it is marked as a modal or other elenents are removed from the accessibility tree all views still visible to voiceover

It is not a xamarin specific issue. It is how accessibility abd in

[2020-11-03 00:20] PureWeen commented on #12303
It doesn't look like Drag is supported natively on UWP. If you test on a native app and set "CanDrag" to true then nothing happens, so we'll have to just go with "by design" or hack together a fake implementation on UWP

The PanGesture also doesn't work on UWP buttons

[2020-11-03 00:20] gitKRM commented on #12670
One thing i noticed yesterday is that xCode is closing off / crashing frequently. We have latest version of xCode. I'm using a different Mac as of yesterday as my mac got itself into a real huff which i suspect has something to do with recent updates, i will look into getting a build log for that however it is a pain as it will mean about 20min off as connecting the windows to my mac will result i

[2020-11-03 00:40] tekmun commented on #12543
Hi,
I hope that this bug can be resolved in the next major release of Xamarin.Forms 5.0.  Is there anything I can help?  Or is there a workaround solution that I can implement?

[2020-11-03 00:54] gitKRM commented on #12670
As mentioned above, I am having issues with building using my mac which was recently updated with xCode to 12.1 and VS for mac to 8.7.9.

At this stage I have spent too much time off of development to continue looking into the issue below hence why i'm using another mac that works as the build host, i do suspect it has something to do with the recent update -- Also, when my windows machine is conn

[2020-11-03 01:31] ibocon opened #12714 "[Bug] iOS application suspended at UICollectionViewFlowLayout.PrepareLayout() when using IsVisible = false"
### Description
Xamarin iOS application infinitely suspended when `CollectionView.IsVisible = false` on start up.

on Android, It works. However, on iOS, setting `CollectionView.IsVisible = false` resulted in application freezed.

### Steps to Reproduce

1. use `CollectionView`
2. set `CollectionView.Visible = false`
3. build and run

### Expected Behavior

run application

### Actual Behavior

no

[2020-11-03 02:17] kazo0 commented on #9033
Is there currently a workaround for this to get the DatePicker dialog to properly show in dark mode?

[2020-11-03 03:25] kraeg75 commented on #11476
This makes very little sense.  If Page1 goes to Page2 and Page2 goes to Page3, then Shell.Current.GoToAsync(".."); goes back to a **new** instance of Page2 it all falls apart when you consider Page2's QueryProperty attribute.  Whatever value was fed to Page2 by Page1 has fallen out of context and is no longer available when Page3 navigates back to Page2.

[2020-11-03 05:04] PureWeen commented on #11476
Can you test this on the latest 5.0 pre3?

[2020-11-03 05:07] SOGAPPS opened #12715 "[Bug] App closes on PopAsync (or Xaml Refresh) in Xamarin.Forms iOS"
### Description
App stops debugging with no crash error, when:
- Navigating back with "PopAsync()"
- Xaml refresh with "Hot Reload"

### Steps to Reproduce

1. Add Xamarin.Forms > 3.6.0.709228 to Xamarin Forms iOS Solution
2. Open another page with "PushAsync()"
3.a. Go back to previous page
3.b. App closes with no error log

4. Error also occurs when making Xaml changes and clicking save.

### Ex

[2020-11-03 06:14] kraeg75 commented on #11476
@PureWeen  Application fails almost immediately.  On InitializeComponent on App class.

System.MissingMethodException: 'Method not found: bool Xamarin.Forms.Internals.ResourceLoader.get_IsEnabled()'

[2020-11-03 07:33] Brosten opened #12716 "[Bug] [UWP] Editor > Unfocused not triggered when pressing back button"
### Description
The unfocused event of an editor is not fired when pressing back-button to navigate back in UWP. Works fine on Android...

### Steps to Reproduce
1. Open a second page with something like
`Navigation.PushAsync(new Page2());`
2. On the second page, have an editor, with an Unfocused event, like
`<Editor Unfocused="Editor_Unfocused"/>`
3. Set focus in the editor
4. Press the back butt

[2020-11-03 07:43] KlaasTroost commented on #12195
Yesterday I installed XF 5.0.0.1558-pre3 and nothing has changed in the behavior when changing all MasterDetailPage to FlyoutPage, so the DetailPage is still not accessible.

[2020-11-03 08:43] rozek1szymon opened #12717 ""CheckedChanged" works only on "check click", it is impossible to uncheck the radio."
Like above, "CheckedChanged" doesnt work on ios, I cannon uncheck the radioButton in 5.0 - pre3

[2020-11-03 09:56] rrEmiZ opened #12718 "[Enhancement] RadioButton TextType"
## Summary

Allow RadioButton label to set TextType (i.e. Html)

## API Changes

var rb = new RadioButton ();
rb.TextType = TextType.Html; // new API

Label on RadioButton displays html

## Intended Use Case

Using html generated dynamic radiobutton lists in XF

[2020-11-03 09:57] mina5500 commented on #12246
any update ?

[2020-11-03 10:15] AlexanderMelchers commented on #9957
True, I probably should've been more careful with my wording here... Yet, why I used "destroyed" was because I attempted catch both the cases of regular object finalization as well as explicit disposal (using `IDisposable`). However, I seem to indeed have gotten confused about which object can and which can't be GC'd when event handlers are not torn down. It's not the event source that can't be GC

[2020-11-03 10:27] softlion opened #12719 "[Enhancement] Allow to override _minimumButtonHeight in ButtonRenderer"
### Description

A Button on iOS seems to ignore vertical padding set to 0.

### Steps to Reproduce

1. Create a Button, set a 0 vertical padding

### Expected Behavior

0 vertical padding

### Actual Behavior

The button height is 44 points.

Because the ButtonRenderer sets a minimumHeight to 44f.
From Xamarin.Forms.Platform.iOS.ButtonRenderer:

[code]

### Basic Information

- Version with issue

[2020-11-03 11:33] rmarinho commented on #12719
I think this is related with the design guidelines for iOS , we can't remove that as it would be a breaking change for everyone.

[2020-11-03 11:42] rmarinho commented on #12717
Can you please give us more information what's not working?! Is it setting the `IsChecked` proeprty from code, is it clicking the `RadioButton`?

Please upload a small sample so we can take a look

[2020-11-03 11:52] mknotzer commented on #11221
@samhouts: I finally found the bug: RowHeight="40" without HasUnevenRows="True"

[2020-11-03 11:55] mknotzer commented on #11221
please reopen the issue and fix it (UWP only)

[2020-11-03 11:57] rmarinho commented on #11867
Duplicate #8251

[2020-11-03 11:57] #11867 closed

[2020-11-03 11:59] rmarinho commented on #8251
This is being worked at https://github.com/xamarin/XamarinCommunityToolkit please follow up there

[2020-11-03 11:59] #8251 closed

[2020-11-03 12:00] rmarinho commented on #6206
This is being worked on https://github.com/xamarin/XamarinCommunityToolkit as the SnackBar control

[2020-11-03 12:00] #6206 closed

[2020-11-03 12:03] softlion commented on #12719
@rmarinho I don't ask you to remove that. I'm asking you to make that customizable :)

[2020-11-03 12:05] rmarinho commented on #12719
Ok, i updated the description

[2020-11-03 12:13] nithinshiriya commented on #12712
I have found the root cause of this bug. Facebook SDK is causing an issue.  Closing this bug because nothing to do with Xamarin.

[2020-11-03 12:13] #12712 closed

[2020-11-03 12:15] rmarinho commented on #12402
Hi @Tommigun1980 thanks for your report, without a repro to look at it would be really hard to get a indication of what's happening. Taking 30 seconds is too long something is not right but we need to look at the repo.

[2020-11-03 12:31] StephaneDelcroix commented on #12402
This kind of issue have been fixed in the past already. But as @rmarinho said, we'd really need a public repro for this. It can be as simple as a label showing how many times a converter has been invoked (the simpler, the better, actually). Until _you_ can provide such a reproduction, the only thing we can do is guessing about what happens in your app/setup.

[2020-11-03 13:07] StephaneDelcroix commented on #12455
after discussing this with @mgoertz-msft, we agreed to leave things as is. x:TypeArguments, x:Type, and x:Static syntax will keep supporting nested types (the x:Static case is even documented iirc). Could you please file a bug so intellisense stops complaining about it : thanks

[2020-11-03 13:07] #12455 closed

[2020-11-03 13:10] Tommigun1980 commented on #12402
Hi. I can’t make this to a repro as it’s too complex. Doesn’t MS have any
program where they sign an NDA and get access to a customer’s project?

All I can say is that the number of times the converters get run increases
every time I go back and forth between the pages. I don’t know if it’s the
root cause for this issue or not. As you can see in the video the time
spent in InitializeComponent incr

[2020-11-03 13:23] rmarinho commented on #12716
Works fine on iOS and Android.

[2020-11-03 13:43] Axemasta opened #12720 "[Bug] WebView Navigating Race Condition"
### Description
_This issue report is both a bug AND an enhancement. I'm essentially saying that the current functionality should be changed because it is very inflexible. The issue is caused by the way the `WebViewRenderer` and `WebView` are interacting with the base platforms, The functionality I am describing in this report is easy to implement in a native app. I would call this a design bug as

[2020-11-03 13:50] pedroreglero commented on #12411
It does also happen in iOS real devices

[2020-11-03 13:58] #12138 closed

[2020-11-03 14:10] StephaneDelcroix commented on #12492
HR has IVT

[2020-11-03 14:23] StephaneDelcroix commented on #11644
not a bug. `entry2` isn't in the scope of `contentview`

[2020-11-03 14:23] #11644 closed

[2020-11-03 14:42] Xyotic commented on #7048
For UWP, set these in a custom renderer:

Control.Padding = new Windows.UI.Xaml.Thickness(0);
Control.MinWidth = 0;
Control.HorizontalAlignment = Windows.UI.Xaml.HorizontalAlignment.Center;

This fixes the issue for me and the checkbox will be centered.

[2020-11-03 14:47] rmarinho commented on #12686
Also doesn't work on 5.0.0-pre3

[2020-11-03 14:49] rmarinho commented on #12715
Hi @SOGAPPS that's really a very old version, can you try with a newer version like 4.8.0 ? >Also a reproduction of the issue would be great.

Thanks

[2020-11-03 15:27] SOGAPPS commented on #12715
@rmarinho Any Xamarin forms above version "3.6.0.709228" crashes (Debugger stops) the app with no log.
- Using "PushAsync", navigating back cause the app to close
- Making changes to Xaml and clicking save cause the app to close

[2020-11-03 15:36] ChristianTBaker commented on #12050
Same issue for me on Android 11.

[2020-11-03 15:46] Xyotic commented on #7048
My fix for iOS. Set this in a custom renderer:

Control.HorizontalAlignment = UIControlContentHorizontalAlignment.Center;
Control.ContentEdgeInsets = new UIEdgeInsets(0, 7, 0, 7);

Control.HorizontalAlignment will align it horizontal but you'll get some kind of padding/margin issue.
This seems to be caused by the ContentEdgeInsets beeing set to (0, 7, 0, 0)...

[2020-11-03 15:59] rmarinho commented on #12543
@tekmun yeah seems a easy fix. if you want to test the NuGet that is generated on pr #12721

[2020-11-03 16:02] daves1992 opened #12722 "[Bug] CollectionView Layout issues"
I noticed since switching to CollectionView from ListView there is multiple layout issues

These issues are apparent when the screen first loads but disappear when you scroll.

XAML:

[code]

Issue:
![CollectionView](https://user-images.githubusercontent.com/29727003/98009584-9ccbf900-1ded-11eb-82dc-9aecbad4211c.gif)

- Version with issue: 4.8.0.1560
- Last known good version: Unknown
- IDE: VS 4.

[2020-11-03 16:37] johnshardman opened #12723 "[Bug] Focus rect disappears for at least one tab stop when tabbing on UWP"
On UWP, when tabbing around a ContentPage that isn't a NavigationPage, the focus moves as expected. However, if a NavigationPage is being used, the focus disappears for a minimum of one tab. If I run the accessibility sample found at https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/userinterface-accessibility/ on UWP, tabbing around the pages results in the focus disappearing

[2020-11-03 16:42] johnshardman opened #12724 "[Bug] AppBar reported by Windows Narrator in UWP builds"
When using Windows Narrator with an app built with XF 4.8 (using NavigationPages), Narrator reports for the AppBar. Narrator should report for ToolbarItems (which it does), but not for the AppBar itself.

This can be seen using the sample at https://github.com/xamarin/xamarin-forms-samples/tree/master/UserInterface/Accessibility - that doesn't have any ToolbarItems, but still reports the AppBar.

[2020-11-03 17:02] jhaprasun opened #12725 "[Bug] Xamarin.Forms 5- Overlapping text if adding multiple Grid inside Grid with label having large text and also overlap if I add stack layout in between grid too. Not adding proper vertical space between two controls text."
### Description
I installed Xamarin.Forms 5 Pre 1/2/3 and none of it helped all together. I've taken grid inside grid with label to display text. For small amount of text it doesn't have any issue. But if we have large text to display using multiple grid then it overlaps the text. And also if in between grid if I add stack layout or label then in this case text is also getting overlapped. This pro

[2020-11-03 17:37] rmarinho commented on #12724
Why wouldn't the app report the AppBar? Is that documented somewhere?

[2020-11-03 17:50] PureWeen commented on #11476
@kraeg75 make sure all your projects updated and if they did then delete out your bin/obj folders and see if that fixes

[2020-11-03 17:59] johnshardman commented on #12724
Users of screen readers want to be told about controls/views that the user wants to interact with, or that provide information to the user. The user interacts with toolbar items. The user might be interested in labels that appear on status bars etc. The AppBar itself is not something that the user will normally interact with or obtain information from directly. Having screen readers report about c

[2020-11-03 18:17] johnshardman commented on #12607
Changing the target made no difference.

Do you work with NicoleLu? If so, @NicoleLu might be able to assist, having reproduced the problem (see https://forums.xamarin.com/discussion/comment/424631/#Comment_424631 )

[2020-11-03 18:59] #12525 closed

[2020-11-03 19:01] rmarinho commented on #12722
Hi @daves1992  thanks for your report, is it possible to upload a small repro of the issue so we can investigate better the problem?!

Thanks

[2020-11-03 20:03] #11706 closed

[2020-11-03 20:30] #12136 closed

[2020-11-03 20:50] #12715 closed

[2020-11-03 21:13] JohanOtto commented on #12080
Just adding a me too here... going to try swapping out the observable instead of clearing it with proper property changed feedback and will let you know

[2020-11-03 21:31] EmilAlipiev commented on #12671
I don't really get this because when create a fresh new project and copy the masterdetail implementation from my actual projects, it works fine. I have checked every single details. Nugets installed their versions, compared codes line by line, UWP settings, Manifest, renderers etc all the same. why one works another not? is there any logical explanation or suggestion to follow to reproduce on a ne

[2020-11-03 21:36] JohanOtto commented on #12080
To follow up - it seems like clearing an observable collection and then adding the items (like in the case of a selection) is causing the issue. I've pulled a stacktrace if this is of any use.

Workaround:
[code]
Unhandled Exception:
System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index
  at System.Collectio

[2020-11-03 22:22] etvorun opened #12729 "[Enhancement] Either ensure single IDispatcher object per thread or provide dispatcher comparison wrt threads they belong to"
## Summary
Need a way to match two IDispatcher objects wrt threads the belong to.

## API Changes

One option is to add IDispatcher.ThreadId. Another options is to introduce DispatcherComparer  which will return true if two IDispatcher objects belong to the same thread.

[2020-11-03 22:24] ClaytonIndustries commented on #12722
@rmarinho You can repro this easily by creating a collection view where the items are different heights. `ItemSizingStrategy="MeasureAllItems"` doesn't seem to work properly on iOS, pretty sure this issue has been raised many times before

[2020-11-03 23:29] eramrit78 commented on #6453
!hope done in 5.0.1 release

[2020-11-03 23:42] samhouts commented on #1332
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-03 23:42] samhouts commented on #1491
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-03 23:43] samhouts commented on #1879
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-03 23:43] samhouts commented on #2751
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-03 23:43] samhouts commented on #3168
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-04 00:03] lynx-ralph commented on #3168
This is an ongoing issue with syncfusion's expander component. Here's the latest thread tracking their upcoming fix.
https://www.syncfusion.com/forums/150648/sfexpander-example

[2020-11-04 00:13] marksarcade commented on #3168
Still occurring for me on that same screen. I've switched from the Syncfusion expander to the Xamarin Forms expander, and still the same type of lines are output:

11-04 10:05:43.740 W/View    (10990): requestLayout() improperly called by crc64ee486da937c010f4.LabelRenderer{c565e97 V.ED..... ......ID 0,0-187,66 #c5} during layout: running second layout pass
11-04 10:08:55.784 W/View    (10990): re

[2020-11-04 01:17] kraeg75 commented on #11476
Hi @PureWeen.  I tried deleting all of the bin & obj folders, but this totally broke the build.  I do this all the time in my general .NET solutions, but Xamarin.Forms just doesn't like it.  Anyway, I managed to get everything working again with v5.0 pre3, but it behaves exactly as it did before.  Once I pop Page3 off the stack, I end up with a **new** instance of Page2 with null values pumped int

[2020-11-04 03:27] tsequeira-vhs commented on #11549
@samhouts Does this mean that this issue will no longer be fixed?

[2020-11-04 03:27] tsequeira-vhs commented on #11568
@samhouts Does this mean that this issue will no longer be fixed?

[2020-11-04 04:39] 4everjass commented on #7797
is this issue (ListView and Expander) fixed?

[2020-11-04 04:41] KarthikRaja26 commented on #6017
Hi @samhouts ,

Any update on this ?

[2020-11-04 05:55] KarthikRaja26 commented on #12384
Hi @PureWeen ,

I have checked with Xamarin Forms version 5.0.0.1558-pre3 and the issue persists in this version. Could you please check in mentioned XF version. Also, the second item getting cut off in the screenshot that you provided.

[2020-11-04 05:57] gokulsaravanan commented on #12557
@PureWeen , Thanks for your attention.
Here I m not talking about ListView Row. The inner grid has two rows with below row properties

[code]
In this listview loaded in first row, in these i have no problem.

I am talking about the grid loaded in second row, in which as Editor and button is loaded.

[code]

Whenever the editor resizes the Grid with BackgroundColor as Green as shown in video not re

[2020-11-04 07:40] MartinScha opened #12731 "The ClearButton is no longer displayed in the entry"
### Description
If I'm using version 4.8.0.1364, the ClearButton is displayed in the entry.
When using version 4.8.0.1451 and higher, the ClearButton is no longer displayed.

### Steps to Reproduce

1. Place an entry on a page in a new or existing app with Xamarin.Forms version 4.8.0.1364.
2. Set the ClearButtonVisibility property to ClearButtonVisibility.WhileEditing
3. Start the UWP app. The Cle

[2020-11-04 07:45] KarthikRaja26 commented on #12635
Hi @samhouts ,

Any update on this?

[2020-11-04 07:46] DjeeBay commented on #12550
Sorry for the delay, here is a simple sample.
For me it still not working, maybe I'm missing something...

[TestXamarin.zip](https://github.com/xamarin/Xamarin.Forms/files/5486230/TestXamarin.zip)

[2020-11-04 08:20] chaoyebugao commented on #12619
Same problem here, I also binded `IsRefreshing` and `Command`. Then iOS would refresh at pulling down，not after finger lift up. Android all is fine with it.

[2020-11-04 09:49] Goldstrike opened #12732 "[Bug] WebView.Navigated event not fired when there is an issue on iOS."
### Description
`WebView.Navigated` **NOT** fired on iOS when there is an issue (server cannot be found, url not found on server, no internet access, timeout, ...).

This issue is related to #12312.

### Steps to Reproduce

1. Hook into `WebView.Navigating` and `WebView.Navigated` events.
2. Run app on iOS and simulate the different cases (server cannot be found, url not found on server, no intern

[2020-11-04 09:51] Goldstrike commented on #12312
I've created a new bug for the other cases: #12732

[2020-11-04 10:10] LGE-AUGMENSYS opened #12733 "[Bug] Memory Leak when Using Image in Certain Containers"
### Description
When using the Xamarin.Forms Image control to display font glyphs inside a Syncfusion tab view, the entire pages are kept in memory, causing memory leaks.
* Without the Image control, the leaks are gone;
* Without the container tab view, the leaks are gone as well in the attached example. However, there are still leaks in our real application. So I'm assuming it also leaks in certa

[2020-11-04 11:38] Axemasta commented on #12720
I've forked the code and will start my implementation of the code changes, you can follow my progress [here](https://github.com/Axemasta/Xamarin.Forms/tree/fix-12720).

I understand the changes might need some work etc or may not even be approved, I will be manually updating forms and including the DLL in my project because I absolutely require this functionality and may aswell put this work back

[2020-11-04 11:44] tekmun commented on #12543
Thanks for all the speedy hard work.

I presume that I can only test this out in the next X.F. 5.0-pre4 release.   Is there a nightly build?  If so, how do I download it?  Thanks.

[2020-11-04 11:49] #12543 closed

[2020-11-04 11:56] Sivaraman761 opened #12734 "[iOS] UIDevice.CurrentDevice.Orientation return UnKnown value in iOS14 with Shell"
### Description
 UIDevice.CurrentDevice.Orientation return UnKnown value in 14 with Shell. if I change the Main page as another shell Page. This issue will occur. otherwise, the issue does not reproduce the issue.

### Steps to Reproduce

Non-working Sample:
1. Run the attached sample
2. Press the Login button
3. Now press the Click Here button
4. See UIDevice.CurrentDevice.Orientation return UnKn

[2020-11-04 12:13] rmarinho commented on #12732
Hi @Goldstrike  i think #12327 should fix this, can you test that nupkg ?

https://dev.azure.com/xamarin/public/_build/results?buildId=29787&view=artifacts&type=publishedArtifacts

[2020-11-04 13:10] Goldstrike commented on #12732
@rmarinho thank you for your feedback.
How could I test this nupkg?

[2020-11-04 13:44] jsuarezruiz commented on #10086
@arunr14 I sent a PR https://github.com/xamarin/Xamarin.Forms/pull/12735 adding a sample using the Threshold property to modify the SwipeView behavior. Could you take a look to the sample?, solve your issue?.

[2020-11-04 13:47] Realgigabyte commented on #11495
Hi,

this is still not working. Is anybody monitoring this thread or would be better to open a new one?

[2020-11-04 13:49] jsuarezruiz commented on #11982
@inimirpaz Thanks for the example where to reproduce the issue!. I have sent a PR with the fix: https://github.com/xamarin/Xamarin.Forms/pull/12736

[2020-11-04 14:58] vsfeedback opened #12737 "Since updating to Xamarin.Forms 16.7, flag SwipeView_Experimental does not work"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Since-updating-to-XamarinForms-167-fl/1233057?preview=true)._

---
[severity:I'm unable to use this version of Visual Studio]
Since updating Xamarin.Forms to 16.7, the following code...

[code]

... does not prevent a later exception when trying to construct an instance of **SwipeView**

[2020-11-04 15:04] allschu commented on #3769
@samhouts not anymore?

[2020-11-04 15:05] jsuarezruiz commented on #12737
Patrick, could you indicate what specific version of Xamarin.Forms are you using?, on what platform do you get the error?

[2020-11-04 15:05] allschu commented on #3769
a definitive fix is really needed!

[2020-11-04 15:12] BretJohnson commented on #12729
(This got closed automatically when I referenced it in a merged PR comment, but it shouldn't have. Reopening.)

[2020-11-04 15:18] Goldstrike commented on #12732
@rmarinho
I finally found how to download and install the nupkg.

So when there is an issue like a wrong URL, I confirm that the `Navigated` event is fired.

However, after a `WebNavigationResult.Failure`result, it's not possible to call the `WebView.Reload()` method: nothing happens, the events `Navigating`/`Navigated`are not fired.
Whereas there is no problem after `WebNavigationResult.Success`r

[2020-11-04 15:20] Connor24601 commented on #12382
I'm experiencing this same issue. Any updates or workarounds?

[2020-11-04 15:27] Axemasta commented on #12720
I have found a fairly elegant solution that doesn't add the spaghetti bolietplate that I propse in my sample repo:

Add a new event to `WebView`: `NavigatingAsync` which contains the following event args:
[code]

Now if the `WebView` invokes this new event, a view can handle it and pass back the code it wants executing:
[code]

`MyLongRunningTask` could be replaced by any code from anywhere, inclu

[2020-11-04 15:59] mduchev commented on #10801
@ZeProgFactory Thank you for the perfect workaround for people like me, who can't update to the latest Xamarin version, due to a lot of issues, which are still pending to be added to a specific sprint even...

[2020-11-04 16:33] JohanOtto opened #12738 "[Bug] Moving items in a collection view causes intermittent crash on iOS"
### Description
I've written some logic to sort a collection view so that I can take advantage of the Xamarin iOS bindings that animates the collection view. This logic now seems to cause a crash.

### Steps to Reproduce

1. Bind to an observable collection on a viewmodel
2. Sort the collection using the below extension method
3. When the view appears populate the collection and then sort.

[code]

[2020-11-04 16:46] #9131 closed

[2020-11-04 17:26] feduss opened #12739 "[Bug][Android] Problem while navigating between pages after httpclient.PostAsync(...)"
### Description
I have a page (DocumentList ) with a list of document (folders) and, when i click in one of them, i open a new page (DocumentEditor), in which i have a button to add some photos (file into the document folder) and another one to send them to an url.
So, the execution flow is the follow:

DocumentList -> DocumentEditor -> AddPhotos

In DocumentEditor i have, as said before, the poss

[2020-11-04 18:40] Tommigun1980 commented on #12617
Hi @PureWeen. Please let me know if you have trouble reproducing the issue. I am able to reproduce it by setting the ItemsSource through an actual binding, instead of inlining the items as is done in the repro project.

[2020-11-04 19:40] rmarinho commented on #12733
Does it work fine if you are not using Syncfusion tab view ?

[2020-11-04 20:02] czuck commented on #1491
This is still affecting us, we have been anxiously awaiting movement on this issue.  I updated the sample app to use Forms 5.0.0-pre3 and FlyoutPage and the issue is still there.
[MasterDetailPage.zip](https://github.com/xamarin/Xamarin.Forms/files/5490239/MasterDetailPage.zip)

[2020-11-04 20:14] rmarinho commented on #12738
Hi @JohanOtto trying to reproduce the issue but I wasn't able to, can you look at this sample i created and try modify to make it look with what you see.

Thanks

[App14.zip](https://github.com/xamarin/Xamarin.Forms/files/5490282/App14.zip)

[2020-11-04 20:24] godboutj commented on #6593
I'm running into the same issue, the Binding to the IconSource doesn't update, and if using a converter to get the proper imagesource (which work if set into the constructor of the toolbar content page), it doesn't even show up at all!

I did loose a few hour tryign to figure out why the image wasn't displayed. Damn I hate Xaml and all that notify mess. I wish someone port Qml to C# so we can get

[2020-11-04 20:55] hartez commented on #12729
@etvorun Can you give us a little more context here? Why are you comparing IDispatchers?

[2020-11-04 21:12] etvorun commented on #12729
@hartez

New Xamarin [Hot Reload](https://github.com/xamarin/UITools/tree/main/HotReload/Source/Xamarin.HotReload.Forms) infrastructure is a fork of WPF hot reload. We have code which groups objects together based on dispatcher/thread they should be processed on. The code assumes single dispatcher object per thread. We can rework that code however it might require non-trivial changes. It will be m

[2020-11-04 21:52] gitKRM opened #12740 "xCode continuously crashes when connected to PC as build host"
### Description
as per above, xCode continuously crashes when connected to a PC as a build host.

### Steps to Reproduce

1. Connect PC to mac over wifi to use the mac as a build host --> on the mac turn on VS and xCode.
2. xCode crashes generally after a few minutes -- This can be bit of a pain as if not noticed, an app being built will take a very long time before the build fails.

### Expected

[2020-11-04 22:07] ChipiCoding commented on #10643
I have the same problem. When we can have a solution?

[2020-11-05 00:38] EvgenyPrikhodko commented on #12692
Hello!
Need more information?

[2020-11-05 01:16] hartez commented on #11383
This is fixed in 5.0.0.1558-pre3. You'll need to change your `Text` properties to `Content` when you update.

[2020-11-05 01:16] #11383 closed

[2020-11-05 02:24] EmilAlipiev opened #12743 "[Bug] UWP Hotreload not working for Font information changes on VS 2019 Preview"
I know that UWP hotreload is in preview but i just wanted to give feedback.
Basically it doesn't work for Font information changes like FontSize,  FontFamily etc. It just updates something irrelevant.
When you restart the debugging session, you can see the change made by Hotreload is totally different than What actual update is after a restart.

 VS 2019  16.8.0 preview 6

[2020-11-05 04:17] hartez commented on #11324
PR #12742 partially addresses this - it gets the FlowDirection applying to the RadioButton. The default template still has an issue, though; it always places the content to the right of the button itself, so applying RTL is pushing the content off the edge of the container.

[2020-11-05 08:02] LGE-AUGMENSYS commented on #12733
No. In our real application, it still leaks even if I remove the Syncfusion tab view. So I assume it has the same problem in some other containers. Due to our time pressure, I've only managed to recreate the issue using the tab view in the attached example.

[2020-11-05 08:26] PatrickRyder commented on #12737
Microsoft Visual Studio Community 2019
Version 16.7.7
VisualStudio.16.Release/16.7.7+30621.155
Microsoft .NET Framework
Version 4.8.04084

Xamarin   16.7.000.463 (d16-7@5209782)
Visual Studio extension to enable development for Xamarin.iOS and Xamarin.Android.

Xamarin Designer   16.7.0.495 (remotes/origin/d16-7@79c0c522c)
Visual Studio extension to enable Xamarin Designer tools in Visual Studio.

[2020-11-05 10:46] codevon commented on #3855
same issue +1

[2020-11-05 11:00] Raystorm7 opened #12747 "[Bug] [iOS] List swipe with MaterialButtonRenderer crash"
### Description
The application crashes if the user try to swipe right to left and there is a button with MaterialButtonRenderer.
This happen only on iOS.

### Stack
[code]

### Expected Behavior
Not crash

### Actual Behavior
Crash

### Basic Information

- Version with issue: 4.8.0.1560
- IDE: VS on mac
- Platform Target Frameworks:
  - iOS:  14.x
- Nuget Packages: Xamarin.Forms.Visual.Material

[2020-11-05 11:50] angelru commented on #8274
any update ?

[2020-11-05 11:57] Arcadi13 commented on #8274
I tried this workaround to fix the original grid's issue, but haven't tested with a huge amount of data.
https://github.com/xamarin/Xamarin.Forms/issues/9125#issuecomment-577776128

[2020-11-05 12:25] rmarinho commented on #12747
Hi @Raystorm7  can you upload a small repo? I just tried a ListView with this template and it works fine:

[code]

![image](https://user-images.githubusercontent.com/1235097/98240878-0240f680-1f62-11eb-87f0-ada98a2a9575.png)

Thanks

[2020-11-05 12:34] rmarinho commented on #12743
Hu @EmilAlipiev  is this using Xamarin.Forms ? or just a UWP app ?

[2020-11-05 12:38] rmarinho commented on #12739
Hello @fedus, this seems a complicated issue and we really need a reproduction to understand what's going on.  Can you please upload a small sample ?

Thanks

[2020-11-05 13:04] Raystorm7 commented on #12747
Sorry my fault, another not updated packages caused the issue.

[2020-11-05 13:04] #12747 closed

[2020-11-05 13:25] EmilAlipiev commented on #12743
Xamarin forms with the latest 4.8 update

[2020-11-05 13:28] #9905 closed

[2020-11-05 13:28] #12683 closed

[2020-11-05 13:39] LGE-AUGMENSYS commented on #12733
We found out that if we explicitly call Dispose on the Image control, the leaks are gone.
However, other controls seem to have the same problem. So it looks like certain containers have problems propagating the disposal?
Or did the disposal mechanism (or the way view hierarchical tree is managed) change after Xamarin.Forms 4.6?

[2020-11-05 14:21] JariKuipers commented on #11059
It seems that in the depths of the issue tracker I have finally found people who are trying to achieve the same thing.

I hope this gets made soon.

[2020-11-05 14:36] rachelkang commented on #12724
@johnshardman thanks for submitting this suggestion! Although this isn't a bug (the behavior is same on a normal UWP app), it definitely is a valid feature request that we'll keep an eye on!

[2020-11-05 14:52] Goldstrike commented on #9073
What's new about this issue?

[2020-11-05 15:01] MixaNir commented on #10012
The same issue on iOS (tested versions 13.7, 14.1 and 12.4.7).
![image](https://user-images.githubusercontent.com/26028899/98257434-bd808400-1f90-11eb-8d4f-ce81fcf204fa.png)
Expected (as on android):
![image](https://user-images.githubusercontent.com/26028899/98257513-cffabd80-1f90-11eb-9561-c89fcf4ddaad.png)

[2020-11-05 15:39] jdbrock commented on #7750
What's the status of this issue? Most of the time I use FlexLayout it's to support scenarios with nested grids and it always measures twice as high as it needs to.

I noticed you removed the 5.0.0 milestone @samhouts - does that mean it's delayed until a later release or will be handled as part of the 4.x series?

If there's a workaround to force an accurate measure, that would be super helpful. T

[2020-11-05 15:46] BretJohnson commented on #12743
@EmilAlipiev - Can you provide a snippet of the XAML you are using, where the font info property changes don't seem to work. That will help in tracking this down. Thanks.

[2020-11-05 15:58] edmlbox commented on #11656
I have the exact same problem with **line** and **ellipsis** and **path** object. When navigating in shell.

[2020-11-05 16:12] daves1992 commented on #12599
I agree, Xamarin is a brilliant platform and I use it quite heavily for my companies mobile apps but some bugs have been open for years. It also seems just browsing the github projects it can take months from requesting reviews to actually getting them so they must need more devs.

[2020-11-05 16:52] rmarinho commented on #12678
Yes that renderer was removed,  it was under preview/experimental flag, .

[2020-11-05 16:52] #12678 closed

[2020-11-05 17:21] hartez commented on #12725
Looks like whatever happened, it happened between 4.8.0.1269 and 4.8.0.1364.

[2020-11-05 17:25] PrimoDev23 commented on #7152
I have found an additional "Bug" while creating an own DataGrid-Control.
Using CollectionView is needed ofc because I need multi-selection

So the issue appears after selecting an Item, then ordering the ItemsSource and replace current ItemsSource by the ordered one.
This causes massive lagging for me.
The only way I can prevent the lag is clearing the SelectedItem and SelectedItems-Property and t

[2020-11-05 17:27] hartez commented on #12725
Most likely the problem happened here: https://github.com/xamarin/Xamarin.Forms/pull/11903

[2020-11-05 17:32] cbradbaer opened #12750 "[Bug] SwipeView in ListView on Android causes Overlapping Duplicates"
I am using Xamarin.Forms 4.8.0.1560 (latest stable release). Visual Studio 2019 and Android Emulator/Android Device API 28

Listview with Swipeview inside the viewcell works normally when the page with the listview is first shown. But after adding an item to the listview's itemssource (which is performed on another page) the listview shows a duplicate item underneath the original one. When swiping

[2020-11-05 17:33] hartez commented on #12729
Okay, I'll take a look this afternoon. Shouldn't be too hard to give you a way to do this.

[2020-11-05 17:53] etvorun commented on #12729
Thank you @hartez. If it turns out to be difficult or impossible then please let us know sooner rather than later. So that we can start refactoring Hot Reload code asap.

[2020-11-05 17:53] feduss commented on #12739
Hi @rmarinho , sorry for the delay...

here's the sample...ios project is not implemented (or it's partially implemented because i've used shared codes) because i didn't have the bug there:

[https://github.com/feduss/SampleProblem12739_](url)

[2020-11-05 18:15] hamiddd1980 commented on #12440
Hi. I want to get your attention to the fact that these 2 issues are somewhat different . as I mentioned in my issue ,the **Radiobutton** doesn't work at all when a **ControlTemplate** is applied to it in Right to Left mode(iOS and Android). so , should I open a new issue to report this bug?
Thanks.
![RadiobuttonTemplate](https://user-images.githubusercontent.com/57061231/98280089-1875a380-1fb0-11

[2020-11-05 18:39] hamiddd1980 opened #12751 "[Enhancement] Review The Code in Relaitivelayout Class To Lay out Views Correctly in Right To Left Mode"
## Summary
RelativeLayout doesn't lay out (position) child views **(Relative to other view)** correctly in horizontal direction when Flowdirection is Right To Left .(this bug is reported under issue #11637).
I guess the problem arises from method **LayoutChildIntoBoundingRegion** in **Relaitivelayout** class.
## API Changes
currently the definition of **LayoutChildIntoBoundingRegion** method in **

[2020-11-05 18:49] geeetarcode commented on #12631
Thanks for the feedback. @magoolation , a view being different from a page is understood. I think I found, partially at least, what was going on in the codebase. It seems that we had pop up windows that were coded with a long line of inheritance that seem to be rooted as views rather than pages...thus, there is bleed from the pages below them. It makes sense in some cases to just change these over

[2020-11-05 19:04] rmarinho commented on #12722
Tested with 4.8.0.1560 and 5.0.0-pre3
Seems i can reproduce this

on load:
![image](https://user-images.githubusercontent.com/1235097/98284531-2966ea80-1f99-11eb-918d-154a0fd1ad51.png)

after i scroll :
![image](https://user-images.githubusercontent.com/1235097/98284660-59ae8900-1f99-11eb-80d6-08a33779b020.png)

[2020-11-05 19:09] rmarinho commented on #12554
Duplicated #12722

[2020-11-05 19:11] #12554 closed

[2020-11-05 20:15] LunchOfBox commented on #8842
My workaround was similar to @BioTurboNick but I tied my GestureRecognizer to the layout inside the DataTemplate.

Needed to set the command parameter's binding context to the content page in order to reference command in view model.
Works for me in Android and Ios.

Hope this helps somone.

Code sample below:

<ContentPage x:Name="MyContentPage" >

    <ContentPage.Content>
        <StackLayout>

[2020-11-05 20:22] Nerves82 commented on #6451
This is a +1,000 for me. It seems insane that the collection view is so single use. I can't do something so simple as have a label under my list be cause the list (even if it only has a fe items in it) is huge! It makes the collection view nearly worthless. This needs to be fixed!

[2020-11-05 23:40] samhouts commented on #3261
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-05 23:41] samhouts commented on #3282
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-05 23:41] samhouts commented on #3287
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-05 23:41] samhouts commented on #3293
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-05 23:41] samhouts commented on #3311
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-11-06 02:32] hartez commented on #12729
We can't add ThreadId to the interface, as that'd be a breaking change. But I think we can do the DispatcherComparer option: https://github.com/xamarin/Xamarin.Forms/tree/dispatcher_comparer

I'll give this another once-over and create a PR tomorrow.

[2020-11-06 09:48] jfversluis commented on #12217
Closing this since there hasn't been a response in a while. If you still have issues, let me know or give Xamarin.Forms 5 (pre-release right now) a spin, since the WebViewRenderer causing this issue has been removed.

[2020-11-06 09:48] #12217 closed

[2020-11-06 10:06] cbs-cbt opened #12754 "[Bug] Map contreol : VisibleRegion.Center do not return center of the map on UWP (works on Android)"
### Description
Putting a pin to VisibleRegion.Center location will not put it in the center of the map.
The offset between the visible center of the map and the value returned by VisibleRegion.Center increases with the altitude of the visible part of the map.

### Steps to Reproduce

1. Create a Xamarin.Forms blank application
2. Add a Map control with a cross in the center of it and a button let

[2020-11-06 10:35] NeelamH96 opened #12755 "[UWP] BoxView gestures not being recognised when BackgroundColor set to Default"
### Description
When setting the background colour on a boxview to Default, tap gestures are no longer recognised

### Steps to Reproduce
With attached test project:
1. Run the sample project
2. Click the pink BoxView  which should show an alert.
3. Click the button to toggle the colour to Default.
4. Click the BoxView again - the alert no longer shows.

Without attached test project:
1. Add a Box

[2020-11-06 11:12] #12490 closed

[2020-11-06 11:22] #7913 closed

[2020-11-06 11:26] pauldiston commented on #8787
Should this issue be reopened or is there a build of XF that has fixed this issue?

[2020-11-06 12:04] rmarinho commented on #9751
this should have been fixed on #10046

[2020-11-06 12:04] #9751 closed

[2020-11-06 12:05] rmarinho commented on #11236
We removed all flags on 5.0.0

[2020-11-06 12:05] #11236 closed

[2020-11-06 12:06] rmarinho commented on #9046
This should be fixed!

[2020-11-06 12:06] #9046 closed

[2020-11-06 12:17] CartBlanche opened #12757 "[Bug] Setting a Button's BorderWidth, CornerRadius to zero and BorderColor to Color.Transparent, does NOT work on MacOS."
### Description
I am building a cross-platform app that targets iOS, Android and MacOS.

I'm using...
- latest Visual Studio for Mac v8.7.9.9
- latest Xamarin.Forms v4.8.1560

### Steps to Reproduce
I have a custom Button class as follows...
`    public class CustomButton : Button
    {
        public CustomButton ()
        {
            BorderWidth = 0;
            CornerRadius = 0;

[2020-11-06 12:50] CartBlanche commented on #12757
Could this line be the issue...

https://github.com/xamarin/Xamarin.Forms/blob/4.8.0/Xamarin.Forms.Platform.MacOS/Renderers/ButtonRenderer.cs#L184

??

[2020-11-06 13:27] artemious7 commented on #9167
Has anyone submitted this to the VS Team? Please, paste a link to the ticket.
Still having this issue.

[2020-11-06 13:48] afnsvdan opened #12759 "[Bug] Button event "clicked" inside SwipeView inside ListView happens at the same time with ListView event "ItemTapped""
### Description
I am building a cross-platform app that targets iOS and Android. But now I haven't got Mac, so I don't how it works on ios...

I'm using...
latest Xamarin.Forms v4.8.0.1560

### Steps to Reproduce

1. I have this XAML code
<ListView x:Name="maps_list"
ItemsSource="{Binding AllMaps}"
HasUnevenRows="True"
SeparatorVisibility="None"
ItemTapped="maps_list_ItemTapped"
AbsoluteLayout.Lay

[2020-11-06 13:50] afnsvdan commented on #12759
ItemsSource="{Binding AllMaps}"
                      HasUnevenRows="True"
                      SeparatorVisibility="None"
                      ItemTapped="maps_list_ItemTapped"
                      AbsoluteLayout.LayoutBounds="0.5, 1, 1, 0.88" AbsoluteLayout.LayoutFlags="All">
                <ListView.ItemTemplate>
                    <DataTemplate>
                        <ViewCell>

[2020-11-06 13:59] afnsvdan commented on #12759
``

[2020-11-06 13:59] #12759 closed

[2020-11-06 14:02] afnsvdan opened #12760 "[Bug] Button event "clicked" inside SwipeView inside ListView happens at the same time with ListView event "ItemTapped""
### Description
I am building a cross-platform app that targets iOS and Android. But now I haven't got Mac, so I don't how it works on ios...

I'm using...
latest Xamarin.Forms v4.8.0.1560

### Steps to Reproduce

I have this XAML code
`<ListView x:Name="maps_list"
                      ItemsSource="{Binding AllMaps}"
                      HasUnevenRows="True"
                      SeparatorVisibi

[2020-11-06 14:59] etvorun commented on #12729
@hartez Thanks for looking into this. Will it handle comparing FallbackDispatcher and Xamarin.Forms.Platform.UWP.Dispatcher? I did not see code which would handle such a case. Main issue for us is that Application.Current.Dispatcher tends to return FallbackDispatcher while VisualElement's return UWP dispatcher. When we then crawl objects to build "XAML graph" - and discover more dispatchers in pro

[2020-11-06 15:19] #12312 closed

[2020-11-06 15:19] #12344 closed

[2020-11-06 15:19] #12732 closed

[2020-11-06 15:19] #12635 closed

[2020-11-06 15:34] rmarinho commented on #12725
@hartez  i don't think so if you test 4.7 you see the issue.
If you test on 5.0.0 branch you see the issue.

[2020-11-06 16:16] rachelkang commented on #11876
Hi, @carlostrujillo thanks for submitting this issue! This is no longer an issue in XF 5.0 and the VoiceOver goes all the way through. However, if you continue to have issues after updating to 5.0, feel free to reopen this!

Note - we are still taking a look at other ScrollView/VO-related issues you may experience! (i.e. if you're using TabIndex, you may experience a different issue where the VO r

[2020-11-06 16:16] #11876 closed

[2020-11-06 16:54] cbradbaer commented on #12750
Here is a complete project demonstrating the issue:
http://cbradfordbaer.com/swipe/SwipeError.zip

[2020-11-06 17:16] rmarinho commented on #12754
Ok this is related with anchorPoint we set..  we need a better logic there.
https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms.Maps.UWP/PushPin.cs#L57
`MapControl.SetNormalizedAnchorPoint(this, anchor); `

[2020-11-06 17:32] rmarinho commented on #12675
Is this on iOS? do you have same issue on Android ?

[2020-11-06 17:37] nonubitta commented on #11566
Why did get removed?
Are we not going to get it fixed?
@samhouts ?

[2020-11-06 17:39] transis2 opened #12762 "[Bug] Java.Lang.IndexOutOfBoundsException: setSpan"
### Description
IndexOutOfBoundsException observed in Xamarin.Android/Xamarin.Forms code in the wild.

Stack trace:

[code]

### Steps to Reproduce
Unknown

### Expected Behavior
No crash

### Actual Behavior
Java.Lang.IndexOutOfBoundsException: setSpan (16 ... 16) ends beyond length 15

### Basic Information

- Version with issue: 4.8.0.1560
- Last known good version: n/a
- IDE: VS 2019 16.7
- Pl

[2020-11-06 17:50] nichojo89 opened #12763 "[Bug] String format does not show double quotes when encoding characters"
### Description
In XAML using StringFormat  I must escape my own quotes with encoded 2x like this if I want to display qoutations around a string
`Text="{Binding MyBinding, StringFormat='&quot;&quot;{0}&quot;&quot;'}`

This Doesn't work although. its the expected behavior
`StringFormat='&quot;{0}&quot;'}`

For some reason this works as well
`StringFormat='&quot;{0}&quot;Hello World'}`

### Steps t

[2020-11-06 17:59] transis2 commented on #12762
I propose this update on Xamarin.Forms.Platform.Android\Renderers\EntryRenderer.cs:

[code]

[2020-11-06 18:03] bmacombe commented on #12731
It looks like to me that the Entry default behavior in XF is to never show the clear button.

[code]

I suspect before #9250 and #11953 the UWP Entry Renderer never set the clear button visibility, so it was honoring the UWP default of show vs the XF default of hiding it.

I'd vote we honor the XF behavior to be consistent with the other platforms.

@MartinScha You can set the visibility to always

[2020-11-06 18:07] feduss commented on #12739
There's some kind of problem with the url. Copy and paste manually:

https://github.com/feduss/SampleProblem12739_

[2020-11-06 18:32] rmarinho commented on #12757
Hello Dominique :) can you try 5.0.0-pre3 i think we fixed this in 5.0.0.

Thanks

[2020-11-06 18:47] bmacombe commented on #12731
Hey misread the description, I do see the problem, working on a PR now.

[2020-11-06 19:10] 33Infinity commented on #12448
Im having same problem with <Image.GestureRecognizers. See https://github.com/syncfusion/xamarin-demos/issues/32. Hopefully similar issue

[2020-11-06 19:20] transis2 opened #12766 "[Bug] System.DivideByZeroException on ShellFlyoutRecyclerAdapter"
**Description**
DivideByZeroException observed in Xamarin.Android/Xamarin.Forms code in the wild.
This erros happens on Xamarin.Forms.Platform.Android\Renderers\ShellFlyoutRecyclerAdapter.cs -> GetItemViewType(int position)

I propose an explicit check to Dictionary before insert value
[code]

**Stack trace:**
[code]
**Steps to Reproduce**
Unknown

**Expected Behavior**
No crash

**Actual Behavior

[2020-11-06 19:20] bmacombe commented on #12731
Fixed the issue and updated to the 8836 issue page to display a pre load set of Never and WhileEdting along with a toggle to test changing after load.

[2020-11-06 20:00] spouliot commented on #12670
The stable channel, on which VS for Mac 8.7.9 (d16-7) is available, ships with Xamarin.iOS 14.2.0.12. However your logs shows:

The `HE0004` error is because you're using an old Xamarin.iOS version that was released before Xcode 12. Some changes that Apple made in Xcode12 requires a newer version of `mlaunch` to work with simulators and devices. That's why you do not see any simulator from VS, it

[2020-11-06 20:12] mevdev commented on #12631
I think the main thing is being able to set accessibilityViewIsModal on a UIView.

That bool should be added so Views can become overlays in Xamarin.Forms.

[2020-11-06 20:15] PureWeen commented on #12766
@transis2 do you have a larger stack trace? Or a sample by chance? Or can you post what your Shell file looks like?

I'm not quite sure how the proposed fix would address the issue..

[code]

Is initializing the key to a value so the map won't contain that ID at this point ever (AFAICT)

The problem here seems to be that the `id` value here is < 0

That would be my guess

[2020-11-06 20:24] geeetarcode commented on #12631
To echo what @mevdev  was saying, it does make more sense to me to have the topmost _view_ have the focus of its elements rather than the topmost _page_, which seems to be the current behavior.

[2020-11-06 20:37] PureWeen commented on #11218
I tested this on the latest 5.0 pre3 and it looks like it's fixed there

I would recommend using URI navigation to achieve what this PR here is trying to accomplish.

The tricky part here is that the "RemovePage" call is happening the constructor of the page that's currently becoming visible so the new page isn't visible yet. This causes a bit of a weird visual effect as well

If you use URI navig

[2020-11-06 20:37] #11218 closed

[2020-11-06 20:49] transis2 commented on #12766
Hello @PureWeen

This is how my ShellFlyout looks like

![Screenshot_20201106-174536](https://user-images.githubusercontent.com/4941173/98413234-04857c80-2058-11eb-829e-c0b7d8deca77.jpg)

below is the xaml
[code]

The App Center Stack trace has no more info than that.

[2020-11-06 20:56] transis2 commented on #12766
I found more info on reports

![image](https://user-images.githubusercontent.com/4941173/98413928-44009880-2059-11eb-9438-3288d7bd01e3.png)

[code]

[2020-11-06 21:32] rerickson1 commented on #5942
Can you provide a quick example in XAML? I am trying this without success.

[2020-11-06 22:08] BrayanKhosravian commented on #9998
Ok I created an IssuePage in the control gallery and could verify the issue.

I can clearly see that you use the same Model/ViewModel for every DataTemplate and you are not using polymorphism to have different relationships between DataTemplates and ViewModels/Models.
So let me explain what's going on here and why this intents this way.

The thing is that the `DataTemplateSelector` caches the type

[2020-11-06 22:15] BrayanKhosravian commented on #9998
Here is the page for the control gallery, just in case someone wants to try it.

[code]

[2020-11-07 05:18] uk-taniyama opened #12771 "[Bug] NavigationPage.BarBackgroundColor is always white.@WPF"
### Description

Even if you specify "Red” for NavigationPage.BarBackgroundColor, it will be drawn in "White".
Of course Android, iOS is "Red".
[code]

### Basic Information

- Version with issue:4.8.xxx
- Last known good version:4.7.xxx

[2020-11-07 05:21] uk-taniyama commented on #12771
Changing to this will work.

[code]

[2020-11-07 07:47] Only-Xam commented on #10950
[**UWP**] - CarouselView autoScroll logic specified above my be earlier is still not working on **XF 5.0.0.1558-pre3**. Even if we increase the **CarouselView.Position** property, Carousel is moved from 0 to 1 and then again back to 0.
Similarly if we manually scroll to last (using mouse), then it will stuck between second last and last position.

**Note**: It is working fine on Android. Also newl

[2020-11-07 08:09] Tommigun1980 commented on #12675
Hi @rmarinho. Unfortunately I don't have a physical Android device at hand right now so I can't say. I have only seen it happening on a physical iOS device, not in the iOS simulator or Android emulator.

Thanks.

[2020-11-07 09:34] viveklpu2011 commented on #10978
I have a footer in my collection view and i want to jump to footer , how will i jump, please any one can help?

[2020-11-07 09:35] divyesh008 commented on #9031
I have Xamarin.Forms version - 4.7.0.968 and still I am getting this exception:

## `How to reproduce error?`

<hr/>

[code]
<hr/>

Exception:

[code]
<hr/>

## **Android Build Settings**

![Screenshot 2020-11-07 at 3 01 32 PM](https://user-images.githubusercontent.com/10617244/98437721-9d74d000-210a-11eb-9272-774690bf7ea5.png)

[2020-11-07 09:45] divyesh008 opened #12772 "[Bug] Xamarin.Froms - Android: DisplayAlert with Yes, No option crashing app"
### Description
While using DisplayAlert("Exit?", "Are you sure to close", "Yes", "No"); my app crashing in android.

### Exception:
[code]

### Steps to Reproduce

1. Write this code in Xamarin.Forms App.xaml.cs file

[code]

2. Put the breakpoint on var action line
3. Run the app in Xamarin.Android Emulator or in Real device

### Expected Behavior
It should run fine and show Dialog box with mess

[2020-11-07 09:46] divyesh008 commented on #9031
It's not fixed yet: https://github.com/xamarin/Xamarin.Forms/issues/12772

[2020-11-07 10:04] Cfun1 commented on #12435
@rachelkang I have edited, could you possibly change it from bug to "Feature Request" or "Enhancement"?

[2020-11-07 13:01] osmanghaziurdu opened #12773 "WebView Background Color Property Changing Doesn't Work"
### Description
I am using webview inside Content Page (XAML). When i set webview background color to e.g black or blue, color does not changes. Even if i use webview inside layouts such as stacklayout and try to change background color of layout, this condition also doesn't fulfills
### Steps to Reproduce

1. Create a content page (XAML)
2. Use webview inside content page that fills whole page
3.

[2020-11-07 13:07] CartBlanche commented on #12757
Hi @rmarinho . The problem is still there in 5.x. This screenshot looks identical to 4.8, but it is actually running on 5.0.pre3.

<img width="134" alt="Screenshot 2020-11-07 at 13 04 27" src="https://user-images.githubusercontent.com/271363/98442022-0f90e900-20fa-11eb-9546-4ba69e899c23.png">

[2020-11-07 15:25] Tommigun1980 opened #12774 "[Bug] Null reference exception inside ICommand instantly terminates app"
Hi.

If a null reference exception happens inside an executed Command, the app terminates instantly, nothing is printed to the log, and no error propagation takes place. This is quite troublesome as it makes hard to track down what happened and also impossible to log these errors for diagnostic purposes. You can't even catch this exception -- it literally just terminates on a null reference error.

[2020-11-07 19:14] PureWeen commented on #11521
This is fixed on 5.0 pre3

[2020-11-07 19:14] #11521 closed

[2020-11-07 20:25] maxkoshevoi opened #12775 "[Bug] Shell. Don't show shadow for navigation bar if TabbedPage is opened"
### Description
There shouldn't be any shadow under navigation bar if tabbed page is opened.

Here is the source code of the `TabbedPage `
[code]

### Steps to Reproduce

1. Create shell application
2. Open `TabbedPage` using `Navigation.PushAsync`

### Expected Behavior
![image](https://user-images.githubusercontent.com/6609929/98450728-c36c9580-2147-11eb-9892-7e54e3742163.png)

### Actual Behavi

[2020-11-07 21:28] avorobjovs commented on #9998
Thank you, @BrayanKhosravian! Now it's clear to me.

I think that option 1 is better:
1.) Update the docs and tell that the ViewModels/Models should be unique when using a DataTemplateSelector while the CachingStrategy is set to RecycleElementAndDataTemplate
And maybe change the DataTemplateSelector in a way that all VmTypes and DataTemplates could be get during runtime. This would enable to throw

[2020-11-07 22:40] BrayanKhosravian commented on #9998
Yes I also think that option 1 is better. I wonder how the xamarin.forms team sees this, as this change would have API impact.
But there could also be other solutions.

But I think that we could use the modified DataTemplateSelector for the iOS CollectionView. I spent a lot of time with this issue #10842.

The iOS CollectionView PreRegisters all DataTemplate Types and does not do that during runti

[2020-11-08 01:14] VladislavAntonyuk commented on #11667
@PureWeen @samhouts Any progress on it?

[2020-11-08 01:19] amy-perelberg-self opened #12789 "Crash in Layout.UpdateChildrenLayout()"
### Steps to Reproduce

1. Happens very Rarely, however it affects some users on iPhone 8 and iPhone XR
2. PushAsync(new ContentPage())
3.

### Expected Behavior
View Appears
### Actual Behavior
App Crashes
### Environment
iOS

[code]

### Build Logs

This s a report from Microsoft AppCenter:

Layout.UpdateChildrenLayout ()
SIGABRT: Object reference not set to an instance of an object.
Open

Open

[2020-11-08 12:19] VladislavAntonyuk opened #12776 "[Bug] iOS CollectionView, CarouselView Cannot access disposed object. DefaultRenderer"
# Description
[code]

### Steps to Reproduce

1. Create carousel view with 3 items
2. Swipe
3. application hangs

or
1. Create collection view with custom template and empty view
2. Swipe to refresh

### Expected Behavior
App shouldn't crash

### Actual Behavior
App crashes

### Basic Information

- Version with issue: 5.0.1 - nightly
- Last known good version:
- IDE: VS for Mac
- Platform Target

[2020-11-08 12:20] VladislavAntonyuk commented on #12776
may be related to: https://github.com/xamarin/Xamarin.Forms/issues/11667

[2020-11-08 12:46] VladislavAntonyuk opened #12777 "[Bug] CarouselView NRE if item template is not specified"
### Description

### Steps to Reproduce

1. Create carousel view with 3 items
2. do not set template

### Expected Behavior
Display empty page (no crash)

### Actual Behavior
NRE

### Basic Information

- Version with issue: 5.0.1-nightly
- Last known good version:
- Platform Target Frameworks: Checked on iOS 14

### Screenshots

![image](https://user-images.githubusercontent.com/33021114/98465352

[2020-11-08 16:00] mknotzer commented on #11221
@pauldipietro, @samhouts: please reopen the issue

[2020-11-08 17:07] LakshmiNatarajan21 opened #12778 "[Bug] DragAndDrop not working when loading custom ListView inside the ScrollView"
### Description
When loading our custom ListView control inside the ScrollView, the drag and drop function not worked in Android and iOS. The reported issue is a break in XF version 4.1.0.618606.

Also, our DragAndDrop works fine without scrollview.

### Steps to Reproduce

1. Run the attached in sample in iOS and Android
2. Drag and drop an item
3. The item is reordered but the dragging is not up

[2020-11-08 18:20] PureWeen commented on #11841
@MaxFmi can you try 5.0 pre3? If you're still seeing an issue can you attach a repro? I tested with the zip here https://github.com/xamarin/Xamarin.Forms/issues/11841#issuecomment-693426569 and the ".." seems to be working alright

[2020-11-08 20:05] solomonfried opened #12780 "[Bug] Invalid Service Error (error: 0xe8000022)."
### Description

Trying to Debug my app on an iPad I get the following error

Error		error MT1007: Failed to launch the application '/Users/solomonfried/Library/Caches/Xamarin/mtbs/builds/Classtars.iOS/c98d0a0aeae...4f29/bin/iPhone/Debug/device-builds/ipad6.11-14.2/Classtars.iOS.app' on the device 'My???s iPad': Failed to launch the application 'com.pnqsys.classtars' on the device 'My???s iPad': I

[2020-11-08 21:13] acuntex commented on #6387
Also happens with Xamarin.Forms.Nuke.

I guess it happens if you use a custom Image Source Handler and has nothing to do with FFImageLoading specifically.

[2020-11-08 22:16] acuntex commented on #6387
This seems to be definitely a crash in Xamarin.Forms
`
				Image = await _item.IconImageSource.GetNativeImageAsync();
`

Apparently the default implementation by Xamarin.Forms (https://github.com/xamarin/Xamarin.Forms/blob/f35ae07a0a8471d255f7a1ebdd51499e10e0a4cb/Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs) is not really async, it returns without awaiting - therefor there is no time for

[2020-11-09 01:41] morphinapg commented on #4143
On my android app, if I have more than one clickable span on the same line, and click the last one, my app acts like I've clicked every one of them. If I click the second one, it opens the links for those first two only. Clicking the first clickable span on a line (or if it's the only one on that line) works perfectly fine. My app doesn't seem to have any issue recognizing my taps, it just thinks

[2020-11-09 03:48] Only-Xam commented on #11581
[UWP] - Noticed same issue with Grid as well. In below example, application launches successfully but when we reduce window size manually then Grid column width is not changed to 50 and application crashes,

<Grid x:Name="mygrid">

     <Grid.ColumnDefinitions>
           <ColumnDefinition x:Name="LeftSide" Width="100" />
           <ColumnDefinition x:Name="RightSide" Width="*" />
     </Grid.Col

[2020-11-09 04:01] djhango opened #12782 "[Bug] [iOS] RefreshView pushed into view when accessibility navigating through CollectionView header and items"
### Description
When using a `RefreshView` and wrap a `CollectionView` with header in it, when using `VoiceOver` and accessibility navigating through the items in the header, or the CollectionView's items if the list of items does not overflow the screen, the whitespace of the `RefreshView` is displayed, sometimes without the `LoadingSpinner`

### Steps to Reproduce

1. Have VoiceOver enabled on d

[2020-11-09 04:44] KarthikRaja26 commented on #12384
Hi @PureWeen ,

Any update on this ?

[2020-11-09 04:47] hasan9444 commented on #12725
This issue also  reproducing on XF version 4.8.0.1560
any update on fixing this issue in XF 4?

[2020-11-09 05:14] skadookkunnan commented on #12001
This issue does not look like fixed even in the latest XF 4.8.0.1560. Why is this showing as '**Closed**'?

[2020-11-09 07:13] suganya519 opened #12783 "[Android] Performance issue When we use shell navigation"
### Description

When we use multiple label, these cause the performance

### Steps to Reproduce

1. Run the attached label
2. Navigate to home page
3. Navigation the FIRST TIME, the flyout is very glitchy and slow

### Expected Behavior

We we navigate to other page, Navigation should be smooth

### Actual Behavior

The flyout is very glitchy and slow

### Basic Information

Version with issue: 4

[2020-11-09 08:14] TouchBoarder commented on #10642
Looks like this could be caused by video stream been optimized for screen size change?
https://forums.xamarin.com/discussion/178808/video-try-to-reload-when-orientation-changes

[2020-11-09 08:29] feduss commented on #12739
Any news? :)

[2020-11-09 08:30] ArtjomP commented on #12246
4.8.0.1560 freezing still

[2020-11-09 08:32] mina5500 commented on #12246
i tested on latest version 4.8.0.1560
and it is working fine

[2020-11-09 08:56] mina5500 commented on #12246
may be the order of the attributes matter

<H:HEntry FontSize="15" HeightRequest="60" Margin="-3" TextColor="White" Placeholder="User Name" PlaceholderColor="White" x:Name="usernameEntry" Keyboard="Email" BackgroundColor="Transparent" Unfocused="Entry_OnUnfocused" Focused="Entry_OnFocused" ReturnType="Next" TextChanged="usernameEntry_TextChanged" />

 <H:HEntry FontSize="15" HeightRequest="60" Mar

[2020-11-09 10:31] andos716 commented on #3454
I am still getting this issue in Xamarin Forms 4.8?

[2020-11-09 12:42] jsuarezruiz commented on #8608
@rmarinho Do you think this issue should have the blocker label?

[2020-11-09 12:50] AswinPG commented on #8608
![20201109-181417](https://user-images.githubusercontent.com/29278621/98543308-4ad91680-22b8-11eb-95af-a8b32f5649c1.gif)

[2020-11-09 12:52] AswinPG commented on #8608
CarouselView Behaves like a collectionview when scrolled slowly

[2020-11-09 13:03] AswinPG commented on #8608
Also if we use peekarea insets to view more than one item in the carouselview and scroll to more than one one item it scrolls us back to the next item of the current selected item and not the one which we scrolled it to (Using xamarin forms 4.8)
![20201109-182904](https://user-images.githubusercontent.com/29278621/98544453-09e20180-22ba-11eb-9b5b-1b393418a5a0.gif)

[2020-11-09 13:50] GnanaPriyaNamasivayam opened #12785 "[Bug][iOS] TapGesture in Shell does not work in iOS(Xamarin.Forms)."
### Description

Added TapGesture for View loaded inside Shell.ItemTemplate. Its not working only on iOS 14.1. Last checked iOS version 13.3 worked fine and also Android too works properly.

My app's Xamarin Forms : v4.7.0.1179

### Steps to Reproduce

1. Added Xaml for reference view.
2. Use them and hook viewmodel command for one of the Item (LogOut- one of template selector item)loaded inside S

[2020-11-09 17:02] rachelkang commented on #12785
Hi, @GnanaPriyaNamasivayam - thanks for submitting this issue! Unfortunately, I wasn't able to reproduce it :/
Would you mind sharing either this project or a smaller sample project that reproduces the same issue? Thank you :)

[2020-11-09 17:20] rachelkang commented on #12783
Hi, @suganya519 - thanks for submitting this issue! Would you mind sharing a gif/video that shows what you're seeing? I tested your repro (on a Pixel 2 API 29 simulator) and wasn't able to see any of the glitchy behavior myself.

[2020-11-09 17:38] GnanaPriyaNamasivayam commented on #12785
Hope this helps.
[Uploading ShellSample.zip…]()

[2020-11-09 17:41] rachelkang commented on #12782
Hi, @djhango - thank you for submitting this issue! Would you mind clarifying the repro steps a bit? What are the exact steps you're taking to trigger the refresh while navigating with accessibility? And what is the exact whitespace you're referring to? If possible, screenshots would be helpful! Thanks so much :)

[2020-11-09 18:34] priyanka-kondapuram opened #12788 "[Bug] System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.PickerEditText'. (JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self))"
### Description
These are sporadic crashes currently happening only on Android where we get System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.PickerEditText'.  No such crashes coming from iOS devices.

### Steps to Reproduce
Unknown. I was never able to reproduce this on emulators. I only know this is happening before opening a new page t

[2020-11-09 18:35] HelenMamalaki commented on #12490
Thank you for resolving so quickly! I installed the 2 latest nightly build v5.0.1.1668-nightly and one before it is still the problem in it. The Android SwitchRenderer seems to have gone missing too. Am I missing something?

[2020-11-09 18:45] rachelkang commented on #12778
Hi, @LakshmiNatarajan21 - thanks for submitting this issue! Unfortunately, as much of this repro is specific to the custom control, it's difficult to pinpoint the potential XF issue. Would you be able to share a repro where ScrollView might be breaking something without SF components?

Although I don't know much about this DragAndDrop, a behavior which seems to be specific to this custom ListView

[2020-11-09 19:31] Strypper commented on #12339
I'm also got hit by this, is there a work around ?

[2020-11-09 19:43] stephen-hawley commented on #12789
Thanks for reporting the issue. I'm transferring this to Xamarin.Forms as it looks the issue belongs here.

[2020-11-09 19:50] vniehues commented on #9917
![image](https://user-images.githubusercontent.com/28765921/98589164-29365a00-22cd-11eb-9db8-aad8ba06efe7.png)
Also applies to the RadioButton. This is a screenshot i took on iOS.

[2020-11-09 20:10] Alicg commented on #10157
Is there any existing workaround for detecting whether scrolling is active (started and not released)?

[2020-11-09 20:33] adevell commented on #12502
After 3 days of testing, we were successful in isolating an iOS app crash problem and concluded the problem is the same as other problems described in this thread. The combination of the iOS 14.0 SDK, a CollectionView control, and a Navigation.PopAsync call from a page in the Master-Detail Page’s Detail page queue triggers the problem. We tested both ObservableCollection<> and List<> data structur

[2020-11-09 20:43] transis2 commented on #12339
Hi @Strypper
 The workaround is set colors in code behind

[2020-11-09 21:12] hartez commented on #12001
Because it was not fixed until about a week after that version was released. The fix will be in the next service release of 4.8.

[2020-11-09 21:37] PureWeen commented on #12490
@HelenMamalaki do you mean RadioButtonRenderer?

The nightly generates from the main branch which wasn't merged up yet. Test again with the nightly that's generated later today and let me know if that has issues

[2020-11-09 21:45] rachelkang commented on #12780
Hi, @solomonfried - thanks for submitting this issue! Would you be able to provide your full build logs and any crash reports, so that we can better understand the issue you're facing?

[2020-11-09 22:08] torynfarr commented on #11936
@Redth @PureWeen

Sorry for the slow reply, I've been swamped with other projects.

Unfortunately, the issue is still present.

I updated the _Xamarin.Forms_ package to version 4.8.1560 and tested opening links. They still do not trigger a navigation event.

I also tested out the latest prerelease version of the package: _Xamarin.Forms_ version 5.0.0.1558-pre3. The issue still occurs.

I'm assumin

[2020-11-09 22:13] rachelkang commented on #12775
Hi, @maxkoshevoi - thanks for submitting this issue! I wasn't able to reproduce this issue you're describing - I tried it on a blank Forms Tabbed App project, but your project seems to be wired a bit differently with your custom controls. If I'm misunderstanding and you can share this project or a sample project reproducing the same issue, that would be extremely helpful! Thank you :)

[2020-11-09 22:15] kraeg75 commented on #11476
@PureWeen Okay, that's weird. The first time around it creates a new instance of Page2 when Page3 is popped, but after that Page2 gets reused.  I can go in and out of Page3 as many times as I like and end up back on the same instance of Page2.

[2020-11-09 22:25] maxkoshevoi commented on #12775
Hi, thanks for taking time to investigate this.
Here is project like: https://github.com/maxkoshevoi/NureTimetable

Recently I migrated it to Shell. Before this there was no shadow on that page.

Repro steps:
- Go to Timetables tab
- Tap on plus toolbar item

[2020-11-09 22:41] rachelkang commented on #12788
Hi, @priyanka-kondapuram - thanks for submitting this issue! I found a similar [conversation](https://forums.xamarin.com/discussion/158701/cannot-access-a-disposed-object-object-name-xamarin-forms-platform-android-pickeredittext) in our forums that you may find helpful. If the advice there doesn't help with your case, would you be able to share this project or a sample project reproducing the same

[2020-11-09 22:58] rachelkang commented on #12789
Hi, @amy-perelberg-self - thanks for submitting this issue. Would you be able to share this project or a sample project reproducing the issue? I'm curious about what you have on the specified ContentPage that might be affecting this behavior. Also, would you share what version of Xamarin.Forms you're using? Thanks :)

[2020-11-09 22:58] hartez commented on #12729
@etvorun How about

[code]

? If we make that async, will that cause any problems for you?

[2020-11-09 23:03] etvorun commented on #12729
@hartez Unfortunately yes. It also does not add value as we can implement such API ourselves, e.g.
`public static async Task<int> ThreadId(this IDispatcher dispatcher)
{
  if (!dispatcher.IsInvokeRequired) return Thread.CurrentThread.ManagedId;
  int id = await dispatcher.InvokeAsync(() => Thread.CurrentThread.ManagedId);
  return id;
}`

[2020-11-09 23:15] rachelkang commented on #12773
Hi, @osmanghaziurdu - thanks for submitting this issue! Would you mind clarifying a bit more on what you're use case is? What exactly are you trying to change the color of? You unfortunately won't be able to change any colors or anything inside the WebView itself; however, if you're trying to set the background color of the space around the WebView, that's definitely feasible! You can try somethin

[2020-11-09 23:51] rachelkang commented on #12772
Hi, @divyesh008 - thanks for submitting this issue! I tried to reproduce this issue with your same set-up, but wasn't able to. Would you run this sample project I've attached or edit it to better reflect your code? (or share your project if possible?) Would love to take a closer look - thanks again!

[Issue12772.zip](https://github.com/xamarin/Xamarin.Forms/files/5513907/Issue12772.zip)

[2020-11-10 00:05] kmcclive commented on #1879
I'm still seeing some similar behavior, but don't know what is expected.  If SelectedItem is set and I change the ItemsSource to a collection that still contains the SelectedItem, SelectedItem is then set to null.  Is this expected?  Do I need to explicitly set SelectedItem whenever I change the ItemsSource?

[2020-11-10 00:17] djhango commented on #12782
Hi @rachelkang , after looking into it a bit further, it seems that the whitespace doesn't come from the `RefreshView` itself to repro the issue that I initially raised, the steps should just be to
- have VoiceOver enabled on the device
- deploy the repro solution
Whitespace should be visible above the `CollectionView` header as shown below (on my actual project I need to accessibility navigate th

[2020-11-10 00:29] mkosieradzki commented on #10719
WebView2 works like a charm in WPF.

To get it working, you need to:
- use package versions with `-preview` in name (at least today) (otherwise you will not see proper classes for WPF)
- have either canary version of Microsoft Edge installed or WebView2 runtime installed directly - you can download it here: https://developer.microsoft.com/en-us/microsoft-edge/webview2/ .

BTW. Also looking forward

[2020-11-10 03:22] EmilAlipiev commented on #9515
maybe we can use slidecontrol instead of swipe control like in the other issue mentioned. it is just deprecated but not removed.

[2020-11-10 03:25] EmilAlipiev commented on #9515
Is that actually working on a windows 10 touch based devices like surfaces? anyone tested it? Using simulator it doesn't seem to be working although i used the touch mode

[2020-11-10 05:02] Sivaraman761 commented on #12384
Hi @PureWeen

Any update on this?

[2020-11-10 06:28] jeyakasipandi commented on #12484
Any update on this?

[2020-11-10 07:52] CodingAthlete opened #12793 "[Bug] Items of FlexLayout overlap with the controls below it"
### Description

I have created a FlexLayout (Wrap="Wrap") within the left column of a Grid with two columns. The Grid is within a StackLayout. Below the Grid are more controls within the StackLayout. When there is a second row in the FlexLayout and there is one element in this second row, the height of the FlexLayout is too small. So the controls of the FlexLayout overlap with the controls below

[2020-11-10 08:20] freever opened #12794 "[Bug] NavigationPage embedded in a Tab inside a MasterDetail does not work on UWP"
### Description
I have an app that needs a TabbedPage to appear as the Detail inside a MasterDetailPage. Each tab needs to have its own navigation stack, so the root of each tab is embedded in a NavigationPage. This works great on iOS and Android, but on UWP the navigation bar and tabs jump around and display inconsistently.

### Steps to Reproduce

1. Create a MasterDetailPage with a TabbedPage a

[2020-11-10 08:48] Strypper commented on #12339
@transis2 Hi friend, thanks for replying but unfortunately I try setting it behind doesn't work it this the right syntax ?
`GradientStop1.Color = Color.FromHex("#ffffff");`

[2020-11-10 09:52] MagicAndre1981 commented on #12635
The issue is fixed in code. Browser to https://github.com/xamarin/Xamarin.Forms/tree/4.8.0, click on the green checkmark

![image](https://user-images.githubusercontent.com/8274816/98656818-65a39d80-2341-11eb-955a-97f25e9a8ab5.png)

click on details in the xamarin.forms-ci entry, now click on artifacts:

![image](https://user-images.githubusercontent.com/8274816/98657029-b3b8a100-2341-11eb-9f0b-28

[2020-11-10 09:53] abduelhamit commented on #6387
@acuntex My original issue is definitely related to Xamarin.Forms. It's so minimalistic that it can't be anything else.

[2020-11-10 09:59] acuntex commented on #6387
@abduelhamit Absolutely.
You can see here:
https://github.com/xamarin/Xamarin.Forms/blob/79cc0f49fe90a59f02aa0490072b449ccdad4a27/Xamarin.Forms.Core/StreamImageSource.cs
that Streams are loaded async (unlike simple FileImageSources that are loaded directly).

Same would happen if you would use a remote image as toolbar item.

@samhouts Any update? This is a crash bug.

[2020-11-10 11:27] rmarinho commented on #12673
I think PR #12787 fixes this

[2020-11-10 11:34] softlion commented on #11853
@bruzkovsky Any way to get this without waiting for an XF update ? Maybe using a custom renderer ?

[2020-11-10 11:44] fschneider1509 commented on #8431
@samhouts You've removed the bug from the 5.0.0 milestones - I guess therefore the fix won't be part of the coming Xamarin.Forms version?

[2020-11-10 11:52] transis2 commented on #12339
Hi @Strypper,

Yes, this is the right syntax.
Try to writhe the entire syntax in background.
PS: Put the code inside OnAppearing.

This is the code thar work for me.

            var background = new LinearGradientBrush
            {
                StartPoint = new Point(0, 0),
                EndPoint = new Point(0, 1),
                GradientStops = new GradientStopCollection
                {

[2020-11-10 12:06] Nelo-cool opened #12795 "[Bug] [iOS] Rise two Navigating on fore each iframe in WebView."
### Description
Hello guys!

I know, in iOS WebView rise Navigating event on each iframe on the page. Even if some pages were loaded after using JS. But why two events? First with address iframe (exmpl: https://www.youtube.ru/embedded/....) and second with **about:blank** address. None at all Navigated event:) Only navigating.
But how to know when man clicked on the link or WebView load iframe? :(

[2020-11-10 12:56] bruzkovsky commented on #11853
@softlion I built my own package including the fix, but that's actually pretty easy to do.

[code]

Then use the package in a local nuget package source.

[2020-11-10 13:24] AlexanderVanMeerten commented on #6544
Upvoting this.

[2020-11-10 13:53] transis2 commented on #12772
Same issue with DisplayActionSheet

[code]
[code]

[2020-11-10 14:11] woinarpepperbits opened #12796 "[Bug] SwipeView sensitivity"
### Description
SwipeView sensitivity

Hello,

the SwipeView is much too sensitive. The SelectionChange command is no longer executed. You have to press exactly straight without moving your finger to trigger a SelectionChange command. Otherwise the Swipe will always respond immediately. Unfortunately, the SwipeView is not usable in this way.

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

[2020-11-10 14:37] mknotzer commented on #11221
@rmarinho please check my update, the bug is easy to reproduce

[2020-11-10 14:39] suganya519 commented on #12783
Please have the video link

https://www.syncfusion.com/downloads/support/directtrac/general/ze/Shell-1586158730

[2020-11-10 15:47] rachelkang commented on #12795
Hi, @Nelo-cool - thanks for submitting this issue! I'm wondering - does this work as expected on Android / other platforms? Is it only an issue on iOS? Also, would you be able to share this project or a sample project reproducing the same bug? Thanks :)

[2020-11-10 15:54] rachelkang commented on #12796
Hi, @woinarpepperbits - thanks for submitting this issue! I'm closing this now as it's a duplicate of #12518 and is being fixed in #12758. If you feel your issue is not represented there, please feel free to let us know and reopen this issue. Thanks again!

[2020-11-10 15:54] #12796 closed

[2020-11-10 16:00] HelenMamalaki commented on #9544
@samhouts We parked Mac for some months and picked it up again using XF 5.0.0.1487-pre1 and this is not an issue anymore! (I haven't had a chance to confirm with the repo project but I assume it's not happening there either.)

[2020-11-10 16:16] CartBlanche commented on #12757
Hi @rmarinho any updates a rough time frame?

[2020-11-10 16:16] softlion commented on #11853
@bruzkovsky I added your version to the Xamarin.iOS project only. It should replace any other versions coming from libraries ?

If yes, it still has the semaphore issue.

[2020-11-10 16:31] bruzkovsky commented on #11853
@softlion ugh, than can only mean that you don't have the right dll, because I deleted the SemaphoreSlim code [here](https://github.com/bruzkovsky/Xamarin.Forms/commit/6925450d2c1e75498c84518332f875f377ba8578#diff-68717d4cab9003e856fc58ef65d30e52a35d8c773a073197b760d5a563edd306L18) and [here](https://github.com/bruzkovsky/Xamarin.Forms/commit/6925450d2c1e75498c84518332f875f377ba8578#diff-c56a9e81e

[2020-11-10 16:52] softlion commented on #11853
@bruzkovsky rebuild worked. Ty!

[2020-11-10 17:09] erikhornstrom commented on #11233
This bug/something related to this bug gave me a couple of days of headache.
When updating from level 28 to level 29 I got this bug. There was a conflict between my project manifest and obj/debug/100/AndroidManifest.
I fixed it with tools:node="replace". However, this fix, caused my firebase implementation to stop working  (I suspect it has to do with the receiver registrations in the manifest?).

[2020-11-10 17:11] #11166 closed

[2020-11-10 17:15] Nelo-cool commented on #12795
Created little project with this behavior: (in zip archive, without repository, excuse me)
[WebViewAndAboutBlankiOS.zip](https://github.com/xamarin/Xamarin.Forms/files/5519003/WebViewAndAboutBlankiOS.zip)
![Navigating](https://user-images.githubusercontent.com/902820/98707705-62d09900-2391-11eb-97d9-664f916f7706.JPG)

[2020-11-10 18:26] AlleSchonWeg commented on #11843
@samhouts , @rachelkang
Is it possible to prioritise this issue? Because it blocks us from releasing our app.

[2020-11-10 19:29] breyed commented on #3261
Yes, it's still an issue.

[2020-11-10 20:02] solomonfried commented on #11843
There is a solution to this issue. This worked for me,

The Shared Assembly (where the font resources are included) need to be added to the Forms.Init call in App.xaml.cs in the UWP project.

In the OnLaunched method, before Forms.Init, add the following....

[code]

Your ExportFont should work like it does on Android and iOS

[2020-11-10 20:09] Redth commented on #12415
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:09] #12415 closed

[2020-11-10 20:09] Redth commented on #12385
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:09] #12385 closed

[2020-11-10 20:10] Redth commented on #12386
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:10] #12386 closed

[2020-11-10 20:10] Redth commented on #12360
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:10] #12360 closed

[2020-11-10 20:10] Redth commented on #12369
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:10] #12369 closed

[2020-11-10 20:11] Redth commented on #12003
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:11] #12003 closed

[2020-11-10 20:11] Redth commented on #12310
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:11] #12310 closed

[2020-11-10 20:11] Redth commented on #12250
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:11] #12250 closed

[2020-11-10 20:11] Redth commented on #12236
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:11] #12236 closed

[2020-11-10 20:11] Redth commented on #12147
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:11] #12147 closed

[2020-11-10 20:12] Redth commented on #10567
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:12] #10567 closed

[2020-11-10 20:12] Redth commented on #12113
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:12] #12113 closed

[2020-11-10 20:13] Redth commented on #11785
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-10 20:13] #11785 closed

[2020-11-10 20:27] #12544 closed

[2020-11-10 21:03] Redth commented on #12671
Could it be something in the default UWP template's resource dictionary/styles that is different?

Glad to hear it's working this way for you anyhow.  Thanks for the update.

[2020-11-10 21:03] #12671 closed

[2020-11-10 21:14] tal-athena commented on #10687
I have same problem,
Is this issue solving?
Can I get the resolved image control on next release?

[2020-11-10 21:25] dellis1972 commented on #11233
@erikhornstrom if you look in `obj/Debug/lp/map.cache` you should be able to figure out which Library the `obj/Debug/lp/100/AndroidManifest.xml` came from . It will be the 100th line (starting at 0). Once you have that information you can post which Nuget/Library has the issue. If its one of our maintained nugets we can take a look. If its a third party Nuget then you will need to contact the main

[2020-11-10 22:29] rachelkang commented on #9544
@HelenMamalaki, awesome!! closing this issue now as it seems to be resolved :)

[2020-11-10 22:29] #9544 closed

[2020-11-10 22:34] denisgeom commented on #12664
I attached a sample Xamarin Forms project showing that SwipeItemView only works in Android and iOS. It does not work in UWP.
The pictures are from Android Phone.
The first item in picture is a SwipeItem and works in all platforms.
The second item is a SwipeItemView and only works in iOS and Android. Swiping right on UWP would not swipe at all and "Not working in UWP" would not appear.

[SwipeTest.

[2020-11-10 22:59] #12652 closed

[2020-11-10 23:16] Elashi commented on #11853
Hi @bruzkovsky ,
Today, I got the same exception you found here.  I previously came across other crashes, and I spent long days and nights to trace it, prepare a sample, and I even fixed it and shared it with XF.  But today, I did not have to do all of this work, thanks to you. You saved me a lot of time.

But please, accept my words here.  Xamarin community has offered us piles of free code that

[2020-11-10 23:17] rachelkang commented on #12775
@maxbrister thanks for sharing and elaborating! It looks like I somehow missed the detail where you mentioned this is related to Shell - apologies for that! When using Shell, the nav bar has a shadow on Android by default. To disable this, you can set the appropriate property to false with `Shell.NavBarHasShadow="False"`. I tried adding to all your pages, and the shadow disappeared! Give it a try,

[2020-11-10 23:21] maxbrister commented on #12775
@rachelkang I think you meant @maxkoshevoi

[2020-11-10 23:25] hartez commented on #12729
I've submitted a PR which provides `public static class DispatcherExtensions { public static int ThreadId(this IDispatcher dispatcher); }`.

[2020-11-10 23:28] rachelkang commented on #12795
@Nelo-cool thanks so much for sharing and elaborating! It seems the issue you're describing has been captured in #10350 and specifically this [comment](https://github.com/xamarin/Xamarin.Forms/issues/10350#issuecomment-616629755), so I'm going to close this issue now. If you think I'm misunderstanding, please feel free to reopen!

[2020-11-10 23:28] #12795 closed

[2020-11-10 23:35] rachelkang commented on #12775
@maxbrister ah yes, sorry for the confusion! 😅

[2020-11-11 00:17] sumascer commented on #12239
Any update?

From: Javier Suárez <notifications@github.com>
Sent: Tuesday, October 6, 2020 5:08 AM
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: sumascer <sumascer@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [xamarin/Xamarin.Forms] [Bug] Reopening previous issue #1481: [Android Platform-Specific (fast scrolling)] Section Indexes are shifted (#12239)

@sumasce

[2020-11-11 01:39] PureWeen commented on #12351
@maxkoshevoi this is fixed on 5.0

Can you test the latest pre3?

[2020-11-11 01:39] #12351 closed

[2020-11-11 04:32] Sivaraman761 commented on #12734
Hi @rmarinho

Any update on this?

Regards,
Sivaraman S

[2020-11-11 05:32] KarthikRaja26 commented on #7085
Hi @samhouts ,

Any update on this ?

[2020-11-11 06:53] avatar2012 commented on #11807
The Nuggets with Version 4.8 has the issue, missing cto overload discribed

The github sources v5.0 has the constructor included and no issue build a custom package from this sources

[2020-11-11 07:25] Johanna-Victoria commented on #6451
Every component containing HorizontalOptions and VerticalOption should expand and fill according to value set. It doesn't make sense that a component is overriding these values.
I would really like to see that the properties remains for CollectionView and the components size can be adjusted by the size of the collection.

[2020-11-11 07:49] erikhornstrom commented on #11233
I've found the map.cache in \obj\Debug\100\lp. The package, if starting from 0, is Xamarin.Firebase.Datatransport. It seems to be a dependency of Xamarin.Firebase.Messaging. I now have the latest stable version of the Messaging nuget installed but I know we first encountered the conflict issue with 71.1740.4, which was the package we had installed when we did our update to Android 10.

[2020-11-11 08:40] softlion commented on #11853
@bruzkovsky I still have one crash.
![image](https://user-images.githubusercontent.com/190756/98788860-bda1d900-2401-11eb-8cf3-2e1b69867f65.png)

[code]

[2020-11-11 08:49] mduchev commented on #11853
@softlion This is another nasty issue, which doesn't seem to be fixed soon...
https://github.com/xamarin/Xamarin.Forms/issues/8308

[2020-11-11 09:01] AlleSchonWeg commented on #11843
Hi @solomonfried ,

this did not work for my with android (I don't use UWP). I used this:
[code]

and a colleague created a new PR with an additional icon in our custom font. The new icon is not shown. Only reinstalling the app works. Then the icon appears.

[2020-11-11 09:48] jemunk commented on #12725
Upgraded to 4.8.0.1560 and now also see this issue