[2020-11-26 03:58] Tommigun1980 commented on #12697
Hi and thanks for the tip. I do and I know the exact dimensions of the images. The problem is to set up the images to said dimensions. Here's why it doesn't help and aspect ratio must be used instead:

1) Let's say the image is 1000x1000 pixels.
2) You set that as the height and scale to AspectFill.
3) While the image downloads, the items in the collection get set to 1000 pixels and a spinner is d

[2020-11-26 04:06] Tommigun1980 commented on #12697
I must be doing something terribly wrong as it should really not be this incredibly difficult to show images as a list. It just can't be this hard.

[2020-11-26 04:17] Tommigun1980 commented on #12697
So without an aspect ratio converter here's an image while it's downloading (spinner not visible here but it'd be centred in there):
<img width="480" alt="Screenshot 2020-11-26 at 6 13 43" src="https://user-images.githubusercontent.com/60286968/100307632-0388a080-2faf-11eb-97af-3b1eb74a8405.png">

... and when it finishes it's fine:
<img width="453" alt="Screenshot 2020-11-26 at 6 12 06" src="http

[2020-11-26 05:17] programmation commented on #12697
Sorry I meant to suggest scaling the actual size of the image container so it fits in the width of the collection view, rather than displaying it at the native size of the image. So if the data reports an image as 6400x3200, but your CV is only 800 wide, the width request/height request will be 800 & 400 respectively. Then your image downloads as 6400x3200 and will centre correctly within the avai

[2020-11-26 05:23] Tommigun1980 commented on #12697
Thank you. But how would it know, unless I read the dimensions in order to assign them? Which is equivalent to the aspect ratio converter, no?

[2020-11-26 05:32] programmation commented on #12697
It may be, but I think you could do it in the ViewModel layer rather than requiring a Converter. So for example you could extend CollectionView to have a 2-way bindable property that sets its Width back into the ViewModel. This value can flow into the Cell ViewModels which provide calculated HeightRequests to match WidthRequests at the right aspect ratio for each image. You'd need an update functi

[2020-11-26 05:34] programmation commented on #12697
The intention is to push width values back from the View (which sizes itself according to constraints you can't control directly) into the ViewModel (from where you can propagate the basis for a ratio calculation into ViewModels with bindable properties that can adjust the actual heights of Cells in the View).

[2020-11-26 05:35] programmation commented on #12697
And because it's done in the ViewModel, each View then binds and sizes itself correctly whether it's brand-new or recycled off the re-use stack.

[2020-11-26 05:50] Jinyeob commented on #11341
You can do like this:
[code]
and then,

[code]

[2020-11-26 05:51] Tommigun1980 commented on #12697
Hi. I still don't see what all that complexity would accomplish. All I want to do is display image urls in a collection.
But thanks for the suggestion, I appreciate it!

[2020-11-26 06:05] programmation commented on #12697
If I understand the problem correctly, the issue is that CV cells are resizing themselves too much because images download asynchronously _after_ the cells have initially sized themselves. The initial size is wrong because the size of the image - or better still, its aspect ratio - isn't known until the image has arrived at the device. I agree my initial idea is too complex, so perhaps you could d

[2020-11-26 06:28] Tommigun1980 commented on #12697
Thank you again. That would just add so much complexity for something that should be trivial that I would rather use the converter as it's one line and done. I also think it would be wrong to manually calculate the scaled destination dimensions and let the collection adjust itself to that, as it won't cope with device rotations etc. Of course everything can be implemented but at that point I'm bas

[2020-11-26 06:39] jsauve commented on #12629
I've put together an isolated sample. It appears that it's not only RelativeSource bindings; X-ref bindings also don't work. The Command property works just fine on a plain ManuItems. But in a gesture recognizer within a MenuItem template, neither binding type seems to work.

Sample code, based on the Shell project template in VS (Forms 4.8.0.1687):
[TemplatedMenuItemCommandBindingBug.zip](https:/

[2020-11-26 08:19] jsauve commented on #12629
Perhaps MenuItem's layout isn't intended to be complex enough to support commands on child UI elements?

[2020-11-26 08:21] LGE-AUGMENSYS commented on #12733
Other "containers" include mostly ContentView with dynamically loaded templates, Syncfusion list view, pull to refresh. I provided the example to Syncfusion and they claim to have fixed it (just the tab view, though). I am still waiting to see the fix.

However, one thing is also clear that the same setup (our app, Syncfusion controls) has no leaks in Forms 4.6 (details in the Basic Information se

[2020-11-26 08:38] snoova commented on #12384
Hi @PureWeen

same problem here. Stuck on 4.7 because of this issue.
Any updates on this?

[2020-11-26 10:00] maximusfatigue opened #12977 "[Bug] CollectionView and iOS 9.3.5"
### Description
When using iOS 9.3.5 devices such as Ipad 2, app is  crashing when navigating to a page with a  CollectionView.

### Steps to Reproduce

Bind ItemsSource of CollectionView to an ObservableCollection
Modify this collection and notify the view
Setting item layout from viewmodel
tested on Xamarin forms 4.8 and 5.0 prep 1.

### Expected Behavior
Items are displayed

### Actual Behavior

[2020-11-26 10:44] dimonovdd commented on #9681
@samhouts  why was this removed from the milestone? this is a very important issue.

[2020-11-26 10:44] dimonovdd commented on #9879
@samhouts  why was this removed from the milestone? this is a very important issue.

[2020-11-26 11:03] johnshardman commented on #12960
The problem is that developers would not expect that, and Microsoft/Xamarin documentation clearly says that DisplayAlert shows a modal popup with interaction with the rest of the app continuing once it is dismissed.

A few examples:
"All Xamarin.Forms-supported platforms have a modal pop-up to alert the user or ask simple questions of them"
"The alert displays modally and once dismissed the user c

[2020-11-26 11:54] Hantick commented on #1668
Still waiting for aligment

[2020-11-26 13:06] darrabam commented on #12962
@hartez Many thanks for your prompt reply and clear explanation! You are absolutely correct! I don’t know why I misunderstood swipeview as a page element and not part of the collection / data template scope.

Thanks again,

[2020-11-26 13:15] snoova commented on #12734
Hi @rmarinho,

same problem here. Any updates on this?

[2020-11-26 13:26] Mengshishishi commented on #3240
This issue appears in iOS 14, the TextLabel is not aligned when rendering cells as UITableViewCell.

[2020-11-26 15:02] IeuanWalker commented on #12918
@samhouts @jsuarezruiz @hartez
More info -

Crashes on this line, inside the OnStart() override method -
[code]

It's crashing becuase of a NullReferenceException, and this is the stack trace for it -
[code]

[2020-11-26 15:27] AlfonChitoSalano commented on #11590
This is fixed testing with new XF version 4.8.0.1534

[2020-11-26 16:09] thisismyself commented on #7864
It seems that something related was fixed in the last 12 months. When replacing an instance of an AppShell by a new instance of an AppShell, one year back I got a NullReferenceException in ShellFlyoutRenderer.OnShellPropertyChanged. Today, I retried and replacing the AppShell instance works good (Xamarin.Forms 4.8.0.1451). Although I did not try replacing AppShell by a ContentPage, as the Issue is

[2020-11-26 17:25] mduchev commented on #11809
Can we at least revert the PR (the new PageLifecycleManager flow) that causes this regression in the first place? As you can imagine, a lot of apps have a tabbed page as a base page and if we have some dependant flow in the OnAppearing event (not that uncommon), everything goes sideways.

[2020-11-26 17:50] mduchev commented on #10623
I'm having the same issue. The workaround with the InputTransparent seems to do the trick for me until the issue is fixed.

[2020-11-26 18:03] carbonete commented on #11657
Any news?  this bug is critical for my project.

[2020-11-26 18:47] xamiell commented on #8282
Having the Same problem.

Xamarin.Forms 4.8.0.1560
Visual Studio for Mac 8.8 build 2913

[2020-11-26 18:50] maximusfatigue commented on #12977
Just a little note, been testing all day,

the issue seems to be when you use a grid,  stackedlayout works

[2020-11-26 20:02] Elinareso commented on #6908
This issue in still there. Ramdomically the CollectionView is not filling the entire Screen. I have a StackLayout and CollectionVIew with the HorizontalOptions and VerticalOptions to FillAndExpand and does not seem to work.

Any other ideas?

[2020-11-26 21:11] giuseppenovielli commented on #6908
I have the same problem with CarouselView with iOS 14.1. Xamarin.Forms 4.8!

With Grid as parent of CarouselView it seems to be fixed.

[2020-11-26 21:29] BurkusCat opened #12978 "[Bug] [UWP] [Regression] Label is invisible when inside ScrollView when inside TabbedView"
### Description
There is a regression somewhere between v4.8.0.1687 and v5.0.0.1709-pre4 when a label is in a ScrollView (potentially in a tab layout? That is where I had the issue). The label is invisible unless there is a StackLayout surrounding the ScrollView. Resizing the window or navigating to a tab with the StackLayout workaround solves the issue.

### Steps to Reproduce

1. Have a tab view

[2020-11-27 00:01] transis2 opened #12980 "[Question]. Net 6 will merge with Xamarin?"
I have a Question about the future o existing xamarin codebase.

When. Net 6 arrive, the code of this repository will be merged with MAUI or they will begin from scratch ?

What happens with all bug fixes, unit testes and improve stuffs? They will be ported or the project already was "forked" and MAUI is growing independent?

[2020-11-27 01:24] chaoyebugao commented on #10953
Same problem with CollectionView under 5.0-pre4

[2020-11-27 05:18] KarthikRaja26 commented on #7464
Hi @samhouts ,

This is a critical issue for my customer. So, could you please work on this ?

[2020-11-27 06:18] PriyankaAG commented on #12957
Sure

[2020-11-27 08:35] jsuarezruiz commented on #11514
@davidortinau What was the `GeometryGroup`?, the example has changed a bit. I cannot reproduce the issue.
<img width="1654" alt="Captura de pantalla 2020-11-27 a las 9 34 09" src="https://user-images.githubusercontent.com/6755973/100428151-da8e0b80-3093-11eb-9f19-113867e25acf.png">

[2020-11-27 08:45] GalaxiaGuy commented on #12980
I do not work for Microsoft or Xamarin, but hopefully I will be able to clarify some points.

Xamarin.Forms != Xamarin.

Xamarin is a set up tools and libraries to allow building Android, iOS and macOS application using the native APIs with C# and .NET (as well as F# and others).
Xamarin Forms is a cross platform framework for building applications. It supports Android, iOS and macOS using Xamarin

[2020-11-27 09:50] angelru commented on #9773
I have this same problem in a chat application, it does not do automatic scrolling, should it not be configured if you want to scroll or not?

[2020-11-27 10:13] DanielHJA commented on #8640
Has anyone found a workaround for this issue?

[2020-11-27 10:59] mterwoord commented on #12948
It seems this is a problem starting with 4.8.0.1451. This really is a big issue for complexer layouts.

[2020-11-27 11:49] transis2 commented on #12980
Thank you @GalaxiaGuy

My question is about bug fixes and efforts with this project.

[2020-11-27 11:55] neville-nazerane commented on #6554
Has anyone created a behavior for this yet?

[2020-11-27 12:20] Braini01 commented on #4143
I have exactly the same observation as @morphinapg with the Android version of my app. It seems to be an Android only problem as it works perfectly fine for my iOS app.

[2020-11-27 13:08] rubiomiguel06 opened #12984 "[Bug][UWP] VisualState "Disabled" not working on Button"
### Description

From official [document](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/visual-state-manager):

For Xamarin.Forms.Button on UWP, while `Normal` and `Focused` VisualStates seem to work fine when defining their Setters (not sure what `Selected` would mean in a button so I didn't tested it), `Disabled` VisualState doesn't seem to fire up.

### Steps to Reproduc

[2020-11-27 13:14] MixaNir commented on #6544
Upvoting this.

[2020-11-27 13:41] #11505 closed

[2020-11-27 13:46] bruzkovsky commented on #11853
Hi @softlion , sorry for the delay, busy week...
I still have my fix targeted on 4.8, but I think I'll have to switch to 5.0.0 to get my PR merged anyway. Your error looks like it could be solved by restarting VS or your machine. Did you succeed in applying the change?

[2020-11-27 15:34] Zure1 commented on #10292
Might be related: On Android, the **VerticalItemSpacing** is added to the start and end of the content. The expected behaviour is that the spacing is added inbetween items, but not before and after the content:

![Spacing shouldn't be at the bottom of the content](https://user-images.githubusercontent.com/22812225/100464701-5b69f900-30ce-11eb-903e-2bfc060c5d22.png)

[2020-11-27 15:42] #12541 closed

[2020-11-27 15:43] #11033 closed

[2020-11-27 15:46] #11848 closed

[2020-11-27 15:46] GeorgeVelikov commented on #6440
We are on the same boat as @Raystorm7. Any update on this?

[2020-11-27 16:49] BurkusCat commented on #11691
I think this needs reopened @rmarinho. I've posted a comment on #12836 describing more but if the color dynamically changes the polygon shape does not change color. It is behaving like a StaticResource instead of a DynamicResource.

[2020-11-27 17:48] jsuarezruiz commented on #11691
@BurkusCat Thanks for the feedback, I will review the issue changing the `DynamicResource`.

[2020-11-27 17:54] YiannisBourkelis commented on #12945
@hartez The issue appears on a first generation iPhone SE on both iOS 14.0 and latest 14.2. I 'll try to make a video of the issue.

[2020-11-27 18:12] HendrikDeu commented on #11743
@rmarinho Thanks for the information. However, this bug ID does not show up in both releases changelog:
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/4.8/4.8.0-sr5
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/5.0/5.0.0-pre4

[2020-11-27 20:20] softlion commented on #11853
No I have not been able to fix the build issue.

About your workaround, it duplicates the content of the list. This is not optimal.

I do have an implementation of this for mvvmcross which is both efficient and safe.

It does freeze the list state between updates but does not duplicate the items.

[2020-11-27 20:34] BioTurboNick commented on #12275
This or a related bug appears to have upstream effects. I have a CollectionView with no items in it, which starts in a container with IsVisible==false.  That property is bound to a boolean. When the boolean changes to true, the entire container does not render.

The problem does not occur if I comment out the Content of `<CollectionView.EmptyView>`, which was just a simple `Label`.

This is on the

[2020-11-27 20:37] bruzkovsky commented on #11853
@softlion so please share it then :)

Strange that the items are duplicated. I tested the fix with a lot of rapid modifications to the list and didn't find any issue. But I still want to test it in our production app next week, maybe I'll find more errors there...

[2020-11-28 13:24] mos379 commented on #6593
Is there a workaround available to switch out the glyph?

[2020-11-28 15:15] gtame opened #12986 "[Bug] HttpClient with HttpClientHandler // Timeout is not working"
### Description
if I use HttpClientHandler  and  try connect a unavailable server. The exception  don't throw.

### Steps to Reproduce

Execute this code:

`

                HttpClient client2 = new HttpClient();
                client2.Timeout = TimeSpan.FromSeconds(3);
                var requestDate = System.DateTime.Now;
                try
                {
                    HttpResponseMe

[2020-11-28 17:12] sarthak1995-26 opened #12987 "Overlay Control"
Overlay control can be a content view which can be open at any position above any view on content page without losing focus of a current focused control(e.g Entry).

Now many people will say you can do that using Rg.Plugin.Popup but what you will found that if you open a popup having any entry focused you will see keyboard will closed and entry fill lose it's focused state as soon as popup opens.

[2020-11-28 20:28] albertoha94 opened #12988 "[Bug][UWP] CollectionView ItemsLayout not updating when SizeChanged event is called."
### Description
I am working on a custom `CollectionView` where I can set the number of columns I want to see when the size of it changes.
In XAML it worked ok, but It seems that when trying to set the ItemsLayout via codebehind, in the `SizeChanged` event specifically, the change does not reflect in UWP.
It seems this [issue](https://github.com/xamarin/Xamarin.Forms/issues/9079) **might** be rela

[2020-11-29 00:45] VladislavAntonyuk opened #12989 "NRE in PageRenderer"
https://github.com/xamarin/Xamarin.Forms/blob/40b3b428e457a47b9e8e59e966433925ef9364a5/Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs#L480

[code]

Version with issue 5.0.0-pre4

I do not have exact steps to reproduce, but according to code `v` should be checked for null.

[2020-11-29 10:52] hammondreg commented on #10636
@MitchBomcanhao  Yes - agreed - terminating apps from WITHIN themselves is self-defeating; when an app detects a catastrophic event such as network failure it should just 'tread water' until the catastrophe resolves itself.  However I believe @Happypig375 is requesting a feature which is available in WPF whereby an event is triggered when the app is terminated from WITHOUT.  I have a WPF which doe

[2020-11-29 13:33] alexandresanlim commented on #12583
Looking forward to it

[2020-11-29 15:19] CaseAlexander opened #12990 "[Bug] Long project name (~20 char) throws System.ExecutionEngineException for UWP"
### Description

If using a relatively long project name (20 char tested), UWP throws the System.ExecutionEngineException "Windows.UI.Xaml.Controls.RevealBackgroundBrush"

### Steps to Reproduce

1. Create a new Mobile App (Xamarin.Forms) named "TestTestTestTestTest" with Blank template and develop for UWP, iOS, and Android.
2. Build and run the UWP application for Debug x86.
3. Repeat with a proj

[2020-11-29 20:11] stesvis opened #12991 "[Bug] Can't sign-in with apple on Simulator and with iOS <13"
### Description
I followed [this tutorial](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/sign-in-with-apple/android-ios-sign-in) to sign in with apple but it doesn't seem to work on the simulators and on devices with iOS <13.

### Steps to Reproduce

1. Set up your app following [these instructions](https://github.com/Redth/Xamarin.AppleSignIn.Sample)
2. Run on a iOS simulator (I

[2020-11-29 22:56] schovan commented on #12355
In a UWP application on Xbox Series S, pressing Menu Button on Xbox controller doesn't pop up the context menu for a selected ListView item.

[2020-11-30 01:48] techprotom opened #12993 "[Enhancement] 2 New Properties That Should be Added to Buttons"
### Other platforms for creating applications such as Kotlin provide a much richer set of controls when compared to Xamarin.Forms.
But of course Xamarin.Forms has one key feature which makes it stand out from the rest: the ability to create multiplatform applications in record time. Xamarin.Forms developers have done an amazing job on providing more options on the UI-side of things - but I do thin

[2020-11-30 02:12] techprotom opened #12994 "[Bug] Custom Control Classes with Bindable Properties Wrapped in Custom Renderers Not Being Shown nor Updated in Xamarin.Forms"
### [Bug] Custom Control Classes with Bindable Properties Wrapped in Custom Renderers Not Being Shown nor Updated in Xamarin.Forms

### Steps to Reproduce

1. Create a new class titled CustomButton which derives from button and add the following bindable properties:

[code]
2. Create a custom renderer which wraps the properties:
[code]
3. Add the custom control in XAML:
`<ContentPage xmlns="http:/

[2020-11-30 02:22] techprotom opened #12997 "[Enhancement]🚀🚀🚀 Floating Action Button🚀🚀🚀"
## 🚀 Feature Requests

### **Floating action button**

The floating action button is one of the most crucial components used in Google's material design - especially for layouts in which it is needed to add one or more items to a list or compose a new email. In addition to this - it's striking design - which can come in two forms (mini or normal size) make for a better user experience than using s

[2020-11-30 02:49] curtisconner commented on #10473
Any update, seems like this was removed from 5.0.0. any idea when this will be fixed or are you providing another fix for this?

[2020-11-30 07:12] sunkerGit opened #12998 "[Bug] Clear Cookies not working on WEBVIEW when SI"
### Description
After login into App, we encountered a problem when call clear cookies
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library / AndroidX Version:
- NuGet Packages:
- Affected Devices:

### Environment

[2020-11-30 07:23] sunkerGit opened #12999 "[Bug] iOS - Clear Cookies not working on WEBVIEW when Sign out"
### Description
After login into App, we encountered a problem when calling clear cookies at SIGN OUT. this problem occurs on Xamarin Form 4.8.0.1687.  when we are using Xamarin Form 4.8.0.1451 the clear cookies were working fine.

### Steps to Reproduce

1. Install APP
2. Login into APP
3. Dashboard loaded
4. Choose to SIGN OUT from Menu
5. Open Login Page, the Authentication still exist and cook

[2020-11-30 07:48] StephaneDelcroix commented on #12966
you could use reflection to do so

[2020-11-30 07:48] #12966 closed

[2020-11-30 08:46] StephaneDelcroix commented on #12998
Duplicate of #12999

[2020-11-30 08:46] #12998 closed

[2020-11-30 09:18] VladislavAntonyuk commented on #12993
1. you can achieve by using converter: Text={Binding MyText, Converter={StaticResource UpperCaseTextConverter}}
2. put your button in Frame, which already has HasShadow property

[2020-11-30 09:20] bhuvan94 commented on #12397
Hi @jsuarezruiz , any update on this ?

[2020-11-30 09:35] VladislavAntonyuk opened #13000 "Unable to view the list of CI builds. Permission denied"
![image](https://user-images.githubusercontent.com/33021114/100592587-fac20280-32ff-11eb-838b-16d458a7ebc7.png)
![image](https://user-images.githubusercontent.com/33021114/100592649-0f05ff80-3300-11eb-9c14-305feb6f0ac4.png)

Also nightly builds are not available( the latest build 5.0.1-1668

[2020-11-30 09:37] StephaneDelcroix commented on #12990
Your buid log doesn't contains errors (Rebuild all: 2 succeeded), so we can't investigate with that.

There is one part of your build chain that doesn't deal well with long windows paths (more than 256char), but I can't tell which one, or if it's the XF tooling responsibility.

in the meantime, a workaround is to use shorter project names, or move it up one directory

[2020-11-30 09:58] StephaneDelcroix commented on #12994
OnElementchanged will give you the original value. Override `OnElementPropertyChanging` to get notified when your property changes

[2020-11-30 09:58] #12994 closed

[2020-11-30 10:33] Only-Xam commented on #12990
Just to add even I noticed same issue highlighted by @CaseAlexander, but in my case project name is just Test. So not quite sure if it is related to long name.
I noticed this issue even with short name and a simple xaml page. Spent time to reproduce but cant find out a pattern. I observed it for **UWP** only after updating to **XF 5.0.01709.pre4** & **VS Community Version 16.8.2**.

In my case, I

[2020-11-30 10:36] filipleifer opened #13001 "[Bug] Picker data clear remembers last selected value on iOS"
# Description
Picker shows last selected value after picker data are cleared. Please get attached demo app and follow STR.

[PickerBugDemo.zip](https://github.com/xamarin/Xamarin.Forms/files/5615389/PickerBugDemo.zip)

### Steps to Reproduce

1. Run Demo app and Select "A" in second picker  -> first picker is populated with data "A", "B", "C"
2. Select "B" in second picker -> first picker is clear

[2020-11-30 12:20] lewsimon commented on #10437
I always ignored the Binding-Errors in the output window, cause of this Bug. But now, you get also a Message in your UWP-App (Debug Bar at the Top) about Binding Errors.
![image](https://user-images.githubusercontent.com/45069739/100609744-cb66c200-330e-11eb-9c88-70518157dac3.png)

This bug also invalidates the use case of the "XAML Binding Failures" Window

[2020-11-30 12:24] CaseAlexander commented on #12990
I do believe you figured it out.

The default install location for projects in VS (on my machine) is 'c:\Users\drjohn\source\repos', not a terribly deep path.

So to test your idea, I created a folder 'd:\test' and created new Xamarin Forms projects in there named "Test" and "TestTestTestTestTest1".  Just create new and run, no code edits or package updates.  Everything was fine.

Then I copied th

[2020-11-30 12:28] CaseAlexander commented on #12990
On a side note, I would say it is an issue with XF since I found that the issue is only present if using XF >= 4.8.0.1269.  If I use XF 4.7.0.1351 no issues

[2020-11-30 12:30] Cfun1 commented on #11703
@samhouts isn't a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/11556 ?

[2020-11-30 13:02] Cfun1 commented on #2096
@PureWeen I an confirm it is still happening on Samsung devices running Android 8.0.0, but not with Visual="Material" , any progress/work on this since ?

[2020-11-30 13:33] StephaneDelcroix commented on #12990
@CaseAlexander if you have a repro, or a log, we will investigate

[2020-11-30 14:25] CaseAlexander commented on #12990
Sure, attached is a zip, just unzip to c:\
[repos.zip](https://github.com/xamarin/Xamarin.Forms/files/5616487/repos.zip)

Using XF 4.8.0.1687
1) c:\repos\XF4.8.0.1687\works_in_XF_4_8\TestTestTest\TestTestTest.sln <- Works
2) c:\repos\XF4.8.0.1687\this_is_a_path_which_works_in_XF_4_7\TestTestTest\TestTestTest.sln <- Does Not Work

Using XF 4.7.0.1351
3) c:\repos\XF4.7.0.1351\this_is_a_path_which_wo

[2020-11-30 14:42] jsuarezruiz commented on #12997
We got a proposal https://github.com/xamarin/Xamarin.Forms/pull/3295 but it is not available.
I think it would be a proposal that now could fits very well in the Xamarin Community Toolkit https://github.com/xamarin/XamarinCommunityToolkit

[2020-11-30 16:07] MattRames commented on #12990
I'm also seeing the same runtime System.ExecutionEngineException with my Xamarin.Forms project. UWP project name is 9 characters long.

"An unhandled exception of type 'System.ExecutionEngineException' occurred in System.Private.CoreLib.dll"

VS: 16.8.2
XF: 4.8.0.1687
UWP Target: Build 17763
UWP Min: Build 16299

If I just keep trying to deploy it eventually works.

[2020-11-30 16:20] CaseAlexander commented on #12990
@MattRames Seems not to be related to the project name length, but the path length of the entire solution.
As suggested, move your project up a few folders so the cumulative path length of the solution is shorter.

[2020-11-30 16:23] bmacombe commented on #12990
Might be a dup of #12884

[2020-11-30 16:29] MattRames commented on #12990
@CaseAlexander My solution path length is 53 characters, the working path you posted above is 67 characters.

[2020-11-30 16:42] davidortinau commented on #11514
[code]

[2020-11-30 16:54] Redth commented on #12488
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:54] #12488 closed

[2020-11-30 16:54] Redth commented on #12606
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:54] #12606 closed

[2020-11-30 16:54] Redth commented on #12595
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:54] #12595 closed

[2020-11-30 16:54] Redth commented on #12591
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:54] #12591 closed

[2020-11-30 16:56] Redth commented on #12293
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:56] #12293 closed

[2020-11-30 16:57] Redth commented on #12649
Thanks, please reopen if you end up finding more information on this one.

[2020-11-30 16:57] #12649 closed

[2020-11-30 16:57] Redth commented on #12669
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:57] #12669 closed

[2020-11-30 16:57] Redth commented on #12477
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:57] #12477 closed

[2020-11-30 16:57] Redth commented on #12624
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:57] #12624 closed

[2020-11-30 16:57] Redth commented on #12419
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:57] #12419 closed

[2020-11-30 16:57] Redth commented on #12375
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-11-30 16:57] #12375 closed

[2020-11-30 17:07] MattRames commented on #12884
I disabled all of the UWP hot reload debug options and was still getting the ExecutionEngineException randomly. I then added <EnableTypeInfoReflection>false</EnableTypeInfoReflection> to my UWP csproj and haven't had any exceptions.

[2020-11-30 17:15] EmilAlipiev commented on #12884
question is if that is effecting Release mode as well?? or it is just debug issue. Do i need this EnableTypeInfoReflection = false when i want to make a new release?

[2020-11-30 17:15] 1caero commented on #6908
I fix it with setting HeightRequest = 3000 for ListView with VerticalOptions="FillAndExpand". Occurs on XF 4.8.0.156, on different physical devices(e.g. iphone 6, 11, Xr), but not on emulators

[2020-11-30 17:17] ipon85 commented on #6908
I fix it with setting HeightRequest = 3000 for ListView with VerticalOptions="FillAndExpand". Occurs on XF 4.8.0.156, on different physical devices(e.g. iphone 6, 11, Xr), but not on emulators

[2020-11-30 17:19] MattRames commented on #12884
That's a good question. I'm also concerned with adding a new csproj tag not fully understanding the side effects.

[2020-11-30 17:37] czuck commented on #12966
I was validating the color string using reflection, but this no longer returns the list of named colors (5.0 pre-3)
[code]
and neither does this:
[code]
it was suggested I use a ColorTypeConverter and ConvertFromInvariantString so I am attempting that.

[2020-11-30 18:31] Redth commented on #3240
Can you please provide a repro sample?

[2020-11-30 18:33] johnshardman opened #13006 "Allow specification of accessibility order"
## Summary
A mechanism is required to allow the accessibility order of controls on a page to be specified. Assuming that TabIndex provides the correct sequence is over-simplistic and prevents some inaccessible apps being made accessible without pages being re-designed.

## API Changes
At the very least, I suggest adding a method such as the following to ContentPage:
public void SetAccessibilityRea

[2020-11-30 18:40] Redth commented on #12480
@themronion can you attach a repro sample please?

[2020-11-30 18:43] Redth commented on #12569
We can keep this one open, and hopefully you or someone else in the community can contribute a PR to fix this and link it back to this issue :)

[2020-11-30 18:49] Redth commented on #12886
Can you upgrade to the latest Forms 4.8 release and try again?

[2020-11-30 18:50] Redth commented on #12920
Thanks for reporting back :)

[2020-11-30 18:50] #12920 closed

[2020-11-30 20:10] bmacombe commented on #12884
I've not had any problems with my release builds, it's only with the debugger attached since it's related to Hot Reload

[2020-11-30 20:11] bmacombe commented on #12884
also, I can run my debug builds without the debugger attached and I don't receive the error.

[2020-11-30 20:51] themronion commented on #12480
@Redth try the one here: https://github.com/xamarin/Xamarin.Forms/issues/11993#issuecomment-726794068 (IMPORTANT - ON ANDROID 10!) . Closing my issue as duplicate

[2020-11-30 20:51] #12480 closed

[2020-11-30 20:55] themronion commented on #11993
@Redth tagging u here to move from my closed issue to this one

[2020-11-30 21:22] rachelkang commented on #3311
@Elashi would you share what version of XF you're using? I'm able to repro the formattedText label RTL issues on both platforms, but only able to repro the normal label RTL issue on Android (works fine on iOS for me)

[2020-11-30 22:41] rachelkang commented on #3311
@Elashi are you having issues with RTL for just the FormattedText on iOS, or also for the normal Label?

[2020-12-01 01:55] cbagpipe commented on #2951
Experiencing this bug on Xamarin.Forms 4.7.0.1351 when changing `CarouselPage.CurrentPage` from code.
I'm using `CarouselPage` to display main app page, that contains main menu in TitleView and navigates between pages by pressing on menu items (It's transitional code. Trying to move from TabbedPage to proper mvvm implementation).

So code looks like:
[code]

It this case both `OnAppearing` and `On

[2020-12-01 02:29] maxbrister commented on #12884
`EnableTypeInfoReflection` changes Uwp's auto generated XamlTypeInfo.g.cs to use reflection instead of a compile time generated table. The generated file should be under your obj folder. It is intended to make Uwp hot reload a smoother experience. By default `EnableTypeInfoReflection` is not enabled in release builds.

[2020-12-01 06:50] Silic0nS0ldier commented on #12287
Issue reproduced with nested `ContentView`. Suggested workaround of `Frame` with zero padding worked.

For those looking in the future (quite possibly myself included), here is an example before/after of the workaround.

Before
[code]

After
[code]

[2020-12-01 07:28] Elashi commented on #3311
Only when I use <Label.FormattedText>

[2020-12-01 07:31] pfafft33 commented on #12886
[Output-Build-20201201-0128.txt](https://github.com/xamarin/Xamarin.Forms/files/5620901/Output-Build-20201201-0128.txt)

Tried Forms v4.8.0.1687, and got basically the same error.
This time I turned the output verbosity up to "Diagnostic" so that the attached output file would provide you with more information.

[2020-12-01 09:28] DuncWatts commented on #11732
Is there a workaround for the issue of incorrect DataTemplates being selected from the DataTemplateSelector?

I'm having to completely disable CollectionView on my UWP builds due to this.

[2020-12-01 10:01] StephaneDelcroix commented on #13001
I *think* UIPickerView (native iOS picker) require a value, and once you've set it, you can't unset it. the workaround is usually to add a default "not set" value at the top

[2020-12-01 10:07] mattiascibien opened #13009 "[Bug] Drag and Drop inside a CollectionView is conflicting with scrolling"
### Description

Whenever I have a view that has a `DragGestureRecognizer` inside a `CollectionView` I found that scrolling the CollectionView becomes impossibile as the Drag Gesture is trigger when trying to scroll the veiw.

### Steps to Reproduce

1. Create a `CollectionView` with a DataTemplate that has a view with a `DragGestureRecognizer`
2.  Fill the grid
3. Try to scroll it

### Expected B

[2020-12-01 10:14] AlleSchonWeg commented on #12710
Hi,
could somebody from the team fix this issue? Now a customer has open a issue in our company. 🙈

[2020-12-01 10:41] karimElJed commented on #9879
I have the same scenario and was able to implement a workaround. When the Entry gets the focus I disable the scrolling of the CollectionView (in custom renderer) and after a delay of 250 ms I enable the scrolling again.
Make sure you dispatch the enabling of the scrolling on the ui thread after the Task.Delay(250).

[2020-12-01 11:37] mcguu opened #13010 "[Questions] How to get the units from a pixel in photoshop?"
I know that in Xamarin all is units such as widthRequest.

But If I design a UI in photoshop with 72 dpi

and in the page there is an button that is 88px

Then I should set the Button'heightRequest to 88 ?

I want to ask that 1 pixel =? unit?

[2020-12-01 11:43] amirvenus commented on #12620
This does not seem to work in code behind

[2020-12-01 12:32] PaulsonMac opened #13011 "Xamarin.Forms - Crashlytics is not logging crashes [Xamarin.Forms 5.0.0.1709-pre4 & Crashlytics 4.6.2] [Bug]"
### Description
Hi! I'm using Crashlytics v4.6.2 for my Xamarin.Forms app. Though the crash count is increasing but still no error message/stack trace is logged in the Firebase Console. I tried in release device build as well.

I get the following below logs which makes me think that something else is interfering, but though I tried, I couldn't find what is interfering with Crashlytics (if I've pe

[2020-12-01 12:34] PaulsonMac commented on #13011
Sorry, why there is no response for any opened issues in Xamarin's GoogleApisForiOSComponents repo -  https://github.com/xamarin/GoogleApisForiOSComponents/issues?

[2020-12-01 12:38] PaulsonMac commented on #13011
It was working fine in Xamarin.Forms v3.4.0.1029999 and Xamarin.Firebase.iOS.Crashlytics v3.14.0 prior to upgrade them.

[2020-12-01 13:54] MarianHristov92 opened #13014 "[Bug] [Shell] Flyout header dissapears on opening the app IOS 14.1, 14.2 for Iphone 12 mini"
### Description
The flyout header for App Shell is dissapearing when the app is minimized and open once again. This happens only on Iphone 12 Mini with iOS 14.1, 14.2
### Steps to Reproduce

1. Install the app.
2. Minimize the app
3. Open the app again
4. Flyout Header has dissapeared

### Expected Behavior
Flyout Header has not dissapeared
### Actual Behavior
Flyout header dissapears
### Basic In

[2020-12-01 14:05] hasan9444 opened #13015 "[Bug] Blank Image on Converting Xamarin.Forms.WebView into Image in iOS"
### Description
I'm trying to convert my WebView into Image by using dependency service. Android work perfectly but in iOS it convert into blank image. I was previously using XF 4.5. but since I updated to XF 4.8 this issue occur.

### Steps to Reproduce

1.  Place a WebView in Content Page
2.  Write Dependency Service with the following Function
iOS Code
[code]

3.

### Expected Behavior
Should R

[2020-12-01 14:43] luismts commented on #8282
@jsuarezruiz this is kind of annoying. Is there a workaround at least?

[2020-12-01 14:56] mattiaGec commented on #12050
+1

[2020-12-01 16:09] Az0th opened #13016 "[Question] Native Crash Reporting Got a segv while executing native code"
Hello Guys,
I get this error when trying ti start the App vie Xamarin Hot Restart on my iPhone. On Android it works.
Is there anyway to gather more information about such an error because I cant really get some useful information from that.
I already tried to find the portion of code that produced that error but it was not successful.

Thank you guys.

`Loaded assembly: /private/var/containers/Bun

[2020-12-01 16:23] davidortinau commented on #12980
The .NET MAUI work including .NET 6 support is happening in the main-handlers branch on this repository and is sync'd weekly to the dotnet/maui repository. This is not a "from scratch" rewrite. The renderers are being ported to the new mapper/handler architecture, decoupling them from the abstraction layer, and "slimming" them by virtue of removing wrapping views.

At some point the work may shift

[2020-12-01 16:23] #12980 closed

[2020-12-01 16:51] dotnetmetall opened #13017 "[Bug] Background doesn't change from LinearGradientBrush to SolidColorBrush by DataTrigger on Android"
### Description
Frame doesn't change LinearGradientBrush to SolidColorBrush  or backround color on Android. I attached example App  to the Issue.
[Example.zip](https://github.com/xamarin/Xamarin.Forms/files/5624085/Example.zip)

### Expected Behavior
Background changes to SolidColor

### Basic Information

- Version with issue: 4.8.0.1687
- Last known good version: -
- Platform Target Frameworks:

[2020-12-01 18:27] johnshardman commented on #13006
Similarly, on Android, a stepping stone would be to make
void IOrderedTraversalController.UpdateTraversalOrder()
in PageRenderer virtual so that its behavior can be overridden.

[2020-12-01 18:29] donaldashworth commented on #2094
When will this be fixed?  There seems to always be something broken with Xamarin.  You have no idea how many times that I have been reprimanded over these kinds of issues that are totally out of my hands.

[2020-12-01 19:32] mduchev opened #13018 "[Bug] [iOS] Extra animation when shape (Ellipse) appears for the first time"
### Description
Whenever an Ellipse appears (if it is being hidden initially), there is a strange animation, which is built-in and not needed. The second time the shape appears there is no such animation and it is rendering as expected.

### Steps to Reproduce
(From the attached project. )
1. Open & run the solution (it doesn't matter if it is a real device or a simulator)
2. A horizontal Collecti

[2020-12-01 19:34] thomasgalliker commented on #6579
Any progress here? All de-DE xamarin app users with samsung phones are affected. I'm pretty sure they'll appreciate if they can start using decimal separators in Germany...

[2020-12-01 20:46] BioTurboNick commented on #12989
@VladislavAntonyuk out of curiosity do you know of a workaround?

[2020-12-01 21:08] fernandomondo commented on #9073
I have a same behavior, with two page (one with webview and other without).

When webview reload, it lost all sessionstorage too.

I open a question in microsoft q&a :

https://docs.microsoft.com/en-us/answers/questions/182375/webview-session-storage-lost-when-navigate-between.html

[2020-12-01 22:50] lukechinworth commented on #3938
The issue I had was autocorrect (aka TextPrediction) on a search input that was used to filter the list view:

* type "ai"
* tap the list item (this blurs the input so the autocorrect changes to "so", which rerenders the list, and the index of the item I tapped is no longer valid, so it crashes.)

The fix was to disable text prediction on the text entry: `IsTextPredictionEnabled="False"`

[2020-12-02 00:24] transis2 commented on #12993
@VladislavAntonyuk Number 2 is horrible when you push the button

[2020-12-02 02:54] Cfun1 commented on #10320
@jfversluis I think it is still not possible to do it at Xamarin.Forms level, also it create an issue with the circle not visible under Android >=10 with light theme enabled and a default style. A workaround would be adding `<item name="android:colorControlNormal ">#FF4081</item>` to Styles.xml.

[2020-12-02 07:00] fjavaler opened #13019 "[Bug] Visual Studio for Mac. Could not locate the assembly "Xamarin.iOS"..."
### Description
Hi, I have a solution generated in VS 2019 (Windows) and runs fine in it, however, in VS for Mac I get the following error:

/Applications/Visual Studio.app/Contents/Resources/lib/monodevelop/bin/MSBuild/Current/bin/Microsoft.Common.CurrentVersion.targets(5,5): Warning MSB3245: Could not resolve this reference. Could not locate the assembly "Xamarin.iOS". Check to make sure the ass

[2020-12-02 07:14] ColeXm opened #13020 "[Bug] TapGestureRecognizer Not working on Path on iOS"
### Description

TapGestureRecognizer(setting on Path) does not work on iOS but it works on Android .

### Steps to Reproduce

1. Create a simple Path and add TapGestureRecognizer

[code]
2. Click on the path .

### Expected Behavior

TapGestureRecognizer_Tapped event triggers

### Actual Behavior

TapGestureRecognizer_Tapped event not trigger

### Basic Information

Xamarin.Forms : 4.8.0.1687
Xam

[2020-12-02 08:58] rmarinho commented on #13000
@VladislavAntonyuk  do you see that every time?

What if you try this link https://dev.azure.com/xamarin/public/_build ?

also nightly isn't pushed from the public ci, is from the private, the last one is 5.0.1.1760

[2020-12-02 09:00] rmarinho commented on #11556
this should be fixed by  #12170

[2020-12-02 09:00] #11556 closed

[2020-12-02 09:00] rmarinho commented on #11703
This should be fixed by  #12170

[2020-12-02 09:00] #11703 closed

[2020-12-02 09:27] VladislavAntonyuk commented on #13000
If I open it by the direct link it works. I even can now see the list of builds. but When I switch for example to the Releases and then switch back to the Pipelines it fails again. (the link it opens: https://dev.azure.com/xamarin/_apis/IdentityPicker/Identities/me/mru/common?operationScopes=ims&properties=DisplayName%2CIsMru%2CScopeName%2CSamAccountName%2CActive%2CSubjectDescriptor%2CDepartment%2

[2020-12-02 09:42] VladislavAntonyuk commented on #13000
As for nuget: The latest builds which I see:
![image](https://user-images.githubusercontent.com/33021114/100855961-786a4780-3493-11eb-8350-4391283853d5.png)

[2020-12-02 10:01] mfmadsen commented on #11853
We are seeing this issue as well using Xamarin.Forms 4.8.
@bruzkovsky Is a fix for this issue expected to be released anytime soon (either for Xamarin.Forms 4.8 (preferably) or for Xamarin.Forms 5)?

[2020-12-02 10:03] rmarinho commented on #13000
@VladislavAntonyuk  thanks for catching that , ii saw what was the issue that it stop sigining the main branch nightly.

 i can also repo when changing from releases tab the authentication issue, i will investigate.

Thanks once again

[2020-12-02 10:05] jfversluis commented on #10320
Reading it back it wasn't meant to be snarky, sorry about that :) I just didn't know either. It looks like there are a lot of (new) possibilities now, so I was just wondering. Thanks for the suggestion @Cfun1 !

[2020-12-02 10:12] VladislavAntonyuk commented on #13000
The authentication issue is most likely related to Azure DevOps defect. I found that it you click on settings button and then on Preview Features, you will also get the error in a few seconds. But this one is not as critical as switching between tabs.

[2020-12-02 10:40] Kukks commented on #12112
How is it acceptable to skip an entire .NET major version for such an impactful project? Please reconsider this, especially for when the LTS candidate comes out. From my end, I would rather scrap any plans for Xamarin projects if it meant I could not use Blazor Mobile Bindings.

[2020-12-02 10:42] MitchBomcanhao commented on #12993
There's no need to use a special converter - there's a property called TextTransform where you can set text properties to Uppercase or Lowercase.

Regardless, changing the text will not matter if you're then using additional features like visual=Material, where the buttons will be shown in uppercase regardless of what text you pass to them.

[2020-12-02 10:58] Cfun1 commented on #10320
@jfversluis I know you were just wondering, I didn't think/feel you were writing in a snarky way when I have read your message :)

[2020-12-02 11:09] edmlbox commented on #11656
Still an issue. After switching pages in Shell ellipse simply disappears.

[2020-12-02 12:10] #9282 closed

[2020-12-02 12:13] StephaneDelcroix commented on #13019
I can't reproduce this issue. There's either something wrong with your solution, or your installation. I don't know how to help but here's how I'd debug this:

1/ can you reproduce this in a fresh solution ? If yes, clean your solution, drop all obj/ and bin/ folders, restart the IDE...
2/ if no, make sure your VS and dependencies are up to date, if they aren't update them
3/ if it still doesn't w

[2020-12-02 12:13] StephaneDelcroix commented on #13019
(closing as it's unrelated to XF)

[2020-12-02 12:13] #13019 closed

[2020-12-02 12:16] StephaneDelcroix commented on #13010
it depends on the screen. if you're running, say, on an iPhone with retina display, a single 'unit' could span to 1, 2, or 3 pixels. same goes for android.

[2020-12-02 12:16] #13010 closed

[2020-12-02 12:18] StephaneDelcroix commented on #12993
we agree on that, and that's the direction we're taking. Thanks for the suggestions, I hope you got your answer on your first question

[2020-12-02 12:22] mrpmorris commented on #12112
@Kukks I've already decided to skip using it for this very reason.

[2020-12-02 13:22] urbancoderza commented on #8394
I am also having this error on v4.8.0.1534

Last response to this issue was a year ago. Shocking.

[2020-12-02 13:27] jsuarezruiz commented on #13020
Is the same as #10623 and will be fixed by #11419

[2020-12-02 13:32] patrickhacens opened #13021 "[Question] Shell Routing passing properties to more than one page"
## Summary
I would like to know if it is possible to "deep" navigate and insert all routing arguments needed to get into that page and have a natural back navigation behavior

e.g.
[code]
## Intended Use Case
I have something like a binarytree format of entities and when the app is opened and cache is at like 3 levels down of entities when backbutton is used the parent page does not have an id

[2020-12-02 13:36] Redth commented on #12991
Are you able to on a device? The simulator has been consistently inconsistent for me with Apple sign in on various versions. Sometimes if you don’t have provisioning profiles and sign in configured correctly this is what you may experience. The best thing to do is try getting it working on device.

[2020-12-02 13:51] jsuarezruiz commented on #13017
Works on iOS.

[2020-12-02 14:12] Juanuro commented on #7029
Hello. Any news on this?

[2020-12-02 14:51] mfmadsen commented on #11853
@bruzkovsky I tried following the steps you outlined above to build our own custom nuget version from your branch:
[code]
I get the same error as softlion describes above:
[code]

I also tried adding `-Configuration 'Release' to the last command, but get the same result.

Any thoughts on how to fix this build issue? I did try restarting my machine as you suggested above.

[2020-12-02 14:57] janduldhardt opened #13022 "[Bug] Android TimePickerRenderer dialog positive button handler not triggered"
### Description
When implementing a custom renderer for the TimePicker in Android to intercept whether the dialogs OK button is pressed, the handler is not triggered for the DialogButtonType.Positive. Negative and Neutral button handlers are triggered.

**The same code is working for DatePickerRenderer**

### Steps to Reproduce

        protected override TimePickerDialog CreateTimePickerDialog(in

[2020-12-02 15:35] amura11 commented on #13020
@jsuarezruiz sorry if this is answered somewhere else, I couldn't find it myself, is there any timeline on when 5.0.0 will be released? The workaround mentioned in #10623 didn't work for me and I'm in a bit of a time crunch. If 5.0.0 won't be available in the near future I can look into an alternative approach (maybe just use an image button for now)

[2020-12-02 15:52] ludas96 opened #13024 "[Bug] iOS Transporter showing default Xamarin icon"
### Description
After changing the app icons for both Android and iOS, everything looks fine on all the devices deployed to. However, iOS seems to have issues with Transporter as the icon is still shown as the default Xamarin icon while delivering the app. I have removed every reference to Xamarin default icons in my Assets catalog but it's still there.

### Expected Behavior
IPA App should show t

[2020-12-02 16:17] stesvis commented on #12991
@Redth I switched to the WebAuthenticator from Xamarin Exxentials.

[2020-12-02 16:41] Seuleuzeuh commented on #6864
Same in 5.0. Very annoying for a dynamic theming of an entire app.

[2020-12-02 18:22] DavidStrachanLexacom commented on #11781
I would second this enhancement request, where trying to minimalize the text in an application due to users changing device font size for accessibility reasons having icons is more desired.

[2020-12-02 19:05] StephaneDelcroix commented on #13015
looks like a a native iOS question, more than an XF one... you would have better chance asking on stack overflow

[2020-12-02 19:05] #13015 closed

[2020-12-02 19:24] jcmanke opened #13026 "[Bug][iOS] Drag-and-drop text bubble gets stuck"
### Description

When selecting some text from an Entry or Editor on iOS in a Xamarin.Forms app, I am able to make the selected text bubble disassociate from its textbox and get stuck on the screen. Scrolling the page, navigating to a different page, and foregrounding and backgrounding the app do nothing, there is just a text bubble stuck in a static place on the screen, that cannot be interacted

[2020-12-02 19:27] maexsp commented on #12624
@PureWeen The issue is still there. Your zip solution was not running on my VS2019. I commited a full repo for you. By the way, you have to use a tablet to reproduce! Your S9 is a phone.
The Samsung tablet I used was a Samsung SM-T865 (about 1 year old). But the issue is also reproducable on most tablet emulators.
See my repo: https://github.com/maexsp/XamarinFormAndroidIdiom

[2020-12-02 19:40] maexsp commented on #12624
@Redth Hi Jonathan. The issue still exists. Custom repo to check the issue can be found in the following demo.
Main problem: Device.Idiom return Type "Phone" although it is a tablet! Same issue on emulator and on Samsung tablet. Be sure to kill and restart the App once the display settings have changed in the system settings!

https://github.com/maexsp/XamarinFormAndroidIdiom

Emulator settings to

[2020-12-02 19:52] drasticactions opened #13027 "[Bug] ListView items elements not stored within LogicalChildren, inaccessible without reflection."
### Description

A ListView is a `TemplatedItemsList<ItemsView<Cell>, Cell>`. This type stores its items (`Cell`) within `_logicalChildren` (and `TemplatedItems`, and not under `LogicalChildren` as the other Elements do. This raw list of cells is also not publically accessible from within this control, needing us to call reflection.

Either having the items available under `LogicalChildren` or at

[2020-12-02 20:25] magoolation commented on #12827
Any expected date to delivery it?

[2020-12-02 20:34] stefanhk31 opened #13028 "[Bug] AppThemeBinding No Longer Working on iOS"
### Description
Updating from version 4.7.0.1351 to 4.8.0.1687 results in styles no longer responding to `AppThemeBinding` tags like they used to.

XAML:
[code]

### Steps to Reproduce

1. Update XF
2. Set an element's background color based on `AppThemeBinding` in XAML
3. Run the app on a simulator

### Expected Behavior
Color adjusts when phone is in dark mode

### Actual Behavior
Color no longe

[2020-12-02 21:06] JohnHDev commented on #8797
@hartez thank you for the fix, I have updated to XF 4.8.0.1687 and at first glance its looking good!
One issue I did spot, on iOS if the text in the label is bound to a property and the property is updated with more text, a remeasure isn't triggered and so the text can wrap out of the cell again. I can create a repro for this if required. I haven't tried on Droid.

[2020-12-02 21:17] LittleCornerDev opened #13029 "[Bug] [Contacts] [iOS] Focus Handoff With An Entry and Picker"
### Description
This issue relates to new [Contacts API](https://docs.microsoft.com/en-us/xamarin/essentials/contacts) and [Contacts API PR](https://github.com/xamarin/Essentials/pull/1349).

#### Scenario
In a management page for group members, a list of `Xamarin.Forms.Entry` listens for text changes.
On text change, two types of auto-complete is possibly triggered:
    - if text begins with "@",

[2020-12-02 21:20] drasticactions opened #13030 "[Bug] Changing ListView Item Template doesn't update existing cells. Instead, causes existing cells to unhook from view, but elements not removed."
### Description

If you programmatically change a ListView item template, the underlying `TemplatedItemsList.OnItemTemplateChanged()` gets invoked. This causes a `NotifyCollectionChangedAction.Reset` to be invoked. This causes all of the current cell items to `UnhookAndClear()`, calling `ListView.UnhookContent`, the `Cell` element is removed from `_logicalChildren` on the ListView, and it sends a

[2020-12-02 21:36] tklempay commented on #11233
Like to add that changing android:label="MyAppName" to android:label="@string/app_name" fixed my build problems.  I encountered the above error when I added the ironSource Ad Network library to my Xamarin Forms app (Android build).

But one thing I'd like to point out is that after that change, my app name became ironSourceAdapter in several places.  For example, it was now ironsourceadapter in An

[2020-12-02 22:16] drasticactions commented on #13030
Updated with reproduction project

[2020-12-02 23:02] xamiell commented on #11852
Hey, I'm having the same issue.
Seems like [manifest settings](https://github.com/ptomasroos/react-native-tab-navigator/issues/48#issuecomment-268461662)
--------------------------------
Xamarin.Forms 4.8.0.1560
Visual Studio for Mac 8.8 build 2913

[2020-12-03 06:00] kefyru opened #13033 "Mscorlib conflicts with system.memory"
I made library project (target netstandard 2.1), using MessagePack 2.2.60.
I made class BufferWriter : IBufferWriter, and use it like this:
var buffer = new BufferWriter();
var writer = new MessagePackWriter(buffer);

That library is using by client app (Xamarin.Forms, netstandard2.1) and server app (netcoreapp3.1)

In server app all works ok.
But in client app (XF.IOS) i got System.MissingMethodE

[2020-12-03 07:04] AmSmart commented on #6451
This feature is very important and it should be given high priority

[2020-12-03 07:25] maexsp commented on #6579
@samhouts This bug affects a huge amount of locales. Just have a look on this map showing usage of dot vs. comma all over the world.  https://en.wikipedia.org/wiki/Decimal_separator
![grafik](https://user-images.githubusercontent.com/15746917/100977311-18ca7580-3541-11eb-89d4-b982b3a8e816.png)

[2020-12-03 08:21] StephaneDelcroix commented on #13033
I'm sorry to hear this, but it's definitely out of our reach. you should contact the library author

[2020-12-03 08:21] #13033 closed

[2020-12-03 08:48] DevEddy commented on #12986
Same here, the timeout seems not to be respected.
The weird thing is that my request timeouts after 134 seconds on Android and after 75 seconds on iOS.

**UWP is working as expected with the same code.**

@gtame @samhouts  have you found more information in the meantime?

Thanks,
Eddy

[2020-12-03 09:51] RobDaytona commented on #10627
Hi there- This seems to be taking a very long time,  why was it removed from the milestone? are the developers saying the garbage collection will deal with this issue?

[2020-12-03 11:53] jthun opened #13034 "[Bug] Grid broken in 4.8.0.1687"
### Description
There seems to be an issue with Grid layout in XF 4.8.0.1687.

### Steps to Reproduce

1. Create new blank Xamarin Forms project.
2. Paste the sample MainPage.xaml
3. Run and observe the difference between for example 4.8.0.1560 and .1687. The grid is much smaller in .1687 and this is destroying the entire app look-and-feel.

**MainPage.xaml**
<ContentPage
    x:Class="GridTests.Ma

[2020-12-03 11:58] jthun commented on #13034
Might be a duplicate of #12900

[2020-12-03 12:09] whnpneo opened #13035 "How to open a new window in xamarin wpf"
How to open a new window in xamarin wpf

[2020-12-03 12:29] johnshardman commented on #9792
I see the same thing happening on Android, when using Rg.Plugins.Popup.Popup over a ListView.

[2020-12-03 12:53] rmarinho commented on #13000
Ok last nightly was pushed i just confirmed!

[2020-12-03 13:08] mfmadsen commented on #11853
I have now successfully build a custom nuget package based on newest 4.8.0 branch combined with updates from @bruzkovsky. This fixes the issue we saw. Looking forward to an official update/release though :-)

[2020-12-03 13:45] ivanv-microsoft opened #13037 "[Bug] Placeholder text in Editor control does not wrap text on UWP"
### Description
Here's my editor control properties,
`<Editor Grid.Row="1" x:Name="VerboseFeedback" Text="{Binding UserFeedback}" VerticalOptions="FillAndExpand" HorizontalOptions="FillAndExpand" MaxLength="4000" Placeholder="{local:Translate CustomerSatisfactionFeedbackPlaceholderText}}" PlaceholderColor="Gray"/>`

The CustomerSatisfactionFeedbackPlaceholderText is a long text placeholder.

### S

[2020-12-03 14:36] CMehlstaeubler opened #13038 "[Bug] (Re)Setting the ItemsSource of a CarouselView causes it to ignore the ItemsLayout"
### Description
My application uses the CarouselView as a main feature to show a series of opportunities to a user. The user needs to complete his user profile to a minimum degree in order to see these opportunities. Using the ItemTemplate property, I am using DataTemplateSelector to return a layout based on if the profile is completed or not. If the user does complete his profile (thereby allowin

[2020-12-03 14:49] DopaFiend commented on #5461
This is still a problem by the way.

[2020-12-03 15:36] tcerdaj opened #13040 "[Bug] iOS 14 ScrollView when you tap in the editor first line will scroll to go to the bottom"
### Description
iOS 14 ScrollView when you tap in the editor first line will scroll to go to the bottom, this is happening when you add editor or entry content type to a ScrollView.
### Steps to Reproduce

1. Enter some text in the first editor or entry line
2. Press enter to go to the next line
3. Enter some text
4. Tap to go to the first line

### Expected Behavior
keep the scroll position in th

[2020-12-03 16:05] ChristianTBaker opened #13041 "[Bug] Xamarin.Forms.Grid crashes during measure pass"
### Description

Xamarin.Forms.Grid crashes during measure pass

Point of failure:

​	`System.ArgumentException: NaN is not a valid value for width`

`at Xamarin.Forms.Size..ctor(double width, double height)`

`at Xamarin.Forms.Grid.ComputeCurrentSize()`

### Steps to Reproduce

Attempt a measure pass on a grid

### Expected Behavior

Does not crash

### Actual Behavior

Does crash

### Basic Info

[2020-12-03 16:14] DeerSteak commented on #8141
would also love to see this. I'm currently trying to sort this same thing out myself.

[2020-12-03 16:14] davidbritch commented on #12960
Hi @johnshardman

On UWP, `DisplayAlert` uses a `ContentDialog` to show a dialog. The UWP docs (https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/dialogs-and-flyouts/dialogs and https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.contentdialog?view=winrt-19041) state that `ContentDialog` displays a modal dialog. However, it's been reported (https://stackoverfl

[2020-12-03 16:36] jsuarezruiz commented on #12989
@VladislavAntonyuk Do you know a way to reproduce it?

[2020-12-03 16:40] johnshardman commented on #12960
Hi @davidbritch

As well as updating the AccessKey documentation, I'd say that the DisplayAlert documentation also needs updating to make clear that it's not modal on all platforms. Being able to invoke functions on the page behind a dialog that is expected to be modal can cause all sorts of issues that need to be protected against.

If somebody can think of a way of implementing DisplayAlert on U

[2020-12-03 17:20] jsuarezruiz commented on #13037
Attached repro sample: [Issue13037.zip](https://github.com/xamarin/Xamarin.Forms/files/5637777/Issue13037.zip)

[2020-12-03 17:45] VladislavAntonyuk commented on #12989
@jsuarezruiz I don't have exact steps, but looks like it is reproduced with the RelativeLayout.

[2020-12-03 18:14] polkduran opened #13043 "Android: wrong (cached) density used to compute conversions between pixels and units on multiple displays"
https://github.com/xamarin/Xamarin.Forms/blob/d99264507dc1623aecb83daf81aadd2effae62ae/Xamarin.Forms.Platform.Android/ContextExtensions.cs#L23-L27

I ran into this problem before taking a look at the code and see the comment.

I have two displays with different sizes, resolution and density - I work on an app for a point of sales, so one screen for the shop owner and other for the client, both dis

[2020-12-03 19:54] markdou812 commented on #12918
I'm also experiencing this issue since enabling Hot Restart.

[2020-12-03 20:06] Cr15Denis opened #13044 "[Bug] - CollectionView, span and VerticalItemSpacing"
Xamarin Forms 4.8.0.1687
Visual Studio 2019 16.8.2

Platform affected
-Android
-IOS
-UWP(It has not been verified if it generates any problem)

Android

In the collectionview when I use span “2” two or more columns and also VerticalItemSpacing,
the last item in the list does not apply the VerticalItemSpacing.

![bug span android](https://user-images.githubusercontent.com/70722700/101081763-1e8b7f8

[2020-12-03 20:15] Guerrero85 commented on #3839
I have a similar error but it happens to me with a Nuget package called Pancake, in its View method

![image](https://user-images.githubusercontent.com/34452566/101082842-81861200-3582-11eb-8c9e-02a951d49765.png)

[2020-12-03 20:19] #2448 closed

[2020-12-03 20:19] #7065 closed

[2020-12-03 20:41] jonathanantoine opened #13045 "[Bug] CollectionView Recycling doesnt seems to work on Android when datatemplateSelector used"
### Description
On Android, using a datatemplate selector seems to break virtualization.

### Steps to Reproduce

1. Create a collection view and 2 items template.
2. Create a DataTemplateSelector and make it return once a template an once the other.
3. In each item template, place a custom control displaying the number of instance of it created (a static int counter incremented set as a label).
4

[2020-12-03 22:30] Tommigun1980 commented on #12841
I can’t unfortunately provide a repro as it’s not project dependent, and happens with any project (including bug repro projects downloaded from this site).

[2020-12-03 23:05] EvgenyPrikhodko commented on #12692
Hi?
How to solve a problem?

[2020-12-03 23:49] hartez commented on #10977
The original repro project from @holecekp works fine if I update it to 5.0.0 pre2. The layout timing/update issue appears to have been fixed by https://github.com/xamarin/Xamarin.Forms/pull/12017.

[2020-12-03 23:49] #10977 closed

[2020-12-04 00:15] Serena247Pro commented on #10640
Any workaround for this issue? Facing the exactly same situation....

[2020-12-04 00:16] hartez commented on #12009
My guess is that it's an image button, and the image loading is async. So once the image has loaded, the button resizes and causes a re-layout; essentially the same thing that's happening when you resize the window.

[2020-12-04 00:27] hartez commented on #12009
This and #8814 do indeed appear to be the same problem. It's something specific to Shell, and possibly related to the timing things we fixed in #12017.

[2020-12-04 00:47] heebaek commented on #12986
i think this is same problem #10214

[2020-12-04 01:34] Serena247Pro commented on #12258
The workaround did change the style perfectly. But it didn't help show the selected date? I also tried adding UITextField entry = Control;UIDatePicker picker = (UIDatePicker)entry.InputView; It doesn't work. Anything missing?

[2020-12-04 08:32] jonathanantoine commented on #13045
@samhouts I added a reproduction link and a new screenshot.

[2020-12-04 08:42] volcano619 commented on #5942
may be enclose the collectionview inside a scrollview and disable the scroll of the collectionview using renderer, this might fix it

[2020-12-04 08:44] eli191 commented on #11190
Hi, I have this issue, can you tell me if the fix is released please?

[2020-12-04 08:51] jsuarezruiz commented on #13020
@amura11 In the next weeks. I can let you know when having a specific date.

[2020-12-04 09:20] davidbritch commented on #11190
Hi @eli191

It's fixed in 5.0 (which is currently a pre-release).

[2020-12-04 09:42] pfafft33 commented on #12886
I solved it!!!
Looking at the Diagnostic Build Output, it was complaining about the type opentk_1_0.GameViewBase being defined multiple times. So, I got the idea that maybe the opentk assembly was getting copied around into multiple places.
This led me to discover that the "Copy Local" property of the assembly reference to OpenTK was not set - it was BLANK.

First of all, THIS IS A BUG!

The IDE s

[2020-12-04 09:44] JKennedy24 commented on #12538
Any update on this? its a real blocker for me using shapes in my application

[2020-12-04 10:34] #12642 closed

[2020-12-04 10:57] #4720 closed

[2020-12-04 11:21] davidbritch commented on #12960
Hi @johnshardman

Doc updates will get published today.

A temporary solution is to create a global variable (in your library App class) that you set whenever you call `DisplayAlert`, and unset once the dialog has been dismissed. Then in your MainPage class in your UWP project, register an event handler for the `Dispatcher.AcceleratorKeyActivated` event. In the event handler, set `args.Handled` to

[2020-12-04 12:11] #10623 closed

[2020-12-04 12:11] #12685 closed

[2020-12-04 12:11] #13020 closed

[2020-12-04 13:03] StephaneDelcroix commented on #13027
Keep calling reflection for ListView (as discussed)

[2020-12-04 13:03] #13027 closed

[2020-12-04 13:40] DevEddy commented on #12973
Same issue on my side.
@nor0x could you fix the issue?

Thank,
Eddy

[2020-12-04 13:46] OomJan commented on #8971
Update: It seems this has been fixed since 4.5.0.266-pre3 (4.5.0 Pre Release 3)

[2020-12-04 13:46] #8971 closed

[2020-12-04 14:06] eli191 commented on #11190
Super ! I will try it then !

[2020-12-04 15:18] ehsangfl commented on #10946
yes, but in description, base class is not defined in current assembly. base class is on Infrastructure assembly (Infrastructure,View,dll), and xmldef added to it.
and I want to use this baseview on other assembly (like Common.View.dll), with reference of Infrastructure asssembly (Infrastructure,View,dll).
I think problem is on code generator of xaml. because if I replace codes handly, (implement

[2020-12-04 16:06] johnshardman commented on #12960
Thanks @davidbritch

I have no issue with that workaround (it's pretty much what I was thinking of putting in my own code), but engineering really ought to sort this out in XF itself, whether using the workaround, a fix for ContentDialog, or replacing use of ContentDialog.

Thanks again David

cc @hartez

[2020-12-04 16:40] nor0x commented on #12973
@DevEddy not really, i noticed that HotReload outages are somewhat random for me on UWP - for me it works if i try it with a blank project and afterwards debug my actual application.

Really annoying issue though

[2020-12-04 16:44] codebreakerlegend2019 commented on #11738
Still Experience this on 4.8

[2020-12-04 18:22] cabal95 opened #13053 "[Bug] MasterDetailPage (and FlyoutPage) cannot customize status bar text color on iOS"
### Description

TL;DR: There doesn't seem to be any way to set the status bar text to use LightContent (white text) when using MasterDetailPage or the new FlyoutPage on iPad.

This MAY be a new issue since iOS 14, I'm not 100% sure. I don't have a pre-iOS 14 to test on at the moment. But it looks like iOS 14 added special internal code when dealing with UISplitViewController to allow each child v

[2020-12-04 18:23] tcerdaj commented on #11237
I got the same issue in Xamarin forms 4.8.

[2020-12-04 18:49] johnshardman commented on #12960
@samhouts @hartez - Can you re-open this please, with a view to embedding the workaround posted above in XF/MAUI?

[2020-12-04 19:03] EvanMulawski opened #13054 "[Bug] CollectionView on Android does not layout new items properly"
### Description

When adding an item to the CollectionView's ItemsSource (bound to an ObservableCollection), the CollectionView layout's ItemSpacing property is not respected (using LinearItemsLayout).

### Steps to Reproduce

1. Without clearing or resetting the ItemsSource, add a new item to the backing data source.
2. On Android, observe that the new item does not respect the ItemSpacing set on

[2020-12-04 19:25] Elashi commented on #7152
I am experiencing similar misbehavior in CollectionView.  I am not sure if it is the same problem but here what I am seeing:
- I have a vertical CollectionView with `ItemSizingStrategy="MeasureAllItems"` that has images of different sizes loaded from different Url(s).
- I only specify the height `HeightRequest="100"` of the Image .
- Every time I scroll up and down , images gets different sizes ig

[2020-12-04 20:19] EvanMulawski commented on #13054
Added repro

[2020-12-04 20:59] brminnick commented on #12275
@BioTurboNick Looks like Javier just opened a PR to fix it 🎉

https://github.com/xamarin/Xamarin.Forms/pull/13004

[2020-12-04 23:08] #12750 closed

[2020-12-05 04:18] EmilAlipiev opened #13056 "[Bug] Android Embedded Ttf resource throwing exception"
### Description

I am using Roboto-Regular ttf as embedded in my xamarin.forms app. Everything works fine for me and i cannot reproduce any error but for some users i am seeing this crash in my Appcenter logs. I have edded is embedded resource and defined in app.xaml.cs as `[assembly: ExportFont("Roboto-Regular.ttf", Alias = "FontRegular")]`

What could be the problem here? any idea?

[code]

###

[2020-12-05 12:32] Elashi commented on #7152
Here are images of  before and after scrolling.
1- scroll the images to hide
2- then scroll them fast back to the top

![Simulator Screen Shot - iPhone 11 - 2020-12-05 at 13 56 46](https://user-images.githubusercontent.com/12378171/101243075-680dd300-3706-11eb-896f-93b3237539b1.png)
![Simulator Screen Shot - iPhone 11 - 2020-12-05 at 14 29 51](https://user-images.githubusercontent.com/12378171/101

[2020-12-05 16:50] YZahringer opened #13057 "[Bug] Custom CurrentUICulture.NumberFormat ignored on XAML"
### Description
The custom `NumberFormat` or `DateTimeFormat` defined on `CultureInfo.CurrentUICulture` are not reflected by `Binding.StringFormat` on XAML.

### Steps to Reproduce
1. Define custom number or date format of `CultureInfo.CurrentUICulture`
2. Use binding and `StringFormat` on XAML to format data

### Expected Behavior
XAML use the specified number and date formats.

### Actual Behavi

[2020-12-05 17:58] johnshardman commented on #12960
Hi @davidbritch

The updated text says "By default, UWP access keys can be activated when a prompt is displayed. For more information, see VisualElement Access Keys on Windows."

Could this be modified again to make clear that it's "access keys on the page behind" or "access keys, including on the page behind," rather than just "access keys" ?

Thanks

[2020-12-05 18:27] Cfun1 opened #13058 "[Bug] GradientBrush not working with Material on Android"
GradientBrush are not working with Material enabled.

### Description
Applying a `LinearGradientBrush` or `RadialGradientBrush` on a button Background is not working with `Visual="Material"`.
### Steps to Reproduce
[code]

### Expected Behavior
Gradient to show as the button background.
### Actual Behavior
Background is of a black color.
### Basic Information

- Version with issue: 5.0.0.1709-pre4

[2020-12-05 21:31] Cr15Denis commented on #13057
you can use

CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("es-GT");

you can change the CultureInfo depending on your country.

if you want the cultereinfo at a general project level, you can place it in the Mainactivity or Appdelegate before the LoadApplication (new App ()) ;. Cheers

[2020-12-06 03:37] citerio commented on #12760
Hi guys, I'm facing the same issue, any updates on this?.

thanks.

[2020-12-06 03:50] davidortinau opened #13061 "Missing toolbox icons"
We need to add images for some of the more recently added controls. This is the toolbox panel in Visual Studio and Visual Studio for Mac.

https://github.com/xamarin/Xamarin.Forms/tree/5.0.0/Xamarin.Forms.Core.Design/toolbox

Missing:

* ImageButton
* RadioButton
* CheckBox
* IndicatorView
* CarouselView
* RefreshView
* SwipeView

We need to request icon assets from our design team, add them to th

[2020-12-06 04:26] Jouna77 commented on #8944
I still get this on iOS 9.3.6 using xamarin 4.8.0.1687
When a user goes back on a page using shell back button
` at Xamarin.Forms.Shell.GetNavBarIsVisible (Xamarin.Forms.BindableObject obj) [0x00000] in D:\a\1\s\Xamarin.Forms.Core\Shell\Shell.cs:82
  at Xamarin.Forms.Platform.iOS.ShellSectionRenderer+NavDelegate.WillShowViewController (UIKit.UINavigationController navigationController, UIKit.UIVie

[2020-12-06 04:49] Jouna77 commented on #10567
Still getting this on iOS 9.3.6

[2020-12-06 04:54] Jouna77 commented on #10567
I tried setting ItemSizingStrategy  to MeasureFirstItem but it still crashes

[2020-12-06 08:39] SubburajPandian opened #13062 "Duplicate / Repeating characters in Entry control with TextTransform property [Xamarin.Forms.Android]"
### When typing text in the entry Duplicate / Repeating characters rendering when using TextTransform property

### Steps to Reproduce

1. Create Entry control
2. Set TextTransform="Uppercase"
3. Type some letters - sometimes Duplicate / Repeating characters added. For example, type QWERTY some letters repeating in the entry like QWEERTYY.

### Expected Behavior: Only typed letters should render

[2020-12-06 11:05] YZahringer commented on #13057
Yes, the definition of culture works. The problem is that the specific definition of `NumberFormat` and `DateTimeFormat` on culture does not work.

[2020-12-06 11:16] radekraichl commented on #12807
I used a custom renderer to fix it

[code]

[2020-12-06 14:21] maxreb commented on #11845
It seems the same problem is on windows, too. When I use the Full Page Hot Reload everything works, when I set it to "Changes Only" nothing happens on my physical android phone when I save the XAML file. There are also no logs from [HotReload] and no errors in the Error List.

- Visual Studio 16.9 Preview 1
- Xamarin.Forms: 5.0.0.1709-pre4
- Empty App
- .net Standard 2.0
- Phone: Pixel 4a 5G (Andr

[2020-12-06 14:42] dersia commented on #12827
There is a Workaround. But do it at your own risk.
Edit File `C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Xamarin\iOS\Xamarin.iOS.Local.targets`
look for `ComoileEntitlements` in Line 181
[code]
Add `SdkDevPaht` as an attribute with the value `$(_SdkDevPath)`.

Final result should look like this:
[code]

[2020-12-06 15:50] PaulSinnema opened #13080 "Cannot set backgroundcolor for a label in CSS"
### Steps to Reproduce

1. Declare a Label:
	`<Label Text="{Binding Title}" HorizontalOptions="Center" StyleClass="TitleView" />`
2. Add a CSS file and add it to the Resources of the App
3. Define a style in the CSS file:
[code]
### Expected Behavior
The backgroundcolor of the text is blueish

### Actual Behavior
The background color is black.

[2020-12-06 18:51] Mertsch commented on #12374
@beeradmoore Thank you so much for the workaround!

[2020-12-06 19:02] Elashi commented on #8306
Can you share it please

[2020-12-06 21:58] mattleibow opened #13064 "[Bug] [Shell] When changing the ItemTemplate, the shell loses the ability to show the selection"
### Description

I had this issue and then found the solution here: https://stackoverflow.com/questions/57421964/xamarin-forms-shell-costumize-style-of-the-selectedcurrent-flyoutitem

### Steps to Reproduce

1. Use Shell
2. Use a style to set the ItemTemplate (making sure to add the VSM to the root)
3. Observe no selection
4. Move VSM to new style and then set `Grid Style="{StaticResource VSMStyle

[2020-12-06 23:06] GiampaoloGabba commented on #5087
Wow i just had this problem with xf 4.8 and collectionview.
I used Spans to decrease the views inside my datatemplate aiming for Max performance and optimization.
The result is orrible in mid Android phones, the scrolling is very, very bad.
Finally i found this issue, so i rewrote everything using labels and now is much better.

[2020-12-07 02:32] Cfun1 commented on #12271
I am closing, duplicate of https://github.com/xamarin/Xamarin.Forms/issues/8078

[2020-12-07 02:32] #12271 closed

[2020-12-07 03:46] davidortinau commented on #6766
@PureWeen this is basically the issue I'm having. When I give my header a negative top margin during Hot Reload, it's fine. Upon rebuild however it's crashing.

[code]

Actual:

<img width="1294" alt="Screen Shot 2020-12-06 at 7 21 38 PM" src="https://user-images.githubusercontent.com/41873/101307021-19e2f780-380c-11eb-80fe-b34ac9b3fba7.png">

Desired:

<img width="1294" alt="Screen Shot 2020-12-0

[2020-12-07 03:52] davidortinau opened #13066 "[Bug] Shell.Background not displaying gradient Brush"
### Description

<img width="1294" alt="Screen Shot 2020-12-06 at 7 22 52 PM" src="https://user-images.githubusercontent.com/41873/101307269-adb4c380-380c-11eb-9d5a-04aa63eb280c.png">

### Expected Behavior

The `Shell.Background` should take a gradient brush and display it in the navigation bar background.

### Actual Behavior

Nothing is rendered, and it's white.

### Basic Information

- Versio

[2020-12-07 04:20] davidortinau commented on #8139
I'm seeing intellisense for Orientation.

<img width="680" alt="Screen Shot 2020-12-06 at 10 20 09 PM" src="https://user-images.githubusercontent.com/41873/101309147-49483300-3811-11eb-9953-84258926ac44.png">
<img width="627" alt="Screen Shot 2020-12-06 at 10 19 43 PM" src="https://user-images.githubusercontent.com/41873/101309148-49e0c980-3811-11eb-968d-2fc944c2745e.png">

[2020-12-07 04:20] #8139 closed

[2020-12-07 04:49] albertoha94 commented on #12443
Greetings,
Could someone confirm if this was solved please?
I am using `Xamarin.Forms 5.0.0.1709-pre4` with Shell integrated and UWP still doesn't show the back button when using `await Shell.Current.GoToAsync`, is there a setting I'm missing to enable them?

[2020-12-07 06:38] MagicAndre1981 commented on #12900
I also see this in Android and UWP

[2020-12-07 07:41] StephaneDelcroix commented on #13057
I'm not 100% sure it's a XF issue, but it's worth investigating. Thanks for the report

[2020-12-07 07:47] StephaneDelcroix commented on #13062
I can't reproduce this :/

[2020-12-07 07:48] StephaneDelcroix commented on #13058
@jsuarezruiz are you expecting this to work ?

[2020-12-07 07:51] StephaneDelcroix commented on #13056
at the very minimum, `Xamarin.Forms.Platform.Android.FontExtensions.TryGetFromAssets` shouldn't throw

[2020-12-07 07:51] StephaneDelcroix commented on #13056
anything special with the language/culture of those affected users ?

[2020-12-07 09:00] SubburajPandian commented on #13062
I have tested in **Nexus 5 Oreo 8.1 API 27 Emulator and HoneyWell CN85 Device**.

@StephaneDelcroix Can you confirm in which device you tested the attached the sample?

[2020-12-07 09:31] nZeus commented on #12900
Hi. We cannot upgrade `Xamarin.Forms` from `4.6.0.726` to `4.8.0.1687` because we also have the same issue. `Height="70*"` doesn't work anymore.

[2020-12-07 10:32] thisismyself opened #13067 "[Bug] [iOS] AppCrash on startup with Hot Restart and MaterialFrameRenderer"
### [iOS] AppCrash on startup with Hot Restart and MaterialFrameRenderer

### Steps to Reproduce

1. Create an iOS App using Xamarin.Forms, Xamarin.Forms.Visual.Material and Xamarin.iOS.MaterialComponents
2. Compile in Visual Studio on Windows, deploy to iPhone using Xamarin Hot Restart
3. Start App from Debugger

### Expected Behavior
App starts on the iPhone and uses Material Design.

### Actual

[2020-12-07 10:33] aherrick commented on #6449
Hi all! Looking for any kind of update here? Could a work around be accomplished?

[2020-12-07 10:51] Rothanan commented on #3065
Still seing this in Xamarin 4.8.0.1687, after a few hours of use there are huge amounts of bindings and event handlers in memory, and I can't do shit to clear them.

[2020-12-07 13:10] maximusfatigue commented on #10567
I am also getting this on ipad 2.

[2020-12-07 13:54] dimangulov commented on #5973
I have the same issue, when disable gestures on Android

[2020-12-07 15:22] LGE-AUGMENSYS commented on #12733
So I finally got some free time to further compare the differences between our leaking app and the example.
It turns out the leaks are only present in a Master-Detail page setup. I'm linking the modified example app below.
[FormsMemoryLeak.zip](https://github.com/xamarin/Xamarin.Forms/files/5653285/FormsMemoryLeak.zip)

My testing is done using Visual Studio's builtin profiler. From the start page

[2020-12-07 15:43] ahmedroshdy commented on #9125
same issue happens with

[2020-12-07 15:45] DandiAndy opened #13068 "[Bug][iOS][Shell] Rapid Navigation Between FlyoutItems Creates Blank Pages With Missing Renderers"
### Description

Navigating quickly between items in a locked flyout causes pages to go missing leaving a blank page. These pages don't have renderers attached to them, resulting in crashing when the blank area is tapped.

Thinking that this might be due to the async void method `SetCurrentShellItemController` in the `ShellRenderer`. It looks like `_currentShellItemRenderer` could be overwritten b

[2020-12-07 15:54] PureWeen commented on #13024
@ludas96 can you attach a repro please?

[2020-12-07 16:12] davidbritch commented on #12960
@johnshardman Done. The CI should make it live within an hour.

[2020-12-07 16:14] johnshardman commented on #12960
Thanks @davidbritch - sterling work!

[2020-12-07 16:19] PureWeen commented on #13021
@patrickhacens in theory you can do this but it hasn't really been documented or tested so I wouldn't bet on it

[code]

I'm going to move this issue over to our Shell project so we can better test the above scenario though.

[2020-12-07 16:20] PureWeen commented on #13016
@mauroa  ?

[2020-12-07 16:25] PureWeen commented on #13009
Drag and Drop requires a very specific and different implementation when used with CollectionView

https://github.com/xamarin/Xamarin.Forms/issues/4676

Can you share your custom renderer? I'm curious the approach you've taken

[2020-12-07 16:28] PureWeen commented on #12989
@VladislavAntonyuk are you only seeing this issue on 5.0.0-PRE4?  are you not seeing it on any earlier versions?

[2020-12-07 16:34] PureWeen commented on #12986
Closing as duplicate of #10214

[2020-12-07 16:34] #12986 closed

[2020-12-07 16:40] VladislavAntonyuk commented on #12989
I see it on 5.0.0-pre4. I didn't check on earlier versions

[2020-12-07 16:42] VladislavAntonyuk commented on #12989
I can try to create a small repro. But not sure, because it happens randomly.

[2020-12-07 16:55] PureWeen commented on #12976
@obie73 Drag and Drop hasn't been implemented for the MacOS target yet

[2020-12-07 16:56] PureWeen commented on #12976
NM @obie73  I misread your issue...

I'll take a look

[2020-12-07 17:00] PureWeen commented on #12970
@Nelo-cool can you attach a repro please?

[2020-12-07 17:02] PureWeen commented on #12932
I'm guessing this is related to https://github.com/xamarin/Xamarin.Forms/issues/13067

[2020-12-07 17:19] givod opened #13069 "Cocoapod Binding for Xamarin.ios"
## Summary
Provide a better way for cocoapods binding for Xamarin.ios, or create a nugget for the Google Nearby Messages for Xamarin.ios

[2020-12-07 17:25] johnshardman commented on #8797
@JohnHDev - You may need to log a new issue. Once an issue is Closed, further comments don't always get noticed. I'm surprised by this, particularly when tags are used (I thought a tag would have resulted in a notification regardless of current state), but it's my experience.

[2020-12-07 17:28] sachinkanadia commented on #11480
Hello

Any update on this? In which release will this be resolved on iOS?

[2020-12-07 18:56] Nelo-cool commented on #12970
Okay, on morning tomorrow, little project with this issue in zip.

[2020-12-07 19:06] abelgarciasaiz opened #13070 "[Bug] MarkerClicked not called on Android X"
### Description

Simple map view with a pin with MarkerClicked event defined doesn't get fired on android X but it does in android 9

### Steps to Reproduce

    xmlns:maps="clr-namespace:Xamarin.Forms.Maps;assembly=Xamarin.Forms.Maps"

<maps:Map   x:Name="map"    IsShowingUser="True"  MoveToLastRegionOnLayoutChange="False">

            <x:Arguments>
                <maps:MapSpan>

[2020-12-07 19:33] PureWeen commented on #13067
Hot Restart doesn't work if you are using the Material libraries . I forget the specifics but I've assigned to that team to see if they have additional work towards making that work

@mauroa ?

[2020-12-07 19:33] CartBlanche commented on #12757
@rmarinho any ETA on when this will be in preview or Stable?

[2020-12-07 19:53] CartBlanche opened #13071 "[Bug] and [CRASH] App Crashes on startup on High Sierra. Runs fine on higher operating systems"
### Description
App crashes on startup on High Sierra, but runs fine on higher Operating Systems.

### Steps to Reproduce

1. Open the Test.sln in this zip file on High Sierra. Build and run it and it will crash on startup
[Test.zip](https://github.com/xamarin/Xamarin.Forms/files/5654870/Test.zip)

Exception thrown is : **NSInvalidArgumentException: -[NSApplication effectiveAppearance]: unrecogniz

[2020-12-07 19:53] PureWeen commented on #12785
This should be fixed by this PR

https://github.com/xamarin/Xamarin.Forms/pull/12967

[2020-12-07 20:09] PureWeen commented on #13071
Hello! It looks like you're on XCode 10

You'll need to be on Xcode 12 to compile a Xamarin.Forms 5.0 application

[2020-12-07 20:10] PureWeen commented on #13071
Wait NM I see you're running on macOS

Reopened

[2020-12-07 20:28] rachelkang commented on #12930
Hi, @johnshardman - thanks so much for submitting this issue! I've modified the title and description to capture some additional issues related to the XF Entry

[2020-12-07 20:29] sachinkanadia commented on #11480
This seems to be an issue which not only effects the shapes API but other XF controls too. When performing ScaleTo() on a Frame control it too becomes blurry. Only on iOS, Android works fine.

[2020-12-07 20:37] PureWeen commented on #13011
https://github.com/xamarin/xamarin-macios/issues/10227

[2020-12-07 20:37] #13011 closed

[2020-12-07 21:00] EvanMulawski commented on #13054
Possibly fixed by https://github.com/xamarin/Xamarin.Forms/pull/10624 ?

[2020-12-07 21:21] GuidoNeele opened #13072 "[Bug] [Android] FontImageSource default system glyphs have preference over icon font glyphs"
### Description
If a glyph exists on the system the system glyph will show instead of the glyph in the icon font.

### Steps to Reproduce

1. Create a new Xamarin Forms project
2. Set MainPage to new NavigationPage(new MainPage()) in App.xaml.cs
3. Add ToolbarItems to MainPage.xaml
4. Add one with glyph `&#x1f514;` (`&#x1f514;` == &#x1f514;)

### Expected Behavior
Take the bell icon from the icon

[2020-12-07 21:34] PureWeen commented on #13040
@tcerdaj Can you attach a repro or the XAML you are using for this issue?

[2020-12-07 22:05] PureWeen commented on #13054
I pulled down the nuget for #10624 and it looks like it fixes it!

[2020-12-07 22:20] PureWeen commented on #13043
duplicate

https://github.com/xamarin/Xamarin.Forms/issues/7239

@polkduran there was a PR here
https://github.com/xamarin/Xamarin.Forms/pull/7983

But it didn't end up getting merged. There are some comments in there about how to fix the implementation so that's probably a good place to start

[2020-12-07 22:20] #13043 closed

[2020-12-07 22:34] PureWeen commented on #13026
@jcmanke hmm I tried to reproduce this as well but I'm not really having any luck

Is there a way to create a page that mimics the layout of the one in your gif?
If you update to the latest xcode and test on 14.2 simulators do you see the same issue?

Also what type of device are you testing on?

[2020-12-07 23:14] GuidoNeele commented on #13072
Looks like I'm using the wrong unicodes. Got them from the svg font file but they appear to match the ttf file.

[2020-12-07 23:14] #13072 closed

[2020-12-07 23:16] PureWeen commented on #12927
@RobTF can you attach a repro please? I tried to reproduce this issue but wasn't really having any luck

[ANotificationCompat.zip](https://github.com/xamarin/Xamarin.Forms/files/5655760/ANotificationCompat.zip)

[2020-12-07 23:19] jcmanke commented on #13026
@PureWeen I have not been able to reproduce it yet, including copy-pasting a page from the real app into a different solution.

Don't have permission to upgrade Xcode on my work computer, but I'm actively working on the upgrade analysis so the whole team will likely be updating soon.

The video comes from an iPhone 11 Max Pro, I have also reproduced it on an iPhone 6s running iOS 13.0, and an iPho

[2020-12-08 03:13] xamiell commented on #8282
Hi, any update?

[2020-12-08 03:14] xamiell commented on #12782
Hi, any update?

[2020-12-08 03:14] xamiell commented on #6835
Hi, any update?

[2020-12-08 03:24] Redth opened #13073 "📋 Survey: Repo contribution experience, Fall 2020"
Thanks for all your contributions to this project! Along with a number of other Microsoft repos, we have created a survey that we hope allows us to learn what works and what needs attention. It's a little bit less than 30 questions, many of them multiple-choice questions. If maybe takes 10 minutes to complete and it’s anonymous. Your responses will help us make your experience better in this repo,

[2020-12-08 08:24] vardansargsyan92 commented on #8735
Hi guys. Any news about this issue? I am still getting this on IOS and Android

[2020-12-08 08:53] softlion commented on #11853
@mfmadsen could you share your github/branch with the updates ?

[2020-12-08 08:59] mattiascibien commented on #13009
Unfortunately at the moment I am on vacation and I cannot provide it. As soon as I get back to work I will try to ask for permission as the source code is technically owned by the client. I think it was an example found on the internet that was then modified and had some workarounds applied.

I'll try to check as soon as I can

[2020-12-08 09:00] mattiascibien commented on #13009
Actually we are not using drag and drop for reordering in this particular case but we use it for drag the icons we have on our grid up to a flyout that appears on the top of the page.

[2020-12-08 09:23] mfmadsen commented on #11853
@softlion, yes that is the repo we are currently using to build our temporary custom nuget package for 4.8 Xamarin.Forms. I was never able to build the repo from @bruzkovsky directly, so instead I cloned the Xamarin.Forms repo and then replaced the contents of the three updated files in Xamarin.Forms.Platform.iOS/CollectionView (ListSource.cs, ObservableGroupedSource.cs and ObservableItemsSource.c

[2020-12-08 09:59] Masterofdesasta commented on #10584
Are there any plans to fix this bug?

[2020-12-08 10:32] scriptBoris commented on #1944
Hi team Xamarin.Forms, is there any news on this issue?

[2020-12-08 12:31] pablolop002 commented on #12692
On iOS, the clue icon doesn't appear, you have to scroll down to show the search bar or at least is how its working on my app.
The real problem is when you scroll, navbar background turns transparent. Additionally, you can't hide the search bar (all this on iOS, on Android works)

[2020-12-08 12:33] AjitKRuin opened #13074 "[Bug] I am getting an issue in Swipe view inside listview , when Itemsource is changed dynamically , the Swipe view Swipe Items is not shown instead it shows the content again."
### Description
I used Swipe view inside Listview , in swipe view used frame as content and image in swipe right item view . When changed Itemsource dynamically and swipe right , the image is not shown instead another frame is created under this frame.

### Steps to Reproduce

1. create listview with Swipe view in Item templapte ,  frame as content of swipe view.
2. Change item source dynamically.

[2020-12-08 12:48] johnshardman opened #13075 "[Bug] Using a custom Button renderer on Android results in Talkback requiring an extra swipe to move accessibility focus"
Where custom renderers are used for Buttons on Android, with renderers derived from Xamarin.Forms.Platform.Android.AppCompat.ButtonRenderer, users who use Talkback have to do an additional swipe to move the accessibility focus from one Button to another.

This can be reproduced by adding a custom renderer that derives from Xamarin.Forms.Platform.Android.AppCompat.ButtonRenderer but that does not h

[2020-12-08 13:17] jhaprasun opened #13076 "[Bug] Xamarin.Form Radio button Content not wrapped in next line and text is getting truncated"
### Description
It's very simple to reproduce. I installed Xamarin.Forms 5 Pre 4.  Added Radio button in Xaml and set bigger text in Content property. Text is not displaying in smaller device because text is not getting wrapped in next line.

### Steps to Reproduce

1.  Add one radio button in xaml
2. Set Content property with large text
3. Run it on Android and iOS, text is getting truncated

###

[2020-12-08 13:47] Nelo-cool commented on #12970
I don't reproduced! I will try to reproduce it in the initial project and I well write here :)

[2020-12-08 13:58] zoli13 commented on #8979
We have exactly the same issue. Just updated mvvmcross to the latest, and since then, on DatePicker makes the App crash on Android. On iOS, it's OK, works fine.
This is our call where it crashes: `picker.Focus();`
The project is huge, so right now unable to provide small project to demo it.
However, @ChristianTBaker mentioned in step 3, what is the "fix" for this.
I am not sure if this is mvvmcros

[2020-12-08 14:11] zoli13 commented on #8979
Hi @ChristianTBaker ,
Could you provide your modified workaround renderer code please?
Could you find other "better" solution?
Which MvvmCross version do you use? We encounter it with 7.1.2 (+XF: 4.8.0.1269)

[2020-12-08 14:29] Axemasta opened #13077 "OnSleep / OnResumed called by System Dialogs on iOS [Bug]"
### Description
When certain iOS system dialogs appear the `OnSleep` method in the `App` is called. Events I have noticed include:

- Permission Requests
- Authentication Requests (ie Microsoft MSAL login)

This is making it difficult to implement a reliable background service using Xamarin Forms events whilst the app is running in the foreground.

This is the same issue as #8413 which had no repr

[2020-12-08 14:46] radekdoulik opened #13078 "Make XF assemblies linker friendly"
Xamarin.Forms assemblies are currently not linked, when used with Xamarin.Android in default Release configuration.

Linking the assemblies would reduce release application size, which is important for mobile apps and also slightly improve startup performance.

To see, where we can get with linking, I tried to link Xamarin.Forms.* assemblies in small "Hello world" app on XA/net6. Here is the size

[2020-12-08 14:47] LittleCornerDev opened #13079 "[Bug] [Contacts] [iOS] Focus Handoff With An Entry and Picker"
### Description
This issue relates to new [Contacts API](https://docs.microsoft.com/en-us/xamarin/essentials/contacts) and [Contacts API PR](https://github.com/xamarin/Essentials/pull/1349).

#### Scenario
In a management page for group members, a list of `Xamarin.Forms.Entry` listens for text changes.
On text change, two types of auto-complete is possibly triggered:
    - if text begins with "@",

[2020-12-08 15:03] mattleibow commented on #13079
I don't think this has to do with Essentials as the contacts dialog shows and returns just fine. It seems that setting focus to the forms Picker is not showing the  iOS popup?

[2020-12-08 16:01] conor-codes commented on #6908
I am also experiencing this, I have a collection view inside a grid view. It only seems to happen to me when i change the collection views ItemsSource in runtime.

[2020-12-08 16:12] Tommigun1980 commented on #13045
Is there any chance you could take a month or so to solve the collection view issues? Not being able to display data in a list form is the single biggest issue with Xamarin.Forms atm. Please!

If things are just added to the backlog they may be fixed in a year or so, but it's almost impossible to use XF in the meantime. Is there any way a sprint could be dedicated just to fix the list issues?

Tha

[2020-12-08 16:15] radekdoulik commented on #13078
Let me add some information which might be helpful.

To make assembly linker friendly, there are basically 2 things to do:
 - review code which uses reflection and let linker know what needs to preserved or what are the dependencies (net6 only)
 - let linker know, that the assembly can be linked/trimmed

Note that there are currently different ways to achieve linker friendliness when targetting "l

[2020-12-08 16:42] CartBlanche commented on #13071
@samhouts, @PureWeen When you have a second, could you please tell me roughly when the fix for this other bug I filed (about a month ago, that also affects MacOS rendering) - https://github.com/xamarin/Xamarin.Forms/issues/12757 will land in preview or stable? Rui seemed to have a fix for it.

[2020-12-08 16:55] giuseppenovielli commented on #5087
Hi, as a workaround, can create a Label CustomRenderer and assign
iOS -> Control.AttributedText
Android -> Control.SetText(<SpannableString>)

So write Native Spans, i think performance are better.

[2020-12-08 17:41] PureWeen commented on #13078
@radekdoulik This is our plan for MAUI

We did all of this for the iOS library
https://github.com/xamarin/Xamarin.Forms/pull/8001

So that we'd be able to link out the WebViewRenderer

The problem, as far as I understand it, is that this goes a little bit beyond just making the DLL linker safe.

In Forms we have no way to currently detect if someone is or isn't using a `Xamarin.Forms.Button` and t

[2020-12-08 18:44] EvanMulawski commented on #13044
This might be fixed in https://github.com/xamarin/Xamarin.Forms/pull/10624 .

[2020-12-08 18:51] PureWeen commented on #13076
@jhaprasun can you attach a repro?

AFAICT it's working fine

![image](https://user-images.githubusercontent.com/5375137/101527677-f034e800-3953-11eb-85aa-e05cfc9bbc39.png)

Do you have a global style for your labels that is forcing labels to size a certain way?

[2020-12-08 19:10] StephaneDelcroix commented on #13080
can you try using lowercase ('titleview') and report ?

[2020-12-08 19:45] Muthukumaran-G opened #13083 "WindowSoftInputModeAdjust.Resize doesn't work with Shell Page"
### Description

Greetings.
I am facing an issue in android platform with focusing an entry at the bottom of the page in shell Page. When the keyboard gets layout on the screen it pushes all the items in the view above which is actually fine until it scrolls the TitleBar  or NavigationBar too! This case is similar to the below issue.
https://github.com/xamarin/Xamarin.Forms/issues/4273

So I have

[2020-12-08 19:54] PureWeen commented on #13070
@abelgarciasaiz can you attach a repro please?

I tested with the sample here

https://github.com/xamarin/xamarin-forms-samples/tree/master/WorkingWithMaps

And I was able to click on the markers without a problem after updating to the AndroidX builds of Xamarin.Forms

[2020-12-08 20:26] PureWeen commented on #13062
@SubburajPandian is this primarily happening for you when typing from a physical keyboard? Or does it also happen on the device?

I'm seeing your issue on a " Nexus 5 Oreo 8.1 API 27 Emulator" when typing from my keyboard to the simulator but not on the simulator itself

[2020-12-08 22:47] brminnick commented on #12275
@jsuarezruiz I can confirm this was fixed in this PR: https://github.com/xamarin/Xamarin.Forms/pull/12377

[2020-12-08 22:47] #12275 closed

[2020-12-08 23:12] PaulSinnema commented on #13080
@StephaneDelcroix Ok, my bad I found the problem. In the css the following was present:

[code]

A few lines lower:

[code]

The latter overrides the color of the style class.

[2020-12-08 23:44] beeradmoore commented on #12374
Confirming this is fixed in 5.0.0.1791-pre5.

[2020-12-09 00:51] PureWeen commented on #12999
@sunkerGit do you have a sample app we can test? Or more information about your Login? Is this a custom login page?

[2020-12-09 01:04] PureWeen commented on #12862
@Sakthivel-sync I think what you're seeing is caused by the space not resolving because the break point is hit. When you hit space twice really quickly then it hits the break point and the simulator thinks you are still holding down the space bar.

If you don't set a break point and just do an output like @jsuarezruiz has then it won't cause it to keep firing

[2020-12-09 01:04] #12862 closed

[2020-12-09 01:31] xamiell commented on #11704
Hi, having the same issue on Android.

Xamarin.Forms 4.8.0.1560

[2020-12-09 01:36] xamiell commented on #3527
I'm having this issue on Android but on iOS works fine.
Xamarin.Forms Version: 4.8.0.1560
Seems like an old issue that still happening.

[2020-12-09 06:48] GnanaPriyaNamasivayam opened #13086 "[Bug] [Xamarin.Forms][Android] When keyboard appears navigation bar moving off the screen"
### Description

Navigation bar disappears in my android screen when i keyboard appears at the bottom most page of my entry. It does not occur in iOS platform. Tried to resolve the issue using WindowSoftInputModeAdjust.Resize. Unfortunately it doesnot work.

### Steps to Reproduce
Use simple shell sample with listview with many items like Entry,

1. Scroll to  last entry item.
2. Try to enter valu

[2020-12-09 08:10] mcguu commented on #11828
I have wait for this bug from 18 Aug to 9 Nov but nothing changed

If you do not want to fix this bug please tell me thank you.

[2020-12-09 09:09] calvinfa commented on #12567
Re-tested with 5.0.0-pre5 and the issue is still there. This prevents us from being able to upgrade since it breaks the whole Android render cycle. Updated sample for anyone interested:
[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/5664701/Archive.zip)

Also why is this tagged as 4.8.0 @PureWeen ? This is as indicated a regression introduced in 5.0.0-pre2.

[2020-12-09 10:48] tranb3r commented on #12484
Is it fixed in 5.0.0 Pre Release 5 ?

[2020-12-09 10:49] Axemasta commented on #11444
I would appreciate this, using a custom renender at the moment. Would PR's be accepted?

[2020-12-09 11:38] philipwilford commented on #12080
I am getting this error too.
The app works fine on Android, but on IOS it is very unstable.
I have a Collectionview in a RefreshView.
I update some details using a menuswipe, and it seems to up date the unlying model, but sometimes updates the screen
and other times shows the old data or as above, it throws a fault.
This is very frustrating and my users are giving me a hard time.
i am having to us

[2020-12-09 11:48] jsuarezruiz commented on #13074
@AjitKRuin This issue seems to be fixed by https://github.com/xamarin/Xamarin.Forms/pull/12786 recently merged.
Could you attach a sample where reproduce the issue?. I can do some quick tests with the latests 5.0 version.

[2020-12-09 11:52] Jearom opened #13087 "Items inside CollectionView initialized again with every new item (On IOS) [Bug]"
### Description
Hi All,
    I am creating a page like chat application  except i need to wait Media Element has to finished before I insert another message to list. When new item added to collectionview with datatemplateselector all visible items initialized again. So another media element started on background.    Just put a debug on datatemplateselector , you will see.
Ofc this is not releated w

[2020-12-09 12:35] SubburajPandian commented on #13062
@PureWeen Yes, you're right in emulator issue occur when typing from a physical keyboard. What will the cause?

Issue occurring in device also - **HoneyWell CN85**, I didn't checked with other devices.

[2020-12-09 12:50] BenBtg opened #13088 "[Bug] Forms Templates appear blank on iOS if Dark Mode is enabled"
### Description
The default templates for Xamarin.Forms both Tabbed and Flyout appear blank if deployed to an iOS device with Dark Mode enabled. Text is White on White

### Steps to Reproduce

1. Created template app selecting Tabbed or Flyout
2. Select Dark Mode on iOS settings
3. Deploy to device

### Expected Behavior
Either dark mode is honoured and we have white text on black background or no

[2020-12-09 13:10] charlesroddie commented on #11757
Also encountered this issue and had to work around. Some interaction with an Android renderer and touch. With minor tweaks the error would sometimes appear as `System.ObjectDisposedException: Cannot access a disposed object. Object name: '...Renderer'` We use renderers to handle Keyboard input. The workaround ended up OK so we are not depending on a fix for this. Maybe with MAUI handlers having le

[2020-12-09 13:29] StephaneDelcroix commented on #13078
to add to this => we don't know if it's used as it could be instantiated from XAML, and XAML files can be loaded, and inflated, at runtime, without knowing about those files at compilation time.

[2020-12-09 13:41] tranb3r commented on #12978
I'm having a similar issue in my app.
Sometimes, a label inside scrollview is not entirely displayed: the part that is not visible is blank when scrolling.
No issue when surrounding the ScrollView with a stacklayout.
This is a regression in XF5.

[2020-12-09 15:06] AmrAlSayed0 commented on #13078
@StephaneDelcroix Does setting ```x:DataType``` on the view help with this? Also, would setting ```[ XamlCompilation ( XamlCompilationOptions.Compile ) ]``` help too?

[2020-12-09 15:28] jsuarezruiz commented on #13058
Yes, sent a PR with a fix.

[2020-12-09 15:34] jsuarezruiz commented on #13066
Thanks for the detailed description, the issue will be fixed https://github.com/xamarin/Xamarin.Forms/pull/13090

[2020-12-09 15:40] jsuarezruiz commented on #13088
The problem here is that the background color of the page is not changing with the dark theme. This issue will be fixed by:
https://github.com/xamarin/Xamarin.Forms/pull/12409

[2020-12-09 17:54] JohnBot2013 opened #13091 "Horizontal collection view on iOS will not scroll fully to the end of the list"
### Description
With a collectionview displaying horizontally on iOS you cannot scroll to the item(s) at the end of the list

### Steps to Reproduce

1. Set a collectionview using a linearitemslayout to horizontal orientation
2. Bind to an appropriate collection
3. Attempt to scroll to the end of the list

### Expected Behavior
You can scroll to all items in the list

### Actual Behavior
You can s

[2020-12-09 18:44] luismts commented on #11845
It happens to me too on windows. What I did is restarting the pc and everything work again.

**Note**: sometimes the issue comes again and I need to restart the pc. I don't really know what is the trigger of this.

It's a little sad, but I have tried several things and nothing work. I don't really know what happens with this.

[2020-12-09 18:45] luismts commented on #8793
Related https://github.com/xamarin/Xamarin.Forms/issues/11845#issuecomment-741972198

[2020-12-09 19:15] PureWeen commented on #12990
@CaseAlexander (and others) can you test this on 16.8.3 ?

I'm on 16.8.3 and I've tried running all the repos in here and they all run for me without any issues

[2020-12-09 19:43] PureWeen commented on #12902
@ValonK can you test on any of the 5.0 pre releases?

We made some changes to how these measures work on Android
https://github.com/xamarin/Xamarin.Forms/pull/12017

Which might resolve your issue

[2020-12-09 20:05] bmacombe commented on #12990
On 16.8.2 and 16.8.3 I get this error multiple times daily.  Not sure it's related to the project name, but for reference.

Here is my longest project name "AS.Mobile.DealerTools.UWP" with path "E:\Ag Spectrum\DealerTools\AS.Mobile.DealerTools\AS.Mobile.DealerTools.UWP\"

[2020-12-09 20:25] PureWeen commented on #12619
I'm poking the team to see what they think the best path would be going forward.

The path that led to these APIs basically boils down to matching UWP and going for an approach that's bindable. Having to dip down into the View to call a method in order to trigger the visualization felt annoying but perhaps once we add a visualization property that will make more sense

1) On UWP all you have is a

[2020-12-10 00:28] PureWeen commented on #12545
Closing for now since
https://github.com/xamarin/Xamarin.Forms/issues/10341

Seems to cover this

[2020-12-10 00:28] #12545 closed

[2020-12-10 00:43] cbagpipe commented on #10628
Experiencing this bug on Xamarin.Forms 4.7.0.1351 when changing `CarouselPage.CurrentPage` from code.
I'm using `CarouselPage` to display main app page, that contains main menu in TitleView and navigates between pages by pressing on menu items (It's transitional code. Trying to move from TabbedPage to proper mvvm implementation).

So code looks like:
[code]

It this case both `OnAppearing` and `On

[2020-12-10 01:07] PureWeen commented on #12868
@NeilN1 can you try with this repro that uses material and 5.0 pre5?

I'm not getting any crashes
[Issue12868 2.zip](https://github.com/xamarin/Xamarin.Forms/files/5669603/Issue12868.2.zip)

[2020-12-10 02:32] sthch opened #13092 "[Bug] Frame.Background not displaying GradientBrush on iOS"
### Description
Set GradientBrush as Frame's background doesn't work on iOS, but working fine on Android.

### Expected Behavior
Frame's background can be rendered as expected on Android.
![微信截图_20201210102831](https://user-images.githubusercontent.com/18411241/101713368-7a0abf80-3ad2-11eb-9e42-a11e9be16697.png)

### Actual Behavior
Frame's background can't be rendered correctly on iOS.
![微信截图_202

[2020-12-10 03:01] EmilAlipiev commented on #12884
are you able to run your app in release mode? For me my app is no longer running in release. i am getting all the time `Unhandled exception at 0x00007FFA71E23B29 (KernelBase.dll) in ` error. I have 0 change in platform level since last successful running version

[2020-12-10 03:11] PureWeen commented on #13091
@JohnBot2013 I think the sample didn't get attached?

Also can you test on 5.0 pre5?

[2020-12-10 03:35] PureWeen commented on #13087
@hartez I tested this on pre5 and the attached repro is now throwing an exception

[2020-12-10 04:27] JVHE commented on #11954
I found a dirty bypass solution of this.

1. Declare two labels in the area where you want to use strikethrough.
2. Use the existing settings for one label.
3. For the other label, set strikethrough and any other options you want to set.
4. And use the IsVisible property to adjust the desired state.

this is a sample code
[code]

Of course, you can write better code than this simple code I wrote.

[2020-12-10 04:48] PureWeen commented on #13077
This is a tricky one @Axemasta hartez explains the behavior in a comment here https://github.com/xamarin/Xamarin.Forms/issues/8413#issuecomment-552029774

Those application events are just tied to the native equivalents but what's definitely missing here is some better granularity. This is something that we're looking into for MAUI

But for this case it's not really a bug.

[2020-12-10 04:51] PureWeen commented on #13075
@johnshardman if you inherit from
`Xamarin.Forms.Platform.Android.FastRenderers.ButtonRenderer` instead do you still see the same issue?

[2020-12-10 05:09] PureWeen commented on #12867
@rubiomiguel06 I've been moving these cats around for awhile now and I'm not getting any crashes

I'm testing on an S9 and not seeing anything. Do you see this issue on any simulator versions? Can you try the latest 5.0 prerelease to see if you are having issues there?

[2020-12-10 05:29] sthch opened #13093 "[Bug] Line's Stroke and Rectangle's Fill doesn't rendered as expected while changing the system's appearance."
### Description
I have already set both Line's Stroke and Rectangle's Fill with AppThemeBinding, but when I changing the system's appearance in settings, their appearance doesn't change as expected. This problem occurs on both iOS and Android platforms.

### Steps to Reproduce
1. Create a Line or Rectangle.
2. Set the Line's Stroke or Rectangle's Fill with AppThemeBinding.
3. Run the application,

[2020-12-10 07:18] LittleCornerDev commented on #13079
@mattleibow @dimonovdd, Thanks for the heads up that the issue is probably in Xamarin.Forms.

I had replicated issue even without ListView, but in case the XAML and issue was actually cached, I will investigate if workaround(s) for the following Entry in ListView unfocus issue in Xamarin Forms iOS could fix my issue as well:

[Unfocused not triggering on Entry in ListView - iOS](https://forums.xam

[2020-12-10 08:06] jsuarezruiz commented on #8706
This issue seems to be fixed by https://github.com/xamarin/Xamarin.Forms/pull/10747

[2020-12-10 08:06] #8706 closed

[2020-12-10 09:05] jsuarezruiz commented on #13092
I have created a sample where try to reproduce the issue:
[Issue13092.zip](https://github.com/xamarin/Xamarin.Forms/files/5671510/Issue13092.zip)

But cannot reproduce it:
<img width="1527" alt="Captura de pantalla 2020-12-10 a las 10 02 41" src="https://user-images.githubusercontent.com/6755973/101750201-fac7bc80-3ace-11eb-854f-aa2b184ef134.png">

Tested with Xamarin.Forms 5.0-pre5 on iOS 14 and

[2020-12-10 09:14] sreejithsree139 opened #13094 "Xamarin Forms: MediaElement: Feature Request: Stick the control bar always on top of the screen"
I am using `MediaElement` for playing audio. My problem is the controls(Play, pause, and duration bar) are not showing always. If I tap on the `MediaElement` the controls are showing else only a black screen. I need to keep the controls always there at the whole time of audio play.

**Currently audios are playing like below:**

[![enter image description here][1]][1]

I tried true value for `KeepS

[2020-12-10 09:22] jsuarezruiz commented on #13094
MediaElement has been moved to the Xamarin Community Toolkit, I'm going to move this issue to the Toolkit repository.

[2020-12-10 09:27] jsuarezruiz commented on #13093
Could you attach a sample where reproduce the issue?. I created a small sample but cannot reproduce it:
![issue13093](https://user-images.githubusercontent.com/6755973/101752789-2ef0ac80-3ad2-11eb-9bd9-159d2fdd7d39.gif)

[2020-12-10 09:41] sthch commented on #13092
Thanks for the reply!
I've find that the reason of my problem is I forget setting the Offset of the GradientStop, after setting the Offset, everything goes fine.
(BUT, on Android, it's all fine without setting the Offset of the GradientStop)

[2020-12-10 09:58] sthch commented on #13093
Thanks for the reply!
Here is my code sample:

Page.xaml:
`<Line Grid.Row="0" Grid.Column="0" Grid.ColumnSpan="3" Style="{StaticResource HorizontalSeparator}" />`
`                <Rectangle Grid.Row="4" Grid.Column="0" Grid.ColumnSpan="3" Margin="-15,0" HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand" WidthRequest="{Binding Source={RelativeSource Mode=Self}, Path=Width}" HeightRe

[2020-12-10 10:11] Axemasta commented on #13077
Hi @PureWeen yes I saw hartez's comment and am aware its difficult. I really wanted to open up the conversation about lifecycle. Hartez mentioned that the team would help suggest a workaround if these events were causing issues.

In my example my app immediately spins up a SignalR connection which I am managing in the App lifecycle methods:

[code]

Starting the Signalling service immediately is a

[2020-12-10 10:13] ChristopherStephan commented on #11430
According to the release notes this issue is fixed in 4.8.0.1269 (https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/4.8/4.8.0-pre3#issues-fixed) - which is a wrong information. By updating Xamarin.Forms to 4.8.0.1687 we could confirm that this bug is fixed.

[2020-12-10 10:14] ehsangfl opened #13096 "Shapes.Path Not displayed on SwipeItemView"
In SwipeItemView, a Shapes.Path object rendered for the first swipe, and the second time, it will be hide

- Version with issue: 4.8.0.1687
- Platform Target Frameworks:
  - Android: 23
- Android Support Library : V7
- Visual studio : 16.8.3

First Swipe
![1](https://user-images.githubusercontent.com/10611397/101758501-a4b64180-3aed-11eb-8a64-ab33df56626c.jpg)

Second Swipe
![2](https://user-image

[2020-12-10 10:33] #12582 closed

[2020-12-10 10:34] BurkusCat opened #13097 "[Bug] [UWP] [Performance] Editor with autosize property is very slow"
### Description
Performance when using the `Editor` control on UWP with the autosize property set is incredibly slow. Typing individual letters or pasting text because noticeably unperformant.

### Steps to Reproduce

1. Create an editor and set autosize on it
2. Fill the editor with lots of text
3. Try typing or pasting content in it. In my opinion, it becomes unusable with a small amount of text

[2020-12-10 10:58] johnshardman commented on #13075
@PureWeen - Inheriting from FastRenderers.ButtonRenderer does not exhibit the problem. Interesting - is it possible that the ViewGroup is in the accessibility tree when inheriting from AppCompat.ButtonRenderer ?

[2020-12-10 11:21] #12989 closed

[2020-12-10 11:46] davidbritch opened #13098 "[Enhancement] Add FlowDirection support to prompts"
#11679 adds `FlowDirection` support to alerts and action sheets. However, it neglected to add `FlowDirection` support to prompts.

Add:

- `FlowDirection` support to `DisplayPromptAsync`.

[2020-12-10 12:08] tnmukherjee commented on #10224
Its now VS16.8.3, but still not fixed...

[2020-12-10 12:15] AlleSchonWeg opened #13099 "[Bug] CollectionView.ScrollTo crashes (Android)"
### Description

I updated my app to test with XF 5 Pre5. But now CollectionView.ScrollTo crashes. It crashes from Pre2 to Pre5. Pre1 works.
Message:
[code]

### Steps to Reproduce

1. Use: CollectionView.ScrollTo(item, null, ScrollToPosition.MakeVisible, true);

### Expected Behavior
Not crash

### Actual Behavior
Crash with animate=true. Setting animate=false works.

### Basic Information

- Ver

[2020-12-10 12:40] AlleSchonWeg opened #13100 "[Bug] LinearGradientBrush GradientStop offset (Android)"
### Description
Offset is ignored if using LinearGradientBrush

### Steps to Reproduce

Using this sample XAML:
[code]
It produces this result (ignore the red bottom border):
![Unbenannt](https://user-images.githubusercontent.com/6727366/101772951-6409f880-3aec-11eb-88a2-1112d53f467a.PNG)

Using the same LinearGradientBrush with same stops in a wpf project it produces this:
![Unbenannt](https://us

[2020-12-10 12:53] jsuarezruiz commented on #13092
Ohh, I see. Thanks for your feedback!. I sent a PR to have the same behavior between platforms.

[2020-12-10 14:06] vsfeedback opened #13102 "Xamarin forms Android debugging always breaks on exceptions even when exception is disabled and handled"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Xamarin-forms-Android-debugging-always-b/1276717)._

---
[severity:It's more difficult to complete my work]
In 16.9.0 Preview 1, when debugging a Xamarin Forms app on an Android device, the "Exception Settings" check boxes have no effect and the debugger always breaks.

As shown in the

[2020-12-10 14:09] surens19 commented on #9878
pin does not contain Icon

[2020-12-10 14:09] Aculeo commented on #7843
I was able to override the margin/padding of `ListViewItemHeader` (basically, group headers of a CollectionView) with an implicit style in `App.xaml` of the UWP project.

[code]

I agree with previous posters though, it should overridable without such a workaround.

[2020-12-10 14:14] MattRames commented on #12990
@bmacombe This https://github.com/xamarin/Xamarin.Forms/issues/12884#issuecomment-730053137 fixed the issue for me.

[code]

[2020-12-10 14:29] GnanaPriyaNamasivayam commented on #13086
Reported issue seems a break. Please check the below reference FYI.
https://github.com/xamarin/Xamarin.Forms/pull/422/commits
https://forums.xamarin.com/discussion/78685/listview-overlaps-navigationbar-when-the-keyboard-appears/

[2020-12-10 14:36] rubiomiguel06 commented on #12867
@PureWeen thanks for trying to get the error. Unfortunately I'm just starting my vacation days, so until I come back I won't be able to test with the latest 5.0 prerelease. But please, don't close this issue for inactivity. This will be the first thing I'll focus on as soon as I am back.
Anyway, did you try it using UXCam? I'll also try to make a sample where the use of UXCam is not needed, since

[2020-12-10 14:50] dg-m opened #13103 "[Bug] [iOS] Button stays in Pressed state if the touch-cancel event occurs"
### Description
If a system event occurs while a button is pressed the button released event isn't fired anymore.
The background-color is still on pressed button state.

### Steps to Reproduce

1. Hold down a button
2. With the other hand pull down the iOS-Control-Center and release it

### Expected Behavior
The button is in released state.

### Actual Behavior
The button is still in pressed state

[2020-12-10 15:47] donaldashworth opened #13104 "Xamarin Android WebView does not raise Navigating nor Navigated for deep links on Physical devices (works on Android Emulator, iOS physical and emulated)"
### Description
Xamarin Android WebView does not raise Navigating nor Navigated for deep links on Physical devices (works on Android Emulator, iOS physical and emulated).   Our WebView loads static HTML of which contains links to external web assets (like PDF TOCs).

Initially this looked like an Android permissions issue, but we could find nothing.  Additionally, this works on the Android emulato

[2020-12-10 16:02] SOliasS commented on #8021
I found out that this error occures everytime you leave the application and reenter it...
for example you jump to antoher application and back into the app only the base gets OnAppearing no sub pack gets invoked...

[2020-12-10 18:08] GreatBarrier86 commented on #6865
@samhouts, like @haavamoa, I too would appreciate a VS Feedback link. I looked through this [link](https://developercommunity.visualstudio.com/search.html?f=&type=question+OR+problem+OR+idea&type=question+OR+problem+OR+idea&c=&redirect=search%2Fsearch&sort=newest&q=intellisense+%5Bxamarin%5D) but didn't find anything referencing this issue. If there is ANYTHING to follow, that's better than nothin

[2020-12-10 19:08] luismts commented on #3604
This issue should be open. This is not working.

[code]

But if you are using hot reload is working after the first reload.

cc @StephaneDelcroix

[2020-12-10 19:40] rmarinho commented on #9906
This was fixed on main

[2020-12-10 19:40] #9906 closed

[2020-12-10 19:43] davidortinau opened #13105 "[Bug] CollectionView crashes on GridItemsLayout Horizontal"
### Description

Vertical orientation works fine, but horizontal crashes both during hot reload, and upon rerun.

[code]

[code]

### Basic Information

- Version with issue: 5.0.0.6328 from #12161
- Platform Target Frameworks:
  - iOS:  14.2

### Environment

https://gist.github.com/davidortinau/75dfcee9bc8281af454ad890fda34de0

### Screenshots

Vertical:

![Simulator Screen Shot - iPad Pro (9 7-

[2020-12-10 21:43] SuperCorks commented on #6340
I completely agree with this. Is anyone working on it right now? I could take it on.

[2020-12-10 21:45] etvorun opened #13106 "[Bug] Accessing ListView.TemplatedItems while processing VisualDiagnostics.VisualTreeChanged event can create additional items"
### Description
Issue found while creating workaround for ListView mutations for Hot Reload

### Steps to Reproduce

1. Use VS which supports XF "change only" Hot Reload. Make sure it is enabled. It will trigger ListView workarounds.
2. Open attached project
[XamarinApp9.zip](https://github.com/xamarin/Xamarin.Forms/files/5675709/XamarinApp9.zip)
2. Build and run.

### Expected Behavior
No debug a

[2020-12-10 22:25] bmacombe commented on #12990
@MattRames Thanks, I missed that one.  I've added it and things seem better. I'll report back if I get the problem again.

[2020-12-10 22:41] CaseAlexander commented on #12990
@PureWeen Tested on 16.8.3 and issue persists.  Adding '<EnableTypeInfoReflection>false</EnableTypeInfoReflection>' to csproj does fix it however, so that's good!

[2020-12-10 22:42] Cfun1 commented on #12392
Maybe this is the same issue why HorizontalOptions="CenterAndExpand" is not working also.

[2020-12-10 22:47] Cfun1 commented on #6959
@LeoJHarris, @fabcall is right it will not be centered I think this issue highlight it https://github.com/xamarin/Xamarin.Forms/issues/12392

[2020-12-10 23:26] hartez commented on #8797
@JohnHDev  @johnshardman We _do_ get notifications when we're tagged, even on closed issues. But we can't always get to them all immediately - most days I get dozens, if not more. New issues go into the triage queue, which means that at least that week's bug manager will see them and take a look.

[2020-12-10 23:46] hartez commented on #8394
Not really, since the issue was closed a year ago.

The reproduction project posted by the opener of the issue still runs without crashing on the latest version of Forms. If you are experiencing an `ObjectDisposedException` it's likely coming from a different bug. Please open a new issue, and be sure to include relevant information about the circumstances in which your bug occurs.

[2020-12-11 00:33] hartez commented on #12384
@KarthikRaja26

This is fixed in 4.8.0.1687.

It's not being cut off, it's wrapping the text. That's because the attached repro project uses `Start` for `HorizontalOptions` for two of the controls. The Grid named 'fullMesssageView' should have `HorizontalOptions="Fill"`, not `Start`. And the `MyView1` control named 'textMessageBorder' should also be `HorizontalOptions="Fill"`, not `Start`.

[2020-12-11 02:56] jessiezh0320 opened #13108 "[Enhancement] CollectionView could scroll special offset to exact positions, not just scroll an item at an index into view or Scroll an item into view."
## Summary

Currently,CollectionView defines two ScrollTo methods, that scroll items into view. One of the overloads scrolls the item at the specified index into view, while the other scrolls the specified item into view.

But we need CollectionView could scroll special offset to exact position. And it can show the process of scrolling, rather than jumping to the final position.

## API Changes

#

[2020-12-11 03:01] Cfun1 commented on #12965
@hartez I don't know what has changed but tested your statement (`RowDefinitions="{OnIdiom Tablet='*,*,auto', Phone='*,*,*'}"`) is working with pre4 and pre5 and not giving any runtime error.

[2020-12-11 03:56] PureWeen commented on #13104
@donaldashworth can you attach a sample? I tested with the attached sample against an S9 device and navigated/navigating fires for me

[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/5676984/Archive.zip)

[2020-12-11 04:14] PureWeen commented on #13099
@AlleSchonWeg can you attach a repro? I've attached my attempt and it's not crashing

[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/5677019/Archive.zip)

[2020-12-11 04:16] PureWeen commented on #12984
[AUWPTouchState.zip](https://github.com/xamarin/Xamarin.Forms/files/5677028/AUWPTouchState.zip)

[2020-12-11 04:41] PureWeen commented on #11807
With a repro @avatar2012 @krisurnok I'm not sure if we'll be able to do much here to figure this one out. Can you try moving to CollectionView to see if you have the issue there?

Looking at your stack trace I also see FFImageLoading in there so maybe FFImageLoading is doing something that's causing this? There are a few too many players in your stack trace for us to narrow this one down

If you a

[2020-12-11 04:54] KarthikRaja26 opened #13109 "[Bug] NullReference Exception thrown when load image from ImageSource in Xamarin Forms UWP"
### Description

NullReference Exception thrown when load image from ImageSource in Xamarin Forms UWP.

CallStackDetails :
 	Xamarin.Forms.Platform.UAP.dll!Xamarin.Forms.Platform.UWP.PlatformConfigurationExtensions.OnThisPlatform<Xamarin.Forms.Application>(Xamarin.Forms.Application element)	Unknown
 	Xamarin.Forms.Platform.UAP.dll!Xamarin.Forms.Platform.UWP.FileImageSourceHandler.UpdateImageDirect

[2020-12-11 05:08] KarthikRaja26 commented on #11980
@samhouts  any update on this ?

[2020-12-11 05:16] bhuvan94 commented on #12565
Hi @PureWeen ,

I checked with 5.0-pre-release and its working fine. When can we expect the stable version?

[2020-12-11 05:54] PureWeen commented on #11936
I'm guessing this is related to the shift to WkWebView instead of using UIWebView.

On the latest version of 4.8 if you add an export attribute to use the old WebViewRenderer does the issue get fixed? (this is an invalid workaround I'm just curious)

[assembly:ExportRenderer(typeof(WebView), typeof(WebViewRenderer))]

Here's the compare of 4.3 to 4.4
https://github.com/xamarin/Xamarin.Forms/compar

[2020-12-11 07:29] PaulsonMac opened #13110 "[Bug] Scrollview overlaps over its child views - Android (Xamarin.Forms v5.0.0.1709-pre4)"
### Description
Hi, I have a Scrollview that has a Grid as its child view in my Xamarin.Forms App. In Android, the Scrollview overlaps over the Grid content displayed. This issue arised after upgrading Xamarin.Forms from v3.4.0.1029999 to v5.0.0.1709-pre4.

**Why I want Xamarin.Forms v5.0.0.1709-pre4?**
I upgraded to v5.0.0.1709-pre4 due to a fix that is available for iOS in this version.

**Why I

[2020-12-11 08:32] softlion opened #13112 "[Enhancement] FormattedText should have an implicit converter from IList<Span>"
## Summary
{xaml:AppResources WoundLocator_Phone_Title}

Currently to use the FormattedText property you need to add a FormattedString tag:

[code]

This is a lot of verbosity that can be shrinked easily by adding a default TypeConverter on the FormattedText property of the Label, which would converts an `IList<Span>` into a FormattedString.

The simplification will leads to this more readable and

[2020-12-11 09:06] themronion commented on #12910
Fixed in latest pre release. Can be closed

[2020-12-11 09:06] #12910 closed

[2020-12-11 10:26] omatrot opened #13114 "[Enhancement] [iOS] Allow overriding ViewWillAppear/ViewDidDisappear in WkWebViewRenderer?"
## Summary
Android.Webkit.WebView allows to override OnAttachedToWindow/OnDetachedFromWindow:

[code]

## API Changes

Allow to override ViewWillAppear/ViewDidDisappear from WkWebViewRenderer.

[code]

May be there is a workaround to match the Android implementation.
Any help appreciated.

[2020-12-11 11:28] anhhtbk commented on #4972
Like @acuntex, I am doing a chat app, and I need a limited height editor (multiple lines).

[2020-12-11 11:33] AswinPG opened #13115 "IndicatirView not updating position in the latest xf pre release"
### IndicatorView not updating position in the latest xf pre release

### Steps to Reproduce

1. Create a  carouselview and an indicatorview
2. Link them togethet by passing in the indicatorview name to the carouselviews indicatorview property
3. swipe the carouselview, indicator does not change position

### Expected Behavior
Indicator updates position
### Actual Behavior
indicator does not chang

[2020-12-11 11:54] #12894 closed

[2020-12-11 11:56] #12912 closed

[2020-12-11 11:58] AswinPG commented on #13115
False alarm.. Sorryy

[2020-12-11 11:58] #13115 closed

[2020-12-11 12:02] AswinPG commented on #13115
It happens only if all items in the itemsource are the same

[2020-12-11 13:05] PureWeen commented on #13114
ViewWillAppear(Disappear) are UIViewController overrides

I think this SO post covers the range of method choice you have on iOS
https://stackoverflow.com/questions/5060958/uiview-did-appear

Also, I think your renderer should be

public partial class HybridWebViewRenderer : WkWebViewRenderer

[2020-12-11 13:05] #13114 closed

[2020-12-11 13:08] AlleSchonWeg commented on #13099
@PureWeen
Sorry, but i can't create a repro. I tried it, but it's not crashing. Only if i use our app its crash.
I think it has something to do with the content size changing. We use a horizontal CollectionView in a grid. And if we click a item in the collection view we call scrollto to make the item completely visible. After the click we update a placeholder contentview in a another grid cell wit

[2020-12-11 13:31] PureWeen commented on #13110
@PaulsonMac can you provide a repro or your xaml please?

I've tested the following on 5.0 pre4 and pre5

[code]

and the grid always fills the space for me

![image](https://user-images.githubusercontent.com/5375137/101909226-cd3c4b00-3b82-11eb-98ad-742302b05e40.png)

[2020-12-11 13:33] PaulsonMac commented on #13110
Sorry.. I have a webview inside the Grid. This webview height is available height (ie., "*").

[2020-12-11 13:41] PureWeen commented on #13109
https://github.com/xamarin/Xamarin.Forms/blob/f35ae07a0a8471d255f7a1ebdd51499e10e0a4cb/Xamarin.Forms.Platform.UAP/FileImageSourceHandler.cs#L59

Needs a null check

[2020-12-11 13:48] quentinR0bert commented on #11142
I have the same issue on iOS and Android with Xamarin Forms 4.8

[2020-12-11 13:49] PaulsonMac commented on #13110
Hi @PureWeen, this is my XAML structure :

[code]

[2020-12-11 13:52] PaulsonMac commented on #13110
Important : I also now notice that after sometime, the overlapping goes off and then the full webview content is displayed.

[2020-12-11 14:42] softlion opened #13116 "[Bug] changing Button.CharacterSpacing leads to an incorrect computed width (too small) on iOS"
### Description
Setting Button.CharacterSpacing to 2.5 on a simple "OK" button leads to a computed width too small on iOS
Result:
![image](https://user-images.githubusercontent.com/190756/101915897-853f1780-3bc6-11eb-96bd-165c14e03ee1.png)

### Expected Behavior
The OK letters should stay inside the button when it has a background.

### Actual Behavior
The OK letters are outside the button's backg

[2020-12-11 15:19] PureWeen commented on #12821
@alaskanrogue would it be possible to just take the strings that are generated by the service and add them into. a text file? or directly into the code behind?

Also what platform are you seeing this on. Apologies if you mentioned that somewhere but I'm not seeing where that's indicated

[2020-12-11 15:20] PureWeen commented on #12821
@alaskanrogue are you seeing the issue on 4.8.0.1534?

[2020-12-11 15:21] surendhar2 opened #13117 "FormsSeekBar.setPressed. Exception of type 'Java.Interop.JavaLocationException' was thrown in xamarin.forms with Android[Bug]"
### Description
I am developing app on android using xamarin forms. My app crashed continuously and logged in app center. My app center crash log attached below,

[AppCenterCrash.txt](https://github.com/xamarin/Xamarin.Forms/files/5679969/AppCenterCrash.txt)

### Basic Information

- Version with issue: All

### Workaround
None

[2020-12-11 15:57] Jearom commented on #13087
@hartez Probably, cause of the media element removed from XF on 5.0.0 . You can switch to CommunityToolkit version. It is also exists in test project.  But the main problem is not the media element ofc.

Thanks.

[2020-12-11 16:47] PureWeen commented on #13117
@surendhar2 can you try the latest 4.8 or 5.0 pre5?

It looks like you're on a pretty old version of Xamarin.Forms so it'd be good to know if you're still seeing this on the most recent versions.

If you still are can you attach your attempt to reproduce?

[2020-12-11 17:04] jonathanpeppers opened #13118 "IImageViewHandler + , can cause infinite image loading on Android"
### Description

### Steps to Reproduce

1. Create a new Xamarin.Forms project Flyout template
2. Add an `IImageViewHandler`
3. When the app runs, you can see Xamarin.Forms load images continuously in a loop.

[code]

I found this from a bug report of a developer using glidex.forms:

https://github.com/jonathanpeppers/glidex/issues/87

### Expected Behavior

The images load once.

### Actual Behav

[2020-12-11 17:41] PureWeen commented on #13099
@AlleSchonWeg can you test the other pre's as well so we can try to narrow down between which pre this started happening for you?

[2020-12-11 17:42] PureWeen commented on #13099
@AlleSchonWeg Wait I see in your description you said it started with Pre2

[2020-12-11 17:57] hartez commented on #13099
@AlleSchonWeg Can you tell us more about this custom control?

[2020-12-11 18:03] PureWeen commented on #13110
@PaulsonMac I'm still not seeing any issues here. Can you try to create a small project that reproduces your issue?

![image](https://user-images.githubusercontent.com/5375137/101938260-a8f36500-3ba8-11eb-874b-85ceec1ccc8a.png)

The issue here that @hartez is addressing looks like it might fix your issue
https://github.com/xamarin/Xamarin.Forms/pull/13085

So my next suggestion would be to wait un

[2020-12-11 18:07] PureWeen commented on #13009
@mattiascibien for your particular case this would probably still need to be an enhancement. We don't really have the best APIs currently to facilitate Gesture Interactions and priorities so a custom renderer on the CollectionView to pass touch events to the cells would probably be your only path currently

[2020-12-11 18:14] PureWeen commented on #13009
We might be able to make the detection of the long press a wee bit smarter here though to make this work.

I've moved this over to our 5.0.1 sprint to see if there's a way to make the detection a bit smarter

[2020-12-11 18:38] AlleSchonWeg commented on #13099
Thank you for your support.
@hartez the control is dervied from ContentView. No xaml, just the cs file. One BindingProperty with a complex object. We create an AbsoluteLayout and set it as the content.  If the bindingProperty changes we change the children from the AbsoluteLayout.

[2020-12-11 18:40] fbmiranda7 commented on #11142
I can confirm that is reproducible on our project.

[2020-12-11 19:09] AlleSchonWeg commented on #13099
I commented all out at the usercontrol. Still crashing.
The strange thing is, we set the HeightRequest to 500. If i set it to 200, 100 or 50 it works.

[2020-12-11 20:24] #8967 closed

[2020-12-12 02:13] praeclarum commented on #12080
The problem lies with a race condition in the batch updater. It is failing to stay synchronized with the collection.

https://github.com/xamarin/Xamarin.Forms/blob/552f51af920222e1e028447d9364121fd989c131/Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs#L100-L110

BeginInvokeOnMainThread gives no guarantee that the function will run before the collection is modified again (your t

[2020-12-12 02:53] amy-perelberg-self opened #13134 "Collection View Crashes When StackLayout that contains it is bound by HeightRequest"
### Steps to Reproduce

1. Create StackLayout and put something above collectionView (like a grid)
2. Set HeightRequest property of StackLayout to say half the screen height
3. Note that GridListingView below is a subclass of CollectionView
4. Note the HeightRequest Property of StackLayoutEx (which is simply StackLayout) -- without the HeightRequest the Crash DOES NOT OCCUR!
### Expected Behavior

[2020-12-12 08:46] filipnavara commented on #12080
That's what was done on Android (https://github.com/xamarin/Xamarin.Forms/commit/ab55162596774c18c1ed51f23c6727221505c1fa). It broke our application really badly. We use our own virtualized collection that already did all the dispatching to main thread by itself. The shadow copy caused all the items to be materialized and loaded from DB which caused >30 second hangs.

[2020-12-12 09:20] Cfun1 opened #13121 "[Enhancement] CollectionView Implement IsHeaderStickyProperty for CollectionView.Header"
## Summary
As mentioned in the CollectionView  Spec https://github.com/xamarin/Xamarin.Forms/issues/3172, a bindable property named: `IsHeaderStickyProperty` : Specifies whether the header remains in place as the user scrolls. The default is `True`.

Supposed to be implemented as I understand (and as requested in this feature request) to be used not for Group headers but for single main header `Co

[2020-12-12 10:57] viktorszekeress opened #13122 "[Bug] CarouselView.CurrentItem not working at all"
### Description
I have a `CarouselView` with `ItemsSource` and `CurrentItem` bound to dependency properties defined in the page. Then I have 2 buttons to increment and decrement current item. The problem is that setting `CarouselView.CurrentItem` has no effect on 5.0-pre5. Although it does work properly on version 4.8.

Interesting part is that after swiping the item, current item 'auto-corrects'

[2020-12-12 11:28] Cfun1 opened #13123 "[Bug] TabBarBackgroundColor of ShellContent not instantly updating upon UserAppTheme changed"
### Description
When changing `UserAppTheme`, the styled `TabBarBackgroundColor ` property with `AppThemeBinding` is not changing instantly but only when a navigation action is done.

### Steps to Reproduce
1.     <Application.Resources>
        <Style TargetType="{x:Type ShellContent}">
            <Setter Property="Shell.TabBarBackgroundColor" Value="{AppThemeBinding Dark=red, Light=yellow}"/>

[2020-12-12 11:38] praeclarum commented on #12080
Instead of a shadow list, the UI thread could be synchronized:

[code]

This would block the event handler until the UI thread has fetched and synchronized with the collection.

I didn't propose it before because I generally don't like blocking on the UI thread. But in this case, it is a safe fix for people changing collections off thread and won't have @filipnavara's materialization problems.

[2020-12-12 12:26] AhmedAbuelnour opened #13124 "[Bug] CollectionView RLT Horizontal Scrolling"
### Description

### Actual Behavior

The wrong behavior in RTL, which is the current case

![130962432_2499279793698172_4499678834478896970_n](https://user-images.githubusercontent.com/7360803/101983730-9b5fdd00-3c85-11eb-8c9e-e2878c23bab2.jpg)

### Expected Behavior

![130916247_3731276456965187_8275174457217489690_n](https://user-images.githubusercontent.com/7360803/101983794-deba4b80-3c85-11eb

[2020-12-12 12:29] ramidisha opened #13125 "[Bug] TimePicker and DatePicker crash on xamarin forms version 4.8.0.1687 on iOS 13"
### Description
The DatePicker and TimePicker controls crash when run  on an iOS platform.  On Android it works fine
Exception message:
[code]

### Steps to Reproduce

1. Insert a DatePicker or TimePicker control on a xaml page
2. Run the application on iphone
3. Go to the page you inserted the controls

### Expected Behavior
Show the time or date picker

### Actual Behavior

Crashes the applicati

[2020-12-12 14:30] #13124 closed

[2020-12-12 16:34] codebreakerlegend2019 commented on #7521
Any updates??? Still experiencing this

[2020-12-12 17:13] DanKyungu commented on #7521
You can use LazyView to control the delay,
https://www.sharpnado.com/xamarin-forms-lazyview-boost-your-app-reactivity-and-startup-time/

[2020-12-12 19:30] Tommigun1980 opened #13126 "[Bug] Regression: 5.0.0-pre5 often fails to draw dynamically loaded collection view content"
### Description

After updating to 5.0.0-pre5 some of my collection views don't show up the first time they are loaded.

I often employ the following pattern:

1) Have content (collection view in this case) where its IsVisible property is set to something like `IsVisible="{Binding ChatRooms.Count, Converter={StaticResource IsNotZeroConverter}}"`, where the same ObservableCollection is used as its

[2020-12-12 19:41] Tommigun1980 commented on #13126
After running this test tens of more times I unfortunately have to say that just removing the IsVisible property from the collection view does not solve the problem, and merely made the 'blank content' issue just happen less.

So I suspect there is a race condition in there now, where removing the IsVisible toggling just made it happen less often.

I literally just populate the contents of the col

[2020-12-12 20:40] alaskanrogue commented on #12821
@PureWeen I was not seeing the problem before v4.8.0.1560. Both Android and iOS have the problem. I believe UWP had the problem as well, but I can't verify at this time because of another problem on that platform. An example solution is already attached to this issue.

[2020-12-12 21:08] Tommigun1980 commented on #13126
I downgraded XF back to 5.0.0-pre4 and now the collection views display their contents again.

[2020-12-13 08:23] gabsterdev1 opened #13127 "Grid layout broken when updating to latest xamarin forms"
### Description
We have quite a few forms where we do some overlapping to achieve the look as in the pic below. We noticed that any version of Xamarin forms above 4.8.0.1560 will break the layout , this includes the latest xamarin forms 5.0.0.1791-pre5

### Steps to Reproduce

1. I have attached a sample repo
2. Is set to xamarin forms 4.8.0.1560
3. Build and run and you will see

![image](https:/

[2020-12-13 12:27] JohnHDev commented on #8797
@hartez thank you for letting us know! Can you reopen this?
I have a repro where label still isn't being measured correctly:

New XF project, delete MainPage xml and xml.cs, create a new MainPage.cs with the following content:

`
public class MainPage: ContentPage
    {
        public MainPage()
        {
            BackgroundColor = Color.Gray;

            Content = new StackLayout()

[2020-12-13 15:42] #8814 closed

[2020-12-13 19:04] rajshetye007 commented on #12495
Any update on this. Is this fixed?

[2020-12-13 20:33] ScottSEA opened #13130 "[Enhancement] Remove Unit-Agnostic Code, Transition to angularsen/UnitsNet Library as a Standard"
## Summary
The Xamarin Forms library suffers from primitive obsession.  Let's move away from using `long` and `string` for values that should be _objects_ in their own right.

## API Changes

Refactor the codebase so that the Speed, Distance, Temperature, etc... are represented by the appropriate type, not just `long` or `string`

## Intended Use Case

### Example:
[code]
While the comments are ve

[2020-12-13 20:52] hartez commented on #12080
@filipnavara Did you file an issue for that problem? Maybe we can make the shadow copy less eager. Alternatively, we might be able to add an option to disable the shadow copy.

[2020-12-13 21:00] filipnavara commented on #12080
@hartez We didn't make an issue yet. We only discovered it last week. I'll make sure to file an issue next week.

[2020-12-13 23:34] pictos opened #13131 "[Bug] Shell Deferral is null during a navigation"
### Description

If I have a code inside `Shell.Navigating` event that can throw an NRE on DeferralToken.

### Steps to Reproduce

1. Run the code on the link
2. Press the Login button
3. After press the Navigation button a couple of times and after that try to go back using the top arrow.

### Expected Behavior
I can navigate without errors.

### Actual Behavior
I saw an exception

### Basic Info

[2020-12-14 01:01] LittleCornerDev commented on #13079
**Had to explicitly unfocus Entry before opening Contacts dialog for iOS**.   Updated previously mentioned (Steps To Reproduce) event handler code as:

[code]

[2020-12-14 01:19] mostafa2007iau opened #13133 "[Bug] crash CarouselView in uwp on xf 5.x.x.x"
### Description

### Steps to Reproduce

1. crash CarouselView in uwp on xf 5.x.x.x

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library / AndroidX Version:
- NuGet Packages:
- Affected Devices:

### Environment

<details><summary>Show/Hide Visual S

[2020-12-14 06:50] PaulsonMac commented on #13110
Praise the Lord JESUS

Hi @PureWeen , thank you very much for this information. As mentioned in #12900, downgrading Xamarin.Forms to v4.8.0.1560 resolves my overlap issue.

[2020-12-14 06:52] surendhar2 commented on #13117
We are using XF 4.3.0.947036. if upgraded to XF 4.8.0.1687.it will work?

[2020-12-14 09:31] PaulsonMac commented on #12956
Sure, I'll check and get back to you

[2020-12-14 09:49] jsuarezruiz commented on #13133
@mostafa2007iau Could you attach an example where reproduce the issue? It would be interesting to know what Layout you use, etc.

[2020-12-14 09:58] samtun opened #13136 "[Bug] Crash in ButtonRenderer on iOS"
### Description

The ButtonRenderer crashes on iOS in the latest 4.8 version because the Element is null (probably disposed).
There was a similar related issue once before https://github.com/xamarin/Xamarin.Forms/issues/11664 that got fixed in https://github.com/xamarin/Xamarin.Forms/pull/11668.
But it was reintroduced with https://github.com/xamarin/Xamarin.Forms/commit/3a57e2e0200d5351e85d09d4f6

[2020-12-14 09:58] sthch commented on #13093
I've tried your demo, it works fine, but if I change the Fill Property to a SolidColorBrush(like the code below), the problem occurs.
`<Rectangle
                           HorizontalOptions="Start"
                           HeightRequest="80"
                           WidthRequest="200">
                    <Rectangle.Fill>
                        <SolidColorBrush Color="{AppThemeBinding Black,

[2020-12-14 10:01] jsuarezruiz commented on #13125
Cannot reproduce the issue. Could you attach a sample where reproduce the problem?
<img width="1894" alt="Captura de pantalla 2020-12-14 a las 11 00 38" src="https://user-images.githubusercontent.com/6755973/102067653-b05e7c80-3dfb-11eb-8226-1a41a920cd04.png">

[2020-12-14 10:08] radekdoulik commented on #13078
It is great that you plan to do that for MAUI.

In the beginning I think it would be useful to link even with preserving all the renderers.

I was thinking about the XAML and renderers and wonder whether it would be possible to add custom linker step to parse the XAML and preserve only renderers used in the XAML? (Note that I don't know much about XAML, so the idea might be wrong)

Is that common

[2020-12-14 10:15] rambo1223 commented on #13125
Hello @jsuarezruiz. I forgot to mention that i am using Xcode 11.3.1 with macOS Mojave.
As I have researched these days, I think that the current version of Xcode I have installed along with the version of Xamarin.Forms may cause that issue. What do you think?
As for the reproduction I am sure it will be the same as yours because the code is the same.

[2020-12-14 10:37] dos-ise commented on #8803
Thank you very much! This blocked me for Days!

[2020-12-14 11:52] thisismyself commented on #13028
What is the reason for this issue? Is it known? It still works in my setup, as OP described for Simulator. For real device I cannot tell.

App overview:
- Shell Application
- Styles with AppTheme Bindings centralized in App.xaml and in a BasePage.xaml
- Using explicit Styles, not implicit (OP had example with implicit style)
- Did not test for NavigationPage (OP had example with NavigationPage)
-

[2020-12-14 12:19] AhmedAbuelnour opened #13138 "[Bug] Shell Tabs in RTL Are not reversed based on FlowDirection"
### Description

Example

    <TabBar x:Name="ShellBar">
        <Tab Title="Home" Icon="home.png"  Route="HomePage">
            <ShellContent  ContentTemplate="{DataTemplate home:HomePage}" />
        </Tab>
        <Tab Title="Bills" Icon="bill.png"  Route="OrdersPage">
            <ShellContent  ContentTemplate="{DataTemplate bills:OrderPage}" />
        </Tab>

        <Tab Title="Cart" Icon=

[2020-12-14 12:32] jsuarezruiz commented on #10578
Tested with Xamarin.Forms 5.0-pre NuGet package and in the 5.0 branch and the issue seems to be fixed.

[2020-12-14 12:34] rmarinho commented on #13138
Hello is just tested this on android and seems to be working. Can you please give us more details, what platforms you see this issue, and please upload a small reproduction sample.

with LTR
![image](https://user-images.githubusercontent.com/1235097/102081736-9aa38400-3e08-11eb-8323-a5376c321829.png)

width RTL
![image](https://user-images.githubusercontent.com/1235097/102081704-8f505880-3e08-11eb

[2020-12-14 12:40] PaulsonMac commented on #12956
@hartez , in my code, the picker (whose options got cleared) was actually loaded/initialized with options inside the `OnItemsSourceChanged `method. My pickers are custom pickers.

`public static readonly BindableProperty ItemsSourceProperty = BindableProperty.Create("ItemsSource", typeof(IEnumerable), typeof(BindablePicker), null, BindingMode.TwoWay, null, new BindableProperty.BindingPropertyChang

[2020-12-14 12:44] PaulsonMac commented on #12956
Also, in my code, it is based on the first picker's selection, the next picker (whose options got cleared) will be loaded.

Before upgrading from Xamarin.Forms v3.4.0.1029999, the OnItemsSourceChanged method was getting called properly. So, the options of the 2nd picker were also loaded properly.

[2020-12-14 12:46] AhmedAbuelnour commented on #13138
Here is a github link for the sample https://github.com/AhmedAbuelnour/ShellRLT

[2020-12-14 12:47] AhmedAbuelnour commented on #13138
Switching the FlowDirection doesn't change the two icons position

[2020-12-14 13:03] attilavlacsil commented on #11549
With 4.8.0.1687 I have the same issue, but the actual behavior happens only if I navigate to the page for the first time, any subsequent navigation works as expected.

If I have a similar page to track constructor, query property and OnAppearing call order

[code]

Navigating to the page for the first time outputs

[code]

Any subsequent navigation outputs

[code]

As mentioned, the order must be

[2020-12-14 13:05] PaulsonMac commented on #13110
Downgrading Xamarin.Forms to v4.8.0.1560 resolves my overlap issue **in simulator**. But in real device, this issue is happening regularly

[2020-12-14 13:51] lutes1 opened #13140 "[Enhancement] Capture Pointer on UWP while using PanGestureRecognizer"
## Summary
PanGestureRecognizer does not capture the pointer on UWP though it does on Android, iOS and macOS.

## API Changes
Perform pointer capture on mouse pressed.

## Intended Use Case
Currently to move a view around its parent, on UWP, we must attach a PanGestureRecognizer to its parent, otherwise no events are fired for the continuous gesture after the pointer leaves the bounds of the desir

[2020-12-14 13:57] InquisitorJax commented on #9520
any indication when this is scheduled to be fixed? (or at least a work-around in the meantime)
 I see the 5.0 milestone target was removed?

[2020-12-14 14:06] lobbo232 commented on #9520
It is very confusing when they keep adding and removing moving flags.
"high impact" then it's not.
In sprint x, then y, then "continue in sprint z" suggesting work had been started.
The back to todo, then in 5.0, then removed from 5.0.

I think xamarin devs are getting tired. My company is getting tired and is looking at ditching xamarin all together and go native. There really needs to be some pr

[2020-12-14 14:09] Sinishisimus commented on #6544
Upvoting this.

[2020-12-14 14:46] rmarinho commented on #12757
hey @CartBlanche  it should be on pre5

[2020-12-14 15:13] rmarinho commented on #13035
We don't have this feature, going move this to a discussion.

[2020-12-14 15:13] #13035 closed

[2020-12-14 15:42] mattiascibien commented on #13009
@PureWeen here is the custom renderer we are using (stripped from references to the internal projects):
[DragDropRenderer](https://gist.github.com/mattiascibien/1b9748f02f962aaaf0a09bb348fb65d0)

[2020-12-14 16:25] CartBlanche commented on #12757
@rmarinho I'll give it a try shortly.

[2020-12-14 17:01] AhmedAbuelnour commented on #13138
@rmarinho Any updates?

[2020-12-14 17:10] WanftMoon opened #13141 "[Bug] CollectionView - Binding for SelectedItem not working on iOS"
### Description
When you bind the property CollectionView.SelectedItem and set a value to it on the code behind, it does not select the item on iOS.

### Steps to Reproduce

1. Create a collectionview with selectionmode single and binded selecteditem and itemssource;
[code]
2. run on ios and android, only working on the later

<img width="866" alt="Screen Shot 2020-12-14 at 13 59 52" src="https://

[2020-12-14 17:29] rmarinho commented on #13131
Ok i updated the code so we can run it

https://github.com/rmarinho/Xamarin.Forms.Sandbox/tree/mvpconf

[2020-12-14 17:39] rmarinho commented on #13134
@amy-perelberg-self  i tried to reproduce this but wasn't able to.. can you please upload a small reproduction ?

Thanks

[2020-12-14 18:04] amy-perelberg-self commented on #13134
@rmarinho  I will try to create some standalone code, as this is a part of a very large project.
The crash, however, occurs every time there is a HeightRequest present. As soon as I remove it, the crash doesn't happen anymore.
This must have something to do with the IOS's TableView not having any items at the time you guys do the measuring for the layout.

[2020-12-14 18:27] hartez commented on #13130
@ScottSEA Where in Forms are we doing this? I don't recall anywhere that we have a concept of speed, or length, or any other physical measurements.

[2020-12-14 18:39] fernandomondo commented on #9073
I keep trying to do some workaround, especially when the app is in background,  because the users loses all the data they was typing.

Someone can help me?

I tried to create a static webview, but it did'nt work.

[code]

[2020-12-14 19:40] ScottSEA commented on #13130
I think you're right.  I should've posted this to Xamarin.Essentials.  Mea Culpa.

[2020-12-14 19:40] #13130 closed

[2020-12-14 20:55] mostafa2007iau commented on #13133
Version with issue: Xamarin Forms 5.0.0.1791 pre5
    Last known good version: Xamarin Forms 4.8.0.1687
    Platform Target Frameworks:
        iOS: ok
        Android: ok
        UWP: The carouselView tag on any page when it loads data causes the program to close without any specific message.

    Affected Devices: windows 10 enterprise insider preview version 2004 os build 20215.1000

[2020-12-14 21:17] #12079 closed

[2020-12-14 21:19] viktorszekeress opened #13142 "[Enhancement] Make MenuShellItem class public"
## Summary
I would like to use compiled bindings in my `Shell.MenuItemTemplate` DataTemplate.

## API Changes
Make MenuShellItem class public.

## Intended Use Case
I would like to use compiled bindings in my `Shell.MenuItemTemplate` DataTemplate. To do so, I need to specify `x:DataType` attribute. However, the type used during runtime is `MenuShellItem` which is an internal class. I can't use `Sh

[2020-12-14 21:53] mostafa2007iau commented on #13133
more info add to comment

[2020-12-14 23:39] feduss commented on #12739
Hi! Any news???

[2020-12-15 00:50] pictos commented on #13078
@radekdoulik
The XamarinCommunityToolkit (XCT) is linker safe (on this [PR](https://github.com/xamarin/XamarinCommunityToolkit/pull/210) ) and we have some XAML controls, behaviors, effects, and so on. We faced some linker issues during the process but we can manage _fixes_ so far. I hope that can bring some high light to the team and show any wrong assumptions that we have.

I can remember a coup

[2020-12-15 01:41] sthch commented on #13093
@jsuarezruiz Additionally, if you set the Fill Property to a StaticResource, you must set the Fill Property to a Brush, otherwise the shape can't be rendered correctly, is that a bug?

[2020-12-15 04:03] luismts commented on #10179
+1 here.

In my case, I'm trying to set the BackgroundColor, and doesn't work.

[2020-12-15 06:04] emilon commented on #6207
This issue in xamarin.Forms 4.8.0.1364 as well. When I remove Visual="Material" it works. But I lose the slide UI which expected in Visual="Material".

[2020-12-15 06:06] emilon commented on #6207
Is their any possibility to get rid of this issue while using Visual ="Material"?

[2020-12-15 13:07] holecekp commented on #10977
@hartez I have tried my application with XF 5.0 pre-5 and the problem is still there. There is a blank page instead of the CollectionView. So maybe, the issue was fixed for simpler cases such as the original repro project but not for all of them.

It seems that another pull request related to this issue (https://github.com/xamarin/Xamarin.Forms/pull/13081] is on the way so I will wait for the next

[2020-12-15 13:08] JohnGalt1717 commented on #6421
Right now this is really bad because I have to do this on every single fonticonsource:

<FontImageSource FontFamily="FontAwesomeRegular" Glyph="{StaticResource Key=ContactsIcon}" Color="{AppThemeBinding Dark={StaticResource DarkHighlightColor},Light={StaticResource LightHighlightColor}}"/>

That's highly not fun.

[2020-12-15 13:12] balivo commented on #12827
I made the @rachelkang, restart my PC and works!

[2020-12-15 13:24] JohnGalt1717 opened #13151 "[Bug] Shell Double titlebar UWP"
### Description

When using the experimental UWP Shell there is a double titlebar at the top that doesn't seem to be able to be removed.

### Steps to Reproduce

1. Add shell
2. Add special switch to make it work
3. Run app

### Expected Behavior
Should merge the titlebars like a standard UWP app would do creating a single titlebar
### Actual Behavior
Double titlebars.
### Basic Information

- Ver

[2020-12-15 14:24] SuperCorks commented on #6340
What I would do is just expose the `CustomWKNavigationDelegate` as a non-sealed public class so that other devs can decide to extend it or replace it altogether. Probably rename it to something like `FormsWKNavigationDelegate` and allow devs to override its methods and call `base(..)` or not.

[2020-12-15 14:48] msibalik commented on #7314
As of iOS 14.2, this works fine in portrait but falls down in landscape. A rectangle, in the specified background color and the size of the status bar in portrait mode, remains when iOS hides the status bar as you rotate from portrait to landscape. I tried various ways to fix it but to no avail. :-(

[2020-12-15 15:07] #13136 closed

[2020-12-15 15:37] stefanbogaard86 commented on #9033
The workaround I used was to add the Xamarin.Forms.Visual.Material package to my project and set the Visual property to "Material" on my datepickers.

[2020-12-15 15:50] Jouna77 commented on #10977
@hartez I remeber I managed to solve this issue by calling Layout and ForceLayout on main thread take a  look at https://github.com/rotorgames/Rg.Plugins.Popup/pull/579

[2020-12-15 16:27] Redth commented on #3293
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:27] #3293 closed

[2020-12-15 16:28] Redth commented on #3287
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:28] #3287 closed

[2020-12-15 16:30] Redth commented on #3282
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:30] #3282 closed

[2020-12-15 16:30] Redth commented on #2751
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:30] #2751 closed

[2020-12-15 16:30] #1332 closed

[2020-12-15 16:31] Redth commented on #11994
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:31] #11994 closed

[2020-12-15 16:32] Redth commented on #3277
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:32] #3277 closed

[2020-12-15 16:32] Redth commented on #3233
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:32] #3233 closed

[2020-12-15 16:32] Redth commented on #3229
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:32] #3229 closed

[2020-12-15 16:33] #3227 closed

[2020-12-15 16:33] Redth commented on #3217
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:33] #3217 closed

[2020-12-15 16:34] Redth commented on #1996
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:34] #1996 closed

[2020-12-15 16:34] Redth commented on #12499
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:34] #12499 closed

[2020-12-15 16:35] Redth commented on #12498
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:35] #12498 closed

[2020-12-15 16:35] Redth commented on #12523
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:35] #12523 closed

[2020-12-15 16:35] Redth commented on #12524
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:35] #12524 closed

[2020-12-15 16:35] Redth commented on #12687
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:35] Redth commented on #12717
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:35] #12717 closed

[2020-12-15 16:35] Redth commented on #12402
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:35] #12402 closed

[2020-12-15 16:36] Redth commented on #12738
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:36] #12738 closed

[2020-12-15 16:36] Redth commented on #12778
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:36] #12778 closed

[2020-12-15 16:36] Redth commented on #11550
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:36] #11550 closed

[2020-12-15 16:36] Redth commented on #12820
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-12-15 16:36] #12820 closed

[2020-12-15 16:58] Tommigun1980 commented on #12402
Hi @Redth I don't know if this is possible as I don't know what I am looking for. Any time I have gone down that route it has taken me at least a day of random mucking around with things, but this time it's even more subtle. I offered to upload the project where it happens, but I think it's unreasonable to expect me to know Xamarin.Forms's internals so well that I'd know what could be causing it a

[2020-12-15 19:19] 0mpurdy opened #13153 "[Bug] await PopModalAsync prevents immediate push of new modal"
### Description

Behaviour of PushModalAsync and PopModalAsync is unexpectedly different depending whether they are awaited or not.

### Steps to Reproduce

1. Click button with behaviour:

[code]

2. Click button with behaviour:

[code]

### Expected Behavior

Should end on Modal B

### Actual Behavior

Closes Modal A and does not open Modal B

### Basic Information

- Version with issue: 4.8.0.1

[2020-12-15 19:52] #13092 closed

[2020-12-15 20:53] BretJohnson opened #13154 "[Bug] Updating RowDefinitions via C# or Hot Reload doesn't work"
### Description

When RowDefinitions is set to a populated RowDefinitionCollection, that change doesn't cause the Grid to be updated.
Updating an existing RowDefinitions value triggers an update, but setting a completely new value doesn't.

### Steps to Reproduce

1. Create XAML like this:

[code]

with code behind like this:

[code]

2. Run the app and hit the Update RowDefinitions button

### Ex

[2020-12-15 21:41] etvorun opened #13155 "[Bug] VisualDiagnostics.VisualTreeChanged is not fired when Application.MainPage changes"
### Description

### Steps to Reproduce

1.  Open attached project in VS
[HotReloadTest.zip](https://github.com/xamarin/Xamarin.Forms/files/5698793/HotReloadTest.zip)

2. Enable change only hot reload
3. Build and run.
4. Click on To Other Page button.

### Expected Behavior
VisualDiagnostics.VisualTreeChanged is fires "add" and "remove" mutations (and there is AwesomeTabbedPage in Live Visual Tre

[2020-12-15 22:14] etvorun opened #13156 "[Bug] Visual sub-trees can be created (and mutation events fired) on background thread before connecting to app on UI thread"
### Description
Creating visual subtrees on background threads is likely to cause thread safety for hot reload. While hot reload will process mutation events on UI thread it will access child elements potentially causing exceptions like concurrently accessing and modifying List<T>.

### Steps to Reproduce

1. Open attached project
[HotReloadTest.zip](https://github.com/xamarin/Xamarin.Forms/files/

[2020-12-15 23:19] #12372 closed

[2020-12-15 23:24] #13068 closed

[2020-12-15 23:27] #8833 closed

[2020-12-15 23:27] #10086 closed

[2020-12-16 00:01] cabal95 commented on #10825
Same issue. The pure-android fix for this appears to be to perform the update on the next UI pass: https://stackoverflow.com/questions/42944005/recyclerview-cannot-call-this-method-in-a-scroll-callback

So it seems like CollectionView should do this itself before calling the command/event.

If you are loading data from a network API call then that probably fixes it by itself. The reason is that if

[2020-12-16 02:05] egeneblaza commented on #6035
Hi may ask is there a video player that is vast comaptible for xamarin forms?

[2020-12-16 03:50] MaximMikhisor commented on #13102
Have same issue in Version 16.9.0 Preview 2.0

[2020-12-16 06:36] softlion opened #13159 "[Bug] +Fix. Path.Data"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library / AndroidX Version:
- NuGet Packages:
- Affected Devices:

### Environment

<details><summary>Show/Hide Visual Studio info</summary>

[code]

</de

[2020-12-16 07:27] emilon opened #13160 "[Bug] Android logs"
Parameter name: instance
  at Java.Interop.JniEnvironment+InstanceMethods.CallVoidMethod (Java.Interop.JniObjectReference instance, Java.Interop.JniMethodInfo method) [0x00009] in <89755ea61d9c4ae0a40ce90b872c9e2d>:0
  at Android.Runtime.JNIEnv.CallVoidMethod (System.IntPtr jobject, System.IntPtr jmethod) [0x0000e] in <a54fd02a94254b8f91efc9ea3cec736c>:0
  at Com.Portsip.PortSipSdk.DeleteCallManag

[2020-12-16 08:40] Phenek commented on #10773
Hello @jsuarezruiz ,

I could really help to create this control using CollectionView,
or maybe you want something deeper without CollectionView?

If CollectionView is ok for you, I faced some scrollConflict on Android  (issue #9315)
when using embedded scroll ↔ ↕ ( ListView, ScrollView, CollectionView )

if you don't mind, take a look
regards,

[2020-12-16 08:45] jsuarezruiz commented on #13159
Thanks for the detailed feedback. The bug will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/13161

[2020-12-16 09:00] LiamMartens commented on #6046
Any decent workarounds for this? The android implementation seems nonsensical at this time

[2020-12-16 09:43] bruzkovsky commented on #12404
I had this problem too, and the assembly thing solved it for me. Summing it up for anyone getting here, because this thread is a bit confusing:

## Solution 1: The ExportFont attribute is in your main XF assembly

If you just slapped the attribute on let's say the MyApp.Core/App.xaml.cs like this:

[code]

It should be enough to add the MyApp assembly to your `Xamarin.Forms.Forms.Init()` call in y

[2020-12-16 11:05] giuseppenovielli commented on #3769
Please fix It!!

[2020-12-16 11:27] AhmedAbuelnour commented on #13138
Is there any news about this issue?

[2020-12-16 11:30] rmarinho commented on #13160
Hi , thanks we will need more info and a sample reproduction so we can understand more about this bug.

Thanks

[2020-12-16 12:00] AleOladayoTosin opened #13162 "DatePicker don't trigger event when current date is selected"
### Description
     Xamarin forms DatePicker don't trigger event when current date is selected.

![image](https://user-images.githubusercontent.com/52206933/102346121-a759e080-3f9e-11eb-953d-82041c1394e8.png)

### Expected Behavior
     There should be an event that triggers when current date is selected

### Actual Behavior
     The only event that is available is DateChanged event

### Basic In

[2020-12-16 12:29] jsuarezruiz commented on #11980
@KarthikRaja26 The issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/13163/files

[2020-12-16 12:58] duzenko commented on #2751
How do I reopen this issue exactly? Is there a button somewhere or ???

[2020-12-16 13:06] maexsp opened #13164 "[Bug] Shapes broken in Xamarin if used within NavigationPage once and navigated back"
### Description
Shapes are only correct rendered if shown the very first time. When navigating away from a page with shapes and re-open the page again the shapes are totally miss-rendered. See example in my repo.

### Steps to Reproduce

1. Open NavigationPage with Shapes
2. Navigate Back
3. Navigate again into Page with Shapes

### Expected Behavior
Shapes rendered correctly when opening navigati

[2020-12-16 13:53] Elashi opened #13165 "[Bug]"
### Description
My application is RTL.  I have a horizontal RTL CollectionView inside a vertical ListView (because CollectionView inside a CollectionView is buggy in iOS).
It works perfectly in Android with XF 4.8 (I did not test Android in XF 5)
However in iOS, XF 5 pre3 , it crashes.  And in XF 5 pre4 and XF 5 pre5, the crash goes away but I get the following strange behavior.
when the page load

[2020-12-16 13:58] Elashi commented on #8759
In iOS, to make your application Right To Left , you have to make few changes as [documented here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/localization/right-to-left).

There are a lot of bugs but the basic Right To Left functionality works.

[2020-12-16 15:08] bmacombe commented on #12484
Glad to see this is a blocker, it causes issues with SyncFusions SFTextInputLayout tested last on pre 5

[2020-12-16 16:00] jsuarezruiz commented on #13164
The issue will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/13167

[2020-12-16 16:22] JohnBurke4 opened #13168 "[Bug] Cannot change tabbedpage indicator color if Android Compile version is 10.0"
### Description
A TabbedPage indicator's color cannot be changed from white on Android if the Android compile version is 10.0.
The indicator color will not reflect the value of app:tabIndicatorColor defined in Tabbar.xml.
### Steps to Reproduce

1. Create a TabbedPage and populate it.
2. Add the tag app:tabIndicatorColor and a desired value in Tabbar.xml.
3. Change the android compile version to 1

[2020-12-16 16:33] PureWeen opened #13169 "[Bug] Resolve Material bump issues with animations on Material Entry"
https://github.com/xamarin/Xamarin.Forms/pull/9701#pullrequestreview-553598884

[2020-12-16 17:30] JohnBurke4 commented on #13168
Extending that, android:elevation doesnt work either when compiling with android 10.

[2020-12-16 18:12] DennisWelu commented on #12619
I appreciate the continued discussion on this API. My previous comments on this kind of thread still apply: https://github.com/xamarin/Xamarin.Forms/issues/11470#issuecomment-665150160. The invoking of a refresh feels much like the invoking of a Command from a Button. The state of "refreshing" is much like wanting to know if a Command is executing. ("IsExecuting" is a frequently added property in

[2020-12-16 18:55] giuseppenovielli commented on #8282
Same problem, please fix it. I can't use CollectionView with header and still using ListView!!!! Please prioritize!!

Thanks!!

[2020-12-16 18:59] njsokalski opened #13170 "[Enhancement] Add Information/Help Popup/Flyout Using Pressed/Released"
## Summary
I would like to have a View that can contain all content types and is attached to a View, and is displayed or hidden in a relative position (ToLeft, Above, ToRight, Below, etc.) when that View is pressed or released. This would be similar to the FlyoutBase that is available in UWP.

## API Changes

The XAML would include an attached property that can be included in a View to specify the

[2020-12-16 19:02] rotorgames commented on #13045
I have the same issue. ListView RecycleElementAndDataTemplate works fine but CollectionView doesn't recycle elements!

[2020-12-16 19:46] DavidAsish commented on #10177
I still see this issue. We are getting this

[MediaHTTPConnection] readAt 1018160 / 32768 => java.net.ProtocolException - In Application Output.

Audio files of type Mp3 stored in remote location.

Target Framework is Android 9. Its recreating on Device.
Device is on Android 10 Version. Samsung Galaxy Note 10.

[2020-12-16 20:59] Gitta9000 commented on #3252
I used {call}.Result instead of await {call} and that worked for me.

[2020-12-16 22:38] #12858 closed

[2020-12-16 22:56] BretJohnson opened #13171 "[Bug] Shell Flyout Header/Footer/more aren't included in visual tree - missing mutations"
### Description

With shell visual tree mutations aren't sent for header/footer and seem to be incorrect (unparented) for FlyoutItem, causing Hot Reload to not work and the Live Visual Tree to be incomplete.

### Steps to Reproduce

1. Do File / New Project / Mobile App / Flyout
2. In `AppShell.xaml` add the following

[code]
3. Debug the app, say on Android (though likely all platforms have the i

[2020-12-16 23:48] #10578 closed

[2020-12-17 00:31] #12961 closed

[2020-12-17 00:31] #12725 closed

[2020-12-17 00:31] #12900 closed

[2020-12-17 00:31] #13127 closed

[2020-12-17 00:31] #11853 closed

[2020-12-17 00:31] #12080 closed

[2020-12-17 00:31] #13034 closed

[2020-12-17 02:46] sthch opened #13173 "[Bug] Line's Stroke and Rectangle's Fill doesn't rendered as expected with SolidColorBrush while changing the system's appearance."
### Description
I have already set both Line's Stroke and Rectangle's Fill to a **SolidColorBrush** with **AppThemeBinding**, but when I changing the system's appearance in settings, their appearance doesn't change as expected. This problem occurs on both iOS and Android platforms.

### Steps to Reproduce
1. Create a Line or Rectangle.
2. Set the Line's Stroke or Rectangle's Fill with a **SolidCol

[2020-12-17 02:47] sthch commented on #13173
Additionally, if you set the Fill Property to a StaticResource, you must set the Fill Property to a Brush, otherwise the shape can't be rendered correctly, is that a bug?

[2020-12-17 03:53] sthch opened #13174 "[Bug] Line's Stroke can't be rendered correctly on iOS while setting to a color with alpha."
### Description
As the title, but it can be correctly rendered on Android with the same code.

### Steps to Reproduce
1. Create a Line.
2. Set the Line's Stroke Property to a color with alpha.
3. Run the application on both Android and iOS.

### Expected Behavior
![微信截图_20201217114803](https://user-images.githubusercontent.com/18411241/102441699-c0759680-405d-11eb-8614-966aba3e1faf.png)

### Actua

[2020-12-17 04:28] babusri opened #13175 "[Bug] Fabulous F# App, Android: thumbColor => crash Sytem.TypeLoadException"
Fabulous F# App, Android, has slider, works fine.

I added one line "thumbColor=Color.White"
Visual Studio, clean all, run and I get
Sytem.TypeLoadException
Failure has occurred while loading a type.

Data	{System.Collections.ListDictionaryInternal}	System.Collections.ListDictionaryInternal
	HResult	-2146233054	int
      	HelpLink	(null)	string
       	InnerException	(null)	System.Exception
	Messa

[2020-12-17 06:18] PaulsonMac commented on #13110
Have downgraded Xamarin.Forms back to v3.4.0.1029999 now to make sure everything is working fine.

Hoping for the release that has the #13085 fix

[2020-12-17 08:21] inimirpaz opened #13177 "[Bug] [Grid] Row's height gets messed up in X.F 4.8 sr5"
### Description

(see attached project)
With absolute no change to the code, since Xamarin.Forms 4.8.0.1687 (4.8 sr5) the height of the rows in a grid is different from previous versions (shorter) and gets completely messed up if you play with the visibility of the last row items of a grid. Both on iOS and Android.

### Steps to Reproduce

1. Have a grid with more than 1 row item
2. Make the last

[2020-12-17 08:31] GalaxiaGuy commented on #13170
There was a PR for a popup control:
https://github.com/xamarin/Xamarin.Forms/pull/9616

It has since been moved to Xamarin Community Toolkit:
Spec - https://github.com/xamarin/XamarinCommunityToolkit/issues/292
PR - https://github.com/xamarin/XamarinCommunityToolkit/pull/653

[2020-12-17 08:40] PrimoDev23 opened #13178 "[Bug] DatePicker doesn't use dark theme"
### Description
Hello guys,
the bug appears inside of the DatePicker control. If you are using dark theme under android the DatePicker dialog will look like this on Visual Default
![image](https://user-images.githubusercontent.com/46970398/102463453-666bd580-404b-11eb-9351-7f922b120fbf.png)

And it will look like this when using dark mode with Visual Material set
![image](https://user-images.githu

[2020-12-17 08:49] jsuarezruiz commented on #12734
Workaround:
`return UIApplication.SharedApplication.StatusBarOrientation.ToString();`

[2020-12-17 09:10] omatrot opened #13179 "[Bug] Native crash using HotRestart"
### Description

I'm trying to use Xamarin HotRestart with Visual Studio 2019 16.9.0 Preview 2.

I've already removed the Splash Screen from info.plist, but this does not solve the problem.

### Steps to Reproduce

I'm afraid I can't give steps on how to reproduce this issue as the iOS project has been recently upgraded to Xamarin Forms 4.8.0.1687.

A new project created from scratch works well.

[2020-12-17 09:11] AdilSaiyad commented on #6174
I have also same issue,
any one find solution for this?

[2020-12-17 09:37] ragulsv opened #13180 "[Bug] Custom renderer is not called while set control template in xamarin forms 5.0 preview version."
**Description:**

Custom renderer is not called while set control template to the templated view. Please check the below sample to reproduce the issue.

**Steps to reproduce**

- Create a custom control with inheriting templated view and set control template in the constructor.
- Now create a custom renderer and override on element changed event.
- In this case custom renderer not gets called. Iss

[2020-12-17 09:43] omatrot commented on #13179
I'm using this [package](https://github.com/mono/SkiaSharp/issues/1562), may be this is related?

[2020-12-17 10:36] BeranekCZ commented on #10435
LineBreakMode (3 dots) for Placeholder would be nice too :-)

[2020-12-17 11:00] themronion commented on #10435
@BeranekCZ Indeed... As a workaround for now the only solution is to place a label on top of the entry with the needed LineBreakMode and to show it when entry is not focused and hide it when entry is focused

[2020-12-17 12:02] gentledepp commented on #10473
I do not understand how such an important fix is pushed back further and further...
in 4.8.x this critical bug is still there.
We gave up on waiting for fixes a long time ago and are maintaining our own Xamarin.Forms fork.
I **strongly** encourage you to do so as
- known bugs tend to not be fixed no matter how critical
- new versions of XF tend to introduce and **re**introduce bugs all the time

T

[2020-12-17 12:30] norton287 commented on #12404
@bruzkovsky

Will this work with FontAwesome OTF font files?  That's what I am mainly using for my font images now.

Thanks for the feedback

John

[2020-12-17 13:03] bruzkovsky commented on #12404
@norton287 sorry that I can't tell you, I'm not using an OTF file. I don't see why it should not work, though, just try it out?

[2020-12-17 14:31] SubburajPandian commented on #13062
Any update on this?

[2020-12-17 16:37] darrabam opened #13184 "[Bug] SwipeView Items Lose their Positions when Scrolled & Swiped (iOS)"
### Description

When swipe item is open and at the same time pressed/scrolled, it sometimes loses its original position. Best way to describe it is by the video below.

While it is reproducible on the simulator, it is occurs more on real devices.

### Steps to Reproduce
On a real device, simply scroll up/down while titling your finger to swipe at the same time.  On the simulator, it becomes easie

[2020-12-17 18:08] rustem08 opened #13185 "[Bug] [UWP] App Center logs"
### Description
AppCenter reports the following a crash of my application on UWP:

ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)
**System.Exception: An async operation was not properly started. Only a single ContentDialog can be open at any time.**

**Stack traces**
System.Runtime.InteropServices
McgMarshal.ThrowOnExternalCallFailed (Int32, RuntimeTypeHandle)
__Interop
ComCall

[2020-12-17 18:35] njsokalski commented on #13170
I looked at the links you gave, and I installed the NuGet packages for Xamarin.CommunityToolkit & Xamarin.CommunityToolkit.Markup, but I am having trouble getting them to work. Neither of the following xml namespaces:
xmlns:xct="clr-namespace:Xamarin.CommunityToolkit.UI.Views"
xmlns:xct="clr-namespace:Xamarin.CommunityToolkit.Markup;assembly=Xamarin.CommunityToolkit.Markup"
seem to be working. Wha

[2020-12-17 18:55] ish-1313 commented on #9753
seems that just hit the same or related problem. at least workaround helped
xamarin.forms 4.8.0.1687
android

page setup
2 pickers and 2 radiobuttons binded to viewmodel
method, which called from pickers binded properties and one of radiobutton binded property
where data from local list filtered according to above controls values and then assigned to property
which is binded to CollectionView Item

[2020-12-17 19:43] #12313 closed

[2020-12-17 20:45] cabal95 commented on #9777
@samhouts @StephaneDelcroix This seems to be fixed. I noticed this commit https://github.com/xamarin/Xamarin.Forms/commit/a3e408a388f5cc3460488180859aaa1968d8d52e and re-tested the reproduction application in the original post and it now works as correctly.

So not sure if that commit specifically fixed it, but it is now working correctly on 4.8.0.1687 at least. So this can be closed unless there

[2020-12-17 22:00] etvorun opened #13187 "[Bug] ResourceDictionary.Source does not include assembly name"
### Steps to Reproduce

1.  Open attached solution in VS 2019
[XamarinApp9.zip](https://github.com/xamarin/Xamarin.Forms/files/5712375/XamarinApp9.zip).
2. Set Debug x86.
3. Build and Run.
4. Click on Click Me button

### Actual Behavior
Appears text "ResourceDictionary.Source is 'CustomRD.xaml'"

### Expected Behavior
ResourceDictionary.Source is 'fx://XamarinApp9/CustomRD.xaml' or similar. With

[2020-12-17 22:06] BretJohnson commented on #13187
This is needed to fix: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1259031

[2020-12-18 00:55] kerbooo commented on #6141
Hello is there any update?

[2020-12-18 06:46] omatrot commented on #13179
I'm also using Custom renderers, WkWebView in particular for iOS.

[2020-12-18 08:23] inimirpaz commented on #13177
Latest X.F release (4.8.0.1821 sr6) seems to have fixed this issue (?)...

[2020-12-18 09:11] AswinPG commented on #6486
If we are using a shell as the mainpage then calling App.Current.MainPage from one of the child pages OnAppearing method throws a null reference exception. In the on appearing method, App.Current.MainPage is Null. I nned to show a displayalert on App starting

[2020-12-18 09:43] developer9969 opened #13191 "[Bug] Platform warning recommends TargetPlatformVersion >= 10.0.17763.0 (current project is -1)"
Hi noticed that we seem to get the warning below not sure how to fix it.

Severity	Code	Description	Project	File	Line	Suppression State

**Warning		Xamarin.Forms recommends TargetPlatformVersion >= 10.0.17763.0 (current project is -1)**

this happens with the very latest xamarin forms

Reproduce

1. Create a blank project
2. Update to the latest xamarin forms (stable)
3. you will see the warning

[2020-12-18 09:54] jsuarezruiz commented on #13034
This issue seems to be fixed by https://github.com/xamarin/Xamarin.Forms/pull/12475

[2020-12-18 09:55] jsuarezruiz commented on #13177
This issue seems to be fixed by #12475
cc @hartez

[2020-12-18 09:58] Tommigun1980 commented on #13126
Hi.
Will this CollectionView contents not being drawn issue be fixed in the next preview release? It is very common to load its data from a server and this seems to no longer be supported by the CollectionView.

[2020-12-18 10:11] Tommigun1980 commented on #11853
I wonder if https://github.com/xamarin/Xamarin.Forms/issues/13126 (ie filling an ObservableCollectionView while is related to this, as it shares several characteristics (toggling IsVisible alters behavior, the ObservableCollection sends only one update event and so on).

Thank you @softlion for your work. It’s discouraging to see how many bugs you found in the “fixes”. Xamarin needs to step up the

[2020-12-18 10:20] Tommigun1980 commented on #13126
https://github.com/xamarin/Xamarin.Forms/issues/11853 seems to share characteristics with this issue (IsVisible toggling affecting result, AddRange manipulation not working etc.), but I failed to see whether any changes were done for 5.0.0 or if those breaking fixes were merely backported to 4.8.0.

@jsuarezruiz @hartez Will this regression get fixed in the next preview release of 5.0.0?

[2020-12-18 10:24] Tommigun1980 commented on #11853
@softlion The regressions you mentioned in the 5.0.0 branch, is there any chance you could make a new bug report about them as I think they’ll get buried as this has now been closed?

[2020-12-18 10:39] softlion commented on #11853
@Tommigun1980 @hartez completely rewrote a fix, removing all the new code from above, and the semaphore and all other thing.

i have not tested it yet as I moved things in my customer app to workaround these issues.

i hope it’s quality is better! ;)

[2020-12-18 10:53] CometSL9 commented on #13177
The issue persists on XF 4.8.0.1821 under WPF.

![image](https://user-images.githubusercontent.com/46746288/102606504-1f531280-4127-11eb-805d-21141bb9dd30.png)

The word "missing" comes from the label placed in (*) width sized grid column 4. The grid row height is calculated incorrect.

Very annoying!

[2020-12-18 10:57] Tommigun1980 commented on #11853
Oh good to hear, really looking forward to testing those fixes as there's a good chance they will fix https://github.com/xamarin/Xamarin.Forms/issues/13126 also! Thanks for the info, I appreciate it.

[2020-12-18 11:00] #12429 closed

[2020-12-18 11:00] #12785 closed

[2020-12-18 11:05] #10563 closed

[2020-12-18 11:10] #11381 closed

[2020-12-18 11:25] #11789 closed

[2020-12-18 13:37] emilon commented on #13160
Thanks for your reply.. we intitialize the Portsip for voipcalling in

Mainactivity Oncreate.

I am initialising the portsip for VOIP calling in MainActivity.

This exception happens when I kills app after launched. When I kills and reopen for approximately 3 to 4 times this exception happens. Sometimes app crashes.

I occurs

[2020-12-18 15:52] ankit-parekh opened #13193 "Double prompt when voice over reads picker item on iOS"
### Description
When the Voice Over moves to picker each item is read with swiping, but there is a second voice which speaks a part of either previous or current label. For e.g., Oklahoma is announced as _Ok_, and another Pennsylvania could be reduced to _nia_.
### Steps to Reproduce

1. Download the source code from this [link](https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-sample

[2020-12-18 16:31] xamiell commented on #4972
Totally agree with @acuntex and @anhhtbk
Is a waste of time make a custom renderer just for apply a MaximumHeight calculation to an Editor.