[2019-11-25 12:59] gezanna commented on #8209
@Eilon, sorry for my late reply. However all my projects use the same version 4.3.x. I guess i will have to revert back to 4.2.x, and restart from there. It's so painful though.

[2019-11-25 13:08] jfversluis commented on #8609
Closing this one in favor of the linked one which describes the same issue but in a bit more detail.

[2019-11-25 13:08] jfversluis commented on #8609
Duplicate of #8647

[2019-11-25 13:08] #8609 closed

[2019-11-25 13:16] legistek commented on #2452
Also wondering if this is still likely to happen. I'm very much in the camp of wanting a lookless cross-platform UI framework and this seems to be the best way to achieve that.

[2019-11-25 13:22] legistek commented on #8584
Ditto. Also note that since `Behavior` doesn't derive from `Element` it has no `Parent` (technically we look for `RealParent`) and is not part of the visual tree, so `TemplatedParent`,  `FindAncestorBindingContext` and `FindAncestor` bindings would not work on them currently. (I guess we could support `Self` easily enough but the others would require more creativity.

[2019-11-25 13:36] zaratul77 opened #8650 "[Bug] WebView in Platform.wpf"
### Description

The function EvaluateJavaScriptAsync is not working for webview Control in WPF

### Steps to Reproduce

1. Create Webview
2. Use function var result = await WebView.EvaluateJavaScriptAsync("2+2") e.g. on ButtonClick;

### Expected Behavior
result = 4 (Works on Android)

### Actual Behavior
Is always null
### Basic Information

- Version with issue:  4.3.0
- Last known good version

[2019-11-25 13:50] jfversluis commented on #8647
Confirmed that this is happening. Thank you for the thorough investigation @MariovanZeist! Was really easy to find where this was because of that. Did you use SourceLink?

I tried to fix it real quick, but I think there is some other issues whenever we implement this.

![image](https://user-images.githubusercontent.com/939291/69545493-38c07400-0f92-11ea-9c12-8baac46edd48.png)

It seems that it is

[2019-11-25 14:01] charlesroddie commented on #2452
@legistek You can use SkiaSharp for lookless cross-platform drawing. What are the advantages of a Xamarin.Forms-specific one in your mind?

[2019-11-25 14:05] jfversluis commented on #8550
From [the documentation](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/navigation/master-detail-page#creating-a-masterdetailpage):

These kinds of scenarios are not supported. I'm pretty sure the same goes for a `NavigationPage` and `TabbedPage`. You might want to rethink what you are trying to achieve and maybe design your application differently.

I will close this for

[2019-11-25 14:05] #8550 closed

[2019-11-25 14:05] MariovanZeist commented on #8647
@jfversluis Ah yes forgot to add that issue with the footer. I encountered it as well, but disregard it as I had to develop a quick workaround for this issue anyway. (Workaround is simply to use DataTemplate's instead of DataTemplateSelector)

No I didn't use Sourcelink, I actually have the Xamarin Repo downloaded and analyzed the code.
But it's great that you mention SourceLink as it seems just w

[2019-11-25 14:05] theo-albers commented on #8617
I found the problem in our App: we had a custom renderer for ScrollViewRenderer on ios and it had

[code]

Removing the Bounces line made the refresh view work!

[2019-11-25 14:07] jfversluis commented on #8647
Could you maybe reach out to gerald.versluis@microsoft.com to not clutter this issue with off-topic stuff. I'm interested in your experience with pulling down the code and poking around in it 😄 Thanks!

[2019-11-25 14:24] JohnGalt1717 opened #8651 "Shell: If you have multiple links in your tree with the same navigation links on that will fail to resolve even if absolute pathed."
#8445 # Description
Right now the Shell control only allows a route to be defined once. There doesn't appear to be any way to define the same route twice because you want it accessible from your UI in multiple places. When you attempt to duplicate the same route, links from that route fail to work even if you use absolute paths.

### Steps to Reproduce

1. Create a shell app
2. Add the same route

[2019-11-25 14:43] dansiegel commented on #8633
@StephaneDelcroix I've run into this myself... I believe the only thing that really has to be done here is for Xamarin.Forms.Maps on Android reference the newer GooglePlayServices package.

[2019-11-25 14:49] jfversluis commented on #8643
I don't see it go back all the way to the first image, but there is something funny going on.

If you look closely at this screen capture, you will see that when I scroll back after "move to 4" you will see a small link of the second item. It looks like the snapping is confused after you navigate to item 4.

![Untitled](https://user-images.githubusercontent.com/939291/69550159-d28c1f00-0f9a-11ea-9

[2019-11-25 14:52] jfversluis commented on #8581
Hey @z07713! Thanks for report and adding the video as well as a workaround! Great job 😄

Would you by any chance also be able to put together a small reproduction project to rule out that this is caused by any other code than simply navigating? Thanks!

[2019-11-25 14:55] legistek commented on #2452
There's a bit more to a UI framework than drawing.

[2019-11-25 14:58] michaldivis commented on #5968
Updating the Xamarin.Forms and Xamarin.Forms.Visual.Material to 4.3.0.908675 and above doesn't seem to fix it for me. The app still crushes on Android 5.

[2019-11-25 15:08] StephaneDelcroix commented on #8584
@legistek has a good point here.

Behaviors can be reused (same instance applied multiple times at different laces, so it does not make sense to have relative binding working there.

[2019-11-25 15:08] #8584 closed

[2019-11-25 15:14] z07713 commented on #8581
Hey @jfversluis , thank you for the reply, here is the repro you have asked for: [https://drive.google.com/open?id=1WkGh6QwTOP380gX4RrRsksSGBoJNWeuc](https://drive.google.com/open?id=1WkGh6QwTOP380gX4RrRsksSGBoJNWeuc)

Also, i have not tried this on IOS nor i have the ability to do so, i don't own a Mac.

[2019-11-25 15:18] Alex-Dobrynin commented on #8584
@legistek But somehow this works in WPF, and behaviors in WPF also have no 'Parent'. But Attached (associated) object has. So I can suggest to add check to relativesource binding, if "Behavior" then look parent in associated object or smth like this

[2019-11-25 15:20] StephaneDelcroix commented on #6452
I'm working on a branch that will eventually fixes this

[2019-11-25 15:21] knocte opened #8652 "[Bug] (regression) macOS: DeviceInfo.ScalingFactor returning 0.0 in Xamarin.Forms 4.0 (last good version: 3.6.709228)"
### Description

### Steps to Reproduce

1. Retreive Device.Info.ScaleFactor API on macOS

### Expected Behavior

Should return a value higher than 0 (in XFv3.6 it returns 2.0 in my MacBook with Catalina).

### Actual Behavior

Returns 0.0 since the first version of Xamarin Forms 4.0.x.

### Basic Information

- Version with issue: 4.0.0.425677 and newer.
- Last known good version: 3.6.709228
- ID

[2019-11-25 15:35] legistek commented on #6452
Oh, cool. Well feel free to take anything I did in [this branch](https://github.com/xamarin/Xamarin.Forms/compare/master...legistek:gh6452-template-xaml-parsing) if it might be useful. Like I said I got it working with arbitrary Url's, just no Intellisense.

[2019-11-25 15:40] Mikilll94 commented on #8432
Does anyone knows a workaround to implement this?

[2019-11-25 15:45] legistek commented on #8584
Ah but XF's `Behavior` is different from WPF's. WPF's `Behavior` has a single `protected T AssociatedObject` property, so the `Behavior` instance is always associated with one object instance and what you suggest would work there.

But  XF's `Behavior` uses `protected Type AssociatedType { get; }`, i.e., the `Behavior` instance is associated with an object _type_. In other words, there's no 1:1 as

[2019-11-25 15:50] legistek commented on #4565
Happy to report this is pretty much coded and working. Getting it to work with relative source bindings, correctly handling the `Convert` and `ConvertBack` methods (specifically `UnsetValue` vs. `DoNothing` vs. `null`), and correctly handling different `BindingMode`s  were the biggest challenges. The goal is for behavior to match WPF exactly so you can take existing `IMultiValueConverter` implemen

[2019-11-25 15:55] haavamoa commented on #4565
Very good news @legistek! Looking forward to removing a lot of unesseary code to work around not having multi bindings. ❤️

[2019-11-25 15:57] charlesroddie commented on #2452
But this thread is discussing a drawing framework not a UI framework...

[2019-11-25 16:00] legistek commented on #2452
I thought it was discussing a drawing framework _for Xamarin Forms_.

[2019-11-25 16:02] charlesroddie commented on #2452
SkiaSharp is a drawing framework for Xamarin Forms. It also works on other .Net UI platforms but that would surely be an advantage not a disadvantage.

[2019-11-25 16:10] legistek commented on #2452
And as was said in the OP, SkiaSharp could well be the underlying drawing engine on the individual platforms but the idea of this proposal is to add an abstraction layer and support drawing through XAML with all its benefits, the most notable one being data binding. What you call unnecessary complexity I call elegant.

[2019-11-25 16:20] FrazzApps commented on #8555
Re: Lots of cases.
Sure I can see having simple actions also included on the bottom tab bar like "share" or "export" neither of them need to have a secondary page.    Or if the view is of a list, you might want to have "sort" on the tab bar so you don't want to go to another page with that.   Or I can see with an image editing app you might want to be able to select different tools for image modif

[2019-11-25 16:32] legistek commented on #4565
Actually I could use some opinions here on the `null` vs `UnsetValue` vs `DoNothing` issue. Or at least confirmation that I'm understanding the WPF intended behavior correctly.

For `Convert` I think it's straightforward and the WPF implementation makes sense. Specifically, depending on what gets returned from `Convert`, the target is updated as follows:
`DoNothing` - no change to the target
`Unse

[2019-11-25 16:42] AndreiMisiukevich commented on #8652
duplicated: https://github.com/xamarin/Xamarin.Forms/issues/8559

This bug is already fixed by @jfversluis :)

[2019-11-25 16:46] jsuarezruiz commented on #8617
I've been testing with the 4.4.0 branch and the sample code:

[code]
The result:
![issue8617-droid](https://user-images.githubusercontent.com/6755973/69560007-4fbf9000-0fab-11ea-8bd3-e2082512fd31.gif)
![issue8617-ios](https://user-images.githubusercontent.com/6755973/69560008-4fbf9000-0fab-11ea-9797-1a211f2f32b6.gif)

Does the RefreshView loading indicator not appear without setting the specific s

[2019-11-25 17:46] renzska commented on #8569
I have this issue as well.

It works as expected with https://github.com/rdelrosario/ChatUIXForms which uses Xamarin.Forms 3.1.0.637273. Once I upgrade that project to Xamarin.Forms 4.3.0.991211 the functionality breaks as mentioned in the original post.

I noticed that if I hit enter as the first character and then start typing, it works as expected, scrolling to the current line that it being ty

[2019-11-25 17:50] jfversluis commented on #8652
Yep! Fixed and merged, should be part of a future 4.4 release. Might not be the next one, but definitely the one after that which I think should be the final.

Thanks for noticing this @AndreiMisiukevisch!

[2019-11-25 17:50] jfversluis commented on #8652
Duplicate of #8559

[2019-11-25 17:50] #8652 closed

[2019-11-25 17:52] renzska commented on #4695
I believe these are related: https://github.com/xamarin/Xamarin.Forms/issues/8569

Try hitting enter before entering any text and see if it then works as expected (per my other post on #8569.

[2019-11-25 18:00] pdamco opened #8659 "Blank Space in TabbedPage Xamarin.iOS 13"
Blank Space is showing after installing Xamarin.iOS 13. This is working fine with Xamarin.iOS 12 till now.

Attached is the image.
![Screenshot 2019-11-25 at 11 25 50 PM](https://user-images.githubusercontent.com/40819488/69565717-90370200-0fdb-11ea-9cf1-90bec6f467af.png)

[2019-11-25 18:01] pmahend1 commented on #8414
Closing because its GC issue of Android OS. Feel free to reopen if anything can be done from Xamarin Forms

[2019-11-25 18:01] #8414 closed

[2019-11-25 18:03] pdamco opened #8655 "Blank Space in TabbedPage Xamarin.iOS 13"
Blank Space is showing after installing Xamarin.iOS 13. This is working fine with Xamarin.iOS 12 till now.

Attached is the image.
![Screenshot 2019-11-25 at 11 25 50 PM](https://user-images.githubusercontent.com/40819488/69565905-e310b980-0fdb-11ea-89a3-8e3fac0e6d80.png)

[2019-11-25 18:09] WanftMoon commented on #8587
follows as requested:
https://www.dropbox.com/s/mzk3qel3pevrx28/8587.rar?dl=0

[2019-11-25 18:12] victorbotamedi commented on #8272
@Mikilll94 a working workaround is to use a `Span` insetad. The `TextDecorations` of a span seems to be working fine

[2019-11-25 18:17] samhouts commented on #8133
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-11-25 18:17] #8133 closed

[2019-11-25 18:20] WanftMoon commented on #8586
follows as requested: https://www.dropbox.com/s/1oytsd30ws4mtbs/8586.rar?dl=0

[2019-11-25 18:21] samhouts commented on #8166
@acaliaro I'm afraid there's not much in that stack trace that helps us track it down. It looks like a touch event is happening on something that is being disposed before the gesture finishes. Possibly a ListView with context actions that is being scrolled and long pressed at the same time. Possibly a page that is popped from the navigation stack on a button press. There are many possibilities.

I

[2019-11-25 18:21] #8166 closed

[2019-11-25 18:21] samhouts commented on #8134
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-11-25 18:21] #8134 closed

[2019-11-25 18:21] samhouts commented on #8125
@pauldipietro  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-11-25 18:21] #8125 closed

[2019-11-25 18:22] samhouts commented on #8044
@acaliaro Are you using modals?

[2019-11-25 18:23] samhouts commented on #7855
@ryanharding  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-11-25 18:23] #7855 closed

[2019-11-25 18:32] jfversluis commented on #8655
Hi @pdamco thanks for reporting!

Is there any particular reason you are not using the issue template? Because I am missing a ton of info on what XF version you are using, what version of iOS, if you are seeing this on Android, etc. etc. would you be able to provide that?

Also, it would be super awesome if you could show this problem in a reproduction case so we can easily pinpoint the problem. T

[2019-11-25 18:58] jfversluis commented on #8569
Thanks for the info @renzska

Yep, I see this happening. Here is a repro.

[Repro8569.zip](https://github.com/xamarin/Xamarin.Forms/files/3888192/Repro8569.zip)

[2019-11-25 19:04] jfversluis commented on #8581
Awesome, thanks @z07713 !

Definitely see this happening, thanks for the repro.

[2019-11-25 19:17] jfversluis commented on #8567
I totally see this happening, thank you for your excellent report @jfversluis!

[2019-11-25 19:34] velocitysystems commented on #7842
We too can confirm default spacing is applied on UWP. This needs to be implemented in Windows to bring consistency of experience along with the iOS and Android renderers.

[2019-11-25 19:43] velocitysystems commented on #8647
@jfversluis We also have encountered this issue and used the workaround above, but would be great to see this resolved.

[2019-11-25 19:46] velocitysystems commented on #5455
@hartez @samhouts This seems like a significant gap in the `CollectionView` spec.
Just wondering if there is any official word on when this will be supported?

[2019-11-25 19:50] samhouts commented on #8459
Interesting. I tested the sample project on 16.4, and it did not crash for me.

[2019-11-25 19:52] PureWeen commented on #8459
@CaseAlexander @YZahringer I don't think this is a Forms Bug

I feel like this is a bug with https://github.com/onovotny/MSBuildSdkExtras

If I setup a project that isn't multitargeted then it builds fine without any errors. It's able to find the xr.xaml files just fine

[2019-11-25 19:55] samhouts commented on #8582
Duplicate of #8308

[2019-11-25 19:55] #8582 closed

[2019-11-25 19:57] samhouts commented on #8583
@eyacoub  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 19:57] samhouts commented on #8597
@burrowj  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 19:58] samhouts commented on #8600
@SubburajPandianV  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:00] samhouts commented on #8621
@gokulsaravanan What platform is this occurring on? Thanks!

[2019-11-25 20:01] samhouts commented on #8651
@JohnGalt1717  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:04] samhouts commented on #8420
@Rod-Baseplan  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:05] Gakk commented on #6498
Any expectation of when/if this issue will be fixed?

[2019-11-25 20:06] samhouts commented on #8240
@VladislavAntonyuk Any luck reproducing this issue? Thanks!

[2019-11-25 20:07] velocitysystems opened #8656 "[Feature] Able to toggle sticky group headers in CollectionView"
## Summary
We are using a grouped `CollectionView` and would like to disable sticky group headers.
A similar idea was previously discussed in the CollectionView  [spec](https://github.com/xamarin/Xamarin.Forms/issues/3172).

## API Changes
Add a new property `UseStickyGroupHeaders` (or similar) to `CollectionView`.
Default value should be **false**.
[code]
## Intended Use Case
Currently, the defau

[2019-11-25 20:19] samhouts commented on #7529
@Elashi can you verify that it still crashes with 12.4 on 4.2 and/or 4.3? Thanks!

[2019-11-25 20:27] samhouts commented on #8637
@stesvis  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:30] samhouts commented on #8607
@matteopiccioni  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:30] samhouts commented on #8605
@jemunk  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:30] ssombat opened #8657 "[Bug] [Android] Collection View does not resize correctly"
### Description
Toggling visibility of views next to collectionview will cause the collectionview to shrink. But when the other views are hidden, collectionview will not resize itself to its original size.

### Steps to Reproduce

1. Create a page that has a collection view with another view next to it.
2. Create a function that will toggle visibility of that other view
3. Scroll up and down the p

[2019-11-25 20:30] samhouts commented on #8603
@MiloszPawlowski  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:32] samhouts commented on #8566
@gnani143  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:32] samhouts commented on #8564
@Sonic3R  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:33] samhouts commented on #8556
@aperrone  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:33] samhouts commented on #8554
@pldeschamps  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:34] samhouts commented on #8514
@camos-os  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-25 20:54] PureWeen commented on #8459
@CaseAlexander @YZahringer

Can you try adding
[code]

To your multi targeted project and let me know if that fixes?

[2019-11-25 21:11] pmahend1 commented on #8433
@samhouts any workaround for this for time being?

[2019-11-25 21:40] PureWeen commented on #8649
@negberts
Can you try adding
[code]

To your class library and see if that fixes?

[2019-11-25 21:53] PureWeen commented on #8459
For me the following fixed the build exception on VS 16.3
[code]

We also tested the included project on VS 16.4 without adding *GenerateLibraryLayout* and it's able to compile without any issues. To me this looks like a bug in the VS targets around UWP when it gathers together everything it's going to use for the APPX package.

Closing for now as this doesn't look like an issue with Forms

[2019-11-25 21:53] #8459 closed

[2019-11-25 22:52] Russc0 commented on #8635
![sider issue](https://user-images.githubusercontent.com/6091094/69584856-23992300-102e-11ea-9199-d7cb35a7ac44.png)

![sliderthumb](https://user-images.githubusercontent.com/6091094/69584876-2f84e500-102e-11ea-9141-a18f745697bc.png)

[2019-11-25 23:19] hartez commented on #8478
@jhaprasun You should open a separate issue for Android - since this one is already closed, folks might not see new comments on it.

[2019-11-25 23:52] Russc0 commented on #8635
https://github.com/Russc0/SliderThumbImage

[2019-11-25 23:56] hartez commented on #8249
@BalasubramaniSundaram and @Sivaraman761 Without seeing your custom control code, I can't tell you what you are doing wrong. Can you post it here?

[2019-11-25 23:58] hartez commented on #8199
@mdmota What is "flur"? I'm not familiar with that.

A list of what? Is it a `List<T>`? If so, what is `T`?

[2019-11-26 00:40] hartez opened #8661 "[Enhancement] Don't write to Application.Properties if nothing has changed"
# Description

Forms will load the Application.Properties data from storage at application startup and will write it out when backgrounding/exiting. It will do this even if the application has never written any information to Application.Properties.

This currently causes issues for multi-instance applications (see #8421) even if they do not use Application.Properties at all. And it adds extra ove

[2019-11-26 00:58] hartez commented on #7586
@KarthikRajaAKR How are you applying the attribute? Can you post the code?

[2019-11-26 01:03] burrowj commented on #8597
[TextColor.zip](https://github.com/xamarin/Xamarin.Forms/files/3889510/TextColor.zip)

[2019-11-26 01:12] hartez commented on #8427
@Abdulbasha Can you post your project so we can see how you are using the ListView and Grouping? That might give us a clue where our memory leak is.

Or at least the markup?

[2019-11-26 01:14] Jared-Aus commented on #8527
My issue matches the title, but not necessarily the description. The simplest way to demonstrate that Shell is broken with iPad split screen is to create two new XF solutions in VS, one using the shell template and the other with the blank template. At a 50/50 split the blank template shows content and the shell template a white screen. It makes no difference if using XF 4.2, 4.3, or 4.4.0-pre2.

[2019-11-26 02:02] hartez commented on #8069
@attrib75 If I clone your repro project, remove the `BarTextColor="LightGray"` setting on the `TabbedPage`, and set the `SelectedTabColor="Red"` and  `UnselectedTabColor="Blue"`, the text and icons of the tabs are red when selected and blue when unselected. Which is what I would expect to happen.

Does that work for you? What am I missing?

[2019-11-26 02:31] foehammer88 opened #8662 "[Bug] ListView Group Header Height Doesn't Autosize to Content"
### Description

ListView Group Header height doesn't autosize to content. Unlike ListView cells and Headers, that auto size their heights to content, ListView Group Headers do not auto size, thus causing manual calculations of label height and sizes to set the height, which introduces bugs on various platforms and device sizes.

### Steps to Reproduce

1. Create a Sample project with a ListView a

[2019-11-26 03:54] pdamco commented on #8655
XF version is 3.4 but i have tryed to upgrad to 4.3 nothing happened same space is showing.
iOS version is 13
Xcode 11
This is only on iOS not happening on Android.

[2019-11-26 04:26] pdamco commented on #8659
Version with issue:

Last known good version: iOS 12 | Xamarin.iOS 12

IDE: VS Mac 8.3.10

Platform Target Frameworks:

iOS: 11.2
Android: 10
Nuget Packages: 3.4

Affected Devices: iOS

XF version is 3.4 but i have tryed to upgrad to 4.3 nothing happened same space is showing.
iOS version is 13
This is only on iOS not happening on Android.

[2019-11-26 07:27] negberts commented on #8649
@PureWeen no sorry. It doesn't fix it. I also tried to remove the complete dictionary from the app.xaml but even then the error occurs. Could it be some third party problem? That Xamarin Essentials, Xam.Plugin.Geolocator or Prism is doing something incompatible?

[2019-11-26 07:31] YZahringer commented on #8459
@PureWeen I confirm, `GenerateLibraryLayout` fix the build, thank you!

[2019-11-26 07:39] acaliaro commented on #8044
Yes, there are some "pushmodal" in the code...

[2019-11-26 07:48] #8444 closed

[2019-11-26 07:51] jfversluis commented on #8655
Thanks for the additional info!

Would you be able to provide us with a reproduction project showing this issue?
It seems there is some customization going on with your tabbar, we'd like to rule out anything that doesn't directly involve the Xamarin.Forms code to see if this is really a bug in our codebase.

Thanks!

[2019-11-26 08:22] jfversluis commented on #6700
@dgandhi17 you say you were able to trace this issue. Does that mean you have some way of reproducing it?

Although the fix might seem easy to just handle the `Last()` call there in a better way, it does mean that the app is in some weird navigation state. So even if we might fix it that way, there is no way to tell what the behavior will be with that new code in place. It might not actually crash

[2019-11-26 08:33] IeuanWalker opened #8663 "Content size for collectionview"
## Summary
The ScrollView has a content size attribute, I'm hoping for something similar to that for CollectionView.

We want to be able to get the size of the content to create a custom scroll bar, but unable to do so. I also tried to get the children of the CollectionView (similar to ListView) and count the width of each item, but that also isn't possible.

## API Changes

To additional properti

[2019-11-26 08:58] SebastianKruseWago commented on #6498
@FIELDPOINT @Gakk I don't think we will get any answer soon. But you might want to compare it with the SplitView bug on iPad's with Xamarin.Forms and MasterDetail. This is broken and reported since 2015 and still not fixed (it was reported in Bugzilla the first time).

[2019-11-26 09:14] GerhardSchreurs commented on #8569
Thank you for acknowledging this bug.

I have a hacky "workaround" for the time being which ensures that the first character in the editor always is a newline and by doing so prevents this bug:

[code]

`<Editor Text="{Binding Entity.Text, Converter={StaticResource stringToStringWithNewLineConverter}}" Margin="16,0,16,16" AutoSize="TextChanges" />`

[2019-11-26 09:23] dgandhi17 commented on #6700
@jfversluis Well if we say that the method's responsibility is to send backpress event to the last page if it is available and return true because we handled it. But it should not trigger the back press event for the page which is not there in the navigation stack and should return false.

So here my suggestion is that in FormsAppCompactActivity.cs OnBackPressed() method it should be handled like

[2019-11-26 09:37] joduss opened #8664 "[Bug] Grid: Column height not recomputed when children are resized"
### Description

It seems that the grid doesn't recompute the height of column with automatic height.

In the case of the following layout:

- StackLayout
  - Grid
    - Column 0 [width = *]: FlexLayout (or layout whose height depends on the width)
    - Column 1 [width = auto]: We add a button programmatically in the contructor of the custom control

Then if the addition of the button lead to the

[2019-11-26 09:41] MagicAndre1981 commented on #8150
Hi, @Depechie can you respond to the change requests so that it can be merged?

[2019-11-26 09:43] Depechie commented on #8150
Talked to Gerald about it. Normally end of this week I will have some time to test the PR again to see if everything is ok to merge it.

[2019-11-26 09:44] MagicAndre1981 commented on #8150
ok, thanks

[2019-11-26 10:07] JigarM commented on #6011
Please Check this comment and this solution work for me.
https://github.com/xamarin/Xamarin.Forms/pull/7711#issuecomment-552787208

just add
[code]

Thanks

[2019-11-26 10:26] jfversluis commented on #6700
I totally agree, and I will open a PR to add some defensive code around this so we can discuss it also with other team members, but that was not my question :)

Have you found some way to reproduce it consistently? That way we won't have to guess what could or could not happen, but we can test it and also write a test to make sure it never happens again.

[2019-11-26 10:30] nbevans commented on #8662
Duplicate of https://github.com/xamarin/Xamarin.Forms/issues/3769#issuecomment-533532673

Fix proposed in here but not dealt with my XF team yet.

[2019-11-26 10:31] Elashi commented on #7510
@StefanVam What I really did to get over this problem is stick with 4.2
And to get over @dm-CaT 's problem , I used the plugin https://github.com/jamesmontemagno/Xamarin.Forms-PullToRefreshLayout

It is very similar to Xamarin's.

Here is an example:
Xamarin's Pull To Refresh in version 4.3 :

       <RefreshView
            Command="{Binding LoadReferencesCommand}"
            IsRefreshing="{Bind

[2019-11-26 10:40] jfversluis commented on #8433
Maybe I'm missing something, but I don't see the reproduction attached, is that correct? I think that will help to speed up things if we can see where the actual crash is happening.

Thanks!

[2019-11-26 10:44] jfversluis commented on #7877
Hi @matteopiccioni, I know it has been a little while. Unfortunately, I did not make any progress with the other person having this problem. Is there maybe anything additional that you found on your end?

[2019-11-26 10:46] StefanVam commented on #7510
@Elashi Thanks for your reply .I'm using XF version 4.3 now,i think i'll rollback to 4.2 if  this bug doesn't fixed in the near future.

[2019-11-26 10:49] JKennedy24 opened #8667 "[Bug] CollectionView ItemSpacing has no effect on UWP"
### Description
Setting ItemSpacing does nothing on UWP

### Steps to Reproduce

[code]

### Expected Behavior
ItemSpacing applied to green box like android

### Actual Behavior
No Item Spacing

[2019-11-26 10:53] gsgou commented on #8407
It happens in ListView also with CachingStrategy RetainElement.

[2019-11-26 10:53] jfversluis commented on #8667
Hey @JKennedy24! Thanks!

I think this was already reported in #7842. I will close this one and mark it as duplicate, please follow the progress in the other issue. Thanks!

[2019-11-26 10:53] Zukka commented on #3150
Any news?

[2019-11-26 10:53] jfversluis commented on #8667
Duplicate of #7842

[2019-11-26 10:53] #8667 closed

[2019-11-26 11:45] kbezzubov commented on #7510
I have bad solution, but temporary work for me. I add try and empty catch block around add, insert, remove and clear methods. And inside catch i added todo comment, that remove try/catch after bug fix.

[2019-11-26 11:46] Happypig375 opened #8668 "Activity indicator does not scale to bounds on iOS"
### Description
https://stackoverflow.com/questions/52723072/resizing-activity-indicator-in-xamarin-forms
### Steps to Reproduce

Try to give an ActivityIndicator a large layout bounds, and discover that the indicator is still tiny.
[code]
### Expected Behavior
At least supporting automatic scaling up like on Android.
### Actual Behavior
It seems sizing itself is not supported on the ActivityIndic

[2019-11-26 12:05] Sevenish opened #8669 "[Enhancement] iOS 13 Multiple Window system breaks DisplayAlert"
## Summary
When embedding Forms pages in a iOS 13 app with multple window support (UIWindowScene). The Page DisplayAlert function and similar functions do not work anymore.

The alert is not displayed.

The issue is that the UIWindow created needs to be attached to the UIWindowScene (supply the UIWindowScene through the UIWindow constructor).

https://github.com/xamarin/Xamarin.Forms/blob/6ee5c180

[2019-11-26 12:22] mdmota commented on #8199
Flur is a library to facilitate calls to api rest.  https://flurl.io/
The service returns me a List<T> that is converted to an observable collection

[2019-11-26 12:27] davidbritch commented on #8565
There's a mismatch between the [enhancement](https://github.com/xamarin/Xamarin.Forms/issues/1706) and the [PR](https://github.com/xamarin/Xamarin.Forms/pull/3318), but the PR does discuss changing the default from 0 to -1.

Therefore, the doc updates become:

1. What's listed for MaxLines==0 will become MaxLines==-1.
2. Add a new bullet for when MaxLines is 0 (no text displayed).

[2019-11-26 12:41] gokulsaravanan commented on #8621
@samhouts Only in android.
Regards
Gokul S

[2019-11-26 12:49] luczha opened #8670 "DatePicker.Format doesn't work on UWP platform ."
I have a DatePicker in my application and I want to display the date in this format : 11/26/2019 So I change the Format property as follow :

[code]

Above code works fine on Android and iOS , but on UWP ,the display date got this format : `November 26 2019` .

[2019-11-26 12:50] jfversluis commented on #8668
Thank you for reporting this @Happypig375 and thank you so much for your great reproduction, much appreciated!

Unfortunately, the native counterpart `UIActivityIndicatorView` [cannot resize](https://stackoverflow.com/questions/56830645/how-to-increase-the-size-of-the-activity-indicator), that is probably why it wasn't implemented in Xamarin.Forms.

What you can do is set the `ActivityIndicator.Sc

[2019-11-26 13:07] denzerd commented on #3706
Soooo...
@nbsoftware
**HOW** did you work around this? :)

[2019-11-26 13:13] pmahend1 commented on #8433
@jfversluis I will try further separating business code to get reproduced repo today

[2019-11-26 13:18] jfversluis commented on #8548
Hi @huyjack178 thanks for reporting this. I'm not entirely sure if I understand what the issue is.

First of; for the `RefreshView` bug, please see if there is already an issue for it and if not open a separate one so we can stay focused on one issue at a time :)

For this issue, I have played around with your reproduction a little but the scrolled event seems to trigger just fine. Although I do s

[2019-11-26 13:20] WilkoThomassen opened #8671 "[Bug] CarouselView - CurrentItem is not binded properly when switching pages programmatically"
I have a setup where the carouselview has a binded property "CurrentItem".  When we set currentitem to the next page programatically the binded property will be set 4 times.  3 times the proper item, but 1 time it is the wrong (previous) object.
This has a negative effect on components that respond to the current page index like page button states or a stepsindicator.

**Xaml:**

[code]

**codebeh

[2019-11-26 13:29] jfversluis commented on #8477
Hi @Hottemax

Just reading up on this issue, but I'm not sure... Is there anything expected from our side? :)

You seem to be saying that it works as intended now?

[2019-11-26 13:44] jfversluis commented on #8575
Hi @KarthikRaja26 thanks for reporting this!

However, I don't think this is a Xamarin.Forms issue, sorry.

As you already said yourself: with a "regular" page it works fine. With the PDF one, it doesn't. That is probably because the PDF page loads all kinds of things in JavaScript and a container somewhere deep inside the DOM of the page is scrolling, but not the actual webpage itself. Does that

[2019-11-26 13:44] #8575 closed

[2019-11-26 13:51] Dresel opened #8672 "[Bug] CollectionView crashes on iOS 12.4 for repeated adds"
# Description

When calling `ObservableCollection.Add` repeatedly for a CollectionView the application crashes on iOS with the following exception:

**Foundation.MonoTouchException:** 'Objective-C exception thrown.  Name: NSInternalInconsistencyException Reason: Invalid update: invalid number of items in section 0.  The number of items contained in an existing section after the update (2) must be

[2019-11-26 13:54] jfversluis commented on #8225
Hey @tp16190 and @RhomGit thanks for the info!

I see some XAML snippets, but none seem to be complete. Would it be possible to add a small reproduction project that shows this issue? That would help us a lot :) Thanks!

@mpghelli this seems to be a slightly different issue if you ask me. Since you are mentioning only devices with a notch, are you using the SafeAreaInsets? If you still think this

[2019-11-26 13:56] jfversluis commented on #8466
@Codentale did you find anything about this?

If you did, could you please update here? If it's not relevant for you anymore (at this time) please feel free to close the issue. Thanks!

[2019-11-26 13:57] matteopiccioni commented on #7877
I am sorry @jfversluis , I dont have more details... I solved replacing Button with StackLayout and GestureRecognizers
Thanks

[2019-11-26 13:59] Brosten opened #8673 "[Bug] [UWP] IsShowingUser makes map center over user"
### Description
When setting IsShowingUser = true, the map center over the user and also set some default zoom level. This creates problems when you want to show the user icon, but on the same time set a custom visible area of the map.

This issue was reported in [Bugzilla in 2017](https://xamarin.github.io/bugzilla-archives/55/55366/bug.html) but never solved, from what I can see.

### Steps to R

[2019-11-26 14:00] pmahend1 commented on #8433
@jfversluis Reproduced repository is here. Please check

https://github.com/pmahend1/XamarinFormsIssues/tree/master/UISwipeBackIssue

Gif coming up as well.

[2019-11-26 14:07] jfversluis commented on #8673
Thank you @Brosten for reporting this!

I quickly pulled up the code for this and it seems [all the plumbing is there](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Maps.UWP/MapRenderer.cs#L347) because there is a parameter that can specify if we want to automatically go to that location on the map or not.

Reading your initial problem again. Is the problem that you will go on

[2019-11-26 14:12] Brosten commented on #8673
@jfversluis
From what I have seen, it's only done once. So what happens for me is
1. The map is shown
2. I set the visible area to where I would like to have it
3. The framework sets the visible area to center over my user-spot.

I could probably try to find an appropriate Point in time where I could (as a fourth step) set it back to the visible area that fits me. But this seems to be kind of an u

[2019-11-26 14:19] jfversluis commented on #8673
Thanks for the quick reply!

I totally understand and I would want to provide a way for you to make this possible, but without breaking this "feature" for other users. So, what I am thinking is introducing a new property, something like `bool ShouldGoToUserLocation` with which you can influence this behavior. But that is why I'm also asking, do you know how it is on other platforms?

Because if we

[2019-11-26 14:21] jfversluis commented on #8672
Thanks for the report @Dresel!

I've pulled down your code, updated to the latest stable package and although I do see similar output in the console window, the app doesn't crash. To make the issue a bit clearer I have increased the iteration to 100. You can see my attempt below. Am I missing anything?

![Untitled](https://user-images.githubusercontent.com/939291/69640888-73dca900-105f-11ea-944c-3

[2019-11-26 14:23] jfversluis commented on #8433
Thank you @pmahend1, I tried to look at it but is seems to be only xaml and cs files? The csproj and sln and whole of the iOS project seem to be missing?

[2019-11-26 14:26] Brosten commented on #8673
@jfversluis  Ahh, sorry, missed to tell about other platforms. But No. from what I can see this is only the behaviour on UWP. And that kind of breaks the argument of this "making sense". 2 of 3 platforms does NOT center over the user.

About your suggestion with a new flag with ability to set this. Would work perfectly for me!

[2019-11-26 14:28] jfversluis commented on #8673
Hm, let me put together a quick reproduction. I am pretty sure that at least iOS has the same behavior.

But if you are right then I agree: then it doesn't make sense :)

Regarding the flag: I think that would be a nice way, although also there what makes it a bit harder is that we have to implement it across the board

[2019-11-26 14:44] nbsoftware commented on #3706
I can't recall exactly, it's been a year now...
On Android, something like set a boolean just before requesting the permissions and ignoring the OnDisappearing if that boolean is set. And of course, reseting that boolean when system dialog has been dismissed.
Not very pretty but it worked at the time.

[2019-11-26 14:50] Dresel commented on #8672
Good catch, the crash happens on a iOS 12.4.2 iPhone 6 device - on the emulator I see the same results you have.

[2019-11-26 15:00] Brosten commented on #8673
I just tried both iOS and Android in our app and both of them stays on the visible area set by me (in step 2, described above)

[2019-11-26 15:03] pmahend1 commented on #8433
Sorry.. Seems my git ignore is messed up. I will check and revert

[2019-11-26 15:14] WayaFlyfeather commented on #8670
I can confirm that the DatePicker uses a UWP DatePicker, and apparently always uses the default format:

![2019-11-26](https://user-images.githubusercontent.com/3807144/69644906-970a5700-1065-11ea-827d-d7ba0ff16add.png)

The formatting options for the UWP DatePicker are limited (AFAICT you can't change the order of the the month, day, year), this is determined by the current locale, I believe. Per

[2019-11-26 15:23] simspace-dev commented on #7833
I am experiencing the same error consistently. My element is most definitely defined just once in the XAML and referenced twice in the code-behind.

This screenshot show the errors, the element definition (`myTestLabel`) and the search results for the whole solution.

![image](https://user-images.githubusercontent.com/4808756/69646793-09f7db80-102e-11ea-877f-afcbd3fc6dab.png)

[2019-11-26 15:37] pmahend1 commented on #8433
@jfversluis  please check now

[2019-11-26 15:37] Dresel commented on #8672
Crash can be reproduced when running emulator on 12.4.

[2019-11-26 15:44] imranaz commented on #6112
@Dresel do you have an ETA when badge support within toolbar and flyout menu will be available? We're released a Xamarin based app and user engagement is being impacted by the lack of badges. In-app badges are essential for all modern apps and I'm surprised that this feature is not getting prioritized on the Xamarin team. Thanks and looking forward to your feedback.

[2019-11-26 15:55] pmahend1 commented on #8433
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/21352870/69649602-467e0400-103b-11ea-9419-84c8602190a7.gif)

[2019-11-26 16:05] iashaik commented on #3696
A year later... Still experimental.

[2019-11-26 16:20] hartez commented on #3696
@iashaik The fastrenderers have been stable and out from under the experimental flag since ... 4.2 I think. They are now the default renderers.

[2019-11-26 17:10] simspace-dev commented on #7833
So here's what I just discovered though not sure what it means yet ...
1.  I changed the elements `x:Name` from 'MyTestLabel` to 'dog` ...
    **no error**.
2. I changed the elements `x:Name` from 'dog` to 'catt` ...
    **no error**.
3. I changed the elements `x:Name` from 'catt` back to 'dog` and
    **I get the error** `An element with the same key already exists in NameScope.
4. I changed the

[2019-11-26 17:18] simspace-dev opened #8675 "[Bug] An element with the name ... already exists in this NameScope"
I am experiencing this error consistently. My element is most definitely defined just once in the XAML and referenced twice in the code-behind. Even with this error, the app runs fine.

This screenshot show the errors, the element definition (`myTestLabel`) and the search results for the string `myTestLabel` within the whole solution.

![image](https://user-images.githubusercontent.com/4808756/696

[2019-11-26 17:21] samhouts commented on #8173
@ederbond  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-11-26 17:21] #8173 closed

[2019-11-26 17:28] samhouts commented on #8675
@simspace-dev  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-11-26 17:48] sonic1015 commented on #5268
I had this problem on Android in 4.0.0.497661. Updated to 4.0.0.707238 and the problem was no longer there.

[2019-11-26 17:53] hartez commented on #8154
I apologize, this was a poor explanation. A better way to say this would be "IsClippedToBounds determines whether the layout is allowed to draw its contents (its children) outside of its layout boundaries".

In the layout on the left, the StackLayout is arranged to fit within its parent, with a height of 100. But the actual height of the StackLayout is based on its contents, which are much taller

[2019-11-26 17:54] simspace-dev commented on #8675
I'm learning Xamarin going through some MS tutorials online.

You can clone the following repo to get the project I created which is where I am experiencing the issue described above:

https://github.com/simspace-dev/GridTutorial.git

[2019-11-26 18:02] hartez commented on #6507
Closing this, it was fixed by #8189. If I'm wrong about that, ping me here and I'll reopen it.

[2019-11-26 18:02] #6507 closed

[2019-11-26 18:02] theo-albers commented on #7833
It also happens when you're debugging the code and change the XAML with hot reload enabled. You will see purple squiggles, until you stop the debug session.

[2019-11-26 18:12] vsfeedback opened #8677 "OnPlatform doesn't work for iOS simulator"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/588658/onplatform-doesnt-work-for-ios-simulator.html)._

---
I'm following this Xamarin Microsoft Learn Tutorial: https://docs.microsoft.com/en-us/learn/modules/create-ui-in-xamarin-forms-apps-with-xaml/index

The code where the issue is reproducible is here:
https://github

[2019-11-26 18:12] vsfeedback opened #8678 "Cannot compile blank Xamarin app after upgrading xamarin stuff"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/816759/cannot-compile-blank-xamarin-app-after-upgrading-x.html)._

---
Just create blank Xamarin.Forms application using wizard.
Build it.
Next, open NuGet package manager for Xamarin project.
You will see that there are some libs to uprade. Upgrade them and try to build so

[2019-11-26 18:14] vsfeedback opened #8679 "Xamarin Forms 4.3 "RelativeSource" and related markup seen as errors in XML editor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/822681/xamarin-forms-43-relativesource-and-related-markup.html)._

---
[code]

`RelativeSource` and related markup such as `AncestorType` and all the other new markup with Xamarin Forms 4.3 report as unrecognized and show as red/bad in the XAML editor for VS2019

MSDN page

[2019-11-26 18:14] vsfeedback opened #8680 "xamarin binding relative source type intellisense only shows classes with default constructor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/823472/xamarin-binding-relative-source-type-intellisense.html)._

---
**Steps to reproduce:**

In xamrin forms in any binding, use {Binding Source={RelativeSource AncestorType=

**Expected Behavior:**

Intellisense lists out all classes available.

**Actual Behavior**

inte

[2019-11-26 18:14] vsfeedback opened #8681 "Xamarin.Forms webview"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/832179/xamarinforms-webview.html)._

---
Xamarin.Forms webview

After the webview to reload the OnBackButtonPressed does not perform

---
### Original Comments

#### Visual Studio Feedback System on 11/24/2019, 10:46 PM:

<p>We have directed your feedback to the appropriate

[2019-11-26 18:40] hartez commented on #8131
This is definitely weird, though I'm not entirely sure it's a regression. It's certainly counterintuitive, though.

[2019-11-26 18:44] #7639 closed

[2019-11-26 18:45] #7466 closed

[2019-11-26 18:53] hartez commented on #8199
@mdmota Can you just post the code? That might facilitate this.

[2019-11-26 18:55] TomOnd opened #8682 "[Bug] [UWP] NullReferenceException when call SavePropertiesAsync method off the main thread"
### Description

NullReferenceException is thrown in method Xamarin.Forms.Application.SavePropertiesAsync when called off the main thread.

Xamarin.Forms.Application.Dispatcher property is null because method Xamarin.Forms.Platform.UWP.DispatcherProvider.GetDispatcher(object) returns null. If statement on line 22 in this method is evaluated as false.

Possible fix could be to remove return stateme

[2019-11-26 19:45] pmahend1 commented on #8433
Seems its coming from [AlexandrNikulin/AnimationNavigationPage/AnimationNavigationRenderer](https://github.com/AlexandrNikulin/AnimationNavigationPage/blob/2c7ddf95828b476dcf287c68143729199cd8ddf1/SourceCode/Lib/FormsControls.Touch/Renderers/AnimationNavigationRenderer.cs#L27)

Feel free to close it if you confirm.

[2019-11-26 20:07] jfversluis commented on #8433
@pmahend1 indeed looks like it's coming from that component. If you are able to reproduce with only Xamarin.Forms components please let us know. Else it probably makes sense to open the issue with them.

Thanks for your own investigation on this!

[2019-11-26 20:07] #8433 closed

[2019-11-26 20:37] ianvink commented on #5801
@samhouts I can confirm also that updating to 4.3.0.991211 results on iOS not showing the strike through decoration, in our case in a cell of a ListView

[2019-11-26 21:59] AndreiMisiukevich commented on #8398
it's not XF bug. This is related to HR

BTW, you can try Non-officail hot reload, which should work https://github.com/AndreiMisiukevich/HotReload

[2019-11-26 23:25] VladislavAntonyuk commented on #8240
@samhouts After update to the latest XF packages I can’t reproduce it on iOS simulator (I tried 12.4 and 13.2.2). I will try tomorrow on a real device and close the issue if it is not reproduced

[2019-11-27 00:04] legistek commented on #4565
Well [PR is up](https://github.com/xamarin/Xamarin.Forms/pull/8684). I went with WPF actual behavior. Look forward to any comments.

[2019-11-27 01:25] michizhou commented on #8070
@johnshardman I just wanted to follow up with you about the review status of the changes in my PR for this issue. If you and others on the XF forum could look over them whenever you are able, I would greatly appreciate it. Feel free to keep me updated. Thank you.

[2019-11-27 03:27] EvoPulseGaming commented on #6011
Doesn't work for everyone, and shouldn't be an actual solution

[2019-11-27 07:50] VladislavAntonyuk commented on #3285
Carousel page is going to be an obsolete so I am closing it

[2019-11-27 07:50] #3285 closed

[2019-11-27 07:53] #3432 closed

[2019-11-27 08:02] Happypig375 commented on #8668
Will a new iOS-specific boolean property `ScaleToBounds` suffice?

[2019-11-27 08:09] jfversluis commented on #8673
It seems you are absolutely right. Just tried it myself, iOS and Android do show the location but don't automatically go over there.

I think figuring out a way to solve this where we enable iOS & Android users to automatically go to the user location and for UWP the vice versa would be cool!

[2019-11-27 08:14] Sonic3R commented on #8564
Can;t attach my enterprise project where error occur...Seems that happens only on UWP but not on iOS.. Very hard to create new project with stuff from enterprise project

[2019-11-27 08:18] jfversluis commented on #8621
When I scroll down, tap the add button a couple of times and scroll back up items are starting to disappear.

[2019-11-27 09:09] Brosten commented on #8673
@jfversluis Would be just Lovely :)

[2019-11-27 09:14] jfversluis commented on #8597
Confirmed that this shows. When you remove the `Visual="Material"` from the `Entry` it works as intended.

[2019-11-27 09:29] jfversluis commented on #8633
Opened a PR for this. You should easily get around this for now by installing the right GooglePlayStore package version by hand.

[2019-11-27 09:51] jfversluis commented on #8672
Thanks for looking into it. When I run it on iOS 12 indeed it crashes.

Interesting, so for iOS 13 it seems like it's just a warning in the console and for iOS 12 it actually crashes. I did see crash messages like this related to `ListView` I think at some point.

Possible duplicates/related #7510, #7393.

In the related issues I see something about this being fixed 4.4-pre but this is not the cas

[2019-11-27 10:00] Depechie commented on #6011
For people facing this, a temp workaround would be to use an AddRange instead of an Add on ObservableCollection.
Just copy paste the extended observablecollection from James: https://github.com/jamesmontemagno/mvvm-helpers/blob/master/MvvmHelpers/ObservableRangeCollection.cs

[2019-11-27 10:10] john-dalsgaard commented on #6011
@Depechie's suggestion works fine for me 👍

[2019-11-27 10:26] WaiseFass opened #8689 "[Bug] Margin of Contentview like Grid, or Stacklayout doesnt work inside RefreshView"
### Description
If you create for example a Grid inside a Refresh View, the Margin dosent work in the right way.

Currently I have only tested it on Android.. I check it on iOS asap.
### Steps to Reproduce

1.  Create a RefreshView
2.  Add a Grid inside
3.  Set the margin to "10,0,0,0"

### Expected Behavior
The control should have a margin only on the left side.

### Actual Behavior
The control h

[2019-11-27 11:03] #8240 closed

[2019-11-27 11:09] eyacoub commented on #8583
[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/3896543/Archive.zip)
please find attached.

[2019-11-27 12:05] luczha commented on #8670
I had  provided customer a workaround
https://stackoverflow.com/questions/59049375/change-datepicker-month-format-in-xamarin

[2019-11-27 12:34] Rajeswari06 commented on #8279
We are facing the same issue in iPad-iOS 12.4.1. with grouped listView.

We have used a grouped listview, when we try to expand and collapse an item in bottom of the screen scroll position is changing to top and unable to see the selected item.

Listview.scroll is not working in grouped listview if it don't have items.

[2019-11-27 12:59] jfversluis commented on #8279
There is a PR for the Android side of things @Rajeswari06 if you're brave enough you could add the iOS implementation? 😉

[2019-11-27 13:00] jfversluis commented on #8668
So, that would be a boolean specific to iOS and the `ActivityIndicator`. When flipped on it will take up all the space until it hits the bounds?

I think that sounds reasonable.

[2019-11-27 13:12] cambo2015 opened #8690 "[Enhancement] .net Core 3+ support and xaml editor plugin for vs code"
## Summary
Xamarin for .net core would be an amazing addition to the xamarin community. Other frameworks like avelonia could surpass xamarin. Xamarin already has a big community and one would not have to learn another framewok. Additionally, a xaml editor for vs code would be needed so one could create apps easily on linux.

## API Changes
In order to compile to .net core 3+ , a compiler for .net

[2019-11-27 13:12] jfversluis commented on #8626
Confirmed this behavior. When you put a `TimePicker` outside the `CollectionView` you won't see the scrollbars flash while they do when opened from inside the `CollectionView`. Also happens with other scrollable controls.

[2019-11-27 13:38] jfversluis commented on #8635
Although I think I see it's not entirely correct, I also noticed that this particular image has some transparent border about the circle. This is probably seen as part of the image and may explain at least some of the offset you are seeing. Does that make sense?

Did you try other images or could you change the circle so that the bounding rectangle touches the roundings of the circle and see if it

[2019-11-27 13:49] jfversluis commented on #8492
I've just tried this but I can't seem to reproduce.

Could you expand a bit more on what version of Visual Studio you are using and what version of Xamarin.Forms? And maybe share some log files or console output?

[2019-11-27 13:50] Zure1 commented on #3480
@samhouts Does removing from "**In Progress** in **vNext (4.4.0)**" mean that this enhancement will be available in XF 4.4? Because I can't find it in **In Review** or **Closed**.

[2019-11-27 13:53] jfversluis commented on #5339
Hi @prahna and others. Were you able to uncover anything more about this?

[2019-11-27 13:53] mpghelli commented on #8225
Hi

In my case i was able to correct this, using a customRenderer in iOS to disable CarouselPage scrolling and use stacklayou instead gridLayout:

`protected override void OnElementChanged(VisualElementChangedEventArgs e)

{

base.OnElementChanged(e);

        UIView view = this.NativeView;
        UIScrollView scrollView = (UIKit.UIScrollView)view.Subviews[0];
        scrollView.ShowsVerticalScro

[2019-11-27 13:56] jfversluis commented on #3480
I think the important line is the one above

So this has moved up to 4.5 at least

[2019-11-27 14:00] VladislavAntonyuk commented on #8690
you can build for Linux using GTK

[2019-11-27 14:17] jfversluis commented on #8577
I have actually confirmed that the fix in #8160 fixes this issue, so it is that problem

[2019-11-27 14:24] jfversluis commented on #8602
Confirmed this happening in the attached repro project.

[Repro8602.zip](https://github.com/xamarin/Xamarin.Forms/files/3897212/Repro8602.zip)

[2019-11-27 14:28] jantanis opened #8691 "A11y: TabIndex is ignored for first element on page for VoiceOver"
### Description
When setting all TabIndexes on the page. The first element on the page receives VoiceOver focus. Not the one with the lowest TabIndex. (Will start on NavigationBar if it is present.)

### Steps to Reproduce
1. Open attached solution
2. Run
3. Enable VoiceOver

### Expected Behavior
Voiceover starts on the element with the lowest TabIndex.

### Actual Behavior
The element on top of

[2019-11-27 14:35] jfversluis commented on #8670
Looks like the `Format` has no effect on UWP indeed. Looking at the code this might never have been implemented to begin with.

[Repro8670.zip](https://github.com/xamarin/Xamarin.Forms/files/3897254/Repro8670.zip)

[2019-11-27 15:30] jfversluis commented on #8689
If you would be able to provide that reproduction, that would be awesome!

[2019-11-27 15:51] techduggu commented on #8279
@Rajeswari06 When I fixed for Android, I had seen the existing implementation for iOS too as it also uses the `TemplatedItemsList.cs` from Core library and it requires little tweaks at the iOS `ListViewRenderer.cs` at the following LOC:

[code]
You can refer the PR #8310 for more details. I couldn't complete the iOS as I don't have mac/iOS but if you'd like to pick this up, I'm happy to help shoul

[2019-11-27 15:54] peter-raehse commented on #8633
@jfversluis Sorry that I have to ask: how can I do this the right way? If I remove Xamarin.Forms.Maps and update the Microsoft.AppCenter I can't install the recent version of Maps because of the version conflict and vice versa. Thanks!

[2019-11-27 16:02] jfversluis commented on #8682
Confirmed that this is happening in the reproduction.

If we implement the fix like suggested in the comment it will lead to #8420 so that is not the (complete) solution.

[2019-11-27 16:05] jfversluis commented on #8681
Asked for additional info and a reproduction in the feedback ticket since I can't find a corresponding user on GitHub.

[2019-11-27 16:26] jfversluis commented on #8678
This should not happen when all versions on all projects are inline and you made sure to rebuild and clean, etc. everything.

There is already an issue tracking this as well. I will close this one as a duplicate. If you have anything to add to that, please do it there or reopen if you feel that issue does not describe what you are seeing.

[2019-11-27 16:26] jfversluis commented on #8678
Duplicate of #8209

[2019-11-27 16:26] #8678 closed

[2019-11-27 16:30] jfversluis commented on #8677
I don't seem to have any issues with this working. Am I missing something?

![image](https://user-images.githubusercontent.com/939291/69741563-90e6aa00-113b-11ea-8b8c-901c8327e0bf.png)

[2019-11-27 16:33] AdamJachocki commented on #8492
Come on, can't believe it. Visual Studio Community 16.3.9, and Xamarin version - the one that is shipped with this version of Visual Studio.

[2019-11-27 16:33] jfversluis commented on #8669
Hey @Sevenish thanks for the report!

This seems to be a bit of an advanced case to reproduce. Would you be able to provide us with a reproduction project that we could look at?

Does have relation with #6483 and #4777

[2019-11-27 17:05] DCPad commented on #8262
En mi caso falla cuando hago modificaciones sobre el XAML con HotReload activo.

[2019-11-27 17:34] mugundhan-saravanan opened #8692 "TranslateTo method causes NRE in Xamarin.Forms Version(4.3.0.991211)"
# Description

TranslateTo method causes NRE in Xamarin.Forms Version(4.3.0.991211).

### Steps to Reproduce

1.  Run the sample.
2.  The NRE is reproduced in the TranslateTo method.

### Expected Behavior
The Label should be displayed.

### Actual Behavior
NRE is reproduced.

### Basic Information

- Version with issue: 4.3.0.991211

- Last known good version: 4.3.0.947036
- UWP: 1903

### Reprod

[2019-11-27 17:48] graposo1 commented on #2678
I find this to be a major issue but k.

[2019-11-27 19:28] Elashi commented on #7529
@samhouts I discovered that I am still struggling with it.  even with 13.2
I had to switch to ListView again.  I am too busy these days.

I will try to create a project that duplicates the problem as soon as I get a break from the projects that I have on hand.

[2019-11-27 20:16] jfversluis commented on #8671
Yep, I see this in the reproduction project that is attached.

@WilkoThomassen Although you are saying this was working in 4.3.0.819712-pre2 I don't seem to see that when I install that package on your reproduction project?

[2019-11-27 20:47] jfversluis commented on #8600
Hey @SubburajPandianV thanks for the report!

I'm afraid I don't quite understand what is going on. You mention all kinds of issues and fixes and if I read it correctly everything seems fixed?

Could you give some more information and like Samantha mentioned; a reproduction project? Thanks!

[2019-11-27 21:00] davidortinau opened #8693 "[Bug] IndicatorView template resets when data updates"
### Description

All is well when first using the IndicatorView, but when my CarouselView's ItemsSource is updated the IndicatorView template reverts to the default dots.

Right:
![image](https://user-images.githubusercontent.com/41873/69758943-82da5e80-1126-11ea-9124-ee8f04cd17dd.png)

Wrong:
![image](https://user-images.githubusercontent.com/41873/69758972-908fe400-1126-11ea-9966-112d26a8230b.pn

[2019-11-27 21:06] hardikphd opened #8694 "[Bug] Crash in ListView When Source is ObservableCollection<T> and Empty with IsGroppingEnabled=True and HasUnevenRows=True"
### Description
We are facing **System.ArgumentOutOfRangeException** exception with message **Specified argument was out of the range of valid values.
Parameter name: index**

FYI,
I have ensured that only one thread can update ObservableCollection by using
Xamarin.Forms.BindingBase.EnableCollectionSynchronization(SafeObservableCollection, null, ObservableCollectionCallback);

And also overriden C

[2019-11-27 21:25] MartinZikmund opened #8695 "[Bug] [UWP] Adding a new item in Master-detail page causes the list to reload"
## Description

The problem was originally reported on StackOverflow by Lordalcol.

When the default template of Master-detail page is created and user navigates to add a new item and saves it, the list first appears invisible and fades with a delay instead of just one new item being animated in. In contrast, when the Cancel button is tapped, the list does appear immediately.

### Steps to Reprodu

[2019-11-27 21:51] kmcclive commented on #1658
I was still able to see the button when setting the background color.  Setting the Opacity to 0 makes it truly invisible.
[code]

[2019-11-27 22:42] Sevenish commented on #8669
I have created a repro. It has 3 buttons. The first calls the Xamarin.Forms implementation (fails). The second calls a copy of the implementation in the project (fails). The thirds calls a fixed copy of the implementation (succes)
[DisplayAlertProblem.zip](https://github.com/xamarin/Xamarin.Forms/files/3899054/DisplayAlertProblem.zip)

Yes this is connected with #6483 (Multi-window UIKit API). Alt

[2019-11-27 23:26] RhomGit commented on #8225
I have uploaded a basic repro here: https://github.com/RhomGit/XamarinRepros
Android works as expected, iOS 13 looks like below and doesn't work.

Note: this isn't an exact duplication of the issue above but I don't have more time to spend on this right now.

![2019-11-28_07-16-08-AM](https://user-images.githubusercontent.com/25700833/69765709-fd02f580-11af-11ea-95ce-c5dcfdab13db.png)

[2019-11-28 00:31] kvpt commented on #8262
I have been able to work on this lately.
I identified the root cause which affect the reproduction app.
I found a solution which seem to fix the issue but I'm not sure if it is the right way to fix the issue at the moment.
I need more time to confirm that and test other approach.

Here a nupkg version to test the modification. The zip extension need to replaced by nupkg (github limit file upload e

[2019-11-28 01:24] curtisconner commented on #8498
Guys, Curious if this is going to be fixed in the near future since it a basic need in the application, without the ability to navigate its hard to test more of the basic system

I notice it has a tag of e/5 but my other bug has an e/4. this bug is way more important than the other one by far

[2019-11-28 04:31] brunck commented on #5386
I can get this to work by using @ilkeSylmz suggestion above on 31 Jul 2019, but the toolbar item is still initially enabled.

I can set it to be initially disabled by (using their example), setting `CanAddItem` to `false` in the `Page.OnAppearing()` or whatever your preferred method of setting behavior when your page appears. Since the property setter invokes `CanChangeExecute()` that will ultimat

[2019-11-28 04:34] rbev commented on #8262
Was going to test out your fix but unfortunately my project is affected by this https://github.com/reactiveui/Pharmacist/issues/77 that stops me from trialling it.

[2019-11-28 07:05] pellet opened #8698 "[Bug]"
Bringing this open ticket over from the xamarin forum since it is still an issue and getting constant crashes on xamarin forms 3.5.
Previous discussion about the same issue was here:
https://forums.xamarin.com/discussion/90940

Steps to Reproduce
Swipe down top nav bar while app is open.
Use buttons to change song playing.
Go back into app.
Expected Behavior
Actual Behavior
Version Information
Log

[2019-11-28 07:05] pellet commented on #8698
I managed to fix this three year old bug in our app by doing the following:

            var formsAppDelegate = compositionRoot.ResolveApp();
            LoadApplication(formsAppDelegate);
            formsAppDelegate.MainPage = formsAppDelegate.MasterDetailPage;
Previously we would assign the mainpage in the constructor of the app class however on second time around of the MainActivity being crea

[2019-11-28 07:16] HobDev opened #8699 "[Bug]Shell Navigation structure with HomePage page as FirstPage"
### Description
I am developing an app where the design requires loading of HomePage as firstpage. The Homepage show hamburger Icon. But it is not part of Hamburger Navigation. Please see [Grofers App](https://play.google.com/store/apps/details?id=com.grofers.customerapp&hl=en_IN) for example. The user can navigate to any Hamburger menu item and come back to Home page again. I need to implement sa

[2019-11-28 07:18] curtisconner commented on #8498
[8498_Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3900363/8498_Repro.zip)
Looks like the repro does not include a UWP project, I have updated it to include the UWP project

[2019-11-28 07:33] tomerdomshlak commented on #8495
Same happens here.

[2019-11-28 08:43] kvpt commented on #8262
@rbev You have two ways to install it.
Use a private feed like AzureDevOps Artifacts, MyGet or other ...
Or you can install the feed from a local path, nuget source can be either http url or directory path.

[2019-11-28 08:48] rbev commented on #8262
Installing it from a local feed was fine, however our build process requires Pharmacist to run and it has an open bug on not supporting private feeds.

[2019-11-28 08:59] Denrage opened #8700 "[Bug] [Android] CollectionView don't set BindingContext in Header"
### Description
When adding a header to the CollectionView the BindingContext does not get propagate to it on Android. On iOS everything is fine.

### Steps to Reproduce

1. Start reproduction project on Android and iOS

### Expected Behavior
The BindingContext will be set for the Element inside the header
### Actual Behavior
The BindingContext gets only set on iOS not Android
### Basic Informatio

[2019-11-28 09:01] WilkoThomassen commented on #8671
Let me try to clarify a bit:

when I open the solution attached and I deploy to my **iPhone 6 (12.4)**, then next button will **not** work (carousel won't slide to the next page).
but then when I install **4.3.0.819712-pre2** on the solution for all projects and I redeploy the app to the iPhone, the next button will work (will slide to the next page).

Is this exactly like how you checked it?

[2019-11-28 09:04] WaiseFass commented on #8689
Here you can find the source code for this example: https://github.com/WaiseFass/RefreshViewDemo

[2019-11-28 09:14] Just89 commented on #8671
I'm facing similar problems on Android 10.0.

When swiping from the second to last, to the last page of the carrousel and back (from the last to second last) the CurrentItem does not get updated.

I've tried override OnCurrentItemChanged and OnPositionChanged but these functions are not called when preforming the described action.

Even tried to override OnPropertyChanging and OnPropertyChanged bu

[2019-11-28 09:48] Zure1 commented on #8656
According to [issue 3172](https://github.com/xamarin/Xamarin.Forms/issues/3172), CollectionView should have a property named **IsHeaderSticky**. However, I can't find it - @cabal95 also stated that in issue 3172.

Is this feature still planned for CollectionView?

[2019-11-28 10:26] jfversluis commented on #8698
Hi @pellet thanks for bringing this under our attention again.

Am I understanding correctly that this is an issue for you in 3.5? Is this still an issue in more recent versions? Would you be able to provide some more info as requested in the bug template including a descriptive title and reproduction project?

Thanks!

[2019-11-28 11:05] jfversluis commented on #8695
Coincidentally I noticed this question on StackOverflow but didn't see the problem then. But now I see what you mean. However, is this an actual problem in the SDK or is this just something that is solved the wrong way in the default template for this?

[2019-11-28 11:26] HobDev commented on #6801
@samhouts  @PureWeen  This issue is still present in latest xamarin.forms 4.3.0.991211. I unwanted line is present below the flyoutitems in iOS.

[2019-11-28 11:53] aloptrbl commented on #6543
does it solved? i have issue pass params and assign in variable. Hope get ASAP feedback.

[2019-11-28 11:53] #7400 closed

[2019-11-28 13:01] jfversluis commented on #8693
Confirmed with latest nightly. Happens on both Android and iOS.
On iOS the indicators disappear as a whole

[2019-11-28 13:09] McFlemchSoda opened #8701 "A11y Android: The backbutton is pronounced "Button Unlabeled" when titles are set"
### Description
Having a navigationpage and activating talkback on android pronounces the back button as "Button Unlabeled" while all titles are set.

### Steps to Reproduce
1.  Open attached solution
2. Run on android
3. Enable talkback

### Expected Behavior
Read the title provided or read it as back button to previous page.

### Actual Behavior
Ignores all titles and reads "Button unlabeled"

#

[2019-11-28 13:18] jfversluis commented on #8700
Happens on Android, not iOS. Also, `Footer` has the same issue.

[2019-11-28 13:27] jfversluis commented on #8699
Hi @HobDev thanks for your issue!

I'm not entirely sure if I understand you correctly. I see that you want to have some kind of home page that does not have an entry in the hamburger menu? How would people go back to that homepage after navigating away?

I don't think that scenario is currently supported unless I am mistaken (cc: @PureWeen), you might be able to benefit from this #7847 where you

[2019-11-28 13:38] MartinZikmund commented on #8695
I think the problem is in the UWP implementation of list control, so it should be resolved on the level of XF, not the template. The implementation in the template seems to be fine. I think the problem must be somewhere in the activation of the control, which identifies the newly added item as a collection reset.

[2019-11-28 13:43] jfversluis commented on #8675
Thanks @simspace-dev! Unfortunately I am not able to reproduce this behavior.

I pulled down the code, renamed the control a couple of times like you mentioned and then built the Android project but I don't see the error you are seeing. Am I overlooking something? What version of VSMac are you using?

[2019-11-28 14:23] jfversluis commented on #8517
It seems that the search bar does not respect the RTL settings. However, with the attached project when I set the `Window.DecorView.LayoutDirection = LayoutDirection.Rtl;` in `MainActivity.cs` _and_ `FlowDirection="RightToLeft"` on the Shell all seems good?

![image](https://user-images.githubusercontent.com/939291/69813544-baaed800-11f2-11ea-80b7-0c63c2df3cc5.png)

Still, this needs to be fixed s

[2019-11-28 15:04] jfversluis commented on #8553
I confirmed that this is not working with any of the packages available right now. However, switching to our nightly feed, I find that the latest package there actually does have this working.

Searching a bit more on GitHub I found that this is a duplicate of #7181 and is fixed in 4.3 and up. A new 4.3 and 4.4 release should be available any day now so be on the lookout for that one :)

Closing t

[2019-11-28 15:04] jfversluis commented on #8553
Duplicate of #7181

[2019-11-28 15:04] #8553 closed

[2019-11-28 15:14] caesarm opened #8706 "[Bug] NullReferenceException in MaterialActivityIndicatorRenderer"
### Description
I recreated this [bug ](https://github.com/xamarin/Xamarin.Forms/issues/6968) that crashes the application in iOS with a NullReference exception.

### Steps to Reproduce

1. Use a mater detail page with Material Visual.
2. Set IsVisible and IsRunning on the ActivityIndicator l from true to false on a page.
3. Navigate to a second page.
4. Return to the first page.
5. Set the IsVisi

[2019-11-28 15:17] HobDev commented on #8699
Hi @jfversluis In repro sample you will see that Homepage is in the Navigation stack. User can go back to HomePage by pressing backbutton. It is same as [Grofers](https://play.google.com/store/apps/details?id=com.grofers.customerapp&hl=en_IN) app in the play store.
It is one of the requirements of the app design. If it is not supported please consider this a feature request.

[2019-11-28 15:36] StephaneDelcroix commented on #7761
that's not how x:Code is supposed to be used, and we do not have immediate plans to support x:Code

[2019-11-28 15:36] #7761 closed

[2019-11-28 15:51] KoenMat opened #8707 "[Bug] Android: Entry with ClearButtonVisibility="WhileEditing" not editable if page is displayed a second time"
### Description
If you have an entry on a page with ClearButtonVisibility="WhileEditing", you can only edit the entry the first time the page is displayed. If the page is displayed a second time, the entry doesn't work anymore.
You can easily see this in a shell-application. I modified the "Xanimals"-solution. In the about-page I created two entries, one with ClearButtonVisibility="WhileEditing" a

[2019-11-28 16:23] Mikilll94 opened #8708 "[Bug] There is no way to customize WkWebView"
### Description
On iOS **WKWebView** has **CustomUserAgent** property. I want just to set this property without breaking the functionality of **WKWebView**. How can I do it?

When I created a custom renderer like this:

[code]

I noticed that I have no access to **Control** property I cannot make any customization of the WebView.

if I instead inherit from

```ViewRenderer<MyWebView, WKWebView>```

[2019-11-28 16:25] Mikilll94 commented on #8432
Really there is no solution?

On iOS this is possible via **CustomUserAgent** property

https://docs.microsoft.com/en-us/dotnet/api/webkit.wkwebview.customuseragent?view=xamarin-ios-sdk-12

[2019-11-28 17:15] GalaxiaGuy commented on #8708
Looking at the source code, it seems `WkWebViewRenderer` is itself a `WKWebView`.

[2019-11-28 17:27] BRB2000 commented on #7314
We urgently need this. Especially if you don't want to show the NavigationBar, it becomes quite tricky. This is absolutely necessary in so many scenarios. I, for example, need to change the bar-color in a ContentPage inside of a NavigationPage that itself is a child of a TabbedPage. I've optimized the app for Dark Mode, but the StatusBar is really troubling me. The font on the status bar automatic

[2019-11-28 17:48] hjharvey-MSFT commented on #5187
to further this, on iOS the stacklayout overrides the CollectionView Selection Event

[code]

if you run this code the CollectionView SelecteItem isn't changed and the SelectionChagnedCommand isn't called. All that is called is the  TapGestureRecognizer

[2019-11-28 17:54] pdamco commented on #8655
[Sample.zip](https://github.com/xamarin/Xamarin.Forms/files/3902722/Sample.zip)

Sample is attached for reproduction.

[2019-11-28 18:12] #8529 closed

[2019-11-28 18:30] pdamco opened #8710 "[Bug]Blank Space in TabbedPage Xamarin.iOS 13"
Version with issue:

Last known good version: iOS 12 | Xamarin.iOS 12

IDE: VS Mac 8.3.10

Platform Target Frameworks:

iOS: 11.2
Android: 10
Nuget Packages: 3.4

Affected Devices: iOS

XF version is 3.4 but i have tryed to upgrad to 4.3 nothing happened same space is showing.
iOS version is 13
This is only on iOS not happening on Android.

Blank Space is showing after installing Xamarin.iOS 13. T

[2019-11-28 18:31] pdamco commented on #8655
Duplicate of #8710

[2019-11-28 18:35] hjharvey-MSFT opened #8711 "[Bug][iOS] TapGestureRecognizer overrides CollectionView touch events. (iOS)"
###Description
If a parent view has a TabGestureRecognizer then the CollectionView touch events aren't fired. For example both the SelectionChangeCommand isn't fired nor is the SelectedItem updated.
Also this could be any parent view in the chain of views, doesn't have to be a direct parent as it seems views pass TabGestureRecognizer event along to children
### Steps to Reproduce

View
[code]
View

[2019-11-28 18:49] jfversluis commented on #8655
Since the linked issue holds a bit more info I will close this one in favor of that one. Thanks for the additional info!

[2019-11-28 18:49] #8655 closed

[2019-11-28 18:59] jfversluis commented on #8710
Thanks for the reproduction @pdamco!

If I run it though, I don't see anything weird... What am I supposed to see?

<img width="505" alt="Screenshot 2019-11-28 at 19 55 08" src="https://user-images.githubusercontent.com/939291/69827749-0eccb300-1219-11ea-9017-7e325375ab07.png">

The other thing I am noticing is that you are using a custom renderer to hide the actual tabbar and render your own. Whi

[2019-11-28 20:04] jfversluis commented on #8640
Confirmed that this is happening. Tried a couple of different things to make it size to content, but it seems to always take the full available height. Happens on Android.

On iOS is NREs altogether, stack trace is below. Not sure it it's related to this though. iOS error seems more of an Shell issue

  at System.RuntimeType.CreateInstanceMono (System.Boolean nonPublic, System.Boolean wrapExceptio

[2019-11-28 20:09] jfversluis commented on #8638
Yep, agreed. Even if there is no looping it makes sense to keep the first and last item centered so they should have some padding/inset/whatever. Happens on both iOS and Android.

[2019-11-28 20:29] jfversluis commented on #8616
When going to the page the first time it indeed gives that console output and then doesn't show anything. Still happening with the latest nightly.

Android also doesn't seem to work, but this seems due to some error the images cannot be loaded. Although, that might have something to do with it... Maybe the images don't load immediately, that's why the size goes to 0 and things get messed up? Just

[2019-11-28 20:34] Mikilll94 commented on #8708
@GalaxiaGuy
Yes. WkWebViewRenderer inherits from WKWebView. But how can I set some properties of WKWebView in my Xamarin.Forms code?

[2019-11-28 20:35] jfversluis commented on #8699
Maybe I'm not understanding something but I don't see the homepage in the hamburger menu

![image](https://user-images.githubusercontent.com/939291/69830834-e1870180-1226-11ea-914b-156dbf9f068c.png)

Am I missing something here? :)

Also, if we want to consider this a feature request we are going to need a lot more detail on what you are trying to do here. The way I think I understand what you mea

[2019-11-28 20:38] jfversluis commented on #8225
There is definitely some funny stuff going on here. Thanks for all the info everyone! If you discover some more or are able to provide more reproductions that will be super helpful!

[2019-11-28 23:41] GeoSaffer commented on #7529
It does crash on iPhone 4s with iOS 9.3.6 as well and since the iPhone 4s seems on max OS don't really see a fix by upgrading the OS

[2019-11-29 01:23] stesvis commented on #8637
Hello @samhouts  can you try the one I have attached?
After log in, go to the Inventory tab, click one of the camera icons and scan this barcode:
![pasted-image-0-1](https://user-images.githubusercontent.com/6062684/69837429-00c46580-120c-11ea-892a-3e170b683b9b.png)

[levitica-organeyes-scanner-6536d4cb0ca4.zip](https://github.com/xamarin/Xamarin.Forms/files/3903361/levitica-organeyes-scanner-6536

[2019-11-29 01:35] pellet commented on #8698
I'll try adding more info.  The current documentation is wrong in regards to this as in the way to hook up xamarin forms from a mainactivity.  I will assume the issue still exists in the most recent version of xamarin forms, I am unable to upgrade yet as I ran into some issue relating to KitKat but I can try upgrading the app again soon.

[2019-11-29 06:08] pellet commented on #8698
The crux of the issue here is that by the documentation standard and general design of xamarin forms MainActivity.OnCreate is expected to be called once per app lifetime, hence putting the initialization code into there.  It will however can be called multiple times, therefore calling the boilerplate hooks a second time, the app constructor will not be ran the second time around and the mainpage w

[2019-11-29 08:27] dhindrik opened #8712 "[Bug] SelectionChanged when SelectionChangedCommand handles navigation"
### Description
I have a CollectionView where I use both a SelectionChangedCommand and the SelectionChanged event.

[code]

I adding an event handler to SelectionChanged in an override of OnAppearing and removing it in an override of OnDisappearing.

[code]

### Expected Behavior
SelectionChanged event handler should run/triggered before OnDisappearing.

### Actual Behavior
OnDisappearing runs fir

[2019-11-29 08:45] jfversluis commented on #8698
What is that assumption based on? There is _a lot_ or work done between 3.5 and 4.4 that is almost upon us. I totally understand where you are coming from and I want to help you, but it's a bit hard without any actual reproduction against the latest code. I hope that is something you can understand.

Based on this information it's a bit hard for me to see what you mean and how to reproduce this my

[2019-11-29 09:06] Hottemax commented on #8477
I was not sure if the original reporter is supposed to close it ...
Thanks for the swift and to-the-point handling of reported issues!

[2019-11-29 09:06] #8477 closed

[2019-11-29 09:07] jfversluis commented on #8477
Hey, you are the one opening it, that gives you the right to do whatever your want with it 😉

Thanks for the kind words @Hottemax ! If there is anything else we can do for you, please let us know!

[2019-11-29 09:10] jfversluis commented on #8608
Agreed there is something weird going on here. I also have a lot of times where I scroll through the items and the `CarouselView` seems to scroll a few items back. Also land on an item that is only half visible is a possibility.

[2019-11-29 09:19] jfversluis commented on #8708
It seems there is indeed at this time no way to do this without breaking the Xamarin.Forms navigation events. I see you already also opened an enhancement for this which I think is more appropriate. Therefore, I will close this one as a duplicate.

Another issue that is relevant to this is #6340 which describes a solution for this.

[2019-11-29 09:19] jfversluis commented on #8708
Duplicate of #8432

[2019-11-29 09:19] #8708 closed

[2019-11-29 09:22] jfversluis commented on #8432
Thanks for the suggestion! It seems indeed that there is no way to do this right now. If it's something we can do for all platforms we might be able to easily do this. An issue that is also linked to this is #6340 which will allow you to add your own delegates without breaking the Xamarin.Forms navigation events etc.

[2019-11-29 09:29] jfversluis commented on #8712
Hey @dhindrik thanks for the report!

I'm not entirely sure what you mean though, sorry! I do see the code for the `CollectionView`, but not the appearing or disappearing you mention.

Would you be able to add a reproduction project showing the issue here?

Thanks!

[2019-11-29 09:30] denzerd opened #8713 "[Bug] Popover MasterDetailPage not animating on iPad"
### Description
I started a new app and wanted to use the MasterDetailPage as a Hamburger slide in/over menu.
I have another project where this works perfectly fine.

However in the new project the menu is not animating when appearing or disappearing it is just there or not. No animation at all.
I spend a couple of days now searching for a reason and solution for that but no luck.
The only differe

[2019-11-29 09:38] jfversluis commented on #8711
Looks similar to #2026 and #2180 but now for `CollectionView`.

Out of curiosity; what is your use case for this? Are you missing something in `CollectionView' that you have to solve a problem this way?

Did you try this on Android? Did it work there? And if you would be able to, could you add a small reproduction project that shows this issue?

Thanks!

[2019-11-29 09:55] dhindrik commented on #8712
I have updated the original post with a repo link (https://github.com/dhindrik/CollectionViewBugRepro) and additional information.

When I created the reproduction project I noticed that it only behaves like this if I am using Shell.
First I used the "old" way with a NavigationPage, and then the event handler executed before the OnDisappearing override.

[2019-11-29 10:07] Swiftee commented on #7166
I've got the same issue too. Are there any workarounds?

[2019-11-29 10:21] jfversluis commented on #8713
Hey @denzerd thanks for the report!

I've tried your reproduction project with Xamarin.Forms 4.3.0.991211 on an iPad Pro 13.2 where it seems to work.

![Screen Recording 2019-11-29 at 11 11 19](https://user-images.githubusercontent.com/939291/69861779-56931f00-1299-11ea-9f02-2ed69a2c326b.gif)

Running that exact same project it indeed seems to not animate.

Downgrading to 4.2.0.709249 seems to wor

[2019-11-29 10:25] Mikilll94 commented on #8432
@jfversluis

I think it is easy to implement that feature on Android and iOS.

On iOS **WKWebView** has **CustomUserAgent** property.

On Android it is also easy:
[code]

[2019-11-29 10:28] jfversluis commented on #8432
@Mikilll94 I'll gladly see that PR incoming 😉

Do you have any idea about UWP?

[2019-11-29 10:46] jfversluis commented on #8706
Switch to the about page and then back and the app crashes. Seems like the control is already disposed and then is tried to layout.

@caesarm thank you! Did you by any chance try this on Android? I suspect it works there?

Stacktrace:

  at (wrapper managed-to-native) ObjCRuntime.Messaging.void_objc_msgSend(intptr,intptr)
  at CoreAnimation.CALayer.LayoutSublayers () [0x00008] in /Library/Framewor

[2019-11-29 11:00] erdugen commented on #7796
I have same issue on ios. TailTruncation not working.

[2019-11-29 11:23] Tum4ik commented on #8227
I have the same issue.

[2019-11-29 11:57] nwikechisom commented on #5414
@GalaxiaGuy still on this CollectionView, I used:
`<TapGestureRecognizer Command="{Binding Source={x:Reference Name=DashPage}, Path=BindingContext.TopupCommand}" CommandParameter="{Binding .}"/> `

this triggers the Command but the CommandParameter is not sending the current item even though I used `{Binding .}`  It sends the first item instead

how can I fix this?

[2019-11-29 12:06] Mikilll94 commented on #8432
@jfversluis
I have no idea about UWP. I don't use UWP. But I have found these links:

https://www.pedrolamas.com/2017/03/21/setting-a-custom-user-agent-in-the-uwp-webview-control/
https://stackoverflow.com/questions/39490430/change-default-user-agent-in-webview-uwp

I think setting custom user agent for UWP is much harder than for iOS and Android. Maybe we can just skip UWP if there is no clean wa

[2019-11-29 12:13] MarcKammermann opened #8714 "Button shows artifact on click when it has background color on Android"
### Description
When a button gets a background color it shows a little square shape in the top left corner.
See this vid: https://vimeo.com/376347411
This happens to me on Android 7 and 8, Android 9 doesn't have this issue.

Can't be a fault of my code, I created a new solution and just inserted two buttons like in the video.
Code of xaml containing the buttons:

<ContentPage xmlns="http://xamari

[2019-11-29 13:23] hjharvey-MSFT commented on #8711
@jfversluis Sorry Gerald, your reading the XAML wrong. the TabGestureRecognizer is on the parent view of the Collection view, not on a collectionviews ViewCell as the other examples state.

The parent view, say a stacklayout, has a tap feature that does one thing, and the collectionview should not allow the parents touch functions to override its own functions.

on Android this works fine. I can u

[2019-11-29 13:27] hjharvey-MSFT commented on #8711
[SelectionChangeIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/3905336/SelectionChangeIssue.zip)

[2019-11-29 14:06] brcinho commented on #5161
I have something similar in 4.4.0.991210-pre2
IPhone 7, iOS v13.1.3

NullReferenceException

  at Xamarin.Forms.Platform.iOS.StructuredItemsViewRenderer

have a lot of IsVisible Bindings and other bindings in my XAML
in XAML you can mainly find two CollectionViews, StackLayout, FlexButtons
It is reproducible when one of the Collectionviews visibility changes from hidden to IsVisible and back to hi

[2019-11-29 14:15] brcinho opened #8715 "NullReferenceException Xamarin.Forms.Platform.iOS.StructuredItemsViewRenderer [Bug]"
Xamarin Forms 4.4.0.991210-pre2
IPhone 7, iOS v13.1.3

NullReferenceException

at Xamarin.Forms.Platform.iOS.StructuredItemsViewRenderer

have a lot of IsVisible Bindings and other bindings in my XAML
in XAML you can mainly find two CollectionViews, StackLayout, FlexButtons
It is reproducible when one of the CollectionViews visibility changes from hidden to IsVisible and back to hidden, and then i

[2019-11-29 14:22] brcinho commented on #8715
Reminds on this [issue 5161](https://github.com/xamarin/Xamarin.Forms/issues/5161)

[2019-11-29 14:24] brcinho commented on #8715
Unfortunately we need to have multiple FlyoutItems in AppShell because we use it only for navigation drawer (hamburger), no bottom tabs, and when we have more then 5 menu items in a FlyoutItem, the styling of the appbar/toolbar is broken for the pages 6+ on iOS

[2019-11-29 14:39] lanarchyste opened #8716 "[Bug] Blank page when displaying the master page on Samsung device"
### Description

When displaying the master page, the screen displayed is white.
Currently, the issue appears only on the Samsung S9 phone with Android 9.0

Not having the phone concerned, I can not test the various corrections that can be proposed to me

### Steps to Reproduce

Here is an example of the code reproducing the error:

[code]

### Expected Behavior

Display the content of the page in

[2019-11-29 14:47] Robbert-jansen commented on #8225
This happens when the CarouselView OR the parent view isn't visible whilst the page loads.

So with the below code it won't ever show up again.
[code]

Putting it in the OnAppearing method  is fine however, as that is after the page is done loading, toggling it back on later makes it show up like it should.
[code]

[2019-11-29 15:26] brcinho commented on #8715
How collection view item template looks like:

             xmlns:ff="clr-namespace:FFImageLoading.Forms;assembly=FFImageLoading.Forms"
             xmlns:material="clr-namespace:XF.Material.Forms.UI;assembly=XF.Material"

<CollectionView.ItemTemplate>

                    <DataTemplate x:DataType="mvvmData:SelectableItemVM">
                        <ContentView>
                            <mater

[2019-11-29 15:36] tiagobpompeo opened #8717 "[Bug] ListView with CacheStrategy have a strange behavior when rendered the cells in iOS."
### Description

I am using List View to display my content within a Frame. As soon as the content is loaded it presents a content overlay not respecting the list settings, but when I scroll the list that automatically are adjusted. I am using CachingStrategy = "RecycleElement", HasUnevenRows = "True" and Frame Layout (card) in ViewCell.

### Steps to Reproduce

1. Just run the attached app

### E

[2019-11-29 15:38] yurkinh opened #8718 "[Bug] [Android] CollectionView jittering on Android with with GridItemsLayout"
### Description
I tried to reproduce UI of one popular music app (DI.FM).
During implementation of page with styles I have encountered issue with collectionview and images. Fast scroll on CollectionView with lots of images produces jittering on Android.
I have tried Image, ffImageLoading:CachedImage (a bit better), Image with  GlideX(a bit better).
While it works perfectly smooth on ios even with

[2019-11-29 17:32] petermajor opened #8719 "[Bug] iOS collection view items are misaligned with background"
### Description

On iOS, it's not possible to align content with the collection view item background, if a background colour is set.

This image for an example of what I mean:

<img width="555" alt="Screenshot 2019-11-29 at 17 25 48" src="https://user-images.githubusercontent.com/6995790/69883727-4e54d700-12cd-11ea-82f5-bd99b67198ed.png">

This was produced with this Xaml:
<img width="556" alt="Sc

[2019-11-29 18:05] DanwithArduino commented on #7833
Exact same issue for me.

[2019-11-29 19:07] TomOnd commented on #8692
Same issue reason as #8682 Dispatcher is null. Can be resolved by #8696.

[2019-11-29 19:20] jfversluis commented on #8716
If you don't mind me asking, then how do you know this happens? :)
This exclusively happens on the Galaxy S9? Just one device? Or have you seen multiple?

I hope you understand that this might be a hard issue to crack

[2019-11-29 19:22] jfversluis commented on #8715
While I understand you might not have the time, I hope you understand that this will probably also mean that we won't be able to solve this any time soon. Having a reproduction will greatly help us identify and solve the problem.

[2019-11-29 19:27] jfversluis commented on #8714
I'm going to assume that you are using Shell, in that case this is a duplicate. I will close this one, please track the progress and add your findings there. If you think this is a different problem from that one, please feel free to reopen.

[2019-11-29 19:27] jfversluis commented on #8714
Duplicate of #8385

[2019-11-29 19:27] #8714 closed

[2019-11-29 19:28] jfversluis commented on #8385
Seeing #8714 this is not specific to the `StaticResource`

[2019-11-29 19:49] jfversluis commented on #8712
I'm sorry, but I still don't quite understand what you mean. The fact that you hook or unhook an event doesn't mean that it's suppose to trigger, right?

I'm not sure what it supposed to happen or not :)

[2019-11-29 19:50] jfversluis commented on #8432
Implementing a solution like this will require to support at least Android, iOS and UWP

[2019-11-29 19:53] jfversluis commented on #8719
Thanks for the report @petermajor

It seems your reproduction project is incomplete? Forgot to push to the repo? :)

[2019-11-29 20:04] jfversluis commented on #8717
Thank you @tiagobpompeo !

The reproduction is much appreciated. I do however see that it's using an older version of Xamarin.Forms. Did you try this with a more recent version?

Also, when running the reproduction I don't see the list come up. Do I need to do anything for that?

[2019-11-29 20:16] jfversluis commented on #8718
I don't see anything weird with how the images are loaded. Images are not too big. Yet the scrolling is not very smooth.

[2019-11-29 20:23] yurkinh commented on #8718
Yes. But on ios scrolling is very smooth.
Also you can download original [app] (https://play.google.com/store/apps/details?id=com.audioaddict.di&hl=en) from PlayMarket  and check the same page. Scrolling is very smooth on Android in original app with approximately same amount of images. Original app is written with (Xamarin.Native)

[2019-11-29 20:28] jfversluis commented on #8689
Thanks for the reproduction! Much appreciated!

On iOS it seems to work, do you see that as well @WaiseFass ?

Might be related to #8617

[2019-11-29 20:54] dhindrik commented on #8712
When using Shell the event handler is unregistered in OnDisappearing when I select an item in the collection view before it trigger the event handler. OnDisappearing runs because that I am doing a navigation in the view model. This will not happen if I not using Shell. And I want to unset the selected item so I can navigate back and still Be able to select the same item again.

Maybe things would

[2019-11-29 20:55] dhindrik commented on #8712
Try to run the code and set breakpoint in both event handler and OnDisappearing and you will see what order things are executing.

[2019-11-29 21:14] petermajor commented on #8719
Sorry @jfversluis, I did forget to push. Try again

[2019-11-30 06:56] bmacombe commented on #8363
Keep in mind that the Keyboard type doesn't mean much on most UWP devices unless they are being used in tablet mode.  So setting Keyboard to numeric on UWP won't typically give the user any indication it's supposed to be numbers only and it will still allow entry on non-numeric chars.

Given that just adding an IsPassword might do it.  If the use case requires more detailed validation like, date,

[2019-11-30 07:00] azizkazdal commented on #5781
@pauldipietro TapGestureRecognizer does no fire on android.

`                        <DataTemplate>
                            <StackLayout>
                                <StackLayout.GestureRecognizers>
                                    <TapGestureRecognizer Command="{Binding SelectionChangedCommand}" CommandParameter="{Binding .}"/>
                                </StackLayout.GestureReco

[2019-11-30 07:48] pdamco commented on #8710
![Screenshot 2019-11-30 at 1 13 34 PM](https://user-images.githubusercontent.com/40819488/69897581-e0171f80-1373-11ea-8019-12c1b6cc1141.png)

I have tried these ways but nothing working.

[2019-11-30 11:03] Alex-111 commented on #6451
Please at least add an option for the user to control the layout.
There are plenty of users out there who need this feature!
At least there is a chance to correct this in the new collectionview control!

[2019-12-01 00:35] nexxuno commented on #8117
Hello again, we are using hybrid aot as means of code obfuscation so we are stuck and cannot deploy new versions anymore, did you have time to investigate this issue?

[2019-12-01 01:55] #7323 closed

[2019-12-01 12:44] asusralis commented on #7685
I still have this problem too. Above is says it will be in the latest hot reload update, but I'm not sure where that is released to.

[2019-12-01 15:06] HobDev commented on #8699
@jfversluis Thanks for the support. Fortunately the solution is available in the shell. The app requires the HomePage to be the center of the app. I declare Homepage as Tab in the AppShell. I declare it before other items so that it become root page.
Then I declare a bunch of Menu Items after the Tab. This is all I want. Now I can Navigate away from the Home page by clicking on the MenuItems. Afte

[2019-12-01 15:06] #8699 closed

[2019-12-01 16:19] mzhukovs commented on #5733
Yep, similar situation for me, this throws that error on UWP:
[code]

Adding **UWP=Default** fixes it.

[2019-12-01 16:39] mzhukovs commented on #7341
Is this one in the pipeline?

[2019-12-01 17:09] ddillmancode commented on #7529
I was also having this same issue. For me, I was making a call during the OnAppearing of a page which will load the ObservableCollections ItemSource with some data. During this time when the loading is happening, the page would indicate to the user that there is some activity happening. This worked fine on Android, but for iOS 12.4 and Xamarin.Forms 4.1 this would continually crash with the origin

[2019-12-01 19:11] lavilaso commented on #7784
@PureWeen Ping!! My application depends on this working and I see that I will not be able to exit 3.6.x until this is fixed.

[2019-12-01 19:16] PureWeen commented on #7784
@lavilaso it looks like this one didn't get labeled quite right :-/

I've marked it as a regression and moved it into todo so it can get addressed

[2019-12-01 20:44] LeoJHarris commented on #7510
@samhouts Any ETA on when a fix will be available on this issue?

[2019-12-02 01:58] DRAirey1 opened #8722 "XAMARIN Linker is removing assemblies that have XAML-only references."
Using Visual Studio 2019 Community 16.3.10, Xamarin.Forms 4.3.0.991211.

I've got a Standard Library 2.0 project that produces XAML views.  It references XAML controls that I built in a separate library.
My program crashes at runtime with:

The VS designer has no problem finding this reference and will even complain when it isn't there.  If I place a reference to the shared library in the initiali

[2019-12-02 02:24] pellet commented on #8698
The assumption is based on the most recent sample code and documentation, mainactivity oncreate is still incorrectly thought of as something which is only called once per app launch which is completely incorrect, it's an android platform fact.
I'll check out the latest xamarin forms sample project and see if I can figure out a way to demonstrate the issue for you.

[2019-12-02 03:29] pellet commented on #8698
I can't recreate the issue unfortunately I think it's a complex issue to reproduce.  The crashes I was getting in my app were related to the masterdetailpage renderer.  I think the xamarin documentation is actually ok because it is assigning the mainpage each time oncreate is called, because it reinitializes and reconstructs the app object each time the mainactivity is created(whether this is nece

[2019-12-02 03:29] #8698 closed

[2019-12-02 04:01] tuncayalt commented on #8417
Hi, is there a release time for this bug? I encountered it in v4.3.0.991211.
Thanks.

[2019-12-02 04:01] aloptrbl opened #8723 "[Bug] Can't pass xamarin shell param into string variable"
[QueryProperty("Id", "id")]

  string id = null;
        public string Id
        {
            set
            {
                idx.Text = Uri.UnescapeDataString(value);
                id = Uri.UnescapeDataString(value);
            }
        }

and then i called id in Debug.WriteLine but not return the exact value like idx.Text.

[2019-12-02 06:36] VladislavAntonyuk commented on #8723
What is your input parameters and what result do you get in the output?

[2019-12-02 06:37] curtisconner commented on #8498
Not sure why this got closed, sorry

[2019-12-02 07:03] GnanaPriyaNamasivayam commented on #8621
Can you please the current status of this issue?

[2019-12-02 07:04] burrowj commented on #5786
I have a question on this.  The ability to drop and drag pins and drop and draw polyline and polygons along with their events would seem an almost standard feature for a maps plugin for Xamarin Forms.  I was wondering if Microsoft could take on this task?  If resources are low then where do I go to recommend Microsoft dedicate more resources to this?  This lack of function means I will use Xamarin

[2019-12-02 08:34] groege commented on #5232
bump

[2019-12-02 08:35] jfversluis commented on #7323
Small update on this: #8001 has been merged as a first step to the proposed fix. However, this does not mean the issue will be gone in an upcoming version yet.

As we have mentioned before, there is also something that needs to be changed in Xamarin.iOS for this to work. Whenever they will do that, the right Xamarin.iOS version together with this code (starting from 4.5), this will finally go away

[2019-12-02 09:30] jfversluis commented on #8719
Got it, thanks!

It indeed seems like something odd is happening, just on iOS. The `Bounds` are initialized with -1, but I would expect the boxes to move to the left and top, not to right and bottom... The custom renderer included might have some indication of a possible fix.

[2019-12-02 09:35] jfversluis commented on #8712
Gotcha! Would you say this basically describes it #6486?

[2019-12-02 09:39] jfversluis commented on #8710
What you are seeing is a concept introduced since the "notch iPhones" came out and is described here: https://developer.apple.com/documentation/uikit/uiview/positioning_content_relative_to_the_safe_area

Documentation specific to Xamarin.Forms can be found here: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/ios/page-safe-area-layout

Since this is not an issue in Forms I will be

[2019-12-02 09:39] #8710 closed

[2019-12-02 09:57] StephaneDelcroix commented on #8722
enabling XamlC should mitigate most of those issues. you probably should share a reproduction project. thanks

[2019-12-02 09:59] StephaneDelcroix commented on #8680
/cc @mgoertz-msft

[2019-12-02 09:59] StephaneDelcroix commented on #8679
/cc @mgoertz-msft

[2019-12-02 10:00] Sonic3R commented on #7341
I have same issue, when will be included and in which version ?

[2019-12-02 10:01] StephaneDelcroix commented on #8675
this issue hapenned at some point in 4.1 or 4.2, but should be long solved in 4.3

@simspace-dev  please attach a project triggering the issue.

[2019-12-02 10:03] jfversluis commented on #8711
This works on Android, not on iOS. Tried with latest nightlies.

[2019-12-02 10:04] JohnBot2013 commented on #1944
This is truly needed. Having to either hack or implement your own toolbar is a bit of an overkill for such an obvious omission. Please ...

[2019-12-02 10:08] jfversluis commented on #6298
Sorry about that @Robtom5! Seems there is no PR attached to this issue at this time.

[2019-12-02 10:23] dhindrik commented on #8712
Not really, I have not noticed any problems with OnAppearing.

[2019-12-02 10:25] #8508 closed

[2019-12-02 10:32] denzerd commented on #8713
@jfversluis
Ok great thank you for confirming, glad I can help improving Forms!

As I don't have an iOS 13 device (yet) I couldn't (and can't) test that on my side, however for me under iOS 12 the issue was in portrait and landscape as well.

Cheers

[2019-12-02 10:38] #8469 closed

[2019-12-02 10:45] Raystorm7 commented on #8546
Any news on this?
Thank you :)

[2019-12-02 10:56] jfversluis commented on #8546
Confirmed that this happens, only on iOS.

This might be a tough one. When a custom text or icon is supplied, we swap out the default back button provided by iOS with a toolbar item, causing the command to be invoked. Whenever we don't have a custom text or icon, the regular iOS back button behavior is used and therefore the command is not invoked.

Originates somewhere around here: https://github

[2019-12-02 12:09] Borjamao commented on #2859
Hi, any progress here?

Is there any way to get a Xamarin.Forms UWP application working in a tablet wich Windows 10 version is below FCU? It's wired you can develop against android, ios, but no some windows 10 with xamarin forms!

[2019-12-02 12:44] AntonEmelyancev opened #8724 "BindableLayout loses sync with source if RaiseChild is used [Bug]"
### Description
 During handling of `NotifyCollectionChangedEventArgs` `BindableLayout` honor only indexes of new/old items. 'RaiseChild' under the hood just reorders Layout's children collection and put certain element at the top of the `Layout.InternalChildren`. In that moment `BindableLayout` loses sync with source since layout's children collection was reordered though its `BindableLayout.Item

[2019-12-02 13:14] YZahringer commented on #2859
Support of Windows 10 build `14393` with `.NET Standard 1.4` is back on `XF 4.4`: https://github.com/xamarin/Xamarin.Forms/pull/7079

Issue to support Windows 10 build `10240`: https://github.com/xamarin/Xamarin.Forms/issues/8570

[2019-12-02 13:51] caesarm commented on #8706
Yes, the code works fine on Android. It was only an issue on iOS.

[2019-12-02 13:54] rnic99 commented on #8613
Has anyone had the chance to take a look at this issue yet?

[2019-12-02 13:56] DRAirey1 commented on #8722
What is  XamlC?  How do I enable it?

[2019-12-02 15:18] jhadz81 commented on #7751
Workaround that @REDECODE suggested to use Visual Studio 2017 worked for me.  Hours and hours wasted on this and it is not feasible for me to upgrade to Xamarin Forms 4 to get this bug fix as I am on Xamarin Forms 3.6.0.639721.  Would be nice for this to get fixed in Xamarin Forms 3.6 and VS 2019.

[2019-12-02 15:32] pamela032709 commented on #5786
I been fighting on this for over 2 years . and they never listen.

Pamela Rios

On Mon, Dec 2, 2019, 2:05 AM John <notifications@github.com> wrote:

[2019-12-02 15:54] m3talelite commented on #7795
I'm still experiencing this issue. Task.delay is not a work around for my use case, since sometimes I need to add over 100 to 1000 items. If I were to use the "workaround" task.delay(10) the users would have to wait 10 seconds just for a simple list to load. Any other suggestions?

[2019-12-02 16:16] hartez commented on #7804
This was addressed by #8588

[2019-12-02 16:16] #7804 closed

[2019-12-02 16:25] hartez commented on #8498
@curtisconner The `e` tags are a very, very rough estimate of the effort required to fix the problem; it has nothing to do with the importance of the issue.

[2019-12-02 16:37] hartez commented on #5414
@nwikechisom Sounds like you might be hitting a different (more recent) bug - could you please open a [new issue](https://github.com/xamarin/Xamarin.Forms/issues/new/choose)? Thanks.

[2019-12-02 17:07] #1704 closed

[2019-12-02 17:56] PureWeen commented on #7751
@jhadz81

Why?

Are you on the latest version of VS 2019? I was thinking they fixed this in the latest release of Mono

[2019-12-02 18:02] jhadz81 commented on #7751
Why?

Because I have a bunch of dependencies on NuGet packages that have not been upgraded to support Forms 4 and the client isn't going to pay me to rip out Forms 3, replace it with Forms 4, and find alternates to those packages that work with 4.  Plus there is no reason that this shouldn't work in Forms 3.  Not Forms 3 it old and unsupported.

I am on 16.3.7 and it looks like .10 is out.  I'll t

[2019-12-02 18:06] PureWeen commented on #7751
What packages?  We don't really use semantic versioning. The 3 to 4 doesn't really mean that it's breaking and all related packages have to also be on 4.

For the most part any packages you have compiled for 3 should work for 4.

If just updating to the latest XF 4 totally breaks your application the I would be curious as to why because it might be something we need to fix.

Ideally your upgrade f

[2019-12-02 18:59] nwikechisom opened #8727 "[Bug] The Command for TapGestureRecognizer inside CollectionView is invoked but the CommandParameter does not Bind to current item."
### Description

The Command for TapGestureRecognizer inside CollectionView is invoked but the CommandParameter does not Bind to current item.

### Steps to Reproduce

1. Create a Frame or RelativeLayout TapGestureRecognizer inside a CollectionView
2. Bind Command  to command in viewmodel of the page and set CommandParameter to CurrentItem as below:
`<TapGestureRecognizer Command="{Binding Source=

[2019-12-02 19:32] vsfeedback opened #8728 "Xamarin Forms iOS - Portuguese Brazil folder"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/632798/xamarin-forms-ios-portuguese-brazil-folder.html)._

---
Hello starting from Xamarin Forms 4.0, if we add resource file for Portuguese Brazil language
  culture as &quot;Resources.pt-BR.resx&quot;, upon compilation the framework creates folder in lowercase &quot;pt-br

[2019-12-02 19:35] samhouts commented on #8728
Originally https://github.com/xamarin/Xamarin.Forms/issues/6717

[2019-12-02 20:00] simspace-dev commented on #8675
Strange. I can reproduce this every time. This is the VSMac version:
![image](https://user-images.githubusercontent.com/4808756/69990723-e9d38b00-150b-11ea-9b34-c27315f6a2b1.png)

[2019-12-02 20:02] simspace-dev commented on #8675
The project is too large to attach. You can clone the following repo to get the project  where I am experiencing this issue: https://github.com/simspace-dev/GridTutorial.git

[2019-12-02 20:18] WaiseFass commented on #8689
yes on iOS it works (tested  on iOS Simulator)

[2019-12-02 20:42] lanarchyste commented on #8716
Hi,

We are marketing a mobile solution for android and ios (with xamarin), and one of our customers has indicated the issue of the blank page.

After analysis, we know that the application does not freeze and that it is at the time of the display of the master page that the blank page occurs.

At this time, we know that the bug only occurs on Galaxy S9 !

In the past, we have had other incompatib

[2019-12-02 21:52] samhouts commented on #6801
@HobDev Can you please open a new issue? Thanks!

[2019-12-02 22:06] samhouts commented on #5801
Yes, we're aware of a different root cause reported in #8272, and we have a fix in progress. Sorry for the inconvenience!

[2019-12-02 22:10] samhouts commented on #5455
This is on the backlog. I don't currently have an estimate of when we may begin work on this item. Thank you for your patience!

[2019-12-03 00:13] AndreiMisiukevich opened #8729 "[Bug] UWP DispatcherProvider issue"
### Description

### Steps to Reproduce

Sample project: https://github.com/Haapsaari-Juha/DemoApp
Steps:
1. Run UWP project from sample and exception is thrown
2. Run Android project from the sample and no exception and arrows are shown on carousel view
3. Comment left and right arrow controls from MainPage.xaml in the shared project
4. Running with UWP and Android projects both will work

NullRe

[2019-12-03 00:45] asusralis opened #8730 "[Enhancement] Avoid user interaction of pages during navigation."
## Summary
As it currently is, while a page is being pushed onto a navigation stack the user can interact with the previous page up until the animation is complete. I don't think there is a single instance where this would be wanted, so it would be best to have something to block the screen when a page animation starts.

## API Changes
Hopefully there would be no API changes.

## Intended Use Case

[2019-12-03 02:48] huyjack178 commented on #8548
Hi @jfversluis , you would see I have 2 pages, one page have the CollectionView's Header with bigger height than screen height, I when I scroll it up, the Scrolled event can not be triggered. You can create a breakpoint in Scrolled event method inside xaml.cs file

[2019-12-03 03:10] PureWeen commented on #8722
@DRAirey1

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/xamlc

[2019-12-03 03:20] seanrodda commented on #8035
@samhouts what needs to be done to get this merged into 4.4.0? I'd like to help out if anything is needed.

[2019-12-03 03:49] PureWeen commented on #8712
OnDisappearing and OnAppearing fire earlier with Shell so that the events are more consistent cross platform.  When just using a NavigationPage it's a bit arbitrary  when OnDisappearing fires based on context and platform

I would say the ordering here seems correct. You've initiated intent on the VM to navigate away so Shell says hey I'm going to be disappearing.

Based on your sample though I'd

[2019-12-03 03:49] #8712 closed

[2019-12-03 03:52] PureWeen commented on #8564
if you can email it to shneuvil at microsoft.com and it's easily runnable @Sonic3R

[2019-12-03 04:11] PureWeen commented on #8723
@aloptrbl can you attach a repro please?

[2019-12-03 06:15] ericc0504 opened #8731 "[Bug] Entry.Focused event is not fired when EditText.FocusChange is set"
### Description

When using PlatformEffect on Android and add one more callback on EditText.FocusChange, another event set from Entry.Focused will not be fired.

### Steps to Reproduce

1. Create an entry and set a callback for Entry.Focused
2. Create an entry effect and set another callback using "EditText.FocusChange +=[function]"
3. Set the entry effect for the created entry

### Expected Behav

[2019-12-03 06:41] VirtualNomad00 commented on #7521
Guess it's still not solved, which is a bit frustrating as this is a major UX issue

[2019-12-03 07:26] dhindrik commented on #8712
So using a TapGestureRecognizer on each item will not affect performance?

[2019-12-03 07:41] jfversluis commented on #8716
@lanarchyste thanks for your understanding!

If it is possible, I don't know it you have a Galaxy device at your disposal, it would be awesome to have a reproduction project with just the code that is showing this behavior.

Thanks!

[2019-12-03 08:31] ysangkok opened #8732 "[Bug] Image animation not working in GTK"
### Description
It seems like image animation is not working in GTK. Similar code worked on the UWP backend.

### Steps to Reproduce
https://github.com/ysangkok/XamarinGTKAnimationIssue

[src.zip](https://github.com/xamarin/Xamarin.Forms/files/3935547/src.zip)

### Expected Behavior
Image should be animated.

### Actual Behavior
Image is not animated.

### Basic Information

- Version with issue:

[2019-12-03 08:53] kholoudaliit commented on #4220
is there any news about this problem ? We Are Waiting

[2019-12-03 09:00] jfversluis commented on #8492
Managed to reproduce this of some sorts. With Visual Studio Windows 16.3.10 and latest XF 4.3.0.991211. The error seems a bit different like below.

In the error window I don't see the "mscorelib" in the output window I do see it, but only after a full rebuild:

[2019-12-03 09:10] brcinho commented on #8715
[TestDemoCrash.zip](https://github.com/xamarin/Xamarin.Forms/files/3915669/TestDemoCrash.zip)

[2019-12-03 09:14] brcinho commented on #8715
[iPhone 11 Pro Max iOS 13.2 2019-12-03 10-12-16.mp4.zip](https://github.com/xamarin/Xamarin.Forms/files/3915708/iPhone.11.Pro.Max.iOS.13.2.2019-12-03.10-12-16.mp4.zip)

[2019-12-03 09:14] jfversluis commented on #8695
Hm I didn't really dive into it, but having a quick look at the UWP ListView implementation I see some things going on with wrapping collections and resetting etc. so might be worth investigating.

[2019-12-03 09:20] brcinho commented on #8715
I checked now and it seems that ListView doesn't have this problem, only CollectionView

[2019-12-03 09:49] Chozarajan commented on #3784
Can you please check and update the details?

[2019-12-03 09:59] brcinho commented on #8715
@jfversluis How soon can it be solved and released? So we know whether to revert to alternatives. We have a deployment rather soon.

[2019-12-03 10:19] jfversluis commented on #8715
Originates from this line: https://github.com/xamarin/Xamarin.Forms/blob/87d720c71ec1c8f8fea2daf2105ba4b6689d71f1/Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewRenderer.cs#L81

Where `Controller` is null at the time of the crash.

Steps:

- go to "Flyout 2, page 1" (second option) in the flyout menu, toggle the `CollectionView`
- toggle `CollectionView` to be visible and then invisi

[2019-12-03 11:53] YZahringer commented on #2859
@samhouts I think this issue can be closed on `XF 4.4` by #7079

[2019-12-03 11:53] undercabre opened #8734 "top tabbar search handler doesn't change values[Bug]"
1. Open xaminals
2. Write in dogs or cats(as you can see, data doesn't change)

- Platform Target Frameworks:
  - Android: 9.0
- Nuget Packages:Xamarin.Forms(4.2.0.709249)
- Tested in Xiaomi Mi A2

[2019-12-03 12:30] beylkhanovdamir commented on #7602
@samhouts this issue is closed, but the problem still exists...Where is the official solution, or give to us at least the working workaround to fix this issue , please?

Look at build log in Azure DevOps:
![image](https://user-images.githubusercontent.com/7656847/70051001-4654aa00-15e1-11ea-9133-888af1a4edbd.png)

_Project type - Xamarin.iOS
Mono - 5.12.0
XCode - 10.2.1_

[my .yaml configuration](

[2019-12-03 12:33] jfversluis commented on #7602
@beylkhanovdamir what version of Xamarin.Forms are you using? This should not happen anymore after the earlier mentioned versions

[2019-12-03 12:34] Sonic3R commented on #7602
@jfversluis It still happens to me too

[2019-12-03 12:36] jfversluis commented on #7602
@Sonic3R you are using VS2017 on Windows? VSMac? Can you give some more details?

[2019-12-03 12:37] jhaprasun commented on #4143
For me it works on iPad in portrait mode, but does not in landscape. Please let us know when it will get fixed.

[2019-12-03 12:39] Sonic3R commented on #7602
Visual Studio for Mac, version 8.3

[2019-12-03 12:42] beylkhanovdamir commented on #7602
@jfversluis you can look at [my .yaml configuration]
(https://gist.github.com/beylkhanovdamir/1a4c38410c37d65553c6702aab376358) in DevOps

p.s. I'm using 'macOS-latest' vmImage

[2019-12-03 12:47] jfversluis commented on #7602
@beylkhanovdamir did you see this comment: https://github.com/xamarin/Xamarin.Forms/issues/7602#issuecomment-537847507

I see you're setting the SDK version manually and you're using Xcode 10, you might want to look into using current versions together with the newest Forms version.

@Sonic3R could you share a little bit more about what errors you are seeing in VSMac when building?

[2019-12-03 12:53] davidbuckleyni commented on #7602
Guys i FOUND that its hot reload gets renabled disable hot reload and your
app will be fine.

On Tue, Dec 3, 2019 at 12:47 PM Gerald Versluis <notifications@github.com>
wrote:

--

Regards
David Buckley
M: 07871 884 546

[2019-12-03 13:01] beylkhanovdamir commented on #7602
@jfversluis

yes, I saw, but I can't, because we have project with Target on .netstandard 2.0 (i.e. not 2.1 which is compatible with .net core 3.0), and in this case, I will get a lot of compilation errors

[2019-12-03 13:02] jfversluis commented on #8729
Probably duplicate of or same cause as #8682

[2019-12-03 13:09] AndreiMisiukevich commented on #8729
seems yes

[2019-12-03 14:10] imuller opened #8735 "[Bug] ViewCell OnDisappearing never called"
### Description
Custom ViewCell OnDisappearing never called.

### Steps to Reproduce

1. Create custom ViewCell
2. OnDisappearing never called

### Basic Information

- Version with issue: latest 4.3

[2019-12-03 14:32] Schinwinkwinsky opened #8736 "[Bug] XF Material + Prism: Frame doesn't fire EventToCommandBehavior on iOS."
### Description
I´m trying to use the Forms Material Visual on a ListView that has Frames as its items. Before I set visual as Material, the app worked well. But, after, the command is not being fired on iOS.
### Steps to Reproduce

1. Create a ListView and a CustomView that has a Frame as dad container.
2. Set the ListView to use ths CustomView as its items.
3. Set the visual os CustomView as Mat

[2019-12-03 15:34] stevenfowler16 commented on #4292
First time in Xamarin today and I just spent an hour trying to figure out why my titleview wasn't working.   Is this an easy issue to fix?

[2019-12-03 16:13] gceaser commented on #2167
This appears to be back in 4.3.0.99121.

<Entry x:Name="txtIPAddress" HorizontalOptions="FillAndExpand" VerticalOptions="Start"
                       Text="{Binding ServerIPAddress, Mode=TwoWay}"
                       BackgroundColor="White" Margin="16,0,16,0" HorizontalTextAlignment="Center" />

Works on iOS not android.  This I an Android 9 emulator screenshot:

![Screenshot_1575389513](https:

[2019-12-03 17:56] digitalninjae commented on #8308
I had the problem with a collection view with a footer. Removing the footer appears to have resolved the problem.

[2019-12-03 18:21] PureWeen commented on #8736
Duplicate https://github.com/xamarin/Xamarin.Forms/issues/5518

[2019-12-03 18:21] #8736 closed

[2019-12-03 18:27] samhouts commented on #8315
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-12-03 18:27] samhouts commented on #8337
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-12-03 18:27] #8337 closed

[2019-12-03 18:27] #8315 closed

[2019-12-03 18:40] gceaser commented on #8140
Yeah the manifest update fixed it for me also:

<application android:label="My App Name" android:supportsRtl="true"></application>

[2019-12-03 18:48] DRAirey1 commented on #8722
I was unable to reproduce the problem. After creating a new solution and new projects, then copying all the source code over to the new directory structure, the problem went away. At this point, it would appear that some .csproj or .sln file was corrupted.

[2019-12-03 18:48] #8722 closed

[2019-12-03 19:08] pmahend1 commented on #8435
I see the same issue , First I had used label inside a frame

Later changed everything to button still has issues

`FastRenderer` has to be fixed

[2019-12-03 19:51] PureWeen commented on #8727
@nwikechisom can you attach repro?

I've done what you propose here a few times and it always goes great for me

Here's an example I did for someone
https://github.com/xamarin/Xamarin.Forms/issues/8712#issuecomment-560986251

[2019-12-03 19:55] PureWeen commented on #8712
@dhindrik I haven't explicitly tested it but it shouldn't

The implementation of CollectionView uses native level recycling for all the cells so even if you have a million items you only have tens of  Gestures

[2019-12-03 19:58] #8729 closed

[2019-12-03 20:13] PureWeen commented on #8707
@KoenMat this looks like it's been fixed

I tested the sample against our nightly builds
https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

And I'm not longer able to reproduce there

[2019-12-03 20:13] #8707 closed

[2019-12-03 20:20] kcrg commented on #8394
Fix pls

[2019-12-03 20:43] PureWeen commented on #8731
@ericc0504 This is a bit of an interesting one :-/

The way Xamarin Android wires up those events is by using a custom OnFocusChangeListener that then propagates that out to FocusChange

But in our ViewRenderer we use our own listener to manage FocusChanged which replaces the Xamarin Android one

https://github.com/xamarin/Xamarin.Forms/blob/cc64f0897891f23c7a8929e62f656a82afbd807c/Xamarin.Forms.P

[2019-12-03 21:06] PureWeen commented on #8694
@hardikphd

- I'll move this to needs info for now until you can get a repro
- Have you tried CollectionView? You should have better luck with this all working there?
- Doing a ClearItems by removing every item individually is a bit of a heavy operation. If you're plan is to replace the entire contents of the collection then you might just null the ItemSource of the ListView, make necessary change

[2019-12-03 21:22] PureWeen commented on #8731
The reason we use a listener here has to do with reducing allocations.

In theory we could subscribe to the FocusChanged event in our code but that would create an allocation for every single subscription so we instead use a listener.

A possible approach to resolve this would be to override OnFocusChanged on all our controls and then propagate out from there.

We could possibly do something like

[2019-12-03 21:43] PureWeen commented on #8615
@jsuarezruiz  ?

[2019-12-03 21:57] Mikilll94 commented on #8432
@jfversluis
I think there is no easy solution to set custom user agent for WebView. Maybe you can just give user a possibility to set this property in any way, i.e. platform specific, property which does have no effect on UWP? The problem is that right now there is no way set custom user agent, because of #8708. Even when using custom renderer, you cannot set this property without breaking navigat

[2019-12-03 21:58] Mikilll94 commented on #8432
@jfversluis
Or maybe you know some workaround to set this custom user agent on Android and iOS without breaking navigation events?

[2019-12-03 22:02] D4rkC1own187 commented on #1347
This is still an issue. I'm using Xamarin.Form 4.0.0425677

[2019-12-03 22:15] PureWeen commented on #1347
@D4rkC1own187 can you create a new issue and try the latest?

[2019-12-03 22:18] gabrielfreire commented on #6920
im having this problem for `.Add, .Remove, .Insert and .Clear` methods, only for iOS, Xamarin.Forms 4.3.0.991211

[2019-12-04 02:08] JunielKatarn commented on #8649
The issue still shows after 4.3-sr3 and 4.4-pre3.
This makes 4.3 unusable in UWP.

Why is it marked as "unverified"?
What needs to be verified?

[2019-12-04 02:33] PureWeen commented on #8649
@JunielKatarn a repro where we can see it crash so that we can try to fix or guide

For example I took the Xaminals project here https://github.com/xamarin/xamarin-forms-samples/tree/master/UserInterface/Xaminals, added a UWP project to it, updated to 4.4 pre3, and deployed it with a release configuration with no issues

There are a lot of different possible configurations your project could have

[2019-12-04 03:51] ericc0504 commented on #8731
Thanks for replying swiftly. The provided solution worked on my side. I am looking forward to the enhancement in the ViewRenderer.

[2019-12-04 04:58] PureWeen commented on #8509
Left comment on feedback ticket

https://developercommunity.visualstudio.com/comments/842322/view.html

[2019-12-04 05:01] rbev commented on #8262
@kvpt i figured out a way to test out your build and I've been unable to replicate the issue any more

While my case wasn't a 100% replication scenario I was previously able to replicate it at least once every half dozen or so test runs on debug builds.

[2019-12-04 05:02] PureWeen commented on #8262
I eagerly await your PR @kvpt  :-)

[2019-12-04 05:06] PureWeen commented on #8734
@undercabre that's not a bug. That's just not how it's been implemented on Xaminals

 Currently Xaminals just pops up what you're typing it doesn't tie the query to the CollectionView

It would just need to be modified so that *OnQuerychanged* from the search handler propagates changes to the CollectionView

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/shell/search

[2019-12-04 05:06] #8734 closed

[2019-12-04 05:18] justadaniel commented on #7304
I think it wouldn't be a bad idea to add UWP into the mix since Windows has had a dark/light theme for a while now. Adding that for parity would be pretty slick

[2019-12-04 05:35] #2859 closed

[2019-12-04 06:30] HemalathaMarikuma-syncfusion commented on #8692
@samhouts  Any updates ?

[2019-12-04 06:40] PureWeen commented on #8692
https://github.com/xamarin/Xamarin.Forms/pull/8696 is going to be merged soon

Closing this because it's a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/8682

[2019-12-04 06:40] #8692 closed

[2019-12-04 06:49] nwikechisom commented on #5763
This is still a bug in Xamarin.Forms 4.3 and has not been resolved. I used a StackLayout and Grid in the collection view and gave it a height yet I get a huge space I don't need from the CollectionView. The slider in the image below is supposed to be immediately after the collection View but I have this huge space. This is an urgent need for me. I have to deliver on this project soon.

![view](htt

[2019-12-04 06:59] nwikechisom commented on #8727
@PureWeen I would love to share the repo but unfortunately I cannot at this time because its a private project with too much financial information. I can share some snippets privately if that will help. I'm already late on delivery time

[2019-12-04 07:39] baselbj commented on #7036
I am testing it on UWP when using mouse neither  ScrollToRequested or Scrolled but when I pragmatically scrolled the ScrollToRequested works.

any workaround?

[2019-12-04 08:41] xamarindevelopervietnam commented on #6384
Guys, should use Shell for Production?

[2019-12-04 08:52] jsuarezruiz commented on #8615
We have a different behavior when using `PeekAreaInsets` on Android and iOS.
In iOS we always position each element in the center. For that reason, we leave space to the left of the first element or to the right of the last in some cases.
On Android, `PeekAreaInsets` is not adding that space to the beginning or the end.

I have a branch where we apply the same Android behavior on iOS. However, aft

[2019-12-04 08:56] acaliaro commented on #3487
I have the same problem on a Zebra TC51.
I have set` IsTextPredicationEnable = false` but I always see the "Google bar". Keyboard is set to "Plain". I have also set `EntryUsernameSap.Keyboard = Keyboard.Create(KeyboardFlags.None);` in codebehind but "Google bar" appears. It seems that Zebra has only GBoard available.

[2019-12-04 09:19] stoff99 commented on #8137
Same problem here, pls fix

[2019-12-04 09:20] nwikechisom commented on #8727
What if I have a Label outside the CollectionView whose Text property should be bound to the current item in the CollectionView, how may I implement this?

[2019-12-04 09:24] stoff99 commented on #8140
Same issue here. Is there a plan to solve it in a Form bugfix version or do we rly need to make some dirty workaround fixes like android:supportsRtl="true" ?

[2019-12-04 10:29] tranb3r commented on #8383
Same for me.
Any update?

[2019-12-04 10:39] quentinR0bert commented on #3463
No news after one Year ?

[2019-12-04 10:58] xamarindevelopervietnam commented on #8137
for now you can create custom renderer like this:
public class CrossBorderEntryRenderer : EntryRenderer
    {
        public CrossBorderEntryRenderer(Android.Content.Context context) : base(context: context)
        {
        }

        protected override void OnElementChanged(ElementChangedEventArgs<Entry> e)
        {
            base.OnElementChanged(e);

            UpdateHorizontalTextAlignme

[2019-12-04 13:04] jfversluis commented on #7304
@justadaniel I'm working on a new/additional proposal to attack this problem. We are discussing it internally for now. We should be able to share something soon :)

Thanks for your input!

[2019-12-04 13:15] jfversluis commented on #8432
I'm afraid there is no real workaround for the time being, at least not one that I can see right now. Sorry about that.

[2019-12-04 13:52] AbdelrhmanHamedTawfik opened #8738 "[Bug] [IOS]CollectionView Vertical Grouped Grid items misalignment"
### Description

### Steps to Reproduce

1. Create CollectionView
2. Set itemslayout orientation to vertical and give it span > 1
3. Bind items to grouped list

### Expected Behavior
vertical gird with group name should be aligned correctly
### Actual Behavior
some group items are misaligned especially the first column
### Basic Information

- Version with issue: 4.3.0.947036
- Last known good ver

[2019-12-04 14:13] tiagobpompeo commented on #8717
Hello, when I updated the Xamarin Forms Package, sounds like to be resolved the problem. So I Believe what in that case the problem was solved ,but I have another case to explain in another issue with problemas just in iOS, thanks !

[2019-12-04 14:13] #8717 closed

[2019-12-04 14:31] MariovanZeist commented on #8647
Closing, Fixed in 4.4.0

[2019-12-04 14:31] #8647 closed

[2019-12-04 15:56] RyanGaudion opened #8739 "Hot Reload Not working when enabled - No Errors Thrown"
### Description
I have enabled hot reload in visual studio for xamarin. When I make a change and save, nothing happens. No errors are thrown. If I go to the xamarin logs I get the following:

Xamarin.HotReload|Information|0|2019-12-04 14:15:16.3 Hot Reload IDE Extension Loaded
Xamarin.HotReload|Warning|0|2019-12-04 14:28:19.8 Could not find startup project.

That's all there is for HotReload. This

[2019-12-04 16:16] hartez commented on #6036
This was fixed by PR #6629.

[2019-12-04 16:16] #6036 closed

[2019-12-04 17:33] Keith-at-Trimble commented on #8509
Here is a solution that presents the problem on UWP. The Android version does not appear to retain memory.

Steps to reproduce:
1. Run the UWP program. I suggest x64 unless you want it to just run out of memory in a minute.
2. Click on the Pick Photos button and choose a few photos.
3. Observe memory usage rise in a pretty steady upward trend. Alternatively, with an x86 build, observe a crash rath

[2019-12-04 18:43] brunck opened #8741 "[Bug] [Shell] [Android] ToolbarItem Enabled/Disabled behavior does not work for Shell apps"
### Description
Changing a ToolbarItem's enabled/disabled state at runtime in a Shell app works on iOS, but not on Android.
This _does_ work properly in non-Shell Android applications using the same mechanism.

### Steps to Reproduce

1. Wire up a ToolbarItem on a page, binding to its Command property. Set the text (or an icon) for it.
2. Make a button that toggles the state of the ToolbarItem bet

[2019-12-04 18:55] georgemichailou commented on #8615
Ok , I understand the differences. But I believe that iOS must be the same as Android.  If i use the CarouselView, do always the elements have center alignment ?

[2019-12-04 19:51] PureWeen commented on #8724
@AntonEmelyancev This is kind of a tricky one (or I'm over thinking it)

I started down the path thinking it was a quick fix https://github.com/xamarin/Xamarin.Forms/tree/fix_8724

I don't think we can just use the BindingContext because the BindingContext isn't completely resilient. The user might rebind the BindingContext on the created views to something else so I think internally we would need

[2019-12-04 19:53] PureWeen commented on #8724
pinging @andreinitescu in case he sees something I'm missing :-)

[2019-12-04 20:12] DiegoFaFe commented on #7795
@m3talelite Is it still happening in the last version of XF 4.3?

[2019-12-04 20:15] PureWeen commented on #8739
@RyanGaudion there's a possibility that your .vs cache is interfering with the ability to find the startup project

Can you try deleting the .vs/obj/bin folders and see if that works?

If you're still having an issue then can you log this issue through the feedback tool on Visual Studio? That will hopefully gather some logs or additional information to help debug

[2019-12-04 20:15] #8739 closed

[2019-12-04 20:45] PureWeen commented on #8738
@AbdelrhmanHamedTawfik did you attach the right files?

When I drop those in I'm not seeing that it's changing anything

[2019-12-04 21:14] davepruitt opened #8742 "Setting IsVisible does not work after the first time [Bug]"
### Description

I have an Android app in which all I want to do is place a semitransparent gray overlay over the entire screen for about 500 ms any time the user taps the screen. To accomplish this, I created a grid with a gray background color, and then simply set its visibility to true or false accordingly.

The first time I set the "IsVisible" property, the change is reflected in the UI. Every

[2019-12-04 21:20] drasticactions commented on #8739
@RyanGaudion For additional context, judging by that log, Hot Reload couldn't find the startup project for the one you deployed. Since we use the VS APIs for finding that project, most likely it's either using cached data _or_ the project is in a place where we can't find it (such as maybe a fileshare). So, clearing your `.vs` folder in your solution/project should let us find it again.

If that d

[2019-12-04 21:35] jcmanke opened #8743 "[Bug][UWP] SearchBar does not respect FontSize on 4.3.0"
### Description

Setting a FontSize, either using a number or a NamedSize, does not have any effect on a SearchBar on UWP in version 4.3.0.

### Steps to Reproduce

1. Create a project with Xamarin.Forms 4.3.0.
2. Add a SearchBar to a page and set the FontSize.
3. Run the project.

### Expected Behavior

FontSize is applied.

### Actual Behavior

FontSize is not applied.

### Basic Information

-

[2019-12-04 21:43] LeoJHarris commented on #7510
I think this is fixed in latest 4.3.0.991221

[2019-12-04 22:43] cinsola opened #8744 "When an Item inside a ListView is deleted, the item below is shown with moved in the first cell with Translation property of the removed item"
### Description
Copied from here: https://xamarin.github.io/bugzilla-archives/49/49658/bug.html - the bug is still here since 2016
### Steps to Reproduce

1. Create a cell that has a translation property and a background bound to some object
2. Create a list with an observable collection as a source and the previously created cell as cell.
3. Remove the first element

### Expected Behavior
The ori

[2019-12-04 23:12] DeadEndKing commented on #4239
Just bumped into this issue.
Vertical align to start (to top) also does not work, not just center.
It only aligns to the bottom - no matter which vertical text alignment option you choose.

[2019-12-04 23:19] jefffhaynes opened #8747 "Async task continues on wrong (non-UI) context"
The following has somewhat shaken my async/await-based belief system. Under Xamarin/iOS the following fails, saying that UI-related things are being done in a non-UI thread. Adding check points shows that the context does in fact switch after the async file write.

My understanding is that lacking a ConfigureAwait, the following should be completely safe. I'm assuming this is a Xamarin nuance of w

[2019-12-05 02:37] borrrden commented on #8747
Check to make sure `SynchronizationContext.Current` is set to an instance of `UIKitSynchronizationContext ` as a sanity check (not that you need to set it yourself, but if it is not set that would be a giant red flag and probably an easy fix).

[2019-12-05 02:41] jefffhaynes commented on #8747
It is, both before and after

[2019-12-05 03:01] borrrden commented on #8747
Well that is certainly interesting.  It suggests that you are indeed back on the same thread you started on since there is only one instance of that context being used in the entire codebase of the Xamarin iOS runtime (During the initial call to `main`).  But you have confirmed that the managed thread is actually different?

All async/await does is start off a task on the thread pool with some cus

[2019-12-05 03:06] jefffhaynes commented on #8747
I haven’t checked the managed thread but calling MainThread.IsMainThread (from Xamarin Essentials) shows true before the async write and false after.

I can of course fix it by moving back into the UI context but I find it very worrying and I’m left wondering if similar behavior could pop up elsewhere.

Thanks

[2019-12-05 03:13] TimBoccaleri opened #8748 "[Bug] [IOS][Shell] App Crashes with ToolBarItem after returning from background, Push new page, then return to previous page."
### Description
I'm using XF 4.3 with Shell. On IOS, my App crashes when I have a toolbar item and close or move my app to the background. When I return from the background and then navigation.PushAsync() to another page and come back to previous page the app crashes. If I use the Tabs to navigate everything is okay until I push to another page and come back.

### Steps to Reproduce

1. Add a Tool

[2019-12-05 03:52] TimBoccaleri opened #8749 "XF 4+ shell - Page loading error with more tab menu"
### Description
In XF 4+ with Shell on IOS. If you add 5+ items to the Tab Bar menu so that you get the More menu items to show. After opening a page from more menu, then try to navigate to another page with navigation.pushasync() that page will not load and the app will start doing strange things after that. (like the menu names will disappear when you go back to the menu)

### Steps to Reproduce

[2019-12-05 05:45] PureWeen commented on #8649
@JunielKatarn @negberts

If you try some of the things mentioned in these comments does it fix?
https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2681#issuecomment-441323375

[2019-12-05 05:58] PureWeen commented on #8649
Or possibly this is your explanation?

https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/1855#issuecomment-369442605

I was seeing this exception as well when messing around with some multi targeting and was able to fix by matching my target too my development machine

[2019-12-05 06:26] motasemloubani91 commented on #8672
Any updates regrading this issue, at least give us estimation time. We are waiting this to be fixed to release our app from a week ago!

[2019-12-05 06:29] motasemloubani91 commented on #7529
Any update about this issue! thanks

[2019-12-05 06:46] jantanis opened #8751 "A11y: Voiceover sequence of elements gets messed up once reaching the end in navigation page"
### Description
When reaching the end of a page in voiceover the reader jumps back, but thing get messy and the original sequence of elements is not abided.

### Steps to Reproduce

1. Open attached solution
2. Run iOS project on real device
3. Start screenreader
4. Swipe throught elements
5. Continue swiping back and forth after reaching the last item

### Expected Behavior
When reaching the last

[2019-12-05 07:20] maexsp opened #8752 "[Bug] [iOS] Entry Text Selection Thumbs shown if MasterDetailPage Master Pane is slided ove"
# Description

If any text of an entry is selected and cursor thmbs are shown they are not moved/collapsed accordingly if the MasterDetailPage.Master pane slides over. See repo an gif screener.

### Steps to Reproduce

1. Select some characters of an entry
2. Open the menu of the MasterDetailPage
3. Thumbs are still shown

### Expected Behavior
Thumbs are collapsed or moved outside of the menu are

[2019-12-05 07:28] negberts commented on #8649
@PureWeen I am already at target version 18362 which is the latest I believe...

[2019-12-05 07:33] JunielKatarn commented on #8649
I'm afraid none of those links seem to apply.
I'm using a dev machine with Windows Version	10.0.18362 Build 18362.
That is exactly the same Windows SDK version the app targets: 10.0.18362.0.

Regarding using 17134 or below, it does not make sense, because if I instead downgrade Xamarin.Forms from 4.3.x to 4.2.x, it works fine.
Thus, the bug is either in or uncovered by version 4.3.

For reference,

[2019-12-05 07:58] AbdelrhmanHamedTawfik commented on #8738
yeah indeed i published the wrong files.

this new link has the sample directly to the issue page

https://github.com/AbdelrhmanHamedTawfik/CollectionViewBug.git

**NOTE**: the collection view with the same style is working fine on Android

[2019-12-05 08:03] GeoSaffer commented on #7529
I eventually gave up and when back to using a ListView Instead of a
CollectionView as none of the mentioned workarounds worked for me.

On Thu, Dec 5, 2019 at 7:29 PM motasemloubani91 <notifications@github.com>
wrote:

--

Regards

Dawid Fouche
+64 21 238 9062
skype: dawid_jvd
http://nz.linkedin.com/in/dawidfouche

[2019-12-05 08:14] motasemloubani91 commented on #7529
I have moved to use some third party library to support mutli columns listview, I don't understand how do you publish a control that has not had a basic test!!

[2019-12-05 08:23] motasemloubani91 commented on #8672
I have moved to use a third party library to support mutli columns listview, I don't understand how do you publish a control that has not had a basic test!!

[2019-12-05 08:50] jsuarezruiz opened #8753 "[Bug] Assign custom SwipeItems in the SwipeView"
### Description

As shown in the screenshots above, can set SwipeView.RightItems directly using `RightItems = { deleteSwipeItem}`, but if I want to also set a property for new SwipeItems, I can't assign a SwipeItem directly to SwipItems.RightItems; I have to use `SwipeView.RightItems.Add` instead.

### Expected Behavior

Be able to assign directly a custom SwipeItem:
![image](https://user-images.g

[2019-12-05 08:58] z07713 opened #8754 "[Bug] Values of constants and variables are not represented correctly at runtime?!"
### Description

(I really don't know how to write about this because english is not my first language but i'm going to try it through an example!) I have introduced a constant, gave it some value and built and deployed the Android App, then i stopped the debugging, commented out the constant and introduced an another one with same name, gave it a different value. Rebuilt and re-deployed the Andro

[2019-12-05 09:10] Gh0stC0de opened #8755 "[Bug] Setting style on TextCell does not take effect"
### Description
Styles of a TextCell (TextColor or DetailColor) set in the App.xaml file do not apply to the TextCell.

### Steps to Reproduce

1. Create a ListView with a TextCell as ItemTemplate
2. Set the style of the TextCell in the App.xaml file (Example: TextColor to Blue)

### Expected Behavior

The text color of the TextCell is blue.

### Actual Behavior

The text color of the TextCell is

[2019-12-05 09:43] dhindrik opened #8756 "[Spec] Add IsEnabled to GestureRecognizer"
# Add IsEnabled to GestureRecognizer
To make it possible to disable a gesture recognizer I want to add an IsEnabled property to GestureRecognizers so event and Commands not are executed if it is false.

I found this issue about it, https://github.com/xamarin/Xamarin.Forms/issues/8091. But there are other use cases as well. There could be cases where you want to bind to other UI-elements or if you

[2019-12-05 10:08] jsuarezruiz commented on #8672
Recently this PR has been merged: https://github.com/xamarin/Xamarin.Forms/pull/7711
I think this issue is the same and should be fixed. In any other case, we will review the feedback to try to cover it as soon as possible.

[2019-12-05 10:09] GerhardSchreurs opened #8758 "[Bug?] [iOS13] A portion of the page is pushed off screen when using Large titles and SearchBar"
### Description
When using Large titles and a SearchBar in iOS 13, the bottom part of a page (SearchBar height?) is pushed off screen when using a listview and another view in a StackLayout. This is visible when scrolling the ListView up.

**Example:**

![Example](https://i.stack.imgur.com/dYQ1X.gif)
Notice that the BoxView (height 100) is pushed off screen until scrolling up.

**Code:**
App.xaml:

[2019-12-05 10:17] motasemloubani91 opened #8759 "[Bug] Collection View does not support rtl on ios"
Collection View does not support **RTL** on **ios** if it **horizontal** or **multi columns**

### Steps to Reproduce

1.  Create collection view and set it to Horizontal mode or add extra columns grid
2.  observe the result

### Expected Behavior
support RTL

### Actual Behavior
does not support RTL

- Version with issue: ios - all versions
- Last known good version: 4.3.0
- IDE: vs 2019
- Platfo

[2019-12-05 10:35] dhindrik commented on #8756
I have created an implementation, I can create a PR for it if you approve this suggestion.
https://github.com/dhindrik/Xamarin.Forms/commit/69cf57cb487574526026d138e4de42a36c840b6a

[2019-12-05 11:03] PureWeen commented on #8747
@jefffhaynes are you on the latest version of Visual Studio?

This was a known issue for a brief time with mono
https://github.com/mono/mono/issues/16759

[2019-12-05 11:04] jsuarezruiz commented on #8672
After some tests I can confirm that this issue is already fixed.

![issue8672-fixed](https://user-images.githubusercontent.com/6755973/70229849-48407980-1757-11ea-9f8f-073385156b43.gif)

[2019-12-05 11:11] AbdellahOusrhireDev opened #8762 "[Bug] Xamarin.Forms.Xaml.XamlParseException => StaticResource not found for key"
### Description
I'm trying to show a native popover in Xamarin.Forms, embedding forms view in it, a Xamarin.Forms.Xaml.XamlParseException is thrown.

@davidortinau already made some comments on this subject years ago on this thread https://forums.xamarin.com/discussion/comment/283902/#Comment_283902

<img width="1517" alt="Capture d’écran 2019-12-05 à 12 07 33" src="https://user-images.githubuse

[2019-12-05 11:11] PureWeen commented on #8509
@Keith-at-Trimble this is a really interesting one and I have a possible fix over here

https://github.com/xamarin/Xamarin.Forms/tree/fix_8509

It looks like there's a bug in the cancellation logic and the timing on UWP is just right (wrong?) to trigger it.

This await here
https://github.com/xamarin/Xamarin.Forms/blob/87d720c71ec1c8f8fea2daf2105ba4b6689d71f1/Xamarin.Forms.Core/ImageElement.cs#L12

[2019-12-05 11:18] PureWeen commented on #8649
@JunielKatarn I pulled down https://github.com/hyvart/Unjammit and it ran fine for me

do I need to click something?

[2019-12-05 11:24] #7540 closed

[2019-12-05 11:41] PureWeen commented on #8754
@z07713 what version of Visual Studio are you on?

[2019-12-05 11:55] JunielKatarn commented on #8649
Interesting.
No, if the app started up fine, you should be good.

I keep encountering the crash when building the Release configuration.
I have tested this in four fairly different computers.

What Windows version are you running?
Also, what Visual Studio version? I’m using 15.3.10.

[2019-12-05 12:06] PureWeen commented on #8649
If you add this nuget to your uwp project does that fix?

https://www.nuget.org/packages/Microsoft.UI.Xaml/2.1.190606001

[2019-12-05 12:15] BasileusBasileon opened #8763 "[Bug] ContextAction Button on ListView Cell on iOS passes Tap to Cell when CanExecute is false"
### Description
When you add a ItemTapped event to a ListView and fill it's ViewCells ContextActions with a MenuItem whose Commands CanExecute is **false**, then tapping that ContextActions button on iOS will simply pass the tap to the underlying ViewCell.
This seems like a bug to us, tapping a disabled button at that point should simply not do anything at all.

### Steps to Reproduce

1. Clone th

[2019-12-05 12:20] JunielKatarn commented on #8649
That worked! I’ll double-check in the other machines, but pretty confident that was it.

Note, I actually installed version 2.3.x (latest).
Is there a reason I should use 2.1.190606001 instead?

[2019-12-05 12:27] PureWeen commented on #8649
@JunielKatarn That's 2.1 is just the version we've tested with so figured I'd start there.

If 2.3 works for you though 👍

Glad to see that worked. There's some transitive updates to nuget that aren't part of VS 15. I'm guessing that's why you are having issues there.

[2019-12-05 12:27] #8649 closed

[2019-12-05 12:29] dhindrik commented on #8728
I am interested in how this is related to Xamarin.Forms?

[2019-12-05 13:17] WayaFlyfeather commented on #8743
I can confirm this, and have located the bug to [these lines](https://github.com/xamarin/Xamarin.Forms/blob/f51099c3823cd7433d1fa95c4cff9227b2a59629/Xamarin.Forms.Platform.UAP/Forms.cs#L37-L44), introduced in #7319 - here UWP resources are merged into the ResourceDictionary, overwriting the default style for the _AutoSuggestBox_ defined in [AutoSuggestStyle.xaml](https://github.com/xamarin/Xamarin

[2019-12-05 13:38] z07713 commented on #8754
@PureWeen I'm sorry, i failed to indicate the IDE, it is VS2019 16.4.0, i have updated the bugreport also.

About the bug, i have managed to reproduce it, however at first time it slipped my mind, that it is actually a netstandard class library that has methods that i call from the X.F shared project!

I tried this exactly in the shared project but there was no bug at all, however i made a brand n

[2019-12-05 13:57] CliffAgius commented on #6727
@HeroicHitesh you can view the way I did my first PR into XamarinForms by looking at my blog post which is here:

https://cliffordagius.co.uk/2019/09/21/10-steps-to-submitting-your-first-xamarin-forms-pr/

If you need any more help let me know.

[2019-12-05 14:07] negberts commented on #8649
@PureWeen it did not fix my problem… Do I have to add the Microsoft.UI.Xaml package to both the shared library and the UWP project or only the UWP project?

[2019-12-05 14:19] John0King commented on #8537
html  has an official size    'vh'  and  'vw',   maybe xamarin.forms should support  those two unit

[2019-12-05 14:19] AbdellahOusrhireDev commented on #8762
I've hacked a sample that reproduces the bug
[formsPopover.zip](https://github.com/xamarin/Xamarin.Forms/files/3927236/formsPopover.zip)

[2019-12-05 14:27] negberts commented on #8649
Upgrading to 2.3 instead of 2.1 fixed it for me too.

[2019-12-05 15:07] dblookup commented on #8637
Please try with version 4.3.0.991221 released two days ago. In my case, this solves the issue.

[2019-12-05 15:27] CARP-Kaiser commented on #4606
When will this fix be available?

[2019-12-05 16:01] jefffhaynes commented on #8747
I’m using app center to build so I’m not sure. I’ll see if I can find it in the logs.

[2019-12-05 16:24] jefffhaynes commented on #8747
I think you're right.  I'll try to get them to update...

[2019-12-05 16:25] #8747 closed

[2019-12-05 16:35] Drise13 opened #8765 "[Bug] Xamarin 4.3.0 SR3 fails to build with error MT2101: Can't resolve the reference 'System.Drawing.RectangleF'"
### Description
After upgrading to 4.3.0 SR3 on iOS, a build error occurs in both development and on AppCenter.

`MTOUCH : error MT2101: Can't resolve the reference 'System.Drawing.RectangleF System.Drawing.RectangleF::Empty', referenced from the method 'System.Void Xamarin.Forms.Platform.iOS.ActivityIndicatorRenderer::OnElementChanged(Xamarin.Forms.Platform.iOS.ElementChangedEventArgs1<Xamarin.Fo

[2019-12-05 16:40] akamud commented on #8140
This has a 4.3 release label but I don't see any PR linked. Is this actually being fixed?

[2019-12-05 16:58] jcmanke opened #8766 "[Bug] CollectionView.EmptyView does not inherit parent Visual"
### Description

The CollectionView.EmptyView does not inherit its Visual property from its parent.

### Steps to Reproduce

1. Create a Page with Visual="Material"
2. Put a CollectionView with an EmptyView on the page
3. Use controls that have material renderers in the EmptyView

### Expected Behavior

Views in the EmptyView will use the material renderers.

### Actual Behavior

Views in the Empt

[2019-12-05 17:15] johnbmangold commented on #8569
I ran into this problem as well. You can disable scrolling for Editors on iOS and it fixes this issue, but it obviously prevents scrolling. Wrapping it in a ScrollView will work for most situations, but not all.

[2019-12-05 17:32] WayaFlyfeather commented on #8743
That suggestion won't work, however, as _AutoSuggestBox_ is sealed. Then the best is probably to use a key for the AutoSuggestBox-style, instead of depending on a default style.

[2019-12-05 17:49] davidbritch opened #8767 "[Bug][iOS] SwipeView SwipeBehaviorOnInvoked RemainOpen issue on iOS"
### Description

Setting the `SwipeBehaviorOnInvoked` property to `RemainOpen`, after multiple `SwipeView`s have been rendered, doesn't result in the correct behavior on `SwipeView`s on iOS.

### Steps to Reproduce

1. Run the attached sample on iOS.
2. Navigate to the SwipeView behavior page.
3. Alter the SwipeBehaviorOnInvoked Picker to RemainOpen.
4. Swipe the first SwipeView from the right.
5.

[2019-12-05 18:06] PureWeen commented on #8765
@Drise13 What version of Visual Studio are you using?

[2019-12-05 18:07] Drise13 commented on #8765
2017, v15.9.15

[2019-12-05 18:09] hulluP opened #8769 "[Bug] loading and playing animation for gifs from filesystem fails"
### Description
when gif is loaded from filesystem and the property IsAnimationPlaying is set to true the application dumps with
Error loading image: Android.Content.Res.Resources+NotFoundException: Resource ID #0x0
### Steps to Reproduce

1. clone git https://github.com/hulluP/AnimatedGifForms
2. run on Android device or simulator
3. app will dump once button is pressed and animation does not pla

[2019-12-05 18:57] mfeingol commented on #8755
Awesome. I just came in here to file the same issue. :-)

Just to illustrate the matter, here's a screenshot of the following:

[code]

![Screenshot_1575572094](https://user-images.githubusercontent.com/218865/70264821-06f79c00-174e-11ea-95cc-ffcd74773851.png)

[2019-12-05 19:29] PureWeen commented on #8769
I don't think the way you're accessing the gif will work to pull the asset

If you're storing it as an asset then I think you'll have to read it from android into a stream
https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/resources-in-android/android-assets?tabs=windows

then set that as the source

[2019-12-05 19:29] #8769 closed

[2019-12-05 19:32] PureWeen commented on #8767
@jsuarezruiz

[2019-12-05 19:44] PureWeen commented on #8748
@TimBoccaleri can you test this on 4.4 pre3?

If you still see the issue can you attach repro please? I tried to recreate what you outlined and it's not crashing for me

[2019-12-05 20:07] PureWeen commented on #8749
Hmm :-/ yea looks like anything under the more tab gets its navigationcontroller swapped out with an internal moreNavigationController on iOS

https://stackoverflow.com/questions/10402432/suppress-morenavigationcontroller-in-custom-uitabbarcontroller

So you have to push to that instead

[2019-12-05 20:12] dhindrik commented on #8756
A little bit more about why this should be implemented:

- If we use IsEnabled on the element, the Grid in my example above, it will work if we will want to disable all gesture recognizers, but if we have multiple it will not work if we want to disable one of them for example.

- If we are using the same command or event handler for multiple elements it can be useful to handle it here instead of i

[2019-12-05 21:00] #6378 closed

[2019-12-05 21:23] dkarapapas commented on #3220
With me happens when i add a background color or a Border Radius. (Galaxt S7).

[2019-12-05 21:44] samhouts commented on #8373
@Harwinder0501  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-12-05 21:44] #8373 closed

[2019-12-05 23:04] #5518 closed

[2019-12-05 23:04] #8290 closed

[2019-12-05 23:08] PureWeen commented on #8742
The main issue with how you're doing this is that the Timer callbacks are executing off the main thread, so when you update the IsVisible property you'll need to marshal that back over to the UI Thread

If I change your code to
[code]

Then everything executes correctly.

The part here that might be a bug is that no exception is being thrown.

Internally the Queue used to set the BindableProperty

[2019-12-05 23:13] PureWeen commented on #8756
@dhindrik some thoughts on this one

1) I still feel like CanExecute on the Command is what this should get tied to. Also having IsEnabled and CanExecute can lead to confusing conversations https://github.com/xamarin/Xamarin.Forms/issues/2758

2) we have some specs internally where we are working through gesture orchestration which is a bit more how I would expect a property like this to work. On

[2019-12-06 00:09] asusralis commented on #7685
This seems to be fixed for me after updating VS to 16.4.0. I'm not exactly sure if that's when it started working, but I tried it after the update and I have no problems now!

[2019-12-06 00:22] PureWeen commented on #8762
@AbdellahOusrhireDev I feel like this must be fixed with 8.4 because I downloaded your reproduction and it runs without giving me a Xaml exception.

Is there anything I'm supposed to do other than just run the formsPopover sample?

[2019-12-06 00:26] PureWeen commented on #8743
@WayaFlyfeather please create a PR!!

[2019-12-06 00:31] PureWeen commented on #8744
@cinsola I tested this on the latest nightly and it looks like it's been fixed

[2019-12-06 00:57] PureWeen commented on #8662
@foehammer88 @nbevans have you tried this with CollectionView?

I tried the attached sample and it looks like the group header sizes correctly

[2019-12-06 01:42] truonglam5555 opened #8772 "[Bug] Frame has shadow since 4.0.0"
on the Android version when creating the 2nd Frame that has Shadow on 4.4 or above but in 4.3 it still works normally hope xamarin to fix the error please thanks !!

[2019-12-06 01:43] LeoJHarris commented on #8449
I have a grouped collectionview, and I am experiencing same issue in latest XF there is a work around.

To get text to show regardless of IsGrouped I set EmptyView property on collectionview to empty string like this EmptyView="", then with the EmptyViewTemplate the text doesnt work if using a binding but works with hard coded text. This will fix the issue regardless of Grouped or not but I think

[2019-12-06 01:49] truonglam5555 commented on #8772
[ExambleFrame.zip](https://github.com/xamarin/Xamarin.Forms/files/3929985/ExambleFrame.zip)

[2019-12-06 03:18] TimBoccaleri commented on #8748
It appears this is only happening in my production app. I apologize, I thought I tested this in another app but after testing a new test app today, I can not reproduce the issue. I will need to do some digging into my app to see what the root cause is. If I can reproduce the issue I will reopen. Thx.

[2019-12-06 03:18] #8748 closed

[2019-12-06 03:56] WayaFlyfeather commented on #8743
@PureWeen Done! :) #8773

[2019-12-06 04:10] #4924 closed

[2019-12-06 04:10] #5622 closed

[2019-12-06 04:11] PureWeen commented on #8748
Sounds good @TimBoccaleri !

If you have a full stack trace maybe that'll ring some bells

[2019-12-06 04:22] #8225 closed

[2019-12-06 04:22] #8638 closed

[2019-12-06 04:45] hulluP commented on #8769
Hi
the pulling from an asset is a quick and dirty way to copy the file to the filesystem. If you set the breakpoint in line 23 on the MainPage.xaml.cs the file is than in the right location on the file system. this is the issue that reading the file from and playing the animation the filesystem works on iOS but not on Android.

[2019-12-06 04:46] hulluP commented on #8769
Hi
the pulling from an asset is a quick and dirty way to copy the file to the filesystem. If you set the breakpoint in line 23 on the MainPage.xaml.cs the file is than in the right location on the file system. this is the issue that reading the file from and playing the animation the filesystem works on iOS but not on Android.

[2019-12-06 04:50] MarMarIV opened #8774 "[Bug] SwipeView in CollectionView selection"
Using SwipeView in CollectionView: SwipeView catch touch gesture and not propagate it to CollectionView so SelectionChanged is no invoked

When i try to evade with TapGestureRecognizer on SwipeView, then SwipeItem Command and TapGesture Command are invoked at same time. (Android only)

### Steps to Reproduce

1. Put SwipeView (with some SwipeItems) in CollectionView
2. Set CollectionView Selection

[2019-12-06 04:59] MarMarIV commented on #8774
I prefere to working both of the uses that i describe, because i want use SwipeView without CollectionView and TapGesture detection/Command

[2019-12-06 04:59] PureWeen commented on #8769
@hulluP if you just put a png in that same location does it load with the same code?

[2019-12-06 05:02] hulluP commented on #8769
Hi @PureWeen

if you run the project the gif loads and shows. It dumps the error the moment you press the button and try to run the animation. in my bigger project all of this works fine on iOS on Android everything works as long as I do not try to run the animation on the files which are loaded from the filesystem.

HP

[2019-12-06 05:02] PureWeen commented on #8774
@jsuarezruiz

[2019-12-06 05:10] PureWeen commented on #8769
@hulluP hmm that wasn't my experience

for me on android this is what I see when I load the app
![image](https://user-images.githubusercontent.com/5375137/70297583-f37b1e00-17ab-11ea-88c1-2c4d4fe4d5b0.png)

And there's the following exception
[code]

[2019-12-06 05:24] PureWeen commented on #8772
@truonglam5555 can you include a screen shot comparison?

Below is 4.3 compared to 4.4

![image](https://user-images.githubusercontent.com/5375137/70298169-ea8b4c00-17ad-11ea-9e80-6ce073383958.png)

[2019-12-06 05:26] hulluP commented on #8769
@PureWeen what is the simplest way to put a file into the filesystem on Android and load it? In my app the files are loaded form a server. The files exist on the filesystem and once the animation plays they throw the error.

[2019-12-06 05:50] truonglam5555 commented on #8772
![Untitled](https://user-images.githubusercontent.com/58577606/70299235-e94a3580-1826-11ea-8da1-2e5f1ce98f0e.png)

[2019-12-06 05:58] jsauve commented on #2444
I'm seeing this as well.
[code]
Scrolling fast through a CollectionView on Android produces the exception. My DataTemplate for the CollectionView contains 8 labels.

Xamarin.Android info:
[code]

[2019-12-06 06:00] truonglam5555 commented on #8772
![Untitled](https://user-images.githubusercontent.com/58577606/70299698-35e24080-1828-11ea-8798-32b128edfd59.png)

If you download xamarin froms version 4.3 or lower ,then the bug will see that the boxview has no Shadow, and it will bounce back.

[2019-12-06 06:47] MagicAndre1981 commented on #8765
@PureWeen

When compiling with [VS2019, you need to add this entry to csproj](https://github.com/xamarin/xamarin-macios/issues/7249#issuecomment-543298089):

`<DisableExtraReferences>true</DisableExtraReferences>`

But some packages may still fail.

[2019-12-06 07:32] hulluP commented on #8769
@PureWeen
OK I took the time and implemented a download of the image in the local filesystem. please pull again https://github.com/hulluP/AnimatedGifForms
now if you click on download the image will download and show. if you click on animate the image will start the animation. works fine on ios. breaks on Android.
Learning on my side next time do not try to use other code I will write my sample fr

[2019-12-06 07:37] Sauder91 commented on #7655
I'm seeing this as well on iOS when text wraps.  The hashtags in the image below should all be individually tappable, but only the first one works.  The same layout with different hash tags sometimes works; its hit or miss.  If there is only one it is always selectable though.
<img width="182" alt="Screen Shot 2019-12-06 at 1 31 35 AM" src="https://user-images.githubusercontent.com/37815396/703048

[2019-12-06 07:41] hudaIT commented on #7510
Yes i think so too

[2019-12-06 07:41] #7510 closed

[2019-12-06 07:58] hulluP commented on #8769
@hulluP test

[2019-12-06 08:53] rhouweling commented on #7877
Not sure if this helps, but we are logging our crashes in AppCenter and I have only seen reports of this crash happening with our Nokia 5.1 (Android One) development phone. No reports of other phones. Which makes me wonder if it is an Android One issue or if this only happens while debugging/running from Visual Studio. In our case it is triggered when changing a List.

The error that is logged in

[2019-12-06 09:18] haavamoa commented on #2404
Just want to share our implementation of a radiobutton / radiobutton group that is created 100% in XAML: https://github.com/DIPSAS/DIPS.Xamarin.UI/pull/48

[2019-12-06 09:34] kvpt commented on #2444
@jsauve Have you only labels or you also have image ?
I found in reproduction #8262, that the loading of the image add a loading delay which can cause this issue.
But perhaps just having an "heavy enough" DataTemplate can cause this issue.
What I don't understand yet is why this issue seem to only impact the fast LabelRenderer.

[2019-12-06 09:49] yanshouwang opened #8776 "[Bug] Set ContentPage's Style with BackgroundColor in App resources doesn't work"
### Description
Set ContentPage's Style with BackgroundColor in App resources doesn't work
### Steps to Reproduce

1. Add ContentPage Style in App.Resource and set it's BackgroundColor with a color
2. Start the app, but the page's color doesn't change as excepted.

### Expected Behavior
Page's color should be the one we set in App.Resources's style.
### Actual Behavior
Page's color doesn't change.

[2019-12-06 10:30] rmarinho commented on #8615
@georgemichailou yes they will. @jsuarezruiz just made a fix to make sure the same behavior on both platforms. If you want them to go to the left instead of center you could use CollectionView with snap and set a width to the item. that's less than the viewport.

[2019-12-06 10:30] #8615 closed

[2019-12-06 12:23] dhindrik opened #8777 "[Bug] SwipeView crash if Text not is set on SwipeItem"
### Description

### Steps to Reproduce

1. Create a ColletionView
2. Add SwipeItems to the template
3. Add an IconImageSource to the SwipeItems
4. Swipe

### Expected Behavior
Only icons visible for SwipeItem

### Actual Behavior
When running it on iOS 13.2.2 simulator NullReferenceException when the user swipes.

### Basic Information

- Version with issue: Xamarin.Forms 4.4.0.001220-pre3

### R

[2019-12-06 13:13] AbdellahOusrhireDev commented on #8762
@PureWeen I hope it's fixed with 8.4 but currently, on the stable version that is **8.3.10 (build 2)** it's throwing. One thing I forgot to mention is that on the first time the popover opens nothing bad happen but when you close & reopen it it throws.

Please make sure you **reopen the popover more than once.**

[2019-12-06 13:58] xXdRaGoNrIdDeRXx commented on #2096
`<ImageButton x:Name="btnContacts"
               Grid.Column="1"
               Source="ic_action_contacts"
				       HorizontalOptions="CenterAndExpand"
               WidthRequest="35"
               Visual="Material"
			         Command="{Binding NavigationCommand}"
               CommandParameter="Contacts"/>`

still has issue with latest Xamarin forms / visual.material: 4.3.0.991221

[2019-12-06 13:59] davidbritch opened #8778 "[Bug] SwipeViewItem handler invocation intermittent issue on iOS and Android"
### Description

When SwipeItems are revealed on iOS and Android (not tried UWP), clicking on them doesn't always invoke their handlers. Instead the SwipeItems close. However, this is an intermittent issue. Sometimes it works as planned. Other times it doesn't.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the SwipeView events page.
3. Swipe from the right on the Grid.
4. Click

[2019-12-06 14:00] xXdRaGoNrIdDeRXx commented on #3220
happening for me with image buttons

`<ImageButton x:Name="btnContacts" Grid.Column="1" Source="ic_action_contacts" HorizontalOptions="CenterAndExpand" WidthRequest="35" Visual="Material" Command="{Binding NavigationCommand}" CommandParameter="Contacts"/>`

still has issue with latest Xamarin forms / visual.material: 4.3.0.991221

[2019-12-06 14:30] davidbritch opened #8779 "[Bug][iOS][Android] Entry in custom SwipeItemView can't gain focus"
### Description

I've defined a custom SwipeItemView that contains an Entry. When the SwipeItemView is revealed, it's impossible to focus in the Entry. Attempting to do so closes the SwipeItemView.

I realise this may be unsupported behavior, but I need to know if it is.

Note: It's possible to give the Entry focus with the TAB key on iOS.

### Steps to Reproduce

1. Run the attached sample.
2. Br

[2019-12-06 14:34] Mikilll94 opened #8780 "[Bug] Android permissions READ_EXTERNAL_STORAGE and WRITE_EXTERNAL_STORAGE added even if they are not in manifest"
### Description
On Android permissions READ_EXTERNAL_STORAGE and WRITE_EXTERNAL_STORAGE are added always even if they are not present in the manifest.

### Steps to Reproduce

1. Create a new project from the Xamarin.Forms Visual Studio blank template.
2. Run Android project
3. Go to `bin` folder and look for APK for your app. Open it via 7zip (or any other unzipper) and extract Android manifest.

[2019-12-06 14:37] Mikilll94 commented on #7521
@samhouts @jfversluis @davidortinau

[2019-12-06 14:41] jsauve commented on #2444
@kvpt, I do indeed have an image as well. Using FFImageLoading's CachedImage with a one-way binding.

When I get time later, I'll try `Forms.SetFlags("UseLegacyRenderers");` and see if I can tolerate the performance hit from the the added view hierarchy complexity

[2019-12-06 14:42] davidbritch opened #8781 "[Bug][iOS] SwipeViewItem rendering issue on iOS"
### Description

I've defined a custom SwipeItemView that contains an Entry. However, on iOS the Entry is overdrawing the original text from SwipeView.Content.

### Steps to Reproduce

1. Run the attached sample on iOS.
2. Browse to the SwipeView custom SwipeItem page.
3. Swipe from the right on "What's 2+2?".

### Expected Behavior

The Entry is shown, with no overdraw of "What's 2+2?".

### Actu

[2019-12-06 14:52] davidbritch opened #8782 "[Bug][iOS][Android] SwipeViewItems cut off on one or more sides"
### Description

I've defined multiple SwipeItemView objects in a SwipeView. However, the problems are:

- On iOS, the first SwipeItemView is cut off on the left hand side.
- On both iOS and Android, the right most SwipeItemView is cut off on the right hand side.

### Steps to Reproduce

1. Run the attached sample on iOS.
2. Browse to the SwipeView custom SwipeItem page.
3. Swipe from the right on

[2019-12-06 15:03] papiermache opened #8783 "[Bug] (UWP) Font Icons disappear after idle interval"
### Description
UWP app has font icons, which display correctly. Go for a coffee and chat a bit. Come back, the page is all intact and correct **except** all icons have disappeared.

### Steps to Reproduce

1. create a page, sprinkle some font icons on it.
2. wait.
3. observe, they have all disappeared

### Expected Behavior
Not to disappear.

### Actual Behavior
 Disppeared.

NOTE - in screen sho

[2019-12-06 15:04] adammeaney opened #8784 "[UWP][Bug] SearchBar placeholder, and potentially text, overlaps SearchIcon"
### Description
As shown in the following screenshot, when the placeholder is large enough to cover the entire SearchBar, it overlaps with the Search Icon.

### Steps to Reproduce

1.  Have a searchbar
2.  Give it a long placeholder
3.  Resize the window until there is overlap, if necessary.

### Expected Behavior
Placeholder elipsizes when intersecting search icon.

### Actual Behavior
Overlaps.

[2019-12-06 15:13] SoaringChris commented on #8626
Also experiencing random scroll bars appearing in on labels within a grid as well as SegmentedControls created with Forms9Patch when placed in collection views. This was not an issue in older versions of Xamarin

[2019-12-06 17:07] #8765 closed

[2019-12-06 17:14] PureWeen commented on #8772
@truonglam5555 what's the API of the devices you are testing?

In your screen shot above are you saying the left or the right image is correct? Which one is 4.3 and which one is 4.4?

[2019-12-06 17:23] #5749 closed

[2019-12-06 17:23] VladislavAntonyuk commented on #8780
This permissions are set on Xamarin Android project properties

[2019-12-06 17:24] BalsamIbrahim commented on #8306
I'm also facing the same problem :( :(

[2019-12-06 17:25] PureWeen commented on #8782
@jsuarezruiz

[2019-12-06 17:26] PureWeen commented on #8781
@jsuarezruiz

[2019-12-06 17:26] PureWeen commented on #8777
@jsuarezruiz

[2019-12-06 17:27] PureWeen commented on #8779
@jsuarezruiz

[2019-12-06 17:36] PureWeen commented on #2096
@xXdRaGoNrIdDeRXx Yes, we have some more material work scheduled for the road map and getting ImageButton over to material will be one of the first things we do.

[2019-12-06 17:37] jsauve commented on #2444
@kvpt
I took a break out of my work day to try it out real quick.

I had my MainActivity.cs setup like this:
[code]
...and I continued to experience the same exception message as before:
[code]

However, since I'm using Forms 4.3.x, I'm not sure why `SetFlags("CollectionView_Experimental")` was being used. It may be legacy in the VS project template, or perhaps I erroneously added it at some point

[2019-12-06 17:45] PureWeen commented on #8783
@papiermache how long did you wait?

Do you have a repro by chance?

We have a gallery with FontIcon, I've waited a bit, and nothing is disappearing

![image](https://user-images.githubusercontent.com/5375137/70343829-7a181580-1815-11ea-8eb2-517c3d3739e7.png)

[2019-12-06 18:21] jsuarezruiz commented on #8779
Should be fixed with https://github.com/xamarin/Xamarin.Forms/pull/8653

[2019-12-06 18:23] PureWeen commented on #8780
What @VladislavAntonyuk said

If you look at the AssemblyInfo.cs file there are two attributes added
[code]

You can remove those.

Also if you're deploying with DEBUG I'm pretty sure that will add "Internet" and "ReadExternal" into the manifests for reasons of debug experience. I tested with a Xamarin Android Native and it added those same permissions. Then when I switched to release they were go

[2019-12-06 18:23] #8780 closed

[2019-12-06 18:30] PureWeen commented on #8776
Because the ContentPage is deriving from ContentPage you have to set *ApplyToDerivedTypes="True"* and then it will work

[code]

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/styles/xaml/implicit#apply-a-style-to-derived-types

[2019-12-06 18:30] #8776 closed

[2019-12-06 18:50] papiermache commented on #8783
Hi Shane,
How long?  I dunno, had the page up, gone for 10 mins or so then come back to find them all missing. Its consistent – all other devs/testers finding same issue.

How are you putting up the icons?  We’re using Image and ImageButton controls – and I think its more oftenon the ImageButton control (but that’s just my impression fwiw).
Regards, Rick.

From: Shane Neuville [mailto:notification

[2019-12-06 19:06] PureWeen commented on #8044
@acaliaro looking at your stack trace it doesn't seem like this is an issue coming from the Forms SDK

[code]

We only use dialogs with pickers. The Modals aren't implemented using Dialogs

I think you'll need to take this issue up with
https://github.com/redth-org/AndHUD

@Redth do you have any thoughts on the stack trace?

[2019-12-06 19:10] Redth commented on #8044
It definitely seems like an AndHUD related issue and not Forms.  It looks perhaps like they are trying to dismiss an AndHUD dialog which has already been dismissed? or trying to do so off the UI thread? Or maybe there's some other unexpected dialog / window code going on at the same time in the app?  It's honestly very difficult to say without a repro.

[2019-12-06 19:12] PureWeen commented on #8044
@acaliaro can you see if this is happening

And then if you're still having issues create an issue over here. If you can get a repro together that would be really helpful
https://github.com/redth-org/AndHUD

[2019-12-06 19:12] #8044 closed

[2019-12-06 19:22] PureWeen commented on #8637
Can you let us know if what @dblookup says is correct @stesvis ?

Can you test this with the latest 4.4 pre and/or nightly? https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

[2019-12-06 19:28] PureWeen commented on #8604
@andos716 can you test this with the latest 4.4 pre and/or nightly? https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

I also tried testing your sample and I'm not able to reproduce.

Can you attach a gif?

I can see a little dance that comes in as things are coming in but I'm not seeing what you have in your screen shot above

![F44338F3-A91A-4E93-A89C-949BE80484FE](https://user-images

[2019-12-06 19:30] PureWeen commented on #8778
@jsuarezruiz

[2019-12-06 19:32] #2136 closed

[2019-12-06 19:37] samhouts commented on #8672
closed by #7711

[2019-12-06 19:37] #8672 closed

[2019-12-06 19:37] samhouts commented on #8682
closed by #8696

[2019-12-06 19:37] #8682 closed

[2019-12-06 19:38] samhouts commented on #6700
closed by #8666

[2019-12-06 19:38] #6700 closed

[2019-12-06 19:38] samhouts commented on #8126
closed by #8403

[2019-12-06 19:38] #8126 closed

[2019-12-06 19:38] PureWeen commented on #8301
@wojciech-kulik do you have multi dex enabled for release builds?

What is your setup for release builds? MultiDex? ProGuard? D8? R8?

If you're using MultiDexing can you try to just use ProGuard and see if that fixes?

![image](https://user-images.githubusercontent.com/5375137/70351047-47761900-1825-11ea-9d58-3f15dede9769.png)

[2019-12-06 19:38] samhouts commented on #7773
closed by #8429

[2019-12-06 19:38] #7773 closed

[2019-12-06 19:38] samhouts commented on #6362
closed by #8599

[2019-12-06 19:38] #6362 closed

[2019-12-06 19:39] samhouts commented on #7361
closed by #8191

[2019-12-06 19:39] #7361 closed

[2019-12-06 19:39] samhouts commented on #6903
closed by #8324

[2019-12-06 19:39] #6903 closed

[2019-12-06 19:39] samhouts commented on #7505
closed by #8147

[2019-12-06 19:39] #7505 closed

[2019-12-06 19:40] samhouts commented on #8624
closed by #8630

[2019-12-06 19:40] #8624 closed

[2019-12-06 19:40] samhouts commented on #7823
closed by #8032

[2019-12-06 19:40] #7823 closed

[2019-12-06 19:40] samhouts commented on #6878
closed by #8215

[2019-12-06 19:40] #6878 closed

[2019-12-06 19:40] samhouts commented on #7167
closed by #7279

[2019-12-06 19:40] #7167 closed

[2019-12-06 19:41] samhouts commented on #3171
closed by #7603

[2019-12-06 19:41] #3171 closed

[2019-12-06 19:41] samhouts commented on #6577
closed by #7465

[2019-12-06 19:41] #6577 closed

[2019-12-06 19:41] samhouts commented on #8417
closed by #8430

[2019-12-06 19:41] #8417 closed

[2019-12-06 19:42] samhouts commented on #8417
@tuncayalt This is in the latest 4.4.0-prerelease. Thanks!

[2019-12-06 19:42] samhouts commented on #7385
closed by #7386

[2019-12-06 19:42] #7385 closed

[2019-12-06 19:42] samhouts commented on #7714
closed by #8189

[2019-12-06 19:42] #7714 closed

[2019-12-06 19:48] squinn7 commented on #8783
I would like to add that we have run into this issue as well on UWP. I did a customer meeting the other day and it happen to the app while demonstrating the app. It doesn't come up while developing but it does come up in normal usage. Not sure how long one would have to wait but I have seen the issue several times. Not sure of the exact cause. The life cycle suspend does not seem to trigger it but

[2019-12-06 19:52] derekantrican commented on #2047
Related issue: https://github.com/xamarin/Xamarin.Forms-api-docs/issues/97

[2019-12-06 20:04] aljaiban commented on #6342
I would appreciate if you have any update here.

[2019-12-06 20:07] VladislavAntonyuk commented on #8783
Why not all icons disappear? Are there some other windows overlap under the current window?

[2019-12-06 20:08] PureWeen commented on #8728
Verified this issue by using the following sample

https://github.com/xamarin/xamarin-forms-samples/tree/master/UsingResxLocalization

- download the sample
- build
- Folder created: OS\bin\iPhoneSimulator\Debug\pt-br
- downgrade to Xamarin.Forms 3.6
- build
- folder created: OS\bin\iPhoneSimulator\Debug\pt-BR

Assigning to @StephaneDelcroix

[2019-12-06 20:09] papiermache commented on #8783
R u referring to the two screen shots?  As I doc’ed, the ones that did not disappear are PNG’s.  All the Font icons (3 on that page) disappeared.
And it’s not just this page .. ALL pages having Font Icons exhibit same behaviour.

From: VladislavAntonyuk [mailto:notifications@github.com]
Sent: December 6, 2019 3:07 PM
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: Rick Piovesan <r

[2019-12-06 20:13] PureWeen commented on #8583
Possibly related

https://github.com/xamarin/Xamarin.Forms/issues/6852

[2019-12-06 20:28] kgouraw commented on #6746
Please try to use UIStatusBarStyle in iOS AppDelegate, it worked for me. Ex:
uiApplication.SetStatusBarStyle(UIStatusBarStyle.DarkContent, true)

[2019-12-06 20:40] squinn7 commented on #8783
My colleague gave me a good hint. You can make the issue happen if you put your computer to sleep and resume it. Any font icon will be gone.

[2019-12-06 20:44] Woofo commented on #6298
Here's a workaround for anyone still struggling with this: https://forums.xamarin.com/discussion/comment/383797/#Comment_383797

[2019-12-06 20:58] squinn7 opened #8787 "[Bug] Entry text initially invisible on UWP"
### Description

On UWP, with a certain combination of views and layouts, there is a circumstance where text in an entry will initially be invisible. This can be remedied in the app by resizing the windows or clicking into the entry. Based on my investigation, there seems to be an issue where the the actual element that holds the text in UWP is not full size.

We also observed a similar but not qu

[2019-12-06 22:33] cinsola commented on #8744
@PureWeen i tested again on xamarin.forms 4.4.0.991220-pre3 and the issue is **not** fixed.
Tested on Galaxy S10 Android v9

[2019-12-07 00:52] mfeingol opened #8789 "[Bug] Shell's MenuItemTemplate doesn't work with a DataTemplateSelector"
### Description

The only way I can see to customize MenuItem instances in a Shell is to use Shell's MenuItemTemplate property. The most elegant way to introduce variation in a template is to use DataTemplateSelector.

Unfortunately, this doesn't work with MenuItemTemplate: it fails with an InvalidCastException.

### Steps to Reproduce

1. Set up a Shell
2. Set up a simple DataTemplateSelector
3.

[2019-12-07 01:18] PureWeen commented on #8749
duplicate https://github.com/xamarin/Xamarin.Forms/issues/7594

[2019-12-07 01:18] #8749 closed

[2019-12-07 01:18] PureWeen commented on #7594
https://github.com/xamarin/Xamarin.Forms/issues/8749#issuecomment-562295566

[2019-12-07 01:26] PureWeen commented on #8394
@kcrg @ericbrunner

- can you provide a repro?  and/or provide a full stack trace? Though a repro would help us fix this super quick
- test with the latest?

[2019-12-07 01:42] PureWeen commented on #7681
@dinobu I tried to recreate this with your steps and wasn't able to.

It's been a while so I'm going to close this for now.
If you can attach a repro then we can investigate and reopen

[2019-12-07 01:42] #7681 closed

[2019-12-07 01:46] yanshouwang commented on #8776
@PureWeen Thanks, helped me a lot

[2019-12-07 01:55] bmacombe commented on #8787
#8214 might resolve this.  I noticed similar when testing for that PR

[2019-12-07 04:09] beeradmoore opened #8792 "[Enhancement][iOS] Change Xamarin.Forms template to better handle default status bar style"
## Summary
In a new Xamarin.Forms project the Info.plist for the iOS project does not contain a UIViewControllerBasedStatusBarAppearance entry (at least in VS for Mac). By [default](https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/iPhoneOSKeys.html) when the property is not set it is internally set to true.

When a user uses Xamarin.Forms o

[2019-12-07 04:19] ericbrunner commented on #8394
@PureWeen All that information is inside my comment from 6th of November. Create a new Xamarin.Forms Shell API without REST API Backend. Update the data-bindings in the XAML. Adjust the AppShell.xaml to the structure I posted. I will try to create such repo

[2019-12-07 05:05] adamhewitt627 commented on #2212
I was thinking about doing something along these lines in a project of mine, and would have jumped on fixing this except it appears to me to work as documented, at least in Xamarin.Forms 4.3. If I understand your issue correctly, [this gist](https://gist.github.com/adamhewitt627/728f20d2dafb3b92f1f75b0ca9ca970b) shows it working.

[2019-12-07 05:32] PureWeen commented on #8394
@ericbrunner aw I had missed that there was an existing issue this linked to

So can we just close this one in favor of https://github.com/xamarin/Xamarin.Forms/issues/8308 . ?

Seems like that one already has a repro and is confirmed

[2019-12-07 05:43] adamhewitt627 commented on #2212
On a related note, I see some possible issues with the existing implementation:https://github.com/xamarin/Xamarin.Forms/blob/1192deedabdb0fd1eb13243cac1f6ac438afd643/Xamarin.Forms.Platform.UAP/PageExtensions.cs#L7

Because of how the UWP Frame caches Pages, it isn't clear to me how this can possibly support back navigation. I haven't actually tried it yet, but the `Guid` is only added during a for

[2019-12-07 10:22] ericbrunner commented on #8394
@PureWeen No you can't close this issue until solved. The other issue is different. There is mentioned that there is no issue on tabs. Well my filed issue is totally tabbar related / collectionview issue on iOS.

[2019-12-07 10:52] WayaFlyfeather commented on #8787
@bmacombe I'd guess it is (also?) related to #8503, and hopefully fixed in #8536. I don't know if we have been working on the same symptom(?)

[2019-12-07 11:02] WayaFlyfeather commented on #8784
Note that this is actually not an issue in 4.3 at the moment, because of #8743 - but it will be when fixed (perhaps with the merge of #8773).

[2019-12-07 12:35] DiagProf commented on #8498
Hello I am newbie to Xamarin.Forms. I think the shell is a great idea.
That's why I wanted to test it with UWP.
I checked out the following:
https://github.com/xamarin/xamarin-forms-samples/tree/master/UserInterface/Xaminals
and add UWP support, of course with experimental flag.
I still have to copy the pictures into UWP Project and then it looked like it works.
But I can’t navigate to a detail pa

[2019-12-07 13:36] EmilAlipiev opened #8793 "[Bug] Hotreload not working for ContentView"
### Description
I am not sure if it is general case with contentviews but in my case making changes in a contentview used as datatemplate isnt applying changes instantly. I have to navigate back and re-navigate to the same page in order to see the changes. I tested on both VS 2019 and VS for Mac. both has the problem
### Steps to Reproduce

1. clone https://github.com/syncfusion/essential-ui-kit-f

[2019-12-07 15:26] akamom commented on #3619
I've run exactly in the same issue than @knightmeister and @SunnyMukherjee
The items getting added to the ObservableCollection, but the ListView would not refresh to show the new items.

The workaround @SunnyMukherjee offered, sadly don't work.

[2019-12-07 16:46] PureWeen commented on #8394
Sounds good! Though I'm fairly confident once that one is solved it'll fix this one :-)

In either case, a full stack trace would also be helpful

[2019-12-07 17:13] ericbrunner commented on #8394
I'll create a repo tomorrow and upload it

[2019-12-07 17:36] Amine-Smahi commented on #7577
How to fix this problem ?

[2019-12-07 17:51] PureWeen commented on #7577
@cfb11 @Amine-Smahi can you log a new issue?

[2019-12-07 18:01] Amine-Smahi commented on #6261
Still same problem , come on guys

[2019-12-07 18:30] PureWeen commented on #8744
@cinsola can you test with the latest nightly https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

[2019-12-07 18:46] PureWeen commented on #8472
@BalasubramaniSundaram

I'm wondering if this is related to this issue
https://github.com/xamarin/xamarin-android/issues/2049

Can you try the workaround outlined there to switch to a different GC implementation and see if that fixes for you?

[2019-12-07 19:07] PureWeen commented on #8754
@z07713 can you log this here https://developercommunity.visualstudio.com/spaces/8/index.html ? Or use the feedback tool inside Visual Studio?

To be completely honest though :-/ If there is an issue here with shared projects I don't think it will get fixed. Shared projects have been deprecated and issues with them don't really get that much attention. It never hurts to log the bug but I think you

[2019-12-07 19:07] #8754 closed

[2019-12-07 19:22] PureWeen commented on #8691
This issue has been asked about in a few different ways. I think the useful thing here would be a way to articulate where the focus starts and not necessarily just use TabIndex. This is also relevant when navigating forward and back from a page

[2019-12-07 19:29] PureWeen commented on #8789
@mfeingol I wasn't able to reproduce

- can you test this on the latest nightly https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds
- and/or include a repro?

I just used the instructions here to create a DataTemplateSelector https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/templates/data-templates/selector and it worked for me

That part of the code does the follow

[2019-12-07 20:13] cinsola commented on #8744
@PureWeen 4.5..0.37-nightly is still broken. Background color is updated ok, while Translation is not. Same situation displayed in screenshots: translation is not bound correctly

[2019-12-07 20:23] MappingSteve commented on #1862
@jassmith

I think you are not seeing the need being described.

What you say is only accurate if `HeightRequest` is large enough to hold the desired value and/or the view is capable of expanding beyond `HeightRequest` if needed.

Consider a stack of labels, with bound text that may require an arbitrary number of lines.
Consider a desire to have each label to be at least 60 DPs tall, but to grow t

[2019-12-07 20:31] PureWeen commented on #8470
@Kikanye I would use a GestureListener instead of events here. When you use the event that's basically just adding a listener to the view which will intercept any additional gestures. This isn't really a Forms issues is more of an Android gesture orchestration thing

you can check our our LongPressGesture here that we use ViewCells

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Form

[2019-12-07 20:31] #8470 closed

[2019-12-07 20:44] PureWeen commented on #8675
@simspace-dev  these are the steps to follow to trigger the error correct?
[code]

I tested this on 8.4  (which is in public preview) and I didn't have any issues

Can you try 8.4 see if you have the same issue? If so can you attach a short gif just so we can make sure we're following the steps correctly?