[2019-04-07 03:12] davidortinau opened #5832 "CollectionView doesn't reset visual selection state"
### Description

Perhaps related to other open issues on CollectionView selection. I have 2 way binding for SelectedItem, and when I clear out the model in the binding context, the row/item is still displaying as selected. I can select it over and over and it'll set and reset.

### Steps to Reproduce

https://www.screencast.com/t/6hiEZMHqc

### Expected Behavior

When I set the selected item to nu

[2019-04-07 05:53] intel3 commented on #5813
You don't need permission, just build and deploy the sample app on the device, just hit home button and reopen the app via icon on home screen. Each time you do it results in a new activity getting created. You can confirm it by using the back button.

[2019-04-07 07:15] alataffective opened #5833 "Forms.SetFlags not available for WPF"
Forms.SetFlags does not appear to be available in Xamarin.Forms.Platform.WPF.4.0.0.304370. Is it just too early to support this?

[2019-04-07 07:59] vichetsen opened #5834 "Build failed with Resource.Designer.cs"
I cannot build my Xamarin Form project.
The build failed at Resource.Designer.cs

Visual Studio 2017 15.9.11
Xamarin Form: 3.6.0.293080

### Description
I create Xamarin Form projects in Visual Studio. Then, I upgraded my nuget packages.
It was working fine, I can debug my codes with Xamarin Live. After several attempts, I add new screens and get this problem.

### Screenshots
<img width="1233" al

[2019-04-07 08:08] vichetsen commented on #5834
I try to delete object & bin folders and restart visual studio already. It is still happening.

[2019-04-07 08:15] ajaykeshri opened #5835 "Find clicked position of list item in collectionview Xamarin form"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2019-04-07 09:15] vichetsen commented on #5834
I found the issue for my case. The errors from thes screen above are intellisense errors. It can build successfully. The problem that I cannot launch my app because I try to change xaml of tabbed page to display at bottom.

[code]

[2019-04-07 09:16] #5834 closed

[2019-04-07 12:12] MookieFumi commented on #4784
I've checking how it works and I'll try to do it in Android and iOS platforms so I'm going to open a new PR related with this issue.

[2019-04-07 12:39] jrahma opened #5836 "OnAppearing not getting invoked"
Hi,

I have the following **OnAppearing** in my Signup page..

[code]
From HomePage, the user clicks add and if the user is not signed in then t will start the Signin ContentPage like this:

[code]
From the Signin Page the user clicks on the Signup button which will start the Signup ContentPage like this:

[code]
so then anything I keep in the OnAppearing will NOT be invoked even just a simple:

`

[2019-04-07 13:13] ChasakisD commented on #5825
Unable to share code right now. Going to make a demo app using the raised center with the TabbedPage. Implementing the raised center with shell should be the same. When the demo is published I'll ping you

[2019-04-07 14:50] AntRemo commented on #5828
@Sebastian1989101 Gotcha...well that was my guess 🙂

Good luck, will be monitoring this thread as I have not upgraded yet.

[2019-04-07 17:27] wcoder commented on #5793
The same issue with `ListView` (for `ObservableRangeCollection` from mvvm-helpers), replacing to ObservableCollection - works correctly.

[2019-04-07 19:21] puppetSpace commented on #5738
Worked for me. Thx.

[2019-04-07 19:25] puppetSpace commented on #5738
@adrianknight89 I had the same issue. The projects were in the folder, but not in de solution. Then I saw that I had opened ".Xamarin.Forms.sln" and not "Xamarin.Forms.sln" (without the dot). Then everything worked fine.

[2019-04-07 22:09] adrianknight89 commented on #2735
The issue seems to be due to the fact that force update size event handlers are being subscribed at an exponential rate. `WireUpForceUpdateSizeRequested` in `CellRenderer` wires up the same event handler every time `GetCell` is called (and this can happen when items are first shown, the user scrolls through the list, and the user taps on a cell and issues a forced size update).

The unsubscribing

[2019-04-07 22:39] noypi commented on #3172
Hi,

I am using 4.0.0.304370-pre8.
The example from (link below) does not display anything on UWP, when using CarouselView.
But CollectionView displays the list.  Are there any specific configuration needed to enable CarouselView for UWP?

https://devblogs.microsoft.com/xamarin/xamarin-forms-4-0-feature-preview-an-entirely-new-point-of-collectionview/

Thanks.

[2019-04-08 00:34] codercampos commented on #5210
I think version 3.6 is having this issue too. I just found out in a project of mine.

[2019-04-08 01:00] pauldipietro commented on #3172
Hi @noypi,

While CollectionView can technically "work" to a rather small degree on UWP, the full implementation of CollectionView and CarouselView are strictly being done on Android and iOS to start with. No official work for UWP is scheduled at this time, but we're continuously collecting feedback. If you would like to discuss what sort of work you're doing on UWP in particular, you can send me

[2019-04-08 01:08] adrianknight89 commented on #5815
#3430

[2019-04-08 01:10] adrianknight89 commented on #5738
@puppetSpace Good catch! I'd opened the same sln as well, so I'm guessing I had the same problem.

[2019-04-08 01:38] mfeingol commented on #4881
This is still an issue in Visual Studio 2019 RTM.

[2019-04-08 03:26] PureWeen commented on #5738
@kingces95 do you/we still use the *.Xamarin.Forms.sln* variations?

[2019-04-08 03:29] PureWeen commented on #5828
@Sebastian1989101 my guess is that it's some quirk with packages.config. A lot of times it'll add multiple versions of XF or do odd things with support.

You should be able to right click packages.config and convert to PackageReference. I realize that's not the best answer but it'll most likely fix your issue. There weren't any dependencies that changed between the stated XF versions so it sounds

[2019-04-08 03:46] adrianknight89 opened #5838 "[Android] 4.0.1.305340-nightly breaks ListView recylcing"
I have a `DataTemplate` with a `ViewCell` whose content is a `Grid`. The grid has multiple auto-sized rows. One of the rows is sized according to view model bindings, but Android does not respect these bindings if I scroll up and down on the `ListView`. So, it looks like cell recycling is broken.

[code]

The style sets `WidthRequest` and `HeightRequest` of the image according to the view model. R

[2019-04-08 03:59] Adam-Langley opened #5839 "Forms ListView Row Animations to not occur"
### Description
A simple ListView data-bound to an ObservableCollection should animate with add/remove/move animations on iOS. None of these animations occur however.

### Steps to Reproduce

1. Create a simple project with a ListView bound to an ObservableCollection
2. Bind a button to an add/remove or move action, where you fire the appropriate INotifyPropertyChanged event
3. Click the button, w

[2019-04-08 05:14] RawoofSharief commented on #5749
I have attached the simple SfListView sample and AHorizontalScrollView.cs file. Kindly merge the changes in your source.
[DisableScrollIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/3052708/DisableScrollIssue.zip)

[2019-04-08 05:26] ali-h2010 commented on #5288
Any update on this issue?

[2019-04-08 05:30] drewgillies commented on #5835
Thank you for the issue, Ajay--we'd like some more clarity, please. Please provide detailed steps to reproduce the problem.

[2019-04-08 06:14] Sivaraman761 commented on #4712
Hi @samhouts

Any update on this issue?

[2019-04-08 06:30] kelvincwk commented on #4184
This is not an issue on the Android but only iOS.

The following have been tried:-

### HasUnevenRows
I have similar problems and for once touching the ListView.HasUnevenRows=false then back to true it worked in XF 3.4.0.1008975 until recently we gave it an update to XF 3.6.0.293080, the list has gone messed up the all row heights are not calculated properly - hence HasUnevenRows is only making th

[2019-04-08 06:58] psp589 opened #5840 "[UWP] keyboard hide"
### Description
When I tap an entry places and the bottom of the page, when the keyboard appears, it hides the entry
### Steps to Reproduce

with the following xaml:
[code]
If we tap in "fields group 3", "field 2", the keyboard will appear and hide the entry.
### Expected Behavior
The screen to be moved to always see the focused entry
### Actual Behavior
the screen stays hidden
### Basic Informati

[2019-04-08 07:13] glennawatson commented on #5166
We are having similar issues to @dansiegel -- on the ReactiveUI MVVM framework we are delayed until the change are made.

[2019-04-08 07:45] rails-hub opened #5841 "Unwanted Behavior of Master-Detail Menu/Hamburger button"
### Description
XF: 3.6.0.293080
Using the basic template for Master-Detail App with `SplitOnLandscape` MasterBehavior the menu/hamburger button does not work as expected. The button shows in the `Landscape` mode while it shouldn't and it gets hidden in the `Portrait` mode while we return back to the `Detail` page.
### Steps to Reproduce

1. Create a `Master-Detail Forms` app from the given templa

[2019-04-08 07:57] rails-hub opened #5842 "Unwanted Behavior of Master-Detail Menu/Hamburger button"
### Description
XF: 3.6.0.293080
Platform: iOS
Device: iPad
Using the basic template for Master-Detail App with `SplitOnLandscape` MasterBehavior the menu/hamburger button does not work as expected. The button shows in the `Landscape` mode while it shouldn't and it gets hidden in the `Portrait` mode while we return back to the `Detail` page.
### Steps to Reproduce

1. Create a `Master-Detail Forms

[2019-04-08 08:14] psp589 opened #5843 "[Android] readonly entry focus, select text not working"
### Description
When I tap a readonly entry I can't get the focus on it, and I can't select the text on it it is behaving as a disabled entry ( regarding the functionality).
It works in the expected way in UWP but not in Android.
### Steps to Reproduce

just creating an Entry like this
`  <Entry Text="Test" IsReadOnly="True"></Entry>`

### Expected Behavior
The entry should get the focus and  its

[2019-04-08 08:22] psp589 opened #5844 "CollectionView SelectionMode SelectionMode="Multiple" Not working ( #5625 Not Solved)"
### Description
The issue #5625  was closed but it is not fixed.
In UWP I can't still select more than one item.
In Android I can, but the two way binding is not working (it works in mode= "single" but not in "Multiple") so in the UI I can see more than 1 item selected but it doesnt get reflected in the viewmodel.

[2019-04-08 08:31] #5841 closed

[2019-04-08 10:12] bill2004158 opened #5845 "[Android] InputTransparent="true" doesn't work if ScrollView Orientation="Horizontal""
### Description
if InputTransparent, then scroll view should NOT Intercept the TouchEvent.
which impl https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs#L157
however, for HorizontalScrollView, it still Intercept the touch event.
this is because missing
**`			if (_renderer.Element.InputTransparent)`
`				return false;`**
in AHorizonta

[2019-04-08 12:01] ddobrev commented on #4045
"it has not risen" - wow, I had no idea your bugs were sentient and therefore able rise and fall by themselves. If this is the case, one would wonder why two and a half more months haven't been enough for the purpose. I'm equally surprised how you can see a simple reproduction of two steps, that is, it's a case easy to encounter, and yet you need evidence it's actually important! Evidence?! What f

[2019-04-08 12:59] pizzahead24 commented on #5788
@samhouts Very interesting. Good job on that find. I havent tried images from that source without dashes since all of them contain dashes and we cant control them. I will look more into the certificate thing.

[2019-04-08 13:01] pizzahead24 commented on #5788
@samhouts Whats also interesting, is the dash images from the listener.ecp123 server that wont work seem to work fine on web browsers on Android. Just seems to be Xamarin Android

[2019-04-08 13:34] jrahma opened #5846 "TitleView not showing when PushModalAsync"
I tried the TitleView in a PushModalAsync but nothing is shown.

My MainPage has:

[code]

which is needed for the MainPage but why it should affect the Modal pages although I set the:

`NavigationPage.SetHasNavigationBar(this, false);`

In the Modal page?

Below is my XAML and I am showing the page using:

`Navigation.PushModalAsync(new Signin());
`
My contractor:

[code]
My XAML:

[code]

[2019-04-08 14:28] pizzahead24 commented on #5788
Adding
System.Net.ServicePointManager.ServerCertificateValidationCallback = delegate { return true; };

In the MainActivity seemed to fix those images not showing, but is this ok to do?

[2019-04-08 16:21] davidbritch commented on #5832
For what it's worth, I've also seen this problem (on iOS). Even when I clear `SelectedItem` through code, the visual selection isn't cleared.

[2019-04-08 16:31] samhouts commented on #5845
@bill2004158 Thank you for the report! Would you be interested in building a test case for this problem and submitting a PR to resolve it?

[2019-04-08 17:09] samhouts opened #5848 "[Feedback] xamarin forms using >500 MB"
### Description

<p><p>Made a test app that uses Visual Studio 2017  C# Cross-Platform app / Master-Detail / only UWP as base and modified ItemsViewModel.cs so that it makes 100X items -&gt; 600 items in a list. Then i tried scrolling the list up and down repeatedly with mouse and noticed that Process Memory in Diagnostic tools window easily goes up from initial about 80 MB to for example 500 MB.

[2019-04-08 17:09] samhouts opened #5849 "[Feedback] Design Time Data set in a composite control does not propogate through to pages using the control"
### Description

<p>Steps to recreate

Create a new ContentView
Add Controls with Design Time Data
Add new control to a view / page
See that the data is not visible</p>
<a href="https://developercommunity.visualstudio.com/content/problem/520798/design-time-data-set-in-a-composite-control-does-n.html">View on Developer Community</a>
<br>To find diagnostic information, see the <a href="https://devdi

[2019-04-08 17:18] PureWeen commented on #5288
@ali-h2010
https://github.com/xamarin/Xamarin.Forms/issues/5288#issuecomment-478209070

[2019-04-08 17:18] AdamBowler commented on #4715
I have a Xamarin.Forms app and since upgrading to 3.4.0.1009999 I have noticed the error

MainActivity.OnBackPressed ()

with the stack trace

    Enumerable.Last[TSource] (System.Collections.Generic.IEnumerable`1[T] source)
    Platform.HandleBackPressed (System.Object sender, System.EventArgs e)
    (wrapper delegate-invoke) <Module>.invoke_bool_object_EventArgs(object,System.EventArgs)
    Form

[2019-04-08 17:26] mrlacey commented on #2415
Is this spec really done?
Why close this just because there's now a Tizen implementation?
I was under the impression that the navigation functionality was still under review.

[2019-04-08 17:49] weitzhandler commented on #2415
Still no UWP support. Biggest disappointment I ever had of Xamarin.

[2019-04-08 17:57] pauldipietro commented on #2415
@weitzhandler Please email me at paul.dipietro@microsoft.com if you would like to discuss this and UWP in general. We are not actively ignoring the platform, but Android and iOS are receiving the initial implementation and investigations into Shell support for UWP are actively ongoing.

[2019-04-08 18:20] jvhgamer commented on #4510
`BackgroundColor = Color.Transparent` doesn't appear to be the issue. Tested with `Color.White` and got similar results. `ImageButtons` work fine on initial page appearing but if the page containing them is navigated away from and navigated back to the next time any imgBtn is interacted with this issue occurs. On Xamarin Forms 3.6.0.264807 on Android.

[2019-04-08 18:26] samhouts commented on #5844
Duplicate of #5625

[2019-04-08 18:26] #5844 closed

[2019-04-08 18:27] samhouts commented on #5625
@psp589 We're currently focusing on implementing all features for Android and iOS before moving on to UWP.

We'll take a look at Android and see what's missing. Thanks!

[2019-04-08 18:30] samhouts commented on #5846
@jcmanke @adammeaney @tdoell What do you mean by 👎 ?

[2019-04-08 18:32] samhouts commented on #5839
@Adam-Langley Would you mind attaching your sample project? Thanks!

[2019-04-08 18:34] jcmanke commented on #5846
He's doing everything in his power to not show a title bar, then asking why it isn't showing up. It's not a valid bug.

[2019-04-08 18:37] tdoell commented on #5846
By applying this method
[code]

he is explicitly saying don't show my navigation bar and then is wondering why his `TitleView` not showing up.

I agree with @jcmanke that this should not be posted as an issue/bug.

[2019-04-08 18:38] adammeaney commented on #5846
And he has a forum post where he hasn't even waited a day to discuss the issue.

Basically, its not a real issue, and raising it here was the wrong decision, and it does not belong on the Github issues.

If it was a constructive post asking to have a TitleView feature to exist even without a Navigation Page, that would be worth discussing potentially. But this is just not what is happening here.

[2019-04-08 18:43] samhouts commented on #5838
Hi @adrianknight89 ! Nope, this is the perfect place to report these issue, thanks!

 268567 was built from https://github.com/xamarin/Xamarin.Forms/commit/ce148bf4c81f7d1da5ef74c7a2a43cca6ca73331. 305340 was build from https://github.com/xamarin/Xamarin.Forms/commit/740654ff5654b6f572ddb6be7b34991bb2d73d02. If you have a sample project, we can help investigate. Thanks!!

[2019-04-08 18:47] samhouts commented on #5846
Great! I just wanted to make sure that your thumbs down didn't mean, "Boo, why doesn't this work, Forms needs to fix this!" 😆 Thanks for the clarification!!

@jrahma it looks like you have your answer on the forum. If you have additional context you'd like to add here, let us know! Otherwise, I'll go ahead and close this. Thanks!

[2019-04-08 18:47] #5846 closed

[2019-04-08 18:49] gtruini commented on #2233
Any update on this bug? I don't think this behavior will be ok for my stakeholders.

[2019-04-08 18:57] candidodmv commented on #5070
Hi @samhouts  i'm getting the same error here.

[2019-04-08 19:01] PureWeen commented on #5070
- delete obj/bin
- convert to package reference
- check csproj files of all projects for conflicting versions
- delete the contents of Resource.designer.cs and rebuild android project

[2019-04-08 19:10] adrianknight89 commented on #5838
@samhouts Thanks. I'll try to create a repro tonight. Just to confirm, the nightly builds are based off of `master`, correct?

[2019-04-08 19:12] candidodmv commented on #5070
On the fly @PureWeen . Thanks

[2019-04-08 19:18] #5071 closed

[2019-04-08 19:18] #5520 closed

[2019-04-08 20:02] jrahma commented on #5846
but that is not satisfying answer :( lol

I believe that TitleView should work for normal page as well as Modal popup because you cannot imaging any page without a title, at lease mostly...

That's why I' hope to make this as a feature request to provide the TitleView even for the modal popup and even if the Main page was set not to show the title bar because developers might need to show the bar

[2019-04-08 20:11] samhouts commented on #5838
That's correct. Thanks, @adrianknight89 !

[2019-04-08 20:24] PureWeen commented on #4594
Possibly use GraphQL for the API

https://github.com/xamarin/Xamarin.Forms.GraphQL

[2019-04-08 20:50] samhouts commented on #5842
Duplicate of #3085

[2019-04-08 20:50] #5842 closed

[2019-04-08 20:52] samhouts commented on #5833
@alataffective There are no experimental features implemented yet for `Forms.SetFlags`. What flag are you looking to enable? Thanks!

[2019-04-08 20:54] samhouts commented on #5836
@jrahma Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-08 21:06] acupajoe commented on #5830
@samhouts thanks for responding! Entry cells allow you to set the text color of descriptive text but not the placeholder color or value text color. I needed a custom renderer for it and had to use the _hacky_ version (seen in OP) to do so. Ideally this would be exposed in the Forms API, but this seemed like an easier fix!

[2019-04-08 21:08] samhouts commented on #5830
@acupajoe That makes sense! Would you have found using a `ViewCell` with an `Entry` as a suitable solution, as well? Thanks!

[2019-04-08 21:17] samhouts commented on #5719
That error was #5677.

[2019-04-08 21:22] samhouts commented on #5719
@Moltroon I updated your sample from pre7 to pre8 to resolve the error message that @kingces saw. I am able to tap anywhere within the element, and it selects the row. Can you please confirm that you're still experiencing this issue? Perhaps it was fixed in pre8. Thanks!

[2019-04-08 21:33] jrahma commented on #5836
I got this resolved by changing it to:

[code]

to:

`Navigation.PushModalAsync(new Signin());`

I don't know why is that but it solved my problem.

[2019-04-08 21:33] #5836 closed

[2019-04-08 21:54] samhouts commented on #4729
Duplicate of #3528

[2019-04-08 21:54] #4729 closed

[2019-04-08 22:05] Carbaholic commented on #5700
Still can't reproduce but I am narrowing it down.

This happens if the OnMeasure method is called on a listview on a page that has been popped from the navigation stack. I'm not sure why that method is called on a page that is no longer on the navigation stack. I even set the page to null after popping it and it the onMeasure method is still called.

[2019-04-08 22:22] Carbaholic commented on #5700
Changed from Navigation.remove to popping the page and the same problem persists.

[2019-04-08 23:22] Adam-Langley commented on #5839
Hi @samhouts - indeed, let me just clean it up and I'll make it available.
Thanks.

[2019-04-08 23:53] tmt242001 commented on #5641
Fixed in 3.6.0.293080

[2019-04-08 23:53] #5641 closed

[2019-04-08 23:55] tmt242001 commented on #5699
Works in 3.6.0.293080

[2019-04-08 23:55] #5699 closed

[2019-04-08 23:57] samhouts commented on #5778
Yeah, I can see where it throws that exception now. The problem is that the backing list is changing faster than the callback that tries to populate the ItemsSource can access the items. It's so fast, though, that by the time my debugger hits it, the list is in the proper state.

We could try to implement some retry logic in the Xamarin.Forms code, but I'm not sure that's the right call. It feels

[2019-04-09 00:16] samhouts commented on #5778
I'm going to close this issue for now, but feel free to make a case for us making a change here. We're open to suggestions! Thanks!

[2019-04-09 00:16] #5778 closed

[2019-04-09 00:19] samhouts commented on #5456
@Eswaran17392 I think that's the wrong link. I am seeing a DrawerControl, and the only projects are Android, not iOS.

[2019-04-09 00:22] samhouts commented on #5456
Hmm, ok, I guess you misreported it as iOS, since I see the problem in Android.

[2019-04-09 00:22] samhouts commented on #5456
Duplicate of #5553

[2019-04-09 00:22] #5456 closed

[2019-04-09 00:26] Adam-Langley commented on #5839
Hi again @samhouts  - here's a simple case that I'm working on.
The product lazy loads list items from an EF Core database context using skip/take pagination to support infinite scrolling.
That aside - click the red button to delete the zero-th element, noting that no animation occurs.

[XamForms-AnimatedList.zip](https://github.com/xamarin/Xamarin.Forms/files/3056699/XamForms-AnimatedList.zip)

[2019-04-09 00:26] gregwoodsit commented on #4184
This issue is also affecting me after update to XF 3.6.0.293080.

ForceUpdateSize() and playing with heights seems to work on first load, however animation starts freezing after a couple of tries.

[2019-04-09 01:48] knightmeister commented on #4012
Hi, just adding +1 to this as well.

I am seeing enormous delays on iOS after about 6 or 8 calls to ForceUpdateSize. By way of background, we're animating the cell height to display additional controls. We call ForceUpdateSize once for each expand/contract operation.

We really need a work around for this, so we would appreciate any advice from anyone who may have solved this one?

[2019-04-09 01:50] knightmeister commented on #2735
Just adding +1 to this. The issue with ForceUpdateSize precludes the ability to animate the height of a cell on iOS. The more times ForceUpdateSize is called the longer the hang is.

[2019-04-09 01:55] knightmeister commented on #4905
+1 on this, causing me issues with dynamic cell height resizing on iOS

[2019-04-09 02:16] acupajoe commented on #5830
@samhouts It would, you'd have to combine it into a `StackLayout` with a `Label` and `Entry` for the same functionality, but yes that would work!

[2019-04-09 02:49] adrianknight89 commented on #5838
@samhouts Here's a simple repro:

[TestN.zip](https://github.com/xamarin/Xamarin.Forms/files/3056969/TestN.zip)

[2019-04-09 04:23] ianthetechie commented on #4584
This is still not fixed. Using the latest VS 2019 Community for Mac + Xamarin.Forms 3.6.0.293080.

[2019-04-09 04:37] ianthetechie commented on #5172
This seems to be a perennial issue. See a very straightforward sample below. The binding is to a `Uri`. In a typical table view with 50 items, it's quite common for several images to never display. Sometimes scrolling away and coming back will "fix" it. Using `RetainElement` has slightly better results (as expected), but if something is "stuck" it rarely every loads. But performance of the app is

[2019-04-09 06:37] MuziburRahman opened #5854 "ControlGallery crashes on attempt to add new Page"
### Steps to Reproduce

1. Open **Xamarin.Forms.ControlGallery.Android**,
2. Goto **Appearing Gallery**
3. Go to **NavApperaing**
4. Click **Add new page**

- Platform Target Frameworks:
  - Android: 8.0
  - UWP:   16299

[2019-04-09 06:43] psp589 commented on #5625
@samhouts  I'm working with both  Android and UWP, should I add then different issues when reporting ? one for Android and one for UWP ? Should I add for this issue, a different one for UWP ?

[2019-04-09 07:44] alataffective commented on #5833
I wanted to try CollectionView. Looking forward to having a view that can bind to a child collection like WPF ItemsControl.

[2019-04-09 08:07] Moltroon commented on #5719
I can't test for the moment. I need an FFImage update for pre8 compatibility in my principal project.
I trust you. Otherwise, I would restart the ticket.

[2019-04-09 08:07] #5719 closed

[2019-04-09 08:21] puppetSpace commented on #2381
Gonna try this as my first contribution.

[2019-04-09 09:30] JMLucas96 commented on #1342
Same issue on ios 12.1 and iphone simulator XR...

[2019-04-09 10:41] mirvine-cobratechnology opened #5856 "Build Error Xamarin Forms Android (monoandroid90) 3.6.0.293080"
Build error following an upgrade to Xamarin Forms 3.6.0.293080

### Steps to Reproduce

1. Manage Nuget Packages for Solution
2. Upgrade all projects to Xamarin Forms 3.6.0.293080
3. Clean and Build

### Expected Behavior

Build without error

### Actual Behavior

The following errors occur:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Failed to generate resource table for

[2019-04-09 11:03] AdamBowler opened #5857 "[Android] MainActivity.OnBackPressed() System.InvalidOperationException: Sequence contains no elements"
### Description
Navigation stack seems to be lost while app is Sleeping causing a blank screen to appear when resumed and upon the back button being pressed the error `System.InvalidOperationException: Sequence contains no elements` occurring.

### Steps to Reproduce

1. Open a Xamarin.forms app
2. Put it on background
3. Resume the app

### Expected Behavior
App should resume as expected

### Act

[2019-04-09 11:41] davidbritch opened #5858 "[Shell] Single page app throws exception"
### Description

The Shell spec says it's possible to create a single page Shell app as follows:

[code]

However, this throws a `NullReferenceException` on Android, and a `InvalidOperationException` on iOS.

### Steps to Reproduce

1. Run the attached sample.

### Expected Behavior

Single page app is displayed.

### Actual Behavior

`NullReferenceException` on Android, and a `InvalidOperationExc

[2019-04-09 11:51] GnanaPriyaNamasivayam commented on #5288
We are glad to announce that our latest weekly NuGet package update version 17.1.0.40 has been rolled out with the reported issue that “Native crash in release mode with SfListView and Xamarin Forms 3.5 and above” and is available for download ([nuget.org](https://api.nuget.org/v3/index.json)).

We thank you for your support and appreciate your patience in waiting for this update.

Regards,
Gnana

[2019-04-09 12:47] puppetSpace commented on #2381
I have to say. It took a while before my environment was ready. There are some things missing in the "getting started" section. Especially for running UITest.

First problem was that the test weren't discovered.
- Either install older version of nunit test adapter extension
- Or change a setting in Visual Studio
I changed the setting in Visual Studio and it worked (due to the fact the correct nuni

[2019-04-09 13:07] ArunSivaR opened #5860 "The Right To Left flow direction doesn't change the text flow direction in Entry and Editor"
**Description**
The text flow direction behavior of entry and editor differs in Android and UWP, in a sample if we set the flow direction as Right to Left the editor and entry text doesn't changed in UWP and Android and if we force the editor and entry to change the flow direction by set the flow direction for editor and entry the flow direction changes in Android but doesn't work on UWP

**Basic

[2019-04-09 13:09] InquisitorJax commented on #5838
Here's another sample project
https://github.com/InquisitorJax/Xamarin-Forms-4-Layouts

[2019-04-09 14:03] CoffeePerry opened #5861 "Button image is not centered"
### Description
I found a problem in Button's image centering when Application.MainPage property is set to a NavigationPage: image will be positioned on the left in the button, instead of in the center.

In App.xaml.cs, using:
MainPage = new NavigationPage(new HomePage());

Instead of:
MainPage = new HomePage();

In HomePage's buttons, images will be on the left instead of the center.

P.S.: I fou

[2019-04-09 15:19] asj-it opened #5862 "Xamarin Forms Title View not centered on non modal screens (With a back button)"
### Description
When creating a title view, centered label is off centered on non modal screens, with a back button.
### Steps to Reproduce

Create a custom TitleView

[code]

Then set the TitleView to use the control

[code]

### Expected Behavior

The Title Should be centered on the screen

### Actual Behavior
It  appears to be centered between the right of the Back button and the Right of the s

[2019-04-09 15:23] PureWeen commented on #5828
@Sebastian1989101 that's hard to answer specifically. Support 28 unfortunately does require multidex or proguard currently . We added some targets so Proguard should work out of the box now. There is also work being done on the android side to improve the multidex story.

My guess is that when you had packages.config setup your project was for some reason not referencing all the associated support

[2019-04-09 15:23] #5828 closed

[2019-04-09 18:16] #4991 closed

[2019-04-09 18:17] jvhgamer commented on #4510
@stepkillah Using a custom renderer, setting as such - `e.NewElement.BackgroundColor = Color.Transparent` results in the same issue. How to go about this properly with custom renderer?

[2019-04-09 20:02] jrpickett commented on #3339
I can reproduce this issue with Xamarin.Forms 3.5.0.129452 and Visual Studio 2019.  I've attached a zip file with a simple solution to reproduce the issue, a list of the steps, and a screenshot of the memory usage.
[MemoryLeakTest.zip](https://github.com/xamarin/Xamarin.Forms/files/3060761/MemoryLeakTest.zip)

[2019-04-09 20:10] candidodmv opened #5864 "[Enhancement] binding VisualStateManager.CurrentState"
## Summary

Basically a way to control the current state based on a Bindable Property

## API Changes

N/A

## Intended Use Case

Maybe the idea is not applicable, but basically would be a way to set the current VisualState of a View based of a current value of your bindable context.

imagine a list of items which state would be :
* read
* new
* not applicable
* ...

each of these states has any r

[2019-04-09 20:18] jcmanke opened #5865 "[Maps] Exception when adding a Pin off the main thread"
### Description

If a `Pin` is added to a `Map` off the main thread, an exception is thrown. This is likely primarily going to affect users using the recently-added item templating features, when the bound `ItemsSource` is updated on a background thread.

### Steps to Reproduce

Add a Pin to a Map from off of the main thread (such as by doing it in a `Task.Run()`)

### Expected Behavior

The pin i

[2019-04-10 00:16] samhouts commented on #5456
@Eswaran17392 I've verified that #5851 will fix the `NullReferenceException`. You will then hit a new exception: `Attempt to invoke interface method 'int java.lang.CharSequence.length()' on a null object reference`. This is because you are using `Forms.Context` and `Platform.CreateRenderer`. Please use the Android View's `Context` and `Platform.CreateRendererWithContext` to resolve this issue. Als

[2019-04-10 00:36] #2353 closed

[2019-04-10 02:12] samhouts commented on #4921
Understood! We appreciate the effort. Thanks!

[2019-04-10 02:19] samhouts commented on #5788
@pizzahead24 I can't speak to the security of returning true in all cases. You're potentially allowing unsecured access to sites with bad or missing certificates; however, if you are controlling the sites that you access and you trust them, then that may be a non-issue. There are resources online that describe best practices for the certificate management. You might be able to find guidance on the

[2019-04-10 02:19] #5788 closed

[2019-04-10 02:21] samhouts commented on #5833
@alataffective At this time, WPF is community-supported. I hope to see CollectionView on WPF, too! 🤞

/cc @mohachouch

[2019-04-10 02:21] #5833 closed

[2019-04-10 04:32] abdu292 commented on #2957
Really looking for this as well!

[2019-04-10 05:23] mkieres commented on #5288
@GnanaPriyaNamasivayam

I just updated SF nugets to latest (17.1.0.40) and on Android I'm seeing an exception when navigating to a page with `SfListView` on it:

04-10 15:10:04.157 I/MonoDroid(20065): System.TypeLoadException: Parent class vtable failed to initialize, due to: VTable setup of type Syncfusion.ListView.XForms.Android.Renderer.ScrollViewRenderer failed assembly:/storage/emulated/0/And

[2019-04-10 06:57] GnanaPriyaNamasivayam commented on #5288
We have checked the reported query in the given sample. We would like to inform you that reported crash occurs only in the particular Xamarin version 3.5.0.169047. Is there any specific purpose for using that version because this crash is fixed in all latest versions released after 3.5.0.169047. We recommend you to update the Xamarin Forms version to the latest version to resolve this reported iss

[2019-04-10 07:38] stepkillah commented on #4510
@jvhgamer I used effect, not renderer, theoretically it should work in both, but it seems that the effect goes on top of the renderer, If you say it doesn't work in the renderer - try to use platform effect, in ‘onattach‘ method. At least it helped me and imagebutton stoped 'jumping'

[2019-04-10 08:16] MackYang opened #5867 "[Bug] When SwipeGesture is used with ListView, it doesn't work."
### Description
I uploaded the Demo and hoped to help solve this bug.

### Steps to Reproduce

1.
2. [BugDemo](https://github.com/MackYang/UpLoad/blob/master/SwipeGesture.zip)
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
-

[2019-04-10 08:50] alataffective commented on #5833
I'm grateful for the work being done to support WPF on Xamarin. I've been able to do a lot of what I wanted to.

[2019-04-10 09:50] alataffective opened #5868 "VisualElement.Unfocus does not work on WPF"
### Description
VisualElement.Unfocus() does not appear to work on WPF, at least Entry.Unfocus() does not work.

### Steps to Reproduce

1. Create a Xamarin.Forms WPF project
2. Create an Entry
3. Create a timer that calls Entry.Unfocus() after say 3 seconds
4. Start the app, click the Entry, wait for the timer to elapse

### Expected Behavior
After the timer has elapsed, the Entry no longer has f

[2019-04-10 09:54] john-heaven opened #5869 "CarouselView.Position and CarouselIndicators are not there in Xamarin.Forms 3.6."
## Summary
CarouselView in Xamarin.Forms 3.6 does not have the two properties of Position and CarouselIndicators.

## API Changes

Xamarin.Forms 3.6 has included the CarouselView, so I cant use the nuget package anymore, but shipped version seems to be lacking some features, more specifically indicators seems to be missing entirely?

e.g.

Here is my old code, which does not compile anymore:

[cod

[2019-04-10 10:51] hshristov commented on #3185
@hartez @pauldipietro Any progress on this request?

[2019-04-10 11:18] davidbritch opened #5870 "[Shell] Shell class has an unused GroupHeaderTemplate bindable property"
### Description

The `Shell` class has a `GroupHeaderTemplate` bindable property. This property appears to be unused (VS can't find any references to it).

[2019-04-10 11:21] mohamedDotNet commented on #4447
this is so ridiculous that the color is still orange??? the workarounds are too complicated for a simple color change.

[2019-04-10 11:30] arvindrajachourasiya opened #5871 ""error": "InvalidRegistration" FCM - Xamarin.Forms"
### Description
I am developing FCM notifications with Xamarin.Forms using [FCM Notifications Plugin](https://github.com/CrossGeeks/FirebasePushNotificationPlugin). In iOS project I am collecting token. When sending notifications using Postman to the same token getting error

I have added valid _GoogleService-Info.plist_ file with _BuldleResource_ Built Action. This is code of **`AppDelegate`** cl

[2019-04-10 11:36] davidbritch opened #5872 "[Shell] Setting FlyoutBackgroundColor doesn't colour the entire flyout"
### Description

I just decided to quickly check that `FlyoutBackgroundColor` would set the flyout background colour, only to discover that it doesn't set it for every flyout item in my scenario.

This occurs on both iOS and Android (see screenshots below).

### Steps to Reproduce

1. Run the attached sample.
2. Present the flyout.

### Expected Behavior

The flyout background colour is red. Every

[2019-04-10 12:06] GnanaPriyaNamasivayam opened #5873 "[Android] Child view state gets changed when navigate from 5th tab to 1st tab"
### Description
We have added treeview inside tabbed page's first content. Before navigating to tab, am expanding the treeview. If i naviagte ampng 4 tabs, Treeview state maintained as same as i expanded. If i navigate to 5th tab and return back to 1st tab, my treeview gets collapsed.
This happens only in android.

### Steps to Reproduce

1. Run the sample.
2. Expand treeview in 1st tab.
3. Switch

[2019-04-10 12:42] 1saeedsalehi opened #5874 "[Bug] ListView.ScrollTo causes an exception in iOS 10"
### Description
ListView.ScrollTo method does not seem to work in iOS version 10.3 or lower, but it works fine in current versions of iOS

### Steps to Reproduce

1. Bind the list view to an empty ObservableCollection
2. add an item to list
3. call `ScrollTo(object item, ScrollToPosition position, bool animated)` method while `OnBindingContextChanged` method occurred

### Expected Behavior
Scroll

[2019-04-10 13:25] puppetSpace commented on #2374
I have an issue running the UITest in UWP.
I installed the WinAppDriver and the test opens up the application. But when it is in the "Test Cases" view, the test times out and throws following exception:

[code]

During the debug of the UITest I found out that the timeout occurs at the following line:
https://github.com/xamarin/Xamarin.Forms/blob/cbc9c442973ae5744ddcaed713e1910e3f293e82/Xamarin.For

[2019-04-10 13:38] joj opened #5875 "[Bug] Can't hit breakpoints in UWP, modules not loaded"
### Description
The current version of Cecil is changing metadata in the dll, and when portable symbols are selected UWP uses that metadata to find the pdb. Cecil has seen fixed this (https://github.com/jbevain/cecil/commit/f1ed663cc2aacf17e029cf8dd6fa98a040bab00e) but Forms is not using that change. We need to update to 0.10.3 to pick that up.

[2019-04-10 13:48] GalaxiaGuy commented on #5873
I believe it is because the default `OffscreenPageLimit` for the tab bar on Android is 3, so once you get to a fourth offscreen page, the earliest is destroyed (and recreated when you need it).

You should be able to override it with the following XAML:

[code]

or C#
[code]

[2019-04-10 13:55] badavid85 commented on #5288
New version (17.1.0.40) works for me with Xamarin.Forms 3.6.0.293080.
Now I am able to build my iOS and Android Apps when Linking SDK Assemblies in Release mode without seeing any native crashes.
Thanks.

[2019-04-10 15:27] ElsaAM4Y commented on #4447
Go to your Android project, Resources, values and open styles.xml
Paste in this code:
<item name="android:colorActivatedHighlight">@android:color/transparent</item>
Problem solved, easy.

[2019-04-10 15:55] mohamedDotNet commented on #4447
@ElsaAM4Y please be so kind as to give me the full copy and paste, in the styles file?

[2019-04-10 16:05] ElsaAM4Y commented on #4447
I am trying to paste the code, but it comes out strange. But you go to Android project - resources - values - styles.xml. And then item name="android:colorActivatedHighlight">@android:color/transparent. You do this exactly like the line above between tags.

[2019-04-10 16:43] #2381 closed

[2019-04-10 17:13] gtbuchanan opened #5876 "[Bug, iOS] Control event registration in custom `ListViewRenderer` child class throws an exception"
### Description
Control event registration in custom `ListViewRenderer` child class throws an `InvalidOperationException`. In my particular case, I'm trying to listen on `UITableView.Scrolled` because there is no equivalent Xamarin Forms property/event I can use to track scroll position.

The `ListViewRenderer` class itself sets `Control.Source`, which is what I believe is causing the problem. The

[2019-04-10 17:43] pictos commented on #2381
@puppetSpace this is the sdk "thing", you need to go in your android-sdk folder and delete the platform-tools.old

[2019-04-10 17:44] Tam66662 commented on #3486
This issue has just hit me on a very basic architecture.  I have a main ContentPage with multiple ContentViews that I switch to based on a user's current "view" that I wish to show them.  Two of these views share the same underlying BindingContext.  When I update the BindingContext from one of the views, it does not refresh the binding on the other view because there is no event such as OnAppearin

[2019-04-10 17:44] samhouts opened #5877 "[README] Add more information about getting UI tests running"
I have to say. It took a while before my environment was ready. There are some things missing in the "getting started" section. Especially for running UITest.

First problem was that the test weren't discovered.
- Either install older version of nunit test adapter extension
- Or change a setting in Visual Studio
I changed the setting in Visual Studio and it worked (due to the fact the correct nuni

[2019-04-10 17:58] gaocan1992 commented on #5822
Currently I do this fix:

[code]

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/custom-renderer/

[2019-04-10 18:00] samhouts commented on #5868
@alataffective Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-10 18:04] samhouts commented on #5869
We're planning to add Position. CarouselIndicators will be slightly different (see the spec for details). We're currently targeting 4.1 for continued work on CarouselView. Thanks for your patience!

[2019-04-10 18:04] samhouts commented on #5869
Duplicate of #4996

[2019-04-10 18:04] #5869 closed

[2019-04-10 18:05] gtbuchanan commented on #5876
I came up with a workaround using a proxy. Not really an ideal solution, in my opinion. Nonetheless, it seems to work without error.

[code]

[2019-04-10 18:07] samhouts commented on #2415
@mrlacey Nah, it's nowhere near done! It just keeps getting closed by related issues. 😄

[2019-04-10 18:10] samhouts commented on #5874
@1saeedsalehi Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-10 18:11] samhouts commented on #5873
@GnanaPriyaNamasivayam Yep, @GalaxiaGuy is correct! Thanks!!

[2019-04-10 18:11] #5873 closed

[2019-04-10 18:12] jvhgamer commented on #4510
Could you point the way or provide a sample as to how you accomplished this?
Seeing this as the only override-able OnAttach method: `AddOnAttachStateChangeListener(IOnAttachStateChangeListener listener)`

[2019-04-10 18:17] samhouts commented on #5871
@arvindrajachourasiya Hi! I doubt this is related to Xamarin.Forms. It looks like you have some promising feedback on the StackOverflow post. You may also want to try the Xamarin Forums. I see you've already reported an issue on https://github.com/CrossGeeks/FirebasePushNotificationPlugin/issues/229, so I think you'll find an answer somewhere! Thanks!!

[2019-04-10 18:17] #5871 closed

[2019-04-10 18:18] samhouts commented on #5870
Fun! We should probably either implement it or remove it until we have done so. Thanks!!

[2019-04-10 19:01] arvindrajachourasiya commented on #5871
@samhouts - Thank you. Actually this errors I am getting in Xamarin.Forms project. So I thought to Submit here.
And I have given Stackvoerflow link for the sake of more information.  If according to you it's not related to Xamarin.Forms please move it to Xamarin.iOS because I need solution to this issue as already I have wasted 2 3 days on it. Thank you

[2019-04-10 20:13] PureWeen opened #5879 "[Bug] Tab index not resetting on iPAD"
### Description
https://github.com/xamarin/Xamarin.Forms/pull/3989#issuecomment-477360686

### Steps to Reproduce

1.  run control gallery
2. Accessibility Tab Index
3. on an iPad if you swipe to the end it stops on "14" and won't go any further. @samhouts tested this on a device and on the device it works fine

### Expected Behavior
Expectations are that iOS/Android will incorrectly read the mast

[2019-04-10 21:03] jvhgamer commented on #4510
@stepkillah Could you elaborate as to how you accomplished this?
Seeing `AddOnAttachStateChangeListener(IOnAttachStateChangeListener listener)` as the only override-able method related to `OnAttach` for imgBtn's so we know we are missing something..

[2019-04-10 21:42] stepkillah commented on #4510
@jvhgamer I meant platform effects, https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/effects/introduction
[code]

[2019-04-10 22:12] jvhgamer commented on #4510
@stepkillah Understood. Ended up solving by removing background color/padding assignments from the imgBtns, placing the imgBtn's inside of StackLayout's, and implementing the background color and padding properties there.

[2019-04-10 22:16] slakul opened #5881 "[macOS] NRE when disposing an Entry"
### Description

Disposing an Entry throws NullReferenceException. Below is the stack trace. The bug is in EntryRenderer.OnElementChanged method which calls EntryRenderer.CreateControl after Element has been set to null.

	Xamarin.Forms.Platform.MacOS.EntryRenderer.CreateControl() in
	Xamarin.Forms.Platform.MacOS.EntryRenderer.OnElementChanged(Xamarin.Forms.Platform.MacOS.ElementChangedEventArgs<X

[2019-04-10 22:43] kingces95 commented on #5766
Huh. I see it corrupted w/o Fast Renderers too.

[2019-04-10 23:31] samhouts commented on #5881
@slakul Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-10 23:36] samhouts opened #5882 "[Spec] RefreshView"
## RefreshView

Part of [CollectionView](https://github.com/xamarin/Xamarin.Forms/issues/3172)

Represents a container control that provides refresh functionality for its content.

# API

[code]

## UWP Platform Specific

UWP is the only platform that has this concept implemented natively so for now we will just implement a platform specific for UWP users that won't to be able to change this

[cod

[2019-04-10 23:39] samhouts opened #5883 "[Spec] ContextMenu"
Related to [CollectionView](https://github.com/xamarin/Xamarin.Forms/issues/3172)

## ContextItem

ContextItem provides a way to specify a contextual interaction, often displayed as part of a context menu.

[code]

### Properties

| API | Description |
| ------------- | ------------- |
| Text | Gets or sets the text description displayed on the item. |
| Command | Gets or sets the command to execu

[2019-04-10 23:40] kingces95 commented on #5766
Actually, we regressed the non-fast renderers. Worked on 3.6 (int pre template) but fails on 4.0.0.

[2019-04-10 23:45] powerdude commented on #5883
could `IsVisible` be added to the spec?

[2019-04-11 00:03] samhouts commented on #5883
@powerdude On ContextItem, right?

[2019-04-11 00:05] powerdude commented on #5883
@samhouts yes, sorry for missing that detail.  I think wherever there is `IsEnabled`, there should also be an `IsVisible`.

[2019-04-11 00:06] samhouts commented on #5883
@hartez Any reason we shouldn't include `IsVisible`?

[2019-04-11 00:38] slakul commented on #5881
I attached the sample project. Just run and click "Clear" button.
[TestApp.zip](https://github.com/xamarin/Xamarin.Forms/files/3066392/TestApp.zip)

[2019-04-11 00:57] hartez commented on #5883
@powerdude Could you elaborate on that? What's a situation where you would want to have an invisible context item?

[2019-04-11 01:16] powerdude commented on #5883
@hartez in general, need the flexibility to hide a menu item in the case a user gains/loses access to feature while the app is running without having to rebuild the context menu.  Same philosophy that would be used for toolbar items. From a view model, I should be able to hide an item so a user never sees it until the right conditions are met and also change the enabled stated based on a different

[2019-04-11 01:42] hartez commented on #5883
@powerdude @samhouts That seems pretty reasonable. At the moment I can't see any reason not to include `IsVisible`.

[2019-04-11 02:23] asgarddesigns opened #5884 "[Bug] PowerSaveModeBroadcastReceiver: Specified cast is not valid"
### Description
We are getting a consistent crash when plugging/unplugging a few Android devices.

This has been tested on a few different devices internally (most notably a Samsung S5 & pixel 2 XL) as well as reports in the wild.

### Steps to Reproduce

1. plug an android device into your computer so it starts charging
2. unplug

### Expected Behavior
nothing visible should happen (app should ge

[2019-04-11 05:03] #2789 closed

[2019-04-11 05:03] #4790 closed

[2019-04-11 05:03] #5553 closed

[2019-04-11 05:03] #5875 closed

[2019-04-11 05:03] #5310 closed

[2019-04-11 05:03] #5790 closed

[2019-04-11 06:52] RawoofSharief commented on #5820
@samhouts  Yes, We would suggest to move these code in your source. Thanks!.

[2019-04-11 07:23] gtbuchanan commented on #3463
Also an issue on UWP. Related to #3463.

[2019-04-11 08:05] gtbuchanan commented on #3156
The workaround for this is to set `SelectionMode="None"` _and_ the legacy accessibility setting:
[code]

[2019-04-11 08:36] xleon commented on #5856
Exactly same thing here:

[code]
However it looks like this is coming from a combination of Xamarin.Forms + other libraries that use those properties. Probably those libraries need upgrading their android package references.

[2019-04-11 08:54] mkieres commented on #2339
I was thinking of taking this one, as a getting started point of my contribution(s) to Xamarin.Forms. However, I ran into an issue where I can't run/debug UI tests because of NUnit 2 Test Adapter no being compatible with VS 2019 (https://marketplace.visualstudio.com/items?itemName=NUnitDevelopers.NUnitTestAdapter). I think @PureWeen  actually mentioned that he will look into that in the recent Twi

[2019-04-11 09:36] alataffective commented on #5868
Sure, example here: https://github.com/alataffective/Xamarin-VisualElement.Unfocus-not-working-on-WPF

[2019-04-11 09:38] marek-safar commented on #5787
Is there a way for us to repro the issue locally?

/cc @vargaz @alexanderkyte

[2019-04-11 09:41] alataffective commented on #5868
There are other differences between the behaviour of WPF and UWP.

1. Focus does not get removed from the Entry when clicking elsewhere in the window.
2. In UWP, Entry has initial focus, WPF not.

Let me know if you need a bug raising for these (especially 1).

[2019-04-11 10:57] anakochevska opened #5885 "[Bug] Video from local storage not playing in WebView (Xamarin.Forms, iOS) after latest iOS update (12.2)"
### Description

I have an existing Xamarin Forms application, for Android and iOS, which shows some HTML content from local storage (the purpose is to view this content while offline) in WebView.

After the latest iOS update (12.2), the videos in that HTML stopped working. White background is shown on the place of the video, with the symbol "Play" but no action is possible.

I have tried changing

[2019-04-11 11:23] AntRemo commented on #5884
Hi @asgarddesigns

Was this previously working for you?
Do you have a call stack available?

Thanks

[2019-04-11 11:28] DeepikaBalaSubramaniyan opened #5886 "Value does not fall with in the expected range Exception while creating NativeView Xamarin Forms UWP"
### Description

Hi Team,

We at Syncfusion develop data visualization controls for Xamarin, Please refer the below link for a description about us.
UserGuide: https://help.syncfusion.com/xamarin/sfdatagrid/overview
FeatureTour: https://www.syncfusion.com/products/xamarin.

This is to bring to your notice, a possible bug in the Xamarin.Forms.UWP renderer creation.

In the attached (SimpleSample.zi

[2019-04-11 11:28] FreedomDesi commented on #4130
Hello,
When i update the Xamarin.Forms version 3.6.0.293080.Come up with many error.If any solutions then help me.

![picturemessage_u0uv3hyd q3h](https://user-images.githubusercontent.com/24875408/55953886-ef2d4e00-5c7a-11e9-9e97-15cde8ce8857.png)

[2019-04-11 11:34] vimal1994 commented on #5886
+1

[2019-04-11 11:37] FreedomDesi opened #5887 "Signature (parameter 1) of EventHandler"
Hello Sir,
Please help me out.
When i update the latest Xamarin form version 3.6.0.293080.Come up with error as screenshot.Please solve it. i am waiting...
![picturemessage_u0uv3hyd q3h](https://user-images.githubusercontent.com/24875408/55954391-37993b80-5c7c-11e9-99b0-a4793266e786.png)

[2019-04-11 12:07] andreinitescu commented on #4851
Setting the RotationX/Y property is still not working in VS2019.
I'm sorry but what's the point of reporting issues if they're being closed without being fixed?

[2019-04-11 12:17] msangtarash opened #5888 "[Bug] ListView HasUnevenRows is not working in iOS 10"
### Description
HasUnevenRows doesn't work in iOS version 10.3 while Xamarin forms version is the latest (3.6.0.293080) ,but it works fine in other versions of iOS and Xamarin forms.

### Steps to Reproduce
1. Add a listView
2. Set HasUnevenRows to true
3. Size of row cells in listView doesn't change automatically.

[code]
### Basic Information

- Version with issue: Xamarin Forms 3.6.0.293080
- I

[2019-04-11 13:03] GnanaPriyaNamasivayam opened #5889 "Xamarin listview when loaded inside secondary view of SfNavigationDrawer doesn't display in view completely"
### Description

When you open secondary drawer, there are totally 3 items but only one comes in view in portrait mode. If you change device orientation to landscape mode then all 3 items loaded completely. Can you please check the reported issue in while loading initially in portrait mode. Not sure about issue in

### Steps to Reproduce

1. Open primary NavigationDrawer
2. Tap **MoBaViewer1**
3.

[2019-04-11 13:30] slakul opened #5890 "[macOS] Control with VerticalOption=Start is sticked to bottom"
### Description

A control with VerticalOption=Start has wrong behaviour during resize. When I change the height of the main window, then items are moved as they were sticked to the bottom of the window. When I change the width of the window, then the position of controls is recalculated and everything looks good.

### Steps to Reproduce

1. Run the attached sample
2. Change the main window height

[2019-04-11 15:19] GalaxiaGuy opened #5891 "[Enhancement] Official PageContainerView"
## Summary
A view that can embed ContentPages, conceptually similar to iOS's view controller containment.

I've seen this implemented a few times:
https://github.com/TomSoderling/PageContainerView/blob/master/Library/PageContainerView.Plugin/PageContainerView.cs
https://github.com/TomSoderling/PageContainerView/blob/master/Library/PageContainerView.Plugin/PageContainerView.cs

but I think this is

[2019-04-11 15:31] adrianknight89 commented on #5882
@samhouts I think we need a ticket for header and footer implementation as well.

Should #5142 be closed?

[2019-04-11 15:44] jcmontoya commented on #5593
I normally use iOS and Android for my phone users and UWP for my tablet and desktop users. So having UWP support will be very important to keep windows users engaged.

[2019-04-11 18:01] bmacombe commented on #5886
+1 Also, I might be biased though because I'm pretty sure this is related to a bug I filed with SyncFusion :)

[2019-04-11 18:37] lassana commented on #3080
Does anyone know a workaround for this?

[2019-04-11 19:07] PureWeen commented on #2339
@mkieres  I haven't tested with the Nunitestadapter 3 yet to see if it works. If you end up installing it and you're able to run the tests let me know. I can give it a try in a few to see what happens.

Right now internally we all just uncheck the box :-/ which we're also not a fan of and we are actively looking for a more future proof solution. I hadn't seen that they were indicating deprecation

[2019-04-11 19:19] CliffAgius commented on #5005
I really like the simplicity of these especially @StephaneDelcroix cut down version to save on keyboard strokes after all you only have so many key presses in your life.

However I think that to have Button twice inside the statement is a waste so maybe something like:

`<Button m:style="Outline" />`

It's short sweet and to the point, maybe you could INCLUDE the longer version as well for readabi

[2019-04-11 19:29] PureWeen commented on #3080
@lassana the cases for this vary a lot. It's similar to only having a NullReferenceException. There isn't really a core issue this comes from. If you have a repro of your scenario and can open a new issue we can look at fixing it for your particular case

[2019-04-11 19:55] lassana commented on #3080
@PureWeen thanks for replying! I've got 100% reproducible sample. Creating a new issue...

[2019-04-11 20:03] jcmanke commented on #5887
Maybe it would help to also post the code that has the error.

[2019-04-11 20:23] lassana opened #5894 "[Bug] System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.XXXRenderer from native handle"
### Description

The title speaks for itself.

We observe this crash in *all* our apps. Sometimes it's `ScrollViewRenderer`, sometimes `MasterDetailPageRenderer`. In this particular sample it's usually `PageRenderer` but sometimes `LabelRenderer`.

Any suggestion how to avoid this crash would be highly appreciated.

### Steps to Reproduce

1. Open attached project, build & and run in Release confi

[2019-04-11 20:24] lassana commented on #3080
I created https://github.com/xamarin/Xamarin.Forms/issues/5894 with a repro.

[2019-04-11 21:08] kingces95 commented on #5766
@paymicro The reproduction also fails for non-fast-renderers on 4.0.0. I tracked that regression down to change bf0733129dda78349c14d7cb6ae39cd61ebe2288. I think you fixed that in the 3.6.0 branch which is why knight reports it only happens on fast-renderers. Not sure why fast renderers broke but figure you've got more context on this bug. At least you'll know how to fix the non-fast-renderers, so

[2019-04-11 23:09] jrahma opened #5895 "AppIndexing with Bing"
Hi,

Please provide a Nuget packages for Xamarin Form AppIndexing with Bing just like the AppIndexing with Google.

Thanks,
Jassim

[2019-04-11 23:58] samhouts commented on #5884
@AntRemo  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-12 00:22] samhouts commented on #5894
@lassana I tried the sample app on my OnePlus 3T. I had to enabled x64 to deploy it. I don't get the crash you described, but I wonder if that's a consequence of the ABI. Are you able to confirm that it still crashes if you enable x64? Thanks!

[2019-04-12 00:37] samhouts commented on #5889
@GnanaPriyaNamasivayam Your sample doesn't include iOS, but it does include Android. I assume that's what you meant. :)

[2019-04-12 00:42] samhouts commented on #5887
@FreedomDesi  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-12 00:56] samhouts commented on #5885
@anakochevska Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-12 01:02] samhouts commented on #5867
Duplicate of #4628

[2019-04-12 01:02] #5867 closed

[2019-04-12 01:07] samhouts commented on #5876
@hartez Did we ever decide to add the `Scrolling` event to #3172? @gtbuchanan Would a `Scrolling` event that reports scroll position meet your needs? Thanks!

[2019-04-12 01:19] samhouts commented on #5888
Well, the missing padding is also a little weird. Here's 3.6.0 SR1:
![image](https://user-images.githubusercontent.com/7827070/56005600-16d5e380-5c86-11e9-9b90-011456b4e2b5.png)
And 3.6.0 SR2:
![image](https://user-images.githubusercontent.com/7827070/56005654-63b9ba00-5c86-11e9-9dbe-abecaf8da576.png)

[2019-04-12 01:22] samhouts commented on #5857
@AdamBowler  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-12 01:23] samhouts commented on #5862
Duplicate of #4848

[2019-04-12 01:23] #5862 closed

[2019-04-12 01:26] samhouts commented on #5696
Fixed by #5075. Try the latest version of 3.6.0 or 4.0.0. Thanks!

[2019-04-12 01:26] #5696 closed

[2019-04-12 01:29] samhouts commented on #5861
@mattleibow I guess we didn't fix 'em all 😆 (referring to #4967)

[2019-04-12 01:32] mkieres commented on #2339
@PureWeen Thanks for checking in. I will give the v3 a go today or tomorrow but the docs (https://docs.microsoft.com/en-us/appcenter/test-cloud/uitest/) says that v3 is not supported by the framework, so I'm not very optimistic about it.

I was thinking of adding the v2 test adapter nuget into the project, just to verify that the tests are passing and remove it from the PR - that's assuming I won'

[2019-04-12 01:33] samhouts commented on #5860
@ArunSivaR Thanks! This is a known limitation.

[2019-04-12 01:37] samhouts commented on #5856
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-12 01:39] samhouts commented on #5625
@psp589 No need to report separate issues. Things that are not implemented in UWP yet will be tracked on the main ticket. Thanks!

[2019-04-12 01:43] samhouts commented on #5849
This is currently not supported. Thanks!

[2019-04-12 01:43] #5849 closed

[2019-04-12 01:47] samhouts commented on #5625
@psp589 To make this easier to reproduce, can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-12 02:01] samhouts commented on #5824
I verified that this does not occur on Android.

[2019-04-12 02:04] samhouts commented on #5840
For reference: https://docs.microsoft.com/en-us/windows/uwp/design/input/respond-to-the-presence-of-the-touch-keyboard#touch-keyboard-and-a-custom-ui

[2019-04-12 04:17] asgarddesigns commented on #5884
Oh sorry, thought I'd attached the stack trace 😞
[code]
It looks like the problematic line is

`((AndroidTicker)Ticker.Default).CheckPowerSaveModeStatus();`

Could the ticker be a different instance in Forms maybe?

[2019-04-12 05:35] GnanaPriyaNamasivayam commented on #5889
@samhouts Sorry for misunderstanding caused.
I have re-attached the sample by adding iOS project. Issue seems to occur in both Android & UWP but not in iOS. For your reference, you can find the sample with iOS project from below.
**Sample** : http://www.syncfusion.com/downloads/support/directtrac/general/ze/XamarinListview1164232652

[2019-04-12 06:34] BalasubramaniSundaram opened #5897 "[Bug] Cannot able to restrict the horizontal bouncing in Xamarin.Forms.iOS"
### Description
Hi Team
We at Syncfusion develop data visualization controls for Xamarin and we have more than 90 controls spread across all platforms of Xamarin. Please refer the below link for a description about us.
UserGuide: https://help.syncfusion.com/xamarin/sfdatagrid/overview
FeatureTour: https://www.syncfusion.com/products/xamarin
UserGuide:https://help.syncfusion.com/xamarin/sflistview/

[2019-04-12 06:54] lassana commented on #5894
@samhouts I'm not quite sure what you enabled because all ABIs are already enabled in the project:
![Screen Shot 2019-04-12 at 9 41 52 AM](https://user-images.githubusercontent.com/2004960/56017207-395c1100-5d07-11e9-873c-0a9afa15ed47.png)

[code]

I also ran this on the `x86_64` emulator and the crash also occurs there, here is a video:

![ScreenRecording mov](https://user-images.githubuserconten

[2019-04-12 07:02] psatheesh18 opened #5899 "Dyanamically create AutomationID for the Xamarin.Forms controls"
### Description

### Steps to Reproduce

1. Setting the automationId dynamically for the same UIelement.
2. Run the sample file (https://github.com/xamarin/Xamarin.Forms/files/3072440/sample.zip).
3. Once it deployed to the device or emulator press the button it will show the error i have mentioned in the screenshot

### Expected Behavior
Dynamically AutomationId to be changed
### Actual Behavior

[2019-04-12 07:02] puppetSpace commented on #2370
Test is already automated.
I ran the test and it worked.
Can someone else verify?

[2019-04-12 07:40] psp589 commented on #5625
@samhouts  see https://github.com/psp589/XamarinFormsIssuesReproduction, last section marked as "Issue #5625"

[2019-04-12 09:46] ashokkumar96 opened #5900 "[Bug] Scrolling of Content does not work, inside a Shell Container"
### Description
Hi Team,
I am facing issue in scrolling the content of WebView, While placing a Web View, as ShellContent of Shell Container.

### Steps to Reproduce

1. Run the sample attached below.
2. Sample will open and loaded with Website on WebView.
3. Now, Scroll the Content of the Website.
4. Scrolling interaction will be restricted.

### Expected Behavior
WebView Content should Scroll wi

[2019-04-12 10:08] mirvine-cobratechnology commented on #5856
I created a new Empty project (PieTest) and updated the Android project to target Pie as well as update all nugets to the latest version.  The project built and deployed ok.  There are a lot less support library's referenced in the test project.

Probably best to try and identify the package that's causing the issue.

[PieTest.zip](https://github.com/xamarin/Xamarin.Forms/files/3072642/PieTest.zip

[2019-04-12 10:17] mohamedDotNet commented on #4447
@ElsaAM4Y  THANK YOU so much, your input was a great help, my selected item is now transparent which looks A BILLION times better than the hidious orange.  question though say i wish to make it another color can i just say @android:color/pink ?

[2019-04-12 13:03] gtbuchanan commented on #5876
@samhouts Yes, as long as it also reported the total scroll/content height as well. This is currently my only use of a custom `ListViewRenderer`.

[2019-04-12 13:25] CliffAgius commented on #5900
This bug report also causes the same issue on the SyncFusion PDF Control on Android Only so looks like inside a Shell Container the Scrolling is very intermittent.  I have found that if you try enough it will scroll a little but it's more off than on.

If I call into a normal View outside of Shell then the controls work as expected so my current work around is for detecting if Android and send the

[2019-04-12 13:25] puppetSpace commented on #2343
Strange thing happening here. I recreated the view in the sandbox and removed all the unneeded things, which results in this code:
[code]
Which in turns results in this view (has a width of 1141px):
![with_listview_width_1141](https://user-images.githubusercontent.com/14003064/56040038-d7ff6680-5d35-11e9-8bdf-fafa75150edd.jpg)

If I decrease the width, the button text becomes legible.
![with_listv

[2019-04-12 14:07] APopatanasov commented on #5861
Is a fix expected to be applied soon? My image verification tests have failed because of this issue. 😄

[2019-04-12 14:38] paymicro commented on #4856
I was able to reproduce this on `4.0.0.8055-pre1`, but could not reproduce on `4.0.0.304370-pre8`.
Seems the latest changes have fixed this bug.

[2019-04-12 15:19] seansparkman opened #5901 "[Bug] Conflict with SkiaSharp Library"
### Description

There seems to be some kind of conflict with SkiaSharp library that Xamarin Forms and FFImageLoading uses.  This wasn't an issue before.

### Steps to Reproduce

1. Add Svg File to project
[code]
2. Set new file as embedded resource
3. Try to reference the svg file.
[code]

### Expected Behavior

FFImageLoading Svg Images renders on the page.

### Actual Behavior

None of the FFIm

[2019-04-12 16:13] samhouts commented on #5894
Ah, I see! I ran it in debug mode and did not experience the crash. If this is happening in Release mode, it is likely a problem with the Linker removing one of your classes. I'll take a look soon and let you know if I find anything. Thanks!

[2019-04-12 17:29] kvpt commented on #5894
I don't know how MvvmCross work but I did have exactly the same issue with the same reproduction in my app because I was using a static App object.
When you click on the back arrow, the activity is destroyed and when you click after that on your app icon it's restart the app with a new activity.
If you use a static app object, the callback of main page change is called twice, one by activity and t

[2019-04-12 17:35] CoffeePerry commented on #5861
A way to get around this problem is using ImageButton intead of Buttton, for now.

[2019-04-12 18:51] georgeinva2004 opened #5903 "[Bug] Android crash with SIGSEGV after VS 2019 update"
### Description
I have a Xamarin Forms Android app which works fine under VS 2017, but crashes with a SIGSEGV after updating to Visual Studio 2019.  Unfortunately, it's not really possible to tell where in the code the crash is happening and all I have is a crash report from the debugger.
### Steps to Reproduce
The app and the backend environment are way to complicated to do a "small repo" to demo

[2019-04-12 20:23] PureWeen commented on #4663
@davidortinau  I tested this with your latest updates to shell gallery and I'm not seeing the exception anymore

[2019-04-12 20:23] #4663 closed

[2019-04-12 21:20] PureWeen commented on #5634
I tested this with the following layout and it seems like this has been fixed on iOS

If it still hasn't can you create a branch on LittlePlaythings where you are still seeing the issue?
[code]

[2019-04-12 21:20] #5634 closed

[2019-04-12 22:45] brminnick commented on #5728
@samhouts Here's another reproduction sample:

https://github.com/brminnick/PullToRefreshColorRepro

![](https://user-images.githubusercontent.com/13558917/56069815-a12b4f80-5d39-11e9-94b5-8998bde4d78b.gif)

[2019-04-12 23:26] samhouts commented on #5901
/cc @mattleibow

[2019-04-12 23:28] samhouts commented on #5900
Duplicate of #5205

[2019-04-12 23:28] #5900 closed

[2019-04-12 23:33] samhouts commented on #5899
@psatheesh18 The error that you're reporting is by design. In what context does `AutomationProperties.SetName` or `AutomationProperties.SetHint` not work?

[2019-04-12 23:35] samhouts commented on #5901
@seansparkman Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-12 23:47] samhouts commented on #5782
It does; you reported it in the correct place. Thanks!

[2019-04-13 00:07] samhouts commented on #5799
Hmm, I was unable to reproduce the behavior you described. It launched in release mode just fine. I did have to keep the `Shell_Experimental` flag, since the app uses Shell. Otherwise, no issue! Do you have another project that shows this behavior, or more information that might help reproduce the issue? Thanks!

[2019-04-13 00:14] samhouts commented on #5798
[Issue5798.zip](https://github.com/xamarin/Xamarin.Forms/files/3075531/Issue5798.zip)

[2019-04-13 00:36] samhouts commented on #5780
[Issue5780.zip](https://github.com/xamarin/Xamarin.Forms/files/3075565/Issue5780.zip)
 I was unable to reproduce this issue. Can you please attach your test project or alter the attached project to demonstrate the issue? Thanks!

[2019-04-13 01:49] samhouts commented on #5750
Nice! And the previewer shows it properly. That's fun!

[2019-04-13 02:03] samhouts commented on #5839
@Adam-Langley The EF Core DB is making this difficult to run the sample. I'll have to set up the DB on my side to get in running. That said, the animations shoul dbe running, but perhaps there's some snafu with the new platform specific added in https://github.com/xamarin/Xamarin.Forms/pull/4709. I'll check again next week, but if you have the chance, could you confirm that the animation also do n

[2019-04-13 02:34] Adam-Langley commented on #5839
Hi @samhouts,
Apologies - I hadn't applied the initialisation code required to create the DB. Please use the new ZIP.
I have also tried this code against Xamarin.Forms 3.5.0.274416 and it produces the exact same result.

[XamForms-AnimatedList.zip](https://github.com/xamarin/Xamarin.Forms/files/3075652/XamForms-AnimatedList.zip)

[2019-04-13 03:07] seansparkman commented on #5901
Here is the project with the issue.  I created a branch with the workaround.

[2019-04-13 07:11] brandonyoung commented on #5888
Downgrading to Xamarin.Forms 3.6.0.220655 resolved the issue.  Anything higher still had the issue.

[2019-04-13 11:10] HakanCelikMK1 opened #5908 "Xamarin.Forms Previewer : NullReference Exception with Shell"
### Description
I’ve created a project in Visual Studio 2019 from Mobile App (Xamarin.Forms) template with Shell and I built the project.
When I tried to open Xamarin.Forms Previewer by double clicking on AppShell.xaml, I got an exception message at the top of the previewer and the previewer itself was empty.

I've also reported the issue to Visual Studio Developer Community :
[Visual Studio 2019

[2019-04-13 11:40] MhAllan opened #5909 "[Bug] Unexpected Shell Route exception message needed"
This exception is not acceptable, I think it shouldn't throw UnImplementedException because we preserve that for method implementation. It must throw Exception with clear message. It confused me  so I was like: GoToAsync is not implemented yet or what!? While the whole issue is about wrong routing.

https://github.com/xamarin/Xamarin.Forms/blob/105ded935340895273e184169c4c1dd4c23b5d81/Xamarin.Form

[2019-04-13 13:07] scxp commented on #5780
I remember getting IndexOutOfBoundsException when one of the spans had nothing but a newline though this issue might be different.

[2019-04-13 14:23] TiBall commented on #5593
What?? MS is really ditching their own platform. This is sad to hear!

[2019-04-13 17:43] PureWeen commented on #5909
@MhAllan  a lot of this has been rewritten with the next 4.0 pre9 that's coming out.

Could you by chance provide a repro of the exception you are hitting above though? I'd like to make sure whatever scenario you are running into is accounted for

[2019-04-13 21:45] johannesegger opened #5910 "[Bug] `IsClippedToBounds` doesn't update clip rectangle when maximizing WPF window"
### Description
I use an `AbsoluteLayout` within a `StackLayout` within a `ContentPage`. The `AbsoluteLayout` has `IsClippedToBounds` set to true. Everything works nicely when resizing the window (i.e. the clip rectangle is updated correctly), but the clip rectangle isn't updated when the window is maximized. You'll find a demo at the 'Screenshots' section

The `AbsoluteLayout` is the control that

[2019-04-13 23:05] brminnick opened #5911 ""System.MissingMethodException: No constructor found" when using a Singleton TabbedPage for Application.MainPage (Android)"
### Description

(Only applicable on Android)

When `Application.MainPage` is a Singleton TabbedPage using a `TabbedPageRenderer` (example code, below), `Xamarin.Forms.Platform.Android.AppCompat.Platform.SetPageInternal` throws the following exceptions:
- `System.NotSupportedException: Unable to activate instance of type XamarinFormsSingletonRepro.Droid.SingletonTabbedPageRenderer from native hand

[2019-04-13 23:10] brminnick commented on #5911
@kvpt may have some insight since it's a similar bug to the one solved in PR #4707.

[2019-04-14 00:26] adrianknight89 commented on #3600
I too would like to see this property for all visuals if possible. For now, @jrahma could use FFImageLoading and apply a RoundedTransformation to avoid using a frame which doesn't seem to work on iOS with images.

[2019-04-14 02:02] MhAllan commented on #5909
@PureWeen, All good, the Shell has lots of issues so I am waiting the next release and updated documentation.

[2019-04-14 03:44] kvpt commented on #5911
From your issue description and reproduction I can confirm that my fix is related to that problem and is supposed to fix it.
On github when a Pull Request mention an issue, the issue is automatically close when the PR is merged.
But that only mean that the bug is fixed in the code and no that the bug is fixed in the last released version.
For now the fix seem to be included only on master branch,

[2019-04-14 07:25] mkieres commented on #2339
@PureWeen I installed NUnit 3 Test Adapter VS extension into the VS 2019 (16.0.0) and I was able to run Android tests (I haven't tried iOS yet). However, after a success of running Android UI tests I decided to to re-download Xamarin.Forms sources (fork the repo) and after I've done that I couldn't build the android part of the project :/

**Android**
Firstly, when trying to build `Xamarin.Forms.C

[2019-04-14 09:43] Happypig375 commented on #4973
I hit this issue just now... Why are so many Xamarin.Forms bugs delayed from one release to another?

[2019-04-14 15:33] jrahma opened #5913 "Completed, Closed, etc for PushModalAsync"
Hi,

It will be great if you add new events for PushModalAsync which wil be fired when the popup was closed, completed, error, etc.. just like the JQuery as an example..

Here is an example:

Navigation.PushModalAsync(new Signin()).Completed(
{
      run code when completed successfully...
}.Closed(
{
     run code when just closed (cancelled button)..
}

Thanks,
Jassim

[2019-04-14 17:59] sparkist97 commented on #3524
I've encountered this issua a while ago and now tried again (forgot it was a thing) and happen to "discover" a way to make it work and probably a hit why it happens in the first place

this code won't work and the command won't be triggered
[code]
but, changing the binding from "." to the actual text makes it work!

`<TapGestureRecognizer Command="{Binding PronounceWordCommand}" CommandParameter="

[2019-04-14 18:43] eyalkornblut commented on #3894
Please try and solve this issue, I've just spent too much time trying to add this seminally simple ability to my app.

[2019-04-15 02:20] a-jiang commented on #5908
I encountered the same exception. Didn't they test it?

[2019-04-15 05:17] majumajid opened #5916 "System.MissingMethodException AND NLog.NLogConfigurationException: Error when setting property 'Uppercase' on Layout Renderer: ${uppercase}"
I tried to implement the NLog using this reference link (https://martynnw.wordpress.com/2016/10/16/logging-with-nlog-in-xamarin-forms/) and github(https://github.com/Martynnw/AndroidDemos/tree/master/LoggingDemo)

This error is encountering on this line
**var config = new LoggingConfiguration(); //THIS LINE GENERATING ERROR**

[code]

ERROR :
[code]

### Log should be written

### Missing method e

[2019-04-15 08:34] StephaneDelcroix commented on #4130
@DieselSoup @FreedomDesi this issue is closed. if you have a similar one with 3.6.0, please open a new issue, AND ATTACH A SMALL REPRO PROJECT. ping me when it's done, and I'll look at it

Thanks a lot.

[2019-04-15 08:35] lassana commented on #5894
@kvpt I tried your package, unfortunately it doesn't work well. The app no longer crashes however the layout cannot be displayed for some reason.

![ScreenRecording mov](https://user-images.githubusercontent.com/2004960/56118117-4c264e00-5f72-11e9-9870-1a1aeab7f1af.gif)

[MyXamarinFormsApp-XF-3.6.3.zip](https://github.com/xamarin/Xamarin.Forms/files/3079161/MyXamarinFormsApp-XF-3.6.3.zip)

[2019-04-15 08:41] nschoenberg commented on #5886
I also have this issue and this prevents my team from upgrading XF 3.4 to 3.6 together with newest syncfusion version.

[2019-04-15 09:16] StephaneDelcroix commented on #4851
/cc @alanmcgovern @drewgillies

[2019-04-15 10:19] NPadrutt opened #5917 "[Bug] Invalid Resources generated for DesignTime"
### Description
With Version 3.5.x of Xamarin Forms I have a lot of errors all regarding the Resource.Designer in the obj-Debug-[Version]-designtime folder.
I experimented around with the target and minimum Android SDK Version but had it with both 9.0 and 8.1.

![image](https://user-images.githubusercontent.com/1764367/56124908-feacdf80-5f77-11e9-9d4e-edbfec1078ab.png)

It seems that this is cause

[2019-04-15 10:38] SebastianKruseWago commented on #3085
@samhouts Any update on this and #2017? It still limits the capability of iOS apps on iPads a lot.

[2019-04-15 11:09] kvpt commented on #5894
@lassana Thanks for testing it.
I will try your sample and see if I find the issue with the fix.

[2019-04-15 11:42] xXdRaGoNrIdDeRXx commented on #5799
hmmm, after creating a new basic android project i cannot reproduce either unfortunately I cannot upload the project where it is having the issue (NDA with my employer), but the premise is I have a fairly complex login screen that gets pushed modelly when the app starts and if i have any entry control on the page with material visual the app hangs and stays a black screen. I will play around with

[2019-04-15 11:46] martelart commented on #5780
I get the Exception in a specific project, cant reproduce in other ones, this one also. I will continue to look for exact error. We can close issue.

[2019-04-15 11:46] #5780 closed

[2019-04-15 12:04] xXdRaGoNrIdDeRXx commented on #2096
Issue still exists with material design

[2019-04-15 12:09] xXdRaGoNrIdDeRXx commented on #5799
I managed to catch the crash while manually loading the page with a button.
[Visual crash.txt](https://github.com/xamarin/Xamarin.Forms/files/3080013/Visual.crash.txt)

[2019-04-15 12:27] sebikrt commented on #2096
So many old-and-yet-not-fixed issues like this with Xamarin, I've dropped everything and went native.

[2019-04-15 12:34] PenguinPero opened #5918 "[Bug] iOS Adding item to the ListView while IsRefreshing causes the items to not fully show"
### Description
I have a grid with two rows:  Height="50" and Height="*"

First row contains SearchBar and "Add item" button.
Second row contains ListView with bound ItemsSource and IsRefreshing to VM.

Entering text in search bar will set ListView's IsRefreshing to true, clearing text will reset it to false.

While it "IsRefreshing" and you insert item on the list and press the cancel on SearchBa

[2019-04-15 12:55] GnanaPriyaNamasivayam commented on #5889
Any update on the reported issue....

[2019-04-15 13:49] melicaster commented on #4973
where are we on this? I thought kvpt already provided fixes?

[2019-04-15 13:54] GalaxiaGuy commented on #5897
I believe that is intended behavior on iOS.

`AlwaysBounceHorizontal` does not control whether bouncing _can_ happen, but whether bouncing _must_ happen. It is used to force bouncing to occur even when the content is smaller than than the scrollview and has no effect otherwise.

https://developer.apple.com/documentation/uikit/uiscrollview/1619393-alwaysbouncehorizontal

[2019-04-15 14:01] anakochevska commented on #5885
@samhouts Sure.

I am sending a link to small, one page project that downloads video from a website with video samples and then tries to show html content, containing the video in WebView.

https://github.com/anakochevska/VideoIssue

[2019-04-15 14:02] bmacombe commented on #5886
@nschoenberg this work around might help you.  I wrote a helper that just on UWP removes any of the templates, then shows the popup and then adds the templates back.  Works well, just note, if you try that on iOS or Android it won't work, so make sure to only open the popup without templates on UWP
`
private static void InternalSafeShow(SfPopupLayout popup, Action<SfPopupLayout> showAction)
		{

[2019-04-15 14:18] APopatanasov commented on #5861
@CoffeePerry Thanks for the workaround. I have tested it and it works. For now I will use it.  Still, I hope as the issue was introduced with one of the latest official releases to be addressed and fixed soon. Thanks again.

[2019-04-15 16:01] ederbond commented on #3577
Any news on this ?

[2019-04-15 16:44] CoffeePerry commented on #5861
@APopatanasov You're welcome

[2019-04-15 17:04] PureWeen commented on #5909
@MhAllan can you by chance just provide your XAML for your shell, any routes you've registered, and the type of route you are trying to perform that are causing the exception?

[2019-04-15 17:13] PureWeen commented on #2339
@mkieres  if you clean out your git directory `git clean -xdf` does that fix the problem? We recently updated Mono Cecil which I think has caused some issues when you pull down past that commit.
Just make sure to commit or stash whatever changes you've made before running the clean

UWP requires a little more setup to run UI tests
https://github.com/xamarin/Xamarin.Forms#run-uwp-ui-tests

It's usi

[2019-04-15 19:01] mattleibow opened #5919 "[Bug] Data binding an array item of type enum is incorrect"
### Description

When binding to a particular index in an array, the result is different that if it was a property.

### Steps to Reproduce

Given an enum:

[code]

And 2 properties:

[code]

If I add a databinding:

[code]

The value will either be "X", "O" or "Nobody". If I bind to an array item:

[code]

The value will be "0", "1", or "2".

### Expected Behavior

The array data binding uses `.T

[2019-04-15 19:24] aspnetde opened #5920 "[Bug] Material Visual applied to a Frame breaks the Item Selection for ListViews"
### Description

When using a`Frame` containing  a (more or less) complex layout for a`ViewCell` along with the Material Visual, the item selection works not "on" those elements contained in the layout within the cell. iOS only.

### Steps to Reproduce

1. Apply the Material Visual to the whole page
2. Add a `ListView` and a `ViewCell` containing `StackView`'s or a `Grid` (I didn't check with othe

[2019-04-15 19:40] its-stark commented on #5885
I can confirm this behaviour and habe a warning from the Safari developer console to add to it. This warning occurs when tapping on the mentioned play button: Unhandled Promise Rejection: NotAllowedError: The request is not allowed by the user agent or the platform in the current context, possibly because the user denied permission.

[2019-04-15 19:59] johannesegger opened #5921 "[Bug] WPF `TreeHelper` doesn't pass `forceUsingTheVisualTreeHelper` to recursive calls"
### Description
Calling `TreeHelper.FindChildren` with `forceUsingTheVisualTreeHelper` set to `true` should use the visual tree helper for recursive calls as well, but [the flag is not passed to the recursive call](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.WPF/Helpers/TreeHelper.cs#L149), which sets the flag to its default (`false`).

### Steps to Reproduce

1. Se

[2019-04-15 20:10] pamela032709 commented on #5786
any update on this feature?

[2019-04-15 20:25] JohnGalt1717 opened #5923 "AddSubtitleSource crashes app to launcher on Android with VideoView"
### Description
using AddSubtitleSource using any type of .NET stream (which is all that's allowed now) crashes the app to the desktop.

### Steps to Reproduce

1. Create a video view with a video.
2. Get a stream of the text of the text/vtt file. (memorystream, httpstream, doesn't matter they all have the same issue)
2. Use AddSubtitleSource like this videoView.AddSubtitleSource(stream, MediaForm

[2019-04-15 20:29] aspnetde commented on #5920
As a workaround I went with a combination of `ItemTapped` and a TapGestureRecognizer for the content element of the frame. Not pretty, though.

[2019-04-15 21:01] hartez commented on #5110
This crash is fixed for Android in 4.0.0-pre6 and for iOS in 4.0.0-pre8.

[2019-04-15 21:01] #5110 closed

[2019-04-15 21:03] pauldipietro commented on #5923
Could you please upload a reproduction?

[2019-04-15 21:04] baywolf-studios commented on #4268
Really not the way I want to get it working but it works and gives a workaround until Xamarin decides to fix the issue. Had to recreate quite a few classes to get the renderer copied in. Thanks!

[2019-04-15 21:30] samhouts commented on #5884
@asgarddesigns Thanks for the call stack! Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-16 00:03] asgarddesigns commented on #5884
@samhouts Sorry, I don't really have time for that as I'm about to go on holiday. I can probably try when I'm back...

[2019-04-16 00:13] lobrien opened #5924 "[Bug] The type SearchBoxVisiblity is misspelled"
### Description

There is a typo in the class named `SearchBoxVisiblity`.

[2019-04-16 01:25] drewgillies commented on #4851
Have reactivated this bug.

[2019-04-16 01:42] JoeDurand3 commented on #2562
Does this need to be retested? I can confirm this is still an issue.

[2019-04-16 02:20] davidortinau opened #5927 "[Bug] Shell content padding on iOS default"
### Safe Area Spec
- Don't use the platform specific UseSafeArea API with Shell it doesn't make any sense to have this ios specific API
- SetPaddingInsets(true) should be the default value
- SetPaddingInsets(false) on Android and iOS should cause the content to flow underneath the nav bar so the page offset is at 0,0
- SetPaddingInsets API name is confusing and if anything we should just call it "

[2019-04-16 06:46] HakanCelikMK1 commented on #5908
@a-jiang Do you also have VS 2017 on your machine ? I was thinking, perhaps it was an unintended consequence of installing both VS 2019 and VS 2017 on the same machine.

[2019-04-16 07:05] aspnetde commented on #5920
See https://twitter.com/PureWeen/status/1117943832828506112 for a first guess by @PureWeen.

[2019-04-16 09:48] StephaneDelcroix commented on #4130
see #5887 for reopened issue

[2019-04-16 09:49] StephaneDelcroix commented on #5887
/cc @dieselsoup

[2019-04-16 10:00] BalasubramaniSundaram commented on #5897
Hi @GalaxiaGuy,
     Thanks for the documentation reference, In the documentation, they have mentioned that to enable force bouncing in a horizontal direction, we need to set the value of AlwaysBounceHorizontal and Bounces value as 'True'. However, our horizontal content exceeds the actual screen size which enables the scrolling in a horizontal direction. Thus without forcing, the content bounces

[2019-04-16 10:10] majumajid commented on #5916
@pauldipietro
any one can help me to fix it ??

[2019-04-16 12:48] JohnGalt1717 commented on #5923
[app.zip](https://github.com/xamarin/Xamarin.Forms/files/3084924/app.zip)
Attached.

See the notes in the VideoPlayerRenderer.cs file in the App1.Android project for relevant details. You can see that if you comment out the subtitle call the video plays normally.

[2019-04-16 12:53] Moltroon opened #5928 "[Shell] Adding Navigation.PushAsync to a Shell element causes a crash"
### Description

If I add a Navigation.PushAsync to a Shell element, app crash with DrawLayout error

### Steps to Reproduce

Run my example

### Expected Behavior
Navigate to the shell

### Actual Behavior
Crash

### Basic Information

- Version with issue: Xamarin.Forms 4.0 pre8

### Reproduction Link
[ShellNavigationBug.zip](https://github.com/xamarin/Xamarin.Forms/files/3084945/ShellNavigation

[2019-04-16 13:15] timahrentlov commented on #5455
I can't get any dynamic sizing to work on android with Pre 8.

[2019-04-16 13:24] mkieres commented on #2339
@PureWeen Thanks for the UWP UI Test setup link.

**UWP**

After completing that setup I was able to run the UI Test. However, it constantly gets stuck at the moment of looking up the `TestCasesIssueList` in the `TestPages` class:

[code]
That's the test output:
[code]

I tracked this down a bit to check what's the problem and it seems that looking up windows elements is a cause for a 60s timeout

[2019-04-16 13:54] timahrentlov commented on #5455
With regards to ItemSizingStrategy, is https://gist.github.com/hartez/7d0edd4182dbc7de65cebc6c67f72e14/revisions current?

It is mentioned here (https://devblogs.microsoft.com/xamarin/xamarin-forms-4-0-feature-preview-an-entirely-new-point-of-collectionview/) as a way to keep track of this component.

I spent some time today trying to use CollectionView on android, and found out that ItemSizingStr

[2019-04-16 14:20] DennisWelu opened #5929 "[Bug] UWP app crash when starting in airplane mode with a map control"
### Description
A UWP app started in airplane mode crashes if a map control is present.

### Steps to Reproduce

1. Find a UWP project having a map control.
2. Build it and run it while online. See that it works.
3. Turn airplane mode on and run it again. See that it crashes.

### Expected Behavior
No crash

### Actual Behavior
Crash with unhandled exception in the UWP map renderer:
EXCEPTION:
Sys

[2019-04-16 14:27] MartinZikmund commented on #3846
@samhouts Seems this works in 4 Preview, maybe fixed with unrelated issue :-) . Thanks!

[2019-04-16 15:09] ajuanjojjj commented on #3457
Any workarounds/fixes for this?

[2019-04-16 15:23] ajuanjojjj commented on #3513
Any workarounds/fixes for this?

[2019-04-16 17:42] samhouts commented on #5927
Yep, let's do it.

[2019-04-16 19:50] jcmanke commented on #5929
Do you having the `IsShowingUser` property set to true? Does it crash if you switch it to false?

[2019-04-16 20:14] DennisWelu commented on #5929
@jcmanke Yes good point, I've updated the description to specify that IsShowingUser must be set to "True". When set to false (or left as the default) then the problem does not occur.

[2019-04-16 20:48] amirvenus opened #5932 "[Bug] [iOS] Xamarin.Forms builds can no longer be sent to Apple"
### Description

### Steps to Reproduce

1. Use latest XF nuget 3.6.0.293080
2. Archive for publishing in release mode
3. Upload using Application Loader

### Expected Behaviour

It should work fine as before

### Actual Behavior

Apple complains that the app makes reference to non-public APIs:

We identified one or more issues with a recent delivery for your app. Please correct the following issu

[2019-04-16 21:58] samhouts commented on #5932
@amirvenus Do you know what version of Xamarin.Forms you were using in your last successful publish? Are you using any other libraries? Thanks!

[2019-04-16 23:46] samhouts commented on #5932
@amirvenus Was this message sent to you after uploading the build via Application Loader, or did you have to submit your app for review? I was able to successfully upload a build via Application Loader using 3.6.0.293080. Thanks!

[2019-04-17 03:11] yanshouwang opened #5935 "[Bug] How to use System.Configuration.ConfigurationManager nuget package in Xamarin.Forms"
### Description
I noticed that there is a ['System.Configuration.ConfigurationManager'](https://www.nuget.org/packages/System.Configuration.ConfigurationManager/4.5.0) nuget package from Microsoft and it supports Xamarin and NetStandard, so I want to use it to add some configurations to my app, but I don't know how to use it and when I try to use the 'System.Configuration.ConfigurationManager.AppS

[2019-04-17 05:38] psatheesh18 commented on #5899
I have already attached the sample project as sample.zip in the reproduction link .

[2019-04-17 06:08] peteat commented on #1879
I think I've got the same, or a similar issue, although I never change the `ItemsSource` (after setting in in my view model's constructor). I've got a property `SelectedInspector` (of type `InternalInspector`) on my view model which is bound to the `SelectedItem` field of the picker. Every time I pick an option in the picker it first sets the `SelectedInspector` to the selected `InternalInspector`

[2019-04-17 06:28] nbevans commented on #3769
This is surely a priority 1 issue?

[2019-04-17 06:34] dotMorten commented on #2415
For all of those asking for UWP support, I took a stab at it: https://github.com/xamarin/Xamarin.Forms/pull/5936

[2019-04-17 06:42] a-jiang commented on #5908
Yes,both VS 2017 and VS 2019 are installed in my machine.But I'm not sure if that's the reason.Should I uninstall VS 2017? It's really very strange. I hope they can find and fix the bug as soon as possible.

[2019-04-17 06:44] a-jiang commented on #5908
@HakanCelikMK1  Yes,both VS 2017 and VS 2019 are installed in my machine.But I'm not sure if that's the reason.Should I uninstall VS 2017? It's really very strange. I hope they can find and fix the bug as soon as possible.

[2019-04-17 07:47] amirvenus commented on #5932
It was sent to me after the app was uploaded using Application Loader in an email from Apple.

[2019-04-17 07:48] EpicDrakkar commented on #5932
@amirvenus @samhouts
I've tried with Application Loader as well and had the same error with 3.6.0.293080 Xamarin.Forms

[2019-04-17 08:52] zhulin802 opened #5937 "[Bug] MasterBehavior.SplitOnLandscape cause Master/menu button didn't display"
### Description
When i set  `MasterBehavior = MasterBehavior.SplitOnLandscape;`
You might see it is missing the Master/menu button(or the hamburger button)
### Steps to Reproduce

1. create  Xamarin.Forms Solution which use Master-Details
2. add  `MasterBehavior = MasterBehavior.SplitOnLandscape; ` in  MainPage
3. run the Solution,and rotate it to landscape
4.click the listview's item to entry det

[2019-04-17 09:03] john-heaven opened #5938 "Xamarin Android -New Cerated tabbed App run crash after adding control to axml"
### Description

I used **VS2017** to create a new `XamarinAndroid ` application. I chose the **TabbedApp** option during the new build. After the project is created, I added a control to the `activity_main.axml`, such as `ImageView`,and then crashed when I run the program.

### Steps to Reproduce

1. New Create a Xamarin Android Tabbed App.
**New Project -> Visual C# -> Android -> Android App(Xam

[2019-04-17 09:22] amirvenus commented on #5932
Are you using the latest VS 2019 for Mac and Xamarin.iOS?

I am a n00b, but I am thinking that could be a problem.

[2019-04-17 09:27] EP01 commented on #5787
I also ran into Issue 2920 in the Xamarin.Android repo, and the solution for that also appears to have resolved this issue. For those who cannot wait for a new version of Xamarin.Android to be included in Visual Studio, perhaps try the RC version detailed [here](https://github.com/xamarin/xamarin-android/issues/2920#issuecomment-482750544).

[2019-04-17 09:31] EpicDrakkar commented on #5932
Yes using the latest version of everything.

[2019-04-17 09:35] tominurmiainen commented on #4550
It seems that in my case F-Secure antivirus was blocking the application from starting. Interesting issue is that when I create basic Windows Universal app it will start just fine. And as I mentioned when I installed the app from app package signed by our own code signing certificate I could use debugging in that case. So it seems the developer etc certificate for Xamarin.Forms / UWP is not good e

[2019-04-17 09:49] MaxenceSAUNIER opened #5939 "[Enhancement] Shell ItemTemplate preserved Highlight parameter"
## Summary
If we defined a DataTemplate for they ShellItems, we lost the Highlight with the isChecked parameter.

## API Changes
Not lost this behavior.

## Intended Use Case
To continue to show the current active page

[2019-04-17 09:50] amirvenus commented on #5932
Would be brilliant if we could test it using the good old VS for mac 2017 and possibly an earlier version of Xamarin.iOS installed

[2019-04-17 10:12] EpicDrakkar commented on #5932
Maybe @samhouts can en light us?

[2019-04-17 10:13] GalaxiaGuy commented on #5938
This doesn't seem like a Xamarin Forms problem, but specific to Xamarin Android. You might get better response here:

https://github.com/xamarin/xamarin-android

It may also be a problem with Visual Studio, in which case I believe the correct place is here:

https://developercommunity.visualstudio.com/spaces/8/index.html

[2019-04-17 10:58] skolesni commented on #4599
Hi all. Not sure whether will have some luck, but if anyone could comment on whether this issue is being addressed, or has a reasonable workaround? @kingces95 or @pauldipietro could you please provide an update? Thank you.

[2019-04-17 12:03] davidortinau commented on #5816
Related to #4509

[2019-04-17 12:03] davidortinau commented on #5939
Related to #4509

[2019-04-17 12:10] davidortinau commented on #5932
@EpicDrakkar @amirvenus would you please:

* confirm the Xcode version you're using as well?
* share a gist of your environment details. VSMac (About > VS > Show Details) and VS19 it's under the Help > Xamarin

[2019-04-17 12:15] EpicDrakkar commented on #5932
Xcode: 10.2 (10E125)
[VS-Details.txt](https://github.com/xamarin/Xamarin.Forms/files/3089498/VS-Details.txt)

[2019-04-17 12:24] KarthikRajaAKR commented on #5597
Hi @samhouts could you please update details of this issue?

[2019-04-17 12:43] Moltroon commented on #5939
Perfect ! Thanks !
Good luck for the integration.

[2019-04-17 13:04] spouliot commented on #5932
@EpicDrakkar (or anyone else) can you attach the complete build logs ? adding `-v -v -v -v` to the **Additional mtouch arguments** and doing a **Rebuild**. Thanks!

[2019-04-17 13:16] InquisitorJax commented on #2415
Is there a way to implement a navigation bar template on the content page?
Specifying NavigationPage.TitleView doesn't apply as it did before.
Repo for reference:
https://github.com/InquisitorJax/Xamarin-Forms-Shell

[2019-04-17 13:18] davidortinau opened #5940 "[Bug] Shell treats Show/Hide Flyout Differently from TabBar and NavBar"
### Description

From anywhere in the app you can toggle the `FlyoutBehavior`, but the same cannot be done for the bottom tabs or navigation bar which only seem to work at the page level.

[code]

The latter call above won't do anything unless the bindable object is the page.

https://www.screencast.com/t/UgWadR6WTu1X

### Expected Behavior

I should be able to call the static method `SetTabBarIsV

[2019-04-17 13:23] wangdeshui commented on #4222
How about the progress? I would like to hide tabs in many pages, but the Android occupies the bottom space
![image](https://user-images.githubusercontent.com/436273/56291035-0a0a3180-6157-11e9-92aa-2de53657108d.png)

[2019-04-17 13:26] EpicDrakkar commented on #5932
[v-log.txt](https://github.com/xamarin/Xamarin.Forms/files/3089829/v-log.txt)

[2019-04-17 13:28] Depechie commented on #4222
After some testing, when I use `bottomView.Visibility = ViewStates.Gone` is does no longer show the grey area!
All other possibilities will still render that grey portion.

[2019-04-17 13:32] xleon commented on #5856
I finally got this fixed. It´s not Xamarin.Forms, but a problem in the csproj:

https://stackoverflow.com/questions/55523996/xf-android-project-does-not-build-after-adding-xamarin-forms-visual-material-nug/55552972#55552972

[2019-04-17 14:03] adammeaney commented on #3769
For anyone who cares, this issue still happens as of Forms 3.6 latest at this time.

I just updated this morning to check.

[2019-04-17 14:10] amirvenus commented on #5932
Is that a Debug build or Release?
I think you should try Archive for publish

I will provide my logs as well when I get home

[2019-04-17 14:13] EpicDrakkar commented on #5932
This is Debug Build, since using Archive I didn't return any result in the Build Output window.

[2019-04-17 14:22] amirvenus commented on #5932
I think it's worth trying a release mode as well with LLVM and Linker enabled.

[2019-04-17 14:31] nbevans commented on #3769
There are historical threads on the old Xamarin Forums dating back to 2014 discussing this issue. It's also on the Bugzilla in various issues. We are now in 2019 and still XF on iOS cannot properly adjust for height of a ListView Header. Let that sink in for a minute... ;-)

I've looked at the relevant bits of source code in XF and it actually looks quite trivial to fix. Basically, it isn't using

[2019-04-17 15:22] its-stark commented on #5885
I can add one more information.  This bug only occurs on a real device with iOS 12.2 in my case. It works when using the simulator.

[2019-04-17 15:23] EpicDrakkar commented on #5932
It was enabled for release or app store, still not working

[2019-04-17 15:28] engmsaleh commented on #5932
I have exactly the same issue ... here is the required diagnoses info
[diagnostic_build_output.txt](https://github.com/xamarin/Xamarin.Forms/files/3090360/diagnostic_build_output.txt)

[2019-04-17 15:47] ApppppDevs commented on #5885
Can confirm this. It's not specific to local storage either. Tried on two separate devices - one running iOS 12.1.4 and another running 12.2 - issue is replicable on the latter version.

[2019-04-17 15:48] ApppppDevs commented on #5885
Can also confirm this works on the simulator.

[2019-04-17 16:11] MaxenceSAUNIER opened #5942 "[Bug] ListView and CollectionView do not consider VerticalOption="Start""
### Description
By default, ListView and CollectionView used FilleAndExpand VerticalOption. If you change this,
it has no effect.

### Steps to Reproduce

1. Test my example

### Expected Behavior
List and Collection Height adapt to the content height.

### Actual Behavior
List and Collection height="*" (expand)

### Reproduction Link

[CollectionViewMaterialBug.zip](https://github.com/xamarin/Xam

[2019-04-17 17:26] PureWeen opened #5943 "[Bug, Previewer] Previewer will crash if it reaches any code casting Context to Activity"
### Description

Any code that tries to do the following will crash with an invalid cast exception
[code]

Code like this will always return null

[code]

Will crash the previewer. In SR2 we replaced all these casts with an extension method that will always return null but it will still hit the second case in a few scenarios.

### Possible Alternatives

1) in the GetActivity code https://github.co

[2019-04-17 18:06] PureWeen commented on #2339
@mkieres

### UWP

Is a bit annoying because we happened upon a bug in UWP that's causing listview performance to crawl which causes the UI tests to not work.  I just merged this PR https://github.com/xamarin/Xamarin.Forms/pull/5850 which will resolve that. The easiest way to get it working locally is to go to `interface IElementConfiguration<out T>` and removed the out.

### Android
Hmm I'm not s

[2019-04-17 18:14] langtu commented on #2096
Issue from years ago. I dont understand why xamarin team could not fix it.

[2019-04-17 18:21] spouliot commented on #5932
For some reason (template?) you are not linking your application (i.e. `--nolink` is i the build logs). While *not* linking should work (for submission) you're strongly encouraged to enable the managed linker. This produce a (much) smaller application and has extraneous performance (including startup) enhancements.

Can you try changing your "Linker behavior" from "Don't link" (current) to the _no

[2019-04-17 18:29] ext-mayfran1 opened #5945 "[Android] Picker dismissed with hardware back or click outside the modal cannot be re-opened"
### Description
Pickers that are unfocused using hardware back button or by clicking outside the modal cannot be re-opened.

### Steps to Reproduce

1.  Open a picker
2.  Dismiss it using hardware back or by clicking outside the modal
3. Re-focus the Picker

### Expected Behavior
Modal re-opens

### Actual Behavior
The picker shows the "focused" visuals, but the modal does not open

### Project di

[2019-04-17 20:44] 304NotModified commented on #5916
The issue is here

Not sure why that happens

[2019-04-17 20:47] 304NotModified commented on #5916
@majumajid see https://github.com/xamarin/Xamarin.Forms/issues/4462

Update VS2017 to 15.9.2?

[2019-04-17 20:47] 304NotModified commented on #5916
@majumajid see https://github.com/xamarin/Xamarin.Forms/issues/4462

Update VS2017 to 15.9.2?

[2019-04-17 21:01] PureWeen commented on #4970
fixed by https://github.com/xamarin/Xamarin.Forms/pull/5852

[2019-04-17 21:01] #4970 closed

[2019-04-17 21:02] #5870 closed

[2019-04-17 21:47] samhouts commented on #5597
This is still on the backlog. Thank you for your patience!

[2019-04-17 22:52] PureWeen commented on #4603
duplicate of https://github.com/xamarin/Xamarin.Forms/issues/4769

[2019-04-17 22:52] #4603 closed

[2019-04-17 23:20] mkieres commented on #2339
@PureWeen

Thanks for getting back to me so quickly and

**UWP**
Thanks for that PR. I will definitely have a look if it fixes the above problems. Unfortunately, I'm going on holidays tomorrow for a week, so won't be able to get to it until I'm back.

**Android**

I'm using Vs 2019 (16.0.1) and was trying to run latest from master. I tried building `Xamarin.Forms.Platform.Android` seperately (have

[2019-04-17 23:27] irongut commented on #5901
I've run into the same issue using Forms v4.0.0.304370-pre8 but I think the issue may be at the FFImageLoading end. I have two demo apps both using Forms v4.0.0.304370-pre8...

One app uses FFImageLoading.Forms + FFImageLoading.Svg.Forms v2.4.5.870-pre - it displays images and does not have SkiaSharp errors in the debug log.

The other app uses FFImageLoading.Forms + FFImageLoading.Svg.Forms v2.4.

[2019-04-18 00:02] Clancey opened #5947 "Xaml Parser/Compiler does not identify invalid Xaml"
### Description
The following Xaml, is invalid and does not produce a valid page, but it compiles and parses
### Steps to Reproduce

1. Clone Repo:
2. Build and Run on iOS
3. Add an extra > on [line 29](https://github.com/Clancey/gMusic.Forms/blob/32cef32bf991da66c426b32c050c156de7a741a4/gMusic/Views/SideNavigationPage.xaml#L29)

### Expected Behavior
Compile/Parse error
### Actual Behavior
Compil

[2019-04-18 00:34] PureWeen commented on #4769
@davidortinau so this all "works" now with pre9

I tested doing this via Shell.Current.Navigation and I also tested it by just using the Navigation property on the page itself. Both of them worked the same

The only thing that's a little bit weird and takes you out of the `Shell Standard` experience is that once you push something modally then that modal page operates under the rules of a non shel

[2019-04-18 00:34] #4769 closed

[2019-04-18 01:00] samhouts commented on #2383
Unfortunately, there is no progress on this issue yet. However, we can confirm that the CollectionView will not suffer from this problem and will not require `ForceUpdateSize`!

[2019-04-18 01:11] #5881 closed

[2019-04-18 03:10] jbowmanp1107 commented on #5159
I put the button I am using to activate it, and the picker itself in a grid in the same column and did:

HeightRequest="1" WidthRequest="1" Margin="0" HorizontalOptions="Center"

So basically hide the picker behind the button, and it seems to work.

[2019-04-18 07:59] khoduley commented on #3065
Have the same issue. Multiple changing ItemSource leads to memory leaks.
![Screenshot_5](https://user-images.githubusercontent.com/41128922/56345696-07482480-61c9-11e9-8d03-7caccf5f45b0.png)

[2019-04-18 10:24] majumajid commented on #5916
@304NotModified  i wll update VS2017 to 15.9.11 , i will check working of this and let you know.

[2019-04-18 10:32] marcocanino commented on #4220
Same issue.
Spacing="0" has not solved the problem.

[2019-04-18 10:38] dontspeak commented on #5153
I have the same issue in my UWP application. From my point of view this problem exists at least since Xamarin.Forms 3.0. When will it be solved? Thx.

[2019-04-18 11:54] nbevans commented on #3769
[code]
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs#L1431

This wrapper view that wraps all section headers is the root cause of the problem. The way it is laying out the subviews like that is quite bizarre and will certainly be screwing up iOS' AutoLayout mechanism which is needed to support AutomaticDimension.

[2019-04-18 12:40] SUDALV92 opened #5949 "[Bug] CollectionView cannot access a disposed object."
### Description
CollectionView throwing an exception if user back to the page using MasterDetailPage navigation (this is hard to explain, see steps to reproduce)

[code]

### Steps to Reproduce

1. Create MasterDetailPage, where Detail page contains a CollectionView and some button which push navigation to other page
2. On the other page we don't want to do PopAsync(), instead of this we activate

[2019-04-18 13:22] Sergio-Lillo opened #5950 "[Bug] Android can not reproduce a hexadecimal color accurately"
**Description**
While I was designing an application with Xamarin.Forms I realized that the Android version is unable to reproduce a hexadecimal color with accuracy, the color shows it with less intensity with respect to the real color, however the IOS version reproduces the color The perfection. A strange fact is that the Android emulator that I have tried reproduces the color with more precision

[2019-04-18 13:27] GalaxiaGuy commented on #2218
It looks like this was fixed here: https://github.com/xamarin/Xamarin.Forms/pull/1182

[2019-04-18 13:29] GalaxiaGuy commented on #5950
There have been issues with different platforms handling color differently with Xamarin Forms, but it's also possible that this is an issue with Android on its own.

Are you able to reproduce the issue using a plain Xamarin.Android app without using Forms?

[2019-04-18 13:46] sniemuth commented on #5742
In my case I got this error after turning on ProGuard when I have ToolbarPlacement="Bottom". As @bill2004158 mentions, adding following lines to proguard config fixed it for me:
-keep class android.support.design.internal.BaselineLayout { *; }
-dontwarn android.support.design.internal.BaselineLayout

[2019-04-18 13:49] Sergio-Lillo commented on #5950
Hi @GalaxiaGuy, Acabo de agregar un pequeño repositorio, que contiene una vista con el fondo de pantalla a color: # D7192C

[2019-04-18 14:22] melimion commented on #5888
@samhouts, issue is in this line https://github.com/xamarin/Xamarin.Forms/blob/aa6d3f3a4a6796ffe106f2e6e88f0e7cccc28d3a/Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs#L823

can be fixed by changing to

[2019-04-18 14:38] nbevans commented on #3769
I've got a fix, both in the form of a Renderer hackfix but also as a proposed patch to XamForms.

The proposed patch is:

Change the HeaderWrapperView class as follows:
[code]

Change the GetViewForHeader method as follows:
[code]

[2019-04-18 15:27] nbevans commented on #3769
And here is my renderer hackfix for those that need an immediate solution to use whilst they wait for the above patch to be incorporated in a new release of XF: https://gist.github.com/nbevans/a713dc9c77a8f530b6f4f3cd4fad83c2

[2019-04-18 15:28] #5501 closed

[2019-04-18 15:28] #5650 closed

[2019-04-18 15:40] nbevans commented on #3769
@samhouts @PureWeen Can we reprioritise this issue now and try to get it fixed in the vNext and all the service releases as well?

[2019-04-18 16:07] RadWes commented on #4268
Just seeing if there was any movement on this.  I created a simple solution that easily reproduces the issue here.  In this scenario, it happens when you click off the app and then back on to it.
 The login page has two hidden Entry controls.
https://github.com/RadWes/XamTest
Can anyone share a sample of the work around?

[2019-04-18 16:14] ysmoradi commented on #5652
I've the same issue )-:

[2019-04-18 16:19] baywolf-studios commented on #4268
Here's the files I copied and modified to not call the events if the window is disposed like ech0matrix posted above.

https://gist.github.com/baywolf-studios/03caf8b9879d9ec6619a37e5e52a9671

probably some better way to organize and recreate them but... it seems to work.

[2019-04-18 16:23] codemillmatt opened #5951 "[Bug] App Crashes Within iOS ShadowEffect's OnDetached Method With VisualElement That's Never Visible"
### Description

When adding a `ShadowEffect` to a `VisualElement` on iOS that has its initial `IsVisible` property set to `false` and is never shown, the app will crash during the `OnDetached` method.

### Steps to Reproduce

1. Create a `MainPage` with a `Button` that will be used to push to a new page.
1. Create a `ChildPage` with a `Button` with `IsVisible=false` and that has the `.On<iOS>().S

[2019-04-18 18:23] PotatosAreDelicious opened #5953 "[Bug] Thicccness is spelled incorrectly in Xamarin.Core.Thickness"
Please correct.

[2019-04-18 19:58] PureWeen commented on #5943
pinging @garuma  and @TimBarham  in case they have any additional suggestions

[2019-04-18 20:47] majumajid commented on #5916
i have updated VS2017 15.9.11 , issue fixed by updating VS2017.
Thank you so much for your great support

[2019-04-18 22:29] SuperCorks opened #5956 "CSS defined in App does not affect TitleView [Bug]"
### Description
Styles defined in a CSS file and added to the `App`'s resource dictionary don't get applied to `TitleView` content.

### Steps to Reproduce

1. Create a simple css file (e.g. `#ViewTitle { color: white; }`
2. Add it to the `App`'s resources.
2. Add a `TitleView` to a page.
3. Style its content with the css.

### Expected Behavior
The styles added to the `App`'s resource dictionary

[2019-04-18 22:32] SuperCorks commented on #5956
This might be true of normal styles too. Haven't tested that.

[2019-04-19 02:37] MhAllan opened #5958 "MasterDetails UWP Navigation back loses the menu"
### Steps to Reproduce

- Create master detail project
- Click item on the menu to set Details to NavigationPage
- Push a new page on the stack
- Click back arrow (The menu button disappears)

### Expected Behavior
Going back to NavigationPage previous page and keeping the menu button

### Actual Behavior
Goes back to NavigationPage previous page but the menu button disappears

### Basic Informati

[2019-04-19 02:43] #5953 closed

[2019-04-19 05:45] rsgrey commented on #5268
How the situation with a bug is?  In progress or in backlog?

[2019-04-19 06:47] sekmenhuseyin commented on #5302
Hi,

we have the same problem on our project.
We upgraded from xamarin.forms v3.0 to v3.5 and now I get an error saying "The type or namespace 'Android' does not exists in 'Xamarin.Froms.Platform'"
![image](https://user-images.githubusercontent.com/1363876/56411041-05916600-6288-11e9-9917-b06f28105b4c.png)

![image](https://user-images.githubusercontent.com/1363876/56411049-0f1ace00-6288-11e9-96c0

[2019-04-19 09:28] FunkyLambda commented on #4155
Hey @jamesmontemagno, does the Previewer currently offer all the features that were already on offer with LiveReload? If not, it’s an inferior product and should be ditched for LiveReload. It should then be LiveReload that comes standard as part of VS.
It’s either a case of:
1) You don’t have enough pull within MS to make it happen;
2) You are not aware of what devs actually want, in which case, s

[2019-04-19 09:38] lewixlabs commented on #3912
Totally agree!! 🥳
Hearing somebody had crash issues on old device, I inserted a check to implement this workaround on new android P devices only

[code]
Anyway @pauldipietro I hope this issue will be fixed in next Xamarin Android releases.
Hi!
Lewix

[2019-04-19 09:52] mauro-alfatauristudio commented on #3317
Have you soldved this?

[2019-04-19 11:12] arvindrajachourasiya commented on #5871
Hello please open this issue @samhouts

[2019-04-19 13:18] elmotron commented on #3983
@mr5z I have exactly the same problem and adding Children didn't help either. Any news on this?

[2019-04-19 14:12] ssombat opened #5959 "[Bug] FlexLayout does not shrink when last row of children are hidden"
### Description
Flexlayout should shrink when its children are hidden. When hiding children at the last row, flexlayout will no longer shrink.
### Steps to Reproduce
Using my project that I provided
1. Click one of the white boxes that are on the last row. (That white box is now hidden)
2. Click on any of the white boxes to hide them. (repeat this step as many times as you like)
3. Flexlayout (blu

[2019-04-19 15:18] andysinclair commented on #5306
I've just experienced this issue today and can easily reproduce with a simple Shell app with an embedded Xamarin Forms Map.
Panning/Zooming the map on Android is not usable.
Is there any update as to when this might be fixed? Thanks.

[2019-04-19 16:25] DeerSteak commented on #4156
This is still happening on Xamarin.Forms 4.0 pre9. I reverted to 3.6 and was able to continue for now.

[2019-04-19 18:00] samhouts commented on #5958
Duplicate of #5412

[2019-04-19 18:00] #5958 closed

[2019-04-19 18:08] boudomi1 opened #5960 "[Xamarin.Forms][Android] Pressing Volume up/down hardware buttons on pickers opens them"
### Description
When opening a picker one time, then dismissing it, pressing on hardware buttons for volume up or down, for example, will make the picker re-appear.

### Steps to Reproduce

1. Open the provided sample application
2. Tap on the picker to open it
3. Dismiss the picker
4. Press the volume up or the volume down button

### Expected Behavior
The volume adjusts

### Actual Behavior
The

[2019-04-19 18:09] samhouts commented on #5942
@Moltroon `ListView` and `CollectionView` (and similar controls, like `ScrollView`) always vertically expand to available space unles you've specificed a `HeightRequest`. This is expected behavior. Thanks!

[2019-04-19 18:09] samhouts commented on #5949
@SUDALV92 Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-19 18:11] samhouts commented on #5945
@ext-mayfran1 Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-19 18:14] samhouts commented on #5899
@psatheesh18 We are not prepared to change the one-time binding for `AutomationId`. Please open a new issue describing why `AutomationProperties.SetName` or `AutomationProperties.SetHint` are not working for you. Thanks!

[2019-04-19 18:14] #5899 closed

[2019-04-19 18:14] samhouts commented on #5884
Okay, we'll keep looking for it. Thanks!

[2019-04-19 18:34] samhouts commented on #5960
Interesting. That's not one of the keycodes we're looking for to trigger it. I wonder if it's an accessibility feature. The volume keys work again as expected when you remove focus from the picker.

https://github.com/xamarin/Xamarin.Forms/blob/533e13019129b298f775308cf1ef79655bc97a7a/Xamarin.Forms.Platform.Android/PickerManager.cs#L14

[2019-04-19 18:39] samhouts commented on #5935
I recommend using Xamarin.Essentials Preferences instead. Thanks! https://docs.microsoft.com/en-us/xamarin/essentials/preferences?context=xamarin%2Fandroid&tabs=android

[2019-04-19 18:39] #5935 closed

[2019-04-19 18:42] #4439 closed

[2019-04-19 18:45] #5916 closed

[2019-04-19 18:54] samhouts commented on #5514
@ashishm29 Hmm, I'm not sure why that would make a difference.

PCLs were deprecated more than a year ago. If you'd like to submit your reproduction project to me using a PCL, I'd be happy to take a look at it, but I don't have Visual Studio 2015 installed to create one.

We strongly recommend that you upgrade to a netstandard library if at all possible. Thanks!

[2019-04-19 19:00] samhouts commented on #5763
I think this is pretty consistent with our expectations. The CollectionView is meant to expand to its available vertical space. The StackLayout is meant to adjust the height of all items appropriately, so it effectively sets the height of its children. Thanks!

[2019-04-19 19:00] #5763 closed

[2019-04-19 19:00] samhouts commented on #5942
You can also wrap them with a StackLayout to impose the behavior you're wanting. See #5763.

[2019-04-19 19:09] #5856 closed

[2019-04-19 19:16] samhouts commented on #5901
Verified that it's still an issue with the latest FFImageLoading prerelease, too. Still not sure if this is should be investigated in Forms, Skia, or FFImageLoading. //cc @daniel-luberda @mattleibow

[2019-04-19 21:13] kensykora opened #5962 "[Android] Xamarin Forms WebView's Navigated callback returns "Failure" on first install / initial navigation to page containing CSS font-face declarations with WOFF, WOFF2, or TTF references"
### Description

The very first time a new Xamarin Forms app is installed on a device and launched, when a `WebView` is shown that contains a remote HTML page which has a `<link>` to a CSS file, and that CSS file contains a `@font-face` declaration with any combination of a WOFF, WOFF2, or TTF reference, the `Navigated`'s callback reports back `Failure`, despite the page load being successfully an

[2019-04-19 23:22] EmilAlipiev commented on #4155
@FunkyLambda no, it doesnt offer anything yet. it cant even display a proper scrolview. Actually idea of previewer is good as i can understand. if it works very well, you can simply test your ui on different phone sizes like you could do with react native on the browser. But I doubt that it is easily doable in a short term. we have to also create testable static lists (see James' presentation on V

[2019-04-20 03:32] samhouts commented on #5911
@brminnick Did 4.0.0-pre9 fix the issue? Thanks!

[2019-04-20 04:23] brminnick commented on #5911
@samhouts v4.0.0-pre9 looks good!

This crash no longer happens when I run the sample repro on v4.0.0-pre9.

[2019-04-20 04:23] #5911 closed

[2019-04-20 05:32] monetelli opened #5965 "[Bug] MaterialButtonRenderer with the CornerRadius property in iOS"
### Description

First I thought that the problem was Gorilla Player, so I did it in DEBUG mode, the result was the same, I made a difference with two buttons using Visual in one, when adding the CornerRadius, the button was distorted with the visual.

### Screenshots

![Captura de Pantalla 2019-04-20 a la(s) 00 02 09](https://user-images.githubusercontent.com/14121125/56453171-aa04be00-6303-11e9-

[2019-04-20 07:22] HobDev commented on #5763
FlexLayout should also adjust the height of all items appropriately.  It is not doing so. The problem is with FlexLayout.

[2019-04-20 11:29] bill2004158 commented on #3112
should be fixed in #3842

[2019-04-20 14:19] alex-relov commented on #5306
To the release should fix, for now the task in the status To do

[2019-04-20 15:56] davidortinau opened #5966 "[Spec] Merge quickly, then stabilize"
# Problem

Pull Requests sit for **way too long** in review or draft because of the high bar of committing to the API and implementation.

Examples and candidates to consider:

* MediaElement #3482
* CameraView #4084
* GIF #2202
* Shell for UWP #5936

# Suggestion: SetFlags

Could we use the `SetFlags` API to merge these kinds of controls before they meet the bar for stable, but still ship them wi

[2019-04-20 16:06] migueldeicaza commented on #5966
I think we need different policies for the api surface vs the implementation.

The former is problematic because we cause frustration when we break the API, and that deserves to be at least get an API review, without trying to boil the ocean.   This could be set behind a flag, but ideally if the baseline API is fine, we only hide or do not expose debatable API entry points and evolve those separat

[2019-04-20 16:13] ChaseFlorell commented on #5966
I like the "fast lane" "slow lane" idea.
What about a simple compiler directive for each and ship them separate. Then I as a contributor can still ship my control but have the small requirement to ensure it lands in the "fast lane" only build.

[code]

[2019-04-20 19:36] yadavvineet opened #5967 "[Bug] Routing Not working, NotImplemented exception thrown"
I have followed standard instructions shown at
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/shell?tabs=android#navigation
and many other blogs which are on same lines.
i have the following xaml head
[code]

I added another page, Lets Say LanguageSelectorPage which is out of normal flow of page.
Added following route in App.xaml.cs
`Routing.RegisterRoute("changelanguage",

[2019-04-20 19:45] baskren commented on #5787
Same issue here with VisualStudio Mac

[2019-04-20 21:35] PureWeen commented on #5967
@yadavvineet can you try "changelanguage"

I have a repo here based on 4.0 pre9
https://github.com/PureWeen/Gastropods

Where the global register route is working

[2019-04-20 23:08] charlesroddie commented on #5966
Good that this problem is getting some attention.

Creating nuget packages from PR branches would help the review process, allowing affected users to test for functionality and API, and lowering the bar of expertise required to provide helpful feedback. This could be automated. Someone comments "release please" on a PR branch and that releases an automatically named package to nuget or myget? Woul

[2019-04-21 07:42] nickrandolph commented on #5966
Feedback on the suggestions:

**Suggestion: SetFlags**
Don't do this - this adds significantly to any test matrix (ie testing every combination of setflags) and as pointed out in the description prevents companies adopting XF if they need a "stable" release.
Selecting a version of XF from the main NuGet feed should include only those features that have been released, not experimental features.

**

[2019-04-21 09:12] andreinitescu commented on #5966
I don't think that's the actual problem, and I am skeptical about adding flags or adding separate nugets, it sounds to me like extra work for everyone, team and contributors.

Miguel's thoughts are exactly my thoughts too:

Efficient, coordinated (meaning that, when it's necessary, it has been discussed internally and it's only one team member speaking) and timely communication with contributors i

[2019-04-21 10:07] pfedotovsky commented on #3172
According to the spec, will TableView be replaced by CollectionView entirely?

[2019-04-21 13:21] toomasz opened #5968 "[Bug] ProgressBar with Visual=Material causing crash on Android 5.0"
### Description

App crashes when using ProgressBar with Visual="Material" on android 5.0, I have also tested that on android 4.4 and 9.0 and it works fine there.

stack trace:
`
04-21 15:18:34.104 I/MonoDroid( 4152): UNHANDLED EXCEPTION:
04-21 15:18:34.124 I/MonoDroid( 4152): System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> Android.Conten

[2019-04-21 13:27] AbuMandour opened #5969 "[Bug] MasterDetail in iOS in rtl Mode in Xamarin Froms"
### Description
when a start new Xamarin Forms app and set Flow Direction = RightToLeft, the screen in iOS appear as following:

### Steps to Reproduce

1. create new Xamarin forms app
2. add master details page
3. set Flow direction to RightToLeft

### Expected Behavior
the master page appears correctly
### Actual Behavior
master page does not appear
### Basic Information

- Version with issue: 3

[2019-04-21 16:03] toomasz opened #5970 "[Bug] [Android] NullReferenceExcepion in Dispose of SwitchRenderer when creating derived custom renderer"
### Description

https://github.com/xamarin/Xamarin.Forms/blob/998dc3534c7df17e4bda1a709c8f2f81039a2429/Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs#L59

No null check here, therfore when calling base.Dispose from custom renderer derived from SwitchRenderer NullReferenceException occurs.

- Version with issue: 3.6.0 SR3
- Last known good version: 3.6.0 SR2
- IDE: VS2017
- Platform Ta

[2019-04-21 16:58] yadavvineet commented on #5967
I need to check your repo, but for me even changing that does'nt work.
![image](https://user-images.githubusercontent.com/7949851/56473110-26260f80-6484-11e9-8b07-a6d84a5f288d.png)

I am on currently Xamarin.Forms v3.6.0.344457.
@PureWeen you mentioned 4.0 pre9. Do you think that could be a problem, This is because i am referring the GA

[2019-04-21 17:10] yadavvineet commented on #5967
Ok, I updated to pre-release and the behavior is correct over there, can seemlessly route to different pages. Thanks for hint @PureWeen

So this must be a bug for GA 3.6.x. If this is already included for next GA, probably can be closed.

[2019-04-21 22:09] pfedotovsky commented on #5793
I get the following error while using ObservableCollection with CollectionView

`Objective - C exception thrown. Name: NSInternalInconsistencyException Reason: Invalid update: invalid number of items in section 0.The number of items contained in an existing section after the update(13) must be equal to the number of items contained in that section before the update(13), plus or minus the number of

[2019-04-22 00:08] adrianknight89 commented on #5793
@pfedotovsky This error usually happens (on iOS) when items are NOT being added to the underlying adapter/data source on the main thread.

[2019-04-22 01:10] hartez opened #5971 "Shell layout different between iOS 10 and later versions"
### Description

Layout with relation to the navigation area differs between versions.

### Steps to Reproduce

1. Run test 4684 in Control Gallery on iOS 10.
2. Run test 4684 in Control Gallery on iOS >10.

### Expected Behavior

Same layout.

### Actual Behavior

Parts of the content are not visible on iOS 10.

### Basic Information

- Version with issue: 4.0.0

### Screenshots

iOS 10:
![ios10]

[2019-04-22 03:23] #5555 closed

[2019-04-22 06:15] RawoofSharief commented on #1839
@samhouts , Since, this bug has been dragging from several months. Can you provide any workaround for this?. Please consider this as high priority.

[2019-04-22 06:26] AshishInnovantes commented on #5729
Hey is their any solution to this problem ? I am facing the same issue.
Duplicate of **#5729**

[2019-04-22 09:57] Eswaran17392 commented on #5456
@samhouts, We have checked the provided code changes with the latest Xamarin Forms preview version. We have tried to change the code, but unfortunately, we have only got the "int java.lang.CharSequence.length()' on a null object reference" exception. Can you please change the provided code changes in our attached sample and share us. I will help a lot to us.

[2019-04-22 10:18] SUDALV92 commented on #5949
[Xamarin bug test.zip](https://github.com/xamarin/Xamarin.Forms/files/3103015/Xamarin.bug.test.zip)

Steps to reproduce:

1. Click "Login"
2. Click "sign in"

[2019-04-22 13:54] ivanicin opened #5973 "IsGestureEnabled="False" disables side menu completely on Android [Bug]"
### Description
Setting IsGestureEnabled="False" disables the side menu (Master Page) on Android completely, if you press on the hamburger button nothing happens.
### Steps to Reproduce

1. In the project create the MasterDetail page
2. Set  IsGestureEnabled="False"
3.

### Expected Behavior
This should disable the gesture, but not the menu itself
### Actual Behavior
This disables the menu that ti

[2019-04-22 14:29] hartez commented on #5831
@davidortinau If you're seeing choppy scrolling on Android, please open another issue so we can keep track of both.

[2019-04-22 14:41] dotMorten commented on #5966
Not sure why you specifically call out #5936. It's still a draft release as I'm working through some issues. However I did hope for some guidance whether I was on the rigth track or not...

[2019-04-22 14:44] StephaneDelcroix commented on #5947
can't repro at first. have to try on your project...

[2019-04-22 15:14] hartez commented on #3172
TableView will still exist. We won't be removing any existing controls.

On iOS, CollectionView renders using a UICollectionView, which means that its cells are UICollectionViewCells. And UICollectionViewCells don't have accessory views (like disclosure indicators). So for any UI elements like disclosure indicators or checkmarks, you would need to create those in your ItemTemplate.

[2019-04-22 15:18] jsuarezruiz commented on #4233
Oh, love this spec. If it can help in someway: https://github.com/jsuarezruiz/Xamanimation

[2019-04-22 17:45] samhouts commented on #5456
@Eswaran17392 Hope this helps! I strongly recommend that SyncFusion update all controls to use a local Context like this. It *will* cause strange behavior if you try to keep using `Forms.Context`. Thanks!

[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/3104304/App1.zip)

[2019-04-22 20:19] NickeManarin opened #5976 "[FeatureRequest] Resource not available via code when it's inside a MergedDicitionary"
### Description
It's not possible (at least I could not find any way of doing that) to get resources from a `MergedDictionary` via code.
In WPF we can use FindResource()/TryFindResource() to get resources from the app via code.

### Steps to Reproduce

1. Create a `ResourceDictionary` file like this one:

[code]
2. Add the reference to the `App.xaml` like this:

`<ResourceDictionary Source="Resour

[2019-04-22 21:05] #2248 closed

[2019-04-22 21:12] pfedotovsky commented on #3172
How to disable selection on certain types of items? I have multiple data templates and want to disable selection on some of them.

[2019-04-22 21:12] activa commented on #2296
This is still an issue in 3.6.0. The listview will now scroll, but the ItemTapped event never fires. This works fine on UWP and Android.

[2019-04-22 22:07] pfedotovsky commented on #5455
Is it correct? According to the spec, MeasureFirstItem should produce the same height/width, while MeasureAllItems should measure all items individually.

[2019-04-22 23:17] AntRemo commented on #2927
@hartez I know this is an old issue, but I just found another way to cause this error. It results from `TimePickerRenderer` not implementing `Dispose` like the `DatePickerRenderer` does. I can replicate the issue by opening the time picker, then having another task navigate back to another back page (for example with a delayed task, in my case from a notification tap). At that point the `TimePicke

[2019-04-23 03:59] devjaime commented on #5681
I found a small problem in vs2019, the target platform of Android 9.0 did not show it. I opened the same configuration in vs2017 and if you show it to me (for those who are working with material desing visual material vs2019, I share it in case someone else is in it).
![visualstudio2017](https://user-images.githubusercontent.com/26843824/56552879-a1f28b80-655a-11e9-9f65-7b5d82ab0b31.png)
![visuals

[2019-04-23 05:15] dario279 opened #5977 "[GTK] Xamarin doesn't free memory"
### Description

### Steps to Reproduce

1. Open project and launch

### Expected Behavior

Garbage collector should free memory after pop a page.

### Actual Behavior

Garbage collection doesn't free memory after pop a page.

### Basic Information

- Version with issue: All versions
- Platform Target Frameworks:
GTK
[TestHMI.zip](https://github.com/xamarin/Xamarin.Forms/files/3105917/TestHMI.zip)

[2019-04-23 06:08] knocte commented on #5977
Originally reported in https://github.com/mono/gtk-sharp/issues/269

[2019-04-23 07:22] hartez commented on #2927
@AntRemo Please open a new issue - otherwise this is likely to get lost in the shuffle.

[2019-04-23 08:53] amirvenus commented on #5977
AFAIK, you cannot forcibly tell GC to collect your garbage. GC.Collect may or may not collection what we expect it to. But, I do see that there is a clear behavioural difference in GTK and iOS when calling GC.Collect after popping a page.

[2019-04-23 09:02] knocte commented on #5977
As explained in the original report (mono/gtk-sharp#269) this might be related to not releasing delegates from event handlers (so not related to GC actually).

[2019-04-23 12:00] toomasz commented on #3172
@hartez When setting ItemTemplate to DataTemplateSelector im getting exception:`
Xamarin.Forms.Xaml.XamlParseException: Position 70:33. Cannot assign property "ItemTemplate": Property does not exist, or is not assignable, or mismatching type between value and property`

I thought that templates will be supported out of the box

[2019-04-23 13:08] ivanicin commented on #4184
If it helps for a quicker fix, here is a sample code, I wanted to submit a new bug but I can see it is submitted already.

[CellHeightTest.zip](https://github.com/xamarin/Xamarin.Forms/files/3107657/CellHeightTest.zip)

[2019-04-23 13:25] eddie010 commented on #4222
I'm currently facing the same issue. Even setting the Visibility to ViewStates.Gone will still show the gray area of where the tabbar was. Currently using Xamarin.Forms v3.6.0.344457

[2019-04-23 13:48] pikausp opened #5978 "Xaml Parser throws when encountering primitives"
When linking is set to SDK only I get the following runtime exception on both `Android` and `iOS`.

    {Xamarin.Forms.Xaml.XamlParseException: Position 13:6. Type system:Boolean not found in xmlns clr-namespace:System;assembly=netstandard
      at Xamarin.Forms.Xaml.CreateValuesVisitor.Visit (Xamarin.Forms.Xaml.ElementNode node, Xamarin.Forms.Xaml.INode parentNode) [0x0005f] in D:\a\1\s\Xamarin.F

[2019-04-23 13:51] psirigiano commented on #5903
We are getting the same exact thing... had to down grade back to 2017.

[2019-04-23 13:51] pikausp commented on #5976
`Application.Current.Resources.TryGetValue("ResourceKey", out var value)` works in my project.

[2019-04-23 14:45] jcmanke commented on #5929
This seems like the typical problem with `IsShowingUser`, you must have location permission and the device's location services enabled. Most, if not all, UWP devices do not have GPS chips, so they use network signals to determine your location. Airplane mode == no network == no location.

Side note I discovered trying to reproduce this: the system will ask for location permissions the first time y

[2019-04-23 14:46] NickeManarin commented on #5976
You are right, thanks.
I ended up creating a simple helper method:

    internal static Color TryGetColor(string key, Color fallback)
    {
        Application.Current.Resources.TryGetValue(key, out var color);

        return color as Color? ?? fallback;
    }

[2019-04-23 14:46] #5976 closed

[2019-04-23 15:04] dbwelch commented on #5428
Any update to this?  Really don't understand how this feature can be used at all without allowing the developer to add/remove/hide/show ShellItems.  Do we have to deploy a new app every time there is a new category/ShellSection?  Do we need a separate app for authenticated users to be able to show them authorized items?  Silly, right?

[2019-04-23 15:28] hartez commented on #3172
They should be; perhaps you're encountering a bug. Please open an issue so we can investigate.

[2019-04-23 15:34] ext-mayfran1 commented on #5945
Basic project showcasing the issue added

[2019-04-23 15:44] adrianknight89 commented on #3172
@toomasz Before opening an issue, can you please update your Nuget to the latest pre-release (or the nightly) and test the selector again? The issue you're seeing was present when there was no support for `DataTemplateSelector`.

@hartez Is any work currently being made on the header&footer as well as the refresh view? If I can free up time, I might look into either one, but I want to make sure I'

[2019-04-23 15:47] pikausp commented on #5978
To expand on this issue, I'm not entirely sure what is happening here, as I'm using the types in the application, so I don't think they are actually stripped?

[2019-04-23 16:00] Depechie commented on #3667
Just as extra request ( could be placed on different issues, but I think this one fits well ), would love to have a broader ability like UWP function binding: https://docs.microsoft.com/en-us/windows/uwp/data-binding/function-bindings

That way we don't need to add more and more properties to the control for regular string rendering.

[2019-04-23 16:06] Depechie opened #5979 "[Bug]"
### Description

Unable to use CSS styling on `Span` control inside `FormattedText` of `Label`.
Although the docs mention this https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/styles/css/ ...

### Steps to Reproduce

[code]
We wanted to apply text color and text decoration through CSS styling, but were unable to do so.

### Reproduction Link

Repository containing the page htt

[2019-04-23 16:23] #5967 closed

[2019-04-23 16:57] drossoft commented on #5661
Hi, Is there any progress on this issue?

[2019-04-23 18:29] toomasz commented on #3172
@adrianknight89 It works on 4.0! Awesome

[2019-04-23 18:51] samhouts commented on #2360
closed by #5829

[2019-04-23 18:51] #2360 closed

[2019-04-23 19:58] PureWeen opened #5982 "[Enhancement] Update all tests to use NUnit3"
## Summary
Now that Xamarin UI Tests supports nunit 3 we should update everything to use Nunit 3

This will vastly simplify running tests since the mechanism of running nunit 2 tests on VS 2017+ is really quirky

- Update everything to nunit 3
- update and install the nunit 3 test adapters into all test projects

Past effort: https://github.com/xamarin/Xamarin.Forms/pull/559

[2019-04-23 20:47] jmjohnson05 commented on #5159
Hopefully this can help somebody else. Full disclosure -- it's a hack, but it works. I was able to work around this issue with a custom picker renderer bypassing the default implementation of the `OnFocusChangeRequested` method. I basically just copied the code  that is used to show the dialog from the XF picker renderer. It's not exactly a quick fix if you don't already have a custom renderer for

[2019-04-23 20:49] Depechie commented on #5979
hey @StephaneDelcroix are we doing something silly here with css? Or are we reading the docs about css wrong? ( Span and text decoration is mentioned as supported )

[2019-04-23 21:11] atarek1 commented on #5538
Hello,
Xamarin forms previewer bug with Visual="Material"
Visual studio 2019 enterprise version 16.0.2
Windows 10 enterprise version 1803
Xamarin froms: latest stable or 4.0.0.346134-pre9
Xamarin visual material: latest stable or 4.0.0.346134-pre9

Reproduce steps:
Create Mobile App(XF) choose MasterDetail template
Add Xamarin visual material package to android project
Add Visual="Material" in con

[2019-04-23 21:14] davidbuckleyni opened #5983 "Adding SQL Lite does not retain the dll after rebuild"
I am using the standard .net xamrian project which I am including a .net standard 2.0 dll I am trying to add SQL Lite

Steps to reproduce.

1 Create a new xamarin forms .net standard 2.0 project.

2 Create a shared library .net standard 2.0

3 Add sql lite and Json.net to said library.

4 Rebuild the references disappear.

![](https://i.imgur.com/TaPcuSQ.png)

Please see my jinq video for your ref

[2019-04-23 22:18] PureWeen commented on #5538
@atarek1 currently visual isn't fully supported on the previewer.

If you
- close your xaml files
- rebuild the android project
- reopen the xaml file

Then will you see it render on the Android previewer?

It currently doesn't work on the iOS previewer at all

[2019-04-23 22:19] imuller commented on #5214
Found a solution for the problem. It was still existing on Xamarin.Forms 3.6.
I had to use the "Resources" inside my XAML pages to prevent a crash on a few devices. This crash did not occur on all iOS devices.

After adding this code to my XAML pages the crash was gone.

`<ContentPage.Resources>
        <ResourceDictionary>
            <converters:InverseBoolConverter x:Key="InverseBoolConverter"

[2019-04-23 22:19] #5214 closed

[2019-04-23 22:28] hartez commented on #3172
Nothing's being done at the moment - if you want to take a crack at it, that'd be great.
Just a heads-up, after some discussion today we've added two new properties related to header and footer - `IsHeaderSticky` and `IsFooterSticky`, for specifying whether they scroll with the items or remain in place. If you want to tackle those along with the header/footer, that would be awesome, but it would a

[2019-04-23 23:56] atarek1 commented on #5538
@PureWeen unfortunately proposed steps didn't work even if i removed `Visual="Material"`.

The only way that worked with me is:

- remove `Visual="Material`
- close visual studio/unload solution
- delete bin & obj folders from android project and PCL
- reopen the xaml file.
- if i added `Visual="Material` back same issue appears and some times just remove it without closing anything and previewer

[2019-04-24 00:58] #5533 closed

[2019-04-24 02:27] getheme225 commented on #5045
Hi @pauldipietro, is a very usefull control, for e-Commerce app ,  i' am actually working on  something like. I want to contribute Too.

[2019-04-24 03:00] davidortinau opened #5986 "Shell TitleView multiplies when changing top tabs"
### Description

https://www.screencast.com/t/qKyslfbgO

### Basic Information

- Version with issue: 4.0-pre9

### Reproduction Link

https://github.com/davidortinau/Straxa

[2019-04-24 03:05] davidortinau opened #5987 "[Bug] Shell cannot style toolbar items"
### Description

I cannot set the color of ToolbarItem in Shell. I have also tried editing styles.xml and cannot seem to find the right properties to set colors.

### Expected Behavior

I can set a `Style` along with all the other Shell styles for color of the label text or icon in the toolbar (android) with the same styling applied to iOS.

### Actual Behavior

Nothing I do changes it. HOWEVER th

[2019-04-24 03:09] davidortinau commented on #4848
This continues to be an issue in Shell and one that has no reasonable workaround that I'm aware of. Negative margin hacks are prone to miscalculation. Bumping up the impact.

[2019-04-24 03:25] davidortinau opened #5988 "[Bug] Shell Bottom Bar horizontal border"
### Description

There is no styling option provided to set a shadow and/or top border on the bottom tab bar.

Most of the xamples on material.io are with a dark background, but here we see the white background treatment and can clearly see a border and shadow:

![image](https://user-images.githubusercontent.com/41873/56630145-da0ad480-6615-11e9-99e9-690913cf57c3.png)

https://material.io/design/c

[2019-04-24 03:37] davidortinau opened #5989 "[Enhancement] Shell Top Tabs cannot be spaced evenly"
### Description

On Android and I think iOS the tabs are smash to one side without the option to space them evenly. This is natively an option in Android and should be available here as well for all platforms.

https://developer.android.com/reference/android/support/design/widget/TabLayout.html#attr_TabLayout_tabGravity

If you push iOS tabs to the top, they are evenly spaced by default (native, n

[2019-04-24 05:53] SubburajPandianV commented on #4371
+1 Any update on this?

[2019-04-24 05:57] SubburajPandianV commented on #4712
+1

[2019-04-24 06:04] Yuvaraj-007 opened #5991 "Items are"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2019-04-24 06:04] #5991 closed

[2019-04-24 06:18] Yuvaraj-007 opened #5992 "Items are disappearing in the SfListView (Horizontal orientation only) while perform fling to scrolling After updating the xamarin forms version as higher than 3.0 in xamarin forms android platform"
### Description

Hi Team,

We are from syncfusion (SfListView) development team, We update the xamarin forms version as 3.1 in our source. After update this version we are facing a strange issue in xamarin forms android platform that are In horizontal orientation perform fling to scrolling items are disappearing in the view. We didn't change anything in our source. So, we expert that, this issue r

[2019-04-24 10:11] pikausp commented on #5978
It fails with XamlC enabled, linker set to SDK only and shared runtime unchecked. I found the culprit when creating the repro solution.

    <?xml version="1.0" encoding="utf-8" ?>
    <ResourceDictionary xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:system="clr-namespace:System;assembly=netstandard">
        <x

[2019-04-24 10:23] hhuseyinpay commented on #5755
I guess this is related #4398

[2019-04-24 11:07] bentmar commented on #5386
What does "Returned to backlog" mean? @samhouts

[2019-04-24 11:35] MagicAndre1981 commented on #5386
@bentmar

https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog

[2019-04-24 12:06] bruzkovsky opened #5993 "[Bug] Entry.TextChanged is fired when BindingContext changes"
### Description

We were having troubles with our Entry controls, in that they would be cleared out of nowhere. Investigating further, we found that there was a TextChanged firing with an empty string when the BindingContext changed - which happens inside a ListView with cell reuse - , thus deleting the data. Also when trying the TwoWay binding mode, the value in the ViewModel will be set to an em

[2019-04-24 13:12] ejluttmann commented on #5686
Thanks for reporting this.  Users of my app are experiencing the same thing, application actually hangs because the animation task never completes if Remove animations is enabled.

[2019-04-24 13:18] arvindrajachourasiya opened #5995 "Why MainPage TitleView not displaying for other pages"
### Description
I have added `TitleView ` for `MainPage`, it is displaying only on `MainPage's ``Navigationbar`. When I navigate to other pages `TitleView `not showing.

How can I solve this issue?

For more information visit this

https://stackoverflow.com/questions/55829996/how-to-show-navigationbar-titleview-common-for-all-pages

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actu

[2019-04-24 14:36] davidbritch opened #5996 "[Bug][Shell] Routing.RegisterRoutes allows duplicate routes"
### Description

The Shell spec says that if a duplicate route is registered, it should fail with an exception. While this works for XAML routes, it doesn't work for routes defined using the `Routing.RegisterRoutes` method. When registering duplicate routes using this method, the original route is overwritten.

[2019-04-24 14:37] scxp opened #5997 "[Enhancement] Create header and footer for CollectionView"
@hartez @samhouts Creating this ticket for discussion on the header and footer implementation. Last night, I managed to create the header for iOS but ran into some difficulty. While the header for linear layout and vertical grid layout works, I got an exception thrown for horizontal grid layout (which I can't figure out why at the moment), which brings me to my next questions.

- Should there be s

[2019-04-24 14:38] #5997 closed

[2019-04-24 15:04] adrianknight89 opened #5998 "[Enhancement] Create header and footer for CollectionView"
Creating this ticket for discussion on the header and footer implementation. Last night, I managed to create the header for iOS but ran into some difficulty. While the header for linear layout and vertical grid layout works, I got an exception thrown for horizontal grid layout (which I can't figure out why at the moment), which brings me to my next questions.

- Should there be support for supplem

[2019-04-24 16:28] adrianknight89 commented on #5966
I favor **fragmentation** with the caveat that MS owns the fragmented pieces. In the past, I've used projects that were so out of date yet the only alternatives out there. I like the work the Essentials team is doing. As @davidortinau said, fragmentation is the opposite, but at some point we all realize we can't dump everything in the Essentials project, especially things that involve UI. From my

[2019-04-24 16:29] johnthiriet commented on #5787
Problem still present on my side with the latest stable release on Xamarin.Android MacOS.

[2019-04-24 17:24] davidortinau commented on #5987
This appears to be a problem with Android only. iOS looks ok at least in terms of taking a color like the back button:

![Screenshot 2019-04-24 12 18 14](https://user-images.githubusercontent.com/41873/56679970-db76e400-668b-11e9-81af-a3bad9fc68bc.png)

[2019-04-24 18:21] elmarkos23 opened #6001 "[Bug]"
### Description
El master Menu no se renderiza y deja una pantalla en blaco, cuando se abre la aplicación nuevamente en la versión de android con la api 28

### Steps to Reproduce

1. instalar y abrir la app
2. cerra la app completamente
3. abrir nuevamente ya no se visualiza le master menu

### Expected Behavior
Que se visualice el menu maestro

### Actual Behavior
Muestra pantalla en blanco no g

[2019-04-24 19:23] samhouts commented on #5386
@bentmar We ran out of time in sprint 150. Sprint 151 and Sprint 152 theme is Shell stabilization, so it wasn't moved forward to those sprints. After this sprint, we'll be reassessing the backlog, including this item. Thanks!

[2019-04-24 20:28] ricardouffcomp commented on #5382
Hi @samhouts . Are these Xamarin issues being fixed only by the community or there are Microsoft engineers working on these tickets as well? I have reported this bug 2 months ago and it is not clear for me if someone will pick it up soon. It is blocking the release of my app.

[2019-04-24 20:33] samhouts commented on #5382
Hi @ricardouffcomp! Microsoft engineers definitely work on these tickets! CarouselView is still in very early preview. We plan to work on it more in the coming sprints. Thank you for your patience!

[2019-04-24 21:55] dansiegel opened #6003 "[Enhancement] Add Color.ToHexString"
## Summary

Add ToHexString method on the Color to make it easier to convert a Xamarin Forms Color back to a Hex String.

## API Changes

[code]

## Intended Use Case

anywhere that it makes sense to create a native color from hex string.

[2019-04-24 23:40] thudugala commented on #3838
Also please add "Font Family" or "File Image Source" for Font Icon support

[2019-04-24 23:50] PureWeen opened #6004 "[Enhancement, Android] Change ActionBarDrawerToggle in platform to be v7 not v4"
## Summary

Currently we can't set the drawable on ActionBarDrawerToggle to anything because the v4 version of it doesn't have an api for setting the drawable

https://github.com/xamarin/Xamarin.Forms/pull/4915/files#diff-adb24726a0c58c74e3fc99113a27e2dcR785

If we convert it to the v7 one then we can set the drawable

[2019-04-25 04:04] SharbelWired commented on #5288
I just wanted to chime in that 17.1.0.40 crashes in Xamarin Forms pre-release 4..  I had updated a project to pre-release 4 to test a feature in Prism pre-release (which requires xam 4), and there were still issues with 17.1.0.40.  I downgraded everything to Xamarin Forms 3.6.x and the original issue with linking, which is the topic of this thread) is resolved.  Just wanted to give a heads up in c

[2019-04-25 04:06] PureWeen commented on #5288
@SharbelWired can you post your stack trace?

[2019-04-25 05:01] GnanaPriyaNamasivayam commented on #5288
@SharbelWired,

We would like to inform you that Syncfusion Xamarin.Forms components are only compatible with Xamarin Forms stable version. We have mentioned regarding this in our documentation. Please refer our documentation form below link for your reference.

UG Documentation Link : https://help.syncfusion.com/xamarin/introduction/compatibility-road-map

[2019-04-25 05:47] jckruse opened #6005 "CarouselView: HorizontalOptions FillAndExpand has no effect (since XF 4.0 pre-8 and 9)"
### Description

While testing CarouselView in XF 4.0, I noticed that the HorizontalOptions property seems to have no effect.
Until pre-7 it works, with pre-8 and 9 the problem occurs.
The CarouselView is in a grid (7 rows, 1 column with ColumnDefinition Width="*")
The items are own controls (views) see e.g. Section 2 (Sample View) of the source code

### Steps to Reproduce

CarouselView:

[code]

[2019-04-25 08:38] salgiza commented on #1429
Any news on this bug? Yesterday I posted a question in the Xamarin.Forms forum that might seem related to this: https://forums.xamarin.com/discussion/155697/possible-memory-leak-in-xamarin-forms

There is more info on the post but, the two main things to take from it:
* It can be reproduced running one of the project templates included in VS for macOS.
* I have a project where this only happens wh

[2019-04-25 09:42] prasannapattam opened #6006 "[Bug] CollectionView HorizontalList Not working without StackLayout Orientation"
### Description
I am showing a horizontal list using CollectionView. I want to show an array of strings in the horizontal list. I am using the below code and it is not showing any data in the code. For StackLayout, if I add Orientation="Horizontal", then I can see the horizontal list.

### Steps to Reproduce

1. Below is the code which is not outputting any data when the StackLayout Orientation is

[2019-04-25 13:33] wesoos commented on #5497
Any updates on this?

[2019-04-25 13:49] azuken opened #6008 "[Bug] Shadows not appearing on Android"
### Description

All controls with `HasShadow` property aren't showing anymore shadow (Frame and Floating Action Button). Worked with

### Steps to Reproduce

1. Use control with `HasShadow` property on Android

### Expected Behavior

Have shadow on the bottom of control

### Actual Behavior

No shadow

### Basic Information

- Version with issue: 3.6.0.344457
- Last known good version: 3.6.0.2930

[2019-04-25 14:22] adrianknight89 opened #6009 "[Enhancement] Ability to justify text for Label"
## Summary
Word offers 4 options to align text, but Forms has 3.

![Capture](https://user-images.githubusercontent.com/16855542/56742367-35ce7e00-673a-11e9-91e6-29fbdeb7f9f6.PNG)

It'd be great to have the ability to justify align text.

## API Changes

Possibly adding `TextAlignment.Justify`, but this would also be present for vertical alignment. If justify doesn't make sense for vertical alignme

[2019-04-25 14:43] JKennedy24 commented on #1839
Can we prioritise this bug in some way? This bug makes Syncfusion listview in a CarouselView unfortunately unusable on Android. Currently a blocker for our application

[2019-04-25 15:11] Evolutionlab commented on #5787
Same issue here.  There is a strange behaviour:
If i start the app in debug mode from VisualStudio, it works until i stop the debug.
Then if i reopen manually the same app in the device, it crash.

Disabling LLVM everything works fine.

[2019-04-25 15:20] pjc0247 commented on #3294
Also happened to me, Update nuget package and remove `bin` and `obj` dir solves my problem.

[2019-04-25 15:23] pjc0247 commented on #3294
I think this is temporary solution, after some modifications it happens again.

[2019-04-25 16:02] ianvink commented on #5500
I'm getting the same issue on iOS devices. XF 3.6, running on a PC with VS 2019

Here's my Editor:
`			<Editor Placeholder="Enter a note"   Text="{Binding NoteText}" x:Name="NoteEditor" HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand"  IsVisible="{Binding IsLoading, Converter={StaticResource NegateBooleanConverter}}" ></Editor>`

and I set the Material in the App.xaml

			<Style

[2019-04-25 16:04] candidodmv commented on #4576
@samhouts I will appreciate very much if it will be available for specific configuration. I did think "what? it's doesn't exist yet?"

[2019-04-25 16:12] ianvink commented on #5500
I have a repro project, but it's confidential. Let me know the email to send it to if you need it. @kingces95 or @samhouts

[2019-04-25 16:12] jcmanke commented on #5998
If this were to be implemented, it should definitely be the first way.

[2019-04-25 16:13] ianvink commented on #5787
I get it on 2019.0.2 with:

Xamarin.Android Reference Assemblies and MSBuild support.
    Mono: mono/mono/2018-08-rc@5ad371dab1b
    Java.Interop: xamarin/java.interop/d16-0@c987483
    LibZipSharp: grendello/LibZipSharp/master@44de300
    LibZip: nih-at/libzip/rel-1-5-1@b95cf3f
    MXE: xamarin/mxe/xamarin@b9cbb535
    ProGuard: xamarin/proguard/master@905836d
    SQLite: xamarin/sqlite/3.26.0@32

[2019-04-25 16:30] bmacombe commented on #5998
I don't think you need the header/footer on horizontal...assuming the header/footer are fixed and always shown.  If they scroll in and out of view with the content items that could be different though.

[2019-04-25 16:54] vividos commented on #5517
I think this was fixed by PR #5633; the error goes away for my UWP project when I update to the latest Xamarin.Forms 3.6.0 NuGet package (tested with 3.6.0.344457).

[2019-04-25 17:58] samhouts commented on #2520
This was partially resolved for legacy renderers, but fast renderers still suffer from it.

[2019-04-25 18:37] matteopiccioni commented on #2415
Hello,
In my new project I am using Shell and CollectionView, and I have to say that are great!
One question about Shell
- there is a way to add a bottom item fixed (fox example a button for user logout)

I see that is possible to add a fixed header (FlyoutHeader and FlyoutHeaderBehavior) but I cant find any info about bottom footer
Thanks!

[2019-04-25 18:38] PureWeen opened #6010 "[Android] New ImageSource needs to intelligently invalidate Elements"
### Description
https://github.com/xamarin/Xamarin.Forms/pull/4915/commits/665961b0785d42edb8c1bb089a4fa7d9992306f3

The intent of  the invalidation was to handle scenarios where images are being loaded post layout but as is it's causing the layout to thrash. A basic page with a few images was calling invalidatemeasure about 900 times with these invalidation vs the normal 8 without those.

Comment

[2019-04-25 18:45] matteopiccioni commented on #2415
Hello,
I have another question about RegisterRoute.
My app is rather large, with a considerable number of pages, about 30...
Is really the right way to add  the RegisterRoute for each of them?
`            Routing.RegisterRoute("blabla", typeof(BlaBlaPage));
...
...
`
Or is better to use the old way?
`var blaPage = new BlaBlaPage ();
await Navigation.PushAsync (blaPage);
`

[2019-04-25 18:52] PureWeen commented on #2415
@matteopiccioni I would recommend doing it like this

[code]

and using
`gotoasync("blabla")`

I realize right now it feels the same but as the features grow it's going to be more relevant to have all of those things operating via the Shell system

if this becomes a pain point we're looking at adding some features that will just assembly scan for pages or maybe even some compile time features that

[2019-04-25 19:58] matteopiccioni commented on #2415
@PureWeen thanks for answer
Slow startup time is one of the most annoying problem in xf (for Android)
On startup could I add to routing only the first level of pages (the shellitems pages) and add the others only in after app is started (a sort of Lazy loading of RegisterRoute)?

[2019-04-25 20:01] PureWeen commented on #2415
@matteopiccioni

So if you just do it like this all at once
[code]

it's fine. All I was talking about is if we end up building something that makes it so users don't have to do that we'll need to weigh it against performance. Right now `Routing.RegisterRoute("blabla", typeof(BlaBlaPage));` doesn't do any reflection so doing it all at once is fine.

all it does is adds a string and type to a dicti

[2019-04-25 20:53] gaocan1992 opened #6011 "[Bug] Clear ItemSource in CollectionView will crash iOS App"
### Description
Clear ItemSource in CollectionView will crash iOS App
### Steps to Reproduce
1. XAML has a CollectionView named MyCollectionView

2.
[code]

### Expected Behavior
Models is cleared.
### Actual Behavior
[code]
### Basic Information
- Version with issue:
Xamarin.Forms 3.6.0.344457
- Last known good version:
- IDE: Visual Studio Mac
- Platform Target Frameworks:
  - iOS:  12.1
- Affec

[2019-04-25 21:01] gaocan1992 commented on #6011
I believe this is a similar issue discussed in this thread https://forums.xamarin.com/discussion/19114/invalid-number-of-rows-in-section

iOS doesn't handle batch update properly.

[2019-04-25 22:06] jcmanke commented on #5978
Looks like the same issue as this forum thread: https://forums.xamarin.com/discussion/comment/361272#Comment_361272

[2019-04-26 01:04] jgold6 opened #6014 "[Bug] [iOS] Group Header does not expand to include all contents of ViewCell in GroupHeaderTemplate."
This was originally filed on bugzilla: https://bugzilla.xamarin.com/show_bug.cgi?id=45773

## Description

On iOS, the group header of a ListView does not expand based on the content of the ViewCell. This is true if the ViewCell has only one Label in it, or if the ViewCell has a StackLayout with multiple elements in it.

## Steps to reproduce

1. Open the attached sample project (thank you Code Kn

[2019-04-26 04:25] nitishmani commented on #5664
Is there any specific timeline for the fix of this bug? and when can i get the fix?

[2019-04-26 04:40] FreedomDesi commented on #4130
If you have to changed TappedEventArgs to EventArgs then no issue will happening in code behind.In latest Xamarin forms you must change the all events like "SelectedItemChangedEventArgs" to "EventArgs" and all Button click events must have (object sender, EventArgs e) parameter.

[2019-04-26 07:16] vasuthakker commented on #4628
Any update on the issue, when it will be fixed ?

[2019-04-26 07:25] mrbrl opened #6016 "[Bug] (Shell, Android) Shell.Current.GoToAsync 2 levels from root causes root page so flicker in at transition"
### Description
Xamarin.Form Shell on Android
navigating between 2 pages registered with Routing.RegisterRoute causes the root page to appear during navigation transition.

 Shell.Current.GoToAsync 2 levels from root causes root page so flicker in at transition
### Steps to Reproduce

1.
[Straxa-master.zip](https://github.com/xamarin/Xamarin.Forms/files/3120099/Straxa-master.zip)

2. Register 2 ro

[2019-04-26 07:36] jamie-lord commented on #5471
Yeah, I'm getting the same issue. Very strange behaviour. The UWP project was working fine and then suddenly, this started occurring but I can't find a way to stop it from happening.

[2019-04-26 08:47] MagicAndre1981 commented on #5471
@jamie-lord

in [exception settings](https://docs.microsoft.com/en-us/visualstudio/debugger/managing-exceptions-with-the-debugger?view=vs-2017#tell-the-debugger-to-break-when-an-exception-is-thrown) uncheck to stop at **System.IO.FileNotFoundException**

![image](https://user-images.githubusercontent.com/8274816/56795349-99c37600-6810-11e9-88be-d0732c30de96.png)

[2019-04-26 09:04] StephaneDelcroix commented on #6003
/cc @Clancey

[2019-04-26 09:41] PauchardThomas commented on #4573
The problem is FontSize property, when it will be fixed ?

[2019-04-26 10:06] BalasubramaniSundaram commented on #5897
Hi @samhouts,
     Any Update on this ?

Regards
Balasubramani Sundaram.

[2019-04-26 10:13] psp589 commented on #5517
As @vividos says it seems to be fixed, it is working for me as well ( with version 3.6.0.344457)

[2019-04-26 10:16] Muthukumaran-G commented on #2601
Hi Team,

Any update on this?

[2019-04-26 10:45] Muthukumaran-G opened #6017 "[UWP] Images are wrongly rendered in the view while updating the BindingContext for reusing."
### Description
Greetings,

We at Syncfusion develop data visualization controls for Xamarin and we have more than 90 controls spread across all platforms of Xamarin. Please refer the below link for a description about us.
UserGuide: https://help.syncfusion.com/xamarin/sfdatagrid/overview
FeatureTour: https://www.syncfusion.com/products/xamarin
UserGuide:https://help.syncfusion.com/xamarin/sflistv

[2019-04-26 10:52] Phenek commented on #5716
It would be awesome if the ScrolledEventArgs,
could provide us some GestureStatus Similar to PanUpdatedEventArgs.StatusType Property

```public enum GestureStatus```

| Enum | Int |Description|
| ------------- | ------------- |------------- |
|Canceled | 3 | The gesture was canceled|
|Completed | 2 | The gesture completed|
|Running | 1 | The gesture is still being recognized|
|Started | 0 | The ge

[2019-04-26 11:21] Robtom5 commented on #4837
I've just had this error occur again on V4.0.0.346134-pre9. I'm getting an ArgumentException `System.ArgumentException: unable to figure out route for: app://foo.com/shell_mock/outing?parameter=bar
Parameter name: uri`
When I'm registering the route using `Routing.RegisterRoute("outing", typeof(OutingPage));`. If I define the page in my shell xaml instead then it resolves correctly

[2019-04-26 11:36] matteopiccioni opened #6018 "[Info] Understand XF release cycle"
Hello,
I'd like to understand how works release cycle for this project.
For my need I am using x.f. 4.0-pre9 and when I meet a bug I'd like to know when the next release is planned.

For example, now I see in [Project](https://github.com/xamarin/Xamarin.Forms/projects) tab that there is:
- Sprint 152 2019-04-20 to 2019-05-10
- vNext+1 (master)
- vNext (4.0.0)
- vCurrent (3.6.0)
...

Of course:
 -

[2019-04-26 12:06] baskren commented on #5927
Just stumbled upon this.  Glad to hear it's on the radar.

[2019-04-26 13:22] ArunSivaR opened #6019 "Renderer not found exception occurs on Version 3.6.0"
**Description:**
Renderer not found exception occurs after updated to version 3.6.0 when opening a custom date picker, which created by using custom renderers

**Basic Information:**
Tested Version: 3.6.0.344457
Works fine with version : 3.5.0.274416

**Replication procedure:**

- 1. Run the attached sample on andoir [PicerSample](https://drive.google.com/file/d/1UG83P6YdD7_z8uvxeR4d5iKcJmmZ01s4/v

[2019-04-26 13:27] wmjoers commented on #1520
Any new on this bug?

[2019-04-26 13:36] baskren opened #6020 "[Shell] iOS Issue with BackButtonBehavior"
**Edit**: same issue with Android (once I worked around the need to set the `BackButtonBehavior.IconOverride` issue).

### Description

iOS and Android application crashes when `Navigation.PopAsync()` called from `BackButtonBahavior.Command`.

### Steps to Reproduce

1. Download, build and run [demo project](https://github.com/baskren/ShellBackButtonOverride) on iOS and Android emulators.
2. Tap *

[2019-04-26 13:48] baskren commented on #6020
edited initial submission to include Android information.

[2019-04-26 14:37] GalaxiaGuy opened #6021 "[Bug] [macOS] [iOS] ListView does not handle transparent backgrounds correctly"
### Description

**macOS** - ListView does not support transparent background (or any alpha less than 1). It appears as if an extra white background is behind it.

**macOS, iOS** - Additionally, cells seems to have their background set to the background of the background of the ListView by default, again causing problems when alpha is less than 0.

### Steps to Reproduce

Create a`LlistView` with

[2019-04-26 15:48] anthcool commented on #4399
I also would like to specify the order of the FlyoutItems and MenuItems displayed in the Flyout.

My thought is this:  Why have different types of items in the first place?  Just make 1 type of FlyoutItem that you can style and order in any way you'd like, that also supports commanding for param passing, etc.  Having both FlyoutItems and MenuItems is confusing and cluttered in my opinion.  Just me

[2019-04-26 17:59] Clancey commented on #5135
[SimpleAuth](https://github.com/clancey/simpleauth) Supports Xamarin.Mac

[2019-04-26 19:03] PureWeen commented on #6020
@baskren can you try with the latest pre9 ?
I tested your sample with 4.0 pre9 and I didn't get the same exceptions

[2019-04-26 19:03] #6020 closed

[2019-04-26 19:16] PureWeen commented on #6019
@ArunSivaR The exception has been removed in 4.0 (sorry about that)

But there looks to still be a regression with how you are using the renderer since you're not allocating that to the view hierarchy at all

I'm not sure of a workaround for this off hand. I've assigned it to myself and I'll try to get this into a 4.0 SR

out of curiosity why are you removing the renderer and just using the view?

[2019-04-26 19:17] nbevans commented on #6014
https://github.com/xamarin/Xamarin.Forms/issues/3769

Dupe of this. I already proposed a fix and provided immediate workaround in form of a rendered.

[2019-04-26 19:18] PureWeen commented on #6018
The sprint is how we figure out how much work to schedule. So we just look at engineers available and then assign a set of tasks during the sprint. We typically try to do an official release every two sprints. So we spend one sprint getting a release to PRE then it can saturate for another sprint before we release

Right so once we officially release 4.0.0 then vNext+1 will become 4.1.0 and vNext+

[2019-04-26 19:18] #6018 closed

[2019-04-26 19:35] PureWeen commented on #6017
[Xamarin.Forms.4.0.1.379891.zip](https://github.com/xamarin/Xamarin.Forms/files/3122761/Xamarin.Forms.4.0.1.379891.zip)

Can you try with the attached nuget? Or you can wait until our next 4.0 pre10 comes out to see if that resolves.

It was tricky to reproduce with 3.4 but I eventually was able to. I tried with the attached nuget to recreate and wasn't able to

[2019-04-26 20:19] PureWeen commented on #6016
@mrbrl  good find I checked a fix in here

https://github.com/xamarin/Xamarin.Forms/pull/6025

though I'm not sure if what I fixed addresses what you want to do

When you call
[code]

are you hoping that gets added to the stack? or that it removes
[code]

first and then adds "end" ?

[2019-04-26 20:39] PureWeen commented on #6011
Clear issues a reset so I'm assuming this is a duplicate of

https://github.com/xamarin/Xamarin.Forms/issues/5793

[2019-04-26 20:39] #6011 closed

[2019-04-26 20:48] kdawg1406 commented on #2415
@jassmith @jamesmontemagno @pierceboggan Wow looks great.  Have you seen the Google Contacts application using Pie SDK on a Google Pixel?  I love the UI/UX, with no title bar and the hamburger integrated with the top of the app.

Can this suggestion be considered for your Shell since its a pattern that Google is using, with Contacts and Maps, and maybe others?

Thank you for your time and consider

[2019-04-26 20:53] PureWeen commented on #6001
@elmarkos23 can you attach a repro please? I tested this with a very simple master page

[code]

And then closed and re-opened the app on API 28
it worked fine for me

[2019-04-26 20:55] #6014 closed

[2019-04-26 20:59] PureWeen commented on #6009
It looks like iOS support this and Android recently added support

https://developer.android.com/reference/android/widget/TextView#setJustificationMode(int)

Ideally this would just be as simple as setting those :-)

[2019-04-26 21:15] jcmanke commented on #6021
Seems related to #5503

[2019-04-26 21:28] PureWeen commented on #6008
@azuken can you attach a sample please? Also we don't have a FAB so I'm curious what you are using

I tested with the following source code

[code]

Or can you test the latest 4.0 pre9 to see if it looks ok for you on there?

[2019-04-26 21:37] PureWeen commented on #5995
duplicate of https://github.com/xamarin/Xamarin.Forms/issues/4292

[2019-04-26 21:37] #5995 closed

[2019-04-26 21:38] elmarkos23 commented on #6001
Funciona en API 28 pero en los dispositivos Galaxy S9 no funciona, solo la primera vez y si se cierre y nuevamente se abre se queda en blanco.

`public ObservableCollection<MenuMenuItem> MenuItems { get; set; }

            public MenuMasterViewModel()
            {
                MenuItems = new ObservableCollection<MenuMenuItem>(new[]
                {
                    new MenuMenuItem { Id

[2019-04-26 21:48] PureWeen commented on #5993
@bruzkovsky If I'm understanding the sample correctly the Text setter and property changed call is happening because it's using an object constructor to set the Text
[code]

Which is the same thing as doing

[code]

If I change your code  to set the text via the constructor
[code]

Then  the Text setter doesn't fire when the binding context is changed

[2019-04-26 21:48] #5993 closed

[2019-04-26 23:01] #5921 closed

[2019-04-26 23:37] jamesmontemagno commented on #5793
Seems to work just fine on Android, which is interesting......

[2019-04-27 00:29] akamud opened #6027 "Previewer does not work with d:BindableLayout.ItemsSource"
### Description
I'm trying to add an `ItemsSource` to my `StackLayout` which has a `BindableLayout`, similar to what is possible using a `ListView.ItemsSource` described [here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/xaml-previewer/design-time-data#design-time-data-for-listviews).

### Steps to Reproduce

1. Use [this](https://github.com/akamud/KickassUI.Traveler) project on `e

[2019-04-27 01:18] PureWeen commented on #6003
Code for this exists in the GTK project and ColorPicker
reusing or centralizing that code is probably useful when implementing this

[2019-04-27 01:38] PureWeen commented on #6006
I tested this on the latest 4.0.0 branch and it appears to be working.

Can you try on pre9?
If it doesn't work there then we will have a pre10 out soon that you can test on

![image](https://user-images.githubusercontent.com/5375137/56843197-c1d7c700-685a-11e9-8804-fe17bb51946a.png)

[2019-04-27 01:38] #6006 closed

[2019-04-27 01:43] PureWeen commented on #5799
What API device are you running on? I'm guessing you have multidex enabled? What happens if you disable multidex for release and enable proguard instead?

[2019-04-27 01:45] PureWeen commented on #5500
@ianvink shneuvil at microsoft.com

[2019-04-27 02:09] PureWeen commented on #5970
@toomasz out of curiosity why are you inheriting from the non appcompat renderer?

This is the better renderer to use
https://github.com/xamarin/Xamarin.Forms/blob/998dc3534c7df17e4bda1a709c8f2f81039a2429/Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs

[2019-04-27 04:31] PureWeen commented on #4371
@kingces95 is this something we can plug into your profiler work to see where the waits times are occurring?

[2019-04-27 07:02] nguyenthanhliemfc commented on #3449
For who want to apple Fluent Design for UWP https://github.com/nguyenthanhliemfc/MasterDetailPageFluentDesignForUWP

[2019-04-27 12:09] Srki94 commented on #4398
I'm having an issue with this as well. Setting the Detail of the MasterPage causes white screen to show up before the new page shows up. This takes about 1 second.
We're scheduled to release for mid May and we really need a solution. Any kind of help is welcome.

[2019-04-27 13:10] baskren commented on #6020
@PureWeen - Thanks, you're right.

[2019-04-27 13:32] philousb commented on #5205
Hello,

Having the same issue in 4.0.0 pre 9. Will this be fixed soon ?

[2019-04-27 14:12] xXdRaGoNrIdDeRXx commented on #5799
Proguard and Multidex are on due to the size of my app i require Multidex, and im using latest API 9.0

[2019-04-27 15:50] PureWeen commented on #5945
@ext-mayfran1 this looks like it's only an issue with nonappcompat

Can you switch to using appcompat?
https://montemagno.com/material-design-theming-for-xamarinforms-android/

[2019-04-27 16:43] PureWeen commented on #5799
@xXdRaGoNrIdDeRXx I'm chatting with the android team but it looks like an android tooling quirk if you have proguard + multidex enabled

If you add a proguard file with
[code]

https://docs.microsoft.com/en-us/xamarin/android/deploy-test/release-prep/proguard?tabs=windows#example-proguard-configurations

that should fix the error for you

[2019-04-27 16:43] #5799 closed

[2019-04-27 18:22] jsuarezruiz opened #6033 "[Spec] Transitions Api"
# Transitions API

Xamarin.Forms already has a complete animations API allowing you to create a live and fluid content on a page. However, what happens when navigating between pages?.

This spec defines a **transitions api**. We have two types of well-differentiated transitions:
- **Traditional transitions**: Traditionally transitions between different pages involved enter and exit transitions tha

[2019-04-27 20:02] PureWeen commented on #6033
Could this complement the segue work as well?
https://github.com/xamarin/Xamarin.Forms/issues/4594

[2019-04-27 23:12] davidortinau opened #6034 "[Bug] Stepper incorrectly positions inside a Grid"
### Description

The top and bottom `Steppers` should be centered horizontally, but they start at the center position instead. I swapped a `Button` in to check, and that works fine.

### Steps to Reproduce

[code]

[2019-04-27 23:15] davidortinau commented on #6034
Material `Stepper` seems ok.

<img width="584" alt="Screenshot 2019-04-27 18 15 21" src="https://user-images.githubusercontent.com/41873/56856060-7683ee00-6918-11e9-9803-50f55b386e1e.png">

[2019-04-28 02:27] mrbrl commented on #6016
@PureWeen
re:  When you call 'await Shell.Current.GoToAsync($"end");' are you hoping that gets added to the stack? or that it removes.
I hope to get it added to the stack so we'll have a stack with 3 items: root, page1, page2 (and keep on adding as we navigate further).

shell.xaml definition could accept along the line of the below to allow tracking to an infinite combination of navigation, tabs,

[2019-04-28 04:52] PureWeen commented on #6016
Awesome that's how it will work after my PR for this gets checked in

It will eventually. Currently routes can't get stacked but they will be able to soon

Yes!!! We want to allow people to register all of this in the XAML if they need to and not have to worry about global routes if they don't want to

[2019-04-28 05:43] mdonogma commented on #3177
Any working example of indexer approach available? I have .net standard with Xamarin forms but need working guidance on above code snippet using indexer

[2019-04-28 08:55] dannypease commented on #2562
Yes this is still an issue, and quite an important issue when it comes to trying to navigate to a certain page via a push notification for example. Is there a work around at all as I am trying to navigate in the following way:

await _navigationService.NavigateAsync("/TabbedPage?selectedTab=MiddleTab/Page1/Page2");

[2019-04-28 09:05] Drutol commented on #5903
Same here, not Forms app so I think that's something deeper in Xamarin.Android, had to revert to VS2017.

[2019-04-28 09:07] jannikscho commented on #5205
The problem is still there. Tested with preview 9.

[2019-04-28 10:43] jsuarezruiz commented on #6033
Looks nice https://github.com/xamarin/Xamarin.Forms/issues/4594. I need to review better the changes in https://github.com/xamarin/Xamarin.Forms/pull/2816/files but I think so, it could complement. We could change this Spec to adapt it to Segue one. For example:

[code]

[2019-04-28 16:02] MhAllan opened #6035 "[Enhancement] VAST Compliant MediaPlayer Needed"
Need MediaPlayer that can work with VAST ads. Something other than Azure Media Player because that is a javascript for Azure only.

[2019-04-28 17:06] AmrAlSayed0 commented on #6033
Wasn't something similar already suggested here #4233 and here #4232 ?

[2019-04-28 17:34] pauldipietro commented on #6035
Let's keep this functionality request in #1692 rather than a separate issue.

[2019-04-28 17:34] #6035 closed

[2019-04-28 17:43] PureWeen commented on #5983
@davidbuckleyni the logs you attached were the IDE logs. Do you by chance have the build logs?

If you
- close vs
- delete your obj/bin
- reopen vs
- rebuild

Then do you see the same behavior? If you create a new project do you see the same behavior?

I wasn't able to reproduce this issue.

[2019-04-29 01:18] PureWeen commented on #5969
@AbuMandour Can you attach a sample or update to 4.0 pre9 and see if it works for you? I tested with the template project and I just did a really vanilla setup
[code]

[2019-04-29 02:57] PureWeen commented on #5956
If the style is defined on the content page is loads fine but ones defined in app.xaml don't work

I bet this same issue exists for the views loaded as part of shell as well (SearchHandler and FlyoutHeaderProperty)

[2019-04-29 05:14] Muthukumaran-G commented on #6017
Hi @PureWeen ,

This issue still persists in the attached NuGet. Can you please prioritize this issue and update us ASAP?

Thanks.

[2019-04-29 08:37] micrtoeq opened #6036 "Xamarin Forms CollectionView SelectionChanged event not firing on UWP"
### Description
When using the SelectionChanged Event in XAML, it does not fire on selection of an item uin UWP. We tried in Android and there it works.

### Steps to Reproduce

            <CollectionView
                Margin="16"
                SelectionMode="Single"
                ItemsSource="{Binding Items}"
                VerticalOptions="FillAndExpand"
                HorizontalOptions

[2019-04-29 10:45] xeg12 opened #6037 "Issue using template with ShellContent"
I have a Shell with several ShellSections.
One has 3 ShellContents each with the same Page but with different flags passed in on create to provide different selections ("All", "Selected" and "Unselected").

If I add a new item using a separate page, I want to refresh the 3 ShellContent pages on returning from the NewItem page.

Since changing to use a ContentTemplate for performance reasons there

[2019-04-29 11:20] Happypig375 opened #6038 "UWP BoxView doesn't respect WidthRequest"
### Description

BoxView doesn't respect WidthRequest on UWP.

### Steps to Reproduce

1.
[code]
2. Run

### Expected Behavior
A circle should appear.

### Actual Behavior
![image](https://user-images.githubusercontent.com/19922066/56892754-30af5d00-6ab3-11e9-9af8-64ce99d45326.png)

### Basic Information

- Version with issue: 3.2, 3.4, 3.6
- Last known good version: Idk
- IDE: Visual Studio 2019

[2019-04-29 11:37] Happypig375 commented on #6038
Also replicable with Button.

[2019-04-29 12:32] ext-mayfran1 commented on #5945
We tried the non-appcompat version, but it causes quite a few issues in our app (many visual elements no longer working as expected), and the picker's look and feel is quite different...

[2019-04-29 12:35] nakulashok commented on #5070
@PureWeen Thanks, it worked for me.

[2019-04-29 13:54] davefxy opened #6039 "[Bug] Customized Map Pin Sample UWP will display same info window for all tapped pins"
[Bug] Customized Map Pin Sample UWP will display same info window for all tapped pins
### Description
https://github.com/xamarin/xamarin-forms-samples/tree/master/CustomRenderers/Map/Pin sample.
The UWP sample will display the info window contents of the first tapped pin for any pin tapped after the first. The info window content is not being reset after being selected.
### Steps to Reproduce

1.

[2019-04-29 15:59] dotMorten commented on #2415
To me this sounds like you shouldn't ever use content directly but use templates. This makes sense to me, so why support the direct content approach? (apart from the simplicity, but it's letting people shoot themself in the foot)

[2019-04-29 15:59] PureWeen commented on #4872
related
https://github.com/xamarin/Xamarin.Forms/issues/5956

[2019-04-29 18:17] baskren opened #6040 "[Bug] [Shell] iOS UIKeyCommands don't work with Xamarin.Forms.Shell"
### Description

iOS UIKeyCommands don't work (in Custom PageRenderer) when used with Xamarin.Forms.Shell

### Steps to Reproduce

1. Clone, build and run [demo project](https://github.com/baskren/HardwareKey) in iOS Simulator (or iOS device with Bluetooth hardware keyboard)
2. Press arrow keys on hardware keyboard to verify app shows which arrow key is pressed
3. Modify demo app's `App.xamls.cs`

[2019-04-29 18:26] dberroa commented on #4910
I'm also having this issue. When using the visual states from the xamarin blog being pressed and normal, if I clicked and hold the mouse on the button it will expand and then if I move the mouse off of the button, it stays expanded and doesn't scale back to normal. It only goes back to normal after a full click.

[2019-04-29 18:29] dberroa opened #6041 "[Enhancement] Added visual state hovered to Image buttons."
## Summary
I would like my image button to scale up and change color when hovered over in xamarin forms. As of now, we only have a pressed and normal state. For UWP, I'm thinking this occurs when moving the mouse over. In android and iOS, it can occur when pressing and holding the button and then the user can either lift the finger on the button to trigger or slide off to cancel. This is normal be

[2019-04-29 18:47] dfoulk opened #6042 "[Enhancement] Launch/Splash Screen in Xamarin.Forms"
## Summary
I understand why we currently have to create launch/splash screens in the native projects. However- I would still love for the brilliant folks behind Xamarin to solution a Xamarin.Forms launch/splash screen API that doesn't require us to implement these screens manually on each platform.

## API Changes

I believe this would require an update to the Xamarin.Forms project template in Vis

[2019-04-29 19:40] samhouts opened #6043 "[Feedback] I think this is a Xamarin XAML BUG. Custom XAML converter doesn't work with more that one implemented interface."
### Description

<p>I have a custom converter for Xamarin XAML in a Xamarin Forms IOS application.  It implements IValueConverter and works fine. However, if I have it implement another interface in addition to IValueConverter, the converter is not executed anymore. There are no errors thrown, it just ignores the converter all together (hence breakpoints in the converter are never hit).

More:  Th

[2019-04-29 20:01] goiditdev commented on #5268
I would also be interested in an update on this bug. Thanks!

[2019-04-29 20:05] adrianknight89 commented on #5839
so no platform specific snafu, then?

[2019-04-29 20:16] #5647 closed

[2019-04-29 20:16] #5721 closed

[2019-04-29 20:16] #3207 closed

[2019-04-29 20:16] #4689 closed

[2019-04-29 20:16] #5521 closed

[2019-04-29 20:16] #5951 closed

[2019-04-29 20:16] #5724 closed

[2019-04-29 20:16] #5945 closed

[2019-04-29 20:16] #5970 closed

[2019-04-29 20:18] jcmanke commented on #6043
See also: [Xamarin Forums thread](https://forums.xamarin.com/discussion/155696/bug-i-think-this-is-a-xamarin-xaml-bug-tell-me-what-you-think)

[2019-04-29 20:49] jinek opened #6045 "[Bug] Xamarin.GTK Opacity and semi-transparent colors does not work"
### Description
Setting opacity to 0.1 on any xamarin.forms element does not have effect.
Setting not "FF" byte in any color attribute of xamarin.forms element does not have effect
- Version with issue: 4.0.0.346134
- IDE: JetBrains Rider
- Platform Target Frameworks: GTK sharp 2.12.0.0
- Nuget Packages: Xamarin.Forms, Xamarin.Forms.GTK

### Screenshots
![image](https://user-images.githubuserconte

[2019-04-29 21:37] #5700 closed

[2019-04-29 21:39] #5854 closed

[2019-04-29 21:43] Adam-Langley commented on #5839
I should clarify - "produces the exact same result", meaning, also does not animate correctly.

[2019-04-29 22:10] adrianknight89 opened #6046 "Label LineHeight does not render the same on iOS and Android"
### Description

If you change the default `LineHeight` on a `Label`, when text is wrapped, Android seems to be applying spacing between lines. On the other hand, iOS changes the height of each line, which creates unnecessary padding above the first line.

### Steps to Reproduce
Run the attached repro on both platforms and notice that iOS line spacing is off.

### Reproduction Link

[App18776.zip]

[2019-04-29 23:41] daniel-luberda commented on #5901
Somehow Visual Studio is not adding `SkiaSharp` package (which is listed as a dependency). Manually adding `SkiaSharp` package solves it. I suppose it should be moved to VS Issue Tracker.

[2019-04-29 23:46] #6016 closed

[2019-04-30 02:46] dansiegel commented on #4343
Just a quick update on this... Looking at the [NavigationRenderer](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs#L673-L688) I would tend to believe that this is actually the major culprit. It seems that the PlatformSpecific `StatusBarTextColorMode` was done entirely wrong. There are a couple of changes that should be made..

1. The

[2019-04-30 10:01] GalaxiaGuy commented on #6045
I believe it is not supported in GTK 2:
https://github.com/mono/xwt/issues/386

[2019-04-30 10:40] mclillill commented on #1628
@mathias3d which event fires instead of the tap? we have the same problem. I'd say it happens about every 5th time for me that the the tap is no firing.

[2019-04-30 10:58] Yuvaraj-007 commented on #5992
Hi Team,

Any update on this issue.

Regards,
Yuvaraj C

[2019-04-30 12:02] EmilAlipiev opened #6048 "[Bug] OnPlatform doesnt work with Comma separated values"
### Description

if i want to define padding or margin with multiple values onplatform like below. it doesnt work. I guess that comma is confused with comma between platform definitions.

Padding="{OnPlatform iOS=0,30,0,0, Default=0}"

### Steps to Reproduce

1. define padding on anything like Padding="{OnPlatform iOS=0,30,0,0, Default=0}"
2.
3.

### Expected Behavior

it recognises padding or mar

[2019-04-30 12:58] GalaxiaGuy commented on #6048
Although there probably should be an error, I believe it not working is correct behavior for markup extensions.

Something like: `Padding="{OnPlatform iOS='0,30,0,0', Default=0}"` should work however

[2019-04-30 12:59] xXdRaGoNrIdDeRXx commented on #5747
has there been any update on this issue?

[2019-04-30 13:31] Xonshiz commented on #3513
I faced the similar issue and the fix was to resize the image down to "40x40"px, as suggested by Eduardo. Till we get this issue fixed, we will have to work like it.

[2019-04-30 13:46] GalaxiaGuy commented on #6021
Following the discussion here:
https://github.com/xamarin/Xamarin.Forms/pull/4002

It seems the iOS cell background behavior was left this way intentionally.

[2019-04-30 13:52] cheles commented on #5598
hey @samhouts any updates from your side? let me know if you need further logs

[2019-04-30 13:54] ajuanjojjj commented on #3513
I'm using text sadly so not sure if changing to images now is something my boss would like, specially given that images on the android toolbar will probably look not-so-good.
For now i guess i'm gonna do a DisplayActionSheet attached to a primary ToolBarIcon, to get something similar to android, using a custom renderer, wich is sad giving that this problem started on 2017, although it was way wors

[2019-04-30 13:57] Redth opened #6049 "[Bug] GooglePlayServices AppIndexing is Deprecated and should be replaced with Firebase AppIndexing"
### Description
GooglePlayServices AppIndexing has been deprecated for a bit now and should be replaced with Firebase AppIndexing.  The issue is as users update to newer version of Google Play Services, they will not be compatible with the GPS AppIndexing package that Xamarin.Forms.AppLinks currently depends on.

Here's more information on the migration: https://firebase.google.com/docs/app-indexi

[2019-04-30 15:06] hartez opened #6051 "[Android] CollectionView items retain ripple effect even when unselectable"
### Description

Only affects APIs of Lollipop and up.

Once a CollectionView item has been selected, it retains the ripple tap effect even when selection is no longer enabled.

### Steps to Reproduce

1. In Control Gallery, navigate to CollectionView Gallery -> Selection Galleries -> Selection Mode
2. Change to SelectionMode "Single"
3. Select an item
4. Change to SelectionMode "None". The item s