[2018-01-17 12:12] StephaneDelcroix commented on #1593
`transferDsymFile.bash` is a `Xamarin.iOS` script, unrelated to `Xamarin.Forms`. Please figure where all your `a` went, then file an issue on that project.

[2018-01-17 12:12] #1593 closed

[2018-01-17 12:29] maxvodoo commented on #1588
You are absolutely right, my real problem I was using a custom layout, (WarpLayout) the source is included in the sample but I excluded it for clarity, if I set HorizontalOptions = "Start", I can't resize the StackLayout beyond the requested width when calling LayoutChildIntoBoundingRegion.

[2018-01-17 12:55] ninaada opened #1595 "Localization does not work properly with "Bundle assemblies into native code" option enabled"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Localization does not work properly with "Bundle assemblies into native code" option enabled in release mode. Once the locale is changed, the app picks the default locale strings(English), although the language/locale was changed to, say, spanish/french.

To fully change the strings, we have

[2018-01-17 13:01] PaulVrugt commented on #1563
Does anyone know any workaround for this? This issue really messes up the layout of our apps on android 4.4

[2018-01-17 13:37] mohachouch commented on #1588
I can not find the WrapLayout in the test project could send me an example with the WrapLayout.

[2018-01-17 16:10] StephaneDelcroix commented on #1558
Thanks for this report

Invalid IL is generated for `Person.Age` and `CompiledBindingsViewModel.IsTextEntered` which are both value types. I'll simplify the samples to confirm my hypothesis and work on this as soon as I can

[2018-01-17 17:40] Sivaraman761 opened #1596 "Need to set the Scrollbar always visible"
### Description
We have try to set the horizontal and vertical scrollbar is always visible in view. But currently, the scrollbar is visible only when we scroll the view. But we need to set the scrollbar visibility as true.

We have attached the sample for your reference. Can you please check this and let, us known In case of any concern.

### Steps to Reproduce

1. Run the sample.
2. scroll the vi

[2018-01-17 19:10] adrianknight89 opened #1597 "[Proposal] Allow us to see UI test results when a PR is pushed"
### Description

Running UI tests on different devices, platforms, and API levels before submitting a PR is not possible for most of us, so we can't always know what existing tests we're breaking if any, and we rely on the team members telling us which tests are broken.

![capture](https://user-images.githubusercontent.com/16855542/35061674-91e0cf10-fb87-11e7-8481-bd38acbb7aad.PNG)

Clicking on 'D

[2018-01-17 20:47] tomgilder opened #1598 "Android crash: InvalidCastException when ListView item is tapped under RecycleElement strategy"
_Migrated from https://bugzilla.xamarin.com/show_bug.cgi?id=51648_

### Description

Tapping a ListView item under some situations causes an `InvalidCastException` crash.

Original bug report says "list item", but I've only been able to reproduce it with a header.

The ListView's `ListViewCachingStrategy` must be `RecycleElement` or `RecycleElementAndDataTemplate`, and items must be added to the L

[2018-01-18 00:09] beaubutton commented on #1468
@cklenk Can you elaborate on what the solution was?

[2018-01-18 00:26] ConX-Ryan opened #1599 "Command Binding doesn't work .NET Standard"
### Description
Basic command binding fails when debugging android devices
### Steps to Reproduce

1.  create new master detail template project using .NET standard
2.  install package Microsoft.EntityFrameworkCore.Sqlite and make the work around so you can deploy
3.  navigate to about page and click button

### Expected Behavior
Command function should be called
### Actual Behavior
01-18 13:22:13

[2018-01-18 08:22] StephaneDelcroix commented on #1596
We don't support this at the moment. I guess we could enable it, at least per platform, with PlatformSpecifics.

In the meantime, you might be able to turn it on with an Effect

[2018-01-18 08:24] StephaneDelcroix commented on #1597
@rmarinho is there anything we can do here ?

[2018-01-18 08:29] StephaneDelcroix commented on #1599
Thanks for this report. I have a few questions:
 - how is `Microsoft.EntityFrameworkCore.Sqlite` relevant to this ?
 - could you please attach the simplest possible project that triggers this issue ? (ideally with no des on SF.Sqlite) ?

Thanks

[2018-01-18 09:08] ConX-Ryan commented on #1599
Hi this is triggered when `Microsoft.EntityFrameworkCore.Sqlite` is included and the workaround for the `System.Runtime.CompilerServices.Unsafe` asm is applied so you can deploy to an android device.

Before that the command binding works when deployed after that it is in the buggy state.

[2018-01-18 10:38] JellisHogenbijl opened #1600 "Entry focus issue inside ListView"
### Description
There seems to be a bug when using the focus event of an Entry inside a listview.
I've created a test app that contains a listview with a datatemplate selector.
Some rows will render an Entry that has a focus function, these rows have a blue background. When the Entry is focussed the text is changed to the current datetime.
The other rows are normal Entries that do nothing when foc

[2018-01-18 11:46] JKennedy24 opened #1601 "Exception thrown when `Removing Content Using LayoutCompression"
### Description

When using LayoutCompression on Views. Either removing the View using `Root.Children.Remove(myGrid);` or clearing content `this.Content = null;` throws a "object Refrence not set exception"

### Steps to Reproduce

1. open sample app [lct.zip](https://github.com/xamarin/Xamarin.Forms/files/1642678/lct.zip)

2.  Run app on Android (havent tested other platforms) and press either bu

[2018-01-18 12:14] MichaelRumpler opened #1602 "[UWP] Page.Disappearing is raised on the root page of a NavigationPage"
### Description

The Disappearing event of the root page in a NavigationPage is raised when opening it.

### Steps to Reproduce

1. In App.xaml.cs: MainPage = new NavigationPage(new MainPage());
2. In MainPage.xaml.cs: this.Disappearing += (s, e) => Debug.WriteLine("MainPage Disappearing");

### Expected Behavior

When the app opens, the line "MainPage Disappearing" should NOT be written to the De

[2018-01-18 12:46] StephaneDelcroix opened #1603 "[Bindings] Binding on "." with x:DataType doesn't work"

[2018-01-18 13:27] skarllot opened #1605 "Failed to clone Xamarin.Forms repository"
### Description

The submodule 'Xamarin.Forms.Build' cannot be cloned.

### Steps to Reproduce

1. git clone --recursive https://github.com/xamarin/Xamarin.Forms.git

### Expected Behavior

Should clone without errors.

### Actual Behavior

The submodule repository is not found.

[code]

[2018-01-18 13:46] rob2212 opened #1606 "WCF service integration does not work with Visual Studio 2017 15.5.4"
### Description

When you create a new Xamarin Project in Visual Studio 2017 using .Net Standard libraries, the access to a WCF web service does no longer work. Even the example project by Xamarin does produce the same issue.

### Steps to Reproduce

1. Download the Xamarin example: https://developer.xamarin.com/guides/xamarin-forms/cloud-services/consuming/wcf/
2. Build with Visual Studio 2017 15

[2018-01-18 14:17] JKennedy24 opened #1607 "Visibility Binding ignored on layout when using LayoutCompression"
### Description
I have a layout using layout compression as well as binding to Visibility as seen in the sample here: https://github.com/xamarin/xamarin-forms-samples/blob/master/UserInterface/LayoutCompression/LayoutCompression/Views/LayoutCompressionPage.xaml#L149

in my project like:
       ` <Grid x:Name="myGrid" CompressedLayout.IsHeadless="True" IsVisible="{Binding IsVisible}" Grid.Row="0">`

[2018-01-18 17:43] #1414 closed

[2018-01-18 17:43] #1424 closed

[2018-01-18 18:44] YZahringer opened #1608 "[macOS] NavigationBar of Modal overlap content with FullSizeContentView & TitlebarAppearsTransparent"
### Description
`NavigationBar` of Modal overlap content when `MainWindow.StyleMask |= NSWindowStyle.FullSizeContentView` and `MainWindow.TitlebarAppearsTransparent = true`.

### Steps to Reproduce

1. Set `MainWindow.StyleMask |= NSWindowStyle.FullSizeContentView` and `MainWindow.TitlebarAppearsTransparent = true` on AppDelegate constructor.
2. Call `Navigation.PushModalAsync` with `NavigationPag

[2018-01-18 19:01] davidortinau opened #1609 "FragmentContainer error using Android 8.1 and Support 27.0.2"
### Description
In testing the upcoming 27.0.2 support libraries with Android 8.1, the application crashes.

```can't make objects of type android.support.v4.app.FragmentPagerAdapter: 0x132df2c8```

https://gist.github.com/Redth/2766ece9d75a9247a61adeda625e8b59

### Steps to Reproduce

1. File > New > Xamarin.Forms App (not the blank)
2. Update the project to framework 8.1
3. Update the Android li

[2018-01-18 19:07] hartez commented on #1609
@davidortinau Which version of VS are you using?

[2018-01-18 19:24] jassmith commented on #1606
WCF services are not part of the Xamarin.Forms project. You will need to refile this with the correct project. It looks like you will want to file against the Xamarin.Android https://github.com/xamarin/Xamarin-Android/issues

[2018-01-18 19:24] #1606 closed

[2018-01-18 19:28] hartez commented on #1545
This appears to be a Xamarin.iOS issue - please file an issue at https://github.com/xamarin/xamarin-macios/issues

[2018-01-18 19:28] #1545 closed

[2018-01-18 19:28] jassmith commented on #1542
Did you miss the reproduction link?

[2018-01-18 19:32] StephaneDelcroix commented on #1607
That's expected at this time.

by setting `IsHeadless="true"`, you're bypassing the usual layout code.

marking this as an enhancement

[2018-01-18 19:45] rmarinho commented on #1597
Sorry nothing we can do here, we could basically add a comment with the failed issues but there's no way to add a guest view to VSTS or to TestCloud.

The Details link takes you to the build on VSTS

[2018-01-18 19:45] #1597 closed

[2018-01-18 20:26] pauldipietro commented on #1526
The referred to project is rather out of date. Can you please upload a new, minimized reproduction we can run with screenshots that better illustrate the expected/actual behavior?

[2018-01-18 21:05] hartez commented on #1562
@Ajaysinh4377 I think the URL for your repo is incorrect.

[2018-01-18 21:42] pauldipietro commented on #1523
It seems as if I can reproduce the behavior in question, Will assign to Stephane to look at more closely.

[2018-01-18 21:44] j4m3z0r opened #1610 "Picker only opens when clicking on the arrow, not anywhere else [Mac]"
### Description

I have added a Picker to my Xamarin.Forms Mac application, and the only way to get it to open is to click on the small blue square at the right end of it. Clicking on the white region that contains the current selection will not open the Picker. I also can't see a method to have it open programmatically, so I can't solve this by triggering that method on a GestureRecognizer

### S

[2018-01-18 21:51] jgold6 opened #1611 "[iOS] When dynamically creating a container and putting the current page content into a child of the new container, current page controls become unresponive"
### Description
From person who reported the issue to me:
"I was trying to dynamically create a grid and add the current content on the page inside the just created grid and then update the page content to be the grid.
Visually it works fine, but if I try to interact with the controls, none of them are responsive to any click/touch

Here is a sample code of what I am doing:

    var grid = new Gri

[2018-01-18 22:01] j4m3z0r opened #1612 "No way to do hardware accelerated graphics on UWP"
### Description

At present there is no way to do OpenGL or DirectX on Xamarin.Forms UWP applications, though there is on the various mobile platforms, and it looks like Xamarin.Forms.Mac has a WIP OpenGLView.

### Steps to Reproduce

1. Try to create a Xamarin.Forms UWP application with hardware accelerated 3D graphics
2. Fail.

### Expected Behavior

My understanding is that UWP does not have na

[2018-01-18 22:14] j4m3z0r opened #1613 "OpenGLView does not expose raw mouse / touch events"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

When building apps that use an OpenGLView to display 3D graphics, etc, the code producing those 3D graphics will typically have its own system for handling user interactions, which often won't map neatly to GestureRecognizers.

Please provide a way to get access to the raw mouse / touch eve

[2018-01-18 22:22] erdennis13 opened #1614 "iOS Picker, DatePicker & TimePicker hide InputAccessoryView when changing from Portrait to Landscape"
### Description

iOS 11 introduced a change to the way the InputView and InputAccessoryView content is displayed. When a Toolbar is used as a InputAccessoryView, the Toolbar (and button) gets hidden in landscape mode.

### Steps to Reproduce

1. Add a Picker, DatePicker or TimePicker to a ContentPage
2. Click the Picker and wait for the keyboard to become visible.
3. Change device orientation from

[2018-01-18 22:26] j4m3z0r opened #1615 "Add NSCollectionView Equivalent"
### Description

I think essentially all platforms now provide some equivalent of the NSCollectionView -- a grid of items (think photo thumbnails), and this is a pretty important control for all manner of apps. Charles Petzold's Xamarin.Forms book outlines a solution in [Chapter 26](https://xamarin.azureedge.net/developer/xamarin-forms-book/XamarinFormsBook-Ch26-Apr2016.pdf) using a custom layout

[2018-01-18 22:39] gugavaro commented on #1611
Thank you so much @jgold6 for getting this issue logged.

[2018-01-19 02:02] alistair23 commented on #1439
Which nightly version? I just tried the latest 2.5.1 nightly and it doesn't seem to be fixed. I tried the 2.6.1 nightly as well, but I hit a few compile issues.

[2018-01-19 08:35] JKennedy24 commented on #1607
@StephaneDelcroix Thanks for clarifying. In that case the `LayoutCompresion` sample is incorrect and probably needs rectifying, or a couple of pointers added to the documentation IMO

[2018-01-19 11:44] bugadani commented on #1558
I had issues with compiled bindings for ever so I downloaded the attached sample to try. It builds, but Visual Studio 15.5.4 doesn't recognize x:DataType at all (Cannot resolve symbol DataType). This is one of the issues I had on my own project, too. The other is, that using x:DataType, my project won't compile at all (Object reference not set error on the XAML containing the DataType). What could

[2018-01-19 12:21] gayko1976 opened #1618 "Bug 59896 - v2.4.0: Adding inserting section to ListView causes crash IF first section is empty"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
This is still not fixed with 2.5.0 Service Release 3 from https://github.com/xamarin/Xamarin.Forms/releases/tag/release-2.5.0-sr3
as mentioned here https://bugzilla.xamarin.com/show_bug.cgi?id=59896#c37

PLEASE DO FIX THIS IMMEDIATELY!

THANK YOU SO MUCH!

[2018-01-19 13:46] ShakAttacked opened #1619 "xamarin forms Picker selects the wrong value"
### Description
Xamarin forms Picker select the wrong value on Done.  (this is not about speed as in other reported bugs).

### Steps to Reproduce
On iOS device/simulator

There are 2 scenarios to reproduce this issue, both are based on bad index being selected.

Steps: (use Picker Demo https://developer.xamarin.com/samples/xamarin-forms/UserInterface/PickerDemo/)

Scenario 1:
- click on picker
-

[2018-01-19 14:51] bugadani commented on #1558
I will try to distill my project to be manageable and if my issue remains, I'll do so. Thanks.

[2018-01-19 15:07] pauldipietro commented on #1618
Already filed as #1333. Please upload any reproductions you might have, and also make certain to fully fill out the report template if possible.

[2018-01-19 15:07] #1618 closed

[2018-01-19 15:10] ShakAttacked commented on #1619
Solution: Restart your emulator (wasted so much time, hope this helps others)
Question: Why did it happen? Is it an iOS emulator issue or a Xamarin issue?

[2018-01-19 15:49] davidortinau commented on #1609
@hartez VS Mac 7.4, Alpha channel

https://gist.github.com/davidortinau/aeaec4fa2b6d50590fdf5773203f5a74

[2018-01-19 17:24] andreinitescu opened #1620 "[Proposal] Add OnApplyTemplate virtual method to TemplatedView"
### Description

Add a virtual metod `OnApplyTemplate()` to `TemplateView` class, so that `TemplateView` derived classes (custom templated controls) know when template was realized into a control and its inner children can be found.

### API Changes
[code]

Probably another API is needed to find children from template, something like `GetTemplateChild(string name)`: https://msdn.microsoft.com/en-u

[2018-01-19 17:30] andreinitescu commented on #1620
I could look into this if I get a real green light

[2018-01-19 21:21] kpronz commented on #1435
Hello.  I am experiencing the same issue in Xamarin Forms 2.5.0.122203.

[2018-01-19 21:42] mattrichnz commented on #1450
@tekinc Which platform do you need it for? Just waiting on Xamarin team to approve so I can put up a PR for this.

[2018-01-19 21:43] skarllot commented on #1605
Why not remove the submodule then?

[2018-01-19 21:50] rmarinho commented on #1605
we need it for our CI

[2018-01-19 22:04] BioTurboNick opened #1622 "Adding sound resource to Android project leads to NullReferenceException on LoadApplication()"
### Description
Adding sound resource to Android project as described in (https://developer.xamarin.com/recipes/android/media/audio/play_audio/) leads to NullReferenceException on LoadApplication().
(unclear if it has to be a sound file, but that's what I was using)

### Steps to Reproduce

0. Make a new Xamarin Cross-platform project (.Net Standard, Forms, Android project only)
1. Add a sound fil

[2018-01-19 22:40] hartez commented on #1622
@BioTurboNick What's the name of the `.m4a` file? (I ask because Android resource generation restricts the valid characters in a resource name.)

[2018-01-19 22:45] rmarinho commented on #1435
i think i found the issue https://github.com/xamarin/Xamarin.Forms/pull/1569

[2018-01-19 22:58] BioTurboNick commented on #1622
"dial_click.m4a" The Resource.Designer.cs generated correctly (AFAICT). I removed the underscore though and it still crashes.

[2018-01-19 23:29] charlesroddie opened #1623 "[UWP] Xamarin.Forms.Device.StartTimer is inaccurate"
### Description

`Xamarin.Forms.Device.StartTimer(interval...)`, at least on UWP, is linked to screen refresh rate, takes longer than `interval` to fire, and has a minimum time to fire of 2 frames.

This obviously makes it unusable as a method for displaying smooth graphics, as in the suggested code [here](https://forums.xamarin.com/discussion/100569/how-to-animate-a-simple-smooth-rotation,) which

[2018-01-19 23:39] maxvodoo commented on #1588
very sorry for the late response, i attached a new solution includes WarpLayout and a UWP project for comparison
[TestUi.zip](https://github.com/xamarin/Xamarin.Forms/files/1648244/TestUi.zip)

[2018-01-19 23:54] charlesroddie commented on #1623
Based on previous informal testing, I believe this issue either does not exist or is less serious on Android and iOS.

It is possible this issue is also linked to [choppy animations on UWP](https://forums.xamarin.com/discussion/comment/266814#Comment_266748).

[2018-01-20 00:02] charlesroddie commented on #1623
Workaround: setting `interval = TimeSpan.Zero` is equivalent to 1 frame on Windows so can be used to match screen fps.

[2018-01-20 00:47] charlesroddie commented on #1623
I have not been able to test System.Threading.Timer yet, but if that works correctly then this issue could be resolved by just depreciating Xamarin.Forms.Device.StartTimer, since System.Threading.Timer is in .Net Standard 2.0.

[2018-01-20 05:38] dansiegel opened #1624 "Add FromStream to StyleSheet"
### Description

It would be great if we had a  `FromStream` factory method added to the new StyleSheet. This would simplify adding a StyleSheet that we may be reading locally or downloading from the web.

### Expected Behavior

[code]

### Actual Behavior

[code]

### Basic Information

- Version with issue: vNext

[2018-01-20 09:55] grammatn commented on #1542
how could a provide a reproduction link? What should this link opens?

[2018-01-20 11:36] mohachouch commented on #1588
I will analyze the bug.

You can replace the HorizontalOptions value with Start to get the same result as on UWP.

I know it's not a real solution but it can help you at first

[2018-01-20 12:50] albru123 opened #1625 "[Android] Slider value is not changed for the first position change"
### Description
Slider value is not changed for the first time its position is changed and `ValueChanged` event is not fired either.
I've been able to confirm this issue on Android. This bug is not present on UWP. Untested on iOS.
This bug has been already reported to Bugzilla [here](https://bugzilla.xamarin.com/show_bug.cgi?id=54887) and the thread points out that it might be linked with commit e

[2018-01-20 12:59] devandel commented on #1527
I'm having the same issue with VS 15.5.4 & Xamarin.Forms 2.5.0.122203 with a .NET Standard project. No event handlers are being generated.

The way to reproduce this is to create a new Cross-Platform Project targeting Android & iOS, select Xamarin.Forms and .NET Standard.

Expected behaviour:

<Button Clicked="" will offer to create an event handler

Actual behaviour:

No suggestion appears. In fa

[2018-01-20 21:01] albru123 commented on #1625
Sorry for mystification, the commit responsible for this bug is under `Xamarin.Forms.Platform.Android`, so that's why I wasn't able to reproduce it under UWP. That means this issue is only relevant to Android, feel free to tag it accordingly.

[2018-01-20 22:49] Pinox opened #1626 "XF - System.Runtime.CompilerServices.Unsafe"
Getting the following error on many of my projects when trying to upgrade to XF using .net Standard 2 (latest version of XF)

"Could not load assembly 'System.Runtime.CompilerServices.Unsafe' during startup registration."

The easiest way to check error is using stock standard XF Blank template and adding nuget Microsoft.EntityFrameworkCore 2.0.1.   Build and run the app on Oreo (Android 8) and th

[2018-01-21 02:39] BioTurboNick commented on #1622
For comparison, adding a sound as an Asset with build action AndroidAsset as described here (https://blog.xamarin.com/adding-sound-xamarin-forms-app/) works.

[2018-01-21 05:12] HazyFish opened #1627 "TabbedPage with NavigationPage doesn't behave well on UWP"
### Description
When placing a NavigationPage into a TabbedPage, I want to hide the Navigation Bar which appears at the top. However, setting the NavigationPage.HasNavigationBar property to false doesn't work on UWP.

### Steps to Reproduce

1. Create a Tabbed Page with a Navigation Page inside;
2. Set the NavigationPage.HasNavigationBar to false for the NavigationPage;
3. Run the UWP App;
4. Clic

[2018-01-21 14:55] mathias3d opened #1628 "[Android] TapGestureRecognizer do not fire the tapped event on "normal" tap/click."
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
On Android the TapGestureRecognizer do not fire the tapped event on "normal" tap/click.
The finger is always sliding a little over the screen when you are tapping it, the TapGestureRecognizer have a very small "sliding"-tolerance. This makes the TapGestureRecognizer to only fire a tapped eve

[2018-01-21 17:04] kntiwary commented on #1435
@rmarinho  Is it fixed?

[2018-01-21 17:44] pauldipietro commented on #1627
Duplicate of #1437

[2018-01-21 17:44] #1627 closed

[2018-01-21 20:29] johnpudd commented on #1475
Same here with VS2017 v15.5.2 and Xamarin.Forms v2.5.0.122203.
Going to try updating VS now, will report back if any news!

[2018-01-22 09:05] StephaneDelcroix commented on #1624
Downloading part of your UI from the web is a terrible idea in any mobile application.

[2018-01-22 09:05] #1624 closed

[2018-01-22 10:25] StephaneDelcroix commented on #1623
All timers are inaccurate, and the interval is always the minimal guaranteed interval. But I agree that in this case, it's off by a wide margin for precise high-frequency timing.

deprecating it, in favor of `System.Threading.Timer` is probably the right thing to do...

[2018-01-22 10:34] StephaneDelcroix commented on #1611
at some point in your sample, `this.Content` is present as children of 2 collections. I guess this causes that.

[2018-01-22 10:48] StephaneDelcroix commented on #1619
I'd say an emulator issue

[2018-01-22 10:49] #1619 closed

[2018-01-22 10:51] StephaneDelcroix commented on #1622
As, per step 0, you can trigger this issue on projects not involving Xamarin.Forms, please file this issue against Xamarin Android project.

[2018-01-22 12:15] mathias3d commented on #1628
Related to this maybe?
https://github.com/xamarin/Xamarin.Forms/issues/1374

[2018-01-22 14:30] StephaneDelcroix commented on #1626
I wasn't able to reproduce this issue. Could you please attach your sample project ?

Thx

[2018-01-22 14:31] StephaneDelcroix commented on #1626
this is probably related to #1599

[2018-01-22 14:36] #1581 closed

[2018-01-22 14:36] StephaneDelcroix commented on #1587
Please attach your sample project so we can investigate

[2018-01-22 14:44] gugavaro commented on #1611
Hi @StephaneDelcroix , you are right on!!!
As a work around I tried to do the following:

var grid = new Grid
{
      RowSpacing = 0,
      RowDefinitions =
    {
           new RowDefinition { Height= new GridLength (1, GridUnitType.Star) },
           new RowDefinition { Height = new GridLength (1, GridUnitType.Auto) }
    }
};

**var tempContent = this.Content;
this.Content = null;**

this.page

[2018-01-22 14:55] BioTurboNick commented on #1622
@StephaneDelcroix

That is not what step 0 says. It is occurring in LoadApplication(new App()), which is Xamarin.Forms code. Please reopen this issue.

[2018-01-22 14:57] StephaneDelcroix commented on #1622
I read it wrong. Please attach a small reproduction project.

[2018-01-22 15:45] kvpt commented on #1626
It's a Xamarin Android specific issue, see xamarin/xamarin-android#1196.

[2018-01-22 15:49] #1626 closed

[2018-01-22 15:49] StephaneDelcroix commented on #1626
closing, then

[2018-01-22 15:50] StephaneDelcroix commented on #1599
see also https://github.com/xamarin/xamarin-android/issues/1196

(probably not XF related)

[2018-01-22 18:19] YZahringer opened #1630 "[macOS] WebView Navigated & Navigating events not raised"
### Description
`Navigated` & `Navigating` events of WebView are not raised on Xamarin.Forms.Mac.

### Steps to Reproduce
1. Add `WebView` to `ContentPage`
2. Subscribe to `Navigated` & `Navigating` events

### Basic Information

- Version with issue: Xamarin.Forms 2.5.0.122203
- IDE: Visual Studio for Mac 7.3.3 (build 5)
- Platform Target Frameworks:
  - macOS: 10.13.2

[2018-01-22 19:23] ConX-Ryan commented on #1599
Hey Stephane that workaround has the old style project not the new style and isn't a .NET standard project.

I cant see how this can be closed if the .NET Standard code share method is broken

[2018-01-22 20:10] izzyco opened #1631 "Transparent ToolbarItem after moving back from page iOS Only"
### Description
ToolbarItem looks transparent after navigation back from a page. The item is still clickable but looks like the style is changed. This issue only appears on iOS. Similar to issue 1608.

### Steps to Reproduce
"If you create a simple 2 page navigation app. First page adds a toolbar button when clicked does a Navigation.PushAsync to the second page. When coming back to the first page

[2018-01-22 21:26] Pinox commented on #1626
Sorry for the late reply.  plse find attached the repo. Have tried everything on my side to get it working , my summary so far is XF does not support .net standard 2. Not the new file format anyway.

I see no reason why this project should not run on an emulator and I have tried them all.
All emulators give me the same error.

Can someone plse confirm my result, running out of ideas on my side ;)

[2018-01-22 22:45] BioTurboNick commented on #1622
Reproduction project:

[AndroidResourceBug.zip](https://github.com/xamarin/Xamarin.Forms/files/1653836/AndroidResourceBug.zip)

[2018-01-22 22:46] dansiegel commented on #1624
@StephaneDelcroix I can appreciate your opinion on that... but that's one of a few scenarios... I recognize there is a method for pulling an embedded resource but again if I'm doing that, I'm working directly with a stream... if I'm reading it in from the filesystem again I'm working first with a stream. Stream is IMHO a better choice for the API than FromReader which first required the stream any

[2018-01-22 22:58] jassmith opened #1632 "[Enhancement] Label underline/strikethrough support"
## Rationale

The label currently has no easy mechanism of being underlined. Sometimes applications need the ability to underline text without using an Effect.

## Implementation

Modify the FontAttributes enum to be as follows:

[code]

Renderers and Span parsers will need to understand how to use the new underline and strikethrough flags appropriately.

## Expected Result

On all the platforms t

[2018-01-23 00:34] jsbakker opened #1633 "ListView highlight still visible after SelectedItem = null when ListView hosted inside NavigationPage as Detail of MasterDetailPage on UWP"
### Description

When you have an application with hierarchical navigation (e.g. browse folder or tree structure), there are issues when popping off the Navigation stack. I am using MasterDetailPage as the root Page, and NavigationPage as the Detail Page which is hosting a stack of Pages containing ListViews.

I only started experiencing this after updating from Xamrin.Forms 2.3.2 to 2.5.0. It was

[2018-01-23 10:42] BlackRamsis opened #1635 "[iOS] iPad Pro 10.5 inch Swipe not working on webview"
### Description

Hy, I'm using the carousel view from https://github.com/alexrainman which should be included in Xamarin Forms Version 3.

I have only webviews in my carousel. Only on iPad Pro 10.5 inch i can't swipe right. I'm able to swipe left, but the swipe to right gets not recognized.

The problem is not in the control, cause the swipe seems not to arrive there and
the problem only exist wit

[2018-01-23 11:01] marciosouzajunior commented on #1439
Works good in nightly 2.6.0.108998

[2018-01-23 11:54] davidbritch opened #1636 "Desktop support: Setting MenuItem.IsEnabled has no effect (macOS)"
### Description

On macOS, setting MenuItem.IsEnabled to false (from XAML) does not disable the context menu item.

### Steps to Reproduce

1. Run the attached sample and browse to the Context Menu page.
2. Right-click the black BoxView and select the Red context menu item.

AND

1. Run the attached sample and browse to the Menus page.
2. From the application menu select the File > Open menu item

[2018-01-23 12:12] davidbritch opened #1637 "Desktop support: MenuItem.Command binding doesn't work (macOS)"
### Description

On macOS, when binding from MenuItem.Command to an ICommand implementation (in both XAML and C#), the binding doesn't seem to work. Both the Execute and CanExecute delegates are never executed.

### Steps to Reproduce

(XAML)
1. Run the attached sample and navigate to the context menu page.
2. Right-click the BoxView and select a color.

(C#)
1. Edit App.xaml.cs in the attached sa

[2018-01-23 12:29] davidbritch opened #1638 "Desktop support: MenuItem.Command CanExecute delegate not visually respected (macOS)"
### Description

On macOS, when directly setting MenuItem.Command to an ICommand implementation (i.e. without a binding), that has both Execute and CanExecute delegates, while the CanExecute delegate always executes, it's returned value is not *visually* respected by the MenuItem. Therefore, when a CanExecute delegate returns false, the MenuItem's Execute delegate won't be invoked but the MenuItem

[2018-01-23 12:40] davidbritch opened #1639 "Desktop support: Can't set MenuItem Accelerator to + (macOS)"
### Description

Setting a MenuItem Accelerator to + throws an ArgumentNullException on macOS. + is the standard accelerator for zoom in.

### Steps to Reproduce

1. Run the attached sample.

### Expected Behavior

The sample runs and on the application menu the Zoom In menu item has an accelerator of +.

### Actual Behavior

The sample throws an ArgumentNullException. Removing the + accelerator (

[2018-01-23 13:20] KSemenenko opened #1640 "[Xamarin.Forms..Xaml] Error in xFactoryMethod Name"
I found a typo in the code.
https://github.com/xamarin/Xamarin.Forms/blob/a7d12e620c9394aa7b6327a24884bce74ab637c4/Xamarin.Forms.Xaml/XmlName.cs#L13
as you can see, you probably need to do this:

[code]

[2018-01-23 13:53] StephaneDelcroix commented on #1640
thanks for the report. it might looks like a typo, or a bug, but it's nothing but a naming inconsistency. the actual content of that XmlName is never used, so it could be anything

[2018-01-23 14:20] davidbritch opened #1641 "Desktop support: Can't set MenuItem.Icon with an image from an asset catalog (macOS)"
### Description

On macOS, attempting to set MenuItem.Icon from an image stored in an asset catalog results in an Exception (System.Exception) being thrown.

### Steps to Reproduce

1. Run the attached sample.

### Expected Behavior

The sample runs and you are able to browse to the context menu page (XAML) where color icons appear on the context menu.

### Actual Behavior

A System.Exception is t

[2018-01-23 14:46] StephaneDelcroix commented on #1640
fixed anyway

[2018-01-23 14:56] mattallscripts opened #1643 "Add an Underline flag to FontAttributes t/enhancement"
Duplicate of #1632

### Description

In Xamarin Forms add a Underline flag to the FontAttributes enum. This would be accessible and used for the FontAttributes property of Labels, and Spans (for FormattedString).

### Actual Behavior

There is no built-in underline functionality in Xamarin.Forms.

### Basic Information

- Latest date with issue: January 2018

### UserVoice Link

https://xamarin.us

[2018-01-23 15:17] pauldipietro commented on #1643
Duplicate of #1632

[2018-01-23 15:17] #1643 closed

[2018-01-23 15:29] pauldipietro commented on #1635
I would report this on the PR (#853) as the feature has not yet been merged in.

[2018-01-23 15:29] #1635 closed

[2018-01-23 15:37] #1640 closed

[2018-01-23 22:39] BradChase2011 commented on #1610
My understanding is that is the correct native way in macOS.  I thought about the ability to click into the white as well but the control also can be editable.  I know that is not supported under Xamarin.Forms but that is my understanding of why Apple does it that way.

[2018-01-23 23:44] kingces95 commented on #1439
Yep, works on latest nightly. @alistair23 did you update your legacy PCL projects to .NET 2.0 projects before upgrading the nuget packages?

[2018-01-23 23:53] j4m3z0r commented on #1610
So I wasn't able to find any examples of Apple applications that exhibit that behavior. It's true that if the drop-down is editable then clicking on the edit box won't drop down, but all the non-editable drop-downs I found could be activated by clicking anywhere inside them.

Apple's [Human Interface Guidelines](https://developer.apple.com/library/content/documentation//UserExperience/Conceptual/O

[2018-01-24 00:06] alistair23 commented on #1439
The latest 2.6 nightly @kingces95?  I did see compilation errors mentioning I had to use .NET standard 2.0. .NET Standard 2.0 doesn't work on older versions of Windows though, so I can't use that. Maybe I can try .NET standard 1.4 and see if that works. I was hoping to be able to use XF2.5.

[2018-01-24 00:14] kingces95 commented on #1439
@alistair23 Some platforms that do not support .NET Standard 2.0 will no longer be supported with XF2.5. What platform are you trying to use that won't work on .NET Standard 2.0?

[2018-01-24 00:15] alistair23 commented on #1439
I'm trying to run on all Windows 10 versions, including Windows 10 Mobile. At the moment the latest XF2.5 release works, it just had this bug.

[2018-01-24 00:20] r-a-y-w commented on #1439
For us WinRT and UWP is important. I hope at least that if it won’t work, a cherry-pick and an older release will be made for just this bug.

[2018-01-24 00:24] alistair23 commented on #1439
The fix is in master, which isn't that far ahead of the latest tagged 2.5 release (release-2.5.0-sr3). It doesn't seem that hard to cut another 2.5 release with the fix. I can't figure out what the 2.5.1 or 2.6 nighties are being built from though, so it's hard to say.

[2018-01-24 00:26] r-a-y-w commented on #1439
PS: I’ve seen commits removing older Windows support but no official response nor any deprecation/breaking change info on any roadmap, so I assumed those breaking changes wouldn’t be merged into the release branch yet.

[2018-01-24 00:33] alistair23 commented on #1439
Ah, that is tougher. I see the commit removing Windows 8.1 support in the 2.4 and 2.5 releases.

[2018-01-24 00:40] r-a-y-w commented on #1439
That sucks! Was it ever mentioned anywhere that it’d break? The latest 2.5 release seemed to work fine except for this bug, which is why we couldn’t make a new release and why I spent time helping to get it fixed. I’m sure they can make an old 2.5.0.1 release with a cherry-pick, or not? It sort of makes the effort of the last realeases for anyone using a grouped list on Windows pointless. I hope i

[2018-01-24 00:44] BradChase2011 commented on #1610
Ahh ok, that's where the discrepancy is.  The control used is the NSCombobox not the pop-up.  So I think your asking if it can be switched over?  Otherwise custom code will need to be put in to have what your asking done to the combo.

[2018-01-24 00:51] BradChase2011 commented on #1610
Just to note "Don’t extend the right edge of the list beyond the right edge of the arrow box" annoys the crap out of me currently.  So I would second switching out the control.  On the other side, are there performance hits or issues with scrolling if the list is too long?

[2018-01-24 00:52] j4m3z0r commented on #1610
Ah, I see. So yeah, I'd argue that NSComboBox isn't appropriate here, since my understanding is that the Picker class doesn't expose a way to edit the text in the selected item.

I'm not an expert at AppKit, but it looks like NSPopUpButton is probably the right option.

[2018-01-24 00:55] j4m3z0r commented on #1610
WRT scalability, I note that NSComboBox uses a dataSource, and NSPopUpButton does not. NSPopUpButton seems to defer all that to NSMenu. So I suppose there's some possibility that it may not scale as well, but I'm yet to encounter a prohibitively slow drop-down menu on my Mac. It seems like an acceptable trade-off for getting a UI that is consistent with other Mac apps.

[2018-01-24 00:58] BradChase2011 commented on #1610
I have to check in a bunch of fixes for macOS still.  Should have time later this week.  I can fix up a renderer for it if you want to check that out in the interim and maybe we can get some feedback on what to do going forward with it.

[2018-01-24 01:00] j4m3z0r commented on #1610
If it's not too complicated for me to try out (eg: a myget link or something), I'm happy to give it a go and let you know what I think. LMK, and thanks for looking into this.

[2018-01-24 03:28] BioTurboNick commented on #1622
Another observation: installing the NuGet package XFShapeView, which amends Resource.Designer.cs, also causes this crash.

[2018-01-24 03:32] davidortinau commented on #1439
The roadmap has reflected the Win 8.1, 8.0 removal for nearly 6 months if memory serves. Current version https://github.com/xamarin/Xamarin.Forms/wiki/Feature-Roadmap

Official support ended July 2017 for most of that. You can find it on different Microsoft sites.

Our vNext (master) release is yet a ways off, and we will be shipping addition bug fix releases on the vCurrent release branch. So it

[2018-01-24 04:04] ahmedalejo commented on #1632
I think it´s relevant to mention that the most common reason of underline a text is to emphasize that it is a hyperlink. When i implemented underline on forms label spans, it was to make it **tappable**.

So while giving this a shot, next step would be tappable spans. Just as a foot note

[2018-01-24 04:09] andreinitescu commented on #1632
@ahmedalejo What you want is a button, not a label. If the primary reason why everyone wants underline is because of links, this new feature should be added to Button, not Label

[2018-01-24 04:18] alistair23 commented on #1439
Is the vCurrent branch visible? I'd be happy to help with the back porting effort.

[2018-01-24 04:31] ahmedalejo commented on #1632
@andreinitescu nope, Think of a laebel with multiline text whereby you have "**@andreinitescu**" in it or url which you want to decorate accordingly

[2018-01-24 04:35] mattallscripts commented on #1632
We need this feature for underlying a portion of a label. Specifically we have a label showing the blood pressure of a patient, if either the systolic or diastolic portion of the label are out-of-range, then that value string needs to show up red and underlined. Our use-case is an example where underlining is needed other than for purposes of a link or tappable span.

On Jan 23, 2018, at 11:32 PM,

[2018-01-24 04:41] ahmedalejo commented on #1632
@mattallscripts  thanks for providing other use case whereby hyperlinking isn´t the case.

Come to think of it, in Github the hyperlinks are emphasized without the aid of underlines.
I guess **tappable Span** is another feature request, thank for the fast brainstorm.

[2018-01-24 05:11] andreinitescu commented on #1632
@ahmedalejo in the examples you give, you would have same issues with Label, because you want only a part of the text to be tappable, not all the Label.

[2018-01-24 09:11] Ofaim opened #1644 "[Android] Tabs navigation fault after removing a tab"
Hey all!
I was struggling with that issue for a few months now.
If you have any idea how to **manipulate around this bug** (until it'll be fixed), PLEASE SHARE!

### Description
Tab was added on runtime. When navigating to another tab, the added tab is removed (using `RemoveAt()` command).
Depending the method of navigation to another tab, the issue appear\not (see "Actual Behavior").

### Steps t

[2018-01-24 09:40] Ajaysinh4377 commented on #1562
resolved after adding below line in APP.XAML.CS file.

 `Windows.Services.Maps.MapService.ServiceToken = "bingMap Key";`

[2018-01-24 09:40] #1562 closed

[2018-01-24 10:35] rmarinho commented on #1602
Fixed by #1634

[2018-01-24 10:35] #1602 closed

[2018-01-24 11:41] paleicikas commented on #1518
Related (XF 2.5.0.122203, Android):

<pre>java.lang.RuntimeException: Unable to resume activity {xxx/md5f15cbca6eb98718c6f5cbf4f37c1c42e.MainActivity}: java.lang.IllegalArgumentException: No view found for id 0x1 (unknown) for fragment FragmentContainer{4b396b1 #0 id=0x1}
  at android.app.ActivityThread.performResumeActivity(ActivityThread.java:3586)
  at android.app.ActivityThread.handleResumeAct

[2018-01-24 12:45] paleicikas opened #1646 "Android OnDetachedFromWindow bug"
### Description

Android application **randomly** crashes before when user kills application.

### Steps to Reproduce

1. Open MasterDetailed page application
2. Force to kill an application proceess

### Expected Behavior

Application should kill, do not trigger an error before kill

### Actual Behavior
Application triggers an error: [NotSupportedException] Unable to activate instance of type Xam

[2018-01-24 12:49] StephaneDelcroix opened #1647 "Support binding to attached BP"
The current Binding system doesn't allow to use an attached bindable property as binding source, like in
[code]

Of course, it can be combined as part of a complex path
[code]

If the attached BP owner type is not in the default xmlns, the type has to be prefixed
[code]
For this reason, this syntax is restricted to xaml only.

Challenges:
 - attach changed handlers to attached BPs
 - keep the curr

[2018-01-24 14:38] TiBall opened #1648 "MasterDetailPage throws ArgumentOutOfRangeException"
### Description
When adding a MasterDetailPage inside a NavigationPage, it throws an Exception upon loading

### Steps to Reproduce
Start the modified version of the official example at:
https://github.com/TiBall/xamarin-forms-samples/tree/MasterDetailNavigationException/Navigation/MasterDetailPage

### Expected Behavior
MasterDetailPage renders with no Exception

### Actual Behavior
Application t

[2018-01-24 16:47] igorfel commented on #1609
@davidortinau i've been facing the same problem, as a work around i've switched to stable channel and now it's working just fine. I'm using windows, i don't know if this will help on mac

[2018-01-24 18:30] kvpt commented on #1646
I encountered this issue too.
This error is quite random but is always related to the dispose process.
I think it's related to some sort of race condition.

The cause of the issue in described in the Xamarin Android documentation [here](https://developer.xamarin.com/guides/android/under_the_hood/architecture/#Premature_Dispose_Calls).

Certain parts of the framework have specific constructor to ha

[2018-01-24 19:38] YZahringer opened #1650 "[macOS] Completed event of Entry raised on Tab key"
### Description
`Completed` event of `Entry` is raised on `Tab` key when Text is not empty.

### Steps to Reproduce

1. Add `Entry` on `ContentPage`
2. Subscribe to `Completed` event
3. Launch app
4. Enter text and press `Tab` key

### Expected Behavior
`Completed` event only raised when `Enter` key pressed.

### Actual Behavior
`Completed` event raised when lost focus i think.

### Basic Informat

[2018-01-24 20:04] Paul-Brenner-Tangoe opened #1651 "[iOS] Device.OpenUri does not use AbsoluteUri anymore"
### Description

migrated from https://bugzilla.xamarin.com/show_bug.cgi?id=60691

I'm loading a phone number with Device.OpenUri, in commit [72699e34b2f4b3e8a939eebe03240ca7511b50e7](https://github.com/xamarin/Xamarin.Forms/commit/72699e34b2f4b3e8a939eebe03240ca7511b50e7#diff-9473374f7bd43cfcfc1edd0566fbda94) the way URLs are loaded was changed.

It used to do

`UIApplication.SharedApplication.Op

[2018-01-24 20:25] paleicikas commented on #1646
Add "missing" constructor, I think, is not a solution as it hides real problem: object disposed before its method/property used

[2018-01-24 20:44] kvpt commented on #1646
I'm agree with you that this solution seem to be not an ideal solution.
But the problem is that the "JVM/Java side" call an object which has been disposed by the "Mono/C# side".

Is it a problem and is it possible to prevent that, I don't know ?
A developer from the Xamarin team may be able to answer this question.

[2018-01-24 22:19] charlesroddie commented on #1623
The Xamarin Forms code looks OK:
[code]
There are apparently threading advantages of DispatcherTimer comapred to System.Threading.Timer. The problem may be that [thread scheduling has a granularity of 50ms](https://stackoverflow.com/questions/31237266/how-to-control-frame-rate-in-wpf-by-using-dispatcher-timer-accurately) . This suggests that the slowness of the timer is a Windows issue affecting a

[2018-01-24 23:41] samhouts opened #1652 "Expose BindableObject.GetIsDefault"
## Summary
`BindableObject.GetIsDefault` checks whether the value of a bindable object has been set and whether it is the default value, taking into consideration a Default Value Creator. This API is currently internal, so we can't use it in renderers.

## API Changes

- `public bool BindableObject.IsSet` --> calls `BindableObject.GetIsDefault`

## Intended Use Case
It would be useful in cases suc

[2018-01-25 03:34] davidortinau opened #1653 "[UWP] StyleSheet Source runtime error"
### Description
Added a stylesheet and at runtime on UWP I get the error below.

### Steps to Reproduce

1. New project, .NET Standard library
2. Add css file and set build type to embedded resource
3. Add some css
4. Add to MainPage.xaml (or other)

[code]

Main.css:
[code]

### Expected Behavior
I see an orange bg.

### Actual Behavior
Runtime error.

[code]

### Basic Information

- Version wit

[2018-01-25 03:37] davidortinau commented on #1653
Confirmed it works on Android in this same solution fwiw.

Inline css worked on UWP.

[code]

[2018-01-25 04:48] knocte opened #1654 "NullReferenceException in Platform.MacOS.FormsApplicationDelegate.UpdateMainMenu()"
### Description
Following this guide https://blog.xamarin.com/preview-bringing-macos-to-xamarin-forms/ I created a MacOS assembly to run my Xamarin.Forms app in this platform. But trying to run the result gives a NullReferenceException, see below.

### Steps to Reproduce

1. Have a Xamarin.Forms app.
2. Add Cocoa(macOS) app, my AppDelegate class is:
[code]
(My app is opensource, so for reference t

[2018-01-25 06:32] franzdevel opened #1655 "[iOS] Wrong behaviour when rapidly tapping multiple cells in TableView on iOS"
### Description

On iOS, Xamarin Forms TableView does not correctly process a succession of 2 rapid taps on 2 different cells.

### Steps to Reproduce

1. Open attached test project and run on iOS device (this cannot be tested on the simulator).
2. In the displayed TableView, rapidly tap on 2 different items, e.g. first item 2 and then item 4. Notice that the taps have to be done almost simultaneo

[2018-01-25 08:09] StephaneDelcroix commented on #1652
do it

[2018-01-25 10:35] StephaneDelcroix commented on #1653
works with XamlC on

[2018-01-25 18:30] YZahringer opened #1658 "[macOS] GestureRecognizer on ListView Item not working"
### Description
The `TapGestureRecognizer` or `ClickGestureRecognizer` on `ListView` `ItemTemplate` not works on macOS. It works on UWP, Android & iOS.

### Steps to Reproduce
1. Add `ListView` on `ContentPage`
2. Add `GestureRecognizers` on `ItemTemplate`

### Basic Information

- Version with issue: Xamarin.Forms 2.5.0.122203
- IDE: Visual Studio for Mac 7.3.3 (build 5)
- Platform Target Framewo

[2018-01-25 19:24] Redth commented on #1609
This is apparently already fixed and will be part of 15.6 P4 release.

[2018-01-25 21:13] alanag13 commented on #1632
@jassmith are items in the "Ready for implementation" column considered "up for grabs"? If so, how would I claim one?

[2018-01-25 21:45] samhouts opened #1659 "[Enhancement] Button TextAlignment"
## Rationale

`Button`s do not currently have `HorizonalTextAlignment` or `VerticalTextAlignment` properties, so the text is always aligned in the center of the `Button`.

## Implementation

Add bindable properties to `Button` to match `Label`:

[code]

Renderers will need to be updated accordingly.

## Expected Result

### Android

- `Button.HorizontalTextAlignment == TextAlignment.Start`: text s

[2018-01-25 22:16] hartez opened #1660 "[Enhancement] IsSpellCheckEnabled on Entry/Editor"
## Rationale

The Entry and Editor controls do not have a simple mechanism for disabling the native spell-checking features. For some basic text entry scenarios (e.g., entering a username or editing markup), the spell-checking features provide a negative experience.

## Implementation

Add the following BindableProperty to InputView:

[code]

The value of `IsSpellCheckEnabled` should roughly map t

[2018-01-25 22:17] hartez commented on #1660
This is dependent on https://github.com/xamarin/Xamarin.Forms/issues/1652.

[2018-01-25 22:29] hartez commented on #1659
We also need to ensure that this works correctly with the various `ButtonContentLayout` options.

[2018-01-25 22:45] samhouts opened #1661 "[Enhancement] Android: WebView - Control over Zoom controls"
## Rationale

`WebView`s do not currently expose the zoom controls on Android and pinch-to-zoom cannot be enabled without a custom renderer.

## Implementation

Add platform specific methods to `WebView`:

[code]

Renderer will need to be updated accordingly.

## Expected Result

### Android

- `EnableZoomControls(false)` and `DisplayZoomControls(true)`: Default. Cannot zoom the `WebView`, and no

[2018-01-25 22:56] jassmith opened #1662 "[Enhancement] Ability to set color for switch"
## Rationale

Sometimes it would be nice to be able to change the color of a switch to make it prettier.

## Implementation

[code]

## Expected Result

### Android
The trough color should change, this can be achieved by setting the color state list.

[code]

### iOS
The trough color of the switch changes to match the desired color when the switch is in the on position

[code]

### UWP
Same as iOS

[2018-01-25 23:13] jassmith opened #1663 "[Enhancement] Entry.MaxLength"
## Rational

Sometimes the user needs to limit the maximum number of characters a user can enter into an Entry. While this could be done with a reactive implementation, sometimes setting a property is easier.

## Implementation

[code]

Do not set the native property unless the user changes the MaxLength away from MaxValue otherwise breakage of existing applications may occur.

## Expected Result

[2018-01-25 23:18] PureWeen opened #1664 "[Enhancement] Rounded image"
## Rationale

Images can't be rounded without adding an effect to each platform. Seeing as how this is a popular style it'd be useful to have this behavior built in

## Implementation

Add CornerRadiusProperty  to Image

[code]

Possibly add these additional properties for styling the border
[code]

Renderers will frame the image based on the supplied CornerRadiusProperty

## Expected Result

###

[2018-01-25 23:40] jassmith opened #1665 "[Enhancement] ListView full width separators on iOS"
## Rational

Making the ListView separator on iOS the full width of the screen is sometimes a desireable effect.

## Implementation

[code]

Use an enum so if more styles need to be created in the future, the api is easily extended.

Extra care will have to be taken with iOS 11 to ensure this works properly with the iPhone X as it has funky behavior with the bunny ears.

## Expected Result

### An

[2018-01-25 23:42] jassmith commented on #1632
Post in here you are claiming it, make a branch and start working. We will then assign it to you and whenever you land a PR we will move the card to an appropriate release board.

[2018-01-26 00:07] jassmith opened #1666 "[Enhancement] Use WKWebView on iOS"
## Rationale

WKWebView has been the modern way to create webviews for some time on iOS. It would be best to support that.

## Implementation

The only backwards compat friendly mode of implementation here is to copy the old renderer to `WKWebViewRenderer` and modify it to use `WKWebView`. This renderer will then be available but not enabled by default.

## Expected Result

### Android
No Change

[2018-01-26 00:10] kingces95 opened #1667 "[Enhancement] Entry: Position and color of caret"
## Rationale

Entry allows text entry into a string. Makes sense to know and set where the text will be entered into the string. Changing the visual indicator of that position is also a nice to have.

## Implementation

[code]

## Expected Result

`CursorPosition` returns/sets the position at which the next character will be inserted while `CursorColor` sets the Color of the cursor. `SelectionLeng

[2018-01-26 00:11] kingces95 opened #1668 "[Enhancement] Button/Label Parity"
## Rationale

A Button containing text is basically a fancy Label; Options for formatting text on Label make sense to expose on Button. Specifically, justification and line wrapping options are available on Label but not on Button.

see https://forums.xamarin.com/discussion/36779/multi-line-text-on-buttons-how-to-get-consistent-across-platforms

## Implementation

Adopt same API on Label for text

[2018-01-26 00:12] kingces95 opened #1669 "[Enhancement] SearchBar: Control over NoResultsText"
![image](https://user-images.githubusercontent.com/4120386/35463696-083422c4-0296-11e8-888a-1d4f23da5f2e.png)

See https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/auto-suggest-box
See https://stackoverflow.com/questions/14089988/how-to-change-the-text-no-results-when-search-in-tableview

## Rationale

UX may want to display a different string than the default when a Searc

[2018-01-26 00:15] kingces95 opened #1670 "[Enhancement] Hide ScrollView scroll bars."
## Rationale

Designers, in pursuit of their UX, may reasonably ask that the scroll bar be removed from a ScrollView.

see https://forums.xamarin.com/discussion/73353/how-to-hide-scroll-bar-in-scrollview
see https://stackoverflow.com/questions/9837003/how-to-hide-remove-the-scrollbar-in-uiscrollview-in-iphone

## Implementation

[code]

## Expected Result

Hides vertical and/or horizontal scroll b

[2018-01-26 00:16] kingces95 opened #1671 "[Enhancement, Placeholder] iOS: ScrollView: Paging"
## Rationale

When scrolling a ScrollView, UX design could reasonably want the scroll to stop ("snap") to a boundary. The content between boundaries is conventionally refereed to as a "page".

## Implementation

[code]

## Expected Result

ScrollView will snap to a grid.

## Implications for CSS

None.

## Backward Compatibility

None.

## Difficulty : Hard

Under the hood, use the existing implem

[2018-01-26 00:16] kingces95 opened #1672 "[Enhancement] UWP: Button: AccessKey support"
![image](https://user-images.githubusercontent.com/4120386/35463298-0af5e77e-0294-11e8-82d1-22c8f5e1b241.png)

## Rationale

Disabled and/or power users find the keyboard easier/faster to use than the mouse.

## Implementation

A UAP platform specific subset of https://docs.microsoft.com/en-us/windows/uwp/design/input/access-keys as can be exposed via the following:

[code]

## Expected Result

 h

[2018-01-26 00:17] kingces95 opened #1673 "[Enhancement] Map with shapes from pin"
## Rationale

UX could reasonably want to overly shapes onto maps. For example, a semi-transparent circle centered on a pin.

## Implementation

Could make it complicated and general or could just make it this:

[code]

## Expected Result

A circular map overlay centered at the pin.

## Implications for CSS

None.

## Backward Compatibility

None.

## Difficulty : Easy

[2018-01-26 00:18] kingces95 opened #1674 "[Enhancement] Label: Underline + Strike"
## Rationale

Add enum to enable strike-through and underline to labels (and buttons).

## Implementation

[code]

## Expected Result

Label and Button text respects new flags added to FontAttribute.

## Implications for CSS

None.

## Backward Compatibility

None.

## Difficulty : Easy

[2018-01-26 00:19] kingces95 opened #1675 "[Enhancement, Placeholder] Bottom Tab Bar on Android or Top Tab Bar on iOS"
## Rationale

Lorem ipsum accumsan etiam congue sed nostra congue, a in aliquet orci habitasse maecenas est suscipit, diam auctor arcu posuere massa augue.

## Implementation

Lorem ipsum accumsan etiam congue sed nostra congue, a in aliquet orci habitasse maecenas est suscipit, diam auctor arcu posuere massa augue.
[code]

## Expected Result

Lorem ipsum accumsan etiam congue sed nostra congue, a

[2018-01-26 00:20] jassmith opened #1676 "[F100] Allow overriding theme capitalization settings in Android"
## Rationale

Sometimes changing the theme on an android app can be a bit difficult. It may be useful for people to be able to override theme capitalization settings without modifying the theme or using an effect.

## Implementation

[code]

## Expected Result

### Android
When set to false, the button should not auto-cap letters. When set to true it should.

Should directly pass ABP value to `Con

[2018-01-26 00:21] samhouts opened #1677 "[Enhancement] Entry: Control over text-prediction"
## Rationale

`Entry`s do not currently allow users to disable text prediction/autocomplete/autosuggest without a custom renderer or effect.

## Implementation

Add bindable property to `Entry`:

[code]

Renderers will need to be updated accordingly.

## Expected Result

### Android

- `IsTextPredictionEnabled == true`: Default. Text prediction is enabled.
- `IsTextPredictionEnabled == false`: Tex

[2018-01-26 00:38] PureWeen opened #1678 "[Enhancement] Entry: Read-only entry"
## Rationale

Currently you can set an Entry and Editor to IsEnabled false which technically makes it Read Only but it's greyed out.  Is Read Only would present the field so it looks the same when it's editable but now it's not editable.

## Implementation

Add IsReadonly property to InputView (base class of Entry and Editor)

[code]

Renderers will make the platform native entry field uneditable

[2018-01-26 00:41] hartez opened #1679 "[Enhancement] Android PlatformSpecific for WebView mixed content"
## Rationale

There is currently no way to modify an Android WebView's mixed content mode setting without creating a custom renderer.

## Implementation.

Add a PlatformSpecific property for WebView on Android to set the value of WebSettings.MixedContentMode.

[code]

Below API 21 this value should be ignored. At API 21 or above, this value should be applied to `MixedContentMode`.

There is curren

[2018-01-26 01:14] PureWeen opened #1681 "[Enhancement] Text edit with borders"
## Rationale

Entry fields can't have borders added without having to add custom renderers.

## Implementation

[code]

Renderers will frame the Entry based on the supplied Border properties

## Expected Result

### Android
- `Entry.BorderThickness`:  should set the thickness of the border
- `Entry.BorderColor`:  should set the outline colors of the border
- `Entry.BorderFillColor`:  should set th

[2018-01-26 01:20] hartez opened #1682 "[Enhancement] UWP PlatformSpecific to display JavaScript alerts in WebView"
## Rationale

By design, the UWP WebView does not respond to the JavaScript `window.alert` function. In some cases, it may be useful to display the messages passed to `window.alert` in the UWP application.

## Implementation

A BindableProperty to control this behavior will have to be added to the Windows PlatformSpecifics:

[code]

When this PS is enabled, the UWP WebViewRenderer should inject Ja

[2018-01-26 02:00] davidortinau commented on #1675
Related #1400

[2018-01-26 03:07] hartez opened #1683 "[Enhancement] AutoCaptialization support for Entry/Editor"
## Rationale

The Entry and Editor Keyboard flags do not represent all the possible platform options for Input Capitalization

## Implementation

Expand Keyboard flags to include Word, Character, and No Capitalized. The keyboard already supports CapitalizeSentence so it just needs to have Words and Characters added to it

Currently
[code]
Expand To

[code]

Currently None only really has in meanin

[2018-01-26 03:08] hartez commented on #1683
This is dependent on https://github.com/xamarin/Xamarin.Forms/issues/1652.

[2018-01-26 05:20] jassmith commented on #1670
This should be implemented with an enum with some kind of ScrollBarVisibility.

[code]

seems like the logical choice forward. There will likely be other visibility modes cropping up and a need to make sure there is a default in case default behaviors differ on different platforms.

[2018-01-26 05:31] jassmith commented on #1660
Looks good, I like the usage of GetIsDefault to avoid backcompat issues. Should go a decent way to making things sane.

[2018-01-26 05:37] jassmith commented on #1682
For clarity this should result in a call looking like:

[code]

[2018-01-26 06:04] PureWeen opened #1684 "[Enhancement] Color on Slider"
## Rationale

Slider doesn't offer much customization currently. Add some basic cross platform properties to reduce need for custom renderers

## Implementation

Add ThumbColor, Color, and possibly ThumbImage properties

[code]

## Expected Result

### Android
When the Color property of the slider is changed this will be reflected on the slide bar.
When the ThumbColor property is changed the Thumb

[2018-01-26 06:32] HazyFish opened #1685 "[UWP] Placing a ListView under Grid in a StackLayout makes the Controls in Grid behave wrong on UWP"
### Description
In a StackLayout, if putting a ListView under a Grid, the Grid seems to be limited in Height, making the controls inside the Grid misbehave. This occurs in UWP but not in Android. When the ListView is removed, everything goes well.

### Steps to Reproduce

1. In a StackLayout, place a ListView under a Grid.
2. Add Controls like Entry, Button, or Label in the Grid.
3. Run to see the

[2018-01-26 07:58] kingces95 commented on #1671
Will close for now and re-open should further explanation of the feature appear.

[2018-01-26 08:15] andreinitescu opened #1686 "[Enhacement] Add BindingMode.OneTime"
### Rationale

The data binding does not have a mode to update the binding target only when the source starts or when the data context changes.

For the `Label` in the next example, the data binding framework in Xamarin Forms subscribes to the change on the `Status` property:
`<Label Text='{Binding Status}'` />

With `BindingMode.OneTime` it wouldn't have to watch for changes on the `Status` prope

[2018-01-26 09:45] MintDeville opened #1687 "SQLite Command Builder not working"
Hello,

I already filed the Bug with Help of Microsoft support under

https://bugzilla.xamarin.com/show_bug.cgi?id=60733

Its also in your forums under
https://forums.xamarin.com/discussion/comment/304906#Comment_304906

When is this going to be fixed?
I need this to work

[2018-01-26 10:12] devandel commented on #1527
Still does not work with VS 15.5.5

[2018-01-26 11:27] rmarinho opened #1688 "NavigationBar with Subtitle"
## Rationale

`NavigationPage` Header only shows a title, it would be nice it was possible to show a subtitle as well.

## Implementation

Add new bindable property to `Page`.

[code]

Add new attached property `NavigationPage`.

[code]

Implement new properties on all renderers.

## Expected Result

### Android

### iOS

### UWP

## Implications for CSS

None

## Backward Compatibility

Since we

[2018-01-26 13:11] rmarinho commented on #1666
i think we might use #1578 for this no?

[2018-01-26 14:36] pauldipietro commented on #1687
This is not a Forms issue.

[2018-01-26 14:36] #1687 closed

[2018-01-26 15:21] alanag13 commented on #1632
Thanks -- I I'll hopefully pick up some more with time, but for now just to get familiar with the codebase and everything I'll take this one!

[2018-01-26 15:47] alanag13 commented on #1632
Actually, I just noticed that you added a ton more enhancements to the board between when I commented on this originally and now. Some of them related directly to work that I've done in personal projects and should be easier for me to tackle and deliver, so I'll start with those. In the meantime, someone else can pick this up if they'd like.

[2018-01-26 15:47] alanag13 commented on #1676
I can take this!

[2018-01-26 15:48] alanag13 commented on #1679
I can take this!

[2018-01-26 15:49] alanag13 commented on #1661
I can take this!

[2018-01-26 15:54] alanag13 commented on #1666
I can take this! Some tweaks are definitely needed, but I have this mostly implemented already on a personal project 😄

[2018-01-26 16:01] rmarinho opened #1689 "[Enhancement] Button Ripple effect"
## Rationale

Create a Effect to add Ripple animation to a button

## Implementation

## Expected Result

Button should have a visual feedback when tapped, similar to what we see on Android..

## Implications for CSS

## Backward Compatibility

## Difficulty : Medium

[2018-01-26 16:12] rmarinho opened #1690 "[Enhancement] Add Color on ProgressBar"
## Rationale

The progressbar currently has no way to set the color, it uses the default color of the platform

## Implementation

Add BindableProperty for ProgressColor and TrackColor to the Progressbar

[code]

## Expected Result

Should be able to set the color of the ProgressBar as well as the BackgroundColor that is already possible.

## Expected Result

### Android

[code]

### iOS
[code]

#

[2018-01-26 16:32] rmarinho opened #1691 "[Enhancement]Add SearchBar platform specific for IsSpellCheckEnabled"
## Rationale

There's no way to set IsSpellCheckEnabled  on the AutoSugestBox, so we need to change the control template, and also expose a new platform specific to change this property inside the control template

## Implementation

We need to create a control template

Allow to enable SpellCheck  for SearchBar
[code]

## Expected Result

### Android
None

### iOS
None

### UWP
Alter the default

[2018-01-26 16:35] hartez opened #1692 "[F100] MediaPlayer View"
## Rationale

Forms does not currently have a simple cross-platform way to play audio and video without creating a custom renderer.

## Implementation

This will probably require a `MediaSource` class similar to the `ImageSource` class, with the appropriate subclasses (`FileMediaSource`, `StreamMediaSource`, `UriMediaSource` and their respective type converters).

The actual `MediaPlayerView` shou

[2018-01-26 16:36] rmarinho opened #1693 "[Enhancement] Add UWP platform effect for SearchBar suggestions"
There's no way to give suggestions on the AutoSuggestBox, so we need to expose a new PlatformEffect to give suggestions for the AutoSuggestBox

## Implementation

We should pull from the toolkit https://github.com/xamarin/XamarinCommunityToolkit/commit/a41e33f393c6a143f32deb4974473d75e16e40b9

Allow to specify suggestions for SearchBar , AutoSuggestBox on UWP.

[code]

## Expected Result

### Andr

[2018-01-26 16:48] PureWeen opened #1694 "[Enhancement] ProgressBar: Height"
## Rationale

Currently there is no way to increase the height of the progress bar without using a custom effect/renderer

## Implementation

For backwards compatibility add a property to the ProgressBar to enable height scaling

[code]

### iOS
A number of ways to increase the height are mentioned here
https://stackoverflow.com/questions/3437564/how-to-increase-height-of-uiprogressview

Most seem

[2018-01-26 16:49] adrianknight89 commented on #1692
Android's stock video view isn't great, especially on older APIs and devices. I'm not sure if it's a good idea for Xamarin to create a cross-platform video player unless you're willing to put some serious effort into making a professional-grade control. I believe Google is now using ExoPlayer for YouTube and possibly other apps as well.

https://www.youtube.com/watch?v=6VjF638VObA
https://google.g

[2018-01-26 16:57] PureWeen opened #1695 "[Enhancement] Bordered views, e.g. grid view"
## Rationale

Views can't easily be given borders without nesting them in frames or implementing custom renderers.

## Implementation

[code]

Renderers will frame the given view using the given border properties

## Expected Result

### Android
- `View.BorderThickness`:  should set the thickness of the border
- `View.BorderColor`:  should set the outline colors of the border
- `View.BorderFillCol

[2018-01-26 17:00] rmarinho opened #1696 "[Enhancement] Add Platform specific for ImeOptions"
## Rationale

Allow to set ImeOptions  on entry so we have a better experience with the soft keyboard.

## Implementation

Add ImeOptions platform specifc to Entry

[code]

[code]

## Expected Result

### Android

Make changes on renderer to allow this to work

### iOS
none
### UWP
none

## Implications for CSS

## Backward Compatibility

Should have the default value and make sure it doesn't brea

[2018-01-26 17:01] dhaligas commented on #1688
@rmarinho can we get

LeftToolbarItem
TitleView
added to the Navigation Bar

[2018-01-26 17:16] JTOne123 commented on #1598
I got this exception when Calypso AppCrawler ran my app, maybe it will be helpful

[2018-01-26 17:35] rmarinho opened #1697 "[Enhancement] Add ButtonType for return Entry and done Editor"
## Rationale

Allow to customize the Return button on Entry and Done one Editor using a new api for ReturnButtonType,
Users could use the Enum to set to a particular button type, use the default, or specify a text to be shown or a image

Try to implement https://github.com/brminnick/EntryCustomReturnPlugin for Entry and Editor

## Implementation

[code]

## Expected Result

### Android

### iOS

#

[2018-01-26 17:36] PureWeen opened #1698 "[F100] Translucent Nav Bar"
## Rationale

Currently when setting the navigation bar to Translucent requires a custom renderer. In addition the Xamarin Forms content pages don't account for the extra space now created by the translucent bar.  Having a property on the NavigationBar to allow it to be transparent and then having the content flow correctly would be useful

## Implementation

[code]

Navigation Renderer will set t

[2018-01-26 17:45] andreinitescu commented on #1695
This would become extremely handy. Is `View` the right class to have this on? I guess so...
I was thinking about ListView cells which derive from `Element` and they won't get this.

[2018-01-26 18:48] jassmith commented on #1676
Moving to InProgress :)

As a matter of practice (and nothing personal) we will probably move this back to an unclaimed pool if we dont get just a ping or something that work is still going on every 2 weeks or so.

[2018-01-26 18:49] jassmith commented on #1666
Moving to InProgress :)

[2018-01-26 18:51] hartez opened #1699 "[Enhancement] Add EvaluateJavaScript method to WebView"
## Rationale

Forms does not currently have a simple cross-platform way to call JavaScript methods in a WebView and return the results.

## Implementation

Add a method to WebView, something like:

`public async Task<string> EvaluateJavaScript(string script);`

The renderers should map this to InvokeScriptAsync on UWP, EvaluateJavascript on iOS, and EvaluateJavascript on Android.

## Backward Comp

[2018-01-26 18:54] PureWeen opened #1700 "[Enhancement] UWP: TabStop/TabIndex support (for multiple Views)"
## Rationale

Currently there is no way to  influence the tab stop behaviors on UWP. Seeing as how there are a lot of UWP controls that have this property it's very tedious to implement this across all desired elements

## Implementation

Add IsTabStopProperty and TabIndexProperty to all applicable Forms controls.  IsTabStop and TabIndex are properties of Windows.UI.Xaml.Controls.Control  so all X

[2018-01-26 19:34] jassmith opened #1701 "[Enhancement] Allow for commandable span regions"
## Rationale

Embedding hyperlinks into a label is useful for many many reasons but the simplest to imagine is an article which contains hyperlinks in the text. It is impractical to expect the text be split up into multiple labels.

## API

This will depend on the Bindable Span spec being implemented https://github.com/xamarin/Xamarin.Forms/issues/1340.

[code]

## Expected Result
When a command i

[2018-01-26 19:45] samhouts commented on #1700
This will be part of a larger effort to add TabIndex to all platforms. I believe MacOS already supports it, too.

[2018-01-26 19:46] samhouts opened #1702 "[Enhancement] Padding on Buttons"
## Rationale

`Button`s do not currently have a `Padding` property, forcing some users to create hacks, custom renderers, or effects to achieve the desired layout.

## Implementation

Add bindable property to `Button` & make `Button` implement `IPaddingElement`:

[code]

Renderers will need to be updated accordingly.

## Expected Result

### Android

- `Button` has no padding by default.
- Alterin

[2018-01-26 20:00] praeclarum opened #1703 "BindableObject.SetValue fails for objects with non-runtime types"
### Description

This line of code:

https://github.com/xamarin/Xamarin.Forms/blob/4571e3176cca29633c5e941955e8f3d84aef4546/Xamarin.Forms.Core/Xaml/TypeConversionExtensions.cs#L197

and possibly others require that the type provide "runtime" methods - these IRuntimeTypes were a weird fork in the disaster of reflection changes wrought by PCLs and their ilk. Now that the world is back to a glorious

[2018-01-26 20:06] PureWeen opened #1704 "[F100] Basic GIF animation support"
## Rationale
Animated Gifs are popular. Providing the image view with features that allowed it to animate gifs would allow users to not have to use webviews or create other custom renderers

## Implementation

Add an AnimationPlayBehaviorProperty for the Image control which indicates that a gif should start playing once it has loaded or if it should be started through other mechanisms.

Add two me

[2018-01-26 20:31] PureWeen opened #1705 "[Enhancement] Icon on TabbedPage UWP"
## Rationale

Currently Icon are only surface onto iOS and Android and are not shown for the tabs on UWP. Ideally this behavior would work the same across all three platforms

## Implementation

The Forms side of the code is already implemented for this so the main effort is with the UWP TabbedPageRenderer to materialize those icons onto the tabs

## Expected Result

### Android
Already works

###

[2018-01-26 20:46] samhouts opened #1706 "[Enhancement] MaxLines on Label"
## Rationale

`Label`s do not currently have a `MaxLines` property, so they either display all lines or truncate at the end of one line.

## Implementation

Add bindable property to `Label`:

[code]

Renderers will need to be updated accordingly.

## Expected Result

### Android

- `MaxLines == 0`: Default. `Label` respects the `LineBreakMode` to either show just one line (possibly truncated) or a

[2018-01-26 20:50] kingces95 commented on #1671
Reopen for construction/feedback.

[2018-01-26 20:51] jassmith opened #1707 "[Enhancement] Drop shadow support for iOS/UWP"
## Rational

Drop shadows are fun, but rather platform specific in look/feel.

## API

Drop shadows in Android unfortunately are implemented via Elevation which causes other changes with regards to z-order and does not provide a consistent mechanism for creating a well defined shadow. Unfortunately this makes Android an ungraceful target at best for this feature.

For iOS:
[code]

for UWP:
[code]

[2018-01-26 20:55] hartez opened #1708 "[Enhancement] PinsSource on Forms.Map"
## Rationale

Forms.Maps does not currently have a way to bind a list of Pins on a Map.

## Implementation

Add a bindable property PinsSource to Map:

[code]

And a PinTemplate property:

[code]

The PinTemplate is responsible for converting the objects in the PinsSource into `Xamarin.Forms.Maps.Pin` objects.

Setting the `PinsSource` will clear out any existing pins and update the pin collection

[2018-01-26 21:12] hartez opened #1709 "[Enhancement] Rounded corners on BoxView"
## Rationale

Forms does not currently support rounded corners on BoxView.

## Implementation

Add a CornerRadius bindable property to BoxView (using the same struct as in https://github.com/xamarin/Xamarin.Forms/issues/1664).

[code]

On iOS, this will likely require checking for a non-zero radius and switching to a UIBezierPath for drawing. On UWP, it's likely just a matter of applying the Radiu

[2018-01-26 21:30] jassmith commented on #1708
Should we maybe use a DataTemplate + IEnumable<object> instead to avoid the inevitable issue of people then being forced to use a Forms type in their ViewModel to make this work?

Also the behavior of what this does to the Pins collection needs to be well defined.

[2018-01-26 21:52] pritamwalpole commented on #1475
I am also Having same issue.

[2018-01-26 21:57] samhouts opened #1710 "[Enhancement] Picker border customization"
## Rationale

`Picker` borders can't be customized without effects or custom renderers.

## Implementation

[code]

Renderers will frame the `Picker` based on the supplied Border properties

## Expected Result

### Android
- `Picker.BorderThickness`:  should set the thickness of the border
- `Picker.BorderColor`:  should set the outline colors of the border
- `Picker.BorderFillColor`:  should set

[2018-01-26 22:03] hartez opened #1711 "[Enhancement] Size WebView to content"
## Rationale

Forms does not currently have a mechanism to size a WebView to fit its content.

## Implementation

Add a bindable property SizeToContent to WebView:

[code]

When this property is `true`, the WebView should attempt to size itself to the minimum size necessary to fit the web content being displayed. Auto-sizing should take place only along unspecified dimensions; e.g., if a WidthRequ

[2018-01-26 22:06] praeclarum opened #1712 "IReflectableType not used when creating Android renderers"
### Description

Some calls were missed when implementing:

[Use IReflectableType when accessing the Registrar](https://github.com/xamarin/Xamarin.Forms/pull/1006)

Specifically, the Android Platform calls GetType() preventing dynamic types from working.

https://github.com/xamarin/Xamarin.Forms/blob/4571e3176cca29633c5e941955e8f3d84aef4546/Xamarin.Forms.Platform.Android/Platform.cs#L310

### Step

[2018-01-26 22:15] PureWeen commented on #1663
For backwards compatibility on Android does it need to merge the LengthFilter into whatever filters are returned from Control.GetFilters() ? This way it doesn't overwrite any other filters that were already applied?

[2018-01-26 22:42] samhouts opened #1714 "[F100] Floating Action Buttons"
## Rationale

A floating action button menu is a common design paradigm. There is currently no control in Xamarin.Forms that will provide this functionality on all platforms.

## Implementation

Add new control `FloatingActionButton`:

[code]

Renderers will need to be created accordingly.

## Expected Result

### Android

- Use the platform's built-in `FloatingActionButton` control.

### iOS

- C

[2018-01-26 23:09] PureWeen commented on #1701
Possible option for Android
### Android
https://developer.android.com/reference/android/text/style/ClickableSpan.html

[2018-01-26 23:27] samhouts opened #1716 "[Enhancement] Page TitleView"
## Rationale

Users can currently set a text-only title on a `Page` that is inside of a `NavigationPage`, and that title will be shown in the `NavigationBar`. Adding a `TitleView` attached property to `NavigationPage` will offer a greater amount of design flexibility, since it will allow users to put any `View` in the `NavigationBar`.

## Implementation

Add new attached bindable property to `Navi

[2018-01-26 23:29] hartez opened #1717 "[Enhancement] Allow DetectReadingOrderFromContent on UWP"
## Rationale

Currently there is no way to utilize TextReadingOrder="DetectFromContent" in UWP from a Forms application without creating a custom renderer.

## Implementation

BindableProperties to enable this behavior will have to be added to the Windows PlatformSpecifics for the relevant controls:

InputView (Entry/Editor):
[code]

Label:
[code]

When this PS is enabled, the UWP renderers should

[2018-01-26 23:37] hartez opened #1718 "[Enhancement] Bindable Repeater control"
## Rationale

Forms does not currently contain a control which displays items from a bound items source in a non-scrollable container.

## Implementation

Attached properties targeting `Layout` will be added to support an `ItemsSource` and `ItemsTemplate`. Setting these properties will add the templated items to the target layout.

[code]

The ItemTemplate is responsible for converting the objects

[2018-01-26 23:55] samhouts opened #1719 "[Enhancement] Left-aligned ToolbarItems on Android & iOS"
## Rationale

`ToolbarItem`s currently display aligned to the right on all platforms. There is no way to display a `ToolbarItem` on the left. This is useful for many designs, including completely customizing the back button on a `NavigationPage`.

## Implementation

Add new platform specific properties to `ToolbarItem`:

[code]

Renderers will need to be updated accordingly.

## Expected Result

#

[2018-01-27 00:15] jassmith commented on #1663
Agreed, thats a really good point.

[2018-01-27 01:17] hartez commented on #1714
So on UWP, is this just a Button with a Flyout?

[2018-01-27 05:50] bmacombe commented on #1718
I pretty much have this control implemented already as defined.  It will likely just need some refinement, clean up and best practice review.

It supports DataTemplate or DataTemplateSelector.  It can also handle a ItemSource which implements INotifyCollectionChanged to add/remove items as needed instead of rebuilding all the children

[2018-01-27 09:16] adamped commented on #1692
Would also like your input here @martijn00 :) Is it wise to make this part of the XF framework?

[2018-01-27 09:33] almirvuk commented on #1678
Hi,

Can I be assigned to this issue :)

[2018-01-27 10:53] adamped commented on #1632
@alanag13 - anything marked with a F100 is part of a sprint the community is doing, as the result of some of the most requested enhancements for XF. Are you on the XamarinChat slack? I can send you an invite to the specific channel. In there we are helping each other out. Myself and others have contributed to XF before and happy to assist in any PR prep.

[2018-01-27 10:58] adamped commented on #1340
I'll pick this one up. Might pick up the commandable span regions as well, afterwards.

[2018-01-27 11:02] adamped commented on #1674
Label Underline is referenced here: https://github.com/xamarin/Xamarin.Forms/issues/1632

[2018-01-27 11:55] francedot commented on #1690
I have already it implemented on iOS and Android. Can I be assigned to this one? /cc @adamped

[2018-01-27 12:01] adamped commented on #1690
Well not up to me, but from what I understand, first to comment, gets it :)

[2018-01-27 12:22] jarlestabell opened #1720 "Wrap Veldrid? (A high performance cross platform graphics library for .NET)"
## Summary
Make a Veldrid wrapper component?

I just want to make sure you guys are aware of this library:
https://github.com/mellinoe/veldrid

"A cross-platform, graphics API-agnostic rendering library for .NET. "

To me it looks like a great way to do portable high performance (low level) 2D and 3D graphics programming in .NET and which could(?) be used in Xamarin Forms apps.

## Intended Use Ca

[2018-01-27 13:16] davidortinau commented on #1690
@francedot go for it. Let us know if you have questions.

[2018-01-27 13:23] davidortinau commented on #1708
@jsuarezruiz this is for you

[2018-01-27 13:23] davidortinau commented on #1709
@jsuarezruiz for you

[2018-01-27 14:10] ChaseFlorell commented on #1340
#1701 was actually part of my original proposal on Evolution, but I didn't know if it was easily doable, so I deleted it. I really wanted to pick this up, but I don't work with UWP, I'm glad you got this @adamped, it'll be a great addition.

[2018-01-27 15:50] bmacombe commented on #1718
I've been looking at the Forms code base to see how to best modify my code for style, convention, etc.

I thought looking at ListView would be a good example, which lead me to ItemsView and TemplatedItemsList.  Which I don't fully understand how they work yet.  But my question is, does this feature need all that complication or simply add a new view to the stack layout for each item in the bound c

[2018-01-27 16:06] tsjdev-apps commented on #1664
I will take a look at this issue, if it is ok.

[2018-01-27 16:12] GalaxiaGuy commented on #1718
There is an alternative route that could be taken.

I implemented `ItemsSource` and `ItemTemplate` as attached properties that could be applied to any `Layout`:

https://github.com/GalaxiaGuy/MobileLibraries/blob/master/XamarinForms.Layout/Layout.cs

Technically that version doesn't support `DataTemplateSelector` but I have implemented that in version elsewhere.

(It gets complicated after line 67

[2018-01-27 16:33] andreinitescu commented on #1718
I also think the idea of a separate "Repeater" control is not enough and we can have something better than that.

[2018-01-27 17:26] bmacombe commented on #1718
I created my control because I had a need for a simple list of views that did not allow selection and at the time I couldn't find a way to keep ListView from doing selection.

The attached property is an interesting idea, but we probably need some feedback from the XF Team on that route.

[2018-01-27 18:00] CliffAgius opened #1721 "Update Readme"
### Description

Update the Readme for the project as it still references Win8.1 and VS2015 along with outdated emulators.

[2018-01-27 18:01] CliffAgius commented on #1721
Will Update and submit PR.

[2018-01-27 19:51] aetharr commented on #1495
@matt4pi Why not fork the repo, make the change and submit a pull request?

[2018-01-27 21:52] alanag13 commented on #1632
@adamped, I'm not on the slack but I'd appreciate the invite! @davidortinau I noticed that you moved this to 'In Progress' even though I actually reneged on it above, so maybe this should be moved back?

[2018-01-27 22:37] brminnick commented on #1697
Hey @rmarinho, I'm happy to help with this! Do you have an idea in mind for how `ButtonType` should be architected? I did it as an `enum` in `EntryCustomReturnPlugin`:

[code]

[2018-01-27 22:39] adamped commented on #1632
@alanag13 - Go to https://xamarinchat.herokuapp.com/ and you can invite yourself. Then once done let me know, and I will invite you to the slack channel we have.

[2018-01-27 23:13] adamped commented on #1718
I for one am for the original idea of expanding the ListView and adding the 2 properties. It is how it has been done in my previous projects. Keeps it simple.

[2018-01-28 05:12] adamped commented on #1340
Binding Text all working
![image](https://user-images.githubusercontent.com/13672662/35479104-bf10bc16-0442-11e8-8f23-201e9da01447.png)

Styles I have working, but only if I inherit Span off VisualElement, which is incorrect because it then gives Span additional properties it shouldn't have.
![image](https://user-images.githubusercontent.com/13672662/35479111-e60b1c62-0442-11e8-8416-af9e06afe3b1.p

[2018-01-28 05:27] ChaseFlorell commented on #1340
What about an IStylable interface with a Style property. Then I visual element can also implement it and stilling throughout can utilize it... Might be too much change, but it shouldn't break anything.

[2018-01-28 05:35] adamped commented on #1340
The too much change is what I am concerned about. The Style in VisualElement sets a MergedStyle, which is a sealed class, inside the VisualElement class. So nothing else other than VisualElement can reach it at the moment. I'd have to pull that out. Messing around with the VisualElement is something I don't want to do, unless told to :)

[2018-01-28 05:48] dhaligas commented on #1701
UITextView for iOS works well with this

[2018-01-28 07:30] llevera commented on #1340
Isn't it fairly unusual to be able to individually style spans in this way? Sure the whole label but each span? If you compare ios, I thought the attributable string can only be bolded etc as attributes on the string. I don't recall Android runs, so I thought they couldn't just be styled as a visual element either?

In other words I thought on the platforms string formatting sat outside of the nor

[2018-01-28 07:38] adamped commented on #1340
You can already set fonts etc to individual spans. The ability to add a Style, is only providing the ability to set these properties, via a Style. However with styles come triggers and reusability :)

[2018-01-28 08:02] libin85 commented on #1681
Have done something similar in my code base and happy to do this @davidortinau

[2018-01-28 08:24] andreinitescu commented on #1718
@adamped Which exactly 2 properties are you suggesting to be added to ListView? Did you mean Layout?
ListView already has ItemsSource and ItemTemplate.

[2018-01-28 08:29] adamped commented on #1718
Apologies, typo. I meant StackLayout :)

[2018-01-28 08:48] adamped commented on #1340
Thinking about it more. My recommendation. Create a StyledElement class, that inherits from Element. StyledElement contains the MergedStyle class and Style Property.

VisualElement inherits from StyledElement.
Span would inherit from StyledElement.

Side effects include, giving Span's the ability to add effects. And an AutomationId property that won't be correctly correlated.

[2018-01-28 12:44] ice-j commented on #1659
Hi @davidortinau can we lock this issue to you, please so  I can start working on it?

[2018-01-28 17:34] netapau commented on #1719
Hi, i would like to see if i can deal with this issue

[2018-01-28 18:20] jsuarezruiz commented on #1709
Work in progress: https://github.com/XamarinFormsCommunity/Xamarin.Forms/pull/1

[2018-01-29 00:19] adamped commented on #1718
@davidortinau - FYI this one hasn't been assigned to you yet.

[2018-01-29 02:03] programmation commented on #1681
Other screen elements have `BorderWidth` rather than `BorderThickness`. Can we please avoid unnecessary new names for things (unless of course there's already a `BorderWidth` that's different)?

[2018-01-29 02:39] PureWeen commented on #1718
Here's RepeaterView I implemented last year

https://gist.github.com/PureWeen/4bf4d8c2e384a11b34398dc23201a7cc

It supports templating and has been working for me with uwp/ios/android

[2018-01-29 03:13] llevera commented on #1702
I'm keen to take this on, having recently been in need of this and am aware of common work arounds to check the compatibility of coexisting with

[2018-01-29 08:24] MintDeville commented on #1687
Its a bug in Xamarin, as its in Visual studio Professional, which I bought.
Get this thing working.

[2018-01-29 08:53] #1703 closed

[2018-01-29 09:16] StephaneDelcroix opened #1723 "[CSS] pseudo-element selectors"
### Description

support pseudo-element selectors for styling subcontrols
[code]

[2018-01-29 09:29] StephaneDelcroix opened #1724 "[Enhancement] ImageButton"
# Rationale

The current Button.Image property is mainly for displaying a small icon next to the text.

To avoid breaking changes, we should create a new ImageButton control. Both Button and ImageButton should derive from a common ButtonBase.

# Implementation

see Button API, but skip the Label

Implementation on Android, iOS, UWP in renderers.

# Backward Compatibility

# Difficulty: Medium

[2018-01-29 09:53] andreinitescu commented on #1718
@davidortinau We can have something better than just adding a control which is just derived from `StackLayout`. Otherwise, I don't think it makes sense to add a `Repeater` derived from `StackLayout`.
At most, maybe add some attached properties  to Layout, like how @GalaxiaGuy suggested above.

The way the XAML frameworks do this is by an `ItemsControl`.
Here's my take on this  https://github.com/a

[2018-01-29 10:42] adamped commented on #1718
I'm all for adding the 2 properties directly to the StackLayout, instead of a separate control, called repeater.

However the ItemsControl, while good, I think needs to be a further discussion or enhancement beyond this. A bindable StackLayout control is what people wanted. Its the basic simple solution to many issues.

Maybe ItemsControl should be a separate additional control, beyond this enhanc

[2018-01-29 10:55] andreinitescu commented on #1718
@adamped Adding the `ItemsSource` and `ItemTemplate` properties to `StackLayout` wouldn't be a good decision.  Instead, maybe add them as attached properties, just to make everyone happy.

Otherwise, if these properties are added right to StackLayout, should them be added to other Layout classes as well? Why not also add them to Grid? How about AbsoluteLayout or RelativeLayout? Maybe add them to L

[2018-01-29 11:06] andreinitescu commented on #1718
Another thought: Like I mentioned in the readme of my project,  Xamarin has a `ItemsView` which is close to what `ItemsControl` is in Windows XAML. I am sure there's a reason why Xamarin team chose to derive `ListView` from `ItemsView`.

[2018-01-29 11:14] adamped commented on #1718
Adding them to the StackLayout doesn't mean it is suited to other layout controls. How would it work with a Grid, there are multiple columns and rows. How would it even work with an Absolute or Relative Layout? I can't even see how that would work.

A StackLayout is designed for stacking one element after the other. That is why an ItemsSource works well, and it would make no sense for other layout

[2018-01-29 11:17] andreinitescu commented on #1718
It would. Google a bit for things like 'itemscontrol with grid'. You will see old school stuff how ItemsControl in combination with different Panel derived classes can result into very interesting things.

[2018-01-29 11:26] adamped commented on #1718
The problem with the Grid is due to performance, and then having to setup additional properties to control the flow of the items being added. You will see from Googling a bit about ItemsSource and a Grid in Xamarin.Forms, there are many solutions, including one of mine where I did this. It isn't the best solution for a Grid.

StackLayout is the only control that makes sense with just these 2 prope

[2018-01-29 11:32] andreinitescu commented on #1718
Yes, people experience it, including myself, many times, but that doesn't mean adding the properties right to StackLayout is the good solution from a framework perspective.
Things look differently from a broader perspective, otherwise if we start adding properties just to suit our immediate needs, we will end up with clutter, with little or no reusability.  At least this is my personal opinion.

A

[2018-01-29 12:39] awattar opened #1725 "Decouple Forms Init from DepenedencyService init."
https://github.com/xamarin/Xamarin.Forms/blob/39263f2e6009724394d30e54a2f805bb19e72063/Xamarin.Forms.Platform.iOS/Forms.cs#L102

Is there a plan to separate Dependency Service initialization form forms initialization. There are several cases when developers would like to take advantage from working DependencyService before rest of the Forms is initialized.

[2018-01-29 13:23] adamped commented on #1718
XAML Standard raises a good point. That may be a good cause to go the ItemsControl. We will have to see what the XF stance is on this.

And the reason we don't use the ListView is because it implements scrolling. Otherwise we would just use a Listview. But I think that highlights you are looking to a solution to a different problem. We just want a bindable list that doesn't automatically include a

[2018-01-29 13:45] andreinitescu commented on #1718
Adding a new `Repeater` control or just adding properties to StackLayout do not appeal to me. It would definitely solve the issue but no matter how 'obvious' these solutions are, from a framework perspective, there are better ways which will add more flexibility to the framework, so why not do it now? It won't be significantly more complicated to implement.
After all, what is the problem with the

[2018-01-29 13:50] adamped commented on #1718
I know? But you are just repeating things now. As mentioned, valid points raised, we will need to wait for the XF team to finalize anything.

[2018-01-29 14:18] bmacombe commented on #1718
There are good points being made both ways on this issue.  I suggested we consider the following

1.  There is a need for simple list to display a small number of templated items, the "Repeater" as defined meets this.  It will also be very low overhead and the name clearly implies that it is not a spophisticated control.

2.  We need a better "ItemsControl" "ListView", etc.  But this is a much lar

[2018-01-29 15:22] pauldipietro commented on #1644
Can you please upload a complete reproduction project as well as clarify if this is only occurring on a specific platform?

[2018-01-29 15:48] tsjdev-apps commented on #1664
I have one question about the `CornerRadius` property. This is the description above of type `CornerRadius`, but should it be of this type instead of `float`? Because in the platforms the control takes only an `float`. Another option is to have it as type of `bool` to activate rounded image by calculating the value from `Width` and `Height` of the image.

[2018-01-29 15:57] andreinitescu commented on #1681
Like @programmation said, things should be consistent.
The irony is `BorderThickness` is more better because it allows having a border only one specific sides.

[2018-01-29 15:58] andreinitescu commented on #1695
@jassmith @davidortinau It's not clear to me how this should correlate with #1664 and #1681. There are people who started working on those already. How is this going to work with those?

[2018-01-29 16:18] jonlipsky opened #1726 "[Enhancement] Support UIModalPresentationStyle.FormSheet"
## Rationale
It would be nice if there were a built-in way to present a page using the `UIModalPresentationStyle.FormSheet` when using Xamarin.Forms to build iPad apps.

## Implementation
Add platform specific to `Page`. When `Navigation.PushModalAsync()` is used to display this page, we'll check the `UIModalPresentationStyle` value if idiom is tablet.

[code]

## Expected Results

### Android
No

[2018-01-29 16:22] PureWeen commented on #1695
As far as the correlation at a minimum I just wanted to make sure the apis between the three stayed consistent.  There's an IBorderElement interface that was used for CSS but I was thinking we'd add the two additional properties to that so there's a consistent spec among the elements that can specify Border properties.

Then at the platform level I just wanted the three tickets to be aware of each

[2018-01-29 16:26] PureWeen commented on #1681
Yea that's why I went with BorderThickness :-)  The hope of these is to reduce the users need to create a custom renderer so going the extra few feet to provide customization of all four sides seemed "more better" to me

[2018-01-29 16:42] PureWeen opened #1727 "[Enhancement] Horizontal ListView"
## Rationale

ListView control currently can only flow items vertically. This will add the ability to flow the items horizontally.

## Implementation

[code]

## Expected Result

### Android
- `ListView.Orientation`:  should indicate the directions items flow

### iOS
See Android

### UWP
See Android

## Implications for CSS
## Backward Compatibility
If not specified just ensure that no behavior c

[2018-01-29 16:44] alanag13 commented on #1699
I can take this!

[2018-01-29 16:45] alanag13 commented on #1679
@davidortinau I've claimed this a few days ago but it hasn't been moved to in progress, just an FYI

[2018-01-29 16:45] alanag13 commented on #1682
I can take this!

[2018-01-29 16:47] alanag13 commented on #1663
I can take this!

[2018-01-29 16:58] hartez commented on #1714
@samhouts Is the intent to support everything that floating action buttons on Android do (e.g, speed dial, morphing into sheets, morphing into toolbars, etc.)?

[2018-01-29 17:25] PureWeen opened #1728 "[Enhancement] Checkbox Control"
## Rationale
Currently the only type of toggle control is a switch. Checkboxes can be useful for indicating action. For example agreeing to something and there are cases where people prefer a checkbox to a switch for their UI.

## Implementation
Create a new Control and set of platform renderers for a CheckBox control and a CheckBoxCell

[code]

VisualStateManager additions: Checked, Pressed

###

[2018-01-29 17:44] rmarinho commented on #1688
we should look at #1716 and maybe drop this one

[2018-01-29 17:55] hartez commented on #1679
@alanag13 Have at it.

[2018-01-29 17:58] rmarinho opened #1729 "[Enhancement] iOS PlatformSpecific for UISlider"
## Rationale

There is currently no way to to set the value when tapping a slider on iOS

## Implementation.

Add a PlatformSpecific property for Slider on iOS. Customer renderer changes to subscribe to the tap event, calculate position and set the value. `((IElementController)Element).SetValueFromRenderer(Slider.ValueProperty, Value)

[code]

## Expected Result

### Android

None

### iOS
Value o

[2018-01-29 18:22] rmarinho opened #1730 "[F100] Camera View"
## Rationale

Forms does not currently contain a cross platform view which allows to use and preview the camera of the device it's running on. There are some issues to be answer still, should we support control or just a preview of the image.

## Implementation.

Users should be able to choose front or rear camera and visualize the image.
Users should be able to show default controls or not.
User

[2018-01-29 18:28] cschwarz commented on #1406
Any chance to get this fixed in the next release?

This is blocking us from upgrading from 2.3 to 2.5 and using .NET Standard.

[2018-01-29 18:29] therealjohn opened #1731 "[Enhancement] Add API for programmatically checking if running in design mode"
## Rationale

User’s desire a way to specify code that should only run when their code is running in a designer context such as Previewer or Live Player.

## Implementation

[code]

[code]

The property should be considered to have a public setter so that third-party tools can also mark this as true when they would prefer to. i.e. LiveXaml, GorillaPlayer, etc. may want to set this to true so users

[2018-01-29 19:25] StephaneDelcroix commented on #1340
@adamped `Span` could inherit from `Element`. Most of the boilerplate is done there. It should also implement `IStyleSelectable` so it can be part of a CSS Selector and `IStylable` so we can apply CSS properties to it.

while you're at it, it should implement `ITextColor` (deprecate the `ForegroundColor` property in favor of `TextColor`)

[2018-01-29 19:56] StephaneDelcroix commented on #1731
the implications are far from "easy"

[2018-01-29 20:01] rmarinho commented on #1697
@brminnick that would be great, i have looked at your work, we want to add something similiar will love your help. We are finishinig this spec first, feel free to add feedback.

[2018-01-29 20:10] #1721 closed

[2018-01-29 20:22] StephaneDelcroix commented on #1697
why are those attached BPs ?

[2018-01-29 20:35] StephaneDelcroix opened #1732 "Color for pickers"
## Rationale

Allow to customize the visual appearance of Pickers (DatePicker, TimePicker, Picker)

BackgroundColor and TextColor should be a good start.

## Implementation

## Expected Result

### Android

#### Picker Implementation
Use a custom ArrayAdapter implementation to set the color of the textviews

Create a PickerContentLayout class where these properties can be defined

[code]

### iOS

[2018-01-29 20:39] StephaneDelcroix opened #1733 "Autoresizable Editor"
# Rationale
Currently when using an Editor it will initially render at the height of its content. Once this rendering has occurred the height of the Editor will not flex vertically as the user types thus causing the text to flow off the control or it will just leave large blank space where the control can just decrease in size. If the control occupies a layout where there is available vertical spa

[2018-01-29 20:44] StephaneDelcroix opened #1734 "Label line-height"
# Rationale

Customize vertical appearance of label by setting line-height

# Implementation

Add a LineHeightProperty

# Back-Compat

default should be `-1` so when the value isn't set, the renderers knows that they have to ignore the value

# CSS

`line-height`

# Thoughts

Should this be supported at Span level too, as a TextElement or something ?

[2018-01-29 21:14] therealjohn commented on #1731
@StephaneDelcroix Can you elaborate? I've been told that this "should be easy" so I was repeating that. I'd be curious to know further details in either direction.

[2018-01-29 21:15] davidortinau commented on #1664
@PureWeen @tsjdev-apps is it possible to expand this to take any content, not just an image? Or maybe that is getting into more general "masking" territory and would be a different piece of work?

[2018-01-29 21:19] hartez commented on #1664
Radiuses (radii?) are `double`s on WPF and UWP, at least.

[2018-01-29 21:49] Paul-Brenner-Tangoe opened #1735 "[Android] ListView Cell height not adjusted when using large display size and font"
### Description
When using large font size and display size, text in a list view gets cut off.

Note that I realize the issue may be from setting the Row Height. But the row height is set as a dp value, and should be multiplied by the display size setting, correct?

### Steps to Reproduce
Load app on Android 7 or higher device.
Press the button
Note that the listview looks fine
Minimize app
Go to

[2018-01-29 21:52] programmation commented on #1681
Consistency is way better than convenience. You can build convenience on top of consistency, but if there's no consistency you can't build anything easily. And using a `Thickness` fixes the number of sides at the number of `Thickness` parameters (currently 4). What about when the framework grows up to the point of using a `Path` for the border?

[2018-01-29 21:57] ceblanda opened #1736 "Regression issue - hidden fields can not be made visable"
### Description
Running on Android, a page in a MasterDetail Detail that contains hidden elements in a scroll.  If you change the elements to be visible they do not show.

### Steps to Reproduce

1. Run the attached project.  Notice that the first view has a switch.  Switch the switch and the hidden elements will become visable.
2. Open the Master window and choose Page1.  This is the same exact p

[2018-01-29 22:19] hartez commented on #1718
In response to some of the earlier comments - we're definitely not worried about virtualization or performance with very large `ItemsSource`s here. This is explicitly for handling small lists of templated items.

Looking at Andrei's ItemsControl, there's a lot to like; it's more flexible than a simple Repeater, and it would be trivial to use it as a Repeater (especially since it defaults to using

[2018-01-29 22:21] samhouts commented on #1727
Some things that might be problematic:
1. Pull-to-refresh. Would we want to have a horizontal swipe initiate this, or just have this be unsupported?
2. ContextActions on iOS. These are currently activated with a horizontal swipe, which will conflict with the scrolling now. Do we want to change the swipe direction? Not support it?

[2018-01-29 22:25] samhouts commented on #1724
I feel like this might be better as a new control instead of using Button.Image. That will prevent us from breaking old layouts. Plus, we probably want to use the native ImageButton controls, so we'll have a lot of code switches if we just reuse the same control.

[2018-01-29 22:29] bmacombe commented on #1718
It would be trivial to change the repeater I was working on to submit for this issue to not inherit from StackPanel and use any provided (or default to StackLayout).

I personally like that solution better then the attached property idea that was suggested.

We could follow the simple approach of not worrying about virtualization or performance on large lists, but just support using any layout.  T

[2018-01-29 22:33] adamped commented on #1718
@hartez - it does cover all scenario's we were interested in. Happy for this to be closed and replaced with the ItemsControl. Seems better to have 1 control that solves many problems at the same time.

@andreinitescu - are you happy to implement this in a PR, or did you want someone else to pick it up? Anything listed with an F100 tag is part of a community sprint we are all trying to finish in th

[2018-01-29 22:35] hartez commented on #1701
Yep. Unfortunately, XF uses UILabel :(

[2018-01-29 22:40] hartez commented on #1701
For the iOS renderer, this gist might be helpful: https://gist.github.com/hartez/819483f40916cf8835e0c9d0b2244b3e

It demonstrates how to create tappable links in a UILabel based on markdown links, but the technique should be applicable to arbitrary spans.

[2018-01-29 22:47] hartez commented on #1632
@ahmedalejo See: https://github.com/xamarin/Xamarin.Forms/issues/1701

[2018-01-29 22:49] hartez commented on #1674
@jason @kingces95 We need to decide whether this issue and https://github.com/xamarin/Xamarin.Forms/issues/1632 should be one issue, or whether this issue should drop 'underline' and just focus on 'strike-through'.

[2018-01-29 22:50] hartez commented on #1674
@kingces95 Under CSS implications, this should probably require adding support for `text-decoration` `line-through`.

[2018-01-29 22:52] hartez commented on #1668
@kingces95 @samhouts This appears to mostly be a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/1659. The only difference I'm seeing is that this issue calls for `LineBreakMode` support. Should this issue be updated to include only `LineBreakMode`?

[2018-01-29 22:57] samhouts commented on #1674
Since we're updating the same enum and same code in both feature requests, I vote we combine the issues to prevent conflicts. We can close #1632 and redirect here.

[2018-01-29 23:08] bmacombe commented on #1673
I'm willing to take a look at this issue.  Would like some others input on what units to use to define the size of the circle.  Do we want to just do a simple circle or allow more complex items like polygons or lines based on OpenGIS Well Know Binary/Text, etc?

[2018-01-29 23:08] PureWeen commented on #1681
Unless I'm mistaken *Button* is the only XF element that has a BorderWidth so it doesn't quite seem like an established standard.  This and a few other tickets are trying to establish a Border concept across a lot of elements so it seems like a good time to establish something more overall useful.

Maybe just obsolete BorderWidth on Button?

It also maps to *border-width* in css which is only 4 si

[2018-01-29 23:10] PureWeen commented on #1681
Also Margin takes a Thickness

[2018-01-29 23:30] programmation commented on #1714
One of the keys to getting this working is to be able to have a full-screen overlay view (under the FAB but on top of the main window's content) that floats over and masks the main window (also trapping and exposing touches) and allows presentation of the FAB's content. This is currently very difficult to achieve in "pure" Xamarin Forms because it's hard to dig into the hierarchy of windows and pl

[2018-01-29 23:39] hartez commented on #1632
Updated this issue to include strikethrough from #1674, since they both require modifying most of the same code.

[2018-01-29 23:40] hartez commented on #1674
Okay, merged this spec into #1632.

[2018-01-29 23:40] #1674 closed

[2018-01-30 00:30] PureWeen commented on #1736
Repro confirms issues

Tested with latest Xam Forms / Android libraries as well.
iOS works hides and shows the field correctly
Android does not

Thank you for the reproduction

[2018-01-30 00:43] hartez commented on #1695
@PureWeen how do we determine the thickness of the Border Color portion of that diagram?

[2018-01-30 01:00] hartez commented on #1695
@PureWeen Can you update the spec to make that explicit (that these properties are being added to IBorderElement and the BorderElement static class)?

[2018-01-30 01:10] hartez commented on #1681
Folding this into #1695.

[2018-01-30 01:10] #1681 closed

[2018-01-30 01:22] hartez commented on #1710
Rolling this into #1695.

[2018-01-30 01:22] #1710 closed

[2018-01-30 01:26] hartez commented on #1664
Also, I'm not certain using a set of corner radiuses really captures the intent here - I think what people want is to be able to say "the image should display at this height and width, and it should be shaped as an ellipse which fills that rectangle". @davidortinau does that seem accurate?

[2018-01-30 01:29] hartez commented on #1709
It might be worth considering generalizing this to generic interface we can apply to all views (or at least a few of the easier ones, to start with).

[2018-01-30 01:32] yinyue200 opened #1737 "can't reference gtk platform"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
can't reference gtk platform
I think revert #1629 could fix the issue.
### Steps to Reproduce

1. install the nuget via PackageReference  (not packages.config)
2.
3.

### Expected Behavior
Xamarin.Forms.Platform.GTK is be referenced

### Actual Behavior
Xamarin.Forms.Platform.GTK isn't be re

[2018-01-30 02:35] hachi1030-Allen opened #1738 "Xamarin Forms WebView first time do Google search navigation, CanGoBack will return false"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
This is Allen from AGPC support team. I have one customer that is having issue with Xamarin Forms WebView control. The issue symptom is that we simply use WebView to load Google as start page, and when we do a simple search in Google, it will navigate to the list of the search result page, a

[2018-01-30 02:51] dansiegel opened #1739 "[Enhancement] Allow hooking into an App's DI Container"
## Rationale

Many apps are currently utilizing one DI Container or another. It would be highly beneficial for Xamarin Forms to be able to hook into the app's container (if present) to be able to create types using the app's existing container rather than relying on `Activator.CreateInstance`. This should allow developers to inject services into Renderers, Effects, etc.

## Implementation

The imp

[2018-01-30 03:02] bmacombe commented on #1670
@davidortinau I'll pick this one up since the repeater control is in limbo at the moment.

[2018-01-30 03:21] Sivaraman761 opened #1740 "[UWP] ViewModel Destructor never call when custom view and ListView are having same ItemSoure."
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

In that while using only Listview in the view its working perfectly. While using custom view only in the view working perfectly.
The issue occur only custom view and ListView are in the same view and having same ItemSource.

using customView and test it with the  PerformanceProfiler only on

[2018-01-30 03:47] samhouts opened #1742 "[Enhancement] ToolbarItem A11y"
## Rationale
Building on #713, this would add VoiceOver/TalkBack/Narrator capability to ToolBarItems. Included in this change would be limited support for setting accessibility properties on the MasterDetailPage toggle button and the NavigationBar back button.

Can take most of the changes from #889 now that #1199 is merged.

## Implementation
### `ToolbarItem`s
- [All] `ToolbarItem`s with `Text`

[2018-01-30 06:00] andreinitescu commented on #1695
I was wondering why do interfaces like `IBorderElement` or `IPaddingElement` exist instead of just having properties?
I don't see any implementation currently in XF which needs to get hold of a `IBorderElement` instance for some specific purpose.

[2018-01-30 06:19] andreinitescu commented on #1728
A decision needs to be taken for iOS.
For how it needs to look, I suggest using the look from Mac OSX (NSSwitchButton style)
And I think we should draw it using Core Graphics since vector graphics is only an option for iOS 11+ by using PDF AFAIK.

[2018-01-30 06:20] hachi1030-Allen commented on #1738
Update something here. Since the issue video is recorded under iPhone simulator, so I tried to build one native iOS application using WKWebView and the issue cannot be reproduced on native platform. That's why I am thinking this issue should be Xamarin Forms issue.

[2018-01-30 07:18] andreinitescu opened #1743 "ItemsControl"
## Rationale

Represents a control that can be used to present a collection of items. It delegates the arranging of items to a Layout.

## Implementation

I have a simple implementation here: https://github.com/andreinitescu/XFItemsControl (checkout the video with control in action). Please see the last section in the readme with my comments.

Some points need to be discussed:

**1. Which base cla

[2018-01-30 07:24] andreinitescu commented on #1718
@hartez I created a ticket for ItemsControl here #1743
Need as much feedback as possible from everyone.

[2018-01-30 07:36] andreinitescu opened #1744 "[Enhacement] Grid splitter"
## Rationale

Represents the control that redistributes space between columns or rows of a Grid control.
See https://msdn.microsoft.com/en-us/library/system.windows.controls.gridsplitter(v=vs.110).aspx

## Implementation

<Grid RowSpacing="0">
      		<Grid.RowDefinitions>
      			<RowDefinition />
      			<RowDefinition Height="Auto" />
      			<RowDefinition />
      		</Grid.RowDefinitions>

[2018-01-30 08:02] jfversluis commented on #1663
@alanag13 did you do anything yet? I think I indicated to @davidortinau that I would pick this up :)

[2018-01-30 08:06] #1712 closed

[2018-01-30 08:50] jsuarezruiz commented on #1709
I think it's a great idea. There are requests for the same with a StackLayout, etc.
Do we complete this Issue and create another one later?

[2018-01-30 09:07] Ofaim commented on #1644
Hey @pauldipietro !
Thank you very much for taking the time to answer :)
I already linked a reproduction project, done by @shantimohan .
I changed it a bit, and it can be found [here](https://github.com/Ofaim/Navigation-fault-after-removing-a-tab).

According to @shantimohan ([here](https://forums.xamarin.com/discussion/114609/tabs-navigation-fault-after-removing-a-tab)) , the issue is Android-spe

[2018-01-30 09:49] rmurray26 commented on #1434
Any update on a fix for this?  We are seeing the same issue setting the binding context in XAML using an IoC container (Autofac).

For now our work-around is to capture the binding context on page instantiation and then set the context on the page back to the original after setting it as the root child in a navigation page or when pushing pages onto the navigation stack, but this feels like a bit

[2018-01-30 10:24] CZEMacLeod commented on #1728
If this is implemented, I feel it should definitely have a tristate option, as this is one of the major use cases for checkboxes for me.
More important that a checkbox would be a radio button group, which I don't believe is on your list of new or enhances controls?

[2018-01-30 11:29] Srusti-Thakkar commented on #1340
I want to open dialer when user click on Request Number value. How is it possible?

[2018-01-30 11:56] ojasteredesai opened #1745 "Expand/Collapse issue for inner grid within Listview."
Hi,
This is regarding expand/collapse issue for inner grid within listview.

**Platform - IOS**
**Issue#1- Expand/Collapse function gradually becomes time consuming after performing** expand/collapse several times.

PFA video - IOS Expand-Collapse issue 1.mp4

**Platform - IOS/Android**
**Issue#2- When the expandable grid is not visible (Collapsed) bydefault and we perform expand/collapse function

[2018-01-30 13:28] therealjohn commented on #1380
@pleb @jbogard

I am able to reproduce the Multiple Assemblies error in Visual Studio 15.5.5 but not in VSMac. I've created a [DevCom item to track this](https://developercommunity.visualstudio.com/content/problem/190590/multiple-assemblies-with-equivalent-identity-have.html).

[2018-01-30 13:52] andreinitescu commented on #1728
This needs some planning. There's already a `Slider` control.
I suggest having a `ToggleButton` abstract class and have `CheckBox` derive from it.  `Switch` should derive from it too but I guess it's too late for that.

[2018-01-30 14:02] bmacombe commented on #1743
After a quick look at the source for the example implementation support for the following should be included.

INotifyCollectionChanged on the ItemSource
DataTemplateSelector on the ItemTemplate

[2018-01-30 14:48] alanag13 commented on #1663
@jfversluis this one's all yours!

[2018-01-30 15:08] Depechie commented on #1705
I already tried fixing this from outside the main Xamarin Forms repo - [http://depblog.weblogs.us/2017/07/12/xamarin-forms-tabbed-page-uwp-with-images](http://depblog.weblogs.us/2017/07/12/xamarin-forms-tabbed-page-uwp-with-images).
The actual problem was getting hold of the correct style being used for the tabs in UWP.

Maybe I can try to fix this in the main repo now?

[2018-01-30 15:27] jvansickle-cei opened #1747 "MacOS 10.12 NativeView Layering Bug with Label"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
A Label appears under a gradient layer of a Grid on MacOS 10.12.6, works appropriately in MacOS 10.13.2

### Steps to Reproduce

1. Create xaml of a grid

<Grid x:Name="TheGrid" WidthRequest="210" HeightRequest="44" Grid.Row="1" Grid.Column="0" VerticalOptions="Center" Margin="0" Padding="0"

[2018-01-30 16:00] CZEMacLeod commented on #1728
Well Switch currently derives from View, so I would have thought it possible to insert ToggleButton into the inheritance chain as suggested. However, I think that if this is being looked at then perhaps adding an interface or similar and making Switch and SwitchCell more consistent would be very useful as well as adding a bindable ToggleCommand in addition to the ToggledEvent.
Not sure quite how t

[2018-01-30 16:21] mikescandy commented on #1675
Hi, I just opened a pull request on this issue. I have a few questions about the implementation, but it is a starting point.
The mapping was obvious enough.

[2018-01-30 16:48] hartez commented on #1695
Those interfaces enforce a set of properties which an Element requires for a particular set of features. This can be used to map CSS properties (take a look at AssemblyInfo.cs in the Core project); the properties can be mapped to `IPaddingElement` which applies to Frame, Layout, and Page right now; anything else we later mark with that interface will also support those properties.

It also gives u

[2018-01-30 16:56] jassmith commented on #1692
I agree that there is complexity here and the urgency to implement this is minimal. If such a thing were to be designed properly and done, fine. It is rather unlikely we will implement this ourselves.

[2018-01-30 17:09] davidbritch opened #1749 "Desktop support: can't set a single modifier on an accelerator (macOS)"
### Description

On macOS, you can't set a single modifier on an `Accelerator`. However, multiple modifiers can be set.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the ContextMenuPage.
3. Right-click on the `BoxView` and examine the context menu accelerators for each `MenuItem`.

### Expected Behavior

On the context menu you should see CTRL + R for Red, CMD + G for Green, an

[2018-01-30 17:23] PureWeen commented on #1695
@hartez   good point added an extra property for that and some additional consideration notes

[2018-01-30 17:46] andreinitescu commented on #1692
My suggestion is to have something like how Windows XAML has, a `MediaElement` control
See https://msdn.microsoft.com/en-us/library/system.windows.controls.mediaelement(v=vs.110).aspx

It doesn't have any UI beside actual video rendering. No volume controls, no seek bar, nada.
It does have methods like `Play()` `Pause()` `Stop()` and some events to notify when playback changed.

[2018-01-30 17:52] hartez commented on #1692
The [UWP media element](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.mediaelement#transport-controls) _does_ have UI other than the video. You can hide the transport controls, but they are available.

[2018-01-30 17:57] andreinitescu commented on #1692
@hartez Correct. I was referring to older XAML platforms (WPF, WindowsPhone, Silverlight). I guess they added it in UWP because of the unified platform idea which means unified look and feel too

[2018-01-30 18:12] hartez commented on #1692
So here's _my_ thinking, as of right now: if vanilla, out-of-the-box XF supports a media player element, it will be a basic one which utilizes the built-in native media players. Like, very, very basic. For advanced scenarios, bells-and-whistles, etc, developers will need to look at plugins (like the ones Adrian mentioned upthread) or write custom renderers.

That's the scenario I'm currently targe

[2018-01-30 18:22] hartez commented on #1743
TemplatedItemsList handles grouping, which is a _lot_ of overhead that you probably don't want in ItemsControl.

TBH, there's not a ton of code in ItemsView<T>, and it wouldn't be tragic to duplicate the parts you need. But if necessary, you could pull the code you want to reuse into an intermediate abstract class or a helper class.

[2018-01-30 18:22] CZEMacLeod commented on #1728
@andreinitescu Here is pseudo code for set of classes that maintains the base types already in Xamarin.Forms along with their properties but rationalises the existing controls and adds a CheckBox and TriState variant control. Obviously I have not included any of the binding properties or hooked up the implementations at all, but thought it might be food for thought and addresses your comment regar

[2018-01-30 18:25] andreinitescu commented on #1692
@hartez I think that's what I said too.
Can you please update the description of the ticket to reflect what you said?
I suggest to just have a clear list of events, properties, and methods.
I think the things you mentioned in `Difficulty: Very` are not needed, nor the idea of using ExoPlayer.

[2018-01-30 18:26] hartez commented on #1695
@PureWeen What's the rationale behind having an internal color in a Border? What are we gaining with that extra layer? When I think about adding a border to an element, I usually think of just a solid (single color) outline of a specified thickness.

[2018-01-30 18:31] andreinitescu commented on #1743
Thanks. Jason said on the Repeater ticket you guys are going to discuss this internally and come up with proposal. Maybe I should close this one then?

[2018-01-30 18:33] hartez commented on #1743
Might as well leave it open for now in case other people have answers to your other questions.

[2018-01-30 18:38] hartez commented on #1692
The stuff under "Difficulty" is still relevant; at the very least, the control has to play nice with system audio events. For example, when a call comes in, the native player needs to respond by ducking or pausing; that change in state has to be reported up to the Forms control.

[2018-01-30 18:45] ice-j commented on #1668
@davidortinau I would like to take this issue too, since I'm working on #1659

[2018-01-30 18:57] hartez commented on #1709
Keep rolling on this one, I'm going to write up a separate proposal for IRoundedCorners and depending on timing, we can either update this to implement that interface or call this "phase 1" of that proposal.

[2018-01-30 19:04] PureWeen commented on #1735
What device specifically are you running this on?
I ran a few tests on a Pixel XL emulator and it seems to look good

Largest
![image](https://user-images.githubusercontent.com/5375137/35585066-1f25e898-05b4-11e8-9bd8-70aa6f593762.png)

Default
![image](https://user-images.githubusercontent.com/5375137/35585124-46172174-05b4-11e8-95de-c552658ff068.png)

![image](https://user-images.githubuserconte

[2018-01-30 19:15] hartez commented on #1663
@jassmith @kingces95 This proposal has `MaxLength` as a `uint` which is inconsistent with the `CursorPosition` type in https://github.com/xamarin/Xamarin.Forms/issues/1667. Any reason that `MaxLength` shouldn't be an `int`? That would make it consistent with UWP TextBox max length; EditText on Android appears to use an `int` as well.

[2018-01-30 19:15] ceblanda opened #1750 "iOS Storyboard Launch Screen color issue"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

### Steps to Reproduce

1. Run the attached project.  Note that, though they are defined the same (#ff093254) the launch screen and page appear different colors.

### Expected Behavior
Color should be the same.

### Actual Behavior
Loading screen is a lighter color.

### Basic Information
T

[2018-01-30 19:19] samhouts commented on #1714
@hartez That may be the long-term goal, or it may be achieved with platform specifics for whatever platforms support those features, but I think we want to keep it as simple as possible for now, since we're basically inventing it on iOS/UWP.

@programmation That's good feedback. I think we'll be able to work around those limitations better, since this will be in the platform code instead of having

[2018-01-30 19:29] PureWeen commented on #1695
@hartez   that mainly came from looking around at how/what kinds of borders I saw.  A very typical use case I saw would be to have a black outline on the border. Especially in cases with rounded images where it would be
Black | Color | Black

So mainly just trying to capture a larger set of the use case as I can with the API before someone has to use a renderer

But I could see the fill being spli

[2018-01-30 19:31] CZEMacLeod commented on #1663
@hartez I would have thought that CursorPosition and SelectionLength in #1667 should be uint on the basis that negative numbers are not valid for position, selection length and max length here. Either that or appropriate range validation should be done?

[2018-01-30 19:45] hartez commented on #1663
True, if we use an `int`, we will have to check it for `< 0`. That could take place in the BindableProperty.

If we use a `uint`, we still have to validate the value, but we'd have to do it on each platform (assuming `uint` is valid for _any_ platform; I'm not sure if iOS can really have a text field of > 2,147,483,647 characters). The `uint` set in Forms might be greater than the maximum possible

[2018-01-30 19:47] rmarinho commented on #1669
i wonder if we can do this as a Effect , or even maybe use the suggestions api #1693 make it more general effect and add the NoResultsText to SearchBarSuggestionsEffect

[2018-01-30 19:48] hartez commented on #1714
@samhouts Since it's not really part of the iOS or Windows design languages, is there really demand for us to create one on those platforms? Or are people just asking for us to support a FAB on Android?

[2018-01-30 19:48] rafaelpereira-mobrj opened #1751 "ListView hides first item after scrolling to bottom on Xamarin.Forms iOS side"
### Description

ListView within a StackLayout in a ContentPage does not scroll all the way to the top on iOS yet works fine on Android.

### Steps to Reproduce

1. Tap on a ListView item.
2. Scroll to the bottom of the ListView.
3. Scroll back to the top of the ListView.

### Expected Behavior

Scroll all the way to the top of the ListView to see the very first item.

### Actual Behavior

Scroll

[2018-01-30 19:53] rmarinho commented on #1678
How does this work for iOS and UWP ?

[2018-01-30 19:53] duzenko opened #1752 "[iOS] NullReferenceException on a reused ContentPage with a grouped ListView"
### Steps to Reproduce

Using the attached sample
1. Click on the Switch button on the first page
2. Click on the Switch button on the second page

### Expected Behavior
App does not crash.

### Actual Behavior
App crashes.

### Environment

[code]

### Build Logs

[1.txt](https://github.com/xamarin/xamarin-macios/files/1678360/1.txt)

### Example Project (If Possible)

[temp.zip](https://github.c

[2018-01-30 19:56] rmarinho commented on #1732
We should at least define the API that we have in mind. Some tips how to implement in each platform will help.

[2018-01-30 19:57] FetFrumos commented on #1373
Any news?

[2018-01-30 20:04] CZEMacLeod commented on #1663
Does 0 = Unlimited apply here, or are we going to Int.MaxValue ?
Also shouldn't this enhancement also be applied to the Editor control as well?

[2018-01-30 20:04] jfversluis commented on #1663
OK so int would make more sense?
And how about the default value? 0 for 'unlimited'?

[2018-01-30 20:57] hartez commented on #1663
I think `int.MaxValue` as the default would work fine; that's effectively "unlimited" (insofar as we aren't the ones limiting it - the native controls are).

Ideally. Which means that the BindableProperty could be put on `InputView` so we don't have to repeat it.

[2018-01-30 20:59] hartez commented on #1678
Same as Android.

[2018-01-30 21:09] michaeldwan commented on #1711
We implemented this for iOS & Android using platform APIs after javascript proved to be unreliable. Off the top of my head, js added a 50-100ms lag which caused an unsightly flash before resizing, DOM sizes were frequently a few px adrift of the rendered bitmap, and detecting changes after the initial load require polling (or a ResizeObserver polyfill.)

It turns out that observing size changes of

[2018-01-30 21:15] kntiwary commented on #1435
@rmarinho  Looks Like this is not fixed list view crashes for count greater than 3. There's tap gesture
 <Label.GestureRecognizers>
                                                                     <TapGestureRecognizer Tapped="PatientTransactionHistory" CommandParameter = "{Binding}" />
                                                                 </Label.GestureRecognizers></Label>

[2018-01-30 21:18] michaeldwan commented on #1734
We implemented this with a quick and dirty effect. Our use case didn't require responding to changes so we omitted that, but it's worked well and should be straight forward to bake into Label.

### Routing effect
[code]

### iOS PlatformEffect
[code]

### Android PlatformEffect

[code]

[2018-01-30 21:20] hartez commented on #1734
@michaeldwan Are you sure you didn't mean to post that in https://github.com/xamarin/Xamarin.Forms/issues/1706?

[2018-01-30 21:43] hartez commented on #1711
@michaeldwan Awesome. If there's a closer-to-native way to make it work, then that's what we'd like to use. I don't want to depend on JS for anything unless we absolutely have to.

[2018-01-30 21:50] PureWeen commented on #1678
@hartez   I changed the spec to apply to the InputView and to verify implementation with the Entry and Editor controls

[2018-01-30 22:33] alanag13 commented on #1632
I'll take this one back since no one jumped at it when I gave it up earlier and it's currently (incorrectly) marked as in progress.

[2018-01-30 22:36] PureWeen commented on #1728
TriState is an interesting one because UWP is really the only place that has that concept natively.

So for Android and iOS it'd have to be "invented" though iOS it's all being invented :-)

UWP is really the only platform I've seen that has an indeterminate state even other things like Flutter/React Native just have two

Tristate might be something better left to an effect/toolkit because I'm not

[2018-01-30 23:39] hartez opened #1754 "[F100] Rounded Corners"
## Rationale

Rounded corners are a common visual requirement which Forms does not support without custom renderers. Forms should provide a common interface for defining rounded corners on Views.

## Implementation

We need to add an interface for defining what's required for a View to implement corner rounding (and provide CSS support):

[code]

The CornerRadius BindableProperty can be implemente

[2018-01-30 23:39] hartez commented on #1709
https://github.com/xamarin/Xamarin.Forms/issues/1754

[2018-01-30 23:48] programmation commented on #1754
One common requirement is to create an ellipse / circle (depending on geometry of the view). This can't be done easily with a numerical value for border rounding - it's better done as a percentage, or with a flag that says "create an ellipse". Please consider using "special" values for the flag (e.g. -2 for ellipse), or making the values work like `Grid` width/height do.

[2018-01-30 23:49] programmation commented on #1754
Perhaps this could eventually be extended to allow a `BezierPath` for the border of a view? All the platforms support doing this.

[2018-01-30 23:55] PureWeen commented on #1752
Example project reproduces issue

Also tested Xam Forms project against Android and android does not crash

[2018-01-31 00:15] PureWeen commented on #1751
For now I'm going to move this into more info until there's a repro

I tested a few different ListView variations on iOS 7 and iOS 8 and I couldn't recreate the behavior
Personally I haven't seen this issue

[2018-01-31 00:19] hartez commented on #1754
Maybe the right option is to have an interface called `IMask` or `IClip`, and allow specifying the method used for clipping/masking the View (e.g., CornerRadius, Path, Ellipse).

[2018-01-31 01:02] nestor-nov opened #1755 "[iOS] Race condition between the main thread and a thread used by CADisplayLinkTicker"
### Description

Race condition between the main thread and a thread used by CADisplayLinkTicker
CADisplayLinkTicker invokes Quartz.CATransaction.commi()t which is deciding to do an auto layout while not on the main thread, in the main thread we are adding/removing ContentViews (Note class in our code) to an AbsoluteLayout

This makes the iOS version of our app to crash.

[code]

### Basic Informa

[2018-01-31 01:59] andreinitescu commented on #1695
@PureWeen  I've personally never used border fill. How is it implemented natively exactly? Can you please give a very quick example? Any platform will do

[2018-01-31 02:27] michaeldwan commented on #1706
We implemented this with a quick and dirty effect. Our use case didn't require responding to changes so we omitted that, but it's worked well and should be straight forward to bake into Label.

### Routing effect
[code]

### iOS PlatformEffect
[code]

### Android PlatformEffect

[code]

[2018-01-31 02:27] michaeldwan commented on #1734
@hartez 🤦‍♂️

[2018-01-31 02:31] alanag13 commented on #1676
So `SetAllCaps` is a property of `TextView` (from which `Button` inherits) rather than `Button`. Should the platform-specific be added at the `TextView` level, or is this item only relevant to `Button`? Are there any other controls that inherit from `TextView` besides `Button`, `Label`, `Switch`, and `Entry`?  That seems to be the complete list best I can tell based on this: https://developer.andr

[2018-01-31 05:13] PureWeen commented on #1695
[code]

But it probably doesn't make since as a parameter and more interesting borders should be implemented through a different mechanism. For example just nesting things that have borders since after this everything can have borders

[2018-01-31 05:28] PureWeen commented on #1740
Did you forget to attach the repro?

[2018-01-31 06:29] tsjdev-apps commented on #1664
Are there any news how to implement this feature? In my opinion the `bool` is the best type and than call it something like `ShowAsRoundedImage` as property. What do you think?

[2018-01-31 07:36] StephaneDelcroix commented on #1754
make sure the default value is `-1` aka RoundedCornerElement.Default

I'm wondering if we couldn't put that property in BorderElement

[2018-01-31 07:40] StephaneDelcroix commented on #1730
that's a control you're trying to control. XF shouldn't do that. the reason is that we can not change its appearance once it's released, and it'll feel awkward in a version or 2 of iOS or Android.

[2018-01-31 07:43] StephaneDelcroix commented on #1695
see also #1754

[2018-01-31 08:56] andreinitescu commented on #1695
@PureWeen Personally I'm not in favor of the border filling idea. But I see you already edited the ticket and remove that 👍

[2018-01-31 09:28] #1652 closed

[2018-01-31 09:42] StephaneDelcroix commented on #1659
see comment https://github.com/XamarinFormsCommunity/Xamarin.Forms/pull/2#issuecomment-361876374 about reusing existing BPs

[2018-01-31 10:08] adamped commented on #1340
@StephaneDelcroix - VisualElement has a style property that sets a property in a class scoped MergedStyle class. This class looks like it is doing the applying of the style. If I inherit directly from Element and implement the interfaces, no styles are applied.

To me it looks like the MergedStyle class is the key. If I take that out of the VisualElement. Then inherit Span from Element as usual. B

[2018-01-31 10:14] StephaneDelcroix commented on #1340
@adamped yes, that looks fine. MergedStyle is indeed responsible for applying normal Styles, whereas CSS styles are applied through Element

[2018-01-31 11:11] programmation opened #1758 "ControlTemplate's visible but transparent views mask user taps"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

Given an app that uses a `ControlTemplate` to provide functionality, if the `ControlTemplate` has a `ContentView` above its `ContentPresenter` (i.e. after it in the XAML), the `ContentView` masks user taps unless its `IsVisible` property is set to false.

This is a breaking change from prev

[2018-01-31 14:23] Paul-Brenner-Tangoe commented on #1735
Looks like you have to run this on a device with a small screen. I cannot reproduce on a Nexus 5x or a Nexus 6, but I can reproduce it on an emulator with a small resolution. The emulator I am using in those screen shots is from genymotion - "Custom Phone - 768 x 1280 " running Android 7.

[2018-01-31 14:40] #1614 closed

[2018-01-31 14:50] rmarinho commented on #1698
Doesn't this already exists?

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/NavigationPage.cs#L9

[2018-01-31 15:08] mattleibow commented on #1737
Maybe not a REVERT as such but rather the removal of the `<references>` nodes. I am not sure what that is for since those assemblies are already in the actual NuGet package...

[2018-01-31 15:17] mattleibow commented on #1737
This also needs to be fixed for these packages:
https://github.com/xamarin/Xamarin.Forms/search?utf8=%E2%9C%93&q=references+extension%3Anuspec&type=

[2018-01-31 15:20] mattleibow commented on #1737
Just a note. This appears to sometimes work with the old packages.config file, but does not work at all with the <PackageReference>

[2018-01-31 15:36] jsuarezruiz commented on #1737
I'm going to review this Issue.

[2018-01-31 15:54] rmarinho commented on #1704
Maybe a event for FinishedPlaying

[2018-01-31 15:56] rmarinho commented on #1711
Yeah definetly not using JS IMO. Do we have a clue if this is possible in all platforms? we should investigate .

[2018-01-31 15:59] rmarinho commented on #1684
we should make sure this is in sync with #1690 in terms of properties and naming

[2018-01-31 16:07] andreinitescu commented on #1704
GIF is considered inefficient today. MP4 videos are preferred, because they have much much smaller size than animated GIF, and great quality.
There's a separate ticket for adding a MediaElement control, I think that could be a better option.

[2018-01-31 16:37] jassmith commented on #1727
1) I think for now that should be unsupported

2) We will need to change the swipe direction I think.

[2018-01-31 16:47] PureWeen commented on #1704
This will probably be absorbed by https://github.com/xamarin/Xamarin.Forms/issues/1692 but just to frame this issue the motivation was for chat apps and very simple playback. So user a  sends user b a hilarious cat/dog gif they can watch.

[2018-01-31 16:56] michaeldwan commented on #1711
I have code for Android, iOS, and Mac. I've never done UWP, but we could always fallback to JS if there's no better native API. I'll put a PR together for the platforms I know then investigate the others. cc @davidortinau

[2018-01-31 16:56] michaeldwan commented on #1706
@davidortinau I'll take this

[2018-01-31 17:48] llevera commented on #1698
@rmarinho It would appear that is only for iOS? This may be because on Android a translucent status bar is ordinarily done through themes which will be challenging to achieve with Xamarin Forms....

[2018-01-31 18:22] llevera commented on #1702
@davidortinau Just confirming I am looking at this one

[2018-01-31 18:24] llevera commented on #1702
This appears an excellent basis for this change https://stackoverflow.com/a/36067371

[2018-01-31 18:51] andreinitescu commented on #1704
@PureWeen  I see, emojis / emoticons you mean. That might make sense, they should be very small, not sure.

[2018-01-31 18:52] andreinitescu commented on #1702
I wish more controls have padding...

[2018-01-31 19:03] ceblanda opened #1760 "Regression Issue - Content set after an await is not visible"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Android only, Master/Detail window opened from master, Content is blank if set after an await

### Steps to Reproduce

1. Run the attached app.  Label on the detail screen reads "Before the await", then changes to "After the await"
2. Open the Master menu and choose the TestPage option.  Thi

[2018-01-31 20:06] MisterJimson commented on #1646
I am seeing this as well. 2.5.0.122203

[2018-01-31 20:39] arevellfraedom commented on #1702
This basic change is trivial, the most complex area is ensuring this does not conflict with padding already used to support buttons with images & text together

[2018-01-31 22:04] ctartamella commented on #1729
I would like to take this one.  @davidortinau

[2018-01-31 22:50] barani-trmb commented on #1520
@pauldipietro - how does this ticket get into the queue ? Anything required from my end?

[2018-01-31 22:58] pauldipietro commented on #1520
No; it's in the "Ready for Work" queue on the triage project board and will be worked on a time to be determined. We also always welcome bug fixes from the community.

[2018-02-01 00:34] PureWeen commented on #1725
What's your use case?

I'm pretty sure the code you are referencing doesn't really deal with the DependencyService that's more for setting up Platform Specific implementations for each platform

The Dependency Service is it's own thing
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/DependencyService.cs

Does this issue relate to what you need?
https://github.com/xamarin/Xa

[2018-02-01 06:03] DineshBabuYadav opened #1764 "[Android] Child elements are not layout for custom controls if detail page is navigated at runtime in MasterDetailPage in Xamarin Forms Android platform"
Hi All,

We have previously raised an query regarding the child elements did not get layout for Custom controls(Similar to ListView control) if we switch the detail page from Master page menu icon.

Please refer the report link below.
https://github.com/xamarin/Xamarin.Forms/issues/1421

But you have moved the status into **Invalid**.

Though the issue may occur in **Custom control**, we couldn't

[2018-02-01 09:51] StephaneDelcroix opened #1766 "[CSS] CSS properties are inherited, but should not"
### Description

consider this CSS
[code]

and this page
[code]

the entry bg color is pink instead of white. background-color shouldn't cascade (like color does)

### Steps to Reproduce

see description

### Expected Behavior

applying a bg-color through CSS should have the same effect as if it was applied by property.

### Actual Behavior

it is not

### Basic Information

/

[2018-02-01 09:56] bentmar commented on #1754
https://github.com/NAXAM/effects-xamarin-forms
have a look at ViewEffects, Naxam has done a great job on this one, might help to speed things up :)

[2018-02-01 10:44] ojasteredesai commented on #1745
Hi,
Any updates on this issue...

[2018-02-01 11:05] StephaneDelcroix commented on #1766
yes, they should, stupid. the C in CSS stands for cascading

[2018-02-01 11:34] r-a-y-w commented on #1439
@samhouts (or @davidortinau) So, I'm a bit confused, what is missing for the current NuGet release to get this bugfix? You said it is already in the 8.0/8.1 Branch? I'm using 2.5.0.122203 and this bug still exists. Is it possible to make a 2.5.0.xxx release with this fix so we can finally make a release for 8.1 & UWP?

@davidortinau Thanks for the Wiki.
@alistair23 It's apparently already in the b

[2018-02-01 11:51] #1766 closed

[2018-02-01 16:29] alanag13 commented on #1676
@jassmith can you let me know your thoughts on the above? Otherwise I'll just assume that for completion's sake it's best to apply this to all the `TextView` controls I mentioned.

[2018-02-01 16:32] PureWeen commented on #1695
As @StephaneDelcroix  pointed out there's some related internal discussion/work going on in https://github.com/xamarin/Xamarin.Forms/issues/175. We're working out the best way to expose all of this in a simple/useful way. Once those ideas come together we'll update these sets of tickets with more thoughts on implementation details

[2018-02-01 19:49] rmarinho commented on #1737
fixed by #1772

[2018-02-01 19:49] #1737 closed

[2018-02-01 19:55] alistair23 commented on #1439
Ah awesome! So it looks like the 15-5 branch is the 2.5 release branch: https://github.com/xamarin/Xamarin.Forms/commits/15-5

Can nightlies just be turned on for that branch/2.5 release?

[2018-02-01 19:57] alanag13 commented on #1679
@hartez @davidortinau @adamped  i have a PR for this ready here: https://github.com/XamarinFormsCommunity/Xamarin.Forms/pull/3. Thanks!

[2018-02-01 20:33] hartez opened #1775 "[Enhancement] SuggestionView (maybe ComboBox?)"
## Rationale

Forms currently lacks a control which allows selection of items from a bound, templated list with the option of entering text to filter down that list. (IOW, the equivalent of a classic WPF ComboBox or the UWP AutoSuggestBox.

## Implementation

Bindable Properties:
- `TitleProperty`
- `PlaceHolderProperty`
- `ItemTemplateProperty`
- `ItemsSourceProperty`
- `SelectedItemProperty`
- `

[2018-02-01 20:50] jvansickle-cei opened #1776 "Button Released not being triggered"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

Xamarin.Forms for macOS is not triggering Released when a button is clicked.

### Steps to Reproduce

1. Create a custom Button
2. Add as a named element in a xaml layout
3. Add an event to the Released EventHandler
4. Check for calling of event

### Expected Behavior

Event is triggered

#

[2018-02-01 21:42] EmilAlipiev commented on #1740
@PureWeen  repro is here. http://www.syncfusion.com/downloads/support/forum/135633/ze/TestSfDataGrid_51197b96

[2018-02-01 21:45] PureWeen commented on #1595
do you have a sample project with the issue?

I tried the Xamarin localization sample project here
https://github.com/xamarin/xamarin-forms-samples/tree/master/TodoLocalized

and in release mode with embedded assemblies the language on everything updated when I changed the locale on the device without having to restart the app.

[2018-02-01 21:53] praeclarum opened #1777 "Cannot build .NET Core app that reference Xamarin.Forms"
### Description

When you reference Xamarin.Forms from a .NET Core app, the build fails with:

### Steps to Reproduce

1. Make a .NET Core app
2. Reference XF 2.5
3. Build

### Expected Behavior

Build succeeds

### Actual Behavior

The above error is returned.

### Basic Information

- Version with issue: 2.5.0.122203
- IDE: VSCode + VS for Mac

[2018-02-01 21:56] hartez opened #1778 "[Enhancement] Popup Control"
## Rationale

Forms users would like to have the option of defining and displaying Popup controls. These are controls which are modal, can host arbitrary content, allow for complex user interaction, can return a response from the user, and are expressed (by default) using the appropriate controls on each platform:

- iOS – UIView presented by a UIPopoverPresentationController
- UWP – Flyout
- Andr

[2018-02-01 22:09] hartez commented on #1664
@tsjdev-apps I think we're still trying to answer some questions on that.

There's @davidortinau's larger question of whether we can extend this to any content; I think the answer will probably be "yes", but even if that turns out to be the case, we'll still need a specific implementation for each renderer.

A more specific question I think we should answer is what "rounded" means; are we looking

[2018-02-01 22:47] czuvich opened #1779 "[iOS] Map Memory Leak in ListView Header"
### Description

When using a Map custom renderer inside of a ListView header, the Map is not being released and is leaking memory.

### Steps to Reproduce

1.  Navigate to a Page with a Map in a ListView header.
2.  Navigate back to the original page.
3.  The map Dispose() is never invoked nor is OnElementChanged. The map never gets released.
4. Repeat.

### Expected Behavior

Dispose() should be

[2018-02-01 23:32] PureWeen commented on #1738
Yea there's definitely a race condition going on here.. It seems the Navigated fires before CanGoForward and CanGoBack get set

As a small workaround I noticed that if you inject a slight delay it's enough for those settings to be accurate

[code]

[2018-02-01 23:35] PureWeen commented on #1646
Do you have a repro and maybe a few more details about your environment?  Just so I can get an idea of the conditions you are running this under? I saw one of the bugzilla issues had a repro but I was unable to recreate the issue with that.  I've tried it on simulator/real device/debug/release/messed with linker and wasn't able to cause it to happen.   Gaining some insight into your running condit

[2018-02-02 00:43] PureWeen commented on #1760
Might be related to
https://github.com/xamarin/Xamarin.Forms/issues/1736

It seems the issue here is with the ScrollView control.  The label is inside a scrollview and when it's set after the await it doesn't render the new label. If you change the container to a StackLayout then it does render the label after the await

I've attached a slim down version of the reproduction.  In HeaderPage.cs you'

[2018-02-02 00:45] tdyocum commented on #1667
Hi @davidortinau I'd like to take this issue please.

[2018-02-02 01:04] PureWeen commented on #1685
[App4.zip](https://github.com/xamarin/Xamarin.Forms/files/1687745/App4.zip)

Sample looks fine on Android and iOS

[2018-02-02 01:59] MisterJimson commented on #1646
These are the details I have.

Seeing it on Android versions 5.0, 5.1.1, 6.0.1, 7.0, and 7.1.1 in the field. Very inconsistent when trying to reproduce in house but happens occasionally. Usually after the app has been running and used for a while. Most of my reports show the app running for a few minutes before crashing, however I see 2 reports that occurred less than 10 seconds from startup.

Als

[2018-02-02 04:24] alanag13 commented on #1699
@hartez I noticed that this is mostly already implemented as `WebView.Eval(script)`, with the only missing piece being that that method is void rather than returning `string` as this suggests.

It doesn't look like it would be safe to simply change this implementation to return a string instead, namely because on GTK and Tizen the native methods this is mapped to in the renderers return void (Andr

[2018-02-02 07:16] adamped commented on #1340
@StephaneDelcroix - I have my PR ready for a pre-review. https://github.com/XamarinFormsCommunity/Xamarin.Forms/pull/4

Quick question: Do we need to squash our commits anymore, because now GitHub has a nice convenient Squash and Commit button.

[2018-02-02 07:35] alanag13 commented on #1682
this is ready for review.

[2018-02-02 08:52] rogihee commented on #1778
Some inspiration perhaps: [https://github.com/rotorgames/Rg.Plugins.Popup](url)

[2018-02-02 09:07] r-a-y-w commented on #1439
Sorry, it's fixed since a month, no minor version release and I'm sure you could easily make a cherry-pick etc. and release a 2.5.0.12220*4* quickly.

Where do I find the nightly that works with WIn8.1/UWP? It's been months, and finally got fixed, a month ago, and still nothing? If you won't do a release, where do I get the build (guess won't work with NuGet then). What is missing to get this work

[2018-02-02 09:10] r-a-y-w commented on #1439
...or create a minor release 2.5.0.1.2220**4**, which would take less time than each of us probably spent commenting here 😆

[2018-02-02 09:41] sander1095 commented on #1439
What @r-a-y-w is saying makes perfect sense; why is this not happening?

[2018-02-02 09:47] workgroupengineering opened #1782 "[Proposal] Conditional XAML"
### Description
Allow [Conditonal XAML](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/conditional-xaml)
### Steps to Reproduce
none

### Expected Behavior
like [this](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/conditional-xaml)
### Actual Behavior
none
### Basic Information

- Version with issue: All
- Last known good version: none
- IDE: All
- Platform Target Fram

[2018-02-02 10:39] #1493 closed

[2018-02-02 13:46] tsjdev-apps commented on #1664
In my opinion most of the time the users whats an circled image. So the easiest way was to rewrite the renderes and caluclate the radius while taking the smalles side (width or height) and make the image round. Than you can also apply a Color for a border or the border thickness if you want.

[2018-02-02 16:01] andreinitescu commented on #1778
@hartez Any particular issue or roadblock with the Popup implementation started on that branch? Or it wasn't just enough time to completed yet?

[2018-02-02 16:09] alanag13 commented on #1696
I can take this!

[2018-02-02 16:25] AlexF12004Roma opened #1783 "UWP - OnShareTargetActivated Init Error"
### Description

When a Forms App starts after a onShareTarget invocation,  Xamarin.Forms.Forms.Init(e) throws an Exception.

### Steps to Reproduce

1.  Add Share Target declaration in UWP (any kind)
2.  Share with the APP
3.  Try to Init Forms

### Expected Behavior
Frame rootFrame initialized

### Actual Behavior
Exception

### Basic Information

- Version with issue: 2.5.0
- IDE: VS2017
- Plat

[2018-02-02 16:28] StephaneDelcroix commented on #1340
@adamped your commits are fine as-is

[2018-02-02 16:46] hartez commented on #1778
@andreinitescu Just never enough time/demand to finish it. I think the branch is missing NavigationPage support, but otherwise is pretty close to the final spec (the big difference is that the branch calls them Popovers instead of Popups).

The branch has a bunch of demo code [in the Control Gallery](https://github.com/xamarin/Xamarin.Forms/blob/popover/Xamarin.Forms.Controls/GalleryPages/PopoverG

[2018-02-02 16:54] EmilAlipiev commented on #1587
@StephaneDelcroix  I found my problem. error was appearing because of myApp.nuget.props and myApp.nuget.targets files... when i delete them. i dont get this error anymore. how are they generated and whey do i have imports like below in each of these files and why do they throw this error. below what i had in each files

[code]

[2018-02-02 17:31] PureWeen commented on #1740
it's called for me

![image](https://user-images.githubusercontent.com/5375137/35746227-5c17a600-0803-11e8-9117-36f46a72036b.png)

Also the GC.Collect is called with a parameter of 100 but the max generation is 2
you can check
[code]
for the max generation

[2018-02-02 17:45] bholmes commented on #1776
Adding small app to repo report.

[Forms-Issue-1776.zip](https://github.com/xamarin/Xamarin.Forms/files/1690274/Forms-Issue-1776.zip)

[2018-02-02 17:49] bholmes commented on #1654
I observed the same behavior this morning.  I found a better guide in [the docs.](https://developer.xamarin.com/guides/xamarin-forms/platform-features/mac/)

The blog could be behind or it could be a bug.

[2018-02-02 18:45] PureWeen commented on #1655
Confirmed with repro

Definitely takes a few tries to trigger the behavior. Couldn't recreate on android

[2018-02-02 18:52] PureWeen commented on #1755
Would it be possible to provide a repro project for this issue so that we can accurately reproduce and fix?

[2018-02-02 18:55] marcojak commented on #1622
Same problem here but I don't think it's directly related to the resource sound file.
I don't have such file but I get the same error and I'm reading more and more people online having the same issue.

I suspect it's something related to Xamarin Forms and .Netstandard

[2018-02-02 20:05] mattleibow opened #1786 "Dummy issue"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

[2018-02-02 20:05] #1786 closed

[2018-02-02 20:09] StephaneDelcroix commented on #1782
what's the rationale for this ?

[2018-02-02 21:35] PureWeen commented on #1758
The behavior change you're seeing was intentional and came about in an effort to align how this works between the three platforms
https://github.com/xamarin/Xamarin.Forms/pull/935

[2018-02-02 21:35] #1758 closed

[2018-02-02 21:37] bholmes commented on #1750
I do see the difference.  However if I manually set the color in the storyboard editor again I feel I get the correct behavior.  The color element of the view in the storyboard file appears to be the important part of this issue.  Can we find out how this storyboard was created?  Was it on Windows.  I was on Mac.  That could be the difference.

If I edit the text of the storyboard with the followi

[2018-02-02 21:38] alanag13 commented on #1696
@rmarinho looking over this, shouldn't it be part of #1697 ?

[2018-02-02 22:03] PureWeen commented on #1783
This is an interesting (annoying?) one.

The issue here is that on UWP Xamarin Forms only really works single windowed so you can't re-init the new window opened by OnShareTargetActivated  if you already have a window opened.

To handle a case where the app is opened from OnShareTargetActivated you essentially just have to call the same code in OnLaunched. Both of those args just inherit from *IAc

[2018-02-02 22:03] #1783 closed

[2018-02-02 22:25] jakubsuchybio opened #1787 "Can't use .NET Standard with MasterDetailPage consistently"
### Description
When I create blank Xamarin.Forms project with .NET Standard shared library and I replace default MainPage with new MasterDetailPage created from New File selector. Then when I use Live Player it compiles and correctly shows on android phone. HOWEVER, when I create folder for example "Views" and move all classes that were created with MasterDetailPage and try to compile it again I

[2018-02-02 22:26] AlexF12004Roma commented on #1783
Mmmm.

I  put Forms init in a common method, when the app is already running rootFrame is not null but
rootFrame.Content is null and if i call "rootFrame.Navigate(typeof(MainPage), files);" i got Exception

[code]

[2018-02-02 22:58] AlexF12004Roma commented on #1783
I think it is the same as "OnFileActivated", this works well because if the app is open rootFrame.Content is not null so i can get the already opened MainPage.

[code]

[2018-02-02 23:08] hartez opened #1788 "[Enhancement] Seal public attributes"
## Rationale

Some of the attributes in Forms not follow the guidance for [CA1813](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1813-avoid-unsealed-attributes). These include:

- `ExportEffectAttribute`
- `ResolutionGroupNameAttribute`
- `DependencyAttribute`

Sealing these attributes would give us a minor performance boost during application startup (as we search through assemblie

[2018-02-02 23:44] adamped commented on #1701
@davidortinau - I'll attempt this one now. Most likely going to regret this :)

[2018-02-02 23:58] dansiegel commented on #1701
@adamped but the rest of us appreciate your pain...

[2018-02-03 00:33] PureWeen commented on #1783
this is roughly what I mean

[code]

[2018-02-03 01:26] PureWeen commented on #1745
[ExpandableSectionIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/1691261/ExpandableSectionIssue.zip)

I modified your sample slightly

A few things
1) the performance is improved if you set the caching strategy to recycle. https://developer.xamarin.com/guides/xamarin-forms/user-interface/listview/performance/
Since you have a lot of items in that list the performance gets pretty slow us

[2018-02-03 01:26] #1745 closed

[2018-02-03 01:39] PureWeen commented on #1764
There are a couple open issues around scrollviews on Android right now
https://github.com/xamarin/Xamarin.Forms/issues/1332
https://github.com/xamarin/Xamarin.Forms/issues/1736

That look like they may address the issue you are having

I'm thinking once those are resolved this should start working for you on android
Thoughts?

[2018-02-03 01:53] PureWeen commented on #1777
[XFtest.zip](https://github.com/xamarin/Xamarin.Forms/files/1691297/XFtest.zip)

The attached project builds for me inside VS for Mac but not through the dotnet cli

https://github.com/xamarin/Xamarin.Forms/pull/1284

[2018-02-03 01:58] juepiezhongren opened #1789 "What about ubiquitous things for Xamarin.Forms?"
Thanks to Flutter, a lot of xamarin-fans are seriously considering ubiquitous looking things,@Mike-EEE, but indeed there is avalonia for years, @kekekeks.

Thanks to Skixam, @adamped, a sample project aimed to create another platform like flutter.

- Xamarin.Forms is loved and enjoyed, but it is a "limited" abstraction in the form of native wrapper, which lacks the strong customizablity in wpf and

[2018-02-03 02:12] programmation commented on #1758
This is a breaking change. Was it highlighted anywhere in release documentation? I recall seeing the PR you mentioned and that's what triggered my experiment with the `IsVisible` flag. NB: `IsVisible` appears to have the same effect as `InputTransparent`. Why is this? Why have two flags that apparently do the same thing? Is one deprecated?

[2018-02-03 02:14] BradChase2011 commented on #1610
@j4m3z0r

OK, I made one with the NSPopupButton for ya.  Not gunna lie, I like it quite a bit.  Matter of fact I am going to use it now.  I havent noticed much of a performance drop but on the other hand I havent put it through the perf tools yet and I use a full screen modal picker for large lists including a search and autocomplete feature.  It is MUCH more usable to say the least.  I am definit

[2018-02-03 02:22] programmation commented on #1758
Looking at release notes history I see that the PR you referenced landed in XF 2.4. However there's no mention of a breaking change, and no mention of its impact on iOS either. The only comments are about Android.

[2018-02-03 02:24] BradChase2011 commented on #1610
To follow up the reality is anything over 30 already starts to degrade performance at a pretty high rate.  Android is probably the worst offender I have seen.  We actually throw an exception at runtime so our developers and testers know the wrong control was used.  So it might fit with this control better.  It does potentially break an apple design rule, but on the other hand I haven't seen them f

[2018-02-03 03:10] adrianknight89 commented on #1788
What about `PreserveAttribute`, `DependencyAttribute`, and `ResolutionGroupNameAttribute`? Also, the article suggests that attributes should either be sealed or abstract. Do you care which one you embrace?
 Some attributes like `XmlnsDefinitionAttribute`, `RuntimeNamePropertyAttribute`, `StylePropertyAttribute`, and `ProvideCompiledAttribute` are not public. Should attributes be made public?

Not

[2018-02-03 05:48] adamped commented on #1701
Ok, I have delved into this, and come across some design decisions that I need to run past you.

1) Having a Command on a Span didn't make sense when a Label has GestureRecognizers not commands. As such I was thinking of having GestureRecognizers on the Span instead. e.g.

[code]

2) I would then create a new SpanGestureRecognizer class. This would look something like this.

**Please note, this is

[2018-02-03 07:02] Mike-EEE commented on #1789
FWIW @juepiezhongren I am investigating Ooui here:
https://github.com/praeclarum/Ooui

If there is a way to package it up with [Trigger.io](https://github.com/praeclarum/Ooui/issues/74) you would be able to run .NET in all the major four food groups of iOS, Droid, Windows, and web.

It's still in a bit of a demo state, but it's caught my interest. 👍

[2018-02-03 10:52] workgroupengineering commented on #1782
hi,
in my case i would using for debugging purpose,but there are endless use cases.
very very stupid example:

[code]
DEBUG is codintional compiling symbol.

[2018-02-03 11:40] StephaneDelcroix commented on #1782
how does

fits with

?

[2018-02-03 13:39] AlexF12004Roma commented on #1783
Sorry, there is something i dont understand.

**Case 2**: app not open - OK app starts [The problem was due to async added on method OnShareTargetActivated]; all seems working BUT when i call any **DisplayAlert** app crash, all modal windows let app crash.

**Case 1**: app already open -  BeginInvokeOnMainThread crash the app immediately also if i comment le line [ push new second page]
App4.App (

[2018-02-03 16:02] dansiegel commented on #1782
@workgroupengineering while I can certainly understand the desire for tying into compilation symbols, as that would open up the ability to have elements added to the UI to display debug info, but only for the Debug build, I really have to agree with @StephaneDelcroix. I don't see how your example fits with the original issue.

I would also add here, Xamarin Forms has long since provided mechanisms

[2018-02-03 16:49] amihailes commented on #1475
Sae problem on VS2017 15.5.6 with iPhone 6 11.2.5.

[2018-02-03 20:15] davidortinau commented on #1787
Can we see your csproj file? I suspect there may be some bad references in there causing a conflict as a result of the file move.

[2018-02-03 20:32] PureWeen commented on #1783
So I think with the DisplayAlert you're running into is a Xamarin Forms bug which is essentially this
https://forums.xamarin.com/discussion/94174/crash-calling-displayalert-when-using-windows-assigned-access

Unfortunately I wasn't able to find a way to work within the current Xamarin Forms system to get around the issue so that you can just use the DisplayAlert mechanism.

You can build your own

[2018-02-03 20:58] PureWeen opened #1790 "[UWP] Calling Display Alert from Windows Assigned Access causes app to crash"
### Description
If an app is opened via a share target then Xamarin Forms crashes when checking IsInvokedRequired

[code]

See screen shot for exception

### Steps to Reproduce

1.  Run the attached reproduction
2. Close the app
3.  share something of content type "TEXT" to the app .  I was just using the MAP app and sharing from there

The code calls DisplayAlert from the *OnShareTargetActivated*

[2018-02-03 20:58] PureWeen commented on #1783
https://github.com/xamarin/Xamarin.Forms/issues/1790

[2018-02-03 21:11] programmation commented on #1782
I have done this kind of thing by binding to `StaticResource`s from the app's `ResourceDictionary`. If you have a key in the dictionary that's set at runtime you can switch `IsVisible` as needed on your debug element. Because it's in the app's `ResourceDictionary` it also works with the forms previewer.

[2018-02-03 21:19] dansiegel commented on #1782
@programmation that certainly works... though you do end up with a View that is created when it doesn't need to be

[2018-02-03 23:32] charlesroddie commented on #1789
The OP is hard to understand but I gather that "ubi" means "a Xamarin.Forms view rendered in a platform-independent way using SkiaSharp or something similar". In that case "ubi" containers cannot contain non-ubi things. I assume the OP is a request for more people to create "ubi" views? If "ubi" views do get created I'm sure most of us would have no objection to using them.

[2018-02-03 23:48] PureWeen commented on #1747
[MacPlatform.zip](https://github.com/xamarin/Xamarin.Forms/files/1692322/MacPlatform.zip)

[2018-02-04 00:11] #1740 closed

[2018-02-04 02:26] adrianknight89 commented on #1591
Not sure what's the verdict on this (i.e. bug or no bug), but I saved you the effort of writing up a PR.

[2018-02-04 02:39] adrianknight89 commented on #1336
I think `More` is not really supported by Forms. This was because of the fact that the `More` controller is a navigation controller and any of the tabs under this group can potentially be another navigation controller. To prevent nested navigation controllers, support for this button was never rolled out.

See #573.

[2018-02-04 02:53] programmation commented on #1782
@dansiegel for debug I don't care as much as I might for runtime. However there are so many other inefficiencies in the Xamarin.Forms system as a whole that I'm willing to tolerate this little inefficiency, until I'm happy it's working as advertised, then comment out the XML in the source before final testing - but only if I can prove that leaving it in is creating too much of an overhead. Otherwi

[2018-02-04 04:29] PureWeen commented on #1507
@ravinderjangra    is this still giving you issues?  I'm new to the forms team and the Forms project has been building fine for me on windows.

[2018-02-04 04:36] PureWeen commented on #1573
@owlstack.   did you get this resolved?  The  git command Stephane referenced is just a way to clean out your working directory. So it's just a way to leverage git to make sure you don't have any weird artifacts causing issues. That command will delete out your bin/obj and any "compiler" generated files.

[2018-02-04 04:41] PureWeen commented on #1542
@grammatn   can you create/attach a project that demonstrates the exception you are having?

[2018-02-04 06:49] adamped commented on #1701
Managed to get it working on all resizing and different lines on UWP at least. A bit of cleanup, then on to iOS and Android :)

![gesturespan](https://user-images.githubusercontent.com/13672662/35774996-b45371ba-09d3-11e8-957f-a38133a64442.gif)

[2018-02-04 06:52] PureWeen commented on #1582
[App4.zip](https://github.com/xamarin/Xamarin.Forms/files/1692527/App4.zip)

[2018-02-04 07:13] Mike-EEE commented on #1789
Part of the issue here is that it would take a change in how we view "native" applications, Or rather how they are rendered.  HTML5 is really the greatest example here.  You can view an HTML5 page on any device and it will essentially look the same regardless of the device . IMO this is how **all** applications should be rendered.  If you want a "platform-specific" rendering or interactions, this

[2018-02-04 07:25] PureWeen commented on #1622
I ran the reproduction project from VS 15.5.6 with the latest Xam Forms *2.5.0.122203*  and didn't get any exceptions.  Also tried on VS For Mac and didn't get any exceptions.    I also installed XFShapeView and didn't see any issues
[AndroidResourceBug.zip](https://github.com/xamarin/Xamarin.Forms/files/1692556/AndroidResourceBug.zip)

I'm attaching a version of the repro that has the SLN file as

[2018-02-04 07:39] PureWeen commented on #1622
Alright I spoke too soon. I was able to reproduce by adding and removing the m4a a few times. Though this still feels like it might be a tooling issue and not a Xamarin Forms issue.  If I remove or add the m4a file and then run the project right away I get the nullreference exception. But if I just rebuild the project or delete the bin/obj folders then I don't get a null reference exception. So th

[2018-02-04 08:22] ravinderjangra commented on #1507
Now it's working fine. I skipped submodule while cloning and rebuild all the projects one by one.
Thanks all for help.

[2018-02-04 08:22] #1507 closed

[2018-02-04 10:38] charlesroddie commented on #1789
The uservoice thread was a call for something like Xamarin.Forms. It was posted in 2015 before Microsoft bought Xamarin. Out of its requirements, Xamarin.Forms has released on 1) Windows 10 4) Droid 5) iOS , is in preview on 3) *nix (Unix/Linux) 6) Macintosh, has started with 2) Legacy Windows, and just doesn't do 7) HTML5 which is too different. And actually Windows 10, Droid, iOS, Legacy windows

[2018-02-04 11:00] jakubsuchybio commented on #1787
I don't think that is the case. I just tried it again. Make snapshots of csproj files of shared+android projects. (see the zip file)
zip structure:
clean new - just after xamarin.forms solution creation - working
before moving - after adding MasterDetailPage via Add - working
after moving - after moving MasterDetailPage to folder ```Views``` - not working
after moving back - after moving MasterDet

[2018-02-04 12:49] Mike-EEE commented on #1789
Thank you for taking the time to present your views, @charlesroddie.  I very much appreciate them.

That's exactly the mindset/attitude we're combating here, unfortunately.  The web is simply a hosting environment, exactly like how native platforms are hosting environments for applications.  By looking at the web as "different" you fall into the [very costly trap of having to develop and maintain

[2018-02-04 15:19] AlexF12004Roma commented on #1783
Thank you.
I will wait the Fix.

The crash when i call
[code]

Is due to the same issue, right?

[2018-02-04 16:00] TWINSBaltiya commented on #1362
I got to fix the situation with this code addition:

using System.Reflection;
var assembly = typeof(ImageResourceExtension).GetTypeInfo().Assembly;
ImageSource.FromResource("BugSweeper.Images.Xamarin120.png", assembly);

"ImageResourceExtension" is any type from the assembly where the image is embedded.

[2018-02-04 16:48] charlesroddie commented on #1789
I have no expertise in web tech and when I said too different I meant that current technology appears a long way from bridging the gap between native and web app structures. Xamarin.Web would be a nice idea but hard to implement, although there may be a [proof of concept](http://praeclarum.org/post/167525842703) already based on Ooui. In a Xamarin.Forms context this would of course mean less html,

[2018-02-04 17:02] BioTurboNick commented on #1622
I can confirm that Rebuild appears to correct the problem. Thank you for pointing that out.

Workaround: Every time a resource is added, perform a Rebuild on the solution (and/or delete bin and obj folders).

[2018-02-04 18:43] Mike-EEE commented on #1789
That's the aha here, indeed.  I don't think it's that difficult at all, considering.  Ooui doesn't (yet) support data binding, or any sort of Xaml-constructs, but those should be easy enough to implement.  Also, please don't get me wrong here as I am not a fan of HTML at all, in fact [Xaml is a requirement listed](http://blog.developers.win/2015/10/ubiquitous-qualities/#xaml-powered) in the UserVo

[2018-02-04 19:03] johnfredrick opened #1793 "MSBuild task fails to copy Fody on VSTS Agent build"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
I'm traying to build the app every time I make a Check In to source control.
The build breaks when Realm Task tries to copy the Fody dll to Tools directory.

### Steps to Reproduce

1. Create build definition within Visual Studio Team Services and try to build

### Expected Behavior
Build co

[2018-02-04 19:11] PureWeen commented on #1783
That one I'm not actually not as sure about the direct cause... I saw that exception also but for me I only got that exception when debugging the app..

If I just run the app outside of a debugger then it all just works fine with no crash and the window closes without any issue

I haven't followed that thread very far yet though to see what causes that Access Violation error and if it's more relat

[2018-02-04 19:22] PureWeen commented on #1587
@EmilAlipiev   can you attach your project? It'd be useful to see the full csproj files

Are you using PackageReference or packages.config?  If you're using PackageReference I think you can delete
[code]

[2018-02-04 21:03] PureWeen commented on #1747
Can you attach a repro please? I created the one above and the label appears on top for me. Though I only have 10.12 running in a VM which might not be an accurate test

[2018-02-04 22:49] EmilAlipiev commented on #1587
my references are stored in the csproj file. I dont use Packages.config. code i have copied is from myApp.nuget.targets  file. I dont know why it has these lines but it solves the problem after deleting these 2 files completely. many people having this problem as i can see on xamarin forums. just wanted to reference here. otherwise my problem is already solved

[2018-02-04 22:49] #1587 closed

[2018-02-04 23:18] timrisi opened #1795 "Crashing in Xamarin.Forms.Platform.iOS.LabelRenderer.UpdateText ()"
### Description

I posted on the XF forums about the issue (https://forums.xamarin.com/discussion/120074/crashing-in-xamarin-forms-platform-ios-labelrenderer-updatetext) but haven't had any responses yet, and it looks like a bug in Forms itself, not my code, so moving over to here.

I've been using XF 2.3.4.270 for quite a while now. With the last update, I finally updated ot a newer version (2.5.

[2018-02-05 05:12] Nijamudeen-Mohamed opened #1796 "TabbedPage issue while tapping multiple times with user interactive custom control"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Placing a Customs control in a tabbed page and keep on tapping (different points around 100+ taps) on Custom view (child)  exception thrown and applications crashes.

We suspect that it was an Android framework issue and it was already discussed in the following forums and no solution found.

[2018-02-05 06:17] timrisi commented on #1795
As another point of info, I just tested on Android (been on iOS) and the same crash does not occur there.

[2018-02-05 08:47] workgroupengineering commented on #1782
Hi, I would suggest that it works like a precompiler without compromising performance in runtime.

[2018-02-05 09:00] StephaneDelcroix commented on #1782
@dansiegel and @programmation: you're a bit out of context here.

@workgroupengineering

that's definitely not the intent of conditional xaml.

XF already supports conditional xmlns, depending on platform (`targetPlatform` argument of the `cir-namespace`)

[2018-02-05 11:20] ThumbGen commented on #1435
I have lost hope that this crash will ever be fixed :(

Xamarin.Forms 2.5.0.122203

- [LabelRenderer UpdateTextColor()]
System.NullReferenceException: Object reference not set to an instance of an object

Xamarin.Forms.Platform.iOS.LabelRenderer.UpdateTextColor()
Xamarin.Forms.Platform.iOS.LabelRenderer.OnElementPropertyChanged(object sender, PropertyChangedEventArgs e)
<Module>.invoke_void_object

[2018-02-05 11:40] kntiwary commented on #1435
I have been waiting for this bug to be fixed. This is a major Bug

On Mon, Feb 5, 2018 at 4:50 PM, ThumbGen <notifications@github.com> wrote:

[2018-02-05 12:31] rmarinho commented on #1654
Yeah this was a change @bholmes we actually needed the storyboard when we add Menu support.  @davidortinau can we make sure we update the blog with this info.

[2018-02-05 13:26] Sokoo92 commented on #1342
When is this gonna be fixed? Any work around atm?

[2018-02-05 13:47] Paul-Brenner-Tangoe commented on #1735
@PureWeen can you remove this from needs-info?

[2018-02-05 14:18] bruzkovsky commented on #1342
@Sokoo92 I added my workaround to the description, hope it can help you out...

Anyhow, will we get an update on this soon? @StephaneDelcroix @jassmith

[2018-02-05 14:25] Sokoo92 commented on #1342
@bruzkovsky awesome! Thanks :) I'll navigate to the Tab before adding it to the Collection :)

[2018-02-05 14:28] knocte commented on #1654
@rmarinho oh, but I thought this might have been fixed by https://github.com/xamarin/Xamarin.Forms/commit/f0022e1361c997d6e40ffd7b88bdc1cfa7b2e0ee ?

I guess I could verify this by using MyGet+nightlies, but I was wondering, why don't you guys publish a 2.6 pre-release on nuget.org?

[2018-02-05 15:49] davidortinau commented on #1673
@bmacombe once the spec is "Ready for Implementation" I can make the assignment.

I agree, a circle is too limited. Could this take any view instead?

I'm looking at examples of other maps and we should be able to handle any manner of view that handles its own color, border, opacity, shape, and even animation.

I think we need some example use cases to guide this. @dotMorten perhaps you have some

[2018-02-05 16:32] rmarinho commented on #1775
Should we drop #1693 in favor of this one?! i m all for it.Could be a good add to the SearchBar

[2018-02-05 16:34] rmarinho commented on #1775
Also see #1669 related with this. We should add a NoResults template? Or user can provide a default item with that?

[2018-02-05 16:34] andreinitescu commented on #1728
It's pretty simple to do it with Core API.

[2018-02-05 16:53] rmarinho commented on #1796
Hi, we need to see a reproduction so we can take a look at the issue and check  if the issue is fixed with newer versions.

[2018-02-05 16:55] rmarinho commented on #1793
This doesn't seem a issue related with Xamarin.Forms

[2018-02-05 16:55] #1793 closed

[2018-02-05 17:08] hartez commented on #1788
`ResolutionGroupNameAttribute` should _absolutely_ be marked as `sealed`; it's part of the Effect scenario, we do reflect on it, and there's very little risk that anyone has subclassed it up to now.

`DependencyAttribute` is also a good candidate for the same reasons.

'PreserveAttribute' is used by the compilers and not at runtime, so there's not really a performance case for sealing it. However,

[2018-02-05 17:13] rmarinho commented on #1795
Still fails with master

[2018-02-05 18:13] hartez commented on #1775
I think if we decide to approve this proposal, we could drop #1693.

Good point. I added `NoSuggestionsTemplate`.

[2018-02-05 18:21] jakubsuchybio commented on #1787
So after googling again I can see that I am not alone. A LOT of ppl have the same issue...
For example:
https://stackoverflow.com/questions/47872757/xamarin-dependent-project-failed-to-build
https://forums.xamarin.com/discussion/113686/error-on-build-dependent-project-apptest-csproj-failed-to-build-using-old-version

[2018-02-05 18:24] samhouts commented on #1688
@dhaligas See #1719 for the left aligned toolbar items and #1716 for the TitleView

[2018-02-05 18:28] hartez commented on #1730
Instead of a View, shouldn't we just provide an abstraction over the concept of capturing/selecting images from the native camera/photo implementations?

[2018-02-05 18:41] jamesmontemagno commented on #1787
Can you go into the about section of the app and let me know what version you have?

We just rolled out updates this weekend for some fixes to this.

[2018-02-05 18:52] jamesmontemagno commented on #1787
Following the steps I was able to reproduce this when I move the files to "View".

This looks as a cache issue. We seem to not be removing the files on the move so it keeps the files around and thinks there are two instances of it.  Deleting the app from the phone and re-installing will completely clear it out. Today we will get this fixed up and ship an update. Thanks for opening the bugzilla bug

[2018-02-05 19:00] PureWeen commented on #1724
@StephaneDelcroix  @samhouts
I'm thinking for this we'll want to implement different images for different states *Focused, Pressed, Normal, Disabled*. It feels like the states aspect of image buttons are what differentiate it from just a Button with an Image.

The Image Button in the xamarin forms labs kind of captures what I'm thinking
https://github.com/XLabs/Xamarin-Forms-Labs/blob/master/src/F

[2018-02-05 19:41] dhaligas commented on #1688
thanks @samhouts .. how hard is #1719 ?  I need this one now so I am wondering if I can do this with a renderer?

[2018-02-05 20:34] alanag13 commented on #1699
@adamped, @davidortinau looking for opinions here -- given what we said about the support matrix, would it be safe to implement this by having `WebView.Eval` return `string`  and just having it operate as usual but return `null` on GTK and Tizen?

[2018-02-05 20:43] jvansickle-cei commented on #1747
I solved this by using the more appropriate ReplaceSublayer method when I have to change the clip of the gradient; being that this is a more appropriate approach than reseting the NSView's Layer property and that it fixes the issue with MacOS 10.12, I am going to mark this issue as closed. If I run into a layering issue again I will be sure to provide source code to reproduce more easily as it was

[2018-02-05 20:43] #1747 closed

[2018-02-05 20:56] smstuebe opened #1797 "Open/Closed principle missing"
### Description

I try to answer questions on stackoverflow from time to time. And always think "Ok this is a 5min Task. Just override a Renderer and that's it." But not with Xamarin.Forms. :( `internal` is used all over the place and this makes it impossible to extend native views without rewriting whole renderers. I encountered the following problem back to when Xamarin.Forms was closed source a

[2018-02-05 20:58] jassmith commented on #1699
We should deprecate Eval once EvaluateJavaScript is supported and works everywhere.

It is not safe to re-use the Eval method as this will break backwards compat.

[2018-02-05 21:00] ceblanda commented on #1750
@bholmes, I am using VS2017 on Windows
The color tag you supplied resulted in a color of 9, 49, 84 which is much closer.  But the storyboard editor shows it as #ff0a2442.  How did you calculate the color number?  Why does the editor show something so different?

[2018-02-05 21:01] jassmith commented on #1676
Yes, sorry for the delay. I was in boston all last week. Still catching up.

It would be ideal to add this to each of those controls yes. Unfortunately as its a platform specific and we wouldn't want to add this to each base class you will likely need to do a fair amount of copy/paste work here.

[2018-02-05 21:13] alanag13 commented on #1699
That makes much more sense and I figured we shouldn't re-use Eval, but I was stuck on the fact that both `Eval` and `EvaluateJavascript` would exist side-by-side. For some reason deprecating didn't occur to me :-), thanks for your input.

[2018-02-05 21:15] alanag13 commented on #1676
no problem at all, hope you enjoyed Boston.
I don't have a problem with some extra copy/paste if it produces something considered more ideal 😄 . Thanks.

[2018-02-05 21:18] jvansickle-cei commented on #1776
This is likely not a bug, but a side effect of NSButton. NSButton does not trigger mouseUp in any way by default. NSButton appears to use a Mouse-Tracking Loop approach as there is documentation about being able to periodically triggering a method as long as the button is held. To get around this, custom NSButton and ViewRenderer implementations can be used where the custom NSButton uses the Three

[2018-02-05 21:22] PureWeen commented on #1676
I'm not setting SetAllCaps for this issue
https://github.com/xamarin/Xamarin.Forms/issues/1683

But just wanted to reference other Caps efforts happening right now

[2018-02-05 21:29] jassmith commented on #1797
I think we can spend some time investigating if we can open this API up. I will try to get it put into the F100 queue if possible.

As for your questions:

Yeah unfortunately once something is public API its permanent. This means no matter what happens with it we can't change it. On many MANY occasions this has forced us to keep around buggy code/behaviors to avoid breaking subclasses/derived code

[2018-02-05 21:40] jvansickle-cei commented on #1776
Attaching updated app for example of custom NSButton

[Forms-Issue-1776 2.zip](https://github.com/xamarin/Xamarin.Forms/files/1696867/Forms-Issue-1776.2.zip)

[2018-02-05 21:44] lothrop commented on #1797
I've seen things in the .NET Framework change from internal to public, e.g., `Task.CompletedTask`. In which cases is opening up an API an issue?

[2018-02-05 22:11] jassmith commented on #1797
Moving from internal to public isn't a problem in itself. Its the new modes of usage which now have to be supported forever which are a problem sometimes.

[2018-02-05 22:22] smstuebe commented on #1797
And whats about semantic versioning? If you break something give it a new major version number.

[2018-02-05 22:23] j4m3z0r commented on #1610
Hey, just wanted to flag that I saw your message but need to get through a few other things on my TODO list before I'll be able to try this out. I take it to use this I need to checkout XF, substitute your gist for the corresponding file and build?

[2018-02-05 22:44] jassmith commented on #1797
Making breaks like that is a decision made above my pay grade. Historically it has never happened, though it has been my preference for some time.

[2018-02-05 23:25] programmation commented on #1797
Some observations:
1) Using semantic versioning enables a strategy where nothing has to be "supported forever".
2) Things break all the time anyway, regardless of how hard we try to prevent them from doing so. I had a breaking change from the latest XF a few days ago that wasn't signalled in the update docs. I filed a bug report, but it was analysed and returned as invalid because it was done on p

[2018-02-05 23:34] jassmith commented on #1797
@programmation which issue did you have a break with?

[2018-02-05 23:36] kzu opened #1798 "Normal logging verbosity is way too verbose when processing XAML"
### Description

When using `Normal` verbosity, we should only issue minimal messages that indicate build progress. We are currently emitting very detailed XAML processing messages when `Normal` verbosity is active, instead of doing so only on `Detailed`.

### Steps to Reproduce

1.  Clone the SmartHotel360 clients repo from https://github.com/Microsoft/SmartHotel360-mobile-desktop-apps
2. Open de

[2018-02-05 23:36] programmation commented on #1797
`Opacity` stopped affecting `InputTransparent`. I had a bunch of views that switched `Opacity` from `0.0` to `1.0` and back where fully transparent would enable touches to pass through to views underneath. Now this is controlled by `InputTransparent` alone. I've adjusted my logic to make it work again.

[2018-02-05 23:37] programmation commented on #1797
Here's the thread: https://github.com/xamarin/Xamarin.Forms/issues/1758#event-1455942076

[2018-02-05 23:38] jassmith commented on #1797
Found it, looking into a revert as a service release. The theory was supposed to be that we wouldn't get any breaks as the differences were mostly semantic.

We'll probably have to add a quirk mode to make the new more consistent behavior opt-in

[2018-02-05 23:39] programmation commented on #1797
Well, as I said, I'm not so bothered about breaking changes if they improve things. I can understand the rationale and I've already adjusted my logic. So unless you have legitimate objections from another corner, I'm happy with things as they are. :)

[2018-02-06 01:29] BradChase2011 commented on #1610
@j4m3z0r nope all's you have to do is include it in your project.  As long as the attribute is included at the top, it will be used instead of the one in XF.  So just drop the file in and use :).

[2018-02-06 02:43] xiangzLL opened #1799 "[iOS] listView without data crash on ipad."
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

On ipad,when set listView isrefreshing state is true and without items, at this time tap to srcoll the listView, it will crash.  but it's normal on iphone.

### Steps to Reproduce

1. set listview is refreshing is true  and without items.
2. tap to scroll the listview  (normal tap is ok)
3. app on ipad will

[2018-02-06 03:32] hachi1030-Allen commented on #1738
@PureWeen Yea, after testing, looks like this is a workaround to this issue. But still looks forward to the fix of this bug.

Thanks,

Allen

[2018-02-06 04:08] bmacombe commented on #1673
Using a view would be interesting, haven't thought of that angle.  I come from a more GIS centric background, so point, lines, polygons described via spatial coordinates is my normal thinking but I could see just sticking a view on a pin as more useful for many apps.

I'm happy to take a look once the spec is ready or glad to let someone else work on it also.

[2018-02-06 04:19] dotMorten commented on #1673
I'd be happy to give some insights but I feel like some of the requirements here are missing. Is the circle supposed to show how far something is from the pin? Ie a 1mile radius?
If so I don't really get how a polygon relates to a pin? Where should the pin be (centered doesn't mean the pin is inside).

[2018-02-06 05:17] dhaligas commented on #1797
I agree with opening things up.  For example you cannot extend the NavigationPageRenderer to get access to the Toolbar to add things like TitleView or change the NavigationIcon on the left.  Plus when trying to copy the code from source into your own project you have to copy a bunch of internal classes to get it to work and then you end up ditching it because it is just too much.