[2020-08-06 10:15] meee1 commented on #6547
[code]

so the issue is that the
C:\Users\michael\Source\Repos\MissionPlanner\bin\Debug\net461\Xamarin.Forms.Core.dll
path its finding is not the correct one, and Xamarin.Forms.Internals.ResourceLoader at that location does not have a "ResourceLoadingQuery" subclass. the one in the nuget packages directory does contain it.
so
module.AssemblyResolver.Resolve(AssemblyNameReference.Parse(type.assembl

[2020-08-06 11:39] StephaneDelcroix commented on #8479
just to confirm I'm understanding the bug correctly: the binding isn't updated when items are added to the ObservableCollection, right ? it works as expected if the items are present initially. If so, I have a unit test reproducing that exact behaviour

[2020-08-06 11:55] winterdouglas opened #11674 "[Bug] Grouped CollectionView on iOS freezes when manipulating items"
### Description
On iOS when the CollectionView is grouped and items get added/removed the changes make the app to freeze, not only the list but in the case I see here even the loading indicator that I have, so I suppose it's something blocking the main thread.
On Android it just runs smooth.
See the attached reproduction link below.

### Steps to Reproduce

1. In a grouped collection view, add som

[2020-08-06 12:32] AswinPG commented on #7744
If this was implemented it would also help with performance too right ? I really like this idea

[2020-08-06 13:56] raver99 commented on #10853
I have the same problem
Any updates or workaround on this one? As filtering a list should be a pretty common use case.

I used CollectionView but had to come back to Listview, as the former had several issue as well (with RefreshView and other performance issues).

I hope ListView get's back some love and is still maintained in the future.

[2020-08-06 15:16] JTOne123 commented on #9999
This is my example of use case

[code]

Related topic in stackoverflow
https://stackoverflow.com/questions/54949444/xamarin-layout-cant-receive-focus

[2020-08-06 16:09] glatzert opened #11675 "[Enhancement] Consider making RefreshView available with all Layout containers"
## Summary
Despite it being written on the RefreshView Documentation Page, I just sunk like 3 hours in trying to make a RefreshView work with another container. I think it should not depend on scrollable content, since there's no reason to disallow a StackLayout from being refreshed, if it's not in a ScrollView.

(Also I'd suggest to remove the RefreshView and replace it with an Behavior on either

[2020-08-06 16:09] MitchBomcanhao commented on #11483
I've just tried switching over from ListView to CollectionView and scrolling performance is atrocious.

[2020-08-06 16:26] ysmoradi opened #11676 "[Bug] Custom IImageViewHandler's LoadImageAsync gets called, but IImageSourceHandler's LoadImageAsync doesn't get called in all situations"
### Description

If I got things rights, we've two interfaces to provide custom image loading in xamarin forms

1- IImageViewHandler which gets called for every Image & ImageButton
2- IImageSourceHandler which gets called for ImagesSources in TabbedPage toolbar items, page backgrounds, page icons etc.

IImageViewHandler gets called for every Image/ImageButton I've, so it works as expected.

IImage

[2020-08-06 16:34] nacompllo commented on #10801
@samhouts After doing some tests on my machine with the Xamarin.Forms repository I have followed the trace of the error and it happens exactly in this line of the Platform.cs class: https://github.com/xamarin/Xamarin.Forms/blob/29b92aa1fc2b9d834bb3b95cc224e07d0cc3e9b4/Xamarin.Forms.Platform.Android/Platform.cs#L1341

I have wrapped the method in a try catch to get the StackTrace and this is the re

[2020-08-06 16:56] softlion commented on #9463
I see an error message on Android when trying to use the material icon font with FontImageSource for a tab icon.

The same font displays fine when used on a Button in the same project.

Using Forms 4.7.0.1239 on netstandard 2.0 on Android API 26 simulator.

`
08-06 16:52:39.799 E/FontFamily( 6025): Error mapping font file /data/user/0/com.zzz/cache/material_icons_regular.ttf
[0:] Image loading: Im

[2020-08-06 16:59] PrimoDev23 commented on #11616
@mfeingol are you talking about android specific or cross platform? On android it is possible as long as u don't use Visual Material and stay with appcompat
It is possible with material too but u can't switch themes dynamically anymore then

[2020-08-06 17:01] mfeingol commented on #11616
The only mechanism I'm aware of is what I mentioned under `Workaround` above. Is there a different mechanism?

[2020-08-06 17:08] PrimoDev23 commented on #11616
Well, I somehow missed the workaround section. It is possible with styles.xml and works fine actually (and not that bad workaround because we are on native ways, so this should be harder but cleaner at all)
I tried using a custom renderer which wasn't working that good. I currently go with styles.xml theme and switching themes dynamically by using a dependencyservice

[2020-08-06 17:25] mfeingol commented on #11616
Yeah, I'd be happy to write a renderer if needed, but I haven't found the native Android APIs to do this. I was hoping I was missing something.

I think the ask here is for dynamic on-the-fly theme switching, ideally using Xamarin Forms APIs.

[2020-08-06 17:27] mjmostachetti commented on #11642
I've added an issue11642 to the shared Issues list.
https://github.com/mjmostachetti/Xamarin.Forms/tree/bug/11642

Here are pictures of before and after toggling a group w/ the same backing data. The first group is not rendered correctly after clearing the list and replacing it w/ an identical group.
![Screenshot_1596696714](https://user-images.githubusercontent.com/6486831/89562654-23f9d880-d7cf-

[2020-08-06 17:31] PrimoDev23 commented on #11616
Renderer for Picker at example is either PickerRenderer or MaterialPickerRenderer. U can open a number picker Dialog or whatever on click but in my Tests it looked totally different from what XF uses by default. I think the best way would be to create a custom control or wait until its added.

Under android u can switch themes/styles at runtime with this line

`MainActivity.Instance.SetTheme(theme

[2020-08-06 19:04] crs2m5smith commented on #10031
the above workaround did not work for me, setting Dispose to return still causes exception

[2020-08-06 19:05] PureWeen commented on #11675
Yea, the main issue here @glatzert is that we are using all the native implementations for refresh controls and all of those (except I think UWP) require a scroll view

There's a really good chance with MAUI that we might move our RefreshControl implementation to using a swipe view which would allow a lot more scenarios like you are indicating here

[2020-08-06 19:06] PureWeen commented on #11675
https://github.com/dotnet/maui/issues/199

[2020-08-06 19:06] #11675 closed

[2020-08-06 19:19] PureWeen commented on #11674
Still seeing on latest nightly (4.8)

[2020-08-06 19:20] PureWeen commented on #11673
duplicate https://github.com/xamarin/Xamarin.Forms/issues/2758

[2020-08-06 19:20] #11673 closed

[2020-08-06 19:59] Softtinn opened #11678 "[Bug] Image sizing problem with CarouselView inside an Expander"
### Description

The Expander control behaves strangely when a CarouselView is set as its content. The images are being shown as thumbnails instead of their acutal size after the content is collapsed. See the included .GIF-file.

### Steps to Reproduce

1. Setup the Expander control according to the official documentation.
2. Inside the Expander, add a CarouselView as the Content.
3. Feed the Caro

[2020-08-06 20:02] Softtinn commented on #10835
I've submitted a new bug report as this issue hasn't been reopened.
See: [11678](https://github.com/xamarin/Xamarin.Forms/issues/11678)

[2020-08-06 20:07] ChaseFlorell commented on #1454
I too ran into this today, I ended up stacking buttons to make it work

[code]

My preference would be that `InputTransparent` actually override the thing.

[code]

[2020-08-06 20:26] PureWeen commented on #11670
The binding context set on the template is the ShellItem itself so if you want to get to the BindingContext then use BindingContext.

It's similar to control templates how the bindingcontext on the control template is the control itself

[code]

[2020-08-06 20:26] #11670 closed

[2020-08-06 20:27] PureWeen commented on #11650
duplicate https://github.com/xamarin/Xamarin.Forms/issues/11650

[2020-08-06 20:27] #11650 closed

[2020-08-06 20:38] PureWeen commented on #11649
@ltetak can you attach a repro?

I tested a few animations in our gallery against macos but wasn't able to reproduce the exception

[2020-08-06 20:53] PureWeen commented on #11633
I can't reproduce. Can you attach a repro? I tried a few different permutations and the ellipses are always there.
FYI this is all managed by the platform. We don't draw or calculate when to show the ellipses it's all just the native platforms TextView

It might be a problem with MaxLines and Height of the label? If your label is causing text to go to the next line but that makes the label grow ou

[2020-08-06 21:07] PureWeen commented on #11630
This should be fixed on the stable release of 4.8 coming out soon. I had mentioned this to @jsuarezruiz when testing and he fixed it.

I just tested against the nightly and it's working there

[2020-08-06 21:07] #11630 closed

[2020-08-06 21:15] PureWeen commented on #11642
If you scroll the group out of the window and then back up it'll resize back to the original height

[2020-08-06 21:29] PureWeen commented on #11614
It seems like the bottom margin is the only thing that effects the layout

[2020-08-06 21:35] PureWeen commented on #11678
Seems to work fine on iOS

[2020-08-06 21:39] jpacov commented on #11678
Agree with @PureWeen, the issue only happens on Android, but not on iOS.

[2020-08-06 22:04] PureWeen commented on #11676
yea @ysmoradi so I think the fix here would be to modify `GetFormsBitmapAsync` to also use both interfaces like the ImageViewExtensions does

Or fix `GetFormsBitmapAsync` to use ImageviewExtensions so everything is piped through the same method

[2020-08-06 22:14] PureWeen commented on #11672
- If there are binding errors you can look in the debug output for specifics
- try this tool out https://marketplace.visualstudio.com/items?itemName=PeterSpa.XamlBinding

That's the expected behavior of `x:Reference`

The purpose of x:Reference is to enable view-to-view bindings

If you look at the example here you'll see they are binding a label to a slider
https://docs.microsoft.com/en-us/xamari

[2020-08-06 22:14] #11672 closed

[2020-08-06 22:16] EmilAlipiev opened #11680 "[Bug] 4.8.0 UWP throws Layout cycle detected. Layout could not complete."
### Description

I have just upgraded to 4.8.0 version and ran the existing app in uwp and it crashed instantly with this "Layout cycle detected.  Layout could not complete." without more information. I am guessing that it is most probably with CollectionView related because I tried another existing app which doesnt use CollectionView at all and it works fine.

### Steps to Reproduce
1. add a Titl

[2020-08-06 22:20] PureWeen commented on #11655
@davidortinau so is the issue that sometimes it gets in a state where clicking the area above the bottom drawer doesn't close it?

is the main branch on that repository still setup to demonstrate the problem? I keep trying to get it into a state where clicking the background won't close the drawer but it keeps working for me

[2020-08-06 22:28] PureWeen commented on #11635
@cmpalmer66 can you try with the latest release of 4.8? If there's still an issue can you attach a repro

I tried a basic CV

[code]

And the scrolled event fires

[2020-08-06 22:48] PureWeen commented on #11611
@Ammar-Mheir can you attach a repro? I'm not having much luck reproducing your scenario here

[2020-08-06 23:06] PureWeen commented on #11607
@DuncWatts what iOS version are you running on?

I tried on a few iPhone 6s's and I'm not seeing that first layout

![image](https://user-images.githubusercontent.com/5375137/89591314-7bb83400-d80f-11ea-90e5-afbd3054546d.png)

[2020-08-06 23:49] PureWeen commented on #11644
@StephaneDelcroix looks like this is still an issue

[2020-08-07 00:02] burrowj commented on #9198
I'm confused a bit.
I have this issue with Shell but is it fixed?  is there a workaround?
Shell can't handle more than 4 tabs on IOS and work properly?

[2020-08-07 00:08] PureWeen commented on #11590
@AlfonChitoSalano can you try on the latest release of 4.8? I tried to reproduce this and wasn't able to reproduce.

If it's still happening for you can you attach a repro?

[2020-08-07 00:13] fernandovm commented on #11519
Hi @PureWeen.

Unfortunately this no help, we see just "&lt;not available&gt;".

Yes, of course. I recorded the profiler session, you can see it here ([cpu-profiler.zip](https://github.com/xamarin/Xamarin.Forms/files/5038639/cpu-profiler.zip)) and the profiler project is here ([com.companyname.chronometer.zip](https://github.com/xamarin/Xamarin.Forms/files/5038644/com.companyname.chronometer.zip))

[2020-08-07 00:22] Tommigun1980 opened #11681 "[Enhancement] Support Brushes on borders"
Hi, and thanks so much for the *fantastic* Brushes API!

My feature request is that could the border (on Frames etc.) be extended to also support brushes?
API would probably follow the current conventions, so it'd be

[code]

to go along with the existing

[code]

Thanks a lot!

[2020-08-07 00:29] Tommigun1980 commented on #11630
Thanks guys! Appreciate it.

[2020-08-07 00:41] burrowj commented on #7594
Is there any known workaround for this? I have more than 4 tabs in the app and would like to get it to work.  Thanks

[2020-08-07 06:32] galadril commented on #6112
So this is still not in the new version that came out.. 4.8.0..?

[2020-08-07 07:35] thomasgalliker opened #11683 "ListView with Ellipse in ViewCell crashes when rendering [iOS only]"
### Description
I'm creating a simple app which consists of a ListView which binds list items and displays them with a ViewCell. When I place an Ellipse inside the ViewCell, I experience following TargetInvocationException on iOS only.

I created an app to reproduce the issue but I could not successfully do so. I know, it's quite hard to track a bug down if there is no sample app which contains th

[2020-08-07 08:14] DuncWatts commented on #11607
@PureWeen I'm using a physical device running iOS 13.6

[2020-08-07 09:11] sude22 commented on #11495
I can confirm this issue with 4.7.0.1179

[2020-08-07 09:13] taz4270 opened #11684 "Typo in this line"
https://github.com/xamarin/Xamarin.Forms/blob/d99264507dc1623aecb83daf81aadd2effae62ae/Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs#L106
 It should be Switch, not Slider

[2020-08-07 09:21] rasel-tr opened #11685 "after 4.7.0.1142, navigation doesn't show page on iOS"
First I got a "UpdateClip throws NullReferenceException" on a page after a forms update (#11132). This was resolved with 4.7.0.1142 version. But after that version, I can't open another page on from that page with navigation. I want to open a modal page onto another modal page and it doesn't shown. It doesn't give any errors also. The parent modal page doesn't respond to clicks anymore, like the c

[2020-08-07 10:14] poliahrameshkumar commented on #11556
This problem persists in Xamarin.Forms 4.8.0.1269. Can someone let me know if any workaround is there to fix that? In recent times for last one year or so, I could keep seeing issue like this in each Xamarin.Forms release which stops us to upgrade to latest version. Many issues are there with CarouselView, CollectionView, ImageButton and now in Buttons etc. I don't know how far the QA process is d

[2020-08-07 10:22] mhrastegary77 commented on #11556
@poliahrameshkumar Exactly :( i can't upgrade our project to 4.8.0.1269 because of this.

[2020-08-07 10:39] MitchBomcanhao commented on #11483
I've switched the layouts to not have bindings in the datatemplates as per the example in https://codetraveler.io/2020/07/12/improving-collectionview-scrolling.
It is still unusable... the old list view works considerably better.

[2020-08-07 10:57] poliahrameshkumar commented on #11556
The below custom renderer fixes the issue for the time being.

using Android.Content;
using Xamarin.Forms;
using Xamarin.Forms.Platform.Android;
[assembly: ExportRenderer(typeof(Button), typeof(CustomButtonRenderer))]
namespace somenamespacename
{
    public class CustomButtonRenderer : ButtonRenderer
    {
        public CustomButtonRenderer(Context context) : base(context)
        {
        }

[2020-08-07 10:58] daves1992 commented on #8308
I'm still getting this running the latest version of Xamarin.Forms running IOS 12.4.5

[2020-08-07 11:25] StephaneDelcroix commented on #11662
You can't use an AppThemeBinding to set a property of OnPlatform, as those props aren't Bindable.

I'm keeping this open as you should get a better error message.

If you want this to work, you might have some success by using `BindingBase` as `x:TypeArguments`

[2020-08-07 11:39] lindexi opened #11687 "[Bug] Open the same WPF application with EmbeddedFont may throw IOException"
### Description

### Steps to Reproduce

1. Create a WPF application that will use EmbeddedFont in startup
2. Build the project and open the application twice

### Expected Behavior

We can use the EmbeddedFont

### Actual Behavior

Sometime the `Xamarin.Forms.Platform.WPF.EmbeddedFontLoader` will throw IOException, because it will write the same font file.

[2020-08-07 11:54] lindexi opened #11689 "[Bug] WPF can not update the embedded font"
### Description

### Steps to Reproduce

1. Create a WPF application that use the font1(Arial) as embedded font
2. Run the WPF application
3. Replace the font1 as font2(Constan)
1. Rerun the WPF application

### Expected Behavior

The WPF application use the old font(font1)

### Actual Behavior

The WPF application use the font2

[2020-08-07 12:37] holecekp opened #11690 "[Bug] UWP: Crash in CResourceManagerFactory::get_Current"
### Description
I have an application published in Microsoft Store. The Health section of Microsoft Partener Center contains the following crash report for my app:

**Stack trace:**
<img width="684" alt="stack trace 1" src="https://user-images.githubusercontent.com/24872113/89643637-8679d400-d8b6-11ea-889e-eb2e50317d30.png">
<img width="689" alt="stack trace 2" src="https://user-images.githubuserc

[2020-08-07 12:46] state2lake commented on #11550
@samhouts @hartez

[2020-08-07 12:48] hamiddd1980 commented on #11637
Hi, according to the fact that the Root of this problem is Known and Discovered (as I pointed to it in above Comments) ,so why have you moved this problem from **Ready For Work** to **Needs Estimate** ?
I ask this question because I think now it will take a long time to correct this bug.
Thank you.

[2020-08-07 12:48] StephaneDelcroix commented on #8479
I can't figure out how this was working before

[2020-08-07 12:54] bdgza opened #11691 "Polygon Shape doesn't work with DynamicResource color binding"
### Description

Updating to XF 4.8 from 4.7 the DynamicResource fill color binding on the Polygon shape is no longer recognized. It still works with a fixed color.

### Steps to Reproduce

1. Bind a DynamicResource color to the fill color on a Polygon shape in XAML.

### Expected Behavior

The DynamicResource color binding is used to fill the Polygon.

### Actual Behavior

The Polygon is not draw

[2020-08-07 13:19] Remmo commented on #6112
at the moment there's no version planned, they removed it from .NET MAUI too....

[2020-08-07 13:19] sebfrie commented on #9033
Are there any updates on this one? A fix is highly appreciated.

[2020-08-07 13:32] BartoszKopec commented on #6112
@samhouts why this simple functionality isn't merged yet? We have 3 workarounds here but still without official support form Xamarin. Fourth workaround could be to stick bottmbar contentview (with badges) to pages and hide shell's bottombar and still using magic of shell's navigation.
Maybe at least allow to write own bottombar contentview (or at least bottombar's buttons as contentview) in place

[2020-08-07 15:04] PureWeen commented on #11669
@jsuarezruiz

[2020-08-07 15:20] PureWeen opened #11692 "[Bug] When I set the ItemSource in the constructor or from XAML the CarouselView/CollectionView isn't rendering"
### Description

Run the attached app and you'll see a blank page.
Oddly if you trigger hot reload the content loads, but only if you have full page reload enabled

### Steps to Reproduce

1.  Run the app
2. trigger hot reload
3. data appears

### Expected Behavior
you should see the word "Hello" on startup

### Actual Behavior
You see nothing

### Basic Information

- Version with issue:
- Last k

[2020-08-07 15:32] Jakar510 opened #11693 "[Enhancement] MediaElement feature parity with VLC."
## Summary
Can we get the MediaElement control to have feature parity with [VLC streaming features](https://www.videolan.org/streaming-features.html) and [VLC streaming protocols](https://wiki.videolan.org/Protocols/)?

https://code.videolan.org/videolan/LibVLCSharp/-/issues/379
## API Changes

I don't know the details for what needs to be changed, but the current implementation of the MediaElemen

[2020-08-07 15:44] mhrastegary77 commented on #11556
i was exactly thinking about using a custom renderer :) thank you so much.

[2020-08-07 16:32] juanraa commented on #11626
Edit: Just happen on Simulator, on a physical device is working good.

[2020-08-07 16:51] sady4850 opened #11694 "Xamarin.Forms MacOS - VisualElement.Clip property doesn't work"
### Description

[code]

With the sample xaml above we have 2 issues:
1) clip region is wrong
2) selection rect is not clipped

### Basic Information

 - Platform Target Frameworks: Xamarin Mac
It works on iOS

- Nuget Packages: Nuget Packages: Xamarin.Forms 4.8.0.1269

![screen shot](https://user-images.githubusercontent.com/13216814/89661562-850ed280-d8db-11ea-85fa-5fcf976de8ca.png)

[2020-08-07 16:56] mohamadayash commented on #7043
Updated to Xamarin.Forms 4.8

![image](https://user-images.githubusercontent.com/11196273/89669442-200da980-d8e8-11ea-91b7-0be12ff1694d.png)

I've tried horizontal text alignment as follow :
` <Picker x:Name="picker"
                    Grid.Row="6" HorizontalTextAlignment="Center"
                    Title="Select a monkey"
                    TitleColor="Red">
                <Picker.ItemsSource

[2020-08-07 17:12] JavedAppdevelopment opened #11695 "[Bug] FirstVisibleItemIndex and LastVisibleItemIndex is wrong of CollectionView's Scrolled Event's ItemsViewScrolledEventArgs in iOS"
### Description
When a CollectionView Scrolled events fired in ios, Even'ts ItemsViewScrolledEventArgs.FirstVisibleItemIndex and ItemsViewScrolledEventArgs.LastVisibleItemIndex is wrong. It works fine in Android but provide -2 for the FirstVisibleItemIndex then it is actually and +2 for the LastVisibleItemIndex. On Initial Phase it provide correct value for FirstVisibleItemIndex (e.g; is 0) but +

[2020-08-07 17:15] PureWeen commented on #11694
@jsuarezruiz

[2020-08-07 17:35] jrahma commented on #6351
Not working on Android

[2020-08-07 17:53] PureWeen commented on #11693
Moved here

https://github.com/dotnet/maui/discussions/202

[2020-08-07 17:53] #11693 closed

[2020-08-07 17:53] PureWeen commented on #11691
@StephaneDelcroix or @jsuarezruiz  ?

[2020-08-07 17:57] samhouts commented on #2162
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-07 17:57] #2162 closed

[2020-08-07 17:57] samhouts commented on #2142
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-07 17:57] #2142 closed

[2020-08-07 17:57] samhouts commented on #2119
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-07 17:57] #2119 closed

[2020-08-07 17:58] samhouts commented on #10920
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-07 17:58] #10920 closed

[2020-08-07 17:58] samhouts commented on #1633
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-07 17:58] #1633 closed

[2020-08-07 17:58] samhouts commented on #9914
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-07 17:58] #9914 closed

[2020-08-07 18:00] samhouts commented on #11495
@sude22 Can you please attach a small project that demonstrates this issue? Thanks!

[2020-08-07 18:01] #11669 closed

[2020-08-07 18:02] samhouts commented on #2540
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-07 18:02] samhouts commented on #2541
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-07 18:02] samhouts commented on #2543
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-07 18:03] samhouts commented on #2548
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-07 18:03] samhouts commented on #2550
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-07 18:14] #11464 closed

[2020-08-07 18:22] PureWeen commented on #11685
@rasel-tr can you attach a repro please?

[2020-08-07 18:24] PureWeen commented on #11683
@thomasgalliker can you attach a repro please?

FYI @jsuarezruiz

[2020-08-07 18:25] PureWeen commented on #11681
@jsuarezruiz any specific reason we couldn't do this?

[2020-08-07 18:35] samhouts commented on #11680
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-08-07 18:44] PureWeen commented on #2348
@samhouts  should this be in needs info?

[2020-08-07 18:48] PureWeen commented on #11409
Closing based on @davidbritch 's comment

[2020-08-07 18:48] #11409 closed

[2020-08-07 18:51] PureWeen commented on #11588
@SharmaNarendra can you try the latest release of VSMac or Visual studio?

[2020-08-07 19:07] PureWeen commented on #11519
On the last part of your video it switches to the callstack on the threads so we can see more about that nativePollOnce method?

[2020-08-07 19:15] ptsoccer commented on #2550
I just tried with version 4.8.0.1269 and it's still an issue

[2020-08-07 19:21] samhouts commented on #2348
It has the needs info label, doesn't it? ;)

[2020-08-07 19:23] samhouts commented on #2348
Even if we open the bugs ourselves, we should wait to see if someone else has experienced it recently...you can subscribe to issues without commenting or whatever.

[2020-08-07 19:30] mhrastegary77 commented on #11556
just found out the TextTransform property works for buttons too and is a perfect replacement for the old android resorces and custom renderer Workaround :) so our project is now upgraded to 4.8. 🎉

[2020-08-07 19:55] fernandovm commented on #11519
No @PureWeen, it isn't an attempt to show any specific point, I was searching for anything, but I did not find anything in particular.

Well, if this helps, I can give you a remote access to my device (or my computer) for you to try debug/analyze the issue. Or, if there is any more that I can do, just tell me. I'm very curious about this "obscure" case. :))

[2020-08-07 20:10] g4mb10r commented on #8498
Thanks team!  Unfortunately, a lot changes in 8 months, and we have moved on to navigation routes.  I.e. Shell.Current.GoToAsync, which doesn't work in UWP.  Is there a bug open for this @samhouts @hartez?  I can't find one.

[2020-08-07 20:38] Tommigun1980 commented on #11672
Hi @PureWeen and thanks for the explanation!

The things that *always* gets me, which I probably did not explain well enough, is the following:
* Say you have a custom View component, that has a VM assigned as the BindingContext
* Say you also declare some bindable properties in the view itself (some purely UI specific things)
* When you want to bind against them in your XAML;
    * If you want to

[2020-08-07 21:01] PureWeen commented on #11519
Sorry @fernandovm I phrased that poorly

Can we see more of the stack trace here?
Can you make more of that visible?

![image](https://user-images.githubusercontent.com/5375137/89688111-bfb64200-d8be-11ea-8d28-8728695e5601.png)

When it freezes is nativePollOnce where you see the time being spent?

[2020-08-07 21:05] AhmadKelany commented on #10224
Microsoft Visual Studio Community 2019
Version 16.7.0

The problem is solved finally! Thanks..

[2020-08-07 22:21] PureWeen commented on #11029
@velocitysystems without a repro this one is tricky to pin down

in your notes you say that sr2+ see the issue

Here's a compare of 4.6 rc with 4.6 sr2

https://github.com/xamarin/Xamarin.Forms/compare/release-4.6.0-rc2...release-4.6.0-sr3.1

I don't see anything in there that jumps out at me that would cause a difference in renderer life cycles

Though in your comments you reference commits that

[2020-08-07 23:28] PureWeen commented on #11029
https://github.com/xamarin/xamarin-android/issues/4989

[2020-08-07 23:28] #11029 closed

[2020-08-07 23:41] llzz19851985 opened #11698 "[Enhancement] Is there a way to take snapshot for a xamarin view and It is not display"
## Summary
I have a xamarin view and it is not display,I want to get the view snapshot and convert to android bitmap,is there a way to this target?

xamarin version : 4.2.0.778463

[2020-08-08 00:00] fernandovm commented on #11519
Ok, no problem @PureWeen.

Yes, of course, I will send some more screenshots.

So, I think so (it seems to me just waits).....

![image](https://user-images.githubusercontent.com/441113/89695142-5861b780-d8e9-11ea-9321-d015c93c152c.png)

.... but some things are a bit confusing. After the freeze time we can see a hard single-core cpu usage:

![image](https://user-images.githubusercontent.com/44111

[2020-08-08 00:19] Tommigun1980 commented on #6387
Hi guys. I am somewhat nearing release, and this crash bug is effectively preventing it. Please advice on a workaround, or could this be prioritised? It's a crash bug after all.

Thanks!

[2020-08-08 00:43] EmilAlipiev commented on #11506
is this not related and fixing this issue? https://github.com/xamarin/Xamarin.Forms/pull/11629
Can you try using 4.8?

[2020-08-08 00:56] dmsi-leo commented on #10960
@PureWeen
 I created test solution in VS 2017 containing web service ASMX app ( TestWebService1 ) and XF client (TestMobileClient1) projects.

TestWebService1 project includes "TestFiles" folder containing test files I was using for performance testing. To reduce solution zip file I left only 10 files in "TestFiles" folder but during our testing this folder contained 140 files to get consistent te

[2020-08-08 00:57] lindexi commented on #11101
It break in 4.8.0.1269

![](https://user-images.githubusercontent.com/16054566/89698698-30a83900-d955-11ea-8e5d-56fab5ffb8ce.png)

[2020-08-08 01:25] dmsi-leo commented on #10960
@PureWeen

Just wanted to add more details:
1. As I mentioned earlier we observed similar test results on iOS which lead me to believe it's not only Android issue.
2. Android device we used for testing is Zebra Technologies TC700H (Android 4.4 - API 19).

Thanks

[2020-08-08 01:30] lindexi commented on #11101
The evil way to solve it: https://github.com/lindexi/lindexi_gd/tree/96c9063fdba9fe318eb099da67422de5cc9ae5af/XamarinNeller/XamarinNeller.WPF

[2020-08-08 06:34] JogyBlack opened #11700 "[Bug] RadioButton not displaying text on Android"
### Description
After updating to Xamarin.Forms 4.8, radio buttons no longer display their text under Android. Same code works under 4.7.

### Steps to Reproduce

1. Create new Xamarin.Forms blank page app
2. Add a radio button to the main page:
`<RadioButton Margin="5" Text="Test" />`
3. Make sure the Xamarin.Forms NuGet packages are updated to 4.8.0.1269 and run the app under Android.

### Expec

[2020-08-08 11:49] claytonone opened #11702 "[Bug] Custom controls don't always render on iOS"
### Description

Custom controls don't always render on iOS, the same control will render correctly on Android

### Steps to Reproduce

1. Create a custom control
2. Include it in a ContentPage
3. Notice that when running on Android it is visible, whilst it is probably not on iOS

### Expected Behavior

The control is visible

### Actual Behavior

The control is not visible

### Basic Information

[2020-08-08 12:50] atexinspect opened #11703 "Android textAllCaps no longer works"
### Description
Android textAllCaps no longer works when using XF 4.8.0.1269

### Steps to Reproduce

1. Install XF 4.8.0.1269
2. Run Android App
3. Button text is always in capitals

### Expected Behavior
Button text should be camel case

### Actual Behavior
Button text always capitals

### Basic Information

- Version with issue:
- Last known good version: XF 4.7.0.1260
- IDE: VS 2019 V16.7.0
-

[2020-08-08 13:22] BurkusCat commented on #9056
I think this issue can be closed. I updated my reproduction project to 4.7.0.1260 and the issue is fixed,

[2020-08-08 13:22] #9056 closed

[2020-08-08 13:26] holecekp opened #11704 "[Bug] Android: Crash when user turns on the dark theme (ObjectDisposedException)"
### Description
I have upgraded Xamarin.Forms to 4.8 and I am experiencing occasional crashes when I switch from light theme to the dark one in the Android settings.

I am including the output from Logcat:
[code]

The buttons have colors set using Styles and AppThemeBinding as follows:
[code]

### Steps to Reproduce

The crash occurs randomly. Sometimes it crashes, sometimes it does not. I have ex

[2020-08-08 14:07] darrabam commented on #11645
Another workaround purely using xaml EmptyView data template, I just don't like CustomRenderers ;)

![image](https://user-images.githubusercontent.com/33980667/89712380-42abcb00-d999-11ea-95b5-4ed8e24457cb.png)

[2020-08-08 14:32] KPixel opened #11705 "[Bug] [UWP] Setting the FontFamily crashes a multi-window app"
### Description

Since #2432, Xamarin.Forms supports creating apps with multiple windows in UWP.
However, if we use the same custom font on these windows, then we get an exception when trying to create the secondary windows.

### Steps to Reproduce

[The Control Gallery already has a multi-window sample](https://github.com/xamarin/Xamarin.Forms/blob/29b92aa1fc2b9d834bb3b95cc224e07d0cc3e9b4/Xamarin

[2020-08-08 15:10] YZahringer commented on #9056
I confirm in XF 4.8, `CollectionView` item resize correctly on content visibility and size change 🎉

[2020-08-08 15:20] YZahringer commented on #9179
Repro project updated to XF 4.8.0.1269 (issue persist)

[2020-08-08 15:22] YZahringer commented on #9331
any news about this?

[2020-08-08 15:27] YZahringer commented on #10826
Repro project updated to XF 4.8.0.1269 (issue persist)

[2020-08-08 15:41] JogyBlack opened #11706 "[Bug] UWP Shell - Toolbar buttons do not work correctly"
### Description

When using Shell in UWP project, the page toolbar items do not display correctly:
1. The Order="Secondary" property has no effect, buttons always display on the primary toolbar.
2. Toolbar icons do not display.

Note that is the same page is used in NavigationPage and not in Shell, the toolbar buttons display correctly.

### Steps to Reproduce

1. Create a default Xamarin.Forms ap

[2020-08-08 16:45] PureWeen commented on #2550
@StephaneDelcroix FYI

[2020-08-08 16:49] PureWeen commented on #11519
@grendello Does any of the profile info that @fernandovm has posted here ring any bells for you?

@fernandovm if you use VS 2017 for deploying your app do you see the same freezes?

[2020-08-08 16:57] PureWeen commented on #11531
@llzz19851985 what errors are you seeing when updating to 4.7?

There have been a lot of fixes in this area between 4.2 and now so I'm hoping updating will resolve for you.

[2020-08-08 17:12] PureWeen commented on #11550
[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/5045793/Archive.zip)

@state2lake can you modify the attached sample to demonstrate your issue?
I tried with your xaml there and for me SelectionChanged fires on android/ios

[2020-08-08 17:27] PureWeen commented on #11423
I tested the repro and it works fine on CollectionView FYI if you want to try there

[2020-08-08 17:50] PureWeen commented on #11489
It looks like this works fine on iOS

When I tested on Android it's pretty hit or miss. My guess is that Forms trying to be smart about position is colliding with the scroll behavior

[2020-08-08 18:01] fernandovm commented on #11519
@PureWeen, I don't have VS 2017 installed but can I install it for testing, I must use a specific version or just be the latest version of VS 2017?

[2020-08-08 18:11] PureWeen commented on #11626
Because this works on a physical device I feel like this isn't a bug

The simulators in general I've found to be a bit quirky with validating accessibility features like this.

@samhouts thoughts?

[2020-08-08 18:13] PureWeen commented on #11647
@AndyNetDuma can you test 4.8?

Can you attach a repro or based ?

or based on your comment here

Can I just close this issue because it sounds like the issues you are describing here are covered by "other accessibility bugs"

[2020-08-08 18:19] PureWeen commented on #11690
@holecekp hmmm nothing stands out to me here

I can't really even find much on google around this exception but it does seem related to Localization

A few thoughts you can try
- update to XF 4.8
- try installing the latest winui package https://www.nuget.org/packages/Microsoft.UI.Xaml/ into your uwp project
- when testing locally try testing release builds to see if you can recreate?

[2020-08-08 18:24] PureWeen commented on #11695
duplicate https://github.com/xamarin/Xamarin.Forms/issues/9989

[2020-08-08 18:24] #11695 closed

[2020-08-08 18:27] PureWeen commented on #11698
Hey @llzz19851985 apologies but I'm not quite following your question here.

I think you might have better luck getting this answered on StackOverflow

I'm going to move this issue to discussions for now

If you want to convert a forms view to a bitmap I would look at a few of the links here

https://stackoverflow.com/questions/5536066/convert-view-to-bitmap-on-android
https://docs.microsoft.com/e

[2020-08-08 18:27] #11698 closed

[2020-08-08 18:36] PureWeen commented on #11704
@holecekp can you attach a repro please?

@StephaneDelcroix FYI possible 4.8 regression

[2020-08-08 18:38] PureWeen commented on #11700
Closing for now.

RadioButton is going through a major change on 5.0.0

https://github.com/xamarin/Xamarin.Forms/pull/11628

[2020-08-08 18:38] #11700 closed

[2020-08-08 18:48] Tommigun1980 opened #11707 "[Bug] Page.BackgroundImageSource and page's BackgroundColor are affected by ios:Page.UseSafeArea"
Applying a background image to a page is cut off by the safe area when ios:Page.UseSafeArea is turned on. The background color of the page is also cut off by the safe area, forcing the safe area portions to the system color.

Furthermore, where the image gets clipped doesn't respect SafeAreaInsets, but this will of course become moot if it is fixed to be drawn over the full page.

These make it im

[2020-08-08 18:52] PureWeen commented on #11194
The 96 choice does seem really high especially when compared to iOS and UWP

iOS is going to be about 17 and UAP is 46

96 is massive... I realize it's a breaking change but if possible it seems like we'd just set Android to something around 17 as well.

![image](https://user-images.githubusercontent.com/5375137/89717606-c8218200-d97d-11ea-8840-e828099c5ca6.png)

[2020-08-08 18:53] Tommigun1980 commented on #11707
Edit: It appears as the background image is not tiled so it looked like it was affected by the safe area insets. The problem happens with the background color though.

[2020-08-08 18:59] PureWeen commented on #10960
@samhouts can you move this issue over to Xamarin.Android ?
This shouldn't be something that's going to be caused by Forms

[2020-08-08 19:00] Tommigun1980 commented on #11707
I'll go ahead and close this as in some cases it works so there must be something else at play here. I'll file a new report once I've isolated the specifics.

[2020-08-08 19:00] #11707 closed

[2020-08-08 19:33] PureWeen commented on #11519
The latest is fine. I'm just curious if a different version of xa gives a different result

[2020-08-08 20:04] chowarth commented on #6593
I did try and have a look into this, and I'd love to dig into it more, but I'm a bit out of my depth in understanding exactly what's going on.

[2020-08-08 20:04] holecekp commented on #11690
@PureWeen  My first thought was that this crash could happen if the Windows has different languages installed than the languages supported by the app. The UWP project has also .resw resources that contain only the localized app name and app description. But it is not the case. I have tested this scenario and it works fine on my computer.

I am always testing a release version of my app before publ

[2020-08-08 20:39] holecekp commented on #11704
I will try to prepare a repro but it will be hard. I still do not know which steps are necessary for the crash to happen in my full project. The crash happens randomly. Sometimes it crashes twice in a minute; sometimes I repeat the same steps for 10 minutes without crash. I verified that the crash appears also in the debug version in the emulator.

[2020-08-08 21:56] cmpalmer66 commented on #11635
I will give it a try...

On Thu, Aug 6, 2020 at 5:28 PM Shane Neuville <notifications@github.com>
wrote:

--
=========================
Christopher M. Palmer
christopher.m.palmer@gmail.com
256-665-1749
http://www.linkedin.com/pub/christopher-palmer/8/14/851/
https://careers.stackoverflow.com/cmp
=========================

[2020-08-08 22:49] RobertoGFilho opened #11708 "Erro XLS0503 A value of type 'Label' cannot be added to a collection or dictionary of type 'IList`1'"
Xamarin Forms 4.8 show up a error message, when I add label into Stacklayout.

<StackLayout>
	<Label Text="{Binding Name, Mode=OneWay}" />
</StackLayout>

[2020-08-09 00:10] plamen-i opened #11709 "[Bug] [WPF] ScrollView - ScrollBarVisibility not respected"
### Description

Dependent on orientation, respective scrollbar of ScrollView is still visible even ScrollBarVisibility is set to Never.

### Steps to Reproduce

`<ScrollView Orientation="Vertical" VerticalScrollBarVisibility="Never" />`

### Expected Behavior

No vertical scrollbar visible.

### Actual Behavior

Vertical scrollbar is still visible even not needed.

### Basic Information

- Versio

[2020-08-09 00:18] KPixel commented on #11705
### Another bug (which could go into its own issue if needed)

The secondary window does not resize its `ContentPage`. It stays at the size of the parent window.
For example, you can maximize the Control Gallery app, then create the secondary window, and its content will always be at the size of a maximized window, even if you reduce the size of the window itself (the page's content will be clippe

[2020-08-09 00:32] plamen-i opened #11710 "[Bug] [WPF] Button state displayed incorrectly after hiding/showing"
### Description

Disabled button is shown as enabled after being hidden by another UI (dialog for example) and then shown again. This is purely UI issue - button still behaves as disabled i.e. unable to click.

### Steps to Reproduce

1. Show UI with disabled button.
2. Show dialog over it - I use Prism so in my case - DialogService.ShowDialog()
3. Dismiss dialog.

### Expected Behavior

Button sh

[2020-08-09 00:37] Tommigun1980 opened #11711 "[Bug] Incomplete XAML error"
I have a huge XAML file with lots of styles and constants.

In one of the styles I had accidentally written this:
[code]

The error I got was: "File.xaml: Error: String was not recognized as a valid Boolean. (NameOfProject) XamlC", on the line -1.

I at some point made another error in somewhere there and the error this time was "Error: Object reference not set to an instance of an object (NameOfP

[2020-08-09 02:46] JogyBlack commented on #11706
Regarding the images, in the debug output I see this error:
Error: Converter failed to convert value of type 'Xamarin.Forms.Internals.AsyncValue`1<Windows.UI.Xaml.Media.ImageSource>' to type 'ImageSource'; BindingExpression: Path='IconImageSource' DataItem='Xamarin.Forms.ToolbarItem'; target element is 'Windows.UI.Xaml.Controls.Image' (Name='null'); target property is 'Source' (type 'ImageSource')

[2020-08-09 02:54] mfeingol commented on #11616
@PrimoDev23: thanks, calling `SetTheme` is a fine platform-specific workaround for now. Now sure how I'd missed that earlier.

[2020-08-09 03:12] JogyBlack commented on #11706
Looking around in XF code, I found this in the data template "ShellToolbarItemTemplate":
`<Image Source="{Binding IconImageSource, Converter={StaticResource ImageConverter}}" VerticalAlignment="Center" />`

from another place in XF source I see that the correct way to specify the binding is this:
`<Image DataContext="{Binding IconImageSource, Converter={StaticResource ImageConverter}}" Source="{Bi

[2020-08-09 04:26] JogyBlack commented on #11700
Oh well...at least there an easy workaround till then - put the RadioButton in a horizontal stack panel along with a label, and optionally add a TapGestureRecognizer to the label so tapping it also sets the radio button value.

[2020-08-09 08:04] holecekp commented on #11704
One more note that might be important for finding the cause of this bug. I looked at the stack trace and the crash is in the UpdateImage method of ButtonLayoutManager
(https://github.com/xamarin/Xamarin.Forms/blob/main/Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs). Some buttons in my app have icon and each icon has its version for the light and the dark theme. They are placed in the drawa

[2020-08-09 08:18] being-yash-t opened #11712 "Swipeview Wraped around frame weird behavior when using Material Visuals"
### Description
Weird behavior when use using frame under a swipeview WITH Material Visuals.
[Here are some images](https://drive.google.com/drive/folders/1EcSGJbaFQBdWcjpVGrHG4ykT50NL2Fez?usp=sharing)

### Steps to Reproduce

1. Create a frame
2. Wrap it with a swipe view
3. Run!

### Expected Behavior
Check Image named "expected radius & shadow"

![expected radius   shadow](https://user-images.g

[2020-08-09 08:54] mohamadayash commented on #11645
Nice workaround I liked it

[2020-08-09 09:09] Tommigun1980 opened #11713 "[Bug] Label word wrapped incorrectly on iOS"
Labels get cut off incorrectly on iOS, depending on the exact contents of the string, where exactly it breaks and screen dimensions. I suspect this is the same issue I reported at https://github.com/xamarin/Xamarin.Forms/issues/11633 but manifested in a different way.

Please see the following image:

![Screenshot 2020-08-09 at 13 02 03](https://user-images.githubusercontent.com/60286968/89729694-

[2020-08-09 09:22] Tommigun1980 opened #11714 "[Bug] Brushes API - z draw order on Android is incorrect in certain cases"
I draw a frame with a shadow color, then a box with a gradient brush, and then a font image on top.

This is how it should look:
<img width="113" alt="Screenshot 2020-08-09 at 12 16 41" src="https://user-images.githubusercontent.com/60286968/89728996-43486e00-da3a-11ea-9ab8-43227a4ffcb5.png">

The following problem happens on Android, on iOS the draw order is correct (The fill direction changes be

[2020-08-09 09:27] Tommigun1980 opened #11715 "[Bug] Brushes API - Android's direction is inverted to iOS's"
iOS:
<img width="85" alt="Screenshot 2020-08-09 at 11 06 24" src="https://user-images.githubusercontent.com/60286968/89729129-59a2f980-da3b-11ea-8c71-de43701437a3.png">

Android:
<img width="96" alt="Screenshot 2020-08-09 at 11 07 43" src="https://user-images.githubusercontent.com/60286968/89729132-66bfe880-da3b-11ea-9334-2c602015ce32.png">

Both use the same brush (Android is lacking a drop shado

[2020-08-09 09:35] AswinPG commented on #7046
Was the ios implementation a success ? Where can I start to learn how to implement it in ios ? In android it was pretty simple, Stuck with iOS

[2020-08-09 09:51] YZahringer opened #11716 "[Enhancement] Support Min/Max Width/Height of Grid Column/Row Definition"
## Summary
Support Minimum and Maximum Width or Height of Grid Columns and Rows definition.

Same as UWP/WPF:
- [UWP](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.rowdefinition) and [WPF](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.rowdefinition) RowDefinition
- [UWP](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.columndefinition) an

[2020-08-09 09:58] Tommigun1980 commented on #11713
EDIT: The last case, a perfectly normal string in a vertical layout sometimes (depending on the exact words and font size) completely cuts off the label. It seems to allocate vertical space but doesn't draw anything there (in addition to cutting it off too early):

![Screenshot 2020-08-09 at 12 56 50](https://user-images.githubusercontent.com/60286968/89729597-fb2c4a00-da3f-11ea-9d8f-6ef9f9303127.

[2020-08-09 10:10] Tommigun1980 commented on #11633
Hi @PureWeen.

I reported https://github.com/xamarin/Xamarin.Forms/issues/11713 which I think is a different manifestation of the same problem, with repro.

[2020-08-09 10:11] Tommigun1980 commented on #11713
The problems seem to happen only if the last character in the label would introduce a line break. Depending on the container the results are different but still always wrong.

[2020-08-09 10:33] rasel-tr commented on #11685
Sure, here is a simplified project of this problem. You can test it on simulator.

[repro.zip](https://github.com/xamarin/Xamarin.Forms/files/5047217/repro.zip)

[2020-08-09 12:11] BurkusCat opened #11718 "[Bug] [UWP] Switch control doesn't respond to dark mode"
### Description
I have a Switch control in my app. It is always outlined in black with black text when it is off and therefore it goes invisible against a black/dark background. In the Windows 10 settings app, for example, a switch will become outlined in white with white text automatically when you switch to dark mode in the app. I would expect Xamarin to do the same thing.

### Steps to Reproduc

[2020-08-09 12:15] BurkusCat commented on #11718
Any general advice outside for dark mode theming outside of this particular issue would be much appreciated. I feel like I have to make quite odd "TextColor" settings on a per platform basis and things just don't end up looking like native dark mode apps (on Android or UWP).

[2020-08-09 12:53] holecekp commented on #11704
It seems that the crash is caused by a button in a DataTemplate that is used for a CollectionView. When I load different data into the CollectionView for 5 times and then turn on the dark mode, the app always crashes.

[2020-08-09 13:08] Strypper commented on #11387
![image](https://user-images.githubusercontent.com/32596308/89732898-f4232d00-da7b-11ea-8b5d-8cd163f5386d.png)
hello sorry for the slow respond I unfortunately my boss refuse to make the github repo public so here is a screenshoot of the list I'm using
![image](https://user-images.githubusercontent.com/32596308/89732907-08ffc080-da7c-11ea-9e0a-67e05ec1b2a4.png)

[2020-08-09 13:08] fernandovm commented on #11519
Hi @PureWeen, I made the test and yes, the app freezes also.

![image](https://user-images.githubusercontent.com/441113/89732905-36228380-da28-11ea-9488-80209830b9b5.png)

[2020-08-09 13:22] geosom commented on #11117
Hi. I also have the same problem on IOS. For me the bug appears when the Radiobutton is in hidden StackLayout and when the StackLayout become visible the alignment appears broken.

[2020-08-09 13:24] BurkusCat commented on #3449
Does `Visual="Material"` work on UWP? Obviously, it would be great if it did but I don't think it would be a huge priority (fluent design makes much more sense on Windows). If it doesn't, I think it would be cool if there was a `Visual="Fluent"`, that for starters, only works on UWP.

You could then set a page to be `<Setter Property="Visual" Value="{OnPlatform iOS=Material, Android=Material, UWP=

[2020-08-09 14:23] holecekp commented on #8783
The problem suddenly disappeared in my application. It seems to be OK now. I update Xamarin.Forms regularly, so it was probably fixed in XF 4.8, or in one of the later Service Releases of XF 4.7.

[2020-08-09 14:30] albilaga opened #11719 "[Bug] Xamarin.Android min version 6.0 make app crash"
# Description
Xamarin.Forms with android project set to min version to API level 23 (Android 6.0) is crashing in startup when build using Visual Studio for Mac. Previous Visual Studio for Mac working fine. Not tested in Visual Studio for Windows.
Xamarin.Android project only also working fine.
### Steps to Reproduce

1. Create new Xamarin.Forms project.
2. Set Android `Minimum Android Version` to

[2020-08-09 15:21] BurkusCat commented on #10352
I would be interested in implementing this. I personally think UWP only would be best for a first release and other platforms could have custom implementations added later down the line if desired.

If you have a button, you could then have a great looking "Visual" on all three major platforms.
`<Setter Property="Visual" Value="{OnPlatform iOS=Material, Android=Material, UWP=Fluent}" />`

Fluent V

[2020-08-09 15:46] JogyBlack commented on #11718
I found out that I need to set the theme to the UWP app to correspond to the theme set in the Xamarin.Forms app code.
Here is what I did in the UWP MainPage.xaml.cs:

[code]

I did similar thing in the Android app as well, so that all controls follow the user-selected theme.

[2020-08-09 17:54] aloisdeniel commented on #2548
Sorry, but I don't use Xamarin anymore and I don't have the dev environment. Thought It should be easy to try it out with the provided sample.

[2020-08-09 18:29] BurkusCat commented on #11718
Ah, that does the trick, thank you very much :). Out of curiosity, what were your equivalent changes in the Android project?

Android works much better out of the box for me but I still needed to add some Xamarin styles for some controls. It would be nice if I could so a similar theme switch like your UWP example instead!

[2020-08-09 18:29] #11718 closed

[2020-08-09 18:42] astralmaster commented on #6967
A year later, not even a workaround?

[2020-08-09 18:49] duzenko commented on #2540
We gave up on Xamarin and rewrote the app in React Native a long time ago
Feel free to close this issue now that you have been too busy for look at for two years

[2020-08-09 18:49] JogyBlack commented on #11718
@BurkusCat Here is the equivalent code in MainActivity.cs in the Android project:

[code]

There is a difference in the behavior - under UWP, when the theme is changed from my Settings page, it redraws the page, while on Android it apparently reloads the main activity, thus going to the main page of the app, but I think it was ok, so haven't looked for a way to keep the user in the settings page.

[2020-08-09 19:05] BurkusCat commented on #11718
@JogyBlack Brilliant! Works perfectly. I did need to switch to using the DayNight theme in `styles.xml` like so:
[code]

To fix your issue with the entire activity being reloaded you just need to set `ConfigChanges.UiMode` at the top of `MainActivity.cs` so the activity is able to handle the theme change:
[code]

[2020-08-09 19:21] Tommigun1980 opened #11720 "[Bug] Crash: Value cannot be null. Parameter name: descriptor <-- suddenly started crashing without editing code"
I have been developing my app for months, and today out of the blue the app started crashing on the iOS simulator. I had not changed anything, it just started to happen by itself. The error is:

System.ArgumentNullException:  Value cannot be null. Parameter name: descriptor

Stack trace:

[code]

Happens only on iOS. I had to backtrack almost a month back to find a revision that didn't crash -- ev

[2020-08-09 19:29] Tommigun1980 commented on #11720
Mystery solved! It doesn't actually crash - I had always stopped the simulator assuming it crashed - and the reason it started to suddenly appear is that I had added an exception breakpoint earlier. Apparently it triggers even when outside user code! If I just press continue, then the text renders just fine with italics.

Why would an exception be thrown here when it works just fine? I'll leave th

[2020-08-09 19:48] ahmedalejo opened #11721 "[Bug] XmlnsDefinitionAttribute doesn´t work with[XamlCompilation(XamlCompilationOptions.Compile)]"
### Description
using the `XmlnsDefinitionAttribute`  fails to compile when `XamlCompilationOptions.Compile` enabled.

The issue is that the attribute has to be defined in the assembly that the controls are defined.
If I have UI libraries like Syncfusion where I have to reference a different namespace for each component.

Since the library doesn´t use the XmlnsDefinitionAttribute I should be able

[2020-08-09 19:54] holecekp commented on #11704
I have created a repro project:
[ObjectDisposedRepro.zip](https://github.com/xamarin/Xamarin.Forms/files/5048300/ObjectDisposedRepro.zip)

Steps for reproducing the crash:

1. Launch the attached repro project
2. Tap on the "Load data into the collection view" at least 10 times. The higher number, the bigger chance that the app crashes. Ten taps crashes the app almost certainly.
3. Minimize the ap

[2020-08-09 19:56] ahmedalejo opened #11722 "[Bug] Intellisense isn´t enabled for controls defined in custom XmlnsDefinitionAttribute defined namespace"
### Description
Intellisense not enabled for controls defined a custom namespace defined by `XmlnsDefinitionAttribute`

### Steps to Reproduce

1. reference an external library
[code]
2.
[code]

### Expected Behavior
It should provide auto-complete information for components in that library/namespace

### Actual Behavior
No suggestion is provided and a squiggly line is displayed under the referenc

[2020-08-09 20:12] planerde opened #11723 "[Bug] [iOS] ContentPage in NavigationStack misplaced initially"
### Description
ContentPage in NavigationStack misplaced initially

### Steps to Reproduce

1. Create a new solution from the template 'Shell-Forms App'. This will create a Shell App with Xamarin.Forms 4.6.0.1141 as dependency
2. Start the app in the iOS simulator (I tried 13.6, 13.0 and 12.0), navigate to the "Browse" tab and tap one of the listed entries. This results in a navigation to the Item

[2020-08-09 22:49] tawreyhap commented on #6112
No, I did not come up with a XAML to handle the iOS workaround version.
Can anyone else provide a working example please?

[2020-08-09 23:11] JogyBlack commented on #11718
@BurkusCat Thanks for the tip - adding the ConfigChanges.UiMode now does not reload the activity.
But there is a small issue that the RadioButtons on the page do not change their colors along with theme change until I navigate to another page and then back to that settings page.

[2020-08-09 23:58] llzz19851985 commented on #11531
@PureWeen sorry, my mistake,I didn’t express it clearly,I can update 4.7 successful,but my product limit android sdk(19) and always use 4.2.0.778463,i do not want update to 4.7,it is risky to my product,so i cannot use xamarin 4.7

[2020-08-10 01:14] mvbrazas commented on #11504
I also experienced this issue. I was able to play the video when I used "new Foundation.NSUrl("https://www.youtube.com")" on the second parameter of WkWebView LoadHtmlString function.

_wkWebView.LoadHtmlString(CreateHTML().html, new Foundation.NSUrl("https://www.youtube.com"));

[2020-08-10 02:31] PureWeen opened #11725 "[Bug] When flyout is open elements under the flyout are still reachable as you swipe between elements"
### Description

When you open the flyout on shell (not locked) and then swipe through the menu it should stay focused on the menu and not select anything on the details pane

### Steps to Reproduce

1. load up a shell app (use the CG)
2. enable accessibility
3. swipe through items

### Expected Behavior

you should only be able to swipe through items in flyout

### Actual Behavior

the details ge

[2020-08-10 04:54] huangjinshe commented on #2447
@memu8 , @samhouts .  What did you guys fixed in v4.8 ? I saw the issues still didn't fixed.

![001](https://user-images.githubusercontent.com/3822799/89752652-d56a7800-db07-11ea-8c05-4fc76da82047.png)
![002](https://user-images.githubusercontent.com/3822799/89752656-d8656880-db07-11ea-95e7-d77a10290b60.png)

Currently problem is: Android will auto changing the text layout direction based on the c

[2020-08-10 05:00] huangjinshe commented on #2447
`FlowDirection="LeftToRight" HorizontalOptions="FillAndExpand"`  not working BTW.

[2020-08-10 05:15] KevinHu-au opened #11726 "[Bug] iOS app crashed with Runtime.ThrowNSException (System.IntPtr ns_exception)"
### Description
Our recently released version of iOS app (using Xamarin.Forms) got a crash which seems like something related with a bug of Layout.

The key message for the exception:
SIGABRT: Objective-C exception thrown. Name: NSInternalInconsistencyException Reason: Modifications to the layout engine must not be performed from a background thread after it has been accessed from the main thread.

[2020-08-10 06:18] huangjinshe commented on #9438
Can I ask when it would be fix?   the problem seems to still exists on v4.8.

[2020-08-10 06:27] kcrg commented on #11166
@jsuarezruiz, Can you speed up the merge of your fixes? This bug causes a lot of crashes in our recently released project.

[2020-08-10 07:07] developer9969 commented on #9003
Hi
wondering if anyone can help, the text on the webView is too small, I have an HTML that I have NO control over.
How can I increase the size?

I have tried https://stackoverflow.com/questions/61114274/xamarin-forms-webview-content-default-size-is-too-small/61114750#61114750

but did not work for me as the page does not load at all.

Is this a bug?
Am I missing something?
Any suggestions

[2020-08-10 07:10] jsuarezruiz commented on #11514
I have tested with Xamarin.Forms **4.8.0.1269** and cannot reproduce the issue. Uncommenting the GeometryGroup lines the result is:

<img width="325" alt="Captura de pantalla 2020-08-10 a las 9 09 13" src="https://user-images.githubusercontent.com/6755973/89758952-5fefaf00-dae9-11ea-80ae-e5aacd6b8e29.png">

[2020-08-10 07:11] sude22 commented on #11495
@samhouts Sorry, I created a small project, but the error is not reproducible :(

[2020-08-10 07:13] jsuarezruiz commented on #11691
The type supported by the Shapes `Fill` and `Stroke` properties in Xamarin.Forms 4.8 is a **Brush** (SolidColorBrush, LinearGradientBrush, or RadialGradientBrush) instead of a Color.
The first case works because there is a `TypeConverter`, but in the second, using a Color type, it is not working. Changing the Color resource by a SolidColorBrush fixes the problem.

[2020-08-10 07:15] grendello commented on #11519
The "unaccounted" spike looks interesting - it might be something that happens in native code, possibly in the Mono runtime (since we have no trace info for it - Android Studio would have it if it was in ART), possibly a large GC collection/related bug?

Another thing that stands out is the spike in the Render Thread - this has a potential of happening in the rendering daemon, but can be caused by

[2020-08-10 07:22] thomasgalliker commented on #11683
@PureWeen the thing is, I tried to extract the minimum amount of code from our production app to build a bug repro app. Unfortunately, I cannot reproduce the bug in this repro app. However, I still attach the app to give you a direction of what I tried to achieve:
[StatusIndicatorApp.zip](https://github.com/xamarin/Xamarin.Forms/files/5049463/StatusIndicatorApp.zip)

Meanwhile I have used a Frame

[2020-08-10 08:08] StephaneDelcroix commented on #11691
@jsuarezruiz so you'd like TypeConverters to be applied with DynamicResource, or any kind of Binding too ?

[2020-08-10 08:49] Saturn commented on #1944
I agree with many that are saying this is a big issue for them.

I am going to give some of the workarounds a try though. I just want to be able to prevent a user going back until they "confirm" that they will lose changes on the page they are on.

[2020-08-10 09:12] AndyNetDuma commented on #11647
I would have to make a repro for it, I don't really feel it's needed as the bugs are so obvious.
If really needed I can try find some time but I am very busy so I can't promise anything.

I opened the issue because I felt the other issues, while similar, didn't actually cover my concerns. I also chose not to open it as separate issues as they are all closely linked and therefore would likely be so

[2020-08-10 09:25] #11684 closed

[2020-08-10 09:50] duindain commented on #9003
In iOS adding the metadata tag works and restores the proper Html sizing

We get the Html content then run it through a HtmlHelper that just checks for existing <html> tags then for <head> tags
then we check if it already has the meta tag

if it doesnt have html tag its just a small snippet of html so we add a boilerplate version then add the head and meta tag
if it does have html but no head we i

[2020-08-10 09:54] jsuarezruiz commented on #11656
@EmilAlipiev Could you attach a reproduction sample?. I have created a test trying to reproduce the problem, but without success.
![issue11656](https://user-images.githubusercontent.com/6755973/89771238-4a39b400-db00-11ea-8b25-479f1017be33.gif)

[2020-08-10 09:56] rmarinho commented on #11703
@atexinspect text on android was always all caps no? do you have an example we can look?!

Thanks

[2020-08-10 10:30] rmarinho commented on #11723
yap can confirm moving from 4.6.0 to 4.7.0 i see the issue..

[2020-08-10 10:48] ludas96 commented on #11708
Happens everywhere. Adding a DataTrigger to a Triggers-collection also shows this error.

[2020-08-10 10:54] Codwy opened #11727 "[Bug] stringformat error"
### Description
Using in order to display a double in 2 decimal places only when it different from 0 otherwise remove the floating point and displays as integer.
Note:
Works fine in WPF, despite that intellisense highlights it with the error message:

### Steps to Reproduce
1. Use `StringFormat='{}{0:#,0.##}'` in an Entry binded to a double.

### Expected Behavior
The displayed value is formatted

[2020-08-10 11:03] bdgza commented on #11691
I define a SolidColorBrush entry in my App.xaml and reference this Brush in my Polygon `Fill` instead of the Color. But then setting the Color for my SolidColorBrush has the same problem as setting the Color directly.

I can only use a fixed color or StaticResource Color, as soon as I change the Brush Color to a DynamicResource Color it doesn't render the Polygon.

[2020-08-10 11:04] ludas96 opened #11728 "[Bug] CarouselView events are delayed on iOS"
### Description
When using the CarouselView in order to create a custom TimePicker where the SnapPointsAlignment is set to Center, and SnapPointsType to Mandatory, the selected item is dalyed by one change.

For example:
CurrentItem = 16:00
Scroll to 15:00 <- CurrentItem is still 16:00
Scroll to 17:00 <- CurrentItem changes to 15:00
Scroll to 13:00 <- CurrentItem changes to 17:00

This only occurs

[2020-08-10 11:04] opcodewriter commented on #11498
Can the Forms team please confirm this issue has been acknowledge and it will be fixed?

Thanks!

[2020-08-10 11:27] jsuarezruiz commented on #11571
I have done tests directly in a native App in UWP and I get the same result:
<img width="1292" alt="Captura de pantalla 2020-08-10 a las 13 26 01" src="https://user-images.githubusercontent.com/6755973/89778061-2466dc00-db0d-11ea-8f95-7d45ab64f264.png">

[2020-08-10 11:36] rmarinho commented on #11719
Hi @albilaga just tried some samples and seems to work. can you upload a sample for what fails for you so we can identify the issue?

Thanks

[2020-08-10 11:45] jsuarezruiz commented on #11715
@Tommigun1980 Could you indicate which View you are using to create the circle? (Frame, BoxView, Shape)

[2020-08-10 11:56] radioactiveman opened #11729 "[Bug] Labels take too much vertical space with LineBreakMode TailTruncation since Xamarin.Forms 4.8.0"
### Description

### Steps to Reproduce

1. Add a label to a collection (`ListView`, `Bindable StackLayout`, ...)
2. Set `LineBreakMode` to `TailTruncation`
3. Set `Text` to a long string which does not fit the screen width

### Expected Behavior
All collection items have the same height. This is the case with Xamarin.Forms until 4.7.0.

### Actual Behavior
Items with too long labels have a heighe

[2020-08-10 12:02] rmarinho commented on #11728
Hi @ludas96 can you please provide us a simple sample to reproduce the issue.

Thanks

[2020-08-10 12:03] kerbooo opened #11730 "Button IsEnabled property is not working with MultiTrigger Conditions"
Hello  **IsEnabled** property is not working after I have updated **Xamarin.Forms 4.8.0.1269**

### Description

Excepted behavior should be following codes, but it is not working

[code]

But that is working
[code]

Thank you in advance

[2020-08-10 12:12] StephaneDelcroix commented on #11722
/cc @mgoertz-msft

[2020-08-10 12:14] StephaneDelcroix commented on #11721
we have tests showing that this work. please provide a repro sample

[2020-08-10 12:16] StephaneDelcroix commented on #11711
@mgoertz-msft ^^

[2020-08-10 12:22] developer9969 commented on #9003
@duindain  thank you very much for your reply. what you saying makes sense but a snippet example for me to build on would be brilliant.

I have also tried the following but made no difference

		public override WKNavigation LoadHtmlString(NSString htmlString, NSUrl baseUrl)
		{
			try
			{
				var iOSHtmlWithScaling = htmlString.ToString().Insert(0, "<meta name='viewport' content='width=device-wid

[2020-08-10 12:38] StephaneDelcroix commented on #11727
I can't reproduce your issue, it even works fine on my test (no runtime log message, no intellisense message). This is the reason why a reproduction projet is requested with a bug report.

As it might be related, make sure to indicate if you're running your app in a non-US locale

[2020-08-10 12:38] developer9969 commented on #11556
@poliahrameshkumar thanks your fix saved me today! for some reasons the  "  <item name="textAllCaps">false</item> in our style.xml in android no longer works and only the renderer fix it.

Kind of confused what the behavior should be, as we definitely do not want to be all caps true

thanks again for the fix

[2020-08-10 12:42] fernandovm commented on #11519
Yeah... At the moment I'm out of ideas, I don't see how to go deeper. ;-((  Anyway, I am available to carry out any new tests that are necessary, or even, to grant remote access to my devices. ;-))

[2020-08-10 12:45] Tommigun1980 commented on #11711
Oh and I’m using the latest released Xamarin version.

[2020-08-10 12:51] Tommigun1980 commented on #11715
Hi @jsuarezruiz, the filled component is a BoxView.

[2020-08-10 13:07] albilaga commented on #11719
[test.zip](https://github.com/xamarin/Xamarin.Forms/files/5050910/test.zip)
@rmarinho this is not working (crash on startup) on my machine on android emulator with Android Q . You can try change min version to v21 and it is working again.

[2020-08-10 14:00] jsuarezruiz commented on #11715
I notice that you are using a Frame (for the shadow) and a BoxView reading this issue: https://github.com/xamarin/Xamarin.Forms/issues/11714

[2020-08-10 14:05] jsuarezruiz commented on #11714
Mnn, not sure if I replicated exactly the same UI. I am using a Frame with a transparent Background and shadow enabled. Then, a BoxView where I applied the gradient and finally a transparent button.

The result is:

<img width="384" alt="Captura de pantalla 2020-08-10 a las 16 00 10" src="https://user-images.githubusercontent.com/6755973/89791206-4408ff00-db23-11ea-817c-fb07a8f62379.png">

Cannot

[2020-08-10 14:07] jsuarezruiz commented on #11715
Related with https://github.com/xamarin/Xamarin.Forms/issues/11571

[2020-08-10 14:12] Tommigun1980 commented on #11714
I had a frame at the bottom with a shadow (for reasons unrelated to this),
then a box view with the brush, and then a button with a font image.

I’ll try to find time to wrap that in a repro project but maybe you could
quickly add the missing component? Thanks!

On Monday, August 10, 2020, Javier Suárez <notifications@github.com> wrote:

--

[2020-08-10 14:12] rmarinho commented on #11719
[code]

Seems strange ..
API29 sim doesn't work
API28 sim works
API27 sim doesn't work

[2020-08-10 14:14] MitchBomcanhao opened #11732 "[Bug] UWP CollectionView not displaying content, or including incorrect content"
### Description
I've just moved from VS 16.7 preview to the final version, and update my project from forms 4.7 to 4.8.
The CollectionView on UWP is showing a number of issues - probably related to this change:

examples of issues I've seen:
- On app launch, the screen may show a blank space instead of the collectionview or the emptyview.
  - Resizing the app window will then render the content.

[2020-08-10 14:37] pdeboer-it commented on #7729
Hi all,

I happen to ran into this issue today. After looking to the code i think that making `ImageSourceProperty` point to `ImageElement.SourceProperty` instead of `ImageElement.ImageProperty` should do the trick.
https://github.com/xamarin/Xamarin.Forms/blob/6d3c41fb2dc0911979cbddda4987e8f76ef7845f/Xamarin.Forms.Core/Button.cs#L54
https://github.com/xamarin/Xamarin.Forms/blob/719fc7a604ff0cce89

[2020-08-10 15:09] kerbooo commented on #11730
Comment has solved my issue in following link

[https://forums.xamarin.com/discussion/comment/180918/#Comment_180918](https://forums.xamarin.com/discussion/comment/180918/#Comment_180918)

[2020-08-10 15:11] PawKanarek commented on #11166
Devices where bug occours, for now more than 1 thousend, and rising (2 days old app) :/
Application on those device Crashes, as we use Device.Idom in our core sdk.

Xiaomi Redmi Note 8 Pro
Xiaomi Redmi Note 4
Xiaomi Redmi Note 8T
Xiaomi Redmi Note 7
Xiaomi Redmi 6
Xiaomi Redmi Note 6 Pro
Xiaomi Redmi Note 5
Xiaomi Redmi 4A
Xiaomi MI 8
Xiaomi Redmi Note 8
Xiaomi Redmi 7
Xiaomi Redmi 5 Plus
rockchip

[2020-08-10 15:15] lucas-zimerman commented on #11166
Workaround: Set the Default value for OnIdiom

[2020-08-10 15:16] rmarinho commented on #11732
I uploaded  a simple sample can you change it a little bit to try recreate your issue, as i have it it seems to work. Grouping and EmptyView.

[App9.zip](https://github.com/xamarin/Xamarin.Forms/files/5051646/App9.zip)

[2020-08-10 15:20] PawKanarek commented on #11166
For now i found solution to override OnIdiom for every occurence in my code...

[code]

And use this like that:
[code]
Its lame but for me its working, On c# usage is like this:

[code]
@lucas-zimerman
That would work, but my app would still crash as DeviceIdom is sometimes Uknown, Watch or Destkop. And my SDK would simply do other things that it supposed to do. Best way is to override OnIdom, so

[2020-08-10 15:24] SOliasS commented on #8021
This also occurs when Closing and reopening the application

[2020-08-10 15:33] TechGuyGeek commented on #7043
Works great for me thanks picker.HorizontalTextAlignment = TextAlignment.Center;

[2020-08-10 15:55] #11727 closed

[2020-08-10 15:59] PawKanarek commented on #11166
@samhouts  i think i found problem. here you are cheking for https://github.com/xamarin/Xamarin.Forms/blob/719fc7a604ff0cce8922d717c99bfb0fa17e35e0/Xamarin.Forms.Platform.Android/Forms.cs#L400 with .HasFlag() method on enum that definietly should return just single value. this: https://developer.android.com/reference/android/app/UiModeManager#getCurrentModeType() isn't flagable.

[2020-08-10 16:00] PawKanarek commented on #11166
Exactly, Essentials do right thing. Forms don't.
https://github.com/xamarin/Essentials/blob/3ab48b96240e7844a4abd68d5801b181151dc796/Xamarin.Essentials/DeviceInfo/DeviceInfo.android.cs#L73-L85

[2020-08-10 16:10] ahmedalejo commented on #11721
That´s weird. I will try getting a repro until tomorrow.

Meanwhile, do you mind pointing to the test case? that would be very informational.

[2020-08-10 16:12] Codwy commented on #11727
The issue was that I was not raising property changed event when values are numerically identical same like 3 and 3.00.

[2020-08-10 16:21] rmarinho commented on #11726
Hi, thanks for your report but just looking to the stack trace we aren't able to find the source of the issue. Can you upload a simple repro project so we can look at it .

Thanks

[2020-08-10 16:32] rmarinho commented on #11720
Hi @Tommigun1980 i tried to reproduce this issue but i wasn't able.

[Italic.zip](https://github.com/xamarin/Xamarin.Forms/files/5052115/Italic.zip)

If you can change the sample i used to try to reproduce the issue would be great.

[2020-08-10 16:39] jsuarezruiz commented on #11498
@opcodewriter Yes, I self assigned the issue and will review it in the next days.

[2020-08-10 16:43] PureWeen commented on #11531
@llzz19851985 4.7/4.8 should support sdk(19) just as well as 4.2

If you're seeing issues there please let us know

[2020-08-10 17:04] memu8 commented on #2447
@huangjinshe We fixed Labels, but this issue may still be present for Pickers and Entries. Can you please open a new issue for that? Thanks!

[2020-08-10 17:05] MitchBomcanhao commented on #11732
@rmarinho
thanks for the small sample, I've tried to adapt it and I think I've got something similar happening.
see repo in https://github.com/MitchBomcanhao/App9

I've added a data template selector for the collectionview item template.
I've extended the animal class to have a category just to have something easy to pick from when running the data template selector.

It should get a collection it

[2020-08-10 17:14] MitchBomcanhao commented on #11732
If I downgrade the sample app to Xamarin Forms 4.7 the template issues are gone but the group footer issue is still present.
I don't use the group footer on my own app so I had not noticed it.

[2020-08-10 17:34] mfeingol opened #11735 "[Bug] Nuget packages should not be stored under C:\Microsoft\Xamarin\Nuget"
### Description

The Xamarin build process appears to use `C:\Microsoft\Xamarin\Nuget` as a storage location for offline packages. This path appears to come from the following file:

[code]

Xamarin should not use a directory under the root directory for this purpose. Instead, `%LOCALAPPDATA%\Xamarin` should be used.

### Steps to Reproduce

Install VS 2019, build a Xamarin project, observe the co

[2020-08-10 17:36] rmarinho commented on #11732
Thanks @MitchBomcanhao

[2020-08-10 17:54] atexinspect commented on #11703
In styles.xml
<?xml version="1.0" encoding="utf-8" ?>
<resources>
  <style name="Theme.Splash"
        parent="android:Theme">
    <item name="android:windowBackground">@drawable/splashscreen</item>
    <item name="android:windowNoTitle">true</item>
  </style>
  <style name="MainTheme" parent="MainTheme.Base">
  </style>

  <style name="MainTheme.Base" parent="Theme.AppCompat.Light.DarkActionBar">

[2020-08-10 18:01] rmarinho commented on #11703
@atexinspect can you upload a small repro?!  Thanks

[2020-08-10 18:02] albilaga commented on #11719
Yep. Confirmed also working on API28 sim works on VS Mac. Not sure why it is suddenly not working. I remember clearly before it is working on API29 sim with same xamarin.forms version so I suspect it is VS for mac or Android SDK.

[2020-08-10 18:33] rmarinho commented on #11730
Can you please upload a small sample with the issue ?

Thanks

[2020-08-10 19:02] atexinspect commented on #11703
https://github.com/atexinspect/CapsTest

[2020-08-10 19:34] holecekp opened #11736 "[Bug] UWP application cannot run in release mode in Xamarin.Forms 4.8"
### Description
UWP applications with Shell cannot run in the release mode. It crashes immediately after start. When I downgrade to 4.7.0.1239, it runs also in the release mode.

My application works fine in debug mode. When I switch to release mode and run it using Ctrl+F5, the following error is displayed:
![UWP_release_mode_crash](https://user-images.githubusercontent.com/24872113/89821885-99f3

[2020-08-10 21:20] cmpalmer66 commented on #11732
I'm seeing this as well - wrong templates being picked, wrong attributes being bound to the templates, bound values not showing - completely broke our app on UWP, so I had to roll Xamarin.Forms back to 4.7.0.1260.

[2020-08-10 22:09] darrabam opened #11737 "[Bug] SwipeView Closes After Command Executes Despite SwipeBehaviorOnInvoked="RemainOpen" (iOS)"
### Description
If the swipe command modifies the item attribute, the swipe item closes, although SwipeBehaviorOnInvoked="RemainOpen".
Please see the gif for details. Note that this happens with iOS only.

### Expected Behavior
If SwipeBehaviorOnInvoked="RemainOpen", then it should remain open after the command executes.

### Actual Behavior
The swipe menu closes when the command modifies the attr

[2020-08-10 22:14] codebreakerlegend2019 opened #11738 "Shell Tab Bar is Slow Navigating through pages (Using Page on demand)"
I am currently using a Xamarin Forms Ver 4.7.0968

- I have 3 pages
- One of the pages has have an asynchronous task run inside a Device.BeginInvokeOnMainThread inside the constructor of the view Model.
- Also when navigating through other tabs it has its Slow perf.

For video of how the issue happens:

[]()https://drive.google.com/file/d/16jM837I79fiAc4-2roi7mC0iq2T37ora/view?usp=drivesdk

[2020-08-10 22:22] vsfeedback opened #11739 "Display Alert Not Close when you change Application Current main page"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1134985/display-alert-not-close-when-you-change-applicatio.html)._

---
<p>bool answer = await DisplayAlert(&quot;Alert&quot;, &quot;Aks Question?&quot;, &quot;Yes&quot;, &quot;No&quot;);
            if (answer)
            {

Application.Current.MainPage = new ChooseOption

[2020-08-10 22:22] vsfeedback opened #11740 "MarkupExtension not found for AppThemeBinding"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1140127/markupextension-not-found-for-appthemebinding.html)._

---
I’m trying to perform this demo: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/theming/system-theme-changes#appthemebinding-markup-extension

It’s not working.

I noticed after a HMR

[2020-08-10 22:23] robintschroeder commented on #8308
I can repro this running ios 12.4.1 and Xamarin.Forms 4.7. Please open the bug up again.

[2020-08-10 22:35] jpacov commented on #11708
Also happened to me when updating to Xamarin Forms 4.8.
After cleaning up the solution, then Rebuilding, then closing VS2019, then cleaning and rebuilding again (more or less that order hehe) the issue was gone.

[2020-08-10 22:48] samhouts commented on #11626
Yeah, I think it is very unlikely that we're doing something to make it not work on simulator. It's possibly due to how the simulator processes the keyboard input?

[2020-08-10 23:19] duindain commented on #9003
I dont have permission to share our code unfortunately and its overly complex to post here with lots of support helpers in other classes and extensions

You can copy the html content as a string to a html file and work out what you have to do from that then make it automatic afterwards

Your current example with insert at 0 would put the meta tag above the html and head sections so it would make t

[2020-08-10 23:22] samhouts commented on #8498
@g4mb10r No, there isn't. Would you mind opening one? Thanks!!

[2020-08-10 23:22] samhouts commented on #8498
closed by #11410

[2020-08-10 23:22] #8498 closed

[2020-08-10 23:23] samhouts commented on #6112
Work is still ongoing on the associated PR. Thanks for your patience!

[2020-08-11 00:27] activa commented on #10307
The problem is that UWP want the font name as part of the font family name. Xamarin Forms wrongly assumes that the font name is the same as the font file name. For many fonts that doesn't work (FontAwesome for example)

I will create a PR to fix this issue.

[2020-08-11 02:36] jpacov opened #11742 "RelativeLayout is not taking full screen since XamarinForms 4.8 update"
### Description
Since updating to Xamarin Forms 4.8, the RelativeLayout is not taking the full space available, even when setting VerticalOptions and **HorizontalOptions** to **FillAndExpand**.
It worked fine before updating to Xamarin Forms 4.8.

### Steps to Reproduce
See code:
`

    <ContentPage.Content>
        <RelativeLayout>

            <Grid BackgroundColor="Green">
                <Grid

[2020-08-11 03:16] OneVideo opened #11743 "[Bug] [UWP] ScrollView: Programmatic ScrollTo Change Is No Change On Screen"
### Description  Programmatically changing the position, index or item from the collection to be displayed does not, in fact, change the on-screen display rendered on UWP, as it does in Android.

### Steps to Reproduce

1. Download current production Sample project --> https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/userinterface-carouselviewdemos/
2. Add a UWP startup proje

[2020-08-11 04:24] KarthikRaja26 commented on #6901
Hi @PureWeen ,

still, now there is no update from you. So I am removing the sample. please let us know when you look on this and  i will send you the sample.

Regards,
Karthik Raja

[2020-08-11 04:33] huangjinshe opened #11744 "[Bug] Android Entry and Picker still let flow direction based on language but not current settings!"
### Description

Android will auto changing the text layout direction based on the current language. If the language direction is RTL, it still show the text from right to left(also the layout will based on that).

### Steps to Reproduce

1. Go to download  [Oybab Trading System](https://github.com/oybab/TradingSystem).
2. Open and Run Android project.
3. Go to "Setting" on the Login page, Change

[2020-08-11 04:45] samirgcofficial commented on #6112
Any updates when can we expect this feature on Xamarin Forms Version ?

[2020-08-11 05:18] Muniappan612 commented on #6428
Hi @samhouts ,

Any update on this.?

[2020-08-11 05:39] divyesh008 commented on #10801
I'm facing same error in my project. I have Xamarin.Forms 4.6.0.726 version.
Stack trace:
[code]

**Application Output Window show these output:**

[2020-08-11 06:39] developer9969 commented on #9003
@duindain  thank you. I get it and now my html looks like but when I test it in the simulator there is no change

	<html>
	      <head>
                   <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1'>
              </head>
	      <body>
	            <form >
	                  <input etc...">
	           </form>
	      </body>
	</html>

I am totally lost now of

[2020-08-11 07:12] kerbooo commented on #11730
Hello my project is so complicated but I can share what I did. I am using **Prism DryIoc 7.2.0.142** with **Xamarin.Forms 4.8.0.1269** Thank you in advance.

**LoginPageViewModel.cs**

[code]

**LoginPage.xaml**

[code]

[code]

[2020-08-11 08:32] galadril commented on #6112
I've quickly setup a NuGet package / Plugin library to ease the implementation for a badge on a bottom bar for you guys:
https://github.com/galadril/Xam.Shell.Badge

(@angelru @jmelendez025 @tawrey @kamranmasud @tawreyhap @thuyetpv )

[2020-08-11 08:36] pdeboer-it commented on #7729
Hi again,

I've created a quick workaround for this problem using a AttachedProperty.
I've used a FontImageSource as type because this is what i needed but you can off course change this to your own needs.

[code]

And this is how i use it in a style.

[code]

Hope this helps someone with the same problem.

[2020-08-11 08:52] StephaneDelcroix commented on #11740
what version of XF are you using ?

what do you get ? build time or runtime error ? could you share your sample project ?

[2020-08-11 08:54] DoubleDBE opened #11745 "[Enhancement] Provide Opacity property for brushes"
In our WPF application we're using gradients with their opacity property set to lower values than 1.

It would be great if we'd have this feature in XF so we can easily port it.

E.g.
[code]

[2020-08-11 09:27] codebreakerlegend2019 commented on #11738
@samhouts Any thoughts about this??? I am experiencing it Only on Android as of the moment is has some transition problem

[2020-08-11 09:33] xleon commented on #7176
I made this in Android as suggested on top, but with the help of an Effect. It looks perfect and performance is awesome. The only consideration to have it working is that the `Label` needs to have a fixed `HeightRequest`.

![image](https://user-images.githubusercontent.com/145087/89881702-23de4c00-dbc6-11ea-9606-389a856af13e.png)

[2020-08-11 10:04] rmarinho commented on #11719
@albilaga it might be this issue https://github.com/xamarin/xamarin-android/issues/4983

[2020-08-11 10:08] albilaga commented on #11719
@rmarinho that sound same but then I already tried xamarin.android native it is working fine though?

[2020-08-11 10:13] rmarinho commented on #8308
@robintschroeder , @daves1992 can you reproduce using the BugExample ?

[2020-08-11 10:45] daves1992 commented on #8308
@rmarinho Yes, just tested on an Iphone 6 running 12.4.5 and was able to repro using BugExample first time

[2020-08-11 10:57] grendello commented on #11719
@albilaga it will work if you don't use AndroidX components which include manifest merger use. The manifest merger with flip the `extractNativeLibs` to `false` and thus trigger the Android bug. I'm certain this issue is a duplicate of https://github.com/xamarin/xamarin-android/issues/4983 - please use [this workaround](https://github.com/xamarin/xamarin-android/issues/4983#issuecomment-670603943)

[2020-08-11 10:57] #11719 closed

[2020-08-11 10:58] AlexanderMelchers commented on #6387
I also ran into this issue yesterday and, to my surprise, found that nobody seems to have reported this issue to the FFImageLoading-team yet, notwithstanding the fact that this clearly seems to be an issue to do with that library. That is, the line causing issues is `CachedImageRenderer.InitImageSourceHandler();` in your `AppDelegate` - removing it will prevent the crash.

Since this line appears

[2020-08-11 11:13] rmarinho commented on #11712
![image](https://user-images.githubusercontent.com/1235097/89890690-addce380-dbcb-11ea-81ab-2c74c73cf0b9.png)

I tried to reproduce this issue but wasn't able, can you please provide a small repro with the code for this template.

Thanks

[2020-08-11 11:22] rmarinho commented on #11730
Can you share `IntegerGreaterThanZeroConverter` ?

[2020-08-11 11:41] rmarinho commented on #8308
I tested with 4.8 on  iOS 12.2 Simulator and seems to work.

[2020-08-11 11:54] kerbooo commented on #11730
@rmarinho Hello again

[code]

[2020-08-11 12:11] rmarinho commented on #11702
Seems this is related with the  Font.SystemFontOfSize(NamedSize.Medium).FontSize

If you use it like this it should work:
` Font = Font.SystemFontOfSize(NamedSize.Medium),`

![image](https://user-images.githubusercontent.com/1235097/89895338-8e49b900-dbd3-11ea-91e1-fe731fdd2a16.png)

But since Font is deprecated what you want is to use:

`FontSize = Device.GetNamedSize(NamedSize.Small, typeof(Labe

[2020-08-11 12:11] #11702 closed

[2020-08-11 12:44] daves1992 commented on #8308
My bad I forgot to update Xamarin.Forms in the sample. I updated to 4.8 and haven't been able to reproduce on the sample or my app since... ill keep an eye as it didn't do it for me every time the other day and I was 100% on 4.7.X

[2020-08-11 13:12] being-yash-t commented on #11712
Hello @rmarinho
I just figured it out, I was using material visual in this project and it was applied to everything
[code]
Note I have ApplyToDerivedTypes as true

So this issue only comes with Material Visuals.
When I set Visual="Default" for the frame, or remove ApplyToDerivedTypes everything is fine.

Got my solution, If you want to close this issue, go ahead or if you guys will commit some cha

[2020-08-11 13:50] #11712 closed

[2020-08-11 14:14] kosozhihin commented on #8640
Just so you know, a very dirty hack that subscribes to element view size changes can be used to manually set the CollectionView's Height appropriately, if you **absolutely** need to use the CollectionView. But I too would like to see this working out of the box. :)

[2020-08-11 14:29] developer9969 commented on #9003
which event i can hook into in the  renderer  so that I can intercept the HTML and inject the metadata?
I mean each time a page is loaded into the web view I want to see the source and modify it?

[2020-08-11 14:50] rkarban commented on #8308
the bug is still exists on xamarin 4.8

[2020-08-11 14:53] jonkas2211 commented on #10993
Hallo @hartez,
do you have any suggestion on how do update the expanded state?
Maybe in the view, when the item leaves the screen?

[2020-08-11 14:59] rmarinho commented on #10801
I can reproduce this in our repo, i did tried something like :

[code]

But that doesn't work same issue.

[2020-08-11 15:00] rmarinho commented on #8308
@rkarban do you have a repo? i just tested and wasn't able to reproduce it .

[2020-08-11 15:05] rkarban commented on #8308
unfortunately the repo is private, and I can not give access
here is stack trace
NSObject.get_SuperHandle ()
UICollectionViewController.get_CollectionView ()
ItemsViewController`1[TItemsView].GetPrototype ()
ItemsViewLayout.DetermineCellSize ()
ListViewLayout.ConstrainTo (CoreGraphics.CGSize size)
ItemsViewLayout.UpdateConstraints (CoreGraphics.CGSize size)
ItemsViewLayout.InvalidateLayout ()
(wra

[2020-08-11 15:24] pmahend1 opened #11746 "[Bug] application deploy on Android 11 emulator fails with Mono.AndroidTools.AdbException: secure_mkdirs failed: Permission denied"
### Description

Last week upgraded Visual Studio 2019(Professional) which shipped Android 11 SDK updates
I changed the target SDK in both manifest and project application properties.
When I try to deploy the app I get the error. This error doesnt show up for Android Pie and Q emulators

### Steps to Reproduce

1. Update Visual Studio 2019 to 16.7
2.  Update all android SDKs
3. Create an x86 emula

[2020-08-11 15:43] rmarinho commented on #11743
[XFCarouselView.zip](https://github.com/xamarin/Xamarin.Forms/files/5057903/XFCarouselView.zip)

[2020-08-11 15:47] daves1992 commented on #8308
[BugExample.zip](https://github.com/xamarin/Xamarin.Forms/files/5057908/BugExample.zip)

@rmarinho I managed to replicate it by changing the sample slightly.

I added a 100ms delay to setting the Items property.

Iphone 6
IOS 12.4.5
Xamarin.Forms 4.8

        ObservableCollection<string> items;

        public ObservableCollection<string> Items
        {
            get { return items; }

[2020-08-11 15:47] SteveGrixti commented on #6259
Hi,

This is turning out to be a big issue for me.

I have a form on my android application that consists of 8 tabs. As soon as I skipped the 5th tab, it is hiding the bound values on the first tab even though they are still attached to the bindingcontext. Then, when I move onto the 6th tab, it hides the bound values of the second tab, and so on and so forth.

Same issue as @Kornelis.

Is this bei

[2020-08-11 16:01] rmarinho commented on #11744
Sorry i couldn't run the sample ...

[code]

Can you provide a smaller sample? Also the `AndExpand`is for use on the Stacklayout

[2020-08-11 16:05] SteveGrixti commented on #6188
Hi,

This is turning out to be a big issue for me.

I have a form on my android application that consists of 8 tabs. As soon as I skipped the 5th tab, it is hiding the bound values on the first tab even though they are still attached to the bindingcontext. Then, when I move onto the 6th tab, it hides the bound values of the second tab, and so on and so forth.

Same issue as @MaxenceSAUNIER .

Is t

[2020-08-11 16:06] huangjinshe commented on #11744
@rmarinho , please before you use [Oybab Trading System](https://github.com/oybab/TradingSystem), read the [Read me](https://github.com/oybab/TradingSystem/blob/master/README.md) file, especially the steps about `Developer`  step No.2:

[2020-08-11 16:55] rmarinho commented on #11739
I trying to reproduce this issue but i wasn't able too. I tried this page on iOS and Android. and after the Display is always closed.

[code]

[2020-08-11 17:20] rmarinho commented on #11713
Can you share the Styles ?

[2020-08-11 17:30] rmarinho commented on #11713
Here's what i ahve now
[code]

[2020-08-11 17:40] spottedmahn opened #11750 "Changing light/dark mode on ListView not working properly [Bug]"
### Description
Please see the below gif.  When see how the list view becomes multiple colors as I toggle the dark mode appearance in the simulator.

![Kapture 2020-08-11 at 13 13 56](https://user-images.githubusercontent.com/14079228/89929037-acfd7f00-dbd6-11ea-8bf3-3d312c5d54ba.gif)

### Steps to Reproduce
Sample project: https://github.com/spottedmahn/experiments-2020/tree/master/StyleInheritan

[2020-08-11 17:41] rmarinho commented on #11742
Hi @jpacov  i just tested this code with 4.6 , 4.7 and 48 and it always renders like this.

Can you provide a sample that works fine on 4.7 and not on 4.8 ? thanks

[2020-08-11 17:57] rmarinho commented on #11708
Hi @RobertoGFilho , @ludas96  and @jpacov , if you clean and restart the IDE does it work for you?

Thanks

[2020-08-11 18:58] davidortinau opened #11751 "[Bug] Shell more screen icon dark mode color incorrect"
### Description

By default you get a blue icon on iOS. The icons that overflow from the tabs to the more screen (list) do not retain the same colors of the tabs.

<img width="584" alt="Screen Shot 2020-08-11 at 1 36 17 PM" src="https://user-images.githubusercontent.com/41873/89936730-af150d00-dbd9-11ea-9ff5-b1e68b0d9c65.png">

In this case, I set the colors on the `FontImageSource` directly and u

[2020-08-11 19:08] rmarinho commented on #11705
Thanks @KPixel , did a PR your recommendations.

[2020-08-11 19:19] spottedmahn opened #11753 "Changing App.xaml w/ HMR causes ObjectDisposedException [Bug]"
### Description
When I change a color in [this sample app](https://github.com/spottedmahn/experiments-2020/tree/master/StyleInheritance) I get an `ObjectDisposedException`.

  at UIKit.UIViewController.get_IsViewLoaded () [0x00023] in /Library/Frameworks/Xamarin.iOS.framework/Versions/13.20.2.2/src/Xamarin.iOS/UIKit/UIViewController.g.cs:2080
  at Xamarin.Forms.Platform.iOS.ObservableItemsSource.N

[2020-08-11 20:59] jpacov commented on #11742
Hi @rmarinho. Sorry for that, I made a mistake when trying to simplify so much the example code.

Here is the smallest simplification I manage to reproduce the issue.
`
<ContentPage.Content>
        <RelativeLayout>
            <Grid BackgroundColor="LightGreen">
                <Grid.RowDefinitions>
                    <RowDefinition Height="*"/>
                    <RowDefinition Height="30"/>

[2020-08-11 21:08] jpacov commented on #11708
For me yes, after cleaning, closing, reopening, rebuilding (not sure which order exactly and how many times) it finally stopped annoying to me.

[2020-08-11 21:54] Reveon commented on #11742
I had the same issue with RelativeLayout after update to 4.8

Workaround for me was to give the child Grid a ConstraintExpression (which was not necessary for before 4.8) and set width to factor 1 like this:

[code]

[2020-08-11 21:54] activa commented on #2296
@samhouts We have implemented a workaround in our project for this issue so I don't know if it's still an issue. I'll test it in the next few days

[2020-08-12 00:15] KPixel commented on #11705
Awesome. I will continue the discussion on the PR.

[2020-08-12 01:36] Nekliukov opened #11756 "PageRenderer's OnKeyPressEvent ignores A-Z, 0-9 keys on GTK [Bug]"
### Description
It is unable to catch keys pressing by OnKeyPressEvent on GTK.
Other platforms (WPF, Android) do it successfully.

### Steps to Reproduce

1. Override OnKeyPressEvent in your class derived from PageRenderer
2. Focus any Entry on the page which uses PageRenderer described above
3. Press any non-functional key on the keyboard

### Expected Behavior
Step into OnKeyPressEvent

### Actu

[2020-08-12 01:47] jpacov commented on #11742
Thanks a lot for the workaround idea @Reveon.
By using your idea (with HeightConstraint in my case) now it worked again.

Now we leave to the Xamarin Forms experts the last decision if this workaround is **how it should be done** (which could make sense) or if it's an issue (is there an impact in performance this extra constraint?)

[2020-08-12 02:10] KevinHu-au commented on #11726
Hi @rmarinho, thank you for the responses. As I have no ideas about which page/control cause these exception, I don't know how can I have a simple repo to reproduce the exception.

[2020-08-12 02:13] PureWeen commented on #11726
sounds like you are modifying your layout from a background thread..

Do you have any timers or network calls?

[2020-08-12 02:21] KevinHu-au commented on #11726
@PureWeen. I do have a timer to draw something on SKCanvasView to show the progress of a user's action. But it is happening on UI thread.

        private void StartRunning()
        {
            sweepAngle = 0.0f;
            progressObs = Observable
                .Interval(TimeSpan.FromMilliseconds(progressInterval))
                .SubOnMainThread(_ => OnProgress());
        }

        priv

[2020-08-12 04:50] KarthikRaja26 commented on #9312
Hi @samhouts ,

Any update on this ?

[2020-08-12 04:57] KarthikRaja26 commented on #10198
Hi @samhouts ,

This is a critical issue for us. Could you please provide a solution as soon as possible ?

Thanks.

[2020-08-12 06:30] zejtin commented on #11225
Thank you very much for the links and detailed explanation! I'll let you know how it went :)

Btw I've opened issue on monodevelop for this bug if anyone stumbles upon this https://github.com/mono/monodevelop/issues/9643

[2020-08-12 06:40] mrvancor commented on #11412
We have the same issue. It's very critical for our app.

[2020-08-12 06:48] ibocon opened #11757 "[Bug] System.NotSupportedException: 'Undable to activate instance of type SkiaSharp.Views.Forms.SKCanvasViewRenderer from native handle'"
### Description
I am trying to replace `ContnetView.Contnet` by touch.

### Steps to Reproduce

1. Create blank Xamarin project.
2. Add 'MyContetView.cs' file.
3. copy & paste source code
[code]

### Expected Behavior

`MyContnetView.Content` changed.

### Actual Behavior
System.NotSupportedException

### Basic Information

- Version with issue:
- Last known good version: none
- IDE: Visual Studio

[2020-08-12 06:51] hamiddd1980 commented on #11637
Hello. I'd like to thank you for considering the matter. According to the fact that I pointed to the possible root of problem in my comments( in Github) , I'd like to know is it possible to accelerate solving this Bug?
Thank you for taking this into consideration.

________________________________
From: Shane Neuville <notifications@github.com>
Sent: Thursday, August 6, 2020 3:42 AM
To: xamarin/Xa

[2020-08-12 07:17] ludas96 commented on #11708
@rmarinho Yeah, cleaning the solution and restarting the IDE did indeed work.

[2020-08-12 07:28] knocte commented on #11225
Great, you can close this issue then.

[2020-08-12 07:35] Pantheas commented on #11703
Creating a custom button renderer and calling `SetAllCaps(false);` does not work aswell...

[2020-08-12 08:22] SteveGrixti commented on #6259
UPDATE:

Just to let everyone know, I managed to get around this by making use of the Android specific method SetOffscreenPageLimit() as shown below. Issue no longer occurs.

[code]

[2020-08-12 08:22] SteveGrixti commented on #6188
UPDATE:

Just to let everyone know, I managed to get around this by making use of the Android specific method SetOffscreenPageLimit() as shown below. Issue no longer occurs.

[code]

[2020-08-12 09:24] rmarinho commented on #11757
cc @mattleibow

[2020-08-12 09:27] rmarinho commented on #11756
Hi @Nekliukov do you mind upload a small repro project so it can help us reproduce. Is this on Windows or macOS ?

[2020-08-12 09:52] lazareveugene commented on #7849
hi, we checked 'MORE' button on Android and it looks good

but what about iOS ? it has same issue

[2020-08-12 09:53] Nekliukov commented on #11756
Hi, @rmarinho. It' Windows

[2020-08-12 10:01] RobertoGFilho commented on #11708
Now ! it's ok just update Visual Studio to Version 16.7.1 or latter

[2020-08-12 10:01] #11708 closed

[2020-08-12 10:09] rmarinho commented on #11607
@duncanmak what device?

[2020-08-12 10:12] rmarinho commented on #11607
Ok got it to reproduce on the SE 2nd generation.

When the repo loads:
![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-08-12 at 11 10 54](https://user-images.githubusercontent.com/1235097/90003829-8f8aec80-dc8c-11ea-99d0-382be41e6f90.png)

If I try to scroll it fixes the issue
![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-08-12 at 11 10 59](https://user-images.githubuserc

[2020-08-12 10:18] rmarinho commented on #11738
@codebreakerlegend2019 we need a small reproduction to helps us understand  better the problem.

Thanks

[2020-08-12 10:18] jfversluis commented on #7849
Awesome! I think for iOS you just need to add the right supported languages in your `info.plist` and it should translate together with the UI language.

[2020-08-12 10:20] lazareveugene commented on #7849
yes found it )))

[2020-08-12 10:32] rmarinho commented on #11726
So this is more related with Skia and ReactiveUI?

[2020-08-12 10:57] rmarinho commented on #11742
Hi @jpacov glad you have a workaround, but I still can't reproduce this. I tried your sample with

4.6.0
![4 6 0](https://user-images.githubusercontent.com/1235097/90007547-d5e34a00-dc92-11ea-97d3-e11e084efb75.png)

4.7.0
![4 7 0](https://user-images.githubusercontent.com/1235097/90007570-e398cf80-dc92-11ea-9ff2-a8260ffa4613.png)

4.8.0
![4 8 0](https://user-images.githubusercontent.com/1235097/90

[2020-08-12 11:03] codebreakerlegend2019 commented on #11738
It is on the Video file from Google Drive that I have included. It is only about how the Tabbar's speed when going from one page to another. In the video it a slow performance

[2020-08-12 11:04] rmarinho commented on #11671
Hi @Tommigun1980 can you provide a small repro project so we can take a look at this ?

Thanks

[2020-08-12 11:07] rmarinho commented on #11545
Hi @Xyotic can you please provide a small reproduction sample so we can look better at this issue?

Thanks

[2020-08-12 11:12] rmarinho commented on #11738
Hi @codebreakerlegend2019 thanks for your response, I saw the video  but for us to understand we need a sample so we can see the page templates etc..

[2020-08-12 11:21] ivanteles commented on #7849
I updated my app to Xamarin 4.8 and it continues more.

[2020-08-12 11:46] AlfonChitoSalano commented on #11590
Yes it is still an issue. So I could reproduce this by just doing twice or more than swiping from right to left when im at the end of the item. I could still reproduce this even in the 4.8.x version

[2020-08-12 12:12] codebreakerlegend2019 commented on #11738
Hi thanks for getting back on me @rmarinho

Here is my repo link:
https://github.com/codebreakerlegend2019/EZ2App

You may check the ff:

Shell Page on Views > MainPage.xaml

Customer Page on Views > CustomerRelatedPage > CustomerPage.xaml

Customer VM on ViewModels > CustomerRelatedViewModel > CustomerPageViewModel.cs

Thank You!!!

[2020-08-12 12:15] Sebastian1989101 opened #11758 "[Bug] SwipeView TapGestureRecognizer causes SwipeItems to be not accessible"
### Description

When using a TapGestureRecognizer within a SwipeView, the SwipeItems are no longer accessible.

### Steps to Reproduce

1. Use a SwipeView
2. Setup a TapGestureRecognizer on the content of it

### Expected Behavior

TapGestureRecognizer should not block the swipe gesture

### Actual Behavior

TapGestureRecognizer is blocking the swipe gesture

### Basic Information

- Version with

[2020-08-12 12:39] mrvancor commented on #9567
Hey! Have you solve it?

[2020-08-12 13:29] Tommigun1980 opened #11759 "ResourceDictionary's context is different than Content object's"
This is a follow-up to https://github.com/xamarin/Xamarin.Forms/issues/11672 that got closed, where I feel I didn't describe the issue well enough. Feel free to close this if it's still not an issue.

The problem is not with the usage of x:Reference but with the discrepancy regarding the usage of '.BindingContext'., which I probably did not explain well enough. Please ponder the following:
* Say y

[2020-08-12 13:31] cmpalmer66 commented on #11729
I'm not sure if it's related, but I've also seen a bug I'm trying to isolate where, if the label contains nothing but an acronym or a camel-cased word, the word wrapping can get confused and allocate too much vertical space to contain it. In our application, a label such as "MixedCaseWord" or "MAOP" will result in extra vertical space, whereas "Mixed Case Word" or "M A O P" will not.

[2020-08-12 14:05] filipoff2 commented on #8498
After update to  "Xamarin.Forms" **Version="4.8.0.1269"**

Getting other exception on
ArgumentException: An item with the same key has already been added. Key: background

if (rootFrame.Content == null)
            {
                // When the navigation stack isn't restored navigate to the first page,
                // configuring the new page by passing required information as a navigation

[2020-08-12 14:20] memu8 commented on #11744
In the Android manifest file, do you have android:supportsRtl set to true?

[2020-08-12 14:27] oscarjaergren commented on #10991
1+ This is great

[2020-08-12 14:43] DuncWatts commented on #10801
I'm getting something similar in 4.7.0.1179 when navigating back from a page containing a CollectionView to another containing a CollectionView:

`LayoutPresenter.OnMeasure (System.Double widthConstraint, System.Double heightConstraint)`

`System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer'.`

[code]

[2020-08-12 15:05] PureWeen commented on #8498
@filipoff2 yea if you can log a new issue so that we make sure it's not missed that would be helpful!!

[2020-08-12 15:30] jsuarezruiz commented on #11737
@darrabam I will check versions to give you more information. I have sent a PR with the fix: https://github.com/xamarin/Xamarin.Forms/pull/11762

[2020-08-12 16:21] Edgaras91 commented on #10159
Bug still exists in Xamarin.Forms 4.8.0.1269 for 2 emulators Android versions 7.1 and 9.0.
Crash report from AppCenter:

JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self)
System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer'.

    JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self)
    JniPeerMem

[2020-08-12 16:38] rmarinho commented on #11758
Hi @Sebastian1989101  i tried to reproduce this issue but wasn't able, i added a tap and i could use the swipe and get the tapped fired. The code i used:

[code]

Can you please upload a small repo. And btw is this iOS or Android?

[2020-08-12 16:42] PureWeen commented on #11759
@Tommigun1980 I'm still not quite following your train of thought

Can you attach a repro of the non working state that you think should work?

[2020-08-12 16:43] Sebastian1989101 commented on #11758
@rmarinho I tested it with Android. Only difference to your code is, that my SwipeView is in a ItemTemplate of a CollectionView, otherwise it is identical. I just started testing with iOS with the SwipeView and already had 2 issues out of the box with the very same code that worked on Android at the end.. at least I did not encounter the TapGesture issue on iOS..

[2020-08-12 16:58] Sebastian1989101 opened #11764 "[Bug] SwipeView iOS getting offset by 1px down and 1px right"
### Description

As soon as I swipe on my SwipeView in iOS, the whole SwipeView gets an offset by 1px down and 1px to the right which will stay until I change something in code and trigger a UI reload.

![Xamarin SwipeView iOS](https://user-images.githubusercontent.com/25636075/90044155-879f6c80-dccd-11ea-8cbf-80c5d7ccb2ab.gif)

There is no margin or padding used that could cause this + the offset

[2020-08-12 17:01] Sebastian1989101 opened #11765 "[Bug] SwipeView on iOS executes TapGesture on the SwipeView and the SwipeViewItem at the same time"
### Description

I attached a TapGesture to my SwipeView (because Android does not like it when this is attached to the content see: #11758). But as soon as I tap on my SwipeViewItem, the TapGesture of the SwipeView itself gets also executed (only on iOS, this does not happen on Android).

![Xamarin SwipeView iOS 2](https://user-images.githubusercontent.com/25636075/90044608-25933700-dcce-11ea-81f

[2020-08-12 17:18] mattleibow commented on #11757
@rmarinho I am not sure why this would happen. Is this a result of something that needs to be done in a renderer?

This is my renderer:

[code]

The canvas appears on the screen at startup, then it is swapped out fine. But, when it is put back in, the exception happens.

[2020-08-12 17:30] rmarinho commented on #11758
Ok i used the sample for file->new project and change a bit for this and it works

I can click on the swipe items, and i can use the tap gesture to go to next page

[code]

[2020-08-12 17:30] rmarinho commented on #11758
Please upload a sample if you can.
Thanks

[2020-08-12 17:31] rmarinho commented on #11765
Can you upload a project using this sample i can click for  example on swipe and i don't navigate via the tap gesture

[code]

[2020-08-12 17:35] spottedmahn opened #11767 "[Enhancement] Where is my XamlParseException?"
## Summary
When I get a `XamlParseException` it doesn't tell me where, which file is the parse exception on??

![image](https://user-images.githubusercontent.com/14079228/90047765-75f3a000-dca0-11ea-9ca0-9cdefc8cfda0.png)

## API Changes
Include the filename that has the parse exception

## Intended Use Case
Quickly find my problems

[2020-08-12 18:00] StephaneDelcroix commented on #11759
ResourceDictionaries do not get the context, as they're not BindableObject. You're probably trying to abuse the RD for what it hasn't been designed

[2020-08-12 18:00] #11759 closed

[2020-08-12 18:33] dansiegel commented on #9970
This issue is something that I'm seeing in the Prism branch for Regions as we use an ObservableCollection bound to the ItemsSource. This is a critical bug that is a show stopper for anyone who is using an ObservableCollection.

For a reproduction you can pull the `wip-regions` branch and run Prism's Xamarin.Forms E2E test app.

[2020-08-12 20:20] filipoff2 opened #11768 "[Bug] xamarin forms 4.8 Uwp shell excepion on navigation ArgumentException: An item with the same key has already been added. Key: background"
After update to "Xamarin.Forms" Version="4.8.0.1269"

Getting other exception on
ArgumentException: An item with the same key has already been added. Key: background

line 71:
rootFrame.Navigate(typeof(MainPage), e.Arguments);
In
https://github.com/filipoff2/MagicGradients/blob/issues/Add-UWP-Playground-Project-45/Playground/Playground.UWP/App.xaml.cs

Result:
On 4.8 App is crashing on start
On 4.

[2020-08-12 20:22] filipoff2 commented on #11768
https://github.com/xamarin/Xamarin.Forms/issues/8498#issuecomment-672929538

[2020-08-12 20:41] filipoff2 commented on #11768
Tomorrow will deliver branch with 4.8

[2020-08-12 21:02] cmpalmer66 commented on #9659
Has anyone found a workaround for this one? I just encountered it deep into a redesign and it's killing me. I've basically found the CollectionView to almost unusable on multiple platforms.

[2020-08-12 21:19] Tommigun1980 commented on #11759
No, that’s not what I’m trying to do. I’m binding properties in converters
inside a resource dictionary. As converters don’t support data binding in
their parameter values you HAVE to bind converter values like that. But
converter values require you to write the bindings differently than other
bindings inside the content object.

On Wednesday, August 12, 2020, Stephane Delcroix <notifications@gith

[2020-08-12 21:30] Tommigun1980 commented on #11759
[code]

[2020-08-12 21:31] Tommigun1980 commented on #11759
What makes you think so?

[2020-08-12 21:34] TonyLugg commented on #7798
I'm using XF 4.8 and it still doesn't work properly.

[2020-08-12 21:57] Sebastian1989101 commented on #11765
@rmarinho Changing your code to this one causes this error on my machine:
[code]

[2020-08-12 21:59] Sebastian1989101 commented on #11758
@rmarinho hmm thats strange that is exactly how I can recreate the error. I will try to setup a sample in the next hours/days.

[2020-08-12 22:14] samhouts commented on #2212
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-12 22:14] #2212 closed

[2020-08-12 22:14] samhouts commented on #2195
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-12 22:14] #2195 closed

[2020-08-12 22:15] samhouts commented on #2194
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-12 22:15] #2194 closed

[2020-08-12 22:15] samhouts commented on #11369
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-12 22:15] #11369 closed

[2020-08-12 22:15] samhouts commented on #11366
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-08-12 22:15] #11366 closed

[2020-08-12 22:16] samhouts commented on #2296
Thanks!!

[2020-08-12 22:18] #2540 closed

[2020-08-12 22:19] samhouts commented on #11635
Thanks!

[2020-08-12 22:39] xleon commented on #8282
Same here with XF 4.7.0.1260. RefreshView is not usable in iOS with a Header.
More problems (artefacts) come into place when the page does not use a Navigation bar (`NavigationPage.HasNavigationBar="False"`)

[2020-08-12 22:59] Eilon opened #11769 "[Bug] Shell throws exceptions during dynamic modification"
### Description

Shell throws certain exceptions when modifying its contents dynamically. In the Blazor world first the Shell is created and added to the visual tree, then its children, then their children, etc. On some platforms (iOS) Shell requires that it have at least one item when it is added to the visual tree. So my solution is to initialize Shell with a dummy item, and then later when the

[2020-08-12 23:01] Eilon commented on #11769
BTW right now I'm using `UseDummyItem=true` in Mobile Blazor Bindings because at least it runs. But the first-chance exception is far from ideal because it makes debugging things more difficult (always have to skip past it), plus it's clearly a situation that should either work with no exceptions or be fully blocked.

Original report here: https://github.com/xamarin/MobileBlazorBindings/issues/158

[2020-08-13 00:09] KevinHu-au commented on #11726
@rmarinho. I am not sure about it. I cannot reproduce the issue from my end, so I cannot 100% sure if it was coming from the page/view

[2020-08-13 00:22] ksang77 commented on #11505
having the same issue on UWP startup after i upgraded xamarin form from 3.4.0.1008975 to 4.8.0.1269, unfortunately VS2017 forced the UWP project to use 17763 even i changed to 18362 by editing the project file backdoor.

[2020-08-13 00:54] cmpalmer66 commented on #9659
Okay, the BindableLayout worked as an alternative. It's a shame that CollectionView has errors on all the platforms, I'm not sure it's usable for anything very complex at this point.

[2020-08-13 01:30] jgold6 commented on #11648
It seems that the 3rd party Plugin.HybridWebView strips out the extraneous stuff:
https://github.com/devsmadeofsteel/Plugin.HybridWebView/blob/master/HybridWebView/Droid/HybridWebViewRenderer.cs#L359

                    // Unescape that damn Unicode Java bull.
                    response = Regex.Replace(_callback.Value.ToString(), @"\\[Uu]([0-9A-Fa-f]{4})", m => char.ToString((char)ushort.Parse(

[2020-08-13 02:31] spottedmahn commented on #11740
Hi @StephaneDelcroix

4.7

runtime error after making a change in HMR kicks in

I don't but if I can try.  Let's close the issue for now and if I can repro it in a sample project I'll reopen it.  Thanks

[2020-08-13 02:40] ibocon commented on #11757
## Workaround

Instead of replacing `ContentView.Content`, toggle `VisualElement.IsVisible` between `SKCanvasView` and `Editor`.

[code]

[code]
For cleaner code, **State** pattern could be a great solution than `if`.

[2020-08-13 03:07] PureWeen commented on #11768
@filipoff2  i don't think this is a shell bug

I ran your code and the exception is happening here

[code]

in your StyleSheet.cs class

I'm not sure what's all going on in there but if you could break that out into a smaller repro. Maybe this is an issue on your side? I see reflection so maybe it's triggering an unsupported scenario?

For fun I changed "add" to "tryadd" and then it loads

[2020-08-13 03:22] mattleibow commented on #11757
Great that you have a workaround. If the forms team notices a bug, then I'll fix it. Hopefully we can get this going nicely soon.

[2020-08-13 04:29] softlion opened #11770 "[Bug] Application.Current.Resources["key"] fails but Application.Current.Resources.TryGetValue("key", out var value) works"
### Description
When using a merged dictionary to split xaml styles like this (App.xaml), then retrieving a key from it in C# code through the indexer `Application.Current.Resources["key"]`, the key is never found and the indexer throws an exception.

But using `Application.Current.Resources.TryGetValue("key", out var value)` does retrieve the correct value (a Style object).

[code]

Example of Co

[2020-08-13 04:31] softlion commented on #11770
This issue has been discovered in 2018 and is also reported here
https://forums.xamarin.com/discussion/146001/how-to-get-a-rsource-from-an-mergeddictionary-in-c-code

[2020-08-13 04:46] krisurnok commented on #9711
Still the same error coming in xamarin form 4.8.

[2020-08-13 04:48] huangjinshe commented on #11744
@memu8 , I remember I tried it before few months ago. Remember, currently problem is Android layout automatically display : Right to left.(because the current using language write rule is Right to left).

I hope you could try that project, because it has 3 language, 2 is LTR, 1 is RTL, you could see the problem clearly  .

[2020-08-13 05:13] mgierlasinski commented on #11768
@filipoff2 @PureWeen This is not an issue with Shell but with Magic Gradients and Brushes working together. In Forms 4.8 there was new `background` css property introduced, we use exact same property in Magic Gradients. We are working on fix, registering css properties outside Forms assembly is a reflection pain 😞  As @PureWeen pointed this is registration issue, if there is an existing `backgroun

[2020-08-13 05:17] jessejiang0214 commented on #11412
Hi Team,

Just want to follow up, any ETA for this? My customer wants to ship this feature to Production ASAP.

[2020-08-13 06:28] filipoff2 commented on #11768
Ok well I did update something was working after update not so conclusion was fast.

**Registering css properties outside Forms assembly** should be more formalized in such case.

@PureWeen  @mgierlasinski  is there an new feature request for formalize **Registering css properties outside Forms**?

[2020-08-13 07:06] filipoff2 commented on #11768
ok I'm closing issue.
This one is hobby for me.
For commercial projects: Less 3rd party are nuggets used in xamarin client solution that Is more chance it won't be hit by xamarin update.

[2020-08-13 07:06] #11768 closed

[2020-08-13 07:36] AntonIOIOIO opened #11771 "[Bug] Xaml hot reload and liveshare"
### Description

### Steps to Reproduce

1. Run liveshare session
2. Save a Xaml document from remote computer.
3. Document gets saved but Xaml hot reload does not run/update

### Expected Behavior
Should update the Xaml UI on the device on save document.
### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - A

[2020-08-13 07:40] mcguu opened #11772 "[Bug] Xamarin.Forms Shell's Full Screen leads to untouchable to the tab bar menu."
I want to use the safe area in the android like in the ios. like this image:https://us.v-cdn.net/5019960/uploads/editor/ky/brwnjgrb6ip5.png
since android has no such effects.
someone tell me I can use full screen in android.
but in Full screen the tabbar menu can not be touched.
it will tap the system menu directly.

1. create a xamarin.forms shell project
2. custom android to use full screen in M

[2020-08-13 08:18] ludas96 opened #11773 "[Bug] RadioButton not displaying Text property"
# Description
The RadioButton control is not displaying its Text property even with TextColor set to Black with a White background.

[code]

### Expected Behavior
Should show the Text next to the circle.

### Actual Behavior
Not showing the text, only showing the circle.

### Basic Information

- Version with issue: 4.8.0
- Last known good version: ?
- IDE: VS 2019

### Screenshots
![test](https:/

[2020-08-13 08:50] programmingworld1 commented on #9659
It's true. BindableLayout works for this. Sorry that I didn't respond faster..

[2020-08-13 09:25] rmarinho commented on #11765
Why can't you add the gesture on the Content?

[2020-08-13 09:40] Sebastian1989101 commented on #11765
@rmarinho Due to #11758 - and I don't know why this is happening.

[2020-08-13 09:44] holecekp commented on #11773
This could be the same issue as the one already reported in #11700.

[2020-08-13 09:48] ludas96 commented on #11773
@holecekp Ah.. missed that one.
Well thats not good then, probably going with InputKit's RadioButton for now. Hopefully it's better with Version 5.0.

[2020-08-13 09:48] #11773 closed

[2020-08-13 09:57] rmarinho commented on #11738
@codebreakerlegend2019  is it possible to test the app? i comment out the Login stuff  but  when i load CustomerPage i don't get data . You can send me to rumar at microsoft.com

![image](https://user-images.githubusercontent.com/1235097/90121320-be1fca80-dd53-11ea-92bb-ecd8dfcbefc8.png)

[2020-08-13 10:01] codebreakerlegend2019 commented on #11738
Hi @rmarinho, my main point on my report was it is slow when it is switching tabs unlike to other apps like spotify or netflix that I assume uses the sabe tab bar have a smooth and fast transition between Tab Pages.

Thank You!

[2020-08-13 10:04] RobDaytona commented on #10627
Hello still waiting for a fix please.

[2020-08-13 10:39] rmarinho commented on #11756
[code]

So i m not sure this is a bug , sinc the entry gets the keypresses, if you don't have the entry with focus it seems to work fine.

@jsuarezruiz what's your opinion?

[2020-08-13 10:50] dmariogatto commented on #11738
Possibly related to #8795 (slowness causes by view inflation on switching tabs)?

[2020-08-13 11:01] dmariogatto opened #11774 "[Bug] Label height incorrect when text wrapping (nested layouts)"
### Description

I have a custom chat list layout. The latest version of Xamarin Forms (4.8.1269) cuts off the last line of wrapped text labels when inside a nested layout. This is only a problem for the chat message that is nested inside a Grid of two columns (one for the profile picture & the other for the actual message).

### Steps to Reproduce

See retry sample.

### Expected Behavior

Layout

[2020-08-13 11:07] rmarinho commented on #11756
Ok after some testing i can see that iOS and UWP the events bubble up to the PageRenderer, but for example on ANdroid they dont.

[2020-08-13 11:29] StephaneDelcroix commented on #11770
it's not an issue, it's by design. RD are meant to be used mainly from XAML

and we can't change this now, as it would be breaking.

there's an opportunity window to change this when we move to maui though

[2020-08-13 11:29] #11770 closed

[2020-08-13 11:29] StephaneDelcroix commented on #11770
one API walks the parent tree, the other does not

[2020-08-13 11:37] ognamala commented on #10895
Observing the same behaviour.

Attempting to load a gif which is an embedded resources within the NetStandard shared library. If the IsAnimationPlaying is false then the gif is rendered but not animated. As soon as this value is switched to true, the crash occurs.

[2020-08-13 11:37] mduchev commented on #6919
I am still waiting for a fix for these events - 3 years and counting...

[2020-08-13 11:39] mduchev commented on #6919
Same here.

[2020-08-13 11:51] codebreakerlegend2019 commented on #11738
@dmariogatto How can it can be fix? I want it to be smooth as Spotify and Netflix tab bar used for a reference?

[2020-08-13 11:51] jsuarezruiz commented on #11765
Tested this code:

With Xamarin.Forms 4.7 and 4.8 and cannot reproduce the issue.

![issue11765](https://user-images.githubusercontent.com/6755973/90131244-195db700-dd6c-11ea-998b-5eecb54708e8.gif)

[2020-08-13 12:00] #11740 closed

[2020-08-13 13:06] softlion commented on #11770
@StephaneDelcroix if you look at the code, both are walking the tree. So it should work exactly the same.

[2020-08-13 13:11] Sebastian1989101 commented on #11758
[XamarinIssue11758.zip](https://github.com/xamarin/Xamarin.Forms/files/5069206/XamarinIssue11758.zip)

Here is a sample project showing this problem on Android.

[2020-08-13 13:37] Reveon commented on #11742
@rmarinho
This issue may be related to grid and I see it mostly when the content is larger then the size of the column.
You will see the issue when you set the 1.st column size to for example 0.1* but it disapears when you make it bigger.

I have 2 grids where the top one is inside RelativeLayout. In 4.7 they are practilly identical but in 4.8 the Grid does not take the whole available space and i

[2020-08-13 13:50] alirazamsp commented on #11427
I am having the same issue on Android with Xamarin Forms 4.8 version. Is there any workaround for this bug ?

[2020-08-13 14:24] edujgomes5 commented on #10634
Tenho um problema semelhante a este. Criei um projeto do zero ele funciona, o projeto que já tenho publicado na playstore, quando tento debugar ele, ele quebra logo após a tela de splash. Tenho outros dois projetos aqui que tem o mesmo problema quando coloco a api minima para API 17.

[2020-08-13 14:32] rmarinho commented on #11742
Thanks @Reveon i can reproduce now.

[2020-08-13 14:37] rmarinho commented on #10634
@edujgomes5 Xamarin.Forms só suporta API19 para cima.

Obrigado

[2020-08-13 14:46] codebreakerlegend2019 commented on #8795
I think our bug or problem have something in common.
@dmariogatto do you have some workaround on this?

[2020-08-13 14:46] l0gaw commented on #8308
I have the same issue on ios 12 even with Xamarin Forms 4.8. Collectionview is crashing on these devices.

[2020-08-13 15:13] lee-m opened #11776 "[Bug] No text shown for RadioButton"
### Description
Despite setting RadioButton's Text property, no text is shown on the page on Android. Tried testing on iOS but having some issues getting the test project running on my Mac.

### Steps to Reproduce
1. Create a new basic XF app
2. Take the example XAML from the RadioButton [docs page](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/radiobutton#create-radiobutto

[2020-08-13 15:18] krayknot commented on #8795
in the first version, the tab with collectionview was on Index 0, now I have placed it on index 3. Index 0 has the search page now.

Just a workaround.

[2020-08-13 15:20] codebreakerlegend2019 commented on #8795
@krayknot do you have a video that it remove the lag?

[2020-08-13 15:25] krayknot commented on #8795
This is the app, I am working on:

https://play.google.com/store/apps/details?id=news.krayknot

At present the TAB sequence is Search, Categories, Home, Stories, Settings

Previously it was Home, Stories, Categories, Search and Settings.

So, whenever user changed any setting and comes back on "Home", all was reset.

I tried to resolve it but gotcha know that this is a know bug and then I changed

[2020-08-13 15:30] codebreakerlegend2019 commented on #8795
It seems fast and has no lag at all what Xamarin Forms Version you use??

[2020-08-13 15:33] krayknot commented on #8795
4.8

[2020-08-13 15:37] codebreakerlegend2019 commented on #8795
Do you have Rest Api calls ?? From backend??

Where do you put the tab index thing?

[2020-08-13 15:40] krayknot commented on #8795
Yes there are REST Api calls. Its a tabbed page which is using Bottomnavigationview

[2020-08-13 15:43] codebreakerlegend2019 commented on #8795
Wait wait, just to be clear. Have you used shell tab or the old tabbed page?

[2020-08-13 16:10] mohsen-mohamed commented on #6554
+1

[2020-08-13 16:14] Sasha111ua opened #11777 "ios:Page.UseSafeArea="true" makes the content of a page jumping on appearing XF 4.8 [Bug] [IOs] [Shell]"
### Description
If you use ios:Page.UseSafeArea="true" on a page then content jumps from unsafe area to safe area after page appeared. You basically can see that. On 4.7. works fine.

### Steps to Reproduce

1.  Run project
2. Click on any item of the list
3. When ItemsDeails page appears you see like adjusting of the content layout is happening (jumping effect).

### Expected Behavior
The page ap

[2020-08-13 16:57] Sebastian1989101 commented on #11765
@rmarinho @jsuarezruiz
[XamarinIssue11765.zip](https://github.com/xamarin/Xamarin.Forms/files/5070338/XamarinIssue11765.zip)

Here is a sample that recreates the issue. After clearing the caches the code you quote also worked on my machine, however the issue stays if you don't use SwipeItem but SwipeItemView instead.

[2020-08-13 17:00] edujgomes5 commented on #10634
Discordo, porque se eu crio um projeto vazio e instalo os pacotes que tenho no outro ele executa normalmente no tablet que tenho na versão 4.2.2; Preciso entender o que esta acontecendo no outro projeto pra não ter que fazer ele todo do zero.

[2020-08-13 17:00] Sebastian1989101 commented on #11764
This sample is for another issue but still, it shows the error from the report pretty well.
[XamarinIssue11765.zip](https://github.com/xamarin/Xamarin.Forms/files/5070363/XamarinIssue11765.zip)

[2020-08-13 17:36] cmpalmer66 commented on #8787
I'm seeing this problem again in v4.8.0.1269, had to re-activate the workaround above to get the values to show on UWP.

[2020-08-13 17:46] gceaser commented on #8787
For me v4.8.0.1269 is the first release to fix the problem.

[2020-08-13 17:57] cmpalmer66 commented on #8787
Hmm. I had a form with several Entry boxes (IsEnabled="false" on them to make them read only, if that matters). I set their bound property in the VM and on iOS, the values appear. On UWP, they did not appear. I turned on the fix above with the EntryRenderer (we'd implemented it when we saw this problem before, but had since disabled it) and the values started appearing on UWP as they were on iOS.

[2020-08-13 18:01] bmacombe commented on #8787
@cmpalmer66 Can you create a repro project?  I just pulled the 4.8 branches and tested all the test pages and everything still looks good.

[2020-08-13 18:02] bmacombe commented on #8787
If you can, probably best to create a new issue also since this one was closed.

[2020-08-13 18:04] samhouts commented on #2555
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-13 18:04] samhouts commented on #2558
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-13 18:04] cmpalmer66 commented on #8787
I will try. Maybe it's a coincidence or glitch, but I'll see what I can do and create a new issue if I can duplicate.

[2020-08-13 18:04] samhouts commented on #2573
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-13 18:04] samhouts commented on #2590
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-13 18:04] samhouts commented on #2601
This issue doesn't seem to have had any activity in a long time. We're working on prioritizing issues and resolving them as quickly as we can. To help us get through the list, we would appreciate an update from you to let us know if this is still affecting you on the latest version of Xamarin.Forms, since it's possible that we may have resolved this as part of another related or duplicate issue. I

[2020-08-13 18:07] bmacombe commented on #8787
If you do, ping me on it and I'll try to take a look.  I want to squash all these UWP not showing until resizing issues, they are driving me nuts too!

[2020-08-13 19:04] rmarinho commented on #11777
This is similar to #11723 it seems.

[2020-08-13 22:28] silasas commented on #7751
I am in trouble to load images.
Some images work, but others not.

I think is firewall or other thing in the remote server. it is blocking the connection...

[2020-08-13 22:44] silasas opened #11778 "[Bug] Issue loading images"
### Description

I am in trouble to load images.
Some images work, but others not.

I think is firewall or other thing in the remote server. it is blocking the connection...

### Steps to Reproduce

        private List<ProdutoViewModel> produtoViewModels = new List<ProdutoViewModel>
        {
                     new ProdutoViewModel {Nome="Curso de word", UrlImagem= Teste() }

        };

[2020-08-13 22:51] samhouts commented on #8210
Duplicate of #2447

[2020-08-13 22:51] #8210 closed

[2020-08-14 00:10] silasas commented on #7751
In fact, I tried others sites.
Then, I understood that is permission, it is firewall, policy or proxy of the remote server.
It is not trouble in the Xamarin.

To all these uri's worked:

UrlImagem="https://f.i.uol.com.br/fotografia/2020/08/11/15971795205f33068050991_1597179520_3x2_xs.jpg"},
 UrlImagem= "https://f.i.uol.com.br/fotografia/2020/08/13/15973505355f35a28743c4c_1597350535_3x2_md.jpg" },

[2020-08-14 01:27] l0gaw commented on #8308
I found a workaround for this bug. I create a custom renderer for Collectionview and I overrode the method Dispose.
Here is the custom renderer code:

[assembly: ExportRenderer(typeof(CollectionView), typeof(CustomCollectionViewRenderer))]
namespace Project.iOS.Renderers
{
    public class CustomCollectionViewRenderer : CollectionViewRenderer
    {
        protected override void Dispose(bool disp

[2020-08-14 06:26] groege commented on #7325
@PureWeen Good Morning thought I'd tag you since this issue has been closed before it might fall through the cracks
 I do have the same problem.
Version v4.7.0.1239
Version v4.7.0.1260
Both Versions are broken for me

[2020-08-14 07:23] mknotzer opened #11781 "[Enhancement] SwipeView should support FontFamily"
## Summary
Support of Text/FontAwesome (standard icons) in addition to IconImageSource (individual icons)

## API Changes

New attribute FontFamily

[2020-08-14 07:25] seb-glanum opened #11782 "[Bug] ListView Android : Duplicated items"
### Description

I have an ListView with inside my ViewCell : a ScrollView with orientation horizontal.

The issue is that when I'm scrolling in an item horizontally and then I move forward in my ListView, I see some duplicated items which has the same state than the previous one where I was scrolling horizontally.

I'm using MVVM and RecycleElement for ListView in the app and the issue is only on

[2020-08-14 09:02] jsuarezruiz commented on #11758
Thanks for the reproduction sample. I have done tests and the issue seems to be fixed in 4.8. Could you try?.
![issue11758](https://user-images.githubusercontent.com/6755973/90232883-9432da80-de1d-11ea-966c-b088fc34a6d0.gif)

[2020-08-14 09:35] rmarinho commented on #11782
Hi @seb-glanum that's because when you ScrollViewCustom is being reused you don't set it to the the **initial value 0** .

try something like this

[code]

[2020-08-14 09:35] holecekp commented on #11776
This problem has already been reported as #11700. It is marked as closed, which makes it harder to find.

[2020-08-14 10:25] rmarinho commented on #11778
Can you upload a small repro please.

Thanks

[2020-08-14 10:34] seb-glanum commented on #11782
Hello @rmarinho ! Thanks for your answer ! I've already tried to set the value on this method but it's doesn't do anything in my situation, the issue still here. As you would expect, ScrollXValue from my model would update ScrollViewCustom's ScrollToAsync with the property ScrollXWritablePropertyChanged, even if it's updating the value it's doesn't do anything. As I said the issue is only on Andro

[2020-08-14 10:44] rmarinho commented on #11764
Ok, thanks i can reproduce on 4.7.0 and 4.8

[2020-08-14 10:56] groege commented on #7325
Actually sorry there already is a new issue:
https://github.com/xamarin/Xamarin.Forms/issues/10801

[2020-08-14 11:49] tamasszadvari commented on #6851
I'm still experiencing the issue with the latest Xamarin.Forms (version 4.8.0.1269). I have 2 columns and I use grouping also.

[2020-08-14 11:55] rmarinho commented on #11782
yeah my recommendation was wrong... but this is by design since the ScrollViewRenderer doesn't know about ScrollXValue.

You will need a custom renderer like so

``´
public class ScrollViewCustomRenderer : ScrollViewRenderer
	{
		public ScrollViewCustomRenderer(Context context) : base(context) { }

		protected override void OnElementChanged(VisualElementChangedEventArgs e)
		{
			base.OnElementCha

[2020-08-14 12:53] pnda489 commented on #7849
I can confirm @ivanteles , i upgraded to 4.8 and it is not working.

[2020-08-14 13:02] seb-glanum commented on #11782
I've make this custom renderer but it's seems to not working neither. I believe that is an issue with Android's Adapter with its recycle function from Android's ListView.

Weird thing : if i'm scrolling very fast in my ListView, its seems to not make the duplicated cells, but conversely with slow scroll it has duplicated items.

[2020-08-14 13:25] ivanteles commented on #7849
@pnda489 I am using "Portugues" as "Device Language"

[2020-08-14 13:41] manikandankTSI155 opened #11784 "[Bug] Navigate back on pressing the bottom tab"
### Description
On android, when using bottom tabs in shell, if I navigate to a new page and then navigate back by using the bottom tab bar, no navigation occurs. I am forced to use the back button.

### Steps to Reproduce

1. Create an app with shell and set up 3 bottom tabs.
2. Push a new page onto the navigation stack using Shell's GoToAsync call
3. Attempt to navigate back by pressing the bott

[2020-08-14 14:08] pfafft33 commented on #11776
I'm having this problem also since I updated to XF 4.8.0.1269 about a week ago.
When can we expect a fix?

[2020-08-14 14:32] Seuleuzeuh commented on #10086
I'm facing the same "issue". I'm using the Execute mode and with a small text you don't understand what the action does until a long swipe.
What i was expected :
- container take all the space (ie like the actual behavior) for settings the background color (in the your example @jsuarezruiz red color)
- the content (ie text & icon) align to the corresponding collection filled (RightItems => Right,

[2020-08-14 15:16] Tommigun1980 opened #11785 "[Bug] Binding converter properties in a resource dictionary requires archaic syntax"
This is a follow-up to https://github.com/xamarin/Xamarin.Forms/issues/11759 that got closed before I had a chance to reply.

So TLDR:

If you bind converter properties in a resource dictionary, such as to a VM's 'ActivityTypeIdFilter' property in the following example;

[code]

they require you to use a reference and add a 'BindingContext dot' to the binding or it won't work. When binding against

[2020-08-14 15:17] Seuleuzeuh commented on #9565
@denysvega the SelectionMode="Single" is already set.
@EmilAlipiev you have to set the BackgroundColor to the original in the VisualState Normal, for example

[code]

[2020-08-14 15:26] Tommigun1980 opened #11786 "[Enhancement] Please support bindings in converter parameters"
Because converter parameters can't use bindings, one is forced to add bindings to the converter itself. This can become unwieldy and you may need several converters with different parameters to do something simple, so it can easily get out of hand. Please consider adding support for bindings in converter parameters to solve this.

Tangentially related is how obscure the syntax becomes with convert

[2020-08-14 16:02] JuanuMusic commented on #1497
I know this is an OLD thread, but I just found that this bug is still reproducible if the event is an Action instead of an EventHandler.

Reproduction steps are exactly the same but use `Action` instead of the `EventHandler`
Is this the right place to report it?

[2020-08-14 16:39] chrisevans9629 commented on #11326
In case this helps someone else until this gets fixed, this is what we did to get around this issue:

[code]
This is removes the RefreshView when running on UWP.

[2020-08-14 16:43] FuJa0815 opened #11787 "[Enhancement] Close DisplayPromptAsync on keyboard ok button press"
## Summary
`DisplayPromptAsync` should close when pressing the keyboard accept button.
Currently the accept button only hides the keyboard.

## API Changes
This feature should be toggable using an optional boolean parameter called `closeOnKeyboardOk` or something like that.

## Intended Use Case
When asking the user for input, the user should be able to accept his input using the accept button on

[2020-08-14 16:50] mduchev opened #11788 "[Bug] [iOS] SwipeView cuts 1px upon swiping in CollectionView"
### Description
When in an ItemTemplate of CollectionView, SwipeView cuts 1px upon swiping.

### Steps to Reproduce
1. Create a CollectionView
2. Add some dummy data to it
3. Add SwipeView to its ItemTemplate
4. Add a 1px BoxView at the bottom of the item template.
5. Swipe any row

### Expected Behavior
The swipe will not cut anything from the layout

### Actual Behavior
As soon as the swipe star

[2020-08-14 16:53] mnxamdev commented on #3722
For UWP is .Net Native Toolchain compilation the problem here? So what I figured out is if I set our UWP app to Release mode for x86 or x64 and unchecked .Net Native Toolchain and our app starts around 2 seconds but with it on I get app start in 6-8 seconds. From what I understand even if we uncheck that, the store will build with .Net Native Toolchain, is that correct?
https://forums.xamarin.com/

[2020-08-14 17:01] rmarinho commented on #11788
Duplicate of #11764

[2020-08-14 17:01] #11788 closed

[2020-08-14 17:11] Amenti commented on #8308
Thanks for sharing. I'll try this. We also see a huge amount of crashes regarding this issue.

[2020-08-14 17:18] tessarolli opened #11789 "[Bug-WPF] FontFamily not working for FontAwesome"
### Description
After updating to 4.8, Labels no longer show FontAwesome Icons on WPF Application.
All other Platforms are working as they should.

### Steps to Reproduce
[code]
### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue: 4.8+
- Last known good version: 4.5

### Screenshots

Working (UWP):
![image](https://user-images.githubusercontent.com/11618432/9027

[2020-08-14 17:34] kamalkumar1 commented on #11700
for me also  radio button not working after updated to 4.8 version of xamarin forms. kindly advise me whether i can use it my real time project or not.
![image](https://user-images.githubusercontent.com/7221268/90277053-85324380-de82-11ea-8fc4-ac2812b8cf01.png)

[2020-08-14 17:37] rmarinho commented on #11785
Hi @Tommigun1980  can you please provide us with a small sample to better understand the problem?

Thanks

[2020-08-14 17:45] whitneyschmidt opened #11790 "[Bug] NSInvalidArgumentException when access NSColor.SeparatorColor from MacOS < 10.14"
Moving this from xamarin-macios issue https://github.com/xamarin/xamarin-macios/issues/9352 to Forms.

`SeparatorColor` is only available on macOS 10.14 and above (Apple docs), so it would crash if called on a High Sierra machine.

The following Forms code is causing the crash:

[code]

https://github.com/xamarin/Xamarin.Forms/blob/719fc7a604ff0cce8922d717c99bfb0fa17e35e0/Xamarin.Forms.Platform.Ma

[2020-08-14 17:45] whitneyschmidt commented on #11790
From @SeRgI1982:

Steps to Reproduce

Create Xamarin Forms app for macOS (Xamarin Forms version: 4.8.0.1269)
Put Slider control to the ContentPage
Run the application on macOS High Sierra (version 10.13.6)
Expected Behavior

Slider should display properly

Actual Behavior

An Exception is thrown:

Exceptions: NSInvalidArgumentException: +[NSColor separatorColor]: unrecognized selector sent to clas

[2020-08-14 18:19] rmarinho commented on #11685
Hi @rasel-tr i tried your sample, with 4.60 and 4.7..0.1142 and it also doesn't show the Modal ,

in what version does this works ?

[2020-08-14 18:29] rmarinho commented on #11590
@AlfonChitoSalano are you sure you are updating the packages and cleaning ? Can you upload the repro you are using ?

[2020-08-14 18:32] rmarinho commented on #11633
Can you provide the styles you are using ? THanks

[2020-08-14 18:44] rmarinho commented on #11387
Hi @Strypper  i did some testing ,and its working for us seems  we will really need a sample to investigate this further.

Thanks.

[2020-08-14 18:45] rmarinho commented on #11730
yeah i think here you just need to use the CanExecute on your command in this  situation. Because the Command is changing the IsEnabled property.

[2020-08-14 18:47] charlesroddie commented on #3722
@mnxamdev AOT giving slower startup times is very unusual. I understand that it's time consuming to do but I think you'll have to get a reproduction. Worth a separate issue too.

[2020-08-14 18:48] rmarinho commented on #11495
Thanks please reopen when you can reproduce the issue.

[2020-08-14 18:48] #11495 closed

[2020-08-14 18:52] JogyBlack commented on #11700
@kamalkumar1 The radio button works for me, but does not display a label under Android. So I simply put it in a StackPanel with a normal label and added a TapGestureRecognizer to the label, so that tapping it will check the radio button.

[code]

[2020-08-14 19:19] rmarinho commented on #11784
Hi, this feature of popping back on iOS is a native  feature on that OS, it's related with TabController and NAvigationController, your request is a enhancement to Shell so on Android it behaves like iOS.

[2020-08-14 19:32] RGBPlaza commented on #11181
This is *really* important, I have absolutely no idea how it's been so long since `CollectionView` was introduced without this being done yet. Personally I'd describe this issue as a pretty urgent bug fix.

[2020-08-14 19:34] francis2 commented on #9801
I forgot about this one as I'm still using 4.6. So I re-tested today on 4.8:

The crash still occurs on line 25 in AppShell.xaml.cs -> secondTab.Items.Clear();

Xamarin.Forms 4.6.1073
Works as expected on both Android and iOS.

Xamarin.Forms 4.8.1269
Crashes on both OSes.

Logs and repro attached.

[Android Debug Output.txt](https://github.com/xamarin/Xamarin.Forms/files/5076804/Android.Debug.Outp

[2020-08-14 19:35] kerbooo commented on #11730
Okay but there was not any problem with previous version of xamarin forms.

14 Ağu 2020 Cum 21:45 tarihinde Rui Marinho <notifications@github.com> şunu
yazdı:

[2020-08-14 19:57] silasas commented on #11778
Follow the project to download:

https://drive.google.com/file/d/12Oxga1t4CpamKz9kvKWYp7NWEP7HYCbw/view?usp=sharing

Notice:

Url’s are in the DataService.cs

------------------------

private List<ProdutoViewModel> produtoViewModels = new List<ProdutoViewModel>

        {

            //don't working

            //new ProdutoViewModel {Nome="Técnicas de parcial blonde", UrlImagem="https://www.st

[2020-08-14 20:33] lucas-zimerman commented on #6967
before I mark select the selected item I added a delay of 1ms, that seems to do the trick

[2020-08-14 20:35] lucas-zimerman commented on #8308
some heroes don't wear capes

[2020-08-14 22:25] mjmostachetti commented on #11642
Are there any planned releases before 5.0.0? If so, it would be nice to get this in sooner. Thanks!

[2020-08-14 22:44] xamiell commented on #10895
I'm seeing the seem error. Time before was working but now is crashing the app.
On Android the app is crashing when the following code is loading in a content page:

[code]

EmbeddedResourceExtention code works with others images like *.png or *.jpg but not with gif

[code]

On iOS is not rendering.
Is very frustrating because I'm working this requirement for a Enterprise Application.

Xamarin.For

[2020-08-14 23:15] squinn7 commented on #11663
Just took a look at it and it works great. Especially cool because I worked on a previous project where we hand spun this with renderers and it took a lot of effort.

 As a suggestion, we used drag and drop to implement a planner app with calendars and timelines. Something that I can't figure out is if you can get the position of the drop on the screen from the event.

If this isn't in here I migh

[2020-08-15 00:08] juanraa commented on #11626
Agree with you guys, i will close it.

[2020-08-15 00:08] #11626 closed

[2020-08-15 00:11] mjmostachetti commented on #10343
This works and should be closed.

[2020-08-15 00:11] #10343 closed

[2020-08-15 00:59] juanraa opened #11793 "[Bug] Accessibility Xamarin.Forms the scroll is not following the reading elements on iOS"
### Description
On the  version 4.8.0.1269 of Xamarin.Forms the scroll is not following the reading elements on iOS, the voiceOver read all the elements but the scroll doesn't move with it.
### Steps to Reproduce

1. Open the sample project
2. Start reading the elements
3. The scroll never moves with the element reading.

### Expected Behavior
The scroll moves with the reading elements.
### Actual

[2020-08-15 01:14] Tommigun1980 commented on #11785
Hi @rmarinho - I will do that, please leave this open for a short while until I can do the sample.

[2020-08-15 01:17] Tommigun1980 commented on #11713
Hi @rmarinho - I will try to edit the project as soon as I get the chance. One thing I noticed is that it only seems to happen when you have a custom font set -- I don't know if it's related to actually having a custom font, or if the custom font just happens to align so that the issue is exposed. I am using 'Source Sans Pro' for the 'regular' spans, and the Bold font attribute in the capitalised

[2020-08-15 01:59] tomreich opened #11794 "[Bug] RefreshView with CollectionView child cannot contain GridItemsLayout with Span greater than 1 in combination with EmptyView on UWP"
### Description
Creating a RefreshView that has a CollectionView that has both CollectionView.ItemsLayout set vertical with a span of greater than one AND CollectionView.EmptyView causes a crash in the UWP environment.  No crash in Android.  Haven't tried in iOS.

### Steps to Reproduce
The following XAML produces the error when the CollectionView is wired up to an Observable Collection.  Comment

[2020-08-15 03:39] Tommigun1980 commented on #11777
I noticed earlier that reading the safe area rectangle only works in OnAppearing (and not in the constructor as the documents say). I filed a documentation bug report, but maybe the functionality itself has changed in 4.8 and it was accessible in the constructor earlier? That would explain the flipping people see and why some plugins I am using are broken regarding the safe area.

[2020-08-15 03:43] Tommigun1980 commented on #11700
Please don't make anything new, just fix the existing functionality. PLEASE!

[2020-08-15 03:47] Tommigun1980 commented on #11776
Probably never as they remade the radio buttons. Which means it will take several months before there is a working version. I think it would be best if new developments were stopped and the existing one was made functional. It is hard to find a a version of Xamarin.Forms where all widgets work, and it is not great to constantly have to remake stuff because the APIs change. So please please fix thi

[2020-08-15 04:03] Tommigun1980 opened #11795 "[Bug] Brushes API - gradient offset does nothing on Android"
[code]

Deliberately ugly colors to showcase the problem - 'Offset' does nothing on Android.

iOS:
<img width="64" alt="Screenshot 2020-08-15 at 7 02 31" src="https://user-images.githubusercontent.com/60286968/90304913-54bfc900-dec5-11ea-85d6-fbc1ddfd74df.png">

Android:
<img width="93" alt="Screenshot 2020-08-15 at 7 02 41" src="https://user-images.githubusercontent.com/60286968/90304916-59847d00

[2020-08-15 04:12] Tommigun1980 commented on #11795
I think there's more problems, I stopped using the offset and edited the StartPoint and EndPoint properties instead, and Android still doesn't look remotely the same as iOS.

iOS:
<img width="77" alt="Screenshot 2020-08-15 at 7 11 55" src="https://user-images.githubusercontent.com/60286968/90305029-a3ba2e00-dec6-11ea-87fa-bfbb219440d1.png">

Android:
<img width="96" alt="Screenshot 2020-08-15 at 7

[2020-08-15 04:24] rasel-tr commented on #11685
Hello @rmarinho, after your message, I tried to re-produce the working behavior with downgrading forms and/or other components and nothing works. May be it is related with iOS SDK versions.

I'm attaching a new solution that includes the android part. It is working on android without a problem.

On iOS, It isn't giving an error to help me resolve the situation so I need your help.

[repro.zip](htt

[2020-08-15 08:18] johncao158 commented on #10307
Xamarin.Forms: 4.8.0.1269
ExportFont works for Android, but not UWP

Instead of using ExportFont in the shared project, here's a workaround:

1. Copy your font file (xxx.ttf) to the Assets folder in Androind and UWP project:

**[Android]:**
Assets/xxx.ttf
Build Action: AndroidAsset
Copy to Output Directory: Do not copy

**[UWP]:**
Assets/xxx.ttf
Build Action: Content
Copy to Output Directory: Do n

[2020-08-15 08:45] dbassioneisdata opened #11796 "Xamarin Form v 4.8.0.1269 ScrollView not filling in space"
We update Xamarin.Form from 4.7.0.1260 to 4.8.0.1269 the Scrollview doesn't fill out the screen

Code -

            EisMainDiv = new StackLayout();
            EisMainDiv.HorizontalOptions = LayoutOptions.FillAndExpand;
            EisMainDiv.VerticalOptions = LayoutOptions.FillAndExpand;
            EisMainDiv.Margin = new Thickness(0, 0, 0, 0);
            EisScroll = new ScrollView();

[2020-08-15 09:34] ish-1313 commented on #11776
hit the same. as a temporary workaround using label near radiobutton inside stacklayout

[2020-08-15 11:14] KevinHu-au commented on #11726
BTW, untill now, only iOS has this issue (happened 4 times since the release last week). Android app is fine so far.

[2020-08-15 13:36] idrish-rishabhsoft commented on #10567
Any fix? We are struggling with same problem.

[2020-08-15 15:09] pfafft33 commented on #11776
I think I'll just stay at XF 4.7.0.1239 until they fix the RadioButton bug in a future release.

[2020-08-15 16:21] ognamala commented on #10895
Hey @xamiell if you want you can still render the gif but you cannot use this method

For android put your gif in the resources/drawable folder and for iOS put it in the resources folder, then use a normal image component in XAML and set IsAnimationPlaying = true

This issue seems to happen if we use the gifs from within the .NET shared library .. Hope this helps

[2020-08-15 16:24] xamiell commented on #10895
Hi, @ognamala thanks for the reply!
I will try and let you know

[2020-08-15 17:09] xamiell commented on #10895
I try it, works but on Android took more seconds to be rendered.
On iOS the gif is rendered as soon y open the page but on Android took more seconds to be rendered.

[2020-08-15 18:08] mduchev commented on #10895
@xamiell The gifs are notoriously slow on Android. The larger the gif, the sower the initial load will be. Just to keep that in mind. If it is very large, I am using the new Media element and I'm playing them as a mp4 file.

[2020-08-15 20:02] codebreakerlegend2019 commented on #11738
@rmarinho  Do you have any updates on this issue?

[2020-08-15 21:11] #11225 closed

[2020-08-15 22:29] mattleibow opened #11798 "[Enhancement] Automatically importing specific resources"
## Summary
When creating a library, there does not appear to be a way to automagically import the required styles and templates.

## API Changes
Not sure what the best way to do this as I can't think of all possible issues this may cause, however if we follow the UWP and WPF pattern, they have a special path in the library: `Themes\Generic.xaml` which is automatically imported. There are also a fe

[2020-08-15 22:32] mattleibow commented on #11798
Linking to https://github.com/xamarin/Xamarin.Forms/pull/11628 which is something that will come up when we have to include framework styles.

[2020-08-15 23:04] activa commented on #10307
@johncao158 That's the legacy way of using custom fonts in Xamarin Forms, which has worked since the beginning. This issue is specifically about `[ExportFont]` not working on UWP. The workaround you suggested still doesn't allow you to add the fonts as an embedded resource.

[2020-08-15 23:15] JohnLivermore opened #11799 "Can't submit to Apple app store"
### Description
I am trying to submit a build to the AppStore.  I successfully archived my project with a distribution certificate and provisioning profile.  But when I "Distribute" to the AppStore, the process gets into a loop.

Here is the part that repeats over and over...

Saving Apple Development certificates...
Saving Apple Distribution certificates...
Saving Mac Installer Distribution certi

[2020-08-16 06:08] AswinPG commented on #10773
https://github.com/jsuarezruiz/Xamarin.Forms.TabView I think this is the one

[2020-08-16 06:19] CMarcher opened #11800 "[Bug] LinearGradientBrush doesn't fill the pages upon orientation change on iOS"
### Description
When I set the background of a ContentPage or NavigationPage to a LinearGradientBrush, then change the orientation of the device running the app, the background rotates as it should, but it does not redraw properly to fill the screen. When a ContentPage's background is set to a LinearGradientBrush then rotated, a white bar is visible on the edge depending on the starting orientatio

[2020-08-16 07:14] albertoha94 opened #11801 "PlatformEffect not being attached to the Cell items."
### Description
Currently I have only tested this on Android, but it seems that when trying to add a RoutingEffect to elements involving the "Cell" view like "TextCell", "SwitchCell" and "EntryCell" don't call the `OnAttached` method inside the PlatformEffect implemented.

### Steps to Reproduce

1. Create a page and add any of the previously mentioned views into the XAML.
2. Create an effect in X

[2020-08-16 11:35] DenisHidden opened #11802 "[Bug]"
Hello When i Want Use Gradient Stop in new project i had this Error.

System.TypeLoadException: 'Could not resolve type with token 0100001c from typeref (expected class 'Xamarin.Forms.GradientStop' in assembly 'Xamarin.Forms.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null')'

all nuget package updated last Version!

im MainPage I Writed This..

   <Frame
                Margin="0,20,0,

[2020-08-16 11:45] DenisHidden commented on #11802
I Uninstall the xamarin Forms and ReInstall It And Problem Solved ... Thank u Xamarin Team 👍

[2020-08-16 11:45] #11802 closed

[2020-08-16 11:56] Xyotic commented on #11545
If you run this project  you will see the centered label will have a background color of red. (wich is defined in App.xaml)

But since I'm adding
    <ContentPage.Resources>
        <ResourceDictionary Source="/ResourceDictionaries/MyResources.xaml"></ResourceDictionary>
    </ContentPage.Resources>

it should use the styling defined in "/ResourceDictionaries/MyResources.xaml" and the background c

[2020-08-16 13:36] #11799 closed

[2020-08-16 13:37] JohnLivermore commented on #11799
There was a prompt on the Mac asking for the keychain password.  VS was waiting for that to happen, and once I entered the password, the process was able to move forward.

[2020-08-16 14:44] maurosampietro opened #11803 "manifestmerger error"
Xamarin 4.8.1269
Android 9.0/10

Cannot compile because of the following error:

Error		The command ""C:\Program Files\Android\Jdk\microsoft_dist_openjdk_1.8.0.25\bin\java.exe" -cp "C:\Users\Sam\.nuget\packages\xamarin.android.manifestmerger\1.0.0-preview03\build\monoandroid\common.jar;C:\Users\Sam\.nuget\packages\xamarin.android.manifestmerger\1.0.0-preview03\build\monoandroid\guava.jar;C:\Users\

[2020-08-16 15:37] DenisHidden opened #11804 "[Problem] How Use Shell Like Telegram APP?"
[Telegram Tab](http://uupload.ir/files/0dgz_photo_2020-08-16_20-06-04.jpg)

i want like this design but xamarin hide the photo in tabs!

tnx

[2020-08-16 19:52] Alex-Dobrynin opened #11806 "[Bug] Android TabbedPage bottom placement dynamic population has no icons"
Unfortunately, if I create tabs dynamically from code and root of each tab is typeof NavigationPage there are no icons on tabbed page. But title exists for each tab.

Also such trick allows me to show icons, but only if that icons changed dynamically by triggers or from code after initialization.
Without this trick - no icons at all.
![image](https://user-images.githubusercontent.com/23138430/9034

[2020-08-17 01:38] jessejiang0214 commented on #11412
Hi team.

I found another crash from AppCenter

MediaElementRenderer2.MediaElementVolumeRequested (System.Object sender, System.EventArgs e)
MediaElementRenderer2.MediaElementStateRequested (System.Object sender, Xamarin.Forms.StateRequested e)
MediaElement.Stop ()

It's better to fix them together.

[2020-08-17 04:25] krisurnok opened #11807 "[Bug] iOS Failed to marshal the Objective-C object HeaderWrapperView"
https://github.com/xamarin/Xamarin.Forms/issues/9711

This bug is not closed reproduced in Xamarin Forms v4.8

- Version with issue:
- Last known good version:
- IDE: Visual Studio MAC
- Platform Target Frameworks: Xamarin.Forms 4.8
  - iOS:  13.5

[2020-08-17 06:28] Tommigun1980 commented on #9943
Hello. I was working with a design that would require usage of a transparent navigation bar. But it doesn't work properly as it flashes. I would really not like to change the designs in my app completely at the mercy of bugs, so is there any chance this could get fixed, or does anyone have a workaround? I don't have time to play detective all the time to try find workaround for everything so here'

[2020-08-17 07:28] YZahringer commented on #7763
Could be a `5.0.0` candidate?

[2020-08-17 07:30] jonkas2211 commented on #7996
I have found out that the error is cause by the `BindingExpression.TryConvert` method.

The method contains the following call `value = Convert.ChangeType(value, convertTo, CultureInfo.InvariantCulture);`
I tested this on german culture so value = "1,5", convertTo = decimal Type. When I change the CultureInfo.InvariantCulture to CultureInfo.CurrentUICulture the conversion is made correctly.

**BUT

[2020-08-17 09:06] mduchev opened #11808 "[Bug] [iOS] CollectionView with SwipeViews in the ItemTemplate leaves some swipe items opened upon refreshing the ItemSource"
### Description
CollectionView with SwipeViews in the ItemTemplate leaves some swipe items opened upon refreshing the ItemSource

### Steps to Reproduce

1. Create a CollectionView and add some dummy data to it. The type and number of items doesn't matter - a simple ObservableColleciton of strings will do the work.
2. Add a SwipeView in the ItemTemplate. Again, the template doesn't matter. The onl

[2020-08-17 09:07] daves1992 commented on #8308
@rmarinho @samhouts can we reopen this bug? I managed to replicate again using an adjusted version of the sample see above  and it seems more people are having the issue.

[2020-08-17 10:14] mduchev opened #11809 "[Bug] [iOS] OnAppearing being incorrectly called when the parent page is in TabbedPage"
### Description
When we have a TabbedPage and on one of its child pages (let's call it page 1) we push another page (let's call it page 2), when OnAppearing of page 2 is being called, OnAppearing on its parent page (page 1) is also being called.

### Steps to Reproduce
1. Create a TabbedPage with only 1 page in its Children collection (let's call it FirstPage)
2. In FirstPage add a button that on

[2020-08-17 10:18] #9720 closed

[2020-08-17 10:21] EmilAlipiev commented on #10773
@AswinPG  this looks good but i think that it is older than this issue and there is not nuget for it. Still can be used for anyone needs urgently i believe

[2020-08-17 11:07] muffadal53 commented on #11411
Hi @hartez,

So if I understand correctly the issue which I had reported originally is present and would be fixed in upcoming version of Xamarin forms. Is my understanding correct?

Thanks.

[2020-08-17 12:06] PawKanarek commented on #11166
Bump, do you plan to merge this PR?
I'm just leaving this issue that ideally sums, that you don't care about bugs as much as you could care.   https://github.com/dotnet/maui/issues/109

[2020-08-17 12:08] csp04 commented on #8507
Hey. Do we have a fix on this? I'm also experiencing this in Xamarin.Forms 4.8+.

[2020-08-17 12:29] jsuarezruiz commented on #11691
Could you take a look to this modified sample:
[PolygonDynamicColor.zip](https://github.com/xamarin/Xamarin.Forms/files/5084147/PolygonDynamicColor.zip)

<img width="448" alt="Captura de pantalla 2020-08-17 a las 14 28 48" src="https://user-images.githubusercontent.com/6755973/90396153-0150a500-e096-11ea-8002-496aa32b08b9.png">

[2020-08-17 14:04] tessarolli commented on #11789
[BugReport.zip](https://github.com/xamarin/Xamarin.Forms/files/5084704/BugReport.zip)

[2020-08-17 14:18] AzuxirenLeadGuy commented on #9573
Can you please send the example of MediaElement working in a Grid? I'm can't seem to get this done and I have already wasted a lot of time on this...

[2020-08-17 14:31] DenisHidden commented on #11804
any example code?

[2020-08-17 14:34] horizondave commented on #5713
I've still got this in 4.7 too.
Is the only workaround really to delay 500ms+ ?!

[2020-08-17 14:35] Saleh-Software opened #11810 "[Enhancement] Add Custom CornerRedius"
Hi Please Add Custom CornerRedius Like Pancake we able to change like CornerRedius="20,30,40,50"

tnx Xamarin Forms!

[2020-08-17 14:52] Pantheas commented on #11703
@atexinspect setting `TextTransform="None"` in global Button style worked for me...

[2020-08-17 14:55] bdgza commented on #11691
I took a look, but what if I wanted to do it like how it is in this modified modified sample:
[PolygonDynamicColor.zip](https://github.com/xamarin/Xamarin.Forms/files/5084981/PolygonDynamicColor.zip)

[2020-08-17 17:18] a-einstein commented on #11736
I hope this is related to my problem, that seems similar.
And that it also solves my problem.

Can anyone comment on that?

I use Xamarin.Forms 4.8.0.1269.

I can run and install the DEBUG build of the UWP-version of my client, for both x86 and x64.
But when I try to run any RELEASE build it crashes, in slightly different ways depending on the architecture.

In both cases it basically crashes in `

[2020-08-17 19:31] Tommigun1980 opened #11816 "[Bug] Some properties not getting overridden properly in derived named styles"
Hi.

I have something similar to this:

[code]

I have a class for TransparentNavigationPage such as

[code]

Expected: The overridden properties, BarBackground and BarTextColor should use their respective overridden colors in TransparentNavigationPageStyle.

Actual: The overridden BarBackground is ignored as long as it's a StaticResource or DynamicResource - using a static color, such as 'White',

[2020-08-17 19:46] xamarindev01 commented on #9302
@samhouts This is also happening for me for all the Android devices and its a random crash. I am using ListView with grouping enabled.
Please let me know if you need anymore info.

[code]

## Basic Information
Version with issue: 4.6.0.800
IDE: VS For Mac
Platform Target Frameworks: Android 10.0
Android: 10.0
Affected Devices: All kind of Android devices

[2020-08-17 19:46] memu8 commented on #11744
What minimum API are you targeting? If it's after API 17, then in your Android manifest file (https://github.com/oybab/TradingSystem/blob/master/TradingSystemX/TradingSystemX/TradingSystemX.Android/Properties/AndroidManifest.xml) you can set "android:supportsRtl" to true and the issue with entries and pickers should be resolved.

[2020-08-17 19:48] JigarM commented on #9302
@jonathanantoine Did you find any solution for this issue?

[2020-08-17 19:53] jsauve commented on #5713
I too would really like to see an actual non-hacky solution for this. It's been nearly 18 months since this issue was opened. Please give the Shell SearchHandler some async methods that make sense.

[2020-08-17 20:00] alaneich opened #11817 "[Bug] CarouselView Memory Leak"
### Description
It appears that the CarouselView is leaking memory.  After repeated navigating to a page with a CarouselView, profilers are showing increased memory usage with objects from the views inside the CarouselView remaining in memory.  Below is a screen shot of the Android Studio Profiler after running the repro project.  It shows increases in both the Java and Native memory usage.  It al

[2020-08-17 20:01] PawKanarek commented on #11166
i found cleaner workaround for this issue. Simply set Device.Idiom property via reflection on app start

[code]

[code]

[2020-08-17 20:36] atexinspect commented on #11703
Worked for me too. Thanks.

[2020-08-17 20:37] JigarM opened #11818 "[Bug] ArgumentOutOfRangeException - OrderedDictionary`2[TKey,TValue].get_Item (System.Int32 index)"
### Description
I have a page with ListView. ListView have grouping enabled and on app launch app crashed most of the time and sometime it works fine.
This is the crash logs I found from the Appcenter on crash.

Please let me know if you need anymore info.

[code]

### Expected Behavior
It should work.

### Actual Behavior
App crashing for any Android devices.

### Basic Information
Version with i

[2020-08-17 21:07] mgoertz-msft commented on #11711
@StephaneDelcroix I don't think this has anything to do with the language service: Isn't XamlC is a compiler error?

[2020-08-17 21:37] PureWeen opened #11819 "[Bug] Code that depends on IsPlatformReady transitioning to false may never get fired on CollectionView"
### Description

First thing to understand
IsPlatformReady == Is their a renderer attached to a VisualElement.

[code]

If you look at the setter for IsPlatformReady you'll see that the triggers will get invalidated based on IsPlatformReady being set to false.

https://github.com/xamarin/Xamarin.Forms/blob/6d3c41fb2dc0911979cbddda4987e8f76ef7845f/Xamarin.Forms.Core/VisualElement.cs#L607

This is u

[2020-08-17 23:52] activa commented on #2296
@samhouts I just tested this again and it's still an issue. The behavior hasn't changed at all. This can easily be verified in the test project I attached earlier.

[2020-08-18 00:22] samhouts commented on #2296
@activa Thank you so much for verifying!

[2020-08-18 00:46] mcguu commented on #11772
any updates?

[2020-08-18 01:03] multitracks commented on #10031
We are seeing this as well. Bummer about to release on Android and we are running into a 5 month old bug.

[2020-08-18 01:19] joshuangfraedom commented on #10801
Just some findings around this @samhouts :
We were also seeing this behaviour with CollectionView. After spending some time on it, it looks like it could be due to the following events.

Note: This is a theory.

1. OnViewRecycled is called on ItemsViewAdapter with a TemplatedItemViewHolder.
2. TemplatedItemViewHolder.Recycle is called, the Xamarin.Forms.View associated with the TemplatedItemViewHo

[2020-08-18 04:09] huangjinshe commented on #11744
@memu8 , Thanks, It worked now.  But `HorizontalOptions="StartAndExpand"` and `HorizontalOptions="CenterAndExpand"` all can't expand the pickers. only `HorizontalOptions="FillAndExpand"` worked.  Is that normal?

[2020-08-18 04:33] HemalathaMarikuma-syncfusion commented on #11489
Any update on this?

[2020-08-18 04:36] RentHQ opened #11825 "[Bug] [MacOS] Tab key does not work on a textbox dynamically added"
### Description
If an entry text box is added to a page at run time, when you focus the text box and press tab, nothing happens.  Focus remains on the text box. If there is any text in the text box at the time, that text is selected.  It is almost as if the text box is setting focus to itself after pressing tab.

### Steps to Reproduce
Sample project attached.
1. Run the sample project.
2. Press t

[2020-08-18 04:47] joshuangfraedom commented on #10801
So far non who have tried have been able to reproduce the issue any longer

[2020-08-18 05:40] myroot opened #11826 "[Bug] CarouselView.VisibleViews property was shared among with all carouselview"
### Description
CarouselView.VisibleViews should be provide for each carouselview, but a same VisibleViews was provided

 According to this line, `new ObservableCollection<View>()` is provided by default value
https://github.com/xamarin/Xamarin.Forms/blob/a8bcaa9a609cfa6f3026775b26ab7adfb4947772/Xamarin.Forms.Core/Items/CarouselView.cs#L29

But according to `GetValue` implementation
https://github

[2020-08-18 05:42] divyesh008 commented on #4341
I'm facing this same issue in Image control. It's working fine in phones but not working in iPad.

[code]

[2020-08-18 06:59] rscholey commented on #11777
How is it possible the Xamarin team missed something as obvious as this :-(  Makes me feel like it is the users who are the testers and they just release code and hope for the best.   I hope that things can improve but based on the last few years I think it will always be the same.  Poor quality control of new releases and hundreds of unfixed bugs while the devs try to add more and more new featur

[2020-08-18 07:10] jsuarezruiz commented on #11810
@DenisHidden Where would you like to add that option?, in the Frame?, or in all the views?

[2020-08-18 07:21] jsuarezruiz commented on #11681
Currently in Shapes can customize the border (Stroke property) with brushes. Implementing a brush in the elements that implement `ICornerElement` (BoxView) and _IBorderElement_ (Button, CheckBox, ImageButton, Frame) would be possible. The implementation would be different in some cases, but possible.

[2020-08-18 07:52] GeorgeVelikov commented on #11411
From my experience I only get issues whenever i consecutively pop & push modals with animations. If I turn off the animations of the modal navigation, it works as expected.

I am almost entirely sure this is just an animation problem and we need an interrupt animation call

[2020-08-18 07:59] luczha opened #11828 "Safe area doesn't work on Shell in Android"
I'm working on **Shell**  in  xamarin.forms . Now I want to let the status bar  be transparent in Android .  I try to implement it by invoking the line
[code]
It works as expected in normal ContentPage .

![glxbhrx9ui9n](https://user-images.githubusercontent.com/47239772/90486318-5c080080-e16b-11ea-9502-c7981eec2981.png)

However , in Shell it doesn't work .

![demo (2)](https://user-images.github

[2020-08-18 08:02] LegendaryB commented on #9567
@mrvancor Nope sorry. Also waiting for a official answer. But seems like we don't get one

[2020-08-18 08:44] DuncWatts commented on #10801
@joshuangfraedom are you able to share your sample code for the adapter change and I'll see if that fixes it for me please?

[2020-08-18 09:14] michael-jakobsen-dk opened #11829 "[Bug] TextDecoration Strikethrough not working on iOS together with LineHeight"
### Description
I have a label where I want strikethrough and a lineheight of 1.5
This works fine with Android, but strikethrough does not work on iOS when LineHeight is also set.

### Steps to Reproduce

1. Create new Xamarin.Forms projekt.
2. Add label with textdecoration=strikethrough and LineHeight defined
<Label TextDecorations="Strikethrough" LineHeight="1.5">Test strikethrough</Label>
3. Ru

[2020-08-18 09:23] Munde commented on #11700
so we expect breaking changes every time this make development experience unpleasing cuz when u update to latest version your not sure what will work and what will not work so its a tiresome

[2020-08-18 11:13] vladikKBR85 commented on #11011
Had the same problem. Because of the different Labels' heights their parent containers were overlapping. As a workaround I've set Labels' TextType proberty to HTML, and wrapped their values. Something like: `$"<p style='color:#8f92a1;font-size:16px;font-family: Arial;display:inline-block;'>{Text}</p>";`. Not good, but seem to work..

[2020-08-18 11:14] EmilAlipiev opened #11831 "[Bug] SwipeView removes Frame borders on Android"
### Description
When using Frame inside SwipeView, Frame borders are not working. Frame appears without borders.
### Steps to Reproduce

Use the code and template as below,

[code]

### Expected Behavior
Borders to appear
### Actual Behavior
without borders
### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:

  - Android:  9

- Nuget Package

[2020-08-18 12:24] rasel-tr commented on #11685
ListView control tried to update the list on mainthread and the page was created on another thread causing this problem.

[2020-08-18 12:24] #11685 closed

[2020-08-18 12:58] DenisHidden commented on #11810
Hello Sir, Frame is Nessery other if have is better but Frame is Important tnx.

[2020-08-18 13:05] DenisHidden commented on #11810
and please after update some example code for chat design with frame like telegram

Examole : [Telegram Chat](http://uupload.ir/files/11fq_capture.pngl)

[2020-08-18 13:24] davefxy opened #11832 "Xamarin DragAndDropGesture sample gets an "Got a SEGV while executing native code." error"
### Description
When I compile the Xamarin DragAndDropGesture sample debug version for android,  I get an "Got a SEGV while executing native code." After changing target to 10(Q) and updating it nuget packages.
### Steps to Reproduce
Use the Xamarin Sample at https://github.com/xamarin/xamarin-forms-samples/tree/master/WithGestures/DragAndDropGesture and create a debug version for an Android. Run

[2020-08-18 13:33] Nullstr1ng commented on #9724
Seeing this in VS 16.8.0 Preview 1.0

[2020-08-18 14:19] jsuarezruiz commented on #11831
@EmilAlipiev  Do you mean the border color?
![issue11831](https://user-images.githubusercontent.com/6755973/90524605-8e672d00-e16e-11ea-81dd-9fd5565161a7.gif)

[2020-08-18 14:43] jsuarezruiz commented on #11714
@Tommigun1980 Tried but cannot reproduce the Z-Index issue. Could you take a look to: https://github.com/xamarin/Xamarin.Forms/blob/fix-11714/Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11714.xaml?
Do we do something differently?

[2020-08-18 15:17] davidbritch opened #11833 "[Bug] Drag/drop gesture recognizer data package losing text data"
### Description

Using 4.8-pre3 I wrote a drag/drop gesture recognizer sample, with one of the demos showing putting text into a data package. `e.Data.Text` is set to a `string` in `DragGestureRecognizer.DragStarting` handlers, and a `DropGestureRecognizer.Drop` handler extracts the string with the `GetTextAsync` method. This worked fine in 4.8-pre3.

I've just ran the same demo against Xamarin.Fo

[2020-08-18 15:27] ricavir11 commented on #10248
@samhouts : would it be possible to have a fix for 4.8.0 milestone ?

[2020-08-18 15:47] miko1258 opened #11835 "[Bug] ListView margin inside Grid starred row is calculated incorrectly"
### Description
After upgrade to Xamarin.Forms 4.8 I noticed that some layouts inside grid has incorrect height. Check attached screenshots.
Probably it was broke in this PR: #11336

### Steps to Reproduce

1. Download zip and run app
2. Change Xamarin version to older and run app again

### Expected Behavior
Grid takes whole available space.

### Actual Behavior
Grid do not expand.

### Basic Inf

[2020-08-18 15:52] Phenek commented on #9315
@jivanro

it help a little but they are still some conflicts in which view start and should move at first..

[2020-08-18 15:54] Andreaa-dragomir commented on #10224
Microsoft Visual Studio Community 2019
Version 16.7.1
The problem persists

[2020-08-18 16:12] transis2 commented on #11835
I have the same problem!
Rollback to XF 4.7 while waiting for fix.

[2020-08-18 16:47] marcojak commented on #10612
I have the same issue...
it works on iOS 13.6 but no red on version 12.4.

[2020-08-18 18:38] jchaves07 commented on #10288
You can try with the AdvanceExpanderPage,  using Stacklayout with datasource instead of ListView, in my case works fine with Stacklayout https://github.com/xamarin/xamarin-forms-samples/tree/master/UserInterface/ExpanderDemos
<img width="933" alt="image" src="https://user-images.githubusercontent.com/10256328/90552187-ac716500-e14f-11ea-9058-952b3c9b4d83.png">

[2020-08-18 19:26] LiddiBomb opened #11836 "[Bug] DragGestureRecognizer in a CollectionView"
### Description
An item in a CollectionView has a DragGestureRecognizer defined.  The gesture works as expected, but the ICommands do not fire.  The Events fire as expected.

### Steps to Reproduce

1.  Create a CollectionView bound to a ViewModel.
2.  Add a Label in the CollectionView ItemTemplate
3.  Add a DragGestureRecognizer to the Label
4.  Bind DragStartingCommand to an ICommand in the View

[2020-08-18 19:29] joshuangfraedom commented on #10801
Something like this @DuncWatts

[code]

[2020-08-18 19:38] joshuangfraedom commented on #10801
Reading `SelectableItemsViewAdapter` it looks like the above will introduce a memory leak. We really need this resolved at a Forms level for a proper solution (everything is internalized in that class).

[2020-08-18 20:19] LiddiBomb commented on #11836
Here is a modified version of the CollectionView example solution.  Select the only page shown on the main menu, and you can drag the monkey images from one row to another.  Place breaks on the gesture events and commands to see that the events fire, but the commands don't.

[Xamarin_Forms___CollectionView.zip](https://github.com/xamarin/Xamarin.Forms/files/5092603/Xamarin_Forms___CollectionView.z

[2020-08-18 20:41] davefxy commented on #11832
This issue has gone away with the VS 2019 16.7.2 update. Thank you very much.

[2020-08-18 20:55] PureWeen commented on #11836
Drag And Drop with CollectionView takes a whole additional layer of native implementations because all of the native lists have custom APIS for this

The implementation for this is incoming!!

I'm going to close this for now as there's already an enhancement here
https://github.com/xamarin/Xamarin.Forms/issues/4676

[2020-08-18 20:55] #11836 closed

[2020-08-18 20:56] activa commented on #2296
@samhouts  I looked into this issue and found that it's caused by this method in EventTracker.cs:

[code]
Note the line checking for `touch.View.GestureRecognizers.Length  > 0` . This returns true when tapping a cell in a listview that is wrapped in a container that also has a tap gesture recognizer. The reason is that a iOS table cell always has a default UIGestureRecognizer to handle long presse

[2020-08-18 21:07] kensykora commented on #9227
We are seeing the same issue

Xamarin Forms 4.80.1269
Target Android 10 SDK
Android Support 28.0.0.3
Samsung Galaxy S10 (API 29)

<details><summary>Tooling</summary>
<pre>
Visual Studio Community 2019 for Mac
Version 8.7.2 (build 4)
Installation UUID: 6c202af4-ad57-4769-b73a-b32194ddceb0
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 6.18.0.23 (d16-6 / 088c73638)
	Package version: 612000090

Mono Fram

[2020-08-18 21:20] danypepin1 commented on #3855
This really need to be fixed, i have a CollectionView on my TabbedPage which has a ContentPage in it so it acts as my first tab, when i go to second tab and do some manipulation which modify my collectionView and then press my first tab icon to go back to the MainPage, OnAppearing() IS NEVER CALLED so it doesn't refresh the CollectionView.  This need to be fixed ASAP.

[2020-08-18 23:00] aimore commented on #7314
so, it will be included only in .NET MAUI?

[2020-08-18 23:21] joshuangfraedom commented on #10801
This is a little more robust and I think handles all the selectable stuff as per previous @DuncWatts @samhouts. I still don't know what exactly is disposing of the Cell's renderers.

But keeping the reference in the ItemsView seems to prevent it being cleaned out well enough.

[code]

[2020-08-18 23:46] joshuangfraedom commented on #10801
A better solution to this might even be to clear out the View on [TemplatedItemViewHolder.Recycle](https://github.com/xamarin/Xamarin.Forms/blob/main/Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs#L38) and then execute everything in the [templateChanging](https://github.com/xamarin/Xamarin.Forms/blob/main/Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHold

[2020-08-19 01:59] Tommigun1980 commented on #11713
Hi @rmarinho. Please find attached the repro project edited with styles that break the labels. It's actually hard not to come up with a permutation that flows the text incorrectly so I have a hard time styling my app atm.

Here is a screenshot of the problem. The first two (red) entries are drawn incorrectly:

<img width="584" alt="Screenshot 2020-08-19 at 4 47 41" src="https://user-images.githubu

[2020-08-19 02:04] Tommigun1980 commented on #11713
Hi @rmarinho. Please find attached the repro project edited with styles that break the labels. It's actually hard not to come up with a permutation that flows the text incorrectly so I have a hard time styling my app atm.

Here is a screenshot of the problem. The first two (red) entries are drawn incorrectly:

<img width="584" alt="Screenshot 2020-08-19 at 4 47 41" src="https://user-images.githubu

[2020-08-19 02:06] Tommigun1980 commented on #11633
Hi @rmarinho. I uploaded a repro case at https://github.com/xamarin/Xamarin.Forms/issues/11713. I'm pretty sure this is the same issue as https://github.com/xamarin/Xamarin.Forms/issues/11713 as setting the LineBreakMode to different options all draw the text incorrectly in different ways, so maybe this report should be closed and focus go to https://github.com/xamarin/Xamarin.Forms/issues/11713 i

[2020-08-19 02:07] Tommigun1980 commented on #11713
So TLDR, this doesn't work:

[code]

[2020-08-19 02:11] Tommigun1980 commented on #11729
Hi @cmpalmer66 - could you please check https://github.com/xamarin/Xamarin.Forms/issues/11713 whether that is the bug you are describing? If it is, I don't think it has to do with actual word content, but rather that different text content on different screens would get a line break in different places, and some of them just happen to hit the 'sweet spot' for this bug to appear. Hence I think it i

[2020-08-19 02:27] Tommigun1980 commented on #11720
Hi @rmarinho. Please find attached a repro project.

<img width="1270" alt="Screenshot 2020-08-19 at 5 24 19" src="https://user-images.githubusercontent.com/60286968/90584887-4121a480-e1dc-11ea-86ea-48136f4be402.png">

For whatever reason the error is different in the repro project, I didn't dig into it at all, but you still get an error.

Repro steps:
1) Add a new exception catchpoint
2) Run the

[2020-08-19 02:37] Tommigun1980 commented on #11713
Hi @rmarinho. Please find attached the repro project edited with styles that break the labels. It's actually hard to come up with a permutation that doesn't flow the the text incorrectly so I have a hard time styling my app atm. Different screens break the text in different places, where some are correct and some are not, hence I can't find anything that works everywhere.

Here is a screenshot of

[2020-08-19 02:38] Tommigun1980 commented on #11713
So TLDR, this doesn't work:

[code]

[2020-08-19 04:07] Wilson1356 commented on #11485
Hi, @samhouts @jsuarezruiz ,
Is there any workaround for this issue, still I am facing this issue.

[2020-08-19 05:25] VijayEaswar commented on #11485
Hi, I am also facing the same issue in my android app. Is there any workaround to overcome this?

[2020-08-19 06:38] thomasgalliker commented on #8640
Meanwhile I'm writing so much workaround code for bugs like this that the whole cross-platform advantage is melting down... I used a fixed HeightRequest on the CarouselView to avoid infinite height sizing, but - as you can assume - this causes new troubles.

[2020-08-19 06:54] VijayEaswar commented on #11598
Still, I am facing the same issue when I upgrade the Xamarin Forms version to the latest one. Is there any way to overcome this so that I can use the latest version of XF

[2020-08-19 07:08] krdmllr commented on #11598
Hey, I will try to look into this asap :)

[2020-08-19 07:37] Tommigun1980 opened #11839 "[Enhancement] Brush support on text"
It would be awesome if text in labels, buttons etc. would have a Brush property in addition to the existing Color TextColor property.

It would be especially useful with **font icons** as one could add gradients to the otherwise single-colored icons.

Thanks for considering.

[2020-08-19 07:41] AliKhalaj7 commented on #11739
Yes, when you set Task.Delay() on your page and navigate user to another page DisplayAlert not closed ! but user navigate to another page, i think Microsoft team have to close all alerts if page changed.

[2020-08-19 08:21] kkentt commented on #3444
@samhouts Anything about this ?

[2020-08-19 08:24] Rahulatheist opened #11840 "Android Emulator crash on launch (base.OnCreate(savedInstanceState))"
Exception on line -> base.OnCreate(savedInstanceState); in MainActivity class OnCreate()
Exception details:
Java.Lang.ClassNotFoundException
Message=Didn't find class "crc643f46942d9dd1fff9.PowerSaveModeBroadcastReceiver" on path: DexPathList[[zip file "/data/app/com.boeing.MobileQSV2-x4j2-ErAhg_vCmw6z_iAWw==/base.apk"],nativeLibraryDirectories=[/data/app/com.boeing.MobileQSV2-x4j2-ErAhg_vCmw6z_iA

[2020-08-19 10:10] MaxFmi opened #11841 "[Bug] Navigate back using GoToAsync("..") on modal pages"
### Description
It's currently not possible to navigate back from a modal page using the syntax GoToAsync("..").

### Steps to Reproduce

1. Define a modal page with: Shell.PresentationMode="ModalAnimated"
2. Navigate to it using Shell.Current.GoToAsync("/MyModalPage");
3. Try to navigate back from MyModalPage using GoToAsync("..")

### Expected Behavior
Should navigate back like the following wou

[2020-08-19 10:23] codebreakerlegend2019 commented on #11738
@dmariogatto I saw your comment from #8795 , about the ShellItemRenderer, HandleFragmentUpdate and OnShellSectionChanged. Is there anything I can do to override it using custom renderer?

[2020-08-19 11:09] mishtu123 commented on #9190
I m trying to use NewsSans-Black font and it’s not working for Android. Didnot check iOS

[2020-08-19 11:16] jfversluis commented on #9190
@mishtu123 please see if there is a relevant issue open already and if not open a new one. Thanks!

[2020-08-19 11:30] Eliranco7 opened #11842 "I expect to get an infinite loop when I implement IValueConverter but there isn't."
### Description
In converters:
If you change the source, Convert() will be activated
and
If you change the target, ConvertBack() will be activated.

I have an Entry text which is binded in TwoWay mode to a simple string.
In Convert() I add the letter "S" ("for came from Source")
In ConvertBack() I add the letter "T" ("for came from Target").

Now, when I write something in the entry (lets say I wr