[2020-05-14 10:16] james1301 commented on #9359
@programmation no I hadn't come across it before. Are you saying that adds some central location for handling such events? Might be missing quite what the advantage of it is?

In my example of saving an item, call it a to do item and the user clicks the home button straight away. That process may take a little time to run. Are we saying that will be cut off straight away? In the sample app it seem

[2020-05-14 10:55] ackava commented on #5979
@Depechie I guess its isn't this sufficient?

[code]

Mentioned at https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/styles/css/#xaml

[2020-05-14 10:59] Depechie commented on #5979
Ow no not that basic... I really did try a full css :)
It just does not pick up the attributes for span inside label.

[2020-05-14 11:01] YuliaLoyko commented on #5781
Voting for this improvement as well. It is a must-have for lists.
And for now i'm using TapGestureRecognizer. Just in case anybody has issue on Android - set NumberOfTapsRequired to 1. This should help)

[2020-05-14 11:01] saiyamshah143 commented on #6112
+1

[2020-05-14 11:06] Depechie commented on #5979
So for clarification @ackava I wanted to set the Underline in the second Span element in CSS. As the docs mention this should be possible ( https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/styles/css/ ).

But no matter what I put in the styles.css, it would not be applied.

[2020-05-14 11:09] StephaneDelcroix commented on #3088
@AdamDiament there's a drop in lightweight replacement planned

[2020-05-14 11:09] Depechie commented on #5979
@ackava I found the original link: https://github.com/Coding-Coach/mobile/pull/21 and at that time we talked about it with @StephaneDelcroix and it was said to be a short coming on Span - css in XF. Hence the filed issue.

[2020-05-14 11:52] RhomGit commented on #9468
@lobbo232 yep, thanks for that. I believe it may have been extended until December 2020 but either way rolling back is not an option as we have made commitments commercially using features post 4.3.0

We have made the decision to remove CollectionView from our product due to the consistent instability on iOS. Fun!

[2020-05-14 12:01] #9980 closed

[2020-05-14 12:06] Jared-Aus commented on #9468
I tested a pre-release build a few weeks ago that finally resolved this issue for me. I figured it would be in 4.6 by now. https://github.com/xamarin/Xamarin.Forms/issues/10300#issuecomment-619082950  Other iOS issues still prevent me from using a CollectionView in a real project though.

[2020-05-14 12:17] jsuarezruiz commented on #10637
I have tried to reproduce the issue without success:

![issue-bottomtabs](https://user-images.githubusercontent.com/6755973/81933407-9b173a80-95ed-11ea-9fec-2e5cb63b860d.gif)

@rambo1223 Could you attach a reproduction sample?.

[2020-05-14 12:22] ludas96 commented on #9827
I'm using a Grid with 3 columns of: 80, Auto, 80.
The columns with the with of 80 contains a CarouselView each, both with a rowheight of 120.

The first CarouselView could detect the scrolling without any problems, but the other had problems as described above where it would lag behind, sometimes not detecting scroll at all.

Doing what @tomeverin said, enclosing the CarouselViews in a StackLayout

[2020-05-14 12:28] TopSkillDeveloper commented on #9468
CollectionView is a very unstable element. Welcome to disposed exceptions, nsinconsistency, outofrange... Visual bugs (for example, GridItemsLayout with itemspacing >0 gives a very many spaces on scrolling on ios). Slow on android (try creating a dialog app with >30 messages and you will understand me)
For now it's better to use ListView.

[2020-05-14 13:07] conor-codes commented on #5713
I'm still getting this in 4.6

[2020-05-14 13:16] thisismyself commented on #10617
@karlp11 Did you find any workaround for this issue?

[2020-05-14 13:37] rambo1223 commented on #10637
Hi @jsuarezruiz  i have also tried to reproduce this in another project but it works fine. It has something to do with my current project that i don't understand. However when i set .SetToolbarPlacement(ToolbarPlacement.Top) it places the tabbed pages at the top without issues. So the issue is with ToolbarPlacement.Bottom ... What might cause that? I am using the latest versions :
[code]
I will al

[2020-05-14 13:40] pblommendaal commented on #6667
Hi,

We are facing somewhat of the same issue with XCUITest and Xamarin.Forms since we've upgraded from version [4.1.0.618606](https://www.nuget.org/packages/Xamarin.Forms/4.1.0.618606) to [4.5.0.396](https://www.nuget.org/packages/Xamarin.Forms/4.5.0.396). What we've noticed is a **performance degradation** in testing and issues with find finding elements due to **multiplication**.

The performan

[2020-05-14 14:15] jjohnnyl commented on #10683
Just adding some more information, the NavigationPage wrapping the ContentPage had large titles enabled:

 xmlns:ios="clr-namespace:Xamarin.Forms.PlatformConfiguration.iOSSpecific;assembly=Xamarin.Forms.Core"
            ios:NavigationPage.PrefersLargeTitles="true"

Removing this fixed the issue, so it seems to be related with the large titles.

[2020-05-14 14:19] karlp11 commented on #10617
@thisismyself No work around: I'm waiting the fix.

[2020-05-14 16:06] vividos opened #10688 "[Bug] Inconsistent behavior of WebView Navigated event"
## Description

I see inconsistent behavior of sending or not sending the `Navigated` event of the `WebView` control. I tried several cases:

Case 1: UWP app with `HtmlWebViewSource`: `Navigated` is not sent
Case 2: UWP app with `UrlWebViewSource`: `Navigated` is sent
Case 3: Android app with `HtmlWebViewSource` and no or default `BaseUrl` set: `Navigated` is not sent
Case 4: Android app with `Htm

[2020-05-14 17:04] mrezekial commented on #10517
Make sure you are not setting the mtouch and linker behavior in Debug, and are actually doing it in Release mode...

[2020-05-14 17:23] PureWeen commented on #10688
Duplicate
https://github.com/xamarin/Xamarin.Forms/issues/10350#issuecomment-616629755

[2020-05-14 17:23] #10688 closed

[2020-05-14 17:24] irshadka commented on #9774
Any fixes for this issue?

[2020-05-14 18:22] keivaan commented on #9900
It's been more 2 months now. This bug cannot be solved???

[2020-05-14 18:28] JMNewsome commented on #10470
I am having this issue as well, I am experiencing this on Android (probably iOS as well), but I haven't located where this is occurring yet

[2020-05-14 18:51] MhAllan opened #10689 "[Enhancement] Editor MaxLines property"
## Summary
Editor can grow by setting AutoSize property. There is no way to set limits on how far it can grow. So the editor should define MaxLines property, if the text reached the max lines the Editor switch to scroll than autosize.

## API Changes
Editor adds MaxLine bindable property

e.g.
[code]

## Intended Use Case
Limit Editor height when autosize is on.

[2020-05-14 19:00] Redth opened #10690 "[Bug] Android UseWindowSoftInputModeAdjust Resize and Pan not working correctly"
### Description
UseWindowSoftInputModeAdjust does not work correctly in latest 4.6 forms releases on newer android OS versions.  I am testing this on a Pixel 4 with Android 10.

Using `Resize` seems to have absolutely no affect at all.

Using `Pan` sort of works, however you can't scroll down far enough in some cases to see the rest of the content on the screen when using Pan.

![2020-05-14_14-59-

[2020-05-14 19:39] tien-q-nguyen2 opened #10691 "[Bug]"
### Description
On iOS, characters at the end of a Label can go missing when its WidthRequest is specified and its horizontal Padding is not 0. It seems that the code that decides how many lines on which the text of a label need to be displayed doesn't consider that label's horizontal padding.

### Steps to Reproduce

1. Create a new ContentPage
2. Replace the ContentPage's Content property in its

[2020-05-14 20:35] doriangh commented on #9774
The only one I've been able to find is by following this: https://xamarinhowto.com/customising-ios-frame-shadows-in-xamarin-forms-4-5/
It still has some issues with a list of custom frames (if there are more than 6 custom frames in a list, it tends to alternate the custom shadow).

[2020-05-14 20:58] PureWeen commented on #10685
@tusharvaja  can you attach a repro so I can see what you're changing?

I tested this locally and the only thing I noticed is that if the control is expanded then when you change something it collapses but the control itself doesn't disappear

Are you making sure to set the "Expander_Experimental" flag?

[2020-05-14 21:14] tomeverin commented on #9827
In @ludas96 example, having the CarouselView in a row with Height="120" is equivalent to having HeightRequest="120" set on the CarouselView.

By putting the HeightRequest on an enclosing StackLayout it allows the CarouselView to fill its parent, and the desired height is instead imposed by the enclosing StackLayout. I think this is why it works.

Why HeightRequest on CarouselView causes the behavi

[2020-05-14 21:22] JMNewsome opened #10692 "[Bug] [Android] CollectionView loses scroll position when virtualized inside of a CarouselPage"
### Description

### Steps to Reproduce

1.  Put a CollectionView inside of a carousel page
2.  Navigate about 2 pages away, navigate back
3.  Scroll position of the CollectionView is lost

### Expected Behavior
 Position of the CollectioView offset should be what it was when it was navigated away from
### Actual Behavior
Position of the CollectionView offset is reset back to 0
### Basic Informati

[2020-05-14 21:51] AndreiMisiukevich commented on #10390
iOS crash should be fixed by https://github.com/xamarin/Xamarin.Forms/pull/9729

[2020-05-14 23:15] Josecanalla commented on #7510
@wolf81 I have the same problem, and I test it also in a physical iPhone 8 with iOS 13.4.1.

I have a CollectionView with a Header and Footer. The CollectionView is on the main screen, and it loads OK when open app. But as wolf81 describes, when go to another screen and get back to the screen with CollectionView it crashes:

`  at Foundation.NSObject.get_SuperHandle () [0x00012] in /Library/Framew

[2020-05-14 23:48] beeradmoore commented on #9943
This is still an issue on XF 4.6.0.772.

[2020-05-15 00:09] rodhemphill commented on #9805
Hi guys, is there any movement on this? Or a better work around than the below?
Further information:
1. only android (50% of our clients devices here in Australia are Android - it's a big problem).

2. if you start an app in landscape it will size to that and keep that size when rotate to portrait. Not just portrait to landscape as in the video.

3. not fixed with HorizontalOptions="FillAndExpand"

[2020-05-15 00:42] liweipro opened #10694 "[Bug] Xamarin Form 4.5, 4.6 Shell.FlyoutBehavior="Disabled" not working on iOS"
### Description
With Xamarin Form 4.5 and 4.6, Shell.FlyoutBehavior="Disabled" not working on iOS. The flyout menu can still be brought out by swiping from left to right. This is a very important bug to us, as it allows unauthorized users to bring out the menu and gets access to certain features of the app.

### Steps to Reproduce

1. Set the behavior in code or XAML like  Shell.SetFlyoutBehavior(

[2020-05-15 01:13] bobwhitten commented on #8988
Thanks @rmarinho for working on this.  In my "real" app, the 2nd page is pretty complex, and re-creating it every time would be really tough.

Not surre it's the best, but at this point my app creates all pages at start, and switches between them with PushModalAsync.

Any clue why this seems to work fine for most conditions except this split view mode?

[2020-05-15 01:39] rodhemphill commented on #9805
I spoke too soon. The work around to repack and play the video in a different orientation fails on Android as setting the Position also seem to have a bug:

[code]

[code]

This is as we expect. But the EXPERIENCE is different: The video is repacked correctly (resized for landscape) and restarts at the correct position ... and then it resets itself and starts replaying from the beginning.

[2020-05-15 02:36] zeniya-takeshi commented on #10612
We are also facing this problem.

run on ios12.4.5
destructive menu item is not visible.

run on ios13.4.1
destructive menu item is visible (red background).

reproduction-link
[ContextActionsTest.zip](https://github.com/xamarin/Xamarin.Forms/files/4631946/ContextActionsTest.zip)

[2020-05-15 03:58] saiyamjain143 opened #10695 "[Enhancement] Material motion for Xamarin"
## Summary
Material motion is a set of transition patterns that help users understand and navigate an app.
These are some examples.

Container transform
Shared axis
Fade through
Fade

For more refer: https://pub.dev/packages/animations

Copied from Flutter and would love to see in Xamarin.

[2020-05-15 04:40] MhAllan opened #10696 "[Bug] SwipeView default BackgroundColor is White. It should be Transparent"
SwipeView default BackgroundColor is White. It should be Transparent

XF Version: 4.6.0.726

[2020-05-15 04:43] MhAllan commented on #10696
wrong suggestion, ignore

[2020-05-15 04:43] #10696 closed

[2020-05-15 06:04] MSiccDev commented on #10307
same here, seeing only squares on UWP...

[2020-05-15 07:13] LoGA80 opened #10697 "[Bug] Style.Unapply throwing NullReferenceException in some rare cases"
### Description
We have several (thanksfully not too many) error reports in AppCenter about a NullReferenceException received from Style.cs/void IStyle.UnApply(BindableObject bindable). Issue seems to only affect Android but unsure about it.

Here are some example stack traces from AppCenter:
[code]

---------------------------------

[code]

--------------------

[code]
### Steps to Reproduce
Unf

[2020-05-15 07:23] tofutim commented on #5590
I ran into this today:
`Failed to download package 'runtime.win10-arm.Microsoft.Net.Native.Compiler.2.1.8'`
Maybe there is something wrong with the package. It hits the problem trying to update Xamarin.Forms for UWP
[code]
tries a few times holding up everything and then finally gives up...

[2020-05-15 07:52] tranb3r commented on #9900
This is clearly a regression, so it should be simple enough for the xamarin team to fix it.
But sadly they don't seem to care at all about it.
It's not even clear to me if this is a Xamarin.Forms or a Xamarin.Android regression ? And starting from which version ?

[2020-05-15 07:56] JKennedy24 commented on #10590
Fixed by 4.6.0.772 (probably the fix that was linked in the comments)

[2020-05-15 07:56] #10590 closed

[2020-05-15 08:01] AlleSchonWeg opened #10698 "[Enhancement] Enable SourceLink support!"
## Summary
Please enable sourcelink support. So we can step into the source code.

## API Changes
No changes

![Anmerkung 2020-05-15 095933](https://user-images.githubusercontent.com/6727366/82026356-efc0c100-9692-11ea-95f8-d54a254cbf80.png)

[2020-05-15 08:10] Denrage opened #10699 "[Bug] RefreshView IsEnabled Binding not updating"
### Description
If you set IsEnabled via Binding to false it's not refreshing anymore which is the expected behaviour but if you set it back to true again it still can't be refreshed. This only happens on iOS. Everything is working fine on Android.
### Steps to Reproduce

1. Define RefreshView in XAML and put a ScrollViewer inside with a CheckBox which sets a Property in the ViewModel (with a defa

[2020-05-15 08:16] Shraddha996 opened #10700 "I want to underline one word from the label text. How to do this???? Please help"
### Description
Am new to xamarin platform I want to underline one word from the label text. How to do this???? Please help
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Aff

[2020-05-15 08:34] W0126 commented on #9823
@jfversluis

I did a grep command for my App.
It output `binary file ./Payload/uPyxis.app/uPyxis matches`

the uPyxis is  my App.

But I do not use UIWebView in my code. I have no idea where the UIWebView come from.

I sure that I cleaned all bin/obj folders and all configuration have correct configured with the flag and settings.

[2020-05-15 08:38] programmation commented on #9359
@james1301 so the principal advantage of Shiny is that (among many other things) it abstracts the background-processing capabilities of each platform into a single API. HTTP requests are not able to run for long (i.e. more  than a few seconds) in the background by default. However, each platform has a mechanism to allow long-running tasks to continue in the background even when an app is stopped b

[2020-05-15 08:45] james1301 commented on #9359
Sounds good, thanks for the detailed reply @programmation.

I guess my only question would be are their any plans to build this kind of stuff into Xamarin Forms by default? It seems common to me that people would be dealing with an API and these issues would be for a lot of people. And generally I know a little about Apple cutting off connections and stuff like that but it's not clear how that wou

[2020-05-15 08:47] LoGA80 commented on #10700
Istead of Text property use the FormattedText property and Spans, like this:

[code]

[2020-05-15 09:27] SunshineSpring666 opened #10701 "[Bug] The "Month segment" of DatePicker show too wide in languages other than English (only on UWP)"
### Description
The "Month segment" of DatePicker is expected to display words like "January", "February" and so on. These words need wide space in English but not in some other "character-based" language, e.g., Chinese, Japanese, etc.. In these languages, the DatePicker doesn't auto-adapt according the space needed. Instead, it shows jusd as wide as it is in English, leaving a large empty gap in-

[2020-05-15 09:47] roubachof commented on #9650
There is Goutham on the Xamarin slack that is reporting the same issue.

[2020-05-15 09:47] W0126 commented on #9823
@jfversluis
I finally find out it is caused a old third-library, HockeySDK, which is very old and not active now.
So I removed this package.
It should solved my problem now.

Thanks.

[2020-05-15 09:56] jfversluis commented on #9823
That is great news @W0126! Let me know how it goes!

[2020-05-15 09:57] AlleSchonWeg opened #10702 "Update link in wiki"
### Description
On wiki page https://github.com/xamarin/Xamarin.Forms/wiki/How-to-Build-Xamarin.Forms-NuGet the link https://blog.xamarin.com/debugging-xamarin-forms/ is invalid. The correct link is: https://devblogs.microsoft.com/xamarin/debugging-xamarin-forms/

[2020-05-15 10:49] MhAllan opened #10703 "[Bug] [Android] Editor Focusing is not smooth, the keyboard disappears then appears"
### Description
Android Editor focusing is not smooth, when we call Focus( ) the keyboard will blink, it will disappear and then appear again. All I want is to keep the keyboard open when I click a button to send message so I can keep typing. while it works, but the UI is jumping up and down because of that keyboard disappearing then appearing whenever I call Focus( ).

The main problem is that, a

[2020-05-15 11:12] janschoelchAtOK opened #10704 "[Bug] NavigationBarTextColor also sets the back button color"
# Description
In #5177, there was a discussion about how to style the back button color in a NavigationBar. In PR #7365 there was a change that bound the back button color with the text color of the NavigationBar.

Since the introduction of this fix, it is no longer possible to define separate colors for the back button and the page title, as the icon color gets bound to the text color in `UpdateT

[2020-05-15 11:44] jsuarezruiz commented on #10477
@jamesmontemagno Thanks for the reproduction sample. This PR will fix this issue: https://github.com/xamarin/Xamarin.Forms/pull/10705

[2020-05-15 11:56] edmlbox commented on #9127
still not working

[2020-05-15 12:02] jsuarezruiz commented on #10700
@LoGA80 answer is correct. It is amazing to see the community helping each other. Thanks.

[2020-05-15 12:03] #10700 closed

[2020-05-15 12:08] jsuarezruiz commented on #10702
@AlleSchonWeg Thanks so much for indicating it. I updated the link.

[2020-05-15 12:10] #10702 closed

[2020-05-15 12:17] vivisardi commented on #9750
It´s hapening to mee too. Waiting for some solution;

[2020-05-15 12:47] munkii opened #10706 "[Bug] ViewExtensions.CancelAnimations is not cancelling animations"
### Description
I have an animation that I am "starting" with `Animation.Commit` and then trying to stop with `ViewExtensions.CancelAnimations(view)`. This is not cancelling the animation

I am need to trigger the start and stop of the Animation off of a ViewModel property

### Steps to Reproduce

1. Create Animation
`var throbAnimation = new Animation(v => this.MyLabel.Scale = v, 1, 2);`
2. Conne

[2020-05-15 13:15] Rikudouensof opened #10707 "[Bug] [Debugging] [Deployment] Debugging with Android 10 device Error"
### Description

I have a project that runs fine on my Nokia android device. To update its reach, I updated my device to android 10. I went to the SDK manager and got the android v29.

With my AMD PC, a debug only using real devices.

I changed the target framework to v29, Android 10-Q.

I am getting deployment issues

### Steps to Reproduce

1.  Create a Xamarin. Forms project that targets Androi

[2020-05-15 13:29] boris-df commented on #10692
The CarousselView itself is loosing it's scrollposition too!
I have a CarouselView with 17 items (via binding) and set the CurrentItem to the 16th item -> works fine when initialising the view/page first

then: Navigate back and forth -> Now the carousselView shows the first item (position 0)

Strange thing: when debugging inside the OnAppearing of the page, the CarousselView has the correct prope

[2020-05-15 13:31] boris-df commented on #10692
Edit: Xamarin.Forms  4.6.0.726

Edit: Xamarin.Forms  4.6.0.726

[2020-05-15 13:33] pme442 commented on #8498
I am also waiting on this fix.

[2020-05-15 13:43] boris-df opened #10708 "[Bug] CarouselView - Setting BindingIndex to null - Exception IItemsViewSource is empty"
### Description
If i set the BindingContext of a CarouselView to null (in an OnDisapearing() of a Page) i get an "IItemsViewSource is empty" exception

### Steps to Reproduce

1. Make a Page with a CarouselView + a ViewModel with some Items
2. In XAML Bind the ItemSource to the Items in the ViewModel; Bind the CurrentItem to a Property in the ViewModel
3. In OnApearing() of the Page set the carous

[2020-05-15 13:48] marioantoniou opened #10709 "[Enhancement] When using a SwipeView within a ListView, an option to allow a swiped item to auto close when another item is being swiped would be useful."
## Summary
When using a SwipeView within a ListView,  an option to allow a swiped item to auto close when another item is being swiped would be useful. Therefore only 1 visible swipe menu per ListView.

## Intended Use Case
Only allow one row in a ListView to have an SwipeView menu open at any one time, so the behavior is similar to  "ViewCell.ContextActions"

[2020-05-15 15:08] Tommigun1980 commented on #3706
1) This is a total showstopper, as your app will go into an infinite loop when any initialisation is done in OnAppearing/cleanup in OnDisappearing.
2) This is inconsistent because the Application's OnSleep and OnResume are not triggered.
3) Because this OnAppearing indistinguishable from a normal navigation event there's not much you can do.

I tried to add a flag in OnSleep/OnResume but as they a

[2020-05-15 15:09] Tommigun1980 commented on #3706
It's great that the devs think this is consistent. It's horrible to use though! 👍

[2020-05-15 15:14] Keflon commented on #6451
The following CollectionView is in an Auto row and displays a narrow __horizontally__ scrolling collection of strings. The required height is minimal. The height of the CollectionView fills the screen on my Nexus 5 phone.
If that's expected behaviour so be it, but it doesn't make much sense to me.
[code]
![HugeCollectionView](https://user-images.githubusercontent.com/16598898/82065768-70e57b80-96c

[2020-05-15 15:27] SFSteve opened #10710 "[Bug] Visual State Manager crashes application when using controltemplate"
### Description
When using Visual State Manager, if the VisualStateGroup is placed on a parent element with a TargetName on a page that uses a control template, the application crashes when Setter.Apply fires.

The issue seems to be caused by the TargetName property of the Setter, in that line 58 of Xamarin.Forms.Core/Setter.cs is throwing a null exception when trying to perform element.FindByName

[2020-05-15 15:29] jamsoft commented on #4676
Did you get anywhere with iOS Peter?

[2020-05-15 15:31] jamsoft commented on #4676
Do you have any links to examples of doing this?

[2020-05-15 15:33] roubachof commented on #4676
yup it's implemented in my Component here:

https://github.com/roubachof/Sharpnado.Presentation.Forms/blob/master/Sharpnado.Presentation.Forms.iOS/Renderers/HorizontalList/iOSHorizontalListViewRenderer.DragAndDrop.cs

[2020-05-15 15:44] LumiProj commented on #9823
Hi,

I am developing apps using XF for last 5 years.
I am also facing same issue and very disappointed. Sometimes I decided to switch to another platform because of lack of support and targeted help from the Xamarin.

Then I walked through this link https://devblogs.microsoft.com/xamarin/uiwebview-deprecation-xamarin-forms/
I followed all the instructions and successfully uploads build on TestFlig

[2020-05-15 15:51] acuntex opened #10711 "[Bug] RadioButton does not change color of button (only text)"
### Description
On iOS:
When binding the property TextColor of RadioButton, the button and the text get the color of the bound property.
After changing the property only the color of the text changes, the button does not change color.
On Android:
TextColor has no effect on the button, only the text.

### Steps to Reproduce

1. Create a RadioButton in your xaml:
[code]
2. In your ViewModel define t

[2020-05-15 16:01] jamsoft commented on #4676
I cannot thank you enough. Much appreciated.

One question. When in Grid Layout mode with a single column is it also possible to have any form of grouping? With a group header view?

If not, I wonder where would be a good place to start on adding that feature IYO?

[2020-05-15 16:08] roubachof commented on #4676
maybe it would be good idea to open a feature issue on the [Sharpnado's repo] (https://github.com/roubachof/Sharpnado.Presentation.Forms/issues) and discuss it there cause I'm afraid we would mess this issue if we continue our discussion.

[2020-05-15 16:09] sjordanGSS opened #10712 "[Bug] Rotating Android device/emulator throws ArgumentNullException"
### Description

Rotating an Android device running a Xamarin.Forms app causes it to crash with the following exception:

[code]

This occurs with Xamarin.Forms 4.6 sr1, but does not occur with Xamarin.Forms 4.4. It has been observed on the default Xamarin.Forms application updated to 4.6 sr1 and on existing applications.

### Steps to Reproduce

1. Create a new blank Xamarin.Forms app
2. Update X

[2020-05-15 16:44] FIELDPOINT commented on #10182
Google Prelaunch Report says the app is crashing on certain devices with the same error message.

I am using XForms 4.5.0.396

android.runtime.JavaProxyThrowable: at Xamarin.Forms.Internals.NavigationModel.Push (Xamarin.Forms.Page page, Xamarin.Forms.Page ancestralNav) [0x0001a] in <3015a2ac424d4bfc9c78e6a5d3a3fc66>:0
at Xamarin.Forms.Platform.Android.AppCompat.Platform.SetPageInternal (Xamarin.Fo

[2020-05-15 17:47] PureWeen commented on #10712
@sjordanGSS so it looks like there's a bug if you don't set any experimental flags :-/

If you just set a flag to anything
Forms.SetFlags("anything")

it should fix it for you

[2020-05-15 17:55] procopio opened #10715 "[Bug] Home button crash Xamarin Forms iOS"
### Description

After upgrade from XF 4.6.0.726 to XF 4.6.0.772 my app crash when press Home button on iOS.

### Steps to Reproduce

1.  Download and open the sample Xamarin.Forms - Theming from https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/userinterface-theming/
2.  Update to XF 4.6.0.772
3. Run
4. Press Home button on iOS device

### Expected Behavior

No crash

### Act

[2020-05-15 17:56] PureWeen commented on #10711
What do you think of this solution @acuntex ?

https://github.com/xamarin/Xamarin.Forms/pull/10411

[2020-05-15 17:56] #10711 closed

[2020-05-15 18:11] jfversluis commented on #9823
@LumiProj did you by any chance try to set the Linker Behavior to SDK Only?

[2020-05-15 18:41] Luismimultimedia commented on #10517
@jfversluis i did your guide to fix it but still not working. this issue is driving me crazy. It seems like other nugets have the UIWebView implement, i did the documentation steps and apple is still rejecting me the app. i´ve been searching where i have implemented UIWebView and i notice that for example Xamarin.Auth is implementing it. i also read this post:
 https://levelup.gitconnected.com/how

[2020-05-15 19:08] Shraddha996 opened #10716 "redirect to another page bu clicking label"

[2020-05-15 19:09] Shraddha996 commented on #10716
I want to redirect to another page by label click
ex.
forgot password? Sign In
If user click on sign in then should be redirect to sign  in page

[2020-05-15 19:12] Shraddha996 opened #10717 "redirect to new page on button click"
as am very new to this platform I was unable to find the right way to do this
Tried all the above code but didn't work

 void GetStartedButton_Clicked(object sender, System.EventArgs e)
        {
            Navigation.PushAsync(new PlacesPage());
        }

private async void GetStartedButton_Clicked(object sender, EventArgs e)
        {
            await Navigation.PushAsync(new PlacesPage());

[2020-05-15 19:18] AlleSchonWeg commented on #10717
@Shraddha996
You Test with android?
Read this: https://stackoverflow.com/questions/50412286/pushasync-not-working-with-contentpage or use Navigation.PushModalAsync();

[2020-05-15 19:40] acuntex commented on #10711
Perfect, thanks!

[2020-05-15 19:48] Josecanalla commented on #7510
Updating to Xamarin.Forms 4.6.0.726 solved the problem

[2020-05-15 19:56] biapar commented on #9823
I solved to update again each packages ( they was updates -1 version ) and made again the steps.
This is my Apple Config:
![image](https://user-images.githubusercontent.com/661517/82091020-f2ed9880-96f6-11ea-9ec2-688362f91636.png)

[2020-05-15 21:05] tofutim opened #10719 "[Enhancement] WebView2 for WPF"
## Summary
The old WebView for WPF looks terrible. Any chance we could update to the new WebView2? Or would there be issues because of Edge requirements? Here is rendering of ruby text in Safari, iOS, Android with Noto Sans Base64 encoded:

![image](https://user-images.githubusercontent.com/157766/82096227-65d61f80-96b5-11ea-8dc2-a19e86753187.png)

and from WPF WebView

![image](https://user-image

[2020-05-15 21:12] czuck opened #10720 "[Bug] Visible size of Datepicker UI is expanding if AutomationProperties are set."
### Description
This is similar to [#7875](https://github.com/xamarin/Xamarin.Forms/issues/7875) but with the DatePicker.  When the AutomationProperties are set on the datepicker the space it uses on the view also expands, which in this test case hides the second datepicker

### Steps to Reproduce

1. Run the attached program.  The first set of DatePickers has the AutomationProperties set which is

[2020-05-15 21:26] mpnow commented on #10159
I can reliably reproduce this issue with one of our production apps.

Because it's a commercial app, I can't publicly post the source code. @kingces95 or @samhouts how can I privately submit a repro to Xamarin/Microsoft; and would you be willing/able to sign an NDA first (my boss would prefer that)?

[2020-05-15 21:39] VladislavAntonyuk commented on #10717
make sure in App.xaml.cs you set mainpage as navigationPage:
MainPage = new NavigationPage(new MyMainContentPage());

[2020-05-15 21:40] TTalpey commented on #10712
The initial 4.6.0.726 release does not exhibit this issue. The 4.6.0.772 update does.

[2020-05-16 01:28] lazmeister commented on #10703
We found the UI to jitter up and down when having editor in scrollview.

[2020-05-16 01:30] lazmeister commented on #10703
I forgot to note most of the issues are in Android 9 for us, have you tested different Android versions @MhAllan ?

[2020-05-16 01:32] lazmeister commented on #10664
We found this issue where editor in scrollview for Android 9. Scrolling down after selecting line 2 of the total 5 lines on editor wouldn't allow you to scroll back down. Not sure if this is related but it could stem from the same issue.

[2020-05-16 04:48] MhAllan commented on #10703
@lazmeister

1- The Editor is not inside ScrollView. I did all possible trick regarding UI
2- I Tested in Android 9 and on Samsung device and Pixel emulator

The problem is that whenever you tap something or click a button the Editor will dismiss the keyboard before calling "ClearFocus" of Android.Views.ViewGroup of Mono.

[2020-05-16 05:31] Qythyx commented on #10245
How can I tell which version contains this fix? I'm still seeing this problem in 4.6.0.772.

[2020-05-16 06:23] Shraddha996 commented on #10717
thanks, @VladislavAntonyuk  @AlleSchonWeg
Works!!

[2020-05-16 06:23] #10717 closed

[2020-05-16 06:42] Red-House-Media opened #10721 "[Enhancement] Allow CollectionView.ScrollTo to scroll to a group heading"
Please enhance the ScrollTo method on the CollectionView to scroll to a Group Header when IsGrouped is true.  Thus allowing the collection to scroll and show the group heading.

As it currently works, when ScrollToPosition.Start is set as the position, the group heading is off screen, giving the user a level of uncertainty as to the group they have scrolled to.

[2020-05-16 07:23] SunshineSpring666 opened #10722 "[Bug] DarkMode: TextColor of Entry is black on Android when use Entry with EntryValidator Behavior. Setting Entry TextColor doesn't change the actual color"
### Description

In dark mode (dark theme specified in XAML)，Text color of Entry shows as black on Android while using Entry with EntryValidator Behavior. Setting the Entry's TextColor doesn't change the actual color.

### Steps to Reproduce

1. Add an Entry in a XAML page.
2. Add Nuget Package (https://www.nuget.org/packages/EntryValidator/)  to projects. (Install-Package EntryValidator -Version

[2020-05-16 08:00] haavamoa commented on #10679
I experienced the same bug when deleting the item in the list while the SwipeView is open and are animating back to closed.

One work around until #10682 is merged is to set : `SwipeBehaviorOnInvoked="RemainOpen"` for the `SwipeItems`.

[2020-05-16 09:27] myonlinegolfclub commented on #10715
Hi
I am also experiencing the exact same issue.
Thanks

[2020-05-16 11:20] HassanMeligi commented on #2449
when add this line to xaml iOSSpecific:Picker.UpdateMode="WhenFinished" selected item not updated

[2020-05-16 11:23] sachinkanadia opened #10723 "[Bug] BackButtonBehavior Command does not execute"
### Description

On **iOS** when setting the BackButtonBehavior as follows:

[code]

The command does not execute. The thing is when I set the TextOverride property it does work, but then I loose the default icon. This seems to be a bug. We need the command to execute in any case.

I am using Xamarin Forms Version: 4.6.0.772

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Beha

[2020-05-16 13:09] vividos commented on #10598
This may be the same bug as my issue #10688 (which got closed due to being a duplicate of #10350).

[2020-05-16 13:29] richp582 commented on #10715
Same!  Just updated and when I background my app, it dies... worked perfectly prior to .772

[2020-05-16 14:02] brminnick commented on #10245
@Qythyx The [Pull Request fixing this Issue](https://github.com/xamarin/Xamarin.Forms/commit/d4b1fd4bd3c24d63e0559057ecd345b33ed8180b) shows all of the releases that include the fix.
![87CE4687-0D59-4643-8AC9-90FCBE714A1E](https://user-images.githubusercontent.com/13558917/82121592-23f3ba80-9743-11ea-8260-30376e52c451.jpeg)

[2020-05-16 14:07] teohumeau opened #10724 "[Bug] Unable to read OGG stream with MediaElement on Android"
### Description
It is actually impossible to read an OGG Vorbis stream with MediaElement, it works well on UWP but not with Android.

### Steps to Reproduce
1. Create a project using MediaElement
2. Add as source an OGG stream
3. Launch it on Android

### Expected Behavior
Audio stream is playing like on UWP.

### Actual Behavior
MediaElement is not loading or reading.

### Basic Information

- ID

[2020-05-16 14:51] Reveon opened #10725 "[Bug] Material Slider - Thumb effect is actived when tapped outside the slider"
### Description

When `Visual="Material"` slider thumb effect is actived when tapped outside the slider.

### Steps to Reproduce

1. Run attached repro
2. Tap on the empty space or Label

### Expected Behavior

Material slider should behave the same as default slider.

### Actual Behavior

Material slider thumb effect is actived when tapped outside the slider

### Basic Information

- Version with

[2020-05-16 14:58] Sebastian1989101 opened #10726 "[Bug] Android bottom tab bar misses TailTruncation"
### Description

On Android, wheren `On<Android>().SetToolbarPlacement(ToolbarPlacement.Bottom);` is set on a `TabbedPage`, the TailTruncation of the Page Title does no longer work.

This is how it looks like with the default setting (Top placement):
![qemu-system-i386_2020-05-16_16-52-22](https://user-images.githubusercontent.com/25636075/82122785-e9673d80-9795-11ea-85c3-07a93f1c12b8.png)

And th

[2020-05-16 16:21] Alex-111 commented on #7152
Will this be fixed in the next release?

It is really a bad experience for the users. We fear to get bad ratings for our App, because of this...

[2020-05-16 18:16] glintpursuit commented on #10715
Facing same issue.
When app goes in background it will crash.

[2020-05-16 19:21] Shraddha996 opened #10727 "unable to solve this error"
I installed xamarin.forms.map and xamarin.forms in my project but getting this error

Error---The projects SerenaSpaces.Android is missing Android SDKs required for building. Double-click on this message and follow the prompts to install them.

and if I double click then one window opens for license agreement and ask to click install but still not get install in my machine

stuck at this point fro

[2020-05-16 19:22] sarthak1995-26 opened #10728 "Way to change visual state of a view through XAML"
## Summary
Right now the only way to change Visual State of View is though code behind like below
[code]

But If I have a click command on ViewModel and I want to change VisualState of that button when command fire.I have to use Messaging Center or have to subscribe to a button click on Codebehind

Using Data trigger I can be able to change button color or others property when specific property on

[2020-05-16 19:39] #10712 closed

[2020-05-16 19:49] pictos opened #10729 "[Enhancement] Provide an easy way to get the Current Page at Shell"
## Summary

As a developer, I want to get the Current Page presented at the Shell.

## API Changes
Today to have access to Current Page, we need to do a boring code, like this:
[code]
For this, we just need to expose a Property. Something like:
[code]

## Intended Use Case
Whit this addition we can easily get the presented page and do some operations on it, for example when we have our NavigationS

[2020-05-16 19:57] GiampaoloGabba commented on #7741
why is this closed? the bug is always here... alive and kickin!!!

[2020-05-16 20:03] PureWeen commented on #10715
Duplicate of this issue. Here's a workaround https://github.com/xamarin/Xamarin.Forms/issues/10712#issuecomment-629394090

We're working to get an SR out for this soon

[2020-05-16 20:03] #10715 closed

[2020-05-16 20:13] VladislavAntonyuk commented on #10727
You have to install android sdk or allow VS automatically install it for you

[2020-05-16 20:39] PureWeen commented on #10727
@Shraddha996 can you use the Visual Studio feedback tool to log your issue? This will gather up the logs needed to address the issue.

In the meantime I'd recommend going via the Visual Studio Installer and adding Xamarin that way.

If you already have xamarin installed you can go to the individual components on the installer to install the android sdks

[2020-05-16 20:39] #10727 closed

[2020-05-16 20:40] PureWeen commented on #10716
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/gestures/tap

[2020-05-16 20:40] #10716 closed

[2020-05-16 20:41] PureWeen commented on #10707
@jonathanpeppers thoughts?

[2020-05-16 20:43] PureWeen commented on #10694
@liweipro what type of device are you using?

Does this look like it'll fix your issue?
https://github.com/xamarin/Xamarin.Forms/pull/10632

This the hamburger still visible?

[2020-05-16 21:11] PureWeen commented on #10654
@davidbuckleyni I don't follow what you're trying to do here

Why are you trying to open the nuspec file?

Here's a video that might help
https://www.youtube.com/watch?v=RXRh66yxCQY

[2020-05-16 21:17] PureWeen commented on #10621
@davidbuckleyni Can you try updating your fork?

We made a few changes that should make all this work better for you now

I checked your fork and it's older than the changes we made

[2020-05-16 21:17] #10621 closed

[2020-05-16 21:19] davidbuckleyni commented on #10621
Yes question how do I do that. And that is great thanks for that
Much appreciated as want to work on the project more ur a great team

[2020-05-16 21:20] PureWeen commented on #10527
@pfafft33 are you redeploying your APK after updating the AutomationID? And then running the UI tests?

[2020-05-16 21:23] PureWeen commented on #10621
Try this @davidbuckleyni

https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/syncing-a-fork

[2020-05-16 21:24] davidbuckleyni commented on #10621
Thank u will update u tommrow what is the review process whom should I tag in the pull request once I get it working :-)

Is their a process documentation for pull request submission and what labels to place on it.

[2020-05-16 21:33] PureWeen commented on #10621
Just create the pull request and we'll add the labels and assign someone to it :-)

[2020-05-16 21:35] PureWeen commented on #10621
@davidbuckleyni check the video here for an example of creating a UI test
https://www.youtube.com/watch?v=RXRh66yxCQY

Don't let the UI test bog you down though. If you have trouble creating a UI test but you have a fix just check in the fix and we can help with the UI test

[2020-05-16 21:38] davidbuckleyni commented on #10621
@PureWeen thanks I have a Mac so shouldn’t be an issue :-)     Gerald was saying I don’t have to worry about tizen and uwp that’s something u guys would take care of aye

Also how do I add xamrain as a reference when it’s in build state and not nuget state so I can test it in the application later that I ain’t broke anything ?

[2020-05-16 22:13] PureWeen commented on #10621
There's not a great way to do that on vsmac. You have to create nugets on windows currently

Once you create the PR we can trigger a build which will have nugets you can test

[2020-05-16 22:28] smalgin commented on #10170
Also, first time changing the position doesn't work. When you swipe right, left and then hit Next button to increase position counter, it works. Just FYI. It used to work before latest upgrade.

[2020-05-16 22:30] alaskanrogue opened #10731 "[Bug] Xamarin.Forms Preview 4.7.0.773 - Pre-1 Fails to Fully Display ContentPages"
Xamarin.Forms Preview 4.7.0.773 - Pre-1 fails to fully display previously stable ContentPages.

I have created a sizable master layout controller in code that manipulates the XAML of numerous ContentPages. The controller does four different things for all pages other than the main screen:

1. Determines the sizing of the page grids (columns and rows), child UI elements and fonts to be used based o

[2020-05-16 22:40] davidbuckleyni commented on #10654
I was trying to add the dll as a reference to xamrian app to be able to test the development I work on

[2020-05-16 22:47] davidbuckleyni commented on #10621
Ok I just like being able to test code before saying it’s ready and pushing it is their no way to test it locally.

[2020-05-16 22:52] PureWeen commented on #10621
Your best way to test locally is to use the Control Gallery

you can create your test condition in there to see if it works

[2020-05-16 22:58] davidbuckleyni commented on #10621
Ok so just build the control gallarry project and the change should just show up what dll do I reference then ? In my forms project

[2020-05-16 23:21] davidbuckleyni commented on #10621
@PureWeen ano with build u guys are super busy when it’s over could someone walk me thru it on a teams call or something

[2020-05-17 01:18] Qythyx commented on #10245
@brminnick , thanks for the reply. I see that, but it wasn't clear is how those numbers relate to the 4.6.0.772 version I'm running. That is, for example, is release-4.6.0-sr1.1 include .772 or not. But, I just found the releases page (https://github.com/xamarin/Xamarin.Forms/releases) and it looks like .772 is the same as SR1, so this fix will be in whatever number equates to SR2.

[2020-05-17 03:04] Rikudouensof commented on #10707
I am not sure what you are asking, but please go into details all, anything you think/believe / discovered could help.

[2020-05-17 05:27] MhAllan opened #10732 "[Bug][Android] CollectionView doesn't scroll to last item when put together with Editor that AutoSizes"
### Description
If we have **CollectionView with ItemsUpdatingScrollMode="KeepLastItemInView"** and **Editor with AutoSize="TextChanges"**.

When you type the editor will grow and cover the last item in the CollectionView, the CollectionView size will change, and CollectionView.Scrolled event will be fired, and ItemsViewScrolledEventArgs.LastVisibleItemIndex shows that last item is not visible (as

[2020-05-17 07:12] sarthak1995-26 commented on #10728
I have achieved my requirement through below behaviour

[code]

Usage
[code]
Here NextStkState is a string type property on my ViewModel

But Bindable property would remove this Behaviour need

[2020-05-17 10:37] ichijikuibo opened #10733 "[Bug] Crash on Screen rotation on Xamarin.Forms 4.6.0.772 and newer"
### Description
There is a crash in Xamarin.Forms 4.6.0.772 and newer on android during screen orientation changes. I have tested it on a blank app and it also crashes.

[Rotation Crash.txt](https://github.com/xamarin/Xamarin.Forms/files/4640060/Rotation.Crash.txt)

### Steps to Reproduce

1. Rotate device 90 degrees to cause a orientation change

### Expected Behavior
Screen content rotates

###

[2020-05-17 11:04] MhAllan opened #10735 "[Bug] [Fatal] [Android] CollectionView Causes Application Crash When Keyboard Opens"
### Description

This bug is fatal and not noticeable easily but it will happen in the app sooner or later.

If The CollectionView has **ItemsUpdatingScrollMode="KeepLastItemInView"** It will cause the application to crash when the keyboard opens (or closes not sure) throwing this exception

**Java.Lang.IndexOutOfBoundsException
  Message=Inconsistency detected. Invalid view holder adapter positio

[2020-05-17 12:12] Qythyx commented on #9619
I'm not seeing this problem anymore with Xamarin.Forms 4.6.0.772. I'm not exactly sure when the problem went away, but I'm guessing it's related to a recent Forms release.

[2020-05-17 15:03] davidbuckleyni commented on #10621
@PureWeen that is a far better test the only project now complains is the IOS ui tests Control I presume I need to have a mac connected for that to build ? I have a mac mini.

But far far less errors than what i was getting before.

But its saying ios is not compatible with net47

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1201	Project Xamarin.Forms.ControlGallery.iOS is

[2020-05-17 15:13] AdamDiament commented on #9349
@samhouts I still have this issue in iOS using xamarin forms 4.6 - is this expected and going to be in a future release or should I raise another issue?

[2020-05-17 16:07] enterprisemk commented on #10733
Same here - Android apps crashing on screen rotation after upgrading to:  Xamarin.Forms v4.6.0.772. This includes blank android apps.  iOS has no issue.

Downgrading to: v4.6.0.726. fixes the issue.

[2020-05-17 16:50] vgdh commented on #1711
i want this too!

[2020-05-17 17:15] vgdh commented on #1694
good future!

[2020-05-17 17:24] davidbuckleyni commented on #10621
@PureWeen Also do i create a new branch when I do my pull request it didnt explain that well in the video ?

[2020-05-17 17:29] PureWeen commented on #10621
@davidbuckleyni yea :-/ those errors are just there 😢   We have an open issue with Visual Studio to fix those. They don't actually stop you from compiling and running stuff.

It's usually easier to create a new branch just so your local master can stay consistent with our master

[2020-05-17 17:30] davidbuckleyni commented on #10621
Thanks but the way you said about tesitng in the control gallery project is that not that one ? @PureWeen

[2020-05-17 17:35] davidbuckleyni commented on #10621
@PureWeen  i noticed this has now been assgiend to someone else by the looks through another item ?.

https://github.com/xamarin/Xamarin.Forms/issues/9673

And my issue for the place holder appears to be off the open issues ?

[2020-05-17 17:36] davidbuckleyni commented on #9673
@PureWeen I have been working on a pull request for a place holder property but my issue has been closed can this be assigned to me to avoid this being closed as already working on it ?

[2020-05-17 17:41] davidbuckleyni commented on #9673
@brminnick can this issue be assigned to me please as in the process of doing a pull request for the community for this.

[2020-05-17 17:59] PureWeen commented on #10621
No those are the unit test projects. The error is saying it can't add the CG project as a reference not that the CG project isn't compiling

It doesn't look like that issue is assigned to anyone else. I assigned it to myself for now so it doesn't get closed or overlapping work doesn't happen

[2020-05-17 18:21] eli191 commented on #6554
A simple solution is to calculate the height and set it with a MVVM auto-updating parameter.

[2020-05-17 18:24] pfafft33 commented on #10527
@PureWeen - Thank you SO much! After all the things I tried, I had forgotten to deploy a fresh copy of the APK after adding more AutomationIds.
This issue can be closed now.

[2020-05-17 18:24] #10527 closed

[2020-05-17 18:34] davidbuckleyni commented on #10621
@PureWeen I submitted a pull request there so we just have to see if it gets approval. But as exp I no ur first pull request will always be changes thanks.

[2020-05-17 19:11] tscholze commented on #6554
@eli191 do you have any small sample? :)

[2020-05-17 19:21] eli191 commented on #6554
@tscholze I am doing it through `ReactiveUI` so it won't help, but basically you will add
`HeightRequest="{Binding CustomColViewHeight}"` in the xaml
And in your ViewModel, have that property  `CustomColViewHeight` implementing INPC.

[2020-05-17 20:16] davidbuckleyni commented on #9673
I have already done a pull request for this was working on something Similar will work on iOS and Android for now.

[2020-05-17 21:21] maxim-saplin commented on #10101
Any news? XF 4.5 and up is barely useful for macOS with even basic UI being corrupted.

[2020-05-17 21:30] Sebastian1989101 opened #10738 "[Bug] WebView causes NullReferenceException"
### Description

Since the latest Update of Xamarin.Forms, the WebView causes a NullReferenceException when it is used with a Html String through a HtmlWebViewSource.

Exception in Log:
[code]

### Steps to Reproduce

1. Using a WebView with HtmlWebViewSource

### Expected Behavior

Should not cause the exception as it was before.

### Actual Behavior

Causes NRE.

### Basic Information

- Version

[2020-05-17 23:15] Sebastian1989101 opened #10739 "[Bug] ITMS-90809: Deprecated API Usage (iOS) still exists"
Tested with Forms 4.6.0.726 and 4.6.0.772. And yes, I have added the "--optimize=experimental-xforms-product-type" mtouch argument. Or do I have to add this to my watchOS, watchOS Extension and Today Extension project as well?? This is my current VS for Mac info output:

[code]

[2020-05-17 23:45] programmation commented on #9359
@james1301 I can't speak for Xamarin folks about what they may or may not want to do :) but I agree it's a common enough scenario that a helpful framework could get concerned about trying to solve it. Shiny is the only framework I'm aware of that tries to tackle the issue in a coherent way, and you're right it does have a lot of overlap with Essentials.
Happy to continue this discussion away from

[2020-05-17 23:45] davidbuckleyni commented on #10621
@PureWeen thanks for working on those bugs it’s appreciated I no I reached out to David pm manager I guess he reached out to u so just want to say thanks been wanting to contribute for a while now I can :-).

[2020-05-17 23:47] davidbuckleyni commented on #10270
I didn’t close this this should be re opened.

[2020-05-18 00:54] jdluzen opened #10740 "[Bug] x:DataType on ContentPage breaks CarouselView and others"
### Description
I've spent at least 2 days tracking this down, and to my surprise, it's related to my last bug #5436.
Having been in the habit of putting x:DataType on all top level ContentPages, it somehow breaks the CarouselView and at least Sharpnado HorizontalListView: no items are rendered. Removing the x:DataType OR saving the Xaml in debug mode to force a hot reload makes the items appear.

[2020-05-18 01:26] davidbuckleyni commented on #10270
@PureWeen This is the pull request for the above

https://github.com/xamarin/Xamarin.Forms/pull/10741

Can you assign someone to review please as I see the person gets automatically assigned not been active since the 11 of the month.

[2020-05-18 04:03] Shraddha996 opened #10742 "[Bug] deserialize object issue"
the above code is for getting value from service

 var u = Task.Run(() => GetURI(new Uri("https://24y10a8b1i.execute-api.us-east-2.amazonaws.com/SSDemo/fn_SS_GetPlaces")));
            u.Wait();
            Console.WriteLine(u.Result);

            string str1 = u.Result.Replace("\"", "");

            **Places[] p1 = JsonConvert.DeserializeObject<Places[]>(u.Result);**
            foreach (Places

[2020-05-18 05:43] dishantmshah commented on #10382
@davidortinau I am still able to reproduce this issue in Android with the latest version of Xamarin.Forms.

FlyoutItemGridStyle class is not updating any of the mentioned styles. Even settings Selected item BackgroundColor via VSM is not working.

Version Details:

Xamarin.Forms - 4.6.0.772
Xamarin.Android - 9.2.3.0
Visual Studio - 8.3.1 (build 18)

[2020-05-18 06:02] dhewitson commented on #10733
Same thing happening here on iOS when the application is moved to the background

StackTrace:

[2020-05-18 06:10] realivanjx commented on #10733
Does downgrading to  v4.6.0.726 fixes your issue @dhewitson ?

[2020-05-18 06:11] gata-bah opened #10743 "[Bug] Android 10: Line break does not happen on dash/hyphen"
### Description
When a Label is too narrow to display its text, which contains a dash, in one line it breaks into a second line. This is expected. On all platforms (iOS and Android <10) this line break happens after the dash in a word (ie Line-Break). On Android 10 the line break happens exactly at the point where the line ends which leads to hard readability and bad UX.

### Steps to Reproduce

1

[2020-05-18 06:14] dhewitson commented on #10733
@realivanjx yes it does

[2020-05-18 06:46] tompi commented on #10733
Same thing happened to me today, downgraded and problem disappeared

[2020-05-18 06:55] Druffl3 commented on #9650
@roubachof , that's me only :P

[2020-05-18 07:02] ichijikuibo commented on #10733
Hadn't noticed before but I also get the same issue as @dhewitson on iOS.

[2020-05-18 07:02] VladislavAntonyuk commented on #10742
It is not an issue of Xamarin. Most likely you have invalid Json:
https://www.freeformatter.com/json-validator.html

[2020-05-18 07:14] rodhemphill commented on #9525
I too am blocked with this @samhouts .

@Saturn, what do you mean "changing the MediaElement renderer"? Are you suggesting there is a way to get the repo for just the MediaElement and we add that to our project? I thought you could get the repo for all of Forms or none. Or am I missing what you mean with your comment to @Az6bcn?

I also note that @brminnick 's repo has been removed.

[2020-05-18 07:23] Saturn commented on #9525
Hi @rodhemphill ,

I copied the MediaElementRenderer from https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs

Added it to my Xamarin iOS project, changed the class name to MediaElementRenderer2 and added

[code]
above namespace.

You possibly do not need to change name of class.

I then just changed the Dispose method slightly based on

[2020-05-18 07:23] rodhemphill commented on #9805
@samhouts
Hi Sam, it looks like we are hitting every bug on MediaElements (see also https://github.com/xamarin/Xamarin.Forms/issues/9525). The app we are building needs to get out to the guys rebuilding our electricity network killed by our bushfires here. I know it's not your problem but I can see these issues have been outstanding for three months now - is anyone working on these? If not, do you

[2020-05-18 07:35] jaspervanmegroot commented on #4848
@programmation Do you have an example project on github?

[2020-05-18 07:40] vividos opened #10744 "[Bug] WebView.Eval crashes on Android"
### Description

I upgraded Xamarin.Forms from 4.6.0.726 to 4.6.0.772, and my app starts to crash. I'm using `WebView.Eval()` to transfer lengthy JavaScript data calls to the WebView. This is the exception and stack trace from AppCenter:

`System.UriFormatException: Invalid URI: The Uri string is too long.`
[code]

### Steps to Reproduce

1.  Create a new Mobile App project with a `WebView`
2. Use

[2020-05-18 08:04] alborozd opened #10745 "[Bug] Xamarin.Forms CarouselView CurrentItem binding doesn't work in v4.6.0.772"
### Description

CarouselView doesn't change CurrentItem when I change it in viewmodel
Here is xaml:

`
<StackLayout>
    <CarouselView CurrentItem="{Binding Answer}" ItemsSource="{Binding Answers}">
        <CarouselView.ItemTemplate>
            <DataTemplate>
                <Label Text="{Binding Display}"/>
            </DataTemplate>
        </CarouselView.ItemTemplate>
    </CarouselView>

[2020-05-18 08:12] jsuarezruiz commented on #10733
Thanks for the feedback to everyone. This PR should fix this issue: https://github.com/xamarin/Xamarin.Forms/pull/10714

[2020-05-18 08:22] jsuarezruiz commented on #10738
@Sebastian1989101 Could you attach a reproduction sample?.

I have tried to replicate the issue but without success.
[Issue10738.zip](https://github.com/xamarin/Xamarin.Forms/files/4642909/Issue10738.zip)

[2020-05-18 08:26] jsuarezruiz commented on #10744
Could be related with (or be the same) https://github.com/xamarin/Xamarin.Forms/issues/10738?

[2020-05-18 08:30] Domik234 opened #10746 "[Bug] Dark Mode crashes on Android 10 (Runtime Theme Change)"
### Description

Application crashes on Honor 20 / Android 10 when I want to change app theme. When I made new project then it worked.

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/EnumerableExtensions.cs#L79
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/Application.cs#L172
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platf

[2020-05-18 08:37] Domik234 commented on #10746
Hey,
I am sorry about it. My own mistake with double Flags.SetFlags("").

Thanks,
Dominik Švarc

[2020-05-18 08:37] #10746 closed

[2020-05-18 09:05] jfversluis commented on #10739
There is quite a bit written about this already, did you happen to see that?

It basically comes down to:

* Use Forms 4.5+ and Xamarin.iOS 13.10+
* Make sure your NuGet packages do not still reference UIWebView or WebViewRenderer, or maybe any native binding libraries that you might have created yourself
* Set Linker Behavior to either SDK Only or All
* Make sure that you set the mtouch argument

[2020-05-18 09:11] boris-df commented on #10692
"fixed" with 4.6.0.772 - At least the last position is restored when pushing the page again
But you can see (and have to wait) that this happens! It seems like the CarouselView is still switching to the first item and then "automagically" scrolling to the last selected item (with animation!)

I would expect the Page / CarouselView to look like i left it when i open the page again

[2020-05-18 09:16] Sebastian1989101 commented on #10738
@jsuarezruiz I think the issue can be closed. It seems like for some reason the WebView was forced to use the old WebViewRenderer instead of WkWebViewRenderer. After updating deleting obj and bin folders and update every library to the latest stable available beside Xamarin.Forms, this issue seems to be solved.

[2020-05-18 09:21] #10738 closed

[2020-05-18 09:33] rmarinho commented on #10170
@smalgin tested with what package?

[2020-05-18 09:37] james1301 opened #10748 "[Enhancement] Built in Search Page for iOS and Android"
## Summary
Built in Search Page for Android and iOS as they have these built in options. I couldn't see this enhancement anywhere. e.g. like the image attached.

![image](https://user-images.githubusercontent.com/17780517/82197597-1aa95000-98f3-11ea-9cc8-ac80735ea1ae.png)

## API Changes

A new page based on ContentPage called SearchPage, which would include all of the Search bar controls properti

[2020-05-18 09:41] Sylv1F commented on #10159
Hi, same problem with 4.6.0.772, i downgrade again in 4.3.0.991211

[2020-05-18 09:47] alallo commented on #8386
Is there any workarournd for this? the best I got so far is to reload the content of the WebView. In that way the error page will show and quickly be replaced by the original page

[2020-05-18 09:52] vividos commented on #10744
It's not the same exception type and not the same stack trace, so I guess no.

[2020-05-18 09:56] nyakaspeter commented on #10744
I had a non related issue that forced me to update to 4.6.0.772, so this really hit me in the feels :'( I can confirm that the crash only happens on Android, iOS is fine.

[2020-05-18 09:59] vividos commented on #10744
`SyncNativeCookies()` can be found in Android, UWP and iOS renderer classes; maybe it's not called on iOS for some other reason.

[2020-05-18 10:05] jimmy-robert commented on #10733
Same here. Our workaround for Android until #10714 is merged:

[code]

[2020-05-18 10:14] devthepenguin opened #10749 "[Bug] Xamarin.Forms 4.6.0.772 fails to find EventHandler with correct signature for Tapped event."
### Description
Inside Grid Layout TapGestureRecognizer when attached to an image, by **declaring an event handler in .xaml and defining the corresponding code-behind in .xaml.cs fails to link the two correctly**; build errors are encountered and subsequent tap action cannot be performed even after switching to the handler declaration pragmatically.

### Steps to Reproduce

1. Ensure that EventHan

[2020-05-18 10:34] mphill commented on #8386
You can use the `Navigating` event.  `WebNavigatingEventArgs.Url` will have the target, then you can do something like this:

[code]

[2020-05-18 10:50] YZahringer opened #10750 "[Enhancement] Support StringFormat on MultiBinding"
## Summary
Add `StringFormat` support in `MultiBinding`.

## API Changes
No API changes, `StringFormat` is already declared in `BindingBase`.

## Intended Use Case
Example XAML usage:
[code]
Documentation: [BindingBase.StringFormat](https://docs.microsoft.com/en-us/dotnet/api/system.windows.data.bindingbase.stringformat)

[2020-05-18 10:58] vniehues commented on #10454
This is actually huge for some users (myself included).
I used to set alternating row colors for ListViews / BindableLayouts by listening to the ChildAdded event and setting the row color based on an index.
We can't do that anymore and the alternative (templates + selector) is only feasable for "smaller layout" but in my case i got a grid per row with 6 different columns and some GestureRecognizer

[2020-05-18 11:03] BrayanKhosravian commented on #6908
Use VeritcalOptions for the collectionview. that fixed the issue

[2020-05-18 11:06] heebaek opened #10751 "[Bug] CollectionView ItemSize problem after rotation if use MeasureFirstItem"
### Description
when use MeasureFirstItem, after orientation change, collectionview update only firstitem's size.

### Steps to Reproduce
1. launch app.
2. rotate device.
3. see item size bug.

### Expected Behavior
normal item size.

### Actual Behavior
only firstrow has normal size.

### Basic Information
i tested with current stable and nightly build with android device.

### Screenshots
![Scre

[2020-05-18 11:56] pupauoga commented on #10739
Hi,
We use latest Xamarin Forms, that uses Xamarin.iOS.MaterialComponents 92.0.0, but with grep command we get this result:
`./.....App.iOS.app/Frameworks/MaterialComponents.framework/MaterialComponents matches`
Can you advice what steps should we take now?

[2020-05-18 12:01] jfversluis commented on #10739
Make sure that you indeed have all the latest versions on all of your projects (both shared library and iOS), delete your obj/bin folders from the file system and do a clean and rebuild to make sure no caching is happening.

[2020-05-18 12:23] bruzkovsky commented on #8596
Great proposal! 👏

How will this behave for views inside a `CollectionView`? We are currently evaluating migrating from `ListView` and we need the cells' `OnAppearing` and `OnDisappearing` events. Would `Loaded` and `Unloaded` be called on items in a `CollectionView` when it is created, or recycled, or scrolled into/out of the view? Could there be a test case to ensure that it behaves consistently

[2020-05-18 12:26] Sebastian1989101 opened #10752 "[Bug] Sleep causes ArgumentNullException (iOS)"
### Description

Even with a fresh project the app crashes when entering the sleep mode.

### Steps to Reproduce

1. Create new project
2. Update Xamarin.Forms and Essentials
3. Start the app
4. Use the Home button / bring the App to sleep mode
5. Crash happens

### Expected Behavior

No crash.

### Actual Behavior

Crash with the following details:
[code]

### Basic Information

- Version with is

[2020-05-18 12:34] Sebastian1989101 commented on #2017
@PureWeen this issue is still a thing. Btw. why does it not just behave as a taller iPhone app on a 70:30 split?

[2020-05-18 12:38] sasivishnu opened #10753 "[Bug] Using HttpCompletionOption.ResponseHeadersRead in HttpClient is throwing error as responce content size increase"
### Description
We are using single instance HttpClient (Default HttpClient Implementation) in our app and `SendAsync` is passed with parameter `HttpCompletionOption.ResponseHeadersRead`. When response content size is less (ex: array of 10/20 Json objects), then API call is succeeding but if response content size is more, we are getting error in Android. We have released our app to production and

[2020-05-18 12:40] pupauoga commented on #10739
That did not solve the issue, anything else? We are stuck with this for a very long time now

[2020-05-18 13:19] #10424 closed

[2020-05-18 13:21] jfversluis commented on #10739
I'm really sorry but I don't know what else to tell you. We are very sure that with the latest version the reference to MaterialComponents has been updated and I have had multiple reports confirming that has fixed the issue for people concerning the Material part of things.

If that is still showing up with with your grep command, then there has to be something cached somewhere that still ends up

[2020-05-18 13:43] jsuarezruiz commented on #10752
@PureWeen This issue should have been fixed with https://github.com/xamarin/Xamarin.Forms/pull/10714?

[2020-05-18 13:46] sachinkanadia opened #10754 "[Bug] - ToolbarItem IconImageSource does not display correctly"
### Description
When setting the tool bar item's IconImageSource on a content page, the icon does not render correctly and its not in colour.

<ContentPage.ToolbarItems>
        <ToolbarItem IconImageSource="x.png" Command="{Binding CancelCommand}"/>
    </ContentPage.ToolbarItems>

I am using Xamarin.Forms version 4.6.0.772 and this happens on Android & iOS.

### Steps to Reproduce

1.
2.
3.

###

[2020-05-18 14:29] rmarinho commented on #10486
@mpapadis can you try with `CarouselView` ?

[2020-05-18 14:57] brminnick commented on #9525
@rodhemphill Thanks for the heads up! The repro link should work now: https://github.com/brminnick/MediaElementRepro

[2020-05-18 15:12] akamud commented on #6919
This issue is really annoying, indeed. Can you provide more info on why this hasn't been merged yet? Is it a design decision?

[2020-05-18 15:13] StephaneDelcroix commented on #10405
@ChaseFlorell: `string.Empty` is not a valid color, so I think throwing an exception is the right thing to do here.

[2020-05-18 15:18] StephaneDelcroix commented on #10405
also `An extremely popular framework that you use has a bug that causes a hard crash.` Thanks for the extremely popular, but I don't see this as a bug ?

`The rational for me is that we have a back end system that stores an unset color to an empty string` . I get that. But in a MVVM model, you can, but you're not forced, to exposed the Model properties directly into the ViewModel.

I'm closing thi

[2020-05-18 15:19] ChaseFlorell commented on #10405
@StephaneDelcroix  I disagree, `null` is not a valid color either, and it doesn't throw, I think you should _either_ be returning the same value as `null` _or_ using the `Fallback` value.

A hard shutdown is not helpful to anyone here; and having to write a converter to work around it is really not the best approach.

[2020-05-18 15:20] StephaneDelcroix commented on #10405
oh, you're totally right, the app shouldn't crash on a binding failure. I misread that

[2020-05-18 15:20] ChaseFlorell commented on #10405
take a look at my repro I attached.

[2020-05-18 15:25] Sebastian1989101 commented on #10739
@jfversluis Is there some other cache beside the packages folder and the obj/bin folders that could be use on a Rebuild? Because after completly removing Xamarin.Forms and readding the NuGet package this error was gone. The terminal command helped a lot to find the cause of the issue. It always had Xamarin.iOS with this part in it's bundle.

[2020-05-18 15:28] mpapadis commented on #10486
I will try to do it later but it's a different view after all.

[2020-05-18 15:28] xamarindevelopervietnam commented on #10748
vote

[2020-05-18 15:29] james1301 opened #10757 "[Bug] Cannot Set SearchBar.BarTintColor"
### Description

Search is washed out because of the bold header colour. Need to change it's background, but cannot. SearchController.SearchBar.BackgroundColor is not the specific search and BarTintColor does not do anything.

### Steps to Reproduce

1. Run the sample
2. See that the background is washed out by the bold header colour
3. Attempts to set Search colour do not work

### Expected Behav

[2020-05-18 15:35] peterfoot opened #10758 "WPF TimePicker - incorrectly formats 24-Hour times because ToLower() is called on format string"
https://github.com/xamarin/Xamarin.Forms/blob/694f438662ae3847d4903a8f5074b3840724d93e/Xamarin.Forms.Platform.WPF/FormsTimePicker.cs#L53

To display time in 24-hour format requires a format string of "HH:mm" - the internal FormsTimePicker control converts this to "hh:mm" which results in e.g. 03:30 when expecting 15:30 for 3:30pm.

[2020-05-18 15:49] jonathanpeppers commented on #10707
@Rikudouensof at build time, some APK files are generated in:

* Windows - `%localappdata%\Xamarin.Android\Cache`
* Mac - `~/Library/Caches/Xamarin.Android/`

Can you delete this directory and try again?

It seems like this file is not a valid APK:
[code]

[2020-05-18 15:54] rmarinho commented on #10486
@mpapadis Shell should only work with `ContentPage`, and CarouselPage user experience is the same as use CarouselView.

[2020-05-18 15:57] jsuarezruiz commented on #10709
@marioantoniou Thanks for the enhancement. I have created a PR https://github.com/xamarin/Xamarin.Forms/pull/10756 adding a new property to the SwipeView to allow this behavior. If you can take a look at it, would be great to have your feedback and know if it covers what you would like to have.

[2020-05-18 16:09] CleanCodeDeveloper commented on #10538
@StephaneDelcroix: Is the repro I added sufficient?

[2020-05-18 16:42] PureWeen commented on #10309
@HobDev  If I'm understanding your scenario here you're wanting the LoginPage to be specified in the AppShell file.

It'll be the first page that loads and it'll load modally?

Currently the presentation mode only works for pages you are pushing onto the stack but just making sure I'm following your sample

[2020-05-18 17:08] rmarinho commented on #10514
Hi thanks for the feedback @EmilAlipiev and @MitchBomcanhao .
Does it work fine if you removoe the plugin?
Is it possible to provide a small reproduction sample?!

[2020-05-18 17:44] rmarinho commented on #10376
You shouldn't set the content directly to the ContentPresenter.

_The ContentPresenter should be placed in a control template to mark where content to be displayed by the templated custom control or templated page will appear._

please check this Documentation
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/templates/control-template#substitute-content-into-a-contentpresent

[2020-05-18 17:44] #10376 closed

[2020-05-18 17:47] rmarinho commented on #10374
Hi @Tommigun1980 i think you are not using ContentPresenter as it should be used, is used for `ControlTemplate`.

Please take a look at this documentation.

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/templates/control-template#substitute-content-into-a-contentpresenter

[2020-05-18 17:47] #10374 closed

[2020-05-18 17:56] rmarinho commented on #10444
@chamons seems this might be a Xamarin.Mac issue about resolving references. Can you help or move to your repo?

Thanks

[2020-05-18 18:15] jfversluis commented on #10739
@Sebastian1989101 if I understand correctly it works for you now? I know there is some kind of iOS archive cache somewhere buried deep. But normally that shouldn't be the issue. If heard once that someone resolved the caching issue by disabling incremental builds in their iOS project options.

[2020-05-18 18:20] Sebastian1989101 commented on #10739
@jfversluis Yes it works now. I don't know what it was but after the reinstall of Forms it was gone, so I guess it was some sort of cache going on. Should I close this issue? Because @pupauoga seems to have also a related issue.

[2020-05-18 18:26] jfversluis commented on #10739
@pupauoga if you still can't figure it out please find my email on my github profile page and reach out directly. Closing this one for now. We have a couple of issues about this going on and trying to keep things as centralized as possible :)

Thanks!

[2020-05-18 18:26] #10739 closed

[2020-05-18 18:31] chamons commented on #10444
This appears to be a duplicate of https://github.com/xamarin/xamarin-macios/issues/6412 or similar.

This work around may help:

[code]

If you think it's different issue, let me know and I'll move it over. But I'm 90% sure of ^.

[2020-05-18 18:37] jfversluis commented on #10722
In the plugin that you are using the color is set to `Color.Default` [here](https://github.com/AhmedAglan/EntryValidator/blob/master/EntryValidator/Behaviors/EntryValidatorBehavior.cs#L262). I guess this plugin needs to be updated to either account for the Dark Theme possibility or you need to get this code in your own codebase and do that yourself.

I see that you can set `ChangeTextColor` to fal

[2020-05-18 18:40] ibasin commented on #10669
FYI: I verified that this is not an issue on Android.

[2020-05-18 18:48] Shraddha996 opened #10760 "[Bug] Extra height added to top navigation"
I added a tabbed page  in my xamarin project but because of that my top navigation height got increased and I don't know from where I can change it
Also, I want to change the background color of that
Please help!!!

![WhatsApp Image 2020-05-19 at 12 14 39 AM](https://user-images.githubusercontent.com/39983941/82248732-3e59ae00-9966-11ea-85ad-e38722425b87.jpeg)

[2020-05-18 18:51] sereoja opened #10761 "[Bug] iOSCustomDialogService.<DisplayAlertAsync>b__2_0 (UIKit.UIAlertAction action)"
I got this crash report in AppCenter, but do not know how to determine the issue, could anyone help me understand what might be the problem?

Date/Time:       2020-05-17T21:21:12.999Z
Launch Time:     2020-05-17T20:53:42Z
OS Version:      iPhone OS 13.4.1 (17E262)
Report Version:  104

Exception Type:  SIGABRT
Exception Codes: #0 at 0x1bbddadf0
Crashed Thread:  0

Application Specific Information:

[2020-05-18 18:53] jfversluis commented on #10698
I don't know why NuGet explorer thinks otherwise but SourceLink is definitely enabled #6886

Unfortunately, at the time being it only works for Visual Studio for Mac since there is no support for the mono debugger on Windows. Even more unfortunately, that is out of our control. I have found this [feedback ticket](https://developercommunity.visualstudio.com/idea/649946/add-source-link-support-when-

[2020-05-18 18:53] #10698 closed

[2020-05-18 18:53] sereoja commented on #6622
any solution on this issue? just got similar crash in AppCenter

Android: 9
Android Build: P00610
Manufacturer: TINNO
Model: U304AA
Start Date: 2020-05-18T17:04:00.818Z
Date: 2020-05-18T17:04:47.65Z

Xamarin Exception Stack:
Java.Lang.Exception: API: AppDataSearch.LIGHTWEIGHT_API is not available on this device.
  at Xamarin.Forms.Platform.Android.AppLinks.AndroidAppLinks+AndroidActionFailureListe

[2020-05-18 19:55] FatmaGalal commented on #9071
@MiloszPawlowski  both solutions doesn't work for me :(

[2020-05-18 20:44] EmilAlipiev commented on #6622
I think, unfortunately, you will not get a solution here as you can see that it is pretty old issue. Better to remove deeplink in meantime if it is not so important for you. Thats what i have done :(

[2020-05-18 21:16] mpnow commented on #10159
@Sylv1F You should actually be OK with 4.4.x - I just tested every released build upwards from 4.3.x - every build up to and including 4.4.0.991864 worked fine. Starting with 4.5.0.356, this crash occurs. So it seems the bug was introduced in XF 4.5.

[2020-05-18 22:50] pictos commented on #1775
@samhouts this issue is open for community work?

[2020-05-18 22:57] davidbuckleyni commented on #10621
They where on that YouTube video so been with that team since 2019 lol

[2020-05-18 23:12] dotMorten commented on #1775
Do you want my implementation? If so I'm happy to port it over here. Lots of bugs and scenarios reported and fixes been been so it's pretty stable now. Personally I think the AutoSuggestBox implementation has some flexibility benefits that the other design doesn't have.

[2020-05-19 00:04] chadzhao commented on #6112
vNext+1 means 4.8.0? have it done in 4.8.0, please.

[2020-05-19 01:15] PureWeen commented on #10749
@devthepenguin your event signature can't return type Task

Change it to this and you should be good
[code]

[2020-05-19 01:15] #10749 closed

[2020-05-19 02:26] PureWeen commented on #10742
I agree with @VladislavAntonyuk

If you still can't get this to work I would post on StackOverflow

[2020-05-19 02:26] #10742 closed

[2020-05-19 02:28] PureWeen commented on #10733
should be fixed here
https://www.nuget.org/packages/Xamarin.Forms/4.6.0.800

[2020-05-19 02:28] #10733 closed

[2020-05-19 02:30] PureWeen commented on #10723
Duplicate https://github.com/xamarin/Xamarin.Forms/issues/8546

[2020-05-19 02:30] #10723 closed

[2020-05-19 02:40] PureWeen commented on #10760
@Shraddha996 can you attach a repro so we can see how you're defining your layout?

[2020-05-19 02:45] PureWeen commented on #10757
@james1301 I'd recommend posting this question to StackoverFlow

UISearchController is a native iOS components that's not something that Xamarin.Forms is influencing.

So I would just look into how you customize a UISearchController.SearchBar

[2020-05-19 02:45] #10757 closed

[2020-05-19 02:50] PureWeen commented on #10754
@sachinkanadia can you attach a repro?

I've ran a few tests and for me the icon is always colored

[2020-05-19 02:51] PureWeen commented on #10748
is this the behavior you'd expect?

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/shell/search

[2020-05-19 02:53] PureWeen commented on #10731
@alaskanrogue can you attach a repro?

[2020-05-19 03:02] PureWeen commented on #10666
@AlexAba can you attach a repro?

[2020-05-19 03:08] PureWeen commented on #10665
@fakhravari I ran your sample code and it loaded the images for me

Your error looks like there was an error with the certificate on those sites

To get around that error you have to ignore all certs
https://stackoverflow.com/questions/54715317/xamarin-android-issue-connecting-via-https-to-site-with-self-signed-certificate

which I wouldn't recommend doing but it seems like your certs are good now

[2020-05-19 03:08] #10665 closed

[2020-05-19 03:41] Shraddha996 commented on #10760
@PureWeen  thanks for your quick response but ,
right know am manage to remove the extra space from page but am not able to change the background color of the bar please suggest something....

[2020-05-19 05:08] devthepenguin commented on #10749
@PureWeen **the return type is alright and changing it to void doesn't work either.** Here is the screenshot for reference, I suggest you reopen this issue since it's concerned with Xamarin.Forms version 4.6.0772, rolling back to 3.1 works fine.
The reason return type is alright is because this sample is from a course by @jfversluis and I faced this issue only because of the latest version of form

[2020-05-19 05:55] devthepenguin opened #10764 "[Bug] Xamarin.Forms 4.6.0.772 fails to find EventHandler with correct signature for Tapped event."
Refer #10749 problem persists after making the change asked.
### Description
Inside Grid Layout TapGestureRecognizer when attached to an image, by **declaring an event handler in .xaml and defining the corresponding code-behind in .xaml.cs fails to link the two correctly**; build errors are encountered and subsequent tap action cannot be performed even after switching to the handler declaration pr

[2020-05-19 06:12] PureWeen commented on #10764
Both your events have the wrong return

I changed it to this and it compiles fine

[code]

[2020-05-19 06:12] #10764 closed

[2020-05-19 06:23] PureWeen commented on #10633
Shared projects aren't really fully supported in Visual Studio anymore

If you'd like these features back I'd log an issue here
https://developercommunity.visualstudio.com/

[2020-05-19 06:23] #10633 closed

[2020-05-19 06:25] PureWeen commented on #10623
@odapplications @AdamMarciniec

Can you attach a repro? Also make sure you're fully updating on VS

[2020-05-19 06:27] Magendanz commented on #10633
So we're just supposed to go convert all our old projects based on the Xamarin.Forms templates to class libraries now in order to maintain them?  That's a royal PITA!

[2020-05-19 06:30] PureWeen commented on #10728
Use a StateTrigger

https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.statetrigger

[2020-05-19 06:30] #10728 closed

[2020-05-19 06:38] PureWeen commented on #10415
@brxtr can you update to appcompat?

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/android/appcompat-material-design

[2020-05-19 06:40] PureWeen commented on #10415
Probably regressed by
https://github.com/xamarin/Xamarin.Forms/pull/10155

[2020-05-19 06:48] PureWeen commented on #10654
https://github.com/xamarin/Xamarin.Forms/wiki/How-to-Build-Xamarin.Forms-NuGet

[2020-05-19 06:48] #10654 closed

[2020-05-19 06:55] sachinkanadia commented on #10754
Yes sure I will get around to attaching a repro

[2020-05-19 07:02] Magendanz commented on #10633
You seriously need to update your online documentation to show that Shared Projects are now deprecated like PCLs.

https://docs.microsoft.com/en-us/xamarin/cross-platform/app-fundamentals/
https://docs.microsoft.com/en-us/xamarin/cross-platform/app-fundamentals/code-sharing
https://docs.microsoft.com/en-us/xamarin/cross-platform/app-fundamentals/shared-projects

[2020-05-19 07:18] PureWeen commented on #10274
@poliahrameshkumar can you post some screen shots of the objects you see leaking?

I think this static array is leaking
https://github.com/xamarin/Xamarin.Forms/blob/7a9b54dae9605169f0417c168af2cd81f931b2a9/Xamarin.Forms.Core/Layout.cs#L62

But I'd still like to see what you see so we can see if it's what we're all seeing

[2020-05-19 07:46] fakhravari commented on #10665
<Image Source="https://cdn.vatanbgs.com/Content/Images/Products/460_466/637089327869489423.jpg"></Image>

not working android 4 or 5

Test on this photo
Thank you for sending me an executive sample

[2020-05-19 07:48] sachinkanadia commented on #10754
Hi @PureWeen

The default Xamarin Shell solution was too large to attach. I've published a public repo with the issue replicated in it. When setup, just select an item from the list the next page will show an "X" on the toolbar which is not rendered correctly on both platforms. The X should be red, positioned and sized accordingly.

Repo Address: https://github.com/sachinkanadia/DemoToolbarIcon
Re

[2020-05-19 08:09] rmarinho commented on #10752
This is fixed on 4.6.0.800

[2020-05-19 08:33] devthepenguin commented on #10764
https://www.linkedin.com/learning/building-serverless-xamarin-apps-with-azure/connect-with-the-azure-function
@PureWeen Thanks for the help, it works perfectly fine now! added a reference in the course section for this. Great help.

[2020-05-19 08:40] jfversluis commented on #10764
Glad it worked and thanks for watching the course @devthepenguin! :)

[2020-05-19 08:45] JTOne123 commented on #6622
@sereoja  Can you reproduce it on your local devices?

[2020-05-19 08:50] HobDev commented on #10309
@PureWeen  Exactly, I want to load LoginPage modally and it is specified in AppShell.

 Additionally I am curious to know the difference between ModalPage and ContentPage with hidden NavBar. It seems to me that ModalPage is also hiding the NavBar. I didn't notice any other difference.

[2020-05-19 09:05] poliahrameshkumar commented on #10274
@PureWeen Sorry to say, my Xamarin.Profiler got expired after one month. So, now I can't check. If someone with access to profiler checks this, it would be helpful.

[2020-05-19 09:11] nirbil opened #10766 "UWP entry wrong initial text"
In UWP an entry with an initial Text value is not properly displayed if its in a none-active page.
Only after the entry is focused the correct value is suddenly displayed.

Steps to Reproduce:
1. Create a tabbed page app with two pages
2. Add an entry with some text to each of the pages

Expected Behavior:
When you navigate to each of the tabs the entry will show the correct text value

Actual Beh

[2020-05-19 09:14] brxtr commented on #10415
@PureWeen Indeed, that fixed it for me. I don't know about the original ticket poster though.

[2020-05-19 09:39] RyanGaudion commented on #10307
Any update as to when this will be resolved?

[2020-05-19 09:59] jenscski commented on #10665
Your devices is missing the necessary root certificates to validate the sites certificates.
If your device is running an version of Android that is not updated with new root certificates, you may experience this.

Either change your certificate provider on your site to a provider using older root certificates, that is supported on your devices. Or manually add the new root certificates on the devi

[2020-05-19 10:28] nirbil opened #10767 "Android CollectionView wrong item BindingContext"
In Android, when using a CollectionView, the BindingContext inside the DataTemplate is not bindable.

Steps to Reproduce:
1. Create a CollectionView with some items
2. Within the ItemTemplate set some binding to the BindingContext `{Binding .}` and pass it to a converter
3. Return the same value from the converter

Expected Behavior:
The actual models within the CollectionView are passed to the Co

[2020-05-19 11:17] rmarinho commented on #10472
Hi @muhaym can you tell me why you will expect the events  to fire before the item is snapped?

[2020-05-19 11:32] rmarinho commented on #10525
hi @czuck thanks for your report. The WebView is not a full featured "browser app" it  was designed to show web pages and navigating between pages. What you are requesting is basic multiple window management. I think we consider this a enhancement  to our current control.

Thanks

[2020-05-19 11:42] rmarinho commented on #10656
Duplicated of #9200

[2020-05-19 11:42] #10656 closed

[2020-05-19 11:42] muhaym commented on #10472
@rmarinho  I'm not expecting the events or changes before snapping. I'm expecting it after completing the snapping.

To be precise, the current scenario is, if you have a full page carousel, and IsSwipeEnabled = true, you swipe the element till **the middle** (where you can see both items now), CurrentItem, PositionChangedCommand, CurrentItemChangedCommand, and corresponding events are fired.

But

[2020-05-19 11:47] rmarinho commented on #10472
CarouselView is based on always centering the item, and item on the Center is the CurrentItem, so when you want to do animations for example when it comes into view.

I think what we could do it's maybe an API to aloow to only update when snap happens.

[2020-05-19 11:56] muhaym commented on #10472
Yeah, try this repro https://github.com/muhaym/ReproVSMCarousel

To explain the use cases, think of App like Tiktok, where Video is swiped continously to consume next item. But the current video is played till it's out of the view completely, and next item is starts to play. With current Carousel View such use-case cannot be achieved. (Or I'm not aware of any work arounds to get similar effect).

[2020-05-19 12:09] tranb3r commented on #8383
@jfversluis Do you have any idea when this is going to be fixed ? Thanks

[2020-05-19 12:13] maexsp commented on #6052
Same interest here. Please put it onto the Roadmap.

[2020-05-19 12:55] Sylv1F commented on #10159
@mpnow Thanks ! I upgrade framework after framework.
At this time last XF 4.4.0.991864 is Ok, and XF 4.5.0.356 work but the crash is random, so i continue upgrade slowly...

[2020-05-19 13:11] Nii-co opened #10769 "[Bug] OnDisappearing not called when swipe in TabbedPage"
### Description
In Android, an app with TabbedPage, when on page A, swipe to Page B, OnDisappearing() of page A not called, causing OnAppearing() of Page A not called when click system back button and return to Page A. Please see steps to Reproduce in detail.

### Steps to Reproduce

1. Start Demo project
2. Switching between Browse page and About page by clicking tab, each swich has previous page

[2020-05-19 13:33] scotch83 opened #10771 "[Bug] Binding to explicit implementation in xaml does not work"
### Description

If I bind to a property of an object that is implementing an interface explicitly, the binding does not work and nothing

### Steps to Reproduce

1a. Create an interface with a property to bind (e.g. `IValueProvider`)
1b. Create an explicit implementation of this interface (e.g. `ValueProvider: IValueProvider`)
2. Create a ViewModel with a property of the interface type
(e.g. ` pu

[2020-05-19 13:40] rmarinho commented on #10634
Hi @frogcrush , forms applications can be written for the following operating systems: iOS 9 or higher. Android 4.4 (API 19) or higher (more details). However, Android 5.0 (API 21) is recommended as the minimum API.

thanks

[2020-05-19 13:40] #10634 closed

[2020-05-19 13:58] jsuarezruiz opened #10773 "[Spec] TabView"
# TabView

We can have tabs using Shell. However, what happens if we want to have nested tabs within a specific section (Example: Grid)?, _what if we want to fully customize each tab?_. In these cases, we would need a Custom Renderer so far...

The **TabView** is a way to display a set of tabs and their respective content. TabView is useful for displaying several content while giving a user the ca

[2020-05-19 13:59] jsuarezruiz opened #10774 "[Spec] AppBar"
# AppBar

An app bar consists of a toolbar and potentially other views. Expose one or more actions.

The main benefit of using the appbar is being able to customize everything. Customization options like:
* Custom app bar height.
* Include any content without restrictions or limitations (margins, size, etc.).
* Transparent appbar.
* Etc.

**NOTE:** AppBar is a **cross-platform view** that takes ov

[2020-05-19 14:11] chrisstaley opened #10775 "[Bug] CarouselView on Android does not always fire CurrentItemChanged or PositionChanged when scrolling"
### Description
`CarouselView` will not always fire the `CurrentItemChanged` or `PositionChanged` events when scrolling in certain situations on Android. iOS works as expected. See the attached repro project.

There appears to be a threshold point at which `PeekAreaInsets` can be set beyond which the aforementioned events will not fire. I'm assuming the threshold may have to do with some combinati

[2020-05-19 14:24] xamarindevelopervietnam commented on #10774
i love Transparent appbar

[2020-05-19 14:27] xamarindevelopervietnam commented on #10773
wow!

[2020-05-19 14:41] alaneich commented on #10170
I tested my application with v4.6.0-sr1 and found the following issues:
On Android, setting the position does not always change the item displayed after the CarouselView first appears.  This only occurs when the initial position is zero when set in the constructor.  It always occurs when the position is set in onAppearing.  Swiping will get it back working.  This sounds like the issue @smalgin des

[2020-05-19 14:46] JJwilkin commented on #9823
Hi,

I am also facing issues and have tried the suggested fixes mentioned above. I tried Link Sdk and Link All with these tags `--optimize=experimental-xforms-product-type --optimize=+force-rejected-types-removal --warn-on-type-ref=UIKit.UIWebView -warnaserror:1503` on all my builds (debug/release). I have also updated all my packages, these are the NuGet Packages I use:
![Screen Shot 2020-05-19 a

[2020-05-19 15:00] rmarinho commented on #9855
Why do you need a ListView inside a ScrolLView? Any particular scenario ? The Listview already scrolls itself.

[2020-05-19 15:01] rmarinho commented on #10611
We didn't implemented yet on macOS , but we will.

Thanks

[2020-05-19 15:09] rmarinho commented on #10616
Hi @LeonardoPatti can you please share a small reproduction of the issue?

Thanks

[2020-05-19 15:39] smamber commented on #10611
Thank you for your reply. Greatly appreciated. You might change the current
MediaElement documentation which claims to support macOS.

On Tue, May 19, 2020 at 8:02 AM Rui Marinho <notifications@github.com>
wrote:

[2020-05-19 15:57] GiampaoloGabba commented on #10774
Do you plan this only for shell? It will be available for the standard navigation page?

[2020-05-19 16:15] kcrg commented on #10774
It's only spec, but... FINALLY something about transparent action bar.
I've been waiting for this all my life.

Can I use it for hiding action bar while scrolling list?
![actionbar](https://user-images.githubusercontent.com/7996711/82351276-ace94b00-99fc-11ea-8e3e-c047d864491d.gif)

[2020-05-19 16:16] james1301 commented on #10748
@PureWeen I have a tabbed application and only one of those tabs wants this search behaviour at present. This seems like it is only if you want the search to appear on all of those screens? Is that correct? Also as my application was prior to the Shell coming out, so I do not have this shell implementation.

It seems a little strange to add it at the shell level for my application as I have 3 tabs

[2020-05-19 16:17] czuck commented on #10525
As a work around, I first tried injecting javascript into the webview to do a back when the close button is clicked.  This worked, however the initial webpages were managed with ajax but window.open isn't so I lost my backstack.
My next attempt was to make a JQuery Mobile popup with an iframe and put the page in there instead of using window.open.  That appears to give me the functionality I need

[2020-05-19 16:27] Rikudouensof commented on #10707
Ok, let me see to this. @jonathanpeppers.

[2020-05-19 16:37] sereoja commented on #6622
Unfortunately no, The report came from a user via AppCenter.

[2020-05-19 16:48] LumiProj commented on #9823
Hi,

Finally I am in good shape.
using --optimize=experimental-xforms-product-type
with LinkSdkAssemblies.

[2020-05-19 17:03] rmarinho commented on #10562
I @CrazyPhilip i try to reproduce but wasn't able, can you please share a small reproduction?!
Does this happen only on Android 9 ?

[2020-05-19 17:10] PureWeen opened #10777 "[Bug] Improve error message when XmlnsDefinition is wrong"
### Description

Currently all you get is this
[code]

### Steps to Reproduce

Grab the maui repo at this commit
https://github.com/dotnet/maui/commit/95bef27c437fb84df251188e1cb53e7876f7750a

And try to build the Xaml.UnitTests

[2020-05-19 17:32] ZairiAimenDz commented on #10773
Beatiful Stuff

[2020-05-19 17:55] PureWeen opened #10778 "[Spec] DragGestureRecognizer DropGestureRecognizer"
# DragGestureRecognizer
- Allow users to activate a view for dragging

# DropGestureRecognizer
- Allow users to react to a view being dragged over it and then react

# API

## VisualStates associated with target drop

[code]

## DropGestureRecognizer

[code]

### Properties

| API | Description |
| ------------- | ------------- |
| AllowDrop  | This sets up a view to be receiver of a view that's b

[2020-05-19 19:05] PureWeen commented on #10274
@poliahrameshkumar were you testing with a brand new app? or your own app?

Do you have a repro of the app you were testing with we can check?

[2020-05-19 19:07] OABsoftware opened #10779 "Custom control, properties, styles and constructors"
### Description
I wrote a custom control that inherits from Frame and has a label as one of its children.
And I added a FontAttributes property to this control, like this:

        public static readonly BindableProperty FontAttributesProperty = BindableProperty.Create(nameof(FontAttributes), typeof(FontAttributes), typeof(MyControl), null, propertyChanged: OnFontAttributesChanged);

        stati

[2020-05-19 19:22] EmilAlipiev commented on #6622
well, as i wrote above, it is only reproducible with the custom Android Rom. I have an old Sony Xperia and installed that CarbonRom (any other customRom works also), i can reproduce it but not with official Roms.

[2020-05-19 19:55] Rikudouensof commented on #10707
@jonathanpeppers it is working properly now, thanks.

[2020-05-19 21:43] MuleaneEve commented on #10773
Good job!

Regarding the name "TabView", I am concerned that it will create some confusion with [the one in UWP](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tab-view), especially when the day comes where that control is mapped to Xamarin.Forms/MAUI.

And I do hope that day comes since it would be a nice control to have for UWP, iPad and Android Tablet. It would be eve

[2020-05-20 01:53] smalgin commented on #10170
@alaneich, you are absolutely correct. This is the issue.

[2020-05-20 03:24] gxrsprite commented on #9178
Is it will have Viewbox Control which can scale child shapes  like wpf？

[2020-05-20 03:34] d617617 commented on #1668
i think it is not possible,you can look the new paltform which name maui.

[2020-05-20 04:45] poliahrameshkumar commented on #10274
@PureWeen My own app. But in every app It will be reproducible.

[2020-05-20 05:07] PureWeen commented on #10274
It's going to possibly vary app to app and in some apps it's the users fault

We can look into what I found but there's a chance it's not what you found.

[2020-05-20 05:54] jaigupta91 opened #10783 "Bottom Navigation Tab Bar With 5 Tab Items Issue"
### Description
Created a tabbed page with 5 tab items. When we switch from between 1-4 tab items it works fine. When we click on 5 tab item and then click on any of tab from 1-4 it reload the view everytime. It calls OnSizeAllocated() method everytime. It happens in android.

### Steps to Reproduce

1. Run the uploaded project.

### Expected Behavior
It should not refresh/reload the view.

### Ac

[2020-05-20 06:09] MagicAndre1981 opened #10784 "[Question] How long will Xamarin.Forms be supported after .NET Multi-platform App UI GA"
I have a question. Yesterday Microsoft announced [.NET Multi-platform App UI ](https://github.com/dotnet/maui) which is based on Xamarin.Forms. How long will Xamarin.Forms be supported after GA of the new UI lib?

[2020-05-20 06:26] jsuarezruiz commented on #10784
Hi @MagicAndre1981. The next major version of Xamarin.Forms will around September 2020 and continue to be updated through the release of MAUI with .NET 6 (November 2021). After that, Xamarin.Forms will continue to receive priority servicing for 12 months.

[2020-05-20 06:54] CrazyPhilip commented on #10562
I test it on Android 9 and 10, and it happens on many devices. This is the repo: [https://github.com/CrazyPhilip/WebviewTest](url).

[2020-05-20 07:16] JTOne123 commented on #6622
@EmilAlipiev I know it

Maybe can you fix it in Xamarin.Forms?

Did you try download XF repo and run it on your sony device?

[2020-05-20 07:19] nbsoftware opened #10785 "[Bug] [Android] missing implementation of GetNamedColor(string) in class Xamarin.Forms.Forms/AndroidPlatformServices"
This is generating a crash at Android app's startup:

`VTable setup of type Xamarin.Forms.Forms+AndroidPlatformServices failed Exception`

Please see https://github.com/luberda-molinet/FFImageLoading/issues/1454 where I originally reported the issue.

Seems to have been introduced in XF 4.6 by https://github.com/xamarin/Xamarin.Forms/pull/10008

[2020-05-20 07:34] rudyspano opened #10786 "[Bug] CollectionView Cells Content Shift Issue on iOS"
### Description
CollectionView cells are shifted by 1 pixel on left and on top on iOS.
-Same behavior on Header and Footer.
-Same behavior with GridItemsLayout

Analysis:
The Root Container of cells (of DataTemplate) adds by default Bounds of (-1, -1, width, height) on native views.

It can be seen using XCode UI debug tool.

### Steps to Reproduce

1. Add a CollectionView with Cells, Header, Foot

[2020-05-20 07:35] pfafft33 opened #10787 "Please add OpenGLView "Snapshot" method"
## Summary
I would like the OpenGLView object to have a method added that captures an image of what is displayed inside of it at that moment in time, and saves it to an appropriate file format (e.g. jpg).

## API Changes
Something like this would be nice:
OpenGLView myOGLV;
myOGLV.Snapshot("path_and_file_name_string");

public void Snapshot(string pathAndFileName)
{
     . . . code to produce the

[2020-05-20 07:59] nbsoftware commented on #10785
And I can confirm that downgrading back to XF 4.5.0.725 makes the application working again

[2020-05-20 08:12] jsuarezruiz commented on #10774
@GiampaoloGabba We have to review and complete more tests, but it could also work outside of Shell.
@kcrg Thanks for the feedback. We will review that possibility.

[2020-05-20 09:05] Shraddha996 opened #10788 "[Bug] xamarin with SQLite and JSON"
Is it possible in xamarin to receive data from JSON and store it in the local SQLite database?
Please help!

[2020-05-20 09:46] gmwilhelm commented on #10788
Yes, it is.

But this is a question that is better handled in the forums at https://forums.xamarin.com/ and not here.

[2020-05-20 10:42] cbs-cbt commented on #9176
Thank you @jcmanke for pointing me to the right direction.

In my Map Android's CustomRenderer, I manually added the Markers, using `NativeMap.AddMarker(MarkerOptions)`

When Markers are created in that way, the marker fires no event when clicked.
Even `NativeMap.MarkerClick` won't work. This is perhaps because the event is already consumed by Xamarin.Forms.Maps object

[2020-05-20 10:42] #9176 closed

[2020-05-20 10:48] nor0x opened #10789 "[Bug][EntryRenderer] VerticalTextAlignment.Center of Entry on macOS is not working as expected"
### Description
Setting the `VerticalTextAlignment` property of an `Entry` has no effect on `macOS` - so vertically centering the text and placeholder of an Entry is not possible.
### Steps to Reproduce
check out the repro
[https://github.com/nor0x/repro-XF-10789](https://github.com/nor0x/repro-XF-10789)

OR

1. Create Xamarin.Forms MacOS Project
2. Add Entry
3. Set HeightRequest of Entry (even wi

[2020-05-20 11:35] MagicAndre1981 commented on #10784
what does this mean? Only bugfixes (to allow easier migration to MAUI)?

[2020-05-20 11:52] davidbritch opened #10790 "[Bug][iOS] No response to system mode changes when resources are in app resource dictionary"
### Description

When the resources in my app are in the app-level resource dictionary, the app doesn't respond to the system theme changing (light > dark mode). However, when I move those resources to the page-level resource dictionary, the app does respond to the system theme changing.

### Steps to Reproduce

1. Run the attached sample.
2. Toggle the system mode in the simulator (Features menu

[2020-05-20 11:55] andreinitescu commented on #10774
Shell only forces the design to use Shell. There are a lot of existing apps which do not use Shell.

[2020-05-20 12:15] jfversluis commented on #9823
Awesome @LumiProj !

@JJwilkin I have an email from you I see. We'll figure it out there!

[2020-05-20 13:09] vhugogarcia commented on #10773
Awesome control. However, I think this can be updated a little to cover a design like this:
![Image of SegmentedControl](https://i.pinimg.com/originals/b9/75/81/b9758188a0576ead483c5789a7b220ad.gif)

## Properties

### TabView Properties (Additional)

| Property | Type | Description
|--|--|
| CornerRadius | float | Allows to set the radius of a the corners from the tab view |
| HeightRequest | dou

[2020-05-20 13:22] sthewissen commented on #3561
We have this too on occassion. Stacktrace comes from our AppCenter instance.

- OS: Android 8.1.0
- Device: TC57
- Xamarin.Forms: 4.6.0.726
[code]

[2020-05-20 13:27] MitchBomcanhao commented on #10790
Have not tried this yet, but would a better workaround be moving those color styles to a separate resource dictionary that you merge into each page instead of (potentially) having to copy them to each page?

[2020-05-20 13:39] almirvuk commented on #10773
This looks great!

[2020-05-20 13:52] weases opened #10792 "[Bug] IMenuItem.Order is always zero on tab selection"
### Description
The menu item that is passed when overriding OnNavigationItemSelected in TabbedPageRenderer for Android, always has a value of zero for the Order property.

### Expected Behavior
IMenuItem.Order should contain the (zero based) index of the current selected tab item.

### Basic Information
- Version with issue: >= 4.4.0.991265
- Last known good version: 4.3.0.991250
- IDE: Microsoft

[2020-05-20 14:25] legistek commented on #2452
Is this still alive and/or will it be rolled into MAUI?

[2020-05-20 15:01] kgbuddhima opened #10794 "[Bug] Unable to deploy the iOS app with Web View"
### Description
When I was trying to upload the ipa to AppStoreConnect, its failing the submission by giving this error.

![image](https://user-images.githubusercontent.com/14989528/82461510-2609a080-9ad8-11ea-9b9d-5fcce30e9582.png)

### Steps to Reproduce

1. Set Flag and linking behaviour
![image](https://user-images.githubusercontent.com/14989528/82461610-420d4200-9ad8-11ea-8ede-93765f3ae63b.pn

[2020-05-20 15:23] sehuff opened #10796 "[Bug] WebView Does not fire Navigating or Open file in Cache"
### Description
The WebView control in Xamarin.Forms 4.6.0.800 does not open files or even fire the Navigating event for links to files in the local cache on iOS. I don't know when this broke but if you revert back to version 4.3.0.991250 of Xamarin.Forms and clean the project and do a rebuild - it works.

### Steps to Reproduce

I've attached a sample project showing the problem

1. Run sample pr

[2020-05-20 15:28] rmarinho commented on #10547
This is because of the ListStyle default style irc i fixed this for CarouselView

[2020-05-20 15:32] jsuarezruiz commented on #10794
@kgbuddhima Could you take a look to this blog post: https://devblogs.microsoft.com/xamarin/uiwebview-deprecation-xamarin-forms/

![75816341-507b7580-5d95-11ea-84e0-badd6d376cdd-1536x1126](https://user-images.githubusercontent.com/6755973/82465473-9d7f0600-9abf-11ea-96b5-bc3d4b7ba92b.png)

[2020-05-20 15:47] jsuarezruiz commented on #10773
@vhugogarcia Thanks for your feedback, very interesting!.

With the Spec definition, you could already manage the size of the TabView, even the content or the TabStrip height. About have CornerRadius, mnnn, I suppose it would be interesting if we have the option in the TabStrip, right?. Something like `TabStripCornerRadius`.

In the case of the TabViewItem, you can use a template to customize the

[2020-05-20 16:01] kgbuddhima commented on #10794
Yes it as the one that I followed.

[2020-05-20 16:24] jcmanke commented on #10779
The values from the style are applied during the base class constructor. By explicitly setting the property in your constructor, you're overriding the style value. Instead, you should set the default value in `BindableProperty.Create()`

[2020-05-20 16:30] nor0x commented on #10101
+1

[2020-05-20 16:52] vsfeedback opened #10799 "Forms app crashes giving sigsev"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1027197/forms-app-crashes-giving-sigsev.html)._

---
I have a forms app. When I click on the menu icon, the app crashes. The list is generated in the VM which tells the UI that the list has been updated and to set the ItemsSource to the List. If the list is empty, the view

[2020-05-20 16:53] vsfeedback opened #10800 "Xamarin Forms - Image Control not loading remote images in iOS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1022635/xamarin-forms-image-control-not-loading-remote-ima.html)._

---
<p>[regression] [worked-in:16.4]<br>
In today’s WTF has randomly been broken;</p><p>Image controls won’t load images from a URL source in iOS:</p><pre>&lt;Image x:Name=&quot;MyImage&quot; Source=“https:

[2020-05-20 17:00] vsfeedback opened #10801 "System.ObjectDisposedException: Cannot access a disposed object 'Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer'"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1035354/systemobjectdisposedexception-cannot-access-a-disp-1.html)._

---
After upgrading to the Xamarin Forms 4.6.0726, starting getting frequent intermittent crash on Android. Upon investigation, found that this is coming from Xamarin's LabelRenderer

05-17 07:27:06.656 E

[2020-05-20 17:02] vsfeedback opened #10802 "MSBuild:UpdateDesignTimeXaml code generator crashed"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1023105/msbuildupdatedesigntimexaml-code-generator-crashed.html)._

---
Solution was reloading and getting “MSBuild:UpdateDesignTimeXaml code generator crashed” logs in the Tool output window.
End result, solution not loaded, needed to close and reopen VS for Mac

---
### O

[2020-05-20 17:02] OABsoftware commented on #10779
Thanks for your response.
In the meantime I indeed changed my custom properties and now set the default value in the BindableProperty.Create().

But what to do with e.g. the Background property (which I don't add myself but is defined by the base class) which I would also like to give a default value (other than the default default one) at the moment of the construction of the control?

And why do

[2020-05-20 17:15] trevelyanuk commented on #10224
Throwing it in there that I'm having this issue too, I suspect it is also after an update, since I used to be able to use it without issue.

The issue persists even on a fresh install of Windows, VS2019 and new project, so I can only assume that something broke in an update somewhere..

[2020-05-20 17:21] GiampaoloGabba commented on #10774
YTupp and dont forget that still a lot of new apps do not use Shell (basically everyone using a MVVM Framework like Prism)

[2020-05-20 18:20] Chansardrake commented on #10131
@samhouts , can you please provide timeline for this

[2020-05-20 18:39] jcmanke commented on #10779
Setting the style just goes through and calls SetValue() for all of the properties listed in the Style's Setters. Calling SetValue() again later overrides that. If you set both the Style and FontAttributes in the XAML would you be surprised by the FontAttributes not matching the Style? The trick is just knowing that the style is applied first and then everything else overrides the values set by th

[2020-05-20 19:12] OABsoftware commented on #10779
But how can the style be applied before the constructor has even finished?

If I remove the added line in the constructor and set a breakpoint in the OnFontAttributesChanged handler, I can see that the style gets applied _after_ the constructor has completed.
What I don't get is why that flow is different when I call SetValue at the beginning of the constructor.

[2020-05-20 19:33] legistek commented on #6452
Hi @StephaneDelcroix wondering if you ever wound up fixing this like you mentioned.

I gave up on this once it was clear that even if it were fixed it would break Intellisense, But with MAUI I thought it might be worth revisiting since everything appears to be on the table.

[2020-05-20 19:34] chabiss opened #10803 "[Bug] XAML Hot Reload, No Source Info for element declared in Data Template"
[XamarinTest - Copy.zip](https://github.com/xamarin/Xamarin.Forms/files/4658904/XamarinTest.-.Copy.zip)

### Description

### Steps to Reproduce

1.  Open the attached project which contains a simple ListView with a DataTemplate
2. Run
3. Observe the debug output where the app added a trace to the VisualTreeChangedEventArgs

### Expected Behavior
The Data Template should have full source info for

[2020-05-20 19:44] #10672 closed

[2020-05-20 19:44] #10110 closed

[2020-05-20 19:44] #10673 closed

[2020-05-20 19:48] PureWeen opened #10804 "[WiP] .NET MAUI Shell Improvements"
#### Mission statements

### More explicit declaration of different areas of an app

The current Shell model is more Storyboard focused. So the user specifies everything that could make up an app into Shell.

The following Xaml will render a single tabbar without a Flyout Menu
[code]

Will there be two TabBars? Will there be a FlyoutItem and a TabBar?

The next version of Shell will shift to havin

[2020-05-20 21:35] nschoenberg commented on #3887
I've got here by searching on google for ' Xamarin.Forms.Platform.UWP.ListViewRenderer.OnElementItemSelected'

So I have a very similar StackTrace in my App using XF 4.4. Can add more Details if required

[2020-05-21 00:22] liweipro commented on #10694
hi @PureWeen , I have tested the 4.6 service release 2 on iOS, the issue has been fixed, thank you.

There is a minor issue.

When the app starts, it shows a page with flyout menu disabled. The swipe gesture is disabled properly on iOS now. After the app later enters a page with flyout menu enabled. The swipe gesture is somehow not enabled until I either,
1. click the breadcrumb icon to bring out

[2020-05-21 03:29] nitro911 opened #10805 "[Bug] Could not create ipa file for distribution of the archive"
### Description
Since upgrading to the latest release of Visual Studio (16.6.0), and Xamarin.iOS 13.18.1.31, my IPAs will not generate to distribute.

### Steps to Reproduce

1. Archive app
2. Click Distribute, Upload to Store
3. Wait a bit and error occurs

### Expected Behavior
IPA is upload to store

### Actual Behavior
Error occurs:

Could not create ipa file for distribution of the archive '<

[2020-05-21 05:28] FreakyAli commented on #3855
The issue still exists roughly 2 years later!!!!

[2020-05-21 06:02] RabhiaBehamK commented on #10591
Is there any update?

[2020-05-21 06:08] RabhiaBehamK commented on #10591
Can you please check this with a high priority?

[2020-05-21 07:04] GZidar opened #10806 "[Bug] android logs being spammed with type mapping message"
### Description
I am seeing huge number (thousands) of log entries with the below text appearing in the output window:

W/monodroid-assembly typemap: unable to find mapping to a Java type from managed type 'System.Int32, mscorlib'

I don't recall seeing this before.

### Basic Information

- Version with issue: 4.6.0.800 (but also happened in 4.6.0.726)
- Android Support Library Version: AndroidX

[2020-05-21 07:38] roubachof commented on #7839
@krdmllr In fact you can add a drop shadow in uwp but you've got to sure that you are not clipping the view. Setting borders or corner radius will implicitly clip the view and the shadow will be trap. To workaround this I had to use a grid with one child as the content (whom can be clipped), and another as the shadow: https://github.com/roubachof/Sharpnado.MaterialFrame/blob/master/MaterialFrame/M

[2020-05-21 08:42] chaoyebugao commented on #9125
met the same problem.

[2020-05-21 09:09] chaoyebugao commented on #9125
I solved this by add external `StackLayout` as parent in `DataTemplate` then set it's Child background.

[2020-05-21 09:45] #10694 closed

[2020-05-21 10:28] jsuarezruiz commented on #10708
Attached a reproduction sample:
[Issue10708.zip](https://github.com/xamarin/Xamarin.Forms/files/4661910/Issue10708.zip)

[2020-05-21 10:46] rmarinho commented on #10513
hey @AndreiMisiukevich i think this might a enhancement no?
Would be possible to size the items, and then expand them? or maybe fade them in ?

[2020-05-21 10:58] zijianhuang opened #10809 "[Bug] Android with shared Android resource lib crash with target API level 29 or 30"
### Description
To have multiple Android applications sharing the same resources mostly images, there's an Android class library containing the resources and assets, referenced by each Android app project. This has been working well with Xamarin.Forms 4.1-4.5. However, with Xamarin.Forms 4.6, the Android app crashes during startup.

### Steps to Reproduce
Repository at https://github.com/zijianhua

[2020-05-21 11:06] AndreiMisiukevich commented on #10513
hey @rmarinho

Yes, definitely it might be.
Need to try some approaches.

Fading in would be the easiest way, I believe, but not sure that it will look good (If I understood your idea correctly) :)

[2020-05-21 11:12] kgbuddhima commented on #10794
I was able to solve it by modifying the AzureDevOps pipeline

I made following changes
changed Agent to **macOS-10.15**
Set **Xcode version to 11.4.1**
Set **mono version to 6.8.0**

[2020-05-21 11:12] #10794 closed

[2020-05-21 11:21] Reveon commented on #10513
I think that the content should just stay in the same position and keep its size because current behavior can lead to some really weird effects. Especially if there are more images with different aspect settings. I think that on iOS this was mostly fine.

[2020-05-21 12:14] ggbarcelos commented on #10805
I have similar problem
![Anotação 2020-05-21 091335](https://user-images.githubusercontent.com/17346615/82558140-68b49280-9b43-11ea-8bb3-80bf732abfb0.png)

[2020-05-21 12:16] tomeverin opened #10810 "[Enhancement] Nested ShellContent elements to improve route navigation"
## Summary
Regarding `TabBar` navigation: if there are multiple `ShellContent` Items within a `Tab`, this automatically results in a top `TabBar` so the user can navigate between them. This represents `ShellContent` items in _parallel_. I'd like to be able to have `ShellContent` items in series within a single `Tab`.

That's the idea up for discussion - the rest of this post is one possible way it

[2020-05-21 12:16] tomeverin commented on #10810
Some of the route strings there might be wrong, but you get the idea I hope.

[2020-05-21 13:14] devthepenguin commented on #10801
Related #8262

Workaround-https://github.com/xamarin/Xamarin.Forms/issues/8262#issuecomment-550022425

Building a custom renderer for a ListView or its cells is one approach to reducing the effect of layout calculations on scrolling performance.
ListView best practices-https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/listview/performance

[2020-05-21 13:17] rmarinho commented on #10559
Hi, about the Overlay, you should open a new issue.  Also i only seem to get the `CollapseStyle` working when i set `MasterBehavior="Popover"`.

Can you please provide a simple sample showing your code , maybe it's better.

Thanks

[2020-05-21 13:19] rmarinho commented on #10513
Yeah i think we need to think a little bit on this, and see other examples maybe.

But for sure we would need some kind of `ExpandMode`

[2020-05-21 13:39] varyamereon commented on #10395
This is definitely an issue on older versions of Android too where there is no general settings option to set Dark mode therefore using the default implementation limits the app to Light mode. @davidortinau's suggestion would make it possible for Android users to choose between themes too.

[2020-05-21 14:05] rmarinho commented on #10596
Hi, why don't you do the this on the forms side with VisualStates? For example adding a tab to a border with a label inside?

Why the need of a custom renderer ?

[2020-05-21 14:09] rmarinho commented on #10598
Hi, does this work without the Custom WebView ?

Do you mind provide a small reproduction example?!

is this a issue on Android and iOS? or just Android ?

Thanks

[2020-05-21 14:12] rmarinho commented on #10458
I m not sure this is related with Xamarin.Forms.  @vargaz any info on this?

[2020-05-21 14:13] HobDev opened #10811 "[Bug] BackButtonBehavior Command does not invoke on iOS."
### Description
The BackButtonBehaviour Command does not invoke on iOS. It works fine on Android. In the sample app go to SecondPage. Than navigate between SecondPage and ThirdPage several times by clicking the button on the contentpage(not BackButton). Finally from SecondPage click BackButton. The BackButton command should be invoked and FirstPage should be presented. Instead the BackButton Comma

[2020-05-21 14:16] mhrastegary77 commented on #10559
Sure

[WindowsMastreDetail.zip](https://github.com/xamarin/Xamarin.Forms/files/4662862/WindowsMastreDetail.zip)

[2020-05-21 14:17] JohnTraDolta commented on #10596
I don't actually have a clue, seams a lot easier. I'm having a hard time to figure out when to use custom renderers and when not - but anyways thanks will try to refractor it.

[2020-05-21 15:20] YZahringer commented on #9851
Related to https://github.com/xamarin/Xamarin.Forms/issues/10547?

[2020-05-21 15:22] samhouts commented on #2452
@legistek https://github.com/xamarin/Xamarin.Forms/wiki/Feature-Roadmap lists Shapes, Paths, and Brushes as on the roadmap for Xamarin.Forms 4.7.0.

[2020-05-21 15:31] YZahringer commented on #7843
Related to https://github.com/xamarin/Xamarin.Forms/issues/10547?

[2020-05-21 15:38] legistek commented on #2452
Wonderful news! Thanks!

[2020-05-21 15:39] devthepenguin commented on #10788
Follow this tutorial-
https://docs.microsoft.com/en-us/learn/modules/store-local-data-with-sqlite/

[2020-05-21 16:01] devthepenguin commented on #10801
Try to implement **INotifyPropertyChanged** (System.ComponentModel) for the class which contains the ListView.
Set the handler for `public event PropertyChangedEventHandler PropertyChanged` as follows for the set accessor of the property modified-
[code]

[2020-05-21 16:15] davidbritch commented on #10750
I'll add my voice to this, after discovering that `StringFormat` is unsupported. The [PR](https://github.com/xamarin/Xamarin.Forms/pull/8684) suggests that it matches the WPF spec, but it doesn't until `StringFormat` is added.

[2020-05-21 16:19] pictos commented on #10804
@PureWeen I want to add some items, that I think should be good to take care of.

### Deeper Flyout Customization
* It would be good if we have more control of Flyout as we can see on the #1841. I don't if we have a spec for that, if don't I can try to make one.

### Navigation
* Would be great if we can handle `Navigated` and `Navigating` in an async way. Maybe we can use a `Func<Targs, Task>` or

[2020-05-21 16:33] charlesroddie commented on #1778
We are happy with Rg.Plugins.Popup, especially now that it supports UWP/Android/iOS/Mac.

I think this issue needs to define a significant improvement over Rg.Plugins.Popup, or else it's needless duplication of effort.

[2020-05-21 17:23] raymond-dillon opened #10813 "Xamarin Forms Content Page Toolbar Icon will not change iOS"
### When changing the Toolbar IconImageSource on a Xamarin Forms Project - the iOS icon doesn't change

### Steps to Reproduce

1. Run the Solution on Android - Click the button at the bottom of the page
2. Icon will change from black to blue.
3. Repeat the process for the iOS Solution - colour will not change

### Expected Behavior

On iOS - the icon should change from black to blue when the butt

[2020-05-21 17:25] vividos commented on #10598
@rmarinho you could see some steps to reproduce the behavior in my issue #10688

[2020-05-21 18:06] Kikanye commented on #9103
Please could you post the full code for your renderer? I just ran into this issue, and I am unable to find the fix.
Does this mean you have to use a custom TImePicker? (ie a custom control?)

[2020-05-21 18:53] kramer-e commented on #9103
@Kikanye Here is the full code, I did not add a custom TimePicker. I created a custom renderer for the TimePicker, so that each TimePicker rendered in Android uses this code with the override.

[code]

[2020-05-21 19:02] PureWeen commented on #10810
@tomeverin

This is definitely a scenario I would like to light up!!

What would the user see if your shell was defined like this?

[code]

Would the top tabs still be visible?

I have some thoughts around this I posted in the spec over here

https://github.com/xamarin/Xamarin.Forms/issues/10804

### Enable ShellElement navigation scenarios

Currently with shell you can only push ContentPages but

[2020-05-21 19:06] kevinjpetersen commented on #5005
@PureWeen I feel like if XF Visual Material could integrate with this WPF XAML Material Design Library, that would solve all of the issues. I'm currently using it for my WPF apps and it's amazing how much control I have!

https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit

[2020-05-21 19:08] PureWeen commented on #5005
Yea! We'd looked at that a little with WPF and that would be really cool

Now if only someone would finish the UWP part of that one

[2020-05-21 19:11] kevinjpetersen commented on #5005
Yeah that's a downside I guess :/

[2020-05-21 19:17] Deepfreezed commented on #10774
Support for app bar font icon with bubble text. Something like items in cart...

[2020-05-21 19:22] SittenSpynne commented on #10806
Seems related to something or other that came in the update that released this week. I wasn't seeing it this morning, ran the update, now my logs are useless.

[2020-05-21 19:38] PureWeen commented on #10804
Hopefully I'll have the work done I've been doing on my streams which will enable all of this!!
Do you have comments on what I've defined here in the spec around it?

The hooks that will come about as part of this PR
https://github.com/xamarin/Xamarin.Forms/issues/5166

Will make all the lifecycle parts async

Maybe we'll add some sort of Async Token to the existing navigating/navigated events?

Y

[2020-05-21 19:45] SittenSpynne commented on #10806
Happening for me after installing the newest VS for Mac updates. Relevant info:

[code]

[2020-05-21 19:45] eli191 commented on #7790
On Android, you can make it transparent by setting
`<item name="android:colorActivatedHighlight">@android:color/transparent</item>`
Does someone knows a renderer stuff to achieve transparency on iOS?

[2020-05-21 20:28] moreirawebmaster opened #10814 "[Bug] Android: SwipeViewRenderer.ProcessTouchUp (Android.Graphics.PointF point)"
### Steps to Reproduce
[code]

### Basic Information

- Version with issue:
- Last known good version:
- IDE: Visual studio for windows 16.5.5
- Platform Target Frameworks:
  - Android: 10.2.0.100
- Android Support Library Version: All versions
- Nuget Packages: Xamarin.Forms 4.6.0.800
- Affected Devices:

Xamarin Exception Stack:
System.MissingMethodException: Method not found: void Xamarin.Forms

[2020-05-21 21:33] syncro-bpierpont commented on #10721
This appears to work if the Group is given as the item to scroll to.
I'm not sure if this is intended behavior however.

`var newGroup = new SomeItemGroup(name);`
`ItemGroups.Add(newGroup);`
`collectionView.ScrollTo(newGroup);`

[2020-05-21 21:51] syncro-bpierpont opened #10816 "[Bug] CollectionView Footer removed if ItemsSource is Cleared"
### Description

If a CollectionView is displaying grouped items with a header and footer, and all items are removed from the group, the footer remains.
If all items are removed by Clearing the collection, the footer is also removed.

### Steps to Reproduce

1. Create a CollectionView bound to ObservableCollections that represent at least one group containing at least one item.
2. Call Remove on t

[2020-05-21 22:10] tomeverin commented on #10810
@PureWeen
#10804 looks great

I think that the top tabs are intuitive for the parallel case only. Nested `ShellContent`, i.e. the series case, to me implies a "drill down" type experience which would be managed entirely by routing calls in the code.

The parallel case naturally suggests top tabs, I don't think the series case should come with any automatic UI.

[2020-05-21 22:15] tomeverin commented on #10810
@PureWeen

Sorry I missed the altered XAML.

In that instance:
 - the top tabs would still be visible (for the parallel 2A and 5A tabs)
 - there would be a series "drill down" experience inside the 2A tab
 - e.g. routing to tabs/page2/page2A/page2B would result in:
   - 2B replacing the 2A top tab content
   - 2B still in parallel with 5A with top tabs unchanged

[2020-05-21 22:29] syncro-bpierpont opened #10817 "[Bug] CollectionView shows incorrect ScrollBar on mouse over"
### Description

If a CollectionView has and automatic vertical scrollbar which is not displayed, mousing over the right edge of the CollectionView causes a scrollbar to appear.

### Steps to Reproduce

1. Create a CollectionView with an automatic vertical scrollbar which is not currently displayed
2. Mouse over the right edge of the CollectionView

### Expected Behavior

No scrollbar appears.

##

[2020-05-21 22:36] syncro-bpierpont opened #10818 "[Bug] CollectionView redraws completely when an item is added"
### Description

When an item is added to the ItemsSource of a CollectionView, the entire control is redrawn.

### Steps to Reproduce

1. Create a CollectionView bound to an ObservableCollection
2. Add a button in the GroupHeader to allow adding an item to a group (see repro)
3. Add an item by clicking the button

### Expected Behavior

Only the area changed by adding the item is redrawn.

### Act

[2020-05-21 22:49] syncro-bpierpont opened #10819 "[Bug] Clearing bound collection causes some CollectionView items to freeze"
### Description

If a group in a CollectionView is Cleared, some items in the CollectionView no longer respond to mouse activity.

### Steps to Reproduce

1. Create a CollectionView with the ability to Clear and Add Items to the bound groups.
2. Clear a group
3. Add an item to the same group

### Expected Behavior

All CollectionView items continue to react to the mouse.

### Actual Behavior

Some

[2020-05-21 23:13] PureWeen commented on #10598
Closing as a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/10350 for now

[2020-05-21 23:13] #10598 closed

[2020-05-21 23:13] PureWeen commented on #9873
Closing as a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/10350 for now

[2020-05-21 23:13] #9873 closed

[2020-05-21 23:17] PureWeen commented on #10591
@RabhiaBehamK

Looking at your sample this is just a native android sample not a Xamarin.Forms related issue

This is a better question for StackOverflow because it's a "By design" android behavior and not something we have any control over

[2020-05-21 23:17] #10591 closed

[2020-05-21 23:19] PureWeen commented on #10609
@Mikilll94 can you test with the latest version? That ArgumentNullException should be fixed now

[2020-05-21 23:26] PureWeen commented on #10626
@karolskrobot can you update to the latest version of Forms and see if you still see the issue?

If so, can you attach a repro?

[2020-05-21 23:46] PureWeen commented on #10810
Cool!! I'm excited we're thinking along the same lines for this one
We are moving forward the Shell data structures to handle this type of scenario.

And this is definitely how I'd like this all to work

Once I get this PR merged
https://github.com/xamarin/Xamarin.Forms/pull/9626

That'll start making stuff like this easier

[2020-05-21 23:57] PureWeen commented on #10630
I'm thinking a property would be best for this on the TabView

That way users could indicate if they want double tap to PopToRoot or not. Then they could configure it to work one way vs the other.

We can't really change how iOS works as that would be a fairly heavy breaking change plus iOS users kind of expect this type of behavior.

We don't implement anything on iOS to enable this behavior it's

[2020-05-22 00:04] PureWeen commented on #10613
[code]

[2020-05-22 00:06] PureWeen commented on #10613
@stevecluk I've poked the Android team to see if they have any thoughts

[2020-05-22 00:30] PureWeen commented on #10785
@nbsoftware can you make sure all your projects have the same version of XF installed?

`GetNamedColor` was added in 4.6 but FFImageLoading doesn't utilize it

This should only cause a break with FFimageLoading if they were implementing `IPlatformServices` but I don't see that they are

Can you attach a repro?

[2020-05-22 00:35] PureWeen commented on #10799
Pinged for Repro

https://developercommunity.visualstudio.com/comments/1044621/view.html

[2020-05-22 01:19] tomeverin commented on #10810
That's great! Bright future for Shell.

[2020-05-22 01:36] mnxamdev commented on #9123
We are having this issue too. We're trying to get get a Windows release out using shared code from our Android and iOS apps. Please help Xamarin! I'd be happy with a workaround.

[2020-05-22 02:15] Hanzalah-Adalan commented on #6925
+1 (show/hide with animation) please!

[2020-05-22 03:26] d617617 commented on #10774
It is so good beacause most of modern app have Variable transparent appbar.,i had waited for it long time,finally...we will get item!

[2020-05-22 04:34] MhAllan commented on #9123
@mnxamdev  I updated the issue with my workaround, hope it works for you.

[2020-05-22 04:45] MhAllan commented on #10787
Should be: public Stream TakeSnapshot( )

[2020-05-22 04:53] alexeystrakh opened #10820 "[Bug] ListView with HasUnevenRows="True" is leaking memory (items)"
### Description

ListView with HasUnevenRows="True" somehow retains items bound to the list view in memory even after full data reload. Basically every reload dumps old entries and creates new items, but old items don’t go away. I was troubleshooting it, trying to find, what exactly retains the entries and found one particular line which caused that: HasUnevenRows="True". Having that information I

[2020-05-22 06:06] wocar commented on #10800
I confirm this bug.. is there another workarround thank you!

[2020-05-22 06:33] nbsoftware commented on #10785
@PureWeen

Well, only one referenced project was still on a lower version (4.5).
I'll make some tests to upgrade this one as well, but hey... how on earth is this even remotely possible?
I mean, when all projects are on the same XF 4.5 version, everything is working, but when all projects but one are on the XF 4.6 version, it crashes with the mentioned exception.

How can an Interface implementati

[2020-05-22 07:51] todorspetkov opened #10821 "AppResources translations not loaded/included in final app on iOS and Android"
### Description
After latest update of Xamarin Forms and Visual Studio for Mac AppResources for different languages are not loaded: only default language is loaded (in iOS and Android app).

### Steps to Reproduce
1.  Project contains AppResources for different languages (e.g. AppReources.en.resx)
2. Translation is performed using a IMarkupExtension: var translation = ResMgr.Value.GetString(Text ,

[2020-05-22 08:30] davidbritch opened #10822 "[Bug] Setting MultiBinding StringFormat results in InvalidOperationException"
### Description

There's an [enhancement request](https://github.com/xamarin/Xamarin.Forms/issues/10750) to add `StringFormat` support to `MultiBinding`. However, I'm also logging a bug because attempting to use `StringFormat` right now results in an exception being thrown.

The following `StringFormat` should be valid, but results in an `InvalidOperationException`:

[code]

While I don't think th

[2020-05-22 08:46] Adrien6 commented on #10307
Same here... hopeless UWP...

[2020-05-22 09:33] Sylv1F commented on #10159
Upgrade to XF 4.6.0.800 crash, downgrade in XF 4.5.0.266 ok

[2020-05-22 09:34] Sylv1F commented on #10801
Related #10159

[2020-05-22 09:36] sachinkanadia commented on #8546
Has this been resolved?

[2020-05-22 09:39] sachinkanadia commented on #10754
Hi @PureWeen

Is there an update on this?

[2020-05-22 09:52] nodoid commented on #10799
Source code here : https://pastebin.com/bkRDrDx0

If the model has nothing in it, the view works fine. If the view has anything in it - boom! crashes with the throwback attached to the bug report here : https://developercommunity.visualstudio.com/content/problem/1027197/forms-app-crashes-giving-sigsev.htm

Let me know if you need anything else. This happens all the time on droid and iOS and only o

[2020-05-22 10:06] stevecluk commented on #10613
Thanks - this used to work with older builds, I'd just come across it when updating an app I'd released a few years ago to the latest packages.  I'd wondered if a workaround might have been to upload an APK/AAB for 5.x devices only that just had 32-bit support (which worked locally), but Google Play requires 64-bit now for all updates so that's a non-starter, and I'm seeing quite a few crashes for

[2020-05-22 10:08] odapplications commented on #10623
@PureWeen I ended up fixing the issue. It does not seem to work the same ways as it used to. I think it was just a weird way I was adding the tap gesture. Now I get multiple imports of xamarin forms which I checked there is not.

I would link you to the repo... but it is private so I would have to invite you.

![sNEnvY (1)](https://user-images.githubusercontent.com/27908286/82657043-88969580-9bd9-

[2020-05-22 10:19] todorspetkov commented on #10821
Hello, I have an update: for Android I unziped an old build apk and an apk made with the last Mac VS. The old working assemblies directory contained subdirs for each language:
en,fr,es,etc. each containing AppName.resources.dll
The new build does not contain any of these in the assemblies dir...

[2020-05-22 10:32] #10779 closed

[2020-05-22 11:03] #10666 closed

[2020-05-22 11:37] yankarinRG commented on #9900
I am facing the same problem with the latest version of Xamarin.Forms (4.6.0.800) and targetSdkVersion="29" (Android 10 - Queen Cake): if "Bundle assemblies into native code" is enabled, the `Image` won't show.

[2020-05-22 12:02] AlleSchonWeg commented on #10307
Same here. Looks like UWP is dead.

[2020-05-22 12:33] mohitatray commented on #7299
Displaying text next to CheckBox is very easy with a StackLayout. But what I want is when the text is clicked, the CheckBox should check/uncheck (toggle). Not only it should toggle but also it should give the proper feel of clicking - when text is pressed, the checkbox background should change to the pressed background.

That is why I think text should be integrated in CheckBox. Something like a C

[2020-05-22 12:55] AlexAba opened #10823 "[Bug] Empty NavigationStrack at constructor"
When I try to use Navigation in constructor of a page it this leads to errors because in constructor NavigationStack is empty

[2020-05-22 13:10] IainCoSource commented on #8157
It affects font size as well as colour.

Xamrin.Forums: 4.6.0.800

[2020-05-22 13:30] MitchBomcanhao opened #10824 "[Bug] iOS 13.5 - page content sometimes stops scrolling"
### Description
Have received a complaint from a user that SOMETIMES a page will stop scrolling.
This user did not have this issue until updating to iOS 13.5
I've updated a test device to the same version and managed to get this issue once so far, but no real reproduction steps yet.
The issue will surface while interacting with the page, ie it appears to load ok but then might stop scrolling altog

[2020-05-22 13:40] MitchBomcanhao commented on #10824
@AndreiMisiukevich Have you ever seen anything like this? perhaps the toucheffect component not releasing some events to the underlying scrollview?

[2020-05-22 14:10] ppetrov opened #10825 "[Bug] CollectionView throws java.lang.IllegalStateException on Android when using RemainingItemsThresholdReachedCommand"
### Description
I'm trying to use RemainingItemsThreshold and RemainingItemsThresholdReachedCommand to load more data on demand but I'm seeing this exception spammed to the Outlet when scrolling at the end of the CollectionView. However it works perfectly on iOS(version 12.4.6) iPad mini 2.

### Steps to Reproduce

1.  Scroll CollectionView to the end .

### Expected Behavior
No exception and corr

[2020-05-22 14:22] AndreiMisiukevich commented on #10824
Hi, I think the best ideas is checking it without TouchEffect

[2020-05-22 14:25] AndreiMisiukevich commented on #10824
frankly speaking, I don't see anything "scroll blocking"

https://github.com/AndreiMisiukevich/TouchEffect/blob/master/TouchEffect.iOS/PlatformTouchEff.cs

[2020-05-22 14:26] MitchBomcanhao commented on #10824
I'm not having much luck in reproducing the issue at all - only happened once for me, so tinkering with the code is a bit pointless :(  Your opinion is always welcome, even if it only to eliminate TouchEffect as a suspect.

[2020-05-22 14:28] AndreiMisiukevich commented on #10824
Could you please share a sample project? (xaml markup)

[2020-05-22 15:13] MitchBomcanhao commented on #10824
Have something similar to this on a ContentPage.
This is not exactly how it is built in the actual app, but the structure is approximated. Added a few repeated items to force the app to have to scroll on this screen.

[code]

[2020-05-22 15:24] deluxxDevelopment commented on #10821
Same issue here but only on Android.

[2020-05-22 15:26] deluxxDevelopment commented on #10821
Same issue here but only on Android not on iOS.

[2020-05-22 16:46] YZahringer opened #10826 "[Bug] CollectionView Items are reversed on AddRange"
### Description
Using the `AddRange` method to optimize the insert of elements in an `ObservableCollection` binded to `CollectionView` adds them in reverse order.

I've tried with two different implementations of `Range ObservableCollection`, same issue:
- [MVVM Helpers](https://github.com/jamesmontemagno/mvvm-helpers/)
- [RangeObservableCollection](https://gist.github.com/weitzhandler/65ac9113e31

[2020-05-22 16:55] Filipowicz251 commented on #10805
+1

![obraz](https://user-images.githubusercontent.com/21036476/82691183-cb01b600-9c5d-11ea-8667-0955f73eaf9d.png)

[2020-05-22 17:32] brunck commented on #8546
@sachinkanadia this is still open.

[2020-05-22 18:09] sachinkanadia commented on #8546
@brunck Thanks for the update & workaround.. I'll give it a go

[2020-05-22 18:34] daniVerz commented on #8282
Same here! Funny that after any minor change and Hot Reload it renders the header right.
Any hope? I have to release a new version...

[2020-05-22 19:17] pfafft33 commented on #10787
Thank you Mohamad!

From: Mohamad Alallan <notifications@github.com>
Sent: Thursday, May 21, 2020 11:46 PM
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: Terence A. Pfaff <terence.pfaff@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [xamarin/Xamarin.Forms] Please add OpenGLView "Snapshot" method (#10787)

Should be: public Stream TakeSnapshot( )

—
You are receiving

[2020-05-22 19:51] PureWeen commented on #10613
It looks like this is a known issues with pre 6.0 android devices and it's related to using shared runtime/fast deployment

I tested and for me when I turn off shared runtime then it's able to deploy and run without issues

For your debug builds you can set
[code]

 This will allow some of the benefits of the shared runtime such as faster dev turnaround when an assembly changes.

[2020-05-22 20:44] ldematte opened #10828 "[Enhancement] UI remoting/isolation"
## Summary
In order to facilitate sandboxing and isolation, it is a good idea to isolate components in sandboxes. The historic way of doing it in .NET was using AppDomains, but today the preferred way of doing is just using different processes (more portable/.NET core will not support AppDomains).

The problem is: what about components with UI? All plugin-based systems will need to come up with th

[2020-05-22 21:14] VladislavAntonyuk commented on #10642
you have to add  ConfigurationChanges = ConfigChanges.ScreenSize | ConfigChanges.Orientation to your activity

[2020-05-22 21:15] VladislavAntonyuk commented on #10745
I can add that it works after you swipe between items

[2020-05-22 22:19] daangruijters commented on #10821
Same problem here, only tested on android

[2020-05-23 00:42] jameshowey commented on #10805
+1

[2020-05-23 01:57] pictos commented on #10804
I don't think so. It is just that I didn't see an API spec, so I thought that spec doesn't exist at all.

Can you provide an example? I don't know how it looks like

If it's hard we can talk and figure out a way to make it work❣️

Do you have an ETA for the @jsuarezruiz's appbar? And for merge it into Shell?

[2020-05-23 01:57] gdidajj opened #10829 "[Bug] 16.6.000.1055 Xamarin.iOS PlatformNotSupportedException"
Description：
When I use the latest version of Visual Studio 2019 to generate xamarin.ios, it prompts "TypeInitializationException: The type initializer for 'Microsoft.Build.Tasks.Copy' threw an exception.
PlatformNotSupportedException: Operation is not supported on this platform."
and Prompt When I use the simulator to generate Failed to find metadata file "...\ iPhoneSimulator \ Debug \ System. E

[2020-05-23 02:31] EmilAlipiev commented on #3655
wow this is still open. is that not a bug?

[2020-05-23 06:04] wocar commented on #10162
It doesnt work for me, now with iOS 13.5

[2020-05-23 08:35] developer9969 commented on #8383
hi there i am interested in this one too any news?

[2020-05-23 09:06] Filipowicz251 commented on #10805
I did manage to publish the app on MAC. On VS 2019 for Mac, I've changed Release --> Generic Device. And then Archive->Distribute. It works correctly.

Hopefully, it will be a workaround for anybody struggling with this issue, till it is fixed;)

One small catch there. When you are asked to enter app id and password - it is not your apple password - it is app-specific password :) I am being fooled

[2020-05-23 09:50] MhAllan opened #10830 "[Bug] [Fatal] [Android] CarouselView Inside Expander Causes Crashing"
### Description

If you put CarouselView inside Expander, The application will crash with this exception

**Java.Lang.IllegalArgumentException: 'Invalid target position'**

### Steps to Reproduce
* Run attached solution
* Expand the Expander
* Scroll the CarouselView

### Expected Behavior
Expander to expand and CaroulView to scroll

### Actual Behavior
Application crashes

### Basic Information
A

[2020-05-23 10:07] poliahrameshkumar opened #10831 "[Bug] CollectionView does not change from EmptyViewDataTemplate to NonEmptyViewDataTemplate through data template selector from version Xamarin.Forms 4.5"
### Description
We use CollectionView where till the values load, we show Setting up loading indicator. This indicator is present in EmptyViewDataTemplate. For both EmptyView and NonEmptyView DataTemplates we use data template selector. This works in Xamarin.Forms 4.3 version but in 4.5 and 4.6 this is not working. Even after CollectionView ItemsSource is not empty, still EmptyViewDataTemplate onl

[2020-05-23 12:11] sjorsmiltenburg commented on #10806
I also encounter this problem in visual studio for windows after updating to the latest xamarin.forms.
This is quite a big problem because VS becomes almost inresponsive.

The situation in which it occurs on my end:
- i have a collectionview and a flexlayout with around 40 images.
- the heightrequest and widthrequest is bound to the viewmodel
- when I rotate the screen I manually recalculate the w

[2020-05-23 14:27] MSiccDev commented on #10292
Just ran into the same problem. Luckily @zoli13 's workaround of setting the VerticalItemSpacing to 0 helps. Sadly, this means I need an additional Grid around my DataTemplate to achieve the same look.

[2020-05-23 14:59] GiampaoloGabba commented on #9178
this is huge!  is a big step forward to create complex UI/UX with the same output on iOS/Android.
Finally we will be able to renderer & animate advanced stuff (i'm watching at you clippath) without take a dependency to Skia!

[2020-05-23 15:00] burakyigit commented on #10805
+1

everytime when i get an update for microsoft products, i regret my decision.

[2020-05-23 20:18] nschoenberg commented on #10773
Can I use this without Shell?

[2020-05-23 21:45] vsfeedback opened #10832 "Xamarin Forms Platform Specific XAML Error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1042599/xamarin-forms-platform-specific-xaml-error.html)._

---
I tried to use platform specific (in this case android's tabbed page). It shows error (last 3 properties) on the editor and no intellisense were provided for those 3 properties, though it worked when i run the

[2020-05-23 22:08] PureWeen commented on #10773
It's just a bunch of forms elements put together

you can use it wherever you can stick a view :-)

[2020-05-24 00:33] EmilAlipiev commented on #8067
i have just tried your repro with 4.6 and problem persists.

[2020-05-24 02:42] feokuma commented on #9578
I suspect that this issue is applies to items on ColletionView Header too. I found this issue search something about Entry on Header of ColletionView.

[2020-05-24 05:45] SunshineSpring666 opened #10833 "[Bug] UWP Backward Navigation shows "B" page's TitleView content when ScrollView is in "A" page's TitleView"
### Description
**If "A" page's TitleView contains a ScrollView, when navigating from page "A" to "B", the "B"'s TitleView content is shown. However, if we navigate back by pushing back button, the page "A" doesn't get its TitleView loaded. Instead, it shows page "A"'s content and page "B"'s TitleView.**

### Steps to Reproduce
1.  Create page "A" and "B" in a Navigation-style App project.
2.  For

[2020-05-24 07:43] developer9969 commented on #10773
Hi guys, fantastic stuff  can you make sure these cool controls work without shell? Thousand of apps do not use shell and we use Prism which as you know cannot use shell till  shell allows proper integration with dependency injection.  thank you

[2020-05-24 08:32] nschoenberg commented on #10773
@developer9969 Please see the previous two comments and the answer of PureWeen

[2020-05-24 08:57] K232 commented on #10715
Seems that 4.6.0.800 has fixed it 👍

[2020-05-24 09:09] jsuarezruiz commented on #10773
@developer9969 Yes, you can use it without shell too.

[2020-05-24 10:25] makeman-p81 opened #10834 "[Bug] some issues with ResourceDictionary"
1. Currentrly the method `bool TryGetValue(string key, out object value)` has right recursive implementation. Please, see
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/ResourceDictionary.cs#L262
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/ResourceDictionary.cs#L276
but the indexer has not
https://github.com/xamarin/Xamarin.Forms/blob/master/Xam

[2020-05-24 10:31] RaduPoenaru commented on #10391
I'm having this exact issue also in 4.6.800

SystemsThemeDemo, colors are not updated in iOS for any page in the stack. Only newly created pages will benefit from the new colors.
On Android the colors are updated , but app gets a reset to main activity.

[2020-05-24 12:16] glintpursuit commented on #10715
So it's working without below line?

`  Xamarin.Forms.Forms.SetFlags("anything");`

[2020-05-24 13:58] dgenezini commented on #10806
Happening to me too, VS does not respond until all messages are logged.

I am using VS 16.6.0, Xamarin Forms 4.6.0.772, and Android on Genymotion.

[2020-05-24 14:28] K232 commented on #10715
@glintpursuit Yes, for me it's fine. Tested on simulator, no crash when click on home button.

[2020-05-24 14:35] Softtinn opened #10835 "[Bug] Image sizing problem with CarouselView inside an Expander"
### Description

The Expander control behaves strangely when a CarouselView is set as its content. The images are being shown as thumbnails instead of their acutal size after the content is collapsed. See the included .GIF-file.

### Steps to Reproduce

1. Setup the Expander control according to the official documentation.
2. Inside the Expander, add a CarouselView as the Content.
3. Feed the Caro

[2020-05-24 14:55] aktxyz commented on #8626
whew ... thought I was seeing things with these random scroll bars !! looks like will be fixed soon

[2020-05-24 14:58] UserSense commented on #10821
Same issue in combination with Visual Studio 2019 latest update.

[2020-05-24 18:25] ncarandini commented on #6094
Two ways of doing that:
1) on `AppShell.xaml`, you can set `Shell.Flyout="Disabled"` and then opt-in on each page where you need the flayout with `<ContentPage ... Shell.FlyoutBehavior="Flyout">`.
2) Disable the flyout on a page with `<ContentPage ... Shell.FlyoutBehavior="Disable">`.

But I do think will be better to have a global setting of flyout and tabbar and then be able to change the conten

[2020-05-24 18:29] jameshowey commented on #10805
I can deploy app by going to mac and uploading from xcode.
- in vs, do not select build ipa in ios app settings
- archive app on windows with vs
- on mac, xcode -> windows -> organizer. You see mirrored archived apps
- select desired build, and click verify
- you will be given an opportunity to update certificates to replace any bogus ones entered in ios signing config
- My first attempt failed be

[2020-05-24 18:36] CliffAgius commented on #10307
Ok All I need this fixed for my current project so I am going to take a look at fixing it.

@samhouts @jsuarezruiz can you please show this as being worked on.  Thanks

[2020-05-24 19:34] holecekp commented on #9123
@MhAllan Thank you very much for your workaround. It works also for ImageButton.

[2020-05-24 20:26] tbrentlong commented on #7299
I agree. This seems like pretty basic functionality; odd that it is missing.

[2020-05-24 21:13] aktxyz commented on #8656
omg I would reaaaaaaally like this to be added :)  so big +1

[2020-05-24 22:14] SoftArea-srl commented on #10821
Same issue tested, with Android only, using Visual Studio  2019 for Windows version 16.6.0

[2020-05-25 00:03] scottrsimms73 commented on #10261
I have a similar issue but also with CarouselPage

[2020-05-25 02:07] Russc0 commented on #8503
Duplicate of #8787
Currently on the "To do-high impact" list.

[2020-05-25 03:37] jdinnen commented on #9249
I am still seeing this in 4.6.800

[2020-05-25 05:53] rasel-tr commented on #9900
Also there isn't any fix for this in

4.7.0.773-pre1

4.7.0.813-pre2

Pre Release versions. What a regression is it that can not be fixed for more that 2 months.

[2020-05-25 07:21] Red-House-Media commented on #10721
No, it does not appear to work.
If I use the following
_col.ScrollTo(group, position: ScrollToPosition.Start, animate: true); with group as the item
I get
{Java.Lang.IllegalArgumentException: Invalid target position  at Java.Interop.JniEnvironment+InstanceMethods.CallVoidMethod (Java.Interop.JniObjectReference instance, Java.Interop.JniMethodInfo method, Java.Interop.JniArgumentValue* args) [0x000

[2020-05-25 07:42] todorspetkov commented on #10821
Any news/comments on this from the team? By my standards this is a huge bug and is blocking the publication of our app containing important updates and fixes...

[2020-05-25 07:44] developer9969 commented on #9000
@samhouts @hartez  Hi there, I have converted  the app to use collectionview for all the obvious reasons  eg performance, we are going live very soon and I have to revert back to Listview as the collection view in IOS does not work as expected especially with grouping or on small devices as mentioned in this bug. In my eyes this is critical as it stops us using the collectionview for many scenario

[2020-05-25 08:07] shaneh20 commented on #3548
Just upgraded to Xamarin Forms 4.6.0.800 (from 4.5) and it seems this issue has resurfaced as my PlatformEffect that's attached to a Frame (inside the ItemTemplate of a CollectionView) is no longer attaching.

[2020-05-25 08:25] GiampaoloGabba commented on #10829
This is a Visual Studio bug reported 2 months ago in 16.6 beta that they just ignored, shipped the 16.6 to everyone and then fixed immediatly in 16.7 preview, wich will come in months...
https://developercommunity.visualstudio.com/content/problem/961282/xamarinios-fails-to-build-with-messagingremoteexce.html

Why they did this is obscure to me... but here we go...
We have to install the preview or

[2020-05-25 08:55] cristiproj commented on #2009
I have the same question. Can anyone clarify? Thanks in advance :)

[2020-05-25 09:28] jsuarezruiz commented on #10814
@moreirawebmaster Could you attach a reproduction sample?

[2020-05-25 10:22] rmarinho commented on #8412
Hi do you still see this issue on the 4.6.0 version?

[2020-05-25 12:01] NazarStasiv opened #10841 "[Bug] Layout changes doesn't applying on page with CollectionView after navigation to another page and back"
### Description

Layout changes for any of the visual elements that belong to page with CollectionView doesn't applying after revisiting this page.

### Steps to Reproduce

1. Create page with CollectionView and any visual element, that can change size;
2. Navigate to page with CollectionView, then to the another page and back to the page with CollectionView;
3. Try to change size of the resizable

[2020-05-25 12:19] AlleSchonWeg commented on #4461
Any news on this?

[2020-05-25 12:22] PaulsonMac commented on #1711
Hi guys! Has anyone tried this solution before - https://stackoverflow.com/a/56304192/10329199 in WKWebView to dynamically size content...??

[2020-05-25 12:23] BrayanKhosravian opened #10842 "[Bug] [iOS] CollectionView - Invalid Height Measure when using different datatemplates"
### Description
When we define two datatemplates with a different height in a datatemplateSelector and use that selector for the collectionview, then some heights of the cells are invalid.
- Check the gif atttached.
<br/>
More related: #8583 #9520
Possibly Related:
#5455
#7788
#10625

### Steps to Reproduce

1. use different datatemplates, where both templates differ in the heightrequest!
2. write

[2020-05-25 12:23] BrayanKhosravian commented on #10842
@Gentledepp @bruzkovsky fyi

[2020-05-25 12:32] Stensan commented on #10738
I have the same problem on iOS. Deleting obj and bin folders does not fix the problem for me.

**Steps to Reproduce**
Using a WebView with HtmlWebViewSource inside a CarouselViewControl.

**Expected Behavior**
Should not cause the exception as it was before.

**Actual Behavior**
Causes NRE.

**Basic Information**
Versions with issue: 4.6.0.772 and 4.6.0.800
Last known good version: 4.6.0.726

**VS

[2020-05-25 12:46] Flaviocrtt commented on #10599
@MichaelNovikov Did you found a work around?

[2020-05-25 14:18] #10224 closed

[2020-05-25 14:34] Tommigun1980 commented on #3494
Please add duration for long tap support, or remove the sealed keyword from the class. I don't think any class in Xamarin should be sealed as it makes it impossible to extend any functionality, which is especially important as the core functionality Xamarin provides is extremely limited for any kind of app development.

[2020-05-25 14:37] LoGA80 commented on #10821
It was bad to face this issue in the morning of our sprint demo, luckily Azure pipeline seems to use an older version because translations work in our demo version. When building our app locally we face exactly the same problem with VS 16.6.0, when I pick my older laptop without the latest VS update, the translations work properly in the built Android app.

[2020-05-25 14:38] Tommigun1980 commented on #9342
Is this PR ever coming in?

[2020-05-25 14:45] CliffAgius commented on #10307
OK I think I have found what is happening here and it doesn't need a PR.

For UWP the old way of doing it was that you added the FontPack with an OnPlatform to the ResourcesDictionary and it looked something like this:

    <ResourceDictionary>
      <OnPlatform x:TypeArguments="x:String"
                x:Key="IconFont">
        <On Platform="Android"
            Value="materialdesignicons-webfon

[2020-05-25 14:50] VladislavAntonyuk commented on #10307
I think XF should get first font name from the file if it is not specified by user

[2020-05-25 14:50] ktd12 commented on #10307
Yes! I have this in my app.xaml and the fonts have been working for me:
` <OnPlatform x:Key="MaterialWebFontFamily" x:TypeArguments="x:String">
            <On Platform="Android" Value="materialdesignicons-webfont.ttf#Material Design Icons" />
            <On Platform="UWP" Value="Assets/Fonts/materialdesignicons-webfont.ttf#Material Design Icons" />
        </OnPlatform>`

[2020-05-25 15:00] CliffAgius commented on #10307
@ktd12 but are you using the new EmbeddedFonts?

@VladislavAntonyuk Maybe it does need looking into then.  I haven't tried it with an older version of XF so not sure if it's ever worked on UWP or it's a new issue, my current project highlighted it to me.  Happy to take a look if thats how you believe it should work.

[2020-05-25 15:26] ktd12 commented on #10307
Sorry - I spoke too soon.  The font that I am using as an embedded font is one I created called karenfont.  I have the opposite problem as everyone else:  It works on UWP but not on Android.  I am using XF 4.6.0.726, Windows 10 1903 on a Surface Pro 7 and Android 10 on a Samsung Galaxy s10
`<Button x:Name="btnBackup" Text="b" HorizontalOptions="FillAndExpand"
                     FontSize="Medium"

[2020-05-25 15:33] legistek commented on #10750
Huh. I had no idea you could even do that without a converter in WPF. Learn something new every day!

The documentation writers should definitely make sure to note that `MultiBinding` currently requires a converter.

[2020-05-25 16:22] DD2XAlpha opened #10843 "[Bug]"
### Description
Hello, I have been trying to connect from Windows to Mac to build my application, but I have some problem with the Broker

Visual Studio isn't able to connect to the Mac, the Mac, Xcode and Visual Studio are updated

I am able to compile the app in Android without problem from Windows.

### Basic Information

- Version with issue: 16.4.000.307
- IDE: Visual Studio 2019 (16.4.2)
- P

[2020-05-25 16:29] ktd12 commented on #10307
On Windows the letter "b" looks like:
![b on windows](https://user-images.githubusercontent.com/2615390/82830040-a9354880-9e82-11ea-86a3-65114f59bcaf.png)

On Android the letter "b" looks like:
<img width="223" alt="b on android" src="https://user-images.githubusercontent.com/2615390/82829693-e220ed80-9e81-11ea-8b19-261d9f82a02d.png">

What the font looks like:
<img width="336" alt="karenfont" src

[2020-05-25 17:04] winterdouglas opened #10844 "[Bug] App crashes on iOS 13 when a CollectionView is grouped and its header size changes"
### Description
Weird as it is, when using a grouped collection view and having a `Header` on it that dynamically  changes size makes the app to crash with the exception below.
- The issue happens on iOS 13+ only apparently, I have tried on 13.4.
- iOS 12.4 works normally.
- Android 10 works normally as well.
[code]

### Steps to Reproduce

1. In a `CollectionView` set `IsGrouped` to true
2. Add a

[2020-05-25 17:41] PureWeen commented on #9900
Closing in favor of https://github.com/xamarin/AndroidX/pull/106 as this is not a Forms issue

[2020-05-25 17:41] #9900 closed

[2020-05-25 17:45] PureWeen commented on #10805
Can anyone having this issue use the feedback tool on VS to log a bug please?
https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019

That will gather up some logs that will be helpful for the team responsible for this feature

[2020-05-25 18:48] liveinvarun commented on #10821
Facing the same issue... really wasted a day trying to figure out the issue. For me IOS part works fine. All translations are loaded. Android always load the default language. @samhouts  Can you prortize this.

[2020-05-25 19:13] nimbuster commented on #10806
I downgraded VS to 16.5.4 and the errors go away.  Seems like a VS 16.6 conflict with Xamarin.Forms.

[2020-05-25 19:26] redcurry commented on #10821
I'm having the same problem as well. Translations don't work on Android; they used to a few weeks ago (not sure which update broke it).

[2020-05-25 21:12] Lydecker commented on #10805
https://developercommunity.visualstudio.com/content/problem/961282/xamarinios-fails-to-build-with-messagingremoteexce.html

[2020-05-25 21:17] peterfoot opened #10845 "[Bug] [WPF] DatePicker doesn't apply font properties"
### Description
On WPF the FontFamily, FontAttributes and FontSize properties are not applied by the renderer.

### Steps to Reproduce

1. Add a DatePicker control
2. Set FontFamily to Comic Sans MS, FontAttributes to Bold and FontSize to 32

### Expected Behavior
Control should render with the font properties set.

### Actual Behavior
Control shows only the default system font. The renderer code

[2020-05-25 22:08] EmilAlipiev commented on #10454
i have been waiting for my PR to be merged 1.5 month for this issue. There is already existing issue for Ios and android was fixed in october and nobody touched for uwp. I fixed in april and requested several times for review and merge. It is really annoying how xamarin teams is working. You can see they review 1-2 PRs per day but always bringing some useless features.
https://github.com/xamarin/X

[2020-05-25 22:17] EmilAlipiev commented on #10482
i have been waiting for my PR to be merged 1.5 month for this issue. There is already existing [issue ](https://github.com/xamarin/Xamarin.Forms/issues/5354)for Ios and android was fixed in July 2019 and nobody touched for uwp. I fixed in april and requested several times for review and merge. It is really annoying how xamarin teams is working. You can see they review only 1-2 PRs per day.
#10316

[2020-05-26 00:09] PureWeen commented on #10382
@dishantmshah FlyoutItemGridStyle was renamed to FlyoutItemLayoutStyle

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/shell/flyout#flyoutitem-and-menuitem-style-classes

[2020-05-26 00:55] tsafadi commented on #10805
Same issue here...

[2020-05-26 01:35] PureWeen commented on #6094
@ncarandini @HobDev @uday-lucky

I updated the IsVisible spec here with what I'm thinking. I feel like this addresses all the scenarios you've brought up.

https://github.com/xamarin/Xamarin.Forms/issues/5232

Please let me know if you have any concerns

[2020-05-26 01:38] PureWeen commented on #5232
I'll be working on this for 4.7/4.8

I updated the spec if anyone wants to comment

[2020-05-26 02:13] aktxyz commented on #6544
+1

[2020-05-26 03:27] aktxyz commented on #6544
the example by @jonx worked great fyi

[2020-05-26 03:55] TopSkillDeveloper commented on #10842
Confirm. If change the height of one item, the height of all items changes. At the same time, everything becomes normal during scrolling (as it should-1 item changes). Only on iOS. The latest stable version of xamarin

[2020-05-26 04:50] liveinvarun commented on #10842
This issue has already been reported for uicollectionview
https://github.com/xamarin/Xamarin.Forms/issues/8583
https://github.com/xamarin/Xamarin.Forms/issues/9520

[2020-05-26 05:45] KarthikRaja26 commented on #10198
any update on this ?

[2020-05-26 06:21] Sivaraman761 commented on #10172
Hi @jsuarezruiz

I have tried your recommendations to overcome the issue. But unfortunately, it’s not working. In my same I have set the PaintFlags.AntiAlias and set the StrokeWidth and my StrokeWidth dependents on my device density. But it’s not working. I have modified the same with you recommend codes. Please refer to the sample. It does not work in FHD or HD resolution.

![FHD](https://user-im

[2020-05-26 06:36] gdidajj commented on #10829
Thank you, it seems that I have to use the 16.7 preview to solve my current problem.

[2020-05-26 06:46] Sylv1F commented on #10159
Last really stable XF : XF 4.4.0.991864

[2020-05-26 07:10] BrayanKhosravian commented on #10842
@liveinvarun thanks for mentioning the issues. ill add them to my issue report

[2020-05-26 07:39] haavamoa opened #10847 "[Enhancement] Make ParameterAttribute public"
## Summary
Hi, today I had the pleasure of working with `CollectionView`. I wanted to change my layout, so I added the following:
[code]
I tried to compile, but it failed with this:
![image](https://user-images.githubusercontent.com/2527084/82873090-4603ee80-9f34-11ea-829f-449df4e71111.png)

And I thought, woaw. This is nice! They can tell my compiler that there is some properties that are are req

[2020-05-26 08:42] VelizarGremori commented on #9079
t works for me to put CollectionView into the zero size container.
For example, we do have the grid with 2 rows with zero and non zero height. Initially, put the CollectionView in to the row with zeroe height to make it invisible, then move it to the non zero height row to make it visible (using Grid.SetRow)
[CollectionViewBugWorkaround.zip](https://github.com/xamarin/Xamarin.Forms/files/4680907/C

[2020-05-26 10:35] SoftArea-srl commented on #10806
Hello @nimbuster , could you please describe how you have been able to revert to VS 16.5.4? Whenever I try the installer takes me to the VS 16.6.

[2020-05-26 10:37] shaunmauer commented on #7860
Hi
Can this issue be looked at again?

Removing the Material Visual attribute and setting Padding to 0 now removes the padding on Android. Setting it back to Material does not remove the padding.

Regards,

[2020-05-26 10:53] Rabosa616 commented on #10519
I´ve experienced the same issue when I deploy the apps via hot restart, but if I deploy them by connecting to my mac then there is no issue at all.

[2020-05-26 10:54] Edgaras91 commented on #10224
Closed? I have the same issue, please update if it's been fixed on the next release.

[2020-05-26 11:10] bcaceiro commented on #10821
I confirm having the same issue happening on VS Windows 16.6 and VSMac8.6

This is a huge deal, since we have our app translated into several languages.

Perhaps this is related with Xamarin.Android update?

In iOS everything is workin correctly.

[2020-05-26 11:54] AhmadKelany commented on #10224
Why is this closed?

The problem **persists** even in version:
VS: 16.6.0 and even in preview 16.7.1
Xamarin forms: 4.6.0.800

**Please** reopen and fix this issue!

[2020-05-26 12:10] loopjumper commented on #10224
Same for me. VS 16.6 with Xamarin forms 4.6.0.800 and still Mockview for each xaml page.
BTW: I'm using windows 7 - could this be the problem? Is win 10 required?

[2020-05-26 12:28] emaf commented on #10805
Hi all, we're tacking this problem here https://developercommunity.visualstudio.com/content/problem/961282/xamarinios-fails-to-build-with-messagingremoteexce.html.

Thanks!

[2020-05-26 12:28] #10805 closed

[2020-05-26 12:48] AhmadKelany commented on #10224
I am using windows 10 with all the updates installed,
I don't think that OS is the issue..

[2020-05-26 13:00] kirill-zhukov commented on #10224
Definitely not the OS.
Also have VS 16.6 with latest updates and windows 10.

[2020-05-26 13:03] amantha commented on #10805
Deleting content of \obj and \bin in iOS project helped me !

[2020-05-26 13:14] Edgaras91 commented on #10224
I do suspect its Android X update, as it was working fine before the upgrade.

[2020-05-26 14:20] Kikanye commented on #9103
@kramer-e Thank you very much! this worked for me!

[2020-05-26 14:35] FrankSzendzielarz opened #10851 "[Bug] Label with texttype html renders stylesheets incorrectly"
### Description

Attempting to render a label with texttype html and contents including an inline stylesheet generates working output on iOS but on Android the stylesheet has no effect on the text and displays the stylesheet contents in an extra, unwanted heading area.

### Steps to Reproduce

1.  Create a Label like this
[code]
2. Set the contents to this ```
<head><style>
p {font-size:20px;}
li

[2020-05-26 14:56] jackama opened #10852 "[Bug] TableView's SwitchCell does not function correctly with screenreaders"
### Description

Using a native screenreader (VoiceOver on iOS; TalkBack on Android), activating a SwitchCell in a settings TableView reads out the current state of the switch (On or Off), but does not toggle it.

On Android, selecting the switch _within_ the cell and activating it does toggle it, but activating the row does not.
On iOS, the SwitchCell cannot be toggled.

### Steps to Reproduce

1

[2020-05-26 14:57] BrayanKhosravian commented on #10842
@liveinvarun wait did you actually say `UICollectionView`?
The one located in the namespace `UIKit` ?
If yes could you post a link to the report? i wasnt able to see such a report in the issues u posted in before (#8583 #9520).

[2020-05-26 15:08] liveinvarun commented on #10842
@BrayanKhosravian we already have the height issue raised as bug [Xamarin Forms CollectionView ]-
Dynamic resizing of items not working - There are samples attached to the bug. Its easily reproducible. The both are bugs are duplicate items i believe, but its a high prority issue as collection views are preffered over listview especially considering the performance factor.  The current bug also loo

[2020-05-26 15:53] PenguinPero opened #10853 "[Bug] iOS ListView crashes app on adding items after filtering list"
### Description
We are having a lot of crashes reported on the App center lately regarding this.
Xamarin Forms app crashes on adding some items to the ListView on iOS after the same list has been filtered before.
Example user scenario:
App has some sort of Search filter and no items were matched, we clear the list of the non-matching items. Afterwards user goes to the page that adds the items, aft

[2020-05-26 16:01] Edgaras91 commented on #8626
I am getting this issue with ScrollViews too!
Buttons and checkboxes inside the scroll view "gain" a scroll bar, which is only visible on page load time (same time as scroll bar for scroll view appears). Controls are not actually scrollable. Everything scrolls in the scroll view as intended.

[2020-05-26 16:01] jamesmcmenamin commented on #5232
@PureWeen No but I do hope when you get working on this you post the twitch stream so we can make sure to tune in 👍

[2020-05-26 16:04] bcaceiro commented on #10806
I'm also noticing this issue. Huge dump in debug.  It started happening with VS upgrade to 16.6

[2020-05-26 16:12] steverichey opened #10854 "[Bug] [iOS] Setting back indicator image causes a null reference exception"
### Description

On iOS, setting the navigation bar back indicator image to a new "empty" image will cause an exception on app launch.

### Steps to Reproduce

We do the following during the `FinishedLaunching` method, before Forms has been initialized:

    UINavigationBar.Appearance.BackIndicatorImage = new UIImage();

However, I was not able to reproduce this error on a new project, so it must

[2020-05-26 16:41] nimbuster commented on #10806
@SoftArea-srl Get the installer from [here](https://docs.microsoft.com/en-us/visualstudio/releases/2019/history).  If you're using the Community license, I just use the Professional installer.  When you run it, close the Components dialog then click the 'Available' tab and select Community.

[2020-05-26 16:42] agat366 commented on #10806
Yeah, same to me on 16.6. Seems this VS upgrade is kind of a Wooden Horse, lol!

[2020-05-26 17:09] holecekp commented on #7072
@RaelsonCraftz, thank you your workaround. It works well.

[2020-05-26 17:23] vsfeedback opened #10855 "Xamarin - Request Documentation about Binding / Source qualifiers"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1015539/xamarin-request-documentation-about-binding-source.html)._

---
Would somebody please either point me to documentation that already exists, or please create some documentation that explains the differences among the different Binding / Source qualifiers:

ReturnComm

[2020-05-26 17:54] AlexanderMelchers commented on #4910
I'm experiencing this issue as well, but on iOS with version 4.6.0.726 of Xamarin Forms.

[2020-05-26 18:05] pboisso commented on #8306
Have this problem also.

[2020-05-26 18:05] a4anu10 commented on #10114
Update the xamarin forms

[2020-05-26 18:23] ncosentino opened #10856 "[Bug] Navigation PopToRootAsync() then PushAsync() of Current Page Doesn't Display Page Content"
### Description

I have an app that is setup to be Master Detail + Navigation Pages.

- MasterDetail -> MainPage.xaml (it's of type MasterDetail)
- MasterDetail.Master ->MenuPage.xaml (it's of type ContentPage)
- MasterDetail.Detail ->HomePage.xaml (it's of type ContentPage but wrapped in a NavigationPage before being assigned to the Detail page property)

Navigation in general works exactly how I

[2020-05-26 18:26] samhouts commented on #10409
@ramalingeswarakki Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-05-26 18:26] #10409 closed

[2020-05-26 18:26] alexeystrakh opened #10857 "[Bug]"
### Description

In a Xamarin.Forms app, we have an `Entry` and a button to show/hide password. It works perfectly fine on iOS but on Android, once the password is shown, the keyboard shows also text predictions, even though the predictions and spellcheck are disabled:

[code]

[code]

### Steps to Reproduce

1.  Launch the sample app in an Android emulator (API 28)
2. Type in a password
3. Hit th

[2020-05-26 18:26] samhouts commented on #10007
@RsZoli Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-05-26 18:26] #10007 closed

[2020-05-26 18:27] samhouts commented on #9880
@haiduong741 Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-05-26 18:27] #9880 closed

[2020-05-26 18:27] samhouts commented on #10335
@davidbuckleyni Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-05-26 18:27] #10335 closed

[2020-05-26 18:28] samhouts commented on #9867
@ramalingeswarakki Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-05-26 18:28] #9867 closed

[2020-05-26 18:28] samhouts commented on #10233
@devinZhou102 Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-05-26 18:28] #10233 closed

[2020-05-26 18:33] samhouts commented on #10599
@MichaelNovikov Please tell us what your complete version info is (https://docs.microsoft.com/en-us/xamarin/cross-platform/troubleshooting/questions/version-logs#version-information), and also what version of Xamarin.Forms you're using. Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 18:39] samhouts commented on #10623
@odapplications Please check your csproj file for duplicates. Sometimes NuGet will install improperly on an update.

[2020-05-26 18:47] samhouts commented on #10760
@Shraddha996 You can use `NavigationPage.BarBackgroundColor` on your ContentPages to set the NavigationBar color.

[2020-05-26 19:04] samhouts commented on #10851
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 19:04] samhouts commented on #10823
Please use the entire issue template to help us understand the problem. Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 19:09] samhouts commented on #10821
Can anyone confirm that this is definitely an issue on iOS as well, or is it just Android?

[2020-05-26 19:16] brendanzagaeski commented on #10821
With apologies for the quick change after samhout's last question, I'll go ahead and tentatively close this item as a duplicate of: <https://github.com/xamarin/xamarin-android/issues/4664>

A temporary workaround is available in: <https://github.com/xamarin/xamarin-android/issues/4664#issuecomment-632986668>

(Based on the replies to this issue, I am confident that the mention of "in iOS and Andro

[2020-05-26 19:30] brendanzagaeski commented on #10821
On second thought, to provide discoverability of the issue via the Xamarin.Forms repo, I'll keep this item open and close it once a new version of Xamarin.Android is published that includes the fix.

To help surface the workaround in the mean time, I'll add it here too.

### Workaround

Use a text editor to open the _.csproj_ file for the affected Android app project (as opposed to the .NET Standa

[2020-05-26 19:31] shudson302 commented on #9102
Any updates on the expected release timeframe for a fix?

[2020-05-26 19:54] jhariel8 commented on #9079
I'm experiencing a similar issue when navigating away from the page and returning to it. The "IsVisible" property doesn't necessarily seem to affect it one way or the other.

I tried @VelizarGremori solution and it seemed like when setting the row back to the "nonzero" row, my collectionview would still have a height of zero, even if I changed the HeightRequest explicitly or changed layout options

[2020-05-26 20:08] AlexanderMelchers opened #10858 "[Bug] ImageButton doesn't respect image opacity on iOS when in pressed state"
### Description
On iOS, when pressing an `ImageButton`, the image is made transparent, causing a change in intended image colour. This makes it difficult to control the image's behaviour through, e.g., visual state management, and also differs from how the `ImageButton` behaves on Android.

### Steps to Reproduce

1. Create two fully opaque icons with clearly distinct colours. Add these to your pl

[2020-05-26 20:57] AlexAba commented on #10823
Here I use 2 pages to be sure that stack have at least 1 item. At `Page1` I check how many pages the stack has, as you can see in the repro, at `Page1`'s constructor `Navigation.NavigationStack.Count` has value 0, but it is not right because there is 1 page already.

[2020-05-26 21:35] samhouts commented on #10432
@mkieres Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-05-26 21:35] #10432 closed

[2020-05-26 21:39] samhouts commented on #10761
@sereoja It looks like it's originating from iOSCustomDialogService. What is that doing?

[2020-05-26 21:49] samhouts commented on #10769
The Android ViewPager, which is backing the TabbedPage, keeps a minimum number of pages loaded in memory to keep the UI fast and responsive. OnDisappearing does not get called until the pages are triggered to be removed from memory. It's an odd quirk, but this is expected behavior.

[2020-05-26 21:49] #10769 closed

[2020-05-26 22:01] samhouts commented on #10783
The Android ViewPager, which is backing the TabbedPage, keeps a minimum number of pages loaded in memory to keep the UI fast and responsive. If you go beyond the initial offscreen limit, it will start disposing pages and recreating them as needed. If you want to prevent this, you can increase the offscreen limit using the `TabbedPage.OffscreenPageLimit` platform specific (see https://docs.microsof

[2020-05-26 22:01] #10783 closed

[2020-05-26 22:03] samhouts commented on #10786
Duplicate of #8961

[2020-05-26 22:03] #10786 closed

[2020-05-26 22:04] samhouts commented on #10802
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 22:17] samhouts commented on #10635
Duplicate of #10647

[2020-05-26 22:17] #10635 closed

[2020-05-26 22:19] samhouts commented on #10670
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 22:20] samhouts commented on #10675
Duplicate of #10528

[2020-05-26 22:20] #10675 closed

[2020-05-26 22:22] samhouts commented on #10683
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 22:25] AlexanderMelchers opened #10859 "[Bug] ImageButton doesn't go back to normal state after being pressed on iOS"
### Description
`ImageButton` doesn't return from the pressed to the normal state when released outside of the button's hit area. In my specific case, this applies to the background colour and image source.

- Occurs only on iOS.
- Possibly the same as #4910 for UWP

### Steps to Reproduce

1. Create two fully opaque icons with clearly distinct designs. Add these to your platform-projects.
2. Crea

[2020-05-26 22:36] samhouts commented on #6388
Looks like this was implemented in March. Thanks!

[2020-05-26 22:36] #6388 closed

[2020-05-26 22:45] samhouts commented on #10788
@Shraddha996 Looks like you got a few answers! I'll go ahead and close this now. Thanks!

[2020-05-26 22:45] #10788 closed

[2020-05-26 22:51] samhouts commented on #10732
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 22:53] samhouts commented on #10722
Closing as this is an issue with EntryValidator, not Xamarin.Forms. Thanks!

[2020-05-26 22:57] samhouts commented on #10856
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 23:12] samhouts commented on #10800
What version of Xamarin.Forms are you using? This looks like the bug we fixed in 4.5.0 with https://github.com/xamarin/Xamarin.Forms/pull/9682.

[2020-05-26 23:16] wocar commented on #10800
fixed it by upgrading Xamarin.Forms and Xamarin.iOS thank you! Now works on iOS 13.5

[2020-05-26 23:31] samhouts commented on #10829
This should be fixed in an upcoming service release for Visual Studio16.6. In the meantime, yes, please use 16.7 Preview if you can. Thank you for your patience!

[2020-05-26 23:31] #10829 closed

[2020-05-26 23:32] samhouts commented on #10831
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 23:32] samhouts commented on #10833
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 23:33] samhouts commented on #10832
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 23:35] samhouts commented on #10835
Can you please attach a small project that demonstrates this issue? Thanks!

[2020-05-26 23:42] samhouts commented on #10855
Good places to start:
- https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/data-binding/relative-bindings
- https://devblogs.microsoft.com/xamarin/binding-possibilities-relativesource/

[2020-05-26 23:43] samhouts commented on #10855
cc @davidbritch

[2020-05-26 23:49] samhouts commented on #10800
Great to hear! We were just as flabbergasted when this bug appeared. We hadn't touched the offending code in years. Turns out, async is hard. 😂 Thanks for confirming!

[2020-05-26 23:49] #10800 closed

[2020-05-26 23:59] samhouts commented on #10785
@nbsoftware Can you confirm that updating all projects to the same version resolved the issue? Thanks!

[2020-05-26 23:59] samhouts commented on #10637
@rambo1223 Without a reproduction, I'm not sure what would be causing it. Were you able to isolate the problem? Thanks!

[2020-05-27 00:00] realivanjx commented on #10832
[tabissuexam.zip](https://github.com/xamarin/Xamarin.Forms/files/4685623/tabissuexam.zip)

And this is what i am seeing now in xaml:

![xaml](https://user-images.githubusercontent.com/12814796/82961429-912b0980-9fe7-11ea-9469-f5c6607b80d1.png)

And almost same thing happened in code behind too:

![cs](https://user-images.githubusercontent.com/12814796/82961441-9e47f880-9fe7-11ea-9132-74176fda504b.

[2020-05-27 00:57] ncosentino commented on #10856
@samhouts will do!

I was panicking because I recreated a project and I wasn't able to reproduce... But I've determined that it's totally working on the default I have setup when making a new project (v4.4.0.991265) and broken on v4.6.0.800.

Will package it up and respond in just a moment. I'll provide some instructions as well because well... I just hacked up the sample project and it's kind of

[2020-05-27 01:03] ncosentino commented on #10856
[Issue10856.zip](https://github.com/xamarin/Xamarin.Forms/files/4685811/Issue10856.zip)

Repro steps with this project:

- Launch the app
- Open the menu
- Go to "About"
- About should load properly
- Press the button called "Navigate to the other page"
- It should navigate to the "Browse" page properly
- Slide out the menu by dragging from the edge of the phone
- Select either of the menu items (

[2020-05-27 01:03] samhouts commented on #6873
This should be covered by https://github.com/xamarin/Xamarin.Forms/issues/7744

[2020-05-27 01:03] #6873 closed

[2020-05-27 01:03] samhouts commented on #7203
This should be covered by https://github.com/xamarin/Xamarin.Forms/issues/7744

[2020-05-27 01:03] #7203 closed

[2020-05-27 01:57] brianro commented on #10555
+UpVote

[2020-05-27 01:58] TouchBoarder commented on #10642
This is the default main Activity setup when creating a new Xamarin Android project, and the referenced project (in the reproduction link) has this configuration options set, see [MainActivity](https://github.com/TouchBoarder/TestXamarinFormsCarouselView/blob/master/TestCarouselViewScreenRotation.Android/MainActivity.cs), So this is most likely not the issue here (for iOS), but it's correct that t

[2020-05-27 02:49] nitro911 commented on #10805
Great--closed, and no resolution!

[2020-05-27 03:28] dinesh4official opened #10861 "Modal Page does not have transparent background when root page is NavigationPage"
## Description

In the Xamarin.Forms v4,6, I've tried to push the Modal page whose root page is a NavigationPage. But the output shows the white background. I've tried with all enum **ModalPresentationStyle** but no result.

`ios:Page.ModalPresentationStyle="OverFullScreen"`

`Navigation.PushModalAsync(new NavigationPage(new TransparentPage());`

### Steps to Reproduce

Step 1 : Run the applicatio

[2020-05-27 04:34] dinesh4official commented on #10861
@samhouts , as a work around, i achieved through renderers.

[2020-05-27 04:53] mhrastegary77 opened #10862 "[Bug] UWP: CollectionView in DetailPage of an item"
### Description

i added a collectionView in detailPage of my items and when i click on an item of the CollectionView(from mainPage) and navigating to the detail page, nothing shows up till i resize the window.

### Steps to Reproduce

1. CollectionView in a contentPage(mainPage)
2. Add a CollectionView in DetailPage
3. Navigate to the detailPage of item

### Basic Information

- Version with issu

[2020-05-27 05:28] bharathirajauk opened #10863 "Can't access the AutoPackage in Forms.WPF renderer to stop the layout control child"
### Description
I can access AutoPackage property and set false in Forms UWP, Android and iOS renderer class. But in Forms WPF, I can't access this property. So, i can't layout the control's child manually.
### Steps to Reproduce

Create Forms.WPF Renderer class as like the below code snippet and try to access the AutoPackage property in constuctor

      public CustomControlRenderer()
        {

[2020-05-27 06:14] HemalathaMarikuma-syncfusion commented on #1600
@samhouts  - When will we get the fix of this reported issue? Please make this as high priority

[2020-05-27 07:12] StephaneDelcroix commented on #10834
Hi @makeman-p81, thanks for this report.

we know about 1/, it has already been reported (and closed). This is an implementation choice, and we can not change that without it being a breaking change. `TryGetValue` and `{StaticResource}` resolutions are recursive, `indexer` is not.

2/ good catch, lemme fix this quick.

[2020-05-27 07:34] FrankSzendzielarz commented on #10851
@samhouts Samantha, thanks, updated.

[2020-05-27 07:58] todorspetkov commented on #10821
Hello, I confirm the problem concerned only the Android builds. The workaround suggested by @brendanzagaeski  works for me. Thanks a lot.

[2020-05-27 07:58] wrkettlitz opened #10865 "[Bug] CarouselView Throws when removing an item."
### Description

### Steps to Reproduce

1. Have an ObservableCollection as item source of an carouselview
2. Remove an item

### Expected Behavior
No error
### Actual Behavior
ArgumentOutOfRangeException
### Basic Information

[code]
[code]

Xamarin Forms 4.7.0.813-pre2

[2020-05-27 08:02] inimirpaz commented on #10821
@brendanzagaeski , works for me too. Thanks! I hope that when the proper fix is released the workaround won't interfere with it.

[2020-05-27 08:33] SunshineSpring666 commented on #10833
Hi, please check the Demo Project, when navigating by tapping the listitem to the detail page, the TitleView is normal.
However, when navigating back, we need to tap twice the back button, and the TitleView of List Page is not shown.
Thanks!
[TitleViewScrollBug.zip](https://github.com/xamarin/Xamarin.Forms/files/4687486/TitleViewScrollBug.zip)

[2020-05-27 08:38] davidbritch commented on #10855
Also https://docs.microsoft.com/xamarin/xamarin-forms/xaml/markup-extensions/consuming

[2020-05-27 08:43] rambo1223 commented on #10637
@samhouts, i couldn't reproduce on another project(tabbed pages empty project), so it has something to do with my configurations from my current project that causes the above errors.
I have the same MainActivity and Toolbar.xml, Tabbar.xml under layout in my current android project as the empty one(tabbed pages empty project).
I don't know what might cause that error ...
    `crc64720bb2db43a66fe9

[2020-05-27 08:51] denisvitez commented on #6962
I have tried the workaround, but there is still a slight change of colors observable when this happens. So it is better than nothing, but I would still like to see this fixed...

[2020-05-27 08:59] maexsp commented on #5043
Good proposal Phenek. We discovered the same issue.

[2020-05-27 09:00] ncarandini commented on #5232
Surry for the dumb question: where I can find and read the specs?

[2020-05-27 09:55] pfafft33 opened #10866 "XAML is throwing "False" errors"
### Description
XAML is throwing "False" errors

### Steps to Reproduce
Not sure exactly how this came about
1.
2.
3.

### Expected Behavior
XAML should not flag "False" errors

### Actual Behavior
As you can see in the screenshot attached, on Line 20, XAML is complaining:
Type converter failed:  Cannot convert "HeaderEqSetNameColor" into Xamarin.Forms.Color

Even though the syntax is IDENTICAL to

[2020-05-27 09:58] jsuarezruiz commented on #10862
I musa validate it, but I think this issue could be fixed by https://github.com/xamarin/Xamarin.Forms/pull/10797

[2020-05-27 10:00] AlleSchonWeg commented on #10307
Hi,
do you get this working on the sample project? https://github.com/jfversluis/EmbeddedFontsSample
I tried, but without success.

[2020-05-27 10:10] #10360 closed

[2020-05-27 10:12] chaoyebugao commented on #9315
Having the same problem,  one `CarouselView` with Horizontal `CollectionView` inside of it. `CollectionView` can not scroll but `CarouselView`.

[2020-05-27 10:27] rmarinho commented on #10775
Hey @chrisstaley can you try this nuget
[Xamarin.Forms.4.6.0.2756.zip](https://github.com/xamarin/Xamarin.Forms/files/4688119/Xamarin.Forms.4.6.0.2756.zip)

[2020-05-27 10:29] maxim-saplin opened #10867 "Implement ExportFont functionality for WPF"
## Summary
Make ExportFontAttribute working on WPF.

Similar to macOS request: https://github.com/xamarin/Xamarin.Forms/issues/10360

[2020-05-27 11:02] mhrastegary77 commented on #10862
i see your pull request now @jsuarezruiz , thank you SO much for that! it's so painful specially when i using gridLayout and Visual states manager to change span in different screen sizes.

[2020-05-27 11:25] eddie010 opened #10868 "[Bug] iOS - Radio buttons cause the app to crash in AppStore version"
### Description
When adding radio buttons to my app, the app crashes in the AppStore version. When debugging all is working well, but when publishing to TestFlight the app crashes as soon as a page with radio buttons is opened. Makes me think this has something to do with the Linker behavior.

### Steps to Reproduce

1. Add radio buttons to your app
2. Publish app to TestFlight
3. Navigate in Test

[2020-05-27 11:43] divyesh008 commented on #10802
@samhouts I'm also facing same issue after updating xamarin forms packages to latest version. You can reproduce it if you have project with old xamarin.froms update it to latest one and try to build and run in Android device you will get this error.

[2020-05-27 12:20] webapps-rvcits commented on #9599
@AndyPresto I beg to disagreed on your statement. The bug on UWP's DisplayPromptAsync is still existing from Xamarin.Forms 4.5.0.356 to 4.6.0.800

[2020-05-27 12:32] webapps-rvcits opened #10870 "Bug on UWP's DisplayPromptAsync"
UWP's DisplayPromptAsync is not appearing from Xamarin.Form 4.5.0.356 to 4.6.0.800. Please validate your release note very well before posting. Thank you

[2020-05-27 12:49] d617617 commented on #10773
Nice ,I have been looking forward to it for a long time.Thank sir!

[2020-05-27 13:25] Stensan commented on #10738
@Sebastian1989101 Could you please reopen this issue?

[2020-05-27 13:41] #9536 closed