[2020-03-20 20:23] jfversluis commented on #9959
Yeah I don't think that is something we support right now. This more mimics the way iOS has the big title and then it collapses into something smaller.

So either you can come up with a creative solution or please open a feature request for it so we can gauge interest and hopefully implement it in the near future. Closing this for now as its not a bug :)

[2020-03-20 20:23] #9959 closed

[2020-03-20 20:29] MarcusCoding commented on #9974
Thanks for the answer.
I only used a physical device for testing, but I can surely test it on the simulator.

The video is on my computer at the office, I will test it again on monday and keep you updated.

Have a nice weekend 😉

[2020-03-20 20:32] jfversluis commented on #9941
I think you are simply using the wrong base class. When I do this

[code]

Things work as expected. Find the updated code attached.

[Repro9941.zip](https://github.com/xamarin/Xamarin.Forms/files/4361708/Repro9941.zip)

[2020-03-20 20:34] alaneich opened #10044 "[Bug] iOS CarouselView swiping hesitates"
### Description
I have a horizontal CarouselView with each item having a different DataTemplate.  When swiping between the items in the middle of the list (e.g. from item 2 to item 3), the scrolling hesitates at a point around 25% of the transition.  This will happen every time this swipe occurs in either direction and if the swipe is reversed after the hesitation occurs it will happen again in th

[2020-03-20 21:10] minahenin commented on #6908
Team, is there anything that we can do to help in fixing this issue?

[2020-03-20 21:15] jfversluis commented on #9960
I did see that mention, but I still don't see anything about the WKWebView specifically. Although I would agree that this should be the same thing. Just to try it I have created a iOS project without Forms with a WKWebView and tried this, also doesn't work. And to rule out absolutely everything I opened Xcode and made a pure native app that does this, also doesn't work. So either I'm missing somet

[2020-03-20 21:18] jfversluis commented on #9969
Would you be able to add a smal reproduction project or at least the code in a format that we can copy and paste instead of an image? Thanks!

[2020-03-20 21:25] Nicolazucchelli commented on #10040
Hi, thanks for your response, i've tried your repro and it works, i don't understand in what is different from mine. Here is my repro case https://mega.nz/#!pZpinYhI
![Screenshot_20200320-220843](https://user-images.githubusercontent.com/22391760/77206670-c9016680-6af7-11ea-839e-9ce6c6a8a171.png)

[2020-03-20 21:25] ChaseFlorell opened #10045 "[Enhancement] xmlns design schema to support BindingContext for Intellisense"
## Summary
Currently we have the following design schema support in Xamarin Forms

[code]

However, some folks are used to the Blend approach

[code]
the difference between these two is that we can get automatic intellisense from the blend approach because it supports us defining the `d:DataContext`, which the 2014/forms/design namespace does not.

I'm wondering if the forms design schema can give

[2020-03-20 21:29] jfversluis commented on #10040
The download link needs an decryption key. Please add the project here directly by dragging the zip in the comment box. You can attach it to the GitHub issue :)

[2020-03-20 21:29] tossingc commented on #9262
@PureWeen Two questions and a workaround we are using:

1. Any idea on a time frame for updating to material 1.1.0?

2. Do you suspect that the below issue will also likely be addressed by updating to material 1.1.0?

   We are not using BorderWidth - we are, however, experiencing rendering issues with buttons which are disabled (looks like it may be related to this issue?):
   ![image](https://us

[2020-03-20 21:37] Nicolazucchelli commented on #10040
Hi, please retry the mega link  https://mega.nz/#!pZpinYhI!ESTWGt7ipUIV9_jM3kOO5t8rCiKB98Jth7V1J3DhS5U
Repo is too big to be attached here (46mb)

[2020-03-20 21:42] ChaseFlorell commented on #10045
So after a conversation with Norman Mackay on Twitter, he directed me to `x:DataType`.
I think this is a great approach as well, but it does mean that you have to do a lot of additional work in order to get it working. The one thing I noticed right away is that bindings inside a DataTemplate on a CollectionView failed because it was looking at the wrong DataType (Could not find Property x), so I h

[2020-03-20 22:41] leocdi commented on #10035
Hi @jfversluis this concerns Android platform.
Here is a sample project with old Xamarin.Forms Version 3.4.0.1008975 where we can hear the click default sound
https://github.com/leocdi/ButtonSoundFeedback.git

[2020-03-20 22:45] Mikilll94 commented on #9112
@PureWeen
I was not checking nightly but this bug is still present in the latest stable XF 4.5.0.396

[2020-03-20 23:02] PureWeen commented on #9112
can you test nightly?

https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

[2020-03-20 23:54] BrayanKhosravian commented on #10021
This should be labeled with collectionview

[2020-03-21 05:04] rezamohamed commented on #10031
I have the same issue, I am simply adding a FacebookButtonLoginRenderer to Android based on this tutorial https://evgenyzborovsky.com/2018/03/09/using-native-facebook-login-button-in-xamarin-forms/ From what I found on the web, I added a try, catch, but the error still shows up on the error list (image below).

The exception is: System.ObjectDisposedException: Cannot access a disposed object.
Obje

[2020-03-21 09:04] MichaelStgt commented on #5153
Borjamao,

you need to put the usings and the Platform Specific setting into the Navigation Page to get this work.

I took me days, no weeks, to play around with the AppBarButton and uwp:FormsCommandBar Styles, overriding system colors and never got it working. Give it a try!

[2020-03-21 09:35] rdev24608 commented on #9823
hello @jfversluis  I followed all the procedures suggested above. still getting the warning/issue.
List of packages:

![Screen Shot 2020-03-21 at 5 32 09 PM](https://user-images.githubusercontent.com/50478701/77223746-3ebe0e80-6b9a-11ea-9dd4-08362be50557.png)
![Screen Shot 2020-03-21 at 5 32 00 PM](https://user-images.githubusercontent.com/50478701/77223747-42519580-6b9a-11ea-9d50-9d664a31ca17.png

[2020-03-21 11:07] rdev24608 commented on #9823
I also try removing ios ads but no luck.

[2020-03-21 11:12] Mikilll94 commented on #9112
@PureWeen
I have checked the latest nightly (4.7.0.461-nightly) and this bug is still present.

[2020-03-21 12:16] agat366 commented on #10034
Yeah. It has nothing to do with a standard way of handling things with XF, like for example setting a default style for ContentPage in app.xaml StaticDictionary, I guess you would agree with that...
4.5 has breaking changes anyways...

[2020-03-21 12:42] marcojak commented on #8885
I cannot update to Xamarin Forms. 4.5 as as soon as I do it, the app for iOS doens't work anymore (it works fine on Android). When I go back to Xamarin Forms 4.4 then it works again on iOS.

I have a CollectionView on my first (after login) content page. on X.F. 4.5 and iOS, that contentview has a wrong layout: I can see the bottom half of the second item but it's like there is a white layout on t

[2020-03-21 14:38] jfversluis commented on #9823
@rdev24608 it looks like you’re not using the 4.5 stable package which is a requirement

[2020-03-21 17:36] akamud commented on #9941
Thanks! I figured it might be the wrong renderer, which leads me to another question: what is the easiest way to find the correct base renderer? I tried finding myself around the codebase, but as I said in the SO question, `StackLayout`, like some other classes, are not declared in the [AssemblyInfo](https://github.com/xamarin/Xamarin.Forms/blob/190dda803621cb61a2d93834cdbddae2bac3c777/Xamarin.For

[2020-03-21 17:43] akamud commented on #9941
Taking a closer look at the code and the difference between the two renderers, I couldn't figure out why `ViewRenderer` doesn't set the BackgroundColor at the constructor, like `VisualElementRenderer` [does](https://github.com/xamarin/Xamarin.Forms/blob/190dda803621cb61a2d93834cdbddae2bac3c777/Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs#L56). The base constructors isn't called from `ViewRe

[2020-03-21 17:48] akamud commented on #8272
Hi @samhouts, I'm afraid we are getting left in the dark here again. It has been over 1 month since the last update from the team, and again, I have no idea if this is being worked on or not.

[2020-03-21 22:20] SatinderSidhu commented on #8209
I have removed all packages & reinstalled the one I need. Even then this issue is killing me
![image](https://user-images.githubusercontent.com/7516751/77237683-89428980-6ba0-11ea-9f8f-b38acd1b48cb.png)

/Users/satindersidhu/Projects/PunjabiMaa/packages/Xamarin.Forms.4.5.0.396/build/Xamarin.Forms.targets(90,4): error MSB4064: The "XamlFiles" parameter is not supported by the "XamlGTask" task. Veri

[2020-03-21 23:38] rdev24608 commented on #9823
I also tried to upgrade to latest version but still getting the warning also my app is crashing when i add the additional mtouch arguements @jfversluis .

[2020-03-21 23:42] PureWeen commented on #9823
@rdev24608

Try this
https://github.com/xamarin/Xamarin.Forms/issues/9823#issuecomment-594758733

If it still doesn't work what's the exception?

[2020-03-21 23:43] rdev24608 commented on #9823
I did that every time I build but no luck

[2020-03-21 23:46] PureWeen commented on #9823
exception?

[2020-03-21 23:58] shidem commented on #8272
@samhouts What do I need to do to escalate issue? It needs fixing! Nobody seems to be a paying attention except us. Boss wants answers, not workarounds.

[2020-03-21 23:59] shidem commented on #8272
I was being polite earlier, but now it's time to shout - "FIX IT NOW!!!!!"

[2020-03-22 02:58] xleon commented on #8272
@shidem  I agree this should have been fixed already, but shouting with bad manners won't encourage anyone to do their job, but the oposite. This is an open source project and you are free to go and fix it yourself rather than crying like a baby.

[2020-03-22 03:21] shidem commented on #8272
@xleon @samhouts My humble apologies for shouting. But I do see a large number of PR's that have not been acted on. Also, Microsoft owns this and I appreciate the fact it is open sourced. My expectation is that things would continue improve. I let my frustration get the best of me. However, the frustration remains.

[2020-03-22 04:14] jimmyjxiao opened #10049 "[Bug] AdaptiveTrigger crashes when paired with a Setter with TargetName"
### Description
When paired with a `Setter` that has the `TargetName` property, using `AdaptiveTrigger` can throw an exception that crashes the application if the trigger is hit when the page loads. The exception thrown is

### Steps to Reproduce

1. Open the VsmDemos solution from the [Xamarin-Forms-Samples](https://github.com/xamarin/xamarin-forms-samples)
2. Go to VsmSetterTargetName.xaml and r

[2020-03-22 04:52] Adam-Langley commented on #5311
Workaround - replace Labels with Buttons. Nasty, but fixes the issue for me.

[2020-03-22 11:43] Mikilll94 commented on #8272
@shidem @samhouts
The problem is that Xamarin team is constantly releasing new versions with new features while ignoring bugs from previous versions.

I prefer less features and more stability than opposite.

[2020-03-22 13:04] sathyadg commented on #9868
Setting RemovePlaceholderConstraints="True" helped me to resolve this.

[2020-03-22 15:45] Sakthivel-sync opened #10050 "[UWP]Exception throws when converting Xamarin.Forms RelativeLayout to Native View"
### Description

Exception throws when converting Xamarin.Forms RelativeLayout to Native View. The relative layout was crashed only in UWP.

**StackTarce details:**

   at Xamarin.Forms.RelativeLayout.OnSizeRequest(Double widthConstraint, Double heightConstraint)
   at Xamarin.Forms.VisualElement.OnMeasure(Double widthConstraint, Double heightConstraint)
   at Xamarin.Forms.VisualElement.GetSizeRe

[2020-03-22 16:37] BlueFire-LLC commented on #8503
Same here for me with both Entry and Edit controls. Using latest XF.

[2020-03-22 16:55] VollRahm commented on #2096
Having Trouble with this right now on Samsung Galaxy S7. It works with a Custom Renderer but then there is no animation. When i manually make a animation changing properties the Button gets this weird Ripple again. @sthewissen Renderer is a good workaround for this.

[2020-03-22 17:16] minahenin commented on #6908
@samhouts can you help prioritizing this issue please?

[2020-03-22 17:48] shidem commented on #8272
@xleon @samhouts @Mikilll94 I'm with ya Mikill! Not a buzz kill for me, but others have indicated massive code refactoring to incorporate the workaround @victorbotamedi  proposed. I hope my posts escalate this issue to resolution and incorporation into the code base. A number of pull requests appear to be languishing; I suspect the maintainers/owners are overwhelmed and dealing with high impact is

[2020-03-22 18:33] Mikilll94 opened #10051 "[Bug] OnAppearing called after permission dialog on Android"
### Description
On Android the `OnAppearing` method is called after accepting and denying a permission.

### Steps to Reproduce

1. Download this project.
[OnAppearingBug.zip](https://github.com/xamarin/Xamarin.Forms/files/4365882/OnAppearingBug.zip)

2. Put breakpoint in the `OnAppearing` method.
3. Click "Request location permission" button.
4. Grant or deny the permission.
5. The breakpoint is

[2020-03-22 19:26] pfedotovsky commented on #7713
@PureWeen I've updated my app to use AndroidX. Could you please elaborate on Material packages I need to use?

[2020-03-22 19:27] JPZV commented on #9190
Hello, I had the same problem as you and I managed to solved at least some issues that I had:

First: There is an issue with a lot of files where the name is like: MyFont-Regular.ttf, the problem is that Android's asset cannot have the '-' in their file's name, so you should change all the MyFont-Regular.ttf to MyFont.ttf or MyFontRegular.ttf
Second: You _don't_ need to copy the files in the iOS p

[2020-03-22 19:42] PureWeen commented on #7713
You'll probably have to wait until we up our material dependency

https://github.com/xamarin/Xamarin.Forms/pull/9701

There are some style changes we have to address before we can merge that PR though

[2020-03-22 19:46] pfedotovsky commented on #7713
@PureWeen thank you for the prompt reply! I've subscribed to the PR.

My app currently uses `Theme.AppCompat.Light.NoActionBar`, will I need to update to the Material theme (https://docs.microsoft.com/en-us/xamarin/android/user-interface/material-theme)? I don't need to support Android versions below 5.0.

[2020-03-22 19:55] PureWeen commented on #7713
@pfedotovsky nope :-)

[2020-03-22 19:58] PureWeen commented on #7713
@pfedotovsky you could try installing this package to see if that works for you

https://www.nuget.org/packages/Xamarin.Google.Android.Material/1.1.0-rc3

[2020-03-22 21:04] pfedotovsky commented on #7713
@PureWeen works perfectly, thank you! Text is no longer cut off in bottom tab titles.

[2020-03-22 22:00] RonnyBansemer commented on #10032
@jfversluis I did not check it with iOS and a non-material Stepper. I Will check it tomorrow and apply a test project.

[2020-03-23 02:25] hig-dev commented on #9900
I have the same problem and I can confirm that disabling "bundle assemblies into native code" fixes the problem. However, this is not an option for me for the Release build. The bug is maybe related to #1595

[2020-03-23 03:13] jingliancui opened #10052 "[Bug] Custom Font for displaying font icon no effect on iOS Platforms"
The preview feature displaying font icon sample here:
[SampleApp.zip](https://github.com/xamarin/Xamarin.Forms/files/4367020/SampleApp.zip)
1.Run the sample to deploy to android device → Normal
2.Run the sample to deploy to iOS device → No effect

The traditional normal displaying font icon sample here:
https://github.com/jingliancui/XamarinFormsFontAwesomeSample

[2020-03-23 06:15] AnandRaj32 commented on #9918
@jfversluis  Thanks for the update!
I have already told that If we return true in ShouldCharacterChanged event the keyboard suggested properly. If I have returned false only the keyboard not shown properly.

We have handled the text in our side, so only we returned false in ShouldCharacter changed event. Please let me know if you need any other details.

[2020-03-23 07:47] AnandRaj32 opened #10053 "Typing Korean does not work properly on iOS"
### Description

Unable to input the Korean words to the UITextField. When the user types  "ㅅ ㅓ ㄱ ㅇ ㅕ ㄹ", for example,  it should appear as "석열".

But when I try to type in, I unable to get a word in the suggestions in iOS.

In my scenario, I have handled the UITextField typed text on my side. So I have return false in ShouldCharactersChange event. If I have returned true in ShouldCharactersChange

[2020-03-23 07:54] scriptBoris commented on #1944
I am updating the question :)

[2020-03-23 08:31] matteopiccioni commented on #9951
I have the same problem

[2020-03-23 08:44] JohnHDev commented on #9503
Yes, it is still an issue. Please reopen and I will submit a repo for you.

[2020-03-23 09:02] MarcusCoding commented on #9974
Good morning,

you were right, it worked perfect on the simulators. (IPhone 11 IOS 13.3 & IPone 11 Pro Max 13.3)

But on the physical devices like the iPad Air 2 (IOS 13.3) or a IPhone 6s (IOS 13.3.1) it lags.

[Here ](https://1drv.ms/v/s!AiAlKGax1tZRyz1dHovletKrXJu6?e=XwejDy) is a link to the video,  to show how it looks.

As you can see the small "kuzco" only moves every x seconds.
(at 17 second

[2020-03-23 09:25] jsuarezruiz commented on #10049
More information:

[code]

[2020-03-23 10:02] JohnHDev commented on #9503
More information for you, TranslationY is ignored in Xamarin.Mac.
The reason it works for us is because we are using an animation, e.g:
`            _frame.TranslateTo(0, 20, 0); `

[2020-03-23 10:21] TingtingAn commented on #1671
@kingces95  any solution here?

[2020-03-23 10:32] JohnHDev commented on #9503
Paste the following code into the constructor of a content page. Then run it on a mac, click on the tap half of the box view to see the tap gesture working. Tap on the bottom half of the box view and the tap gesture doesn't trigger.

[code]

[2020-03-23 10:51] Matmork commented on #9711
Made a repro. Click the red group header
[HeaderWrapperView.zip](https://github.com/xamarin/Xamarin.Forms/files/4368766/HeaderWrapperView.zip)

[2020-03-23 11:08] RabhiaBehamK opened #10055 "While using ListView DataTemplate, the requestLayout improperly called issue arises."
### Description

ListView DataTemplate shows the following error message in the output window

"[View] requestLayout() improperly called by md58432a647068b097f9637064b8985a5e0.NavigationPageRenderer{b089ff1 V.E...... ......ID 0,0-1080,1731 #1} during second layout pass: posting in next frame"

### Steps to Reproduce

1.  Create a ListView with a collection in a custom layout.
2.  Run the sample.
3

[2020-03-23 11:21] nodoid commented on #9873
I'll need to email the page to you as it's part of a commercial package

[2020-03-23 12:13] MattGoldmanSSW opened #10056 "[Bug] [iOS] SwipeView items don't support TapGestureRecognizer"
### Description
When using SwipeView on Android and adding a TapGestureRecognizer to a SwipeView item, swiping and tapping behaves as expected. On iOS the taps are ignored.

### Steps to Reproduce

1. Add a swipeview item to your view
2. Add a TapGestureRecognizer
3. Tap on iOS - nothing happens
4. Tap on Android - event handler is fired

### Expected Behavior
TapGestureRecognizer event handler is

[2020-03-23 12:20] #9413 closed

[2020-03-23 12:20] #6187 closed

[2020-03-23 12:20] #6403 closed

[2020-03-23 12:20] #9322 closed

[2020-03-23 12:20] #9952 closed

[2020-03-23 12:21] #9401 closed

[2020-03-23 12:21] #9432 closed

[2020-03-23 12:21] #9771 closed

[2020-03-23 12:21] #9265 closed

[2020-03-23 12:52] jaspervanmegroot commented on #4848
Really need this..... zZz

[2020-03-23 13:10] WillSinger commented on #9868
Hi sathyadg - Thanks for the input! Is that a property of the Editor class?  Can you give me any more information on how to do that?

[2020-03-23 13:20] justype opened #10057 "[Bug] The app crash when page contains SwipeItem (Android)"
### Description
https://github.com/xamarin/xamarin-forms-samples/releases/download/113494/Xamarin_Forms___SwipeView.zip
It first **worked fine** (Xamarin.forms **4.4.0.991265**)
But when I update Xamarin.Forms to _4.5.0.396_.
The app _crash_ when navigating to the page which contains SwipeView. (except SwipeViewCustomItemPage)

`System.Reflection.TargetInvocationException: 'Exception has been thro

[2020-03-23 13:29] Burgler-dev commented on #9790
I can confirm that 4.5.0.396 still has the issue. Will there be fix for 4.5 @rmarinho ?

[2020-03-23 13:44] justype commented on #10057
Sorry, Forget to delete ` <SwipeItem Text="123"/>`
using SwipeItemView
[code]

[2020-03-23 14:06] jan-rucka commented on #9913
Hello Gerald,

I reproduced the behavior in version based only on Xamarin.Forms, no Prism. And additionally I noticed on UWP that when you click on menu item, the label in center of target page is not displayed/rendered, you have to resize the app to see it.

You can find the sample [here](https://github.com/jan-rucka/LandscapeOnIosXamarinOnly)

[2020-03-23 14:29] steven-pearson commented on #8067
Tried a number of ways to work round this issue but to no avail. Anyone had any luck?

[2020-03-23 14:37] #10045 closed

[2020-03-23 16:56] WarBorg commented on #3543
@samhouts  this is still an issue with fast renderers if you place the button on a layout (AbsoluteLayout, Grid,.. "kind of layout that allows overlap") and all of that into a ScrollView and into a NavigationPage it will duplicate the same behaviour as mentioned in the original bug

there is also a related issue with this, having the button on a layout (AbsoluteLayout, Grid,.. "kind of layout that

[2020-03-23 17:02] samhouts commented on #3543
@WarBorg Yes, please create a new issue! Thank you!!!

[2020-03-23 17:07] YZahringer commented on #4714
The current behavior is specific to the UWP platform and is documented here: [UIElement.DoubleTapped](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.doubletapped#remarks)

Replacing `NumberOfTapsRequired == 2` by `NumberOfTapsRequired == 1 || NumberOfTapsRequired == 2` on [OnDoubleTap/children](https://github.com/xamarin/Xamarin.Forms/blob/8e90f8270454acdbed16a5bb88d875edac6ee8

[2020-03-23 17:46] jantanis opened #10059 "CollectionView: EmptyView shown view before items are loaded for the first time"
### Description
The EmptyView shows immediately together with the refresh spinner.

### Steps to Reproduce
1.  Open sample project
2. Hit Run

### Expected Behavior
EmptyView does not show while IsRefreshing is true. At least for the first time.

### Actual Behavior
Immediately shows EmptyView

### Basic Information
- Version with issue: 4.5.0.396
- Last known good version:
- IDE:
- Affected Devic

[2020-03-23 19:03] jmmortega commented on #9711
I think a get a workaround related with.
It's related with IsVisible in several controls, so create a CustomRenderer must be work to avoid crashes with that, because all code that receive crash not seems relative to working correctly.

Here a sample gist.
https://gist.github.com/jmmortega/7f8c894eac2287985942271e4d886f42

[2020-03-23 19:04] rossegger13 opened #10060 "[Bug] Stacklayout with ListView inside does not update heights when ListView Item is removed"
### Description: I have a problem in my View. I've got a ListView in it with some Data and also a delete button for each item. Underneath the ListView I got Grid with a label. In my ViewModel I have got a ObserveableCollection with my data in it and also a function to delete the item. This all works fine. So, when I'm deleting a item from my ObservableCollection it disappears in the View, but ther

[2020-03-23 19:11] Rasetech commented on #8498
@PureWeen good luck with the fix, I also need this as soon as possible.

[2020-03-23 19:28] hudaIT commented on #10057
Still exists in latest preview

[2020-03-23 20:16] luismts commented on #9947
+1

[2020-03-23 20:28] luismts commented on #9032
+1

@dmitryshindin thanks for the workaround! You are cool

[2020-03-23 20:45] samhouts commented on #9399
@Alex-Dobrynin  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2020-03-23 20:45] #9399 closed

[2020-03-23 20:45] samhouts commented on #9581
Duplicate of #1600

[2020-03-23 20:45] #9581 closed

[2020-03-23 21:48] mdbill opened #10061 "[Bug] Animation broken again in Android. Possibly related to #7291"
### Description

Similar to #7291, I'm translating and rotating a button and it's becomes partially obscured.  Unlike before where the bug made it so nothing showed.
It's hard to explain. but works fine up until 4.4.0.001477

### Basic Information

- Versions with issue: 4.4.0.991477 thru 4.5.xxxx
- Last known good version: 4.4.0.991265
- IDE:
- Platform Target Frameworks:
  - iOS:  didn't try thi

[2020-03-23 21:48] hartez commented on #10059
@jantanis You want the CollectionView to remain completely blank until at least one item is loaded. After that, if all of the items are removed, the EmptyView will be visible. Is that correct?

[2020-03-23 22:04] jfversluis commented on #9873
I didn't mean the actual source necessarily, a small project with just the bits to show us the issue.

I did however have a quick look at the thing you send me and it seems that indeed there is some navigation happening by some JavaScript magic? Or am I not reading that correctly?

Not saying that the event shouldn't be fired then, just trying to figure out what the exact scenario is here

[2020-03-23 22:46] pierceboggan commented on #9166
Thanks for the feedback and valuable suggestion! For any tooling around Xamarin.Forms, Visual Studio Developer Community is the best place to leave your feedback (either bugs or suggestions).

We want our tools to be flexible to the authoring style that makes you most productive, including those that author their Xamarin.Forms UI in code. Check out our suggestion for C# hot reload, which is listed

[2020-03-23 22:46] #9166 closed

[2020-03-23 22:48] GeoSaffer commented on #8436
@samhouts is there any feedback on this issue ?

[2020-03-23 22:55] SymxnCreator opened #10062 "[Bug] Binding to StreamImageSource doesn't work"
### Description

Hi there,

There is an error with the StreamImageSource.

The following scenario exists:
In XAML there is an image control. Its source property binds to a property in the ViewModel of type ImageSource.

We then create another ImageSource variable, name it streamImage, for example, and assign it a image using the FromStream method.

If we now assign the streamImage variable to the

[2020-03-23 22:56] hartez commented on #9787
@hulluP I tried to `git clone` your repo and build your app, but the iOS build is throwing errors.

[2020-03-23 23:05] hartez commented on #10061
@mdbill Are you seeing the problem described in #9802?

[2020-03-23 23:40] nodoid commented on #9873
The project takes a user/pass and sends to the service which returns the HTML I emailed to you. This then is fired to another service held on another server (in this case, a membership website) so my server sends the HTML to the WebView, the WebView runs the HTML and JS which is then passed to another server as the login credentials and token.

[2020-03-23 23:40] nodoid commented on #9873
I'm happy to send you the project as a zip file if it helps.

[2020-03-24 00:19] kingces95 commented on #2562
I'm seeing this exception when I update to the latest v4. We're investigating but if anyone has an updated reproduction that'd be appreciated.

[2020-03-24 00:40] ScottBTR commented on #8801
Hi @PureWeen,

As described previously by @mkieres above we are still expiercing the same issue post-update:

`Java.Lang.NullPointerException: 'Attempt to read from field 'int android.view.ViewGroup$LayoutParams.width' on a null object reference'`

I'm wondering if it would be possible to look into this case? I've provided some info about the occurence below but am happy to provide more if require

[2020-03-24 02:09] luismts commented on #9326
+1 on android too

Any news about this?

[2020-03-24 04:27] mdbill commented on #10061
Looks like the same problem.

[2020-03-24 05:33] divi1411 commented on #9142
Any update on this?

[2020-03-24 05:58] jantanis commented on #10059
@hartez Yes. The refreshview is having a spinner indicating that it's loading. So when it's loading you cannot determine if there will be results. Therefor it would make sense if the emptyview is not shown until binded to an actual (empty or not) collection. So if bindablecollection is null, do not show emptyview. Makes sensem because that is not an empty collection.

[2020-03-24 07:08] MackYang commented on #9981
Android 9.0
XamarinForm 4.2.0.848062
Thanks

[2020-03-24 07:58] 007vel commented on #4761
Any update on this?

[2020-03-24 08:26] IgorStrekha commented on #9619
any news?

[2020-03-24 09:01] Borjamao commented on #5153
Oh!! thanks a lot!! i'll play with it

[2020-03-24 09:38] jsuarezruiz commented on #8272
Alan's PR #4330 will fix this issue (and others). I will help and review the PR to merge it soon. In the meantime, I have created a fix for this specific issue https://github.com/xamarin/Xamarin.Forms/pull/10066 (only fix TextDecoration issue on iOS, nothing related with triggers and other platforms)

![fix8272](https://user-images.githubusercontent.com/6755973/77409838-380de200-6dba-11ea-94f6-f89

[2020-03-24 09:38] jfversluis commented on #9913
Thanks @jan-rucka! Definitely see it happening here as well. I went back to 4.0 where it also happens.

[2020-03-24 09:42] jaspervanmegroot commented on #4848
@programmation Do you have an example for this?

[2020-03-24 09:43] jfversluis commented on #10053
Hey @AnandRaj32 I see you already opened a very similar bug but for Chinese. I would propose to stick to that one as it seems to be the exact same case and likely the solution will be the same.

[2020-03-24 09:43] jfversluis commented on #10053
Duplicate of #9918

[2020-03-24 09:43] #10053 closed

[2020-03-24 09:51] jfversluis commented on #9981
Would you be able to test on the latest stable Forms version? Also, still a reproduction project would be awesome.

[2020-03-24 10:01] jfversluis commented on #9974
Thanks for the video! I have tried it on my iPhone Xs physical device and it also works perfectly there. So this is turning out to be a hard one 😅

Of course the hardware is a bit dated. I know I'm asking a lot but would you maybe be able to show a gif on a plain Xamarin.iOS project without Forms and/or a fully native project done in Obj-C/Swift? That way we can determine if its something we did o

[2020-03-24 10:19] WarBorg opened #10067 "[Bug] Can't Overlap a Button with any view under certain circumstances"
### Description

Having the button and another view in front of the button on a layout (AbsoluteLayout, Grid,.. "kind of layout that allows overlap") and all of that into a ScrollView and into a NavigationPage the button will always be on top

There is also a related issue with this, having the button on a layout (AbsoluteLayout, Grid,.. "kind of layout that allows overlap") with something in fron

[2020-03-24 10:39] hulluP commented on #9787
HI @hartez

Sorry I did a local change to test which was not supposed to be pushed. I cleaned up the repo it does work again.

HP

[2020-03-24 10:48] jfversluis commented on #9914
Really appreciate the effort @vik12J thank you so much!

[2020-03-24 11:37] Suplanus opened #10069 "[Enhancement] Accessibility: Check if setting is active"
## Summary
Possiblity to check if VoiceOver or TalkBack is active.

## API Changes
This property should be implemented:

[code]

## Intended Use Case
Some controls could depending if a user has activated accessability or not.

Example: I have buttons which only appear if the user tap the background. This buttons should always be visible if `AutomationProperties.IsAccessabilityFeatureEnabled` is `t

[2020-03-24 11:37] BrayanKhosravian commented on #9249
@bruzkovsky

[2020-03-24 11:55] MitchBomcanhao opened #10070 "[Question] Cannot debug iOS since updating to VS 16.5.0"
Ever since I've updated to VS2019 16.5.0 I've been unable to debug our iOS apps.
This 16.5.0 windows release had mismatched mono and xamarin components to the mac release (which was still on the previous point version).
It connects, builds, deploys, runs the app. but shortly after the app starts, a VS popup appears with this exception
[code]

Now that the 8.5 mac version has been released, it's th

[2020-03-24 12:52] winterdouglas commented on #7218
+1 on this issue.
Any feedbacks on when this will receive a fix?

Thanks.

[2020-03-24 12:56] AlexanderMelchers commented on #7218
Seeing the same issue on Xamarin.Forms 4.4.0.991640. Set-up is again a `Grid` with a `Frame` in the top row, then a `CollectionView`, `BoxView` and `Button` at the end. When turning on the shadow on the `Frame`, the `BoxView` also gets a shadow.

What seems to work as a work-around in our case is to manually set an `android:VisualElement.Elevation` on the `Frame`. With this turned on, the issue is

[2020-03-24 13:01] maexsp commented on #9990
We experienced the same issue. Not yet fixed in actual version 4.5.0.396

[2020-03-24 13:10] Mihael479 commented on #6697
I also have problem with this, any progress on this bug?

[2020-03-24 13:23] MitchBomcanhao commented on #10070
![image](https://user-images.githubusercontent.com/31066938/77430119-93e46500-6dd2-11ea-9cec-02bb528c862a.png)

[2020-03-24 13:25] MarcusCoding commented on #9974
No problem.

While testing the IPad it had 98 %. I have forgot the battery status of the 6s.

So I tested it on the IPad Air 2 with the following projects:

**Swift native code**
https://github.com/swiftgif/SwiftGif

**Xamarin IOS**
https://github.com/MarcusCoding/test
(using the FFImageLoading Library)

Both projects were completely fine on the IPad.

While typing this I edited the testGIF projec

[2020-03-24 13:34] jfversluis commented on #10030
So, I'm not really sure if this is a bug. While this is clearly possible with a `ListView`, I don't think this was an intended use-case. I have however managed to come up with (some kind of) workaround.

Depending on how you want to reference your `ListView` you can do something like this.

[code]

[code]

You can do it a bit differently and definitely add error handling, but this way the opened g

[2020-03-24 13:36] jfversluis commented on #9974
That _is_ interesting. Thank you for all your cooperation in this, we really appreciate it.

So, at least it's clear that it must have something to do with our implementation then somehow. @PureWeen any ideas?

[2020-03-24 13:57] dinesh4official opened #10071 "[Bug] SVG image is not loading in Tabbed Page Tab bar"
Hi Team,

Hope everyone is well and safe at home !!!

### Description

I am trying to load the SVG image in Tabbedpage tab icon in bottom bar placement. But it is not rendering in View. I have tried in both top and bottom bar view but no result.

Additionally, I have also tried in custom tabbed page renderer as per below Xamarin guidelines using GetIconDrawable and still no positive result.

https

[2020-03-24 14:15] candidodmv commented on #4761
For those that need an imediate solution there's this workaround
https://byteloom.marek-mierzwa.com/mobile/2018/02/07/setting-tint-color-in-xamarin-form-image.html

[2020-03-24 14:21] jfversluis commented on #10035
I have just tried this project on a recent device (Galaxy S10) and I don't hear a clicking sound out of the box. However, I can enable the sound by going into the settings of the phone and enabling it under touch interactions (might be named differently in other Android versions).

When I then upgrade to 4.5 stable, even with the OS setting on, the touch feedback is no longer there. I _think_ this

[2020-03-24 14:51] jfversluis commented on #9991
Confirmed this is happening. Even with latest nightlies at this time. Enable screenreader and the items in the `CollectionView` will just get selected instead of the gesture recognizer being fired.

[2020-03-24 15:16] jennablackwell commented on #6112
@samhouts will this be included anytime soon?  Been waiting on this for awhile since switching to AppShell!  It's pretty much **expected** in apps to have a red badge on a tab icon for notifications....

[2020-03-24 15:17] jfversluis commented on #9696
Since this is reported fixed, I will close this for now.

[2020-03-24 15:17] #9696 closed

[2020-03-24 15:26] Mikilll94 opened #10073 "[Bug] FlexLayout JustifyContent - bug on Android when changing"
### Description

FlexLayout.JustifyContent is not working properly on Android when changing orientation.

In my code I am changing FlexLayout.JustifyContent when changing orientation but as you can see something different is rendered than the value which is currently set

Just look at the GIF below.

When I visit the page first time, the "Space between" value of JustifyContent is correctly rendere

[2020-03-24 16:12] cmarshall108 commented on #9648
I hope this gets fixed soon. It is a fairly basic need and does not currently work properly.

[2020-03-24 16:16] samhouts commented on #9620
@AndreiMisiukevich  Nope, this is clear! Thank you!

[2020-03-24 16:25] samhouts commented on #7152
@nor0x This is on the high priority list of things to resolve. We're working on it!

[2020-03-24 16:28] samhouts commented on #4917
@pver Can you please provide a sample project that demonstrates the issue? Thanks!

[2020-03-24 16:31] samhouts commented on #7464
@Muthukumaran-G I don't have an update yet. This is still on the backlog. Thank you!

[2020-03-24 16:32] samhouts commented on #2395
@Devaraj-Sekar Can you please open a new issue? Thanks!

[2020-03-24 16:34] samhouts commented on #3444
Yes, we are still considering this. What would the Xamarin.Forms API look like? Can you show examples of how to use it with C# and XAML? Thanks!

[2020-03-24 16:42] samhouts commented on #9437
@Sakthivel-sync We don't really support the scenario you're describing, which is why those error messages are thrown.

[2020-03-24 16:50] samhouts commented on #9957
@IoTFier

1. EventToCommandBehavior is not part of Xamarin.Forms. We can't make any changes to it, if that's what you're suggesting. Please submit that request to the Prism team.
2. We are not able to change the type of a Command on Xamarin.Forms controls, as that would be a severely breaking change.
3. If there are missing commands that are making it difficult for you to work with the controls, p

[2020-03-24 16:50] #9957 closed

[2020-03-24 16:56] samhouts commented on #8436
We've fixed this one multiple times. I wonder how it keeps coming back.... https://github.com/xamarin/Xamarin.Forms/pull/3283

[2020-03-24 17:11] ArtjomP commented on #3444
OnKeyUp (Down) event for ContentPage would be ok.
I would like more something like this one:
[code]

[2020-03-24 17:14] gioggio79 commented on #6851
Xamarin Forms 4.5.0.356 bug still here.
Any news or update for this issue?

[2020-03-24 17:34] rmarinho opened #10074 "[Bug] Changing PeekAreaInsets dynamically brings some visual issues on UWP"
### Description

PeekAreaInsets is a BP and you can change it dynamically, sometimes there are some issues rendering the current item on UWP

### Steps to Reproduce

1. Go to CarouselViewCode
2. Change PeekAreaInsets

### Expected Behavior

Should center the item with correct size

### Actual Behavior

The item sometimes is not centered and with wrong size

### Basic Information

- Platform Target

[2020-03-24 17:57] lsaudon opened #10076 "[Bug] Navigation.RemovePage loses context"
### Description

When remove all page except one or two. View loses context.

### Steps to Reproduce

1. Push pages
2. Remove all pages except one

[code]

### Expected Behavior

![Screenshot_1585072220](https://user-images.githubusercontent.com/25029876/77459679-61e9f780-6e00-11ea-9df1-54b1116c88d1.png)

### Actual Behavior

![Screenshot_1585072248](https://user-images.githubusercontent.com/25029

[2020-03-24 18:03] lsaudon commented on #10076
An ugly solution.
[code]

[2020-03-24 18:11] domenk opened #10077 "[Bug] Label with padding cuts text in specific cases on iOS"
### Description

In certain cases Label on iOS may cut last line of text. This happens if padding is applied to the Label and the text would otherwise fit into the view if the Label was the same width but without the padding.

Issue occurs on iOS. Android is fine.

### Steps to Reproduce

Run the attached project: [FormsBug.zip](https://github.com/xamarin/Xamarin.Forms/files/4376954/FormsBug.zip)

[2020-03-24 20:41] danf25 commented on #8498
Effectively, good luck. I really appreciate your effort. Thank very much.

[2020-03-24 21:13] ninaada commented on #10040
Facing same issue

[2020-03-24 22:57] #10019 closed

[2020-03-24 22:57] #9417 closed

[2020-03-24 22:58] KSYMEK opened #10080 "[Bug] Cannot pair and build project from MacOS to Visual Studio WIndows after upgrade MacOS"
After upgrade MacOS Catalina from version 10.15.3 to 10.15.4 on Macbook Pro 2018, I cannot pair my PC (Windows 1909) to previously mentioned Macbook. Issue can be also related to the newest version of XCode but I am not sure. After that I tried to update Xamarin from Visual Studio on my PC to latest version and I also tried doing it on my Mac.

Error: Xamarin.Messaging.Integration.State.ServerStat

[2020-03-24 23:00] JuanuMusic commented on #7473
I spend so many hours trying to figure out what the issue was. @samhouts it would be really wise to add some comments to the Xamarin documentation, since it only shows the example on a listview and might lead to confusion just like it happend to  @Chris-Marassovich and I .

Thanks!

[2020-03-24 23:20] hartez commented on #10080
After updating to the newest XCode, did you open XCode? Sometimes you have to run it once so it can install additional components.

[2020-03-24 23:21] KSYMEK commented on #10080
Yes I tried it, I forgot to mention it.

[2020-03-25 02:31] akatsukle opened #10082 "[Bug] Android build has issues on android emulator after updating to vs 16.5.0"
### Description

Since updating to vs 16.5.0, running on the emulator no longer works correctly.
The SynchronizationContext apparently sometimes enters in a deadlock state.
In my case the issue occurs about 90% of the time.
This only happens during the first call to Navigation.PushAsync. If this call returns then, every subsequent call will work as expected.

I could not reproduce this issue on a

[2020-03-25 04:57] akatsukle commented on #10082
A quick update:
The issue also manifests on a real device, although very rarely.
I didn't have any issue yet with a release build.

[2020-03-25 05:00] LakshmiNatarajan21 commented on #9110
Could you please update on this?

[2020-03-25 06:29] kumkum8655 opened #10084 "Check Size increase based on width and height of Checkbox not using scale"
## Summary
Please provide a brief summary of your proposal. Two to three sentences is best here.

## API Changes

Include a list of all API changes, additions, subtractions as would be required by your proposal. These APIs should be considered placeholders, so the naming is not as important as getting the concepts correct. If possible you should include some "example" code of usage of your new API

[2020-03-25 08:15] angelru opened #10085 "[Bug] CollectionView Header, EmptyView And GridItemsLayout"
Description
When I use a CollectionView with Header and EmptyView with GridItemsLayout,
the design looks bad, I think GridItemsLayout should only affect ItemTemplate and not the CollectionView object.

Steps to Reproduce

[code]

Expected Behavior
GridItemsLayout should not affect Header, EmptyView or Footer, only ItemTemplate.

Actual Behavior
GridItemsLayout affect Header, EmptyView, Footer and

[2020-03-25 08:21] lavilaso commented on #10059
For me an approximation that has worked is inside EmptyView to put a label that points to a property of type string. In my ViewModel, before executing the code that loads the collection linked to the CarouselView, I set the Label property to Loading, then I execute the code that loads the CarouselView and if there is no data I change the property of type string linked to the Label to something tha

[2020-03-25 09:57] jfversluis commented on #9878
Thanks for finding that @VladislavAntonyuk :)

As pointed out this is a duplicate @JamesRoche. I'll close this one so we can track progress in the other. If you have any additional needs or more detailed ideas, please feel free to add them there.

[2020-03-25 09:57] jfversluis commented on #9878
Duplicate of #9878

[2020-03-25 09:57] #9878 closed

[2020-03-25 10:19] RsZoli commented on #9890
@StephaneDelcroix any news on this? :(

[2020-03-25 11:18] jeyakasipandi commented on #10055
Can you check this issue with high priority?

[2020-03-25 11:40] hitaspdotnet commented on #9212
When will this be released to NuGet?

[2020-03-25 12:54] PawKanarek commented on #9765
Guys? The April is near...

[2020-03-25 14:05] haiduong741 commented on #9765
Yes. April is comming. And I must choose between 2 options XF 4.5 remove UIWebView and 4.4 using Navigation has background.

[2020-03-25 14:16] delaney31 commented on #5517
It's back! I'm getting the same error after updating my UWP projects to 4.5
System.NullReferenceException: Object reference not set to an instance of an object.
   at Xamarin.Forms.Platform.UWP.SwitchRenderer.UpdateOnColor()
   at Xamarin.Forms.Platform.UWP.SwitchRenderer.OnControlLoaded(Object sender, RoutedEventArgs e)

[2020-03-25 14:17] PawKanarek commented on #9765
But i don't have an option as one of my App is not published. So i have only option with XF 4.5 and this navigation bar. My QA and PM are asking me everyday about this bug because I have 4 buttons on navigation bar. (LeftItem for LoggingIn/Settings, Right buttons for Seach, Chromecast, and Secondary Items). Also colors of this navigation bar can be changed, so there are 5 things that this bug is c

[2020-03-25 14:19] SpongeDude commented on #10080
Same issue here : /

[2020-03-25 14:32] dylanberry commented on #7478
I'm still seeing this issue with Xamarin.Forms 4.4. Is there a workaround available?

[2020-03-25 15:14] samhouts commented on #9765
I'm closing this because it is a duplicate of #9790. That issue has been resolved, and the fix will be released in a 4.5.0 service release today or tomorrow. Thanks for your patience!

[2020-03-25 15:29] huybuidac commented on #1595
For anyone is facing the issue, you only need to update Xamarin.Android from 10.0 to 10.1 or up.

ref: https://github.com/xamarin/xamarin-android/issues/3596

[2020-03-25 15:31] delaney31 commented on #9694
This is still happening for me after upgrading from Xamarin Forms 4.1 to 4.5

[2020-03-25 15:36] WilkoSki commented on #8151
I've now upgraded our app to XF 4.5 (made no code changes) and can confirm that the issue appears to have been resolved.

[2020-03-25 16:26] NunoBem commented on #9817
Had the same issue before, now in XF 4.5 the same.

[code]

[2020-03-25 17:33] ngalicoco commented on #9765
@samhouts If possible, can you please post here once is the fix is available on nuget as we are all following this conversation ?

[2020-03-25 18:40] lazmeister commented on #8581
Happening to us as well, since 4.3 the flicker has been around on Android.

[2020-03-25 18:45] pedromocoramalho commented on #10070
I have de same problem. And after upgrade to 16.5.1 a have other problem de xaml file don't appear on add new item.

[2020-03-25 18:48] samhouts commented on #9765
It should be available now! https://www.nuget.org/packages/Xamarin.Forms/4.5.0.495

[2020-03-25 19:46] arunr14 opened #10086 "[Bug] SwipeView.RightItems Label is Missing/Hidden Due to Bad Alignment"
### Description
On Forms 4.6 pre 1 , when using a SwipeView.RighItems in mode "Execute", the "Text" field is pushed all the way to the left and becomes hidden until the very end of the swipe.
### Steps to Reproduce

1. Use a swipe view inside a list view

2.
[code]

3.

### Expected Behavior
The text for SwipeItems.Leftview is displayed in the correct location, and I expect a similar behaviour for

[2020-03-25 19:47] titoleru commented on #4510
@SirAeron is right. The solution that worked for me is using a normal Image with GestureRecognizer:

<Image BackgroundColor="Red"
              Source="image1"
              HeightRequest="140"
              HorizontalOptions="CenterAndExpand">
                    <Image.GestureRecognizers>
                        <TapGestureRecognizer Command="{Binding BookingCommand}" NumberOfTapsRequired="1"/>

[2020-03-25 20:19] Glabenwitt opened #10087 "[Enhancement] VisualState Actions"
## Summary
Add the ability to exectute actions when a VisualState is applied. (Similar to EventTrigger but for VisualState)

## API Changes

I think of adding a list of actions on the VisualState class in order to execute them when a state is applied.
In the same way than EventTrigger, it can be either a SealedList of TriggerAction.

Here is a example of what i'm thinking :
[code]

I was thinking

[2020-03-25 20:35] haavamoa commented on #10080
Have you tried upgrading VS today?

I notice a pair to mac issue resolved in the latest VS.
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#16.5.1

[2020-03-25 20:42] adamswallows commented on #10080
Same issue after upgrading to MacOS Catalina - 10.15.4 and Xcode 11.4.

Opened Xcode and when prompted, installed the necessary components.

VS Professional 16.5.1 is unable to pair.

[2020-03-25 20:44] breitburg opened #10088 "Can't access AppInfo.RequestedTheme"
I followed [this](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/theming/dark-mode) documentation, but the exception appeared on both Android and iOS.

![](https://i.imgur.com/GzSIT2P.png)

`ApplyTheme` code:

[code]

[2020-03-25 20:48] aimore commented on #9942
It is working after XF update
Will close this issue.

[2020-03-25 20:48] #9942 closed

[2020-03-25 20:53] legistek commented on #9957
@samhouts  sorry it's my fault I didn't realize the original `EventToCommandBehavior` (which has been forked countless times) wasn't under your project domain.

But @IoTFier this only underscores the fact that you or anyone could easily make your own variant of `EventToCommandBehavior` that would work the way you want it to, using my outline above.

[2020-03-25 21:02] haavamoa commented on #10080
Maybe leaving a comment in that last link can help you out? I mean they claim to have solved it.

[2020-03-25 21:04] felipebaltazar opened #10090 "[Enhancement] Notch mode on Xamarin Forms!"
## Summary
Since Android and IOS has a notch space and works with some "safe area", Xamarin forms can provide it for use it at the page level

## API Changes

NochMode Page.NotchMode { get; set; } //Bindable Property

The NotchMode API will change native notch space behavior

## Intended Use Case
Unify the notch configuration for android and IOS

[2020-03-25 21:04] felipebaltazar commented on #10090
I've created a PR with this suggestion:

https://github.com/xamarin/Xamarin.Forms/pull/10047

[2020-03-25 21:24] eevahr commented on #9765
4.5.0.495 does not seem to resolve the issue for me...

[2020-03-25 21:25] hartez commented on #10087
We actually have a spec open specifically for storyboard animations on a visual state change: https://github.com/xamarin/Xamarin.Forms/issues/4233

[2020-03-25 21:27] jfversluis commented on #9804
A number of things happened since the last update.

I have chosen not to implement the "fixed" theme on a `VisualElement` simply because it is not supported on all major platforms. That way it will not be consistent at this time and would not make sense.

I did implement the "theme changed" event, but a couple of layers higher and on the `Application` level. Again, because this is not consistently

[2020-03-25 21:27] enterprisemk commented on #9765
4.5.0.495 - still not working for me

[2020-03-25 21:29] NunoBem commented on #9817
Regressed to "latest" Xamarin Forms 4.4 > 4.4.0.991864 and it works with no errors.
Had migrated the Android nuggets to AndroidX already, have to evaluate how to arrange this.

[2020-03-25 21:46] enterprisemk commented on #9790
4.5.0.495 - issue still not fixed

[2020-03-25 21:51] rnic99 opened #10091 "[Bug] Android: Setting automation properties on a switch does not apply them to the switch"
Sample

https://github.com/xamarin/xamarin-forms-samples/tree/master/UserInterface/Accessibility
(if you go into the tab order page there is a switch to add automation properties to)

### Steps to Reproduce

1. Apply automationsproperties.setname to the switch on the accessibility sample app.
2. Load the sample up and navigate via the Tab Order button.
3. With the accessibility service turned on n

[2020-03-25 21:52] IoTFier commented on #9957
@legistek and @samhouts -
This doesn't have to do with EventToBehavior feature provided by Prism. That one is simply providing helper boiler plate to wire command pattern with XF View Element Commands.

The real issue is around Xamarin Form's behavior not working with a view element when it is not providing any Commands. @samhouts - may I please request you to revisit the suggestion provided by @l

[2020-03-25 22:01] legistek commented on #9957
@IoTFier you're conflating different features and assuming that because in combination they don't work the way you want them to that there is a bug or some enhancement necessary. to achieve what you want.

No "enhancement" to RelativeSource binding is necessary, or will solve your issue. Your issue is that you need a mechanism to attach a command to a control that doesn't accept an `ICommand` but

[2020-03-25 22:08] IoTFier commented on #9957
@legistek - Thank you. I got it as you explained it now.

Thanks.

[2020-03-25 23:12] PureWeen commented on #10043
@thales-man

Can you zip up the project you are creating here
[code]

I tested this on VS Mac 8.5 and it worked fine for me..

Maybe something got messed up with your install?

You can try uninstalling everything completely and reinstalling
https://docs.microsoft.com/en-us/visualstudio/mac/uninstall?view=vsmac-2019

Which might fix?

[2020-03-25 23:21] PureWeen commented on #10088
@breitburg

Log essentials bugs here
https://github.com/xamarin/Essentials

also that type of error comes up when you have nugets out of sync

- make sure all your essentials/xf libraries are the same version
- delete obj/bin directories
- try again

if still seeing the issue post over in Essentials

[2020-03-25 23:21] #10088 closed

[2020-03-25 23:26] PureWeen commented on #10084
I've moved this over to the enhancements board

The tricky thing with this one is that (AFAIR) none of the platforms support changing the size of the checkbox. Android has a drawable that stays the same height and the heights on UWP are static as well. iOS is drawn so that's not too hard.

[2020-03-25 23:32] hartez commented on #10085
@angelru Can you post some screenshots so we can see the layout you are getting?

[2020-03-25 23:40] PureWeen commented on #10082
@akatsukle this is a tricky one

I tested your basic code in a repro and it works for me... If I were to venture a guess I would guess that something here

[code]

is locking the UI thread? Something in that VM or that Page?

if you change that to just a ContentPage does it work?

If you click PAUSE on the debugger can you see what the threads are doing?

[2020-03-25 23:55] PureWeen commented on #10076
breaks shell and navigationpage

[2020-03-26 00:04] PureWeen commented on #10070
@MitchBomcanhao @pmramalho can you try the latest VS mac 8.5?

If that still doesn't work can you use the Report a Problem button in the top right corner of VS?

https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

[2020-03-26 00:04] #10070 closed

[2020-03-26 00:10] ngalicoco commented on #9765
Same here 4.5.0.495 - still not working for me

[2020-03-26 00:17] ngalicoco commented on #9790
Same here 4.5.0.495 - still not working for me

[2020-03-26 00:32] PureWeen commented on #10067
@WarBorg this one is a bit tricky and we still don't have the best solution for it..
https://github.com/xamarin/Xamarin.Forms/issues/7300

The problem here is that button has an elevation on it. When button was using a legacy renderer it was wrapped in a viewgroup with an elevation that just stayed zero so it was always at the same relative elevation as everything else.

A few ways you can fix thi

[2020-03-26 00:51] mdbill commented on #10061
Still broken in 4.5.0.495

[2020-03-26 01:15] akatsukle commented on #10082
I replaced
[code]
by
[code]
and the failing call is still the PushAsync.

Not to my knowledge, but I might of course be missing something.

Thank you for the suggestions. It actually seems that my issue is related to FFImageLoading.
Something as simple as
[code]
fails more than half of the time.

While I still believe this issue is due to the vs update, I guess that since not directly linked to Xa

[2020-03-26 01:15] PureWeen commented on #1595
@sasivishnu can you confirm what @huybuidac has indicated?

[2020-03-26 01:17] PureWeen commented on #10082
What I meant was to replace the call with

[code]

And see if that fixes it.

I'd open up an issue with FFImageLoading and we can see what they think

[2020-03-26 01:17] #10082 closed

[2020-03-26 01:24] jpmirfcb commented on #8904
Or any workaround?

[2020-03-26 01:27] PureWeen commented on #9852
Moved this issue over to Xamarin.Android
https://github.com/xamarin/xamarin-android/issues/4463

[2020-03-26 01:27] #9852 closed

[2020-03-26 01:51] PureWeen commented on #9796
@ravinderjangra I tested your app on an API 27 and API 29 device and they both act the same. The behavior I'm seeing is what I'd expect to happen.

The default for launchMode is "Standard"
https://developer.android.com/guide/topics/manifest/activity-element

if you want the app to only resume the already active activity you need to set LaunchMode to `SingleTop`

[code]

I would be confused if the

[2020-03-26 01:51] #9796 closed

[2020-03-26 01:54] PureWeen commented on #9488
@eramrit78 your error is probably different. Can you create a new issue with a stack trace?

[2020-03-26 01:57] PureWeen commented on #9488
I moved this over to shell to do blockers

@hartez made a series of changes to fast renderers to not call PropertyChanged if the class IsDisposed. The exception @mjfreelancing has in the txt file above is

[code]

Which refers to a layout renderer so we could add that same code to VisualElementRenderer but we should rule out a memory leak first.

It looks like the navigation renderer might need to

[2020-03-26 01:59] nhdanh commented on #9790
Same here 4.5.0.495 - still not working for me

[2020-03-26 02:19] mauroa commented on #10080
Hi everyone.
From macOS 10.15.4, there was an update on OpenSSH which is breaking our SSH layer, so we crash when trying to copy the Mac Agent files over SCP to the Mac. That causes the connection to never complete.
We've already fixed it and the fix will be available on the next VS 16.6 P2 and also on the next 16.5 Service Release.
I'm closing this issue since it's fixed and pending to be release

[2020-03-26 02:19] #10080 closed

[2020-03-26 03:33] akatsukle commented on #10082
Thank you for your time.

Yes this is what I did, and that does indeed fixes it.
When the content page contains `ff:CachedImage` it doesn't work anymore though and the thread is stuck in the following part of the code:

[code]

I will crosspost on FFImageLoading.

[2020-03-26 04:17] haiduong741 commented on #9765
why you close this when XF not fixed this issue in new version????
*ridiculous

"and the fix will be released in a 4.5.0"
*ridiculous 💃

[2020-03-26 04:46] matthewrdev opened #10092 "[Bug] [Android] When a CollectionView's ItemSource is null, the HeaderView does not display."
### Description

As per title, when the `ItemSource` for a `CollectionView` is bound to `null` on Android, the `HeaderView` does not display.

### Steps to Reproduce

Please see attached sample:
[CollectionViewSample.zip](https://github.com/xamarin/Xamarin.Forms/files/4385025/CollectionViewSample.zip)

### Expected Behavior

When I bind `ItemSource` to null on Android, the `HeaderView` display.

#

[2020-03-26 05:17] rholdsworth opened #10093 "[Bug] iOS NavigationBar not applying gradient in custom renderer anymore (via SetBackgroundImage)."
### Description
When creating a custom renderer for a navigation page, applying a gradient on the NavigationBar via SetBackgroundImage in ViewWillAppear() method no longer applies it in Xamarin.Forms 4.5.

Also tried testing against the following nightly builds to see if resolved, each still failed.:
4.6.0.129-nightly
4.6.0.369-nightly
4.7.0.425-nightly (mentioned as a fix for #9790 )
4.7.0.461-ni

[2020-03-26 07:30] piotrbalut commented on #10057
I have the same problem

[2020-03-26 08:00] mattiascibien commented on #7478
@dylanberry in my project I fixed the issue by keeping the screen on using a wakelock and disabiling it in OnAppearing of my first page (working fine in an embedded project where I have only one activity).

Also, in another project I actually insert the new main page at the top of the navigation stack and then called PopToRoot. Works as I only use navigationpage as my MainPage in my project.

[2020-03-26 08:23] Seuleuzeuh commented on #7478
With the last version of the package ?
Your code is similar to my reproduction project ?

[2020-03-26 08:42] baruchn opened #10094 "[Bug] NoSuchMethodError: no static method FormsViewGroup.sendViewBatchUpdate after updating VS to 8.5"
### Description
Updated Visual Studio Community and several NuGet packages in a working solution. Now when trying to run on an Android device or simulator getting the following error:

Tried clean all and delete bin/obj as described in [this](#3981) issue but didn't help.

### Steps to Reproduce

Update from VS 8.4 and Forms 4.3 to VS 8.5 and Forms 4.5. Also updated all NuGet packages to the lates

[2020-03-26 08:54] hudaIT commented on #10057
My fault issue for me was because i have set Forms.SetFlags twice and so the SwipeView_Experimental was overwritten.

[2020-03-26 08:56] jessiezh0320 commented on #10035
@jfversluis   Yes,  this problem does exist on the Android platform. I hope you can help solve this problem.Thanks.

[2020-03-26 11:07] pmramalho commented on #10070
I do that. I'm waiting for anwer.
https://developercommunity.visualstudio.com/content/problem/960868/xamarin-forms-exception-systeminvalidoperationexce.html?childToView=964125#comment-964125

[2020-03-26 11:51] davidbritch opened #10095 "[Bug][iOS] SwipeView.Open() doesn't work on first call in 4.6-pre2"
### Description

On iOS, the SwipeView.Open method doesn't open the SwipeView on first call. Instead the SwipeView swipes and it remains closed. On second call to the Open method, the SwipeView remains open.

The Open method works as expected on Android.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the programmatic SwipeView page.
3. Click the Open button.

### Expected Behavi

[2020-03-26 12:02] davidbritch opened #10096 "[Bug][iOS] SwipeView partial reveal in 4.6-pre2"
### Description

On iOS, swiping a SwipeView in the wrong direction, followed by calling the Open method, results in a partially revealed SwipeView with no swipe items being displayed.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the programmatic SwipeView page.
3. Swipe the SwipeView from right to left (note: nothing will happen - it's not setup to swipe in that direction).
4

[2020-03-26 12:13] tossingc commented on #9212
Confirmed fix is out in 4.5.0-sr2 (4.5.0.495 out on nuget)! 🙌
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/4.5/4.5.0-sr2

And yes, it *does* also handle newlines. 😊

Thanks @StephaneDelcroix !

[2020-03-26 12:25] angelru commented on #10085
With GridItemsLayout:
![Sin título](https://user-images.githubusercontent.com/11645585/77646529-ff5e3c00-6f64-11ea-8363-617c4fcbd3c6.png)

Without GridItemsLayout
![Sin título1](https://user-images.githubusercontent.com/11645585/77646574-13a23900-6f65-11ea-81e7-71485c64567e.png)

GridItemsLayout should not affect Header, EmptyView or Footer, only ItemTemplate.

@hartez @PureWeen

[2020-03-26 12:49] BenBtg opened #10098 "[Enhancement] Shell Navigation Route should allow navigation to external web pages"
## Summary
Navigation Route currently only supports navigation around the application But often it is useful to be able to navigate to external web pages either via an embedded view or via an external browser. It would be useful if Shell supported this

## API Changes

In order to facilitate this feature the Route property of Flyout Route simply needs to support absolute http urls like below:

`<F

[2020-03-26 12:54] baruchn commented on #10094
Turns out that `R8` is removing this method for some reason.
Adding the following `Proguard` rule fixed the issue:

[code]

[2020-03-26 12:58] #8272 closed

[2020-03-26 12:58] #9786 closed

[2020-03-26 13:19] jaroslavrehorka opened #10100 "[Bug] UWP FormsEmbeddedPageWrapper - GUID not found when navigating back in stack"
### Description

When I navigate from an embedded Xamarin.Forms Page in UWP app and want to go back to the embedded Page I get following error: _The given key '305f785e-b7bf-46b1-8595-70177dd5f999' was not present in the dictionary._

### Steps to Reproduce

1. Navigate to an embedded page using Navigate method from PageExtensions (https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms

[2020-03-26 13:22] kevin-mueller commented on #3855
The Problem still exists roughly 1.5 years later..

[2020-03-26 14:45] WarBorg commented on #10067
@PureWeen thank you for your answer

since we cant use the CompressedLayout.IsHeadless="True" because we are changing visibility and backgroundcolor on the elements inside the layouts I choose to use the second method and wrapped the button in a stacklayout and seems that did the trick :D

[2020-03-26 15:11] MitchBomcanhao commented on #10070
This issue has magically gone away while I was stepping through the application's initialisation. It looked like the error popup consistently came after running a specific bit of code, and after stepping through the app never failed again.

no idea what was wrong, or what changed to fix it.

[2020-03-26 15:33] rmarinho commented on #8643
Hi @InquisitorJax this is fixed in the latest 4.5.0 release https://www.nuget.org/packages/Xamarin.Forms/4.5.0.495

Thanks

[2020-03-26 15:33] #8643 closed

[2020-03-26 16:01] rmarinho commented on #7924
This should be fixed on 4.5.0.495 , latest service release we pushed.

Please open new bug if it's not.

Thanks

[2020-03-26 16:01] #7924 closed

[2020-03-26 16:11] maxim-saplin opened #10101 "[Bug] Changing text on a Label on macOS resets font color to Black"
### Description
The Issue started appearing in XF 4.5, 4.4 is OK

### Steps to Reproduce

1. Define a Label on a page with some text in it
2. Define Label style in app.xaml
[code]
3. Run the app, see the color of text is applied
4. Change the text of the Label in code behind (e.g. on button click)

### Expected Behavior

The text color stays as it is defined in Style

### Actual Behavior

The colo

[2020-03-26 16:51] thales-man commented on #10043
hi shane,

thanks for the offer of assistance; but it is not installation issues. this environment is in use many hours of the day building a range of dot net core and net standard projects deployed to azure and aws platforms.

update:
ran updater on MS for Mac version now 8.5.3183
updated Xamarin forms packs to 4.5.0.495

hacked the android project and removed 32 'duplicated' net standard 2 libra

[2020-03-26 17:34] agat366 commented on #10093
#10034 does look similar, as the initial setup in native iOS project is either overwritten by XF logic.

[2020-03-26 18:28] PureWeen commented on #9808
https://github.com/xamarin/Xamarin.Forms/issues/9939

[2020-03-26 18:28] PureWeen commented on #9107
https://github.com/xamarin/Xamarin.Forms/issues/9939

[2020-03-26 18:40] PureWeen commented on #9890
@RsZoli what should I be seeing in your repro?

I'm just seeing a bunch of green boxes

[2020-03-26 18:47] PetrVobornik opened #10102 "[Bug] Button wrong calculates size on Android in 4.5.0.495"
### Description
Button wrong calculates size (horizontal and vertical too) by his Text on Android when I change FontSize to Medium in version 4.5.0.495. In previous version 4.5.0.396 it works fine. No other changes in XAML and code behind are here, only XF update.

Tested on Android 10.0 (API 29) emulator.

![image](https://user-images.githubusercontent.com/11021768/77684448-4ca8d080-6f9a-11ea-895

[2020-03-26 18:50] RsZoli commented on #9890
@PureWeen Please notice the very first row of "boxes", they have 1px height!

I tried to indicate it on this [picture](https://i.imgur.com/f4We6Vx.png)

[2020-03-26 19:26] PureWeen commented on #9848
@tal-athena can you attach a repro? I've tested your scenario and it's all working fine for me

[2020-03-26 19:33] tbaggett commented on #9790
@rmarinho can this issue be reopened? It is not fixed. Thank you.

[2020-03-26 20:05] jsuarezruiz commented on #10057
Could you try with Xamarin.Forms 4.5.0.495?. Attached a sample with your code.
[Issue10057.zip](https://github.com/xamarin/Xamarin.Forms/files/4389680/Issue10057.zip)

[2020-03-26 20:26] rmarinho commented on #9699
this should be fixed on 4.5.0.439 latest version

[2020-03-26 20:26] #9699 closed

[2020-03-26 20:43] sethom commented on #7420
Can we get an update on this issue? I've got the latest Xamarin Forms and I am having to remove functionality for me app so that I can take it into production due to this.

[2020-03-26 20:45] pmahend1 commented on #9983
In my case ScrollView is shrinking TemplatedView if the child of the scrollview has too much content. Seems the shrinking is proportional to length of the childview in Scrollview

**BasePage**
[code]

Page derived from BasePage
[code]

In this case it is shrinking the templatedview.
It happens if the So much long content is too much of content.

[2020-03-26 21:05] pmahend1 opened #10104 "[Bug]"
### Description

### Steps to Reproduce

In my case ScrollView is shrinking TemplatedView if the child of the scrollview has too much content. Seems the shrinking is proportional to length of the childview in Scrollview

**BasePage**
[code]

Page derived from BasePage
[code]

In this case it is shrinking the `TemplatedView`.
It happens if the So much long content is too much of content.

### Expec

[2020-03-26 21:57] PureWeen commented on #10062
@SymxnCreator can you attach a repro? I tested this locally and it works fine for me

There's a bug in older versions of 4.5 so possibly this is fixed for you if you try 4.6? or the latest 4.5?

[2020-03-26 22:02] PureWeen commented on #10051
Duplicate

https://github.com/xamarin/Xamarin.Forms/issues/3706#issuecomment-420108673

The main problem here is that OnAppearing is heavily overloaded with what it means to the point that it's hard to really make it mean anything :-/

It's vaguely useful but we'll have some newer life cycle methods.

It would also be breaking to change this behavior because some people might want onappearing to f

[2020-03-26 22:02] #10051 closed

[2020-03-26 22:03] kingces95 commented on #2562
Hm, well, it doesn't work on iOS.

[2020-03-26 22:19] PureWeen commented on #10039
@domenk if you do this same thing with a CollectionView and a DataTemplateSelector do you see the same problem?

[2020-03-26 22:22] Licantrop0 commented on #8470
@Kikanye did you find any workaround for this? I'm in the same boat with the items in a CollectionView the tap to select doesn't work if I add the LongPressEffect (and I can't use a swipeview because the layout has multiple columns).

[2020-03-26 22:37] PureWeen commented on #10021
Reactive List throws a reset because of the suppress changes event so I'm guessing the reset CollectionChanged event is what's causing this

Also @BrayanKhosravian I'd update Reactive and use DynamicData
DynamicData is the greatest thing ever

[2020-03-26 22:45] PureWeen commented on #10098
@chkn thoughts with this and segues? This feels like something that would map to segues well because users might want to configure more about that Uri route than just the Uri

Either way I think this is a good idea!

The only place we might get into a little trouble is that Shell right now ignores host/scheme when you pass GOTO on it, so in the above case if you have a route called "xamarin" and y

[2020-03-26 22:56] teymur371 commented on #10057
had the same issue
the version 4.5.0.495 solved it! thanks a lot

[2020-03-26 22:56] #10057 closed

[2020-03-26 23:40] Kikanye commented on #8470
@Licantrop0 I posted my work around [here](https://stackoverflow.com/questions/58698063/xamarin-android-tap-gesture-and-long-press-gesture-not-working-together/59199651#59199651). Hopefully that helps you some way.

[2020-03-27 00:33] PureWeen commented on #10102
@PetrVobornik can you attach a repro please?

[2020-03-27 00:47] lhughey commented on #5793
This issue is still happening on the iOS target with the latest versions of everything (Forms 4.5xx). If anyone runs across this, switch to an observableCollection instead of an observableRangeCollection.

[2020-03-27 00:50] PureWeen commented on #10056
@jsuarezruiz this is fixed right?

[2020-03-27 01:04] Sebastian1989101 opened #10105 "[Bug] ITMS-90809: Deprecated API"
Compiling with the latest Visual Studio for Mac and Xamarin.iOS Version still results in Deprecated API use. I do not use the UIWebView in my code and my only external libraries are Xamarin.Forms and Xamarin.Essentials.

Because we cannot update our apps anymore with this from April, it is absolut neccessary that this gets fixed - espacially because we already have this for years again...

[2020-03-27 01:34] tossingc commented on #9951
@StephaneDelcroix I have attached a small sample project which reproduces the issue: [XFIssue9951.zip](https://github.com/xamarin/Xamarin.Forms/files/4390937/XFIssue9951.zip)

![image](https://user-images.githubusercontent.com/847707/77712071-b7f5a100-6fa0-11ea-8cb7-5b1913b2ac63.png)

NOTE: this also happens on physical devices - testing with a Pixel 3.

**_The issue is triggered by changing the c

[2020-03-27 01:38] Licantrop0 commented on #8470
Thank you, I will use an imagebutton as well as workaround until the PR from @KSemenenko gets merged :)

[2020-03-27 03:25] akatsukle commented on #10082
It appears that the solution in the end, was not to delete the bin/obj folders, but the .vs folder in the solution...or at least that is the only thing in what I tried that makes sense.

[2020-03-27 04:36] PureWeen commented on #10105
https://github.com/xamarin/Xamarin.Forms/issues/9823
https://devblogs.microsoft.com/xamarin/uiwebview-deprecation-xamarin-forms/

[2020-03-27 04:36] #10105 closed

[2020-03-27 05:12] chinni-nag commented on #9947
@StephaneDelcroix  Any update on this? Please let me know. Thanks in advance.

[2020-03-27 05:27] PureWeen commented on #10071
https://github.com/xamarin/Xamarin.Forms/issues/8078

[2020-03-27 05:27] #10071 closed

[2020-03-27 05:39] PureWeen commented on #10077
Hmmmm I tried running your sample but I'm not seeing what you're seeing. Below is iPhone 7 10.3.1. I tried iPhone8 and 11 with 13.3 and I'm not seeing the issue

![image](https://user-images.githubusercontent.com/5375137/77725329-c94ba700-6fba-11ea-8197-15a9ec11d61d.png)

[2020-03-27 05:42] PureWeen commented on #10060
@rossegger13

1) can you attach a repro?
2) If you use a CollectionView does that your use case work there?
3) maybe if you set hasunevenrows on listview?

[2020-03-27 05:52] PureWeen commented on #10038
@domenk looking at your code you might have better results with a CollectionView or BindableLayout

I was able to reproduce

[2020-03-27 06:00] PureWeen commented on #9792
@spozdbpc do you see this same issue with CollectionView? Can you attach a repro as well please?

[2020-03-27 06:33] hemawst commented on #10102
I have a very similar problem. I have a content page with a control template. In the template there are buttons with static resource styles. In version 4.5.0.396 everything works great, but in version 4.5.0.495 the size of the buttons is calculated incorrectly. All text content of the buttons are cut off. All horizontal options do not work, only when I set the property widthrequest does the size o

[2020-03-27 08:24] oveg commented on #8958
Any updates? Thank you.

[2020-03-27 08:31] jsuarezruiz commented on #10056
Yes, will be fixed by https://github.com/xamarin/Xamarin.Forms/pull/9638
![tapgesture-swipeview](https://user-images.githubusercontent.com/6755973/77737025-764f0f80-700d-11ea-8902-91240ddf635f.gif)
We included a sample using GestureRecognizer in the SwipeView, SwipeView Content and SwipeItemView.
https://github.com/xamarin/Xamarin.Forms/blob/133cfddfa15286c4ae97f1cd9cef7019ec8cf68d/Xamarin.Forms.C

[2020-03-27 09:09] PetrVobornik commented on #10102
Code of the page from the screen is following. I change only version of XF several times back and forth with the same effect: 4.5.0.396 is OK, 4.5.0.495 buttons are bad. Not only here, but in whole application, where I change FontSize.

    <?xml version="1.0" encoding="utf-8" ?>
    <ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
                 xmlns:x="http://schemas.microsoft.com/w

[2020-03-27 09:16] jsuarezruiz commented on #10086
Currently, the SwipeItem size is different based on the Mode.
- Reveal: A default width is applied to the SwipeItem, and in the case of SwipeItemView the same happens unless a WidthRequest is set.
- Execute: The width of the SwipeItem is the width of the SwipeView. If there are multiple elements, each element takes the proportional width.

Example:
![issue10086](https://user-images.githubuserconte

[2020-03-27 10:39] domenk commented on #10077
Your screenshot also contains problematic labels: all "Lorem ipsum" labels except the middle one are missing words "adipiscing elit" at the end.

[2020-03-27 11:15] domenk commented on #10039
No, CollectionView works fine. See [FormsBug_CollectionView.zip](https://github.com/xamarin/Xamarin.Forms/files/4393065/FormsBug_CollectionView.zip).

[2020-03-27 13:20] doriangh commented on #10030
Thank you very much for the reply. I have tested the workaround and can confirm it is working.
I have tried using a CollectionView, but I had no succes in converting from ListView to CollectionView with my approach of an accordion ListView. Maybe if anyone can figure out a way, I'd be thankful.
So far, with Xamarin.Forms 4.4 the app crashes on Clear() method.  And with Forms 4.5 the header layout

[2020-03-27 13:29] pmahend1 commented on #10102
@PetrVobornik Does it happen when you remove `ScrollView` as well?
I am also seeing weird issues when ScrollView is used. #10104

[2020-03-27 14:01] pmahend1 commented on #10104
I changed StackLayout to Grid in BasePage and it seems to solve my issue

[code]

[2020-03-27 14:19] mjfreelancing opened #10106 "[Bug] Entry control kills app when HOME is pressed"
### Description
I don't know if this issue is an emulator issue, or XF issue. I only have Android so cannot eliminate variables. The sample app provided has a blank page with an Entry control. When the control has focus and the HOME key is pressed the application silently disappears. No error / exception is provided.

### Steps to Reproduce

1. Click an Entry control so it receives focus
2. Press

[2020-03-27 14:40] idchlife commented on #5022
Funny thing, it's not yet working in 2020 :D

Any news about this issue?

[2020-03-27 14:41] rossegger13 commented on #10060
@PureWeen
Here is my repo: https://github.com/rossegger13/ReproForIssue10060
I tried both of, the collectionView and the hasUnEvenRows but this also didn't work

[2020-03-27 15:15] Mikilll94 opened #10107 "[Bug] On iOS "Done" text in Editor is not translated"
![Screenshot 2020-03-27 at 16 04 19](https://user-images.githubusercontent.com/17653648/77770275-4885bd00-7045-11ea-8722-937af9a3c39e.png)

As you can see there is a "Done" text even though the language on my iPhone is set to German.

### Description

### Steps to Reproduce

1. Run this project on iOS
[IosEntryDone.zip](https://github.com/xamarin/Xamarin.Forms/files/4394297/IosEntryDone.zip)

2. S

[2020-03-27 15:16] carlosernestolopez commented on #7741
"this is fixed in newer versions of HR" false still facing this issue

[2020-03-27 15:27] matteopiccioni commented on #9845
This is really a huge problem for our Android apps.
is not only related to listview
This is my stack traces

System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer'.

JniPeerMembers+JniInstanceMethods.InvokeNonvirtualVoidMethod (System.String encodedMember, Java.Interop.IJavaPeerable self, Java.Interop.JniArgumentVa

[2020-03-27 15:59] AdamDiament opened #10108 "[Bug] Shell cancel navigation doesn't work for top bar navigation on android"
When navigating between top tabs in a shell app, Overriding OnNavigating(ShellNavigatingEventArgs args) and calling args.Cancel() doesn't stop navigation to the new tab on Android, iOS is fine.

### Description

### Steps to Reproduce

1. Load the test project from the zip I uploaded (bin and obj deleted, make sure to rebuild),
2. Run in iOS
3. Navigate to the tab called "About Locked", you can't

[2020-03-27 16:47] hartez commented on #10059
We won't be changing this behavior for a few reasons:

1. It would be a breaking change for anyone who is already relying on the current behavior.
2. The current behavior is as designed. Most folks expect that a container with no source of items is going to be empty; this is the intuitive interpretation. I appreciate the semantic argument about a `null` ItemsSource. But if we change to the behavio

[2020-03-27 16:47] #10059 closed

[2020-03-27 16:59] hartez commented on #9845
Should be fixed in 4.6.0 pre2.

[2020-03-27 17:02] marcojak commented on #8885
I can add this, maybe it can help:
This issues seems to happen when the CollectonView is inside a RefreshView.
If I remove the RefreshView, then it works fine.

[2020-03-27 17:20] lapoPaolacci commented on #9555
Same bug if you use a custom renderer instead Effect

`
if (Element.HasShadow)
            {
                Layer.MasksToBounds = false;
                Layer.ShadowColor = UIColor.Black.CGColor;
                Layer.ShadowOffset = new CGSize(0, 5);
                Layer.ShadowRadius = 5;
                Layer.ShadowOpacity = 0.24f;
            }
`

[2020-03-27 17:48] Shanmt commented on #4397
@ARomoth  I ve tried your workaround . It is working fine with Xam iOS SDK <13. But not working on higher SDKs. Thank you for the help.

[2020-03-27 19:01] felipechavez commented on #9951
Same problem here.

[2020-03-27 20:22] PureWeen commented on #9593
@kzu if we put these files into both \build\ (for VS 2017 compatibility) and \buildTransitive\ is that ok?

I did some binlog tests and it seems like if I have \buildTransitive\ that \build\ gets ignored on VS 2019 and things don't get doubled up

[2020-03-27 20:34] PureWeen commented on #10094
@baruchn can you attach a repro? I was trying to reproduce your issue and found some other issues linked here (https://github.com/xamarin/AndroidX/issues/83) but I couldn't reproduce your particular one

[2020-03-27 21:12] PureWeen commented on #10106
@mjfreelancing can you make a GIF

I'm not really following the issue

[2020-03-27 21:13] francis2 commented on #9801
Hi,

I am trying 4.5.0.495 on the same test project I sent to report this issue (#8215), and it does not work with iOS. It appears something else broke in this release.

The "Empty" Shell  Tab is unreachable.

Works fine on Android. Fails on iOS. No errors in Visual studio--only the Tab fails to load properly in iOS.

Attached is a repro solution (same as in #8215).
[PickerTestApp (1).zip](https:/

[2020-03-27 21:23] PureWeen commented on #10102
Here's a screen shoft of the xaml on 396 vs 495

If someone can provide a repro that would be helpful

![image](https://user-images.githubusercontent.com/5375137/77801659-e1fda080-703e-11ea-893b-09dc94cc242c.png)

[2020-03-27 21:31] PureWeen commented on #10087
Closing this now in favor of Storyboard Animations

[2020-03-27 21:31] #10087 closed

[2020-03-27 21:33] PureWeen commented on #10052
This should be fixed with an upcoming release

https://github.com/xamarin/Xamarin.Forms/pull/9194

[2020-03-27 21:33] #10052 closed

[2020-03-27 21:39] mjfreelancing commented on #10106
Hmmm, insert emabarssment emoji here. I only just discovered the HOME key is a keyboard shortcut on the android emulator to send the app to the background.

My original issue occurred when I wanted to delete all text in an Entry control so I SHIFT+HOME and the app disappeared. I mistakenly thought this was a crash.

[2020-03-27 21:39] #10106 closed

[2020-03-27 21:47] PureWeen commented on #9801
@francis2 this should be fixed on the next releases

I tested your sample against nightly and it didn't crash for me

[2020-03-27 21:47] #9801 closed

[2020-03-27 22:06] PureWeen commented on #9932
Hunh.... that's kind of weird :-/

[2020-03-27 22:16] hartez commented on #10100
Because technically you aren't supposed to pass a complex object (like a `ContentPage`) for the `parameter` ... parameter of `Frame.Navigate()`. [Here's the documentation for that method](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.frame.navigate#Windows_UI_Xaml_Controls_Frame_Navigate_Windows_UI_Xaml_Interop_TypeName_System_Object_).

So that's the _why_ of the dictionary.

[2020-03-27 22:24] Tommigun1980 commented on #9382
I am using Xamarin.Forms 4.6.0.494-pre2 and swipe view items don't invoke commands or send events when interacted with. Have only tested on iOS. Is this fix supposed to be in that version?

My code:
SwipeItems>
                                    <SwipeItem
                                        Text="Leave"
                                        BackgroundColor="Red"

[2020-03-27 22:43] PureWeen commented on #9923
@avorobjovs my guess here is that there's a timing issue with the status of CanExecute and the ICommand.   The values you are using to calculate CanExecute aren't going to cause a property changed notification of IsnEnabled to occur so you have to fire the CanExecuteChanged event on the ICommand when the status of your function has changed

For example if I add this
[code]

After your faked busine

[2020-03-27 22:43] #9923 closed

[2020-03-27 22:52] PureWeen commented on #9602
@jrahma why are you thinking there should be a CurrentStateChanged event?

CurrentState is a property so if you want to monitor if it changes than subscribe to PropertyChanged and look for something named *CurrentState"

[2020-03-27 22:52] #9602 closed

[2020-03-27 23:06] #9778 closed

[2020-03-27 23:23] SymxnCreator commented on #10062
Hello,

I have now installed a higher 4.5 version and now it works.
I don't know if it was my fault, if the early 4.5 version had a bug or if it was something else.

If you hadn't contacted me, I wouldn't have tried it again.
Thank you so much!

[2020-03-27 23:23] #10062 closed

[2020-03-27 23:52] PetrVobornik commented on #10102
Its on Android 10.0?

[2020-03-28 00:11] PureWeen commented on #10107
@Mikilll94 can you check out

https://github.com/xamarin/xamarin-forms-samples/tree/master/TodoLocalizedRTL

I tested the sample there and when I switched to Spanish the buttons all get translated

[2020-03-28 00:29] PureWeen commented on #10104
@pmahend1 can you attach a repro please?

[2020-03-28 01:01] dotMorten commented on #9593
@PureWeen That's exactly what happens yes. There's just not really a reason not to do buildTransitive. It just sucks it doesn't work for VS2017 people, but Xamarin as already essentially dropped VS2017 support at this point (not officially but anything Xamarin Android or iOS compiled with VS2019 is most likely not VS2017 compatible)

[2020-03-28 01:07] pmahend1 commented on #10104
I will try to provide link by Monday.

[2020-03-28 02:52] afucher commented on #4678
This error is happening to me when using HotReload, if I change anything in the xaml file, it give me this error and the app stop.

[2020-03-28 05:39] PureWeen commented on #10029
@doriangh did you try CollectionView?

[2020-03-28 05:50] PureWeen commented on #9924
https://github.com/xamarin/xamarin-android/issues/3403#issuecomment-516552976

[2020-03-28 05:50] #9924 closed

[2020-03-28 05:57] PureWeen commented on #10031
it's hard to know without a stack trace but I'm guessing this is caused by this override

https://github.com/xamarin/Xamarin.Forms/blob/954cc8b0f174f179fd3395b4b1f257201f9701af/Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs#L70

Which we fixed here
https://github.com/xamarin/Xamarin.Forms/commit/239ba5046acc37259f3135bc33dd1b27bf72c8f3#diff-73413fddc3cbc5833a45ef04800f3f68L29

But i

[2020-03-28 05:58] PureWeen commented on #10031
If you set this flag
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/internals/fast-renderers#backwards-compatibility

do you still get the same exception?

[2020-03-28 07:19] abrari commented on #9823
Try checking which package contains reference to UIWebView by unzipping your *.ipa file, `cd` to the unzipped directory, and do `grep -lr "UIWebView" .` from your terminal.

[2020-03-28 10:03] ahmedalejo commented on #9073
`TapDispose` sounds to implementation specific, what about `IsContentPreserved`
[code]

[2020-03-28 10:40] ahmedalejo commented on #5755
Pre anniversary for this bug 🎂😂

[2020-03-28 10:43] ahmedalejo commented on #9300
One year anniversary of [Shell] navigation - flickering #5755

[2020-03-28 10:44] ahmedalejo commented on #8581
Just discovered this bug is on it one year anniversary [Shell] navigation - flickering #5755

[2020-03-28 10:45] ahmedalejo commented on #9736
[Shell] navigation - flickering #5755

[2020-03-28 10:59] doriangh commented on #10029
@PureWeen I did try with CollectionView, but I couldn't get the exact same behavior out of it. The custom header layout is stuck to the left of the screen and the StackLayout trigger does not fire. If I update to Xamarin.Forms 4.5 the header looks fine, but the Clear() method crashes the app.

[2020-03-28 11:10] nirbil opened #10110 "CollectionView EmptyView doesn't show up on UWP HorizontalList"
CollectionView's EmptyView on UWP doesn't show up on different scenarios.

As described [here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/collectionview/emptyview) the empty view can be of several types:

Reproducible scenarios:
1. Create a CollectionView without items and set ItemsLayout to HorizontalList and set EmptyView to some string
2. Create a CollectionView witho

[2020-03-28 11:28] JigarM commented on #6851
Any workaround on this?

[2020-03-28 11:59] kienczkowski commented on #9028
Hi,

I have Huawei P30 Lite. I had this some issue early. In version Xamarin Froms 4.5.0.395 this issue is didn't occures. In my case I have SwipeView in CollectionView, it's works great. Thank you for your support !!! ;)

[2020-03-28 12:18] Tommigun1980 opened #10111 "[Bug] SwipeView breaks forms previewer"
Hi.

Having a swipe view in your form breaks the designer with the error
[code]
being displayed in the visualisation area, after loading the previewer for a very long time. Expected behaviour would be that it would visualise the swipe view's content.

Reproducible with the following snippet:
[code]

I have only tested this in iOS mode, don't know if it happens in Android mode as well.
I'm using th

[2020-03-28 12:24] Tommigun1980 opened #10112 "[Enhancement] Xamarin.Forms.TwoPaneView - animate/slide in single page transition"
Hi.

Please add the ability to animate the transitions between the two pages when in single page mode. The current implementation where the page is just replaced with another page is not usable in a real application. Expected behaviour would be that the new page would slide in to replace the old page. I don't think that the TwoPaneView component is usable in its current state as just replacing the

[2020-03-28 12:28] Tommigun1980 opened #10113 "[Bug] IconImageSource in a SwipeItem is rendered incorrectly"
Hi.

Adding an image via IconImageSource to a SwipeItem breaks its rendering. Using only text renders the swipe items fine, but adding an IconImageSource makes it render the button as tall as the view in which it resides is. I have only tested this on iOS, don't know if it happens on Android as well.

I'm using the latest preview version 4.6.0.494-pre2.

[2020-03-28 12:33] Tommigun1980 opened #10114 "[Bug] SwipeView commands and click events not executed"
Hi.

I have a swipe view inside a collection view's item template, and it's not registering taps on the swipe items. Neither command nor click event works, instead it just closes the swipe menu, and the buttons never go to a pressed state. Only tested on iOS, don't know if it happens on Android.

I'm using the latest preview version 4.6.0.494-pre2.

[2020-03-28 12:36] Tommigun1980 opened #10115 "[Bug] OnAppearing/OnDisappearing getting called when modal page is pushed"
Hi.

1) Assign a page to the App's main page.
2) Push a modal dialog onto the modal navigation stack.
3) The main page's OnAppearing/OnDisappearing methods get called.

This is incorrect as the page never disappeared or reappeared, and is especially visible if you use the 'FormSheet' style on iOS - the main page is clearly visible beneath the modal dialog. This is especially bad when having initia

[2020-03-28 12:50] jfversluis commented on #10115
Hey @Tommigun1980 thanks for the report.

Is there any reason you didn't use the bug report template we have in place?

It would be nice to know at least what Xamarin.Forms version we are talking about.

[2020-03-28 13:04] Tommigun1980 commented on #10115
Hi @jfversluis and sorry about that, thought I'd just fire a ton of bug reports quickly and plainly forgot to mention version. I'm using the latest preview version 4.6.0.494-pre2. Cheers!

[2020-03-28 13:10] jfversluis commented on #10115
Alright, no worries! But at least the version would be good to have 😉

So, we have done some work on the modals. Especially because of the iOS FormSheet that you mention. In versions today, the modal always fires OnAppearing and OnDisappearing, right? So we start getting reports that now, people would not get these events, because lik you Apple decided that the FormSheet will not fire these events

[2020-03-28 13:19] Tommigun1980 commented on #10115
Hi and thanks for the reply. I just tested this on Android and it happens there as well.

I am a new user of Xamarin so I didn't know this was intentional as it seemed like a weird behaviour. But if it is intentional, how are you supposed to handle initialisation and cleanup if OnAppearing and OnDisappearing is being called for pages that are unaffected by the navigation? I was expecting OnAppeari

[2020-03-28 13:45] vunhutien commented on #9823
Hi @abrari , my package showed: /Frameworks/PersonalizedAdConsent.framework/PersonalizedAdConsent
I guess it from Google Ad lib right?

[2020-03-28 13:49] Reveon commented on #9845
I am still occasionally getting ObjectDisposedException even with 4.6 pre2 on Android 10 emulator.

`System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer'.`

`    JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self)
    JniPeerMembers+JniInstanceMethods.InvokeNonvirtualObjectMethod (System.String encodedMem

[2020-03-28 14:04] jfversluis commented on #10115
I guess "it depends" on what you want to do.

There is more information about the lifecycles [in the docs here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/app-lifecycle#page). There are some events that have to do with modal where you can hook in to.

You might also want to investigate implementing MVVM and use a framework that introduces a couple of more events that y

[2020-03-28 14:04] #10115 closed

[2020-03-28 14:07] jfversluis commented on #10114
Looks like this has been reported a number of times before, for instance #8774 and will most likely be fixed by #9638

[2020-03-28 14:07] #10114 closed

[2020-03-28 14:08] jfversluis commented on #10114
Duplicate of #8774

[2020-03-28 14:09] jfversluis commented on #10113
Would you be able to add a little more information? Maybe a screenshot or ideally a small reproduction project to make this issue a bit clearer?

[2020-03-28 14:13] jfversluis commented on #10110
Hi @nirbil thanks for the report. Would you mind using the bug report template?

We are missing a lot of information right now. It would be nice to see some relevant code, to know what version of Forms you are using, what version of UWP you are targetting, did you try this on iOS and/or Android as well? And it would be particularly awesome if you could attach a small reproduction project to show t

[2020-03-28 14:16] jfversluis commented on #10107
I think you might be running into this: https://blog.verslu.is/xamarin/xamarin-forms-xamarin/localization-default-ios-controls/

You will need to add the languages you want to support in your `info.plist` file. I.e.:

[code]

This will translate the built-in controls to Dutch if the device is set to Dutch. You should add all the languages you want to support in there.

[2020-03-28 14:27] Mikilll94 commented on #10107
@jfversluis
Thanks. That solved my my problem. I didn't have this `CFBundleLocalizations` key in my Info.plist.

[2020-03-28 14:32] #10107 closed

[2020-03-28 15:24] axearcenas commented on #7218
This solved my issue. Thanks.

[2020-03-28 15:39] Tommigun1980 opened #10116 "[Enhancement] Retain binding context when hot-reloading XAML"
Hi.

I love being able to edit the XAML file while my app is open and see the changes without having to rebuild and re-deploy the app. However, this feature is diminished by the loaded instances losing any dynamically assigned binding contexts when this happens. This effectively forces me to reload the app anyway, because the screens turn blank.

Would it be possible to change the hot reload featu

[2020-03-28 15:39] avildark opened #10117 "[Bug] IndicatorView Binding of list Not available in IndicatorTemplate / DataTemplate or no way to get the index of each DataTemplate"
### Description
I try to implement custom label for each page in a IndicatorView .
This indicator is connected to à CarrousselView with the last metho( indicator field in carrouselView).
I use the itemSource from Carousselview and a list of Monkey are defined and used in CarousselView.

Is it possible to get the item for each Label in order to use Monkeys[Item].Name ?

### Steps to Reproduce

1. U

[2020-03-28 15:49] Tommigun1980 commented on #10113
This is how it looks with just a label:
<img width="266" alt="Screenshot 2020-03-28 at 17 33 18" src="https://user-images.githubusercontent.com/60286968/77827029-0ed3b580-711c-11ea-8ea7-5a6425923b29.png">

This is what it looks like when an image is added:
<img width="266" alt="Screenshot 2020-03-28 at 17 45 10" src="https://user-images.githubusercontent.com/60286968/77827040-198e4a80-711c-11ea-9b

[2020-03-28 16:19] jfversluis commented on #10116
How do you setup your binding context? This should work.

Seeing your earlier issues, I suspect you set the `BindingContext` in the `OnAppearing`? If so, then that is probably what you want to change.

[2020-03-28 16:27] Tommigun1980 commented on #10116
If it already works that way and my problem has to do with the OnAppearing/OnDisappearing, that's great! I read a Xamarin article that claimed that binding contexts get cleared on reload so was going off of that and my experience, but it must have been outdated information. Thanks.

[2020-03-28 16:28] jfversluis commented on #10116
What article might that have been?

[2020-03-28 16:42] Tommigun1980 commented on #10116
https://montemagno.com/xamarin-forms-design-time-data-tips-best-practices/
says "Many developers may be binding their ViewModel directly in their XAML. If you are using XAML Hot Reload then you may have noticed that everytime you reload that your ViewModel gets re-created! My recommendation would be to set your BindingContext in your page constructor".

From which I extrapolated that hot reload do

[2020-03-28 16:57] jfversluis commented on #10116
I see that it could be clearer, but what is meant is that when you set your binding context _in_ XAML then you will lose it when using Hot Reload. To overcome that, set your binding context in the constructor and it should be persisted across hot reloads.

If your request is to retain the context when declared in XAML then please update the issue to reflect that more, else if you're satisfied with

[2020-03-28 17:05] PureWeen commented on #10112
Like when using a UWP app and it's wide enough to show both panes?

[2020-03-28 17:15] Tommigun1980 commented on #10115
Thanks for the info. It was not my intention to use Github as a support page, rather I thought the behaviour was unintended. I did actually post on the Xamarin forums first where somebody claimed this to be a bug.

For what its' worth now that I know this is intentional, I wrote this helper class so if anyone else runs across this feel free to use it:

[code]

Usage: Simply derive your pages from

[2020-03-28 17:15] PureWeen commented on #9965
This feels like a google level exception and not something we can fix.

I found a similar issue logged here
https://github.com/Electron-Cash/Electron-Cash/issues/1795

Do you have a full stack trace? Does it look similar to the one there?

[2020-03-28 17:30] PureWeen commented on #10030
@doriangh can you log a bug? It'll be quicker to get this all working and fixed in CollectionView  then it will be with ListView

[2020-03-28 17:32] PureWeen commented on #10061
Closing as duplicate
Marked other issue as regression

[2020-03-28 17:32] #10061 closed

[2020-03-28 17:34] AbuSafi commented on #7065
**DisplayAlert** and **DisplayActionSheet** orientation is controlled by the device locale, rather than the FlowDirection property.

Reference : https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/localization/right-to-left

[2020-03-28 17:39] PureWeen commented on #9947
@luismts Can you attach a repro?

[2020-03-28 18:11] jrahma commented on #7065
I still believe this can and this should be fixed

[2020-03-28 18:30] Tommigun1980 opened #10118 "[Bug] Rendering glitch when translating views"
Hi.

There seems to be a rendering glitch happening when views are translated, that leaves a copy of the view on screen when the view is translated so that it gets close to the edges of the screen.

Please see the following video:
[https://streamable.com/evs8u](https://streamable.com/evs8u)

The red box is a Frame with a red background, with a pan handler that translates it according to drag delta

[2020-03-28 18:58] Tommigun1980 commented on #10112
Hi PureWeen!
Unfortunately I'm not familiar with UWP apps so I can't confirm, but if you look at for example Facebook Messenger on an iPhone and you tap a chat, it slides in the chat with an animation. That 'slide in next pane' paradigm is frequently used and I was expecting the TwoPane view to do the same thing, but unfortunately it just replaces the view when in single page mode.

I started to i

[2020-03-28 19:06] PureWeen commented on #10112
So when you're changing PanePriority you're wanting it to animate in the second pane?

[2020-03-28 19:08] Tommigun1980 commented on #10112
Yes exactly! Failing to animate the second pane in makes it too unpolished to use in a real application imho, as transitions are so important for the user experience. So if that could be added it'd be fantastic! Thanks for considering.

[2020-03-28 19:14] PureWeen commented on #10112
@Tommigun1980 Awesome!!  I like this idea.

We did something kind of like that for our XamarinTV demo app
https://github.com/xamarin/app-xamarintv/blob/master/XamarinTV/Views/MainPage.xaml#L70

But that was mainly when we swapped the content itself.

Adding transition animations into there would be cool

[2020-03-28 19:21] PureWeen commented on #10077
@andreinitescu FYI

[2020-03-28 19:27] easoftwaresanderson commented on #10031
Yes, I get the same exception. This one was with the flag set.

[2020-03-28 19:28] PureWeen commented on #10031
@easoftwaresanderson sounds good

Without a full stack trace though we might only be lucky to address your use case.

This type of exception is basically the same as an NRE exception. Without a full stack trace it's hard to know what specific path is causing yours

[2020-03-28 19:29] easoftwaresanderson commented on #10031
Here my stack trace , sorry not send  it before.

 	0x1F in Xamarin.Forms.Platform.Android.Platform.GetNativeSize at D:\a\1\s\Xamarin.Forms.Platform.Android\Platform.cs:1332,4	C#
 	0x3 in Xamarin.Forms.Forms.AndroidPlatformServices.GetNativeSize at D:\a\1\s\Xamarin.Forms.Platform.Android\Forms.cs:855,5	C#
 	0x2D in Xamarin.Forms.VisualElement.OnSizeRequest at D:\a\1\s\Xamarin.Forms.Core\VisualElem

[2020-03-28 19:34] PureWeen commented on #10102
@PetrVobornik yea I tested on an API 29 emulator and building with API 29

If you have a repro you could attach that would be helpful. The layouts with android buttons can be a bit quirky and super situational specific

[2020-03-28 19:36] PureWeen commented on #10060
@rossegger13 it doesn't look like your repro uploaded correctly

[2020-03-28 19:37] Tommigun1980 commented on #10112
Thank you, so happy this got traction!

[2020-03-28 19:38] easoftwaresanderson commented on #10031
Here my stack trace , sorry not send it before.

0x1 in System.Diagnostics.Debugger.Mono_UnhandledException at /Users/builder/jenkins/workspace/archive-mono/2019-10/android/release/mcs/class/corlib/System.Diagnostics/Debugger.cs:120,4 C#
0x1F in Xamarin.Forms.Platform.Android.Platform.GetNativeSize at D:\a\1\s\Xamarin.Forms.Platform.Android\Platform.cs:1332,4 C#
0x3 in Xamarin.Forms.Forms.AndroidP

[2020-03-28 19:39] PureWeen commented on #9873
@nodoid shneuvil at microsoft.com

[2020-03-28 19:59] crenan opened #10119 "[Bug] Entry shows incorrect value when binding against a float property with StringFormat"
### Description
Xamarin Entry views are not working properly when using StringFormat in the binding configuration (e.g. 'F4') for a writable float property combined with an Android using a language other than US English (e.g. Portuguese Brazil).

### Steps to Reproduce

1. Create a new AVD
-> I used Nexus S
-> API anything >= 25
-> +Google APIs (does not matter but I use it anyways)

2. Start the

[2020-03-28 20:00] PureWeen commented on #9660
@jsuarezruiz if you update your sample to the latest forms are you able to reproduce @BrianJSavage 's issue

[2020-03-28 20:33] rossegger13 commented on #10060
Sorry, my bad.. should be fixed

[2020-03-28 20:54] PetrVobornik commented on #10102
I tried it on the new blank project and it works fine. Then I tried other project differences and the buttons change its sizes to wrong when I add NavigationPage to the App class.

    MainPage = new NavigationPage(new MainPage());

I'm attaching this new project where are wrong buttons:
[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/4397872/App1.zip)

[2020-03-28 20:54] ahmedalejo opened #10121 "[Bug] ToolbarItems of ControlTemplated Pages do not inherit the page´s BindingContext (Sometimes))"
Previously reported here https://github.com/PrismLibrary/Prism/issues/1399
by @whiskeyboy9 _on Mar 15, 2018_

Description
Hello.

Basic Setup: I want to have a `Xamarin.Forms.ToolbarItem` and a `Xamarin.Forms.ControlTemplate` in a ContentPage with a ViewModel. The `ToolbarItem` has a Command which should be executed on Tap.

Problem: The `ToolbarItem.Command` has a Binding to the `ViewModel.Comman

[2020-03-28 21:12] PetrVobornik commented on #10102
And here is configuration of my emulator if it's relevant:
![image](https://user-images.githubusercontent.com/11021768/77833922-26716500-7141-11ea-8b2c-6b4683bdab3b.png)

[2020-03-28 21:19] PawelHaracz commented on #6829
Any progress?

[2020-03-28 21:21] PureWeen commented on #10043
@thales-man without a repro it's a little hard to help or guide

From your descriptions the best I can figure is that there are conflicting types and possibly old things just left over

i.e.

I've tested new projects with the steps you've given and they all work fine for me.

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0731

Makes it sound like there are c

[2020-03-28 21:34] PureWeen commented on #6829
@HobDev a couple things with the sample

1) none of the gotoasync's are awaited so navigation is never actually triggering
2) If you change the global routes to
[code]

Then navigate like this
[code]

it works fine

@PawelHaracz if you're having issues can you log an issue with a repro please?

[2020-03-28 21:34] #6829 closed

[2020-03-28 21:39] PureWeen commented on #9890
I tested this with CollectionView and same issue there... I'm guessing it's an issue with the headless grid

[2020-03-28 21:48] PureWeen commented on #9941
@akamud I'm guessing that guard is there so it only runs when the renderer is reused which is only really the case with CollectionView and ListView so that when a new element comes in the background is updated

AFAIR you can't really create a custom renderer for stacklayout, grid, etc... because these are all just xplat layouts. They don't have any specific platform level representations. All they

[2020-03-28 21:57] akamud commented on #9941
I guess it makes sense for my use case. Just wondering if this recommendation of not creating a custom renderer for layouts should be added to the docs. What do you think @PureWeen?

Also, what is the easiest way of finding the Renderers for those classes missing from `AssemblyInfo`?

[2020-03-28 22:04] BrianJSavage commented on #9660
@samhouts I'm back home now and can provide details if required.
@PureWeen Thanks for confirming it as an issue

[2020-03-28 22:40] nodoid commented on #9873
Sent

[2020-03-29 01:34] tomeverin commented on #8363
This would be useful especially as easy way to present system date/time selector

[2020-03-29 01:51] YigitCiray commented on #9550
Hi,
I was having the same problem and I came up with a work around, backup solution.
I am calculating the line count with using width, text font and text and when there is a change on the line number I am replacing last (' ') space with ('\n'). This is a backup solution for me until issue is fixed. But it is  working as expexted.
ex.
` CGSize size = Control.Text.StringSize(Control.Font, Control.Fr

[2020-03-29 04:55] Tommigun1980 commented on #9326
I hope this gets fixed soon as it breaks pull to refresh.

[2020-03-29 07:05] knocte commented on #9778
@PureWeen why was this closed?

This statement is actually not true. Proof: https://github.com/xamarin/xamarin-forms-book-samples/tree/master/Chapter07/FS/CodePlusXaml, raised by James in twitter actually: https://twitter.com/JamesMontemagno/status/1243254633100750848 (if you want to test it right now, with VS4Mac, also include this: https://github.com/xamarin/xamarin-forms-book-samples/pull/59 )

[2020-03-29 07:13] thales-man commented on #10043
This is not something you can fix, it’s to do with linking, binding and package referencing which is Visual studio now and not specifically Xamarin; it’s just that’s it’s always Xamarin that breaks. So the teams probably should get together and chat about it...

[2020-03-29 09:46] stepkillah commented on #9000
here is an ugly workaround, not sure if it's exactly this issue but it's at least somehow works without overlapping
[code]

[2020-03-29 11:25] arunr14 commented on #10086
Sorry , I am confused here , I thought in "Reveal" I would have to tap on the text after it is revealed for it to execute?

Intuitively I expect to see the text as soon as I start swiping so I know what action I am performing.

Also it seems this behavior changed between 4.5 and 4.6 ?

[2020-03-29 12:55] ysmoradi opened #10123 "[Bug] ImageButtonRendere caused crash"
### Description
I received a crash log in appcenter with following stacktrace. I've no steps to reproduce )-:

[code]

### Basic Information

- Version with issue:
- Last known good version: This is the first version of our app.
- IDE: VS 16.5.1
- Platform Target Frameworks:
  - Android: 10
- Android Support Library Version: I'm using AndroidX
- Nuget Packages:
[code]
- Affected Devices:
motorola

[2020-03-29 14:48] nosami commented on #9778
@knocte That isn't proof that the preview worked. Just proof that you can use F#/XAML

[2020-03-29 15:10] davidortinau opened #10124 "[Bug] Shell SearchHandler blocks touch to view"
### Description

I have the following ContentPage that implements a SearchHandler to filter the CollectionView items source on the page. I set the ShowsResults to false, however there's still a view being displayed over the page preventing touches from getting to my CollectionView.

### Steps to Reproduce

[code]

[code]

### Expected Behavior

Everything works as it does not, but the content of t

[2020-03-29 15:31] knocte commented on #9778
Well, try it for yourself, open that solution in VS4Mac, and you can see the previewer renders it.

[2020-03-29 16:20] ivanrlg commented on #9376
Hello, I have exactly the same problem, any solution?

[2020-03-29 17:37] PureWeen commented on #10123
@ysmoradi can you post the XAML you are using that contains the image button?

[2020-03-29 17:51] Tommigun1980 commented on #10118
FWIW I found a workaround - everything renders fine if the panned view is a layout, and the Frame is added into it. If the panned view itself is a frame, the above rendering error happens.

[2020-03-29 18:31] RonnyBansemer commented on #10032
@jfversluis Sorry, I just had time to create the sample project. I did not test it on iOS, the Android default renderer are also affected. There you go: https://github.com/RonnyBansemer/StepperRoundingIssue

![image](https://user-images.githubusercontent.com/45567951/77857154-30a46980-71fc-11ea-86fa-c4e97e6e8c67.png)

[2020-03-29 18:34] piotrbalut commented on #10057
the version 4.5.0.495 solved it

[2020-03-29 20:15] Josecanalla opened #10126 "[Bug] TabBar appears on iOS even if TabBarIsVisible is set to False on Shell app"
### Description
I create a new Xamarin.Forms Shell app. I set in the AppShell.xaml attribute Shell.TabBarIsVisible="False". Then if I run the app on iOS or Android, the bottom TabBar is not visible.
But then I added a MenuItem to AppShell, which executes a Command, which add a new ShellContent page to the FlyoutItem object. When I press this new MenuItem on iOS, the TabBar is now visible. And it d

[2020-03-29 21:51] SneWs commented on #9845
Yeah, same here, still seeing the occasional object disposed exception using 4.6.0 pre2

[code]

[2020-03-30 05:58] hemawst commented on #10102
In my case it makes no difference whether I use a navigation page or not and removing the scroll pane has no effect. Simply setting Setter Property = "WidthRequest" Value = "xxx" changes the size of the buttons. (Android versions: Emulator 7.1, manifest target version 8.1, project target version 9.0)

[2020-03-30 06:27] Russc0 commented on #6494
I added this to the iOS Frame Renderer. It removes the ugly default shadow and adds a nicer more material design shadow. It also fixes the clipping issue. Call this OnElementChanged and OnElementPropertyChanged

`private void SetShadow() {
	Element.IsClippedToBounds = false;
	Layer.MasksToBounds = false;
	if(Subviews.Length > 0) {
		Subviews[0].Layer.CornerRadius = Layer.CornerRadius;
		Subviews[0

[2020-03-30 07:06] gioggio79 commented on #6851
The only "workaround" I'll find is to add uno item with opacity=0 if I have only one item in my collection.

[2020-03-30 07:39] John0King opened #10127 "[Enhancement] Managed UI For Xamarin.Forms=> Xamarin.UI"
## Summary
Today there are many managed/web based UI Framework has achieve great  success for mobile develop
For example ：
- [Flutter](https://flutter.dev/)
- [uni-app](https://uniapp.dcloud.io/) (target 8 platform)
- hybrid app

and their success all come with that the UI is very easy to control ! and now Xamarin.Forms is still working on to  use   platform native controls/layout. that cause many

[2020-03-30 08:05] ysmoradi commented on #10123
Sure, first of all, I should find a page that contains that ImageButton and it takes some time.
This crash is not happening all the time.

[2020-03-30 08:10] ysmoradi commented on #10123
This is my plan: App center can detect if previous session was crashed or not. I write every page's name I navigate to preferences, so the next time I get crash report, I can see the location.

[2020-03-30 08:53] zuimengaitianya commented on #9765
4.5.0.495 - still not working for me

[2020-03-30 09:16] jfversluis commented on #9916
I've reread the whole thread again and I think what you are looking for is simply setting `ApplyToDerivedTypes="True"` on your page styles. Or, you need to specify the right type.

In your reproduction app `Page1` is of type `Page1` and not `ContentPage`. By setting your style like this:

[code]

It _does_ work. If you only want to set it to just the `Page1` type, you will need to add the right na

[2020-03-30 09:21] jsuarezruiz commented on #10111
More information:

[code]

PR: https://github.com/xamarin/Xamarin.Forms/pull/10129

[2020-03-30 09:34] jfversluis commented on #9941
Would [this page](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/custom-renderer/renderers) in the docs be of any help?

[2020-03-30 09:46] Amine24h commented on #6697
Same with me (version 4.5.0.495), any workarounds?

[2020-03-30 09:58] PetrVobornik commented on #10102
Buttons looks identical when I remove the ScrollView. But when SW is here, then I see after launch a scroll bar on buttons with wrong wrapping for a few seconds. Yes, I can set WidthRequest, but I'm using localization and texts are variouselly long. And on UWP are another sizes too. This is not all bad buttons in my app. And the height is wrong calculated too.

[2020-03-30 10:36] BrayanKhosravian commented on #8783
this issue can be reproduced by opening a page with icon and suspend the uwp app and wait for a while.
I waited a few minutes and noticed that the images where missing.
It is interesting that the images do not disappear when the app is immediately unsuspended after suspending it.

[2020-03-30 10:41] eevahr commented on #9765
Hi @samhouts do you have any updates on this issue? :)

[2020-03-30 10:53] BrayanKhosravian commented on #8783
So i found that "Font ImageSource" Gallery.
This is how the page looks like right after suspending the app.
After resuming the app it seems like the images or the whole view is not being updated.
![image](https://user-images.githubusercontent.com/35541212/77904768-60e41a80-7285-11ea-9f73-5ad50faf8f49.png)

[2020-03-30 11:11] Chansardrake opened #10131 "[Android] Tapping Button multiple times, multiple pages are opened"
### Description
After application loaded, clicking button multiple time, opens multiple pages (only occurs on first time)

**Xaml Code:**
`<Button x:Name="Button" Text="Button" Clicked="Button_Clicked"/>
`
**C# Code**
`private void Button_Clicked(object sender, EventArgs e)
{
    Navigation.PushAsync(new NewPage());
}`

**Sample Link:** [Sample](https://www.syncfusion.com/downloads/support/directt

[2020-03-30 11:12] Sonic3R opened #10132 "[Bug] Xamarin.iOS application crashes on device with release version but not with DEBUG version"
### Description
I deployed my iOS application with Release mode from VS for Mac to TestFlight. After installing application on iPad 13.1.3, it crashes instantly. I got log from Crashes section of TestFlight but I don't know how it read it.

### Expected Behavior
Expected to work.

### Actual Behavior
It work if deploy with DEBUG mode. But is not good for production.

### Basic Information

- Versi

[2020-03-30 11:32] StephaneDelcroix commented on #10116
this will come in the future with HR

[2020-03-30 11:38] StephaneDelcroix commented on #10119
binding are supposed to use the CurrentUICulture for conversion

[2020-03-30 11:57] jfversluis commented on #10032
No worries @RonnyBansemer thanks for taking the time to do this!

To verify if it also happens on iOS, I pasted all the bits into a new project. My File > New project came with Forms 4.4 where this bug didn't happen, then upgraded to the latest stable and I suddenly see this on both Android and iOS. Fairly sure it's because of the change I mentioned earlier.

[Repro10032.zip](https://github.com/xa

[2020-03-30 12:00] aharwood2 opened #10133 "[Bug] [Shell] Locked Flyout disappears when same item pressed twice"
### Description
I'm using a shell flyout set to `FlyoutIsPresented = true` and `FlyoutBehavior = Locked` to implement a two-pane layout -- a permanently displayed menu on the left and page content on the right. However, a double-tap on a item hides the flyout (which cannot then be opened again). Additionally, if the currently selected item is tapped a second time, the same behavior is observed.

C

[2020-03-30 12:18] crenan commented on #10119
Hi, @StephaneDelcroix. Mine is set to "Português Brasil" (pt-br), as stated in the "Steps to Reproduce" above.

[2020-03-30 12:28] Erdogan34 commented on #9073
@ahmedalejo
Is this behavior available with the new xf version or already has previous versions?

[2020-03-30 12:34] Denn1Ro opened #10134 "Shell Top Tabbar focus issue on IOS devices[Bug]"
### Description
The Top Tabbar of a shell application on IOS devices has a weird behavior when you tap a tab which is out of the initially visible range of the screen.
### Steps to Reproduce

1. Just create an new Shell application and add enough ShellContents elements in order to create a scroll-able top Tabbar
2. Scroll to the right and tap any tab which was not initially visible in the screen w

[2020-03-30 12:57] balazserd commented on #6625
Unluckily, Swipe Gestures are fired both for child and parent view. So this is heavily inconsistent and sounds like something very basic with gestures.

For example if I put a CollectionView in a StackLayout with a SwipeGestureRecognizer, the recognizer will fire along with the collectionview scroll, while normal should be that CollectionView "blocks" the Stacklayout's recognizer. Or at least ther

[2020-03-30 13:14] gh-dekker commented on #6697
I have the same problem. We fixed it (for now) to register the login page in the shell as well. When we logout, we just open the login page as a modal page, hide the tabbar menu and disable and hide the back button.. It's not great but it works..

The only ugly part that is left is when we switch from the first login page (when it's still a NavigationPage) and then after login we set the MainPage

[2020-03-30 13:26] Xyotic commented on #8787
I'd like to add the following code to this solution wich will help if your Entry isn't initially visible:
[code]

[2020-03-30 13:35] plamen-i commented on #9235
Any news on this? I'm stuck on XF 4.4.0.991265...

[2020-03-30 13:49] pmahend1 commented on #10104
@PureWeen  Here is the repo. Please use `ScrollViewIssue.sln`

[XamarinFormsIssues/ScrollViewIssue](https://github.com/pmahend1/XamarinFormsIssues/tree/master/ScrollViewIssue)

Screenshot
<img src="https://user-images.githubusercontent.com/21352870/77919668-7ba99580-726b-11ea-8bc4-3492d57c427a.png" width="500" height="1000" />

[2020-03-30 14:01] mikeparker104 opened #10135 "[Enhancement] Enable greater control over keyboard behavior without platform-specific code"
## Summary
The following requirements can be addressed using custom platform-specific code:

1. [Having the content area move up (and resize) to accommodate the soft keyboard](https://github.com/dotnet/maui/issues/11979)
2. [Having the return/send key (on the soft keyboard) invoke the return command without having the keyboard dismissed as a result](https://github.com/dotnet/maui/issues/12003)

[2020-03-30 14:14] varyamereon opened #10136 "[Bug] [Shell] [UWP] Toolbar Item Commands fire twice"
### Description

In a Xamarin Forms app using Shell, if a Toolbar Item is clicked in UWP then the associated Command is fired twice. This does not apply if the Command is fired from anything else such as a button, only Toolbar Items. This issue only appears on UWP, it does not appear on iOS or Android.

### Steps to Reproduce

1. Create a Xamarin Forms app using Shell.
2. In a content page create

[2020-03-30 14:18] varyamereon commented on #10136
Also just tested with with UWP Target 18362 and latest Xamarin.Forms v4.6.0.494-pre2 and issue is still present.

[2020-03-30 14:20] #10095 closed

[2020-03-30 14:20] #10096 closed

[2020-03-30 14:20] #6408 closed

[2020-03-30 14:20] #7683 closed

[2020-03-30 14:20] #8495 closed

[2020-03-30 14:49] Yuvaraj-007 commented on #6625
Hi @balazserd,

My requirement is I need to write the touch gesture recognizer for both child and parent view..i am also doing the custom view create idea to do this.. So your idea not worked for me. I need a support from your basic controla not like custom view of swipe gesture.
Thanks and Regards,
Yuvaraj C

[2020-03-30 15:05] balazserd commented on #6625
This wasn't a suggestion, this was just to clarify your bug is not consistent. SwipeGestures work the other way, and they're also bugged.

[2020-03-30 15:44] ibreslauer commented on #5210
With no resolution in sight, has anyone found a way around this other than walking away from Material's Entry altogether?

[2020-03-30 16:05] WillAutioItrax opened #10137 "Cases where in UWP an Entry does not display existing data until the field is tapped. Works in Droid[Bug]"
### Description
If an Entry is contained within a ScrollView, in UWP, the second and subsequent ones to not display their content until they get focus. It works in Droid and iOS.
### Steps to Reproduce

1. create a basic Xamarin Forms cross platform Solution (include Droid, iOS, UWP
2. use this xaml as the Content:
`    <StackLayout Orientation="Vertical" BackgroundColor="White">
        <ScrollVi

[2020-03-30 17:01] dpozimski commented on #9765
Hi, I have the same issue too.
We have to release 4.5 version (with new web view) but we cant because our navigation bar is broken...

[2020-03-30 17:04] samhouts commented on #9765
@eevahr Thanks for the ping! We don't always see conversation on closed issues unless there is a specific ping, so I missed the comments saying this wasn't working.

I'll reopen this, and we'll take a look. Thanks!

[2020-03-30 17:58] solomonfried commented on #10080
Is there a schedule as to when VS 16.5 with this fix will be released?

[2020-03-30 18:43] Tommigun1980 commented on #10116
I'd definitely want to update the issue to reflect this more, as I am running into this exact problem.

So, my feature request is to please retain a view's binding context when hot-reloading XAML, even in the case it has been created and assigned in XAML. Xamarin's documentation drives people to use XAML as much as possible (which is a sane paradigm), but not retaining the view model when hot relo

[2020-03-30 19:02] dfarrNTST commented on #9190
Is it possible to get some guidance on how this actually works or doesn't work?  What is supported, what isn't supported?  We have not been able to get any of this working in any solution...new or old based on the documentation in the release notes.  The documentation simply states to add the font file to the shared project, set as Embedded Resource, ExportFont in AssemblyInfo.cs, and use.  This d

[2020-03-30 19:09] wagenheimer commented on #9190
@dansiegel Do you have something to tell about this? It seems that there isn't anybody checking this bug.

[2020-03-30 19:43] JuanuMusic opened #10139 "[Bug] [Android] SnapPointsAlignment=Start doesnt work on Android"
### Description
Setting the LinearItemsLayout.SnapPointsAlignment property to Start doesn't work for the first element.
It displays a white space to the left instead of positioning the first element

### Steps to Reproduce

`<CarouselView x:Name="carouselView" PeekAreaInsets="100"
                      CurrentItemChanged="carouselView_CurrentItemChanged"
                      PositionChanged="caro

[2020-03-30 19:46] jfversluis commented on #9190
@wagenheimer actually, just last week we have merged a PR that should fix the working of this :) if you're feeling adventurous you can check out our nightly feed which should have the fix. If not, within a week there should be a new 4.5 service release which also has this fix.

Please be sure to try it and let us know so we know if this can be closed or we need to fix it some more. Thanks!

[2020-03-30 19:58] brminnick commented on #9879
Expanding on @dimonovdd's investigation, when the `CollectionView` is inside of a `RefreshView`, adding a `CollectionView.Footer` will also break the `RefreshView`.

 ## Reproduction Steps

1. Download / Clone this repo: https://github.com/brminnick/CollectionViewFooterRefreshViewRepro/edit/master/README.md
2. In Visual Studio, open CollectionViewFooterRefreshViewRepro.sln
3. Build / deploy Collec

[2020-03-30 20:13] BurkusCat commented on #9215
I think this has been broken a very, very long time. If you are using "Popover" for your master behaviour, this workaround should fix it: https://github.com/xamarin/Xamarin.Forms/issues/1437#issuecomment-441178867

Its not the nicest workaround and it probably isn't very temporary as this looks to be an old issue. I'd recommend creating a class that inherits from `ContentPage` then adding this wor

[2020-03-30 22:24] ignacioinnovo commented on #9242
Dear Xamarin Forms Team,

If I use these two sentences (in this order) inside MainActivity:

global::Xamarin.Forms.Forms.SetFlags("CollectionView_Experimental");
global::Xamarin.Forms.Forms.SetFlags("SwipeView_Experimental");

I get an exception in Android with Xamarin Forms 4.5.0.495.

If I swap the order to this:

global::Xamarin.Forms.Forms.SetFlags("SwipeView_Experimental");
global::Xamarin.Fo

[2020-03-30 22:25] JohnLivermore commented on #9242
I don't think CollectionView needs the CollectionView_Experimental any longer?

[2020-03-30 22:47] samhouts commented on #9242
@ignacioinnovo Please read https://docs.microsoft.com/en-us/xamarin/xamarin-forms/internals/experimental-flags for more about experimental flags. If you call `SetFlags` more than once, you are actually overwriting the value you've previously set. Instead, you should call it once with all the flags you want enabled. And @JohnLivermore is correct. CollectionView is no longer experimental. Thanks!

[2020-03-30 23:09] ignacioinnovo commented on #9242
My mistake. I didn´t know that.
Thank you very much.

[2020-03-31 00:19] #8766 closed

[2020-03-31 00:48] MariovanZeist commented on #9995
I will close this issue for now, as it seems to be fixed in the next release.
Will reopen when the problem persists.

Thanks @PureWeen

[2020-03-31 00:48] #9995 closed

[2020-03-31 03:31] TingtingAn opened #10141 "[Bug] Xamarin.Forms global Style does not work correctly in Xamarin Native Projects"
### Description
Xamarin.Forms global  Style does not work correctly  in Xamarin Native Projects，
It do not apply for all pages.
### Steps to Reproduce

1. Set global style
[code]

### Expected Behavior

The backgroundColor of labels in all pages is Red

### Actual Behavior

The Style does not apply for all pages

### Basic Information

- Version with issue: 4.5.0.356
- Last known good version:
- I

[2020-03-31 04:35] Tommigun1980 commented on #10111
This actually breaks Android builds as well outside the XAML previewer. On iOS it's fine, but on Android it throws an error claiming that the "SwipeView_Experimental" flag has not been set, when running in the emulator. It is definitely set in MainActivity.cs before Forms.Init:

[code]

Here is the full stack trace (UXDivers.Grial.Repeater is the view that contains the swipe view as a child):

[co

[2020-03-31 04:46] Tommigun1980 opened #10142 "[Bug] Absolute layout with proportional dimensions and AutoSize don't work"
Hi.

If you have a view inside an absolute layout and use proportional dimensions and set the width or height to AutoSize, nothing gets drawn.

[code]
works, but

[code]
doesn't. Shouldn't auto sized relational dimensions be valid; an automatic size is an automatic size no matter whether the layout is proportional or absolute.

I'm using Xamarin.Forms 4.6.0.494-pre2.
Thanks.

[2020-03-31 06:00] julpane commented on #6697
Little bit tricky to resolve this issue.
......
In App:
[code]

Register the login page in the shell:
`Routing.RegisterRoute("login", typeof(LoginPage));`

When  Login Success:
`App.Current.MainPage = new AppShell();`

When Logout:
`await Shell.Current.GoToAsync($"login");`

In LoginPage:
[code]

[2020-03-31 06:44] thomasgalliker commented on #10080
@mauroa this sounds promising, thanks. Do you already know in which VS release the fix will be available? I can't find it on the release notes of 16.6 P2 nor is there any 16.5 service release announced. I'm on VS 16.5.1 and would do everything to get the dev team rolling again...

[2020-03-31 07:31] lsaudon opened #10143 "[Enhancement] Entry with ErrorText"
## Summary
Entry with ErrorText

## API Changes

Add ErrorText Property in Entry API

[code]
![image](https://user-images.githubusercontent.com/25029876/77998935-25535a00-7332-11ea-8ecd-140c81e58665.png)

## Intended Use Case
When doing field validation, so that the keyboard does not cover the ErrorText field.

[2020-03-31 08:36] ahmetkocadogan commented on #9190
I updated my Xamarin.Forms nuget packages to 4.5.0.495 to try this, and in android emulator, embedded fonts worked like expected. But when i publish the android app (i use aab), and download from google play to device via update, i noticed embedded fonts are not working.

[2020-03-31 09:14] prasannamca1107 commented on #10093
same issues

[2020-03-31 09:50] NataliiaBidiuk commented on #6851
Will you fix it in the future? This bug is common and needs to be fix.

[2020-03-31 10:52] VladislavAntonyuk commented on #9190
I think it would be nice if somebody attach a sample with most popular fonts (e.g. FontAwesome)

[2020-03-31 10:55] aharwood2 commented on #10133
I notice that if I set the properties after `InitializeComponent()` in the AppShell ctor, I get the expected behaviour. Perhaps this issues is related to how the styling is applied from the XAML?

[code]

[2020-03-31 10:55] PaulVrugt commented on #9900
We are running into the same problem. Disabling "bundle assemblies into native code" fixes it, but we don't want to do this.

[2020-03-31 10:58] jfversluis commented on #9190
@ahmetkocadogan would you be somehow able to verify it does work with an APK? Also I think the new service release coming out this week will have some improvements, when that comes out please try that and let us know if that fixes it.

@VladislavAntonyuk whenever the version comes out with all the latest bits to make this work more stable I have a blogpost ready. The sample is already to be seen h

[2020-03-31 11:05] CNouws commented on #9900
Here the same problem and indeed disabling "bundle assemblies into native code" fixes the problem. But this is not an option. Any update please?

[2020-03-31 11:20] divi1411 commented on #6608
Any update on this?

[2020-03-31 11:34] MitchBomcanhao commented on #2899
I'm seeing this stack on our app, when it is redrawing some content on the page. don't know what it is doing yet, but have seen this crash twice today on my testing, and have seen the occasional crash from end users.

[code]

[2020-03-31 11:45] MitchBomcanhao commented on #2899
when debugging, this exception is raised
[code]

[2020-03-31 11:47] ahmetkocadogan commented on #9190
@jfversluis i published the app as apk, and no difference. Fonts not working in android. Below, i attach screen images, android-aab, android-apk, and iphone, all real devices.

Android - APK
![android-apk](https://user-images.githubusercontent.com/7287309/78022794-3ca83c80-735e-11ea-917e-7eba98a63bfd.jpg)

Android - AAB
![android-aab](https://user-images.githubusercontent.com/7287309/78022818-46ca

[2020-03-31 11:53] mshwf opened #10146 "Xamarin.Forms.Maps.Map.VisibleRegion is null untill it's panned"
### Description
`VisibleRegion` property is alway null untilll it's moved by the user. Currently in the app I'm working on, I ask the user to move the map, so I can get the region!
Also this happens even when I move the map using `MoveToRegion` method!!
### Steps to Reproduce

1. Get `Map.VisibleRegion` without moving the map

### Expected Behavior
`VisibleRegion` is NOT null
### Actual Behavior
`

[2020-03-31 12:18] angelru commented on #8581
The same issue here...

[2020-03-31 12:20] MickLesk commented on #6466
The problem also occurs with us! Is very critical for us, because we build a version (hotfix) for our Productive Live App every 2 days. Something must definitely happen here, we can't reinstall Forms every week. With us this occurs with the current 4.5 - version. @samhouts Can you push the problem again or add it to the build pipeline?
![2020-03-31 14_19_30-Appzeug _ Microsoft Teams](https://user-

[2020-03-31 12:26] angelru commented on #6294
Any updates?

[2020-03-31 12:35] Muthukumaran-G commented on #9312
Hi @samhouts ,

This is a critical issue we are facing at our end. Can you please us a valid solution from your side?

Thanks.

[2020-03-31 12:48] MitchBomcanhao commented on #2899
Using a custom LabelRenderer like this
[code]
it appears to stop the crashes

[2020-03-31 13:03] DaveDaBrave commented on #10093
We have the same issue in our apps. Want to have a colored NavigationBar, but got a lightGray or darkGray (dependent on the iOS Appearance - dark or light mode)

[2020-03-31 13:18] fisforfaheem opened #10147 "Please Make this tool simple like Flutter which does all work by it self"
we don't need 75 percent code.. Please make it 100 percent like flutter do with no tweaking necessory

[2020-03-31 13:23] Symorp commented on #6681
I am facing same issue. I wanna get the first page every time, so I can `InserPageBefore()` my error page so then I should PopToRootAsync() and show fatal error page. But with this bug, when I get the first page from the stack it is null so I can not do `InsertPageBefore()`

[2020-03-31 13:36] TimLariviere opened #10148 "[Enhancement] Make StepperPositionProperty field public on Stepper"
## Summary

We're currently in the process of adding support of Xamarin.Forms 4.5 to an open-source MVU library, [Fabulous.XamarinForms](https://github.com/fsprojects/Fabulous).
This library relies on the `XXXProperty` fields for various reasons (from automated bindings generation - much like native libs bindings - for supporting Xamarin.Forms, to clearing previously used properties)

I noticed th

[2020-03-31 13:57] SatyaRamprasad opened #10149 "[Bug] Frame BorderColor and BorderWidth(written custom code) is not working as expected on bindings but working on hot reload"
### Description
Frame BorderColor and BorderWidth(written custom code) is not working as expected on bindings but working on hot reload
### Steps to Reproduce

1. Create a frame with border color is transparent and border width is 2 initially
2. After clicking on frame, changing border color to Green
3. But thickness of border color is not applying properly

### Expected Behavior
Thickness of fram

[2020-03-31 13:59] crs2m5smith commented on #9511
This bug does not happen on Android just iOS, has there been a work around for this yet? I see it is still open, will it be in a release soon?

[2020-03-31 14:03] Alex-111 commented on #8718
Also just tried the preview of 4.6. Unfortunately not much change here….

[2020-03-31 14:03] Huaba93 commented on #6554
Same problem here. it doesn't even show all entries.

Tried it with **BindableLayout** and it worked as expected:
[code]

**CollectionView** does not work (vertically all items are displayed):

[code]
![collectionView](https://user-images.githubusercontent.com/21239003/78035113-f1dff200-7368-11ea-93a6-67a331fc1d2b.gif)

If you need a sample repo let me know.

[2020-03-31 14:27] VladislavAntonyuk commented on #9190
Thank you @jfversluis , will take a look

[2020-03-31 14:35] RsZoli commented on #9890
@PureWeen Thats strange! I don't have this particular issue with CollectionView, only the scrolling performace is so bad that i need to use ListView instead :(

[2020-03-31 14:42] ffgiraldez commented on #9526
I facing the same problem, no matter if change the color, just update the Label (change the Text, for example) and will reset the color to default. as workarround I apply a Effect
[code]

[2020-03-31 14:47] jfversluis commented on #9526
@ffgiraldez would you be able to try the NuGet available here: https://dev.azure.com/xamarin/public/_build/results?buildId=15995&view=artifacts&type=publishedArtifacts

Which is part of PR #10120 I think that should fix this problem and it would be awesome to verify that :)

[2020-03-31 14:58] ffgiraldez commented on #9526
@kjversluis I will check it asap

[2020-03-31 16:44] Tommigun1980 opened #10153 "[Bug] SwipeView breaks Android builds"
I mentioned this at https://github.com/xamarin/Xamarin.Forms/issues/10111#issuecomment-606393783 but decided to make a separate bug report given its severity. This is different than the aforementioned bug report as it was about the SwipeView breaking the XAML previewer.

If you have a SwipeView in your project it runs fine on iOS, but on Android an exception is thrown with "The class, property, or

[2020-03-31 18:11] jfversluis commented on #10153
What is the code in the dots for:

[code]

Are you enabling any other flags?

[2020-03-31 18:50] mina5500 commented on #3728
Is it published yet?
@samhouts

[2020-03-31 18:55] jfversluis commented on #3728
@mina5500 this has not been implemented yet

[2020-03-31 18:58] mina5500 commented on #3728
@jfversluis Is it going to be implemented?
We are waiting for this feature since 2016 😅
Null value
Clear button
Placeholder text

[2020-03-31 19:09] rasel-tr commented on #9900
With newly released version 16.5.2, the problem still continues. It starts with 16.5.0 and this is the second update ignoring this problem :(

[2020-03-31 19:26] jfversluis commented on #9190
@ahmetkocadogan this might be related, could you try the suggestion in this comment: https://github.com/xamarin/Xamarin.Forms/issues/9900#issuecomment-606558093

[2020-03-31 19:27] omghb commented on #7340
I run into the same issue with Xamarin Forms 4.5.0. Will this issue be fixed?

[2020-03-31 19:47] WingedDante commented on #9511
I'm also experiencing this on iOS exclusively.
Xamarin.Forms 4.5, collectionview preselected items,  iOS simulator.

[2020-03-31 21:13] samhouts commented on #8904
closed by #10048

[2020-03-31 21:13] #8904 closed

[2020-03-31 21:13] samhouts commented on #9169
closed by #10048

[2020-03-31 21:13] #9169 closed

[2020-03-31 21:14] samhouts commented on #9307
closed by #7923

[2020-03-31 21:14] #9307 closed

[2020-03-31 21:14] samhouts commented on #7878
closed by #8551

[2020-03-31 21:14] #7878 closed

[2020-03-31 21:14] samhouts commented on #8183
closed by #9004

[2020-03-31 21:14] #8183 closed

[2020-03-31 21:15] samhouts commented on #7242
closed by #9821

[2020-03-31 21:15] #7242 closed

[2020-03-31 21:17] samhouts commented on #9261
closed by #9655

[2020-03-31 21:17] #9261 closed

[2020-03-31 21:18] samhouts commented on #9593
closed by #10125

[2020-03-31 21:18] #9593 closed

[2020-03-31 21:18] samhouts commented on #9774
closed by #10023

[2020-03-31 21:19] samhouts commented on #9255
closed by #9194

[2020-03-31 21:19] #9255 closed

[2020-03-31 21:19] samhouts commented on #8983
closed by #9664

[2020-03-31 21:19] #8983 closed

[2020-03-31 21:19] samhouts commented on #8778
closed by #9664

[2020-03-31 21:19] #8778 closed

[2020-03-31 21:20] samhouts commented on #8767
closed by #9664

[2020-03-31 21:20] #8767 closed

[2020-03-31 21:20] samhouts commented on #9734
closed by #9464

[2020-03-31 21:20] #9734 closed

[2020-03-31 21:20] samhouts commented on #9461
closed by #9664

[2020-03-31 21:20] #9461 closed

[2020-03-31 21:20] samhouts commented on #9306
closed by  #9664

[2020-03-31 21:20] #9306 closed

[2020-03-31 21:20] samhouts commented on #9735
closed by #9725

[2020-03-31 21:20] #9735 closed

[2020-03-31 21:21] samhouts commented on #9647
closed by #9725

[2020-03-31 21:21] #9647 closed

[2020-03-31 21:21] samhouts commented on #9646
closed by #9725

[2020-03-31 21:21] #9646 closed

[2020-03-31 21:21] samhouts commented on #9783
closed by #9820

[2020-03-31 21:21] #9783 closed

[2020-03-31 21:22] samhouts commented on #9428
closed by #9661

[2020-03-31 21:22] #9428 closed

[2020-03-31 21:23] samhouts commented on #9054
closed by #9662. This should be fixed in 4.4.0 sr6, 4.5.0.495 (sr2), and 4.6.0-pre2. Thanks!

[2020-03-31 21:23] #9054 closed

[2020-03-31 21:24] hartez commented on #9845
@Reveon and @SneWs You are both seeing a different bug from a different cause. Notice that the original bug stack trace includes a call to OnElementPropertyChanged; neither of your post-4.6.0-pre2 stack traces include that.

It looks like you're both seeing an issue from Layout.ResolveLayoutChanges. Please open a new issue (and include your stack traces and any other relevant info) so we can track

[2020-03-31 21:58] eekamouse commented on #9054
I verified this is in fact NOT fixed in 4.5.0.495.

[2020-03-31 22:09] akamud commented on #9941
Kind of.

Using it as a way of finding the missing classes from `AssemblyInfo` definitely helps. But, as I commented above, I did use it, and it doesn't say anything about extending from these layouts not being a good idea, so it kind of let me to the wrong solution. Maybe adding a warning would be good enough.

[2020-03-31 22:42] PureWeen commented on #9054
@eekamouse can you attach a repro?

I tested with @samhouts zip here
https://github.com/xamarin/Xamarin.Forms/issues/9054#issuecomment-570009538

And I'm able to see the issue and then I update and the issue goes away

[2020-03-31 22:48] Tommigun1980 commented on #10153
The dots are other random code not relevant to this, or so I thought. One of the sections indeed does set other experimental flags.

So is the SetFlags method SERIOUSLY not additive? Doesn't the SET FLAGS name imply actually setting flags, ie OR:ing in bits? There are so many gotchas in Xamarin, what if you have different libraries that need to turn on different experimental flags independently of

[2020-03-31 23:18] kingces95 commented on #9965
I'd suggest adding try/catch statements everywhere and logging. It's challenging without a reproduction to resolve the issue.

[2020-03-31 23:24] kingces95 commented on #10118
Will close this out. If someone bumps into this and the work around in insufficient we'll revisit.

[2020-03-31 23:24] #10118 closed

[2020-03-31 23:30] kingces95 commented on #10123
Please attach a zipped reproduction. Thanks.

[2020-03-31 23:31] petro2050 opened #10157 "[Enhancement] Implement an event to detect scroll begin and end for CarouselView"
## Summary
The current `Scrolled` event sends scroll parameters, but there is no way to get a notification when scrolling begins and ends. Having such notifications is crucial because we can pause animations before scrolling begins and start them after it ends. When animations continue during scrolling, UI stutter happens, and it's not very pleasing.

## API Changes

A possible API would be to cre

[2020-03-31 23:38] kingces95 commented on #10132
Please try and deploy debug and release directly to iOS iPad physical and simulated iPad and see in which of those environments  you can capture a stacktrace. Short of that, please attach a zipped reproduction. Please see if you're able to reduce the complexity of the environment such that we can reproduce the issue simply with a reproduction deployed to iPad.

[2020-03-31 23:45] kingces95 commented on #10141
Please attach a zip of your reproduction. Thanks.

[2020-03-31 23:47] kingces95 commented on #10142
Could you please attached your zipped reproduction with a few screenshots? Thanks.

[2020-03-31 23:48] kingces95 commented on #10149
Please attach a zipped reproduction. Thanks.

[2020-03-31 23:50] kingces95 commented on #10153
Please attach a zipped reproduction.

[2020-03-31 23:51] SatyaRamprasad commented on #10149
Sure, will upload in 30mins

[2020-04-01 00:01] dmitrymal commented on #6919
It looks like this is still happening. We simply open a modal page Shell.Current.Navigation.PushModalAsync() and then dismiss it using Navigation.PopModalAsync(); Neither OnAppearing nor OnDisappearing event is called on Android.
Also, under some conditions these events get called multiple times.

Are there any suggested work arounds? Can someone point to a pattern how to design/architect the UI w

[2020-04-01 00:29] PureWeen commented on #8581
Thank you for the exploration @ahmedalejo it made this one super easy to track down and fix

https://github.com/xamarin/Xamarin.Forms/pull/10158

[2020-04-01 00:31] PureWeen commented on #8581
Once the build is done if anyone wants to test the nugets and let me know if the issue is resolved that would be helpful

https://dev.azure.com/xamarin/public/_build/results?buildId=16155&view=results

[2020-04-01 00:43] #7160 closed

[2020-04-01 00:54] PureWeen commented on #8581
I tested the nuget with the xaminals sample

https://github.com/xamarin/Xamarin.Forms/issues/6294

And with this nuget the flickering no longer occurs

[2020-04-01 01:02] SatyaRamprasad commented on #10149
@kingces95  I have reproduced only in iOS project for time being, will upload  a new one for android.
In the LoadItems method, All the items are selected default.
Issue will reporduce when tapped on frame to uncheck and recheck to select.
You can see Border color is not applying properly there
[FrameBorderColor.zip](https://github.com/xamarin/Xamarin.Forms/files/4412204/FrameBorderColor.zip)

[2020-04-01 01:21] tossingc commented on #7521
I have a workaround - it's not pretty, but it works.

It looks like the problem is that there is too much going on in the main thread while the flyout close transition is trying to run. (Android DrawerLayout CloseDrawer() animation)

NOTE: this workaround addresses the Xamarin Forms logic for creating and setting the page blocking the UI thread, but anything other app logic running on the UI threa

[2020-04-01 01:30] SatyaRamprasad commented on #10149
`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using FrameBorderColor.Controls;
using Android.App;
using Android.Content;
using Android.Graphics;
using Android.OS;
using Android.Runtime;
using Android.Views;
using Android.Widget;
using Xamarin.Forms;
using Xamarin.Forms.Platform.Android;

[assembly: ExportRenderer(typeof(TappableFrame), typeof(FrameBorderCol

[2020-04-01 01:36] tossingc commented on #6831
I have a workaround - it's not pretty, but it stops the flyout jitter on close. My hope is that it sheds some light to the development team on a fix for this and get others a temporary workaround.

It looks like the problem is that there is too much going on in the main thread while the flyout close transition is trying to run. (Android DrawerLayout CloseDrawer() animation)

NOTE: this workaround

[2020-04-01 01:37] tossingc commented on #5216
I have a workaround - it's not pretty, but it stops the flyout jitter on close. My hope is that it sheds some light to the development team on a fix for this and get others a temporary workaround.

It looks like the problem is that there is too much going on in the main thread while the flyout close transition is trying to run. (Android DrawerLayout CloseDrawer() animation)

NOTE: this workaround

[2020-04-01 03:40] TingtingAn commented on #10141
[Native2Forms.zip](https://github.com/xamarin/Xamarin.Forms/files/4412660/Native2Forms.zip)

[2020-04-01 03:58] eekamouse commented on #9054
`    <NavigationPage.TitleView>
        <Grid  Margin="10" HorizontalOptions="FillAndExpand" AutomationId="HomeGrid" AutomationProperties.IsInAccessibleTree="True">
            <Grid.ColumnDefinitions>
                <ColumnDefinition Width="48"/>
                <ColumnDefinition Width="*"/>
                <ColumnDefinition Width="48"/>
            </Grid.ColumnDefinitions>
            <ImageBu

[2020-04-01 05:20] vravindranath commented on #5781
Any update - we need to handle scenarios like adding tap on element that was previously selected. If we hook Selection changed event here - it doesn't fire second time. Introduce tapped gesture it has limitation. Feature should be considered for the next release.

[2020-04-01 06:19] ysmoradi commented on #10123
I need more time, I'm gonna publish a new version of app which logs everywhere I go in the application. After the app gets crashed again, I'll detect it using AppCenter's Crash SDK, then I'll add more info to that Crash Report and resubmit that again to the app center, so I can get more insights about my crashes.

[2020-04-01 06:50] eevahr commented on #9765
Hola, is it possible to get a more spesific timeframe on this, i am really aching for an ios update and would love to know if this fix is going to be released in the next 24 hours or less. As you know as of today 4.4 is not an option 😬

[2020-04-01 07:19] JFMG commented on #6919
@dmitrymal a workaround for me is to use an event or an observable that fires in a service when the page is closed. This event or observable then triggers the OnAppearing on Android.

[2020-04-01 08:04] AndreasLichtsinn commented on #8581
@PureWeen Ok so I did a test:

I created a new Shell Sample App with Xamarin Forms 4.3.0.908675 -> No flickering
Then I updated to latest stable 4.5.0.495 -> Flickering
Then I updated to your newest release 4.6.0.1693 -> No flickering

Great work! Hope others will be able to confirm this.

[2020-04-01 08:19] SneWs commented on #9845
Ah, yes, you are correct, sorry about that. I will create a new bug around this. Thx for you effort and time!

[2020-04-01 08:22] jfversluis commented on #9765
If you have a version already in the store then you have until December regarding the `UIWebView` deprecation, so that should be no issue. We have a PR open for this issue now which will hopefully be merged soon. A release should then follow soon.

[2020-04-01 08:25] SneWs opened #10159 "[Bug] Layout.ResolveLayoutChanges crashing on System.ObjectDisposedException"
# Description
We are seeing sporadic crashes specifically on Android where we get System.ObjectDisposedException: Cannot access a disposed object when doing Layout.ResolveLayoutChanges for Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer

### Expected Behavior
It should not crash

### Actual Behavior
It crashes for customers and users

### Workaround
No known workarounds currently.

###

[2020-04-01 08:25] SneWs commented on #9845
Bug #10159 filed

[2020-04-01 08:49] eevahr commented on #9765
Nice, that's a load off, i totally missed that from the apple notice, Thanks!

[2020-04-01 09:07] LakshmiNatarajan21 opened #10160 "[iOS] CollectionView selection does not happen in iOS 13.4"
### Description
Selection in CollectionView does not happen in iOS 13.4. Works fine in Android and UWP.

### Steps to Reproduce

1. Run the sample in iOS 13.4
2. Select an item
3. Note: Item does not select.

### Expected Behavior
The collection view item should select when tapping the item.

### Actual Behavior
Item will not be selected.

### Basic Information
When updating Mac to the below confi

[2020-04-01 09:22] yrest commented on #9366
Can anyone give a correct reference to the implementation of view.SetNameScope(null) please?

[2020-04-01 09:33] BrayanKhosravian commented on #8783
I think I fixed the issue.
A PR is incoming linked to this issue.

[2020-04-01 10:35] angelru commented on #8581
can't find  Xamarin Forms 4.6.0.1693

[2020-04-01 10:56] dan5602 opened #10162 "[Bug] [iOS] GestureRecognizers not working in iOS 13.4"
### IMPORTANT UPDATE REGARDING THIS ISSUE. PLEASE READ BEFORE COMMENTING

⚠️ Please update to latest stable in Visual Studio for Mac (v8.5.2) and Windows (v16.5.3), we have released the update that includes the fix. Thanks again for your patience.

----

### Description
After upgrading to xcode 11.4 and iOS 13.4 GestureRecognizers (TapGestureRecognizer) have stopped working on iOS. Android works a

[2020-04-01 10:58] ndastur commented on #4397
Hit same problem. Rather than worrying about CSS and superfluous XF "features" would it be possible to fix bugs that this so that basic functions work as expected and XF becomes stable. This goes back to Nov 2018 and XF 3!!

[2020-04-01 11:10] mina5500 commented on #3728
Do you have any ETA? 😊🙏
@samhouts

[2020-04-01 11:12] Happypig375 opened #10163 "[Bug] Xamarin Forms Bindings do not look for System.ComponentModel.TypeConverter"
### Steps to Reproduce

[code]

### Expected Behavior
Both tests pass

### Actual Behavior
Only `T` passes

### Basic Information

- Version with issue: All
- Last known good version: N/A
- IDE: VS16.5.2
- Affected Devices: All

### Workaround

Use Xamarin Forms' own `IValueConverter`. This is NOT a great solution as it forbids code sharing with other projects.

[2020-04-01 11:13] RsZoli commented on #8581
@AndreasLichtsinn i can't find the 1693 build either! Also, the 4.7.0.531-nightly still flickers :/

[2020-04-01 11:13] borgdylan commented on #7897
any news on this?

[2020-04-01 11:15] rmarinho opened #10164 "[Bug] Weird issue inserting items on Carouselview Android Scrolls to the end"
When working on #8964 we found some issues when testing inserting items and them scrolling

### Description
Occasionally when reversing directions (or just going forward it seems) on android it goes all the way to the end.

https://github.com/xamarin/Xamarin.Forms/pull/10103#pullrequestreview-383432504

https://github.com/xamarin/Xamarin.Forms/pull/10103#issuecomment-606088430

### Steps to Reprod

[2020-04-01 11:27] rmarinho opened #10165 "[Bug] When setting CurrentItem on load, it fires CurrentItemChange with a previous item"
### Description

When we set a CurrentItem for CarouselView on a page load, it will fire the CurrentItemChanged event for the previous item.
It shouldn't fire since we are just scrolling to that currentitem.
Seems is related with how the Center Item on the Scrolled Event is calculated

### Steps to Reproduce

1. Run sample 8964 on UWP
2. Set breakpoint on CurrentItemChanged event
3.

### Expected

[2020-04-01 12:11] AndreasLichtsinn commented on #8581
It's in the published artifacts that PureWeen posted
![image](https://user-images.githubusercontent.com/17704004/78135699-9e31df00-7422-11ea-90f3-876ed731e137.png)

[2020-04-01 12:15] Huaba93 opened #10166 "[Bug] [iOS] IsClippedToBounds Property is ignored by Frames"
### Description
IsClippedToBounds Property is ignored by Frames.

### Steps to Reproduce

1. Use Xamarin.Forms 4.5.0.495
2. Create ContentPage and use sample code

### Expected Behavior
If CornerRadius is > 0, no automatic clipping should take place.
If IsClippedToBounds is true, clipping should be done

### Actual Behavior
If CornerRadius>0, the frame is always be clipped
If CornerRadius=0, the f

[2020-04-01 12:23] solomonfried commented on #10162
This may be associated to the issue I am seeing with Selections on CollectionView

[https://github.com/xamarin/Xamarin.Forms/issues/10160]

[2020-04-01 12:44] solomonfried commented on #10160
Likely closely associated to this
[Bug] [iOS] GestureRecognizers not working in iOS 13.4

(https://github.com/xamarin/Xamarin.Forms/issues/10162)

[2020-04-01 13:03] vravindranath opened #10167 "Styles: Style TargetType Xamarin.Forms.Label is not compatible with element target type Xamarin.Forms.Span"
When running application we are getting the following text in application output
Styles: Style TargetType Xamarin.Forms.Label is not compatible with element target type Xamarin.Forms.Span

### Steps to Reproduce

1. Xamarin Forms version4.5.0.396
2. xamarin forms app with label binding using span
3.

### Expected Behavior No warning in the output window - Android shows this behavior not checked on

[2020-04-01 13:35] FabienBehra38 commented on #9103
@clintonrocksmith-skedulo Thanks for sharing your code, but can you share the whole Renderer please ? I have errors on TimePickerSetListener and TimePickerClearer...

[2020-04-01 13:38] RonnyBansemer commented on #10159
I can confirm the issue. Tested on Android Emulator and real device using XF 4.6.0-pre2.

[code]

[2020-04-01 13:48] jfversluis commented on #10153
@Tommigun1980 that is why we have the issue template in place and ask for a reproduction. I see how you can think the code is not relevant, as you can see in this example, in fact the code _is_ relevant.

I don't think libraries should be the ones responsible for setting experimental flags in my code, if they do try to do it I would very much like to be notified before I suddenly put experimental

[2020-04-01 13:48] #10153 closed

[2020-04-01 14:27] MickLesk commented on #5648
Push!

Das Problem tritt weiterhin mit der ListView in Xamarin.Forms4.5 auf. Das Problem tritt sowohl in iOS als auch in Android auf.
Beispiel 1: Die Hybrid-Bar wird nicht angezeigt, aber dennoch ist ein Whitespace da. (Hauptproblem!)
Beispiel 2: Wenn die Hybrid-Bar angezeigt wird, so überschreibt sie die Bottom-Bar.

Code-Example:
`        private async Task UpdateHybridBar()
        {

[2020-04-01 14:29] jfversluis commented on #5648
@MickLesk Danke sehr! can I ask you to do it in English please? :)

[2020-04-01 14:30] MickLesk commented on #5648
Sorry, I forgot. Now it is in English

[2020-04-01 14:45] BrayanKhosravian opened #10168 "[Bug] (Uwp) - OnResume - ToolbarItems - are invisible after suspend and resuming the app"
### Description
When the MainPage is a NavigationPage and has ToolbarItems which use an Image, then the images disappear when suspending the app and resuming it again.

In order to see this happen, we have to wait at least 15 seconds before resuming the application.

### Steps to Reproduce

1. Set the uwp version of the control gallery and run the app
2. Open the "Font ImageSource" gallery page lo

[2020-04-01 14:46] FrederikKoers commented on #8961
It's actually adding one pixel on top and left, and right and bottom one pixel get out of the frame

[2020-04-01 14:49] nhinze opened #10169 "[Bug] Exiting full screen of MediaElement calls MainPage's OnAppearing() method"
### Description
The MainPage OnAppearing() method is called when exiting full screen of MediaElement. This creates issues when using dynamic logic for MasterDetailPages or Tabbedpages.

Is it expected that exiting fullscreen on MediaElement would call MainPage OnAppearing() method?

### Steps to Reproduce

1. Download attached project
2. Launch project into iOS Simulator
3. Tap "First Item"
4. Mak

[2020-04-01 14:50] alaneich opened #10170 "[Bug] Issues setting the initial position on a CarouselView to a non-zero value"
### Description
I have a CarouselView which I need to initially show one of the items and I want the CarouselView to go directly to this item and not show any other item or do any animation to the desired item.  Everything works fine when the first item is initially shown and this was working in v4.4.0.  With v4.5.0-sr2, I get the following results.

When setting the desired position in the page's

[2020-04-01 14:53] BrayanKhosravian commented on #10168
i think this should be labeled with `in-progress` after it got verified.

[2020-04-01 14:55] maexsp opened #10171 "[Spec] XF Wiki - Feature Roadmap broken web link"
Sorry for writing that here but in the Xamarin.Forms Wiki page -> Feature Roadmap the web link to the contributing guide is broken. It returns 404.

See:
-------------------------------------------------------------
Have a proposal?

Check out our guide on submitting proposals.
--------------------------------------------------------------

I would be interested to read this guide.

Feature Roadma

[2020-04-01 14:57] PMarsh-UB commented on #10040
Hello,

I ran into this issue also.

To reproduce it, you can download jfversluis' repo and change the **BindingContext**:

`BindingContext = new object();`

This is happening on Android **and iOS** on Xamarin 4.5+ (I've experienced this issue on all version up to **4.6.0.494-pre2**.). There are no issues on Xamarin 4.4.

To fix this, I added the following to my App.xaml class:

[code]

Make sure

[2020-04-01 15:40] Sivaraman761 opened #10172 "[Android]Border not in view when we set the device density is in float value"
### Description

Greetings,

We have noticed a border is not in view when my device density is in float value. In my sample application, I have loaded certain elements inside a container which is inherited from Layout<View>. The child elements inside is container is inherited from ContentView which has label as child contents. I had layout the child elements inside the container based on the scree

[2020-04-01 16:04] lhughey commented on #10162
YES. This is a critical error that shouldn't have made it past UI smoke tests. All of my gesturerecognizers in iOS are broken, across multiple projects.

I'm also using
Mac Catalina 10.15.4
VS2019 16.5.2
Xamarin VS package 13.6.0.11
Xamarin.Forms 4.5.0.495
Xcode 11.4

[2020-04-01 16:07] solomonfried commented on #10162
To be fair to Xamarin, the error seems to have been introduced with a new version of MacOS. It would be nice if the Xamarin group were ahead of this and were testing the MacOS releases before they were generally available.

From: Lyndon Hughey <notifications@github.com>
Sent: Wednesday, April 1, 2020 12:05 PM
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: Solomon Fried <sol@pnqsy

[2020-04-01 16:15] Tommigun1980 commented on #10153
Imho any behaviour of a method called SetFlags, that does not OR in flags does not work as expected.

And you can doubt all you want about the iOS part, but the experimental flags are set *identically* in iOS and it never complains there at all.

This is the iOS setup code:
[code]

Android:
[code]

Feel free to try it yourself.

Thanks.

[2020-04-01 16:33] thomasgalliker commented on #10162
Still, I ask myself (not the first time) what quality checks are done before such a release? Xamarin could (my point of view) say we're not supporting Cataline 10.15.4 and xcode 11.4 until we have a stable release. I'm not sure if they have a real chance to test things properly when I see the rate of updates they're releasing.

However... Thanks in advance to those who solve this bug 🥇

[2020-04-01 16:34] ninaada commented on #10040
Is there any progress on this? Most of the buttons will be used in a BindingContext most of the times. We need some of the latest fixes on collection view and carousel view, but have been holding on from upgrading to 4.5 due to this issue. Or is there any workaround for this ?

[2020-04-01 16:57] PawKanarek commented on #9765
You are lucky guy then :) One of my company's app is blocked by this right now :D 👍 🥇

[2020-04-01 17:00] PureWeen commented on #8581
@angelru  Thank you for testing!!!!

[2020-04-01 17:26] angelru commented on #8581
@PureWeen  I couldn't test, I can't download

[2020-04-01 17:27] PureWeen commented on #8581
Oh you were quoting @AndreasLichtsinn :-)

Thank you @AndreasLichtsinn for testing!!!

[2020-04-01 18:04] EvanMulawski commented on #10162
May be due to this new delegate method on `UIKit.UIGestureRecognizerDelegate`:

[`gestureRecognizer:shouldReceiveEvent:`](https://developer.apple.com/documentation/uikit/uigesturerecognizerdelegate/3538976-gesturerecognizer?language=objc)

[2020-04-01 18:13] AlexAba opened #10173 "[Enhancement] Navigation bar renderer!"
## Question
Is it possible to create custom renderer for navigation header ?

[2020-04-01 18:42] chamons commented on #10162
Appears related to https://github.com/xamarin/xamarin-macios/issues/8255 and @dalexsoto is running it down there.

[2020-04-01 19:01] InquisitorJax commented on #10162
Pretty easy to repro: just create a new Master Detail from the template, run the iOS app.
None of the items on the main page with navigate through to item detail because of the broken tapgesturerecognizer behavior.

[2020-04-01 19:04] dan5602 commented on #10162
@InquisitorJax - Looks like the issue has been found and fixed already.

[2020-04-01 19:05] chamons commented on #10162
Fix is in PR, once we get a package we will validate. We believe we have this sucker pinned down.

[2020-04-01 19:06] InquisitorJax commented on #10162
@chamons that's great news - what does the release eta look like - I would imagine very many people who upgraded are now dead in the water because of this :(

[2020-04-01 19:25] rezamohamed commented on #10162
I literally wasted so much time with the Mac OS upgrade and Visual Studio not syncing and now for the past day dealing with this thinking it was my code. Pretty frustrated with Xamarin right about now...I am just venting. Sorry!

[2020-04-01 19:31] ezavil commented on #10162
In a physical device with 13.3 OS it seems to work correctly, in the simulator with version 13.4 it fails...

[2020-04-01 20:36] cklenk commented on #9190
Do you still need to add the font name in the Info.plist UIAppFonts key for iOS?

[2020-04-01 20:37] jfversluis commented on #9190
@cklenk you do not :)

[2020-04-01 21:04] SatyaRamprasad commented on #10149
@samhouts @kingces95  Please find the framebordercolor.zip to reproduce Issue

[2020-04-01 21:06] mikeluken commented on #10162
I am also dead in the water waiting on this fix.  Do we know an ETA on when the fix will be pushed??

[2020-04-01 21:14] AndreasLichtsinn commented on #8581
@angelru
Click here:
![image](https://user-images.githubusercontent.com/17704004/78187102-212c5700-746e-11ea-85c2-53c05a5da757.png)
Then here:
![image](https://user-images.githubusercontent.com/17704004/78187180-402ae900-746e-11ea-9719-d219d0cda423.png)
Then unpack the zip and create a local nuget package source to this folder:
![image](https://user-images.githubusercontent.com/17704004/78187291-6

[2020-04-01 21:33] chamons commented on #10162
I don't have a date to share, but you may have a few options if you are on macOS.

- Downgrading to previous stable (https://download.visualstudio.microsoft.com/download/pr/8f94ca38-039a-4c9f-a51a-a6cb33c76a8c/21e09d8084eb7c15eaa07c970e0eccdc/xamarin.ios-13.14.1.39.pkg)
- We'll have a Xamarin.iOS with the fix out of our build machine in a few hours that you can install. I'll post it here once it i

[2020-04-01 21:35] rezamohamed commented on #10162
@chamons when you say a fix out, will it be a nuget 4.6.x pre version? Just trying to understand what to look out for.

[2020-04-01 21:39] chamons commented on #10162
The fix will be in a new Xamarin.iOS SDK itself, not a Xamarin.Forms nuget. There is an interaction between a newly bound iOS API and Xamarin.Forms that is causing the issue at hand.

That is part of the reason that rolling back to older iOS pkg will "fix" this, as I noted [here](https://github.com/xamarin/Xamarin.Forms/issues/10162#issuecomment-607500960).

[2020-04-01 21:53] rezamohamed commented on #10162
Rolling back wouldn't work if you are developing on Visual Studio Windows and using the Pairing agent to Mac. I get the complaining that there is a Xamarin.iOS mismatch and the pairing agent will upgrade Xamarin.iOS.
![image](https://user-images.githubusercontent.com/18199852/78190240-45217580-7439-11ea-89a2-7d43fd0ca4d3.png)

[2020-04-01 22:00] InquisitorJax commented on #10162
I managed to work around it by installing VS 16.6 Preview 2 - app seems to work ok with the alternative X.iOS installation used there - not sure I want to rely on a preview build tho.
Good luck to the devs on this - hope the fix is out soon ;)

[2020-04-01 22:05] lhughey commented on #10162
As someone else mentioned, download the 13.3 simulators. The 13.3 sims are a 3gb download and is is much faster than trying to rollback VS.

[2020-04-01 22:34] BrianJSavage commented on #9660
@samhouts My client for the app supplies GPS tracking devices to the police and military in NZ and I have been asked to produce an app for them to use during the current crises, fundamentally based on this app with additional security.
This has, therefore, become more urgent for me, is there any news on the triage process?
I realise if a fix is needed it won't happen quickly enough, but I have to

[2020-04-01 22:34] rezamohamed commented on #10162
@lhughey the rollback is not of VS, its of the Xamari.iOS framework SDK on the Mac machine - it is much faster to do that than a 3gb download of sims :-)

[2020-04-01 22:35] BrianJSavage commented on #9660
Bugger. Sorry. Clicked the wrong button and closed it by mistake!!!!

[2020-04-01 23:04] mikeluken commented on #10162
I see that this ticket is now closed.  How/where do I download Xamarin.iOS SDK update???

[2020-04-01 23:05] rezamohamed commented on #10162
@mikeluken https://github.com/xamarin/Xamarin.Forms/issues/10162#issuecomment-607500960

[2020-04-01 23:06] klausgreiner commented on #9376
No answers yet, Still waiting for help, still happening in Production.
You get this specific quote: "System.ObjectDisposedException: Cannot access a disposed object" ?

[2020-04-01 23:06] samhouts commented on #10160
Duplicate of #10162

[2020-04-01 23:06] #10160 closed

[2020-04-01 23:20] samhouts commented on #9660
@BrianJSavage We're unable to provide an estimate for a bug fix when we're unable to reproduce it ourselves. If you can give us a code sample that demonstrates the problem, we may be able to help! Thanks!

[2020-04-01 23:40] BrianJSavage commented on #9660
@samhouts OK, Great, Thanks for the prompt reply. Whatever you need. Have you seen the code sample I posted in the first instance? Please explain what else I need to provide. I have a working app which demonstrates the problem (download iOS version here: https://apps.apple.com/us/app/trackme-adventure/id1498843800 ) but I am new to providing the information you need.

[2020-04-01 23:56] samhouts commented on #9660
@BrianJSavage The easiest way to show the problem is to create a new Xamarin.Forms app and start adding just the code needed to exhibit the problem. That helps us rule out other dependencies that might be affecting the situation and lets us work from a common code base to help you.

[2020-04-01 23:57] BrianJSavage commented on #9660
OK I’ll work on that

From: Samantha Houts <notifications@github.com>
Sent: 02 April 2020 12:57
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: Brian Savage <brian.savage@fossicking.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [xamarin/Xamarin.Forms] Xamarin.Forms.Maps Custom pins disappearing on iOS (#9660)

@BrianJSavage <https://github.com/BrianJSavage>  The easies

[2020-04-02 00:18] kingces95 commented on #10119
Sorry, could you be more specific on the expected and actual values? Could you either generate screenshots of actual and expected values or quote the values you expect and see?

[2020-04-02 00:20] kingces95 commented on #10121
Thanks for your report. Could you attach a zipped reproduction of the issue to the bug?

[2020-04-02 00:44] agbeltran9 opened #10177 "[BUG] java.net.ProtocolException on MediaElement"
### Description

Media element not reproduce this URL "https://gol2soul.blob.core.windows.net/agbggmailcom/sports-representative-video-637212595398907890.mp4" and output appears this message

04-01 19:30:56.245 W/MediaHTTPConnection(28672): readAt 548122 / 32768 => java.net.ProtocolException
04-01 19:30:56.943 W/MediaHTTPConnection(28672): readAt 548122 / 32768 => java.net.ProtocolException
04-01

[2020-04-02 00:50] kingces95 commented on #10126
Reproduces as described.
Why are we adding tabs to a hidden tabBar?

[2020-04-02 00:56] kingces95 commented on #10131
Reproduces as described even after awaiting the async push.

[2020-04-02 01:01] kingces95 commented on #10133
Reproduces as described on android.

[2020-04-02 01:01] kingces95 commented on #10134
Can you please attach a zipped reproduction?

[2020-04-02 01:05] PureWeen commented on #10133
duplicate
https://github.com/xamarin/Xamarin.Forms/issues/9440

[2020-04-02 02:04] mikeluken commented on #10162
@chamons - The build looks like it has been complete for a few hours now.  Any ETA on when this will be posted?  Please note that as I am on a Windows machine developing, rolling back to the previous version is not an option.  And I have a deadline to complete this project my the morning.  Until you post the updated SDK, I am at a standstill.  This was a pretty large break in functionality and I r

[2020-04-02 02:24] rezamohamed commented on #10162
@mikeluken you shouldn't be at standstill per se, if you are developing for iOS you would need a Macbook to pair to regardless. You can still code in Windows and just test it using your Mac. As far as rolling out to devices, it shouldn't be a problem as it works fine on devices. If you really do want to pair and test, your other option is to use the iOS 13.3 simulators.

[2020-04-02 02:26] dalexsoto commented on #10162
Hello @mikeluken, the issue got closed by GitHub because of the merge of the commit with the fix, in the meantime you can download the new **Notarized** Xamarin.iOS/Mac pkgs from the GitHub commit status checks of any of our branches (see below image for an example), this particular one lives inside our branch called [d16-5-xcode11.4](https://github.com/xamarin/xamarin-macios/commits/d16-5-xcode11

[2020-04-02 02:59] rezamohamed commented on #10162
@dalexsoto the problem with the newer packages is that you still can't use a Windows machine to pair to that Mac because of the Xamarin Mac-Windows mismatch issue right? Even rolling one version down makes pairing the issue, so it needs to be a coordinated update for VS Win and Mac.

[2020-04-02 03:03] itoledo commented on #10162
just cancel when VS asks for an "upgrade" (in this case it'll be a downgrade), you'll get a warning about "problems installing", it will connect anyway.

![image](https://user-images.githubusercontent.com/1848210/78206477-512b2880-7475-11ea-9152-ad04651a219a.png)

[2020-04-02 03:34] kgouraw opened #10178 "[Bug]TapGestureRecognizer stopped working with Visual studio For Mac update 8.5.1"
### Description
TapGestureRecognizer Xamarin.Forms.GestureRecognizer is not detecting any tap event after updating Visual Studio for Mac from 8.5 to current 8.5.1 (build 42)
### Steps to Reproduce

1. UpdateVisual Studio for Mac from 8.5 to current 8.5.1
2. Not any TapGestureRecognizer of a project is detecting any tap event, those were working with older versions.
3.

### Expected Behavior
TapGes

[2020-04-02 03:39] mikeluken commented on #10162
@dalexsoto - How/where do I install the .pkg files?  I know in Visual Studio on the PC.  But not sure how to reference the downloaded file...

[2020-04-02 03:44] dalexsoto commented on #10162
@mikeluken you should be able to install these pkg files in your mac build host by double clicking on the pkg file and follow the installation prompts

[2020-04-02 03:46] BrianJSavage commented on #9660
@samhouts I have built a cut down version of the app to demonstrate the issue. Zipped version attached. It uses a waypoint list to create a series of custom pins which are displayed across a map of NZ. if you zoom in and then out the pins disappear.
I initially forgot to include the custom renderer assembly line at the beginning of the routine so it used the standard pin, and it works. It is only

[2020-04-02 04:50] hemawst commented on #10102
I saw this morning that there is a new version 4.5.0.530. I tried this version and now the problem with the display of the buttons seems to be solved at first glance.
Version 4.5.0.530 has a new problem for this. I get a new one
Error message: Navigation.PushAsync (new Page1 ()). The message is "System.InvalidOperationException: PushAsync is not supported globally on Android, please use a Navigati

[2020-04-02 05:11] #8964 closed

[2020-04-02 05:11] #10113 closed

[2020-04-02 05:22] acaliaro opened #10179 "[Bug] Style a ContentPage does not work (or I am wrong...)"
### Description

I would like to style a ContentPage / NavigationPage property like

NavigationPage.HasBackButton

But I am not able to use it

### Steps to Reproduce

1.  Create a Style.xaml
2.  Add a Style like

[code]

### Expected Behavior
All ContentPages should not have backbutton when are in a NavigationPage
### Actual Behavior
Nothing happens, I have a back button in navbar when ContentPag

[2020-04-02 06:46] SaskiaL commented on #4905
In my case the listview has labels per item for the status of that item. This status is not filled at first. After setting the status using the bindable field, the height is not changed and the status overlaps the entry of the next item.

Using a ColectionView in stead of a ListView is unfortunately not possible since the CollectionView has a bug on iOS with the soft keyboard overlapping entries o

[2020-04-02 06:49] angelru commented on #8581
Thanks a lot!!! it works!

[2020-04-02 07:15] noxe commented on #9190
So this is not available in the latest 4.6.0 Pre Release 3 ?

[2020-04-02 07:31] noxe commented on #9190
Cannot get the working - also tried with latest 4.5.0.530. Tried my application and also the demo application from top -> App5.zip - no chance?

[2020-04-02 07:47] tdamir commented on #8581
I can confirm that there is no flicker in Xamarin Forms 4.6.0.1693.

Thanks!

[2020-04-02 08:02] jfversluis commented on #9190
@noxe could you try this; https://github.com/jfversluis/EmbeddedFontsSample

[2020-04-02 08:07] robertmiles3 opened #10180 "[Bug] Docs incorrect for CollectionView.InvalidateMeasure()?"
### Description

I have a search page using a `CollectionView`, and I am seeing some weird visual heights on my cells whenever the results list changes. However, as soon as a I scroll the `CollectionView` things get redrawn and are fine. As such, I wanted to try and invalidate the `CollectionView` after a search. According to the latest docs [here](https://docs.microsoft.com/en-us/dotnet/api/xamar

[2020-04-02 08:07] noxe commented on #9190
Hmm - thank you - seems to work - will need to look where the difference now is. i see ExportFont is defined in App.xaml.cs - while i have it in AssemblyInfo.cs ?

[2020-04-02 08:09] klogeaage opened #10181 "[Bug] ListView ItemSelected not working on iOS"
### Description
The ListView ItemSelected event handler is not fired after upgrading to VS 16.5.2.

### Steps to Reproduce

1. Load any sample project using ListView ItemSelected, e.g. xamarin-forms-samples/UserInterface/ListView/Interactivity/interactivityListView
2. Start on an iOS simulator
3. Click on an item in the listview

### Expected Behavior
ItemSelected event handler is called.
### Actu

[2020-04-02 08:18] noxe commented on #9190
Ok - i am getting closer - this works also in my application -  <Label Text="&#xf584;" FontFamily="FontAwesome5Regular"

But this one not:

 <Label
                    FontFamily="FontAwesome5Regular"
                    FontSize="24"
                    Text="{x:Static fontawesome:FontAwesomeIcons.Bars}">

/// <summary>
        /// fa-bars unicode value ("\uf0c9").
        /// <para/>
        ///

[2020-04-02 08:18] noxe commented on #9190
Sorry - the first line was the icon from the example

![image](https://user-images.githubusercontent.com/158478/78225981-5915b780-74cb-11ea-979b-2da596c4b162.png)

[2020-04-02 08:19] noxe commented on #9190
This does not work:

![image](https://user-images.githubusercontent.com/158478/78226022-66cb3d00-74cb-11ea-8656-a84b81eb5ffb.png)

[2020-04-02 08:19] VladislavAntonyuk commented on #9190
@jfversluis did you make some changes with the font? When I try in your sample FontAwesome Brands or Font Awesome Solid on iOS, it doesn’t render the image

[2020-04-02 08:23] rambo1223 commented on #9823
Hi @jfversluis I also have this issue, i have updated to Xamarin.Forms 4.5.0.495 and Xamarin.iOS 13.14.1.39. I also did the exact same configurations as mentioned in the blog, but i still get the warning message. This is my project configuration and the list of nuget packeges as i am not sure what still causes this reference to UIWebView

`  <PropertyGroup Condition=" '$(Configuration)|$(Platform)

[2020-04-02 08:27] ravinderjangra commented on #9796
Thanks @PureWeen. I have been using `LaunchMode.SingleTask` for a long time for this purpose and it seemed to work fine previously. Android doesn't really make it easy to understand and resolve the issue.

This is what I am currently using my code which doesn't let me resume the app. I have tries `LaunchMode.SingleTask` and `LaunchMode.SingleTop` but no change in the behavior.
**Called App**
[code

[2020-04-02 08:29] jfversluis commented on #9823
@rambo1223 seeing that you are using Material, this might be the case: https://github.com/xamarin/Xamarin.Forms/issues/9823#issuecomment-594599608

[2020-04-02 08:33] jfversluis commented on #9190
I did not make any changes to the fonts. If one of you could take that code from me, add the things that you don't see working and attach that here I'm happy to take a look.

[2020-04-02 08:35] rambo1223 commented on #9823
@jfversluis thanks for your quick reply, i actually use the latest version of Xamarin.Forms.Visual.Material as the version of Xamarin.Forms, should i install Xamarin.iOS.MaterialComponents also?

[2020-04-02 08:40] noxe commented on #9190
I try to isolate currently - really seems to make a difference about FontSize. If i make FontSize 50 - i see the icons, if 24 not?

[2020-04-02 08:41] jfversluis commented on #9823
For the time being; yes. We have a PR open that should update the reference, but for now you should add the latest Xamarin.iOS.MaterialComponents package manually and that should fix it.

[2020-04-02 08:47] noxe commented on #9190
Take a look at the attached sample - very strange?
[EmbeddedFontsSample-master.zip](https://github.com/xamarin/Xamarin.Forms/files/4419807/EmbeddedFontsSample-master.zip)

[2020-04-02 08:48] noxe commented on #9190
i tested on iOS

[2020-04-02 08:51] noxe commented on #9190
![image](https://user-images.githubusercontent.com/158478/78229112-d6dbc200-74cf-11ea-82a8-b24a694378c6.png)

[2020-04-02 09:26] bondarenkod commented on #9054
if you want to fix this bug temporary, you can play with the padding property on the iOS platform.
**Padding="0"**:
![image](https://user-images.githubusercontent.com/3184414/78232508-07762880-74dd-11ea-990f-bf0831e0fa7c.png)

**Padding="15"**, still not perfect but:
![image](https://user-images.githubusercontent.com/3184414/78232411-e1e91f00-74dc-11ea-8f7e-d2e6223fae90.png)

**Padding="13,15,13,1

[2020-04-02 09:53] uzairali001 opened #10182 "[Bug] Exception Ancestor must be provided for all pushes except first"
### Description
Sometimes I get this exception during development but I still haven't got it once during production, should I ignore this safely?

### Steps to Reproduce

1. Build and deploy application in Debug Mode
2. Randomly get this exception

### Expected Behavior
This exception shouldn't raise

### Actual Behavior
Exception thrown causing application crash

- Version with issue: all version

[2020-04-02 10:07] Denn1Ro commented on #10134
A github repo:
[https://github.com/Denn1Ro/TabBarShellApp.git](url)
It is just a new project with many shellcontents.

[2020-04-02 10:14] mknotzer commented on #10178
I have the same issue, TapGestureRecognizers are not working on iOS, Android is fine.
https://dl.xamarin.com/VsMac/VisualStudioForMac-8.5.0.3162.dmg: issue is still there
https://dl.xamarin.com/MonoTouch/Mac/xamarin.ios-13.18.0.21.pkg

[2020-04-02 10:49] davidbritch opened #10183 "[Bug] ExportFontAttribute has unused EmbeddedFontResourceId property"
### Description

In Forms 4.5 SR3 `ExpotFontAttribute.Alias` now works. However, the `ExportFontAttribute.EmbeddedFontResourceId` property is still unused.

[2020-04-02 10:52] Markus2807 commented on #10162
Hi, even after i installed both of these pgk-Files on my Mac the problem still exists.

VS on Windows is warning me that the versions are not compatible and i should update. If i press cancel it still connects. Thats okay. But if i publish the app to my physical device none of the GestureRecognizers is working.

VS  16.5.2
iPhone Xs 13.4
MacOS: 10.15.4
xamarin.mac 6.16.0.13
xamarin.ios 13.16.013

[2020-04-02 11:07] FrederikKoers commented on #10178
Updating to Mac Preview version 8.6 (Xamarin.iOS 13.18.0.21) solved the problem for me. After using VS on Windows, it changed Xamarin.iOS to 13.16.0.11 and the TapGestureRecognizers  didnt work anymore.

[2020-04-02 11:08] noxe commented on #10178
See here - https://developercommunity.visualstudio.com/content/problem/971724/tapgesturerecognizer-in-xamarin-forms-for-ios-not.html

does not work anymore after 16.5.2 update

[2020-04-02 12:20] MariovanZeist commented on #9995
Verified fixed in version 4.5.0.530

[2020-04-02 12:22] campersau commented on #10178
Looks similar to https://github.com/xamarin/Xamarin.Forms/issues/10162

[2020-04-02 12:48] ianthetechie commented on #10162
With all due respect, this has to be the worst managed software project of all time. You make high school script kiddies look good. How on earth does this stuff make it past testing and into the stable channel? I've run into at least 10 critical, obvious, totally preventable bugs with Xamarin.Forms, and it's getting really old.

Thanks @chamons for the pkg link. That seems to revert the damage tem

[2020-04-02 13:00] VladislavAntonyuk commented on #9190
My attempt with multiple projects: https://github.com/xamarin/Xamarin.Forms/files/4411978/EmbeddedFonts.zip

[2020-04-02 14:23] Jerepain commented on #9412
Hi,

Same issue in 4.6.0.529-pre3.

I have a simple Grid with 2 Labels in a custom ViewCell in a TableView. When I navigate back and forward 2 times it throws :
[code]

Same with a Button in a custom ViewCell :
[code]

[2020-04-02 14:24] DeanFaizal commented on #8656
Created a proof of concept implementation here: https://github.com/xamcat/Scratch/tree/master/FormsStickyHeaders

Feel free to extend it directly into forms!

[2020-04-02 14:31] Reveon commented on #10159
tested on XF 4.6.0 pre3
[code]

[2020-04-02 14:37] crenan commented on #10119
Hey @kingces95!
Using the test project, the expected value is "0,5670" for ALL Entry views.
The actual values are different depending the way the Entry binding was configured and which kind of property it was bound.
If you take a look at the screenshot I sent, the correct value was displayed only in the 2nd, 3rd and last Entry view.

You need to set the language in the AVD to pt-br (Portuguese Bra

[2020-04-02 15:00] jalbertSyncroTech commented on #8787
@samhouts should this be reopened since #8536 was reverted?

[2020-04-02 15:31] Bradtus commented on #9823
Same issue:
Visual Studio 16.5.2
Xamarin.IOS 13.16.0.11
Xamarin.Forms 4.5.0.530

When using `--warn-on-type-ref=UIKit.UIWebView` in mtouch arguments i get `One or more reference(s) to type 'UIKit.UIWebView' still exists inside 'Xamarin.Forms.Platform.iOS, Version=2.0.0.0`

`<PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|iPhone' ">
    <DebugType>none</DebugType>
    <Optimiz

[2020-04-02 15:45] dalexsoto commented on #10178
Hello, yes this is the same issue as #10162 see https://github.com/xamarin/Xamarin.Forms/issues/10162#issuecomment-607585466 for a workaround.

[2020-04-02 15:53] ManuAnalys commented on #8355
Hello,
Any news about that ? I tryed with Xamarin 4.5 SR2 and 4.6 Pre 2 but it doesn't work.
We would like to do exactly the same, is there any workaround?

Tahnk you for your help

[2020-04-02 15:57] samhouts commented on #10162
I'll reopen this until it's published for visibility.

[2020-04-02 15:58] samhouts commented on #10181
Duplicate of #10162

[2020-04-02 15:58] #10181 closed

[2020-04-02 15:58] samhouts commented on #10178
Duplicate of #10162

[2020-04-02 15:58] #10178 closed

[2020-04-02 16:15] samhouts commented on #8787
@jalbertSyncroTech It's not closed ;)

[2020-04-02 16:17] jalbertSyncroTech commented on #8787
Sorry, I saw the red "closed" icon and thought that was it. Feel free to delete this comment.

[2020-04-02 16:23] francis2 commented on #9801
I'm sorry but I have to reopen this issue: the sample does not display the top tabs on iOS. It works fine in Android.

I just tried with Forms 4.5.0.530 and 4.6.0.529-pre3 and I get the same behavior.

If you comment out PickerTestApp/Views/AppShell.xaml.cs line 30 (resultsTab.Items.Clear()), then it works.

This is what's you're supposed to see:

![expected](https://user-images.githubusercontent.

[2020-04-02 16:34] samhouts commented on #6112
We're still reviewing the PR. We hope to have it ready soon! Thanks for your patience!

[2020-04-02 16:37] samhouts commented on #9765
Please test with this package and let us know if your issue is still not resolved. Thanks!

[Xamarin.Forms.4.5.0.1682.nupkg.zip](https://github.com/xamarin/Xamarin.Forms/files/4422303/Xamarin.Forms.4.5.0.1682.nupkg.zip)

[2020-04-02 16:39] haiduong741 commented on #9765
Thanks for your works. Im always following this issue. Tomorrow I will check this.

[2020-04-02 16:44] maksym-husiev commented on #10162
So, when we'll have the update? Or I missed something?

[2020-04-02 16:49] thedee commented on #10162
I have same issue.  I am dead in the water.

[2020-04-02 16:52] maksym-husiev commented on #10162
I spent several hours finding out why my app not working on iOS... :(

[2020-04-02 16:54] rezamohamed commented on #10162
you shouldn't be dead in the water. Read https://github.com/xamarin/Xamarin.Forms/issues/10162#issuecomment-607584893

[2020-04-02 17:36] eekamouse commented on #9054
I messed around with padding today and it doesn't seem to do anything but make it worse (and make it look funky on Android and UWP). It might be because our images are in a TitleView.

[2020-04-02 17:58] EvanMulawski commented on #10162
I can confirm that this SDK update package works, even when using VS on Windows. Thanks to the Xamarin team for prioritizing this and getting a fix out quickly.

[2020-04-02 18:13] ianvink commented on #10162
@EvanMulawski  What did you install (Provide a link if you could, that would be muchly appreciated by those Googling)

[2020-04-02 18:16] EvanMulawski commented on #10162
@ianvink The Xamarin.iOS SDK package linked in https://github.com/xamarin/Xamarin.Forms/issues/10162#issuecomment-607585466

In VS, dismiss the incompatible SDK warning and it will connect anyway.

[2020-04-02 18:20] maksym-husiev commented on #10162
Also can confirm. Working fine on Mac

[2020-04-02 18:35] dionisoliveira commented on #1719
iOS solution.

[assembly: ExportRenderer(typeof(CustomBackButtonPage), typeof(CustomContentPageRenderer))]
namespace SMC.BackButton.iOS.Renderer
  public class CustomContentPageRenderer : PageRenderer
    {
        public static bool pushPage = false;
        public static bool closePage = false;

        public override void ViewWillAppear(bool animated)
        {
            base.ViewWillAppear(

[2020-04-02 19:16] rudyspano commented on #8718
Hello. Same problem on my side... Even with LinearItemsLayout
I've tried: FFIL (better) and GlideX (really better).
In the output console, we can see many garbage collections even on a simple projet.

After analysis with Xamarin Profiler, it seems there's a lot of BindableProperty and linked mechanisms created in memory when scrolling (BindablePropertyContext, ...). I guess, that's a consequence o

[2020-04-02 19:26] Wallysantos commented on #8159
Hi guys

There is some idea when this will be fixed?

[2020-04-02 19:48] ndastur commented on #10162
@ianthetechie I have to agree. I am fairly sure I speak for a large volume of the Xamarin Forms community when I say we would all rather you guys concentrated on a stable project that got the basic right rather than worrying about non-features like CSS for XAML. Come on this sort of stuff is just awful. And why 2 weeks?

[2020-04-02 19:51] solomonfried commented on #10162
I did get it to run and build. But now when I try to create a Bundle, VS2019 on Windows cannot find my Provisioning Profile
Any ideas?

[2020-04-02 19:52] swansca79 commented on #10162
@ndastur It's two weeks because they are actually going to test it, and it will take them that long to figure out how to test something for once...

[2020-04-02 20:02] solomonfried commented on #10162
Regarding the Provisioning Profile mentioned above, I think the issue is that in the Signing Identity dropdown, I previously had an option for iPhone Distribution.  That option is no longer available.

[2020-04-02 20:37] jgold6 opened #10186 "[Bug] [iOS] Pasting Arabic RTL text that is mixed with LTR English text into Editor changes word order."
### Description

Pasting Arabic RTL text that is mixed with LTR English text into Editor changes word order on iOS.

I have confirmed that this issue does NOT occur with a non-Forms Xamarin.iOS app using a UITextView.

(Originally reported on StackOverflow: https://stackoverflow.com/questions/60816802/xamarin-forms-editor-acts-weird-on-ios-when-rtl-text-is-pasted-in-comparison-to)

### Steps to Re

[2020-04-02 21:14] sergiiputintsev commented on #9823
here are list of dependencies in the ios project

`  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Xml" />
    <Reference Include="System.Core" />
    <Reference Include="Xamarin.iOS" />
  </ItemGroup>
  <ItemGroup>
    <PackageReference Include="EasyTipView">
      <Version>1.0.1</Version>
    </PackageReference>
    <PackageReference Include="Flurl.Http">
      <V

[2020-04-02 21:17] Kikanye opened #10187 "[Bug]"
### Description
Sometimes when I put in a new Value in an Entry it deletes some parts of the text that was in there before the new text was put in.

While debugging I noticed that the value of `e.OldTextValue` in `TextChanged` Event handler for the Entry is inaccurate sometimes when used in a Behaviour.

In my case I noticed that this happens when the entry.Text has a large number of characters (a

[2020-04-02 21:44] waheez commented on #10178
Thank you @mknotzer  Installing the package from 2nd link fixed the issue.

[2020-04-02 21:58] kgouraw commented on #9054
I updated and tested today with XF 4.4.0.991864. It's working fine.

[2020-04-02 22:27] alexsotir commented on #9790
It's definitely not fixed. I had to roll back to 4.4.0.991864 so that I can still set the color.

[2020-04-02 22:30] kgouraw opened #10188 "[Bug] Deployment failed on Android emulators after updating Visual Studio for Mac to 8.5 or latest version"
Deployment failed on Android emulators after updating Visual Studio for Mac to 8.5  (build 3183) or latest version
### Description
Build FAILED. /Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.Debugging.targets(612,2): error ADB0010: Deployment failed /Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.Debugging.target