[2021-11-30 17:05] priyanka-kondapuram commented on #14424
@sephynox How did you know about installing Xamarin.AndroidX.SwipeRefreshLayout? Why do we even have to install all these packages " Xamarin.AndroidX.SwipeRefreshLayout", "Xamarin.AndroidX.Core"? Is there any documentation? Just asking...

Honestly, Xamarin needs to provide proper documentation about why we need all these packages in our projects. Every time I update these packages, we get new err

[2021-11-30 18:06] CoolRets commented on #8961
When will it be repaired?

[2021-11-30 19:37] NPadrutt opened #14938 "[Bug] NavigationBar has a shadow since v5.0.0.2196"
### Description
When I upgrade my Xamarin Forms application with shell from version 5.0.0.2125 to 5.0.0.2196 I have a border under the header of my application.

![image](https://user-images.githubusercontent.com/1764367/144115181-07a41e76-c732-40b1-87e1-2c1a9554b28c.png)

I tried the suggestions from there: https://stackoverflow.com/questions/19226965/how-to-hide-uinavigationbar-1px-bottom-line a

[2021-11-30 19:44] jfversluis commented on #14938
In iOS 15 there have been changes to the Navigation Bar and Tab Bar unfortunately. Would you be able to add a reproduction sample which shows how you have you code setup in your project? Thanks

[2021-11-30 19:45] jfversluis commented on #14937
Understood! Yeah a small repro would be nice, but I guess you're right, I believe you, was just wondering :)

Will have to see how impactful this is to evaluate if we want to still make this change for Xamarin.Forms 5. But let's see what we can do!

[2021-11-30 20:45] snice1981 commented on #14905
Exactly same problem here.  After update of VS2019 and VS2022. Same code works well on ios simulator and also on another machine with older VS2019&VS2022

[2021-11-30 21:15] NPadrutt commented on #14938
Sure, I'll attach a sample in a bit.  But just to say, it does work as expected with version 5.0.0.2125 of Xamarin Forms on iOS 15. I don't know if that was more of a side effect of something else that was fixed in subsequent versions though. But I thought I saw that there was something fixed around the navigation header.

[2021-11-30 21:32] NPadrutt commented on #14938
Here the sample.
With the latest version:
<img width="345" alt="image" src="https://user-images.githubusercontent.com/1764367/144130646-a82c3164-3d6d-4835-9f67-8514db145f02.png">

with version: 5.0.0.2125
<img width="332" alt="image" src="https://user-images.githubusercontent.com/1764367/144130809-1c389500-1bff-4549-a6b2-34099a7e87c4.png">

Funny enough, when you don't pick white as the color it s

[2021-11-30 21:42] AbhijeetChowdhury92 commented on #12428
Hi,
I'm  using the latest version of Xamarin.forms. In my project, I have got Flyout items that are toggled based on user type dynamically. The problem I'm facing is when I set FlyoutItem IsVIsible  to false to one of the flyout items, I can't navigate to any modal pages or dialogs in iOS.

This wasn't there with Xamarin.forms version 5.0.0.1874.

[2021-11-30 21:46] AbhijeetChowdhury92 opened #14939 "[Bug] Xamarin.forms iOS navigation breaks when FlyoutItem is hidden dynamically"
### Description
Hi,
I'm using the latest version of Xamarin.forms. In my project, I have got Flyout items that are toggled based on user type dynamically. The problem I'm facing is when I set FlyoutItem IsVIsible to false to one of the flyout items, I can't navigate to any modal pages or dialogs in iOS.

This wasn't there with Xamarin.forms version 5.0.0.1874.

### Steps to Reproduce

1.
2.
3.

##

[2021-11-30 21:59] vg12345 commented on #14905
**Update:**
Same problem on Visual Studio 2022 version **17.0.2**

[2021-11-30 22:22] sephynox commented on #14424
The issue had to do with AndroidX.SwipeRefreshLayout.Widget.SwipeRefreshLayout and I did not feel downgrading was a sufficient solution so I tried adding the Xamarin.AndroidX.SwipeRefreshLayout package. I agree that dependency management could be made clearer.

[2021-11-30 23:49] Neotrickster commented on #14935
Hi @jfversluis

Was the default project (Flyout App Template) , no added code, just the default project.
![image](https://user-images.githubusercontent.com/37305745/144144909-072e51f8-b08a-44c4-a1df-03d7fb77e494.png)

In Android you don´t set anything and the first items is always selected by default, and iOS was working same way back in september.

I did a test using some code to select a default

[2021-12-01 08:46] PieEatingNinjas commented on #14934
As I'm also experiencing the same issue, I took the liberty to also add my observations to the [ticket](https://developercommunity.visualstudio.com/t/iphone-ios-151-physical-debug/1572333) above.

[2021-12-01 09:53] vg12345 commented on #14905
Looks like more generic problem in **Foundation.NSData:FromStream**

[https://developercommunity.visualstudio.com/t/xamarin-ios-in-visual-studio-2022-problem-with-com/1590471]

[2021-12-01 10:34] ilsur-dev111 commented on #7996
I also ran into this problem, there is even a solution to why the problem is still not solved?

[2021-12-01 12:20] jfversluis commented on #14935
Interstingly enough it doesn't happen in all scenarios. Seems to have something to do with updating the UI thread though.

If you do this

[code]

I does work

[2021-12-01 12:21] jfversluis commented on #14939
Please provide reproduction steps and preferably a reproduction project to show this problem.

[2021-12-01 12:24] jfversluis commented on #14938
I highly doubt this because that version doesn't have the fixes to show the navigation bar the right way for iOS 15. So what you are probably seeing is things being broken 😅 have you tried setting a different background color to the navigation bar with version 2125? That probably doesn't work :)

[2021-12-01 12:56] nodoid commented on #13323
Has there been any update on this bug? It's still showing in the latest release version.

[2021-12-01 14:36] nromero125 commented on #14921
I just resolved the issue updating my xamarin.ios Version: 15.0.0.6, I was using 14.

[2021-12-01 14:37] AbhijeetChowdhury92 commented on #14939
[ShellDemo_XamarinForms_5_0_0_1874.zip](https://github.com/xamarin/Xamarin.Forms/files/7634638/ShellDemo_XamarinForms_5_0_0_1874.zip)
[ShellDemo.zip](https://github.com/xamarin/Xamarin.Forms/files/7634639/ShellDemo.zip)

Hi @jfversluis,

I have attached both the working(with Xamarin Forms 5.0.0.1874) and the non working projects for reference.
### Steps to Reproduce

1.  Click on Login Button
2.

[2021-12-01 14:39] jfversluis commented on #14939
Thank you!

[2021-12-01 14:44] sbs-surendhar-kabilan opened #14940 "Cannot remove an observer <CustomEntryRenderer 0x11506ede0> for the key path "sublayers" from <CALayer 0x282b09620> because it is not registered as an observer.[Bug]"
Fix Entry crashing on iOS < 14

Name: SIGABRT: Cannot remove an observer <CustomEntryRenderer 0x11506ede0> for the key path "sublayers" from <CALayer 0x282b09620> because it is not registered as an observer.

This issue occurred newly in appcenter we are updating xamarin forms : 5.0.0.2196 released

Steps to Reproduce
Expected Behavior
Application should not crash.

Actual Behavior
Crashes with th

[2021-12-01 14:52] cchmc-ray opened #14941 "[Bug] iOS15 navigation shadow bar (Xamarin shell, XF 5.0.0.x) NavBarHasShadow"
### Description
It appears that on iOS 15 the navigation shadow bar cannot be disabled.
See image : ios14 vs ios15 running same code. Thing gray line (shadow) is present.

<img width="909" alt="ss" src="https://user-images.githubusercontent.com/47529843/144247737-e82057dc-d762-4c27-abfc-05c185545ec9.png">

<img width="973" alt="ss2" src="https://user-images.githubusercontent.com/47529843/144248546

[2021-12-01 15:27] aperel66 commented on #14804
Meanwhile, is there some sort of a workaround?
Like is there a method in the renderer that we can put a try/catch to extinguish this exception?

[2021-12-01 15:29] jfversluis commented on #14804
Either downgrade or use the nightly version. I'm thinking of releasing the new version a bit earlier tbh. Running the tests now _maybe_ I can already do the update next week. Either way it would be great to know if the current nightly version fixes the problem for you @aperel66

[2021-12-01 15:33] VitalyKnyazev commented on #14804
This works for me even in Release build.
Just try/catch still crashes in Release by some reason so simply not calling Dispose for older iOS.

protected override void Dispose(bool disposing)
{
	if(VersionCheck.IsiOS14OrNewer)
		base.Dispose(disposing);
}

[2021-12-01 16:09] rajeshtamda opened #14942 "[Bug] [Android] Rendering issue of a date picker inside a stack layout"
### Description
Create few View Cell's with some random labels and at least one View Cell with a Date Picker whose date is initialized with a day/ month of single digit value. Now when you try to change the value of the date picker after launching the app if you alter that single digit day/month with a double digit value you start to notice that your year value gets truncated by those many number

[2021-12-01 17:04] aperel66 commented on #14804
I would love to help you out. However, the crash is very intermittent. I only see it from Microsoft crash center as we have thousands of users.

Sent from my iPhone
Alex

[2021-12-01 17:11] AdrianoRochedo commented on #7996
Its a Shame !

Em qua, 1 de dez de 2021 07:34, ilsur-dev111 ***@***.***>
escreveu:

[2021-12-01 17:12] aperel66 commented on #14804
Thank you!! Thats very helpful!!

Sent from my iPhone
Alex

[2021-12-01 18:42] #10031 closed

[2021-12-01 18:42] #10159 closed

[2021-12-01 18:43] jfversluis commented on #14941
I'm going to assume this is a duplicate of #14938

[2021-12-01 18:44] jfversluis commented on #14940
This issue has been reported many times before, it is fixed with the next release

[2021-12-01 18:44] #14940 closed

[2021-12-01 18:52] jfversluis commented on #14917
Please add it here. It's probably related :)

[2021-12-01 19:13] DouglasGiovanella commented on #14740
I'm also facing this problem, on 5.0.0.2083 works fine, but updating to 5.0.0.2125 or newer this issue starts to happen when setting a page on the Flyout detail.

@jsuarezruiz running the sample provided by @ShadowOfPhantom i was able to reproduce, but was hard to notice and only happens a few times. I took the liberty to change a few things in it to be more easy to reproduce:

https://user-images

[2021-12-01 19:27] McBrideMusings commented on #10990
I'd like this too, as best as I can tell I can't make more complex MarkupExtensions because I can't override Clone() and mimic the way AppThemeBinding works. I've tried to make an OnOrientation binding that works the same way but I'm stuck at this point.

[2021-12-01 23:27] Neotrickster commented on #14935
I tested with your code and it works on my app. Oddly enough, it works 2 releases ago (on september release) out of the box and have same behavior on iOS 12.5 and iOS 15.1. But looks like a workaround you put in there.

Thanks a lot.

In the meantime I gonna wrap your code inside a platforms specific if sentence.

[code]

[2021-12-02 03:23] MhAllan commented on #14906
@jfversluis I believe here is the right place, they do provide .net library, but we need the video view and video player from MAUI side

[2021-12-02 09:09] TheWoakus opened #14945 "[Bug] Xamarin.Android.D8.targets(79, 5): java.lang.ArrayIndexOutOfBoundsException : Index 4 out of bounds for length 4"
### Description
When i try to build my Xamarin forms app for debug i get the following error:

Xamarin.Android.D8.targets(79, 5): java.lang.ArrayIndexOutOfBoundsException :  Index 4 out of bounds for length 4

So far i've tried every combination of Code Shrinker, Dex Compiler and Multi-Dex, but i still get the same error. My own research on the issue have not yielded any results as it seems that t

[2021-12-02 09:42] Swodah commented on #14917
@jfversluis
https://github.com/Swodah/TabbedPageLoadingIssueIOS
I'm not 100% sure i reproduced the exact issue i had in my main project, but this does have an issue/difference in how IoS and Android act: Adding child pages programmatically instead of having them preloaded makes it so the tabbedpage on IoS is white instead of the yellow it was supposed to have.

[2021-12-02 10:51] michelevirgilio commented on #12558
Definitely needed.

[2021-12-02 15:10] michelevirgilio commented on #5979
+1

[2021-12-02 16:01] cchmc-ray commented on #14941
@jfversluis  yes... it appears to be similar.
I had search last week and I see that one was just create a day before I open this one.

This one can be close/ref.

[2021-12-02 17:17] vsfeedback opened #14946 "Truncated TabBar Title on iPad after exiting split screen"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Truncated-TabBar-Title-on-iPad-after-exi/1587072)._

---
The bug appeared in Xamarin Forms 5.0.0.2244 after the color related issue was fixed.
Steps to reproduce:
- create a new Xamarin forms Tabbed App
- update all nuget packages
- add more tabs with longer titles (I duplicated the Abou

[2021-12-02 17:17] vsfeedback opened #14947 "shell TabBarForegroundColor not working"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/shell-TabBarForegroundColor-not-working/1582189)._

---
Setting the Shell.TabBarForegroundColor, TabBarUnselectedColor has stopped working.  The text and buttons are impossible to see.

If you create a sample XF app, run it on an iPad, you’ll see the problem.

This seemed to happen when

[2021-12-02 18:04] GeethuVinod95 opened #14948 "[Bug][iOS] Unable to change iOS 15 navigation bar back button color in Shell"
### Description
I am trying to change the color of back button in iOS 15 using platform specific code in ShellRenderer. In NavigationPage we can set it by using BarTextColor, but in Shell i am unable to.

[code]

### Steps to Reproduce

Visual studio Mac: 8.10.9 (build 3)
macOS Big Sur (intel)
Xamarin Forms : 5.0.0.2083

1. Created new shell template project from Visual Studio
2. Create a CustomSh

[2021-12-02 18:45] alexanderdibenedetto commented on #9879
This is still reproducible in the latest Xamarin Forms, when can we expect an update? This is a pretty big reason *not* to move from ListView to CollectionView.

[2021-12-02 21:08] jrahma opened #14949 "[Bug] iOS requests permission!"
### Description

The iOS apps seems to be requesting permissions without me knowing that. First it requested calendar and contact permission and archiving my app failed saying I have not set the description in info.plist although I am 1m% sure I am not using calendar nor contact but then I had to add them in info.plist just for archiving to be successful..

After uploading my app successfully to A

[2021-12-02 21:32] royeagle commented on #14905
Please fix!!! Customer is waiting!!!!!!

[2021-12-03 00:04] pboisso commented on #13291
Hi @jfversluis, we finally ended up implementing the style to the NavigationPage.BarBackgroundColor and BarTextColor like you suggested and it's working well now!  We never saw build 7903 (sounds like it is stuck to 7902) so we could not test the fix for the native method just yet, sorry about that, but very happy that it's working now, we will finally migrate over XF5!  Thanks so much for your he

[2021-12-03 00:07] pboisso commented on #14664
@jfversluis, thanks again for the suggestion, we were able to fix the unexpected top padding on iOS in XF4.8 using a custom renderer. Here is the code if any other developers are following this thread.

`    public class LVRenderer : ListViewRenderer
    {
        public LVRenderer()
        {
        }

        protected override void OnElementChanged(ElementChangedEventArgs<ListView> e)

[2021-12-03 02:48] dothanhbinh41 opened #14950 "[Forms] Element generates the drop gesture"
## Summary
In DropGestureRecognizer, when Drop, DragOver will call event Drop(object sender, DropEventArgs e) but  sender is DropGestureRecognizer. I think the sender is the one with this gesture.

## API Changes
in Xamarin.Forms.Core/DragAndDrop/DropGestureRecognizer.cs
change public async Task SendDrop(DropEventArgs args)
to public async Task SendDrop( View view ,DropEventArgs args) // view is s

[2021-12-03 04:25] AndreasReitberger commented on #14703
@jfversluis anything new on this one? Would be awesome if this could be fixed with the next SR 👍
Thank you!

[2021-12-03 07:09] michaldivis commented on #12558
This would be super userful! My current workaround is not that bad, but still, if this worked the code would be a bit cleaner.

[2021-12-03 07:16] angelru commented on #14905
they are investigating the problem
https://developercommunity.visualstudio.com/t/iphone-ios-151-physical-debug/1572333

[2021-12-03 08:08] snice1981 commented on #14177
same problem here (XF 5.0.0.2244). It doesn't work on both Android and iOS

![image](https://user-images.githubusercontent.com/25153628/144567674-7865b5fa-86bc-409e-8c2c-375cf90f518e.png)

![image](https://user-images.githubusercontent.com/25153628/144567742-4f001f9c-f66a-463c-b77c-101b599cb7ec.png)

[2021-12-03 10:42] jsuarezruiz commented on #14949
Could you share a sample or the iOS manifiest file?, what Xamarin.Forms version are you using exactly?

[2021-12-03 11:17] vishalmakwana commented on #14939
Hi
Any update on this. I am also facing the same issue and it's critical.

Thank you!

[2021-12-03 12:53] jrahma commented on #14949
Xamarin Form s is 5.0.0.2244

I can't share a sample because it happened on this file but I can share it privately.

[2021-12-03 13:20] jenscski commented on #14949
Do you have any third party libraries installed?

We had issues with a library that was causing a similar issue for us.

[2021-12-03 13:23] polotto commented on #1944
Amazing library @scriptBoris!!! Thank you.

[2021-12-03 14:09] xamiell commented on #8234
+1

[2021-12-03 15:24] angelru commented on #14949
You can always appeal or add those permissions. Sometimes apple is like this ...

[2021-12-03 15:59] davidbauer2 opened #14951 "iOS Crash on App Start"
### **Description**

We have a user that is unable to open our app. They have uninstalled, re-installed, restarted their phone and updated their phone to iOS 15.1 with no luck getting it to start. We have tried multiple different versions for them as well. They have provided the crash log which is shown below, it is the same each time it crashes for them.

The device they are having an issue on is

[2021-12-03 16:07] mhrastegary77 commented on #8234
@jfversluis @jsuarezruiz did you guys saw this? 👀 it's really one of those type of necessaries!

[2021-12-03 16:25] npostma opened #14952 "[Bug] System.IndexOutOfRangeException: 'Can't set CarouselView to position -1. ItemsSource has X items.'"
### Description
After updating the ObservableCollection which is bound to CarouselView, rentering the page with the carousel view gives a crash. Android only. iOS works as expected.

Exception message: [Bug] System.IndexOutOfRangeException: 'Can't set CarouselView to position -1. ItemsSource has X items.'
X can be any positive number, its the count of the updated ObservableCollection.

Its a Xamar

[2021-12-03 16:49] MitchBomcanhao commented on #14819
Additional information - this only appears to be an issue when you've focused the picker before (by picking something).
Pickers that haven't been interacted with do not get changed when using the mouse wheel.
If you pick something and then click away from the picker, the issue is not reproducible.

[2021-12-03 17:01] Erdogan34 opened #14953 "Webview is recreating when swiping the CarouselPage [Bug]"
### Description

I have a CarouselPage that have three page and Webview is in the first page. There is no problem between webViewPage and second page but Whenever swiping third page, webview is recreating and refreshing.

This behavior is works good on iOS.

### Expected Behavior

When we return to the webview page, it should present the webview as we left it.

VS for mac 8.10.12
XF 5.0.0.2244

##

[2021-12-03 17:47] vsfeedback opened #14954 "CarouselView crashing on iOS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/CarouselView-crashing-on-iOS/1600742)._

---
I have a very simple CarouselView in my forms app

&lt;StackLayout VerticalOptions=&quot;Center&quot; Padding=&quot;16,24&quot; BackgroundColor=&quot;Transparent&quot;&gt;
        &lt;StackLayout VerticalOptions=&quot;Center&quot; Padding=&quo

[2021-12-03 17:49] vsfeedback opened #14955 "Embedded resources not showing on Xam Forms apps on iOS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Embedded-resources-not-showing-on-Xam-Fo/1592160)._

---
[severity:Other]
All embedded resources seem to not show on iOS in release mode. It looks like Apple has changed something that prevents them showing in release mode. It is possible this will also prevent apps being accepted to the

[2021-12-03 17:53] vsfeedback opened #14956 "Xamarin iOS gesture recognizers do not work in 17.0.1"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-iOS-gesture-recognizers-do-not-w/1586602)._

---
[regression] [worked-in:VS 2019]
Exactly as the title says. The app deploys and runs, however any controls using gesture recognizers do not respond to taps.
I am deploying to a USB-connected iPhone. It works fine on Android.

Some

[2021-12-04 12:34] qz2rg4 commented on #13067
I am having the same issue vS 2019 and VS 2022

Xamarin.Forms 5.0.0.224
and Xamarin.Forms.Visual.Material 5.0.0.224

[2021-12-04 13:02] ragulsv opened #14958 "[Bug] In iOS, Cursor position is not able to update from the Started event using the "SelectedTextRange"."
### Description

Not able to update the cursor position manually from the started event using the "SelectedTextRange" property on focus. Please refer to the below sample and screenshot.

### Steps to Reproduce

1.  Create a custom control.
2. Create native control by inheriting from UITextField.
3. Hook started the event in native.
4. Use the below code snippet to update the cursor position from t

[2021-12-04 13:04] qz2rg4 commented on #13067
@thisismyself Did you find a solution to this problem?

[2021-12-05 03:56] jrahma commented on #14949
No, I don't. They are all the same regular Nuget Packages I am using for all apps [Attached]

[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/7655183/Archive.zip)

[2021-12-05 04:01] jrahma commented on #14949
and here is my Build options

<img width="729" alt="Screen Shot 2021-12-05 at 8 00 28 AM" src="https://user-images.githubusercontent.com/6236241/144732910-92c457d2-d22c-4012-8357-782a02acb419.png">

[2021-12-05 10:17] holecekp commented on #13307
I have the same problem. Is a fix for this planned soon? This bug causes some controls in my app to be outside the visible area of the screen (when they become visible by setting IsVisible=true).

[2021-12-05 10:50] ali-h2010 commented on #11405
i am still facing this issue. I tried to:
- Set selected item to null
- Clear the list
- set the whole list to null
- set it to a new empty observable collection.

Nothing works. Only recreating the whole page reset the selection.
I am using Xamarin forms version: 5.0.0.2012

[2021-12-05 12:30] bigabdoul commented on #11341
@MariovanZeist use AppThemeBindingExtension instead of AppThemeBinding:
[code]

[2021-12-05 12:59] ali-h2010 commented on #11405
Surprisingly, a simple `Task.Delay(5000)` resolved this issue for me as @jsuarezruiz mentioned.

`await Task.Delay(5000);
RecommandedAttendeesList.SelectedItem = null;`

[2021-12-05 15:55] justin-loverme commented on #14783
@jfversluis @jsuarezruiz As you can see more occurrences of this issue is still happening. I attempted to add some overrides to Disposing, OnDisappearing, and destruction events. Like @khedheri mentioned, the appears to primarily happen when the TappedPage has more than 5 tabs and thus on iOS the 'more' section is created and the issue seems to happen when the back button is pressed while viewing

[2021-12-05 18:03] FrozDark opened #14959 "[Bug] [UWP] [Shell] Tab icon not working with FontImageSource"
### Description
When using FontImageSource for the tab bar icon in the shell it shows empty square like no icon found
If I do it to FlyoutItem it works as everywhere in the project

### Steps to Reproduce

1. Create shell content with tab bar
2. Set FontImageSource with the custom fonts to the Tab.Icon

### Expected Behavior
Icon to be shown

### Actual Behavior
Empty square shown

### Basic Infor

[2021-12-05 20:09] ToolmakerSteve opened #14960 "[Question] Xamarin Forms with .NET 6?"
Until MAUI reaches RC, it would be good to have an official word on the closest that XF app devs can get to MAUI. (I've been actively answering StackOverflow questions re Xamarin Forms - https://stackoverflow.com/tags/xamarin.forms/topusers)

For testing purposes, I just created a new XF project in VS 2022 Community. (The stable release, not preview - this is for apps that are in or near productio

[2021-12-06 03:37] irinakush opened #14961 "[Bug] IndicatorView does not respect MaximumVisible on iOS and does not always apply IndicatorSize on Android"
### Description

**[Android]**
When IndicatorSize is changed, IndicatorView does not seem to apply the change until MaximumVisible is changed.

**[iOS]**
When IndicatorSize and item number are large and MaximumVisible is set a number of items, IndicatorView ignores MaximumVisible value.

### Steps to Reproduce

**[Android]**
1. Use xamarin-forms-samples/UserInterface/IndicatorViewDemos/
2. Run the

[2021-12-06 04:10] aodegov commented on #14752
many thanks, @janoosthoek !
Suddenly, the **vmImage: 'macOS-11'** is definitely the issue fix.
Temporary of course, but anyway.

We're looking forward on fix with **vmImage: 'macOS-latest'**

Thanks

[2021-12-06 08:41] GalaxiaGuy commented on #14960
What happens if you update the mobile projects to `net6.0-android` and `net6.0-ios`?

[2021-12-06 10:47] MohanadObiad commented on #6497
**Hi , I just fix this bug by simple code ...**
Ok , first the CollectionView has a ( HeightRequest) property , so if you set the value to this property the bug will be fixed
- If you have a limit number of items you can directly set the value of (HeightRequest="10xxx")
- but if you have unknown number of items in the collection view you binding a dynamic (HeightRequest) value
HeightRequest="{Bind

[2021-12-06 14:00] jfversluis commented on #14960
I don't see why we would do that, if you really want to you could take the source here and compile it against .NET 6 I guess. Also this has been asked before.

[2021-12-06 14:00] jfversluis commented on #14960
Duplicate of #14829

[2021-12-06 14:00] #14960 closed

[2021-12-06 14:03] jfversluis commented on #14949
What sources do you have on this?

I am fairly sure Forms does not add any permissions whatsoever. Either it's something you (mistakenly) enabled yourself of some other library that you maybe added. Also, all permissions should be declared in the `info.plist` file and the `AndroidManifest.xml` file so you should easily see what is in there.

[2021-12-06 14:05] jfversluis commented on #14951
Without a reproduction or useful logs it's quite impossible to diagnose this. Sorry about that! Let me know if you have a more .NET related stack trace of any other information.

[2021-12-06 14:05] #14951 closed

[2021-12-06 14:09] jfversluis commented on #14950
Unfortunately we're not going to add any more features to Xamarin.Forms anymore, we are maintaining this for a while longer, but new features will go into .NET MAUI. Please open a feature request there, thanks!

[2021-12-06 14:09] #14950 closed

[2021-12-06 14:21] jfversluis commented on #14959
Would you be able to attach a small reproduction sample that demonstrates this issue?

[2021-12-06 14:23] jfversluis commented on #14921
Seems to be resolved for the original author by updating to the latest bits. Thanks!

[2021-12-06 14:23] #14921 closed

[2021-12-06 14:25] jfversluis commented on #14954
Duplicate of #13323

[2021-12-06 14:25] #14954 closed

[2021-12-06 14:36] jfversluis commented on #14956
Can't reproduce both on the Simulator as well as on a physical device. Please ping me when you find this and can add a reproduction project for us to try.

[2021-12-06 15:14] TheObliterator opened #14962 "[Bug] SwipeGestureRecognizer crashes on physical iOS device in debug with hot reload"
### Description
SwipeGestureRecognizer crashes on iOS physical device (segv native crash).
Adding any reference to the SwipeGestureRecognizer causes a native crash when interacting with the page (even just clicking a button). Only physical iOS device deployment is affected and only when deployed via debug (hot reload) (works fine in Android and the iOS simulator).
The problem is easily reproducibl

[2021-12-06 15:37] jrahma commented on #14949
It does request event if you don’t add it to the info.plist

For example, in my case, I never added the HealthKit and I double-checked my info.plist and 100% I don’t have the HealthKit.. However, my iOS app got rejected twice for the HealthKit permission request.

Following this article

[https://docs.microsoft.com/en-us/answers/questions/286148/rejected-app-due-to-healthkit-healthkit-is-not-ref.h

[2021-12-06 15:45] jfversluis commented on #14949
I still don't see a "common issue" by Googling this. There is one report, that you linked, the follow-up on that is here: https://github.com/xamarin/xamarin-macios/issues/10743 where the author stops responding.

Also, this issue seems to belong to the macios repo and not here anyway. Could you please post the exact message that you received from Apple?

@dalexsoto does this mean anything to you a

[2021-12-06 15:56] dalexsoto commented on #14949
The problem is the linker behavior

![image](https://user-images.githubusercontent.com/204671/144878130-f0ced5be-519b-496a-acea-f63d56ec2969.png)

It is set to don't link which means that the app is getting all of the symbols referenced in his App which includes all of the frameworks like HealthKit etc. This is why Apple is flagging the app. The solution is to enable the linker setting to do eithe

[2021-12-06 19:29] jfversluis commented on #14703
Unfortunately not, if you have the possibility feel free to look into it :)

[2021-12-06 19:30] jfversluis commented on #14664
Thanks for sharing!

[2021-12-06 19:35] jfversluis commented on #8234
Thanks for the ping @mhrastegary77

Unfortunately we're not going to add any new things to Xamarin.Forms anymore unless it somehow is really needed, so I'm afraid this is one of those things that won't be added anymore. It seems like this has some great response though so I will tag it for consideration in .NET MAUI, but feel free to open a feature request there with all the details about this and

[2021-12-06 19:35] #8234 closed

[2021-12-06 19:35] jfversluis commented on #14941
Duplicate of #14938

[2021-12-06 19:35] #14941 closed

[2021-12-06 19:40] jfversluis commented on #13291
Awesome @pboisso, thanks you for the kind words! Don't worry about the other thing if this is working for you :) Let me know if you need anything else!

[2021-12-06 19:44] jfversluis commented on #14783
@chamons @Redth is this something we can reprioritize?

[2021-12-06 22:09] irinakush commented on #14961
Additionally, when iOS IndicatorView item number is limited by MaximumVisible, control loses UI Page Control
ability to shrink indicators at both sides to suggest that more pages are available.

Limited by MaximumVisible:

![image](https://user-images.githubusercontent.com/64395254/144930568-85de24e9-f4f6-4f16-8b96-d012c595dc9a.png)

vs limited by UI Page Control functionality:

![image](https://u

[2021-12-07 04:38] saiganesh-sakthivel commented on #6428
Hi @samhouts ,

Can you please tell any updates for this issue?

[2021-12-07 06:07] lukies97 commented on #14956
I don't know of a project you can try, but I am still having this issue.  It does not happen when using the simulator, only when loading directly to a phone.  In Android the gesture recognizer works, but in iOS it does not work.  This has not been fixed.

[2021-12-07 08:01] Erdogan34 commented on #14953
@samhouts, @PureWeen

May you see my issue, please? Our production is delayed.

[2021-12-07 08:25] prdp89 opened #14963 "[Bug] Xamarin.Android DatePicker dialog and labels are inconsistent"
### Description
FYI: I posted the questions ([first](https://stackoverflow.com/questions/70156408/datepicker-not-showing-correct-year-2021-should-be-2564-for-thai-culture/70194124#70194124), [second](https://stackoverflow.com/questions/70212709/thai-culture-date-labels-are-inconsistent)) on StackOverflow but didn't receive a stable solution.

We are working on an App that supports various language

[2021-12-07 09:14] KennyEng12 commented on #13895
Downgraded to version 1.2.5.5 solved my issue as well but this is not a good solution to fix it due to not possible to downgrade to this version forever. Please do share if anyone finds a better solution without changing the version.

Thanks,
Kenny.

[2021-12-07 09:27] de-preut commented on #14805
@jsuarezruiz and @jfversluis I can also confirm, that with @DiogoSemedo test project and the PR version of Xamarin.Forms it's working, but not for modal pages.
Add to "Page3" a `Shell.PresentationMode="Modal"` and a back button and you have multiple "page3" on the modal stack!

[2021-12-07 09:46] ismith78 commented on #14888
Any update?

[2021-12-07 16:10] CartBlanche commented on #13397
@jsuarezruiz @samhouts  Just wondering if this will ever be addressed?

[2021-12-07 16:35] keiji commented on #13597
I'm sorry to create  links like spams.
This is unexpected behavior for me...

I have same issue after update to Xamarin.Forms 5 and I found usefull  workaround on this issue. thanks.

[2021-12-07 18:37] jrahma commented on #14949
This is the exact message. and as expected, I did not change any permission because I don't have the HealthKit anywhere in my app but by just changing the Linker setting my app was approved today.

![apple_message](https://user-images.githubusercontent.com/6236241/145087045-a4b721f2-a7ce-455d-b64b-5a03d657e56f.png)

[2021-12-07 18:39] jrahma commented on #14949
but this setting does not make sense. If Do not Link creates such issue then why it's available in the list?!

Visual Studio should know what's used in my app and it should add everything just because I set it to Do not Link.

[2021-12-07 18:41] rachelkang commented on #14888
Hi, @ismith78 - I tested on an Android device and was able to interact with the slider in TalkBack mode.
There are two ways I discovered, both of which are consistent to the Android platform experience as well.

While the slider is focused in TalkBack mode, you can try a two finger horizontal slide or one finger vertical flick. Let me know if this works for you!

[2021-12-07 18:54] edgiardina commented on #3483
Still an issue in iOS 15.1 and Xamarin 5.0.0+

[2021-12-07 18:56] ismith78 commented on #14888
Thank you @rachelkang for your feedback. I've just tested that on my A70 and it does for me with that two finger slide.

Does this work the same way on iOS? I'm guessing you don't have a Kindle to test with, so I'll check that tomorrow.

[2021-12-07 19:38] rachelkang commented on #14888
I explored iOS a bit more, and it seems there is indeed something similar.

In addition to the one finger vertical swipe up/down, you can try to double tap hold and then swipe horizontally. Here is a video I found on this: https://www.youtube.com/watch?v=OvmkFfEbewg

In general, however, because of the swipe gesture that the slider requires, the control is not the most accessible (for example, to

[2021-12-07 21:39] lassana commented on #14829
.NET6 support would simplify upcoming migration to a new stack.

I had a quick look at .NET MAUI and it looks different from Xamarin.Forms. To my knowledge no migration toolchain has been announced so far, so I expect that manual migration to MAUI will take us months not weeks. Luckily there is at least support for existing X.F renderers and effects.

We would like to be able to start using .NET 6

[2021-12-07 22:32] jahmai-ca opened #14964 "[Enhancement] Xamarin.Forms package with a net6 target?"
## Summary

I are trying to migrate our net5 projects to net6. This includes our current netstandard shared projects (shared with server code), and our multi-targeted shared projects (xamarinios10, monoandroid10, net5.0-windows). To compile this I have had to update a number of Xamarin.* projects due to compile issues with Java.Object, such as `Xamarin.AndroidX.Work.Runtime` to `2.7.0.1` which dep

[2021-12-08 00:42] PugetSoundGridSoftware opened #14965 "[Bug] [iOS] CollectionView Header will be scrolled out of view if HttpClient is used"
### Description
CollectionView Header will be scrolled out of view if HttpClient is used.

### Steps to Reproduce

1. Create a Mobile App Xamarin project.
2. Add header to the collection view in ItemsPage.xaml

3. Use HttpClient in MockDataStore.cs
        public async Task<IEnumerable<Item>> GetItemsAsync(bool forceRefresh = false)
        {
// If comment the following line, the header shows with

[2021-12-08 05:59] cjkarande opened #14966 "Xamarin Forms (5.0.0.2012): Scale & Rotate Animations are not working on iOS 15.x, however they work fine on Android"
Scale & Rotate Animations are not working on iOS 15.x, however they work fine on Android

### Expected Behavior
The animations should be working fine.

### Actual Behavior
The Scale & Rotate animations are not working

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks:
  - iOS:  15.x
  - Android: 10
- NuGet Packages:  Xamarin Forms (5.0.0.2012)
-

[2021-12-08 08:07] FrozDark commented on #14959
Sorry didn't think that it is necessary

Here it you go

[ShellTabIconRepro.zip](https://github.com/xamarin/Xamarin.Forms/files/7674379/ShellTabIconRepro.zip)

btw tested on Android and it works well

[2021-12-08 09:24] jfversluis commented on #14966
Could you please try the latest Xamarin.Forms version and confirm it doesn't work there?

[2021-12-08 09:28] jfversluis commented on #14829
That sounds you have had a too quick look. What looks different according to you between .NET MAUI and Xamarin.Forms? The APIs are exactly the same minus a few renames. Migration can be done through the [Upgrade Assistant](https://dotnet.microsoft.com/platform/upgrade-assistant) so no manual migration required and that certainly shouldn't take months, what am I missing here? :)

[2021-12-08 09:28] jfversluis commented on #14964
Duplicate of #14960 and #14829

[2021-12-08 09:28] #14964 closed

[2021-12-08 10:58] radioactiveman commented on #14918
Hi @jfversluis, @davidortinau,
Is there any update on this issue(s)? Is a fix scheduled for a coming service release?
Please prioritize regressions like this. They are annoying, especially if you cannot downgrade to an older Xamarin.Forms version because of other bug fixes or better iOS 15 support for example. Thanks.

[2021-12-08 11:24] holecekp commented on #14918
Yes, please. This is very annoying problem.

[2021-12-08 12:19] OlaPietka opened #14967 "[Bug] iOS: Pull to refresh on CollectionView triggers RemainingItemsThresholdReached"
### Description
Using ```RefreshView``` along with ```CollectionView``` and ```RemainingItemsThreshold``` doesn’t work as expected on iOS device. Pulling down to refresh collection also triggers ```RemainingItemsThresholdReached``` event.
On Android device it works perfectly fine.
Number of ```RemainingItemsThreshold``` seems to be not relevant to this issue.

### Steps to Reproduce
1. Open attach

[2021-12-08 12:34] ramkumarsync commented on #14788
@jfversluis Is this issue resolved in the Xamarin.Forms 5.0.0.2244 version release? Because I couldn't see this issue listed in the release notes of the mentioned version. Please confirm this.

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/5.0/5.0.0-sr7

[2021-12-08 12:48] Savage1024 commented on #13895
The same problem on different devices.
[code]

[2021-12-08 13:06] jfversluis commented on #13895
If anyone could provide a reproduction sample that would help very much!

[2021-12-08 13:08] jfversluis commented on #14918
Unfortunately not :( of course feel free to poke around the Xamarin.Forms source to see if you can find more details as to why this might be happening while we get to this one.

[2021-12-08 13:09] jfversluis commented on #14788
@ramkumarsync the next release I was talking about was SR8 :) Working to get that released this week or next

[2021-12-08 13:10] jfversluis commented on #14959
It always helps! Thanks for adding it

[2021-12-08 13:12] jfversluis commented on #14949
You can read up on the different settings and their use here: https://docs.microsoft.com/xamarin/ios/deploy-test/linker

I'm going to assume things are clear and this is indeed not a bug. Let me know if that's not the case. Thanks!

[2021-12-08 13:12] #14949 closed

[2021-12-08 13:34] jfversluis commented on #14805
@de-preut if you still think something is wrong please open a new issue, thanks :)

[2021-12-08 13:43] jfversluis commented on #14959
It seems that the font alias isn't working. I faintly recall this was an issue on UWP anyway... As a workaround you should be able to use the full font name, e.g. `<FontImageSource FontFamily="Material Design Icons" Glyph="{x:Static fi:MaterialDesignIcons.AlarmSnooze}"/>`

[2021-12-08 14:04] de-preut opened #14968 "[Bug] Xamarin.Forms.Shell v5.0.0.2196 Backwards Navigation for Modal pages not working in iOS 15.0"
Description

*Basically the same issue as described (and already fixed) in https://github.com/xamarin/Xamarin.Forms/issues/14805, but the same issue still exist for modal page navigation*

I'm having an issue when trying to navigate to the previous page from a modal page with the default iOS back button using Xamarin.Forms.Shell. I will leave the link (https://github.com/de-preut/xamarin) to repos

[2021-12-08 14:06] de-preut commented on #14805
@jfversluis sure thing, please see #https://github.com/xamarin/Xamarin.Forms/issues/14968 (basically a copy of this issue, with a linked sample project)

[2021-12-08 14:26] JPZV opened #14969 "[Bug] iOS App freezes when password is entered after email (not completely fixed)"
### Description
#12246 (and #12868) not completely fixed

### Steps to Reproduce

1. Implement a functional SignUp page either using [Associated Domains](https://developer.apple.com/documentation/xcode/supporting-associated-domains) plus Keychain, or using an Authentication provider like Firebase
2. Add Xamarin.Materials in all the textboxes
3. Launch the app, go to SignUp, put any email, set the

[2021-12-08 14:49] dalexsoto commented on #14949
@jrahma Just answering your question about that setting, it exists because certain applications can be distributed outside the AppStore and also some kind of applications like the ones that allow you to code on device like Continuous can take advantage of not linking everything.

Also some debug scenarios are faster if we do not link at all for example on simulators so there are a lot of applicati

[2021-12-08 14:50] jrahma commented on #14949
@jfversluis it will be great if you consider this as enhancement to avoid confusion and rejections of app which will help the developers and make things clear to them and save their time

[2021-12-08 15:00] jfversluis commented on #14949
Even if we were to do that, the Xamarin.Forms repository is not the right place for this feature request.

Personally I don't really see much opportunity for an enhancement here. This setting has been here for a long, long time and I have never seen a big number of people with issues like this one. By default this setting is configured properly whenever you select the Release configuration.

Addit

[2021-12-08 15:24] melmulcahy32 commented on #14956
I was able to reproduce in 2022 Community using the [WorkingWithGestures Sample Project](https://github.com/xamarin/xamarin-forms-samples/tree/main/WorkingWithGestures/TapGesture) on a USB connected iPhone XS.

[2021-12-08 16:37] AbhijeetChowdhury92 commented on #14939
Hi @jfversluis ,

Any workaround to this?
TIA

[2021-12-08 16:37] BenBtg opened #14970 "[Bug] BoxView Color in CollectionView DataTemplate ignored if Corner Radius is set (Android only)"
### Description
This is a repro for a customer raised issue. Repro using the CollectionView Sample app.

### Steps to Reproduce

1. Open collection view Sample app.
2. Add a BoxView to the Horizontal list sample so it overlays each item.
3. Set background to transparent
4. Run app an notice BoxView is invisible.
5. Set corner radius to 10
6. Run app and notice BoxView is now white.
7. Change Corne

[2021-12-08 18:04] ismith78 commented on #14888
Hi Rachel,

I can confirm that the one finger vertical swipe up/down is consistent across iOS / Android / Kindle. However, this requires quite a bit of control, so I think the addition of the plus and minus buttons will help those who are not as dextrous.

Many thanks for your help, I think the issue can be marked as resolved, pending any documentation in the accessibility section of Xamarin Forms

[2021-12-08 21:35] rachelkang commented on #14888
sounds great! happy to have helped, and glad you determined a better solution :)

[2021-12-08 21:35] #14888 closed

[2021-12-08 23:10] VitalyKnyazev commented on #13895
Hi @jfversluis,

Here is the repro for another issue which may or may not be related. But it is also can be fixed by downgrading to  Xamarin.AndroidX.Fragment 1.2.5.5:
https://github.com/VitalyKnyazev/NavigationIssue

Basically when using NavigationPage after updating to XF 5.0.0.2083 (or newer) and navigating back without animation(!) previous page content is not restored.

[2021-12-09 03:37] KennyEng12 commented on #13895
Hi @jfversluis

I suspect the error is occurred when the app is idle/background or lock screen for a long time and open it again from recent app. By using the method above can reproduce the error straight away when you go out from the app and open it again from recent app.

You can try with latest version of Xamarin.AndroidX.Fragment instead of version 1.2.5.5.

Thanks,
Kenny.

[2021-12-09 04:54] AswinPG commented on #14918
I am facing this issue when using scrollview in both ios and Android. This is a critical bug and happens randomly. I can't release any of my apps because we don't know how it'll behave.

[2021-12-09 08:34] egvijayanand commented on #13752
In `iOS 12`, am having issues in toggling among the RadioButtons in a group that is bound with a ViewModel.

The initial selection is set to the RadioButton with the value of the `SelectedMode`, after that unable to toggle to the other RadioButtons in the same group. Even tried setting the `BindingMode` to `TwoWay`, but to no avail.

And the same scenario works fine in Android.

Haven't tried it i

[2021-12-09 08:49] YZahringer commented on #12857
Fixed on MAUI: https://github.com/dotnet/maui/pull/2445
Fixed on XCT: https://github.com/xamarin/XamarinCommunityToolkit/pull/1316

[2021-12-09 08:49] #12857 closed

[2021-12-09 09:30] KennyEng12 commented on #10182
I still got this issue with Xamarin Forms version 5.0.0.2012:

Codes:
[code]

Thanks,
Kenny.

[2021-12-09 09:31] jsuarezruiz commented on #14966
Could you attach a small sample where reproduce it?. Tried with some samples and cannot reproduce it.
![ios-rotate](https://user-images.githubusercontent.com/6755973/145370461-5fd69357-19d4-4143-a27d-20238cf7c6cc.gif)

[2021-12-09 10:27] GalaxiaGuy opened #14972 "[Bug] Using an intermediate base class for a ResourceDictionary fails to load when XamlCompilation enabled"
### Description

For various reasons, we are trying to use a resource dictionary `ColorResources`, which inherits from a base class `BaseResources` which inherits from `ResourceDictionary`.

When XAML compilation is enabled `InitializeComponent` throws a null reference exception. Stepping into it, it seems to be because it is trying to add a `Color` as a `Style`.

If I use VS for Mac Assembly brow

[2021-12-09 12:42] jfversluis commented on #14939
Not that I know of right now, sorry :(

[2021-12-09 13:00] jfversluis commented on #14956
@melmulcahy32 thanks! Not sure what to tell you... For me that just works... 😩

[2021-12-09 13:15] davidtolleback commented on #2096
I am seeing a similar issue, ver 5.0.0.2244, on a Pixel 4 phone. Altough rather than being in the upper left corner its sometimes in the top 10% or 50% of the button.

[2021-12-09 13:19] m-kok opened #14973 "[Bug][iOS] Adding custom font to theme causes crash when displaying string"
### Description
When trying to launch an iOS app using labels that are using custom fonts (Have tried multiple fonts so far), the app will crash the moment it needs to displays strings using this font.
A coworker running an older version of visual studios 2019(16.11.3) is able to use custom fonts while the code and used NuGet packages are the same.

On Android this is not a issue.

### Steps to Re

[2021-12-09 14:00] melmulcahy32 commented on #14956
😭 perhaps it's an environment thing. I know my dev team uses MacStadium and builds apps using a virtual Mac.

[2021-12-09 16:24] pkvaranasi opened #14974 "[Bug] Keyboard dismissing on background processes - Await calls - Android - TextEntry"
### Description
As Google made mandatory to update the TargetFramework to API 30, we had updated our Xamarin Forms apps to target API 30.
Previous Xamarin Forms version: 4.8.0.1451
Upgraded to 5.0.0.2083

Since then, we are seeing the keyboard dismissing when the user starts typing on Text Entry. The screen is pretty simple with a TextEntry control and a ListView. There are some await calls happen

[2021-12-09 16:31] pkvaranasi commented on #14542
I found the same issue, and found that the keyboard is dismissing automatically when there are some await calls running in background.
When I commented by await calls, I don't see this issue is reproducible.
Raised bug on the same, see if this is the same scenario:
https://github.com/xamarin/Xamarin.Forms/issues/14974

[2021-12-09 17:04] GriffinMeyer commented on #13105
I'm currently running into this issue. Is there a workaround and/or ETA for when this might be fixed?

[2021-12-09 17:42] bitshftr commented on #13716
Having the same exact problem.

[2021-12-09 20:25] sabrigo commented on #14921
I am already running with 15.0.0.8, however I still have this issue.

[2021-12-09 21:22] aodegov commented on #14906
@jfversluis I'd like to inform you,
that [this issue ](https://github.com/Azure/Communication/issues/426)was closed without any understanding how it will be processed.
Is there any chance to communicate with Azure Communications Services Team in order to clarify the roadmap for this issue (and issues like this).
Since community waits on solution more than a year.
Sorry for bothering with this agai

[2021-12-09 22:25] Lizcq11 commented on #14505
Hi!
I've been having an issue with the Shell Navbar, I've created a custom shell renderer for the navbar, where I implemented a gradient, I use the  interface IShellNavbarAppearanceTracker and set the gradient in the method SetAppearance.
This issue is only happening on devices with iOS 15, I tested my app on a device with iOS 14.8.1 and everything works as expected, the gradient in the navbar wor

[2021-12-09 22:46] Lizcq11 opened #14975 "[Bug] Shell Navbar ignoring colors on iOS 15.0"
### Description

Hi!
I've been having an issue with the Shell Navbar, I've created a custom shell renderer for the navbar, where I implemented a gradient, I use the interface IShellNavbarAppearanceTracker and set the gradient in the method SetAppearance.
This issue is only happening on devices with iOS 15, I tested my app on a device with iOS 14.8.1 and everything works as expected, the gradient i

[2021-12-10 05:05] MhAllan commented on #14906
@aodegov  try on MAUI issues, Xamarin most likely not going to add anything

[2021-12-10 08:26] jsuarezruiz commented on #14975
Could you attach a sample with your custom implementation of `IShellNavbarAppareanceTracker`?

[2021-12-10 08:38] othmanTeffahi99 commented on #8718
I tested the CollectionView on MAUI in Android, it's working great, you can migrate to Maui, but it is still in the preview Version .

[2021-12-10 08:45] jfversluis commented on #14906
@MhAllan that is correct, but like I stated earlier, this is not the right place to ask for this. I see your issue (@aodegov) has been migrated to the platform where feature requests are supposed to be for that product. There is not much you can do besides sharing the link to that issue to other people that might be interested in this feature. If more people upvote it, the more likely it will be i

[2021-12-10 09:19] mkrnic commented on #8731
I stumbled upon this issue because I had a problem with custom entry renderers that have to do FocusChange stuff. It's not strictly related to this GitHub issue, but it's one of the top results on Google for meaningful "xamarin android entry custom renderer onfocuschange" searches, so it might help someone.

The code below seems to do the job. Save the original listener, invoke it manually.

[2021-12-10 09:25] jsuarezruiz commented on #14973
Could you attach a small sample where reproduce the issue?

<img width="314" alt="Captura de pantalla 2021-12-10 a las 10 23 15" src="https://user-images.githubusercontent.com/6755973/145550390-39eeaf8f-31e7-4a85-ae59-cfedd3f8034e.png">
[Issue14973.zip](https://github.com/xamarin/Xamarin.Forms/files/7691598/Issue14973.zip)

[2021-12-10 10:08] m-kok commented on #14973
Whats the best way to add a sample?

[2021-12-10 10:51] m-kok commented on #14973
Made a sample project that reproduces the crash (Using a connected iPhone 6 running on windows)
[ThemeApp.zip](https://github.com/xamarin/Xamarin.Forms/files/7692159/ThemeApp.zip)

[2021-12-10 15:01] aodegov commented on #14906
Thanks for your replies @jfversluis
Will think how to move forward......

[2021-12-10 15:07] Saquibadil opened #14976 "[Bug] iOS crashes on AppCenter.Start in Visual Studio 2022 using hot restart"
### Description

I installed latest version of Visual Studio 2022 (17.0.2). Created a brand new Xamarin.Forms project. Wanted to test AppCenter Analytics and Crashes.

AppCenter.Start("android={android key};" +
                  "ios={iOS key}",
                  typeof(Analytics), typeof(Crashes));

Installed Microsoft.AppCenter.Analytics and Microsoft.AppCenter.Crashes nuget packages in all thre

[2021-12-10 15:42] Avitose commented on #5959
Bug still persists in Xamarin Froms 5.0.0.2244

[2021-12-10 16:08] aodegov commented on #14906
@MhAllan , thanks for suggestion.
Already there: [3393](https://github.com/dotnet/maui/issues/3393) and [3394](https://github.com/dotnet/maui/issues/3394).
Created ~month ago.
You can somehow tag or like them, sake of promote in MAUI boards.

[2021-12-10 16:46] Lizcq11 commented on #14975
@jsuarezruiz  This is the implementation of the IShellNavbarAppearanceTracker

using MyApp.iOS.Renderers;
using System.ComponentModel;
using Xamarin.Forms;
using Xamarin.Forms.Platform.iOS;

[assembly: ExportRenderer(typeof(AppShell), typeof(ShellNavbarRendereriOS))]

namespace MyApp.iOS.Renderers
{
    public class ShellNavbarRendereriOS : ShellRenderer
    {
        protected override void OnEle

[2021-12-10 18:08] brunck commented on #8359
This will find its way into MAUI, but won't be showing up in Xamarin.Forms.

[2021-12-10 18:52] tonyhallett commented on #6451
Unbelievable !
Unusable.
This behaviour should be specified in the docs.  If it was mentioned [here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/controls/views) I would not have tried to put it in a Grid.

[2021-12-10 20:59] edgiardina commented on #12563
renders the 'more' menu unusable and restricts you to five tabbar options. A vote here to resolve this, please.

[2021-12-11 03:00] knocte opened #14977 "[Bug] (Android) Picker doesn't resize to accommodate for larger text (while in iOS it does)"
### Description

### Steps to Reproduce

1. Create new Blank XamForms app, with this as main page:
[code]
2. Have the picker load with 2 elements, the 1st one being shorter than the 2nd:
[code]
3. Run it.
4. Change picker to select "CORP" instead of "LTD"

### Expected Behavior (what happens in iOS)

Picker resizes to be big enough to accommodate the word "CORP". See screenshot of iOS:

<img width

[2021-12-11 15:46] dag23 commented on #9123
@jfversluis It was fixed in 5.0.0.2083 but it's a problem again in 5.0.0.2244.

[2021-12-11 21:03] dirivero commented on #14010
Any update on this one? It quite impossible to use the hot reload under Changes Only mode.

Below is the iOS call stack that ends up creating thousands of templates inside any recycling ListView (Android's call stack is exactly the same except for the initial calls).

[code]

[2021-12-11 22:32] #14010 closed

[2021-12-12 18:16] dgerding commented on #13969
Getting the (same) error now with latest nugets, using 5.0.0.2244 Xamarin.Forms.

Xamarin.Android.X nuget  Mono.Linker.MarkException: Error processing method: 'System.Void AndroidX.Activity.ComponentActivity::.ctor(System.IntPtr,Android.Runtime.JniHandleOwnership)' in assembly: 'Xamarin.AndroidX.Activity.dll' ---> Mono.Cecil.ResolutionException: Failed to resolve AndroidX.Core.View.IMenuHost    at

[2021-12-13 01:38] DoubleDBE commented on #9126
@Tommigun1980 Did you ever found a workaround?

[2021-12-13 08:54] jsuarezruiz commented on #14973
@jfversluis Do you have installed VS 2019 16.11.7?. Tried to reproduce with emulators and devices using VS for macOS 2019 and 2022 and VS 2022 on Windows but without success.

[2021-12-13 11:57] rheesbeen commented on #6547
Also having this issue. It's so clear that Xamarin Forms is a dead horse. And MAUI will probably go down the same route pretty fast, why would that be any different...

[2021-12-13 12:52] m-kok commented on #14973
I tried to use VS2022, and another Iphone but both don't fix the issue.
Are you able to reproduce the bug using my example?

[2021-12-13 14:38] jsuarezruiz commented on #14952
Could you attach a small sample where reproduce the issue?. Thanks in advance.

[2021-12-13 14:40] jsuarezruiz commented on #14976
Could you share the line where is crashing?.

[2021-12-13 14:42] jsuarezruiz commented on #14965
Could you attach a small sample where reproduce the issue?. Thanks in advance.

[2021-12-13 14:46] jsuarezruiz commented on #14947
Could you try with the latest version again?. This should be fixed by https://github.com/xamarin/Xamarin.Forms/pull/14649

[2021-12-13 14:52] jsuarezruiz commented on #14848
Could you attach a small sample where reproduce the issue?. Thanks in advance.

[2021-12-13 14:53] jsuarezruiz commented on #14833
Could you attach a sample where reproduce the issue?. Want to check the code and data bindings.

[2021-12-13 15:09] jfversluis commented on #14976
Does it give you any logs or exception information? A stack trace maybe?

[2021-12-13 15:54] EmilAlipiev commented on #13895
was this solved in 5.0.0 Service Release 8 from 4 days ago? There is now all spaghetti with XF and AndroidX dependencies

[2021-12-13 15:55] juanmalm commented on #5284
The issue still happening. Very annoying.

[2021-12-13 15:57] Saquibadil commented on #14976
@jsuarezruiz
It breaks on this line
AppCenter.Start("android={android key};" +
"ios={iOS key}",
typeof(Analytics), typeof(Crashes));

Note: This is the only line I added after creating a fresh xamarin.forms project. Besides of course installing AppCenter nuget packages.

@jfversluis
I wrapped it in a try catch block but the exception is coming as null.
![image](https://user-images.githubuserconten

[2021-12-13 16:14] somoreingold commented on #13683
@hartez @jfversluis Will this or any of the other [related issues](https://github.com/xamarin/Xamarin.Forms/issues/14205#issuecomment-938733876) be part of SR8, or is this shifting again?

Thank you

[2021-12-14 08:50] maexsp commented on #9651
@jsuarezruiz @samhouts This is still not working.
Tested also on a physcial Android Samsung Tablet Tab Active 3, Android 11 -> not working.
MainActivity derives from FormsAppCompatActivity and ConfigurationChanges = ConfigChanges.Orientation is also set.

[2021-12-14 10:10] muhamadsalibi commented on #14975
This seems like an issue with Shell. I have this issue without using a custom renderer. I can even reproduce with the default template @jsuarezruiz

iOS - Dark Mode
![Simulator Screen Shot - iPhone 11 Pro Max - 2021-12-14 at 10 53 38](https://user-images.githubusercontent.com/20516755/145977398-df57587e-9454-43ea-908f-a8efdab6d220.png)

iOS - Light Mode
![Simulator Screen Shot - iPhone 11 Pro Max

[2021-12-14 10:22] muhamadsalibi commented on #14975
Updating Xamarin Forms to 5.0.0.2244 Solves the problem for me.

[2021-12-14 11:40] h4hitesh commented on #10610
is there any update on this as I am not getting stylesheet and images in Xamarin forms 5

[2021-12-14 14:08] bares43 commented on #14154
Any update on this?

[2021-12-14 14:27] #14945 closed

[2021-12-14 14:30] TheWoakus commented on #14945
It is not clear to us what fixed this for us, but it most likely happened due to some package misalignments/missing support packages.

[2021-12-14 15:01] MAVREE commented on #14171
I just encountered this same bug, I get ArgumentOutOfRangeExceptions out of simple .Clear() operations, XF 5.0.0.2291

[2021-12-14 17:37] Sebastian1989101 commented on #11344
@jfversluis so as we now know, this was not part of 5.0.0 SR8 even tho it was flagged for it. Same as #14069 and #14069. Is there any new targets for this? Because most of my app crash reports are just from ListView issues caused by Xamarin.Forms.

[2021-12-14 18:13] PugetSoundGridSoftware commented on #14965
Here's the sample project. Thank you,
[CollectionViewHeaderBug.zip](https://github.com/xamarin/Xamarin.Forms/files/7713835/CollectionViewHeaderBug.zip)

[2021-12-14 19:42] assanesuzy commented on #9659
I am having a problem with this as well in a CarouselView on iOS. we have a picker that get's the SelectedItem cleared when scrolling from the last fragment, the third fragment, to the first, and then back again. The Selected Item is bound to a property using TwoWay binding. Can this be re-opened?

[2021-12-14 20:41] danielftz commented on #11341
I have tried this, however it does not work, as the background color stays default. I have tried both directly assigning the style property:

or with binding. Do you have an example of this working? Thank you.

[2021-12-15 00:07] greatoceansoftware commented on #2193
LINQ sorting, filtering and grouping on the underlying model collection is definitely not the answer. CollectionViewSource allows you to have multiple views of the same underlying collection, all sorted, grouped and filtered in different ways. And each can be bound to a WPF view, and the view responds to all changes to the underlying collection OR the grouping, sorting, filtering changes on the to

[2021-12-15 06:42] SSpormann opened #14983 "[Bug]"
### Description

If you use a Slider in Forms with the DragCompleted  event, the slider starts jumping.

### Steps to Reproduce

1.  Place a slider on a view
2.  Register the DragCompleted callback
3. Slide the slider arround and release the Thumb while in drag motion
4. observe the thumb jump back to the starting postion and back to the release position.
5. remove the DragCompleted callback
6. ob

[2021-12-15 09:05] jfversluis commented on #14905
Seems like a problem that is not related directly to Xamarin.Forms then. Please follow the linked support ticket, thanks :)

[2021-12-15 09:05] #14905 closed

[2021-12-15 09:09] jfversluis commented on #14934
As the linked support ticket (https://developercommunity.visualstudio.com/t/iphone-ios-151-physical-debug/1572333) points out it seems to be something in VS or another underlaying framework and not so much Xamarin.Forms. Please follow up in the linked ticket. Thanks!

[2021-12-15 09:09] #14934 closed

[2021-12-15 09:09] jfversluis commented on #14955
Seems like this is another ticket: https://developercommunity.visualstudio.com/t/iphone-ios-151-physical-debug/1572333 which points out it seems to be something in VS or another underlaying framework and not so much Xamarin.Forms. Please follow up in the linked ticket. Thanks!

[2021-12-15 09:09] #14955 closed

[2021-12-15 09:10] vg12345 commented on #14905
Seems like nobody in Xamarin team wants even try to debug the attached application to ensure that the problem is not really in Xamarin.iOS platform.

[2021-12-15 09:10] jfversluis commented on #14973
Looks the same as #14934 and #14905 and #14955. Seems to be nothing that is caused from Xamarin.Forms directly. Please follow up on the ticket that is linked in the other issues. Thanks!

[2021-12-15 09:10] #14973 closed

[2021-12-15 09:12] jfversluis commented on #14905
There are a couple of responses that point out we did, not sure what you're trying to achieve here?

[2021-12-15 09:16] jfversluis commented on #14976
Strange, I'm wondering if this has something to do with #14905, #14955 and the likes

[2021-12-15 09:25] jfversluis commented on #11344
Hello @Sebastian1989101! I am sorry if the messaging around how we use our projects today wasn't clear to you. I can totally see why that is from just the title. That's why I put this in the description:

I am using the current projects as a rolling-forward todo list, if you will. While we do our very best to tackle all the issues, we can only do so much at a time and to not also have all the over

[2021-12-15 09:26] vg12345 commented on #14905
iOS applications crash if using embedded resources.
The crash happens in Xamarin Forms code.
Is it possible that recent IDE changes just showed some unknown bug in Xamarin?
The problem exists about a month. Did somebody investigate this on Xamarin side?

[2021-12-15 09:48] jfversluis commented on #14905
You say you are using Visual Studio 17.0.1 and are deploying to an iPhone. That means you are using what is called [Hot Restart](https://docs.microsoft.com/xamarin/xamarin-forms/deploy-test/hot-restart). The way Hot Restart works is that there is a prebuilt iOS app, that will dynamically load all of the Xamarin.Forms content, both from us on the SDK side as well as the code you write, inside of it

[2021-12-15 10:12] vg12345 commented on #14905
The last version without the problem are:
16.11.6 (VS 2019)
17.0.0 (VS 2022)

All later version contain the problem.
Unfortunately, there is no any option to return to one of these "normal" versions for community edition.
The installations of older versions exist for professional and enterprise only

[2021-12-15 11:43] saiganesh-sakthivel commented on #12789
Hi team,

we have facing the same kind of issue, in the OnMeasure Method

Java.Lang.NullPointerException: 'Attempt to invoke virtual method 'boolean android.view.View.isLayoutDirectionInherited()' on a null object reference'

call stack
Unhandled exception - Java.Lang.NullPointerException: Attempt to read from field 'int android.view.View.mViewFlags' on a null object reference

--- End of managed

[2021-12-15 12:12] leonardbarbu commented on #6908
This bug should have a higher priority because it's happening on something really used: displaying collections.

[2021-12-15 12:19] AlleSchonWeg commented on #6919
Hi @jfversluis and @jsuarezruiz
i made tests with ios and android. The events are called very different:

-----------------------

i would say iOS looks ok. But android is really confusing.

[2021-12-15 12:52] MaxFelinger opened #14984 "[Bug] Shell: passing a DateTimeOffset as navigation parameter results in wrong formatted string"
### Description
Passing a navigation parameter leads to Url.Decode before receiving the parameter on the target page.

### Steps to Reproduce

1. Pass a DateTimeOffset as a string while navigating. For example "2021-12-08T09:29:29+01:00"
2. Receive the value as QueryProperty. This will set the value of a property.

### Expected Behavior
"2021-12-08T09:29:29+01:00"

### Actual Behavior
"2021-12-08T

[2021-12-15 13:08] jfversluis commented on #14905
Unfortunately I can't use VS2019 with iOS 15 it seems. Trying to see if I can somehow get my hands on Vs 17.0.0 to try.

But if this indeed has something to do with NSData.FromStream then this is still not on us. Again; not to say: not our problem, just so I know where to route this to so this can be resolved.

@dalexsoto does any of this mean something to you?

[2021-12-15 13:20] Domik234 commented on #14911
Hello,

I have same problem here, but mine works until 5.0.0.2012 (broken only on Android, iOS works).

I am using:
`MainPage = new NavigationPage(new CustomTabbedPage()) `

and then calling on CustomTabbedPage:
`Navigation.PushAsync(new <name>Page())`

Here in some cases (meant like different pages) doesn't work
`Navigation.PopAsync()` => Blank Page/Not rendered UI

but using back button works as

[2021-12-15 13:27] vg12345 commented on #14905
Of cause, I have no idea which team is responsible for some specified part of code.
But. If there is very serios problem that prevents from people to develop on iOS with your platform, you can at least ensure that the problem is definitely in **Foundation.NSData:FromStream** (or maybe something else) and involve the relevant team inside Microsoft.
Did your team investigate this?
Can you approve th

[2021-12-15 13:31] jfversluis commented on #14905
I'm not sure what you want from me here? That is exactly what I am trying to do right now? But my willingness to help is kind of draining if I keep getting negative comments like this to be honest. We're trying to achieve the same here.

[2021-12-15 13:46] vg12345 commented on #14905
I'm not trying to offend you and my notes are not pointed personally to you, So, please, don't take it personally.
This is the issue about serious problem related to Xamarin development and it is reported to Xamarin development team.
I really appreciate your willingness to help but I think that fixing this problem is also the interest of Xamarin team and not just gesture of goodwill to some develo

[2021-12-15 15:13] TylerTKiMobility commented on #13928
Absolutely not a duplicate. (Not a great solution but it does work) Utilize an ObservableCollection for binding the itemSource property and just do a .Clear() and .Add() to the binded property instead of setting it to a new List/ObservableCollection.

[2021-12-15 15:18] jfversluis commented on #13895
Using this repo and just running it I have no issue whatsoever if I follow the instructions.

With this repro I see an exception at first, but when I update all the packages to the latest version (AndroidX.Fragment 1.3.6.3 and Forms Service Release 8) it seems to work fine again.

@EmilAlipiev

You tell me! :) I've been trying to go through reproductions here and seems fine for me... Love to hear

[2021-12-15 15:28] VitalyKnyazev commented on #13895
Hi @jfversluis,

Can you please take another look? I have attached screenshots for reference.

![image](https://user-images.githubusercontent.com/12721191/146214977-68ee3244-c54f-4720-8c12-ba95fccefc78.png)

[2021-12-15 15:42] #14119 closed

[2021-12-15 15:49] jfversluis commented on #13895
@jpobst do you have any thoughts on this one maybe? Seems like something broke here between AndroidX.Fragments 1.2.5.5 and the next version

[2021-12-15 18:29] MosCD3 commented on #6908
Its frustrating while we are launching our app to customers

[2021-12-15 19:39] xamiell commented on #6766
Hi @davidortinau,  any plan to merge that fix in this year?

[2021-12-15 19:51] jfversluis commented on #6908
Hey everyone, I have read through everything here and trying to reproduce myself but I seem unable to. Does anyone have a reproduction that is not the sample app that is linked above? And it seems it is very specific to certain iOS versions? Would someone be able to confirm this is still present in the latest Xamarin.Forms version that was released yesterday?

That will very much help with trackin

[2021-12-15 19:55] znelson32 commented on #6908
I don’t have a sandbox that recreates the issue because it’s been so long
and I worked past it somehow.  But I can tell you it’s very intermittent
when launching a screen and happens maybe 5-10% of the time. No rhyme or
reason but I suspect there’s some kind of timing issue with the drawing /
measurement of a parent container height.

On Wed, Dec 15, 2021 at 2:52 PM Gerald Versluis ***@***.***>
wr

[2021-12-15 20:03] nick5454 commented on #14838
@jfversluis I don't understand why that code runs on a device that is 12.4. Do I need to override the entire event then?

[2021-12-15 20:09] SophisticatedConsulting commented on #6908
I can consistently reproduce this on iOS 15.1, iPhone 12 Pro (physical device) and build from VS 2022 (Windows but deployed through XCode) - everything current.
It is a huge problem and our apps do need to switch orientation.
I simply start the apps or switch to a new page and if the phone is horizontal or near horizontal only half the screen is filled. If the phone is vertical the page fills corr

[2021-12-15 20:14] jfversluis commented on #6908
I appreciate the input, but that is what I have seen described here many times and I don't see it. If you would be able to create a sample project with which you also see this behavior consistently that would already very much help. Because it is `CollectionView` _and_ `ListView` I suspect there might be something else at play because both don't share a lot of code, if any at all. So I need to rea

[2021-12-15 20:23] znelson32 commented on #6908
I’ve never seen it on Simulator only physical devices.

On Wed, Dec 15, 2021 at 3:15 PM Gerald Versluis ***@***.***>
wrote:

[2021-12-15 20:27] SophisticatedConsulting commented on #6908
Not just with CollectionView but also with TableView and other wrappers, e.g. the xct SideMenuView

[2021-12-15 20:32] SophisticatedConsulting commented on #6908
It does not happen on simulator but that maybe because you cannot place a simulator flat (or at least I have not tried).
Physical device that is in portrait mode and flat (e.g. lying on a desk) when the page loads.
The pages with table views are very simple and should be easily reproducible.
if you cannot reproduce it yourself I will have a go at creating a test project tomorrow morning (it is nig

[2021-12-15 21:02] tlhintoq commented on #7629
So... This was fixed in 2019
Rolled back in 2020
Added to the 5.0.0 milestone later in 2020
mentioned as still a problem in 2020
No new checkins mentioned in this thread after that
And 5.0 is the current version of XamarinForms.
So... Was this ever fixed in a current stable release?

[2021-12-15 21:55] robertgoodwin00 commented on #14505
I have this issue with my navbar on ios 15.0 too, and changing the version of Forms (currently 5.0.0.1931) is not a good option for me because upgrading Forms breaks workarounds I have for *other* ios-related problems. Don't know what to do.  Just tell people not to use ios 15.0?

[2021-12-15 22:05] lassana commented on #14829
We, as Xamarin.Forms developers, depend not only on X.F but on other projects as well, e.g. Mvvmcross, Telerik, Syncfusion, Acr.Userdialogs, etc. Lots of them. Some projects have already started their way to .NET 6 / MAUI, but migration for some others will need to be done by us. Migration is not just replacing `Xamarin.Forms.*` namespaces with `Microsoft.Maui.*`. Even migration from X.F 4.8 to 5.

[2021-12-15 23:15] billvenhaus commented on #4676
I completed implementations for this in both Xamarin Forms & .NET MAUI.

Here's the spec & pull request I submitted for .NET MAUI:
https://github.com/dotnet/maui/issues/3767
https://github.com/dotnet/maui/pull/3768

@jfversluis  would you be at all interested in having me submit this into the Xamarin Forms repo as well? Perhaps a new branch that way you have it just in case? I've got it ready to g

[2021-12-16 06:27] thomasgalliker commented on #8272
Confirming that the problem still exists in Xamarin.Forms 5.0.0.2244. As a workaround (which doesn't work in all scenarios, of course):

**Old code (which causes the problem):**
-                        <Label.FormattedText>
-                            <FormattedString>
-                                <Span Text="{language:Translate Reminders_NextNotificationDate}" />
-

[2021-12-16 08:48] SophisticatedConsulting commented on #6908
OK...
I can easily reproduce this with a page hosting a TableView. As discussed earlier I also have this with CollectionViews and xct:SideMenuView. It is consistent with the same page but not with every instance of CollectionView - some pages with CollectionViews are OK.  (I am not sure what makes the difference).

## Actions to reproduce:
1. Create a new shell Xamarin project called DemoFlatPhone

[2021-12-16 08:51] SophisticatedConsulting commented on #6908
Appearance when the page is opened and the phone is flat.
![file](https://user-images.githubusercontent.com/56303860/146338784-512768d6-c496-42ba-a699-abea041cc82c.jpeg)

Appearance after scrolling
![file](https://user-images.githubusercontent.com/56303860/146338812-75de689c-7f36-46ca-acee-756160565622.jpeg)

[2021-12-16 09:25] jfversluis commented on #4676
@billvenhaus you're the GOAT! This stuff is amazing, thank you for pouring this into specs and even code.

Like stated: I would love to have this in Forms, but at this time we can't add anything new because that will only add to the load of maintaining this while that is something that we want to phase out. I think this will be a great addition to .NET MAUI though, so let's see how it goes there :

[2021-12-16 10:27] SophisticatedConsulting commented on #6908
For this demo, if you change the VerticalOptions on the TableView (as suggested by @suppenburger) the page is laid out correctly.
I also observed the same issue with StackLayout and Grid... so I suppose the problem lies with implementation of **View.VerticalOptions** for this scenario - an iOS device that is laid flat when the page is rendered.

`
VerticalOptions="FillAndExpand"
`
resolves the iss

[2021-12-16 13:01] rsbepvb commented on #14505
I did this in my ios AppDelegate FinishedLaunching call and it fixed it prior to the Forms update:

////WORKAROUND FOR iOS 15 bug
            //A bug with iOS 15 results in the background color not being set on the main appshell nav and tabbar so we need to force it here

            if (UIDevice.CurrentDevice.CheckSystemVersion(15, 0))
            {
                var appearance = new UINavigati

[2021-12-16 14:52] Tommigun1980 commented on #9126
Iirc I rewrote the UI. Not optimal but at least it works.

[2021-12-16 15:08] Tommigun1980 commented on #11720
Hi @jfversluis! Yeah it happens while debugging, but it triggers on exception breakpoint, making it hard to debug an application.
Imho any such exception should be caught internally and not propagate to client code?

[2021-12-16 15:10] GalaxiaGuy opened #14985 "[Bug] [iOS] Setting CollectionView.ItemsSource to null after selecting an item crashes"
### Description

Setting the `ItemsSource` property of a `CollectionView` to null while there is a selected item causes an exception to be thrown. This also happens if `ItemsSource` is set to null indirectly, in my case I found out while trying to set the `Page.BindingContext` to null.

### Steps to Reproduce

1. Have a collection view.
2. Select an item.
3. Set ItemsSource to null.

### Expected

[2021-12-16 15:46] Tommigun1980 commented on #14429
Hi @jsuarezruiz. I tested with the latest version and scroll is still broken. I have put my app on hold until this is fixed.

[2021-12-16 16:20] MariovanZeist commented on #11341
@danielftz
It has been a while since I did some Xamarin work,
but this is what I created. (this is code from 1 1/2 years ago, so no guarantees)

I add colors in the ``SetColorResources`` function, and use the ``SetColor`` and ``SetBackgroundColor``
functions to Set the Themebinding.

Hope this helps

[code]

[2021-12-16 19:15] ivmazurenko commented on #14424
Linker issue

[2021-12-16 20:38] robertgoodwin00 commented on #14505
Excellent! This lets me set tabbar and navigationbar to the desired background color.

Unfortunately, nothing I try seems to have any effect on text/tint colors. Those last 4 lines of the workaround that set text/tint colors to white are being ignored in favor of a grey color in the case of UITabBar tint colors and a black color in the case of UINavigationBar text color. Oh well, it's an improveme

[2021-12-16 23:32] KMWenyon commented on #5455
Any updates on this?

[2021-12-16 23:40] KMWenyon commented on #11011
Still not fixed in 5.0.0.2299...

[2021-12-17 00:08] activa opened #14986 "[Bug] [iOS] Rendering Line shape crashes the app when building using iOS SDK 15.2"
### Description

When using iOS SDK 15.2 (with Xcode 13.2), any Xamarin Forms app that uses Line shapes crashes immediately when the line is rendered.

### Steps to Reproduce

1. Add a Line shape in XAML (or in code)
2. Compile using iOS SDK 15.2
3. Run app

For example, this page will crash the app:
[code]

Exception thrown: `Could not initialize an instance of the type 'CoreGraphics.CGPath': han

[2021-12-17 06:55] npostma commented on #14952
I will extract the the code to an empty project and see if i can recreate this issue this week. tbc.

[2021-12-17 07:19] shubhamrautgs commented on #13786
Any Solution found?

[2021-12-17 08:03] DoubleDBE commented on #14986
Can confirm, having the same issue. Same environment as OP.

[2021-12-17 08:53] GalaxiaGuy commented on #14985
The crash ultimate happens when the `UICollectionViewController` calls `GetIndexForItem` on the `IItemsViewSource`.

`ListSource`, for example searches for the item and returns `NSIndexPath.Create(-1, -1)` if it is not found (which is what happens when you change the `ItemsSource` to something not null).

`EmptySource` however throws `IndexOutOfRangeException` in this situation (actually, it throw

[2021-12-17 10:34] ems107 opened #14987 "[Bug] System.InvalidCastException: Specified cast is not valid. at Xamarin.Forms.View.get_Margin () [0x00000] in D:\a\1\s\Xamarin.Forms.Core\View.cs:145"
### Description
I have view with huge xaml, there, I have a collectionview  , if I enter to that view and I mess around some time with the scroll, then go back and go forward some times (some times not, is a bit random but it happens)  I get this exception on Page.OnSizeAllocated

this is the full exception
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Inf

[2021-12-17 13:07] xleon commented on #13956
In my case this crash happens when:
1. An entry is focused
2. A native Android Activity appears on top of the XF activity
3. That native activity gets closed and we are back into the XF activity which has the focused Entry

[2021-12-17 13:58] gianisimone commented on #13969
I am getting this error too, event downgrading Xamarin.Forms to **5.0.0.2196**.

Th error disappears if I set Linker Behaviour to **Don't Link**

Anyone else is experiencing this? I am not able to prepare build for the store submissions :(

[2021-12-17 14:18] NiknakSi commented on #14986
Seeing this issue as well using Visual Studio for Mac on macOS. VS 8.10.16 (build 2), Xamarin.iOS 15.4.0.0, Xcode 13.2 (13C90), XF 5.0.0.2125 or 5.0.0.2291.

[2021-12-17 14:26] Sasikumar3595 opened #14988 "[Bug] Touch does not pass to parent when it child is scroll view"
### Description

I have created a custom layout that has pan gestures and I added the scroll view as its child. Touch was not passed to custom layout when scroll view reaches its end position.

Note: The issue replicated on all the platforms (Android, iOS, Windows touch)

### Steps to Reproduce

1. Run the sample
2. How to pass the touch to parent pan gesture when the vertical scroll view reaches

[2021-12-17 15:35] adamzucchi commented on #14986
Can also confirm.

[2021-12-17 15:36] elsayedForAlmentor469 commented on #8432
1. > `_kkkkkkkk**kkkkkkkkuh**_`

[2021-12-17 15:48] gianisimone opened #14989 "[Bug] Error processing method: 'System.Void AndroidX.Activity.ComponentActivity::.ctor"
### Description
When I try to run my Xamarin Forms application in Release Mode for Android (Linker Behaviour: **Link SDK Assemblies only**), I get the following linker error:

[code]

### Expected Behavior
App runs properly

### Actual Behavior
I got the error mentioned above

### Basic Information

- Platform Target Frameworks:
  - Android: Android 11.0 (API level 30)
- NuGet Packages:
**Portable

[2021-12-17 16:24] xamiell commented on #7782
@dannythomas13  that will be very nice for Cross consistency too

[2021-12-17 17:07] robintschroeder commented on #14986
Confirmed. Please fix!

[2021-12-17 18:52] activa commented on #14986
@jsuarezruiz Can this be looked into ASAP? It's a crippling bug that needs to be addressed immediately. Anyone using Line shapes in an iOS app is no longer able to build and run the app - at all!
There's no workaround other than going back to Xcode 13.1 or earlier (if that's even possible)

[2021-12-17 19:11] activa commented on #14986
Stack trace:
[code]

[2021-12-17 22:55] dgerding commented on #14885
I had the same problem and going back to 2.31 worked. Thanks @RichardVogelij !!

[2021-12-18 00:30] lukies97 commented on #13759
Is this the same error I reported to VS 2022?  I'm now getting this error no matter what version I use.  VS 2019 newest version, 2022 release version or even the preview. Hot Restart is completely dead for me and has been VS2022 has been released.

[2021-12-18 01:19] mike-01 opened #14990 "[Bug] EmbeddedResource Images not showing/TapGestures Not Recognized"
### Description
Images not displaying and tap gesture not triggering on actual iPhone. The images do display and triggers do fire in the simulator. Same code as in article found at [https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/images?tabs=windows](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/images?tabs=windows), the "Embedded images" section.

Thi

[2021-12-18 09:12] dimonovdd commented on #8718
@brminnick Hi. Could it create serious problems or memory leak?

[2021-12-19 03:47] faridseifi commented on #12627
After lots of try and error I found the following article which uses PanGestureRecognizer and TranslateTo to implement a short press drag and drop. It works perfect in Android and iOS.

https://blog.francois.raminosona.com/drag-and-drop-in-xamarin-forms/

[2021-12-19 11:27] scicom02 commented on #14987
I can verify that this happens on my project as well with the collection view but randomly and very rare i would say,
it happens when the collection view is loading items asynchronously and the scroll is updated too fast i solved it by slowing it down.
Below is a screenshot of the exception taken from firebase crashlytics dashboard
![Screenshot_2021-12-19 DirectSougFBS – D a 1 s Xamarin Forms Core

[2021-12-19 16:32] nagyist commented on #2049
try the following workaround:
in your App.xaml.cs:
protected override async void OnInitialized()
{
           // this solved the issue for me, at least for datetime format strings:
           // get system culture for the app:
            CultureInfo.DefaultThreadCurrentCulture = Thread.CurrentThread.CurrentCulture;
...
            InitializeComponent();
...
}

HTH

[2021-12-20 10:33] jfversluis commented on #14987
Hey there, thanks for the report! Do you have any idea if this happens on all platforms or just on one? @scicom02 I see in your screenshot that Android is mentioned. Do you also see reports for iOS?

[2021-12-20 10:38] jfversluis commented on #14988
Not entirely sure what you are trying to do here... Did you see the `InputTransparent` and `CascadeInputTransparent` properties? Do that help for your scenario at all?

[2021-12-20 10:41] jfversluis commented on #14989
Looks like it's linked to #13969 there is a workaround in there, hopefully that works for you while we look at things :)

[2021-12-20 10:43] jfversluis commented on #14990
Looks the same as #14934 and #14905 and #14955 and some others :) please follow up in this support ticket here: https://developercommunity.visualstudio.com/t/iphone-ios-151-physical-debug/1572333

[2021-12-20 10:43] #14990 closed

[2021-12-20 10:46] cfzdevelop commented on #14986
Having similar error. I have a LaunchStoryboard as splash screen. The splash screen will be shown. But the app doesn‘t change to main window. This is happening since update to latest XF (*.2291) and XCode 15.2.

[2021-12-20 10:48] gianisimone commented on #14989
@jfversluis thank you. At the moment I solved building the app with Linker Behaviour set to **Don't Link**. Should I downgrade the AndroidX.Core to 1.3.2.1?

[2021-12-20 11:05] matt-uib commented on #14986
We see the same error here since we updated to Xcode 13.2 and Visual Studio for Mac 8.10.

[2021-12-20 11:08] Sasikumar3595 commented on #14988
@jfversluis ,

We have a custom layout with pan gesture, and it has vertical scrollview as a child. The custom layout does not get pan gesture touch when scrollview horizontal swipe/scroll and after the end scroll of scrollview.

[2021-12-20 11:57] ShariatPanah opened #14991 "[Bug] CollectionView GridItemsLayout HorizontalItemSpacing not applied on StaggeredGridLayoutManager in Android"
### Description
I'm trying to implement a StaggeredLayout using a CollectionView, so i use the collectionview with ItemsLayout set to GridItemsLayout  with Orientation = Vertical and Span = 2, the vertical and horizontal item spacing work just fine as shown below:
![image](https://user-images.githubusercontent.com/32509267/146753574-cba3d557-e1c7-4ae3-bcc7-ef2986b95bb0.png)

but when i create a cu

[2021-12-20 12:18] banditoth opened #14992 "[Bug][UWP] GestureRecognizers does not follow the scroll position"
### Description

If you use a RefreshView with a ScrollView inside it, in that case the UI will react to scrolling after the first appearing, but after scrolling the hotspots will stay where they first appeared for GestureRecognizers

![IMG](https://raw.githubusercontent.com/banditoth/xamarin_uwp_scrollview_bug_example/main/uwp_scrollview_bug.gif)

### Steps to Reproduce

1. Download sample, and s

[2021-12-20 12:37] jfversluis commented on #14986
Hey all, a PR for this is open now, would you be able to grab the NuGet [as described here](https://github.com/xamarin/Xamarin.Forms/wiki/Preview-Packages) and let us know if this fixes this issue? That will greatly speed up the review process. I'm not sure this is the right or final fix, but this might you get unblocked for the time being while we get past the holidays and New Years as nothing ma

[2021-12-20 12:49] jfversluis commented on #14991
Hey @ShariatPanah thanks for your issue! This has been requested earlier, but we didn't get to it yet and by now it will not happen anymore for Xamarin.Forms. Check out this issue for a custom renderer or other components that you could use: #7046

If you're still interested in this for .NET MAUI, make sure there is an issue on the repository there. Hope you can figure it out!

[2021-12-20 12:49] #14991 closed

[2021-12-20 12:52] jfversluis commented on #7046
Hey everyone! Thanks for the input here. As you might've already guessed this is not going to happen for Xamarin.Forms anymore. If you're still interested in this, make sure there is a feature request for this on the .NET MAUI repository. If there already is, make sure to upvote!

Thanks!

[2021-12-20 12:52] #7046 closed

[2021-12-20 14:40] NiknakSi commented on #14986
Thanks @jfversluis - updated XF to 5.0.0.7924 and the crash with Line has been resolved and the Lines render as they did before. A very limited test but looks promising. Thanks for taking a look for us.

[2021-12-20 14:54] ShariatPanah commented on #14991
hey man, thanks for your response, but its not fair, at least get xamarin.forms to a stable version then shut it down, its a mess right now. I need to implement this layout but you simply are saying you dont care about that.

at least please tell me what should i do? what class or method should i override to get the horizontal spacing?

[2021-12-20 15:05] jfversluis commented on #14991
I'm sorry it comes across that way, that is definitely not the case. I was simply saying that in the linked issue there are implementations that are working with Xamarin.Forms. Hence, it is possible or at least that should have the answer to your question.

What you are trying to do is only possible through a custom renderer right now, therefore this is more a question than a bug in Xamarin.Forms.

[2021-12-20 15:28] francescoformenti commented on #7996
I found a quite simple workaround using a value converter in the binding:
[code]

[2021-12-20 16:32] mayank2961992 commented on #12180
CollectionView scroll jump to up every ItemsSource update only for Android, Working fine for iOS

[2021-12-20 16:57] adamzucchi commented on #14986
I also tested the 5.0.0.7924 preview for the fix above and am no longer seeing the crash, thanks!

[2021-12-20 18:54] cfzdevelop commented on #14986
How did you retrieve this nuget version? Pre-release channel doesn‘t list it. I‘ve tried setting version in csproj manually and then restoring. But without success. Output telling me the version 5.0.0.7924 not found.

[2021-12-20 19:00] adamzucchi commented on #14986
In the message from @jfversluis a link was included which references the following Nuget Feed URL:
https://aka.ms/forms-prs/index.json

In Visual Studio you will want to setup a new Nuget Feed and then in your solution update the Xamarin.Forms Nuget to 5.0.0.7924 when the new Nuget Feed you just setup is chosen as the source feed. Good luck!

[2021-12-20 19:13] cfzdevelop commented on #14986
Thank you for the instructions. Downloaded 5.0.0.7924 and my app is working again. Hope that there is no side effect.

[2021-12-20 22:54] snakebytetech commented on #9123
This is still a problem for me as well as other layout issues when I upgraded Xamarin.Forms from 5.0.0.2012 to 5.0.0.2291. I'm targeting UWP for now, Minimum version = 17763 and target = 18362. I also updated a handful of other Nugets.

This latest update messed up the layout for multiple objects.

- Switches (hover them and they disappear because of white-on-white and there's a huge gap between t

[2021-12-21 09:33] npostma commented on #14952
@jsuarezruiz I've created a working 'crash' demo.

https://github.com/npostma/bug_reports-CarouselViewAndroidCrash

[2021-12-21 09:55] scicom02 commented on #14987
Hello am sorry for replying so late, we don't have an iOS report yet only android 11 (Samsung A22)

[2021-12-21 11:19] schacherlj opened #14994 "[Bug] Navigation.PushAsync with animation followed by PopAsync without animation leads to empty screen"
### Description
Navigation.PushAsync with animation followed by PopAsync without animation leads to empty screen

### Steps to Reproduce

1. Create new Xamarin.Forms application with blank template
2. Update NuGet packages
3. Add buttons to MainPage.xaml
[code]
4. Add handlers in MainPage.xaml.cs
[code]
5. Change main page creation in App.xaml.cs
[code]
6. Run solution
7. Tap "new page" and "close

[2021-12-21 13:31] snakebytetech commented on #9123
Another update.  It seems the spacing problem was caused by my Switch Renderer is no longer supported. I like the new version better and perhaps it's how I should have originally written it. Hopefully it helps someone else experiencing similar problems.

![image](https://user-images.githubusercontent.com/30606156/146938110-47f130a1-f291-4eaf-8147-86543bc79ef5.png)

![image](https://user-images.git

[2021-12-21 16:41] Miksier commented on #5959
So basically its very easy to fix the symptoms in the XF SC, in measuring we just have to add check for visibility. But it doesnt solve the root cause of the issue. Maybe when I find it I'll create a PR with a fix.

For the  mean time I found a way to hack away this bug.

You create a new class that derives from FlexLayout and add this code:

`private bool _useOvverridenLogic = false;

		protected

[2021-12-21 17:34] vigneshrameshsync opened #14995 "[Bug] Memory get leaks when applying style from Application resources"
### Description

I have created a simple custom control that is inherited from TemplateView, added one label (label1) in its ControlTemplate and Style (LabelStyleExt) property for customizing its Style. Hooked the PropertyChanged for the LabelStyleExt property to handle the dynamic changes.

In the sample level, defined a Style for CustomControl in Application resources, created simple ContentView

[2021-12-22 03:03] confessore commented on #4752
this is still an issue in MAUI preview 11 as well

[2021-12-22 03:08] LeoJHarris commented on #12951
@StephaneDelcroix any update on this for the above comment I provided? Its currently impossibly to use a DynamicResource with AppThemeBinding whether it throws exception or the color doesn't get applied.

[2021-12-22 06:15] saiganesh-sakthivel commented on #12789
any update?

[2021-12-22 10:55] jamsoft commented on #1711
So I've been battling with this for a few days now and failing to get this working on iOS correctly, until now.

The Navigation Delegate is working as expected but the actual rendering of the content was still incorrect.

After having tried a plethora of approaches and fixes it turns out the the real issue with in the HTML being rendered. By adding a meta tag for the viewport, such as:

`<meta nam

[2021-12-22 11:45] NicolaZuc opened #14996 "[Bug] Barcode Scanner triggers carriage return before reading all values"
Hi,
i've discovered a strange behavior when using USB scanners in keyboard emulation mode with carriage returnon UWP.
When i try to scan a value while i have focus on a control with a text input and a "completed" event, the completed event is triggered before that the scanner has read the other values.

To reproduce the problem:
1) put focus on an entry
2) scan a value from usb scanner in keyboard

[2021-12-22 11:53] jfversluis commented on #1711
Thanks for letting us know @jamsoft !

[2021-12-22 13:07] jfversluis commented on #14994
Duplicate of #14911

[2021-12-22 13:07] jfversluis commented on #14911
See linked issue, seems that this is not specific to `TabbedPage`

[2021-12-22 13:18] jfversluis commented on #14996
Hey, thanks for the report! From what you're saying I think you might have a wrong understanding of `ReturnCommandParameter`. This property is something that serves as input. You can specify a value here that can be used inside of the command that you specify with `ReturnCommand`.

You should indeed get the value from the property that you are binding to in your view model. You might be confused w

[2021-12-23 08:45] FrozDark opened #14998 "[Bug] [Shell] [UWP] ToolbarItem secondary order is ignored"
### Description
If set a toolbaritem's order to secondary in app with shell it's not working at all and is placed on main order

### Steps to Reproduce

1. Create Shell app
2. Place toolbaritem with order=secondary

### Expected Behavior
ToolbarItem gets hidden under three dots as in NavigationPage

### Actual Behavior
ToolbarItem is placed on main order

### Basic Information

- Version with issu

[2021-12-23 08:56] NicolaZuc commented on #14996
You didn't understand my report. I know that returncommandparameter is used as an input, what i'm saying is that it is empty when i use it with a scanner!
ReturnCommandParameter={Binding Source={x:Reference Entry}, Path=Text}
If i write in my entry writing the text then the returncommandparameter has the correct value, else it is empty.

[2021-12-23 09:01] jfversluis commented on #14996
But still, how do you expect this to work? The text of that entry only gets filled when the return command is fired, so how is it supposed to act as an input at the same time? I'm probably not understanding what you are trying to do indeed, but to be honest it seems like me that you would want to solve this another way and this is not really a bug in our codebase.

[2021-12-23 09:15] NicolaZuc commented on #14996
if i write:
"hello world"
in my entry and then press enter, my returncommandparameter contains hello world.
If i scan "hello world" with my scanner without carriage return then the entry contains hello world and then i press manually enter, my returncommandparameter contains hello world.
If i scan "hello world" with my scanner with carriage return then the entry contains hello world and automatica

[2021-12-23 09:50] chaoyebugao commented on #14986
TMD...

[2021-12-23 10:03] sbs-surendhar-kabilan opened #14999 "[Bug] iOS- Xamarin forms Label LineBreakMode to WordWrap was not working during runtime."
### Description

This issue occurs only on the iOS platform and it was working fine on the Android platform.

We made some operations while tapping the ReadMore label, We are changing the line break mode as word-wrap to display all texts added in the Label. And if we tapped hide the label, we are changing Label line break mode to Tailtrunction.

In iOS, While changing Linebreakmode Tailtruncation

[2021-12-23 10:23] KazysNoobiys opened #15000 "[Bug][Android]Span Label with max lines and BreakMode breaks on large text with paragraph on Android."
### Description

Perhaps this is a regression. Since a similar bug has already been.
https://github.com/xamarin/Xamarin.Forms/issues/7534
In my case, it's exactly the same. Label with LineBreakMode="TailTruncation" and MaxLines="2" as well as using FormattedText, if the text is large and/or has many line break characters then the application crashes with an error
Java.Lang.IndexOutOfBoundsExceptio

[2021-12-23 12:19] jfversluis commented on #9788
Thanks for all the concerns in here and your patience with this! I won't start a whole new discussion here, but please read in this issue for some context: #14205

Right now we're doing everything we can to keep Xamarin.Forms maintained and as part of that I'm trying to go through the older issues/PRs and see what we need to do with that. For this one, I think it describes a big topic that will be

[2021-12-23 12:19] #9788 closed

[2021-12-23 12:29] jfversluis commented on #6438
Hey everyone! Thanks for this suggestion! This will not happen anymore for Xamarin.Forms. If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap or open an issue with a detailed feature request. Thanks!

[2021-12-23 12:29] #6438 closed

[2021-12-23 12:30] jfversluis commented on #14998
Looks related to #11706

[2021-12-23 13:12] #13100 closed

[2021-12-23 13:22] pkvaranasi commented on #14974
We tried to reproduce this issue with a sample application, and unable to reproduce.
Somewhere in the code, we have the below line that is causing the context switch, and letting the keyboard dismiss.
Removing the below line, as we don't see this issue reproducible, and thus closing this bug.

ActivityCompat.RequestPermissions(this, new string[] { Manifest.Permission.ReadPhoneState }, 0);

[2021-12-23 13:22] #14974 closed

[2021-12-23 13:39] jfversluis commented on #1596
Safe to say that we're not going to implement this in Xamarin.Forms anymore. If you're still interested in this please open a feature request on the .NET MAUI repository. Maybe even better; open a discussion first so we can involve different people and opinions on this first.

Thanks!

[2021-12-23 13:39] #1596 closed

[2021-12-23 13:44] jfversluis commented on #1413
Hey there! So sorry this never received a response, that is not really great... It seems that there isn't a lot of traction here and together with the fact that Xamarin.Forms is now in maintenance mode, I will be closing this one. Hope you get a chance to check out .NET MAUI!

[2021-12-23 13:44] #1413 closed

[2021-12-23 13:48] jfversluis commented on #14594
Because Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap or open an issue with a detailed feature request. Thanks!

[2021-12-23 13:48] #14594 closed

[2021-12-23 13:49] jfversluis commented on #14474
I think we've done that here #14101

[2021-12-23 13:49] #14474 closed

[2021-12-23 13:50] jfversluis commented on #14170
I think a lot has been said and done around the previewer. For Xamarin.Forms definitely nothing will be happening anymore though so closing it here. For .NET MAUI you probably want to keep your eye on the Live Previewer! Thanks!

[2021-12-23 13:50] #14170 closed

[2021-12-23 13:51] jfversluis commented on #14116
A suggestion has been given and nothing much will happen in this regard for Xamarin.Forms. For .NET MAUI lifecycle events should be much better so please check that out and let us know there if there is still something you're missing.

Thanks!

[2021-12-23 13:51] #14116 closed

[2021-12-23 13:53] jfversluis commented on #14056
As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue with a detailed feature reque

[2021-12-23 13:53] #14056 closed

[2021-12-23 13:54] jfversluis commented on #14023
This won't be happening for Xamarin.Forms anymore and hopefully this will be better with the new .NET MAUI architecture :)

THanks for thinking with us!

[2021-12-23 13:54] #14023 closed

[2021-12-23 13:56] jfversluis commented on #13896
As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue with a detailed feature reque

[2021-12-23 13:56] #13896 closed

[2021-12-23 13:58] jfversluis commented on #13665
Thanks for raising this. We're doing everything we can right now to make things better and have been discussing this in the span of multiple issues and other places. Closing this one for now.

[2021-12-23 13:58] #13665 closed

[2021-12-23 13:59] jfversluis commented on #13461
As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue with a detailed feature reque

[2021-12-23 13:59] #13461 closed

[2021-12-23 13:59] jfversluis commented on #13269
As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue with a detailed feature reque

[2021-12-23 13:59] #13269 closed

[2021-12-23 14:00] jfversluis commented on #13248
As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue with a detailed feature reque

[2021-12-23 14:00] #13248 closed

[2021-12-23 14:01] jfversluis commented on #13078
Great discussions here, thanks for that! As pointed out, this won't be happening for Xamarin.Forms anymore though. This does have focus for .NET MAUI. Thanks!

[2021-12-23 14:02] jfversluis commented on #12959
Thanks for this suggestion! It seems to have gotten a good number of upvotes, so I'll add it to my list for .NET MAUI. As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the r

[2021-12-23 14:02] #12959 closed

[2021-12-23 14:03] #13918 closed

[2021-12-23 14:26] #13457 closed

[2021-12-23 14:44] SolarisYan commented on #14675
I also have this problem, how to solve it

[2021-12-23 15:16] jfversluis commented on #14841
Looks like a coding error! Thanks for your help @jenscski closing this for now

[2021-12-23 15:16] #14841 closed

[2021-12-23 17:49] alzubitariq commented on #14675
Sorry for the late reply @jsuarezruiz

it is an NavigationPage
let me picture some scenario , suppose I have two different pages
- **MainPage**
- **WebViewPage**

to catch this issue you need to speed up the process of clicking , for example open the **WebViewPage** and then click on back directly while the page in construction process , that is it

[2021-12-23 17:52] alzubitariq commented on #14675
Hello @SolarisYan
how did u face this issue ! is there an specific behavior !!

[2021-12-23 18:46] anjanicity opened #15001 "[Code signing "Razorpay.framework" failed Xcode Xamarin form]"
### Description
I am getting an error when i archived my project through Xcode (Xamarin form Project integrated with razorpay)
### Steps to Reproduce

1.
2.
3.

### Expected Behavior
It should successfully generated archived for the project
### Actual Behavior
Showing an error (Code sigining Razorpay.framework failed )
### Basic Information

- Version with issue: Xcode 13.2
- Last known good versi

[2021-12-23 23:23] curtis91a commented on #14868
Here is a sample program to show the error.  This just a xamarin.forms sample project that i enabled multi instance.

Deploy the project, then start up 3 or more instances of the program.  On the main window you will see the button suspend app. Click that, one or more of the apps will fault and disappear. Hope this helps, i made a private version with the above changes and it seems to resolve the

[2021-12-24 06:14] npostma commented on #14952
Clearing the collection ( .Clear() ) in the example instead of re initializing results in the same crash.

[2021-12-24 07:28] MosCD3 commented on #11011
The same exact issue #10842
Still not fixed (5.0.0.2291) that's frustrating
Our app is public and many users complain about that

[2021-12-24 09:44] #11642 closed

[2021-12-24 14:42] jfversluis commented on #9992
Confirmed this is working as expected in current version

[2021-12-24 14:42] #9992 closed

[2021-12-24 14:44] jfversluis commented on #15001
Hey @anjanicity thanks for the report! Afraid I will have to close this one though. Since this is using Xcode and a third-party framework it's impossible to know if this is a Xamarin.Forms issue. Also, we'll need a lot more info to say something useful about it like logs etc.

Hope you'll figure it out!

[2021-12-24 14:44] #15001 closed

[2021-12-24 14:44] jfversluis commented on #13140
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-24 14:44] #13140 closed

[2021-12-24 15:03] jfversluis commented on #13098
Added label for check in maui, not going to change for Forms no more!

[2021-12-24 15:03] #13098 closed

[2021-12-24 15:04] jfversluis commented on #12663
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-24 15:04] #12663 closed

[2021-12-24 15:05] jfversluis commented on #12508
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-24 15:05] #12508 closed

[2021-12-24 15:06] jfversluis commented on #12583
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-24 15:06] #12583 closed

[2021-12-24 15:09] jfversluis commented on #12341
No plans or on-going development at the moment :) sorry! Also, this won't be happening for Xamarin.Forms anymore, maybe for .NET MAUI.

Not sure if that repo is the right place to ask for this though or where these libraries should live exactly. Unfortunately I don't have any more to offer at this time.

[2021-12-24 15:09] #12341 closed

[2021-12-24 15:10] jfversluis commented on #12176
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-24 15:10] #12176 closed

[2021-12-24 15:11] jfversluis commented on #11810
This won't be happening for Forms anymore, but I think this is already implemented in .NET MAUI, yay!

[2021-12-24 15:11] #11810 closed

[2021-12-24 15:15] jfversluis commented on #2852
I'm pretty sure this won't be happening anymore 😅  and not sure if this is a feasible candidate for .NET MAUI, but if you think it is, make sure to open something there!

[2021-12-24 15:15] #2852 closed

[2021-12-24 15:17] jfversluis commented on #2454
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-24 15:17] #2454 closed

[2021-12-24 15:24] jfversluis commented on #3728
Hey everyone! I see some mentions of years, which is crazy! Thank you for being patient. Unfortunately, since Forms is now in maintenance mode we're not going to be able to add this to Xamarin.Forms anymore. I see there is a lot of engagement and also in my years of developing with Forms and then on Forms, I have seen this request many, many times. I have added it to my list of things to consider

[2021-12-24 15:24] #3728 closed

[2021-12-24 15:24] jfversluis commented on #3732
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-24 15:24] #3732 closed

[2021-12-24 19:02] #14397 closed

[2021-12-24 19:08] injenuityltd commented on #3728
Basic functionality ignored.

We have decided to move over to flutter as we feel MS have lost touch of developers needs.
Get Outlook for Android

[2021-12-24 19:09] #14331 closed

[2021-12-24 19:19] jfversluis commented on #3728
@injenuityltd thanks for letting us know, good luck with your endeavours and the best for 2022!

[2021-12-24 19:23] jfversluis commented on #3844
Duplicate of #3728

[2021-12-24 19:23] #3844 closed

[2021-12-24 19:23] jfversluis commented on #3844
Please see the linked issue above for the reason why this was closed. Thank you!

[2021-12-24 20:47] NicolaZuc commented on #14996
Can you please re-open the issue?

[2021-12-25 00:06] davidbuckleyni commented on #14987
Seems to be an error in ur grid calc function

[2021-12-25 20:50] filipkristo commented on #14362
@jsuarezruiz @iupchris10  Same on my side, do we have any worarounds?

[2021-12-26 05:14] anjanicity commented on #15001
its Xcode issue when i am archiving my project(integrated with Razor-pay) through Xcode to publish on App Store its showing the same error. i also not able to figure it out what the problem its working with previous version of Xcode

[2021-12-26 08:19] scicom02 commented on #14987
This just came in today on iOS, am not sure if its related to this issue but it occurred on a `CollectionView `

![Screenshot_2021-12-26 DirectSougFBS – D a 1 s Xamarin Forms Platform iOS CollectionView ItemsViewController cs line 117 – F](https://user-images.githubusercontent.com/88928753/147402555-fa116e65-af90-41fc-a096-09fff9f4f38a.png)

![Screenshot_2021-12-26 DirectSougFBS – D a 1 s Xamarin

[2021-12-26 16:10] mputnick commented on #5973
I have the same issue also on FlayoutPage (without Shell), build for Android API 30.
Xamarin.Forms version 5.0.0.2291

My workaround is based on this stackoverflow answer: [link](https://stackoverflow.com/a/40511133/17766491)

I created such custom renderer:

[code]

[2021-12-27 07:49] #14801 closed

[2021-12-27 08:02] chaoyebugao commented on #14986
Well, can you guys fix this officially? It's a serious problem...

[2021-12-27 08:05] jfversluis commented on #3096
Seeing this issue is quite old, a lot happened in this area in the meantime and Xamarin.Forms now being in maintenance mode, I think it's safe to say we can close this one :)

I hope you will check out .NET MAUI! If there is still something you would like to see improved there in this area, please let us know!

[2021-12-27 08:05] #3096 closed

[2021-12-27 08:06] jfversluis commented on #3105
Looks like this could've been closed long time ago because it's now part of the core functionality! 🎉

[2021-12-27 08:06] #3105 closed

[2021-12-27 08:08] jfversluis commented on #3374
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

I know the Linux support is very important for some people, there is a discussion opened on the .NET MAUI repo, please give it our upvote so we can prioritize correctly. Thanks!

[2021-12-27 08:08] #3374 closed

[2021-12-27 08:09] #4429 closed

[2021-12-27 08:10] jfversluis commented on #4279
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:10] #4279 closed

[2021-12-27 08:11] jfversluis commented on #4073
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:11] #4073 closed

[2021-12-27 08:11] jfversluis commented on #4372
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:11] #4372 closed

[2021-12-27 08:12] jfversluis commented on #5037
Super cool idea! Let's add this in .NET MAUI! Oh wait, it's already there! WOOHOO!

Closing this for Xamarin.Forms :)

[2021-12-27 08:12] #5037 closed

[2021-12-27 08:13] #5090 closed

[2021-12-27 08:16] jfversluis commented on #4638
@davidbritch FYI, didn't check if this is still the case. You can judge if we still want and/or need to update this.

Closing it here. For anyone finding this, I show how to add the macOS target in [this video](https://www.youtube.com/watch?v=bBN9gBtO5nc), I think that one is still up-to-date.

[2021-12-27 08:16] #4638 closed

[2021-12-27 08:16] jfversluis commented on #4611
Way old issue and seems more like a question than a bug? Hope you got it figured out by now :)

[2021-12-27 08:16] #4611 closed

[2021-12-27 08:17] jfversluis commented on #4577
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:17] #4577 closed

[2021-12-27 08:17] jfversluis commented on #4465
Old issue and seems things are not used as they should. I hope everything works for you by now, closing this one.

[2021-12-27 08:17] #4465 closed

[2021-12-27 08:18] jfversluis commented on #5789
Looks cool for .NET MAUI, still? Closing it for Forms!

[2021-12-27 08:18] #5789 closed

[2021-12-27 08:18] #5683 closed

[2021-12-27 08:24] jfversluis commented on #14986
@chaoyebugao I understand, however a lot of people are off right now because they are celebrating Christmas and it's almost a new year on their calendar. A new update won't be out until halfway in January, so there is no need to rush at this time. I understand it's a problem and I'm sorry about that, but there is not much I can do right now.

Although we can't officially recommend and support it,

[2021-12-27 08:25] #6318 closed

[2021-12-27 08:26] jfversluis commented on #6162
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:26] #6162 closed

[2021-12-27 08:26] jfversluis commented on #6106
I think this has seen some effort in .NET MAUI, let's focus on this there!

[2021-12-27 08:26] #6106 closed

[2021-12-27 08:27] jfversluis commented on #5913
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:27] #5913 closed

[2021-12-27 08:27] jfversluis commented on #5891
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:27] #5891 closed

[2021-12-27 08:28] jfversluis commented on #6660
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:28] #6660 closed

[2021-12-27 08:28] jfversluis commented on #6637
I think you will be really happy with the Blazor support in .NET MAUI! 🎉

[2021-12-27 08:28] #6637 closed

[2021-12-27 08:29] jfversluis commented on #6481
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:29] #6481 closed

[2021-12-27 08:29] jfversluis commented on #6377
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:29] #6377 closed

[2021-12-27 08:29] #7058 closed

[2021-12-27 08:30] jfversluis commented on #6938
Won't be happening for Forms no more and seems Visual Material is not going to be in .NET MAUI so closing this one.

[2021-12-27 08:30] #6938 closed

[2021-12-27 08:30] jfversluis commented on #6665
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:30] #6665 closed

[2021-12-27 08:31] jfversluis commented on #7648
While I'd love people to still help out with Xamarin.Forms, I think we should put most of our efforts for this in .NET MAUI for now, thanks :)

[2021-12-27 08:31] #7648 closed

[2021-12-27 08:31] jfversluis commented on #7479
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:31] #7479 closed

[2021-12-27 08:32] jfversluis commented on #7296
This is a question more than anything else and it seems it's quite old by now. I hope you got this figured out!

[2021-12-27 08:32] #7296 closed

[2021-12-27 08:33] jfversluis commented on #7293
This is already merged! And so cool! Why is this still open!? 🙀

[2021-12-27 08:33] #7293 closed

[2021-12-27 08:41] jfversluis commented on #8317
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:41] #8317 closed

[2021-12-27 08:42] jfversluis commented on #8071
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:42] #8071 closed

[2021-12-27 08:42] jfversluis commented on #7961
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:42] #7961 closed

[2021-12-27 08:43] jfversluis commented on #7944
Seems like the PR was already closed as the property was already bindable but read-only because of reasons... Thanks for the suggestion! If you'd still like to see something improved in this area, please open a feature request on the .NET MAUI repo!

[2021-12-27 08:43] #7944 closed

[2021-12-27 08:44] jfversluis commented on #7935
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:44] #7935 closed

[2021-12-27 08:44] jfversluis commented on #8730
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:44] #8730 closed

[2021-12-27 08:45] jfversluis commented on #8481
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:45] #8481 closed

[2021-12-27 08:45] jfversluis commented on #8458
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:45] #8458 closed

[2021-12-27 08:46] jfversluis commented on #9747
Thanks for the suggestions! Please have a look at our Docs for a great variety of wonderful how-to guides! If you still feel anything is missing, please report it through there. Thanks!

[2021-12-27 08:46] #9747 closed

[2021-12-27 08:47] jfversluis commented on #10171
Looks like the whole link is gone now :D sorry this was ignored for whatever reason... THanks for reporting this!

[2021-12-27 08:47] #10171 closed

[2021-12-27 08:47] #10147 closed

[2021-12-27 08:48] jfversluis commented on #9893
This won't be happening for Xamarin.Forms anymore and Visual Material will probably not be part of .NET MAUI, at least not in its current form. Thank you for the suggestion!

[2021-12-27 08:48] #9893 closed

[2021-12-27 08:49] jfversluis commented on #10452
Thanks for the suggestion! `MediaElement` moved to the Xamarin Community Toolkit so you might want to move the feature request there if that's still something you're interested in, thanks!

[2021-12-27 08:49] #10452 closed

[2021-12-27 08:50] jfversluis commented on #10354
I think I just closed another issue like this one with a more detailed explanation, thanks for the suggestion! But closing this one for now.

See #3374

[2021-12-27 08:50] #10354 closed

[2021-12-27 08:51] jfversluis commented on #10331
The Markup Extensions are now part of the Xamarin COmmunity Toolkit and .NET MAUI Community Toolkit and better Blazor support is coming with .NET MAUI. If you have any more suggestions around these areas, please open issues on the appropriate repository! Thanks!

[2021-12-27 08:51] #10331 closed

[2021-12-27 08:53] jfversluis commented on #10205
Great and detailed write up @matthewrdev ! Sorry we never got around to it... If you still see any room for improvement here for .NET MAUI, please open a discussion and/or feature request there and I'll promise we'll do better :)

Thanks!

[2021-12-27 08:53] #10205 closed

[2021-12-27 08:54] jfversluis commented on #10209
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:54] #10209 closed

[2021-12-27 08:54] jfversluis commented on #10579
I don't think this won't be happening for Xamarin.Forms anymore unless someone will provide us with a PR to implement it. Thanks for your suggestion!

[2021-12-27 08:54] #10579 closed

[2021-12-27 08:55] jfversluis commented on #10522
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:55] #10522 closed

[2021-12-27 08:55] jfversluis commented on #10510
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:55] #10510 closed

[2021-12-27 08:55] jfversluis commented on #11013
I think this is already implemented for `RadioButton`? Closing this one!

[2021-12-27 08:55] #11013 closed

[2021-12-27 08:57] jfversluis commented on #10954
Thanks for the suggestion here! I think a lot of effort went into .NET MAUI to make this happen, for now we'll leave it in Xamarin.Forms as it is to not make any breaking changes.

If you still feel there is room for improvement in .NET MAUI, please make sure to open an issue there with all the details.

[2021-12-27 08:57] #10954 closed

[2021-12-27 08:58] jfversluis commented on #11540
I think some of this has been done for Xamarin.Forms, but nothing much will change in this regard anymore unfortunately. .NET MAUI will implement a completely new architecture that doesn't use renderers, hooray!

Closing this for now, thanks for you suggestion and thinking with us on this!

[2021-12-27 08:58] #11540 closed

[2021-12-27 08:58] jfversluis commented on #11399
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:58] #11399 closed

[2021-12-27 08:59] jfversluis commented on #11306
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

I see something is already opened for .NET MAUI so be sure to add your upvote there if this is still important to you!

[2021-12-27 08:59] #11306 closed

[2021-12-27 08:59] jfversluis commented on #11152
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 08:59] #11152 closed

[2021-12-27 09:00] jfversluis commented on #11618
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:00] #11618 closed

[2021-12-27 09:00] jfversluis commented on #12373
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:00] #12373 closed

[2021-12-27 09:01] jfversluis commented on #12204
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:01] #12204 closed

[2021-12-27 09:01] jfversluis commented on #11981
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:01] #11981 closed

[2021-12-27 09:01] jfversluis commented on #12243
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:01] #12243 closed

[2021-12-27 09:02] jfversluis commented on #12718
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:02] #12718 closed

[2021-12-27 09:02] jfversluis commented on #12661
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:02] #12661 closed

[2021-12-27 09:02] jfversluis commented on #12463
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:02] #12463 closed

[2021-12-27 09:03] jfversluis commented on #13228
Seems like this issue only has a title, we need a bit more detail than that :)

[2021-12-27 09:03] #13228 closed

[2021-12-27 09:03] jfversluis commented on #13222
I guess you will be happy with .NET MAUI! Please have a look there at this approach :)

[2021-12-27 09:03] #13222 closed

[2021-12-27 09:04] jfversluis commented on #12849
This won't be happening for Xamarin.Forms anymore. I think there is an extensive discussion going on about this for .NET MAUI. Please have a look there and add your upvote so we can prioritize accordingly. Thanks!

[2021-12-27 09:04] #12849 closed

[2021-12-27 09:05] jfversluis commented on #13513
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:05] #13513 closed

[2021-12-27 09:05] jfversluis commented on #13339
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:05] #13339 closed

[2021-12-27 09:06] jfversluis commented on #14007
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-27 09:06] #14007 closed

[2021-12-27 11:11] ysmoradi commented on #10331
It doesn't make sense at all! I've requested changes in classes that are located in the xamarin forms repository!

If (for example) xamarin forms color had implicit cast to a string, it would become in handy for developers who are using cs-markup extensions or Microsoft.MobileBlazorBindings.Templates.

Anyway, forget it. At the moment I'm using neither Microsoft.MobileBlazorBindings.Templates nor

[2021-12-27 12:38] jfversluis commented on #10331
Sorry if I misunderstood, even if that was the case, this still won't be happening as Xamarin.Forms is now in maintenance mode and we are not adding any new APIs or changing existing ones as much as possible. If you still would like to see improvements, please open an issue on the .NET MAUI repository, thanks!

[2021-12-27 12:50] jfversluis commented on #14996
If you can provide me with a runnable reproduction of this problem in a GitHub repository that I can take a look at I think that might help clear things up.

[2021-12-27 13:00] jfversluis commented on #14758
From the strack trace I see you're using Xamarin.Essentials SecureStorage? If you're using that it needs the proper entitlement in the entitlements.plist file. So either you need to remove the references to secure storage if you don't need it, or you need to add indeed the right entitlements :)

Trusting this should fix your issue, closing this for now

[2021-12-27 13:00] #14758 closed

[2021-12-27 13:01] jfversluis commented on #14688
Looks like this is not possible on a platform level, going to close this for now!

[2021-12-27 13:01] #14688 closed

[2021-12-27 13:03] jfversluis commented on #14532
No response to our request for more info. Closing for now.

[2021-12-27 13:03] #14532 closed

[2021-12-27 13:04] jfversluis commented on #14512
We've indicated how to influence this behavior. From the lack of response I'm trusting that this has been resolved by now!

[2021-12-27 13:04] #14512 closed

[2021-12-27 13:05] jfversluis commented on #14478
No response to our request for more info. I trust you have resolved this in the meantime. Thanks!

[2021-12-27 13:05] #14478 closed

[2021-12-27 13:07] jfversluis commented on #14368
Seems like this is fixed. Else a aggressive clean and rebuild tends to help in these cases :)

[2021-12-27 13:07] #14368 closed

[2021-12-27 13:09] jfversluis commented on #14263
No more response, I will trust this has been resolved by now :)

[2021-12-27 13:09] #14263 closed

[2021-12-27 15:14] hi2amit12 commented on #4180
thanks

[2021-12-27 17:15] arunkumarpediredla commented on #14368
Yes..This is fixed

[2021-12-27 19:01] pabloat81 commented on #10977
Hello. I am having the same problem on a recently created project on VS2019.
I tried all but de CV not rendering till resize.
I load the data async. I Tried something like this, but i cant make it work:

 protected override void OnAppearing()
        {
            base.OnAppearing();
            Task.Run(async () => await vm.InitialLoad());
        }

[2021-12-27 21:37] NicolaZuc commented on #14996
i can give u a repro, but do u have an usb barcode scanner to test? Else u will never be able to detect the problem.

[2021-12-28 07:49] lauxjpn commented on #13683
In my case, I had the following layout, that results in the `Label` missing the last (wrapped) text line:

[code]

Removing the second `StackLayout` shows all text lines correctly:

[code]

It seems that as long as the outer layout is a `StackLayout`, a `Label` in an inner layout is missing text.
The following uses a `Grid` as the inner layout, resulting in the `Label` still missing text:

[code]

[2021-12-28 08:26] gjschoneveld commented on #14381
Hi, We have the same problem. Also only on iOS and also since Xamarin Forms higher than 5.0.0.1905. On Android it works fine.

I have stripped down our app and attached it as example. The DynamicResource is used to set the background color in some places. It is set/changed when you login. The issue is that in our menu page the toolbar is not updated and also when you go back to the settings or log

[2021-12-28 08:40] JohnHDev opened #15003 "[Bug] Layout.ResolveLayoutChanges throwing collection was modified exception on iOS"
### Description
In AppCenter crash reporting I am seeing reports of the following exception:
SIGABRT: Collection was modified; enumeration operation may not execute.

Stacktrace:
List`1+Enumerator[T].MoveNextRare ()
(wrapper other) System.Object.gsharedvt_in()
(wrapper other) System.Object.gsharedvt_out()
List`1+Enumerator[T].MoveNext ()
Layout.ResolveLayoutChanges ()
VisualElementRenderer`1[TElem

[2021-12-28 13:15] pabloat81 commented on #10977
I made the load syncronous and worked, but would like to maintain it async.

[2021-12-28 15:10] charlesroddie opened #15004 "[Bug] System.ArgumentException in BindableObject when setting Time of TimePicker"
### Description

Reported on Android.

[code]

### Steps to Reproduce

Set the Time of a TimePicker. This was found on Android using store release settings, AOT, LLVM.

### Expected Behavior

The time is set. No such error happens because the inherent safety of dotnet means this should be a type error.

### Actual Behavior

Because a non-type-safe binding system is used, these errors happen.

[2021-12-28 15:52] charlesroddie commented on #15004
Resulted from time > 24hrs

[2021-12-28 15:52] #15004 closed

[2021-12-28 15:57] chrisstaley commented on #14986
@jfversluis I can confirm that the PR fixes the issue in our app.

And thanks for resolving this in a quick, yet responsible manner. I appreciate that.

[2021-12-28 19:10] holecekp commented on #14061
Is fix for this bug planned soon? It is impossible to have more than one RadioButton group and support Windows at the same time because of this bug.

[2021-12-28 20:33] sjorsmiltenburg opened #15005 "[Bug] UWP RadialGradientBrush with non default Center is displayed incorrectly"
### Description

Using the following code (taken from the Xamarin.Forms.Demos repo) I do not see the correct visualisation for the RadialGradientBrush on UWP when the center is different than 0.5 , 0,5

### Steps to Reproduce

1.  clone https://github.com/xamarin/xamarin-forms-samples/tree/main/UserInterface/BrushDemos
2.  run on UWP
3.  click on Radial Gradient Brush Demos

### Expected Behavior

[2021-12-28 23:24] zachwooding opened #15006 "[Bug] Xamarin iOS Large Title Scroll Velocity Snapping"
### Description
On iOS, using the large title with a scrollable view does not behave as expected. Instead of smoothly transitioning to the small title while scrolling, the large title bar will snap quickly to the small title.

### Steps to Reproduce
1. Use a large title on any view that is scrollable (TableView, ScrollView, CollectionView)
2. Large title display mode = automatic
3. Scroll the page

[2021-12-29 11:42] egvijayanand opened #15007 "[Enhancement] Add an overloaded constructor for Setter type with BindableProperty and Value as its parameters"
## Summary
While working with C# / Markup, it requires a lot of key strokes to create a Setter and set its Property and Value in the initializer.

## API Changes

Whereas if there is an overloaded constructor that takes the BindableProperty and Value as its parameters, this would save too many keystrokes especially when there're too many Styles / Triggers / Visual States to define.

## Intended Us

[2021-12-29 17:20] DamienDoumer opened #15008 "[Bug] When a Shell Flyout item's "IsVisible" Property is changed at runtime on iOS only, we can not more do modal navigation"
### Description

If you bind a Xamarin Shell Flyout Item's "IsVisible" property to a property in a ViewModel, then change the property's value
from true to false at runtime, then try to navigate to a shell page with modal animation, the page never appears, though its life cycle events are called.

### Steps to Reproduce

1. bind the isvisible property of the shell's flyout item
`

            <Fly

[2021-12-29 18:31] justintoth commented on #10643
Same issue here, any update on this?

[2021-12-29 18:48] justintoth commented on #8383
@jfversluis @jsuarezruiz I see that you merged the PR into this 5.0.0 SR6 release back in Oct 11. I'm still not seeing this in the latest Xamarin.Forms *Preview* update, 5.0.0.2291. When will this be available in the Preview channel? My CollectionView with 3,000 items is eagerly awaiting the ability to page...

[2021-12-29 21:03] toddanglin commented on #14505
Since this bug still exists on iOS tablets (devices/simulators) as @simonemarra demonstrated in this thread, has another issue been opened to track a fix?

I started a new XF project today (using XF 5.0.0-sr8) and still see the problems described changing TabBar text/icon colors on iPad running iOS 15.

[2021-12-30 02:44] grvingit commented on #14956
I was the user who reported this. I think it may be worth mentioning that I followed some other steps from a Microsoft rep to fix a provisioning problem in VS2019. This was to install VS 2022, then copy the iSign.Core.dll, iSign.Core.pdb and System.Formats.Asn1.dll files from /tools/msbuild/ios to C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Xamarin\iOS.
Unfortunately I c

[2021-12-30 06:47] KarthikRajaKalaimani commented on #7464
Hi @samhouts ,

Any updates on this ? still it is open

[2021-12-30 07:59] jfversluis commented on #14956
@grvingit but you are still seeing this behavior?

[2021-12-30 08:01] jfversluis commented on #8383
@justintoth not sure what the preview version has to do with this or where you're getting that from? Since it's part of Xamarin.Forms since SR6, it is now available in the current stable version. If something is still doesn't seem to be working for you, please open a new issue.

[2021-12-30 08:08] jfversluis commented on #15007
Hey @egvijayanand thanks for the suggestion! Unfortunately, we're trying to add as little new APIs as possible to Xamarin.Forms anymore :)

If this is still something of interest to you, please open a feature request on the .NET MAUI repo, thanks!

[2021-12-30 08:08] #15007 closed

[2021-12-30 08:09] jfversluis commented on #15005
Duplicate of #14801

[2021-12-30 08:11] jfversluis commented on #15003
Thanks for the report! Any new or additional information is much appreciated, this is not much to go on unfortunately

[2021-12-30 08:14] jfversluis commented on #3351
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:14] #3351 closed

[2021-12-30 08:15] jfversluis commented on #8013
I think something like this might be added with the TabOrder?

However; thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, fee

[2021-12-30 08:15] #8013 closed

[2021-12-30 08:17] jfversluis commented on #7451
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:17] #7451 closed

[2021-12-30 08:17] jfversluis commented on #6733
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:17] #6733 closed

[2021-12-30 08:18] jfversluis commented on #5017
With the current state of Material I guess this is not very useful anymore :)

[2021-12-30 08:18] #5017 closed

[2021-12-30 08:20] jfversluis commented on #10341
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:20] #10341 closed

[2021-12-30 08:20] #9522 closed

[2021-12-30 08:20] jfversluis commented on #8525
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:20] #8525 closed

[2021-12-30 08:21] jfversluis commented on #8475
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:21] #8475 closed

[2021-12-30 08:21] jfversluis commented on #11457
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:21] #11457 closed

[2021-12-30 08:22] jfversluis commented on #11215
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:22] #11215 closed

[2021-12-30 08:22] jfversluis commented on #10903
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:22] #10903 closed

[2021-12-30 08:23] jfversluis commented on #10964
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:23] #10964 closed

[2021-12-30 08:25] jfversluis commented on #10689
Hey everyone! I see there is a good number of upvotes on this one. Unfortunately this won't make it into Xamarin.Forms anymore, but I have labeled it so that it will come up for .NET MAUI consideration. If you have any more detailed ideas around this, feel free to open an issue on the .NET MAUI repo so we can track it even better. Thanks!

[2021-12-30 08:25] #10689 closed

[2021-12-30 08:27] jfversluis commented on #11917
@acuntex thanks for the detailed proposal! Love it! Unfortunately we can't make this happen anymore for Xamarin.Forms, but if you're still willing and able I would love to discuss this for .NET MAUI. Feel free to open an issue there with this feature request and maybe add some new insights you might have in the time being.

Thanks!

[2021-12-30 08:27] #11917 closed

[2021-12-30 08:29] jfversluis commented on #4972
Hey everyone! Sorry we couldn't make this happen for Xamarin.Forms. We have a couple of related issues that are now on the list for .NET MAUI. Hope we can add this there out of the box and eliminate your need for those custom controls/renderers :)

Thanks!

[2021-12-30 08:29] #4972 closed

[2021-12-30 08:29] jfversluis commented on #12168
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2021-12-30 08:29] #12168 closed

[2021-12-30 08:30] jfversluis commented on #11538
Thanks for your suggestions, here and in other issues and discussions as well! I love your passion for this project.

We've been discussing this like these in some other issues, so I will close this here for now :)

[2021-12-30 08:30] #11538 closed

[2021-12-30 08:32] jfversluis commented on #14996
I do not, that is also part of the problem indeed :) But with a repro I might be able to poke around and see if I can detect where things _might_ go wrong

[2021-12-30 08:36] NicolaZuc commented on #14996
Ok, i'll give you a repro the 10th of january, at the moment i'm on vacation and i don't have my equipment with me. Do you want also a video to show you the problem?

[2021-12-30 08:52] jfversluis commented on #14996
If you would be able to do that that would be awesome :)

[2021-12-30 09:51] egvijayanand commented on #15007
Hi @jfversluis,

Somehow I forgot that earlier communication about not inducting new APIs into Xamarin.Forms.

For .NET MAUI, will check if one is already included there, if not, will raise a request over there.

Regards,
Vijay Anand E G

[2021-12-30 10:01] YZahringer commented on #13928
Fixed by #14780

[2021-12-30 10:16] JohnHDev commented on #15003
@jfversluis sorry, I haven't been able to replicate locally at all, its just the errors Im seeing in AppCenter diagnostics.
Looking at the XF source, it looks to be a safe iteration with the copy and new list, only thing I can suggest is iterating a copy instead of the original list? That way, if anything still has a reference to the original list it won't matter.

[2021-12-30 12:32] MiekVenter commented on #14956
I have the same issue, with provided WorkingWithGestures sample and my own codes. Android no issues on same apps. . USB direct with hot reload, no MAC pairing, studio 2019 and 2022.

[2021-12-30 12:48] orwo1 opened #15009 "[Bug] TemplatedView Padding"
### Description
Set Padding in ControlTemplate for a control that inherits TemplatedView, and it is set twice.
Once in the element in the template that TemplateBinding its Padding to that of the control.
Second is from outside somehow.
### Steps to Reproduce

1. Create new class inheriting from TemplatedView
2. Create a default style for it with a setter for Padding and a setter for ControlTemplat

[2021-12-30 12:53] davidbuckleyni opened #15010 "[Bug] Xamrain forms Shell Drawer Works on simluator but not customer device on release build"
Hi All I am having issue with shell it works fine and display as should for me in the simulator but on the customers device android its not showing links and taking up most of the screen for the drawer?. My Main issue is when am going to bike page the hambugger menu is not their for the user to dismiss the menu hence me having to use the locked to keep it open but I would rather the hambuger be th

[2021-12-30 13:42] michelmoorlag commented on #13597
My fix for this issue is binding the Scrolleview Orientation property to a ScrollOrientation type property and force to read it by calling OnPropertyChanged with the property name when you need the scollview to recaculate it's height. Make sure you set the orientation to a differnt value that it's current valueor it will not work. You can do this by toggeling between ScrollOrientation.Both and Scr

[2021-12-30 13:42] rudyspano commented on #14908
The problem seems also reproducible when embedding the colectionView in a Grid (or any other layout I guess) then not specific to RefreshView... Any help ? Thanks

[2021-12-30 14:53] davidbuckleyni commented on #15010
Never mind I figured out my issue on the pages I wanted the flying its navigation had to be

            await Shell.Current.GoToAsync($"//{nameof(SessionPage)}");

[2021-12-30 14:53] #15010 closed

[2021-12-30 14:58] PawKanarek opened #15011 "[Bug] Xamarin.UITest cannot handle fast updates / UITest is slow."
### Description
Xamarin.UITest framework cannot handle fast UI updates.
I've observed that assertions `WaitForElement()` and `WaitForNoElement()` that detects updates of UI with duration under 300 ms will fail to assert correctly (but even 300ms feels slow for some animations, transitions or layout changes).

### Steps to Reproduce

1. Download modified version of [yours sample "UsingUITests"](htt

[2021-12-30 15:25] rudyspano commented on #14908
Ok. I have a workaround.
I wrote this effect in order to ensure the UICollectionView rendered is the only one in the current view that has ScrollsToTop native property set to true. When debugging, you can see that even with your small sample, an other UIScrollView is near and causes the issue.

[code]

[2021-12-30 15:56] greg84 opened #15012 "[Bug] [Android] Intermittent error in production: Font not found /data/user/0/com.package.whatever/cache/font.ttf"
### Description

This exception is being reported intermittently, where the application seems to be unable to find the font file in the cache folder.

Error message:

Font not found /data/user/0/com.package.whatever/cache/font.ttf

<details>
  <summary>Stack trace</summary>

[code]

</details>

### Steps to Reproduce

1. Add ExportFont assembly directive.
2. Include ttf font file.
3. Deploy an app

[2021-12-30 16:04] greg84 opened #15013 "[Bug] [Android] Crash from ShellFlyoutRenderer. "Canvas: trying to draw too large bitmap.""
### Description

Tried to create a discussion to get help with this, creating a bug report for additional exposure.

Please see further details here:
https://github.com/xamarin/Xamarin.Forms/discussions/14978

Although this crash comes from ShellFlyoutRenderer, I don't actually have flyout enabled so I'm not sure what's happening here.

If a work around is available please let me know. This is cau

[2021-12-30 20:20] lauxjpn commented on #6888
@jschwellnus92  Thanks, using a custom `GroupHeaderTemplate` does indeed work around the issue.

@jsuarezruiz @samhouts Since this issue has not been fixed, it needs to be reopened.

[2021-12-31 04:36] barmouta commented on #13477
thanks @scastiello for the work-around! btw it works on android as well. however, this is really frustrating that, for example, page title has to be manually created with a custom Shell.TitleView for a modal page. I fully embraced shell navigation and have fully re-designed my app in terms of navigation, but now I'm struggling to understand why modal pages can't have a normal <ContentPage Title...

[2021-12-31 11:23] dag23 commented on #9123
I have investigated and the template of the FormsButton does not contain a Grid.
https://github.com/xamarin/Xamarin.Forms/commit/b85c28e530eff581c6fa48742e07cd84cca7dd3e#diff-489c1b3b032afaa3b926f0420f2d644b2faabe1d5008d278e10b6fb5feccbd28
The ButtonRenderer is searching for one to use the InterceptVisualStateManager.
https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms.Platform.UAP/B

[2021-12-31 11:24] sergeibystrov opened #15014 "I want to know if xamarin is the worst environ. to use? splashscreen keeps shutting app for 3 days now. very annoying"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library / AndroidX Version:
- NuGet Packages:
- Affected Devices:

### Environment

<details><summary>Show/Hide Visual Studio info</summary>

[code]

</de

[2021-12-31 11:27] PawKanarek commented on #15011
HI everyone I figured this out, looks like  documentation fot method  `WaitForElement()` is incomplete.  https://docs.microsoft.com/en-us/dotnet/api/xamarin.uitest.ios.iosapp.waitforelement?view=xamarin-uitest-sdk

This method has parameter  `retryFrequency` of type `Nullable<TimeSpan>` with description `The TimeSpan to wait between each query call to the app. ` and with default value `null` so i

[2021-12-31 13:53] #15014 closed

[2021-12-31 13:55] jfversluis commented on #15014
If the app shuts down on the splash screen or anywhere else suddenly, that usually means some kind of unhandled exception has occurred. Please inspect your code and application output for anything like that.

Additionally, if you really want our help, and we're happy to help, I suggest you don't come in opening your first issue and calling us "the worst environment" and secondly; we would need mor

[2021-12-31 13:57] jfversluis commented on #15012
Do you have any additional code that does something with the fonts? How do you load/add the fonts to your project? Do you see this only on Android or also iOS?

[2021-12-31 13:58] jfversluis commented on #15013
I understand the reasoning, unfortunately that's not how this work. I'm not going to clutter the issues (any more than they already are) to get more exposure. Thanks for your understanding!

[2021-12-31 13:58] #15013 closed

[2021-12-31 14:06] jfversluis commented on #15011
Glad you figured it out! I will see if we need to update the docs for this, thanks! :)

[2021-12-31 14:06] #15011 closed

[2021-12-31 14:15] sergeibystrov commented on #15014
Please, i have finished my app but its running it on release mode that it loads the splashscreen for one minute plus and then the app and immediately exit. i have something like that on this github link: https://github.com/sergeibystrov/SmallWallet2
i use visual studio 2022 to build it so i dont know if visual studio 2022 has a bug because i have rebuild my emulator by increasing the Ram but to no

[2021-12-31 15:16] kcrg commented on #15014
@sergeibystrov If your app only crashes in Release mode, there may be a problem with the link. If you want, I can try to fix it. ;) You need to change your repository visibility to public, it seems to be private.

[2021-12-31 15:29] sergeibystrov commented on #15014
let me see because this is my first time pushing code to github

[2021-12-31 20:23] GalaxiaGuy commented on #14829
@jfversluis I'm in a very similar position to @lassana.

I have a large Xamarin code base that is mostly not Forms, but does include an increasing amount of embedded Forms views.

Being able to update to .Net 6 separately from upgrading Forms to MAUI would make things a lot easier.

[2021-12-31 22:02] juwens commented on #14829
My experience from the last twelve months:
they don’t care. Swallow what you get, or build/fix it yourself.
And I sincerely hope they change that, at some point in the future.

[2022-01-01 05:37] lukies97 commented on #14956
I also followed the same steps as @grvingit and I am still having trouble with the gesture recognizer.  I didn't have the issues in 2019 until after followed those steps and now I have the issue in VS2019 and VS2022.

[2022-01-01 10:35] softlion opened #15015 "[Bug] Android: Button not going out of Pressed state"
### Description

With this style, when a button is pressed in a specific way on Android, it background stays Blue.

[code]

### Steps to Reproduce

1. Press a button, does not remove your finger from the screen. It's background should change to blue.
2. Move your finger outside of the button, still pressing the screen.
3. Remove your finger when it's outside of the button.

### Expected Behavior
I

[2022-01-01 15:41] greg84 commented on #15013
Understood @jfversluis, but would it be better to close the discussion and leave this issue open? The application shouldn't crash from inside this method should it? Especially when I'm not using the flyout.

[2022-01-01 16:00] greg84 commented on #15012
Not doing anything special, just followed your guide here: https://devblogs.microsoft.com/xamarin/embedded-fonts-xamarin-forms/

I think the problem is that `EmbeddedFontLoader` for Android creates the font file in the cache folder:
https://github.com/xamarin/Xamarin.Forms/blob/41a65486600895ea182187358ff2f8ebc8c99290/Xamarin.Forms.Platform.Android/EmbeddedFontLoader.cs#L15

The OS can clear the c

[2022-01-01 18:40] sergeibystrov opened #15016 "i complained about splashscreen loading and then exiting app and was waiting for reply and they closed the issue. Can you people see how annoying xamarin form staffs are.. bunch of idiots. everybody cant be perfect. is it wrong to admit you are lost?"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library / AndroidX Version:
- NuGet Packages:
- Affected Devices:

### Environment

<details><summary>Show/Hide Visual Studio info</summary>

[code]

</de

[2022-01-02 13:29] jfversluis commented on #15012
But if it exists, we return it and else we try to move it there, that is already happening, right?

https://github.com/xamarin/Xamarin.Forms/blob/41a65486600895ea182187358ff2f8ebc8c99290/Xamarin.Forms.Platform.Android/EmbeddedFontLoader.cs#L18-L27

[2022-01-02 13:36] jfversluis commented on #14829
@juwens please change your tone, we've had this discussion a couple of times now, else I will see no other choice than to restrict your rights here.

[2022-01-02 13:50] jfversluis commented on #14829
Alright, at least let me reopen this and have a little discussion here. What am I missing that .NET 6 support will bring you in this case?

I see a main reason is the NuGet packages and libraries. But if you want to use them, they still have to be recompiled against .NET 6 before you are able to use them, right? And chances are that they will take that opportunity to rewrite the library to .NET MA

[2022-01-02 16:20] greg84 commented on #15012
Yes, but it appears that `FontRegistrar` keeps a cache of loaded fonts, so the `LoadFont` method isn't called again after the first time:

https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e176d196e17/Xamarin.Forms.Core/FontRegistrar.cs#L33

Maybe bypass the cache on Android and call `LoadFont` every time? This would ensure the file always exists.

[2022-01-02 19:08] #15016 closed

[2022-01-02 19:15] jfversluis commented on #15016
The reason I closed your first issue _and_ this one is because you're coming in with insults straight away which is not appreciated and actually even a violation of our code of conduct. But beyond that, you provide 0 details. I am no mind reader, I don't know your project or what code is involved. Without any info from your side it's impossible to get to the root cause and see what might be going

[2022-01-02 19:28] jfversluis commented on #15015
Hey there @softlion thanks for reporting this! I do notice that the version that you mention looks a bit odd, that is not an official version that is on [NuGet](https://www.nuget.org/packages/Xamarin.Forms/). Would you be able to check with the latest on there and confirm this still happens?

Also, did you by any chance check if this is also happening on iOS?

[2022-01-02 19:32] softlion commented on #15015
Hello there !
Yes i need a newer version that fixes a critical bug.

It does happen on iOS too, but not with the same symptoms. The background of the button becomes blue randomly (not always) after a clic after a couple of seconds. Maybe related to an animation hidden in a default visual state.

[2022-01-03 09:00] rojasjo commented on #14946
Any update on this?

[2022-01-03 11:13] softlion commented on #15015
I tried with the latest stable version on iOS, same issue.

[2022-01-03 12:03] sabasanu commented on #14505
I confirm, we have the same issue on our production app after upgrading to Xamarin 5. Haven't found any workaround yet except reverting to Xamarin 4.

[2022-01-03 14:48] jfversluis commented on #14829
So, I talked to some of our team and my initial thought was right: we're not going to do a .NET 6 version of Xamarin.Forms.

Let me see if I can go into some things why. First: because of multiple reasons, it's a big effort on our part. Now, we don't mind doing work, but as you might be able to tell we already got enough on our plate with keeping the lights on for Xamarin.Forms as well as getting

[2022-01-03 14:48] #14829 closed

[2022-01-03 15:52] grvingit commented on #14956
@jfversluis Yes, I am still seeing it. I had to remove all gesture recognizers in my app and replace them with image buttons in order to get an urgent update out, but this evening when I tried them again they still do not work.

[2022-01-03 17:08] alaneich commented on #11817
Retested using v5.0.0 SR8 and the memory leak was not detected on both Android and iOS.  I suspect that #14882 fixed it for Android.  Closing this issue.

[2022-01-03 17:08] #11817 closed

[2022-01-03 17:48] juwens commented on #14829
@jfversluis
I justed summed up what you said 🤷‍♂️

[2022-01-03 18:28] vsfeedback opened #15017 "Xamarin Forms CollectionView ScrollTo error with <CollectionView.Header>"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-Forms-CollectionView-ScrollTo-er/1621830)._

---
I have a grouped CollectionView and a CollectionView.Header and scroll to GroupHeader fails to go to the correct place. Without the Header it works.

`ItemsListView.ScrollTo(-1, catindex, ScrollToPosition.Start, true);`

[code]

--

[2022-01-03 18:29] vsfeedback opened #15018 "Xamarin iOS Large Title Scroll Transition: Snapping vs Smoothing"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-iOS-Large-Title-Scroll-Transitio/1618087)._

---
[severity:It's more difficult to complete my work]
Hello,
Using a ScrollView with a Large Title on iOS forces the Large Title to snap when scrolling instead of the desired smooth transition.

Current behavior:
! [eO9Yh.gif] (https:

[2022-01-03 18:46] jfversluis commented on #14829
@juwens I think the fact that I keep explaining my reasons shows that we do care. But I'm starting to think that you're not really interested in what I have to say. Happy new year!

[2022-01-03 19:00] jfversluis commented on #15018
Duplicate of #15006

[2022-01-03 19:00] #15018 closed

[2022-01-03 19:23] jfversluis commented on #13763
Duplicate of #7669

[2022-01-03 19:23] #13763 closed

[2022-01-03 19:27] jfversluis commented on #7996
Hey everyone! Yes, this should have been fixed a long time ago and yes it's a shame that we left the PR that fixes this linger around for so long, so sorry about that. There is nothing I can change about that any more, but what I _can_ change is what happens with it now; so let's fix this!

I've reactivated the PR (many thanks to @jonkas2211 for the initial effort!) and it looks like the code is g

[2022-01-03 21:05] vsfeedback opened #15019 "Error: The 'MSBuild:UpdateDesignTimeXaml' code generator crashed: Not connected"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Error:-The-MSBuild:UpdateDesignTimeXaml/1608528)._

---
When I delete the bin/obj of the project and start the project the restore packages hangs and a lot these errors appear. I do have to force quit VisualStudio code and do this a few times.

This happend for a while, I am now up to da

[2022-01-04 00:04] pabloat81 commented on #6095
HI. I see this is old. I am new to xamarin. I need to be able to do a back and have the flyout menú button visible. I cant see anywhere how to do this. Is posible now?

[2022-01-04 03:09] CMarcher opened #15020 "[Bug] [iOS] Setting NavigationPage.HideNavigationBarSeparator to True no longer has an effect"
### Description
When setting the iOS specific NavigationPage property, HideNavigationBarSeparator, to True, the separator is still visible if it is a NavigationPage within a Shell page. The property still works if using a NavigationPage not embedded in a Shell page.

### Steps to Reproduce

1. Create a new Xamarin Forms application with a Shell page and at least one page embedded.
2. Set Shell.Bac

[2022-01-04 03:56] sergeibystrov commented on #15016
zzz

[2022-01-04 09:32] jfversluis commented on #14956
@MiekVenter did you also do something with the copying of DLLs as mentioned above?

[2022-01-04 09:33] jfversluis commented on #14505
@toddanglin a new issue tracking this specific case is here: #14975

[2022-01-04 09:34] MiekVenter commented on #14956
No, no copying. New clean 2022 installation, first project ever compiled on new installation was the demo.

[2022-01-04 09:36] jfversluis commented on #14956
You're running this from Windows through Hot Restart (directly on a physical iOS device)? Or do you have it paired to a Mac?

[2022-01-04 09:39] jfversluis commented on #14975
@Lizcq11 thanks for your patience during the holidays, let's get this fixed!

Would you also be able to put together a little sample how you set the gradient from your app? So ideally a little GitHub repo with just the bits that you have in your app to make this happen. That will greatly help us identify the path through our codebase and see how we can fix it.

[2022-01-04 09:40] jfversluis commented on #15015
ALright, thanks for checking this! Last question: I see you filled out "last known good version" with nothing, so as far as you know this never worked?

[2022-01-04 09:47] MiekVenter commented on #14956
Direct on hot restart

[2022-01-04 09:47] MiekVenter commented on #14956
I will have an IOs box by next week.

[2022-01-04 09:56] jfversluis commented on #14956
@chamons @dalexsoto I see this happened before in #10162 any chance this has regressed?

[2022-01-04 10:04] grvingit commented on #14956
For me the problem only occurs with Hot Restart. I've just tried it through a paired Mac and gesture recognizers works fine. Unfortunately for me developing and debugging this way is not an option as deploying is too slow - it takes a number of minutes  each time.

[2022-01-04 10:18] rafaltieto commented on #14554
I see that after 6 months this bug still not unverified and not assigned so let me provide some more info which, I hope, help you reproducing it:

I noticed that this bug appears when a CollectionView does not start from the top of page but from certain Y position (screen percentage?): ie 51 for iPhone 13 and 32 for iPhone7.
Group header tap gestures stop working when group is scrolled out of visi

[2022-01-04 10:19] jfversluis commented on #14956
Yeah the cause seems to be Hot Restart here, found an earlier issue that describes the same, maybe there is a regression there. We just need to wait for them to wake up ;)

[2022-01-04 11:11] PaulVrugt opened #15021 "[Bug] SetWindowSoftInputModeAdjust not working when mainpage is flyoutpage or SetTitleBarVisibility is set to Never"
### Description
We are trying to set the SetWindowSoftInputModeAdjust to `resize` to properly use the soft keyboard without overlap in android. However (after a lot of testing) we found out that there are 2 things that prevent this from working:

- Once you call `global::Xamarin.Forms.Forms.SetTitleBarVisibility(this, Xamarin.Forms.AndroidTitleBarVisibility.Never);` in the `oncreate` of the mainac

[2022-01-04 11:58] VolleyTom commented on #11075
Hello,
I'm new at Xamarin Forms development, but I have the same issue in my UWP project. Is there an estimation, when this issue will be fixed?
br

[2022-01-04 13:27] NunoBem commented on #11499
Should this be in a XF service release @jfversluis ?

[2022-01-04 13:37] softlion commented on #15015
It's a new app, so it does not have any history.
Otherwise in older apps i never saw this issue. Maybe because i never used a button inside a collectionview.

Note: it seems to be only happening with a button inside a collectionview's itemtemplate.

[2022-01-04 14:13] jfversluis commented on #11499
It probably should! I'm going to be honest though, not sure how high this would rank in terms of priority right now. If you're up for it you could give a shot at fixing it?

[2022-01-04 15:48] GalaxiaGuy opened #15022 "[Bug] [iOS] CollectionView LinearItemsLayout with horizontal orientation and non-zero item spacing does not show all items"
### Description

Using a layout like the following `<LinearItemsLayout Orientation="Horizontal" ItemSpacing="16" />` results in some items being missing from the end of the collectionview.

Vertical lists seem to work fine and horizontal lists with no spacing work fine. Android works fine.

### Steps to Reproduce

1. Create a `CollectionView`
2. Set `ItemsLayout` to `LinearItemsLayout` with a hori

[2022-01-04 16:33] alexeygritsenko commented on #14424
Hi, the problem is serious. Today my users ran into it after posting to google play. The most annoying thing about this situation is that I cannot reproduce the problem when I install the application on my phone from the visual studio, be it debug or release. The problem manifests itself only after installing the application from Google Play

[2022-01-04 16:49] mos379 commented on #14424
@alexeygritsenko  as stated above this is easily corrected by adding the package as @sephynox wrote.

[2022-01-04 16:52] iBobb commented on #4478
Still an issue with Xamarin.iOS 15.4 and Xamarin Forms 5.0.0.2012 testing on Simulator with iOS 15.2. @xleon's workaround worked for me. Thank you.

[2022-01-04 16:52] alexeygritsenko commented on #14424
may be. I'm trying to figure out how I can reproduce the problem without posting to google play. I am afraid that if this does not fix the problem and I don’t find out about it, then I will spend another 2 days on moderation in google play and get additional negative feedback from users

[2022-01-04 17:14] mos379 commented on #14424
I had the same issue, I went with adding the package and deployed a new
version to the google play store

On Tue, Jan 4, 2022 at 10:52 AM alexeygritsenko ***@***.***>
wrote:

[2022-01-04 17:22] brett-estabrook commented on #15006
@jfversluis - I'm having this issue too, is there anything more you need to investigate?

[2022-01-04 19:32] pavni1579boosa opened #15023 "[Bug] Scrolling of ListView is not working on an iOS device - Xamarin.Forms"
### Description
Hi! 
I've been having an issue with the ListView in Xamarin.Forms not implementing their own default scrolling properly on iOS devices. I have created an application that has a ListView and has lots of items inside it. But the list view is not allowing scrolling and I am not able to scroll all the items and not able to see or access all the items of the list especially the last ele

[2022-01-04 20:46] drasticactions commented on #14010
@dirivero

There is a bug in Forms Hot Reload that breaks virtualization by invoking every element inside of a listview. You can see this in the Live Visual Tree by the number of items that are added. The number reflects the in-memory objects, so when it increases, that's in memory.

The problem we have now is that there is no way to support Hot Reload in List View otherwise unless the Forms team

[2022-01-04 21:29] FabriBertani commented on #10977
Apparently this is the issue, I have removed the EmptyView from my CollectionView too and now the page renders correctly.
As a workaround I had to use a converter to check if the list is empty and show/hide another view with the content of the  EmptyView.

I hope they fix this issue in MAUI, because it seems that XF is completely abandoned by Microsoft.

[2022-01-04 22:38] Lizcq11 commented on #14975
@jfversluis Thanks for your response, I have created a repo with an example of how I am implementing the gradient and the shellnavbar renderer, you can check out both projects Android and iOS and see the behavior.

https://github.com/Lizcq11/ShellNavbarRenderer

[2022-01-04 22:49] xleon commented on #4478
I'm glad my hack helped you out but how is this issue closed? Is there a fix anywhere?

[2022-01-04 22:56] FabriBertani commented on #12972
Well, I've found a workaround for this issue too:

On the xaml page set the `NavBarIsVisible` to true

`Shell.NavBarIsVisible="{OnPlatform Android='False', iOS='False', UWP='True'}"`

And then in the code behind

[code]

But I'm still not able to hide the back button.

[2022-01-05 10:47] SuNNjek opened #15024 "[Bug] CoerceValue() does nothing"
### Description
The CoerceValue() method introduced by #8097 doesn't seem to do anything anymore (don't know if it ever did).

I assume this has to do with the fact that the method just calls the handler without actually doing anything with the return value as you can see here: https://github.com/xamarin/Xamarin.Forms/blob/25035af06e674dd05aaac7b11f45dbbc9a93576a/Xamarin.Forms.Core/BindableObject.

[2022-01-05 10:48] InquisitorJax commented on #14122
@jsuarezruiz
 Just a heads up here - we're still getting reports of this crash on App Center, even after upgrading Forms >= 2196
Stack trace as above:
Shell.GetNavBarIsVisible (Xamarin.Forms.BindableObject obj)
ShellSectionRenderer+NavDelegate.WillShowViewController (UIKit.UINavigationController navigationController, UIKit.UIViewController viewController, System.Boolean animated)
(wrapper managed-

[2022-01-05 12:54] awasilik commented on #2137
Any update? Issue still exists...

[2022-01-05 14:33] Stratosf commented on #5973
I also have the same issue on FlayoutPage (without Shell)! I want to set IsGestureEnabled="False" to disable swiping but keep the hamburger menu button functionality as normal. Any possible solution? @mputnick

[2022-01-05 14:47] hao0522 opened #15025 "[Bug] [iOS] Button's background use GradientBrush as StaticResource will cause MainThead Stuck"
### Description
When create GradientBrush Resource in xaml (both LinearGradientBrush and RadialGradientBrush),
and use the StaticResource markup extension counsum the brush as button's background,will cause the mainthread to get stuck few seconds(according to the number of button).

If set the button's background to gradientbrush directly,there is no problem.
[code]
If create color Resourecs ,and

[2022-01-05 15:41] Lizcq11 commented on #14975
@jfversluis Thanks for your response, I have created a repo with an example of how I am implementing the gradient and the shellnavbar renderer, you can check out both projects Android and iOS and see the behavior.

https://github.com/Lizcq11/ShellNavbarRenderer

[2022-01-05 15:58] #13093 closed

[2022-01-05 15:58] #13173 closed

[2022-01-05 15:58] #13359 closed

[2022-01-05 16:11] pavni1579boosa commented on #15023
Hello Gerald,

Thank you for getting in touch with me and letting me know about this. I understand what you are trying to say I am currently working on it to give you a zip file or some source code to replicate that issue I will soon be adding that to the bug ticket I have created. I will try to give you more details making sure I am not exposing a lot or a major part of the project which I am not

[2022-01-05 16:14] jfversluis commented on #15023
I understand that you can't just send me the project and even if you could, I can't look at it because of the potential legal issues :)

That is why I would ask you to either share relevant snippets of code, for example: how is your layout built up? Or try to start a new Xamarin.Forms app and start copy and pasting things into that new app one by one until you see the problem happening. That can a

[2022-01-05 16:15] dirivero commented on #14010
Hi @drasticactions, thanks for getting back on this one.

I understand why you picked option 2 if it behaved like that, but the problem is that even if the list has **one element**, thousands of cells are created (I included the sample code that breaks below).

Would it be possible to make it work as you describe? Like it only instantiate the actual number of cells required by the `ItemsSource`?

[2022-01-05 16:18] pavni1579boosa commented on #15023
Sure, that works for me.

I can start in that direction. I can see if I can somehow to create a new template app and modify the app just enough to reproduce the issue. I will post that to the bug as soon as I am ready with it.

Is there any time limit that I have to keep in mind to post that reproduction project to the ticket so that the priority of the ticket is not reduced and it is not thrown i

[2022-01-05 16:49] drasticactions commented on #14010
Could you try turning off XAML Hot Reload and see if you hit the same behavior? If it still does, then it's unrelated to XAML Hot Reload. If it doesn't and it works, I'm pretty sure it's the issue I described. If that's the case, you don't have a way to work around it beyond turning off XAML Hot Reload or using "Full Page". IMO, I would file a VS Feedback issue for it so we can talk about it again

[2022-01-05 17:12] sady4850 opened #15026 "[Bug] [macOS] Rendering Line shape crashes the app in case xCode 13.2 installed"
### Description

With Xcode 13.2 installed, any Xamarin Forms app that uses Line shapes crashes immediately when the line is rendered.

### Steps to Reproduce
1. Make sure xCode 13.2 is installed
2. Add a Line shape in XAML (or in code)
3. Run app
For example, this page will crash the app:

[code]

Exception thrown: `Could not initialize an instance of the type 'CoreGraphics.CGPath': handle is nul

[2022-01-05 19:19] NunoBem commented on #11499
Would be a first for me! Feeling very "noob" but will search how to contribute.

[2022-01-05 19:28] mputnick commented on #5973
@Stratosf my previous comment solve your problem. You should add custom renderer, hamburger functionality will remains.

[2022-01-05 21:25] dirivero commented on #14010
In Full Page mode or w/o Hot Reload it works fine.

I've submitted the problem to VS so you can have the follow up conversation with your team. I believe that considering the current state it would be better to ignore ListViews completely when Changes Only mode is turned on. If possible, they could be ignored only when virtualized by checking the CachingStrategy attribute. Otherwise the App become

[2022-01-05 23:08] deepak-surya opened #15027 "[Bug] Android App Crashes (Only in Android 12 - SDK 31) when trying to inflate a Tabbed Page after a WebView"
### Description

### Steps to Reproduce

1. Set any Page as the Main Page.
2. Have a Xamarin WebView Render in this Page.
3. On the WebView Navigated Event, Set the Main Page of the App to be a Tabbed Page / AppShell
4. Crash Happens when trying to inflate the Tabbed Page

### Expected Behavior
The application shouldn't be crashed

### Actual Behavior
The Application is getting Crashed (This happe

[2022-01-05 23:40] activa commented on #14986
Why does this bug still have the tag s/unverified ?

[2022-01-06 03:51] Tommigun1980 commented on #14429
Hi @jsuarezruiz! Thanks for fixing so many issues in Xamarin.Forms!

I was wondering if you could have a look at this issue? The CollectionView is still broken for me, which has made me stop developing my application until it is resolved.

The bug comes and goes. The issue started to happen a few months back and everything was fine at first, but suddenly after a restart of my app (without anything

[2022-01-06 03:53] Tommigun1980 commented on #14429
It's broken for me both in debug and release. It's random, sometimes it works and sometimes it doesn't. I think you were just lucky in debug and unlucky in release.

[2022-01-06 03:55] Tommigun1980 commented on #14429
@jsuarezruiz I am certain that you were just unlucky that it didn't happen for you in that version. The bug is random. It may work for a few weeks and then stop working, even with the same code base and same content. I suspect it's the magical constant mentioned at https://github.com/xamarin/Xamarin.Forms/issues/14429#issuecomment-1006263601 that is at fault.

[2022-01-06 03:58] Tommigun1980 commented on #14967
I think you should just give up on using the CollectionView. It just doesn't work as things like these make it impossible to use it. It is the most buggy piece of software I have used in my life.

[2022-01-06 05:31] mcguu opened #15028 "Is it available to write a view to a projector?"
I want to write a `View` to a projector or a external display.

which means View A to the projector A and View B to the Display B?

[2022-01-06 11:01] #12603 closed

[2022-01-06 11:24] cakmak-serkan commented on #14418
its work thank you very much

[2022-01-06 11:30] DamienDoumer commented on #14311
I still have this bug in version 5.0.0.7775 of Xamarin Forms

[2022-01-06 11:35] jfversluis commented on #14986
@activa don't worry about the tags too much :)

@sady4850 will look at macOS as well!

[2022-01-06 11:51] jfversluis commented on #14986
So, while looking into this I can't reproduce anymore with the very latest version of Xcode (Version 13.2.1 (13C100)) and Xamarin.iOS (15.2.0.17) for both iOS and macOS. Would you be able to try it with all the latest versions?

[2022-01-06 11:59] jfversluis commented on #11499
@NunoBem let's make it a 2022 goal ;) Let me know if you need anything

[2022-01-06 12:09] jfversluis commented on #15015
Just to be sure; with the last known good version I mean a version of Xamarin.Forms, not your app :) But I understand that you never noticed before at least. This will help us determine if this is a regression or not.

The template stuff is helpful though, thanks!

[2022-01-06 12:50] jfversluis commented on #15023
The time you take won't matter, of course other than: as long as I don't have a reproduction I won't be able to look at it. If we do have the reproduction, I can't make any solid promises. Since it seems to be very specific to you and you're the only one impacted the priority might not be that high. But make sure to ping me and I will try to have a look asap :)

[2022-01-06 12:51] jfversluis commented on #15028
I'm very sorry but I have no idea what you are talking about :)

Also I don't think issues are the best place to ask questions, please use Discussions, Stack Overflow or the MS Tech Community Forums. I do think you'll also need to add some details there if you want to get useful answers. Good luck!

[2022-01-06 12:51] #15028 closed

[2022-01-06 12:53] jfversluis commented on #15027
It would be very helpful if you could get the relevant pieces into a new Xamarin.Forms project and create a reproduction for us to look at. Would you be able to do that?

At the very least I would love to get the stacktrace as text instead of images.

[2022-01-06 13:36] Muthukumaradappt commented on #5132
Hi @808multimedia  did you find any solution for this?