[2018-06-20 17:50] jsbakker commented on #1589
@rmarinho I have limited availability for verifying this right now; I have a new employer, am no longer in UWP development and I don't own a copy of Windows at home. I will see what I can do by the end of this week.

Otherwise, the .zip I attached contains a 100% reproducible VS solution and a readme.md explaining all the required setup and commands in detail for reproducing the issue.

[2018-06-20 18:12] Nixon-Joseph opened #3100 "ListView item Context menu (android) behind popup"
### Description
I have a full screen popup/modal with a listview in it, and I tried adding a context menu to the items. It technically works, however the context menu shows up behind the popup/modal, so it's useless.

### Steps to Reproduce

1.  Create full screen popup/modal containing a list view with context menu on data template
2.  Push popup/modal to popup stack
3.  Open context menu on item

[2018-06-20 18:35] bmacombe commented on #1673
I could probably take a look at it, but I'm fairly busy at the moment.  Not sure how quickly I would get it done.

Is there any decision on if to just do the simple color and radius around a pin or something else?

[2018-06-20 18:40] AntRemo commented on #2041
I too am getting the same error, pretty consistently in my GooglePlay Pre-launch reports. With what I believe is an identical stack trace.

Annoying part is, when I try to reproduce the exact steps, as the test recording video, it does not crash for me :(

Here is a logcat trace.

06-20 09:18:58.236: I/MonoDroid(8313): System.ObjectDisposedException: Cannot access a disposed object.
06-20 09:18:58

[2018-06-20 18:49] LynoDesu commented on #1675
@amrkamal1993 @maherzaidoune
See gist here:
https://gist.github.com/LynoDesu/b29aaec1c119baaabfdba4f4a89bd3f4

[2018-06-20 18:53] samhouts commented on #2393
[Issue2393.zip](https://github.com/xamarin/Xamarin.Forms/files/2120648/Issue2393.zip)
with sln file

[2018-06-20 18:56] dotMorten commented on #1673
@bmacombe I think the better and more flexible option is to allow people to draw a polygon and/or polyline, and not focus so much on a radius circle. You could use the polygon approach to create that circle.

[2018-06-20 19:11] bmacombe commented on #1673
@dotMorten  To be clear are you thinking let them draw a polygon in screen coordinates and just draw that or in map coordinates?

[2018-06-20 19:34] dotMorten commented on #1673
Map coordinates. Screen units makes no sense in this context.

[2018-06-20 19:40] pauldipietro commented on #3094
https://github.com/mono/monodevelop/issues/5121

[2018-06-20 19:40] #3094 closed

[2018-06-20 19:49] PureWeen commented on #1589
I didn't run with the ruby version of these but instead added a selenium project

With 2.5.1 I get this exception
[code]

With 3.1 pre 4 it clicked the button and passed and with our latest internal 3.1 build it also clicked the element and passed

Here's my project using a non ruby testing thing
[LabelClickable.zip](https://github.com/xamarin/Xamarin.Forms/files/2120819/LabelClickable.zip)

@samh

[2018-06-20 20:27] samhouts commented on #1589
That looks very promising! Nice work @PureWeen! I think we can go ahead and close this issue as resolved. @jsbakker (or anyone else with a similar issue): if you find that the issue is not resolved, please feel free to reopen it! Thanks, everyone!

[2018-06-20 20:27] #1589 closed

[2018-06-20 20:29] jsbakker commented on #1589
Thanks @PureWeen !

[2018-06-20 22:31] kingces95 commented on #3100
@Nixon-Joseph If you could attach a reproduction we'd appreciate it.

[2018-06-20 22:33] kingces95 commented on #3096
@acastr7 if you could attach a reproduction solution, we would appreciate it.

[2018-06-20 22:34] kingces95 commented on #3080
@paleicikas If you could attach a reproduction, we'd appreciate it.

[2018-06-20 22:38] kingces95 commented on #3064
@anirugu Could you use Camtasia to capture a video of the steps you take before it crashes as well as attach the solution?

[2018-06-20 22:43] kingces95 commented on #3072
@eric99r If you could attach a reproduction, we'd appreciate it.

[2018-06-20 22:43] kingces95 commented on #3068
@bijington if you could attach a reproduction, we'd appreciate it.

[2018-06-20 22:44] PureWeen commented on #3080
@paleicikas  is the scrollview part of a listview at all?

[2018-06-21 00:02] samhouts commented on #2393
@Magendanz @nd-srogers Do you see this issue on emulators, or just devices? Is it only on 8.1, or have you seen it on different versions of Android?

[2018-06-21 00:08] PureWeen commented on #2624
@bmacombe   can you try the 3.1 release that was just pushed to nuget?

If you're still seeing a layout difference there between 3.0 and 3.1 can you open up a new issue?

[2018-06-21 00:18] nd-srogers commented on #2393
@samhouts I see the issue with the solution you posted on an Emulator running 7.1 or 8.1, and when I deploy it to my Samsung S8 running 8.0.

I do not see it running on my S8 when using Live Player.

I used the `Navigated` event on the webview to confirm the issue is happening:

    protected override void OnStart()
    {
        // Hand off to website for sign in process
        var view = new We

[2018-06-21 00:27] nd-srogers commented on #2393
Yes, different PID but same message, along with `Attempt to remove non-JNI local reference, dumping thread`:

![image](https://user-images.githubusercontent.com/33408863/41691383-ad7e277e-753d-11e8-82c9-581cb2586e9a.png)

[2018-06-21 00:31] POFerro commented on #3061
Hi PureWeen,

Thank you for your quick answer. That solved it.

Best regards
POFerro

[2018-06-21 00:32] #3061 closed

[2018-06-21 01:17] bmacombe commented on #2624
@PureWeen Looks good in 3.1.0.583944!

![image](https://user-images.githubusercontent.com/15127788/41692632-e6c66464-74c6-11e8-96ce-8fab9751b1e7.png)

[2018-06-21 01:20] rraallvv commented on #2423
I tried upgrading to latest XF (3.1.0.583944) and set `BorderColor` and `BackgroundColor` to `White` in XAML and also from a custom renderer, it didn't make the shadow appear though.

[2018-06-21 03:34] schemburkar commented on #2584
@PureWeen I tried with 3.1.0.561732-pre4 and the issue is still present. I can see that 3.1.0.583944 got released few hours ago, I will test using those bits today.

[2018-06-21 03:53] SudeepSingh1502 commented on #2624
This bug is resolved in latest xamarin forms version 3.1 :)

[2018-06-21 04:04] PureWeen commented on #2624
Closing for now @Legolas87  let me know if the issue isn't resolved for you

[2018-06-21 04:04] #2624 closed

[2018-06-21 05:59] jameslavery commented on #2831
Could this be related to Xcode versions? See my post on the forum here:

https://forums.xamarin.com/discussion/128330/xcode-9-4-1-seems-to-break-styles-on-ios#latest

[2018-06-21 09:00] sescalada opened #3102 "[GTK] Display Alert ignoring some AlertArguments"
### Description

### Steps to Reproduce

1. Run Xamarin.Forms.ControlGallery.GTK
2. Navigate to DisplayAlert gallery
3. Click both Alert Override buttons

### Expected Behavior
- For button 1, There should be a cancel button with "TheCancelButton" text.
- For button 2, There should be an accept button with "TheAcceptButton" text and a cancel button with "TheCancelButton" text.

### Actual Behavior

[2018-06-21 09:07] johndbell commented on #1353
We've  been experiencing this crash on iOS 11.3 but have had no instances reported for nearly 3 weeks. I'm wondering if 11.4 has fixed it?

[2018-06-21 09:31] LynoDesu commented on #1675
How have you implemented it? With my code, you need to use the custom control BottomNavTabPage instead of the TabbedPage:

`<?xml version="1.0" encoding="utf-8" ?>
<controls:BottomNavTabPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:views="clr-namespace:MyProject.App.Views;assembly=MyProjects.App"

[2018-06-21 09:46] nhdanh commented on #1675
How can I add Badge Text in bottom tab ?

[2018-06-21 09:50] sander1133 commented on #1373
Is there any news or progress on this point?

[2018-06-21 10:00] duzenko commented on #1520
Broken by https://github.com/xamarin/Xamarin.Forms/issues/1520

[2018-06-21 10:07] amrkamal1993 commented on #1675
@LynoDesu  thx it works finally !! ^_^

[2018-06-21 10:08] amrkamal1993 commented on #1675
@nhdanh  https://github.com/xabre/xamarin-forms-tab-badge
this may help you :)

[2018-06-21 10:10] nhdanh commented on #1675
@amrkamal1993 : thank you, but I try this plugin. It not add badge text when I use Bottom bar.

[2018-06-21 10:12] amrkamal1993 commented on #1675
@nhdanh  tab is still the same as top one it should work with the new feature .. bottom tab placement

[2018-06-21 10:12] rmarinho commented on #2798
Hi @crazynolde just had a look with your sample and it works fine in all devices and sims i tested.

make sure you clean the bin/obj folders and remove the old app from the device before testing
<img width="907" alt="capture_toolbar_items" src="https://user-images.githubusercontent.com/1235097/41713023-f11453d6-7543-11e8-9073-580c206364a0.PNG">

[2018-06-21 10:15] nhdanh commented on #1675
@amrkamal1993  when I set On<Xamarin.Forms.PlatformConfiguration.Android>().SetToolbarPlacement(ToolbarPlacement.Bottom). It not render Badge text. I remove this setting bottom. It will display Badge text

[2018-06-21 10:27] RathanakumarSekar commented on #2573
Hi @PureWeen,

I have attached the call stack image for your reference. In that EditText focus changed override method called continuously when placed inside Listview.
![screen shot 2018-06-21 at 3 53 29 pm](https://user-images.githubusercontent.com/36629214/41713779-d136f1cc-756b-11e8-81f6-930e12c0a441.png)

[2018-06-21 10:42] nbevans commented on #3065
I am wondering if this is related to this issue:

We have an issue where after scrolling rapidly via the trackpad's two-finger scroll gesture the scrolling becomes defective across ALL ListView's in the app (some ViewCell based, some native ICellRenderer based) and no longer does any ListView content actually scroll. The scroll bar itself moves but it is not moving the content.

The only way to ac

[2018-06-21 10:57] sinappsys commented on #2951
News?

[2018-06-21 11:07] duzenko commented on #1520
What is the purpose of LastMoveToRegion? Is this the proper place to discuss why we need it and consider to remove it? My workaround of this bug is to copy MapRenderer.cs to my project and remove both references of Element.LastMoveToRegion. Then it does not lose user's zoom/rotation on device rotation, etc.

[2018-06-21 12:04] raymondjstone commented on #2831
The issue predates the Xcode version that is causing you issues and seems more related to the rendering process used by Xamarin. My guess is that the length of space needed by a label is being calculated as if the accessibility text is visible. No styles are affected and no control other than label so not relate to styles at all as far as I can see (and I use styles extensively in the app for acce

[2018-06-21 12:19] alexrainman commented on #3029
SelectedItem is not on my original control. @samhouts can you point me out where/how this was implemented?

[2018-06-21 12:28] alexrainman commented on #3039
Placing a ListView inside the CarouselView has never been a problem, actually it has been the other way around: placing a CarouselView inside a ListView cell is source of issues.

[2018-06-21 12:30] alexrainman commented on #3058
@samhouts there is a lot of code refactoring and code moved from one place to another. My original code was done in certain way after hours of testing how the each platform specific controls behave. This can be the result of that.

[2018-06-21 12:32] mseamari commented on #2085
Hi,

i am also running against this exact same issue, i was wondering when you will actually pick this up

[2018-06-21 13:02] Yuvaraj-Syncfusion opened #3105 "Unable to hide the scrollbar visibility of ScrollBar in Xamarin Forms."
Hi Xamarin Team

### Description

We have found a strange issue in XF- Android platform: The 'HorizontalScrollBarEnabled' property doesn't work in latest Xamarin Forms version (v 3.1.0.583944). In Write render the ScrollView to set this property as false is not reflecting in the view.

Here we have loaded ScrollView (Horizontal orientation) in StackLayout with labels

### Steps to Reproduce

1. Ru

[2018-06-21 13:11] hajarrashidi commented on #2695
I get same problem. Can i turn off the csslinter will it solve the problem?

[2018-06-21 13:20] mattrichnz commented on #3039
@alexrainman
I'm sure that's the case, but in this case placing a `ListView` inside the `CarouselView` causes the problem. This is repeatable with the latest version of CarouselViewFormsPlugin too.

[2018-06-21 15:47] crazynolde commented on #2798
Hey @rmarinho thank you for checking my demo project.

As it turns out, my instructions to reproduce the issue were not correct. First you have to switch the tab page, then the toolbar turns overlapping. Sorry about that inaccuracy. I made a video to clarify the steps. I hope you can now reproduce the issue as well.

[video.zip](https://github.com/xamarin/Xamarin.Forms/files/2124367/video.zip)

[2018-06-21 16:17] chrisgate commented on #2695
Honestly i want to wait till 3.1 is release to start using css...............but i guess if u are using it on new project it wont give this error..............u get it most time when u update to 3.0

[2018-06-21 16:20] PureWeen commented on #3065
@nbevans  that issue will most likely be resolved by this PR
https://github.com/xamarin/Xamarin.Forms/pull/3060

[2018-06-21 16:43] rboyette commented on #2405
Seeing this currently in Xamarin.Forms v3.0.0.561731 on iOS

[2018-06-21 16:46] acastr7 commented on #3096
@kingces95 I think it would help to look at this https://github.com/jsmarcus/Iconize/blob/c05affcf5254d9562efde6da80b35fe5c64273b7/src/Plugin.Iconize/Platform/Android/Renderers/IconTabbedPageRenderer.cs#L61.
Before when we wanted to access the toolbar layout, we could find it because Xamarin.Forms registers the ID for the layout. Now that there is a bottom navigation view, there is no way to easil

[2018-06-21 17:12] peterfoot opened #3106 "[Enhancement] LineBreakMode for Button"
##Summary
Add LineBreakMode (as currently supported on Label) to the Button control to specify text wrapping/trimming behavior. I've created an implementation as an Effect here:-
https://github.com/inthehand/InTheHand.Forms/blob/master/InTheHand.Forms/ButtonLineBreakModeEffect.cs

##API Changes

Addition of LineBreakMode property on Button. Use existing LineBreakMode enum.

##Intended Use Case
All

[2018-06-21 17:18] PureWeen commented on #1790
I tested the sample I made in 2.5 and 3.1 and for me this now works in 3.1

[2018-06-21 17:18] #1790 closed

[2018-06-21 17:31] samhouts commented on #3106
related to #1668

[2018-06-21 17:51] PureWeen commented on #1869
The image url in the original repro seems totally broken at this point I can't get that one to load in a browser or netstandard or PCL

that being said I just found some other url and that failed to load images on 2.5
I then updated the PCL sample to 3.1 and all the images loaded there

If my assessment seems wrong please let me know and attach a 3.1 repro

[2018-06-21 17:51] #1869 closed

[2018-06-21 17:57] #3102 closed

[2018-06-21 18:02] jsuarezruiz commented on #2987
Work in progress: [https://github.com/jsuarezruiz/Xamarin.Forms/tree/feature/2987-gtk-memory]( https://github.com/jsuarezruiz/Xamarin.Forms/tree/feature/2987-gtk-memory)

[2018-06-21 18:14] samhouts commented on #2393
I think the `Attempt to remove non-JNI local reference, dumping thread` message is due to this: https://stackoverflow.com/questions/32911238/android-webview-using-gsap-attempt-to-remove-non-jni-local-reference-dumping-t

[2018-06-21 18:37] MappingSteve opened #3108 "ListView item context actions do not display on Android"
### Description

Swipe from right on a ListView item with attached context actions does not display those actions, on Android.

### Steps to Reproduce

1. Download https://developer.xamarin.com/samples/xamarin-forms/UserInterface/ListView/interactivity/
2. Update Nuget components; run. A list of common household items appears.
3. Swipe any item from right.

### Expected Behavior

Context actions a

[2018-06-21 20:08] MappingSteve commented on #3108
I now tested on an actual Moto E4, and the responsiveness is okay.

So presumably on emulator just due to slower update interfering with responsiveness.

[2018-06-21 20:08] #3108 closed

[2018-06-21 20:55] hartez commented on #1423
This was fixed by PR #1576 in 3.0.0.

[2018-06-21 20:55] #1423 closed

[2018-06-21 21:14] solomonfried opened #3110 "ArgumentNullException trying to load a custom font."
### Description
I have an application that runs on UWP, Android and iOS.
My issue is on iOS.
I have a custom font which I have added to Info.plist. The application would throw an ArgumentNullException at startup but was able to continue and the fonts displayed properly. However the application would eventually crash.
If I removed the fonts from the list, the application would start without any exc

[2018-06-21 22:06] hartez commented on #3015
This is a general issue with UWP; multiple `ContentDialog`s cannot be on the screen at the same time. The third-party component you're using (Acr.UserDialogs) )for displaying the Loading dialog is using a `ContentDialog`, and the Forms `AlertDialog` is a subclass of `ContentDialog`. There is simply no way to show an `AlertDialog` while the Loading dialog is displayed.

One option for you might be

[2018-06-21 22:06] #3015 closed

[2018-06-21 22:44] PureWeen commented on #1454
I feel like this one isn't a bug
I tested this behavior on ios/uwp and they all act the same as Android

So either it's a bug for all or a bug for none it seems

@hartez  thoughts?

[2018-06-21 22:47] shanwayne commented on #3039
@alexrainman I'm experiencing the same issue.

[2018-06-21 22:47] philmoz opened #3111 "iOS - UISwitch.Appearance.OnTintColor broken in 3.1.0.583944 update."
### Description

The iOS setting UISwitch.Appearance.OnTintColor no longer works after the Xamarin.Forms 3.1.0.583944 update.

### Steps to Reproduce

1. Set UISwitch.Appearance.OnTintColor in the AppDelegage.cs FinishedLaunching method.
(see https://docs.microsoft.com/en-au/xamarin/xamarin-forms/platform/ios/theme#uiswitch)

### Expected Behavior

On iOS switches show the selected colour when in

[2018-06-21 23:24] Keboo opened #3112 "ScrollView on iOS resets its scroll offset"
### Description
On iOS the `UIScrollView` used to render the `ScrollView` resets its [contentOffset](https://developer.apple.com/documentation/uikit/uiscrollview/1619404-contentoffset) to (0,0) when the size of the ScrollView changes. The examples used here use horizontal scrolling, but the same issue applies in vertical mode, it just takes more effort to re-create the same conditions.
I believe t

[2018-06-22 01:43] myroot commented on #3029
Because `SelectedItemProperty` BindingMode is OneWayToSource.
https://github.com/xamarin/Xamarin.Forms/blob/9edefd556939d849ca482702f4d3ff51e487aff8/Xamarin.Forms.CarouselView/CarouselView.cs#L131
It does not intended changing by user/source

[2018-06-22 02:22] schemburkar commented on #2584
Issue is still present. @PureWeen tested with the latest bits 3.1.0.583944

[2018-06-22 03:36] PureWeen commented on #2584
@schemburkar  do you have a reproduction at all you can share?

The problem with this type of exception is that it can manifest in a lot of different ways. For example if I create a custom renderer and add a touch handler that I never remove it can cause this exception

What's interesting about your stacktrace is that it's thrown during the dispose call from the page and I don't feel like I've see

[2018-06-22 04:09] AxelUser commented on #2680
Hi there!
I've made fixes for `ScrollView`: added `ScrollOrientation.Neither` and made handling it in `ScrollView`.

[2018-06-22 05:18] bbl-Laobu commented on #2736
The current fix for iOS scrapes away any port passed along in the url.
url="http://192.168.0.33:5000/connect" is evaluated as http://192.168.0.33/connect

[2018-06-22 05:41] nickginis commented on #2087
I am experiencing the same issue as shown in the sample project. Is there any update on when this could potentially be worked on for a fix? Thanks

[2018-06-22 05:43] ashishm29 commented on #3015
@hartez
**The code you suggested i have already tried this works fine.**
_result = await Application.Current.MainPage.DisplayAlert("Alert", "Add Item ?", "Yes", "No");
with
result = await UserDialogs.Instance.ConfirmAsync("Alert", "Add Item ?", "Yes", "No" );_

**But, UserDialogs has issue with this ActionSheetAsync.**
 _var res = await Application.Current.MainPage.DisplayActionSheet("Add Item ?",

[2018-06-22 05:51] drewgillies commented on #2070
Hi @jamiewest: re-iterating @alanmcgovern's request for a failing project. Will close in a few days if no response. Thanks!

[2018-06-22 06:14] Magendanz commented on #3029
Such an implementation would be inconsistent with CarouselPage, ListView and Picker, which all have getters and setters for the SelectedItem property.

[2018-06-22 06:21] ansydor commented on #1393
Any progress?

[2018-06-22 07:23] timrisi commented on #2798
So I updated to 3.1.0.583944 and it PARTLY fixes the issue, but not entirely.  Similar to crazynolde, it appears fine when I first load up the app on the starting page, but as soon as I navigate to another page, it breaks.  If I push a new page with the view controller, I get completely blank toolbar items on the new page, though navigating back to the original page that one still looks fine.  On

[2018-06-22 07:29] ben-powley commented on #2993
This still seems to be an issue in the stable 3.1.0 release. Am I missing something?

[2018-06-22 07:54] deborahdcarlo commented on #1619
The same is happening with me, on different simulators but the more weird is that is also happening when I run the test on app center. Any suggestion, please?
I already tried to restart the emulator, remove the app and do a new build

[2018-06-22 07:56] pfedotovsky commented on #2993
The issue still exist in 3.1.0 package

[2018-06-22 08:16] BradleyEggers commented on #1787
I’m facing the same bug.
(xxxx.csproj failed to build, using old version.)
I had all my code working, and I decided to do some “cleanup,” and I changed the name of a file.
Ahhhhhh…..
I put it all back together, and the iPad is still good, but the Android won’t behave.

[brad's.zip](https://github.com/xamarin/Xamarin.Forms/files/2126808/brad.s.zip)

[2018-06-22 08:17] dstarec commented on #2993
@ben-powley  @pfedotovsky  I had same issue but then I cleaned solution , restarted IDE, cleaned again and it works properly now

[2018-06-22 08:18] davidbritch opened #3117 "Xamarin.Forms.Themes problems"
### Description

We don't have a good story to tell about Pages and Themes. While Pages is a stable release, Themes is still a pre-release.

Users are reporting problems with Themes being optimised out by the linker in release mode. While this can be avoided, some style classes that work fine in debug mode don't work in release mode.

The situation as is can't go on as we are acquiring user ire fo

[2018-06-22 08:27] ben-powley commented on #2993
Thanks @dstarec !

Following those steps made it work for me.

[2018-06-22 11:16] mttbernardini commented on #1887
Thank you @rmarinho for this hint, as a workaround I'm now using a custom renderer (in Xamarin.Forms) with:

[code]

And it's working, however it leaves an extra transparent space at the bottom (with the height of the hidden tabbar) which I don't know how to remove. I think it might be caused by the child view not scaling up with the wrapper.

I'm neither a Xamarin nor an iOS dev expert, do you ha

[2018-06-22 12:01] rmarinho commented on #2798
thanks guys for your patience, seems my fix didn't catch the real issue, I will try to find a better fix.

[2018-06-22 12:06] alexrainman commented on #3029
It can be inconsistent but dont confuse SelectedItem with Position, which i advice to use for what you want.

[2018-06-22 12:10] bijington commented on #3068
@kingces95 I may have jumped the gun early on raising this bug. It appears that it is something relating to my `ButtonRenderer` class that is causing the issue. I have attached a solution in case it is an issue still. I am inheriting from the Xamarin renderer and not interfering with anything Border related (well I don't believe I am) so I wouldn't expect to see this behaviour.

[BorderIssue.zip](

[2018-06-22 12:56] jenscski opened #3121 "Button with background color is incorrect rendered on Android"
### Description
When setting background color on a button, the border/margin/padding goes away, so buttons with background is missing spacing and is larger than the buttons without background color.
### Steps to Reproduce

1.  Set BackgroundColor on a button

### Expected Behavior
That the button keeps its border/margin/padding

### Actual Behavior
The border/margin/padding disappears, and button

[2018-06-22 13:07] solomonfried commented on #3110
I found that the issue was with the string being passed to CreateWithFontName, which needs to be a postscript font name.
I will close this issue.
I still need a way to dynamically load fonts at run time since my app is throwing an ArgumentNullException when I reference the font in Info.plist

[2018-06-22 13:07] #3110 closed

[2018-06-22 14:48] deborahdcarlo commented on #1619
I found the problem for my case. On date pick I need to use a conversion to localtime, as me and apparently  app center too are on a different timezone

[2018-06-22 14:48] RadwanIbrahim commented on #2452
+1 Great feature it will solve a lot of custom UI problems we want to see it asap

[2018-06-22 15:12] KSemenenko commented on #2405
Xamarin.Forms v3.1 has this bug too.

[2018-06-22 15:26] sdebruyn opened #3122 "[Enhancement] Better support for system icons"
### Description

When you want to offer the user the most native experience, true to the platform, you might want to use the built-in system icons. Both Android and iOS support them.

E.g. https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/system-icons/

At the moment, you have to create a custom renderer or effect to achieve this. I feel like this should be a lot s

[2018-06-22 15:32] KSemenenko commented on #2405
@pauldipietro Any updates? I think this bug affects work of lots of people.

[2018-06-22 16:03] markjackmilian commented on #3111
Same bug here.

[2018-06-22 16:19] nbsoftware commented on #2240
Update: it now seems to work as intended, i.e. without me changing anything but the nuget package, with latest XF 3.1.0.583944!

[2018-06-22 16:46] dansiegel commented on #3122
Seems like this would be a good add for the Community Sprint/F100

[2018-06-22 17:37] schemburkar commented on #2584
My app code is on VSTS so might not be possible to share as is, I will try to create a standalone GitHub repo.
Not sure if it would be helpful. This is the Google's pre-launch report video showing the crash.

https://drive.google.com/file/d/1JxdGK-NKfX1YQAiNEVAvUe4Th9lNlLHe/view?usp=sharing

[2018-06-22 17:48] ceblanda commented on #1760
This is still not working with 3.1.0.583944

[2018-06-22 18:03] davidortinau opened #3124 "[Shell] 3bar.png missing for the flyout menu hamburger"
### Description
The resource cannot be found. It works fine if I copy the images manually to the head projects.

### Basic Information

- Version with issue: 3.2.0.599850

### Reproduction Link

https://github.com/davidortinau/Gastropods

Parent: #2415

[2018-06-22 18:07] davidortinau opened #3125 "[Shell] Search bar on iOS is dark and black text is illegible"
### Description
We need control of styling this across all platforms. Placeholder color, entry text color, background color, and the cancel color for sure.

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Screenshots

![simulator

[2018-06-22 19:28] MappingSteve opened #3126 "Entry - add Font Property (Enhancement)"
To be consistent with Label and Button, add a "Font" property, rather than requiring individual setting of Family/Size/Attributes.

Version: Xamarin.Forms 3.0

[2018-06-22 19:52] MarcusSpecht commented on #2299
I am also having this issue, but I have the PanGestureReconizer on the parent of the Listview or the Listview itself. Neither send PanGestureUpdated once ListView was touched. Outside of Xamarin.Forms I would solve this by also listening to handled events or listening to preview events of bubbling events. It would be nice if Xamarin.Forms GestureRecognizers had a property like `bool UpdateOnHandle

[2018-06-22 20:16] kingces95 commented on #3085
Behavior is as described on latest nightly.

Fyi, trying to run on master observed the following build errors:

[2018-06-22 20:20] j4m3z0r opened #3127 "Allow GLES3 in OpenGLView"
### Description

OpenGLView only provides GLES2 support, but GLES3 has been pretty commonplace for quite some time now (it was introduced on iDevices on the A7 chip, which dates back to 2013). Can we add an option to create a GLES3 context instead?

The relevant code looks to be here:

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/Renderers/OpenGLViewRenderer.

[2018-06-22 20:33] kingces95 commented on #3068
Behavior not quite as described on master however visual effect markedly different between UAP and Android when specifying a button boarder color (regardless of Button subclassing). On Android there is no boarder, on UAP there is.

[2018-06-22 20:35] BradleyEggers commented on #1787
Any ideas?  I would love to finish this code.

[2018-06-22 20:36] kingces95 commented on #3073
@rmarinho I'm going to assume you triaged this given you self-assigned it. Lemme know if that's not the case.

[2018-06-22 20:49] samhouts commented on #2299
@MarcusSpecht Your issue is reported in #2296, if I'm not mistaken. We do have plans to improve the GestureRecognizers to prevent such a collision. Thanks!

[2018-06-22 20:51] samhouts commented on #2299
@jemunk Since the change was potentially breaking, you have to opt-in to the fix via platform specific. (see #2669).

[code]

[2018-06-22 22:13] samhouts commented on #3121
Please see the instructions in this comment: https://github.com/xamarin/Xamarin.Forms/pull/1935#issuecomment-375728802. Thanks!

[2018-06-22 22:13] #3121 closed

[2018-06-23 00:00] kingces95 commented on #3077
Behavior is as described on master.

[2018-06-23 00:03] kingces95 commented on #3068
@bijington Would you mind updating the reproduction steps to reflect the results of your investigation? That way, when this bug get to the top of the stack, we know we're addressing your issue. Specifically, what behavior is unexpected in the subclassed button vs non-subclassed button.

[2018-06-23 00:12] kingces95 commented on #3117
Re triage: From a bug triage perspective, we need info from mgmt on how to proceed so that's why I'm parking this in needs info.

[2018-06-23 00:14] kingces95 commented on #3111
@philmoz If you could attach a reproduction, we'd appreciate it.

[2018-06-23 00:37] kingces95 commented on #3105
Request: Support HorizontalScrollBarEnabled & VerticalScrollBarEnabled. ListView2 may address this request.

[2018-06-23 00:40] kingces95 commented on #3112
[Xamarin.Forms.ScrollViewer.Bug-master.zip](https://github.com/xamarin/Xamarin.Forms/files/2129473/Xamarin.Forms.ScrollViewer.Bug-master.zip)

[2018-06-23 01:04] Magendanz commented on #3029
In a world dominated by MVVM design patterns, SelectedItem is much more useful than Position.  (And for consistency, it should really be SelectedIndex, right?)

[2018-06-23 01:42] alexrainman commented on #3029
I am fine with renaming Position to SelectedIndex but that property wasnt designed to be an object but integer and its binding mode should be two ways. The entire architecture of the control depends on that. Maybe thats why it is broken now.

[2018-06-23 01:45] alexrainman commented on #3029
Integer because express the index of the selected item. Two ways because it will be updated when the user swipe or can be changed in VM to update to programmatically change the selected item. Selected item should be an object that will contain the native android or ios selected view or, if possible, the XF view.

[2018-06-23 04:15] darrenasc commented on #2087
Snap! Guys, this is a major issue on a project I'm working on and presents a big risk to the viability of the solution. We would really appreciate some guidance around if/when this will included in a release so that we can plan accordingly.

Thanks,
Darren.
Mobile Solutions Development Manager, Stockland.

[2018-06-23 06:06] AxelUser commented on #2955
@jassmith may you assist me about any UWP project in Xamarin Froms solution to test issues, like `Xamarin.Forms.ControlGallery.Android`?

[2018-06-23 09:42] crazynolde commented on #2798
@rmarinho Did you try out your new fix with my reproduction demo?

[2018-06-23 09:45] gulshan commented on #1789
Have you guys seen this- https://github.com/SteveSandersonMS/BlazorElectronExperiment.Sample ?
Only for desktop though, not mobile platforms.

[2018-06-23 09:54] ncarandini opened #3131 "Add Selected and Unselected events to Maps.Pin object"
## Summary
I'd like to have `Selected ` and `Unselected `  events on `Xamarin.Forms.Maps.Pin` class that fires when the user tap the pin.

## API Changes
Add
- `public event EventHandler Selected;`
- `public event EventHandler Unselected;`

to the `Xamarin.Forms.Maps.Pin.cs` file (and implement it on platforms code).

## Intended Use Case
We already have the  pin `Clicked` event,  but it's actuall

[2018-06-23 11:55] rzakirov opened #3132 "Android 4.1 exception: Java.Lang.NoSuchMethodError: no method with name='isInLayout' signature='()Z' in class Landroid/view/ViewGroup;"
### Steps to Reproduce

1. Run

### Basic Information

- Version with issue: XF 3.1.
- Last known good version: XF3.0
- IDE: VS2017

- Sln: https://github.com/rzakirov/XF31-API16-Excpetion

[2018-06-23 14:29] alexrainman commented on #3029
I really don't understand why such amount of changes in a working code.

[2018-06-23 17:30] Magendanz commented on #3029
I used to develop WPF controls for the [Microsoft Surface SDK](https://www.microsoft.com/en-us/download/details.aspx?id=26716), and we were pretty obsessive about ensuring consistency in our naming conventions and inheritance so that developers could apply their knowledge of existing controls to new ones.  And while the code may work, I believe there's a higher bar for including it in the Microsof

[2018-06-23 18:07] patsadow2 commented on #2930
Any fixes?

[2018-06-23 21:05] rraallvv opened #3133 "Relative constraints modifies the parent dimensions in unexpected way."
### Description

The parent RelativeLayout changes its height and top position if a child is placed at the top right corner and another child at the bottom right corner using constraints relative to the parent.

### Steps to Reproduce

1. Create the following layout in new Xamarin Forms project for **MainPage.xaml**:

[code]

2. Replace the code-behind with the following for **MainPage.xaml.cs**:

[2018-06-24 02:45] Timothy-Liu opened #3134 "Is Version 3.1.0 Released?"
In the document https://developer.xamarin.com/releases/xamarin-forms/xamarin-forms-3.1/3.1.0/, it looks the version 3.1.0 is released. But the lasted build is marked as RC. Is the version 3.1.0 released?

[2018-06-24 10:36] universaldata-eu commented on #2745
tested with Xamarin.Forms 3.1.0.583944
bug NOT solved. with testproject still same behaviour.

[2018-06-24 14:43] EmilAlipiev commented on #3134
yes it is released and there are breaking changes https://forums.xamarin.com/discussion/128514/be-aware-of-breaking-xaml-changes-on-xf-3-1/p1?new=1

[2018-06-24 14:44] EmilAlipiev opened #3136 "Breaking Xaml changes on XF 3.1"
I just wanted to inform you that if you upgrade on XF 3.1 version, you may get xaml errors telling that "member names cannot be the same as their enclosing type". this is a well known C# error if parent and child types have same name

reason for that is code below works in versions before XF 3.1 but returns error on XF 3.1 ... I am not sure if that is supposed to be a bug or a fix of a bug all the

[2018-06-24 17:33] anirugu opened #3137 "breakpoint doesn't hit when I use .net standard"
Here is the code for test and reproduce https://github.com/anirugu/CameraTesting

I am trying to make a app, in app a button clicked and camera opened. camera clicked and files saved.

I write the code, debug it. it was hitting the c# code breakpoint in first few run, later on stop hitting the breakpoint.

I run same code with shared project, it's working but it doesn't execute the code, maybe sta

[2018-06-24 18:57] bijington commented on #3068
@kingces95 I have update the reproduction steps to match what I discovered during creating the sample project. I hope it helps.

[2018-06-24 22:30] philmoz commented on #3111
[XF_3111.zip](https://github.com/xamarin/Xamarin.Forms/files/2131271/XF_3111.zip)

Before 3.1.0.583944 update:
![simulator screen shot - iphone se - 2018-06-25 at 08 26 43](https://user-images.githubusercontent.com/9474356/41824332-e60c7386-7851-11e8-9474-ef70bdf31289.png)

After 3.1.0.583944 update:
![simulator screen shot - iphone se - 2018-06-25 at 08 28 06](https://user-images.githubuserconten

[2018-06-25 01:42] nhdanh commented on #1675
anything else about badge text ?

[2018-06-25 04:04] DennisWeluDts opened #3138 "WebView Navigating event does not work for server redirects on MacOS"
### Description
The Navigating event for a WebView on MacOS only ever fires once even if the server redirects the request to another url. Other platforms will re-trigger the Navigating event.

### Steps to Reproduce

1. Add a WebView to a form on the MacOS platform
2. Set the source to a server URL that has a redirect, e.g. "insights.xamarin.com" (which redirects to https://appcenter.ms/apps).
3.

[2018-06-25 06:04] ashishm29 opened #3139 "[UWP] : DisplayActionSheet Is Hiding behind Loader."
### Description
Reference : #3015  - Please refer last comment.This issue is closed but my problem is still  exist.
please help me solve this problem.

var res = await Application.Current.MainPage.DisplayActionSheet("Add Item ?", "Cancel", "", "YES", "NO"); -- is hiding behind loader.

### Steps to Reproduce

1. Start Loader using Acr.UserDialogs Plugin.
2. Open Alert Popup.

### Expected Behavior

[2018-06-25 06:29] allenliu1030 commented on #2864
Hi Jason, due to our policy, I have shared this link to our customer. And this is not our current status of the issue because we have been working offline on this issue. So I have informed my customer that this issue has already been determined as a bug and shared the link to him.

From now on we will track the bug fix status from this link only since I cannot keep the case open for such a long ti

[2018-06-25 07:32] paleicikas commented on #3080
The same with MasterDetailPageRenderer, thousands of:

<pre>System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.AppCompat.MasterDetailPageRenderer from native handle 0x8090001d (key_handle 0x423b7250).
  at Java.Interop.TypeManager.CreateInstance (System.IntPtr handle, Android.Runtime.JniHandleOwnership transfer, System.Type targetType) [0x0017d] in <26

[2018-06-25 09:15] StephaneDelcroix commented on #3134
the release-candidate was published as stable after going through QA:
https://www.nuget.org/packages/Xamarin.Forms/3.1.0.583944

[2018-06-25 09:15] #3134 closed

[2018-06-25 09:59] syed-pelican commented on #3083
Hi @PureWeen,

Just out of curiosity, did you manage to get James's code working? I'm trying to use his code to remove shifting for our production app using bottom tab bar but failing.

Using latest Xamarin.Forms 3.1 and Targeting Android 8.1

The offending code is :

`FindViewById<BottomNavigationView>(Resource.Id.bottom_navigation);`

Looking at the [renderer](https://github.com/mikescandy/Xamar

[2018-06-25 10:00] StephaneDelcroix commented on #3136
The only thing that changed is that we now creates a field for `x:Name` defined at the top-level XAML element, so it can be accessed from code-behind eventually, and we weren't before.

You could reproduce that behavior with any previous version of XF by having a `Label` or any element in your xaml with a `x:Name="TestPage"' attribute.

We're sorry if it breaks some of your code. After careful con

[2018-06-25 10:00] #3136 closed

[2018-06-25 10:10] EmilAlipiev commented on #3136
@StephaneDelcroix  I agree with that. I only brought to your attention because you should have highlighted it. VS2017 doesnt give me enough information, rather it throws 100s of errors for  a single file. once i restore back to 3.0, all works fine. just for anybody else having this error to reference this issue.

[2018-06-25 10:47] Legolas87 commented on #2624
I confirm, the bug is fixed.

[2018-06-25 10:58] syed-pelican commented on #1675
@LynoDesu Awesome! Your solution just helped made my day! Thanks!

[2018-06-25 11:37] ALIENQuake opened #3140 "Can someone create Example Demo Project with WPF, macOS and maybe Linux Desktop as target builds?"
Hi,

I have simple project created using Windows Forms and exactly the same project created in WPF. All I need is a starting point which will produce simple cross-platform GUI app.

Can someone create Example Demo Project with WPF, macOS and maybe Linux Desktop as target builds? Possible?

[2018-06-25 11:44] #3012 closed

[2018-06-25 11:46] XamHans commented on #2423
Is there no CustomRenderer for Android to achieve a shadow effect?

[2018-06-25 11:51] K232 commented on #3132
See also [https://forums.xamarin.com/discussion/128491/xamarin-forms-android-system-runtime-serialization-dll-so-not-found](https://forums.xamarin.com/discussion/128491/xamarin-forms-android-system-runtime-serialization-dll-so-not-found )

[2018-06-25 11:52] #2895 closed

[2018-06-25 11:59] dinodzakmic commented on #2869
NOTE: If you update System.Runtime.CompilerServices.Unsafe package, please do the following:

**Go to C:\Users%user%.nuget\system.runtime.compilerservices.unsafe\4.4.0, and delete “ref” folder then make a copy of “lib” folder and rename the copy back to “ref”.
Cleanup all the “bin” and “obj” folders in the projects.
Rebuild and run.**

There is an issue with referencing the right .dll when using p

[2018-06-25 12:00] #1716 closed

[2018-06-25 12:38] greenec commented on #3083
@syed-pelican We were having a discussion in https://github.com/xamarin/Xamarin.Forms/issues/1675 and LynoDesu posted a wonderful gist which shows how to inclement a custom renderer for Android to remove shifting.

https://gist.github.com/LynoDesu/64904b6d143892cf14a60a32798a36bb

I believe it's a bit different in that it didn't look for the tabbed pages by Id, but it worked for me.

Cheers!

[2018-06-25 12:46] ceblanda opened #3142 "Regression Issue - Content set after an await is not visible #1760 NOT FIXED"
### This is still not working with 3.1.0.583944

### Description
Android only, Master/Detail window opened from master, Content is blank if set after an await

### Steps to Reproduce

1. Run the attached app.  Label on the detail screen reads "Before the await", then changes to "After the await"
2. Open the Master menu and choose the TestPage option.  This opens the same page as step 1.  The "Befo

[2018-06-25 12:57] pauldipietro commented on #3140
[WPF](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/wpf);
[macOS](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/mac);
[GTK#](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/gtk)

[2018-06-25 12:57] #3140 closed

[2018-06-25 13:20] syed-pelican commented on #3083
@greenec Yup! stumbled upon it and got it working visually. :D

[2018-06-25 13:53] alanmcgovern commented on #2070
Please reopen the issue if you have further information which can help us diagnose and resolve the problem!

Thanks!

[2018-06-25 13:53] #2070 closed

[2018-06-25 15:14] andreinitescu opened #3143 "[Enhancement] [Documentation] Specify XF version"
### Rationale
The documentation does not state which Xamarin Forms version the class/method/property applies to.

Example: The `ReturnType` property of `Entry` is only available in Xamarin Forms v3.1.

https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.entry.returntype?view=xamarin-forms#Xamarin_Forms_Entry_ReturnType

[2018-06-25 15:51] rmarinho commented on #2798
@crazynolde  yes,
@crazynolde  @volcano619  @timrisi  do you mind trying these packages..

[win.zip](https://github.com/xamarin/Xamarin.Forms/files/2133784/win.zip)

[2018-06-25 15:53] PureWeen commented on #3137
Yea it's unfortunate that's needed. The Forms templates will have that included with the next release of VS which should help out the confusion some

[2018-06-25 15:53] #3137 closed

[2018-06-25 16:07] aherrick opened #3144 "Forms 3.1 UWP DisplayActionSheet - The parameter is incorrect. Placement target needs to be in the visual tree"
### Description

I upgraded my Xamarin Forms project to Forms 3.1

In UWP, I'm displaying Action Sheet inside of a static class like below:

`App.Current.MainPage.DisplayActionSheet();`

Forms 2.5 displays the Action Sheet with no issue.

Forms 3.1 crashes.

[code]
https://stackoverflow.com/questions/51026398/xamarin-forms-3-1-uwp-displayactionsheet-the-parameter-is-incorrect-placement?noredirect=

[2018-06-25 16:12] rraallvv commented on #2423
@XamHans [this post](https://alexdunn.org/2018/06/06/xamarin-tip-dynamic-elevation-frames/) describes how to accomplish that by using the elevation property on Android, and a custom ShadowPath on iOS

[2018-06-25 16:56] anirudhagupta opened #3145 "Blank project failed to build in appcenter.ms"
I first test the https://github.com/anirugu/CameraTesting and it's was not working. I try it with a blank project and https://github.com/anirugu/SharedProjectTesting this is also not working.

please check what's going wrong this code, I as It's just blank project created from VS it should work.

Thanks

[2018-06-25 17:28] teejay-87 commented on #2240
I still have the issue even with XF 3.1.0.583944

[2018-06-25 18:08] samhouts commented on #1797
Closed by #2103.

[2018-06-25 18:08] #1797 closed

[2018-06-25 19:21] BradChase2011 commented on #3144
Thats because I presume you are calling it while another page is being displayed?  To get around it in the mean time, use something like this:

    public static class CurrentPage
    {
        public static Page Instance
        {
            get
            {
                Page ret = null;
                if( Application.Current.MainPage.Navigation.NavigationStack != null )

[2018-06-25 19:29] softsan opened #3147 "Xamarin.Forms.Platform.Android.SwitchRenderer.UpdateOnColor () throws NRE Exception on android"
### Description
We updated latest of Xamarin.forms v 3.1.0.583944 and on android 8.0 it crashes with exception details below. We used `switch` in one of the page:

[code]

### Expected Behavior
It should work with `Switch` control.
### Actual Behavior
App crashes on opening that particular page containing the `Switch` control
### Basic Information

- Version with issue: 3.1.0.583944
- Last known g

[2018-06-25 19:50] mohammedwed commented on #1886
I'm having the same issue, is there a solution? or a hack to get around with it?

[2018-06-25 20:07] aalbendin commented on #1675
I tried to update Xamarin.Forms to the latest version and I get this error when I try to set the ToolbarPlacement in my TabbedPage class:

I dont know what im doing wrong, I think this error is related to the versions of the nuget packages. What can I do to resolve it?

[2018-06-25 20:34] LateNiteWorker commented on #3147
The same NRE happened to me when I upgraded to Xamarin.Forms 3.1.0.583944 (from 2.5.x).
Target device: Samsung Galaxy S7, Android 8.

The error happens after I open the page with Switch that has IsToggled=true, and tap on it to turn it off. The NRE occurs during the tap.
In this case, when I open the page, the Switch (when IsToggled=true) is rendered the same as if IsToggled would be false.

On th

[2018-06-25 20:45] PureWeen commented on #3147
This is only an issue when using the non appcompat and will be fixed in this PR

https://github.com/xamarin/Xamarin.Forms/pull/3099

One fix would be to start using AppCompat
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/android/appcompat

But if that's not possible it will be fixed in an upcoming service release.

[2018-06-25 20:45] #3147 closed

[2018-06-25 20:54] PureWeen commented on #1675
@aalbendin  that will happen if something is out of date or just quite isn't building the correct libraries. I would recommend deleting all your bin/obj folders and then rebuilding your project and that should fix it.

A user further up was having the same issue and that resolved it for them

https://github.com/xamarin/Xamarin.Forms/issues/1675#issuecomment-395211876

[2018-06-25 20:59] aherrick commented on #3144
@BradChase2011 Thanks for the thought. Unfortunately it's doing the same thing.

I've published a spike showing the behavior:

https://github.com/aherrick/UWPDisplayActionSheet

[2018-06-25 21:59] jassmith commented on #1527
Closing as fixed in 15.7.1

[2018-06-25 21:59] #1527 closed

[2018-06-25 22:12] #1927 closed

[2018-06-25 22:37] #1342 closed

[2018-06-25 22:50] #1483 closed

[2018-06-25 22:53] jassmith commented on #1473
Closing based on stephanes latest comment

[2018-06-25 22:53] #1473 closed

[2018-06-25 22:57] jassmith commented on #1777
We believe this is fixed in 3.1.0, please re-open if not fixed.

[2018-06-25 22:57] #1777 closed

[2018-06-25 23:14] jassmith commented on #1490
Is anyone able to get this in 3.1.0?

[2018-06-25 23:15] jassmith commented on #1557
This should be fixed in the Shell branch at the very least, can you please confirm?

[2018-06-25 23:16] jassmith commented on #1557
In fact I think this should be fixed in 3.1.0

[2018-06-25 23:31] jassmith commented on #2759
Duplicate of #1557

[2018-06-25 23:31] #2759 closed

[2018-06-26 00:18] pgrho commented on #1490
Our application is getting this Exception in 3.1.0 https://github.com/kokoro-io/kokoro-io-app

[2018-06-26 03:28] DennisWelu commented on #2507
In fact here is the key line in the MasterDetailPageRenderer.cs for MacOS: https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.MacOS/Renderers/MasterDetailPageRenderer.cs#L149

And here is the equivalent line in the MasterDetailPageRenderer.cs for UWP: https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.UAP/MasterDetailPageRenderer.cs#L347

The only

[2018-06-26 03:55] DennisWelu opened #3149 "Master behavior of Popover should be allowed on MacOS desktop"
### Description
MasterBehavior of Popover has no affect to a MasterDetailPage on MacOS desktop apps. The equivalent behavior setting in UWP, for example, still allows the master pane to be toggled visible/hidden. This behavior changed with a merged fix in version 3.1: https://github.com/xamarin/Xamarin.Forms/issues/2507

### Steps to Reproduce

1. File > New > Blank Forms App
2. Add new macOS proj

[2018-06-26 06:31] jlahare commented on #1407
is this issue fixed ?

[2018-06-26 08:56] GyllionElderen opened #3150 "[Android] IsClippedToBounds on (Fast Renderer) Frame not working"
### Description
The property 'IsClippedToBounds' is not working as expected on Frames. When set to false, the frame will still not allow elements to be rendered outside of its bounds. This is only happening with frames that use the Xamarin.Forms.Platform.Android.AppCompat.FrameRenderer renderer. When using the Xamarin.Forms.Platform.Android.FrameRenderer renderer, the problem is fixed, but the sha

[2018-06-26 09:38] kzu commented on #3067
Looping @joj who will follow up shortly.

FWIW, I do have a repro with our cross platform template.

[2018-06-26 09:46] landl0526 opened #3151 "Effect doesn't work when the FastRenderers flag is set."
When define an Effect to set the label's maximum lines, this Effect works fine:
[code]
But after setting a fast renderers tag, this Effect become invalid.

[2018-06-26 10:13] mpanzica commented on #3151
As a workaround, setting the TextView properties when the Element's "Renderer" property changes fixes the issue:

[code]

[2018-06-26 10:48] KaelSuncaster commented on #2584
Random crashes on android 8.1.

Xamarin caused by: android.runtime.JavaProxyThrowable: System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer from native handle 0x7fcbd10ba4 (key_handle 0x95fa57b). ---> System.MissingMethodException: No constructor found for Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer::.ctor(Syste

[2018-06-26 10:54] PinkoAgrawal opened #3152 "Error retrieving parent for item, On new projects itself (˘⌣˘ )"
### Description
I am using Visual Studio MAC Community version with Xamarin.Forms. After creating xamarin forms project I started gettingg errors
**Error retrieving parent for item** I got total 9 errors. I have closed VS, Clean & Rebuild etc..no use. **At least don't show issues in newly created projects.**

### Steps to Reproduce

1. Create xamarin forms project. Update nuget packages.
2.
3.
###

[2018-06-26 11:20] sf-ica opened #3153 "Available screen height calculated wrong when navigation bar is hidden."
### Description

When hiding the navigation bar the available screen height isn't calculated properly.

### Steps to Reproduce

1. Create a page with a Grid layout.
2. Define the following rows:
[code]
3. Add some content.
4. Hide the navigation bar:
[code]

### Expected Behavior

The layout should use the entire page.

### Actual Behavior

There's a gap at the bottom of the page. It has exactly t

[2018-06-26 11:29] PinkoAgrawal commented on #3067
Not getting, do you need that issue link?

[2018-06-26 11:32] davkean commented on #3067
Yes, a link to the issue on VS Developer Community.

@kzu @joj This looks similar to: https://github.com/dotnet/project-system/pull/3496, but TBH unsure write now if Shared Projects are using our Page.xaml rule or UWP's.

[2018-06-26 11:33] PinkoAgrawal commented on #3067
https://developercommunity.visualstudio.com/content/problem/276069/throwing-expection-adding-new-content-page.html

Please check it.

[2018-06-26 11:50] JKennedy24 opened #3154 "[IOS] V3.1.0 Crashes on ios with in RenderPool"
### Description

Xamarin.Forms V3.1.0 Crashes on ios with the following stack trace:

Invalid Cast Exception
"  at (wrapper castclass) System.Object.__castclass_with_cache(object,intptr,intptr)\n  at Xamarin.Forms.Platform.iOS.VisualElementRenderer`1[TElement].Xamarin.Forms.Platform.iOS.IVisualElementRenderer.SetElement (Xamarin.Forms.VisualElement element) [0x00000] in <0aa4434e6c8849f1bca03cc1ef

[2018-06-26 12:15] StephaneDelcroix commented on #3145
please share as much info as you could:
- VS version
- logs

[2018-06-26 12:31] StephaneDelcroix commented on #3152
you probably should report this to https://github.com/xamarin/xamarin-android/

[2018-06-26 13:02] jvoostv1 opened #3155 "CornerRadius is reverted to BorderRadius' default value"
### Description
The CornerRadius property of Xamarin.Forms.Button does not keep its value, when it is set to de defaultvalue of BorderRadius; **5**. When set twice, it will keep its value.
See Button.cs:
https://github.com/xamarin/Xamarin.Forms/blob/2fba18657433d2ec17121a3232dd412b81123c50/Xamarin.Forms.Core/Button.cs#L257-L293

### Steps to Reproduce
1. Create Button
2. Set Button's CornerRadius

[2018-06-26 14:08] PinkoAgrawal commented on #3152
This is Xamarin.Forms project on Xamarin.Android project.

[2018-06-26 14:11] #1900 closed

[2018-06-26 14:11] #3071 closed

[2018-06-26 14:11] #3026 closed

[2018-06-26 14:11] #3087 closed

[2018-06-26 14:11] #3089 closed

[2018-06-26 15:36] MaxFe opened #3156 "SelectionMode None dosn't prevent Animation/MouseOver"
The current implementation only prevents setting the SelectedItemProperty. The onItemPressen animation is active as in SelectionMode=Single. It's the same for MouseOver.

See: https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/ListView.cs -> Method NotifyRowTapped
[code]

### Expected Behavior
1) OnMouseOver shouldn't have any visual effect
2) OnTapped shouldn't have any visua

[2018-06-26 16:11] ravinderjangra commented on #3126
I was checking this but found that it is marked obsolete for Label. so should this also be removed along with adding Font property to entry.
https://github.com/xamarin/Xamarin.Forms/blob/9fe5372c1d80ca8fcff0c4fc397d25f91f6b61d3/Xamarin.Forms.Core/Label.cs#L95-L100

[2018-06-26 16:36] anirugu commented on #3145
@StephaneDelcroix  please tell me how I can help more. you have the code for camera testing and shared project is a just simple project. Do you want to check appcenter. you can test this by taking my code and try to build there under android.

or please guide how I can help better on this issue.

[2018-06-26 16:44] PureWeen commented on #1518
Closing this for now. The issues related to this are
https://github.com/xamarin/Xamarin.Forms/issues/2338 (being worked on)
https://github.com/xamarin/Xamarin.Forms/issues/1355 (already fixed in 3.0+)

1355 is part of the latest 3.1 release so if you're still having this exception and it doesn't look related to 2338 let me know

[2018-06-26 16:44] #1518 closed

[2018-06-26 16:55] crazynolde commented on #2798
@rmarinho @samhouts it seems like we are getting closer to a fix ;)

As you can see on my new video, the separators are missing on first appearance. After you switch tabs, the separators will appear but the tools are not correctly centered anymore.

I hope the bug will be resolved with the necessary care.
[bandicam 2018-06-26 14-38-00-445.zip](https://github.com/xamarin/Xamarin.Forms/files/2138125

[2018-06-26 16:58] PureWeen commented on #2584
@schemburkar  if you want to zip up and email it to me that's also an option shneuvil at microsoft
If not then a repro would be useful.   The interesting thing about your stack trace is that there's a motion event happening during the dispose call

So I'm just curious to see how things are put together

@KaelSuncaster  if you have a small repro that'd be useful or some more information about the p

[2018-06-26 17:07] PureWeen commented on #1490
@pgrho  I'm able to run your sample but can you tell me a login/pwd I can use or steps I can take to see the exception?

[2018-06-26 17:38] jsuarezruiz commented on #3153
Thanks for the detailed description, I'll take a look.

[2018-06-26 18:12] #2138 closed

[2018-06-26 19:50] j4m3z0r opened #3158 "OpenGLView does not notify caller when it destroys GL Context"
### Description

When using an OpenGLView, if it is removed from the screen (setting an ancestor's Content to another view or similar), the OpenGLView will destroy the OpenGL context in the renderer. If you then re-attach this view to the scene, all the shaders, etc, are invalid, since the context was destroyed.  Attempts to use them will cause an error.

As far as I can see there is no way to be

[2018-06-26 20:13] opcodewriter commented on #1518
@PureWeen  Are you sure this issue is related to those two? Otherwise closing this one when there's so many people reporting it doesn't seem a good call. Why not leave it open until everyone confirms it's been fixed?

[2018-06-26 21:26] Gabriehl opened #3159 "[Android] Effects methods are called even when Control is disposed"
### Description

Effects invoke the `OnAttached()` and `OnElementPropertyChanged()` methods even when the Control is already disposed.

### Steps to Reproduce

1. Create a class that inherits from a Xamarin.Forms View (I'll call it "MyView", as I will be mentioning it several times).
2. In `MyView`, create a public property (I'll call it "MyProperty") with a backing BindableProperty.
3. In the `Ap

[2018-06-26 21:29] PureWeen commented on #3159
Probably related
https://github.com/xamarin/Xamarin.Forms/issues/2520

[2018-06-27 01:09] #2422 closed

[2018-06-27 01:40] dotMorten commented on #1775
I made an implementation based on UWP's AutoSuggestBox as I really like this API for dealing with dynamic and non-dynamic lists, telling the difference between selected option and just hitting "enter" on an incomplete option etc. It uses native controls under the covers and works for uwp, Android and iOS.
If that naming and behavior is desirable (not to mention it fragments less away from an exist

[2018-06-27 01:48] dotMorten commented on #1775
I don't get the need for `NoSuggestionsTemplate`.
The normal pattern is to show no drop-down if there aren't any suggestions. Feels like API bloat to me

[2018-06-27 07:37] paymicro commented on #3139
1. Alert should come on top of Loader.

`Application.Current.MainPage` is not changed automatically when the Main page is changed in code.
This page may not be present in visual tree or be present behind another page / dialog (behind the loader).

2. Alert should not close on clicking outside.

\<Page\>.`DisplayActionSheet` shows `Flyout`.

https://docs.microsoft.com/en-us/windows/uwp/design/contr

[2018-06-27 07:53] mattrichnz opened #3160 "[Android] TFS build fails with when specifying VerticalScrollBarVisibility in XF 3.1"
### Description
After upgrading an existing project to XF 3.1-RC and setting `VerticalScrollBarVisibility` on a `ScrollView` in a XAML page, the Xamarin.Android build definitions fails in TFS.
Existing iOS and UWP build definitions work fine.

### Steps to Reproduce

1. Create a Xamarin.Android build definition in TFS.
2. Create a sample project using the latest VS2017 .NET Standard template.
3. A

[2018-06-27 08:12] StephaneDelcroix commented on #3160
we'd need a repro project for this.

this looks like an error that XamlC would throw, indicating that there's a mismatch between the Build.Tasks.dll and the XF version. That usually comes from multiple different versions used in the same assembly

[2018-06-27 09:03] ashishm29 commented on #3139
hi @paymicro

1) I have single page sample Application, So i don't think so that  it is the case of Changing Application.Current.MainPage.

**_I have tried code behind too, still getting same result:_**

_btnAddMore.Clicked += btnAddMore_Clicked;_
  **private async void btnAddMore_Clicked(object sender, EventArgs e)
        {
            UserDialogs.Instance.ShowLoading("Loading...");

[2018-06-27 09:12] anirugu commented on #3145
@StephaneDelcroix  I test it again with IOS build today
 https://github.com/anirugu/IosTesting
the project is created from VS 2015 4.9

Here is the log from appcenter

https://github.com/anirugu/IosTesting

##[section]Initializing Hosted Agent
Requesting an Agent from the Hosted Agent Pool
Hosted Agent successfully assigned.
Configuring connection settings for Hosted Agent
Starting Hosted Agent
##

[2018-06-27 10:03] MagicAndre1981 commented on #2859
10.0.15138 is lower than 15254 where Win10 mobile hangs. So could this bring .net standard 2.0 support to mobile and we can use Xamarin Forms 3.x when supporting mobile apps?

[2018-06-27 10:30] #3097 closed

[2018-06-27 10:44] Phenek opened #3161 "[Enhancement] ListView 'Orientation', 'AnimationFlowLayout', 'NoBounce', 'UnselectableCell', 'SelectColor' features"
### Description
ListView needs missing features
(Orientation property , NoBounce property, UnselectableCell property, Flow Animation)

We need a customisable List View on smartphones. (RecyclerView and UICollectionView)

### Steps to Reproduce
Implement a ListView
Figure it out that you can't change the Orientation
Realize that you can't stop bouncing when scrolling on IOS
Dawn on that you never g

[2018-06-27 10:46] pgrho commented on #1490
@PureWeen

1. Log in the app using test@kokoro.io / ItIsATest
2. Open menu
3. Choose any channel such as _#private/unit-test_
4. Launch another app.
5. And reactivate the app by home icon (or notification).

The Exception will be thrown in the 5th step, but the frequency depends on the device.

[2018-06-27 11:10] volcano619 commented on #2798
i'm sorry i wasn't tracking this issue,do you guys still have an issue in this ?

[2018-06-27 11:35] StephaneDelcroix commented on #3145
Thanks, the useful part is

[code]

and even more important:

[2018-06-27 12:10] charlesroddie commented on #3161
The orientation request is a dupe of https://github.com/xamarin/Xamarin.Forms/issues/2680 .

The others could get one or more separate issues, but @clovs please think much harder before posting. This is just a stream of consciousness.

[2018-06-27 12:17] aherrick commented on #3144
Just a heads up the answer here I found to be a work around: https://stackoverflow.com/a/51039399/20446

[2018-06-27 12:32] clovs commented on #3161
What about 'AnimationFlowLayout', 'NoBounce', 'UnselectableCell', 'ColorSelection'?

[2018-06-27 12:39] charlesroddie commented on #3161
You haven't described them, haven't described the current status and desired outcome, haven't described what you can do on native platform controls. You mention smartphones and ios without making it clear to what extent your request is phone- or ios-specific.

[2018-06-27 12:59] clovs commented on #3161
First of all i'm sorry for bothering you,
My Issue only refer to ListView.

When I said "Smartphone", is a handheld mobile operating system (know so far IOS and Android)
On native development we use RecyclerView on Android and UICollectionView IOS for hight customisable Horizontal/Vertical ListView. so forget about scrollView.

My issue is about performing ListView Component by adding
a Bounce pro

[2018-06-27 13:04] AmrAlSayed0 commented on #3066
Friendly nudge here, is there any plan for this issue? I looked at #1222 but there was no mention of Padding and Margin.<br/>
Also, why is this issue labeled Enhancement rather that Bug? I mean it seems acceptable that if the flow direction was to reverse the padding and margin should too. I can't think of a case where you wouldn't want that behavior. Of course, I could be wrong.

[2018-06-27 13:36] MegaMileyCode commented on #1582
I just converted our app to use only Drawable Vector Graphics and I'm experiencing the same issue. The images are shown as expected but the log is filled with these warnings

[2018-06-27 14:06] rmarinho commented on #2004
I m having troubles to reproduce this with the sample attached. Anyone with a better and reliable reproduction ?

[2018-06-27 14:38] davidortinau commented on #1557
I have confirmed this is NOT fixed in 3.1.0.

[2018-06-27 14:39] rmarinho commented on #2732
@RawoofSharief we are looking at this issue, in the meanwhile you can update your  nuget package on 3.0.0  or 3.1.0 and use this, the trick is set the Z-Index

[code]

[2018-06-27 15:57] dansiegel commented on #2415
I'm a bit curious @jsiemens since this view would likely not look right on a Phone, but look great on Desktop and Tablet. Can you expand on how you might expect that to work. Ultimately I'd be tempted to say you're bringing the Region concept into Forms from Wpf. My knee-jerk reaction is that while I love the concept, we risk making an already complex Navigation API require a PhD or at least a gen

[2018-06-27 16:01] RichiCoder1 commented on #2415
@dansiegel At least personally, I'd probably use VSM or some equivalent to move and compact the scroll view on the bottom when below a certain viewport threshold (like GMaps does currently). Would be curiou to see how navigation and state management would work for that though.

[2018-06-27 16:23] stevehurcombe commented on #2415
Navigation: I'm sure that's not an insurmountable problem if you started from the perspective of the user journey and then looked at how the user would expect it to work. The navigation would need to be responsive to the full screen nature of a phone vs a smaller view on a larger screen for example.

The user would 'see' the tablet and smaller view as a single navigation milestone. On a small scre

[2018-06-27 16:42] PureWeen commented on #2732
Hmm this is an interesting one
This originally worked on 2.5 because in 2.5 the Z-Indexes of everything in UWP were set from 1 to N by default

So the border being added in this sample would default as 0 and thus be lower than 1 to N

After this PR https://github.com/xamarin/Xamarin.Forms/pull/1196  the Z-Index is only set if some operation (RaiseChild, LowerChilder, Insert) causes a view to want

[2018-06-27 16:52] PureWeen commented on #1490
@pgrho   that's not working for me

![image](https://user-images.githubusercontent.com/5375137/41988043-31727440-79f8-11e8-92d6-2d86788cde67.png)

[2018-06-27 16:53] #3153 closed

[2018-06-27 17:22] #2845 closed

[2018-06-27 17:32] PureWeen commented on #1518
My thought process for closing this was

- The initial description doesn't provide reproduction
- #1355 has already been fixed
- Following #1490 to the original Xamarin Forums posts indicates the issue was caused by people calling LoadApplication too many times (which has also been fixed) .  #1490 is coming from *OnDestroy* which there is no repro for so I'd like #1490 to represent the *OnDestroy*

[2018-06-27 17:38] anirugu commented on #3145
Thanks,

Ios build was start working after change it to release. I will try for android, give me sometime.

[2018-06-27 18:20] Keboo opened #3167 "Proposal: Change default binding mode of Span Text property to OneWay"
Xamarin.Forms [3.1](https://developer.xamarin.com/releases/xamarin-forms/xamarin-forms-3.1/3.1.0/) [introduced BindableSpan](https://github.com/xamarin/Xamarin.Forms/pull/1850) 👍.
As part of that work is was [suggested](https://github.com/xamarin/Xamarin.Forms/pull/1850#issuecomment-366139567) that the default BindingMode be set to OneTime because OneTime bindings are cheaper.

I would like to sta

[2018-06-27 18:29] vbisbest opened #3168 "requestLayout() improperly called by md51558244f76c53b6aeda52c8a337f2c37.FormsTextView"
### Description
Getting infinite console messages when adding items to an ObservableCollection that is tied to a ListView
### Steps to Reproduce
1. Create a ListView and have its ItemSource set to an ObservableCollection.
2. Start adding items to your ObservableCollection.
3. Many console messages start printing per second and never stop

### Expected Behavior
Should not do this

### Actual Behavi

[2018-06-27 18:51] vbisbest commented on #3168
Additional piece of info.  Tried with XF version 3.0.0.561731 and the issue does not occur.  So its something introduced in XF 3.1

[2018-06-27 19:10] paulelong opened #3169 "Image Scale ignored on UWP apps"
### Description

I have a few images with a scale set to .3.  They were showing up correctly on UWP, but I recently updated the xamarin.forms packages and now on UWP only, the scale seems to be ignored.

### Steps to Reproduce

1.  Create blank Xamarin.Forms standard.net app
2. Updage Xamarin.Forms package to 3.1.0.583944
3. Add this to XAML
[code]
4.  Run on UWP and Android and see that UWP is la

[2018-06-27 19:33] pgrho commented on #1490
@PureWeen Sorry, it seems to be a unknown server bug. Please retry the steps.

Or use appcenter.ms with following:
1. Register your account https://purivideo.jp/appcenter
2. Launch Chrome in Android Device and browse to https://install.appcenter.ms
3. Install the kokoro.io-Android-app

[2018-06-27 19:40] hartez opened #3170 "False positive from the API change checker"
The API change checker wants to mark https://github.com/xamarin/Xamarin.Forms/pull/3101 as an API change; this appears to be a false positive.

[2018-06-27 21:03] hartez opened #3171 "Xamarin.Forms.SwipeView Spec"
# SwipeView

[Swiping on an element](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/swipe) to [reveal or execute contextual commands](https://material.io/design/components/lists.html#behavior) is an increasingly common paradigm, especially when working with lists.  This view provides support for that interaction.

_Note: Nothing in this specification is guaranteed to be

[2018-06-27 21:07] hartez opened #3172 "Xamarin.Forms.CollectionView Spec"
# CollectionView

The current Forms ListView design and implementations are very complex and challenging to maintain, while often not providing the flexibility that users would like. Because of the complexity of the implementations and the backward compatibility requirements, ListView bugs can be difficult to find and fix.

The goal of the CollectionView effort is to address these problems by simp

[2018-06-27 21:47] hannahdo commented on #2004
Try to add a list view with data template that display images. Open and close the page or switch to other pages. Do it for multiple times. That may reproduce the issue. Thanks

[2018-06-27 22:05] kingces95 commented on #1648
@PureWeen Ur attached repro contains env specific .props file. Not sure what generated it.

[2018-06-27 22:20] PuppyDev opened #3173 "Tap gestures are inconsistently recognized as pan gesture"
### Description
A very fast tap or a rapid series of taps on an UI element will sporadically get recognized as a pan gesture. I discovered even the smallest linear motions while tapping are triggering the pan event instead of the tap event, as if there is some threshold value that is set too low.

### Steps to Reproduce
(Please see attached zip file with sample project)
1. Create a new Blank Forms

[2018-06-27 22:54] kingces95 commented on #1648
@TiBall if I update the samples branch and nugets to latest nightly then I no longer see the exception. If that's not also your experience, please reopen.

[2018-06-27 22:54] #1648 closed

[2018-06-27 23:10] dhaligas commented on #3172
How about Scrolling event to support parallax headers

[2018-06-27 23:13] kingces95 commented on #2464
Exception thrown here: https://github.com/xamarin/Xamarin.Forms/blob/72c8d72d0c5163b7d3187e886eefd41e6e3571e6/Xamarin.Forms.Core/MasterDetailPage.cs#L229

[2018-06-27 23:19] kingces95 commented on #2464
CanChangeIsPresented set to false here...

[code]

[2018-06-27 23:21] kingces95 commented on #2464
Doesn't look like a regression...

[2018-06-27 23:30] rmarinho commented on #2004
@hannahdo what device and api ? can you tell me also the Xamarin.Android version, are using VS or VS4Mac , stable channel updated?
Thanks

[2018-06-27 23:55] programmation commented on #2415
@jsiemens @dansiegel The way I handle this currently is using `ControlTemplate`s. I build my "page"-type content as `ContentView`s and host them in a `ContentPage` (inside a `NavigationPage`) that's appropriate to the platform. Using `ControlTemplates` means I can have multiple bound `ContentViews` (usually in a `Grid` so I can overlay stuff) that get switched on/off based on bindable properties i

[2018-06-27 23:58] hannahdo commented on #2004
Catterpillar CAT S41 (Android V7.0)
I am using VS2017 with latest updates.

By the way you need to scroll the list view if you still cannot reproduce it. That may help. Thanks

[2018-06-27 23:58] samhouts opened #3175 "[Android] Long press on a Button with custom BackgroundColor doesn't fade to the PressedColor"
### Description

If you long press on a native Android button or a default Xamarin.Forms Button on Android, you'll see a slow fade to the PressedColor. Since the Drawable is swapped out on Xamarin.Forms Buttons where the BackgroundColor (or Border, CornerRadius, etc.) are changed, this pressed state animation is not handled.

### Steps to Reproduce

1. Create a Button. Change the background color

[2018-06-28 00:51] MappingSteve commented on #3126
IMHO, not having `Font` on Label would be incredibly inconvenient; much more so than on Entry. Would mean having to separately set fontfamily, fontattributes, and font size, on every label style, and every individual label that chooses to override the base style.

[2018-06-28 01:09] jsiemens commented on #2415
@dansiegel I would simply code it to load different a different shell depending on if the app was running on a phone vs a tablet/laptop/desktop.

[2018-06-28 01:15] dansiegel commented on #3172
There's a lot to love about this.

### FontIconSource

For the FontIconSource though we really do need a way to not use the Unicode value (if we don't want to). If you're looking at a FontIconSource with a value `f370` you have no freaking clue what that is supposed to be.

On the other hand, if I can pick and choose what Icon Font's I'm using and give Forms a way to convert `fa-app-store-ios` to

[2018-06-28 01:34] jsiemens commented on #2415
Yeah, I think that's what I'm after is to be able to just add a page to anywhere within the application. It's weird that Xamarin Forms imposes this limitation when the underlying platforms don't (eg. iOS is just a tree hierarchy of views - you can add NavigationController's view to literally anywhere within the application).

I suppose it's not entirely on topic for this spec, but I mentioned it h

[2018-06-28 02:12] dansiegel commented on #1718
@jassmith now that the spec for ListView2 aka TheRealListView, aka CollectionView is out... one thing I wasn't noticing was the ability to not scroll... it's pretty much one of the key features of the RepeaterView that most of us have implemented and why it typically inherits from StackLayout. My concern would be that this would lead to undesirable behavior. For example with the RepeaterView conce

[2018-06-28 02:52] leeanpeng commented on #1595
@ninaada Here is the workaround working for me, u can try replace the backslash with slash

**System.Reflection.Assembly.LoadFile("fr-CA/APPNAME.resources.dll");**

instead of the workaround mentioned in the bug
System.Reflection.Assembly.LoadFile("fr-CA\\APPNAME.resources.dll");

[2018-06-28 03:17] davidsaldana commented on #2177
Yep, the OneWay fixed it for me...

[2018-06-28 03:21] adamped commented on #3167
I raised this issue initially as I saw this problem coming. Its hard to know that its defaulted to something different and the performance gains, are likely to be unnoticeable in most apps between OneWay and OneTime.

I'm all for setting it to OneWay.

[2018-06-28 06:22] boguslawblonski commented on #3172
Perfect sample that kills current listview is making Calendar control where:
-days (cells) can have many styles :
  as promotion day, birthday, disabled / no sale day/ bank holiday ...
  embedded icons  with different custom fonts in it, cell have shadows if selected, other style when in r
  rage, other when at begin and end of range
-selecting date rages is possible
-month header and customized h

[2018-06-28 06:36] VincentH-Net commented on #3172
This is so much needed in Forms :-) CollectionView would eliminate expensive workarounds, solve limitations and probably improve performance in just about every Forms app I made in the past 5 years. Exactly the right approach too - leverage and expose the power of the native platforms.

If there was only ONE enhancement I could request for Forms, this would be it.

[2018-06-28 07:14] timrisi commented on #2798
I see the same result as @crazynolde.  When the first view is displayed, there are no separators showing.  Switching to a new tab shows the separators but the toolbar items Arne't centered.  They ARE all at least showing in the right section now instead of overlapping each other.

[2018-06-28 07:15] louis030195 commented on #2004
It doesn't only appear on ListView btw.
I changed my UI for some other reason and the bug doesn't show anymore

[2018-06-28 07:31] cyrilcathala commented on #3172
This is truly awesome and long awaited! The API is clean and straightforward (thanks for renaming HasUnevenRows !).

Scrolling events are very much needed, as suggested by @dhaligas. For parallax animations but also to hide floating action button while scrolling for example.

FontIconSource is a good idea. It might be great to provide a default list of icons, with unicode mapped for every platform

[2018-06-28 07:52] NPadrutt commented on #2004
we had this usually when we navigated from the first level of the app (the tab bars) one page down for example into the settings and then back. But it just did occur every 8 time or so. As far as we could find out, it happened when OnNotifyPropertyChanged was called.

In the end we moved away from ObservableCollections and implemented something more event based. Not quite elegant but it works so f

[2018-06-28 08:17] alexhardwicke commented on #3172
This sounds like exactly what's needed. The API looks much cleaner, having multiple views/containers structured this way should help keep the code cleaner and simpler.

My comments so far:

@dansiegel A command when the Remaining Items Threshold is met would be welcome. Not sure it's needed for SelectedItems though - everything you say (notified of changes, what has changed, and even why) is handl

[2018-06-28 08:50] cub-bsi commented on #2809
Layout becomes broken again in 3.1.0 (original issue this ticket described), but items are indeed clickable now (again)! We are back to square one.

[2018-06-28 09:01] bruzkovsky commented on #2798
@rmarinho I can confirm that your custom package fixed the issue for me. I still had it with the latest 3.1.0.583944, then updating to 3.2.0.606565 resolved it.

[2018-06-28 09:20] explorer566 opened #3176 "App crash with Xamarin Forms 3.1"
### Description

In our project we use the PRISM framework for navigation. Migrating to Prism 7.1 and  Xamarin Forms 3.0.0.561731 showed no problems at all but after upgrading to Xamarin Forms 3.1.0.583944 (and also its pre-versions) our App crashes while doing an absolute navigation like:

await _navigationService.NavigateAsync($"/NavigationPage/MainPage/ReportPage", param, false);

### Steps to

[2018-06-28 09:32] aloisdeniel opened #3177 "Bindings to a DynamicObject"
### Description

Binding properties of a DynamicObject to a bindable object doesn't work.

### Steps to Reproduce

1. Create a dynamic view model class

[code]
2. Bind a page to the dynamic view model

[code]
[code]

### Expected Behavior

The `dynamic` value should be displayed on the screen.

### Actual Behavior

Nothing is displayed on the screen and a log appears :

[code]
### Basic Informatio

[2018-06-28 09:49] StephaneDelcroix commented on #3177
as a workaround, bind to an array

[2018-06-28 09:54] aloisdeniel commented on #3177
To an array ? Did you mean `Dictionary<string,object>` with `[key]` accesses ?

[2018-06-28 09:57] StephaneDelcroix commented on #3177
a dictionary is an option, any type implementing the indexer would work too

[code]

[2018-06-28 09:59] krdmllr commented on #3172
I think this is a really great and important feature!
iOS is already using the UICollectionView name, that might lead to confusion and incorrect google results when searching for CollectionView. Is this a problem?

[2018-06-28 10:57] GalaxiaGuy commented on #3172
Just to get it out of the way, I love basically everything about `CollectionView` spec. It might be worth splitting some of the things out into separate issues though, since I have thoughts on them, as I'm sure many others do and I can see the conversations getting hard to follow. For example:

This could be added later, but something like:

[code]

would be useful, to support stacking icons: http

[2018-06-28 11:34] #2393 closed

[2018-06-28 12:11] explorer566 commented on #3176
Now I have an example.

First Tap on "Navigate To Second Page" and then tap on the Icon

[2018-06-28 12:11] #3176 closed

[2018-06-28 12:12] explorer566 commented on #3176
Seems like a bug in a Syncfusion control we are using

[2018-06-28 12:17] AmrAlSayed0 commented on #3177
I was under the impression that dynamic objects don't work on iOS and are not even implemented in Mono due to [platform limitations](https://docs.microsoft.com/en-us/xamarin/ios/internals/limitations). While this page doesn't mention `dynamic` keyword or the `DynamicObject` but [here](https://www.wintellect.com/cant-use-dynamic-c-keyword-xamarin-ios/) and [here](https://www.wintellect.com/dynamic-

[2018-06-28 12:20] ihassantariq commented on #2299
Thanks @samhouts. This one line saved me from a lot of implementation.

[2018-06-28 12:20] andreinitescu commented on #3172
My feedback:

1. I'd not put the selection item capabilities in the CollectionView class. Instead, I'd add an abstract base class ListCollectionView derived from CollectionView which has selection capabilities.
   My idea is to have a CollectionView similar to the ItemsControl in Windows XAML. The ItemsControl takes a Panel instance which positions the items. In Forms, we'll have CollectionView an

[2018-06-28 12:22] ihassantariq commented on #2299
One more thing @samhouts is there a documentation to platforms tweaks like this one?

[2018-06-28 13:16] bmacombe commented on #3105
I don't have time to check it out right now, but I wonder if this is a bug with PR #1910 that I think was just included in 3.1

[2018-06-28 13:33] vbisbest commented on #2619
Any update on this?  I am having the same issue.  I am not hooking any XF events on the text field.   I am only using the delegate methods in the UITextField renderer.   This also only started happening after upgrading XF 2.5 to 3.0.

Renderer:
`public class ChatEntryRenderer : EntryRenderer, IUITextFieldDelegate`

OnElementChanged
[code]

if I comment out the "chateEntry.Delegate = this" code, th

[2018-06-28 13:40] andreinitescu commented on #1718
@dansiegel If CollectionView turns out to be implement how I imagine it, it will work like how ItemsControl works in conjuction with StackPanel in Windows XAML. Which should answer your question regarding scrolling.  See my comment [here](https://github.com/xamarin/Xamarin.Forms/issues/3172#issuecomment-401015625). Like I mentioned there, CollectionView should not have item selection or scrolling

[2018-06-28 13:43] andreinitescu commented on #1718
I think ViewCell should just be DataTemplate, which apparently it's how it will be

[2018-06-28 13:57] vbisbest commented on #2619
More info.  I found that this error occurs when the xaml form is "Disappearing".  So I put in a dirty fix to set the UITextField delegate to null when the form is disappearing.  This workaround seems to do the trick, but not sure why the error is occurring in the first place.

[2018-06-28 14:13] StephaneDelcroix commented on #3177
It's true that Xamarin.iOS does not ship with a DLR, required for a `dynamic` object, and you won't be able to declare a `dynamic` variable and assign it to your subclass of `DynamicObject`.

But, as `DynamicObject` is part of netstandard2.0, I don't see why we shouldn't be able to bind to it (haven't properly investigated through).

On platform not supporting the DLR, it won't probably bring any

[2018-06-28 14:14] syed-pelican commented on #1325
Same here. I just hope this is still being tracked. That stutter is horrid!

Thanks for all the hard works guys!

[2018-06-28 14:31] andreinitescu commented on #3172
5. Can you share more details about RefreshView?
    I assume RefreshView somehoe should map to UIRefreshControl on iOS? How will it work on Android and UWP?

[2018-06-28 14:52] andreinitescu commented on #3172
In case anyone is interested, I made some updates to my first comment above.

[2018-06-28 15:10] bmacombe commented on #3172
I agree with @andreinitescu that it would be good to have a way to have a non-scrolling collection.  I'm neutral on if that means breaking it into multiple classes or possibly having something like a ScrollMode property.  I'll defer to those with a lot more API design experience than myself on that.  But it is fairly trivial to implement your own StackLayout based item list with a DataTemplate or

[2018-06-28 15:20] andreinitescu commented on #3172
@bmacombe I agree with you that it's "simple" to implement a bindable StackLayout, but that's not the point I think. It's a very common functionality, why not have it in the framework? And with some planning, I think it can be done. Like I already said above, it can be solved by just spreading the functionality in two classes, a base class (similar to ItemsControl in Windows XAML) and CollectionVi

[2018-06-28 15:20] adammeaney commented on #3172
I would say the trivial reason to have a non-scrolling option is that some pages need to have a ScrollView for the whole page, and a list of items.

If you do that, right now it is not recommended to put a ListView in a ScrollView. A bindable CollectionView that you could put in there, that still potentially has all the features of a ListView, is something I have had a need for multiple times.

I

[2018-06-28 15:23] bmacombe commented on #3172
@adammeaney That makes sense and I've done similar now that I think about it.

[2018-06-28 15:33] andreinitescu commented on #3172
@bmacombe With some planning, I'm hoping we can get two birds with one stone.
For example, a instance of the CollectionView class in the way I mentioned, if it has no IItemLayout set, it could just be map by the renderer mechanism to a native UIStackView on iOS or StackPanel on UWP or LinearLayout on Android.

[2018-06-28 15:45] andreinitescu commented on #3172
My impression was that a new ListView should aim both fix challenges with existing ListView but also provide a solution to the "RepeatableBinder" thread [here](https://github.com/xamarin/Xamarin.Forms/issues/1718#issuecomment-394780832)

I don't see how putting all the functionality in the CollectionView like the spec here suggests would do the job right.

[2018-06-28 15:50] miroslav22 opened #3179 "Device.IsInvokeRequired throws COMException on UWP"
### Description

Device.IsInvokeRequired throws COMException when calling it from a thread *other* than the main GUI thread on UWP for Xamarin.Forms

Ex thrown System.Runtime.InteropServices.COMException (0x80004005): Error HRESULT E_FAIL has been returned from a call to a COM component.
   at Windows.ApplicationModel.LockScreen.LockApplicationHost.GetForCurrentView()
   at Xamarin.Forms.Platform.

[2018-06-28 15:51] PureWeen commented on #3179
@miroslav22  what version of Xam Forms are you on? This looks like something that was fixed in the latest 3.1 version

[2018-06-28 15:56] miroslav22 commented on #3179
Apologies it does indeed work okay in Forms 3.1.

I Should have checked for a newer version!

Thanks :)

[2018-06-28 15:56] #3179 closed

[2018-06-28 17:23] YPITDataOmar opened #3180 "[îOS] ListView with GroupShortNameBinding and RTL language has ViewCell partially off screen"
### Description
When defining/binding the ListView option GroupShortNameBinding in XAML for RTL language (e.g. Arabic) shifts the whole ViewCell over to the right and causes part of our grid in the viewcell to be off screen.  RTL for Android looks fine.  Everything works fine for LTR languages and removing the GroupShortNameBinding has everything looking as it should.

### Steps to Reproduce

1. C

[2018-06-28 17:44] samhouts commented on #1353
The signs are pointing more and more towards this being a quirk in iOS. I am encouraged by @johndbell's experience. We'll leave this issue open a bit longer for awareness, and hopefully we hear more good reports that the issue is resolved in later versions of iOS and that the workaround is effective in 11.3. Thanks, everyone!

[2018-06-28 17:58] rmarinho commented on #2004
I followed the steps, open master, go to list, scrolling the list down, click, go to details, click the MDP icon , go back to page 1, mdp icon go page with list and scroll , click and repeat .. like 20 times, and no crash. I dont have that device, i m using Pixel 2

[2018-06-28 18:33] rmarinho commented on #2004
This is fixed in the latest 3.1.0 stable. Please reopen if you still find this issue.

[2018-06-28 19:01] samhouts commented on #1727
Since #3172 CollectionView will support Horizontal mode, is it possible that this is no longer needed as a feature of ListView?

[2018-06-28 19:20] hubertdej commented on #2664
"Native" here is the way that Xamarin Live Player displays it.

[2018-06-28 20:57] samhouts commented on #2664
I'm afraid I don't understand. I assumed that you were comparing a Button made either in a native Android or Xamarin.Android app to a Button made in Xamarin.Forms. Is that not the case?

[2018-06-28 21:29] bmacombe commented on #3172
#2680 Could be added to this spec?

[2018-06-28 21:47] hartez commented on #3172
@andreinitescu

I assume RefreshView somehow should map to UIRefreshControl on iOS? How will it work on Android and UWP?

On UWP, we'll likely be using [RefreshContainer](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.refreshcontainer). On Android, probably [SwipeRefreshLayout](https://developer.android.com/reference/android/support/v4/widget/SwipeRefreshLayout).

[2018-06-28 22:02] hartez commented on #3172
@krdmllr

It's a problem, but not a new one. We have the same issue with GestureRecognizer, ListView, Grid, and many other things in Forms. We struggled with this a bit internally; there are only so many possible names for "a bunch of items on a screen".

"CollectionView" doesn't conflict with anything we currently have in Forms, it doesn't conflict with any UWP control names (the way "ListView" d

[2018-06-28 22:03] hartez commented on #3172
@dansiegel

Take a look at the [SwipeView spec](https://github.com/xamarin/Xamarin.Forms/issues/3171) - that's precisely what we're aiming for.

[2018-06-28 22:18] hartez commented on #3172
@GalaxiaGuy

That's a great point, we should support that if possible. I know it works with the built-in UWP glyphs; I'd have to do a little research to make sure that type of stacking would work on the other platforms (I suspect the answer is "yes").

[2018-06-28 22:37] LeoJHarris commented on #2240
tabbed pages appears fine now regarding the onappearing, cant comment on non tab pages though.

[2018-06-29 00:31] ozzioma commented on #1537
This helped me resolve this error

1. Do a build of the PCL/Standard project, this will probably fail.
2. Next after the build, do a Clean of the PCL/Standard project, this might fail too.
3. After the above 2 steps, go ahead and Rebuild. Shoud work now.
4. You can proceed to build any of the platform( Android or iOS) projects after the above steps.
Just remember to always opt for a rebuild FIRST

[2018-06-29 00:31] ozzioma commented on #2686
This helped me resolve this error

1. Do a build of the PCL/Standard project, this will probably fail.
2. Next after the build, do a Clean of the PCL/Standard project, this might fail too.
3. After the above 2 steps, go ahead and Rebuild. Shoud work now.
4. You can proceed to build any of the platform( Android or iOS) projects after the above steps.
Just remember to always opt for a rebuild FIRST

[2018-06-29 01:56] #1939 closed

[2018-06-29 01:56] #2617 closed

[2018-06-29 01:56] #3053 closed

[2018-06-29 01:56] #3073 closed

[2018-06-29 01:56] #1556 closed

[2018-06-29 01:56] #2482 closed

[2018-06-29 01:56] #2740 closed

[2018-06-29 01:56] #2858 closed

[2018-06-29 02:01] rmarinho commented on #2732
We talked on our standup today and we think the best for the users and going forward is to keep the fix of the Z-Index hierarchy. We will make sure to add to the release notes.

Please use the above fix of setting the Z-Index on the border to -1. Reopen this issue if you have any troubles.

Thanks.

[2018-06-29 02:01] #2732 closed

[2018-06-29 05:39] dotMorten commented on #1775
Here's my full implementation of UWP's AutoSuggestBox, working on UWP, Android and iOS:
https://github.com/dotMorten/XamarinFormsControls/tree/master/AutoSuggestBox
And NuGet here: https://www.nuget.org/packages/dotMorten.Xamarin.Forms.AutoSuggestBox

[2018-06-29 06:04] fazil1987 opened #3181 "Basic functionality - Cut/Copy paste using keys is not working in Xamarin.Mac using Xamarin Forms"
### Description
Cut/Copy/Paste functionality using keys is not working in Xamarin Mac app built using Xamarin Forms

### Steps to Reproduce

1. Create a hello world Xamarin.Mac app
2. Integrate with Xamarin Forms
3. Add entry to the main page of Xamarin Forms
4. Run the application
5. Enter some text in Entry
6. Select the text and press cmd+x or cmd+c

### Expected Behavior
1. If its cmd+x, it sh

[2018-06-29 06:19] opcodewriter commented on #1537
@ozzioma Why are we talking about PCLs? Any good reason not to use NET Standard library?

[2018-06-29 08:54] aloisdeniel commented on #3177
One important thing to notice with the indexer approach : the raised property change doesn't trigger an update from the view : it only works as one way bindings.

The support for DynamicObjects would be a lot more consistant though.

[2018-06-29 09:02] StephaneDelcroix commented on #3177
Indexers can trigger INPC. Look for samples in our unit tests.

[2018-06-29 09:58] schemburkar commented on #2584
@PureWeen  An update:

Not sure why, After deleting all binaries (nuget, bin, obj, etc) and re-creating apk has passed the pre-launch tests from Google. I will keep monitoring if issue comes up in the wild again.

In any case, I have created a code zip to share with you on email in few days.

[2018-06-29 10:12] jemunk commented on #2299
Thanks @samhouts. It works beautifully. Now I will focus on getting it working on android. It does has some quirks.

[2018-06-29 11:33] TFreudi1 opened #3182 "[ANDROID] getCurrentUser java.lang.SecurityException on Samsung S8 Oreo"
I build a simple PCL Solution, with the wizard and changed nothing. In the Android part after a while the debug window shows:

java.lang.SecurityException: Permission Denial: getCurrentUser() from pid=24983, uid=10498 requires android.permission.INTERACT_ACROSS_USERS

I use VS 2017 15.7.4 Xamarin.Forms 3.1.0.583944 and it only happens on my S8 Oreo 8.0, i tried different Emulators and other Androi

[2018-06-29 11:37] rmarinho commented on #2423
Ok so this only fails on API19 right? on API25 and above 3.0.0 and 3.1.0 show just fine the shadow.

[2018-06-29 11:49] rraallvv commented on #2423
@rmarinho lvl 21 also has it (Lollipop 5.0.1), my device is an acer iconia b1-770

[2018-06-29 12:01] craighanson opened #3183 "FlexLayout.Layout - System.NullReferenceException"
I am getting a NullReferenceException in FlexLayout.Layout. Below is my stack trace..

FlexLayout.Layout (System.Double x, System.Double y, System.Double width, System.Double height)
FlexLayout.LayoutChildren (System.Double x, System.Double y, System.Double width, System.Double height)
Layout.UpdateChildrenLayout ()
Layout.OnSizeAllocated (System.Double width, System.Double height)
VisualElement.S

[2018-06-29 12:14] rmarinho commented on #2423
@rraallvv was it working before? what version ?

[2018-06-29 12:16] rmarinho commented on #2423
the original report of this issue is with Android: 8.1 and that was the elevation issue that I think is fixed.
Seems this might be a issue with older versions? But I wonder if it worked before.

[2018-06-29 12:21] rraallvv commented on #2423
@rmarinho , yes, it's working for XF 3.0.0.446417
I'll try to figure out what is the last version that don't have the issue.

[2018-06-29 12:28] aloisdeniel commented on #3177
Thanks! Didn't know it was possible. :)

The relevant code:

[code]

[2018-06-29 13:46] hubertdej commented on #2664
I found an image of the Danger button on the Internet and then I created a Button in Xamarin.Forms and compared them, so there was no source code of the native project.

Now I created these two projects:
[forms.zip](https://github.com/xamarin/Xamarin.Forms/files/2149522/forms.zip)
[native.zip](https://github.com/xamarin/Xamarin.Forms/files/2149523/native.zip)

![comparison](https://user-images.git

[2018-06-29 14:13] rraallvv commented on #2423
@rmarinho I was able to update XF all the way up to version 3.0.0.482510 without the issue popping up , version 3.0.0.530893 does have the problem with the missing shadows though.

[2018-06-29 14:48] jamesmontemagno commented on #1556
I know this is fixed now, but wanted to let everyone know we did add a way to detect for lower power mode via Xamarin.Essentials: https://docs.microsoft.com/en-us/xamarin/essentials/power

[2018-06-29 15:14] jgiacomini commented on #1706
Anyone to do it?

[2018-06-29 15:17] kwiqniss opened #3184 "In MasterDetailPage if you set the Detail to NavigationPage(someContentPage) and navigate to another content page, then click the back button from the nav bar, breakpoint from OnBackButtonPressed will not fire."
### Description

If you use a MasterDetail pattern with Detail = new NavigationPage(myContentPage),
then navigate from that content page to another content page, you'll see a back button in the navigation bar if HasBackButton is true.
When the back button is pressed, OnBackButtonPressed should be raised on the content page. However the event is not fired. [UPDATE, the event fires, but does not tri

[2018-06-29 15:25] hshristov opened #3185 "Need of method to set BindableProperty value that could be overridden from implicit Style"
Hi team,

There is a need for a method that sets `BindableProperty` current value but is with less priority from everything else (like style setter, local value, etc.) except BindableProperty.DefalutValue.
The use case is that I have custom control that should be with specific colors, fonts, etc. but I still want to allow developers to target my control and override these properties from implicit

[2018-06-29 16:43] matteozoni opened #3186 "Java.Lang.NoSuchMethodError: no method with name='isInLayout' signature='()Z on Android 4.1.2"
I have updated Xamarin.Form to the version 3.1.0.583944.

Running my application on Android 4.1.2 I get the error "Java.Lang.NoSuchMethodError: no method with name='isInLayout' signature='()Z' in class Landroid/view/ViewGroup;". On Android 8.0 works fine.

Microsoft Visual Studio Community 2017
Versione 15.7.4
VisualStudio.15.Release/15.7.4+27703.2035
Microsoft .NET Framework
Versione 4.7.03056

E

[2018-06-29 17:04] jcapellman commented on #1778
Please include Mac in this as well

[2018-06-29 17:36] crazynolde commented on #2798
@rmarinho @timrisi @samhouts The bug itself has now been fixed.

If you look at the toolbar meticulously, the centering would have to be corrected, as you can see on the screenshot. I know, xamarin forms is not intended to be a pixel perfect solution, but a discrepancy of 64 px is far away from pixel perfect. As this is immediately flashy for a detail-loving user, i would expect an correction.

Le

[2018-06-29 20:35] kingces95 commented on #2464
This no longer reproduces on the latest `3.2.0` branch; The latest `3.2.0` branch will honor the split flag. I changed the background of the master page to blue but other than that it's the reproduction.

![image](https://user-images.githubusercontent.com/4120386/42113740-27a4a2a8-7b88-11e8-9fa9-607f9c95d332.png)

[2018-06-29 20:35] #2464 closed

[2018-06-29 20:48] PureWeen opened #3188 "[iOS] Changing out the MainPage during certain life cycle points doesn't work on iOS"
### Description

Swapping out the MainPage at certain points in the life cycle causes iOS

### Steps to Reproduce

Run these UI tests from the Control Gallery

SwapPagesOut_MasterDetailsPage [iOS] - This doesn't crash but the page that should be showing up doesn't

### Expected Behavior
All three platforms should not crash and respond the same for the above UI Tests

### Actual Behavior
iOS  doesn

[2018-06-29 20:51] hartez opened #3189 "Xamarin.Forms.FontIconSource Spec"
# Font Icons

The goal of this spec is to support the use of font icons (e.g., the [Segoe MDL 2 icons](https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font) or [Font Awesome](https://fontawesome.com/)) as image sources.

_Note: Nothing in this specification is guaranteed to be final; all features, implementations, and interfaces are subject to change._

# API

## IFontEle

[2018-06-29 20:55] hartez commented on #3172
Update: The FontIconSource portion of this spec has been moved into [its own spec](https://github.com/xamarin/Xamarin.Forms/issues/3189).

[2018-06-29 20:56] hartez commented on #3189
WRT to @GalaxiaGuy's [comment on the CollectionView spec](https://github.com/xamarin/Xamarin.Forms/issues/3172#issuecomment-400996467), this spec now includes `LayeredFontIconSource`.

[2018-06-29 21:08] PureWeen commented on #1490
Hmm it's still not quite working for me @pgrho

If you could provide a minimal repro or mod the application in some way where login isn't needed so I can see the exception that would be helpful

[2018-06-29 21:18] hartez commented on #3189
Linking to @dansiegel's [suggestions from the CollectionView spec](https://github.com/xamarin/Xamarin.Forms/issues/3172#issuecomment-400879498).

[2018-06-29 21:57] ChaseFlorell commented on #3189
we're using Iconize right now and I had to build a map.

[code]

It works well, and the best part is that it is discoverable via intellisense.

Now I know that you won't have the same API, but I do strongly suggest that any font come with an associated map of constant values that we can use via intellisense, and also it should be pluggable in such a way that we can drop our own fonts in and regist

[2018-06-29 22:00] ChaseFlorell commented on #3189
per [@dansiegel](https://github.com/dansiegel)'s comment,
if you wanted your markup extension to also include intellisense, you'd maybe have to switch from constant strings to an `Enum`... Not 💯% sure what that'd look like though.

[2018-06-29 22:00] hartez commented on #3189
@ChaseFlorell Ha! We are literally having this exact conversation in slack right now.

[2018-06-29 22:01] ChaseFlorell commented on #3189
@hartez this is what our xaml looks like

[code]

[2018-06-29 22:01] dansiegel commented on #3189
@ChaseFlorell I think this may ultimately be just need to be a separate community effort to maintain plugins for each font, and I'm not sure that you can simultaneously architect this for intellisense and extensibility.

[2018-06-29 22:04] ChaseFlorell commented on #3189
@dansiegel I don't disagree.
I think my comment is more along the lines of having them architect it in such a way that we _CAN_ plug in whatever font we want. There needs to be a registration mechanism...

[code]

[2018-06-29 22:32] hartez commented on #3189
@dansiegel @ChaseFlorell You're converging on what I think our ultimate plan will be: a mechanism for registering "friendly" names which map to actual code points. Forms would provide a set of them out of the box (at least for UWP; I'm not yet sure what we can do about the other platforms). Users can add  their own mappings to the registry at startup. With that in place, it should be possible for

[2018-06-29 22:40] dansiegel commented on #3189
Personally I'm not sure that Forms should be handling anything with non-system fonts. That said there is probably some room here to finally introduce cross platform support for ***common*** system icons like Add & Share which should be doable on iOS, Android, and UWP IMO. That said I would personally be against Forms registering everything under the sun OOB. I think it would lead to too much app b

[2018-06-29 23:06] charlesroddie commented on #3189
I don't agree with either of these suggestions.
1. With font icons you should be able to choose the font. There is no need for Xamarin to provide any font.
2. Keeping track of the unicode for useful icons in a given font is extremely easy and doesn't need any special mechanism to be created by Xamarin.

[2018-06-30 00:05] kwiqniss commented on #3184
I'm attaching a project. In this project, there's a Master Detail Page. The Master page has navigation options to the Items page and to the about page.
By default, Items page is selected.
In the Items page, click an Item.
The ItemDetailPage will open.
You'll notice a back button in the nav bar.
In the ItemDetailPage, I overrode OnBackButtonPressed.
Typically, in content page wrapped in NavigationP

[2018-06-30 00:05] kingces95 commented on #2464
Assuming https://github.com/xamarin/Xamarin.Forms/pull/3190 goes through you can use `set nuget_dir=c:\nuget\1.2.3\` and `.create-nuget.bat uap` to generate a local nuget for testing.

[2018-06-30 00:55] kwiqniss commented on #3184
I proved this was firing, only the breakpoint isn't being hit.
I updated my sample so ItemsPage.xaml.cs fires using async
`private async void ItemSelected(object sender, SelectedItemChangedEventArgs e)
        {
            await Navigation.PushAsync(new ItemDetailPage((Item)e.SelectedItem));
        }`

I updated ItemDetailPage.xaml.cs to include Debug.WriteLine statements to see if event fired.

[2018-06-30 02:06] kwiqniss commented on #3184
I added a call to Debbugger.Break(). When I encounter that, my debugger stops and shows message like:

Module Information
Version: 1.00.0.0
Original Location: C:\src\MasterDetailSample\MasterDetailSample\MasterDetailSample\MasterDetailSample.UWP\bin\x86\Debug\AppX\MasterDetailSample.dll

[2018-06-30 02:45] kwiqniss commented on #3184
I get the same results in iOS that I get in Android.
Here's debugger output:

Resolved pending breakpoint at 'ItemDetailPage.xaml.cs:31,1' to bool MasterDetailSample.Views.ItemDetailPage.OnBackButtonPressed () [0x00007].
[0:] Make Sure Debug Writeline is working so we can be sure it works if we do not see output from OnBackButtonPressed

[2018-06-30 07:36] rogihee commented on #3172
I would a user scenario for multi-picking items from a selection, for example the selection of one or more photos from an album. Quite a common scenario in apps like OneDrive or WhatsApp.

![20180527_181626000_ios](https://user-images.githubusercontent.com/4984486/42122892-0bebda92-7c49-11e8-80b5-c2d45c8122e3.png)

[2018-06-30 08:12] andreinitescu commented on #3172
@hartez

I already suggested a new name for different reasons

[2018-06-30 10:39] AmrAlSayed0 commented on #3172
What will the value of the `SelectedItem` be when the `SelectionMode` is `Multiple`? There is 5 options I can think of:<br/>
1. The last selected item by order of selection.<br/>
2. The last selected item by order of source.<br/>
3. The last selected/deselcted item by order of selection.<br/>
4. The last selected/deselcted item by order of source.<br/>
5. null<br/>
<br/>
(2), (3) and (4) aren't ve

[2018-06-30 13:59] jonkas2211 commented on #2423
@rraallvv Like I wrote the latest working XF Version was **2.5.1.444934**. I targetet Android 8.1, but I used a device with API-Level 19. I updated the device to API-Level 21 and it worked fine. Now I am using XF Version 3.1 with API-Level device 21 and it working fine as expected, even if the shadow now looks different. I hope that can help.

[2018-06-30 15:21] edooley commented on #1537
This just worked for me:

1. Revert Xamarin.Forms to its prior version in the Forms project and your native project(s) (for me, I had to go from 3.1.0.583944 down one version to 3.0.0.561731 for Forms project and iOS)
2. Clean/Build (this still failed)
3. Update the packages in both projects back to current, and THEN Clean/Build which seemed to work 🤷‍♂️

Mileage may vary. I'm not sure if any of t

[2018-06-30 15:36] ozzioma commented on #1537
My discoveries so far.
There is a mismatch between the platform/CPU architecture target for the Standard project and the native projects (x86 or AnyCPU).
Make sure the targets are the same for both before running or building.
Most times when it bombs with the "tasks do not match targets" error, this is probably the cause.
Fixing this makes the error go away or so it seems.
Only snag is, while debu

[2018-06-30 15:45] dotMorten opened #3191 "Expose XmlnsDefinitionAttribute and XmlnsPrefixAttribute"
### Description

Please consider exposing `XmlnsDefinitionAttribute` and `XmlnsPrefixAttribute`, so we can register a simple-to-use namespace for all our controls, rather than having to rely on namespace + assemblyname. This allows us to us the same prefix for a range of assemblies and namespaces, without having to register a gazillion prefixes.

ie
[code]
This class is already there but internal:

[2018-06-30 17:44] NickDevoctomy commented on #1670
I've just upgraded my Xamarin.Forms package to 3.1.0.583944 and I now see this property available in the ScrollViewer.  It does nothing though, is that expected?

[code]

I still see the scroll bar exactly as I did in 3.0.  According to Visual Studio this is a stable build but it's showing a bunch of other "errors" with the xaml above with this version.  Although I can get around this by closing t

[2018-06-30 17:51] bmacombe commented on #1670
@NickDevoctomy I'm curious what platforms you are seeing this on?  Wondering if it's Android or others also?

[2018-06-30 17:54] NickDevoctomy commented on #1670
Just UWP it seems, I can't test iOS, but just tested Android and it looks great.

[2018-06-30 18:14] bmacombe commented on #1670
Interesting...I was sure it would be android if any had issues.  I'll try to take a look see if I can find what's up.

[2018-07-01 01:48] bmacombe commented on #1670
@NickDevoctomy I just pulled the current master branch of XF and looked at the control gallery app on UWP and the scroll bar visibility is being updated as expected.  Could you post a repo?

[2018-07-01 02:03] bmacombe commented on #3105
@Yuvaraj-Syncfusion I think you are seeing a behavior change because of PR #1910.  Since you are using XF 3.1 you no longer need to add your own renderer to adjust scroll bar visibility because the Scrollview now has a HorizontalScrollBarVisibility property.

[2018-07-01 08:55] sparkie108 commented on #3189
If the aim is to support cross-platform vector-based icons (which I would certainly love) then isn't SVG a better solution? Font Awesome is also available as SVGs and if Microsoft were to make Segoe MDL 2 icons available as SVGs them even better.

[2018-07-01 09:03] rogihee commented on #3189
@sparkie108 I think part of the implementation of this Spec is to replace all occurences of FileImageSource with ImageSource, thus _finally_ enabling SVG also in areas such as tabbars and navigition bars. Because then you can use SvgImage or FontImage anywhere.

[2018-07-01 10:32] NickDevoctomy opened #3192 "Environment.SpecialFolder.Personal Returns Locked Path"
### Description

The special folder path Environment.SpecialFolder.Personal on my Galaxy S8 returns a path that I can store files in, but it's in a hidden "root only" area that I can't view either when browsing on my PC via USB, or on the device itself (unless I route).

Even though the path is

/data/user/0/…

I can't access the files I'm creating.  I don't know if this is specific to the Galaxy

[2018-07-01 11:33] NickDevoctomy commented on #1670
I have an isolated application that has the issue in I can post...

[2018-07-01 11:36] NickDevoctomy commented on #1670
https://1drv.ms/u/s!AlN90gKdry3-tKgDRaCPE7-6FAzBvg

Just run it and then resize the window so that the tabs don't fit on the page.  Looks fine when I run it on my S8, but on UWP the scroll bars appear.

[2018-07-01 11:39] NickDevoctomy commented on #3192
I've got a work around for now by not using the special folder paths at all, instead in my android build I can use the Android.OS.Environment.GetExternalStoragePublicDirectory(Android.OS.Environment.DirectoryDocuments).AbsolutePath value and derive a suitable location from that.  It does require that I add the relevant permissions, but that's to be expected.

[2018-07-01 11:42] peter0302 commented on #3191
I have an open PR on this.

https://github.com/xamarin/Xamarin.Forms/pull/2782

[2018-07-01 14:45] JacobChrist commented on #1736
What happens if you rotate the screen, does the switch start working?

[2018-07-01 14:55] JacobChrist commented on #1736
I think I have a related problem.  I'm changing the text of a label in a Detail.  The label will not resize as expected (that is at all).  However, if I rotate the screen then the label will resize as expected.  The Detail page works as expected if used outside of the MasterDetail relationship.  Also, after I found your post I took my label out of the ScrollView and it now works in the MasterDetai

[2018-07-01 15:38] bmacombe commented on #1670
@NickDevoctomy FYI, I know what is happening...but not why :)

While I can step though the ScrollViewRenderer for UWP and see that during the creation of the native control the visibility is being set correctly, it's not being respected or is reset at some point before display.  This scenario isn't tested in the Control Gallery because all of that stuff is done from code behind and no xaml.

I add

[2018-07-01 15:43] bmacombe opened #3193 "Scroll View Visibility in Xaml or constructor not being honored"
### Description
Scroll Bar Visibility is not being honored when set in Xaml or a Control constructor. After the controls loads the visibility properties work as expected.

### Steps to Reproduce

See repro in comments in #1670

### Expected Behavior
Scroll Bar should be hidden

### Actual Behavior
Scroll Bar is still visible

### Basic Information

- Version with issue: 3.1
- Last known good versi

[2018-07-01 15:44] bmacombe commented on #1670
Opened new issue for this bug #3193

[2018-07-01 15:45] bmacombe commented on #3193
@davidortinau I'm willing to take a look at this issue since it was my code contribution that the problem is with :)

[2018-07-01 15:50] pavelcleveland opened #3194 "TabbedPage as Master on MasterDetailPage problems"
### Description
The issues could be reproduced for Xamarin Forms 3.1 (2.5 doesn't have this problem) for iOS platform only.
 took an example of Master Detail page from here

https://developer.xamarin.com/samples/xamarin-forms/Navigation/MasterDetailPage/MasterDetailPage.zip

and slightly modified it by changing Master page from Content to TabbedPage.
### Steps to Reproduce
When application starts

[2018-07-01 15:53] JacobChrist commented on #1736
In trying to nail down where the code broke I realized that my problem is resolved in Xamarin.Forms 3.1.0.583944.  Yours maybe as well.

[2018-07-01 16:01] bmacombe commented on #3193
The problem is with UpdateOrientation in the UWP ScrollViewRenderer.  It's resetting the visibility of the horizontal scroll bar when making an adjustment for the orientation change.

I believe it should set it if a change is needed, but only if the current value is 'Default', if it's not then it should respect the already set value.

[2018-07-01 16:20] bmacombe commented on #3193
@NickDevoctomy I'm going to submit a PR to resolve this, but as a work around you'll need to set the horizontal scroll visibility after the control loads.

[2018-07-01 20:56] greg84 opened #3196 "ListView separators on iOS have space/gap on left side. Cannot be fixed with margin property."
### Description

ListView separators on iOS have a gap on the left hand side.

### Steps to Reproduce

1. Create a new page.
2. Add a ListView control to the page.
3. Observe left margin for separators on iOS device.

### Expected Behavior

List view separators should span entire screen width to match the control width.

### Actual Behavior

Gap on left.

### Basic Information

- Version with issu

[2018-07-02 00:08] programmation commented on #3189
@rogihee Agreed 1000%. The change in the XF code is trivial.

[2018-07-02 06:36] Stensan commented on #3196
Hi, you can write a custom ListViewRenderer in your iOS project and set Control.SeparatorInset = UIEdgeInsets.Zero;

[2018-07-02 07:18] davidhardie commented on #3073
Sadly this also drops any url based basic authentication.
url of “https://user:pwd@server.com/resource” drops the user:pwd part.
This worked on Xamarin 2.5 (cant confirm if 3.0 was affected, but 3.1 was tested and the url is changed, dropping the creds.

Will this change also include a fix for this use case?

[2018-07-02 07:56] paleicikas commented on #2899
The same for me (latest XF). I think this is happening at point of killing an app (could't be able to reproduce).

<pre>
Xamarin Exception Stack:
System.NullReferenceException: Object reference not set to an instance of an object
  at Xamarin.Forms.Platform.Android.AppCompat.MasterDetailPageRenderer.OnDetachedFromWindow () [0x0000c] in <7999cc4bd5664eca8a72469344172ca3>:0
  at Android.Views.View.n

[2018-07-02 08:09] paleicikas commented on #3080
@PureWeen no, scrollview not used in listview (header or footer)

[2018-07-02 08:46] greg84 commented on #3196
Nice - Thanks, I'll do that!

[2018-07-02 08:46] #3196 closed

[2018-07-02 10:19] bastianbecker21 commented on #2191
@lassana What is AView in your workaround?

[2018-07-02 10:21] lassana commented on #2191
@bastianbecker21 `android.view.view`

[2018-07-02 11:59] laDanz opened #3197 "UITest: Problems with Backslashes"
### Description
Regarding the AppQuery:
`app.WaitForElement(c => c.Marked("123\\456")) is working, while`
`app.WaitForElement(c => c.Marked("D\\A")) is not.`

### Steps to Reproduce

1. See attached example project.
[BackslashQueryDemo.zip](https://github.com/xamarin/Xamarin.Forms/files/2155079/BackslashQueryDemo.zip)
2. Build
3. Run test.

### Expected Behavior

### Actual Behavior
See attached e

[2018-07-02 12:11] arino-godinho commented on #3186
I have same issue...

[2018-07-02 12:40] ceblanda commented on #1736
Yes, this appears to be fixed in 3.1.0.583944

[2018-07-02 12:41] ceblanda commented on #3142
Today this is working running the same test app on the same device with 3.1.0.583944

[2018-07-02 13:42] ajfear1975 commented on #3147
Hi. I am getting similar behaviour in Switches which are rendered as true initially. I am using the latest AppCompat in my XF project (27.0.2.1).  This is fine on iOS.
https://forums.xamarin.com/discussion/91713/switch-example-in-xaml?

[2018-07-02 14:54] dotMorten commented on #3191
@peter0302 Awesome, but that's only half of it. It's missing `XmlnsPrefixAttribute` which helps designers and intellisense define a good consistent prefix across all pages.

[2018-07-02 14:59] legistek commented on #3191
Oh I glossed over that part.
I'm not familiar with how `XmlnsPrefixAttribute` is used in practice can you explain?

[2018-07-02 14:59] dansiegel commented on #3191
just a thought here... but I'm not sure that these attributes need to be exposed, but rather that the tooling should be updated around forms to simply look for attributes with these names the same as with the Linker attributes. It seems like a much bigger win if I can write a cross platform library have my own attribute with these names, and XF, UWP, and WPF automatically recognized my attributes

[2018-07-02 16:07] legistek commented on #3191
If you look at the PR there's actually a lot more that had to be done than just exposing the attribute. XF is (currently) looking for it only in certain hard coded assemblies, and certain components weren't looking for it at all. But as least as far as `XmlnsDefinitionAttribute` that's exposed and fully functional in my PR. I'm sure the team will get to reviewing it when they have time.

[2018-07-02 16:35] rtnm opened #3198 "Image view flicker when change parent view"
### Description

`Image` view flicker when change parent view, but only for `Source` retrieved `ImageSource.FromResource("")`

The problem is better seen on the device than on the emulator.

### Steps to Reproduce

[code]

### Expected Behavior

There is no flicker in all cases

### Actual Behavior

`Image` view flicker when change parent view, but only for `Source` retrieved `ImageSource.FromReso

[2018-07-02 19:15] hartez commented on #3189
@charlesroddie

The spec doesn't prevent you from choosing your own font. That's why everything inherits `IFontElement` (which includes `FontFamily`). I've updated the spec to make this clearer.

As for Xamarin providing fonts, we don't really intend to. UWP comes with a glyph icon font built in; we don't ship it, it's _just there_. We want to make sure that using it from Forms is as easy as possi

[2018-07-02 19:23] hartez commented on #3189
Keep in mind that in a given application, several different icon fonts may be in use; each may use different Unicode values for the icons. Let's say I'm using the built-in Segoe MDL2 for UWP, Font Awesome for iOS, and the Material Design Iconic Font on Android. To display a '+', I need code points E710, F067, and F278. Not only would I have to keep track of those values, I would also need to use `

[2018-07-02 20:30] Mikilll94 commented on #1678
This could be very useful if it was possible to select and copy to clipboard value from such a read-only input. Because i.e. label does not provide functionality of selecting and copying text.

[2018-07-02 20:47] jvansickle commented on #1650
I am going to look at fixing the Completed event invocation to be the desired Enter/Return key only on macOS.

[2018-07-02 21:40] kingces95 commented on #3132
Application launches without issue on latest `3.2.0` branch. Please re-open should you be able to reproduce the issue. To create a local nuget package `set NUGET_DIR=x:\nuget\4.4.1\` then `.create-nuget.bat droid`.

![image](https://user-images.githubusercontent.com/4120386/42187655-82150d7a-7dec-11e8-9bc8-09a15d4dcc62.png)

[2018-07-02 21:40] #3132 closed

[2018-07-02 21:41] kingces95 commented on #3132
You may need to wait till https://github.com/xamarin/Xamarin.Forms/pull/3200/files clears before `.create_nuget.bat` will work.

[2018-07-02 22:17] hartez commented on #3189
@rogihee @programmation While I'm not opposed to the idea of changing those properties to be `ImageSource` instead of `FileImageSource`, any discussion or implementation of that will be part of a separate effort from this one.

[2018-07-02 22:34] hartez commented on #3172
@AmrAlSayed0

 Right now the answer is "whatever it was before you switched `SelectionMode` to `Multiple`".

[2018-07-02 22:36] hartez commented on #3172
@rogihee

Are you asking whether this selection scenario is supported? AFAIK, all of the native controls we intend to use support it, so it _should_ be supported in CollectionView.

[2018-07-02 22:47] mackayn commented on #3172
A bindable style for SelectionMode would be useful, if SelectionMode=None, Transparent etc, this is something Radlist does that is very useful, easy way to handle visual state based on bindings. A style for each selection mode would cover these scenarios.

[2018-07-02 23:03] daveclarke commented on #3136
@EmilAlipiev @StephaneDelcroix yes, would have been helpful to be forewarned. This is a breaking change and your sort of apology/excuse is unhelpful.

[2018-07-02 23:34] hartez commented on #3172
@alexhardwicke

The `UpdateX` methods in the renderers will be `protected virtual`. :)

In all seriousness, we're aware that this has been a pain point in the past, and we're keeping it in mind while writing `CollectionView`.

[2018-07-03 00:18] jvansickle commented on #1988
I believe I have a suitable solution for this enhancement. I will be opening a PR directly.

[2018-07-03 00:31] rogihee commented on #3189
@hartez, ok, can I raise it as a separate enhancement then?

[2018-07-03 00:43] jvansickle commented on #2824
@samhouts I believe I have come across this same issue as @isesco in the past. Please see https://github.com/jvansickle/Xamarin.Forms_macOS_GS macOS project in the solution for an example.

[2018-07-03 00:50] jvansickle commented on #3181
Duplicate of #1988 which should be resolved by PR #3202

[2018-07-03 01:22] MatthewGerber commented on #2004
I am confirming that this does indeed appear to be fixed in 3.1.0.583944. All of my Android pre-launch automated tests are running to completion, whereas they were routinely crashing with this error in prior XF versions.

[2018-07-03 01:31] jvansickle commented on #1776
I will be attempting a fix to properly trigger the button pressed and button released for mac OS

[2018-07-03 03:06] bastianbecker21 commented on #2317
@GalaxiaGuy I am getting same crash report but I can't guess what is the issue, please help me to fix it if you can. Thanks. Here is the error what I got from app center.

[code]

[2018-07-03 08:35] rtnm commented on #3198
For Android:
* FromResource - flicker
* FromUri - flicker
* FromFile - no flicker

[2018-07-03 09:02] andreinitescu commented on #3172
1. On second thought, I really don't think CollectionView is a good choice for the class name of this view.
In Windows XAML, a CollectionView is the base class for a data source of items used for filtering grouping, see https://msdn.microsoft.com/en-us/library/system.windows.data.collectionview(v=vs.110).aspx
Maybe at some point Xamarin Forms will get a class for same purpose, and I think it will

[2018-07-03 09:55] duzenko commented on #2004
I'm on 3.1.0.583944 and it still throws ObjectDisposedException occasionally.

[2018-07-03 10:13] PorkiePie commented on #2980
Any news on a fix for this? Or a workaround? My uwp app keeps breaking on this regardless of the app type I use.

[2018-07-03 10:33] sf-ica opened #3204 "Changing the image source leaks memory."
### Description

When changing the source of an image memory isn't released properly.

### Steps to Reproduce

1. Create a new page with an image.
2. Change the source of the image at runtime.

[code]

### Expected Behavior

Memory consumption shouldn't increase significantly.

### Actual Behavior

Memory consumption increases significantly.

### Basic Information

- Version with issue: Xamarin.Fo

[2018-07-03 11:28] bastianbecker21 commented on #2829
@PureWeen @samhouts Xamarin.Forms 3.1.0.583944 has this fix? I am still getting this crash, please help me to fix, thanks

[2018-07-03 14:14] davidortinau opened #3206 "XAMLG Compile Error upon upgrading to 3.1.0"
### Description
App compiles and runs with latest 3.0, but fails to compile with 3.1.0. Error is:

[code]

### Steps to Reproduce

1. Clone and run ConferenceVision (link below)
2. Stop and update to 3.1.0. Clean. Obliterate. Close and Reopen the project.
3. Run and observe the error.

### Expected Behavior
Should not error.

### Actual Behavior
Boom,  error.

### Basic Information

- Version with

[2018-07-03 15:15] davidortinau commented on #3206
Ok I see this was introduced in #2582. My issue is/was the `x:Name` here:

[code]

[2018-07-03 15:15] #3206 closed

[2018-07-03 15:19] hartez commented on #3189
@rogihee Oh, absolutely. If you do, you might want to reference [1955](https://github.com/xamarin/Xamarin.Forms/issues/1955); I think it's calling for a subset of what you want.

[2018-07-03 17:14] hartez commented on #3172
There's `ItemsView<T>`, but we don't want to use that. It uses `TemplatedItemsList`, which is part of the cruft we're trying to avoid with this new control.

[2018-07-03 17:20] hartez commented on #3172
Your optimism is charming, but we have to work under the assumption that ListView(1) is forever, and that a breaking change like a ListView2 rename will not be allowed.

[2018-07-03 17:34] andreinitescu commented on #3172
I thought being on par with Windows XAML makes sense, but ok, use whatever name you want, as long as the new control lives up to its promise. Uno seemed to have succeeded in doing that, so now I’m eager to see what you guys are bringing in Xamarin Forms.

[2018-07-03 17:41] hartez commented on #3172
@gmwilhelm

https://github.com/xamarin/Xamarin.Forms/issues/3172#issuecomment-400925994

Good point. I've tentatively added that to the API. I say tentatively, because I can totally see how we might implement it on iOS and Android, but UWP might be challenging.

But I can't deny that it's both reasonable and pleasingly symmetric.

[2018-07-03 17:57] roceh commented on #2415
Could you decouple from creating native view per xamarin view if all subviews within a layout can be rendered without using native widgets? Kind of a automatic hybrid flutter/xamarin approach where groups of XF views are rendered to a single surface and just blitted out onto one native view.  Avoiding the Android view creation/layout c# -> java interop cost would be useful.

[2018-07-03 18:11] rogihee opened #3207 "Replace all occurences of FileImageSource with ImageSource"
### Description
In order to be able to use other image sources such as SVG based ones all Core controls and renderers should use `ImageSource ` instead of `FileImageSource`.

When the Core is updated, renderers should also be updated to never assume a `FileImageSource`.

These are the occurrences I could track down in Core and other Platform renderers:

### Core
1. `Button.Image`
2. `MenuItem.Icon

[2018-07-03 18:12] rogihee commented on #3189
@hartez: done, see #3207

[2018-07-03 18:47] #2279 closed

[2018-07-03 19:25] roberleitner opened #3208 "Accessibility Name or HelpText properties added to Switch are visible in Android UI"
### Description

Accessibility values add to a Xamarin Forms Switch control are being rendered as visible text on Android.

### Steps to Reproduce

1. Create a new cross platform Xamarin Forms app
2. Add a Switch to MainPage.xaml's layout
3. Set `AutomationProperties.IsInAccessibleTree="true"` on the Switch
4. Set `AutomationProperties.Name` and or `AutomationProperties.HelptText` values on the Sw

[2018-07-03 22:48] charlesroddie commented on #3189
Thanks for the explanation. I didn't realize there were different built-in symbol fonts on the main platforms. A common way to access equivalent symbols does make sense then.

[2018-07-04 06:32] myroot commented on #3204
It seem to no chance to GC thread was run
How about add GC.Collect() in loop?
[code]

[2018-07-04 06:37] nhdanh commented on #1698
@jelle-vdst Can you share me your navigationbar renderer make for this ?

[2018-07-04 07:53] deakjahn opened #3209 "UriImageSource should treat zero length file as invalid"
If, for any reason, the downloaded and cached file is corrupted (eg. zero length), it stays there stuck as long as valid, UriImageSource will not make another attempt to download the file later.

### Expected Behavior

The validity check `GetHasLocallyCachedCopyAsync()` should also check for zero length and consider it invalid at any time.

### Actual Behavior

Zero length files are kept in the ca

[2018-07-04 07:55] timrisi commented on #2798
As @crazynolde said, it now is consistent and doesn't change from screen to screen, nor are any of the toolbar items overlapping, but they aren't centered.  The right item of the 3 seems centered, with the other 2 being offset to the right

[2018-07-04 08:18] timrisi opened #3210 "Unable to select ListView item on any version past 2.5.0.280555"
### Description

I have a Xamarin.Forms app that displays a list view on the main view after launching.  After updating to any version past 2.5.0.280555 (2.5.1 or any 3.x version), I'm no longer able to select any list view items on that view.  If I navigate to other list views in the app, I can select items just fine.

The list view in question: https://github.com/timrisi/AuroraSquadBuilder/blob/

[2018-07-04 08:30] pfaucon opened #3211 "Bindings function improperly (fire repeatedly) under debug mode"
Edit: Updated description

### Description
When running normally a data binding update fires once (expected), but when running with a breakpoint in the setter the data binding fires indefinitely.

Also empirically it seems to accelerate/stack calls, wherein if I am quick to close the keyboard at the beginning it closes, but after a few seconds the keyboard is unable to close before opening again

[2018-07-04 09:00] ColeXm opened #3212 "Get error when using FlexLayout with Xamarin Live Player"
Xamarin Forms Version: 3.1.0583944
Xamarin Live Player Version : beta V1.5.196 (696)

Error :

**Position 7:6. Type FlexLayout not found in xmlns http://xamarin.com/schemas/2014/forms
Dependent project myProject.csproj failed to build, using old version.**

[2018-07-04 09:16] martinguess opened #3213 "Xamarin Forms WebView ignores port"
### Description

Xamarin Forms WebView ignores port whent setting WebView.Source (IOS only) in version 3.0.0.561731 and later.

### Steps to Reproduce

1. Create a new project with a simple WebView (https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/webview)
2. Set url with non-standard port: this.Browser.Source = "http://portquiz.net:8080/";

### Expected Behavior

App should o

[2018-07-04 09:46] JKennedy24 commented on #3154
has there been any progress on this bug or are there any ways to work around this issue? my ios app is kaput at the moment due to this

[2018-07-04 14:22] Legolas87 opened #3215 "Xamarin.Forms 3.1 , OnAppearing is not fired starting from second page"
### Description
[App24.zip](https://github.com/xamarin/Xamarin.Forms/files/2163502/App24.zip)

The example is attached.

Issue exists on Android only.

[2018-07-04 14:44] jvansickle opened #3216 "[macOS] Editor still displays white background when BackgroundColor set to Transparent"
### Description

When using the Editor element on macOS with a Transparent BackgroundColor, the standard white background is still displayed.

### Steps to Reproduce

1. Add a grid with an explicit background color to a page
2. Add an editor to the grid with a background color of transparent

### Expected Behavior

The Editor should be transparent as to see the color of the Grid.

### Actual Behav

[2018-07-04 14:45] jvansickle commented on #3216
I believe I have a simple solution I will submit a PR for so this can be assigned to me if you triage it before I get the PR submitted. Thanks!

[2018-07-04 16:31] opcodewriter commented on #3215
@Legolas87 Dude, at least bother to say which platform has this problem...

[2018-07-04 17:26] jcjc200 opened #3217 "In ListView, ViewCell's ContextActions is disappear when swipe right to left on iOS only"
### Description
Original: https://bugzilla.xamarin.com/show_bug.cgi?id=58351
This is the same problem in the above link that is still reproducible in the latest Xamarin Form.

When using ContextAction in ViewCell, that is in the ListView. The Context Actions disappear when swipe from right to left.

This is easy reproducible especially when the hand is not steady and moving a little bit to the lef

[2018-07-04 17:53] Legolas87 commented on #3215
Oh, I just updated, it is not working..., Can you please run also on real device?

[2018-07-04 18:48] cassionandi commented on #1675
is this available on stable 3.1.0.583944 version? I have added the On<Xamarin... code on my TabbedPage but nothing happened.

[2018-07-04 21:48] hartez commented on #3213
This was fixed by PR #3120.

[2018-07-04 21:48] #3213 closed

[2018-07-04 21:59] hartez commented on #3183
@craighanson Could you provide a minimal reproduction project? Or at least some sample code/XAML to tell us how you're using FlexLayout?

[2018-07-04 22:08] beeradmoore commented on #3210
I believe this is reported as a bug in #2180

[2018-07-04 22:23] hartez commented on #3210
This particular issue was fixed with PR #1441.

[2018-07-04 22:38] hartez commented on #3208
Repro project:
[_3208 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/2164462/_3208.Repro.zip)

[2018-07-04 22:41] hartez commented on #3204
What are you using to measure memory consumption?

[2018-07-05 06:19] ajeetsri2006 opened #3220 "Xamarin Forms Button some Shadow above the button on tapping"
### Description
There is some shadow will come when we tap the button which will half of the button width around and come top left side of that button. This effect is reproducible on Samsung S8 and Samsung Tab S3 as well.
### Steps to Reproduce

1.  Create as Xamarin form page
2. Create any button and give some dark background color
3.  Tap and hold the button and see the effect

### Expected Beha

[2018-07-05 07:39] Muthukumaran-G commented on #3176
Hi @explorer566 ,

Can you please explain how this is related to SfListView control?
After referring to these links [3399](https://github.com/xamarin/xamarin-macios/issues/3399), [3257](https://github.com/xamarin/xamarin-macios/issues/3257) , I suspect that this issue is related to iOS version of your device.

If possible could you please attach the reproducible sample?

Thanks,
Muthu.

[2018-07-05 07:43] JTOne123 commented on #2702
Hi guys, do someone from you fixed the issue? any news? without increasing min version...

[2018-07-05 07:44] JTOne123 commented on #2702
After looking at the Android docs for the TextView.getShadowRadius method I can see that this was only added in API level 16 Jelly Bean (4.1.x) which would explain why the call fails in 4.0.3 and 4.0.4.

[2018-07-05 08:50] explorer566 commented on #3176
With a normal Xamarin list view the crash doesn't happen, only with the Syncfusion list view, so I expect this control to be the cause for it.

I already opened an incident at Syncfusion and attached a  reproducible sample (which my employer's firewall doesn't allow me to attach here). They already provided a fix for it but it actually didn't fix the problem so far. Seems like Syncfusion controls

[2018-07-05 09:20] Goldstrike commented on #1698
@jelle-vdst  I thought that the translucent navbar was already available with XF3, as we can see this in the [ConferenceVision ](https://github.com/Microsoft/ConferenceVision)Xamarin sample. But they used a similar approach to yours. Do we know when this feature will be officially supported?

[2018-07-05 09:34] keshavk opened #3221 "Xamarin.Build.Forms.Tasks.GetTaskAbi could not load Xamarin forms 3.1.0"
### Description
I have created a empty Xamarin Form 3.1 project and when I build it is giving me

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4062	The "Xamarin.Forms.Build.Tasks.XamlGTask" task could not be loaded from the assembly C:\Users\keshav.k\.nuget\packages\xamarin.forms\3.1.0.583944\build\netstandard2.0\Xamarin.Forms.Build.Tasks.dll. Could not load file or assem

[2018-07-05 09:52] Maxima078 commented on #2021
I had a similar issue removing a PanGesture from GestureRecognizers list **within** the PanUpdated handler using Xamarin.Forms 3.1.0.550168-pre3. Updating to 3.1.0.583944 fixed my issue but I couldn't find the commit that fixed it, can someone point me to the right direction?

@christoroth this is not a thread problem, your workaround fix it because the main thread will execute code after you have

[2018-07-05 09:59] opcodewriter commented on #2702
@INHack20 @JTOne123 Why do you care about Android 4.0.x?
According to Google's own stats, Android 4.0.x has about **0.4%** presence!
Android 4.0 and 4.0.3 was released by Google in **2011**!  It makes no sense to support such an old platform.

This page https://github.com/xamarin/Xamarin.Forms does not clearly state which versions of Android and iOS are supported by Xamarin Forms.

[2018-07-05 10:02] opcodewriter commented on #2702
I see now that according to documentation https://docs.microsoft.com/en-us/xamarin/xamarin-forms/get-started/installation Android 4.0.3 is supposed to be supported.
It makes sense to support Android 4.4 and up.

[2018-07-05 10:05] opcodewriter commented on #2702
See Google's stats https://developer.android.com/about/dashboards/

[2018-07-05 10:51] rspulini commented on #3186
I have same issue...

[2018-07-05 14:40] hartez commented on #3220
@ajeetsri2006 I'm trying to reproduce the behavior you are seeing, but so far I am not able to. Could you post a minimal reproduction project, or at least the XAML you are using to create this layout?

[2018-07-05 15:34] hartez commented on #3215
Confirmed running on a Galaxy Tab S3; swiping to new pages in the CarouselPage does not fire the Appearing event for those pages on Android.

[2018-07-05 15:37] hartez commented on #3212
@ColeXm Is this happening in a new project, or an existing project you have updated to 3.1? Are you using VS for Windows or VS for Mac?

[2018-07-05 16:10] hartez commented on #3217
I was able to get this to reproduce somewhat consistently on a device by opening a context menu and then quickly swiping left twice on another item in the list:

https://www.dropbox.com/s/86q6cxlwe4h9yrg/20180705_100515.mp4?dl=0

[2018-07-05 16:36] Goldstrike commented on #1698
I've implemented the solution found in the ConferenceVision sample, but I meet a strange behavior that I describe [there](https://stackoverflow.com/questions/51196004/xamarin-forms-ui-is-not-rendering-for-the-same-way-on-ios-10-1-and-ios-10-4): the rendering is not the same between iOS 10.1 and iOS 11.3. If you have any suggestion, you're welcome!

[2018-07-05 17:45] hartez commented on #3198
Repro project:

[_3198 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/2167641/_3198.Repro.zip)

The flicker also occurs on iOS when using FromResource, and on UWP using all three methods.

[2018-07-05 18:02] hartez commented on #3209
At the very least, we should provide some means for clearing an image out of the cache if the user determines that it's invalid.

[2018-07-05 19:14] 15mgm15 commented on #1675
Anyone else trying to hide the TabbedNavigationBar? I am having an issue on Android if I set the `VisibiltyStates.Gone` to the `BottomNavigationView ` the view is not completely gone:

![screenshot_1530818022](https://user-images.githubusercontent.com/3074404/42343122-aaed2764-805d-11e8-9374-eef52f0093f7.png)

[2018-07-05 19:48] PureWeen commented on #1675
@15mgm15   that issue is semi  related to
https://github.com/xamarin/Xamarin.Forms/issues/3055

The ViewPager that displays the content accounts for the height of the bottom navigation bar so that content doesn't get hidden behind it.  In order for that content to be taken up again it has to re-layout the viewpager but there's nothing right now that watches for that visibility and change

What's y

[2018-07-05 20:08] juanrobertodeanda commented on #1353
Still happening in 11.4. Workaround similar to @Corneliuskruger

[2018-07-05 20:40] 15mgm15 commented on #1675
@PureWeen Thanks for the response! unfortunately using modal pages breaks the client design, so I will have to find a solution.

[2018-07-05 21:01] hartez commented on #3192
This is working as intended.

[2018-07-05 21:01] #3192 closed

[2018-07-05 21:10] hartez commented on #3182
Are you seeing this in the Visual Studio output, or in the Android device log? Is it always the same process id? If you're seeing it in the Android device log, have you tried filtering out the process id which is logging the error?

[2018-07-05 21:13] PureWeen commented on #1675
@15mgm15  if you use a top nav bar does it do the same thing? Or does this only happen with the bottom nav bar?

[2018-07-05 21:26] kpespisa opened #3226 "Exception has been thrown by the target of an invocation when building with Xaml compilation enabled and setting Margin property on FlexLayout"
### Description
Exception has been thrown by the target of an invocation when building with XamlC compilation enabled and setting Margin property on FlexLayout

### Steps to Reproduce

1. Create a Xamarin Forms project
2. Create a content page or view using XAML
3. Include a FlexLayout
4. Set the Margin Property of that FlexLayout
5. Enable Xaml Compilation [assembly: XamlCompilation(XamlCompilati

[2018-07-05 21:57] hartez commented on #3194
I'm attempting to reproduce this behavior using the repro project below. So far, I have not been able to (everything appears to work fine). Is there a step I might be missing?
[MasterDetailPageNavigation Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/2168359/MasterDetailPageNavigation.Repro.zip)

[2018-07-05 22:02] davidhardie opened #3227 "Xamarin.Forms WebViewRenderer.LoadUrl() does not include Uri.UserInfo"
### Description
The Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer does not include Uri.UserInfo when reconstructing the Uri to pass to LoadRequest()

### Steps to Reproduce
1. Create a new Xamarin Forms project
2. Include a WebView with a Source property resembling https://user:password@server.com/test
3. Run on iOS simulator or device.

### Expected Behavior
The WebView renders the Uri on

[2018-07-05 22:02] hartez commented on #2183
Please give us a version number; "last version" changes over time.

Please let us know what the earliest version you tested was.

Could you please post a minimal reproduction project? Or at least the XAML and code you used to create your Entry controls and to hook up the Focused/Unfocused events?

[2018-07-05 22:07] jamesmontemagno opened #3228 "Feature Request - Default Search Directory for UWP Icons (Platform Specific)"
I would really like to put all of my icons/images inside of the `Assets` folder, however this creates some not so great looking code:

[code]

Ideally I would like to do:

[code]

I could do this if I put it into the UWP root, but that clutters up the project if it is large.

I would like something like:

[code]

Then my nice pretty Image would work.

[2018-07-06 02:02] primehalo opened #3229 "[Arabic] Hijri date shown on DatePicker while the popup selector shows Gregorian dates"
### Description
When the app's culture is set to Arabic the date shown on a DatePicker is in the Hijri calendar rather than the Gregorian calendar despite Gregorian dates being shown when the DatePicker is actually opened. There is seemingly no way to force the DatePicker to show the Gregorian date. My workaround was go make a custom DatePicker so I could change `Control.Text = date.ToString(Eleme

[2018-07-06 03:21] hartez opened #3230 "ListView Gallery GroupShortNameBinding View broken on iOS, Android"
### Description

In the ListView gallery, the GroupShortNameBinding sample does not display correctly on iOS and Android.

Not sure if this is something we've broken in ControlGallery, or if there's a regression in GroupShortName bindings.

### Steps to Reproduce

1. Open Control Gallery
2. In the bottom list, navigate to ListView Gallery
3. In the Picker, select GroupShortNameBinding View

### Ex

[2018-07-06 04:17] hartez commented on #3180
Also reproducible in Control Gallery if you set the device language to Arabic and navigate to issue 26868 (make sure to build with the project option iOS Build -> Internationalization -> mideast checked).

[2018-07-06 04:47] hartez commented on #3229
It may be that we need to correctly set the locale or calendar for the UIDatePicker.

[2018-07-06 04:55] jamesmontemagno opened #3231 "Feature Request - Toolbar Elevation - Android Platform Specific"
We have **SetElevation** which works on elements, however there is no way to set the elevation of the toolbar. Currently we have to go into the Toolbar.axml and specify:

[code]

However, that is app wide and we don't want to use this if using tabs on top, so we will need to be able to set this on a page by page basis.

API could simply be the SetElevation on navigation page?

[2018-07-06 05:07] hartez commented on #3226
@kpespisa I am trying to reproduce this issue and so far I have not been able to. Can you post a minimal repro project or take a look at mine below and tell me what I am missing?

[_3226 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/2169074/_3226.Repro.zip)

[2018-07-06 05:21] NickDevoctomy commented on #3192
If the same API on Windows devices produces a folder that can be accessed, but the Android one doesn't.  Isn't that then an inconsistent set of APIs? *curious*

[2018-07-06 05:39] keshavk commented on #3221
It is
Visual Studio 2017 version 15.7.4
Xamarin 4.10.10.2
Xamarin Android 8.3.3.2
Xamarin iOS 11.12.0.4

[2018-07-06 06:54] jsuarezruiz commented on #3204
I will take a look. Thanks for the info.

[2018-07-06 09:06] clovs commented on #2444
I got this issue on Android by rendering multiple Label.

[2018-07-06 10:17] alberk8 commented on #3212
Does not work for VS for Windows.   Do not have VS Mac to test.

[2018-07-06 10:56] pavelcleveland commented on #3194
[MasterDetailTabbedPage .zip](https://github.com/xamarin/Xamarin.Forms/files/2170199/MasterDetailTabbedPage.zip)
Here is the the project with updated Master page

[2018-07-06 12:30] TFreudi1 commented on #3182
![xamarin_security](https://user-images.githubusercontent.com/4739177/42378867-1df77c48-8129-11e8-9b36-2384520a772c.png)
It is the VS Output. The PID is always different.

[2018-07-06 13:42] ChasakisD opened #3232 "Feature Request - Button IsPressed Property"
### Description
Right now, there is a IsFocused Property on the VisualElement class. Since IButtonController contains SendPressed and SendReleased, i think there should be a way to find if the button is pressed.

By doing that, a common visual state could be created and named "Pressed". So inside the Button class the SendPressed will make IsPressed to true and SendReleased back to false. In additi

[2018-07-06 14:26] wollac11 opened #3233 "Soft Keyboard Input Mode Ignored In ListViews"
### Description
The soft-keyboard adjustment mode is ignored for Entries within ListViews (and possibly other parent views). Regardless of the set value, "AdjustPan" behaviour is always used.

### Steps to Reproduce

1. Create a ListView inside a StackLayout.
2. Add some Entry items into the ListView (either add enough Entries to fill most of the screen, or position the ListView at the bottom of t

[2018-07-06 14:38] hartez commented on #3181
Closing as duplicate of #1988.

[2018-07-06 14:38] #3181 closed

[2018-07-06 14:50] xamoulin commented on #2852
It would be realy nice if it could be done soon, because it's the only thing that prevent me from using ListView instead of TableView.

[2018-07-06 15:01] hartez commented on #3227
`LoadUrl` in `WebViewRenderer` should be doing something like this:

[code]

[2018-07-06 15:46] hartez commented on #3220
@ajeetsri2006 Never mind, I stumbled on a way to reproduce it while working on another issue. I'll upload a repro project shortly.

[2018-07-06 15:51] hartez commented on #3220
[_3220 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/2171102/_3220.Repro.zip)

[2018-07-06 16:55] hartez commented on #2196
Which device/simulator are you running this on in your gif? I've been testing the attached repro project on devices and simulators, and it seems to work just fine. The closest I can get to the animation hanging is a slight jerkiness the first time it runs on an iPhone 5s sim running 11.4, and after the first animation it's smooth.

 Is there something I'm missing?

[_2196 Repro.zip](https://github

[2018-07-06 17:06] ChaseFlorell commented on #2536
This is one API i'd love to see _broken_ and rebuilt. With the current state of MinimumHeightRequest and MinimumWidthRequest, I'd venture a guess that < 5% of users actually use it.

Example
[code]

I would expect this to make the Label a minimum of 30d tall even if there is no text within. What it actually does... Nothing.

[2018-07-06 17:40] samhouts commented on #3228
related to #2235

[2018-07-06 18:23] francedot opened #3234 "FlexLayout - NullReferenceException when navigating to a page"
### Description

A NullReferenceException is thrown when navigating back/to a page while having a `FlexLayout` with dynamically changing items in the source page. This happens on the `Flex.Item _root` when its last layout cycle is triggered.

### Steps to Reproduce

1. Create a `FlexLayout` with dynamically changing items such as by modifying visibility or sizes periodically.
2. Navigate to anothe

[2018-07-06 18:48] hartez commented on #2198
Looking at your code, you appear to be doing something very different on iOS than on Android/UWP. Does this behavior persist if you handle the list the same way on all the platforms?

(I realize you're handling it differently because of an iOS bug - what happens if you update to the latest nightly build which has a fix for that bug?)

[2018-07-06 19:15] hartez commented on #3234
I don't think it's related to #3183; if I disable XAMLC the error still occurs.

[2018-07-06 19:47] BlueFire-LLC commented on #1557
I have a similar issue but it only occurs if I set Android Target Version to 19 (4.4) or above. Is this the case with others? My app has always supported Android 4.3 (minimum version) so I haven't needed to change the target version until now since Google is forcing us to target 25+.

[2018-07-06 20:24] hartez commented on #3184
I tried running your example, and the Debug statement shows up in the console when I press the back button on Android.

Keep in mind that `OnBackButtonPressed` only applies to the hardware back button; it does not apply to the back button in the navigation bar: https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.navigationpage.onbackbuttonpressed?view=xamarin-forms

[2018-07-06 20:24] #3184 closed

[2018-07-06 20:33] 15mgm15 commented on #1675
@PureWeen Actually let me check and let you know.

[2018-07-06 21:08] hartez commented on #3211
I cannot reproduce the reported behavior on VS for Mac or VS for Windows.

Which line of the setter are you placing the breakpoint on?

[2018-07-06 21:31] kwiqniss commented on #3184
It's an inconsistent behavior. In any other content page, this event fires when the back button in nav bar is pressed. It doesn't fire on Android and iOS when done from MasterDetailsPage, but does fire if you aren't using MasterDetailsPage. It's also inconsistent that it fires on Windows, but not android and iOS when done from MasterDetailsPage.

[2018-07-06 21:35] hartez commented on #3152
@PinkoAgrawal Android projects in Xamarin.Forms are built on Xamarin.Android.

I've opened up an issue at https://github.com/xamarin/xamarin-android/issues/1934 and referenced this issue.

[2018-07-06 21:51] kzu commented on #3067
I cannot reproduce this anymore in the latest 15.8 Preview.

[2018-07-06 21:51] #3067 closed

[2018-07-06 22:16] #3152 closed

[2018-07-06 22:28] 15mgm15 commented on #1675
@PureWeen Using the normal tav bar everything works as expected, the `TabLayout` of the `TabbedPageRenderer` is hidden or showed as we pleased. But I tried setting the height to 0 on the layout parameters and it actually worked!

`BottomNavigationView _bottomBar;
...
if (_extendedTabbedPage.BottomTabBarHidden)
{
    _layoutParams.Height = 0;
    _bottomBar.LayoutParameters = _layoutParams;
}
else

[2018-07-06 22:29] kingces95 commented on #1628
[App14.zip](https://github.com/xamarin/Xamarin.Forms/files/2172127/App14.zip)

Reproduction of the behavior which is as described.

A button will recognize any gesture as a click regardless of how much sliding occurs so long as the sliding starts and stops within the button.

A label with a tap gesture recognizer will register a tap with only a few pixels of sliding tolerance.

[2018-07-06 22:35] kingces95 commented on #1628
@jassmith says we should add a knob to allow users to control sliding tolerance for the tap gesture recognizer. I doubt we'll go as far as making the tap gesture recognizer logic match that of a button.

[2018-07-06 22:40] kingces95 commented on #3154
@JKennedy24 From the stack trace it's hard to identify what cause the issue. Could you attach a reproduction? If you could start from a blank forms app and add just enough logic to demonstrate the issue that'd really help.

[2018-07-06 22:49] mathias3d commented on #1628
I am glad to hear that this is being dealt with. A setting for the sliding tolerance would be appreciated, right now i am getting allot of complaints about people not being able to use our app because the users think they cant click on the items.

[2018-07-06 23:11] kingces95 commented on #3234
@StephaneDelcroix Simply a missing null check? Francedot's got a proposed fix. There are other such null checks in the code indicating it's not unexpected to get callbacks when `_root` is null...

[2018-07-06 23:18] kingces95 commented on #3186
@rspulini @arino-godinho @matteozoni Could you attach a small reproduction?

[2018-07-06 23:23] hartez commented on #3184
If a NavigationPage is the Detail of a MasterDetailPage, the navigation bar back button does not trigger OnBackButtonPressed on iOS or Android. The hardware back button triggers OnBackButtonPressed on Android.

In a standalone NavigationPage (no MasterDetailPage), the navigation bar back button does not trigger OnBackButtonPressed on iOS or Android. The hardware back button triggers OnBackButtonPr

[2018-07-06 23:28] kpespisa commented on #3226
Thanks. I was able to reproduce the issue if I set the margin to

`Margin="0 0 0 10"`

[2018-07-07 10:04] GalaxiaGuy commented on #3186
It believe it was introduced here:

https://github.com/xamarin/Xamarin.Forms/commit/92b7f1f5477e5804530c3af03fd8cb5842106a1e#diff-22025e2a9c1807b8efa13c3309de99a4

`View.IsInlayout` was introduced in API 18 (Android 4.3).

The only other place that references it has a version check:

https://github.com/xamarin/Xamarin.Forms/blob/14af670f5a200d164284fa4f0b3e4f7ce03b53df/Xamarin.Forms.Platform.Andro

[2018-07-07 17:29] NMansuriET opened #3236 "Visual Studio 2017 and Xamarin Forms Issues"
### Description
If i try to create a Xamarin.Forms (3.1)  project in Visual Studio 2017, it fails with below issues.

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4062	The "Xamarin.Forms.Build.Tasks.XamlGTask" task could not be loaded from the assembly C:\Users\nmansuri\.nuget\packages\xamarin.forms\3.0.0.561731\build\netstandard2.0\Xamarin.Forms.Build.Tasks.dll. Could no

[2018-07-07 18:41] NMansuriET commented on #3236
I tried the below steps:

1. Downgraded the Xamarin Forms version for all projects from 3.0 to 2.5
2. Closed studio and manually deleted bin and obj folder under each project
3. Opened VS and the rebuilt the solution. SUCCESSFULLY rebuild all project!!

I cannot build Forms app with 3.x version on VS 2017 professional.

[2018-07-07 22:17] VladislavAntonyuk commented on #3236
Delete all folders in C:\Users\nmansuri.nuget\packages

[2018-07-07 22:17] VladislavAntonyuk commented on #3236
restart VS

[2018-07-07 22:20] VladislavAntonyuk commented on #3221
Delete folder C:\Users\<User>\.nuget\packages\

[2018-07-08 02:17] VladislavAntonyuk opened #3237 "MacOS Tabpage error"
Step to reproduce.
1. create tab page with 2 tabs.
2. on 1 tab create list with elements. by click on item you follow on element detail page. it is also tab page with 2 tabs.
3. click on Back button (navigation arrow)

Xamarin.Forms: 3.1

Manufacturer: Apple
Platform: macOS
Version: Version 10.13.5 (Build 17F77)
App Version: 1.0

System.ObjectDisposedException: Cannot access a disposed object.
Obj

[2018-07-08 04:21] NMansuriET commented on #3236
deleting packages is not working..

I have observed the yellow warning ticks on the dependencies folder in the shared library. If the Forms version is 3.x, i get this warning ticks else not. I think this is the root cause of my problem. I have not configured the environment properly.

How the dev environment should be configured to use Xamarin Forms in VS2017 if:
1) Windows OS is 10
2) Which .NET

[2018-07-08 06:58] rraallvv commented on #2000
I'm stuck trying to make a cell in a grid to have a shrinkable size, this property would be very helpful for that use case. In a grid for instance it would separate two columns by a prefixed space, and only if the size of the elements in other columns is big enough it should shrink all the way down to zero, so that the grid spacing would be the only space left.

[2018-07-08 09:33] pfaucon commented on #3211
It's in the video that I attached:
https://www.useloom.com/share/d1d604020ea145298e76f3ce98f8dc86

when I triggered it I don't think it mattered which line I put the breakpoint on, as long as the breakpoint was hit.  I'm having trouble loading the video at the moment, but I think it was on line 72 or 73 though (the first 2 lines of the setter).

Here is a dump of the VS information:

=== Visual St

[2018-07-08 16:39] pauldipietro commented on #3236
Please install .NET Framework 4.7.1 if it isn't and see if that helps your issue.

[2018-07-08 17:08] NMansuriET commented on #3236
How do i install 4.7.1? Its not under the modify list. Any pointers on how to install it externally?

[2018-07-08 22:04] MartinZikmund commented on #2838
May I take this one? @jassmith @varyamereon  @pauldipietro

[2018-07-09 06:56] rohitvipin opened #3240 "EntryCell in iOS not left aligned"
### When using Entry cell it's not left aligned.

### Steps to Reproduce

1. Create a new Xamarin forms solution in 3.1.0
2. Create a tableview, add entry cell to its root.
3. Run on iOS

### Expected Behavior
Entry cell is left aligned.

### Actual Behavior
Entry cell is not left aligned (a left padding of ~100 is present)
The calculation [here](https://github.com/xamarin/Xamarin.Forms/blob/maste

[2018-07-09 07:03] LeeCenY opened #3241 "Custom renderer singleton mode. How do I do this?"
Use a custom renderer to control platform-specific controls. Static global classes are singleton mode. How do I do this?

[2018-07-09 07:22] StephaneDelcroix commented on #3234
@hartez I don't get the reference to XamlC. is there something I'm missing ?

[2018-07-09 07:54] NMansuriET commented on #3236
Is Xamarin forms 3.x compatible with .Net Standard 2.0?

[2018-07-09 09:16] GiorgioGe opened #3242 "Android: Navigating back from page with HasNavigationBar=false resizes page incorrectly"
### Description
We have detected the same problem for Android as described under #2178 for iOS.
"We have a problem where the content of a page(1) WITH NavigationBar is cut off at the bottom when navigating BACK from a page(2) WITHOUT NavigationBar. Seems like the page is incorrectly updating its size on reappearing based on the old value of NavigationBar.HasNavigationBar."

### Steps to Reproduce

[2018-07-09 10:36] JKennedy24 commented on #3154
@kingces95 I'm affraid I haven't got a lot of time currently to get toghether a sample.

Below is my View though:

[code]

I've narrowed it down to a `Frame` that contains a `Grid` that has `CompressionLayout` on.

If I remove `CompressionLayout` from the grid it works fine

[2018-07-09 10:40] wollac11 opened #3243 "Entry.Focus() Has Issues With External / Physical Keyboards"
### Description
If the completed action of an entry field is handled by setting focus to another entry, this will change focus twice when hitting the return/enter key of an external keyboard. Pressing done on the soft keyboard works as expected.

### Steps to Reproduce

1. Create a method for entry "Completed".
2. Set focus to another entry in this method (e.g. nextEntry.Focus() ).
3. Run app, foc

[2018-07-09 13:16] SpiegelSoft opened #3244 "Android: ImageSource.FromFile does not pick up images if they are stored in a mipmap folder"
### Description
If Android images are stored in mipmap folders (see attached screenshot), then ImageSource.FromFile does not pick the images up, since the associated resource lies in the Resources.Mipmap type as opposed to the Resources.Drawable type.

### Steps to Reproduce

1. Create a Xamarin Forms project using File -> New Project
2. Check that image resources are held in mipmap files, as per

[2018-07-09 13:34] arino-godinho commented on #3186
@kingces95 Sample tested with Android 4.2 emulator - API 17

**Reproduction Link**
[AppSampleIssue3186.zip](https://github.com/xamarin/Xamarin.Forms/files/2176331/AppSampleIssue3186.zip)

[2018-07-09 13:36] louis030195 commented on #1557
Same here, with Xamarin.Forms 3.1.0.
StackLayout having child Grid, HorizontalTextAlignment of items in the grid is broken when parent view is set to visible / invisible.

[2018-07-09 14:30] KSemenenko opened #3246 "DataTemplate for Caching strategy RecycleElementAndDataTemplate"
Hi, is there a way to create suitable for RecycleElementAndDataTemplate DataTemplate from xaml?
Now I can not use my DataTemplateSelector for ListView using caching.

This method does not work:
[code]

[2018-07-09 14:32] KSemenenko commented on #3246
I've seen in the tests how you create it from the code, but I'd like to do this from xaml

[2018-07-09 14:47] juepiezhongren commented on #2452
@jassmith seems that draw is to be done for 3.3.0？

[2018-07-09 14:47] BillyMartin1964 commented on #2004
App Center shows me getting this same error 4 different times on 4 different devices with Xamarin Forms 3.1.0.583944:

Galaxy S9
LG G5
Stack
Galaxy S7

[code]

[2018-07-09 14:50] pauldipietro commented on #3236
[Here](https://blogs.msdn.microsoft.com/dotnet/2017/10/17/announcing-the-net-framework-4-7-1/) is a page regarding the 4.7.1 release; I would suggest installing that, doing a full deletion of bin/obj folders along with a clean and rebuild of your project and report back. If it still does not work, uploading a solution that fails on your end can let us compare.

[2018-07-09 14:52] pauldipietro commented on #3243
Can you please test with the latest 3.1 stable and upload a reproduction if the issue still occurs?

[2018-07-09 15:02] GalaxiaGuy opened #3247 "[Android] D-pad navigation does not work"
As reported here: https://bugzilla.xamarin.com/show_bug.cgi?id=30894

A default Xamarin Forms application can not be navigated using the hardware d-pad on Android. This page (https://developer.android.com/training/keyboard-input/navigation
) suggests an Android app should support this by default.

The linked bugzilla suggests this is intended behavior, so this might be better classified as an enha

[2018-07-09 15:07] gregmercer commented on #1911
Can anyone give me an update on this issue?

[2018-07-09 15:21] danger4386 commented on #2004
We were seeing a similar crash with a scrollview containing buttons, among other components.  We narrowed down the issue to the buttons, and then discovered that the buttons were having the Disposed method called after Android had already Disposed of them, and so the exception was being thrown.  We override the Dispose method in both the ScrollView and Button renderers to try to do the dispose, bu

[2018-07-09 15:35] BillyMartin1964 commented on #2004
@danger4386 ,I'm confused. Are you saying I would have to make custom button renderers?

[2018-07-09 16:01] PureWeen commented on #1675
Hey that's good to hear!! Once https://github.com/xamarin/Xamarin.Forms/issues/3055 gets fixed I'm hoping that will smooth out some of the rough parts a bit

@cassionandi  are you still having issues? If you set the navbar location in your constructor or use XAML you shouldn't be having any issues

[2018-07-09 16:06] PureWeen commented on #2004
@duzenko  is it throwing with the same stacktrace as you initially opened this issue with ?

@BillyMartin1964   This issue manifests itself in a few different ways. Do you have a small repro by chance so we can see your use case?

[2018-07-09 16:09] niels9001 commented on #1675
If you do not set a label, and only the icon, the icons are not center aligned vertically. It looks weird, like there is a label missing.

Is this expected behaviour? Would be nice if the icons would be in the center (like the Outlook app on Android).

[2018-07-09 16:33] BillyMartin1964 commented on #2004
@PureWeen , I'm afraid repro would be hard. According to App Center, it's only happened 1 time each with 4 different users out of hundreds. Still, I don't really want ANY crashes! LOL

[2018-07-09 16:41] pauldipietro commented on #3237
Using a nested TabbedPage as described does cause the exception against 3.1.583944.

[2018-07-09 17:03] powerdude opened #3249 "NCrunch fails to build project"
##Summary
Prior to 3.1(at least with 2.4), one could use NCrunch to do unit testing.  Now, NCrunch fails to build the project if it has a XAML file in it and the project uses `XamlCompilation` attribute.  What has changed in the tooling to now cause this error with every view:
[code]

##API Changes

none
##Intended Use Case
faster velocity with unit testing

[NCrunchBug.zip](https://github.com/xam

[2018-07-09 17:30] danger4386 commented on #2004
@BillyMartin1964 Yes, we are using a custom button renderer for all the buttons in our application.  We removed the custom renderer and were still seeing the crash with the ObjectDisposedException when navigating back from a page with a button.  Here is the complete source for the CustomButtonRenderer.  All it changes is to catch the ObjectDisposedException on the Dispose call.  I'll note here tha

[2018-07-09 17:31] jalbertSyncroTech opened #3250 "Intermittent null exception in UWP OnPageAlert()"
### Description

I'm getting an intermittent null exception from Xamarin.Forms.Platform.UAP/PlatformUWP.cs OnPageAlert().

The culprit appears to be from the fix for #2607 "[UWP] Deadlock if you rapid fire alerts".

This code is not thread safe, specifically this block:
[code]
https://github.com/xamarin/Xamarin.Forms/blob/8c23ad6c893b8e5b7f3fd2573c4ebde0a0441950/Xamarin.Forms.Platform.UAP/Platform

[2018-07-09 17:41] PureWeen commented on #3250
Yea :-/

or maybe coalesce the check

[code]

[2018-07-09 17:45] jalbertSyncroTech commented on #3250
That'll fix the first case, but you'll still need a temporary variable to fix the second case as the previous alert may have set s_currentAlert to null in between the second alert creating and awaiting it.

[2018-07-09 17:53] PureWeen commented on #3250
Can that happen? The second alert is only going to be able to create an alert once the previous alert has already set it to null.

The while loop will only exit once this line of code
[code]
Has already ran

[2018-07-09 17:57] pauldipietro commented on #3242
Using the referred issue's reproduction with 3.1, the bar at the bottom shows as expected on an iPhone X and 8 simulator. Please provide an updated reproduction if possible.

[2018-07-09 18:05] davidd4 commented on #2834
I've upgraded Xamarin.Forms to latest stable (3.1.0.583944) in the solution.
The error still occurs on the same spot.
Tested on emulator API21 / device API23.

The android project in your fix references Xamarin.Forms "9.9.11". From where comes this version 9.9.11?
The error might not occur in version 9.9.1 but it does in 3.1.0.583944.

Updated solution/projects attached.
[XFBug_new.zip](https://gi

[2018-07-09 18:07] jalbertSyncroTech commented on #3250
Sure it can: both threads are awaiting the same task, so if the 2nd alert continues first and gets paused just before `options.SetResult(await s_currentAlert.ConfigureAwait(false));`, then the 1st task will set s_currentAlert to null before the 2nd alert has a change to use it.

[2018-07-09 18:07] pauldipietro commented on #2849
This will be closed due to the lack of a response. Please reopen with a reproduction as requested if the issue still occurs.

[2018-07-09 18:07] #2849 closed

[2018-07-09 18:21] jalbertSyncroTech commented on #3250
never mind, I see what you meant: the 2nd alert will still be in the while loop until the 1st alert has set the s_currentAlert to null

[2018-07-09 19:22] pauldipietro commented on #3240
Confirmed occurring against 3.1.

[2018-07-09 20:01] pauldipietro commented on #3241
Can you please clarify your question and use case scenario?

[2018-07-09 20:24] ctrexler commented on #1407
I've updated Xamarin and everything and tried countless folk remedies I've encountered on the net and I'm still encountering this exact issue.

[2018-07-09 22:20] hartez commented on #3234
@StephaneDelcroix My bad - I got confused between #3183 and #3226.

[2018-07-09 22:33] hartez commented on #1454
It's undefined behavior - I don't think we've ever specifically determined any rules for it.

We should probably determine what the least surprising behavior would be and enforce it.

[2018-07-09 23:04] hartez commented on #1760
@ceblanda Can you expand on that? I've tried @PureWeen's repro with 3.1.0.583944 and it's working.

[2018-07-09 23:11] hartez commented on #1407
@ctrexler Which version of Visual Studio are you running? Which version of Xamarin.Forms are you currently using?

[2018-07-09 23:21] kevinrodriguez-io opened #3252 "iOS HttpClient GetAsync hangs indefinitely on await"
### Description

iOS Application hangs indefinitely while calling HttpClient.GetAsync(...); if the internet connection dies.
I'm not using wait() or .result to block the methods, everything is being called asynchronously.

### Steps to Reproduce

1. Create a Web Api which returns a Delay for 1m on a GET REST endpoint.
2. Create Xamarin Forms Project (PCL), implement HttpClient.GetAsync to call a R

[2018-07-10 00:49] kingces95 commented on #3085
Bisected regression to https://github.com/xamarin/Xamarin.Forms/commit/5fdec77627914e30f9f2c4e05011c244ddf53b52

[2018-07-10 05:16] keshavk commented on #3221
Stilling getting the same error, I also delete the packages folder in my project folder.
Also deleted bin and obj. but still no luck.

[2018-07-10 05:40] jitendrajadav opened #3254 "[Android] Xamarin.forms ProGuard Enable still App size not reducing"
I have ask this question in Stackoverflow but couldn't get answer I don't know where I have to ask this Question please check link : [ Xamarin.forms Android Proguard issue](https://stackoverflow.com/questions/51245731/xamarin-forms-android-app-proguard-enable-still-app-size-not-reducing)

### Description
Xamarin.forms Android App I have Enable ProGuard but still my app size is 34 MB it is very hug

[2018-07-10 08:43] VladislavAntonyuk commented on #3221
The error says it can't find Xamarin.Forms.Build.Tasks.dll. Make sure it exists

[2018-07-10 08:50] keshavk commented on #3221
Yes, the file exists.

[2018-07-10 09:07] SokHeangKhun opened #3256 "Xamarin.Forms Button"
I have an issue of Xamarin.Forms button on Android. I have ask the quest on stackoverflow. Here is the link https://stackoverflow.com/questions/50824759/xamarin-forms-button-background

[2018-07-10 09:20] NMansuriET commented on #3236
I could not install 4.7.1.
![471blocked](https://user-images.githubusercontent.com/29778388/42501082-8531d1c2-8450-11e8-9bd5-d19e373d4d3d.PNG)

[2018-07-10 09:30] devqasm opened #3257 "Back button behaves strange when putting a tabbed page inside a NavigationPage on UWP"
### Description
When trying to integrate the tabbed page in our application. We wanted to give the user the ability to navigate outside of the tabbed page for a full screen experience. On UWP a weird behavior occurs when navigating between the tabs and while navigating inside of them. Each of our tabs is a navigation page that hosts a stack of views the user can go to and back. It happens on XF 3.

[2018-07-10 09:54] jlahare commented on #1407
@hartez : in my case, i am using Visual Studio 2017 community edition, Xamarin.Form 3.1.0.583944.

i tried by downgrading its different versions, no help.

[2018-07-10 10:09] KSemenenko commented on #3246
[code]
This option also does not work and I get an error:
Error: Position 16:6. No constructors found for Xamarin.Forms.DataTemplate with matching x:Arguments

[2018-07-10 10:19] GalaxiaGuy commented on #3256
This could be a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/3220

[2018-07-10 10:24] SokHeangKhun commented on #3256
How could I solve this?

[2018-07-10 10:37] breyed opened #3258 "Ctrl+A does not select all in WPF password Entry"
In Xamarin.Forms for WPF, in an ordinary Entry, pressing Ctrl+A selects all text in the Entry. This proper, standard behavior in Windows.

However, if IsPassword="True", Ctrl+A does not select all text. It should.

[2018-07-10 10:40] breyed commented on #3258
It turns out Ctrl+A is the tip of the iceberg. None of the navigation keys work either. This would be OK if all text were selected when the Entry received focus, but it doesn't. Currently, the only way to change a password is to backspace through every character.

[2018-07-10 11:28] breyed opened #3259 "Page.DisplayActionSheet truncates and ignores casing in WPF"
In WPF, `Page.DisplayActionSheet` displays the sheet title in all caps without wrapping. This is contrary to iOS, which uses mixed case and wraps, and thus allows for reasonably lengthy and descriptive titles. iOS uses such descriptive titles in much of its UI.

Please update to preserve case, wrap text, remove bolding, and use a smaller font size. In general, render the `title` parameter as dialo

[2018-07-10 11:39] nikolayDemirev opened #3260 "XamlC NRE using derived view from Layout<T>"
### Description
Adding children into a custom layout delivered from Layout<T> causes Object reference not set to an instance of an object while building when XamlCompilation is enabled

### Steps to Reproduce

1. Build the attached project

### Expected Behavior
The project can be compiled

### Actual Behavior
Error while building the project "Object reference not set to an instance of an object"

[2018-07-10 11:57] VincentH-Net commented on #3172
How about adding `GroupItemsBinding`?

That would let a Group **contain** a collection type property, instead of requiring that a group is **derived from** a collection, like the ListView does. This existing ListView limitation has forced me to do a performance costly duplication of grouped data structures on several occasions. Adding `GroupItemsBinding` would prevent this and allow a more flexibl

[2018-07-10 12:07] breyed opened #3261 "PushModalAsync not modal on WPF"
On WPF, when a modal page is invoked like this:

[code]

The resulting page is not modal. It has a back button, and the toolbar in the navigation page is not displayed, which is opposite of the expected results.

Xamarin.Forms.Platform.WPF 3.1.0.583944

[2018-07-10 12:40] kasperrt opened #3262 "Feature Request - Cookie-functionality for WebViews"
## Summary
Add easy, accessible functions for setting/removing/clearing cookies from a specified website in a WebView.

## API Changes

In order to add a cookie to a WebView instance, have a function in the lines of (This function can also function as editing a cookie, if there already exists a cookie with the specified cookie.Name. If an expiration date is set to a date in the past, the cookie wi

[2018-07-10 12:46] danielkatz commented on #3000
It looks like the problem stems from an error in measuring the ScrollViewContainer.
We managed to create a working workaround for this issue [RtlScrollViewFix](https://github.com/danielkatz/RtlScrollViewFix).
There is a secondary bug, that int RTL mode, the scrollbar starts from the left side, which in RTL is the end. This issue resolve by this workaround a well.

[2018-07-10 13:47] pauldipietro commented on #3252
Can you upload a reproduction and clarify if this only occurs on physical devices?

[2018-07-10 13:48] pauldipietro commented on #3256
Duplicate of the aforementioned issue; please use the other issue for further discussion

[2018-07-10 13:48] #3256 closed

[2018-07-10 13:55] pauldipietro commented on #3258
Described behavior validated against 3.1.

[2018-07-10 13:57] pauldipietro commented on #3261
Described behavior confirmed using 3.1

[2018-07-10 14:03] pauldipietro commented on #3259
Described behavior occurs using 3.1

[2018-07-10 14:05] MichaelRumpler opened #3265 "[WPF] When you tap the selected item in a ListView, ItemTapped is not raised"
### Description

A ListView has two events: ItemSelected and ItemTapped. ItemSelected is only raised, when the selection changed, but ItemTapped should be raised every time when I tap an item. Also if it is already selected.

### Steps to Reproduce

Tap the same item in a ListView twice

### Expected Behavior

ItemTapped is raised

### Actual Behavior

ItemTapped is only raised, if the item was no

[2018-07-10 14:15] pauldipietro commented on #3265
The difference in behavior does occur. Thanks for the repro.

[2018-07-10 14:18] MichaelRumpler opened #3266 "[WPF] When scroll a ListView with a touchscreen, the highlighting behaves strange"
### Description

When you use a touchscreen to scroll a ListView, the touched cell becomes highlighted (not like the selected cell) and when you then move your finger up/down, the highlighting does not stay at your finger tip, but the cell where the original touch was is highlighted.

### Steps to Reproduce

1. Display a ListView
2. Touch any cell
3. drag your finger up or down to scroll the ListV

[2018-07-10 14:30] MichaelRumpler opened #3267 "[WPF] Memory leak when you pop a TabbedPage"
### Description

If you use a NavigationPage and push and then pop a TabbedPage, the renderers for elements on the first child of the TabbedPage are instantiated again after it has been removed.

### Steps to Reproduce

1. use a NavigationPage as MainPage
2. PushAsync a TabbedPage
3. go back from the TabbedPage so that it should be popped

### Expected Behavior

All renderers needed by the TabbedP

[2018-07-10 14:54] kwiqniss commented on #3184
You'll see in page and content page that there is no specific mention of this only working for hardware button. The issue is occurring in a content page. If you do OnBackButtonPressed in any other content page where the page is wrapped in a NavigationPage, clicking back button in nav bar will fire OnBackButtonPressed, unless that ContentPage is set to the Details of a MasterDetailPage. So, it's in

[2018-07-10 15:20] PureWeen commented on #3250
That being said :-)  Your suggestion to assign to a local variable sits with me as a better and more clear approach.  PR has been created.

[2018-07-10 15:42] danilkurkin1 commented on #2041
Started to recive this issue with latest update of Xamarin forms 3.1.0.583944

Fatal Exception: java.lang.Throwable: Cannot access a disposed object.
Object name: 'Android.Graphics.Bitmap'.
       at Java.Interop.JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self)(filename unknown)
       at Java.Interop.JniPeerMembers+JniInstanceMethods.InvokeAbstractVoidMethod (System.String encodedMembe

[2018-07-10 16:11] hartez commented on #3184
Run the reproduction project I posted (BackButtonPressed Repro.zip) on Android:

1. Select "Navigation Page". This sets the main page of the application to a NavigationPage which wraps a ContentPage containing a button.
2. Tap the button on the ContentPage. This pushes a ContentPage onto the stack which overrides OnBackButtonPressed.
3. Tap the hardware back button at the bottom of the device. The

[2018-07-10 16:43] MichaelRumpler opened #3271 "[WPF] the order of transformations is not correct"
### Description

If you apply more than one of Rotation, Scale and TranslationX/Y to any element, then the order of these transformations is not correct on WPF.

But that order is of crucial importance. If you rotate the element first and then change TranslationX, then the element is moved on the X axis. But if you first apply TranslationX and then rotate it by 90 degrees, the translation is actua

[2018-07-10 17:09] hartez commented on #1407
@jlahare And you're getting the exact error message posted above? An `InvalidCastException` when calling `SetDefaultActionBarTitleTextColor ()`?

Are you on Mac or Windows?

[2018-07-10 17:14] pauldipietro commented on #3266
Thanks for the repro; described behavior does occur.

[2018-07-10 17:15] pauldipietro commented on #3267
Thanks for the repro; described behavior does occur.

[2018-07-10 17:44] mohachouch commented on #3267
Very good report, I will look at that

[2018-07-10 17:47] mohachouch commented on #3261
It is a modal page but I still put the back button. I can delete the back button.

But I confirm that the navigation bar is missing in the modals pages

[2018-07-10 17:58] paulwroe opened #3272 "MTOUCH : error MT2002: Failed to resolve "CoreSpotlight.CSSearchableItemAttributeSet""
### Description

My project is Xamarin.Forms project PCL
I'm referencing the correct version of Xamarin.iOS 11.12.0.4 which should include CoreSpotlight

But I continually get the below message for my iOS project

MTOUCH : error MT2002: Failed to resolve "CoreSpotlight.CSSearchableItemAttributeSet" reference from "Xamarin.iOS, Version=0.0.0.0, Culture=neutral, PublicKeyToken=84e04ff9cfb79065"

###

[2018-07-10 18:22] pauldipietro commented on #3271
Thanks for the repro, can see the difference in behavior

[2018-07-10 18:33] kingces95 commented on #1666
@alanag13 Would you mind sharing your implementation as it currently stands?

[2018-07-10 18:41] 1Cor125 opened #3273 "UWP Regression: Drag and drop reordering not firing CollectionChanged"
### Description
Reordering UWP list view using drag and drop, CollectionChanged events are not fired. This appears to have regressed between 3.0.0.482510 and 3.0.0.530893. In 482510 it was firing both a Remove and an Add event. In 530893 it stopped firing any events on a drag and drop reorder. The latest 3.1 version does not fix the issue.

### Steps to Reproduce
1. Run the attached app using a UW

[2018-07-10 20:07] VladislavAntonyuk commented on #2667
<Reference include="netstandard"/> fix the problem without installation of net 471

[2018-07-10 20:20] kwiqniss commented on #3184
This is odd. I watched Xam U instructor use this for Content Page, and they even have it in their slides with screenshots showing it worked at one point.
I tried a new project and observed the same behavior in a project with and without MasterDetailsPage this time. On Windows, the event fires when the back button from nav bar is pressed, however the breakpoint isn't hit. The event doesn't fire on

[2018-07-10 21:32] VitalyKnyazev opened #3275 "[iOS] For ListView in Recycle mode ScrollTo causes cell leak and in some cases NRE"
### Description
When ListView uses Recycle mode and cells have MenuItem and a framework like Prism.Forms is used then ListView.ScrollTo causes NRE.

Root cause - ListView.ScrollTo leaks cells in Recycle mode. Leaked cells with MenuItem still listen to OnMenuItemPropertyChanged and after navigating away from the page Prism.Forms sets BindingContext to null which causes NRE in ContextActionsCell.Set

[2018-07-10 22:03] danielkatz commented on #3066
@radekdoulik  The issue is actually worse because `Padding` **does** respect the element's `FlowDirection`, while `Margin` **does not**.

To workaround this issue on our project i've come up with [RtlThickness](https://github.com/danielkatz/RtlThickness).
The project also includes a demo of the issue and the solution with a comparison between `Margin` and `Padding`.

[2018-07-10 22:43] #1726 closed

[2018-07-11 02:08] pauldipietro commented on #3275
Please provide an update when you have a repro. Thanks!

[2018-07-11 02:22] pauldipietro commented on #3272
This sounds like it might be something other than a Forms issue, but will need to follow up and find out.

[2018-07-11 04:43] AwsomeCode commented on #2181
This is useful for normal application as well. Eg. Like adding new invoice item in list. And remove the last empty option if list not focus.

[2018-07-11 06:03] NickDevoctomy commented on #3192
I understand that,  but from this perspective,  if I open "My Files" app on my phone and then open the "Documents" folder,  it's reasonable to expect that folder to be "My Documents", it isn't. I understand this is probably an issue with .NET standard as opposed to Xamarin though.

[2018-07-11 06:56] codercampos commented on #2021
Maybe add the Handler collection besides the main collection could fix this. I don't if this is a good practice (I think it isn't ) but maybe this enlights someone else

[2018-07-11 08:13] AmrAlSayed0 commented on #2021
If you want to make sure that the command isn't fired while the element is being animated (or whatever it is doing) then you can use then you can provide a function for the "CanExcute" and call Command.ChangeCanExcute() when you want the command to recheck its status.

[code]

[2018-07-11 12:04] bverp commented on #1675
I think I'm missing something. I updated Xamarin Forms to release 3.1.0.583944 but I get two errors on the line  `On<Xamarin.Forms.PlatformConfiguration.Android>().SetToolbarPlacement(ToolbarPlacement.Bottom);`

**The name ToolbarPlacement' does not exist in the current context**

 and

**Error CS1061: 'IPlatformElementConfiguration<Android, TabbedPage>' does not contain a definition for 'SetToolb

[2018-07-11 12:05] jonkas2211 commented on #1932
Does anybody has found an workaround or has a idea for one?

[2018-07-11 12:41] jlahare commented on #1407
i am using Xamarin.Form in Microsoft Visual Studio Community edition over Windows 10 O.S.

[2018-07-11 13:17] ctrexler commented on #1407
@hartez I'm also using Visual Studio 17 commutiy with the latest Xamarin 3.1 and yes I'm receiving the exact error message of an `invalid cast` for `SetDefaultActionBarTitleTextColor ()`. Also, I'm on Windows 10, and it's a preview build to be honest.

I might've figured something out though. I found out that my project is a Portable Class Library which went obsolete about  a year ago. I'm going t

[2018-07-11 13:50] pauldipietro commented on #3266
Behavior was reproducible on a Surface Book 2 screen.

[2018-07-11 14:06] godevrepo commented on #3147
Same issue here as @ajfear1975. True initialized Switches are crashing the app even though we are using AppCompat.

[2018-07-11 14:23] jvansickle opened #3277 "[macOS] Grid Row Height zero does not hide contents"
### Description

When using a grid with multiple rows, if a middle row's height is set to 0 (zero) then the content of the row is still displayed.

### Steps to Reproduce

1. Add a Grid with three rows and a way to toggle the height of the middle row
2. Set middle row height to zero

### Expected Behavior

The content of middle row should not be visible and the grid should adjust for the zero-heig

[2018-07-11 14:23] jvansickle commented on #3277
I will be working on a fix for this

[2018-07-11 14:33] KSemenenko opened #3278 "Add like x:DataType property in WPF into DataTemplate to type and template connection"
Hi, I think that you need to add the x:DataType property in DataTemaplte. this works well in WPF and it's strange that it's still not in XF

[2018-07-11 14:34] KSemenenko commented on #3032
Any updates?

[2018-07-11 15:22] paymicro commented on #3139
Hi @ashishm29
You can try adding `await Task.Sleep(200)` before `DisplayActionSheet`. To let the "Loading" dialog appear and not show the `ActionSheet` before it appears.

[2018-07-11 15:31] mgoertz-msft commented on #3032
There are really two parts to this issue.

1. x:DataType is treated as an error by our XAML Language Service.
2. Binding IntelliSense inside of DataTemplates does not take x:DataType into account.

A fix for the first part will ship with 15.8. The 2nd part will then also work if you set x:DataType on the DataTemplate itself but not further up the parent chain (that is more of a missing feature whi

[2018-07-11 15:38] GalaxiaGuy commented on #3278
`x:DataType` has been supported since at least October 2017:
https://blog.xamarin.com/databinding-power-moves-you-may-not-be-using-yet/

Here are a couple of discussions relating to it:
https://github.com/xamarin/Xamarin.Forms/issues/3032
https://github.com/xamarin/Xamarin.Forms/issues/3030

[2018-07-11 15:41] KSemenenko commented on #3278
@GalaxiaGuy I meant the functional as in WPF, when I specify the data type for which this DataTemplate was created. Now I'm having trouble creating DataTemaplte and calling ctor DataTemaplte(Type type) to support caching in ListView.

[2018-07-11 15:53] PureWeen commented on #1675
@bverp

[code]
?

[2018-07-11 15:58] PureWeen commented on #3147
@ajfear1975  @godevrepo   if you can open a new issue with an example that would be helpful.  Are you also on the latest 3.1 version of XF?

[2018-07-11 16:07] godevrepo commented on #3147
Sure, I'll do that tomorrow. But i am on the latest version on NuGet 3.1.0.583944 which is from 06/20, so could the fix possibly not be included?

[2018-07-11 16:13] PureWeen commented on #3147
The fix for this only applied to non AppCompat so if you're having the issue while using AppCompat then it's a different issue

[2018-07-11 16:15] mattregul commented on #1778
I'd love to see this added!

[2018-07-11 17:49] pauldipietro commented on #3249
Unsure of how to proceed so this could possibly be marked as needs info until we find out if they're related.

[2018-07-11 18:00] pauldipietro commented on #3273
Confirming that the behavior does appear to occur/not occur as described.

[2018-07-11 18:16] PureWeen commented on #2021
This looks to be fixed in 3.1

If that seems incorrect we can reopen

[2018-07-11 18:16] #2021 closed

[2018-07-11 18:24] PureWeen opened #3279 "[UWP] ScaleTo appears to no longer work"
### Description
ScaleTo doesn't appear to do anything anymore on UWP

### Steps to Reproduce
Using the following code click on the text.

On iOS and Android you can see the scale change and then come back whereas on UWP it does nothing

[code]

### Expected Behavior

The Label should shrink a little then grow back to normal size

### Actual Behavior
Clicking on the Text has no effect

### Basic In

[2018-07-11 19:02] PureWeen commented on #1490
@pgrho  if possible can you test against the attached pre-release nuget and let me know if you still see the same problem?

[3.3.0.zip](https://github.com/xamarin/Xamarin.Forms/files/2185851/3.3.0.zip)

[2018-07-11 19:43] 15mgm15 commented on #1675
If anyone wants to **override the OnTabReselected** event or wants to **add badges** to the tabs or wants to **hide the BottomNavigationView** here is an example:

https://gist.github.com/15mgm15/76914bf623e33676252864ac1898e7f9

[2018-07-11 20:35] davidortinau opened #3280 "No XAML TypeConverter for Size, results in IL error"
### Description
Using the new `ShadowOffset` with platform specific results in an IL error.

<img width="851" alt="screenshot 2018-07-11 14 41 59" src="https://user-images.githubusercontent.com/41873/42597558-c018b17e-851e-11e8-9eb1-1a5689aceb69.png">

### Steps to Reproduce

1. Code https://github.com/davidortinau/TheLittleThingsPlayground/blob/master/TheLittleThingsPlayground/Views/ThreeOnePage.

[2018-07-11 20:47] khoduley commented on #2638
Not working in 3.1.0.583944

[2018-07-11 20:50] davidortinau opened #3281 "[Android] TabbedPage Add `BarSelectedTextColor`"
Currently there is no way to set  the BarSelectedTextColor which means if you are only using Text for Tabs there's no way to set the color so that Selected and Unselected look different

The default template for tabs doesn't have images set for Android icons so if the user tries to color the text then there's no way for them to color the text differently for unselected

[2018-07-11 21:04] StephaneDelcroix commented on #3280
`Size` doesn't have a `TypeConverter`

[2018-07-11 21:41] pauldipietro commented on #3260
Deferring to @StephaneDelcroix

[2018-07-11 21:56] nadjibus commented on #2510
I think Xamarin.Forms already has Navigation.InsertPageBefore to remove the need to push one page after another, so the flow will be like this:

1. Display your top most page.
2. Add all hierarchy by calling Navigation.InsertPageBefore(previousPage, this);

InsertPageBefore will add a page in the navigation stack in the background, so the user won't notice anything (no animation or something). I a

[2018-07-11 22:11] samsnowy opened #3282 "Runtime Exception hit in Xamarin.Forms.Forms.Init() for UWP when theres's no ".xaml" files"
### Description

We’re hitting an runtime error in Xamarin.Forms.Forms.Init() when we try to call it in a Universal Windows App that doesn’t have any “.xaml” files. (No App.xaml, no Mainpage.xaml, etc)
We attached a minimum repro sln and you should hit the same exception when you build and launch the app.

Do we need to have ".xaml" files to invoke the xaml generated code and resources?

### Steps

[2018-07-11 22:30] pauldipietro commented on #3282
Also checked against 3.1

[2018-07-11 23:21] alanag13 commented on #1666
Hey @kingces sorry for my absence here just been busy. I'm setting aside some time to address the items assigned to me here and I'll get you something.