[2019-02-25 23:34] dansiegel commented on #5282
I actually encountered this very issue recently. I found it to be a very easy work around to just add it as a resource and reference it like this:

[code]

[2019-02-25 23:34] samhouts commented on #4975
@tekmun Does this also happen with a plain UWP app without Xamarin?

[2019-02-25 23:37] samhouts commented on #5070
@aherrick Hmm, maybe. Please share what you can, and let's see if it helps. In the meantime, has this issue persisted with pre5? Thanks!

[2019-02-25 23:41] samhouts commented on #5100
@StephaneDelcroix Would you like to comment on this one? Thanks!

[2019-02-26 00:14] samhouts commented on #5161
Caused by #4522

[2019-02-26 00:22] samhouts commented on #5260
@softsan Can you confirm that you don't have a syntax error? Can you send us your project if you can't find anything wrong with it? Thanks!

[2019-02-26 00:51] samhouts commented on #5302
@Agredo Did you have any luck reproducing this issue? Thanks!

[2019-02-26 00:52] #5286 closed

[2019-02-26 00:56] samhouts commented on #5315
@alexkblount Is this consistently reproducible? Can you show us what errors you see?

Thanks!

[2019-02-26 01:46] tekmun commented on #4975
Dear all,

I wouldn't know whether it happens with plain UWP app because I only
develop on Xamarin.  Same code runs well in 1803 but not in 1809.

With regards,

--------------------------------------

Cheong Tek Mun

Learnaholic Pte. Ltd.

(65) 92725050

www.learnaholic.com

* Out of learning, service overflows *

This email including any attachment may contain legally privileged or
confidential

[2019-02-26 02:11] dansiegel commented on #5372
@hartez I've updated the issue with a sample app that demonstrates the issue. I've also added some debug output in the ApplicationDelegate to show the loading of the Font Family verses the PostScript Name.

[2019-02-26 03:21] mkieres commented on #2405
@mariajoserabaza Thanks for sharing your gist, it indeed works. However, you've created corner radius effects for Android and iOS, whereas (at least in my case) the problem was happening only for iOS. For those of you who want to stay as minimalistic in your effects/renderers changes I suggest to create only iOS effect and set `MasksToBounds`  to `true`([docs](https://developer.apple.com/documenta

[2019-02-26 03:34] FrankChen021 commented on #5377
@KSemenenko the settings are the default ones. I guess this bug
is related to the IGrouping data structure

[2019-02-26 04:54] jamiewest commented on #2415
@davidortinau could we have the option to set the font family on page titles, bottom and top tabs? In every project I have to create custom renderers for ios and android to change fonts.

[2019-02-26 07:17] prashant0590 commented on #4919
@jgkent Even I have a similar problem. My current Xamarin version is '3.4.0.1008975'. The Webview ignores the "e.Cancel = true" and keeps going on to the next link.

@candidodmv If I will downgrade it to '3.2.', will it affect anything else in my solution?

Is there any timeline on when this will be resolved?

[2019-02-26 08:31] StephaneDelcroix commented on #5100
@kingces95

this is a link to a branch, on which the HEAD commit is the actual test https://github.com/akihikodaki/Xamarin.Forms/commit/2c00b421ddf0412f063cf81e5f3416647f274ca9

@samhouts

Of course: @akihikodaki is usually right. we at least want consistency between our 2 loaders, and ideally with WPF. Reflection calls can be slightly different between netstandard1.0 and 2.0 variations, and that

[2019-02-26 09:44] andreinitescu opened #5385 "[Enhancement] Small layout performance improvements"
## Summary

I noticed that in Layout.cs the `LogicalChildrenInternal` getter is actually a method:

		internal override ReadOnlyCollection<Element> LogicalChildrenInternal
		{
			get { return _logicalChildren ?? (_logicalChildren = new ReadOnlyCollection<Element>(InternalChildren)); }
		}

I'm not sure if `LogicalChildrenInternal` gets inlined. Even if it does, there's still a check every time it

[2019-02-26 09:53] MSiccDev commented on #4970
In the meantime, I am using another hack...

Once the Shell is initialized, I extract the current ShellSection to get a reference to the INavigation (NavigableElement). I pass this reference to my existing INavigationService and navigate like I do in non-shell apps.  This way, I am at least able to break out of the Shell.

[2019-02-26 10:25] bentmar opened #5386 "[ANDROID] ToolbarItem IsEnabled doesnt read initial binding, and doesnt behave like it should"
### Description

ToolbarItems in a NavigationPage ignores the default value for a binding to the IsEnabled property.
On versions Before 4.X you have to force-set the default value on the UI-thread.
On versions 3.5.X and up it totally ignores the IsEnabled property.

### Steps to Reproduce

1. Start The app
2. The default value for the IsEnabled binding is false
3. You can see that the initial beha

[2019-02-26 13:45] CZEMacLeod commented on #1886
This was raised over a year ago and still has no answer or resolution.
@samhouts Just marking it inactive doesn't fix the problem for anyone... Is there an actual reason for the dependency, or can it be removed or fixed?

[2019-02-26 13:47] jonkas2211 commented on #2758
In Xamarin.Forms v3.4.0.1008975 it completly ignores the order. IsEnabled is always true!

![grafik](https://user-images.githubusercontent.com/10948071/53416819-8b094000-39d4-11e9-91d8-70f1c9ed6713.png)

![grafik](https://user-images.githubusercontent.com/10948071/53416935-c9066400-39d4-11e9-8fdb-dd74684ad008.png)

![grafik](https://user-images.githubusercontent.com/10948071/53417036-fce18980-39d4

[2019-02-26 13:48] Member1221 opened #5387 "Various errors when building for iOS device"
### Description
Whenever I'm building an app for iOS and deploying, the build fails. It only fails when building for a physical device, but it runs fine when using emulator.

### Steps to Reproduce

1. Create Xamarin Forms project
2. Add some NuGet dependencies
3. Build

### Expected Behavior
Build completes and debugging starts on the iOS device.

### Actual Behavior
Build fails being unable to r

[2019-02-26 14:57] StephaneDelcroix commented on #5378
error in
[code]

is correctly reported at compile time, with XamlC on.

at runtime, it could be enhanced

(no position info)

[2019-02-26 14:58] jalbertSyncroTech commented on #5152
The Microsoft documentation on this is unambiguous:
https://docs.microsoft.com/en-us/openspecs/microsoft_domain_specific_languages/ms-xaml/f8906664-a3d7-4c7f-8f63-bf8041a91e94

Further, the documentation for StringFormat in WPF clearly shows examples both with and without the braces, where the opening empty braces are only used to break out of the markup extension:
* `DisplayMemberBinding="{Bindin

[2019-02-26 15:03] StephaneDelcroix commented on #5378
I have a fix that wraps runtime type converter exceptions into a XPE

  ----> System.InvalidOperationException : Cannot convert "1,2,3," into Xamarin.Forms.Thickness

[2019-02-26 15:08] akihikodaki commented on #5100
No, the wrong signature is my mistake. I pushed commit 390f0d80c653fa87dac6da5c8dd1516228b0fd9b, with the correct signature. Now it succeeds if `useCompiledXaml` is true, but it still fails if `useCompiledXaml` is false.

[2019-02-26 15:11] StephaneDelcroix commented on #5378
error in binding to event for the following xaml:
[code]

with XamlC on:

runtime:

[2019-02-26 15:13] StephaneDelcroix commented on #5378
this is the best I can do with the info provided

[2019-02-26 15:14] candidodmv commented on #4919
@prashant0590 for me the only one thing that affected was the WebView.Refresh method that isn't available in this version 3.2, but i suggets to you review and compare both [release notes ](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/) for more details

[2019-02-26 15:20] candidodmv commented on #4919
how everything indicates, by someone that excludes my comment above, that was referring the xamarin staff(Jason Smith) this issue not appear urgent to them.

[2019-02-26 15:30] StephaneDelcroix commented on #5152
@jalbertSyncroTech that doc doesn't mention escape sequence

- the first WPF example doesn't need the brace, as the string doesn't start with `{` => same in XF
- the second one requires it => same in XF

I understand the frustration, because some strings used to get correctly parsed by XF and no longer are, but I'm happy that the current XF is more correct than before.

[2019-02-26 15:37] jalbertSyncroTech commented on #5152
@StephaneDelcroix I realize this is a complex issue, but the reading of the XAML Markup Extension Parsing doc is *unambiguous*:
https://docs.microsoft.com/en-us/openspecs/microsoft_domain_specific_languages/ms-xaml/f8906664-a3d7-4c7f-8f63-bf8041a91e94

As an example:
in `{Binding StringFormat='FooBar'}`, the content `FooBar`, because it is quoted, is the text assigned to StringFormat.   It can *ne

[2019-02-26 15:45] stevehurcombe commented on #5152
Surely this means that the Stringformat value is a STRING and since it's enclosed within quotes the {} should be treated as the text value.

[code]
There's no mention of parsing {} in a nested way.

[2019-02-26 15:54] jalbertSyncroTech commented on #5152
@stevehurcombe I think it does:

I just tested calling `string.Format("{}FooBar")` and it triggers a FormatException because `{}` isn't a valid format string.  So in fact, when following the spec, `StringFormat='{}FooBar'` is incorrect and not the other way around.

However, `StringFormat={}FooBar` is correct as it always was because the opening `{}` isn't part of the string content.

It all comes

[2019-02-26 17:34] Maxallica commented on #2096
Still reproducible with SAMSUNG Galaxy Tab A6.

Xamarin.Forms: 3.5.0.129452
Xamarin.Android.Support.Annotations: 28.0.0.1
Xamarin.Android.Support.Compat: 28.0.0.1
Xamarin.Android.Support.Core.UI: 28.0.0.1
Xamarin.Android.Support.Design: 28.0.0.1
Xamarin.Android.Support.Fragment: 28.0.0.1
Xamarin.Android.Support.Media.Compat: 28.0.0.1
Xamarin.Android.Support.v4: 28.0.0.1
Xamarin.Android.Support.v7.

[2019-02-26 17:35] samhouts commented on #1886
Hi @CZEMacLeod! We're happy to accept a pull request for this issue. It is a lower priority for us, since the usage of Xamarin.Forms.Pages is much lower than the core packages. That said, I'm sure @pauldipietro and @davidortinau would love to hear about your experience with Xamarin.Forms.Pages and the problems that it solved for you! Thanks for your patience.

[2019-02-26 17:36] jalbertSyncroTech commented on #5152
I read through the full parser documentation again, and it's even more confusing than the above discussion:

The "Markup Extension Parsing" doesn't define anything about recursive markup extensions when assigning member values, it seems like that behavior is entirely up to parent extension, BindingExtension in this case.

When it comes to single vs. no-quotes, for the no-quotes variation the `{}`

[2019-02-26 17:47] samhouts commented on #5381
@hyurii Can you attach a sample project that shows the issue, please? Thank you!

[2019-02-26 17:50] samhouts commented on #5375
@pamela032709 Can you please attach your sample project? Thanks!

[2019-02-26 17:53] samhouts commented on #5370
@rubenglam Can you uninstall the Xamarin.Forms packages and reinstall them? I think a dependency was missed in the update. Let me know if that works. If not, please attach your sample project. Thanks!

[2019-02-26 18:00] samhouts commented on #5357
We do not plan to implement new features that will be supported on API 19, but we also do not plan to break anyone using API 19 if we don't have to. This is a good task for the future when we have no customers that rely on older APIs, but we'll have to defer it for now. Thank you!

[2019-02-26 18:10] samhouts commented on #5348
@comfr3ak Can you please attach a sample project that shows this issue? Thanks!

[2019-02-26 18:15] andreinitescu commented on #1886
See #5390

[2019-02-26 18:23] #5357 closed

[2019-02-26 18:54] samhouts commented on #5249
This issue was moved to mono/monodevelop#7251

[2019-02-26 18:54] #5249 closed

[2019-02-26 18:56] samhouts commented on #5322
@yanshouwang Can you please attach your sample project? Thanks!

[2019-02-26 18:58] samhouts commented on #5263
@ianvink Can you please attach your sample project? Thanks!

[2019-02-26 19:13] #5213 closed

[2019-02-26 19:13] #5378 closed

[2019-02-26 19:13] nawidy commented on #1728
@andreinitescu @jamesmontemagno @samhouts with #1974 merged, is further progress being made to merge this in or has this task been put on hold for a later release? Checkbox control functionality is a highly desired functionality in Xamarin. Thanks!

[2019-02-26 19:44] KSemenenko opened #5391 "[Enhancement] Border for Entry and Editor"
## Summary
Add Border and BorderColor properties to Entry and Editor.

[2019-02-26 19:47] mshwf opened #5392 "Animations don't work on Samsung Galaxy J7 Pro?"
### Description
I have created some animations, simple animations, but they don't work on my mobile phone, they work on every other device/ emulator.
### Steps to Reproduce

1.  create a simple animation (using Animation class, or the extension methods).
2. run it on Samsung Galaxy J7 Pro (Android 8.1.0)

### Expected Behavior
Animations work.
### Actual Behavior
Animation doesn't work, but instea

[2019-02-26 20:26] inforithmics commented on #5270
With your check in https://github.com/xamarin/Xamarin.Forms/pull/5309  you have fixed the bug. Because with the newest nightly nuget package Compiled Binding now works.
I although have run the unit test of https://github.com/xamarin/Xamarin.Forms/issues/5270 and with this checkin it although works now. Thanks for the fix

[2019-02-26 21:14] bholmes commented on #4856
Was able to reproduce this.  Here is the exception info.

[code]

It appears that the `Page` is `null` when the click is processed.

https://github.com/xamarin/Xamarin.Forms/blob/a6088fe/Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs#L114

[2019-02-26 21:14] ianvink commented on #5263
We discovered the problem was with the StrikeThrough issue with Labels that is now marked fixed

[2019-02-26 21:14] #5263 closed

[2019-02-26 22:26] AndreiMisiukevich opened #5393 "[MacOs] TranslationY is ignored on start and uses inverse coordinate line"
### Description

Seems TranslationY is ignored on start. But if you try to change window's size, you will see "jerking" and finally it is set up inverse value of TranslationY.

Check attached gif please

### Steps to Reproduce

Use this very simple markup
[code]

### Expected Behavior

- TranslationY should be applied on start.
- No jerking during window's size changing
- Positive value of Transla

[2019-02-26 22:48] PureWeen commented on #1728
@nawidy  the PR James has done is close https://github.com/xamarin/Xamarin.Forms/pull/4369 we've just had some other things take priority in our current sprint but we will be getting back to the CheckBox soon

[2019-02-26 22:54] dwightbennett opened #5394 "[ipad] Master page content views translating over the detail page"
### Description
I was trying to create a secondary menu that slides over the top of a primary menu in the master page of a master detail page.   Something that looks like this.

![screen shot 2019-02-26 at 3 32 34 pm](https://user-images.githubusercontent.com/44422679/53451342-c8250080-39db-11e9-8a7d-dd496f3771bb.png)
On every platform but the iPad in landscape mode the secondary list view slides

[2019-02-26 22:55] AndreiMisiukevich opened #5395 "[macOs] Image Rotation issue"
### Description

I'd like to animate image with **Scale up**, **Rotate** and **Scale down** animations.
Scaling works fine while rotating has wrong behavior.

### Steps to Reproduce

Xaml:
[code]
F# code behind (create cycling animation on appearing)
[code]

### Expected Behavior

Should work like on iOS:
![ios_gif](https://user-images.githubusercontent.com/10124814/53452499-7fe4fd00-3a32-11e9-83d

[2019-02-26 23:25] nawidy commented on #1728
Thanks @PureWeen for the update. Looking forward to seeing this in :)

[2019-02-27 00:02] PureWeen opened #5396 "[Previewer,iOS] Does not currently work with Visual="Material""
### Description
When you set Visual to Material
- it has no effect on VS Mac (android)
- on windows the Android previewer crashes with an exception. This most likely happens because the Android Material renderers wrap the Context with a *ContextThemeWrapper* which applies the material theme and that wrapper isn't compatible with previewer

### Steps to Reproduce
- update to the latest 3.6
- instal

[2019-02-27 01:39] nwilliams commented on #1977
I just ran into this bug trying to use a SwipeGestureRecognizer on a Frame inside a ScrollView. Is there a known workaround? Considering this issue was opened a year ago I don't have much hope for a fix in the near future.

[2019-02-27 01:42] AndreiMisiukevich commented on #1977
@nwilliams for my nuget package i solve it with renderer

https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/CardsViewRenderer.cs

OnTouchEvent
OnInterceptTouchEvent

But i had to write renderer for scrollview too https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView.Droid/ParentScrollViewRenderer.cs

[2019-02-27 01:43] samhouts commented on #5391
Duplicate of #1695

[2019-02-27 01:43] #5391 closed

[2019-02-27 01:45] samhouts commented on #5392
@mshwf Can you attach a sample project showing the animations that you're attempting? Thanks!

[2019-02-27 01:55] nwilliams commented on #1977
@AndreiMisiukevich, thank you for the fast reply. I was hoping to avoid building a custom renderer but there may not be any way around it.

Also, your CardsView package looks very well made. I'll keep it in mind for future projects. :)

[2019-02-27 02:19] yanshouwang commented on #5322
@samhouts OK, I‘ve done here: [Confusions.Forms](https://github.com/yanshouwang/Confusions)

[2019-02-27 02:59] RadWes commented on #4156
Latest update worked!  Good work!

[2019-02-27 03:11] chinthaka24 commented on #3839
This worked..

<OnPlatform
            x:TypeArguments="Thickness"
            Android="16,16,16,4"
            Default="16,16,16,4"
            iOS="16,24,16,4" />

[2019-02-27 03:19] LanceMcCarthy commented on #3839
@chinthaka24 That is deprecated code, it uses the enum values instead of the string platform name.

There is nothing wrong with the "Default is set more than once" message, it's just a language service error message that is not really an error. It's a false flag that will be resolved in VS2019.

I strongly recommend that you do not use that code as it will stop working when the enums are removed.

[2019-02-27 03:21] richp582 commented on #3619
Is there anything going on with this?  Seems like a big deal that you cannot add new elements to an observable collection when using recycle element...

[2019-02-27 07:19] jfversluis commented on #5368
I don't think this is possible, at least not for iOS. From the [Apple documentation](https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/Exceptions/Concepts/UncaughtExceptions.html):

[2019-02-27 07:52] mr5z opened #5399 "Disabled Button Appearance"
### Description

**App.xaml**
[code]

**View.xaml**
[code]

From the code above, it produces an undesirable look of a `Button`. The result would either be: text is not visible or the default `IsEnabled` appearance doesn't get applied. It still retain the other properties such as button click event is disabled.

This bug only occurs in Xamarin.iOS

### Steps to Reproduce

1. Copy-paste the code pro

[2019-02-27 07:56] #5015 closed

[2019-02-27 09:08] jgkent commented on #4919
I got fed up with it.

For those that have the time or inclination, I spent 5 days ripping out the Xamarin.Forms.Webview, and have rebuilt the app using the Xamarin.Webkit.Webview instead.  Syntax is different, but once you get a handle on it, it works well.  Not experienced any of the weird behaviour as with the Forms.Webview.

[2019-02-27 09:10] geskill commented on #5399
Can confirm this. We need https://github.com/xamarin/Xamarin.Forms/pull/5299 `DisabledTextColor`. The default disabled button color on iOS is not visible on a green button. Hope this gets merged soon.

[2019-02-27 09:13] TopsKing commented on #4919
Hello, are you saying that you have solved this problem now? If so, can you provide your code?

[2019-02-27 09:18] jgkent commented on #4919
@TopsKing   I have not solved the issue, I am simply no longer using the Xamarin.Forms.Webview class.  I am now using the Xamarin.Webkit.Webview class, as per:  https://developer.xamarin.com/api/type/Android.Webkit.WebView/

The issue with the Xamarin.Forms.Webview class remains as far as the other users above report.

[2019-02-27 09:22] TopsKing commented on #4919
@jgkent  I saw someone using a custom renderer to solve this problem on the Xamarin forum. I think you are like him.

[2019-02-27 09:46] rubenglam commented on #5370
I have created a new project for show the issue.
Project: https://github.com/rubenglam/Xamarin.Forms-5370

[2019-02-27 10:28] Chozarajan commented on #5311
I have checked with other devices if we **adjust the Margin** values the same issue came in Lenovo K4, Moto G4, Moto E2 devices.

[2019-02-27 10:39] toussam commented on #2831
Hi @samhouts ,

Since the issue has been fixed, could you tell me in which version it will be release ? (or at least the expected one) I looked at the 3.5.0 Service Release 1 and it was not listed into it.

I thank you in advance for your time and your response !
Best regards,

[2019-02-27 11:31] mandel-macaque opened #5401 "DisplayActionSheet is Inconsistent with Other Xamarin Platforms"
_From @AceCoderLaura on February 27, 2019 4:5_

### Steps to Reproduce

1. Create a page in a PCL Xamarin library
2. Call Xamarin.Forms.Page.DisplayActionSheet("a", "b", "c")
3. Tap away from the dialog on iOS and you'll get **"b"**
4. Tap away from the dialog on Android and you'll get **null**

### Expected Behavior

It is expected that the behaviour is consistent between platforms.

### Actual B

[2019-02-27 11:31] mandel-macaque commented on #5401
Hello, this is the repository dedicated at the iOS bindings but not the forms. Which is what you are talking about. I will move the issue to the correct project.

[2019-02-27 12:03] Dresel commented on #3172
I was playing around with the `CollectionView` and was facing problems with uneven row height. I saw there was a `ItemSizingStrategy` introduced lately, but it's still behaving weird though.

I played around with the `DataTemplateGallery` and when switching to `MeasureAllItems` I get the following result (iPhone 6, iOS 12.1.4):

<img src="https://user-images.githubusercontent.com/1769090/53488499-

[2019-02-27 12:19] StephaneDelcroix commented on #5385
Thanks @andreinitescu for this suggestion.

First, this property is `virtual`, something that a field can't be. Second, it's accessible from outside of the type, so it'd be a bad pattern to have a `public` field. Third, even if it might be technically a perf improvement, that improvement is not significant enough to be registered (we're speaking of nanosecond scale).

So, all in all, the flexibili

[2019-02-27 12:19] #5385 closed

[2019-02-27 12:46] vincentcastagna commented on #3083
Hey @jamesmontemagno . Thank you for this awesome blogpost. As I said on disqus, I tested your effect trick, but `LabelVisibilityLabeled` acts just like `LabelVisibilitySelected` . This is not a prob of implementation as other modes are working great ... Thanks !

[2019-02-27 13:55] ExtremeKaos commented on #4919
Same here, only in android Xamarin.Forms 3.4.0.1029999.

[2019-02-27 13:55] dbwelch commented on #2415
So, given that since there's been no response to my post on having the ability to actually change the items in the flyout Shell, maybe this functionality isn't in scope, or a maybe, hopefully being considered a bug ?

Not sure how a serious app can use this Shell without this functionality.  Only very simple apps don't require the ability to add/change/remove/disable items on their menus based upo

[2019-02-27 13:57] malsama commented on #4397
When will this bug be finally solved? I'm still on 2.5 because this bug still exists, which is embarrassing. It's pleasant to work on new shiny features, but can we please give obvious bugs more priority?

[2019-02-27 13:59] malsama commented on #4397
Thanks, but I will not use more custom renderers anymore. XF should make life simple, while adding custom renderers all over the place, would make me think why I hadn't just started native projects instead of XF ....

[2019-02-27 14:12] ChaseFlorell commented on #2415
@dbwelch, a couple things.
You're posting on the spec, so you probably won't get a response like you wrote opening a new issue. Also, Jason is no longer working on Forms, so calling him out is kinda pointless.

Bottom line, file an issue

[2019-02-27 14:55] jcmanke commented on #5386
I believe this is because `MenuItem.IsEnabledProperty` was changed to a readonly `BindableProperty` in 3.5. Putting `IsEnabled="False"` in XAML rather than a binding throws an exception.

[2019-02-27 16:02] melucas opened #5403 "[VS2019 Preview 3] Build errors not showing in Error list"
### Description
When building an iOS Xamarin Forms project and their is an error in the build process, the error list, for example, will show 0 of 1 Error.

### Steps to Reproduce
1. Create a new Xamarin Forms project
2. Build the project to make sure it works.  Add an error.
3. Compile the project again and switch to the ErrorList

### Expected Behavior
Should see the errors listed in the ErrorLi

[2019-02-27 16:06] MrClan commented on #5368
@jfversluis like mentioned in the link you posted:

An event exposed from XF that simply subscribes to such platform specific exception handler can be a starting point.

[2019-02-27 16:06] ianvink opened #5404 "XF 3.5 Android Crash in Release"
XF 3.4 works great for thousands of users. I can cause a crash every time after simply updating to  XF 3.5 Android when built in Release. How can I submit a private code example?

### Description
Need to provide private build for Xamarin eyes only

### Steps to Reproduce

1. Upgrade to XF 3.5
2. Build in RELEASE
3. Most screens cause crash with "activityStartTrigger: not whiteListed"

### Expected

[2019-02-27 16:16] ianvink commented on #5404
I have a demo version to cause issue, I just need a private place to send code.

[2019-02-27 16:21] ianvink commented on #5404
Fails in XF 3.6 Betas too

[2019-02-27 16:52] ianvink commented on #5404
XF 3.4 + Android Support Libraries 28.0.01 work fine against API Level 28
Upgrade to 3.5, 3.6 or 4.0 all crashes with attached log.txt

[2019-02-27 17:01] maddyleger1 commented on #4425
Hey @StephaneDelcroix did you ever get the icon for this?

[2019-02-27 17:38] felipesouto commented on #1600
Any news about this issue?

[2019-02-27 19:22] mgoertz-msft commented on #5152
Yeah, I can kind of see the argument for both but like you said, the spec does not address nested markup extensions, and the WPF compiler produces a build error for the following (with or without quotes):

`{Binding StringFormat='{0} Height' ...}
`

The only way to avoid the build error is to prefix it with the {} escape sequence. That’s why we have always marked it as an error.

[2019-02-27 19:30] micjahn commented on #5294
The error is related to the target platform of your project and the available assemblies in the nuget package of ZXing.Net. The project "XamarinIssue" is targeted against ".NET Standard 2.0". The nuget package manager finds the closest match with the .net standard 2.0 version of ZXing.Net. Everything works until now. The next is the project "XamarinIssue.Android". It is targeted against Android. T

[2019-02-27 19:35] Giorgi commented on #5288
Any estimate when this will be fixed?

[2019-02-27 20:30] hyurii commented on #5381
http://chettrigroup.xyz/2018/09/26/xamarin-forms-image-zoomtutorial-37/

[2019-02-27 20:53] samhouts commented on #5294
@Redth Do we have any guidelines somewhere for how third party nugets should set up their targeting in situations like this?

[2019-02-27 21:17] PureWeen commented on #5370
@rubenglam  we still need to get better documentation on this together but you need to install this
https://www.nuget.org/packages/Xamarin.Forms.Visual.Material/4.0.0.169046-pre5

And call FormsMaterial.Init from the appdelegate on ios

[2019-02-27 21:17] #5370 closed

[2019-02-27 21:19] samhouts commented on #5404
@ianvink Send it to sahou at microsoft dot com. Thanks!

[2019-02-27 21:25] ianvink commented on #5404
Sent.

[2019-02-28 01:21] #5346 closed

[2019-02-28 01:21] #5372 closed

[2019-02-28 02:23] #5078 closed

[2019-02-28 02:23] #5161 closed

[2019-02-28 02:23] #5247 closed

[2019-02-28 02:27] samhouts commented on #5401
@AceCoderLaura I assume that the most desirable behavior in this situation is to return null. Is that what you'd expect? Thanks!

[2019-02-28 03:17] AjitKRuin commented on #5333
[Uploading TintColorIssue.zip…]
Hi @pauldipietro.I have attached the issue reproducing sample please check it.

[2019-02-28 04:06] philipblaquiere commented on #4461
Would be awesome to have!

[2019-02-28 04:33] HobDev opened #5409 "[Enhancement]build support for Xamarin.Forms in Visual studio for Mac 2019"
## Summary
Lots of Xamarin.Forms developers use Mac for development. We Mac users also want to read, debug and contirbute to Xamarin.Forms repo. But as of now it is only possible with Visual Studio for Windows.

## API Changes

This may need work on both Visual studio for Mac and Xamarin.Forms .

## Intended Use Case
Not all Xamarin.Forms developer have two development machines. They either use Ma

[2019-02-28 07:15] mshwf commented on #5392
@samhouts here's the [sample project](https://github.com/mshwf/AnimationSample)
and this is the project running on Samsung Galaxy J7 Pro: https://i.stack.imgur.com/TCD0A.gif

[2019-02-28 07:19] ilmian commented on #5260
@enricot89 Can you please tell what was the error in your case?

[2019-02-28 07:22] mclillill commented on #5161
@samhouts Thanks!

[2019-02-28 07:28] DeepikaBalaSubramaniyan commented on #4712
Hi All,

After fixing this issue "
 no implementation for interface method Xamarin.Forms.IScrollViewController::get_LayoutAreaOverride() in class Syncfusion.SfDataGrid.XForms.ExtScrollViewer" in our SfDataGrid control, I have checked with Xamarin forms latest pre release version 4.0.0.169046-pre5, Issue remains the same, For your reference have provided the sample with  Xamarin forms latest pre re

[2019-02-28 08:22] AndreiMisiukevich commented on #5199
iOS is wrong :)
Android works as expected (like svg)

[2019-02-28 08:41] enricot89 commented on #5260
This was my syntax error in xaml code:
[code]
In the previuos versions of xamarin forms it was not reported as error and the project was compile correctly.
But not in version 3.5...

[2019-02-28 08:45] dimacurotech commented on #5268
The pull-to-refresh got broken in 3.5.0.129452 and still broken 3.5.0.169047.
I can confirm it has been working in 3.4.0.1029999.

[2019-02-28 08:53] msangtarash commented on #4628
I have the same problem.
I have a Listview inside a Stcklayout. when i use SwipeGestureRecognizer on the stacklayout its leftswipe and rightswipe doesn't work on Android , but that is working fine on iOS and UWp

[2019-02-28 09:14] stevehurcombe commented on #5152
So you're saying this is an edge case issue in the WPF compiler? :-)

This is surely the preferred syntax:
```{Binding StringFormat='{0} Height' }``` and the spec seems to allow it.

[2019-02-28 09:27] jingliancui opened #5412 "Xamarin.Forms UWP Navigation bar Disappear while press back button to MasterDetailPage"
MasterDetailPage is the root page.
Press button from master page's button ,Navigate to Setting Page is done.
Press the back button on the top of the window , Navigate to Mainpage(MasterDetailPage).
Navigation bar Disappear
(I had been set `<NavigationPage.HasNavigationBar>true</NavigationPage.HasNavigationBar>` in detail page)

Sample code here:
[TopBarSample.zip](https://github.com/xamarin/Xamari

[2019-02-28 09:37] StephaneDelcroix commented on #5409
please provide more info. I'm using VSMac2019 without any problem

[2019-02-28 09:39] ilmian commented on #5260
@enricot89 Thanks.

[2019-02-28 09:45] HobDev commented on #5409
@StephaneDelcroix I'm also using VSMac2019 for Xamarin.Forms app development. But I want to contribute to the Xamarin.Forms repo on GitHub. But it is not possible to debug and build Xamarin.Forms on VSMac2019.

[2019-02-28 09:51] StephaneDelcroix commented on #5409
doing it everyday, and as we speak. what's the problem

[2019-02-28 09:57] HobDev commented on #5409
But the [readme](https://github.com/xamarin/Xamarin.Forms/blob/master/README.md) on Xamarin.Forms repo says it is only possible with VS2017. Would you mind explaining how to debug Xamarin.Forms on VSMac2019.

[2019-02-28 10:02] HobDev commented on #5409
@StephaneDelcroix As per your understanding the information in [readme](https://github.com/xamarin/Xamarin.Forms/blob/master/README.md) is not correct. Please update the correct info and open a pull request. This is needed immediately so that the visitors get correct info.

[2019-02-28 10:07] imuller commented on #5214
Got some more information:

When using converters in xaml views the app crashes with this error. For example i have  a converter like this:

`public class InverseBoolConverter : IValueConverter, IMarkupExtension
    {
        public object Convert(object value, Type targetType, object parameter, CultureInfo culture)
        {
            return !((bool)value);
        }

        public object Conv

[2019-02-28 10:19] hyurii commented on #5392
Hi,
Try to turn of save battery mode, it should work then.
BR
KG

[2019-02-28 10:31] mshwf commented on #5392
@hyurii thanks, this is the real reason of blocking the animation!

[2019-02-28 10:31] #5392 closed

[2019-02-28 12:41] pellet commented on #4155
Funny this isn't a priority, there is a clear distinction between flutter/react native's live-reload capabilities and xamarin's lack thereof.  This preview version actually worked quite well, I don't understand why it was dropped.

[2019-02-28 12:47] HobDev opened #5414 "Button inside CollectionView does not invoke Command in ViewModel"
### Description
Button Command does not invoke inside CollectionView.
### Steps to Reproduce

1. Create a button inside CollectionView and set command Binding and click event on it.
2. Create another button outside CollectionView and set command Binding and Click event on it.
3. Run the app and click on both buttons.

### Expected Behavior
Both Click Event and Command should be invoked.
### Actual

[2019-02-28 12:58] ChrisJAult commented on #4998
Is this fixed and if so what version? I'm having the exact same issue with 3.5.0.169047

[2019-02-28 14:21] MaxenceSAUNIER opened #5415 "[Enhancement] Add ThumbColor for switch"
We can modify the OnColor but not the ThumbColor for a switch element.

Can you add this possibility ? Thanks.

[2019-02-28 14:26] maxim-saplin commented on #4754
Why is it read-only? Button.IsEnabled property is inherited from VisualElement and it has both getter and setter there: https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.visualelement.isenabled?view=xamarin-forms

[2019-02-28 15:36] keozx commented on #5288
Still waiting for a fix, wanted to try some features from XF 3.5 I believe that this still has to be addressed by Syncfusion at least as a workaround because is clearly something related to Linking and their libraries relied on something that now is being linked. Which should not happen otherwise every other control library would be crashing. Hopefully Syncfusion takes action but I don't expect mu

[2019-02-28 15:58] mgoertz-msft commented on #5152
I choose to think of it more as the WPF compiler setting a precedent. :-)

That said, we don't want to be stuck in the past. If the consensus for Xamarin Forms is to treat any nested "MarkupExtensions" as literal text if they are surrounded by quotes then we will need to make the changes in the language service to no longer try to interpret those as MarkupExtensions either (for Xamarin Forms).

[2019-02-28 16:23] jalbertSyncroTech commented on #5152
@stevehurcombe I think rather that the spec doesn't make any distinction between quotes and no quotes in the final parsed text - it seems like quotes really just get you the ability to use commas and equal signs without tripping up the parser.

The issue for my team is that the behavior of Xamarin.Forms both before and after this change were different from WPF.  Before you didn't need the opening

[2019-02-28 17:01] EmilAlipiev commented on #5288
Is that linker issue? I have tested in debug mode enabling full linking and it worked fine but if I use full linking in release mode, it crashes. That's bit confusing

[2019-02-28 17:06] NickCullen commented on #5159
Anyone found a solution to this? Currently experiencing the exact same issue when compiling against Android 28 (Pie).

On devices that are 8.1 and lower (using the same APK built against Android 28), the date time pickers work. Only happens when running on an Android 9.0 device.

[2019-02-28 17:17] NickCullen commented on #5159
I just did a bit of testing.

In the start, our xaml looks like this (notice, they start off invisible):
[code]

Our code was just calling ".Focus()" on one of these elements (depending on the button you click, of course).

[code]

If I change my code to the following, the date picker input box appears (we don't want this to happen - all we want to happen is to bring up the date/time picker dialog

[2019-02-28 18:25] samhouts commented on #4887
@InadullaevMakhmudjon Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-02-28 18:25] #4887 closed

[2019-02-28 18:31] samhouts commented on #5170
@jcmanke What is the custom control that is failing?

[2019-02-28 18:47] samhouts commented on #5091
That's odd, for sure. We'll have to investigate. Thanks for the update!

[2019-02-28 18:51] asimeonov commented on #2951
Did anyone opened a bug for that? Will be nice to have it fixed 👍

[2019-02-28 18:52] samhouts commented on #5333
Are you using a custom renderer to do change the border color?

[2019-02-28 18:54] samhouts commented on #5341
@dotfig Try enabling XamlCompilation (https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/xamlc). It might help you find the error. Thanks!

[2019-02-28 18:58] samhouts commented on #5260
It sounds like this is a syntax problem, so I will go ahead and close this now. Please reopen it if you need further assistance. Thanks!

[2019-02-28 18:58] #5260 closed

[2019-02-28 19:10] samhouts commented on #2204
@rmarinho Please also identify what commit may have resolved the color issue so we can confirm that was done. Thanks!

[2019-02-28 19:15] jcmanke commented on #5170
@samhouts https://gist.github.com/jcmanke/8e545add0c7f55d2e42199a65286589f

[2019-02-28 19:40] jonathanantoine opened #5416 "Xaml compile + XF 3.5 produces "Value cannot be null Parameter name: type" compilation errors."
### Description
Since I updated to XF 3.5, I can't compile any view where there is an  x:DataType attribute on an ItemTemplate.

### Steps to Reproduce

1. Add a Listview to a view and set  x:DataType attribute on an item template.
2. try to compile

### Expected Behavior
Correct compilation.

### Actual Behavior
An build failed with this message :  Value cannot be null.
[code]

### Basic Informat

[2019-02-28 20:08] samhouts commented on #5416
@jonathanantoine Can you share the XAML that is failing? Thanks!

[2019-02-28 20:15] jonathanantoine commented on #5416
here we go :)

[code]

[2019-02-28 20:16] jonathanantoine commented on #5416
By the way @samhouts, if I set "x:DataType="{x:Null}" to the first view in the item template fix the issue but disable compiled bindings.

[2019-02-28 23:12] PureWeen commented on #5288
I reached out to SyncFusion about this one.  I haven't been able to narrow down the cause for the crash yet.

From version 3.4 to 3.5 of forms the base class on the ScrollViewRenderer changed from ScrollView to NestedScrollView so SF had to put out a patch for this which for some reason isn't playing nice with 3.5

I recompiled 3.5 and changed the ScrollViewRenderer base class back to ScrollView a

[2019-02-28 23:32] patridge opened #5418 "[Android] OnAppearing not being called when modal page dismissed"
### Description

When a modal page is dismissed, the page being revealed doesn't seem to get `OnAppearing` called on Android even though it does on iOS.

### Steps to Reproduce

1. Create a new Xamarin.Forms Blank app.
1. In App.xaml.cs, set the app's MainPage to be a NavigationPage containing the template MainPage class.
1. Create a second page with a button that calls `await this.Navigation.PopM

[2019-03-01 00:27] samhouts commented on #5416
Perhaps related to #5270

[2019-03-01 00:29] samhouts commented on #5270
Does that mean this issue is resolved and can be closed? Thanks!

[2019-03-01 01:31] melucas commented on #3172
Is RemainingItemsThresholdReached been implemented yet?

It is not available on the CollectionView control XAML in 4.0.0.169046-pre5.

[2019-03-01 02:13] #5300 closed

[2019-03-01 02:23] samhouts commented on #5170
Yep, this is the root cause. These were changes that were added in Shell, and we missed putting them in the release notes as breaking changes.

[2019-03-01 03:12] samhouts commented on #5404
I'd like to believe this is a real report, but the reproductions you sent me appear to contain a backdoor malware.

[2019-03-01 03:13] ianvink commented on #5404
On the OneDrive link I sent??

[2019-03-01 03:13] samhouts commented on #5404
Yep.

[2019-03-01 03:14] ianvink commented on #5404
I’ll check to make sure no dlls are in the package that could be a false positive. I’m a Xamarin MVP :)

[2019-03-01 03:15] samhouts commented on #5404
Thanks! I recognize the name, but I can't be too careful. :)

[2019-03-01 03:20] ianvink commented on #5404
Sent toy our email with iOS and test projects stripped. Android has the issue but solution might complain about missing those projects

[2019-03-01 03:43] jackbond commented on #5294
Would it be possible to do Zxing.Net 0.17.0 which only targeted .netstandard 2.0? Going through the list of currently supported frameworks, I think it roughly breaks down like this...

Silverlight: dead (truly a shame)
.NET Framework: 4.7 up would still be supported
MonoAndroid: Xamarin is pretty much .netstandard 2.0 compatible isn't it?
.NET standard: < 2.0 Are people still targeting anything le

[2019-03-01 03:57] samhouts commented on #5404
Okay, that looks better! I'll take a look first thing tomorrow morning. Thanks!

[2019-03-01 04:15] DennisWelu commented on #3307
As a quick "improvement" on this behavior I applied the style from this post http://www.thinkbottomup.com.au/site/blog/WPF_Transparent_Scrollbars_in_ScrollView globally to all scrollbars (by not including the x:Key="...") in my WPF project's App.xaml.

[2019-03-01 06:19] jonathanantoine commented on #5416
@samhouts seems to be a really different issue as I can't even build my project. How can I go further to help you? Is it possible to enable some extra logs to know what is exactly crashing xaml compilation?

[2019-03-01 08:15] StephaneDelcroix commented on #5416
@jonathanantoine thanks for reporting this. I don't see anything wrong with the xaml, so there might be something we do not handle well with your view model.

In order to evaluate this issue, we'd need a full project triggering the issue. Thanks a lot.

If you can't provide a repro, please try 3.6.0 which contains additional fixes that might or might not help you.

[2019-03-01 10:04] inforithmics commented on #5270
The checkin https://github.com/xamarin/Xamarin.Forms/pull/5309 went to master and not to the 3.5 branch. So this issue is still present in 3.5 and 3.6 branch. So In my opinion when the patch is merged into 3.5 and 3.6 this issue can be closed.

[2019-03-01 10:27] GalaxiaGuy commented on #5414
The `BindingContext` of a child of a `CollectionView` is set to the item for that child.

So just as `{Binding Name}` is looking for the name property on the `Id` class, `{Binding ButtonCommand}` is looking for the command on the `Id` class.

To make it work you need to something like the following:

[code]

The page has a name added: `Page` and the button command binding is set explicitly to it u

[2019-03-01 10:56] HobDev commented on #5414
@GalaxiaGuy Thanks for the solution. The Button Command is invoked after applying the changes. Still this is a bug. Button inside CollectionView should be able to invoke the Command in the ViewModel.

[2019-03-01 11:17] stevehurcombe commented on #5152
I think there are two arguments. I, at least, am petitioning for this format to be supported:

```{Binding StringFormat='{0} Height' }```

We have a chance here to either be famous for 15 minutes on this thread, or be infamous for the next 10 years as newbie XF developers trip over this syntax and end up here!

It might be to the spec, but it's not a good solution IMHO. There is an opportunity to

[2019-03-01 11:23] HobDev commented on #5409
I also requested this feature in developercommunity website. The view the feature request go [here](https://developercommunity.visualstudio.com/idea/472323/build-support-for-xamarinforms-in-visual-studio-fo.html)

[2019-03-01 12:45] TomDeVlaminck-vdkspaarbank opened #5421 "Animation tasks do not complete when Animator duration scale is set to off in developer options"
### Steps to Reproduce

1. Set Animator duration scale to off in developer settings on an Android device.
2. Call any animation -> var animationTask = label.FadeTo(1)
3. await the resulting task

### Expected Behavior
Animation completes instantly, Task immediately completes.
### Actual Behavior
Animation does not occur, Task never completes. Tested with Xamarin Forms 3.5.0.169047

This caused our

[2019-03-01 13:25] jkastner opened #5422 "Trigger Does Not Reset to Binding - Xamarin.Forms"
### Description

The issue occurs when the xaml element has a binding and a trigger. When the trigger resets 'back', the binding is lost.

### Steps to Reproduce

1. Open the sample app. I tested in Uwp.
2. Change the color using the provided Picker. The BoxView changes to the selected color.
3. Use the ‘Is Enabled’ switch to toggle the box to Disabled. This will cause the Trigger to fire.
4. Use

[2019-03-01 14:38] jcmanke commented on #5170
A possible solution, as recommended by @StephaneDelcroix in #4477 where I proposed making similar breaking changes:

[code]

Unless you plan to just acknowledge the breaking changes in the release notes.

[2019-03-01 15:02] james1301 commented on #4987
Why has this been so slow to be fixed, is this not quite fundamental? Last known good version was: 3.4.0.1008975 as mentioned on #5064. Unable to use 3.5 now.

Any kind of workaround?

[2019-03-01 16:39] samhouts commented on #2756
Reverting the fix for this issue pending further discussion.

[2019-03-01 17:52] karlingen commented on #4987
@paymicro wow, good job!

[2019-03-01 18:03] samhouts commented on #5202
The fix will be in 3.6 stable, which should be out next week. Thanks!

[2019-03-01 18:08] #4987 closed

[2019-03-01 18:31] jonathanantoine commented on #5416
Hello,

Here is a repro project.

[Podcasts copie.zip](https://github.com/xamarin/Xamarin.Forms/files/2920624/Podcasts.copie.zip)

What can I do to help you more ?

Thanks !

[2019-03-01 19:04] transis2 commented on #4581
Look at this thread and how they use similar approach to fix:

https://github.com/xamarin/Xamarin.Forms/pull/5423/files

Thanks

[2019-03-01 19:09] transis2 commented on #5202
Thank you @samhouts

[2019-03-01 19:47] vtserej commented on #2496
waiting for a fix. My ui tests are failing because of this bug

[2019-03-01 22:32] brackert commented on #4891
I spent a few hours investigating this bug and have a solution that also keeps the fix for the commit mentioned above. All changes are to class `FormsWebViewClient`.

Depending on the API version, Android's `StopLoading` does not work as expected/consistently which is used to cancel the load in `OnPageStarted`. This is why the commit above created this 'custom scheme' problem.

In addition, Androi

[2019-03-01 22:57] kensykora commented on #4891
Hey @brackert

Thanks for looking at this, VERY much looking forward to a fix so we can update our Xamarin Forms past 3.2

Just to be clear, in the code sample I provided in my original post, I am not canceling navigation when WebView.Source is explicitly set, only during subsequent navigations from that page.

Feel free to use my sample as a case for testing the fix.

[2019-03-01 23:29] brackert commented on #4891
@kensykora

You're welcome!

I _did_ use your code. Thanks! I added a few more tests as well.

We've been using the custom scheme technique in various projects since the 90s. I have a couple of questions and thoughts on using custom schemes that I would like your thoughts on. My email is public on GitHub if you are interested.

[2019-03-01 23:36] brackert commented on #4891
I forgot it's Friday when I wrote this. I'll probably get to this on Monday. :)

[2019-03-01 23:37] samhouts opened #5427 "[Feedback] OnAppearing not being hit tabbedpages XF 3.5.0.169047"
### Description

<p><p>OnAppearing not being hit tabbedpages XF 3.5.0.169047</p>
<p>add pages in codebehind</p>
<p>children[0] …currentpage … onappearing is not being hit after loaded</p>
</p>
<a href="https://developercommunity.visualstudio.com/content/problem/470145/onappearing-not-being-hit-tabbedpages-xf-350169047.html">View on Developer Community</a>
<br>To find diagnostic information, see th

[2019-03-01 23:43] samhouts commented on #5416
@jonathanantoine Since you didn't include the whole project, I can't test it. Can you try adding setters to all of the properties on your ViewModel and see if that helps? Thanks!

[2019-03-02 00:24] dazinator opened #5428 "[Shell] Items - Binding Visible"
## Summary
I have installed VS2019 and had a go with the new Xamarin Forms Shell templates.

One area which I think is lacking is the ability to bind `ShellItem` `ShellSection` visibility.

For example, one common use case, is, based on the authenticated user's permissions, certain items on the menu should be visible, or not visible. Permissions of the user could be changed during application use.

[2019-03-02 00:26] dazinator commented on #2415
@dbwelch @ChaseFlorell I opened an issue here: https://github.com/xamarin/Xamarin.Forms/issues/5428

[2019-03-02 00:31] dbwelch commented on #5428
Thanks for opening the issue!  Perfect! @dazinator

[2019-03-02 00:38] dbwelch commented on #5428
Just to add to this, the items themselves should be able to be added/removed, as some content (in my applications case) is shown to based upon their user class.

So, the parameters passed to the content (in the template) will be different.

[2019-03-02 00:39] PureWeen commented on #5294
@micjahn

So I'm pretty sure what needs to be done would be
- Name the folder *MonoAndroid10*
- rename the dlls to *zxing.dll*  from *zxing.monoandroid.dll* to match the name of the dlls in the netstandard library that way the dll can just bait and switch in

And I would change this
https://github.com/micjahn/ZXing.Net/blob/master/Source/lib/zxing.monoandroid.csproj#L35

to portable

![image](http

[2019-03-02 00:39] #5294 closed

[2019-03-02 00:59] jamesmontemagno commented on #3855
Validated this here in https://github.com/jamesmontemagno/Hanselman.Forms

[2019-03-02 01:10] #5409 closed

[2019-03-02 01:22] samhouts commented on #4966
@jeontaejin  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-02 01:22] #4966 closed

[2019-03-02 01:22] samhouts commented on #5085
@s091704  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-02 01:22] #5085 closed

[2019-03-02 01:25] samhouts commented on #5133
Please attach a reproduction project that shows this issue. Thanks!

[2019-03-02 01:31] samhouts commented on #5427
Looks like there might be a solution on the ticket.

[2019-03-02 01:31] #5427 closed

[2019-03-02 01:43] samhouts commented on #5404
I cant get your project to run. It's missing the project.assets.json file, so it won't restore properly. Are you using VS for Windows or Mac? When you update, can you confirm that your Android Support packages are still 28+, or did they magically downgrade to 27?

[2019-03-02 01:45] samhouts commented on #5403
@melucas Can you please submit this issue as feedback within Visual Studio itself? I think that will direct the problem to the proper team. Thanks!

[2019-03-02 01:45] #5403 closed

[2019-03-02 01:53] PureWeen commented on #5359
@henryyue2010

I feel like this is something that would go into enhancements as this is the behavior on ios and android. Changing it to so the space disappears would be a breaking change

Can you try something like this?
I did a few small tests with this and it looks like this reclaims the space.

if below doesn't work then can you attach a repro of your scenario and we can see if there's a workar

[2019-03-02 01:55] samhouts commented on #5387
Thank you for the report! Xamarin.Forms.Themes was an experimental project that is unfortunately not well supported at this time. It does not support net standard, so it isn't going to play very well with recent versions of Xamarin.Forms. It looks like it is trying to restore old versions of Xamarin.Forms.Pages. It's possible that you'll have better luck if you reference the latest version of Xama

[2019-03-02 01:55] #5387 closed

[2019-03-02 02:00] samhouts commented on #5386
That was done here: https://github.com/xamarin/Xamarin.Forms/pull/4659 We'll have to investigate the implications. Thanks for the report!

[2019-03-02 02:11] samhouts commented on #5377
See if excluding the `IGrouping` type and/or `System.Linq` namespace from the linker will help. Thanks! https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/linker

[2019-03-02 02:11] #5377 closed

[2019-03-02 02:30] samhouts commented on #5337
Interesting! `ToolbarItems` are a special type of control. They don't really use the same type of renderers that the other controls use, so the effects aren't automatically attached. This will take some investigation to see if we can support this. I'll mark it as an enhancement. Thanks!

[2019-03-02 03:01] samhouts commented on #5270
@StephaneDelcroix Should we backport #5309? Thanks!

[2019-03-02 03:17] #3478 closed

[2019-03-02 03:17] #4644 closed

[2019-03-02 03:17] #5360 closed

[2019-03-02 03:17] #5170 closed

[2019-03-02 07:48] jonathanantoine commented on #5416
Hello @samhouts, you are right it seems that I forgot to add some files in it, sorry.

In the meantime, I found the root cause of my issue (without being able to have a repro projects - it's a lot of work if I don't want to give you my full project source) : I was using the "old project format". Moving to the new one fixed the issue and it compile allright now.

Old project format :
[code]

New pr

[2019-03-02 10:48] johnshardman commented on #1651
Also seeing this with XF 3.4 with iOS 12

[2019-03-02 12:38] DeepikaBalaSubramaniyan commented on #2406
Hi @PureWeen , @deepesh002 , @yustanj

Same issue has replicated in our custom control too, while tried to reuse the Entry view which was stored in bin by using Enqueue and Dequeue process of type Queue<WeakReference>.

While edit the entry view from Queue<WeakReference> bin, Entry.Focus() method does not show the keyboard, also while calls a Entry.Unfocus() method I am getting can not access a di

[2019-03-02 18:23] varyamereon commented on #5133
This appears to have been fixed in VS2019 Preview 4.0

[2019-03-02 19:08] melucas commented on #5403
@samhouts Done.  Thank you

[2019-03-02 20:57] PureWeen commented on #2406
@DeepikaBalaSubramaniyan

https://github.com/xamarin/Xamarin.Forms/issues/5238

[2019-03-02 23:09] fhnainia commented on #5428
I am also having issues dynamically adding ShellContent items to an existing ShellSection. In my case it seems to work well in Android but does not work in iOS!
Here is how I am attempting to do this.
1. In the Shell Page I declare a ShellSection as follows:

        <ShellSection x:Name="Halls" Title="Halls and Tables" Icon="tab_feed.png">
                 <ShellContent ContentTemplate="{DataTemp

[2019-03-02 23:36] hvaughan3 opened #5431 "[iOS] ViewCell ForceUpdateSize causing flickering on first click"
### Description
Triggering `ViewCell.ForceUpdateSize()` causes the cell to grow and then immediately shrink back down to its original size on the first click. The second click expands the cell to the correct size as expected.

In the production application that I first noticed this issue, the cell has more content and the "grow then shrink" process takes at least 4 calls to `ViewCell.ForceUpdateSi

[2019-03-03 01:02] fhnainia commented on #5428
I am also having issues dynamically adding ShellContent items to an existing ShellSection. In my case it seems to work well in Android but does not work in iOS!
Here is how I am attempting to do this.
1. In the Shell Page I declare a ShellSection as follows:

        <ShellSection x:Name="Halls" Title="Halls and Tables" Icon="tab_feed.png">
                 <ShellContent ContentTemplate="{DataTemp

[2019-03-03 07:19] 1mohmmad4 opened #5433 "picker focus() not show dialog pop-up in just android 9.0 (Xamarin.forms 3.5)"
### Description
picker in xamarin.forms version 3.5 is not working in android 9.0 but in previous version of android or even all system versions of iOS  it is working good if you are tap on picker or focus on it by focus() function in code behind of from anywhere it will show you the dialog pop-up.

### Expected Behavior
show dialog pop-up when click on picker or focus on it.

### Actual Behavior

[2019-03-03 12:36] DeepikaBalaSubramaniyan commented on #2406
Hi @PureWeen

Thanks for your reply, I understand this issue will get fixed in xamarin forms 3.6 stable version.

[2019-03-03 14:17] FrankChen021 commented on #5377
hi @samhouts , it does work. Thanks a lot. The linker configuration I'm using for both iOS and Android is:

[code]

[2019-03-03 16:56] jbachelor commented on #2220
Thanks so much in advance for adding the Pressed and Released GestureRecognizers... This will be very helpful in providing just small amounts of animation to give the app a more lively, responsive look and feel for the user. Looking forward to using these.  =)

[2019-03-03 21:11] PureWeen commented on #5433
most likely a duplicate of
https://github.com/xamarin/Xamarin.Forms/issues/5159

[2019-03-03 22:53] VladislavAntonyuk opened #5434 "MacOS navigation is broken"
Xamarin latest myget package

1. Create parent page and child page
2. Navigate to child page.
3. Click back button

System.NullReferenceException: Object reference not set to an instance of an object
  at Xamarin.Forms.Platform.MacOS.ViewRenderer`2[TView,TNativeView].SetNativeControl (TNativeView uiview) [0x0004a] in <733227acc73942269e4e6cb221eeb85f>:0
  at Xamarin.Forms.Platform.MacOS.ImageRende

[2019-03-04 00:57] rmarinho commented on #2204
Hey the solved the color issue was in commit https://github.com/xamarin/Xamarin.Forms/commit/b8de5564bf05f9086a0d7bc8c33bcce9b38803e4
you can find it on version 3.0.0 and above.

I have now a setup (non retina mac) i m debugging the issue, will update as soon as as i have a good answer.

[2019-03-04 01:09] rmarinho commented on #2204
Do you mind for now to test 3.5.0 stable and also turn off font smoothing on the Mac your are trying.
It seems that works for me...

![screen shot 2019-03-04 at 01 07 05](https://user-images.githubusercontent.com/1235097/53705132-29a10100-3e1a-11e9-9258-71e2599d4dd5.png)
![screen shot 2019-03-04 at 01 06 03](https://user-images.githubusercontent.com/1235097/53705133-2a399780-3e1a-11e9-8544-f9056c3

[2019-03-04 02:21] nickwood2009 opened #5435 "Xamarin form page preview in VS2019 not working when using shell"
Using VS2019 (preview 2.0)
 with xamarin.forms v4.0.0.169046-pre5
viewing Android and using Shell
When using the page preview I get render errors (see screen)
its hard to read and I cant copy out the error content, or extend the frame to view, but it seems to be related to the flags set for "Shell_Experimental" in the MainActivity.cs in the Android project:

global::Xamarin.Forms.Forms.SetFlags("S

[2019-03-04 03:13] pouyactm commented on #2829
Is there any update on this? The issue still persists!

[2019-03-04 04:13] jdluzen opened #5436 "Page.IsBusy crashes"
### Description
I apologize in advance as this won't have the most concrete information. I am almost certain this is some sort of race condition, as this was working for days before now. I have attempted to debug by looking at the XF source at the lines indicated, but the NullReference doesn't make sense.

### Steps to Reproduce

1. Bind `ContentPage.IsBusy` to a valid `IsBusy` property on a ViewM

[2019-03-04 05:10] reader-man opened #5437 "Xamarin vs Flutter vs ASP.Net vs .net core, and 3rd party vendors"
This is a suggestion to MS/Google, and all 3rd party vendors.
https://readerman1.wordpress.com/2019/03/04/xamarin-vs-flutter-3rd-party/

Xamarin while has a lot of nice features, it just still takes all the heavy load of the OS original UI.
Its advances depend on the pace of the OS UI developers.
IT still needs to have several programming models depending on each platform.
And its very difficult t

[2019-03-04 05:15] pauldipietro commented on #5437
Hi @reader-man, while we appreciate the feedback, this unfortunately does not follow our general guidelines for issues and strays off-topic. I would suggest making individual issues in the future that are more focused and digestible for review if you are interested in contributing to the project. If you would like to discuss Xamarin.Forms further, you are welcome to email me at paul.dipietro at mi

[2019-03-04 05:15] #5437 closed

[2019-03-04 06:52] akarthikraja18 commented on #5333
I have used Entry renderer of Xamarin version 2.5.1.527436

[2019-03-04 07:12] 1mohmmad4 commented on #5433
* custom control :

using System;
using Xamarin.Forms;

namespace Common.Localization.Controlls
{
    public class PickerExt : Picker
    {
        public Action ShowPicker;
    }
}

=================================

* Xaml File :

                <controlls:PickerExt  x:Name="PickerList"/>

=================================

code behind:

            if(Device.RuntimePlatform == Device.Android)

[2019-03-04 08:28] chandrubk commented on #3172
Can any one tell me RemainingItemsThresholdReached is part of 4.0 Release? If yes, can you please give sample code on how to use that feature.

[2019-03-04 10:17] johnshardman opened #5438 "Memory leak when UWP toolbar has too many items to show in one horizontal bar"
### Description
Using XF 3.4.0.1008975, on UWP, with a ContentPage that has a Toolbar with multiple primary ToolbarItems, reduce the width of the window for the app until ToolbarItems are automatically moved from the horizontal toolbar to the dropdown that appears when the ellipsis/more button is pressed. Drop down the menu to see the items there. Now navigate back to the previous page by hitting

[2019-03-04 10:48] andreinitescu opened #5439 "[Enhancement] Improve error reporting on XAML with error"
## Summary

In App.xaml, I have the following custom target type "local:MyControl" with the "local" prefix I forgot to declare:
[code]

When trying to compile, the error looks generic:

![image](https://user-images.githubusercontent.com/743918/53728504-94ceef80-3e7b-11e9-9300-450d5e24a084.png)

The build output doesn't help either:

It would be very helpful to immediately know what's the actual pr

[2019-03-04 10:50] xamadev opened #5440 "[iOS] Unintended space after nested GridLayoout in ListView with grouping"
### Description
I got some unexpected behavior with a GridLayout nested in a ListView with grouping enabled. In the first screenshot you see some unintended space marked red. I colored some elements to make the layout more visible. I didn't define that space in the xaml file! In the second screenshot you see the rows and colums I defined in xaml which meet exactly my expactations.

It seems for me

[2019-03-04 12:08] chrisfoulds commented on #5267
Why is this schedule for 3.6 ? , basically 3.5 is unusable currently due to this issue. I have had to roll back 10 clients projects from 3.5 to 3.4 due to it and most of them are now putting in all sorts of overly complex 'integration and upgrade procedures' on the projects now which is really going to hamper uptake onto the latest version. A rapid SR with the fix may help ease managements minds.

[2019-03-04 14:42] PauchardThomas commented on #4917
Same issue...
Xamarin Forms 3.4.0

[2019-03-04 14:49] Refka-Benmahmoud opened #5441 "Xamarin.forms 4.0.0.169046-pre5 ScrollView "Orientation=both" crashes on Android and iOS"
### Description
In ContentPage, ScrollView with property "Orientation=both" crashes the application in xamarin.forms 4.0.0.169046-pre5.

-- Platform Target Frameworks:
-iOS
-Android
-not tested on UWP

[2019-03-04 15:06] adrianknight89 commented on #3172
@Dresel Can you open a new ticket if you think this is a bug? It's better if it gets tracked.

@melucas @chandrubk I don't think `RemainingItemsThresholdReached` is being worked on yet.

https://github.com/xamarin/Xamarin.Forms/branches/all

I too would like to see this feature implemented soon as I can't touch `CollectionView` without this feature.

[2019-03-04 15:26] jfversluis commented on #3281
If I'm not mistaken, this one is also fixed by #4899 and should be possible today on Android with the functionality mentioned in #3478. Unless I don't fully understand what is meant here.

[2019-03-04 15:33] ahoefling commented on #3281
I think your PR fixes this issue. I was starting to push for changes that allow you to update the icon color as well.  Which maybe we should create a new GitHub Issue to track icon color if it isn't supported and close this one out.

Does your code change handle icon color or does it just work for text color?

[2019-03-04 15:42] jfversluis commented on #3281
Actually, the Android implementation has not changed. So you should be able to test that with the platform specific that is in place for Android today. If I'm not mistaken the image should work as well, but I'm not a 100% sure.

[2019-03-04 16:51] rmarinho commented on #2204
After more investigation i ws able to found this on Apple's documentation

https://developer.apple.com/library/archive/documentation/GraphicsAnimation/Conceptual/HighResolutionOSX/Explained/Explained.html

[code]

This made me test retiring a ScreenFont with different RenderingModes and test the results with several options on Retina and Non Retina with LCD font Smoothing on and off

With LCD font

[2019-03-04 16:57] rmarinho commented on #2204
With LCD font smoothing *OFF* with NON retina Mac

![screen shot 2019-03-04 at 15 15 43](https://user-images.githubusercontent.com/1235097/53749069-80e8b500-3e9e-11e9-90bf-cc35e2ee1727.png)

![screen shot 2019-03-04 at 15 11 18](https://user-images.githubusercontent.com/1235097/53749093-8d6d0d80-3e9e-11e9-858d-3923cdc5c208.png)

![screen shot 2019-03-04 at 15 09 48](https://user-images.githubuserc

[2019-03-04 17:38] jcmanke commented on #5441
Duplicate of #5247 fixed by #5383

[2019-03-04 17:43] samhouts commented on #5441
Duplicate of #5247

[2019-03-04 17:43] #5441 closed

[2019-03-04 18:13] samhouts commented on #5433
Duplicate of #5159

[2019-03-04 18:13] #5433 closed

[2019-03-04 18:18] samhouts commented on #5416
Interesting! Thanks for the update!!

[2019-03-04 18:18] #5416 closed

[2019-03-04 18:19] samhouts commented on #5436
@jdluzen Can you see if this is your issue, please? Thanks! https://github.com/xamarin/Xamarin.Forms/issues/5416#issuecomment-468897239

[2019-03-04 18:37] samhouts commented on #5133
Thanks!!!

[2019-03-04 18:37] #5133 closed

[2019-03-04 18:42] #5011 closed

[2019-03-04 18:42] #5010 closed

[2019-03-04 18:42] #5009 closed

[2019-03-04 18:46] samhouts commented on #4435
I think we'll go ahead and close this spec. We'll track remaining work on the sub issues linked above. Thanks!!

[2019-03-04 18:46] #4435 closed

[2019-03-04 19:06] rmarinho commented on #2204
@vcx hey, do you mind test this package and see if it works for you ?
[debug.zip](https://github.com/xamarin/Xamarin.Forms/files/2927840/debug.zip)

[2019-03-04 19:23] samhouts commented on #2415
@jamiewest Submit a feature request! Thanks! https://github.com/xamarin/Xamarin.Forms/issues/new?assignees=&labels=t%2Fenhancement+%E2%9E%95&template=feature_request.md&title=%5BEnhancement%5D+YOUR+IDEA%21

[2019-03-04 19:31] jonathanantoine commented on #5416
You don't support the old project format?

[2019-03-04 19:39] KyleTraynor opened #5444 "[Enhancement Shell] - Allow setting OffscreenPageLimit for Android"
## Summary
In Shell, when having top tabs, in android it does not cache the pages and reloads them when swapping between tabs. It would be great to be able to set the OffscreenPageLimit for android
https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.platformconfiguration.androidspecific.tabbedpage.offscreenpagelimit?view=xamarin-forms
Parent: #2415

[2019-03-04 19:56] jcmanke opened #5445 "[Enhancement, Maps, UWP] Use a native control for Pins on UWP"
## Summary

On UWP, a Pin is rendered as a ContentControl with a big ugly vector image. This is in contrast to the other Windows platforms, which both use native map pin controls (PushPin on WPF, GMapImageMarker on GTK).

## API Changes

Instead of the current PushPin control, use a native control such as MapIcon on UWP.

## Screenshots
Current UWP Pin:
![Current UWP Pin](https://user-images.githu

[2019-03-04 20:07] KyleTraynor commented on #5444
I cant seem to figure out how to add a shell label to this issue..?

[2019-03-04 20:26] caseyniemann commented on #5288
@samhouts confirming this as a blocker for 3.5 and anyone using Syncfusion list view.  What is our ETA for a Xam Forms update to resolve

[2019-03-04 20:32] samhouts commented on #5288
We're not sure this is something for Xamarin.Forms to fix. It may be something that SyncFusion needs to resolve.

[2019-03-04 20:48] caseyniemann commented on #5288
@samhouts From Syncfusion  This issue only occurs after Xamarin.Forms update version 3.5 update with linker enabled. As we mentioned, issue occurs because of the Xamarin framework update and we logged issue report (5288) for the same. It can be resolved by setting Linking option as None as we share before.

For now, you can use the earlier Xamarin.Forms (Version 3.4 and earlier) updates to avoid t

[2019-03-04 21:51] sstragier opened #5446 "[Android]FrameRenderer is creating new FrameDrawable every time BackgroundColor changes without disposing"
### Description
When the BackgroundColor or CornerRadius properties of a Frame are changed, the FrameRenderer (not the FastRenderer), creates a new instance of the FrameDrawable without disposing the previous instance.

For my project, we have multiple frames that have blinking background colors and over a couple minutes, the blinking visibly slows down, and if left long enough, the app crashes. B

[2019-03-04 22:10] samhouts commented on #5288
@caseyniemann We've been in contact with SyncFusion about this matter, and we are working together to resolve it. Thanks

[2019-03-04 22:11] PaulMDemers opened #5447 "GTK: MasterDetailPage Master page black section when navigation in detail"
### Description
I created a basic GTK Forms application, added a minimal MasterDetailPage and when the Detail page is a navigationpage a section appears black in the master page, when the navigationpage is removed, it's resolved.

### Steps to Reproduce

1. Code is attached
2. Remove NavigationPage around ContentView to see issue resolve

### Expected Behavior
Top section of Master page shouldn't

[2019-03-04 22:15] samhouts commented on #1789
We've made a lot of progress on Visual in the last few months. We've love to get your feedback on it. We invite you to try the Visual Challenge and let us know if this solves any pain points for you that led you to make this proposal. Thanks! https://github.com/davidortinau/VisualChallenge

[2019-03-04 22:42] samhouts commented on #5435
@nickwood2009 Thanks for the report! This particular error message was resolved in P3, but it was unfortunately replaced by new ones. We're working on the problem!

[2019-03-04 22:55] samhouts commented on #4741
This was fixed in Visual Studio 2019 Preview 3.

[2019-03-04 22:58] heiser commented on #4919
Same here. v3.5. A response from Xamarin would be nice.

[2019-03-05 02:14] samhouts commented on #5333
@akarthikraja18 Can you try uploading your sample again? It didn't seem to work. Thanks!

[2019-03-05 04:42] alexanderzuban opened #5451 "Android/UWP ListView Memory Leak"
### Description

When updating ItemsSource for ListView cell views remains in memory both on Android(not so fast) and UWP(rapidly)

### Steps to Reproduce

1.  Run sample app in Android/UWP
2.  Click a few times on any item
3.  Check debug output or diagnostic on UWM

### Expected Behavior
Cell Views GC

### Actual Behavior
 Cells grow in memory

Sample Project:
[ListViewMemory.zip](https://github

[2019-03-05 04:44] alexsorokoletov commented on #3938
We get exactly same stacktrace on 3.4.0.1029999

[code]

This exception is crashing the app with no chance to restore normal work.
As far as I understand, the worst result of broken collection or list behavior is an incorrectly rendered UI. Gut feeling is that there is async void somewhere in the chain

[2019-03-05 05:27] drewgillies commented on #5038
@mfeingol I'd be interested to see whether this issue continues to reproduce with the latest VS 2019 preview. Please try it and see if we've fixed this one (I believe we have). If not, we'll take a deeper look.

[2019-03-05 05:36] drewgillies commented on #4296
This basic repro no longer exists. There may be additional steps to precipitate it now, and it can be filed as a separate issue. Suggest testing on latest preview and closing if fixed. FYI @alanmcgovern

[2019-03-05 06:18] BlueFire-LLC commented on #4455
Any update???? I still have to use 3.2 for my Android project.

[2019-03-05 06:30] drewgillies commented on #5038
Just repro'd this myself. As you were.

[2019-03-05 06:31] #5089 closed

[2019-03-05 07:06] mfeingol commented on #5038
Confirmed it still repros in 2019 RC as well. :-)

[2019-03-05 09:44] amirvenus commented on #5326
It has been removed from Ready for Work in Triage.

Does that mean this bug is fixed?

[2019-03-05 09:52] Ickerday commented on #3839
Is there any reason for VS2017 not recognizing the `x:TypeArguments` parameter in any of the three OnPlatform syntaxes?
Should I file a separate issue for that?

[2019-03-05 11:18] PauchardThomas opened #5452 "[iOS] Keyboard language reset with 2 entries "IsPassword = true""
### Description

I made a french mobile app = **keyboard language : Azerty.**
In my register page, i got 3 entries where the last 2 entries got IsPassword property set to True.
When the user is in the first entry, could be anything (Email entry for instance), **the keyboard is in Azerty configuration** (OK).
But when i switch to another entry ( with IsPassword set to True), **the keyboard configur

[2019-03-05 11:28] paymicro commented on #5362
Hello @seankanderson
I could not reproduce this issue using your repro steps
![](http://g.recordit.co/Jv8TxphQS6.gif)
Could you describe in more detail how to reproduce it?

[2019-03-05 11:36] GnanaPriyaNamasivayam commented on #5288
Hi Team,
As of now, most of our customers are working by linking as None and this cannot be permanent solution for this crash in release mode. Can you please provide the fix with updated version asap.
We haven't received any of your notifications regarding this issue.
Can you please let us know how you have been in tied up with our team.

Regards,
Gnana Priya N
(Syncfusion)

[2019-03-05 11:58] EaranMaleasi opened #5454 "[iOS] IsEnabled=false is indiscernible from IsEnabled=true on DatePicker and TimePicker"
### Description
Setting `IsEnabled=false` of an unmodified `DatePicker` or `TimePicker` does result in no visual change. Only on a white Page it is possible to see a difference in the `BackgroundColor` of those Pickers. On Pages with other BackgroundColors this change is indiscernible.

### Steps to Reproduce

1. Download attached Project
2. Rebuild Solution
3. Run iOS App
4. Click on "Toggle IsEn

[2019-03-05 13:05] Dresel opened #5455 "ItemSizingStrategy MeasureAllItems does not work for iOS"
### Description

I was playing around with the `CollectionView` on iOS and was facing problems with uneven row height. I saw there was an `ItemSizingStrategy` introduced lately, but it's still behaving weird though.

### Steps to Reproduce

1. Open the `DataTemplateGallery` CollectionViewGallery
2. Switch to `MeasureAllItems` to get the following result

<img src="https://user-images.githubusercon

[2019-03-05 14:17] Eswaran17392 opened #5456 "Custom view rendering issue occurs when converting the Xamarin Forms Switch control from Forms to native view in android platform"
### Description
Custom view rendering issue occurs when converting the Xamarin Forms Switch control from Forms to native android platform.

### Basic Information
We have a custom control in which we use the below code to convert the Xamarin Forms view to native view in iOS platform. When trying to convert the switch control I am getting a null reference exception.

Code:
[code]

[2019-03-05 15:12] azuken opened #5457 "Nullable DateTime with value is null in a constructor"
### Description

### Steps to Reproduce

1. Have a nullable DateTime ViewModel property, bound to a Xamarin.Forms view (Custom widget extended from DatePicker)
2. Have a model with a constructor, which have a nullable DateTime parameter
3. Get ViewModel property, pass it to constructor

[code]

### Expected Behavior

I expect that my DateTime passed to object is not null

### Actual Behavior

Null

[2019-03-05 15:54] azuken commented on #5457
After some tests, I have two case which resolve issue :

- When I set me nullable datetime after instanciate object (with public property setter), it works.
- When I put nullable datetime parameter at the end of constructor, it works.

[2019-03-05 16:15] PureWeen commented on #5288
@GnanaPriyaNamasivayam  I emailed Marissa Keller Outten and Christian Grossmann last Thursday and yesterday. That's usually who I contacted whenever I had questions. Should I only ever email support or is there someone else internally I should be emailing to expedite these things?

Can you please set my SF license up with a Source License so that I can compile and debug against SF please? shneuvil

[2019-03-05 16:41] caseyniemann commented on #5288
@samhouts @GnanaPriyaNamasivayam Please connect and resolve, and use the @ sign so you both see this

[2019-03-05 17:01] james1301 opened #5459 "Not able to Bind a list of items within a TableView's TableSection"
### Description
Not able to create a list within a Table Section well as always having problems with ViewCells. If BindableLayout worked on a TableSection that would be most useful, or if the ViewCells could pick up these changes in the StackLayout.

### Steps to Reproduce

1. Create a Table View with a Table Section and ViewCell
2. Then add a StackLayout with a BindableLayout.ItemSource and ItemT

[2019-03-05 18:34] #5341 closed

[2019-03-05 18:51] KSemenenko commented on #2452
Maybe it will be in 4.0?

[2019-03-05 18:58] brackert commented on #4223
I was not able to reproduce the problem using the supplied App1 project on Android 9 (api 28). However, PR #5460 may fix this problem.

[2019-03-05 19:54] PureWeen commented on #2829
@pouyactm  do you have a repro we can use to see your issue?

[2019-03-05 20:08] PureWeen opened #5461 "[Android] ScrollView crashes when setting ScrollbarFadingEnabled to false in Custom Renderer"
### Description

If an Android View sets *ScrollbarFadingEnabled* to false then the drawable on a ScrollView won't get initialized which will cause a crash during Draw

From what I can tell looking at the android source two scenarios will initialize the scrollbars on a view

1) if the view is inflated with scrollbars set to anything but NONE
https://android.googlesource.com/platform/frameworks/bas

[2019-03-05 22:09] kingces95 commented on #5457
Wha? This sounds exciting...

[2019-03-05 22:24] ricardouffcomp commented on #5382
Hi @samhouts . I noticed this issue was moved to iOS Ready For Work and after that, it was moved back to Triage. Let me know if you need more clarification around this issue.

[2019-03-05 22:26] pouyactm commented on #2829
@PureWeen, I don't have the repro project unfortunately, just have crash reports from AppCenter (not sure if it helps)

[2019-03-05 22:59] shudson302 opened #5463 "Linker Error when using Azure Storage nuget packages with Xamarin.Forms for IOS"
### Description
Will not build for XamarinF in IOS.  Builds and runs fine for XamarinF UWP.
Error:
: error MT2001: Could not link assemblies. Reason: Error while processing references of 'NextIDClientiOS, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'
3>  --- inner exception
3>  Mono.Linker.LoadException: Error while processing references of 'NextIDClientiOS, Version=0.0.0.0, Culture=neutr

[2019-03-05 23:08] kingces95 commented on #5459
[TestListView.zip](https://github.com/xamarin/Xamarin.Forms/files/2933520/TestListView.zip)

[2019-03-05 23:27] dansiegel commented on #2758
perhaps leave it to me to ruin the party here... but this would introduce a **MAJOR breaking change** in behavior which means you break people without them knowing it... now "Maybe" its a worthwhile break (though I heavily lean towards no)... but can you honestly name a scenario in which you have two buttons attached to the same command where one should be disabled and the other shouldn't... and y

[2019-03-05 23:32] kEph13 commented on #3976
We're also seeing this issue with Xamarin.Forms 3.5.0.169047 and Android Support libraries 28.0.0.1

The error is:
[code]

[2019-03-05 23:37] kEph13 commented on #3976
Based on [this file](https://github.com/xamarin/Xamarin.Forms/blob/release-3.5.0-rc1/Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewUtils.cs) it looks like the __ANDROID_28__ definition isn't being triggered for some reason.

[2019-03-06 00:33] samhouts commented on #5382
@ricardouffcomp We just took it out of the triage board and put it in the Ready for Work board. It's ready for someone to look at! Thanks!

[2019-03-06 01:14] PureWeen opened #5465 "[UWP] Issue2927 failing and Tapped is passing the wrong value in for Item"
### Description
This is a little tricky to explain or I just confused myself while working on this

https://github.com/xamarin/Xamarin.Forms/pull/3400

Appears to have fixed https://github.com/xamarin/Xamarin.Forms/issues/4901 because it made it so that two (maybe more) wrongs made a right

If you run *Issue2927* on master it will crash because PR https://github.com/xamarin/Xamarin.Forms/pull/3400

[2019-03-06 01:24] samhouts commented on #5053
@arvindrajachourasiya Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-06 01:24] #5053 closed

[2019-03-06 01:25] samhouts commented on #4921
I asked again on the developer community ticket. We'll give it another round before we close this for no response.

[2019-03-06 01:56] seankanderson commented on #5362
It was/is actually due to a bug in visual studio. Not sure what is triggering it but restarting the computer makes it go away for a while.

[2019-03-06 02:00] Gravemind2401 commented on #5188
I just had this issue after updating from XF 3.5 SR1 to XF 3.6 RC4.
The Win2D package was not installed automatically as part of updating to XF 3.6, is this expected?
After installing the Win2D nuget package I found that it targets UWP 17134 so I also had to update my targets in the project file.
Like @toomasz I was also targeting UWP 16299, but changing the target to 17763 (min version set to 171

[2019-03-06 02:25] kingces95 commented on #5459
Reproduces as expected. Could just be a matter of documentation.

[2019-03-06 02:28] kingces95 commented on #5463
Could you please attach a zipped solution that exhibits this build error?

[2019-03-06 02:29] kingces95 commented on #5457
@azuken Could you please attached a zip solution that exhibits the unexpected behavior?

[2019-03-06 02:30] davidortinau opened #5466 "[Shell] Cannot navigate to a route"
### Description

No matter what I try to navigate to by URI, I get this error:

[code]

In AppShell.xaml.cs I register the route like this:

[code]

And then in the VM call the `GoToAsync` (page is "buttons"):

[code]

I've also tried:

[code]

Thinking I could use the relative navigation that @paymicro added in #4977 .

### Basic Information

- Version with issue: 3.6.0.220655

### Reproduction

[2019-03-06 02:30] kingces95 commented on #5456
Could you please include a zipped solution that includes your custom renderer that exhibits the unexpected behavior you're observing?

[2019-03-06 03:33] tmt242001 commented on #5330
Issue still exist in Xamarin .Forms 3.6, if built in release mode.

[2019-03-06 04:36] BlueFire-LLC commented on #4455
So, I just tried 3.6 and it still is broken. How long do I have to wait for this to get fixed?

[2019-03-06 05:12] robinne opened #5467 "[Enhancement] Provide List View Add editable entry item, auto focus Entry"
## Summary
Upon adding a new object to a bound ListView (add to underlying list of objects in ViewModel), allow a programmatic way to focus the first (typically only) entry field in the new row. Users are used to new entry fields automatically being focused and ready to type. Similar to iOS "Reminders" where the list is editable. But in this case, a command has added a new entry to the end of the

[2019-03-06 06:32] Nijamudeen-Mohamed commented on #5288
@samhouts, Could you please confirm, is there any possibilities of providing an immediate fix for this linker issue in the upcoming Xamarin update?

[2019-03-06 06:49] tualatin commented on #5188
I upgrade Xamarin.Forms 3.5.xx to 3.6.xx since I get the same error message for my UWP project.

[2019-03-06 07:14] iamlawrencev commented on #3083
Thanks for the good news @jamesmontemagno. I was wondering if we could disable the zoom-in effect whenever a tab is selected in Labeled mode? Text and the icon gets zoomed in whenever I select a tab and this truncates some tab texts which are long.

[2019-03-06 07:25] MagicAndre1981 opened #5468 "Changelog for Xamarin.Forms 3.6.0.220655 is missing"
### Description

The changelog for the nuget update Xamarin.Forms 3.6.0.220655 is missing.

### Steps to Reproduce

1. open Xamarin.Forms project with installed Xamarin.Forms 3.5.0.169047
2. open "Manage NuGet packages"
3. go to Updates and you see Xamarin.Forms 3.6.0.220655

but on release notes page I only see the [pre2 documentation with lower version number](https://docs.microsoft.com/en-us/xa

[2019-03-06 07:26] MagicAndre1981 commented on #5468
Is it safe to update to this version or was this a publish mistake? If this is an official release when can we expect the changelog?

[2019-03-06 08:18] MagicAndre1981 commented on #5188
I have the same issue:

![image](https://user-images.githubusercontent.com/8274816/53865905-940b9a00-3ff0-11e9-8f5d-c0d6ab881b06.png)

So the NuGet update to [Xamarin.Forms 3.6.0.220655](https://github.com/xamarin/Xamarin.Forms/issues/5468) was a mistake?

[2019-03-06 08:19] MagicAndre1981 commented on #5468
I just tried the version and now get a [System.TypeLoadException: 'Could not find Windows Runtime type 'Microsoft.Graphics.Canvas.UI.Xaml.CanvasImageSource'.'](https://github.com/xamarin/Xamarin.Forms/issues/5188)

[2019-03-06 08:27] StephaneDelcroix commented on #5416
we do. please provide a project so we can reproduce this issue. We'll reopen then. Project format shouldn't matter.

[2019-03-06 08:28] azuken commented on #5457
@kicsiede I cannot provide my solution, because it's from my company. All I can do is providing you more samples.

[2019-03-06 08:38] StephaneDelcroix commented on #5330
@tmt242001 the PR isn't even merged yet

[2019-03-06 08:39] #5330 closed

[2019-03-06 08:58] jonathanantoine commented on #5416
@StephaneDelcroix ok, thanks for the clarification. I do no more have the repro project as I fixed my issue by migrating.

[2019-03-06 09:08] paymicro commented on #5362
That is, in the release version of the application without debugging this issue does not appear?

[2019-03-06 09:10] MagicAndre1981 commented on #5188
@toomasz @dansiegel change MinVersion to 17134 or add `<DisableWin2DPlatformCheck>true</DisableWin2DPlatformCheck>` to your csproj.

I had the same issue.

@samhouts was the Xamarin.Forms 3.6.0.220655 release a mistake?

[2019-03-06 09:55] james1301 commented on #5459
How are you able to get this situation to work?

[2019-03-06 09:58] TimBarham commented on #4831
No longer repro's with latest Previewer and Forms.

[2019-03-06 09:58] #4831 closed

[2019-03-06 10:29] marek-safar opened #5469 "Nullable DateTime with value is null in a constructor"
_From @azuken on March 5, 2019 15:7_

## Steps to Reproduce

1. Have a nullable DateTime ViewModel property, bound to a Xamarin.Forms view (Custom widget extended from DatePicker)
2. Have a model with a constructor, which have a nullable DateTime parameter
3. Get ViewModel property, pass it to constructor

[code]

### Current Behavior

Nullable datetime set with a valid date value become null when

[2019-03-06 10:29] marek-safar commented on #5469
_From @azuken on March 5, 2019 15:54_

After some tests, I have two case which resolve issue :

- When I set me nullable datetime after instanciate object (with public property setter), it works.
- When I put nullable datetime parameter at the end of constructor, it works.

[2019-03-06 10:40] jeremymarabel commented on #4476
Hi, i ran into the same issue recently and found this thread. The crash has occurred on a Galaxy Tab3 10.1 (GT-P5220) running Android 4.4.2
@OmegaPrimeZ3 were you able to fix this ?

[2019-03-06 10:49] veryhumble opened #5470 "ApplinkEntry Thumbnail required after upgrading to 3.5/3.6"
### Description
After upgrading from Xamarin.Forms 3.4 to Version 3.5 or 3.6 I get the following Exception after trying to Register an AppLinkEntry using `Application.Current.AppLinks.RegisterLink` on iOS.

`InvalidOperationException: Thumbnail must be set to a valid source`

### Steps to Reproduce

1. Register AppLinks with a valid AppLinkEntry
2. Start App
3. Exception is thrown saying Thumbnail

[2019-03-06 12:00] MagicAndre1981 opened #5471 "System.IO.FileNotFoundException: 'Could not load file or assembly 'clrcompression, Culture=neutral, PublicKeyToken=null'. Das System kann die angegebene Datei nicht finden.'"
### Description

When I run my App in debug mode and configured VS2017 to stop at `[System.IO.FileNotFoundException](https://docs.microsoft.com/en-us/dotnet/api/system.io.filenotfoundexception?view=dotnet-uwp-10.0)`

### Steps to Reproduce

1. create a new Xamarin.Forms app
2. [configure VS to stop](https://docs.microsoft.com/en-us/visualstudio/debugger/managing-exceptions-with-the-debugger?view=v

[2019-03-06 12:02] MagicAndre1981 commented on #5471
There is no need for repro, it happens to all users with blank app. It was reported some time ago in [old bugtracker](https://bugzilla.xamarin.com/show_bug.cgi?id=52838), but still occurs.

A workaround is to configure VS to not stop at this exception, but this may hide other issues later in my code.

[2019-03-06 12:23] transis2 commented on #5376
PS: Not solved with version 3.6.0.220655

[2019-03-06 12:30] transis2 commented on #5202
Fixed with 3.6.* and 4.*

[2019-03-06 12:37] MagicAndre1981 commented on #5471
The source where the issue occurs is [here](https://github.com/xamarin/Xamarin.Forms/blob/3.5.0/Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs#L63).

Here `IOException` and `BadImageFormatException` are catched and ignored. So maybe also catch `FileNotFoundException` here or check for clrcompression and skip loading it.

[2019-03-06 12:53] jsmarcus commented on #5468
@MagicAndre1981 I believe you will need to add a reference to Win2D.uwp

[2019-03-06 13:19] Mustafa7070 commented on #3080
i have same problem her:
"System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.ImageButtonRenderer from native handle... "

Android: 8.1.0 Android Build: OPM1.171019.026 Manufacturer: OPPO Model: RMX1811

[2019-03-06 13:24] alanmcgovern opened #5472 "Xamarin.Forms.Maps has mispackaged the design assembly"
If i examine all the nupkgs shipped by X.F we can see that every .Design.dll except for `Xamarin.Forms.Maps.Design.dll` is in the correct location.

Can we move `Xamarin.Forms.Maps.Design.dll` to a 'Design' subfolder like everything else?

[code]

[2019-03-06 13:46] MagicAndre1981 commented on #5468
@jsmarcus yes, I did this.

But the package should list this dependency and automatically add it to the project. I don't see this:

[code]

[2019-03-06 13:50] alanmcgovern opened #5473 "Missing markup extensions cause parsing to fail"
In no-compile rendering mode we would expect this construct to not cause parsing to fail:

[code]

Currently we get a MarkupExtensionNotFound exception if the type really does not exist in the project.

If you do go ahead and create the class in your project:
[code]

then instead you'll get this exception at runtime. My guess is that we've subclassed System.Object and it does not implement `IMarku

[2019-03-06 13:57] cmcclure-penlink commented on #3844
Either that are create an event when the cancel button is hit. Should come that way by default.

[2019-03-06 14:05] paymicro commented on #5465
It seems that in UWP to work on both Android and iOS we need a lot of changes in ListViewRenderer and CellControl. There is a possibility that even more errors will appear in the aftermath...
Perhaps there is a simpler temporary solution for syncing the contents of the view after the tap event?

[2019-03-06 14:51] jsmarcus commented on #5468
Agreed. Just wanted to make sure it wasn't gating for you.

[2019-03-06 15:13] shudson302 commented on #5463
I started getting the linker error when I added this nuget package:
microsoft.identitymodel.clients.activedirectory

[2019-03-06 15:19] shudson302 commented on #5463
[testXFAzureStorage.zip](https://github.com/xamarin/Xamarin.Forms/files/2936887/testXFAzureStorage.zip)

[2019-03-06 15:37] kEph13 commented on #3976
Ok, fixed it. It looks like you have to reinstall Xamarin Forms if you change the project targeting.

Specifically, various references that XF adds (Xamarin.Forms.Platform.Android, in my case) are hint-pathed to versioned Mono folders, and if there are processor directives they won't match up with the overall build level.

[2019-03-06 15:42] rmarinho commented on #4342
Just set ` Shell.SetPaddingInsets="true"` in your ShellItem.

[2019-03-06 15:42] #4342 closed

[2019-03-06 15:44] rmarinho commented on #4752
Just use `Shell.SetPaddingInsets="true"` this is so we can allow users to scroll behind the page, a User can avoid doing this by wrapping the content page in a `ScrollView` that magicaly set's the insets on the UIScrollView

[2019-03-06 15:44] #4752 closed

[2019-03-06 15:50] PureWeen commented on #5465
@paymicro yea :-/ syncing might be just as hard

I think for now we need to at least roll back the parts of this PR that touch ItemTapped
https://github.com/xamarin/Xamarin.Forms/pull/3400

Because it's just not correct and breaks ItemTapped on UWP

[2019-03-06 16:01] shudson302 commented on #5463
[testXFAzureStorage.zip](https://github.com/xamarin/Xamarin.Forms/files/2937048/testXFAzureStorage.zip)

[2019-03-06 16:04] PureWeen commented on #4901
reopened because the PR only appeared to fix this issue because of what's noted here
https://github.com/xamarin/Xamarin.Forms/issues/5465

On Issue935 if you change the ItemSource to anything else like
[code]

you will notice that the test again fails

[2019-03-06 16:17] ianvink commented on #5404
Hi Sam - Do you need anything more from me? The latest repro was sent via email a few days back.

VS 2017.8, XF 3.4 Android 9 on Support 28.x.x works great. Update to XF 3.5 then Android crashes with Sigarts. iOS fine an all

[2019-03-06 17:19] migueldeicaza opened #5474 "Accessibility: On iOS Forms should use DynamicType"
On iOS, Forms should use dynamic type by default, which would provide the different sizes and weights for fonts and should respond to font size changes when instructed by the operating system.

This is necessary for users that need larger font sizes for accessibility reasons, but also would make Forms work better and consistently with the rest of the OS and applications.

Resources:
https://develo

[2019-03-06 17:20] ianvink commented on #5404
XF 3.6 fixes the issues.

Closed

[2019-03-06 17:44] hartez commented on #5474
We provide accessible text support (cross-platform) via [Device Styles](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/styles/xaml/device). On iOS, this is implemented via Dynamic Type.

However, the set of DeviceStyles is out-of-date. The most obvious omission is `largeTitle`, (added in iOS 11, I believe), but there are probably more.

I believe our DeviceStyles on Android

[2019-03-06 18:01] ianvink commented on #5404
Spoke too soon. Release build on a device still causes the same problem.

[2019-03-06 18:21] samhouts commented on #5468
The publish was not a mistake. There is sometimes a delay publishing the release notes. The issue that you're hitting is listed as a known issue, however. Not to worry, we will be releasing additional patches shortly. Thanks!

[2019-03-06 18:21] #5468 closed

[2019-03-06 18:25] samhouts commented on #5288
We've marked this with our highest priority, and there is communication between SyncFusion and Xamarin engineers. We're working on it. Thanks.

[2019-03-06 18:27] rmarinho commented on #4840
If you `Shell.SetPaddingInsets` to true it fixes the issue:

![simulator screen shot - iphone xs max - 2019-03-06 at 18 10 39](https://user-images.githubusercontent.com/1235097/53904240-7c0e3780-403d-11e9-9952-8d963e1db96d.png)

after:

![simulator screen shot - iphone xs max - 2019-03-06 at 18 27 03](https://user-images.githubusercontent.com/1235097/53904259-86303600-403d-11e9-9bf3-8bdacc9d7132.p

[2019-03-06 18:27] #4840 closed

[2019-03-06 18:52] #4297 closed

[2019-03-06 18:52] #4321 closed

[2019-03-06 18:53] samhouts commented on #5468
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/3.6/3.6.0

[2019-03-06 19:15] PureWeen opened #5477 "[Material] Currently cannot set the background on Material Steppers"
### Description
To achieve a similar look we reused the Material Buttons (since they had already painstakingly been worked on to look the same) to create a Material Stepper on iOS and Android. For this we used the Outline Style which doesn't by default render a background color

### Steps to Reproduce

<Stepper BackgroundColor=Color.Purple />

### Expected Behavior
Each stepper should be purple

#

[2019-03-06 19:18] PureWeen opened #5478 "[Material] Activity Indicators currently don't render correctly for API < 21"
### Description
When using an Activity Indicator with a Background Color the Background Circle doesn't render at the correct size

The functional target for Material is to work on API > 21 so this is low priority right now

### Steps to Reproduce

<ActivityIndicator Visual=Material BackgroundColor=Blue IsRunning=True />

### Expected Behavior
It should look the same on API 19, API 23 and API 28

#

[2019-03-06 19:23] PureWeen opened #5479 "[Material] Entry/Editor in certain cases will have an incorrect width when prefilled with text"
### Description
 - The width is not really correct on Android.
    - The placeholder appears to influence the width (the bottom placeholders are very long so cause the view go go off screen):
      <img width="300" alt="screen shot 2019-02-25 at 23 55 51" src="https://user-images.githubusercontent.com/1096616/53377056-409ea980-3969-11e9-8cb6-fdb7e2747b4c.png">

### Steps to Reproduce

1.  Run the

[2019-03-06 19:26] PureWeen opened #5480 "[Material] The underline on Editor is not exactly right when a specific height is set"
### Description
 - The underline on Android is not exactly right when a specific height is set:
    <img width="600" src="https://user-images.githubusercontent.com/1096616/53377295-274a2d00-396a-11e9-9322-e60c974885c4.png">

### Steps to Reproduce
<Editor HeightRequest=500 Visual=Material />

### Expected Behavior
The underlines on Android and ios should match up

### Actual Behavior
On android th

[2019-03-06 19:28] PureWeen opened #5482 "[Enhancement, Visual] Changing Visual at runtime won't rerender the control"
## Summary
Changing the visual after a control has renderered currently has no effect

@PureWeen  almost has this code working it just needs to be tweaked for Cells and possibly CollectionView

[2019-03-06 19:47] PureWeen commented on #3080
@Mustafa7070  do you have a reproduction or an app you can provide so I can see and fix the issue?

[2019-03-06 22:23] rafalfs commented on #5030
Is this fixed? I'm still having this problem on 3.6.0.220655

[2019-03-06 22:33] samhouts commented on #5030
That's disappointing! We'll reopen and investigate. Thanks!

[2019-03-07 00:18] kpchua commented on #1396
This is still happening for me on Xamarin.Forms 3.3.0.967583. Can we get this issue reopened?

As a workaround, I've just been wrapping my `Labels` in a `ContentView` and using `Horizontal`/`VerticalOptions` instead of `Horizontal`/`VerticalTextAlignment`.

[2019-03-07 01:16] kingces95 commented on #5455
Reproduces as described.

[2019-03-07 01:26] kingces95 commented on #5452
Hm, this does not reproduce on 4.0.0. Can try on the latest nightly? Is this a regression for you?

[2019-03-07 01:27] TimBarham commented on #5473
I'm adding a test for the first scenario. I can't repro the second scenario... when unbuilt, I get no error. When built, I hit the `NotImplementedException` in the `ProvideValue()` method, as expected. This was on Android... I'll double check iOS shortly.

[2019-03-07 01:28] TimBarham commented on #5473
Although I guess we also want to fail silently when `ProvideValue()` throws?

[2019-03-07 01:41] kingces95 commented on #5440
Hm. Having trouble building. Please re-attach reproduction + sln file.

[2019-03-07 01:59] samhouts commented on #5404
Here's what I see after updating to 3.6 in release mode:

[code]

Is that the same for you?

[2019-03-07 02:51] ianvink commented on #5404
I couldn’t run it against a dev build of XF so I think you got more
debugging help than I did

I got a sigart crash only . Bang

Thanks for tour diligent work on this

Ian

On Wed, Mar 6, 2019 at 6:00 PM Samantha Houts <notifications@github.com>
wrote:

--
Ian Vink

[2019-03-07 03:03] jdluzen commented on #5436
Hi @samhouts, thanks for the suggestion, unfortunately I am already on the latest project format.

[2019-03-07 03:44] jamesmontemagno commented on #3083
@iamlawrencev https://montemagno.com/control-text-size-on-android-bottom-navigation/

[2019-03-07 05:46] TimBarham commented on #5473
See #5484 for the test.

I was unable to repro the second scenario on iOS either. @alanmcgovern ... what version of Forms?

[2019-03-07 06:42] #5107 closed

[2019-03-07 08:31] xamadev commented on #5440
Please try again.

[2019-03-07 09:33] DominicBurford commented on #5030
I have reproduced this error in each of the following releases.

Xamarin.Forms -Version 3.6.0.135200-pre1
Xamarin.Forms -Version 3.6.0.169048-pre2
Xamarin.Forms -Version 4.0.0.8055-pre1
Xamarin.Forms -Version 4.0.0.62955-pre2
Xamarin.Forms -Version 4.0.0.94569-pre3
Xamarin.Forms -Version 4.0.0.135214-pre4

[2019-03-07 10:46] Nk54 opened #5486 "BindableLayout DataTemplate - XamlC"
### Description
I'm trying to bind the Text of a Label in the DataTemplate of a BindableLayout.
XamlC doesn't look for inehrited member of an interface.

Here is some code that would explain it better :
![image](https://user-images.githubusercontent.com/13755220/53950270-14eb9400-40cc-11e9-9ba3-6fe4ff2301d6.png)

![image](https://user-images.githubusercontent.com/13755220/53950285-1ae17500-40cc-11

[2019-03-07 11:25] TingtingAn commented on #3287
Any luck for Android Padding?  Any idea to set left padding to 0 in Android.
I wrote this `<Button Text="{Binding Text}" Padding="0"></Button>`, it did not work for Android.

[2019-03-07 11:41] jingliancui commented on #2415
Could the UseSwipeGesture feature implement?
It seem like now ShellItem class not have the ShellAppearance property to opera.
But now In Android ,The Shell's Tabs not like the TabPage(TabPage can swipe as default.)
[code]

[2019-03-07 12:19] pranshaggarwal opened #5487 "[Enhancement] Simply Attached Property Syntax"
## Summary
Attached properties are great when it comes to extending existing control functionality without inheritance but the problem with them is lengthy syntax especially for custom attached property.

So this can be replace
`<Button material:Button.ButtonStyle="Outline"></Button>`
with
`<Button ButtonStyle="Outline"></Button>`

## API
I can think of two API options for this(not sure even if it

[2019-03-07 12:51] TimBarham commented on #5396
For the Android crash, we should probably update Forms to not crash in this scenario (at least when running in the Previewer). Going forward we should work on a mechanism to make the required stuff available to Forms when the project is not built.

[2019-03-07 12:58] MagicAndre1981 commented on #5188
I've added the Win2D.uwp nuget package and the app still runs on Build 16299 with <DisableWin2DPlatformCheck>true</DisableWin2DPlatformCheck> added to csproj to skip the 17134 minimum version.

[2019-03-07 13:03] juepiezhongren commented on #2415
@jingliancui, 崔兄，有没有qq或者微信？

[2019-03-07 13:03] Ferenesht opened #5488 "CarouselView on iOS in XamarinForms 3.6: System.InvalidCastException: Specified cast is not valid."
### Description
When trying to use the CarouselView after updating to Xamarin Forms 3.6 the iOS app crashes in the Main function of the Application class with the following exception:

System.InvalidCastException: Specified cast is not valid.

The CarouselView works perfect on Android without any issues.

Stacktrace:

{System.InvalidCastException: Specified cast is not valid.
  at (wrapper castcla

[2019-03-07 13:08] PauchardThomas commented on #5452
Hi, it's no a regression it's a new app, but am I obliged to update XF to 4.0.0 ?

[2019-03-07 13:13] jingliancui commented on #2415
@juepiezhongren Hi, you can join to this qq group for chat with me 313308215

[2019-03-07 15:06] marnilss commented on #5173
Please do not close this again with the arguments "needs to be discussed more" or "trying to find a better solution to this", because that happened in 2016 and 2017!
Now we are in 2019, and still no fix :-( !

[2019-03-07 16:22] autosoftmultimedia commented on #3150
I still got this problem! Any solution?

[2019-03-07 16:33] lanarchyste opened #5489 "[iOS] The BackgroundColor property for an Entry element is not supported"
### Description

On iOS, when displaying a view, if my XAML has an Entry with a BackgroundColor, it is not supported

On Android, the BackgroundColor property works

### Steps to Reproduce

[code]

### Expected Behavior

When the Entry element is displayed, the background color used is the color setted by the BackgroundColor property

### Actual Behavior

Despite a different background color, when

[2019-03-07 17:07] NeilIrvingMacc opened #5490 "Map Pin Click only works on Android on XF and Maps 3.6"
### Description
Upgraded to XF 3.6 and Maps 3.6 today all mapping working fine BUT on anything put Android if click on the map pins the click event does not fire or bubble does not come up, this previously worked

### Steps to Reproduce

1. Add a map
2. Add a pin with a click event
3. Click pin, click does not fire

### Expected Behavior
It should work on ALL platforms
### Actual Behavior
Only wor

[2019-03-07 17:34] NirmalSubedi17 commented on #3150
Still having the same issue! Is there any work around?

[2019-03-07 18:00] #4838 closed

[2019-03-07 18:39] BrunoFreitasgit opened #5492 "Help with complex logic in Webview"
I'm having trouble getting the following logic to work with a webview. For context, I'm using a custom https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/custom-renderer/hybridwebview version. So I'm using JavascriptInterface.

So the flow is this:
1) Instantiate a webview, registering an Action callback called `login`.
2) When page finished loading, I inject a js file. Inside

[2019-03-07 19:03] ColdThor opened #5493 "CarouselView TapGesture not working when ItemsSource is set"
I noticed some people are having troubles with adding TapGestureRecognizer to the carousel. I debuged my own problem to the fact that the TapGestureRecognizer works if the ItemsSource is null / not set.

My XAML:

            <cv:CarouselViewControl x:Name="carousel"

                ShowArrows="false"
                ShowIndicators="true"
                PositionSelected="Handle_PositionSelected"

[2019-03-07 19:03] andreinitescu commented on #5490
@NeilIrvingMacc I don't think this is a regression. On Android, Clicked event was never sent when you clicked the marker, but when you click the balloon (it's called info window Android)

@samhouts I'd like to work on this.
Is it OK if we change on Android from sending the click event when marker is clicked and not when the info window is clicked?

[2019-03-07 19:16] samhouts commented on #5490
@andreinitescu Can we make it an option? Maybe a platform specific

[2019-03-07 19:19] jcmanke commented on #5490
@andreinitescu

As a Maps user/contributor I think that would constitute a breaking change, but I would be 100% behind deprecating the existing Clicked event and adding MarkerClicked and InfoWindowClicked events. I actually have that code already written for Android and iOS in my custom renderers and would be happy to pull request it in.

[2019-03-07 19:23] andreinitescu commented on #5490
@samhouts I'm having a hard time believing anybody is using Clicked event on Android, given that it's actually being fired when you click on the balloon and not on the pin...

[2019-03-07 19:23] andreinitescu commented on #5490
My suggestion is to actually fix this for Android. I think on iOS and UWP it works as expected, Clicked is sent when you click the Pin.

[2019-03-07 19:24] jcmanke commented on #5490
iOS also fires it on the info window (annotation view) click, UWP fires on the pin click because there is no info window.

[2019-03-07 19:26] samhouts commented on #5490
The goal is a consistent experience on all platforms without breaking any existing behavior. I'm sure many developers have worked around the inconsistency, so we have to make sure we don't break any workarounds they have used or come to expect. We're happy to see a collaboration of ideas here! Thank you!!

[2019-03-07 19:29] samhouts commented on #5493
@ColdThor What CarouselView are you using? A third-party one, or the one in preview? Thanks!

[2019-03-07 19:34] andreinitescu commented on #5490
Nobody uses the Clicked event because it just doesn't do what it promises to do.
The documention is wrong: https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.maps.pin.clicked?view=xamarin-forms

@jcmanke is right, on iOS it's also raised when you click the popup ...

@samhouts Waiting for your input...

[2019-03-07 19:35] ColdThor commented on #5493
I am using https://github.com/alexrainman/CarouselView, which was later migrated to Xamarin.Forms

[2019-03-07 20:30] caseyniemann commented on #5288
@samhouts @GnanaPriyaNamasivayam does any of this get resolved in the 3.6 Xamarin update?

[2019-03-07 20:49] samhouts commented on #5493
We did not end up migrating that to Xamarin.Forms. We decided to build a different CarouselView into Xamarin.Forms, and it is currently in preview. Sorry for the confusion! You will need to post this issue on Alex's repo. Thanks for the report!

[2019-03-07 20:49] #5493 closed

[2019-03-07 20:57] samhouts commented on #5490
Yeah, we meant to discuss that a while ago (https://github.com/xamarin/Xamarin.Forms/issues/2509). I think the idea of adding new events for `MarkerClicked` itself sounds great. I'll point this to the team and see if they have any comments. Thanks!

[2019-03-07 21:07] samhouts commented on #5288
@caseyniemann As of right now, we're still seeing the same issues with the latest version of SyncFusion and XF 3.6. It is possible that SyncFusion needs to rebuild against 3.6 in order to resolve this issue. Perhaps @GnanaPriyaNamasivayam or @Nijamudeen-Mohamed can try this and confirm. Otherwise, @PureWeen is scheduled to discuss this directly with SyncFusion on Monday, and we'll have an update t

[2019-03-07 21:25] samhouts commented on #5488
@Ferenesht Can you please attach your sample project? Thanks!

[2019-03-07 21:37] xperseguers commented on #5288
With XF 3.6 I get compilation errors with FFImage so cannot say :/

[2019-03-07 21:56] PureWeen commented on #5404
@ianvink I was able to get your project up and running by doing a few things. The core of the problem here is that some ABI changes were made in XF 3.4 and 3rd party libraries have been accounting for that at an uneven pace.  We've rolled back those changes in XF 3.6 but FFImageLoading and PullToRefresh still need to catch up.  I've added a PR for PulltoRefresh

https://github.com/jamesmontemagno/

[2019-03-07 22:21] ianvink commented on #5404
WORKED!!!!!!

Thank you so much

On Thu, Mar 7, 2019 at 1:56 PM Shane Neuville <notifications@github.com>
wrote:

[2019-03-07 22:21] ianvink commented on #5404
WORKED!!!!

Thank you so much!

[2019-03-07 22:22] PureWeen commented on #5404
YAY!!!
Excited we were able to pinpoint

[2019-03-07 22:41] kingces95 commented on #5431
This looks ok on 4.0.0. Click and it stays open -- never collapses,

[2019-03-07 22:41] kingces95 commented on #5431
Please re-open if you find differently.

[2019-03-07 22:42] kingces95 commented on #5431
Oops. That's android..

[2019-03-07 22:49] kingces95 commented on #5446
![image](https://user-images.githubusercontent.com/4120386/53994856-7cf3a780-40d7-11e9-92c1-e0b14bf859c6.png)

[2019-03-07 23:16] kingces95 commented on #5471
Feature request for Just-My-Code debugging.

[2019-03-07 23:20] jdluzen commented on #5436
I included my entire project in the Android project instead of a separate `netstandard2.0` project, but got the same results.

[2019-03-07 23:21] pauldipietro opened #5494 "[Spec] Touch Tracking/TouchStates on VisualElements"
_Additional credit for this spec should also go to [Chase Florell](https://github.com/ChaseFlorell), who provided the original proposal and proof-of-concept project._

## Summary
The current implementation of the VisualStateManager is simple, allowing for three basic states of `Normal`, `Disabled`, and `Focused`. While these VisualStates may be useful, in the context of a Xamarin.Forms application

[2019-03-07 23:31] kingces95 commented on #5451
Allocation here. The debugger knows the source file and line for the frame's before the ctor but for some reason consider the symbols unloaded... So could also be a tooling issue. I'm in VS 2019.

![image](https://user-images.githubusercontent.com/4120386/53996608-2e490c00-40dd-11e9-9bd6-c092a19aaac4.png)

[2019-03-07 23:33] PureWeen commented on #5451
I think UWP memory leaks with the Cells is related to this
https://github.com/xamarin/Xamarin.Forms/issues/5465

[2019-03-07 23:42] kingces95 commented on #4917
We need a reproduction of this in order to fix it. The PR may fix it but the code path is hot and we'd rather not create a new array for each pass. Could you please attach a zipped reproduction?

[2019-03-07 23:48] PureWeen commented on #5396
@TimBarham

Looks to be an upstream issue with XA design time builds and how it works with resources so this isn't something we can account for with forms.

[2019-03-08 00:41] juepiezhongren commented on #1789
@samhouts visual is good, but we do need draw, we do need pixel-perfect solution

[2019-03-08 01:35] jdluzen commented on #5436
As a workaround, I can set DataType just below the Page level.

[2019-03-08 01:37] kingces95 commented on #5454
They look the same.
![image](https://user-images.githubusercontent.com/4120386/54000699-81768b00-40ec-11e9-8744-949a5ed8a393.png)

[2019-03-08 01:39] kingces95 commented on #5469
Please attach a zipped reproduction with you custom widget.

[2019-03-08 01:42] kingces95 commented on #5470
Change is breaking.

[2019-03-08 01:55] samhouts commented on #5288
@xperseguers Yep, we're aware of that. https://github.com/luberda-molinet/FFImageLoading/issues/1154#issuecomment-470589841

[2019-03-08 01:55] kingces95 commented on #5489
Well, works on master... so, the fix is coming!

[2019-03-08 02:01] rmarinho commented on #5081
@rsatter better? https://github.com/xamarin/Xamarin.Forms/commit/310c195dc41acb5ee675145ceea8e972f0ba38c2

[2019-03-08 02:46] rawsonl commented on #5224
I am getting this exact error.  I didn't have the build tools installed at all.  I installed them.

Then the next error was this:

"java.exe exited with code 2"

I utilized this article and enabled multi-dex on to fix the error.
https://forums.xamarin.com/discussion/97803/getting-error-java-exe-exited-with-code-2

[2019-03-08 07:56] ult-ghasan commented on #2405
I have just set `IsClippedToBounds` to `true` for the frame in FrameBleed project, and it magically works on iOS, even though it is not required for Android.

Interesting behavior, maybe a number of things have changed since the bug was originally posted. Even though it works now, the behavior is still inconsistent.

[2019-03-08 08:20] arggrande commented on #5005
Hi, here from the .NET Standup Video which mentioned this PR.

I love this feature :heart:

Would it be possible to specify something at the App level to auto-import the `material` namespace into the Views?

like `App.UseMaterial = true;`

Then you could have something like:

`<Button MaterialStyle="Outline"></Button>`

Also, regarding :

What do you mean specifically by this? Do you mean the `sty

[2019-03-08 08:21] NeilIrvingMacc commented on #5490
For info when I click / tap the pin on iOS and UWP the click event is not fired it needs to work on all 3 platforms

[2019-03-08 08:33] arggrande commented on #5005
Ooo I like the suggestion in #5487 , around the assembly-level attribute attach.

[2019-03-08 08:47] azuken commented on #5469
Here is the code sample I can provide you, but I cannot reproduce the error... The only difference is that this sample is a netstandard app, instead of tyapp which is a Portable Class Library app.
[NullableDateTimeIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/2945004/NullableDateTimeIssue.zip)

[2019-03-08 09:34] Ferenesht commented on #5488
Sure thing!

https://github.com/bjorndaniel/CarouselViewBug

[2019-03-08 11:58] vincentcastagna commented on #3294
Hello @PureWeen

I'm meeting this prob, only in release mode, app crashes on every tabbedPage for which I set the toolbarPlacement to bottom.

[code]
When I remove these line no more crash.

**Error :**

[code]

I'm on Xamarin Forms 3.5.0.129452 & Xamarin.Android libraries 28.0.0.1 and targetting Android pie 9.0

[2019-03-08 12:03] Kornelis opened #5497 "[Material] Picker does not use Title as Placeholder / Hint Text"
### Description
The Little Things Playground Sample show the new Material Picker based on the Visual introduced in XF 3.6. But the Title Propery of the Picker is not used as Hint/Placeholder for the Material Picker.

### Steps to Reproduce

1. Checkout the LittleThingsPlay Sample
2. Compile and Run the Sample
3. Navigate to the Pickers Page

### Expected Behavior
The Title set for "Monkey Picker"

[2019-03-08 12:13] djcparker opened #5498 "Maps Binding - Possible typo in the bindable property"
I was looking to see how the template binding was done in #4269  and noticed this line of code :

https://github.com/xamarin/Xamarin.Forms/blob/138791927206ef6c2f64243f8b991ee768ef4193/Xamarin.Forms.Maps/Map.cs#L21

Should this not have been nameof(ItemsSource):

`		public static readonly BindableProperty ItemsSourceProperty = BindableProperty.Create(nameof(ItemsSource), typeof(IEnumerable), typeo

[2019-03-08 12:43] andreinitescu commented on #5498
@djcparker Thanks for reporting this, see #5499

[2019-03-08 12:43] mkratsch opened #5500 "[iOS] Editor with material visuals value binding not working on physical device"
### Description
Xamarin Forms 3.6.0.220655 & Xamarin.Forms.Visual.Material (I only tested iOS)
Using an editor with visual="Material" works on simulator but when deploying on a physical device the values entered in the editor will not be updated.
### Steps to Reproduce

1. use editor control in xaml
2. apply visual="Material" and Text={Binding ValueInModel}

### Expected Behavior
ValueInModel shou

[2019-03-08 13:29] #5202 closed

[2019-03-08 14:19] msc4266 commented on #5188
Could not find Windows Runtime type 'Microsoft.Graphics.Canvas.UI.Xaml.CanvasImageSource'.
Same issue here, introduced with XForms 3.6. - doesn't work.
Going back to XForms 3.5.0.169047, clean solution, build, fine.
It is realted to ImageSourceExtension{
[code]
used in a blank app:
[code]

[2019-03-08 14:21] Moltroon opened #5501 "Binding on Shell.FlyoutHeaderTemplate not work"
### Description
If you add a Binding parameter in your Shell.FlyoutHeaderTemplate definition, the Binding not working. If you add Binding at an other place on the code, it working good.

### Steps to Reproduce

1. Add shell
2. Create ViewModel and add BindingContext
3. Create a FlyoutHeaderTemplate  and add Binding

### Expected Behavior
Add content of the Binding

### Actual Behavior
Label is emp

[2019-03-08 14:50] anders9ustafsson commented on #5188
@Gravemind2401 @MagicAndre1981 An alternative to ignoring the Windows SDK version check is to install an earlier version of the *win2d.uwp* package. 1.22.0 does not require Windows SDK to be at build 17134 or higher.

[2019-03-08 15:44] jbachelor commented on #2758
This certainly seems like a bug to me... If it cannot be fixed, I would at least propose some sort of warning be added to the documentation of the IsEnabled property and the Button class. I've created a small project to reproduce the issue, as well as provided a few branches to demonstrate ways to avoid the issue by using CanExecute rather than IsEnabled:  https://github.com/jbachelor/XamarinForms

[2019-03-08 16:11] dylanberry commented on #5494
This is excellent and will help make Xamarin.Forms UI more dynamic and responsive!

[2019-03-08 16:54] HelenMamalaki commented on #1862
Why is this enhancement closed? I was just about to request the same since all bugs/ forum discussions so far seem to get stuck on the naming of the existing MinimumHeightRequest property...either way a new property is needed which we can use the set the min/max height of a VisualElement..why is this being ignored?
https://forums.xamarin.com/discussion/84885/obsolete-minimum-width-height-request
h

[2019-03-08 18:25] jcmanke opened #5503 "[iOS] UITableView.Appearance.BackgroundColor ignored or overridden for ListView"
### Description

In one of my apps, I set `UITableView.Appearance.BackgroundColor = UIColor.Clear;` in the AppDelegate to make ListViews clear, in order to show the BackgroundColor of the page, rather than the default white. In Xamarin.Forms 3.6.0, this no longer works.

### Steps to Reproduce

1. In AppDelegate.cs in the iOS project, add this line: `UITableView.Appearance.BackgroundColor = UIColo

[2019-03-08 18:52] PureWeen commented on #5404
@ianvink
https://www.nuget.org/packages/Refractored.XamForms.PullToRefresh/2.3.0.40-beta

[2019-03-08 19:23] jcmanke commented on #5503
Workaround is to add an implicit style in the application resources.

[code]

[2019-03-08 20:04] kingces95 commented on #5503
Hm, reproduces as indicated tho I'm not sure we have a policy about twiddling platform properties and expecting Forms to adopt them as defaults.. The work around seems like the way we'd recommend achieving the transparency effect.

@jcmanke Why twiddle the platform instead of using the workaround that also works x-plat from the get-go?

[2019-03-08 20:07] kingces95 commented on #5498
Fixed!

[2019-03-08 20:17] jcmanke commented on #5503
From what git blame tells me, we added that line to AppDelegate in 2016, so I'm not completely sure anymore. I think the logic was along the lines of it only being an issue on iOS so we fixed it natively on iOS.

[2019-03-08 20:23] kingces95 commented on #5500
Could you please supply a zipped up reproduction?

[2019-03-08 20:27] PureWeen commented on #5005
@arggrande something like
[code]

Is a possible option. If we were to put all the material things into the same namespace then you wouldn't need the prefix. My only concern with this was discoverability or possibly having too many things show up by default

MaterialEditorProp1, MaterialEditorProp2, MaterialEditorProp3,
MaterialButtonProp1, MaterialButtonProp2, etc...

whereas with
material:Editor.

[2019-03-08 20:36] PureWeen commented on #1789
So where does this enhancement request fall when held up against visual and the drawing spec https://github.com/xamarin/Xamarin.Forms/issues/2452

This is pretty easily overcome via attached properties that we are figuring out the best way to achieve over here

https://github.com/xamarin/Xamarin.Forms/issues/5005

[2019-03-08 21:25] pranshaggarwal commented on #5005
@PureWeen we can use new XmlnsDefinitionAttribute to combine multiple CLR namespace with single XML namespace

[2019-03-08 22:04] PureWeen commented on #5005
@pranshaggarwal  Right! Which is a good point. Because we could just leave it in its own namespace and then if people wanted to just combine them they could

[2019-03-08 23:18] pranshaggarwal commented on #5005
One Question, Doesn't this code make the xml invalid?
`<Button MaterialStyle="Outline"></Button>`

[2019-03-08 23:38] rsatter commented on #5081
This will be way better. It will be easy to resolve the issue.

[2019-03-09 00:10] PureWeen commented on #5005
@pranshaggarwal  yes :-/ that wasn't one of the case I had even initially proposed and just wasn't thinking of it straight when I commented above.

My main point with that still stands even with using *XmlnsDefinitionAttribute*
I wonder if that will put too many properties under one place

Material.ButtonStyle vs material:Button.Style

I played around with it a little bit here with using  *XmlnsDe

[2019-03-09 01:30] kingces95 commented on #5501
Could you please attach a zipped reproduction?

[2019-03-09 02:47] pranshaggarwal commented on #5487
I did some research and looked into the code of how Xamarin parses XAML. The problem with this enhancement is that `<Button ButtonStyle="Outline" />` will be invalid xml and I think this is not wise.

Maybe what we can do, we can create a build task which will replace `<Button ButtonStyle="Outline" />` with `<Button material:Button.ButtonStyle="Outline"/>`. Hence `ButtonStyle="Outline"` will be ju

[2019-03-09 03:05] pranshaggarwal commented on #5005
@PureWeen  yes you are right, XmlnsDefinitionAttribute will not solve this problem.

Another option is to defines all the attached property in their respective class then have a clone of all the properties in one class(Material).

Btw if we are able to somehow simplify the attached property syntax as I describe here [#5487](https://github.com/xamarin/Xamarin.Forms/issues/5487) then we will not hav

[2019-03-09 09:09] jannikscho commented on #5205
Hello,

The problem also occurs in my project with WebView and Maps (Xamarin.Forms.GoogleMaps).
I could solve it easily by a custom ContentView.

See below...

Shared-Project:

Create a custom ContentView:
` public class GesturelessContentView : ContentView
    {
    }`

In Xaml add the WebView to this ContentView:

`<controls:GesturelessContentView x:Name="view" HorizontalOptions="FillAndExpand"

[2019-03-09 13:29] AlexF12004Roma commented on #5188
Same Error Here, crash in 3.6 not in 3.5.
Image Source seems the problem

[2019-03-09 13:56] MagicAndre1981 commented on #5188
@AlexF12004Roma

install [win2d.uwp](https://www.nuget.org/packages/Win2D.uwp/1.23.0) package and add

`<DisableWin2DPlatformCheck>true</DisableWin2DPlatformCheck>` to your csproj.

[2019-03-09 15:28] davidortinau opened #5504 "[Shell] DisplayAlert crashes"
### Description

In this app, go the About and tap Learn More button to launch an alert. iOS crashes.

[code]

### Basic Information

- Version with issue: 3.5.x, 3.6.0 (and probably all the 4.0.x)

### Reproduction Link

[ShellAlerty.zip](https://github.com/xamarin/Xamarin.Forms/files/2948530/ShellAlerty.zip)

[2019-03-10 06:47] mfeingol opened #5505 "Setting DatePicker MinimumDate unexpectedly changes DatePicker Date property"
### Description

Same issue as https://github.com/xamarin/Xamarin.Forms/issues/4413, but now I have a repro. I'd reopen 4413 if I could.

### Steps to Reproduce

1. Set up a DatePicker in XAML, bind Date to D and MinimumDate to MD
2. Set MD=X and D=Y where Y > X
3. Observe that D is set to X

### Expected Behavior

MinimumDate should only influence Date when less then Date.

### Actual Behavior

D

[2019-03-10 17:37] puppetSpace commented on #5166
I'm stuck on the same issue. I have a simple mvvm framework that I use and with the navigationpage I was able to integrate it in my framework so I could navigate from my viewmodel and respond to navigation events.

In the Shell there are events on navigation that gives the source and target, but these are the routes and not the pages. A helper that returns a page from a route would be helpful.

[2019-03-10 22:03] cprice70 opened #5507 "[Android] Compiled binding causes crash on Android 32 bit device when boolean binding is included."
### Description
Compiled bindings cause the app to crash when a boolean binding is included.  The crash only seems to happen on an Android device with an ARM 32-bit processor; x86 and ARM64 work correctly.  The crash seems to have been introduced with 3.5 or newer.  The included demo app

### Steps to Reproduce

1. Build the included demo app and run it on an Android device with an ARM 32bit proce

[2019-03-11 08:46] Ralle1986 commented on #5488
I have the same issue

[2019-03-11 09:35] bentmar commented on #4374
On android using the Visual="Material" on frames fixes all my issues. So a look on that renderer might help fixing this problem. If youre app wants to support kitkat MaterialREnderers are not available though.

[2019-03-11 09:36] Moltroon commented on #5501
[FlyoutHeaderIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/2951524/FlyoutHeaderIssue.zip)

Thanks

[2019-03-11 09:39] vasuthakker commented on #4628
Please update and resolve bug asap in android platform.

[2019-03-11 10:58] HelenMamalaki commented on #2000
Any progress on adding a true max/min height property? I don't care what it's called at this point since all discussions seem to end around the 'correct' naming. This features has been requested over over since 2016, what is the hold up?

[2019-03-11 11:32] amirvenus commented on #5188
I had to install the nuger package and chage my target version.
I hope this issue is addresses asap.

[2019-03-11 11:58] pikausp commented on #5160
Unless I missed something only the iOS layout issues were fixed. Should I create a separate issue for the Android spacing problems? https://i.imgur.com/27QerB4.png

[2019-03-11 12:38] hinojosachapel commented on #5188
Here is another one suffering the same issue. In my case, installing win2d.uwp without doing anything else, solved it. Target version: 1809. Min version: Fall Creators Update.

[2019-03-11 13:37] StephaneDelcroix opened #5508 "[Previewer] catch invalid markup"
### Description
this xaml

[code]

is invalid, and fails, but as ti might happens while typing, the previewer should be able to recover from that.

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:

[2019-03-11 13:39] jenscski opened #5509 "[Android] Missing Focused event on material entry"
### Description

Entries with material design does noe emit the Focused event.

Tested on iOS and UWP to, only Android has problem.

### Steps to Reproduce

1. Add new Entry with Visual set to Material
2. Attach a Focused event handler
3. Let the entry get focus

### Expected Behavior
The event handler should fire

### Actual Behavior
The event hander does not fire

### Basic Information

- Versio

[2019-03-11 14:16] tekmun commented on #4975
This issue happens in Edge browser as well.  I used to be able to press and hold to call out the flyout.  Now, it no longer working.

[2019-03-11 15:20] omghb opened #5510 "Compiled Binding does not support Indexer properties"
Visual Studio 2017: 15.9.7
Xamarin.Forms: 3.6.0.220655

Compiled Binding does not support Indexer properties. But it works when Bindings are not compiled.

[code]

By using Compiled Bindings I get the following build error:
[code]

[2019-03-11 16:30] ianvink commented on #5404
Although this works great now in VS 2017, when I moved to project over to VS for Mac, I get the same issue again.

Is there a update I need to apply to VS Mac? I am on the Stable channel and up to date on all Android SDKs

[2019-03-11 16:35] ianvink opened #5511 "XF 3.6 fails to compile in Azure Devops cloud build"
Using Azure DevOps, use the Hosted build agent and get Azure to build a XF 3.6 project.

[error]C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(2730,3): Error : error XA5101: Missing Android NDK toolchains directory '\toolchains'. Please install the Android NDK.

Logs attached

### Description

### Steps to Reproduce

1.  Ask Az

[2019-03-11 16:56] ianvink commented on #5511
Reverting to XF 3.4 works fine in Azure DevOps.

I tried the Azure Agents: ("Hosted" and "Hosted for VS 2017")

[2019-03-11 17:11] alexanderzuban commented on #5451
From what I can say some Cells never get Parent reset(after profiling my real app) and because they have a listener to Parent PropertyChanged (height) they keep everything(on Android) on UWP things even worse.  Maybe use weak property listener in Cell to listen for Parent.PropertyChange will help (but this maybe workaround for a situation when Parent is not reset in the first place).
`protected ov

[2019-03-11 18:41] weitzhandler commented on #2415
Will we see Shell and visual support coming for UWP upon RTM?

[2019-03-11 20:28] AntRemo commented on #5421
@TomDeVlaminck-vdkspaarbank
I too was dealing with this, I have animations enabled and disabled code paths.

I wish there was a way to override this setting in X.Forms and not use the OS setting, but I haven't figured out a way around it.

[2019-03-11 21:29] mfeingol commented on #5290
This appears to be fixed in the first 3.6.0 release.

[2019-03-11 21:46] samhouts commented on #5503
Looks like we need to update our changes made in #4002 to take this into account. Thanks!

[2019-03-11 21:47] toomasz commented on #5347
Need that enhancement as well. It's necessary when working with SkiaSharp

[2019-03-11 21:55] Mustafa7070 commented on #3080
@PureWeen  ok , i will ask my manager
and here is the view where i am using ImageButton

https://drive.google.com/file/d/1Rk8BxYUV7u-C-ElUa0lk1z7DOSFxRpZt/view?usp=sharing

[2019-03-11 21:57] samhouts commented on #5162
Commented on the Developer community ticket. We will wait a little longer for a response.

[2019-03-11 21:59] samhouts commented on #5436
Hmm. Can you attach a sample project? Thanks!

[2019-03-11 22:02] samhouts commented on #5457
Duplicate of #5469

[2019-03-11 22:02] #5457 closed

[2019-03-11 22:03] PureWeen commented on #5511
@ianvink  can I see your build log for when it succeeds? Do you have AOT enabled in both cases when you tested XF 3.4 and XF 3.6?

[2019-03-11 22:14] PureWeen commented on #5511
@ianvink  not sure if this is the same issue you're seeing
https://github.com/xamarin/xamarin-android/issues/2673

There's a workaround in there you can try as well

[2019-03-11 22:15] ianvink commented on #5511
AOT is disabled.  I can wait for VS 2019, I can build on another box for now.

[2019-03-11 22:16] ianvink commented on #5511
[log_9_1382.zip](https://github.com/xamarin/Xamarin.Forms/files/2954428/log_9_1382.zip)

[2019-03-11 22:21] ianvink commented on #5511
Here's the failing log from Azure DevOps
[log_9_1384.zip](https://github.com/xamarin/Xamarin.Forms/files/2954432/log_9_1384.zip)

[2019-03-11 22:25] danielmeza commented on #5488
I have this issue with the 3.5 version.

[2019-03-11 23:41] samhouts commented on #5454
Related: #5173, #5399

[2019-03-11 23:44] samhouts commented on #5470
Caused by #4733

[2019-03-11 23:50] samhouts commented on #5472
from @alanmcgovern

[2019-03-11 23:55] samhouts commented on #5473
@alanmcgovern Do we need to worry about the scenario that @TimBarham was unable to reproduce? Thanks!

[2019-03-12 01:13] samhouts commented on #3921
I tested this with 16.0.0 Preview 4 SVC1, and this is no longer an issue. Thanks!

[2019-03-12 01:13] #3921 closed

[2019-03-12 04:04] PureWeen commented on #5472
Do we even need this project or DLL?  Does its existence even without active code cause some behavior to occur with intellisense?
https://github.com/xamarin/Duplo/pull/3277

The dll has been in the wrong folder and packaged wrong since forever and it doesn't seem like it's caused any issues.

@rmarinho @kzu   ?

[2019-03-12 06:23] ashishm29 opened #5514 "Xamarin.Forms: OnTouchEvent() is not getting fired inside PageRenderer for Android. How do i identify Touch for My App."
### Description:
I want to identify when user touches the screen.
So i have override OnTouchEvent() which is available in PageRenderer.
But this method is not getting called when user touches screen.

### Steps to Reproduce

1. Create Xamarin.Forms app, add PageRenderer for Android Project.
2. Override  OnTouchEvent().
3. Run Application.

### Expected Behavior
- OnTouchEvent() should get called w

[2019-03-12 08:57] StephaneDelcroix commented on #5510
I'm quite sure I fixed something related to that lately. could you please attach a small repro project, or tell us about the `x:DataType` you're using, and your VM ?

thanks

[2019-03-12 09:17] StephaneDelcroix opened #5515 "[Enhancement] XmlnsDefinitionAttribute (and XmlnsPrefix) for platform specific namespaces"
## Summary
we should provide XmlnsDefinitionAttributes for platform specifics

## API Changes

/

## Intended Use Case

/

[2019-03-12 10:54] rkshnair opened #5516 "Visual="Material" making the iOS Button Text to Upper Case"
### Description
`<Button Text="Material Button" Visual="Material"/>`

is changing the iOS button text also to upper. Is there any property present to make the button text smaller / configurable?

### Steps to Reproduce
create button with material option
`<Button Text="Material Button" Visual="Material"/>`

### Expected Behavior

Is should display the same text i have given "Material Button"

### A

[2019-03-12 11:12] sude22 opened #5517 "[UWP]XF3.6 Exception with Switch on StackLayout with IsVisible="false""
### Description
Exception is thrown while showing a page with a Switch in a `<StackLayout IsVisible="false"/>`
StackTrace:
   at Windows.UI.Xaml.VisualStateManager.GetVisualStateGroups(FrameworkElement obj)
   at Xamarin.Forms.Platform.UWP.SwitchRenderer.UpdateOnColor()
   at Xamarin.Forms.Platform.UWP.SwitchRenderer.OnControlLoaded(Object sender, RoutedEventArgs e)
Message:
System.ArgumentExcepti

[2019-03-12 11:32] sahadevgupta opened #5518 "Frame Tap Gesture not working when using Visual="Material" in iOS"
I have updated my Xamarin Forms to 3.6. I've set Frame visual to material but the tap gesture is not working in iOS. I've tried using command and Tapped event as well but nothing works out. If i remove the visual from frame then everything works fine. I've added "Xamarin.Forms.Visual.Material" nuget package in iOS and had intialized it in AppDelegate.cs file after adding this package, the frame ta

[2019-03-12 11:47] devology-rob commented on #5339
I have also seen this issue, the common stack is...

[code]

In our logs we capture the following properties...

- Summary: Problem setting notification
- Exception: Cannot access a disposed object. Object name: 'Android.App.NotificationManager'.
- NotificationId : 2
- Source: AlarmBroadcastReceiver
- Title: My App
- Message: Check in required now

What's particularly interesting is that the Notif

[2019-03-12 12:21] EmilAlipiev commented on #5288
any Progress or ETA for this issue please?

[2019-03-12 12:57] ahjwessel opened #5519 "Binding IsVisible property on a Frame-element gives NULLReferenceException in IOS"
### Description
Binding IsVisible of a Frame inside a Listview ItemTemplate makes NullReferenceException. It happens with Xamarin.Forms 3.6.220655, but not with Xamarin.Forms 3.4.0.1029999

### Steps to Reproduce

1. Make a Listview
2. Inside the ItemTemplate have a grid with several children.
3. One of the children is a Frame
4. Bind the IsVisible property to a property of the Item in the ItemSou

[2019-03-12 13:26] inforithmics commented on #5507
I Looked at the repro and it has more or less the same Xaml as my repro a boolean binding and a string binding and enabling compilied binding https://github.com/xamarin/Xamarin.Forms/issues/5270
And it startet not working with Version 3.5

[2019-03-12 14:08] omghb opened #5520 "Cannot create a Behavior for BindableObject"
Visual Studio 2017: 15.9.7
Xamarin.Forms: 3.6.0.220655

I would like to write a Behavior that uses BindableObject as Type:

[code]

This results in the build error:
[code]

The issue comes because the Behavior\<T\> class defines a second method with the same signature:
[code]

**Solution:**
Make the constructor of the non-generic Behavior base class public. This way I could inherit from this class

[2019-03-12 14:09] xamadev opened #5521 "[CollectionView, iOS] Layout trouble with custom layout when changing device orientation"
### Description
I'm getting trouble with relayouting a CollectionView after changing the device orientation. Starting the app in portrait or landscapes brings the expected behavior. But after changing orientation to the opposite, the layout becomes weird (scrolling up and down triggers a relayouting and brings the expected behavior except the truncation).

It seems to be the same behavior with tru

[2019-03-12 14:17] moljac opened #5522 "SDK Style project with Xamarin.Forms"
### SDK Style default inclusion items with Xamarin.Forms

Detected during Xamarin.Forms Previewer Bug Bash VS2019W preview. Reported in Azure DevOps.

### Steps to Reproduce

1. VS2019W Preview
2. create new `netstandard20` library
3. add Xamarin.Forms nuget
4. add new item (XAML or cs file)
5. project system will add items in csproj
[code]
6. error due to duplicate items

[code]

#### Workaround:

[2019-03-12 14:40] omghb commented on #5510
The Person class is my VM. It is set as BindingContext into the View. Here is the related code:

[code]

[code]

[2019-03-12 14:46] andre-motta opened #5523 "Template Distortion on Back Navigation Xamarin Forms 3.4.0"
### Description

`Grid` inside `ItemTemplate` gets deformed when navigating back.

Basically i have the following code on my `ItemTemplate`

[code]

which translates to the items in the `ListView` below

[Non Deformed](https://i.stack.imgur.com/ylHX9.jpg)

And whenever i navigate forward to another page, if i press back the entire view gets distorted

This one below is a mild example of distortion

[2019-03-12 14:52] paymicro commented on #5516
This behavior is according to the [spec material design](https://material.io/design/components/buttons.html#anatomy).

But most likely a setting will be added to disable `uppercaseTitle`

[2019-03-12 14:55] cprice70 commented on #5507
I thought they might be related but a couple of difference that I've found are that this sample runs correctly on ARM64 and x86 for Android which I thought was odd.  Additionally I used a string binding in the sample but I been able to reproduce it with other bindings also.

[2019-03-12 14:58] rkshnair commented on #5516
@paymicro I agree!!!! But if we can expose a property for this feature. It will be an add on advantage. Since control with All CAP doesn't look that great. :)

[2019-03-12 15:13] Phenek commented on #4323
Could you please Change the title to "Add Scrolled event to CollectionView "?
Because they are working on it, and collectionView need this enhancement to make
parallax headers, or other stuff..
Regards,

#3172

[2019-03-12 15:15] Phenek commented on #3172
#4323
We need the Scrolled Event like ScrollView do

regards,

[2019-03-12 15:16] omghb opened #5524 "[Enhancement] First class support for INotifyDataErrorInfo like WPF"
## Summary
Our domain objects are implementing ```INotifyDataErrorInfo``` for validating. At the moment we use the domain layer in WPF applications. Now we want to reuse our domain logic in Xamarin Forms apps. But I have not found a easy way to support the ```INotifyDataErrorInfo``` interface.

## API Changes

I suggest to implement this feature in a way that is very similar to the WPF API.

### B

[2019-03-12 15:49] caseyniemann commented on #5288
@samhouts @GnanaPriyaNamasivayam We need this resolved, 23 days

[2019-03-12 16:49] #5206 closed

[2019-03-12 17:48] samhouts commented on #5517
[Issue5517.zip](https://github.com/xamarin/Xamarin.Forms/files/2958102/Issue5517.zip)

[2019-03-12 17:48] samhouts commented on #5517
Caused by #4883, probably

[2019-03-12 17:52] samhouts commented on #4975
@tekmun It looks like this bug is specific to UWP and how it interacts with Windows. Unfortunately, this team does not have insight into those issues. Please report this issue via the Windows Feedback Hub (https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub). Thanks!!

[2019-03-12 17:52] #4975 closed

[2019-03-12 19:59] k-ljung opened #5525 "Content Page inside ShellContent renders page under tabs and header on iOS"
### Description
When adding a Content Page as ShellContent page, the page renders under tabs and header on iOS, on Android is renders as expected.

### Steps to Reproduce
1. Create new Xamarin.Forms project and update to 4.0.0.169046-pre5 package
2. Create a shell page AppShell.xaml
3. Add two ShellContent sections and reference GroupPage.xaml
4. Add GroupPage.xaml

#### AppShell.xaml
[code]
####

[2019-03-12 21:48] samhouts commented on #5160
@pikausp Yes, please! That'll help us track it better. Thanks!

[2019-03-12 21:55] mhutch commented on #5522
I think this is a regression in VS? /cc @davkean

[2019-03-12 21:59] davkean commented on #5522
How exactly did you add the item? The project system won't add an item that looks like the following:

[code]

Is this handwritten or perhaps the Xamarin wizard is adding this item?

[2019-03-12 23:29] samhouts commented on #5498
(not merged yet, reopening 😄 )

[2019-03-12 23:34] #5261 closed

[2019-03-12 23:40] samhouts commented on #5523
@andre-motta Can you please attach your sample project? Thanks!

[2019-03-12 23:42] samhouts commented on #5525
see https://github.com/xamarin/Xamarin.Forms/issues/4840#issuecomment-470220382

[2019-03-12 23:42] #5525 closed

[2019-03-12 23:49] #5270 closed

[2019-03-13 01:14] kwacks commented on #2837
@jefffhaynes
Did you find a workaround to this issue or open another issue? I'm having the same issue - unable to pop after autonavigating  in onAppearing

[2019-03-13 02:59] andre-motta commented on #5523
I am unable to reproduce the error in the sample project I created. I suspect it has something to do with waiting for the server request to complete. I will close the bug as i cannot reproduce it

[2019-03-13 02:59] #5523 closed

[2019-03-13 03:27] mhutch commented on #5522
+ @kzu

[2019-03-13 04:12] samhouts commented on #5128
@Project4MobileDev Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-13 04:12] #5128 closed

[2019-03-13 04:20] luczha opened #5526 "WebView.Focused event works on Android, but not on iOS"
### Description

### Steps to Reproduce

I create a StackLayout which contains a WebView .And I set the Focused event.It works fine in Android but not works in iOS.
`webView.Focused += WebView_Focused;`

[code]

I think it because of in native iOS platform.UIWebview and WKWebview do not support focus event( in native iOS we call becomeFirstResponder ).

So,is there a solution to solve it?

### Exp

[2019-03-13 06:07] sude22 commented on #5517
This one is a real blocker. It would be very much appreciated if this could be fixed in the next release..

[2019-03-13 06:09] TimBarham commented on #5508
BTW... The previewer will ignore `XamlParseExceptions`, so a simple fix for this would be to throw a `XamlParseException` rather than a `System.Exception`.

However... While that will prevent the previewer showing an error while typing, it doesn't help if the error exists during initial render. For that, we'd need Forms to do the usual "ignore error and pass it to ExceptionHandler" thing.

[2019-03-13 06:41] Sasikumar3595 commented on #4371
We have a project that convert 126 **forms view to native android view**, it takes around **5-6 sec(without DataTriggers)** and we have using DataTriggers for the project, it takes around **8-9 sec(with DataTriggers)** for view conversion from forms to native android view

Could you please check with the above details and provide us with a possible solution for this, to resolve this conversion iss

[2019-03-13 07:53] drewgillies commented on #5508
A partial fix thus far. Moves the throwing code downstream to `MarkupExpressionParser.cs` which does not have an available `HydrationContext` for handling the exception. I can change the type of Exception to XamlP{arseException, but it doesn't address your concern above, @TimBarham, so I'll look for a way to get a context reference to the throwing code, or to catch and rethrow in a scope that incl

[2019-03-13 08:45] LoGA80 opened #5529 "[Material]Unable to override FilledBox style with Outlined"
### Description
No matter how I try I cannot change the style of the material Entry from the default Filled to Outlined. Is it really not possible to do so or am I just too unexperienced?

### Steps to Reproduce

1. Add a standard Entry to a Xamarin Forms application
2. Configure Material Visual library
3. Try to change the border style of the rendered MaterialFormsTextInputLayout to Outlined

I'v

[2019-03-13 09:54] DeepikaBalaSubramaniyan commented on #5202
Hi @samhouts

At Xamarin forms version 3.6 latest stable, After enabling the Exception setting(C++ Extensions, Common Language Runtime Exceptions), same object disposed exception of entry view was thrown while calling entry.UnFocus() method

I have attached the screen shot for this issue
![image](https://user-images.githubusercontent.com/42173947/54269800-0a396f00-45a4-11e9-9ca0-da6a3050a19b.png)

[2019-03-13 09:58] DeepikaBalaSubramaniyan commented on #2406
Hi @PureWeen

Still I am facing the same issue in latest stable version 3.6 too,

At Xamarin forms version 3.6 latest stable, After enabling the Exception setting(C++ Extensions, Common Language Runtime Exceptions), same object disposed exception of entry view was thrown while calling entry.UnFocus() method

I have attached the screen shot for this issue

image

Forms version nuget for your refere

[2019-03-13 09:59] ArunSivaR commented on #3956
Hi Team,

We are facing issue on same scenario, while using Entry renderer view for rendering, the Entry background color doesn’t update on the view while update in Forms, and it works fine as expected in iOS and UWP. the sample for the same is following by.

Sample: [EntryRenderer.](https://drive.google.com/file/d/1hV5BdZFOR8p7HCthsKJRMNPFPoF3N2E5/view?usp=sharing)

[2019-03-13 11:15] kzu commented on #5522
Same way as before: https://github.com/xamarin/Xamarin.Forms/blob/master/.nuspec/Xamarin.Forms.DefaultItems.props and https://github.com/xamarin/Xamarin.Forms/blob/master/.nuspec/Xamarin.Forms.DefaultItems.targets

[2019-03-13 11:18] kzu commented on #5522
I wonder if something could have changed in the dotnet template engine that could have caused this. We create it from https://github.com/xamarin/xamarin-templates/blob/master/multiplatform/content/forms/base/.template.config/template.json

[2019-03-13 11:38] StephaneDelcroix commented on #5522
but those are default items, how do they end up in the main .csproj ?

[2019-03-13 12:48] xamadev commented on #5440
Same problem on Android 8.1 Simulator.
Kust fon dout that the problem only occurs in portrait device orientation!

[2019-03-13 12:54] transis2 commented on #5202
The unfocus problem is related with other issue:
https://github.com/xamarin/Xamarin.Forms/issues/5376

[2019-03-13 12:56] DeepikaBalaSubramaniyan commented on #5202
OK Can you let us know when this issue get fixed? , Please provide approximate time line.

[2019-03-13 13:10] kzu commented on #5522
We for sure don't add them explicitly to it--

--
@kzu from mobile

[2019-03-13 13:12] DeepikaBalaSubramaniyan commented on #5376
Hi @transis2

I am getting same exception while calling unfocus() method of entry in forms version 3.6 stable,
Exception details are attached

![image](https://user-images.githubusercontent.com/42173947/54269992-6c926f80-45a4-11e9-980c-bc7b00ceb1d5.png).

So Can you let us know when this issue will get fixed? Please provide approximate time line.

[2019-03-13 14:08] HobDev opened #5530 "[Shell] TitleView does not work in Xamarin.Forms 4"
### Description
I am using Shell for Navigation. When I set TitleView in ContentPage it does not work with Shell.
### Steps to Reproduce

1. Create new project with Shell as Navigation pattern and add a content page to it
2. Now set NavigationPage.TitleView property of ContentPage.
3. Deploy the app to device or emulator

### Expected Behavior
The TitleView should work as with any NavigationPage
#

[2019-03-13 14:10] vjsystematix commented on #3719
Hi @team,

Is there any update on this?

[2019-03-13 14:28] transis2 commented on #5376
Hi @DeepikaBalaSubramaniyan

I don't work at Microsoft, so I can't give you the time line.

I just know that it was assigned to @PureWeen in the Sprint 150 https://github.com/xamarin/Xamarin.Forms/projects/32#card-18683261

[2019-03-13 14:31] dansiegel opened #5531 "[Enhancement] Open Source the Xamarin Templates"
## Summary

The Xamarin Forms Templates are actually great examples of how to create and share templates across Mac and Windows. While the exact plugins for the IDE's may need to remain closed source, it would be great to make the templates themselves open sourced.

This would also make it easier to track/fix issues with templates such as resources that are included but no longer relevant, or brok

[2019-03-13 14:31] GrantBCU commented on #2194
Experiencing this issue with Xamarin.Forms version 3.6.0.220655.

[2019-03-13 14:32] kzu commented on #5531
Wholeheartedly agree.

[2019-03-13 14:46] transis2 commented on #5376
Miss Ballmer time where developers matters. Nutella has fired almost all developers to cut costs and looks like there's only one men @PureWeen working to fix all issues...

[2019-03-13 14:48] StephaneDelcroix commented on #5508
@TimBarham even if the previewer ignore XPE, Create(xaml, true) will not returns a valid object tree...

[2019-03-13 14:52] AndreiMisiukevich opened #5533 "[GTK] Padding/Margin issues"
### Description

There are several issues with Padding/Margin in XF.Gtk

### Steps to Reproduce

1. Use provided xaml
2. Run GTK app
3. Run iOS app
4. Compare (iOS works fine, Padding/Margin works as expected)

### Expected Behavior

Padding/Margin should be applied to all sides.

### Actual Behavior

Padding/Margin is applied only to right and bottom sides.

### Basic Information

- Version with

[2019-03-13 15:01] davidortinau opened #5534 "FlexLayout Basis set via CSS doesn't measure/remeasure when content is lazy loaded"
### Description
![image](https://user-images.githubusercontent.com/41873/54289078-8d43d080-4576-11e9-847b-f9fb8f005d4c.png)

### Steps to Reproduce

Run SearchPage.xaml. Top 3 are set via xaml. Rest are CSS. Previewer renderers similarly to device.

### Basic Information

- Version with issue: 3.6

### Reproduction Link

[VisualChallenge.zip](https://github.com/xamarin/Xamarin.Forms/files/2962037/

[2019-03-13 15:03] Markus2807 commented on #2405
@ult-ghasan you saved my day. Best solution is to write own FrameRender and set
Element.IsClippedToBounds = true;
Now Android and iOS will look same

[2019-03-13 15:29] davidortinau commented on #5534
When set via a XAML Style it's correct.

![image](https://user-images.githubusercontent.com/41873/54291655-e9105880-457a-11e9-8766-cdcbaf9350c3.png)

[2019-03-13 15:45] davidbritch commented on #5110
@kingces95 I've been able to repro this in 4.0-pre5. Setting the `ItemsSource` property after a 2 second delay causes a crash:

[code]

I tried all kinds of threading options, and marshalling to the UI thread (when appropriate) and it always happens.

## Repro steps

1. Run the attached sample (either iOS or Android).
2. Browse to the `EmptyViewLoadSimulationPage`.
3. Wait 2 seconds.

## Actual re

[2019-03-13 15:50] keozx commented on #5288
24 and XF 3.6 is here, I wonder if Syncfusion will do testing

[2019-03-13 15:55] davidbritch opened #5535 "CollectionView: Swapping EmptyViews has no effect"
### Description

Swapping EmptyViews in a `CollectionView` has no effect.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the `EmptyViewSwapPage`.
3. Filter the `CollectionView` so no data is displayed.
4. Toggle the `Switch`.

### Expected Behavior

EmptyView changes.

### Actual Behavior

EmptyView doesn't change. No amount of toggling/pre-toggling (before filtering) has any ef

[2019-03-13 15:58] davidortinau opened #5536 "[Shell] Search Entry only appears in the NavigationBar"
### Description

I want to use the SearchHandler, but my Search bar should appear at the top of the page content, below the TitleView.

I also want to control if it scrolls with the content or remains fixed with the TitleView.

SearchHandler currently provides:
* SearchBoxVisiblity.Collapsable
* SearchBoxVisiblity.Expanded
* SearchBoxVisiblity.Hidden

I think "Visibility" is inconsistent with othe

[2019-03-13 16:23] hartez commented on #5535
Works on iOS if you update to the latest stable (3.6.0.220655) - the fix is in https://github.com/xamarin/Xamarin.Forms/pull/5353

Looks like the IllegalStateException is still happening on Android even with the latest, though.

[2019-03-13 16:26] PureWeen commented on #5529
@LoGA80  those are all very useful notes thank you!!

I'm working on this issue now which should give you a lot of good hooks to customize. I'll be sure to address all the points you've made above and give some guidance

https://github.com/xamarin/Xamarin.Forms/issues/5005

Dangit! I've changed this on an upcoming PR so you should be able to override this in an upcoming release.

[2019-03-13 16:48] PureWeen commented on #5288
We're narrowing down on an issue with the Android team and working on a way to mitigate the issue for now with SF. Once a solution is in motion I'll post an update.

[2019-03-13 18:48] PureWeen opened #5538 "[Previewer,iOS] Does not currently work with Visual="Material""
### Description
When you set Visual to Material
- it has no effect on VS Mac (ios)
- on windows it has no effect when previewing iOS

### Steps to Reproduce
- update to the latest 3.6
- install Xamarin Forms Visual Material 3.6
- Setup a Button set to Material
[code]

### Expected Behavior
Components should renderer material version of controls

### Actual Behavior

#### iOS
 For iOS it's just spi

[2019-03-13 21:13] LoGA80 commented on #5529
Just one update: Effect DOES work, I assigned it accidentally to a hidden control so I had no chance to see it work. But I would prefer using styles than modifying the properties from code.

I might be wrong but I think the styling problem is due that the FilledBox style is explicitly set in the Android TextInputLayout control. If it would not have any style assigned explicitly, it would be possib

[2019-03-13 21:25] PureWeen commented on #5529
Yea the unfortunate thing about TextInputLayout controls is that they don't make it very easy to style through code

https://issuetracker.google.com/issues/119314741

I tried to use ContextThemeWrappers for it and it kind of worked but it was always a bit off.

The hope with the issue #5005  will be to include some overrides or extension points where you can easily set your own resource id for sty

[2019-03-13 22:41] #4933 closed

[2019-03-13 22:41] #5188 closed

[2019-03-13 22:52] PureWeen opened #5540 "Letting the previewer initially process a xaml page with cross platform embedded resources in a bad state"
### Description
I only see this on VS MAC

If the previewer is the first to process a XAML file it seems to not process the cross platform resources correctly which leads to the resource not getting packaged with the dll when the user actually runs the project

### Steps to Reproduce

1. Open the SLN
2. open MainPage.xaml and let it finish processing MainPage.xaml (don't touch anything or modify t

[2019-03-13 23:33] Clancey opened #5541 "ListView Item Selected changing, always looks up the index"
### Description
When you click on a row item in a ListView, it will lookup the index from the item source.
The index is already known when the selection happens. Looking the index back up is a performance hit.
Stack Trace:
[code]
### Steps to Reproduce

1.
2.
3.

### Expected Behavior
The IndexOf would never be called.
### Actual Behavior
IndexOf is called on selection
### Basic Information

[2019-03-13 23:38] Clancey opened #5542 "iOS ListView based navigation can crash by updating disposed cells"
### Description
Binding contexts update stale iOS Views. This causes a crash.

### Steps to Reproduce

1. Use the sample app provided, navigate around and it will crash.

### Expected Behavior

### Actual Behavior

### Basic Information

Stack Trace
[code]
### Reproduction Link

https://github.com/clancey/gmusic.forms

[2019-03-13 23:39] samhouts commented on #5541
I think the idea was that the index from the ListView might be unreliable due to grouping, but I might be mistaken.

[2019-03-13 23:46] davidortinau opened #5543 "Font glyphs don't consistently work"
### Description

I have Labels and ImageButtons using Font icons. They appear and then don't. See video.

https://www.screencast.com/t/m0zxJeFw4e0M

### Expected Behavior

Font renders consistently.

### Actual Behavior

It's hit or miss.

### Basic Information

- Version with issue: 3.6
  - Android: 9.0

### Screenshots

You can see Previewer rendering one of the icons:

https://www.screencast.co

[2019-03-14 00:06] davidortinau opened #5544 "[Material, iOS] Frame on iOS isn't respecting the corner radius"
### Description

[code]

Results in sharp corners with a default Frame, but with a rounded corner using `Visual="Material"` on iOS. Android appears consistent.

### Expected Behavior

Radius works throughout.

### Actual Behavior

Material renderer isn't getting it done.

### Basic Information

- Version with issue: 3.6.0

### Screenshots

<img width="527" alt="Screenshot 2019-03-13 19 02 22" src=

[2019-03-14 01:17] TimBarham commented on #5508
@StephaneDelcroix ... hence my second paragraph 😄

[2019-03-14 02:20] davidortinau commented on #1694
Material for Visual is in 3.6.0 and you can set height on ProgressBar there. Closing this issue in favor of that solution. Will entertain objections.

[2019-03-14 02:20] #1694 closed

[2019-03-14 02:52] robinne commented on #2233
Ditto. Long/large editor area, when clicked into, will scroll all the way to the bottom. In this case, I have an editor inside of a scrollview. I don't think this would be accepted as a workable app. We need a way to scroll to where the cursor has been placed.

[2019-03-14 06:41] TimBarham opened #5546 "[Previewer] Missing type with x:Name throws exception that isn't caught"
`x:Name` attribute on a non-existent type throws an exception that isn't passed to the `ExceptionHandler`...

[code]
Exception:
[code]

[2019-03-14 09:00] yuv4ik commented on #5267
This seems to be a critical issue affecting multiple projects I am working on. As a nasty workaround that does not cover the issue 100% -> replace the `Grid` by a `StackLayout` on Android only.

[2019-03-14 09:01] HobDev opened #5548 "Previewer don't have status bar, navigation bar and Tab bar."
### Description
The previewer does not preview Status bar, Navigation bar and Tab bar.
### Steps to Reproduce

1. Create or open an existing Xamarin.forms app
2. Click Preview button on top right side
3. The previewer will show the content of the page. But it will not show Status Bar, Navigation Bar and Tab Bar.

### Expected Behavior
Status Bar, Navigation Bar and Tab bar should be shown on previ

[2019-03-14 09:08] HobDev opened #5549 "[Enhancement] Previewer Platform choice design"
## Summary

Now the way to choose a platform in Previewer is as follows:
Platfrom:  Android   iOS
I propose to change it to:
Android    iOS
As of now to change the platform the developer need to extend the previewer unnecessarily. With this change the platform choice can be made without expanding previewer.
## API Changes

Only design Change

## Intended Use Case
This will make changing platform m

[2019-03-14 09:18] landl0526 opened #5551 "How to use listview inside scrollview"
In my application there is one scrollview which is covered whole page so in landscape mode page can be scrolling properly and I have one listview at bottom of the screen. But, due to scrollview my listview is not working properly. If I removed my main scrollview then listview is working as expected but in landscape mode page is not scrolling. So is there any way to overcome this scenario?

ps: The

[2019-03-14 09:23] StephaneDelcroix commented on #5546
there's a high chance that this will fail XamlG too...

[2019-03-14 09:34] chrisfoulds commented on #5267
@yuv4ik we have downgraded all products to 3.4 and there they will remain until at least June now as the company has now put in a full impact process of xamarin forms upgrades after this basic but fundamental issue crept in and they failed to be fix through multiple releases.

[2019-03-14 10:14] geskill commented on #5551
https://stackoverflow.com/questions/6210895/listview-inside-scrollview-is-not-scrolling-on-android/6211286#6211286

[2019-03-14 11:10] taori opened #5553 "3.5.0 AppCompat/SwitchRenderer.cs NRE"
### Description

After updating the Xamarin.Forms to 3.5.0.169047 i'm getting a NRE here:

https://github.com/xamarin/Xamarin.Forms/blob/409271bbfaf845683399d4faab728a1ca2dfaa10/Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs#L126

### Expected Behavior
Should not throw NRE

### Actual Behavior
Does throw NRE

### Basic Information

- Version with issue:
- Last known good version: Used

[2019-03-14 11:18] #5252 closed

[2019-03-14 11:20] inforithmics commented on #5507
Xamarin Forms has just released Xamarin.Forms 4.0 Preview 6 https://www.nuget.org/packages/Xamarin.Forms/4.0.0.232914-pre6
Which solves my Compiled Binding problems. Maybe you could try it out, if your sample still crashes on X86 Android.

[2019-03-14 11:24] HobDev opened #5554 "Button Command does not fire in TitleView with Xamarin.Forms 4 pre-6"
### Description
I can use a `Button` and `ImageButton` within `TitleView`, but only with the `Clicked` event. When using `Command` it doesn't fire.

**Works**
[code]
**Does not Work**
[code]

- Version with issue:Xamarin.Forms 4.0.0.232914-pre6
- Last known good version:NA
- IDE:Visual Studio for Mac preview

[2019-03-14 11:27] Evolutionlab commented on #5551
This is not a bug, its by design :)
Even the official documentation tell su to avoid that:
https://docs.microsoft.com/it-it/xamarin/xamarin-forms/user-interface/listview/performance

You can try to solve this with a custom renderer, something like this:

`    protected override void OnElementChanged(ElementChangedEventArgs<Xamarin.Forms.ListView> e)
    {
        base.OnElementChanged(e);

[2019-03-14 11:37] Evolutionlab commented on #3172
I support this.
Moreover, it would be awesome to get and event when the scrolling is stopped/finished.

In IOS, the UICollectionview is a subclass of UIScrollview, so we can get `scrollViewDidEndDecelerating`  from the `UIScrollViewDelegate`

In Android i think we can extend the `RecyclerView.OnScrollListener` ?

This will open more advanced and polished scenarios for custom refreshing, parallax,

[2019-03-14 11:43] rmarinho commented on #5488
CarouselView is not implemented yet, you could check the the branch we are working on https://github.com/xamarin/Xamarin.Forms/tree/spec-carousel

I can get you some nupkg to test if you want .

[2019-03-14 12:34] kicsiede opened #5555 "[iOS] EntryCell causes memoryleak"
### Description

Having an EntryCell on a TableView causes the whole page to stay in memory. Any other cell types are cleaned up correctly.

this issue may be related to #5560

### Steps to Reproduce

1. Push a page with an EntryCell on it
2. Pop the page
3. GC.Collect()

### Expected Behavior

The page should be garbage collected after being popped.

### Actual Behavior

The page stays in memory

[2019-03-14 12:37] kensykora opened #5556 "Crash from Android.AppCompat.NavigationPageRenderer"
### Description

From crash reports we collect in MS AppCenter, we identified a crash that occurred (twice) from an Android NavigationPageRenderer. We unfortunately weren't able to reproduce it internally but wanted to post it here to track and see if it is a known issue (we're running Xamarin.Forms 3.2) that's already been addressed potentially.

[code]

See attached full crash report here: [cras

[2019-03-14 13:01] felipesouto commented on #2768
Any news on a fix for this?
Setting CachingStrategy="RetainElement" is a bad workaround for this problem.

[2019-03-14 13:49] kicsiede opened #5560 "[Android] Disposed EntryCell throws ObjectDisposed exception after updating an object that the EntryCell was previously bound to"
### Description

Disposed EntryCell throws ObjectDisposed exception after updating an object that the EntryCell was previously bound to. This doesnt happen to plain Entry or Editor.

### Steps to Reproduce

1. create a (shared) bindable object
2. bind it to an entrycell.text
3. release the tabview with the entrycell (probably wont be cleaned up properly at this point)
4. update the bindable object

[2019-03-14 13:58] kzu commented on #5472
If this assembly does not contribute any metadata, it should be completely unnecessary. It was almost surely added as boilerplate to complete later as metadata was needed (as an example, say).

[2019-03-14 14:08] stefano-corricelli commented on #4784
Thank you guys, I'll appreciate if I can be mentioned if this enhancements will be distributed

[2019-03-14 14:14] stefano-corricelli commented on #4734
work with  <PackageReference Include="Xamarin.Forms" Version="3.6.0.220655" />

this ticket can be closed

[2019-03-14 14:14] #4734 closed

[2019-03-14 14:46] walingersystems commented on #5436
I am also experiencing this issue.  Removing the DataType or setting it below page level is working as a workaround

[2019-03-14 14:51] pieterlr opened #5561 "Entry keyboard changed to default when setting entry text from behavior."
### Description
I have a behavior on an Entry control. The behavior was to add a mask to the text while you enter it (from https://xamarinhelp.com/masked-entry-in-xamarin-forms/).

I noticed that whenever the behavior applied the mask, the keyboard was set back to the default one. IE if I set focus to the entry, then change the keyboard to the number keyboard and type numerical characters, the key

[2019-03-14 15:48] davidbritch commented on #5535
Confirmed that this is working on iOS in 4.0-pre6.

[2019-03-14 17:03] davidbritch opened #5563 "CollectionView: iOS selection color glitch"
### Description

There's a selected item color glitch on a small number of items in my `CollectionView` on iOS. It doesn't occur on Android.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the VerticalListSelectionColorPage. This page changes the color of selected items via a `VisualState`.
3. Select the Japanese Macaque (or Proboscis Monkey, or Red-shaked Douc).

### Expected Be

[2019-03-14 17:18] mfow commented on #5500
I can repro on:
- Xamarin.Forms, Xamarin.Forms.Visual.Material 3.6.0.220655
- iOS 12.1.4
- iPhone XS Max

[2019-03-14 17:54] angelru opened #5565 "Navigation to the page with ScrollView"
**Description**

I am using XF 3.6 last version with PRISM framework, when navigate to the page with ScrollView, StackLayout and Label, in the console I get this message:

[code]
When I remove the ScrollView, the message not show.

**Basic Information**
Version with issue: 3.6.0.220655
IDE: VS2017
Platform Target Frameworks:
Android: 9.0

[2019-03-14 21:59] samhouts commented on #5565
@angelru Can you please provide a sample project demonstrating the issue? Is PRISM required for this to happen? Thanks!

[2019-03-14 22:04] samhouts commented on #5556
It's very possible that this was fixed in 3.3 with #3375. I can't prove that without a reproduction, however. I recommend trying to update your project and see if that prevents the crashes. Otherwise, I'll put this into the Needs Info category in case you can find a way to reproduce it. Thanks!

[2019-03-14 22:07] davidortinau commented on #4763
`FlyoutFooterTemplate` has been requested many times during the preview.

Jason recommended providing a template for the Flyout as a whole, which would also be good, however overkill perhaps for most use cases. Could we do both?

[2019-03-14 22:12] jcapellman commented on #4268
Doing another ping on this issue - still plaguing us

[2019-03-14 22:13] samhouts commented on #5554
Hmm, this should have been covered by #3823.

@HobDev Can you please provide a complete reproduction project showing this issue? Did this work before and is newly broken in pre6? Thanks!

[2019-03-14 22:21] samhouts commented on #5543
@davidortinau Only Android? Emulator, previewer, or device?

[2019-03-14 22:42] samhouts commented on #5193
@zopagaduanjr  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-14 22:42] #5193 closed

[2019-03-14 22:47] samhouts commented on #5463
@shudson302 Have you tried configuring the linker to exclude that assembly? https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/linker

[2019-03-14 22:56] samhouts commented on #5404
@ianvink None of the things that we've highlighted here should depend on VS windows vs VS mac. I recommend making sure that all of your project changes saved properly and that you've cleaned and rebuilt everything. Thanks!

[2019-03-14 22:56] #5404 closed

[2019-03-15 00:05] samhouts commented on #5551
@landl0526 What version of Xamarin.Forms are you using? Can you please attach a sample project? @Evolutionlab is correct that this is not a recommended design for many reasons. It's possible, however, that some scenarios will work better in later versions of Forms, as we have started to implement some of the APIs that support nested scrolling in 3.5+.

[2019-03-15 00:16] samhouts commented on #5530
@HobDev you need to use `Shell.TitleView` when you're using Shell. Thanks!

[2019-03-15 00:16] #5530 closed

[2019-03-15 00:17] samhouts commented on #5230
@febilp  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-15 00:17] #5230 closed

[2019-03-15 00:18] samhouts commented on #5215
@lviolin  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-15 00:18] #5215 closed

[2019-03-15 00:24] samhouts commented on #5553
Yeah, that code was last touched with #1929, released in 3.2.0. That was a year ago! I'm surprised we haven't gotten a report already. Can you please provide a sample project demonstrating the issue? Thanks!

[2019-03-15 02:14] john-heaven opened #5569 "Xamarin.Forms PlatformParameter does not contain a constructor that takes 2 arguments"
## Summary
ADAL Xamarin.Forms PlatformParameter does not contain a constructor that takes 2 arguments

## API Changes

Call `AcquireTokenAsync(...)`, which accepts the `IPlatformParameters `object and invokes the authentication flow that's necessary to return a token to the app.

e.g.

I am doing a mobile app using ADAL for authentication. I am using VS 2017 Xamarmin.Forms and trageting .Net stand

[2019-03-15 04:55] khadeeja-alif opened #5570 "Label Data Trigger doesn't work when Formatted Text"
### Description
I try to Change properties on Data Trigger for my Label. I have given FormattedText with two Spans. The trigger setter property change doesn't happen. If I remove Formatted Text and set Text directly. It works fine.

### Steps to Reproduce
This is my xaml
`<Label FontSize="14" FontFamily="{StaticResource BoldFont}">
                                                           <Label.

[2019-03-15 05:11] luczha opened #5571 "Set the style of NavigationBar on Android does not work in Xamarin.forms"
### Description

### Steps to Reproduce

1. I have a Xamarin.Forms app. I would like to remove/hide the back arrow in my navigation bars but keep the title. I was able to do it in iOS using the following code inside my NavigationPageRenderer:

[code]

2. Is there any equivalent code for this in Android that I could use inside my renderer or in the MainActivity? I tried this.ActionBar.SetDisplayHom

[2019-03-15 05:37] HobDev commented on #5530
I don't able to figure this out on my own. Thank you.

[2019-03-15 05:46] HobDev commented on #5554
@samhouts  The fault is in my code. The Command in ViewModel had private `access specifier`. **Sorry**

[2019-03-15 06:12] jessiezh0320 opened #5573 "Previewer doesn't show embedded images"
### Description

### Steps to Reproduce

1. I have a xamarin form app, and in the  xaml layout file,which embedd a  image, but  the previewer often do not display the image effect.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:

[2019-03-15 06:21] iamlawrencev opened #5574 "[iOS] Navigation bar back button only shows arrow without text on iOS 10"
### Description
The default navigation bar back button that shows whenever a navigation page has a previous page does not show the default text.

On iOS 11 and above it shows the previous page's title, or the "Back" text whenever there isn't enough space to on the navbar to display the whole text, and if the space is still not for even the "Back" text to show, it only shows a back arrow.

### Step

[2019-03-15 06:36] zhuxinghan opened #5575 "In macOS Mojave, navigation bar title text is not centered."
### Navigation bar title text is not centered (somehow to the left) in macOS Mojave.

### Steps to Reproduce

1. Create a Xamarin.Forms project which uses a NavigationPage and has a title.
2. Create a Xamarin.Mac project based on the previous project.
3. Run the project, and you will find that the title is not centered in Mojave but is centered in High Sierra or lower.

### Expected Behavior

Navi

[2019-03-15 07:40] cheles commented on #4720
hi @samhouts. any updates on this? it looks like this was reported on UWP standalone apps too, not only XF and it looks like webview controller is leaking some memory in Back/Forward stack.

[2019-03-15 07:45] Scy15 opened #5576 "Firebase deeplink throwing an error in iOS"
Issue:-
On a Xamarin.Forms App, deeplink is redirecting to default page in iOS most of the times.

Versions:-
Xamarin.Firebase.iOS.Analytics:- 4.0.5.1 (updated to 5.5.0)
Xamarin.Firebase.iOS.InstanceID:- 2.0.8 (updated to 3.4.0)
Xamarin.Firebase.iOS.Core:- 4.0.13.1(updated to 5.2.0)
Xamarin.Firebase.iOS.DynamicLinks:- 2.3.1.1 (updated to 3.0.2.1)
Xamarin.Forms:- 3.2.0.871581

Steps to reproduce:-

[2019-03-15 10:28] davidbritch commented on #5110
@hartez I've retried this on 3.6 and 4.0-pre6 and the results are identical for both. On iOS a `MonoTouchException` occurs, as per the screenshot above. On Android it works fine.

[2019-03-15 11:02] davidbritch opened #5577 "CollectionView XAML API suggestion"
### Description

I love `CollectionView`. Particularly the ability to specify different layouts. However, I'd like to see it be easier to specify layouts from XAML. This isn't a bug, more a suggestion.

By default `CollectionView` produces a vertical list layout:

[code]

If we want to change that to a horizontal list, we have to do the following:

[code]

Personally, I think specifying the `Items

[2019-03-15 11:26] caseyniemann commented on #5288
@samhouts @GnanaPriyaNamasivayam For those expecting 3.6 and the latest of Synfusion to work...it does not.  From Syncfusion: The reported issue exists in Xamarin v3.6 also and still this issue not fixed by Xamarin team   Xamarin team?

[2019-03-15 11:38] alanmcgovern commented on #5472
Please don't add the previewer tag to this bug again. It's not a previewer bug and it is causing duplicate bugs to be repeatedly created. There have already been 4 duplicate bugs created against us, all of which have been reassigned back to forms.

[2019-03-15 11:44] melimion commented on #4267
@rmarinho @PureWeen

Any plans on fixing this?

[2019-03-15 11:45] melimion commented on #4278
@pauldipietro @PureWeen

Any plans on fixing this?

[2019-03-15 11:54] SoniaCH opened #5578 "shell TitleView Binding doesn't work"
### Description
the using of the Shell.TitleView work only when I set the Title staticly , but with binding itis not working.
### Steps to Reproduce

1. Create a project with shell
2. Now set Shell.TitleView property of ContentPage.
3. chenge the title view with the custom that I want and bind the value of the Title

### Expected Behavior
the Title takes the value of the binding
### Actual Behavio

[2019-03-15 12:28] rmarinho commented on #5578
Hi @SoniaCH can you please add a reproduction example?

Thanks

[2019-03-15 13:45] leonmeijer commented on #5288
I hope this will be fixed soon. My Android app is now over 100 megabytes in the Play store. Much larger because I disabled the linker.

[2019-03-15 14:11] georgeinva2004 commented on #5288
If you want to see the sausage making you can track the progress here:  [https://github.com/xamarin/Xamarin.Forms/projects/32](url)

This particular fix is part of Sprint 150 which is scheduled to complete on 3/29.  Unfortunately, there's no way to tell if an actual production-ready fix will be pushed by then.

[2019-03-15 14:17] csteeg opened #5579 "BindableLayout displays items in the wrong order"
### Description
BindableLayout displays items in the wrong order if you insert items in a collection that implements INotifyCollectionChanged instead of just adding the items.

### Steps to Reproduce

1.  Create a view that uses a bindableLayout
2. Bind the bindablelayout to a collection that implements INotifyCollectionChanged
3. Add 5 items to the collection
4. Insert an item in the collection a

[2019-03-15 14:19] SaskiaL commented on #4354
I just upgraded Xamarin.Forms to version 3.6.0.220655 and the ImagePosition of the buttons was no longer as it should be.

See attached picture with the buttons as they should be, and how they are in this latest version.

I have downgraded Xamarin.Forms to version 3.1.0.697729 and the buttons are again as they should be.

Kind regards, Saskia

![ImagePositionBroken](https://user-images.githubuserc

[2019-03-15 14:19] Blin4ik91 commented on #2136
why inactive ? Issue is still there...  tested with latest stable xamarin forms version, I found out that if you use the default button it works but if you have a customrenderer on it, it still not work

[2019-03-15 14:22] SoniaCH commented on #5578
I used to work like this:
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:Style="clr-namespace:Mobile.StyleViews.Styles"
             xmlns:UserControl="clr-namespace:Mobile.UserControl"
             x:Class="Mobile.Views.CartWithTickets"
             BackgroundColor="#FFF6F7F8"
             xmlns:ios

[2019-03-15 14:24] maxsieben opened #5580 "[Enhancement] Customize AppBarButton in CommandBar for UWP"
## Summary
After browsing the internet I did not find a way to customize the UWP CommandBar. Something like changing font size for the AppBarButton is not possible.

[2019-03-15 14:26] kicsiede opened #5581 "[Forms] Containers of word-wrappable Text controls don't set their height correctly with RelativeLayout.WidthConstraint"
### Description

Containers of word-wrappable Text controls don't set their height correctly with RelativeLayout.WidthConstraint.

If the width of the control is controlled with StackLayout.WidthRequest the problem disappears. (see the attached example)

Happens on both Android and iOS, so i guess it is a Forms issue.

maybe related to #4950 #4875

### Steps to Reproduce

1. Use a Label (with Line

[2019-03-15 14:29] mflplatinum commented on #5288
Url fixed: https://github.com/xamarin/Xamarin.Forms/projects/32

[2019-03-15 14:31] tranb3r commented on #5288
This is a serious regression, imho it should hot-fixed immediately.
The first step should be to identify the commit in XF3.5 responsible for this regression. Has it been done already ?

[2019-03-15 15:10] Phenek commented on #3161
#3172

[2019-03-15 15:36] angelru commented on #5565
@samhouts Not required PRISM, attach the project with de template MasterDetailPage, navigate to the AboutPage.

[code]

[2019-03-15 15:37] moljac commented on #5522
I did replay everything from scratch:

When adding with "New Item" following code is produced:
[code]
but when pasting (copy or cut previously) from another project (refactoring) this ends up in project file:

[code]

Seems that paste causes this. And paste should be "Add". Or am I wrong?

I had part of UI in the library, but it wasn't rendered with Previewer, so I was moving it to App1 netstandar

[2019-03-15 15:41] moljac commented on #5522
Just updated to preview 4.2 and the behavior during paste is like described, but no more build errors. Seems like default items are handled correctly.

[2019-03-15 16:14] HobDev commented on #5554
@samhouts  Later, while debugging on Android I find out that the issue is `Android` only. Attaching the sample project.
[TitleViewSample.zip](https://github.com/xamarin/Xamarin.Forms/files/2971955/TitleViewSample.zip)

[2019-03-15 19:17] cprice70 commented on #5507
Tried Xamarin.Forms 4.0 Preview 6 and it fixed this problem also.

[2019-03-15 19:24] mnasers commented on #5188
We also experienced this issue when updating to V3.6. Installing win2d.uwp V1.22 seems to have resolved the issue.

[2019-03-15 19:34] samhouts commented on #5507
The fix will be in the next 3.6.0 service release. Thanks!

[2019-03-15 19:34] #5507 closed

[2019-03-15 22:52] nickrandolph commented on #5188
If Win2D.uwp is a dependency, why is it not added as a UWP dependency for XF?
@davidortinau this is the type of issue I keep pointing out to you and the XF team. And I'm commenting because I ran into exact same issue after upgrading my OSS project to v3.6; had to google the answer; and now disappointed that this issue is closed.
There are a bunch of status changes but no post back here as to why t

[2019-03-15 22:58] samhouts commented on #5188
@nickrandolph It will be fixed in 3.6.0 SR1. https://github.com/xamarin/Xamarin.Forms/pull/5475 resolves the issue, and it's targeting the 3.6.0 branch. Thanks!

[2019-03-15 23:11] nickrandolph commented on #5188
@samhouts thanks for that - it's really useful when closing issues like this if the team could be clearer about why it's closed. Following the change of status above it's really hard to see that this issue had actually been resolved for both v4 and v3.6 as the last status change was in relation to v4. I'd completely missed the reference to #5475 as it was much earlier in the history.

[2019-03-15 23:48] dotMorten commented on #5188
Also why was this dependency added? There's no precedence like this for adding 3rd party dependencies here and forcing it on everyone.

[2019-03-16 00:16] samhouts commented on #5188
@nickrandolph It says

[2019-03-16 00:19] samhouts commented on #5188
@dotMorten It's not 3rd party. It's Microsoft. https://www.nuget.org/packages/Win2D.uwp ;)

It was added to support FontImageSource on UWP. https://github.com/xamarin/Xamarin.Forms/pull/4817

[2019-03-16 00:59] samhouts commented on #5578
@SoniaCH Please attach a sample project that demonstrates this issue. At the very least, please post your XAML in such a way that we can copy and paste it. Thanks!

[2019-03-16 02:08] nickrandolph commented on #5188
@samhouts it wasn't originally clear from the commit as the branch history wasn't obvious. It's clear now that the SR release has gone out. Thanks for the quick fix on this one.

[2019-03-16 07:07] simon10says commented on #3487
Hi. Just wondering if there is any progress on this issue? I've tried on `Xamarin.Forms 3.6.0.220655` and am still facing the same issue where Google Keyboard is still predicating text when I set `IsTextPredicationEnable = false`.

[2019-03-16 14:46] melucas commented on #4323
Does this issue also include implementing RemainingItemsThreshold and RemainingItemsThresholdReached as per the spec in #3172 ?

It is not available on the CollectionView control XAML in 4.0.0.169046-pre6.

[2019-03-16 17:18] jrahma opened #5590 "Failed to update Xamarin Forms"
Hi,

I am trying to update Xamarin Forms in my Android project in Visual Studio for Windows bet keep getting errors and I am unable to update any of the Nugets.

What's the problem?

Restoring packages for C:\Users\User\source\repos\Jeccd\Jeccd\Jeccd\Jeccd.csproj...
NU1202: Package Xamarin.Android.Support.Compat 27.0.2.1 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Package Xa

[2019-03-16 19:03] vlkam opened #5591 "[Question] Unable to compile 3.6.0 branch. Project doesn't find FormsViewGroup class"
I cloned repo and trying to compile it from Visual Studio 2017 Windows.
But I have a problem: Xamarin.Forms.Platform.Android project doesn't see class FormsViewGroup from Xamarin.Forms.Platform.Android.FormsViewGroup

I cleaned and rebuilt repo, added reference to FormsViewGroup.dll

How can I try to solve the problem ?
I'd be grateful for any advice

Version VS 2017 Win 15.9.7
Branch 3.6.0

[log

[2019-03-16 21:01] PureWeen commented on #5529
FYI
https://github.com/xamarin/Xamarin.Forms/pull/5586

[2019-03-16 21:05] PureWeen commented on #5497
A little background on this one

We're still figuring out the best api for placeholder/title/selected elements with material

The thinking for material is to instead of using title we add specific material placeholder fields that are more consistent with material entry.

[code]

Instead of having title which does two things on android and only one thing on iOS. Also we're thinking of adding a null

[2019-03-17 00:18] allessandrosj opened #5592 "ListView ItemAppearing"
ListView ItemAppearing does not work correctly in uwp, the same way it works on android and ios, example code.
private void ListaEmpresaList_ItemAppearing(object sender, ItemVisibilityEventArgs e)
        {
            try
            {
                var binding = (ListaEmpresaViewModel)BindingContext;
                if (binding.ListaEmpresa is IList Items && e.Item == Items[Items.Count - 1])

[2019-03-17 00:24] allessandrosj opened #5593 "Uwp Xamarin.Forms.Shell"
Uwp Xamarin.Forms.Shell  does not work correctly in uwp, the same way it works on android and ios

[2019-03-17 00:46] pauldipietro commented on #5593
Shell support is only provided for Android and iOS at this time. We are continuously evaluating feedback regarding potential future UWP support and will provide more information in the future as it becomes available.

[2019-03-17 05:11] heiser commented on #5239
I'm encountering this issue as well

[2019-03-17 18:05] AnEnglishmanInNorway commented on #5517
For me the problem seems to be independent of whether there is a StackLayout. My <Switch> was set IsVisible=false, and I got exactly the crash described here. Changing it to true fixed the problem (though my UI looked weird). But setting IsVisible to false in the code of the handler for Toggle gave me a workaround.

[2019-03-17 19:47] ianvink opened #5594 "EOF Error (error: 0xe800000e) on upgrade to XF 3.6"
I upgraded an older XF 2.3 app to 3.6. It runs great in the iOS simulator, but when we try to deploy to a device for testing, Visual Studio 2017, we get the deployment error:

I have tried deleting the mtbs cache folder on the Mac builder.

### Description
Launch failed. The app 'Bahai.iOS' could not be launched on 'IaniPhone8'. Error: error MT1006: Could not install the application '/Users/vink/L

[2019-03-17 21:24] spruceDevelopment commented on #5554
So I tested this and I guess it isn't issue with TitleView but with the **Button** alone.
Something got broke and no Button (neither in TitleView, CollectionView, StackLayout or ContentPage etc.) gets attached to Command on Android. Tested the same code on UWP and Command gets attached to Button.
So I'm pretty sure it touches also #5414 and both would be fixed when patch will be applied.
I will tr

[2019-03-18 01:21] adrianknight89 commented on #1986
Seeing this issue on both platforms actually

[2019-03-18 06:01] Chozarajan opened #5595 "Button Pressed Animation not shown in iOS"
### Description

The Xamarin Forms Button was added to the scroll view the button pressed animation was not shown in the UI.

### Steps to Reproduce

1. Run the attached sample
2. Tab the Button in StackLayout and ScrollView
3. The Button inside the ScrollView don't have the tab animations. Check the attached video

### Expected Behavior

The Button clicked animation will show in all the layouts

[2019-03-18 08:16] iamlawrencev opened #5596 "[iOS] Previous page's toolbar item being grayed out when canceling swipe to previous page then navigating back."
### Description
Canceling the swipe gesture to go back to the previous page and then going back either by swiping or clicking the upper-right back button will gray out the previous page's toolbar item. The grayed-out toolbar item is still clickable though, it's just a visual bug.

### Steps to Reproduce

1. Create a navigation page and another page that will be navigated to.
2. From the second pag

[2019-03-18 08:41] #5508 closed

[2019-03-18 08:41] #5546 closed

[2019-03-18 08:41] #5081 closed

[2019-03-18 08:41] #5509 closed

[2019-03-18 09:19] DeepikaBalaSubramaniyan commented on #5202
Hi @samhouts

At Xamarin forms version 3.6 last stable also, Picker.Focus() calls throws exception , I have attached the exception details, Also Issue replicated sample, follow the replication procedure

Replication Procedure:
1. Run the attached sample and Enable the Exception settings (C++ Extensions, Common Language Runtime Exceptions)
2. Click the Button named as LoadLabel to load the label Vi

[2019-03-18 09:23] DeepikaBalaSubramaniyan commented on #4712
Hi All,

Any update on this issue ?

[2019-03-18 09:49] akarthikraja18 opened #5597 "Border brush color not working properly for PointerEntered event in UWP TextBox"
### Description
I have used TextBox in native UWP view. I changed the Border brush color initially it's not working. I tried to change border brush color dynamically when PointerEntered event raised but color was not changed as I mapped. Notably  PointerExited event color mapping working fine.

In my sample I have used Custom renderer and added two TextBox items in stack panel and rendered that st

[2019-03-18 10:16] hagronnestad commented on #2383
There's still an issue with updating the cell height when doing changes in the `DataTemplate`. I have a button that is only visible when a cell is selected. When I select the cell, the height doesn't change to fit the new contents on iOS. It works perfectly on Android.

Xamarin.Forms version: 3.6.0.220655

Relevant `ListView` properties:
[code]

Screenshot iOS:
![image](https://user-images.githubu

[2019-03-18 10:19] cheles opened #5598 "XamlC throws Object reference not set to an instance of an object on DevOps"
### Description
XamlC crashes in Xamarin.Forms project under DevOps build with "Object reference not set to an instance of an object ".

### Expected Behavior
XF solution should build in DevOps as it does in local VS

### Actual Behavior
Error thrown: `
[code]

### Basic Information
XF project builds successful in local VS and from MSBuild command line.
DevOps has MSBuildVersion = 15.9.21.
- Platf

[2019-03-18 12:22] gitbash-basher commented on #2096
This is my workaround for this issue.

1. Create a custom renderer and use this for android.
https://gist.github.com/gitbash-basher/8ec4220131743d7d7eefcebee9e3890c

2. Add this to Android/Resources/drawable
https://gist.github.com/gitbash-basher/f2bd1219f87de2f80c372c065910d2b1