[2019-10-17 10:54] Happypig375 opened #8061 "[Long-standing bug] Border of Entry appears to have a minimum width"
### Description
https://xamarin.github.io/bugzilla-archives/58/58741/bug.html

### Steps to Reproduce, Expected Behavior, Actual Behavior
What happens: The right side of the Entry box border is cut off.

What should happen: The right side of the Entry box border should not be cut off.
[code]
Seen on UWP, Android appears to be fine.

### Basic Information

- Version with issue: 2.3.4, 2.3.6-nightly

[2019-10-17 10:55] VladislavAntonyuk commented on #8039
[code]

[2019-10-17 11:00] techduggu commented on #2616
@toussam Have you tried this with latest version of Xamarin.Forms? I tried to reproduce but I can see it works as expected now.

[2019-10-17 11:23] VladislavAntonyuk commented on #8054
you can override OnAppearing, OnDisappearing in code behind

[2019-10-17 11:24] StephaneDelcroix commented on #6996
`ImageSource` isn't properly `Parent`ed

[2019-10-17 11:27] sthewissen commented on #8017
I just implemented it how I would, but cannot reproduce the issue you mention. Please see your adjusted sample attached below. Just adding this code in the XAML does what you describe that you want to do. The custom renderer isn't needed. I feel like your reproduction project and what you're trying to achieve aren't completely aligned or parts are missing.

[code]

This works exactly as you descri

[2019-10-17 11:41] larsduewel commented on #7762
We have a simular issue with the picker. It shows an automation Id different from the currently selected one.

![attachments_b](https://user-images.githubusercontent.com/1902175/67005843-d72ffe80-f0e3-11e9-9f43-5fb9dc04be58.png)

[2019-10-17 11:55] scriptBoris commented on #8054
Override OnAppearing and OnDisappearing - can not break action NavigationBack, when user taped button (software) Back.

[2019-10-17 12:44] Muthukumaran-G opened #8064 "[XAMARIN-FORMS-WPF] Label's VerticalOptions and VerticalTextAlignment doesn't work when loaded inside Layout<View>"
# Description

Greetings,

We at Syncfusion have started implementation for providing support in Xamarin.Forms WPF platform for our controls. We have noticed that specified VerticalOptions or VerticalTextAlignment doesn't work for label element added as child for a Layout<View>, while the same structure works fine in UWP platform. We have attached a simple sample showcasing the issue. Can you plea

[2019-10-17 13:05] Elashi commented on #4764
In iOS, I tried to customize few classes but I noticed that the interface implementation are not `virtual` ! this way won't be able to override these functions. Our other option is to copy the whole class and then add our custom rendering but this does not make sense.

Example, when I derive from `ShellTabBarAppearanceTracker` to add my customization, I cannot override `IShellTabBarAppearanceTrack

[2019-10-17 13:50] GovardhanNag opened #8066 "Please provide radio button feature in Xamarin.Forms"
## Summary
Please provide radio button feature in Xamarin.Forms just like that of Checkbox.

Many of our projects require this feature, even though we have many custom renderers and plugins for that, its better to have our own feature in Xamarin.Forms. And in many cases the plugins fail to provide radio button feature to UWP, its very appreciable if radio button feature is integrated in Xamarin.Fo

[2019-10-17 13:52] jfversluis commented on #8066
Thanks for the suggestion! However there is already an issue for this. Please express your love for it by giving it a comment and/or emoji to prioritize this the right way.

I will be closing this one so progress can be tracked accurately in the earlier issue.

[2019-10-17 13:53] jfversluis commented on #8066
Duplicate of #2404

[2019-10-17 13:53] #8066 closed

[2019-10-17 14:07] fedemkr opened #8067 "[Bug] DynamicResource not refreshing when changing theme that merges another resource dictionary that has the referenced key/value"
### Description

I have a structure that has two themes: DarkTheme and LightTheme, both of them are of type `ResourceDictionary`. Each of them merges some other resource dictionaries like colors for each theme.

<img width="200" alt="Screen Shot 2019-10-17 at 10 48 05" src="https://user-images.githubusercontent.com/15682323/67014696-a643cf80-f0cb-11e9-8ed0-b85abe625b98.png">

The problem is that i

[2019-10-17 14:18] GovardhanNag opened #8068 "Context actions in ListView for android should improve"
## Summary
Please enhance the Context actions interface in Android as similar to that of iOS.
When it comes to iOS, its just perfect in using this Context Action, but in android its some what annoying with the UI design, if it's implemented similar to that of iOS then we would be very grateful.

[2019-10-17 14:37] attrib75 opened #8069 "Xamarin Forms Tabbed Paged Text Color Not Working"
### Description
Xamarin Forms Tabbed Paged Text Color Not Working for iOS and Android

### Steps to Reproduce

1. Create a tabbed page
2. Android : Set the BarTextColor property -OR-
Set the following in the Android Project Style.xml
  `<style name="Widget.AppTheme.TabLayout" parent="@style/Widget.Design.TabLayout">
    <item name="tabSelectedTextColor">#254B9C</item>
    <item name="tabTextColor"

[2019-10-17 14:59] larsduewel commented on #6486
@Darlingtone @PureWeen When we set the xamarin.forms shell as main page after we logged in, the shell appears, then we want to be able to show modal dialogs, which is currently not possible because the onappearing event is not firing.

We **do not** want to put everything in the shell.xaml currently because there are a few known bugs, which keeps us from doing it.

Is it going to be fixed or is th

[2019-10-17 15:05] johnshardman opened #8070 "[Bug] Documentation about creating a NuGet is so out of date as to be useless"
### Description
The documentation about creating a NuGet for Xamarin at
https://docs.microsoft.com/en-us/nuget/guides/create-packages-for-xamarin
is so out of date that it does not match reality when using VS2017 or VS2019. I suspect it probably doesn't even when using VS2015 (but who would still be using that anyway???)

### Steps to Reproduce

1.  Open https://docs.microsoft.com/en-us/nuget/guid

[2019-10-17 15:16] GovardhanNag opened #8071 "Colored image in ToolbarItem for iOS and UWP"
## Summary
Images added to the ToolbarItem appear to be different in iOS and UWP. But that is not the case in Android, it renders the image as it is.

The same design is expected in iOS and UWP. We don't accept this discrimination, either in all the platforms colored image should appear or colored image should be turned to black and white in Android.

To adjust to the same UI as that of Android in

[2019-10-17 16:26] samhouts commented on #7602
This should be resolved in the latest versions of Xamarin.Forms published on NuGet. Thank you!

[2019-10-17 16:26] #7602 closed

[2019-10-17 16:27] Elashi opened #8072 "[Bug] Shell - NavigationPage.SetHasNavigationBar does not hide NavigationBar"
### Description
`NavigationPage.HasNavigationBar="False"` does not hide/remove the Navigation Bar in Shell projects.

### Steps to Reproduce
Add `NavigationPage.HasNavigationBar="False"` to a ContentPage.

### Expected Behavior
The navigation bar should disappear from the page that has HasNavigationBar property assigned to false.

### Actual Behavior
The navigation bar does NOT disappear from the

[2019-10-17 16:29] SittenSpynne commented on #4731
This is affecting me too.

[2019-10-17 16:47] MagicAndre1981 commented on #7602
which version/build number? How long will XF work for VS2017 users?

[2019-10-17 16:51] samhouts commented on #7602
4.2.0.848062 and 4.3.0.851321-pre3 are both compatible with VS2017.

[2019-10-17 16:56] attrib75 commented on #8069
I updated this to include both android and ios

[2019-10-17 17:21] PureWeen commented on #6486
@larsduewel

So it sounds like you need OnAppeared not OnAppearing? Most likely when we get OnAppearing to fire it'll be right before the shell renderer is created so it won't actually be visible yet to the user.

What we really need in forms is a "Loaded" or something indicating it's been added to the visual tree :-/

@gceaser

Apps can't reliably wait async behavior before it loads though as thi

[2019-10-17 17:35] #7700 closed

[2019-10-17 17:53] #2250 closed

[2019-10-17 18:48] ledragon101 commented on #1600
@stonedauwg who knows! My guess is they're banking on people switching to CollectionView so putting efforts into that. Fine by me but I wish they'd huury up ;-) My lists aren't long so I've switched to ScrollView and Stacklayout BindableLayout for now. Works fine for me. Wish I;d figured that out weeks ago!

[2019-10-17 19:00] gceaser commented on #6486
@PureWeen  the logic is about 10 lines of code long.  The on appearing of the Shell is the PERFECT place to put it having to create a whole new "Loading" page and handle all the items surrounding that.

In my opinion:
1) If the Shell is a type of Page - as all the documentation indicates it is, it should implement all the corresponding events of a page.
2)  If the developers of shell don't want to

[2019-10-17 19:06] hartez commented on #7529
@Elashi I notice that your stack trace contains a method that we removed in the latest version - does this crash still occur with 4.2 or the 4.3 pre-releases?

[2019-10-17 19:06] samhouts commented on #5868
closed by #7883

[2019-10-17 19:06] #5868 closed

[2019-10-17 19:06] samhouts commented on #7943
closed by #7945

[2019-10-17 19:07] samhouts commented on #7898
closed by #7921

[2019-10-17 19:07] #7898 closed

[2019-10-17 19:07] samhouts commented on #7251
closed by #7811

[2019-10-17 19:07] #7251 closed

[2019-10-17 19:08] samhouts commented on #7817
closed by #7872

[2019-10-17 19:08] #7817 closed

[2019-10-17 19:08] samhouts commented on #7876
closed by #7893

[2019-10-17 19:08] #7876 closed

[2019-10-17 19:08] samhouts commented on #7789
closed by  #7858

[2019-10-17 19:08] #7789 closed

[2019-10-17 19:08] samhouts commented on #7742
closed by #7743

[2019-10-17 19:08] #7742 closed

[2019-10-17 19:09] samhouts commented on #5500
closed by #8011

[2019-10-17 19:09] #5500 closed

[2019-10-17 19:09] samhouts commented on #8008
closed by #8009

[2019-10-17 19:09] #8008 closed

[2019-10-17 19:09] samhouts commented on #7926
closed by #7932

[2019-10-17 19:09] #7926 closed

[2019-10-17 19:10] samhouts commented on #6640
closed by #7768

[2019-10-17 19:10] #6640 closed

[2019-10-17 19:20] knocte commented on #7841
I'm guessing we could write some bits about all this in the CONTRIBUTING.md file?

[2019-10-17 19:44] PureWeen commented on #6486
@gceaser but if you put async logic into OnAppearing it's going to be an async void class and you can't reliably make decisions here on how you want shell to be structured

The initial page that gets shown in an app should be be a synchronous process. You can work to make it async but it will most likely be unreliable and quirky because either

1) you have to block the UI Thread so nothing loads
2

[2019-10-17 20:13] gceaser commented on #6486
@PureWeen

**but if you put async logic into OnAppearing it's going to be an async void class and you can't reliably make decisions here on how you want shell to be structured**

I am not structuring the Shell in the OnAppearing.  I am simply verifying what app data is present and making automated navigation choises based on the presense of said data.  Sorry for any confusion.  All I am doing is c

[2019-10-17 20:22] joshykautz commented on #5497
I'm still hoping this can get implemented so that we can more closely follow material design principles.

[2019-10-17 20:24] PureWeen commented on #5497
Fixed by
https://github.com/xamarin/Xamarin.Forms/pull/7880

Thanks for  reminder on this issue @joshykautz !!

[2019-10-17 20:24] #5497 closed

[2019-10-17 20:27] PureWeen commented on #6486
### Loading data in onappearing is fine
If you're loading your data then you're on a physical page so navigation has been solidified. At this point you have a page loaded where you can have a label *Your data is loading please hold*

### Navigating based on the results of an async operation in OnAppearing I'd say is not fine

If you navigate from OnAppearing based on async results then Shell is go

[2019-10-17 20:29] PureWeen commented on #6486
@gceaser I hate giving this kind of advice 👎

but I'm curious (for now) if the following code would work for you

[code]

[2019-10-17 20:36] brminnick opened #8073 "[Bug] White Flash on iOS When Transitioning from Launch Screen to Application.Current.MainPage"
### Description

On iOS, when the app transitions from the `Launch Screen` to `Application.Current.MainPage` (i.e. when `LoadApplication(new App())` runs), the app flashes white.

I think I've narrowed it down to `PlatformRenderer.ViewWillAppear` where Xamarin.Forms sets `View.BackgroundColor = UIColor.White`:
https://github.com/xamarin/Xamarin.Forms/blob/98b9f7d6bab9265c8ca0fd8e47e8899b85d7f609/X

[2019-10-17 20:41] samhouts commented on #7434
@LakshmiRadhaKrishnan  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-17 20:41] #7434 closed

[2019-10-17 20:42] samhouts commented on #7258
@johnshardman  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-17 20:42] samhouts commented on #7281
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-17 20:42] samhouts commented on #7326
@dgandhi17  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-17 20:42] #7326 closed

[2019-10-17 20:42] samhouts commented on #7186
@simonXarios  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-17 20:42] #7186 closed

[2019-10-17 20:43] samhouts commented on #7487
@JanabiSoft  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-17 20:43] #7487 closed

[2019-10-17 20:43] samhouts commented on #7502
@PrinceKek  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-17 20:43] #7502 closed

[2019-10-17 20:43] samhouts commented on #7449
@issaaccbb Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-17 20:44] samhouts commented on #6700
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-17 20:49] samhouts commented on #7917
@westermost  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-17 20:50] samhouts commented on #7996
@sunilpatil919  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-17 20:54] chrisweihu commented on #8005
HI Xamarin,
Any update on this bug? I also ran into this bug as well. The master side menu doesn't hide when in Popover mode. This bug is reproducible creating a new Xamarin.Form project using the MasterDetailPage Project template from VisualStudio.

[2019-10-17 20:55] samhouts commented on #8068
@GovardhanNag Can you be more explicit about how you would like Context Actions to behave on Android? Thanks!

[2019-10-17 20:59] acaliaro commented on #6700
I can’t
Mine is a very big project and it’s in production all over the world in different Outlets. I really don’t know how to reproduce it

[2019-10-17 21:06] samhouts commented on #8072
@Elashi  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-17 21:21] samhouts commented on #8005
@vsfeedback  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-17 21:22] samhouts commented on #8035
@MJRomka  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-17 21:23] samhouts commented on #8058
@amr-moomen  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-17 21:24] 15mgm15 commented on #6700
I was able to find the issue and it was caused by having two NavigationPages:

[code]

[2019-10-17 22:06] georgemichailou opened #8074 "[Bug] I cant change the status bar color without a navigation page"
I want to change the status bar color on some views.

I found this solution https://github.com/yuv4ik/XFDynamicStatusBarAppearance

but it's working only with NavigationPage.

I dont find the way to change the status color without a NavigationPage...

[code]

Here is my try ...

[code]
How can i change the status bar color ?

Thanks.

[2019-10-17 22:19] chrisweihu commented on #8005
[TestMasterDetail.zip](https://github.com/xamarin/Xamarin.Forms/files/3741499/TestMasterDetail.zip)

Here is the Xamarin.Form project using the MasterDetailPage Project template from VisualStudio.

Note that: MasterBehavior = MasterBehavior.Popover;  but the Master Sidebar menu always show, can't be hidden.

The only workaround is to overwrite the MasterDetailPage  renderer with **"this.PreferredD

[2019-10-17 22:25] Depechie commented on #8061
Maybe readup on this https://github.com/Microsoft/microsoft-ui-xaml/issues/641

[2019-10-17 22:43] LeoJHarris commented on #2735
@qhu91it your listview is expecting a parameter that was defined in the EnhancedListView, you need to pass the ListViewCachingStrategy in xaml to it.

[code]

[2019-10-17 22:54] Depechie commented on #7526
Think this https://github.com/microsoft/microsoft-ui-xaml/issues/714#issuecomment-492837546 has some valid input on the behaviour.

[2019-10-17 22:56] vsfeedback opened #8075 "Android UITest query issues"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/780607/xamarin-forms-uitet-query-issues.html)._

---
We are having issues with UITest on Android following an upgrade of Xamarin Forms from 2.4 to 4.2. All tests pass against 2.4.
The issue surrounds querying Listviews, which is very unreliable. UiTest queries against Xamar

[2019-10-17 22:59] samhouts commented on #7751
closed by #7764

[2019-10-17 22:59] #7751 closed

[2019-10-18 03:03] yshteinm opened #8078 "SVG support"
I suggested to add this to Xamarin.Essentials but @jamesmontemagno suggested that a good place for this will be Xamarin.Fomrs.

I know about FFImageLoading but it would be great if there was official support for SVG (or other vector format) in Forms. I would like to see support in Controls (like image button), background images (like inside Image View), if possible ToolBar, etc.
And if animated SV

[2019-10-18 03:46] adrianknight89 commented on #5883
@samhouts @hartez Is there a specific reason why we are creating a new class `ContextMenuItems` instead of directly using `IList<ContextItem>` in the bindable property type for `MenuItemsProperty`?

[2019-10-18 04:18] adrianknight89 commented on #5883
Also, have you thought about nested context menus, inline menus, and destructive context items?

[2019-10-18 04:49] adrianknight89 commented on #7836
After the fix for this is ready, please test #7471 as it might address the issue described there.

[2019-10-18 04:55] acaliaro commented on #6700
why do you say that it's related to this?

[2019-10-18 04:59] 15mgm15 commented on #6700
@acaliaro Actually I don't know now, I thought it was related to having a `TabbedPage` with `NavigationPages` in it but now that I am using the or at least I think I am using the correct navigation context I am still experiencing this issue with the first child of the `TabbedPage` anyways... still investigating.

[2019-10-18 05:01] 15mgm15 commented on #6700
For the next project, I will definitely consider using an MVVM Framework.

[2019-10-18 06:37] MJRomka commented on #8035
[testfonts.zip](https://github.com/xamarin/Xamarin.Forms/files/3742544/testfonts.zip)
As you can see red color is applied, but the font family is broken.

[2019-10-18 07:34] Elashi commented on #8072
[HideNavBar.zip](https://github.com/xamarin/Xamarin.Forms/files/3742765/HideNavBar.zip)

[2019-10-18 07:35] jfversluis commented on #7841
@knocte about the releases tab you mean? Definitely!

[2019-10-18 07:43] knocte commented on #7841
Yeah, and the nuget version numbers in the assets sections, and the pre-release git tags, etc

[2019-10-18 08:41] Liminiens commented on #7166
@paleicikas do you know if it's possible to create a workaraound while this issue is not fixed?

[2019-10-18 08:42] jfversluis commented on #5153
If this ever needs fixing, we probably want to look at `TitleViewManager.UpdateTitleViewWidth` and take a look at how the primary items and dynamic overflow work together.

[2019-10-18 08:44] acaliaro commented on #6700
Yes you should, you could use Xamarin integrated MVVM

[2019-10-18 09:22] jrahma commented on #1692
I hope it will play sounds and videos from device as well as URL

[2019-10-18 09:24] davidbuckleyni commented on #1692
From.what they told me that is the plan.

On Fri, 18 Oct 2019, 10:23 Jassim Rahma, <notifications@github.com> wrote:

[2019-10-18 09:27] GovardhanNag commented on #8068
@samhouts
Thanks for replying,
Currently the Context Action in android looks like this:
![image](https://user-images.githubusercontent.com/8640402/67082413-66e3b480-f199-11e9-9733-d859aa55e6cc.png)
But I would like to see Context Action similar to this. The below screen shot is an example of iOS device, but I'm expecting Context Action functionality to work similar to that of iOS.
![image](https:/

[2019-10-18 09:48] taksh35 commented on #2750
Hello Dineshbabu can you please help regarding image tap gesture on xamarin forms mac.

[2019-10-18 10:13] techduggu commented on #5950
@nacompllo Are you still facing this issue with latest Xamarin version? I tried to reproduce but I'm getting the mentioned color (#D7192C) as expected on Android Emulator.

![image](https://user-images.githubusercontent.com/17450941/67086262-f56a2d00-f1bd-11e9-9a3d-c902b3b61256.png)

[2019-10-18 10:28] AbdellahOusrhireDev opened #8082 "[Bug] [Xamarin.Forms] [iOS] SIGABRT: Index was out of range. Must be non-negative and less than the size of the collection. Parameter name: index"
### Description
Sometimes I'm getting a bug when my app starts; when my homepage is appearing and a request is made

### Steps to Reproduce

1. Using the NSUrlSession
2. making an api request as usual
3. app crashes

### Expected Behavior
request finishes successfully with no crash
### Actual Behavior
I'm getting an ArgumentOutOfRange exception

### Basic Information
- Possible issues related to t

[2019-10-18 10:31] nacompllo commented on #5950
@techduggu Right now I don't have an IOS device to test it, the last time I checked it there was still the inconsistency between Android and IOS in version 4.0.0.425677 of Xamarin.Forms, in this [repository ](https://github.com/GalaxiaGuy/xamarin-forms-frame-color )@GalaxiaGuy explains in more detail what the problem is. I quote from the description of the repository:

"In Xamarin Forms on iOS, th

[2019-10-18 10:34] techduggu commented on #5830
Hi Team (@samhouts / @jfversluis ),

I'd like to pick this up. Do we see any issues with making EntryCellTableViewCell as public (in-case discussed internally) ?

Thanks!

[2019-10-18 10:50] techduggu commented on #5950
@nacompllo Sorry but I'm kind of confused now between what is mentioned in ticket description (issue with Android) and in the above description in your last comment (issue with iOS). Perhaps we should have a new ticket or update description of this ticket.

The last description makes sense (the iOS conversion to `CGColor`) to resolve issues with Frame and iOS Renderers Background Color) but I too

[2019-10-18 11:03] nacompllo commented on #5950
@techduggu In the description I already had detailed the color difference between Android and IOS, but you are right the title was confusing regarding the description, I have updated it with a more descriptive one, thanks.

[2019-10-18 11:14] techduggu commented on #5877
I'm also facing the above issues while running the UI Tests. At least we can start with a draft template and then can continue adding our observations). I'm working on Windows machine and can only help from Android side (would need help from someone for iOS).
I also see that we have tagged it with 'hacktoberfest' tag, Is this considered as quality PR? If yes, I'd like to take this up.

[2019-10-18 11:22] #8004 closed

[2019-10-18 11:52] #2352 closed

[2019-10-18 11:54] #2351 closed

[2019-10-18 12:06] jfversluis commented on #5830
Not sure what @samhouts opinion on this might be, but as the `CollectionView` is becoming stable and should be preferred over `ListView` and `TableView` I'm not sure if we should spend much time in this area and make changes to stimulate the usage of these controls.

[2019-10-18 12:32] gceaser commented on #6486
@PureWeen no this does not work as the Shell object had not been instantiated yet.  That is exactly what I have been talking about for the last several posts.  A page object (i.e. the shell) is not instantiated until AFTER the constructor.  This attempting anything that accesses the Shell object in the initializer generates a null object exception.

[2019-10-18 13:31] Sarthak261995 opened #8084 "Null Refresh Exception When BackButton Pressed On Shell(Anroid)"
App Crashes with the message of System.NullReferenceException: Object reference not set to an instance of an object. When I clicked on Android Back Button with the Shell as a main page app minimize first and then got exception.

Back button works when we have more then one page in navigation stack so in this case current page navigate to last page.

So the app crashes when there is you know only c

[2019-10-18 13:37] fmanseau commented on #6698
Also if it helps, a issue related to this in Prism's repo seems to have repro steps (it requires a Prism app, but probably easy to follow a similar pattern without).

https://github.com/PrismLibrary/Prism/issues/1688

[2019-10-18 13:47] dontspeak commented on #5153
Gerald, you are amazing! `SetToolbarDynamicOverflowEnabled(false)` really works. I hope settings this attribute does not have any drawbacks.

Thank you very much!
Regards Vasilios

[2019-10-18 14:00] gceaser commented on #6486
@PureWeen I was wrong.  What you posted actually does work.  Thank you - this is a least a work around for now.

[2019-10-18 14:01] kcirtap31 commented on #7751
I recently encountered this issue where image can't be loaded. what I did was

[2019-10-18 14:03] timahrentlov commented on #7393
I have a problem with GroupHeaderTemplate as well, trying to port working listview code. It crashes when loading the page with the collection view.

It seems that groupableItemsView.ItemsSource is null even though it has been set and bound in the CollectionView XAML to the same ViewModel that worked with the ListView XAML.

This causes 'new ListSource(groupSource);' to do a NRE.

`public Observabl

[2019-10-18 14:08] Muthukumaran-G opened #8087 "[XAMARIN-FORMS-WPF] View doesn't render when set IsClippedToBounds to true"
### Description

Greetings,

We at Syncfusion have started implementation for providing support in Xamarin.Forms WPF platform for our controls. We have noticed that when set IsClippedToBounds to true for any layout control, it doesn't render in the View. For Example if the Grid is added as a child for StackLayout and when set IsClippedToBounds to true for Grid, it doesn't layout as like in UWP pla

[2019-10-18 14:10] JordanBird commented on #4996
Hi!

I'm working with Carousel and Collection views on Xamarin.Forms 4.3.0.851321-pre3 at the minute and it seems buttons with bound commands and command parameters currently don't fire when they're part of the ItemTemplate.

Is this intended functionality or a bug?

The animation of the button being clicked works, but any associated command doesn't fire.

I'm currently testing this on Android, us

[2019-10-18 14:19] jfversluis commented on #5153
Glad it worked for you! It shouldn't have any other side-effects. If you do find anything while using this, please don't hesitate to let us know!

[2019-10-18 14:21] matibak commented on #6443
Still persists on 4.2.0.848062

[2019-10-18 14:49] Omarkth commented on #7391
https://github.com/xamarin/xamarin-macios/issues/7235

[2019-10-18 15:04] rmarinho opened #8088 "[Spec] DeviceInfo"
# Deviceinfo

Expose an API with some DeviceInfo like StatusBarheight, SafeArea, Theme, Localization
# API

## [ class ]

### Properties

StatusBarHeight

# Scenarios

## C# Example

# Backward Compatibility

Minimum API levels?
Breaking changes?
Unsupported platforms?

# Difficulty : [low/medium/high]

[2019-10-18 15:06] 15mgm15 commented on #6700
@acaliaro I was thinking more like PRISM, or maybe just only a IoC container like autofac

[2019-10-18 15:14] paulb39 commented on #8078
This has been asked for many times before.
See https://github.com/xamarin/Xamarin.Forms/issues/1863

[2019-10-18 15:47] yshteinm commented on #8078
@paulb39 #1863 is closed. How that will help?

[2019-10-18 15:48] techduggu commented on #5680
Hi @samhouts / @StephaneDelcroix ,

I'd like to take this up. I've done my initial analysis and would like to add a method (`public void CoerceValue(BindableProperty property);` as requested) to `BindableObject` class to force value coercion. Should we also add a corresponding overloaded method with `BindablePropertyKey` similar to other public methods like `ClearValue`, `SetValue` etc.

Please le

[2019-10-18 15:56] Sarthak261995 opened #8092 "Entry did not moves upwards when keyboard is raised Inside Shell Android"
Entry did not moves upwards when keyboard is raised Inside Shell In Android haven't tested on iOS Yet.

Note it moves up as expected When Content page is not inside the shell.
I do not have Scroll view inside my page .

Xamarin Version : Latest

Below is the code I am using

            <Grid
                Padding="20,10,20,0"
                RowSpacing="10">
                <Grid.RowDefinitions

[2019-10-18 16:10] PureWeen commented on #6486
@gceaser Yay!!

Scenario validated 👍

[2019-10-18 16:17] samhouts commented on #8068
Duplicate of #3171

[2019-10-18 16:17] #8068 closed

[2019-10-18 17:28] #4115 closed

[2019-10-18 17:50] samhouts commented on #3172
Thank you everyone for the discussion on this issue! If you have any additional feature requests or bug reports, please open new issues for each one. We are now closing this issue.

[2019-10-18 17:50] #3172 closed

[2019-10-18 17:56] ssm3ll commented on #6908
thanks @begreal. this workaround works just fine for me.

[2019-10-18 18:01] samhouts commented on #7573
@wesoos  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-18 18:01] #7573 closed

[2019-10-18 18:02] samhouts commented on #8075
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-18 18:02] #8075 closed

[2019-10-18 18:03] samhouts commented on #8082
@AbdellahOusrhireDev  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-18 18:05] samhouts commented on #8084
Duplicate of #7327

[2019-10-18 18:05] #8084 closed

[2019-10-18 19:17] hudaIT opened #8091 "[Enhancement] IsEnabled Property for TapGestureRecognizer!"
## Summary
Would be amazing when we would have the possibility to Enable/Dissable an TapGestureRecognizer in Xaml with an Property ( IsEnabled )

## API Changes
In ViewModel => **bool UserRoleAvailable=true;**

<TapGestureRecognizer Command="{Binding MyCommand}" **IsEnabled="{Binding UserRoleAvailable}"** />

## Intended Use Case
Obvious

[2019-10-18 19:30] zndinc commented on #6766
I was able to work around this by creating a FlyoutBackgroundImage in which the top section is the same color as my header, and the rest of it is white and applying it on iOS. Not the most elegant but it works.

[2019-10-18 20:19] hartez commented on #8091
You are already using a bound `Command` - why not just check `UserRoleAvailable` in the `Command`'s `CanExecute` method? If `CanExecute` returns `false`, the bound `Command` will not run.

I'm attaching a quick example:
[TapGestureCanExecute Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3745525/TapGestureCanExecute.Repro.zip)

[2019-10-18 21:29] hudaIT commented on #8091
Ahh right my fault. Thank you very much completely forgot that.

[2019-10-18 21:29] #8091 closed

[2019-10-18 21:53] krdmllr opened #8093 "[Bug] macOS is using unusual button style"
macOS provides different button styles, here is a nice writeup about it: https://mackuba.eu/2014/10/06/a-guide-to-nsbutton-styles/

You mostly see the NSRoundedBezelStyle in macOS, like in the settings app.
<img width="752" alt="grafik" src="https://user-images.githubusercontent.com/11095003/67129169-1d798080-f1fe-11e9-9301-5357a6de104c.png">

But Xamarin.Forms uses this style ( "0" which does not

[2019-10-18 23:00] kingces95 commented on #8029
Well, I can reproduce the light mode screenshot but even after enabling dark mode on the emulator everything still appears in light mode... is there some trick to enabling dark mode on the emulator?

![image](https://user-images.githubusercontent.com/4120386/67133157-51758700-f1a7-11e9-97d1-928f9f87973a.png)

[2019-10-18 23:01] jrahma commented on #1730
When you call it CameraView I assume that we can define the aspect ratio for the video as well as image

So if I want to take a photo sized 100x100 then I can restrict the area to 100x100

[2019-10-18 23:04] kingces95 commented on #8030
I think that's just the way it goes when programming in XAML. Inside that tag the proceeding white space is not ignored. It's not unreasonable. For example, suppose that screenshot is actually what you _wanted_ to produce? If we ignored the whitespace how then would you reproduce that copy?

[2019-10-18 23:06] kingces95 commented on #8035
We believe you! But could you please attach a reproduction project?

[2019-10-18 23:11] kingces95 commented on #8038
I get a cat on master. Is launching the reproduction supposed to crash?
![image](https://user-images.githubusercontent.com/4120386/67133489-c5645f00-f1a8-11e9-967d-8c219526b687.png)

[2019-10-18 23:23] kingces95 commented on #8005
I'm able to expand and collapse the menu on master. Can you provide steps to go thru using the reproduction and the expected and actual behavior?

![188EF283-9B9B-4F90-8BA4-1A1D511B4514](https://user-images.githubusercontent.com/4120386/67133815-4c660700-f1aa-11e9-8c06-15f5c6afef7d.GIF)

[2019-10-18 23:26] kingces95 commented on #8069
Can you please attach a reproduction solution? Thanks!

[2019-10-18 23:28] kingces95 commented on #8073
[DarkModeSplashScreen-master.zip](https://github.com/xamarin/Xamarin.Forms/files/3745943/DarkModeSplashScreen-master.zip)

[2019-10-18 23:38] kingces95 commented on #8073
I think I see it. On my sim the flash is really quick.
![A1DA352C-DE74-4206-A959-2C5162072BA5](https://user-images.githubusercontent.com/4120386/67134188-9c45cd80-f1ac-11e9-8223-cc1aba80a3cd.GIF)

[2019-10-18 23:39] kingces95 commented on #8074
A question.

[2019-10-18 23:53] brminnick commented on #8073
Yup, it’s pretty quick but certainly noticeable when using a black/dark Launch Screen.

You can see it in the current version of my app in the App Store too: https://apps.apple.com/us/app/punday/id1085414548

[2019-10-18 23:57] Adlorem commented on #3010
I am also interested in this one. Would be very helpful for creating professional layouts without custom renderers.

[2019-10-19 01:10] adrianknight89 opened #8095 "Allow us to leverage UICollectionViewCompositionalLayout on iOS13"
## Summary
Apple introduced `UICollectionViewCompositionalLayout` recently that we should be able to leverage in Xamarin Forms. According to the information I could find, it is easier to use, fast, and allows complex designs.

https://medium.com/flawless-app-stories/all-what-you-need-to-know-about-uicollectionviewcompositionallayout-f3b2f590bdbe

https://dev.to/kevinmaarek/using-collectionview-com

[2019-10-19 04:22] LJ9999 commented on #6011
Good god is this platform unstable crap.

[2019-10-19 04:22] jayseaCODE commented on #7391
Hey @Omarkth, it definitely is! Thanks for referencing it. Based on @PureWeen [comment ](https://github.com/xamarin/Xamarin.Forms/issues/5500#issuecomment-542839002)in #5500, there is a temporary local fix which I will attempt when I am at work. And it seems to me that fixing the underlying [xamarin/xamarin-macios#7235 bug](https://github.com/xamarin/xamarin-macios/issues/7235) will eventually fix

[2019-10-19 04:34] PureWeen commented on #7391
fixed by https://github.com/xamarin/Xamarin.Forms/pull/8011

[2019-10-19 04:34] #7391 closed

[2019-10-19 05:31] techduggu commented on #5749
I'd like to take this up. Currently analyzing it to create specification and then will raise a PR.

[2019-10-19 05:46] MJRomka commented on #8035
Don’t you see testfonts.zip file I attached to the previous message?

[2019-10-19 06:52] georgemichailou commented on #8074
Ι found the solution . I added this functionality in my project if anyone wants it.

https://github.com/georgemichailou/ShaXam

[2019-10-19 06:52] #8074 closed

[2019-10-19 07:53] Adam-Langley commented on #7336
Hi @samhouts can we have this reopened please?
Thanks,

[2019-10-19 08:02] raindeer commented on #6999
@adrianknight89 interesting, will have a look at it. thanks!

[2019-10-19 09:07] techduggu commented on #5749
@RawoofSharief Can you share the reproduction of this issue without using Syncfusion ListView control? I'd like to fix this issue but for unit testing purpose, I'd need a custom listview with horizontal scroll. Thanks!

[2019-10-19 15:31] ajpinedam commented on #5877
@techduggu I can help with the iOS side

[2019-10-19 15:58] johnnyb commented on #7562
For me, this happened because my original AndroidManifest.xml was broken, but something in previous versions of Visual Studio was compensating for it.  So, it was the same AndroidManifest.xml as before, but I had a uses-permission inside the <application> tag, and it should have been outside the application tag.  Moving it fixed it, despite the fact that it was working prior to VS 8.3 (Mac).

[2019-10-19 17:22] J4YT commented on #7400
Same problem here. I have a manager that manage user sessions and they need to be redirected to login page if session has expired. Works if app is in foreground but not in background or when it hits OnResume.

[2019-10-19 18:45] haavamoa opened #8099 "[Enhancement] `Binding` as `ConverterParameter`"
## Summary
Add support of `Binding` as `ConverterParameter` for `Converter`s. ~
~~This is something that is common when you come from the Windows desktop world, and something that exists in WPF.~~

## API Changes

In order for this to work I guess that the `Binding` class needs a `BindableProperty` called `ConverterParameterProperty` that the `ConverterParameter` property refere and send to its `C

[2019-10-19 20:32] brminnick commented on #7878
### Workaround

As a workaround, you can call `PopModalAsync` in `OnDisappearing`.

This ensures that if the user has dismissed the page manually that Xamarin.Forms still pops the `Page` from the `Navigation.ModalStack`.

[code]

[2019-10-19 21:15] GZidar commented on #7602
I can confirm that using the latest builds (mentioned above) has resolved the reported issue without the need to upgrade / change your existing tooling.

[2019-10-19 23:48] AbdellahOusrhireDev commented on #8082
@samhouts  Here is the link to the small project: https://github.com/AbdellahOusrhireDev/Reproduction8082
the first time when you build & run it all works fine but, when it does just stop and start(play) it'll pop up.

[2019-10-20 02:56] breyed commented on #7878
@brminnick Are there any situations that OnDisappearing could be called besides the user swiping down the modal page? Switching to another app? Going to the home screen? Pushing another page? Locking the phone? PopModalAsync called by the app?

[2019-10-20 03:39] VladislavAntonyuk commented on #7937
Can you reproduce the issue if you don’t change the option to Don’t link?

[2019-10-20 09:01] chrisfoulds commented on #7685
When does this get released? , how do I update ?

[2019-10-20 10:45] amr-moomen opened #8102 "[Bug] Random Disappearance and miss alignment in text while scrolling up and down when using "ListViewCachingStrategy: RecycleElement""
### Description
when scrolling down and up again labels randomly truncated and miss alignment
but  when " <ListViewCachingStrategy>RecycleElement</ListViewCachingStrategy> " is commented the issue seems to be solved
### Steps to Reproduce

1. Add a ListView with ListViewCachingStrategy=RecycleElement.
2. Within ListView use a label.
3. scroll down and up again.

### Expected Behavior

Labels are n

[2019-10-20 11:43] amr-moomen commented on #8058
I added Demo project in this link
 https://github.com/amr-moomen/Listview-Bug.git

[2019-10-20 11:45] alex-relov opened #8103 "[Bug] Shell,iOS access a disposed object in Shell.TitleView"
### Description
An error occurs when navigating between the top shell tabs
Cannot access a disposed object. Object name: 'TitleViewContainer'
### Steps to Reproduce

1. Clone test project https://github.com/alex-relov/ShellTabBug
2. Navigate to Page2
3. Navigate to Page1

### Basic Information

- Platform Target Frameworks:
  - iOS:  ios sdk 13.1
- Nuget Packages:
Xamarin Forms 4.2.0.848062
- Affe

[2019-10-20 12:13] amirvenus commented on #7937
Hi,

No, I only get this issue on iOS project on physical iPads running iPadOS 13 or iOS 12 in Don’t link mode.

Link all and link assemblies only are working fine.

Many thanks,
Amir

Sent from my iPhone

[2019-10-20 12:24] SagarPanwala commented on #5416
Guys,
This is not resolved yet.
Forks, this is resolved ?
If yes then please provide the solution.

[2019-10-20 12:41] techduggu commented on #5749
@RawoofSharief Never mind. It took a while for me to understand your SF control and I've created a similar control (custom ListView with horizontal scroll) for unit testing purpose of this issue. The test results are positive so far and I will be raising a PR soon.

[2019-10-20 13:26] timahrentlov commented on #7529
Could it be related to this https://github.com/xamarin/Xamarin.Forms/issues/7393#issuecomment-543762244 ?

[2019-10-20 13:54] edamreed commented on #5713
Logged in Mar and issue still exists in Oct.

[2019-10-20 16:54] VladislavAntonyuk commented on #7937
I have switch to Don’t link mode (Debug|iPhone) and issue is not reproduced on my device (iOS 13.1.3)

[2019-10-20 22:19] bmacombe commented on #6403
I've run across this myself and will investigate.  I did do a standard UWP project and see the same behavior so this isn't a forms bug, but a standard UWP combo box behavior.

[2019-10-20 23:13] EvoPulseGaming opened #8110 "CollectionView - no way to remove the checkbox when in "multiple" selection mode"
All your examples show collectionview with "multiple" selection mode, do not have check boxes.

I noticed the examples are 4.1, did something change in 4.2? (even in 4.3.0.908675)

For the life of me, I cannot find a way to remove these checkboxes.

If I go through the Live Visual Tree, and select the ListViewItemPresenter, I can set
CheckMode to overylay, I can get the checkbox to go away, but th

[2019-10-21 00:11] paulb39 commented on #8078
@yshteinm, PureWeen said they aren't going to support it.

"I'm going to close this particular issue and recommend using 3rd party plugins for straight SVG files as this isn't something that the Core is going to support"

[2019-10-21 06:20] MagicAndre1981 commented on #7602
thanks, I can confirm this.

[2019-10-21 06:42] CherryBu commented on #7463
You can see the detailed info from this thread:https://stackoverflow.com/questions/57831703/how-to-show-title-name-on-top-navigation-bar-instead-of-hamburger-icon-in-xamari, now I try to reproduce this issue, it seems that it has been fixed.

[2019-10-21 06:42] PraveenKoildasan opened #8111 "[Bug] How to hide base class public API's from derived class in XAML?"
### Description

I have tried the below way but, it only hides the property from code behind( xaml.cs ) and the property is accessible from Xaml file. Can anyone suggest how to achieve this?

### Steps to Reproduce

public class A
{
    public int Age
   {
      get;
      set;
   }
}

public class B: A
{
      // The below code restricts the Age Property from code behind( xaml.cs ) but, it is acc

[2019-10-21 07:14] Steve887 opened #8112 "[Bug] GetCustomAttribute on inherited property throws IndexOutOfRangeException"
### Description
I ran into an interesting situation trying to get Entity Framework working in my Xamarin application which I have narrowed down to what seems to be a bug internally. This may be the wrong place to post this as it may be better on the Mono, or AspNetCore repos so I will move if required.

The bug occurs when you call GetCustomAttribute on an inherited property's GetMethod ReturnPara

[2019-10-21 07:21] jfversluis commented on #7463
Great to hear that it's fixed! Thanks for letting us know!

[2019-10-21 07:39] bbenetskyy opened #8113 "[Enh] Convert HSL(A) with Double from InvariantString"
### Description
Most of hsl and hsla examples in the web for gradients(linear and radial) has double as first argument.

`Xamarin.Forms.Color.FromHsla` also has the first argument as double.

But `ColorTypeConverter.ConvertFromInvariantString` throw exception when I provide the first argument in double.

Function `ParseColorValue` at line `247` should have `double.Parse` insted of `int.Parse`!

##

[2019-10-21 07:44] hudaIT commented on #8102
Same issue for me too. Additionally it seems to happen even more often when we use **StringFormat** for the text of the label.

[2019-10-21 07:45] SuNNjek opened #8115 "[Bug] Xaml Code generation produces wrong code with generic base class"
### Description
There seems to be a bug in Xaml code generation when using generic EventArgs.

I've created a generic base class containing logic that I want to share between views. This class contains an EventHandler with generic EventArgs which gets fired when the view's value changes.
I've also created two subclasses that inherit from this class.

Now when using these views in Xaml, my code cra

[2019-10-21 07:53] jfversluis commented on #7505
Small update on our end; we have confirmed that this is a bug in UWP and not Xamarin.Forms. Unfortunately, it will probably take a while before it's fixed.

In the meantime we might want to look into working around this. Are there any suggestions from you on how to do that?

As mentioned in my previous comment: while testing this I've uncovered that it works fine whenever we use an image as the co

[2019-10-21 08:46] #4941 closed

[2019-10-21 08:46] #6957 closed

[2019-10-21 09:07] #8111 closed

[2019-10-21 09:14] StephaneDelcroix commented on #8112
Thanks for this report. Unfortunately, there's nothing we can do here, please open an issue to the appropriate project instead.

[2019-10-21 09:14] #8112 closed

[2019-10-21 09:17] StephaneDelcroix commented on #8099
For completeness, please add a link to the WPF documentation supporting that.

[2019-10-21 09:20] StephaneDelcroix commented on #8088
/cc @Redth

[2019-10-21 09:27] Steve887 commented on #8112
Do you know which project would be most appropriate for this?

[2019-10-21 09:30] jfquarto opened #8116 "[Enhancement] CarouselView for WPF platform"
Will the CarouselView also become available for the WPF platform ?

[2019-10-21 09:36] nexxuno opened #8117 "[Bug] hybrid aot crash on startup in android project"
### Description
Starting an android application made with xamarin.forms with hybrid aot and llvm enabled crashes at startup. The configuration worked with previous versions of VisualStudio. The same happens when building the application on a pipeline hosted on azure.

### Steps to Reproduce

Create an empty Xamarin.Forms project

Put the following configuration in the andorid csproj for Release:

[2019-10-21 09:38] qhu91it commented on #2735
Thank you, I try but still get same error, don't know why :(
[code]

[2019-10-21 10:07] haavamoa commented on #8099
This made me doubt myself, as I did not find anything regarding this in the WPF documentation.
I created a private project with `dotnet core 3 wpf` and tried out my converter, with a bound parameter. This throws an exception telling me that I can not use dependency property of `ConveterParameter` becaus it is not of type dependency property.

So I have to say that this was something it was 100% su

[2019-10-21 10:16] #8029 closed

[2019-10-21 10:17] dimigithub commented on #7505
Hello Gerarld,

Sorry for my late reply.

I've tested with the App5 UWP app, and I can not  reproduce the error,
Not with `<AppBarButton.Content><Image Source="bank.png" />                </AppBarButton.Content>`
, Not even with `<AppBarButton.Icon><BitmapIcon UriSource="ms-appx:///bank.png"/>                </AppBarButton.Icon>`

I still can reproduce the error with the 'TestAppToolbar.UWP" from

[2019-10-21 10:22] jfversluis commented on #7505
@dimigithub No problem!

Just to be clear: I did not mean that you would have to convert your app to a UWP app and not use Xamarin anymore. I can see how it might have gotten you confused by how I put it, sorry about that!

At this point I'm trying to figure out how we can fix this on the XamForms side without having to wait before this bug is fixed in UWP. One of the possible solutions is to make

[2019-10-21 10:56] duzenko commented on #2751
Flutter for now. At least they know where they're heading.
Ionic? Lol, I want to go back to 2014.

[2019-10-21 11:22] HalfWayVector opened #8118 "[Bug] CarouselView.PositionChangedCommand not triggered on last item when CarouselView.PeekAreaInsets not zero"
### Description
Method pointed by **_CarouselView.PositionChangedCommand_** attribute doesn't seem to be triggered on the last carousel item when **_CarouselView.PeekAreaInsets_** is not zero. It works as expected when value is zero.

### Steps to Reproduce

1. Access [this](https://github.com/HalfWayVector/CarouselViewBug) repository.
2. Launch the sample on Android.
3. Scroll to the last item (4

[2019-10-21 11:33] dimigithub commented on #7505
Hi @jfversluis,

Ok, sorry I misunderstood.
Yes, that's definitely an option. The different appearance is not an issue for us.

Thanks.

[2019-10-21 12:14] davidbuckleyni commented on #7015
I would like to look at this if that would be ok team ?

[2019-10-21 12:17] davidbuckleyni commented on #7015
Could someone from the team assign me to this thanks.

[2019-10-21 12:46] pingzing opened #8119 "[Bug] Binding errors are not reported to the developer"
### Description
Is there an echo in here?

`Application.LogWarningsToApplicationOutput` was introduced in Xamarin Forms 3.2 as a `bool` flag to enable or disable logging to the developer when {Binding} expressions failed.

In XF 3.4, the release notes noted that it didn't work because of #3873: Debug calls get stripped from the XF release binaries.

A later PR was created and merged to expose a `L

[2019-10-21 12:57] spruceDevelopment commented on #3168
Setting 'retain element' is solving this problem by creating another. It is not recommended.

DuongQuocNghi solution is right. The problem here is that every FormattedString and even every span instances are "Single use".

Everytime your cell is drawn - OnBindingContextChanged is called.

And this FormattedLabel has some specific behavior(i guess its a **bug**) that you must return new Instance of

[2019-10-21 13:26] joshykautz commented on #5497
No problem - Thank you for all the hard work @PureWeen  - we really appreciate it!

[2019-10-21 13:53] jfversluis commented on #8119
I remember this! To be perfectly honest I didn't really follow the whole path after our little collaboration.

Looking into this now it seems something strange has happened. There is indeed mentioned that you will need to use the `LogWarningsListener`, but that is nowhere to be seen.

From the looks of it, it was supposed to be implemented in #4539, but the code only removes the old way, add the o

[2019-10-21 13:55] StephaneDelcroix commented on #8119
@jfversluis there was a merge issue I think, feel free to revisit

[2019-10-21 14:07] jfversluis commented on #8119
I'll see if I can track down the lost change, but from the first glance I think it's lost.

If that's the case, I'll recreate it

[2019-10-21 14:08] Sonic3R commented on #7505
@jfversluis Is a good idea but not for us because most UI are in shared Forms library.

We have like:

`<ToolbarItem Order="Primary" Command="{Binding ABCDECommand}" Text="{Binding [ATitle]}" Icon="{x:OnPlatform iOS='folder.png', UWP='Assets/folder.png'}" />`

[2019-10-21 14:16] jfversluis commented on #7505
@Sonic3R what is you concern here?

Sorry, I might have been causing some confusion by mixing in UWP controls here. Any solution/workaround will ideally mean that you do not have to change any code in your shared library. Or very minimal at least. Code sharing will still work, no or minimal changes on your project.

The thing I am trying to figure out here is how we can solve this in our Forms cod

[2019-10-21 14:38] AbdellahOusrhireDev commented on #8082
@samhouts
I upgraded Xamarin.iOS to 13.4.0.2
I'll do some testing and see if it solves the issue as I've seen this as fixed on the release notes
https://docs.microsoft.com/en-us/xamarin/ios/release-notes/13/13.4#issues

[2019-10-21 14:43] Redth commented on #8088
We are looking at adding some of these things, but it certainly makes sense to add more of them to Essentials.

[2019-10-21 15:05] MarcKammermann opened #8120 "[Enhancement] Directional animations when using PushModalAsync"
## Summary
It would be great if one could decide the direction of the page animation when pushing a page onto the stack. Right now it goes from bottom to top and it cant be changed at all. The boolean parameter could just be changed to a directional statement or a state of not animating at all.
In my opinion it doesnt make any sense at all to not be able to determine this parameter.

[2019-10-21 15:10] MarcKammermann opened #8121 "[Enhancement] PushModalAsync: Directional Transition Animations"
## Summary
Would be very helpful if one could style the animation when pushing a page onto the stack.
Right now its animating from bottom to top and theres no possibility to change this at all.

## API Changes

The boolean parameter when performing the push could be changed to a directional statement or the state of no animation at all.

e.g.
<code>[...].PushModalAsync(new Page_A(), Left);</code>

[2019-10-21 15:10] MarcK95 opened #8122 "[Enhancement] PushModalAsync: Directional Transition Animations"
## Summary
Would be very helpful if one could style the animation when pushing a page onto the stack.
Right now its animating from bottom to top and theres no possibility to change this at all.

## API Changes

The boolean parameter when performing the push could be changed to a directional statement or the state of no animation at all.

e.g.
<code>[...].PushModalAsync(new Page_A(), Left);</code>

[2019-10-21 15:12] MarcK95 opened #8123 "[Enhancement] PushModalAsync: Page transition animations"
## Summary
Would be very helpful if one could style the animation when pushing a page onto the stack.
Right now its animating from bottom to top and theres no possibility to change this at all.

## API Changes

The boolean parameter when performing the push could be changed to a directional statement or the state of no animation at all.

e.g.
<code>[...].PushModalAsync(new Page_A(), Left);</code>

[2019-10-21 15:25] attrib75 commented on #8069
hi, how can I do so privately?  I can't share this in public.  thanks

[2019-10-21 15:25] attrib75 commented on #8069
Also, since you've tagged it with 'needs repro' are you unable to reproduce this?

[2019-10-21 15:31] toussam commented on #2616
@techduggu : I didn't. The issue was observed on one project of my previous company. Since I am no longer working for them, I didn't follow up the issue.

If you tried the given sample with the latest version of Xamarin.Forms and it's working as expected then I am guessing that it was fixed.

[2019-10-21 15:58] pauldipietro opened #8125 "[Bug] CollectionView throws InvalidOperationException on UWP"
### Description

Found a startup crash that occurs as of the latest nightly when doing some testing (root cause could have been introduced prior). Downgraded to 4.3-pre3 and it's able to start as normal.

### Steps to Reproduce

1. Grab the WeatherColors repo (https://github.com/davidortinau/weathercolors)
2. Update to the latest nightly and run the project

### Expected Behavior

App starts as ex

[2019-10-21 16:29] PureWeen opened #8126 "Investigate removing/changing all uses of Stack<T> and Queue<T>"
## Summary
These types were moved
https://github.com/mono/mono/pull/11511

If you compile anything on mono after this move it will fail to run on anything running mono before the move

Which is what led to the following issue https://github.com/xamarin/Xamarin.Forms/issues/7602. VS 2019 includes the moved types whereas VS 2017 (and VS Mac versions pre 8.3)  don't. So in order to utilize newer VS 2

[2019-10-21 17:07] acaliaro opened #8127 "[Bug] Visual Studio 2019 Create new configuration from "Release" does not archive"
### Description
I have an XF project. I would like to create a new "Configuration" starting from Release. I create one "ReleaseTest" copying from "Release". I switch from "Release" to "ReleaseTest" and try to "Archive" my Android project but it fails with a message like **Please ensure that you are using a release configuration and that "Use Shared Mono Runtime" option unchecked.** (It's in italia

[2019-10-21 17:15] hartez commented on #7804
ItemSizingStrategy should be moved up into StructuredItemsView.

[2019-10-21 17:20] hartez commented on #8121
Closing this in favor of #8122.

[2019-10-21 17:20] #8121 closed

[2019-10-21 17:20] hartez commented on #8120
Closing this in favor of #8122.

[2019-10-21 17:20] #8120 closed

[2019-10-21 17:26] krzysztof-jozwiak commented on #2444
Same here on Xamarin.Forms 4.2.0.848062
So far only on Huawei P10 lite - Android 7.0

We have a CustomLaberRender like below. We have implemented solutions with adding additional constructors and setting Forms.SetFlags("UseLegacyRenderers");. Will be monitoring if this helps.
`
[assembly: ExportRenderer(typeof(CustomLabel), typeof(CustomLabelRenderer))]
namespace App.Droid
{
    class CustomLabelR

[2019-10-21 18:01] rmarinho commented on #8088
Awesome.

[2019-10-21 18:05] PureWeen opened #8129 "[Bug] Adding children to iOS VisualElementPackager has O(N^2) performance and thrashes the native layer"
### Description

Every time a single child is added
https://github.com/xamarin/Xamarin.Forms/blob/e9eb9fe56094504e37e8a63691bfa4639876d60c/Xamarin.Forms.Platform.iOS/VisualElementPackager.cs#L48

EnsureChildrenOrder is called
https://github.com/xamarin/Xamarin.Forms/blob/e9eb9fe56094504e37e8a63691bfa4639876d60c/Xamarin.Forms.Platform.iOS/VisualElementPackager.cs#L108

Which then loops through all

[2019-10-21 18:20] Mikilll94 commented on #8028
Hey @kingces95! Why have you labeled this "needs-repro"? It is fairly easy to reproduce that. I have even provided a project with reproduction.

[2019-10-21 18:24] Mikilll94 commented on #7323
When deprecating UIWebView and replacing it with WkWebView you should consider this issue
https://github.com/xamarin/Xamarin.Forms/issues/8028

You can break people's apps if you just replace UIWebView with WkWebView

[2019-10-21 18:27] cabal95 commented on #7323
@Mikilll94 While the point is valid, the simple fact is that Apple will begin to reject binaries that still use UIWebView. So even if Xamarin did nothing, it would be a breaking change anyway because Apple will (probably in the next 9 months) not let you update your app without making that change anyway.

[2019-10-21 18:36] Mikilll94 commented on #7323
@cabal95
That's right.

But I wanted to show that there is an issue with WkWebView which is very crucial and will affect many developers and right now there is no workaround for it.

[2019-10-21 18:36] adrianknight89 commented on #8129
Lately, CollectionView wrapped by RefreshView is freezing on iOS (with only a few items) when I scroll to the bottom though it may be an entirely different issue. This is an interesting find. On first look, I definitely do not like Forms calling `BringSubviewToFront` for every child.

[2019-10-21 18:39] Mikilll94 commented on #8028
Please remove also "unverified"

[2019-10-21 18:57] joshp-iFit opened #8130 "[Bug] Xamarin Shell Android App Crashes On Startup When Built Using Azure Pipelines"
### Description
The APK that comes from a Xamarin.Forms Shell project when compiled through Azure Pipelines crashes on startup.  Apps compiled and deployed locally through Visual Studio run as expected.
More information can be found here: https://forums.xamarin.com/discussion/168516/azure-devops-android-forms-app-using-shell-crashes-when-built-by-the-azure-pipeline

### Steps to Reproduce

1. Crea

[2019-10-21 18:58] renzska commented on #8041
I am experiencing this same issue. I used an Effect to modify the SearchBar to have a white background in the meantime (stuck it in a border effect that I had created temporarily).

UISearchBar.SearchTextField.BackgroundColor = UIColor.White;

[2019-10-21 18:59] PureWeen commented on #8130
@joshp-iFit

Have you tried deploying the release configuration that you are using on the pipelines locally?

[2019-10-21 19:14] joshp-iFit commented on #8130
Yes, and that works as expected(no crash).

[2019-10-21 19:28] markdou812 opened #8131 "[Bug] GridLength of 0 no longer hides/clips grid row content"
### Description
Setting the height of a grid row to an absolute size of 0 no longer properly hides/clips the composite control content in that row.
I validated that this is a bug in XF 4.2.0.848062 and is still broken in 4.3.0.851321-pre3.
This used to work in XF 3.4.0.1008975.

### Steps to Reproduce

1. Create a composite control (e.g. containing a label and an image)
2. Add the composite contro

[2019-10-21 19:36] vsfeedback opened #8132 "Strange keyboard behavior when using controls inside ListView Footer"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/780641/strange-keyboard-behavior-when-using-controls-insi.html)._

---
When putting multiple Entrys, Pickers, etc inside the Footer of a ListView, I get inconsistent behavior. Often, the keyboard I specify for the entry will initially appear, but then a different one will a

[2019-10-21 19:37] vsfeedback opened #8133 "Image display problem with Image tag in iOS XAML"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/757710/probleme-daffichage-dimage-avec-la-balise-image-da.html)._

---
Hello

I want to inform you of a bug I encountered, the image tag does not work on iOS, the images are external to the application. Downloaded from a server via the url of the image, in https.

here's an

[2019-10-21 19:37] vsfeedback opened #8134 "Setting the Alpha of ContentPage's BackgroundColor is broken."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/722708/setting-the-alpha-of-contentpages-backgroundcolor.html)._

---
#### What steps will reproduce the problem?
1. On a Shell Project
2. Add a *ContentPage* to your project
3. Change the *BackGroundColor* of the *ContentPage* to black and pick an **Alpha** of your choice

[2019-10-21 19:44] PureWeen commented on #8130
@joshp-iFit

What are the details of the pipeline you are using to build this with?

Is it being build on OSX? Windows (VS2017 or VS 2019)?

[2019-10-21 19:49] #7825 closed

[2019-10-21 19:50] #7303 closed

[2019-10-21 19:56] LakeLobster commented on #8132
I'm the person that submitted the visual studio bug report. I can provide additional details upon request.

Notably, I've found this issue on a Motorola Moto G4 (Android 7.0), as well as a Samsung Galaxy S7 (8.0). I have not experienced it on a Pixels 3 (android 9.0)

If you have one of those phones, here is an example that seems to trigger the behavior.

If you build these two files into a bare-b

[2019-10-21 20:11] lavilaso commented on #8123
In [#6033](https://github.com/xamarin/Xamarin.Forms/issues/6033) they are working on an api specification for this.

[2019-10-21 20:11] lavilaso commented on #8122
In [#6033](https://github.com/xamarin/Xamarin.Forms/issues/6033) they are working on an api specification for this.

[2019-10-21 20:15] joshp-iFit commented on #8130
It's using `macos-latest` - OS X 10.14.6, VS for Mac 2019 (8.3.1.18). And the standard XamarinAndroid task to compile with.
[code]

[2019-10-21 20:18] samhouts commented on #6996
@jingliancui This should be resolved in 4.4.0. The first prerelease version should be available in about two weeks. Thanks!

[2019-10-21 20:47] PureWeen commented on #8130
@joshp-iFit can you try the latest 4.3 that came out?

https://www.nuget.org/packages/Xamarin.Forms/4.3.0.908675

there were a number of large reworks on some Android Shell bits with this one

[2019-10-21 20:52] #7002 closed

[2019-10-21 21:12] hartez commented on #8117
@nexxuno I've been trying to replicate this problem, but I have had no luck so far. I've got a brand new Xamarin.Forms project, I've set all the options in the Release configuration to match yours, and I've deployed it to a Samsung device (a Galaxy Tab S3), but no crash.

Can you attached a small repro project that demonstrates the issue? Perhaps I'm missing a detail.

[2019-10-21 22:41] hartez commented on #8131
@markdou812 Do you have any screenshots of what this should look like when it's behaving as you expect? I downgraded the project to 3.4.0.1008975 and ran it, but it looks the same as it does with 4.2.

[2019-10-21 23:06] hartez commented on #7712
@varyamereon Could you post the code for your search handler? Maybe that will give us a clue what it happening.

[2019-10-21 23:44] drewgillies commented on #5038
Thanks for the issue. I'm doing a sweep of Xamarin.Forms previewer issues to close them as we're focusing on areas with greater impact for now. We will keep the issue on file, however, for future reference. Thanks again!

[2019-10-21 23:49] LeoJHarris commented on #2805
Ive run into this issue as well, if I have a ViewCell and attempt to update bindable properties in the code behind for a viewcell nothing changes while the app is running .

For example something like this:

MyViewCell.xaml.cs
[code]
MyViewCell.xaml
[code]

When I attempt to update the values for MainTaskStateGlyph and MyViewCell.xaml.cs nothing is updated in the UI... if the above code is correct

[2019-10-22 00:02] LeoJHarris commented on #5968
Using Xamarin.Forms 4.3.0.908675 seems to have resolved this issue for android. iOS still seems to have the issue though when I ran on that platform.

[2019-10-22 00:03] PureWeen commented on #5968
@LeoJHarris can you log an issue with a repro please?

[2019-10-22 00:05] LeoJHarris commented on #5968
@PureWeen yes I can do that shortly. Thanks

[2019-10-22 00:07] LeoJHarris commented on #5968
@PureWeen sorry I forgot to mention I was using Xamarin.Forms.Visual.Material 4.3.0.908675 as well.

[2019-10-22 00:19] sankar7047 commented on #7280
Is there any work-around for Android in the mean team?

[2019-10-22 00:38] hartez commented on #8061
Can confirm. At WidthRequest 64, it's fine; at 63, half the right-side border is missing; at 62, it's completely gone.

[2019-10-22 00:59] #5038 closed

[2019-10-22 01:00] drewgillies commented on #5540
Thanks for the issue. I'm doing a sweep of Xamarin.Forms previewer issues to close them as we're focusing on areas with greater impact for now. We will keep the issue on file, however, for future reference. Thanks again!

[2019-10-22 01:01] #5540 closed

[2019-10-22 01:02] drewgillies commented on #6515
Thanks for the issue. I'm doing a sweep of Xamarin.Forms previewer issues to close them as we're focusing on areas with greater impact for now. We will keep the issue on file, however, for future reference. Thanks again!

[2019-10-22 01:03] drewgillies commented on #6520
Thanks for the issue. I'm doing a sweep of Xamarin.Forms previewer issues to close them as we're focusing on areas with greater impact for now. We will keep the issue on file, however, for future reference. Thanks again!

[2019-10-22 01:03] #6515 closed

[2019-10-22 01:05] #6520 closed

[2019-10-22 01:07] drewgillies commented on #7658
Thanks for the issue. I'm doing a sweep of Xamarin.Forms previewer issues to close them as we're focusing on areas with greater impact for now. We will keep the issue on file, however, for future reference. Thanks again!

[2019-10-22 01:15] #7658 closed

[2019-10-22 01:39] LeoJHarris commented on #2009
@kingces95 what if the viewcell is defined in in the Resources of the page itself i.e.

[code]

Im getting the same error as @Magendanz `'RecycleElementAndDataTemplate requires DataTemplate activated with ctor taking a type.'` and I'm not sure how to resolve.

My ChatTemplateSelector looks like this:

[code]

[2019-10-22 01:48] scriptBoris commented on #8054
The question is still relevant.

[2019-10-22 02:48] xamarindevelopervietnam opened #8137 "[Bug] XF 4.3 Entry HorizontalTextAlignment display wrong position"
### Description
Encounted since 4.3 pre1, Entry HorizontalTextAlignment display wrong position

### Basic Information

- Version with issue: 4.3
- Last known good version: 4.2
- IDE: VS 16.3.4

### Screenshots
4.2
![screenshot-2019-10-22_09 40 27 578](https://user-images.githubusercontent.com/16578966/67256425-18902780-f4b1-11e9-8bb4-7945390dc350.png)
4.3
![screenshot-2019-10-22_09 27 18 38](https

[2019-10-22 02:54] xamarindevelopervietnam commented on #6033
that's great!

[2019-10-22 03:03] jingliancui opened #8138 "[Bug] CollectionView Layout issue on android after do some scroll (not test on ios)"
[CollectionViewSample.zip](https://github.com/xamarin/Xamarin.Forms/files/3753673/CollectionViewSample.zip)

steps:
1. run app
2. do some scroll

other info:
Xamarin.forms 4.3.0.908675

expect:
![1](https://user-images.githubusercontent.com/16309962/67256752-3bbfd480-f4bb-11e9-9c8f-46fdc08448e4.jpg)

result:
![2](https://user-images.githubusercontent.com/16309962/67256761-4aa68700-f4bb-11e9-9c8c-8

[2019-10-22 03:07] adrianknight89 opened #8139 "Intellisense cannot discover Orientation for LinearItemsLayout and GridItemsLayout"
### Description

The `Orientation` property seems to be a constructor parameter unlike item spacing properties which are bindable. Intellisense (currently tested using ReSharper) cannot discover `Orientation`. The examples [here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/collectionview/layout) use `Orientation` as a markup attribute, and it is confusing to the user if I

[2019-10-22 03:12] shanranm commented on #7989
I like it! Ideas' simple a page should handle it own title view!

[2019-10-22 03:17] hartez commented on #8028
This can be worked around using a custom renderer, subclassing `WkWebViewRenderer`, and overriding the `DecidePolicy` method to check the `navigationAction` parameter for the target and either opening the URL in the same window or an external one. (Some references [here](https://stackoverflow.com/questions/25713069/why-is-wkwebview-not-opening-links-with-target-blank) and [here](https://developer.

[2019-10-22 04:00] xamarindevelopervietnam commented on #8137
I set HorizontalTextAlignment ="End" for this case.

[2019-10-22 04:06] joshp-iFit commented on #8130
I just updated to that version and I am still seeing this issue unfortunately, tested an APK from Appcenter as well and the result is the same.

[2019-10-22 04:14] LeoJHarris commented on #5087
Where a label has `FormattedString` and `LineBreakMode="TailTruncation"` in listview DataTemplate is causing the nursery to become full and causing the page to become completely unresponsive until I have to close the whole app, after I removed the `LineBreakMode="TailTruncation"` the app worked again. Anyone else notice the same?

GC_MINOR: (Nursery full) time 24.41ms, stw 25.18ms promoted 484K ma

[2019-10-22 05:53] acaliaro opened #8140 "[Bug] Entry HorizontalTextAlignment does not work"
### Description
Setting HorizontalTextAlignment in an Entry does not work
### Steps to Reproduce

1. Add an Entry

[code]

2. Set HotizontalTextAlignment to "Center"

### Expected Behavior
Text should appear centered
### Actual Behavior
It's left aligned

### Basic Information

- Version with issue: 4.3.0.908675
- Last known good version: 4.2.0.xxxxx
- IDE: Visual Studio 2019
- Platform Target Fra

[2019-10-22 06:29] nexxuno commented on #8117
Sure, here it is:

[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/3754036/App1.zip)

[2019-10-22 06:30] smartprogrammer93 commented on #6033
Yes please we need this feature more than anything. I already tried to use this lib : https://github.com/GiampaoloGabba/Xamarin.Plugin.SharedTransitions ..
But it was so buggy on the iPhone and did not work as expected. This is a very desirable feature as it is always required to produce nice UI for modern apps

[2019-10-22 06:32] OCP-team commented on #4695
If anyone has a workaround for this problem, I would love to know!

[2019-10-22 06:40] JunielKatarn commented on #7886
Did this change make it into the just-released `4.3.0` NuGet?
I'm getting that same exception using Xamarin.Forms `4.3.0.908675`.

[2019-10-22 06:42] xamarindevelopervietnam commented on #6033
yes, @davidortinau , @jsuarezruiz we realy need them to make mordern app:
- https://github.com/xamarin/Xamarin.Forms/issues/1719#
- https://github.com/xamarin/Xamarin.Forms/issues/6033
- https://github.com/xamarin/Xamarin.Forms/issues/1714
- https://github.com/xamarin/Xamarin.Forms/issues/1698

[2019-10-22 07:10] xamarindevelopervietnam commented on #8140
related to https://github.com/xamarin/Xamarin.Forms/issues/8137

[2019-10-22 07:10] PrvnKmr opened #8141 "[Enhancement] Force localization for DatePicker"
### Description
Localization doesn't work inside the DatePickerRenderer. I am trying to change the language within the app. I set the Locale inside the renderer, but the DatePicker still shows the title in English

### Steps to Reproduce

1. Add a custom date picker extending the DatePickerRenderer class in Android.
2. Set the locale to "de-DE"
3. Tap on the date picker and verify the language ins

[2019-10-22 07:35] mohachouch commented on #8064
Hi @Muthukumaran-G , Thank you for reporting this bug.

WPF renderers work differently than UWP renderers.

Xamarin Forms controls are converted to a single WPF control.

A Label is a TextBlock without the container that UWP adds.

Unfortunately the TextBlock component does not allow to center a text vertically. : https://stackoverflow.com/questions/1491649/text-vertical-alignment-in-wpf-textblock

[2019-10-22 07:46] jfversluis commented on #8119
Opened a PR for it to get this in here forever!

[2019-10-22 07:54] jfversluis commented on #7886
I think it just missed it. Sorry about that!

Be on the lookout for 4.4-pre1 which should be here soon or the first 4.3 service release that should definitely have this change

[2019-10-22 08:03] TarasBounty opened #8143 "[Bug] [Xamarin.Forms] [iOS] DatePicker/TimePicker NullReferenceException on iOS 9.0"
### Description

All works as expected on iOS versions higher than 10.0.
But on iOS 9.0 DatePicker/TimePicker throws NullReferenceException.

### Steps to Reproduce

1. Create a Xamarin.Forms 4.2 project.
2. Add DatePicker to any page.
3. Run project on iPhone Simulator with iOS version 9.0.

### Expected Behavior

App runs. Datepicker shows.

### Actual Behavior

App crashes on start with NullRef

[2019-10-22 08:14] davidbritch commented on #8119
I'm not disagreeing with the issue above, as I remember some of it occurring.

However, I've noticed recently when I've had binding errors that they were getting logged to the application output window (along the lines of binding to object.property failed). Having said that, I've just tried to produce a binding error message and have failed.

[2019-10-22 09:22] goedware commented on #8078
I support official support for SVG (or other vector format) in Forms. Vector images are important for our apps which we try to make adaptive to resolution/size etc. And I also know that there are plugins to provide us that feature, but it would be nice and handy to have it in the Core. Android also has it at it's core with Vector Drawables. And the official support about SVG can change of course,

[2019-10-22 10:08] TarasBounty commented on #8143
Possible duplicate of [#6946](https://github.com/xamarin/Xamarin.Forms/issues/6946)

[2019-10-22 10:08] Elashi commented on #8072
I found that we can Hide the navbar using `Shell.NavBarIsVisible="False"`
Seems like that `NavigationPage.SetHasNavigationBar` is not effective in Shell but while debugging the problem, I noticed that this property `NavigationPage.SetHasNavigationBar` is checked during pushing modal pages.  I think this is worth investigation.

I think this declares this issue resolved.

[2019-10-22 10:11] akuehntopf commented on #1730
Will it be possible to access the live preview stream data with this control?
This would enable us to stream the data to barcode scanners, face recognizers, etc.

[2019-10-22 10:18] joeljaisi opened #8145 "[Bug] System.ObjectDisposedException: 'Cannot access a disposed object. Object name: 'Android.Support.Design.Widget.BottomSheetDialog'.'"
With release 4.3 of Xamarin Forms, a bug has surfaced when using the Shell App template. When I have many pages in the ToolBar, about 4 tabs show at the bottom of the shell and the others will be under the 'More' ellipsis. If you open the ellisis and select a page, the app crashes with the error "System.ObjectDisposedException: 'Cannot access a disposed object. Object name: 'Android.Support.Design

[2019-10-22 10:29] Suplanus commented on #7680
There is a quick fix in the [Xamarin forum](https://forums.xamarin.com/discussion/170508/listview-not-showing-a-selected-row-color-after-ios-13):

[2019-10-22 10:58] kurianov-pavel commented on #2699
Has anyone found a solution to this problem?

[2019-10-22 11:06] devology-rob commented on #7478
Argh! I've been struggling to fix this issue thinking it's my app 🤦‍♂️

[2019-10-22 12:04] Mikilll94 commented on #8028
Could you provide an example code of this custom renderer?

[2019-10-22 12:17] jsuarezruiz commented on #3171
We have the implementation of this Spec in: https://github.com/xamarin/Xamarin.Forms/pull/7603

After implementing the Spec I have several ideas that would improve the possibilities of the SwipeView.

Right now each SwipeItem allows basic customization; the background color, text, icon, etc. It would be nice to have a more customizable SwipeItem, using a View.

[code]

_NOTE: I have a small protot

[2019-10-22 12:36] paulius1994zukas commented on #7654
Issue still persists with our configuration:

Latest Xamarin.Forms version (4.3.0.908675);
iPad Pro (3rd generation), Software version: 13.1.3;
Xcode version 11.1;
Visual Studio for Mac, Version 8.3.4 (build 8)

[2019-10-22 13:38] KSemenenko commented on #8054
@scriptBoris you need override OnBackButtonPressed() in your page.

[code]
And you need to return true or false depending on whether you want to do the navigation back or not.

[2019-10-22 13:39] melimion opened #8148 "[Bug] WPF Entry initial TextColor ignored when typing"
# Description
Initial text color on Entry is ignored and typed text always black.

### Steps to Reproduce

1. I'll submit a PR with test a moment later

### Expected Behavior
Typed text should be equal to TextColor
### Actual Behavior
Typed text is black

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - WPF
- Android Support Library V

[2019-10-22 13:52] jfversluis commented on #8028
@Mikilll94 First, create your own WebView inheritance in your shared project like this

[code]

Consume it, again in your shared project, like this:

[code]

Then, in your iOS project, create a custom renderer like this

[code]

Effectively what this does is check if the link that is clicked has `target = "_blank"` and if so, it resends the requests but now in the same screen.

[2019-10-22 13:59] varyamereon commented on #7712
Having tried to isolate the problem, I have found the issue only occurs when using a third party control. So whether the issue is with the third party control or the search bar I'm not sure. I will contact the publisher of the control directly, but [here](https://github.com/varyamereon/ShellSearchIssue) is a link to a sample app demonstrating the issue.

[2019-10-22 14:05] Brosten opened #8150 "[Bug] [UWP] Picker control has unwanted margin on top in Xamarin.Forms 4.3.x"
# Description
When using a Picker control in UWP you get an unwanted margin on top of the picker.

### Steps to Reproduce
    <StackLayout>
        <Label Text="Welcome to Xamarin.Forms!" BackgroundColor="Yellow"/>
        <Picker BackgroundColor="Green"/>
    </StackLayout>

### Expected Behavior
The picker should en up right under the label (it does in xamarin forms 4.2.x)

### Actual Behavior
Y

[2019-10-22 14:24] DanielGlos commented on #7556
How is this going?

[2019-10-22 14:59] WilkoSki opened #8151 "[Bug] Xamarin Forms 4.3.0.908675 freezes when replacing the main page following app resume (Android only)"
This is a re-opening of the following bug:

https://github.com/xamarin/Xamarin.Forms/issues/7661

This fix was pulled into 4.2 but never released in 4.2 but seems to be present in 4.3.x builds.

Put the app into the background and resume the application.  Within the OnResume method try to set the mainpage to a new mainpage (navigation page), iOS works fine, goes to the new main page, but Android a

[2019-10-22 15:52] PureWeen commented on #7556
Releases went out yesterday

[2019-10-22 15:59] markdou812 commented on #8131
Apparently my sample solution didn't accurately reflect my production app issue. I feel like I can work around it for now but I'm am curious about whether or not this is the expected behavior - i.e. shouldn't collapsing the grid row hide the content in the row?

[2019-10-22 16:19] codemillmatt commented on #7714
Also affecting `CarouselView` (which makes sense). 😄  I've only noticed it happening when navigating by the `Shell` flyout. Regular pushing onto the nav stack & then popping off does not cause it - even if reloading the `ItemsSource`. (xam.ios 13.8.1.1)

[2019-10-22 16:32] VladislavAntonyuk opened #8152 "[Bug] ToolbatItem command is not executed"
Add toolbar item to the ContentPage
<ToolbarItem
            Command="{Binding MyCommand, Source={x:Reference MyContentPage}}"
            IconImageSource="MenuIcon.png"
            Order="Primary"
            Priority="0"
            Text="Item" />

Expected behavior:
Command is executed

Current behavior:
Command is not executed

if I add Clicked event Clicked="MenuItem_OnClicked" and in code be

[2019-10-22 16:39] saamerm opened #8153 "[Enhancement] Embedding XF-Open Xamarin Forms "Page" from Xamarin.Android"
## Summary
As you can see in the current Xamarin PageExtensions available for [Android][2] and [iOS][3], Xamarin allows you to convert any type of `Xamarin.Forms`(XF) `Page` to a native `ViewController` in iOS, but it only allows converting a XF `ContentPage` to a native `Fragment` in Android.

The XF `Page` plays a major role when you are trying to implement an XF `NavigationPage` or `TabbedPage`

[2019-10-22 16:42] norton287 commented on #7556
Thanks @PureWeen

[2019-10-22 16:46] PureWeen commented on #7654
@paulius1994zukas can you attach a repro?

[2019-10-22 17:09] mohachouch commented on #8087
Hi @samhouts, bug verified. You can assign me on this issue.

[2019-10-22 17:17] adrianknight89 commented on #8139
@jsuarezruiz Does this also need the `a/collectionview` label added?

[2019-10-22 17:19] pinyo-rungoral opened #8154 "[Bug] IsClippedToBounds=False (at parent container) not render ScrollView on Android"
### Description
Parent Layout such as StackLayout, Frame that set IsClippedToBounds=False clip ScrollView
### Steps to Reproduce

1. Add StackLayout to MainPage.xaml and then set IsClippedToBounds="False", HeightRequest="100"
2. Add ScrollView to StackLayout
3. Add new one StackLayout to ScrollView
4. Add more Label to overflow root StackLayout
![image](https://user-images.githubusercontent.com/43

[2019-10-22 18:37] Mikilll94 commented on #8028
@jfversluis Thanks, a lot :)

[2019-10-22 19:00] adrianknight89 commented on #8137
Unfortunately, this has been an ongoing issue for Forms (mostly on Android). It seems the controls with horizontal text alignment sometimes lose their Gravity upon user action.

#7538 , #4976 , #4679 , #1557

[2019-10-22 19:01] jBijsterboschNL opened #8155 "[Bug] CollectionView ItemSelected only binds to List<object> and not to custom objects"
### Description
When binding `List<FilterOption>` (which is a custom object) to the SelectedItems property of the CollectionView, the pre-selection doesn't work properly. It only works if you bind the SelectedItems property to a `List<object>`. The online documentation also uses a `List<object>` to bind to the SelectedItems property of a CollectionView, but I was expecting to be able to use my own

[2019-10-22 19:41] Sebastian1989101 opened #8156 "[Bug] [iOS] Label with HTML does not replace Umlaut characters properly"
### Description

The HTML content is not correctly displayed because the label does not use UTF-8 (or escape the Umlaut characters like Ä, Ö, Ü, ä, ö, ü and ß) as I would expect it (because this display issue is not the case on the normal text input and neither is it on Android).

### Steps to Reproduce

1. Place a Label with HTML content containing one or multiple of the mentioned characters

###

[2019-10-22 19:42] Sebastian1989101 opened #8157 "[Bug] [iOS] Label with HTML does not use applied text color"
### Description

The HTML is always black on iOS even if TextColor is set to white.

### Steps to Reproduce

1. Place a Label with HTML content and a different text color

### Expected Behavior

Should display the text properly

### Actual Behavior

Always black text color

### Basic Information

- Version with issue: 4.3
- Last known good version: -
- IDE: Latest stable VS for Mac Enterprise
- Pl

[2019-10-22 19:44] Sebastian1989101 opened #8158 "[Bug] [iOS] Label with HTML does not respect the TextAlignment properties"
### Description

The HTML is always left oriented even with HorizontalTextAlignment is set to center

### Steps to Reproduce

1. Place a Label with HTML content and set the HorizontalTextAlignment property

### Expected Behavior

Should display the text properly

### Actual Behavior

Always left oriented

### Basic Information

- Version with issue: 4.3
- Last known good version: -
- IDE: Latest s

[2019-10-22 19:46] Sebastian1989101 opened #8159 "[Bug] [iOS] Label with HTML does use a random font (Times New??)"
### Description

The HTML is using a different default font as anything else. And it is not the default system font.

### Steps to Reproduce

1. Place a Label with HTML content

### Expected Behavior

Should display the text properly

### Actual Behavior

Seems to be some kind of Times New Roman always instead of the normal default system font

### Basic Information

- Version with issue: 4.3
- La

[2019-10-22 20:06] ChaseMarsh commented on #1714
@davidortinau Just curious, has something along the lines of WPF's Adorners been considered? I'd love to be able to have access to a renderer layer for picker popups, radial menus, error marking, etc.

[2019-10-22 20:40] hartez commented on #8158
@Sebastian1989101 Could you tell us which part of your screenshot is using the HTML feature? Or perhaps add some indicator on the screenshot? Or post the markup/code?

[2019-10-22 20:50] adrianknight89 commented on #8095
Another thing to keep in mind is using diffable data to avoid issues like (which has come up several times on Forms already):

https://medium.com/snowdog-labs/first-look-at-diffable-data-sources-in-ios-13-d7d4ef0e0cb3

[2019-10-22 20:59] hartez commented on #8150
Confirmed.
[_8150 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3758555/_8150.Repro.zip)

[2019-10-22 21:12] VladislavAntonyuk commented on #8054
@KSemenenko this code is not executed

[2019-10-22 21:19] Sebastian1989101 commented on #8158
@hartez as mentioned directly above the screenshot, the part with the translators (the only outstanding part with the wrong font and color) is the label with the html content.

[2019-10-22 21:21] toussam commented on #2616
@techduggu : I took the time, this evening, to download the sample and to test with the latest version of Xamarin.Forms, as you recommended. The issue is still present. ;)

[2019-10-22 21:24] Depechie commented on #8150
Seems the Header will always be rendered on UWP even though no Picker Title property is filled in... I submitted PR #8160 to amend this.

[2019-10-22 23:16] PureWeen commented on #6307
No longer an issue on 4.2+

[2019-10-22 23:16] #6307 closed

[2019-10-22 23:16] observer1 opened #8161 "[Bug] On WPF ToolbarItem.IsEnabled = false does nothing"
### Description
Changing the isEnabled property of a ToolbarItem in code to false does nothing
### Steps to Reproduce

1.
Put a ToolbarItem in a page
2.
Change the property isEnabled of the ToolbarItem in code

### Expected Behavior
The ToolbarItem should disable
### Actual Behavior
The ToolbarItem is enabled
### Basic Information

- Version with issue:
4.4.0.1265-nightly
- Last known good version

[2019-10-22 23:17] observer1 opened #8162 "[Bug] Changing the isEnabled property of a ToolbarItem in code to false does nothing"
### Description
Changing the isEnabled property of a ToolbarItem in code to false does nothing
### Steps to Reproduce

1.
Put a ToolbarItem in a page
2.
Change the property isEnabled of the ToolbarItem in code

### Expected Behavior
The ToolbarItem should disable
### Actual Behavior
The ToolbarItem is enabled
### Basic Information

- Version with issue:
4.4.0.1265-nightly
- Last known good version

[2019-10-22 23:57] slink99 opened #8163 "Build Problem On XF Apps and Google Ads"
### Description
Unexpected Element found in - AndroidManifest.xml
### Steps to Reproduce

1. Create New XF Android project
2. Add MarcTron Admob from NuGet
3. Build Android Project

### Expected Behavior
Correct build, no issues
### Actual Behavior
<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSiz

[2019-10-23 01:55] xamarindevelopervietnam commented on #8137
i think they added https://github.com/xamarin/Xamarin.Forms/pull/6463 but they don't check on Horizontal side

[2019-10-23 03:01] jimmccurdy commented on #8150
If anyone needs a workaround while waiting for the fix, add the following custom picker renderer in your UWP project:

using AppShack.UWP.Renderers;
using Xamarin.Forms;
using Xamarin.Forms.Internals;
using Xamarin.Forms.Platform.UWP;

[assembly: ExportRenderer(typeof(Picker), typeof(CustomPickerRenderer))]
namespace AppShack.UWP.Renderers
{
	[Preserve(AllMembers = true)]
	public class CustomPicke

[2019-10-23 04:42] hartez commented on #8158
Repro:

[_8157 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3760172/_8157.Repro.zip)

[2019-10-23 04:43] hartez commented on #8159
See also #8157, #8158, #8156

[2019-10-23 04:43] hartez commented on #8158
See also #8157, #8158, #8156

[2019-10-23 04:44] hartez commented on #8157
See also #8159, #8158, #8156

[2019-10-23 04:44] hartez commented on #8156
See also #8157, #8158, #8159

[2019-10-23 04:44] hartez commented on #8157
Repro project:

[_8157 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3760179/_8157.Repro.zip)

[2019-10-23 04:44] hartez commented on #8156
Repro:
[_8157 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3760181/_8157.Repro.zip)

[2019-10-23 04:44] hartez commented on #8159
Repro:
[_8157 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3760183/_8157.Repro.zip)

[2019-10-23 04:51] hartez commented on #8162
@observer1 Is this an accidental double submission of #8161?

[2019-10-23 04:51] hartez commented on #8161
The repro for this _might_ be in #8162.

[2019-10-23 05:27] hartez commented on #8143
I just created an empty project with a DatePicker and a TimePicker and ran it on a device with 9.3.5 installed, no crash. When you say 9.0, do you mean specifically that version of iOS, or any 9.x version?

Also, the linked repro project runs fine on 9.3.5 if I update it to 4.3.0. It _was_ crashing on 4.2.0, but that was a Shell bug, not a DatePicker issue.

[2019-10-23 05:29] TarasBounty commented on #8143
specifically 9.0 version of iOS

[2019-10-23 05:37] KSemenenko commented on #8054
https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.navigationpage.onbackbuttonpressed?view=xamarin-forms

@VladislavAntonyuk you can try next code, and put break point.

[code]
If you return true from then you will not go back to the previous page, unless you also call the base method in your override.

[2019-10-23 05:38] acaliaro opened #8166 "[Bug] java.lang.NullPointerException: Attempt to read from field 'int android.view.View.mPrivateFlags' on a null object reference"
### Description
I have a XF (Android) Application. On AppCenter I have this error:

java.lang.NullPointerException: Attempt to read from field 'int android.view.View.mPrivateFlags' on a null object reference
  at android.view.ViewGroup.resetCancelNextUpFlag(ViewGroup.java:2414)
  at android.view.ViewGroup.dispatchTouchEvent(ViewGroup.java:2319)
  at android.view.ViewGroup.dispatchTransformedTouchE

[2019-10-23 06:11] WayaFlyfeather commented on #7681
I tried to recreate this as a test case in a local branch off 4.30, please see attached .cs, in which I bind to pickers to a list of items with a string and an int property. One picker is showing the string property, and the other the int property (via ItemDisplayBinding).

I see no difference in behavior on UWP, whether the property bound is a string or an int. Both require a single click to open

[2019-10-23 06:13] techduggu commented on #2616
Hi @toussam
I tried to reproduce the exact sample with latest Xamarin.Forms (master branch) and it looks to be working fine. Please correct me if something else is expected here (refer screenshot).
May I know which latest version of Xamarin.Forms did you try with (stable, pre-release version etc.)?

![Issue2216_working](https://user-images.githubusercontent.com/17450941/67362974-02a26580-f58a-11e9

[2019-10-23 07:12] VladislavAntonyuk commented on #8054
@Ksemenenko if you press back button of android the code is executed, but the question is about arrow. See screenshot

[2019-10-23 07:17] KSemenenko commented on #8054
https://theconfuzedsourcecode.wordpress.com/2017/03/12/lets-override-navigation-bar-back-button-click-in-xamarin-forms/

[2019-10-23 07:20] KSemenenko commented on #8054
@VladislavAntonyuk I want to note that the text in question indicates exactly the button of the device, and not the arrow on the screen.

[2019-10-23 08:15] #2257 closed

[2019-10-23 08:24] KSemenenko commented on #8054
@VladislavAntonyuk @scriptBoris  also if you check https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs then find that the code is already there and my code should work. What version of Xamarin.Forms are you using?

[2019-10-23 09:09] GenPike commented on #5268
Due to the date of merge, it should part of XF from 4.0.0.497661

[2019-10-23 10:18] VladislavAntonyuk commented on #8163
put <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />
  inside Application

[2019-10-23 10:21] slink99 commented on #8163
Tell that to the VS Build process. Tried many times to move to different places inside of the tag. Build moves it back again.

[2019-10-23 11:16] VladislavAntonyuk commented on #8163
That line of code you add manually

[2019-10-23 11:22] JKennedy24 opened #8167 "[Bug] XF 4.3 UWP Crash - Element not found"
### Description
After upgrading to Xamarin.Forms 4.3 from the previous stable (4.2...) Loading up some of my pages and setting the binding context I get a crash with the following error:

### Steps to Reproduce
The only time I've been able to replicate this is in my sample app if you turn on "break when thrown - common language runtime exceptions" but in my production app it does actually throw a

[2019-10-23 11:34] JKennedy24 commented on #8167
Looking at this class:
https://github.com/xamarin/Xamarin.Forms/blob/7a9b54dae9605169f0417c168af2cd81f931b2a9/Xamarin.Forms.Platform.UAP/Dispatcher.cs

I came to find this SO which is probably linked
https://stackoverflow.com/questions/52648176/how-to-get-the-current-view-of-my-uwp-app-from-background-thread

[2019-10-23 11:49] MitchBomcanhao commented on #8150
I have this on my project so that the title displays as the placeholder text instead, which is more consistent to what other platforms do in Xamarin.forms
[code]

[2019-10-23 11:51] jfversluis commented on #8152
Hi @VladislavAntonyuk thanks for the issue!

I'm afraid we need a bit more information regarding this though. Did you actually assign something to the `Command` property? Could you show the code for that?

Is this not working for a specific platform or for all of them from what you can tell?

Would you be able to provide more info, preferably through the issue template and add a reproduction proje

[2019-10-23 11:52] JKennedy24 commented on #8167
Wrapping the line in `InvokeOnMainThread` fixes the error. But running my production app this error is thrown constantly and crashes the application. any RaisePropertyChanged which is raised on a background thread seems to be throwing this exception.

 I don't particularly want to change all raisepropertychanged to run on a mainthread as this will bottleneck my application. The UI and VM should be

[2019-10-23 12:02] milanio commented on #7340
@samhouts, sorry we decided against reusing VM. Basically we persist state before VM is detached and never reuse it again. So the bug is still there but we can't replicate the issue anymore.

I believe @DerGary PR does solve the issue only partially.

Can you get back to me on my reply above : https://github.com/xamarin/Xamarin.Forms/issues/7340#issuecomment-531770415

I think the issue will becom

[2019-10-23 12:06] VladislavAntonyuk commented on #8152
`
    <ContentPage.ToolbarItems>
        <ToolbarItem
            Command="{Binding MyCommand, Source={x:Reference MyContentPage}}"
            IconImageSource="Icon.png"
            Order="Primary"
            Priority="0"
            Text="Command text" />
    </ContentPage.ToolbarItems>
`

in code behind:
`
MyContentPage(){
BindingContext = new ViewModel();
InitializeComponent();
}
`

[2019-10-23 12:07] VladislavAntonyuk commented on #8152
@jfversluis I have verified it on Android and iOS, also I use Shell, but I am not sure it is related to the issue,

[2019-10-23 12:08] StephaneDelcroix commented on #8115
I don't think it's related to generics, but more likely to 2 handlers with the same name

[2019-10-23 12:15] ginger-777 commented on #2383
… oh and another Problem:UnevenRows doesn't work for the Group-Cells! If ListView has Grouping enabled, all Group-Rows are of the same height - and automatic Height-Calculation doesn't work at all… i have to set a fixed height in the CellView(at least on iOS - not testet on Android yet)But maybe this a completely different topic.
--

Is there any update or workarounds?

[2019-10-23 12:20] jsuarezruiz commented on #8125
Hey @pauldipietro. I have followed the steps but I cannot reproduce the problem in Xamarin.Forms 4.4 nightly.
The error is launching the App?, is there something I still have to do to reproduce it?.
<img width="708" alt="Captura de pantalla 2019-10-23 a las 14 17 58" src="https://user-images.githubusercontent.com/6755973/67391949-f6290780-f59f-11e9-8d05-bdb8788f9321.png">

[2019-10-23 12:23] StephaneDelcroix commented on #8115
XamlC only

[2019-10-23 12:26] DerGary commented on #7340
@milanio you're right, my PR does not solve the issue. And I had no time in the past few weeks to look deeper into the issue. I also don't really know what the expected behavior is supposed to be. Someone from the xamarin team should answer this question.

I believe that the three described cases do not cover the whole picture. I believe the Problem occurs because of the following mechanic :
The B

[2019-10-23 12:35] Seuleuzeuh commented on #7478
We are stuck in X.F 3.6 until this bug was corrected. So sad.

[2019-10-23 12:48] tsjdev-apps opened #8170 "[Bug] Shell is showing hamburger menu icon on tab navigation"
### Description

I'm using the Shell in my Xamarin.Forms application only with a TabBar. On the first navigation between the tabs the hamburger menu icon is shown.

### Steps to Reproduce

1. Create a new solution using the Shell template of Visual Studio
2. Update to Xamarin.Forms 4.3
3. Deploy application to Android

### Expected Behavior

Hamburger menu icon is not shown during the navigation.

[2019-10-23 14:09] codemillmatt opened #8171 "[Bug] Shell - TitleColor Ignored First Time Through"
## Description

When building an iOS app with Shell and the Flyout menu - the `TitleColor` property is ignored for each page accessed through the `ShellContent` property - but only the first time.

The `TitleColor` works as expected the second time the page loads.

This happens whether the `TitleColor` is set on the page, within `AppShell` or via a style.

### Steps to Reproduce

1. Create an `App

[2019-10-23 14:16] ThomasCurti opened #8172 "[Bug Xamarin.UITest] Tap doesn't work with command"
Hello,

On the first page of my app I have an Image with a TapGestureRecognizer with a GestureRecognizer that uses a Command with Commandparameter -- this command starts a RelayCommand. When I Tap the image it starts another view and it works well when I do that.
I use UITest to test my UI. I start it with my device directly plug on the computer. It starts well and the test is well initialized.
Af

[2019-10-23 14:29] ederbond opened #8173 "[Bug] [iOS] Label with HTML does not render"
# Description
The following html content render correctly on Android but doesn't render at all on iOS:

### Steps to Reproduce

1. Create a page with the following label:
`<Label Grid.Row="2" Text="{Binding HtmlContent}" TextType="Html" />`
2. Create a property on VM called HtmlContent and set it's value with the following html:
[code]
3. Run on Android and on iOS. It works on Android but not on i

[2019-10-23 14:43] dinobu commented on #7681
I also spend some time looking into this and I found that we internally call focus on an hidden Entry field.  So, I was wrong in above but what is still strange is that this focusing is only affecting UWP side.  No issue on Android or iOS.

[2019-10-23 14:55] joshminor commented on #8167
I'm experiencing this same issue with RaisePropertyChanged. Invoking on main thread does fix it, but at a performance cost.

[2019-10-23 15:05] czuvich commented on #8140
Is there a workaround?

[2019-10-23 15:19] FIELDPOINT commented on #3106
Any updates on this?

[2019-10-23 15:35] acaliaro commented on #8140
I think you can try with a CustomRenderer… @czuvich

[2019-10-23 16:03] czuvich commented on #8140
It looks like Forms needs to set the Gravity along with the TextAlignment on the EditText.  I was able to fix it.

[2019-10-23 16:03] Adlorem commented on #8140
It is working in previous version of Forms.

[2019-10-23 16:34] observer1 commented on #8161
Its a duplicated I send it by accident, should I close it?

[2019-10-23 16:57] stesvis opened #8174 "[Bug] Object reference not set to an instance of an object at UIKit.UIColor.GetRGBA"
### Description
I get an exception when I tap or hold on listview items. Unfortunately it happens randomly. I think it started with the latest VS for Mac updates (Xamarin.iOS 13.4.0.2).
This only happens on devices with iOS < 13.
The exception mentions SearchBar, but this happens even if i remove the searchbar.

### Steps to Reproduce

1. Build a listview
2. Click on items multiple times

### Expe

[2019-10-23 17:09] brepetti commented on #7784
Is this going to be fixed, or does this "fun fact" mean we are screwed and need to use Shell.  Moving to shell is not much of an option for us at this point.  We have many large apps working this way and are stuck on older version of Forms.

[2019-10-23 17:09] mdbill commented on #7833
+1 for improving the error msg please.

[2019-10-23 17:10] brepetti commented on #7478
Same here.  This is another issue that is causing headaches. https://github.com/xamarin/Xamarin.Forms/issues/7784

[2019-10-23 17:14] marcofolio commented on #5918
Already fixed? Can't reproduce on XF 4.0 & iOS13

[2019-10-23 17:14] marcofolio commented on #6353
Already fixed? Can't reproduce on XF 4.0 & iOS13

[2019-10-23 17:19] wagenheimer commented on #7691
I have the exact same problem, in my case, it works on iOS as expected but fails on Android.

- Open a WebPage on a WebView
- On this page, click on something that calls the method "history.pushState" to register this.

After this, if I check webView.CanGoBack :
 on iOS = True
on Android = False

Strangely, if I call webView.GoBack(), it will works as expected on both platforms.

But I need to che

[2019-10-23 17:21] wagenheimer commented on #7691
Could you please share your code with us?

[2019-10-23 17:21] wagenheimer commented on #7691
On Android I've added registration to DoUpdateVisitedHistory in the FormsWebViewClient and updated the custom properties on each visited history update.

Could you please share your code with us?

[2019-10-23 17:22] wagenheimer commented on #7691
@nirbil Could you please share your code with us?

[2019-10-23 17:41] VladislavAntonyuk opened #8175 "[Bug] RegisterRoute is broken"
1. Create shell application
2. Add shell item and menu item
[code]

3. Route in shell item is registred as extected so I can navigate to //home/route2, but //route3 is not registered.

[2019-10-23 17:42] marcofolio commented on #5626
Indeed unable to reproduce, specifically tested with Shell as well.

[2019-10-23 17:50] czuck opened #8176 "[Bug] [Shell] Setting BackButtonBehavior IsEnabled to False inconsistent behavior"
### Description
Setting BackButtonBehavior IsEnabled to False on view that is pushed onto the detail view of a MasterDetail windows behaves differently on Android and iOS.   Android displays the back button but tapping it does nothing.  iOS displays the back button and tapping it goes back.

In Forms setting Navigation.SetHasBackButton(false) would not over-ride the hamburger / open master behavio

[2019-10-23 17:51] pzimmermaninmo commented on #7323
This is available in the current 4.4 nightly, right?  If so, I just pulled it down, built and pushed back up to apple and they are still sending me the "ITMS-90809: Deprecated API Usage " email.  Is anybody else seeing the same?

[2019-10-23 17:53] mdbill commented on #7540
Thx, you just saved me and hour (or 10)

[2019-10-23 18:06] #2303 closed

[2019-10-23 18:21] JohnLivermore opened #8177 "[Bug] Picker does not update when it's underlying list changes content"
### Description
Picker does not update when it's underlying list changes content.  This is tested with XF UWP (haven't tried Android or iOS).

UPDATE 10/23 8:51PM: Just tried on Android, and not seeing the issue on that platform.

### Steps to Reproduce
SO Post complete with source code at...
https://stackoverflow.com/questions/58528033/xamarin-forms-cant-update-picker

Runnable source code at...

[2019-10-23 18:22] #8113 closed

[2019-10-23 18:31] jsclay opened #8178 "[Bug] [Xamarin.Forms] [Android] Picker editable with IsEnabled == False"
### Description
A disabled picker is still editable.

Android's keyboard has 'next' and 'back' buttons that look like right and left arrows, respectively. These can be used like a 'tab' to tab between controls based on their tab order. While a disabled picker cannot be selected directly, the user can select another element and use the 'next' or 'back' buttons to navigate to and focus the picker, a

[2019-10-23 18:34] YoupHulsebos commented on #5560
Added the repro steps in an issue. Found however that it is no longer an issue.

[2019-10-23 18:50] #5747 closed

[2019-10-23 20:32] angelru commented on #6294
@samhouts the same problem remains with version 4.3

[2019-10-23 20:36] Horrorshow opened #8180 "Using Appshell and tabbar crashes after you spam the tabbuttons alot for awhile. [Bug]"
Unable to activate instance of type Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer from native handle 0x7fcf8da064 (key_handle 0xd441d5b).

Download and run:
https://github.com/jamesmontemagno/Hanselman.Forms
You can also start a new xamarin forms appshell template app and do the same.
Run the app in Android.
Spam the tabbuttons, like 20-50 times alot between, you get black page and th

[2019-10-23 20:38] #8180 closed

[2019-10-23 21:05] dberroa commented on #5652
I am also running into this issue and it's preventing the use of the custom UI componnents because all clicks zoom to the top of the scroll view.

[2019-10-23 21:37] Depechie commented on #8177
I verified this by adding a change items button inside the Xamarin Forms repository Control Gallery app on the Picker view gallery.
The Picker class has a method to handle ItemsSource changes, but does no longer notify the PickerRenderer class that it needs to update the native control...

I think all platforms are affected, but I only checked UWP and did a possible solution PR for it.
Guess needs

[2019-10-23 21:42] cabal95 opened #8183 "[Bug] CSS Descendants with Base class selector do not match"
### Description

We found that when trying to use a descendant style selector where the child element has the `^` base selector, what should have matched did not.

[code]

In the above, the following selector will match: `stacklayout label`

However, this selector does not: `stacklayout ^label`

When I examined the parsed selector, the two selectors above generate vastly different trees. The bug _

[2019-10-23 22:08] charlesroddie commented on #7927
This appears to be our error, having stacked scrollviews by mistake.
@jfversluis Thanks for looking into this and sorry for taking your time.

[2019-10-23 22:08] #7927 closed

[2019-10-23 22:15] slink99 commented on #8163
Still not certain how to make that work since every rebuild/deploy will move the lines back into improper position. Why is the build process broken?

[2019-10-23 23:03] #6663 closed

[2019-10-23 23:12] EvoPulseGaming commented on #8110
So i'm noticing varying behavior depending on where its ran. On android I don't have check boxes, on UWP I do.

But even on UWP depending on how I setup my item template, I can see "disabled" checkboxes on the right in single mode....

I believe all of this should be unified under a single parameter, and the behavior should be universal.

[2019-10-23 23:12] samhouts commented on #7558
@walterronsemi  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-23 23:12] #7558 closed

[2019-10-23 23:12] samhouts commented on #7394
@wangyankun33  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-23 23:12] #7394 closed

[2019-10-23 23:16] samhouts commented on #8134
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-23 23:17] samhouts commented on #8137
@xamarindevelopervietnam  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-23 23:18] samhouts commented on #8140
@acaliaro  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-23 23:22] samhouts commented on #8172
@ThomasCurti  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-23 23:23] samhouts commented on #8174
@stesvis  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-23 23:23] samhouts commented on #8175
@VladislavAntonyuk  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-23 23:39] samhouts commented on #8166
@acaliaro  Can you please attach a small project that demonstrates this issue? If not, can you at least describe what controls your app uses and what interactions you think may have led to this? Thanks!

[2019-10-23 23:45] samhouts commented on #8133
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-23 23:52] PureWeen opened #8184 "[Bug, Android, iOS] Setting SelectedItem on CollectionView from OnItemSelected to null throws exception"
### Description

Setting `SelectedItem` to null inside the `OnItemSelected` event throws an exception on Android

Parameter name: index'

[code]

### Steps to Reproduce

#### Android
1.  Run sample
2. Click on any items in the list

#### iOS
1.  Run sample
2. Click on any items in the list
3. click the back button

### Expected Behavior
When you click on an item it should navigate to details page

[2019-10-23 23:55] PureWeen opened #8185 "[Bug, UWP] SelectionChangedEventArgs.CurrentSelection on UWP is empty"
### Description

[code]

### Steps to Reproduce

1.  Run sample
2. Click on any items in the list

### Expected Behavior
When you click on an item it should navigate without crashing
Then when you return to the list whatever item you clicked on should be unselected

### Actual Behavior
App crashes

### Basic Information

- Version with issue: master
- IDE:
- Platform Target Frameworks:
  - UWP

##

[2019-10-24 00:13] PureWeen opened #8186 "[Bug] Setting IsRefreshing from OnAppearing on RefreshView crashes UWP"
### Description
Setting IsRefreshing from OnAppearing on RefreshView crashes UWP

### Steps to Reproduce

1. Set IsRefreshing to true on Refresh in onappearing on UWP

### Expected Behavior
Once page is loaded RefreshView should refresh

### Actual Behavior
It crashes

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - UWP:

[2019-10-24 01:12] srdmnc commented on #4082
Any updated on this?

[2019-10-24 01:39] scriptBoris commented on #8054
![image](https://user-images.githubusercontent.com/29772096/67446092-eeba3a80-f641-11e9-9d81-702ee9fe0c8b.png)
Xamarin Forms 4.1
MasterPage, MasterDetail - NavigationPage ...

[2019-10-24 01:51] EmilAlipiev opened #8188 "[Bug] HotReload doesnt work on tabbedpage with bottom icons"
### Description

### Steps to Reproduce

1. create tabbed page with bottom icons on android
2. make change on tabbed page and hotreload loads the page in debug mode
3. bottom icons are multiplied every time page is reloaded by hot reload

### Expected Behavior
works
### Actual Behavior
if there 2 bottom icons, they are becoming 4, next reload 8.. every time multipled and eventually crashes

- Vers

[2019-10-24 03:53] shanranm commented on #5626
@HobDev @samhouts someone want to close it?

[2019-10-24 04:55] HobDev commented on #5626
Fixed! verified .

[2019-10-24 04:55] #5626 closed

[2019-10-24 05:11] WayaFlyfeather commented on #7361
Actually, the problem occurs when the Stepper's buttons are disabled more than once - then it can't become disabled again. This doesn't happen in normal stepper usage, but when set from the slider's movements it does. But your Math.Round prevented this from happening, as the value wasn't changed more than once :)

[2019-10-24 05:47] HemalathaMarikuma-syncfusion commented on #7076
**Version with issue: Xamarin.Forms version 4.1.0.618606 and 4.0.0.618610 (but it worked in previous version 4.1.0.581479)

Working version: Xamarin.Forms 4.1.0.581479 and v4.0.0.540366.**

Any update for this?

[2019-10-24 06:01] techduggu commented on #7717
@hartez I'm not able to reproduce it with latest Xamarin.Forms (master branch). On tap of "Clear Items", it clears the items and display an empty view.

![image](https://user-images.githubusercontent.com/17450941/67457592-bae71100-f651-11e9-8eea-be227c209e2b.png)

[2019-10-24 06:57] jantanis opened #8192 "Navigation page back-button-chevron turns blue when using a task-switcher-page"
# Description
Back button chevron turns blue when coming back from task switcher

### Steps to Reproduce

1. Set custom NavigationPage.BackButtonTitle (this is a key factor, work well without)
2. Replace page with another page (to prevent seeing data in task switcher) on App.OnSleep
3. Place page back in App.OnResume

### Expected Behavior
Chevron holds white color when setting NavigationPage as A

[2019-10-24 07:49] #7581 closed

[2019-10-24 07:50] #8172 closed

[2019-10-24 08:02] AndreiMisiukevich commented on #4082
@srdmnc just wonder, have you tried CollectionView yet?

[2019-10-24 08:06] YZahringer commented on #1719
I think UWP should also be supported: https://www.rudyhuyn.com/blog/2015/12/23/display-an-appbarbutton-on-the-left-side-of-a-commandbar/

[2019-10-24 08:50] jfversluis commented on #8152
@VladislavAntonyuk I've taken the liberty to create a Shell project to reproduce this.

Notice how I created a `FooCommand` in the view model that I bind to the Add button in the main screen. Through the clicked handler of that Add button I pull out the `Command` and execute that. I see the `Debug.WriteLine` being executed without any problems.

See the repro here: [Repro8152.zip](https://github.c

[2019-10-24 09:40] Gowthamk10 opened #8193 "[Bug] iPhone app crashes when launching camera / gallery in iOS 13.2 beta 3"
# # Description
iPhone app crashes when launching camera / gallery in iOS 13.2 beta 3, no issue observer with lower versions like 13.1.2 / 13.1.3/ 12

### Steps to Reproduce

1.
2.
3.

### Expected Behavior
Camera should open to capture the image
### Actual Behavior
App crashing
### Basic Information

- Version with issue: iOS 13.2 beta 3
- Last known good version: iOS 13.1.3
- IDE: Visual Studio

[2019-10-24 10:11] #6474 closed

[2019-10-24 11:17] scriptBoris commented on #8054
The problem is not solved. Help please!

[2019-10-24 11:35] VladislavAntonyuk commented on #8175
[Issue8175.zip](https://github.com/xamarin/Xamarin.Forms/files/3767274/Issue8175.zip)

[2019-10-24 12:57] aubiyko opened #8198 "[Bug] ScrollView at CollectionView at RefreshView always leads to Pull-To-Refresh"
### Description

On Android, imagine having CollectionView with ScrollView as ItemTempate and have that inside RefreshView.
If you scroll down, release, then scroll up, Pull-To-Refresh gesture always fires despite list position.

### Steps to Reproduce

1. Use reproduction.
2. Scroll down a bit.
3. Scroll up.

### Expected Behavior

CollectionView scrolls up.

### Actual Behavior

RefreshView's Pu

[2019-10-24 12:57] KSemenenko commented on #8054
Seems it's a bug, I will look for a solution to the problem

[2019-10-24 13:05] Basti82b commented on #8140
I can confirm that. It's a bug in XF 4.3.0.908675.

[2019-10-24 13:36] simon-potter78 commented on #8075
This issue was a result of the following forms issue:
https://github.com/xamarin/Xamarin.Forms/issues/3168
In this, the formattedText object bound to in the listview is a stored entity, which creates a feedback loop between the android renderer and the formattedstring object. in VS 2019 this is detected and the hundreds of errors a second are logged.
To resolve always return a new instance of form

[2019-10-24 14:05] MitchBomcanhao commented on #8193
Are you using Montemagno's mediaplugin? if so, which version?

[2019-10-24 14:08] mdmota opened #8199 "[CollectionView] After calling a service, binding fields are broken"
### Description
I updated xf to 4.3.0 and replaced Listview with CollectionView.
When calling a service to load the list, binding fields break. See attached image.

I thought collectionview would solve these problems also found in listview. But it solved nothing.
### Steps to Reproduce

1. Update XF for 4.3.0
2. Switch Listview  to CollectionView
3. Call list through webservice and binding fields

[2019-10-24 14:10] acaliaro commented on #8140
[HorizontalTextAlignment.zip](https://github.com/xamarin/Xamarin.Forms/files/3767957/HorizontalTextAlignment.zip)

[2019-10-24 14:12] milanio commented on #7340
@samhouts @jfversluis I think we are hitting dead-end here. We need your input. Or someone who has authority on how this should work. **What is the desired behaviour?**

I still think the current behaviour is a bug, because it leads to a lot of confusion. At least it should be somewhere clearly documented that detaching VM from View can change properties of VM. Therefore, it should be strongly adv

[2019-10-24 14:12] mdmota commented on #8199
Screenshots
https://drive.google.com/file/d/1vScGU4230fM3crmuXjDZ6it97bHWDVG5/view?usp=sharing

[2019-10-24 14:16] mediabounds opened #8200 "[Bug] CollectionView on iOS assumes INotifyCollectionChanged is an IList (causing null reference exception when assumption is wrong)"
### Description
We are using collection view with an object that implements `IEnumerable` and `INotifyCollectionChanged`. Starting in Xamarin.Forms 4.3.0 (the official release), this has started causing a `NullReferenceException`. This behavior changed between 4.3.0-pre3 and the official release of 4.3.0.

The issue is in `ItemsSourceFactory` -- when it is creating the source for the collection vi

[2019-10-24 14:19] acaliaro commented on #8166
Sorry @samhouts , the problem is very big and I use a lot of controls. I have no idea where could be the problem. It's a project I have inherited from other developers.

Can you tell me some possible reasons that can cause this problem?

[2019-10-24 14:21] acaliaro commented on #8044
Sorry, it's a very large project  and I use a lot of controls. I have no idea where could be the problem. It's a project I have inherited from other developers.

Can you tell me some possible reasons that can cause this problem?

[2019-10-24 14:54] VladislavAntonyuk commented on #8152
@jfversluis yes, it works!

[2019-10-24 14:54] #8152 closed

[2019-10-24 15:07] kicsiede commented on #8200
this is also a problem with Picker

[2019-10-24 15:24] #8184 closed

[2019-10-24 15:24] #8185 closed

[2019-10-24 15:28] jsuarezruiz commented on #8184
I reproduce the error. I am going to detail what happens because I am not sure if we should modify the current behavior or not.

What happens is the following:
1. Click on an item in the CollectionView. This will internally set `SelectedItem` and `SelectionChanged` will be invoked.
2. When `SelectedItem` is set to null, `SelectionChanged` is invoked again. But this time `CurrentSelection` will be

[2019-10-24 15:48] mdbill opened #8202 "[Bug] InitializeComponent and 'An element with the same key already exists...'"
Similar to [7833](https://github.com/xamarin/Xamarin.Forms/issues/7833).

If you call InitializeComponent a 2nd time (e.g. in OnAppearing), you get the runtime exception about 'same key already exists...'.

Now, before you say "Don't call InitializeComponent() twice," you should be aware that doing this is the (only?) workaround for a [very old Microsoft Ads bug](https://stackoverflow.com/question

[2019-10-24 16:27] stesvis commented on #8174
@samhouts I tried to remove as much code as possible, so I could attach a simplified project.
There is still quite some irrelevant code for this purpose, but the UI is simple.
There is a tabbed page with 2 tabs. Each tab contains a listview with items.

I also made a video where I tap, and long-tap on the items. In some cases it throws that exception, and then after a few tries it just works.

If

[2019-10-24 16:44] MathewLC commented on #8041
I can confirm that when I put BackgroundColor=White or BackgroundColor=#FFFFFF, the expected behavior as describe by @baileysnead occur. Perphaps, SearchTextField.BackgroundColor should be exposed as a iOS Platform-specific property. I would like to give a try on doing that if that change be accepted.

[2019-10-24 16:45] mdmota commented on #6721
After upgrading XF to 4.3.0 and replacing listivew with collectionView, the problem continues
https://github.com/xamarin/Xamarin.Forms/issues/8199#issuecomment-545937143

[2019-10-24 16:46] mdmota commented on #6810
After upgrading XF to 4.3.0 and replacing listivew with colletionView, the problem continues
https://github.com/xamarin/Xamarin.Forms/issues/8199#issuecomment-545937143

[2019-10-24 17:10] universaldata-eu commented on #4510
i created my own ImageButton way before it was implemented in Xamarin.Forms.
now i hit the problem here when trying to set the heightrequest.
so i switched back to my image button and it is working.
so here ist my implementation, maybe it helps someone:

ImageButton.xaml:
[code]

ImageButton.xaml.cs:

[code]
usage is like ImageButton from Forms, only the Command is 'ClickCommand'

[2019-10-24 17:12] EvoPulseGaming opened #8203 "CollectionView fires SelectionChanged x (number of items selected +1) times, while incrementing SelectedItems from 0 to number of items each time"
using latest pre-release

If I have 10 items and select 5 of those items, this is how often SelectionChanged event fires (when selecting the fifth item, you can imagine how this works the first four times):

1: 0 items in e.CurrentSelection
2: 1 items in e.CurrentSelection
3: 2 items in e.CurrentSelection
4: 3 items in e.CurrentSelection
5: 4 items in e.CurrentSelection
6: 5 items in e.CurrentSele

[2019-10-24 17:12] StephaneDelcroix commented on #8202
let's get this out of the door first:

you said it, not me.

if you want this to work, set the Namescope of your view to null before invoking InitializeComponent a second time.

but mostly: don't call InitializeComponent() twice

I'm closing this as we probably won't fix this

[2019-10-24 17:12] #8202 closed

[2019-10-24 17:15] StephaneDelcroix commented on #8188
/cc @maddyleger1

[2019-10-24 17:18] justinhorner commented on #8041
Sorry for the wall of text.

Also experencing the same issue described by @baileysnead.

Also tried a custom renderer and having no luck there either.

[code]

** This line works but only for the first searchbar. We have 3 search bars (on different tabs...not sure if that is a cause) and only the first search bar utilizes this code
*** This throws the below error when debugging on iOS 13+

[code]

[2019-10-24 17:23] ianvink opened #8204 "[Bug] XF 4.3 fresh download will not build for NuGet"
### Description
VS 2019

My goal is to debug a problem in XF 4.3 so I have used GitHub for Windows to download a fresh copy of the 4.3 branch.

When I run the PowerShell:
./build.ps1 -Target NugetPack

Indicated here:
https://github.com/xamarin/Xamarin.Forms/wiki/How-to-Build-Xamarin.Forms-NuGet

It errors out with :
The target "restore" does not exist in the project. See attached file.

### Steps

[2019-10-24 17:31] EvoPulseGaming commented on #8199
If I understand this correctly I would like to add to this, (UWP) I have a picker that REST loads property data, which populates a collectionview of all the buildings on property. This works correctly only the first time. If I change the picker selection, the bound property does get updated but the collectionview UI side does not.

Another example, if I prepopulate the collectionview with d: items

[2019-10-24 17:32] ianvink commented on #8204
Running the git command: `git clean -xfd` then trying again fixed it.

Not sure why, but maybe a Googler might find this helpful

[2019-10-24 17:32] #8204 closed

[2019-10-24 17:33] MathewLC commented on #8041
Taking the @renzska response and on this [stackoverflow response](https://stackoverflow.com/a/58324928/11305148) I was able to use the effect and works fine. The following code is from the link above:
[code]

[2019-10-24 17:43] mdbill commented on #8202
Could you elaborate on this please? I'll post your solution to stackoverflow.

[2019-10-24 17:46] EvoPulseGaming commented on #6036
Selection changed event works in pre 4.3 using UWP, however behaves wrong see #8203

[2019-10-24 18:24] #8148 closed

[2019-10-24 19:15] PureWeen opened #8207 "[Bug] Shell Flyout Items on UWP aren't showing the Title"
## Description

https://github.com/xamarin/Xamarin.Forms/pull/6015#issuecomment-546010203

Hi, thanks for the good work on this, been waiting for Shell on UWP for a while.

I just switched my xamarin forms app to enable shell on the UWP.
My menu is working on iOS and Android but on UWP renders as below
![image](https://user-images.githubusercontent.com/5575429/67507752-81c99380-f687-11e9-9229-75f5

[2019-10-24 19:57] LeoJHarris opened #8208 "Material iOS does not work on iOS (pre-11) in adhoc or app store configuration"
This issue is directly related to this issue in the XamarinComponents:  https://github.com/xamarin/XamarinComponents/issues/597 creting issue here as there is no activity on that issue.

iOS crashes as soon as app is launched with material enabled on iOS 10 or lower.

### Steps to Reproduce

Setup a project with material installed.
Launch app.
Crashes.

### Expected Behavior

App to not crash

###

[2019-10-24 20:15] Eilon opened #8209 "[Bug] Mixed Xamarin.Forms versions causes error MSB4064: The "ValidateOnly" parameter is not supported by the "XamlCTask" task"
# Description

If you have a project that transitively references different versions of Xamarin.Forms, you get errors like this:

[code]

There seems to be little information on the Internet about this.

If you consolidate all Xamarin.Forms packages to a single version, that fixes it.

However, in some cases you might be using 3rd party packages that have different dependencies and you can't conso

[2019-10-24 20:57] hartez commented on #8132
@LakeLobster What version of Xamarin.Forms are you testing with?

[2019-10-24 21:03] samhouts commented on #8193
@Gowthamk10  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-24 21:05] samhouts commented on #8203
@EvoPulseGaming  Can you please attach a small project that demonstrates this issue? Which platform? Have you tried the stable release? Thanks!

[2019-10-24 21:07] samhouts commented on #8199
@mdmota  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-24 21:12] hartez commented on #8103
Also tested on 4.3.0, still happening.

[2019-10-24 21:30] hartez commented on #7855
@ryanharding I'm trying to run the XamSpeedTestShell but I keep getting `System.MissingMethodException: 'Default constructor not found for type XamSpeedTestShell.Views.ItemsPage'`

[2019-10-24 21:32] dunlavy commented on #2751
No you don't.  :-)  Xamarin is my steady go-to.

[2019-10-24 21:36] dunlavy commented on #8170
I can confirm this happens to me as well.  No menu icon.  Navigate.  Icon shows up.

[2019-10-24 21:36] LakeLobster commented on #8132
@hartez looks like 4.1.0.581479 when I submitted the ticket.

I updated to the latest in nuget, 4.3.0.908675, and the problem persists on the MotoG phone. However, the problem has gone away on the emulator, and that seems to work normally. I'll see if I can update the example above to reproduce the error on the emulator in the next few days.

I've also found that the keyboard that does appear is a

[2019-10-24 21:59] efhayati opened #8210 "[Bug] [iOS] RightToLeft flow direction doesn't work with Label"
### Description
After upgrade to 4.3, the `Label `doesn't respect to RTL flow direction in iOS.

### Steps to Reproduce

1. Set the `FlowDirection` property on `Label` (or on a page containing a `Label`) to `RightToLeft`.

### Expected Behavior
The `Label` should render text from Right

### Actual Behavior
The `Label` doesn't respect the RTL flow direction.

### Basic Information

- Version with i

[2019-10-24 22:26] Eilon opened #8211 "[Bug] Shell throws NullRef if improperly configured"
### Description

While I don't expect `Shell` to _work_ if improperly configured, I don't expect a NullRef in these cases either (NullRef is nearly always invalid if there are no bugs).

### Steps to Reproduce

Minimal case where `Shell` works (good):

[code]

Verbose case where `Shell` works (good):

[code]

But if you "partially" configure `Shell`, you get NullRef exceptions. For example, add a

[2019-10-24 22:50] hartez commented on #8177
Confirmed - works fine on Android/iOS, not so much on UWP.

[2019-10-24 22:50] bmacombe commented on #2172
This seems like an issue in the UWP code, it's the native measure that is returning the incorrect size

[2019-10-24 23:48] observer1 commented on #8162
Yes its a duplicate

[2019-10-25 01:50] samirgcofficial commented on #7323
Same Issue ! Any perfect work Around?

<img width="722" alt="Screen Shot 2019-10-25 at 7 18 59 AM" src="https://user-images.githubusercontent.com/55045516/67537137-bffe9b80-f6f7-11e9-82f6-db961011688c.png">

[2019-10-25 02:10] hartez commented on #8110
The checkboxes are the default multiple selection mode for UWP.

We could create a Platform Specific for UWP to remove the checkboxes.

[2019-10-25 02:17] hartez opened #8216 "[Enhancement] Platform Specific for UWP CollectionView to hide multi-select checkboxes"
## Summary

By default, on UWP the underlying control for CollectionView displays checkboxes when in multiple-selection mode. It's possible that some folks want the default native behavior and some do not. So this proposal is to add a platform-specific property to hide the checkboxes.

## API Changes

Add:

[code]

## Intended Use Case

If a user does not want the checkboxes to be displayed, they

[2019-10-25 02:18] hartez commented on #8110
Enhancement proposal: #8216

[2019-10-25 02:19] #8110 closed

[2019-10-25 02:34] hartez commented on #7824
Still happening after updating to 4.3.0.
To repro, run the project from https://github.com/xamarin/Xamarin.Forms/issues/7824#issuecomment-538652904 and hit the green button at the top right. On the next screen, tap the entry to bring up the software keyboard and watch the text on the button shift to the left.

[2019-10-25 02:58] john-heaven opened #8217 "[Bug] Xamarin Forms ListView.Footer Margin not applied on iOS"
### Description
I want to specify a Footer for `ListView`. This footer needs some margin, but the top and right margin arent applied on iOS, regardless of the Version or the (virtual) device model.

### Steps to Reproduce

 Create a listview with footer view as follow:
[code]
Then this issue occurs in iOS , not in Android :

![image](https://user-images.githubusercontent.com/7145819/67539311-4aed8

[2019-10-25 05:45] srdmnc commented on #4082
@AndreiMisiukevich I haven't because based on the reviews on XF v.4.2 CollectionView don't have a pull-to-refresh capability. But base on this [article](https://devblogs.microsoft.com/xamarin/xamarin-forms-4-3-introducing-collectionview/), it has now. Anyways, the lag in scrolling happens only when the device is connected to my machine during debugging. Otherwise, it works fine.

Thanks.

[2019-10-25 07:02] MagicAndre1981 opened #8218 "[Bug] -UWP - Device.Idiom is not updated when flipping tablet mode state"
### Description

When you use Device.Idiom to check if tablet mode is activated or not, the state detected at app start is cached and not updated when you change the tablet mode state via action center

### Steps to Reproduce

1.  create new XF app
2. add `protected override void OnSizeAllocated(double width, double height)` method and check with Device.Idiom for `Device.Idiom == TargetIdiom.Table

[2019-10-25 07:21] jsuarezruiz commented on #8203
It seems that is a similar problem than: https://github.com/xamarin/Xamarin.Forms/issues/8184

[2019-10-25 07:34] Balasubramanian93 opened #8219 "ListView item separators are not displayed in Xamarin.Forms UWP"
### Description
ListView item separators are not displayed in Xamarin.Forms UWP
### Steps to Reproduce

1. Add a ListView with items
2. Deploy the sample and you could see that the separator lines are not displayed.
3.

### Expected Behavior
The separator line should be there for each item.

### Actual Behavior
The separator line is not there for each item.
### Basic Information

- Version with is

[2019-10-25 07:54] CliffAgius commented on #6727
Was going to pick this up but for your first PR @HeroicHitesh take a look at my blog post on how I went about my first PR.  Good luck and any issues/help needed ping me and I will try and help, or just ask the team on here they are awesome and more than happy to help.

[2019-10-25 07:59] SeRgI1982 commented on #4277
For those one who needs quick workarround (far from ideal but works), take a look here [#7815](https://github.com/xamarin/Xamarin.Forms/pull/7815#issuecomment-546246568)

[2019-10-25 08:14] CliffAgius commented on #7361
I have a PR that should fix this #7383

[2019-10-25 08:17] manishkungwani commented on #5889
@Sangeetha-Raju on UWP, this is how it is:

![image](https://user-images.githubusercontent.com/673367/67554915-e9d2b500-f72d-11e9-80f7-9b7c8d3395a2.png)

And on Android:

![image](https://user-images.githubusercontent.com/673367/67554951-feaf4880-f72d-11e9-8db2-6407a010cc5b.png)

Can you confirm that the issue is on Android only?

[2019-10-25 08:37] WayaFlyfeather commented on #7361
@CliffAgius No, that would be unrelated to this issue, I'm pretty sure. This error happens because, in the UWP implementation of the Stepper it kepps an internal cache of the state of the + and - buttons. And when these are disabled more than once, the enabled state is overwritten by the disabled state. So when it should go back to being enabled, the cache with the disabled state is used - and it

[2019-10-25 09:08] norfus opened #8221 "[Bug] When updating to Xamarin.Forms 4.3 xaml bindings to Dictionaries no longer work"
### Description
When updating to Xamarin.Forms 4.3 xaml bindings to Dictionaries no longer work if XamlCompilationOptions.Compile is set, But in 4.2 it does

Setting [XamlCompilation(XamlCompilationOptions.Skip)] in 4.3 resolved the problem but is not ideal as it reduces performance

[TestCollectionVIew2.zip](https://github.com/xamarin/Xamarin.Forms/files/3771946/TestCollectionVIew2.zip)

### Step

[2019-10-25 09:15] Nioux commented on #8207
Hi,

I have a similar issue with UWP in my project :

![image](https://user-images.githubusercontent.com/8601237/67558770-e16f7f80-f717-11e9-8c09-941934981ed8.png)

`
    <ShellContent Title="Accueil" Route="home" ContentTemplate="{DataTemplate local:MainPage}" />
    <FlyoutItem Title="Personnages" Route="pceditor" Icon="battle_axe.png">
        <Tab Title="Personnages">
            <ShellContent

[2019-10-25 09:30] CliffAgius commented on #5505
@samhouts can you show me as picking this one up please I think I can see the issue.

[2019-10-25 09:31] Plingingo commented on #8177
I have a similar issue as this when testing on Android.

Since upgrading Xamarin.Forms - you no longer seem to be able to update the picker list by using .AddRange/.Add/.Remove

Designing the code in the same way as mentioned in the original bug report does seem to work on Android but not when using the above actions.  These did used to work in an older version of Xamarin.Forms.

[2019-10-25 09:35] CliffAgius commented on #7361
Ah ok I see the issue now, teach me to jump in ;-)

[2019-10-25 09:51] SirAeron commented on #4510
I really got confused with this issue, but I think its actually a good workaround to just use Image instead of ImageButton just use GestureRecognizers TapGestureRecognizer for click event.

[2019-10-25 09:54] mos379 commented on #2077
It seems this issue is still not resolved.
When using
`<Style x:Key="DropInLabelLayout" TargetType="Label" BaseResourceKey="CaptionStyle">
                <Setter Property="FontSize">
                    <OnIdiom x:TypeArguments="x:String" Tablet="Default" Phone="Small" />
                </Setter>
            </Style>`
Then I get the following error
 SetValue: Can not convert Xamarin.Forms.OnIdio

[2019-10-25 10:14] StephaneDelcroix commented on #8099
a MultiBinding is the way to go. If the parameter is bindable, you have to evaluate the binding when both the value or the parameter changes, which is actually a MultiBinding.

[2019-10-25 10:14] #8099 closed

[2019-10-25 10:24] StephaneDelcroix commented on #8221
could you please tell use the exact version you're testing ? thanks

[2019-10-25 10:30] Mikilll94 commented on #8028
@jfversluis
This solution works, but Navigating and Navigated events are not called. Maybe do you a solution for that?

[2019-10-25 10:48] norfus commented on #8221
Works in 4.2.0.910310, does not work in 4.3.0.908675, thanks for looking into it

[2019-10-25 10:49] DuncWatts opened #8222 "[Bug] UWP Text in Editor is now vertically centered."
### Description
Changes made to add ITextAlignmentElement have modified the FormsTextBoxStyle to add VerticalAlignment, however the matching properties have not been added to the Editor control that also uses this style.  This has changed the default vertical alignment used on the Editor control to Center with no way to override this from within the shared project.

https://github.com/xamarin/Xama

[2019-10-25 10:52] GalaxiaGuy commented on #8219
As per the documentation, there are two settings for `SeparatorVisibility`:

[2019-10-25 10:55] GalaxiaGuy commented on #8219
As per the documentation, there are two settings for `SeparatorVisibility`: `None`, which hides them and `Default` which is do whatever the platform default is, which for Windows means no separators.

Changing that would probably be considered a breaking change. Adding a new option like `Show` could be an option.

[2019-10-25 11:06] haavamoa commented on #8099
Sounds good @StephaneDelcroix .

Could you link me the documentation for `MultiBinding` ? I struggle to find this on the webs.

[2019-10-25 11:23] KalyanXamarin commented on #2233
@davidortinau any updates on this. This issue exist in latest Library 4.1 also

[2019-10-25 11:35] StephaneDelcroix commented on #8221
Works fine with a quick test. looking at your project...

[2019-10-25 11:39] StephaneDelcroix commented on #8221
not sure why your project doesn't work, but I can't test as it's not a full app... please provide a complete reproduction link.

also, your view is

[code]

but your VM is

[code]

[2019-10-25 11:41] StephaneDelcroix commented on #8099
🤪 we don't have that yet

[2019-10-25 11:57] StephaneDelcroix commented on #8221
#7837 regressed this.  working on it

[2019-10-25 12:04] jsuarezruiz commented on #5381
The link to the repro sample is no longer available :pensive:. Could you upload it again or add another repro sample? I have done some tests (using Shell and PinchGestureRecognizer) and need more details to reproduce the problem.

![ezgif-2-084fe9f4886b](https://user-images.githubusercontent.com/6755973/67569876-564eb380-f730-11e9-9c4a-40d016edfcca.gif)

[2019-10-25 12:06] tp16190 opened #8225 "[Bug] CarouselView not working in ios application"
**Description**
I had created mobile application using Xamarin.Forms(version 4.3.0.908675) and use MVVM pattern. I am using CarouselView in one of my page. as below

`<CarouselView ItemsSource="{Binding SelectedProduct.ProductImages}" Position="{Binding SliderPosition}" PositionChangedCommand="{Binding PositionSelectedCommand}" PositionChangedCommandParameter="{Binding SliderPosition}">

[2019-10-25 12:11] amirvenus commented on #7937
It's very annoying!

Sometimes I get this error as well when it crashes:

[code]

[2019-10-25 12:14] norfus commented on #8221
Hello, sorry i did some last minute changes before uploading, i created a new sample(TestCollectionVIew2.zip) now with only this issue. Building the sample generates the error, and changing back to  4.2.0.910310 resolves it

[2019-10-25 12:30] MagicAndre1981 commented on #8218
The [Microsoft UWP docs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.viewmanagement.uiviewsettings) also uses size changed event because size changes when switching desktop/tablet mode.

So could do the checks

[code]

 in base `OnSizeAllocated` so that we can use the updated check in the override methods  🤔

[2019-10-25 12:31] chrisfoulds commented on #6908
See it also with ListView and FlowListView - something fundamentally broken

[2019-10-25 13:18] HobDev opened #8227 "[Bug] CollectionView invisible items hold space and are selectable"
### Description
I am using CollectionView to create Accordion. The CollectionView needs to show Grouped items when user clicks on the header and again hides it with another click. But the issue is that the hidden items stills hold their space and are selectable. In the screenshot below the Group1 items are holding as much space as Group2 and the second item is selected in Group1 although it's item

[2019-10-25 13:21] HobDev commented on #8227
This issue match with previous resolved  issue at https://github.com/xamarin/Xamarin.Forms/issues/5647.

[2019-10-25 13:28] HobDev opened #8228 "[Bug]Grouped CollectionView shows the item source object name in each group"
### Description
I am using Grouping with CollectionView. The Collection View shows the name of the itemssource object in the end of every group. The name of the object in this case happens to be ShellRepro.CategoryGroup.

- Version with issue:Xamarin.Forms-4.3.0.908675
- Affected Devices:iOS

### Screenshots
![CollectionView](https://user-images.githubusercontent.com/9531864/67574893-f7e9fb00-f758

[2019-10-25 13:36] EvoPulseGaming commented on #8203
Yes, I would say so, I use SelectedItems for my loop so never experienced
your crash.

On Fri, Oct 25, 2019, 2:22 AM Javier Suárez Ruiz <notifications@github.com>
wrote:

[2019-10-25 13:40] Muthukumaran-G opened #8229 "[Bug] [XAMARIN-FORMS-WPF] Forms ViewRenderer doesn't create render when child added in its Forms element"
### Description

Greetings,

We at Syncfusion have started implementation for providing support in Xamarin.Forms WPF platform for our controls. We have created Native renderer for a forms element derived **ViewRenderer<FormsElement, NativeElement>**. We have found that when child added for those forms element, it doesn't create its renderer automatically as like in UWP platform. We have analyzed t

[2019-10-25 13:42] ncg81 commented on #1730
@akuehntopf I second the above.

**Xamrin Forms Team**, please don't ignore this. Without the possibility to hook into the live preview stream and consume the frames in our code, the Camera View would be of **limited use**.

[2019-10-25 13:45] maexsp commented on #8188
I can confirm this bug. Also appears without freshmvvm. After hotreload all the tabs pages get duplicated on Android.

[2019-10-25 13:46] HobDev opened #8230 "[Bug] CollectionView Items does not update correctly when IsVisible Property Change"
### Description
I am using CollectionView as Accordion. A tap on header displays items in the selected group and hides the items of previously selected group. The second tap on same group header also hides the items of the selected group. But the update does not reflect correctly on CollectionView. Please see the ScreenShot below where all the items are not displayed correctly in selected group. W

[2019-10-25 13:47] EvoPulseGaming commented on #8184
I would say the default is desirable, as null would let you know that an item was deselected. (For example if you generate a list based off what was selected, if de-selected you would want to clear the list. )

I would put a null check in user code, and call it a day

[2019-10-25 13:48] EvoPulseGaming commented on #8203
I'm not sure about that, see comment I left in 8184

[2019-10-25 13:53] EvoPulseGaming commented on #8216
So maybe this is where we split in opinion. When I think "Xamarin" I think universal. I think behavior = the same everywhere.

But I noticed the  comment about "It's possible that some folks want the default native behavior"

So this enhancement while solving the particular issue, doesn't solve the issue in general. I expect the behavior to be the same across all platforms using Xamarin.... explic

[2019-10-25 14:01] VladislavAntonyuk opened #8232 "[Bug] iOS Application crashes when create page second time"
1. Create instance of page. in ctor it should call ```BindingContext = IoC.Resolve<PageViewModel>;```
2. PushPageAsync
3. Navigate back
4. Repeat step 1

Current behavior:
Application crashes

Expected behavior:
Page is displayed

XF latest nightly build
iOS 12.4 and 13.1

[code]

Note: Android works as expected

[2019-10-25 14:05] maexsp commented on #4488
This would be great to have it on UWP. Similar to the UWP NavigationView - PaneDisplayMode="LeftCompact"

See https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview

[2019-10-25 14:35] JeysonGustavo opened #8233 "[Shell] Entry Focused Event Issue"
### Description

Event Focused of a entry control is being called even when use entry.UnFocus() in OnDisappearing event.

### Steps to Reproduce

1. Create a screen with one entry control.
2. Create a Focused event.
3. Override OnDisappearing method and set Entry.Text = ""; Entry.Unfocus();
4. Put a breakpoint in the entry_Focused method.
5. IMPORTANT: Set some value in the entry control. If a val

[2019-10-25 14:43] GalaxiaGuy commented on #8228
It seems to be the group footer. As a work around, adding

[code]

Seems to make it go away.

[2019-10-25 14:45] quentinR0bert commented on #3455
Any news about this request ?

[2019-10-25 15:52] jamesmcmenamin commented on #5386
Any idea were we are on this? This is a BIG DEAL for enterprise app's both the ability to toggle and it graying out if disabled.

[2019-10-25 16:15] hartez commented on #8233
Also:

1. Navigate to the Entry Test page.
2. Tap on Entry Two. Enter some text.
3. Tap on Entry One. Enter some text.
4. Navigate to another page.
5. Navigate to the Entry Test page.

Entry Two will have focus. It seems as if the page is caching the first Entry to get focus and reusing that value when appearing. Even if you clear out the entries before leaving the page, they will be focused when

[2019-10-25 16:17] hartez commented on #8232
@VladislavAntonyuk Why are you using Activator.CreateInstance to create a Page? Also, can you provide a minimal repro project or some example code?

[2019-10-25 16:47] shanranm commented on #8129
Moved the ordering just after adding it the first time.
When a new Child is added we anyway are calling EnsureChildrenOrder, so shouldn't effect runtime changes.

[2019-10-25 16:48] scastria commented on #4987
@samhouts I am testing on XF 4.3.0 and this bug is still present

[2019-10-25 16:51] charlesroddie commented on #7602
There is no point in getting new versions of Xamarin.Forms to work with old tooling. People who want to use old tooling can still use old versions of Xamarin.Forms. Needing to support old tooling would be a drag on development in a repo that already has too many drags on development.

[2019-10-25 16:51] VladislavAntonyuk commented on #8232
@hartez I navigate to VM so I get type of page using mapping (page-VM). And I have create new page based on its type. I will investigate an issue and attach an example

[2019-10-25 17:29] YZahringer opened #8234 "[Enhancement] Add FlexLayout ItemsLayout on CollectionView"
## Summary

Supporting `FlexLayout` in the `CollectionView` would be useful to manage items of several sizes, responsive, aligned, wrapped, justified,...

Currently I use a `FlexLayout` with `BindableLayout` to get this kind of result, which is not possible with the `CollectionView`.

## API Changes

Create `FlexItemsLayout` with `FlexLayout` properties and support `FlexLayout` attached properties

[2019-10-25 17:39] PureWeen opened #8235 "[Bug] Remove Current Page broken on Shell"
### Description
https://github.com/xamarin/Xamarin.Forms/pull/8135#pullrequestreview-307128759

### Steps to Reproduce

when I click remove current page I get a black screen , if I navigate back I get a black screen also.
if I play with push page, insert a orange one before, and the remove current page I get these black screens in every page of the stack. eventually when I go to root it just crash

[2019-10-25 17:50] bmacombe commented on #8222
I've seen this behavior also after getting 4.3 nugets

[2019-10-25 19:26] JeysonGustavo opened #8237 "[Shell] Unable to set text outside constructor and OnAppearing in search bar"
### Description

Is not possible to set a text in search bar of shell menu outside the constructor and OnAppearing methods.

OBSERVATION: In this example, I tested the monkeys page.
[ShellSearchBarTextIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/3773477/ShellSearchBarTextIssue.zip)

### Steps to Reproduce

1. In <Shell.SearchHandler> tag of the page set a name for the Search Handler c

[2019-10-25 19:43] VladislavAntonyuk commented on #8232
I think it is related issue: https://github.com/dadhi/DryIoc/issues/187

[2019-10-25 19:52] csk1nner commented on #4720
The memory leak is still in place.  Same issue.  Massive increase in memory on UWP.  Android and IOS work fine.

[2019-10-25 19:58] cheles commented on #4720
my tests showed super improvements. Are you sure you've targeted >=RS3? or else, can you share a repro?

[2019-10-25 20:01] hartez commented on #8222
[_8222 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3773605/_8222.Repro.zip)

[2019-10-25 20:05] hartez commented on #8225
@tp16190 When you say "not working", what do you mean? Does it crash? Does the CarouselView fail to appear? Are the items displaying incorrectly, or not at all?

[2019-10-25 20:09] hartez commented on #8219
@GalaxiaGuy is correct. If you really want separators on UWP, please open an enhancement/feature request. Alternatively, you could implement them in a custom renderer, or add them as part of your data template.

[2019-10-25 20:09] #8219 closed

[2019-10-25 20:22] VladislavAntonyuk opened #8238 "[Bug] iOS NRE Shell OnCurrentItemChanging"
Create Shell app from template, push CarouselPage (I see only black screen on iOS, on Android it works). Press tab:
[code]

iOS 12.4
Xamarin latest nightly build

[2019-10-25 20:23] GarryPSmith opened #8239 "[Bug] Custom renderer's OnElementChanged is not called when renderer is disposed"
### When a custom renderer is automatically disposed it should trigger a call to OnElementChanged() with a reference to the associated element in the ElementChangedEventArgs<T> under OldElement to allow for any clean-up (i.e. remove event handlers). This is not happening, OnElementChanged() is not called before the renderer is disposed.

### Steps to Reproduce

1. Create a custom control with an e

[2019-10-25 20:29] PureWeen commented on #8239
Duplicate https://github.com/xamarin/Xamarin.Forms/issues/2520

[2019-10-25 20:29] #8239 closed

[2019-10-25 20:30] VladislavAntonyuk opened #8240 "[Bug] iOS Shell Menu hamburger disappears after return to main page"
1. Create Shell app using template
2. Push any page
3. press back button

Current behavior
hamburger and masteropage are missed

Note:
if you add tabbar and switch between tabs hamburger will appear

iOS 12.4
XF latest nightly build

[2019-10-25 20:46] hartez commented on #8237
Doesn't appear to work in `OnAppearing`, either.

[2019-10-25 20:49] brepetti commented on #7400
Same problem.  This breaks any session management.

[2019-10-25 20:55] VladislavAntonyuk commented on #4478
I get it called on iOS by
[code]

[2019-10-25 21:17] brepetti commented on #7478
https://github.com/xamarin/Xamarin.Forms/issues/7400
https://github.com/xamarin/Xamarin.Forms/pull/7477

[2019-10-25 21:38] lavilaso commented on #2049
@samhouts @StephaneDelcroix
Something about this?
It can't be that this takes so much open time.

[2019-10-25 22:01] scastria opened #8243 "[Bug] [iOS] TableView cells Tapped event doesn't work if cell contains ContextActions"
# Description
If I create a TableView and put a TextCell inside with a Tapped event handler.  The Tapped event handler works fine.  If I add a ContextAction to that cell, the Tapped event handler is NOT called.  However, if you tap exactly on the divider in between the cells, the Tapped event handler IS called.  Therefore, I think the ContextAction is adding some invisible View on top of the entir

[2019-10-25 22:07] scastria commented on #8243
I don't know how many ContextAction related bugs on iOS I have had to deal with over the years.  More than 1 is too many.  Can you guys please add some unit tests around ContextActions so you don't regress again!!

[2019-10-25 22:35] #7416 closed

[2019-10-25 22:39] #7396 closed

[2019-10-25 22:55] hartez commented on #8198
Yeah, even if you make the ScrollViews in the ItemTemplate `Orientation="Horizontal"`, this happens.

[2019-10-25 23:04] czuck opened #8246 "[Bug] [iOS] image doesn't expand if LayoutOptions are defined"
## Description
in iOS, images are not expanding when LayoutOptions are defined even though the options are declared with "andExpand"

### Steps to Reproduce

1. Run the attached program in Android.  Open the Master Menu.  Note that the image expands to take most of the view area (Aspect Fit) while anchored to the bottom of the view
2. Run the program in iOS and open the menu.  Note that there is a

[2019-10-25 23:07] czuck commented on #8246
[HeaderTest.zip](https://github.com/xamarin/Xamarin.Forms/files/3774117/HeaderTest.zip)
Sorry, wrong test program, use this one.

[2019-10-25 23:29] hartez commented on #8178
Only reproducible with Samsung software keyboards on tablets. The keyboard on the phone doesn't have the back/forward buttons, and they don't exist on Google keyboards. Also, this doesn't seem to happen with external hardware keyboards and the Tab button.

[2019-10-25 23:31] hartez commented on #8178
[_8178 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3774142/_8178.Repro.zip)

[2019-10-25 23:49] hartez commented on #8240
@VladislavAntonyuk I'm trying to reproduce this issue, but I am not having any luck. Could you upload a minimal reproduction project or post your shell XAML and code? Thanks.

[2019-10-26 03:08] brminnick commented on #7878
@breyed We can subscribe/unsubscribe to `ContentPage.Disappearing` to ensure `PopModalAsync` doesn't fire unexpectedly.

Here's an example to handle when the user launches a camera view:

[code]

Here's a sample app where I've implemented this work-around:
https://github.com/brminnick/AzureBlobStorageSampleApp/blob/6d8c0f7cb5b86e6cea3ad352f5b6ec761a461962/AzureBlobStorageSampleApp/Pages/AddPhotoPa

[2019-10-26 03:19] PureWeen commented on #6707
@rmarinho is this still an issue?

[2019-10-26 03:39] ianthetechie commented on #6908
It frequently mis-sizes to not account for tab bars when a full screen list view is loaded in landscape orientation. _Xamarin_ is fundamentally broken. It's happened on and off for at least a year.

[2019-10-26 05:03] chrisfoulds commented on #6908
I regret upgrading from forms 3.6 so many hacks and workarounds. Stop adding features and make it work, I am working around bugs that have been open months or even years.
This is probably the last big forms project I will do, over to flutter , not out of choice but being forced to due to a broken platform

[2019-10-26 05:04] chrisfoulds commented on #6908
Three months to make a listview work, ridiculous

[2019-10-26 05:26] HobDev commented on #8228
@GalaxiaGuy  Thank you for the workaround. I can use this until issue is resolved.

[2019-10-26 06:05] BalasubramaniSundaram opened #8249 "[Bug] IsClippedToBounds value isn't working when we set via implicit style"
### Description

Hi Team,

We at Syncfusion develope data visualization controls for Xamarin, Please refer to the below link for a description about us.
UserGuide: https://help.syncfusion.com/xamarin/introduction/overview
FeatureTour: https://www.syncfusion.com/products/xamarin.

We have currently noticed an issue when setting the isClippedToBounds value through implicit style and other than IsCli

[2019-10-26 07:27] kgibert commented on #5381
**Try this code:**

 `public class PinchZoom : ContentView
    {
        private double currentScale = 1;
        private double startScale = 1;
        private double xOffset = 0;
        private double yOffset = 0;

        public PinchZoom()
        {
            PinchGestureRecognizer pinchGesture = new PinchGestureRecognizer();
            pinchGesture.PinchUpdated += PinchUpdated;

[2019-10-26 07:29] hyurii commented on #5381
**Try this code:**
`public class PinchZoom : ContentView
    {
        private double currentScale = 1;
        private double startScale = 1;
        private double xOffset = 0;
        private double yOffset = 0;

        public PinchZoom()
        {
            PinchGestureRecognizer pinchGesture = new PinchGestureRecognizer();
            pinchGesture.PinchUpdated += PinchUpdated;

[2019-10-26 09:31] VladislavAntonyuk commented on #8232
The issue is solved

[2019-10-26 09:31] #8232 closed

[2019-10-26 09:33] VladislavAntonyuk commented on #5434
I don't see this issue any more. I will close it for now.

[2019-10-26 09:33] #5434 closed

[2019-10-26 10:06] VladislavAntonyuk opened #8251 "[Enhancement] Application.Current.MainPage.DisplaySnackbar"
## Summary
MainPage can display messages and prompts, which requires user interaction (press button).
Using toast or snackbar you can display user friendly notification without necessity to click any button.

```Application.Current.MainPage.DisplaySnackbar(message, duration = 3000, actionButtonText=null, action=null);```

## API Changes

Add new method which will call native implementation:
- For

[2019-10-26 10:52] majdaneq commented on #5045
Hi guys, any updates? Let me know if you need any contribution.

[2019-10-26 11:05] HobDev commented on #5266
@samhouts  As Route, RouteScheme and RouteHost are no longer public API's could this issue be closed.

[2019-10-26 11:17] HobDev commented on #5327
@MaxenceSAUNIER Shell have TabBarBackgroundColor if I understand your requirement clearly.
Thanks

[2019-10-26 12:39] VladislavAntonyuk commented on #8238
![image](https://user-images.githubusercontent.com/33021114/67619647-bb74d880-f806-11e9-9ed7-5af05ad94e27.png)

[2019-10-26 13:49] johnshardman commented on #7258
It's still an issue. I'll create a repro sample when I get time

[2019-10-26 14:30] VladislavAntonyuk commented on #8238
[Issue8238.zip](https://github.com/xamarin/Xamarin.Forms/files/3774925/Issue8238.zip)
Launch iOS app in simulator, click on any item in list, click CarouselPage.
CarouselPage is black (another bug). Press tab. the NRE is thrown

[2019-10-26 14:41] VladislavAntonyuk opened #8252 "[Enhancement] Maps pin Add icon property"
## Summary
Using icon property I can set custom pin image, so I do not need to create custom MapRenderer

## API Changes

Add new property maps:Pin.Icon

## Intended Use Case
Mark different objects on map depend on the markerId

[2019-10-26 16:11] BalasubramaniSundaram opened #8253 "[Bug] Strange behavior on LineBreakMode as WordWrap when it doesn't have enough space to layout that word"
### Description
Hi Team,

We have recently noticed that strange behavior on LineBreakMode as WordWrap in Label. When the width of the label is "80" the label text is "Anne Wilsondon is a great person in the world" as we expected Anne will definitely fit within space but when comes to "Wilsondon" word its doesn't fit within it so it will be shipped to next line but its layout the "Wilsond" within t

[2019-10-26 18:49] wojciech-kulik opened #8255 "[Bug] Control.SearchBarTextField causes crash on iOS 12"
### Description

### Steps to Reproduce

1. Create custom renderer inheriting from`SearchBarRenderer`
[code]

### Expected Behavior

Property should work or there should be warning that it's not available below iOS 13.

### Actual Behavior

It causes crash on iOS 12 `unrecognized selector sent to instance`

### Basic Information

- Last known good version: -
- IDE: Visual Studio for Mac 8.3.4 (#8)

[2019-10-26 20:36] hartez commented on #8249
You are setting an explicit value for `IsClippedToBounds` - this takes precedence over the value from the style. Comment out `this.IsClippedToBounds = true;` in your constructor, and you'll see `OnPropertyChanged` called for `IsClippedToBounds`.

[2019-10-26 20:36] #8249 closed

[2019-10-26 20:53] hartez opened #8256 "[Enhancement] [iOS] Make SearchTextField accessible from SearchBarRenderer"
## Summary
(For context, see also #8255)

As of iOS 13, the UISearchBar's search text field is publicly available (https://developer.apple.com/documentation/uikit/uisearchbar/3175433-searchtextfield). Up to this point, Forms has accessed it via `Control.FindDescendantView<UITextField>()` to set the private `_textField` member in the `SearchBarRenderer`.

Forms should be updated to use the new `sea

[2019-10-26 20:53] pfedotovsky commented on #6804
Any workarounds till the issue is fixed?

[2019-10-26 20:57] hartez commented on #8255
We can't catch and warn about this directly in Forms - you'd need to implement your own version check. However, we could make it easier to access the SearchTextField when writing a custom renderer - see #8256.

[2019-10-26 20:57] #8255 closed

[2019-10-26 20:58] anpin commented on #7510
I had exactly the same issue on 4.3.0.908675 when adding items to ObservableCollection and as mentioned by @andyhoyle it was fixed by preventing calling of `new ObservableCollection()` more than once.
Exception:

System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.GroupableItemsViewAdapter`2[[Xamarin.Forms.GroupableItemsView, Xamarin.Forms.

[2019-10-26 21:03] wojciech-kulik commented on #8255
So how do I know then which property can crash and which can't?

In this case, I've just used `Control.SearchTextField.AutocorrectionType = UITextAutocorrectionType.No;` not expecting any risk here and after uploading to AppStore I started receiving crashes from Firebase and only then I figured out that there should be a version check and for older iOS versions I used this code: `Control.Autocorre

[2019-10-27 02:16] kvpt commented on #2444
All these stacktrace are same (the others are different issues).
https://github.com/xamarin/Xamarin.Forms/issues/2444#issue-313689253
https://github.com/xamarin/Xamarin.Forms/issues/2444#issuecomment-527560451
https://github.com/xamarin/Xamarin.Forms/issues/2444#issuecomment-541412951

For these, this occur because the renderer of the view (here the label) has been disposed before the view detachm

[2019-10-27 04:19] mfeingol opened #8258 "[Bug] Switch ThumbColor is broken"
### Description

There are two problems, at least on Android:

1. When a switch is initialized toggled, the 'on' thumb color is always the accent color. But when a switch is initialized untoggled, the 'on' thumb color is some shade of white. So two otherwise identical switches will look different for no obvious reason.
2. A switch's thumb actually has two colors, an 'on' color and an 'off' color.

[2019-10-27 10:57] hamiddd1980 opened #8260 "[Bug] CollectionView in Right to Left flow direction Problem"
### Description
Hello.
In CollectionView , when **FlowDirection** is **RightToLeft** and **ItemsLayout** set to **GridItemsLayout** with **Orientation** **Vertical**.(at least Span =2) , the View itself is Right To Left but items arrangement and sequence is not like what in View's ItemsSource and items are actually laid from Left to Right.(example :with Span =3,first item in the View (which is the

[2019-10-27 11:14] jfversluis commented on #7323
Hey @samirgcofficial thanks for reporting your findings. Did you see the comment that we are referring to all the way at the top: https://github.com/xamarin/Xamarin.Forms/issues/7323#issuecomment-542363338?

That should explain the current status pretty much :)

Summary: there is no workaround or solution right now, we are working on it. But this message from Apple is just a warning and you should

[2019-10-27 11:25] JawadJaber commented on #7323
@jfversluis @samirgcofficial
As per my experience, Apple no longer accepts any app that shows UIWebView in its binary. We are unable to send our Xamarin apps to App Store any more. Thus, it is not only a warning message, it is very important issue.
If on the other hand you have a solution on how to publish our apps, Please let us know how?

[2019-10-27 13:09] samirgcofficial commented on #7323
@JawadJaber  Yes, It's a serious issue! I can't do external testing of my app in app store for test flight. But Internal testing of app is possible and this WebView never affect's for internal testing.
Scenario was to generate external link and share which can't be done in Test Flight. Any solution ?

[2019-10-27 14:02] theo-albers commented on #7833
I tried pushing my local branch in order to create a pull request, but got a 403. One day I might find the energy to sort this out and contribute directly ;-(
[Xamarin.Forms.zip](https://github.com/xamarin/Xamarin.Forms/files/3775917/Xamarin.Forms.zip)

[2019-10-27 15:41] zhuxinghan opened #8261 "[Bug] [macOS] MainPage=NavigationPage causes crash with version 4.3 on High Sierra"
### Description

After updating Xamarin.Forms to version 4.3, I found my apps that use NavigationPage as MainPage can't launch (crashes before window is shown) on macOS 10.13 High Sierra, but there're no problems on macOS 10.15 Catalina. Xamarin.Forms 4.2 is OK for both High Sierra and Catalina.

### Basic Information

- Version with issue: the first version of 4.3
- Last known good version: the l

[2019-10-27 15:52] hartez commented on #8260
@hamiddd1980 Which platform(s) are you seeing this on? Android, UWP, or iOS?

[2019-10-27 16:03] avatar2012 commented on #7741
This issue still remains on reacent VS2019. Any suggention?

[2019-10-27 16:48] techduggu commented on #8258
Possibly duplicate of #7249 and is fixed with #7777

[2019-10-27 16:53] hartez commented on #8253
This is how the underlying native controls handle their text wrapping; for example, see [TextWrapping.Wrap](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.TextWrapping#fields) for UWP and [NSLineBreakMode - NSLineBreakByWordWrapping](https://developer.apple.com/documentation/uikit/nslinebreakmode?language=objc) for iOS.

If you want different behavior in this circumstance, you'll need to

[2019-10-27 16:53] #8253 closed

[2019-10-27 17:08] cabal95 commented on #7323
@JawadJaber if you are getting a different message from Apple that says they rejected your binary rather than just warning then please post a screenshot or something to give more details. I successfully submitted a binary to Apple on Friday with no issue other than the warning email.

[2019-10-27 17:24] hamiddd1980 commented on #8260
Hello
This Problem Exists in Both **Android** and **iOS**.(I don't work in UWP)
Thanks.

[2019-10-27 17:30] Happypig375 opened #8262 "[Bug] System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.FastRenderers.LabelRenderer"
### Description
The following exception occurs when scrolling in the repro on an Android device.
[code]

### Steps to Reproduce

1. Paste into MainPage.xaml.cs
[code]
2. Add an embedded image file with name "light.png"
3. Debug the app onto an Android phone (e.g. my Xiaomi Redmi 6 running Android 8.1 is a phone that can repro the exception)
4. Scroll downwards quickly (aim for at least 30 items pe

[2019-10-27 17:37] hartez opened #8263 "[Enhancement] Add On/Off VisualStates for Switch"
## Summary

Provide On/Off VisualStates for the Switch control so that users can style them in the VisualStateManager.

## API Changes

None; this would simply require adding a changed handler for the `Switch.IsToggledProperty` and calling `ChangeVisualState()`; `ChangeVisualState` would need to be overridden for the Switch to set the appropriate state.

## Intended Use Case

Users may want to cha

[2019-10-27 17:43] Happypig375 commented on #8262
Related: #2444, #7663

[2019-10-27 17:45] BalasubramaniSundaram commented on #8249
Hi @hartez,

My clear use-case is by default want to my control IsClippedToBounds be true, at some sort of condition I need to change my property value to false through implicit. whatever the situation property value should need change through explicit or implicit.

For example.
In my control by default, I had set the background as blue in the constructor. It's ok for one page, on another page I d

[2019-10-27 17:46] hartez commented on #8258
@techduggu is correct - problem 1 is the same as #7249.

For problem 2 - instead of adding a separate property for the thumb color when the control is in the "On" state, we should allow that to be managed by the VSM. I've created an issue for that: https://github.com/xamarin/Xamarin.Forms/issues/8263

[2019-10-27 17:46] #8258 closed

[2019-10-27 17:51] Happypig375 commented on #2444
Also see #8262

[2019-10-27 18:54] YZahringer commented on #5265
Same problem, here is an example where the FlexLayout should be aligned at the beginning at the top but it takes all the space horizontally and vertically.
[code]

[2019-10-27 18:57] martindybal commented on #7323
I just submit a binary and I got warning e-mail only

[2019-10-27 18:57] DoubleDBE commented on #5265
@YZahringer Wrap it in a StackLayout as a temp solution until the issue is resolved.

[2019-10-27 20:41] jfversluis commented on #7323
@JawadJaber @samirgcofficial  could you please tell me why you think your binary is rejected because of this reason? We have no reason to think that this is still a warning. A lot of people are confirming this and the warning text in the e-mail message has not changed since this issue was created.

We agree that this is a very important issue, that is why we are working hard on a solution and we a

[2019-10-27 20:42] hartez commented on #8173
I'm trying to reproduce this issue, but the HTML seems to render just fine on iOS. I've attached my repro project - is there a detail I'm missing?

[_8173 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3776380/_8173.Repro.zip)

[2019-10-27 21:13] hartez commented on #8171
@codemillmatt I'm trying to see the issue in you repro project, but as far as I can tell the TitleColor is correct the first time each page is loaded. I think I must be misunderstanding the issue.

Can you attach a couple of screenshots with annotations showing what's incorrect with the TitleColor?

[2019-10-27 22:30] hartez commented on #8141
You don't need to do any customization to get a localized DatePicker - just run on a device with the language set to de-DE and it will localize the control for you:

![Screenshot_20191027-162542](https://user-images.githubusercontent.com/538025/67642965-04945d80-f8d7-11e9-9d9c-8bd12b2b0f38.jpg)

Is there some reason you need to localize it manually?

[2019-10-27 22:50] codemillmatt commented on #8171
I can't make it happen any more either @hartez ... trust me - it _was_ happening, but it's working now. 😄 I'm going to close this issue out. Thanks for taking a look at it.

[2019-10-27 22:50] #8171 closed

[2019-10-27 23:43] hartez commented on #8138
Interestingly, I can replicate this on my simulator running Oreo at 1080x1920 but not on a device running Pie at 2960x1440.

[2019-10-27 23:53] hartez commented on #7826
I can repro it if I run it on my Galaxy S8 and rotate to landscape mode while the app is running. Sometimes it will immediately go into the loop, other times I have to scroll it a bit first.

[2019-10-28 00:07] hartez commented on #7712
If I remove the SF TabView from your sample app, the crash no longer occurs. I'm going to assume this is an issue with the third-party control and close this for now. If you get any new information that suggests this is an issue with Forms, reply here and we'll re-open this issue.

[2019-10-28 00:07] #7712 closed

[2019-10-28 01:09] hartez commented on #8154
`IsClippedToBounds` applies to the control you set it on; it determines whether that control is allowed to draw outside of its parent. You have it set to false on the outer StackLayout, so it will have no effect on the ScrollView. Also, you have a HeightRequest of 20 on your ScrollView, so the ScrollView has a height of 20.

Also, in most cases setting `IsClippedToBounds` to false on a ScrollView

[2019-10-28 01:09] #8154 closed

[2019-10-28 02:45] ChaseMarsh commented on #6693
Hi @samhouts, I have a fix for this and would like to create a PR. It is my first PR, so I need help with that rigmarole. I have a local branch that I'm unable to push to remote.

[2019-10-28 03:06] xamarindevelopervietnam commented on #8251
vote

[2019-10-28 04:21] pinyo-rungoral commented on #8154
I'm confuse, At API document it determines "Layout should clip its children to its bounds." and i already test StackLayout is work but ScrollView is not work

In this case, I try to show ScrollView (fixed 200 height) that overflow StackLayout(fixed 100 height)

*note: I have push new commit to Reproduction repository
![image](https://user-images.githubusercontent.com/43538243/67651623-82f30d00-f97

[2019-10-28 06:19] JawadJaber commented on #7323
Ok, I admit it is working properly now with Apple.
Although, 3 weeks back it was rejected, and I contacted App Store support team and they said the same (their policy).
But now it is working. I think Apple just changed their policies for this case. Thank you @jfversluis , @martijn00 @cabal95

[2019-10-28 07:32] PrvnKmr commented on #8141
Hi @hartez ,

The localization is fine when device locale is changed. But in my case, this is not enough.

The application provides user a provision where he can change the application language. In this case we would need to set the application locale without changing the device language.

Thanks,

Praveen

[2019-10-28 07:54] techduggu commented on #8170
Hi Team,
I've tested this and it is currently breaking as described in this issue. I found this is due to the same reason (Effective value of Flyout is being considered as default before the content page is rendered) and the same is described by here: https://github.com/xamarin/Xamarin.Forms/issues/7985#issuecomment-542461011

This issue is related to #7985 and I strongly believe will be fixed by

[2019-10-28 08:08] YZahringer commented on #8167
Same issue, it's a regression and blocks the update of XF 4.3 on UWP

[2019-10-28 08:18] hetcmnten commented on #6946
have any one find solution for this? I encounter this problem in iOS 12.4 and above

[2019-10-28 09:00] techduggu commented on #8263
I'm working on this.

[2019-10-28 09:00] royaza opened #8266 "Not able to change the "Entry text" alignment"
### Description

After updating the xamarin forms, I can not change the entry text alignment to the center of the entry.
### Steps to Reproduce

1. Update the Xamarin forms to 4.3
2.  HorizontalTextAlignment = TextAlignment.Center
3. The text position is not changed, and it is still shown on the left instead of the center.

### Expected Behavior

The text must appear in the center of the entry.

#

[2019-10-28 10:03] jfversluis commented on #7875
@magoolation Not trying to put pressure on you, sorry! But did you make any progress with this yet? Please let us know if you need help or want us to take over. Thanks!

[2019-10-28 10:05] Happypig375 commented on #8266
Duplicate of #7538

[2019-10-28 10:07] jfversluis commented on #8266
Hey @royaza thank you for making us aware of this issue!

Like @Happypig375 already pointed out, this seems to be a duplicate. Please track the mentioned issue for further progress and add any information that might be relevant there.

Thanks!

[2019-10-28 10:07] #8266 closed

[2019-10-28 10:08] magoolation commented on #7875
Thank you for asking.
I couldn’t find a solution yet
If you can give me a direction to follow i will aprecia-te it
But if you think it will be easier solve it by yourself go ahead

On Mon, 28 Oct 2019 at 07:04 Gerald Versluis <notifications@github.com>
wrote:

[2019-10-28 10:19] jfversluis commented on #8028
Ugh, yeah, OK that sucks. The only quick way I see is to basically take [this whole delegate](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs#L196) from the actual renderer and add the piece from my renderer in the project I added.

Since our delegate is private you can't create an inheritance from that

[2019-10-28 10:19] uponpara opened #8267 "[Bug] Visual Editor expand line problem"
### Description
Visual Editor work fine on Android device, simulator and iOS simulator.
But on iOS device expand line have problem.

### Expected Behavior

Enter new line of Editor would expand and push down control another after Editor.

### Actual Behavior

Expand line under another control.

### Basic Information

- Version with issue: 4.3
- Last known good version: Just tested with lastest ver

[2019-10-28 10:30] KSemenenko opened #8268 "[Enhancement] BindableLayout allow use ViewCell"
## Summary
It would be nice to have the opportunity to use ViewCell in a DataTemplate in Bindable Layout.
In this case, you can change to choose which container to use. ListView or StakLayout for example.

[2019-10-28 10:31] toussam commented on #2616
Hi @techduggu,

From my point of view, you were not able to reproduce the issue because the emulator that you are using is based on the API 27. The observed behavior was discovered on the API 19 (4.4.2).

About your final question: I updated the Xamarin.Forms nugget package to its latest stable version.

Best regards,

[2019-10-28 10:44] MickLesk commented on #7999
I can't give you the source code because it's being used commercially. (Company app).
What exactly do you need?
I did the update to the new 4.3-pre version today, the bug is still there.

[2019-10-28 10:46] BalasubramaniSundaram commented on #8249
Hi @hartez

Colud you please re-open this incident

Regards,
Balasubramani Sundaram.

[2019-10-28 10:50] Sivaraman761 commented on #8249
Hi @hartez

we are also facing the issue. Can you please check this?

[2019-10-28 11:05] ykoorb opened #8269 "[Bug] CollectionView exception when IsGrouped=true and null ItemSource"
### Description
When using IsGrouped="true" on a CollectionView, an error is thrown when the datasource is null. Seems obvious now i write it down - but the control is more forgiving when IsGrouped="false". Also, although the exception mentions a null reference, it was tricky to track down the source when it occurred. A workaround is to set the ItemSource to an empty list rather than a null list.

[2019-10-28 11:19] #6291 closed

[2019-10-28 11:19] #7048 closed

[2019-10-28 11:19] #7680 closed

[2019-10-28 11:19] #7850 closed

[2019-10-28 11:19] #7939 closed

[2019-10-28 12:45] jfversluis commented on #7875
Did you see this comment from a little bit earlier? You can find it here: https://github.com/xamarin/Xamarin.Forms/issues/7875#issuecomment-540141157

Although I do see they are talking about a `Label` and not a `Button` there... Maybe I need to do some more research myself :)

[2019-10-28 12:54] oscarjaergren commented on #8137
Omg this issue is so old. Seems to have been fixed once before but the latest update broke it. Spent so long time on this before I figured out it was a bug that fucked up my layouts.

Does anyone have a work around?

[2019-10-28 13:19] MathewLC commented on #7875
I didn't test the label. But I'm sure the button error was fixed in old render.
It seems like this is the right commit in which the fix was done:
https://github.com/xamarin/Xamarin.Forms/pull/4094/commits/ff13c49b53bb258e824d9e51cd2f6378a5d227c1 @jfversluis @magoolation

[2019-10-28 13:39] jfversluis commented on #7875
Thanks @MathewLC !

Let me know if you can make any progress with this @magoolation. Else I will have a go at this to get this a11y bug out of the way!

[2019-10-28 13:41] davidortinau opened #8272 "[Bug] TextDecorations don't work"
# Description

Tested on iOS. I set underline or strikethrough on a label and nothing renders using 4.3.0 stable.

### Basic Information

- Version with issue: 4.3.0
- Last known good version: ?
- Platform Target Frameworks:
  - iOS:  12.2, 13.1

### Screenshots

<img width="1201" alt="Screenshot 2019-10-27 20 29 05" src="https://user-images.githubusercontent.com/41873/67683087-af9c2a00-f95e-11e9-

[2019-10-28 13:50] magoolation commented on #7875
Thank you for the help. I'll give it a try tonight and let you know if I
need something else.

Em seg, 28 de out de 2019 às 09:46, Gerald Versluis <
notifications@github.com> escreveu:

[2019-10-28 13:52] Happypig375 commented on #8137
Related to #7538

[2019-10-28 15:34] WebDucer opened #8274 "[Bug] Horizontal / Vertical item spacing wrong mesurement on CollectionView"
### Description

If `HorizontalItemSpacing` or `VerticalItemSpacing` is set for `GridItemsLayout`, the cells are calculated wrong. This happen, as soon as the items fill the row and the next item would start next one.

### Steps to Reproduce

1. Create CollectionView with `GridItemsLayout` and spacings
2. Set ItemSource to collection with enought items (e.g. 4 items for 2/3 column grid)
3. Add / r

[2019-10-28 15:50] iupchris10 commented on #5830
@samhouts
Another reason to possibly make this class public - I need to set the AccessibilityIdentifier on the text field, so my UI Test can tap the entry. I could use a ViewCell but was trying to stick with EntryCell for the performance benefit.

[2019-10-28 16:00] techduggu commented on #5830
@samhouts / @jfversluis : What do you suggest for the above use-case? I guess it makes sense to make it public so the existing users/apps (which are not using CollectionView and I guess there are many of them) can still get benefit from it. I'd like to pick this up unless if there's any better way?
Thanks!

[2019-10-28 16:08] hartez commented on #8249
@BalasubramaniSundaram So you want your CustomScrollView to have an `IsClippedToBounds` setting of `true` by default, and in some cases you want to apply a Style which will change `IsClippedToBounds` to `false`?

You can do this by creating an implicit style for the CustomScrollView type which sets `IsClippedToBounds` to `true`:

[code]

And then an explicit style which you can apply when you want

[2019-10-28 16:14] techduggu commented on #2616
@toussam Good catch and could be the reason. Currently I don't have API 19 SDK installed but I'll try to reproduce it once I have it. Meanwhile I'll let any one from the Xamarin team to look into this as a quick option. Thanks!

[2019-10-28 16:56] Mikilll94 commented on #8028
@jfversluis
Could you have some example implementation? Because I was trying to copy this navigation delegate and unfortunately this is not so easy to implement.

[2019-10-28 17:33] amirvenus commented on #8167
Spot on! I spent an hour before googling the issue and coming across this bug report!

My solution is to run the code on UI thread as well but of course at performance cost.

[2019-10-28 17:39] samhouts commented on #5830
@techduggu Go ahead! I see no issue with doing this.

[2019-10-28 17:43] samhouts commented on #7680
@breyed It'll be in the next 4.3.0 service release. Thanks for your patience!

[2019-10-28 17:54] breyed commented on #7878
I used this extension method as a workaround:

[code]

[2019-10-28 17:54] samhouts commented on #7721
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-28 17:54] #7721 closed

[2019-10-28 17:54] samhouts commented on #7715
@Basti82b  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-28 17:54] #7715 closed

[2019-10-28 17:54] samhouts commented on #7631
@dctoai  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-28 17:54] #7631 closed

[2019-10-28 17:54] samhouts commented on #7663
@Osmosis311  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-28 17:54] #7663 closed

[2019-10-28 17:54] samhouts commented on #7645
@tqngan1984  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-28 17:54] #7645 closed

[2019-10-28 17:54] samhouts commented on #7408
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-28 17:54] #7408 closed

[2019-10-28 18:19] breyed commented on #7710
The bug is fixed in XF 4.3.0.908675. The above workaround is obsolete.

[2019-10-28 18:38] PRAVEENPOTLA opened #8275 "In ios toolbar item icon image not binding dynamically"
### Description

### Steps to Reproduce

1.iam using Xamarin forms  4.1 version  master page toolbar items icon image source  in working fine andriod but ios not working showing white image
2.  I want like see below image
![Screenshot_20191028_235952](https://user-images.githubusercontent.com/43574666/67707292-3a713900-f9e0-11e9-980d-04284a946dd9.jpg)

3.

### Expected Behavior

### Actual Behavio

[2019-10-28 19:06] hamiddd1980 commented on #8260
Hello
This Problem Exists in Both Android and iOS.(I don't work in UWP)
Following image demonstrates the problem:
![CollectionView_RightToLeft](https://user-images.githubusercontent.com/57061231/67709519-591d0300-f9d3-11e9-9d6c-f07e001eee11.jpg)

Thanks.

[2019-10-28 19:42] brminnick commented on #7878
@breyed There are two gotchyas missing in your code:

1. Always unsubscribe from event handlers
    - Don't assign to events using lambdas because they cannot be unassigned and it can cause memory leaks
        - For each lambda, the compiler generates a class in which local variables, like `Page source` and `navigationPage` in your example, are stored as fields.
        - Because we cannot unsubs

[2019-10-28 20:03] breyed commented on #7878
@brminnick While those gotchas apply in many cases generally, neither apply in this case:

1. **Event handler lifetime**: In this case, the lifetime of the event handler matches the lifetime of the modal page. After the modal page is no longer referenced, it will be GCed, at which time, nothing will reference the event handler, which will also be GCed. So no memory leak. If the modal page were lon

[2019-10-28 20:11] akamud commented on #4565
I was looking at #8099 and figured I needed this. Are you still working on this @legistek ?

[2019-10-28 20:38] brminnick commented on #7878
@breyed I'm happy to chat more with you about this offline so that we don't clutter this Issue.

You should be using `await` for both `PopModalAsync` and `PushModalAsync`, because neither are guaranteed to return a successful `Task`:
- [`Xamarin.Forms.Platform.iOS.Platform.PopModalAsync`](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Platform.cs#L106-L122)  utiliz

[2019-10-28 21:08] breyed commented on #7878
If `INaviation.PushModalAsync` or `INaviation.PopModalAsync` return tasks that may not complete successfully, it would be good catch and indicate a need to update their docs accordingly. However, I don't see based on your analysis of the iOS adapter code how they can fault. `PresentViewControllerAsync` wraps [presentViewController:animated:completion:](https://developer.apple.com/documentation/uik

[2019-10-28 21:31] burrowj commented on #7833
I have a similar issue.  I have created a Custom Control based on the ContentView.  In the XAML for that user control I use the x:Name="myusercontrol" so that referencing properties on the viewmodel in a datatemplate is easier.  The error shows up most when i am using XAML Hot Reload to make changes to the XAML.  What is the recommended method to access the parent BindingContext from a Datatemplat

[2019-10-28 22:24] azchohfi commented on #5640
New version of Win2D with ARM64 support just got pushed: https://www.nuget.org/packages/Win2D.uwp/1.24.0

[2019-10-28 22:38] hartez commented on #8035
Okay, the problem is that as of iOS 13, we're not supposed to load system fonts by name anymore. (Technically it's been advised against for a while, but iOS 13 actually enforces it by just giving you back Times New Roman when you ask for a system font.)

So, in Xamarin.Forms.Platform.iOS.FontExtensions.cs in the `_ToNativeFont` method, before we attempt to load the font using `UIFont.FromName`, we

[2019-10-28 22:39] hartez commented on #8035
Some reference material: https://developer.apple.com/videos/play/wwdc2019/227/  (relevant bits start around 2:46)

[2019-10-28 22:54] legistek commented on #4565
Yeah I am working on it, I just haven't had much time lately to finish it. The branch is [here](https://github.com/legistek/Xamarin.Forms/tree/gh4565-multibinding). The last thing I was doing was making sure it would work with `RelativeSource` bindings and I implemented an inelegant solution that should be able to be much better.

[2019-10-28 23:24] pzimmermaninmo commented on #3721
This appears to still be an issue in Xamarin Forms 4.3.  Is there any workaround or status on this bug fix?

[2019-10-28 23:38] samhouts commented on #6693
@ChaseMarsh Wonderful! You will want to create a fork instead of cloning the repository. Then create a new branch on your fork. Put your changes on that new branch, and then submit a pull request from there. That should do it! Thanks!!

[2019-10-28 23:39] samhouts commented on #5266
Good idea! Thanks!

[2019-10-28 23:39] #5266 closed

[2019-10-28 23:41] hunii commented on #6967
@PureWeen  Definitely not same as those tickets. Have you tested? This exist on iOS

[2019-10-28 23:43] hartez commented on #8274
[_8274 Repro.zip](https://github.com/xamarin/Xamarin.Forms/files/3781072/_8274.Repro.zip)

[2019-10-28 23:44] samhouts commented on #4987
@scastria Would you please open a new issue? Thanks!

[2019-10-28 23:47] samhouts commented on #2233
This is on the backlog. I don't currently have an estimate of when we may begin work on this item. Thank you for your patience!

[2019-10-28 23:48] scastria commented on #4987
I was incorrect.  It isn't still present but a new regression bug is which I already submitted.  #8243

[2019-10-29 00:08] samhouts commented on #4987
Got it! Thanks!!

[2019-10-29 00:59] codebreakerlegend2019 commented on #5831
I tried this one but it doesn't work for me :( Sadly i am just using just native MVVM straight from the Documentation and i also used Xamarin Version 4.3 as of now

[2019-10-29 01:10] codebreakerlegend2019 commented on #5831
<img width="1280" alt="Screen Shot 2019-10-29 at 9 09 23 AM" src="https://user-images.githubusercontent.com/46744204/67729383-e2602400-fa2b-11e9-9ba2-f4501c351cae.png">

[2019-10-29 03:23] EBusch commented on #7457
I have seen a similar issue where an EmptyView and Footer will conflict. Attaching a simple reproduction.
[BreakMe.zip](https://github.com/xamarin/Xamarin.Forms/files/3781568/BreakMe.zip)

[2019-10-29 03:26] alanag13 commented on #8272
I noticed this while finishing up a different PR and noted the cause here. Definitely a regression, I might be able to fix when I close that PR up soon. https://github.com/xamarin/Xamarin.Forms/pull/4330#issuecomment-545731143

[2019-10-29 03:38] yanxiaodi commented on #8209
I have the same issue when upgrading Xamarin.Forms from v4.2 to v4.3. But I'm not using mixed Xamarin versions. I just have a Uwp project that references some .net standard 2.0 projects.

[2019-10-29 03:55] codebreakerlegend2019 commented on #6507
I Already Fix it on my Case I Used the Nightly Builds

Here: https://github.com/alanag13/Xamarin.Forms/tree/fix-collectionview

You can browse there on how to Work on it both Mac or Windows version of VS 2019 or lower

And NOTE: Upon Updating your Xamarin.Forms to 4.5 with Nightly Make Sure you also Download the Xamarin.Visual.Material JUST IN CASE YOU USED That on your Projects But if not You're

[2019-10-29 03:57] codebreakerlegend2019 commented on #5831
I Already Fix it on my Case I Used the Nightly Builds

Here: https://github.com/alanag13/Xamarin.Forms/tree/fix-collectionview

You can browse there on how to Work on it both Mac or Windows version of VS 2019 or lower

And NOTE: Upon Updating your Xamarin.Forms to 4.5 with Nightly Make Sure you also Download the Xamarin.Visual.Material JUST IN CASE YOU USED That on your Projects But if not You're

[2019-10-29 04:21] EmmanVazz commented on #2136
This solved it for me. https://forums.xamarin.com/discussion/comment/205189/#Comment_205189

[2019-10-29 04:26] Eilon commented on #8209
@yanxiaodi do you have details on your solution/project structure? Or a repro project you can share on GitHub?

[2019-10-29 04:31] hartez commented on #8102
This is fixed in 4.3.0.

[2019-10-29 04:31] #8102 closed

[2019-10-29 05:06] Muthukumaran-G commented on #8229
Hi @mohachouch / @samhouts  ,

Can you please let me know the progress of this issue ASAP?

Thanks.

[2019-10-29 06:24] MagicAndre1981 commented on #5640
@samhouts ok, can you now update the dependency to the 1.24.0 to fix the issue? Now that Microsoft presented the [Surface X with ARM CPU](https://www.microsoft.com/en-US/p/surface-pro-x/8vdnrp2m6hhc?activetab=techspecs) this should be added very soon.