[2019-04-30 15:37] adrianknight89 commented on #5716
@Phenek We might need to create a different event for this. `ScrolledEventArgs` is getting crowded with multiple properties already and provides numerical data. State data can be provided by another event, in my opinion.

[2019-04-30 16:02] zoli13 commented on #5787
Same issue with VS2019 (16.0.2) + Android Release build.
If LLVM is True, it crashes right upon startup of the App. Same callstack as the issue creator.
Disabling LLVM fixes the issue.
I did not try in Debug build, as I use AOT+LLVM only in Release.

[2019-04-30 16:17] elcosmelco opened #6052 "[Enhancement] DataTemplateSelector for single content control"
## Summary
Right now DataTemplateSelectors are supported for Listviews, but in UWP I often use a DataTemplateSelector on a ContentControl to create a detail view for items that have varying types and properties. It would be nice if there was something similar for Xamarin Forms out of the box.

## API Changes
I do not feel qualified to suggest anything here.

## Intended Use Case
Reasonably self-ex

[2019-04-30 16:22] davidortinau opened #6053 "[Enhancement] CollectionView ScrollBarVisibility"
## Summary

Please add HorizontalScrollBarVisibility and VerticalScrollBarVisibility to CollectionView just like we have on ScrollView and ListView.

https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.listview.verticalscrollbarvisibility?view=xamarin-forms

[2019-04-30 16:59] #6045 closed

[2019-04-30 17:00] bmacombe commented on #6052
@elcosmelco  this is pretty easy to build yourself if you need that functionality.  Below is an example.  I'm pretty sure I just stole how it worked from the ListView source

@davidortinau @pauldipietro @samhouts Any objections to a PR for a similiar control to be added to the core framework?  I'm thinking review the current code for ListView and CollectionView for how they handle data templates a

[2019-04-30 17:05] jinek commented on #6045
May be makes sense to consider using this fork https://github.com/GtkSharp/GtkSharp which supports GTK3

[2019-04-30 17:59] zoli13 commented on #5421
Issue confirmed, this totally breaks the app if user switches animation off.

[2019-04-30 18:08] samhouts commented on #5971
closed by #5990

[2019-04-30 18:08] #5971 closed

[2019-04-30 18:20] rmarinho commented on #3124
fixed by #5961

[2019-04-30 18:20] #3124 closed

[2019-04-30 18:39] samhouts commented on #5927
closed by #5990

[2019-04-30 18:39] #5927 closed

[2019-04-30 21:11] slakul opened #6055 "[macOS, iOS] Label with multiline text shows single line after LineBreakMode change"
### Description

A Label is able to show multiline text, but sometimes it shows only the first line of the text.

In macOS when LineBreakMode is changed from the initial value NoWrap to WordWrap, then the Label shows the first line of the text. When the initial value of LineBreakMode is WordWrap, then changing its value to NoWrap and back does not change its appearance.

In iOS when LineBreakMode

[2019-04-30 21:18] TrueGeek commented on #2136
@Blin4ik91 in your edit are you saying you have this working?

I have an Entry and a Button in a StackLayout and when the Button is tapped the keyboard hides in both iOS and Droid.

[2019-04-30 21:38] jcmanke commented on #6052
Perhaps an `ControlTemplateSelector` class and property that would be added to `TemplatedView` and `TemplatedPage`?

[2019-04-30 22:01] georgeinva2004 commented on #5903
This was fixed when [https://github.com/xamarin/xamarin-android/issues/2920](url) was fixed.  Thank-you!!!!

[2019-04-30 22:01] #5903 closed

[2019-04-30 22:24] #5549 closed

[2019-04-30 23:16] drewgillies commented on #6027
This looks like a render issue--will take off forms-previewer label so SDK team can take a look.

[2019-04-30 23:30] samhouts commented on #5858
This no longer errors on pre9. Thanks!

[2019-04-30 23:30] #5858 closed

[2019-04-30 23:39] #4851 closed

[2019-04-30 23:39] maddyleger1 commented on #4851
@andreinitescu We are closing this bug as it is not an issue with Xamarin.Forms - it's an issue inside of Visual Studio. We are tracking the X/Y Rotation internally and I can update you here when it's fixed. Thanks!

[2019-04-30 23:41] samhouts commented on #4762
@lachlanwgordon I updated your repro to pre9, and no crash! I think we can mark this one fixed. Thanks!

[2019-04-30 23:41] #4762 closed

[2019-04-30 23:46] samhouts commented on #4856
I can't reproduce this with pre9, either. I think we can call this fixed! Thanks!

[2019-04-30 23:46] #4856 closed

[2019-04-30 23:49] samhouts commented on #5216
This is still an issue on pre9. I'm using a device, so it's not just emulator.

[2019-05-01 00:00] samhouts commented on #4755
@davidortinau I can't get this project to build. It dislikes me. :P

[2019-05-01 00:15] samhouts commented on #4872
Hmm. With pre1, it did eventually apply the green style if you switched between the pages. When I updated to pre9, it refused to show the green at all. Progress? I think not. Still an issue.

[2019-05-01 01:54] rizamarhaban commented on #4856
This works now. Awesome. Thanks @samhouts and the team.

[2019-05-01 03:57] HobDev commented on #5549
I am curious why this suggestion is not implemented.

[2019-05-01 10:13] chaosifier opened #6058 "WebGL Content from file:// urls not supported in iOS"
### Description
There seems to be no way to enable WebGL content support from offline file in current version of Xamarin.IOS.

In android, I was able to bypass the restriction by enabling AllowFileAccessFromFileURLs and AllowUniversalAccessFromFileURLs as suggested in a stackoverflow post. But for iOS, there seems to be no such APIs or resources.

[2019-05-01 12:46] AbuMandour commented on #5969
[MasterDetailRTL.zip](https://github.com/xamarin/Xamarin.Forms/files/3134535/MasterDetailRTL.zip)
this is source code try it

[2019-05-01 12:49] davidortinau opened #6059 "[Bug] CollectionView ScrollTo animation doesn't display elements"
### Description

@icebeam7 hit this issue during his CollectionVIew challenge:

https://youtu.be/rrZrTOvFmvY?t=6504

When animation is enabled, the image doesn't appear. When disabled, it does.

### Reproduction Link

https://github.com/icebeam7/CollectionViewChallenge/blob/master/CollectionViewChallenge/CollectionViewChallenge/Views/CollectionViewChallengePage.xaml.cs#L35

[2019-05-01 13:36] InquisitorJax commented on #3912
Thanks for this.
I was getting a gradient bleed only on P in release mode. This work-around fixed it for me :)

[2019-05-01 13:52] bmacombe commented on #6052
Yeah, I haven't dug into TemplatedView or Page much, but that could work.  I was thinking create a draft PR and then put it out there for review and suggestions.  Just want to make sure the team is on board with the feature before investing much time into it.

[2019-05-01 14:36] #5474 closed

[2019-05-01 14:58] sthewissen opened #6060 "[Bug] PanGestureRecognizer in a Shell app doesn't trigger correctly on Android"
### Description
I've built a screen for David Ortinau's Xappy app (which uses Shell) that has a hidden panel on the bottom that can be dragged into view. However, on Android I've noticed that the PanGestureRecognizer used for dragging the view on screen doesn't respond to gestures as it should.

### Steps to Reproduce
Please see Reproduction Link for a repo + steps to reproduce within that Repo.

[2019-05-01 16:13] eternalbard commented on #2601
Hi, this issue affects layout on our apps on iPhone X, and other shiny-iPhone-with-notch like XR, XS, XS Max. It breaks what design and UX team does.

[2019-05-01 16:43] SuperCorks commented on #3032
I agree with @toomasz ... If we could get intellisence based on `x:DataType` for all elements, it'd be great! Especially for when the `BindingContext` is set in the C# code.

[2019-05-01 18:42] hartez opened #6061 "[Android] UI Test 4597 fails on API 19"
### Description

The UI test for issue #4597 does not pass on API 19 devices.

### Steps to Reproduce

1. Open Control Gallery
2. Navigate to Issue 4597
3. Follow the on-screen instructions

### Expected Behavior

All of the images disappear.

### Actual Behavior

One of the images does not disappear.

### Basic Information

- Version with issue: 4.0.0

### Screenshots

![2019-05-01_12-41-22](http

[2019-05-01 18:42] #2339 closed

[2019-05-01 18:42] PureWeen commented on #6061
this will be fixed by this branch

https://github.com/xamarin/Xamarin.Forms/tree/image_load_fixes

[2019-05-01 19:02] samhouts commented on #5131
closed by #5930

[2019-05-01 19:02] #5131 closed

[2019-05-01 19:11] activa commented on #3548
This is still an issue in v3.6.0.

[2019-05-01 19:26] fatihgoksen commented on #1595
Hi Xamarin team. Do you have any update on this serious bug? We cannot implement multi-language features right now because of this bug.
Also, We need a proper workaround.

[2019-05-01 19:27] Francis-D commented on #3795
I'm trying to understand the process flow for bugs. Should this be resolved in version 3.6? If so, is this set automatically, or do you have to explicitly set AutomationProperties.Name for the back button?

Also, how do I view the code changes for something like this?

[2019-05-01 20:56] tlhintoq opened #6063 "[Enhancement] Visual Material - Nice if Visual property could be set from ControlTemplate"
## Summary
`Visual="Material"` has to be set in the XAML of each page or view.  That's very repetitive and a lot of scrubbing when making changes. Not to mention flies in the face of using `ControlTemplate`s to define all the common look & feel aspects of a page for example.

## API Changes

It would be nice if we could set the `VIsual` property in a `ControlTemplate` so all pages/views using that

[2019-05-01 21:27] kingces95 commented on #6046
Android on master:
![image](https://user-images.githubusercontent.com/4120386/57043732-251f7b80-6c04-11e9-9806-a8c462bc50e2.png)

[2019-05-01 21:38] jcmanke commented on #6063
I thought it could be inherited? So if you set it on your Application everything that can be Material will be.

[2019-05-01 22:03] dontspeak opened #6064 "[Bug] ListView does not show Group labels when list is loaded in async method"
### Description

When the items of a ListView with enabled grouping are inserted in an async method, the group labels to not show up at all when clicking on a group name.

### Steps to Reproduce

1. Download attached solution (this is a demo solution  used for 2 bugs)
2. Start ToolbarDemo.UWP project
3. Click on Group label "1"

### Expected Behavior
Group tiles "1" and "2" are shown

### Actual B

[2019-05-01 22:04] jcmanke opened #6065 "What is the point of the PinType enum?"
[code]

This enum has been in Xamarin.Forms.Maps forever, but does absolutely nothing. It is not so much as referenced in any of the MapRenderer classes on any platform. I understand Xamarin's hesitance to remove public things, but if it has never been used for anything maybe it would be okay here. Are there any known third-party packages that extend Xamarin.Forms.Maps and use the PinType enum for

[2019-05-01 22:13] dontspeak commented on #5153
Anybody? Do you still habe this bug in mind or is it forgotten?

[2019-05-02 00:39] kingces95 commented on #6046
iOS on master
![Image from iOS](https://user-images.githubusercontent.com/4120386/57051784-e5b25880-6c1e-11e9-899a-21c3f83403e1.png)

[2019-05-02 00:40] kingces95 commented on #6046
So I see a space above the first line on iOS. @adrianknight89  What's the issue on android? That it's just different than iOS or is there something more?

[2019-05-02 00:43] kingces95 commented on #6040
@baskren Is there a reproduction of this issue without using a custom renderer? Custom renderers "void the warrenty" so to speak. If not, then please describe the deficiency in the existing renderer and we'll see if we can't add a feature to plug that hole.

[2019-05-02 00:48] kingces95 commented on #6037
Could you please attached a zipped solution file reproduction? Thanks.

[2019-05-02 01:03] kingces95 commented on #6065
Prob just vestigial code from before the dawn of Microsoft. I doubt we'd remove it just because it's public and all it could do would be to break someone. We could/should mark it obsolete.

[2019-05-02 01:04] adrianknight89 commented on #6046
I don't believe anything is wrong with Android. This seems to be an iOS-only issue.

[2019-05-02 01:08] kingces95 commented on #6021
@GalaxiaGuy Does #4002 resolve this issue? Looks like you can use a platform specific to set a default background color. Changing the default would break someone so to make the background transparent we ask the developer to be explicit.

[2019-05-02 01:15] kingces95 commented on #5992
I'm able to run this code on master and fling back and forth. There is a delay to load the images but other than that it seems to work. From Kyle to Xavier. Could you describe a bit more what your actual and expected behavior are?

[2019-05-02 01:20] kingces95 commented on #5772
Are you able to reproduce this without using a custom renderer. Custom renderers "void the warranty" so to speak. If not, could you explain the feature you'd like us to add so you wouldn't need to use a custom renderer?

[2019-05-02 06:17] andreinitescu commented on #6052
I had a similar request here #4127 many months back

[2019-05-02 06:41] mclillill commented on #1628
Possibly releated: #3173

[2019-05-02 07:55] davidbuckleyni opened #6067 "HTTPCLient Panifully slow on local host and via ip address"
When I run http client in a standard console app or through the browser to my api i get very fast results however in the http client consumed in xmairan forms its very very slow

I am using the HttpClient but my results are taking up to 6-8 seconds coming back from the same machine on the same subnet and ip range of 192.168. When I call the api directly from the ip address the results are more or

[2019-05-02 07:57] davidbuckleyni commented on #6067
PS I also tried as many suggested to use the modern client http nuget but it did not improve the situation at all.

[2019-05-02 08:13] Moltroon commented on #5772
Are you able to reproduce this without using a custom renderer? No.
My idea is to create a Picker in which an ItemSource can accept an Enum Object.

[2019-05-02 08:22] davidbuckleyni commented on #6067
Sorry this was testing on andriod simluator and also on a real device connected to wifi network my wifi is very fast normally so no its not an issue with wifi.

[2019-05-02 08:52] Diraekt commented on #5497
My solution for the moment is:

` public class CustomMaterialPickerRenderer : MaterialPickerRenderer, IMaterialEntryRenderer
    {
        string IMaterialEntryRenderer.Placeholder
        {
            get
            {
                Picker element = base.Element;
                var placeholder = element?.Title;
                return placeholder ?? (placeholder = string.Empty);
            }

[2019-05-02 10:53] tlhintoq commented on #6063
@jcmanke
If that's the case the documentation doesn't reflect that, nor tell you how to do it at an application level.  The docs only show/say that it has to be set _on each view_. And I tried with a `ControlTemplate` but the property isn't valid at that level.
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/visual/material-visual#consume-material-renderers

[2019-05-02 11:37] nicolaiw opened #6069 "[Bug] Xamarin.Forms.Entry/Label does not diyplay decimal separator when binding a float to it."
### Description
Hello guys,

I think i encountered a Bug with the Xamarin.Forms.Entry and the Xamarin.Forms.Label. This Bug seems to be culture/system language dependent. The Entry and Label does not show the decimal separator if I bind a float to it (system language de). The double and decimal values are displayed as expected (see screenshots below).  I did not found a similar Issue/duplicate. So

[2019-05-02 11:59] baskren commented on #6040
@kingces95 , I ask you to take a moment and reflect upon everything that I have written here.

The ONLY thing this custom renderer does is capture hardware keyboard input.

[code]

A man month of work went in to being certain that a custom renderer is only approach available for capturing input from a hardware keyboard in Xamarin.Forms iOS. AFAIK it is not possible without one.  I would be very gr

[2019-05-02 12:03] GalaxiaGuy commented on #6021
#4002 fixes the cell background color on iOS. Something similar will be needed for macOS.

It doesn't affect the ListView background color on macOS.

My PR #6005 attempts to address the background color on macOS, without touching anything on iOS, or the cells on either platform.

[2019-05-02 12:03] matteopiccioni opened #6070 "[Bug] iOS: Shell + CollectionView: CollectionView item stuck on screen while browsing using Shell"
### Description
In my project I have a collectionview with a two columns of items.
All is working as expected, but if I browse to another page using side menu, when I come back to the first page, then the first row of items is printed/stuck on the screen.

### Steps to Reproduce
I found the same issue on Gastropds project:
https://github.com/davidortinau/Gastropods.git
1.
Open the app
2.
On side m

[2019-05-02 12:31] dlebee opened #6071 "[Enhancement] Flex Layout Base Line Alignment"
## Summary

To align text with different fonts using FlexLayout in xamarin isn't possible due to the lack of base line option.

![image](https://user-images.githubusercontent.com/36390643/57075072-5b640600-6cab-11e9-909a-0e348edb25fa.png)

In the CSS Specification there is something called align-items: baseline; which aligns the text at the baseline of the font regardless of their font-size.

## A

[2019-05-02 13:10] bmacombe commented on #6052
@andreinitescu I remember that issue now.  I wonder if we leave ContentView alone and just create a sub class it might be more acceptable.  I agree that any developer with a WPF background will likely miss this control and that seems to be the main target audience for Forms.

 @StephaneDelcroix Would you mind expanding on why the Forms team isn't interested in adding a contact such as this?

[2019-05-02 13:12] EduardCampo commented on #3513
Does anyone know if #4915 will solve this?

[2019-05-02 13:13] baskren commented on #6040
In trying to understand why this is not an issue for standard Xamarin.Forms elements (ex: tab stops), I modified this shared code to include an `Entry` in the `StackLayout`.  When the updated app starts, the behavior is still, unfortunately, the same - no feedback from the hardware keyboard (the custom renderer's `UIKeyCommand`)  when the page is contained within a Shell.

However, the moment I ei

[2019-05-02 13:48] #6040 closed

[2019-05-02 13:49] pontusntengnas opened #6072 "[Bug] UI Tests fails to start with 'ArgumentNullException' on iOS and XF 3.6.0.264807"
### Description

After updating from XF **3.4.0.1029999** to **3.6.0.264807** my UI Tests wont start on iOS simulator, it stops immediately with an Exception being thrown before the actual test i starting. On Android it is working as before without problem. I hope it is right to post this bug here as it could be an issue in Xamarin.UITest but since it appeared after updating XF i thought it could

[2019-05-02 13:50] jcmanke commented on #6063
From that link:

So I was partially incorrect, you can't set it on the Application (because it doesn't inherit from VisualElement) but if you set it on your MainPage presumably it would inherit all the way down.

[2019-05-02 14:05] tlhintoq commented on #6063
@jcmanke

Ok.  But what if you have 100 pages?  You have to go add it to all of them?  Then the boss says

Now you have to go back through all the pages and remove it?  (find/replace would probably handle that)
Expanding on that... You can only use this in Android 9.  So if you have templates for Android 9 they can use this... And releases on earlier OSes wouldn't have it.  And a selector based on

[2019-05-02 14:11] pontusntengnas commented on #6072
I also tried updating XF to latest (3.6.0.344457) and Xamarin.TestCloud.Agent to latest (0.21.8) just to make sure, but the problem still exists there for me.

[2019-05-02 14:44] jcmanke commented on #6063
I would probably implement it with an implicit style:

	<Application>
		<Application.Resources>
			<Style
				ApplyToDerivedTypes="True"
				TargetType="Page">
				<Setter Property="Visual" Value="Material"/>
			</Style>
		</Application.Resources>
	<Application>

Very easy to remove, or change the Visual to a new one if/when one is added.

Or when I say set it on the MainPage, I mean this:

	Appli

[2019-05-02 14:57] tlhintoq commented on #6063
@jcmanke

Oh.... Ooohhhh.... I never actually realized that the `NavigationPage` became the `Parent` to all the other pages pushed.  In my mind `NavigationPage` was always a _mechanism_ and not a UI element with children.  But now I see it... yeah... hindsight is always 20:20 as they say.  **Thanks for that boot-to-the-head of concept recognition**.

That's really nice, because that allows for use

[2019-05-02 15:02] azuken commented on #6008
https://imgur.com/a/fuCTXZV

Here is a screenshot example of the problem.

We have fixed Floating Action Button shadow, it was because of `android:hardwareAccelerated` parameter in manifest. But Frame element is always without shadow

[2019-05-02 15:34] matteopiccioni opened #6073 "[Bug] Shell - Unable to navigate into a different shell 'sandwich' page"
### Description
I have a main shell page 'AppShell.xaml' with Flyout navigation
In this shell I have 3 ShellSection with a single ShellContent
In the project I attached, each ShellContent is the same page, with a label and a button
The button Clicked event should 'push' a new shell page (InnerShell.xaml), that is a sandwich tab pages.

'InnerShell' has the following structure:

[2019-05-02 15:46] ivanicin opened #6074 "[Bug] macOS pressing the tab key moves to the 2nd entry instead of first"
### Description
On macOS pressing the tab key moves to the 2nd  entry instead of first

### Steps to Reproduce
1. Use this page:
[code]
2. Run the app and press the tab key
3.

### Expected Behavior
Focus should go to the 2nd entry
### Actual Behavior
Focus is just briefly on the 2nd entry and then returns to the 1st entry
### Basic Information

- Version with issue: 4.0.0.346134-pre9
- Last known

[2019-05-02 17:16] Elashi commented on #3359
I am facing similar problems in multiple places. I think the problem lies in using DataTemplate. For some reason DataTemplate does not inherit FlowDirection property.

[2019-05-02 17:18] samhouts commented on #4758
closed by #5896

[2019-05-02 17:18] #4758 closed

[2019-05-02 17:28] nielscup opened #6075 "Lisview iOS unable to scroll down to last item"
### Description
iOS ListView: Unable to scroll down to last item

### Steps to Reproduce

1. Add a listview with more items than fit on the page
2. Specify rowheight
3. Run on iOS

### Expected Behavior
Able to scroll down to last item

### Actual Behavior
Unbble to scroll down to last item

### Basic Information

- Xamarin.Forms 3.6.0293080
- Works correct on Android, works incorrect on iOS
- Wor

[2019-05-02 17:33] mivewi commented on #5306
I'm really looking forward to the fix. If any got a workaround, please share.

[2019-05-02 17:47] NickeManarin opened #6076 "[Bug] Xamarin.Forms Android application crash on release"
### Description
Android application crashes on release while using a String value inside a `ResourceDictionary.xaml` file. The same does not happen when testing in Debug (with the String resources) or when testing in Release without the String resources.

### Steps to Reproduce

1. Create a `Strings.xaml` file, without any bundled .cs file.
2. Add these lines of code:

[code]
3. Add the reference

[2019-05-02 18:58] tetowill opened #6077 "[Bug] CollectionView (iOS) using horizontal grid does not display last column of uneven item count"
### Description

If you set CollectionView to a horizontal grid layout with multiple rows (span) and define a width for your items the last column gets dropped if it's not a full column. So if the last column doesn't have an item for each row it will not be displayed. If you set the CollectionView orientation to vertical this is not an issue, the last uneven row will be displayed.

I found that se

[2019-05-02 19:20] seansparkman commented on #6077
I can confirm this issue as well.

[2019-05-02 20:16] ajuanjojjj commented on #3513
I can try to test it if you want, just need to know how to xd

[2019-05-02 20:36] ceblanda commented on #2577
Why is this still inactive?  I though it was going to be addressed asap?

[2019-05-02 21:19] kingces95 commented on #6075
Hm, could you please provide a reproduction of the issue?

[2019-05-02 21:28] kingces95 commented on #5809
@tlhintoq Would you mind attaching a zipped reproduction of the issue? That really helps us triage. I'll cook one up if need be after triage of other issues with attached reproductions if you don't have the reduction handy.

[2019-05-02 21:31] davidortinau commented on #6073
@matteopiccioni I'm looking at your code to understand what use experience you are trying to create. Is it accurate that have 2 looks in your app?

1. Flyout with 3 menu items
2. Tab "sandwich" without a flyout menu

Is there a reason you're trying to do this with multiple `Shell`s?

[2019-05-02 21:48] kingces95 commented on #5962
Reproduces on my emulator but not on my device. So you may need to try a few configs before discovering one that reproduces the issue.

[2019-05-02 21:52] kingces95 commented on #6043
@jcmanke Do you still have your reproduction handy? If so could you attach it? Else we'll recreate after looping through issues with attached reproductions. Thanks for fielding the question!

[2019-05-02 22:07] kingces95 commented on #6055
Verified. Changing wrapping has no effect on iOS.

[2019-05-02 22:28] kingces95 commented on #6060
Reproduces as described.

[2019-05-02 22:44] kingces95 commented on #6067
Can you please attached a zipped reproduction of the issue? Thanks!

[2019-05-02 22:45] matteopiccioni commented on #6073
Unfortunately yes.
The approved design of my app Is:
- single login Page
- After login I Will have flyout with 3 page: home page, notifications, settings and logout
- in the home page I only have collection view of 'items'
- when I click on an item I need to go in a sandwich page, that I suppose I can do with Shell and routing. Dependin where I touch in my collection view item, I need to show a sp

[2019-05-02 22:52] kingces95 commented on #6069
![image](https://user-images.githubusercontent.com/4120386/57111765-1787f580-6cd9-11e9-977b-cd86cc55564b.png)

[2019-05-02 22:54] kingces95 commented on #6069
![image](https://user-images.githubusercontent.com/4120386/57111853-603fae80-6cd9-11e9-8b7d-850fb108fae1.png)

[2019-05-03 00:40] samhouts commented on #5435
closed by #5955

[2019-05-03 00:40] #5435 closed

[2019-05-03 00:42] samhouts commented on #4683
This is still an issue, but it presents differently now. It no longer applies the stylesheet at all on subsequent loads.

[2019-05-03 00:42] samhouts commented on #4872
Duplicate of #4683

[2019-05-03 00:42] #4872 closed

[2019-05-03 00:57] kingces95 commented on #6073
Nested Shell's? I'd think we're gonna say that's not supported... at least at this point.

[2019-05-03 01:05] kingces95 commented on #6076
[App85.zip](https://github.com/xamarin/Xamarin.Forms/files/3140387/App85.zip)

[2019-05-03 01:19] kingces95 commented on #6077
Using VS I get...  `2>C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(5045,5): error MSB3541: Files has invalid value "C:\Users\Chris\Downloads\CollectionViewHorizontalGridBug\CollectionViewHorizontalGridBug\CollectionViewHorizontalGridBug.Android\obj\Debug\81\android\src\mono\android\support\v4\view\accessibility\Accessibil

[2019-05-03 01:46] kingces95 commented on #6077
Hm. On master I can see the last column. Is this the expected behavior? Maybe we fixed this.

![Image from iOS](https://user-images.githubusercontent.com/4120386/57116518-617cd580-6cf1-11e9-9706-92a95d5b8012.jpg)

[2019-05-03 01:59] kingces95 commented on #6070
![Image from iOS (1)](https://user-images.githubusercontent.com/4120386/57116816-3eebbc00-6cf3-11e9-9045-6895ed9e73bf.jpg)

[2019-05-03 04:32] ArunSivaR commented on #6019
Hi @PureWeen

Thank you for the response.

We have used the native view from the respective platform renderers and respective native view rendered in each platform layouts.

[2019-05-03 06:33] nielscup commented on #6075
Unfortunately I don't have time to create a repro at the moment, but here is the xaml for the page that has the issue. For now I have removed the RowHeight and replaced it with HasUnevenRows="true". Side effect on iOS is that for short lists the separators continue after the last listitem.

FYI: there are 26 speakers in the list. I have tested this on iPhone X simulator and iPhone 6S device, both

[2019-05-03 06:43] davidbuckleyni commented on #6067
As this is going to a api i would need to enclose the full app if that is ok but its easy reproduceable plenty of complents about it online, do you have an email address that i can share my VTIS repo with you with thanks.

[2019-05-03 08:04] matteopiccioni commented on #6073
Thanks for answer
The advantage of having shell is that we can create tabbed pages very quickly.
In the old way, to have sandwich pages, I have to create several TabbedPages, apply themes to them and painfully manage the top tabs (for iOS)
If I understand well, for my needs, unfortunately I need to remove shell and come back to MasterDetailPage and TabbedPages

[2019-05-03 09:23] davidbuckleyni commented on #6067
Hi Please find my entire xmarian forms repo I have included the api i wrote as well which works and I am testing it at present. the database for the api is in the database folder of delivery go its sql based.

https://davidbuckleyweb@dev.azure.com/davidbuckleyweb/DeliveryGo/_git/DeliveryGo

This is a public azure repo if you cant get access to the repo please let me no just clone it it was created

[2019-05-03 13:38] charlesroddie commented on #5652
Thanks for the excellent bug report @jkastner .
@AxelUser can you take a look at this?

[2019-05-03 14:53] PureWeen commented on #6073
@matteopiccioni please email me video or gif so I can see what you're going for please shneuvil at microsoft.com

I think this PR might help you out some
https://github.com/xamarin/Xamarin.Forms/pull/6023

[2019-05-03 16:15] matteopiccioni commented on #6073
Email sent, thanks

[2019-05-03 16:39] samhouts commented on #2709
closed by #5143

[2019-05-03 16:39] #2709 closed

[2019-05-03 17:04] samhouts commented on #4550
@tominurmiainen Wow! Thanks for following up. Can you confirm that creating a brand new Xamarin.Forms UWP app with the latest Visual Studio still doesn't debug properly for you?

[2019-05-03 17:05] tetowill commented on #6077
@kingces95, seeing that last column is the expected behavior, but that photo looks like an Android device. I only noticed this bug on iOS. When I test on Android I also see the last column, but in the iOS simulator I that last column does not show.

[2019-05-03 17:09] samhouts commented on #5172
@ianthetechie Can you please open a new issue and attach a small reproduction project? Thanks!

[2019-05-03 17:11] PureWeen commented on #5172
@ianthetechie a lot of this was rewritten for 4.0 as well so if you could test with 4.0 pre9 as well please.

[2019-05-03 17:18] seansparkman commented on #6077
![2019-05-03_12-13-32-PM](https://user-images.githubusercontent.com/991351/57154077-934b7600-6d9d-11e9-8526-1e8f7cb651c6.png)

[2019-05-03 17:19] tetowill commented on #6077
Figured I may as well mention this again as well. The last column will show in iOS if you set `ItemSizingStrategy` to `MeasureFirstItem`, but when it's left to default or set to `MeasureAllItems` the last uneven column does not display.

[2019-05-03 17:58] mhughey-vent opened #6083 "I'm having an issue between my Debug vs. Release builds."
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2019-05-03 18:37] jcmanke commented on #6076
Probably [this.](https://forums.xamarin.com/discussion/comment/361272#Comment_361272)

Use `<x:String>` instead.

[2019-05-03 20:16] ewroblewski-intelivert commented on #5418
This issue appears in Xamarin.Forms 3.6.0.344457 as well.

[2019-05-03 20:19] kingces95 commented on #6083
@mhughey-vent can you attach a zipped solution with as a reproduction? Do you believe this is a Xamarin.Forms issue, or a Xamarin.iOS issue? I'm thinking https://github.com/xamarin/xamarin-macios might be a better place to post this issue if you don't suspect Xamarin.Forms.

[2019-05-03 20:54] mhughey-vent commented on #6083
Cross posted at _xamarin-macios_

[2019-05-03 22:11] ddobrev commented on #4565
Multi-bindings are perhaps the last major missing feature in Xamarin.Forms. Unfortunately, unless there's another more active issue, there seems to be little work put towards the goal. Could anyone please specify when we can expect for this to be added?

[2019-05-03 22:21] kingces95 commented on #6048
Works with the quotes and not without. So the work around is simple. Will let our resident XAML dude see if he wants to do something different like throw an error as you suggest.

![image](https://user-images.githubusercontent.com/4120386/57168522-d279c700-6d9d-11e9-9c78-cdef75bf50e3.png)

[2019-05-03 22:35] ianvink opened #6084 "Inflate error on xamarin.forms.material.android.MaterialFormsTextInputLayout[Bug]"
Android in XF 3.6

When a page has a Text box with the Material Visual, I get:

When I set by Build with these settings (**Use Incremental Builds**) seems to be the problem:

![image](https://user-images.githubusercontent.com/112916/57168875-a881ce00-6db8-11e9-973f-c41703b4d6dd.png)

### Steps to Reproduce

1.  Enable Use Incremental in Debug Project Properties
2. Have Text boxes with Material
3.

[2019-05-04 00:08] samhouts commented on #5205
As a workaround, you can create a custom renderer for your `WebView` and add the following override:

[code]

[2019-05-04 02:24] kingces95 commented on #6067
Hm. I'm unable to see those files.

How about this, are you able to simply create a new project and add the networking code and download some JSON from a public web service? That way we can eliminate your app and your database from the reproduction. Ideally, if you could use Xamarin.Android and not Xamarin.Forms then we could also eliminate XF from the reproduction as I don't think this is a forms

[2019-05-04 03:26] kingces95 commented on #5969
Hm. I'm seeing the master page. Using 4.0.0 Pre10
![Image from iOS](https://user-images.githubusercontent.com/4120386/57173240-809a6680-6dc8-11e9-8181-85272bb30b71.png)

[2019-05-04 03:28] kingces95 commented on #6084
@ianvink Could you please attach a small reproduction so we might have all the build settings set up exactly as you do? Thanks.

[2019-05-04 03:37] kingces95 commented on #5848
I tried to locate this user on GitHub but had no luck. The `RecycleElement` caching strategy is was developed to solve this issue. Without it, then each cell is held in memory. That's likely what is going on here. We did Android and iOS and held on UAP waiting for `CollectionView` to drop..

[2019-05-04 04:26] o1298098 opened #6088 "[Bug]Unable override SetTabIcon in CustomTabbedPageRenderer"
### Description
I had create a  CustomTabbedPageRenderer with a CustomTabLayout ,after update to 4.0.0 Pre Release 10, SetTabIcon can not be override any more.
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue: 4.0.0 Pre Release 10
- Last known good version:4.0.0 Pre Release 8
- IDE: Visual Studio 2019
- Platform Target Framew

[2019-05-04 04:49] ianvink commented on #6084
Confidential projects. Send me an email to send the files to privately

[2019-05-04 06:47] dillibabun commented on #5175
Hi Team,

Is there any updates on this ? Its a bottleneck in our development so please get rid of this issue ASAP.

[2019-05-04 08:50] davidbuckleyni commented on #6067
Hi yes I can do that i’ll do that today.

Sent from my iPhone

[2019-05-04 08:51] davidbuckleyni commented on #6067
but i am using local host so no it’s not a sever issue.

Sent from my iPhone

[2019-05-04 09:59] Elashi commented on #2415
Hi,
I am new here. I am not sure if this is the right place to ask questions, otherwise please direct me where to ask:
I tried to do something similar to the sample specified above:
[code]
But I got the following errors:

[2019-05-04 13:38] ahmedalejo commented on #5175
@dillibabun please submit a pull request ASAP. This issue is very very important!

[2019-05-04 15:33] HobDev commented on #5646
@rmarinho With latest update the FlyoutIcon is now shown on both Android and iOS. The Custom Icon can also be set. Although the custom icon on iOS is smaller. But that is a different issue. Please close the issue if you find suitable.

[2019-05-04 16:43] hartez commented on #5793
Oh, I see what y'all are talking about now. Yes, Android does a NotifyDataSetChanged on Reset. Looks like either I forgot to call ReloadData on iOS. Fix incoming ...

[2019-05-04 17:57] AxelUser commented on #5652
Reproduced issue on UWP, Android seems fine.

[2019-05-04 20:33] krdmllr opened #6090 "Open up the CollectionView implementation on Android"
Pretty much everything in the CollectionView Android implementation is internal and/or sealed. Making these classes accessible would give more room for customizations.

I'm talking about these classes: https://github.com/xamarin/Xamarin.Forms/tree/master/Xamarin.Forms.Platform.Android

I would like to override the ItemsViewAdapter OnBindViewHolder method but in order to do that I basicly have to c

[2019-05-04 21:19] PureWeen commented on #2415
@Elashi so are you hoping to do this idea here
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/layouts/bindable-layouts

With ShellItem?

[2019-05-04 22:51] PureWeen opened #6091 "[Android] rework Image Renderer to use new image loading code used by buttons"
### Description

Code introduced by #4915 should replace the code in `ImageViewExtensions` for loading bitmap images.

There are a lot of UI Tests you can use to test this with but Bugzilla51173 is a good one to vet that it all works ok after changes

[2019-05-05 09:30] HobDev opened #6093 "[Bug, Shell] RouteHost with capital letter throws exception"
### Description
I am not sure whether this is a bug or feature request. I spend lots of time on fixing a bug. It turns out that the RouteHost name in my project has capital letters. The error message is:

**System.InvalidOperation Exception has been thrown
Shell CurrentItem should not be null**

The error message is not at all helpful in pointing to the code causing the error. It will be helpful i

[2019-05-05 10:05] HobDev opened #6094 "[Bug,Shell] Allow creating TabBar without entry into FlyoutMenu."
### Description
In Shell, tabs are invisible if flyout is defined first. If tabs and defined before flyoutitems than both tabs and flyout is visible.

### Steps to Reproduce

  In the repro project change the order of tabs and flyout.

### Expected Behavior
Both Tabs and Flyout should be visible on startup regardless of which one is defined first.

### Basic Information

- Version with issue:Xamar

[2019-05-05 10:22] HobDev opened #6095 "[Bug, Shell] Allow users to always show the Flyout Icon even if they have a page stack"
### Description
Navigation from Flyout hides FlyoutIcon and replace it with a back button

### Steps to Reproduce

 In the Repro Project select one of the flyoutitems. Than navigate from it by clicking on a listview item or clicking on  add button of the toolbar.

### Expected Behavior
The Back Button should be placed beside FlyoutIcon. The Bottom TabBar should remain visible.  What I want is to s

[2019-05-05 11:45] Hasanajouz opened #6096 "[Bug] Timeout exceeded exception - Shell.Current.GoToAsync on pre 10"
### Description

### Steps to Reproduce

1. create two flyout items for example as i created:
<FlyoutItem Route="WelcomeFlyout">
        <ShellContent Route="Welcome" ContentTemplate="{DataTemplate page:WelcomePage}" />
    </FlyoutItem>

    <FlyoutItem Route="RegisterFlyout">
        <ShellContent Route="Register" ContentTemplate="{DataTemplate page:RegisterPage}" />
    </FlyoutItem>
2. from fi

[2019-05-05 15:38] marius-bughiu commented on #6060
I'm having the same issue - I think - with the `PanGestureRecognizer`. It works as expected without Shell, but when inside a Shell app it will only work as long as I drag horizontally. As soon as I drag up/down it stops triggering the PanUpdated event without even calling it with a Completed/Cancelled status.

If you were to debug and write the TotalY values to console and drag slowly you will see

[2019-05-05 15:59] Elashi commented on #2415
@PureWeen I was hoping to use this idea :) .
Are you suggesting that this idea is not implemented yet?
If it is not implemented yet, I might be interested in working on it.

[2019-05-05 16:32] adrianknight89 commented on #4239
I was just going to submit this issue... Looks like using different font sizes messes things up. There should be properties to vertically/horizontally align span text within its own region.

[2019-05-05 16:41] PureWeen commented on #6093
We're going to just remove RouteHost for now from Shell as it serves no functional purpose currently

https://github.com/xamarin/Xamarin.Forms/pull/6081

[2019-05-05 16:41] #6093 closed

[2019-05-05 16:48] igorrfc commented on #6072
Same here

[2019-05-05 16:57] PureWeen commented on #6096
@Hasanajouz I wasn't able to trigger this with a timeout exception. Currently we don't support relative routing to other routes because shell doesn't currently support a navigation stack for routes.

If you change the navigation to
[code]

does that work?

[2019-05-05 17:05] Hasanajouz commented on #6096
Shell.Current.GoToAsync("Register",false); is exactly what i tried.

I used to route between other routes without navigation.
so If i have two flyout itmes and i want to go to one of them from the other flyout what should i do now?

while Shell.Current.GoToAsync("Register",false); used to work in pre 9

[2019-05-05 17:06] PureWeen commented on #6096
@Hasanajouz wait I copy and pasted the wrong sample apologies

Can you try
[code]

[2019-05-05 17:11] PureWeen commented on #6095
@HobDev when you click add they all disappear because the ADD button is doing a Modal push
[code]

if you change that to just do a push then you will still have tabs and a backbutton.

As far as
[code]

I'll mark this issue as an enhancement. I could see the ability to add multiple header bar icons and via that enabling this behavior

[2019-05-05 17:12] Hasanajouz commented on #6096
@PureWeen yes that worked
Thanks so much.
If you can just give me a link to know where should I  use // or / or nothing?

[2019-05-05 17:14] PureWeen commented on #6096
@Hasanajouz Awesome!!
Here's the initial spec for how that all works

https://github.com/xamarin/Xamarin.Forms/issues/5790

We're still getting the behavior for pushing routes on to the stack all finished though. The syntax you initially have will work in upcoming versions

[2019-05-05 17:19] PureWeen commented on #6094
@HobDev I think there may be some confusion about how you are defining your shell. Are you wanting the same options to show up in the flyout and the tabs? The first item defined in the shell xaml file is going to be the active shell item

[code]
Has two bottom tabs so when it's active it'll have two bottom tabs

[code]

Has only one shell section so it won't have any tabs.

Can you summarize or th

[2019-05-05 17:38] andysinclair commented on #5306
I am also keen to find a workaround, assuming a fix will not be available soon. Anybody got any ideas?

[2019-05-05 18:03] dotMorten opened #6097 "[Material]: `Xamarin.Forms.Material.Android` is missing from the Android Solution"
### Description
The `Xamarin.Forms.Material.Android` is missing from the Android specific solution:
https://github.com/xamarin/Xamarin.Forms/blob/master/.Xamarin.Forms.Android.sln
This causes the build to fail to build because it can't find it.

### Steps to Reproduce

1. Open `Xamarin.Forms.Material.Android.sln` from a clean build
2. Build
3. Observe build error

### Expected Behavior
Newly clone

[2019-05-05 18:08] dbwelch commented on #2415
It’s not implemented, wish it were!

Sent from my iPhone

On May 5, 2019, at 11:59 AM, Elashi <notifications@github.com<mailto:notifications@github.com>> wrote:

@PureWeen<https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FPureWeen&data=02%7C01%7C%7C5a4c31a04c6541d6080608d6d172b36a%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636926687892526088&sdata=Y3%2Fxx%2BGt13FFjR5

[2019-05-05 18:28] dotMorten commented on #5940
I think the gallery app is showing this issue too. The flyout behavior is detecting a change, but when it evaluates the effective value, it always evaluates to `Flyout` (at least seeing this in Android and UWP)

[2019-05-05 18:54] mivewi commented on #5306
I see that there are 216 todos and 2 is currently in progress and one of them is this case, so it should be done soon.

[2019-05-05 19:11] markti opened #6098 "[Bug] ShellContent navigation not triggering OnAppearing / OnDisappearing overrides when displayed / hidden"
4.0.0.394984-pre10

### Description

I'm following the pattern from Tailwind Traders where they have a BaseContentPage that implements viewmodel initializeAsync on navigation but its not working because the OnAppearing / OnDisappearing is not being triggered when you are using Shell Navigation... Unlike tailwind traders, I'm using ShellItem/ShellSection/ShellContent to use flyout/bottom tabs/top t

[2019-05-06 03:38] HobDev commented on #6094
@PureWeen I wouldn't want same screens for flyout and tabs. This is just for sample. When I keep the tabs sections first i get this:

![TabActive](https://user-images.githubusercontent.com/9531864/57205690-d7c55480-6fdd-11e9-9fa1-f7a80b0eb59d.png)

But when I keep the flyout section first I get this:

![FlyoutActive](https://user-images.githubusercontent.com/9531864/57205696-e6ac0700-6fdd-11e9-808

[2019-05-06 03:49] HobDev commented on #6094
Strangely, the only way to bring back tabbar is to click above the first flyout item.

[2019-05-06 03:50] HobDev commented on #6094
Even if tabbar is activated first it is no longer visible once any flyout item is selected.

[2019-05-06 04:29] dillibabun commented on #5175
@ahmedalejo Even we are looking for the issue fix from Xamarin team and our development work stopped due to this issue.

[2019-05-06 04:45] PureWeen commented on #6094
I think there's some confusion around what's doing what in the AppShell code. We've renamed ShellItem to FlyoutItem to help this out a bit. My question to you though is why do you have 3 shell items?

If you just delete the bottom two and only leave this part
[code]

does that give you the UI experience you want?

I guess I'm still a little confused what you're hoping to accomplish for your final

[2019-05-06 06:03] Yuvaraj-007 commented on #5992
Hi @kingces95
If you set Orientation in vertical , perform the flying action there is no delay to load the images. But in the Horizontal orientation only have this problem.
I need a below behavior.
While perform flying action items are scrolled without any delay (items are not disappearing in the view) in the performance (like as vertical orientation)

Regards,
Yuvaraj C

[2019-05-06 06:03] RawoofSharief opened #6100 "HaUnevenRows not properly update the item height."
### Description

HasUnevenRows property of the listview does not update the item height when load the label with large text.

### Steps to Reproduce

1. Run the attached sample.
2. Click Deliveries tab.
3. Scroll to 4th index (Barry White) and you can see that the **Assign** text is clipped. Item size is not updated based on the label text.

### Expected Behavior

Assign label should visible in th

[2019-05-06 08:14] b-straub commented on #5721
I can not see this issue fixed by commit 583be22d5ce7dc9a6b980adb8fec8b9077a7a314.
Using 4.0.1.383393-nightly this issue persists. Did I miss something?
From my experience UICollectionView self sizing cells are a nightmare. For UIListView those can be made working well using autolayout and constraints only.

[2019-05-06 08:53] GalaxiaGuy commented on #6088
The last commit on `TabbedPageRenderer` (part of "Unify the image handling") seems to have changed quite a bit, including some virtual methods. One example that is related to the reported issue is that undos #3967.

https://github.com/xamarin/Xamarin.Forms/commit/a8d0d7a1d4a4629b06c3adcdba56e7da94613095#diff-7feeca82b01e77527e9263a06421f443L692

Was this intentional, or an oversight?

[2019-05-06 09:11] HobDev commented on #6094
@PureWeen In my  personal project I have four tabs in the BottomTabBar. Apart from that I have about four items in the flyout. The problem is that when I navigate to any of the flyoutitems the tabbar is invisible. To get back the tabbar I need to click above the first flyoutitem which is a very bad user experience. Please see this video about this behaviour in my project

[MyApp.zip](https://githu

[2019-05-06 10:09] AbuMandour commented on #5969
I don't know what info you need, I fill all required info with a sample, please tell me what you need also?

[2019-05-06 11:00] AbuMandour commented on #5969
am sorry if I forget that you should make the device landscape to view the issue

[2019-05-06 11:22] #5216 closed

[2019-05-06 12:40] ARomoth commented on #4397
Thanks for this Workaround!

Following line causes the issue with repeated "Control.BecomeFirstResponder()" calls within "UpdateCursorSelection":
https://github.com/xamarin/Xamarin.Forms/blob/3.5.0/Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs#L379

And it happens not on every stroke in my app: A few times i had to focus / unfocus (any) textfield by myself before it starts to onfocus on ev

[2019-05-06 14:52] tscislowicz commented on #3032
@SuperCorks Yes, that would be great. @StephaneDelcroix If x:DataType can be specified on any element, do you think it's reasonable that Visual Studio provides intellisense based on that specified type?

For now, only DataTemplates are supported

[2019-05-06 15:47] HobDev commented on #6098
@markti Shell have OnNavigating and OnNavigated to cover OnDisappearing and OnAppearing respectively.

[2019-05-06 16:38] legistek commented on #4565
@ddobrev I have made a lot of progress on this in my own rep branch
https://github.com/legistek/Xamarin.Forms/tree/gh4565-multibinding

`OneWay` binding works very well but I have not yet implemented the other binding modes.

I was waiting until my other PR (#4375) was finished before finishing this one.

[2019-05-06 17:02] adrianknight89 commented on #5766
@paymicro Do you expect to work on this anytime soon?

[2019-05-06 17:05] #5949 closed

[2019-05-06 17:21] samhouts commented on #6090
@krdmllr We're definitely planning to open these up before CollectionView is stable. Any API that we haven't opened yet is subject to change significantly as we continue development. @hartez Are any of these ready to be opened yet, with the caveat that this preview API may not even exist as new builds are released? Thanks!

[2019-05-06 17:32] samhouts commented on #6070
Duplicate of #5831

[2019-05-06 17:32] #6070 closed

[2019-05-06 17:33] samhouts opened #6104 "[XVS] Build fails with master detail page"
### Description

<div><b style="">Affected Build:</b><span style="">&nbsp;<span style="color:rgb(106, 106, 106);font-family:&quot;Segoe UI&quot;;font-size:13px;font-weight:normal;background-color:rgb(255, 255, 255);display:inline !important;">16.1.0 Preview 2.0 [28815.163.d16.1]</span></span><br></div><br><b>Steps to reproduce:</b><br><div><ol><li style="font-size:10.5pt;color:rgba(0, 0, 0, 0.9);"

[2019-05-06 17:38] samhouts commented on #6069
Duplicate of #2049

[2019-05-06 17:38] #6069 closed

[2019-05-06 17:40] hartez commented on #6090
We can consider anything and everything for opening up, with the caveat that anything public may change before we take this out of Preview. But we're being very careful about how we open things up because once an API becomes public, changing it becomes a problem.

@krdmllr Can you be more specific about which classes you're looking to use? I don't want to blindly mark everything `public`, but if y

[2019-05-06 17:41] samhouts commented on #6060
Likely related to #5205. Touch events are being intercepted improperly.

[2019-05-06 18:51] s-bhavin-shah commented on #5302
Any solution for this issue?

[2019-05-06 19:03] NickeManarin commented on #6076
@jcmanke That's right, it's working now after using `<x:String>`.
I only used String from `NetStandard` because that's what was suggested by VS/Resharper.

Should I close this issue ticket?

[2019-05-06 19:04] samhouts commented on #6076
Thanks everyone! :)

[2019-05-06 19:04] #6076 closed

[2019-05-06 19:35] StephaneDelcroix commented on #3032
@mgoertz-msft ^^

[2019-05-06 20:05] PureWeen opened #6106 "Rework LogicalChildren on Element to better represent visual vs logical children"
### Description
Titleview was the first version of this but Shell introduced a lot of cases where you will attach a View to an element and it should inherit a lot of features of being a child to that element (css, binding, etc..) but the child should not be drawn by the element

This PR
https://github.com/xamarin/Xamarin.Forms/pull/6082

Starts the idea but only gets it about 80 percent there

She

[2019-05-06 20:50] apolloLegends opened #6107 "UWP Missing back button after PushModalAsync"
### Description
After a modal window in UWP is closed, the back button and page title are not shown after toggling between tabs on a Tab Page.  This is not a problem in iOS or Android. This is not a problem if the same page is shown using PushAsync.

Suspect line 457 of Xamarin.Forms.Platform.UWP.NavigationPageRenderer should reference Navigation.NavigationStack.Count rather than PageController.In

[2019-05-06 20:55] mgoertz-msft commented on #3032
This was fixed last year for VS 2019.  x:DataType shows up as a suggestion on any element and will offer value completions for all types in scope.

Is this not working for you?

[2019-05-06 21:32] krdmllr commented on #6090
Hi, first of all thank you for the fast and really nice response!
@hartez as I wrote, I wanted to override the ItemsViewAdapter.OnBindViewHolder. Unfortunatly, ItemsViewAdapter has an internal constructor which makes this impossible if I dont overlook something here. If I just copy the complete source code of the ItemsViewAdapter I ran into more issues since most classes that are used in the imple

[2019-05-06 21:49] #1620 closed

[2019-05-06 22:03] Sebastian1989101 commented on #3085
@samhouts Is there any update on this yet? It's May already and it would be time for a fix after so many years leaving this bugged...

[2019-05-06 22:35] terinfire commented on #5744
I'm having the same problem.  I'm using the latest and anytime I try to set the Command on BackButtonBehavior, it crashes on the ContentPage (when trying to load) with a NullReferenceException.  I have confirmed that the Command is built and ViewModel has been assigned to the BindingContext of the ContentPage:

[code]

[2019-05-07 05:26] SagarPanwala commented on #3501
FlowDirection applied in parent is also not working on ListView HeaderTemplate

[2019-05-07 06:59] shivagurunathan opened #6110 "String.MissingMethod exception occurs while using String.Split method"
Hi Team,

We at Syncfusion develop data visualization controls for Xamarin and we have more than 90 controls spread across all platforms of Xamarin. Please refer the below link for a description about us.
UserGuide: https://help.syncfusion.com/xamarin/sfdatagrid/overview
FeatureTour: https://www.syncfusion.com/products/xamarin.

We would like to bring to your notice a bug that we encountered as fo

[2019-05-07 07:19] StephaneDelcroix commented on #3032
closing per @mgoertz-msft comment. open a new issue for any new problems with this

[2019-05-07 07:19] #3032 closed

[2019-05-07 08:20] psatheesh18 opened #6111 "[Bug] Autofocus is not available in the Xamarin forms"
### Description
Xamarin IOS has autofocus which is achieved by using the UIaccessibility.PostNotification .But Xamarin Forms has no such like to achieve the autofocus .

### Steps to Reproduce

1. N/A

### Expected Behavior
Autofocus the UI Element or any for xamarin Forms

### Actual Behavior
It is available in the xamarin IOS but not available in the xamarin forms .
### Basic Information

- Vers

[2019-05-07 08:22] Dresel opened #6112 "[Enhancement] Badge support for Shell"
## Summary

There are requests for badge support for classic [tabs](https://github.com/xamarin/Xamarin.Forms/issues/3352) and there are also some libraries out there which kinda support that. With shell it's not possible to use this libraries without touching / replacing too much of the shell internals so it would be great if shell supports this scenario out of the box. I couldn't find anything re

[2019-05-07 09:46] bentmar commented on #5386
@MagicAndre1981  well yes..

Thanks for info @samhouts

[2019-05-07 10:52] psatheesh18 opened #6114 "[Bug] Dynamically not able to set accessibility text using AutomationProperties.SetName"
### Description
Automation.setname not working for dynamically adding the new text for accessibility

### Steps to Reproduce

1. Setting the automation.setname dynamically for the same UIelement.
2. Run the sample file
3. Once it deployed to the device or emulator press the button it will show the error i have mentioned

### Expected Behavior
Dynamically automationproperties.setname to be changed

[2019-05-07 11:19] canmrt commented on #2096
I also have the issue on Samsung's Galaxy S8+.

[2019-05-07 11:21] stfnilsson commented on #5927
No, I used SetPaddingInsets! :-( Can't use  iOsSpecific:Page.UseSafeArea="false" on my page?

Before the padding also included my custom tabbar.

[2019-05-07 13:42] nicolaiw commented on #2049
It seems like this bug has been around for a long time. I think that multilingualism is an essential function of many apps. Currently you need some workarounds to accomplish this. I like to use Xamarin.Forms and wish that this bug will be fixed soon.

Thank you Xamarin Team for your great work!

Best regards

[2019-05-07 13:46] hauteur commented on #3739
For some reason, I didn't see the notifications when you guys responded.  I uploaded a new reproduction.  Please let me know if you have any issues getting to it.

https://www.dropbox.com/s/8sr1jkpwaqs0b97/DatePickerBorder.zip?dl=0

[2019-05-07 14:20] NavaneethS commented on #5340
I also face the same issue. With the Narrator open, if we click any of the ListView elements the app hangs and never responds. Although it is not consistent. The sample is attached.

[ListViewNarrator.zip](https://github.com/xamarin/Xamarin.Forms/files/3153061/ListViewNarrator.zip)

[2019-05-07 16:06] Goksly commented on #5500
We are getting this as well. Tried various combinations of switching the visual mode to default, or switching the underlying type from entry to editor and its only when the control type is editor and the visual is material that we experience the issue.

[2019-05-07 16:20] markti commented on #6098
@HobDev But OnNavigating / OnNavigated only have a reference to the URI of the source / target of the navigation. How am I able to trigger InitializeAsync on the view model of the page I am navigating to without a reference to my target view object?

[2019-05-07 16:48] transis2 commented on #1846
This bug still occurs for me (Xamarin Forms 3.6.0.344457)

[2019-05-07 16:58] toomasz commented on #3032
@mgoertz-msft No, it's not working for me, working only for DataTemplate element.
![image](https://user-images.githubusercontent.com/3065454/57318235-1e0fd600-70fa-11e9-8685-e53958471f4e.png)
Does it work for you?

[2019-05-07 17:07] #4992 closed

[2019-05-07 17:32] SuperCorks commented on #3032
I second that. You only get value completion if you set the `<ContentPage.BindingContext><local:MyViewModel /></ContentPage.BindingContext>` property or in `DataTemplates` using `x:DataType="local:MyViewModel"`. If you set `x:DataType="local:MyViewModel"` in the content page or in any element other than `DataTemplate` it doesn't autocomplete as you'd expect.

I tested that in VS2019 v16.0.3 and VS

[2019-05-07 17:35] samhouts commented on #5908
closed by #5955

[2019-05-07 17:35] #5908 closed

[2019-05-07 17:41] samhouts commented on #6112
Sounds great to me! @davidortinau @pauldipietro Anything to add?

[2019-05-07 17:42] mgoertz-msft commented on #3032
@toomasz, @SuperCorks Ah, I was talking about the IntelliSense for x:DataType itself, i.e. x: will suggest DataType for any element and x:DataType="" will have all possible types inside of the quotes. The logic where this data type is being used has not changed.

@StephaneDelcroix Does x:DataType indeed work the way @toomasz has shown in the post above, i.e. with no BindingContext needed?

[2019-05-07 17:45] ddobrev commented on #4565
@legistek I'm extremely happy to hear it! There are some requested changes at that other PR which is also useful. I hope they aren't difficult to do and it gets merged soon so that this one can go in too. :)

[2019-05-07 17:45] samhouts commented on #6111
@psatheesh18 in 4.0.0-pre9, we introduced Accessibility TabIndex (#3989), which lets you set the order in which elements should receive focus by setting TabIndex. Does this work for your purposes? Thanks!

[2019-05-07 17:51] legistek commented on #4565
Yes, the requested changes are trivial and I'd like to hear from @StephaneDelcroix before doing any more work on it so I don't wind up repeating effort. Once he approves the substance of it I'll get it ready for merging.

[2019-05-07 17:59] samhouts commented on #6114
@psatheesh18 Your sample worked for me. On launch, the Button reads "Sample. Button. Sample. Double tap to activate." Then I double-tapped to trigger the Click command. Then I tapped again on the button, and it reads "Clicked. Button. SampleClicked. Double tap to activate." Is that not what you experience? Thanks!

[2019-05-07 18:25] PureWeen commented on #5744
I'm working on this along with some route navigation behavior also
https://github.com/xamarin/Xamarin.Forms/tree/shell_route_navigation

We will keep the name BackButtonBehavior because there's precedence for it

[2019-05-07 18:39] MauriRosso commented on #2041
Add in list view this parameter: <ListView CachingStrategy="RecycleElement">

Good luck!

[2019-05-07 18:39] PureWeen commented on #6094
@HobDev  if you change your xaml to be this?
[code]
Does that achieve what you want?

[2019-05-07 21:47] samhouts commented on #5554
I tested with pre10, and this is now resolved! 🎉 Thanks!

[2019-05-07 21:47] #5554 closed

[2019-05-07 21:47] starkos opened #6118 "[Bug] Empty iOS ViewCell label does not update"
### Description

I have a `Label` in a `ViewCell`. The label `Text` property is not immediately initialized, but is set shortly after creation by a view-model binding. On iOS, both in the simulator and on the device, the `Label` remains empty even after the binding has updated `Text` with a value.

- If the `Label` is initially populated with a value (e.g. `" "` a string containing a space), every

[2019-05-07 22:09] samhouts commented on #5635
@claunia For some reason, I can no longer reproduce this behavior, even on 3.6.0. Can you please try the latest 4.0.0 prerelease and see if this is still an issue for you? If so, can you please attach a sample project? Thanks!

[2019-05-07 22:10] #5646 closed

[2019-05-07 22:21] samhouts commented on #5662
still an issue in pre10

[2019-05-07 22:22] samhouts commented on #5667
Duplicate of #3875

[2019-05-07 22:22] #5667 closed

[2019-05-07 22:54] samhouts commented on #5697
Pretty sure this was resolved by #5990. It is no longer an issue in pre10.

[2019-05-07 22:54] #5697 closed

[2019-05-07 23:04] samhouts commented on #5816
still an issue in pre10

[2019-05-07 23:04] samhouts commented on #5707
still an issue in pre10

[2019-05-07 23:09] samhouts commented on #5713
still an issue in pre10

[2019-05-07 23:13] samhouts commented on #5755
Duplicate of #5216

[2019-05-07 23:13] #5755 closed

[2019-05-07 23:25] samhouts commented on #5746
this is no longer an issue in pre10 🎉

[2019-05-07 23:25] #5746 closed

[2019-05-07 23:27] samhouts commented on #5943
@PureWeen I think you hit all of these in #5955, yeah?

[2019-05-07 23:27] #5943 closed

[2019-05-07 23:35] samhouts commented on #5783
still an issue in pre10

[2019-05-07 23:38] samhouts commented on #5872
Duplicate of #5662

[2019-05-07 23:38] #5872 closed

[2019-05-07 23:46] samhouts commented on #5928
@Moltroon We don't support multiple Shells at this time. May I ask what your use case is? Thanks!

[2019-05-07 23:46] #5928 closed

[2019-05-07 23:54] samhouts commented on #6073
At this time, we do not support multiple shells in a single app. Thanks!

[2019-05-07 23:54] #6073 closed

[2019-05-07 23:56] samhouts opened #6120 "[Enhancement] Support multiple Shells in a single app"
## Summary

See #6073 and #5928 for scenarios where customers are attempting to use multiple Shells in a single app.

Opening this issue to collect further use cases that will support this effort.

[2019-05-08 00:23] samhouts opened #6121 "[Feedback] Xamarin.Forms Previewer: MarkupExtension not found for d:DesignInstance"
### Description

<p>The Xamarin.Forms Previewer crashes on this Code Sample And displays nothing. Xamarin forms happily compiles this. I use this for intellisense.

&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&gt;
&lt;ContentPage xmlns=&quot;http://xamarin.com/schemas/2014/forms&quot;
             xmlns:x=&quot;http://schemas.microsoft.com/winfx/2009/xaml&quot;
             xmlns:

[2019-05-08 01:00] samhouts opened #6122 "[Enhancement] LineBreak"
## Summary
https://github.com/xamarin/Xamarin.Forms/pull/5136, but fully implemented.

[2019-05-08 01:05] samhouts commented on #5924
closed by #5931

[2019-05-08 01:05] #5924 closed

[2019-05-08 02:13] PureWeen commented on #2415
@Elashi it is not but I could see that being a really powerful feature for MVVM Scenarios

If you want to work on it can you create an issue with the basics of what you're thinking?

[2019-05-08 02:49] bulubuloa commented on #2571
I'm also receiving crash notifications with the same issue:
XF: 3.5.0.169047

[2019-05-08 03:32] HobDev commented on #6094
@PureWeen  Setting FlyoutBehaviour to Disabled will remove the flyout. But the apps design requirements are such that both flyout and tabs are needed. Please view the video of behavior I had uploaded.

[2019-05-08 03:40] HobDev commented on #5662
@samhouts @PureWeen Yes this is still an issue. There is always a gray highlighted area in flyout even if the tabs are active. Please compare the above images with sample.

[2019-05-08 03:51] HobDev commented on #5667
@samhouts This issue is different from #3875. Issue #3875 is about the flyout menu being overlaped on header. But this issue is about the header size of iOS which is much bigger than the content in it. Whereas the header in Android is taking the space required for the content.
The header content on iOS was placed on status bar. But now it puts the content below statusbar. So changing the title to

[2019-05-08 04:49] PureWeen commented on #5667
@HobDev when the final release of 4.0 comes out can you test this issue against that please? If that still isn't meeting your requirements let me know

[2019-05-08 05:02] PureWeen commented on #6094
How about this

[code]

[2019-05-08 05:19] HobDev commented on #5667
@PureWeen  Sure. I am curious about the release date.

[2019-05-08 06:16] HobDev commented on #6094
@PureWeen No, Same issue. Suggest me something that when I select any flyoutitem it does not make tabbar invisible.

[2019-05-08 06:54] kgrosche commented on #5652
I have the same problem in my application on uwp. Ios and Android works fine. Xamarin.forms version 3.6.0.344457
I urgent need a solution because i have trouble with customers. Is there anything which can help?
I have not enough knowledge to write my own renderer.

[2019-05-08 07:14] inforithmics opened #6123 "[Bug] Change of BackgroundImage PropertyType from string to FileImageSource causes Build Errors in Rg.Plugins.Popup"
### Description

In Preview Release 4.0.0 Pre 10 the BackgroundImage was changed from string to FileImageSource (and was obsoleted).

https://github.com/xamarin/Xamarin.Forms/releases/tag/beta-4.0.0-pre10.1

Checkin
https://github.com/xamarin/Xamarin.Forms/pull/4915

Now the Release Compilation fails on iOs with following message:

(_CompileToNative target) ->
  MTOUCH : error MT2101: Can't resolv

[2019-05-08 10:33] orestesgaolin commented on #5787
Same issue with VS4Mac 2019 and
[code]

After updating CI environment to newest Xamarin.Android our Android apps with enabled LLVM started to crash on startup.

[2019-05-08 10:42] jonathan-jd4software commented on #2571
All I can suggest is you follow the work around listed above.  It solved the problem for me.

[2019-05-08 10:43] b-straub opened #6124 "[Bug]"
### Description

CollectionView complex variable height scenarios sometimes have layout issues.

### Steps to Reproduce

Run the attached sample project from either iOS simulator or device.

- Version with issue:
4.0.0 Pre Release 10
- IDE:
VS Mac
- Platform Target Frameworks:
  - iOS:  12.2
- Nuget Packages:
4.0.0 Pre Release 10
- Affected Devices:
All

### Screenshots

![LayoutIssues](https://us

[2019-05-08 10:50] b-straub opened #6125 "[Bug] CollectionView ScrollTo sometimes miss the right position"
### Description

CollectionView complex variable height scenarios sometimes have issues with ScrollTo.

### Steps to Reproduce

Run the attached sample project from either iOS simulator or device. Tap on a random rows, mostly the collapsed row will not be centered.

- Version with issue:
4.0.0 Pre Release 10
- IDE:
VS Mac
- Platform Target Frameworks:
  - iOS:  12.2
- Nuget Packages:
4.0.0 Pre Rel

[2019-05-08 10:54] b-straub opened #6126 "[Bug] CollectionView doesn't reflect changes in an ObservableCollection itself"
### Description

CollectionView doesn't  reflect changes for the ObservableCollection itself, whereas changes in the content are reflected.

### Steps to Reproduce

Run the attached sample project from either iOS simulator or device.
Tap on a row, CollectionView does update.
Tap on clear, CollectionView doesn't update.

Both the items and the collection are implementing the INotifyPropertyChanged

[2019-05-08 10:59] Darlingtone opened #6127 "[Bug] ToolbarItem Order property ignored"
### Description
Then Order property of ToolbarItem is totally ignored, the item is always displayed as primary even when set to secondary

### Steps to Reproduce
1.  Create a new XF project using the Shell template
2.  On a ContentPage add  ToolbarItem and set Order to secondary
3.  Run on Android device

### Expected Behavior
Items with order set to primary show on navigation bar while items with

[2019-05-08 11:05] b-straub opened #6128 "[Bug] CollectionView doesn't reset the selection color"
### Description

CollectionView doesn't  reflect changes for the SelectedItem. Setting SelectedItem = null should clear the selection color.

### Steps to Reproduce

Run the attached sample project from either iOS simulator or device.
Tap on a row, CollectionView does update but the code "SelectedItem = null" has not effect.

- Version with issue:
4.0.0 Pre Release 10
- IDE:
VS Mac
- Platform Targ

[2019-05-08 11:13] awattar opened #6129 "[Bug] Proguard is being skipped for debug configuration."
### Description

Proguard step is being skipped for debug configuration but works for release for the same settings.

### Steps to Reproduce

1. Create forms app.
2. Add proguard config and set project proguard setting for both debug and release configs.
3. Build in debeg and release.

### Expected Behavior

Proguard step works for both debug and release.

### Actual Behavior

Proguard step is bei

[2019-05-08 11:20] wojciech-kulik commented on #2571
Also you can check out my workaround: https://stackoverflow.com/a/53895270/1080578

[2019-05-08 11:20] davidbritch opened #6130 "[Bug] [Forms 4.0] [Android] Mismatch in WebView.EnableZoomControls platform-specific"
### Description

In Forms 4.0, it's impossible to consume the `WebView.EnableZoomControls` platform-specific (Android) in XAML (PR: https://github.com/xamarin/Xamarin.Forms/pull/3607), due to a mistmatch in this line:

[code]

If you try to consume `EnableZoomControls` in XAML it errors as the BP isn't named that. If you try to consume` EnableZoomControl` in XAML it errors because there isn't a pu

[2019-05-08 14:52] PureWeen commented on #6094
Is that the only thing you have specified in your Shell file? If my suggestion above is not working for you can you paste your entire Shell file here?

I downloaded your zip file above and set the AppShell file to
[code]

And here is a video of the results

![2019-05-08_08-49-02](https://user-images.githubusercontent.com/5375137/57384867-89938b00-716e-11e9-97aa-b34473f6351b.gif)

[2019-05-08 14:59] davidbritch opened #6132 "[Bug] [Forms 4.0] [Android] WebView.EnableZoomControls platform-specific doesn't work"
### Description

This code should display a `WebView` with zoom controls both enabled (touch) and displayed (buttons in the bottom right hand corner - as per the screenshots in https://blog.verslu.is/xamarin/xamarin-forms-xamarin/zooming-android-webview-xamarin-forms/):

[code]

In addition, zoom using touch doesn't work.

However, everything works as expected if you change the code to:

[code]

R

[2019-05-08 16:15] PureWeen commented on #6123
this was an oversight on our part and will be fixed here
 https://github.com/xamarin/Xamarin.Forms/pull/6133

before the 4.0 official release

[2019-05-08 16:19] HobDev commented on #6094
@PureWeen  Yes, this works but only where same options are required in flyout and tabbars. But in my project the options for flyout and tabbars are different.
In repro project I gave same options in both places to simplyfy it. But in production apps this is rarely a requirement. Generally the apps will have different options in flyout and tabbars.

[2019-05-08 16:20] Hasanajouz opened #6134 "[Bug] set "ShellBackgroundColor" doesn't take effect for ios"
### Description
when setting Shell.ShellBackgroundColor for page it doesn't change the color for ios
### Steps to Reproduce

1. create new xamarin forms shell app
2. in AppShell.xaml there is:
`<Setter Property="Shell.ShellBackgroundColor" Value="Blue" />`
3. go to the created about.xaml and set Shell.ShellBackgroundColor="Red" in the content page header.

### Expected Behavior
navigation bar for

[2019-05-08 16:21] Hasanajouz commented on #6134
and by the way is there any way to make the status bar color match the navigation bar color in shell?

[2019-05-08 17:11] dansiegel commented on #6123
It was a known issue that this was going to break downstream packages. That is why the change was a breaking change... the answer is not to revert but for Rg Plugins to update.

[2019-05-08 17:15] samhouts commented on #6123
@dansiegel We try very hard not to break ABI compatibility. We made the property obsolete to give libraries time to evolve without hard crashes for their end users. Changing the property type was definitely an accident. 😅

[2019-05-08 18:12] PureWeen opened #6135 "[Bug] UrlImageSources still need a little work on UWP"
### Description
- Load Issue 4915 and compare it to Android or iOS
- MenuItems aren't loading
- If you click the button the button doesn't resize to the url image correctly

Overall just compare Android to UWP and you'll see the differences

[2019-05-08 18:28] MhAllan commented on #5998
No need, people can do that with TemplateSelector.

[2019-05-08 18:43] adrianknight89 commented on #5998
@MhAllan You mean no need for the header and footer? I'm not sure if there is a way to make the cells sticky. Plus, I'd rather leverage existing native methods than create custom logic to do the same thing.

[2019-05-08 18:48] AxelUser commented on #5652
Hi, @kgrosche.
Unfortunately I haven't found better workaround than @jkastner did.

[2019-05-08 18:51] PureWeen commented on #5642
@neville-nazerane one fix that should work would be to use the android platform specific and set the elevation on the labels to something high. That should cause the labels to rise above

https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.platformconfiguration.androidspecific.visualelement.setelevation?view=xamarin-forms

[2019-05-08 19:02] AntRemo commented on #5077
@Mirinael I just ran into this issue where secondary implicit styles removes the parent implicit style. 😞

[2019-05-08 21:26] nbevans commented on #3769
@samhouts ? That new inactive tag really seems effective! ;-)

[2019-05-08 22:00] lcm98 opened #6138 "[Bug] DatePicker / TimePicker Unfocused Event Fired When Focused"
### Description

Android 9.0 (Pie) - API 28 only.

When the dialog for either the DatePicker or TimePicker is opened, the unfocused event from that picker is fired.

In this particular case, I am using the unfocused event of the DatePicker to focus on the TimePicker. The result is actually that as soon as the DatePicker calendar opens, the unfocused event instantly fires which then opens the TimeP

[2019-05-08 22:42] ianvink commented on #2383
A work around that has worked well for me is to invert and back the HasUnevenRows. This forces a clean cell update that ForceUpdateSize doesn't have. ForceUpdateSize can cause some controls in a cell to not get set.

Inside a ViewCell:

                if (this.Parent is ListView list)
                {
                    list.HasUnevenRows = !list.HasUnevenRows;
                    list.HasUneve

[2019-05-09 04:08] davidortinau opened #6139 "[Spec] Shell Hierarchical navigation"
# Shell Hierarchical Navigation

Provide a way to express hierarchical (drill down) navigation in Shell.

# API Suggestions

## Provide a type of definitive structure
[code]

And navigate via `Forward` and `Back` methods off of `Shell.Current.Navigation`.

## Just allow nesting of anything into Shell Content by default
https://github.com/xamarin/Xamarin.Forms/issues/6016#issuecomment-487335322
[co

[2019-05-09 04:13] Mushtaq123 opened #6140 "WCF service methods not connected with Xamarin.Forms app (Android, iOS)"
Hi,
I have created a WCF service and called the same from Xamarin Cross-Platform with Dot Net Standard 2 (UWP, iOS, Android), an app using Connected Service approach.

I checked this service approach in UWP and it works fine. But in Android and iOS project, the service is not connected.

Connected service call
[code]
Android runtime error after clicked button :

iOS runtime error after clicked but

[2019-05-09 04:43] MelbourneDeveloper commented on #2049
I have updated the repo address in case anyone was having trouble recreating the problem.

[2019-05-09 06:34] albilaga opened #6141 "[Enhancement] Padding for Entry And Editor"
## Summary
Add Property Padding for Entry and Editor. The padding property should work like Button Padding.
## API Changes

Property added in Editor and Entry should be

[code]
and then can be used in Android Renderer like

`Control.SetPadding((int)GetPxFromDip((float)_Element.Padding.Left ), (int)((float)_Element.Padding.Top ), (int)((float)_Element.Padding.Right), (int)((float)_Element.Padding.B

[2019-05-09 07:16] bulubuloa commented on #2571
I used your solution but it not working, this issue still appears on Samsung Galaxy S9, android 9

[2019-05-09 07:48] wojciech-kulik commented on #2571
Probably you have some other issue. Maybe in your case another control throws this exception too. Make sure that your renderer launches code which disables state restoration.

[2019-05-09 07:56] bulubuloa commented on #2571
Thank you for your reply, I got an exception with ProgressBar
`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.omnicasa.mobile/com.omnicasa.mobile.MainActivity}: java.lang.ClassCastException: android.view.AbsSavedState$1 cannot be cast to android.widget.ProgressBar$SavedState
`
I used renderer for ProgressBar
[code]

But the solution above not working, I use

[2019-05-09 09:12] carlos-ferreira commented on #6140
I don't think it's a Xamarin bug.

This can help you:

- https://stackoverflow.com/questions/51887706/proxy-class-override-method-for-ios-mono-error-in-xamarin-forms

- https://github.com/dotnet/wcf/issues/2940

[2019-05-09 09:22] MisterioRee opened #6142 "[Bug] Maps"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2019-05-09 09:22] MisterioRee opened #6143 "[Bug] Maps"
### Description
Using Xamarin.Forms.Maps Nuget Plugin is crashing Application (Android) and dose not display anything on IOS,

### Steps to Reproduce
1. ShellApp -> ContentPage
 <maps:Map IsShowingUser="True"
                     MapType="Street"
                     HeightRequest="300"/>

### Expected Behavior
Java.Lang.NoClassDefFoundError: <Timeout exceeded getting exception details>
App Crashe

[2019-05-09 09:23] #6142 closed

[2019-05-09 09:25] wojciech-kulik commented on #2571
Did you set breakpoint in my solution to make sure that line `this.Control.SaveEnabled = false;` is invoked? Also do you have in your Xamarin.Forms project any custom class which inherits from `ProgressBar`?

[2019-05-09 11:13] thedjnova commented on #6143
Maps 3.x with Forms 4.x think thats the problem right there, have you tried updating Maps to 4.x?

[2019-05-09 11:23] michaldivis commented on #5968
I'm curious about this one as well. I'm experiencing the same problem on a few devices. Thanks for making an issue.

[2019-05-09 12:08] thedjnova commented on #6141
From what I'm aware you can set the padding for a UITextField on iOS by sub-classing and overriding its textRectForBounds, editingRectForBounds, placeholderRectForBounds, and rectForBounds equivalents within Xamarin.iOS.

So creation of a UITextFieldExtended (or suitable named class) would be needed which exposes a way to change what those methods return when padding is changed.

[2019-05-09 12:50] Raystorm7 opened #6144 "[Bug] [UWP] MasterDetail Page menu with footer doesn't render correctly"
### Description
Hi all!
I have a MasterDetail Page with a menu that have an header and a footer.

This is the structure of the menu:

`<grid>` as header
`<listview>` as menu list
`<grid>` as footer

Only on UWP the footer isn't render correctly the first time.
I need to open, close then reopen the menu to show the footer correctly.

### Expected Behavior
The footer should be rendered correctly als

[2019-05-09 13:38] lcm98 commented on #6138
With further testing, this issue seems to be isolated to when the DatePicker is initially focused via code (datePicker.Focus()) as opposed to clicking the visual element

[2019-05-09 13:58] adrianknight89 commented on #6003
We have `FromHex()`. To align with this, the new method should be named `ToHex()` instead of `ToHexString()`.

[2019-05-09 14:10] albilaga commented on #6141
Yes for Entry which using UITextField that is possible. But for Editor which in iOS using UITextView that is not possible. Also in Editor, Xamarin Forms use private placeholderLabel which position set using constraint which can't be set from custom renderer AFAIK

[2019-05-09 14:49] MhAllan opened #6145 "[Enhancement] Remove [EditorBrowsable(EditorBrowsableState.Never)], also OnXXX should be protected"
The private event handlers and hiding the events from VS editor has no benefit except making it difficult to create subclasses like renderers. For example, I am getting null reference exception on UWP when using WebView.Eval or EvalJavascriptAsync (when using MainThread and no js is called when I don't use it) and I wanted to know what is going wrong by overriding the renderer but it took me time

[2019-05-09 15:17] sanchobear opened #6146 "SmtpClient.Send System.Net.Mail.SmtpException: Message could not be sent"
### Description
Sending email from Android Emulator using SmtpClient fails with System.Net.Mail.SmtpException Connection refused.
Using identical code in ConsoleApp succeeds.

### Steps to Reproduce

1. VS2019(16.0.3)
2. Xamarin.Forms(3.6.0.344457)
3. Android Emulator Android_Accelerated_x86_Oreo API 27
4. Replace gmail account data and password with valid data
[code]
### Expected Behavior
Email r

[2019-05-09 15:22] ianvink opened #6147 "VS 2019 Locks up with XF [Bug]"
1. Open VS 2019 in Windows 10
2. Create a new iOS Xamarin Forms app. Hello World.
3. Set it to debug run in the simulator, but on windows.
4. The app is running.
5. Let Windows 10 auto lock by timing out. This is important, it must auto lock after inactivity
6. Unlock Windows by entering your password

VS 2019 is now unresponsive and can only be closed by Task Manager Kill

### Basic Information

[2019-05-09 15:45] thedjnova commented on #5664
Im going to take a look at this, will report back soon as can :)

[2019-05-09 16:45] adrianknight89 commented on #5838
still exists in 4.0.1.383393-nightly

[2019-05-09 18:58] adammeaney commented on #6145
Its not like the attribute does anything.

<code>new ToolbarItem().IsEnabled = true;</code> still works, even though it is marked as EditorBrowable.Never and intellisense doesn't find it.

[2019-05-09 19:52] ianvink commented on #6147
Note that when I unlock Windows 10 I see this at the bottom of the VS 2019:

![image](https://user-images.githubusercontent.com/112916/57482341-3cd8ae80-7259-11e9-9998-1d688f561eee.png)

[2019-05-09 21:40] bmacombe commented on #6144
#3886 will fix this...but I don't think it's in a release yet.

[2019-05-09 21:46] bmacombe commented on #6144
Actually #5338 is the PR...3886 was the initial issue.

[2019-05-09 22:24] tipa commented on #4361
This issue is still present - any updates?

[2019-05-09 22:25] charlesroddie commented on #5652
There is a possible interaction with
ScrollViewer Jumps to Top-most TextBox (UWP app) https://github.com/microsoft/microsoft-ui-xaml/issues/597

[2019-05-09 22:27] HeroSpha commented on #6139
Yes, was looking for something like this, im working on an app with profiles -> profile -> Settings
                                                                                                                                           ->Media
                                                                                                                                           ->Other
The is

[2019-05-10 01:59] tvoyle opened #6150 "[WPF] WPF Symbol Icons missing on Windows 7, 8.1"
### Description
The WPF Symbol icons are loaded from the "Require Segoe MDL2 Assets" font.
So far as I can tell the licensing prevents the font from being used anywhere other than Windows 10 unless you also own WIndows 10, and may never be distributed.

Could be fixed by including and falling back to the corresponding open source font:
https://github.com/microsoft/fonts

### Steps to Reproduce

1.

[2019-05-10 04:15] #5132 closed

[2019-05-10 04:15] #5766 closed

[2019-05-10 04:15] #6123 closed

[2019-05-10 04:15] #3125 closed

[2019-05-10 04:15] #5768 closed

[2019-05-10 04:15] #6130 closed

[2019-05-10 04:15] #6132 closed

[2019-05-10 04:15] #2415 closed

[2019-05-10 04:15] #3875 closed

[2019-05-10 04:15] #4683 closed

[2019-05-10 04:15] #5956 closed

[2019-05-10 04:15] #2989 closed

[2019-05-10 04:15] #4399 closed

[2019-05-10 04:15] #5707 closed

[2019-05-10 04:15] #3543 closed

[2019-05-10 08:45] charlesroddie commented on #2452
`Drawing` is good in that it implements controls using graphics primitives independent of target platform. There used to be NGraphics but this had issues (from pre-netstandard2.0, pre-SkiaSharp days), and isn't updated.

The spec 1. duplicates functionality already implemented in a much more complete form in SkiaSharp, 2. adds unnecessary layers of complexity via XAML/Binding which goes inside the

[2019-05-10 09:04] syncsiva commented on #5820
@samhouts  Created merge request.
https://github.com/syncsiva/Xamarin.Forms/pull/1

[2019-05-10 09:24] mknotzer opened #6152 "Android NavigationPageRenderer ArgumentOutOfRangeException"
### Description
when there is two items on the stack:

System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index
  at System.Collections.Generic.List`1[T].get_Item (System.Int32 index) [0x00009] in <58604b4522f748968296166e317b04b4>:0
  at Xamarin.Forms.Platform.Android.AppCompat.NavigationPageRenderer.GetFragme

[2019-05-10 10:31] mknotzer opened #6154 "[UWP] ListView displays null values black"
### Description

in UWP null items are displayed black instead of transparent (like in iOS and Android)

### Steps to Reproduce

`mListView.ItemsSource = new List<YourClass>() { new YourClass(), null, null };`

1st row is fine, the two other rows are black (instead of transparent)

### Basic Information

- Version with issue: Xamarin Forms 3.6
- Last known good version: 3.4

[2019-05-10 13:13] Moltroon opened #6155 "[Bug] CollectionView content Size and ScrollBarVisibility (ListView/CollectionView) on ASUS"
### Description
1. With a Vertical CollectionView, the size of the content is adapted but in Horizontal, CollectionView truncate the content
2. CollectionView not have ScrollBarVisibility parameter
3. On my ASUS ZenPad, in ListView, if I add a ScrollBarVisibility to always, I not have scroll bar. With the default parameter too.

### Steps to Reproduce

1. Used my example project

### Basic Informa

[2019-05-10 13:43] mknotzer opened #6156 "Renaming App.xaml causes various wired runtime errors"
### Description

XamlParseException, ArgumentOutOfRangeException, ... depending on the platform

### Steps to Reproduce

rename App.xaml and App.cs to MyApp.xaml and MyApp.cs
change LoadApplication(new App()); to LoadApplication(new MyApp());
compile it and run it

### Basic Information

- Version with issue: 3.6
- Last known good version: 3.4

[2019-05-10 14:02] PaulsonMac commented on #4037
Incase if anyody needs it.. I too got the issue while developing iPhone app, I had set the device language to arabic. Followed the same method as @BioTurboNick..! Thanks

private static void InitArabicCalendarCrashFix()
        {
            var localeIdentifier = NSLocale.CurrentLocale.LocaleIdentifier;
            if (localeIdentifier == "th_TH")
            {
                new System.Globaliz

[2019-05-10 14:14] aspnetde opened #6157 "Question: AutomationId may only be set one time - Bug or Feature?"
Using [Fabulous](https://github.com/fsprojects/Fabulous) on top of Xamarin.Forms I just ran into that issue described [here](https://github.com/fsprojects/Fabulous/issues/403).

tl;dr: It seems by the nature of Fabulous it tries to re-use an existing element's instance and by setting `AutomationId` ([source](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/Element.cs#L55)) f

[2019-05-10 15:40] HobDev opened #6158 "[Enhancement] Allow to maually deselect item from CollectionView"
## Summary
In many scenarios developer would require to programmatically needs to deselect a selected item. I tried to do so by binding SelectedItem to a property in ViewModel. I am assigning it a value of null to deselect the selected item. But that does not work.

[2019-05-10 16:28] samhouts commented on #6061
closed by  #6062

[2019-05-10 16:28] #6061 closed

[2019-05-10 16:28] samhouts commented on #5544
closed by #6099

[2019-05-10 16:28] #5544 closed

[2019-05-10 16:28] samhouts commented on #6010
closed by #6062

[2019-05-10 16:28] #6010 closed

[2019-05-10 16:29] samhouts commented on #5822
closed by #5823

[2019-05-10 16:29] #5822 closed

[2019-05-10 16:29] samhouts commented on #5723
closed by #5676

[2019-05-10 16:29] #5723 closed

[2019-05-10 16:30] samhouts commented on #5666
closed by #5678

[2019-05-10 16:30] #5666 closed

[2019-05-10 16:30] samhouts commented on #5517
closed by #5633

[2019-05-10 16:30] #5517 closed

[2019-05-10 16:30] samhouts commented on #5498
closed by #5499

[2019-05-10 16:30] #5498 closed

[2019-05-10 16:31] samhouts commented on #5461
closed by #5562

[2019-05-10 16:31] #5461 closed

[2019-05-10 16:31] samhouts commented on #5473
closed by #5485

[2019-05-10 16:31] #5473 closed

[2019-05-10 16:31] samhouts commented on #5472
closed by #5583

[2019-05-10 16:31] #5472 closed

[2019-05-10 16:33] samhouts commented on #4961
closed by #4999

[2019-05-10 16:33] #4961 closed

[2019-05-10 16:41] dansiegel opened #6159 "[Enhancement] Make Send methods virtual for application lifecycle"
## Summary

Right now there are hidden methods in the Application class for invoking lifecycle events (i.e. Start, Resume, Sleep). Frameworks may need to tie into these events which means overriding the On{Event} method. While this works it also means that any downstream users have to explicitly know to call the base.On{Event}.

## API Changes

Current API

[code]

Proposed

[code]

## Intended Us

[2019-05-10 16:57] jrahma opened #6160 "[Bug] StackLayout's BindableLayout doesn't work when inside a frame"
Hi,

I have below code..

When I remove the StackLayout from inside the Frame then everything works fine but when I keep it inside the frame I just get the Frame empty

Here is my code:

[code]

Thanks,
[Jassim](https://www.jassimrahma.net)

[2019-05-10 16:59] PureWeen opened #6161 "[Bug] Changing the Shell Flyout Header after it's already rendered doesn't work"
### Description
If you try to change the Shell .FlyoutHeader after the app is already running it won't work. On iOS it just becomes blank

### Steps to Reproduce

1. start shell app
2. use a button or similar so you can trigger a change to flyout header
3. click the button

### Expected Behavior
flyoutheader should re-render

### Actual Behavior
it does not.

[2019-05-10 17:50] andreinitescu commented on #6160
@jrahma You don't have the `BindableLayout.ItemsSource` attached property set on the `StackLayout`, it's just the `BindableLayout.ItemTemplate`

[2019-05-10 17:51] B-Esmaili opened #6162 "Specify calendar type in DatePicker control."
Is there any way to specify calendar type of DatePicker just like `CalendarIdentifier` in UWP applications?if yes how to specify calendar type if not do you have any plan to support it in future resales?
EDIT:
Additionally why `PersianCalendar` is not in the (CalendarIdentifier Enum) list whereas it exists in .NET calendar list?

[2019-05-10 17:52] jrahma commented on #6160
I have in the codebehind:

`BindableLayout.SetItemsSource(GridWeatherHourlyForecast, trends);`

[2019-05-10 17:58] alanag13 commented on #6072
I ran into this today too, but I don't think it was related to updating XF. It may have had something to do with a Visual Studio for Mac update but I'm not sure. Another interesting problem is that we started seeing the .app file for iOS get dropped into a `device-builds` folder instead of directly under `bin` like it used too.

[2019-05-10 18:06] andreinitescu commented on #6160
It's difficult to say what's wrong without your full code.
In XAML, try to put only a `<BoxView BackgroundColor="Red" HeightRequest="100" />` inside the `<DataTemplate>`, can you see items?
If you don't, there's an issue with your `trends` object. If you do, make sure you don't have any other errors in your XAML.

[2019-05-10 18:23] samhouts opened #6163 "[Android] ListView SelectedItem Highlight not working with RecycleElement"
### Description

On Android, if you set the SelectedItem using the RecycleElement strategy, no selection highlight is displayed. If you use RetainElement instead, the lovely orange highlight appears.

### Steps to Reproduce

1. Open attached project.
2. Note that there is no selection highlight, despite the selected item being set to 2.
3. Change the ListView CachingStrategy to RetainElement on Mo

[2019-05-10 18:36] jrahma commented on #6160
my trends object is beautifully working fine when I remove the StackLayout from inside the Frame

[2019-05-10 18:59] alanag13 commented on #6072
@pontusntengnas @igorrfc I spent some time investigating why this was happening to me and was able to get things working again. Here's what I did:

- updated `Xamarin.UITest` and `NUnit` to latest (`Xamarin.UITest` now supports NUnit 3). From both of your descriptions of the error you're encountering, this might be all you need to do.

- If building your iOS project no longer drops/updates the .ap

[2019-05-10 22:19] NPadrutt opened #6167 "[Bug] Can't type double number on android"
### Description
When I set the region of a android emulator or device to the following, I can't write any double numbers to my entries when I have the keyboard set to numeric.
As far as I found out the correct seperator sign would be the point but that one is not written in that keyboard, but is in the default text keyboard.

### Steps to Reproduce

1. set language to
![image](https://user-images.

[2019-05-10 23:47] samhouts commented on #6167
Duplicate of #2049

[2019-05-10 23:47] #6167 closed

[2019-05-10 23:52] samhouts commented on #2049
Agreed! If you'll look at the PR we opened to make this better (#3700), you'll see that we're struggling with how to do this in the best way possible that avoids breaking a large number of apps. We're open to suggestions! Thanks!

[2019-05-10 23:59] MelbourneDeveloper commented on #2049
@samhouts

My money would be on implementing the Language property so as to opt in to a given language. Then, binding would be based on the Language property if it is set. It means that one line of code could switch the app over to the user's existing regional settings, but not necessarily change any existing functionality in existing apps. That's the way it's done on other XAML platforms. My gues

[2019-05-11 00:04] samhouts commented on #5162
Since we haven't heard from anyone in more than 30 days, we hope this is no longer an issue. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:04] #5162 closed

[2019-05-11 00:05] samhouts commented on #5436
@jdluzen @walingersystems  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:05] #5436 closed

[2019-05-11 00:05] samhouts commented on #4917
@simonXarios @AmitDKabade @PauchardThomas  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:06] samhouts commented on #5556
@kensykora  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:06] #5556 closed

[2019-05-11 00:06] samhouts commented on #5463
@shudson302  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:06] #5463 closed

[2019-05-11 00:06] davidortinau opened #6168 "[Bug] CollectionView GridItemLayout reverses width/height"
### Description

Looks like height/width are reversed in this scenario:

[code]

### Basic Information

- Version with issue: 4.0.1
  - iOS: 12.3

### Screenshots

<img width="1414" alt="Screenshot 2019-05-10 17 00 36" src="https://user-images.githubusercontent.com/41873/57562247-e09f8880-7345-11e9-8050-25b48601dd8b.png">

[2019-05-11 00:06] samhouts commented on #5551
@landl0526  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:06] #5551 closed

[2019-05-11 00:07] samhouts commented on #5607
@kgbuddhima  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:07] #5607 closed

[2019-05-11 00:07] samhouts commented on #5592
@allessandrosj  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:07] #5592 closed

[2019-05-11 00:07] samhouts commented on #5570
@khadeeja-alif  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:07] #5570 closed

[2019-05-11 00:07] samhouts commented on #5701
@zhulin802  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:07] #5701 closed

[2019-05-11 00:07] samhouts commented on #5522
@moljac  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:07] #5522 closed

[2019-05-11 00:08] samhouts commented on #5687
@luczha  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:08] #5687 closed

[2019-05-11 00:08] samhouts commented on #5731
@jrahma  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:08] #5731 closed

[2019-05-11 00:09] samhouts commented on #5738
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:09] #5738 closed

[2019-05-11 00:10] samhouts commented on #5702
@yelinzh CarouselView is in very early preview and is not fully implemented yet. Please follow #5044 for updates. Thanks!

[2019-05-11 00:10] #5702 closed

[2019-05-11 00:10] samhouts commented on #5741
@mcguu  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:10] #5741 closed

[2019-05-11 00:11] samhouts commented on #5638
Since we haven't heard from anyone in more than 30 days, we hope this is no longer an issue. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:11] #5638 closed

[2019-05-11 00:11] samhouts commented on #5777
@Xyotic  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:11] #5777 closed

[2019-05-11 00:11] samhouts commented on #5817
@cherrybbb  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:11] #5817 closed

[2019-05-11 00:11] samhouts commented on #4921
@WinBase  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:11] #4921 closed

[2019-05-11 00:12] samhouts commented on #5845
@bill2004158  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:12] #5845 closed

[2019-05-11 00:12] samhouts commented on #5835
@ajaykeshri  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:12] #5835 closed

[2019-05-11 00:13] samhouts commented on #5874
@1saeedsalehi  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:13] #5874 closed

[2019-05-11 00:30] samhouts commented on #4678
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 00:40] samhouts commented on #6160
@jrahma Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 00:47] samhouts commented on #6157
@aspnetde AutomationId was created for the Xamarin UITest framework. If I remember correctly, it is not possible for UITest to pick up changes to AutomationId. It reads (or at least read) the tree in once and only once. To prevent confusion, we instituted the guard on AutomationId. It's possible that this is no longer a problem, and we should reevaluate it. This has come up in #5899 and #4998, and

[2019-05-11 00:48] samhouts commented on #6156
@mknotzer Have you tried to clean your solution first? Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 00:49] samhouts commented on #6154
@mknotzer Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 00:50] samhouts commented on #6147
@ianvink Please report this via feedback within Visual Studio. Thanks!

[2019-05-11 00:50] #6147 closed

[2019-05-11 00:56] samhouts commented on #6145
@MhAllan We don't intend to remove `[EditorBrowsable(EditorBrowsableState.Never)]`. We put those in intentionally to keep the IntelliSense manageable, and also to indicate that the API is internal and subject to change. As for promoting `private` methods to `protected` or `public`, we are more than happy to evaluate those on a case by case basis. If you'd like to submit a request for any API to be

[2019-05-11 00:56] #6145 closed

[2019-05-11 00:58] samhouts commented on #6143
@MisterioRee Please make sure your Maps nuget version matches your Forms nuget package. If you still have this issue once you have matched versions, please feel free to reopen this issue and attach a small project demonstrating the problem. Thanks!

[2019-05-11 00:58] #6143 closed

[2019-05-11 01:00] samhouts commented on #6140
@Mushtaq123 Yes, please see the resources mentioned by @carlos-ferreira (thanks!!). If you still encounter problems, feel free to reopen this issue and attach a small project demonstrating the problem. Thanks!

[2019-05-11 01:00] #6140 closed

[2019-05-11 01:00] samhouts commented on #6138
@lcm98 Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 01:02] samhouts commented on #6129
@awattar What version of Xamarin.Forms are you using? Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 01:07] samhouts commented on #6098
@markti Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 01:08] samhouts commented on #6097
Yeah, we don't really use the sln files that start with `.`. I'll ping @kingces95 to see if he wants to update or delete those. For now, I suggest avoiding those and use the full sln file. Thanks!

[2019-05-11 01:08] #6097 closed

[2019-05-11 01:10] samhouts commented on #6088
Oversight! It'll be fixed in the next version. Sorry about that!

[2019-05-11 01:10] samhouts commented on #6088
closed by #6133

[2019-05-11 01:10] #6088 closed

[2019-05-11 01:12] samhouts commented on #6084
@ianvink sahou at microsoft.com

[2019-05-11 01:18] samhouts commented on #5576
@Scy15 That snippet is not enough for us to reproduce the issue.  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-11 01:18] #5576 closed

[2019-05-11 01:20] samhouts commented on #6008
@azuken  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 01:20] samhouts commented on #5500
@Goksly  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 01:46] davidbuckleyni opened #6171 "[BUG] MSB4018 The "XamlCTask" task failed unexpectedly."
Get the following of recompilation of a project latest visual studio
Xamrin 3.6.0.2

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4018	The "XamlCTask" task failed unexpectedly.
System.ArgumentException: An item with the same key has already been added.

Server stack trace:
   at System.ThrowHelper.ThrowArgumentException(ExceptionResource resource)
   at System.Collections

[2019-05-11 01:46] davidbuckleyni commented on #6171
<Target Name="XamlC" AfterTargets="AfterCompile" Inputs="$(IntermediateOutputPath)$(TargetFileName)" Outputs="$(IntermediateOutputPath)XamlC.stamp" Condition=" '$(DesignTimeBuild)' != 'True' ">
		<XamlCTask
			Assembly = "$(IntermediateOutputPath)$(TargetFileName)"
			ReferencePath = "@(ReferencePath)"
			OptimizeIL = "true"
			DebugSymbols = "$(DebugSymbols)"
			DebugType = "$(DebugType)"
			Keep

[2019-05-11 02:34] dotMorten commented on #6097
These projects are really useful for quickly building when you're just focused on a single platform and don't want to worry about having all the dependencies needed to build the entire stack. So I'd prefer you fix them rather than delete them.

Also perhaps wait on closing the issue once they have been fixed or deleted?

[2019-05-11 09:51] toomasz commented on #3172
Is there a plan to support collection view on UWP?

[2019-05-11 13:30] madrvojt opened #6174 "[Bug] Shell - Black Screen (ContentPage) after quick switching tabs"
### Description

### Steps to Reproduce

1.  Open App
2.  Fast switching tabs
3.  After few click page is Black (Screen Record + screenshot include)

### Basic Information

- Version with issue: Xamarin.Forms  4.0.0.394984-pre10
- IDE:
- Platform Target Frameworks: 9.0 (Pie)
  - Android: 9.0
- Android Support Library Version: 28.0.0.1
- Affected Devices: Samsung SM-J330f (API 26)

### Screenshots

[2019-05-11 19:14] #5888 closed

[2019-05-11 19:18] samhouts commented on #6171
@davidbuckleyni Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-11 19:25] samhouts commented on #5598
@cheles No update. Please do send me the logs. Thanks!

[2019-05-11 19:29] #5751 closed

[2019-05-11 19:43] #6021 closed

[2019-05-12 01:02] hartez commented on #3172
Yes. The implementation is a little behind the other platforms right now, but the plan is to fully support it. You can follow the feature progress at https://gist.github.com/hartez/7d0edd4182dbc7de65cebc6c67f72e14

[2019-05-12 10:16] MisterioRee opened #6175 "[Bug] Grid/AnyOther inside CarouselView is ignoring WidthRequest and HeightRequest inside content page"
### Description
 <CarouselView x:Name="carousel" ItemsSource="{Binding Zoos}" HeightRequest="200" VerticalOptions="FillAndExpand">
                <CarouselView.ItemTemplate>
                    <DataTemplate>
                            <Image  Source="..."  WidthRequest="500" Aspect="AspectFill"/>
                    </DataTemplate>
                </CarouselView.ItemTemplate>
### Steps to Repro

[2019-05-12 11:50] HobDev commented on #5767
@samhouts I again ran this repro project and noticed that the issue is on Android only.

[2019-05-12 12:41] BMarinov commented on #5742
I just got hit by the same problem. Bottom Tabbar plus Proguard resulted in the exception mentioned above.

A word of caution to all who would add the **proguard.cfg** from Visual Studio: the IDE will add a **BOM** character by default and the java process will exit with code 1.
Either create the cfg from outside Visual Studio or open it in VSCode (or similar) and change the Encoding to **UTF-8 (w

[2019-05-12 13:36] aquisio opened #6176 "XAML compilation fails with generic types and event bindings to a page base class"
### Description

This issue appears to be related to issue #1497 (now closed).

I am seeing the following runtime exception when a specific combination of conditions exists:

![image](https://user-images.githubusercontent.com/10047882/57582857-b3341580-74d2-11e9-9f3c-f7f8391972e0.png)

Failure occurs when the following combination of conditions exists:

- XamlCompilation is enabled
- The page has

[2019-05-12 15:23] HobDev opened #6177 "[Bug] AbsoluteLayout and RelativeLayout is expanding beyond its child Image"
### Description
I need to display some controls on an Image. So, I need to put image inside RelativeLayout or AbsoluteLayout. But both of these layouts expand beyond the Image. This causes wastage of space. RelativeLayout is taking even more space than AbsoluteLayout.
These Layout should adapt according to the size of its children. Exactly as StackLayout.

### Steps to Reproduce
Swap RelativeLayou

[2019-05-12 15:26] HobDev commented on #6177
I am not sure but #5767 may be somehow related. The behaviour is different in both issues. But both issues are related to the sizing of AbsoluteLayout and RelativeLayout

[2019-05-12 15:40] Phenek commented on #1678
Hey Guys,
Thanks for this property is work like a charm!

It would be great to have it also for Picker, DatePicker, TimePicker,
because there are also entries.
It would be nice to have :)

Regards,

[2019-05-12 20:18] dimitarcnbs commented on #5121
@samhouts could you provide me with the location of the UI test for this feature? I would like to use it as a starting point to attempt to build a repro. There is a braking change between the version I'm using and the latest version of Xamarin.Forms that affects my project. I need to find and resolve this issue before I could move forward and use the latest Xamarin.Forms version.

[2019-05-12 21:32] jrahma commented on #3486
another example is Register and DeRegister which needs to be inside the OnAppearing and OnDisappearing

`App.Current.AppLinks.RegisterLink(_appLink);`

[2019-05-12 22:50] pinoelefante commented on #6158
I am using a workaround. I have added a Tapped event handler to the ItemTemplate and using this code

[code]

[2019-05-12 23:46] jaytilly commented on #5682
Added a PR for this if anyone can take a look https://github.com/xamarin/Xamarin.Forms/pull/6179

[2019-05-13 01:20] dimitarcnbs commented on #5121
By looking at the code I may have found where the issue I'm observing is rooted.
I'm only looking at the code, and I have not been able to execute or debug it, and my interpretation may be faulty...

In \Xamarin.Forms\Xamarin.Forms.Core\BindingExpression.cs
[code]

part of the code has changed to:

	if (part.NextPart != null &&   (mode == BindingMode.OneWay || mode == BindingMode.TwoWay)
	    && c

[2019-05-13 03:35] PureWeen commented on #5940
#6173 mostly fixed this but it still needs a little work to be great. Currently it propagates the property through the children but it should just walk up the parent chain to find the setting

Work started here for this
https://github.com/xamarin/Xamarin.Forms/tree/fix_5940_shell_propagation

[2019-05-13 05:03] kgbuddhima opened #6182 "[Bug] Editor AutoSize Does not work"
### Description
I'm using Xamarin.Forms 3.6 latest Version and AutoSize option of Editor control does not work for me.

### Steps to Reproduce

1. Create Editor
2. Set AutoSize="TextChanges"

### Expected Behavior
Auto increase or decrees the height of Editor control when entering the text

### Actual Behavior
Editor does not change the height

[2019-05-13 06:17] adrianknight89 commented on #1557
@samhouts I have a similar issue with regards to `HorizontalTextAlignment` being lost as I scroll a `ListView` up and down. It's said that the issue is fixed in the shell branch, but I'm testing the code against 4.0 pre-10. :(

[2019-05-13 06:22] PureWeen commented on #6182
@kgbuddhima can you provide a repro please? Or the XAML and device you are testing?

I just tested this on an iOS device and for me the height is expanding without any issues

[2019-05-13 07:10] pontusntengnas commented on #6072
@alanag13 I had no idea that Xamarin.UITest supports NUnit 3 now, thanks for the information. I will try  updating today and see if it works!

[2019-05-13 07:48] Dresel opened #6184 "[Bug] Invalid TabBar.Items access in iOS ShellItemRenderer"
### Description

iOS ShellItemRenderer accesses [TabBar.Items](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs#L259) to enable / disable items. If there are more shell sections than maxTabs, it could lead to an index out of range exception because they are aggregated in a single "show more" item.

### Steps to Reproduce

1. Create shel

[2019-05-13 09:22] nbevans commented on #6182
Is your Editor inside a ListView's ViewCell? Because in my experience AutoSize option doesn't work for this. Which is annoying indeed. We had to implement some renderer workarounds.

[2019-05-13 09:27] azuken commented on #6008
I've created a new project with @PureWeen  code sample, Xamarins Forms 3.6.0.264807, shadow is working.
Same with 3.6.0.344457.

Is there any parameter in configuration that can affect this effect ?

[2019-05-13 09:34] Goksly commented on #5500
Just a simple project showing entry working as expected for default and material, and editor working as expected for default but not material. Note that, as per the purpose of this issue, it works fine on the simulator but not on a physical device.

[XamarinMaterialBug.zip](https://github.com/xamarin/Xamarin.Forms/files/3172148/XamarinMaterialBug.zip)

To replicate, use the sliders to update the e

[2019-05-13 09:54] azuken commented on #6008
After re-testing our actual development build, frame shadows appears again. It was `android:hardwareAccelerated` parameter. Sorry for the inconvenience.

[2019-05-13 11:33] Hasanajouz commented on #5216
This issue should be fixed in XF 4 pre 10
or it will be released soon.
It is still too laggy and flickers alot when navigating in pre 10

[2019-05-13 11:55] HobDev opened #6185 "[Enhancement] Add StepValue to Slider"
## Summary
In certain scenarios the slider value is required in  steps. So StepValue can cover this.

## API Changes
Add new Property : StepValue

## Intended Use Case
In one of my projects the slider Value needs to be increased by 50 with every drag step. Lots of time a whole number is required in value.

[2019-05-13 13:04] ArunSivaR opened #6186 "The EventToCommand behavior doesn't fire the button click event in list view"
### Description
The EventToCommand behavior doesn't trigger the button clicked event, in list view. In the attached sample we have a list view and added a grid as a DataTemplate for list view and i have added a button inside the grid and triggered the clicked event by using the EventToCommand behavior but the event doesn't fired.

### Steps to Reproduce
1.  Run the attached sample [EventToCommandS

[2019-05-13 13:18] gmwilhelm commented on #6186
Out of curiosity, why don't you use the button command property instead of the behavior?

` <Button Text="{Binding Name}" TextColor="#000000" InputTransparent="False" Command="{Binding ButtonClickedCommand}" />
`

[2019-05-13 13:31] GalaxiaGuy commented on #6186
This appears to be same issue as here: https://github.com/xamarin/Xamarin.Forms/issues/5414

The `BindingContext` of a cell is set to the relevant member of the `ItemsSource`. So, in the same way  `{Binding Name}` is looking for the `Name` property on `Person`, `{Binding ButtonClickedCommand}` is looking for the `ButtonClickedCommand` property on `Person`.

One way to fix this is to add an `x:Name

[2019-05-13 14:06] fabcall opened #6187 "Visual Material Entry underline color should reference PlaceholderColor"
### Description
When using Visual Material Entry component, the underline color will be equivalent to TextColor.

### Steps to Reproduce

1. Create a Entry
2. Set Visual="Material"
3. Set PlaceholderColor to any color
4. Start app

### Expected Behavior
Following the Material Design guidelines, the underline's color should be the updated accordingly with the PlaceholderColor ([source](https://mate

[2019-05-13 15:17] kgbuddhima commented on #6182
No it is inside a stack layout

[2019-05-13 15:20] Moltroon opened #6188 "[Bug] Tab Shell Call view before VM"
### Description

When changing the tab, if we change more than 1 tab and we come back, the view is called and the controller is not recovered. I feel that there is a strange behavior with the passage of several tabs. Maybe you have a way to preload them all to avoid this behavior?

### Video

Sorry for the sound
[2019-05-13-16-46-13 by Game Genie.zip](https://github.com/xamarin/Xamarin.Forms/files

[2019-05-13 19:39] lcm98 commented on #6138
Yeah I'll try to find the time this week to put something together

[2019-05-13 20:09] Magendanz commented on #4654
Why doesn't CarouselView just inherit from SelectableItemsView?  This would give us both SelectedItem and a SelectionChanged event (as well SelectionChangedCommand).

[2019-05-14 05:59] SubburajPandianV commented on #5886
Hi @samhouts, Any update on this?

[2019-05-14 06:17] ArunSivaR commented on #6186
@GalaxiaGuy  Thank you for your suggestion it works as expected after applying your suggestion. Thanks for your help.

[2019-05-14 06:17] #6186 closed

[2019-05-14 06:44] DaanTacoSchool commented on #5887
This bug occurred in one of my projects as well when i updated from 3.4.xxx75 to 3.6.x
I downgraded XF as far as 3.5 but it doesn't seem to go away. This bug occurs both in VS2019 and VS2017. Cannot attach repro project due to tight deadline scheduling.

[2019-05-14 06:53] DaanTacoSchool commented on #5887
Issue doesnt occur in xamarin forms 3.4.xx75

[2019-05-14 07:04] BalasubramaniSundaram commented on #5897
Hi Team,
 Any Update?

Regards,
@BalasubramaniSundaram

[2019-05-14 07:05] mknotzer commented on #6156
I cleaned and rebuild it. Actually for several years I've been using a second file called ThisApp. When I removed recently the original App.* the runtime errors occurs. Renaming App or even changing to ContentView has no impact, only removing it from the project causes trouble like this:

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> Xa

[2019-05-14 08:00] mknotzer commented on #6156
adding [assembly: XamlCompilation(XamlCompilationOptions.Compile)] solved it for me
attached a small project, please compile and run

[Test.zip](https://github.com/xamarin/Xamarin.Forms/files/3176465/Test.zip)

[2019-05-14 10:32] Dresel commented on #6112
I have started implementation for bottom tabs support (see [fork](https://github.com/Dresel/Xamarin.Forms/tree/badge-support)), because this will cover most needs and is the easiest to implement.

How should I proceed? Should I go for a PR? Do you want to refine specification or implementation details?

**Android**

<img src="https://user-images.githubusercontent.com/1769090/57691152-b00c6700-7643

[2019-05-14 12:08] wachs opened #6189 "[Bug] Updating the value of element in a task on secondary window causes a UWP application crash."
### Description

Updating the Issue2482.cs class with the following code:

[code]

In this execution the Wrong Thread problem occurs in the secondary window.
When we worked on the solution (#2432), our main focus was to perform element updates (Bindings on Labels, Lists etc) without the window selected.

### Steps to Reproduce

1.  Update class Issue2482.cs with the code.
2. Run Gallery App
3. Cli

[2019-05-14 12:19] Moltroon commented on #6188
Ok, I have edit my first post. I managed to get more informations.

[2019-05-14 12:55] Dids commented on #2625
This has been closed, but apparently still not fixed? Still an issue on Xamarin.Forms 3.6.

[2019-05-14 13:32] pikausp commented on #5625
To expand on this issue

- The `PropertyChanged` gets called
- The binding source is not updated

What helped me was creating a simple bridge behavior that proxied `SelectedItems` by cloning value of the source `SelectedItems` property.

I believe the issue here is that the instance of the `SelectionList` remains the same for the lifetime of the view and so the bindings are not updated. Since ther

[2019-05-14 13:54] toomasz commented on #6185
Good idea, I also needed it so i had to create custom renderer :(

[2019-05-14 14:41] andy200486 commented on #2208
Hi, I'm having the same problem as you.

I'm using Xamarin Auth to connect via Google. When the authentication is done and ok I do :

`UIViewController.DismissViewController(true, null);`

Then, I click on a button and I'm trying to make a pushmodalasync :

`await Application.Current.MainPage.Navigation.PushModalAsync(navigationPage)`

My app crash with this error :

[code]

If I don't do the :

`

[2019-05-14 14:57] Wadiie commented on #5159
check if the IsEnable property is set to false then the focus() event won't work on api 28, setting it to true or removing it will fix the issue and make the datepicker focus works.

[2019-05-14 15:32] cheles commented on #5598
@samhouts customer discontinued the case for now. how do you want to proceed with this?

[2019-05-14 15:56] marnilss commented on #2049
My 0.2$ is that there is in .NET already a functionality designed to handle formatting and parsing: CultureInfo.CurrentCulture

If you from code format DateTime to a string with DateTime.Now.ToString() it will automatically use CultureInfo.CurrentCulture to format it. Same with parsing a string into a DateTime with DateTime.Parse - CurrentCulture is used.
Why shouldn't a Binding conversion (format

[2019-05-14 16:19] pablogupi commented on #5894
Hello!
In my case, error occurs when receive Push Notification . If I click in notification and app stay in background, crash immediately and appear this error:

System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.PageRenderer from native handle 0xbf8e022c (key_handle 0xbc91b18). ---> System.MissingMethodException: No constructor found for Xamarin.Forms

[2019-05-14 18:07] schovan commented on #2930
Quick fix:
add
`[assembly: XamlCompilation(XamlCompilationOptions.Compile)]`
to the project with xaml files and recompile

[2019-05-14 18:14] rmarinho commented on #2625
@Dids can you give us a reproduction please, this should be fixed some versions ago.

thanks

[2019-05-14 18:27] hartez commented on #5280
Based on Dave's feedback, perhaps we could allow for specifying just one or two values where appropriate.

So instead of having to specify "no value" or empty for corners we don't care about:
[code]

We could directly specify one at a time if we wish to:

[code]

[2019-05-14 19:11] Henri2h commented on #4826
I don't know if it supposed to be fixed, but I still experience this issue using XF 4.0.0.394984-pre10.

[2019-05-14 20:43] samhouts commented on #5857
@AdamBowler  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-14 20:43] #5857 closed

[2019-05-14 20:56] samhouts commented on #5598
@cheles Since we were unable to reproduce it, I guess we should go ahead and close this issue. However, do let me know if you have any ideas that would help us find the problem.  Thanks!

[2019-05-14 20:56] #5598 closed

[2019-05-14 21:14] samhouts commented on #6097
@dotMorten They are useful! However, they get out of date very quickly. However, VS 2019 has a great option that we recommend you try: https://docs.microsoft.com/en-us/visualstudio/ide/filtered-solutions?view=vs-2019 (thanks @StephaneDelcroix for pointing it out to me!)

[2019-05-14 22:23] samhouts commented on #6184
@Dresel  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-14 22:25] samhouts commented on #6175
@MisterioRee  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-14 22:30] akamud opened #6192 "[Bug] XAML x:Name + Binding reference doesn't work on nested layouts binding"
### Description

I have a `Page` with a `StackLayout` using `BindableLayout.ItemsSource`, inside each item I have a `ListView`, for each item in this nested `ListView` I need to do a `Binding` to a property on the Page's ViewModel. I'm trying to use the [Source+Path](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/data-binding/binding-path) approach but the app crashes as s

[2019-05-14 22:50] daltonks commented on #5973
I was able to get a custom renderer working based on this stack overflow comment: https://stackoverflow.com/a/52160351.

However, I do notice that Shell handles locking the DrawerLayout differently, so if you use Shell, I don't think this workaround would be of any use.

[code]

[2019-05-15 00:50] viniciuslln opened #6193 "[Bug] Grid with ColumnDefinitions with Unexpected Behavior"
### Description
In the code informed, the grid height the grid is rendered incorrectly when I add ColumnDefinitions (second image attached )

### Steps to Reproduce
Add
[code]
in the Grid.

### Expected Behavior
Height grid adjust content size

### Actual Behavior
Grid has incorrect height

### Basic Information

- Version with issue:
4.0.0.394984-pre10
- Last known good version:
null
- IDE:
 VS 1

[2019-05-15 03:18] jaytilly commented on #3662
I've was able to reproduce in the demo project using the included 3.1.0.697729 libs but the demo project seems to be working correctly using the 4.0.0 branch. Guessing it was fixed with something else?

Included in case any of this matters somehow:
VisualStudio 16.0.4
Windows 10

[2019-05-15 03:29] Adam-Langley opened #6195 "Regression of Bugzilla#27779 Xamarin.Forms.ReadOnlyListAdapter.IndexOf throws NotImplementedException"
See https://bugzilla.xamarin.com/show_bug.cgi?id=27779

All details are there.
I did originally fill this all out - then GitHub blanked out my report when I submitted it...

[XamForms-CrashSelectingItem.zip](https://github.com/xamarin/Xamarin.Forms/files/3180769/XamForms-CrashSelectingItem.zip)

[2019-05-15 05:16] albilaga commented on #3728
hi @jfversluis do you have sample code to make it nullable? I need one with placeholder. For now I already make it for android and iOS but the problem in android is I can't detect cancel button clicked and event DateSelected not triggered when choosing date with the same previous date. iOS works fine because there is no cancel event.

[2019-05-15 06:55] HobDev commented on #6185
I manage to get stepvalue functionality by adding some code in the code behind:
[code]
Thus the slider add 50 with every step.

[2019-05-15 07:15] NPadrutt commented on #6167
@samhouts  is that really the same issue? Since I can't even type a point (which would be the correct seperator sign) in the language above. I have a video here: https://github.com/MoneyFox/MoneyFox/files/3140027/device-2019-05-02-183502.zip

[2019-05-15 08:10] MisterioRee commented on #6175
Hi @samhouts  Thank you for quick response,
there is no issue in Shell, as i have tested again in a new Test Application its working fine, problem was with my  <Grid.ColumnDefinitions>

`
    <ScrollView>
        <Grid>
            <Grid.ColumnDefinitions>
                <ColumnDefinition Width="*"/>
            </Grid.ColumnDefinitions>
            <Grid.RowDefinitions>
                <RowDefin

[2019-05-15 08:11] #6175 closed

[2019-05-15 08:57] Yuvaraj-007 commented on #5992
Hi Team,

Any update on this issue?

Regards,
Yuvaraj C

[2019-05-15 09:15] MisterioRee commented on #6143
Yeah the 4.x version is working now Thanks.

[2019-05-15 10:21] DineshBabuYadav commented on #5288
@samhouts , One of our client installed the latest version of **Xamarin.Forms v3.6.0.344457** but still he is facing the issue in his application ref [Forum](https://www.syncfusion.com/forums/144527/sflistview-issue-typeloadexception-parent-class-vtable-failed-to-initialize-sflistview-issue).

As per the below commented suggestion, it should resolve in this version.
https://github.com/xamarin/Xama

[2019-05-15 12:19] paymicro opened #6197 "[Shell, Android] crash on Android 5.0"
### Description

App crashes when using Shell on Android 5
This is due to the use of [DrawableWrapper](https://developer.android.com/reference/android/graphics/drawable/DrawableWrapper), which is added in API level 23 (android 6.0)

### Steps to Reproduce

1.  run ControlGallery
2.  SwapRoot - Store Shell
3.  **crash**

### Expected Behavior

Application runs in shell mode

### Actual Behavior

Ap

[2019-05-15 12:29] Goksly commented on #6182
Not sure if I should create a new issue for this, but it's so closely related... Basically the auto size works for me when editing the text, but when binding to a model that already has text in - the auto size only kicks in after the user starts typing. So yeah there is defo something not quite right around the auto size functionality.

[2019-05-15 15:35] Skirtek commented on #4960
Any progress with issue?

[2019-05-15 15:39] hartez commented on #6158
Once PR #6085 is merged, setting `SelectedItem` to `null` will clear the selection.

[2019-05-15 15:41] greektreat commented on #1879
I am running into the same issue. I know the root cause. Not sure if's because of bad code on my side not following the standards.
WHEN you reset the Itemsource. The pickers goes through a process of resetting it self. I see this on the call stack.
I see on the call stack a call function Xamarin.Forms.Picker.ResetItems , which triggers it to set the SelectedItem == null. But this happens AFTER  I

[2019-05-15 15:46] dimitarcnbs commented on #5121
@samhouts is it possible to reopen this issue based on the input I provided here, or I need to create new one?

[2019-05-15 15:59] mkmdisticaret opened #6200 "webview works only one control at content"
### Description
webview content is visible only when content is only webview.When webview in stacklayout,webview content is not visible

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Pa

[2019-05-15 16:01] StephaneDelcroix commented on #5121
@dimitarcnbs

this is still valid :) come up with a simple case (one xaml file, one view model) and we will reopen. Thanks

[2019-05-15 16:19] Holsten opened #6201 "[Bug] ListView with HasUnevenRows on iOS inferior to 11"
### Description
On iOS versions inferior to 11; ListViews with HasUnevenRows are broken in latest versions of XamarinForms.

### Steps to Reproduce

1. Create a ListView with a complex ItemTemplate
2. Set HasUnevenRows to true
3. Populate the list
3. Deploy the application on an iOS device with OS version inferior to 11

### Expected Behavior

The ListView adapts to the complex items.

### Actual

[2019-05-15 16:56] StephaneDelcroix commented on #6192
In order to bind to ShowMessageCommand, it needs to be a property, not a field. Once that's fixed, I can reproduce your error when XamlC is on, but it works fine when XamlC is off

[2019-05-15 17:16] mkmdisticaret commented on #6200
I put the webview in a grid inside stacklayout.Now all controls including webview are visible.

[2019-05-15 17:16] #6200 closed

[2019-05-15 18:09] PureWeen commented on #6112
@Dresel can you create a draft PR against your fork and then we can check it out?

[2019-05-15 18:17] kgbuddhima commented on #6182
Yes. One year ago I solved it by adding Invalidate() method to TestChanged event.
But now ti also diea not work for the editor.

[2019-05-15 18:57] hartez commented on #6126
This is fixed by PR #6089.

[2019-05-15 18:58] #6126 closed

[2019-05-15 19:01] #6158 closed

[2019-05-15 19:05] hartez commented on #6128
Fixed by PR #6085.

[2019-05-15 19:06] #6128 closed

[2019-05-15 19:37] dimitarcnbs commented on #5121
@StephaneDelcroix
[App5.zip](https://github.com/xamarin/Xamarin.Forms/files/3184164/App5.zip)
Attached is a repro. It has two labels and a button (MainPage.xaml, MainPage.xaml.cs).
When button is pushed the labels change value and the values should be the same. With Xamarin.Forms 3.4 it works. With 3.6 it doesn't work.

[2019-05-15 19:37] akamud commented on #6192
My bad, I'm creating a repro for this issue from a real project that I cannot share. I pushed some changes to the repro code.

Thanks for the heads-up :)

[2019-05-15 21:54] #2373 closed

[2019-05-15 21:58] codeknox commented on #4267
I just got kind of the same stack on my iOS app:
[code]

These are the versions I'm using:
[code]

Any idea of RTM of the fix?

[2019-05-15 22:02] luissete commented on #4921
I had the same problem but fix it like this:
https://visualstudiomagazine.com/Articles/2017/10/01/Add-Custom-Controls.aspx?Page=2

public static readonly BindableProperty StartColorProperty = BindableProperty.CreateAttached("StartColor",typeof(Color), typeof(GradientColorStack), Color.Default);

public static readonly BindableProperty EndColorProperty = BindableProperty.CreateAttached("EndColor",t

[2019-05-15 23:34] King-of-Spades opened #6202 "[Bug] iPad - Entry: Keyboard.Telephone & Keyboard.Numeric display standard keyboard instead of phone/numeric keyboards"
### Description

In a Forms Entry box, Keyboard.Telephone & Keyboard.Numeric display standard keyboard instead of phone/numeric keyboards on iPad. I didn't notice this issue on iPhone.

### Steps to Reproduce
1. Open and build UITest > FormsGallery sample in the reproduction link. (Might also be reproducible generally in an Entry field set to Keyboard.Telephone/.Numeric)
2. Go to "Views for Editin

[2019-05-15 23:55] StephaneDelcroix commented on #6121
I'd be interested to see the actual exception, or the magic that was invoked (or the assembly included) to load types from the blend xmlns, but this doesn't look at a xamarin.forms, or xamarin-previewer kind of issue at all. From the very few information I have here, I'd say failing is the expected behavior

[2019-05-16 00:27] ckrempp91 commented on #5367
I have been encountering this issue as well, and after some investigation it seems that the call to the [`EditText.Text = newText`](https://github.com/xamarin/Xamarin.Forms/blob/341ddc758b1e8570433531230850883c70263ef9/Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs#L246) located within the EditorRenderer is not actually performing the update to the native controls Text property, and th

[2019-05-16 03:09] StephaneDelcroix commented on #5121
this is the unites we currently have for this: https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs#L1952-L1968

[2019-05-16 03:22] StephaneDelcroix commented on #5121
Thanks for providing a sample for the reported issue. As indicated in the previous comment, we indeed had a test case for this.

I think the current behavior is correct, and the previous one was buggy. The doc says (https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.inotifypropertychanged.propertychanged?redirectedfrom=MSDN&view=netframework-4.8):

And that means all properties of t

[2019-05-16 03:50] DineshBabuYadav opened #6203 "Native crash when using Syncfusion SfListView with Xamarin.Forms v3.6.0.344457"
On resuming with the following bug report, our clients ref [Forum](https://www.syncfusion.com/forums/144527/sflistview-issue-typeloadexception-parent-class-vtable-failed-to-initialize-sflistview-issue) are facing the similar issue in Xamarin.Forms v3.6.0.344457 too.

https://github.com/xamarin/Xamarin.Forms/issues/5288

Can you please check whether the fix for the reported issue is included in the

[2019-05-16 05:14] sahithi89 commented on #4115
Is there any workaround for this issue, I am also having the same problem.

[2019-05-16 06:38] jfquarto commented on #4115
Not that I know of. Haven’t looked at it anymore because the Xamarin application I worked on is set on hold by my company.

Met vriendelijke groet,
​
Johan Fontijne
Software developer
Quarto B.V.
Westbaan 200
Moordrecht
2841 MC
Nederland
Tel: +31 182 700 500
Email: johan.fontijne@quarto.nl
Web: www.quarto.nl
De disclaimer van toepassing op email van Quarto Betaalsystemen vindt u op https://www.qua

[2019-05-16 10:08] DineshBabuYadav commented on #1839
@samhouts , Can you please update on this? If possible please provide a work around. Our clients are requesting for the work around. So, please make prioritize this issue and update us asap.

[2019-05-16 11:19] Yuvaraj-007 commented on #5992
Hi Team,

Any update on this issue?

Regards,
Yuvaraj C

[2019-05-16 11:52] hanchhanch commented on #5882
Where is it available?
I have Xamarin.Forms v4.0.0.394984-pre10 and this type cannot be resolved.
Other than that, is this page the only available information on this secret type?
without which the new collectionView is close to unusable...

[2019-05-16 11:58] hanchhanch commented on #3172
Any info on RefreshView?
I have the latest Xamarin 4 beta version and the RefreshView type cannot be found

[2019-05-16 13:06] sheiksyedm opened #6205 "[Bug] [iOS] Custom view not showing when changing from invisible to visible"
### Description

I have a custom control which visible state initially set as false. When dynamically changing its visible state to true(IsVisible="true"), control not getting visible in iOS.
Control working perfectly in Android.

### Steps to Reproduce
Prepared simple sample to reproduce an issue. Please run the attached sample and change visible state through button.
Sample: https://github.com/s

[2019-05-16 13:16] arvindrajachourasiya opened #6206 "Please implement Toast message for Android, iOS and Windows from Shared project"
## Summary

I need build in Toast message from Xamarin.Forms. I don't want to use 3rd party packages.

[2019-05-16 13:47] nodoid opened #6207 "[Bug] Slider not picking up DragStarted or DragCompleted events iOS"
### Description

When using the material UI (Microsoft one) on a slider, the ValueChanged event is being seen, but neither the DragStarted or DragCompleted are being hit by the debugger

### Steps to Reproduce

1. Create a material slider project
2. Add either the DragStarted event or DragStartedCommand property as well as the corresponding DragCompleted
3. Set a break point in either the Command

[2019-05-16 13:48] JeroenHauchecorne commented on #5268
Interested aswell. Thanks!

[2019-05-16 13:49] jcmanke opened #6208 "Please include ALL release notes in stable releases"
In the first stable release of a version, it would be great to have all of the release notes for that version, not just changes made since the last pre-release. In order to figure out how much changed between 3.6.0 and 4.0.0 I have to read through 11 sets of release notes with the current setup.

[2019-05-16 13:53] pranshaggarwal opened #6209 "[Enhancement] Inherit IFontElement into ITextElement"
## Summary
Can we please inherit IFontElement into ITextElement? Currently, ITextElement has only TextColor property but every TextElement will also have font property attached to it. So it makes sense to have all the font properties in ITextElement as well.

## API Changes
None

## Intended Use Case
This will be useful in defining the global text style. Currently, we have to define text style for

[2019-05-16 14:52] Rickbieze opened #6210 "[Bug] [UWP]"
### Description
when i tried to use Bindings to dynamically change the position of a label, the position only changed one time correctly, when i tried to change the position of the label again it got stuck in the top left corner of the UI element. the exact same code works on WPF and Android just fine.

xaml page:

[code]

value converter:
[code]

viewModel:

[code]

all values are set correctly b

[2019-05-16 17:40] jsuarezruiz commented on #4115
The problem is that the [ListViewRenderer](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs) in the Xamarin.Forms WPF backend not implement **ScrollToRequested**.
The fix require the implementation of the method where find the `ScrollViewer` using the `VisualTreeHelper` and then use the `ScrollToVerticalOffset` (and better with a smooth

[2019-05-16 18:03] hartez commented on #3172
RefreshView has not been implemented yet. You can track the feature progress [here](https://gist.github.com/hartez/7d0edd4182dbc7de65cebc6c67f72e14).

[2019-05-16 19:51] dimitarcnbs commented on #5121
You are correct, the current object did not change - the instance is the same, however all of its properties changed. Now, the Convertor that is taking this object and returns a value compiled of its (all/many) properties needs to be triggered when the object's properties change to return a value. There is really not a good way to write converters that are based on all of the object's properties.

[2019-05-16 21:02] jcmanke commented on #6208
This was meant in regards to the GitHub release notes, release notes at https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/ seem to be what I'm after.

[2019-05-16 21:02] #6208 closed

[2019-05-16 21:44] kingces95 commented on #6201
Reproduces as described on iPhone 6s Plus 10.3.1

[2019-05-16 21:53] kingces95 commented on #6195
Def crashes when I select. Unfortunately, the preview debugger may have an issue because it doesn't stop on the exception. We'll have a look.

[2019-05-16 22:01] kingces95 commented on #5992
Huh. Am I holding it wrong? Looks good in the horizontal on master... Do you see something different?

![DE0D34C3-3230-4A14-B546-0ADCFB8B8EA6](https://user-images.githubusercontent.com/4120386/57890043-3191ff80-77d2-11e9-9393-6779c6d03a10.GIF)

[2019-05-16 22:05] kingces95 commented on #5772
Ah. Yes, that's a reasonable feature request! We'll file this as an enhancement. In the mean time, the work around is to marshal to and from the enum.. Instead of a custom renderer, if you are able to get the existing renderer to work, we'd be happy to review the PR -- that's often the fastest way to get features going.

[2019-05-16 22:09] kingces95 commented on #6001
Can you please attach a `reproduction.zip` that contains `reproduction.sln`?

[2019-05-16 22:15] kingces95 commented on #5969
Hm. On master + horizontal it looks like this for me. Looks ok, no?
![image](https://user-images.githubusercontent.com/4120386/57890703-47082900-77d4-11e9-935e-1b37efcb5142.png)

[2019-05-16 22:35] kingces95 commented on #6100
![image](https://user-images.githubusercontent.com/4120386/57891332-cc8cd880-77d6-11e9-90a5-50c5175f9073.png)

[2019-05-17 06:53] anirbandebroy opened #6214 "Listview itemtapped not working if there is any button or any event control inside in android"
Listview itemtapped not working if there is any button or any event control inside.Any help is highly helpfull.Thanks is advance.

`
<ListView ItemsSource="{Binding ListCheckBox}"
                                  ItemTapped="FlowListView_FlowItemTapped"
                                  SeparatorVisibility="None"
                                  RowHeight="120"

[2019-05-17 06:56] skadookkunnan commented on #5518
We are also facing this issue. Please consider this in the future release for fixes.

[2019-05-17 07:01] anirbandebroy commented on #6214
[SampleBIP.zip](https://github.com/xamarin/Xamarin.Forms/files/3190251/SampleBIP.zip)

Sample Application for the issue also added.

[2019-05-17 07:30] DanielSchmitt94 commented on #6084
Same in my project, I can confirm that disabling the Incremental Builds will work.

[2019-05-17 08:03] mknotzer commented on #6154
Attached a small demo project. Only on UWP the null row is black

``xListView.ItemsSource = new List<string>() { "A", "B", null, "C" };``

[2019-05-17 09:08] VincentH-Net commented on #3172
Add **GroupItemsBinding** ?

How about adding a GroupItemsBinding property to specify which property contains the child items of a group? That would allow to **embed** a child collection property instead of forcing groups to **inherit** from a collection.

E.g. you could write this [grouping example from docs.microsoft.com](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/list

[2019-05-17 09:18] priyaJR opened #6215 "The child views in the Xamarin Forms View converted to Native UIView could not be auto resized"
### Description
The child views could not be auto resized when converted from Xamarin Forms View to Xamarin.iOS(Stackpanel contains an image and button).
Actual issue is while converting the custom view from Xamarin forms to nativeiOS. That is, in our case we are rendering the view alone in Xamarin Forms and we need to convert the view into UIView along with its bound values and subviews in the  c

[2019-05-17 09:47] SebastianKruseWago opened #6216 "Version 4.0.0.425677not on NuGet?"
The latest listed release of 4.0.0.425677 here: https://github.com/xamarin/Xamarin.Forms/releases is not listed on NuGet. Was it pulled due to an issue or is it just missing on the NuGet page?

[2019-05-17 10:49] VincentH-Net commented on #3172
How about supporting multiple grouping levels?
Would allow to display **trees**.

E.g. Flutter has [ExpansionTile](https://docs.flutter.io/flutter/material/ExpansionTile-class.html) ([example](https://flutter.dev/docs/catalog/samples/expansion-tile-sample))

[2019-05-17 12:41] Dresel commented on #6112
Feel free to test.

[2019-05-17 13:17] ddobrev opened #6218 "[Bug] Attached properties don't work as sources of bindings"
### Description
[code]
Note the () syntax.

### Expected Behavior
Grid.Column is bound

### Actual Behavior
Grid.Column is always 0.

### Basic Information

- Version with issue: 3.6.0.344457
- Last known good version: None
- IDE: VS 2017 15.9.12

[2019-05-17 13:39] GalaxiaGuy commented on #6218
There is an enhancement ticket for exactly this:

https://github.com/xamarin/Xamarin.Forms/issues/1647

[2019-05-17 13:43] ddobrev commented on #1647
When is this planned for fixing?

[2019-05-17 15:32] bcaceiro commented on #3172
Regarding the CollectionView, I've come across a problem that I think would be a great feature to add.

In a Horizontal List, with scroll, typically designers, add a "shadow" effect on the elements that are not totally visible in the screen. Currently (as far as I know) there is no way to do this in Xamarin.Forms. Wouldn't you think this would be a niec to have feature? It could be as simple as a

[2019-05-17 15:51] samhouts commented on #5909
@MhAllan  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-17 15:51] #5909 closed

[2019-05-17 16:53] Juansero29 commented on #5593
Isn't there any visibility on when UWP support will be given? Or has the decision already been made?

[2019-05-17 18:22] imdanielpiva commented on #3150
Hello @NirmalSubedi17, how did you manage to use the Custom Frame Render you've mentioned? Sorry for the newbie question, I've just got started with Xamarin.Forms.

[2019-05-17 18:23] imdanielpiva commented on #3150
Based on https://bugzilla.xamarin.com/show_bug.cgi?id=59448 this bug is confirmed.

[2019-05-17 18:34] jcmanke commented on #6216
It appears to have been unlisted if you put the version number on the URL: https://www.nuget.org/packages/Xamarin.Forms/4.0.0.425677

[2019-05-17 18:58] StephaneDelcroix commented on #6216
This is all as it was intended. thanks for paying attention

[2019-05-17 18:58] #6216 closed

[2019-05-17 19:06] StephaneDelcroix commented on #6209
ITextElement and IFontElement are semi-private API (decorated with [EditorBrowsable]). Their purpose is not to be used as an abstraction, but to provide support internally.

Feel free to use them if they fit one of your need, but that's about all we can do for you  ¯\_(ツ)_/¯

[2019-05-17 19:06] #6209 closed

[2019-05-17 21:03] kingces95 commented on #6104
![image](https://user-images.githubusercontent.com/4120386/57956052-5e5a1b80-7893-11e9-882c-5da3d7cfa878.png)

[code]

[2019-05-17 22:28] kingces95 commented on #6118
Yep. Click the button on iOS a bunch and I see the first cell load but the rest wait till I click the button again. Android is ok.

[2019-05-17 22:30] AbuMandour commented on #5969
Open Master page in horizontal view in RTL Mode ?

[2019-05-17 22:35] kingces95 commented on #6152
[App90.zip](https://github.com/xamarin/Xamarin.Forms/files/3193315/App90.zip)

Could you please attach a reproduction? Just executing those lines of code out of context doesn't cause an issue that I can see.

[2019-05-17 22:46] kingces95 commented on #5488
Well, I can confirm that this worked on Android on the version posted, but not on the latest master.

[2019-05-17 22:51] Sergiojoel9877 commented on #6206
Why you don't make your own implementation using the built-in Dependency Service?, its quite easy.

[2019-05-17 23:02] kingces95 commented on #5488
@Ferenesht the long and the short of it is that we don't really have a CV for you to preview at the moment. We got re-tasked to getting Shell working. So please stay tuned after Shell ships for new on CV. Gonna close this bug out for now but feel free to re-open once we get a public CV released to preview.

[2019-05-17 23:02] #5488 closed

[2019-05-17 23:03] rmarinho commented on #5488
We aren't supporting CarouselView yet, we are tracking that work with the [spec](https://github.com/xamarin/Xamarin.Forms/tree/spec-carousel)  and you can try the implementation to give feedback using this pr https://github.com/xamarin/Xamarin.Forms/pull/5044

[2019-05-17 23:04] kingces95 commented on #6205
We don't typically debug custom views but instead ask what features were missing that prompted you to create a custom view and then turn the issue into a feature request and ask you try to add the feature to the existing view and submit a PR. Else we'll add the feature to the backlog. So could you describe the missing functionality that prompted you to create a custom view?

[2019-05-18 05:19] rid00z commented on #5166
Thanks @dansiegel. FreshMvvm requires this also. Is this implementation being discussed?

In FreshMvvm we are able to support the shell/url based navigation in Shell. We just need all the information in events when pushing back and forth.

When navigating forward ideally:
-Current/Previous Page Instance
-New Page Type+Instance (The page that's being pushed)
-If pushed as model
-The data that's bei

[2019-05-18 10:35] xiashao1980 commented on #5302
Jaymin is right. You must make sure that the version of the installed Xamarin.Android should be as same as the version that you have added to the current project.

For example, if you have installed v27.0.2.1 of Xamarin.Android, you can not upgrade your project to v28.0.0.1 only. You should upgrade the component(Xamarin.Android) which is installed with Visual Studio first.

[2019-05-18 10:39] davidzhaotopedge opened #6220 "[Enhancement][Shell] Icon only Shell Bottom Tab Bar."
## Summary
Should provide a xaml attribute, e.g. DisplayTextOnly, in Shell/TabBar top and bottom. To either display button text or not. The height of Tab Bar should be changed accordingly.

## Current behavior
We can set Tab text to empty, but no text in flyout menu, and height of bottom Tab bar not changed, some space below Icon

[2019-05-18 12:14] adrianknight89 commented on #5882
@hanchhanch It hasn't been worked on yet, and I agree that without a refresh view, `CollectionView` is unusable for production. I hope that it can be worked on soon.

@samhouts @hartez Regarding `RefreshPullDirection`, why would anyone want to pull from right to left or bottom to top? I couldn't think of a reason for using these.

[2019-05-18 12:36] thomashoef commented on #5894
Also experiencing this issue in debug mode. The app launches ok - then go to droid settings, change the font size, switch back to the Xam Forms app.
The app then (in launchmode singletop or singleinstance, does not matter) crashes:

05-15 21:04:22.615 I/MonoDroid(24953): UNHANDLED EXCEPTION:
05-15 21:04:22.630 I/MonoDroid(24953): System.NotSupportedException: Unable to activate instance of type Xa

[2019-05-18 15:21] samhouts commented on #5882
Bottom to top, refresh a chat or log that loads bottom in? Right to left, customized localization?

[2019-05-18 18:29] timahrentlov commented on #5166
I would be nice to have the actual navigation handling decoupled from shell. It could be an interface that comes with a default implementation. Prism, FreshMvvm could implement their own and assign it to the Shell instance. An INavigator of sorts. And I would be ecstatic if I could implement flutters return values with it. (https://flutter.dev/docs/get-started/flutter-for/xamarin-forms-devs#how-do

[2019-05-18 20:39] Greg-Freeman opened #6221 "[Bug] Memory leak in Xamarin forms if Android Activity is killed but process is not"
### Description
There is an issue that I believe is related to [this](https://forums.xamarin.com/discussion/90940/improve-how-forms-handles-activity-restarts-on-android) which causes leaking memory. But I have found another scenario where this seems to be pretty bad. It is related to objects not being destroyed when a main activity is stopped but the owning process is not.

### Steps to Reproduce

[2019-05-18 20:40] Greg-Freeman commented on #6221
This link was supposed to be there in my first sentence: https://forums.xamarin.com/discussion/90940/improve-how-forms-handles-activity-restarts-on-android

[2019-05-18 21:52] wicket5602 commented on #5497
Any news on this? :)

[2019-05-18 22:37] philousb commented on #5205
It worked for me.
thx.

[2019-05-18 23:17] BioTurboNick commented on #4118
Just noting that I've seen these warnings in Google Play for:

android.support.v4.app.FragmentManagerImpl.getAnimationListener(FragmentManager.java:1301)
android.support.v7.widget.ViewUtils.makeOptionalFitsSystemWindows(ViewUtils.java:80)
android.support.v7.widget.ViewUtils.makeOptionalFitsSystemWindows(ViewUtils.java:84)

[2019-05-19 02:16] PureWeen commented on #5538
@viniciusjarina  has fixed this for an upcoming release of the previewer

[2019-05-19 02:16] #5538 closed

[2019-05-19 06:30] PureWeen commented on #6008
No inconvenience! Thank you for reporting and following up with us.

[2019-05-19 06:30] #6008 closed

[2019-05-19 09:56] smartprogrammer93 commented on #1719
Any Idea if this will be implemented?

[2019-05-19 15:27] filyjunior commented on #1520
Any solution?

[2019-05-19 15:28] filyjunior opened #6222 "Xamarin Forms Map resets back to last set region"
I have one issue with the forms map.

When control is panned and the device rotated, the map's region is set to the LastMoveToRegion which is not the current region of the map.

I observed this both on iOS and Android. The expectation is that the map center / zoom level is retained.

Any solution?

[2019-05-19 15:43] Greg-Freeman commented on #6221
I realized there was a possibility that the attached code in the bug report doesn't directly equate to a memory leak. It's possible that created objects were garbage collected, but the static variable still existed and retained its value. So, to better demonstrate the problem, I have attached some code that starts a task which prints a guid to the console. Notice after reopening the app, there are

[2019-05-19 16:59] dwhiteddsoft commented on #5667
@PureWeen  this issue is marked as closed? Is it? I know in pre10 it is still not working correctly.

[2019-05-19 20:14] PureWeen commented on #5497
@wicket5602 it's been popped off the backlog and put on the queue

[2019-05-19 20:16] wicket5602 commented on #5497
@PureWeen Awesome :)

[2019-05-19 20:18] PureWeen commented on #6094
@HobDev apologies if you've articulated this already and I've just missed it but I'm still not connecting with where Shell is falling short for you. Can you just layout what flyout items you want and what the result should be. Something like

Flyoutitem1 (About)
- clicking on this will result in the following tabs (top tabs: people. places) (bottom tabs: countries, cities)
FlyoutItem 2 (Cats)
- cl

[2019-05-19 20:24] PureWeen commented on #5216
@Hasanajouz this particular fix will be part of the official pre10

we still want to tweak it a little bit more but the change with #5755 should make it better
once that is out please test and let us know how it goes

[2019-05-19 20:27] PureWeen commented on #5667
@dwhiteddsoft when the final release of 4.0 comes out (soon) please test again and let us know

[2019-05-19 20:34] PureWeen commented on #6203
@DineshBabuYadav have you verified with that customer that they are on the latest version of SfLIstView?

Here is the highlighted version that is compatible
https://github.com/xamarin/Xamarin.Forms/issues/5288#issuecomment-481219047

If the latest version of Syncfusion + XF 3.6.0.344457 causes a crash on android then can you provide a sample demonstrating the crash please?

[2019-05-19 23:26] programmation commented on #6209
@StephaneDelcroix IME they are actually very hard to use because they depend on some other things that are set as `internal`. The last time I tried to create an enhanced text-based widget I had to face either re-implementing things that were already done in XF but inaccessible in the base widgets, or ignoring those features altogether. I'm not trying to be contentious or rude, but has anyone from

[2019-05-20 00:23] jrahma opened #6223 "RowDefinition & ColumnDefinition Padding"
Hi,

It will be great if you add Padding to:

1. RowDefinition
2. ColumnDefinition

Thanks,
[Jassim](https://www.jassimrahma.net)

[2019-05-20 00:25] jrahma opened #6224 "RowDefinition & ColumnDefinition BackgroundColor"
Hi,

It will be great if you add BackgroundColor to:

RowDefinition
ColumnDefinition

Thanks,
[Jassim](https://www.jassimrahma.net)

[2019-05-20 00:30] jrahma commented on #6042
Yeah this will be great but I will add an option to add Video and Animated GIF to the LaunchScreenPage

[2019-05-20 00:33] jrahma opened #6225 "AppearingAnimation & DisappearingAnimation"
Hi,

Please add the following to the ContentView and ContentPage:

AppearingAnimation: Show the ContentPage and the ContentView with animation, eg. FadeIn, SlideLeft, SlideTop, etc..

DisappearingAnimation: close the ContentPage and the ContentView with animation, eg. FadeIn, SlideLeft, SlideTop, etc..

Thanks,
[Jassim](https://www.softnames.com)

[2019-05-20 01:24] contrix09 commented on #2096
Issue still present. Samsung Tab S3 - Android 9.0.

[2019-05-20 01:26] PureWeen commented on #2096
@xXdRaGoNrIdDeRXx what device are you testing on? I've used the material button with a Samsung s8 and s9 and they both ripple

[2019-05-20 02:41] rizamarhaban commented on #5381
### Shell Issue
Looks like this is also a `Shell` issue. Just tested inside an AppShell item content page using `Xamarin.Forms` with preview version `4.0.0.394984-pre10` and the chocking still there. Cannot pinch or pan properly and sometimes the gestures not working.

However, if the `Xamarin.Forms` app not using `Shell` at all, and I just add one content page, then the gesture works normally.

[2019-05-20 02:45] rizamarhaban commented on #6060
### Shell Issue
Just tested inside an AppShell item content page using `Xamarin.Forms` with preview version `4.0.0.394984-pre10` and the chocking still there. Cannot pinch or pan properly and sometimes the gestures not working.

Device: Samsung Galaxy A70 (Android Pie 9.0)

However, if the `Xamarin.Forms` app not using `Shell` at all, and I just add one content page, then the gesture works normall

[2019-05-20 03:05] scriptBoris commented on #2592
The problem is still relevant

[2019-05-20 04:35] DineshBabuYadav commented on #6203
@PureWeen , we are validating with customer to share the sample to replicate the issue. Since, with our sample, we are unable to replicate the issue in the reported version. So, please wait until the customer revert us.

SfListView version : 17.1.0.47
Xamarin Forms version : 3.6.0.344457
Android version : 9.0
Device Model : Mi A1

[2019-05-20 05:33] bhanupradeept commented on #5153
I'm also facing the same issue

[2019-05-20 06:07] HobDev commented on #6094
@PureWeen My reprosample was not enough to express what I want. So, I modified it. Now while running it on device or emulator I want the following result:
FlyoutItem1 (Browse) Selected:
- bottomtab should be visilbe.

FlyoutItem 2 (About) Clicked
- Still bottomTabBar should be visible

[2019-05-20 06:10] PureWeen commented on #6094
@HobDev
- what's the contents of the bottomTabBar when you click on Browse?
- what's the contents of the bottomTabBar when you click on About?

[2019-05-20 06:19] HobDev commented on #6094
[NavigationRepro.zip](https://github.com/xamarin/Xamarin.Forms/files/3196509/NavigationRepro.zip)

Please try this. On this project clicking on any flyout item results in hidden bottomtabbar

[2019-05-20 06:20] pontusntengnas commented on #6072
Have not yet been able to test this, will hopefully do it this week.

[2019-05-20 06:58] #6168 closed

[2019-05-20 07:02] StephaneDelcroix commented on #6224
Thanks for your suggestion. Unfortunately this proposal doesn't fit with the conceptual model of layout, and implementing it on great would create a shear that, in the end, might destroy space and time as we know them.

[2019-05-20 07:02] #6224 closed

[2019-05-20 08:05] Scarnet opened #6226 "Flow Direction Doesn't Change When Used With Password Entries"
### Description
Setting flow direction to RightToLeft on Entry controls doesn't seem to change the direction
### Steps to Reproduce

1. Add an Entry to Xaml page
2. Set IsPassword property to true
3. Set FlowDirection Property to RightToLeft

### Expected Behavior
The place holder of the Entry to start from right to left
### Actual Behavior
The place holder of the Entry is starting from the left t

[2019-05-20 08:37] IliyanPopov commented on #6075
@samhouts
Hi Ms Houts,
I ran in exact same situation. However it's tricky to reproduce in separate repo. In my situation the bug occurs when using:
**SelectedItem="{Binding Item, Mode=TwoWay}"**
Without TwoWay binding mode - **works**
Also the listview itself is in ContentView, which is part of Content Page (don't know if this matters)

Just tested with Version="4.0.0.394984-pre10 and the bug exis

[2019-05-20 08:38] ranacodendev opened #6227 "[Bug] Xamarin.Forms Shell Opener Issue for "RTL Language" when Tap at Hamburger"
### Description
using xamarin.forms 4.0.0 -pre9 as Shell App, over all application is working fine, but right now i have one serious issue i.e.
My App is in Arabic Language , so when i Tap at Hamburger to open Shell/Menu it works differently for iPhone/iPad i.e. at iPad it open Shell/Menu Right to Left fine.
but at iPhone it open Shell/Menu Left to Right not acceptable by my Customer.

so please h

[2019-05-20 08:49] GalaxiaGuy commented on #6223
Would you expect this to be one dimensional or two dimensional? i.e., would vertical padding be valid on a column?

[2019-05-20 08:52] radioactiveman commented on #6201
This is likely a duplicate of #5888.

[2019-05-20 09:03] HobDev commented on #6206
@Sergiojoel9877 Can you point to any resource for a guidance to implement this functionality.

[2019-05-20 09:29] ranacodendev commented on #6227
dear @pauldipietro ,
     Is there any way that i can open this Shell/Menu in Standard way, i.e. Right to Left, may be using some Render, please help me in this regards ASAP.
Please share any source code sample if possible,
Thanks,

[2019-05-20 11:28] MarcelWinkelEBF commented on #5882
@hanchhanch @adrianknight89 for me it was a little bit of a surprise that the RefreshView is not implemented yet. We switched to the CollectionView because we are using some stuff that was looking to be easier with the CollectionView. After switching we found some issues with the CV and although the missing RefreshView. For now we are using the Pull To Refresh vom Syncfusion since still have a lic

[2019-05-20 13:05] adrianknight89 commented on #5882
@MarcelWinkelEBF Have you documented those issues on here? It'd be great to know what they are so they can be fixed.

[2019-05-20 13:07] hanchhanch commented on #5882
Thanks @MarcelWinkelEBF , we also use PullToRefresh separately (https://www.nuget.org/packages/Refractored.XamForms.PullToRefresh/)

[2019-05-20 13:15] xXdRaGoNrIdDeRXx commented on #2096
Samsung J3, Samsung S5, Samsung S6

[2019-05-20 13:39] MarcelWinkelEBF commented on #5882
@adrianknight89 we had some issues but mostly they are already reported.

1. Changing the ItemsLayout dynamically is not working. So we have to re-create the CV in C# everytime the layout changes. I know I have seen a Github issue somewhere but by now I'm not able to find it anymore.

2. https://github.com/xamarin/Xamarin.Forms/issues/6158
This was also an issue but for now I think the SelectedIte

[2019-05-20 15:25] jonathanpeppers commented on #5396
We discussed this in person.

The issue is how this code works: https://github.com/xamarin/xamarin-android/blob/d006fa832a8149aa9d5791bf9cc78425ca93799d/src/Mono.Android/Android.Runtime/ResourceIdManager.cs

If there is no build, then the Android head project won't have an assembly containing the code from `Resource.designer.cs`. Then Xamarin.Forms will use invalid Resource Ids--which will cause a

[2019-05-20 16:03] garuma commented on #5396
Correct.

We will attempt to initially do a proof of concept for the Forms Previewer case only[1] by implementing this method via the assembly we already have that contains the Forms/Android renderer and using the R.txt values we know about. Ultimately we would want to at least move said prototype into a Xamarin.Android location (likely `ResourceIdManager`) so that we don't have to maintain an ext

[2019-05-20 16:48] RongonC opened #6228 "[Bug] Syncfusion.Xamarin.SfPdfViewer 17.1.0.47 nuget package gives error in iOS"
### Description

Error description -Could not compile the file(s) '/Users/username/Library/Caches/Xamarin/mtbs/builds/Project.iOS/dbe92220a462dc43fa3b5c385de162c4/obj/iPhone/Debug/mtouch-cache/armv7/Syncfusion.Pdf.Portable.dll.s'. Please file a bug report at http://bugzilla.xamarin.com

Project - Project.iOS

Note that the same feature is working perfectly in Android and I have already included th

[2019-05-20 16:58] samhouts commented on #5514
@ashishm29  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-20 16:58] #5514 closed

[2019-05-20 16:58] samhouts commented on #5884
@asgarddesigns  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-20 16:58] #5884 closed

[2019-05-20 17:02] samhouts commented on #6138
Thanks! We'll keep looking for it.

[2019-05-20 17:02] samhouts commented on #6154
@mknotzer I don't see an attachment. Did it fail to upload? Thanks!

[2019-05-20 17:03] samhouts commented on #6203
Thanks, @DineshBabuYadav, we will wait for your reply.

[2019-05-20 17:04] samhouts commented on #6084
@DanielSchmitt94 Do you have a sample project you can share? Thanks!
@ianvink I have not received an email from you yet.

[2019-05-20 17:08] samhouts commented on #5887
@DaanTacoSchool @FreedomDesi @DieselSoup If you are able to at least post one of the XAML and EventHandler snippets that is causing this issue, that would help us diagnose the issue. Thanks!

[2019-05-20 17:21] ianvink commented on #6084
I believe that simply created a new project with those settings mentioned above in my original post will cause the issue. (I'm away from my Dev PC for a few weeks)

[2019-05-20 18:00] #5486 closed

[2019-05-20 18:26] aocipriano opened #6229 "[Bug] Preferences loosing data when debuging on Android"
### Description
Data saved on preferences using Xamarin Essentials is not preserved after start debug session even when the option "Preserve application data cache on device between deploys" is marked.

### Steps to Reproduce

1. I´m using this code to save data in Preferences:
  Preferences.Set("configuration", JsonConvert.SerializeObject(configuration));
2. Start debug session on a real device.

[2019-05-20 19:07] maxbromo commented on #5239
I think this should be reopened as the stuff posted above is only a workaround, the actual bug still exists in XF 3.6.0.344457 for top padding = 20.

[2019-05-20 19:45] adrianknight89 commented on #6223
If I remember correctly, WPF does not have this feature. Why not add margin and padding to the row/column element? Adding these properties directly to RowDefinition and ColumnDefinition will only make the code unnecessarily more complex to maintain.

[2019-05-20 20:21] ddobrev commented on #1944
Would you mind reporting any progress here, please?

[2019-05-20 20:22] ddobrev commented on #4045
So, what's been going on over here? Feeling the impact? Exactly how must you feel it in order to finally fix this bug?

[2019-05-20 21:05] Dresel commented on #6184
[Repo6184.zip](https://github.com/xamarin/Xamarin.Forms/files/3199819/Repo6184.zip)

As mentioned, crashes [here](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs#L259).

[2019-05-20 22:16] PureWeen commented on #2096
@xXdRaGoNrIdDeRXx can you create a new issue related to material button and with your project attached? I've tested material buttons with a few samsung phones and for me they all ripple.

The thing about the materialbutton is that it's almost 100 percent handled by the native material button written by android whereas the non material button is written by us

so if Material Button isn't rippling f

[2019-05-20 22:19] samhouts commented on #5489
@lanarchyste Can you please try with 4.0.0-pre10? Thanks!

[2019-05-20 22:49] xXdRaGoNrIdDeRXx commented on #2096
I cannot upload my project that it is doing it due to NDA issues with my company, but when i get back to work i will test a small project to see if it is an issue.

[2019-05-20 22:50] xXdRaGoNrIdDeRXx commented on #2096
also ripple works fine on any phone other than samsung phones we test with

[2019-05-20 22:50] xXdRaGoNrIdDeRXx commented on #2096
ranging from android 6.x to 9.0

[2019-05-20 23:32] masonyc opened #6231 "[iOS] Can not load images from ios class library"
### Description
My Xamarin.Forms iOS project references an iOS lib that contains images and other stuffs, When I set Image Control's Source property to some image file from my iOS lib, the image is not displayed.

Similar question on stack overflow https://stackoverflow.com/questions/32566167/xamarin-how-to-load-image-from-ios-library-project

### Steps to Reproduce

1. Create a iOS lib and refere

[2019-05-21 00:22] kingces95 commented on #6214
Hm. Hitting this exception while trying to run on master. Not sure this is ur fault but posting just so you know we touched it. Will circle back after triage of other bugs.

![image](https://user-images.githubusercontent.com/4120386/58059930-bc446880-7b0a-11e9-80d5-9b390fbc519a.png)

[2019-05-21 00:33] kingces95 commented on #6193
@viniciuslln would you mind attaching a zipped reproduction complete with the images/resources etc so we can reproduce the images you posted? Or just replace the images with BoxViews.

[2019-05-21 02:46] jgold6 opened #6233 "[Bug] [UWP] ListView renders very slowly on UWP when in a Grid or StackLayout"
### Description

If a simple ListView is inside of a Grid or StackLayout, it renders very slowly and you can see black area slowly uncover the ListView.

### Steps to Reproduce

1. Open attached sample
2. Run on UWP in Debug (Issue is most pronounced in Debug, but is visible in release as well)

### Expected Behavior
ListView should appear with no visible loading

### Actual Behavior
ListView appe

[2019-05-21 02:56] woody3k commented on #3261
Dug into this very briefly to understand the current behaviour. It looks like when a page is pushed modally, it triggers the window navigation bar to synchronize (FormsWindow.SynchronizeAppBar). However this attempts to synchronize to the first visual child page (which will probably be the topmost page of the main window's root page), and doesn't consider pages that might have been add later (moda

[2019-05-21 03:02] aimore commented on #2590
Any news?

[2019-05-21 04:26] jamesmcmenamin commented on #2415
So from trial and error... Even though it has comments about gestures in shell 3.2 and its in TheLittlePlayground I cannot for the life of me make Gestures work on ANDROID with the visual package.

Am I missing something in the notes that Shell + gestures only work with iphone?

[2019-05-21 05:55] Akinnagbe commented on #5536
Please when will this feature be available, to be able to place the searchHandler anywhere on the Xaml page.
Thumbs to you guys

[2019-05-21 07:06] DanielSchmitt94 commented on #6084
@samhouts, [here](https://github.com/DanielSchmitt94/EntryExample) you can find a repo.

I found out that the exception only occurs if you install Xamarin.Forms.Material only on the platform independet project not on the android project.
Should the material design work if you didn't install the NuGet package in the android project?

If you install it right, like the [docu ](https://docs.microsoft.

[2019-05-21 07:21] pontusntengnas commented on #6072
@igorrfc @kingces95 I just followed @alanag13 advice and updated NUnit to 3.12.0 and Xamarin.UITest to 3.0.0 and it works perfectly!

Thanks for the help @alanag13!

So for me this is no longer an issue, should I close the issue myself or how do you want to handle it?

[2019-05-21 07:22] mknotzer commented on #6154
[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/3201223/App1.zip)
My apologies

[2019-05-21 07:27] DineshBabuYadav commented on #6203
@samhouts , thanks

[2019-05-21 10:47] alataffective opened #6234 "ListView in StackLayout collapses when adding RowHeight in WPF and Mac"
### Description
When adding RowHeight to a ListView contained in a StackPanel, the ListView collapses vertically.

### Steps to Reproduce

1. Create the following XAML
[code]

2. Run the application. The ListView expands vertically to fill the available space.
3. Add a RowHeight value to the ListView, e.g.
[code]

### Expected Behavior
The ListView rows have a height corresponding to the RowHeight

[2019-05-21 11:08] rhouweling opened #6235 "[Bug] Keyboard remains visible after tapping on picker control"
### Description
When the keyboard is visible because an Entry is focused, tapping on a Picker results in the keyboard remaining open. This confuses users because after selecting an item in the pickers, the picker selection popup is closed with the keyboard still open. When starting to type, the picker options open again.

### Steps to Reproduce

1. Tap on an Entry, the keyboard appears
2. Tap on a

[2019-05-21 11:21] jingliancui opened #6236 "Shell's Hamburger button not show in ios platform"
After set `FlyoutBehavior="Flyout"`

Android platform has the hamburger button at left top.
iOS platform didn't has the hamburger button

![android](https://user-images.githubusercontent.com/16309962/58091971-8b912b80-7bfd-11e9-85de-13bf2d817098.jpg)
![ios](https://user-images.githubusercontent.com/16309962/58091973-8b912b80-7bfd-11e9-80ff-08ac62fb7e88.jpg)

[2019-05-21 11:46] jingliancui commented on #6236
And my ios test simulator is iPhone 5s 12.2

[2019-05-21 11:52] alataffective opened #6237 "ListView items don't show when NSTableView.SelectionDidChange handler added"
### Description
When adding a SelectionDidChange event handler to the NSTableView returned by ListViewRenderer.NativeTableView, the list items no longer display.

### Steps to Reproduce

1. Create a Xamarin.Forms application with a MacOS head.
2. Add a ListView and populate with items.
3. Run the application and see the items displayed.
4. Create a ListView effect.
5. In the MacOS implementation o

[2019-05-21 11:58] jingliancui opened #6238 "ShellItem not show correct within Shell in ios"
my test simulator is iPhone 5s 12.2,
The top of the shellitem is Occlusioned ,but It's fine in android platform
as the image shown below :
![ios](https://user-images.githubusercontent.com/16309962/58094027-4e7b6800-7c02-11e9-8606-ca67df6722d9.jpg)
![ios2](https://user-images.githubusercontent.com/16309962/58094029-4e7b6800-7c02-11e9-9999-1a4ce470daf2.jpg)

[2019-05-21 13:37] maxbromo commented on #2233
Very annoying bug, but I've been able to work around it by following the general idea of [https://stackoverflow.com/questions/51301671/xamarin-forms-scrollview-issue-with-editor-when-using-the-software-keyboard](https://stackoverflow.com/questions/51301671/xamarin-forms-scrollview-issue-with-editor-when-using-the-software-keyboard).

[2019-05-21 13:40] matteopiccioni commented on #3310
Hello, any news on this bugfix or there is some workaround?
Thanks

[2019-05-21 13:54] Sangeetha-Raju opened #6240 "Real time updates are not working in Bindable Layout"
**Real time updates are not working in Bindable Layout**

### Description
Real time updates like Move and Insert are not working in Bindable Layout

### Steps to Reproduce
**Issue 1**
1. Run the attached sample
2. Click the Insert button, the item added in the last instead of the provided index.
**Issue 2**
1. Run the attached sample
2. Click the Move button, the item doesn't move to the correspon

[2019-05-21 15:11] robintschroeder commented on #6098
@HobDev @markti @samhouts
This is an interesting problem. If you have a tabbed shell app, it looks like the FIRST tabbed content page in the group is firing the OnAppearing() override in the code behind. The rest of the pages in the tab group do not fire the OnAppearing() override, unless the user navigates away from the tab group and then back to the tab group. In this case, the 'top' tab (the la

[2019-05-21 16:19] daniel-luberda commented on #3859
## `IImageViewHandler` / `IImageSourceHandler`

You can now easily use FFImageLoading with standard views like `Xamarin.Forms.Image`. Just call this after `Xamarin.Forms.Init` call:

- `CachedImageRenderer.InitImageViewHandler()` on Android
- `CachedImageRenderer.InitImageSourceHandler()` on iOS / Mac and others

... and that's all. Also SVG files do work when providing `SvgImageSource` as a `Sour

[2019-05-21 16:26] daniel-luberda commented on #3577
@ederbond @psp589  While you're waiting for Glide support, maybe this would helpful:

[2019-05-21 17:24] hartez commented on #2592
@scriptBoris If you can upload a small project which reproduces the issue, we can reopen it and add it to the backlog.

[2019-05-21 17:33] vsfeedback opened #6242 "In Xamarin.Forms TabbedPage icon and text overlap when ToolBarPlacement is set to Bottom"
Created a TabbedPage by selecting it from the Add-&gt;New Item menu in my Xamarin.Forms app. Changed the color and added some pages. It displays right when ToolBarPlacement is set to Default or Top but setting it to Bottom the text and the icon overlap. Tried to use some blank ContentPage as children to check if the problem was in my pages but it's not. Even setting the ToolBarPlacement in xaml di

[2019-05-21 18:33] King-of-Spades commented on #2496
The Xamarin.UITest team has determined the underlying cause of this issue as well as a workaround.

The cause of the issue is that when the image is rotated, Xamarin.UITest incorrectly determines it as being offscreen, so it can be found by appending .All() to an otherwise valid query for the element:

Because .All() returns "all" matching elements, not just those currently visible in the UI, it's

[2019-05-21 19:45] DeerSteak commented on #4156
@samhouts this is still present in Xamarin.Forms 4.0.0 final release. I had to downgrade to 3.6.0 again.

[2019-05-21 20:01] DeerSteak opened #6244 "[Bug] Forms 4.0 - change Application.Current.MainPage = freeze on iOS"
### Description
When changing Application.Current.MainPage on iOS using a button event on another page, the screen goes white and never displays the new page. The app does not crash, it just freezes. This previously happened in #4156 on Forms 3.3 and 3.4, but was fixed in 3.5 and 3.6.

### Steps to Reproduce

1. Create a new Project with Forms 4.0 + iOS
2. Add a new SecondPage.XAML
3. In App.xaml.

[2019-05-21 20:09] chamons opened #6245 "Even when LineBreakMode is set to word-wrap, text is still character broken"
_From @VBPrakash on Fri, 17 May 2019 06:33:40 GMT_

### Steps to Reproduce

1. Fix the width of Xamarin Label  and line break as "WordWrap"
2. And add a text to label which has word bigger than the label width
3. Observe that the word bigger width of label is broken by size of the width label similar to character wrap.

### Expected Behavior
Should word get truncated rather character wrapping  ?
#

[2019-05-21 20:34] wadebaird opened #6246 "[Bug] Label Truncation inconsistent between StackLayout and Grid"
### Description
I have two labels in a horizontal StackLayout. The second is set to TailTruncation as it is sometimes a long string. This was causing the first to wrap onto two lines. So I then set the LineBreakMode="NoWrap" for that one and the second control is still overlapping the first control as if it was wrapping the text. How do I stop this from happening? I want the first control to show

[2019-05-21 20:44] InquisitorJax opened #6247 "[Bug] NullReference Exception: Grid.MeasureGrid (Android)"
### Description

the intention of this this code here
https://github.com/xamarin/Xamarin.Forms/blob/bd31e1e9fc8b2f9ad94cc99e0c7ab058174821f3/Xamarin.Forms.Core/GridCalc.cs#L19

Needs to be propagated through the rest of the grid control

The issue here
https://github.com/xamarin/Xamarin.Forms/pull/6274
raised the probability of that type of situation arising.

The same treatment was already given

[2019-05-21 20:45] samhouts commented on #4156
@DeerSteak Thanks for the new issue! This one is specifically for MacOS, so I don't believe it is related. We'll take a look at your issue on 6244.

[2019-05-21 20:52] muhammetsahin opened #6248 "Android NavigationBar is gone"
### Description
Hi there,
 i updated Xamarin.Forms 4 then navigationbar is gone android. ios works

### Expected Behavior
Show navigation bar

### Actual Behavior
Gone navigation bar
### Basic Information

- Version with issue: 4.0.0.425677
- Last known good version:
- IDE: Visual studio 2019 16.0.4
- Platform Target Frameworks:

  - Android:  9

### Screenshots

it worked xamarin.forms 3.6.x
![im

[2019-05-21 20:52] samhouts commented on #6244
[Issue6244.zip](https://github.com/xamarin/Xamarin.Forms/files/3204464/Issue6244.zip)

@DeerSteak I was unable to reproduce this issue. I am able to swap pages rapidly, no freezing. Can you please take a look at the attached project and see if you experience the problem? If not, can you adjust it such that it demonstrates the behavior? Thanks!

[2019-05-21 21:09] DeerSteak commented on #6244
Yes, I will do that tonight. Thanks!

[2019-05-21 22:42] samhouts commented on #6247
@InquisitorJax Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-21 22:43] samhouts commented on #6248
@muhammetsahin Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-21 22:45] samhouts commented on #6236
@jingliancui Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-21 22:45] samhouts commented on #6238
@jingliancui Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-21 22:49] InquisitorJax commented on #6247
Hi @samhouts ... bit snowed under with work, can't make any promises. Perhaps try adding a Grid to NavigationPage.TitleView with some content. That's the only "out of the ordinary" thing I see there.

[2019-05-21 23:04] wadebaird opened #6249 "[Enhancement] Improve exception message on bindable layout when you use the wrong type as a template"
### Description
I added the code below to the standard Master / Details Project created by VS to test out an issue I was seeing with BindableLayout and I encountered an InvalidCastException the BindableLayoutController.CreateViewItem

### Steps to Reproduce

1. Create a Master / Details Xamarin.Forms project within VS
2. Replace the ItemsPage Content with this:
`<StackLayout x:Name="ItemsStackView

[2019-05-21 23:05] InquisitorJax commented on #6247
I've found the offending grid - nested within a ContentView Grid... but's it's 1 a.m here - so I'm calling it a night. If whomever picks up this ticket needs to look at the code over skype - feel free to contact 'inquisitorjax'

[2019-05-21 23:18] wadebaird commented on #6249
Found out the root of the issue is having the ViewCell in the <DataTemplate> I would expect this to either work or raise a compile time error.

Thanks.

[2019-05-21 23:44] wadebaird commented on #2555
I am encountering this issue as well.  Here is my simple repro:

1. Create a new Xamarin.Forms Master / Detail project
2. Replace the Content in the ItemsPage with this code:
` <StackLayout>
        <ListView x:Name="ItemsListView"
                ItemsSource="{Binding Items}"
                VerticalOptions="FillAndExpand"
                HasUnevenRows="true"
                RefreshCommand="{Bind

[2019-05-21 23:44] DeerSteak commented on #6244
@samhouts apparently I have misidentified the cause. I still have an issue with 4.0.0 that doesn't exist in 3.6.0 but it's not setting the main page. I'll continue to work on isolating it. Canceling this for now.

[2019-05-21 23:44] #6244 closed

[2019-05-22 01:20] kingces95 commented on #6134
Hm. I change it to Red and it's red. Could you please include a zipped reproduction?

[2019-05-22 01:27] kingces95 commented on #6174
Yep. Jump back and forth and it crashes. Doesn't break :( Prob OOM/Dispose type bug.

[2019-05-22 01:27] PureWeen commented on #6134
@Hasanajouz

- can you try 4.0 official release?
- the property in 4.0 is now called <Setter Property="Shell.BackgroundColor" Value="Blue" />
- if you're using the template you might need to change line applying the style to the type you are using to ApplyToDerivedTypes=true

[2019-05-22 01:30] kingces95 commented on #6127
Would you mind attaching a zipped reproduction?

[2019-05-22 01:42] kingces95 commented on #5500
WOOT! Confirmed.

[2019-05-22 01:44] kingces95 commented on #6156
Oh, so you solved this issue?

[2019-05-22 02:34] Hasanajouz commented on #6134
@PureWeen It is working great on official 4.0
even without using ApplyToDerivedTypes=true

[2019-05-22 03:14] thudugala opened #6250 "Android: Cannot run Xamarin.Forms Android Linking 'SDK Assemblies Only' in Debug mode."
### Description

Cannot run Xamarin.Forms Android app when Linking is set to 'SDK Assemblies Only' in Debug mode.

### Steps to Reproduce

1.  Run the attached Solution.

### Expected Behavior

Run the app without any issue.

### Actual Behavior

Error is thrown.

Unhandled Exception:
Android.Views.InflateException: Binary XML file line # 23: Binary XML file line # 23: Error inflating class androi

[2019-05-22 03:35] jashif opened #6251 "Not able to include shell control"
Hi

I tried the latest forms package in a new forms project . when tried to include shell control and added shellcontent as child . It still says it accept shellitem as its child. while building getting compile error also.

Tried to run the tailwind traders app.

Error from visual studio

Error	XLS0503	A value of type 'ShellContent' cannot be added to a collection or dictionary of type 'IList'.	Ta

[2019-05-22 05:46] Dresel commented on #6112
Little dot mode might be looking something like this (Android):

<img src="https://user-images.githubusercontent.com/1769090/58149974-794ad800-7c65-11e9-833c-1059536e2cc4.png" width="400" />

[2019-05-22 05:49] jingliancui commented on #6238
@samhouts Hi,glad to tell you that this bug is shown within Xamarin.forms 3.6.
After update to the latest vs version today ,the Xamarin.forms project template was update to the release version 4.0 ,and the issue was fixed.

[2019-05-22 05:49] jingliancui commented on #6236
@samhouts Hi,glad to tell you that this bug is shown within Xamarin.forms 3.6.
After update to the latest vs version today ,the Xamarin.forms project template was update to the release version 4.0 ,and the issue was fixed.

[2019-05-22 05:49] #6236 closed

[2019-05-22 06:08] mknotzer commented on #6156
The issue still exists, setting XamlCompilation is only a temporary solution. Please run my demo project.

[2019-05-22 06:22] jingliancui opened #6252 "[Bug] Flyout of Shell not work with Tabbar"
step:
vs 2019  create a shell project ,it will be use the Xamarin.forms 4.0 package.
then
Set FlyoutBehavior="Flyout"  at shell
run the application.
hamburger button not show ,if use mouse simulate gesture , flyout still does not show.

and modify above code
[code]

To this:
[code]

Flyout work fine.

Didn't know if is a bug between tabbar and flyout

[2019-05-22 06:24] Darlingtone commented on #6127
Here is a GitHub repo [XamToolbarDemo](https://github.com/Darlingtone/XamToolbarDemo)

This is a just the default VS 2019 Xamarin.Forms App template I only more Toolbar items abd set their Order property to Secondary

[2019-05-22 07:25] ranacodendev commented on #6227
hello anybody there to help me PLEASE.

[2019-05-22 07:42] muhammetsahin commented on #6248
Ok it is not bug i tihnk my fault i did wrong my tabbed page xaml.

Here is my main page xaml.

![image](https://user-images.githubusercontent.com/2045788/58156097-0437cc80-7c7e-11e9-9fc6-27c7d56ad6fb.png)

And then i changed this.
![image](https://user-images.githubusercontent.com/2045788/58156135-19acf680-7c7e-11e9-8eaa-1241effecf3b.png)

Build and run here is result:
![image](https://user-image

[2019-05-22 07:52] #6248 closed

[2019-05-22 07:58] andreinitescu commented on #4761
Currently there are already many elements which have a property of `ImageSource` type:

Image.Source
Button.ImageSource
ImageButton.Source
MenuItem.IconImageSource
NavigationPage.TitleIcon
Page.BackgroundImageSource
Page.IconImageSource
Slider.ThumbImageSource
BaseShellItem.Icon
BaseShellItem.FlyoutIcon
SearchHandler.ClearIcon
SearchHandler.ClearPlaceholderIcon
SearchHandler.QueryIcon

Instead of

[2019-05-22 08:52] jingliancui commented on #6238
Than found that the newest version project shell template code (Xamarin.forms4) have the issue in the ios platform as below images, android is fine but ios not good :

![android1](https://user-images.githubusercontent.com/16309962/58160401-f8b1c900-7cb0-11e9-8d0a-d471113a6412.jpg)
![android2](https://user-images.githubusercontent.com/16309962/58160424-08c9a880-7cb1-11e9-8621-8fca4de7eb04.jpg)
![io

[2019-05-22 09:06] runceel opened #6253 "[Bug] When putting multiple ShellContent in Tab in FlyoutItem in Shell isn't shown correctly on iOS"
### Description

When I put multiple ShellContent tags in Tab in FlyoutItem in Shell control, It is not shown correctly on iOS.

### Steps to Reproduce

1. Create a Xamarin.Forms Shell project on VS2019
2. Edit AppShell.xaml like below:

[code]

### Expected Behavior

The label that is `Flyout 1- Tab 1 - Page 1 - 1` is shown on display.

### Actual Behavior

The label is hidden by the header area.

[2019-05-22 09:36] Muthukumaran-G opened #6254 "[UWP] Active child elements gets focused after disabling its root parent element"
### Description
Greetings,

We have noticed that when set the value of IsEnabled as 'False' for root parent element, its child elements still gets focused on tab navigation or by calling Focus() method. Our layout is as below.
` <Grid  IsEnabled="False">
                <ScrollView>
                    <StackLayout>
                        <Picker/>
                        <DatePicker/>

[2019-05-22 10:08] Hedyia commented on #6227
To solve this issue the device should be in Arabic setting. or you could use this plugin.
https://github.com/saeedafshari/RedCorners.Forms

[2019-05-22 10:32] quentinR0bert commented on #5801
Any news about it ???

[2019-05-22 10:42] jayseaCODE commented on #4008
I had this problem too, but a little digging manage to give this: ScrollView Content Touches on iOS (https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/ios/scrollview-content-touches).

Once I applied this Delay on Content Touches, I no longer have the ScrollView auto scrolling itself whenever I tap on elements in a StackLayout in the ScrollView.

Hope this helps =)

[2019-05-22 11:03] IliyanPopov opened #6255 "[Bug] ListView iOS not able to scroll down to bottom"
### Description
Listview on iOS  - Only able to scroll down to 50% of the total elements in this certain case. (Maybe there are other cases as well)

### Steps to Reproduce

1.  Click On Problematic Page button
2.  Only 25 elements from total of 50 can be scrolled too
3.  Clicking Reload data button fixes this

### Expected Behavior
All elements must be shown

### Actual Behavior
50% of elements a