[2019-05-22 11:15] GagandeepSingh510 commented on #2925
what is the solution to this i am getting same issue in my application,is it the version of xamarin forms to be updated because i am on 3.2 .Please reply
Thanks :)

[2019-05-22 11:37] Skirtek commented on #5173
It will be fixed soon?

[2019-05-22 12:49] jorisvergeer commented on #5268
Also not fixed in 3.6

[2019-05-22 12:50] SFSteve opened #6257 "[Bug] Tap event not firing inside scrollview"
### Description
When compiling the android project using 9.0, any items inside a scrollview will no longer fire the click event immediately when the scrollview moves
### Steps to Reproduce

1. Create a xaml view that contains a scrollview with a clickable element
2. Swipe the view to trigger a scroll and tap the element

### Expected Behavior
The click event fires immediately on tapping the elemen

[2019-05-22 12:59] melimion opened #6258 "[Bug] [Android] ContextActions icon not working"
### Description
Icons are not displayed for ContextActions on Android

Looks like issue was introduced in https://github.com/xamarin/Xamarin.Forms/pull/6062

### Steps to Reproduce

1. Run control gallery app from Xamarin.Forms solution
2. Find "ContextActions List Gallery" page and open it
3. Hold any item to open context actionmenu
4. No icon

### Expected Behavior
Calculator icon displayed for

[2019-05-22 13:09] jorisvergeer commented on #5268
And also not fixed in 4.0

[2019-05-22 13:17] davi1td commented on #6250
Dang, same here, how does this slip through to production?

[2019-05-22 13:28] melimion commented on #6258
Here ApplyDrawableAsync called with renderer=null https://github.com/xamarin/Xamarin.Forms/blob/48885e0331e3b6427eaf64724cbbac54bce88c68/Xamarin.Forms.Platform.Android/ResourceManager.cs#L124

and here renderer is checked for null
https://github.com/xamarin/Xamarin.Forms/blob/48885e0331e3b6427eaf64724cbbac54bce88c68/Xamarin.Forms.Platform.Android/ResourceManager.cs#L136

[2019-05-22 13:39] Kornelis opened #6259 "[Bug] [Android] TabbedPage overrides Entry values when more than 4 Pages are added"
### Description

When using a TabbedPage with more than 4 Sub-Pages containting Entry Controls, the Entry Texts of the first Tab get overwritten when the >= 5th Tab is selected.

### Steps to Reproduce

1. Create TabbedPage
2. Add 6 ContentPages containing a StackLayout with e.g. 4 Entry Controls
3. Set different Texts on all Entry Controls
4. Start the Application and swipe / select through Tabs

[2019-05-22 13:58] kwaclaw commented on #6247
I get a similar error after upgrading to version 4. Seems that it happens when I hide the grid.
When the grid is initally hidden I get the error when I try top unhide it. In that case it happens in the NumberOfUnsetColumnWidth() method. Here the trace for hiding the grid.
(At the end  of this message I am adding the XAML).

System.NullReferenceException: Object reference not set to an instance of

[2019-05-22 14:04] MaxenceSAUNIER commented on #6259
[https://github.com/xamarin/Xamarin.Forms/issues/6188 6188]

[2019-05-22 14:11] Kornelis commented on #6259
Thanks for the Hint. When setting `Visual=""` on the TabbedPage Element, everything is working as expected. But disabling the Material Visual isn't an option anymore... :(

[2019-05-22 14:13] davi1td commented on #6250
OK, so I've only spent a few minutes, in my case when updating **Forms** to **Latest Stable 4.0.0.425677**,
 that is when the problem happens with Code Shrinker(r8) and works with Code Shrinker(ProGuard). Downgrading **Forms** to **4.0.0.394984-pre10**, all options seem OK.

[2019-05-22 14:17] InquisitorJax commented on #6247
@kwaclaw sounds about right. My landing page has a few grids / content views where the visibility is bound to ViewModel State.

[2019-05-22 14:17] KonstantinKellermann opened #6260 "Xamarin Forms: MemoryLeak Button ImageSource"
**Description**

Since the latest update of Xamarin.Forms (Version 4.0.0.425677) we have a big memory leak using a button with an image insight.
It's a little bit confusing because the issue pops up if we tap an entry field. After that our application is useless.
The issue occures in the combination of a button with ImageSource Property set.

We created a simple testproject with just a label, an e

[2019-05-22 14:17] MaxenceSAUNIER opened #6261 "[Bug] FlyoutBehavior not working Xamarin 4 release"
### Description
After update pre10 to release Xamarin 4, the shell not used  my FlyoutBehavior="Locked" parameter.

### Expected Behavior
Use FlyoutBehavior="Locked"

### Actual Behavior
Use the default value every time

### Basic Information

- Version with issue: Xamarin.Forms 4.0
- Last known good version: Xamarin.Forms pre10
- Android: 27

[2019-05-22 14:31] MaxenceSAUNIER commented on #6259
Yes I agree.

[2019-05-22 14:35] davi1td commented on #6250
Oh well I thought it was working with **Shrinker(r8)** and **Forms** **4.0.0.394984-pre10**, but just went back and it is not, so its currently working with **Code Shrinker(ProGuard)** and **Forms** **4.0.0.394984-pre10**, who knows.

[2019-05-22 14:40] HansZaa opened #6262 "[Bug] Button in Grid gets wrong z-index on Android in Xamarin.Forms 4.0"
### Description
Using Xamarin.Forms 4.0.0.425677 or 4.0.0.394984-pre10 on Android, in a Grid with two child elements: a button and an image, the button gets displayed on top. Even if it is defined first in XAML and should be displayed below the image.

In Xamarin.Form 4.0.0.346134-pre9 and earlier, this was working as expected. It also works as expected on iOS.

### Steps to Reproduce

1. Create a

[2019-05-22 14:43] Hasanajouz commented on #6261
Yes even if you set it to "Disabled" it will not work
As i noticed till now
if you use
FlyoutItem as your shell then you will have a side menu
if you use
TabBar you will not have it.

[2019-05-22 14:49] alataffective opened #6263 "ListView selected item not easily visible on Mac"
### Description
When selecting a ListView item on Mac only a thin blue border is seen.

### Steps to Reproduce
1. In a Xamarin.Forms that targets macOS, create a ListView, e.g.
[code]
2. Run the application on a Mac.
3. Select an item in the list.

### Expected Behavior
The background color of the selected item changes to blue.

### Actual Behavior
Only a very thin blue border is visible.

### Bas

[2019-05-22 15:26] lekia opened #6264 "[Bug] ContentPage.ControlTemplate not working in Xamarin WPF"
### Description
According to Microsoft Docs, a ControlTemplate can be assigned to a ContentPage rather than a ContentView.
I assigned the ControlTemplate to a ContentPage. It worked without any issue in UWP, but when I deployed to WPF, the ControlTemplate was totally ignored. Everything in the ControlTemplate did not appear in the view tree, but the Content appeared even without a ContentPresenter

[2019-05-22 15:54] Hasanajouz opened #6265 "[Bug] [Shell] XF4.0 official AppShell BaseStyle targets ShellItem Instead of TabBar"
### Description
BaseStyle should target TabBar instead of  ShellItem

### Steps to Reproduce

1. Create new xamarin forms shell project
2. Open AppShell.xaml
3. Line 28: you will fine TargetType="ShellItem"

### Expected Behavior
Line 28: TargetType="TabBar"

[2019-05-22 15:55] PureWeen commented on #6265
@Hasanajouz thank you for logging an issue for this one! We've updated the templates and they will be fixed in an upcoming release of VS

[2019-05-22 15:55] #6265 closed

[2019-05-22 16:10] Hasanajouz commented on #6134
Sorry I noticed that not only navigation bar doesn't take effect but now in the official 4.0 even the tabBar doesn't change color as it was in pre 10
please check the example here:
[ShellBackgroundColor.zip](https://github.com/xamarin/Xamarin.Forms/files/3208272/ShellBackgroundColor.zip)

[2019-05-22 16:13] Hasanajouz commented on #6134
After changing all the style colors to check which takes effect and which doesn't:
Android
![photo_2019-05-22_18-11-36](https://user-images.githubusercontent.com/11570997/58190658-4b917d80-7cbd-11e9-9985-6869cf01904b.jpg)
![photo_2019-05-22_18-11-36 (2)](https://user-images.githubusercontent.com/11570997/58190659-4b917d80-7cbd-11e9-8603-6fd81b8dba34.jpg)

iOS
![photo_2019-05-22_18-10-50](https://u

[2019-05-22 16:15] Hasanajouz commented on #6134
Navigation Bar is taking effect from the base style
but in the about page i set it manually to red
In android it is working great
but in ios nothing is working
maybe i miss something

[2019-05-22 16:21] Hasanajouz commented on #6134
@kingces95 Here is another solution so you can reproduce the problem:
[ShellBackgroundColorWithApplyToDerivedTypes.zip](https://github.com/xamarin/Xamarin.Forms/files/3208333/ShellBackgroundColorWithApplyToDerivedTypes.zip)

[2019-05-22 16:22] anthcool commented on #3864
This is still cropping up in 4.0 stable but with MenuItems when you take them out of MenuItemCollection,

![image](https://user-images.githubusercontent.com/5133304/58191264-6a6f2000-7c7b-11e9-9e87-8671780c77cb.png)

It builds and runs fine, but there are squigglies and XLS0503 errors...

[2019-05-22 16:58] anthcool commented on #4769
I would really like these things as well for Shell.

Desired scenario:

Using Shell URI navigation, I can specify whether a target page resets the stack or not (whether or not that target page is defined within the Shell visual structure).

[2019-05-22 17:05] norton287 opened #6267 "[Bug] Setting a picker BackgroundColor through XAML binding or programmatically in code behind crashes app"
### Description
After upgrading nuget to Xamarin.Forms 4.0.0.425677, code that worked previously on Android now causes the app to crash.  Setting the BackgroundColor of a picker through XAML binding or through code behind causes the app to crash.  It works fine in my iOS and UWP projects and bizarrely works fine on the Android Pie simulator.  The crash occurs on my Samsung Galaxy S9+ on API 28.

#

[2019-05-22 17:18] anthcool commented on #5790
@PureWeen

Is it still planned to add relative routing that replaces the stack at some point soon?  4.1?  I really need that in our current app we're trying to build.  Or should it work in 4.0 stable somehow?  It doesn't seem implemented as of yet.

[2019-05-22 17:19] snow-jallen commented on #5593
Shell support for UWP - please!

[2019-05-22 17:31] norton287 commented on #6267
Just borrowed a phone, a Samsung SM-J727A on API 27 running Oreo 8.1 and the crash does not occur on selection change and color being applied.

[2019-05-22 17:39] mgoertz-msft commented on #3864
@anthcool  Could you please share a small repro project that illustrates the problem?

[2019-05-22 18:35] wadebaird opened #6268 "[Bug] InvalidCastException encountered when Entry control is bound to a style for a Label"
### Description
Binding a entry control to a style for a label that has properties that are not applicable to an Entry control causes an InvalidCastException. This should be caught at compilation time, or a minimum of a descriptive exception saying it is not correct to do this.

### Steps to Reproduce
1. Model a style for a label with a label only property:
`<Style x:Key="LeftLabel" TargetType="La

[2019-05-22 18:42] wadebaird commented on #6268
I am guessing this is also a problem on other properties.  All properties should be verified and corrected.

[2019-05-22 19:10] davi1td commented on #6250
Did some more testing, Results:
When setting Code Shrinker to either option, d8 or proguard, works initial then fails subsequently, if you change to the other will work once then fail.
if you then edit the android .csproj file and remove <AndroidLinkTool>proguard</AndroidLinkTool> or <AndroidLinkTool>d8</AndroidLinkTool> so that nothing is selected like when initially creating the Android forms pr

[2019-05-22 19:15] davi1td commented on #6250
I'm also finding that when appt2 is selected, compile fails with:
failed to create directory 'C:\Users\\#####\AppData\Local\Temp\ds4tzqfu.rkg\com\companyname'.	App1.Android

[2019-05-22 20:34] softsan commented on #6247
@kwaclaw Same problem here. @InquisitorJax did you find any resolution?

[2019-05-22 20:36] InquisitorJax commented on #6247
@softsan not yet - unfortunately I have other priorities atm.

[2019-05-22 20:37] PureWeen commented on #3864
[Triage.zip](https://github.com/xamarin/Xamarin.Forms/files/3209216/Triage.zip)

@mgoertz-msft  here's a sample you can use that demonstrates a few different permutations of the problem

[2019-05-22 21:05] anthcool commented on #3864
Thanks for your help @PureWeen  Really appreciate your help on the live-stream as well today.  Is that SmartHotel360 example you were sharing at the end publicly available yet?  I went to go check for it on the repo but doesn't look like it.  Would love to take a look at that.

[2019-05-22 21:13] thudugala opened #6269 "[Android] 'When' in a catch statement, crashes app"
### Description

If exception is catch with 'When' contextual keyword, the application crashes.

[code]

### Steps to Reproduce

1.  Run the attached project
2.  Tap, 'Try Exception' button

### Expected Behavior

app should **not** crash.

### Actual Behavior

App crashes.

##### Native Crash Reporting

Got a SIGSEGV while executing native code. This usually indicates
a fatal error in the mono ru

[2019-05-22 21:37] norton287 commented on #6267
Just checking further, I installed the latest Visual Studio Mac on my hackintosh with the following setup:

=== Visual Studio Community 2019 for Mac ===

Version 8.0.7 (build 3)
Installation UUID: f666c8dd-e30a-439e-817b-e51fea14463c
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.6.0.2 (d16-0 / 040682909)

	Package version: 518010003

=== Mono Framework MDK ===

Runtime:
	Mono 5.18.1.3 (2018-08/fdb2

[2019-05-22 22:39] kingces95 commented on #6268
Please attached a zipped solution with a reproduction project. Thanks!

[2019-05-22 22:39] kingces95 commented on #6264
Could you kindly attach a zipped solution file with a project that reproduces the unexpected behavior? Thanks.

[2019-05-22 22:45] kingces95 commented on #6260
@KonstantinKellermann Hm, the links are broken. https://github.com/KonstantinKellermann/MemoryLeak_ButtonWithImage links to https://github.com/xamarin/Xamarin.Forms/issues/url which I don't think are the droid we're looking for.

[2019-05-22 23:03] adrianknight89 commented on #4784
This should be given a higher priority, in my opinion. Like others, I've been wrapping labels with other controls to add tap gestures & padding and increase the surface area for the label tap. As mentioned earlier, this complicates the UI tree, but also makes it difficult to use spans. Consider the following scenario:

- Add a label with multiple spans, each with its own tap gesture.
- Toggle the

[2019-05-22 23:05] jmeyerworms commented on #6238
hello , i have the same issue with xamarin forms 4.0 and prev 3.6 .  i use the same template .
android simulator it looks fine but with ios real device it looks wrong.
my test device is a ios 7 .

**i have 2 images uploaded to compare.
ios the small image directly from device vs android simulator.**

![1](https://user-images.githubusercontent.com/33936487/58214611-b0b59500-7cf6-11e9-9764-c836684b5

[2019-05-22 23:38] kingces95 commented on #6259
Hm, getting a deployment error:
![image](https://user-images.githubusercontent.com/4120386/58215694-d448f300-7c96-11e9-8200-0fe94b8c94ea.png)

[2019-05-22 23:38] kingces95 commented on #6259
Shane, let us know if you have better luck deploying.

[2019-05-22 23:50] PureWeen commented on #5642
As a note this one is partially fixed by this PR

https://github.com/xamarin/Xamarin.Forms/pull/6271

the main side effect that exists is once you click on the button then the labels disappear under the button. The material renderer has a dynamic elevation so the elevation increases when it's clicked

[2019-05-23 00:14] kingces95 commented on #6258
![image](https://user-images.githubusercontent.com/4120386/58216901-f98c3000-7c9b-11e9-971e-b6c7b380879c.png)

[2019-05-23 00:24] kingces95 commented on #6257
![8F109F99-9DAB-423D-941A-F533E9643039](https://user-images.githubusercontent.com/4120386/58217184-43c1e100-7c9d-11e9-8eba-908db31bb9ae.GIF)
Yep. Sometimes on master 9.0 I gotta click twice.

[2019-05-23 00:26] PureWeen commented on #6249
ViewCell is very specific to a ListView

The BindableLayout works with layouts so if you just remove the surrounding ViewCell and just use the StackLayout then you shouldn't have any issues

I've changed this issue over to an enhancement as the behavior is expected but how it fails could be improved upon

[2019-05-23 00:32] kingces95 commented on #6222
Could you attach a zipped reduced reproduction?

[2019-05-23 00:47] kingces95 commented on #6255
https://github.com/xamarin/Xamarin.Forms/issues/3032

![image](https://user-images.githubusercontent.com/4120386/58217875-6c97a580-7ca0-11e9-8f3e-18bd5443ed24.png)

[2019-05-23 00:51] kingces95 commented on #6250
Yep. Reproduces on VS Internal Preview.

![image](https://user-images.githubusercontent.com/4120386/58218021-19722280-7ca1-11e9-8f8b-3e6121b8b9cf.png)

[2019-05-23 01:00] kingces95 commented on #6250
Something funky going on even after flipping off the linker:

![image](https://user-images.githubusercontent.com/4120386/58218377-5c80c580-7ca2-11e9-88af-09ed274c5248.png)

[2019-05-23 01:03] PureWeen commented on #6250
@jonathanpeppers

should setting it to d8/r8 include the `proguard.cfg` file that we package with the target?

[2019-05-23 01:10] kingces95 commented on #6250
Hm, the template project works.

[2019-05-23 01:11] kingces95 commented on #6246
Could  you attach a zipped reduced reproduction? Thanks!

[2019-05-23 01:25] davi1td commented on #6250
To be clear, linker is NOT the problem. I tested quit a bit, the problem as far as I can tell is specifically with Code shinker settings, With it disabled i.e blank, it works.

[2019-05-23 01:29] PureWeen commented on #6250
This is an upstream issue with Xamarin Android
I've raised it with them and they'll get back to us here about it

[2019-05-23 01:30] davi1td commented on #6250
Thanks

[2019-05-23 01:30] kingces95 commented on #6245
Hm, looks ok to me:

![image](https://user-images.githubusercontent.com/4120386/58219434-9653cb00-7ca6-11e9-9230-2f512d3bb191.png)

[2019-05-23 01:56] PureWeen commented on #6260
Verified this one

it looks like anytime the layout changes the image is re-retrieved even though it hasn't changed which is causing an excess of allocations

[2019-05-23 02:19] jonathanpeppers commented on #6250
So this drop down isn't right:

![image](https://user-images.githubusercontent.com/840039/58220984-88b63980-7cd6-11e9-9e2b-d2f8c269ddcb.png)

There should be an option for "None".

You can do this manually by editing the `csproj` with:
[code]
Removing it completely works, too, but setting to blank seems to make the `Android Options` UI happy.

@thudugala & @davi1td you're not really wanting to use

[2019-05-23 02:35] davi1td commented on #6250
I thought I already asked about an option of none, or what that was all about?
As per you other question, this has nothing to do with the question at hand, It has to do do with a fully released product that shouldn't get us to this whole discussion in the first place??
Personally, I like things all shiny , compressed and stuff in all regards, but that is a whole other discussion.

[2019-05-23 02:49] jonathanpeppers commented on #6250
Yes that is what you would setup for a `Release` build.

`Debug` builds you want them to _build_ fast, so you would want:
* No linker
* No code shrinking
* Multi-dex only if you app absolutely requires it
* Shared Runtime + Fast Deployment

[2019-05-23 02:53] davi1td commented on #6250
Perfect, response!
Then :
1) why is VS not enforcing this
2) and then failing
poor design AKA bug?
The current situation is the IDE is allowing faulty selections and that is a bug, hence this whole thread!

[2019-05-23 03:27] thudugala commented on #6250
@jonathanpeppers and @davi1td It works in `Release` mode.
Also It would be good, if VS can disable these settings in `Debug` mode, to stop future bugs been reported.

[2019-05-23 03:29] davi1td commented on #6250
Agreed

[2019-05-23 04:58] BioTurboNick opened #6273 "[Bug] MenuItem cannot be added to Shell"
### Description

The documentation says that MenuItem can be added to Shell. However, doing so produces an XLS0503 error, "A value of type 'MenuItem' cannot be added to a collection or dictionary of type 'IList'.'

### Basic Information

- Version with issue: 4.0.0.425677
- Last known good version: None
- IDE: 16.1.0

Also reported with the documentation: https://github.com/MicrosoftDocs/xamarin-d

[2019-05-23 05:07] PureWeen commented on #6273
@BioTurboNick  this is just an intellisense error that's being worked on

https://github.com/xamarin/Xamarin.Forms/issues/3864

It builds and runs without any issues

[2019-05-23 05:07] #6273 closed

[2019-05-23 05:08] HobDev commented on #6252
@jingliancui  @pauldipietro  @kingces95
This is a expected behaviour in shell. Read **Notable Changes**  shell  at [https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/4.0/4.0.0](url)
It would be better to change this bug report to feature request

[2019-05-23 05:11] HobDev commented on #5667
@PureWeen
I am facing same issue in Xamarin Forms 4 stable release. If there is any content in the header the size of the header is huge in iOS.

[2019-05-23 05:12] wadebaird commented on #6249
There is no way an InvalidCastException coming from the .Net framework is expected behavior.  The user would have no idea to remove the ViewCell with this type of behavior.

This is an unprofessionally worded response.

[2019-05-23 05:15] wadebaird commented on #6246
Seriously??? Did you even look at the repro? There is no way you can mark this as needs repro. Paste that exact code that I provided under the "Steps to Reproduce" into ANY Xamarin Form and you'll have your repro. I did all of the work for you already.

[2019-05-23 05:21] jaluka commented on #5428
My Use Case

User is not logged in so need items not to be shown or show disabled.
User logs in items are now shown or enabled.

[2019-05-23 05:24] PureWeen commented on #5428
@jaluka if you define your layout like this

[code]

That should give you what you want

- TabBar disables the flyout so it's not visible
- after logging in do `GoToAsync("//LoggedIn")

[2019-05-23 05:39] GnanaPriyaNamasivayam opened #6275 "Defined Bindable property(say ListView's Selecteditem's)value is not reflected to PCL element when changed programmatically in OnNavigatingTo method"
### Description
SelectedItem value is not reflected in UI when changed in OnNavigatingTo method.

Can you please confirm us whether its is a issue or behavior. If behavior, then please provide detail information about its behavior and why it occurs.

### Steps to Reproduce

1.Run the sample.
2. Check in OnNavigatingTo method, SelctedItem value is defined.
3. But in UI selection background color is

[2019-05-23 06:03] IliyanPopov commented on #6255
@kingces95
Removing x:DataType="{x:Type models:TestModel}" from line 18 does not solve the problem.
I am using visual studio 2017 15.9.12 - it compiled it just fine, that's why i submitted it with it, otherwise i would have removed it

[2019-05-23 06:05] rcoelhoAtterbury commented on #4329
Was this ever resolved? I have been beating my head on this issue for several days now. My needs are move complex, but to simplify the complexities, I've narrowed it down to creating a single cell GridLayout in NativeAndroid using the Activity as Context. I insert a TextView in the GridLayout. I use ToView to generate a wrapper and attach it to an AbsoluteLayout in XF. This shows up fine, on initi

[2019-05-23 06:06] HobDev commented on #6238
@jingliancui @pauldipietro @samhouts @jmeyerworms

I resolved this issue by adding two lines of xaml code in the ContentPage.

`xmlns:ios="clr-namespace:Xamarin.Forms.PlatformConfiguration.iOSSpecific;assembly=Xamarin.Forms.Core"
              ios:Page.UseSafeArea="true"`

[2019-05-23 06:09] HobDev commented on #6238
The copy of the concerned page is this:

`<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
              xmlns:ios="clr-namespace:Xamarin.Forms.PlatformConfiguration.iOSSpecific;assembly=Xamarin.Forms.Core"
              ios:Page.UseSafeArea="true"
             x:Class="sample.Views.ItemDetailPage"
             Title="{B

[2019-05-23 06:12] wadebaird commented on #6249
As I stated above I understand that the ViewCell was not appropriate here, however, an InvalidCastException coming from the .Net framework can hardly be stated as expected behavior.

There should be a compilation error preventing this from happening as well as a runtime check not allowing this scenario to be created programmatically as well.  I personally would not consider this an enhancement as

[2019-05-23 06:23] jingliancui commented on #6238
@HobDev Wow,It's work! Thanks.
And Now I have another question about the "footer" of the tabs.
Or I close these issue and open a new issue?
Is it have any solution to hide the tabs when I navigate to another page.
for example :
After click any item in first page ,then hide tabs in the second page,as image shown
![ios1](https://user-images.githubusercontent.com/16309962/58230201-3cb2d580-7d66-11e9-

[2019-05-23 06:37] jingliancui commented on #6252
@HobDev Got it,thanks, and I will close this issue ,hoping the document complete asap publish to docs.microsoft.com

[2019-05-23 06:37] #6252 closed

[2019-05-23 06:45] HobDev commented on #6238
@jingliancui
Add the following line in any ContentPage where you want to hide the TabBar:
`Shell.TabBarIsVisible="false" `

[2019-05-23 06:47] jingliancui commented on #6238
It's done.Thansk again and hope document publish asap 👍 👍

[code]

![ios1](https://user-images.githubusercontent.com/16309962/58231412-89e47680-7d69-11e9-8692-53b2dbce7737.jpg)

[2019-05-23 06:47] #6238 closed

[2019-05-23 06:52] akuehntopf commented on #5593
I'd also like to see UWP support for the Shell.

For my company UWP is quite important because our customers use Windows Tablets in combination with some Android phones to get their work done. We won't be able to migrate to Shell if UWP support is missing.

[2019-05-23 07:20] galadril commented on #6206
@HobDev @arvindrajachourasiya There are quite some tutorials on this topic, for example:
https://www.c-sharpcorner.com/article/xamarin/

[2019-05-23 08:22] MitchBomcanhao opened #6276 "[Bug] Crash on page reorientation if it contains Buttons with ImageSource (Android)"
### Description
When rotating the Android device, certain layouts trigger what appears to be an infinite loop of resizing events, resulting in the app crashing.
If you change certain layout properties, the app doesn't crash anymore.

### Steps to Reproduce

1. Start the app and get to a page with an affected layout
2. Rotate the device

### Expected Behavior
The app resizes itself to fit the new d

[2019-05-23 08:35] MitchBomcanhao commented on #6276
As an added note, if you use the legacy renderer (removing visual=material and adding global::Xamarin.Forms.Forms.SetFlags("UseLegacyRenderers"); to your activity), the app will not crash on rotate.

[2019-05-23 08:36] toomasz commented on #6260
@PureWeen I have a page with Button with ImageSource and listView with PullToRefresh enabled. Page seems to hang when user pulls to refresh. Do you think it has same root cause? I'm not sure if I should create another issue for it on github.

[2019-05-23 08:45] td1311 opened #6277 "[Bug] ListView doesn't work right with HasUnevenRows"
### Description
On iOS: ListViews with HasUnevenRows has layout broken
### Steps to Reproduce

1. Add a ListView with complex ItemTemplate
2. Set HasUnevenRows to true
3. Populate the list
4. Layout is broken on iOS 10
5. Change text of label in ListView's cell
6. Label's alignment doesn't work well on iOS 12

### Expected Behavior
The ListView adapts to the complex items.
### Actual Behavior
It d

[2019-05-23 08:47] KonstantinKellermann commented on #6260
@toomasz I think it should be related.

[2019-05-23 09:15] Asnanon opened #6278 "[Bug][Android] Impossible to focus Picker View more than once"
### Description

Trying to focus a Picker View with Focus() after it loses focus is not possible, without focusing another Picker Type View (Picker, DatePicker, TimePicker) first.
This Problem is only reproducable on Android, iOS works as expected.

### Steps to Reproduce

1. Call Focus() from codebehind.
2. Los focus in the app.
3. Call Focus() from codebehind.

### Expected Behavior

Regaining f

[2019-05-23 09:58] GalaxiaGuy commented on #6277
The layout being broken on iOS 10 appears to be a duplicate of #6201 and #5888.

[2019-05-23 10:31] RonnyBansemer commented on #6247
I can confirm the problem as well. Seems to be a race condition after setting/updating the bindingcontext, because it does not occour every time.

Exception
[code]
Xaml
[code]
Code behind
[code]

Instanciation on looper thread
[code]

[2019-05-23 11:34] SpeedPing commented on #6247
I'm getting the same crash each time when navigating back from an oauth browser session.
When removing the grid, my AbsoluteLayout is misplacing it's children. This only happens with xamarin-auth backward navigation on android devices and could be connected to one or more plugins (Prism? Auth?).
Overall, the behavior is unexpected and this exception shouldn't be possible. People have already made

[2019-05-23 12:03] #5396 closed

[2019-05-23 12:54] kwaclaw commented on #6247
When I look at the number of bugs posted in the last 48 hours it seems wise to revert back to version 3.6.

[2019-05-23 12:56] DeerSteak commented on #6244
Was able to trace it down to a NuGet package, and created a ticket with a sample app for that project. It only happened on Forms 4.0, but it required an update for that project instead. not Forms. My apologies.

[2019-05-23 13:42] amirvenus opened #6280 "[Bug] TwoWay Data Binding on Entry when using a nullable property"
### Steps to Reproduce

1.  Create a new XF Project
2.  Create a VideModel that implements INotifyPropertyChanged
3.  Inside the VM, create a property that is nullable:

[code]

4. Create an Entry whose Text value is bound to that property:

  ` <Entry Text="{Binding stock_quantity, Mode=TwoWay}" Placeholder="Units in stock"   />`

### Expected Behavior

It should update the VM but seems that the

[2019-05-23 13:45] amirvenus commented on #6269
Have you tried changing

`(ex.Message == "Test")`

to

`(ex?.Message == "Test")`

[2019-05-23 13:50] DeepikaBalaSubramaniyan opened #6281 "Unable to bind a Complex property value to Label TextProperty"
### Description
I have one model property which is not direct data type,  This model property type was one class which is named as Complex property, I tried to bind the text from this ComplexProperty to Label Text property, But label was loaded with empty text,

ComplexProperty:
public ComplexOrderInfo ComplexOrderInfo
        {
            get
            {
                return _complexOrderInf

[2019-05-23 14:27] rkshnair opened #6282 "Text on button loses center alignment on changing of IsEnabled after updating XF to 4.0.0.425677"
I am changing the style of a button using Visual States along with its IsEnabled Property as given below. It was woking fine without any issue till I update the latest Xamarin Forms package.

I am facing this issue only in **Android**

[code]

When I start loading the page the button is in **Disabled state**.  Once I get the API response I will make the button Enabled. This time, the button text a

[2019-05-23 14:58] robintschroeder commented on #6098
I forked a SimpleShell repo that @davidortinau  built for Luce Carter per a twitter request yesterday. It was a great starting point show / ask how to handle this. https://github.com/robintschroeder/SimpleShell
Hope it is clear what the question is. ;-)

[2019-05-23 15:00] TFreudi1 opened #6283 "Since Verion 4.0 can't compile TabbedPage.xaml"
Since Xamarin.Forms v 4.0.0.425677 I get the following error in a TabbedPage:
MainPage.xaml(-1,-1): error : No property, bindable property, or event found for 'Content', or mismatching type between value and property.
If I switch back to version 3.6.0.344457 everything compiles fine. I tried it with VS2019 and VS2017 and it failed with 4.0 in 3 projecttypes iOS/Android/UWP.

[MainPage.zip](https:/

[2019-05-23 15:25] TheBaileyBrew commented on #2415
@davidortinau I know this is just some specs, and it's been closed for a while, but I was hoping you might be able to point me in the right direction since the specs point out that the below task is either completed or on the docket for development:

-  Add API for "submenu" items for ShellContent's ala GPS -> Music -> Open Music app

Currently since I can't get GroupHeaders to work, I'm looking t

[2019-05-23 16:40] PureWeen commented on #6250
@jonathanpeppers is just indicating the optimal debug settings that should be used when running your app in debug mode. He's not saying that the crash is expected behavior. A fix for the crash is being investigated.

It was more just informational that running with those settings in debug will cause you to spin development cycles on build time and that they don't provide any benefits while debuggi

[2019-05-23 16:40] anthcool commented on #2415
@TheBaileyBrew

I just Googled this repo with something that could work for your scenario most likely.  It won't be Shell, but you could use it in a MasterDetailPage setup probably.

https://github.com/ishrakland/ListViewWithSubListView/

[2019-05-23 16:48] BeleShew commented on #2415
Hi guys i want to pick file or photos from gallery or external storage in
xamarin forms who to pick file it? The file is only .PDF extension. To
select both files I use one button so pleases help me!!!

On Thu, May 23, 2019, 19:41 Anthony Cool <notifications@github.com> wrote:

[2019-05-23 17:26] PureWeen commented on #6260
@toomasz can you test by reverting back to legacy renderers?

- Enabling the Forms.SetFlags("UseLegacyRenderers") flag in your MainActivity.

When I fixed the issue I found that this behavior only happens when using the fast renderers.

[2019-05-23 17:44] PWaliaDev commented on #2415
Hey Guys, i want to add tabs on basis of condition so how can i add tabs in Shell using C# not in Xaml as well how to add menu itms.

[2019-05-23 17:45] jamesmontemagno commented on #6229
Wasn't able to reproduce this at all. Works great for me on my device.
[App29.zip](https://github.com/xamarin/Xamarin.Forms/files/3213512/App29.zip)

[2019-05-23 17:46] jamesmontemagno commented on #6229
All Xamarin.Essentials issues should be over at http://github.com/xamarin/essentials

[2019-05-23 17:51] aocipriano commented on #6229
Hi @jamesmontemagno
I noticed that it happens when I disconnect my device from USB and connect it again.
So VS uninstalls the app and installs it again, that´s why my preferences data is lost.
I had same problem using Application.Current.Properties class instead of Xamarin Essentials Preferences class.

[2019-05-23 17:52] toomasz commented on #6260
@PureWeen Using legacy renderers doesn't help. Still getting hang. GC messages keep showing in log.

[2019-05-23 17:53] PureWeen commented on #6260
@toomasz can you test with this nuget

[nuget.zip](https://github.com/xamarin/Xamarin.Forms/files/3213536/nuget.zip)

[2019-05-23 18:01] toomasz commented on #6260
Tried, problem still exists :(

[2019-05-23 18:06] PureWeen commented on #6260
@toomasz can you send me a reproduction?

[2019-05-23 18:16] toomasz commented on #6260
@PureWeen Sure, hopefully i will manage to create it

[2019-05-23 18:52] kwaclaw opened #6286 "[Bug] ObjectDisposedException in Android WebView.EvaluateJavascriptAsync"
### Description
WebView control exists on a ContentPage. EvaluateJavascriptAsync is called in Navigated event.
works fine first time. But Navigating away and back to the ContentPage triggers  *multiple* ObjectDisposedExceptions (for the Android webview) in EvaluateJavascriptAsync, even though the Navigated event happens only once.  The number of triggered exceptions depends on the number of naviga

[2019-05-23 18:53] jamesmontemagno commented on #6229
Yeah, if the app is uninstalled then it would be lost. So working as expected there. Seems like it shouldn't uninstall your app though, can you click the report a problem and report it through Visual Studio please after you reproduce it.

[2019-05-23 18:53] #6229 closed

[2019-05-23 19:32] PureWeen commented on #5667
@HobDev  can you log an issue?

I'm testing this locally and the headerview sizes to whatever content I have specified. What you might be doing in your case is setting it to a headerview that has infinite height meaning that when it tries to size it it's just going to size to the maximum size it can.

![image](https://user-images.githubusercontent.com/5375137/58280951-0e7dc780-7d5f-11e9-8878-2c54d

[2019-05-23 20:06] toomasz commented on #6260
@PureWeen Managed to reproduce it, turned out it hangs when using master detail page and setting detail to page with button that uses image source.

To test, open master page and click on button that is there, app will hang then.
[ImageSourceHang.zip](https://github.com/xamarin/Xamarin.Forms/files/3213949/ImageSourceHang.zip)
Let me know if you got it.

[2019-05-23 20:08] cgollubske commented on #3331
This issue has been closed for a while but is still broken in the latest version 4.0.0.425677. Could someone let us know when it's going to be fixed?

[2019-05-23 20:24] thudugala commented on #6269
@amirvenus `ex` will never be null.

![image](https://user-images.githubusercontent.com/4112014/58283800-61a65780-7dfd-11e9-978e-95d1805eaac3.png)

[2019-05-23 20:37] davi1td commented on #6250
Understood, I just thought it was detracting from the actual problem. And sorry @jonathanpeppers if it came off wrong.
Also, FYI I created another case regarding aapt2 failure which definitely is something that applies to debug mode and is broken. I'm thinking it it's related to the same problem here and if so probably should be merged closed ?
And yes, since build times, while getting better, are

[2019-05-23 20:45] dan-meier commented on #5593
Agreed -- UWP compatibility allows me to bake in Windows tablet capability with my mobile implementation. I'd have to code this completely separately without it. Yuck! UWP compatibility is a must-have!

[2019-05-23 21:01] kwaclaw commented on #6286
Adding example of fix for benefit of others:
[code]

[2019-05-23 21:07] jgold6 commented on #6038
The default HorzontalOptions for BoxView and Button is "Fill" and this overrides the WidthRequest.

Just set the HorizontalOptions="Start" or anything other than "Fill" or "FillAndExpand"

    <BoxView HorizontalOptions="Start" Color="Green" WidthRequest="400" HeightRequest="400" CornerRadius="200"/>

[2019-05-23 21:09] pinoelefante commented on #5693
still here with xamarin.forms 4.0.0.425677

[2019-05-23 21:15] jgold6 opened #6287 "[Bug] [UWP][Android] Grid.WidthRequest=0 ignored when changed during runtime"
### Description

When setting the WidthRequest for a Grid at runtime, setting it to 0 is ignored while settig it to positive values works. This occurs on UWP and Android. Works as expected on iOS.

### Steps to Reproduce

1. Open the attached test project
2. Deploy to UWP or Android
3. Observe the red rectangle on the left with width of 200
4. Click the **0px** button

### Expected Behavior
Red re

[2019-05-23 21:42] brendanzagaeski commented on #6269
Thanks for the report and the test case! I can confirm that this behavior around exception filters also has the same native backtrace as <https://github.com/xamarin/xamarin-android/issues/3112> and <https://github.com/mono/mono/issues/14170>, so I will close this Xamarin.Forms issue as a duplicate. The fix will require a new version of Xamarin.Android that will be based on a new version of the Mon

[2019-05-23 21:42] #6269 closed

[2019-05-23 22:36] rmarinho opened #6289 "[Enhancement] Make sure all Shell renderers use the register service"
## Summary

On iOS ShellFlyoutRenderer can't be register by the user to be replaced.

## API Changes

## Intended Use Case
It's easy for users to write there own renderes for the several parts that compose the Shell if they need too.

[2019-05-23 22:53] PureWeen commented on #6289
One thing to consider here is that having a single ShellRenderer helps a lot for discoverability of what you can override. Plus there might be different overrides per platform.

[2019-05-24 00:05] PureWeen commented on #6282
@rkshnair if you don't use `Forms.SetFlags("UseLegacyRenderers");`

Do you still see the same issue?

[2019-05-24 00:06] PureWeen opened #6291 "[Bug] Shell Search Handler is broken in API < 23"
### Description

Android uses
[code]

DrawableWrapper was introduced into API 23 and doesn't exist before that

### Steps to Reproduce

1.  Run control gallery store shell on a device that has api < 23 or just create a shell with a search handler on a device < 23

### Expected Behavior
works

### Actual Behavior
crashes

[2019-05-24 00:46] rodrigorrl commented on #1600
Any news of when it will be fixed?

[2019-05-24 01:23] HobDev commented on #5667
@PureWeen
Before logging a new issue can you please share the code in the Shell file for the above screenshot. I may be doing something wrong.

[2019-05-24 01:36] PureWeen commented on #5667
@HobDev

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Sandbox/ShellPage.xaml

[2019-05-24 02:39] davidortinau opened #6292 "[Spec] Shell Flyout Footer Template"
# Flyout Footer Template

Add a template for the footer of the flyout menu just like you have for the header.

* The footer should be fixed to the bottom of the flyout.
* The menu list should not go behind it and obscure the menu items.
* The footer should take any height.

[code]

# API

Shell.FlyoutFooterTemplate takes a DataTemplate

# Difficulty : Low

[2019-05-24 02:52] davidortinau opened #6293 "[Spec] Shell Flyout Content Template"
# Flyout Content Template

Allow developers to provide a template for the entire flyout.

* Should be able to describe the whole layout
* Developer responsible for header and footer. Any provided templates would not be applied.

[code]

# API

Shell.FlyoutTemplate

# Difficulty : Awesome

[2019-05-24 03:37] GagandeepSingh510 commented on #5874
what is the fix for this ? I got the same issue in my application.

[2019-05-24 04:09] PureWeen opened #6294 "[Bug] Xaminals flickers weirdly on some devices"
### Description
https://twitter.com/sinkingstar/status/1131588731855618049?s=21

### Steps to Reproduce

1.  clone Xamarin samples
2. run xaminals
3. click on anything in the list

### Expected Behavior

smooth transition
### Actual Behavior

annoying black flicker

### Basic Information

- Affected Devices: Samsung s9 and Samsung note
I haven't observed this behavior on simulators at all

[2019-05-24 04:49] HobDev opened #6295 "[Bug] Flyout Header is taking too much space than its content on iOS"
### Description
I added some content to the Header of Flyout. It looks good on Android. But on iOS it it taking lots of more space than required.

### Steps to Reproduce
Run the repro project and open the flyout.

### Expected Behavior
The Header size should be adjusted according to the size of the content it have.

### Basic Information

- Version with issue: Xamarin.Forms-4
- IDE:VSMac 2019
- Af

[2019-05-24 04:52] HobDev commented on #6295
Interestingly in single StackLayout with name and phone number the issue does not arise. But the top StackLayout is required for showing image.

[2019-05-24 04:55] HobDev commented on #5667
@PureWeen
 #6295 new issue logged.

[2019-05-24 05:06] PureWeen commented on #6260
Aw ok
Needed to fix material button as well :-/ Thank your for the repro!!!

[2019-05-24 06:03] rkshnair commented on #6282
If i remove this I am getting some issues in Entry control related to Focus and sometime it even freezes my app. If my understanding is correct XF 4 on wards they have added fast renderers by default, which in turn causing some issues to my app. Not sure its a bug or not.

[2019-05-24 06:05] Brosten commented on #3020
Any progress on this one? Suggested workaround?

[2019-05-24 06:07] rasel-tr opened #6296 "[Bug] toolbaritem icon not showing in Android with 4.0"
### Description

I upgraded my forms project to forms 4.0 and my toolbar items turned to text in android platform.  I changed the Icon property to IconImageSource and tried to load the images from embedded resource and from file but doesn't work. iOS is fine with embedded resource. Getting this exception:

`Error: Unhandled Exception System.Exception: TaskSchedulerOnUnobservedTaskException ---> Sy

[2019-05-24 06:25] PureWeen commented on #6296
@rasel-tr can you attach a repro please? I did some basic tests with toolbar items and I wasn't able to reproduce that exception

[2019-05-24 06:38] PureWeen commented on #6260
@toomasz can you test this one please?
[debug(1).zip](https://github.com/xamarin/Xamarin.Forms/files/3215449/debug.1.zip)

[2019-05-24 06:39] PureWeen commented on #6282
[debug(1).zip](https://github.com/xamarin/Xamarin.Forms/files/3215452/debug.1.zip)
@rkshnair  can you test with the attached nuget? If you're still seeing focus/crash issues with this attached nuget can you please log an issue so we can make sure the fast renderers are fixed and working for you

[2019-05-24 06:41] PureWeen commented on #6293
@davidortinau I feel like for this scenario we wouldn't use `HeaderContentPresenter` and `FooterContentPresenter`

In this scenario we would just allow users to define everything with one template.

If they want to supply there own template for the items then probably just create a
`<Shell.FlyoutItemsTemplate>`

It seems excessive to make them specify those presenters

[2019-05-24 07:48] simon10says opened #6297 "[Bug] Listview with custom viewcell renders wrongly after XF4.0 update"
### Description
I have a listview set to `RecycleElement`  with a `Grid` with 2 columns as the `ItemTemplate`. The 2nd column's width is set as `Auto`.  With Xamarin.Forms 3.6.0.344457, the 2nd column  (in yellow) renders correctly as shown below:
![36](https://user-images.githubusercontent.com/32186165/58310851-355cfc00-7e3a-11e9-997b-67aa8219b05d.jpg)

But, after update to 4.0.0.425677, the 2nd

[2019-05-24 07:57] Alkhajeh opened #6298 "[Bug] Shell NavBar BackgroundColor"
### Description

Navbar Color set using Shell.BackgroundColor is not accurate.

### Steps to Reproduce

1. Set background color of shell using Shell.BackgroundColor

### Expected Behavior
Correct color.

### Actual Behavior
Color is lighter than actual

### Basic Information

- Version with issue: 4.0.0.425677
- IDE: Visual Studio for MAC 8.0.7
- Platform Target Frameworks:
  - iOS:  12.2

[code]

[2019-05-24 08:02] andreinitescu commented on #4784
See #6299. Feedback is welcome.

[2019-05-24 08:16] TFreudi1 commented on #6283
I just created a sample project and added part by part from my solution to the Mainpage.xaml. I will upload a complete project where you can see th error.
![Forms4err](https://user-images.githubusercontent.com/4739177/58312953-be5d3e80-7e0c-11e9-99c9-2195df300bbf.png)
[CrossForms4Demo.zip](https://github.com/xamarin/Xamarin.Forms/files/3215806/CrossForms4Demo.zip)

[2019-05-24 08:17] GnanaPriyaNamasivayam commented on #1839
@samhouts , Can you please provide any workaround for this issue now until you fix this issue.  Is there any update on this. Please update us the details asap.

[2019-05-24 08:23] TFreudi1 commented on #6283
Ok, somehow there was a text "TODO: icon installieren" in that XAML I don't know how or whom placed there. Sorry.

[2019-05-24 08:23] #6283 closed

[2019-05-24 08:35] rasel-tr commented on #6296
@PureWeen , thanks for the quick reply. I'm attaching a striped version of my solution
[app.zip](https://github.com/xamarin/Xamarin.Forms/files/3215904/app.zip)

[2019-05-24 09:16] Happypig375 commented on #6038
It does not make sense that HeightRequest works when WidthRequest doesn't.

[2019-05-24 09:49] PaulITD commented on #6207
Also present in 4

[2019-05-24 09:56] MitchBomcanhao commented on #6297
I've similar issues on my project. Reorienting the device will calculate the layouts appropriately, but scrolling the list will start showing incorrect alignments and content being trimmed even though there is plenty of space for it.

[2019-05-24 10:07] rohitvipin opened #6300 "[Bug] X.F 4.0 Grid inside listview throwing null exception"
### Grid.MeasuredStarredColumns (System.Double widthConstraint, System.Double heightConstraint)
D:\a\1\s\Xamarin.Forms.Core\GridCalc.cs, line 436 throws System.NullReferenceException: Object reference not set to an instance of an object.

### Steps to Reproduce

1. Create a listview in XAML
2. Use ViewCell and place a Grid inside it with width *
3. Run and navigate to the view

### UI is loaded co

[2019-05-24 10:55] juanlao opened #6301 "[Bug] CarouselView, widthrequest and heightrequest issue"
### Description

Having a CarouselView control with a data template containing a grid does not inherit Width and Height values.

### Steps to Reproduce

1. Clone or download the sample I created on https://github.com/juanlao/xamarincarouselview
2. Run the sample

### Expected Behavior

Two carrouselView must be shown with the same images to do a carrouselView.

### Actual Behavior

Only the first

[2019-05-24 11:20] LeoJHarris commented on #5415
2nd this request. :+1:

[2019-05-24 12:06] MathewLC opened #6303 "[Bug] Material Entry sharing parent with button with font icon causes app to crash."
### Description
The losing focus of an entry with visual material, sharing the same parent that a button with font icon craches tha app.

### Steps to Reproduce
1. Specify a layout parent in page.
2. Put two or more entry with visual material.
3. Put a button with font icon.
4. Click on entry and after try to click on the other entry in the screen.

### Expected Behavior
The visual material of ent

[2019-05-24 13:50] rkshnair commented on #6282
The issue is still there with the given nuget package as well.

[2019-05-24 15:00] jalbertSyncroTech commented on #6297
Just reporting that I'm seeing this as well on Android with X.F 4.0: in a scroll-able menu with text of varying lengths it seems to be truncating text for new items with longer text to whatever the width was of the text in the cell it's recycling.

[2019-05-24 15:40] syedhoque89 commented on #6294
Thanks for raising it!!!

[2019-05-24 16:14] PureWeen commented on #6282
@rkshnair which issue?

The one referred to by the ticket? or

[2019-05-24 16:16] PureWeen commented on #6303
duplicate of
https://github.com/xamarin/Xamarin.Forms/issues/6260#issuecomment-495490890

There's a nuget in that issue if you want to test the fix

[2019-05-24 16:16] #6303 closed

[2019-05-24 16:30] MathewLC commented on #6303
Thank you, I will going to test. I didn't know if this was co-related.

[2019-05-24 16:46] PureWeen opened #6305 "[Bug] widen pit of success for dispose pattern implementations and cleanup currently incorrect ones"
### Description

Dispose should follow the following execution path everywhere
https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose#implementing-the-dispose-pattern-for-a-derived-class
[code]

### Call Dispose(false) from finalizer on base class
https://docs.microsoft.com/en-us/dotnet/api/system.idisposable?view=netframework-4.8#examples

### Possible cleanup op

[2019-05-24 16:54] hartez commented on #6305
You're missing the `if(disposing){}` in your pattern example.

[2019-05-24 16:55] hartez commented on #6305
So with your extension method, what would a `Dispose(bool disposing)` override look like?

[2019-05-24 17:03] cbradbaer commented on #5593
I don't know if it makes sense, because I have not used Shell yet.  But maybe there is a way to use all other elements of the App (besides Shell) for a UWP implementation.  After all using TabbedPage and MasterDetailPage would achieve the same thing, it seems.

[2019-05-24 17:08] PureWeen commented on #6305
@hartez updated example

[2019-05-24 17:28] hartez commented on #6305
I'm wary of this option, because then we run into possible issues with the order in which implementors call `base.DisposeRenderer()`. I think I prefer confining all disposal code to one place.

[2019-05-24 17:44] hartez commented on #6305
I think we'd be looking at a little bit of a performance hit, because it has to allocate a closure. And we'd be giving the GC more work to do.

I suppose the question is whether it's worth the extra hit to prevent us from incorrectly implementing Dispose. I feel like we could probably do that with a combination of reviews and maybe a Roslyn analyzer.

[2019-05-24 18:07] toomasz commented on #6260
@PureWeen Works good now

[2019-05-24 18:08] PureWeen commented on #6305
I like the `Roslyn analyzer.` approach
Seems like that should exist already :-) Edited the options and title a bit more

[2019-05-24 18:12] PureWeen commented on #6296
[TekEkranMin.zip](https://github.com/xamarin/Xamarin.Forms/files/3218089/TekEkranMin.zip)

@rasel-tr your included sample needed a little bit of modification to get running. I've included it. Once I had it up and running though it started up fine

I converted it over to package reference

Can you download this attachment and let me know how I can run it to see the crash you are seeing?

[2019-05-24 18:32] PureWeen commented on #2415
@TheBaileyBrew

is this what you're looking for?
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/shell/flyout#flyout-display-options

[2019-05-24 18:33] PureWeen commented on #2415
@BeleShew your question is probably better suited for stackoverflow or over at forums.xamarin.com

[2019-05-24 18:35] PureWeen commented on #2415
@PWaliaDev you would do that through the various Items collections that are part of shell

Shell.Items.Add(new ShellItem())
new ShellItem().Items.add(new ShellSection())
new ShellSection().Items.Add(new ShellContent())

Though I'm assuming if we fixed this issue
https://github.com/xamarin/Xamarin.Forms/issues/5428

that would suit your scenario?

[2019-05-24 18:37] PureWeen commented on #5790
@anthcool not yet I'm afraid :-/

[2019-05-24 18:38] davidortinau commented on #6293
Yeah, I suppose that's true. Probably not worth trying to integrated in the header/footer templates if providing a template for the whole flyout.

[2019-05-24 18:39] PureWeen commented on #6094
[code]

Can you elaborate the contents of the bottomtabbar in each scenario?

The thing to understand is that there is no connection between FlyoutItem1 and FlyoutItem2

They are two completely different screens of your application so whatever is visible (bottomtab bar, top tabbar) on flyout item 1 isn't going to be visible on flyoutitem2

If you want an identical bottom tab bar in flyout item 2 y

[2019-05-24 18:53] rasel-tr commented on #6296
@PureWeen , thank you for this extra conversion effort. When I run this solution on my phone with debug configuration, the app opens on the phone without crashing but showing toolbaritems' texts instead of the icons. This is my problem. See the below screenshot:
![toolbaritem](https://user-images.githubusercontent.com/6556734/58350365-58090800-7e6e-11e9-9f5c-7d17dfb4fa0f.jpg)

[2019-05-24 19:27] PureWeen commented on #6296
@rasel-tr

- I'm not super clear what you're saying worked in 3.6 but not 4.0. I tested reverting your solution to 3.6 but at that point ToolBarItem only takes a fileimagesource not embedded. So were you using a drawable before and now you're using embedded?
- Also you aren't using an appcompat theme which isn't using any of our appcompat renderes. The new ImageSource changes aren't going to work

[2019-05-24 19:27] #6296 closed

[2019-05-24 19:29] hartez commented on #5693
Yep, it's working in pre-Lollipop now, but it's broken in Lollipop.

[2019-05-24 19:48] czuck opened #6307 "[Bug] [Shell] [Android] Setting BackButtonBehavior IsEnabled to False causes an exception when loading page"
### Description
Setting BackButtonBehavior IsEnabled to False causes an exception when loading page on Android
### Steps to Reproduce

1. Download the Xaminals test app or similar app using Shell
2. Add the following lines to one of the animal detail pages such as BearDetailPage.xaml
[code]
3. Run the app and attempt to navigate to the page

### Expected Behavior
The page should actually load and

[2019-05-24 19:55] rdorta commented on #1342
Still experiencing same issue with 3.6.0.344457.
Listview binded to ObservableCollection inside a tab page. Throws the same error on the first object added to the collection.

[2019-05-24 20:14] PureWeen commented on #6247
Can anyone having this issue test with the nuget attached here?
https://github.com/xamarin/Xamarin.Forms/issues/6260#issuecomment-495490890

let me know if it still happens

[2019-05-24 20:47] rkshnair commented on #6282
Yes the same issue referred in the ticket.

[2019-05-24 20:47] jamesmontemagno opened #6308 "[Bug] No Drop Shadow on Xamarin.Forms Shell Android Bottom Tabs"
### Description
When setting bottom tabs background color we should get a nice drop shadow on Android.... This works today with TabbedPage see:

However, it doesnt' work with Shell from my findings:
![image](https://user-images.githubusercontent.com/1676321/58355738-371ec380-7e2a-11e9-90f9-918c060af8eb.png)

### Steps to Reproduce

1. Create shell on android with bottom tabs and background color

[2019-05-24 20:49] rkshnair commented on #6297
XF 4.0 is not stable it seems. There are lot of issues with Android Fast renderers. I am facing issues with  ListView, EditText, ScrollView etc.

iOS seems to be working fine. After the update my app started miss behaving completely.

[2019-05-24 20:58] PureWeen commented on #6282
@rkshnair With the attached Nuget

Does that fix the issue?

[2019-05-24 20:59] jalbertSyncroTech commented on #6297
@rkshnair Just a note that I also tested with fast renders disabled using the "UseLegacyRenderers" flag, and the ListView scroll text truncation issue still happens.
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/internals/fast-renderers#backwards-compatibility

[2019-05-24 21:00] PureWeen commented on #6297
I doubt this one is related to the fast renderers

[2019-05-24 21:03] PureWeen commented on #6297
@paymicro do you think this PR is related?

https://github.com/xamarin/Xamarin.Forms/pull/6115/files

[2019-05-24 21:05] PureWeen commented on #6282
@paymicro do you think this PR is related?

https://github.com/xamarin/Xamarin.Forms/pull/6115/files

[2019-05-24 23:07] PureWeen commented on #6276
duplicate https://github.com/xamarin/Xamarin.Forms/issues/6260

[2019-05-24 23:07] #6276 closed

[2019-05-24 23:28] jamesmcmenamin opened #6310 "[Bug][Android]Swipe Gestures do not work with Shell"
### Description
SwipeGestureRecognizer does not work with shell.
### Steps to Reproduce

1. Load app.
2. Swipe on Green box
3. Get no popup (If you tap you will get a popup still.)
4. Reset App.cs to MainPage = new SwipedaBox();
5. Load app.
6. Swipe on Green box
7. Get Pop up for direction swiped

### Expected Behavior
When MainPage = AppShell(); you should be able to use Swipe gestures still
Che

[2019-05-24 23:37] PureWeen commented on #6310
Most likely a duplicate of
https://github.com/xamarin/Xamarin.Forms/issues/6060

[2019-05-24 23:44] jamesmcmenamin commented on #6310
Could be same base issue.

I haven't messed about with PanGestures.

Only noticed this for SwipeGesture. And the Up/Down / Left/Right of the movement doesn't matter. Even if you keep the swipe within .2 it doesn't trigger.
Tapped works perfect.

[2019-05-24 23:47] PureWeen commented on #6310
I'm guessing android has issues with these gestures because by default it's nested in a ScrollView

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/Renderers/ShellContentFragment.cs#L115

Tap won't be affected by this but scrollview is going to gobble that right up

[2019-05-24 23:52] jamesmcmenamin commented on #6310
Now that you mention that I am putting my 25 cents on that is the cause.

[2019-05-25 00:10] PureWeen commented on #6310
https://github.com/xamarin/Xamarin.Forms/issues/5205

[2019-05-25 00:11] PureWeen commented on #6060
Android pages are by default inside a nested scrollview which is going to interfere with gestures

[2019-05-25 00:18] jamesmcmenamin commented on #6310
Great find!!!!! I am going to test this out on the Shell Git and report back if when I get this going.

[2019-05-25 02:15] lekia commented on #6264
[TestApp.zip](https://github.com/xamarin/Xamarin.Forms/files/3219019/TestApp.zip)
As you could see in the sample, I simply put the ControlTemplate contains only a single text but nothing else (including ContentPresenters) to a ContentPage, and put a text and a button to the Content of the ContentPage.
Usually we will not see anything in the Content but only text in the ControlTemplate, as UWP proj

[2019-05-25 04:27] jamesmcmenamin commented on #6310
Ok here is the skinny. You my friend are 100% correct it is because scrollview is swiping the swiper.

But here is the WORKING work around. Obviously this needs to have OnPlatform done for split views (since swiping is at least mostly working with iOS i haven't touched the renders there.)

Secondly its super super dirty atm I will do some cleaning on it tomorrow after I do some testing with how th

[2019-05-25 06:38] andreinitescu commented on #5415
See PR #6312

[2019-05-25 08:59] 1HPorange commented on #4510
If you can live with it: A nearly transparent ImageButton with `BackgroundColor="#01ffffff"` doesn't seem to have the same size issues as a fully transparent one.

[2019-05-25 10:07] DeepikaBalaSubramaniyan commented on #6281
Hi @XamarinQA

We have been waiting for your update whether are you confirmed this was an issue or any work around will be there to bind a text of Label from complex property ?

[2019-05-25 12:55] mzhukovs commented on #3310
I agree with @SuperCorks , then dev can **decide** whether to ignore and not fire release event if release occurred outside of button bounds.

[2019-05-25 16:01] HobDev commented on #6094
@PureWeen
Ok, take my repro project from above and make BottomtabBar visible in FlyoutItem1.

[2019-05-26 03:32] SagarPanwala commented on #1698
Guys,
Any update on this ?

[2019-05-26 10:28] xaruzim2155 opened #6313 "[Bug] [Android] ImageCell does not load image (4.0.0.425677)"
### Description

### Steps to Reproduce

1. Clone https://github.com/MicrosoftDocs/mslearn-display-collections-in-xamarin-forms-apps-with-listview
2. Open solution FlagFacts.sln in display-collections-in-xamarin-forms-apps-with-listview > exercise2 > final
2. Update Xamarin.Forms to 4.0.0.425677 for the solution
3. Run the FlagFacts.Android on Android Emulator (9.0, x86, API 28)

[2019-05-26 16:42] AntRemo commented on #4978
Hi @AntonEmelyancev

I too just ran into this issue on iOS. Were you ever able to work around it?

Thanks

Also not sure why it's assigned to the  `Android Ready For Work` project.

[2019-05-26 17:03] davidbuckleyni opened #6314 "[Enhancement] Ability to access folders via simple enumeration"
## Summary
I have time to time a requirment to write to the sd card and or downloads folder why can we not just simply have a folder enum like

## API Changes
At present I am using the following to copy db to a folder personal but the below options are not avaialbe to me

    public async Task<Boolean> copydb()
    {
            DatabasePath = Path.Combine(Environment.GetFolderPath(Environment.Spe

[2019-05-26 21:15] rkshnair commented on #6282
Not sure..

[2019-05-26 21:31] soooraj opened #6315 "ListView behave strange after updating XF to 4.0 in Android"
After updating XF package to 4.0.0.425677 my list view cells are not loading.

If there are 300 + items in the List View, It simply loads empty cell while scrolling.

Also the  the latest version of the XF 4.0.0.425677 is not stable at all. Especially for Android. I am facing issue with the following controls.

ListView - Not loading properly and the scrolling is not smooth. (Even some time crashe

[2019-05-27 04:31] thudugala commented on #6269
Issue still exist in VS 16.1.1

[2019-05-27 05:23] DeepikaBalaSubramaniyan commented on #6281
Hi @pauldipietro

Any update on this issue ?

[2019-05-27 06:24] andreinitescu commented on #6249
I gave some thought to this and I don't think it's worth adding a check whether the casting to View is going to work. I'm always for adding debug messages which spares our time and effort, but this isn't a good case.

1. It's unfortunate that the "ViewCell" name makes us think of a "View". "ViewCell" is actually an Element, it's not a View.
  All the built-in layouts StackLayout, Grid, FlexLayout

[2019-05-27 06:51] huyjack178 opened #6316 "Flyout item can not be hidden"
![image](https://user-images.githubusercontent.com/11793001/58400831-692c6180-8086-11e9-8c95-e0f2ba096c80.png)
![image](https://user-images.githubusercontent.com/11793001/58400846-70ec0600-8086-11e9-99ce-1678b11b4bf9.png)
I don't want to show "Home" item in Flyout. Can I do this?

[2019-05-27 07:11] divi1411 opened #6317 "FontImageSource Issue on navigation"
### Description

When FontImageSource is used in a page along with font icon for Button.Text property, on navigating back from that page and loading that page again font icon is displayed as box in Android.

### Steps to Reproduce

1. Open page with FontImageSource and Button with FontIcon
2. Return from the page
3. Repeat step 1, FontIcon will be displayed as box

### Expected Behavior

Font icon

[2019-05-27 07:12] georgethms10 commented on #2899
@samhouts  Is this issue actually solved, i am using xf 3.2 and i am getting this error frequently in my map renderer. Any fix for this issue

[2019-05-27 07:26] huyjack178 opened #6318 "How can I change title color of top tab item"
![image](https://user-images.githubusercontent.com/11793001/58402842-6b44ef00-808b-11e9-9c0e-9c64ac7e97f2.png)

[2019-05-27 08:42] SagarPanwala commented on #4996
Can anyone please brief what happened with 2nd review meeting and  where can we see the progress of CarouselView ?

Eagerly waiting on CollectionView and CarouselView.

[2019-05-27 09:51] StanleyBroo opened #6319 "Button click event always fire even when a button is hidden below an entry"
### Description

### Steps to Reproduce

1. Add a grid, add a button (fill the whole background with the button), add on top an editor center the editor so the button is behind it.
2. add click event to the button
3. Run the the xamarin forms app target Android 9.0
4.Click the editor textfield --->click event button fires?, why?

### Expected Behavior

### Actual Behavior

### Basic Information

-

[2019-05-27 10:59] jsuvanto commented on #3172
I propose a Position property. This property would hold the index of the current item. This would allow easy integration of [ViewPagerIndicator](https://developer.xamarin.com/samples/monodroid/ViewPagerIndicator/) and similar indicators.

I understand determining the "current item" can be tricky. If snapping is on, it should be pretty easy to determine to which item the view is snapped. Without sn

[2019-05-27 11:19] melimion commented on #6296
https://github.com/PureWeen, I think issue same as here:

https://github.com/xamarin/Xamarin.Forms/issues/6258

[2019-05-27 11:38] tobiasschulz commented on #6269
How is this not fixed yet? It is impossible to build anything using the STABLE version and a downgrade is NOT possible with the community version. Seriously?

[2019-05-27 12:05] Saravanan-QWC commented on #6247
Perfect, It works.

[2019-05-27 12:31] Brosten opened #6320 "[Bug] Try/Catch not working as expected using WHEN on Android"
### Description
Using a try/Catch including WHEN doesn't work as expected on Android. Ending up in unhandled exception

### Steps to Reproduce
[code]

### Expected Behavior
Should end up in second Catch

### Actual Behavior
Doesn't end up in any Catch, causing unhandled exception (terminating the app)

### Basic Information

- Version with issue: XF 4.0.0
- Last known good version: ?
- IDE: Visual

[2019-05-27 13:47] shumkis opened #6321 "[Bug] Rotated Xamarin.Forms.ScrollView"
### Description
When 180 degree rotation is added to scrollview. It fails to scroll properly if it contains several media files (pictures, gifs, etc.)

### Basic Information
- Version with issue: 4.0.0.425677
- Platform: Android 9.0

[2019-05-27 14:25] adrianknight89 commented on #6315
@soooraj I know for a fact that v4 was shipped while this regression was reported: #5838, which prevents me from upgrading my NuGet. As you indicate, there may be other issues with ListView on Android.

[2019-05-27 15:12] MaxenceSAUNIER opened #6322 "[Bug] Picker default color not work"
### Description
Picker.TitleColor = Color.Default();
OR
Picker.TitleColor =  (Color)Picker.TitleColorProperty.DefaultValue

Not return the default color for the Picker object

### Basic Information

- Version with issue: Xamarin.Forms pre-10

[2019-05-27 16:06] SebastianKruseWago opened #6323 "[Bug] IndexOutOfRangeException on TabbedPage with UWP (Forms 4.0)"
### Description
After updating to Xamarin.Forms 4.0 my UWP project is no longer able to show TabbedPages (IndexOutOfRangeException).

### Steps to Reproduce

1. Setup Xamarin.Forms 4.0 with UWP
2. Set SelectedTabColor, UnselectedTabColor, ... of the TabbedPage
3. Navigate to the TabbedPage

### Expected Behavior
No exception + working

### Actual Behavior
Crashes with this exception:

[code]

###

[2019-05-27 17:03] paymicro commented on #6297
@PureWeen this issue a bit related on PR #6115.

[2019-05-27 17:16] JakePorter05 commented on #5593
I also would vote for the ability to use UWP with Shell. In Xamarin.Forms 4.0 the docs no longer say it's just for IOS and android anymore. I got really excited, but the templates don't allow you to use it with UWP?

[2019-05-27 17:30] paymicro commented on #6282
@rkshnair Could you check the reproduction this issue with this test package?
https://github.com/paymicro/Xamarin.Forms/blob/paymicro-patch-1/.nuspec/Xamarin.Forms.9.9.5.nupkg

[2019-05-27 20:06] masonyc commented on #6320
#6269

[2019-05-27 20:10] dgerding commented on #5593
UWP please... or at least some flavor of Microsoft UX API we can depend on for a few years.  This approach of "we'll let you know if we might support it later" is just mean.

So, yes, UWP or whatever will support it but more importantly: A COMMITMENT TO WHEN WE'LL KNOW IF OR WHEN.

Can't move to forms without that certitude.

[2019-05-27 21:18] HankiDesign commented on #5575
I haven't been able to run it under the debugger yet but the issue seems to be with the manual calculation of the title element:

https://github.com/xamarin/Xamarin.Forms/blob/f98c5563af3fd46c7d8baa09a53691d49bbf714e/Xamarin.Forms.Platform.MacOS/NativeToolbarTracker.cs#L333-L337

macOS 10.14 introduced a new property for the NSToolbar, called [centeredItemIdentifier](https://developer.apple.com/do

[2019-05-27 21:25] TonyC5 commented on #6300
Observed  a related issue in Visual Studio 2019 for Mac / Xamarin.  Reverting to Xamarin.Forms.3.6.0.344457 fixes the problem.

- Exception: System.NullReferenceException
- Message: Object reference not set to an instance of an object.
- Source: Xamarin.Forms.Core
- Stack Trace: See attached
[stacktrace.txt](https://github.com/xamarin/Xamarin.Forms/files/3224997/stacktrace.txt)

[2019-05-28 02:17] filipeaugustosantos opened #6328 "SetNativeControl NullReferenceException >3.6.0.293080"
### Steps to Reproduce

1. Create custom LabelRender:
[code]
2. Update Xamarin.Forms above 3.6.0.293080
3. Run

### Expected Behavior
![IMG_0018](https://user-images.githubusercontent.com/36250590/58445997-54c38580-80d5-11e9-9e88-adacb3a9dd8d.PNG)

### Actual Behavior
NullReferenceException on `SetNativeControl(new TagUiLabel());`
### Environment

[code]

### Build Logs

No error or warnings in bu

[2019-05-28 05:52] Yuvaraj-007 commented on #5992
Hi @kingces95

Yes, I am also seeing the delay of scrolling performance. I didn't need this delay. In meantime check the same behavior status in the vertical orientation. There is no delay of loading the images in the scrolling. I need a same behavior in the horizontal scrolling.

**Note** : Using the this sample to run the MotoG4 device(OS version as 6.0 ) or Lenovo (OS version as 6.0) , The hori

[2019-05-28 06:00] denzerd opened #6325 "[Bug] CollectionViewRenderer, Control under iOS not of type UICollectionView"
### Description
According to the documentations https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/custom-renderer/renderers#views Xamarin Forms' CollectionView should be of type UICollectionView under iOS.
However when implementing a Customrenderer with the help of CollectionViewRenderer the Control is of type UICollectionViewControllerWrapperView.
It is difficult or can just

[2019-05-28 07:44] rkshnair commented on #6282
@paymicro The issue is still there.  With the latest package you provided.

[2019-05-28 07:47] MitchBomcanhao commented on #6323
I've had the same issue. This was introduced by https://github.com/xamarin/Xamarin.Forms/pull/4899 as far as I can tell.

Whenever we have a blank tabbed page and add items to its items source, the app will crash with said index out of range exception in the tabbed page renderer.

[2019-05-28 07:51] marcellangmaier commented on #6127
Experienced the same behaviour.

[2019-05-28 07:54] jepl4052 commented on #6300
Same issue here, just upgraded to 4.0.0.425677 and app just broke...
D:\a\1\s\Xamarin.Forms.Core\GridCalc.cs:436 throws System.NullReferenceException: Object reference not set to an instance of an object.
[stacktrace.txt](https://github.com/xamarin/Xamarin.Forms/files/3226188/stacktrace.txt)

[2019-05-28 07:55] MitchBomcanhao commented on #6317
I've got a related issue, where using fonts as image sources breaks them when used as text in other locations in the app. It can randomly fail in different bits of the app.

The workaround was to have two instances of the font file, one just used for font image sources and one just for using as text. Seems like some file access issue?

[2019-05-28 08:04] SebastianKruseWago commented on #6323
@MitchBomcanhao Another workaroud is to create the TabbedPageRenderer yourself (basicly a copy of the original one) and check the page count. You can find the original renderer here: https://github.com/xamarin/Xamarin.Forms/blob/37c22eb1cb64afc5d62b9386a50bb6090446a65a/Xamarin.Forms.Platform.UAP/TabbedPageRenderer.cs and the check needs to be implemented for line https://github.com/xamarin/Xamarin

[2019-05-28 08:04] rohitvipin commented on #3240
Is this somewhere fixed? Or still open?

[2019-05-28 08:33] EduardCampo commented on #6280
Just noticed this behaviour in my application. I was going to report it right away and saw it's already here. I have only tested this with nullable integers.

[2019-05-28 09:05] jepl4052 commented on #6247
@PureWeen

I stumbled upon this same issue when upgrading to 4 from 3.6, and going back to legacy renderers according to your suggestion solved my crashes!

[2019-05-28 09:07] jepl4052 commented on #6300
Stumbled upon the same issue when upgrading Xamarin Forms from 3.6 to 4, setting `Forms.SetFlags("UseLegacyRenderers");` in `MainActivity.cs` solved the issue (for now) for me.

[2019-05-28 09:45] anirbandebroy commented on #6214
I am not sure as i did not face any issue like this.Let me know if you need different solution to reproduce the issue I reported.

[2019-05-28 10:32] PawKanarek opened #6326 "[Bug] [CollectionView] [Android] Cells doesn't render Labels inside Row with "Auto" Height"
### Description
On Android, views inside CollectionView doesn't render some elements, such as Labels in the Grid Layout which have a Row with Height defined as Auto. I don't see this problem on iOS, or with rendering Labels inside Row with Absolute Height.

### Steps to Reproduce

1 . Run Android project from solution "CollectionViewTest"
Or
1 . Paste this code to your Application Class
[code]

##

[2019-05-28 10:53] RonnyBansemer commented on #5693
I'm having this issue on Api Level 22. Is there a workaround until it's fixed?

[2019-05-28 11:52] maexsp commented on #5516
A setting to diable UPPERCASE would be helpfull! For Android it works also if setting the Android styles.xml to <item name="android:textAllCaps">false</item>    but in iOS, UWP, WPF it has no effect. Please improve this.

[2019-05-28 12:00] zijianhuang opened #6327 "[Bug] Xamarin.Forms 4 (4.0.0.425677) fails Image in Button when resources are defined in Android class library"
### Description
To have multiple Android applications sharing the same resources mostly images, there's an Android class library containing the resources and assets, referenced by each Android app project. This has been working well with Xamarin.Forms 3.6 and previous versions. However, with Xamarin.Forms 4.0, images in buttons are not shown, while standalone images are shown.

### Steps to Reprod

[2019-05-28 12:10] GalaxiaGuy commented on #5516
This should probably be part of https://github.com/xamarin/Xamarin.Forms/issues/5005.

[2019-05-28 12:36] TonyC5 commented on #6300
@jepl4052 - Nice work.  I saw this MS doc that discusses backward compatibility of Xamarin.Forms Fast Renderers](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/internals/fast-renderers).  Looks like this "bug" is actually Xamarin.Forms 4 working as intended.

[2019-05-28 12:38] shubham-2710 commented on #2316
Hey, any update on this issue?

[2019-05-28 12:43] RonnyBansemer commented on #6247
In my case the problem was a not fully layouted forms view. There is a complex viewmodel with many bindings behind. Adding a delay solved my issue!

[code]

[2019-05-28 12:44] GalaxiaGuy commented on #6325
The `ViewController` property on `CollectionViewRenderer` is an `ItemsViewController`, which subclasses `UICollectionViewControler`. This might allow you to do what you want to do.

It seems actually getting hold of the real `UICollectionView` being difficult is just a "feature" of iOS:

https://stackoverflow.com/questions/18967928/uicollectionviewcontrollers-layout-ownership-self-collectionview-c

[2019-05-28 12:49] EmilAlipiev commented on #5787
Why dont you fix this serious problem such a long time? Do you suggest us not to use vs 2019 and continue with vs2017?

[2019-05-28 12:50] spouliot commented on #6328
`SetNativeControl` is part of XF (not XI) and the version mentioned also match XF

[2019-05-28 13:19] TheBaileyBrew commented on #2415
@PureWeen -- I've got the display options set per your link, but what I'm struggling with is closer to what @BeleShew is dealing with (creating/removing flyout items on a per user basis)

Fixing [#5428](https://github.com/xamarin/Xamarin.Forms/issues/5428) would fit what I'm looking to achieve.

My app has users with a multitude of roles/access and I need to programmatically show menu options only

[2019-05-28 13:43] RedasP opened #6330 "[Enhancement] SeparatorColor for BindableLayout"
## Summary

Could you introduce separator color feature for BindableLayout?

## API Changes

I would expect this feature to have the same API as ListView.SeparatorColor

## Intended Use Case

A separator would help making BindableLayout rows look more isolated

[2019-05-28 15:17] johnshardman opened #6331 "[Bug] Custom renderers are disposed but not finalized, resulting in managed memory leaks"
### Description
Custom renderers are disposed but not finalized, resulting in managed memory leaks

### Steps to Reproduce

1. Take any existing custom renderer.
2. Add a finalizer.
3. Add a breakpoint to the finalizer.
4. Run the app in the debugger and see if the breakpoint is ever hit.

(have asked in forums for somebody else to confirm before logging this issue, but to no avail)

### Expected

[2019-05-28 15:32] andreinitescu commented on #6330
BindableLayout is not for that, use a ListView/CollectionView

[2019-05-28 15:41] andreinitescu commented on #6240
This is fixed in the latest released v4.

[2019-05-28 15:58] daves1992 opened #6333 "Android WebClient.DownloadString Invalid URL Fatal signal 11"
Create a fresh app change App.xaml.cs to:

        public App()
        {
            InitializeComponent();
            var test = GetString();
            MainPage = new MainPage();
        }

        /// <summary>
        /// Downloads the encryption key for webservices.
        /// </summary>
        public static string GetString()
        {
            try
            {
                var c

[2019-05-28 16:20] samhouts commented on #5983
@davidbuckleyni  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-05-28 16:20] #5983 closed

[2019-05-28 17:05] chrisstaley opened #6334 "[Bug] iOS effect no longer works after upgrading to XF 4.0 since UIView.Bounds has no size in PlatformEffect.OnAttached()"
### Description
I created an effect to add a gradient background to a UI element that no longer works in iOS after upgrading to XF 4.0 (the effect continued to work on Android). The cause of the issue is that the `UIView.Bounds` property started returning a `CGRect` with no size in the `PlatformEffect.OnAttached()` method.

I am working around this issue by rolling back to XF 3.6.

### Steps to Re

[2019-05-28 17:29] marek-safar commented on #5787
@SamMonoRT could you check on this?

[2019-05-28 17:37] SamMonoRT commented on #5787
@alexanderkyte is taking a look and will report back here.

[2019-05-28 17:43] alexanderkyte commented on #5787
Since @orestesgaolin saw it on VS4M, I'll start by trying to reproduce it on OSX.

[2019-05-28 17:54] #5832 closed

[2019-05-28 17:55] #4700 closed

[2019-05-28 18:21] sebfrie commented on #2137
Is there anything going on with this issue? @BradChase2011's [PR](https://github.com/xamarin/Xamarin.Forms/pull/830) was rejected due to some failing unit tests two years ago but could someone please reevaluate the current situation? I'm unfortunately not able to. Highly appreciated!

[2019-05-28 19:05] vsfeedback opened #6335 "[Xamarin.UWP] A project cannot have more than one ApplicationXaml item"
<p>This error crops up from time to time since the last upgrade (15.8.4). There aren't two of them, of course. Absolutely nothing was changed about ApplicationXaml items. The project stays the same all the time. The error only goes away if I:<br><br>1. remove the ApplicationDefiniton build action of App.xaml<br><br>2. try to build (now I get the error of having no Main, obviously)<br><br>3. re-set

[2019-05-28 19:13] vsfeedback opened #6336 "xamarin forms app crashes when entry binded to numeric emptied with the keyboard"
VSF_TYPE_MARKDOWNi assume that this bug appears with 16.0.4. update because i have project uploaded to google play on 5 of may and it works as expected, but if i rebuild it with 16.1.0 or 16.1.1 it crashes
the second project was uploaded to google play on 25 of may and crashes, but never crashed before.
i rebuild both projects with VS 2017 (15.9.11) from the same codebase and they works as expecte

[2019-05-28 19:23] vsfeedback opened #6337 "Русский шрифт-Russian font"
<p>При использовании русского текста на кнопках (xamarin) при сборке проекта появляется ошибка **Error parsing XML: not well-formatted (invalid token)**</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/567764/русскии-шрифт.html
VSTS ticketId: 892537_
_These are the original issue comments:_

Wendy Wang [MSFT] on 5/14/2019, 07:19 PM (13 days ago): <p>

[2019-05-28 19:43] alexanderkyte commented on #5787
With VS4M 2019:

[code]

this same stack trace can be seen as part of https://github.com/xamarin/xamarin-android/issues/2966 , down to an identical native offset from that method. Investigating if it is a duplicate of this / if the debugging log there applies here.

[2019-05-28 19:50] samhouts commented on #6320
Duplicate of #6269

[2019-05-28 19:50] #6320 closed

[2019-05-28 19:58] samhouts commented on #6315
@soooraj  Can you please attach a small project that demonstrates this issue? Also, it would be helpful if you could submit separate issues for each problem that you're experiencing. Thanks!

@adrianknight89 Ah, I failed to label that one properly, so it slipped under the radar. Thanks for bringing it back to my attention!

[2019-05-28 20:11] samhouts commented on #6286
@kwaclaw Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-28 20:15] samhouts commented on #6277
Yep, this should be currently fixed in 4.0.0. Thanks!

[2019-05-28 20:15] samhouts commented on #6277
Duplicate of #5888

[2019-05-28 20:15] #6277 closed

[2019-05-28 20:16] samhouts commented on #6201
Yep, this should be currently fixed in 4.0.0. Thanks!

[2019-05-28 20:16] samhouts commented on #6201
Duplicate of #5888

[2019-05-28 20:16] #6201 closed

[2019-05-28 20:18] samhouts commented on #6251
Duplicate of #3864

[2019-05-28 20:18] #6251 closed

[2019-05-28 20:19] #6240 closed

[2019-05-28 20:22] samhouts commented on #6233
Duplicate of #6154

[2019-05-28 20:22] #6233 closed

[2019-05-28 20:23] samhouts commented on #6228
@RongonC  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-28 20:25] samhouts commented on #6215
@priyaJR  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-28 20:30] kwaclaw commented on #6286
It may take a while before I get to it. in the meantime my explanation of
the fix should be a good indicator of what the issue is.

On Tue., May 28, 2019, 4:11 p.m. Samantha Houts, <notifications@github.com>
wrote:

[2019-05-28 20:51] alexanderkyte commented on #5787
Workaround:

Put
[code]

into the .csproj .

My emulator is a bit slow to launch it, but it definitely doesn't crash, whereas previously it crashed quite often.

@brendanzagaeski it looks like the fix for that bug didn't make it to upstream / that the fix didn't fix it.

Looking at the IR files in question:

[code]

With workaround:
https://gist.github.com/alexanderkyte/0062c6f84d255b7fe42def098b9

[2019-05-28 20:56] vargaz commented on #5787
Do the emitted files have the layout attribute ? Is it the same as the one passed on the opt command line ?

[2019-05-28 20:58] alexanderkyte commented on #5787
https://gist.github.com/alexanderkyte/5b665596823ebe81987ff053c8aaaa34

@vargaz no it looks like we don't have any layout attributes baked into the .bc file

[2019-05-28 21:01] brendanzagaeski commented on #5787
@alexanderkyte  (cc @vargaz), what version of the Xamarin.Android SDK are you testing with?

When I was working on the release notes for the Xamarin.Android SDK version 9.3, my understanding was that the fix to emit the layout attribute was only included starting in Xamarin.Android SDK version 9.3 and higher. At the moment that version is not yet published to the **Stable** updater channel in Visu

[2019-05-28 21:01] alexanderkyte commented on #5787
@vargaz are we sure that the fix is in VS2019?

[code]

[code]

but
https://github.com/mono/mono/commits/2018-08

is way ahead of that.

Let's confirm that your fixes are in there.

[2019-05-28 21:02] alexanderkyte commented on #5787
@brendanzagaeski ah, I was reproducing with Stable, because it seemed that everyone else here was reporting issues around the Stable release (`VS2019 (16.0.2)` ).

[2019-05-28 21:04] alexanderkyte commented on #5787
@brendanzagaeski let me try to reproduce with XA from Preview

[2019-05-28 21:06] tobiasschulz commented on #5787
I'm having the issue with VS2019 on windows 16.1.1

[2019-05-28 21:17] alexanderkyte commented on #5787
VS2019 from preview using:
[code]

Does not reproduce this issue, and the resulting app seems very stable.

[2019-05-28 21:34] brendanzagaeski commented on #5787
I double-checked the behavior on Visual Studio 2019 version 16.1.1 on Windows and was able to successfully run the app built with AOT Compilation and LLVM enabled on an arm64-v8a device.

@tobiasschulz I suspect you might be seeing a different but similarly problematic crash <https://github.com/xamarin/xamarin-android/issues/3112>. That crash affects a wider number of scenarios because it does not

[2019-05-28 21:47] haavamoa opened #6338 "[Enhancement] Tap and hold gesture"
## Summary
Today I implemented my own Tap and hold effect in order to tap and hold an item in a list to trigger a `ICommand`. I was wondering if you could make this a part of the shared Xamarin.Forms code. (like the other gestures we have available) (https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/gestures/)

Here is my implementation :
haavamoa/TeamTimer@1fa625a

Read; I h

[2019-05-28 21:47] haavamoa opened #6339 "[Enhancement] Tap and hold gesture"
## Summary
Please provide a brief summary of your proposal. Two to three sentences is best here.

## API Changes

Include a list of all API changes, additions, subtractions as would be required by your proposal. These APIs should be considered placeholders, so the naming is not as important as getting the concepts correct. If possible you should include some "example" code of usage of your new API

[2019-05-28 21:48] #6339 closed

[2019-05-28 22:08] rmarinho opened #6340 "[Enhancement] Allow NavigationDelegate on iOS WKWebView renderer"
## Summary
Provide a way to specify a `NavigationDelegate` on `WKWebView`

A common scenario for developers is use our Webview to visit a login page on the localhost backend. On iOS this is very hard since the restrictions applied by Apple, even the settings on the .plist don't help using the WebView.
Developers might want to override other methods of the `UIDelegate` or `NavigationDelegate`  in t

[2019-05-28 22:31] brendanzagaeski commented on #6333
Thanks for the report and the test case! I can confirm that this behavior has the same native backtrace as <https://github.com/xamarin/xamarin-android/issues/3112>, so I will close this Xamarin.Forms issue as a duplicate of that issue. The fix will require a new version of Xamarin.Android that will be based on a new version of the Mono runtime and debugger. (The Xamarin.Forms NuGet package version

[2019-05-28 22:31] #6333 closed

[2019-05-28 23:13] samhouts commented on #6267
@norton287  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-28 23:23] samhouts commented on #6300
[Issue6300.zip](https://github.com/xamarin/Xamarin.Forms/files/3230083/Issue6300.zip)

@rohitvipin  I was unable to reproduce this. Can you please alter the attached solution such that it demonstrates the issue? Thanks!

[2019-05-29 00:22] samhouts commented on #6323
[Issue6323.zip](https://github.com/xamarin/Xamarin.Forms/files/3230222/Issue6323.zip)

[2019-05-29 00:31] PureWeen commented on #6300
duplicate of https://github.com/xamarin/Xamarin.Forms/issues/6247

[2019-05-29 00:31] #6300 closed

[2019-05-29 00:34] PureWeen commented on #3480
Reference implementation
https://github.com/xamarin/Xamarin.Forms/issues/6338

[2019-05-29 00:35] PureWeen commented on #6338
@haavamoa we have a spec for this behavior here
https://github.com/xamarin/Xamarin.Forms/issues/3480

I've referenced your body of work there so we can possibly use some of it with the Long Press implementation

[2019-05-29 00:35] #6338 closed

[2019-05-29 00:47] PureWeen commented on #6315
I'm guessing all lot of what you list will be fixed by this PR

https://github.com/xamarin/Xamarin.Forms/pull/6274

You can test the Nuget here
https://github.com/xamarin/Xamarin.Forms/issues/6260#issuecomment-495490890

as far as the custom navigation bar

Not sure on that one. If you have a repro of that it would be useful

[2019-05-29 00:50] #5801 closed

[2019-05-29 00:53] #4879 closed

[2019-05-29 01:19] #6072 closed

[2019-05-29 01:21] PureWeen commented on #6331
My guess is that this is happening because we mostly call SuppressFinalizer from the dispose so the finalizer isn't going to be called

https://github.com/xamarin/Xamarin.Forms/blob/d7bfb0cb7bdbea47a09c228550e64541184fe9b9/Xamarin.Forms.Platform.UAP/VisualElementRenderer.cs#L263

If you're looking to demonstrate that the code is leaking I would recommend using Xamarin Profiler, Android Studio, UWP

[2019-05-29 01:53] #5693 closed

[2019-05-29 01:53] #6197 closed

[2019-05-29 01:53] #6262 closed

[2019-05-29 01:53] #6260 closed

[2019-05-29 03:46] SagarPanwala opened #6341 "[Bug] Images disappear on collectionview scroll Xamarin Forms with FFImageLoading"
### Description
- I implemeneted experimental collectionview with Xamarin Forms 4.0, images are loading when app launched but after we scroll images are getting disappeared.
I'm not sure this is the issue of CollectionView or FFImageLoading , so posting in both github Repo.
To Track : https://github.com/luberda-molinet/FFImageLoading/issues/1286

### Steps to Reproduce

1. - On scroll of collectio

[2019-05-29 04:30] haavamoa commented on #6338
Allright, thank you for the quick reply!

[2019-05-29 05:30] dineshmahajan commented on #1730
Hi is CameraView for now is stable enough to implement I wanted it to record video

[2019-05-29 08:29] Zure1 commented on #1412
Still having a problem which might be related to this issue. I'm having two DataTriggers for a BackgroundColor Property for a boolean (true/false). When calling PropertyChanged and the value has changed, BackgroundColor is set to default, even tho my triggers are assigned like this:

true = red
false = white

Using Xamarin.Forms 3.4.0.1029999

[2019-05-29 10:33] johnshardman commented on #6331
Thanks @PureWeen.

GC.SuppressFinalize should only be called by classes that have a finalizer. VisualElementRenderer does not have a finalizer. Any call to GC.SuppressFinalize should be in a Dispose override in a derived class. Hence, if somebody implements a custom renderer without a finalizer, they don't need to call GC.SuppressFinalize. If somebody implements a custom renderer with a finalizer,

[2019-05-29 10:40] johnshardman commented on #6331
BTW - even if things are kept the way they are, there are still odd cases where a finalizer does get called. I've just been testing on UWP, and in the test run 2771 renderer instances were created. All were Disposed, and 3 were finalized. I've seen this in testing previously, so it would seem that even if suppression is kept in the base class, there are execution paths that miss that suppression.

[2019-05-29 11:10] ShaggyPanchal commented on #5747
Replicated.

**System Information**
Visual Studio: 16.1.1
Xamarin.iOS and Xamarin.Mac SDK version: 12.10.0.153(750a879)
Xamarin.Forms version: 4.0.0.425677
Xamarin.Forms.Visual.Material version: 4.0.0.425677

[2019-05-29 11:19] johnshardman commented on #6331
I have confirmed that the GC.SuppressFinalize is the cause of the problem, by adding GC.ReRegisterForFinalize(this); into the Dispose override in each custom renderer. Having done that, the finalizers are being executed. Whilst this works, it would still be better to remove GC.SuppressFinalize from VisualElementRenderer (and potentially elsewhere)

[2019-05-29 11:45] aljaiban opened #6342 "[Bug] Shell FlowDirection follows Device FlowDirection in all cases."
### Description
When setting the FlowDirection on Shell to RTL, it only take effects if the Device FlowDirection is the same i.e. RTL. When the Device FlowDirection is LTR and you set Shell FlowDirection to RTL, it does not work

### Steps to Reproduce

I tried the following scenario on Android emulator:

Shell: Explicit RightToLeft
Page: MatchParent

When device region is Arabic/SA (RTL) : The Sh

[2019-05-29 11:52] zijianhuang opened #6343 "[Bug] Xamarin.Forms 3.6 and Xamarin.Forms.Visual.Material 3.6 failed with exception when resources are defined in Android class library"
### Description

To have multiple Android applications sharing the same resources mostly images, there's an Android class library containing the resources and assets, referenced by each Android app project. This has been working well with Xamarin.Forms 3.6. However, after introducing Xamarin.Forms.Visual.Material 3.6, the app fails at `LoadApplication(new App());`

### Steps to Reproduce

https://

[2019-05-29 11:54] zijianhuang commented on #6327
I had just filed #6343 which might be related to this issue. After you Xamarin team fixing this, please ensure things work well with Xamarin.Forms.Visual.Material 4.

[2019-05-29 12:36] norton287 commented on #6267
Here is a link to the repo with the test apps @samhouts.

[https://github.com/norton287/ColorPickerTest](https://github.com/norton287/ColorPickerTest)

[2019-05-29 13:43] ravinderjangra commented on #4815
I'm having the same issue. Any update on this? Also @ats124's suggestion makes sense. I can raise a PR with same.

[2019-05-29 16:09] PureWeen commented on #6331
Looking through the code it does seem like only UAP Suppresses that finalization in the base class which does seem incorrect.  Most of the other suppress cases

In your title you say this

Were you making this statement because of no call to the finalizer? or are you seeing renderers actually sticking around in memory? One thing to note about UAP is that the ListView is a bit buggy and leaky. We h

[2019-05-29 16:22] godrose opened #6344 "[Bug] Shell crash"
### Description

### Steps to Reproduce

1. Use the following code for shell/bridge activity
[code]

2. Use the following code for main activity

[code]

3. Use the following code for startup object
[code]

4. Use the following code for the Bootstrapper
[code]

5. Use the following markup for the shell view
[code]

6. Use the following code for the shell view model
[code]
7. Start the app

### Exp

[2019-05-29 16:23] johnshardman commented on #6331
The "resulting in managed memory leaks" was a misinterpretation of what is going on. I meant that the finalizer wasn't being called, which I was assuming was a leak, but turns out not to be the case. The finalizer suppression should still be removed though.

[2019-05-29 16:24] samhouts commented on #6342
Duplicate of #6227

[2019-05-29 16:31] samhouts commented on #3185
@StephaneDelcroix Do you see an issue with exposing a version of `SetValue`? Thanks!

[2019-05-29 16:38] jamesmcmenamin commented on #5500
Are you sure this is a error.... If you set the slider to Mode=TwoWay it works just fine.

[2019-05-29 16:46] Goksly commented on #5500
Surely the Visual property shouldn't change the behaviour? It works fine with default... so why would I need to change the binding mode if I go with material (I've not tried it - just making a statement)...

[2019-05-29 16:55] jamesmcmenamin commented on #5500
Probably cause the default in material is oneway. either way it works in the Playground posted above.

Why is it with default you can do on appearing but with visual="material" it will crash the app... same issue different cupcake.

[2019-05-29 17:03] aljaiban commented on #6342
@samhouts  Not duplicate. In case of 6227 the Device FlowDirection is the same as the Shell Flow Direction and both are RTL.

In this case, the Shell menu appear LTR  even Shell is specified as RTL (Device is LTR.)

[2019-05-29 17:22] BlueFire-LLC commented on #4455
Ok, you guys owe me a cold one. After 6 months of staying on version 3.2 I finally had time to figure out what's going on. So I just spent the last two days going through all sorts of gyrations. I began with the Triage app you provided that works and my app that does not. I started pairing down my app (it's pretty big) to just the Android project. I then started adding to the Triage app to see if

[2019-05-29 18:37] StephaneDelcroix commented on #3185
I'm not comfortable to open the SetValue overload, as it prevents future work on that area.

OTOH, if I'm not open to the solution proposed here, I'm all ears to the problem. I might miss something here, but it looks like you should be able to do that using defaultValue or defaultValueCreator, unless you inherit your control from one of ours.

Setting the default values in the default constructor

[2019-05-29 19:18] brminnick opened #6346 "[Bug] Xamarin.iOS.CoreAnimation.CATransaction.Commit SIGSEGV"
### Description

SIGSEV when calling `Xamarin.iOS.CoreAnimation.CATransaction.Commit` (perhaps when calling [`Xamarin.Forms.Platform.iOS.CADisplayLinkTicker.StartThread()`](https://github.com/xamarin/Xamarin.Forms/blob/bd31e1e9fc8b2f9ad94cc99e0c7ab058174821f3/Xamarin.Forms.Platform.iOS/CADisplayLinkTicker.cs#L61)).

May be a similar race condition to [Issue #1755](https://github.com/xamarin/Xamari

[2019-05-29 19:21] hshristov commented on #3185
@StephaneDelcroix There are two problems here:

- First we have composite controls (control that is build from other controls) and we want to be able to set values on those inner controls but still allow developers to use implicit styles in order to restyle these controls
- The second problem is about theming. We want to be able to change the values of some BindableProperties so that our controls

[2019-05-29 20:38] b-straub opened #6347 "[Bug] Nightly builds are not updated"
### Description

Nightly builds are not updated each day as the name suggests.

### Steps to Reproduce

Check [Latest nightly build](https://myget.org/feed/xamarinforms-ci/package/nuget/Xamarin.Forms)

### Expected Behavior

The automatic build system should release a nightly build each day.

### Actual Behavior

The latest nightly build has been submitted Sat, 27 Apr 2019.

### Basic Information

[2019-05-29 20:43] adrianknight89 commented on #6347
I agree that build is complex and the Azure DevOps side has not been explained properly. See #5815.

As for nightly builds, I'd expect to see a new build at the end of the day every time the master branch is different from the latest nightly. This doesn't necessarily mean a new build every night if there are no check-ins to master since the last build.

[2019-05-29 20:57] adrianknight89 commented on #6314
Wondering if this should be part of the Essentials package. @jamesmontemagno

[2019-05-29 21:21] samhouts commented on #5308
closed by #6068

[2019-05-29 21:21] #5308 closed

[2019-05-29 21:30] brminnick commented on #6346
I should note that the app is **not** using `On<iOS>().SetHandleControlUpdatesOnMainThread(true);` [as suggested here](https://github.com/xamarin/Xamarin.Forms/pull/3774).

I am adding this to the next release of my app using Xamarin.Forms v4.0.0.425677 and will monitor it to see if the crash no longer happens.

[2019-05-29 22:30] OccamsTacKnife commented on #6203
I was having the same issue with these versions of Xamarin Forms and SfListView. There were some other SyncFusion controls in my project that hadn't updated. Updating all SyncFusion packages to version 17.1.0.47 resolved my issue.

[2019-05-29 22:31] vsfeedback opened #6348 "Xamarin MasterDetailPage tap to dismiss does not work on tablets"
Using Xamarin.Forms 3.1.0.583944, I create a MasterDetailPage using the PopOver behavior. The page works as expected on Android and iOS phones. However, on Android tablets I am unable to tap off of the page to dismiss the menu - I have to slide the page away using the gesture.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/363514/xamarin-masterdetailpa

[2019-05-29 22:32] vsfeedback opened #6349 "Xamarin forms (3.3.0.912540) on Android - Custom PickerRenderer Control.Click stops working on first user's click"
On Android - Custom PickerRenderer Control.Click stops working on first user's click.<br><br>After updating nuget packages from Xamarin forms 3.2 to 3.3.0.912540.<br><br>The Xamarin Forms Picker dialog for Android has been changed by updated nugets (the UI design is kind of looking more the same how it looks on iOS). So there has been changes to Picker.<br><br>We are using a Custom PickerRenderer<

[2019-05-29 22:37] vsfeedback opened #6350 "xamarin forms 3.6 shell crash"
VSF_TYPE_MARKDOWNJust creat new xamarin forms app then choose shell as template.
Run the app directly without any change on real deivce or emulator.
Keep pressing on the &quot;Browse&quot; tab then &quot;About&quot; tab (switch fast between tabs)
repeate this step more than 8 times
the app will close with no error and even depugger will not catch anything.

_This issue has been moved from https://

[2019-05-29 22:40] vsfeedback opened #6351 "Xamarin Forms: WebView in a ScrollView - Can't scroll webview content because scrollview grabs the gesture"
VSF_TYPE_MARKDOWN```XML
            &lt;ScrollView
                x:Name=&quot;masterScroll&quot;
                HorizontalOptions=&quot;StartAndExpand&quot;
                VerticalOptions=&quot;StartAndExpand&quot;
                BackgroundColor=&quot;Fuchsia&quot;&gt;
                &lt;!--#region Limited web browser with authentication--&gt;
                &lt;controls:AuthWebView

[2019-05-29 22:41] vsfeedback opened #6352 "Xamarin Xamarin.Forms.Maps.Pin GetHashCode makes use of mutable fields"
<p>The implementation of Pin.GetHashCode is:</p><pre>public override int GetHashCode()
{
    unchecked
    {
        int hashCode = Label?.GetHashCode() ?? 0;
        hashCode = (hashCode * 397) ^ Position.GetHashCode();
        hashCode = (hashCode * 397) ^ (int)Type;
        hashCode = (hashCode * 397) ^ (Address?.GetHashCode() ?? 0);
        return hashCode;
    }
}
</pre><p>The problem with th

[2019-05-29 22:51] InquisitorJax commented on #6247
Using the Legacy Renderers work-around - my app launches without crashing - but unfortunately something is running in the background that freezes the app:

Looks like some sort of memory leak: (Works just fine when rolling back to 3.X Forms)

R_BRIDGE bridges 859 objects 859 opaque 0 colors 859 colors-bridged 859 colors-visible 859 xref 0 cache-hit 0 cache-semihit 0 cache-miss 0 setup 0.06ms tarja

[2019-05-29 22:55] samhouts commented on #6350
Duplicate of #6174

[2019-05-29 22:55] #6350 closed

[2019-05-29 22:57] samhouts commented on #6351
This would probably be resolved by #2680

[2019-05-29 23:00] jgold6 opened #6353 "[Bug] [iOS] If ListView.BeginRefresh is called from the SearchBar.SearchButtonPressed event handler, top items in the list are hidden by the search bar."
### Description
On iOS, if ListView.BeginRefresh is called from the SearchBar.SearchButtonPressed event handler, the top items in the ListView are hidden when the refresh completes.

This does not happen on Android. There is a similar, but different bug that also occurs only on iOS here: https://github.com/xamarin/Xamarin.Forms/issues/5918
The above bug may be related to this bug.

### Steps to Re

[2019-05-29 23:01] samhouts commented on #6346
@brminnick Can you reproduce this with a small sample app, or just MondayPunday? Thanks!

[2019-05-29 23:10] samhouts commented on #4203
closed by #6068

[2019-05-29 23:10] #4203 closed

[2019-05-29 23:48] samhouts commented on #6084
@DanielSchmitt94 Are you saying that the repro that you linked to does not crash, but your confidential project still crashes even when you've installed according to the documentation?

[2019-05-30 00:22] jamesmontemagno commented on #6314
That would be something part of Xamarin.Essentials. We already have App and Data directory:

https://docs.microsoft.com/en-us/xamarin/essentials/file-system-helpers?context=xamarin%2Fxamarin-forms&tabs=android

I don't think we would do more than that though as it gives you access to everything today. However, we are open to ideas and implementation details to be proposed over at http://github.com

[2019-05-30 00:33] PureWeen commented on #4455
@BlueFire-LLC so that issues comes from the android tooling and not our side

If you look at the documentation for linting a manifest file from android
https://developer.android.com/studio/write/lint

That's one of the examples
[code]

you can even test this locally by manually running the linter

[code]

Off hand I'm not sure the direct effect of specifying that order incorrectly. I'm guessing th

[2019-05-30 00:36] samhouts commented on #6307
[Issue6307.zip](https://github.com/xamarin/Xamarin.Forms/files/3234961/Issue6307.zip)

Tap on an item in the list to try to navigate to the page. CRASH!

[code]

[2019-05-30 00:40] samhouts commented on #4189
@Mvassli Are you still experiencing this issue? If so, can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-30 00:46] #4550 closed

[2019-05-30 00:47] #4478 closed

[2019-05-30 00:49] #3945 closed

[2019-05-30 00:50] samhouts commented on #3950
@bgege Are you still experiencing this issue?

[2019-05-30 00:57] samhouts commented on #6203
Thanks @OccamsTacKnife!

[2019-05-30 00:58] samhouts commented on #6182
Can anyone please attach a small project that demonstrates this issue? Thanks!

[2019-05-30 01:21] brendanzagaeski commented on #6336
Thanks for the report and the test case! I can confirm that this behavior has the same native backtrace as <https://github.com/xamarin/xamarin-android/issues/3112>, so I will close this Xamarin.Forms issue as a duplicate of that issue. The fix will require a new version of Xamarin.Android that will be based on a new version of the Mono runtime and debugger. (The Xamarin.Forms NuGet package version

[2019-05-30 01:21] #6336 closed

[2019-05-30 03:50] DineshBabuYadav commented on #6275
@samhouts , Can you please update on this?

[2019-05-30 04:05] mfeingol opened #6355 "[Bug] Xamarin Forms 4 regression: ListView display glitches"
### Description

Set up a grouped listview where tapping a group title toggles the presence/absence of content in the group. If you tap on groups enough, you'll start seeing glitches in how the ListView displays its content, like random whitespace replacing collapsed group titles.

This same scenario works fine with XF 3.6.0 with the FastRenderers_Experimental flag enabled.

I should add that this

[2019-05-30 05:52] andreinitescu commented on #6352
The same as this one I opened two months ago: https://github.com/xamarin/Xamarin.Forms/issues/5690
If you could just let me know if it's OK to remove `Equals`, I could submit a PR.

[2019-05-30 06:06] PureWeen commented on #5690
Did you witness the double removal behavior @andreinitescu on multiple platforms?

Looking at the implementations it looks like with android and iOS since it uses the marker id it'll remove correctly

https://github.com/xamarin/Xamarin.Forms/blob/2c48f4aba6ca75b7735cfda4f30d7a637f4ce54c/Xamarin.Forms.Maps.Android/MapRenderer.cs#L280
https://github.com/xamarin/Xamarin.Forms/blob/2c48f4aba6ca75b7735

[2019-05-30 06:06] PureWeen commented on #6352
per @andreinitescu 's note I'm closing this one

[2019-05-30 06:06] #6352 closed

[2019-05-30 06:10] Yuvaraj-007 commented on #5992
Hi Team,

Any update on this issue?

Regards,
Yuvaraj C

[2019-05-30 07:12] andreinitescu commented on #5690
Yes, you're correct, the native pins are removed correctly. But the issue is at the Forms level, and it's with the Pin element, when it's removed from the Pins property of the Map.

For example, suppose we have pinA and pinB, and both have the same Pin properties which Equals uses (Label, Position, Type and Address):

[code]

This is because IList.Remove uses Equals.
https://docs.microsoft.com/en-

[2019-05-30 07:34] asj-it commented on #5714
This almost works on Android, the text color changes on Android, along with the underline color but the background color does not change.

[2019-05-30 07:55] andreinitescu commented on #5690
I don't understand why Equals uses those properties. It should at most use only the MarkerId property.

A separate issue: I don't understand why the MarkerId setter is public. It's actually set by the renderers:
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Maps.Android/MapRenderer.cs#L249

https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.maps.pin.markerid?view=xamari

[2019-05-30 07:56] awattar commented on #6129
Just create new Forms project add empty proguard rules file with proper build action, check proguard config in the project configuration then build for debug.

[ProguardTest.zip](https://github.com/xamarin/Xamarin.Forms/files/3235984/ProguardTest.zip)

[2019-05-30 09:37] RabhiaBehamK opened #6356 "Components inside Table view is not focusable"
### Description

Components inside Table view ViewCell is not getting focussed.

### Code Snippet

<TableView Intent="Form"> <TableView.Root> <TableSection Title="Getting Started"> <ViewCell > <StackLayout Orientation="Horizontal"> <native:customEdit IsEnabled="true" HorizontalOptions="FillAndExpand" /> <Entry Text="Select"/> </StackLayout> </ViewCell> </TableSection> </TableView.Root> </TableView

[2019-05-30 09:47] PawKanarek opened #6357 "[Enhancement] [CollectionView] Allow ItemTemplate to set SpanSize in grid layout mode"
## Summary
CollectionView right now (X.F 4.0.0.425677) doesn't have option to set ColumnSpan/RowSpan for ItemTemplates in Vertical/Horizontal grid layout mode.

## API Changes

In Android [GridLayoutManager](https://developer.android.com/reference/android/support/v7/widget/GridLayoutManager) there is option to set [SpanSizeLookup](https://developer.android.com/reference/android/support/v7/widget/G

[2019-05-30 10:00] davidbuckleyni commented on #6314
Hi @jamesmontemagno  Love your shows by the way. The thing I find hard is getting my db from those folders for quick testing unless you new a way I can copy the db to the downloads folder using xamrian forms ?.

I am creating a cross-platform stock transfer and scanning app using xamrian forms for a major medical group in Belfast here.

I cant use azure cause of their budget on the orignal project

[2019-05-30 10:00] ederbond commented on #1600
@davidortinau can you guys consider this a new F100000000000000?

[2019-05-30 10:12] SagarPanwala commented on #3679
Android also Height is getting chopped.

[2019-05-30 10:26] SagarPanwala commented on #3644
What about removing top and bottom margin of TitleView in Android ? Left margin is remove by the work around.

[2019-05-30 11:55] mohamadayash commented on #6227
Hello I have the same problem
![IMG_1808](https://user-images.githubusercontent.com/11196273/58631354-fcfe6780-82ea-11e9-9733-3a40552d5962.PNG)

[2019-05-30 12:08] IoTFier commented on #3644
@samhouts - does XF 4.0 has the GA version of the titleView as you mentioned above in ref to #3644  ?

Thank you.

[2019-05-30 12:17] bgege commented on #3950
@samhouts No, because I havent touched done any X-platform Xamarin development in a long time, only apps that target a single platform. So I cannot confirm if this isssue still exists.

[2019-05-30 15:16] dotfig opened #6359 "[Enhancement] Be able to Close a DisplayAlert() programmatically without user input"
## Summary
The DisplayAlert() should be capable of canceling and removing it from the screen without any user input.

## API Changes

    var alert = DisplayAlert("Success", "Do you want to continue?", "yes", "no");
    alert.Cancel();

## Intended Use Case
[code]

If the user does not respond to the display alert in 30 seconds, I set the bool to false but I cannot currently close the display aler

[2019-05-30 15:16] dotfig opened #6360 "[Enhancement] Be able to Close a DisplayAlert() programmatically without user input"
## Summary
The DisplayAlert() should be capable of canceling and removing it from the screen without any user input.

## API Changes

    var alert = DisplayAlert("Success", "Do you want to continue?", "yes", "no");
    alert.Cancel();

## Intended Use Case
[code]

If the user does not respond to the display alert in 30 seconds, I set the bool to false but I cannot currently close the display aler

[2019-05-30 15:17] #6360 closed

[2019-05-30 15:19] chkn opened #6361 "[Bug] InvalidCastException when setting `border-radius` in CSS"
### Description

There is an `InvalidCastException` thrown when setting `border-radius` in CSS. It doesn't always occur, but I have been able to reproduce it with a Button that causes a Frame to be added to the layout (see attached test case)

### Steps to Reproduce

1. Download and run the attached test case
2. Click the button
3. Note the exception

Note that I've only tested with the iOS head,

[2019-05-30 15:51] wesoos commented on #5755
The flickering is still happening when using GoToAsync

[2019-05-30 15:52] LaloCo opened #6362 "[Bug] Shell's GoToAsync doesn't update top tabbar's bold tab (iOS only)"
### Description
On iOS, when using GoToAsync to navigate from one -top- tab to another, the top TabBar still marks the origin tab as bold, but the navigation does happen. The white "underline" also changes to the destination tab, so only the bold stays in the origin tab. Android does behave as expected.

### Steps to Reproduce

1. Have two top tabs
[code]
2. On the first (Third/Section/Main) tab,

[2019-05-30 16:30] samhouts commented on #6356
@RabhiaBehamK  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-05-30 16:36] samhouts commented on #6361
Confirmed it also affects Android.

[2019-05-30 16:52] samhouts commented on #3950
@bgege Thanks for getting back to me! I'll go ahead and close this for now, but if you have any other issues in the future, please let us know!!

[2019-05-30 16:52] #3950 closed

[2019-05-30 16:54] samhouts commented on #3644
@IoTFier Unfortunately, this is still an open enhancement for both Shell and NavigationPages. Thanks!

[2019-05-30 16:55] oansquer commented on #4059
Hi,

This problem becomes very urgent. I am stuck in version 2 and it becomes very problematic. If you can not do anything, can you put the IsObservableCollection method as virtual ?

Thank you,

[2019-05-30 18:39] richardvaldiviesomacias commented on #5172
This still happening in Visual Studio for Mac Community Edition. Here is my small example:

`  <ListView x:Name="listView">
    <ListView.ItemTemplate>
       <DataTemplate>
            <ImageCell Text="{Binding Name}"
                   Detail="{Binding Status}"
                   ImageSource="{Binding ImageUrl}"/>
       </DataTemplate>
    </ListView.ItemTemplate>
  </ListView>`

And
`    listV

[2019-05-30 19:02] richardvaldiviesomacias commented on #5172
This code is kind of similar but it works.

[code]

[code]

[2019-05-30 19:15] clergym3n commented on #3172
@hartez We were expecting this to be ready for the 4.0 release but surprised to see it isn't finished yet. We can't test CollectionView without scroll and refresh functionality. Can you tell us how many sprints we need to wait before they are rolled out? We've decided not to ship anything with ListView going forward and would like this control to be available as soon as possible.

[2019-05-30 20:41] ddobrev commented on #4045
Hello?

[2019-05-30 23:54] BlueFire-LLC commented on #4455
Thanks for the quick response. I'm not an Android guy so the whole linting thing was a bit beyond me :).

Yeah, a warning would suffice since it's an easy thing to get wrong but still easy to fix. Maybe you could run Lint before compiling?

[2019-05-31 02:35] landl0526 opened #6364 "[Bug][Forms] How to bind to a JObject in XAML"
### Description

I don't want to predefine a model class to represent a json string. I want to bind to the JObject directly.
Here is my json string:
[code]
And I have set the page's binding context to this json object:
[code]
Then I used the binding in my XAML like:
`<Label HorizontalTextAlignment="Center" Text="{Binding Path=[section][body]}" />`
But it failed with showing nothing.
However, if I

[2019-05-31 03:12] kelvincwk opened #6365 "[Bug] Disabled entry field shows dotted border on iOS with Visual="Material" applied"
### Description
Different visual effect in the Entry element when it is using Material design and being disabled.

### Steps to Reproduce
1. Create an Entry on the page
2. Set the Visual="Material"
3. Set the IsEnabled = "False"

### Expected Behavior
The entry should have dotted border both iOS and Android.

### Actual Behavior
The dotted border is working on iOS when disabled but not Android; on

[2019-05-31 06:26] denzerd commented on #6325
@GalaxiaGuy
Thanks this is at least an easier way to get the ViewController itself as the two solutions we found In the Xamarin Board.

However the issue persists as the documentation clearly states that the CollectionView is of type UICollectionView under iOS, so either the documentation has to be adjusted or there is something wrong with CollectionViewRenderer under iOS.

Thanks again, good solu

[2019-05-31 06:39] denzerd opened #6366 "[Bug] [Forms][iOS] Vector in ToolbarItem too big"
### Description
Hello everyone,

I'm trying to set an Icon for my Toolbar Item (for iOS).
I did put the graphic (pdf) under the Vector field in my Assets.xcassets Universal field.

Then I place the Icon in (Forms) code like this:
[code]
Please note, I also tried with just Icon = "Arrange" as the name of the asset is Arrange. But I think as the compiler is creating the x1 x2 x3 anyway .png will wor

[2019-05-31 07:07] syncsiva commented on #3611
@samhouts  We are still looking for solution.

[2019-05-31 08:24] jbe2277 opened #6367 "[Bug] FontImageSource does not work on UWP"
### Description
Using the FontImageSource in UWP does not work. I have used the tutorial of James Montemagno to include Material Design Icons as Font: https://montemagno.com/using-font-icons-in-xamarin-forms-goodbye-images-hello-fonts/

UWP: This works:
[code]

UWP: This does not work:
[code]

- On Android both variants work as expected.
- On UWP I tried to use other elements (e.g. Page) as well b

[2019-05-31 09:17] PawKanarek opened #6368 "[Bug] [CustomRenderer] [iOS] Crash when navigating back from page with custom renderer control"
### Description
When I navigate back from page with custom renderer crash occurs.
Custom renderer is created using pattern from documentation: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/custom-renderer/view

### Steps to Reproduce

1. Open my app
2. Click on labeled button "Click me"
3. Go back
4. Crash occurs.

### Code to reproduce:
In Shared project:
[code]

in iOS

[2019-05-31 09:56] bcaceiro opened #6369 "[Bug] CollectionView - Label Bindings LayoutOptions rendering"
### Description
When using CollectionView, with a label with HorizontalOptions = Center, after scrolling up and down, the label "disappears", or gets cut, this happens when setting Bindings on a Label. If we set the Text directly, it seems the issue does not reproduce.

### Steps to Reproduce

1.  Create CollectionView
2. Add Label with VerticalOptions=Center
3. Scroll up and down slow or fast

##

[2019-05-31 10:14] bcaceiro opened #6370 "[Bug] Listview - Label rendering Bindings Layout options"
### Description
When populating a ListView with a custom ViewCell and at least a Label inside with Text set to a Binding, rendered text shows up cut or misaligned. Text set within the XAML won't reproduce this

### Steps to Reproduce

1. Create a ListView
2. Create a ViewCell with a label inside with VerticalOptions set to Center and HorizontalOptions set to Center
3. Bind Text to a property

###

[2019-05-31 12:40] jsuvanto commented on #5949
Is there a workaround to this bug while waiting for the release?

[2019-05-31 13:50] wesoos opened #6371 "How do I debug shell routes"
### Description

I am having an issue navigating to a route.  It is setup the exact same way as various other routes that works fine, but this one is not working and I can't find anywhere on how to debug it or see any output...

In my AppShell I register the route as follows:

`Routing.RegisterRoute("video", typeof(MainVideoPage));`

I navigate to the route as follows:

`Shell.Current.GoToAsync("v

[2019-05-31 14:22] #6371 closed

[2019-05-31 14:25] jcmanke commented on #6364
Why not?

[2019-05-31 14:51] TMagnum1974 opened #6372 "[Bug] [CustomRenderer] [iOS] View.Bounds all 0 OnElementChanged"
### Description
Custom Renderer for a grandient background stopped working when upgrading to Xamarin Forms 4.x.x (from 3.6.x). View.Bounds width, height all 0

### Steps to Reproduce

1. Create custom iOS renderer deriving from PageRenderer class
2. Add override to OnElementChanged
3. Add code to render a grandient background

[code]
### Expected Behavior
View.Bounds hat the actual width and heigh

[2019-05-31 15:33] jalbertSyncroTech commented on #6297
Any updates on the status of this issue?  Since 4.0.0-sr1 was just released and I don't see this referenced in the release notes, can we expect this in a 4.0.0-sr2?

[2019-05-31 15:36] Robtom5 opened #6373 "[Bug] [iOS] Shell Displays TabBar when only one ShellContent Present"
### Description
Navigation to the first flyout item in shell from a page registered as a global route causes a tabbar to appear on iOS.

### Steps to Reproduce

1. Create a shell with two flyout items, each with one tab and one shell content
2. Register a global route to a page (pageA)
3. Navigate to pageA
4. From within pageA, call Shell.Current.Navigation.PopAsync and navigate to the first item

[2019-05-31 15:53] hartez commented on #6325
Yeah, this is an issue with how iOS structures the classes around UICollectionView. If we actually set Control to be the UICollectionView itself, things get weird with layout; we have to go through the intermediary wrapper control.

I'll see what we can do about noting this in the docs, and possibly adding a more direct property for accessing the UICollectionView itself.

[2019-05-31 16:07] manutdkid77 opened #6374 "[Bug] Material Activity Indicator has unusual large size on iOS"
### Description
On iOS devices, the Activity Indicator with Visual property set to Material takes a large size. This occurs when either `WidthRequest` or `HeightRequest` properties are not set.

### Steps to Reproduce

1.  Create `ActivityIndicator` control in xaml.
2.  Set Visual property to `Material`
3.  Don't set `HeightRequest` and `WidthRequest` properties to the control.

### Expected Behav

[2019-05-31 17:15] samhouts commented on #6342
@aljaiban Okay, I'll reopen this. With any luck, we'll be able to fix them both at the same time! Thanks!

[2019-05-31 18:32] pasteusernamehere opened #6375 "No longer able to compile after upgrading to XF 4.0.0 Service Release 1"
After upgrading to XF 4.0.0 SR1 I can no longer compile my solution.

Error |   | Position 5:14. Missing a public static GetAutowireViewModel or a public instance property getter for the attached property "Prism.Mvvm.ViewModelLocator.AutowireViewModelProperty" | TestCase | C:\Users\Administrator\Documents\Code\TestCase\TestCase\TestCase\Views\TestPage.xaml   

### Steps to Reproduce

1. Using VS20

[2019-05-31 18:46] ValonK commented on #6375
I have exactly the same issue without using Prism, with the following errors

`No property, bindable property, or event found for 'BackgroundColor', or mismatching type between value and property.	`

`No property, bindable property, or event found for 'ItemTemplate', or mismatching type between value and property`

` No property, bindable property, or event found for 'Content', or mismatching type

[2019-05-31 18:48] samhouts commented on #6375
@ValonK I think you need to clean and rebuild your solution. If that does not work, can you please attach a project reproducing the problem? Are you using Shell? Thanks

[2019-05-31 18:54] ValonK commented on #6375
@samhouts I have cleaned, deleted obj+bin, cleared nuget cache... nothing seems to work. No I'm not using Shell, yeah sure I will upload a sample later

[2019-05-31 19:03] jalbertSyncroTech commented on #5652
Any updates on this?  It's still a significant issue for us.

[2019-05-31 19:11] pasteusernamehere commented on #6375
Test case attached.  Cleaning solution does not resolve this issue.

[TestCase.zip](https://github.com/xamarin/Xamarin.Forms/files/3242576/TestCase.zip)

[2019-05-31 20:10] ahoefling opened #6376 "[Enhancement] Add Markup Extension for FontImageSource"
## Summary
`Xamarin.Forms.FontImageSource` was completed for v3.6.0 in issue #3189. The original issues discusses creating a markup extension to easily use this new feature in any XAML property that is of type `ImageSource`.

**It appears to have never been implemented**

## API Changes
Simplify the verbose usage of `FontImagesource`

[code]

[code]

# Intended Use Case
For a trivial `Image` this

[2019-05-31 20:14] ahoefling commented on #6376
I have the code for this and I am willing to contribute it to the platform once approved. Feel free to assign it to me when we get there and I can submit a PR

[2019-05-31 20:16] JeroMiya opened #6377 "[Enhancement] New input event types that are only invoked on actual user input."
## Summary
Events like `Picker.SelectedIndexChanged` et. al. often get invoked from non-user-input. For instance, there is an extraneous `Picker.SelectedIndexChanged` event somewhere during view instantiation. We need versions of these events that ONLY fire on actual user input and not on databinding changes/etc...

## API Changes

Not sure what the best naming convention should be, but maybe some

[2019-05-31 21:03] bcaceiro commented on #6375
This also applies to the package PancakeView - missing CornerRadiusProperty, Not sure If I need to open a new issue for this.

[2019-05-31 21:21] samhouts commented on #6375
Thanks for the reports! We're pretty sure we know what's going on, and yes, these all have the same root cause. We'll be releasing a fix as soon as we can.

[2019-05-31 23:02] johnshardman opened #6378 "[Bug] Device.StartTimer documentation - contradiction"
### Description

The documentation of Device.StartTimer at https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.device.starttimer?view=xamarin-forms
states "Starts a recurring timer on the UI thread using the device clock capabilities."

However, other documentation (see https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/device#devicestarttimer ) says "If the code inside the time

[2019-06-01 01:43] xamarindevelopervietnam commented on #6375
same problem, clean up, deleted bin and obj folder then rebuild but still can't compile project

[2019-06-01 01:59] samhouts commented on #6375
Thanks for the report! We've decided to pull SR1 from NuGet, so we recommend rolling back to the previous stable version of 4.0.0 for the time being. SR2 is being prepared as we speak! Sorry for the inconvenience, and thank you for your patience!!

[2019-06-01 02:01] samhouts commented on #6372
releated to #6334

[2019-06-01 02:08] samhouts commented on #6342
@aljaiban  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:09] samhouts commented on #6373
@Robtom5  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:14] samhouts commented on #6362
@LaloCo  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:17] samhouts commented on #6349
Can you please attach a small project that demonstrates this issue? Does the issue persist if you update to 4.0.0? Thanks!

[2019-06-01 02:18] samhouts commented on #6348
Can you please attach a small project that demonstrates this issue? Does the issue persist if you update to 4.0.0? Thanks!

[2019-06-01 02:18] samhouts commented on #6344
@godrose  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:19] samhouts commented on #6341
@SagarPanwala  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:22] samhouts commented on #6328
Related to #6368

[2019-06-01 02:22] samhouts commented on #6337
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:24] samhouts commented on #6322
@MaxenceSAUNIER  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:24] samhouts commented on #6321
@shumkis  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:25] samhouts commented on #6319
@StanleyBroo  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:26] samhouts commented on #6308
@jamesmontemagno  Can you please attach a small project that demonstrates this issue? Thanks! 😁

[2019-06-01 02:27] samhouts commented on #6301
@juanlao CarouselView is still in very early stages. Thanks for the report! We'll be sure to address it as we continue work.

[2019-06-01 02:27] xamarindevelopervietnam commented on #6375
great to hear that @samhouts

[2019-06-01 02:27] samhouts commented on #6298
@Alkhajeh  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:29] samhouts commented on #6281
@StephaneDelcroix Do you have a workaround for this? Thanks!

[2019-06-01 02:29] samhouts commented on #6280
@amirvenus  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:31] samhouts commented on #6242
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:31] samhouts commented on #6231
@masonyc  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:32] samhouts commented on #6226
@Scarnet  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:33] samhouts commented on #6210
@Rickbieze  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:33] samhouts commented on #6207
@nodoid  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 02:37] samhouts commented on #6156
@mknotzer It does seem like a bug that this is happening without XamlC. However, may I ask why enabling XamlC is a temporary solution? We do recommend it for performance and development productivity. Thanks!

[2019-06-01 02:40] samhouts commented on #6129
/cc @PureWeen

[2019-06-01 02:56] samhouts commented on #6037
@xeg12  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-06-01 02:56] #6037 closed

[2019-06-01 04:04] #6375 closed

[2019-06-01 04:04] #5412 closed

[2019-06-01 04:04] #5637 closed

[2019-06-01 04:04] #5765 closed

[2019-06-01 04:04] #5782 closed

[2019-06-01 06:48] wesoos commented on #6161
This is also the case if you have the binding context of the shell set, and some elements in the header bound.  Like the text of a label.  The whole shell flyout will be blank on iOS...

[2019-06-01 07:54] mknotzer commented on #6156
enabling XamlC is a (pretty good) work around. The option was not enabled in my project due to a compiler bug some time ago. In general enabling XamlC makes sense. It's up to you guys if you want to investigate this bug or not.

[2019-06-01 08:10] toomasz commented on #6317
Confirmed, i've got this issue too

[2019-06-01 09:47] toomasz commented on #4754
When this can be fixed?

[2019-06-01 10:05] toomasz commented on #6376
Great idea, could you share markup extension code?

[2019-06-01 11:27] mrlacey commented on #6038
@jgold6 Are you saying that the current behavior is by design? Or that the default value of `HorizontalOptions` should be changed to `Start` for `BoxView` and `Button`?

[2019-06-01 11:37] BalasubramaniSundaram commented on #5897
Hi Team,
 Any Update.

Regards,
@BalasubramaniSundaram

[2019-06-01 12:04] eclipsed4utoo commented on #3168
Just wanted to see if there was any movement on this. While it was annoying on iOS, later iPhone models would mask the problem because of their performance specs.

However, on Android, it's ridiculously laggy, even on a OnePlus 6, which is only a year old. It literally makes the app unusable.

[2019-06-01 13:29] amrkamal1993 opened #6380 "Fatal signal 11 (SIGSEGV), code 1, fault addr 0x20 in tid 2327"
I have a problem in debugging code in android using xamarin forms application crash in master detail and give me this error
I tried to clean , build and delete bin and obj no solution works

I use xamarin.forms 4.0
vs 2019 16.1.1

### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior
[code]

### Basic Information

- Version with issue:
- Last known good vers

[2019-06-01 13:49] YovanyTabares opened #6381 "ListView in Xamarin Forms 4 With Shell in Android not Scrolling"
### Description
ListView in Xamarin Forms 4 With Shell in Android not Scrolling

### Steps to Reproduce

1. Fill a List View With Data
2. Try Scrolling

### Expected Behavior
ListView Scrolling

### Actual Behavior

### Basic Information

- Version with issue: Xamarin Forms 4.0

- Platform Target Frameworks:
  - Android: API 19, 22

[2019-06-01 14:21] EnricoBarbieri1997 commented on #6242
https://we.tl/t-RFkXwr0mss
That was the project having the issue but in the last 3 days, a new update came out and fixed it. That's the zip with the version having the problem in case you need it to fix it in that exact version.

[2019-06-01 18:27] bcaceiro commented on #3168
I'm also getting these logs:
[View] requestLayout() improperly called by md5f92e0daf340890c9667469657ee2ece8.LabelRenderer{ec466b7 V.ED..... ......ID 0,24-280,94 #e1} during layout: running second layout pass
[View] requestLayout() improperly called by md5fe8996628db2722b2645843f91097c26.CachedImageFastRenderer{9c85cde V.ED..... ......ID 20,24-380,384 #de} during layout: running second layout pass

[2019-06-01 18:46] samhouts commented on #6381
Same root cause as #5306 and #5205

[2019-06-01 18:47] samhouts commented on #6380
@amrkamal1993 Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 18:47] samhouts commented on #6367
@jbe2277 Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 18:48] samhouts commented on #6366
@denzerd Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 18:48] samhouts commented on #6364
@landl0526 Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-01 18:50] samhouts commented on #4371
@PureWeen That's a good idea! Let's see if we can do that next week.

[2019-06-01 18:50] PureWeen commented on #6316
@huyjack178 is this what you're looking for?

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/shell/flyout#flyout-behavior

[2019-06-01 18:50] #6316 closed

[2019-06-01 19:05] PureWeen commented on #6221
@Greg-Freeman I don't quite understand your example

[code]

is going to run forever. Nothing is going to stop that task from running outside of a complete process termination. If the app is tombstoned (backgrounded and not terminated) the app process will still keep running that thread indefinitely.

The only way for that while(true) loop to terminate is for you to signal to it that it needs to t

[2019-06-01 19:05] #6221 closed

[2019-06-01 19:22] vbisbest commented on #3168
I worked around the issue by setting my Listview caching strategy to RetainElement.  This made all the requestLayout messages go away.  So it seems related to RecycleElement.  Has that worked for anyone else?

[2019-06-01 19:32] eclipsed4utoo commented on #3168
@vbisbest So that "works" for me, as I don't get all of the requestLayout messages to go away and performance is way better.

However, now there are small hitches when scrolling, which is something I was seeing on iOS.

So it definitely helps, but there are still performance issues when scrolling, just not as bad.

[2019-06-01 19:51] PureWeen commented on #6094
@HobDev I'm sorry but I'm sort of at a lost where we aren't connecting on your expectation and where the Shell isn't meeting it. The bottomtabbar is relative to each Flyout item it doesn't persist between flyoutitems

You specify what you want the contents of the bottom tab bar to be per flyout item not at a global level

If you want the same Tabbar then you would need to specify that tab bar for

[2019-06-01 20:04] PureWeen commented on #6107
Still present in 4.0

[2019-06-01 20:16] PureWeen commented on #5038
@mfeingol can you try again on the latest vs 2019?

I tested with the following shared project
[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/3244184/Archive.zip)

And for me that's showing up on vsmac and vs2019 now

[2019-06-01 20:25] mfeingol commented on #5038
@PureWeen: works with your sample projects. Still doesn't work with my own projects.

Want me to add you to my Azure DevOps project?

[2019-06-01 20:26] PureWeen commented on #5038
Yea!

[2019-06-01 20:29] mfeingol commented on #5038
You're in.

[2019-06-01 20:53] PureWeen commented on #6331
We don't really want to remove the suppression because relying on finalization is expensive
https://stackoverflow.com/a/4303315

What we should be doing though is calling Dispose(false) from the finalizer on the most base class as they do in this sample
https://docs.microsoft.com/en-us/dotnet/api/system.idisposable?view=netframework-4.8#examples

And then subclasses can override dispose and if dis

[2019-06-01 20:53] #6331 closed

[2019-06-01 21:04] aljaiban commented on #6342
Attached a sample project and snapshot. Note that you need to run the project on an LTR (English/US for example) device/emulator/simulator for the issue to appear.
![Snapshot](https://user-images.githubusercontent.com/7361168/58752128-333a1380-84b2-11e9-8b82-80702fe6882d.png)

https://1drv.ms/u/s!Anxli5dwfVWNpNcQNeJpj3ZhNKPryw

[2019-06-01 22:10] Lelelo1 commented on #5942
That's not true. `ScrollView` adapts after content. `ListView` and `CollectionView` don't. I would expect `ListView` and `CollectionView` to do so.

Also you can't wrap `ListView` or `CollectionView` to impose that behaviour.

[2019-06-01 22:58] PureWeen commented on #6335
If anyone finds themselves here can you please attach a repro of your project that is exhibiting these issues? I've been running UWP projects for some time now in vs 2019 and I've never ran into this so there must be something about the way projects are setup that exhibit this behavior

[2019-06-02 06:15] HobDev commented on #6094
@PureWeen
This is really frustrating. 28 days elapsed and we don't able to make a common understanding about the issue. The title represent the issue correctly. **Whenever I select any of the Hamburger Menu Item it hides the BottomTabBar.**
As of now the only way to Show the BottomTabBar again is by clicking on top of first Hamburger Menu Item . The code you provided above does not produce the des

[2019-06-02 07:12] godrose commented on #6344
@samhouts Thanks for the reply. I will see how to create one in the next few days

[2019-06-02 07:35] amrkamal1993 commented on #6380
@samhouts  sure here the sample which crash

https://drive.google.com/file/d/1LOW5dKSnccm5NqY3IbU-Cr_1MINZQw6v/view?usp=sharing

[2019-06-02 07:46] amrkamal1993 commented on #6380
Testing Devices Huawei Y9
and Honor

[2019-06-02 08:50] amrkamal1993 commented on #6380
@samhouts  crashing happens in master detail page with huawei , i don't know if it's related or not

[2019-06-02 09:52] melihercan commented on #5593
Not only UWP but MacOS as well please.

[2019-06-02 13:16] amrkamal1993 commented on #6380
update : the problem only found in vs 2019 i installed last version from 2017 and it's working

[2019-06-02 13:23] Happypig375 commented on #6038
Imo explicit WidthRequests and HeightRequests should always override `HorizontalOptions = Fill` and `VerticalOptions = Fill`.

[2019-06-02 15:31] LaloCo commented on #6362
Hey @samhouts, sure thing, [this repo](https://github.com/LaloCo/ShellExample) shows it. It has a "Third item" flyout item which has the two top tabs. Clicking on the Secondary tab works as expected, but clicking the button on the first tab creates the issue described.

[2019-06-02 17:54] saguado69 commented on #5601
same for me in forms 4.0.0.425677

[2019-06-02 22:25] davidbuckleyni commented on #1692
What is the status of this has this now been created in 4 as I need to play an audio file to confirm scanning has happened correctly. Even a system sound of the phone for example beep ?.

[2019-06-03 00:35] NipunKalra commented on #3168
@bcaceiro I have seen this error for my ButtonRenderer when I was trying to update the button padding after calling base.OnLayout. This makes 100s of requestLayout message per sec. The approach I used was to set the padding before calling base.OnLayout.

[2019-06-03 05:31] jamesmontemagno commented on #6308
Absolutely! Please see attached! Please let me know if i can help: <3

![image](https://user-images.githubusercontent.com/1676321/58778099-1111c580-8586-11e9-93e1-0c99b28d20a9.png)

Sample Project:
[App17.zip](https://github.com/xamarin/Xamarin.Forms/files/3245984/App17.zip)

Here is my blog on non-Shell: https://montemagno.com/xamarin-forms-drop-shadow-elevation-on-android-bottom-navigation-tabbe

[2019-06-03 05:39] Yuvaraj-007 commented on #3611
Hi Team,

Any update on this task?

Regards,
Yuvaraj C

[2019-06-03 06:15] DanielSchmitt94 commented on #6084
@samhouts Yes, I installed it according to the documentation and and on some pages it crashed every time i navigate to.

[2019-06-03 06:46] yifanlow1991 opened #6384 "[Bug] [iOS] content page in tabbed page not showing inside shell tab"
### Description
Content inside tabbed page showing black/blank page when place a tabbed page inside shell tabbar or after Shell is navigate to another Tabbed page.
### Steps to Reproduce

1. Create a shell with bottom tabbar items.
2. Place a tabbed page for one of the tab content or navigate to a tabbed page from shell.

### Expected Behavior
The tabbed page's content is expected to be displayed.

[2019-06-03 07:15] landl0526 commented on #6364
@samhouts Here is a sample.
[Sample.zip](https://github.com/xamarin/Xamarin.Forms/files/3246289/Sample.zip)

[2019-06-03 08:29] kgrosche commented on #5652
How can i escalate this issue? I am not able to upgrade to Xamarin.forms 4.x because this issue is not fixed!!

[2019-06-03 08:29] chrisfoulds commented on #5159
My hack is to put in a grid and put other content over the top so it is hidden but make sure isvisible and isenable are true. Not ideal but simple work around until it is fixed.

e.g.

`        <Grid>
            <Grid.RowDefinitions>

                <RowDefinition Height="Auto" />
                <RowDefinition Height="128" />
                <RowDefinition Height="84" />
            </Grid.RowD

[2019-06-03 08:34] MarcelWinkelEBF commented on #5949
We get the same error but in a different case. We have a Tabbar and if I navigate through the list and set the SelectedItem to null before navigating with the tabbar the error mentioned here is occuring. Anything we can do for this?

[2019-06-03 08:42] chrisfoulds commented on #5159
Actually scratch that it only opens once. I basically removed the datepicker from my xaml and make a new one on each button press now.

[2019-06-03 09:26] toomasz commented on #6317
It's not button specific, I also have this issue for ImageButton and Label
@samhouts Could you add blocking label to it? I think it blocks using FontImageSource

[2019-06-03 09:27] Robtom5 commented on #6373
I've uploaded a demo application to here https://github.com/Robtom5/XamarinBugDemo-6373

The bug is visible when used with an ios 12.2 simulator on an iPhone X

[2019-06-03 09:31] weitzhandler commented on #1895
I know HTML & CSS pretty well (I use SASS), and man, does it suck.

[2019-06-03 09:34] weitzhandler commented on #1789
@samhouts

By us, Windows and desktop are first. Visual doesn't even support UWP, won't even try it.

[2019-06-03 09:39] akuehntopf commented on #6317
After digging around a bit in FontImageSource's code it seems that the culprit is the using block which releases the typeface (https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/Renderers/FontImageSourceHandler.cs#L29).

If i move the call in line 30 out of the using-block it starts working as expected. Of course then, as there is apparently no caching of the creat

[2019-06-03 10:34] MarcelWinkelEBF commented on #5949
@jsuvanto I found a workaround now...
Create a Renderer for CollectionView like this:
`public class CustomCollectionViewRenderer : CollectionViewRenderer
    {
        protected override void OnElementChanged(ElementChangedEventArgs<ItemsView> e)
        {
            try
            {
                if (e.NewElement == null)
                    return;

                base.OnElementChanged(e);

[2019-06-03 11:27] Robtom5 commented on #6298
Hi @samhouts, I've updated my bug demo I made for #6373 to show this issue as well
https://github.com/Robtom5/XamarinBugDemo-6373

This is shown by selecting item2 on the flyout
![OddColors](https://user-images.githubusercontent.com/9417090/58798565-de55e480-85fa-11e9-98f6-9f64d8c6cfd7.png)

[2019-06-03 12:00] ValonK opened #6386 "[Bug] GestureRecognizer inside ListView with ViewCell.ContextActions breaks the ListView ItemSelected Event ( Android Only )"
### Description
GestureRecognizer inside ListView with ViewCell.ContextActions breaks the ListView ItemSelected Event

### Steps to Reproduce

Run the attached sample Project.
Try to hit ItemSelected.

### Expected Behavior
ItemSelected should be fired

### Actual Behavior
ItemSelected doesn't fire

### Basic Information

- Version with issue: **4.0.0.425677**
- Last known good version:
- IDE: **V

[2019-06-03 12:48] abduelhamit opened #6387 "[Bug] [iOS] Crash When the First Toolbar Item Has an Icon and a Second Item Gets Added"
### Steps to Reproduce

1. Build the reproduction project.
2. Tap on a toolbar item.

The relevant code:
[code]

### Expected Behavior

No crashs.

### Actual Behavior

[code]

### Basic Information

- Version with issue: 4.0.0.425677
- Last known good version: None
- IDE: Vidual Studio 2019 for Mac
- Platform Target Frameworks:
  - iOS:  12.2
- Nuget Packages: Xamarin.Forms
- Affected Devices: iO

[2019-06-03 12:57] fbregeon commented on #3887
Hello,
i have similar problem in XF 3.6.
to workaround, i put XF ListView.SelectedItem to null.

To reproducde with attached project :
1) add 3 items
2) go to "List View Page"
[Issue3333ArgumentException.zip](https://github.com/xamarin/Xamarin.Forms/files/3247652/Issue3333ArgumentException.zip)

3) remove all items
4) go to "Add Item Page"
5) add 3 items
6) go to "List View Page"
7) crash :
System

[2019-06-03 13:31] jsuvanto opened #6388 "Support x:Arguments and x:FactoryMethod in XAML intelisense"
### Description

Visual Studio displays an error when specifying CollectionView.ListItemsLayout in XAML. Project still builds and item layout seems to work properly.

### Steps to Reproduce

1. Create a new Xamarin.Forms project
2. Add these lines to MainPage.xaml:
[code]

### Expected Behavior
No errors.

### Actual Behavior
The following error is shown in the error list:

### Basic Information

[2019-06-03 15:15] paymicro commented on #6355
Hi @mfeingol Could you try [test nuget package?](https://github.com/paymicro/Xamarin.Forms/raw/16834f7662459b493ae36413f29b159af6d57b46/.nuspec/Xamarin.Forms.9.9.4.nupkg)

[2019-06-03 15:43] HobDev opened #6391 "[Enhancement] Blank Forms App in VS and VSMac project template should use Shell"
## Summary

New project created using Blank Forms App should default to shell. This will make get starting with shell easier and promote shell to new users.

[2019-06-03 15:43] HobDev opened #6392 "[Enhancement] Blank Forms App in VS and VSMac project template should use Shell"
## Summary

New project created using Blank Forms App should default to shell. This will make get starting with shell easier and promote shell to new users.

[2019-06-03 15:44] pauldipietro commented on #6392
Accidental duplicate

[2019-06-03 15:44] #6392 closed

[2019-06-03 15:55] HobDev opened #6393 "[Bug] Xamari.Forms.Maps Custom Pins are null if they are data bound"
### Description
I want to use custom pins with Xamarin.Forms.Maps. I followed the official document and sample. It works fine if the pin data is provided in code behind as done in official sample.
But when pin is data bound with ViewModel data it does not work. In this scenario the NullReferenceException is thrown.

### Basic Information

- Version with issue: Xamarin.Forms-4
- IDE:VSMac
- Affecte

[2019-06-03 16:18] mfeingol commented on #6355
@paymicro: I tested this morning with your 9.9.4 package and I believe it fixes the problem. Kudos.

[2019-06-03 16:21] samhouts commented on #6386
Duplicate of #2180

[2019-06-03 16:21] #6386 closed

[2019-06-03 16:32] samhouts commented on #6344
Great! We'll keep looking for it. :)

[2019-06-03 16:58] brendanzagaeski commented on #6380
Thanks for the report and the test case! I can confirm that this behavior has the same native backtrace as <https://github.com/xamarin/xamarin-android/issues/3112>, so I will close this Xamarin.Forms issue as a duplicate of that issue. The fix will require a new version of Xamarin.Android that will be based on a new version of the Mono runtime and debugger. (The Xamarin.Forms NuGet package version

[2019-06-03 16:58] #6380 closed

[2019-06-03 17:31] jbe2277 commented on #6367
The issue was on my side. I forgot to set the `FontImageSource.Color` property. The default color is White which was fine for Android but it does not work well with the white background of UWP.

[2019-06-03 17:31] #6367 closed

[2019-06-03 17:49] toomasz commented on #6317
@akuehntopf Confirmed!
To workaround this issue until its fixed you can register your custom font image source handler in android project like this:

[code]

[2019-06-03 18:38] StephaneDelcroix commented on #6361
I can repro in a unit test

[2019-06-03 18:43] Mephisztoe commented on #5593
I don't know if you realized that UWP is not only a platform that is still widely used by developers, but also the fastest way to get Android and iOS based XF apps up and running. Because - in comparison - the emulators provided for both the Android and the Mac world are freaking slow, prone to problems and let's not talk about the horrible certification experience or still being forced having a r

[2019-06-03 18:45] PureWeen commented on #5593
https://github.com/xamarin/Xamarin.Forms/pull/6015

[2019-06-03 18:56] rmarinho commented on #6267
Hi @norton287 i was trying your sample, and i can't get it work in it's state on 3.6. When i click the picker it crashes. Is this code working ?

thanks

[2019-06-03 19:00] norton287 commented on #6267
It is working when compiled through Visual Studio Mac and it was fine prior to the last release of XF

[2019-06-03 19:09] norton287 commented on #6267
@rmarinho Get from repo, I fixed an error in the property for Colors and it is working

[2019-06-03 19:11] norton287 commented on #6267
@rmarinho It is broken on API 28 with Samsung S9+ compiled with Visual Studio 2019 Enterprise on Windows 10.  But if it is compiled with Visual Studio Mac and installed to S9+ it works as expected.

[2019-06-03 19:19] rmarinho commented on #6267
Other device with API28 on Windows 10 works ?

[2019-06-03 19:21] norton287 commented on #6267
@rmarinho Not sure only other physical device I have is on Oreo 8.1 API 27

[2019-06-03 19:21] norton287 commented on #6267
@rmarinho It works on UWP and iOS and on my Oreo 8.1 API 27 device

[2019-06-03 19:22] jgold6 commented on #6038
@mrlacey
I am not saying either, I am only saying what is true and how to workaround it.

[2019-06-03 20:18] PureWeen commented on #6129
@awattar I don't really understand your attached sample

1) I don't see any proguard rules in there
2) Proguard only runs if you have the linker enabled https://docs.microsoft.com/en-us/xamarin/android/deploy-test/release-prep/proguard?tabs=windows#enabling-proguard so if you just check the "Proguard" box for debug then proguard won't run.

you don't really want to run proguard in debug mode becau

[2019-06-03 20:18] #6129 closed

[2019-06-03 21:12] hartez commented on #4681
I whipped up a possible implementation of this, and I'm looking for feedback: https://github.com/xamarin/Xamarin.Forms/tree/cv-itemspacing

Rather than using `Thickness`, I've added bindable properties to the layout classes:

`double ListItemsLayout.ItemSpacing`
`double GridItemsLayout.VerticalItemSpacing`
`double GridItemsLayout.HorizontalItemSpacing`

On iOS, this maps to `GetMinimumLineSpacingF

[2019-06-03 21:12] gaocan1992 commented on #6011
@PureWeen  Thanks, I am looking at that issue.

[2019-06-03 21:13] hartez commented on #4681
If folks don't immediately hate it or find glaring omissions, I'll update the spec and PR it.

[2019-06-03 21:51] TonyLugg opened #6397 "Shell with MainPage"
## Summary
Need more menu choices than Flyout and Bottom Toolbar.

## API Changes

While Flyout will work fine for many apps, we still need a MainPage (home) approach for ours.  The shell should allow a "main page" approach where buttons on the main page are the main menu for the app.  Since our app is very state sensitive, jumping to other parts of the app from a Flyout is detrimental.  We could

[2019-06-03 21:53] PureWeen commented on #6397
@TonyLugg If I'm understanding you correctly you want to achieve the idea of registering in globalroutes but with something you can define in the XAML?

[2019-06-03 21:58] mrlacey commented on #6038
@samhouts I was going to look to fix this but it's not clear what the requirements are.
Is it correct, as Happypig375 says, that height and width requests should override horizontal and vertical options?

[2019-06-03 22:20] samhouts commented on #6375
SR2 is now live on NuGet. Thanks again for the quick reports! Let us know if you find any other issues.

[2019-06-03 22:37] PureWeen commented on #5690
Neither do I really. I checked our old private repository where these changes were made and there's not really any historical data there. It was just committed to master back in like version 1.2 👎

Maybe @samhouts  or @hartez have better historical context on this one then I do.

Maybe this is the desired outcome?
[code]

That those pins are meant to be treated as the same thing so removing one an

[2019-06-03 22:48] TonyLugg commented on #6397
Yes, I think that would be good.  Similar to Flyout but a page-based menu that is always visible on the home page.

Tony Lugg
C-TAP Corp.
Tel: 780-481-9017
Cel: 780-991-3526
www.vdis.com<http://www.vdis.com/>

Microsoft Certified Partner

From: Shane Neuville <notifications@github.com>
Sent: June 3, 2019 3:54 PM
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: Tony Lugg <Tony@ctapc

[2019-06-03 22:49] PureWeen commented on #6397
One of the projects for Shell being actively developed on are segues

https://github.com/xamarin/Xamarin.Forms/issues/4594

which would allow the type of navigation you are wanting.

[2019-06-03 22:53] TonyLugg commented on #6397
Or perhaps continue to use buttons and call Shell.CurrentShell.GoToAsync....

[2019-06-04 00:33] samhouts commented on #5428
Duplicate of #5232

[2019-06-04 00:33] #5428 closed

[2019-06-04 01:18] ahoefling commented on #6376
@samhouts I have the change as described working in a fork with test coverage. I am ready to submit the PR, should I go ahead and submit the PR now or wait for API discusion?

[2019-06-04 01:29] samhouts commented on #6376
@ahoefling Go for it! Thanks!!!

[2019-06-04 02:26] xamarindevelopervietnam commented on #6375
awesome!

[2019-06-04 06:55] denzerd commented on #6366
Thank you @samhouts
Please find an example attached.
Btw just saw that with Xamarin Forms 4 it is supposed to be an IconImageSource but it complicates things for using the Icon from native part.
[VectorIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/3250906/VectorIssue.zip)

[2019-06-04 07:19] maexsp opened #6399 "Xamarin.Forms WPF is broken with higher version than 4.0.0.425677 [Bug]"
Xamarin.Forms iOS, Android, UWP and WPF worked well with Xamarin.Forms v 4.0.0.425677. But after updating to any higher version of nuget Xamarin.Forms.Platform.WPF + Xamarin.Forms (E.g. 4.0.0.482894, June 3 2019) than WPF application starts with black screen, without any exception or any debug output error.

- Version with issue: v 4.0.0.482894
- Last known good version: v 4.0.0.425677
- IDE: VS20

[2019-06-04 07:35] ZeProgFactory commented on #6399
I've the same issue on Windows 10 pro 1809 .

### Reproduction Link
https://github.com/ZeProgFactory/XFTestPlatformes

[2019-06-04 08:44] habella opened #6400 "[Xamarin Forms Android] How to remove navigation bar shadow?"
## Summary
How to remove the bottom shadow from the navigation bar in Android

## Basic Information
Version with issue: Xamarin Forms 4.0

Platform Target Frameworks:
Android: API 24

[2019-06-04 09:11] bcaceiro commented on #6375
Where can we find the release notes? Can't find it in docs, or the release tabs here in Github

[2019-06-04 09:25] nbevans commented on #5265
Will this ever be fixed? It basically makes FlexLayout unusable. My "fix" above isn't really good enough - it's too glitchy for production use.

[2019-06-04 09:26] nbevans commented on #3769
Will my fix ever get merged in?

[2019-06-04 10:27] consoleit commented on #6399
Same error. Just updated to 4.0.0.482894 from 4.0.0.425677. Got a black screen. Navigation and page creation happens but nothing showing in the screen. Windows 10 + VS2019

[2019-06-04 10:43] KSemenenko commented on #6364
and so it was possible to do?

[2019-06-04 10:55] skiarn commented on #3769
Im waiting for this fix to be merged, @samhouts when can we expect this fix to be merged? thanks and keep up the good work both of you :)

[2019-06-04 12:03] Depechie commented on #3587
Still drives me crazy... any news on this?
I also tried finding out why it was happening by debugging XF itself. But seems the implementation to do grouped lists is a bit different than what you regularly find for Xamarin.iOS samples. Probably due to some internal XF features for ListView.

Is CollectionView ever going to get grouped items? @davidortinau

[2019-06-04 12:09] GnanaPriyaNamasivayam opened #6402 "[Android,iOS] Touch did not pass to parent when gesture added to child element."
### Description
When we add gesture to the element loaded inside ItemTemplate, parent element(say listview) events are not firing. We could able to reproduce this behavior in Xamarin ListView.
Is there any possibility to overcome this behavior in Android and iOS, or is this a bug?
This behavior breaks when we need to use multiple gestures inside ItemTemplate and wires parent event simultaneously.

[2019-06-04 12:26] maexsp opened #6403 "Xamarin.Forms UWP Picker collapses on opening Dropdown menu [Bug]"
![picker_uwp](https://user-images.githubusercontent.com/15746917/58880478-40d0e280-86d8-11e9-9163-e31f52f656d3.gif)
In UWP Apps the Picker control does collapse the entire control when opening the Dropdown menu. This results in a jumping layout, especially if any other controls in same flexible layout hierarchy.
Important side note: The title must be set and should be smaller than the size of the

[2019-06-04 13:23] jrahma opened #6404 "Sound Player and Recorder"
Hi,

It will be great if you add a control or feature to play and record sound, something similar to the sound player and recorder in Whatsapp for example..

Thanks,
Jassim

[2019-06-04 13:24] KhuongNtrd commented on #5988
Cause' by always setting background for BottomNavigationView to ColorChangeRevealDrawable even when set Shell.TabBarBackgroundColor=White for all TabItem

[https://github.com/xamarin/Xamarin.Forms/blob/4.0.0/Xamarin.Forms.Platform.Android/Renderers/ShellBottomNavViewAppearanceTracker.cs#L64](https://github.com/xamarin/Xamarin.Forms/blob/4.0.0/Xamarin.Forms.Platform.Android/Renderers/ShellBottomNav

[2019-06-04 13:26] jrahma commented on #1730
User should be able to customize the buttons, show and hide specific button for example if we don't want to allow front or back camera (switch camera button) or if the user wants to have his own buttons or position the button at top, bottom, vertically right or left, etc..

[2019-06-04 13:27] jrahma commented on #1730
User should have an option to define how to record video

Just click record video button

Or

Hold to record video (the whatsapp way)

[2019-06-04 13:54] inforithmics commented on #6121
I tried this sample with Visual Studio 2019.1 and Xamarin Forms 4.0 and it doesn't crash anymore, (The Previewer simply ignores it).

If I want to Have Previewer functionality I have to make following changes:

xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
->
xmlns:d="http://xamarin.com/schemas/2014/forms/design"

d:DataContext="{d:DesignInstance local:DesignMainViewModel,
IsDesignT

[2019-06-04 13:57] knocte commented on #6391
I disagree, non-Shell templates are still useful.

[2019-06-04 14:06] VladislavAntonyuk commented on #4409
@knocte , still broken on the latest night build

[2019-06-04 14:13] HobDev commented on #6391
Yes they are useful now. But shell is the future and providing blank template for shell will increase its adoption.

[2019-06-04 14:16] dansiegel commented on #6391
@HobDev Shell is still far too experimental and needs a lot of baking before they could ever be considered seriously as the new standard.

[2019-06-04 14:21] HobDev commented on #6391
@dansiegel  Agree, than the solution is to have two blank app templates. Shell Blank App and Classical Blank App.

[2019-06-04 15:19] rmarinho commented on #6334
@chrisstaley can you try as a workaround see if this will help:

[code]

The change is related with when we attach the effect (when the Renderer and NativeView is created) , and when Layout happens.

I have a fix that I m testing, but will discuss this with the team.

[2019-06-04 15:57] jcmanke commented on #6393
You never initialize your `CustomMap.CustomPins` collection, but you try to loop through it in your renderers.

Maybe the sample is just out of date, but you don't need a separate list for you CustomPins, so you can probably just delete your `CustomMap` class and use your custom renderer for the default `Map` class. Iterate through the `Map.Pins` list instead of `customPins`.

[2019-06-04 16:03] bcaceiro opened #6406 "[Enhancement] Performance Tips and Tricks"
## Summary
There should be an updated version of the Performance Tips and must do's in Xamarin Forms mobile applications. This is extremely important for developers. The Official Documentation (see https://docs.microsoft.com/en-us/xamarin/xamarin-forms/deploy-test/performance) is from 2017, and I'm guessing, over these years, there may be new tips, or old ones deprecated.

[2019-06-04 16:28] ZeProgFactory opened #6408 "[Bug] [WPF] BoxView not correctly restored"
### Description
`BoxView` is not correctly restored after `Navigation.PushAsync(); … Navigation.PopAsync();` .

This problem could be related to  #4788, but in the present case the results doesn't change weather you set `Color` or  `BackgroundColor`  .

### Steps to Reproduce
1.  Create a basic app with 2 pages.
2.  Main page with a `Grid` containing a `BoxView` and a `Button` on top.
3.  Navigate

[2019-06-04 17:13] chrisstaley commented on #6334
@rmarinho That is not working for me. Even when `InsertGradient()` is called via the invocation in `OnElementPropertyChanged()`, `Container.Bounds.Width` is still 0.

For reference, I tested using XF 4.0.0.482894 in an iPhone X iOS 12.2 simulator.

[2019-06-04 17:17] samhouts commented on #6404
We are working on an enhancement for playing sound and other media, (https://github.com/xamarin/Xamarin.Forms/issues/1692), but nothing specific to recording it. Would you please expand your request to show the API you'd like to see? Thanks!

[2019-06-04 17:18] samhouts commented on #6403
@maexsp  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-04 17:26] rmarinho commented on #6328
@filipeaugustosantos can you provide a small reproduction.

Thanks

[2019-06-04 17:33] HobDev commented on #6393
@jcmanke  I deleted the CustomMap from the project. The Android works fine. But the app never hits any breakpoint on iOS renderer.

[2019-06-04 17:38] rmarinho commented on #6328
Ah ok, you are getting this when navigating from a Page?

[2019-06-04 17:42] mdwalkley opened #6409 "[Bug] [iOS] Button inside a ScrollView does not work when keyboard is up."
### Description

If a Button is inside a ScrollView and the keyboard is showing, tapping the button will not trigger the button's command. Through testing it appears that the Button.Pressed event IS fired, but the Button.Released and Button.Clicked events ARE NOT fired.

Note: The odd behavior is only evident when the button is moved from it's original position via scrolling while the keyboard is

[2019-06-04 18:50] HobDev commented on #6393
So, for iOS I use CustomMap. But iterate through the Map.Pins. It worked. For Android I am using default Renderer for Map. Android too works fine. The official sample needs  update. Thank you very much.

[2019-06-04 18:56] TheBaileyBrew opened #6410 "[Bug] Shell Flyout FlyoutItem Title Text Vanishes On Scroll [Android]"
### Description
When I place multiple FlyoutItems in Shell, all text appears at first, but after scrolling some Flyouts offscreen and back onscreen the text partially vanishes (or truncates with a - ).

### Steps to Reproduce

1. Create Shell project on VS2019
2. Edit AppShell.XAML to include two unique DataTemplates in Shell.Resources
3. Create a DataTemplateSelector that checks for a variable to

[2019-06-04 19:55] Sebastian1989101 commented on #3085
This is how the MasterDetail of the Control Gallery looks like on an iPad when splitting 50:50 and then again 75:25. I think this issue is caused by this fix (which may also the reason for the SplitView Bug in the first place then?): https://github.com/xamarin/Xamarin.Forms/commit/689a0bb9bc14b0beecb7bdf96315c28e0166cff7#diff-79b77d2f40e6a52dd3b2724e0178814e

![Simulator Screen Shot - iPad Pro (11

[2019-06-04 21:08] jrahma commented on #6404
Thanks Sam... It should use AVAudioRecorder in iOS and MediaRecorder in Android in a Xamarin Forms way so it should be like the Xam.MediaPlayer but just for voice recording

**Options:**

1. Record voice
2. Multiple formats, e.g. WAV, MP3, etc
3. Set minimum & maximum time to record
4. Option to save physical file or just in memory stream
5. Set & Get Mic volume status
6. Set & Get Mic volume leve

[2019-06-04 21:37] jwosty commented on #6409
Possible duplicate of #2136

[2019-06-04 21:41] jwosty commented on #6409
Can confirm this issue, though. It's very annoying an I don't know of any workarounds.

[2019-06-05 01:13] PureWeen commented on #6327
@zijianhuang one workaround for this is if you add literally any resource into your head project then it should all start loading for you

you can even just add some dummy image

resources\drawable\hack.png

after you do that then your images should start working.

[2019-06-05 01:33] masonyc commented on #6231
[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/3255120/App1.zip)
Hi @samhouts , I have attached the sample project above. It should display two images on the screen, one from iOS library and one from iOS project. But only the one from iOS project is shown.

[2019-06-05 02:39] wesoos commented on #5831
Is there an ETA on fix for this?  It seems that when you navigate away from a page then return, the last item in the collection is now stuck on top of the first item in the view...

[2019-06-05 02:48] zijianhuang commented on #6327
@PureWeen, No. And I had even better workaround: symbolic links, which I had used in much older Xamarin releases.. However, I would prefer proper solution supported by 3.6.

[2019-06-05 02:54] PureWeen commented on #6327
it should be part of the next 4.0 or 4.1 release

[2019-06-05 02:58] mfeingol commented on #5038
@PureWeen: let me know if you have any problems accessing the [project](https://dev.azure.com/sideroads/Sideroads) or reproducing the issue.

[2019-06-05 03:52] HobDev commented on #6393
Still this issue needs to be resolved. Iterating through default Map.Pins work if there is no additional requirement. But if a new property is need in a pin e.g URL than the use of custom pins become inevitable.

[2019-06-05 04:49] sahkovoi commented on #5848
Tested with VS 2019 16.1.1. Still does the same leak thing. Took 2 minutes of scrolling to go to 500 MB. The sample project is already using RecycleElement. The work leak is perhaps too weak, maybe megaleak or gigaleak or niagaraleak describes it better?
![megaleak](https://user-images.githubusercontent.com/51394553/58930950-5a207000-8766-11e9-97ae-ce8428e7347a.jpg)

[2019-06-05 06:23] ahmedalejo commented on #5128
@Project4MobileDev in terms of size. you could create a github repo and point to it instead.

[2019-06-05 06:47] carl-neng commented on #1852
Hello Dear, I got the same issue above with Xamarin.Forms.Maps version 3.0.0.446417. So how to resolve it?

[2019-06-05 07:24] PerDFSjov commented on #2571
Same here, Android apps are crashing frequently and we cannot reproduce this for debugging.
java.lang.RuntimeException:
at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2957)
at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:3032)
at android.app.ActivityThread.-wrap11 (Unknown Source)
at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1

[2019-06-05 07:26] psp589 commented on #5843
Any news on this issue?

[2019-06-05 09:24] maexsp commented on #6403
@samhouts  Repro project for UWP picker issue can be found here: https://github.com/maexsp/XamarinBase.git
It also happens if no title is set at all. Also happens to Visual="Material" design.
This is a major bug in my opinion.

[2019-06-05 10:05] KevinJalais commented on #6399
Same error with package Xamarin.Forms.Platform.Wpf v4.0.0.482894.
Windows 10 + VS2019.

Downgrading only this package to v4.0.0.425677.
No need to downgrade other Xamarin.Forms package.

[2019-06-05 10:38] ThanawutZiios opened #6414 "[Bug] Xamarin.Forms UWP Entry CursorPosition and SelectionLength on Focused"
### Description

I am trying to get  Select All text when I focus on a field by using Focused event and also set CursorPosition and SelectionLength for the text.

When you run the app for the first time (right after compiling) and use the Tab button on the keyboard, it will not work the first time. Once you get to the last field in the form and go back to the first field (by hitting Tab key), then

[2019-06-05 13:23] VladislavAntonyuk commented on #3662
Fix #6417

[2019-06-05 13:34] groege opened #6419 "[Bug] ANDROID Button FontFamily instable and broken (Custom Font?)"
### Description
FontFamily on Forms Button is instabile and might be lost at some point (resulting in the text displaying the default font), this happens randomly as you can see in the screenshots.
Also in my project it never works if I have a button within a ListView (it will always display the asian charecters instead of my glyphs)
On iOS this issue does not happen as far as I can tell.

Example

[2019-06-05 13:58] jcmanke commented on #6393
Wrong. Having your ItemTemplate return a CustomPin works just fine, you will just have to cast it when you pull it out. The need for a separate CustomPins list ended 2 years ago, when I made a pull request that unsealed the Pin class.

[2019-06-05 14:21] HobDev commented on #6393
@jcmanke Great, can you please point to the resource where I can learn more about maps in xamarin.forms. It is so difficult to get correct and updated information. You have a good command over this subject.

[2019-06-05 14:25] JKennedy24 commented on #5127
Any update on this?

This isn't a question more of a bug:

Compression layout doesn't work when used on the child of a frame element on Android

[2019-06-05 15:42] ahoefling commented on #6292
I started an implementation of this for Andoird and I was able to get it working. I need to add unit tests and do some more testing.

Should I submit the PR with just the android implementation or would it be better to submit it with both iOS and Android?

![image](https://user-images.githubusercontent.com/17751436/58970204-ee9aca80-8786-11e9-9253-bfe916c73c95.png)

[2019-06-05 16:15] PureWeen commented on #6292
Yea! Submit a PR if you can

I have a PR over here
https://github.com/xamarin/Xamarin.Forms/pull/6383

where I'm working on some changes with the flyout measurements so we'll need to reconcile the two. But either way submit away!!!

[2019-06-05 16:36] ChaseFlorell opened #6421 "[Enhancement] FontImageSource defaults and style"
## Summary
`FontImageSource` is amazing! Well done team for the implementation.

Now that we're in it and using it, I'd like to propose that there be the ability to set the FontFamily and Color defaults and also make it styleable.

_note: i do recognize that making it styleable might negate the need for the default statics, but I thought it might be nice akin to `Color.SetAccent(Color accent); `_

[2019-06-05 16:48] ahoefling commented on #6421
I love this! I am finding myself using the same fonts over and over again making my markup verbose. Creating a default font would be very useful.

Could we add the following properties to be defaults as well?

* FontFamily (already called out)
* Size
* Color

If we make everything have a default except `Glyph` and you are using the Markup Extension referenced your markup could be simplified to thi

[2019-06-05 16:52] ChaseFlorell commented on #6421
absolutely, we use statics for our glyphs, so it would look like this.

[code]

I'd love to see both of these approved. I'm happy to contribute.

[2019-06-05 16:52] filyjunior commented on #6222
Any update? Thanks

[2019-06-05 17:02] ChaseFlorell commented on #6421
as a separate idea, it'd actually be cool to register fonts.

[code]

Then whenever we access a glyph

[code]

The system will actually know that the `m_` relates to the `MaterialFontModule` and access what it needs from there.

[2019-06-05 17:07] samhouts commented on #6208
@jcmanke We used to include the link to the complete release notes! We'll do that again (see https://github.com/xamarin/Xamarin.Forms/releases/tag/release-4.0.0-sr2). Thanks!

[2019-06-05 19:44] TheBaileyBrew commented on #5428
From what I've discovered @fhnainia - the bulk of the Shell tweaking from the code behind has to be done on AppShell.xaml.cs

I managed to build my app to build all the FlyoutItems dynamically in code, and then add/remove them based on some external consideration.

It goes something like this:
1. Build a List<> of all possible FlyoutItems using a custom Model for uniformity
2. Add items from your

[2019-06-05 20:39] thudugala commented on #6269
fixed in 16.1.2

[2019-06-05 22:17] samhouts commented on #6419
@groege  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-06 00:22] taskbasic commented on #6233
This is not the same issue.  Though the wording makes it seem so.  This issue is about ListViewItems rendering into place individually as if on a webpage, which isn't typical behavior for ListViews on UWP.

[2019-06-06 00:23] LineInHidden commented on #4829
Please fix this issue as my application will be nothing without this feature. It happens on iOS and UWP as well.

[2019-06-06 01:06] kvpt commented on #5894
@lassana sorry for the delay.
I tried the version you posted with an emulator on marshmallow and I don't reproduce the blank screen.
![nocrash](https://user-images.githubusercontent.com/1446221/58999417-049ba000-8806-11e9-8c7c-b636386438db.gif)
I also forced the activity destruction in the developer settings to be sure but this seems to work as expected.

I know that certains users of my app repor

[2019-06-06 01:51] cjpartin commented on #6297
I have the same issue, when any recycling caching strategy is active and you scroll in a listview with enough elements that some may come off screen, any alignment they have is removed upon scrolling up.

[2019-06-06 01:55] cgollubske commented on #5134
Figured out that the if the title is too long it doesn't wrap correctly as well. It wraps to two lines and cuts off the rest.

[2019-06-06 03:02] lassana commented on #5894
@kvpt My configuration is basically the same as yours. FYI: I tried `4.1.0.483098-pre1` and got blank screen.
[MyXamarinFormsApp.zip](https://github.com/xamarin/Xamarin.Forms/files/3259764/MyXamarinFormsApp.zip)

<details>
  <summary>Screencast</summary>

![ScreenRecording2019-06-06at5 54 22AM mov](https://user-images.githubusercontent.com/2004960/59003939-8bf60d00-8820-11e9-83a2-639e51a959e7.gif)

[2019-06-06 03:42] ahoefling commented on #6292
Perfect! I'll submit the PR tomorrow morning.

It took me most of the night to get the bugs worked out with it but I have it working. I was running into a problem where the `RecyclerView` kept rendering behind the footer (red) and I wasn't able to adjust the margin. I ended up calculating the footer height and setting it in the renderer and it all started working.

Here is a sneak peak with it wor

[2019-06-06 04:16] #6334 closed

[2019-06-06 04:16] #6399 closed

[2019-06-06 04:16] #6372 closed

[2019-06-06 04:44] HobDev commented on #6393
There is lots of discrepancy betweeen iOS and Android. In Android I didn't need Custom Maps. I also didn't iterate through the pins. I simply set the Marker properties and it is done.
Whereas on iOS I still need CustomMap class and I need to iterate through all the pins.
[Here](https://github.com/HobDev/CustomPinSample) is the sample.

[2019-06-06 07:03] jsauve opened #6424 "Shell: CollectionView or ListView content in a top tab ShellContent page is obscured behind top tabs on iOS"
### Description
CollectionView or ListView content in a ShellContent's page is obscured behind the tabs on iOS. It appears that perhaps the top insets are incorrect. Video of the behavior: https://www.youtube.com/watch?v=_NuOoiVpHrw

Issue exists only in iOS, not Android.

Wrapping the CollectionView or ListView in a ScrollView appears to fix the insets problem, but then pull-to-refresh doesn't wo

[2019-06-06 08:21] groege commented on #6419
I have copied my projects and removed pretty much everything not needed to test the issue.

[Solution1.zip](https://github.com/xamarin/Xamarin.Forms/files/3260634/Solution1.zip)

When you run the project, press first the plus symbol in the toolbar.
The first time it will work and you will see an edit icon, so go back and press the plus icon once more and this time you should see an Asian character

[2019-06-06 09:35] StuartFergusonVme opened #6425 "Unable to set focus to button after selecting an Item from Picker"
### Description

Unable to set focus to button from a Picker control on item selection.

### Steps to Reproduce

1.  Add 3 controls to the main page

[code]
2.  Wire up the events as follows:

[code]

### Expected Behavior

When the user presses enter on the Entry Box the focus moves to the picker.
When the user selects an item from the picker, by pressing enter the focus moves to the button.
When

[2019-06-06 10:10] lvenchi opened #6426 "[Bug]"
### Description
App crashes after vs 2019 16.1.2 update
### Steps to Reproduce
Passing a binding context to a view

### Expected Behavior
App doesn't crash
### Actual Behavior
App crashes with SIGSEGV
### Basic Information

- Version with issue: 16.1.2
- Last known good version: 16.1
- Platform Target Frameworks:  Android 9

- Affected Devices: Samsung note 9

=====================================

[2019-06-06 10:17] acaliaro commented on #1659
@davidortinau which is the current status of this enhancement?
Will it be in release?

[2019-06-06 10:20] lvenchi commented on #6426
Forgot my NuGet Packages

Newtonsoft.Json Version="12.0.2"
DLToolkit.Forms.Controls.FlowListView Version="2.0.11"
IdentityModel.OidcClient Version="2.9.0"
Polly Version="7.1.0"
sqlite-net-pcl Version="1.5.231"
SQLiteNetExtensions Version="2.1.0"
Xam.Plugin.Connectivity Version="3.2.0"
Xam.Plugin.Media Version="4.0.1.5"
Xamarin.FFImageLoading Version="2.4.11.982"
Xamarin.FFImageLoading.Forms Versio

[2019-06-06 10:33] jsuvanto opened #6427 "[CollectionView, Android] DisposedObjectException thrown when adding elements to ItemsSource after having disposed CollectionView containing EmptyView"
### Description

Adding elements to the ItemsSource of a CollectionView, that has EmptyView set, throws an exception. This exception _cannot_ be caught calling the Add() function inside a try-catch. A workaround is not to set the EmptyView.

### Steps to Reproduce

1. Create a new Xamarin.Forms project
2. Create a page containing a CollectionView that has ItemsSource and EmptyView set
3. Open and

[2019-06-06 10:52] KarthikRajaAKR opened #6428 "Native renderer doesn't call when Navigating back from any page to page which has custom control"
### Description
I have used navigation page. My Main page has custom entry, for which I have created native renderer. Initially renderer works fine. I navigate to next page using PushAsync, then returning back to the main page, here native renderer doesn't call for custom entry.

I have used this procedure in DataForm control for your convenience I reproduced the issue in a simple sample.

Issue r

[2019-06-06 10:52] pauldiston commented on #6296
I have run into this problem as well where my ToolbarItem images are not displaying, and only showing text. I am not entirely sure of the resolution to this problem.

Please can someone share the solution to this?

[2019-06-06 10:54] lvenchi commented on #6426
Update: The problem i found is the two-way binding in the xaml of the view. I still got that problem tho. (problem that i hadn't till 16.1.12)

[2019-06-06 10:55] pauldiston commented on #6258
Just to be clear, is this the same issue where Toolbar Item images are no longer displaying, just text?

[2019-06-06 11:54] veletron2 commented on #6313
Hopefully this is the issue I am seeing in the new CollectionView as well as the ListView and the 3rd Party Nuget MultiSelectListView. I have icon + text in every element, and some of the icons are failing to load (randomly!). The issue is particularly noticeable if, in my List<Class>, instead of:

`public ImageSource ActivityImage => GetActivityIcon.GetImage(ActivityIconId);`

I do:

`public Imag

[2019-06-06 11:58] rasel-tr commented on #6296
@pauldiston changing my MainActivity inherited from FormsAppCompatActivity solved my problem

[2019-06-06 12:04] ValonK commented on #3691
any news on this?

[2019-06-06 12:40] jrahma opened #6430 "Sign in with Apple ID"
Hi,

With the new Sign in with Apple ID coming with iOS 13, I hope this will be added to Xamarin Forms as a separate XF Nuget Package to help using this feature

Thanks,
[Jassim](https://www.jassimrahma.net)

[2019-06-06 12:49] mzhukovs commented on #5593
Agree with @Mephisztoe it really is a great productivity tool, and of course the option of actually making the app available for Windows is a nice plus too   :)

[2019-06-06 12:56] pauldiston commented on #6296
@rasel-tr I have switched my MainActivity to inherit from FormsAppCompatActivity rather than FormsApplicationActivity, however upon running my app now, an exception is raised "You need to use a Theme.AppCompat theme (or descendant) with this activity.".

I presume I will need to follow the steps in the following to get this working :-
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform

[2019-06-06 16:05] ZeProgFactory opened #6436 "[Bug] [WPF] Grid + ListView -> first row height not correct"
### Description
If you put a `ListView` in a `Grid` the first `RowHeight` is to small unless you specify a correct default value.

### Steps to Reproduce
[code]

### Expected Behavior
![2019-06-06 (2)](https://user-images.githubusercontent.com/17034030/59047525-54b94780-8884-11e9-9fee-b611b6d625da.png)

### Actual Behavior
![2019-06-06 (1)](https://user-images.githubusercontent.com/17034030/590474

[2019-06-06 16:27] PureWeen commented on #6258
@pauldiston it should be but I'll make sure to test that scenario as well just to be sure! Thanks for reminding me

[2019-06-06 16:47] PureWeen commented on #6258
Actually @pauldiston looking at the issue here https://github.com/xamarin/Xamarin.Forms/issues/6296 the problem there is not using appcompat

If you're using non appcompat and you still use the old Icon field then the images should still show up

[2019-06-06 16:48] PureWeen commented on #6296
@paulbatum correct!!

You need to set your applications theme to use something that inherits from appcompat

[2019-06-06 17:44] TheBaileyBrew commented on #6112
Badge support shouldn't be limited to only Tabs (top or bottom) - it should also be supported in the FlyoutMenu itself so the badges can be seen when the flyout opens and users don't need to navigate into each page to see the badges.

[2019-06-06 17:50] baywolf-studios commented on #4268
Any updates on this getting fixed?

[2019-06-06 18:52] MagicAndre1981 commented on #6335
I also get this from time to time and a simply unload/reload of the UWP app fixes it.

[2019-06-06 19:40] jdcarrillo commented on #6436
It is not displaying the information in the list correctly. Version: 4.0.0.482894 (latest stable)
![image](https://user-images.githubusercontent.com/5039921/59061348-edda6500-8868-11e9-984f-8dd3f356e044.png)

[2019-06-06 19:41] jdcarrillo commented on #6436
It is not displaying the information in the list correctly. Version: 4.0.0.482894 (latest stable)
![image](https://user-images.githubusercontent.com/5039921/59061461-34c85a80-8869-11e9-879a-a5e89fd6fc16.png)

[2019-06-06 20:29] Dresel commented on #6112
Yes, it's on my (extended) list, might look similar to

<img src="https://user-images.githubusercontent.com/41873/50061853-28403080-0169-11e9-81ab-074245f1868b.PNG" width="400" />

Since Flyout Items are rendered with forms controls and can use custom templates, it's (from an implementations perspective) different though. I will update the spec according to that soon.

[2019-06-06 20:37] kvpt commented on #6427
From the code it's because the ItemsViewAdapter is never disposed in the dispose method of the ItemsViewRenderer. I don't know if it's intended or not.

[2019-06-06 21:13] kvpt commented on #6427
Can you provide a sample with the issue please ?
I tried to setup what you mention in your description to confirm the cause but it don't reproduce the issue.

[2019-06-06 22:13] effpath999 opened #6438 "[Enhancement] Give the possibility to choose how many tabs should be displayed in the Xamarin.Shell tabbar"
## Summary
Actually, the tabbar in Xamarin.Shell displays up to five tabs before resorting to the More menu.
I think five tabs are quite a lot, especially considering that the tabbar isn't optimized to show only icons (if you omit the text, the icons are aligned at the top and some empty space remains at the bottom): five string of text could make the tabbar very crowded, especially in some langua

[2019-06-06 22:32] samhouts commented on #6427
@jsuvanto  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-06 22:34] samhouts commented on #6425
Duplicate of #5616

[2019-06-06 22:34] #6425 closed

[2019-06-06 22:37] samhouts commented on #6424
Duplicate of #6238

[2019-06-06 22:37] samhouts commented on #5635
@claunia  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-06-06 22:37] #5635 closed

[2019-06-06 22:38] samhouts commented on #6114
@psatheesh18  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-06-06 22:38] #6114 closed

[2019-06-06 22:39] samhouts commented on #6222
@filyjunior  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-06-07 04:10] itoledo opened #6439 "[Bug] ListView showing empty items on XF4"
### Description
ListView shows empty cells, worked fine in XF3.6 and older.

### Steps to Reproduce

1. clone the repo at https://github.com/itoledo/XF4ListBug (it's the MasterDetail template with changes extracted from the app I'm working on)
2. check the ItemsViewModel.cs for the code. I'm using a DataTemplateSelector, which always selects the same template.
3. run the app and scroll down.

###

[2019-06-07 04:11] andreinitescu commented on #6112
Can we please have this for non Shell too? I am thinking that it should be first implemented in the non Shell (classic) and then surfaced in Shell.

[2019-06-07 04:44] mfeingol commented on #6355
A note... this isn't fixed in 4.0.0.482894.

[2019-06-07 04:53] mfeingol commented on #5367
This is still an issue in 4.0.0.482894.

[2019-06-07 04:57] mfeingol commented on #1932
This is still an issue in 4.0.0.482894.

[2019-06-07 05:03] mfeingol commented on #3838
This would be a great enhancement to ToolbarItem.

[2019-06-07 05:08] mfeingol opened #6440 "[Enhancement] Add IsVisible to MenuItem"
## Summary

It should be possible to make MenuItems invisible if necessary, by providing a public IsVisible bindable property.

## API Changes

Add an IsVisible property to MenulItem. When set to true, the item is displayed in ContextActions, and when set to false it is hidden. The property should be bindable.

## Intended Use Case

Items in a ListView may differ from each other and may wish to pr

[2019-06-07 05:23] mfeingol commented on #5505
This is still an issue with 4.0.0.482894.

[2019-06-07 05:24] mfeingol commented on #5762
This is still an issue on VS 16.1.2 with Xamarin Forms 4.0.0.482894.

[2019-06-07 05:51] sahadevgupta opened #6441 "Issue on Navigating back Master Details Page in Xamarin forms MVVM prism using unity"
Hi, I've attached a small project in which I'm currently facing the issue.
I've one Page it navigates to MasterDetail Page. MasterDetail Consist a Page1 in detail , there is one button which navigates to page2. Now when I navigate back then it navigates to Page1 but the MasterDetail Page is not available now..

### Expected Behavior
On navigating back the page should be within masterdetail page.

[2019-06-07 06:39] Shashidhar014 commented on #5516
I used CustomRenderer to to resolve this issue, you can inherit MaterialButtonRenderer and set Control.UppercaseTitle = false

[2019-06-07 06:50] jsauve commented on #6424
Hi @samhouts, I'm not entirely sure that my issue is the same as #6238. I have used `Page.UseSafeArea="true"` as mentioned in #6238, but I'm still seeing the same results with the top of a CollectionView or ListView being obscured by the top tabs. My issue certainly seems similar, but I'm seeing the issue on iPhone X and greater device form factors as well as older non-notched device form factors,

[2019-06-07 07:10] autosoftmultimedia commented on #3150
News about this issue? I'm still releasing my app with Forms 3.1 due to this bug.

[2019-06-07 07:17] imuller commented on #6368
Is there already a fix for this?

[2019-06-07 07:54] Dresel commented on #6112
What's wrong with packages like [xamarin-forms-tab-badge](https://github.com/xabre/xamarin-forms-tab-badge)? Problem with shell is that it's not possible to use this libraries without touching / replacing too much of the shell internals, whats why I was proposing this in the first place.

[2019-06-07 08:24] PawKanarek commented on #6368
Yeah, but i think its still not merged.
@rmarinho can you tell why you marked this pattern as wrong? We've been using it whole time in our company, and everything was fine until now.

[2019-06-07 08:59] jsuvanto commented on #6427
I'm not sure if behaviour somehow depends on whether the EmptyView was specified in XAML or Code-behind. I haven't had the time to test this more thoroughly. I cannot provide a project just yet, but here's some excerpts of the code I used:

Page.xaml:
[code]

MainViewModel.cs:
[code]

I'll try to provide a project that reproduces the behaviour as soon as I can. I hope these snippets help you meanw

[2019-06-07 09:07] td1311 opened #6442 "[Bug] ListView has broken layout"
### Description
On iOS: ListViews with complex layout has broken layout and missing text
### Steps to Reproduce

1. Create ListView with complex layout
2. Change data in ListView
3. Items in ListView has agliment error
4. Change data in ListView again
5. ListView's Items has missing text
6. Scroll ListView
7. ListView's Items display correctly

### Expected Behavior
The ListView display correctly

[2019-06-07 09:09] andreinitescu commented on #6112
My suggestion is not related to that package, it might be a great package. I was only suggesting a way I think it's best to handle this, which is to give this new feature to non-Shell apps too. I just wanted to share my feedback.

[2019-06-07 09:11] pauldiston commented on #6296
@PureWeen Thank you very much for reply. I have now got past this issue however have now run into another issue regarding the OnOptionsItemSelected not firing.
As a side note, would you be able to tell me the benefits of moving from FormsApplicationActivity to FormsAppCompatActivity as this seems to have raised a number of issues, I am unsure of the advantages to switching.

[2019-06-07 09:50] rmarinho commented on #6347
Hi, we are updating but we have a new feed:

https://aka.ms/xf-ci/index.json

[2019-06-07 09:55] nicolas-garcia opened #6443 "[Bug] Button "released" event not fired when using Shell"
### Description

When using Shell, the event "released" on button are not fired if you move your finger while holding the button, even if it's the slightest move.
Works well on an application without Shell.
Behavior observed only on Android, not iOS.

### Steps to Reproduce

1. Create an application using Shell
2. Add a button on a page
3. Wire "released" event to whatever you want
4. Run the app

[2019-06-07 10:18] ArgusMagnus opened #6444 "[Bug] [Shell] ShellContent.BindingContext not inherited"
### Description

The BindingContext for `ShellContent` objects are not inherited from the `Page`/`ShellSection`.

### Steps to Reproduce

MainPage with `BindingContext = new MainVM();` and Layout like:

    <TabBar>
        <Tab Icon="{bmex:Icon home}">
            <ShellContent Title="{Binding Page1VM.Title}">
                <ShellContent.ContentTemplate>
                    <DataTemplate>

[2019-06-07 10:26] rmarinho commented on #6368
The documentation already stated correctly that OnElementChanged could be called multiple times, This is because of renderer reuse OldElement and NewElement as well as when Disposing passing new as the Element so we can detach effects and other stuff. So if you think in this case , it just doesn't make sense to create a new Control when you are Disposing that control , a user can know that if a Ne

[2019-06-07 10:49] arvindrajachourasiya opened #6445 "Binding Selected record to Picker"
### Description

On ViewModel loading I am binding default record to Picker. When initializing Picker using `new `keyword Picker selection isn't working

[code]
But when getting selected `SelectedLeaveType `from Source data it is working See code below. Why so?

[code]

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last