[2019-03-18 12:45] dpjonesVst commented on #4898
Any chance this is going to be worked on soon?

[2019-03-18 13:52] alanag13 commented on #5326
Looks like this is this likely fixed by #5013?

[2019-03-18 14:48] #3777 closed

[2019-03-18 16:23] vlkam commented on #5591
After a lot of attempts it's been successful compiled

[2019-03-18 16:23] #5591 closed

[2019-03-18 17:42] samhouts commented on #5592
@allessandrosj Can you please attach a sample project that demonstrates the issue? Thanks!

[2019-03-18 18:09] vhsoaresr commented on #2735
any update?

[2019-03-18 18:50] psp589 opened #5601 "CollectionView SelectedItem TwoWay Binding not working"
### Description
When I Select an item from the collection the selected item doesn't change
### Steps to Reproduce
Having this XAML
[code]
With this data in the Model
[code]

### Expected Behavior
SelectedItem must change its value on each item tap
### Actual Behavior
It doesn't change
### Basic Information

- Version with issue: 4.0.0.232914-pre6 ( not working neither in 4.0 pre-7 neither 4.0 pre-

[2019-03-18 19:08] filmar25 commented on #5159
The picker not working too, not only DatePicker.
The solution .IsVisible = true not working for me.

[2019-03-18 19:10] sergey-tihon commented on #3777
`Disregard the Dark mode` is the Fix? really?
Is proper dark mode support planned?

[2019-03-18 19:24] dfoulk commented on #2415
@jassmith - I welcome this idea- regardless of whatever it makes harder because working with navigation pages, master-detail pages, etc. feels way to convoluted. Maybe this is because I come from a web background (have not worked with native APIs much). Customizing the navigation bar, page titles, back button, toolbar items, headers and footers (ListView), etc. come to mind here.

I suppose what I

[2019-03-18 21:58] samhouts commented on #4553
The fix for this issue was reverted with https://github.com/xamarin/Xamarin.Forms/pull/5550, since this XAML is valid and does not error in other parsers. We need to revisit how to keep this scenario from erroring, too (there is no error in UWP with this construct). @StephaneDelcroix

[2019-03-19 00:11] PureWeen commented on #5159
https://developer.android.com/about/versions/pie/android-9.0-changes-28

Pickers probably should have a ShowDialog method instead of just having to go via focus
Either way we'll have to figure out a way to make Focus() work on API 28 to trigger dialoge

[2019-03-19 03:43] sergey-tihon commented on #3777
Discussed this with @migueldeicaza today:
It may worth to think about proper support of Dark mode

[2019-03-19 04:02] akarthikraja18 commented on #5597
Any updates on this?

[2019-03-19 05:40] Kornelis commented on #5497
It would be nice to have both, a Title and aPlaceholder (Hint). So in case no entry is selected it would show a hint like "Please select a Monkey..." and if a Monkey is selected (either by user or preselected via code) it would just show the Title "Monkey" like on Entry Elements

[2019-03-19 09:04] RathnaPrem commented on #4831
Hi @TimBarham

The reported issue still occurs in the latest Xamarin.Forms stable and beta versions.

![Screenshot 2019-03-19 at 2 31 58 PM](https://user-images.githubusercontent.com/47023307/54593212-0b5f1600-4a54-11e9-864b-fc5fa2b4c622.png)

[2019-03-19 10:03] Alex9rob commented on #1353
Hi. The issue still exists at iOS versions lower than 12.
Are there some known workarounds or planned fixes?

[2019-03-19 10:11] AndreiMisiukevich opened #5606 "[Enhancement] Make Device.Info visible for IntelliSense"
## Summary
It would be great to remove EditorBrowsableState.Never from **Device.Info** property.
It's annoying to retrieve screen's size from OnSizeAllocated or write own dependency service.

Sure, we can use it  due visibility was changed here (internal to public with **EditorBrowsableState.Never**)
https://github.com/xamarin/Xamarin.Forms/commit/e6d5186c8acbf37b877c7ca3c77a378352a3743d#diff-3e64

[2019-03-19 10:14] kgbuddhima opened #5607 "Xamarin Forms label - Span size change not working for iOS"
I have added 2 texts in a label as spans. but that 2 spans has been assigned different font sizes.
When the app runs, it shows those 2 tests in 2 sizes in Android fine.
But, when run on iOS, both texts are showing in same size.

Here is my code.
`
<Label  Grid.Row="0" Grid.Column="4" Grid.RowSpan="2" Text="{Binding MaxPointsHiddenGlobal}"
                           Style="{DynamicResource CaptionL

[2019-03-19 10:41] AndreiMisiukevich commented on #5606
The same for PlatformService

[2019-03-19 11:03] AntRemo commented on #5421
@TomDeVlaminck-vdkspaarbank

If you desire, I was able to force the animator duration scale to 1 when it is set to 0 by following the approach undocumented here:
https://arpytoth.com/2016/12/20/android-objectanimator-independent-of-global-animator-duration/

He states that this is an undocumented method, but I have not experienced any production errors using this approach.

I ultimately wanted to

[2019-03-19 11:15] felipesouto commented on #4186
Any progress on this one?

[2019-03-19 11:29] hamid-shaikh commented on #5518
I am also facing same behavior. Please check

[2019-03-19 11:30] EP01 commented on #4835
Just ran into this on UWP too. Workaround works, thanks @Nk54!

[2019-03-19 12:23] theonlyroboboro commented on #4731
Has there been any progress on this issue?

[2019-03-19 15:10] dabx5 opened #5609 "Xamarin iOS 12.2.1.15 Visual Studio Community 7.8.2 - Content Extension Not Working"
### Description
We have been trying to get Mobile Notification Content Extensions working for a Mobile App on iOS but following all the guidelines and directions they don't see to work.

### Steps to Reproduce
This was posted on Stack Overflow but so far no answers. Sample file has been provided to reproduce.

https://stackoverflow.com/questions/55012998/xamarin-ios-notification-content-extension-

[2019-03-19 15:26] jalbertSyncroTech commented on #5517
There's a discussion on the forums regarding the issue, the only work-around appears to be writing a custom renderer that overrides OnElementChanged() and OnElementPropertyChanged() to avoid the call to UpdateOnColor()
https://forums.xamarin.com/discussion/151252/switch-crashing-uwp-app-post-upgrade-to-xf-3-6

[2019-03-19 15:40] Corneliuskruger commented on #1353
I am not able to cause the issue on iOS 12.1.4 with Xamarin Forms 3.4. I still use the InputTransparent work around in our production apps, and it does not seem to cause any issues.  So I would suggest that if you have to support pre 12 devices.

[2019-03-19 15:54] PureWeen commented on #5497
So you're thinking once they select an actual monkey the placeholder inside the entry just becomes a title?

Our plan is to expose all the different recommended labels for material

https://material.io/design/components/text-fields.html

![image](https://user-images.githubusercontent.com/5375137/54620946-90ced000-4a2c-11e9-8db3-e9044f5330fd.png)

For your use case I would see the
PlaceHolder ->"Mo

[2019-03-19 16:26] Kornelis commented on #5497
As the Picker is not a Textfield i'd prefer to have a hint that the user has to make a choice instead of enter some text. Obviously this gets clear once the user clicks the picker but in my opinion this would make it more clear in a mixed UI with Entries & Pickers where the user has to enter text or can choose from elements from a Picker. But having the Placeholder as Title would look awkward if I

[2019-03-19 17:48] andreinitescu opened #5610 "iOS: Setting AnchorY incorrectly translates view"
### Description

Setting AnchorY (event to zero) translates the view on iOS

### Steps to Reproduce

I have a BoxView aligned at the top of the parent Grid and with AnchorY="0"
As soon as I change height by clicking on the Button (or just rotate the device), the BoxView is translated up.

[code]
[code]

### Expected Behavior

The BoxView should remain aligned at the top after changing its height:

[2019-03-19 18:10] #5204 closed

[2019-03-19 18:39] alexanderzuban opened #5611 "Android: No constructor found for renderer in title view"
### Description

### Steps to Reproduce

1. Compile the sample project
2. Oper in portrait and rotate to landscape

### Expected Behavior

Render custom button in title

### Actual Behavior
Exception happends
[code]

### Basic Information

- Version with issue: 3.6
- Platform Target Frameworks:
  - Android:  8.0(phone), 8.1(tablet)

It maybe releated to #2584

### Reproduction Link

[CustomRender.

[2019-03-19 19:08] taori commented on #5553
@samhouts sorry - i no longer have access to the source code to reproduce the issue with a repro. I hope the underlying issue can be resolved without it too.

[2019-03-19 19:12] PureWeen opened #5612 "[macOS] NRE when navigating around automation galleries"
### Description
macOS on the master branch is crashing with various NRE's when you navigate around accessibility galleries.

Might be related to
https://github.com/xamarin/Xamarin.Forms/issues/5434

### Steps to Reproduce

#### 1
- Control Gallery
- Accessibility
- back button
- crash

#### 2
- Control Gallery
- AutomationID Gallery
- Test1
- POP
- crash

### Expected Behavior
neither case above s

[2019-03-19 20:09] sis2004 opened #5614 "Android crash from FrameRenderer caused by VisualElementPackager"
### Description

When I use [CarouselView](https://github.com/AndreiMisiukevich/CardView) inside a ListView (where each cell has its own carousel view), it crashes in an Android emulator with the following exception:
[code]
[Full stack trace](https://github.com/AndreiMisiukevich/CardView/files/2980015/CarouselFrameException.txt)

When I debugged it using a local Xamarin.Forms nuget package built f

[2019-03-19 20:12] wcoder opened #5615 "iOS: OpenUri for URL with whitespace. Double Percent-Encoding"
### Description

When I open URI with whitespace, I get the wrong result URL (double Percent-Encoding).

### Steps to Reproduce

1. Create simple Xamarin.Forms app
2. Call `Device.OpenUri(new Uri("https://www.google.by/search?q=xamarin forms"));`
3. Launch on iOS

### Expected Behavior

Opened browser page for `https://www.google.by/search?q=xamarin%20forms` or  `https://www.google.by/search?q=xam

[2019-03-19 21:49] samhouts commented on #5609
This issue was moved to xamarin/xamarin-macios#5790

[2019-03-19 21:49] #5609 closed

[2019-03-19 21:50] samhouts commented on #5607
@kgbuddhima Can you please attach a sample project that shows this issue? Thanks!

[2019-03-19 22:02] samhouts commented on #5594
@ianvink Go ahead and send it to me (sahou). This seems interesting!

Thanks!

[2019-03-19 22:10] samhouts commented on #5590
@jrahma It looks like you may need to try uninstalling the Xamarin.Forms and all of the Xamarin.Android.Support libraries. Then install Xamarin.Forms and let it install the proper versions. Your project seems like it may have gotten into a strange state. Make sure you are compiling with the latest Android version, too. Thanks!

[2019-03-19 22:10] #5590 closed

[2019-03-19 22:15] samhouts commented on #5576
@Scy15 Can you please attach a sample project or show how you're creating the deep links? Thanks!

[2019-03-19 22:17] samhouts commented on #5573
@jessiezh0320 Do you see the same behavior with both the Android and iOS previews? Can you attach a sample project? Thanks!

[2019-03-19 22:22] samhouts commented on #5571
I wouldn't really call this a bug, but it is definitely an annoying limitation. I think that the solution provided in the StackOverflow link is actually a pretty great way to handle the situation without resorting to a custom renderer. If you find that this doesn't work for you, let me know, and we'll reopen this as a possible enhancement. Otherwise, I'll close this and hopefully it helps someone

[2019-03-19 22:22] #5571 closed

[2019-03-19 22:22] samhouts commented on #5570
@khadeeja-alif Can you please attach a sample project that demonstrates this problem? Thank you!

[2019-03-19 22:30] samhouts commented on #5569
You may need to try the implementation that uses DependencyServices instead: https://blog.xamarin.com/put-adal-xamarin-forms/

[2019-03-19 22:30] #5569 closed

[2019-03-19 22:52] samhouts opened #5616 "`Focus` is not consistent on all platforms"
### Description

This is a larger issue that requires some discussion. The basic summary is this:

All Xamarin.Forms controls are `VisualElement`s, which contains a basic set of properties and events that should work on any `VisualElement`.

However, the `Focus` method is not functional on many mobile controls (e.g., `Button`, `WebView`) because there is no native option to put focus on such nativ

[2019-03-19 22:53] samhouts commented on #5526
Duplicate of #5616

[2019-03-19 22:53] #5526 closed

[2019-03-19 22:56] samhouts commented on #5522
@moljac Are you saying that the problem is resolved, or that there is still a partial issue to investigate?

[2019-03-19 23:03] PureWeen commented on #5616
FYI to add to the focus fun

https://developer.android.com/about/versions/pie/android-9.0-changes-28

Pickers probably should have a ShowDialog method instead of just having to go via focus
Either way we'll have to figure out a way to make Focus() work on API 28 to trigger dialoge

Which is currently causing this
https://github.com/xamarin/Xamarin.Forms/issues/5159

Which now makes the behavior of

[2019-03-19 23:07] samhouts commented on #5514
[Issue5514.zip](https://github.com/xamarin/Xamarin.Forms/files/2985869/Issue5514.zip)

I put a breakpoint in `OnTouchEvent` and it hit. Can you confirm? Thanks!

[2019-03-20 01:25] luczha opened #5618 "DatePicker does not support choose date and time at same time"
## Summary
I can not use standard date picker and another standard time picker separately from Xamarin Forms. I need to create custom solution (one view - simple choose both date and time).

Finally,I solved it by use Custom Renderer.However ,I think it should be available in Forms.Just like
in Xamarin.iOS.

[2019-03-20 06:15] MagicAndre1981 commented on #5188
@nickrandolph it is now fixed with [Xamarin.Forms 3.6.0.264807 (3.6.0 Service Release 1)](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/3.6/3.6.0-sr1#tuesday-march-19-2019---xamarinforms-360264807-360-service-release-1)

[2019-03-20 06:29] Chozarajan commented on #1600
Any news of when it will be fixed?

[2019-03-20 08:16] kritsadadechawantana opened #5621 "[iOS] Webview.CanGoBack alway return false"
Webview.CanGoBack alway return false when navigate internal link in website develop from javascript framework like angular, react, vue on ios. But i test on native(Xcode + Swift) it work

[2019-03-20 08:21] psp589 opened #5622 "CollectionView SelectedItem Color"
### Description
When no BackgroundColor is set to ItemTemplate, the SelectedItem shows a Orange background color, when you set a BackgroundColor in ItemTemplate, then SelectedItem has the same color than the rest of the items and you could not Identify the SelectedItem.
It would be appreciated also being able to set the BackgroundColor / BorderColor of selectedItem instead of just a orange color.

[2019-03-20 08:32] tranb3r commented on #5288
Still no assignee... what's going on ??

[2019-03-20 09:07] psp589 opened #5623 "CollectionView with Incremental Collection (RemainingItemsThreshold)"
### Description
I don't see any way of working with an incremental collection because I dont kwow when should I call LoadMoreItems method, with a ListView there is an ItemAppearing event, in there you could figure it out when you're reaching the last items so you could load more, in a scrollview we have scrolled event, so you could figure it out when you're reaching the bottom of the list so you c

[2019-03-20 09:50] psp589 opened #5625 "CollectionView SelectionMode SelectionMode="Multiple" Not working"
### Description
I can't get to work the selection multiple in CollectionView, I can't select more than one item, also I didn't see a SelectedItems property, only SelectedItem
### Steps to Reproduce

Having this XAML
[code]
With this data in the Model
[code]

### Expected Behavior
Could select more than 1 item
### Actual Behavior
is not possible
### Basic Information

- Version with issue: 4.0.0.23

[2019-03-20 09:53] StephaneDelcroix commented on #5577
I agree with implementing a TypeConverter

[2019-03-20 09:55] john-heaven commented on #5569
Thanks @samhouts ,I will try it!

[2019-03-20 10:02] MitchBomcanhao commented on #5507
I've upgraded Xamarin forms from 3.6.0.220655 to the new 3.6.0.264807 release and compiled bindings with Booleans are still crashing the app when not debugging - ie behaviour is the same as before.

The only way the app will run properly is by removing compiled bindings on elements that use the Boolean bindings.

[2019-03-20 10:34] Scy15 commented on #5576
Please find below the code snippet I am using.

NSUserActivity userActivity;
NSUrl webpageUrl = userActivity.WebPageUrl;
var resolveUniversalLink = DynamicLinks.SharedInstance.HandleUniversalLink(webpageUrl, (dynamicLink, error) =>
               {
                   if (error != null)
                   {
                       Logger.Log("AppDelegate ", "could not resolve universal link for the

[2019-03-20 10:52] AndreiMisiukevich commented on #5614
Similar issue https://github.com/AndreiMisiukevich/ContextMenu/issues/4

android.runtime.JavaProxyThrowable: System.InvalidCastException: Specified cast is not valid.
at Xamarin.Forms.Platform.Android.ScrollViewRenderer.SetElement (Xamarin.Forms.VisualElement element) [0x00007] in <7999cc4bd5664eca8a72469344172ca3>:0
at Xamarin.Forms.Platform.Android.VisualElementPackager.AddChild

StackLayout is

[2019-03-20 11:07] HobDev opened #5626 "Frame.CornerRadius is not respected by iOS when Editor is inside"
### Description
Frame.CornerRadius does not work in iOS when an `Editor` is inside Frame.
### Steps to Reproduce

1. Add a Editor inside a Frame in ContentPage in Shell
2. Set CornerRadius on Frame
3. Deploy the app

### Expected Behavior
Frame with rounded corners
### Actual Behavior
The Frame don't have rounded corners
### Basic Information

- Version with issue: Xamarin.Forms 4 pre-6
- Last kno

[2019-03-20 11:16] HobDev opened #5627 "[Material,iOS] The App with Grid inside ScrollView hangs on iOS"
### Description
I have a Grid as main layout in the contentpage. If I put this main grid in Scroll View the app hangs (does not show any thing) on iOs.
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue: Xamarin.forms 4 pre-6
- Last known good version:
- IDE:Visual Studio for Mac preview
- Platform Target Frameworks:
  - iOS:

[2019-03-20 11:21] HobDev opened #5628 "[Material,iOS] unable to set HorizontalOption or VerticalOption in Grid"
### Description
I have Grid as my main Layout in contentPage. If I set HorizontalOptions or VerticalOptions with Visual="Material" the app does not work on iOS
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue: xamarin.forms pre-6
- Last known good version:
- IDE:Visual Studio for Mac preview
- Platform Target Frameworks:
  -

[2019-03-20 11:23] tomaustin700 commented on #3964
We are also having this problem. This needs fixing or a workaround provided.

[2019-03-20 11:25] JamesBrining commented on #3964
This is becoming a real issue for us - please look into this ASAP

[2019-03-20 11:26] kicsiede opened #5629 "[Xaml] Missing platform value in OnPlatform causes ArgumentNullException when type is x:BindingBase"
### Description

Missing platform value in OnPlatform causes ArgumentNullException when type is x:BindingBase.

### Steps to Reproduce

1. for example:
<StackLayout>
  <StackLayout.IsEnabled>
    <OnPlatform x:TypeArguments="BindingBase" iOS="{Binding Source=False}"/>
  </StackLayout.IsEnabled>
</StackLayout>

2. run it on any non-iOS platform.

### Expected Behavior

don't try to set any binding

[2019-03-20 11:31] andyr97 commented on #3964
Also a big issue for us too, please escalate

[2019-03-20 11:54] StephaneDelcroix commented on #5507
@MitchBomcanhao Please open a new issue referencing this one (as it's closed). provide a sample repro project, and please try if 4.0 pre6 has the problem as well

thanks

[2019-03-20 12:00] RobWos opened #5630 "Quick navigation on Android results in ArgumentOutOfRangeException"
### Description
Currently when pushing a mainpage and then quickly navigate to the next page, then navigate back results in an exception.
### Steps to Reproduce

1.  Override the OnAppearing on the mainpage and push the second page
2.  Call PopToRootAsync
3.  App crashes

### Expected Behavior
The application navigates back to mainpage.
### Actual Behavior
Throws an exception, however if I add Tas

[2019-03-20 12:58] Huaba93 commented on #5321
i think it's related to [#3932](https://github.com/xamarin/Xamarin.Forms/issues/3932)

[2019-03-20 13:25] dronishe opened #5631 "ImageSource.FromFile strange work"
### Description

Setting image source from file path works differently depending on file location and on Xamarin Forms version.
The following code in xaml leads to different image sizes (see screenshots) with different Xamarin Forms versions.

` <StackLayout Orientation="Vertical">
<Image Source="Octocat.png" Aspect="AspectFit"/>
<Image Source= "/data/user/0/com.companyname.ImageSourceExample.Andr

[2019-03-20 13:25] adrianknight89 commented on #5625
#5352

[2019-03-20 13:30] psp589 commented on #5625
#5352 says Android and IOS, what with UWP ?

[2019-03-20 13:32] adrianknight89 commented on #5625
Not sure if @hartez is still updating https://gist.github.com/hartez/7d0edd4182dbc7de65cebc6c67f72e14, but I think the change was implemented only for Android and iOS for now.

[2019-03-20 13:40] 632575987 opened #5632 "[Enhancement] selectable on label, maxline on label without textwrap"
1.  Is there a way to ***make the label control can be selectable***. like some text on iOS, the text can be selectable ***and then copy,paste options appears***, but I can't find the property on the label to set this effect.

2. 【 label & editor 】 Usually I want to ***display a long and multilines text on the phone screen instead of textwrap***, If the text is out of the screen, I want to scroll

[2019-03-20 13:55] adrianknight89 commented on #5623
There is a proposed feature for this: RemainingItemsThreshold

https://github.com/xamarin/Xamarin.Forms/issues/3172

[2019-03-20 14:42] kvpt commented on #5630
Duplicate of issue #4729.
I made a PR that fix the issue [here](https://github.com/xamarin/Xamarin.Forms/pull/4730) and the Xamarin Team [another ](https://github.com/xamarin/Xamarin.Forms/pull/5047).
We have to wait that one of them is merged.
For now, I use a custom patched version of the framework with this fix.
If you are interested I can provide it.

[2019-03-20 15:53] davidortinau opened #5634 "[Shell] Tab Bar icons shift"
### Description

When I navigate to a page with tabs hidden and then back, the tabs display higher than the bottom bar, and then shift into place.

https://www.screencast.com/t/NsRkPZItM

### Basic Information

- Version with issue: 3.6.0

### Reproduction Link

https://github.com/davidortinau/TheLittleThingsPlayground

[2019-03-20 16:37] claunia opened #5635 "[Shell] Padding not working with Android translucent status bar"
### Description
Setting padding in Xamarin Shell does not work to prevent the navigation bar to be drawn below Android's status bar.

### Steps to Reproduce

1. In MainActivity add:
[code]
2. In AppShell.xaml add:
[code]

### Expected Behavior
Shell page title and back button appears below status bar.

### Actual Behavior
Shell page title is rendered below status bar.

### Basic Information

- Ver

[2019-03-20 16:43] PureWeen commented on #5288
At this point we have a plan in place that will involve a release from both sides. There's still some additional testing that needs to be done just to ensure we've dotted and crossed all the things

- Syncfusion is going to push out a release which will make this work for 3.1, 3.2, 3.3, 3.6
- We are working on a hot fix for 3.4 and 3.5 that will make it work for those versions

[2019-03-20 17:18] samhouts opened #5636 "[Feedback] Xamarin.Forms Xaml Previewer error for Android, ok for iOS"
### Description

<p>In my project the Xamarin.Forms Xaml Previewer gives error for Android, but for iOS it is OK. I'm using a Carousel page with CarouselPage.ItemTemplate</p>
<a href="https://developercommunity.visualstudio.com/content/problem/498308/xamarinforms-xaml-previewer-error-for-android-ok-f.html">View on Developer Community</a>
<br>To find diagnostic information, see the <a href="https:/

[2019-03-20 17:18] samhouts opened #5637 "[Feedback] Xamarin Forms Shared project UWP menu disappears with no way to go back or show the menu again."
### Description

<p><p>I implemented MasterDetailPage into my app, but on Windows 10 the behavior seems a bit weird. When the app starts, the menu is showing as expected. But when I click an item, it disappears with no way to go back or show the menu again.</p>
<p>This has been reported before some 19months ago and isn’t something new.</p>
<p><a target=_blank href="https://stackoverflow.com/questi

[2019-03-20 17:18] samhouts opened #5638 "[Feedback] Xamarin does not detect XAML changes."
### Description

<p>Steps:

1-One Button is remarked in XAML file, Screentshot 1.

2-Compiled, .No errors. gs file is correct. Screenshot 2.

3-But, when the upplication runs, still getting error for remarked button.

Additional info:

Also notice, XAML code colors, it can not detect code and objects and declerations etc. and can not assign right color for XAML code. Screenshot 4.

It must be like

[2019-03-20 17:18] samhouts opened #5639 "[Feedback] Text overlaps Image in ItemView in Xamarin WPF"
### Description

<p>Having a ListView with an image on the left and text on the right, the text overlaps the image after pushing to a new page and then popping back to the current page.

This only happens in the WPF client, UWP and Android work correctly.

This is the XAML to reproduce:
(If we put the label directly to right of the image, without the second StackLayout, the problem does not occur)

[2019-03-20 17:30] ianvink commented on #5594
I verified my provisioning profiles are good, cleaned bin/obj, tried on both VS Mac and VS 2017. same EOF error.

So then I tried deleting my provisioning profile and re-creating.

Now it works.

[2019-03-20 17:30] #5594 closed

[2019-03-20 17:31] #2618 closed

[2019-03-20 18:29] developer9969 commented on #2233
Hi
is there any update on this one.Basically the editor is not usable at all in iOS.
Thanks

[2019-03-20 18:50] Giorgi commented on #5288
@PureWeen @GnanaPriyaNamasivayam  Is there any timeline for these fixes?

[2019-03-20 19:02] dotMorten commented on #5188
This dependency breaks ARM64 support, as that isn't part of the Win2D package.

[2019-03-20 19:21] dotMorten opened #5640 "Xamarin.Forms no longer work on UWP ARM64"
### Description
Xamarin.Forms took a dependency on `Win2D.uwp` at v3.6. However Win2D does not support ARM64, so that support was lost in that move.

### Steps to Reproduce

1.  Build a 3.6 UWP app for ARM64
2. Deploy and run on an ARM64 device

### Expected Behavior
App runs

### Actual Behavior
App will crash

### Basic Information
Also see this related issue:
https://github.com/xamarin/Xamarin.

[2019-03-20 20:18] tmt242001 opened #5641 "[Material,Android]: Setting focus to Entry inside ListView crashes the app"
### Description
When using Xamarin.Forms Material.

If there is a Entry inside ListView, Setting focus to the Entry will crash the app.
### Steps to Reproduce

1. Run the attach app
2. Set focus to "Inside List View" Entry

### Expected Behavior

Not to crash.

### Actual Behavior

App crash.

### Basic Information

- Version with issue: 3.6.0.264807

- Last known good version: It works when you s

[2019-03-20 20:55] thudugala opened #5642 "[Material,Android] Button Overlay Issue"
### Description
When using Xamarin.Forms Material.

If controls are overlay on top of Button there are not visible.

### Steps to Reproduce

1. Run the attach app

### Expected Behavior

See the Left and Right Label on top of Button

### Actual Behavior

Cannot see the Left and Right Label on top of Button

### Basic Information

- Version with issue: 3.6.0.264807
- Last known good version: It wor

[2019-03-20 21:21] nickrandolph commented on #5640
@davidortinau what can we do to improve support for UWP across Xamarin.Forms?

[2019-03-21 00:08] #4713 closed

[2019-03-21 00:18] samhouts commented on #5640
As a workaround, you can install the update package from here: https://github.com/Microsoft/Win2D/issues/637

[2019-03-21 00:23] samhouts commented on #5285
@bradlak Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-21 00:23] #5285 closed

[2019-03-21 00:32] samhouts commented on #5630
Duplicate of #4729

[2019-03-21 00:32] #5630 closed

[2019-03-21 00:37] samhouts commented on #5625
This should be in 4.0.0-pre8. Thanks!

[2019-03-21 00:52] 851265601 opened #5643 "[Enhancement] Xamarin.Forms :Android Swipe to previous page like Telegram in IOS"
## Summary

I can achieved that swipe to previous page like following link in IOS.
https://i.stack.imgur.com/wAWKk.gif

But it cannot be achieved(same as in IOS, swipe to previous page follow fingertips ) in android following link.
https://i.stack.imgur.com/kStAP.gif

Following is my code.
In IOS:

    [assembly: ExportRenderer(typeof(HIPSTO.Controls.CustomContentPage),
        typeof(HIPSTO.iOS.P

[2019-03-21 03:19] john-heaven opened #5644 "Populating a CollectionView with data error with System.TypeInitializationException: The type initializer for 'Xamarin.Forms.ItemsView' threw an exception."
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/collectionview#populating-a-collectionview-with-data

### Description

When I add the Xaml code of CollectionView to my project, I find that it can't run, and I will report the following **_error: System.TypeInitializationException: The type initializer for 'Xamarin.Forms.ItemsView' threw an exception._**

### Steps to Reproduce

[2019-03-21 05:51] deivaselvan commented on #5288
@Giorgi  - Already promised by Xamarin team that this fix will be done within their current sprint and provided timeline on March 29, 2019.
https://github.com/xamarin/Xamarin.Forms/issues/5288#issuecomment-473300702

[2019-03-21 05:59] akarthikraja18 commented on #5039
I have used UIPickerView that comes from Xamarin.Forms.iOS, please suggest a solution from your side. This is a issue with Xamarin.

[2019-03-21 07:08] HobDev opened #5646 "[Shell,FlyoutIcon] iOS does not show FlyoutIcon and FlyoutIcon ImageSource does not work"
### Description
The FlyoutIcon on iOS is not visible. On the other hand setting FlyoutIcon to ImageSource does not work on Android as well as iOS.
### Steps to Reproduce

1. Create new App with Shell and Flyout enabled
2. Deploy the app. Android will show default FlyoutIcon. Whereas iOS don't have any FlyoutIcon.
3. Set FlyoutIcon to Image Source. Still the Android will have default FlyoutIcon and

[2019-03-21 08:14] psp589 opened #5647 "CollectionView item hidden holds space"
### Description
When a Item gets hidden it doesn't free its space and It is still seleccionable.
### Steps to Reproduce
Having this XAML
[code]
xaml.cs : (Clicked event)
[code]
VM:
[code]
BoolToHeight converter:
[code]
### Expected Behavior
A hidden item should be not seleccionable and it should not take any space
### Actual Behavior
It takes space and it is seleccionable
### Basic Information
- V

[2019-03-21 08:31] psp589 opened #5648 "ListView item hidden holds space"
### Description
When a Item gets hidden it doesn't free its space and It is still seleccionable.
It works fine in UWP but not in Android.
### Steps to Reproduce
Having this XAML

xaml.cs : (Clicked event)

VM:

BoolToHeight converter:
### Expected Behavior
A hidden item should be not seleccionable and it should not take any space
### Actual Behavior
It takes space and it is seleccionable
### Basic

[2019-03-21 08:39] psp589 commented on #5648
Setting HasUneventRows in ListView to "True", the space gets reduced, but there is some yet, and also the hidden items  are seleccionable
![image](https://user-images.githubusercontent.com/5736566/54740998-429d0680-4bbd-11e9-8527-f2d70a6b00c3.png)

[2019-03-21 09:16] yrest opened #5649 "[UWP] Switch causes app to crash on 3.6"
### Description
Since XF 3.6 (the two versions published in nuget) below code crashes the app with System.ArgumentException as logged in https://github.com/xamarin/Xamarin.Forms/pull/4883#discussion_r267342643

### Steps to Reproduce

1. Create new cross-platform app
2. Add this code
< StackLayout Orientation="Horizontal" >
< Switch x:Name="FirstSwitch" IsToggled="{Binding **FirstToggled**}" / >
<

[2019-03-21 09:34] yrest commented on #5649
It seems to be a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/5517

[2019-03-21 09:34] #5649 closed

[2019-03-21 09:38] yrest commented on #5517
Same for me, but 3.5 works fine https://github.com/xamarin/Xamarin.Forms/pull/4883#discussion_r267342643

[2019-03-21 09:41] HobDev opened #5650 "[Shell,TitleView, Android] TitleView Bindings does not work with Android"
### Description
The Text Property of Label.Text does not bind with ViewModel property in Android. Although it work if I do x:Reference with the page.
### Steps to Reproduce

1. Create a TitleView and add a label within .
2. Bind Label.Text to a viewmodel property.
3. Deploy to app to iOS and Android.

### Expected Behavior
the Text should display on iOS and Android
### Actual Behavior
Text does no

[2019-03-21 09:44] HobDev commented on #5650
It seems like Android have problem with any type of binding. Button commands also don't work with Android in Xamarin.Forms 4.

[2019-03-21 09:47] HobDev commented on #5578
I think the problem is Andorid only. Please see this:
https://github.com/xamarin/Xamarin.Forms/issues/5650

[2019-03-21 10:24] TobiasRoeddiger commented on #5159
Facing the same issue. Any quick workarounds for this at the moment?

[2019-03-21 10:31] inforithmics opened #5651 "Compiled Bindings does not work with Inherited Generic Interfaces"
### Description

Compiled Bindings does not work with Inherited Generic Interfaces

[code]

The SelectedItem  is not found in IViewModel and causes a Object reference not set to an instance of an object exception.

Removing IEditViewModel from the inheritence hierarchy makes the program to compile

### Steps to Reproduce

1.

Interfaces

[code]
[App25.zip](https://github.com/xamarin/Xamarin.Forms/

[2019-03-21 11:11] #4852 closed

[2019-03-21 13:13] adrianknight89 commented on #5087
I'm seeing this same issue on iOS as well.

[2019-03-21 13:13] Jamesmallon1 commented on #4623
@Gioele-Bencivenga Haven't heard anything in the forums unfortunately. I think the renderers need a bit of clean up / re-write. I don't think altering the MasterBehaviour at runtime was considered during their development. Would be great to see this issue resolved as I've had to completely hack around it with my own renderers and even then there are still a couple of issues.

[2019-03-21 13:39] #2204 closed

[2019-03-21 13:39] #4891 closed

[2019-03-21 13:39] #4919 closed

[2019-03-21 13:39] #1760 closed

[2019-03-21 13:39] #5246 closed

[2019-03-21 13:39] #5288 closed

[2019-03-21 13:39] #5504 closed

[2019-03-21 13:39] #5579 closed

[2019-03-21 13:42] jkastner opened #5652 "Focus Inside ScrollView Changes when Non-Interactable Element is Clicked"
### Description
When a scrollviewer wraps some item that's scrolled out of view, and the user taps on a portion of the contained area that isn't interactable (such as a label), the scrollviewer brings the first focusable element into view.
This causes an unexpected jump, and makes scrollviewer unreliable.

### Steps to Reproduce

1. Create a ScrollViewer
2. At the top of the scrollviewer, place an

[2019-03-21 13:44] mshwf commented on #1556
I didn't know there's an issue nor a fix to this issue, as I described here #5392, I think it should be reopened

[2019-03-21 14:08] #3886 closed

[2019-03-21 14:26] keozx commented on #5288
In their forum thread Syncfusion is still saying is a Xamarin thing, they don't seem to have a release estimate for their change to support 3.6?
https://www.syncfusion.com/forums/142489/compatibility-with-xamarin-forms-3-5

[2019-03-21 15:38] paymicro opened #5654 "[Android] ControlGallery crashes running UI test 1588"
### Description

The test for Issue1588 crashes on Android.

### Steps to Reproduce

1. Navigate to the test.
2. Click the "Animate" button.

### Expected Behavior

The application don't crashes.

### Actual Behavior

The application crashes.

[2019-03-21 16:29] HobDev commented on #5646
Strangely the ImageSource on FlyoutIcon is being set on `ShellItem`on Android platform.

<img width="350" alt="Screenshot 2019-03-21 at 9 54 41 PM" src="https://user-images.githubusercontent.com/9531864/54767974-444de500-4c24-11e9-8c17-26a23cd889b0.png">

[2019-03-21 16:57] samhouts commented on #5288
As @PureWeen said in his comment, this is a coordinated release with SyncFusion. Xamarin is releasing service releases to fix compatibility for 3.4 and 3.5. SyncFusion is releasing a new version that will fix compatibility with 3.5 and 3.6. Hopefully, both Xamarin releases will be available next week. Although we cannot speak to SyncFusion's release schedule, we are aware that this is a high prior

[2019-03-21 17:30] dbwelch commented on #3486
For example, the Shell (in v4) requires a ContentView for it's main content, there is no way (that I know of) to trigger any changes in the ConventView when showing the Shell without OnAppearing/OnDisappearing in the ContentView.  I'm sure there are other use cases, but this seems very obvious to me, "needs specification"?

[2019-03-21 17:33] PureWeen opened #5656 "[Enhancement] Setup CI to install nugets into different projects and run basic tests to verify compatibility"
## Summary
We've added sets of ABI comparison checks to our CI so that we can validate breaking changes between releases but it would still be a good idea to have an automated process that installs a nuget and then runs a basic set of UI tests against said app.

For example it can
- pull down smart hotel 360
- install latest nugets
- click through a few basic buttons
- This should also run all of

[2019-03-21 17:35] samhouts opened #5657 "Picker.Focus() throws exception in 3.6"
Hi @samhouts

At Xamarin forms version 3.6 last stable also, Picker.Focus() calls throws exception , I have attached the exception details, Also Issue replicated sample, follow the replication procedure

Replication Procedure:
1. Run the attached sample and Enable the Exception settings (C++ Extensions, Common Language Runtime Exceptions)
2. Click the Button named as LoadLabel to load the label Vi

[2019-03-21 18:00] samhouts commented on #5644
Please add `Forms.SetFlags("CollectionView_Experimental");` to your AppDelegate and MainActivity, as described in the paragraph above section you linked to in the documentation. Thanks!

[2019-03-21 18:00] #5644 closed

[2019-03-21 19:00] SymboLinker opened #5659 "[Enhancement] Editor.AutoSize should take into account a "multi line" Placeholder"
Editor.AutoSize should take into account a "multi line" Placeholder, which includes the case that the text of the Placeholder is wrapped. A related issue is "Editor with AutoSize should have an initial Height #4972".

[2019-03-22 03:33] ZhuMingHao opened #5661 "Xamarin Forms MasterDetailPage button padding issue in UWP"
### Description

I'm currently learning Xamarin Forms and I have a small graphic issue. I have to fit the height of all the buttons to 100% (based on Navigation bar). Actually Xamarin cut some pixels in the bottom for the hamburger icon and the "three dots" icon is not set to 100% height.

### Steps to Reproduce

1. Create xamarin form project with  default template Master-Detail
2. Modify UWP tar

[2019-03-22 04:54] dansiegel commented on #5166
@davidortinau as discussed at the MVP Summit this is a major blocker to any possible adoption of Shell by third party frameworks like Prism. Always happy to jump on a call with you and the team if it would help to clarify understanding around the issues.

[2019-03-22 04:59] akarthikraja18 commented on #5597
Hi @samhouts please let me know, Is this a bug or it can be achievable in sample level?
I need this in high priority.

[2019-03-22 05:00] HobDev commented on #5646
And the same issue with iOS.

![Simulator Screen Shot - iPhone 8 Plus - 2019-03-22 at 10 20 43](https://user-images.githubusercontent.com/9531864/54801574-7ba4ac00-4c8d-11e9-8650-b24f4d5471ac.png)

[2019-03-22 05:49] HobDev opened #5662 "[Shell,Flyout] First Flyout Item is always selected and highlighted on startup"
### Description
The First Flyout Item is always selected and highlighted on App Startup. Even if the first page is set to a tab. This screen shot is when the Flyout item is the first  page on startup.

<img width="350" alt="Screenshot 2019-03-22 at 10 59 47 AM" src="https://user-images.githubusercontent.com/9531864/54802980-967a1f00-4c93-11e9-9547-6de094c66acb.png">

This one is when the first pag

[2019-03-22 06:27] Sivaraman761 opened #5663 "Clipping issue in Xamarin.Forms.Android platforms (version 3.4 and above.)"
### Description
Hi Team,

We at Syncfusion developer community, data visualization controls for Xamarin and we have more than 90 controls spread across all platforms of Xamarin. Please refer the below link for a description about us.
**UserGuide:** https://help.syncfusion.com/xamarin/sfdatagrid/overview
**FeatureTour:** https://www.syncfusion.com/products/xamarin.

We would like to bring to your n

[2019-03-22 06:45] nitishmani opened #5664 "NavigationPage.SetTitleView not working in WPF"
### Description
When I try to add a custom view on the title, it is working across all the platforms except WPF
### Steps to Reproduce

1. Add a WPF project to the Xamarin.Forms project, and add all the required Xamarin forms dependencies
2. Add a view in the title of a navigation page as below
NavigationPage.SetTitleView(this, new Button(){Text = "NewButton"});
3. Run the sample

### Expected Beh

[2019-03-22 09:49] mackayn commented on #3838
@Skirtek

Adam wrote a little to support toolbar visibility which I modified a bit, it's not perfect but used it in a few apps in an MVVM scenario.

https://forums.xamarin.com/discussion/40622/found-a-way-to-make-toolbaritems-visible-invisible-without-a-custom-renderer

[2019-03-22 09:57] kevinvella opened #5665 "IsEnabled property being disregarded in button when there is a command"
### Description
IsEnabled property being disregarded in button when there is a command

### Steps to Reproduce

1. Make a button `<Button Command="{ Binding NextCommand }" Text="Next" IsEnabled="false" />`
2. Click on the button
3. It still executes the command

### Expected Behavior
Button should not execute the command

### Actual Behavior
Button executes the command

### Basic Information

- Ve

[2019-03-22 10:31] Skirtek commented on #3838
Thanks! I used your code with a little changes. But still waiting for support from Xamarin Team :)

[2019-03-22 10:32] SuNNjek opened #5666 "[UWP] Unable to cast object of type 'Microsoft.Graphics.Canvas.UI.Xaml.CanvasImageSource' to type 'Windows.UI.Xaml.Media.Imaging.BitmapSource'."
### Description
Using ImageButton in combination with FontImageSource crashes the application under UWP.
The exception is the following:

[code]

### Steps to Reproduce

1. Start the attached application
2. The app crashes instantly

### Expected Behavior
The app should show an ImageButton with the specified Material-Design icon as the source.

### Actual Behavior
The app crashes.

### Basic Infor

[2019-03-22 11:14] HobDev opened #5667 "[Shell, Flyout Header,iOS] Flyout Header have incorrect layout on iOS"
### Description
The Shell Header is too large on iOS. It also put the content on status bar. Whereas the Header displays correct on Android.

**Android**

<img width="355" alt="Screenshot 2019-03-22 at 4 35 30 PM" src="https://user-images.githubusercontent.com/9531864/54819270-63e71b00-4cc1-11e9-9d17-2d46baa13be7.png">

**iOS**

![Simulator Screen Shot - iPhone 8 Plus - 2019-03-22 at 16 35 37](htt

[2019-03-22 12:10] #4325 closed

[2019-03-22 12:10] #4706 closed

[2019-03-22 14:30] WinBase commented on #4921
I am having the same problem and tried the solution here but no luck

https://forums.xamarin.com/discussion/112670/style-on-custom-control-property-not-supported

[2019-03-22 15:18] EislerDavid opened #5669 "Combination of FormattedString and TailTruncation problems"
### Description
When I use Label with LineBreakMode="TailTruncation" and set FormattedText with some spans then tail truncation is not working on iOS and freezes on Android.

### Steps to Reproduce
1. Create Label with LineBreakMode="TailTruncation"
2. Set FormattedText with some spans
- tail truncation not working on iOS and freezes on Android API22 and lower
3. Add into FormattedText some new li

[2019-03-22 21:31] samhouts commented on #5665
Duplicate of #4754

[2019-03-22 21:31] #5665 closed

[2019-03-22 21:44] samhouts commented on #5648
@psp589 Do you happen to already have this is in a project that we can use to test with? Thanks!

[2019-03-22 21:45] samhouts commented on #5647
@psp589 Do you happen to already have this in a project that we can use to test with? And is this one also only a problem on Android? Thanks!

[2019-03-22 21:55] samhouts commented on #5578
Duplicate of #5650

[2019-03-22 21:55] #5578 closed

[2019-03-22 22:02] samhouts commented on #5648
perhaps related to #4184, #4424, #5359

[2019-03-22 22:02] samhouts commented on #5647
perhaps related to #4184, #4424, #5359

[2019-03-22 22:05] samhouts commented on #5638
Can you please clarify if you believe this to be an actual bug or if you have resolved this issue with your own code changes? If you believe it is a bug, can you please attach a reproduction project here? Thank you!

[2019-03-22 22:07] PureWeen commented on #5628
@HobDev can you update to pre7 and let me know if it works?

I've also attached my test run against pre7 which looks to run ok

[Test.zip](https://github.com/xamarin/Xamarin.Forms/files/2998447/Test.zip)

[2019-03-22 22:08] PureWeen commented on #5627
https://github.com/xamarin/Xamarin.Forms/issues/5628#issuecomment-475799286

[2019-03-22 22:14] samhouts commented on #5511
This is being monitored on https://github.com/xamarin/xamarin-android/issues/2694. I'll close this one for now. Thanks!

[2019-03-22 22:14] #5511 closed

[2019-03-22 22:18] samhouts commented on #5529
I'm going to close this for now and let the work be tracked on #5005. Thanks!

[2019-03-22 22:18] #5529 closed

[2019-03-22 22:19] samhouts commented on #5651
Duplicate of #5486

[2019-03-22 22:19] #5651 closed

[2019-03-22 22:25] PureWeen commented on #5628
@HobDev also the app looks pretty interesting!! Thank you for reporting issues and keep us updated on how your use of shell and visual goes!!

https://twitter.com/paul_dipietro
https://twitter.com/davidortinau
https://twitter.com/PureWeen

[2019-03-22 22:37] samhouts commented on #5576
@rmarinho Thoughts?

[2019-03-22 22:41] samhouts commented on #5436
@walingersystems Do you happen to have a sample project? Thanks!

[2019-03-22 22:44] samhouts commented on #4921
@WinBase Can you provide a sample project? Thanks!

[2019-03-22 23:01] samhouts commented on #4842
Hi! If you're still looking for assistance, try https://forums.xamarin.com/categories/xamarin-forms. Thanks!

[2019-03-22 23:01] #4842 closed

[2019-03-22 23:01] samhouts commented on #5163
Hi! If you're still looking for assistance, try https://forums.xamarin.com/categories/xamarin-forms. Thanks!

[2019-03-22 23:01] #5163 closed

[2019-03-22 23:02] samhouts commented on #5295
Hi! If you're still looking for assistance, try https://forums.xamarin.com/categories/xamarin-forms. Thanks!

[2019-03-22 23:02] #5295 closed

[2019-03-22 23:02] samhouts commented on #5492
Hi! If you're still looking for assistance, try https://forums.xamarin.com/categories/xamarin-forms. Thanks!

[2019-03-22 23:02] #5492 closed

[2019-03-23 00:04] jamesmontemagno opened #5673 "UWP: FlexLayout no longer wrapping elements"
### Description

### Steps to Reproduce

See reproduction: https://github.com/jamesmontemagno/Hanselman.Forms/tree/podcast-details

[code]

### Expected Behavior
FlexLayout wraps correctly

### Actual Behavior

Seems to be displaying it as a normal list

### Basic Information

- Version with issue:
- Last known good version: 3.5.0
- IDE: VS 2019

### Screenshots
Previously
![image](https://user-im

[2019-03-23 00:06] samhouts opened #5674 "[Enhancement] `ControlTemplate` should include a `FindByName<T>()`"
[code]

[code]

_Originally posted by @ChaseFlorell in https://github.com/xamarin/Xamarin.Forms/pull/5343#issuecomment-475240168_

[2019-03-23 11:12] WinBase commented on #4921
Hi Samantha

Thanks for the offer of help. I will be interested in hearing your findings

For me to send my project would make the email too big to send as I have lots of stuff added as links and its going to take me too long to dissasemble then re-assemble after so you get a fully compilable project, but ive attached the relevant files so  you can just cut and paste into your own test project.. i

[2019-03-23 15:21] andreinitescu commented on #5674
@samhouts I created a similar issue more than more than a year ago, https://github.com/xamarin/Xamarin.Forms/issues/1620

[2019-03-23 18:11] davidortinau commented on #5543
Android emulator. Not sure about Android device. iOS looks ok on device and sim. @samhouts

[2019-03-24 01:11] samhouts commented on #5674
I knew it looked familiar ;)

We still need to work on a spec for it.

[2019-03-24 01:11] samhouts commented on #5674
Duplicate of #1620

[2019-03-24 01:11] #5674 closed

[2019-03-24 01:25] g4mb10r commented on #5205
I have this issue as well.  Please fix.

[2019-03-24 13:22] HobDev commented on #5628
@PureWeen I run the attached project. I also tested on my app project. With Xamarin.Forms-pre7 the I can set HorizontalOptions and VerticalOptions on Grid. I can also make ScrollView the main layout.  Thankyou

[2019-03-24 13:25] HobDev commented on #5627
[#5628 (comment)](https://github.com/xamarin/Xamarin.Forms/issues/5628#issuecomment-475958782)

[2019-03-24 13:31] HobDev commented on #5628
About Shell I can say it will make developers more productive. Developing complex apps will be lots easier with Shell. Visual will give more options about design.

[2019-03-24 14:00] #5628 closed

[2019-03-24 14:01] #5627 closed

[2019-03-24 19:00] mfeingol opened #5675 "Xamarin.Forms.Maps: OnMapReady is called twice on Android"
### Description

When using a MapRenderer on Android, the `OnMapReady` override is called twice during map instance startup,

### Steps to Reproduce

1. Create a custom map and a custom map renderer
2. Use a custom map in a page
3. Observe `MapReady` is called twice

### Expected Behavior

`MapReady` is only called once.

### Actual Behavior

`MapReady` is only called twice, with two different ins

[2019-03-24 22:25] adrianknight89 commented on #2735
Unfortunately, `ForceUpdateSize` never truly worked on iOS. I'm hoping `CollectionView` will resize cells better when it's complete.

[2019-03-25 05:30] davidortinau opened #5677 "NSRangeException with CollectionView"
### Description

When I bind to a `ListView` it works, but using `CollectionView` I get:

[code]

### Steps to Reproduce

1. Run the app on iOS and observe the crash

### Expected Behavior

Displays a list.

### Actual Behavior

Crashes

### Basic Information

- Version with issue: 4.0-pre7
  - iOS:  12.1

### Reproduction Link

[Archive.zip](https://github.com/xamarin/Xamarin.Forms/files/3001665/

[2019-03-25 08:54] chrisfoulds commented on #5087
this is a real performance killer in my applications any idea of timeframe ?

[2019-03-25 09:06] EduardoViecili commented on #5677
This is the exception related

[code]

[2019-03-25 11:16] trolloks commented on #1556
This issue still appears when animations are disabled, via accessibility options on the device

[2019-03-25 12:33] Mikilll94 opened #5679 "Crash when calling ChangeCanExecute() from non-UI thread"
### Description

App crashes when running async method which triggers ChangeCanExecute(). I think this should the responsibility of the renderers to trigger any visual updates on the UI thread. The workaround for this problem is to wrap all ChangeCanExecute() in Device.BeginInvokeOnMainThread()

### Steps to Reproduce

Run async methods which triggers ChangeCanExecute(). You can i.e. create a butt

[2019-03-25 12:59] SuNNjek opened #5680 "[Enhancement] Add method to force value coercion"
## Summary
It would be nice to have a method that forces a BindableProperty to be coerced, similar to WPF's [CoerceValue method](https://docs.microsoft.com/en-us/dotnet/api/system.windows.dependencyobject.coercevalue?view=netframework-4.7.2)

## API Changes

The BindableObject class would have an additional method called CoerceValue that looks like this:

[code]

When called, this method would coe

[2019-03-25 15:05] #4356 closed

[2019-03-25 15:09] davidortinau commented on #5677
I finished the Android implementation of my page and CV loads there.

[2019-03-25 15:54] Moltroon opened #5681 "Target Framework Version is currently v8.1 and must be greater than or equal to v9.0 in order to use Material on Android."
### Description
Android v9.0 not detected

### Steps to Reproduce

1. Create a new solution
2. Update packages
3. Add Material config to MainActivity

### Basic Information

- Version with issue: 4.0 pre-7
- IDE: Visual Studio Windows 2017
- Platform Target Frameworks:
  - Android: 7.0
- Android Support Library Version: 9.0
- Nuget Packages:
  - LiveXAML 2.1.70
  - NETStandard.Library 2.0.3
  - Ne

[2019-03-25 16:24] jalbertSyncroTech commented on #5657
@samhouts @DeepikaBalaSubramaniyan Any known work-arounds for this until the next release?  We just updated to X.F 3.6.0-sr1 but this control is on the home page of one of our consumer apps.

[2019-03-25 16:27] Moltroon commented on #5681
[MaterialError.zip](https://github.com/xamarin/Xamarin.Forms/files/3004388/MaterialError.zip)

[2019-03-25 16:31] PureWeen commented on #5681
@Moltroon you need to update the android project so the Target Android version is set to Android 9.0

I opened your project and it's still set to 8.1
Right click the android project and go into the android properties there and you can set it to 9.0

![image](https://user-images.githubusercontent.com/5375137/54936927-1e0c9b80-4ee9-11e9-8c27-6535cd06340b.png)

[2019-03-25 16:31] #5681 closed

[2019-03-25 17:12] domyd opened #5682 "WPF: ViewCell content width does not update on ListView width change"
### Description
If the `ListView` width changes on WPF (e.g. on resizing the window), the `ViewCell`'s content is not resized to match the new width. The `ViewCell` itself seems to resize just fine (based on the hover effect), however the content does not.

### Steps to Reproduce
1. Create a new Xamarin WPF application
2. Add a `ListView` as a root of a `Page` and give it some strings to display
3

[2019-03-25 18:26] dbwelch commented on #2415
Is there source code that is available to see how this Shell works, instead of having to guess around the spec?  For example, what style is used to color the hamburger icon, if it's available.  Sorry, new at C#/Xamarin, but, if the code were viewable somewhere, would help tremendously.

[2019-03-25 18:38] davidortinau commented on #2415
@dbwelch you can browse the source code right here on GitHub. Hit "T" and type in Shell to see associated classes. That may not be the best starting point however if you're new to C#/Xamarin. I recommend checking out some of my samples until we get more documentation up:

https://github.com/davidortinau/Gastropods
https://github.com/davidortinau/ShellGallery
https://github.com/davidortinau/TheLitt

[2019-03-25 19:50] Weishaupt commented on #1326
I still experience this behavior in a production app on the iPhone 5s and the iPhone 5s simulator. The Repo Solution from above works fine. Unfortunately, I cannot quite put my finger on what exactly is going wrong.

![grafik](https://user-images.githubusercontent.com/2642714/54948900-11666280-4f3e-11e9-962f-14ca5a4f90bb.png)

As you can see, for two elements the message is too long and wraps. Som

[2019-03-25 20:02] dbwelch commented on #2415
@davidortinau thanks, but, I thought it was just released code, where is the Shell code?  I've looked under branches for 4.0, Shell, others, but, it's hiding from me!  Thanks!

[2019-03-25 20:05] pauldipietro commented on #2415
@dbwelch https://github.com/xamarin/Xamarin.Forms/search?q=shell&unscoped_q=shell

Shell.cs for example is [here](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/Shell/Shell.cs)

[2019-03-25 20:09] ghost opened #5683 "Xamarin.forms for macOS no platformeffects?"
### Description
https://github.com/xamarin/Xamarin.Forms/wiki/Platform-Support-macOS-Status

Page doesn’t indicate platformseffects not implemented yet- had to find out the hard way. Please update page to indicate Status of effects, trigger and behaviour support - it’s one of the reasons that Xamarin forms is powerful stuff but not available for macOS - please give indicate of when it will be work

[2019-03-25 20:16] ali-h2010 commented on #5288
I tried to ignore the assembly while linking by adding the following to the ignore list but it didn't work.
`Syncfusion.SfListView.XForms`
I have 2 question:
- Why do Syncfusion's assemblies which is a third party plugin is being linked when i select `Link SDK assemblies only`?
- Can we ignore all the assemblies under a namespace ?

[2019-03-25 21:41] massaraksh33 commented on #1574
Same here, VS 15.9.0

[2019-03-25 21:50] EmilAlipiev commented on #5288
@ali-h2010 because syncfusion tools like sflistview, it doesnt use xamarin forms listview, it is probably using datagrid with custom virtualization pretending to be listview. So xamarin made some breaking changes on datagrid, i presume and broke all the custom tools of Syncfusion. Syncfusion is actually quite ahead of xamarin regarding the tools, for example, drag and drop feature is still not exi

[2019-03-25 21:58] dbwelch commented on #2415
@pauldipietro Thanks, see it now.  @davidortinau I actually have spent a good deal of time on all the links (except LittleThings, which I just downloaded), but, just don't see how to change such a simple thing as the hamburger icon color.  It's appearing as purple in my app, but, I don't have a purple color defined anywhere (that I can see).  A bit frustrating ;-).

[2019-03-25 22:01] samhouts commented on #5253
@sebastianfilke Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-25 22:01] #5253 closed

[2019-03-25 22:02] samhouts commented on #5500
@mfow Are you able to provide us with a reproduction project? Thanks!

[2019-03-25 22:41] hartez commented on #1556
@trolloks Please open a new issue.

[2019-03-25 23:09] rizamarhaban commented on #2415
I have some items showing in the flyout panel which is fine. However, is currently already have a way to hide/not show a Shell item (not the item content). Example, I have a ContentPage and I just want to have the navigation inside the Shell.

    <local:DetailPage />

It seems is always adding the item in the Flyout panel/list. And if there is no Title, then it will have an empty stack/placeholde

[2019-03-25 23:32] davidortinau commented on #1856
Seeing more usage of gradients, and hearing it's making a comeback. SkiaSharp is great for this, and we should do a real look at supporting this everywhere in XF controls: Foreground and Background. FontIconSource with a gradient....good use case right there.

Related:
https://github.com/davidortinau/VisualChallenge/pull/23
https://auroracontrols.app

[2019-03-26 00:23] samhouts commented on #5680
@SuNNjek Good news! This already exists. Thanks!

https://github.com/xamarin/Xamarin.Forms/blob/50dbbcf55d71f75fa79aa87e8514799b322f3bda/Xamarin.Forms.Core/BindableProperty.cs#L24

[2019-03-26 00:38] kingces95 commented on #5510
@omghb Could you please attached a zipped solution created from the XF template project?

[2019-03-26 00:39] kingces95 commented on #5576
@Scy15 Could you attach a zipped reproduction starting from the XF template project?

[2019-03-26 05:04] trolloks opened #5686 "Animation tasks do not complete when Animations are removed in Accessibility Settings."
### Steps to Reproduce

1. On a Android 9.0 device, go to Settings -> Accessibility -> Remove animations
2. Call any animation - var animationTask = label.FadeTo(1)
3. await the resulting task

### Expected Behavior

Animation completes instantly, Task immediately completes.

### Actual Behavior

Animation does not occur, Task never completes.

When battery saver is enabled, the complete instantly

[2019-03-26 05:05] trolloks commented on #1556
Started #5686

[2019-03-26 05:36] luczha opened #5687 "Listview SelectionMode=None only works in Android"
### Description

### Steps to Reproduce

Listview SelectionMode=None - not working in iOS platform

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:  iOS 11.4

- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2019-03-26 07:09] Scy15 commented on #5576
Could you please try the above mentioned code snippet on a sample project?

[2019-03-26 07:17] andreinitescu opened #5690 "Map's Pin Equals makes two Pins equal when they really arent'"
## Summary

Not sure if this is a bug or an enhancement... While working on #5689 I came across an issue.

Pin has Equals() implementation based on equality of Label, Position, Type and Address. This means if there are two Pins with same values, they are considered equal.
See https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Maps/Pin.cs#L90
So if we have two Pins with same Label,

[2019-03-26 07:51] psp589 commented on #5647
@samhouts  Hello, no, it is not only a problem on Android, is in both Android and UWP.
I'll create a github repo with a project reproducing the problem.

[2019-03-26 07:54] psp589 commented on #5648
@samhouts  I'll create a github repo with a project reproducing the problem.

[2019-03-26 08:13] SuNNjek commented on #5680
@samhouts I am aware of the callback. What I am suggesting is a method that would force a BindableObject to re-evaluate this callback. There currently seems to be no way to do this that I am aware of.
Essentially this would probably just call this code again https://github.com/xamarin/Xamarin.Forms/blob/50dbbcf55d71f75fa79aa87e8514799b322f3bda/Xamarin.Forms.Core/BindableObject.cs#L341-L342

[2019-03-26 09:16] psp589 commented on #5648
See https://github.com/psp589/XamarinFormsIssuesReproduction

[2019-03-26 09:16] psp589 commented on #5647
See https://github.com/psp589/XamarinFormsIssuesReproduction

[2019-03-26 09:25] Chozarajan commented on #4831
Please reopen this issue

[2019-03-26 09:35] andreinitescu commented on #5674
I submitted a PR for this, please take a look, thanks.

[2019-03-26 09:56] lewcianci opened #5692 "Visual="Material" breaks certain controls"
### Description

When using Visual="Material", certain controls don't work anymore.

### Steps to Reproduce

1. Install CarouselView from AlexRainman
2. Put CarouselView in a Frame on a Page that has Visual="Material" up the top
3. You will get a NullReferenceException on the ItemChanged event

### Expected Behavior

CarouselView renders fine

### Actual Behavior

App crashes due to NullReferenceE

[2019-03-26 10:35] MappingSteve commented on #4678
I've experienced an issue when Xamarin build changes between Android and iOS. It might be possible to workaround by the following sequence:
1. Select your iOS project as startup.
2. Make sure Android project is NOT selected to be built in config management.
3. Clean solution.
4. Quit VS.
5. Delete bin & obj from XAML project and from iOS project.
6. Restart VS.
7. Build XAML and iOS projects.

[2019-03-26 10:56] petermajor opened #5693 "CollectionView crashes on Android 5.1.1 when selecting item"
### Description

When selection mode is set to "Single" tapping on any item in the collection view crashes on Android API 21 and 22.

This is due to the following line of code:
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/CollectionView/SelectableViewHolder.cs#L65

The check for setting the background checks for API 21 or above, but the "setForeground" call i

[2019-03-26 11:50] thisdarktao commented on #2383
As others have mentioned, we have tried `cell.ForceUpdateSize()` but this causes the list scroll height to jump around as the cells themselves force a resize. We have a custom HTML renderer inside a cell and this causes the content to be clipped.

@samhouts Is there any movement on this issue getting resolved?

[2019-03-26 12:39] voxoid0 commented on #3715
I'm still having this issue. If I set the ItemSource to an array of strings, items are displayed fine. If I change that same line to set the ItemSource to a list of my objects with ToString() implemented, nothing is displayed.

[2019-03-26 14:02] #4832 closed

[2019-03-26 14:02] #5030 closed

[2019-03-26 15:19] jalbertSyncroTech commented on #5657
Have some more information and a work-around:

To work-around the issue I made a custom Picker renderer which overrides Dispose() and OnFocusChangeRequested().  The latter checks whether the renderer has been disposed before calling the base class.

As to the cause, it looks like FocusChangeRequested event of the underlying VisualElement is not getting properly removed from disposed Pickers.  In m

[2019-03-26 15:24] SoniaCH opened #5696 "[shell, ios] ShellTabBarBackgroundColor not styling as expected"
### Description
I dont get the background of the tab changed like in android
### Steps to Reproduce

1.
2.
3.

### Expected Behavior
when using this code :
![andrrr](https://user-images.githubusercontent.com/15122204/55066509-3d88fd00-507e-11e9-8894-f5a9a6bb1c39.JPG)

it 's supposed to change the background of the bottom bar to bleuviolet .

### Actual Behavior
 it works in android  the bottom bar

[2019-03-26 15:37] rmarinho commented on #5646
You should set up with the file extension "Hamburger.png" , the missing iOS is other issue will be solve don #5567

[2019-03-26 16:13] caseyryan commented on #2423
That's because you export it to the wrong target, I believe this
[assembly: ExportRenderer(typeof(FrameRenderer), typeof(MaterialFrameRenderer))]
Should be replaced with this
[assembly: ExportRenderer(typeof(MaterialFrame ), typeof(MaterialFrameRenderer))]
in your case

[2019-03-26 16:21] ChrisTTian667 commented on #2096
Same on Samsung XCover 4.

[2019-03-26 16:27] nbevans commented on #5265
I believe I'm seeing the same issue on UWP.

[2019-03-26 16:53] PureWeen commented on #5657
duplicate of #5376
fixed by https://github.com/xamarin/Xamarin.Forms/pull/5670

[2019-03-26 16:53] #5657 closed

[2019-03-26 16:54] davidbritch opened #5697 "[Shell, iOS] StackLayout containing CollectionView results in incorrect layout"
### Description

When my `ShellContent` contains a root `StackLayout`, whose direct child is a `CollectionView`, the first visible item in the `CollectionView` is the bottom half of the second item:

[code]

However, the layout is fine if the `StackLayout` is removed:

[code]

Note: this is an iOS only problem. The layout is fine on Android.

### Steps to Reproduce

1. Run the attached sample on i

[2019-03-26 17:08] samhouts commented on #5680
/cc @StephaneDelcroix

[2019-03-26 17:50] nbevans commented on #5265
https://github.com/xamarin/Xamarin.Forms/blob/50dbbcf55d71f75fa79aa87e8514799b322f3bda/Xamarin.Forms.Core/FlexLayout.cs#L401

Likely caused by this.

[2019-03-26 18:49] nbevans commented on #5265
I created this (F#) workaround which sort of fixes the issue for me - though it's not perfect, it is bit glitchy when resizing the UWP window.

Something is really wrong with that OnMeasure method in the core implementation of XF.

[code]

[2019-03-26 19:35] adrianknight89 commented on #5087
One suggestion is creating a formatted string cache so that we don't have to re-build each attributed text over and over. `OneTime` binding doesn't seem to help much here.

[2019-03-26 20:27] hartez commented on #5414
@HobDev

GalaxiaGuy is correct - the Command is not being bound to the Button in your ItemTemplate because the BindingContext of each item in the collection is an instance of the Id class; the Id class does not have a member called ButtonCommand.

You either need to reference the parent MainViewModel instance directly (as in GalaxiaGuy's solution) or you need to add a ButtonCommand member to the I

[2019-03-26 20:27] #5414 closed

[2019-03-26 21:08] tmt242001 opened #5699 "[Material, Android] BackgroundColor not working"
### Description
When using Xamarin.Forms Material.

if BackgroundColor is set in Picker, DatePicker, TimePicker. It does not work.

### Steps to Reproduce

1. Run the attach app

### Expected Behavior

BackgroundColor in all controls (Picker, DatePicker, TimePicker) should be CornflowerBlue.

### Actual Behavior

BackgroundColor in all controls (Picker, DatePicker, TimePicker) does not change.

##

[2019-03-26 22:17] Carbaholic opened #5700 "ListView System.NullReferenceException"
### Description

This only occurs on Android

I have a listview on a page in my app that is producing a System.NullReferenceException. This happens when its page is not at the top of the navigation stack.

Stack trace:

[MonoDroid] UNHANDLED EXCEPTION:
[MonoDroid] System.NullReferenceException: Object reference not set to an instance of an object.
[MonoDroid]   at Xamarin.Forms.Platform.Android.Li

[2019-03-26 23:27] spruceDevelopment commented on #5554
@samhouts I need assistance from Xamarin or Mono member because I guess the issue is with the Android Runtime.
Reproducing of the real issue:
1. Download my fork
2. Run project Xamarin.Forms.ControlGallery.**Android**.csproj
3. Find case Github 5554
4. Set breakpoint at Xamarin.Forms.Core.BindingExpression.cs:354
5. Open Case 5554, breakpoint should trigger
6. You will see that the "property" obje

[2019-03-26 23:43] kingces95 commented on #5700
Please let us know when you have a zipped reproduction. Thanks.

[2019-03-26 23:45] kingces95 commented on #5692
Could you please provide a zipped reproduction?

[2019-03-26 23:46] kingces95 commented on #5690
Hm. Sadly, this would be breaking. Is it worth it? Is there a work around? Just maintain your own hashtable perhaps?

[2019-03-26 23:47] kingces95 commented on #5687
Please provide a zipped reproduction with descriptions of the actual and expected behavior. Thanks.

[2019-03-27 01:16] tmt242001 commented on #5692
@kingces95 zipped reproduction
[CarouselViewIssue.zip](https://github.com/xamarin/Xamarin.Forms/files/3011068/CarouselViewIssue.zip)

[2019-03-27 02:55] zhulin802 opened #5701 "'InitializeComponent' does not exist in the current context"
### Description
  I created a new project (Xamarin.Forms, blank, shared project) and run the application i got error code The name 'InitializeComponent' does not exist in the current context
### Steps to Reproduce
Run the project
### Expected Behavior
build succeed
### Actual Behavior
build fails and throw the error
### Basic Information

- Version with issue:
- Last known good version:
- IDE: Vis

[2019-03-27 04:18] DeepikaBalaSubramaniyan commented on #4712
Hi @samhouts

We are waiting for this fix for a long time. Can you please let us know when this issue will get fixed ?

[2019-03-27 04:40] PureWeen commented on #5642
Hmm this is an interesting one.

https://stackoverflow.com/questions/28105551/wrong-render-order-for-button-when-material-theme-is-applied

I tested setting stateListAnimator to null and that fixes the z indexes but I need to research a bit more about the best way to fix this.

[2019-03-27 05:11] nileshrppatel commented on #4417
@Ngoc-Quang thanks for the solution.

[2019-03-27 05:22] andreinitescu commented on #5690
@kingces95 I doubt it would be actually breaking any apps.

If someone has an app where two pins have same GPS position (and same label, type, address) and the pins are removed, the developer is either not aware of a potential issue in his own app, or has implemented a workaround for it.
I can't see how an app could break because it expects than when it deletes the 2nd pin in the Pin collection, t

[2019-03-27 05:24] PureWeen commented on #5692
The thing to keep in mind about visual is that it uses different renderers, controls, themes, and does things like wrap the Context class so there's a chance 3rd party libraries might not be compatible.

I ran the sample and the exception happens inside the CarouselViewRenderer
[code]

Pinging @alexrainman in case he has thoughts on what inside that method could be causing the NRE

[2019-03-27 05:46] lewcianci commented on #5692
I don't know how to write this without sounding like I'm ungrateful, but it blows my mind that Visual could introduce those kinds of bugs to existing third party libraries.  I understand that every change in the Xamarin Forms codebase is one that could cause more issues further up the chain, or with third party libraries like (in this case) CarouselView.  But with CarouselView seeing sizeable depl

[2019-03-27 06:06] andreinitescu commented on #5692
@lewcianci I know you are talking to XF owners, but I'd like to share my feedback also:

First, what's the problem with the maintainer having to go back and update some things in his library? Isn't it natural to do such things? As developers we often need to go back to our code, refactor some things, break it and fix it. I find it a natural process.

Second, I'm in favor of seeing Xamarin Forms br

[2019-03-27 06:11] yelinzh opened #5702 "CarouselView.EmptyView not work"
## Description
 I implemented the new carousel view of pre-release. It works fine excepted the CarouselView.EmptyView. I'd like to show a label or something else when carousel view is empty.But it doesn't work.
[code]

## Expected Behavior
I'd like to show a label or something else when carousel view is empty.

## Actual Behavior
CarouselView.EmptyView doesn't work.

## Basic Information
<ur>
<li>

[2019-03-27 07:02] lewcianci commented on #5692
Because sometimes, some libraries are a long time between updates, or some don't see updates at all.  CarouselView is a good example of this - it broke with the XF 3.5 update (totally understandable, there were a lot of new features with that and breaking changes).  But it hasn't been updated since January 2018.  So, when alexrainman updated the dependency, it started working again.

It's okay for

[2019-03-27 07:03] akarthikraja18 commented on #5597
Please provide me a solution

[2019-03-27 08:42] TomomiSawako commented on #5575
+1

[2019-03-27 08:57] pieterlr opened #5703 "Android EditText Ellipsize not working"
### Description
I have a picker with an item that has text too long for the picker control. I would like this to ellipse at the end. However when I set Control.Ellipsize = TruncateAt.End; in the renderer, the ellipse does not display.

Please find attached a test app.

### Steps to Reproduce

1. Select the first option in the picker (an item with text longer than the control)

### Expected Behavio

[2019-03-27 08:57] MagicAndre1981 commented on #3839
@mgoertz-msft  this means the issue will not be fixed in VS2017 15.9.x?

[2019-03-27 09:03] lanarchyste commented on #5489
Hi,

I tried Xamarin.Forms 3.6.0.264807 and I still have a issue with the background color on iOS

[2019-03-27 09:08] omghb commented on #5510
@kingces95 I have published a solution for reproduction on GitHub: [https://github.com/omghb/XamarinBindingIssue](https://github.com/omghb/XamarinBindingIssue)

[2019-03-27 09:33] StephaneDelcroix opened #5704 "Shouldn't be able to reference sub-namespaces with Xaml"
### Description

(from @TimBarham):
I have a sample app that has a `Mobile.Effects` namespace, and a `Mobile.Effects.Touch` namespace. There's a `TouchEffect` type in the `Mobile.Effects.Touch` namespace. Here is a snippet of XAML from this project:

[code]

That element is referring to the `TouchEffect` type in the `Mobile.Effects.Touch` namespace. But such a usage is not valid XAML. Forms seems

[2019-03-27 09:34] StephaneDelcroix commented on #5704
(still from @TimBarham):

There seems to be a very particular scenario in which this repro's... it needs to be the immediate child of a property element. So for example...
[code]

Also, it is worth noting there are definitely apps in the wild that currently rely on this behavior (this came up during bug bashing, when someone was testing with customer apps - the app used this construct, and it work

[2019-03-27 09:36] StephaneDelcroix commented on #5704
in that case, the Xaml parser expects an object element, and there's no possible mis-interpretation. that's why the parser doesn't even check for the dot.

it is still invalid Xaml, and I need to fix it

[2019-03-27 10:27] JamesBrining commented on #4787
Not sure if this is the same issue but I get a success result if a web page returns a HTTP 500 error. Surely this should return a failure?

[2019-03-27 10:48] JKennedy24 commented on #5517
also getting this error

[2019-03-27 11:08] heytherewill commented on #4753
Is this currently being worked on by someone? If not, can I work on it?

[2019-03-27 11:14] davidbritch opened #5705 "[Shell] SearchHandler BindingContext not inherited from page"
### Description

I know how to use the `SearchHandler` built into Shell (sub-class, override `OnQueryChanged` etc.). However, `SearchHandler` also supports commanding, which should permit the usage scenario of binding to ViewModel properties. While I can bind to a ViewModel ICommand, this is only possible if I set the `SearchHandler.BindingContext` directly. Leaving the BindingContext unset result

[2019-03-27 11:17] SuNNjek commented on #5666
In case it helps:
When fiddling around with the FontImageSource I got the same exception with a more verbose stack trace:
[code]

[2019-03-27 11:20] #5446 closed

[2019-03-27 11:23] Project4MobileDev commented on #5128
I've created an example project but it won't let me upload the zip file because it's bigger than 10Mb. This link has the file but the link will only exist for ten days.
https://free.mailbigfile.com/93cef36299e3109fc580202171c57c76/listFiles.php

I think I might have already found the solution to the problem I'm having in this thread though, let me know if this is correct.
https://forums.xamarin.co

[2019-03-27 11:24] HobDev commented on #5414
@hartez The issue is not about BindingContext. It is related to Android Runtime. Please see [#5554](https://github.com/xamarin/Xamarin.Forms/issues/5554).

[2019-03-27 11:27] HobDev commented on #5646
@rmarinho The ImageSource on FlyoutIcon is being set on ShellItem on  Android and iOS. You can test by yourself by running the attached project.

[2019-03-27 11:28] davidbritch opened #5706 "[Shell] SearchHandler.Query property value isn't passed via CommandParameter"
### Description

The Shell spec says that the `SearchHandler.Query` property is "The current string in the search box.". When examining this property in an OnQueryChanged override, it's correctly set.

However, I'd like to pass the Query property value as the CommandParameter, to an ICommand in my ViewModel, to implement searching there. However, a null value is always passed:

[code]

Note: Obvio

[2019-03-27 11:31] HobDev commented on #5646
I also uploaded screenshots about the behaviour.

[2019-03-27 11:35] davidbritch opened #5707 "[Shell] MenuItem BindingContext not inherited from Shell"
### Description

My Shell file contains a MenuItem that executes an ICommand. However, despite the BindingContext being set in the code-behind, HelpCommand isn't resolved:

[code]

However, if I set the MenuItem.BindingContext property manually, HelpCommand is resolved:

[code]
### Steps to Reproduce

1. Run the attached sample.
2. Expose the flyout.
3. Click Help.

### Expected Behavior

HelpComm

[2019-03-27 11:49] rmarinho commented on #5646
@HobDev if I change from "Hamburger" to "Hamburger.png" I can see it on android don't you ?

[2019-03-27 12:11] toupilsner commented on #4671
Any ETA on this issue?

[2019-03-27 12:31] paymicro commented on #5666
@SuNNjek thanks. The issue is clear. PR https://github.com/xamarin/Xamarin.Forms/pull/5678 will fix it.

[2019-03-27 12:43] MagicAndre1981 opened #5708 "OnIdiom returns Phone instead of Tablet on Android 9 tablet (x86)"
### Description

When I use OnIdiom to detect Tablet from Phone I get an unexpected behavior on Android tablet. It gets detected as Phone:

### Steps to Reproduce

Inser this code in XAML page:

[code]

### Expected Behavior

I see "Hello from a tablet app"

### Actual Behavior

I see "Hello from a phone app"

![image](https://user-images.githubusercontent.com/8274816/55076105-dcb8ef00-5094-11e9-8

[2019-03-27 12:56] HobDev commented on #5646
@rmarinho I changed the `Hamburger` to `Hamburger.png`. But it still set ShellItem Icon. Click on default hambuger icon on android. You will see that the `Hamburger.png` is set on first shellItem.

[2019-03-27 12:57] HobDev commented on #5646
same with iOS.

[2019-03-27 14:26] divi1411 opened #5711 "Layout issue with Entry"
### Description
We are creating a custom control which has a hierarchy TemplatedView --> StackLayout --> Grid --> Entry. We are adding a row with height zero above the row (Auto height) with Entry. While doing this, the height of the custom view is not rendered properly when the Entry is added with text in load time. Hence to avoid this, we are setting string.Empty for Entry text in OnElementChang

[2019-03-27 14:29] StephaneDelcroix opened #5712 "[Shell]SearchHandler should include SelectedItem property"
### Description

for the cases when you do not want to inherit from it...
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction

[2019-03-27 14:41] davidbritch opened #5713 "[Shell, iOS] Navigation from SearchHandler.OnItemSelected override failing"
### Description

I have a `MonkeySearchHandler`, which derives from `SearchHandler`. In my `OnItemSelected` override I want to navigate to the MonkeyDetailsPage (which is registered in AppShell.xaml.cs). Here's my `OnItemSelected` override:

[code]

Navigation tries to occur, in that the `MonkeyDetailsPage` constructor is invoked. However, the page isn't displayed (remains on the `MonkeysPage`). B

[2019-03-27 14:43] ravero opened #5714 "VisualStateManager not applying TextColor on Entry with Visual/Material applied"
### Description
VisualStateManager is not working properly for VisualStates declared in an Entry with Visual="Material" applied. This issue only affects iOS.

### Steps to Reproduce
1. Create a Page with an Entry
2. Setup the Entry to use Material Visual
3. Create custom Visual States with setters that changes the TextColor property
4. Implement some login to change between the defined Visual Stat

[2019-03-27 14:52] ravero commented on #5714
Looks like it's an issue with TextColor property when changed values after the Entry has been loaded. Changed the VisualState on the constructor works fine. I've also tested with a DataTrigger and it couldn't change the value accordingly.

[2019-03-27 15:05] Phenek opened #5716 "[Enhancement] Add Scrolled event to CollectionView"
## Description
CollectionView aims to be more flexible by provide us the ability to know when CollectionView has been scrolled.

Many people have been asking for such an event, and a quick web search for 'xamarin forms listview scroll event' shows it. to make parallax headers, make some views dis/appearing when scroll up/down or other stuff using the scroll event.

### API Event
| API | Descriptio

[2019-03-27 15:05] Phenek commented on #4323
#5716

[2019-03-27 15:24] davidortinau commented on #5692
Hi all, I very much appreciate the discussion here. Thank you.

To clarify, Visual isn't breaking anything. CarouselView was written against (or at the time of) default renderers. The new Material platform renderers (made easy to consume using the new Visual API) are what need to be accounted for.

I agree, it is a concern that this NRE came up and I would like to better understand what about the

[2019-03-27 15:34] adrianknight89 commented on #5716
Not sure if the native views allows this due to inherit virtualization, but it'd be great to report some kind of distance delta when scrolling occurs so we can scroll other views (like a header view) according to that delta.

[2019-03-27 15:50] Carbaholic commented on #5700
I'm having a hard time reproducing this; is there a way I could debug the xamarin.forms source code? Is there a verbose debugging option I can turn on to get more info?

[2019-03-27 15:57] PureWeen opened #5718 "[Enhancement] Add additional documentation to Material to help 3rd party libraries know what to expect from renderers"
## Summary
Material visual changes a lot of control types and the Android Context itself. Having a single place where people can see the difference between the base controls and the material controls when using material renderers would be very helpful.

For example on Android the Context gets wrapped with a ContextThemeWrapper so if a 3rd party library has just assumed that the Context == Activity

[2019-03-27 16:00] Moltroon opened #5719 "Selectable CollectionView iOS bug if content template contain frame"
### Description
On iOS, you can't select an element if is in a Frame in a CollectionView. You need to select the margin to select the element.

### Steps to Reproduce

1. test on android and iOS my example

### Expected Behavior
Clic on an element select this.

### Actual Behavior
You need to click on the margin of the element too select him.

### Basic Information

- Version with issue: 4.0 pre7

[2019-03-27 16:01] PureWeen commented on #5692
This is a good point and we do have work currently scheduled (https://github.com/xamarin/Xamarin.Forms/issues/5656) to run automated tests against 3rd party libraries (Telerik, Sync Fusion, FFImageLoading). CarouselView would be a good one to add to this. We do want to know when an upgrade breaks a 3rd party library and to quickly identify which side of the fence the issue comes from. Did we break

[2019-03-27 16:58] samhouts commented on #5070
@aherrick  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-27 16:58] #5070 closed

[2019-03-27 17:04] pauldipietro opened #5721 "[CollectionView] Functionality issues on iOS when using certain layout(s)"
_Cross-reference from a [PR](https://github.com/pauldipietro/CollectionViewChallenge/pull/1) on the CollectionView Challenge_

(Bug title can be refined as needed; this is just to get a report filed)

### Description
Using the layout provided on the PR/feedback, scrolling with the CollectionView on iOS is corrupted and some blank spacing occurs.

### Steps to Reproduce

1. Run the fork from @bcace

[2019-03-27 17:47] allistoncarlos commented on #5621
I'm having the same issue... PropertyChanged and PropertyChanging events doesn't raise as well when navigated internally

[2019-03-27 19:01] PureWeen commented on #5692
@alexrainman
So the issue is here

https://github.com/alexrainman/CarouselView/blob/master/CarouselView/CarouselView.FormsPlugin.Android/CarouselViewImplementation.cs#L70

Context isn't going to be of type Activity
There's a null check in the CarouselView code for this but then the keyboard service is used later on in the code and causes an NRE

I've added an extension method in the latest forms h

[2019-03-27 19:02] #5692 closed

[2019-03-27 20:35] ianvink opened #5723 "Android NavigationBar Gone when Tabbed Page set to Material"
XF 3.6, Android only, Set TabbedPage to Visual="Material", the NavigationBar disappears for children in the TabbedPage when the page in the TabbedPage is a Navigation page.

### Steps to Reproduce
RootPage set to this tabbedpage configuration. Add Navigation pages as children tabs in code behind:

`    <?xml version="1.0" encoding="utf-8"?>

    <TabbedPage
	xmlns="http://xamarin.com/schemas/2014/

[2019-03-27 21:01] kingces95 commented on #5701
The template project is working for me. Please attach a zipped reproduction.

[2019-03-27 21:02] kingces95 commented on #5702
Could you please attach a zip of your reproduction? Thanks.

[2019-03-27 21:03] samhouts opened #5724 "[Spec] Use Android Fast Renderers by Default"
# Use Android Fast Renderers by Default

Android Fast Renderers were introduced in #845 in version 2.3.5. These removed an extra `ViewGroup` wrapper around the basic controls, which made view rendering faster by reducing the number of views inflated.

These controls have a Fast Renderer that you must currently opt in to use via experimental flag:

- `Button`
- `Image`
- `Label`
- `Frame`

Since th

[2019-03-27 21:31] ianvink opened #5725 "XF 3.6 Cast Error onFocus Android"
X.F 3.6, tried on both NuGet 3.6 and the latest build from GitHub built locally.
Log attached **Android only**

### Description

**Android only**

1. Add a {Bound} Entry to a page with text in the model.
2. Entry renders fine
3. Tap into the control
4. OnFocus throws Invalid Cast error on at :

_Xamarin.Forms.Platform.Android.ViewRenderer`2[TView,TNativeView].Android.Views.View.IOnFocusChangeListe

[2019-03-27 21:33] adrianknight89 commented on #5724
Should there be a warning in the console for those who have added the following line?

`Forms.SetFlags("FastRenderers_Experimental");`

If fast renderers are used by default, there is no need for the above flag.

[2019-03-27 21:42] PureWeen commented on #5725
@ianvink this should be fixed with the next SR of 3.6

Just to make sure I'm testing your scenario correctly this is how I tested

[code]

[code]

[2019-03-27 21:42] #5725 closed

[2019-03-27 21:44] ianvink commented on #5725
I have a repo, I need an email to send it to as it is confidential

[2019-03-27 22:48] PureWeen commented on #5723
@ianvik this will be fixed with the next SR of 3.6
There was a bug that was causing the non appcompat renderers to be used when things like TabbedPage were set to Material

Here's the test I'm running locally to make sure your use case above works

[code]

![image](https://user-images.githubusercontent.com/5375137/55117341-219e4f00-50b0-11e9-9cb8-81c53b65423d.png)

[2019-03-28 00:15] #4684 closed

[2019-03-28 00:15] #4766 closed

[2019-03-28 00:15] #5466 closed

[2019-03-28 00:15] #4767 closed

[2019-03-28 00:15] #4826 closed

[2019-03-28 00:15] #4845 closed

[2019-03-28 00:15] #5219 closed

[2019-03-28 00:15] #1886 closed

[2019-03-28 00:15] #5470 closed

[2019-03-28 03:47] hartez commented on #5414
If it were an Android runtime issue, then your reproduction project would work on iOS. It does not.

Here's a working version, with the ButtonCommand moved to the Id class:
[MyApp_Fixed.zip](https://github.com/xamarin/Xamarin.Forms/files/3016096/MyApp_Fixed.zip)

[2019-03-28 04:48] adrianknight89 commented on #4184
Dynamic cell height does not work on iOS. This has been an ongoing issue that was never truly fixed. Similar issues that could be closed together:

https://github.com/xamarin/Xamarin.Forms/issues/4905
https://github.com/xamarin/Xamarin.Forms/issues/2555
https://github.com/xamarin/Xamarin.Forms/issues/2383

[2019-03-28 05:17] AjitKRuin commented on #5597
Hi @samhouts ,me too facing the same issue, the BorderBrush color is not changing as we expected when it is not focused but cursor is entered into it.

[2019-03-28 05:35] hartez commented on #5554
This is a Shell.TitleView issue; I believe #3823 was just for the original TitleView.

[2019-03-28 05:38] DeepikaBalaSubramaniyan commented on #5657
Hi @PureWeen

Still at last stable Xamarin Forms version 3.6.0.264807 and Last pre release version 4.0.0.250467-pre7 Picker.Focus() calls throws object disposed exception, But bug report was closed as fixed. Still in this simple sample able to reproduce the issue with  Xamarin Forms version 3.6.0.264807 http://www.syncfusion.com/downloads/support/directtrac/general/ze/DataGridNet-1266236982.
Kindl

[2019-03-28 05:47] hartez commented on #5554
Ah, here's the problem:

https://github.com/xamarin/Xamarin.Forms/blob/4.0.0/Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs#L389

The Button is binding to the Command just fine, but line 390 is setting the `Parent` property for the `TitleView`, which resets the `BindingContext` to `_shellContext.Shell`, rather than whatever it was previously (the view model, in this case).

[2019-03-28 06:59] benjaminsommerfeld commented on #5657
@PureWeen Same here, in latest 3.6 as well as latest 4.0 pre we also get this bug when calling Picker.Focus(). Desperately waiting for a final fix, cause this is crashing one of our customer apps in App Store.

[2019-03-28 07:38] HobDev commented on #5414
It is working on Id class without any issue.  GalaxiaGuy is correct. I will reference MainViewModel instance to ButtonCommand. Thank you.

[2019-03-28 08:39] RwSgxx commented on #2210
Does this also cover life cycle events for ContentView? or should I create a new Issue?

[2019-03-28 09:24] MagicAndre1981 commented on #5708
In Xamarin.Forms.Platform.Android\Forms.cs I see this:

[code]

What is this `SmallestScreenWidthDp` ?

[2019-03-28 09:34] Suplanus opened #5728 "ListView RefreshControlColor initial"
### Description
The initial color of ListView RefreshControlColor on loading first time is not the set color.

### Steps to Reproduce
i set the global color for this ActivityIndicators in App.xaml:

[code]

### Expected Behavior
The color should be shown on first loading.

### Actual Behavior
A default color is visible at first loading.

### Basic Information

- Version with issue: 3.6.0
- Last kn

[2019-03-28 11:07] CayasSoftware opened #5729 "DatePicker does not parse date correctly"
### Description
The DatePicker and DateTimePicker control is not able to parse valid dates with a format like dd.mm.yyyy.

### Steps to Reproduce

1. Set your device to German language and region
2. Add a DatePicker to page
3. Bind the Date-property to DateTime.Now.ToString()

### Expected Behavior
The Date-property should respect the UI configuration (language and region settings).

### Actual Be

[2019-03-28 12:02] skiarn commented on #3769
what happend to this issue?

[2019-03-28 12:12] UnreachableCode commented on #2009
Using the type constructor still isn't working for me. CanRecycle of the DataTemplate is false, despite setting the RecycleElementAndDataTemplate attribute.

[2019-03-28 12:44] jrahma opened #5731 "InvalidOperationException when using PushAsync"
Hi,

I am using Syncfusion TabView on my MainPage.

in my App starting the page like this:

`MainPage = new NavigationPage(new MainPage());`

then from the MainPage I am opening Signin as Popup like this:

`Navigation.PushModalAsync(new Signin());`

Until here all ok...

However, on the Sign in page I have a button to go to Sign up and I am trying to open the Sign up like this:

`Navigation.PushAs

[2019-03-28 14:03] SamuelLioult opened #5732 "[Material] VisualStateManager does not work properly on the Entry TextColor property"
### Description

The Visual State Manager does not change TextColor properly on an Entry on Android with Material visual.
Normally, with Material, the TextColor affects the text color (obvious) and the bottom line.
But, it seems there is a bug because the bottom line has never the same color value of the text.
So when the text has the focused color, the bottom line has the normal color and vice ve

[2019-03-28 15:23] HobDev commented on #5646
@rmarinho The issue should be re-opened. As the Hamburger.png is set on ShellItem. It should have been set on the slider.

[2019-03-28 15:33] ianvink commented on #4184
I found a way (hack for now). After a value has been changed, I do this:

`
      ListView.HasUnevenRows = false;

     ListView.HasUnevenRows = true;
`

[2019-03-28 15:52] adrianknight89 commented on #4905
Let's just hope CV does not suffer from this problem.

[2019-03-28 16:01] ianvink opened #5733 "XF 3.6 Material Setting in App.Xaml requires default value"
I love Xamarin Forms...now on to the bug/feature?...

In my **app.xaml** I create a **Style** for **ContentPages** to apply **Material** to only iOS pages due to a bug in Android Material in XF 3.6 preventing me from using it in Android for now:

`
     <Style
				TargetType="ContentPage"
				ApplyToDerivedTypes="true">
                <Setter Property="Visual">
                	<Setter.Value>

[2019-03-28 16:26] mgoertz-msft commented on #3839
Correct, at this point we only port fixes for serious issues affecting a lot of people back to VS 2017. The only way to potentially make that happen would be to create a VS feedback ticket and gather a lot of upvotes for it on the [developer community](https://developercommunity.visualstudio.com) site.

[2019-03-28 16:32] davidbritch opened #5734 "[Shell] BackButtonBehavior BindingContext not inherited from page"
### Description

`BackButtonBehavior` can bind to commands. However, while I can bind to a ViewModel ICommand, this is only possible if I set the `BackButtonBehavior.BindingContext` directly. Leaving the `BindingContext` unset results in the `Command` binding not resolving. I'd expect `BackButtonBehavior` to inherit the `BindingContext` from the page it's on.

`BackCommand` unresolved:

[code]

`B

[2019-03-28 16:36] MaxenceSAUNIER opened #5735 "[QUESTION] MenuItem with CollectionView"
Can we used MenuItem and ContextAction with a CollectionView in Xamarin.Forms 4.0 pre-7 ?

I could not find how.
Thanks

[2019-03-28 16:36] Moltroon opened #5736 "[QUESTION] MenuItem with CollectionView"
Can we used MenuItem and ContextAction with a CollectionView in Xamarin.Forms 4.0 pre-7 ?

I could not find how.
Thanks

[2019-03-28 16:36] Moltroon opened #5737 "[QUESTION] MenuItem with CollectionView"
Can we used MenuItem and ContextAction with a CollectionView in Xamarin.Forms 4.0 pre-7 ?

I could not find how.
Thanks

[2019-03-28 16:37] #5736 closed

[2019-03-28 16:37] #5737 closed

[2019-03-28 16:43] Magendanz commented on #2009
Yeah, this is what worked for me:

[code]

[2019-03-28 16:59] ghost opened #5738 "[iOS] Unable to build Xamarin.Forms solution"
I'd like to take a look at the source code and submit a PR, but I'm having difficulty building ControlGallery.iOS.

I'm confused that VS is comparing .net 4.7 to xamarinios10. Seems like a comparison of apples and oranges. How do I get rid of this issue?

[code]

[2019-03-28 18:11] PureWeen commented on #5657
https://github.com/xamarin/Xamarin.Forms/pull/5670 hasn't been released yet

I tested your sample with the next SR coming out and it doesn't crash anymore

[2019-03-28 19:07] rmarinho commented on #5646
I will look at it again.

[2019-03-28 20:12] adrianknight89 commented on #4681
@hartez In my opinion, `ItemSpacing` should be a separate property that translates directly to `InterimSpacing`/`LineSpacing` (vertical/horizontal) whereas section insets should map to `Padding`.

`ItemSpacing` should not do the job of `Padding`. If there is a calculation issue (e.g. 10 between items, 5 on the edges), then the dev should also set `Padding` to correct this.

[2019-03-28 21:21] davidortinau commented on #5677
This is fixed in 4.0-pre8

[2019-03-28 21:21] #5677 closed

[2019-03-29 00:15] mkieres commented on #3548
Almost a year has passed and this is still an issue...Are there any plans to fix it?

[2019-03-29 01:31] samhouts commented on #5302
@Agredo  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-29 01:31] #5302 closed

[2019-03-29 01:32] samhouts commented on #5315
@alexkblount  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-29 01:32] #5315 closed

[2019-03-29 01:32] samhouts commented on #5375
@pamela032709  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-29 01:32] #5375 closed

[2019-03-29 01:32] samhouts commented on #5348
@comfr3ak  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-03-29 01:32] #5348 closed

[2019-03-29 03:14] mcguu opened #5741 "MessageCenter lead to an error of DisplayAlert"
### Description
I want to show a alert in a page and write code:
`await DisplayAlert('title','my message','OK');`
It crashed with :Specified cast is not valid
I guess it because there is a MessageCenter in my page.

### Expected Behavior
Is it a bug?

- Version with issue:The very new version of preview.
- Last known good version:
- IDE:Visual Studio for Mac Community 8.0 build 2972

[2019-03-29 05:51] Nijamudeen-Mohamed commented on #4371
Hi @samhouts , any update on this, due to this conversion delay we are facing performance issue. hope it will be resolved in the upcoming release.

[2019-03-29 05:52] benjaminsommerfeld commented on #5657
@PureWeen Thanks for your reply, can you give us an approximate release date for this fix? Will it be included in the upcoming 3.6.0 and 4.0-pre8 nuget-packages?

https://www.nuget.org/packages/Xamarin.Forms

Our customers are desperately waiting for the app-update with this fix, that's why I'm asking.

[2019-03-29 06:02] MagicAndre1981 commented on #5708
ok, [Xamarin.Essentials also had the issue](https://github.com/xamarin/Essentials/issues/668) and [fixed it](https://github.com/xamarin/Essentials/pull/670).

Should we use Xamarin.Essentials now for detection? or will this code be synced?

[2019-03-29 06:52] ammadj commented on #4268
@PureWeen  @samhouts  @pauldipietro

Hellpp required on this one :-)
would be great if an ETA can be provided

[2019-03-29 09:09] cornem opened #5742 "[Android] Java.Lang.ClassNotFoundException when using ToolbarPlacement="Bottom""
### Description
I want to change my Xamarin Forms application to show the `TabbedPage` toolbar at the bottom. As per the instructions, I have added the following:

[code]

Debug builds work fine and the toolbar is now at the bottom of the screen (nice). However, when I make a release build, my application crashes as soon as I open the `TabbedPage`. I get this crash report in App Center:

[code]

I

[2019-03-29 09:31] MagicAndre1981 commented on #5386
I also run into the `IsEnabled` issue with 3.6:

`System.InvalidOperationException: The BindableProperty "IsEnabled" is readonly.`

when using it in XAML.

[2019-03-29 09:35] davidbritch opened #5744 "[Shell] BackButtonBehavior issues"
### Description

`BackButtonBehavior` seems like it has some holes in it. Here's my issues:

1. Its name. It's not a `Behavior`. How about `BackButtonOptions` or `BackButtonConfiguration`?
1. Once you set a `BackButtonBehavior` on a `ContentPage`, you automatically lose the default back arrow, and have to set your own (on iOS).
1. I like the commanding model. Maybe it should have a `Clicked` event

[2019-03-29 09:36] davidbritch opened #5745 "[Shell] Navigation - events vs overrides"
### Description

`Shell` has `Navigating` and `Navigated` events, to which event handlers can be set. It also has `OnNavigating` and `OnNavigated` overrides. Are both required?

[2019-03-29 09:47] davidbritch opened #5746 "[Shell, iOS] Layout issue when navigating from page with top & bottom tabs"
### Description

There's a layout issue when navigating from a page that has top & bottom tabs, to another page. It looks like the space from the top tab bar is still reserved.

Note: this issue is only on iOS. Android is fine.

### Steps to Reproduce

1. Run the attached sample, on iOS.
2. On the Cats page, open the Flyout and click the Random menu item. A random page will be navigated to.

### E

[2019-03-29 10:42] UnreachableCode commented on #2009
I am finding RecycleElementAndDataTemplate to effect scrolling performance quite significantly, where as RetainElmenet does not. I haven't noticed issues with RetainElement when adding more than 20 items of the same template. Should I continue to use RetainElement or will I run into problems with the note here?: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/templates/data

[2019-03-29 11:27] PaulsonMac commented on #1711
Can somebody close this issue..!

[2019-03-29 11:31] xXdRaGoNrIdDeRXx opened #5747 "[Visual] [iOS] [Material] Button.BackgroundColor not working in C#"
### Description
If i have a Button on the screen with Visual="Material" when i change BackgroundColor property of the button in code the change does nothing on iOS, this works if the button is Visual="Default", and works fine on Android for both.

### Steps to Reproduce

1. Open a xamarin project with iOS
2. place a button on the screen with Visual="Material"
3. change button's background colour (

[2019-03-29 12:10] dansiegel commented on #5724
One additional thing that should be done here... when we do this, make the fast renderers public and unseal them so that people can inherit from the fast renderers.

[2019-03-29 12:21] RawoofSharief opened #5748 "Item height of the listview is not auto size when load image with aspect fill"
### Description
Row height of the listview is not updated when load image inside the item template of the listview with Aspect as AspectFill.

Same issue replicated in SFListVIew also.
### Steps to Reproduce

1. Run the sample and navigate to Xamarin ListView
2. You can see that the row height is not properly calculated and image is not shown properly.

### Expected Behavior
Image should visible w

[2019-03-29 12:39] RawoofSharief opened #5749 "Disable horizontal scroll in the custom listview in android"
### Description
We have created custom listview with horizontal scroll and try to stop scrollview view scrolling by using the scrollView.IsEnabled property. But it does not work for android.

You have internally give support to implement the custom horizontal scroll.

**ScrollViewRenderer --> AHorizontalScrollView**

In the AHorizontalScrollView file you have override the OnTouch method as per the

[2019-03-29 13:04] Eswaran17392 commented on #5456
Hi Kingces95,

Please have the solution from the below link.

Solution Link: [](http://www.syncfusion.com/downloads/support/directtrac/general/ze/Sample_(4)251856686 )

Converting the view from forms to native works correctly in the Xamarin version 2.4.0.280 but the reported issue occurs only in the latest Xamarin forms. We suspect that the issue is occurred due to the latest of Xamarin Forms.

[2019-03-29 13:26] Nk54 commented on #5288
1 month I face this issue and that I wait for a fix.
I've been telling to my boss that a release will come soon.

I made the mistake to migrate to XF 3.5 without testing in release mode on both platform. My bad, shame on me. Since, I've writtent too much code that relies on XF 3.5 (mostly bindableLayout). I need to make a release and it may be cheaper to remove the SfListView and use the Telerik o

[2019-03-29 13:31] RwSgxx opened #5750 "Slider Control line in the middle not visible or partially visible when the Slider is rotated between 30 deg to 80 deg"
### Description
Slider in an AbsoluteLayout.
Slider Control line in the middle not visible or partially when the Slider is rotated between 30 deg and 80 deg
### Steps to Reproduce

[code]

### Expected Behavior
Slider Control line in the middle should be visible also when the Slider is rotated.
### Actual Behavior
Slider Control line in the middle not visible or partially when the Slider is rotate

[2019-03-29 13:32] kspearrin opened #5751 "Custom Font Throws Error When Viewing Xaml Preview on Android"
### Description

Original issues that were all closed for some reason:

- https://bugzilla.xamarin.com/show_bug.cgi?id=57417
- https://github.com/xamarin/Xamarin.Forms/issues/3687
- PR with fix: https://github.com/xamarin/Xamarin.Forms/pull/3767

The problem remains.

### Steps to Reproduce

1. Use a custom font
2. Try Xaml preview for android

### Expected Behavior

No error

### Actual Behavior

[2019-03-29 13:52] vjsystematix commented on #4398
Add some delay like this
   await Task.Delay(300);
    Detail = new NavigationPage(new YourPage());

It's working fine in my application

[2019-03-29 14:04] kspearrin opened #5752 "Previewer is using dark theme"
### Description

Same issue that was covered in the forums here:
https://forums.xamarin.com/discussion/126436/previewer-background-colour-or-style-setting

Says it was fixed in 15.8. The problem remains in 15.9.10.

### Steps to Reproduce

1. View page in forms previewer

### Expected Behavior

Use a light colored theme like when deloying the app to an actual device.

### Actual Behavior

Observe

[2019-03-29 14:20] jalbertSyncroTech commented on #5657
Just an FYI, there's half a dozen other controls also effected by this bug.

eg. Entry:
OnFocusChangeRequested() EditText.HideKeyboard() throws an ObjectDisposedException
https://github.com/xamarin/Xamarin.Forms/blob/35f830502e97cba966f32a11706f3f976143bade/Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs#L122

It looks like the following Android control renderers use OnFocusChangeRequest

[2019-03-29 14:24] keozx commented on #5288
Me too, I'm thinking we can actually replace (in our use case) SF List with a custom implementation based on XF 4 CollectionView but will require time

[2019-03-29 14:29] xperseguers commented on #5288
This works just fine with the release they did this morning. Did you forget to upgrade? At least with XF 3.6 which is the current stable release.

[2019-03-29 15:17] rmarinho commented on #5132
Something like this?

[code]

[2019-03-29 15:52] leonmeijer commented on #5288
My Android with XF 3.5 app and SF .53 works and is in the Play Store. Using these settings:
![2019-03-29 16_49_23-Window](https://user-images.githubusercontent.com/3988939/55245114-d36d8500-5242-11e9-8340-8cde2b28faad.png)

[2019-03-29 16:08] PureWeen commented on #5132
Also whatever the default should be needs to be set
For this PR I just set the iOS one to "OK" because that's what Android is set to

https://github.com/xamarin/Xamarin.Forms/pull/5740/files#diff-77845132516899cc14c7f1914a3c2ff5R254

But I'm not sure what the expected default for those values should all be

[2019-03-29 16:09] Zelenoocko opened #5755 "[Shell] navigation - flickering"
### Description
When user navigates between pages (via shell flyout menu) you can see black flickering. You can see same behavior, when you use Shell.GoToAsync method (in second example there is redirect from Page 2 to Page 3).

### Steps to Reproduce

1. Open flyout menu
2. Navigate to another page
3. See black screen between navigation

Or

1. Go to page 2
2. There is redirect to Page 3
3. See b

[2019-03-29 16:13] PureWeen commented on #5657
Can't give an exact date but the release is in the cooker so as long as it passes through the QA cycles then it should be out soon

[2019-03-29 16:21] PureWeen commented on #5744
Related work that was done on this
https://github.com/xamarin/Xamarin.Forms/issues/4767

[2019-03-29 16:32] keozx commented on #5288
Oh how come we forget to upgrade right? so they already did a major version update which seems to address the issue, cool we will try it thanks for letting us know about the update

[2019-03-29 16:52] tranb3r commented on #5288
The question is: why a major version release, while it should have been a simple hot-fix.
Communication around this issue has been such a disaster...
I hope it will work without any new regression, or this time I'm done with SF.

[2019-03-29 17:03] samhouts commented on #5288
We apologize for the frustration that this issue has caused. We are committed to preventing such issues in the future, and we're taking steps to prevent regressing third-party controls, such as SyncFusion and Telerik, among others. We value them, and we value our community!

We released [3.4.0.1039999](https://www.nuget.org/packages/Xamarin.Forms/3.4.0.1039999) and [3.5.0.274416](https://www.nuget

[2019-03-29 17:05] Carbaholic commented on #5700
Haven't been able to reproduce so I'm looking at the source. this is the function that crashes:

`			protected override void OnMeasure(int widthMeasureSpec, int heightMeasureSpec)
			{
				if (_child == null)
				{
					SetMeasuredDimension(0, 0);
					return;
				}

				VisualElement element = _child.Element;

				Context ctx = Context;

				var width = (int)ctx.FromPixels(MeasureSpecFactory.GetS

[2019-03-29 17:16] Nk54 commented on #5288
Ok, this morning, I updated to the version of 26 march (the release of today wasn't released yet or nuget cache problem I guess becauseas I said : I tried with Linking assemblies to none).
I'm glad to confirm it doesn't show a white screen anymore. Thanks !!
I didn't want to use the Telerik ListView as IMHO the SfListView is better.

[2019-03-29 17:17] asdiomar1 commented on #4398
We shouldn't have to delay navigation to "solve" this problem

[2019-03-29 17:31] samhouts commented on #5724
@dansiegel  ;)

[2019-03-29 17:34] samhouts commented on #5724
@adrianknight89

We designed the flags to just no-op when they're no longer necessary. It should have no adverse affects on your application to continue to have it there. If we add a console warning, you'll definitely have a "larger" (read: still very small) performance hit. But if this is something that is strongly desired by the community, we'll consider it for sure. Thanks!

[2019-03-29 17:42] softsan commented on #5288
Tried with Linker mode to `Link SDK assemblies only` and it doesn't work with Xamarin.forms 3.6.0.264807 and Syncfusion 17.1.0.38  https://help.syncfusion.com/xamarin/release-notes/v17.1.0.38?type=all

[2019-03-29 17:54] ali-h2010 commented on #5288
same issue. i still am getting a crash and annoying license alerts too.
Thanks SF, you gave it to us for free but you don't have to rub it in our faces.

[2019-03-29 17:57] caseyniemann commented on #5288
@samhouts @PureWeen doesn't work with Xamarin.forms 3.6.0.264807 and Syncfusion 17.1.0.38.  It's clear from above that the communication between Xamarin and Syncfusion is broken....and has been broken for more than a month and half.  Get connected today and get this resolved

[2019-03-29 18:04] rmarinho commented on #5208
this seems be fixed @davidortinau , can you confirm?
[code]
![Simulator Screen Shot - iPhone XS Max - 2019-03-29 at 18 03 33](https://user-images.githubusercontent.com/1235097/55253355-06b51180-524d-11e9-8002-e60175859019.png)

[2019-03-29 18:07] tranb3r commented on #5288
Same for me. The issue is still here with XF 3.6.0.264807 and SF 17.1.0.38.
It's still not clear to me though if the issue is in XF or SF.
@samhouts @PureWeen Could you please clarify and fix urgently?

[2019-03-29 18:08] rmarinho commented on #5220
this was fixed by #5567

[2019-03-29 18:08] #5220 closed

[2019-03-29 18:08] rmarinho commented on #5211
this was fixed by #5567

[2019-03-29 18:08] #5211 closed

[2019-03-29 18:12] samhouts commented on #5288
We've reached out to SyncFusion to find out what version they expect the fix to be in. Someone will report back here with that information.

Thank you for your patience!

[2019-03-29 18:12] keozx commented on #5288
Wow I was about to update, thanks for letting us know, in their release notes they don't mention the compatibility issue, they seem to reference other 3.5 issues there https://help.syncfusion.com/xamarin/release-notes/v17.1.0.38?type=all
So Xamarin did their job fixing 3.5 but yes 3.6 and above should be fixable by SF as mentioned before

[2019-03-29 18:21] rmarinho commented on #4762
Can't reproduce in the latest 4.0.0, can you double check you still can't do this @davidortinau

[code]
![Simulator Screen Shot - iPhone XS Max - 2019-03-29 at 18 21 06](https://user-images.githubusercontent.com/1235097/55254341-7fb56880-524f-11e9-9ec1-be2fd6d00736.png)

[2019-03-29 18:56] rmarinho commented on #3125
Should we implement the following from what we have on SearchBar?

[code]

[2019-03-29 19:03] EmilAlipiev commented on #5288
yes it is possible to create everything of sflistview or sfdatagrid using CollectionView. even if you do custom virtualization, possible with bindable stacklayout or datagrid. this is what syncfusion is doing even though you gave me thumbs down but i am telling you the truth. they arent using ListView of xamarin as inheritance

[2019-03-29 19:24] keozx commented on #5288
Man I believe you, just thumbed down because then is hard to remove dependency :) which is the ugly thing we all come across

[2019-03-29 22:13] jamesmontemagno commented on #5673
Totally fixed in latest 3.6 release! 3.6.0.264807

[2019-03-29 22:13] #5673 closed

[2019-03-29 22:31] lachlanwgordon commented on #4762
I just tested on the latest nightly build 4.0.1.268567 and it's still happening. I've updated my repro repo to the new nuget. https://github.com/lachlanwgordon/AlertShellCrash

[2019-03-29 22:43] hartez commented on #5622
The orange color is actually the value for [`state_activated`](https://developer.android.com/reference/android/graphics/drawable/StateListDrawable.html#attr_android:state_activated) in your Android app's theme. So not everyone will see orange; that's just the AppCompat default. This is the fallback value if nothing else has been specified.

When an item in the CollectionView is selected, the Visua

[2019-03-30 01:17] jcapellman commented on #4268
Or at least a work around, as this causes the app to crash

[2019-03-30 01:24] kingces95 commented on #5700
The project is open source and has instructions per platform for how to build it. There is an unofficial bat file `.create-nuget` that you could use to build the nuget or just create ur own unit test. If u use the bat file, `set nuget_dir=` path to `nuget.exe`.

[2019-03-30 01:26] kingces95 commented on #5576
Could you please insert that snippet into a sample project, zip, and attach it to the bug? Thanks.

[2019-03-30 01:30] kingces95 commented on #5708
There's not hard and fast rule about what is a phone vs a tablet. So there will always be heuristic logic involved. So if Essentials works for, you go with that. If we change this now, then our huristic may break those for whom it's working.

[2019-03-30 01:30] #5708 closed

[2019-03-30 01:31] kingces95 commented on #5731
Could you please zip and attach a small reproduction to the bug? Thanks!

[2019-03-30 01:32] kingces95 commented on #5733
Thanks! Could you please zip and attach a small reproduction to the bug?

[2019-03-30 01:36] kingces95 commented on #5738
Hm, I've not seen that. That's gonna be hard to debug as it's hard to reproduce your build env locally. I'd google and see what you can find and maybe try different VS versions. That said, we do need to better isolate our build env so users who want to submit PRs encounter less friction.

[2019-03-30 01:37] kingces95 commented on #5741
Could you please zip up and attach a small reproduction? Thanks!

[2019-03-30 01:40] kingces95 commented on #5749
Could you please zip and attach a small reproduction to the issue? Thanks!

[2019-03-30 01:53] hartez commented on #2009
@UnreachableCode I believe that's referring to the number of different templates, not the number of items which use that template. So you shouldn't run into any issues.

[2019-03-30 02:07] kingces95 commented on #5510
![image](https://user-images.githubusercontent.com/4120386/55269906-b6ce4e80-523c-11e9-855a-07a7ced8a4a0.png)

[2019-03-30 02:11] kingces95 commented on #5565
![image](https://user-images.githubusercontent.com/4120386/55269954-5986cd00-523d-11e9-9baa-739c52d82246.png)
![image](https://user-images.githubusercontent.com/4120386/55269958-5e4b8100-523d-11e9-8f20-7f98d98bf16e.png)

[2019-03-30 02:12] kingces95 commented on #5565
Don't see that. But if the app loads without issue I wouldn't worry about it.

[2019-03-30 02:12] #5565 closed

[2019-03-30 02:37] kingces95 commented on #5679
![image](https://user-images.githubusercontent.com/4120386/55270257-d9626680-5240-11e9-920d-af18db709503.png)

Well, throws something but my debugger doesn't quite let me dig the message out...

[2019-03-30 02:48] kingces95 commented on #5703
Doesn't ellipse. Doesn't load on iOS.

[2019-03-30 02:50] kingces95 commented on #5742
Could you please attach a zipped reproduction? Thanks!

[2019-03-30 03:00] kingces95 commented on #5748
May just need to fiddle with args but I cannot see anything the matter at first glance.

[2019-03-30 03:04] kingces95 commented on #5750
Hm. Works for me...

[2019-03-30 03:10] kingces95 commented on #5728
Sorry, I don't find the string `{StaticResource NavigationPrimary}` in the project. Could you zip and attach the project to the issue? The linked repro has a blue indicator that stays blue.

[2019-03-30 03:15] kingces95 commented on #5719
![image](https://user-images.githubusercontent.com/4120386/55270699-3f9db800-5246-11e9-8968-4942d9a59160.png)
Hm, throws on launch. App looks reasonable. Other iOS apps launched today... so...

[2019-03-30 03:52] kingces95 commented on #5755
![1D42E232-0C0F-45AF-B8E0-33EDB08D6F2C](https://user-images.githubusercontent.com/4120386/55271076-70ccb700-524b-11e9-879b-d8104dbacaf5.GIF)
I guess it could be flickering a bit...

[2019-03-30 03:58] kingces95 commented on #5746
Extra space.

[2019-03-30 04:08] kingces95 commented on #5661
Reproduces as described

[2019-03-30 04:09] kingces95 commented on #5707
Reproduces as described

[2019-03-30 04:41] adrianknight89 commented on #5142
Wasn't this decided to be `RefreshView` as discussed in the `CollectionView` spec?

[2019-03-30 05:22] GnanaPriyaNamasivayam commented on #5288
We regret for the inconvenience caused.

We have fixed the android linker issue in Sflistview. Currently it could be in testing state, checking on various possible scenarios and list view feature testing. We will complete these testing and update the patch in our upcoming weekly nuget. It could be expected on April 9, 2019. We appreciate your patience until then.

[2019-03-30 06:04] mfeingol opened #5762 "Using multiple ToolbarItem or MenuItem instances disables compiled bindings"
### Description

Using multiple ToolbarItem or MenuItem instances disables compiled bindings.

The following code compiles, as it should:

[code]

The following code triggers a compiler error, as it should:

[code]

However, the following code also compiles, because the XAML compiler isn't used when there are multiple `MenuItem` instances:

[code]

### Steps to Reproduce

In a page with compiled b

[2019-03-30 08:15] Zelenoocko commented on #5755
Hi, first It looks much more smoother then what I can see on my mobile. Second it's much more visible in case when you call GoToAsync manualy when flayout is not displayed. I've added updated example, so now when you go to Page 2, there is redirect to Page 3.

[2019-03-30 08:24] RwSgxx commented on #5750
This is the entire page:
[code]

[2019-03-30 12:34] HobDev opened #5763 "[CollectionView] CollectionView Expands to full screen with FlexLayout"
### Description
I have developed a screen for an app. When FlexLayout is the Content of the ContentPage the CollectionView expand to whole screen. Whereas when StackLayout is the Content of the ContentPage  the CollectionView takes remaining space after adjusting all other views.
### Steps to Reproduce
Run my sample and swap FlexLayout with StackLayout.

### Basic Information

- Version with issue

[2019-03-30 13:33] adrianknight89 commented on #5716
#5754 adds a `RecyclerViewScrollListener` to Android's `ItemsViewRenderer` and can be used to send scroll events.

[2019-03-30 13:40] adrianknight89 commented on #5716
#4654

[2019-03-30 14:57] HobDev opened #5765 "[Frame, CollectionView, Android]The Label.Text is invisible on Android if DataTemplate have frame as layout"
### Description
I have developed a xaml page for an app. It have CollectionView. When I have Frame as Layout in DataTemplate of CollectionView The Label.Text field on Android is invisible. Whereas when I put the Frame in StackLayout the Text becomes visible.
### Steps to Reproduce
Remove the parent StackLayout  from child FrameLayout in CollectionView DataTemplate using my sample.

### Basic Infor

[2019-03-30 14:59] adrianknight89 opened #5766 "[Android / Fast Renderer] Frame size gets corrupted when ListView is scrolled"
### Description

If you put a `Frame` in a `ViewCell` and scroll the `ListView` up and down several times, you will notice that `Frame` size gets corrupted. This only happens when Fast Renderers are turned on.

### Steps to Reproduce

1. Run attachment
2. Scroll up and down several times
3. Observe that some frames have inaccurate lengths

### Reproduction Link

[App155.zip](https://github.com/xam

[2019-03-30 15:01] ianvink commented on #5733
A sample project not needed. Add the code to any app.xaml without the default set and the error occurs.

[2019-03-30 15:17] adrianknight89 commented on #5724
@samhouts `Frame` doesn't seem to be fully tested yet. Can #5766 and #3150 be resolved before fast renderers get turned on by default? There is also #2989.

[2019-03-30 15:32] HobDev opened #5767 "AbsoluteLayout does not take the size of its children as RelativeLayout takes"
### Description
I want to use Image to display data on top of it. I put image inside the AbsoluteLayout. But the AbsoluteLayout does take extra pixels around the image. Whereas using RelativeLayout does not have this issue. The issue magnify in low resolution devices.
### Steps to Reproduce
swap RelativeLayout and AbsoluteLayout in the uploaded sample

### Basic Information

- Version with issue:X

[2019-03-30 18:06] davidortinau commented on #4681
What's the status of this, still needs specification?

From a DX standpoint, I first tried to add a `Margin` to my `Frame` within the `ItemTemplate`, and it did nothing. I then went looking to any option to set `Spacing` on either the `GridItemsLayout` or `CollectionView`.

I then solved this by adding a `ContentView` and setting `Padding` to achieve the spacing. O @jassmith forgive me!

And final

[2019-03-30 18:18] Mikilll94 commented on #5679
@kingces95

You have to click "Press to see the error" button. This will fire "AnotherCommand" in the view model. In view model I have wrapped the command in try catch block. Here is the code:

[code]

As you can see I caught the exception and wrote it to the output using Debug.WriteLine. If you want you can set a breakpoint on Debug.WriteLine and look and the "e" variable. The error message says

[2019-03-30 20:10] krdmllr commented on #4681
@davidortinau this still has the problem that the spacing between the items (10+10) is not the spacing the outer items have to the window (10).

[2019-03-30 20:25] davidortinau commented on #4681
Perhaps I'm overselling it by saying I "solved" anything other than getting space between my items. You're correct @krdmllr that this produces different spacing between than outside. Margin would have a similar outcome.

[2019-03-30 21:48] davidortinau opened #5768 "[Shell] Unable to focus search handler"
### Description

https://www.screencast.com/t/kmwfyFkTdS

It's possible to show and hide the search box, however you cannot set focus. I don't see any method for focus or to get the Entry field to set focus myself.

I suspect this will be an accessibility problem.

### Steps to Reproduce

1. Start with search hidden
2. Tap a search icon (toolbaritem or whatever) to open the search (expanded)
3. Ob

[2019-03-31 05:51] HobDev opened #5769 "[iOS,Visual]The ContentView is misaligned on iOS if Visual="Material""
### Description

I am using ContentView in one of my ContentPages. Normally the ContentView Renders nicely on iOS. But when Visual is used the ContentView is misaligned and pushed out of the screen.

### Steps to Reproduce

Run the repro project with and without visual.

### Basic Information

- Version with issue: Xamarin.Forms- pre7
- IDE:VSMac 2019 preview

- Affected Devices: iOS

### Screensh

[2019-03-31 06:14] andreinitescu commented on #1856
If I had some little feedback such that I know if I'd work on this it wouldn't be an wasted effort...

[2019-03-31 18:41] MagicAndre1981 commented on #5708
@kingces95 Essentials also shows phone.

[2019-04-01 00:04] mfeingol opened #5770 "Compiled bindings can cause (handled) NullReferenceExceptions"
### Description

Compiled bindings should check for null members instead of dereferencing them, throwing exceptions, then handling those exceptions. I can't imagine that improves perf vs. a codepath that doesn't throw exceptions.

### Steps to Reproduce

1. Set up a binding against a member of a member. E.g. `<Label TextColor="{Binding MyContentViewModel.TextColor}"  Text="{Binding MyContentViewMo

[2019-04-01 06:30] Suplanus commented on #5728
`{StaticResource NavigationPrimary}` is in `App.xaml` Line `6`.
I attached the project and a video where you can see it. I made the color red for the video.
- [ListViewBusyIndicator_Video.zip](https://github.com/xamarin/Xamarin.Forms/files/3028008/ListViewBusyIndicator_Video.zip)
- [ListViewBusyIndicator.zip](https://github.com/xamarin/Xamarin.Forms/files/3028004/ListViewBusyIndicator.zip)

[2019-04-01 06:35] vjsystematix commented on #3855
Any update on this?

[2019-04-01 07:00] Dresel commented on #5455
Is there any known work around (except setting height manually)? At the moment it's really useless with variable dynamic content.

[2019-04-01 07:47] cornem commented on #5742
For what it's worth, the problem does not occur when building with VS2017.
I will try to make a reproduction later.

[2019-04-01 08:09] tstivers1990 commented on #1450
@velocitysystems Thank you. Saved me a bunch of time today.

[2019-04-01 08:11] MaxenceSAUNIER opened #5772 "Picker ItemSource can accept an Enum Object"
### Description
Hello,

I have create an Enum Picker to used enum in pickers.
I don't understand why my first pick on the Picker not raised the property changed. In Xamarin.Forms 3.4 it working good.

I attach the example at this post.
### Steps to Reproduce

1. Use my example zip
2. Select just one time for they 2 picker
3. Standart picker have working but not my picker
4. Change version to 3.4 a

[2019-04-01 08:11] Depechie opened #5773 "[Enhancement] Expand data binding for Map control"
## Summary
In one of the latest Xamarin Forms updates, we received data binding for `Pins` - [https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/map#populating-a-map-with-data-using-data-binding](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/map#populating-a-map-with-data-using-data-binding).

Would be great if we could also get this for `Polylines`.

##

[2019-04-01 08:40] SylvainDebaudringhien opened #5774 "android.permission.INTERNET and WRITE_EXTERNAL_STORAGE added on release builds"
### Steps to Reproduce

1.
Create a blank Xamarin forms project using the wizard.

2.
Build the Android project in release mode:
obj\Release\81\android\AndroidManifest.xml contains android.permission.INTERNET and WRITE_EXTERNAL_STORAGE.

- IDE: VS 2017 15.9.10
- Platform Target Frameworks:
  - Android: 8.1
- Android Support Library Version: 27.0.2.1
- Nuget Packages: Xamarin Forms 3.6

[2019-04-01 08:47] SylvainDebaudringhien commented on #5774
Sorry, my mistake: I just found they were explicitely added in my AssemblyInfo.cs... :\

[2019-04-01 08:47] #5774 closed

[2019-04-01 12:51] Anamon commented on #5239
Can you try setting only a top padding value, but setting it to a value of 19 or 21?
I have encountered this issue, but it happens only if the value is exactly 20. Other values work fine.

[2019-04-01 12:54] ali-h2010 commented on #5288
@EmilAlipiev
This solution has drag and drop and advance lists
https://github.com/roubachof/Sharpnado.Presentation.Forms

The question is, will it crash in release mode.
Also, i invested heavily on Syncfusion's listview so it will take some time to rewrite the code.

[2019-04-01 12:57] ZekariasNegash commented on #5239
I have found a solution to this. Instead of setting the padding in the constructor of the page,  set the property in the OnAppearing method by overriding it. That will do the trick.

[2019-04-01 13:26] StephaneDelcroix commented on #5706
🤦‍♂️ CommandParameterProperty default binding mode is onetime. you can fix your sample by setting `Mode=OneWay`

I'm still gonna change all it to OneWay

[2019-04-01 13:30] UnreachableCode commented on #3172
Any chance of there being out of the box animation for Android, like that of the Recycler View?

[2019-04-01 13:41] Xyotic opened #5777 "[iOS] Listview does not update background color properly"
### Description
ListViews on iOS does not update its background color properly if is is populated with elements
It only changes the color  after all elements
### Steps to Reproduce

1.  Create ListView and populate with items
2.  Set the background color with a dynamic resource (BackgroundColor="{DynamicResource myDynamicColor}"
3. Update myDynamicColor while ListView is presented

### Expected Be

[2019-04-01 13:51] GnanaPriyaNamasivayam commented on #5288
As per the earlier discussion we confirm that fix will be included on our upcoming weekly Nuget scheduled date April 9, 2019 without any further delay. Meanwhile, if you require SfListView Custom Nugets/Assemblies before the weekly Nuget release, please create the support ticket using following link .
To create support : https://www.syncfusion.com/support/directtrac/incidents

Regards,
Gnana Priya

[2019-04-01 14:46] dfarrNTST commented on #5677
When will pre-8 be released?

[2019-04-01 14:53] PenguinPero opened #5778 "[Android] ListView crashing when updating items just before observable collection operations"
### Description
ListView crashes with the following exception:

[code]
When sorting bound ObservableCollection (multiple Move calls) right after item updating.

[code]
Or when deleting items from ObservableCollection, right after item updating.

But it is not consistent, it does not happen every time.
Also only happening on Android.

### Steps to Reproduce

1. Create ListView with item template
2.

[2019-04-01 15:04] hartez commented on #5677
Currently scheduled for April 3.

[2019-04-01 15:08] dfarrNTST commented on #5677
Thank you.  Will UWP support be included or is that down the road?

[2019-04-01 15:10] hartez commented on #3172
Which animations are you referring to? The Android renderer for this is built on RecyclerView, so it already uses the default animations for things like adding/removing items.

[2019-04-01 15:12] hartez commented on #5677
UWP support is being currently being implemented alongside iOS/Android, but it's behind. So not all features are currently available on all platforms. You can see the current list of supported features here: https://gist.github.com/hartez/7d0edd4182dbc7de65cebc6c67f72e14

And keep in mind that this is still a Preview feature.

[2019-04-01 15:15] dfarrNTST commented on #5677
Excellent, thank you for the detailed and quick response.  Love the progress info!

[2019-04-01 16:32] anthcool commented on #2415
Preface:  I'm a newb atm.  Trying not to be.

@davidortinau  So, I've been trying to learn this Shell feature to add navigation, etc. into our first Xamarin.Forms project for our company (woot!) and I'm stuck on trying to figure out if it's possible to pass 1 or more params from a ShellItem to other parts of the application via the new routing functionality.  Is this a thing at all? Or must we sti

[2019-04-01 17:23] KyleTraynor commented on #2415
I'm with @anthcool and find this an extremely important feature. I was not able to find a way to do this and had to stop using Shell. Just need to be able to pass something to a content page to know which was clicked on.

[2019-04-01 17:30] samhouts commented on #5401
@AceCoderLaura  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-04-01 17:30] #5401 closed

[2019-04-01 17:34] samhouts commented on #5112
I'm unable to reproduce this issue. The reporter has yet to respond on the original ticket. Closing for now. If anyone is able to provide more information, please fee free to reopen this ticket. Thank you!

[2019-04-01 17:34] #5112 closed

[2019-04-01 17:35] samhouts commented on #5359
@henryyue2010  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-04-01 17:35] #5359 closed

[2019-04-01 17:48] samhouts commented on #5778
@PenguinPero Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-01 17:49] samhouts commented on #5777
@Xyotic Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-01 18:03] puppetSpace commented on #5738
I got the same errors.
Using visual studio 2019 RC 4.

I would also like to start contributing, but these errors are stopping me from even building something

[2019-04-01 18:40] JasonBro commented on #4678
I'm getting a similar stack trace. The app which I am using is one created with the wizard with just an App.xaml and the MainPage.xaml "Welcome to Xamarin.Forms!" page (I was using it to test something else). I have just changed from iOS to Android and get this error.

@StephaneDelcroix, can this be re-opened, please?

[code]

[2019-04-01 18:40] charlesroddie opened #5779 "Scrollviews scroll to fixed point when clicked"
We find that scrollviews often scroll to a fixed position when clicked/touched.

3.6.0.135200-pre1 and later are affected. 3.5.0.274416 are not.

This happens on UWP and iOS. Android untested.

Unfortunately we have not reduced this to a small repro yet.

Could anyone advise on what commits are in 3.6.0.135200-pre1 and not in 3.5.0.274416 so we can investigate?

[2019-04-01 20:48] hartez commented on #1396
@kpchua Could you open a new issue? Comments on closed issues tend to get buried, so a new issue will be more likely to get assigned.

[2019-04-01 20:54] mrlacey commented on #5412
This appears to be an issue when the detail page does not have a `Title` set.
The repro project can be made to work the correct way by setting a title in `TitlePage.xaml`
e.g.
[code]

[The docs say](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/navigation/master-detail-page#creating-the-master-page) that "the MasterDetailPage.Master page must have its Title property set,

[2019-04-01 21:22] PureWeen commented on #4603
https://github.com/davidortinau/wpbf/blob/master/WhitePaperBible/Views/PapersPage.xaml#L19
https://github.com/davidortinau/wpbf/blob/master/WhitePaperBible/ViewModels/PapersViewModel.cs#L65

[2019-04-01 23:37] rizamarhaban commented on #2415
@anthcool just trying to help and give some suggestion here as what I did at the moment. Create a navigation parameters class which has a `readonly Stack<NavigationParameter>` as a stack list, i.e.

[code]

The NavigationParameter is:

[code]
You can add parameters before the push when navigating, e.x.:

[code]

Once you in the other page, just **Peek** the value by checking the **Key**.
Something

[2019-04-02 00:41] drewgillies commented on #5573
This is fixed in 16.0.

[2019-04-02 00:41] #5573 closed

[2019-04-02 00:42] drewgillies commented on #5752
This is fixed in 16.0.

[2019-04-02 00:42] #5752 closed

[2019-04-02 08:06] PenguinPero commented on #5778
I will produce a small project as soon as I can, I am a bit busy at this time, this is happening on the ongoing project I am working on

But I managed to decrease the possibility of this bug by minimizing the amounts of update+sort events sent to UI (didn't happen again after this)
And maybe the issue is with sort -> update, not update -> sort, but not sure yet

[2019-04-02 08:55] martelart opened #5780 "LineBreakMode does not work with FormattedText on Android"
### Description
Label with FormattedText does not apply LineBreakMode, causes Java.Lang.IndexOutOfBoundsException
### Steps to Reproduce

1. Create Label
2. Add FormattedText with multiple Spans
3. Configure Attributes for Spans

### Expected Behavior
LineBreakMode works properly as it is on iOS
e.g. text fits on a line properly with Tailtrunction
### Actual Behavior
Getting Exception
### Basic In

[2019-04-02 10:18] danielwebstep commented on #4671
I've seen this issue working with native Xamarin.iOS and code behind/handling navigation manually. I do not believe this is Xamarin Forms spesific. I do believe this is something that's also an issue in Swift/C++ (see StackOverflow)

Using the PopToRootViewController(native.iOS) does not seem to remove the ContentPage/dispose the controller from the app.

Hence; if you are not disposing images the

[2019-04-02 10:54] HobDev opened #5781 "[Enhancement] CollectionView TappedCommand"
## Summary
The CollectionView lacks TappedCommand.  In my experience TappedCommand is required more that SelectionChangedCommand.

## API Changes
In ListView itemselected and itemtapped events are fired on tap. if developer consumes the tapped event he have to manually nullify the selected item.
CollectionView implementation should avoid this and allow TappedCommand even if SelectionMode is None.

[2019-04-02 11:04] HobDev opened #5782 "[CollectionView,Frame] Margin on Frame is not respected in CollectionView"
### Description
The Margin on Frame is not respected in CollectionView. This is when the Frame is the MainLayout of DataTemplate. If the Fame is put inside StackLayout the Margins are respected.

### Steps to Reproduce
Remove parent StackLayout from Frame in CollectionView DataTemplate from the repro project.

### Basic Information

- Version with issue: Xamarin.Forms-pre7
- IDE:Visual Studio for

[2019-04-02 13:04] mrbelk commented on #5641
I'm experiencing a similar problem.

[2019-04-02 13:31] adrianknight89 commented on #5455
Agreed. This needs to be given priority, imo.

[2019-04-02 14:25] mrlacey commented on #5637
This looks connected to #5412

Regarding the linked StackOverflow link. The sample app no longer shows this behavior but has other issues.

[2019-04-02 14:44] davidbritch opened #5783 "[Shell] SearchHandler not showing results when using data binding without sub-classing"
### Description

I know that the main scenario for using `SearchHandler` is to sub-class it. However, the fact that it has `ICommand` properties suggests that it can be used without sub-classing, in an MVVM context.

While my bindings resolve below, and the `SearchCommand` executes and updates `SearchResults`, the search suggestions never appear:

[code]

This problem occurs both on iOS and Androi

[2019-04-02 15:10] Ali-Syed commented on #1711
@PaulsonMac close the issue? is it resolved?

[2019-04-02 15:29] PaulsonMac commented on #1711
@Ali-Syed, actually I wanted it to be resolved.. Sorry for the typo

[2019-04-02 15:49] Carbaholic commented on #5700
I tried following the build tutorial but it's for windows and I'm on a mac. Is there a tutorial for building the nuget package with visual studio for mac?

[2019-04-02 16:16] ricardouffcomp commented on #5382
Hi @samhouts . Do you know when you are going to have a resource available from the Xamarin Team to work on this issue?

[2019-04-02 16:27] samhouts commented on #1495
Another repro is on https://github.com/xamarin/xamarin-android/issues/2884

[2019-04-02 16:30] PureWeen commented on #5641
@mrbelk  this will be fixed in the next SR

[2019-04-02 16:47] ricardouffcomp commented on #5382
Hi @samhouts. I clicked by mistake on the button "Close and Comment"/"Reopen" and the ticket is now sitting in "In Progress" under my name. I am not able to move the ticket back to ToDo. Can you move it back to Todo again? Cheers

[2019-04-02 17:08] samhouts opened #5784 "[Feedback] Xamarin DatePicker Min/Max Range error"
### Description

<p><p>Running the following statements on a DatePicker will result in an</p>
<p>&quot; <em>**Exception = {System.ArgumentException: Value was an invalid value for MinimumDate<br>
Parameter name: value<br>
at Xamarin.Forms.BindableObject.SetValueCore(BindableProperty property, Object value, SetValueFlags attributes, SetValuePrivateFlags privateAttributes)<br>
at X</em>&quot;</p>
<p

[2019-04-02 17:39] samhouts commented on #5778
Great, we'll keep an eye out for the sample project. Thanks!!

[2019-04-02 17:39] samhouts commented on #5742
Great, we'll keep an eye out for the sample project. Thanks!!

[2019-04-02 17:57] ianvink opened #5785 "VS2019: aapt2 throws pixel missing upper left corner error"
I opened our XF 3.6 solution in VS2019 Release, set the "Use incremental Android packaging system (aapt2)", deleted the bin/obj folders. See screenshot

Build fails with :

[code]

### Description

### Steps to Reproduce

1.  Open in VS 2019
2.  Enable aapt2
3.  Build

### Expected Behavior
Compiles
### Actual Behavior
Doesn't compile, may cause Brexit issues too (unconfirmed)
### Basic Informatio

[2019-04-02 17:58] ianvink commented on #5785
I have a repro I can provide, but it's confidential source code so I need an email to send to

[2019-04-02 18:06] ianvink commented on #5785
To be clear, removing **aapt2** fixes the issue.

[2019-04-02 18:23] pamela032709 opened #5786 "Xamarin Form Maps - Pins - Drag & Drop Functionality"
### Description
I would like to know when this functionality will be available in xamarin forms maps. without using any platform renders or behaviors

### Expected Behavior
Xmarin Forms Maps - pins- drag and drop all over the map with their annotations

### Actual Behavior
Pins drag and drop doesn't exist in the latest xamarin forms maps

[2019-04-02 18:51] ianvink opened #5787 "VS2019 Crashes Android when AOT and LLVM enabled"
In RELEASE mode for an Android app, if we set AOT and LLVM, then build the tool on our Build server (Mac VS2019) the app crashes with the crash log attached

When we disable LLVM, it works fine

### Steps to Reproduce

1.  Enable AOT and LLVM
2.  Build to releasr
3.  Crash

### Expected Behavior
Not crash
### Actual Behavior
Crash
### Basic Information

- Version with issue:
- Last known good vers

[2019-04-02 19:01] pizzahead24 opened #5788 "Cant render images in Android that have file names with a '-' in them."
### Description
My project is trying to display third party url images that we have no control over what they are named. The file name of a lot of them contain a hyphen in them. I have tried using both Xamarins Image component along with FFImageLoading and can confirm for some reason Xamarin Android cannot display these images with hyphens in them. Works fine in UWP and iOS. All images without the

[2019-04-02 19:02] pizzahead24 commented on #5788
https://stackoverflow.com/questions/35755089/xamarin-forms-image-not-showing

[2019-04-02 20:42] PenguinPero commented on #5778
here is the reproduction:
[ListViewBug.zip](https://github.com/xamarin/Xamarin.Forms/files/3035828/ListViewBug.zip)

while creating this reproduction project I realized this might be an issue on our side
when ran on UI thread everything seems to be working, when ran on background thread app crashes after few seconds of running

still I will leave this here, if anyone ever experiences this issue

m

[2019-04-02 21:06] Carbaholic commented on #5700
upgraded to the latest 4.0 release and the bug seems to have gone away.

[2019-04-02 21:53] PureWeen opened #5789 "[Enhancement] Scheme/uri based asset mapping for accessing photos, files, etc..."
## Summary
Provide a syntax that can be provide different types of image sources to an *ImageSource*. This will allow users to load images from sources like sdcards, embeddedresources, PhotoKit, Android Gallery, etc.. in a cross platform way.

This is possibly belongs more inside Essentials but an agreed upon Uri structure could be shared by XF and Essentials allowing both to consume this type of

[2019-04-02 23:10] PureWeen opened #5790 "[Shell] Uri Navigation Spec when using GoToAsync"
# Shell.Navigation.GotoAsync

Parent #2415

## Route structure
`//route (required) / page (optional) ? QueryParams (optional)`

- Route defines the path to a ShellContent element.These are the views that exist as part of the Shell visual hierarchy.
- Pages don't exist in the visual hierarchy but can be pushed onto the stack from wherever you are. For example an Item Details page won't be defined i

[2019-04-02 23:36] AceCoderLaura opened #5791 "Failed to execute 'which mono64': ExitStatus = 1"
### Description
I can't run my Xamarin.iOS application.

### Steps to Reproduce
1. Run the application from the IDE.

### Expected Behavior
Application starts on the iPad Mini connected to the Mac Mini that I connected to.

### Actual Behavior
Build hangs for a bit and then nothing happens.
Works fine on the Mac Mini in Visual Studio for Mac.
Since this appears to be a communication problem I figu

[2019-04-02 23:52] AceCoderLaura commented on #5791
If I set ContinueOnDisconnected in my project file to false I get this error:
[code]

[2019-04-03 03:59] AceCoderLaura commented on #5791
Here's the device log for the Mac Mini for the duration of an attempted build: [device.log](https://github.com/xamarin/Xamarin.Forms/files/3036810/buildlog.log)

[2019-04-03 04:02] AceCoderLaura commented on #5791
Here's the build log from the Windows machine: [BuildLog.zip](https://github.com/xamarin/Xamarin.Forms/files/3036825/BuildLog.zip)

[2019-04-03 04:38] buzzware commented on #5790
I'm not sure from the above whether you support navigation to a stack of pages with a single absolute url?
eg. GotoAsync("//xamtube/home//xamtube/library/edit") where home and profile are different pages? This is needed eg. where you want to bookmark the UI state in order to return to it when the app resumes. When the user opens this route and goes back, they expect to see //xamtube/home

[2019-04-03 05:40] AceCoderLaura commented on #5791
%LOCALAPPDATA%\Xamarin\Logs\15.0\\[2019-04-03_16-23-35.22016.Ide.log](https://github.com/xamarin/Xamarin.Forms/files/3036993/2019-04-03_16-23-35.22016.Ide.log)

[2019-04-03 06:12] AceCoderLaura commented on #5791
Okay I fixed it in Rider by recreating the run config .xml file. It seems that the `TargetiOSDevice` value wasn't being sent to the Mac as a result, although that's just speculation on my part. Visual Studio is still broken since it doesn't use the run config file that Rider does.

[2019-04-03 06:43] StephaneDelcroix commented on #4678
@jpajak @JasonBro please provide (one each) a small project triggering this issue. Without a repro, we'll have to close this ticket again in a few days. Thanks for your time

[2019-04-03 07:30] StephaneDelcroix commented on #5791
/cc @spouliot

[2019-04-03 07:39] xamadev opened #5793 "[CollectionView/ListView] Not listening for Reset command"
### Description
See issue: https://github.com/jamesmontemagno/mvvm-helpers/issues/39

### Basic Information
Xamarin.Forms 3.6.0.264807
Visual Studio 2017 Version 15.9.10
Platforms:
iOS Simulator with iOS 12.1 (iPhone SE)

### Reproduction Link
https://github.com/xamadev/ObservableRangeCollectionError

[2019-04-03 08:19] StephaneDelcroix commented on #5510
I can repro this in latest 4.0.0, but not in our unit tests :/

[2019-04-03 08:42] davidbritch commented on #5790
I've had experience of Shell navigation recently (using 4.0-pre6/7), and my comments are:

1. When you have a grip on routes, `GoToAsync` works well. But it's always going to be error prone because of being based on magic strings. The chances are users will make mistakes and get their routes wrong on first attempt (by not fully defining them, or getting them incorrect when calling `GoToAsync`). It

[2019-04-03 09:11] bill2004158 commented on #5742
I think similar like
https://github.com/xamarin/Xamarin.Forms/issues/2709

[2019-04-03 10:36] hackf5 commented on #3487
+1 this still seems to be broken with the default (Google) keyboard.

[2019-04-03 10:41] Cheesebaron commented on #5790
How do we attach a BindingContext to the Page, when navigating with Shell?

With regular Page navigation we already have the Page in our hand and can do stuff to the instance before we navigate to it.

I guess one would have to just try navigating to an URL, then when the Task returns look in the navigation stack for which pages are in there, then add the BindingContext. Not super neat.

Could it

[2019-04-03 11:47] StephaneDelcroix commented on #5770
your sample is overly complex, but I get the idea.

same goes for KeyNotFoundEx, IndexOutOfRangeEx and ArgumentOutOfRangeEx when accessing indexers

[2019-04-03 11:59] StephaneDelcroix commented on #5770
it happens only on `TextColor`, not on `Text`, looks like a typical value vs reference type... in case of ref types, we check for null before dereferencing...

[2019-04-03 12:13] Moltroon commented on #5601
In Xamarin Forms 4.0 pre-7 it working good for me

[2019-04-03 12:15] StephaneDelcroix commented on #5770
forget this, there's no API to check if an indexer contains a value

[2019-04-03 12:34] cheles commented on #5598
@samhouts @StephaneDelcroix  any updates on this from your side?

[2019-04-03 12:54] adrianknight89 opened #5797 "[Enhancement] See if we should support ObservableRangeCollection for CollectionView"
The default implementation of `ObservableCollection` lacks range methods. Should we support them out of the box?

https://github.com/jamesmontemagno/mvvm-helpers
https://gist.github.com/weitzhandler/65ac9113e31d12e697cb58cd92601091
https://forums.xamarin.com/discussion/29925/observablecollection-addrange

Looks like there is an internal [`ObservableList<T>`](https://github.com/xamarin/Xamarin.Form

[2019-04-03 13:07] Sivaraman761 commented on #4712
Hi @samhouts

we have found that, above mentioned issue occurred because of this #3559 changes. And we have found workaround for the same, workaround is set “IsClippedToBounds” as true for android scrollview. So can you please let us know whether it is conventional to set IsClippedToBounds property  as true ?

[2019-04-03 13:19] GalaxiaGuy commented on #5790
@buzzware
It seems that
[code]

is intended to be an example of setting up a stack in one step.

Is that meant to be
[code]
and does that imply that the user will see the home page _and then_ the store page as the stack is setup?

I would also like to add my support the comment by @Cheesebaron that getting hold of the resulting `Page` is important.

[2019-04-03 13:21] bobbydharrell commented on #1595
Any updates on this bug?

[2019-04-03 13:23] #5797 closed

[2019-04-03 13:26] adrianknight89 commented on #5793
Not sure if `CollectionView` supports `ObservableRangeCollection`.

https://github.com/jamesmontemagno/mvvm-helpers
https://gist.github.com/weitzhandler/65ac9113e31d12e697cb58cd92601091
https://forums.xamarin.com/discussion/29925/observablecollection-addrange

Looks like there is an internal [`ObservableList<T>`](https://github.com/xamarin/Xamarin.Forms/blob/bd31e1e9fc8b2f9ad94cc99e0c7ab058174821f

[2019-04-03 14:25] dimitarcnbs opened #5798 "Forms Previewer does not always show the Content in ContentView with ControlTemplate and ContentPresenter"
### Description
Forms Previewer does not always show the Content in ContentView with ControlTemplate and ContentPresenter.

### Expected Behavior
Content should always show regardless if defined before or after the ControlTemplate is defined.

### Actual Behavior
It depends on where the content is defined in the XAML.
If Content is defined **before** the ControlTemplate then the Content **does sho

[2019-04-03 14:49] pauldipietro commented on #5781
We don't have plans to add this at this time. You can currently set a Command on the TapGestureRecognizer your DataTemplate uses to handle this sort of functionality.

[2019-04-03 14:49] #5781 closed

[2019-04-03 15:05] emaf commented on #5791
Hi @AceCoderLaura,
It looks like your build is succeeding, but there's no information to identify why the app is failing to launch on attached logs.

Could you report this issue on Visual Studio*? That way we'll get more logs that can help us identify the problem you're facing. It'd be great if you can report it after reproducing it (in the same VS session) while you remain connected to your Mac,

[2019-04-03 15:18] mfeingol commented on #5770
Yeah, sorry about that. I was trying (unsuccessfully) to reproduce a different crash bug with compiled bindings and grouped listviews, and decided to file this one separately.

Thanks for fixing this!

[2019-04-03 15:35] xXdRaGoNrIdDeRXx opened #5799 "[Visual] Entry control page does not load in release"
### Description
If there is an entry control on the page with Visual="Material" the page will not load in Release mode on android

### Steps to Reproduce

1.  Open TheLittleThingsPlayground
2. Change MainActivity.cs code
From
[code]
To
[code]

2.  start the app in release mode
3.  Go to entries page

### Expected Behavior
Entries page loads normally

### Actual Behavior
Entries page shows only a b

[2019-04-03 15:42] dotMorten opened #5800 "My Xamarin.Forms control crashes when deployed from VS2019"
### Description
When using one of my custom controls, the app will crash a few seconds after loading a page with my control on it. It will however only happen when using VS2019. The exact same project works fine when deployed from VS2017.

### Steps to Reproduce
I've detailed the repo steps here: https://github.com/dotMorten/XamarinFormsControls/issues/41#issuecomment-479535534

But essentially ju

[2019-04-03 15:49] dotMorten commented on #5800
Important detail I just realized: It only reproduces with the debugger attached. If you launch the app by itself, the app does not crash.

[2019-04-03 15:52] dotMorten commented on #5800
Related issue: https://github.com/xamarin/xamarin-android/issues/2920

[2019-04-03 15:53] dotMorten commented on #5800
Going to close this as duplicate

[2019-04-03 15:53] #5800 closed

[2019-04-03 16:08] quentinR0bert opened #5801 "TextDecorations Strikethrough not called for FormattedText in iOS"
### Description
If you set a Label with only a FormattedText value and set TextDecorations to Strikethrough. The text won't be stroke.

### Expected Behavior
The text will be stroke.

### Actual Behavior
The text is not stroke

### Basic Information

- Version with issue: 3.6.0.264807
- IDE: Visual Studio Mac
- Affected Devices: iOS

### More Informations

If we look the LabelRenderer for iOS we w

[2019-04-03 16:15] PureWeen commented on #5790
@buzzware

eg. GotoAsync("//xamtube/home//xamtube/library/edit") where home and library edit are different pages in a stack? This is needed eg. where you want to bookmark the UI state in order to return to it when the app resumes. When the user opens this route and goes back, they expect to see //xamtube/home

We're still working through the idea of how to let users express a stack with a uri and

[2019-04-03 16:23] dansiegel commented on #5790
So a couple things here:

1. Navigation with URI's should support true URI's

What's currently supported but shouldn't be:

[code]

In this scenario both `foo` and `bar` are passed into ViewA, ViewB, and ViewC

How this should work:

[code]

In this scenario we're actually starting to support real URI's in which query parameters are passed specifically to individual segments so `ViewA` only sees a

[2019-04-03 16:27] andreinitescu commented on #5790
1. Navigation should support complex parameters, not just query string. See Prism's NavigationParameters
2. I'd like something like 'NavigateAsync' instead of 'GoToAsync'
3. I hope XF will preserve navigation backstack, just how native does

[2019-04-03 16:29] PureWeen commented on #5790
@davidbritch

Yea this reminds me when I was starting out with MVC... Why are you not activating my controller?!?!?!? The plan here is to add better error messaging and we are going to add a debug hook that will print out all available routes to your debug console.  This way users can see what they all are and if an incorrect one is asked for it'll throw an error. I've added an additional API and

[2019-04-03 16:45] PureWeen commented on #5790
@andreinitescu

The plan is to overload GoToAsync with some additional parameters that will let you specify complex parameters, transitions, modal information, etc..

We went back and forth with this. We definitely want everything to be close to each other. The two things we are thinking are to prefix everything with Navigate or just move everything off of the Shell class into a Navigation propert

[2019-04-03 17:06] PureWeen commented on #5790
@Cheesebaron

Returning something useful could be useful. Maybe a `result` structure.
As @dansiegel  said we are still figuring out the best extensibility points for this https://github.com/xamarin/Xamarin.Forms/issues/5166

I would assume if it is possible either last added wins or first added wins, but it is unclear from the spec.

It'll throw an exception. I added some notes to the spec.

[2019-04-03 17:15] mrlacey commented on #5412
As an alternative workaround, if you don't want to set the tile on the page that is loaded as the Detail, you can set the title on the MasterDetailPage. It's only if neither of these has a title that the described behavior is shown.
If you want these to not show a title you can always set the title to a non-visible character, such as "Title="&#x200B;"`

[2019-04-03 17:21] PureWeen commented on #5790
@dansiegel If I'm following your comments

Is what you want to be able to do?  @davidortinau had brought this up a bit. Our concern was that this isn't a fully valid URI. Those parts could be encoded or possibly we can extend the querystring syntax
[code]

The other thing is that the URI we are proposing here isn't building a stack it's just taking you to a place with only one item in the stack.

[2019-04-03 17:24] PureWeen commented on #5790
@GalaxiaGuy

Yes that example was more to demonstrate URI syntax and what would happen. We're going to provide some apis that allow users to setup and modify the stack as needed

[2019-04-03 18:09] dansiegel commented on #5790
@PureWeen I'll grant you that it isn't widely familiar but it is valid. I never really got deep into many modern web frameworks like Angular but as I recall some of them actually do something very similar to this. Also I can guarantee that .NET sees the syntax as valid since this is what Prism has been doing for years.

[2019-04-03 18:20] PureWeen commented on #5790
@dansiegel

My mistake on that one. I ran my test of that Uri structure incorrect and it is indeed correct.

[2019-04-03 18:22] brianlagunas commented on #5790
@PureWeen I'll add to what @dansiegel said. The reason the System.Uri class works with the `ViewA?foo=1/ViewB?bar=2/ViewC?foo=3` syntax is because anything after the first `?` is considered a parameter. However, this doesn't matter to the developer, all they care about is that the API is logical. Passing parameters to specific pages is logical. Appending all parameters for all pages at the end of

[2019-04-03 18:26] neville-nazerane commented on #5642
This seems important as overlaying Material buttons can be used to overlay images and create buttons with icons in them. There doesn't have a good alternative as of now. Other solutions such as using a stacklayout require relatively a lot of steps and are still not the same as a button.

[2019-04-03 18:46] PureWeen commented on #5790
@brianlagunas having to know the whole route is kind of a pain and I've been wondering ways around this. For example ways to register globally unique routes.

The difference here (as I understand it) between Prism and Shell is that Prism doesn't have an opinionated structure like shell. With Prism you just have a collection of page types and then the uri cleanly maps to calls of `PushAsync/PushMod

[2019-04-03 18:50] samhouts commented on #5791
I'll go ahead and close this issue, since it seems to be outside the scope of Xamarin.Forms. Thanks!!

[2019-04-03 18:50] #5791 closed

[2019-04-03 18:52] PureWeen commented on #5790
and If users opt to make the routes globally unique we could totally just fall back to something like that

If it can't find a specific route called `EditStore` then just search for anything called EditStore and navigate to that

[2019-04-03 18:58] samhouts commented on #5788
@pizzahead24 Can you please provide a small sample project? I know that we probably are unable to really resolve this issue for local images, due to Android limitations, but I feel like there should be some workaround for Urls. Thanks!

[2019-04-03 19:00] samhouts commented on #5785
/cc @jonpryor

[2019-04-03 19:00] samhouts commented on #5787
/cc @jonpryor

[2019-04-03 19:12] charlesroddie commented on #5779
Thanks @samhouts
This is a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/5652.

[2019-04-03 19:12] #5779 closed

[2019-04-03 19:16] samhouts commented on #5779
Duplicate of #5652

[2019-04-03 19:23] brianlagunas commented on #5790
@PureWeen that's the difference right there! Prism requires a unique key for each page that is registered. Shell is allowing the reuse the same route name except mapping different pages to them depending on where it is defined.

[2019-04-03 19:26] pauldipietro opened #5802 "[CollectionView] ItemsLayout property types do not show in IntelliSense"
### Description
Per [feedback](https://github.com/davidortinau/VisualChallenge/pull/9) from @mattleibow, the `ItemsLayout` property options for `CollectionView` does not appear in IntelliSense, making it difficult to discover.

### Steps to Reproduce

1. Attempt to set the `ItemsLayout` property CollectionView in a Xamarin.Forms project.
2. Note that options of `ListItemsLayout` or `GridItemsLayou

[2019-04-03 19:26] pkhandelwal-cdl commented on #5418
Confirmed this is occurring for Android in Xamarin.Forms 3.6.0.264807.
Another thing to note: If you background the app while the modal view is visible, upon foregrounding OnAppearing gets called on the root page instead of the visible. The expected behavior here would be that OnAppearing gets called on the ModalPage since that is the visible/appearing page.

[2019-04-03 19:27] pierceboggan commented on #5802
Could we add a XAML sample here so I could validate?

[2019-04-03 19:39] pizzahead24 commented on #5788
@samhouts https://github.com/pizzahead24/xamarin-droidImageBug

[2019-04-03 19:49] Carbaholic commented on #5700
And it's back, I'll keep working on a repro

[2019-04-03 21:24] anthcool commented on #2415
Thanks for the idea @rizamarhaban!  Really appreciate you chiming in on this.  Thank you!  I'll check this out here soon.  Again, appreciate it!

[2019-04-03 22:56] AceCoderLaura commented on #5791
Reported it to Visual Studio.

![VS Bugs](http://1.bp.blogspot.com/-Rf42FQsW_E8/VFCjoXECO_I/AAAAAAAAAD4/rsw2pFxXvBw/s1600/Futurama_Master_In_Pile.jpg)

[2019-04-03 23:56] samhouts commented on #5782
I think this is likely an issue with Frame, not CollectionView specifically. See related issue: https://developercommunity.visualstudio.com/content/problem/516733/frame-inside-a-bindablelayout-does-not-handle-marg.html

[2019-04-04 03:12] 851265601 opened #5805 "Cannot drag more than one widget onto a RelativeLayout in Xamarin Android designer."
### Description
When editing an .xml layout in the Xamarin Android designer, it is not possible to drag more than one widget onto a RelativeLayout.

### Steps to Reproduce

1.Create a new Xamarin Android App project in Visual Studio.
2.Navigate to the "Resources/layout/activity_main.axml".
3.Try to add two buttons to the Design. Trying to add the second one will show the "not allowed" symbol in pl

[2019-04-04 03:21] weitzhandler commented on #2415
Very disappointed to learn Shell and Visual don't support UWP.

[2019-04-04 04:50] ashishm29 commented on #5514
Hello @samhouts ,

Thank you for reply.
I have checked your project OnTouchEvent is working fine in your project but not working in my Project.

Only difference in both of our project is that your XF Application is created in  ".Net Standard" and my application that i was created is in "Portable".

So can you please check it in Portable Project.

Regards,
Ashish Mali.

[2019-04-04 05:36] HobDev commented on #5782
Pehaps it may be the same issue. But isn't it belongs to Xamarin.Forms and not to the Visual studio?

[2019-04-04 05:48] frogcrush opened #5806 "Cannot set NavigationPage.Icon to FontImageSource"
### Description
When trying to set a NavigationPage Icon to a FontImageSource, you receive an error saying "Property 'Icon' does not support values of type 'FontImageSource'.

### Steps to Reproduce

1. Create a NavigationPage
2. Attempt to set Icon property to FontImageSource

### Expected Behavior
Icon will be set to FontImageSource

### Actual Behavior
Above error is thrown and project fails to

[2019-04-04 06:45] psp589 commented on #5601
@Moltroon are you targeting UWP ?  for me it is not working in forms 4.0 pre-7 neither 4.0 pre-8

[2019-04-04 06:50] psp589 commented on #5625
@samhouts  I've just tried 4.0.0-pre8 and it is still not working, and there is no selectedItems property available. Could this issue be re-opened?

[2019-04-04 06:56] #4943 closed

[2019-04-04 06:56] #5706 closed

[2019-04-04 06:56] #5510 closed

[2019-04-04 06:56] #5535 closed

[2019-04-04 06:56] #5705 closed

[2019-04-04 06:56] #5712 closed

[2019-04-04 06:56] #5734 closed

[2019-04-04 06:56] #5770 closed

[2019-04-04 06:56] #5257 closed

[2019-04-04 07:06] Moltroon commented on #5601
Oh sorry, I do not have see the UWP platform precision. I have just test in Android and iOS.

[2019-04-04 08:36] deja135 opened #5807 "[Visual] [iOS] Material entry text caret miss aligned"
### Description
When using an entry with HorizontalTextAlignment="Center"  the caret is slightly off to the left, and when you start typing in the field it jumps in to the midle.
### Steps to Reproduce

1. Create a entry with visual="material" and HorzontalTextAlignment="Center"

### Expected Behavior
Caret should be in the middle
### Actual Behavior
Caret is slightly off to the left

### Basic In

[2019-04-04 09:28] benjaminsommerfeld commented on #5657
@PureWeen With today's build 3.6.0.293080 I still get this error when calling Picker.Focus(). Was this fix not part of the current 3.6.0.293080 build?

[2019-04-04 09:38] Charuwaka commented on #3252
@pauldipietro can you please reopen this issue, yes this issue exist Still Exist in Xamarin Forms iOS,But in Android its perfectly Working.

let say i am downloading an image

`//Network  Available
var image= await DownloadImage();

private Task <byte[]> DownloadImage()
{
//Network Not Available  // here it hangs for a time range between 3-5 minutes and returns result
 using(var responseMessage =

[2019-04-04 10:30] matteopiccioni commented on #4826
I think the following exception is related DataTemplateSelector

XF version: 4.0.0.304370-pre8
With this version of XF DataTemplateSelector are working  great on Android

Using iOS I have the following exception:
`Objective-C exception thrown.  Name: NSInternalInconsistencyException Reason: Invalid update: invalid number of items in section 0.  The number of items contained in an existing section

[2019-04-04 10:41] alanmcgovern commented on #4439
@viniciusjarina looked at this a while ago and the issue can't be reproduced:

![06039a36-1e8f-4314-a235-58f692d3ceed](https://user-images.githubusercontent.com/264396/55549758-879d5e80-56ce-11e9-88c8-de060a5de34a.gif)

Can you share a copy of a project which triggers the issue? Vinicius should be able to use that to diagnose what's going on

[2019-04-04 11:20] MagicAndre1981 commented on #4444
this is what I also did. Thanks for the tip 👍

[2019-04-04 11:45] KaelSuncaster commented on #3986
Updated to VS 2019, crashes on Android emulator.

Native Crash Reporting
=================================================================
Got a SIGSEGV while executing native code. This usually indicates
a fatal error in the mono runtime or one of the native libraries
used by your application.

04-04 13:43:30.113 E/mono-rt ( 7048): 12c00000-32c00000 rw-p 00000000 00:01 8590       /dev/ashmem/dalv

[2019-04-04 12:54] JasonBro commented on #4678
Thanks for your reply @StephaneDelcroix,

I've tried to repeat it with the project, but it seems to have got itself out of the failure state. As I mentioned, it was a simple project created by the Wizard, so nothing fancy going on.

In both cases it seems to be something to do with XamlCompilation and a failure in replacing InitializeComponent. Could some more logging be put when it fails in so th

[2019-04-04 13:47] marksarcade commented on #1879
Is this one still planning to be worked on? Just hit the issue myself thinking i had done something wrong, but reading this I realise i'm hitting the same bug.

[2019-04-04 13:54] jonpryor commented on #5787
/cc @marek-safar

[2019-04-04 13:55] tlhintoq opened #5809 "Anonymous MessageCenter messages aren't heard anymore"
### Description
Generally a MessageCenter message subscription it for a message sent from a specific class.
But it can also be anonymous in the sense that any class can `.Send` a message and any class will hear it.

For example:
Subscribe:
 `            MessagingCenter.Subscribe<string>(this,"ISENGINEON",OnEngineOnChanged);//Subscribe without caring who is sending the message. `

Send:
`

[2019-04-04 14:58] rmarinho commented on #5208
Should be fixed on pre8.

[2019-04-04 14:58] #5208 closed

[2019-04-04 15:02] mrutter opened #5811 "[iOS,Shell] Incorrect ContentPage position"
### Description
The content page displayed inside a ShellSection (bottom tabs mode) is incorrectly positioned: the top of the page goes behind the top edge of the screen. I tried only the iOS emulator (not a real device). It works fine with Android emulator.

It looks to me that the portion of the ContentPage that overlaps the top edge has the same height of the bottom tab bar.

### Steps to Repro

[2019-04-04 15:15] tlhintoq commented on #5809
Further input from the community found a solution: You have to specify the type `Application` and `Application.Current`.
https://forums.xamarin.com/discussion/comment/370364#Comment_370364

So the previously working syntax seems broken in 2019 - there is a way around it.

Android Broadcast listener:
`MessagingCenter.Send(Xamarin.Forms.Application.Current,"ISENGINEON", result.ToString());`
Shared l

[2019-04-04 16:58] SuperCorks opened #5812 "Can't overwrite styles when using CSS"
### Description
Overwriting a style or a style class using CSS at different levels of the view hierarchy doesn't work.

For example, importing a stylesheet (e.g. `label { background-color: blue; }`) in MainPage.xaml won't overwrite the same style (e.g. `label { background-color: yellow; }`) if it's been imported in App.xaml.

CSS styles defined in App.xaml should be overwritten by styles defined i

[2019-04-04 17:15] SuperCorks commented on #5812
The same problem happens to css files added to resource dictionaries one after the other. Say you have the following code:

[code]

Then the styles from `styleSheet2` don't overwrite the ones from `styleSheet1`.

[2019-04-04 17:25] SuperCorks commented on #5812
And finally, same thing with importing them using the xaml extension.

[code]

The styles in `Style1.css` don't get overwritten by the ones in `Style2.css`.

[2019-04-04 17:43] PureWeen commented on #5657
@benjaminsommerfeld if you can create a new issue and a reproduction that would be really helpful.
I tested your scenario with the project attached to this issue and for me it's working on the first call to focus.

[2019-04-04 17:48] samhouts commented on #5805
/cc @garuma

[2019-04-04 17:50] samhouts commented on #5806
Duplicate of #5805 3207

[2019-04-04 17:50] #5806 closed

[2019-04-04 18:50] DieselSoup commented on #4130
Hello,

I started experiencing this issue after updating Xamarin.Forms to version 3.6.0.293080. Came up with a workaround by switching "TappedEventArgs" to just "EventArgs" in my code behind. Any update on the status of this issue?

[2019-04-04 19:18] intel3 opened #5813 "MainActivity is getting created twice causing app crashing in navigation"
### Description
Hitting the home button and then clicking on the app icon in the home screen causes another MainActivity to create again and has weird side effect that causes a crash in the Navigation stack.

NOTE: I am only able to confirm when the apk is build from the IDE and immediately deploy to device for the first time. After the crash, relaunching the app doesn't happen again, but will app

[2019-04-04 19:24] Skirtek commented on #2496
Any updates?

[2019-04-04 19:48] MagicAndre1981 commented on #5468
@samhouts changelog for [3.6.0.293080](https://www.nuget.org/packages/Xamarin.Forms/3.6.0.293080) is again missing

![image](https://user-images.githubusercontent.com/8274816/55583941-5f8c1a80-5723-11e9-8766-9d62a472abcb.png)

[2019-04-04 21:33] angelru commented on #4398
The same issue

[2019-04-04 21:56] adrianknight89 commented on #4291
I just ran into this issue on iOS. The width of the Editor is spanning the whole width of the screen. Editor text wraps to new lines as usual, but the placeholder is single-lined and cut off.

[2019-04-04 22:15] kvpt commented on #5813
I think the PR #4707 has fixed this issue.

Can you try if this patched version of Xamarin.Forms fix your issue ?
[xamarin.forms.3.6.3.zip](https://github.com/xamarin/Xamarin.Forms/files/3045663/xamarin.forms.3.6.3.zip)

Change the extension from .zip .to nupkg (because github limit extension type allowed).
To install the local package you can use the differents methods listed [here](https://stack

[2019-04-04 22:27] adrianknight89 opened #5815 "Update instructions for building Xamarin.Forms"
@davidortinau Now that VSTS is Azure DevOps, I believe the [instructions](https://github.com/xamarin/Xamarin.Forms/wiki/How-to-Build-Xamarin.Forms-NuGet) need to be updated. The user interface of DevOps looks significantly different and makes the existing instructions difficult to follow. Please make sure the new instructions mention building an XF fork as well as the master branch. Most of us wil

[2019-04-04 23:51] drewgillies commented on #4296
This has stalled and is likely fixed already. Closing.

[2019-04-04 23:51] #4296 closed

[2019-04-04 23:57] samhouts commented on #5333
@KarthikRajaAKR @AjitKRuin  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-04-04 23:57] #5333 closed

[2019-04-05 00:03] samhouts commented on #5812
Inheritance and specificity are currently unsupported scenarios (https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/styles/css/), but we would be happy to consider this for an enhancement. Thank you!

[2019-04-05 00:05] samhouts commented on #5811
Please see https://github.com/xamarin/Xamarin.Forms/issues/4752#issuecomment-470157545. Thanks!

[2019-04-05 00:05] samhouts commented on #5811
Duplicate of #4752

[2019-04-05 00:05] #5811 closed

[2019-04-05 00:11] samhouts commented on #5339
I wonder if this is similar to #5813.

[2019-04-05 00:13] samhouts commented on #5700
Thanks, we'll keep watching for it. :)

[2019-04-05 00:17] samhouts commented on #5738
@scxp @puppetSpace That error message is really more of a warning. You should be able to build anyway. Make sure you've cleaned your solution, deleted bin/obj folders, and set your errors to just Build Only, not Build+Intellisense.

[2019-04-05 00:19] samhouts commented on #5742
@PureWeen thoughts?

[2019-04-05 00:22] TimBarham commented on #5038
So, it is "referenced" from the Android project via including the shared project's `projitems` file in the Android project. For example:
[code]
Perhaps not ideal wording for that error message for the shared project scenario, but regardless, it should work out of the box, and it is an issue if it does.

[2019-04-05 00:38] TravyDale commented on #4827
@moctechno I have just stumbled upon this. Would you be able to direct me to some sample code to get this workaround to work? I am currently running into this issue and wouldn't mind using this until a permanent fix is in place.

[2019-04-05 00:39] SuperCorks commented on #5812
@samhouts, I see what you're saying. Thank you. Just so I'm clear however, I'm not talking about inheritance or specificity if:
- by **inheritance** you mean having a subview inherit its parent's property value (e.g. a label inheriting its parent layout's `FontSize`)
- by **specificity** you mean the css line `label.with-class { ... }` overwrites a less specific `label { ... }` instruction

Here,

[2019-04-05 01:40] drewgillies commented on #5540
@PureWeen waiting on you for info in internal bug. Please respond so we don't need to close it.

[2019-04-05 01:40] PureWeen commented on #5742
@cornem Have you tried on the latest stable VS 2019?

Do you have multidex enabled on release? If so can you try proguard and uncheck multidex to see if that works?

What's the API version of the device you are running on?

If you target API 28 and update to support 28 do you still see the same issue?

[2019-04-05 01:49] Magendanz opened #5816 "No selection feedback for shell menu items"
### Description
Unlike ShellItems, MenuItems don't get selection feedback or indicate selected state after being tapped.  The flyout is also not automatically hidden after selection when FlyoutBehavior if set to Flyout.

### Steps to Reproduce

1.  Create new project based on Xaramin shell template
2.  Modify default shell page to enable items in flyout menu

`<Shell xmlns="http://xamarin.com/sche

[2019-04-05 01:52] mfeingol commented on #5038
@TimBarham: you're right, my Android project has a `Label="Shared"` reference. However, the XF previewer doesn't work out of the box.

[2019-04-05 03:01] cherrybbb opened #5817 "ImageButton"
### Description
I am trying to create an ImageButton that uses a different image for the normal (unpressed) state and the state where the user is actively pressing the button. I found an article that uses a VisualStateGroup to change the appearance of the button based on the state:

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/imagebutton#imagebutton-visual-states

I am ab

[2019-04-05 04:12] hhuseyinpay commented on #4398
When the page to be opened becomes complex, the flicker increasing

[2019-04-05 04:17] jws2103 commented on #3778
Hi @samhouts ,

Is this issue actually fixed?

I was able to replicate this issue on the latest Xamarin forms (3.6.0.293080).

This is only happening on Android.

So the steps to replicate are
1. Create a new Xamarin Project
2. Add a webview
3. Subcribe Navigating event

Expected:
- Navigating event fires every time webview url changes

Actual:
- Navigating event fires only once

Can you please re

[2019-04-05 05:32] moctechno commented on #4827
In MainActivity

[code]

NavigationPageRenderer:

[code]
AndroidHelper:
[code]

[2019-04-05 06:46] pikausp opened #5819 "float resource in XAML"
Is there a way to create `float` resource in XAML? I wanted to define `CornerRadius` as a resource so I can use it throughout the app, but I was not able to find the type. My current workaround is to assign it from the code to the App's resources after component initialization.

[2019-04-05 07:11] StephaneDelcroix commented on #5819
`<x:Single x:Key="myCornerRadius">12.2</x:Single>` should do it

[2019-04-05 08:12] #5819 closed

[2019-04-05 08:43] cmeeren commented on #3838
The workaround posted above is not something I can live with, since if the initial state is hidden, the toolbar item still pops up for a second before disappearing. This is confusing to users.

Hoping this will get officially implemented!

[2019-04-05 09:23] arvindrajachourasiya commented on #5038
Same issue I am facing....killing my time

[2019-04-05 10:19] RawoofSharief opened #5820 "Disposed objects are not handled properly in android scrollview renderer."
## Summary

Disposed objects are not handled properly in android scrollview renderer.

## Intended Use Case
We have used custom listview (SfListView). We have select and scrolling the listview item asynchronously and while navigating back from the page it will leads to crash **ObjectDisposedException**.

This issue is due to you have used delay timer in the OnScrollToRequested method.  When we lea

[2019-04-05 10:47] KonstantinKellermann opened #5822 "editor placeholder issue"
**Description**

The placeholder of the material editor looks like to be duplicated or something else.
If I tap into the editor the placeholder is going to the top but also there is a placeholder in the textfield. So there are two placholders after that, one on the top and one in the textfield.

I have created an new project just with an entry and an editor to reproduce it and to show the differen

[2019-04-05 12:22] EP01 commented on #5787
Seeing same issue here with VS2019 on Windows, I'm assuming they use the same version of Xamarin.Android.

[2019-04-05 13:05] TravyDale commented on #4827
@moctechno - Wow, thank you for the prompt reply and thorough example!

[2019-04-05 13:51] garuma commented on #5751
@kspearrin hey Kyle, we fixed this issue a different way in the end, for it to work you need to use the newly released Visual Studio 2019.

[2019-04-05 14:01] adrianknight89 commented on #5738
I saw this same issue last night after clean installing Windows 10 + VS 2019. I'll try @samhouts's suggestion today.

[2019-04-05 14:27] pizzahead24 commented on #4950
#4875

[2019-04-05 14:42] pizzahead24 commented on #4950
Considering there are medical charting apps and such that contain med data that users have to read and cant because of this cut off bug I would imagine this bug should be higher prioritized.

[2019-04-05 14:46] pizzahead24 commented on #4875
#4950 This is related

[2019-04-05 15:31] jonlipsky opened #5824 "Gesture recognizers attached to spans don't work in landscape mode."
### Description

Gesture recognizers attached to spans don't work (fire events) when displayed in a landscape mode.  Additionally, gesture recognizers on spans don't work when the span is truncated.

(Side Note: In creating the reproducible sample, it also appears to me that "HeadTruncation", "TailTruncation", and "MiddleTruncation" don't work when displaying a FormattedString in a Label.  You can

[2019-04-05 18:20] samhouts commented on #5598
We're having trouble reproducing this issue. We're working on it, and hopefully we will have more information next week. Thanks!

[2019-04-05 18:26] samhouts commented on #5820
@RawoofSharief Would you like to submit a pull request for this? Thanks!

[2019-04-05 18:28] samhouts commented on #5817
@cherrybbb Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-05 18:30] samhouts commented on #5816
@Magendanz Can you please attach a small project that demonstrates this issue? Thanks!

[2019-04-05 18:45] Magendanz commented on #5816
Here you go...
[Xamarin.Forms Bug #5816.zip](https://github.com/xamarin/Xamarin.Forms/files/3049228/Xamarin.Forms.Bug.5816.zip)

[2019-04-05 18:46] samhouts commented on #5816
You're quick!! Thanks! We'll take a look.

[2019-04-05 19:18] ChasakisD opened #5825 "[Enhancement] ShellItem Raised Center View Support"
## Summary
Raised Center View is a view that is above Bottom Tabs. This will provide the functionality for creating such things:
![image](https://user-images.githubusercontent.com/23040695/55650524-99762300-57ee-11e9-8742-1704c78492f4.png)

## API Changes

In the Shell, some attached properties are needed
[code]

On both Android and iOS my approach was to create a stub menu item in center and prev

[2019-04-05 19:22] adrianknight89 commented on #5669
Seeing this issue as well. On iOS, tail truncation does not work with spans.

I've also run into incorrect Label height calculations when spans are added (especially if a span is added towards the end of the line). The height of the label will be greater than what it should be (i.e. there is an extra empty line added).

[2019-04-05 20:07] MagicAndre1981 commented on #5468
@samhouts

ok, changelog is finally online:

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/3.6/3.6.0-sr2#wednesday-april-3-2019---xamarinforms-360293080-360-service-release-2

[2019-04-05 20:10] samhouts commented on #4921
@WinBase I tried to make a sample project based on what you provided here. It seems to work for me! If I enter 60 in any of the text boxes, it hits my custom exception and blows up...so it's respecting the MaxValue!

Can you take a look and see what you can do to make it show the behavior you're experiencing?

Thanks!

[Issue4921.zip](https://github.com/xamarin/Xamarin.Forms/files/3049452/Issue492

[2019-04-05 20:12] samhouts commented on #5468
@MagicAndre1981 Thanks! There is sometimes a delay in getting the release notes published, but if you have doubts, you can check https://github.com/xamarin/Xamarin.Forms/releases. Those are usually done right away.

[2019-04-05 20:15] transis2 commented on #5376
Solved with 3.6.0.293080 and 4.0.0.304370-pre8

Thanks to @PureWeen and @samhouts

[2019-04-05 20:20] #5376 closed

[2019-04-05 20:25] MagicAndre1981 commented on #5468
@samhouts

ok, thanks, great tip. I subscribed to the Releases and look for changelog there.

[2019-04-05 20:35] adrianknight89 commented on #5738
@samhouts Setting errors to `Build Only` seems to get rid of (or at least hide ) the issues reported here, but I'm seeing another one. Looks like all of `Xamarin.Forms.Material.[Platform]` dlls are missing. Do you know how to re-create them?

[2019-04-05 21:01] ThatBlokeCalledJay commented on #5062
I'm getting exactly this issue in vs2019 Pro

![image](https://user-images.githubusercontent.com/9808053/55656322-6af84800-57ee-11e9-9162-95ea7f9a99ff.png)

[2019-04-05 21:58] adrianknight89 commented on #4291
#5659

[2019-04-05 22:43] larthallor commented on #2193
How does this feature request interfere with the new Xamarin Forms 4.0 CollectionView control, which is not at all the same thing as the WPF System.Windows.Data.CollectionView or System.ComponentModel.ICollectionView?

[2019-04-05 23:54] samhouts commented on #5816
@Magendanz Did you add `FlyoutIsPresented = false;` to workaround the Flyout not closing automatically? Or does the Flyout still not close for you even with that there? It closes for me with that code, so I want to make sure we're seeing the same thing.

[2019-04-06 00:16] Magendanz commented on #5816
Yes, that was my workaround.  It seems to me that selecting a menu item should automatically hide the flyout unless FlyoutBehavior is Locked.  This is what happens in regular menus (e.g. menu bars, context menus, hierarchical menus, menu buttons) when you select a menu item.  You never have to explicitly close those.

[2019-04-06 00:23] Sebastian1989101 opened #5828 "Build error after Xamarin.Forms update to latest stable (Droid)"
After updating Xamarin.Forms from 3.6.0.264807 to 3.6.0.293080 it adds a bunch of additional Android support libraries and my project is no longer able to build. I get this build output after the update:

[code]

So far, if I take it correctly, there is an issue within the Xamarin.Android.Common.targets file which is not part of my project? Because every other message is related to a obj folder ou

[2019-04-06 00:32] PureWeen commented on #5828
The dependency list between the two versions should be the same
https://www.nuget.org/packages/Xamarin.Forms/3.6.0.264807
https://www.nuget.org/packages/Xamarin.Forms/3.6.0.293080

A lot of times when you update it'll still just mention all the support libraries but it won't actually update and change them.

Try
- deleting obj/bin
- rebuilding

if none of that works can you include a project to re

[2019-04-06 00:40] Sebastian1989101 commented on #5828
This is what NuGet wants to change in my Droid project for the update (and yes, he adds all those libraries): https://i.imgur.com/LVApXZo.png

I already tried to clear the obj/bin folder and also done a restart of VS with a rebuild. Sadly it results in the same error. I'm not sure what causes the issue so I'm not sure how I can create a sample repo for the issue.

What I noticed already before I u

[2019-04-06 01:00] samhouts commented on #5778
Interesting. If I strip out Prism, it doesn't crash either way.

[2019-04-06 01:08] kingces95 commented on #5165
Yeah, that's not the official way to create nuget packages. The official way is tied up in our CI system. That bat file exists so I can test reproductions and provide directions for customers to test fixes. I fix it as I go.. If you send a reproduction of what you're doing I'll fix it for you but it'll prob break the next time things change.

At the end of the day, all it does is build stuff and c

[2019-04-06 01:08] #5165 closed

[2019-04-06 01:20] AntRemo commented on #5828
@Sebastian1989101

If you concerned about the contents of Resource.designer.cs not being in sync with the rest of the project, you should be able to
1. Delete the contents of Resource.designer.cs (not the file)
2. Perform a clean
3. Perform a build
and it will repopulate it properly.

Hope that helps 🙂

[2019-04-06 01:46] samhouts commented on #5788
Hmm, so it's not the dashes. You can load this image, for example: `https://www.wikihow.com/images/thumb/5/51/Make-a-Dash-in-Microsoft-Word-on-Android-Step-4.jpg/aid8915250-v4-728px-Make-a-Dash-in-Microsoft-Word-on-Android-Step-4.jpg`

Your image fails before it even gets to the image loading bit. We're unable to even get your image as a stream. Here's what we get:

[code]

That seems like it's re

[2019-04-06 01:53] samhouts commented on #5738
@PureWeen Something to be aware of ^^

[2019-04-06 03:19] PureWeen commented on #5828
@Sebastian1989101 can you paste your csproj file here before you apply the update

[2019-04-06 03:24] PureWeen commented on #5738
@adrianknight89  what am I missing? Those are part of the SLN

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.sln#L183

I did a twitch stream this morning where I pulled a fresh copy and opened with VS 2019 stable
https://www.twitch.tv/videos/406524117?t=00h15m32s

You'll see in the stream I have all the same errors listed and I'm able to run everything

I didn't have to do any

[2019-04-06 06:54] #4316 closed

[2019-04-06 07:27] intel3 commented on #5813
I installed Xamarin.Form.3.6.3 in Android and shared project. It didn't work

[2019-04-06 07:39] agussaputrasijabat commented on #5787
Same issue with VS2019 Enterprise on Windows.

[2019-04-06 11:09] kvpt commented on #5813
Ok, thank you.
So it's mean that it is another issue.
I recently worked in this area of the framework to fix similar bugs.
I will make some tests to try to understand the issue.

[2019-04-06 11:36] PenguinPero commented on #5778
[ListViewBug.zip](https://github.com/xamarin/Xamarin.Forms/files/3050414/ListViewBug.zip)
For me it is still failing when stripping out Prism, I attached the new repro project

I suppose this has something to do with INotifyPropertyChanged notification of item and CollectionChanged notifications from collection (maybe if sent from background thread xamarin will internally try to switch these opera

[2019-04-06 14:07] acupajoe opened #5830 "[Enhancement] EntryCellTableViewCell should be public"
## Summary
I'd like to be able to access the `TextView` from within the `EntryCellRenderer` but it is currently inaccessible due to its protection level.

Currently access is only available via a hack `UITextField textField = (UITextField)cell.ContentView.Subviews [0];` as demonstrated [here](https://stackoverflow.com/a/27436813/3629438).

## API Changes

Change `class EntryCellTableViewCell : Cel

[2019-04-06 14:39] kvpt commented on #5813
I don't reproduce the issue with your sample on an emulator.
For me the activity is only destroyed when using the left arrow button and no crash occur on the new activity after that.

You discribe that the issue only happen the first time and I see that you use the permission plugin.
I think it's related because the permission can cause a new activity to be created and after accepting the permissi

[2019-04-06 14:57] WinBase commented on #4921
Hi Samantha

I will try build a complete sample project from scratch time permitting to prove the problem to you, but I’m a little snowed under ATM with fee paying work lol

Thanks Anyway

Bob

From: Samantha Houts [mailto:notifications@github.com]
Sent: 05 April 2019 21:11
To: xamarin/Xamarin.Forms
Cc: WinBase; Mention
Subject: Re: [xamarin/Xamarin.Forms] [Feedback] Xamarin Forms - Style does not

[2019-04-06 15:54] mrlacey commented on #4879
I'm looking at this.
It appears to be an issue with applying the padding to the image, rather than the button it is contained within.

[2019-04-06 17:02] davidortinau opened #5831 "[iOS] Layout and Styling Issues when reloading page"
### Description

Item from `CollectionView` is left over or out of place. Title styling is lost.

https://www.screencast.com/t/zB074v71xe

![2019-04-06_11-54-00](https://user-images.githubusercontent.com/41873/55672640-fca19d00-5862-11e9-9212-15c4f80399d9.png)

Android doesn't exhibit these problems, but the scrolling is very choppy and slow on the emulator, even after the images are all loaded.

[2019-04-06 22:29] stfnilsson commented on #5825
I have struggle to implement this in the Shell, managed in iOS but not yet in Droid. I’m using SkiaSharp. ChasakisD: Can you please share the code for the RaisedCenterView?

[2019-04-06 23:04] Sebastian1989101 commented on #5828
@PureWeen Sorry for the late answer, this is the current *.csproj file: https://pastebin.com/f6TxWwGk