[2022-01-06 14:42] Stratosf commented on #5973
@mputnick It does not solve the problem I think because OnTouchEvent does not trigger when IsGestureEnabled="False" and hamburger is tapped. Thanks for the reply

[2022-01-06 14:49] MaxFelinger opened #15029 "[Bug] App.xaml: Value cannot be null. Parameter name: method"
### Description
We just updated an existing project from Xamarin.Forms 4.8.0.1687 to Xamarin.Forms 5.0.0.1931. Our project sets CopyLocalLockFileAssemblies  to true.

### Steps to Reproduce

1.  Create a project with Xamarin.Forms 4.8.
2. Update to Xamarin.Forms 5.0.0.1931
3. Build the application.

### Expected Behavior
Build succeeded.

### Actual Behavior
Exception gets thrown: App.xaml: Value

[2022-01-06 15:32] killer-frog commented on #14905
I had this issue and found that I had some old mtouch arguments (`--interpreter --optimize=experimental-xforms-product-type`) still.  Removed these and it worked fine.

[2022-01-06 15:34] jfversluis commented on #14905
Oh that is great information, thank you!

[2022-01-06 15:39] activa commented on #14986
I installed XCode 13.2.1 and tried again but the issue remains. I do have Xamarin.iOS 15.4.0.0 though (which I think is the latest stable)

[2022-01-06 15:41] bcaceiro commented on #14938
Is this issue closed? Because I'm getting this problem in v5.0.0.2291

[2022-01-06 15:42] greg84 commented on #15013
This is not a Xamarin issue. I was able to reproduce the issue on the device I purchased.

I had to use a `drawable-xxhdpi` folder for an image that was being displayed. Originally the image was in the `drawable` folder and Android was trying to scale it up by a ridiculous amount.

Thanks for your help on this @jfversluis.

[2022-01-06 15:52] jfversluis commented on #14975
Thanks @Lizcq11 !

Because of changes in the iOS APIs you now need to set things through the appearance API.

Change it to this in your renderer:

[code]

![image](https://user-images.githubusercontent.com/939291/148410593-473b5e23-dea6-4dcf-ac6f-8d6e8a7eba31.png)

Closing this as this should fix it. Ping me if you still have issues with it :)

[2022-01-06 15:52] #14975 closed

[2022-01-06 15:56] jfversluis commented on #14938
This is not closed, still looking into it, any help is appreciated

[2022-01-06 16:20] jasonboyda commented on #14897
I must be missing something. I've upgraded to XF 5.0.0.2291 which should have resolved this issue, however regardless where the SwipeView is located in the UI (i.e. inside a ScrollView or as the parent), I am still seeing the bug of the IsSwipePageEnabled being re-enabled.

[2022-01-06 19:10] jfversluis commented on #15013
Oh man! That could've been a hard one to discover! Glad you figured it out!

[2022-01-06 19:23] anpin commented on #3177
hello everyone, I'm wondering if something had changed and DynamicObjects are actually working on iOS now since they are mentioned in the [Xamarin.iOS documentation](https://docs.microsoft.com/en-us/dotnet/api/system.dynamic.dynamicobject?view=xamarinios-10.8)?

[2022-01-06 19:38] jasonboyda commented on #14897
@jfversluis I was not able to test prior to downloading the newest update to XF. Here is a sample repo which illustrates the problem on Android: https://github.com/jasonboyda/XF5-SwipeViewBugSample. I tried mimicking how it is used in my application. Hope this helps.

[2022-01-06 19:49] sady4850 commented on #14986
I have latest xCode, Xamarin.iOS, Xamarin.MacOS and it crashes in both macOS and iOS.
[code]

[2022-01-06 20:09] toddanglin commented on #14505
Thanks. As a follow-up for others that find this thread, I believe my previous test was not using the latest XF release for the iOS project (only the shared XF common project). After upgrading the iOS project to XF 5.0.0-sr8, the Shell TabBar colors worked without requiring a workaround on an iPad running iOS 15 (device and simulator).

So if you're new to XF (like me), make sure ALL of your XF pr

[2022-01-07 00:20] greg84 opened #15030 "[Bug] [Android] [Shell] Crash with "Fragment already added: ShellContentFragment""
### Description

I've seen three reports from app in production on Android devices in the last two weeks with the following error:

`java.lang.IllegalStateException: Fragment already added: ShellContentFragment`

It seems this occurs when an attempt is made to add a fragment to a view more than once. The Android documentation (https://developer.android.com/guide/fragments/create) suggests only add

[2022-01-07 09:42] bondarenkod commented on #14429
Hi @Tommigun1980,
The CV is broken not only for you. I've tried to use CV in the project, but after a while I quickly abandoned this idea due to the same/similar issues.

[2022-01-07 09:50] AlleSchonWeg commented on #14897
@jasonboyda
You are using XF 5.0.0 Service Release 3 in your android project.
`
<PackageReference Include="Xamarin.Forms" Version="5.0.0.2012" />`

Fix is in SR 7 and above.

[2022-01-07 10:35] stephanpalmer commented on #8041
Hi @jfversluis, correct me if I'm wrong, but I think the original bug report is not addressed. The original bug report is related to the non-shell SearchBar view. Unless I'm mistaken, fix #13804 is Shell specific and does not apply to the non-shell SearchBar view (the change class `SearchHandlerAppearanceTracker` is not used in `SearchBarRenderer`).

To my understanding, the original bug report is

[2022-01-07 11:21] udde commented on #14232
Any news on this? I have the same behaviour

[2022-01-07 11:50] jfversluis commented on #15029
Is there any specific reason you have `CopyLocalLockFileAssemblies` in there? If not, I guess the solution would be to just get rid of it? This is not something that is in the default Xamarin.Forms templates.

I doubt that this is something that is an issue with Xamarin.Forms at this point else we would've seen this issue much earlier and more often. It would really help if you could get an actual

[2022-01-07 11:52] jfversluis commented on #14986
Interesting. @dalexsoto or maybe even @rachelkang does this sound familiar to you from recent history?

I definitely saw this crashing last month, but when I try to reproduce now (without the fix on our side) I'm not able to.

[2022-01-07 11:53] jfversluis commented on #14897
Probably what @AlleSchonWeg mentioned then :)

[2022-01-07 12:33] JFMG commented on #11261
Tested with XF 5.0.0.1931. I can still reproduce this issue.

[2022-01-07 14:04] dalexsoto commented on #14986
@jfversluis that doesn’t sound familiar, that said Xcode 13.2 had a lot of native API breaking changes which means that they were doing some cleanup so probably this is hitting something they “fixed”. Now about you not being able to repro, I would just triple check which version of Xcode you have selected in both xcode-select and VS so they match on 13.2 🙂

[2022-01-07 14:06] activa commented on #14986
@jfversluis It may not be related to the Xcode version at all. A colleague of mine saw this bug after upgrading Visual Studio on the Mac to the latest version. Maybe Xamarin.iOS version 15.4.0.0 is the culprit

[2022-01-07 14:08] jfversluis commented on #14986
@dalexsoto yeah in line with what @activa is saying; the people reporting this and me seem to use the same Xcode version, the only difference is the Xamarin.iOS version at this point. When is a new Xamarin.iOS (public) update planned?Or maybe in the meantime I should try and see if I can downgrade mine to see if I suddenly start seeing it again

[2022-01-07 14:15] jfversluis commented on #14938
Thanks everyone for your patience! Like I already said; this has to do with Apple changing up some iOS APIs here. I've been playing with this and while there is multiple ways to fix this, they're all not great. "Not great" meaning in this case that you will need to change code in your app for every scenario that I can come up with and for some of the scenarios that I came across we need to change

[2022-01-07 14:48] jasonboyda commented on #14897
@AlleSchonWeg Good catch. Looks like when I upgraded through the Nuget Package Manager it only updated my Shared project reference. Thanks for everyone's help!

[2022-01-07 14:52] sady4850 commented on #14986
@jfversluis Did you try to repro it with Xamarin.iOS version 15.4.0.0? I'm asking because previously you said that you have 15.2.0.17 version

[2022-01-07 15:23] activa commented on #14986
My colleague's setup is Xcode 13.1 (iOS SDK 15.0) with Xamarin.iOS 15.4.0.0. The bug is 100% reproducible with that setup.
My setup is the same except I'm using Xcode 13.2 (iOS SDK 15.2). Bug is also reproducible. When I upgraded to Xcode 13.2 I also updated Xamarin at the same time so that could be why we initially thought it was caused by Xcode 13.2 instead of Xamarin.iOS 15.4.0.0

[2022-01-07 15:55] 808multimedia commented on #5132
Hi

Unfortunately no. But we are just now working with a vendor who is doing
an accessibility review of our app. I'll see from their assessment how
big of an issue this actually is. If it is, I'll bring focus back to
trying to find a solution.

Thanks!

On 1/6/2022 8:37 AM, Muthukumaradappt wrote:

--
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivi

[2022-01-07 16:15] Lizcq11 commented on #14975
Thank you so much for your help @jfversluis everything works fine!

[2022-01-07 16:17] jfversluis commented on #14975
Glad to hear it!

[2022-01-07 17:01] NPadrutt commented on #14938
@jfversluis  thanks for your investigation and the workaround. So far it does work as expected. A bit unfortunate is that it also override all styles. So it seems that those have to be set in the custom renderer manually again I presume?

[2022-01-07 17:28] thankyou1230 commented on #12048
Hi sir, I'm now facing this problem too. I uploaded a video and image to Azure Storage, then i can't show them in MediaElement and Image too.
Could you show how to change the x-ms-version. I really don't know where is it
Thanks alots

[2022-01-07 17:57] greg84 commented on #15012
Closing this as I've been unable to reproduce it. Will continue trying and open a new issue if necessary.

[2022-01-07 20:01] rachelkang commented on #12516
Upon further investigation, we have learned much more about the `LabeledBy` API as tracked in https://github.com/dotnet/maui/issues/845. On Android and Windows, we've found there is little to no difference between the behavior of `LabeledBy` and `AutomationProperties.Name` (or `SemanticProperties.Description`) and this API had no iOS implementation to begin with because there is no platform equiva

[2022-01-07 20:01] #12516 closed

[2022-01-07 20:25] rachelkang commented on #14851
Hi, @HarshalCapgemini - would you mind elaborating on what behavior you're expecting? As [mentioned ](https://github.com/xamarin/Xamarin.Forms/issues/9999#issuecomment-964393510)in the referenced issue, if you're looking to force the focus somewhere, you can use the new `SetSemanticFocus` method from the XamarinCommunityToolkit.

If you haven't already, I also recommend updating to the latest vers

[2022-01-07 20:25] #14851 closed

[2022-01-07 20:54] PureWeen commented on #4085
This is currently fixed on .NET MAUI

With Regards to Xamarin.Forms
If you haven't already, I also recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on the latest

[2022-01-07 20:54] #4085 closed

[2022-01-07 20:57] PureWeen commented on #4090
Moved to https://github.com/dotnet/maui/issues/3995

[2022-01-07 20:57] #4090 closed

[2022-01-07 21:03] PureWeen commented on #4556
If you haven't already, I also recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on the latest versions of Xamarin Forms, the following code can be inserted in the

[2022-01-07 21:03] #4556 closed

[2022-01-07 21:12] sk1llsh0t opened #15032 "Net Standard 2.1 and TLS 1.3 support"
I have a NetStandard 2.1 Xamarin Forms project (5.0.0.2291). I'm trying to use an sslstream with TLS 1.3. Looking at System.Security.Authentication.SslProtocols, there is no value for TLS13. It appears in the documentation TLS 1.3 should be available for NetStandard 2.1 but i don't see it in the actually library enum. TLS12 works fine but I am needing to move to TLS13.

Will TLS13 be made availabl

[2022-01-07 21:13] rachelkang commented on #13796
Hi, @jeyakasipandi - in order to achieve the before you want, you may be able to leverage the all-new [SemanticOrderView ](https://github.com/xamarin/XamarinCommunityToolkit/pull/1240)from Xamarin Community Toolkit or even use different layouts (i.e. Grid) to layer the controls.

If you haven't already, I also recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.

[2022-01-07 21:15] PureWeen commented on #6955
I tested this on .NET MAUI and XF and it appears to be fixed

If you haven't already, I also recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on the latest versio

[2022-01-07 21:15] #6955 closed

[2022-01-07 21:18] PureWeen commented on #7568
For this issue please try

https://github.com/xamarin/XamarinCommunityToolkit/issues/1087

[2022-01-07 21:18] #7568 closed

[2022-01-07 21:22] PureWeen commented on #7649
https://github.com/dotnet/maui/issues/3996

[2022-01-07 21:22] #7649 closed

[2022-01-07 21:24] PureWeen commented on #8805
https://github.com/dotnet/maui/issues/3997

[2022-01-07 21:24] #8805 closed

[2022-01-07 21:24] rachelkang commented on #13196
Hi, @ahodder-charter! If you haven't already, I recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on the latest versions of Xamarin Forms, the following code can b

[2022-01-07 21:30] PureWeen commented on #7873
https://github.com/dotnet/maui/issues/3998

[2022-01-07 21:30] #7873 closed

[2022-01-07 21:35] PureWeen commented on #9090
If you haven't already, I also recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on the latest versions of Xamarin Forms, the following code can be inserted in the

[2022-01-07 21:35] #9090 closed

[2022-01-07 21:35] rachelkang commented on #13695
Hi, @jantanis - it looks like this issue is no longer in the latest version of XF!

If you haven't already, I recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on

[2022-01-07 21:35] #13695 closed

[2022-01-07 21:39] PureWeen commented on #9321
Please try SemanticEffect on the XCT https://github.com/xamarin/XamarinCommunityToolkit/pull/1240

The behavior of `SemanticEffect` is much more accurate

[2022-01-07 21:39] #9321 closed

[2022-01-07 21:40] PureWeen commented on #9421
https://github.com/xamarin/Xamarin.Forms/issues/7649

[2022-01-07 21:40] #9421 closed

[2022-01-07 21:42] PureWeen commented on #9441
This will most likely not be accepted for Xamarin.Forms but the .NET MAUI architecture makes this a lot simpler

https://docs.microsoft.com/en-us/dotnet/maui/user-interface/handlers/customize

[2022-01-07 21:42] #9441 closed

[2022-01-07 21:45] PureWeen commented on #9707
Please try SemanticEffect on the XCT https://github.com/xamarin/XamarinCommunityToolkit/pull/1240

The behavior of `SemanticEffect` is much more accurate

[2022-01-07 21:45] #9707 closed

[2022-01-07 21:47] PureWeen commented on #9832
My apologies @Sigve84 but this is going to be out of scope for us to fix on XF

If you haven't already, I also recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on

[2022-01-07 21:47] #9832 closed

[2022-01-07 21:49] PureWeen commented on #9991
FYI this has been fixed on .NET MAUI

https://github.com/dotnet/maui/pull/1884

[2022-01-07 21:52] PureWeen commented on #10069
https://github.com/dotnet/maui/issues/3999

[2022-01-07 21:52] #10069 closed

[2022-01-07 21:57] rachelkang commented on #12631
Hi all! If you haven't already, I recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility and corrects behavior like the ones described in this issue.

To leverage this flag on the latest versi

[2022-01-07 21:57] #12631 closed

[2022-01-07 22:05] rachelkang commented on #12456
Hi, @johnshardman - as elaborated in https://github.com/dotnet/maui/issues/1646 and https://devblogs.microsoft.com/xamarin/the-journey-to-accessible-apps-meaningful-content-ordering/, we no longer advise that TabIndex be used. Unfortunately, the property was long misunderstood and misused, and interfered with the accessibility of other controls as you've experienced with this issue.

Ideally, your

[2022-01-07 22:05] #12456 closed

[2022-01-07 22:07] PureWeen commented on #10720
This appears to be working inside .NET MAUI

I would recommend trying SemanticEffect's inside XCT
https://github.com/xamarin/XamarinCommunityToolkit/pull/1240

[2022-01-07 22:07] rachelkang commented on #12842
Hi, @johnshardman - thanks for the proposal and for helping shed light on this issue! In investigating various options for making font sizes more accessible, particularly on iOS, we have decided to make all fonts [autoscale by default in .NET MAUI](https://github.com/dotnet/maui/pull/1774) and included a `FontAutoScalingEnabled` property that developers can use to disable the autoscaling as well.

[2022-01-07 22:07] #12842 closed

[2022-01-07 22:21] rachelkang commented on #12433
Hi, @johnshardman - I'm closing this issue for the same reason I commented on your other issue at https://github.com/xamarin/Xamarin.Forms/issues/12456#issuecomment-1007773528

We no longer advise that TabIndex be used and hope you will have better results with using [SemanticOrderView ](https://github.com/xamarin/XamarinCommunityToolkit/pull/1240) from the XamarinCommunityToolkit, which has alrea

[2022-01-07 22:21] #12433 closed

[2022-01-07 22:28] rachelkang commented on #12283
Hi everyone - If you haven't already, I recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on the latest versions of Xamarin Forms, the following code can be insert

[2022-01-07 22:35] rachelkang commented on #12195
Hi, @KlaasTroost - I believe this issue has since been fixed!

If you haven't already, I recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility.

To leverage this flag on the latest versions o

[2022-01-07 22:35] #12195 closed

[2022-01-07 22:38] rachelkang commented on #11458
Hi, @JohnHDev - as elaborated in https://github.com/dotnet/maui/issues/1646 and https://devblogs.microsoft.com/xamarin/the-journey-to-accessible-apps-meaningful-content-ordering/, we no longer advise that TabIndex be used. Unfortunately, the property was long misunderstood and misused.

Ideally, your app should not manipulate content ordering whatsoever - should you really need to, however, we rec

[2022-01-07 22:38] #11458 closed

[2022-01-07 22:44] rachelkang commented on #11047
Hi, @rwaldenfraedom  - if you're still having issues, I recommend checking out the [`SemanticInclusion`](https://github.com/xamarin/XamarinCommunityToolkit/blob/000acd0f81ac65772b72d06de71ac763465d959b/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticInclusion.shared.cs#L5-L11) property from XamarinCommunityToolkit as this may prove to be a better alternative for your use cas

[2022-01-07 22:44] #11047 closed

[2022-01-07 22:55] rachelkang commented on #13694
Hi all! If you haven't already, I recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility, including this one.

To leverage this flag on the latest versions of Xamarin Forms, the following code

[2022-01-07 22:55] #13694 closed

[2022-01-07 23:05] rachelkang commented on #12252
Hi all, this issue has since been fixed!

If you haven't already, I recommend updating to the latest version Xamarin.Forms or at least to Xamarin.Forms 5.0.0.2083, which has many accessibility improvements. These improvements include an experimental accessibility flag that addresses a lot of improvements in Android accessibility, and other areas like this iOS CollectionView one as well.

To levera

[2022-01-07 23:05] #12252 closed

[2022-01-08 03:40] JLunda opened #15034 "[Bug] IHttpClientFactory does not respect AndroidClientHandler or Android TLS/SSL"
### Description

I am trying to use dependency injection and the recommended practice of `IHttpClientFactory` instead of a concrete `HttpClient`. However, making these changes causes the `AndroidClientHandler` not to be respected for SSL connections. When using a concrete type of `HttpClient`, the SSL connection is successful. When using `IHttpClientFactory.CreateClient().GetAsync()`, an exception

[2022-01-08 07:12] phandcock commented on #11075
While I wait, as a workaround, I have restricted the search to a single class (not subclasses) as this works for my application.  Unfortunately my lack of programming skills and time stop me looking at this in detail.

[2022-01-08 11:09] zeelancer commented on #12562
I am facing the same issue, Picker ItemDisplayBinding is not working with MultiBinding

[2022-01-08 14:41] NGame1 commented on #6107
Still present even in 5.0 😐😑
I don't know even is it present in WinUI projects too or no 😑

[2022-01-08 16:47] Luminisc commented on #7256
+1
Why is it still not configurable?

[2022-01-08 18:52] haavamoa commented on #8718
This seems interesting:
https://github.com/levitali/CompiledBindings/issues/4

[2022-01-08 23:01] BicycleMark opened #15035 "[Bug] - iOS Xamarin Forms Default 'Tabbed App' not showing Tabs"
### Description
Source available here:
https://mark-d-wardell.visualstudio.com/PingApp/_git/PingApp

### Steps to Reproduce (see step #4)

1. Create a Tabbed App with Xamarin Forms installed in to Visual Studio For Mac Community 8.10.16 Build 2
2. run on pixel 2 ASDK (30)
3. Observe Tabs at Bottom of Page (correctly shows aBout Tab and Browse Tab)
![image](https://user-images.githubusercontent.com

[2022-01-09 14:21] tonyhallett opened #15036 "[Bug] AppThemeBindingExtension code - ConvertTo will never be invoked"
https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e176d196e17/Xamarin.Forms.Xaml/MarkupExtensions/AppThemeBindingExtension.cs#L111

[code]

`!=null` should be replaced with `==null`

[2022-01-09 16:00] tonyhallett opened #15037 "[Bug] AppThemeBindingExtension does not work in a MultiBinding"
### Description

AppThemeBindingExtension does not work in a MultiBinding as conversion code needs the property type ( and targetObject is the MultiBinding, targetProperty isnull ) - https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e176d196e17/Xamarin.Forms.Xaml/MarkupExtensions/AppThemeBindingExtension.cs#L67

### Steps to Reproduce

`
<Label.TextColor>

[2022-01-09 16:25] Novan123 commented on #8694
A small hint: I had the same problem with a Entry-Textbox where the user could enter a filter string.
The exception had the issue, that the Entry has in its default autocorrection enable with IsTextPredictionEnabled.
If you set this property to false then everything works fine. The list was filtered as expected but shortly afterwards not yet visible in the gut the auto correction changes the enter

[2022-01-09 19:17] HandiVision commented on #12428
Hi, same problem here, some of my shell flyout items visibility are toggled by user status (logged in or not). When an item goes invisible it becomes impossible to navigate to modal pages on iOS. (Using Xamarin.Forms 5.0.0.2291)

[2022-01-10 04:07] Bosch-Eli-Black commented on #14829
@jfversluis I think that perhaps a main issue is that .NET 6 has been released, but MAUI isn't yet ready (Microsoft's documentation encourages people not to use MAUI for production apps).

This means that when writing a generic (non-Forms) NuGet package, we need to choose between having the package target one of these options:

* .NET 5 (EOL in May)
* .NET 6 (Xamarin users won't be able to use the

[2022-01-10 05:31] saiganesh-sakthivel opened #15038 "[Bug] Java.Lang.NullPointerException: 'Attempt to invoke virtual method 'boolean android.view.View.isLayoutDirectionInherited()' on a null object reference'"
### Description
Hi team,

we have facing the same kind of issue, in the OnMeasure Method

Java.Lang.NullPointerException: 'Attempt to invoke virtual method 'boolean android.view.View.isLayoutDirectionInherited()' on a null object reference'

call stack
Unhandled exception - Java.Lang.NullPointerException: Attempt to read from field 'int android.view.View.mViewFlags' on a null object reference

---

[2022-01-10 06:34] jsuarezruiz commented on #15038
Could you attach a small sample where reproduce the issue?

[2022-01-10 08:03] jfversluis commented on #14829
@Bosch-Eli-Black thanks for your input! I understand the situation, however I don't think it changes much in terms of a solution. That one NuGet will then be compatible, a lot of others won't be. That means that there is a good chance that effectively you still won't be able to use a Xamarin.Forms app because one or more of your dependencies isn't available for .NET 6 Forms.

Which is always the c

[2022-01-10 08:11] Bosch-Eli-Black commented on #14829
@jfversluis Thanks for the reply 🙂

I'm not sure I'm understanding this sentence:

I thought that NuGet packages used in Xamarin apps were targeted to .NET Standard 2.0, which could be consumed by .NET Framework, .NET Core, and .NET 6 apps.

Thanks! 🙂  I'm coming at this from the perspective of a NuGet package author, so I'm a bit unfamiliar with how Xamarin works in this regard.

[2022-01-10 08:28] jfversluis commented on #14829
All NuGet library maintainers will have to recompile their libraries to make it .NET 6 compatible as well. And I'm fairly sure that there are libraries out there that still work, but are no longer maintained and/or libraries that will port straight to .NET MAUI and not bother with a .NET 6 version of Xamarin.Forms. For libraries I see a couple of possible reasons for not wanting this:

* We don't

[2022-01-10 08:43] Bosch-Eli-Black commented on #14829
@jfversluis Ah, I think I understand! 🙂  You're saying that NuGet packages that target .NET 6 and don't use Xamarin.Forms code (such as our NuGet package) would not need to be recompiled for a (theoretical) .NET 6 Xamarin.Forms, but any NuGet packages that included Xamarin.Forms code would need to be recompiled for .NET 6 Xamarin Forms. Did I get that right? 🙂

[2022-01-10 08:52] jfversluis commented on #14829
I think that sums it up nicely!

[2022-01-10 09:33] EeeDotZee commented on #14986
Just to confirm I'm having the exact same issue, but only when i try to deploy my app to a simulator that didn't have the app installed before.
I got everything up to date (xcode, VS, xamarin libraries, xamarin forms, etc.)

[2022-01-10 10:28] jsuarezruiz commented on #15036
Could you share a sample where reproduce the issue and validate it?

[2022-01-10 10:47] m1dst commented on #14986
Tested against XF 5.0.0.7954 and confirm it still doesn't work.  I am using XC '13.2.1' and Xamarin.iOS '15.2.0.17'

[2022-01-10 11:04] #14986 closed

[2022-01-10 11:04] jsuarezruiz commented on #14986
The fix https://github.com/xamarin/Xamarin.Forms/pull/14993 will be included in the next SR.

[2022-01-10 11:11] bigDave1357 commented on #14924
Any progress on this? I have a watch app that's deployable to real hardware but will not deploy via simulator. Exactly the same symptoms as above.

[2022-01-10 11:32] #15026 closed

[2022-01-10 11:44] AbhijeetChowdhury92 commented on #14939
Hi @jfversluis,
Any hotfix on this?

[2022-01-10 12:59] ShinichiHezemansCortegs opened #15039 "[Bug] ProgressBar documentation missing in metadata and microsoft docs"
### Description
Xamarin.Fomrs.ProgressBar has missing documentation for methodes such as ProgressTo.
### Steps to Reproduce
in visual studio
hover over Xamarin.Forms.ProgressBar
press f12 or go to defenition
look at the descriptions of the parameter for a method

### Expected Behavior
there is a description of what a parameter does

### Actual Behavior
the text "To be added."

### Basic Informatio

[2022-01-10 13:11] Muthukumaradappt opened #15040 "[Bug] I could not able to set Automation Properties for FlyoutIcon"
### Description

I could not able to set Automation Properties for FlyoutIcon It's throwing an error.

            FlyoutIcon.AutomationId ="Test";
             FlyoutIcon.SetValue(AutomationProperties.NameProperty, "Test");
            FlyoutIcon.SetValue(AutomationProperties.NameProperty, "Test");

Please Let me know if any alternative solution to this

- Version with issue:  On Xamarin forms 5.

[2022-01-10 13:31] rsultan2021 opened #15041 "#Spinner"
###I'm beginner in Xamarin android , I want to fill spinner  from  database (such as fill Combox ###in Csharp  from data table).
###Can please help me?
![searchLayout](https://user-images.githubusercontent.com/95768290/148774006-d019352d-3adb-40c5-8f8b-00c843e03507.JPG)

[2022-01-10 14:08] jfversluis commented on #14986
@m1dst SR9 will be released next week (if all goes well) and since the PR to fix this issue is now merged that SR should have the fix for this issue but is not released.

To verify that my fix is working correctly I am asking people to test a specific NuGet that results from a CI build. Those versions should only be used for testing that specific fix. I see you mention 7954, while the version that

[2022-01-10 14:10] jfversluis commented on #14939
As long as there is no movement here we're still working on it. You are welcome to find the cause and help us out if this is important to you. Thanks for your patience!

[2022-01-10 14:36] jfversluis commented on #15041
Hey @rsultan2021 welcome to Xamarin.Forms! I'm happy you found your way to our product and started working with it. However, the issues is not the right place to ask. Issues are meant to be about (potential) bugs in our product, not as a Q&A or how-to. You probably want to try the Discussions tab, Microsoft Tech Community forums or Stack Overflow.

I do think that most people would appreciate some

[2022-01-10 14:36] #15041 closed

[2022-01-10 15:19] activa commented on #15026
@jfversluis How can this be fixed by PR #14993? This issue is for MacOS but the PR only changes the iOS code

[2022-01-10 15:35] activa commented on #15026
@jfversluis Right, just figured that out as well.
Thanks, learned something new today :-)

[2022-01-10 15:57] m1dst commented on #14986
@jfversluis Thanks for confirming.  I didn't realise the issue was pinned to that version.  Switching back a few versions to 7924 things start working again.  Nice one!

[2022-01-10 16:14] iBobb commented on #9227
I have this issue on Xamarin.Forms 5.0.0.2012 too

[2022-01-10 16:42] tonyhallett commented on #15036
@jsuarezruiz

An example really isn't necessary.

`Exception converterException = null;`

converterException is null

Given converterException is null how is binding.Light going to be set ?
`if (converterException != null && _haslight)
  binding.Light = Light.ConvertTo(propertyType, minforetriever, serviceProvider, out converterException);`

and so on.

This is not something that can be easily dem

[2022-01-10 16:50] brett-estabrook commented on #15006
Thought I'd link to the stackoverflow where this started: https://stackoverflow.com/questions/70423989/xamarin-ios-large-tittle-scroll-velocity-snapping-issue

[2022-01-10 17:56] vsfeedback opened #15042 "Xamarin HotRestart fails to respond to collectionview's item tapped event"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-HotRestart-fails-to-respond-to-c/1625308)._

---
[severity:It's more difficult to complete my work]
Xamarin HotRestart fails to to respond to collectionview's item tapped event.

Visual Studio Community 2022, Version 17.0.4
WIndows 10 20H2
Dell XPS desktop
IPad using IOS 15.2

I

[2022-01-10 17:57] vsfeedback opened #15043 "Annoying flicker when using shell flyout (master-details) to navigate to another page"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Annoying-flicker-when-using-shell-flyout/1594433)._

---
Annoying flicker when using shell flyout (master-details) to navigate to another page
You can notice this behavior with simple new project with master-details template in visual studio

---
### Original Comments

#### Feedback Bot

[2022-01-10 18:04] vsfeedback opened #15044 "objectdisposedexception Xamarin.Forms.Platform.Android.RefreshViewRenderer"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/objectdisposedexception-XamarinFormsPl/1593234)._

---
[severity:I'm unable to use this version]
I'm developing an Xamarin Forms app for iOS and Android.
Using:
- VS 2022 version 17.0.1
- Xamarin.Forms 5.0.0.2244

Is this a bug (as I've seen this error and fixes for other types of Xamari

[2022-01-10 18:43] rachelkang commented on #12889
This issue was moved to dotnet/maui#4032

[2022-01-10 18:43] #12889 closed

[2022-01-10 18:47] jfversluis commented on #15006
Thanks for all the input here! I think it's clear what the problem is. I'll be very honest though, I'm not sure how high this ranks in terms of priority. But I'll see if I can give it a few minutes of my time and if there is an easy fix to this.

[2022-01-10 19:16] jfversluis commented on #14938
Yeah I would be recommended to then add all the styling that you had before also in there now. Unless you were using styles in Xamarin.Forms, that should still work?

[2022-01-10 21:33] ivanrlg commented on #8422
Hello, I have the same problem, any workaround?

[2022-01-10 22:12] ivanrlg commented on #8327
Hello, I have the same problem with the last version of Xamarin, any workaround?

[2022-01-11 00:02] udde commented on #14232
@tuxmainy did you get anywhere with this?

[2022-01-11 02:57] Bosch-Eli-Black commented on #14829
Okay, thanks, that makes sense! 🙂

[2022-01-11 05:30] Choza-rajan commented on #3784
Can you please check and update the details?

[2022-01-11 06:51] holecekp commented on #14918
This is really a horrible bug. I have spent almost an hour looking for a workaround. I have tried calling ForceLayout on various controls, which helped me a few times in the past with similar Xamarin.Forms bugs, but unfortunately it does not help for this one.

The only think that helps a little is to add a transparent control to the end of the StackLayout. If the height of this transparent contro

[2022-01-11 08:04] MichaelRumpler commented on #14232
It appears like Android does not change colors automatically when the theme changes. So you have to do it manually. @jamesmontemagno explained a workaround for the first problem I listed above in [this video](https://youtu.be/GKJRR8_DSSs?t=426).

I doubt that the `SwitchCell` in Xamarin.Forms will be fixed considering that MAUI is around the corner and most of the Forms team is already working on

[2022-01-11 10:09] udde commented on #14232
@MichaelRumpler Thanks for getting back to me on this one!

[2022-01-11 10:11] jfversluis commented on #14232
From what I remember implementing this is that Android indeed needs to recreate the activity in order to apply all the colors successfully. So I doubt if we are able to make the colors in your `colors.xml` work. I can look at the Forms specific stuff though :)

[2022-01-11 10:37] jfversluis commented on #15042
Looks like a duplicate of #14956

[2022-01-11 10:37] #15042 closed

[2022-01-11 10:39] jfversluis commented on #15039
Hey thanks for opening this! That is indeed a long standing problem we have with all of our controls. See for instance #7252

At this point we hope to get something done by backporting some of .NET MAUI, but not sure if we can do that for the time that remains for Forms. Sorry for the inconvience!

[2022-01-11 10:39] #15039 closed

[2022-01-11 10:40] jfversluis commented on #15035
The Xamarin.Forms NuGet on your iOS project isn't updated: https://mark-d-wardell.visualstudio.com/PingApp/_git/PingApp?path=/PingApp.iOS/PingApp.iOS.csproj&version=GBmaster&line=135&lineEnd=136&lineStartColumn=1&lineEndColumn=1&lineStyle=plain&_a=contents

Update that to the latest version and it should work :)

[2022-01-11 10:40] #15035 closed

[2022-01-11 11:38] tonyhallett commented on #15036
I would suggest a test be added to
https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms.Xaml.UnitTests/OnAppThemeTests.cs

that uses the MarkupExtensionParser and a mock IServiceProvider to test the ConvertTo paths - see https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e176d196e17/Xamarin.Forms.Xaml.UnitTests/MarkupExtensionTests.cs#L110 for how to proceed.

[2022-01-11 11:47] tonyhallett commented on #15037
Without the reflection but having to provide the BindableProperty for MultiBinding

[code]

[2022-01-11 12:39] dorincinipa commented on #10214
You can create your own [TimeOutHandler.cs](https://gist.github.com/dorincinipa/b7c41459c37c84d4f9f67c8fdbffea9b) as workaround.
Example:

[code]

[2022-01-11 12:41] jfversluis commented on #8041
@stephanpalmer interesting. I think you're totally right :)

What would be the right course of action here according to you?

It seems that iOS had an update and our controls followed along accordingly. From what I understand you would want to background to remain white, right? Or rather; the right color according to light/dark theme.

However others might see this as a UI change that comes with a

[2022-01-11 18:18] mattkanwisher commented on #14829
Upgrade assistant is beyond broken, and isn't even half written for Xamarin -> Maui upgrade. Its a joke there are all these videos, but there is barely any code for the Maui upgrade, and its broken on install.

[2022-01-11 18:31] Hackmodford commented on #8467
This also effects item templates. IMO This should measure once for each template.

[2022-01-11 18:42] jfversluis commented on #14829
@mattkanwisher sorry you feel that way, make sure to make your feedback known there. In all honesty, I don't know if I would use the Upgrade Assistant. Migration shouldn't be too hard and I am rather in control of all the steps myself anyway. But it's a tool that can definitely be useful to people.

[2022-01-11 20:36] AdamMarciniec commented on #12951
@StephaneDelcroix This is burning me as well.  My boss wants clients to be able to specify accent colors for both light and dark modes in our app and not being able to use DynamicResouces with AppThemeBinding means having to have two versions of every style that will need to be maintained. :(  Is it going to be like this in MAUI too?

[2022-01-12 00:01] vchelaru opened #15045 "[Bug] Label.FontSize is multiplicative by system font scale on Android, but absolute on iOS"
### Description

Setting a Label's FontSize has inconsistent results on iOS vs. Android when the user has changed the system-wide font scale (Font size on Android, Larger Text on iOS).

This can make creating shared code for layout very difficult if the app supports font scaling.

### Steps to Reproduce

[code]

1. Add the code to an empty page as shown above in a cross-platform project (ios and a

[2022-01-12 00:54] ymebrugts commented on #6095
Yes this is possible.

Example xaml:

[code]

Example code behind (although you should really do this with proper MVVM commands

[code]

The material font should be loaded into the app before. To start out I'd suggest making it a text button first saying "MENU" so that you can add the hamburger icon after it works.

[2022-01-12 08:53] GalaxiaGuy commented on #15045
The iOS font size should scale if you use any of the named sizes (including default).

I would love for this to be made an option for numeric sizes on iOS, but my guess would be the focus is on Maui.

I think it would be fairly straightforward to update the `ToUIFont` method which I think is used by all the iOS bits (but it would have to be behind a PlatformSpecific for compatibility):

https://gi

[2022-01-12 09:18] rudyspano commented on #8467
A solution for us was to NOT use Grouping behavior and define Header as other cells and different designs using DataTemplateSelector mechanism. You lose the iOS "folding behavior" but that was not a problem on our side.

[2022-01-12 09:49] #2588 closed

[2022-01-12 09:52] jfversluis commented on #2588
Don't think this whole issue was fixed with the linked PR here, but the trailing semicolon is now optional matching how css works so that should at least help some scenarios

[2022-01-12 09:53] jfversluis commented on #2587
Hey @dansiegel as always great stuff coming from you! Don't think we'll be adding this to Forms no more and not sure if something like this would make it into .NET MAUI. Seems like the traction on CSS has never been that big, but maybe I'm wrong :)

If it's still important to you, make sure to bring it up on the .NET MAUI repo. Thanks!

[2022-01-12 09:53] #2587 closed

[2022-01-12 12:09] nZeus opened #15046 "[Bug] warning MSB3277: Found conflicts between different versions of "System.Numerics.Vectors" that could not be resolved"
### Description
A few months ago we upgraded to the latest version of Xamarin.Forms, and since then we keep getting a warning `MSB3277: Found conflicts between different versions of "System.Numerics.Vectors" that could not be resolved`.

So far this seems to be a bug in Xamarin.Forms which, for some reason, references MonoAndroid v1.0:
![image](https://user-images.githubusercontent.com/2727326/149

[2022-01-12 12:16] #13291 closed

[2022-01-12 12:49] #14380 closed

[2022-01-12 12:58] restorepro commented on #2574
Yes, i am having this issue still while trying to access the mediaElement control by name in the code behind. It happens often for me with various control. I usually delete obj/bin folders and restart and the problem goes away but the mediaElement x:name doesn't want to work...

[2022-01-12 13:14] #11301 closed

[2022-01-12 13:51] jsuarezruiz commented on #15044
Could we get more information or a small sample where reproduce the issue?

[2022-01-12 14:34] jfversluis commented on #14657
This can be closed for now: https://github.com/xamarin/Xamarin.Forms/pull/14717#issuecomment-1011104514

[2022-01-12 14:34] #14657 closed

[2022-01-12 16:59] AdamMarciniec commented on #6421
Just ran into this shortcoming.  So our app has 2 accent colors used here and there throughout the app.  I have to allow customers to pick 2 light mode and 2 dark mode accent colors.  Since they are dynamic I can't use AppThemeBinding and instead have to create a light Style and a dark Style for every element in our app that uses accent colors.  Not ideal but ok. We have a bunch of icons that use

[2022-01-12 19:24] tonyhallett commented on #8606
Change https://github.com/xamarin/Xamarin.Forms/blob/b411491f236c3bf68fe1a07575f3059fb65990ba/Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs#L45

to `var x = (float)layout.DrawBounds.X - 1;`

This resolves issue although I think for UWP it may be better to just use a TextBlock.  Renderers affected by https://github.com/xamarin/Xamarin.Forms/issues/8293 and https://github.com/xamarin/Xamarin.

[2022-01-12 22:05] iupchris10 opened #15048 "[Bug] iOS only - ToolbarItem color displays incorrectly when using FontImageSource for IconImageSource"
### Description

The color of a ToolbarItem displays incorrectly when the IconImageSource is a FontImageSource and the Color property is set to #000000 (for dark mode) or #ffffff (for light mode). ANY other color displays correctly.

### Steps to Reproduce

1. Create a ContentPage within a NavigationPage
2. Add a ToolbarItem to the page, using FontImageSource for the icon.
3. Set the Color to "Bla

[2022-01-13 00:15] Strifex opened #15049 "[Bug] [Android] CollectionView leaks GREF when items are removed"
### Description

When removing items from an ObservableCollection that is bound to a CollectionView - there is a significant leak of references on the Android platform.  This can be observed by an ever-increasing GREF count as items are removed from the colleciton.  This GREF count persists even through Full GCs and eventually will result in the app freezing due to hitting the GREF limit and being

[2022-01-13 02:32] aodegov commented on #5755
It's still happening.
Only not on Android emulators, but on real Android devices.
Once you pressed on shell menu Item you'll see the flickering

[2022-01-13 10:59] daves1992 opened #15050 "[Bug] IOS 15.2 ConnectFailure (Network is unreachable) SOAP Webservices"
We have recently been having complaints from our customers that since upgrading to IOS 15.2 users are unable to use our apps with the error:
ConnectFailure (Network is unreachable)

This happens when the device tries to communicate with our webservices. Which are SOAP based.

This only happens when the user is connected to a Mobile Network. If the user turns on WIFI it works fine.

We have a deliv

[2022-01-13 11:52] Paul-N commented on #13378
It is not fixed in latest release (5.0.0.2291). Check out demo here: https://github.com/Paul-N/LinearGradientBrushBugDemo Please reopen

[2022-01-13 14:06] negberts commented on #14819
We have the same issue and would appreciate a solution :-)

[2022-01-13 16:08] ezesil commented on #12584
The same behaviour occurs when setting (in app.xaml.cs's constructor):

`Application.Current.UserAppTheme = OSAppTheme.Light; // Or Dark

It works properly if left Unspecified and your XAML reacts to OS changes, but this doesn't allow changing theme manually.

[2022-01-13 18:12] tonyhallett commented on #8293
After trying the following.

Creating a StreamImageSource that drew icons with skia.
  Advantages
   does not disappear
   can be colour bound so better than using a png resource.
   is centered correctly - see https://github.com/xamarin/Xamarin.Forms/pull/15047/files
  Disadvantages
    Blurry

Creating a FontImageSourceHandler and drawing to BitmapImage using similar code to existing ( with the

[2022-01-13 18:12] tonyhallett commented on #14323
Please see https://github.com/xamarin/Xamarin.Forms/issues/8293#issuecomment-1012386033 for workaround / potential solution.

[2022-01-13 19:19] bakerhillpins opened #15051 "[Bug] ListView ItemTemplateProperty Validation isn't validating the new value"
### Description

Validation of a `ItemTemplate` value on a `ListView` isn't validating the New Value, but rather the existing value of the property on the instance of the ListView.  Since the `ItemTemplate` property is rarely set twice, it's never validated.

Issue is in the `ListView `override of `ItemsView<TVisual>.ValidateItemTemplate(DataTemplate template)`.  [The override](https://github.com/

[2022-01-13 19:23] tonyhallett commented on #8293
You can put your buttons inside this.

[code]

[2022-01-13 19:52] bakerhillpins opened #15052 "[Bug] NullReferenceException when returning null from DataTemplateSelector.OnSelectTemplate"
### Description

Returning null from `DataTemplateSelector.OnSelectTemplate(object item, BindableObject container)` results in `NullReferenceException`s. The [Xamarin documentation](https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.datatemplateselector.onselecttemplate?view=xamarin-forms#returns) from MS isn't clear on this being valid or not, However, the [WPF documentation](https://docs.

[2022-01-13 21:38] JPZV commented on #14969
New info regarding this issue:

1) This only happens when iOS suggests you a _strong password_
2) Rejecting the _strong password_ clears the entry visually, **BUT** the model/binding stills has the suggested password stored. For some reason iOS set the text property on the first focus, but then it doesn't update that property when rejecting the password.
3) As noted originally in #12246, this only

[2022-01-13 21:54] tonyhallett commented on #8293
You can add your Button or ImageButton inside this to have the effect applied

[code]

[code]

[code]
    public interface IFontIcon {
        Color Color { get; set; }
        double Size { get; set; }
        string Glyph { get; set; }

        string FontFamily { get; set; }
    }
    public static class FontIconProperties
    {
        public static readonly BindableProperty GlyphProperty = Bi

[2022-01-13 23:16] Strifex commented on #15049
Some additional insight - It seems while the GREF leak started in the initial Xamarin.Forms 5.0 release (and has persisted since) - it appears to have gotten more aggressive in the latest v5.0.0.2291.

[2022-01-14 05:53] KazysNoobiys commented on #15000
The error is still present. I think this bug is very important! Maybe someone will comment on it?

[2022-01-14 10:26] stephanpalmer commented on #8041
@jfversluis Thank you for the update. The expectation stated in the original bug report is that the background color of the search text field remains white on iOS 13+. That was also my assumption when writing my previous comment.

However, I agree with your assessment that there probably is no default behaviour which is correct for all Xamarin.Forms users. Some will want the control to have the "i

[2022-01-14 10:37] #9651 closed

[2022-01-14 10:37] #14472 closed

[2022-01-14 12:16] #12454 closed

[2022-01-14 12:22] #13608 closed

[2022-01-14 13:13] #13053 closed

[2022-01-14 13:24] jfversluis opened #15054 "Verify we can take out the accessibility feature flag and turn it on by default"
Hi everyone! Apologies for the late update - in case you missed it, this was fixed earlier this summer by https://github.com/xamarin/Xamarin.Forms/pull/14089. All the awesome fixes @PureWeen made in this PR are set up behind an `Accessibility_Experimental` flag, which is available in XF 5.0.0.2083 and later versions.

If you aren't familiar with experimental flags, you can read more about them her

[2022-01-14 14:22] lukies97 commented on #14956
Did they ever wake up?  ;)  10 Days is a long sleep.

[2022-01-14 14:25] #13193 closed

[2022-01-14 14:42] jfversluis commented on #14956
They work very hard! No news yet unfortunately :(

[2022-01-14 14:58] jfversluis commented on #15050
Hey there, thanks for the report! I guess this is all on production systems, but it would really help if you could get us a bit more info or a reproduction sample.

I'm not sure if this is a Xamarin.Forms issue. At least with this info I'm not really sure where to begin looking to fix this I'm afraid.

[2022-01-14 15:00] jfversluis commented on #15051
Thanks for the report here! I see you're mentioning a Forms version that isn't the latest one. Would you be able to test with the latest version to see if it maybe isn't fixed in the meantime? Thanks!

[2022-01-14 15:01] jfversluis commented on #15052
Same as #15051 could you validate that this still happens in the latest stable version? Thanks!

[2022-01-14 15:07] bakerhillpins commented on #15051
I linked directly to the source line that has the problem in the description. So it's still there.

[2022-01-14 15:11] bakerhillpins commented on #15052
Yes, it's in the latest code. Sorry for not putting that in there. I should have just updated the Forms Example code that I used to repo it but I didn't, I've been building the tip of the 5.0 branch to look at what's going on. There are several places in the code where this is going to be an issue.  Lots of places that bind to DataTemplates.

[2022-01-14 15:14] bakerhillpins commented on #15052
@jfversluis  2 important points:

1. I see you tagged this issue as a/ListView  - The repo project uses CollectionView.
2. After poking around a bit this appears to be a pervasive problem with code that allows binding to a DataTemplate/DataTemplateSelector.

[2022-01-14 15:16] jfversluis commented on #15052
Whoops sorry about that! It's coming up on the end of the day/week here, losing focus 😅

Thanks for the (quick) response! If you are actually building the source and are willing and able to maybe fix it yourself I think that could greatly increase your chances and the speed of this being resolved and included.

We're doing the best we can right now, but there is still a lot to do, so if there is a

[2022-01-14 15:27] bakerhillpins commented on #15052
No worries..  not like I've not been there myself.

I'm looking into that as I'd really like to see this fixed but as I mentioned this is bigger than CollectionView. Learning curve is steep too.

Totally understand. I'm eager for all of this and well aware of your situation, it seems to be SOP these days.

[2022-01-14 15:27] jfversluis commented on #13597
@michelmoorlag that seems more like a workaround than a fix :D but thank you for this! This might also give some kind of hint on how to fix this.

[2022-01-14 15:33] bakerhillpins commented on #15051
@jfversluis I was just going to put in a PR for the change but as I mentioned in the description, the validation logic doesn't make a lot of sense and actually raised a ton of background questions about `DataTemplate`s, `ListViewCachingStrategy`,  and the `ElementTemplate.CanRecycle` property.

[2022-01-14 16:13] osarabiaConvene opened #15055 "APK not installing on Android 12"
### Description
I have an application running well on previous version of android until 11 version but when a user is trying to install on Android 12, is always sending the error: "There was a problem parsing the package".

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue: Visual for Mac with Xamarin forms targeting android 12
- Last known good version:Visual

[2022-01-14 17:30] losh99 commented on #8797
I've found the issue is still present in XF5.0.0.2244 and I think it's painfully obvious that it'll never get fixed. My label was using word wrap in an auto sized row of a grid, but the wrapped content was being cut off and not shown - only in Android.

@hartez does mention a workaround above which seemed to fix the issue for me, probably why this hasn't been reopened. I set Padding, ColumnSpacing

[2022-01-14 18:57] jfversluis commented on #13683
@somoreingold we're working through the list of all things as you can hopefully see. We've been releasing monthly services releases with 20-30 fixes each month. Sorry we didn't get to the ones that are important to you yet. Thanks for your patience!

[2022-01-14 19:00] DouglasGiovanella commented on #14740
Well, after some digging i track this issue to the BoxView after the changes on this PR: https://github.com/xamarin/Xamarin.Forms/pull/11812/files and maybe it is related to https://github.com/xamarin/Xamarin.Forms/issues/14970.

I had a fews problems running the XF project on my Mac, so i couldn't test some fix alternatives and submit a PR.

@jsuarezruiz @jfversluis This issue could be prioritize

[2022-01-14 19:05] jfversluis commented on #9123
Hey everyone, thanks for all the input here. I see a lot of things that might or might not be related, but just to be sure; this is still (or again) an issue in the latest stable version 5.0.0.2291? But it was fixed in an earlier version?

Seems like this PR #13148 might have something to do with it?

@dag23 besides doing the research do you also have a proposal on how to fix it?

[2022-01-14 19:30] somoreingold commented on #13683
@jfversluis Yep, I've been seeing the service releases, thanks to you and your team for that. They have been helpful. And I understand MS resources/hartez are really focused on MAUI right now. So I've gone ahead and refactored Label usage across projects to prevent this from affecting displayed text, and warned my team not to use padding until this is resolved.

If anyone here is interested, wrapp

[2022-01-14 21:33] jamesmontemagno commented on #14232
I would take a look at https://github.com/jamesmontemagno/MyCoffeeApp/ as an example. Has iOS in there as well.

[2022-01-14 21:48] MichaelLHerman commented on #15015
I have the same issue on Android (touch and drag off button in a ScrollView, button remains in Pressed state).
I suspect the ButtonElementManager needs to handle more cases.
https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms.Platform.Android/ButtonElementManager.cs

On iOS, the default renderer uses UIButtonType.System which messes with the button Title transparency.  By using a UIB

[2022-01-14 22:24] AdrianJakubcik opened #15056 "[Bug] Android Navigation Bug in MainActivity"
### Description
So lately, as I was implementing remote notifications and local notifications for Android I stepped upon a very disturbing bug. When using NavigationPage for navigation it is easy to break it by making a Navigation command in MainActivity after `LoadApplication()` has been called. Then using `App.Current.MainPage.Navigation.PushAsync(new Page())` after `LoadApplication()` has been

[2022-01-14 22:27] tonyhallett commented on #15036
@jsuarezruiz

See the difference  ?https://github.com/xamarin/Xamarin.Forms/blob/29380ad055851fcd3d889c71d9e32ff1935c6746/Xamarin.Forms.Xaml/MarkupExtensions/AppThemeBindingExtension.cs#L82

[2022-01-15 08:01] holecekp commented on #13597
Maybe it is connected to the bug https://github.com/xamarin/Xamarin.Forms/issues/14918, or https://github.com/xamarin/Xamarin.Forms/issues/14398. ScrollView has very bad issues in situation when the height of its content is changed on Android (lazy loaded views, or when some previously invisible view becomes visible). I will try if your ContentView workaround works also for these bugs.

[2022-01-15 13:18] udde commented on #14232
Thanks for the response @jfversluis. I see. then we'll have to live with it... some native elemnts like pickers and such stay in "wrong" styling/theme.
@jamesmontemagno Thanks. I like your videos a lot, Good job!!

[2022-01-15 15:07] holecekp commented on #14918
**Workaround:** I have finally found something that works well for this issue. This workaround has been proposed originally for another ScrollView issue (https://github.com/xamarin/Xamarin.Forms/issues/13597) but I have found out that it helps also for this issue.

The workaround is to enclose the ScrollView into a ContentView.

So instead of:
[code]

it should be:
[code]

It seems that ScrollView

[2022-01-15 15:10] holecekp commented on #14398
For a workaround, see https://github.com/xamarin/Xamarin.Forms/issues/14918#issuecomment-1013697345. The workaround has been proposed originally for another ScrollView bug (https://github.com/xamarin/Xamarin.Forms/issues/13597) but I have tested that it works also for this issue.

[2022-01-15 15:22] holecekp commented on #15046
I can also see similar warnings about a version conflict when building my project:
[code]

[2022-01-16 05:31] pablo0219 opened #15061 "Fix Shell Flyout color issues"
Shell Flyout color issues in Xamarin.Forms 5.0.0.2291 (Last version available) and IOS 15(15.2)
Steps to Reproduce:
1. Xamarin.Forms 5.0.0.2291 and IOS 15
2. Default Visual Studio Project (with flyout)

Expected behavior:
Flyout should inherit background color from Shell.Background color
            <Style x:Key="BaseStyle" TargetType="Element">
                <Setter Property="Shell.BackgroundCo

[2022-01-16 06:13] pablo0219 commented on #15061
![Capture](https://user-images.githubusercontent.com/39707457/149649467-4278a728-d4e9-484b-8852-819b6b0eeafd.PNG)
![Capture1](https://user-images.githubusercontent.com/39707457/149649469-305dfe3a-60d7-4eb7-a31b-e84bff0c34e3.PNG)

[2022-01-16 06:13] pablo0219 commented on #15061
I clicked he wrong button. Reopen it again.

[2022-01-16 07:22] azrinsani commented on #13016
2022 seeing this problem as well, did you guys find a solution?

[2022-01-16 09:59] #12793 closed

[2022-01-16 11:42] hamzaoubouzid commented on #4875
hi @pizzahead24
thank for all Just i have one question about flexlayout in xamarin
i create design xml but when i am binding flexlayout width my list in c#
it not work and i serch and not get eney enswer about this probleme

[2022-01-16 19:56] tuxmainy commented on #14232
Nope, just made my app restart on theme change

[2022-01-17 02:56] pabloat81 commented on #12491
Hi,

There is a workaround to set the SelectedItem to null?

Because when the command for SelectedItem gets fired i make a GoToAsync to a details page, and when i come back, if i set SelectedItem to null the collection view looses "it page position" and goes to top.

If i dont make SelectedItem null, then i cant select the same item again.

I am using MVVM pattern.

Thanks

[2022-01-17 08:11] prdp89 commented on #14963
It's been more than a month now, we are still stuck on this issue and customers are expecting a stable DatePicker output.

[2022-01-17 08:16] sGeeK44 opened #15062 "[Bug] First page rendering in Async context"
### Description

When execute async task before first page affection, rendering does not work.

### Steps to Reproduce

1. Clone repo
2. Run app on device
3. Observe app does not render
4. Rotate device => renderer occurs

[code]

### Expected Behavior

Render page even if it was in async task context

### Actual Behavior

Page does not render

### Basic Information

- Version with issue:
- Last k

[2022-01-17 09:02] MosCD3 commented on #14986
This issue shouldn't be closed until the official fix is shipped and released.

[2022-01-17 09:04] jfversluis commented on #14986
@MosCD3 our process works a bit different. The official fix has been merged and should be released soon.

[2022-01-17 10:30] KevinAnass commented on #5265
it works fine to me this my XAML code

data template

[code]

FlexLayout

[code]

style

[code]

[2022-01-17 12:47] kwilliams1987 commented on #10379
Same issue here:

Xamarin v5.0.0.2083

JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self)

`System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.Platform+DefaultRenderer'.`

[code]

[2022-01-17 13:00] jfversluis commented on #15061
Please provide a little reproduction project that shows this issue, thanks!

[2022-01-17 13:03] jfversluis commented on #15055
Thanks for the report, this is unfortunately not much to go on. We would at least need some kind of logs or more extensive errors on why it's unable to parse the package. With this information it's impossible to diagnose what is going on, let alone fix it.

[2022-01-17 13:06] jfversluis commented on #14918
Thanks for letting us know @holecekp hopefully this will also be some hint in order to fix this!

[2022-01-17 13:10] jfversluis commented on #13683
Thanks for the kind words and info @somoreingold of course if you would be willing and able to diagnose this issue more in our codebase that would also benefit the process in getting this resolved. Other than that, we're doing our best!

[2022-01-17 13:18] MonaliK123 opened #15063 "[Bug] Why Browser.OpenAsync("url"); not working on Samsung Tab with api 30 os 11 in xamarin forms?"
### Description

### Steps to Reproduce

1. I am using Xamarin Essential nuget for opening url in browser but Browser.OpenAsync("url") not working for Samsung Tab with api 30 and os 11 could anyone suggest solution for it?
2.
3.

### Expected Behavior
It should redirect to respected link()

### Actual Behavior
It will redirected towards respected link but white page opens incompletely and suddenly

[2022-01-17 14:37] huangjinshe commented on #9716
After 2 years still not finish???

[2022-01-17 15:46] zoli13 opened #15065 "Master Detail View: menu disappears only on very right side click insead of anywhere on dimmed area on Android Tablet"
### Description

Xamarin.Forms App, which has Master (=menu) / Detail views implemented.
If you click on hamburger menu, menu (=Master) appears, background (=current Detail view) is dimmed. If you click outside the menu, it disappears automatically.

It works fine on Android phone + iOS phone + iOS tablet, but on Android tablet, the opened menu does not disappear if you click outside of the menu (

[2022-01-17 16:31] NicolaZuc commented on #14996
Hi, i will give you a repro as soon as i can, atm there are some pandemic problems and i can't go to the office.

[2022-01-17 16:38] mknotzer commented on #14752
I have the same issue, Xamarin.iOS 14.14.2.5. I have to stick to MacOS Catalina & Xcode 12.4

[2022-01-17 17:26] heikow10 opened #15066 "[Bug] StackLayout's layout inside ScrollView is not updated properly when adding children"
The layout (especially the height) of a StackLayout or a Grid inside a ScrollView is not updated properly when adding children to the StackLayout/Grid.
When the height of the StackLayout/Grid is larger than the height of the screen after adding a child there is a gap at the end of the ScrollView. This means the StackLayout does not take the full height of its parent ScrollView.
By testing and debu

[2022-01-17 18:55] pablo0219 commented on #15061
I was wrong!! I had a ListView in the flyout which was overriding the flyout background color. It looks that it's white by default. However, what it weird it's that I had a different behavior in IOS compared to Android. I will close the issue because it's not really related to the flyout.

[2022-01-17 21:35] marcojak commented on #5062
Same problem here

[2022-01-18 00:27] activa commented on #14986
It's not different. I think the vast majority of software companies handle bugs the same way. Bugs are closed when they're resolved and merged into the release branch. At least that's how we do it.

[2022-01-18 08:03] jfversluis commented on #15061
Glad you figured it out and thanks for letting us know!

[2022-01-18 08:03] #15061 closed

[2022-01-18 08:08] jfversluis commented on #14996
Sorry to hear that @NicolaZuc stay safe!

[2022-01-18 09:54] zoli13 commented on #15065
Update: using the VS > New project > Xamarin > Flyout, which uses Shell/FlyoutPage **does work fine** on Android Tablet as well.
But we cannot use that, as we use MVVMCross, which uses internally(?) MasterDetailPage.

[2022-01-18 11:38] hemantbeast commented on #15046
Hi, I can also see similar conflicts founds.

![image](https://user-images.githubusercontent.com/10476066/149930301-8fd455c8-f681-4137-9090-e39bc5367b20.png)

The packages I used are
![image](https://user-images.githubusercontent.com/10476066/149930493-0cacafb3-77fc-4e01-a06a-8664e9d2e33a.png)

[2022-01-18 12:59] jfversluis commented on #14918
Hey everyone a PR (#15066) has been opened that looks like it might address this issue. Would someone (or of course multiple people preferably 😄) be able to grab the NuGet [as described here](https://github.com/xamarin/Xamarin.Forms/wiki/Preview-Packages) and let us know if this fixes this issue? That will greatly speed up the review process.

Besides verifying if this particular issue is fixed al

[2022-01-18 13:51] pawelt94 opened #15068 "[Bug] CollectionView Padding (IOS)"
### Description
I added ConentInset in CollectionViewRender. This only works for the left, top, and bottom inset (Actual Behavior)
`collectionView.ContentInset = new UIEdgeInsets(50, 50, 50, 50)`
When I do it on android it works fine (Expected Behavior)
`view.SetClipToPadding(false);'
 view.SetPadding(50, 50, 50, 50);`

I created a clean project in xcode. All insets are visible. I added:
`collecti

[2022-01-18 14:29] tonyhallett opened #15069 "[Bug] Contributing guide links to outdated blog post"
Links to https://devblogs.microsoft.com/xamarin/beginners-guide-contributing-xamarin-forms/ with broken links / mentions Bugzilla.

[2022-01-18 15:07] AlleSchonWeg commented on #10379
@kwilliams1987 Can you reproduce this issue every time?

[2022-01-18 15:58] kwilliams1987 commented on #10379
The issue we had was highly reproduceable, but not 100% due to asynchronous hardware considerations.
The change listed above did however appear to drop the instances of the issue to zero.

[2022-01-18 16:17] AlleSchonWeg commented on #10379
Could you call:
[code]
every time before you update your binding collection? Just for testing.

[2022-01-18 16:29] kwilliams1987 commented on #10379
@AlleSchonWeg unfortunately it's not a personal project and I've been assigned to move on now that it appears working.

The binding collection is also updated extremely frequently so I am not sure what performance impact this would have, but I will keep it in mind if the issue crops up again.

[2022-01-18 16:36] AlleSchonWeg commented on #10379
@kwilliams1987
I know this is not good for performance. But if this exception will not occour after this changes, i could create a PR to fix this issue.
The changes above are only for debugging. Not for production!

[2022-01-18 18:42] GreatBarrier86 commented on #14569
Hi, following up again this. Has there been any progress? Or at least some update?

[2022-01-18 18:53] holecekp commented on #14918
@jfversluis Hello. I have tested the PR and I confirm it fixed the issue for me. It is no longer necessary to use the ContentView workaround. I have tested on Android and UWP.

[2022-01-18 19:32] heikow10 commented on #14569
Hi @GreatBarrier86! There is a pull request to fix #15066, see https://github.com/xamarin/Xamarin.Forms/pull/15067. You could check with the build of this PR if it fixes this issue, too.
[Here](https://github.com/xamarin/Xamarin.Forms/wiki/Preview-Packages) you can find how to grab the NuGet of the build.

[2022-01-18 20:36] andysousa opened #15071 "ImageRender exception on bindingcontext when updating a high rate"
### Description

I am getting the following exception when drawing an image in ios UI at a very high rate.  I have ensure that i am updating the image source from the main thread.  We have BLE devices broadcasting signal strength at a 750ms interval and I have ~ 50 around me.  So as you could imagine, i am updating that image rather object and quickly.

Here is the exception on crash

at Xamarin.F

[2022-01-18 23:47] Wolooo commented on #8234
Hi there,

hope you're all doing well in these difficult times.

I'm a beginner in xamarin and i have to make a project and i was wondering why my visual studio doesn't recognize the `<FlexItemsLayout />` it underlines it green, asking me if I'm missing an import or something. I know it is explained at the top but i think my english is not good enough to understand what i need to do to solve this.

[2022-01-19 00:11] Sebastian1989101 commented on #8234
@Wolooo there is nothing like a FlexLayout yet. This is just a feature request. Also I would recommend to not use Xamarin controls and rather use some from other libraries. Espacially lists and collections are heavily bugged and problematic right now.

[2022-01-19 07:22] AlleSchonWeg commented on #15046
I can also see this warnings:

[2022-01-19 07:48] TimurVa commented on #6579
Still existing bug. And if I want to use DisplayPromptAsync with Keyboard.Numeric how can I figure it out then? In my country with Samsung only device minus sign and dot separator are even non clickable.

[2022-01-19 10:01] stavroaudisho opened #15072 "[Bug] Line.X2 property stopped working and prevents page from showing on iOS"
### Description

I have my old app that has a line with an X2 property. After updating my packages and Visual Studio (inc Xamarin.iOS to 15.2) and running the app, I can no longer navigate to any pages that contain a Line with an X2 property.

### Steps to Reproduce

1. Create a line with an X2 of e.g. 100 and any other properties (stroke, thickness)
2. Build and run app (iOS)

### Expected Behavi

[2022-01-19 10:23] EeeDotZee commented on #3938
Sorry to roll up this old topic, but i experienced the same thing and just wanted to post solution/workaround using Searchbar instead of an entry. I simply deactivated the full autocomplete on the searchbar as described [here](https://stackoverflow.com/questions/64653491/disable-ios-autocomplete-in-xamarin-forms-searchbar) and the issue didn't appear any more

[2022-01-19 10:57] jfversluis commented on #14398
@IgorKravchenko10 if you are still with us, a PR (#15067) for this is open now, would you be able to grab the NuGet [as described here](https://github.com/xamarin/Xamarin.Forms/wiki/Preview-Packages) and let us know if this fixes this issue? That will greatly speed up the review process.

Besides verifying if this particular issue is fixed also be sure to check other scenarios in the same area to

[2022-01-19 10:58] jfversluis commented on #13597
Hey all if you are still with us, a PR (#15067) for this is open now that potentially fixes this, would you be able to grab the NuGet [as described here](https://github.com/xamarin/Xamarin.Forms/wiki/Preview-Packages) and let us know if this fixes this issue? That will greatly speed up the review process.

Besides verifying if this particular issue is fixed also be sure to check other scenarios in

[2022-01-19 10:58] jfversluis commented on #14569
Thanks for the help @heikow10! @GreatBarrier86 if you would be able to confirm that version fixes it we would be able to move forward with this (finally). Let me know! Thanks!

[2022-01-19 10:59] jfversluis commented on #14918
Thanks so much @holecekp !

[2022-01-19 11:16] tritter commented on #14918
@jfversluis For me and the sample App attached above its also resolved. Thanks a lot!

[2022-01-19 11:21] pawelt94 opened #15073 "[Bug] WebView ContentHeight (IOS)"
### Description
I want to get the height of content in webview. On android, the height value is correct. On iOS, the value is too high. I think the width on iOS is incorrect (93) - possible reason.

I created a clean project in xcode. Value of contentHeight is correct.

Swift code:
[code]

###Steps to Reproduce
Xamarin project repo: https://github.com/pawelt94/WebViewContentHeight
### Expected Beh

[2022-01-19 11:30] cnp5 commented on #13597
Just tried version 5.0.0.7396 but it did **not** solve the issue :(

[2022-01-19 11:42] heikow10 commented on #13597
Hey @cnp5! Could you test it with the build 5.0.0.7996? This is the right one for the PR #15067.

[2022-01-19 11:43] cnp5 commented on #13597
just did and it works (I will try to find the first version that it started working again)

[2022-01-19 11:59] cnp5 commented on #13597
I missunderstood :), thought that version 5.0.0.7396 would solve the issue, but you are right @heikow10, it is version 5.0.0.7996 that fixes the problem, and it seems that it is working as expected :)

[2022-01-19 12:04] heikow10 commented on #13597
Ok. Thanks for the information and your tests, @cn5!

[2022-01-19 12:11] jfversluis commented on #13597
For testing these PR fixes you should use a very specific version indeed :) glad we could figure it out and thanks for the help on this!

[2022-01-19 12:13] jfversluis commented on #13307
@holecekp and others, I see people suspecting this might be linked to #15067 as well? Would you be able to verify that?

[2022-01-19 12:42] GreatBarrier86 commented on #14918
@jfversluis, well done. Looks good here too.

[2022-01-19 12:43] GreatBarrier86 commented on #14569
@jfversluis, yep! good to go.

[2022-01-19 13:47] jfversluis commented on #14239
Might be a longshot here, but would you be able to test the NuGet package from #15067 [as described here](https://github.com/xamarin/Xamarin.Forms/wiki/Preview-Packages) and let us know if this fixes this issue?

Note that you need the specific version from that PR which in this case is 5.0.0.7996.

Thanks!

[2022-01-19 13:52] jfversluis commented on #12567
Might be a longshot here, but would you be able to test the NuGet package from #15067 as described here and let us know if this fixes this issue?

Note that you need the specific version from that PR which in this case is 5.0.0.7996.

Thanks!

[2022-01-19 14:22] jfversluis commented on #14740
Thanks for the investigation on this! Can't make promises on prioritizing, but we'll look into it :)

[2022-01-19 15:54] sjordanGSS commented on #15062
I've had this problem too, it's to do with how long it takes your app to set the MainPage property IIRC. If you've got a long-running task to do before your main page is shown it might help to throw up a loading page while it executes, then show your main page. Something like:

[code]

ought to do the trick. I haven't tested the above code but hopefully it is close enough to give you a start :)

[2022-01-19 16:59] slprog1 commented on #14986
Hello, guys!
I was wondering if anybody could tell when the fix will be available? I see the planning date is Jan 19th, but still it's not clear when it will be released

[2022-01-19 18:36] julioroldan commented on #13597
The Solution was

            <ScrollView>
My code`

        </StackLayout>

[2022-01-19 18:53] jamesmontemagno commented on #14232
@tuxmainy  make sure your configurationchanges are set correct in your main activity https://github.com/jamesmontemagno/MyCoffeeApp/blob/master/MyCoffeeApp/MyCoffeeApp.Android/MainActivity.cs#L20

[2022-01-19 19:25] jfversluis commented on #14986
@slprog1 the release is going through some checks right now and unless something weird is found there it should be this week.

[2022-01-19 20:59] MMieszko commented on #10865
Still exists here

[2022-01-19 21:04] jfversluis commented on #15068
Thanks for the report! Why are you setting this through a custom renderer? You should be able to do this through Xamarin.Forms as well?

[2022-01-19 21:06] jfversluis commented on #15069
Whoops, thanks! :D We still need all the help we can get... Maybe I should see if I can update that somehow.

[2022-01-19 21:07] lancelotdelamare commented on #14959
@jfversluis : can you expand on

Is is specific to `<Tab.Icon>`? It appears that font aliases do work sometimes, like on the **Flyout** menu (see `Sitemap` screen shot)

Would you consider posting a fixed version of `ShellTabIconRepro.zip` where you demonstrate that workaround, specifically that using `FontFamily="materialdesignicons"` is performing properly on **UWP**? (using font name instead of

[2022-01-19 21:08] jfversluis commented on #14843
I think this should be fixed in newer versions where we have fixes for new iOS APIs that changed this behavior

[2022-01-19 21:08] #14843 closed

[2022-01-19 21:09] jfversluis commented on #14835
Long time no response. If this is still an issue to someone, let uw know!

[2022-01-19 21:09] #14835 closed

[2022-01-19 21:09] jfversluis commented on #14822
Long time no response, hope this is resolved by now. If not please let us know!

[2022-01-19 21:09] #14822 closed

[2022-01-19 21:14] jfversluis commented on #14382
No response to our question for a repro, assuming you got it to work. Let us know if that's not the case!

[2022-01-19 21:46] pawelt94 commented on #15068
CollectionView has no padding.  It is possible to add a margin, but then the scrollbar and the scrollable area get smaller.
A workaround is to add padding for items (for left, right padding), header (for top padding) and footer (for top padding).
This makes it difficult to maintain and adds unnecessary code (especially when using styles).
ScrollView has padding. CollectionView does not have it so

[2022-01-20 03:40] vislas commented on #13363
Any update? I have the same issue in Android, using Xamarin.Forms version 5.0.0.2291

[2022-01-20 04:05] SarthakGz commented on #9520
Hi any workaround to this issue please I am also dynamically changes sizes of row from a custom control which is then defines in datatemplate

[2022-01-20 06:21] Gayathri-github7 opened #15077 "Xamarin forms control is not loaded while refering script file using relative path in Html file with Hybrid Web View in UWP"
Xamarin forms control is not loaded while referring script file using relative path in Html file with Hybrid Web View  in UWP platform

### Description

### Steps to Reproduce

Replication Procedure:
1.	Run the attached sample.
2.	Click ‘Try it’ button on it.
3.	The text is not changed from ‘A Paragraph’ to ‘Paragraph changed’ and this issue occur only in Chinese and Korean user alone.

Note: This

[2022-01-20 07:10] JordiCasas commented on #7605
I also have this issue with a `LinearITemsLayout` and ItemSpacing set. The more elements I added to the collection the more elements where shown. So if I have 4 elements only 3 are shown but if I have 10, 6 are shown.

[2022-01-20 08:30] jfversluis commented on #15068
I don't see how it is more difficult to maintain than a custom renderer tbh especially if you place it in a style or in your item template.

[2022-01-20 09:31] jfversluis commented on #14429
Hey @Tommigun1980 thanks for the kind words, appreciate it!

Please don't take this the wrong way, I'm genuinely curious. If this is the case, what is stopping you from getting the Forms codebase and fix it? Or at least try to play with the magical constant to see if that indeed actually fixes your issue?

For the sake of moving this issue forward I have reverted that change in #15078 would you be

[2022-01-20 09:51] jfversluis commented on #13895
Seems there is also a bug on this on the AndroidX repo: https://github.com/xamarin/AndroidX/issues/293

I have asked around, unfortunately these libraries are just bindings and don't really add any logic, so the most likely. thing that happened is that there was a change in the AndroidX libraries: https://developer.android.com/jetpack/androidx/releases/fragment

[2022-01-20 10:12] jfversluis commented on #15077
Thanks for the report.

I'm not sure what this part means:

This only happens for Windows machines that are set to Chinese or Korean?

[2022-01-20 10:24] Gayathri-github7 commented on #15077
Hi Team,

Yes. This issue occurs only for the users located in chinna and korea whoever using windows machine(UWP platform).

With Regards,
Gayathri R

[2022-01-20 13:53] AndriDev commented on #3457
Does any temporal workaround esist?

[2022-01-20 13:54] AndriDev commented on #3457
Does any temporal workaround esist?

[2022-01-20 14:25] darrabam commented on #9199
Maybe this is related, but my app was showing a black screen for a split second after the splash screen on some Android phones randomly.
It turned out that this was triggered by the Dark mode activated on those phones. The solution was to disable dark mode by having this line as the first line in my MainActivity :: OnCreate method.
`AppCompatDelegate.DefaultNightMode = AppCompatDelegate.ModeNightN

[2022-01-20 14:27] slprog1 commented on #14986
Hello, @jfversluis! Thanks for clarifying! What confused me is the release date I saw under the "labels" section
Anyway, looking forward for the fix - we can't publish our new version of the app with critical bug fixes, because we have some graphics on the screens, thus the app simply crashes ((

[2022-01-20 14:29] jfversluis commented on #14986
I can imagine. The way I'm going about this now is working with a target date. By that date I want to have it published, but it can be a few days late (or early). There is some quality checks and tests, etc. we have to run before releasing. If anything comes up there we want to of course fix that first :) I don't think there is much wrong with this release so should be soon 🤞

[2022-01-20 15:27] vertexfxdevelop commented on #14382
Sorry for the delay,  this is the sample, just click on Login then press back
https://github.com/vertexfxdevelop/TestHTMLPrices

[2022-01-20 15:33] vertexfxdevelop opened #15079 "[Bug] NullReferenceException while navigation if the page contains Html"
Description

Crash on iOS while navigating between pages if it contains Html Label. (while text value changing -using binding-)

Steps to Reproduce
Navigate between two pages (push/pop) that contain Html Labels
Expected Behavior
The app does not crash and the pages are open regularly

Actual Behavior
Crash on iOS (NullReferenceException)

-Version with issue: 5.0.0.2291
Platform Target Frameworks:

[2022-01-20 15:43] vertexfxdevelop commented on #14382
Sorry for the delay, this is the sample, just click on Login then press back
https://github.com/vertexfxdevelop/TestHTMLPrices

[TestHTMLPrices.zip](https://github.com/xamarin/Xamarin.Forms/files/7906549/TestHTMLPrices.zip)

[2022-01-20 16:46] jwoeste commented on #11101
I had this issue recently as well. Reason was a 3rd party NuGet Package using URL for package reference.

If I recall correctly it was rg.plugins.popup.

Before I had
`xmlns:pages="http://rotorgames.com"
`(according to their documentation).

Changing it to
`xmlns:pages="namespace:Rg.Plugins.Popup.Pages;assembly=Rg.Plugins.Popup"` solved the issue. I had one more nuget but I forgot which it was.

B

[2022-01-20 17:00] DanielGlick45 commented on #11726
Any chance we can reopen this issue? We are getting reports on AppCenter of this as well. It seems like the app is put in the background for a long time and the crash happens when returning to the app. All the logs say the app crashes after 7+ hours of up time

[2022-01-21 00:23] mikeoliphant commented on #3247
I am also interested in support for d-pad navigation on Android.

[2022-01-21 06:44] archergod opened #15081 "[Question] How long for nuget package to release"
I see Service Release 9 is there from 3 days, but not availabe on nuget yet. We are waiting for bug fix which is covered in SR9, Is this unusual delay or it take that much (or how much time) to appear on nuget?

[2022-01-21 07:00] maonaoda commented on #11468
Unlike iOS,only Android will omitte the title on ActionSheet

[2022-01-21 07:56] archergod commented on #15055
If your project works fine on Emulator then it is problem of corrupted Package file (not compilation issue). Recompile/packaging and downloading often solve it.

[2022-01-21 08:54] MaxFelinger commented on #15029
It was there from the creation of the project. So I assume that it was automatically created using Xamarin.Forms 4.5.0.396. We've removed it and everything works just as fine.

Will close this issue.

[2022-01-21 08:55] #15029 closed

[2022-01-21 09:22] jfversluis commented on #15029
Thanks for letting us know Max!

[2022-01-21 09:32] rickclephas commented on #14239
@jfversluis unfortunately 5.0.0.7996 has the same issue.

Previously I wasn't able to reproduce this with a simulator but only on physical devices.
However even on physical devices this bug isn't always occurring.
It turns out that this issue is caused by the **orientation** of the device (like @memis1970 mentioned).

This is also the difference between a physical device and the simulator that by

[2022-01-21 09:34] jfversluis commented on #14239
Thank you for checking and the additional info!

[2022-01-21 09:45] rickclephas commented on #14239
I am seeing the same result with the 5.0.0.2337 NuGet package from that release.

[2022-01-21 09:54] rickclephas commented on #14239
@jfversluis @jsuarezruiz it seems that when the orientation is "Face Up" the measurement logic interprets that as "Landscape". If you look at the screenshot and video above you'll notice that the blue area is actually a perfect square.

[2022-01-21 10:04] jfversluis commented on #14239
Yeah that definitely seems like a good point. Not sure if we actually do that much ourselves with the orientation though, but this is a good lead.

[2022-01-21 10:06] SujaVenkatesan commented on #8293
The issue still occurs for Image also. How can we resolve this ?

[2022-01-21 10:24] jfversluis commented on #15081
Only thing I can say it's done when it's done :)

We're doing additional checks to see if there is no regressions or other quality drops in there. Typically it should be pretty fast, this time it takes a bit longer. Sorry about that!

[2022-01-21 10:24] #15081 closed

[2022-01-21 10:26] jfversluis commented on #15079
Duplicate of #14382

[2022-01-21 10:26] #15079 closed

[2022-01-21 11:10] daves1992 commented on #15050
Thanks, it seems to have resolved itself. It seems to have been a combination of the IOS update and a specific mobile provider causing the issue.

[2022-01-21 11:11] jeoffman opened #15082 "CarouselView Position stops working when the collection updates #11211 is still not working"
I tried downloading CarouselTest.zip from #11211 and ran it on Android 10 (API 29) but the position does not update.

Also tried sources from Issue11211.xaml.cs ([here](https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11211.xaml.cs)) and this behaves the same

[2022-01-21 11:13] jfversluis commented on #15082
Could you please provide some update details and a reproduction?

[2022-01-21 11:14] jfversluis commented on #15050
Alright! Glad you figured it out :) Thanks for letting us know!

[2022-01-21 11:14] #15050 closed

[2022-01-21 11:15] tonyhallett commented on #8293
@SujaVenkatesan
My pull request resolves minimize but with screenlock the icon will disappear and reappear shortly after so not the best resolution.
I believe I have tried all methods of drawing with the CanvasImageSource that Xamarin Forms current uses and they all suffer from the issue.  In keeping with using an ImageSource for Button, ImageButton and Image I have tried to create an SvgImageSour

[2022-01-21 11:19] jeoffman commented on #15082
Download the example code from bug 11211: CarouselTest.zip, open the archive and run it. Click the "Add Item" button - the screen will either not advance or will advance for every-other-one
![AndroidCarouselPositionUpdate](https://user-images.githubusercontent.com/7606177/150518326-5b1ec0d8-c623-4b1b-8cf0-8a9136aa0b2e.gif)

[2022-01-21 11:27] jeoffman commented on #15082
I bumped the sample "CarouselTest.zip" from Xamarin 4.7 to latest (5.0.0.2291 as of today) and the behavior is different, but still not working. Also bumped API to Android 10:
![AndroidCarouselPositionUpdate](https://user-images.githubusercontent.com/7606177/150519406-095fd411-c728-4dbc-b1d4-46a8500c8b74.gif)

[2022-01-21 11:30] jeoffman commented on #15082
Hmmmm... Something wrong with the Animated GIFs - there should be 2 different behaviors but for some reason adding my second GIF replaced the GIF from the XF 4.7 screenshot too?

[2022-01-21 14:12] davibittencourtome commented on #15026
I have this same bug using "<Path", @pictos  recommended me to use version "5.0.0.2336-nighly", which already has the fix and everything is fine so far. Please, what is the release forecast for a new version in release?

[2022-01-21 14:14] jfversluis commented on #15026
Should be any day :) probably early next week

[2022-01-21 14:14] davibittencourtome commented on #15026
I have this same bug using "<Path", @pictos recommended me to use version "5.0.0.2336-nighly", which already has the fix and everything is fine so far. Please, what is the release forecast for a new version in release?

[2022-01-21 14:16] davibittencourtome commented on #15026
Thank you @jfversluis , have a great weekend!!

[2022-01-21 15:28] gaste opened #15084 "[Bug][iOS] Setting NavigationPage.IsNavigationBarTranslucent = true does not have any effect with Xamarin.Forms 5"
### Description

As described in the [Xamarin.Forms documentation](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/ios/navigation-bar-translucent), it should be possible to create a translucent navigation bar on iOS by setting the iOS platform-specific [NavigationPage.IsNavigationBarTranslucent](https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.platformconfiguration.iosspec

[2022-01-21 18:04] EBusch commented on #14499
I have a sample project I can upload that exhibits this, it's pretty straight forward:
-Create a new Tabbed project
-Add a `SearchHandler` to `ItemDetailPage` that pushes another page (`AboutPage` works just fine)
-Launch the app, select any item from the Browse list, use the new button to push another page and then finally tap the Browse tab icon to pop to root.

This will create the exception.

[2022-01-21 18:05] EBusch commented on #14499
[searchhandlercrashsample.zip](https://github.com/xamarin/Xamarin.Forms/files/7915737/searchhandlercrashsample.zip)

[2022-01-21 21:10] KarthikRajaKalaimani commented on #11708
this issue not fixed when attach xamarin source in simple project

[2022-01-22 15:02] jfversluis commented on #15084
Hey @gaste thanks for the report! I think this has to do with the fixes we implemented for iOS 15. Apple has introduced a number of changes in this regard and we had to adjust our codebase for that. I think we might have broken this property while doing that. We'll see if we can fix it :)

[2022-01-22 21:44] ShariatPanah opened #15085 "[Bug] FlexLayout RowReverse doesn't work Properly"
### Description
so when you change the direction from Row to RowReverse the layout messes up, maybe it has something to do with scrollview
or I'm just doing something wrong?
### Steps to Reproduce

Open the FlexLayout Demos sample:
[https://developer.xamarin.com/samples/xamarin-forms/UserInterface/FlexLayoutDemos/](https://developer.xamarin.com/samples/xamarin-forms/UserInterface/FlexLayoutDemos/)

[2022-01-22 23:18] lukies97 commented on #14956
I appreciate that they work hard.  I was just trying at some levity.  Hopefully they can figure out something soon.

[2022-01-22 23:18] lukies97 commented on #14956
I appreciate that they work hard.  I was just trying at some levity.  Hopefully they can figure out something soon.

[2022-01-23 15:10] DeliriumCode opened #15086 "[Bug] Elements on a flyout page with isvisible bound are never made visible if the page initially opens with them as invisible (Android)"
I have the following layout as a flyout or a detail for a flyoutpage:
[code]
if showElement is false when the app initially shows the page, it will never make the label visible even if showElement is programatically set to true (with RaisePropertyChanged) If I rotate the device while the property is set to visible it will then show it...

This is only happening on android devices, I am seeing this

[2022-01-24 00:05] MichaelNovikovHub commented on #9227
The same issue on Xamarin.Forms 5.0.0.2291

[2022-01-24 08:01] jfversluis commented on #15086
Hey @DeliriumCode please use the issue template we have in place for bugs. Thanks

[2022-01-24 09:01] thiemf commented on #9469
For us, this issue was fixed by using `SetHandleControlUpdatesOnMainThread(true)`, see
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/ios/main-thread-updates-ui
This might reduce layout performance on iOS a bit, this is ok for us

[2022-01-24 09:56] ioiooi commented on #6976
Came across this issue today. I am using Xamarin.Forms `4.8.0.1534`.

I'll be using the workaround talked about here:
https://blog.verslu.is/xamarin/xamarin-forms-xamarin/tapgesturerecognizer-xamarin-forms-android/

 and here:
 https://stackoverflow.com/questions/44003547/numberoftapsrequired-doesnt-work-for-2

 So basically just using single taps and keeping track of it manually by using a counte

[2022-01-24 10:11] slprog1 commented on #14986
Hello, @jfversluis!
Really sorry for bothering you, but is there any updates on the release date? Maybe the update is in the preview channel, so I could try to use it?

[2022-01-24 11:41] jfversluis commented on #14986
Still going through checks. If you really can't wait have a look here: https://github.com/xamarin/Xamarin.Forms/releases/tag/release-5.0.0-sr9

And download the nuget manually. I don't recommend it though, it might not be the final version if we still find something. It will be released when it's released. As soon as the checks are ready we will upload them, so until then I don't know any more abo

[2022-01-24 14:02] #15066 closed

[2022-01-24 14:03] jfversluis commented on #14569
This should be fixed by #15076 and part of SR10

[2022-01-24 14:03] #14569 closed

[2022-01-24 14:03] jfversluis commented on #14918
This should be fixed by #15076 and part of SR10

[2022-01-24 14:03] #14918 closed

[2022-01-24 14:03] jfversluis commented on #14398
This should be fixed by #15076 and part of SR10

[2022-01-24 14:03] #14398 closed

[2022-01-24 14:03] jfversluis commented on #13597
This should be fixed by #15076 and part of SR10

[2022-01-24 14:03] #13597 closed

[2022-01-24 14:43] #11980 closed

[2022-01-24 15:25] SujaVenkatesan opened #15087 "[Bug] CollectionView not getting renderer in UWP and iOS"
### Description
In a XF iOS and UWP the collection not getting renderer if we set the collectionview as content to Frame or contentview in secondtime . It works fine in Xamarin.Forms.Android platform.

### Steps to Reproduce

1. Run the reproduction sample in Xamarin.Forms.iOS or Xamarin.Forms.UWP
2. Click open_withCollectionView button.
3. CollectionView gets renderer below the buttons.
4. Then,

[2022-01-24 16:36] mlancione commented on #10380
Any update on this issue or are there any known workarounds?

[2022-01-24 16:36] drasticactions opened #15088 "[Bug] Modal Pages do not send VisualDiagnostics Add/Remove events, making Hot Reload impossible."
(This is mostly for bookkeeping. I believe this is not an issue with MAUI anymore, only Xamarin.Forms. If we _can_ fix it that would be great, but we should be okay in MAUI.)

When requesting a modal page, there are no events from VisualDiagnostics for when it's added or removed from the Live Visual Tree. As a result, Hot Reload can't keep track of these pages, making reloading them impossible.

[2022-01-24 23:38] vsfeedback opened #15089 "Xamarin.Forms Android native RecyclerView Selected property does not reflect CollectionView selection"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/XamarinForms-Android-native-RecyclerVie/1644156)._

---
[severity:I'm unable to use this version]
Using Appium on Android to determine CollectionView selection state does not appear to be working as expected.
iOS and UWP work as expected.

! [android-selection.png] (https://aka.ms/dc/ima

[2022-01-24 23:41] vsfeedback opened #15090 "xamarin forms app won't deploy"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/xamarin-forms-app-wont-deploy/1638916)._

---
[severity:I'm unable to use this version]

I just rebuilt my windows 10 system (21H2) and reinstalled VS 2022 17.1 Preview 2. This included reinstalling .NET 6.0 and several Android SDKs as well as the Samsung USB drivers to support my Galaxy

[2022-01-25 00:01] IndianaGary commented on #15090
The issue still persists...

[2022-01-25 01:23] reggiebIV commented on #14986
I am running in to the same issue but with a polygon instead of a line shape. I am assuming the same fix would resolve my issue as well?

[2022-01-25 08:19] roxton001 commented on #15049
Any updates on this? As a workaround, we had to replace a CollectionView with a ListView component.

[2022-01-25 08:49] pawelt94 commented on #15068
I can use Effects or a custom renderer. Then I can add one property and operate it once. Otherwise, to add top and bottom padding to the list, I have to add empty views in Header and Footer (e.g. with appropriate height). This is, in my opinion, an unnecessary overhead (views, styles, ...). Especially when we have several views with a collection view.  Maybe I do not know about something - I would

[2022-01-25 09:25] jfversluis commented on #14986
@reggiebIV I would assume so! You can test as per the instructions in my comment above :)

[2022-01-25 09:47] RubaShanmugamm opened #15092 "[XForm-Android] Getting requestLayout() improperly called warnings while converting forms view into native view"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2019

### Description

Getting requestLayout() improperly warnings on output window while converting forms view into native view through the renderer.

Warnings:
<img width="740" alt="WarningWithSimpleViewConversion" src="https://user-images.githubusercontent.com/66116004/150952381-0d57

[2022-01-25 10:17] pawelt94 commented on #15073
This may be a related problem. When on Android a web view is hidden by default and then I change the IsVisible value to true, the content height is bad. If IsVisible = true by default, you're fine.
![Zrzut ekranu 2022-01-25 o 11 15 36](https://user-images.githubusercontent.com/47122588/150957759-19e854b1-cedf-4834-a0ea-7de1cc879007.png)

[2022-01-25 11:12] larsduewel commented on #13302
Same problem here.

The renderer is never called, @mfeingol can you provide the workaround you described here: _"However, if you set the renderer up for CustomRadioButton and CustomRadioButton derives from RadioButton and you use that in your page, it works as expected."_

Since for me this workaround does not seems to work somehow. Here is what i tried:

**ExtendedRadioButton.cs**
`
    public cl

[2022-01-25 13:17] mkrnic commented on #12486
An easier way to (unfortunately) reproduce it:

Enter some text in an IsPassword entry. Select all of that text, and then type a couple of characters quickly (pressing two keys at once might do the trick; or just mash the keyboard). It will crash, likely even on the first try; if not, repeat. It won't take long, a few tries at most.

[code]

Having an intermediate control that does obfuscation, ha

[2022-01-25 16:08] bakerhillpins opened #15093 "[Bug] BindableLayout applies different data to Empty view's BindingContext depending upon EmptyViewTemplate."
### Description

If you use `BindableLayout.EmptyView` in conjunction with `EmptyViewTemplate` (not null) your template will be presented the host Layout's `BindingContext`, not the `EmptyView` object. If however, you set `EmptyViewTemplate` to null, the `EmptyView` object is displayed directly (for `Xamarin.Forms.View` implementation) or the default ToString is called on the object in a Label.

T

[2022-01-25 18:19] musictopia2 opened #15094 "Unable to deploy to android physical devices"
After I installed the newest maui stuff, it completely broke the part where it even gives an option to deploy to physical android device.
I did have my device registered as developer.  However, now, I am unable to deploy to device to test.

[2022-01-25 18:22] somoreingold commented on #13683
I wonder if this fix done in MAUI could be related/a solution for Xamarin: https://github.com/dotnet/maui/issues/1870

[2022-01-25 18:46] #15094 closed

[2022-01-25 19:20] MagicAndre1981 commented on #15081
any update on this? @jfversluis

[2022-01-25 21:11] aodegov opened #15095 "[Bug] There is no Cancel button for the iOS Shell SearchHandler input."
### Description

Where is the 'Cancel' button for the iOS Shell SearchHandler control ?
Our users simply can not back from focused (selected) SearchHandler control input.
Once input is focused, this just collapses shell header with navigation buttons and there is no option to get back.
Please, return(or add) cancel button functionality for the Shell SearchHandler control.

![image](https://user-im

[2022-01-25 21:34] irongut commented on #14970
I've had the same problem for some time. I use a semi-transparent BoxView over an image to darken the image. I thought the problem was with BoxView transparency but after finding this issue and removing the CornerRadius from my BoxView it works again.

![boxview-issue](https://user-images.githubusercontent.com/27953302/151062023-8ef3ab7f-3f73-4bb0-a628-38079b360517.png)

This problem first occurre

[2022-01-26 08:01] LeonSweden commented on #12958
I do also experience the very same behavior when calling:
await Shell.Current.GoToAsync("//pages/logbook/cloud")

Having hierrachy defined in **AppShell**:
FlyoutItem Route="pages"
Tab Route="logbook"
ShellContent Route="cloud"

**Exception:**
{System.ArgumentNullException: Shell Content Page is Null
Parameter name: page
  at Xamarin.Forms.Platform.Android.ShellSectionRenderer.UpdateCurrentItem (X

[2022-01-26 08:15] LeonSweden opened #15096 "[Bug] Shell.Current.GoToAsync method fails"
### Description
When calling Shell.Current.GoToAsync with route defined in AppShell, it fails with expception

### Steps to Reproduce

1. Define route in AppShell
2. Call Shell.Current.GoToAsync method

### Expected Behavior
Loaded routed page

### Actual Behavior
Exception:
{System.ArgumentNullException: Shell Content Page is Null
Parameter name: page
at Xamarin.Forms.Platform.Android.ShellSectio

[2022-01-26 09:53] SwissCheezze commented on #15096
can you check if there is something that's returning null on the page you're trying to navigate?

[2022-01-26 11:19] Gh0stC0de opened #15097 "[Bug] CollectionView Items not displayed after refresh."
### Description
Items in CollectionView are not displayed after clearing and reinitializing ObservableCollection.

### Steps to Reproduce

1. Start Sample
2. Click Refresh in Toolbar

### Expected Behavior
Items are being refreshed (same items are displayed).

### Actual Behavior
No Items are displayed.

### Basic Information

- Version with issue: 5.0.0.2337
- Last known good version: -
- Platfor

[2022-01-26 12:19] LeonSweden commented on #15096
nothing returned. it creates exception long before that is possible.

one comment though:
if I go to the page manually first and then pops back to the page that has this async call - it works. so it looks like something needs to be "warmed up" first. unclear with what since it is internal to Xamarin.

[2022-01-26 15:26] PacoRivera13 opened #15098 "Custom EntryRenderer - Input string was not in correct format for decimal properties"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2019 16.11.7

### Description

I'm using a custom EntryRenderer for removing the borders on the input control like this:
[code]

When my app renders the control that is binding to a decimal property.

[code]
I got the following error and I'm not able to enter any value.
**_Input string

[2022-01-26 16:03] egette commented on #14989
@gianisimone  Do you have a solution to this bug, except setting Linker Behaviour to **Don't Link** ?

[2022-01-26 16:08] gianisimone commented on #14989
@egette No unfortunately. My Xamarin Forms project is still suffering from this error. I did not manage to compile my Android solution with Linker Behaviour not set to **Don't Link**.

I keep my packages and Visual Studio updated but the issue is still there.
I don't know how to solve this. I hope someone from Xamarin Forms team will take care of this very soon

[2022-01-26 17:20] cvazquez08 commented on #9919
This would be a great feature for ScrollTo!

[2022-01-26 18:35] #8606 closed

[2022-01-26 20:54] lanatias commented on #5959
I have tested this with Xamarin.Forms 5.0.0.2291 and was able to reproduce the issue as well.

<img width="178" alt="Screenshot 2022-01-26 224248" src="https://user-images.githubusercontent.com/5842621/151244380-fa8fa664-5cba-43a1-9ac8-5dcf20083370.png">
<img width="179" alt="Screenshot 2022-01-26 224311" src="https://user-images.githubusercontent.com/5842621/151244372-760e96bf-bd15-435b-9772-2069

[2022-01-27 00:15] aodegov commented on #6453
Hi there!

any news about global shell ToolbarItems:
<Shell.ToolbarItems>
                .............
</Shell.ToolbarItems>
, which can be visible on each page without copying the same items on each page?

[2022-01-27 00:28] ryano-xmplify commented on #11134
Not a YouTube issue. I get the same behaviour with embedded vimeo.
IOS behaves as expected.

Issue with Android webview not handling the incoming fullscreen custom view.
Its been an issue for years, Forcing developers to write their own WebChromClient each time to implement OnShowCustomView and OnHideCustomView. eg...

[https://stackoverflow.com/questions/50101902/webview-and-iframe-video-full-scr

[2022-01-27 10:08] themronion commented on #11993
@jfversluis I've checked if this issue still exists and discovered this has been somehow magically fixed in 5.0.0.2291. U can close this one and #8436 :) Have a nice day and thanks to the Xamarin team for the work)

[2022-01-27 10:24] jfversluis commented on #8436
In a related issue someone mentioned that this is resolved in the current Forms version (5.0.0.2337). Could anyone confirm that?

[2022-01-27 10:38] themronion commented on #11993
Yeah, i started from the latest version and narrowed it down to 5.0.0.2291 - on earlier version the white flash is still present. I guess #4730 is the one that fixed it?

[2022-01-27 10:41] jfversluis commented on #11993
That seems to make sense... Thanks for the research here! Really appreciated :) Closing this for now then. If anyone else things otherwise, please let me know or open something new!

For now assuming this is fixed by #4730

[2022-01-27 10:41] #11993 closed

[2022-01-27 10:43] jfversluis commented on #8436
From some quick testing I think this one might also be resolved as mentioned in #11993 and fixed by #4730

Closing this for now. Let me know if someone thinks there is still an issue here!

[2022-01-27 10:43] #8436 closed

[2022-01-27 10:45] jfversluis commented on #15098
Hey @PacoRivera13 seems like you are using Xamarin.Forms although you're saying you're not? But only Forms uses renderers :)

Could you specify which Forms version you're using? And if you could add a small reproduction sample that would be totally amazing and helpful. Thanks!

[2022-01-27 10:49] jfversluis commented on #15097
Het @Gh0stC0de thanks for the report!

However, this works as intended, after you have created your initial `ObservableCollection` that has to stay intact in order for the data binding to work. If not, you will have to reset the `BindingContext` for it again.

Here in the warning box it is stated in the Docs: https://docs.microsoft.com/xamarin/xamarin-forms/user-interface/listview/data-and-databin

[2022-01-27 10:51] jfversluis commented on #15096
Please add all the details as requested in the issue template. At the very least: which Xamarin.Forms version are you using?

[2022-01-27 10:53] jfversluis commented on #15095
Please add all the details from our bug issue that we have in place. Without it we're missing valuable information that makes it very hard to diagnose what potentially is going on here. Thanks

[2022-01-27 10:56] jfversluis commented on #15090
This one seems very hard to solve. I know you don't see any output on your side, but without any information it's hard to say what it going on. Seems like very specific to your setup as I can't reproduce it. Also unlikely a Xamarin.Forms issue, but more a tooling/Visual Studio issue.

[2022-01-27 11:10] YisharPixelsHub commented on #15086
Happens to me in UWP too, Xamarin.Forms 5.0.0.2337 and Visual Studio 2022 (17.0.5)

[2022-01-27 12:03] jfversluis commented on #15086
Some more relevant code or even better; a reproduction project would be great, thanks!

[2022-01-27 12:47] EeeDotZee commented on #14986
I can confirm on my end that installing the latest Service update from nuget has fixed the issue on my side.
Thank you guys for the effort.

[2022-01-27 12:49] jfversluis commented on #14986
Thanks for the confirmation @EeeDotZee !

Everyone else; in case you missed it: the NuGet is out officially now! :)

[2022-01-27 13:25] Gh0stC0de commented on #15097
Thank you, @jfversluis , for your response!

I totally forgot the `INotifiyPropertyChanged` in the sample Project thats why the binding was not working after the `new()` statement.
With the added interface added everything works as expected. But if I then add an EmptyView to the Collection View the bug appears.

I defined the CollectionView as follows:

[code]

and the ViewModel looks like:

<deta

[2022-01-27 14:03] Hackmodford commented on #13934
I just ran into this issue when trying to create a generic page overlay (for custom progress hud)

[2022-01-27 14:12] jfversluis commented on #15097
I'm sorry but I'm still not sure what I'm supposed to see here. Running the sample and clicking the buttons seem to work fine for me

https://user-images.githubusercontent.com/939291/151375576-09a599b8-7fff-4ef2-9e23-3e15a4116f8c.mov

[2022-01-27 14:44] Gh0stC0de commented on #15097
Weired, when I'm running it on my end it looks like this:

https://user-images.githubusercontent.com/18737770/151381500-aa4595cd-30b4-4731-adc4-16ef3d0c43ed.mp4

[2022-01-27 14:55] Gh0stC0de commented on #15097
Can confirm, as I just managed to test it on iOS now.

[2022-01-27 15:07] Hackmodford commented on #1418
It is still an issue.

[2022-01-27 15:31] heikow10 opened #15100 "[Bug] ScrollView's size does not consider all Margins and Paddings on Android"
### Description

The calculation of the render size (width and height) of a ScrollView does not consider all Paddings of the ScrollView and all Margins of the child view. Affected are ScrollViews with Orientation Vertical, Horizontal or Both.
It works as expected on UWP.

### Steps to Reproduce

1. create a page with a ScrollView with a Padding > 0 as content
2. add a child view with a Margin > 0

[2022-01-27 20:38] derlidio commented on #3168
I had this problem too, and solved it.

I noticed it only occurred when the soft keyboard was leaving the screen. My layout was based on an AbsoluteLayout and some stuff inside it was taking some measurements by reference (HeightRequest, mostly). I managed to remove those references and the "requestLayout() improperly called by..." messages went by-by. I think the messages where showing up because

[2022-01-27 23:15] PacoRivera13 commented on #15098
hi @jfversluis I found this
[https://social.msdn.microsoft.com/Forums/en-US/34ee55b7-7613-4b35-849f-75d3197ae966/entry-binding-decimal?forum=xamarinforms](url)

I was missing a converter which cause the issue, I'll close this.
Thank you!

[2022-01-27 23:15] #15098 closed

[2022-01-28 00:34] IndianaGary commented on #15090
Dint know what happened but it spontaneously started working. 🙃

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Gerald Versluis ***@***.***>
Sent: Thursday, January 27, 2022 2:56:53 AM
To: xamarin/Xamarin.Forms ***@***.***>
Cc: Gary Lewis ***@***.***>; Comment ***@***.***>
Subject: Re: [xamarin/Xamarin.Forms] xamarin forms app won't deploy (Issue #15090)

Thi

[2022-01-28 08:37] jfversluis commented on #15098
Glad you figured it out, thanks!

[2022-01-28 09:03] jfversluis commented on #15090
Not loving things that magically start working... But I'll take it for now :P Thanks for letting us know!

[2022-01-28 09:03] #15090 closed

[2022-01-28 09:32] Enigma86d opened #15102 "Cannot correctly set selectedIndex of picker when the list contains duplicate items[Bug]"
### Description
I create a Xamarin Forms project for Android and I write a picker in xaml.
In the xaml file I also write a few items in the ItemsSource, making sure that there are at least two duplicate items.
In the c file I try to set the selectedIndex to the index of the second duplicate item.
The index will be wrongly set to the first duplicate item (not the second one).

### Steps to Reproduc

[2022-01-28 10:16] SUDALV92 opened #15103 "[Bug] Shell transition visual bug on iOS"
### Description
In Shell navigation, if you navigate from page with ```Shell.NavBarIsVisible="False"``` to page with ```Shell.NavBarIsVisible="True"```, there is a black/white (depend on device theme) rectangle appears.

### Expected Behavior

Solid background color as on target page.

### Basic Information

- Version with issue: 5.0.0.2196
- Platform Target Frameworks:
  - iOS:  15.x
  - Android:

[2022-01-28 11:41] paul-charlton commented on #6554
I've had success with this (from https://stackoverflow.com/questions/68440238/how-to-set-auto-height-of-collection-view-in-xamarin-forms)

[code]

[2022-01-28 15:37] aleks42 opened #15104 "[Bug] iOS ImageRenderer NullReferenceException"
### Description
iOS ImageRenderer NullReferenceException

### Steps to Reproduce

1.
XAML:
[code]

2.
C#:
[code]

3.
Run on emulator: IPhone 13 iOS 15.2

### Expected Behavior
Doesn't throw Exceptions

### Actual Behavior
Object reference not set to an instance of an object

  at Xamarin.Forms.Platform.iOS.ImageRenderer.UpdateBackground () [0x00000] in D:\a\1\s\Xamarin.Forms.Platform.iOS\Renderers

[2022-01-28 17:15] bhaynesch opened #15109 "Xamarin MVVM app events/commands not working in MacOS app"
### Steps to Reproduce

1.  Ported existing MVVM based Xamarin app to MacOS.  Currently runs on Android, iOS, and WPF
2. Buttons and other UI elements do not receive events or commands when clicked
3. Using ICommands

### Expected Behavior
Clicking a button should trigger ICommand
### Actual Behavior
Nothing happens
### Environment

[code]

### Build Logs

### Example Project (If Possible)

Unable

[2022-01-28 17:57] gsgou commented on #8598
I am noticing this also in Android and iOS.

[2022-01-28 20:03] cklenk commented on #15104
I too am getting this error on one of our apps. Running Xamarin forms 5.0.0.2337.
Crash log:
![image](https://user-images.githubusercontent.com/12185742/151613593-c378ba08-660b-4270-917b-7531a7f31ddc.png)
Stack trace:
ImageRenderer.UpdateBackground () D:\a\1\s\Xamarin.Forms.Platform.iOS\Renderers\ImageRenderer.cs:123
ImageRenderer.OnElementChanged (Xamarin.Forms.Platform.iOS.ElementChangedEventArg

[2022-01-29 01:16] aodegov commented on #13323
Issue is still here.
I can see URI images in collection view on Android, but can't see the same images in collection view on iOS.
(For instance used images from Xanimals MS example app)

[2022-01-29 11:00] mrjavicho commented on #14783
Run into this error today. XF (5.0.0.2337) project running on iOS 15.1.
In my case, I have a tabbed page with 3 tabs. One of them contains a webview.

At first, I thought the freeze/crash happened when navigating to another page, but, apparently, it happens eventually when moving around the tabbed pages.

@jfversluis do you have any update on this? you mentioned that for the time being people faci

[2022-01-29 14:35] aodegov opened #15105 "[Bug] No URI images in CollectionView iOS app"
### Description

iOS CollectionView images loading issue.
Can't see vast majority images there.

### Steps to Reproduce

1. [Launch the iOS project](https://github.com/xamarin/xamarin-forms-samples/tree/main/UserInterface/Xaminals/Xaminals.iOS)
2. See no loaded URI images into CollectionView  iOS app

### Expected Behavior
Correctly loaded and visible images for the iOS CollectionView
### Actual B

[2022-01-29 15:43] aodegov commented on #9147
One recent related to iOS images CollectioView issue [here](https://github.com/xamarin/Xamarin.Forms/issues/15105)

[2022-01-29 19:36] IndianaGary commented on #15090
That’s OK, it stopped working again… 😉

Do you know of any super-secret insider logging, tracing, or debugging tool(s)
I can use to troubleshoot deployment to an Android device or emulator?

Regards,
Gary

From: Gerald Versluis ***@***.***>
Sent: Friday, January 28, 2022 1:04 AM
To: xamarin/Xamarin.Forms ***@***.***>
Cc: Gary Lewis ***@***.***>; Comment ***@***.***>
Subject: Re: [xamarin/Xamarin.F

[2022-01-30 11:41] Zwawoo commented on #15104
+1 I get the same Error.
Maybe https://github.com/xamarin/Xamarin.Forms/commit/2095bee07eb7d5cb7e5a9f1fa38ce83af3490f18#diff-dcbb920f5fdb166b1bebde4fe8e62f77642b91933e1a7a38e1723c9d4a9c5e53 messed this up?

[2022-01-30 13:22] slprog1 commented on #15104
This is unbelievable!! I was waiting for the https://github.com/galadril/Xam.Shell.Badge/issues/15 to be fixed for almost two weeks!
Thanks God that issue is fixed now, and now we have this!
@xamarin-release-manager I have no idea how it is tested before any package is released, but please test it twice.
There are loads of applications built with Xamarin, but more and more people are switching to

[2022-01-31 06:30] BlueRaja opened #15107 "[Bug] RadioButtons can't be clicked on iOS. At all."
### Description
I feel like I'm losing my mind because there's no way this bug exists, right?

When you click on _any_ RadioButton in iOS, nothing happens.   They never change click-state.

Even when I copy+paste the most basic example from [the documentation](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/radiobutton) verbatim, it does not work:

[code]

### Steps to Reprod

[2022-01-31 08:59] mhrastegary77 commented on #11030
Any news? :(

[2022-01-31 11:02] ShariatPanah opened #15108 "[Bug] Label DataTrigger causes Text property to be empty"
### Description
I want to show a ShippingPrice label, so i have this label:
`<Label Text="{Binding ShippingPrice, StringFormat='{0:N0}'}" />`

this works fine, but i need to show a zero value based on ListViewItemsSource Count, so when the items count of listview is zero, the label Text needs to be set to Zero, so i use DataTriggers like this:

[code]

by doing this the label shows Zero when the i

[2022-01-31 11:58] mknotzer commented on #14752
still not working with Xamarin Forms 5.0.0.2337 and XCode 12.4 @jfversluis

[2022-01-31 12:48] jfversluis commented on #14783
Hey @mrjavicho unfortunately no new info on this at the moment.

[2022-01-31 17:19] DanielGlick45 commented on #13790
@jsuarezruiz I see that you made good progress on this bug. Any update on when this will be in an update?

[2022-01-31 20:54] jtorvald commented on #15087
I've a similar experience with CollectionView on iOS. When I navigate to an empty page in Shell (ShellContent with ContentTemplate but outside of the current tabs/section) and then I navigate back by opening menu, pick the first menu item with the tabs the CollectionView shows but not the items in it.
When I navigate within the  the bottom tabs or top tabs of Shell, the CollectionView items stay v

[2022-01-31 21:00] centrolutions commented on #15104
Downgrading to Xamarin.Forms 5.0.0.2291 solved this for me.

[2022-01-31 22:54] AndreKraemer commented on #15008
I have the same issue in one of our apps. Where you able to find a workaround @DamienDoumer?

[2022-02-01 05:49] gauravsk1996 commented on #12725
Hi, Issue is still present in iOS. I tested in v5.0.0.2337.

[2022-02-01 07:53] angelru commented on #14913
ping @jsuarezruiz

[2022-02-01 09:08] DaniRvd commented on #15104
Same issue here
![image](https://user-images.githubusercontent.com/20532118/151940632-4df33aa8-7fba-4b82-bd1b-c551454a12e8.png)

[2022-02-01 10:01] mlyrstad opened #15112 "[Bug] SIGABRT: Attempting to JIT compile method while running in aot-only mode."
### Description
Several runtime crashes with some kind of JIT problem:

[code]

[code]

[code]

### Basic Information

- Version with issue: 5.0.0.2337
- Last known good version: _To be determined_
- Platform Target Frameworks:
  - iOS:  11

[2022-02-01 10:28] vanhaperen commented on #14640
The problem still exists. See the attachment for an example project. When you downgrade XF to version 5.0.0.2083 scrolling works as expected.

[2022-02-01 11:06] malware-dev commented on #15112
Apparently this is an issue with SQLite, not Xamarin.

https://github.com/praeclarum/sqlite-net/issues/1067

DIsregard.

[2022-02-01 11:07] mlyrstad commented on #15112
Apparently this is an issue with the SQLite package, not Xamarin.

https://github.com/xamarin/Xamarin.Forms/issues/15112

Disregard.

[2022-02-01 11:07] #15112 closed

[2022-02-01 12:01] Eswaran17392 opened #15113 "Memory leak issue occurs when the ValueAnimator animation is not stopped"
### Description
I designed a custom control that will contain content and will be primarily used to display a basic animation before loading the content. We used **ValueAnimator** to start and stop the animation in our custom control. When we placed the custom control inside the Collection view data template, we encountered a memory leak on the Xamarin forms Android platform. We used a garbage col

[2022-02-01 13:36] byte7-ra commented on #8952
Stuck in the same problem. Any workaround?

[2022-02-01 14:23] yurisem opened #15114 "On Android Scrolling CollectionView while dragging item does not work"
### Description
On Android Scrolling CollectionView while dragging item does not work
Sample: https://devblogs.microsoft.com/xamarin/collectionview-drag-and-drop/

### Steps to Reproduce
1.  Run Sample: https://devblogs.microsoft.com/xamarin/collectionview-drag-and-drop/
2.  Move the item to the edge
3.  Does not work Scrolling On Android

[2022-02-01 17:27] GivennameSurname commented on #15072
Unfortunately, my App throws now also lot's of Exceptions.

I have nailed it down to the "<Line .../>" and to iOS > 15.0 and the last Xcode-Update because I didn't update any NuGets at all nor changed a bit of a code inside my Project.

A quick (and dirty) workaround, which helped me meanwhile:

Paste this Code in your AppDelegate.cs   =>
` / ...
            ObjCRuntime.Class.ThrowOnInitFailure =

[2022-02-01 20:09] LeoJHarris commented on #12209
👍

[2022-02-01 21:04] danielmamnev commented on #9550
@orikworld Solution works great. Thank you!

[2022-02-01 23:18] slprog1 commented on #13323
Same thing with my iOS part of the project. I an reproduce it with the latest version installed on my laptop
--------------
Visual Studio Enterprise 2019 for Mac
Version 8.10.17 (build 2)
-------------
Xamarin.iOS
Version: 15.4.0.0 (Visual Studio Enterprise)

[2022-02-02 04:41] hunsra commented on #14233
I have the same issue with CollectionView on Android.

[2022-02-02 04:43] brettnguyen commented on #14952
I believe I solved your problem. but this in your carousel viewmodel:

   public void OnDisappearing()
        {
            IsBusy = false;
        }

then put this in your caurselpage.xaml.cs

 protected override void OnDisappearing()
        {
            base.OnDisappearing();

            viewModel.OnDisappearing();

            ClearCarousel();
        }
This should work I tested it.

[2022-02-02 05:07] JackDevAU commented on #15052
As a work around you can return

` new DataTemplate(typeof(ContentView)); `

which seems to not render the item at all :)

[2022-02-02 07:39] yurisem opened #15115 "The color of the badge on iOS does not change from version above 5.0.0.2125 (5.0.0.2196 etc.) [Bug]"
### Description
The color of the badge on iOS does not change from version above 5.0.0.2125 (5.0.0.2196 etc.). Background color is now always Red.

### Steps to Reproduce

1. Use BadgeShellItemRenderer
    https://drive.google.com/file/d/1bfLjwiMLYELL4SXMoYB1Nbe6bJ8IKBAB/view?usp=sharing
    https://drive.google.com/file/d/1ht1RUyYhhpq0_3zSCfTr0qdWVDrRXACq/view?usp=sharing
2.  Update Xamarin  5.0.

[2022-02-02 10:03] IrinaDoroshenkoXamarin commented on #9879
https://user-images.githubusercontent.com/54314168/152132615-aab3687f-fa74-4bfb-92ea-7dc346ed43e2.MP4

I have the same issue with CollectionView and Entry inside header. Xamarin Forms is 5.0.0.2337 (the latest version)

[2022-02-02 10:35] MarcelWinkelEBF commented on #15114
Hi, we are facing the same issue on Android. For iOS its working fine to scroll with a second finger while we have the drag item.

[2022-02-02 11:52] bakerhillpins commented on #15052
@JackDevAU  Yes, that avoids the exception, but as you noticed it displays nothing, and for several controls it's actually supplying the wrong type of View container.  As I worked through the PR I noted that the default template is dependent upon both the control and in a few cases the platform as well.

With a little experimentation you could come up with a proper default for each circumstance, s

[2022-02-02 13:23] jfversluis commented on #15115
Hey there, yes iOS 15 introduces some new things for Tab Bars and Navbars and now you have to set it through the appearances as you indeed discovered yourself.

I can't really say anything about the not updating of the color since I don't know what the rest of your renderer looks like with that second snippet of code.

[2022-02-02 13:30] jfversluis commented on #15109
Thanks for the report @bhaynesch without any code or some sort of reproduction it's near to impossible to diagnose what might be going on here. Also, you probably want to turn to the Discussions tab on this repository, the [.NET Tech Community Forums](https://techcommunity.microsoft.com/t5/app-development/bd-p/app-dev) or Stack Overflow for questions. These options will probably get you better ans

[2022-02-02 13:30] #15109 closed

[2022-02-02 13:38] jfversluis commented on #15107
As you already pointed out, Hot Restart is probably the cause here. It might link out some things that are needed. I think I got a couple of other issues open for that as well. Sorry about that. Do you have any way of confirming this by going through a Mac machine?

[2022-02-02 13:40] jfversluis commented on #15105
Duplicate of #13323

[2022-02-02 13:40] #15105 closed

[2022-02-02 13:52] KazysNoobiys opened #15116 "[Bug] iOS SignalR + MessagePack Building Xamarin.ios through Appcenter throws System.NotImplementedException: byref delegate"
I use SignalR + MessagePack. When I build a Xamarin.iOS project locally, on my machine, everything works correctly. But if i build the project through Appcenter, it throws System.NotImplementedException: byref delegate

### Steps to Reproduce

1)Create a Xamarin.Forms project
2)Generate MessagePackGenerated using the MessagePack.Generator tool or use MessagePack.MSBuild.Tasks, no difference
3)Buil

[2022-02-02 14:16] jfversluis commented on #15104
Hey all, sorry about this one! A PR (#15117) for this is open now, would you be able to grab the NuGet [as described here](https://github.com/xamarin/Xamarin.Forms/wiki/Preview-Packages) (as soon as the build completes) and let us know if this fixes this issue? That will greatly speed up the review process.

Besides verifying if this particular issue is fixed also be sure to check other scenarios

[2022-02-02 14:31] #12538 closed

[2022-02-02 14:41] Redth opened #15118 "Repo Participation / Community Survey"
A couple years ago we surveyed you the members of the community in this repo to learn how we were doing as maintainers.

It's time to repeat the same survey. Whether you've been involved for years or you're relatively new please tell us about your experience participating and contributing to the project. It should only take a few minutes, and you can answer for up to 3 repos:

[Xamarin.Forms Repo

[2022-02-02 15:46] BlueRaja commented on #15107
Unfortunately no. That's why I'm using Hot Restart to begin with.

[2022-02-02 17:13] Raffro commented on #12246
Any news on this issue?
I am also using visual studio 2022 community and xamarin forms and all labels I define don't display them texts until I define the label textcolor explicitly

[2022-02-02 17:24] aodegov commented on #15105
@jfversluis  any updates / fixes for this?

[2022-02-02 17:25] hunsra opened #15119 "[Bug] CollectionView on Android intermittently fails to display some items after its ItemsSource's ObservableCollection is emptied with Clear() and then replaced with a new ObservableCollection"
### Description

If a CollectionView's ItemsSource property is set to an ObservableCollection object , filled with items, then emptied using ObservableCollection.Clear(), when a new ObservableCollection is assiged to the CollectionView's ItemsSource property, the CollectionView intermittently fails to show some of the first few items in the collection.

### Steps to Reproduce

1. Clone the repo at

[2022-02-02 18:23] IeuanWalker commented on #2593
@davidortinau this is an issue in Maui preview

[2022-02-02 19:25] jfversluis commented on #15119
Looks like a duplicate of #15097

[2022-02-02 19:25] #15119 closed

[2022-02-02 23:50] EmilAlipiev commented on #15012
thats rare but coming now and then, I have just got for android. Font is there its working fine but I dont get why this error is occuring even not very often.  I am using the latest version of the XF and AndroidX libraries.

Android: 6.0.1
Android Build: MXB48T
Manufacturer: LGE
Model: LG-K220

[code]

[2022-02-03 08:45] dcarapic commented on #9979
I also have this bug and it is annoying. The workaround would probably be to set the text once the control is rendered. However there seems to be no event/property which tells you if the Entry is rendered or not. Does someone know of a working workaround?

[2022-02-03 17:08] AlleSchonWeg opened #15120 "[Bug] Deploy on Android API 31 failed/crash"
Hi,
i'm unable to deploy a app in an Android Pixel 5 Emulator with API31 in RELEASE-Mode.
App terminates immediately with this Stacktrace:

With another app the Stacktrace is slightly different:

### Description

### Steps to Reproduce

1. Create an new Android Emulator with API = 31
![image](https://user-images.githubusercontent.com/6727366/152391192-7eaa3a90-4b5c-45da-a7e4-f3ef27e71edf.png)

2.

[2022-02-03 18:27] npostma commented on #14952
What trickery is this :-) It seems to work. How can the IsBusy bool have effect on the collection?

[2022-02-03 18:39] RCLuciano commented on #10825
Hello @cabal95, I add the workaround and the issue was fixed, not error shows, but there is an abnormal behavior. most of the entries is being duplicated in the list.

[2022-02-03 18:49] bhaynesch opened #15121 "[Bug] NavigationPage.Navigation.PushAsync null pointer exception on MacOS"
### Description
Adding a page to navigation on Mac OS gets a null pointer exception
### Steps to Reproduce

1. Create new NavigationPage object:            var page = new Page();
            NavigationPage.SetHasNavigationBar(page, false);
            NavigationPage = new NavigationPage(page);
2. Add a new page to the stack using PushAsync:  await NavigationPage.Navigation.PushAsync(page);
2.
3.

[2022-02-04 08:23] DamienDoumer commented on #15008
Nope, what I did was just to change my approach. I moved the page that needed a specific condition to be displayed away frrom the flyout menu.
I was stuck, and didn't have enough time to experiment

[2022-02-04 08:32] dcarapic commented on #9979
For everyone encountering the issue the workaround is to use FlexLayout instead of StackLayout.

[2022-02-04 09:32] jfversluis commented on #9979
Thanks for the input Dalibor! That makes it seem like something is going wrong in StackLayout then

[2022-02-04 10:54] jfversluis commented on #13794
I suspect something in here has to do with it: https://github.com/xamarin/Xamarin.Forms/pull/13678

[2022-02-04 13:12] jfversluis commented on #13794
Hey @beeradmoore @RemcoDEV, a PR (#15122) for this is open now, would you be able to grab the NuGet [as described here](https://github.com/xamarin/Xamarin.Forms/wiki/Preview-Packages) and let us know if this fixes this issue? That will greatly speed up the review process. Make sure to take the exact version as attached to this PR.

Besides verifying if this particular issue is fixed also be sure t

[2022-02-04 13:25] jtorvald commented on #15087
I tried to hunt down the bug in Xamarin.Forms development branch but had problems with setting up the development environment with my project. I've not been able to reference the development project and to debug. Maybe someone that reads this know how to do that, but I kept jumping into the .dll from an older nuget package.

Anyway, what I found is that a simple custom renderer fixes this issue fo

[2022-02-04 13:32] RemcoDEV commented on #13794
Hi @jfversluis . It seems to work as intended. No side effects found. Thank you!

[2022-02-04 13:50] AlleSchonWeg commented on #15120
After a litte bit more researching, i found two similar issues:
https://github.com/xamarin/xamarin-android/issues/4291
and
https://github.com/xamarin/xamarin-android/issues/1842

[2022-02-04 14:31] lubiepomaranczki commented on #14967
Hey 😊
@jsuarezruiz do you have update on this one?

It's been more then a month and we are waiting for feedback so we can align our roadmap. I know that you are busy but any feedback would be useful 🙏

cc: @maddymontaquila, @jfversluis

[2022-02-05 03:46] beeradmoore commented on #13794
@jfversluis , my above repro is in a weird state where trying to use it (either with the XF it has, updated, or updated to the PR version) where attempting to scroll it crashes it. That repro also has some weird things happening in it so it may be because of that.

I tried it in our production app and I didn't notice any new problems. However in its pre-PR-nuget state we also no longer were experi

[2022-02-05 11:53] AdamEssenmacher commented on #14311
Just hit this myself.

UIKitCore error message is: `negative or zero item sizes are not supported in the flow layout`

MonoTouchException: Objective-C exception thrown. Name: NSInternalInconsistencyException Reason: negative sizes are not supported in the flow layout.

In my case, I was experiencing this when PeekAreaInsets was set > 0 AND the view was also rotated around the Y-axis, which is comm

[2022-02-05 11:54] #15120 closed

[2022-02-05 14:04] Muthukumaradappt commented on #14852
Hi @HarshalCapgemini, Please let me know if you find any solution for this.

[2022-02-05 15:45] Muthukumaradappt commented on #14852
Hi @rachelkang, If I'm coming to the first-time to the page, then I have to focus on the particular element. when on appearing the page like see this example

 protected async override void OnAppearing()
{
            base.OnAppearing();
            Xamarin.CommunityToolkit.Extensions.SemanticExtensions.SetSemanticFocus(headerText); //Label
 #}

But it will throw the Exception => Cannot access the

[2022-02-05 15:50] Muthukumaradappt opened #15123 "Hi @rachelkang, If I'm coming to the first-time to the page, then I have to focus on the particular element. when on appearing the page like see this example"
Hi @rachelkang, If I'm coming to the first-time to the page, then I have to focus on the particular element. when on appearing the page like see this example

 protected async override void OnAppearing()
{
            base.OnAppearing();
            Xamarin.CommunityToolkit.Extensions.SemanticExtensions.SetSemanticFocus(headerText); //Label
 #}

But it will throw the Exception => Cannot access the

[2022-02-06 13:21] YZahringer commented on #14721
Closed by #14780

[2022-02-06 13:21] #14721 closed

[2022-02-06 13:25] YZahringer commented on #8928
I think this issue is solved by #14780

@JKennedy24 Could you check/validate it with the latest [5.0.0 Service Release 9](https://github.com/xamarin/Xamarin.Forms/releases/tag/release-5.0.0-sr9)?

[2022-02-06 20:14] softlion commented on #1520
Repro 2022:
- create a shell app with 2 tabs
- add the map to the 2nd tab
- switch between tabs

Workaround 2022: same as PatrickCunningam above
[code]

[2022-02-06 21:33] benas1989 opened #15125 "[Bug] CollectionView rendering problem"
### Description
Hello,
I found a problem with CollectionView.  For some reason, the right edge is cut off. You can see better in the attached photos.
But it only happens on iOS. I test on iPhone simulator and on my iPhone 12.

### Steps to Reproduce

1. Create new project.
2. Add some data to bind (maybe list of strings ).
3.

[code]

### Basic Information

- Version with issue: ?
- Last known goo

[2022-02-07 03:35] chenxx08 commented on #12209
+1111

[2022-02-07 08:15] #15123 closed

[2022-02-07 12:41] saiganesh-sakthivel commented on #15038
Hi @jsuarezruiz,

We are using the custom renderer in our sample. The reported crash occurs randomly. It is hard to replicate in a simple sample. could you please share the possible null check to overcome the reported crash?

Regards,
SaiGanesh Sakthivel

[2022-02-07 13:25] BaggioGiacomo commented on #9268
I think they have fixed this! In your `appshell.xaml` you can add:
[code]

[2022-02-07 16:04] Raystorm7 opened #15126 "[Bug] Xamarin android - push notification Intent extras lost"
### Description

I have follow [this](https://docs.microsoft.com/en-us/azure/developer/mobile-apps/notification-hubs-backend-service-xamarin-forms#option-2-creating-a-p8-certificate-that-can-be-used-for-token-based-authentication) guide to setup push notification in my Xamarin Forms app.

I have an app with two activity,
one splash activity
[code]
and the MainActivity

[code]

in the main activity

[2022-02-07 16:53] cpraehaus opened #15127 "[Bug] PushModalAsync fails on iOS if another UIViewController is active (e.g. through XE Browser.OpenAsync)"
### Description
``PushModalAsync`` fails if another UIViewController is active, e.g. through ``Browser.OpenAsync()`` from Xamarin.Essentials package. In that case it uses its own tracked view controller to present the modal view which is not in the window hierarchy. This produces the following warning:
[code]
Modal page is not shown and ``PushModalAsync`` never completes.

### Steps to Reproduce

[2022-02-07 16:54] MaxFelinger commented on #14395
Invoking the absolute navigation the first time results in getting stuck at this line https://github.com/xamarin/Xamarin.Forms/blob/130d8f5b812d3173de5b12d04fe05a7588490c6a/Xamarin.Forms.Core/Shell/ShellSection.cs#L846

Invoking navigation the second time will finish the first task and also executes the second task successfully.

[2022-02-08 00:50] rutledmj opened #15128 "ITMS-90338: Non-public API usage - The app references non-public selectors in [App]"
Hi, I am building a Xamarin.Forms app that is building properly and deploying to the Apple App Store but keeps getting rejected for the following reasons:

I coded the app on a PC in Visual Studio Community 2019 v16.9.1.  And built and deployed the app via Appcenter.ms.

Packages that I am using are:
Microsoft.AppCenter.Analytics v4.5.0
Microsoft.AppCenter.Crashes v4.5.0
Xamarin.Essentials v1.7.1

[2022-02-08 07:28] chadzhao commented on #13527
Any update for this? Can't beleave one more year, this bug still exists.

[2022-02-08 08:04] dos-ise commented on #5935
I have a netstandard library that heavily uses ConfigurationManager and throws this exception.
Since I am not developer of this library is it possible to do anything else. The exception throws immediately when using this lib.

[2022-02-08 10:58] Phenek commented on #11859
Ok I got this issue in very specific way!

I am using an array of tasks that read/write in to the Application.Current.Properties Dictionary.
It seems if two tasks try to read or write when Application.Current.Properties is in use then we got this exception.

It's easy to reproduce this issue with a > 2 MegaByte SerializeObject string

[code]

[2022-02-08 11:32] jfversluis commented on #13527
We should buy it a cake! Any help in diagnosing or fixing the issue is very welcome @chadzhao !

[2022-02-08 11:33] jfversluis commented on #13527
Oh even better, it seems a PR is already opened for this by @gentledepp thank you so much for that! Will check that out shortly and see if I can merge it.

[2022-02-08 12:20] PeterLinecker opened #15129 "[Bug] NavigationPage Bug with Animation (Blank Screen)"
If you use a NavigationPage and navigate to a page with animation: Navigation.PushAsync(new Page1(), true)
then pop the page without animation: Navigation.PopAsync(false); you get a blank page.
The other way around it works normal.
The bug only occurs on android devices.

### Steps to Reproduce

1.  Make a new Xamarin.Forms project
2.  Set MainPage = new NavigationPage(new MainPage())
3.  Make a s

[2022-02-08 12:48] NicolaZuc commented on #14996
Hi and sorry for the delay. Here is an example of runnable code that will show you the problem and a video running with the barcode scanner. As you can see in the video, the value that is being read is empty in all cases except for the last one (binding value on text property of the entry and waiting 500ms). I've also used the barcode scanner in the notedpad to show how it works and which characte

[2022-02-08 13:19] knocte opened #15130 "[Bug] (Gtk) Cheese chart ends up having weird rendering"
### Description

We have developed a cheese-chart which works well on Android and iOS.
Example in android:

![cheese-android-cropped](https://user-images.githubusercontent.com/331303/152995112-9ccb488e-2258-4538-9e22-2f4e072f1ff8.png)

In Gtk it works most of the time, but we have found an edge case (with same values as the example above):

![cheese-gtk-cropped](https://user-images.githubuserconte

[2022-02-08 17:57] vsfeedback opened #15132 "Listview Data Binding on ItemTemplate binds to ViewModel, not Item in Items source."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Listview-Data-Binding-on-ItemTemplate-bi/1648023)._

---
[severity:I'm unable to use this version] [regression] [worked-in:17.0 build 6509]
VS Mac 2022 - 17.0 preview (17.0 build 6509)

Tried to create a XAML page with a Listview to display a label to display one of the properties in the

[2022-02-08 17:58] vsfeedback opened #15133 "SqlCommandBuilder must not be used in Xamarin Forms"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/SqlCommandBuilder-darf-nicht-in-Xamarin-/1649081)._

---
var dataadapter = new SqlDataAdapter(asqlstr, Adocon);
new SqlCommandBuilder(dataadapter);//erzeugt haarsträubende Fehler  in einer
XAmarins app, bei mir

Nachricht = Could not resolve type with token 01000057 from typeref (expecte

[2022-02-08 18:51] #13527 closed

[2022-02-08 18:53] jfversluis commented on #15104
Anyone able to verify this?

[2022-02-08 19:11] anchorit3 commented on #15125
I faced the same problem today, it seems like ItemTemplate adding 1px padding.
For me helped this workaround:
https://github.com/xamarin/Xamarin.Forms/issues/12287#issuecomment-736261988

[2022-02-08 19:39] benas1989 commented on #15125
Thank you. I also found this solution. But that doesn’t solve the problem. I don’t see the point in doing a complicated visual tree.

[2022-02-08 20:32] aleks42 commented on #15104
Xamarin.Forms 5.0.0.8022
Xamarin.Forms.Visual.Material 5.0.0.8022
(from https://aka.ms/forms-prs/index.json)

  System.NullReferenceException: Object reference not set to an instance of an object
  at Xamarin.Forms.Platform.iOS.ImageRenderer.UpdateBackground () [0x00001] in D:\a\1\s\Xamarin.Forms.Platform.iOS\Renderers\ImageRenderer.cs:123
  at Xamarin.Forms.Platform.iOS.ImageRenderer.OnElementCha

[2022-02-08 20:58] ederbond commented on #13752
@jfversluis @hartez @maddymontaquila any news on this?
RadioButton it's a basic control that should just works. Please guys focus on this kind of bug before working on new stuffs. After several years XF it's still full of bugs on out of the box controls. For the good sake, I pray to god that you guys do not make it repeat on .NET MAUI. When I hear people talking about Commet, Blazor Mobile whaterv

[2022-02-08 22:59] raymond-dillon opened #15134 "Xamarin Forms Editor iOS Custom Renderer Placeholder Margin"
I've a Xamarin Forms Editor with an iOS Custom Renderer.

I use TextContainerInset to set a margin within the text control but the same margin isn't applied to the placeholder position.

What can I set within the renderer to change the placeholder position?

[2022-02-08 23:45] JairoMarques commented on #14675
Hi, I have the same scenario.

I have a very simple WebViewPage, like below:

`<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             x:Class="MyApp.Views.ContactUs">
    <ContentPage.Content>
        <StackLayout>
            <WebView x:Name="webView" Source="https://www.mi

[2022-02-09 01:05] raymond-dillon opened #15135 "Equal Margin between last control on screen and bottom of screen"
I have a Layout that has a list view and an editor with the property AutoSize="TextChanges"

When the keyboard appears, the view is shifted upwards but the margin between the list view and the top of the editor and the bottom of the editor and the bott9m of the screen is uneven.

![42273e20-9668-4004-a7a6-65ffef5872f1.png](https://user-images.githubusercontent.com/28100585/153102160-333aa198-5fa3-

[2022-02-09 04:18] l0gaw commented on #15000
I'm having the same issue. It's a regression. Is there any workaround? I found this temp solution:
Implement a custom label renderer and override the method OnLayout like this:
[code]
I know this is not the ideal workaround because of the poor performance of throwing exceptions every time. Is there any other way to work around this?

[2022-02-09 07:38] BlueRaja commented on #14956
Just want to verify that, using Hot Restart, all `GestureRecognizer`s are completely broken, for all controls.  Along with [many](https://github.com/xamarin/xamarin-macios/issues/14013) [many](https://developercommunity.visualstudio.com/t/VS-2022-breaking-on-caught-exception-ev/1650854?from=email&space=8&scope=follow) [other](https://developercommunity.visualstudio.com/t/missing-method-bug-fixed-i

[2022-02-09 07:43] DaniRvd commented on #15104
Till the issue is fix you ca use the following workaround
Override the default Image renderer and check for null
using System;
using System.ComponentModel;
using System.IO;
using System.Threading;
using System.Threading.Tasks;
using Foundation;
using UIKit;
using Xamarin.Forms.Internals;
using RectangleF = CoreGraphics.CGRect;
using PreserveAttribute = Foundation.PreserveAttribute;
using Xamarin.F

[2022-02-09 09:11] jl-memosoft commented on #11330
Removing Application.Current.UserAppTheme also fixed my problem. It is now invoked every time when change the emulator
s display mode. Thanks @ericbrunner

@jfversluis , maybe this needs to be added to the docs as caution? Thanks :)

[2022-02-09 09:14] jfversluis commented on #13752
Hey @ederbond! Thanks for the ping here. I totally understand how that may seem. In fact, maybe part of the reason that this is now open for so long is that we indeed want to make sure we don't repeat this for .NET MAUI.

We're doing the best we can at the moment and are pushing out service releases each month. Sorry we didn't get to this one yet. I see you're a contributor, first: thank you very

[2022-02-09 09:18] jfversluis commented on #14956
I've raised it again to the people responsible, thanks for your patience!

[2022-02-09 09:19] jfversluis commented on #15133
Hey there author, I hope you get to read this here! Unfortunately this issue seems to lack a lot of details about what you are trying to do. Please open a new issue here with all the details in the template if you're still facing this. Thanks!

[2022-02-09 09:19] #15133 closed

[2022-02-09 09:20] jfversluis commented on #15128
Hey there! Why are you adding `--linkskip=[selectors]` this? I think that is your problem :)

[2022-02-09 09:21] jfversluis commented on #15129
Duplicate of #14994

[2022-02-09 09:22] #15129 closed

[2022-02-09 09:24] jfversluis commented on #15134
Hey there @raymond-dillon! Thanks for your question.

The issues on this repository are meant to be about feature requests or bugs in our codebase. For questions and how-to asks, you probably want to turn to the [Discussions tab on this repository](https://github.com/dotnet/maui/discussions), the [.NET Tech Community Forums](https://techcommunity.microsoft.com/t5/app-development/bd-p/app-dev) or [

[2022-02-09 09:24] #15134 closed

[2022-02-09 09:24] jfversluis commented on #15135
Please see #15134 thanks!

[2022-02-09 09:24] #15135 closed

[2022-02-09 09:34] jfversluis commented on #15132
Thanks for the report! I see your original problem was solved. I tried running the Maps sample as pointed out, but that seems to run fine on my end. Let me know if there are still any problems you're facing with this!

[2022-02-09 09:34] #15132 closed

[2022-02-09 09:36] jfversluis commented on #15125
Thanks for the report! I see some issues are already open for this, so closing this as a duplicate for now.

[2022-02-09 09:37] jfversluis commented on #15125
Duplicate of #8961

[2022-02-09 09:37] #15125 closed

[2022-02-09 09:37] jfversluis commented on #12287
Duplicate of #8961

[2022-02-09 09:37] #12287 closed

[2022-02-09 09:38] jfversluis commented on #13682
Duplicate of #8961

[2022-02-09 09:38] #13682 closed

[2022-02-09 10:01] jfversluis commented on #15121
Hey thanks for the report! Would you maybe be able to put this in a small sample project? I'm not entirely sure what you're doing in code. Some testing on my side doesn't show this issue.

Thanks!

[2022-02-09 10:02] jfversluis commented on #15104
@aleks42 as per the instructions, the exact version you want to test is: 5.0.0.8013, thanks

[2022-02-09 10:22] aleks42 commented on #15104
@jfversluis - Gerald, 8013 works fine!

[2022-02-09 10:32] bnoffer opened #15136 "[Bug] iOS Setting FlyoutItem IsVisible to false blocks loading of modal views"
### Description

After upgrading to Xamarin.Forms 5 we encountered a strange issue: We have a use case in our app where we want to hide a FlyoutItem on demand therefore the IsVisible property is bound to a ViewModel property. When setting the property to false it now blocks all modal pages pushed via Shell.Current.Navigation.PushModalAsync() from being displayed. You can see that the page is loade

[2022-02-09 11:03] jfversluis commented on #15104
Perfect, thanks for letting me know, should be fixed for next Service Release then!

[2022-02-09 11:03] #15104 closed

[2022-02-09 13:30] jfversluis commented on #13794
Perfect, thanks so much for taking the time to verify and provide me with this input! Looks like I'll be merging this for now and look at the other mentioned things separately.

[2022-02-09 13:37] melmulcahy32 commented on #14956
I think VS 2022 Preview 5 has a lot of patches regard this issue. It's been promising for my team so far.

[2022-02-09 14:21] rutledmj commented on #15128
Thanks for your advice. I ran into the issue prior to adding that to the mtouch arguments. The issue occurred both with and without the arguments.

I ended up getting a Mac VM and publishing the app through Transporter.
The issue is definitely with the Xamarin.iOS SDK. When I change versions, the error was the same, but the arguments changed.

[2022-02-09 14:33] MichaelRumpler opened #15137 "[Bug] [UWP] WebView crashes on UWP with target version 16299"
### Description

If you set the Target version of your UWP project to 16299, then the WebView crashes immediately. It only works with Target version 17763. I didn't test all the other versions.

### Steps to Reproduce

1. Create a new XF project with UWP
2. In the project properties of the UWP project set the Target version to "Windows 10 Fall Creators Update (10.0; Build 16299)"
3. In MainPage.xa

[2022-02-09 14:44] MichaelRumpler commented on #13622
I just made a repro for this issue. The app crashes as soon as you focus the `DatePicker` in your WPF app. That's also where the StackTrace from above points to:

My repro:
[Repro_WPFDatePicker.zip](https://github.com/xamarin/Xamarin.Forms/files/8033537/Repro_WPFDatePicker.zip)

I tested with XF 5.0.0.2012 and 5.0.0.2337.

This seems to be the same as https://github.com/xamarin/Xamarin.Forms/issue

[2022-02-09 15:47] jfversluis commented on #15128
Thanks for letting us know! Raised it with the iOS team, closing it here as there is nothing we can do on our side :)

[2022-02-09 15:47] #15128 closed

[2022-02-09 15:52] capdj opened #15138 "UWP Label with TextType=HTML can go into infinite loop"
As per title, I'm seeing my UWP XF app hang when opening a page with labels on it that have TextType=HTML.

This loop in UAP.LabelHtmlHelper.AddLineBreakIfNeeded looks suspicious:

[code]

If lastInline is a Span but with Inlines.Count=0, won't this loop forever? Perhaps there should be an "else break" on the if check?

For example, I can see the hang if the HTML I assign to the label text contain

[2022-02-09 16:36] bhaynesch commented on #15121
I created a stripped down program that uses MVVM, has two pages, and during startup, it pushes both pages on the stack to try and simulate what I'm seeing.  I created a WPF project that uses this base code and it worked so I added a MacOS project and unfortunately for me, it worked there too.  So now I'm at a loss at what to try next.  Our application is very complicated and has it's own navigatio

[2022-02-09 16:51] evgenyKozlov1996 commented on #15128
Hello, @rutledmj

I faced with the same issue, with the same list of private APIs but I am not use any AppCenter SDKs. I have the following links:
- Newtonsoft.Json 12.0.3
- ReactiveUI.XamForms 14.1.1
- ReactiveUI 14.1.1
- RestSharp 106.11.7
- Splat.Microsoft.Extensions.DependencyInjection 12.1.4
- Xamarin.CommunityToolkit 1.1.0
- Xamarin.Essentials.Interfaces 1.7.0
- Xamarin.Forms.Visual.Material

[2022-02-09 18:54] #13371 closed

[2022-02-09 18:54] #13794 closed

[2022-02-09 19:31] bhaynesch commented on #15121
I changed my sample program to more closely emulate what I do in our app and now PushAsync hangs on Mac and never returns.  But it works fine on WPF.  In the attached solution, Test->ViewModel->BasePageViewModel, the NextPage function gets called from a command button in the Page1ViewModel.  When the app launches, page 1 comes up, user hits button to navigate to page 2.  On WPF page 2 appears.  On

[2022-02-09 19:59] JairoMarques commented on #14675
@jsuarezruiz i hope my post could help

[2022-02-09 22:29] rutledmj commented on #15128
I built the app on Visual Studio on PC and tried to publish through Appcenter. These options aren't available on PC as far as I know.

[2022-02-09 23:37] balintn22 commented on #6486
For me (Xamarin Forms 5) on my page that is the first ShellItem in the AppShell.xaml, OnAppearing is called twice.
I use that to initially display a modal page (for login, based on https://mallibone.com/post/xamarin-forms-shell-login).
However, when the modal login page disappears, OnAppearing on the initial page is not called again.

[2022-02-09 23:38] melissa-gzz commented on #15128
yes in vs pc, when you build the app you need to select on top the option release instead of debug, and in the next select the option that says iphone, at least that work for me

[2022-02-09 23:42] rutledmj commented on #15128
Oh I'm sorry. VS for PC doesn't have archiving as far as I know.

I did set the build configuration to Release and Device to iPhone.

[2022-02-10 06:28] michaldivis opened #15140 "[Bug] How to get intellisense to work for resources from another assembly?"
### Description
This is more of a question than a bug report, I'm sorry if this isn't the right place to post it.

I wanted to separate my Xamarin app styling to a **separate class library** so it can be **reused in other apps** (light and dark theme, control styles, etc). However, the issue I'm running into is that when the class library is installed (via private nuget feed) and used in Xamarin a

[2022-02-10 08:19] softlion opened #15141 "[Bug] setting Shell.NavBarIsVisible="False" disables interaction in collectionview's group headers on iOS"
### Description
When having `Shell.NavBarIsVisible="False"` on the main page, then opening a sub page, then going back to the main page,
any active element (ie: buttons) inside any of the collectionview's group header does not react anymore to tap.

This happens only on iOS (iPhone and iPad). On Android there is no issue.

Remove `Shell.NavBarIsVisible="False"` and all starts working as expected.

[2022-02-10 14:03] XamMattia83 commented on #8436
Hello Gerald i'm Mattia, i had the pleasure to talk with you during your lives...i'm a fan of yours ;)

Well, the problem with the white flash is simply caused by the animation enabled on navigation when you press the back button (hardware button or the navigation bar back arrow). This is very clear if you have a "dark" background.  Users simply need to disable the animation with the navigation AP

[2022-02-10 15:55] henda79 commented on #11489
I have the same issue, but I doubt it will ever be fixed. We will more than likely only see critical fixes to Xamarin now since the priority is on MAUI.

[2022-02-10 19:26] vsfeedback opened #15143 "Shell Background Changes Colour and Unwanted Hamburger Appears"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Shell-Background-Changes-Colour-and-Unwa/1585431)._

---
I have a navigation structure as shown in the following diagram:

! [Shell Navigation Diagram.png] (https://aka.ms/dc/image?name=B079e3d457cca43dfa4750e1b9bf9eb05637726500573237319_Shell_Navigation_Diagram.png&tid=079e3d457cca43dfa

[2022-02-10 19:40] softlion commented on #15141
Ok i've looked at https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs

My guess is that Shell resets the page content when it navigates back to it, and this GroupableItemsViewController control is not fully compatible with the way shell rebinds the data. It has some internal cache for the viewmodel.
Maybe i'm completely asid

[2022-02-10 21:13] vsfeedback opened #15144 "TapGestureRecognizer not working on iOS in Visual Studio 2022"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/TapGestureRecognizer-not-working-on-iOS-/1644568)._

---
[severity:I'm unable to use this version]
    Dim tgrSwipe As New TapGestureRecognizer

AddHandler tgrSwipe . Tapped, Sub()
                                                                'Fire Event

[2022-02-10 21:13] vsfeedback opened #15145 "Xamarin UWP IndicatorView not display indicator."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-UWP-IndicatorView-not-display-in/1643917)._

---
When using IndicatorView without linking with CarouselView, the indicator was not displayed under the UWP environment.
It was displayed without any problem in the Android environment.

When I looked at the UWP display implementatio

[2022-02-11 00:02] ryano-xmplify commented on #13016
Same issue for me too.
The app is trying to convert a photo to bytes before sending it to an API.
Native crash on the line of code that assigns the byte array ... and error logs not very useful.
iOS 15.3 and iOS 15.3.1 today too
[err_iOS_15_3_1.txt](https://github.com/xamarin/Xamarin.Forms/files/8045087/err_iOS_15_3_1.txt)
[err_iOS_15_3.txt](https://github.com/xamarin/Xamarin.Forms/files/8045088/e

[2022-02-11 05:50] chaoyebugao commented on #12209
+1

[2022-02-11 09:01] NemesisXB commented on #7521
Another 6 months has past and still not fixed?

[2022-02-11 10:16] devvaluelabs opened #15146 "Android Mobile Display Issue"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Visual Studio for Mac 2019

### Description

Hi,

I have faced an issue with the fontsize in my Xamarin.Forms Android application. When the font size in Mobile Configuration settings is increased to largest or the highest value, our app's font size is increasing and some of the text is get

[2022-02-11 12:40] jfversluis commented on #15144
This is on Windows, so I'm assuming Hot Restart is used. In that case duplicate of #14956

[2022-02-11 12:40] #15144 closed

[2022-02-11 12:41] jfversluis commented on #15138
Thanks for the report and investigation on this. To test your theory it would be very helpful if you could provide is with a reproduction sample that shows this issue.

Also, please use the bug report issue template next time. Thanks!

[2022-02-11 13:20] softlion commented on #7729
It does work with styles. It does not work anymore with DataTrigger's Setters. Since version 5.0.0.8026 (prerelease)

[2022-02-11 14:38] haavamoa commented on #14956
Me and a colleague are now experiencing this on Mac with VS 4 Mac 8.10.17 and 8.10.18. Running M1 MacBooks.

[2022-02-11 16:47] CoryKaye commented on #15088
Can confirm. A project at work we had this issue popup and had no idea what could have changed to break this. Tried disabling and re-enabling hot reloading settings for XAML, re-cloning project, etc. Decided it was time to checkout every commit since a possible known time we had Hot Reloading working. Found that Hot Reload broke when we changed from using:
`await Navigation.PushAsync(new LoginPage

[2022-02-11 19:18] JohnHDev commented on #15003
@jfversluis Here is the full stack from the raw logs in AppCenter:

Xamarin Exception Stack:
System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
  at System.Collections.Generic.List`1+Enumerator[T].MoveNextRare () <0x104a5e250 + 0x000c3> in <25bf495f7d6b4944aa395b3ab5293479#ae002c96de94f0526c38425284ae2890>:0
  at (wrapper other) System.Object.gsharedv

[2022-02-11 20:11] balintn22 commented on #5707
I'm on Xamarin forms 5, VS 2020.
For me the method from [Heshanp](https://github.com/Heshanp) worked/ish: set BindingContext from codebehind constructor.

However, when I click the menuitem, the flyout remains open. Looks kinda funny, with the target page (after navigation from the menuitme tap) showing up behind...

[2022-02-11 21:25] vsfeedback opened #15147 "VS 16.11.3: Xamarin project build errors not showing in Error List"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS-16113:-Xamarin-project-build-errors/1537079)._

---
I'm finding that some errors building the Xamarin projects are not showing in the list of errors.
The build fails and I can find the error in the logs (see highlighted error in image below). However, the error is not in the list of e

[2022-02-11 21:28] vsfeedback opened #15148 "VS 16.11.3 - Xamarin Forms App debugging - For broken or mismatching style the Name of the named XAML Control is missing"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS-16113---Xamarin-Forms-App-debugging/1533704)._

---
[severity:It's more difficult to complete my work]
Hi,

When debugging my Xamarin Forms app - I see output such as one below indicating a applied style of Label is not compatible with Button.
It will be great to know the name of sour

[2022-02-11 21:31] vsfeedback opened #15149 "Xamarin Forms: multiple multitriggers - setter properties not correctly resetting"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamrin-Forms:-overlapping-multitrigger-c/1456182)._

---

Using `multitriggers` together on the same properties can lead to a situation where the `setter` values do not get reset when all the conditions are false. This problem can be demonstrated in the attached XAML fragment, pasted int

[2022-02-12 04:37] onlyargon commented on #13058
Facing the same issue... Any update on this bug :(

[2022-02-12 08:59] CleverSoftwarePoland commented on #14849
Any news how to use new Splashscreen?

[2022-02-12 18:22] cabal95 commented on #10825
@RCLuciano I'm not sure why you would be running into that issue. It might be an unrelated bug, though I can't say for sure. We haven't noticed any duplication in our list from using this method. It might be possible that your "load more" code is executing multiple times by the collection view.

[2022-02-12 22:39] BlueRaja commented on #15107
Well after buying yet another unreasonably priced Apple product, I can confirm this issue does not happen when compiling with a mac.  So it's definitely a Hot Restart issue.

[2022-02-13 16:44] Hurricane31337 opened #15150 "[Bug] Drag a file and drop into app raises ArgumentNullException"
### Description
Because the issue reported by [SunshineSpring666](https://github.com/SunshineSpring666) in the xamarin/xamarin-forms-samples repository (https://github.com/xamarin/xamarin-forms-samples/issues/709) is a year old and I have the same problem, I just more or less repeat it here:

As instructed in Xamarin [Drag and Drop documentation](https://docs.microsoft.com/en-us/xamarin/xamarin-fo

[2022-02-13 20:49] BlueRaja commented on #10416
Any news on this?  CollectionView is basically unusable at this point

[2022-02-13 20:49] NikkiTheStitchQueen opened #15151 "[Bug] Navigation Bar doesn't appear until you start scrolling"
### Description
Even with a Shell.BackgroundColor and Shell.Foreground color specified, the navigation bar does not appear until I start scrolling. This occurs in iOS, even with a brand new Xamarin.Forms project.

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/ios/page-large-title

### Steps to Reproduce

1. Create a new Xamarin.Forms project
2. Set a Background/Foreground color (

[2022-02-14 05:55] devvaluelabs commented on #15146
Hi dellis1972, Any update on this ? Where should I check the update ?
Please let me know

[2022-02-14 07:53] vigneshrameshsync opened #15152 "[Bug][Android] WebClient freezes the app when connected network does not have internet access"
### Description

The WebClient freezes the app when the connected network does not have internet access.

**NOTE:** Didn't checked in UWP and iOS platforms.

### Steps to Reproduce

1. Connect the mobile to the network which does not have internet access. (In one mobile Turnoff mobile data and turn on the mobile hotspot, and connect to the mobile in which your are going to run the application to t

[2022-02-14 08:12] SiNeumann commented on #14763
@jsuarezruiz I tried @cpraehaus fix on a local fork and it fixes the issue on my side,  any chance this is merged?

[2022-02-14 08:36] Xiphereal opened #15153 "[Bug] Checking selected ListView item doesn't work on Android but it does on Windows"
### Description
I'm working on UI testing a Xamarin Forms app with Appium, both on the Windows (UWP) and Android platforms.

When checking if an item in a ListView is selected on Windows via looking up the accessibility property `checked` (`SelectionItem.IsSelected` property on the Inspect.exe tool), its value is the expected one: true when the item is selected, false if it doesn't. Nevertheless,

[2022-02-14 11:25] de-preut commented on #14152
we face the same issue in our app. Any updates here?

[2022-02-14 12:23] jfversluis commented on #15107
Thanks for confirming @BlueRaja !

[2022-02-14 12:23] jfversluis commented on #15107
To not fragment all the issues, let me close this in favor of #14956

[2022-02-14 12:23] #15107 closed

[2022-02-14 12:46] #15130 closed

[2022-02-14 13:41] jfversluis commented on #14849
Afraid not, sorry. Also, looks like we'll have to wait for Xamarin.Android to add this capability first: https://github.com/xamarin/xamarin-android/issues/6517

[2022-02-14 18:37] dgerding opened #15154 "Android AOT Compile Fails in System.Drawing.Common"
**Anyone else getting AOT compile error from System.Drawing.Common in Android all of the sudden?**

It seems since the last XF Nuget release channel update that I am getting a build error in my Xamarin.Forms Android project:

- XA3001: Could not AOT the assembly: System.Drawing.Common.dll		 	0

When I started poking around I found this article:
https://docs.microsoft.com/en-us/dotnet/core/compatib

[2022-02-14 21:16] Heisenberg74 commented on #14549
Hi, I have exactly the same issue. Trying to set the selected value from the View Model doesn't work.

Workaround is to create a method in the VM like:

[code]

Of course, I use OnPropertyChanged.

Workaround is very weird but working properly!

Thanks for your support.

[2022-02-14 22:30] ederbond commented on #13902
This bug still happens. The RadioButton doesn't render nor does the IsChecked change when the user tap it on iOS.
Come on MSFT

[2022-02-15 10:10] vas1l3nk opened #15155 "[Bug] Adding a reference from an iOS project to a binding project with .xcframework raises Failed to resolve assembly"
### Description

When I add a link to a binding project with .xc from my XF.Sample.iOS project, I get the error:
`Error MT2002: Failed to resolve assembly: 'SDK.Bindings.iPhone, Version=1.0.8081.21403, Culture=neutral, PublicKeyToken=null' (MT2002)`

### Steps to Reproduce

1. Create binding iOS project with .xcframework
2. Create XF application
3. Add reference from XF.iOS to the binding

### Exp

[2022-02-15 11:03] stevendwebster opened #15156 "[Bug] FlyoutBackdrop on iOS defaults differently from Android"
### Description

I have noticed that the FlyoutBackdrop default styling differs between iOS and Android. When I build fresh XF solution, Android will show the flyoutbackdrop with the grey translucent style, but iOS shows the content page with full transparency.

Hopefully I haven't missed something in the docs which details that this is expected behaviour, but I have searched quite a bit and found

[2022-02-15 12:14] jfversluis commented on #15151
Please add a reproduction project to demonstrate this issue or at least fill out the info in the template. What version of Xamarin.Forms are you using? Have you tried updating to the latest version?

[2022-02-15 12:20] jfversluis commented on #15156
Hey thanks for the report! By default it renders as a Flyout would behave on the running platform. For iOS that means no "shadow" by default. You can influence the behavior and make it look and behave the same by setting `FlyoutBackdrop` explicitely.

Thanks!

[2022-02-15 12:20] #15156 closed

[2022-02-15 14:20] dirivero commented on #15023
@pavni1579boosa not sure if this is your scenario, but I've seen this behavior before when the `ItemsSource` data is **not** an `ObaservableCollection` and you add items after the bound property is set, for instance:

[code]

Ans your view model does something like this:
[code]

One could imagine that the `ListView` wouldn't show any cells but in iOS it does, as long as the Adds happen **right aft

[2022-02-15 16:13] #10982 closed

[2022-02-15 16:14] jfversluis commented on #10212
No repro and no response so I guess this is resolved by now :)

[2022-02-15 16:14] #10212 closed

[2022-02-15 16:15] shraddha-patange opened #15157 "TapGestureRecognizer not working in windows iOS app development with HotReload"
### Description
Currently using VS2022 with HotReload option for iOS app development
iPhone  - iPhone 12
iPhone OS Version - 15.1.1
Xamarin forms - 5.0.0.2012

### Expected Behavior
TapGestureRecognizer is invoked
### Actual Behavior
TapGestureRecognizer is not invoked
### Basic Information
Perfectly working with Android

[2022-02-15 16:16] #14062 closed

[2022-02-15 16:16] #14009 closed

[2022-02-15 16:17] jfversluis commented on #13998
No response to our request for details, closing this for now.

[2022-02-15 16:17] #13998 closed

[2022-02-15 16:18] jfversluis commented on #13989
Hope you have this resolved by now! For questions you probably want to go to Stack Overflow or forums. There will be better responses there :)

[2022-02-15 16:18] #13989 closed

[2022-02-15 16:18] jfversluis commented on #14207
No response, assuming the author has resolved this. Closing for now!

[2022-02-15 16:18] #14207 closed

[2022-02-15 16:20] jfversluis commented on #14187
No response to request for more info, closing this for now.

[2022-02-15 16:20] #14187 closed

[2022-02-15 16:21] jfversluis commented on #14153
No response to our request for more info, closing this for now.

[2022-02-15 16:21] #14153 closed

[2022-02-15 16:22] jfversluis commented on #14141
No response to our request for more info. Assuming the author has figured it out in the meantime.

[2022-02-15 16:22] jfversluis commented on #14147
No response to our request for more info, closing this for now.

[2022-02-15 16:22] #14147 closed

[2022-02-15 16:23] jfversluis commented on #14114
No response to our request for more info, closing this for now.

[2022-02-15 16:23] #14114 closed

[2022-02-15 16:23] jfversluis commented on #14099
No response to our request for more info, closing this for now.

[2022-02-15 16:23] #14099 closed

[2022-02-15 16:23] jfversluis commented on #14081
No response to our request for more info, closing this for now.

[2022-02-15 16:23] #14081 closed

[2022-02-15 16:24] jfversluis commented on #14070
Seems not related to us, hope the author has managed to fix this by now!

[2022-02-15 16:24] #14070 closed

[2022-02-15 16:24] jfversluis commented on #14365
No response to our request for more info, closing this for now.

[2022-02-15 16:24] #14365 closed

[2022-02-15 16:25] jfversluis commented on #14363
No response to our request for more info, closing this for now.

[2022-02-15 16:25] #14363 closed

[2022-02-15 16:26] jfversluis commented on #3506
Sorry we never got to this! I hope you have something figured out in the meantime 😅 closing this here in an attempt to make our administration a bit better.

[2022-02-15 16:26] #3506 closed

[2022-02-15 16:27] jfversluis commented on #5267
Seems there has not been activity here for a long time. I hope that's because this is fixed in the meantime. If you happen to find this and think something is still wrong, please open a new issue. Thanks!

[2022-02-15 16:27] #5267 closed

[2022-02-15 16:28] jfversluis commented on #8238
No activity here for a long while now. I hope this is because this is fixed :) I'm an optimistic person, so I'm going to assume this is the case. If you happen to find this and you think something is still wrong, please open a new issue. Thanks!

[2022-02-15 16:28] #8238 closed

[2022-02-15 16:29] jfversluis commented on #8438
No answer from the author (even if it is Shane), closing this for now.

[2022-02-15 16:30] #15095 closed

[2022-02-15 16:30] #15044 closed

[2022-02-15 16:30] jfversluis commented on #14947
No response to our request for more info, closing this for now.

[2022-02-15 16:30] #14947 closed

[2022-02-15 16:31] jfversluis commented on #14853
No response to our request for more info, closing this for now.

[2022-02-15 16:31] #14853 closed

[2022-02-15 16:32] #14915 closed

[2022-02-15 16:32] shraddha-patange opened #15158 "xamarin iOS app not clearing SecureStorage data when uninstalling app"
Hello,
Am using HotReload option on windows VS2022 for Run/Debug iOS app on iPhone 12
But when I uninstall app then previous securestorage data is still there in app

Hope this information is enough you to understand the issue.

Thanks.

[2022-02-15 17:26] LuisiitoDev commented on #12958
I am having a related issue, with the last Xamarin update  (5.0.0.2337), I am getting the follow error:
![image](https://user-images.githubusercontent.com/79773016/154115539-f4614f14-392e-4df1-bb8a-0013f02240ff.png)
I am registering the routes using Routing.RegisterRoute and in the XAML as well.

[2022-02-15 18:48] jfversluis commented on #15157
Duplicate of #14956

[2022-02-15 18:48] #15157 closed

[2022-02-15 18:49] jfversluis commented on #1843
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 18:49] #1843 closed

[2022-02-15 18:50] jfversluis commented on #2181
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 18:50] #2181 closed

[2022-02-15 18:51] jfversluis commented on #3122
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 18:51] #3122 closed

[2022-02-15 18:52] jfversluis commented on #3117
I think both Pages and Themes are no longer a... theme.

![R](https://user-images.githubusercontent.com/939291/154129198-b65d9332-1dfc-4212-b7f0-e544ede0fd5c.gif)

[2022-02-15 18:52] #3117 closed

[2022-02-15 18:53] jfversluis commented on #3397
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 18:53] #3397 closed

[2022-02-15 18:54] jfversluis commented on #3352
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 18:54] #3352 closed

[2022-02-15 18:54] jfversluis commented on #3284
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 18:54] #3284 closed

[2022-02-15 18:56] jfversluis commented on #3455
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 18:56] #3455 closed

[2022-02-15 18:57] jfversluis commented on #3449
This won't be happening for Xamarin.Forms, but for .NET MAUI we'll adopt the latest and greatest WinUI styling! Thanks everyone!

[2022-02-15 18:57] #3449 closed

[2022-02-15 18:59] jfversluis commented on #4011
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 18:59] #4011 closed

[2022-02-15 18:59] jfversluis commented on #3965
Thanks for this suggestion (no really Samantha, thank you!)! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss

[2022-02-15 18:59] #3965 closed

[2022-02-15 19:20] jfversluis commented on #4396
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:20] #4396 closed

[2022-02-15 19:22] jfversluis commented on #4895
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:22] #4895 closed

[2022-02-15 19:23] jfversluis commented on #4792
Unless someone wants to pick this up, I will review it, but otherwise this won't be happening for Xamarin.Forms anymore, sorry!

[2022-02-15 19:23] #4792 closed

[2022-02-15 19:41] jfversluis commented on #5106
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:41] #5106 closed

[2022-02-15 19:43] jfversluis commented on #5043
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:43] #5043 closed

[2022-02-15 19:44] jfversluis commented on #5141
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:44] #5141 closed

[2022-02-15 19:44] jfversluis commented on #10719
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:44] #10719 closed

[2022-02-15 19:44] jfversluis commented on #5116
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:44] #5116 closed

[2022-02-15 19:45] jfversluis commented on #3054
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:45] #3054 closed

[2022-02-15 19:47] jfversluis commented on #5122
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:47] #5122 closed

[2022-02-15 19:56] jfversluis commented on #5439
Thanks for this suggestion! As Xamarin.Forms is now in maintenance mode, this will not happen anymore for Xamarin.Forms. We're only adding bugfixes and stability fixes.

If this is still important to you, make sure to check the [.NET MAUI repo](https://github.com/dotnet/maui) and see if it's already on the roadmap. If not, feel free to open a discussion to discuss a change first or open an issue w

[2022-02-15 19:56] #5439 closed

[2022-02-15 19:57] #5632 closed

[2022-02-15 20:24] fotoguy42 commented on #10296
Any updates on this? I'm surprised more people don't have flyout items they want graphically differentiated when the item is disabled.

[2022-02-15 21:44] CartBlanche commented on #4792
@jfversluis Has this already been implemented in Maui??

[2022-02-15 21:54] vsfeedback opened #15190 "Xamarin.AndroidX.RecyclerView R8 Missing Classes Warnings and Crash"

[2022-02-16 07:17] devvaluelabs commented on #15146
Hi jfversluis,
Thank you for the response. I have tried giving hard-coded value and even though the scaling is not disabled. Please find the sample code and the attached screenshots.

I created a blank Xamarin.Forms app and modified the MainPage.xaml and MainPage.xaml.cs

MainPage.Xaml:
<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"

[2022-02-16 08:54] Gerome90 opened #15159 "Rebuild from an iOS project always has an error: Xamarin.iOS.Common.targets(254,3): error : The linker output contains more than one assemblies named ''"
### Description

Hello Xamarin team,

I have 6 iOS projects and want to build it (DEBUG / RELEASE mode). All referenced iOS projects are running through. The main project has one of these errors:

- **9>C:\Program Files\Microsoft Visual Studio\2022\Professional\MSBuild\Xamarin\iOS\Xamarin.iOS.Common.targets(254,3): error : The linker output contains more than one assemblies named ''.**

OR

- **C:

[2022-02-16 09:05] chaoyebugao commented on #9989
With XF 5.0.0.2012, problem still exists.

[2022-02-16 09:18] mmilkovski commented on #15008
I can confirm I have the same exact issue only on iOS, at runtime if you change "IsVisible" or "FlyoutItemIsVisible" it won't allow to open pages after that (I tried update with binding and code behind - same result)

[2022-02-16 10:21] jfversluis commented on #15146
This Stack Overflow post describes how to disable it on Android: https://stackoverflow.com/questions/50289763/disable-system-font-size-effect-in-my-app

To be honest, I think you shouldn't disable it though, but see how you can design your layout so that it works with the scaling. The font scaling is an important feature for accessibility and may help people use your app.

There is no built-in way

[2022-02-16 10:21] #15146 closed

[2022-02-16 10:22] jfversluis commented on #15159
@dalexsoto this looks more like something in your area?

[2022-02-16 10:29] stoff99 opened #15160 "[Bug] [iOS] Xamarin Froms Map: GPS tracking still active after disposing page with Xamarin Maps"
### Description

We simply show a page with the Xamarin Forms Map component. The property IsShowingUser is set to true.
When you open the screen the maps with the user location is displayed correctly. When you navigate back the gps tracking symbol is still visible in the native iOS top bar and it want disappear till i fully close the app. If i open the app after a while the gps tracking gets activ

[2022-02-16 10:31] jfversluis commented on #4792
@CartBlanche for .NET MAUI we share the code between iOS and macOS, so yes that has been implemented there: https://github.com/dotnet/maui/wiki/Status#-imagebutton

[2022-02-16 10:33] softlion opened #15161 "[Bug] CollectionView crashes on iOS when adding new groups (repro included)"
### Description

### Steps to Reproduce

Repro: https://github.com/vapolia/ReproCollectionViewGroupCrash

1. Add a CollectionView with IsGrouped set to true
2. Add a datasource containing 1 group (groups are an ObservableCollection, items in groups are in an ObservableCollection too)
3. Init the UI, then after 1 second, remove the 1st group, then add 2 new groups.

### Expected Behavior
2 groups d

[2022-02-16 10:54] chaoyebugao commented on #9989
this works. The default delegate should store as a variable first and use as below:
`
public class CustomCollectionViewRenderer : CollectionViewRenderer
    {
        IUIScrollViewDelegate defaultScrolledDelegate;

        protected override void OnElementChanged(ElementChangedEventArgs<GroupableItemsView> e)
        {
            base.OnElementChanged(e);

            if (Control != null)

[2022-02-16 13:42] Mark-NC001 opened #15162 "[Bug] Android Picker allows free text keyboard input, not limited to list"
In Android, a Picker control seems to allow the user to type in any old text, i.e. not limit the selection to just the ItemsSource collection.

Click on a Picker. It's list of items will be displayed. Click Cancel to dismiss the list. Notice the picker still has focus. Type on the physical keyboard of the device. The text typed in will appear in the Picker! The SelectedIndex won't fire etc so the

[2022-02-16 15:26] isax5 commented on #11533
I'll like something like this!

[2022-02-16 15:34] FoggyFinder opened #15163 "[Bug] [Android] Changes to HeightRequest are ignored inside OnSizeAllocated"
### Description

Changes to `HeightRequest` are ignored inside of `OnSizeAllocated`. Probably related to #9644

MRE

[code]

### Steps to replicate

1. Run app.
2. Tap on svg.
3. It changes to opposite and looks squeezed.
4. For all next taps rendering will be correct.

### Expected Behavior

Reacts correctly on request for new height.

![expected](https://user-images.githubusercontent.com/1651073

[2022-02-16 15:45] fotoguy42 commented on #8176
Any update on at least disabling the back button on iOS?

[2022-02-16 21:00] SamuelKraus commented on #11411
Create a ViewModel base class that extends BaseViewModel

{
    public abstract class ViewModelBase : BaseViewModel
    {
        private bool canNavigate;
        public bool CanNavigate
        {
            get { return canNavigate; }
            set { canNavigate = value; OnPropertyChanged(); }
        }
    }
}

In your viewmodels, extend ViewModelBase instead of BaseViewModel.

In your conte

[2022-02-16 21:03] SamuelKraus commented on #11411
Create a ViewModel base class that extends BaseViewModel

[code]
In your viewmodels, extend ViewModelBase instead of BaseViewModel.

In your content page, reference the viewmodel as normal:
[code]

Then your buttons should be programmed like this:
[code]
In Page2, set `vm.CanNavigate = true` when it appears to start the cycle all over again.

[2022-02-16 21:11] slongietti commented on #15128
I also believe this to be an Xamarin.iOS.SDK issue.

I pulled code from our repo at a commit that previously worked. Without changing any code or csproj settings, I ran it through our unchanged pipeline on Azure DevOps that published the application successfully prior to 2/4/2022. The result was the error stated in this issue.

I then attempted to build and publish locally on Mac using VS 2019 for

[2022-02-16 21:37] Mephisztoe commented on #14077
I have the same problem and here is the funny part:
While the physical device shows the default xamarin appicon right after successful deployment using a Mac, I can see the correct application icon for only a split second when starting the app. When closing the app again, the default icon is back.

It gets even funnier:
When I restart the iPhone by physically turning it off and on again, it consta

[2022-02-16 22:05] pavni1579boosa commented on #15023
@dirivero  thanks for the information that looks promising. Will try that out.

[2022-02-17 01:26] DRAirey1 opened #15165 "The Carousel control is broken when hosing a Picker[Bug]"
### Description
When a Carousel control has a stack panel that contains a Picker, the Picker initially displays with a height that is proportional to the number of items in the list, like it was a list control. The Picker should display with only enough room for a single item, like a drop-down control. The Picker seems to work correctly in other situations, just not within the hierarchy of a Carou

[2022-02-17 03:44] ThanhNg commented on #14393
Same problem here. Any work around on this? Thanks.

[2022-02-17 09:27] Xiphereal commented on #15153
Any update?

[2022-02-17 10:20] TrsThomas commented on #14750
Hi, just wondering if there's any news on this issue? We have also been getting lots of crash reports from users who updated their device to iOS15.

[2022-02-17 11:01] avorobjovs commented on #14750
Hi,
I found that if build the app using the latest versions of Xamarin.iOS and Xcode, then the application no longer freezes or crashes.
Currently, we use Xamarin.iOS 15.4 and Xcode 13.2.1. And we have no freezes or crashes.

[2022-02-17 11:03] avorobjovs commented on #14782
Hi,
I found that if build the app using the latest versions of Xamarin.iOS and Xcode, then the application no longer freezes or crashes.
Currently, we use Xamarin.iOS 15.4 and Xcode 13.2.1. And we have no freezes or crashes.

[2022-02-17 11:57] AyaxB commented on #12388
I have got same problem but with a collectionView vertical, I find solution with BindableLayout.
That is, I have got a collectionView father them, into I have got a BindableLayout children.

[2022-02-17 13:16] TrsThomas commented on #14750
Thanks for your reply, will try it out!

[2022-02-17 13:51] jfversluis commented on #14750
Please let us know @TrsThomas !

[2022-02-17 15:12] latnok25 commented on #14843
it's not fixed yet

[2022-02-17 16:14] jfversluis commented on #15160
Thanks for the report @stoff99 ! I don't think there is any issue here and that is just how iOS works. The hollow icon means that there is still GPS data going under certain conditions. When the app is in the background I think this makes perfect sense. You will want to see you accurate position whenever the app comes back. And remember, the app is in the background, it's not killed. iOS does a gr

[2022-02-17 16:20] jfversluis commented on #15147
Seems like this is a long time ago and a VS issue. Going to assume this is fixed by now, if not, please let us know!

[2022-02-17 16:20] #15147 closed

[2022-02-17 16:58] sjordanGSS opened #15166 "[Bug] SwipeView can't be swiped by hand with certain views as content"
### Description
With certain views as content, a SwipeView cannot be swiped through manual interaction. It can be swiped programmatically i.e. calling SwipeView.Open(), but using e.g. the touch screen to swipe the view doesn't work. So far I've only experienced this with the Label view, but it could well affect others.

### Steps to Reproduce

1. Create a blank app
2. Add a SwipeView with SwipeVie