[2019-09-25 13:51] cyberaxcess commented on #7602
I had the same issue using AppCenter, also using 4.2.0.815419 both iOS and Android builds failed with the same "expected class 'System.Collections.Generic.Stack" message.

I changed the build configuration in AppCenter to use: SDK Version: Xamarin.iOS 12.14 and Xcode version: 10.3.
The problem seems to have gone away now since changing to these settings, on the iOS builds (haven't tried the Androi

[2019-09-25 14:39] MappingSteve commented on #7540
This has suddenly become more important (for me at least), as the most recent Xamarin Forms upgrade causes this exception, for code that until this version worked without problem.

[2019-09-25 14:40] vltspr opened #7673 "[Bug] TabbedPage tabs widths work inconsistently"
### Description

The TabbedPage's tabs widths work inconsistently.

### Steps to Reproduce

1. Download the official MS sample about tabbedpages: https://github.com/xamarin/xamarin-forms-samples/releases/download/68797/Xamarin_Forms___TabbedPage_with_NavigationPage.zip
2. Remove one child in the MainPage.xaml tabbedpage.
3. Launch the app on a tablet or on a phone in landscape orientation.

### Ex

[2019-09-25 14:43] breyed opened #7674 "[Bug] TitleStyle uses serif font"
On iOS, TitleStyle has switched from being a sans-serif font, as shown in [documentation](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/text/styles), to a serif font. I don't know if it was due updating to Xamarin.Forms 4.2.0.815419, to VS 16.3.0/3.8, Xcode 11, or to iOS 13.1. Whatever the cause, the new font doesn't fit with the other styles or the docs.

This is the docum

[2019-09-25 14:57] PureWeen commented on #7643
@anirugu what version are you on?

The latest patch version of 3.6+ has a fix in it that forces modal to be fulscreen

If you're still having an issue can you attach a repro?

[2019-09-25 15:15] PureWeen commented on #7643
@anirugu

@anirugu what version are you on?
The latest patch version of 3.6+ should all work on ios13

we fixed an issue with MDP not showing on Ios13

Can you attach a repro if you're still having issues?

[2019-09-25 15:16] nicolasmab commented on #6899
Still broken in 4.2.0
[Temporary workaround](https://github.com/xamarin/Xamarin.Forms/pull/6390#issuecomment-535070005)

[2019-09-25 15:28] InquisitorJax commented on #7540
@MappingSteve make sure you don't have duplicate InitializeComponent() calls in your code behind. This was the cause for us: for some reason we had the call in constructor and page_appearing - which caused the crash when we upgraded.

[2019-09-25 15:38] Elevation72 commented on #7656
Replacing earlier comment with more complete info.  My experience is that I do not need to use tabs on the flyout menu to see this behavior.  This can be demonstrated on a new ShellDemo scaffolded project.

Repro steps:
1.  At app startup, the flyout menu default icon is not present
2.  Setting **FlyoutBehavior="Flyout"**  explicitly does not change the behavior
3.  Setting **FlyoutIcon="MyFlyoutI

[2019-09-25 15:45] PureWeen commented on #7654
what version are you on?
The latest patch version of 3.6+ should all work on ios13
we fixed an issue with MDP not showing on Ios13
Can you attach a repro if you're still having issues?

We haven't applied the fix back to 2.5

I just tested locally with the latest version of XF 3.6 and it worked fine for me on iOS 13 / XCODE 11

This is why the template is important. Because all of our internal tes

[2019-09-25 15:50] pamela032709 opened #7676 "[Accesibility Hidden view on Master Detail Page Bug]"
### Description
I think this is related with this #7676
When voice over is activated and you are using a MasterDetailPage,  menu content still visible for the reader even when this master-detail page is not present or it is hidden.  Additional information for that respective page gets all mix-up and this is very confusing and problematic for voice over users. This happens on Android and IOS
### St

[2019-09-25 15:58] PureWeen commented on #7656
Android or iOS?

@Elevation72 what version are you on? I tested your scenario with the latest 4.2 release and it all seems to work fine for me.

We fixed some Flyout behavior in the latest 4.2 which most likely shifted the behavior back to being correct.

Looking at the original XAML on the issue the TabBar is the first element in the XAML. TabBar by default has the flyout disabled so it won't be

[2019-09-25 15:58] #7656 closed

[2019-09-25 16:05] jsuarezruiz opened #7678 "[Bug] Crash on CarouselView using ObservableCollection"
### Description

Working with https://github.com/xamarin/Xamarin.Forms/pull/7650 I noticed a crash with CarouselView on iOS.

I have created a new sample (which I add to the Core Gallery at https://github.com/xamarin/Xamarin.Forms/pull/7677) to validate the different ways to work  with items in the Carousel on all platforms.

The result:

| Test | iOS | Android | UWP |
| - | :-: | :-: | :-: |
| **

[2019-09-25 16:15] breyed opened #7679 "[Bug] iOS large title doesn't clear background"
When a `NavigationPage` has large titles enabled (`SetPrefersLargeTitles(navigationPage.On<iOS>(), true)`), the page transition animation shows the large title background as gray. After the navigation completes, the background changes to white. Additionally, if the prior page has a `ListView` with groups, the group headers continue to be visible on top of the large title during the animation. Each

[2019-09-25 16:18] JajaHarris commented on #7562
I was experiencing the same issue after upgrading to latest version of VS2019; fix for me was inside the AndroidManifest.xml (under Properties); move the receiver elements inside the application tag.  Was able to successfully build after that.

[2019-09-25 16:29] dan5602 commented on #7562
Yeah I also tried this, however each build makes the AndroidManifest.xml revert back. Not sure what to do.

[2019-09-25 16:32] Elevation72 commented on #7656
I tested on both iOS and Android and seeing this in both places.  Your Shell.FlyoutBehavior attribute accomplished what I think may have previously default behavior (tab bar and flyout menu both enabled).  That resolves my issue...thanks.

[2019-09-25 16:35] JKennedy24 commented on #7161
@PureWeen I see you mention use a markup extension. I can't quite see how to use a markup extension to solve this problem.

Could you shed a bit of light on that solution?

[2019-09-25 16:42] samelas commented on #7659
@StephaneDelcroix This xamarin forms sample will trigger the issue: https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/userinterface-bindablepicker/ I'm only able to reproduce it on an old android device (Galaxy Note 3 - Android 4.4.4), and the timing has to be just right so the cell selection and cancel button are both highlighted (usually have to try a couple times to get it)

[2019-09-25 16:49] #7598 closed

[2019-09-25 16:49] #7597 closed

[2019-09-25 16:54] breyed opened #7680 "[Bug] ListView item background color not set on tap"
### Description
On iOS, tapping a ListView item no longer provides visual feedback about which item was tapped. This is a regression; it worked before I updated to XF 4.2.0.815419 and iOS 13.

### Steps to Reproduce

1. Create a ListView such that tapping on an item navigates to another page.
2. On iOS, tap on an item in the ListView.

### Expected Behavior
On finger down, the background of the se

[2019-09-25 16:56] tbarry-crs commented on #7556
I am experiencing the same issue as norton287.  I only see the issue happening in landscape mode on iOS tablets though.  In portrait mode everything works as expected.  I can reproduce the issue running the sample code provided by norton on an iOS tablet simulator (iPad Pro (12.9-inch) (3rd generation) iOS 13.0) if that helps.

Microsoft Visual Studio Enterprise 2019
Version 16.3.0
VisualStudio.16

[2019-09-25 17:00] PureWeen commented on #7602
@KennyMack I pulled down your repro and it all works fine for me

![image](https://user-images.githubusercontent.com/5375137/65622746-93822300-df83-11e9-9fcb-ca1e14ea7d00.png)

[2019-09-25 17:07] operationslazlo326 commented on #7656
We have the flyout items defined in the bottom part of the XAML. These are the menu items that should appear in the flyout menu. The Tab items defined at the top should appear at the bottom as tabs. The recommended fix Ido not believe applies to our objective. We wish to have tabs on the bottom and a flyout menu. This only appears to be possible on the nuget version I referenced above. Upgrading t

[2019-09-25 17:11] JajaHarris commented on #7562
@dan5602 make sure you are editing the manifest file under the properties folder and not the one that gets generated in the obj folder.  Easy mistake to make.

[2019-09-25 17:16] PureWeen commented on #7656
@operationslazlo326

Change this to FlyoutItem

TabBar's don't persist between different flyout item navigations

If what I'm saying seems wrong can you please send a small gif of what you see working in one but not the other?

[code]

I'm still not clear on what you're describing

[2019-09-25 17:30] norton287 commented on #7556
It is working only in portrait mode, here is the video
![DCAA92EF-71E4-4221-BE6B-5F3B66C77157](https://user-images.githubusercontent.com/42098364/65624790-2e80fa00-df90-11e9-9b22-047b3c002c25.gif)

[2019-09-25 17:34] sdarveau commented on #7340
I think this has been introduced in Xamarin.Forms 4.1.0.778454 (latest 4.1.0) so the last good version is 4.1.0.709244.

[2019-09-25 17:53] MagicAndre1981 commented on #7602
which VS do you use? The issue only occurs in 2017 and not 2019

[2019-09-25 18:10] dinobu opened #7681 "[Bug] Xamarin.Forms Picker ItemDisplayBinding Not Working Properly if Property to Display is not String"
### Description
Xamarin.Forms Picker ItemDisplayBinding Not Working Properly if Property to Display is not String.

### Steps to Reproduce

1. Create a ContentView and add 2 Pickers (Picker CarName, Picker CarAge)
2. Create ViewModel with Car object having one string and one int property (i.e. Name, Age)
3. Create an IList<Car> of cars and populate it with few car objects
4. Bind CarName picker  I

[2019-09-25 18:36] KennyMack commented on #7602
This is strange, in my version does not work.
I'm using visual studio 2017 version 15.9.16.
do I need to update anything else?

[2019-09-25 18:47] divDrones commented on #7520
I have the same issue on iOS only. I am running Xcode 11 and iOS 13 with VS for Mac on the Xcode 11 preview. Happens in the simulator and on a device.

[2019-09-25 19:00] dan5602 commented on #7562
Thanks @JajaHarris and @Nullstr1ng. Making some progress now - can at least build!

[2019-09-25 19:02] AdamMarciniec commented on #5987
Doing a Dark Theme in my project for iOS 13 and thought I'd be awesome and really unify the light themes until I ran into the invisible (white on light gray) ToolbarItems and white back arrow mentioned above. Would love to see this fixed.

[2019-09-25 19:11] mmandt commented on #7562
Thanks @JajaHarris that helped me as well! Now I am getting Error MSB4018: The "BuildApk" task failed unexpectedly.

[2019-09-25 19:25] PureWeen commented on #7602
My mistake

It does crash for me on VS 2017 :-/

We just moved our build pipeline to start using VS 2019 so I'm poking around internally to see about the above exceptions

[2019-09-25 19:29] vniehues commented on #7520
Thanks for the video @divDrones! This is exactly, what happens in my projects too.

[2019-09-25 20:05] ReDERO commented on #6804
This is really annoying. Please, fix this problem.

[2019-09-25 20:14] Redth commented on #1754
Worth mentioning [Pancake View](https://github.com/sthewissen/Xamarin.Forms.PancakeView).

I've also got some code which does almost exactly the same thing as PancakeView but as an Effect instead, however it doesn't work on UWP properly (ultimately adding the effect to things like Grid or StackLayout ends up rendiner a UWP Panel which can't have CornerRadius set on it), and it has the same Android

[2019-09-25 20:17] Sean-LINKSOFT commented on #7556
After having reports of issues with the new IOS release, I performed some tests on a development iPad running IOS 12 and found no problems.  I then upgraded the iPad to 13.1 (no change to app) and the above problem appeared.  On portrait the Popover works fine, but on landscape it is ignored and behaves like SplitOnLandscape instead.

[2019-09-25 20:19] adammeaney opened #7683 "[Bug] [iOS] Dark Mode not supported on certain controls"
### Description

Labels, Editors, and even Pages at least do not support dark mode by default.

I found [this](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs#L506) comment in the code, along with a clear instance of setting the color to black.

I also found [this](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform

[2019-09-25 20:20] Redth commented on #6430
There's a complete sample up now: https://github.com/xamarin/xamarin-forms-samples/tree/master/SignInWithApple

This should show you how to use Apple Sign In with Xamarin.Forms.

Going forward we are looking into approaches with Xamarin.Essentials to help make this easier, however for non-iOS13 platforms some server side logic is required to handle the authentication process properly, so there's n

[2019-09-25 20:20] #6430 closed

[2019-09-25 20:22] InquisitorJax commented on #7540
As a matter of interest, I'm also getting this when turning on Hot Reload for Forms.

[2019-09-25 20:24] jfversluis commented on #7683
Hey @adammeaney thanks for reporting. We are aware and internally we've identified all the hardcoded colors and we're going to transition them into the semantic ones.

[2019-09-25 21:10] chad-ramos opened #7684 "[Bug] Image control fails to load image from URI on Andriod"
### Description

- `<image>` is not loading image from URI on Android
- The issue first happened post VS 16.3.x update on 9/24/19
- Possibly related #7248
  - Shows closed but if related, a regression might have happened.

### Steps to Reproduce

1. Create a new Forms project
2. Add an image

[code]

3. Deploy to emulator or device

### Expected Behavior

- Image to display on the screen as it doe

[2019-09-25 21:17] InquisitorJax opened #7685 "[Bug] Forms 4.2 breaks hot reload"
### Description
On android:
After upgrading to 4.2.0.815419 (or any 4.2 version), I'm getting the following output when saving a xaml file with hot reload turned on
Xamarin.Forms.Xaml.XamlParseException: Position 1:1533. An element with the name "_punchCard" already exists in this NameScope.
HR seems to still work for very simple pages, but pages with more complex runtime elements seem broken afte

[2019-09-25 21:24] jcmanke commented on #7683
@jfversluis Please make sure that includes the usage of `MaterialColors.Light` for everything in the Xamarin.Forms.Visual.Material package.

[2019-09-25 21:42] PureWeen commented on #7684
This has been fixed on *4.2.0.815419*

[2019-09-25 21:42] #7684 closed

[2019-09-25 21:46] #7525 closed

[2019-09-25 21:47] georgemichailou commented on #7525
Thanks for the quick response about this bug .

[2019-09-25 22:07] PureWeen commented on #7556
https://developer.apple.com/documentation/uikit/uisplitviewcontrollerdelegate/1623174-splitviewcontroller?language=objc

Has been deprecated in iOS 13

Which is my guess why it stopped working

If I run this on iOS 13 that method is never even called

[2019-09-25 22:16] PureWeen commented on #7556
Correction it's been deprecated for a bit but it looks like they only acted on that deprecation with iOS 13

[2019-09-26 02:22] wangyankun33 opened #7687 "Uninstall app, pop-up description problem"
### Description
After I installed the app, when I pressed and unloaded, the popup window appeared and I wanted to remove the red part.
![1569461862(1)](https://user-images.githubusercontent.com/19883375/65653349-79aa1400-e047-11e9-973a-17ed0abf5fb1.png)

[2019-09-26 03:39] polieadie commented on #7327
I was using version 4.2.0.815419 and I was having the same issue.
I downgrade to 4.1.0.555618 as mentioned by @raevenbauto then by @ColeXm and i don't have the issue anymore.

[2019-09-26 03:59] Chris-Marassovich opened #7688 "[Bug] IOS13 terminates app when backgrounded location services is requested"
# Description
A Xamarin app that on IOS uses the location services is terminated not long after being backgrounded.  Termination only occurs on IOS13 and not on IOS12 and 11.

### Steps to Reproduce
The repo app here is the simple File->new XF master detail app.
The code I use to implement the IOS Location services is the sample XF walk-though code from
https://docs.microsoft.com/en-us/xamarin/ios

[2019-09-26 04:21] milanio commented on #7340
@sdarveau , I think the core of this bug is there for a long time. However, we also spotted our app started misbehaving after 4.2.X. Especially if you use `Picker` in `DataTemplate` (Example 2 above). As there is no workaround and there is no guidance on if and how it should actually work, we opted for not reusing ViewModel (VM).

In our case: Once a VM is attached to a `ContentPage` and `ContentP

[2019-09-26 04:45] zimbabirbal commented on #7602
I'm having same issue as @dannythomas13 said. Initially  my xamarin forms version was 3.4.0.1008975 and when i updated it to 4.2.0.815419 app crashes showing the same issue. Even i tried in blank project it crashes giving same error. My vs is vs enterprise 2017 version 15.9.13.

[2019-09-26 04:46] ashishmundrajll commented on #7145
Pushmodalaysnc fails on our App in IOS13. We are on Xamarin 3.6. Is there a patch in progress? By when will it be released? Our app is not working properly with IOS13. Thanks.

[2019-09-26 05:04] danlexo opened #7689 "[Bug] Flyout locked and missing hamburger menu icon"
### Description
Flyout gets locked after switching tabs in addition the hamburger menu is only shown for a split second
### Steps to Reproduce

1. Create new Shell project
2. Create 2 Content Pages, one with a list view that is populated from code-behind
3. Edit AppShell.xaml TabBar for the two pages and add single any page for the FlyoutItem
4. Start the app, drag out flyout from the corner to co

[2019-09-26 05:52] CRY47 commented on #7602
I'm having same issue as @dannythomas13 and @zimbabirbal said. you can fix it so that it also works with VS2017?

[2019-09-26 07:24] StephaneDelcroix commented on #7685
please provide a sample project, and the version of XF4.2 you're using. thanks

[2019-09-26 07:32] InquisitorJax commented on #7685
@StephaneDelcroix updated the description.
It's fairly easy to reproduce the namescope error output - but for simple UI, the hot reload will still work.
More difficult (and time consuming) to put together a UI that breaks because of it. My hope was that the namescope error would point out the problem in the plumbing ;)

[2019-09-26 07:32] vitalii-smal commented on #7654
@PureWeen Thanks! I am using 2.5, so I have not included fix. But I implemented fix (borrowed from latest master branch) by myself in TabletMasterDetailRenderer.

[2019-09-26 07:34] StephaneDelcroix commented on #7685
please do it then :)

[2019-09-26 07:36] InquisitorJax commented on #7685
see description for steps. You actually want me to create a new project, name a UI element and attach it here?

[2019-09-26 07:37] StephaneDelcroix commented on #7685
yes, please, and also report the XF 4.2 version you're using

and also isolate the other problem, so we can focus on fixing it

[2019-09-26 07:46] conradh commented on #7145
We have huge problems with after closing modal, modal pages are still on stack (non visible´?) or something, preventing us from pushing more modals and makes our app unresponsive.
When can this be fixed? xamarin forms 3.6

[2019-09-26 07:48] nbleak commented on #7654
@PureWeen Thanks I have updated all to the latest patch and it has fixed the issue.

[2019-09-26 07:53] GuidoNeele commented on #7145
I think Xamarin Forms developers shouldn't have updated to the new VS for Mac and XCode 11. Apps build via XCode 10 will work as expected on iOS13 because of backwards compatibility. The apps build with XCode 11 will break.

[2019-09-26 07:57] sthewissen commented on #1754
I’m currently in the process of implementing a way that separate rounded corner radii AND shadow work in PancakeView. It involves creating your own path and feeding that to the ViewOutlineProvider. However that solution creates additional complexity with clipping which you would also need to do manually based on the same path. I’m convinced it’s possible but my efforts are currently halted for a f

[2019-09-26 08:04] StephaneDelcroix commented on #7687
Sorry, I don't read Chinese (did I guessed right ?). This doesn't look like this is part of the Application, but a system-provided UI. You might be able to tweak that message by changing the android manifest.

As it doesn't look XF-related, I'm going to close this. You might have better chances by asking your question on, e.g., StackOverflow

[2019-09-26 08:04] #7687 closed

[2019-09-26 08:28] sassy224 commented on #7602
I found that System.Collections.Generic.Queue is available in

and

It's not available in

So if any dll that relies on Queue is complied with VS2019, and run on VS2017, it will throw exception can't load Queue from mscorlib.
I think not only Queue but also other classes in Collections.Generic namespace could suffer the same issue.

[2019-09-26 08:47] Simba-Mupfunya commented on #6207
I'm using XF 4.2.0.815419 with Material theme set at Shell level, problem still exists, any movement on this issue?

`<Slider x:Name="slider" Maximum="5000" Minimum="100" HorizontalOptions="FillAndExpand" Value="{Binding FooValue}"  DragCompletedCommand="{Binding FooCommand}"/>`

[2019-09-26 08:53] omghb commented on #7602
The iOS build on VS2017 has the same issue. See #7638.

[2019-09-26 09:36] GuidoNeele commented on #7145
Oh man I'm a happy camper right now. Downgrading fixed all our issues.

Here's what I did:
- Remove Visual Studio and XCode (https://stackoverflow.com/questions/14756026/how-to-downgrade-xcode-to-previous-version)
- Download:
  - https://dl.xamarin.com/VsMac/VisualStudioForMac-8.2.6.26.dmg
  - https://dl.xamarin.com/MonoTouch/Mac/xamarin.ios-12.16.1.24.pkg
  - Download XCode 10.3 via https://devel

[2019-09-26 09:52] rmarinho commented on #7678
Is this just with CarouselView or with CollectionView also ?

[2019-09-26 10:34] conradh commented on #7145
Update: Found workaround by upgrading Xamarin.Forms to a later build, which prevented slide-to-close on modals, which solved our issue.
Visual studio 16.3
Visual studio for mac: 8.3
Xcode: 11
Xamarin.Forms 3.6.0.709228

[2019-09-26 10:55] bartlannoeye commented on #7602
Had the same error on VS 16.0.3, upgraded to latest (16.3.1) and issue is solved. #magic

[2019-09-26 11:07] StephaneDelcroix commented on #7689
please provide a reproduction project

[2019-09-26 11:09] StephaneDelcroix commented on #7676
/cc @samhouts

[2019-09-26 11:28] lachlanwgordon opened #7690 "[Bug] ContentPage Height Wrong when used in Shell if child is a Grid that contains a full heigh ScrollView on iOS"
### Description
When using Shell as MainPage, with a bottom TabBar and NavigationBar visible. If a ContentPage has the RootElement as a Grid, the grid has a ScrollView as a Child which fills the whole height(i.e. ScrollView's RowSpan is same as total number of rows).

The ContentPage's Height extends to the full height of the phone behind the NavigationBar and the TabBar.

This bug appears on iOS

[2019-09-26 11:29] AdenITD commented on #7554
I can confirm this bug still exists within v4.2.0.815419 too. I've not had success in identifying the cause in my code that triggers this issue, but similarly, the crash occurs when a button is clicked that triggers a navigation command and I receive the same Stacktrace as detailed above.

[2019-09-26 11:33] JKennedy24 commented on #7554
@AdenITD  @samhouts

The cause is any form of `CompressionLayout` + the line `Xamarin.Calabash.Start` in the `appdelegate`

Remove either `CompressionLayout` or `Calabash.Start` from your code and the error goes away.

Why these two things together cause this issue is over my head which is why its with the xamarin team.

Pretty sure this should be a high priority as a lot of people doing iOS UI Te

[2019-09-26 11:39] lachlanwgordon commented on #7556
Interstingly Shell Flyout behaviour is still functioning correctly on iOS 13 on iPads in landscape mode, there could be some hints in the shell implentation on how to fix.

I can confirm the same behavior. Apps with MasterDetail work fine on iOS 12 but always show the menu when run on iOS 13.

[2019-09-26 11:42] AdenITD commented on #7554
Yep, that checks out. The page causing the issue has a grid with CompressedLayout set as the root content. We don't have any UI tests (yet) so, given this can occur with just compressed layout, would have to agree that this should be addressed sooner rather than later, as it will impact perf.

[2019-09-26 11:42] KarthikRajaAKR commented on #5860
HI Team,

We are also facing issue with RTL in iOS while using Entry. We have gone through the limitation page and found that RTL in Entry will work only with device Locale. So we have tested the same by changing Device Locale to Arabic still Entry Text aligned at  Left. We are using EntryRenderer to create custom controls. Is there any other limitations on this with Entry in iOS.

Thanks.

[2019-09-26 11:44] JKennedy24 commented on #7554
@AdenITD Out of interest does your project contain Calabash at all? and or contain the line `Xamarin.Calabash.Start` ?

[2019-09-26 11:52] lachlanwgordon commented on #7690
Playing around a little more, the details about it having to cover full height aren't quite correct but the repro steps above still show the issue.

I think the content page grows whenever there is a scrollview inside a grid inside a page in a shell.

[2019-09-26 11:59] danlexo commented on #7689
[reproduction project](https://github.com/danlexo/sandbox)

after starting a new project it seems most of my issues have been resolved 🤔

[2019-09-26 11:59] #7689 closed

[2019-09-26 11:59] AdenITD commented on #7554
No, there's no reference that I can see and it's doubtful that the 3rd party library we use has it either.

Also @samhouts I've been able to recreate in a small app. I've found that occasionally, it will work, but for the most part it dies.

[CompressedLayoutBug.zip](https://github.com/xamarin/Xamarin.Forms/files/3657615/CompressedLayoutBug.zip)

[2019-09-26 12:03] nirbil opened #7691 "WebView CanGoBack CanGoForward wrong"
If a website utilizes the historyApi then the WebView's CanGoBack CanGoForward are wrong.
Steps to reproduce -
1. Set the webview's source to a single page web application
2. Navigate within the application to a different url (should utilize the pushstate)
3. Navigate back -> CanGoForward changes to true
4. Navigate within the application again by following some link -> CanGoForward erroneously do

[2019-09-26 13:02] maxiking01 commented on #7680
I confirm problem. It occurs on iPads with iOS 13.0, but not on iOS 12.4.1. When on ListView I click  on first item nothing shows and on others presents only separator line.

### **Basic info**
Xamarin.Forms Version 4.2.0.815419
VS for Mac 8.3 (build 1805)
Deployment Target iOS: 11.0 (checked also iOS 12.4)

[2019-09-26 13:03] knocte commented on #5393
@jschiarizzi yes

[2019-09-26 13:05] knocte commented on #7297
8.3.x is now in the stable channel, does anyone know if it helps with this?

[2019-09-26 13:28] cyrilcathala commented on #7314
Great idea!
Just be careful, the iOS implementation is now obsolete with iOS 13.

[2019-09-26 13:46] ravinderjangra commented on #7297
hey @knocte, I tried it with latest VS for mac and it works fine.

[2019-09-26 14:07] KSemenenko commented on #7314
Thanks for the info @cyrilcathala, can you describe it more detailed? or maybe you have a link?

[2019-09-26 14:13] rmarinho commented on #7297
Yap, if you are suing the latest sable it should work with mono

[2019-09-26 14:13] #7297 closed

[2019-09-26 14:41] jsuarezruiz commented on #7678
@rmarinho The problem on Android is related with the Carousel: https://github.com/xamarin/Xamarin.Forms/pull/7693
The iOS crash affects both, CarouselView and CollectionView.

[2019-09-26 14:46] davidmclennan opened #7694 "[Bug] CollectionView crash with only footer"
### Description
CollectionView will crash if given a footer when no header has been added

### Steps to Reproduce

1. Add CollectionView to ContentPage
2. Assign footer but don't assign header
3. Run

### Expected Behavior
Footer displays

### Actual Behavior
Crash with **System.ArgumentOutOfRangeException:** 'Index was out of range. Must be non-negative and less than the size of the collection.
P

[2019-09-26 14:54] acastr7 commented on #7408
I started getting reports of this happening in our app on iOS. I get the exact behavior as what is shown in the repo video.

We are defining our row hight like so:

[code]
This also doesn't seem to happen on simulators for us. We have only reproduced the issue on physical devices.

[2019-09-26 14:55] dirivero opened #7695 "[iOS 13] SearchBar PlaceholderColor is not honored in iOS 13"
### Description

PlaceholderColor property on SearchBars don't work when running on iOS 13 devices/simulators.

### Steps to Reproduce

Include this Xaml in a page:

```<SearchBar PlaceholderColor="Green" Placeholder="hint text" />```

### Expected Behavior

Green placeholder.

### Actual Behavior

Gray placeholder.

### Basic Information

- Version with issue: XF 4.2
- Last known good version: N/

[2019-09-26 14:56] davidmclennan opened #7696 "[Bug] CollectionView selected index breaks when CollectionView has header"
### Description
A CollectionView with selection enabled and a header will offset the selection by 1. Pressing item 1 selects item 2. Pressing the last item crashes the app with **System.ArgumentOutOfRangeException:** 'Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index'

### Steps to Reproduce

1. Add CollectionView to ContentPage
2. Enable

[2019-09-26 15:08] PureWeen commented on #7556
Yea Shell uses *PreferredDisplayMode* which is what the TabletDetailsMasterRenderer needs to be updated to use. It's just that the TabletDetailsMasterRenderer was written so long ago (pre iOS8 where PreferredDisplayMode was added) so it did what had to be done pre *PreferredDisplayMode*

I'll have a PR here soon. The workaround would basically be to use a custom renderer and set PreferredDisplayMo

[2019-09-26 16:11] eramrit78 commented on #6486
same issue in 4.1,4.2,4.3 also. please resolve it asap.

[2019-09-26 16:19] JKennedy24 opened #7698 "[Enhancement] Compiled bindings to work when also setting BindingContext in XAML"
## Summary
Not sure if this a bug or a feature request.

When setting the BindingContext in XAML there is then no way to use compiled bindings.

For example

                <custom:MyCustomView **x:DataType="{x:Null}"** BindingContext="{Binding PresenterViewModel}" IsVisible="{Binding IsVisible}" >
                        <Label Text="{Binding Text}"/>
                </custom:MyCustomView>

In t

[2019-09-26 16:19] PureWeen commented on #6486
@JeanCollas your scenario should be fixed

@eramrit78

What's your use case for needing OnAppearing at the Shell level?
I just want to make sure we're matching up with your scenario

[2019-09-26 16:27] eramrit78 commented on #6486
` public partial class AppShell : Xamarin.Forms.Shell
    {
        public AppShell()
        {
            InitializeComponent();
            PrepareShell();

        }

        private void PrepareShell()
        {
            FlyoutItem tb = new FlyoutItem();
            Tab tab1 = new Tab { Icon = "live", Title = "Live", Style = (Style)Resources["BaseStyle"] };
            tab1.Items.Add(new S

[2019-09-26 16:33] eramrit78 commented on #7351
Yes I m try your sample. and it give same issue under version 4.2.0.815419.

[2019-09-26 16:37] luccasclezar opened #7699 "[Bug][iOS] CollectionView's rows start with wrong Height"
### Description

When the rows of a CollectionView have different Heights, all rows with the same Height as the first one gets displayed wrong.

This should be somewhat simple to solve, as if the CollectionView is scrolled, all views get sized correctly.

Ok, this issue is a little weird, so I'm going to describe it better in the **Actual Behaviour**.

### Steps to Reproduce

1. Create a Collectio

[2019-09-26 16:47] luccasclezar opened #7700 "[Bug][iOS] If CollectionView in other Tab gets changed before it's displayed, it stays invisible"
### Description

As the title says, if you have a CollectionView in some other Tab (in a TabbedPage, of course), and change it (add or remove something) before displaying the page, the CollectionView doesn't get rendered when the page is displayed.

### Steps to Reproduce

1. Create a TabbedPage
2. Add a CollectionView to the second tab
3. Change the CollectionView from a Button on the first tab (

[2019-09-26 16:49] cyrilcathala commented on #7314
This kind of issue: https://stackoverflow.com/questions/56651245/how-to-change-the-status-bar-background-color-and-text-color-on-ios-13

I kinda tweaked the solution into this (which feels very hacky and dirty):

[code]

[2019-09-26 17:52] brminnick opened #7701 "[Bug] iOS Large SetPrefersLargeTitles(true) Uses Incorrect BarBackgroundColor"
### Description

When using `NavigationPage.On<iOS>().SetPrefersLargeTitles(true)`, the incorrect `BarBackgroundColor` is displayed.

### Steps to Reproduce

Reproduction Sample: https://github.com/brminnick/iOSLargeTitleRepro

1. Download the [reproduction sample](https://github.com/brminnick/iOSLargeTitleRepro)
2. Open `iOSLargeTitleRepro.sln`
3. Build/deploy to device/simulator running iOS 13

[2019-09-26 18:05] adamsproul commented on #7327
Same experience as @polieadie & @raevenbauto>

I had to downgrade Xamarin.Forms.Maps before Xamarin.Forms in order to downgrade successfully.

4.2.0.815419 --> 4.1.0.555618

[2019-09-26 19:46] mryll commented on #7327
I have the same problem.

Xamarin.Forms: 4.2.0.815419

I had to disable the back button so it doesn't go to the home page.

[2019-09-26 20:42] samhouts commented on #6929
@pamela032709 I think you're experiencing https://github.com/xamarin/Xamarin.Forms/issues/4220

[2019-09-26 20:58] samhouts commented on #7676
Duplicate of #4220

[2019-09-26 20:58] #7676 closed

[2019-09-26 21:07] samhouts commented on #5177
It's under review. Thanks!

[2019-09-26 21:10] samhouts commented on #6702
@mageshyadavm It is still on the backlog. Thanks!

[2019-09-26 21:12] DaveEnar opened #7703 "Shell possible memory leak"
### Description
Using Shell, whenever I navigate from a tab to a details page (that is registered to Shell Routes or using  Navigation.PushAsync), a new instance of that page is created. But, when I leave this page the finalizer is never called, it seems to be held in memory forever. This page is an empty ContentPage, I set Content = null after popping, and I even used a GC.Collect(1, GCCollection

[2019-09-26 21:14] samhouts commented on #7563
Hi! This bug is a regression on 4.0, so we are happy to accept it in a service release for 4.2, given that 4.2 is the oldest version we're currently supporting. So please target the PR for 4.2, and it will be automatically merged to 4.3 and master. Thank you!

[2019-09-26 21:16] samhouts commented on #7464
This is on the backlog. Given our current set of priorities, we expect to begin working on this in mid-November. Thank you for your patience!

[2019-09-26 21:18] samhouts commented on #5735
Duplicate of #5883

[2019-09-26 21:18] #5735 closed

[2019-09-26 21:22] samhouts commented on #6127
I'm afraid I'm not aware of any workarounds at this time. @PureWeen ?

[2019-09-26 22:14] samhouts commented on #7275
@nielsenko  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-09-26 22:14] #7275 closed

[2019-09-26 22:14] samhouts commented on #7226
@JuanuMusic  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-09-26 22:14] #7226 closed

[2019-09-26 22:14] samhouts commented on #7217
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-09-26 22:14] #7217 closed

[2019-09-26 22:19] samhouts commented on #7601
iOS13.1 is released now. Are we good to close this issue? Thanks.

[2019-09-26 22:19] samhouts commented on #7645
@tqngan1984 Thanks, we'll keep looking for it.

[2019-09-26 22:21] samhouts commented on #7698
cc @StephaneDelcroix

[2019-09-26 22:21] kingces95 commented on #7253
Please provide a reproduction of the issue.

[2019-09-26 22:23] samhouts commented on #7631
@dctoai  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-26 22:25] samhouts commented on #7674
@breyed  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-26 22:26] samhouts commented on #7679
@breyed  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-26 22:26] samhouts commented on #7680
@breyed  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-26 22:27] samhouts commented on #7681
@dinobu  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-26 22:28] samhouts commented on #7691
@nirbil  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-26 22:29] samhouts commented on #7696
@davidmclennan  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-26 22:32] samhouts commented on #7703
@DaveEnar  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-26 22:46] DaveEnar commented on #7703
[TestShell.zip](https://github.com/xamarin/Xamarin.Forms/files/3660167/TestShell.zip)

[2019-09-26 23:22] slang25 commented on #7563
Thanks @samhouts, I've retargeted as advised.

[2019-09-26 23:48] jrahma commented on #5530
@samhouts my shell never worked too.

I am trying it on Android Emulator and Honor 10 Lite device.. Both having the same problem

Here is a sample project

[ShellTitle.zip](https://github.com/xamarin/Xamarin.Forms/files/3660295/ShellTitle.zip)

[2019-09-27 00:28] #7577 closed

[2019-09-27 00:28] #7621 closed

[2019-09-27 00:32] samhouts commented on #7035
closed by #7158

[2019-09-27 00:32] #7035 closed

[2019-09-27 00:33] samhouts commented on #7357
closed by #7516

[2019-09-27 00:33] #7357 closed

[2019-09-27 00:33] samhouts commented on #5593
closed by #6015

[2019-09-27 00:33] #5593 closed

[2019-09-27 00:34] samhouts commented on #7347
closed by #7499

[2019-09-27 00:34] #7347 closed

[2019-09-27 00:34] samhouts commented on #7453
closed by #7499

[2019-09-27 00:34] #7453 closed

[2019-09-27 00:34] samhouts commented on #6817
closed by #7183

[2019-09-27 00:34] #6817 closed

[2019-09-27 00:35] samhouts commented on #7443
closed by  #7444

[2019-09-27 00:35] #7443 closed

[2019-09-27 00:39] samhouts commented on #7683
see also #7304

[2019-09-27 00:52] #6281 closed

[2019-09-27 03:08] breyed commented on #7680
@samhouts I don't have an isolated repro for this bug. It shows up in a production app that isn't doing anything special with its ListViews. I expect you'll it will readily repro for you on an existing test project using the latest XF and iOS. If you have trouble reproing, let me know.

[2019-09-27 03:11] breyed commented on #7679
@samhouts I don't have an isolated repro for this bug. It shows up in a production app that isn't doing anything special with its large titles. I expect at least the gray background issue will readily repro for you on an existing test project using the latest XF and iOS that uses large titles. Fixing the background bug will automatically fix the text overlay bug. If you have trouble reproing, let

[2019-09-27 03:12] breyed commented on #7674
@samhouts I don't have an isolated repro for this bug. It shows up in a production app that isn't doing anything special with its use of styles. I expect it will readily repro for you on an existing test project that makes use of `TitleStyle` on the latest XF and iOS. If you have trouble reproing, let me know.

[2019-09-27 05:55] PureWeen opened #7708 "[Enhancement] Expose text property for more button on bottom tab navigation and Shell"
## Summary
The more button on the bottom tab bar isn't currently configurable. We should expose a text property to make the text settable.

This property should be exposed on the Shell as well as a platform specific property on android.

[2019-09-27 07:18] eramrit78 commented on #6486
Hi
No solution found of my issue so that i have remove shell from my app. now it work fine.

dear team kindly understand the shell feature is lot of bugs and limits. we cannot start a app using shell with these bugs. It should me more flexible for developer.

Thanks

[2019-09-27 07:20] MagicAndre1981 commented on #7602
This is something that the Xamarin.Android team should look at @jonathanpeppers @brendanzagaeski

[2019-09-27 07:52] mtoan2111 commented on #7680
Same on me.
I also tried with ViewCell Custom Render.

[2019-09-27 08:12] jsuarezruiz commented on #6507
It seems to be the same as https://github.com/xamarin/Xamarin.Forms/issues/5831 or be related.

[2019-09-27 08:13] Basti82b commented on #7446
@hartez Thank you so much! I have never heard of the "IME options". Hopefully the bug will be fixed soon.

[2019-09-27 08:13] #7446 closed

[2019-09-27 08:18] erdugen opened #7709 "[Bug] On android, not showing keyboard when changing placeholder in entry focused event"
### Description
On Android, the keyboard does not appear when I change the PlaceHolder property of a in entry's focusing event.
### Steps to Reproduce

Entry x:Name="entTest" Placeholder="blabla" Focused="focus_event"

public void focus_event(object sender, FocusRequestArgs arg)
{
   entTest.Placeholder = null;
}
### Expected Behavior

### Actual Behavior

### Basic Information

- Version with iss

[2019-09-27 08:42] AndrueCope commented on #6492
Now I'm thoroughly confused. Something that was apparently working perfectly well ("{x:type..." in xaml) was removed. This prevents the previously perfectly functional solution from building. The workaround is to remove x:type thereby losing useful functionality (Intellisense lookup). The solution is to add "{x:type..." support back in.

We've just updated to the latest Xamarin forms (4.2.0.815419

[2019-09-27 08:53] davidbritch commented on #6492
Hi @AndrueCope

Compiled bindings have never supported `x:Type` until Xamarin.Forms 4.3 (currently a pre-release). Some versions of Xamarin.Forms just silently ignored compiled bindings that were set using the `x:Type` markup extension, and some versions of Xamarin.Forms threw an error.

In Xamarin.Forms 4.2 and earlier, when using a compiled binding, the binding had to be expressed as a string li

[2019-09-27 09:01] AndrueCope commented on #6492
But they 'worked' perfectly well for us. They provided us with Intellisense support in data templates and our XAML compiled and our apps ran. This change either locks us out of updating Xamarin Forms until 4.3 is released or requires us to change over a dozen pages, live without Intellisense for who knows how long then change them all back when 4.3 is released.

Your reply appears to show no consi

[2019-09-27 09:30] viktorszekeress commented on #6492
Agree. This is literally the only reason why are still on XForms 4.0.
Waiting for 4.3

[2019-09-27 09:36] mariomoramontero opened #7710 "MasterBehavior="Split" is not working after updating to XF 4.2 and iPadOS"
Hi
After upgrading XF to the latest v4.2 and testing our app on the simulator with iPadOs, we noticed that the "split" MasterBehavior has stopped working on our MasterDetailPage (portrait mode).
This happens on portrait mode with both "Split" and "SplitOnPortrait", but when we turn the device to landscape it works as expected. The Popover mode also works on portrait.

Also I tried with "IsPresente

[2019-09-27 09:45] dontspeak commented on #5153
Hello,
a lot uf developers do not understand that Xamarin Forms has a tons of bugs which prevent developers of using XF for their products. You release "fantastic" new XF versions almost each month with a lot of new features, but do not solve bugs that exists since years or since XF exists. You also can not even say when a bug will be fixed. I really liked XF, but I see more and more that you have

[2019-09-27 09:52] overzealus commented on #7601
Yes, with iOS 13.1 this bug is gone.

[2019-09-27 09:58] davidmclennan commented on #7696
@samhouts
[CollectionViewRepro.zip](https://github.com/xamarin/Xamarin.Forms/files/3662153/CollectionViewRepro.zip)

[2019-09-27 10:02] alex-relov commented on #6112
when will the badge for shell appear in xamarin forms?
Can you show an example of a renderer for Tab (ShellSection) with badge?

[2019-09-27 10:24] mzhukovs commented on #5500
Seeing the same thing almost pulled my damn hair out, should have googled sooner! Any ETA on a fix, or anyone have a suitable workaround in the meantime?

[2019-09-27 11:22] Dresel commented on #6112
I'm currently waiting for review / feedback from the XF team, I cannot tell you when this will be ready.

If you want you can build the XF repo and play with the Control Gallery sample or check the PR sources.

[2019-09-27 11:33] #7320 closed

[2019-09-27 11:43] awaescher commented on #7350
You saved my life, @Jeff-Bridges. Here's what the whole renderer looks like

[code]

[2019-09-27 12:02] LamijaV opened #7712 "[Bug][iOS] Xaminals UISearchController crash"
### Description
I downloaded Xaminals example. When I touch search bar, app crashes on iOS. Works on Android.

### Steps to Reproduce

1. Download example
2. Build on iOS
3. Click on search bar

### Expected Behavior
Ability to enter text and search animals.
### Actual Behavior
Keyboard opens and app crashes with unhandled exception.

2019-09-27 13:07:53.432 Xaminals.iOS[1304:176570675] -[UIKit_UI

[2019-09-27 12:39] Basti82b opened #7713 "[Bug] Tab title cropped on selection"
### Steps to Reproduce

1. Load the [Xaminals project](https://github.com/xamarin/xamarin-forms-samples/tree/master/UserInterface/Xaminals)
2. Add a word to the ShellContent.Title of Monkeys in AppShell.xaml
3. Run the app and select the Monkeys tab

### Expected Behavior

Tab title is displayed completely.

### Actual Behavior

Tab title is cropped.

### Basic Information

Version with issue: Xam

[2019-09-27 12:51] LamijaV opened #7714 "[Bug][iOS] Xaminals CollectionView items overlap on iOS"
### Description
CollectionView on iPhone overlaps items after navigating to About page. It happens every time on iOS, never on Android. I tried removing the about page content and codebehing but issue persists. Also, the selection (highlight) remains on last selected item, even tho I navigate trough the app. I attached the screenshots.
### Steps to Reproduce

1. Open Xaminals sample
2. Go to About

[2019-09-27 13:15] bmacombe commented on #7253
@kingces95 Reproduction attached as requested.  I included the version of the "ASSwitchRenderer" that causes the crash and left my updated version in the same file commented out.

I also updated to the latest 4.3 pre and the error was still present.

Thanks!

[App3.zip](https://github.com/xamarin/Xamarin.Forms/files/3662867/App3.zip)

[2019-09-27 13:23] v-haroha commented on #7680
I can verify that this is an issue with iOS versions 13.0 and not with previous versions, like 12.2.
Xamarin.Forms version does not matter, I tested with Xamarin 4.2, 4.1, 4.0 and 3.6 all behave the same on a 13.0 device.

Run sample project on a 13.0 Simulator device and the ViewCell seems to be highlighted the same color as the ListView. If you do the same on a 12.2 the Listview is grey.

Here i

[2019-09-27 13:29] pamela032709 commented on #4220
@samhouts @StephaneDelcroix so you guys closed #6929 and #7676 all of them looks different to me and I don't understand how an spacing = "0 "will fix this issue. can you please provide if this going to be fixed and when and it would be helpful to know why is happening , so developers can start doing some workaround while you guy get the fix.This is very serious - Accessibility is no joke, plus the

[2019-09-27 13:41] Basti82b opened #7715 "[Bug][Android] ScrollView.ScrollTo Entry scrolles it out of view"
### Description

When I use ScrollView.ScrollTo with an Entry like following, it scrolles too far to top so that the Entry is out of view. Maybe that happens because the keyboard opens at the same time.

`ScrollView.ScrollToAsync(Entry, ScrollToPosition.Start, true);`

[2019-09-27 13:44] IgorKravchenko10 opened #7716 "[Bug] Unable to change Shell hamburher menu color (it is white always) on Android"
### This bug described [here](https://forums.xamarin.com/discussion/comment/390544/#Comment_390544). I am unable to change hamburher menu color for Android from version 4.2.0.709249. In 4.1.0.778454 all works fine.

### Steps to Reproduce

1. Update Xamarin.Forms to 4.2.0.709249 or higher.
2. Change Shell.ForegroundColor to another color instead of white and run project on **Android**.

### Expect

[2019-09-27 14:12] Syed-Esqimo commented on #2096
The issue seems to be on Samsung devices running below Android 9. Such as Galaxy S7 running on Android 8.0 @PureWeen @davidortinau @pauldipietro. Please guys if there is a workaround plus solution address the issue and update this github issue. This is Microsoft backed team, this is unacceptable.

[2019-09-27 14:34] v-haroha commented on #7680
Going one step further then this, even creating a Custom SelectedBackgroundView no longer works
[code]

[2019-09-27 15:29] jessecanderson commented on #7654
@PureWeen I'm seeing a blank screen issue as well. What is the oldest patch version of Forms that is updated for iPad iOS 13? Is 3.6 the minimum suggested XF version?

[2019-09-27 15:36] PureWeen commented on #7654
Yes 3.6

I tested this on 3.6 and it worked for me so if you are seeing this issue on the most recent patch version of any XF 3.6+ please attach a repro so we can fix

[2019-09-27 15:39] jessecanderson commented on #7654
@PureWeen our version is 3.1 from what I was seeing. I just needed to validate the minimum required Forms patch level to support iOS 13. Thank you.

[2019-09-27 15:40] hartez opened #7717 "[Bug] [Android] CarouselView crashes when items cleared"
# Description

CarouselView crashes when clearing the items. Looks like an issue in GetItemForPosition().

### Steps to Reproduce

1. Control Gallery, navigate to CarouselView Gallery -> CarouselView (Items)
2. Tap "Clear Items"

### Expected Behavior

Items cleared

### Actual Behavior

Crash

[2019-09-27 15:43] PureWeen commented on #7654
@jessecanderson so on this point

I just want to emphasize that we haven't picked 3.6+ as being where all iOS 13 fixes are going to go this was just a pretty major one and timing worked out to get this into 3.6.

For example this fix
https://github.com/xamarin/Xamarin.Forms/pull/7705

We're currently only targeting to 4.2

If you're stuck on older versions because of bugs please let us know so we

[2019-09-27 15:46] PureWeen commented on #7716
duplicate https://github.com/xamarin/Xamarin.Forms/issues/7577

[2019-09-27 15:46] #7716 closed

[2019-09-27 15:47] jessecanderson commented on #7654
@PureWeen I understand that and appreciate the guidance. We are looking at upgrade options for this app now but and this information really helps us.

[2019-09-27 15:51] brepetti commented on #7478
We have same issue after updating Xamarin Forms.  Cannot set MainPage in background.

Almost same issue here: https://github.com/xamarin/Xamarin.Forms/issues/7290

Previously I was able to get around the issue by adding a Task Delay, but now OnAppearing is never even called.

[2019-09-27 15:56] PureWeen commented on #7602
This started happening because we moved our build servers from VS 2017 to VS 2019 which has newer versions of XA/XI/Mono SDKs. When you build against newer versions of those SDKs those versions will no longer work on older versions.

This is the specific change triggering this exception https://github.com/mono/mono/pull/11511

The next release of 4.2 will be built against VS 2017 so that it can st

[2019-09-27 16:04] #7589 closed

[2019-09-27 16:05] #7445 closed

[2019-09-27 16:17] nirbil commented on #7691
On vacation, I'll try in a couple of weeks.
Meanwhile, I bypassed the limitation by implementing custom cangoback/forward properties using custom renderers.
On UWP I've registered on the relevant DependencyProperties and updated accordingly.
On Android I've added registration to DoUpdateVisitedHistory in the FormsWebViewClient and updated the custom properties on each visited history update.
On iO

[2019-09-27 16:26] MagicAndre1981 commented on #7602
ok, so we will stop using Xamarin.Forms. VS2019 is a no go. Bye. Bye and RIP Xamarin.

[2019-09-27 16:39] samhouts commented on #7602
@MagicAndre1981 We're still discussing options. We have not yet made the decision to require VS2019 for 4.3.

Would you be willing to share why VS2019 is a "no go"? What is your timeline for upgrading?

Thanks!

[2019-09-27 16:46] v-haroha commented on #7680
Still looking into a workaround for this issue, but this is related to changes to iOS 13
Changes to iOS 13 have resulted in this, not sure how to fix yet

[https://developer.apple.com/documentation/ios_ipados_release_notes/ios_13_release_notes](https://developer.apple.com/documentation/ios_ipados_release_notes/ios_13_release_notes)

Per iOS 13 release notes (https://developer.apple.com/documentati

[2019-09-27 16:59] jfversluis commented on #6127
The error originates [here](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs#L465). The `Order` simply is not taken into account.

I've opened a PR to fix that

[2019-09-27 17:00] v-haroha commented on #7680
Based on this information I was able to implement a custom renderer that can "Mostly" resolve the issue.
[code]
but it appears that the background and Opaque settings of subView's do not get set, so you will have to deal with each of these on their own, or write some recursive function that will clear these settings on all subviews.
Here you can see a side by side example of what it will look like

[2019-09-27 17:04] mfeingol commented on #6127
@jfversluis: greatly appreciated!

One question, while you're in the area: I probably should have filed an issue for this, but when I was evaluating porting over to Shell, I noticed that ToolbarItems from sub-pages inside a TabbedPage weren't being picked up by the Shell at all. Is that by design, or does it also need to be fixed?

(I can provide a repro if needed.)

[2019-09-27 17:14] jfversluis commented on #6127
@mfeingol that's what we do it for! 😉

For the other thing, if you wouldn't mind opening a new issue (with a reproduction would be superduper awesome) please do. That way we can track the two things separate from each other. From the top of my head I'm not sure if that is by design (@PureWeen ?) but my gut feeling says it's not and it should just work as it does on non-Shell apps

[2019-09-27 17:16] PureWeen commented on #6127
So you have TabbedPage inside of your Shell?

[2019-09-27 17:20] breyed commented on #7554
It's not just a performance that makes this issue a priority, it's that in complex production app, a crash can appear with no indication on the call stack of where it came from. The optimization becomes useless if reliability becomes a guessing game. The guidance for CompressedLayout should be updated to reflect the current reality.

[2019-09-27 17:46] briman0094 commented on #7658
Interestingly enough, the previewer is working correctly for me even with a generic base class after updating my copy of Visual Studio to 16.3.0...

[2019-09-27 17:52] mfeingol commented on #6127
@PureWeen: I was moving my existing app into the Shell, and the existing app has TabbedPages, so... yes.

Once it's clear that Shell doesn't have any showstoppers, then I'll put some work into porting tabs over to the way Shell does them. One complication is my viewmodels are shared with a native UWP app where the separate tabs are not separate pages, so there's a little bit of entanglement betwee

[2019-09-27 18:14] schovan opened #7719 "[Bug] MasterDetailPage Hamburger Menu is cut off"
### Description
Hamburger Menu is cut off

### Steps to Reproduce

1. Create new Mobile app (Xamarin.Forms)
2. Select Master - Detail Template and check Windows (UWP)
3. Build and Run UWP project

### Expected Behavior
Hamburger menu shouldn't be cut off

### Actual Behavior
Hamburger menu is cut off

### Basic Information

- Version with issue:
xamarin.forms 4.2.0.709249
- Last known good version

[2019-09-27 18:24] MagicAndre1981 commented on #7602
because of the broken UI (horrible modal Start Window, this ruined "New Project dialog" and the notification icon at buttom where I always overlook it). VS2019 repeats the VS2012 desaster

[2019-09-27 18:50] jonathanantoine commented on #5087
Any other idea :D ?

[2019-09-27 18:55] samhouts commented on #7408
@acastr7 Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-27 18:56] #7601 closed

[2019-09-27 18:57] samhouts commented on #7709
@erdugen  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-27 18:59] samhouts commented on #7710
@mariomoramontero Can you confirm that this was working on 4.1 using iOS 13? Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-27 19:02] samhouts commented on #7715
@Basti82b Please use the entire issue template to report problems.  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-27 19:33] KthProg commented on #6810
i fixed the above issue by enabling recycling, but that cause a slew of other issues I had to fix. So this is an issue when recycling is off and you have grouping enabled on a list view.

[2019-09-27 19:35] adrianknight89 commented on #5087
@jonathanantoine I haven't tried this, but recently HTML formatted text was added to Label. Update your Nuget package and see if you can leverage that. Also, once CollectionView is ready, performance should be somewhat better.

[2019-09-27 20:16] PureWeen commented on #6127
Yea it's definitely by design. If you could log an issue with your use case then we (or someone from the community) can look into making things like that work with Shell

The problem is that getting those inner pages to work with Shell starts to add layers of complexity we'd like to avoid. So ideally we could just get you full Shell

[2019-09-27 20:19] PureWeen commented on #6486
@eramrit78

1) why don't you declare all of that inside XAML?
2) What you have above should just work from code *OnAppearing* isn't going to change whether that works or doesn't work. Can you log an issue with a repro so we can look at fixing your issues?

The thing about OnAppearing on the Shell is that it's kind of a meaningless call. OnAppearing just indicates that something as the intent to Ap

[2019-09-27 20:24] PureWeen commented on #7710
duplicate https://github.com/xamarin/Xamarin.Forms/issues/7556

[2019-09-27 20:24] #7710 closed

[2019-09-27 21:00] mfeingol commented on #6127
That's what I thought. I'll file an issue so you have it in mind, but no surprises if it gets closed as WF. :-)

[2019-09-27 21:12] TimBarham commented on #7658
@briman0094 - can you clarify, based on your updated information, the exact steps I need to repro this? Thanks!

[2019-09-27 21:18] briman0094 commented on #7658
@TimBarham you should be able to delete the `FruitView.xaml` and `FruitView.xaml.cs` files before opening Visual Studio, and then add them back while Studio is open and the solution is fully loaded. After adding them back, the previewer should show the error I'm experiencing. I can consistently reproduce the issue on any classes inheriting from the generic base class which are added while Studio i

[2019-09-27 21:27] brminnick opened #7720 "[Bug] Tapping Entry/Editor on iPhone 11 Simulator running iOS 13 when using Compressed Layouts throws NullReferenceException"
### Description

Tapping an Entry or Editor on iPhone 11 Simulator running iOS 13 when using `CompressedLayout.SetIsHeadless(layout, true);` throws a `NullReferenceException` (below).

Note: The app does not crash when running on a physical device.

[code]

### Steps to Reproduce

#### Entry

1. Download the reproduction sample: https://github.com/brminnick/iOS13SimulatorEntryRepro
2. Open `iOS13S

[2019-09-27 21:46] samhouts commented on #7720
Duplicate of #7554

[2019-09-27 21:46] #7720 closed

[2019-09-27 22:03] luccasclezar commented on #7251
A workaround for now is to name the layout of the CollectionView's EmptyView, like this:

[code]

<br>

Then on the page's constructor (change the `EmptyViewLayout` property to the name you set):

[code]

<br>

That's it. Until the issue is fixed this workaround will do :).

The repro project with the workaround:

[CollectionViewIssues.zip](https://github.com/xamarin/Xamarin.Forms/files/3664657/Co

[2019-09-27 22:07] vsfeedback opened #7721 "Xamarin Forms App Crash"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/745313/xamarin-forms-app-crash.html)._

---
Basic X.F. project crashing on startup during debugging of an Android app on the device.  Tested on Xamarin.Forms v 4.2 and 4.3 pre-release.

---
### Original Comments

#### Visual Studio Feedback System on 9/25/2019, 03:18 AM:

<

[2019-09-27 22:24] samhouts commented on #4220
@pamela032709 These reports may look different, but they all have the same root cause. This issue will be fixed. Given our current set of priorities, we expect to begin work on this within 90 days. Thank you for your patience.

[2019-09-27 22:40] samhouts commented on #7721
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-09-28 00:15] PureWeen opened #7725 "[Enhancement] Shell Flyout options for iPad aren't working as expected and need to match available MDP options"
## Summary
These sets of changes we made to MDP also need to be applied to Shell

https://github.com/xamarin/Xamarin.Forms/pull/7705

Make sure once this has been completed that
https://github.com/xamarin/Xamarin.Forms/issues/7576

Is also fixed

[2019-09-28 03:11] TonyGravagno opened #7726 "[Bug] VS2019 does not show expected Xamarin controls in toolbox"
### Description
It looks to me like there are Xamarin Forms controls missing from the VS2019 toolbox.

### Steps to Reproduce

1. Create a new Android project.
2. Open content_main.xml (the toolbox should load somewhere in here)
3. Note some widgets are missing.
4. Close/restart solution and VS in attempt to refresh.

I have not deleted toolbox files or taken any other special steps to refresh/res

[2019-09-28 03:56] adrianknight89 commented on #7699
@luccasclezar When I click the Add button, the app crashes. Tested on XS with 4.4.0.1195-nightly. Can you confirm?

[2019-09-28 04:05] adrianknight89 commented on #7696
@davidmclennan I didn't see this issue on 4.4.0.1195-nightly. Can you confirm?

[2019-09-28 04:31] craigwi opened #7727 "[Bug] Nested scroll case: crash in 4.2, modal behavior in 4.1"
### Description
A simple horizontal scroll view nested in a vertical scroll view results in modal behavior in the latest 4.1 and 3.6 (and maybe other versions).  In latest version 4.2.0.815419, this example crashes and VS times out trying to get the exception info.

### Steps to Reproduce

1. paste the attached xaml into mainpage.xaml in an otherwise blank Android Xamarin Forms app.
2. in 4.2, thi

[2019-09-28 05:50] adrianknight89 commented on #6048
An error should be thrown if there are no single quotes otherwise this is easy to miss. I made this mistake on several views that were seldom hit and just noticed the issue actually. @StephaneDelcroix

[2019-09-28 06:57] eramrit78 commented on #6486
Hi

I agree OnAppearing is meaningless in shell. there should be a option reinstance  of page which calls using shellcontent. like init shell.

Thanks

[2019-09-28 13:11] eramrit78 commented on #6486
Hi

Look at my scenario. it clear you the onAppearing need.Look at screen shots first time in bottom tab show login button. after login it load the dashboard but in bottom tab it still show login button. there should be a dashboard button which show after login.But it show after close and re open the app. this is a one example where we need OnAppearance Event in AppShell.

![Screenshot_1569675890]

[2019-09-28 16:09] DellaMoraWalter opened #7729 "[Bug] Set Button ImageSource in Style don't work"
### Description
When I set the Button ImageSource property in a Setter, at runtime, when the app is starting, a Xamarin.Forms.Xaml.XamlParseException is raised:
"The PropertyName of Button.ImageSourceProperty is not ImageSource".

The exception is raised only if the code is in a ResourceDictionary inside a library.
If I put the same code in the ResourceDictionary of the Application.Resources all i

[2019-09-28 16:49] luccasclezar commented on #7699
@adrianknight89 I tested with 4.4.0.1195-nightly and it's still happening. The Add button doesn't crash the app for me, but the issue is not related to it. When you open the app it should display as the first screenshot I attached (with all 12 sized rows bigger than they should be).

The add button is meant for another issue I was testing that renders the CollectionView on the second tab invisible

[2019-09-28 17:19] luccasclezar commented on #7699
To confirm, I tested out on an iPhone 8 Plus running iOS 13.1. As you can see, the issue still occurs.

![IMG_CB64BCAA91D0-1](https://user-images.githubusercontent.com/12024080/65820034-a6525d00-e1fa-11e9-8c9b-389c054d1716.jpeg)

[2019-09-28 17:24] angelru commented on #6294
Any updates? The same issue in Android 9: Xiaomi mi6

[2019-09-28 18:09] adrianknight89 commented on #7699
@luccasclezar I think this may only be an iOS 13 issue. I tested this on iOS 12.4.1 with an XR device. No issues there.

[2019-09-28 19:15] luccasclezar commented on #7699
@adrianknight89 I can’t test right now on an iOS 12 device, so I can’t say for sure, but yeah, probably an iOS 13 issue.

I don’t know about the Add button crash though, it doesn’t happen on iOS 13. Maybe it’s related to #7700 but instead of failing silently and not rendering the CollectionView, it crashes on iOS 12.

[2019-09-28 19:21] AmerBakeer commented on #6227
Hello,
Please .. any update regarding this BIG issue??  please... !!!

[2019-09-28 19:47] AmerBakeer commented on #6342
Hello,
Any update regarding this show-stopper? 😔😞
Thanks in advance

[2019-09-28 19:55] PureWeen opened #7730 "[Enhancement] Match all the current TabPage style features into shell"
## Summary
Currently the tabs on Shell can't be styled as well as a TabPage. We need to add the ability to tint each tabs selected and unselected color.

## Implementation Details
Wait to implement until we discuss the best option. This might be implemented as part of a more customized custom control.

If we end up just styling the native TabBar then make sure to reuse the tinting code that's part

[2019-09-28 21:26] lv1il0s commented on #7521
Seems related to https://github.com/xamarin/Xamarin.Forms/issues/5216 (which is closed but apparently not resolved). I'm experiencing the same issue on physical devices (Samsung S8, A3, Sony Z1 Compact) and emulators. On the other hand, iOS seems to be smooth. I hope this issue will be looked into soon.

[2019-09-28 22:26] Mario-HL-Duarte opened #7731 "Can't compile on release mode"
I'm not being able to compile my project on release mode anymore without "Use Shared Runtime" checked.

![image](https://user-images.githubusercontent.com/38980017/65823053-62288200-e225-11e9-990d-95f02d969e57.png)

If I check the option, I can compile, but not deploy to a device.

![image](https://user-images.githubusercontent.com/38980017/65823075-c0556500-e225-11e9-8b63-e893f193f059.png)

[2019-09-28 23:23] Mario-HL-Duarte commented on #7731
The problem seems to be on **linker**

![image](https://user-images.githubusercontent.com/38980017/65823486-956f0f00-e22d-11e9-8cde-4d551b90bb25.png)

[2019-09-28 23:38] PureWeen commented on #7731
@Mario-HL-Duarte can you attach a repro?

@mattleibow @Redth

[2019-09-29 05:13] Carl-Wen commented on #4291
Same issue here, Xamarin.Forms version is 4.2.0.815419.

[2019-09-29 05:29] AmirImam commented on #6261
Still not working on android on Xamarin.Forms 4.2.0.709249

[2019-09-29 11:51] koosha72 opened #7732 "[Bug] Corrputed apk Reported by Google Play Appeals"
### Description
As I updated to Visual Studio version 16.3.1 from 16.2 my release apk is marked as corrupted by google play protect appeals! I cannot send my app to google play protect appeals so there is a warning about unrecognized developer.
### Steps to Reproduce

1. Create an Archive
2. Sign it
3. Send the resulting apk to Google Play Protect Appeals

### Expected Behavior
Google Play Protect

[2019-09-29 11:55] ZeProgFactory opened #7733 "[Bug] Disappearing doesn't fire on [UWP] & [WPF]"
### Description

I tried three methods to handle page Disapearing.

In the code
[code]

Overriding
[code]

And the event handler from XAML
[code]

Neither of the three handler is called on UWP and WPF. They were called all three on Android.

### Steps to Reproduce

Basicaly generate a new XF solution and implement the Disappearing handlers.

The test solution is attached.

[XFBug_UWP_OnDisappearin

[2019-09-29 13:51] mzhukovs commented on #2449
As part of this enhancement, could we also include the ability to set the text color?

[2019-09-29 14:10] Shaggy13spe commented on #5210
Any updates here? being forced to use such large input boxes is a little annoying.

[2019-09-29 16:30] Elashi commented on #7397
I need to keep the setting: ` android:supportsRtl="true"` to make the rest of my Android app right to left.  And I would like the CollectionView to behave as expected RightToLeft with this setting on.

I am interested in fixing this problem myself if it is not in progress yet. But I need some help to put me on the track.  I already spent four days trying to figure out how to build Xamarin.Forms pr

[2019-09-29 16:33] greendimka opened #7734 "[Bug] ListView.ItemTapped not working in UWP"
### Description

### Steps to Reproduce

1. Create an Xamarin.Forms project for UWP.
2. Add a ListView to a XAML page, bind it to some data.
3. Add event handler to ListView. (example: ItemTapped="lst_ItemTapped")
4. Run app and check the Xamarin.Forms.ItemTappedEventArgs, passed into event handler.
5. Item property of args object is null, but must be a tapped object.

### Expected Behavior
Item p

[2019-09-29 16:43] dgerding opened #7735 "[Bug] UWP Shell Support Not Rendering and Mis-Rendering some Button Controls"
### Description
Using the default Xamarin Forms project template the UWP project runs but hides some elements (the "Add" item button in the upper right corner) and does some wonky layout on the Shell button navigation in the bottom.  Also, probably worth noting the "indent" effect happening with the controls from top to bottom along the left-hand side of window.

See screenshots below.

### Steps

[2019-09-29 17:20] Elashi opened #7736 "[Enhancement] TabBar button does not take me home"
### Description
The bottom TabBar button behaves differently on different platforms.  In iOS , if I click on the button the second time, it navigates back to the home page associated with the TabBar.  But, in Android, if I click on it the second time , it does not go anywhere.

The bug: iOS and Android should behave the same.  And I think iOS has the correct behavior.
The feature: I wish there is

[2019-09-29 18:46] mikkeljohnsen commented on #6466
Today I think I used 80% of my time getting the build system to work and 20% actually coding. I do think, I need to change to JetBrains Rider and see if that is better. Else changing away from Xamarin.Forms is something I have to consider.

This is beginning to be ridiculous...

[2019-09-29 19:04] mikkeljohnsen commented on #6466
To be a little more constructive. It has something to do with iOS and Droid in the same project. If I unload the Droid project, I always get this error. If Droid is loaded and I clear "bin" and "obj" folders, I have to click on "Rebuild All" in the menu. If I click on the "Run" og just try to build the iOS project I get this error. So Rebuilding all first and then Run. That is where I get the best

[2019-09-29 20:03] greendimka commented on #7734
Some investigations:
- If I fill ListView in ctor, that is: before view is activated - ItemTapped event works as expected.
- If I add items later (after view is active) - ItemTapped fails.

In short - items added to ListView after view has been activated - do not work as expected when tapped

[2019-09-29 20:38] #7311 closed

[2019-09-29 20:38] #7531 closed

[2019-09-29 20:38] #5354 closed

[2019-09-29 20:38] #7395 closed

[2019-09-29 23:34] jdluzen commented on #6640
Just got this one on `4.2.0.815419`. I am trying to launch a Uri with `StartActivity`.

[2019-09-30 01:30] #7512 closed

[2019-09-30 01:30] #7563 closed

[2019-09-30 03:07] mfeingol opened #7739 "[Enhancement] Shell ignores ToolbarItems from TabbedPage subpages"
### Description

cf https://github.com/xamarin/Xamarin.Forms/issues/6127#issuecomment-536082200

In short, Shell does not discover and promote ToolbarItems from pages contained within a TabbedPage.

### Steps to Reproduce

1. Set up a shell
2. Set up a tabbed page with sub-pages
3. Add ToolbarItems to the sub-pages
4. Observe they don't show up in the shell

### Expected Behavior

TabbedPages shou

[2019-09-30 03:22] RocketPop opened #7740 "[Bug] ImageButton aspect and background problems"
### Description
  Setting a background color or binding to an image source breaks the scaling of the image. In both cases, aspect mode is not respected

### Steps to Reproduce

1.  Instantiate an image button
2. Bind to an image that is not the same size as the button
3. Set a background color
4. Set an aspect mode

### Expected Behavior
 Settings should perform as expected. Image size should be r

[2019-09-30 04:11] mfeingol opened #7741 "[Bug] Hot Reload: TabbedPage adds a new copy of tabs when reloaded"
### Description

### Steps to Reproduce

1. Create new tabbed project in VS 2019
2. Enable Hot Reload
2. Run app in debugger (on Android, at least)
2. Edit and save MainPage.xaml, observe page reloads in debugger
3. Observe page now has four tabs

### Expected Behavior

Old tabs would be cleared

### Actual Behavior

Old tabs are retained alongside new tabs

### Basic Information

- Version with i

[2019-09-30 04:15] rajkumarvishnu commented on #6908
This is a wacky one - happens sporadically.
                <Grid.RowDefinitions>
                    <RowDefinition Height="50" />
                    <RowDefinition Height="*" />
                </Grid.RowDefinitions>
is my grid sizing - collection view uses the second row.

The workaround for now is naming the very outermost content view stack layout height and (-50 (first row height)) from it.

[2019-09-30 07:32] erdugen commented on #7709
[Issue7709.zip](https://github.com/xamarin/Xamarin.Forms/files/3669319/Issue7709.zip)
Click the test1 field first. You will see the keyboard appear on the screen. Then click on an empty area to hide the keyboard. Then click the test2 field. You will notice that the text field has focus but the keyboard does not appear on the screen. You will see that it works correctly when you click or focus with

[2019-09-30 07:49] FetFrumos commented on #7684
I use 4.2.0.815419 and have same issue:

ImageLoaderSourceHandler: Could not retrieve image or image data was invalid: myurl
Could not load image named: {0}: delete
but this url open in brouser

[2019-09-30 07:55] jsuarezruiz opened #7742 "[Bug] Changing the ItemTemplate on CarouselView dynamically doesn't work"
### Description

If you change the ItemTemplate (programmatically) for a CollectionView, the template is not applied.

### Steps to Reproduce

1. Open Xamarin.Forms Core Gallery.
2. Navigate to the Issue 7395.
3. Press a button to change programmatically the ItemTemplate.

### Expected Behavior
The CollectionView refresh every item with the new ItemTemplate.

### Actual Behavior
Nothing happens.

[2019-09-30 09:52] StephaneDelcroix commented on #7293
I don't think the Brush should inherit from BO

[2019-09-30 09:56] jsuarezruiz opened #7744 "[Spec] Shadows"
# Shadows

Shadows create visual cues in the interface, which helps the human brain differentiate the UI element that the user sees. And, this the reason why actually mobile designers favor incorporating shadows in their designs.

![shadows](https://user-images.githubusercontent.com/6755973/65867689-2d2c4480-e377-11e9-8b78-e0f159cd032e.png)

# API

The DropShadow class provides means of creating a

[2019-09-30 10:32] StephaneDelcroix commented on #7741
this is fixed in newer versions of HR

[2019-09-30 10:32] #7741 closed

[2019-09-30 12:51] greendimka opened #7745 "[Bug] iOS page background color is ignored when set in style."
### Description
If page background color is set in style for TargetType="Page" then background color is ignored.
If page background color is set as a property of page - everything works fine.

### Steps to Reproduce

1. Create Xamarin.Forms app for iOS (add Android if you want to compare)
2. Create a style in App.xaml for page:
		&lt;Style TargetType="Page"&gt;
                &lt;Setter Property=

[2019-09-30 12:57] hudaIT commented on #7731
Same problem for me too

[2019-09-30 13:08] Mikilll94 opened #7746 "[Bug] Build failed on Azure Devops after upgrading to XF 4.2.0.815419"
### Description

After upgrading to XF 4.2.0.815419 my builds on Azure Devops always fail. It happens both on Android and on iOS.

Here is my log on Android:

[code]
and here is the log for iOS:

[code]

### Steps to Reproduce

1. Build 4.2.0.815419 on Azure Devops
2. Build fails

### Expected Behavior
Build on Azure Devops should be successful.

### Actual Behavior
Build on Azure Devops fails.

#

[2019-09-30 13:40] jsuarezruiz commented on #7537
Attached sample where the problem is reproduced.
[Issue7537.zip](https://github.com/xamarin/Xamarin.Forms/files/3671473/Issue7537.zip)

[2019-09-30 13:40] Adrien6 commented on #7674
Same here

[TitleStyleFont.zip](https://github.com/xamarin/Xamarin.Forms/files/3671480/TitleStyleFont.zip)

[2019-09-30 13:46] nikhildpardasani commented on #7667
Hi, here is a repo project. This issue occurs only on the iOS Project. I have two frames on the MainPage, when we change themes(backgroundcolours), the shadow of the two frames are not changed correctly.
Repo :- https://github.com/nikhildpardasani/FrameShadowDemo

[2019-09-30 14:11] charlesroddie commented on #7719
Also getting this. I believe it has to do with UWP 18362. @FoggyFinder @Happypig375

[2019-09-30 14:11] sheiksyedm opened #7748 "[Bug][Android] custom view with gradient takes full layout size in Xamarin.Forms"
### Description
We've created a custom view renderer that overrides ViewRenderer and draws gradient paint. Used this custom view in Xamarin. Forms with the HeightRequest and WidthRequest settings. But it occupies complete size, regardless of the size indicated. But when draw the normal rect with solid color it will work properly.

### Code

[code]
### Xaml code
[code]

### Expected Behavior

View

[2019-09-30 14:15] andyhoyle commented on #6244
Was LiveXAML for us

[2019-09-30 14:18] luccasclezar commented on #7699
@adrianknight89 I tested on a iOS 12 simulator now and I can confirm it, there's no issue on the rows' sizes and the app crashes when Add is pressed.

[2019-09-30 14:21] xXdRaGoNrIdDeRXx commented on #5747
@PureWeen, it has been a few months has there been any development on this issue?

[2019-09-30 14:54] FoggyFinder commented on #7719
UWP 17763 has the same issue.

[2019-09-30 15:10] PureWeen commented on #6261
@AmirImam it's fixed on the latest version *4.2.0.815419*

[2019-09-30 15:40] stephanblaurock opened #7750 "[Bug] Extra Space in FlexLayout when using a GridLayout"
### Description
if I use GridLayouts within a FleyLayout, the height of the FlexLayout will not be calculated correctly: it is too high
### Steps to Reproduce
<ScrollView>
			<StackLayout>
				<Label Text="Flex-Test with embedded GridLayouts" />
				<FlexLayout BackgroundColor="Silver" Wrap="Wrap"
						AlignItems="Start" JustifyContent="Start"
						AlignContent="Start"
						VerticalOptions="Sta

[2019-09-30 15:57] dotMorten commented on #7293
It would be good to back that up with a reason ;-)

[2019-09-30 16:23] PureWeen commented on #6808
I'm going to close this issue for the time being.

Once I have access and see the issue I'll reopen with more specifics

[2019-09-30 16:23] #6808 closed

[2019-09-30 16:24] DeerSteak commented on #6244
I also had to fix it on some custom controls I wrote myself. Basically the page disappearing causes the control to fire OnElementChanged(). I had to go through my custom controls and set anything that referenced a native control in the iOS and Android projects to include null checks for `this.Control` everywhere.

[2019-09-30 16:24] PureWeen commented on #7731
@hudaIT do you have a repro you can attach?

[2019-09-30 16:25] developer9969 opened #7751 "ImageLoaderSourceHandler: Could not retrieve image or image data was invalid: Uri"
### Description
Image does not load
It was allegedly fixed in
https://github.com/xamarin/Xamarin.Forms/issues/5172 7248

but latest comment there

### Steps to Reproduce

1. Download project from
https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/workingwithimages/

2. update to latest xamarin forms
3. Launch android and you will get in output
ImageLoaderSourceHandler: Could no

[2019-09-30 16:55] mackayn commented on #7145
Ran into this issue while testing our app after upgrading to XCode 11 and testing on an iPad running 13.1.1. Upgrading to Forms 3.6.0.709228 and also setting the ModalPresentation style for the navigation page fixed all the modal pushes appearing as a sheet.

[code]

[2019-09-30 17:30] PureWeen commented on #7751
@developer9969 we recently fixed an issue with this that should be in the release you mentioned

I tested that sample on an Samsung S9 (API 28) and API 25 Simulator and in both cases it worked for me

Can you make sure the device has internet connectivity? Can you try updating to the latest 4.3 pre? or try the latest nightly builds?

https://github.com/xamarin/Xamarin.Forms/wiki/Nightly-Builds

[2019-09-30 18:00] samhouts commented on #7746
Duplicate of #7602

[2019-09-30 18:00] #7746 closed

[2019-09-30 18:04] developer9969 commented on #7751
@PureWeen  thanks for your prompt reply. just tried now on emulator.Will try on device as soon as get home, but at work I tried on s9 and sony and did not work. Does work in iOS emulator and device.

Tried latest xamarin and prerelease 4.3 and nothing.. I get the following ,below is just a section.
I definetely have internet!  Did not try nightly build.

![image](https://user-images.githubusercont

[2019-09-30 18:11] paleicikas commented on #7166
any changes pending?

[2019-09-30 18:18] ddo88 commented on #7751
same problem here

[2019-09-30 18:23] PureWeen commented on #7751
@ddo88 @developer9969 I realize this one is as simple as downloaded that sample :-) But can you zip up your projects anyway and attach just so I can verify

[2019-09-30 18:37] Redth commented on #7731
Trying to reproduce here as well.

I'm using d8, r8, AndroidX nugets with the migration package, as well as AOT / LLVM and Link "Sdk Assemblies Only" here and it's working ok.

A repro would be helpful indeed, thanks!

[2019-09-30 18:37] PureWeen commented on #7751
@ddo88 @developer9969 can you also

- make sure all your android sdk tools are updated?
- factory reset the simulator device
- if you're releases to a physical device uninstall the app and mono shared runtime
- test with a release build?

[2019-09-30 18:52] samhouts commented on #7307
@mfeingol  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-09-30 18:52] #7307 closed

[2019-09-30 18:55] samhouts commented on #7732
@koosha72 Please report this issue via Visual Studio. Thanks! https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

[2019-09-30 18:55] #7732 closed

[2019-09-30 18:57] mfeingol commented on #7307
Haven't seen a crash report on this lately, so hopefully it was either an outlier or something addressed in recent updates to XF.

[2019-09-30 19:05] Mikilll94 commented on #7602
There is also a crash on iOS. Is it also caused by the older version of VS for Mac? Because for me this is failing on Azure DevOps where I have selected macOS X Mojave 10.14 as an agent for a build.

[2019-09-30 19:42] developer9969 commented on #7751
@PureWeen  Hi good news!  I have done a factory reset on the simulator device and works with the latest stable. I should have done it before I usually do once a day..Sorry for wasting  your time!.

Now I will have the issue of how to build using the android 28.0.0.3 on those azure pipelines all those agents are outdated and crashes the build. grrr.

[2019-09-30 20:22] troabrea commented on #7145
I am not seeing this Platform Specific "ios:Page.ModalPresentationStyle="FullScreen". Using XF 3.6.0.709228 or even the latest 4.2. What am i missing!?

[2019-09-30 21:22] samhouts commented on #5519
@ahjwessel I was unable to reproduce this issue. Is it still affecting you? If so, can you please look at the reproduction and modify it such that it demonstrates the behavior? Thanks!

[Issue5519.zip](https://github.com/xamarin/Xamarin.Forms/files/3673502/Issue5519.zip)

[2019-09-30 21:26] mackayn commented on #7145
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/ios/ipad-page-presentation-style

[2019-09-30 21:31] mackayn commented on #7145
Usually don't appear in intelisense, resharper etc but for iPad devices it works as described. My current project unusually doesn't have phone support, just tablet.

Test it and see if it works.

[2019-09-30 21:32] GeordieStew commented on #7751
Nightly build not working for me either

[2019-09-30 22:30] hudaIT commented on #7731
Can you please send me your email address to code@huda-it.at?
If it is welcomed i would send you send the link to a project via mail.

[2019-09-30 23:23] tefaabdellatief commented on #7751
same issue here, with the latest version of xamarin forms

[2019-09-30 23:47] PureWeen commented on #7145
@mackayn @troabrea @GuidoNeele

- Anyone that can attach a repro targeting the latest 3.6 with modal not showing as full screen would be helpful

- Anyone that can't update past 3.6 letting us know why would also be helpful :-)

As time goes on fewer and fewer iOS13 related fixes will make it to 3.6

[2019-09-30 23:58] DoubleDBE commented on #6880
Update: when calling ForceLayout() after setting IsVisible = true; it works as expected.

[2019-10-01 00:09] jrahma opened #7754 "TitleView's Background Color"
Hi,

Please add BackgroundColor to the TitleView for easy styling instead of forcing a stacklayout or grid if it's just a simple label or image to be placed in the TitleView

Thanks,
Jassim

[2019-10-01 02:57] DoubleDBE commented on #7748
I can confirm this, since Android Pie this issue occurs when using LinearGradient. A workaround is using GradientDrawable which works, but limits control over the start and endline of the gradient.

[2019-10-01 03:03] SunnyMukherjee opened #7756 "[Bug] CollectionView -> RemainingItemsThresholdReachedCommand freezes UI"
### Description

I am attempting to use the Vertical CollectionView in place of the ListView and load data incrementally when the user scrolls to the last item because the ListView still has other unresolved issues.  I am following the guide in the link below:

[https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/collectionview/populate-data#load-data-incrementally](url)

However

[2019-10-01 04:37] seansparkman commented on #6499
I am still seeing this issue in 4.2.0.815419.  UseSafeArea is being ignored.

[code]

[2019-10-01 04:59] AndreAbrantes commented on #7751
@PureWeen Hello, Shane!
After the update for the lastest prerelease 4.3.0.819712-pre2, do the factory reset, uninstalled the last version and tested with the release build. It's working fine!
I did the same test in a Pixel 3 and works well.
For these tests, I've used the Xaminals sample.
Thank you!

[2019-10-01 05:42] ili opened #7757 "[Bug] ImageButtonRenderer fails with cross thread access"
### Description

WPF ImageButtonRendeder is not safe and can cause cross thread exceptions:

[code]

### Steps to Reproduce

1. Use https://docs.microsoft.com/ru-ru/xamarin/xamarin-forms/user-interface/images?tabs=windows#using-xaml for `Source` property and you'll get exception ar runtime.

The problem is: `ConfigureAwait(false)` is used here: https://github.com/xamarin/Xamarin.Forms/blob/630eb65

[2019-10-01 05:52] adrianknight89 opened #7758 "[iOS] EmptyView is not rendered in screen center"
### Description

`EmptyView` is not centered in the middle of the screen when `CollectionView` has upper and lower siblings in its parent. Possibly related to #7251.

### Steps to Reproduce

1. Run the repro
2. Observe that the center of empty view content is not aligned with the red guide line
3. Comment out the black grids
4. Observe that `EmptyView` is centered properly

### Basic Information

[2019-10-01 06:43] DeepikaBalaSubramaniyan commented on #7380
Hi @samhouts

Any update on this issue? We are waiting for this issue for a long time.

[2019-10-01 06:47] DeepikaBalaSubramaniyan commented on #6281
Hi @samhouts

Can we conclude that reported issue has fixed, If yes please let us know at which upcoming nuget package fix will get reflect ? Or you are stating that it was a behavior ?

[2019-10-01 07:01] rscholey commented on #7744
+1 I would really like to see this for Android and iOS.

[2019-10-01 09:31] jhlos commented on #7680
We are having the same problem, can you give me any indication when this will be solved? We can't update our app now, using the newest SDK.

[2019-10-01 10:12] breyed commented on #7680
If I understand the discussion so far correctly, the underlying problem is that Xamarin.Forms has been working contrary to Apple's design intent all along by applying a background by default to all its controls. In the past, you could get away with this because iOS was modifying background color to show highlighting, but now that it uses a different mechanism, the free lunch is over. What would ha

[2019-10-01 10:36] DilastF opened #7759 "[Bug] Cannot select item СollectionView"
### Description
If there is a scrollview in cell content, clicking on it does not select element

### Steps to Reproduce

1.  Click on ScrollView in cell CollectionView

### Expected Behavior
Item is selected

### Actual Behavior
No item selected
### Basic Information

- Version with issue: -
- Last known good version: -
- IDE: VS 2019 16.2.0
- Platform Target Frameworks: XF 4.1.0.618606
  - iOS:

[2019-10-01 12:46] adrianknight89 commented on #7756
@SunnyMukherjee Please read the comments starting from https://github.com/xamarin/Xamarin.Forms/issues/3172#issuecomment-531923893.

[2019-10-01 12:56] paul-charlton commented on #7685
I've recreated this here (https://github.com/paul-charlton/IssueSandbox/tree/XF_HotReloadAndNames), but using an iOS simulator.  Is it worth raising another Issue, or just keep with this one?

Run with Hot Reload, change the label text, error appears.  Output from Debug window:
[HotReload] (2019-10-01 13:52:33.8): INFO: HotReload: Initialized Agent.
[HotReload] (2019-10-01 13:52:37.3): INFO: Hot R

[2019-10-01 13:07] InquisitorJax commented on #7685
Thanks @paul-charlton ! I've been meaning to get to an upload - but stuck with tasks that put food on the table. imo it's the same issue, so belongs here.

[2019-10-01 13:41] IgorKravchenko10 commented on #7072
Shell BackButtonBehavior is good but in OnBackButtonPressed method we can return true which will not return us to previous page. It will be good to have bool property like ToReturn in this behavior.

[2019-10-01 13:53] paul-charlton commented on #7685
The joys of waiting for an ios build!

[2019-10-01 13:59] xamadev commented on #5440
Still an issue with Xamarin.Forms 4.3.0.819712-pre2

[2019-10-01 14:02] ryanbuening commented on #4447
As ElsaAM4Y mentions above. Put the following in styles.xml:

`<item name="android:colorActivatedHighlight">@android:color/transparent</item>`

[2019-10-01 14:42] jsuarezruiz commented on #7253
Thanks so much for the repro sample @bmacombe. We already have a related PR to fix the problem: https://github.com/xamarin/Xamarin.Forms/pull/7760

[2019-10-01 14:45] ryanmendoza commented on #7602
Seconding that this issue is affecting build pipelines on DevOps using macOS 10.14. Is there any short term fix or are we stuck waiting for a new 4.2.X version?

[2019-10-01 14:59] jrahma opened #7761 "Inline C# code within XAML"
Hi,

It will be great if you add support for inline C# code within XAML similar to the x:Code in WPF or something like this:

`Tapped="{x:Code Navigation.PopAsync(); }"`

Thanks,
[Jassim](https://www.softnames.com)

[2019-10-01 15:21] rmarinho commented on #6773
Fixed by #7755 7755

[2019-10-01 15:21] #6773 closed

[2019-10-01 16:11] #7369 closed

[2019-10-01 16:18] motoko89 commented on #7540
I intentionally do this in my code to "reload" the page. It worked before. Maybe I shouldn't do it. But what's the alternative?

[2019-10-01 16:24] BradChase2011 commented on #1895
Has anyone tried the Uno 2.0 WASM Xamarin.Forms target?
https://www.prnewswire.com/news-releases/uno-platform-announces-version-2-0-of-cross-platform-development-platform-300921202.html

[2019-10-01 16:38] InquisitorJax commented on #7540
@motoko89 I think we were doing the same thing, but once this manifested, we had to remove that code, and refresh the view model that the xaml is bound to (ie: Reset the state on the view model, and the UI should update according to it's bindings)

[2019-10-01 16:42] InquisitorJax commented on #7540
fyi to everyone here, I logged a Hot Reload Bug that I think is linked to the recent change that's causing us to see this error https://github.com/xamarin/Xamarin.Forms/issues/7685

[2019-10-01 16:53] samhouts commented on #6281
@DeepikaBalaSubramaniyan This has been fixed and will be released in 4.4. This was a behavior change, so we are not comfortable backporting it to earlier versions. Thanks!

[2019-10-01 16:54] samhouts commented on #7380
@DeepikaBalaSubramaniyan This is on the backlog. I don't currently have an estimate of when we may begin work on this item. Thank you for your patience!

[2019-10-01 17:41] ACoolUsername opened #7762 "[Bug] [Android] Accessibility loses Picker content-desc/automation id"
Description
The picker automation id/content-desc is present in accessibility initially, but after a few seconds it seems to disappear.

### Steps to Reproduce
1. Give a picker any automation id.
2. Start the app and navigate to the picker.
3. Using UI Automator Viewer, quickly take a device screenshot.
4. Observe that the picker's content-desc is equal to the given id.
5. Using UI Automatior View

[2019-10-01 17:45] samhouts commented on #7665
@MrMayTwenty  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-01 17:52] developer9969 commented on #7602
Hi there,
we need some help and advice.

I need to upgrade to 4.2.0.815419 that fixes an issue with image uri not working in previous versions.
I was to deliver to a client today but could not.
I would like to avoid reverting to an very old version of 4.

However all day trying to make ios build against 4.2.0.815419 getting
"Failed to resolve "System.Collections.Generic.Stack`1" .  Tried all sorts

[2019-10-01 17:52] adrianknight89 opened #7763 "[CollectionView] Add ability to disable item animations"
## Summary

Currently, if an item is added to `CollectionView`, the item is animated into its parent. There should be a way for us to toggle animations on and off. This could be achieved by setting `ItemAnimator` to null on `RecyclerView` (or configuring its properties) and using `UIView.performWithoutAnimation` during `UICollectionView` reloads.

## API Changes

[code]

**EDIT:** Changed proposed

[2019-10-01 18:00] PureWeen commented on #7751
For anyone else running into this issue can you try any of the following
- just uninstall the app
- turn caching off on the URIImageSource (there's a bug where if it was retrieved wrong in the previous version it'll return the wrong cached version in the new one)

[2019-10-01 18:29] raindeer commented on #6999
@adrianknight89 would you care to share your hacky solution?

[2019-10-01 18:53] jrahma opened #7765 "Language property to Entry, Editor and others"
Hi,

Please add Language property to the Editor, Entry and all other possible controls so user can set the default language when using the keyboard

For example:

`<Editor Language="ar" />`

which will switch the keyboard to Arabic.. If Arabic keyboard is not installed then it will just show the default keyboard for the device, e.g. English

Thanks,
[Jassim](https://www.softnames.com)

[2019-10-01 21:53] oliveiraugusto commented on #7602
I was having the same problem.
I installed Xamarin Essentials and nuget asked to upgrade Xamarin to version 4.2.0.815419.
I went back to version 4.2.0.778463 and it went back to work

[2019-10-01 23:00] operationslazlo326 commented on #7656
Tabs at the bottom flyout menu to the left. What you just asked me to change to flyout items should effectively be the tabs located at the bottom of the shell. The original example I posted has both of them working in the older xamarin forms version.

[2019-10-01 23:03] PureWeen commented on #7740
@RocketPop can you attach a repro? I tried a few permutations of setting the background and source binding for different aspects and I don't see the issue you are referring to

As you can see below the way it looks matches between differing backgrounds

![image](https://user-images.githubusercontent.com/5375137/66006831-4d3e2f80-e46d-11e9-8344-21693bc8b9c4.png)

[2019-10-01 23:11] operationslazlo326 commented on #7656
Here is updated XAML, we did some refactoring to the flyout. But the bug is is still there. If we upgrade to any new version of xamarin forms we lose our flyout menu.

<?xml version="1.0" encoding="UTF-8"?>
<Shell xmlns="http://xamarin.com/schemas/2014/forms"
       xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
       xmlns:d="http://xamarin.com/schemas/2014/forms/design"
       xmlns:mc=

[2019-10-01 23:17] PureWeen commented on #7656
@operationslazlo326 when you are on a ShellItem defined as TabBar the flyout is hidden

If you look at the source code for TabBar it's just a ShellItem with a disabled flyout
https://github.com/xamarin/Xamarin.Forms/blob/1dd94d6bae28c35b57acf49ef9b299e56351222f/Xamarin.Forms.Core/Shell/ShellItem.cs#L26

There was a bug with *4.2.0.709249* where disabling the flyout wasn't working but that was fixe

[2019-10-01 23:26] PureWeen commented on #6565
I think this was logged when there was a bug with TabBar because TabBars don't show up in the Flyout

@Mohsnb please let me know if I'm misunderstanding your request

[2019-10-01 23:26] #6565 closed

[2019-10-01 23:36] Mario-HL-Duarte commented on #7731
I am trying to recreate the problem in another application and attach it to you.
The problem was introduced in Visual Studio 16.4.0 Preview 1.
I installed the latest stable version of Visual Studio 2019 16.3.1 and was able to compile the application normally.

[2019-10-01 23:39] PureWeen commented on #7736
@Elashi This behavior is specific to the iOS TabBar and how it interacts with a UINavigationController so it's not something we would just copy over to Android.

The option here would be to add an API to the TabBar so that you could set this behavior and it would act like this on other platforms as well

I'm going to set this as an enhancement for now

[2019-10-02 00:14] samhouts commented on #7403
We'll address this as part of https://github.com/xamarin/Xamarin.Forms/issues/7744. Thanks!

[2019-10-02 00:14] #7403 closed

[2019-10-02 00:39] Elashi commented on #7397
@samhouts
I succeeded to fix the bug.
I need some help to complete a PR.
I cloned Xamarin.Forms to my computer, branched out from master (commit 5d3d4f5456).  Then I committed my changes to the new branch.  But I did not merge it back to master.  Should I merge and then create a pull request?
I appreciate it if you can help me complete the steps.

[2019-10-02 00:54] samhouts commented on #7397
@Elashi Great news!

The best thing to do is to create a fork of Xamarin.Forms instead of a clone. Then create a branch from your fork based on the 4.2 branch. Apply your changes, and then submit your pull request from that branch. https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

Thanks!!

[2019-10-02 01:53] SunnyMukherjee commented on #7756
Thanks for the pointing me to the separate discussion thread.

However, I was not able to get it to work.  I implemented the following changes below based on your and others' suggestions in the thread:

- Added SemaphoreSlim object to restrict access to only 1 thread at a time
- Added _isAdding boolean to restrict access in the RemainingItemsThresholdReachedCommand
- Added Try-Finally clause to re

[2019-10-02 05:35] TimBarham commented on #7658
Ok, I've tried various combinations of starting without those files, adding them in, building and not building, but haven't been able to repro. Next step... @briman0094, could you clean out your Xamarin log folder (_Help_ / _Xamarin_ / _Open Logs_, and delete everything in there), repro the problem, then send me the resulting logs? There's some output in there that might be useful.

[2019-10-02 05:49] hudaIT commented on #7731
Yeah i also think this is more an visual studio issue

[2019-10-02 06:15] simon10says commented on #6971
@samhouts , how's the consideration going on? Would really like to see this enhancement gets implemented

[2019-10-02 06:41] thisisthekap commented on #6346
@brminnick as we are experiencing the same issue: Did you experience any performance implications so far with the fix provided by @samhouts?

[2019-10-02 07:45] zionek commented on #6127
@samhouts I'm still experiencing the same issue. Do I need to perform some special action? I've already tried cleaning the solution.

[2019-10-02 07:48] JKennedy24 commented on #7554
any chance we get this issue assigned and investigated this sprint? Seems to be a regression and @AdenITD has provided a very good and simple sample

[2019-10-02 08:13] MagicAndre1981 opened #7772 "[Bug] Device.Idiom reports TargetIdiom.Phone for Amazon Fire TV Stick 4K"
### Description

I try to optimize page layout for different kind of devices and would like to create a layout for Android TV users.

### Reproduction Link

Create a new App, add this to `MainPage.xaml` and run it on Amazon Fire TV Stick 4K

[code]
[OnIdiomDemoApp.zip](https://github.com/xamarin/Xamarin.Forms/files/3680049/OnIdiomDemoApp.zip)

### Expected Behavior

I see: Hello from a TV app

###

[2019-10-02 08:13] janschoelchAtOK opened #7773 "[Bug] [Android] Can not set Entry cursor position by tapping if ClearButtonVisibility=WhenEditing"
### Description

In Xamarin.Forms Versions prior to V4.3, I was able to set the Cursor position within an Entry by tapping the location I want the cursor to be at.
Since the introduction of `ClearButtonVisibility` this behaviour has changed. If I set `ClearButtonVisibility=WhenEditing` on an entry, I can not change the cursor position by tapping anymore. This happens only if the soft keyboard is o

[2019-10-02 08:45] breyed commented on #7554
I updated Xamarin.Forms to 4.3.0.819712-pre2 and the problem went away for me.

[2019-10-02 08:47] JKennedy24 commented on #7554
interesting, I'll give that a try and report back

[2019-10-02 08:48] erdugen commented on #7629
It's not just scrollview.
There's also a listview.
VerticalScrollBarVisibility does not work on android.

[2019-10-02 09:56] csteeg opened #7775 "[Bug] Xamarin forms ios device does not preload assemblies"
### Description
When building my iOS app for a device after updating to Xamarion.iOS Version 13.2.0.42, the assemblies are not preloaded anymore(?).
My app crashes immediately after loading the my App.xaml because it wants to load the CSS resource:
[code]

It tries to load the css using a IResourcesLoader from the DependcyService, but it isn't registered. This is because Xamarin.Forms.Xaml.dll was

[2019-10-02 09:57] brminnick commented on #6346
@thisisthekap I only have anecdotal evidence because I didn’t do any benchmarking, but there was no noticeable performance difference after adding it to my apps.

[2019-10-02 10:20] iooovolts commented on #6127
I can see https://github.com/xamarin/Xamarin.Forms/pull/7718 has been completed with UI test passed. I have updated to XF 4.2.0.815419. Is there anything I am missing? Or has the fix simply not yet been rolled out?

[2019-10-02 11:31] MagicAndre1981 commented on #7772
ok, when I use `Xamarin.Essentials` the `DeviceInfo.Idiom` is set correctly to TV.

Now I need to figure out how to use the `DeviceInfo.Idiom` from `Xamarin.Essentials` in XAML instead of code.

[2019-10-02 11:54] jsuarezruiz commented on #7283
I have reviewed the @rmarinho sample updating it with your suggested changes. I can reproduce the problem using:

[code]

[2019-10-02 13:05] Terminator24 opened #7778 "Picker in UWP does not show empty entry correctly. [Bug]"
### Description
Xamarin.Forms.Picker doesn't show correctly an empty entry (for example: String.Empty) in UWP.

### Steps to Reproduce
1. Create a Picker and add some string element as items.
2. Add an empry string as item.
3. Execute in UWP and see the wrong behavior.

### Expected Behavior
Picker showing the items plus the empty string as an empty row,
and when selecting the empty row (as empty

[2019-10-02 13:08] #7556 closed

[2019-10-02 13:08] #7678 closed

[2019-10-02 13:08] #6127 closed

[2019-10-02 13:08] #7253 closed

[2019-10-02 13:08] #7399 closed

[2019-10-02 13:08] #7537 closed

[2019-10-02 13:08] #6491 closed

[2019-10-02 13:08] #7414 closed

[2019-10-02 13:08] #7469 closed

[2019-10-02 13:22] adrianknight89 commented on #7756
@SunnyMukherjee You're freezing your UI because of the for loop.

[code]

You're not caching `ListItems.Count` in a local variable before the loop. The loop keeps increasing the list count as you add new items and never terminates.

Try this:

[code]

If this resolves your issue, please close the ticket. Tested on 4.4.0.1203-nightly.

@jsuarezruiz I don't know who is responsible for updating docum

[2019-10-02 14:34] davidbritch opened #7779 "[Bug] CarouselView doesn't display string items without an ItemTemplate"
### Description

A `CarouselView` doesn't display string items without supplying an ItemTemplate to define the appearance of each item:

[code]

Conversely, a `CollectionView` does display string items without supplying an ItemTemplate.

### Steps to Reproduce

1. Run the above code.

### Expected Behavior

String items are displayed.

### Actual Behavior

Items aren't displayed.

### Basic Inform

[2019-10-02 14:54] eramrit78 commented on #7351
Now what you need. info already provided. with attached project. the issue come me in every project in version 4.x  with shell in tabbed page. sample attached.

Thanks

[2019-10-02 15:08] davidbritch opened #7780 "[Bug] CarouselView doesn't support RTL layout"
### Description

Unlike `CollectionView, `CarouselView` doesn't respect the `FlowDirection` being set to `RightToLeft` on the parent page.

### Steps to Reproduce

1. Set the `FlowDirection` property (on a page containing a `CarouselView`) to `RightToLeft`.

### Expected Behavior

The `CarouselView` respects the RTL flow direction, and is laid out accordingly.

### Actual Behavior

The `CarouselVi

[2019-10-02 15:40] anotherlab commented on #7685
I've also been getting that error

An element with the name "SomeLabelName" already exists in this NameScope

With XF 4.2.0.778463 in VS 16.3.0.  If I turn off HotReload and restart VS, the errors go away.

[2019-10-02 16:13] craigwi commented on #7727
A workaround for 3.6 or 4.1 would be nice.

[2019-10-02 16:39] jsuarezruiz commented on #7714
It seems to be the same as: https://github.com/xamarin/Xamarin.Forms/projects/46

[2019-10-02 17:06] PureWeen commented on #7773
@andreinitescu FYI

[2019-10-02 17:08] emiliobongiorno commented on #7145
Any news on this? I don't want to downgrade Xcode and Visual studio for this issue in iOS13.. Is there any alternative?

[2019-10-02 17:10] PureWeen commented on #7145
@emiliobongiorno can you expand on why you need to downgrade?

3.6+ versions should all work fine on ios13

[2019-10-02 17:21] milanio commented on #7340
@samhouts Do you need any help with this?

[2019-10-02 17:23] emiliobongiorno commented on #7145
Maybe I am miss-understanding  something after reading the comments here, and there is a chance that my problem is not related to this.

I downgraded to 3.6+ but I am still having this issue:
When showing "**Interstitial ads**" of Admob, they are shown as modals (this new 'popups' of iOS 13), and **I want to show them on full screen** as before.
I used [this implementation for iOS Intesrtitials](h

[2019-10-02 17:30] PureWeen commented on #7145
@emiliobongiorno that's going to be something that's more related to to the Admob library and not Xamarin forms

The API that displays the popup https://developers.google.com/admob/ios/api/reference/Classes/GADInterstitial#-presentfromrootviewcontroller:  isn't under our control

This Issue reflects Modal windows that are created from our cross platform code.

Any other library that presents Modal

[2019-10-02 17:31] PureWeen commented on #7778
@Terminator24 can you attach a repro? I'm not having the best of luck reproducing

[2019-10-02 17:41] emiliobongiorno commented on #7145
I see.. Thanks @PureWeen !
I already open an issue [here](https://github.com/xamarin/GoogleApisForiOSComponents/issues/309)
Regards!

[2019-10-02 17:43] operationslazlo326 commented on #7656
![image](https://user-images.githubusercontent.com/26207026/66067882-62649e00-e501-11e9-89d9-e74201e9ae1a.png)
![image](https://user-images.githubusercontent.com/26207026/66067900-6f818d00-e501-11e9-8ab2-6853c02669ef.png)

[2019-10-02 17:45] PureWeen commented on #7734
@greendimka can you attach a repro? I'm not having the best of luck reproducing

[2019-10-02 17:48] operationslazlo326 commented on #7656
![image](https://user-images.githubusercontent.com/26207026/66068310-3695e800-e502-11e9-915a-f0a2860434ed.png)

[2019-10-02 18:12] craigwi commented on #7727
BTW, I verified the modal scroll behavior using the official Xamarin.Forms repo by changing PagesGallery.app.xaml.cs to create the MainPage attached here.  I have not been able to reproduce the crash in 4.2.

[2019-10-02 18:16] jsuarezruiz commented on #7517
I have tried your latest sample (using 4.3.0819712-pre2) and everything works fine. Could you do clean and rebuild and try it again?. @PureWeen can you try the latest sample from George?

[2019-10-02 18:18] PRAVEENPOTLA commented on #5172
Image are not loading from url in xamarin forms please help me

[2019-10-02 18:28] greendimka commented on #7734
Sure, I will prepare it soon.

[2019-10-02 18:41] PureWeen commented on #7145
If anyone can send me a repro of getting PageSheet with iOS 13 on the latest patch/pre release of any XF version 3.6+ I will create a PR and fix it

[2019-10-02 18:57] PureWeen commented on #5172
@PRAVEENPOTLA can you create a new issue with a repro please?

[2019-10-02 19:04] PureWeen commented on #7748
duplicate
https://github.com/xamarin/Xamarin.Forms/issues/3912

Though I don't feel like this is a XF issue.

If the way a *LinearGradient* gets drawn changed from api 27 to api 28 that's not a XF thing that's an android thing

That being said if you clipthebounds
[code]

It clips the drawing

Or if you have the CustomView inherit from a layout (grid or stacklayout) then set IsClipToBounds on the

[2019-10-02 19:04] #7748 closed

[2019-10-02 19:05] Terminator24 commented on #7778
[TestApp.zip](https://github.com/xamarin/Xamarin.Forms/files/3682923/TestApp.zip)

[2019-10-02 19:08] akamud commented on #7685
Same here, it happens on Andrei's [HotReload](https://github.com/AndreiMisiukevich/HotReload/issues/118) too.

[2019-10-02 19:13] dannythomas13 opened #7782 "[Enhancement] iOS TabbedPage ToolbarPlacement Top"
Is it possible to include an option to place iOS tabs at the top? I have seen and used the option to place Android options at the bottom and would be great for iOS https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.platformconfiguration.androidspecific.toolbarplacement?view=xamarin-forms

[2019-10-02 19:26] PureWeen commented on #7778
@Terminator24 this looks like it's fixed in 4.3

I saw the behavior in your attached repro and after upgrading to the latest 4.3 pre2 it no longer displays the type

[2019-10-02 19:26] #7778 closed

[2019-10-02 19:40] landrzz commented on #7701
Possibly related to #7350

[2019-10-02 19:42] PureWeen commented on #7656
Version 4.2.0.709249 broke FlyoutBehavior so that if it was disabled it still showed up
https://github.com/xamarin/Xamarin.Forms/issues/7238

If you down grade to the version before *4.2.0.709249* you'll see the same behavior as the most recent behavior

TabBar sets the FlyoutBehavior to disabled
https://github.com/xamarin/Xamarin.Forms/issues/7656#issuecomment-537270298

If you want the flyout to

[2019-10-02 19:48] PureWeen commented on #7695
Applies to Shell as well as normal SearchBar

[2019-10-02 20:10] PureWeen commented on #7690
@lachlanwgordon So this is an interesting one :-)

This is basically all caused by Shell just trying to guess what it should do with the insets. When you have a scrollview as part of the layout it assumes you are going to want the behavior where the scroll view goes under the appbar/tabbar. This behavior is what enables things like large titles and visual changes of the appbar. So when there is a

[2019-10-02 20:10] #7690 closed

[2019-10-02 20:12] kingces95 commented on #6195
Huh, I'm still not able to see the exception -- instead the app backgrounds itself.

[2019-10-02 20:14] #1839 closed

[2019-10-02 20:15] kingces95 commented on #7301
#7706 Should fix this. If not, please re-open.

[2019-10-02 20:15] #7301 closed

[2019-10-02 20:21] Adam-Langley commented on #6195
Hi @kingces95  - what are you getting in Console? Is the app really backgrounding or crashing? I'm not aware of any capabilities of apps to 'background themselves' on iOS....

[2019-10-02 20:35] ddo88 commented on #7684
i upgrade to the version the version 4.2.0.815419
but still have the problem

[2019-10-02 20:36] PureWeen commented on #7684
https://github.com/xamarin/Xamarin.Forms/issues/7751#issuecomment-537156355

[2019-10-02 20:36] chad-ramos commented on #7684
@FetFrumos @ddo88 For reference, I upgraded to `4.2.0.815419` and it resolved my issues.

[2019-10-02 20:37] greendimka commented on #7734
Sorry, my mistake. I have created pure app, which would bind a ListView to an ObservableCollection.
And it does work as expected. Every time I add a new item and tap it - I receive an event with correct payload. So I also cannot reproduce it now.
I was sure it was related to UWP (since everything works in my production project on Android), but looks like UWP has nothing to do with it.

Sorry for w

[2019-10-02 20:37] #7734 closed

[2019-10-02 20:39] PureWeen commented on #7734
@greendimka great to hear!! Thank you for getting back to me so quickly

[2019-10-02 20:47] ddo88 commented on #7684
I'm sorry, if it worked, I just had to remove the emulator application and deploy again.

thanks

[2019-10-02 20:52] PureWeen commented on #7673
This will most likely have to be implemented as a platform specific
https://stackoverflow.com/questions/30843775/tab-not-taking-full-width-on-tablet-device-using-android-support-design-widget

Though it seems like it's a bit random from android device to android device so might need to just force it one way or the other

[2019-10-02 20:58] PureWeen commented on #7782
iOS doesn't really have native support for Top Tabs
These are implemented on Shell but it's done by using a custom layout of UIViews

There's been talk about just creating a FormsTabBar that's all Forms components that we could do this with which would make this possible or we could reuse the shell implementation

[2019-10-02 21:09] brminnick commented on #7554
@breyed @JKennedy24 The issue still exists in Xamarin.Forms 4.3.0.819712-pre2.

Here is a reproduction sample: https://github.com/brminnick/iOS13SimulatorEntryRepro

[2019-10-02 21:09] PureWeen commented on #7745
@greendimka If you set *ApplyToDerivedTypes* to true

[code]

Does that work?

I tested locally with this inside App.xaml and it worked for me
[code]

[2019-10-02 21:09] #7745 closed

[2019-10-02 21:53] samhouts commented on #7453
@adrianknight89 There are now "in-progress" labels on issues with PRs. I'll see if there's a good way to add the in-review and done labels without being too spammy. :)

[2019-10-02 21:56] adrianknight89 commented on #7453
@samhouts Awesome. :)

[2019-10-02 22:44] PureWeen commented on #7554
Thanks @brminnick !!! Reproduces immediately on my iPad

[2019-10-02 22:45] CliffAgius commented on #3262
Is this still wanted as a feature?  I have just had to implement a custom renderer to achieve this taking a lead from a forum post:

[https://forums.xamarin.com/discussion/41039/setting-cookies-in-a-webview](url)

So as I have it working I was thinking of adding it to the WebView but didn't want to do this is it's not wanted. @samhouts @pauldipietro what do you think?

[2019-10-02 23:07] mkieres commented on #7602
I'm seeing the same problem as @developer9969  and @oliveiraugusto with the `4.2.0.848062` version.

I'm running the iOS build with the below scritp, specifying MONO SDK version and Xcode

Any workarounds?

[2019-10-02 23:07] samhouts commented on #7775
@csteeg  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-02 23:19] PureWeen commented on #7734
This might possibly be an issue you're running into

https://github.com/xamarin/Xamarin.Forms/issues/5465

[2019-10-02 23:20] PureWeen commented on #7727
@craigwi I'm not seeing the crash

Can you attach a repro with the 4.2 crash so I can see that one?

[2019-10-02 23:29] PureWeen commented on #7659
@samelas Can you try on the most recent 4.2 or 4.3 pre version of forms?

I'm running that sample on 4.2 and it's not crashing for me

[2019-10-02 23:30] craigwi commented on #7727
I'll create a complete project showing the crash.

In the mean time, what would be a workaround for the modal behavior?

[2019-10-02 23:36] PureWeen commented on #7727
I'm not quite sure what you mean by `Modal behavior`

As far as the GestureRecognizer and the scroll.

Right now the behavior of Gestures and scrolls aren't very smooth and we have a number of enhancements to make those interactions better.

I'm guessing once you initiate a nested scroll on Android the orchestration of the underlying events changes.

I'm hoping PRs like this will help
https://gith

[2019-10-02 23:47] craigwi commented on #7727
The PR looks like it will help.  I did get a repro with 4.2.0.815419 and captured the exception:

Unhandled Exception:

System.TypeLoadException: Could not load type of field 'Xamarin.Forms.Platform.Android.RendererPool:_freeRenderers' (0) due to: Could not resolve type with token 01000273 from typeref (expected class 'System.Collections.Generic.Stack`1' in assembly 'mscorlib, Version=2.0.5.0, Cul

[2019-10-02 23:49] PureWeen commented on #7727
aw yes @craigwi that's actually a different exception related to using VS 2017 with *4.2.0.815419*

We fixed that in the latest set of releases

[2019-10-02 23:50] PureWeen commented on #7554
AFAICT this is fixed by

https://github.com/xamarin/Xamarin.Forms/pull/7566

@brminnick can you pull down the latest nightly for 4.4 and see if you still get the same crash?

I was able to reproduce the crash with your repro but once I updated to latest 4.4 nightly it seems to not crash

[2019-10-02 23:50] #7554 closed

[2019-10-03 00:02] PureWeen commented on #7712
@LamijaV can you try with the latest 4.3 pre3 or 4.2.0.848062 releases that just came out and let me know if those work for you?

[2019-10-03 00:50] brepetti opened #7784 "[Bug] OnAppearing does not run when App was in background or Screen Off"
OnAppearing does not run when you put the app in background and resume.
The same thing happens if you turn the device screen off and then back on.

### Steps to Reproduce

1. Launch App, Dismiss Dialog
2. Turn Off Device Screen.
3. Turn On Device Screen.

### Expected Behavior
OnAppearing should run when returning to app.

### Actual Behavior
OnAppearing does not run when returning to app.

### Ba

[2019-10-03 01:58] adrianknight89 commented on #7758
I briefly looked at this. I don't think there is anything wrong with EmptyView. The issue, at first glance, seems to be with CollectionView as it is measured to be the full screen size. Once the fix is provided, we can use the repro here as a test.

[2019-10-03 02:29] craigwi commented on #7727
Using the attached project you can observe the modal behavior as follows:

1. compile and run app; I have a Galaxy s7 running Android 8
2. tap and drag vertically light gray rectangle; this works
3. tap and drag to the right the black and/or green rectangle at top and this works too
4. after doing step 3, the step 2 does not work any more; i.e., on cannot drag the light gray rectangle vertically
5

[2019-10-03 02:31] berlamont commented on #7602
Seriously? Wth are you talking about?

[2019-10-03 02:57] SunnyMukherjee commented on #7756
@adrianknight89 Thanks for spotting that bug.  I guess that's what happens with late-night coding.  :)  I appreciate your help.  It resolved the issue for both iOS and Android on both the PreRelease and Stable versions.  I'll close the ticket.

@jsuarezruiz Yes, it would be helpful to document the locking logic for one thread to add to the CollectionView when triggering the RemainingItemsThreshold

[2019-10-03 02:58] #7756 closed

[2019-10-03 04:58] PureWeen commented on #7305
This should be fixed by this PR

https://github.com/xamarin/Xamarin.Forms/pull/7704

This should show up on the nightly in a couple days

If that doesn't fix the issue let me know

[2019-10-03 04:58] #7305 closed

[2019-10-03 05:17] DeepikaBalaSubramaniyan commented on #6281
@samhouts
Happy to hear this. Thanks for your response.

[2019-10-03 06:05] john-heaven opened #7785 "[Bug] Xamarin problems with UISearchBar's cancel Button in iOS 13"
## Summary
When developing a mobile application using Xamarin.iOS and now i've just updated the Xamarin's latest version, to have compatiblity with the new iOS 13. So far i was changing the text of the UISearchBar cancel button using `SetValueForKey `but now it tells me that

` ivar is prohibited. This is an application bug.`

## API Changes

From IOS 13 , `SetValueForKey ` method useing key with

[2019-10-03 06:12] Abhishek1137 commented on #7602
HI Team
I am also getting the same issue, is there any fix that we can expect to work xamarin forms on VS 2017?

[2019-10-03 08:13] jsuarezruiz commented on #7779
Thanks for the feedback @davidbritch. I created a sample using CarouselView with strings and without DataTemplate and I get the following result:

<img width="1517" alt="Captura de pantalla 2019-10-03 a las 10 09 50" src="https://user-images.githubusercontent.com/6755973/66110025-2e06e580-e5c6-11e9-849b-125e3142ab0b.png">

Is there something I am not considering?. The sample used:
[Issue7779.zip](

[2019-10-03 08:24] luczha opened #7786 "ImageCell not displaying image only on Android"
### Description

Image and ImageCell could not load remote URL imageSource only on Android . On iOS it works fine . And I have set HttpClientImplementation to Managed and SSL/TLS to 1.2+ .

### Steps to Reproduce
### in xaml

[code]

### in code behind

[code]

[code]

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:

Xamarin.Forms 4.1 and 4.2

### Reproduct

[2019-10-03 08:25] jsuarezruiz commented on #7780
I attach a repro sample:
[Issue7780.zip](https://github.com/xamarin/Xamarin.Forms/files/3685090/Issue7780.zip)
It seems to work correctly on Android but **not on iOS**.

[2019-10-03 08:29] davidbritch commented on #7779
@jsuarezruiz I agree that it's no longer an issue in 4.3-pre3. Apologies, my original report should have said it was an issue in 4.3-pre2 (instead of 4.2-pre3!)

[2019-10-03 08:38] MaartenBrandemann commented on #7602
@ryanmendoza To fix the iOS devops build, you need to use xCode 11 and Xamarin sdk 6_4_0. Add build task "Use .NET Core" to the pipeline using version 3.0.100.

[2019-10-03 08:51] rmarinho commented on #3320
Had to reopen this issue as it doesn't fix the issue on iOS13 and was causing issues with context actions not working, or having multiple selected rows at the same time

![Simulator Screen Shot - iPhone Xs - 2019-10-03 at 09 47 23](https://user-images.githubusercontent.com/1235097/66112726-4cb7ad00-e5c3-11e9-8d68-3a00aee7ace0.png)

[2019-10-03 09:23] davidbritch commented on #7779
@jsuarezruiz There is actually an issue here - your sample uses 4.3-pre3 in the .NET Standard lib, but 4.2 in the iOS project. If both projects use 4.3-pre3 it crashes completely. But that's a new issue, so I'm going to close this bug and file a new one.

[2019-10-03 09:23] #7779 closed

[2019-10-03 09:25] StevenGranados opened #7788 "[Bug] CollectionView ItemsUpdatingScrollMode=KeepLastItemInView not working on iOS"
### Description
ItemsUpdatingScrollMode=KeepLastItemInView seems to not work on iOS but works fine on android.

### Steps to Reproduce

1. Open repro
2. Run on iOS 13 simulator
3. Click add until items reach bottom of page
4. Observe that new items aren't scrolled to automatically.

### Expected Behavior
Items scrolled to if added on end.
### Actual Behavior
Items are added but collectionview isn'

[2019-10-03 09:30] davidbritch opened #7789 "[Bug] [iOS] CarouselView crash when displaying strings in 4.3-pre3"
### Description

The following code crashes (SIGSEGV) on iOS in 4.3-pre3:

[code]

Note this only occurs on iOS. Android works fine.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the HorizontalTextLayoutPage.

### Expected Behavior

Strings are displayed in a CarouselView.

### Actual Behavior

SIGSEGV:

=================================================================
	Native

[2019-10-03 09:30] davidbritch commented on #7779
New issue at https://github.com/xamarin/Xamarin.Forms/issues/7789

[2019-10-03 09:38] newky2k opened #7790 "[Bug] ItemsViewCell SelectedBackground shows Gray selected background even when content visual state has been overriden"
### Description
**On iOS**
When using a CollectionView, overriding the selected visual states of the DataTemplate content the Gray SelectBackgroundView is shown and cannot be hidden.   A long press will show the Gray selectedbackground color, then the overridden one which looks odd.

Additionally, if the content doesn't fill the whole cell(such as using rounded corners) the gray background selecti

[2019-10-03 10:01] DineshBabuYadav opened #7791 "Exception throws as Java.lang.IllegalStateException: Unable to create layer in Xamarin Forms Android Platform"
Hi Team,

### Description

In the attached sample, we have tried to layout a child view (i.e., `Content`) of our custom view (i.e., `ExtendedView`) with two different animations **i.e., Fade and Layout** simultaneously using  `ValueAnimator`  in `AnimatorSet`. But unfortunately, when two different `ValueAnimator` animations are play together for a `View` or `ViewGroup` in `AnimatorSet`, reported e

[2019-10-03 10:04] jsuarezruiz commented on #7694
I have done several tests. With Xamarin.Forms 4.2 I reproduce your problem. However, with Xamarin.Forms 4.3 the problem is fixed (no crash and elements are rendered, etc.).

<img width="441" alt="Captura de pantalla 2019-10-03 a las 12 04 06" src="https://user-images.githubusercontent.com/6755973/66118139-f30cae00-e5d5-11e9-9d71-c9a28da5f975.png">

I attach a sample:
[Issue7694.zip](https://github

[2019-10-03 10:09] DineshBabuYadav commented on #7791
**Note :** I work for **Syncfusion**. We are experiencing the reported issue in our `Expander` control.

[2019-10-03 10:26] jsuarezruiz commented on #7696
@davidmclennan I can reproduce your problem on 4.2 but not in 4.3.
![issue7696](https://user-images.githubusercontent.com/6755973/66119368-cad27e80-e5d8-11e9-92d9-1caace78fb1d.gif)
[CollectionViewRepro.zip](https://github.com/xamarin/Xamarin.Forms/files/3685561/CollectionViewRepro.zip)
Could you test the attached sample?

[2019-10-03 10:27] jsuarezruiz commented on #7696
Tested and verified the issue.

[2019-10-03 10:28] jsuarezruiz commented on #7758
Tested and verified the issue.

[2019-10-03 10:28] davidbritch opened #7792 "[Bug][Android] CarouselView string EmptyView not displayed"
### Description

This code doesn't display the string empty view on Android:

[code]

Works fine on iOS.

### Steps to Reproduce

1. Run the attached sample.
2. Navigate to the EmptyViewNullPage.

### Expected Behavior

"No items to display" message is displayed.

### Actual Behavior

Blank page.

### Basic Information

- Version with issue: 4.3-pre3
- Last known good version: N/A
- IDE: VSMac 8.3

[2019-10-03 10:33] faisalmaqsood12345 commented on #7654
Hi I am having same problem, i am trying to publish an app but Ipad screen is blank for master details page and is not being approved by App store.
I tried to change the XF to 3.6 and 4.2 but it keep giving different compatibility issues. Any suggestion please

[2019-10-03 10:33] davidbritch opened #7793 "[Bug][Android] CarouselView ArgumentOutOfRangeException when filtering"
### Description

Filtering a `CarouselView` on a filter term that should result in no data results in a crash (ArgumentOutOfRangeException) on Android. iOS works fine.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the EmptyViewFilteredPage (EmptyView string - filtering on the menu).
3. Filter on a search term that should clear the CarouselView (e.g. Xamarin).

### Expected Beha

[2019-10-03 10:36] davidbritch commented on #7793
Update: In the sample, none of the seven pages that demonstrate empty view scenarios in a `CarouselView` work. They all work fine on iOS.

[2019-10-03 10:36] davidbritch commented on #7792
Update: In the sample, none of the seven pages that demonstrate empty view scenarios in a `CarouselView` work. They all work fine on iOS.

[2019-10-03 10:45] rafiwardak2003 commented on #3172
CollectionView seems to be bugged on Android when using IsGrouped.

`CollectionView.GroupHeaderTemplate` is not rendered at all. On iOS it works fine. You could just use the grouping example from the Microsoft site to test it out.

[code]

[code]

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/collectionview/grouping

[2019-10-03 10:57] nbleak commented on #7654
Hi,

I now do not have this problem, however I think something that is interesting is that ever since updating everything to the latest versions including xamarin.ios.dll then regardless of the settings used.  Nothing will run on any equipment with a 32 bit processor i.e. pre iPad Air.

And yes Arm7 7s and 64bit are all selected.

Could this be investigated please.

[2019-10-03 11:08] rafiwardak2003 commented on #3172
Ops, I missed that part. Thanks.

For those of us who want to display a grouped list on both iOS and Android, but want to avoid ListView, is there anything else that we can use that’s as flexible as the CollectionView for now? Or are we stuck with ListView?

[2019-10-03 11:25] wagenheimer commented on #7256
Please, someone, fix it!

[2019-10-03 11:25] WaiseFass opened #7795 "[Bug] Xamarin.Forms Observablecollection throws exception on ios device"
### Description

In the view model I have a observablecollection which will be created in the constructor. In the method I call the RefreshCommand, which doing the following steps:

Clears the existing list (Items.Clear())
Calls a webservice to receive new Items (async)
uses foreach to add all new Itms to the list
This items will be displayed in a ListView and this works great for Android (simulat

[2019-10-03 11:45] JarvisFitz commented on #6667
Hi @samhouts

The application I am testing has recently upgraded from Xamarin Forms 3.6 to ‘4.2.0.709249’ 
This meant I had to change from using ID’s to Accessibility ID’s for most identifiers and some instances, for Android, I have to use the name or label attribute, as Appium just cannot detect elements using the Automation ID’s or Style ID’s. So Android and iOS are using different identiers a l

[2019-10-03 11:56] faisalmaqsood12345 commented on #7654
@nbleak  how did you solve the empty master detail page problem

[2019-10-03 12:09] warthenr commented on #3262
I have a really bad hack using WinForms to integrate this in.  I would still love this built into the WebView itselv, but if you don't include it in, maybe you can post your code for the custom renderer somewhere for others to use.

[2019-10-03 12:34] v-haroha commented on #3320
@rmarinho There is another issue open regarding iOS13 and highlighting.
Highlighting on iOS13 doens't work at all, this is a separate matter.

[2019-10-03 12:36] acaliaro commented on #1939
Same problem in 4.2.0.709249

Unhandled Exception from source=AndroidEnvironment
    System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
    Parameter name: index
      at Xamarin.Forms.ListProxy.get_Item (System.Int32 index) [0x0000b] in D:\a\1\s\Xamarin.Forms.Core\ListProxy.cs:127
      at Xamarin.Forms.ListProxy.System.Collections.IList.get_Item (System.

[2019-10-03 12:47] HelenMamalaki commented on #6810
This is still occurring in Xamarins.Forms 4.2 - I re-assign the ItemSource in order to refresh the list and some items disappear. :( I have set CachingStrategy="RecycleElement" but I think my issue may be related to the use of a DataTemplateSelector as only rows with a specific DataTemplate disappear and reappear.

[2019-10-03 13:30] pedroasconde opened #7796 "[Bug] Label LineBreakMode not working"
### Description
Label LineBreakMode set to 'WordWrap' isn't working has expected, both for iOS and Android platforms. Words are spaned into multiple lines without hyphenation.

As it can be seen in the following image, the word "communication" is broken;

![labelissue](https://user-images.githubusercontent.com/22726996/66128998-ef355780-e5e6-11e9-9357-0770fa1b74de.png) ![labelIssueIos](https://use

[2019-10-03 13:49] XamarinTounsi commented on #5593
Great Work, thanks for all team <3, i will turn it 💃

[2019-10-03 13:50] Darlingtone commented on #6127
Just update to XF 4.2.0.848062 released 2nd of Oct. 2019 issue not yet fixed. also tried the lasted 4.3-preview no luck

[2019-10-03 13:53] wagenheimer commented on #6831
Is there something like "isFlyoutAnimating"? I think adding an Await to wait for the flyout to closes should help.

[2019-10-03 13:57] wagenheimer commented on #7521
I also have this problem!

[2019-10-03 14:00] eyadon commented on #6726
I just added a search bar to an app on Xamarin Forms 4.2 and am disappointed to find that Collapsible is still not working right on iOS, but it seems to have switched from being same as Hidden to same as Expanded.
Collapsible on Android works exactly how I need it to, and I'd really like to see iOS catch up.

[2019-10-03 14:14] Sangeetha-Raju opened #7797 "[Bug] Xamarin ListView doesn't layout properly when SfExpander is loaded in it in Xamarin.Forms iOS platform"
Hi Team

### Description
In the attached sample, we have loaded Expander inside the Xamarin ListView. When we expand and collapse the expander item at runtime, the contents are not updated properly.

### Steps to Reproduce
1. Run the attached sample[Sample-XFissue.zip](https://github.com/xamarin/Xamarin.Forms/files/3686350/Sample-XFissue.zip) in iOS platform
2. Expand and collapse the item.
3. The

[2019-10-03 14:16] rmarinho commented on #3320
@v-haroha oh, do we have an issue for that? I wasn't aware, but still the other PR broke the context actions so we need to make sure we have a fix for iOS12 or 11 that doesn't break context actions.

But I do think we might need a better approach to make it work in all versions

[2019-10-03 14:16] CliffAgius commented on #3262
Use the link in my previous post I have basically taken the code from there and hacked it about to fit into my project.  I agree it would be nice to be in the XF WebView but until someone from the Xamarin team agree's it's ok to add there is no point doing the PR as this really is an enhancement which they may have reasons to turn down.

[2019-10-03 14:20] v-haroha commented on #3320
this is the background color issue for iOS13
https://github.com/xamarin/Xamarin.Forms/issues/7680
its a completely different issue then this.

How are Context Actions broken with this change?

[2019-10-03 14:25] rmarinho commented on #3320
Run the issue Bugzilla45027 in our gallery, if you open the context actions click action, and try to open context action again in the same sell it  doesn't open again.
It was failing in our UITests

[2019-10-03 14:27] v-haroha commented on #3320
Thanks, I'll check this out.

We can fix the Context actions, but the highlighting solution that I implemented will work for iOS 13 when the other issue has been resolved.  Highlighting isnt working for any listview in iOS13, regardless of recycle element or not.

[2019-10-03 14:28] davidbritch opened #7798 "[Bug][iOS] CarouselView ScrollTo (by object) not working"
### Description

In CarouselView, on iOS, scrolling to an item by index works fine. Scrolling to an item by object does not work (in 4.3-pre3). Having said that, I *think* it worked in 4.3-pre2.

In my code, the correct `Monkey` object is retrieved, but the `ScrollTo` method isn't scrolling to it.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the scroll by object page.
3. Click

[2019-10-03 14:52] StevenGranados opened #7799 "[Bug] CollectionView with itemtemplate selector and bindable layout"
### Description
I have a CollectionView where you can add either a simple int or a List of objects with ItemTemplate set to a selector. I have a bindable StackLayout with a selector in one of the templates on the CollectionView. On adding items the CollectionView behaves strangely, refreshes and places new items in the middle of the list. Only broken in iOS, android fine.
### Steps to Reproduce

1

[2019-10-03 14:53] DiegoFaFe commented on #7795
Seems like duplicated of #5793 #6011 and #6920

[2019-10-03 14:55] davidbritch opened #7800 "[Bug][Android] CarouselView ScrollTo (by index) not working"
### Description

In CarouselView on Android, scrolling to an item by index doesn't work. On three runs of attempting to scroll to the same index, I got three different results (see screenshots). None of them are correct.

Note: the code in the attached sample takes the `ScrollToPosition` enumeration into account, but changing the code just to `carouselView.ScrollTo(6);` still produces the problem.

[2019-10-03 14:57] rerickson1 commented on #7680
I was able to get the selected item background to work following the advice above with a small change:
[code]

[2019-10-03 15:18] davidbritch opened #7801 "[Bug][Android] CarouselView ScrollTo (by object) not working"
### Description

In CarouselView on Android, scrolling to an item by object doesn't work. It took three clicks to scroll to my object (see screenshots).

In my code, the correct `Monkey` object is retrieved, but the `ScrollTo` method doesn't scroll to the correct monkey in one go.

Note: the code in the attached sample takes the ScrollToPosition enumeration into account, but changing the code just

[2019-10-03 15:19] eincioch commented on #7230
Any news with this suggestion, please.

[2019-10-03 15:30] davidbritch opened #7803 "[Bug] RefreshView pull to refresh command firing twice on a single pull"
### Description

In 4.3-pre3, it looks like RefreshView Command is firing twice on a pull gesture. This occurs on both iOS and Android. The method in my view model that's executed when the command fires is called twice.

This was working just fine when I tried it in a CollectionView (4.3-pre1), and I'm pretty certain it was fine when I tried it with a CarouselView in 4.3-pre2.

### Steps to Reprod

[2019-10-03 15:45] v-haroha commented on #3320
I don't think this Context not working is related to my changes.  I took the current branch and removed all my  changes, which isnt hard given that I tried to change as little as possible, and the LongPress Reveal for Bug45027 still does not work.

I took this a step further and modified the test for Bug45027 so the list view will use RetainElement, still had the same results. Would you be availab

[2019-10-03 15:52] ddillmancode commented on #7072
I am experiencing similar behavior where the Back Button has disabled itself within my Shell application.

I had previously overriden the OnBackButtonPressed() method inside of the ContentPage that was navigated to inside of the AppShell. The overriden OnBackButtonPressed() prevented me from navigating backwards using both the NavBar back arrow and the hardware back button. After removing this ove

[2019-10-03 15:54] davidbritch opened #7804 "[Bug] Changing ItemSizingStrategy has no effect on CarouselView"
### Description

Changing the ItemSizingStrategy has no effect on CarouselView item layout (whereas it does on CollectionView).

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the variable sized items page.
3. Change the ItemSizingStrategy value in the Picker.

### Expected Behavior

Item layout changes.

### Actual Behavior

Item layout doesn't change, regardless of the ItemSizi

[2019-10-03 16:00] pennergame commented on #7685
I have the same issue.
Did someone find a solution?

[2019-10-03 16:05] LGFox commented on #7680
I didn't see this issue on iOS13 when I compiled my app with XCode 10.3. The issue appeared after I updated to XCode 11. I'm using Xamarin.Forms 4.2.0.848062

[2019-10-03 16:08] hponaganti opened #7805 "ShellContent ContentTemplate"
I'm trying to change the Shell Content Dynamically on a toolbar click.

Created three datatemplates with three different pages
 <DataTemplate x:Key="page1Template">
            <views:Page1/>
        </DataTemplate>
        <DataTemplate x:Key="page2Template">
            <views:Page2/>
        </DataTemplate>
        <DataTemplate x:Key="page3Template">
            <views:Page3/>
        </DataTe

[2019-10-03 16:15] StephaneDelcroix commented on #7685
I think I fixed this already, either in HR or XF, have to double check now that we have a repro

[2019-10-03 16:32] v-haroha commented on #3320
So I rolled back to an older Version, beta-4.1.0-pre2
![image](https://user-images.githubusercontent.com/51649153/66145827-97dcba80-e5d9-11e9-8e54-567aa7669677.png)

And Long Press to reveal for 45027 still does not work. I think you should probably open a new issue, as whatever is going on here is buried under a mountain of updates and changes.

[2019-10-03 16:43] pennergame commented on #7685
I Can't downgrade to a lower version.
Got the following Error: Package restore failed

[2019-10-03 16:51] PureWeen commented on #7325
@transis2 and @jveltd can you post a bit of information about the ListView you are using?  Maybe the XAML for it? how often are you changing it? does it have a filter? Does the data load from the web?

This issue seems to come from a race condition with the ListView being disposed and the data source on the ListView being changed

Unhook events is being fired after the LabelRenderer attached to th

[2019-10-03 16:57] PureWeen commented on #7805
@hponaganti can you attach a small reproduction of your issue please?

[2019-10-03 17:14] akamud commented on #7685
Great to hear. Can you please confirm if it is a fix on XF or HR itself? I still use community HotReload for other IDEs and this info is important.

[2019-10-03 17:51] transis2 commented on #7325
Hi @PureWeen,
My app is very large and I don't know what is the listview affected.

All my lists binds data locally from sqlite.
I have one that use formattedtext.

What I found after seek into app center common scenarios is that users leave and return a lot before crash.

Some example:
App.OnResume
90 min 17 sec
App.OnSleep
85 min 34 sec
App.OnResume
73 min 6 sec
App.OnSleep
73 min 5 sec
App.OnRe

[2019-10-03 17:53] Mikilll94 commented on #7521
Is it going to be fixed? This problem exists from the very beginning and it makes flyout unusable.

[2019-10-03 18:10] PureWeen commented on #7679
Some related issues

https://github.com/xamarin/Xamarin.Forms/issues/7701
https://github.com/xamarin/Xamarin.Forms/issues/7350

[2019-10-03 18:14] PureWeen commented on #7325
@transis2 so it looks like you're saying it happens during an OnResume/OnSleep  ?

Is the crash always with *LabelRenderer* or with anything else?

[2019-10-03 18:35] transis2 commented on #7325
@PureWeen This kind of crash is always with _LabelRenderer_

No, its not during OnResume/OnSleep because I receive other events after OnResume and before the crash.

[2019-10-03 18:44] transis2 commented on #7325
@PureWeen I will put an event before load data into every Listview to get more info where it's happening.

[2019-10-03 18:54] PureWeen commented on #7137
@ajay-dhiman

I ran into this issue as well and I'm pretty sure this has to do with ServiceStack being too large. I changed the linker to Full and then was able to compile

I was able to deploy your sample to an ipad just fine

Can you try setting the linker behavior to "Link All" and see if that fixes it for you?

[2019-10-03 19:01] PureWeen commented on #7795
@WaiseFass can you attach a repro please?

I tried your steps on  a physical device and didn't have any issues

[code]

[2019-10-03 19:09] PureWeen commented on #7325
@transis2

For now I'll move this one to "Ready for work" because I do believe there's an issue but I'm just not quite sure the best approach to fix at this point

Some thoughts I'd have for you in the mean time
- If you're sticking with ListView then on the pages with ListViews that have Labels possibly null out the ItemSource in "OnDissapearing" and then reset it in "OnAppearing"
- Try switching

[2019-10-03 19:18] kingpow2014 commented on #6683
Can confirm, update Xamarin.Forms to 4.2 fixed the issue.

[2019-10-03 19:21] PureWeen commented on #7661
I was able to reproduce the issue and I tested it against this PR
https://github.com/xamarin/Xamarin.Forms/pull/7776

which looks to have resolved the issue

[2019-10-03 19:21] #7661 closed

[2019-10-03 19:49] PureWeen commented on #7727
@craigwi Alright I see the issue you are referring to and I'm hoping the issues I linked in will let you orchestrate these but my guess is what we're seeing here is the relationship of how NestedSCrollViews work in Android

At about 3.6 we switched the ScrollViewRenderer to use NestedScrollView instead of just ScrollView

NestedScrollView operates by handing off who's in charge of scrolling action

[2019-10-03 19:52] PureWeen commented on #6683
Closing this based on user comments

[2019-10-03 19:52] #6683 closed

[2019-10-03 20:07] PureWeen commented on #7555
@chrisstaley

This is all by design.
We don't want to start a page from the inception point when you switch between flyouts items. The renderers attached to the page do get disposed but the cross platform pages themselves retain the state so users can return to where they are left off

We'd like to create some better life cycle events at some point :-/ we just haven't quite perfected the API on th

[2019-10-03 20:14] mfeingol commented on #6698
@shoyheim: did you ever have any luck with this?

[2019-10-03 20:27] mfeingol commented on #7741
Thanks, @StephaneDelcroix. Would the fix be part of an XF release, or part of VS?

[2019-10-03 20:41] PureWeen commented on #7703
@DaveEnar So I think you have to be sure to trigger the GC once everything in the shell has resolved

As a test I modified your ItemDetailPage to do this to just be super sure everything connected to the page has been disposed and for me the finalizer gets called

That being said we also have some large efforts being put forward to help some clean up scenarios

https://github.com/xamarin/Xamarin.F

[2019-10-03 20:41] #7703 closed

[2019-10-03 20:51] PureWeen commented on #7733
@ZeProgFactory can you expand on what you are doing that should trigger Disappearing?

Are you saying if you background or minimize it's not called?

[2019-10-03 20:57] PureWeen commented on #7785
@john-heaven since this is just a Xamarin.iOS project I moved your issue to their github https://github.com/xamarin/xamarin-macios/issues/7168

[2019-10-03 20:57] #7785 closed

[2019-10-03 20:57] ZeProgFactory commented on #7733
Then event should trigger for example when the page closes:
https://docs.microsoft.com/en-us/dotnet/api/Xamarin.Forms.Page.Disappearing?view=xamarin-forms
And in past past the event shows up when the page was backgrounded.

[2019-10-03 20:58] DeanFaizal opened #7808 "[Enhancement] Allow providing custom ShellSectionRootRenderer"
## Summary
For Shell customization, the ShellRenderer itself exposes many virtual methods which are overridable to create custom IShell..Renderers such as CreateShellSectionRenderer() https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs.
However more granular renderers in lower levels are not exposed. For example ShellSectionRootRenderer is pri

[2019-10-03 21:48] adrianknight89 commented on #6999
@raindeer I'll get back to you on this later. I'm a bit busy right now with work and other things. I hope to update you back this weekend.

[2019-10-03 21:50] PureWeen commented on #7786
@luczha I'm going to assume the response in there answers your question

https://stackoverflow.com/a/58215163

This
https://github.com/xamarin/Xamarin.Forms/issues/7751

Might also be your issue? but I'm guessing the response in the SO post covers your case

[2019-10-03 21:54] #7786 closed

[2019-10-03 22:01] PureWeen commented on #7784
Fun fact

These events all fire correctly if you're using shell

[2019-10-03 22:27] PureWeen commented on #7796
Possibly related
https://github.com/xamarin/Xamarin.Forms/issues/7118

Also *HyphenationFrequency* on Android Q is set to None by default

[2019-10-03 22:40] kingces95 commented on #6195
Yeah, neither did I. It's weird. The appears to background itself but when its brought back forward it's recreated itself yet the debugger hasn't detached. So, it's just weird...

[bug.zip](https://github.com/xamarin/Xamarin.Forms/files/3688333/bug.zip)

[2019-10-03 23:00] PureWeen commented on #7729
So this looks like it's caused because of this check here

https://github.com/xamarin/Xamarin.Forms/blob/bd31e1e9fc8b2f9ad94cc99e0c7ab058174821f3/Xamarin.Forms.Core/BindablePropertyConverter.cs#L107

The ImageSource property on Button has the PropertyName "Image" since it's just reusing the BP from ImageElement

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/Button.cs#L52

[2019-10-03 23:02] PureWeen commented on #7729
One other thing to note is that the commented code here is wrong

https://github.com/DellaMoraWalter/FontImageTest/blob/master/FontImageTest/FontImageTest/App.xaml#L20

And missing some parts

So you can just copy the XAML from here
https://github.com/DellaMoraWalter/FontImageTest/blob/master/Resources/Styles/Styles.xaml#L8

Into App.xaml

[2019-10-03 23:03] Adam-Langley commented on #6195
Hi @kingces95 - I see - the app isn't backgrounded, it's crashed. When an app crashes on iOS, it just disappears. The multitasking window will still show the last captured screenshot however - leading you to think it's still running/backgrounded - but clicking it just relaunches the app.
I don't know why your debugger doesn't catch it however. Can you post your Console logs? I expect there will be

[2019-10-03 23:05] dmitrymal commented on #7323
@jfversluis We are experiencing the same issue with Xamarin.iOS projects. While this thread is under the Xamarin.Forms, is the root cause the same? Is the fix going to address both Xamarin.iOS and Xamarin.Forms?

Thank you!
[CompaNova LLC](https://www.companova.com/)

[2019-10-03 23:12] PureWeen commented on #7791
@DineshBabuYadav I don't feel like this is a XF issue but just a native android issue since your reproduction isn't really using any Forms elements. It's just a renderer that subclasses a native FrameLayout

This not so helpful SO post
https://stackoverflow.com/questions/53088846/java-lang-illegalstateexception-unable-to-create-layer-for-linearlayout-size-0/53098943

Shows someone else having this

[2019-10-03 23:12] #7791 closed

[2019-10-03 23:19] PureWeen commented on #7694
@davidmclennan can you test on the latest 4.3 pre3 and let us know if you still see the crash?

[2019-10-03 23:19] #7694 closed

[2019-10-03 23:52] PureWeen commented on #7323
@dmitrymal there are a few causes

Xamarin.iOS will solve their cause and then we're going to build on top of that to solve ours

We have a few beginnings of a few solutions being worked on and we will update this issue as we make progress

[2019-10-04 00:18] PureWeen commented on #7719
Duplicate https://github.com/xamarin/Xamarin.Forms/issues/5661

we set the SDK back to 16299 in the latest release which should fix this for now

[2019-10-04 00:18] #7719 closed

[2019-10-04 00:41] PureWeen commented on #7713
@Basti82b so I wouldn't call this a bug. The bold text makes it larger so it wraps. Ideally here we'd just have more apis you could use to change the font size so you can adjust the text to fit

In the mean time you could implement a custom ShellItemRenderer and change the font settings of the tabs

[2019-10-04 00:51] PureWeen commented on #7647
@Sasikumar3595 I tested your project using XF 3.6 and all the boxes showed up fine there so it looks like this has been fixed inside future versions

[2019-10-04 00:51] #7647 closed

[2019-10-04 01:03] PureWeen commented on #7483
I'm going to close this one as a duplicate of this one
https://github.com/xamarin/Xamarin.Forms/issues/6919

[2019-10-04 01:03] #7483 closed

[2019-10-04 01:06] cabal95 commented on #3172
I hope this is the right place to ask. I see in the original posted spec there are properties for `IsHeaderSticky` and `IsFooterSticky`, but I don't see any further mention of them anywhere in the discussion or the implemented source code. Are those still on the roadmap for this view?

[2019-10-04 01:10] PureWeen commented on #7372
I'd recommend we add some shadow apis for the navigation bar

[2019-10-04 01:11] PureWeen commented on #7358
@paul-charlton since you found a solution I'm going to close this for now

We have a number of issues about customizing the TabBar which should take care of this once those get implemented

[2019-10-04 01:11] #7358 closed

[2019-10-04 02:09] pictos commented on #3106
@samhouts  since the #7043 already has a PR, I want to work on this issue. I'll send a draft PR for this.

[2019-10-04 02:48] clintonrocksmith commented on #7325
We also have this same issue.  Not with FastRenders though.  Just Labels.  I've been trying to replicate for a while, but no luck.  It does feel like a race condition though.

[2019-10-04 04:33] craigwi commented on #7727
While debugging the modified PageGallery example which exhibits the modal behavior (mentioned above), I noticed that both ScrollViewRenderer (which inherits from NestedScrollView) and AHorizontalScrollView (which inherits from HorizontalScrollView) are both involved here.  The comments in OnTouchEvent are similarly, but the logic is different enough to warrant further investigation.  Why are they

[2019-10-04 04:35] DineshBabuYadav commented on #7791
@PureWeen , i tried with your suggestion i.e., updating the values in UI thread. But it doesn't work. I tried the same behaviour in Xamarin Android similar scenario. And it works as expected. Can you suggest any solution on this?

[2019-10-04 05:00] PureWeen commented on #7585
@lobbo232 I'm wondering if the end point you're testing against has a time out?

I tested your project and I was able to get the request to wait longer than 90 seconds.

The end point I was testing against would kill the web thread after 4 minutes and when I used your sample to point at that (just a basic azure website) it would sit for 4 minutes until the server killed the thread.

I'm also runni

[2019-10-04 05:03] PureWeen commented on #7791
If you add a delay does it still crash?

 Device.BeginInvokeOnMainThread(async () =>
            {
                await Task.Delay(1000)
                System.Diagnostics.Debug.WriteLine("Animated Value : " + (int)this.animator.AnimatedValue);
                this.Content.Layout(0, 51, this.Width, (int)this.animator.AnimatedValue);

            });

[2019-10-04 05:22] DineshBabuYadav commented on #7791
@PureWeen , we are facing this issue in our source i.e., SfExpander control. And we have replicated this issue in a simple sample for better understanding. And we can't able to add delay manually in our source which will affect other cases.

[2019-10-04 05:41] PureWeen commented on #7791
Yea it's more to just arrive at a non crashing scenario than work backwards. The fact that this doesn't crash in pre 28 APIs and that this is all renderer side tells me that this is something that's not Forms related. Also I copied the ExtendedFrameLayout into a Native Android Project and was able to reproduce the same exception

![image](https://user-images.githubusercontent.com/5375137/66183798-

[2019-10-04 05:59] DineshBabuYadav commented on #7791
@PureWeen , Can you share me the sample?

[2019-10-04 06:03] PureWeen commented on #7791
[Framelayout.zip](https://github.com/xamarin/Xamarin.Forms/files/3689142/Framelayout.zip)

[2019-10-04 06:49] josef-blanco commented on #6640
Could I help You with this task?
It seems a very difficult one!

[2019-10-04 07:30] paleicikas commented on #7166
Android bugfix: https://android-review.googlesource.com/c/platform/frameworks/native/+/800996/1/libs/input/VelocityTracker.cpp
React bugfix: https://github.com/facebook/react-native/commit/b971c5b

[2019-10-04 07:43] DellaMoraWalter commented on #7729
I tried using "Image" as "PropertyName". The exception is not raised but the image is not displayed anyway.
There are these questions to which I find no answer:
1) why if the style is defined in App.xaml it works both with "Image" and with "ImageSource"? In Button.cs I don't see the definition of "BindableProperty.Create ("ImageSource ", ...)". Are there some implicit conversions?
2) why should th

[2019-10-04 07:53] georgethms10 opened #7812 "App crashing when running in android kitkat 4.4.4"
### Description

Create a new project in visual studio 8.2.5 [build 5]

1. Change the min api level to 19
2. Run the application in Kitkat 19 device
3. Inside the OnCreate app crashes with File res/drawable/abc_vector_test.xml from drawable resource ID #0x7f070058

### Expected Behavior
Application should work with minimum api level kitkat
### Actual Behavior
Application crashes on startup
### Bas

[2019-10-04 07:53] shoyheim commented on #6698
@mfeingol
No sorry, I tried, but whenever I make a simple repro, I can't make it crash, but my production app keeps crashing and crashing.
Now i removed all my compiled-bindings and just use runtime bindings in my xaml files, and the crashes has disappeared.
I've spent way to much time trying to figure out what goes wrong, and the only thing I'm certain of is that there's a connection between usin

[2019-10-04 08:02] ysmoradi commented on #6698
1- A property of binding context ( view model ) gets changed.
2- We pop view so it gets destroyed.
3- GC gets called.
4. Binding.Apply gets called and it tries to get access required objects which are gone so it throws InvalidOperationException.
You might ask why step 4 gets executed so late? Because it was called in Device.BeginInvokeOnMainThread, and such an action will be added to the end of li

[2019-10-04 08:55] jsuarezruiz commented on #7793
Super nice samples David. I have done tests and although I can reproduce the problem in 4.3-pre3, with version 4.4.0.1206-nightly (Nightly) the issue is already fixed. I attach your sample updated to 4.4:
[CarouselViewDemos.zip](https://github.com/xamarin/Xamarin.Forms/files/3689714/CarouselViewDemos.zip)

[2019-10-04 09:21] davidbritch opened #7813 "[Enhancement] CarouselView vertical layout could use a converter"
### Description

A vertical `CarouselView` is currently specified as follows:

[code]

It'd be great if `CarouselView` could adopt the `CollectionView` approach and allow a vertical layout to be specified as follows:

[code]

...or something similar. Note, the above syntax doesn't currently work (in 4.3-pre3), because you can't specify the `ItemsLayout` property on a `CarouselView`.

[2019-10-04 10:00] jfversluis commented on #6127
@iooovolts @Darlingtone I think the fix in my PR has just missed the release that just came out. Please be on a lookout for the next 4.2 or 4.3-pre release which should include it for sure.

[2019-10-04 10:33] ravero commented on #1676
@alanag13 this is very useful but addition, but what if we expand the allCaps as an abstraction in Xamarin.Forms itself? What I mean is, sometimes is useful if we could just set `Label.IsAllCaps = true` and it works not just in Android, but also in iOS. I think this feature itself is useful enough to not be a platform specific.

What you think about it @davidortinau? I know that this would change

[2019-10-04 10:34] ravero commented on #1676
@jassmith this is very useful but addition, but what if we expand the allCaps as an abstraction in Xamarin.Forms itself? What I mean is, sometimes is useful if we could just set Label.IsAllCaps = true and it works not just in Android, but also in iOS. I think this feature itself is useful enough to not be a platform specific.

What you think about it @davidortinau? I know that this would change th

[2019-10-04 10:41] pulimento opened #7814 "[Bug] Network Image Loading not working on Android Pie Simulator"
### Description

When I try to load a image hosted on a HTTPs endpoint, using the Android Emulator (only Android 9, API 28, x86) and Xamarin Forms, the image can not be loaded. Tried with different images. Image loads on UWP, desktop and mobile browsers just fine. Tried on debug and release build configurations. Works on devices, fails on emulator. Works on x86_64 emulator.

### Steps to Reproduce

[2019-10-04 10:52] davidbritch opened #7816 "[Bug] LinearItemsLayout file needs renaming"
### Description

Very minor issue - the `ListItemsLayout` class has been renamed to the `LinearItemsLayout` class. However, the filename is still **ListItemsLayout.cs**, in both the master and 4.3 branches.

https://github.com/xamarin/Xamarin.Forms/blob/4.3.0/Xamarin.Forms.Core/Items/ListItemsLayout.cs

[2019-10-04 11:17] davidbritch opened #7817 "[Bug] Changing ItemsUpdatingScrollMode has no effect on CarouselView"
### Description

Changing the ItemsUpdatingScrollMode property has no effect on CarouselView scrolling (whereas it does on CollectionView).

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the "Scroll mode when adding items" page.
3. Change the ItemsUpdatingScrollMode value in the Picker.

### Expected Behavior

Scrolling behaviour changes, in line with the ItemsUpdatingScrollMode

[2019-10-04 11:37] StephaneDelcroix commented on #7685
this is fixed in the version of HR that will be released next.

[2019-10-04 11:37] #7685 closed

[2019-10-04 11:59] maexsp commented on #7219
This bug also appears when a Style is derived from another Style and Triggers are added (override existing ones). Triggers cannot be used at all with this bug when it comes to a minimum of complex styling. Please fix this soon!

[2019-10-04 12:13] aubiyko opened #7819 "Long text in Label inside StackLayout inside AbsoluteLayout results in a out of container drawing."
### Description

Suppose master Label lies inside StackLayout inside AbsoluteLayout.
If I change text from short to long in Label it does change size but moves other children to draw outside of container (or container does not resize correctly). Although adding additional children to parent container or changing button size produce correct results.

### Steps to Reproduce

1. Use application from

[2019-10-04 12:18] chetanshingala opened #7820 "CollectionView scroll several time and it hangs whole UI on iOS side."
### Description

Scroll CollectionView left to right & right to left several time and it hangs UI. Facing issue on iOS side only. I have used Xamarin forms latest stable version Xamarin.Forms(4.2.0.848062).I was using Xamarin.Forms(4.1.0.778454) firstly at that time it was working properly.

### Steps to Reproduce

Scroll CollectionView several time left-to-right and right-to-left and UI gets hang

[2019-10-04 12:29] jameslavery opened #7821 "[Bug] ContentPage.Resources with no ResourceDictionary crashes the app"
### Description
Creating <ContentPage.Resources> for a ContentPage without a <ResourceDictionary> element crashes the app when the Resources contains only a single IValueConverter.

### Steps to Reproduce

1. Create a simple Forms app with a XAML page and associated ViewModel
2. Create a ValueConverter - e.g. InverseBoolConverter.
3. Add the InverseBoolConverter to the ContentPage.Resources, with

[2019-10-04 14:02] AlexAba opened #7823 "[Bug] Frame corner radius."
### Description
After updating from v3.6.0.344457 to v4.2.0.848062 frame cease to cut corners of child elements.
### Steps to Reproduce

1. Create frame with any corner radius and NOT ZERO padding.
2. Create one more frame as a child of the first with any corner radius and ZERO `padding.`
3. Into the second frame insert boxview(can be any view)

### Expected Behavior
Child elements has cut corners

[2019-10-04 14:09] #7816 closed

[2019-10-04 14:59] StephaneDelcroix commented on #7821
this is really weird, we have test for that. But I can reproduce the issue

[2019-10-04 14:59] nyxiscoo1 opened #7824 "[Bug] Text on disabled button loses center alignment on keyboard open after updating XF to 4.2.0.848062"
### Description

I updated my XF app from 4.1 to 4.2 and now when I open keyboard text on disabled button on screen is moved to left, after keyboard is closed text alignment restores, and on subsequent keyboard open text remains centered.

### Steps to Reproduce

I don't know how to reproduce,

### Expected Behavior

Button text at center.

### Actual Behavior

Button text aligned left.

### Basic

[2019-10-04 15:05] melimion opened #7825 "[Bug] WPF Frame cornerRadius doesn't clip content"
### Description

### Steps to Reproduce

1. open XF control gallery sample
2. add folowing to Frame Gallery-legacy page,
			frame.Padding = 0;
			frame.CornerRadius = 50;
3. run app

### Expected Behavior
nested button clipped by frame
### Actual Behavior
nested button not clipped by frame
### Basic Information

- Version with issue: XF 4.2
- Last known good version:
- IDE:
- Platform Target Frame

[2019-10-04 15:08] davidbritch opened #7826 "[Bug][Android] CarouselView gets stuck in an infinite forwards/backwards scroll"
### Description

I've been exploring snap points on CarouselView. I managed to get them behaving as expected on iOS. However, Android is a different story. After forwards/backwards scrolling a CarouselView a number of times, it seems to get stuck in some kind of forwards/backwards infinite scroll. The result looks like an attempt at a rotoscoping animation.

In case there are any doubts about what

[2019-10-04 15:08] AlexAba opened #7827 "[Bug] Frame and other views shadow"
### Description
This bug appear after updating from v3.6.0.344457 to v4.2.0.848062.
If you put any view under frame it will have shadows(even if frame invisible).

### Code example
    <StackLayout>
        <Frame HorizontalOptions="FillAndExpand" HeightRequest="35" BackgroundColor="#252525" HasShadow="True"/>

        <Grid HorizontalOptions="FillAndExpand" HeightRequest="43" BackgroundColor="#EE

[2019-10-04 15:09] StephaneDelcroix commented on #7821
only happen with XamlC on

[2019-10-04 15:17] GalaxiaGuy commented on #7812
It sounds like this issue:

https://github.com/xamarin/xamarin-android/issues/3314

[2019-10-04 15:51] balazserd commented on #5942
CollectionView is constantly messing up carefully calculated layout due to this **BUG**. It is a bug, because HeightRequests are not respected. And the way they are not respected is full random too. Setting the same height request for an element on a page with a CollectionView below has a different height than on a page where there is no CollectionView below. Not to mention how the element has the

[2019-10-04 15:59] PureWeen commented on #7667
It reverts because there's a call to SetupLayer that overwrites your changes

https://github.com/xamarin/Xamarin.Forms/blob/bd31e1e9fc8b2f9ad94cc99e0c7ab058174821f3/Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs#L25

If you match that property list or just call UpdateShadow everytime
[code]

you'll see it doesn't revert.

UpdateLayer on the base class should be virtual though

[2019-10-04 16:18] PureWeen commented on #7674
This looks to be specific to iOS 13 and not related to Xamarin.Forms

@jfversluis do you have any additional info on this? I know you've been researching things in this area

[2019-10-04 16:22] davidbritch commented on #7803
I thought this might be because I'm setting the AnimalsViewModel.IsRefreshing property (which RefreshView.IsRefreshing binds to) to true, so I commented out that code, and the command still fires twice.

[2019-10-04 16:32] samhouts commented on #7336
@Adam-Langley  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-04 16:33] samhouts commented on #7284
@kunalsympac  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-04 16:33] #7284 closed

[2019-10-04 16:45] PureWeen commented on #7406
@klogeaage do you have a repro you can send?

@wadebaird sent you an email about the credentials

[2019-10-04 16:47] samhouts commented on #7823
@AlexAba  What platform do you see this on? Android? iOS? UWP? Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-04 16:50] samhouts commented on #7827
Duplicate of #7218

[2019-10-04 16:50] #7827 closed

[2019-10-04 16:51] samhouts commented on #7824
Related to #6282. Must be another piece we missed.

[2019-10-04 16:53] samhouts commented on #7814
Duplicate of #7751

[2019-10-04 16:53] #7814 closed

[2019-10-04 16:57] PureWeen commented on #7709
Probably related
https://github.com/xamarin/Xamarin.Forms/issues/2094

[2019-10-04 16:57] samhouts commented on #7691
@nirbil Thanks, we'll keep looking for it!

[2019-10-04 16:57] theo-albers commented on #7751
I'm having this issue as well. I upgraded from XF4.1 to 4.2 latest and got "System.ArgumentException: An element with the same key already exists in NameScope Parameter name: name" on various forms. Downgrading to XF4.1 solved that issue, but I couldn't get rid of the image problem. The problem changed from Factory being null in 4.2 to stream closed in 4.1. I upgraded to VS2019 16.3 this week.

[2019-10-04 17:05] PureWeen commented on #7812
@GalaxiaGuy Thank you!!

Closing for now. It looks like 16.3 has a fix for thtis
https://github.com/xamarin/xamarin-android/issues/3314#issuecomment-534823495

@georgethms10 if this still isn't fixed for you please let me know

[2019-10-04 17:05] #7812 closed

[2019-10-04 17:34] adrianknight89 commented on #7820
I tested this on a physical device with 4.4.0.1206-nightly. No issues. I'm not sure if this is a simulator problem. @chetanshingala Can you test the version I tested to see if you're still having this problem?

[2019-10-04 17:49] dannythomas13 opened #7829 "[Bug] Cannot debug Xamaran Forms iOS in VS2019"
When I first started developing iOS app in VS2019 using macincloud the simulator worked great and I was able to attach and debug, this did not last long unfortunately. Is anyone else facing this issue? I have reported at the following location also but not hopeful whereas here seems to have a great community:
https://developercommunity.visualstudio.com/content/problem/758396/xamarin-forms-ios-debu

[2019-10-04 17:52] adrianknight89 commented on #7790
@newky2k There was a discussion on the selected item background color somewhere on Github, but I can't find it, particularly with respect to overriding Android's default style colors. @hartez

Another approach here could possibly be adding content insets to CollectionView along with item spacing, which would not show the gray/orange selection colors. https://github.com/xamarin/Xamarin.Forms/issues

[2019-10-04 18:04] FIELDPOINT commented on #4510
Any update on this? Does anyone know in which version of XF, this fix will be included? Thanks.

[2019-10-04 18:06] nyxiscoo1 commented on #7824
I have one more problem with button fast renderer after update.
I open ZXing barcode scanner and after it closes one of my buttons' text moved left till layout rerenders.

[Here is video demonstration](https://yadi.sk/i/lfGvrJQnaVVhSA) look at button in top right corner.

[2019-10-04 18:19] PureWeen commented on #7797
Fun fact

The control expands/collapses perfectly on CollectionView!

ListView on the other hand 👎

[2019-10-04 18:33] PureWeen commented on #7726
@TonyGravagno can you send me the project you're creating? I'm not quite following your steps. From the sound of it you are creating a native xamarin android project not a Forms project

Looking at your screen shot those are all controls that map to Android controls not to Xamarin Forms controls

Can you try creating a cross platform Xamarin.Forms project? That should have the correct toolbox for

[2019-10-04 18:33] #7726 closed

[2019-10-04 18:40] PureWeen commented on #7793
Closing for now @davidbritch let me know if you're not seeing what @jsuarezruiz is seeing

[2019-10-04 18:40] #7793 closed

[2019-10-04 18:43] PureWeen commented on #7733
@ZeProgFactory can you expand on what you are doing to the UWP app that maps to a page close

I agree that it doesn't fire when you minimize the UWP or background the UWP. Are those the two scenarios you are talking about?

From my tests disappearing/appearing all fire fine if you navigate away from a page

[2019-10-04 19:03] theo-albers commented on #7751
With 4.1.0.673156 I get this with VS2019, 16.3.1:

10-04 20:53:28.492 D/skia    (12559): --- SkAndroidCodec::NewFromStream returned null
[0:] ImageLoaderSourceHandler: Could not retrieve image or image data was invalid: Uri: https://****

Of course the url was not ****, but a valid url which has access to a jpeg image.  With 4.1.778454 I get the stream closed exception. With 4.2.848062 I also get

[2019-10-04 19:09] PureWeen commented on #7751
https://github.com/xamarin/Xamarin.Forms/issues/7751#issuecomment-537156355

https://github.com/xamarin/Xamarin.Forms/pull/7764

[2019-10-04 19:10] AlexAba commented on #7823
Android

[2019-10-04 19:19] StephaneDelcroix commented on #7821
the failure happen because you converter implements IMarkupExtension, which is kind of an edge case

[2019-10-04 19:22] jameslavery commented on #7821
Interesting. I'll see if we can remove that.

Sent from my phone. Apologies for brevity and possible auto-correct quirks.

________________________________
From: Stephane Delcroix <notifications@github.com>
Sent: Friday, October 4, 2019 8:19:26 PM
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: James Lavery <james@jackstay.co.uk>; Author <author@noreply.github.com>
Subject: Re: [x

[2019-10-04 19:24] theo-albers commented on #7751
I see that the Adnroid GetStreamAsync in https://github.com/xamarin/Xamarin.Forms/blob/151bdb5ebfd0cfbcad0aa10d6327ff79e534fda5/Xamarin.Forms.Platform.Android/Forms.cs is newing up an HttpClient for every image:

public async Task<Stream> GetStreamAsync(Uri uri, CancellationToken cancellationToken)
			{
				using (var client = new HttpClient())
				{
					HttpResponseMessage response = await clien

[2019-10-04 19:31] theo-albers commented on #7751
I did uninstall the app, uninstalled the runtime as well. No luck.

[2019-10-04 19:33] PureWeen commented on #7762
@ACoolUsername is there a functional effect of this that we can test? This almost feels like it's an issue with *UI Automation Viewer*

If I use the layout inspector the Content Description never goes away.

But then if I use the  *UI Automation Viewer* to screen shot the app then it disappears from the layout inspector as well

[2019-10-04 19:36] StephaneDelcroix commented on #7821
If you insist on implementing IMarkupExtension, inherit from the generic one, otherwise the Xaml compiler has no way to figure out that the result of ProvideValue is not a ResourceDictionary (please don't do that either)

I do not consider this a bug, it's just that the usage can not be inferred from the syntax, and you should use the explicit syntax

[2019-10-04 19:36] #7821 closed

[2019-10-04 19:42] PureWeen commented on #7824
@nyxiscoo1 can you post your XAML for the page exhibiting this issue? A lot of times these issues are super nuanced to the layout

[2019-10-04 19:54] PureWeen commented on #7655
Looks like this is also an issue on iOS

it's very obvious that the position calculation just needs to be shifted to account for RTL.
When working on this let's look at a general way to express position when set to RTL so other code that needs to calculate location can reuse it

[2019-10-04 20:02] PureWeen commented on #7823
It looks like this regressed when the ClipToBounds defaults shifted on Android
If you set the inner frame to *Frame IsClippedToBounds="True"* then it clips to the radius correctly

This should just be a matter of doing that automatically on the Frame when corner radius is set

[2019-10-04 20:20] PureWeen commented on #7239
The comment in the referenced code articulates this problem

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/ContextExtensions.cs#L14

[2019-10-04 20:56] ZeProgFactory commented on #7733
I just updated the test solution from ‘Xamarin.Forms 4.2.0.815419' to 'Xamarin.Forms.4.2.0.848062'.
The three `Debug.WriteLine()` were still hit when exiting the program on Android (physical back button) but never on UWP/Windows (close app by clicking on the cross on the windows frame).

[XFBug_UWP_OnDisappearing (2).zip](https://github.com/xamarin/Xamarin.Forms/files/3692300/XFBug_UWP_OnDisappear

[2019-10-04 20:59] VitalyKnyazev opened #7830 "[Bug] After #7531 some XAML namespaces require assembly"
### Description
Ironically after #7531 some XAML namespaces require assembly name otherwise the app just crashes.

### Steps to Reproduce
1.  Add a XAML element like Button and set its Text to a string property of a **static** class like
"public static class ResourceStrings", for example Text="{x:Static resources:ResourceStrings.SomeText}"
2. Namespace xmlns:resources="clr-namespace:App.Core" work

[2019-10-04 21:38] PureWeen commented on #7500
I feel like the failure here is a way to articulate that an animation has failed or that they are disabled.

Animations have a return value that I don't quite understand. Maybe @hartez can expand on it a bit :-) It seems to return false if the animation succeeded and then true if it's aborted.

If those assignments are correct than I feel like if Animations are disabled they should return true

I

[2019-10-04 21:41] kelly987654 commented on #7762
We experienced this issue while running our Appium (ui-automator2-server)-based tests against our App after updating to Xamarin Forms 4.1. Prior to 4.1 the tests successfully retrieved the Picker element by Automation ID. After the 4.1. update (and no other changes) the tests started failing due to not finding the Picker Automation ID.

Maybe related to this commit - [ccfd617](https://github.com/x

[2019-10-04 21:55] BioTurboNick commented on #7500
Thanks @PureWeen . I did figure out how to use the Animation classes eventually, and those don't have this issue as you suggested. Took a bit, but I think a lot of that was compounded by the animation-blocking issue.

The return value is documented here in the first big paragraph: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/animation/simple but the return value appears no

[2019-10-04 22:16] UwpDev opened #7832 "OnAppearing not being called for the current page in shell instead called for parent page"
### Description
When media picker is opened from a detail page in shell, then after returning from the picker task completion only the on appearing of the parent page is called but not of the detail page.

I have attached Xaminals
[Xaminals.zip](https://github.com/xamarin/Xamarin.Forms/files/3692499/Xaminals.zip)
sample code in which I have added a gallery picker on button click in CatDetailPage

[2019-10-04 22:21] PureWeen commented on #7500
There it is! I still feel like it's inverted but can't really do anything about that

Cancelling happens if you start an animation then startup another one before the previous one has finished. If you trigger an animation from a button click and then keep clicking the button. If the previous *ScaleTo* hasn't finished and you trigger another one it'll abort the first one.

With stopping it from run

[2019-10-04 22:49] PureWeen commented on #7820
@chetanshingala I'm seeing the same behavior as @adrianknight89

I'm going to close this for now as this appears to be fixed

[2019-10-04 22:49] #7820 closed

[2019-10-04 22:50] mknotzer opened #7833 "[Bug] An element with the same key already exists in NameScope"
### Description

Now that issue #7452 is fixed with the latest 4.2 version I receive a new exception:

`
public partial class TemplateBefund : ContentView`

`
public partial class Endbefund : TemplateBefund
`

System.ArgumentException: An element with the same key already exists in NameScope
Parameter name: name
  at Xamarin.Forms.Internals.NameScope.Xamarin.Forms.Internals.INameScope.RegisterName

[2019-10-04 22:53] PureWeen commented on #7833
Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-04 22:54] nyxiscoo1 commented on #7824
Here is [Views.zip](https://github.com/xamarin/Xamarin.Forms/files/3692552/Views.zip).

DepositPage - is the page from bug report.
MainMasterDetailPage - page from the video.

I can try to make minimal reproducible sample from my full app, if it would be helpful.

[2019-10-04 23:04] Nessitro commented on #5518
This is happening to me as well, I would love to see this issue fixed so I don't have to use workarounds

[2019-10-04 23:07] PureWeen commented on #7733
The three Debug.WriteLine() were still hit when exiting the program on Android (physical back button) but never on UWP/Windows (close app by clicking on the cross on the windows frame).

I think that's still two different life cycle events that you're expressing here. When you hit the physical back button on android that's just backgrounding the app. The app process is still in memory but the view

[2019-10-04 23:43] PureWeen commented on #7605
possibly related
https://github.com/xamarin/Xamarin.Forms/issues/7309

[2019-10-04 23:51] adrianknight89 commented on #7833
I had this problem too. I had many `x:Name="Root"` setters on the top level element that were being x:Reference'd somewhere else. I ended up assigning more unique names to get around the issue.

[2019-10-04 23:52] PureWeen commented on #7832
You can also reproduce this by just backgrounding the app while on the CatsDetailsPage and then coming back to it

[2019-10-05 00:10] PureWeen commented on #7826
I wasn't able to reproduce

@rmarinho @jsuarezruiz maybe you'll have better luck?

[2019-10-05 00:35] BioTurboNick commented on #7500
Oh no! Checking for the return value doesn't change anything. The loop runs, blocking the UI thread. The debugger lets me break inside the loop like nothing is wrong, and the ScaleTo functions return "false" each time.

For completeness, I went back to the normal power mode and then disabled animations via Settings, to see how the ScaleTo lines behaved. And... it does something different. It does

[2019-10-05 00:53] PureWeen commented on #7500
Yea that's the point I'm making here

This is a bug IMO.  It should return true if animations are disabled and never running and then having a hook somewhere indicating animations have been disabled/enabled would also be of use

[2019-10-05 00:54] PureWeen commented on #7824
It would be very helpful!  These layout issues a lot of times are really specific and tricky to reproduce without one

[2019-10-05 01:03] PureWeen commented on #7788
Behavior isn't iOS 13 specific

[2019-10-05 01:05] PureWeen commented on #7634
@jsauvexamarin @hartez @rmarinho

Are there any specific guidances around SafeAreas and CollectionView? Is this overlap by design? or does CV need to be setup to account for SafeArea insets?

[2019-10-05 01:07] PureWeen commented on #7804
@rmarinho says this doesn't make sense for Carousel View

Discuss

[2019-10-05 01:08] jrahma commented on #3644
it is a bug.

I have the same problem with ContentPage on Android

[code]

[2019-10-05 01:09] PureWeen commented on #7699
I saw the crash when testing this one
https://github.com/xamarin/Xamarin.Forms/issues/7700

So these might all get fixed together

[2019-10-05 01:11] PureWeen commented on #7817
Related
https://github.com/xamarin/Xamarin.Forms/issues/7788

[2019-10-05 01:14] PureWeen commented on #7799
Probably a duplicate of this one
https://github.com/xamarin/Xamarin.Forms/issues/7714

[2019-10-05 01:25] PureWeen commented on #7517
@georgemichailou I had the same result as @jsuarezruiz

Can you update to pre3 see how it works for you?

What device are you testing on specifically?

[2019-10-05 01:31] PureWeen commented on #7833
@StephaneDelcroix

[2019-10-05 01:31] PureWeen commented on #7830
@StephaneDelcroix

[2019-10-05 02:47] adrianknight89 opened #7836 "[iOS] DataTemplateSelector doesn't work when an item is re-created in code-behind"
### Description

This works in ListView but not CollectionView. When a template selector is used (in this case with two different data templates) and a button click clears StackLayout children and adds a new view, CollectionView renders items in wrong positions.

### Steps to Reproduce

1. Run repro.
2. Scroll to item 49.
3. Click the "Clear" button
4. Observe that the scroll position changes and

[2019-10-05 02:54] adrianknight89 commented on #7833
Here's a repro

[App101.zip](https://github.com/xamarin/Xamarin.Forms/files/3692816/App101.zip)

[2019-10-05 03:11] adrianknight89 commented on #7714
@jsuarezruiz I agree. This seems to be a duplicate.

[2019-10-05 03:13] adrianknight89 commented on #5831
Another observation: When the unwanted item hangs around as in the screencast, the flyout is blocked. Swipe gestures no longer work.

[2019-10-05 04:24] UwpDev commented on #7832
@PureWeen I found another issue related to this.
If after backgrounding and coming back to the app, I try to call await Shell.Current.Navigation.PopToRootAsync(false); then the OnAppearing does not get called for any page.

I have added a button to call PopToRootAsync in the Xaminals sample which can be found below
[Xaminals.zip](https://github.com/xamarin/Xamarin.Forms/files/3692858/Xaminals.zip)

[2019-10-05 04:30] mfeingol commented on #6698
@ysmoradi: I spent some time attempting to reproduce your steps, and I was unable to trigger any crashes. I don't suppose you have a sample project.

[2019-10-05 04:52] ysmoradi commented on #6698
I've said before that I don't have any simple repo and it's happening in my production app, and it also happens randomly.
The first time I started to create a repo, I wasn't aware of many things, but tomorrow I'll try to create another one using my new assumptions.
Another tips which might help: Based on my assumptions, having concurrent GC enabled results into increased chance to reproduce the cr

[2019-10-05 05:05] mfeingol commented on #6698
I have concurrent GC enabled. Using your suggestions, the snippet of code I'm using does this:

[code]

TXT is a property on Page1, implemented using a BindableProperty. Page1 is using compiled bindings.

Still no luck.

[2019-10-05 05:25] davidpsaylor opened #7837 "[Bug] Target Parameter Count Exception when binding to string-indexed property."
### Description
We are porting a WPF app to Xamarin.Forms.  We have an object which can take a string index and return a sub-object.  We are able to bind to it in WPF, but on Xamarin.Forms it crashes with a TargetParameterCountException (Parameter count mismatch.)

### Steps to Reproduce
Add a binding to a path with a string index.  For example, `Text="{Binding Roles.PickList[DriverPilotTransport]

[2019-10-05 06:16] jameslavery commented on #7821
Ok - good point. But what do you mean by "I wouldn't do that either."?
________________________________
From: Stephane Delcroix <notifications@github.com>
Sent: Friday, October 4, 2019 8:36:48 PM
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: James Lavery <james@jackstay.co.uk>; Author <author@noreply.github.com>
Subject: Re: [xamarin/Xamarin.Forms] [Bug] ContentPage.Resources wi

[2019-10-05 06:18] jameslavery commented on #7821
Sorry, I meant "Please don't do that either"?
________________________________
From: Stephane Delcroix <notifications@github.com>
Sent: Friday, October 4, 2019 8:36:48 PM
To: xamarin/Xamarin.Forms <Xamarin.Forms@noreply.github.com>
Cc: James Lavery <james@jackstay.co.uk>; Author <author@noreply.github.com>
Subject: Re: [xamarin/Xamarin.Forms] [Bug] ContentPage.Resources with no ResourceDictionary

[2019-10-05 06:52] BioTurboNick commented on #7500
I misunderstood at first, thank you.

Also, turns out the discrepancy between the two experiences may have been due to a bug in 4.1? I thought I had been using 4.2 in the test project, but going to 4.2 made them identical: immediate return => infinite loop. I apologize for the noise there.

One argument in favor of having a Task.Delay of ~ the same length: When I add it manually, it provides 2 ben

[2019-10-05 08:52] DanKyungu commented on #7291
I Confirm, it's fixed ! Thx

[2019-10-05 09:17] StephaneDelcroix commented on #7833
that's a problem.

both the base class and the derived one, being the same instance, share the same Namescope (otherwise you wouldn't be able to FindByName an element)

our advice is "do not inherit xaml views, but use ControlTemplate"

[2019-10-05 09:21] StephaneDelcroix commented on #7830
please provide a repro project as soon as you can. thanks

[2019-10-05 10:20] ZeProgFactory commented on #7733
I think the question is not if it’s or not two different cycle events, but whether the reaction is consistent over the platforms and in time. On the two platforms (didn’t test on the other ones) I start the App and exited it from the user point of view. On one platform I get the all events fired not on the other.

So, it’s not consistent for Android and UWP.

If you the considered page is at least

[2019-10-05 10:57] uzairali001 opened #7838 "[Bug] Failed to load ibtool log file `obj/iPhone/Release/ibtool-manifests/LaunchScreen.storyboardc`: Failed to parse PList data type"
### Description
Unable to build iOS project in latest visual studio
### Steps to Reproduce

1. Create new xamarin.forms project
2. Compile it, iOS project won't compile and result in errors

### Expected Behavior
iOS project compile successfully

### Actual Behavior
iOS project is not compiling result in errors

[code]
[code]
[code]

### Basic Information

- Last known good version: Don't remember

[2019-10-05 11:10] mknotzer commented on #7833
I don't use the same name several times, this is a definitely a bug!

[2019-10-05 11:36] VitalyKnyazev commented on #7830
Hi @StephaneDelcroix

Here is the project:
https://github.com/VitalyKnyazev/StaticCrash

It is a bit trickier than I thought:
-  x:Static must be within DataTemplate
-  XamlCompilation must be off

If you change
xmlns:core="clr-namespace:StaticCrash"
to
xmlns:core="clr-namespace:StaticCrash;assembly=StaticCrash"
then it also works.

Off topic - is it worth turning off XAML compilation in DEBUG mod

[2019-10-05 12:20] StephaneDelcroix commented on #7833
@mknotzer this definitely require a repro project then.

[2019-10-05 12:28] StephaneDelcroix commented on #7830
Thanks, will look at that.

well, yes and no

yes:
- (1) it speeds up the dev cycle

no:
- (2) you'll miss a lot of error usually caught at compile-time with XamlC on
- (3) the application you're currently debugging is not the same that the one you'll release, and you have to make sure you're testing it in Release mode as well (this is always a good advice, btw)

To get the gain from (1), and keep

[2019-10-05 13:40] davidortinau commented on #7744
Thanks @jsuarezruiz. My initial feedback:

1. I would also like to have a `Spread` or `Distance` property.

2. What CSS should we use here? CSS has `text-shadow` and `box-shadow`. In this case it would be the latter, and I think we ought to maintain that naming.

[code]

3. What elements will support `Shadow`? All layouts? Button? Label? Entry?

4. What about inset shadows? While this isn’t super

[2019-10-05 14:08] nyxiscoo1 commented on #7824
Here is stripped up application [TransportMobileClient.zip](https://github.com/xamarin/Xamarin.Forms/files/3693308/TransportMobileClient.zip), it can reproduce both problems.
Button at upper right corner opens dialog with disabled button.
Button at the bottom opens up bar code scanner to demonstrate bug from video.

I'm using latest Visual Studio with all updates installed, I've tried to compile i

[2019-10-05 14:43] IosDeveloperHarsh commented on #3172
In collectionview we need ItemAppeared, ITemDisappeared.
is there any way to achieve ?

[2019-10-05 14:51] davidortinau commented on #7293
@jsuarezruiz my comments have all been captured above. Would you pls update the spec to reflect those?

- SolidColorBrush
- deprecate `BackgroundColor`
- Gradients to GradientStops

What elements will this apply to, all that have `BackgroundColor`? What about `Label`? `BorderColor`? I’m not saying this first iteration should, but let’s also be clear if we are NOT going to do something.

[2019-10-05 15:18] davidortinau commented on #6033
1. Please give some examples of how I would declare enter/exit transitions in Shell and NavigationPage. Something like this?

[code]

Or would it be an attached property like `Shell.Transition=“SlideFromBottom”`?

As I think about FlyoutItems and Tabs I don’t see a reason to put transitions there, however if in the future we have a hidden item of some kind to be about to route to (like a login pag

[2019-10-05 16:00] jameslavery commented on #7821
Thank you - I see what you mean. I need to review why we've decided to implement IMarkupExtension in some of our ValueConverters.

[2019-10-05 17:03] Happypig375 opened #7839 "[Bug] No shadows for UWP Frames?"
### Description, Steps to Reproduce, Actual Behavior, Screenshots
[code]
![image](https://user-images.githubusercontent.com/19922066/66258198-c8d50f00-e7d4-11e9-845e-1ba9099251ec.png)

### Expected Behavior
Shadows are seen around the text.

### Basic Information

- Version with issue: 4.1, 4.2
- Last known good version: Idk
- IDE: VS16.3.2
- Platform Target Frameworks:
  - UWP:  17134
- Affected

[2019-10-05 17:16] brminnick commented on #7701
I confirmed this workaround resolves the problem, as recommended here: https://github.com/xamarin/Xamarin.Forms/issues/7350#issuecomment-535905289

[code]

[2019-10-05 17:36] MSiccDev commented on #7790
I have to verify this one. Happens also here on my end.

![collviewselectedbug](https://user-images.githubusercontent.com/1111771/66258591-5bf75000-e7a7-11e9-8c28-aee0889b8087.jpg)

[2019-10-05 20:03] karlingen commented on #6554
+1 on this

[2019-10-05 21:59] mknotzer commented on #7833
My bad, found the duplicate names. The ContentViews had the same name.

- why is there no exception in XF 4.1?
- is it possible to get the duplicate name with the exception message?

[2019-10-05 23:20] PureWeen commented on #7751
If you still have the issue after

@theo-albers
https://github.com/xamarin/Xamarin.Forms/pull/7764

And disabling caching on the UriImage Source doesn't fix it then can you attach a repro?

[2019-10-05 23:22] PureWeen commented on #7751
https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests

I don't think that would cause a single request to a single image to fail

I agree a *HttpClientFactory* would be a good idea but I don't think it's related to this issue

[2019-10-06 00:21] PureWeen commented on #7785
FYI @john-heaven

https://github.com/xamarin/xamarin-macios/issues/7168#issuecomment-538575111

[2019-10-06 02:07] jawbrey commented on #7145
Has anyone solved the FullScreen problem using a custom renderer?  Any guidance on how to do that?  I have a client on XF 3.1 and I need to get out a build for iOS 13 before I can stop to take the time to upgrade XF and all of their other dependencies.

[2019-10-06 02:18] DennisWelu commented on #6866
I'm trying to test this fix but unsure if it is present in 4.3 pre3. Based on my quick test updating to 4.3 pre3 it still is crashing. Also tried it in the latest 4.4 nightly. Which branch would this fix be on or has it not made to a published build yet?

[2019-10-06 02:30] PureWeen commented on #7145
@jawbrey

- Create a Custom Page Renderer
- When it's added the parent controller set the ModalPresentationStyle on that parent to full Screen

I think that should work

https://github.com/xamarin/Xamarin.Forms/blob/f17fac7b9e2225b1bfe9e94909d2b954106f8f1f/Xamarin.Forms.Platform.iOS/ModalWrapper.cs#L18