[2021-03-02 09:25] ajtruckle commented on #13911
I tried removing the transparency on the page - no difference.

I tried simply setting:

`Application.Current.UserAppTheme = OSAppTheme.Light;`

No difference. Only my frames respect the theme. Not the rest of the window.

Why? I am using latest Xamarin.Forms etc... packages.

[2021-03-02 10:43] jeyakasipandi opened #13912 "[Bug] Xamarin Android can't read EXIF data from the rotated image to check whether the image rotated or not"
### Description

To check whether the image is rotated or not by reading the EXIF meta data based on the orientation rotate then create the new bitmap and set to ImageView control.

[C#]

[code]

### Expected Behavior

To read the rotated image ExifData to get the orientation. Based on the orientation rotate then create the new bitmap and set to ImageView control.

### Actual Behavior

Getting the

[2021-03-02 11:25] kdbhalala commented on #13863
If We pan On android up to bottom or bottom to up at any point we stop but not lift finger from a screen then it gives me multiple values not one single value where i stopped pan

[2021-03-02 11:30] kerberosargos opened #13913 "[Enhancement] Extend XAMLmarkup for CurrentVisualState"
Hello,
I have defined a style in my App.cs.xaml and I am using it as following example.

is it possible to extend builtin XAML markup for example as  **CurrentVisualState** Thank you in advance.

[code]

**HomePage.xaml**

[code]
**CurrentVisualStateBehavior.cs**

[code]

[2021-03-02 12:45] ajtruckle commented on #13911
Update. If I use this code:

        [Action("appearanceAuto:")]
        public void appearanceAuto(NSObject sender)
        {
            Application.Current.UserAppTheme = OSAppTheme.Unspecified;
            Preferences.Set("AppTheme", (int)OSAppTheme.Unspecified, "Global");

            var app = NSAppearance.GetAppearance(NSAppearance.NameAqua);
            window.Appearance = app;
        }

[2021-03-02 12:50] ajtruckle commented on #13911
If I set it to `null` then it reverts to system setting.

It doesn't not seem that this UserAppTheme mechanics is correctly setting the window `Appearance` (or - even better - app - appearance to the relevant setting as I have described for macOS.

[2021-03-02 14:06] rickdijk commented on #9879
Any progress on this issue already? Very annoying blocker on our project. Focusing an entry in the CollectionView Header shifts the collectionview down as show by @robertmiles3 .
The workaround show above didn't solve the problem.

[2021-03-02 14:19] giosandev commented on #13556
Don't ask me why, I don't know, the restore of Visual Studio installation (i did it for another reason) solved the problem.
Restore Visual Studio->Update NuGet packages to 5.0.0.2012 no more default transparent buttons.

[2021-03-02 14:48] Siphonophora commented on #13759
I'm having this issue on an iPhone 6s as well. I posted details on the microsoft Q&A page about steps I have taken. https://docs.microsoft.com/en-us/answers/questions/293841/getting-started-ios-app-crashes-on-launch.html

[2021-03-02 16:20] AlexanderMelchers commented on #9872
Is there any information on when this will be fixed?

I believe I just ran into a variant of this issue. As this is in a commercial and proprietary app, I, unfortunately, can't post any screen shots, nor is it easy to copy the custom-made control we made and with which we're experiencing the issue into a separate app. As such, I'll do my best to describe the issue:

We've built a custom control th

[2021-03-02 16:28] PureWeen commented on #13905
@nziosys can you attach a small project reproducing the issue please?

[2021-03-02 16:30] PureWeen commented on #13910
@Janek91  can you attach a small project reproducing the issue please?

[2021-03-02 16:31] JPZV opened #13914 "[Bug] [Xamarin Shell] Using images that are larger than icon space scale tab bar significantly on iOS"
**NOTE:** This issue was originally filled by [XXcharlosXX](https://github.com/XXcharlosXX) on [xamarin-docs](https://github.com/MicrosoftDocs/xamarin-docs/issues/1885) two years ago, but I found that this stills not working on Xamarin Forms 5.0.0.2012 and it's seems that XXcharlosXX didn't fill it here.

### Original Description
The typical size of an icon is around **30 x 30 px**.
Lets say for s

[2021-03-02 16:44] Cfun1 opened #13915 "[Bug] Visual States not working in a CollectionView with SwipeView as it root element"
### Description
The visual states manager doesn't work in a CollectionView which have SwipeView as root element of it DataTemplate.

[code]

### Expected Behavior
VSM works
### Actual Behavior
VSM not working.
### Basic Information

- Version with issue: 5.0.0.2012
- Last known good version: -
- Platform Target Frameworks: Tested on Android 10.0
  - iOS:
  - Android:
  - UWP:
- Android Support Lib

[2021-03-02 17:24] ebrodlic commented on #13759
Any chance this is related to S series of devices?
Does anyone have a spare device to compare behaviour?

[2021-03-02 17:59] PureWeen commented on #13903
Bindings only update via INotifyPropertyChanged events. If you want the binding to update and fire your converter you have throw a PropertyChanged event. For example if I add this to your code it works

[code]

[2021-03-02 17:59] #13903 closed

[2021-03-02 18:18] PureWeen commented on #13902
@Qythyx can you please attach a repro? I tested with the following RadioButtons and it worked fine for me

[code]

[2021-03-02 18:28] PureWeen commented on #13880
@ajtruckle what is the type of ScheduleWebView?  We don't really have any APIs (AFAIK) that map to PlatformControl

My recommendation would be post this question onto StackOverflow with a bit more detail. This area is mainly for logging bugs.

[2021-03-02 18:28] #13880 closed

[2021-03-02 18:31] PureWeen commented on #13895
@jonathanantoine Can you attach a small repro of this crash? I'm not seeing anything in the stack trace that gives me any indication of what might be wrong here

[2021-03-02 18:33] ajtruckle commented on #13880
I actually have printing from iPad now using a print service.

[2021-03-02 19:04] Guitarnivore opened #13916 "[Bug] iOS Application crashes on Back press when navigated to using GoToAsync with "//" or "///" route if 2 or more things are removed from the navigation stack"
### Description
In some cases it is necessary to replace a stack that looks like "//Page1/Page2/Page3" with one that looks like "//Page1/Page4". On iOS, when navigating from Page3 to Page4 with Shell.Current.GoToAsync("//Page1/Page4") it navigates fine but crashes when the NavigationBar back button is pressed.

The problem is even bigger than this in that any stack replacement using a "//" or "///

[2021-03-02 19:16] sisaacks opened #13917 "[Bug] When Using Xamarin Shell Flyout on Android Version 7.0 white streak across bottom of page"
### Description
I am seeing this issue on older versions of Android.  When using the shell flyout navigation, its glitchy and also I see a large white streak across the bottom of the screen during navigation

### Steps to Reproduce

1. Create an Xamarin Shell Flyout and use an older android phone, mine is Android 7 Samsung 920-V
2. Navigate using the flyout
3.

### Expected Behavior
Smooth transit

[2021-03-02 19:18] sisaacks commented on #13917
It appears that the white line that I am seeing is the bottom tab bar.  It seems to fade from white to black going left to right

[2021-03-02 19:36] sisaacks commented on #13917
@samhouts I take this back, this is happening on the newer phones as well....the bottom tab bar has a white streak that goes across from left to right when navigation occurs with the flyout

[2021-03-02 19:42] jmemaxwell commented on #13860
I have narrowed this issue down.  If I have multiple ContentViews on our MainPage that utilize bindings the framework is crashing on the enumeration shown above.

The only workaround I have found is to remove the ContentView reference and place the code from the ContentView directly in our MainPage.  Assuming doing this does not trigger the PropagatePropertyChanged for the children (?).

There mus

[2021-03-02 19:43] sisaacks commented on #13917
@samhouts I rolled back to 5.0.0.1874 and I am still seeing the same issue.  It only seems to happen the first time you navigate.  After that it does not happen anymore

[2021-03-02 19:49] sisaacks commented on #13917
@samhouts this also seem to be limited to Android.  My background, including the bottom tab bar is black.  I was wrong, it does happen every time, it just seems to be faster after the first navigation

[2021-03-02 20:01] n0jo4 commented on #13795
It seems like the Shell Menu button width is not being used in the calculation for the width of the TitleView, my workaround is adding a iOS platform specific right margin of 80 to the right most control and it's reasonably close on the devices I've tested.

[2021-03-02 20:09] jeffington commented on #12301
@btschumy Hi Bill, I have been having the same problem as you. Here's my work-around. I created an extension that walks up the UIViewController hierarchy and sets the ModalInPresentation property for every UIViewController. I call this extension from the ViewDidAppear method of a custom NavigationRenderer.

NOTE: It's possible that you can call this from other places in the ViewController lifecycl

[2021-03-02 20:33] sisaacks commented on #10034
@samhouts I think this is the same issue that I submitted to you about the flyout navigation, I am seeing a white gradient over the bottom tab bar when navigating but then it goes back to black after navigation completes.  It almost looks like a progress bar going from left to right across the bottom of the screen

[2021-03-02 20:54] sisaacks commented on #10034
@samhouts https://github.com/xamarin/Xamarin.Forms/issues/13917

[2021-03-02 20:55] sisaacks commented on #13917
@samhouts this may be the same or very similar issue: https://github.com/xamarin/Xamarin.Forms/issues/10034

[2021-03-02 21:20] nziosys commented on #13905
@PureWeen I attached very simple example.
[CarouselTest.zip](https://github.com/xamarin/Xamarin.Forms/files/6071854/CarouselTest.zip)

While creating it I found out some very crazy behaviour, that makes me doubt logic and computers at all ^^

`// this fails
UpdateCollectionCommand = new Command(() => {
    Items[1] = "Item 4";
    Items.RemoveAt(0);
});

// this works
UpdateCollectionCommand = new

[2021-03-02 23:29] stepkillah commented on #13895
I'm seeing similar crash reports in appcenter, the app doesn't use the flyout page, and it seems like it's crashing on startup, but I was not able to reproduce it, using xamarin forms 5.0.0.2012

[code]

[2021-03-02 23:38] PureWeen commented on #13869
Closing as duplicate

[2021-03-02 23:38] #13869 closed

[2021-03-03 00:51] brianjtools opened #13918 "[Bug] iOS DatePicker only displays the last two digits of the year"
### Description
Xamarin Forms 5.0.0.2012 on iOS (14.04) only displays the last two digits of the year where previously displayed all four.
### Steps to Reproduce

1.  Implement a DatePicker in an iOS Forms app and set range from 1/1/1600 to 12/31/2399.
2.  Run with iOS simulator
3.  Picker will display the date as M/d/yy i.e. 3/2/21
4.  Select another date and the picker still only displays the ye

[2021-03-03 04:43] Nawazish891 opened #13920 "[Bug] ScrollView automatically scrolling to last focused entry in IOS"
### Description
ScrollView automatically scrolling to last focused entry in IOS.
create a simple layout in this format
<ScrollView>
     <StackLayout>
           <Entry PlaceHolder="First" />
           <Entry PlaceHolder="First" />
           <Entry PlaceHolder="First" />
           <Entry PlaceHolder="First" />
           <Entry PlaceHolder="First" />
           <Entry PlaceHolder="First" />

[2021-03-03 07:14] CMarcher commented on #10789
I'm still getting this issue on the latest release - any ETA?

[2021-03-03 07:39] singhwong commented on #13040
I think,If the Text attribute uses binding, the built-in Scroll of the editor will not work in iOS 14+.
If you add a ScrollView outside, this [issue](https://github.com/xamarin/Xamarin.Forms/issues/13040) will occur.

[2021-03-03 09:04] KerosenoDev commented on #13510
I have the same problem.

[2021-03-03 09:11] BaculisBirota opened #13922 "Visual Material Transparent BackgroundColor is White"
### Description
I use Entry with Visual="Material" and set BackgroundColor = "Transparent".
If use nuget package Xamarin.Forms-1829-pre6 (or above) and Xamarin.Forms.Visual.Material-1829-pre6 (or above) background color is White (not transparent). The other colors work fine.
With Xamarin.Forms and Xamarin.Forms.Visual.Material version 1791-pre5 Transparent color work fine.
### Steps to Reproduce

[2021-03-03 09:37] aquiros94 commented on #13510
I have the same problem, too.

[2021-03-03 09:59] emilon opened #13923 "Hi ,[I am working on the SwipeView in ListView, SwipeView is very Sensitive while scrolling. Can you please suggest me how to disable swipe while scrolling List and to Disable List Scroll while swiping Left or Right.. ]"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library / AndroidX Version:
- NuGet Packages:
- Affected Devices:

### Environment

<details><summary>Show/Hide Visual Studio info</summary>

[code]

</de

[2021-03-03 10:07] leandrofagundes opened #13924 "[Enhancement] Make ActivityIndicator fullscreen for appshell"
## Summary
When using activity indicator on a ShellApp project, the NavBar stills unblocked and the user can navigate back or navigate through menu even when app is busy.

## API Changes

In order to allow the activity indicator to cover full screen, even the nav bar, a template can be add to the appshell.xaml configuration for when the application is busy.

## Intended Use Case

Every time we nee

[2021-03-03 10:10] ebrodlic commented on #13759
Apologies for close/reopen, accidentally closed the issue with phone app.

[2021-03-03 11:20] Denrage commented on #12080
I'm getting a MonoTouchException: 'Objective-C exception thrown. Name: NSRangeException (index 1 beyond bounds [0 ... 0])' in Xamarin.Forms 5

[2021-03-03 11:45] diegoserpa commented on #13398
Same issue here. This happens when the ScrollView is the root element of the page. A workaround for this is wrap the ScrollView in a StackLayout, as seen #13307 and #12978.
The problem does not occur before v5.0.

[2021-03-03 13:20] lhughey commented on #7068
This is still an issue even now. I'm using XF 4.8 and XF5.0 and still having issues. The issue does not occur when using named colors, but happens with hex values and staticresources and dynamicresources

[2021-03-03 13:30] Kasrkin212 commented on #8462
Thank you very match. I spent one week for these two gestures and still not normal use. But youre code work. Where are you before? =)

[2021-03-03 14:09] DocCodeSharp commented on #13324
jsuarezruiz,

We are trying to get a dynamic assembly to debug without access to the main project.

In example:

We have a parent.apk that is can run on said device with project parent.

I have now created child.dll, this dll is injected using refection in the parent application.

Now in the project of child.dll I want to be able to hit F5 and debug the child.dll and it will send the custom dll to

[2021-03-03 14:21] giuseppenovielli commented on #13441
me too, when carouselView is recycled by listview, please merge PR!

[2021-03-03 14:37] Barshan-Mandal commented on #13248
please take it into consideration

[2021-03-03 14:38] Barshan-Mandal commented on #13222
please take it into consideration

[2021-03-03 14:43] Happypig375 commented on #8462
@Kasrkin212 This is not my code, it's from https://forums.xamarin.com/discussion/comment/365666/#Comment_365666

[2021-03-03 14:44] Shelbyabounds commented on #13588
bump

[2021-03-03 14:44] AlexanderMelchers commented on #9872
Similarly, I'm also getting zero `Thickness` when I query `myPage.On<Xamarin.Forms.PlatformConfiguration.iOS>().SafeAreaInsets()`.

[2021-03-03 15:03] melimion commented on #13895
@PureWeen
Crash reproduces after changing font size in OS settings and switching back to the app.

XF 4.8 works OK - no crash, app relaunched.
XF 5.0 crashes

[2021-03-03 15:19] zoli13 opened #13927 "[Bug] CollectionView incorrect scroll when Entry/DatePicker in its Header (iOS)"
### Description

When a CollectionView has an Entry or a DatePicker in its Header, and user click on them, the CollectionView crolls down, when DatePicker/Keyboard is opened. This creates a big empty area on the top.
I only tried on iOS/Simulator.

### Steps to Reproduce

1. Run the attached App on iOS Simulator. [App1.zip](https://github.com/xamarin/Xamarin.Forms/files/6076977/App1.zip)
2. Click

[2021-03-03 15:29] tstrickler4 opened #13928 "[Bug] [UWP] Memory Leak When Changing the ItemsSource on a CollectionView"
### Description

Changing the ItemsSource on a CollectionView in UWP doesn't free up resources, thus causing a memory leak. I've confirmed that the issue occurs in both Debug and Release modes on UWP. I haven't tested Android or iOS, but I've included Android and iOS projects for convenience.

### Steps to Reproduce

1. Build the included solution.
2. Use the two buttons at the bottom to switch be

[2021-03-03 15:57] tstrickler4 commented on #13928
I forgot to mention that this also appears to be a problem with ListViews.

[2021-03-03 16:09] Johanna-Victoria commented on #9033
I would like this bug to be prioritized. I have done non styling changes and get's the same issue in the latest version.

[2021-03-03 16:16] Siphonophora commented on #13759
@ebrodlic So, i don't think S is really a distinct product line. From what I recall it was just part of apple's Tic-Tock product cycle.

I did go ahead and factory reset this phone to a clean install of iOS 14.4. All I did before deploying the xamarin app was to sign into icloud. The app still crashed right after hitting the splash screen.

I'm hoping to borrow another device for more testing and

[2021-03-03 16:17] mcooper-bits commented on #13759
Having the same issue with a regular iPhone 6, app crashes immediately when starting.

[2021-03-03 16:48] xamiell commented on #8282
Thanks @jsuarezruiz!

[2021-03-03 16:58] ebrodlic commented on #13759
Does anyone have a mac and is able to get any OS logs when the crash happens?

Or if one has tips on collecting relevant info, I might be able to inspect the crash using my friends mac.

[2021-03-03 19:02] Welchen commented on #4731
Is there any update on this? We just ran into this and currently keeping us from writing tests.

[2021-03-03 20:51] jonathanantoine commented on #13895
@PureWeen @melimion I did some investigation and it appears it works fine with XF 5.0.0.2012 and FlyoutPage.

Now I am supsecting one of the latest Xamarin.AndroidX nuget package to be the culprit.
I am now upgrading them one by one to detect which one is causing the issue.

Here is my working AndroidX packages versions :

[code]

@melimion can you tell me if you have one in a higher version than

[2021-03-03 21:05] PureWeen commented on #13928
Closing for now as a duplicate of https://github.com/xamarin/Xamarin.Forms/issues/8928

[2021-03-03 21:05] #13928 closed

[2021-03-03 21:14] carbonsam opened #13929 "[Bug] Day "d" string formatter is not applied correctly"
### Description

When binding to a `DateTime` property using `StringFormat` to specify the [Day "d" custom format](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#day-d-format-specifier), the wrong format will be applied (`M/D/YYYY` instead of integer day).

### Steps to Reproduce

1. Bind to a `DateTime` property, using `StringFormat='{0:d}'`
[code]

[2021-03-03 21:24] PureWeen commented on #13924
@leandrofagundes what do you think about this approach?

https://github.com/xamarin/Xamarin.Forms/pull/8551

[2021-03-03 21:50] davidortinau opened #13930 "[Bug] Entry Background doesn't work to set color"
### Description

This doesn't work on UWP or Android, and probably also doesn't work on iOS.

[code]

### Expected Behavior

The color of the `Entry` background changes.

### Actual Behavior

Nothing.

### Basic Information

- Version with issue: 5.0.0.2012

### Screenshots

![image](https://user-images.githubusercontent.com/41873/109876844-e0b5fa00-7c37-11eb-96ce-4f782eacf67d.png)

![image](https

[2021-03-03 22:18] PureWeen commented on #13889
@Cfun1 not sure if we'll be able to fix this behavior on 5.0 but for now you could check to see if the view is still valid before applying the tint color

Here's an extension we use

[code]

would that work to avoid the exception now from the XCT side?

[2021-03-03 22:26] PureWeen commented on #13843
I wonder if this is related
https://github.com/xamarin/Xamarin.Forms/issues/13303

Can you attach reproduction of the issue?
If you just remove all AndroidX packages from your csproj file does that fix?

[2021-03-03 22:28] tstrickler4 commented on #13928
@PureWeen Are you sure this is a duplicate? That one mentions a memory leak as a result of navigating away from a page containing a CollectionView and the event not being unhooked, whereas the problem here is changing the ItemsSource while on the same page. No navigation necessary. If they share the same root cause, then it's fine. I just want to make sure it's not being closed prematurely.

[2021-03-03 22:54] PureWeen commented on #13834
@RubaShanmugamm this isn't really going to work because the cancel operation isn't async

Once you await display alert the execution returns to the caller which sees that cancel is set to false. If you wanted this to cancel using an await we'd have to allow for a task on the args or a cancellation token so that it handled async/cancellation

I've updated the title

[2021-03-03 22:56] PureWeen commented on #13826
@SeRgI1982 can you attach a reproduction please?

[2021-03-03 22:58] PureWeen commented on #13809
@SamuelLioult I think this is duplicate of the request here
https://github.com/xamarin/Xamarin.Forms/issues/11652

Which has some workarounds you can try

[2021-03-03 22:58] #13809 closed

[2021-03-03 22:58] sisaacks commented on #13843
@PureWeen update to the latest android files.....and try to navigate using the flyout with Android.

[2021-03-03 23:00] PureWeen commented on #13807
@Sigve84 can you attach a repro please?

Did you try logging an issue with SignalR?
https://github.com/SignalR/SignalR

[2021-03-03 23:02] PureWeen commented on #13759
@mauroa @emaf  ?

[2021-03-03 23:05] Cfun1 commented on #13889
@PureWeen thanks, we have already merged a temporary easy fix that avoids this bug (link in this issue workaround), consisting of simply catching the exception and just ignoring it, waiting for this bug to be fixed, then we could remove.
cc @pictos

[2021-03-03 23:08] krmWorkAccnt opened #13931 "tap gesture command and swipe action buttons in collection view are buggy"
### Description
Inside a collection view data template the swipe action buttons & tap gesture command on the item are incredibly buggy -- you may need to tap the item multiple times before the tap gesture recognizes the event, likewise pressing the swipe action button often just closes the swipe panel without invoking the button command.

I don't have time to build a test project as currently i se

[2021-03-03 23:16] PureWeen commented on #13929
@StephaneDelcroix  ?

[2021-03-03 23:18] PureWeen commented on #13931
@krmWorkAccnt can you please attach a reproduction?

[2021-03-04 00:09] PureWeen commented on #13915
@Cfun1 I think you need to specify the VSM on the swipeview and then use a named target to apply changes to the grid

https://devblogs.microsoft.com/xamarin/visual-state-manager/

[2021-03-04 00:14] PureWeen commented on #13299
Closing for now. The transparent issue is being tracked here https://github.com/xamarin/Xamarin.Forms/issues/13922

[2021-03-04 00:14] #13299 closed

[2021-03-04 00:15] dmariogatto commented on #13929
A single character is interpreted as a standard date and time format string, for "d" this is [Short Date](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings#ShortDate). To use a [single custom format specifier](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#UsingSingleSpecifiers) you need to prefix/suff

[2021-03-04 00:21] PureWeen commented on #13868
@alaskanrogue can you attach a reproduction please?

[2021-03-04 00:22] Cfun1 commented on #13915
@PureWeen thanks for pointing out the obvious 😬, vsm should be in the root element of the DataTemplate, I don't know how I missed this point at that moment.

[2021-03-04 00:22] #13915 closed

[2021-03-04 00:26] PureWeen commented on #13812
@xhh2yqm can you delete the following directory from your repository?

https://github.com/xhh2yqm/XamarinCollectionViewBug/tree/master/.vs/XamarinBugs/xs

[2021-03-04 00:27] #13802 closed

[2021-03-04 00:29] PureWeen commented on #13911
@ajtruckle can you attach a repro please?

[2021-03-04 00:36] pictos commented on #13889
@Cfun1 exceptions are expensive so I believe that will be good to replicate this extension class into XCT and use it before.

@PureWeen can expand the reason to not fix it on 5.0? Is it because will be a breaking change or because will demand a lot of time to fix + review? Asking because I can take a look at it next month if this can be merged on the 5.0 branch

[2021-03-04 02:06] LeoJHarris commented on #8041
Still a problem..

[2021-03-04 02:45] #13556 closed

[2021-03-04 02:47] Redth commented on #13324
@dellis1972 or @grendello  do you have any ideas on this one? ^

[2021-03-04 02:50] #13698 closed

[2021-03-04 02:54] Redth commented on #13601
Please, if you can give @jsuarezruiz  access to the repo and let us know here when you do, thanks.

[2021-03-04 02:56] Redth commented on #13642
Can you update to the latest version of forms and see if the issue is still there? There were changes to the material packages from Google that might be part of the issue here.

[2021-03-04 02:57] #13741 closed

[2021-03-04 03:01] mfeingol commented on #13601
@Redth, @jsuarezruiz: invite sent.

[2021-03-04 03:15] PureWeen commented on #13712
@kaysho this has been fixed on the latest release

[2021-03-04 03:15] #13712 closed

[2021-03-04 03:17] shawyunz commented on #13229
#13922

[2021-03-04 03:52] yusuf-setiawan opened #13932 "[Bug] Java.Interop.JavaLocationException: Exception of type 'Java.Interop.JavaLocationException' was thrown"
### Description
Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown.
java.lang.Error: Java callstack:
crc643f46942d9dd1fff9.PageRenderer.n_onDetachedFromWindow(Native Method)
crc643f46942d9dd1fff9.PageRenderer.onDetachedFromWindow(Unknown Source:0)
android.view.View.dispatchDetachedFromWindow View.java:19802
android.view.ViewGroup.dispatchDetachedFromWindow ViewGroup.java:3858
android.

[2021-03-04 05:31] ajtruckle commented on #13911
How can I share it? Too large to attach.

[2021-03-04 07:10] PrimoDev23 commented on #2751
Since this seems to never get fixed I am providing my solution for working around it here.
It's a custom picker that does exactly what the normal picker should do and it's working perfectly in our case.

`public class CustomPicker : Picker
    {
        public static readonly new BindableProperty ItemsSourceProperty = BindableProperty.Create("ItemsSource", typeof(string[]), typeof(CustomPicker), n

[2021-03-04 07:22] BretJohnson commented on #13463
This is likely this issue (for those who have access): https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1285298
@drasticactions fixed it in 16.10/8.10 and it's a candidate to fix in a 16.9/8.9 SR

[2021-03-04 07:38] jaisont07 opened #13933 "[Bug] Accessibility - voiceover not responding as expected in swipeviewitems - Xamarin.forms iOS"
### Description
The UI and commands are working fine both in iOS and android. But the accessibility Voice over is not working in iOS.. Also the talkback is working fine for both the swipeitems in Android.

### Steps to Reproduce

add a swipeview to a page and add two or more swipeitems into it. It behaves oddly with the accessibility turned on

### Expected Behavior
Once the voice over is turned o

[2021-03-04 07:54] KerosenoDev commented on #6681
Same issue.

[2021-03-04 07:54] grendello commented on #13324
I don't use debuggers and I'm not sure if sdb (the Mono software debugger) supports "lazy" breakpoints, but wouldn't it be enough to set the breakpoint at the call site to the child and then either step into the method?

[2021-03-04 08:05] jsuarezruiz commented on #13923
Could you share more information?, what Xamarin.Forms version are you using?, on what platform do you want this behavior?

[2021-03-04 08:19] ajtruckle commented on #13911
Try this @PureWeen :

https://www.dropbox.com/s/bn7q6pwr46p7oyr/TestTheme.zip?dl=0

It shows three buttons that should set the appearance and does nothing.

The only way to change the appearance on MacOS project is in the AppDelegate using the approach I mentioned in my initial posting. But, in theory, I should simply be able to do the same as the test project.

[2021-03-04 08:39] samir-dahal commented on #11993
Ok. I just had this problem a moment ago. I have a workaround for this one. What you have to do is. Set your mainpage without NavigationPage and for other pages to navigate, you have to set other pages as a navigation page. If startup is only your problem then it should work like a charm.

[2021-03-04 08:45] ajtruckle commented on #3598
It is not clear to me. Do I change to using this DataType for my ContentPage, knowing it will break all my bindings, or leave it as it is?

[2021-03-04 09:06] themronion commented on #13893
Probavly connected to #13700

[2021-03-04 09:07] ajtruckle commented on #3598
This helped:

https://devblogs.microsoft.com/xamarin/compiled-bindings-xamarin-forms/

[2021-03-04 09:09] MaxFmi commented on #13903
Thanks for your answer **PureWeen**.
That works in the sample but unfortunately not in our appliacation. I will try to adjust the sample so that it fits the real application scenario.

[2021-03-04 09:18] Elashi commented on #13165
Thank you @rachelkang
Nice hack (I did not try it though) but I think this would be a good hint for the developer to fix the problem.
I would rather wait for the fix.

[2021-03-04 10:19] dellis1972 commented on #13324
At this time, our debug experience is designed around the main application project, so this would be tricky to implement.
I'll have to have a think about how we might support this kind of scenario.

[2021-03-04 11:25] melimion commented on #13895
@jonathanantoine I have all packages updated to latest version.

Downgrading to versions that you specified fixed the problem.

[2021-03-04 11:25] GalaxiaGuy opened #13934 "[iOS] It is not possible to embed a transparent Page natively with a transparent background"
### Description

A page with `Page.BackgroundColor` equal to `Transparent` still has a white background if you embed that page in a native view on iOS.

### Steps to Reproduce

1. Create a page with transparent background.
2. Embed it in a view controller with a colored background.

### Expected Behavior

The colored background is seen.

### Actual Behavior

The background is whilte.

### Basic In

[2021-03-04 12:39] emaf commented on #13759
Hi all,
This is a problem with a change Apple made on the certificates used to sign the app, and we're working on a fix. Since this is a problem on Visual Studio it's being tracked on the Developer Community: https://developercommunity2.visualstudio.com/t/Xamarin-forms-application-deployed-with-/1338291.

[2021-03-04 12:49] ebrodlic commented on #13759
Thanks for chipping in! @emaf
Will keep an eye on the devcom thread.

[2021-03-04 13:14] alaskanrogue commented on #13868
@PureWeen Shane, I will try to produce one. It may take a few days.

[2021-03-04 13:16] ajtruckle opened #13935 "Colour of Entry placeholder text in light theme"
Not sure where to put this question.

I use no custom styles for drawing. It is all system rendered on my macOS.

Take this `Entry` element:

    <Entry
            x:Name="SelectedElderEntry"
            FontSize="Small"
            HorizontalOptions="FillAndExpand"
             IsReadOnly="True"
             Placeholder="Enter name"
             VerticalTextAlignment="Center" />

Initially there

[2021-03-04 13:25] jsuarezruiz commented on #13930
Do you have a repository with the example?. Have done a quick tests in 5.0 branch and cannot reproduce:
<img width="397" alt="Captura de pantalla 2021-03-04 a las 14 19 59" src="https://user-images.githubusercontent.com/6755973/109970479-677cdc80-7cf5-11eb-9b1e-bf37d4d2c8ae.png">
<img width="486" alt="Captura de pantalla 2021-03-04 a las 14 15 44" src="https://user-images.githubusercontent.com/675

[2021-03-04 13:57] sisaacks commented on #13917
@samhouts I guess not...that is IOS and mine is Android.

[2021-03-04 14:04] Siphonophora commented on #13759
@emaf Any idea of the scope, if its just older iphones on iOS 14.4 or all devices? Thanks!

[2021-03-04 14:09] ebrodlic commented on #13759
@Siphonophora think this is across all devices if it is related to app signing?
I have an XS which is not **that** old and suffer the same issue.
Then again, the MSFT representative tested with an X and it seemed to work fine, so not sure whats going on there

[2021-03-04 14:17] sisaacks commented on #13917
[WhiteTabFash.zip](https://github.com/xamarin/Xamarin.Forms/files/6084229/WhiteTabFash.zip)

[2021-03-04 15:02] zoli13 commented on #13927
For the main issue we have (_after closing DatePicker, the CollectionView does NOT even scroll back until user manually scrolls a bit with fingers. Looks like as a "force re-layout" is needed there?, but does not happen automatically._) , there is a workaround:

        private void DatePicker_Unfocused(object sender, Xamarin.Forms.FocusEventArgs e)
        {
            MyListView.ScrollTo(0);

[2021-03-04 15:37] carbonsam commented on #13929
Thanks for link @dmariogatto! Never knew that a prefix was required to use a single-character format specifier.

Confirmed that adding the `%` prefix works as expected. Not sure if this is still a bug, but it might be worth updating the documentation and code examples for [Xamarin Forms string formatting](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/data-binding/string-f

[2021-03-04 15:41] jgoyvaerts commented on #13022
This seems to be a "bug" in Android. See more info at https://stackoverflow.com/questions/52817245/timepickerdialog-onclick-on-button-positive-stopped-working-post-oreo , in the comments below the question someone mentions the cause and a workaround.

[2021-03-04 15:58] BenBtg opened #13936 "[Bug] HotReload not working for Shell Flyout Style or DataTemplate Changes"
### Description
Many changes to Shell Flyout Menu Styling and or DataTemplates require a rebuild and deploy for them to be reflected in the UI.
Have tried full page updates and changes only.

### Steps to Reproduce

1. Create a new shell app.
2. Build and deploy with HotReload enabled
3. Attempt to modify any property of the Shell.ItemTemplate e.g Background colour of the Layout
4. Save changes

#

[2021-03-04 16:11] #13759 closed

[2021-03-04 16:15] PureWeen commented on #13932
@yusuf-setiawan can you attach a small reproduction of your issue please?

[2021-03-04 16:20] PureWeen commented on #13891
@rayita can you please attach a small reproduction of this issue?

[2021-03-04 16:24] BenBtg opened #13937 "[Bug] Shell.FlyoutWidth value is not honoured"
### Description
Shell.FlyoutWidth value is not honoured if a single Flyout item comes directly from a ShellContent

### Steps to Reproduce

1. Create a Shell Template app
2. Set FlyoutWidth via BaseStyle
<Setter Property="Shell.FlyoutWidth" Value="64"/>
3. Launch app notice Width is honoured and resized as expected
4. Removed the explict FlyoutItem Wrapper of a single ShellContent so that it is im

[2021-03-04 16:47] PureWeen commented on #13892
@aperel66
https://docs.microsoft.com/en-us/visualstudio/ide/how-to-view-save-and-configure-build-log-files?view=vs-2019

A build log or a binlog file would be helpful

[2021-03-04 17:00] Cfun1 commented on #13936
I believe hotreload for Shell has been tackled in the latest VS preview version could you confirm it? At least I tried for the flyoutitemstemplate property.

[2021-03-04 17:13] Cfun1 commented on #11534
I am not sure but something feels abnormal with the arguments values returned by Scrolled event. When using and position of element Centered even without changing the orientation of the device.

[2021-03-04 18:01] PureWeen commented on #13936
@Cfun1 yea it's working alright with FlyoutITemsTemplate but there are definitely still a few quirks that need to be worked through.

I've hit a few that I need to break out into separate issues

[2021-03-04 18:04] #13463 closed

[2021-03-04 18:20] PureWeen commented on #13936
@drasticactions @StephaneDelcroix  FYI
I still need to debug these on the Shell side to see if Shell is doing something wrong but here are a few of the quirks I've noticed

- If you add a new `Shell.ItemTemplate` it doesn't update the existing items. Any new FlyoutItems added will have the new template but additional MenuItems won't
- Updating the Icon on FlyoutItems doesn't update but updating th

[2021-03-04 18:22] PureWeen commented on #13575
@anysomgorm can you attach a small repro of the issue please?

[2021-03-04 18:35] uzairali001 commented on #12209
This feature will be really useful in lot of situations, hopping to get it soon.

[2021-03-04 18:37] PureWeen commented on #13856
@karimi7514 I'm not sure what platform you're having issues with here. I tested your sample on iOS/Android and it seems like this issue is android only so I'm going to close this one as a duplicate for now

https://github.com/xamarin/Xamarin.Forms/issues/12052

[2021-03-04 18:37] #13856 closed

[2021-03-04 18:42] karimi7514 commented on #13856
There is a problem in Android

[2021-03-04 18:53] drasticactions opened #13938 "[Bug] [Android] Crash when emptying RefreshView during Hot Reload session, 'Unable to activate instance of type Xamarin.Forms.Platform.Android.Platform+DefaultRenderer from native handle'"
### Description

When

### Steps to Reproduce

1. Create a Page in Xamarin.Forms that includes a RefreshView element. For Example.
[code]
2. Start a new Debug session with Hot Reload - Changes Only enabled.
3. With this page, delete all of the inner content within the RefreshView, so the page looks like
[code]

### Expected Behavior
The RefreshView hot reloads and shows no new elements

### Actual

[2021-03-04 18:56] PureWeen commented on #13266
We only started automatically decoded strings in XF 5.0
Unfortunately the '+' symbol is kind of a unique case. So, prior to 5.0 the data would just come through unscathed

It's not really possible to accurately encode the parameters. What happens if the data has an "&" as part of the data? if we auto encoded then we would interpret that "&" as a separate piece of data

The docs should now be updat

[2021-03-04 18:56] #13266 closed

[2021-03-04 19:02] AlexanderMelchers commented on #9872
My bug seems to go back at least until Forms version 2.5.0.280555...

[2021-03-04 19:50] drasticactions commented on #13936
@PureWeen

For StyleClass, we got VS Feedback for it and are tracking that internally at https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1287027/
It's an issue in general with styles and styleclass's, not specific to Shell as far as I know.

For updating the FlyoutIcon, as far as I can tell, after changing the icon source it is properly being sent back up to the Icon Bindable Property with

[2021-03-04 20:50] emaf commented on #13759
Hi all, this is not related to the iOS or device version, it's related to the Apple certificates. If for whatever reason those get updated (i.e. because of automatic provisioning or you're provisioning a new environment) you'll start hitting this issue because the app won't be correctly signed.

[2021-03-04 21:05] brunonocetti commented on #8383
Any Update?

[2021-03-04 21:31] davidaramantSEP commented on #13420
Is there another bug currently open for this? We are still stuck on Xamarin Forms 4.8 because of these `TitleView` issues. @PureWeen

[2021-03-04 21:39] giuseppenovielli commented on #8383
?

[2021-03-04 23:47] jeremy-bridges opened #13939 "[Bug] Hot Restart failing with MismatchedApplicationIdentifierEntitlement error"
### Description

When debugging iOS apps directly to a 12.9 iPad Pro, I see the following error:

Stopping Apple Service 'com.apple.afc'...
Starting Apple Service 'com.apple.mobile.installation_proxy'...
CreatingStagingDirectory. Total progress: 5%
ExtractingPackage. Total progress: 15%
InspectingPackage. Total progress: 20%
TakingInstallLock. Total progress: 20%
PreflightingApplication. Total pro

[2021-03-05 04:38] singhwong opened #13940 "[Bug] ListView's Header and Footer property bindings are not working as expected on iOS 14+ ."
### Description
[Bug] ListView's Header and Footer property bindings are not working as expected on iOS 14+ .
### Steps to Reproduce

1. Download and run the example([TestListViewHeaderBindingSample.zip](https://github.com/xamarin/Xamarin.Forms/files/6088140/TestListViewHeaderBindingSample.zip)).
2. Click "Click Me" button.

### Expected Behavior
Header and Footer will show the corresponding chang

[2021-03-05 08:24] AlleSchonWeg opened #13941 "[Bug] WCF and Xamarin"
### Description
Hi.
I'm not sure if this is the correct place to report this issue. But i report it here. The problem is, that i can't use the WCF Nugets with XF. Here is the original issue: https://github.com/dotnet/wcf/issues/4542
@mconnew says that Xamarin replaces some WCF Nugets with inbox implementations. However adding WCF Nugets compiles but results in an exception when using this types.

[2021-03-05 08:32] kaanid commented on #9073
What's new about this issue?

[2021-03-05 08:37] Erdogan34 commented on #9073
No one doesn't fix it for a long time. I gave up to use the Shell in my project.

[2021-03-05 08:53] JasonixDev opened #13942 "[Bug] MTOUCH: Error MT2101: Can't resolve the reference 'System.Void System.Security.Cryptography.DSACng::.ctor(System.Security.Cryptography.CngKey)'"
MTOUCH: Error MT2101: Can't resolve the reference 'System.Void System.Security.Cryptography.DSACng::.ctor(System.Security.Cryptography.CngKey)', referenced from the method 'T Internal.Cryptography.Pal.Windows.PkcsPalWindows::GetPrivateKey(System.Security.Cryptography.X509Certificates.X509Certificate2,System.Boolean,System.Boolean)' in 'System.Security.Cryptography.Cng, Version=4.3.0.0, Culture=neu

[2021-03-05 09:42] ChristopherStephan commented on #13429
I am in doubt of the last known good version. I think it is 4.8.0.1687.

[2021-03-05 10:46] anysomgorm commented on #13575
I have added an example project here: https://github.com/anysomgorm/xamarin-webview-bug
The repo contains two solutions that are exactly the same except for the version of Xamarin Forms.

The solution in the "WebViewBug" folder runs version 4.8.0.1687 and works as expected.
The solution in the "WebViewBug" folder runs version 5.0.0.1874 and does NOT work as expected.

The app has a mainpage that r

[2021-03-05 12:35] GalaxiaGuy opened #13943 "[Bug] [iOS] Collection view cells with 0 item spacing in a grid layout has gaps, apparently due to rounding"
### Description

A `CollectionView` using a `GridItemsLayout` with a `Span` that is not a whole factor of the collection view's width, and has a `HorizontalItemSpacing` of `0` will still have a gap.

### Steps to Reproduce

1. Create a `CollectionView` with a `GridItemsLayout` with a `Span` of 3, `HoriztonalItemSpacing` of 0, and a width that is not a multiple of three (e.g full width of an iPod T

[2021-03-05 12:58] AswinPG commented on #10031
I am also facing the same issue but on navigating back from a hybrid webview - https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/custom-renderer/hybridwebview

System.ObjectDisposedException: 'Cannot access a disposed object.
Object name: 'Android.Webkit.WebView'.'

[2021-03-05 13:13] leandrofagundes commented on #13924
Thanks @PureWeen, it really works. I just think it could be a template on appshell.xaml.

[2021-03-05 13:13] #13924 closed

[2021-03-05 13:13] Jeanjean opened #13944 "[Enhancement] Allow setting AutomationId on DisplayAlert/DisplayActionSheet/DisplayPromptAsync"
## Summary
This feature has been since 2015 and was originally filed on Bugzilla [here](https://xamarin.github.io/bugzilla-archives/33/33133/bug.html) but was closed when the project was migrated to GitHub. As I believe all Elements should be accessible for automation in Xamarin.Forms I believe the request should be reopened here.

## API Changes
Add an addition overload for the DisplayAlert, Disp

[2021-03-05 13:51] AdrianoBinhara commented on #13268
Bind your list after the for statement. If you add itens to your list as you bind it to your collectionView the app is going to crash

[2021-03-05 13:56] PureWeen commented on #13942
@JasonixDev can you attach a reproduction of your issue please?

It sounds like you might have different versions of a nuget package added to different projects or you need to tweak the linker settings on iOS

https://docs.microsoft.com/en-us/xamarin/ios/deploy-test/linker?tabs=windows

[2021-03-05 14:04] JasonixDev commented on #13942
Today i updated my Visual Studio for Mac of the latest version. And now i get this errow when i want build the app of a device. Simulator works fine. Yesterday I had no problems. I change nothing, only VS update.

[2021-03-05 14:17] PureWeen commented on #13843
@sisaacks The templates on 16.9 all navigate fine for me. We also have lots of UI Tests that would fail if flyout navigation was completely broken. I also feel like we'd be seeing a lot more issues being logged if Shell flyout navigation was completely broken. If you can attach a repro that would be helpful

[2021-03-05 14:18] Chocopro713 opened #13945 "[Bug] DatePicker"
### Description
I found a bug in about dates in xamarin forms 5.0, it only happens on iOS devices

### Steps to Reproduce

1. Create a project in xamarin forms
2. inside the mainpage.xaml you create a DatePicker and put the date with a binding dateTime,
3. You create a ViewModel and create the dateTime property and add more than 1 day to it, in this case add 3
4. You connect the mainpage with the

[2021-03-05 14:19] PureWeen commented on #13895
Do you need to reference all those AndroidX packages? Can you just remove them all and just use what transiently comes in with XF?

[2021-03-05 14:26] PureWeen commented on #13797
@demoh2019 in your sample you are pushing a page onto the navigation stack. On iOS if you push a page on the navigation stack then swiping will just navigate you back. Swiping to open navigation only works when you are on the first page of the navigation stack

[2021-03-05 14:27] PureWeen commented on #13767
We probably will still need a reproduction to accurately fix this issue.

Pinging @StephaneDelcroix just in case something from your description is obvious

[2021-03-05 14:28] #13740 closed

[2021-03-05 14:29] Jeanjean commented on #13944
Please also consider the ability to automate any buttons inside the dialog/actionsheet to allow for dismissal.

[2021-03-05 14:34] PureWeen commented on #13040
Duplicate

https://github.com/xamarin/Xamarin.Forms/issues/2233
https://github.com/xamarin/Xamarin.Forms/issues/13920

[2021-03-05 14:38] #13468 closed

[2021-03-05 14:47] angelru commented on #7166
Any advance?

[2021-03-05 14:49] sisaacks commented on #13843
@PureWeen Well....what I can tell you is....if I clicked the flyout the app crashed.
When I reverted back the following files everything worked as it should.
It doesn't seem to me that I was the only person having issues

The files I updated that caused this issue were:

Xamarin.AndroidX.MediaRouter 1.2.1 -> 1.2.2.1
Xamarin.AndroidX.LeanBack 1.0.0.6 -> 1.0.0.7
Xamarin.AndroidX.Palette 1.0.0.6 -> 1

[2021-03-05 15:03] PureWeen commented on #13326
Yea line 107 on the WebView

[code]

You can't do that :-)

[2021-03-05 15:08] PureWeen commented on #13601
@mfeingol I'm guessing you have a shell app

Shell by default uses "sans-serif" for the text on the BottomNav
I don't have any historical context as to why it does or if that's correct though :-/

[2021-03-05 16:02] mdstevensjr commented on #13843
@PureWeen For us it was the Xamarin.AndroidX.AppCompat package that was causing this error.

Steps to reproduce.
1. Create a new project using the Mobile app (Xamarin.Forms) template.
2. Add the Xamarin.AndroidX.AppCompat v1.2.0.7 package.
3. Launch the app in an emulator.
4. Tap on the flyout, then tap on Browse.
5. Get the _Android.Content.Res.Resources+NotFoundException: 'Unable to find resourc

[2021-03-05 16:06] geskill opened #13946 "[Bug] Datepicker MinimumDate must be set after MaximumDate per mvvm"
### Description

Related to #5784 (last code changes)

Per mvvm `MinimumDate`, `MaximumDate` and `Date` is assigned with DateTime initial values.
[code]
In code behind:
[code]

Now we set any DateTime per mvvm to `MinimumDate` .
Because `MaximumDate` has the assigned initial DateTime value of zero, the ValidateMinimumDate function will return false and this will throw the exception.

[code]

Xamar

[2021-03-05 16:14] mfeingol commented on #13601
@PureWeen: interesting guess, but no, I'm not using shell. I'm using FlyoutPage because I need to use tabs in inner navigation pages.

[2021-03-05 16:22] paul-charlton opened #13947 "[Bug] iOS Shell PopAsync() causes null reference at RouteRequestBuilder"
### Description
On iOS (simulator and device) Using Shell I have navigated to 2 subsequent using GotoAsync().  If PopAsync() is then called a NullReferenceException is thrown (see below)

### Steps to Reproduce

1. Programmatically call GotoAsync()
2. From shown Child, then call GotoAsync() (from user input button for example)
3. From Next Child call PopAsync() (again using user input as trigger)

[2021-03-05 16:27] paul-charlton commented on #13947
Just discovered a workaround:
[code]

[2021-03-05 17:20] PureWeen commented on #13652
A lot of the Android image loading code isn't properly awaited which I'm guessing is causing this problem

As a current workaround you might look at delaying the page switch code or detecting pre-page push that you want to go somewhere else

[2021-03-05 17:28] jonathanantoine commented on #13895
@PureWeen yes, it's asked by the Android x migration tools and build failed if not added.

[2021-03-05 17:57] PureWeen commented on #13620
@DnyaneshWarade I downloaded your sample and then downgraded it to 4.8 but I'm still not seeing black indicators

One thing to note is that everything switched to AndroidX with 5.0 so for your TabLayout you'll need to specify a different type on the axml file

Can you try that locally and see if it works for you?

[code]

[2021-03-05 18:03] PureWeen commented on #13598
@sisaacks AFAICT this is fixed with the latest 2012 release of Forms

If you are still seeing this issue can you attach a project that reproduces the issue

[2021-03-05 18:03] #13598 closed

[2021-03-05 18:08] PureWeen commented on #13601
It looks like it's anything that uses bottom tabs

https://github.com/xamarin/Xamarin.Forms/blob/80a4dbfb1cd897f478c38d0aafa6a5d67940d2f3/Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewUtils.cs#L176

Shell and BottomTabs use the same implementation on android

[2021-03-05 18:10] PureWeen commented on #13353
Closing for now since we haven't heard from you. If you can respond to @rachelkang 's question we will re-open

[2021-03-05 18:10] #13353 closed

[2021-03-05 18:12] PureWeen commented on #13488
@Gokselyc if you update to 16.9 do you still see the same issue?

[2021-03-05 18:15] PureWeen commented on #13550
@Yortw unfortunately we probably won't be able to narrow this one down without a reproduction. You might try commenting out various parts of your app until it no longer freezes since you aren't able to reproduce this with a fresh app.

[2021-03-05 18:20] mfeingol commented on #13601
I'm using TabbedPage, for what it's worth. But using tabs at the top, not the bottom.

[2021-03-05 18:24] PureWeen commented on #11680
@BurkusCat did you log a bug with SyncFusion by chance? It might be a little bit tricky to debug this one since it's using a SyncFusion control

[2021-03-05 18:29] PureWeen commented on #13531
@omghb if you do your saving from the native `OnPause` life cycle do you notice that that works every time and never crashes?

[2021-03-05 18:36] PureWeen commented on #13450
@NazariiShkatulaAP I won't really be able to help you much on this one without a reproduction. Because the issue happens randomly it feels like there is a task somewhere in your app that's not being caught or is crashing on the Task Pool thread

Did you try updating your build from 17763 to the latest UWP SDK ?

[2021-03-05 18:40] PureWeen commented on #3240
Closing this issue for now. If you can attach a reproduction we can re-open

[2021-03-05 18:40] #3240 closed

[2021-03-05 18:41] chrisgull opened #13948 "[Bug] ListView ItemTemplate with Editor does not resize properly on iOS"
### Description

A ListView with HasUnevenRows and an ItemTemplate containing an Editor with AutoSize="TextChanges" does not properly resize when typing on iOS.
Behavior on Android and UWP is as expected.
Simplified XAML to reproduce:

`	<ListView HasUnevenRows="True">

		<ListView.ItemTemplate>

			<DataTemplate>

				<ViewCell>

					<Grid VerticalOptions="Center">

						<Grid.RowDefinitions>

[2021-03-05 18:58] rachelkang commented on #13448
Hi, @ChristopherMWood - thank you so much for your thorough response. I'm happy to hear that removing the padding has proven to be an effective workaround, although I agree it is not a sustainable solution in the long-term. As we work to improve accessibility for .NET MAUI, we will certainly be exploring this issue further. Please feel free to share your thoughts and ideas at https://github.com/do

[2021-03-05 19:09] ChristopherMWood commented on #13448
@rachelkang We have run into a random assortment of issues while developing for accessibility with font scaling but unfortunately most of them were not tracked as well as this one for the font scaling so I don't have detailed examples. If we run into them in the future I'll be sure to share them. And if I get the time I'll try to reproduce in Android, but I'm not sure when that will be with my cur

[2021-03-05 19:20] sawankumarbundelkhandi commented on #13943
I can confirm it's indeed a bug. For now, I have given HoriztonalItemSpacing as 1

[2021-03-05 19:22] rachelkang commented on #13448
@ChristopherMWood that's all very fair, and thanks so much! Excited to have introduced you to .NET MAUI and looking forward to seeing you on the other side! :)

[2021-03-05 19:39] davidaramantSEP opened #13949 "[Bug] Shell.TitleView broken in v5.0.0.2012 when using multiple Views"
### Description

This is a previous bug that has resurfaced: https://github.com/xamarin/Xamarin.Forms/issues/13420

It was fixed in 5.0.0.1931 but is broken against in 5.0.0.2012.

All information is in the discussion for the original bug.

[2021-03-05 19:39] davidaramantSEP commented on #13420
Opened a brand new bug that points back to this one: https://github.com/xamarin/Xamarin.Forms/issues/13949

[2021-03-05 21:06] AlaJaber97 commented on #1668
any progress on this?

[2021-03-05 21:16] alexeystrakh commented on #9724
Having the same issue and the same solution to upgrade the material package helps. For some reason, when you upgrade XF 4.x -> 5.0, the material package is not upgraded

[2021-03-05 21:22] maxkoshevoi opened #13950 "[Bug] GetRenderer() returns null while switching tabs on Shell"
### Description

Related bug: https://github.com/xamarin/XamarinCommunityToolkit/issues/959

For a short amount of time when switching tabs in Shell, `Platform.GetRenderer(page)` returns `null`.

Everything begin to work even after 50 ms delay.
![image](https://user-images.githubusercontent.com/6609929/108895518-5c062300-761c-11eb-8f45-2630c159ccbf.png)

### Steps to Reproduce

1. Create Shell app

[2021-03-05 21:43] PureWeen commented on #13947
@paul-charlton can you attach a small reproduction of your issue please? I'll need a bit more information about your routes before I can debug this

[2021-03-05 22:01] PureWeen commented on #13945
@Chocopro713 this has been fixed in version 2012

If you are still having issues there let me know and I'll reopen

[2021-03-05 22:01] #13945 closed

[2021-03-05 22:02] PureWeen commented on #13939
Duplicate https://github.com/xamarin/Xamarin.Forms/issues/13759

[2021-03-05 22:02] #13939 closed

[2021-03-05 22:04] BlueRaja commented on #13281
I can confirm animated gifs are still not working _at all_ in the latest Xamarin Forms.  Even a simple app that does nothing but display a gif shows it as a static image.

[2021-03-05 22:05] BlueRaja commented on #13629
I can confirm animated gifs are still not working _at all_ in the latest Xamarin Forms.  Even a simple app that does nothing but display a gif shows it as a static image.

[2021-03-05 22:26] Chocopro713 commented on #13945
@PureWeen I am practically making an application that has a lot of dates and I got that error with Xamarin Forms 5.0, I would not like to leave the application out of date, I have not found the solution to the error.

[2021-03-05 22:28] PureWeen commented on #13304
Apologies @dxt-rr but I'm just not seeing what you're seeing

I've tested a version with 1821 and for me it always swipes in the previous page and never opens the flyout
Can you attach a repro and possibly a video of the behavior?

[2021-03-05 22:38] PureWeen commented on #13948
I tested this one on CollectionView and it works there FYI

[2021-03-05 23:30] demoh2019 commented on #13797
@PureWeen Can swipe be made to work?

[2021-03-06 00:36] chrisgull commented on #13948
Interesting - I'll try CollectionView as a workaround. Thanks.

[2021-03-06 00:55] PureWeen commented on #13312
@CartBlanche I would say it's more of a quirk with how the native platforms decide to measure those native components. When sizing the ProgressBar for a horizontal layout we ask the native layer what size it wants to be and then use that to position the element. iOS is kind of weird how it sizes the ProgressBar. If you give it infinite space it'll just throw an exception.

I'd recommend using a Gr

[2021-03-06 03:14] BlueRaja commented on #9724
I'm having the same issue after upgrading from Xamarin Forms 4.5 --> 5.0, except updating all my NuGet packages didn't help. I don't have anything called "Material Package"...

[2021-03-06 03:56] chrisgull commented on #13948
Yep CollectionView looks like a good workaround (or perhaps the correct way to go).
Incidentally, for my specific app the change to CollectionView also resolved a focus/layout loop on Android, and changed the sequence of focus and tapped events on iOS to the better.

[2021-03-06 06:20] DnyaneshNuance commented on #13620
I tried this and it didn't work for me.
And not seeing black indicators is the problem that I think you are able to reproduce as mentioned in your comments.

[2021-03-06 10:57] Codelisk commented on #13930
Happens for me only with Visual Material Entrys

[2021-03-06 11:10] CoffeePerry commented on #13843
Hi!
This morning I ran into this error after updating **Xamarin.AndroidX.Biometric** from v**1.1.0** to v**1.1.0.1**.

Below is the list of further updates required to update **Xamarin.AndroidX.Biometric** from v**1.1.0** to v**1.1.0.1**:

[code]

The error (**Android.Content.Res.Resources+NotFoundException: 'Unable to find resource ID #0xffffffff'**) occurs during navigation (via: `await Shell.Cu

[2021-03-06 17:05] davidortinau commented on #13930
@jsuarezruiz I've added my sample zip to the original post. I've been noticing `Background` doesn't seem to work on UWP in other places.

[2021-03-06 17:54] BurkusCat commented on #11680
@PureWeen I have created a SyncFusion bug here: https://www.syncfusion.com/feedback/23086/sflistview-crashes-when-moving-from-xamarin-forms-4-8-xamarin-forms-5-0-uwp

The SyncFusion ticket should be public for comments if there are any questions/details you need to ask.

[2021-03-06 18:50] erlenddahl commented on #13895
I'm seeing this issue after upgrading to the latest packages as well. I upgraded both Xamarin.Forms and all the Xamarin.AndroidX packages, so I'm not sure which of them caused it.

[2021-03-06 19:35] dimonovdd commented on #13927
https://github.com/xamarin/Xamarin.Forms/issues/9879

These are related issues

[2021-03-06 20:14] kerberosargos commented on #5265
Same issue is for me too :(

[2021-03-06 21:31] dimonovdd commented on #9879
I think I have found the cause of this issue.
Opening and closing the keyboard on iOS handles [KeyboardInsetTracker](https://github.com/dimonovdd/Xamarin.Forms/blob/456b4002a72a7635ecf644b24ca082ae9cc8c7f5/Xamarin.Forms.Platform.iOS/Renderers/KeyboardInsetTracker.cs#L8) class that is used on [ListViewRenderer](https://github.com/dimonovdd/Xamarin.Forms/blob/456b4002a72a7635ecf644b24ca082ae9cc8c7f5

[2021-03-06 21:40] Cfun1 commented on #11341
I think this will be useful and even more practical in some cases than adding a VSM

Use Case: Whenever you have a color property defined in an implicit style using AppThemeBinding, but you are changing it from the code upon some logic, if the condition is not satisfied anymore you want to set it back to a `AppThemeBinding` settings.
[code]

[2021-03-06 22:31] cdytoby commented on #13217
Same issue here, and the solution which the author provided works.

It only happens on .NET Core version or .NET 5 version of WPF. .NET Framework WPF doesn't have this issue.

Also, I'm not sure if this is caused by Xamarin.Forms or not, because this issue appears as soon as WPF project is created without any modification.

[2021-03-07 02:00] smalgin commented on #3855
I am waiting on this for more than a year!

[2021-03-07 07:37] Qythyx commented on #13902
@PureWeen, I'll try to put together a repro, but I'm not sure when I'll have time to do that. Do you have a simple project using the above that works for you?

Also, I don't know if it is related, but for iOS I'm using Xamarin.Forms 5.0.0.1931. I can't upgrade to 5.0.0.2012 because of #13795.

[2021-03-07 07:49] meJevin commented on #12080
This is still an issue.

[2021-03-07 12:46] alraseen opened #13951 "Black screen showing for a while after splash screen"
### Description
after the splash screen showed, black screen shown for while and before the MainPage
### Steps to Reproduce
MainActivity.cs
`

    [Activity(Label = "Ages",  Icon = "@mipmap/icon", Theme = "@style/MainTheme",    ConfigurationChanges = ConfigChanges.ScreenSize | ConfigChanges.Orientation | ConfigChanges.UiMode |   ConfigChanges.ScreenLayout | ConfigChanges.SmallestScreenSize )]

[2021-03-07 12:54] alraseen commented on #13951
splash_screen.xml
`<?xml version="1.0" encoding="utf-8"?>`
   `<layer-list xmlns:android="http://schemas.android.com/apk/res/android" android:opacity="opaque">`
   ` <item>
    <color android:color="@color/splash_background"/>
  </item>`
`<item>
    <bitmap
        android:src="@drawable/logo"
        android:tileMode="disabled"
        android:gravity="center"/>
  </item>`
`</layer-list>`

[2021-03-07 13:35] cdytoby opened #13952 "[Bug] WPF: ListView with HasUnevenRows enabled doesn't update itself when Label in ViewCell wraps text."
### Description

ListView with HasUnevenRows enabled doesn't update itself when Label in ViewCell wraps text automatically.

There is similar report in other ticket: https://github.com/xamarin/Xamarin.Forms/issues/1326
That ticket seems fixed for Android or iOS (I haven't tested yet), but this exact issue happens in WPF.

- ViewCell has labels in it
- Label is LineBreakMode is WordWrap
- Label bin

[2021-03-07 20:10] decv86 opened #13953 "SwipeView - quick double swipe leaves a void"
https://disk.yandex.ru/i/nNsXa4CODxcuWQ

Hi!!! colleagues who faced such a problem?

[2021-03-07 20:36] velocitysystems commented on #11732
@rmarinho Although this is tagged as 4.7, I can confirm this affects the latest version of XF 5.

[2021-03-07 20:45] MuzzledLeader2 commented on #13759
Same issue for me.  Just paid the apple developer account subscription only to find that I can't get past the splash screen on Hot Restart.  iPhone 5s

Keeping an eye on this thread.  Thanks.

[2021-03-07 20:58] MuzzledLeader2 opened #13954 "Basic template fails in hot restart"
See comment:-

Hi all, this is not related to the iOS or device version, it's related to the Apple certificates. If for whatever reason those get updated (i.e. because of automatic provisioning or you're provisioning a new environment) you'll start hitting this issue because the app won't be correctly signed.

_Originally posted by @emaf in https://github.com/xamarin/Xamarin.Forms/issues/13759#iss

[2021-03-07 21:37] ajtruckle opened #13955 "Using Right To Left with ListView"
I set the culture in the `App` class:

            CultureInfo arabicCulture = new CultureInfo("ar-LB");
            CultureInfo.DefaultThreadCurrentCulture = arabicCulture;
            CultureInfo.DefaultThreadCurrentUICulture = arabicCulture;

And I add the `FlowDirection` property to the `ContentPage`:

Here is an example ListView on my window:

                <ListView
                    x:N

[2021-03-07 21:44] ajtruckle commented on #13955
In fact, I find that other controls on the widow still show left to right even though they are automatically set to MatchParent by the system for the flow. For example, placeholder text is showing on the left.

[2021-03-07 22:08] ajtruckle commented on #13955
I also saw [this](https://www.gitmemory.com/issue/xamarin/Xamarin.Forms/9684/618455819). No resolution.

[2021-03-07 22:14] ajtruckle commented on #13911
Were you able to reproduce?

[2021-03-07 22:15] ajtruckle commented on #13935
Will this be fixable?

[2021-03-07 23:20] DanwithArduino commented on #9724
Having this error after updating Visual Studio to 16.9.0. The issue is occurring on two different computers (why oh why did I update both computers at once without testing... :(

[code]

[2021-03-08 00:02] virsanna opened #13956 "[Bug] System.NotSupportedException: 'Unable to activate instance of type Xamarin.Forms.Platform.Android.FormsEditText from native handle 0xffce196c (key_handle 0xf8c2ea1).'"
This is a continuation from my case (the beginning was at the end of the discussion at #5894 ).
After the new release, the problem of #5894 disappeared for me (thanks again @kvpt ), and I moved the entry back to the TitleView. Now it's rendered smoothly, got focus, but

when I try to type the text (it's a search text entry within the TitleView), the app crashes (crash stacktrace below).

**Visual

[2021-03-08 03:18] DennisWelu commented on #11789
Can someone explain the relationship the [5.0.1 project](https://github.com/xamarin/Xamarin.Forms/projects/83) has to the 5.0.0 SR process? This fix has been Done for quite some time in the 5.0.1 project and hasn't made it to a SR that I'm aware. When is 5.0.1 targeted for?

[2021-03-08 05:02] DawidBester commented on #13258
Any workaround, or a time frame for a fix for this issue?

I've upgraded from XF 4.8 to 5.0.0.2012, and per this issue description, the OnAppearing event no longer fires after PopModalAsync on the iOS version of my app. Android works as expected.

[2021-03-08 05:47] DawidBester commented on #13258
I reran tests to see what needs to be done to ship my app, and will need to roll back to release 4.8.0.1821.

Tests done:
Downgrade from 5.0.0.2012 to 5.0.0.1874; app broken
Downgrade to 5.0.0.1558-pre3;  app works as expected
Upgrade to 5.0.0.1709-pre4; app broken
Downgrade to 4.8.0.1821; app works as expected

[2021-03-08 06:46] beeradmoore commented on #13258
@DawidBester , a workaround for now is if you don't set the BackgroundColor of the new page issue won't occur.

I went and swapped all references of BackgroundColor on my content pages with Background and I feel yuck for doing so. But at least my app works as expected now 🤷‍♂️

[2021-03-08 08:23] omghb commented on #13531
I see some issues in Telemetry (AppCenter.ms) when the App loads the persisted state (trying to load an empty json file). So I believed that this issue might be the cause of it.

Now, I'm using `OnPause` for saving the state. This solution might have reduced the reported telemetry issues but I still see some state persistence issues. The still occurring persistency issues might be another bug.

I'

[2021-03-08 09:43] jfjalburquerque opened #13957 "[Bug] XF requires .NETFramework >= v4.6.1. You have 'v4.5.1'"
### Description
After update Visual Studio 2019 to version 16.9.0 I cannot build my application.

It appears next error:
`XF004	XF requires .NETFramework >= v4.6.1. You have 'v4.5.1'`

I have tried to solve the issue doing:
- I have followed the steps in: https://forums.xamarin.com/discussion/131914/error-xf-requires-netframework-v4-7-you-have-v4-6-1  but it doesn't work for me.
- I have reload th

[2021-03-08 10:11] shivagurunatha opened #13958 "Div tag with inline Style in Label does not apply in Xamarin.Forms.iOS"
### Description
I have two labels[1. Default Label with TextType HTML, 2. CustomLabel customised for HTML content via iOS renderer] where both text has Html **p** tag and Html **div** tag with style. The **div** tag does not apply for both the Label with appropriate style[Border, Margin] which is given.

### Steps to Reproduce

1. Run the attached sample in iOS
2. Check the first label[Default lab

[2021-03-08 10:16] jeyakasipandi opened #13959 "[Bug] Xamarin Forms iOS UIView dragging not working when accessibility enabled"
When enable the accessibility voice over support then the UIView dragging support not working in XF iOS.

When drag the UIView not getting the touch points in override methods TouchesBegan and TouchesMoved.

[C#]

[code]

### Expected Behavior

When enable the accessibility voice over in iPhone device then drag the UIView. It need to drag.

### Actual Behavior

Enabled the accessibility voice over

[2021-03-08 10:32] DawidBester commented on #13258
@beeradmoore thanks!

I've tested and changing BackgroundColor to Background on the ContentPage works using 5.0.0.2012.

Now to go through the app and change all references. Definitely not ideal, but better than downgrading to 4.8.0.1821.

[2021-03-08 11:41] kdbhalala opened #13960 "[Bug] Swipeview in list cause problem in collectionview, bindable stack layout,listview in iOS"
###  Swipeview in list cause problem in the collectionview, bindable stacklayout, listview

### Steps to Reproduce

1. Put Swipeview in any listview like (collectionview, bindable stacklayout, listview)

2.swipe item

3. if open swipe then try swipe again & again

4. it moves ahead of original place

![Simulator Screen Shot - iPhone 12 mini - 2021-03-08 at 17 09 48](https://user-images.githubuserc

[2021-03-08 12:26] giuseppenovielli opened #13961 "[Bug] IndicatorView last item selected not showed"
### Description
When there are a lot of number of items, indicatorView's not show selected item!
See screenshot

### Steps to Reproduce

1. Run project example
2. Execute project into iOS 11, 12, 13(not tested) and Android all version
3. Work fine only into iOS 14
4. click next, until item selected disappear

### Expected Behavior
Item selected must be showed as work iOS 14

### Actual Behavior
It

[2021-03-08 12:51] joduss commented on #13942
I have the same problem. It was compiling fine, then I updated Visual Studio mac, which updated Xamarin.iOS. Now I cannot compile any more.
It is no an issue specific to Xamarin.Forms, since I'm not using Xamarin.Forms.

[2021-03-08 12:58] nikamvd commented on #9228
Does applying retry policy using transient-fault-handling library like Polly solves this as a work around as of now? I'm also facing same issue in my app. I see lots of warning messages accumulated on appcenter with stacktrace -

System.Threading.Tasks.TaskCanceledException: The operation was canceled. ---> System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'MobileAuthen

[2021-03-08 13:25] IncreaseComputers commented on #10690
+1 - any workaround or fix?

[2021-03-08 13:29] rodrigojuarez commented on #12080
@meJevin is this fixed?

[2021-03-08 13:46] GrmpyPmpkin commented on #10012
Hi, I was wondering if anyone has any ideas on how to get superscript to work on UWP.

[2021-03-08 14:08] JimmyKDev commented on #11907
I also have 5.0.0.2012 installed. Binding Stroke and Fill to properties is not working e.g. Fill={Binding ShapeFillColor}

[2021-03-08 14:10] rmarinho commented on #13941
Hi @AlleSchonWeg  this doesn't seem related with Xamarin.Forms .

[2021-03-08 14:22] rmarinho commented on #13946
Workaround will be set the BindingContext after initializing the DateTime properties. Does that work for you?

[2021-03-08 14:38] rmarinho commented on #13917
Hi @sisaacks  I m not able to check your video , I think it's related with encode. can you add as attachment here on Github comments ? or send another file?

thanks

[2021-03-08 14:44] rmarinho commented on #13794
Hello all, can someone please upload a small reproduction of this issue so we can investigate it further?!

thanks.

[2021-03-08 14:49] rmarinho commented on #13454
hi @meJevin can you upload a small sample of the code you are using on the asp.net backend and the iOS app. I think iOS only allows to call to real certs and not self signing certificates. But we will need a repro to try to understand what's happening.

Thanks.

[2021-03-08 14:52] meJevin commented on #12080
@rodrigojuarez, in my case, the fix was simple. I just had a race condition in my code, which I fixed and the crash went away.

[2021-03-08 14:53] meJevin commented on #12080
@rodrigojuarez, refer to https://github.com/xamarin/Xamarin.Forms/issues/12080#issuecomment-743656125

[2021-03-08 15:07] alaskanrogue commented on #13868
@PureWeen See attached zip. It contains two solutions. The one with the lower version is operational. The one with the higher version has the new NuGet's and demonstrates the issues, but because of the downsizing of the solution they are being shown as warnings about conflicts, so the app will not break.

One note: When debugging either, there will be an error related to this extension entry in th

[2021-03-08 15:09] sisaacks commented on #13917
@rmarinho well that did not work either, I dont know how to get you a video.  Its super simple to replicate on a Samsung device.  Create a shell flyout app.  Make your page and tab bar background black and then navigate...there is a white flash on the bottom tab bar.

[2021-03-08 15:21] mnxamdev commented on #6547
We're running into this issue as well. We've added compiled bindings to our project to improve performance on Android but now UWP won't compile. Any word on if/when this will get fixed?

[2021-03-08 15:44] geskill commented on #13946
Should I make a pr for the suggested solution?

[2021-03-08 15:44] KlaasTroost opened #13962 "[Bug] [a11y] Disabled button on iOS not accessible when the TabIndex property is used on one of the elements"
### Description
On most of our pages we have two buttons from which one is disabled because the user did not enter data in all the required fields for example.
When in VoiceOver mode  the a11y-tree does not contain the disabled button. This only occurs when you use the "TabIndex" property in one of the Elements. As soon as you delete all the TabIndex-properties the button is accessible.

### Steps

[2021-03-08 16:29] radioactiveman opened #13963 "[Bug] XAML resource keys cannot be extracted into string constants"
### Description
XAML keys for resources cannot be extracted into string constants. The same approach works however for example when specifying command parameters.

### Steps to Reproduce

1. Define a const string as resource key
2. Use it in a resource dictionary

[code]

[code]

### Expected Behavior
Code compiles and colors are correctly applied.

### Actual Behavior
Code does not compile. And i

[2021-03-08 16:34] radioactiveman commented on #13963
@StephaneDelcroix: Is this expected to work?

[2021-03-08 16:50] rmarinho commented on #13614
hi @Devaraj-Sekar  how should I run the sample ? when I click "Random Pick" it crashes .

can you also please upload the same sample but with Xamarin.Forms and explain what's the differences between them?

Thanks

[2021-03-08 16:51] AmrAlSayed0 commented on #13963
@radioactiveman I think x:Key is a compile-time property (like x:Name mapped to fields when applied to views) and it is not expected to resolve a MarkupExtension, but still Stephane knows XAML better, I might be wrong.

[2021-03-08 16:52] rmarinho commented on #13946
@geskill  Xamarin.Forms is on security and major fixes only so i don't think this fix will meet the bar. You can try to fix it on dotnet/maui

[2021-03-08 17:07] Siphonophora commented on #13759
@MuzzledLeader2 Its not really closed, they are tracking this on the visual studio developer forum. There is a link above.

[2021-03-08 17:45] AdamDiament commented on #9228
@nikamvd I am using polly and it doesn't stop this error, just defers it. The only surefire way I have found to get around this, is when I detect my app goes offline, I completely reset my http client factory provider, and instruct future instances of IHttpClientFactory to return httpclients with a new key. Then when it's back online the new instances of http client with the new key don't display

[2021-03-08 18:50] BurkusCat commented on #2562
Here is a reproduction project for a related set of issues that the Prism team believes are Xamarin.Forms issues: [TabRepro.zip](https://github.com/xamarin/Xamarin.Forms/files/6103490/TabRepro.zip). The full original ticket is here as to not clutter up this thread: https://github.com/PrismLibrary/Prism/issues/2362

If this is ever fixed, it is probably a good idea to ensure it resolves the issues

[2021-03-08 19:07] rmarinho commented on #13753
Hi @pablolop002  do you mind upload a reproduction? I have tried to reproduce on our gallery but wasn't able too.

![image](https://user-images.githubusercontent.com/1235097/110368827-750dcb80-8041-11eb-9060-fc4f834a5e20.png)

heres a little bit of our xaml

[code]

[2021-03-08 19:14] eddieyanez commented on #13795
I also have this problem. I was forced to update Xamarin Forms otherwise I can no longer use Hot Reload on the Mac.

[2021-03-08 19:28] rmarinho commented on #12867
Hi @rubiomiguel06  i tried to reproduce and frag and drop the cards a lot of times and i wasn't able to make it crash. Anything special ? tested Pixel 2 simulator API 29

[2021-03-08 19:30] MrtnSys commented on #13795
Use the workaround to add a specific margin to the right in your TitleView-Template Control.

from scratch.. See "OnPlatform iOS" and margin of 60 to the right. That will bring your buttons back. Remove the margin when Xamarin is fixed.

[code]

[2021-03-08 19:41] rmarinho commented on #13636
this seems similar to #9619

[2021-03-08 20:13] tonyfonager commented on #6920
I have the same issue on XF 5.0.0.2012

[2021-03-08 20:20] rmarinho commented on #13552
Thanks,  i can reproduce with this sample code:

[code]

[2021-03-08 20:43] norton287 opened #13964 "[Bug]Hamburger menu does not show up on FlyOutPage for iOS, works on the UWP and Android"
### Description
The hamburger menu does not show up on iOS, just the word Menu, the FlyOut works fine other than that.  How do I get the hamburger menu to show on iOS?

### Steps to Reproduce

1.  Create a static resource for a hamburger menu icon from a FontAwesome font
2.  Add FlyoutPage to app
3.  Launch on iOS and only the word shows up

### Expected Behavior

Should see the Hamburger Menu on

[2021-03-08 20:44] norton287 commented on #13964
[Views.zip](https://github.com/xamarin/Xamarin.Forms/files/6104024/Views.zip)
[debuglog.txt](https://github.com/xamarin/Xamarin.Forms/files/6104025/debuglog.txt)
![Screenshot 2021-03-08 144142](https://user-images.githubusercontent.com/42098364/110379692-c22b7680-801c-11eb-8614-fd0618e667dc.png)

[2021-03-08 21:14] yshteinm opened #13965 "Picker FillAndExpand doesn't size correctly on Android"
### Description

### Steps to Reproduce

1. Create Xamarin Forms app with the follow XAML on Content page
[code]

### Expected Behavior
Label and Picker divide space equally
### Actual Behavior
Label takes more space
### Basic Information

- Platform Target Frameworks:
- Android: 11.0 R

- NuGet Packages:
- Xamarin Forms 5.0.0.2012

Affected Devices:
Samsung SM-G960U1, Android 8 (API 26)

### Envi

[2021-03-09 01:09] AimedNuu commented on #13458
Getting these crashes with 5.0.0.2012 on both Android and iOS

[2021-03-09 02:34] #13931 closed

[2021-03-09 02:35] krmWorkAccnt commented on #13931
Issue closed

[2021-03-09 03:32] HuckleChuckleDog opened #13966 "[Bug] Swipe view bug when having a tap gesture recognizer associated to the swipe item"
### Description
There are a couple of different bugs here -- I have a test project set up https://github.com/HuckleChuckleDog/ColViewBug/tree/master with a ReadMe.txt explaining issue.

One issue: This issue is only for some Android Devices such as the Samsung Note 10+ and galaxy, it doesn't appear to be an issue on the Plus One. When setting up a swipe view, if the swipe content consists of a con

[2021-03-09 04:57] divikamath opened #13967 "Xamarin Forms ListView Property VerticalScrollBarVisibility="Always" does not work in Android and iOS"
<ListView
                HasUnevenRows="True"
                SelectionMode="None"
                SeparatorVisibility="None"
                VerticalScrollBarVisibility="Always">

When the VerticalScrollBarVisibility is set to "Never" the scroll bar hides. But when it's set to "Always" as expected it does not appear always. It only comes when the user taps on the list to scroll.

[2021-03-09 05:06] AndreasReitberger commented on #13510
@PureWeen
any news on this issue?
Thank you for your help!

[2021-03-09 07:30] juwens opened #13968 "[Enhancement] Docs: documentation for value precedence of BindableProperty"
## Summary
[WPF has this nice page with 11! rules for Value Precedence](https://docs.microsoft.com/en-us/dotnet/desktop/wpf/advanced/dependency-property-value-precedence?view=netframeworkdesktop-4.8#dependency-properties-might-be-set-in-multiple-places)

Xamarin lacks this documentation, and apparently it differs from WPF.

What I've found so far:

(In WPF "Local Value" overrides almost everything

[2021-03-09 07:39] IngweLand opened #13969 "[Bug] Linker issue with Xamarin.AndroidX.Core"
### Description

Got the exception when updating Xamarin.AndroidX.Core

[code]

### Steps to Reproduce

1. Build Xamarin.Forms Android project in Debug or Release configuration
2.
3.

### Expected Behavior

Should build

### Actual Behavior

Exception during build

### Basic Information

- Version with issue: 1.3.2.2 and 1.3.2.3 (latest at the moment)
- Last known good version: 1.3.2.1

### Enviro

[2021-03-09 07:41] tsjdev-apps opened #13970 "[Bug] Editor ignoring MinimumHeightRequest and AutoSize"
### Description

If you use an Editor and set `MinimumHeightRequest` and `AutoSize=TextChanges` is this ignored if you set `Visual=Material` to the editor.

### Steps to Reproduce

1. Open Sample: [EditorSample.zip](https://github.com/xamarin/Xamarin.Forms/files/6106674/EditorSample.zip)
2. Run App on Android, iOS or UWP

### Expected Behavior

If I specify a `MinimumHeightRequest` the control nee

[2021-03-09 08:02] servitola commented on #4037
Want to add:

I can note that it can be added anywhere in your code and without any 'if == never possible". I added it to my LinkerPleaseInclude.cs file which I got from MvvmCross (both platforms). It works and I can reproduce the bug without it.

[2021-03-09 08:14] rubiomiguel06 commented on #12867
Hi @rmarinho, thanks for giving it a try. I ask you the same I did to @jsuarezruiz : did you run the sample on Debug mode and with an internet connection? I haven't seen any activity log on the UXCam analytics.
I leave a video showing the crash I get.

The steps are:
1. Run the sample ([this](https://github.com/xamarin/Xamarin.Forms/issues/12867#issuecomment-757803415)) on Debug Mode.
2. Check the

[2021-03-09 08:18] ichijikuibo commented on #13458
I don't think they are going to see these comments I think I will open up a new one and copy the details.

[2021-03-09 08:33] meJevin commented on #13454
@rmarinho, we can close this issue. I bought a Mac and tested my application by building it in Visual Studio for Mac. Everything suddenly works.

[2021-03-09 08:33] #13454 closed

[2021-03-09 08:43] ichijikuibo opened #13972 "[Bug] CarouselView System.ArgumentOutOfRangeException when adding and removing at same time"
### Description
I opened issue #13458 a couple of months ago and it was marked as closed but it is still happening.
The issue is that when both adding a removing items without giving the CaroselView a chance to execute code on the main thread causes a crash.

### Steps to Reproduce

1. Add 2 items to a CarouselView's bound ObservableCollection
2. Move the CarouselView to the 2nd item (this updates

[2021-03-09 08:46] ChristianFrom commented on #13123
Same with iOS.

[2021-03-09 10:18] Vencode opened #13973 "[Bug][UWP] CarouselView displaying all the items of the Carousel instead of just the current one"
Description

CarouselView is displaying all the items of the Carousel instead of just the current one, this started to happen after I've updated from Xamarin.Forms 4.8.0.1821 to 5.0.0.2012

Steps to Reproduce

` <CarouselView
                x:Name="CarouselView"
                HorizontalOptions="StartAndExpand"
                IndicatorView="IndicatorView"
                WidthRequest="200"

[2021-03-09 11:07] pledi commented on #12037
This is still happening on Android. Why was it removed from the 5.0.0 Milestone?
Is there a workaround?

[2021-03-09 11:11] MuzzledLeader2 commented on #13954
Looks like Microsoft are doing a fix for this here:-

https://developercommunity2.visualstudio.com/t/Xamarin-forms-application-deployed-with-/1338291#T-N1361602

[2021-03-09 11:11] #13954 closed

[2021-03-09 11:18] nschoenberg commented on #8606
Hi, im on 5.0.0.2012 and facing this issue. I have a icon font that is mono spaced, having a bearing on left and right side. It is working fine on Android and iOS, but not on UWP and I don't know how to resolve it.

Screenshots for your reference:

This is the UWP Version, you can see that the mobile icon in the first row is not centered. All following rows showing the same icons with different im

[2021-03-09 11:19] vgdagpin opened #13974 "[Bug] Hot Reload not working when changing TargetFramework from 2.0 to 2.1"
### Description
Hot Reload not working when changing TargetFramework from 2.0 to 2.1

### Steps to Reproduce

1. Create xamarin.forms project
2. Change TargetFramework to 2.1
3. Run -> Hot reload not working anymore

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks: 2.0
  - Android: Latest
- Android Sup

[2021-03-09 11:27] rmarinho commented on #13487
hey @viktorchernev that link returns 404 for me

[2021-03-09 11:40] jtorvald commented on #9787
@hartez @PureWeen I think I have a solution for this issue but this is my first PR and not sure if I need to PR this to 5.0.0 or 4.8 branch. Also: it would be really helpful if a senior Xamarin Forms developer can review the request because it's a bit new to me and it's out of my comfort zone.

[2021-03-09 12:26] rmarinho commented on #13151
Hey @JohnGalt1717  but where would the Title go? can you post a screenshot of what you will expect please?!

Thanks

[2021-03-09 13:22] mauroa commented on #13759
Hi everyone, the issue has been fixed and will be available soon in the next VS 16.10 Preview and also in the next VS 16.9 Service Release. We've also closed the linked VS Feedback Ticket.
Thanks for your help.

[2021-03-09 13:36] JohnGalt1717 commented on #13151
@rmarinho  Just open any stock app from Microsoft in Windows 10.  There is one and only one bar across the very top that has everything in it and the navigation rail on the left goes all of the way to the top too.   I posted screen shots of the difference right in the first post on this of UWP versus what Xamarin does.  Xamarin puts a title bar below the windows bar that WPF etc. have.  The title

[2021-03-09 13:43] nikamvd commented on #9228
@AdamDiament Thank you very much for your valuable response. I understood your way of tackling the issue and highly appreciate sharing it with me. Could you please elaborate more on how you detect app going offline and back online again?

[2021-03-09 14:14] sisaacks commented on #13917
[WhiteFlicker.zip](https://github.com/xamarin/Xamarin.Forms/files/6109080/WhiteFlicker.zip)
trying a different recorder

[2021-03-09 15:59] rmarinho commented on #13280
Sorry but the iOS project is missing and the project that you provided also doesn't compile

[2021-03-09 16:08] rmarinho commented on #13917
Thanks @sisaacks i was able to see the issue happening in the last video.

[2021-03-09 16:39] bruzkovsky commented on #6580
For anyone coming here looking for a fix, I wrote an Effect for this:

https://gist.github.com/bruzkovsky/62a669e460c8bc9b7770767e8742d992

It also adds a "Done" button to the right to close the keyboard.

[2021-03-09 17:20] rmarinho commented on #13307
Can confirm it still fails on s 5.0.0.2012

[2021-03-09 17:37] pchandravadan commented on #3376
@kentcb @dmitrevski Any workarounds for this issue? thanks

[2021-03-09 17:50] johnshardman commented on #13970
MinimumHeightRequest (and MinimumWidthRequest) have never done what the majority of devs would expect. This was logged in Bugzilla long before this GitHub issues repository even existed. It was raised again in GitHub at https://github.com/xamarin/Xamarin.Forms/issues/2536

Unfortunately, heels were dug in very early regarding this, so it's been outstanding for years and workarounds have to be iden

[2021-03-09 18:01] rmarinho commented on #12567
Can confirm that still fails and is a regression from 4.8.0 to 5.0.0

[2021-03-09 18:06] rmarinho commented on #13411
Can you please upload a sample reproduction so we can investigate the issue better. Thanks

[2021-03-09 18:22] rmarinho commented on #13519
The proper fix would be add a ImageAspect for the `BackgroundImageSource`, because any change could be a breaking change for what we have now.

[2021-03-09 18:39] #13239 closed

[2021-03-09 19:09] vtkachen111 commented on #13411
@rmarinho The sample is there attached as CarouselScroll.zip

[2021-03-09 19:25] tsjdev-apps commented on #13970
I would be happy if I found a workaround at least for Android, because on iOS the MinimumHeightRequest is kind of working as expected.

[2021-03-09 21:03] aritchie opened #13975 "[Bug][Android] Could not load signature of AndroidX.RecyclerView.Widget.RecyclerView+LayoutManager:OnInitializeAccessibilityNodeInfo due to: Could not resolve type with token"
### Description
Xamarin Forms on Android 10 major target is crashing with

[] Could not load signature of AndroidX.RecyclerView.Widget.RecyclerView+LayoutManager:OnInitializeAccessibilityNodeInfo due to: Could not resolve type with token 0100004b from typeref (expected class 'AndroidX.Core.View.Accessibiity.AccessibilityNodeInfoCompat' in assembly 'Xamarin.AndroidX.Core, Version=1.0.0.0, Culture=n

[2021-03-09 22:23] vadd98 opened #13976 "[Bug] Can't set WidthRequest for Flyout in FlyoutPage on MacOS"
I'm using Xamarin Forms for MacOS and I'm working on a FlyoutPage. I want to set the Flyout Width to 150, but it remains fixed to 240.

### Steps to Reproduce

1. Create a FlyoutPage
2. Set a WidthRequest on the Flyout

### Expected Behavior

Flyout has to be resizable

### Actual Behavior

Flyout is not resizable.

### Basic Information

- Version with issue: Xamarin.Forms.5.0.0.2012
- Last known

[2021-03-09 22:53] Sasha111ua commented on #13203
`protected override void OnElementPropertyChanged(object sender, PropertyChangedEventArgs changedProperty)
        {
            base.OnElementPropertyChanged(sender, changedProperty);
            if (changedProperty.PropertyName == "IsVisible")
            {
                if (Element.IsVisible)
                {
                    Element.Layout(NativeView.Frame.ToRectangle());

[2021-03-09 23:11] Jcook65 commented on #13914
I'm having the same issue. Are there any ways to programmatically resize the icon to work around this for now? I'd like to not have to manually resize all my icons

[2021-03-10 00:10] shawyunz commented on #13922
And your "xamarin.google.android.material" version plz?

My working package versions:
- Xamarin.Forms v5.0.0.1931
- Xamarin.Forms.Visual.Material v1791-pre5
- Xamarin.Google.Android.Material v1.0.0.1

[2021-03-10 00:17] carbonete commented on #3528
I have same issue with 5.0.0.1931  .

This still in To Do ?

[2021-03-10 01:07] rdelangelhmx opened #13977 "[Bug] ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView API on Xamarin Forms 5."
### Description
I have an application with Xamarin Forms 4.8
I converted it to 5.0.0.2012, I don't have any access to the WebView,
however Apple rejects the application

Mobile App
  <PropertyGroup>
    <TargetFramework>netstandard2.1</TargetFramework>
... more settings ...
  </PropertyGroup>

 <ItemGroup>
    <PackageReference Include="Autofac" Version="6.1.0" />
    <PackageReference Include="Me

[2021-03-10 03:10] BaculisBirota commented on #13922
No install package xamarin.google.android.material

Name | Version | Project
-|-|-
Plugin.Permissions | {6.0.1} | PCL
Xamarin.Essentials | {1.5.3.2} | PCL
NETStandard.Library | {2.0.3} | PCL
Xamarin.Forms.Visual.Material | {5.0.0.2012} | PCL
Xamarin.Forms | {5.0.0.2012} | PCL
Plugin.Permissions | {6.0.1} | Android
Xamarin.Forms | {5.0.0.2012} | Android
Xamarin.Essentials | {1.5.3.2} | Android
Xama

[2021-03-10 04:52] Sakthivel-sync commented on #12783
Any update on this?

[2021-03-10 05:04] AndreasReitberger commented on #13977
@rdelangelhmx
try this fix:
https://devblogs.microsoft.com/xamarin/uiwebview-deprecation-xamarin-forms/

[2021-03-10 05:05] SathishManoj opened #13978 "Div tag with inline Style in Label does not apply in Xamarin.Forms.iOS"
### Description

I have two labels[1. Default Label with TextType HTML, 2. CustomLabel customised for HTML content via iOS renderer] where both text has Html p tag and Html div tag with style. The div tag does not apply for both the Label with appropriate style[Border, Margin] which is given.

### Steps to Reproduce

1. Run the attached sample in iOS
2. Check the first label[Default label] and Sec

[2021-03-10 05:08] #13958 closed

[2021-03-10 05:09] shivagurunatha commented on #13958
Duplicate

[2021-03-10 07:29] jaisont07 opened #13979 "Accessibility for Entry/Editor changes in android"
## Summary
Accessibility for entry and editor change in android

e.g.

Accessibility for entry and editor replaces the automationproperties.name / helptext and reads only the entered value once it is entered in Android. In iOS it reads out the automationproperties.name along with the entered value. It would be great to have this feature in android as well.

    <Entry AutomationProperties.Name="Pl

[2021-03-10 08:01] carrollcai commented on #12893
someone resolved this?

[2021-03-10 08:45] giuseppenovielli commented on #8383
@samhouts @hartez @jsuarezruiz @Redth This issue is Hight Impact!
If i want grouped CollectionView and Infinite Scrool, i can't use CollectionView!

Please provide a fix!

Thanks!

[2021-03-10 09:42] juanlao commented on #10014
As work around, it seems that running the scrollto in the UIThread solve the issue ^_^

[2021-03-10 10:23] rysbilinski commented on #13477
hi guys. @PureWeen noticed this has been moved to to-do. Is there any timeline on this or a workaround?

I am trying to migrate to shell and this has left me completely stumped with title views (amongst other things). For modal, we have these three issues stated, for tabbed pages we have the issue that the view is not correctly aligned.

[2021-03-10 11:07] kramer-e commented on #8383
The workaround shared by RSchipper above works, so you can implement that to use infinite scrolling on iOS. I'm sure that the Xamarin team will implement a fix shortly.

[2021-03-10 12:47] MrWolfPST commented on #13957
VS 16.9.1 don't resolve the issue

[2021-03-10 12:48] johnshardman commented on #13979
Android does read the AutomationProperties.Name as well as the value (I've just tested it on an Editor to double-check). I suspect that the Verbosity settings in the Talkback settings on your Android device need adjusting if you are using a recent version of Android. Older versions of Android may behave differently.

Note also that AutomationProperties.Name isn't really intended for giving prompts

[2021-03-10 14:10] edconsi commented on #6523
han podido solucionar esto?

[2021-03-10 14:21] ivosnoza opened #13980 "[Bug] [UWP] ListView using DataTemplateSelector references old items when they are recreated"
### Description
Having ListView component with items defined through DataTemplateSelector in it works well until you try to recreate those items. After that, you their order is wrong and when you have binded TapGestureRecognizer, you can see that it is returning previously created instances instead of new ones.

I can see this issue only on UWP platform. Android and iOS work well. This happened af

[2021-03-10 16:00] SuNNjek opened #13981 "[Bug] [UWP] CollectionView with header and footer displays only white page until resize"
### Description
When a page has a horizontal CollectionView with a header and a footer the entire page content is white until the window gets resized. I tried this with a couple of Xamarin.Forms versions and this only seems to happen on versions >=5.0
Might be related to #11732, but my issue only starts appearing on 5.0, 4.8 works as expected.

### Steps to Reproduce

1. Run the attached project o

[2021-03-10 16:24] AndreasReitberger commented on #13949
@PureWeen
Is there a workaround for this issue? This is the only thing keeping me from releasing my next app update.
Thank you!

[2021-03-10 16:34] davidaramantSEP commented on #13949
Unfortunately I don't think there is a workaround. I have fought with negative margin hacks but they don't seem to work reliably anymore.  I tried using toolbar items instead but they crash due to a different bug.

_Maybe_ you can get around it with a custom renderer, but that felt too heavyweight for a bug workaround for us to explore right now.

[2021-03-10 17:00] Axemasta opened #13982 "[Bug] WebView GoBack Does Not Work Correctly For Local Pages On iOS"
### Description

The `WebView` does not appear to correctly acknowledge local html pages with the `GoBack()` function.

I have observed 2 scenarios:

1. `WebView` is loaded with a local page (perhaps a welcome). Once the user has browsed away from this page they cannot get back to it by calling `GoBack`
2. If a local page is presented to the user during use of the `WebView`, for example a block pa

[2021-03-10 17:04] rdelangelhmx commented on #13977
@AndreasReitberger  I made the changes you suggest in the link
however Apple continues to reject the application
![image](https://user-images.githubusercontent.com/7826501/110667822-40f4f080-8190-11eb-8754-f7dd69eb9cd4.png)
![image](https://user-images.githubusercontent.com/7826501/110667904-58cc7480-8190-11eb-9365-df1ee6632f0b.png)

[2021-03-10 17:43] OscarHMG commented on #8383
@RSchipper Could you share a repo with the workaround to fix the Infinite scrolling in Xamarin IOS. In android, I have no issues with this feature but in IOS, doesnt perform the infinite scroll

Thanks in advance.

[2021-03-10 18:15] Cr15Denis opened #13983 "[Bug] [IOS 12] - Collectionview, I disable the NoBounce effect with a Renderer, but the scroll hides the first item or and the last item."
I am doing something wrong in the custom renderer. You can see in the video that there are times when the scroll has a stop.

https://user-images.githubusercontent.com/70722700/110676663-d21c9500-8199-11eb-932f-358abde59245.mp4

![Nobounce](https://user-images.githubusercontent.com/70722700/110676867-160f9a00-819a-11eb-92b1-c69d976016f1.PNG)

[2021-03-10 18:17] Suryask0 opened #13984 "[Bug] [Xamarin.Mac] RadioButton in detail page of master detail page : IsChecked not binding on launch, Multiple selection"
### Description
In XF 5.0.0.2012, On the detail page of a master detail page,

- multiple radio buttons can be selected.
- radio button is not checked on navigating to the page even when the IsChecked property is set true.

### Steps to Reproduce

1. Create a Master-detail page for Xamarin Forms app from the default template available on visual studio.
2. Add a Mac project to it.
3. Add few radio

[2021-03-10 20:18] PureWeen commented on #13962
@KlaasTroost unfortunately the TabIndex/TabStop implementation for Xamarin.Forms isn't really useable and we probably won't be able to do much to fix it for XF 5

We're looking at including some controls into the Xamarin Community Toolkit that will work for users on XF 5 and then .NET MAUI will have a much better experience.

We're testing out some ideas here
https://github.com/PureWeen/A11yTools

[2021-03-10 21:01] RamyaS465 opened #13985 "[Bug] Xamarin Forms iOS View touch points not getting properly when accessibility voice over enabled in iPhone"
### Description

 Xamarin Forms iOS View touch points not getting properly when accessibility voice over enabled in iPhone

### Steps to Reproduce

1.  Touch the view before enabling the accessibility in iPhone.
2.  Then touch the view after enabling the accessibility in iPhone.
3. Check the difference of the points.

### Expected Behavior

Need to get the same touch points before enabled the acce

[2021-03-10 21:27] maxbrister commented on #12884
@hupo376787 can you provide a heap dump of your application when it is crashed? You can generate one in VS using `Debug -> Save Dump As...`.

[2021-03-10 22:44] haavamoa commented on #12672
I am experiencing the same issue with a couple of other paths I have tried with. It always fails for iOS.

Here is one of them
"M11,15L13,15 13,17 11,17 11,15 M11,7L13,7 13,13 11,13 11,7 M12,2C6.47,2,2,6.5,2,12A10,10,0,0,0,12,22A10,10,0,0,0,22,12A10,10,0,0,0,12,2 M12,20A8,8,0,0,1,4,12A8,8,0,0,1,12,4A8,8,0,0,1,20,12A8,8,0,0,1,12,20z" :disappointed:

[2021-03-10 23:12] DamienDoumer commented on #6707
Version 5.0.2012, I still have this issue

[2021-03-11 02:39] demoh2019 commented on #8303
Any update

[2021-03-11 04:15] xhh2yqm commented on #13812
hi @PureWeen
i have removed the directory

Thanks

[2021-03-11 05:04] jaisont07 commented on #13979
Yeah.. sorry for that. I have got the expected result in newer version of Android.
The error I got was in Android 7.

[2021-03-11 06:00] JogyBlack commented on #13688
The workaround I found for me was to add the font in the UWP project - the old way, before embedded fonts were introduced.
Check the sample project I attached - the icon that comes from the UWP resource works, while the other one does not.

[2021-03-11 06:47] MagicAndre1981 commented on #13974
wait for [VS16.10, which has a fix for it](https://github.com/xamarin/Xamarin.Forms/issues/13463#issuecomment-790383795)

[2021-03-11 08:16] rmarinho commented on #13317
Hey @CartBlanche  does it work if you use a Grid instead of a StackLayout?

[2021-03-11 09:53] TalalYousif opened #13989 "[Bug] async call runs on UI thread even with the presence of await"
### Description
In my view model I have an async method:
[code]
inside of DataService, I have

[code]
InitializeAsync is called by navigation service:

[code]

And navigation starts from a command:

[code]

I'm using Task.Delay(2000).GetAwaiter().GetResult(); instead of await Task.Delay(2000); because of [this](https://github.com/xamarin/xamarin-android/issues/1472#issuecomment-401940702) issue.

[2021-03-11 10:23] Cload opened #13990 "[Bug] Reading a DataTable containing dates with timezones produces unpredictable results"
### Description

### Steps to Reproduce

1. Create a new Xamarin.Forms project using Visual Studio 2019, update Xamarin.Forms to version 5.0.0.2012
2. Create a new console application for .NET Core
3. Create a new .NET Standard library project, and include the library in both the console application and the Xamarin.Forms project.

Suppose we have a datable which looks like this:
[code]

We also ha

[2021-03-11 10:37] #13990 closed

[2021-03-11 11:12] angelru opened #13991 "[Bug] CaoruselView - Call setLayoutManager"
`[RecyclerView] Cannot scroll to position a LayoutManager set. Call setLayoutManager with a non-null argument.`

Android 9

[2021-03-11 11:54] carbonete commented on #13957
I Have this issue when try to publish my UWP project using Windows Application Packaging Project.
UWP project build normally.

It's urgent i can't generate installer for my app.

thanks

[2021-03-11 12:00] carbonete commented on #13957
Complementing I try 16.9.1 and have the same problem.

[2021-03-11 12:08] Shivagurunath commented on #13978
Hi Team,
Am also facing the same issue, is there any workaround for it?...

[2021-03-11 12:24] sjavashev opened #13992 "Using "CachingStrategy=RecycleElement" for ListView results in continuous memory allocation on Android app"
Using a XAML ListView Xamarin Forms control with binded "ItemsSource" to a constant array of string, result in continuous memory allocation, when the ListView has its "CachingStrategy" set to "RecycleElement" or "RecycleElementAndDataTemplate"

Code to reproduce is below. It is based on a newly created blank Xamarin Forms app with VS 16.9.1, targeting only Android.

The following picture shows the

[2021-03-11 12:55] nicoriff commented on #13337
Hi. Same problem here with latest release of Xamarin Forms. Any news on when this will be shipped?.

[2021-03-11 14:13] angelru opened #13993 "[Bug] Shell GoBack many times"
When I navigate to two pages and press the back button many times, the application does a strange thing.

I have created a Tab Shell project and the only modification I have made is this, so that it navigates twice:

 // This will push the ItemDetailPage onto the navigation stack
[code]

In the video I press the back button normally and everything is fine, but the second time I do it fast and this

[2021-03-11 14:46] bpaquin commented on #11421
Is there a fix for the transparent color on ios? I'm still seeing the grey background when a set the "selected" color to transparent.

[2021-03-11 15:04] LucaZiegler commented on #11662
Thanks @StephaneDelcroix, Visual Studio grumbles but this is working when I use BindingBase!

![image](https://user-images.githubusercontent.com/36471502/110807506-67e01f00-8283-11eb-9866-a645ad944657.png)

[code]

[2021-03-11 15:10] EmanterolaDN commented on #13957
same issue over here...

[2021-03-11 16:47] qq1688 opened #13994 "[Bug] Got SSL error in Android 10 device when get the token"
Hi,

I have a WMS app, i need to get the token to call the ERP api, everything works fine, but when i use a device with Android 10 to run my app i got an error "_One or more errors occurred. (The SSL connection could not be established, see inner exception.)_"

Just now, i upgraded the XF version to the newest one 5.0.0.2012, but still got the same error...

I used Microsoft.IdentityModel.Clients.

[2021-03-11 17:14] xleon commented on #10077
I spent about 3 hours today with this issue until I found out myself about the padding thing.
In my case it only happens with low resolution devices. Specifically on iPhone SE 1st generation simulator.
@PureWeen please try with that simulator.

My workaround was to wrap the label in `<ContentView Padding="[padding]">`

[2021-03-11 17:41] rdelangelhmx commented on #13977
I even did two runs with the "grep" to identify the "WebView" and the "UIWebView"
These are the results:
![image](https://user-images.githubusercontent.com/7826501/110830179-897adf80-825e-11eb-8477-e07e2f9fa1ea.png)
![image](https://user-images.githubusercontent.com/7826501/110830241-9f88a000-825e-11eb-8136-89caadd0b24f.png)

[2021-03-11 18:36] arunrajrgithub commented on #10541
I know it is a old thread.  But I had this issue and finally solved it after months.  I am testing it on iPhone XR.
Basically, the listview was not taking up the entire screen when i open the screen when the device is flat. I think it is pretty cool that someone noticed that the issue was the device being flat.  I just thought it was random.

Here is the fix.  I am almost sure it should work for e

[2021-03-11 18:37] MicaNareia commented on #8467
any updates?

[2021-03-11 19:14] justadaniel opened #13995 "[Enhancement] iOS Modal "swipe-to-dismiss" enable/disable boolean"
## Summary
Enables/Disables *swipe-to-dismiss* modal on iOS 13 or higher devices. Could open the door for a possible Android port for feature parity.

## API Changes

Need to add property `self.ModalInPresentation = true/false;` in the iOS PageRenderer under `ViewDidLoad` method as well as being able to toggle it using the `On<iOS>().SetModalInPresentation(bool)` method while the modal is open.

e

[2021-03-11 19:35] AlleSchonWeg commented on #10077
This could be the same problem: https://github.com/xamarin/Xamarin.Forms/issues/12710

[2021-03-11 19:36] AlleSchonWeg commented on #13378
@jsuarezruiz
Could you merge this into SR 4?

[2021-03-11 19:37] AlleSchonWeg commented on #13100
@jsuarezruiz
Could you merge this into SR 4?

[2021-03-11 19:54] arunrajrgithub commented on #10541
`
<ContentPage>
    <StackLayout>
       <ListView>
       </ListView>
   </StackLayout>
</ContentPage>
`

[2021-03-11 20:29] AmrAlSayed0 commented on #13989
[Tasks Are Not Threads](https://web.archive.org/web/20201111170411/https://www.wintellect.com/tasks-are-still-not-threads-and-async-is-not-parallel/)

[2021-03-11 21:10] stesvis opened #13996 "[BUG] [iOS] CollectionView shows blank content"
I have a CollectionView that looks like this:

[code]

The CollectionView shows blank, not content at all.
To double check, I am also loading `Categories` in a `BindableLayout` and it displays correctly (read below).

[code]

### Here's a sample:
https://github.com/stesvis/CollectionViewSample

#### Steps
There is a catch tho. If you run the app, initially both the CollectionView and the BindableL

[2021-03-11 22:43] rdelangelhmx commented on #13977
I remove the HockeyApp SDK from my application and the problem has been resolved.

[2021-03-11 22:43] #13977 closed

[2021-03-11 22:49] sact1909 commented on #6554
Something new with this issue?

[2021-03-12 01:14] transis2 opened #13997 "[Bug] Is this Xamarin 5 Version abandoned?"
I've seen no activity from devs to answer or pull request to fix any problem here for weeks.

We should wait for MAUI to continue reporting issues or this forum will continue to live?

@davidortinau could you help us?

[2021-03-12 02:23] shawyunz commented on #13964
I think the reason is that on iOS, Navigation Drawers are not a native design pattern.

One workaround for MasterDetailPage could be: Add an icon in your MasterPage.
[code]

[2021-03-12 04:03] PaulAnderson02 opened #13998 "[Bug] error : Internal compiler error: Object reference not set to an instance of an object"
### Description
Getting the below error when running the Xamarin.Forms UWP application in release mode.

C:\Users\xxx\.nuget\packages\microsoft.net.native.compiler\2.0.6\tools\Microsoft.NetNative.targets(731,5): error : Internal compiler error: Object reference not set to an instance of an object.

### Basic Information

- Version with issue: Visual Studio 2019 16.8 [msbuild version '16.8.3.61104'

[2021-03-12 04:11] hupo376787 commented on #12884
Hi, @maxbrister I met this twice today, and the dump file is in https://github.com/hupo376787/System.ExecutionEngineException/releases/download/1.0/test.zip.
Thx.

[2021-03-12 06:43] sanpas commented on #4555
Any progress on this recommendation? Any workaround ?

[2021-03-12 06:53] jaisont07 opened #13999 "[Bug] Shell BackButtonBehaviour AutomationProperties aren't functioning as expected."
### Description
Not able to customise the accessibility texts in shell backbutton. I need to change the back button to another image. So it  is added in the  iconoverride property.
And added automationproperties.name, helptext.. but the talk back responded as **"OK button"** in android and the image name in iOS.
Once text override is added, it will talk back that text in android.
But in ios, it is

[2021-03-12 06:57] sanpas commented on #4555
Exact same situation here. Did you find a solution?

[2021-03-12 07:02] jaisont07 commented on #13999
<Shell.BackButtonBehavior>
        <BackButtonBehavior
            AutomationProperties.Name="Back"
            AutomationProperties.IsInAccessibleTree="True"
            TextOverride="Back"
            Command="{Binding BackCommand}"
            IconOverride="back_arrow.png" />
    </Shell.BackButtonBehavior>

[2021-03-12 09:32] ekjuanrejon commented on #13752
I am having the same issue... I am trying to do this in code... but it does not seem to be working

[2021-03-12 09:35] xshiiiidev commented on #13752
@ekjuanrejon

I think they have confirmed this bug and is doing a fix here [5.0.0 SR 4 (Planning)](https://github.com/xamarin/Xamarin.Forms/projects/86#card-55210289)

[2021-03-12 09:56] gklappe commented on #10865
It seems that as of version 5.0.0.2012 this problem still exists? Whenever I try to remove an item from the carouselview on android I get the argument out of range exception.

[2021-03-12 10:09] ekjuanrejon commented on #13752
@xshiiiidev  Thanks

I am trying to do the following: since i am dynamically creating the RadioButton
[code]

[2021-03-12 10:12] xshiiiidev commented on #13752
@ekjuanrejon

What you can try is to dynamically create individual RadioButton and assign individual values to each of them instead of RadioButtonGroup.

[2021-03-12 10:26] ekjuanrejon commented on #13752
yes but I have a list of questions that I need to created radio buttons for... thus I wanted to use the two way binding

[2021-03-12 10:38] juanmalm commented on #13957
Any update/workaround on this? Our builds are broken...

[2021-03-12 10:41] inimirpaz opened #14000 "[Bug] [Android] Visual=Material ignores color accent + unreadable by default in dark theme"
### Description

(See screenshot, possibly related to https://github.com/xamarin/Xamarin.Forms/issues/13809 )
When using Xamarin.Forms.Visual.Material and the controls' Visual is set to Material, the color accent defined in the Android file values/styles.xml ( <item name="colorAccent"> ) is ignored.
In addition (new issue?), the default rendering of a Visual="Material" component when displayed whe

[2021-03-12 10:56] jfjalburquerque commented on #13957
As @carbonete said, 16.9.1 doesn't fix the problem, I cannot debug my app because of this

[2021-03-12 11:09] xshiiiidev commented on #13752
You could still use two way binding with each individual RadioButtons.

[2021-03-12 12:02] meJevin opened #14001 "[Bug] iOS crash in release mode. Not enough information in console message."
Hay, I have been developing an app for quite a while now, but I've only been testing it in Debug mode. On my simulator and on my real iOS device.

Today I tried to test it in Release mode, which was not successful.

My application crashes on startup and I have no clue why.

The only meaningful message that I could find in the console is this:
Microsoft.CSharp.RuntimeBinder.RuntimeBinderException:

[2021-03-12 12:29] meJevin commented on #14001
Whoops, I used the dynamic keyword in my apps code.. inspecting..

[2021-03-12 12:41] meJevin commented on #14001
Yup, removing dynamic keyword helped.

[2021-03-12 12:41] #14001 closed

[2021-03-12 14:25] decv86 commented on #13997
this is the end .... seems XF to stop developing

[2021-03-12 15:35] qq1688 commented on #13994
Hi,

I can't wait for bug fix, i changed to use HttpClient to get the token, case close, thx

[2021-03-12 15:35] #13994 closed

[2021-03-12 15:38] bhuvan94 opened #14003 "[Bug] [Android] Borderless Material Entry / Editor shows border"
### Description
Borderless Material Entry / Editor Shows border after updating the Xamarin Forms 5.0.0.2012 and Xamarin.Forms.Visual.Material 5.0.0.2012. Previously it was working fine.
#### Note: If i downgrade the Xamarin.Forms.Visual.Material below 5.0.0.1874 (i.e 4.8.0.1821) we don't face the issue in borderless material entry or editor.
### Steps to Reproduce

I have attached two samples just

[2021-03-12 15:52] aperel66 opened #14004 "[Bug] Cannot find Provisioning profile on IOS"
### Description
Last version of VS would not build IOS projects, the IPA was not created. This version still does not because it cannot find a provisioning profile for a release build. These are basic things that VS needs to do to be useful. I have to keep reverting to older versions, which had problems of their own to create a release build.
### Steps to Reproduce

1. Select Release Build IOS pro

[2021-03-12 15:55] aperel66 commented on #14004
I posted incorrect version for VS.
This is the correct one.

Microsoft Visual Studio Community 2019
Version 16.9.1
VisualStudio.16.Release/16.9.1+31105.61
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Community

Visual C++ 2019   00435-60000-00000-AA187
Microsoft Visual C++ 2019

ADL Tools Service Provider   1.0
This package contains services used by Data Lake tools

ASA Service P

[2021-03-12 15:59] aperel66 commented on #14004
![image](https://user-images.githubusercontent.com/54277456/110965218-fb682d00-8321-11eb-866e-cd0ac0c2c0da.png)

[2021-03-12 15:59] aperel66 commented on #14004
![image](https://user-images.githubusercontent.com/54277456/110965282-091db280-8322-11eb-983e-0c02ba9a3229.png)

[2021-03-12 16:16] DoubleDBE commented on #14004
I have the same issue as well.

[2021-03-12 16:45] BernieRenner commented on #13688
@JogyBlack, Indeed that worked. Thanks a lot for the hint!

Just in case someone encounters the same while implementing this workarround:
Visual Studio complains about the path syntax to the font in the asset folder. However, you need to leave it as provided in the example of @JogyBlack. If you try to correct the path, the embedded font will not load.

![image](https://user-images.githubuserconten

[2021-03-12 20:36] luczinski commented on #9028
Hi guys!
I'm experiencing this bug with Xamarin.Forms 5.0.0.2012 testing on Android. What’s the status of this bug?
Thanks!

[2021-03-12 20:45] luczinski commented on #11496
Hi guys!
I'm experiencing this bug with Xamarin.Forms 5.0.0.2012 testing on Android. What’s the status of this bug?
Thanks!

[2021-03-12 21:15] EvilVir commented on #13821
The problem here is that Fill and Stroke properties expects Brush type value, not Color. It took me some time to realize that, the simple IValueConverter allowed me to bind Color to these properties.

[code]

Nonetheless it should be "fixed" by allowing to bind Color directly.

[2021-03-12 22:25] arahmancsd opened #14005 "CollectionView highlight item with Visual State Manager doesn't work when GestureRecognizers applied"
The code was working in Xamarin.Forms 4.6, however, after upgrading to the latest Xamarin.Form 5.0.0.2012 highlighting CollectionView item with visual state manager doesn't work as expected. I found the problem is with GestureRecognizers on the Grid. If I remove the GestureRecognizers from the Grid, it works as expected.

After adding GestureRecognizers on the Grid, the expected behaviour is lost

[2021-03-12 23:52] spadapet opened #14006 "[Enhancement] Include source info for binding failure debug output"
## Summary

Debug output for binding failures currently looks like "Binding: Message", but it doesn't say where the binding failure came from in a source XAML file. If the binding failure has source info, it should be included in the debug output.

## API Changes

n/a

## Intended Use Case

Visual Studio's Hot Reload feature uses the BindingFailed event to know about binding failures and their sou

[2021-03-13 00:02] maxbrister commented on #12884
@hupo376787 from your dump it looks like your app is a normal Uwp app not a Xamarin Forms app. Is that correct?

There's a good chance you're running into the same underlying bug. If you update the Microsoft.NETCore.UniversalWindowsPlatform NuGet package for your project does that fix the issue?

[2021-03-13 01:46] hupo376787 commented on #12884
Yes, it's a pure uwp app. I will update and try, thanks.@maxbrister

[2021-03-13 05:43] AndreasReitberger commented on #14004
This seems to be an issue from the latest VS Update.
Here is a workaround.

https://docs.microsoft.com/en-us/answers/questions/305682/xamarin-ios-app-distribute-failed-to-codesign.html

[2021-03-13 08:17] MrWolfPST commented on #13957
I solved my issue adding at my .wapproj file this:
<PropertyGroup>
    <XFDisableFrameworkVersionValidation>True</XFDisableFrameworkVersionValidation>
  </PropertyGroup>

[2021-03-13 12:08] kdbhalala commented on #13960
oh I'm doing a mistake on close the previous swipview it has no problem you can close this

[2021-03-13 12:12] kdbhalala opened #14007 "[Enhancement] reorder in listview or collection view"
## Summary
add reordering capabilities in listview or collection view

I don't know how to submit this but I hope you get an idea of what I'm trying to say

[2021-03-13 16:09] EvgenyPrikhodko opened #14008 "Shell.Current.Navigation.PopAsync()"
Xamarin Forms, test in Andriod SDK10
Xamarin.Forms 5.0.0.2012 ERROR

`
 await Shell.Current.Navigation.PopAsync();

System.ArgumentException
  Message=Ambiguous routes matched for: //Flyout/IMPL_ProjectsPage/ProjectsPage/FoldersPage matches found: //Flyout/IMPL_ProjectsPage/ProjectsPage/FoldersPage,//Flyout/IMPL_ProjectsPage/ProjectsPage/FoldersPage
Parameter name: uri

`
Xamarin.Forms 5.0.0.1931

[2021-03-13 23:14] mtucker6784 commented on #13179
Anyone else come across a resolution? I'm using 16.9.000.271 against iOS 14.4. Newly created project crashes on startup from the phone itself. Can't get to the point to attach the debugger because VS doesn't see the app live long enough to connect to it. Quite frustrating!

Thanks all.

[2021-03-13 23:20] mtucker6784 commented on #13759
Just created my app dev account today and started playing around,  was quite frustrated but glad to see there seems to have been a resolution. Thanks for the update!

[2021-03-14 06:51] liveinvarun commented on #13972
@ichijikuibo  After looking to the sample that you had provided i made the collection thread safe- which actually solved problem for me. Please check the issue after the thread safe implimentation.
Please check below post -
https://codetraveler.io/2019/09/11/using-observablecollection-in-a-multi-threaded-xamarin-forms-application/

[2021-03-14 10:54] ichijikuibo commented on #13972
I got an email with someone posting a fix but for some reason I can't see the post here now but I tried the suggestion of adding:

           ' Xamarin.Forms.BindingBase.EnableCollectionSynchronization(testItems, null, ObservableCollectionCallback);
        void ObservableCollectionCallback(IEnumerable collection, object context, Action accessMethod, bool writeAccess)
        {
            // `loc

[2021-03-14 12:51] ehsangfl opened #14009 "Assembly.Location return assembly name[Bug]"
I have to use Microsoft.CodeAnalysis.CSharp.Scripting.CSharpScript for compile some scripts. on MonoGlobalAssemblyCach constructor inside of  ScriptOptions constructor, on line 32 , 33 :
[code]
the SystemAssemblyFile value is "system.dll", not full path of dll. as result,the value of Path.GetDirectoryName(systemAssemblyFile) is empty string, and this is cuase of an exception on Directory.GetParent

[2021-03-14 16:45] jtorvald opened #14010 "[Bug] Debugging with a Listview results in insane memory increase with CachingStrategy Recycle*"
### Description
Since somewhere around last week I noticed that my app was going nuts in debug mode; memory was increasing, threads were increasing, while nothing really happened. I didn't get clear at first what was causing this. On the same day I updated Visual Studio and start using Enterprise for the profiler. After seeing similar messages on Slack I decided to make some time free and look int

[2021-03-14 22:25] Vroomer commented on #10143
It would be great if you can bring Entry to the same level of functionality as Android Material. It's one of the most used control and it lacks fairly basic functions.

[2021-03-15 01:39] BlueRaja commented on #1668
The documentation for [`Button.ContentLayout`](https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.button.contentlayout?view=xamarin-forms) says

This is actually not true since **the text is always centered**, so the spacing is actually between the button and the left-edge of the box the text is being centered in (leading to every button with an image having off-center text).

This has been

[2021-03-15 03:18] LakshmiNatarajan21 opened #14011 "[Bug] [macOS] Cannot scroll outer scrollview with cursor on the inner scrollview"
### Description
In nested scrollview, cannot scroll the parent scrollview when mouse on the inner scrollview in macOS. The issue occurs even if the inner scrollview does not has scrollable content. Also, we have tried the inner scrollview has ScrollOrientation as Neither or IsEnabled as false but nothing works. Any help would be appreciated.

### Steps to Reproduce
1. Run the attached sample.
2. S

[2021-03-15 06:53] EvgenyPrikhodko opened #14012 "PDF preview in ContentPage"
Hi.
Need a working nuget to work with the PDF file.
Which ones do you use?

[2021-03-15 07:28] JasonixDev commented on #13942
Same problem with the latest Visual Studio Update 8.9.1 (build 34)

[2021-03-15 07:38] kcrg commented on #10638
Ooops, I can see this issue in most recent XF 5.0 sr3. Can it be reopen or I must create new one?
Repo: https://github.com/kcrg/Minne

[2021-03-15 07:53] boris-df commented on #4371
To give an update for others that are finding this thread:

I needed to display a Month-Calendar on a Page. With Some Numbers/Details displayed for each day.
For this you need to display 6 x 7 Cells (full month with leading/trailing Dates at max) + Labels for the date of each cell + Labels for the Detail-Information in each Cell + Styling-Controls like Background for Date different than Background

[2021-03-15 08:16] juanmalm commented on #13957
@MrWolfPST  it works, but I think it is only a workaround for the real issue. You are only muting the validation.

[2021-03-15 08:17] Devaraj-Sekar opened #14013 "WkWebview not performing Paste operation in Xamarin forms iOS - PASTE using Cmd + V option in mac"
### Description

WkWebview not performing Paste operation in Xamarin forms iOS

### Steps to Reproduce

1.  Create a simple sample with WkWebView in Xamarin forms - Hybrid sample available in Xamarin docs page
2. Run the sample in iOS platform.
3. Open safari, type into the URL bar, copy the text
4. Open the app and paste text into editor - **PASTE using Cmd + V option in mac**
5. Nothing happens.

[2021-03-15 08:18] jfjalburquerque commented on #13957
@MrWolfPST this workaround works for me. Thanks to share it.
Almost I can run my app, I will use it while we don't found a fix for it.

[2021-03-15 08:26] shyunMin opened #14014 "[Bug] Shell - A pushed page is popped when current shell item is changed via Flyout"
### Description

Pop request event is invoked when a current ShellItem which contains one or more pushed ShellContent is changed via the Flyout.
However when I changed the current item through bottom tab bar, pop event was not invoked.
I'd like to know these behaviors are intended?

### Steps to Reproduce

1. Launch the Xaminals app. (https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-

[2021-03-15 10:08] SandraHicks opened #14015 "[Bug] UINavigationBar.Appearance.BarTintColor not set"
### Description

After upgrading Xamarin.Forms from 4.8.0.1364 to 5.0.0.2012, I cannot set the UINavigationBar.Appearance.BarTintColor in my AppDelegate.cs FinishedLaunching Method. Any attempt is ignored.

Ususally, I set it from an image after loading the Application:
[code]

Nevertheless, even setting a color is ignored, it just stays white as the background:
[code]
There is no other place in m

[2021-03-15 12:58] MrSerWin commented on #11261
Hi.
Any updates here?

[2021-03-15 13:24] GalaxiaGuy commented on #13943
To a bit a of detail:

I'm porting some functionality already implemented native in Xamarin.iOS. When I asked the people who implemented the original solution how they dealt with this, they said they just put an opaque box behind the collectionview and adjusted its constraints.

It seems this is just an issue without how `UICollectionViewFlowLayout` works (i.e., it is designed such that you size t

[2021-03-15 17:06] hartez commented on #13777
@Tommigun1980

I've downloaded the project from 13231 and updated it to 5.0.0.2012. Just today I've run it (in the simulator) on

iPhone 12 Pro Max iOS 14.4
iPhone 12 Pro iOS 14.4
iPhone 12 mini iOS 14.4
iPhone 12 iOS 14.4
iPhone X iOS 12.4

using application builds from both Windows and macOS. (I also ran it on several other devices and sims when testing for SR3).

On all of these, I can scroll a

[2021-03-15 18:11] rachelkang commented on #12774
@Tommigun1980 did you follow the instructions at https://developers.facebook.com/docs/ios/getting-started/ beyond just editing the Info.plist? If not, could you make sure you follow all those configuration steps, and see if that helps?

I was able to reproduce your issue by adding in a facebook app id to the Info.plist as you shared, but I believe it's because I missed these [additional relevant i

[2021-03-15 18:38] rachelkang commented on #13419
Confirming I can repro what @josephlbailey shared and can see how the `VerticalItemSpacing` is affecting the CV on both XF 4.8 and 5.0 - thanks! :)

[2021-03-15 18:45] LyalinDotCom commented on #14006
@spadapet and I talked about this and I am very supportive of this approach to unblock us on startup. @StephaneDelcroix could we get it done in Xamarin.Forms servicing and port into .NET MAUI as well? that would be ideal. I'd love to keep navigate to source a feature that isnt for .NET MAUI customers only

[2021-03-15 22:25] jadenrogers commented on #8028
@paulocmartins Thanks that sorted my issue too.

[2021-03-15 23:51] norton287 commented on #13964
Anyone want to assign someone to this so I can get the hamburger menu working on iOS?

John

[2021-03-16 01:23] matthewrdev commented on #3065
Just wanted to weigh in here with some findings from a memory profiling session.

**TLDR: Use the SyncFusion ListView on UWP to solve data template memory leaks.**

Following from @jefffhaynes suggestion to use [SyncFusions SfListView control](https://help.syncfusion.com/xamarin/listview/overview), I did some memory profiling for it compared to the Xamarin.Forms ListView.

From my findings, I've o

[2021-03-16 06:42] PaulsonM commented on #13110
Hi @jsuarezruiz,  I'm setting the height of webview in renderer as the height is dynamic with different source.

Can you try with whether now you can reproduce?  @AswinPG - is it possible to confirm whether you're also doing the same?

Below is the code where I compute and set the webview height dynamically
[code]

[2021-03-16 06:53] PaulsonM commented on #13110
Greatly need this bug fix now as our app users are facing the issue - https://github.com/xamarin/Xamarin.Forms/issues/6700 about 2.4k times as of today.

Anybody knows whether this issue is resolved in any recent Xamarin Forms releases - in either  v5.0.0.1709-pre4 or later ?

[2021-03-16 07:08] aniruthg opened #14016 "[Bug] [iOS] Button with image, does not display image in iOS RTL"
### Description
When a Button is added with  Text & Image Source, the button does not display the image in the RTL

### Steps to Reproduce

1. Create a Button with Image, place the Content="Right,20"
2. Change the app to RTL language or mode.
3. Image does not display.
4. If the Content is set to "Left,0" it displays right next to text.

### Expected Behavior
Image should appear to the Right Side

[2021-03-16 08:45] Vencode commented on #13973
Any update on this ?

[2021-03-16 09:00] fhintsch opened #14017 "[Bug] iOS Release Configuration: Linker errors when using Cryptography"
### Description
Linker issues occur in iOS Release configuration only when using Mailkit, i.e. Cryptography.
Error: MT2101, Warnings: MT0109, MSB3276

### Steps to Reproduce

1. VS for Mac, current version: Create a new project by using standard Xamarin Forms template.
2. Add Nuget package Mailkit 2.11.0.
3. Create a class "Mail" that uses Mailkit.Security and Mimekit.
4. Run this project with Pla

[2021-03-16 09:09] fhintsch commented on #14017
`linktest-clone.zip` contains the sample project.

[2021-03-16 09:16] Devaraj-Sekar commented on #14013
Hi @samhouts

Any update on this query.

Regards,
Devaraj S

[2021-03-16 09:33] #13942 closed

[2021-03-16 09:35] Phenek commented on #13009
Hey seems this issue is related to mine. #9315
And how touch implementation is wrongly dispatch on Android
Regards

[2021-03-16 09:35] JasonixDev commented on #13942
Found the problem, VS has compile an assembly that come with a nuget sdk.

[2021-03-16 10:12] jaisont07 commented on #13933
[swipeviewtest.zip](https://github.com/xamarin/Xamarin.Forms/files/6147982/swipeviewtest.zip)
Here is a sample with the swipeview.

[2021-03-16 11:01] Muniappan612 opened #14018 "Drawing elements does not render properly in the iPhone simulator 14.4"
### Description
The UI View does not render properly when the Sample is deployed in the iPhone 8 Simulator
### Steps to Reproduce

1. Run the sample in iPhone 8 simulator-

2.  Follow the steps like in the attached video-
[Video.mov.zip](https://github.com/xamarin/Xamarin.Forms/files/6148281/Video.mov.zip)
3. The Special region does not render properly, this issue only occurred in the iPhone 8 sim

[2021-03-16 11:10] shalinasanga commented on #3894
Tried this solution, but in latest xamarin (5.0.0.2012) , Not working.
OnOptionsItemSelected is not hit.

[2021-03-16 13:31] jtorvald commented on #13992
Just figured out that I added a duplicate of this issue as #14010 with an iOS example.

[2021-03-16 13:32] jtorvald commented on #14010
This seems to be a duplicate of #13992 only with a sample solution for iOS

[2021-03-16 16:33] Henryegal commented on #13258
Hello there,
I have this same issue possibly, but removing the "BackgroundColor" did not work.   This is IOS only with latest xamarin.   I do not want to downgrade.
Is there any other messages like OnAppearing that you may have used instead?

[2021-03-16 17:07] mondayuk commented on #10895
Just to say thanks, this thread really helped. I was getting a mysterious crash, which turned out to be this. I was creating an Image in code behind and setting IsAnimationPlaying = False. On iOS the Image often was blank (seems like a race condition as it was intermittent) and on Android it crashed. Removing any reference to IsAnimationPlaying solved the problem.

[2021-03-16 18:44] Alex-Dobrynin opened #14020 "[Bug] Android Always working GC in debug mode XF 5"
Don't know to which team this bug is related, to VS or to XF or even Xamarin Android, but in debug mode GC is not stopping and application becomes not responsible. When I unplug my phone from PC and restart the app it works perfectly. Don't know how to reproduce this. I beleive it is so rare bug. Only in debug mode. Can reproduce on 2 PC's and on different devices including emulators
2 weeks ago I

[2021-03-16 19:56] EvgenyPrikhodko opened #14021 "PDF file offile"
Hi.
How solve this task? In offline mode we must see PDF file.
WebView vs PDFJS?
Does anyone know of a nuget for this task?

[2021-03-17 02:13] DawidBester commented on #13258
@Henryegal I changed BackgroundColor to Background as I still needed to set a background color for the page, and this was the only change I made.

I did not test just removing BackgroundColor and then not setting a Background for the page.

[2021-03-17 02:46] jerryhuang-net commented on #6554
In my case, this happens on CollectionView and ListView on iOS only (so far), and even on iOS, it only happens on physical device.  So below is how I worked-around the issue:

private double width = 0;
        private double height = 0;
        protected override void OnSizeAllocated(double width, double height)
        {
            base.OnSizeAllocated(width, height);
            try

[2021-03-17 03:35] Jakar510 commented on #14021
You have to use PDFJS for android, iOS is not needed as WebView includes the functionality.

Copy the PDFJS folder to the android assets folder, then in Visual Studio, show hidden files, and include the entire folder in the project. then pass the file path to the following URI: $"file:///android_asset/pdfjs/web/viewer.html?file={Path}";

You will need a custom renderer to do all this.

Note: you m

[2021-03-17 03:35] Jakar510 commented on #14012
see https://github.com/xamarin/Xamarin.Forms/issues/14021#issuecomment-800767875

[2021-03-17 03:37] Jakar510 opened #14022 "How do I render a UIButton in Xamarin.iOS?"
How do I render a UIButton in Xamarin.iOS? See the current [Code][1] for the full list.

This is the code I'm using to create and add the button to the `Xamarin.Forms.Platform.iOS.CellTableViewCell` cell. I cannot get the button to display anything.
With the use of a `Foundation.NSMutableAttributedString`, it shows a cut-off section of text in the top left corner, regardless of anything I try (ali

[2021-03-17 03:56] Jakar510 opened #14023 "[Enhancement] Make common internal classes in Xamarin.Forms"
## Summary
Make common classes, that are internal, in Xamarin.Forms public.

## API Changes

Make common classes, that are internal, in Xamarin.Forms public.
Examples include:
[KeyboardInsetTracker](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/KeyboardInsetTracker.cs)
[Android Extensions](https://github.com/xamarin/Xamarin.Forms/blob/5.0.0/Xamarin.Forms

[2021-03-17 04:28] bbhxwl opened #14024 "Can't the polygon of forms dynamically add points?"
Can't the polygon of forms dynamically add points?

 <Polygon  RelativeLayout.XConstraint="0" RelativeLayout.YConstraint="0"   HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand" x:Name="polygon"  Stroke="red" StrokeThickness="5">
            </Polygon>

  private void SfButton_Clicked(object sender, EventArgs e)
        {

            polygon.Points.Add(new Point(80, 0));

[2021-03-17 06:28] #14018 closed

[2021-03-17 09:53] Daniel0b1b commented on #13337
Thanks! When will it be available in a new release?

[2021-03-17 11:29] jaisont07 opened #14025 "Shell layout pages doesnt make use of the space beneath notch in android[Bug]"
Shell layout page contents are not expanded below the notch in android devices. Normal pages do so with the
<item name="android:windowLayoutInDisplayCutoutMode">shortEdges</item>
being set in the theme.
but the backgroundcolor set in the shell level is shown in the area under the notch.
Its working fine in iOS with the usesafearea set to false. The issue exists in android only.

Tried out in Xamar

[2021-03-17 12:01] CodeThinkingMachine commented on #7008
Any solution so far for this ??

[2021-03-17 12:49] rajnikantpatel23 commented on #12339
Same here

[2021-03-17 14:05] ErikMatuska commented on #14020
Same problem. I am unable to find the source of this problem but after few seconds in DEBUG I go from this:
[Mono] GC_MINOR: (Nursery full) time 14.93ms, stw 15.61ms promoted 1395K **major size: 5200K** in use: 4400K los size: 7168K in use: 5870K

to this:
GC_MINOR: (Nursery full) time 140.39ms, stw 176.88ms promoted 1042K **major size: 548832K** in use: 531093K los size: 32960K in use: 22684K

[2021-03-17 15:36] GabyBuy opened #14026 "Shell search and toolbaritems - Android"
I have a project where we make use of the Xamarin.Forms Shell search and we also display one ToolbarItem:

[code]
If the user taps on the magnifier on Android, it expands the Shell search.
If then the user taps on the other toolbarItem on the right and then on the back arrow of the search field, the magnifier disappears and is replaced by three vertical dots (for secondary ToolbarItems). The three

[2021-03-17 15:37] kamrankhalil commented on #13364
@PureWeen Issue can be reproduced on your attached project as well. Just tap any item which takes to item detail page, go back to ItemsPage and try to scroll the carousel view.

[2021-03-17 17:10] Centurys commented on #13477
@rysbilinski for modal page as workaruond I did similary looking layout (custom xaml on that page), like toolbar looks not on modal pages.

[2021-03-17 17:20] rachelkang commented on #13364
@kamrankhalil thanks for clarifying! I confirm I'm able to reproduce this issue, even on the latest stable version of 5.0.0.2012

cc @rmarinho

[2021-03-17 17:42] a-einstein commented on #10636
I just called this 'functionality' to enable the user a direct way of exiting the application on a fatal error message. It didn't work.

Apparently this is defined, but not implemented. That's just confusing, wasting programmers' time and silly.

Either implement it or remove the definition.

[2021-03-17 17:44] carbonete commented on #13957
Update to VS 2019 to 16.9.2 resolve this issue for me.

[2021-03-17 18:55] aperel66 opened #14027 "[Bug] Will not Create .ipa file for the IOS release build"
### Description

### Steps to Reproduce

1. Set build to Release
2. Check "Build iTunes Package Archive (IPA)
3. Build

### Expected Behavior
IPA file is created

### Actual Behavior
IPA file is NOT created
### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library / AndroidX Version:
- NuGet Packag

[2021-03-17 18:55] aperel66 commented on #14027
![image](https://user-images.githubusercontent.com/54277456/111522649-dcf29f00-8730-11eb-9aa3-2322efe13cd0.png)

[2021-03-17 18:57] Jakar510 commented on #13843
Any update on the fix?

[2021-03-17 19:00] sisaacks commented on #13843
@Jakar510  rollack

[2021-03-17 19:15] Jakar510 commented on #13843
@sisaacks  Ok, that's a stop-gap. not a fix.

[2021-03-17 20:29] Jakar510 commented on #13843
Below are the package references for Android. Still having the crash with the rollback.

		<PackageReference Include="Acr.UserDialogs">
			<Version>7.1.0.481</Version>
		</PackageReference>
		<PackageReference Include="Jakar.SettingsView">
			<Version>1.0.6</Version>
		</PackageReference>
		<PackageReference Include="LibVLCSharp.Forms">
			<Version>3.4.9</Version>
		</PackageReference>
		<PackageR

[2021-03-17 20:32] Jakar510 commented on #13843
And the stack trace:
	android.content.res.Resources$NotFoundException: Unable to find resource ID #0xffffffff
    android.content.res.ResourcesImpl.getResourceTypeName ResourcesImpl.java:334
    android.content.res.Resources.getResourceTypeName Resources.java:2300
    androidx.fragment.app.FragmentAnim.loadAnimation FragmentAnim.java:79
    androidx.fragment.app.DefaultSpecialEffectsController$Ani

[2021-03-17 20:55] johnbmangold commented on #14020
I'm having the same problem. it doesn't appear dependent on any config options. I noticed the issue started up after updating Visual Studio 2019 to 16.9.1. Visual Studio 2019 16.9.2 still has the issue present.

[2021-03-18 08:06] juanmalm commented on #13957
In my case it still failing with 16.9.2

[2021-03-18 08:42] jfjalburquerque commented on #13957
I continue having the issue after update to 16.9.2

[2021-03-18 08:46] khurumkkj commented on #7864
Possible work around is to use another Shell to replace the Shell in the MainPage. That works.

[2021-03-18 11:04] RubaShanmugamm opened #14028 "Keyboard doesn't show up when focused EditText"
### Description

The keyboard doesn't show up when focused EditText, the edit text is added inside the PopupWindow content.

### Steps to Reproduce

1. Run the sample on Android [[Sample](https://www.syncfusion.com/downloads/support/directtrac/general/ze/EditText_PopupWindow-1230033734)]
2. Focus the EditText.
3. The keyboard doesn't show up.
4. We were not able to interact with the keys.

### Exp

[2021-03-18 11:58] peterfoot commented on #13746
This appears to be true of any page using NavigationBar. Back button is not visible but clicking where it should be works. Also it fails to render any custom TitleView control so it is very badly broken. Xamarin.Forms 4.7 does show the correct behaviour but reverting this this version is not practical because of other dependencies

[2021-03-18 12:43] AhmedAbuelnour commented on #13364
Any updates?

[2021-03-18 14:06] rachelkang commented on #13812
Hi, @xhh2yqm - just want to clarify before closing - is this resolved now?

[2021-03-18 14:19] kgouraw commented on #13268
I think issue with ObservableCollection. Generic List works on iOS on XF>4.8.0.1687, but it doesn't bind CollectionView IsGrouped on Android. ObservableCollection is important part of MVVM, it should be fixed.  Downgraded XF 4.8.1687 for working on both platforms for now.

[2021-03-18 14:20] kgouraw commented on #13576
https://github.com/xamarin/Xamarin.Forms/issues/13268#issuecomment-801966904

[2021-03-18 14:27] Jakar510 commented on #13843
Setting Xamarin.AndroidX.Fragment to version 1.2.5.5 and Xamarin.Google.Android.Material to 1.2.1.1 with the above config, fixed it.

[2021-03-18 14:35] rachelkang commented on #13575
Hi, @anysomgorm - thanks for sharing the repro! I confirm I'm seeing weird behavior with the WebView content on XF 5.0

Although it appears to be fine on loading, scrolling the content reveals that the webView is partially obscured:

![Screenshot_1616077724](https://user-images.githubusercontent.com/21988533/111643850-ac187580-87d5-11eb-8fed-ecb80b004123.png)

[2021-03-18 14:39] rachelkang commented on #13911
Hi, @ajtruckle - if you're still experiencing the issue, would you mind sharing the repro again? When I access the link, it tells me the item was deleted :/

[2021-03-18 14:50] raulmarciano opened #14030 "Clutchy animation Flyout [Bug]"
### Description

When clicking on the flyout item the animation is bad.

This bug looks like the https://github.com/xamarin/Xamarin.Forms/issues/6831 reported in version 4.

### Steps to Reproduce

VM Device Android 10

![dGnpihh5Bg](https://user-images.githubusercontent.com/57970226/111643480-c35b6100-87dd-11eb-845c-0fe8dac0f2ea.gif)

Galaxy Tab A (T515) Android 10

![galaxy-T515](https://user-im

[2021-03-18 15:08] GalaxiaGuy commented on #14024
Do you have a reproduction project?

I tried it on iOS in the control gallery and it seemed to work fine.

[2021-03-18 15:11] dylix commented on #11496
Same here as well. While I can replace the grid tapgesture with the swipeview gesture, and that works as expected, the tapgestures for my stacklayouts do not work.
normally i can click menu,order to do their specific commands, but inside the swipeview they don't work..
https://i.imgur.com/UHiazvI.png

[2021-03-18 15:16] ajtruckle commented on #13911
Hi @rachelkang

Try the link now.

[2021-03-18 15:24] rachelkang commented on #13575
seems like this is also related to https://github.com/xamarin/Xamarin.Forms/issues/13110

[2021-03-18 15:26] PureWeen commented on #13797
@demoh2019 That's definitely a scenario that would be useful to enable. I'm not too sure how you'd go about it now. The swipe behavior to navigate back is a native iOS behavior so you'd have to disable that behavior and instead keep the swipe to open flyout behavior enabled

The starting point for this would be to create a custom renderer for the ShellSectionRenderer

https://github.com/xamarin/Xa

[2021-03-18 15:43] xperseguers commented on #13843
Just tested, but what you suggest @Jakar510 does not help me, the app still crashes miserably.

[2021-03-18 16:20] chrisevans9629 opened #14031 "[Bug] Member not found on parent interface in Xaml"
### Description
If a member of an interface is defined on the parent interface, it does not show up in the intellisense.
### Steps to Reproduce

1. Create an interface (A) with one member
2. Create another interface (B) that inherits the one above
3. Create a DataTemplate with DataType=B
4. Add a binding to the member on interface A and you'll see the error

[code]

[code]

### Expected Behavior
I

[2021-03-18 16:22] rachelkang commented on #13338
Hi, @Cfun1 - as @rmarinho mentioned, could you share a video if you're still experiencing the issue?
I tried to replicate the behavior described but also was unable to reproduce this issue. On my end, MainPage remains unscrollable whereas ListPage is scrollable

[2021-03-18 16:28] javanjoel commented on #11326
Thasnk @chrisevans9629 ... It's ashamed that we have to even do these workarounds in Xamarin. Seems like 80% of my time in Xamarin is figuring out workarounds for all these quirks.

[2021-03-18 16:33] rachelkang commented on #13290
Closing this issue as the parallel discussion at https://docs.microsoft.com/en-us/answers/questions/219188/systemobjectdisposedexception-cannot-access-a-disp.html indicates this is not a XF issue. If you continue to experience this issue and it turns out to be a XF issue after all, please feel free to reopen!

[2021-03-18 16:33] #13290 closed

[2021-03-18 16:35] rachelkang commented on #12867
Hi, @rubiomiguel06 - thanks for elaborating. Confirming that I'm able to reproduce this on XF 5.0 on visual studio. Interestingly (although perhaps irrelevant), I was unable to reproduce the issue on VSMac. As you mentioned, I do think this may be a performance issue related to the speed and # of times in which the drag-and-drop is performed

[2021-03-18 16:45] javanjoel commented on #9357
Soooo.... this was never fixed?!?!

[2021-03-18 17:59] rachelkang commented on #13868
Hi, @alaskanrogue - would you mind clarifying what the versions you're working with are? Which was the one that was functional and which was the one where you noticed this issue? (I checked out your repro, and it seemed to me that both projects were on 5.0 and failing to build)

[2021-03-18 19:19] luczinski commented on #11496
Hi! Finally I discovered how to make it work. I couldn't make tapgesture work, but the SwipeItemView Command works perfectly.

`<SwipeView.LeftItems>
                                    <SwipeItemView BackgroundColor="Transparent" Command="{Binding Path=BindingContext.OnEditTransactionClicked, Source={x:Reference Name=TransactionsPage}}" CommandParameter="{Binding .}">

[2021-03-18 19:48] HuckleChuckleDog commented on #11496
So apparently they put a fix through for this, however swipe view isn't working as expected for android -- refer to https://github.com/xamarin/Xamarin.Forms/issues/13966 where there is also a sample project loaded.
Since swipe view wasn't working as expected for android, we implemented a double tap gesture recognizer to provide menu options, however that doesn't work for iOS -- it's just mind bogg

[2021-03-18 19:49] BlueRaja opened #14032 "[Bug] Crash on Android when using DisplayAlert + FormsApplicationActivity"
### Description
Calling `DisplayAlert()` from an app that uses `FormsApplicationActivity` causes a crash on older Android phones (tested on API 21 = Android 5.0).

This is a recreation of bug #13779, which was closed by the author when he discovered the cause.  However, my understanding is that `FormsApplicationActivity` is "deprecated but still supported", meaning crashes are still being fixed?

[2021-03-18 20:34] BlueRaja commented on #13892
The same thing happens when you create a new Xamarin Forms Android App.

[2021-03-18 20:56] Cfun1 commented on #13338
@rachelkang @rmarinho please check the screen record I have added.

[2021-03-18 21:08] rachelkang commented on #13843
thanks for the repro! confirming that I was able to follow these steps and repro the error described

[2021-03-18 21:27] rachelkang commented on #13895
Can someone attach a small sample project reproducing the issue so that we can investigate further? I've tried and unfortunately have been unable to reproduce the issue myself :/

[2021-03-18 22:09] Jakar510 commented on #13843
@rachelkang Do you use Xamarin.AndroidX.Biometric?

[2021-03-18 22:30] alaskanrogue commented on #13868
Hello @rachelkang The Sentry_v4-5-3 solution should be operational and the Sentry_v4-8-1 solution should not be.

As previously stated, when debugging either, there will be an error related to the following extension entry in the manifest. Delete the extension before building and debugging. (It needs to be deleted repeatedly.) This may be the cause of the failures occurring in both solutions at th

[2021-03-18 23:16] Jakar510 commented on #13843
Xamarin.AndroidX.Fragment also has an issue in version 1.2.5.5. moving to 1.2.5.4 works fine thus far.

	03-18 18:02:47.004 E/AppCenterCrashes( 9352): Unhandled Exception from source=AndroidEnvironment
	03-18 18:02:47.004 E/AppCenterCrashes( 9352): System.TypeLoadException: VTable setup of type Jakar.SettingsView.Droid.SettingsViewLayoutManager failed
	03-18 18:02:47.004 E/AppCenterCrashes( 9352):

[2021-03-18 23:21] aperel66 commented on #13892
I am still not sure what new info you need. Just create a brand new project and compile it!

[2021-03-19 01:59] xamiell commented on #6451
Same here

[2021-03-19 03:36] #13979 closed

[2021-03-19 04:43] bbhxwl opened #14033 "Vs2019 16.9.1 can't create binding project?[Bug]"
Vs2019 16.9.1 can't create binding project?

[2021-03-19 06:31] bbhxwl commented on #14024
I can't do the test for a long time. I can change skiasharp.

[2021-03-19 06:53] xtuzy commented on #13803
not use it in mainthread

[2021-03-19 07:27] holecekp commented on #13947
The same problem is very likely also on Android. I have just received an crash report from AppCenter for my Android app and the error message and the stack trace is almost identical with the ones on iOS. However, I am not able to reproduce it locally and I do not know which steps the user did so that I could reproduce it.

The application opens a page by calling `await Shell.Current.Navigation.Pus

[2021-03-19 07:35] developer9969 opened #14034 "[Bug] Hot reload iOS when set to Changes only app becomes very very slow"
Hi
I have dont have a repo because it only happens on a production app.

When hot reload is set to  "Changes only"  everything loads very very slow  and the app is unusable.  iOS
Change to Full page or disable Hot reload and and everything is fine!!
![image](https://user-images.githubusercontent.com/16970109/111745995-4daad000-8885-11eb-981d-805f500bab80.png)

Tell me what kind of log you need and

[2021-03-19 08:12] xperseguers commented on #13843
I can confirm that! Tapping Shell menu items does not crash the app anymore.

[2021-03-19 08:38] mhrastegary77 commented on #10372
Move to xamarin community toolkit [1098](https://github.com/xamarin/XamarinCommunityToolkit/issues/1098)

[2021-03-19 08:39] #10372 closed

[2021-03-19 09:29] DaveBrickley commented on #4447
Is there any news on when you might be able to address this properly on both platforms please?

[2021-03-19 10:39] damirarh opened #14035 "[Bug] ScrollView content below the fold not rendered on Android"
### Description

When content inside a ScrollView dynamically expands, the part that's not visible when it expands isn't rendered on Android. The area is of correct size but everything that was below the fold remains blank.

On iOS it works as expected.

### Steps to Reproduce

The attached project reproduces the issue:

1. When the application loads, click the button until there are enough items

[2021-03-19 12:03] peterfoot commented on #13746
I can see that the TitleView issues is referenced in a separate issue - #3868

The workaround in #12771 allows you to override the white background when setting using a Brush from code-behind.

[2021-03-19 14:48] aleks42 commented on #10895
I am seeing the same error. Spent half a day to debug.
I am getting png from webservice. If there is no png, I am trying to show animated gif from resources. When IsAnimationPlaying is in xaml, both cases cause "[libc] Fatal signal 11 (SIGSEGV), code 2 (SEGV_ACCERR), fault addr 0xff1b5ffc in tid 1579 (tipass.MyApp), pid 1579 (tipass.MyApp)". I probably will have to save all files to disk, because

[2021-03-19 14:52] mondayuk commented on #10895
I was fortunate that I was not using binding, but have you tried perhaps wrapping the Image view in a custom control, and only setting the IsAnimationPlaying property in code behind?

[2021-03-19 15:15] aleks42 commented on #10895
Moving IsAnimationPlaying = true to code behind didn't help.

[2021-03-19 15:20] mondayuk commented on #10895
Sorry, bad explanation on my part. The issue I had was that if I set IsAnimationPlaying = false on a file that had no animation (like a jpeg) I had the problem you are having. My workaround was just simply not to set IsAnimationPlaying at all. For binding, that's obviously not easy which is why i'm suggesting doing it in code behind.

Someting like...

[code]

[2021-03-19 15:37] Jakar510 commented on #13895
I'm still getting the crashes in 1.2.5.4. Note: I'm using Shell. there's other issues found with this package as well: https://github.com/xamarin/Xamarin.Forms/issues/13843

	**System.TypeLoadException:** 'VTable setup of type Jakar.SettingsView.Droid.SettingsViewLayoutManager failed'

	03-19 09:49:59.396 F/pany.iTrueLogi( 2201): java_vm_ext.cc:577] JNI DETECTED ERROR IN APPLICATION: JNI NewString

[2021-03-19 15:44] bondarenkod commented on #13268
@kgouraw nope, the problem inside the synchronizer.

[2021-03-19 16:26] rachelkang commented on #13338
@Cfun1 hmmm interesting.. thanks for sharing that! Which simulators/devices have you been able to reproduce this on?

[2021-03-19 16:49] Cfun1 commented on #13338
@rachelkang I have only tested on Pixel 2 emulator so far.

[2021-03-19 17:34] khurumkkj commented on #11233
adding the @string/app_name fixed the problem for me.

[2021-03-19 17:58] rachelkang commented on #13868
@alaskanrogue - thanks for clarifying! I'm able to build now and run now on 5.0 without any issues. I can't see anything about `System.ServiceModel.Primitives` but am seeing [these warnings](https://gist.github.com/rachelkang/36cb78c31aeb1569c261c79a670efd00) - does any of this seem to align with the error you're experiencing?

[2021-03-19 19:35] aleks42 commented on #10895
Finally I managed to get this to work. Files from webservice are saved to storage first. IsAnimationPlaying="True"

in viewModel:
[code]

in XAML:
[code]

[2021-03-19 20:02] DandiAndy opened #14036 "[Bug][iOS][SwipeView] Content of SwipeView Not Moving With Swipe After Changing ItemSource of ListView"
### Description

I have a ListView with a ItemTemplate that serves up a SwipeView. This SwipeView has a single SwipeItemView inside of it's Right Items. When initially setting the ItemSource of the ListView, it works as expected. I can swipe and  the content of my swipe view moves over to reveal.

When I attempt to replace the ItemSource, the SwipeViews stop swiping correctly.  A user can still sw

[2021-03-19 20:09] holecekp commented on #13843
I had the same problem after upgrading Xamarin.AndroidX.MediaRouter from 1.2.0 to 1.2.2.1. First, the application did not even built. I have reported it (https://github.com/xamarin/AndroidX/issues/290) and I was recommended to install some other Nuget packages manually as a workaround. I was able to built the application then but it crashed with the missing resource exception (probably the same as

[2021-03-19 20:14] Henryegal commented on #13258
@DawidBester Thanks for the info!  I did change BackgroundColor="LightBlue"
to just
Background="LightBlue"
And that did not work for me.
I am in the process of changing everything I had done in OnAppearing to using the MessageCenter right after I PopModalAsync.

Very painful!
Thanks again.

[2021-03-19 20:28] Jakar510 commented on #13895
@rachelkang here's a repo: https://github.com/Jakar510/DebugXamarinAndroidX/tree/master

[2021-03-19 20:28] Jakar510 commented on #13843
@PureWeen here's a repo: https://github.com/Jakar510/DebugXamarinAndroidX/tree/master

[2021-03-19 20:31] alaskanrogue commented on #13868
@rachelkang Are you saying you have upgraded the `System.ServiceModel` NuGets in the second solution to v5?

As to your question, I don't recall those warnings, just the error which prompted this problem report.

[2021-03-19 20:54] large commented on #13843
These kinds of bugs are getting pretty annoying, Xamarin team.
I used more development time squashing this bug, rather than working on the project.
Hopefully 24 days is enough to get an patch out...

[2021-03-19 20:58] Jakar510 commented on #13843
@large Indeed, it's very annoying. Shell is broken, and if you downgrade to fix it, while still keeping Xamarin.Forms v5.x, several other things break. I'm about ready to go back to 4.8.x and wait for the fix.

[2021-03-19 20:59] ivanmeling commented on #13303
I created a new android project and added all the files used in the failed project. Then I setted the project to target android 10 and use the Migrate to AndroidX, added the required NuGet packages (Palette and Media) and everything compiled again

[2021-03-19 20:59] mnxamdev commented on #1418
We're getting a crash in UWP as well which may be related.
`Object reference not set to an instance of an object. at Xamarin.Forms.Platform.UWP.FormsPresenter`

We were informed of a NullReference exception but it wasn't clear where it was. I dug into the UAP.FormsPresenter in the OnSizeChanged handler but the only thing I could see there is that the crash could happen if the RealParent was null,

[2021-03-19 21:09] large commented on #13843
That was my experience too @Jakar510
This is not the first time I have been stuck after updates from Xamarin, even worse downgrading isn't straight forward.
I actually got so annoyed that I downloaded Flutter, checking if the grass is greener there.

[2021-03-19 21:33] xperseguers commented on #13843
I kept using XF 4.6 for a very long time because of problems with newer releases, even though I had known accessibility (= related to visually impaired) problems in 4.6 but 5.0 finally fixed those problems.

My feeling however with this bug is that Android support needs much more love. That's a bit strange since I had the feeling for some time that iOS didn't get enough attention when reading/watc

[2021-03-19 21:40] Jakar510 commented on #13843
@xperseguers That's Microsoft's MO: **nasty bugs on "stable" releases instead of just having fun with new features and "forgetting" about former releases**

[2021-03-19 22:51] decv86 commented on #14034
I have to issue

[2021-03-20 02:07] upsilondynamics commented on #9859
Has this been fixed? It is not clearing the text box when we try and set the query property:

`        protected override void OnQueryConfirmed()
        {
            if (!string.IsNullOrWhiteSpace(SearchBarModel.Query))
            {
                    Query = String.Empty;
            }
        }`

[2021-03-20 07:31] AndreasReitberger commented on #13510
@jsuarezruiz @PureWeen
Any news or at least a live sign?
The crash happens often on real device due to this issue...

[code]

Thank you for your help :)

[2021-03-20 08:22] 21r8390 commented on #13635
Hi @rachelkang
I fixed the problem, by using the _preview version_.
In the normal version, it still doesn't work... Thanks for the help!

[2021-03-20 12:54] holecekp opened #14037 "[Bug] Crash on Android: Failed to resolve attribute at index 6"
### Description
AppCenter reported the following crash for my application:
**java.lang.RuntimeException: Failed to resolve attribute at index 6**

It seems that it could be a problem with SearchBarRenderer. Stack traces provided by AppCenter are quite long but SearchBarRenderer is mentioned there.

Android version: 5.1
Device: A1601

**Stacktraces:**

**1:**
[code]

**2:**
[code]

**3:**
[code]

#

[2021-03-20 16:18] matthewyoungias opened #14038 "[Bug]"
### Description
Event handlers are not firing in UWP for DatePicker.
### Steps to Reproduce

1. Create DatePicker with an unfocused event handler
2.
3.

### Expected Behavior
Event fires when picker is unfocused
### Actual Behavior
Event does not fire
### Basic Information

- Version with issue: 5.0.0.2012
- Last known good version:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:  177

[2021-03-20 16:57] jvalkyrie opened #14039 "[Bug] BindableLayout does not marshal ObservableCollection.CollectionChanged to MainThread"
### Description
When `BindableLayout.ItemSource` uses `ObservableCollection<T>`, it does not marshal `ObservableCollection.CollectionChanged` to the Main Thread, causing the app to crash whenever an `ObservableCollection` is modified on a background thread. For example, if we modify the `ObservableCollection` with `Add()`, `RemoveAt()` or `Clear()` from a background thread, the app will crash.

Th

[2021-03-20 18:08] pver commented on #12893
Also seeing this, only on Android 11:
[code]

[2021-03-20 22:31] Jakar510 commented on #13843
Update for Xamarin.AndroidX.Fragment (version 1.3.1) still crashes.

	Acr.UserDialogs -- Version: 7.1.0.481
	Jakar.SettingsView -- Version: 1.0.6
	LibVLCSharp.Forms -- Version: 3.4.9
	VideoLAN.LibVLC.Android -- Version: 3.2.0
	MailKit -- Version: 2.11.1
	Microsoft.AppCenter -- Version: 4.1.0
	Microsoft.CodeAnalysis.Common -- Version: 3.9.0
	Microsoft.CodeAnalysis.CSharp -- Version: 3.9.0
	Microsof

[2021-03-20 22:33] georgemichailou commented on #10326
I get the same error today

I update my solution here https://github.com/georgemichailou/ShaXam to a latest xamarin. forms version but i get the following error

**Cannot access a disposed object.Object name: 'FrameRenderer'.**

Platform Target Frameworks:

iOS: 13.4
Nuget Packages: 5.0.0.2012

[2021-03-20 22:51] georgemichailou commented on #10326
When i try to remove all the frame controls i get the following error

**Cannot access a disposed object.Object name: 'DefaultRenderer'.**

  at Foundation.NSObject.get_SuperHandle () [0x00012] in /Library/Frameworks/Xamarin.iOS.framework/Versions/13.16.0.13/src/Xamarin.iOS/Foundation/NSObject2.cs:449
  at UIKit.UIView.set_TranslatesAutoresizingMaskIntoConstraints (System.Boolean value) [0x00024]

[2021-03-20 22:58] georgemichailou commented on #10953
I update my solution here https://github.com/georgemichailou/ShaXam to a latest xamarin. forms version but i get the following error

Cannot access a disposed object.Object name: 'FrameRenderer'.

Platform Target Frameworks:

iOS: 13.4
Nuget Packages: 5.0.0.2012

I replace the Frames with Grids and now i get the following

Cannot access a disposed object.Object name: 'DefaultRenderer'.

at Foundat

[2021-03-21 03:47] AnthonyWeirbach commented on #9724
This might be too simplistic of an answer but I was also having the same error mentioned above and then I stumbled upon a message board from 2018 that had this same type of error and someone said that deleting the bin and obj folders was their fix.

I manually deleted my bin and obj folders and like magic.... everything worked....
Hey, Its worth a try.... (if you haven't done it already)

[2021-03-21 12:48] Tommigun1980 commented on #13777
When I run the project it's just broken and looks like this: https://drive.google.com/file/d/1MwB1hc7IIj0_BNXNh4cMWoa7kJNgOdg2/view?usp=sharing

That is from the iPhone 12 simulator. It just doesn't work. It's not modified in any way, it's just the repro project updated to latest XF version.

[2021-03-21 13:18] AliKarimiENT commented on #13961
Hello. Have you solved this problem?
I have the same when I click on an entry it moves to last slide of carousel view

[2021-03-21 13:27] AliKarimiENT commented on #12568
I have the same problem have can I solve it?

[2021-03-21 14:03] subhadrajain commented on #7521
Please fix this.
I will lose my client

[2021-03-21 14:34] pictos commented on #7521
@subhadrajain does this workaround doesn't work for you?https://github.com/xamarin/Xamarin.Forms/issues/7521#issuecomment-660948841

[2021-03-21 14:38] giuseppenovielli commented on #13961
@AliKarimiENT No i'm waiting Xamarin Forms's team to fixed this issue.

[2021-03-21 16:09] vniehues commented on #7729
After fighting with this bug for around 30 minutes, I tried to just use "Image" instead of "ImageSource" and that seems to be working perfectly.
I don't know if that is intended but it works.
@samhouts I'd suggest you guys test it and close this?

[2021-03-21 16:56] Axemasta opened #14040 "[Enhancement] How Do I Run Platform Unit Tests"
## Summary
This issue is neither a bug nor an enhancement. I have written some code in relation to #12756 and would like to add some tests. This is also a requirement of a separate piece of work I'm doing away from this repository where I have written some code using some native objects and would like to ensure the functionality is correct

Loading a file > New > iOS Unit Test Project creates an a

[2021-03-21 16:57] holecekp commented on #7521
I have tried the mentioned workaround and it did not work for me. It fixed the animation, but instead, it introduced a big lag before the new page was opened. So the overall user experience was equally bad :-(

[2021-03-21 16:59] pictos commented on #7521
@holecekp this one also? https://github.com/xamarin/Xamarin.Forms/issues/7521#issuecomment-606971122

Also, could you share a repro? I couldn't reproduce this issue locally in any Shell app that I made.

[2021-03-21 17:32] subhadrajain commented on #7521
@pictos 7 out of 10 times it is working fine.

[2021-03-21 17:57] stesvis opened #14041 "[Bug] Crash when setting Application.Current.UserAppTheme"
### Description
I have a settings page that allows users to change the theme from Light/Dark etc.
Often times when I save the change and the app reloads the views, it crashes.

### Steps to Reproduce

[code]

### Expected Behavior
The app refreshes the views with the new theme colors

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- Platform Target Fra

[2021-03-21 18:01] joanneraye commented on #14015
I am having the same problem.  Affected iPhone 8.

[2021-03-21 18:09] Jakar510 opened #14042 "package androidx.activity.contextaware does not exist. JAVAC0000: androidx.activity.contextaware.OnContextAvailableListener"
### Description
[Visual Studio Issue](https://developercommunity.visualstudio.com/t/package-androidxactivitycontextaware-d/1376876?entry=myfeedback&space=8&sort=newest)
error: package androidx.activity.contextaware does not exist. androidx.activity.contextaware.OnContextAvailableListener

	Project not selected to build for this solution configuration
	AppName.Android -> D:\WorkSpace\AppName\AppNam

[2021-03-21 18:11] softlion commented on #7729
An image is not an image source.

[2021-03-21 19:58] vniehues commented on #7729
While I definitely agree with you there, this code works.

It shows the Icon & doesn't give the
`Xamarin.Forms.Xaml.XamlParseException is raised:
"The PropertyName of Button.ImageSourceProperty is not ImageSource".`

[code]

For me it seems to have completely solved the issue.

[2021-03-22 00:16] Jakar510 commented on #14042
When i compiled against android 10 instead of 11, the issue doesn't occur.

[2021-03-22 01:15] mfeingol commented on #7741
@StephaneDelcroix: this needs to be reopened.

[2021-03-22 01:58] bbhxwl opened #14043 "Forms CollectionView.SelectionChanged Entry is very slow"
Forms CollectionView.SelectionChanged Entry is very slow

I use selectionchanged to jump to the page, but it's very slow. I check that the speed of my jump to the page is very fast, 70ms, but I feel that the speed of selectionchanged is very slow. It takes more than two seconds. Why? How to optimize

https://user-images.githubusercontent.com/26525599/111930868-db402700-8af4-11eb-842a-559af88efde2.

[2021-03-22 01:58] bbhxwl commented on #14043
private async void CollectionView_SelectionChanged(object sender, SelectionChangedEventArgs e)
        {
            DateTime dt1 = DateTime.Now;
            popup.Show(true);
            var model = e.CurrentSelection.FirstOrDefault() as UserInfo;
            GlobalCommon.CurrentUser = model;
           // Application.Current.MainPage = new MainPage();
         await  Navigation.PushModalAsync(ne

[2021-03-22 03:08] Jakar510 commented on #11445
Any update? This has existed for nearly a year.

[2021-03-22 03:16] Jakar510 commented on #13843
Note: I was compiling against android 11. I don't know if going against android 10 would make a difference. It made a difference with this [issue](https://github.com/xamarin/Xamarin.Forms/issues/14042)

[2021-03-22 06:28] KithorasCarzyl commented on #12568
@AliKarimiENT I'm just not centering the entry at the moment. Found no other possibility so far :-(

[2021-03-22 06:40] AliKarimiENT commented on #12568
Me too. I hope it fixes as soon as possible

[2021-03-22 08:10] davidtabor90 commented on #14037
Hi,

I have similar issue. When page with WebView is closed then app crash on Android 9 and below. Looks like something wrong with TextBox in my case with same result
`Java.Lang.UnsupportedOperationException: Failed to resolve attribute at index 6: TypedValue{t=0x2/d=0x101009b a=1}.`

[code]

Hope your solution repair my solution too :)

[2021-03-22 08:27] MrD0llaro commented on #2168
Happy birthday Issue 2168 now you are three year old.

[2021-03-22 08:53] TFreudi1 commented on #7741
Same thing for me, please reopen it is not solved.

[2021-03-22 08:59] jsuarezruiz commented on #12925
You can create styles at the Application level, for example:

[code]

And thus avoid assigning a light or dark color based on the system theme.

[2021-03-22 09:32] RobertHedgate opened #14044 "[Bug] Shell.Current.GoToAsync doesn´t display the new view sometimes after shell flyout is closed. Only on iOS"
### Description
In my app I´m using shell flyout menu. If I open the menu via swipe and close it by clicking outside of the flyout. If I then click a button which navigates my to another view it sometimes (perhaps 1 out of 4) does not appear. The existing view is "locked" and if I swipe back the navigated view slides in from the right. The app also reverts back to correct state if I leave the app

[2021-03-22 10:58] ppetrov opened #14045 "[Bug][iOS] CollectionView filtering causes native crash"
### Description
CollectionView filtering causes native crash on iOS. It work correctly on Android and UWP.

### Steps to Reproduce

Use the attached project
1.  Click 'Filter' button
2.  Click 'Reset' button -> the app crashes

### Expected Behavior
No crash. Display the initial data as it's on Android and UWP.

### Actual Behavior
The app crashes with this stacktrace:
2021-03-22 12:38:45.168 Coll

[2021-03-22 11:18] filipkristo commented on #13364
@rachelkang @rmarinho same issue on my side

[2021-03-22 11:31] IzyPro opened #14046 "[Bug] CarouselView scrolling glitches in RefreshView"
### Description
Carousel doesn't scroll properly when placed inside a RefreshView on Android
(I haven't tested on iOS yet)

### Steps to Reproduce

[code]

### Expected Behavior
Both Drag-to-refresh and horizontal scroll should work perfectly

### Actual Behavior
Drag-to-scroll works well but the horizontal scroll is bad
### Basic Information

- Version with issue: 4.8.0.1560
- Last known good ver

[2021-03-22 13:00] mhrastegary77 commented on #4792
Same issue :(

[2021-03-22 13:35] holecekp commented on #14041
This is probably the same bug that I have reported before: https://github.com/xamarin/Xamarin.Forms/issues/11704. There is also a repro project (https://github.com/xamarin/Xamarin.Forms/issues/11704#issuecomment-671094025) and the issue has an _i/high_ flag, but it is still open. The crashes are random and, unfortunatelly, there is no worakround.

[2021-03-22 13:40] Marmosquera opened #14047 "[Bug] Converter doesn't work correctly inside a CollectionView [iOS]"
### Description
I'm facing the following problem only in iOS

In the `DataTemplate `of a `CollectionView`, I have a Label that shows the price of an order.
The order has a status (enum) that can be accepted canceled, rejected, etc.
I have a converter that depending on the status of the order, I set the `TextDecoration `of the `Label `to `StrikeThrough `(when canceled or rejected) or to None in any

[2021-03-22 14:08] ppetrov opened #14048 "[Bug] ListView the first item isn't displayed initially"
### Description
ListView the first item isn't displayed initially on iOS. You need to scroll it to see the first item.

### Steps to Reproduce

1.  Launch the attached project on iOS

### Expected Behavior
The first item to be displayed.

### Actual Behavior
The second item is displayed at the first position.  Note that even when you scroll to view the top of the list, the first item appears but t

[2021-03-22 14:12] Vencode commented on #13973
Still waiting for a workaround or fix for this issue :(

[2021-03-22 14:13] ugnivs commented on #13044
It seem like bottom inset is calculated like VerticalItemSpacing * collectionView.NumberOfItemsInSection. What is the reason
https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e176d196e17/Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs#L116

[2021-03-22 14:18] pedroasconde commented on #13973
Same thing is happening to me with version 5 of Xamarin Forms: carousel is displaying all the items at once, instead of one.

Does anyone have a fix/workaround for it?

[2021-03-22 14:29] ppetrov opened #14049 "[Bug][iOS] ListView - Only half of the items are displayed"
### Description
ListView - Only half of the items are displayed

### Steps to Reproduce

1.  Launch the attached project

### Expected Behavior
All 20 items (from 0 to 19) are displayed.

### Actual Behavior
Only 10 items are displayed even when the ListView is scrolled to the last item.

### Basic Information

- Version with issue: 5.0.0.2012
- Last known good version: N/A
- Platform Target Frame

[2021-03-22 14:51] aperel66 commented on #14027
Is there an update/workaround on this?

[2021-03-22 15:15] aperel66 commented on #14027
![image](https://user-images.githubusercontent.com/54277456/112012773-d9c82c00-8aff-11eb-9733-00f9a0c58dd4.png)

[2021-03-22 15:15] aperel66 commented on #14027
No IPA

[2021-03-22 15:26] aperel66 commented on #14027
Same process with version 16.8.3:

![image](https://user-images.githubusercontent.com/54277456/112014678-8060fc80-8b01-11eb-9e16-eb4e0aaca31f.png)

[2021-03-22 15:55] john-dalsgaard commented on #14010
I think I see the same issue when using AiForms.Dialogs....

[2021-03-22 15:59] stephenhauck commented on #10754
@PureWeen
I was trying to set the color of a toolbar item using data binding like so
![image](https://user-images.githubusercontent.com/12648793/112019182-91137180-8b05-11eb-93e0-8ca0bb08ebe2.png)

The property is raising property changed but not showing any affect in the UI

If I set the color to say "Red" like so  and not a data bound value it works
![image](https://user-images.githubusercontent

[2021-03-22 16:47] stesvis commented on #11704
I have the same issue in Xamarin Forms 5, not just when switching to dark mode but also back to light mode.
Maybe it has to do with using `AppThemeBinding` directly in styles in **App.xaml**?

[2021-03-22 17:21] stephenhauck commented on #6593
Anyone have an update on this ?
I am trying to simply databind a color change and it's not working ...
I was trying to set the color of a toolbar item using data binding like so
![image](https://user-images.githubusercontent.com/12648793/112031175-692a0b00-8b11-11eb-933c-b5ce867ed7d5.png)

The property is raising property changed but not showing any affect in the UI

If I set the color to say "Red

[2021-03-22 17:36] PureWeen commented on #13843
@Jakar510 apologies if I missed you saying this somewhere but do you need to update any of your androidX libraries? Can you just use what XF pulls in transitively?

It looks like AndroidX removed an API we are using

If I remove all of your AndroidX/Support library references and only leave what's needed to compile then I'm able to run your project

[code]

[2021-03-22 17:53] czuvich opened #14050 "[Bug] CollectionView with Map in Header Refresh Causes Black Screen on Android"
### Description

Setting the ItemsSource on a CollectionView with a Xamarin.Forms.Maps.Map causes a "flicker" on Android.

### Steps to Reproduce

I've attached a repo project.  I verified on a Motorol Moto G running Android 7.0.  The problem does not exist on iOS.

1.  Set the API_KEY in the AndroidManifest for rendering a Map
2.  Run the application and wait every 5s.  There's a Timer that execu

[2021-03-22 18:12] tdoell commented on #6593
@stephenhauck When I had created this issue and looked at the code, I believe the property changed event was subscribed to, but no properties were being looked at to update...
Unfortunately the only way to get around that is to re-make your list of toolbar items or bind to the `IconImageSource` property directly and not a property on the `FontImageSource` class...

[2021-03-22 18:31] wutever0 commented on #13597
Thank you for the work arounds. Any chance we can have this looked at sometime soon?

[2021-03-22 18:44] Redth commented on #13580
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:44] #13580 closed

[2021-03-22 18:44] Redth commented on #13214
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:44] #13214 closed

[2021-03-22 18:45] Redth commented on #13579
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:45] #13579 closed

[2021-03-22 18:45] Redth commented on #13533
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:45] #13533 closed

[2021-03-22 18:45] Redth commented on #13624
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:45] #13624 closed

[2021-03-22 18:45] Redth commented on #13062
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:45] #13062 closed

[2021-03-22 18:45] Redth commented on #12616
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:45] #12616 closed

[2021-03-22 18:45] Redth commented on #13362
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:45] #13362 closed

[2021-03-22 18:46] Redth commented on #13723
Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2021-03-22 18:46] #13723 closed

[2021-03-22 19:13] spadapet commented on #14006
@StephaneDelcroix hold on going forward this PR for now, I'm going to test out moving the BindingFailed event handler to an earlier location in the HotReload code.

[2021-03-22 20:02] a-einstein commented on #13868
I seem to be struggling with this problem for at least half a year now now. I have also found similar issues from a long way back.

Some details.
- Visual Studio 16.9.2.
- Xamarin.Forms solution for Android and UWP.
- No problem on Android 10, but crashes on with UWP on Windows 10.
- Problem occurs in a project on Standard 2.0.3.
- References System.ServiceModel.Duplex, System.ServiceModel.Http, S

[2021-03-22 23:24] stephenhauck commented on #6593
Not sure what you mean by _"re-make your list of toolbar items or bind to the IconImageSource property directly "_
I will see if I can get something to work ... seems like this is being ignored in favor of Maui ???

[2021-03-23 07:14] bbhxwl opened #14051 "unavailable System.Drawing.Image.FromStream(stream);"
I use Xamarin.Essentials.MediaPicker.CapturePhotoAsync got the picture

I want to crop some of the pictures. What should I do?

Net core uses the following code, which does not work in xamarin

public static Image AcquireRectangleImage(Image source, Rectangle rect)
        {
            if (source == null || rect.IsEmpty) return null;
            Bitmap bmSmall = new Bitmap(rect.Width, rect.Height

[2021-03-23 08:15] jsuarezruiz commented on #14012
I'm going to close this issue to put the focus on https://github.com/xamarin/Xamarin.Forms/issues/14021

[2021-03-23 08:15] #14012 closed

[2021-03-23 08:31] jsuarezruiz commented on #14043
@bbhxwl Could you attach a small example where reproduce the issue?

We need more info to reproduce the issue:
- What Xamarin.Forms version do you use?
- Does it only happen on device or simulator too?

[2021-03-23 08:34] jsuarezruiz commented on #14041
Seems to be the same (or related) as #11704

[2021-03-23 08:36] jsuarezruiz commented on #14042
Seems to be the same (or related) with https://github.com/xamarin/Xamarin.Forms/issues/13843

[2021-03-23 08:39] jsuarezruiz commented on #14037
@davidtabor90 Could you indicate in which version of Android this happens to you?

[2021-03-23 08:43] mos379 commented on #6593
@stephenhauck yes a lot of items here are pushed back.
If you search here for "BindableToolbarItem" you should be able to make that solution work for your scenario.

[2021-03-23 08:44] davidtabor90 commented on #14037
@jsuarezruiz  We test is on on emulator with Android version 9, device with Android 8 with same error result. Then device with Android 10 and this is OK without error.

[2021-03-23 08:47] jsuarezruiz commented on #13997
Is not. There is certainly an effort in .NET MAUI but Xamarin.Forms will continue to be officially supported until November 2022. And this has several implications:
- Triage: The team continuously triage, reviewing issues, validating and cataloging, as well as trying to give feedback or workarounds, etc.
- Fixes: With the focus on critical, regressions, etc.

[2021-03-23 08:47] JFMG commented on #6174
I use XF 4.8.0.1687 and can confirm this bug is happened on an iOS 14.4 iPhone 12 simulator on the **top** tab bar. I could not reproduce this on the bottom tab bar.

[2021-03-23 08:49] jsuarezruiz commented on #14034
cc @BretJohnson

[2021-03-23 08:51] jsuarezruiz commented on #13991
@angelru  Is it programmatically scrolling to a specific item? Could you attach an example where reproduce the issue?

[2021-03-23 08:54] jsuarezruiz commented on #13974
Fixed it in 16.10/8.10.

[2021-03-23 08:56] jsuarezruiz commented on #13956
@virsanna Could you attach a sample where reproduce the issue?

[2021-03-23 09:00] decv86 commented on #13997
Tnx @jsuarezruiz
We hope and believe that this is so.

[2021-03-23 09:03] jsuarezruiz commented on #13537
@stanios Does it happen on any specific device?. I have tried to reproduce on iPad 14.4 simulator without success.

[2021-03-23 09:07] jsuarezruiz commented on #14031
If XAML finds it at runtime, intelisense should too. cc @mgoertz-msft

[2021-03-23 09:08] jsuarezruiz commented on #13963
`x:Key` require a string literal, just like `x:Name`

[2021-03-23 09:11] jsuarezruiz commented on #14033
Is not directly related to Xamarin.Forms. Could you open the issue in Visual Studio 2019 https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019?.

[2021-03-23 09:16] jsuarezruiz commented on #13947
@holecekp Could you attach a sample where reproduce the issue?

[2021-03-23 09:30] jsuarezruiz commented on #14049
Workaround: Using a `CollectionView` works as expected.

[2021-03-23 09:33] jsuarezruiz commented on #14048
The SelectedItem is set to the first item (0). Without setting the first element, the behavior is the expected, setting the SelectedItem we get the behavior described by the issue.

[2021-03-23 10:49] angelru commented on #13991
@jsuarezruiz no, just navigate between the tabs in debug mode and see the messages
[13991.zip](https://github.com/xamarin/Xamarin.Forms/files/6188865/13991.zip)

[2021-03-23 10:51] jsuarezruiz commented on #14046
Could you share a gif/video or an attached sample where see or reproduce the issue?

I have created a small sample:
[Issue14046.zip](https://github.com/xamarin/Xamarin.Forms/files/6188871/Issue14046.zip)

And the behavior is:
![issue1406](https://user-images.githubusercontent.com/6755973/112135334-f59a0380-8bcd-11eb-9831-2aef16552dc5.gif)

[2021-03-23 10:54] ppetrov commented on #14049
For new development I'm using CollectionView but whenever I need to maintain an "old" app I try to avoid changing the use of a ListView to CollectionView.

[2021-03-23 10:58] jsuarezruiz commented on #13998
@PaulAnderson02 Do you have more detailed logs or could you attach a sample where reproduce the issue?

[2021-03-23 11:01] jsuarezruiz commented on #14008
@EvgenyPrikhodko Could you attach a small sample where reproduce the issue?, could you share the registered routes?, happens on Android and not on iOS?

[2021-03-23 11:06] jsuarezruiz commented on #13957
@Redth Can we escalate this issue and move on the VS team?

[2021-03-23 11:07] jsuarezruiz commented on #13962
@KlaasTroost The feedback from Shane is a workable solution for you?

[2021-03-23 11:17] jsuarezruiz commented on #14038
Cannot reproduce the issue:

![datepicker-events-uwp](https://user-images.githubusercontent.com/6755973/112138363-b79ede80-8bd1-11eb-8df2-edb7d0455393.gif)

Could you attach a small sample where reproduce the issue?

[2021-03-23 11:57] DaveBrickley commented on #13510
I am getting this issue if I double tap on a link before the page is ready to respond

- My index page is still in the process of loading
- There's a link to a page
- I tap it twice because the debug build hasn't finished loading the page even though elements are visible
- It goes to the page concerned
- The error is thrown when try to navigate backwards

Is there any way to trap it so I can force

[2021-03-23 12:00] KlaasTroost commented on #13962
Op di 23 mrt. 2021 om 12:07 schreef Javier Suárez ***@***.***>

--
Mvg

Klaas Troost

[2021-03-23 12:04] KlaasTroost commented on #13962
Hello Javier,

The feedback from Shane is a workable solution as I already replied to
Shane but that was with me business email account (
***@***.***)

Thank you very much

With kind regards

Klaas Troost

Op di 23 mrt. 2021 om 13:00 schreef Klaas Troost ***@***.***

--
Mvg

Klaas Troost

[2021-03-23 12:07] jsuarezruiz commented on #14024
I have tested it in different platforms using Xamarin.Forms 5.0 and can dynamically update the points (add, remove etc).
[Issue14024.zip](https://github.com/xamarin/Xamarin.Forms/files/6189418/Issue14024.zip)
![update-polygon](https://user-images.githubusercontent.com/6755973/112143762-9db4ca00-8bd8-11eb-9d6f-69f543ff97ae.gif)

[2021-03-23 12:18] priyanka-kondapuram commented on #12788
@jsuarezruiz @PureWeen @rmarinho
I have updated the sample code, to exactly what I have in the production app, where I'm using a picker inside a ContentView and then calling that ContentView in the master page. You will see a new picker inside the Master Page.

And also added another ContentView containing picker, called inside payment page.

The production app has the same button clicks and code.

[2021-03-23 12:38] Cfun1 commented on #5477
Also a Padding property would be a good plus, buttons have big padding by default. BackgroundColor only affect border color of the buttons currently.

[2021-03-23 12:42] jsuarezruiz commented on #13972
[code]

[2021-03-23 12:44] jsuarezruiz commented on #13993
@angelru What Xamarin.Forms version are you using?

[2021-03-23 12:47] ichijikuibo commented on #13972
I noticed this problem and did my testing of it on android but it is also on iOS as well. I haven't checked myself on the current version but someone else posted in the old closed topic confirming that it is still in iOS.

[2021-03-23 12:52] angelru commented on #13993
@jsuarezruiz  the latest version

[2021-03-23 13:04] Jakar510 commented on #13843
@PureWeen I'm currently using Xamarin.Forms 4.8.0.0.1821 currently. 5.x + crashes, in one way or another.

[2021-03-23 13:06] jsuarezruiz commented on #13951
@alraseen What Xamarin.Forms version are you using?, what version of android are you testing?

Could you attach a small sample where reproduce the issue?

[2021-03-23 13:14] tdoell commented on #6593
You could listen to the property changed of your `SubmitButtonBackgroundColor` in your code behind and when that property changes, do `ToolbarItems.Clear()` and create the list of toolbar items again in the code behind.

[2021-03-23 13:21] jsuarezruiz commented on #14009
@Redth What is the correct repository to transfer this issue?

[2021-03-23 13:29] jsuarezruiz commented on #13967
Attached repro sample:
[Issue13967.zip](https://github.com/xamarin/Xamarin.Forms/files/6189967/Issue13967.zip)

[2021-03-23 13:34] stephenhauck commented on #6593
That seems to be the only way to get this done ... seems MS is too busy worrying about Maui ..... seems they forget people don't adopt right away and the old code still needs to work for a while ....

It looks like the code is right ....
![image](https://user-images.githubusercontent.com/12648793/112154354-9252a600-8bba-11eb-9c40-9f28213c7cb0.png)

Maybe I will debug it later when I have some time

[2021-03-23 14:35] stesvis commented on #14041
Yes, seems the same. Plus it happens to me also when I switch from dark to light, not only from light to dark.

[2021-03-23 14:50] holecekp commented on #13947
I have figured out when the crash happens. I have a button that opens a new page (await Shell.Current.Navigation.PushModalAsync(...)). The page however takes some time before it is rendered. Meanwhile, if the user manages to tap again on the button that calls PushModalAsync again, than the page opens all right, but the subsequent returning by PopAsync crashes the application.

So the workaround is

[2021-03-23 14:51] jsuarezruiz commented on #14040
@Axemasta They run as part of the control gallery. You have to run the control gallery and then there's a button at the top like "Swap root for tests".

[2021-03-23 14:57] jsuarezruiz commented on #13959
cc @PureWeen

[2021-03-23 14:59] jsuarezruiz commented on #14020
cc @BretJohnson

[2021-03-23 15:05] mgoertz-msft commented on #14031
How does the runtime work without a concrete type?

[2021-03-23 15:20] giuseppenovielli commented on #13997
@jsauvexamarin Thanks you for all works!!

[2021-03-23 15:49] CARP-Kaiser commented on #2049
Just an update https://developercommunity.visualstudio.com/t/xamarin-forms-entry-does-not-accept-foreign-langua/449922 is still an issue in forms v5.0.0.1931. I have a commercial app out where I need this to work. Two weeks ago I was told I needed multilingual support and this is the last thing holding me up. Has anyone found a workaround while this is in progress?

[2021-03-23 15:50] hartez commented on #13777
@Tommigun1980 Can you upload/post a new version of your repro project that's updated to the latest XF version? That way I can compare to the version I have here - maybe I'm missing a detail when updating the project.

[2021-03-23 15:51] chrisevans9629 commented on #14031
It works at runtime with a concrete type, but the intellisense doesn't recognize the that an interface that inherits another interface has properties of the interface it inherited.

[2021-03-23 16:13] #13960 closed

[2021-03-23 16:19] jantanis opened #14052 "[CollectionView] Changing IsGrouped affects button click-ability in group footer."
### Description
This happens since XF 5.0.0.2012, before there was no issue. We have 2 CV's on page. Based on data we determine to show the grouped one or the other. Since the upgrade a button inside the group footer is no longer clickable.

### Steps to Reproduce

1. Open solution attached
2. Run on iOS
3. Try to click on button in group footer
4a. Remove stacklayout around CV -> works
4b. Downgr

[2021-03-23 16:21] jsuarezruiz commented on #14027
@Redth Can we transfer this issue to the tooling team?

[2021-03-23 16:26] PureWeen commented on #13959
will need to play with this a bit

looks like we'll need to add some Descriptors to help out Accessibility
https://developer.apple.com/design/human-interface-guidelines/accessibility/overview/user-interaction/

[2021-03-23 17:01] stephenhauck opened #14053 "I wish .... Is there a "debug build" put out by the CI / CD process that generates the NuGet package ?"
I waned to look into these issues ..
https://github.com/xamarin/Xamarin.Forms/issues/10754
https://github.com/xamarin/Xamarin.Forms/issues/6593

But I need a debug build of the package and symbols to do so ... can you (do you already) generate a debug build of the package for us to use when you publish ?

[2021-03-23 17:09] jamers99 opened #14054 "Xamarin Forms iOS - MTOUCH : error MT5210: Native linking failed, undefined symbol"
### Description
We're getting lots of MTOUCH errors on our on premise Mac since the latest Visual Studio update.
**This is stopping our builds!** We can't push updates until this is fixed!
We've tried updating the Mac to High Sierra, but the same issue is happening

### Steps to Reproduce
Build with MSBuild (using Azure DevOps Pipeline "Xamarin.iOS" task)
[code]

### Expected Behavior
It was previ

[2021-03-23 17:40] emaf commented on #14027
Hi @aperel66, since this isn't a Xamarin.Forms problem, could you please report it from Visual Studio (https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019)? By doing that it'll be tracked through https://developercommunity.visualstudio.com/home and we'd get logs from your session.

It'd also be great if you can attach to that report the content of th