[2019-10-06 04:40] adrianknight89 commented on #7803
@samhouts This issue exists in CollectionView as well.

[2019-10-06 05:02] adrianknight89 commented on #2320
@hartez @samhouts Looks like this one has a UI test and instructions already?

[2019-10-06 06:26] Magendanz commented on #7268
@samhouts @Julingska : Bug still present in 4.3.0.851321-pre3.

[2019-10-06 06:45] knocte opened #7841 "[Improvement] Better version tracking between git and nuget"
## Summary
Currently, versions used in nuget packages don't provide any clue whatsoever about what exact version in git they map to. This makes it damn hard for contributors to work on bugfixes that fix regressions, because the easiest way to find the culprit of a regression is to bisect between 2 versions (1 bad and 1 good).

Example: the latest releases in nuget are 4.3.0.851321-pre3 and 4.2.0.8

[2019-10-06 07:14] mzhukovs commented on #1711
@almirvuk  @PaulsonMac   any idea how to update the iOS code to use WkWebViewRenderer instead? UIWebView will be obsolete soon as Apple will begin rejecting apps that use it.

[2019-10-06 09:07] mfkl commented on #6663
This regression was introduced in `3.4.0.1008975`. The previous version `3.3.0.967583` does not exhibit the problem.

With 3.4 and your repro, GTK outputs
[code]

And the navigation bar does not seem to be drawn properly in 3.4.

https://github.com/xamarin/Xamarin.Forms/pull/4112 looks like it may be part of the cause of regression, but reverting it doesn't quite fix it either.

[2019-10-06 09:09] almirvuk commented on #1711
Maybe you should follow this thread: https://github.com/xamarin/Xamarin.Forms/issues/7323

[2019-10-06 09:40] mzhukovs commented on #1711
@almirvuk thanks but that has nothing to do with sizing the WKWebView to autofit its content, unless I am missing something?

[2019-10-06 09:42] almirvuk commented on #1711
Sorry I was thinking that you asked about WKWebView support regarding that Apple publishing issue notice.

[2019-10-06 09:47] theo-albers commented on #7751
Disabling the cache didn't help. I installed the APK of the release build and that works fine. So I guess it's VS 16.3 related? I will have another look later this week.

[2019-10-06 09:48] theo-albers commented on #7751
It's more if you have other HTTP requests in your App, it could go wrong, randomly, right?

[2019-10-06 10:11] mknotzer commented on #7449
@issaaccbb For some reasons I can't reproduce the bug any more, how about you?

[2019-10-06 12:29] sthewissen commented on #7744
Also important to take into account: setting a corner radius clips shadows off of most things. In that regard shadows, corner radii and maybe even borders are all tightly coupled to one another. For these to co-exist with corner radii in my experience you're pretty much required to add a wrapping element around whatever control wants to take the shadow (in code). Both elements then use the same bo

[2019-10-06 13:09] adrianknight89 commented on #7841
I struggled with this in the past. This would be a great change. I'd like to see the git hash in the nightly builds as well. If adding the hashes to Nuget names is not possible, then I'd like to see a wiki with the 1:1 mapping & proper links. In addition, I'd like to know which branch was used to build a Nuget package. Thus, we need a table of _versions, branches, and hashes_.

Can you explain why

[2019-10-06 13:20] adrianknight89 commented on #7838
I recently saw a similar issue, and my workaround was to delete the `LaunchScreen.storyboard` but not commit the change. You might want to make sure you're using the latest Xamarin packages on your Mac. Also, restarting Mac and/or VS usually fixes small issues.

[2019-10-06 13:43] knocte commented on #7841
It is possible, look at the link I provided, it's done there in that nuget package.

AFAIU, letters in version numbers make the version be a pre-release. Not sure if this is a rule in the SemVer spec.

[2019-10-06 13:45] adrianknight89 commented on #7841
I saw the link before. What I meant was whether the team wanted to go that route or not depending on other factors.

[2019-10-06 13:47] adrianknight89 commented on #3172
@IosDeveloperHarsh The `Scrolled` event provides a lot of useful information in the event args. Look at first and last visible item indexes there.

[2019-10-06 13:54] adrianknight89 commented on #3172
@rafiwardak2003 Gallery samples with CollectionView groups work on Android as of today though I haven't run the sample you've provided. Which Nuget were you using? Try with the latest pre-release or nightly.

[2019-10-06 13:59] adrianknight89 commented on #3172
@cabal95 I'm not qualified to answer this, but if I had to guess they will eventually be implemented. Perhaps, we need to have an active issue to track this. I do know that the initial header/footer work excluded sticky stuff.

[2019-10-06 14:15] uzairali001 commented on #7838
What do you mean by

I'm indeed using latest mac os, itunes, xcode, xamarin packages, visual studio etc and also did restart mac, visual studio, windows multiple times, clean project, delete bin and obj folder, delete mtbs folder on mac but still issue persist.

later I resolved this issue by changing build action from `InterfaceDefinition` to `None` then I got different error something about asse

[2019-10-06 14:46] Happypig375 opened #7842 "[Bug] [UWP] Item Spacing still exists even when ItemSpacing is 0"
### Description
Item Spacing still exists even when ItemSpacing is 0

### Steps to Reproduce

[code]

### Expected Behavior
No spacing exists between items

### Actual Behavior
Spacing exists

### Basic Information

- Version with issue: 4.2
- Last known good version: Idk
- IDE: VS16.3.2
- Platform Target Frameworks:
  - UWP:  17134
- Affected Devices: My PC

### Screenshots

![image](https://user

[2019-10-06 16:17] MoRRtED commented on #6568
It seems to be still  a problem for Xamarin.Forms v4.2.0.709249 and I've already faced with it recently.
After examinating this problem I found out the Frame of current container (or control which is interpreted for native purposes) is not calculated or defined on the attaching stage (I've not checked why yet).
So the main thing I did when I tried to avoid this problem was to use Element and wait

[2019-10-06 16:20] Happypig375 opened #7843 "[Bug] Cannot set items inside CollectionView to occupy entire width of page and without interelement spacing"
### Description, Steps to Reproduce, Expected Behavior, Actual Behavior, Screenshots
[code]
![image](https://user-images.githubusercontent.com/19922066/66272087-e323f100-e897-11e9-8c7c-ccb8e1801402.png)

### Basic Information

- Version with issue: 4.2
- Last known good version: No
- IDE: VS16.3.2
- Platform Target Frameworks:
  - UWP:  17134
- Affected Devices: My PC

### Reproduction Link

[Wher

[2019-10-06 16:48] VitalyKnyazev opened #7844 "[Bug] ListView with RecycleElement truncates right aligned labels on Android"
### Description
ListView with caching strategy RecycleElement and right aligned labels randomly truncates labels on Android after upgrade to XF 4.x

### Steps to Reproduce

1. Add a ListView with CachingStrategy=RecycleElement;
2. Within DataTemplate use a label with HorizontalOptions=End;
3. Add hundreds of items to the list and scroll up and down actively.

Using HorizontalTextAlignment=End reso

[2019-10-06 17:09] PureWeen commented on #7751
Possibly. There are a few Task/HttpClient Mono Issues that will be part of some upcoming builds that I'm hoping this out

In the mean time @theo-albers here's the nuget from the PR I referenced above. If you could test this out and let me know what it does for you that would be awesome!!

[nuget.zip](https://github.com/xamarin/Xamarin.Forms/files/3694666/nuget.zip)

[2019-10-06 18:12] pengalo commented on #7327
Microsoft, have you reproduced this issue? This is now a blocker for me because the previous versions have a bug with custom shell title (Shell.TitleView) where it obscures the top of the main page content. I can't release with either bug.

[2019-10-06 18:14] PureWeen commented on #7327
@pengalo fixed by

https://github.com/xamarin/Xamarin.Forms/pull/7768

[2019-10-06 21:49] sthewissen commented on #1754
@Redth I can confirm that this CAN be done using `ViewOutlineProvider` as long as the custom shape you're setting the shadow outline to is a convex shape. For a rounded rectangle, this should always be the case.

[code]

[2019-10-06 22:14] Sebastian1989101 opened #7845 "[Bug] iOS 13 OverrideUserInterfaceStyle makes some controls weird"
Using `UIApplication.SharedApplication.KeyWindow.RootViewController.OverrideUserInterfaceStyle` to override the system UI style causes some controls like the SearchBar to have the wrong colors. I'm trying to use this to make the whole app match the selected theme which can be configured within my app. Setting this to a "Light" theme while iOS 13 itself is set to Dark theme causes the SearchBar to

[2019-10-07 02:05] john-heaven opened #7846 "iOS 13 Changes to UISearchBar tint's, can't achieve the same outcome of iOS 12"
## Summary
I've been experimenting all day and trying to figure out just how to get my UISearchBar to appear the same in iOS13 as it appears in iOS12/11

## API Changes

IOS Version  : 13
Xamarin Froms : 4.2.0.848062
Visual Stduio : 16.3.1

e.g.

So the way the search bar is added is simply a new UISearchController.

     var searchController = new UISearchController(searchResultsController: null)

[2019-10-07 03:24] kelvincwk commented on #5500
Any updates where we are at for this?

[2019-10-07 03:55] craigwi commented on #7727
In another debugging session, I stopped on all methods named OnTouchEvent.  There is quite a bg difference between the two cases involving the lower gray rectangle -- when it moves and when it doesn't.

Do you have any additional pointers on a workaround?

[2019-10-07 04:24] syncsiva commented on #7093
Hi Team, Can you update us on this issue?

[2019-10-07 04:24] syncsiva commented on #7574
Hi Team, Can you update us on this issue?

[2019-10-07 04:28] syncsiva commented on #6100
Hi Team, Can you update us on this issue?

[2019-10-07 04:44] DineshBabuYadav commented on #7791
@PureWeen , Thanks. Can you please share me the link where i can log this bug report and get the further updates?

[2019-10-07 04:49] mzhukovs opened #7848 "[Bug] Material Visual has long paths making it difficult to publish to app store for iOS"
### Description

After archiving a Xamarin Forms iOS app, it is very troublesome to distribute it to the app store due to an issue with long paths which I believe stem from usage of the Xamarin.Forms.Visual.Material (apologies if I am mistaken):

Unable to copy file   "C:\Archives\2019-10-05\Cheshire.iOS 10-05-19 9.19   PM.xcarchive\Products\Applications\Cheshire.iOS.app\Frameworks\MaterialCompone

[2019-10-07 07:03] theo-albers commented on #7751
Hi @PureWeen I just tested the attached package and that solved the problem: I can see the downloaded picture. Since this was a low package version, I had to remove some other dependencies, but these were not related to this part of the app.

Still it makes me wonder how to move forward, since I'm having this problem as well when I switch to the latest release of the Xamarin Forms 4.2 package, in

[2019-10-07 08:09] jsuarezruiz commented on #7293
Thanks for the feedback @davidortinau. I have updated the Spec:
- We specify that `BackgroundColor` will be deprecated.
- Updated the `Gradients` property, now is `GradientStops`.
- Added Scope section. To define the scope of this Spec, we will focus on having the Background property (SolidColorBrush, LinearColorBrush, etc.) but we will not cover (at least for now) BorderColor, etc or other color

[2019-10-07 08:16] Riuujin opened #7849 "[Bug] Android AppShell TabBar translate "More" menu text"
### Description
I am using AppShell with a tab bar to create a simple bottom tab menu.
On Android when more tabs are created then fit within the view, it wraps the non fitting tabs in a menu.
However when the device is in a different language the text of this menu is still the English "More".

### Steps to Reproduce

1. Create an AppShell project
2. Add more tabs than fit on your android device
3.

[2019-10-07 08:45] davidbritch commented on #7826
I just tried it again and was able to repro it in about 5s. I can always screen share with someone if required.

[2019-10-07 08:49] jfversluis commented on #7837
Hi @davidpsaylor! Thanks for reporting!

This indeed doesn't work. What happens is that `DriverPilotTransport` is used as an actual string value which is used as the index. However, I don't believe this syntax works on WPF as well (for instance, see: https://stackoverflow.com/questions/16903244/wpf-binding-collection-with-index).

Could you maybe provide the WPF equivalent that you are trying to c

[2019-10-07 08:55] jsuarezruiz commented on #6033
Thanks for the feedback @davidortinau!.

1. I have added a sample of what I had in mind.
2. When you navigate to a page, if the page have a transition type assigned, will use that transition.
3. Good question. I had not thought about extending or creating custom transitions. However, I leave a possible option below.

[code]

I will think about this better to have something more solid and thus add

[2019-10-07 09:00] jfversluis commented on #7839
Hm although the border [update is triggered](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.UAP/FrameRenderer.cs#L49) by the `HasShadow` property, it doesn't seem to apply any shadow. Looks like this never was implemented.

[2019-10-07 09:07] jfversluis commented on #7841
Hi @knocte thanks for the suggestion!

I think it might be much easier than you think. Did you check out the [Releases tab](https://github.com/xamarin/Xamarin.Forms/releases) on our repo? :) Does that already solve some of the pain you're experiencing?

[2019-10-07 09:12] polieadie commented on #7327
I just tried with version 4.2.0.848062 (latest).
Still the same problem with back button.
I have no choice but to go back to 4.1.0.555618.

Do we have a timeline when this will be solved on a released version?

[2019-10-07 09:18] OmerHmead opened #7850 "ListView Selection Color disappeared on ios 13"
### Description

### Steps to Reproduce

1.  Download the sample project for List View →https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/workingwithlistview/
2. Update Xamarin forms to 4.2.0.848062
3. Run the sample to any device with ios 13

### Expected Behavior
when you tab to the cell view the selection color should be appeared
### Actual Behavior
the tab event invoked bu

[2019-10-07 09:23] melimion opened #7851 "[Bug] macOS button padding not implemented"
### Description
Button padding not implemented on macos
### Steps to Reproduce

1. open controls gallery
2. open button gallery page
3. padding view

### Expected Behavior
button with padding
### Actual Behavior
no padding
### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - macos
- Android Support Library Version:
- Nuget Packages:
- Aff

[2019-10-07 09:24] jfversluis commented on #7843
Hi @Happypig375 thanks for the report!

Would you mind updating the post and elaborating a bit more about what should work how according to you?

[2019-10-07 09:28] Happypig375 commented on #7843
Updated

[2019-10-07 09:31] AhmedAdelGadElkareeem opened #7852 "filterassemblies task failed unexpectedly (Android Project )"
### Description

### When run my app in debug mode it deploy successfully but when in realease mode I have this error and app cannot deploy

Target _AddAndroidCustomMetaData:
    /Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(520,3): error MSB4018: The "FilterAssemblies" task failed unexpectedly.
    /Library/Frameworks/Mono.framework/External/xbu

[2019-10-07 09:35] rkshnair commented on #7019
@samhouts Any Update On this issue..?

[2019-10-07 09:53] MagicAndre1981 commented on #7772
ok, here is the [problematic line](https://github.com/xamarin/Xamarin.Forms/blob/24fec62cdd8a140868ea3da4565cebb47e6654e4/Xamarin.Forms.Platform.Android/Forms.cs#L326)

Xamarin.Essentials uses [UiModeManager.FromContext and HasFlag to check if flags like TV are set](https://github.com/xamarin/Essentials/blob/master/Xamarin.Essentials/DeviceInfo/DeviceInfo.android.cs#L82). So XF also [misses valid

[2019-10-07 09:55] #7339 closed

[2019-10-07 09:55] #5395 closed

[2019-10-07 09:55] #7283 closed

[2019-10-07 09:55] #7593 closed

[2019-10-07 10:05] jfversluis commented on #7851
Confirmed this is not implemented yet

[2019-10-07 10:34] almirvuk commented on #1711
@PaulsonMac  this solution does not work on iOS (anymore), on Xamarin.Forms 4.2.0.709249, WebView with dynamic content height is not spreading in height, on XF 3.6 it still works like a charm.

[2019-10-07 11:08] Canvee commented on #3487
I face the same issue with SwiftKey Keyboard.

[2019-10-07 11:18] mnidhk commented on #7350
Have the same issue with background color isn't working with Large Titles.
The workaround mentioned above works great.

But I just find out that the latest iOS 13.2 beta it restores the behavior like before.
On this beta, everything looks solved/ok with my unchanged apps
So maybe more an iOS13 bug instead of Xamarin?!

[2019-10-07 11:36] jsuarezruiz commented on #7826
I've tried in emulator and I don't get the same result as the video (infinite scroll). If swipe very fast then sometimes, for example swiping to the left, the items move to the wrong direction quickly (but not infinitely). Will test it in a device (probably is easier to reproduce).

[2019-10-07 11:38] davidbritch commented on #7804
I don't actually have a scenario that requires this - having different sized cards (items) can be achieved without requiring ItemSizingStrategy.

However, intellisense will display that ItemSizingStrategy can be set. So if it's to have no effect on a CarouselView, I guess we either need:

1. To block intellisense from displaying the property, if it's being set on a CarouselView (is that even possi

[2019-10-07 11:38] jsuarezruiz commented on #7803
Related PR: https://github.com/xamarin/Xamarin.Forms/pull/7840

[2019-10-07 11:44] davidbritch commented on #7826
A few more details:

IDE: VSMac 8.3.1 (build 18)
Emulator image: Pixel 2 XL Pie 9.0 - API 28 for x86 processor, 1GB RAM, 1440x2880 resolution
Android SDK Tools: 26.1.1
Android SDK Platform-Tools: 29.0.4
Android SDK Build Tools: 28.0.3 (maybe I should update to latest?)
Android Emulator: 29.2.1

[2019-10-07 11:52] jsuarezruiz commented on #7744
Thanks for the feedback @davidortinau.

1. I think I understand what you want, but could you add more details?.
2. I included the CSS sample to the Spec!.
3. Well, I thought to support Layouts that is probably the most used scenario and would cover a lot of cases. We could extend support to other controls (Views) in the future.
4. Good point. I hadn't thought about it for the Spec. I will review o

[2019-10-07 11:56] sthewissen commented on #7744
Thanks :) So what do `Frame` or `BoxView` offer on top of other controls once this thing + perhaps corner radii is implemented? I understand that deprecating entire `Layout` types is a pretty invasive action, but I do genuinely wonder why I would use those two if a normal `Grid`/`StackLayout` can do the exact same thing?

[2019-10-07 12:00] jfversluis commented on #7838
Hi @uzairali001, thanks for reporting!

I've tried to reproduce it but unfortunately am not able to. Although I know you say to just go through steps 1 and 2, this behavior is not visible to me. Would you maybe able to add a repro project to issue that does show this issue? That way we might be able to figure out what is going wrong for you.

[2019-10-07 12:19] jfversluis commented on #7852
Hey @AhmedAdelGadElkareeem, thank you for the report.

I think I notice a space in your filepath? You might want to avoid using that. Although it's still strange that it works in debug and not release. After doing some searching I came across this issue on the Xamarin.Android repo: https://github.com/xamarin/xamarin-android/issues/3423 seems like you might encounter that one.

Unfortunately, this

[2019-10-07 12:19] #7852 closed

[2019-10-07 12:24] jfversluis commented on #7849
Hi @Riuujin, thanks for the report!

While it might seem like a simple task to create a repro ourselves, I would like to ask you to add one. We do this so we can validate that this happens and is not influenced by anything other that might be at play in your (probably bigger) codebase. Also, this way we can easily see what versions of XF you have installed exactly and some other things as well.

I

[2019-10-07 12:43] Riuujin commented on #7849
[7849.zip](https://github.com/xamarin/Xamarin.Forms/files/3697212/7849.zip)
Added a simple reproduction project (within the zip file)

[2019-10-07 12:58] bnoffer commented on #7145
We have the same problem in a Forms 2.5 application.

I tried the approach with a custom page renderer:
[code]
I can verify that the property was correctly set on the parent, but it does not have any effect.

[2019-10-07 13:08] davidpsaylor commented on #7837
Hello, that binding does work on both WPF and Silverlight.  We actually reduced it down to `DriverPilotTransport` because Xamarin binding does not like spaces in there -- on WPF/SL we have it as `Driver/Pilot-Response`  with a slash and hyphen.

The stackoverflow you linked seems to be asking for a dynamic index, based on a variable. That is not what we are asking for.  We want a static string to

[2019-10-07 13:30] VladislavAntonyuk commented on #3487
I think Xamarin works with default OS keyboard. You can try to switch to default it keyboard and reproduce the issue

[2019-10-07 13:40] ryanharding opened #7855 "Startup performance on Android using Shell[Bug]"
### Description

There is a difference in startup speed when using shell on older phones.

I created a blank Xamarin Forms (4.2.0.848062) project with all nuget packages updated, updated .csproj file with all the recommended startup performance boosters , Ran a speed test in release.

3552  3614 I ActivityManager: Displayed
com.companyname.xamspeedtestnormal/md5e789a5efb4f1caf24707be2f168fbc30.Mai

[2019-10-07 13:41] jfversluis commented on #7846
Hi @john-heaven, thanks for the report!

From what I have gathered from the StackOverflow link this is opened on behalf of someone else and not all details are posted here. Most importantly: what I would like most is a reproduction showing this behavior.

From a first glance I don't see how this is something Xamarin.Forms should solve. It seems this is something that is changed in Apple APIs and t

[2019-10-07 13:41] #7846 closed

[2019-10-07 13:49] jfversluis commented on #7855
Hi @ryanharding, thanks for your efforts in investigating this.

A couple of things below.

Could you specify what this is exactly?

com.companyname.xamspeedtestnormal/md5e789a5efb4f1caf24707be2f168fbc30.MainActivity: +1s723ms

You mention a blank Forms project, which template? The really blank one? So the one just showing a Label? Because if that is the case, I don't think this comparison is real

[2019-10-07 14:05] jfversluis commented on #7850
Thank you for reporting @OmerHmead

I have a suspicion this has something to do with the changes for dark mode.

When I change the code from the project you linked to something like:

[code]

(note the `BackgroundColor` tags)

Then I start seeing the highlighting again.

[2019-10-07 14:31] chrisstaley commented on #7555
It would be nice to have a hook to control that, since, depending on the app, this behavior may or may not make sense. As a completely contrived example, given a survey screen wherein navigating away meant abandoning the survey, coming back to the screen should mean restarting the survey. Having a way to handle this natively would prevent the need for roll-your-own code from being copied around be

[2019-10-07 14:38] jfversluis commented on #7845
Hi @Sebastian1989101, thank you for reporting this.

We are aware that there are some hardcoded colors also in Xamarin.Forms that we need to get rid of, so that is probably one part of the problem. Although you should be able to work around that if you are implementing your own colors and styling.

Could you maybe provide a repro project that shows (a part) of this behavior? It would also help if

[2019-10-07 14:39] StephaneDelcroix commented on #7833
I suspected that  ¯\_(ツ)_/¯

in 4.1, the namescope of the derived view was replacing the one from the parent, and it wasn't possible to access the parent namescope

we replicate what is done with, e.g., Dictionary<,>

[2019-10-07 14:39] #7833 closed

[2019-10-07 14:45] georgethms10 commented on #7812
@PureWeen Yep the crash is resolved now. Thanks a lot

[2019-10-07 14:46] ryanharding commented on #7855
Hi Gerald,

Thanks for the feedback.

To clarify,

.csproj settings, I followed @JonDouglas post and used ;
<PropertyGroup>
    <AndroidUseAapt2>true</AndroidUseAapt2>
    <AndroidDexTool>d8</AndroidDexTool>
    <DebugType>portable</DebugType>
    <ProduceReferenceAssembly>True</ProduceReferenceAssembly>
</PropertyGroup>

I have created a repo with a Xamarin Forms project with burger menu and a ta

[2019-10-07 15:34] Welchen commented on #7850
I am having this same issue. Started with iOS 13. Have posted on the Forums and haven't seen a fix but have also had others report the same.

[2019-10-07 15:43] PureWeen commented on #7751
@theo-albers I've merged https://github.com/xamarin/Xamarin.Forms/pull/7764 so it'll be apart of the next release cycles

If #7833 is causing you issues and you feel there's a bug there can you leave a comment and a repro on that issue?

[2019-10-07 15:44] PureWeen commented on #7791
@DineshBabuYadav I don't follow what you're asking.

If you think this is a bug with Android I'd log it here
https://source.android.com/setup/contribute/report-bugs

[2019-10-07 15:47] SamuelDebruyn commented on #7505
Same with our app. It seems to happen a lot when you switch monitors or change the DPI of one of your monitors, but it's hard to repro. However, it's an important issue as the complete UX of the app suffers from it.

[2019-10-07 15:48] lrolleman opened #7856 "[Bug] Shell BackButtonBehaviour TextOverride breaks back navigation"
### Description

### Steps to Reproduce

1. Override text in a BackButtonBehaviour
ex. Shell.SetBackButtonBehavior(this, new BackButtonBehavior
            {
                TextOverride = "Test"
            });

### Expected Behavior
The Back button should now have the text "< Test"

### Actual Behavior
The Back button has the value "Text" (without the arrow) and opens the Flyout menu rather than

[2019-10-07 16:26] zhuxinghan opened #7859 "[Bug] [macOS] Navigation.PopModalAsync() makes toolbar disappear and a subsequent call to PushModalAsync() results in app freeze"
### Description

When using Navigation.PopModalAsync() to return to a page with a toolbar, the toolbar disappears. What's more, a subsequent call to PushModalAsync() results in app freeze(This may be the same as #6866 )

### Steps to Reproduce

See the attached case project.

### Basic Information

- Version with issue: 4.2.0.848062
- Last known good version: I update Xamarin from 3.6.0.220655 to

[2019-10-07 16:43] thisdarktao commented on #7520
I have experienced the same issue on iOS 13 when using a very simple layout containing a `Label`. I know this is marked "experimental" but what are we to do when the current `ListView` implementation means cells don't resize correctly on iOS and we are forced to use `CollectionView`?

[2019-10-07 17:43] samhouts commented on #5159
closed by #7289

[2019-10-07 17:43] #5159 closed

[2019-10-07 17:47] #7830 closed

[2019-10-07 17:48] samhouts commented on #6051
closed by #7615

[2019-10-07 17:48] #6051 closed

[2019-10-07 17:48] samhouts commented on #7388
closed by #7398

[2019-10-07 17:48] #7388 closed

[2019-10-07 17:54] PureWeen opened #7860 "[Bug] Top and Bottom padding on Material button can't be set to less than 8dp"
### Description

[code]

Both of the controls above render with the same padding applied to the control so you can't get a 36 dp height on a Material Button (which is allowable as part of the Material spec)

### Expected Behavior

When you set padding to zero the padding on all side of the control should be zero

### Actual Behavior
It's not zero

### Basic Information

- Version with issue: maste

[2019-10-07 17:59] czuck opened #7861 "[Bug] [iOS] a task is canceled exception when iOS prompts for permissions during a HTTP call."
### Description
Using Xamarion.iOS 12.10 and above, when iOS prompts for a permission while the code is awaiting a HTTP call, the HTTP call ends with a 'A task was canceled' exception.  This appears to be a timing issue, it doesn't happen every time but does with some consistency.

### Steps to Reproduce
1. Run the attached sample project.
2. Respond to the Notification Permission prompt
3. If the

[2019-10-07 18:16] adamhewitt627 opened #7862 "[Bug] Live Unit Testing Fails Build"
### Description
Having a Xamarin Forms project in a solution with Live Unit Testing enabled destabilizes the unit testing build & runner.
[code]

My experience was that two things would happen, even if the Forms project is not needed for tests:

1. Obviously, the build fails. LUT would tend to not report status of changes.
2. A file handle would be left open on libraries, so even with successful b

[2019-10-07 19:23] theo-albers commented on #7833
I'm having difficulties to isolate the issue in my App. I removed two names in one case and then I was able to launch that page without NameScope exception. However these names were unique in the page. This scenario was made up of a tabbedbar and 3 pages, declared in XAML. Page 3 had two names and caused for some reason the issues.
Case two is a page with 15 named elements, all having a unique nam

[2019-10-07 19:34] PureWeen commented on #7145
@bnoffer not sure why you are seeing that

I've attached a 2.5 project and for me it shows up as Full Screen using your above code
[App154.zip](https://github.com/xamarin/Xamarin.Forms/files/3699121/App154.zip)

[2019-10-07 20:10] samhouts commented on #7419
@chris579  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-07 20:10] #7419 closed

[2019-10-07 20:17] jveltd commented on #7325
An update to the latest MONO seemed to clear this bug up for us.  If you want the version number we're using, let me know.

[2019-10-07 21:01] dinobu commented on #4555
Unfortunately no.  I have been using it but we have issues with it, mainly lack of UWP support.

[2019-10-07 21:32] thomasgalliker opened #7863 "DynamicResource does not work with dot-separated keys [Bug]"
### Description
When I use DynamicResource with a dot-separated key, Xamarin.Forms throws a XamlParseException, complaining that 'the static resource xy could not be found'.

### Steps to Reproduce
1. Create a resource with key "Theme.Spacing.CardSpacing" of type double.
2. Use the defined value, e.g. to set a Grid's Padding:
`<Grid Padding="{DynamicResource Theme.Padding.CardViewPadding}" `

###

[2019-10-07 21:35] samhouts commented on #7019
This is on the backlog. Given our current set of priorities, we expect to begin working on this in mid-November. Thank you for your patience!

[2019-10-07 21:38] samhouts commented on #7268
@Magendanz  Can you please attach a small project that demonstrates this issue? Thanks!

[2019-10-07 21:40] samhouts commented on #2320
@adrianknight89 So it does! Thanks! Closed by #4384

[2019-10-07 21:40] #2320 closed

[2019-10-07 21:50] samhouts commented on #7340
@milanio We're just waiting for time to review the PR. Are you able to confirm that it resolves your issue? Thanks!

[2019-10-07 21:58] Omarkth commented on #3311
Hi, looks like this has bug is a regression, it was working up until 3.4

4.2.X
<img width="362" alt="image" src="https://user-images.githubusercontent.com/822615/66351033-7aa34580-e965-11e9-82b8-83939c598140.png">

It's even worse in 4.3-pre3 where even the normal text stopped responding to the set FlowDirection
4.3-pre3
<img width="359" alt="image" src="https://user-images.githubusercontent.com/

[2019-10-07 22:07] vsfeedback opened #7864 "Xamarin.Forms changing MainPage away from a Shell causes rendering error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/761939/xamarinforms-changing-mainpage-away-from-a-shell-c.html)._

---
Starting with an application that has the MainPage set to a regular content page.
- On a button click change the MainPage to a Shell
- On a tab in the Shell click a button which sets the MainPage back to

[2019-10-07 22:29] samhouts commented on #3262
@CliffAgius Go for it! Thanks!

[2019-10-07 23:15] PureWeen commented on #7325
@jveltd

There's been some work in that area so that wouldn't surprise me
https://github.com/mono/mono/pull/16945

[2019-10-07 23:17] jawbrey commented on #7145
@PureWeen thanks, that does work for me.  I was missing the need to overrride `WillMoveToParentViewController`

[2019-10-07 23:40] davidortinau opened #7865 "[Bug] CarouselView setting Position has dif behavior than ScrollTo"
# Description

`CitiesCarousel.Position = pos;` will change the position, but sometimes only by 1 whereas `CitiesCarousel.ScrollTo(pos, animate: false);` works as expected.

### Expected Behavior

Setting `Position` moves the CarouselView to that item index.

### Actual Behavior

It doesn't always, and usuallly only moves the index 1.

### Basic Information

- Version with issue: 4.3.0-pre3
- Plat

[2019-10-07 23:52] samhouts commented on #7056
Tested on 4.3.0-pre3. Issue no longer occurs.

[2019-10-07 23:52] #7056 closed

[2019-10-08 00:16] samhouts commented on #6988
@Eilon I was unable to reproduce this with the 4.2.0 version _or_ with the 4.3.0-pre3 version of forms. I saw all the labels. Could you retest with 4.3.0-pre3 to see if it's resolved for you? Thanks!

[2019-10-08 00:17] samhouts commented on #6988
Also, this is probably the same as #6369

[2019-10-08 00:25] samhouts commented on #6369
I confirm that this no longer occurs on 4.3.0-pre3. Thanks!

[2019-10-08 00:25] #6369 closed

[2019-10-08 02:52] DennisWelu commented on #6866
@samhouts Can you provide info on which build this is/will be available in?

[2019-10-08 03:47] Magendanz commented on #7268
Are you unable to reproduce?  I thought the code segments above were pretty clear.

[2019-10-08 03:55] DineshBabuYadav commented on #7791
@PureWeen , thanks 👍 . Someone already created a bug report. I have commented in the same.

https://issuetracker.google.com/issues/118714995

[2019-10-08 03:59] gutierrezralph commented on #1595
Any updates on this bug?

[2019-10-08 05:22] knocte commented on #7841
Oh wow, didn't know that this tab contained very useful data (such as the git hash of each release on the left side). But it could be improved because you don't see the release number that gets published in nuget unless you click on the "Assets" part to see each file.

Also it didn't help that it seems github doesn't show all the tags of the repository in the dropdown of the first landing page of

[2019-10-08 06:17] jcl71 commented on #7520
Same problem here, getting "sizing information will be ignored since the section referenced 0 does not currently exist" when scrolling longer lists in IOS

[2019-10-08 07:21] bnoffer commented on #7145
@PureWeen thanks for verifying.

I found the reason why it was not working. we have another page renderer in the application that was basically overriding the change.

My final addition to the renderer looks like this:
[code]

[2019-10-08 07:43] jfversluis commented on #6810
Hey @HelenMamalaki and other people that seem to still experience this. If it's not too much trouble could I ask you to try with the very latest 4.2 package or maybe 4.3-pre package and see if this still occurs?

If it does, please create a new issue, you can refer to this one, with a small reproduction project and other info that is relevant.

Thanks!

[2019-10-08 07:45] jfversluis commented on #7602
@ryanmendoza

There is actually a new version now, does that fix things for you?

[2019-10-08 08:02] aloptrbl commented on #6261
same here the FlyoutBehavior Disabled not working!

[2019-10-08 08:09] jfversluis commented on #6261
@aloptrbl can you confirm the Xamarin.Forms version you are using? If it is still not working in the latest 4.2 package please open a new issue with all the required information and reproduction project.

[2019-10-08 08:26] deczaloth commented on #7850
I have two build of an app, one made before the release of iOS 13, and the other made after the release. If i run both releases on an iOS 13 device, in the first the listview behaves correctly, but in the second behaves as described in the original post.
I suppose the issue has something to do with the mono update rather than with the iOS version itself.
@jfversluis , could you confirm this?

[2019-10-08 08:36] jfversluis commented on #7850
So, just to check if I understand correctly. You have the same app, once built before iOS 13 and one built after the release of iOS 13.

If you run the pre-iOS13 one _on_ iOS 13 it still works correctly?

I don't think it has to do with the Mono version, but probably that you are building against the new iOS 13 APIs. The other thing that probably got updated between these two versions is Xcode?

[2019-10-08 08:39] deczaloth commented on #7850
Yep, thats right.
This i know since i have different builds in my TestFlight App running in a device with iOS 13.

[2019-10-08 09:00] jfversluis commented on #7850
Gotcha! Valuable information, thank you :)

[2019-10-08 09:02] StephaneDelcroix commented on #7837
Thanks for the clarification. The problem here is the PickList contains 2 indexers (one taking string, one taking an int), and we resolve the wrong one.

Making the `int` indexer an explicit interface implementation "fixes" it. Use that as a workaround while we're fixing the bug.

[2019-10-08 09:06] StephaneDelcroix commented on #7837
also, stop the `#region` madness 🤪

[2019-10-08 09:14] jfversluis commented on #7674
Yeah I've seen it happen to a couple of production apps I have on my phone. When I dig a bit deeper in the how and what it seems it's a bug/feature from Apple.

There is this [Radar report](https://openradar.appspot.com/6153065) that states that something has changed. From the linked site:

Which is a bit strange regarding the HTML part. But this seems what is happening when we use the TitleStyles

[2019-10-08 09:15] jfversluis commented on #7842
Also making the item spacing bigger seems to have no effect. Looks like this isn't built yet or doesn't work properly.

cc: @jsuarezruiz

[2019-10-08 09:31] achmadrivai370 opened #7869 "[Bug]"
### Description

### Steps to Reproduce

1. @krukow
2. @bratsche
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2019-10-08 09:32] Riibit commented on #6988
@samhouts @jfversluis  Hi, been busy with other stuff for a while. I have managed to get back to this part of the project again and this issue does seem to have been fixed with pre2 or pre3. Thanks for the help guys.

[2019-10-08 09:35] jfversluis commented on #6988
Great @Riibit! Thanks for the confirmation!

[2019-10-08 09:37] jfversluis commented on #7843
As a (sort of) workaround you can wrap it into a `Grid` (or maybe other layout component) that seems to be stretching it more horizontally. I think it does make sense that the Label should behave the same way in and out of the `CollectionView`

[2019-10-08 09:46] jfversluis commented on #7859
For theToolbarItem I see a lot of these going by in the output

Then when the app crashes, this seems to be the error message/stacktrace

In other words: confirmed that his happens.

[2019-10-08 10:07] jsuarezruiz commented on #7865
This issue is the same as https://github.com/xamarin/Xamarin.Forms/issues/7798 and will be fixed with https://github.com/xamarin/Xamarin.Forms/pull/7857

[2019-10-08 10:09] #7869 closed

[2019-10-08 10:20] jfversluis commented on #7865
Are you sure @jsuarezruiz ? Because #7798 says `ScrollTo()` isn't working, while @davidortinau is saying setting `.Position =` doesn't work and `ScrollTo()` _does_ work.

[2019-10-08 11:10] jfversluis commented on #7860
@PureWeen are you sure this is specific to Material?

I've (accidentally) tested vanilla XF and there it doesn't seem to work as well. Added repro showing both. Also happens on both iOS and Android

[Repro7860.zip](https://github.com/xamarin/Xamarin.Forms/files/3702074/Repro7860.zip)

[2019-10-08 11:52] jfversluis commented on #7861
Hi @czuck, thanks for the report!

Although this does seem very specific to iOS. Do you see this specifically with Xamarin.Forms applications? Otherwise it might make more sense to open this issue on the [Xamarin.iOS repo](https://github.com/xamarin/xamarin-macios).

It looks a bit like [this issue](https://github.com/xamarin/xamarin-macios/issues/6936) also describes the same thing?

If it's not

[2019-10-08 12:05] transis2 commented on #7325
Looks like it's fixed for me too. No more erros still now.

[2019-10-08 12:14] petar-k-marchev opened #7870 "[Bug][Android] An IllegalStateException is thrown when clicking Enter and a numeric Entry has focus"
### Description
An exception is thrown when trying to Complete (press Enter) a numeric Entry (in Android, this is an EditText with InputType NumberFlagDecimal). I am able to reproduce this in at least two scenarios, both using a custom renderer. The exception is of type IllegalStateException and the message is "focus search returned a view that wasn't able to take focus!".

### Steps to Reproduce

[2019-10-08 12:31] jsuarezruiz commented on #7865
Mnn, you are right. I will check it!.

[2019-10-08 12:40] jfversluis commented on #7849
Confirmed that this is happening.

Seems to originate [here](https://github.com/xamarin/Xamarin.Forms/blob/b77de4d77da6d404a634eea32d88785d43ff3a3a/Xamarin.Forms.Platform.Tizen/Shell/ShellItemRenderer.cs#L344). It is simply set to a hard-coded string "More".

The same thing seems to happen with non-Shell Android apps [here](https://github.com/xamarin/Xamarin.Forms/blob/731134578efd362966f9ecc03fba

[2019-10-08 13:09] jfversluis commented on #7863
Hi @thomasgalliker, thanks for reporting this!

What does the definition of this resource look like? It has the actual dots in the key? There is no hierarchy resolving built in for this like with the binding on objects for example. Since the dot might be a special character in this case it makes sense that it is escaped with the quotes.

Would you be able to extract it to a standalone reproduction

[2019-10-08 13:22] GeirGrusom commented on #7751
I've encountered this issue now:

[code]

[2019-10-08 13:33] Redth commented on #1754
@sthewissen awesome!  Would love to see what you come up with for getting android to play more nicely!

[2019-10-08 13:36] jfversluis commented on #7268
Taken the liberty to create a reproduction based on the code provided. Does indeed not seem to work while setting `Position` does. Both on iOS and Android.

[Repro7268.zip](https://github.com/xamarin/Xamarin.Forms/files/3702622/Repro7268.zip)

[2019-10-08 13:39] sthewissen commented on #1754
@Redth It's currently live in PancakeView 1.3.3. Seems to work like a charm.

[2019-10-08 13:47] Zve commented on #7751
Got the same issue here. Its been working til maybe 1-2 weeks back and we havnt touch this code in a long time. Its still working on iOS but not on Android.
Running latest Xamarin.Forms build 4.2.0.848062 and android.support 28.0.0.3.
IDE: Visual Studio for Mac Pro 8.3.2 and Visual Studio Pro 2019 16.3.2 (windows).

I tested the example project https://docs.microsoft.com/en-us/samples/xamarin/xama

[2019-10-08 13:51] IngweLand commented on #7299
Having CheckBox control without Text property is a strange implementation decision. Let's see what other platforms have:

Android - has it
iOS - does not have check box
UWP - has it
WPF - has it

Of course, we can write custom controls or custom renderers for many things... But then we could write same thing for current implementation of CheckBox...

[2019-10-08 13:55] jfversluis commented on #3311
Added a repro project, seems to not work at all anymore for both iOS and Android

[Repro3311.zip](https://github.com/xamarin/Xamarin.Forms/files/3702729/Repro3311.zip)

[2019-10-08 13:56] Riuujin commented on #7849
That would solve the issue for my use case

[2019-10-08 14:05] francipvb opened #7873 "[Bug] Windows accessibility issues"
### Description

I'm a screen reader user and I have some issues with windows universal implementation, particularly with binding-context backed controls such lists, but I found that table view renderer doesn't have a proper automation peer.

When I navigate to a table with NVDA, it says the full name of the type, for example "Xamarin.Forms.TextCell", "Xamarin.Forms.TableSection". Setting automati

[2019-10-08 14:05] alfiare commented on #7864
Attaching files from the original submission.

Starting Page (Main)
<img width="455" alt="Start" src="https://user-images.githubusercontent.com/35942055/66402123-ead3ba80-e9a9-11e9-97f3-3a79f44ca15e.PNG">

Changed MainPage to the Shell
<img width="482" alt="ChangedToShell" src="https://user-images.githubusercontent.com/35942055/66402120-ead3ba80-e9a9-11e9-9be3-ad3d04679974.PNG">

Changed MainPage

[2019-10-08 14:19] jfversluis commented on #7836
When I do this the problem still persists? So it seems like this is more of a recycle kind of error. Can you try this again and confirm that you are also seeing this @adrianknight89 ?

[2019-10-08 14:30] jfversluis commented on #7864
Thanks @alfiare!

I see this happening in the repro. It seems to work fine on iOS, just Android having this issue.

[2019-10-08 14:31] mrbelk opened #7874 "Java.lang.RuntimeException in NavigationPageRenderer.Dispose"
### Description
I am experiencing a RuntimeException or ClassCastException in the NavigationPageRenderer.Dispose method during the FragmentManager "teardown" with the following stack trace:

[code]

My app uses Prism with Unity (v7.1.0.431) and this particular error happens when I navigate to a new "absolute" URL using the navigationService.NavigateAsync("/path/to/page"). The stack trace would ind

[2019-10-08 14:32] MathewLC opened #7875 "[Bug] AutomationProperties on Button still visible on Android if Text Property is empty"
### Description
This error is hapenning in the actual version of xamarin forms.

### Basic Information

- IDE: Visual Studio 2019
- Platform Target Frameworks:
  - Android: Android 10 (API Level 29)

- Nuget Packages: Xamarin.Forms (4.2.0.848062)
- Tested Devices: Emulators with Android 10 and 9. Nokia x6 with Android 9.

### Screenshots
![image](https://user-images.githubusercontent.com/37350787/

[2019-10-08 15:02] davidbritch opened #7876 "[Bug] CarouselView SnapPointsType discrepancy"
### Description

I was just staring at the latest CarouselView code in the 4.3 branch when I noticed that its constructor sets SnapPointsType to MandatorySingle:

[code]

Then I noticed that the ItemsLayout BP sets its default to LinearItemsLayout.CarouselDefault:

[code]

This default is to use SnapPointsType.Mandatory (not MandatorySingle):

[code]

Nothing too serious. It'd just be nice to iron

[2019-10-08 15:04] czuck commented on #7861
@jfversluis all of the apps I deal with are Forms apps, so it's difficult to determine if this is Forms or iOS.  I'll close this and follow the iOS report, if that fix doesn't fix this I can always report it again.

[2019-10-08 15:04] #7861 closed

[2019-10-08 15:08] jfversluis commented on #7875
Seems to happen indeed, only on Android. What I somehow suspect is that we somehow, somewhere assign this to a visible property whenever that is empty? Need to investigate a bit on that.

As a workaround you could enter a space in your `Text` property for now.

[2019-10-08 15:35] dinobu commented on #4555
Any progress on this recommendation?

[2019-10-08 15:37] davidpsaylor commented on #7837
Thanks!  Glad you will treat it as a defect.  I will use that workaround for now.
`#region` helps me look at just the method/property I want to and keep the scrollbar large.

[2019-10-08 15:37] matteopiccioni opened #7877 "[Bug] Android - Attempt to invoke virtual method 'void android.graphics.Rect.set(android.graphics.Rect)' on a null object reference"
Hello,
I have been unable to replicate in a test project but see that it will occur after using several times the app.
In iOS I have no problem.

The issue appears when I modify a specific ObservableCollection on my code (if I remove the ObservableCollection related code, the issues doesn't happens)

I have the issues using X.F. 4.1 and greater (I dont remember this issue with older versions)
I kn

[2019-10-08 15:56] breyed opened #7878 "[Bug] Page not popped on iOS 13 FormSheet swipe down"
### Description

On iOS 13, when the user swipes down on a modal page with a FormSheet [presentation style](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/ios/ipad-page-presentation-style) to dismiss it, the NavigationPage does not raise a Popped event. Instead, the page is gone, but the NavigationPage's state acts as if the page is still being displayed.

### Steps to Reproduce

[2019-10-08 16:03] mrbelk commented on #7874
I think this is a Xamarin.Android problem more-so than anything with the Nuget packages being used. I just downgraded XF (including the maps package) to the latest 4.1 version from the latest 4.2 version; downgraded the Xamarin.GooglePlayServices packages to 60.1142.1 from 71.1610.0 and this still happens. Is there a way to target an "older" Xamarin.Android version from visual studio? I just now u

[2019-10-08 16:05] hartez commented on #6988
Not reproducible on pre3.

[2019-10-08 16:05] #6988 closed

[2019-10-08 16:33] magoolation commented on #7875
I'd like to work om this as I'm focused on accessibility improvements on Xamarin.Forms

[2019-10-08 16:51] PureWeen commented on #7325
I'm going to close this one for now

Let me know if the error comes back and we can continue investigating

[2019-10-08 16:51] #7325 closed

[2019-10-08 17:07] mrbelk commented on #7874
Update: It doesn't appear to be an issue with the Xamarin.Android version, using the latest versions of XF, Xamarin.Android.*, and Xamarin.GooglePlayServices.* packages. I am going to downgrade the Xamarin.Android.* from 28.0.0.3 to 28.0.0.1 and see what happens

[2019-10-08 17:07] samhouts commented on #6866
This should have been fixed in 4.3.0-pre2. I'll reopen it for further investigation.

[2019-10-08 17:24] andreas-nesheim commented on #6881
I'd like to jump on this, if it's still up for grabs.

[2019-10-08 17:45] breyed commented on #7674
Should XF not be directly referencing the system font at all, but instead be calling [preferredFont(forTextStyle:)](https://developer.apple.com/documentation/uikit/uifont/1619030-preferredfont)?

[2019-10-08 17:52] jfversluis commented on #7875
By all means, please go ahead! I'll assign it to me for now so no one will snatch it from you. If, for some reason, you can't finish it please let me know :)

[2019-10-08 17:54] jfversluis commented on #7838
@uzairali001 is that something that you are able to confirm?

[2019-10-08 17:58] jfversluis commented on #7674
That is probably right!

[2019-10-08 18:08] adrianknight89 commented on #2758
Issues like this exist in other places too. I remember looking at the min/max values for Slider a long time ago. Validation/coercing happens at the property level so the order of things being set matters. I agree that any fix here will introduce a breaking change. Right now, documentation seems to be the way to go.

[2019-10-08 18:10] ivanteles commented on #6640
I have the same problem anyone found a way around?

[2019-10-08 18:13] edupxavier commented on #6640
This worked for my app:
https://github.com/xamarin/Xamarin.Forms/issues/6640#issuecomment-506767739

[2019-10-08 18:15] adrianknight89 commented on #7836
@jfversluis I just tested again and you're right. Commenting out that line has no value.

[2019-10-08 18:21] ivanteles commented on #6640
perfect. tank's!

[2019-10-08 18:38] thomasgalliker commented on #7863
Hi @jfversluis. It is still quite confusing to me. I'm working on getting a clean picture to reproducte this issue. The thing is, sometimes the DynamicResource binding (or they don't call it binding?) works to dotted resource strings - and sometimes, like in the example above with the Grid.Padding, it doesnt.

The resources are all set to a ResourceDictionary at runtime:
`this[ThemeConstants.Paddi

[2019-10-08 18:45] jfversluis commented on #7877
Hi @matteopiccioni thanks for reporting this!

Not being able to reproduce makes this a bit hard to get to the root cause. You do say that there is some code that has to do with your `ObservableCollection` being manipulated that triggers this?

Is there some code in that regard that you can share maybe?

[2019-10-08 19:05] DiagProf commented on #5593
Great Work, thanks a lot!

[2019-10-08 19:15] thomasgalliker commented on #7863
Strange. I wasn't able to reproduce it - not even in the original solution where it happened yesterday. Since I created resources in my local App.xaml first and then moved them to a library's resource dictionary, I guess, there was a caching problem with some lingering compiled xaml views... I don't know.

Fact is: I can now bind dot-separated resources using DynamicResource. The only thing I've d

[2019-10-08 19:16] #7863 closed

[2019-10-08 20:23] DennisWelu commented on #6866
My apologies @samhouts I've found out now that the test case application on the original post I logged actually does work at least with 4.3 pre3 where I just now tested. I had previously just tested it in my own application and jumped to a conclusion. I don't have an explanation for the NRE I'm getting in my own app running a similar scenario of just open, close, open. I'll have to investigate tha

[2019-10-08 20:29] tomahawk1277 commented on #7680
User @jfversluis posted a quick fix using a Transparent BackgroundColor value over in issue #7850 that doesn't require custom renderers.

[2019-10-08 20:35] rerickson1 commented on #7680
Thanks for the info, in my case I need to use custom renderers because I want to customize the selection color.  I can confirm I have it working correctly on iOS 13 now.

[2019-10-08 20:41] jfversluis commented on #3699
Seems to work! If there are any more difficulties please feel free to open another issue.

[2019-10-08 20:41] #3699 closed

[2019-10-08 20:54] alfiare commented on #7864
Ok great, glad you can see it, I didn't actually test it on IOS only on Android, sorry I didn't mention that.

[2019-10-08 21:36] jrahma opened #7882 "Firebase Analytics and Crashlytics for Xamarin Forms"
Hi,

I hope you'll soon have a Xamarin Forms package for Firebase Analytics and Crashlytics instead of using interfaces.

Thanks,
Jassim

[2019-10-08 22:49] jrahma commented on #6049
Same problem

[2019-10-09 00:27] PureWeen commented on #7864
@jfversluis @alfiare This may be fixed by this issue

https://github.com/xamarin/Xamarin.Forms/pull/7768

We'll have a new pre out soon. Can you test when that's out and see if you see the same issue?

[2019-10-09 02:18] breyed opened #7885 "[Enhancement] Add .NET Core 3 support to WPF package"
The [Xamarin.Forms.Platform.WPF](https://www.nuget.org/packages/Xamarin.Forms.Platform.WPF/) NuGet package doesn't currently support .NET Core 3. It works, but it causes this warning at build time:

As far as I can tell, it is compatible. The problem is just the warning. .NET Core 3 support is quite helpful since it allows use of the corrected dependency management in the new project style, which

[2019-10-09 02:23] DennisWelu commented on #6866
Huh. Here's what I found out. Yes, the test project attached above works. But...simply add a single Entry control into the modal page and boom, it crashes on close of the modal. Technically this looks like a secondary crash problem, but still pretty serious. I'll write it up as a new issue.

[2019-10-09 02:35] DennisWelu opened #7886 "[Bug] PushModalAsync modal page with Entry crashes on close for MacOS (NRE)"
### Description
Call PushModalAsync to show a modal page containing an Entry control. Close the page. The app will crash.

### Steps to Reproduce

1. Create a Xamarin Forms project from template
2. Add the Mac project to it as per document: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/other/mac
3. Add a page that can be used for a modal flow, and which contains an Entry control,

[2019-10-09 02:37] DennisWelu commented on #6866
Follow-up issue created [here](https://github.com/xamarin/Xamarin.Forms/issues/7886). The only difference in the reproduction project is the addition of a single line to the ModalPage.xaml:

[code]

[2019-10-09 02:37] #6866 closed

[2019-10-09 02:43] mr5z commented on #6207
From [rmannho's comment](https://github.com/xamarin/Xamarin.Forms/issues/6207#issuecomment-503055466), I think it's working for him because he used the event. Maybe it's the command that is faulty? Haven't tried myself but we got the same problem using the commands.

[2019-10-09 04:25] bill2004158 opened #7888 "[Bug] [iOS] Label size doesn't change when text changed if LabelRenderer reused"
### Explain

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs#L160

it only binding PropertyChanging when **Control == null**.
it means when reused this renderer, '_perfectSizeValid' is **NOT** reset when text changed.
as a result, even the text changed, but the size of label is not changed.
if the empty string at beging (frame.width == 0),

[2019-10-09 05:22] saamerm commented on #7695
Related to this, [the SearchBar ignores the BackgroundColor](https://stackoverflow.com/questions/58277385/xamarin-forms-searchbar-ios-13-ignores-background-color/58297489#58297489) on iOS 13 since it needs to use a new property that was introduced in iOS 13, which is the `SearchBar.BackgroundColor`.

[2019-10-09 05:54] KSemenenko commented on #5864
i'm going to do it

[2019-10-09 06:29] pstricks-fans opened #7889 "[Bug] "Include Asp.net Core Web API project" does not take any effect"
I created a brand new Xamarin.Form projects with Visual Studio 2019 Community Edition (the latest release 16.3.3).

Here is the step I did.

[![enter image description here][1]][1]

But the solution just contains 4 projects rather than what I expected is 5 projects.

[![enter image description here][2]][2]

# Question

What causes this issue? I missed something?

  [1]: https://i.stack.imgur.com/Z

[2019-10-09 06:58] dhindrik commented on #6606
I also did the first draft of an implementation, https://github.com/dhindrik/Xamarin.Forms/commit/b886f03607c5848745e24ae377ed08d45c573c96

[2019-10-09 07:25] jfversluis commented on #7885
Hey @breyed thanks for bringing this up!

I think work on this has already been done in #7063, unfortunately, we can't add this yet because we are stuck to using VS2017 build agents for now.

Could you confirm this is what you mean by this change? Thanks

[2019-10-09 07:33] jfversluis commented on #7889
Hey @pstricks-fans, thanks for the report.

I can indeed see this happening on my internal preview version as well (16.4p2). The project _is_ created however on your filesystem. There should be a <projectname>.MobileAppService in the folder where you created the solution, can you confirm that?

You should be able to just add that to the solution manually for now.

[2019-10-09 07:45] jfversluis commented on #7882
Hey @jrahma, thanks for the suggestion.

Could you elaborate a bit more about what you mean with this? What functionality are you looking for? And what do you mean by "instead of using interfaces"?

I don't think we will be creating packages ourselves for implementing Firebase services anytime soon I'm not entirely up-to-date with what is out there in this regard, but aren't there already packages

[2019-10-09 07:55] pstricks-fans commented on #7889
@jfversluis : Thank you for responding. Confirmed. There is a folder in my solution for the Web Api.

[2019-10-09 08:26] melimion opened #7890 "[Bug] TemplatedItemsList incorrect grouped collection range removal"
### Description
When using grouped ListView, it handles ranged removals wrong.
It happens because of this line:
https://github.com/xamarin/Xamarin.Forms/blob/6ba52f79b51da48386df8f5395fee6b33cc3cff0/Xamarin.Forms.Core/TemplatedItemsList.cs#L813

Items are removed not sequentially, but through one.
### Steps to Reproduce
I'll submit PR several minutes later, you can check it using test

### Expecte

[2019-10-09 08:44] GalaxiaGuy commented on #2820
I believe this was fixed here: https://github.com/xamarin/Xamarin.Forms/pull/6050

[2019-10-09 08:47] ThomasAdrian commented on #7751
it's definitely 16.3 upgrade related - it broke an old xamarin forms 3.6 pcl project and we had to use an old installation of VS to build the apk to get it to work.

[2019-10-09 08:57] jfversluis commented on #7889
I've forwarded the issue to the appropriate team. Hopefully it should be fixed soon :)

[2019-10-09 08:59] jfversluis commented on #7888
Hi @bill2004158 thanks for reporting and already pointing out what seems to be the cause.

Would you mind providing us with all the information that has been requested as per the issue template and/or a sample reproduction project of what problem you are encountering?

This will help us determine what is going on exactly much better and faster and therefore hopefully a fix will be implemented soon

[2019-10-09 09:03] jfversluis commented on #7680
OK, so. This "issue" is a new feature in iOS 13 apparently. From the [iOS Release Notes](https://developer.apple.com/documentation/ios_ipados_release_notes/ios_13_release_notes)

Therefore closing this issue.

[2019-10-09 09:06] bill2004158 commented on #7888
@jfversluis , yes, I was trying to create a simple demo project.
however, I am not sure when LabelRenderer will be RE-used for new Label element.

I will try if I can reproduce it in simple demo project.

[2019-10-09 09:16] jfversluis commented on #7863
Thanks for the updates and your investigation @thomasgalliker !

Glad that it is resolved (for now). Feel free to reopen whenever something else in this regard happens.

[2019-10-09 09:44] jfversluis opened #7894 "Move builds to VS2019 build host"
For #7063 and possibly more in the future we're going to start to use VS2019 build hosts to make sure we use the latest bits. Because of issues reported in #7602, where we see that NuGet packages created with VS2019 cause problems when used in VS2017, we can't move over to VS2019 build agents right now.

This issue is here to keep track of the progress of moving to VS2019 build hosts and will hold

[2019-10-09 09:51] padmakant commented on #7782
ill work on this

[2019-10-09 11:18] breyed commented on #7885
Yes, #7063 covers this request. I had only searched issues for an existing item; I didn't think to include PRs in the query. Thanks for pointing out the dup.

[2019-10-09 11:18] #7885 closed

[2019-10-09 11:25] jfversluis commented on #7870
Thanks for reporting this @petar-k-marchev!

I do see you're using a custom renderer in both. Can you confirm that this is necessary for this issue to show up? I think when just using a regular Xamarin.Forms Entry it does work as intended?

[2019-10-09 11:39] jfversluis commented on #7856
Confirmed that this is happening. Only on iOS, on Android it seems to go OK.

[Repro7856.zip](https://github.com/xamarin/Xamarin.Forms/files/3707109/Repro7856.zip)

[2019-10-09 11:41] taublast commented on #7323
How come this thread is still tagged s/unverified?

[2019-10-09 11:45] breyed commented on #7680
I think the core problem is that the default background color for cells is incorrect (white but should be nil). On prior versions of iOS, it happened to work, but with the iOS 13 change, the free lunch is now over.

If no change is made to XF, every new user of the platform will read the docs on using ListView (which don't say anything about customizing cell background color, nor should it, unless

[2019-10-09 11:45] 1888games commented on #7323
Although I appreciate this fix is a while off and not currently urgent, when it is done will it be back-ported to previous XF versions? We have a large suite of apps built in 3.4 and due to various dependency issues have always failed when trying to upgrade to XF 4.0 or above.

[2019-10-09 11:47] jfversluis commented on #7323
@1888games I think that is highly unlikely, also depending on what the eventual final fix will be.

[2019-10-09 12:06] jfversluis commented on #7856
Traced it back to `iOS.ShellPageRendererTracker.UpdateToolbarItems`. There is a lot going on there with trying to determine which button to show when the BackButtonBehavior is set.

[2019-10-09 12:24] aliriomendes opened #7897 "[Bug] Wrong number of items per row when rotating CollectionView"
### Description

I'm trying to have a dynamic number of item per row depending on the screen width.
When I rotate the device and recalcula the number of items per row (GridItemsLayout.Span), the math is right but collection view doesn't behave accordantly on iOS.

[code]

### Steps to Reproduce

1. Rotate device

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with iss

[2019-10-09 12:28] melimion opened #7898 "[Bug] [macOS] navigation page doesn't hide previous page"
### Description

In some cases when you push page to NavigationPage, previous page is partly visible and gestures works on it

### Steps to Reproduce

1. disable animation here https://github.com/xamarin/Xamarin.Forms/blob/6fc502b2f1a4c707183c884fce7e6e46db3e620a/Xamarin.Forms.Controls/CoreGallery.cs#L497
change to
await Navigation.PushAsync(contentPage, false);
2. open gallery app
3. navigate to

[2019-10-09 12:37] KSemenenko commented on #3407
I created it, I will fix it

[2019-10-09 12:53] acaliaro opened #7899 "Controls inside a TitleView loose Alignment"
### Description
I have a CustomControl. When I use this CustomControl inside a TitleView, the first time Controls are displayed correctly, then they loose the alignment (Label) or Size (ImageButton)
### Steps to Reproduce

1.
<?xml version="1.0" encoding="UTF-8" ?>
<ContentView
    x:Class="SapMobility.CustomView.TitleView"
    xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://sche

[2019-10-09 12:58] abhibl commented on #5108
Please Follow the below link

https://www.c-sharpcorner.com/article/how-to-set-corner-radius-for-view-layout-cell-grid-stack-listview-in-xamar/

[2019-10-09 13:08] abhibl commented on #4976
add the following code in Xaml.cs  file in Constructor

 public Page()
        {
            InitializeComponent();
          **Content.FlowDirection = FlowDirection.RightToLeft;**

        }

this will change the Flow orientation of whole Page

[2019-10-09 13:08] MathewLC commented on #7875
If help you guys, I run into aother issue related to this. It seems like the properties are only hide but definily is on the UI. In the sample I'll send, the same button with and without AutomationProperties, has different width value as you can see in the screenshot.

### ScreenShot
![image](https://user-images.githubusercontent.com/37350787/66483991-80d81580-ea7c-11e9-8316-828dcdf3dfdc.png)

###

[2019-10-09 13:10] jfversluis commented on #7886
Added a PR to fix this, thanks for reporting!

[2019-10-09 13:12] jfversluis commented on #7899
Thanks for reporting @acaliaro, would you be able to add a small reproduction project that shows this issue?

[2019-10-09 13:13] DennisWelu commented on #7886
Awesome, amazing turnaround time there @jfversluis :-)

[2019-10-09 13:14] MagicAndre1981 commented on #7772
ok, I used code parts of Xamarin.Essentials and my self compiled XF return now correct values.

I tested it for my FireTV, Android phone and tablet. all return correct values. But what about copyright?

[2019-10-09 13:19] acaliaro commented on #7899
I will try...

[2019-10-09 14:43] jfversluis commented on #7680
@breyed I might agree with you, but how do you explain the native developers coming across the same issue? Wouldn't their background be nil as well?

[2019-10-09 14:46] jfversluis commented on #7683
In regard to the ListView and cells, have a look at #7680, we might need to remove the solid white background color from a cell as a whole.

[2019-10-09 14:56] jfversluis commented on #7874
Hi @mrbelk thanks for the thorough investigation! Have you been able to dig up any more to pinpoint the exact origin of this?

[2019-10-09 14:56] breyed commented on #7680
@jfversluis My guess is that Apple native developers generally don't set the background color, and so the change impacts only a small percentage of developers who were explicitly working with the background color. They were already opting into managing it already to some extent - and now have to manage it fully or opt back out. Presumably, Apple saw enough benefits to making the change in iOS beha

[2019-10-09 15:02] jfversluis commented on #7680
Agreed. Let me see if I can create a fix for this in advance as the whole operation "dark mode/fixed colors" might take a bit longer.

[2019-10-09 15:10] mrbelk commented on #7874
Unfortunately not. I tried several different combinations of xamarin.forms.*, xamarin.android.*, xamarin.googleplayservices.* with no apparent change. I tried backing off the Xamarin.Android/Mono version in the app center build config and that didn't help either.

What _did_ help, however, was completely uninstalling and reinstalling the app. We don't have this in the Google Play Store because it'

[2019-10-09 15:56] fernandovm commented on #6297
Dear, I still have problems using `CachingStrategy="RecycleElement"` with Xamarin Forms version 4.2.0.848062:

![image](https://user-images.githubusercontent.com/441113/66498182-0c10d580-ea94-11e9-8093-de9be52cc0aa.png)

:((

[2019-10-09 15:58] davidbritch opened #7904 "[Bug] CarouselView doesn't implement the defined visual states"
### Description

In the 4.3 branch, the CarouselView class defines the following visual states:

[code]

I spent a couple of hours trying to get the damn things to work and the only one I had success with was the DefaultItem state.

After staring at the code some more I discovered that only the DefaultItem state is implemented, and that's iOS only. The rest aren't implemented at all.

[2019-10-09 16:25] acaliaro commented on #7899
I don't know... now it seems to work. I have created a repo but I am not able to reproduce it, but even in the main project now it works ok. I will do some other tests, otherwise I will close the issue.
Bye

[2019-10-09 16:27] hartez opened #7905 "[Bug] [UWP] Grouped items without templates display incorrectly"
### Description

On UWP, grouped items without templates are displaying the container class name instead of the ToString() representation of the data.

### Steps to Reproduce

1. In Control Gallery, navigate to CollectionView Gallery -> Grouping Galleries -> Grouping, No Templates

### Expected Behavior

The string representations of the items should be visible.

### Actual Behavior

Every item re

[2019-10-09 16:29] HeroicHitesh commented on #6727
I'll like to work on this but I don't how to do. If someone can guide me along it'll be great.

[2019-10-09 16:31] hartez opened #7906 "[Bug] [UWP] Incorrect selection behavior after moving groups"
### Description

After moving groups around in a grouped CollectionView, the selection behavior becomes ... odd. Items which should be selectable no longer are.

### Steps to Reproduce

1. In Control Gallery, navigate to CollectionView Galleries -> Grouping Galleries -> Grouping, Observable
2. Tap "Move 3rd group to 1st" 3 times
3. Attempt to select the first item in the first group.

### Expected

[2019-10-09 16:51] aliriomendes commented on #7897
I found a quick workaround:
[code]

[2019-10-09 18:16] jfversluis commented on #7899
@acaliaro glad to hear it suddenly works. I'd like to change it around; I'll close it for now and whenever you find out why it didn't work and you can add a reproduction project you can reopen it :)

Thanks!

[2019-10-09 18:16] #7899 closed

[2019-10-09 18:33] dhindrik commented on #3172
I think that SelectionChangedCommandParameter should be removed and instead we will have the selected item automatically set as a parameter.

If it is possible it would be nice to use the property like this

`public ICommand => new Command<MySelectedItemModel>((item) => {}`

But this should be ok as well:

`public ICommand => new Command<object>((item) =>{ var selectedItem = item as MySelectedItem

[2019-10-09 18:39] jfversluis commented on #7875
I'm not sure what you're trying to say. You mean using the AutomationProperties are impacting the width?

[2019-10-09 18:43] hartez commented on #3172
What if the user wants to use something other than the SelectedItem as the parameter to their Command?

[2019-10-09 18:54] hartez commented on #7875
We had a problem like that last year; maybe this is a similar situation? https://github.com/xamarin/Xamarin.Forms/issues/2580

[2019-10-09 18:54] MathewLC commented on #7875
Exactly. In the code that's in the sample I've sended, you can see that the two buttons that reproduce this images, are equals with the only difference being the automationproperties in the last one.

See the folling code:

[code]

[2019-10-09 18:57] hartez commented on #7875
I wonder if this is showing up again because the fast renderers are the default now? Looks like Rui fixed this in the older LabelRenderer; maybe the same fix needs to be applied to the fast renderer: https://github.com/xamarin/Xamarin.Forms/pull/4433/files#diff-c754c889f501d0bbd657ea1ca0ad3370

[2019-10-09 19:49] dhindrik commented on #3172
You have a point, but I have hard to see a use case for that because you are setting the parameter on CollectionView level. I expected that it to be the selected item the first time I used it. But you maybe can set the selected item as default?  If you use the event you will get so I think many developers expect it for the command as well.

[2019-10-09 20:07] #7664 closed

[2019-10-09 20:47] alfiare commented on #7864
Sure, I'll expect to try it in the next pre that comes out.

[2019-10-09 21:17] DavidCFreire commented on #7100
Any news on that? having same issues here with XF4.0 or XF4.1

[2019-10-09 22:31] edamreed commented on #7339
Any idea when this fix will make it to the stable release?

[2019-10-09 23:46] Eilon commented on #6988
@samhouts - I tried on the latest bits and couldn't repro it. Though, I couldn't repro it on whatever older build I was using, either. As mentioned earlier, it can be difficult to reproduce, though it often reproduced fairly quickly. So, I'm OK saying this is fixed. It could be I'm using a newer Android emulator, which maybe somehow affected this as well.

[2019-10-10 00:27] heathbm opened #7912 "Binding updates to shell component pages delayed"
So I have a Shell that has a home page and a settings page. The settings page makes changes to a singleton service that the home's ViewModel is binded to (MVVM).

I have set up break points on the PropertyChangedEvents of elements on the Home page and they hit as soon as changes are made to the service's properties and their PropertyChanged is executed.

However, upon going back to the home page v

[2019-10-10 01:33] #4765 closed

[2019-10-10 01:34] PureWeen opened #7913 "[Shell, UWP] Cannot prevent flyout menu list from scrolling."
### Description

UWP Shell Implementation of https://github.com/xamarin/Xamarin.Forms/issues/4765

[2019-10-10 02:07] kingces95 commented on #6195
Yeah, I'm not seeing anything in the VS console output logs and the debugger is not capturing the exception. I guess we'll pass this over to the iOS team. I'm running the latest internal preview VS as of this post.

[2019-10-10 02:31] anotherlab opened #7915 "[Bug] FontImageSource does not render UTF-32 glyphs from icon fonts"
### Description
When using an icon font where the Unicode sequence for a glyph is UTF-32, the image does not render.
### Steps to Reproduce

1. Create a new Xamarin.Forms app using the Blank template
2. Add a control to the main page that can use a FontImageSource
3. Add an icon font that includes glyphs that are identified with a UTF-32 string instead of a UTF-16 string.  Example used was Materia

[2019-10-10 02:49] Adam-Langley commented on #6195
Hi @kingces95, sorry I wasn't explicit enough - I'm asking about the OSX Console, not the debugger output in Visual Studio. We need to take VS out of the equation if you're not seeing any exception messages.
Using Spotlight, and search for "Console".

![image](https://user-images.githubusercontent.com/16373742/66535259-8a917400-eb75-11e9-9957-ae1baea66847.png)

[2019-10-10 04:04] westermost opened #7917 "[Bug] Can't prevent bounce in iOS"
### Description
I trying to prevent bounce with webview in iOS but it not effects

[assembly: ExportRenderer(typeof(ScrollView), typeof(NoBounceScrollViewRenderer))]
public class NoBounceScrollViewRenderer : ScrollViewRenderer
{

    protected override void OnElementChanged(VisualElementChangedEventArgs e)
    {
        base.OnElementChanged(e);
        UpdateScrollView();
    }

    private void

[2019-10-10 04:57] PaulAnderson02 commented on #7076
Why is this being moved to next sprint again and again. This is a serious issue we are facing in upgrading. Kindly consider this with priority

[2019-10-10 05:27] KSemenenko commented on #5196
I will check check it in  #7324

[2019-10-10 06:23] jfversluis commented on #7917
Hi @westermost, would you mind adding a small reproduction project with this code so we can have a look?

On a side-note: while we don't mind having a look for you, these type of questions, you'll probably have a faster result if you ask it on the Xamarin Forums or a website like StackOverflow.

Thanks!

[2019-10-10 06:28] jfversluis commented on #7875
Nice catch @hartez!

@magoolation this should be an easy fix then :) are you able to implement this anytime soon? Else to get this bug out of the way ASAP I can do it for you

[2019-10-10 06:32] jfversluis commented on #7100
@DavidCFreire I'm afraid not, sorry! As an experiment, would you be able to try a newer version? 4.2 or maybe even 4.3-pre? To see if a fix might be in there.

[2019-10-10 07:06] jfversluis commented on #7898
@melimion thanks for reporting this very specific case! 😄

I assume that you didn't just find this in the gallery app but also in an app you are working on? It seems to happen mostly because of the segmented (like) control on the top, since I don't see it happening on other pages.

Would you be able to create a small reproduction sample that is more targeted towards how you are using it? That way

[2019-10-10 07:09] jfversluis commented on #7915
Thanks for reporting this @anotherlab! From a first glance looks like we only parse the first amount of characters, since there are a couple of the UTF-32 code are shown on screen.

Unfortunately, the link to the repro isn't accessible for me. Would you be able to attach it to this issue directly? That way we are also ensured to not lose it.

Thanks!

[2019-10-10 07:15] jfversluis commented on #7076
Hello @PaulAnderson02 thanks for the message. I am sorry that this is happening. Unfortunately I don't have any more information for you at this time. We are handling regression bugs with priority.

To move this forward I wanted to have another look at the reproduction to see if I could do anything for you on the short term. The link to that project however seems dead. Would you, or anyone in this

[2019-10-10 07:21] jfversluis commented on #7912
Hey @heathbm, thanks for opening the issue.

Since you didn't use the issue template, I'm assuming this is more of a question than a bug? Of course we are happy to have a look, but typically questions like these get better results on website like the Xamarin Forums or StackOverflow. If it is a bug according to you, I would kindly ask you to add all the info that is requested through the template a

[2019-10-10 07:29] PaulAnderson02 commented on #7076
Hi @jfversluis ,

Thanks for the update. Please have the replication sample attached.
[RotatorSample-651285512.zip](https://github.com/xamarin/Xamarin.Forms/files/3711048/RotatorSample-651285512.zip)

[2019-10-10 07:37] PureWeen opened #7920 "[Bug] CollectionView overrides Force RTL setting"
### Description
In developer options if you set "Force RTL" CollectionView still displays as LTR. This happens because by default we set LayoutOptions on the CV regardless if the user has specified FLowDirection.

If you comment this line out of the CV
https://github.com/xamarin/Xamarin.Forms/blob/823013dbc8f3095f25ee19e6257e5acc7b5e3696/Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRende

[2019-10-10 07:43] jfversluis commented on #7904
Whoops, sorry about that @davidbritch! It seems that is indeed not yet implemented...

[2019-10-10 08:42] melimion commented on #7898
@jfversluis I think PR is better than repro )
You can find simple reproduction there.

[2019-10-10 08:44] rayita commented on #7145
I'm having this issue in IPhone, and none of the solitions works for me.

[2019-10-10 08:55] jfversluis commented on #7898
@melimion YES! Much better! Thanks! 😄

[2019-10-10 09:29] bnoffer commented on #7145
Hi @rayita ,
a bit more information would be helpful. If you tried the PageRenderer fix make sure that you have no other competing PageRenderers associated to the pages where you want to apply the fix. If you do not have any other PageRenderer you can try to connect the Renderer to the Xamarin.Forms Page class, then those settings will be applied to all Pages. That is how it is now done in our app

[2019-10-10 09:35] jfversluis commented on #7878
This is also why #7878 was merged for now I think as a result of #7145. I've created a (draft) PR that I think fixes this, along with the whole dismissal of modals in iOS 13. Since using a modal is pretty common, I do want to have some other people looking at this before we revert back the pinning of the default modal style.

[2019-10-10 09:52] jfversluis commented on #7145
@rayita find the attached sample project. A project using XF 3.6 and showing a fullscreen modal just as before, also on iOS 13. Does this help you make the code changes you need?

Also see: https://docs.microsoft.com/xamarin/xamarin-forms/platform/ios/page-presentation-style

[ModalFullScreen.zip](https://github.com/xamarin/Xamarin.Forms/files/3711667/ModalFullScreen.zip)

[2019-10-10 09:57] magoolation commented on #7875
My plan is to do it next week as I’m attending to a conference until Sunday

On Thu, 10 Oct 2019 at 03:28 Gerald Versluis <notifications@github.com>
wrote:

[2019-10-10 09:59] AndreiMisiukevich commented on #5393
@knocte @samhouts

Did it fix this issue too https://github.com/xamarin/Xamarin.Forms/pull/7815 ?

[2019-10-10 10:01] aliriomendes commented on #7897
Yes, I tested it, and it works fine on Android.

[2019-10-10 11:06] JayMansel commented on #4212
Same issue here. Everything still works, I can use the property. If I don't have the XAML file in question open, I don't get the errors in output window.

![image](https://user-images.githubusercontent.com/2752403/66563789-725e2c80-eb56-11e9-8e1c-61619eb5b499.png)

[2019-10-10 11:24] fmanseau commented on #6698
Getting the same issue randomly here also in my production app. After going through the tedious process of setting x:Datatype everywhere as recommended in the performance guidelines, can't say that I'm thrilled to potentially have to remove them all because of this issue.

I'll update this with a repro app if I can manage to get one working.

Note: I doubt this is related, but it seems I only star

[2019-10-10 12:13] jemunk commented on #7029
I can also confirm this issue.
Is this issue completely ignored? I don't see any activity for the last 28 days.

[2019-10-10 12:15] jfversluis commented on #7029
@jemunk this issue is definitely not completely ignored and I'm sorry you feel that way. Unfortunately, I don't have an exact timeline for you at this point, but this issue is not forgotten

[2019-10-10 12:25] jfversluis commented on #7406
@klogeaage a friendly reminder that a reproduction would be greatly appreciated if you have one!

[2019-10-10 12:36] jfversluis commented on #7841
I'm not entirely sure what you mean by this, sorry.

[2019-10-10 12:47] davidbritch opened #7924 "[Bug] Setting CarouselView.CurrentItem to an item doesn't display that item"
### Description

Setting the `CarouselView.CurrentItem` property, via a data binding, doesn't result in that item being displayed. The code below results in the first item (0) in the collection being displayed, rather than the fourth:

[code]

Note that setting the `Position` property does cause the 4th item in the collection to be displayed.

If you look at the property changed handler for `Curre

[2019-10-10 12:47] ColdstarJoey commented on #5618
So you want to use a picker to select the Date and Time together ? You could still use a datepicker and a timepicker then combine them into a string in the .cs but make them look the same control but putting them close together, I can show you a demo if you like?

[2019-10-10 12:54] jfversluis commented on #7862
Thank you @adamhewitt627.

I think this makes sense, I've created a PR that incorporates your proposed fix.

[2019-10-10 13:03] Basti82b commented on #7713
@PureWeen Thank you for the pointer. Where can I find "the font settings of the tabs" for Android? Is it right to override OnCreateView?

[2019-10-10 13:08] jfversluis commented on #7924
To make it even more fun:

When you remove the binding on `Position` _or_ you move the declaration for the `Position` binding to **before** the declaration of the `CurrentItem` one it does work. So clearly something in the conjunction of these two properties something is not going right.

[2019-10-10 13:18] jfversluis commented on #1529
@ryl, sorry for the late reply. Could you define "some luck"? Can we translate it into a fully usable solution perhaps?

[2019-10-10 13:22] jfversluis commented on #1519
@TingtingAn can I assume that you are still experiencing this behavior with the most recent versions of Xamarin.Forms then?

[2019-10-10 13:23] jfversluis commented on #1477
It seems that the last comment here describes what was going on and has an easy workaround. Since a repro isn't available anymore/was never provided I think it's safe to close this one.

[2019-10-10 13:23] #1477 closed

[2019-10-10 13:26] justremotephone opened #7926 "[Bug] UWP: SwitchRenderer crashes with System.InvalidOperationException: Sequence contains no matching element"
After updating to Xamarin.Forms 4.2 our UWP app crashes while opening one of our pages where we have placed an Switch element.

The stack trace is:

System.InvalidOperationException: Sequence contains no matching element
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source, Func`2 predicate)
   at Xamarin.Forms.Platform.UWP.SwitchRenderer.UpdateThumbColor()
   at Xamarin.Forms.Platform

[2019-10-10 13:30] charlesroddie opened #7927 "[Bug] [UWP] Mouse wheel does not scroll in ScrollView with ScrollOrientation.Both"
Scrolling via mouse wheel works in ScrollViews with `Orientation = ScrollOrientation.Vertical` but not with `Orientation = ScrollOrientation.Both`.

- Platform Target Frameworks:
  - iOS:  untested
  - Android: untested
  - UWP:  18362
- Xamarin.Forms version: 4.2.0.848062

@AxelUser

[2019-10-10 13:40] tomstreet opened #7928 "[Bug] [UWP] [CollectionView] Navigating back within the SelectionChanged handler throws exception"
### Description
When calling `Navigation.PopAsync()` from within the `SelectionChanged` event handler, the following NullReferenceException is thrown:

[code]

Possibly related/similar to #3333?

Tested in iOS and Android and works as expected.

### Steps to Reproduce

1. Add a CollectionView to a page that navigates back in the `SelectionChanged` handler
2. Navigate to the page with the Collectio

[2019-10-10 13:42] StephaneDelcroix commented on #7848
redirecting to macios

[2019-10-10 13:53] pictos commented on #6486
@PureWeen , when I try to navigate using `GoToAsync`, the OnNavigated event isn't fired. Dig into the code I see this occur because of `sectionController.PresentedPage?.SendAppearing();`in the actual implementation of `ShellSection.PresentedAppearing()`, don't trigger the `BaseShellItem.SendAppearing()` and the `_hasAppearing` always is false and because of that the `BaseShellItem.OnAppearing()` n

[2019-10-10 13:54] numan98 commented on #7145
Check this out, a fix for presentation swipe to close (doesn't fix OnAppearing/OnDisappearing events)
https://github.com/MvvmCross/MvvmCross/issues/3546#issuecomment-537940587

[2019-10-10 14:21] jfversluis commented on #7926
Hi @justremotephone, thank you for the report!

I'm sorry to hear you have trouble using the latest version of Xamarin.Forms. It would greatly help us speed up the fix for this issue if you could add a reproduction project that shows this issue. Is that something you would be able to do?

Thanks!

[2019-10-10 14:28] anotherlab commented on #7915
Whoops, cut and pate typo.  I updated the repo link, it goes to the same project now.

[2019-10-10 14:59] gceaser commented on #6486
So this bug indicates it was fixed as follows:  Fixed by #6527
I look at that item and I cannot seem to tell its state.  Has this fix been released to production?  What release is it slated for release etc.

[2019-10-10 15:05] mientilucci commented on #6246
This should be easy to fix.

[2019-10-10 15:09] WilkoSki commented on #7661
When is this scheduled for release? As it still seems to be present in 4.2.0.848062

[2019-10-10 15:19] DeerSteak commented on #7391
We're having problems with this as well, and also two-way binding on real iOS devices but not the simulator. For now we're manually reading the editor.Text property and updating the object prior to posting to our web services.

[2019-10-10 15:36] #7578 closed

[2019-10-10 15:47] WahidinAji commented on #6783
Yes, me too. and I think this is a bug of a new update @v2vehooi,

[2019-10-10 15:50] WahidinAji commented on #6783
and now that I'm solving my problem, I'm downgrading xamarin.form, from 4.2 to 4.1

[2019-10-10 15:55] ch0rn commented on #7751
Same issue here.  An App I have used for the past 6 months with no code changes just stopped working yesterday out of nowhere.  Identical issue as reported here.  Android/Xamarin App

[2019-10-10 15:56] Basti82b commented on #7713
Here is my solution:

`public override View OnCreateView(LayoutInflater inflater, ViewGroup container, Bundle savedInstanceState)
        {
            var outerlayout = base.OnCreateView(inflater, container, savedInstanceState);
            var bottomView = outerlayout.FindViewById<BottomNavigationView>(Resource.Id.bottomtab_tabbar);

            var bottomNavigationMenuView = (BottomNavigationMe

[2019-10-10 16:03] uzairali001 commented on #7838
Indeed the problem is resolved by updating macOS to Catalina.

[2019-10-10 16:03] #7838 closed

[2019-10-10 16:03] pictos commented on #6486
@gceaser I tested with the #6527 code.

[2019-10-10 16:17] stonedauwg commented on #1600
Seeing this issue as well against an Android 9 emulator

[2019-10-10 16:40] Pinox commented on #7360
thanks @StephaneDelcroix ,  i assumed it should work the same as the rest of XF.

[2019-10-10 16:46] adammeaney commented on #7557
I was considering doing this, wanted to check in if we still thought it was reasonable to do by page, instead of by NavigationPage or entire application.

I can't see a great reason for this not to for a whole navigation page, plus it makes the code of this much simpler as I don't have to come up with a good way to communicate from the pagerenderer to the navigationpage renderer to get the change,

[2019-10-10 16:51] ledragon101 commented on #1600
@stonedauwg With ListView or CollectionView?

[2019-10-10 16:57] jcmanke commented on #5093
Calling dibs because I want a t-shirt.

[2019-10-10 17:17] klogeaage commented on #7406
Hi @PureWeen & @jfversluis, sorry but because of this issue, I abandoned using modal views in my current app, and now I can't seem to reproduce the issue anymore. A lot of updates have taken place in both my, Microsofts and Apples code, and now the crash no longer happens when I invoke a modal dialog. From my perspective, you may close the issue.

[2019-10-10 17:48] jfversluis commented on #7406
Thanks for the update @klogeaage! @wadebaird, are you seeing this as well? 🙂

[2019-10-10 18:17] jfversluis commented on #7927
Hi @charlesroddie, thanks for this issue.

Would you mind adding a bit more to this? Preferably while using the issue template.
The biggest question that comes to mind is; what would you want it to do? Just scroll vertical anyway? That would make sense. But I can't tell from your description.

[2019-10-10 18:43] PaulVrugt commented on #1692
@samhouts What's the holdup for this feature? The PR has been there for ages. An update about the status would be appreciated

[2019-10-10 19:00] samhouts commented on #7455
@mknotzer  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-10 19:00] #7455 closed

[2019-10-10 19:00] samhouts commented on #7454
@mknotzer  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-10 19:00] #7454 closed

[2019-10-10 19:00] samhouts commented on #7450
@sakhnini  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-10 19:00] #7450 closed

[2019-10-10 19:00] samhouts commented on #7463
@CherryBu  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-10 19:00] #7463 closed

[2019-10-10 19:00] samhouts commented on #7140
@SoHighKH  Since we haven't heard from you in more than 30 days, we hope this issue is no longer affecting you. If it is, please reopen this issue and provide the requested information so that we can look into it further. Thank you!

[2019-10-10 19:00] #7140 closed

[2019-10-10 19:13] mgr44 commented on #5173
Hi, I am also curios when/if this issue is expected to be resolved.

[2019-10-10 19:15] stonedauwg commented on #1600
Seeing the bug with ListView. This issue is abt ListView, right?

[2019-10-10 19:33] ledragon101 commented on #1600
Yes that's right...just checking as lassana mentioned CollectionView doesn't suffer the same issue and I'm banking on using it when it's moved out of preview ;-)

[2019-10-10 19:46] stonedauwg commented on #1600
@ledragon101 Makes sense. I used RecyclerView as a replacement for now. Works. Has this issue been assigned?

[2019-10-10 19:46] Skirtek commented on #5173
@mgr44 At this pace in 2022 ;)

[2019-10-10 19:49] davidbuckleyni opened #7934 "Native Barcode Scanning Ios ,Andriod"
While there is the zxing libary it is no longer maintained and would be good if Xamrian had an internal method of barcode scanning.

You would need several view compenets such as

iOS: Xamarin.Forms.ScannerView (UIView) - See Xamarin.Forms.ScannerViewController.cs View Controller for an example of how to use this view
iOS: Xamarin.Forms.AVCaptureScannerView (UIView) - This is API equivalent to Xam

[2019-10-10 19:49] maxkoshevoi commented on #6698
Just updated my app to MVVM with compiled bindings and getting the same error now.
Running latest Xamarin.Forms: 4.2.0.848062

With following config:
![image](https://user-images.githubusercontent.com/6609929/66601116-ca754d00-ebaf-11e9-9b90-5b1f8e1db117.png)

Also don't have repro steps (this version of the app is in beta for a day and I already have two reports via AppCenter about it).
Can share

[2019-10-10 19:50] Skirtek commented on #3838
Could you tell us what happend with #3946? Could we expect this feature soon?

[2019-10-10 19:52] CliffAgius commented on #3262
I have picked this one up to see if I can get it working.

[2019-10-10 19:57] charlesroddie commented on #7927
Yes expected behaviour is to scroll vertially when using the mouse wheel with ScrollOrientation.Both.

[2019-10-10 20:03] dirivero commented on #7695
This is an apple issue as the same happens with a native Xcode app.
There's a simple workaround tough, try setting the placeholder color in the page `OnAppearing` method.
https://stackoverflow.com/questions/57820342/ios-13-set-uisearchtextfield-placeholder-color

[2019-10-10 20:40] kingces95 commented on #6195
VS is supposed to pipe that console. Can you paste a screenshot of what you're seeing so I know what I'm looking for?

[2019-10-10 21:00] dansiegel commented on #7934
Is it that it’s no longer maintained or that it’s just stable? My thought is that it should generally be stable.
cc: @Redth

[2019-10-10 21:01] SittenSpynne commented on #1412
I'm having the same issue in Xamarin Forms 4.2.0.778463. It seems if there are multiple DataTriggers looking at the same property, the last one wins.

[2019-10-10 21:13] hartez commented on #7700
Fails to render on iOS 13, full-out crashes on 12 and lower.

[2019-10-10 21:28] justremotephone commented on #7926
Hello,

wow... you are fast!

I am on Windows 10 1903 (18362.418). Unfortunately I can not give you a sample project because I have not tried if the problem can be reproduced for a small sample.

But I have reviewed your fix and it should work!

If you really need some further details please ask, I would see If I could get more time for finding out some more information.

Thanks!

Regards,
Thomas.

[2019-10-10 21:41] sventropy opened #7935 "[Bug] Picker on iOS rendered as inputView, not inline like native default on iOS"
### Description

The `Picker` control in Xamarin.Forms is rendering as a TextBox, bringing up a picker keyboard on tap ([docs](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/picker/)). When defining a Picker natively in iOS (either `Picker` in SwiftUI or `UIPickerView` in UIKit), the picker itself is rendered in-place in the view. This mismatch requires custom rendering to c

[2019-10-11 00:46] jrahma opened #7936 "Add Tizen Platform when creating new Project"
Hi,

Please add Tizen project when creating new Xamarin Forms project where it asks to select iOS, Android and UWP

Because Tizen is also a platform and it's very popular so why do we need to do it through extensions?

It will be easier to add all platforms there and Visual Studio will do the rest

especially that setting Tizen as per this link

[https://developer.tizen.org/development/visual-stud

[2019-10-11 00:54] fmanseau commented on #6698
I might not be understanding the whole picture, but isn't the easy solution for this is simply to Unapply and return when the target got GCed, like it's already the case without the DO_NOT_CHECK_FOR_BINDING_REUSE define in TypedBinding.cs ? I don't see how throwing is a good idea here.

[2019-10-11 01:21] amirvenus opened #7937 "[Bug] Don't Link causes iOS apps to crash on iPad OS & iOS 13.1 devices"
### Description

Using Don't Link option causes the app to crash immediately upon startup on iPad OS  and iOS 13.1.

### Steps to Reproduce

1.  Open Visual Studio for Mac, Create a new XF project
2. Change the iOS build settings and set to Don't Link
3. Run the app

### Expected Behavior

It shouldn't crash!

### Actual Behavior

It crashes upon app start up.

### Basic Information

- Version wit

[2019-10-11 01:42] llzz19851985 opened #7938 "Modal Dialog Request"
the reason why I need modal dialog is my current project is shared most logic with a wpf project,and in logical level there are hundreds of methods depends on the modal dialog result,I found use looper.loop() in java is ok and no exception,but in xamarin android ,it throw null pointer exception.

[2019-10-11 02:06] mfeingol commented on #6698
@fmanseau: I have the same view. @PureWeen?

[2019-10-11 02:50] jamesmontemagno opened #7939 "[Bug] [Shell] Android 10 App Crash When Changing Theme"
### Description

When app is running and I am using Shell and i pull down the settings from the top of my Pixel 2XL and change theme to dark mode or to light mode then the app crashes

### Steps to Reproduce

^ File -> New Shell App
Change theme when running.

### Expected Behavior

Should change theme

### Actual Behavior

Crash :(

### Basic Information

- Version with issue:
- Last known good v

[2019-10-11 03:23] felipebaltazar commented on #7396
Hello!
Can i work in this issue?

[2019-10-11 03:33] kingces95 commented on #6195
Opened an issue for the VS team: https://developercommunity.visualstudio.com/content/problem/772049/expected-vs-to-break-when-ios-app-crashes.html

[2019-10-11 05:44] jamesmontemagno commented on #7882
The core bindings already exist and something like this would fall under a community plugin of some sort and not into xamarin.forms

[2019-10-11 05:49] jamesmontemagno commented on #7772
They are both under MIT so you can bring the essentials code over. However I recommend always using essentials code ;)

[2019-10-11 05:51] KSemenenko commented on #5037
I will create pr

[2019-10-11 06:02] bill2004158 commented on #7888
[TestLabel.zip](https://github.com/xamarin/Xamarin.Forms/files/3715835/TestLabel.zip)

@jfversluis , I have create a sample reproduction project.
when app start, it will append "." to the display text every 3s,
and you can see the size of lable will increase after text changed,

however, after you click restart button.
it will re-set ItemsSource for the list,
and it will restart append "." every 3

[2019-10-11 06:12] jfversluis commented on #7936
Hi @jrahma, thank you for bringing this up!

While I do love your support for the Tizen platform, I'm not sure this will happen anytime soon. A you can see in the [platform support page](https://github.com/xamarin/Xamarin.Forms/wiki/Platform-Support) the platforms that are listed right now are the platforms that we as Microsoft support. The rest of the platforms are either supported through third-

[2019-10-11 06:24] StephaneDelcroix commented on #7360
@Pinox this is probably a bug, but use the workaround in the meantime

[2019-10-11 06:28] jfversluis commented on #7939
Confirmed this is happening, iOS is fine

[2019-10-11 06:33] jfversluis commented on #7938
Hi @llzz19851985, thank you for opening this issue.

Unfortunately, I'm not quite sure what you mean here. You're talking about a bug, but this is opened as a feature request? Could you maybe add more information, preferably by using filling in one of the appropriate templates?

[2019-10-11 06:46] jfversluis commented on #7937
Hey @amirvenus thank you for reporting this.

Would you happen to have any build logs or build output associated with this?

[2019-10-11 07:16] rayita commented on #7145
Thank you very much.

We try this and did not work, but finally we realize the problem!
We where using XF 3.6.0.344457 and " ios:Page.ModalPresentationStyle" property did nothing, we update to XF 3.6.0.709228 and now all works fine.

We check also laste XF 4 version and all works fine too (by default with need to change any property).

[2019-10-11 07:35] GeirGrusom commented on #7751
I replaced `UriImageSource` with `StreamImageSource` which works but of course that removes caching.

[2019-10-11 07:40] MagicAndre1981 commented on #7772
@jamesmontemagno thanks, I would like to use Essentials, but I can't find an XAML Markup extension in Essentials. I want to move everything into XAML to use XAML Hotreload for easier layout design.

[2019-10-11 08:02] jfversluis commented on #3838
@Skirtek from the top of my head the biggest problem, also emerges from the comments in the PR you linked, is that the toolbar items, at least on iOS, simply don't support this. That is why we would need to work around this somehow. But doing that causes a lot of side-effects and other unwanted behavior we cannot predict. I would not hold my breath for seeing this feature very soon. Of course you

[2019-10-11 08:24] jfversluis commented on #5173
As a workaround you can easily implement this yourself by using the [Visual State Manager](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/visual-state-manager).

[2019-10-11 08:32] KoenMat opened #7943 "[Bug] CollectionView XF4.3-pre3 crashes if EmptyView defined and ItemsSource is changed after ItemTemplate is changed"
[CollectionViewItemsSourceEmptyView.zip](https://github.com/xamarin/Xamarin.Forms/files/3716370/CollectionViewItemsSourceEmptyView.zip)

### Description
After upgrade from XF4.2-sr2 to XF4.3-pre3, there is an issue with CollectionView: If you define an EmptyView, and you change the ItemTemplate and then the ItemsSource, the app crashes (Java.Lang.IllegalStateException
  Message=Observer md51558244

[2019-10-11 08:40] jfversluis commented on #7882
Happy to discuss this any further if you have any input @jrahma but closing this for now due to this not becoming part of Xamarin.Forms core.

[2019-10-11 08:40] #7882 closed

[2019-10-11 09:19] KSemenenko opened #7944 "[Enhancement] VisualElement.IsFocused make bindable"
## Summary
I think that it would be nice to make VisualElement.IsFocused - Bindable. It’s very convenient from ViewModel to send focus to some text field, or to pick focus.

## API Changes

[code]

[2019-10-11 09:28] petar-k-marchev commented on #7870
Hi,
Yes, I was only able to reproduce it with a custom renderer.
Our actual scenario is pretty close to AndroidFocusIssue2 where a native Android data-form (CustomDataFormView) is used, so we have no other option than to use a renderer, and we cannot use the XF.Entry because the native data-form uses a native EditText.

[2019-10-11 09:32] RhomGit commented on #7934
Thread asking for a refresh release is here:
https://github.com/Redth/ZXing.Net.Mobile/issues/780

[2019-10-11 09:38] jfversluis commented on #7943
Confirmed that this is happening, only on Android

Full stack trace

  at Java.Interop.JniPeerMembers+JniInstanceMethods.InvokeVirtualVoidMethod (System.String encodedMember, Java.Interop.IJavaPeerable self, Java.Interop.JniArgumentValue* parameters) [0x0005d] in <e85f8f7e7f794240ac4758e206676ac4>:0
  at Android.Support.V7.Widget.RecyclerView+Adapter.UnregisterAdapterDataObserver (Android.Support.

[2019-10-11 09:52] amirvenus commented on #7937
{"app_name":"PackingPhotosTransfer.iOS","timestamp":"2019-10-11 00:05:19.86 +0100","app_version":"1.0","slice_uuid":"95234dca-49b3-3966-bd82-f62bcb4a0ec7","adam_id":0,"build_version":"1.0","bundleID":"com.vanx.PackingPhotosTransfer","share_with_app_devs":true,"is_first_party":false,"bug_type":"109","os_version":"iPhone OS 13.1.2 (17A860)","incident_id":"5074027A-303F-40EF-9BB8-A1D1D7949649","name"

[2019-10-11 09:53] amirvenus commented on #7937
[PackingPhotosTransfer.iOS-2019-10-11-000519.txt](https://github.com/xamarin/Xamarin.Forms/files/3716833/PackingPhotosTransfer.iOS-2019-10-11-000519.txt)
Here we go with the crash log.

[2019-10-11 10:55] jfversluis commented on #7937
Are you able to reproduce this behavior in a standalone project?

[2019-10-11 11:00] jfversluis commented on #7934
I think @Redth is busy with an overhaul of the barcode scanner plugin. The current one still has its use for sure, but also seems to have some quirks. Seeing that we might also be taking in the MediaElement for instance, it might be worth considering making this a first-party control as well.

[2019-10-11 12:35] amirvenus commented on #7937
Yes! In fact what I have done is creating a simple project using the default template in VSM (Welcome to Xamarin.Forms!) but changing the iOS build settings to Don't Link

[2019-10-11 12:36] amirvenus commented on #7937
Please test it on a real device, iPad or iPhone

[2019-10-11 13:18] DennisWelu opened #7949 "[Bug] Aspect settings not working on MacOS (4.3-pre)"
### Description
Only 1 of the 3 aspect settings works on XF Mac.

### Steps to Reproduce

1. Create a Xamarin Forms project from template
2. Add the Mac project to it as per document: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/other/mac
3. Add image controls to the main page with each aspect setting being used.
4. Run the app.

### Expected Behavior
![ImageAspectiOS](https://u

[2019-10-11 13:23] jfversluis commented on #2888
Retested with most recent XamForms version and seems to work now. With the exception of iPhone X and up, but it seems that is something Apple has decided not to support anymore: https://forums.developer.apple.com/message/268015

[2019-10-11 13:23] #2888 closed

[2019-10-11 13:27] jfversluis commented on #7949
Hi @DennisWelu thanks for reporting this. I am kind of confused though.

The title states Mac OS, but you are showing iOS screenshots?

[2019-10-11 13:36] jfversluis commented on #7928
Hey @tomstreet, looking at this issue it seems this is fixed for me when I update to 4.3-pre3. Could you confirm that is the case for you as well?

[2019-10-11 13:38] gilles-leblanc commented on #5159
This was the only work around which works for me sadly it only works the first time. After dismissing the picker I can't seem to bring it up anymore unless I switch to another views and later come back to the view with the picker.

[2019-10-11 13:46] DennisWelu commented on #7949
👍 @jfversluis Yup! I should have captioned them, but the first image (expected) is actually the iOS simulator running the same code. The 2nd image (actual) is a MacOS window just shaped roughly the same aspect so it's a closer apple to apples comparison.

[2019-10-11 14:00] tomstreet commented on #7928
Oh yeh my bad - I was sure I tried it with 4.3-pre3 - works as expected.

[2019-10-11 14:07] jfversluis commented on #7928
Thanks!

[2019-10-11 14:07] #7928 closed

[2019-10-11 14:12] kalyanmungi commented on #7556
@PureWeen  This commit to Tabletmasterdetailpagerenderer broke our app. Now, masterdetail page on iPad OS 13.1 is showing blank after updating to Xamarin iOS 13.2.0.47.

[2019-10-11 14:26] jbtamaresgit opened #7951 "[Bug] Keyboard not showing when placeholder is being set to empty"
### Description
When setting the placeholder into empty state, needs to double tap the entry for the keyboard to show. Seems like the work around with this is to set a delay which shouldn't be the case.

### Steps to Reproduce

1. Create any entry with focused event
2. On the focused event, set placeholder to empty

Sample Code:

` <Entry x:Name="EntryField"  Focused="EntryField_Focused"/>`
**Code

[2019-10-11 14:33] eincioch opened #7952 "[Bug] BackgroundImageSource property in ContentPage"
Add a png image, as a background on my page, with the BackgroundImageSource property->

![image](https://user-images.githubusercontent.com/12565944/66659089-6632a780-ec08-11e9-9866-a67ce0c830de.png)

### Description
And as you can see in the following attached image, it leaves a black margin, it does not extend throughout the page.

![capture20191010095931224](https://user-images.githubusercontent

[2019-10-11 14:54] TomSoderling commented on #2888
Thanks @jfversluis

[2019-10-11 15:22] jfversluis commented on #7949
I'm wondering if this ever worked, even before the refactor you're mentioning.

In any case, I got the 80% solution here: https://github.com/xamarin/Xamarin.Forms/commit/723d10d3271745383f91fd87cd225c1a71311561

But as it turns out there is no built-in AspectFill for an NSImage... So just need to add that and this should be good again.

[2019-10-11 15:46] DennisWelu commented on #7949
Super work. I believe it did work previously - I have a Mac app that uses AspectFill and the behavior changed after updating. From what I've seen in a couple places the layer has to be captured for the NSImage at the right time then the gravity of the layer can be made to fulfill the AspectFill behavior: https://stackoverflow.com/questions/23002653/nsimageview-image-aspect-fill/38752428#38752428

[2019-10-11 16:00] breyed opened #7953 "[Enhancement] Remove legal fluff from IntelliSense"
## Summary
A legal disclaimer apparently designed for the web is leaking into IntelliSense and adding friction to the development experience. IntelliSense should be streamlined to show only useful information, so that developers aren't wasting time with clicks that turn out to be pointless or reading info that turns out to be unhelpful.

## Repro
1. In an Android project, stick this code somewhere

[2019-10-11 16:07] samrgc opened #7954 "[Bug] SelectedItem of ListView on UWP always returns null when populated with webapi data"
### Description
This issue only happens on UWP.  No problem on Android and I have not tested it on iOS yet.

-  `ListView` on  `MainPage` is  populated with web api data.
-  When we click any item, we should be navigated to its edit page. However because `SelectedItem`  always returns `null` (only on UWP) then we never reach the edit page.
- No problem  if I populate the list view with hard-coded

[2019-10-11 16:16] jingliancui commented on #7017
@samhouts this bug still not fix in 4.2

[2019-10-11 16:18] xXdRaGoNrIdDeRXx commented on #2096
@davidortinau, @PureWeen, @pauldipietro, Is there going to be a fix for the ImageButton? Is it going to get a material renderer? Fix for the non material button?

[2019-10-11 16:43] jamesmontemagno commented on #7772
Ah, i see what you are saying is that you want to use OnIdiom in the code. that makes sense and should be fixed up in Forms here.

[2019-10-11 17:13] jamesmontemagno commented on #7304
We are looking to integrate a new DeviceInfo API into Xamarin.Essentials: https://github.com/xamarin/Essentials/issues/923 Putting it here as an FYI

[2019-10-11 18:27] JeysonGustavo opened #7956 "[Shell] Unable to focus and unfocus search handler for Android"
### Description
The event focus is not called when search bar gotfocus and the same issue happens with unfocus for Android. A similar bug has been reported in the follow link https://github.com/xamarin/Xamarin.Forms/issues/5768. Despite of the fact that issue n° 5768 is closed at this moment it still happens in Android. I've tested in the Xaminals example project and even updating the dll of the x

[2019-10-11 18:31] henriqueu96 commented on #5807
I could not reproduce
![Screen Shot 2019-10-11 at 15 31 02](https://user-images.githubusercontent.com/14217887/66675681-32717500-ec3c-11e9-859a-4252cf2697f9.png)

[2019-10-11 18:48] hassanhabib opened #7957 "[Bug] DisplayAlert should be DisplayAlertAsync"
Current code for DisplayAlert doesn't follow the language best practices.
Here's an example:
public Task<bool> DisplayAlert(string title, string message, string accept, string cancel)
		{
			if (string.IsNullOrEmpty(cancel))
				throw new ArgumentNullException("cancel");

			var args = new AlertArguments(title, message, accept, cancel);
			if (IsPlatformEnabled)
				MessagingCenter.Send(this, Aler

[2019-10-11 19:17] hartez commented on #7957
You are correct that the name probably should have been `DisplayAlertAsync`. But the method is part of the public API; renaming it would be a breaking change. So I'm afraid we're stuck with `DisplayAlert` for the time being.

[2019-10-11 19:20] krdmllr commented on #6957
Fixed it in #7958, you can find a good description of the problem here: https://stackoverflow.com/a/8423977 by @kentcb

[2019-10-11 20:04] rotorgames commented on #7833
I have the same issue. It was fine for 3.6.

It happens when I create a view for a custom ListView. Each view in the list has `x:Name="Root"`.

I don't understand why it happens because they have a different scope. It's 100% an error. We should have a chance to create two or more instances of the one element with the same name.

[2019-10-11 20:23] adrianknight89 commented on #7957
I'm in favor of making existing methods obsolete and providing the new names, but this reminded me of an old request I made: https://github.com/xamarin/Xamarin.Forms/issues/2941

[2019-10-11 21:14] Adam-Langley commented on #6195
Hi @kingces95, I'm no longer getting the NotImplementedException - but now I'm getting the same as you - immediate crash to springboard.
I've updated my XCode to 11.1, and am also now on Catalina - so that could be why - were you running a preview of any of these builds when you first ran the tests?

The crash happens when I select any item in the list.

This is what I'm getting if I attach XCode

[2019-10-11 21:22] hartez commented on #7957
That's one option. The catch is that we'd look like we were following the pattern of "async methods have the async suffix and synchronous methods don't have a suffix"; but the method that _looks_ synchronous (`DisplayAlert`) is actually async. Which would also surprise new users.

Maybe at some point in the future we'll have an opportunity to make a clean break or a whole new alert/dialog API, at

[2019-10-11 22:00] krdmllr commented on #4902
I looked into this and the order of the update value calls in the renderer

[code]
**Issue**

I logged every call and when HandleValueChanged is rised:
[code]

So the initial `HandleValueChanged` event seems to set the Value which causes the bug.

**Solution:**

I found two solutions, first is to change the order of the initial updates because this triggers a second `HandleValueChanged` which corr

[2019-10-11 22:14] charlesroddie commented on #4902
Do you have an argument that your combination of methods works in all situations?

This behaviour is buggy across all platforms and I suspect it needs a fix to Xamarin.Forms. I suggested a fix here: https://github.com/xamarin/Xamarin.Forms/issues/1943#issuecomment-431508922

[2019-10-11 22:19] Adam-Langley commented on #7336
Hi @samhouts  - sorry I was too busy to expand on this at the time.
Here is the requests reproduction project, and a video demonstrating its use.

Drag a list item to expose the context menu - then click a context action while the list item is still springing back to its settled position.

[ListViewContextMenuIgnoredTap.zip](https://github.com/xamarin/Xamarin.Forms/files/3719788/ListViewContextMen

[2019-10-11 22:20] charlesroddie commented on #3521
Solution here: https://github.com/xamarin/Xamarin.Forms/issues/1943#issuecomment-431508922

[2019-10-11 22:23] krdmllr commented on #4902
@charlesroddie this fixes that the value from the Xamarin.Forms core view is correctly set in the renderer, it does not change how the min/max/value is validated which is all done in the core view. I think the issue you references needs to be implemented in the core view in the first place, right?

[2019-10-11 22:53] krdmllr commented on #4284
I tried to reproduce it in the current branch 4.3.0 but everything worked as designed.
@samhouts @mohachouch should I open a PR with the added issue to the XF Controls Gallery?
You can find the sample here https://github.com/krdmllr/Xamarin.Forms/blob/issue-4284/Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4284.xaml
https://github.com/krdmllr/Xamarin.Forms/blob/issue-428

[2019-10-11 23:01] krdmllr commented on #4114
![image](https://user-images.githubusercontent.com/11095003/66689525-9cfdd180-ec8b-11e9-927a-57458b33a884.png)
This seems to work in the current 4.3.0, you can see a button trough another button with Color.Transparent

[code]

[2019-10-12 00:52] llzz19851985 commented on #7938
@jfversluis sorry，my mistake,it is a feature request.
I urgently  need a modal dialog in android ,I spend a lot of time to implement it but failed,I try looper.loop in java is ok,but in xamarin,it exception in native.

[2019-10-12 01:30] jingliancui commented on #6491
It's seem like it still not be fixed in v4.2 like this https://github.com/xamarin/Xamarin.Forms/issues/7017

[2019-10-12 01:34] DavidCFreire commented on #7100
I just updated to XF4.3.0.778476-pre1 and apparently this solved the problem... no problems until now

[2019-10-12 01:46] Redth commented on #7934
I’m open to ideas. I started a major rewrite of it as it hasn’t aged so well and there’s a lot of things learned from the first implementation. I paused for now until camerax is stable from google and can be used to implement the camera bits on android. I’m open to ideas for turning it into a first party control.

[2019-10-12 02:04] samrgc commented on #7957
It should not use a bug tag.

[2019-10-12 02:18] kingces95 commented on #6195
Hm. Well, that could be an access violation inside of the runtime which might explain why the debugger isn't catching the managed exception. Soooooo... this seems like a mono issue. I'd cross post this issue there with a link back here and save this issue for the NYI exception so we can fix that once mono fixes this issue.

[2019-10-12 07:32] StephaneDelcroix commented on #7833
@rotorgames glad you found your issue.

The base and derived XAML inflates to the same object instance. hence they share the same namescope.

Our advice stands: do not inherit from XAML defined objects, but use ControlTemplate instead

[2019-10-12 07:36] charlesroddie commented on #4902
Yes although it looks like order of updates is a common theme. Are you able to give an argument or confirmation that with any possible values of XFMin <= XFValue <= XFMax (less than or greater than the initial defaults), the WPF control both does not crash and ends up with the right values?

[2019-10-12 09:53] georgemichailou commented on #7517
@PureWeen with pre3 is working perfect !! Thanks to all !!

[2019-10-12 09:59] #7517 closed

[2019-10-12 10:00] georgemichailou commented on #7520
This bug fixed on pre3 !!! Thanks !!

[2019-10-12 10:32] krdmllr commented on #1943
I would suggest to simply set the max value to the min value if the min value is greater then the max value and vise versa to avoid the crash when setting up the control.

[2019-10-12 12:08] krdmllr commented on #7581
I looked into this since I already did some work on the maps renderer recently :)

This is not the case, setting the animation to none does not fix it. But `TrySetViewBoundsAsync` has a return bool value which indicates if the move was successful. I opened a PR in which this value is stored and a new move is done on the next layout of the control. See #7960, I added your sample there aswell :)

[2019-10-12 12:50] m93a opened #7961 "[Enhancement] Provide XSD for xmlns="http://xamarin.com/schemas/2014/forms""
# The Problem
For developers that don't or can't use VisualStudio for development, XAML files lack IntelliSense (or any type of autocomplete) and there is no way to enable it. This makes development on other platforms very painful.

# A Possible Solution
This could be easily fixed by providing a XML Schema definition, or XSD, for the `http://xamarin.com/schemas/2014/forms` XML namespace. Given tha

[2019-10-12 13:04] MartinZikmund commented on #7913
I can try to tackle this

[2019-10-12 14:15] krdmllr commented on #7839
Same applies for WPF @jfversluis could you add the wpf label?

Android:
![image](https://user-images.githubusercontent.com/11095003/66701558-9d36b500-ecfd-11e9-933c-a7d7c8c94aa3.png)
UWP:
![image](https://user-images.githubusercontent.com/11095003/66701566-bccddd80-ecfd-11e9-89ff-deb7cc9831ee.png)
WPF:
![image](https://user-images.githubusercontent.com/11095003/66702769-8dbe6880-ed0b-11e9-957e-217

[2019-10-12 16:45] samosim commented on #7661
This error is really annoying.  When can we expect that the error will be fixed?

[2019-10-12 16:49] SudhersonV commented on #7578
Invalid bug reported.

[2019-10-12 17:01] krdmllr opened #7963 "[Bug] WPF frame padding, shadow missing"
###Description

Frame on WPF is missing Shadow and Padding is not applied.
Similar to #7839

### Steps to Reproduce

1. Create frame with some content
[code]

### Expected Behavior

Shadow is visible, Content has the default padding of 20.

See android for reference:
![image](https://user-images.githubusercontent.com/11095003/66705089-a2f2c180-ed22-11e9-831f-9de8d41587c3.png)

### Actual Behavior

[2019-10-12 17:34] PhilippCh opened #7965 "[BUG] CollectionView group header location does not update when dynamically inserting items"
### Description
When creating items dynamically for a CollectionView with grouping enabled, the location of the headers does not update according to the list's sizes. The lists seem to properly position themselves, but the headers stay aligned at the top.

### Layout
[code]

### Steps to Reproduce

1. Use the provided layout.
2. Add at least two groups (statically at startup) and multiple items to

[2019-10-12 21:44] breyed commented on #7710
A regression test suite run during the beta for each major iOS release to compatibility problems before customers upgrade would save Xamarin developers countless hours. In lieu of that, this workaround code might save at least a bit of time:

[code]

[2019-10-12 22:06] krdmllr commented on #5049
I think this would solve some problems
* We could use UniformGrid for the CollectionView and fix #7842.
* It adds an easy way to add shadows for #7839

[2019-10-12 22:10] adrianknight89 commented on #7152
@hartez @samhouts This seems to have regressed recently on the 4.3.0 branch. I'm not sure if it's due to some of the recent changes or iOS13. #7285 had made scrolling better, but the effect seems to have disappeared. I'd appreciate if the team could set up performance metrics in the future.

[2019-10-12 23:14] breyed commented on #7710
The above workaround is problematic, as described in the comment:

This is with XF 4.3.0.851321-pre3 on iPadOS 13.1.2. What is the proper way to fix this so that there isn't any jankiness?

[2019-10-13 01:14] Sebastian1989101 opened #7967 "[Bug] iOS Picker BackroundColor is ignored"
### Description

Setting the BackgroundColor property on a picker control has no effect on iOS 13.

### Steps to Reproduce

1. Place a picker control
2. Set the BackgroundColor property

### Expected Behavior

BackgroundColor does change the actual background color

### Actual Behavior

System background color (depending on Dark mode or not) is used

### Basic Information

- Version with issue: 4.

[2019-10-13 03:55] mkieres commented on #2258
@PureWeen I just had a look at this test and the code for UI testing seems to be in already in place (written by you)

[code]

Is there anything else that needs automation in here? If so, just let me know and I can have a look at it. Otherwise, maybe this issue can be closed off?

[2019-10-13 05:52] HobDev opened #7969 "[Bug] [CollectionView] Large ItemSpacing when a particular image is used"
### Description
The collectionview have large itemspacing when a particular image is used. CollectionView renderers correct spacing if replaced with another image.

### Basic Information

- Version with issue: Xamarin.Forms 4.2.0.848062
- IDE: VSMac 2019
- Affected Devices:iOS and Android

### Reproduction Link
[ShellRepro.zip](https://github.com/xamarin/Xamarin.Forms/files/3721452/ShellRepro.zip)

[2019-10-13 09:34] philipag opened #7972 "under iOS, await scrollView.ScrollToAsync(scrollView.ScrollX, scrollView.ScrollY, true) never completes"
### Description
under iOS, `await scrollView.ScrollToAsync(scrollView.ScrollX, scrollView.ScrollY, true)` never completes and hangs indefinitely.
If the desired X and Y are already the same as the current scrollview X and Y, this never completes.
If the desired X or Y are different from the current scrollview X and Y, this completes normally.

Basically there is a bug if no animation is ever start

[2019-10-13 09:45] pfedotovsky commented on #6220
There's a workaround for Android with custom renderers. The key is to set

__bottomView.LabelVisibilityMode = LabelVisibilityMode.LabelVisibilityAuto;_ or
__bottomView.LabelVisibilityMode = LabelVisibilityMode.LabelVisibilityUnlabeled;_

[code]

To use this renderer, you need to create custom ShellRenderer as well:

[code]

[2019-10-13 09:52] pfedotovsky commented on #7713
It seems that issue is tracked here: https://github.com/material-components/material-components-android/issues/139

And it seems to be fixed https://issuetracker.google.com/issues/115754572

But I don't know how to use the updated component in Xamarin.Forms app.

[2019-10-13 10:10] knocte commented on #5395
@parceval: you applied to work on a bounty after it has been marked as closed.
And @excerebrose had dropped the work before a fix was proposed (and the submitter of the fix didn't apply as a worker on gitcoin). So I'm cancelling the bounty then. If melimion wants to claim it, please write me offline to knocte at gmail dot com indicating nuget version I should test with, cheers.

[2019-10-13 10:12] sakshamtaneja21 opened #7973 "[Enhancement] YOUR IDEA!"
## Summary
we can have a good readme of all folders with ppt to give a good demonstration

## API Changes

Include a list of all API changes, additions, subtractions as would be required by your proposal. These APIs should be considered placeholders, so the naming is not as important as getting the concepts correct. If possible you should include some "example" code of usage of your new API.

e.g.

[2019-10-13 10:41] amr-moomen commented on #7844
I have the same problem  when scroll down  and scroll up  again with screen shots below
![scroll](https://user-images.githubusercontent.com/56504816/66714400-b9e2f380-edb6-11e9-9c30-c9f2deebcae1.png)

[2019-10-13 10:46] amr-moomen commented on #6297
I have the same problem when scroll down and scroll up again labels randomly truncates with screen shots below
Xamarin Forms version 4.2.0.848062:
![scroll](https://user-images.githubusercontent.com/56504816/66714464-88b6f300-edb7-11e9-8b04-72df0421c701.png)

[2019-10-13 10:54] knocte commented on #7841
<img width="381" alt="Screenshot 2019-10-13 at 6 52 39 PM" src="https://user-images.githubusercontent.com/331303/66714579-ca14c600-edea-11e9-8f6c-27dd213b4f8c.png">

[2019-10-13 12:07] nyxiscoo1 commented on #2444
One of my customers experiencing this issue.
Xamarin.Forms 4.2.0.848062
HUAWEI DRA-LX5 Android 8.1.0

I have no Label custom renderers.
The stack trace appears to be identical to original bug poster.
[code]

[2019-10-13 12:44] krdmllr commented on #7839
I played around with it and found some possible solutions:
* Update the target version to 1906 and use ThemeShadow https://docs.microsoft.com/de-de/windows/uwp/design/layout/depth-shadow
* Use Composition and add a drop shadow effect. I tried this and failed because I could not get the shadow to exceed the bounds of the Border.
![image](https://user-images.githubusercontent.com/11095003/66715783-a

[2019-10-13 13:54] Jjagg commented on #4298
It would be better if views could be marked to not take focus from editable views. See also #2136.
I haven't found a good workaround yet.

My use-case is a rich text editor with e.g. a bold button (actually a label with gesture recognizer) that when clicked should not affect the editor focus.

[2019-10-13 14:16] adrianknight89 commented on #7973
@sakshamtaneja21 Hey, can you make sure you have written a proper title and removed the templated text so people aren't confused? Also, you submitted several changes that could have been a single PR instead of multiple ones. At this point, everything feels like spam.

[2019-10-13 16:04] monetelli opened #7980 "[Bug] "Go to definition" option does not work with MergedDictionaries"
### Description
I cannot use this option in my style library, it may be due to the implementation of "MergedDictionaries".

### Basic Information
- Version with issue: Xamarin.Forms 4.2.0.848062
- IDE: Visual Studio Enterprise 2019

### Screenshots
<img alt="react-native-gifted-chat" src="https://raw.githubusercontent.com/monetelli/XF_FoodApp/master/ImagesBug/BUG-GoToDefinition.gif" width="560" he

[2019-10-13 18:39] bmacombe commented on #4897
@PureWeen @kkrzysiek

I decided to take a look at this and I'm wondering how you verified the focused fired was being called multiple times?.  I think that it happens when the entry is the root item on the page and you put a break point in the Focused handler, VS becomes the active Window when it hits.  When you hit F5 and move on with execution the app becomes the active window again and since th

[2019-10-13 18:43] brminnick commented on #7554
Thanks @PureWeen!

I too no longer experience the crash on v4.4.0.1225-nightly.

[2019-10-13 19:02] techduggu commented on #3798
Hi Team / @hartez ,

I'd like to work on this and fix it. I've gone through its existing implementation (thanks to @bill2004158 for providing excellent-report of this issue) and noticed few things (seems more of bugs even with current version of Xamarin.Forms):

- First of all, the current issue (mentioned by @bill2004158 ) is not limited to SeparatorColor but also impacts SeparatorVisibility (thi

[2019-10-13 19:18] hartez commented on #3798
@techduggu That all sounds reasonable to me. If you want to take a crack at it, we'd love to see the PR!

[2019-10-13 19:48] luismts opened #7982 "[Bug] Shell cannot display secondary toolbar items properly"
### Description
The shell application cannot display secondary toolbar items properly. I have also tried changing the order and cannot seem to work.

### Steps to Reproduce

`<ContentPage.ToolbarItems>`
`        <ToolbarItem IconImageSource="icon.png" />`
`        <ToolbarItem Order="Secondary" Text="Option 1" />`
`        <ToolbarItem Order="Secondary" Text="Option 2" />`
`        <ToolbarItem Or

[2019-10-13 21:45] NordAlex commented on #7951
probably related to #7709

[2019-10-13 22:30] ionixjunior commented on #5919
I'd like to work on this.

[2019-10-13 23:11] lambo-murcielago commented on #6261
@jfversluis the FlyoutBehavior disabled is not working for me on android. I have tried it with Xamarin.Forms version 4.2.0.848062, 4.2.0.709249. @PureWeen I tried it with 4.2.0.815419 also.

[2019-10-14 00:08] xam-dev opened #7985 "[Bug] Shell.FlyoutBehavior="Disabled" not working android emulator"
### Description
Shell.FlyoutBehavior="Disabled" does not make the flyout not appear when the user swipes from left to right. I have encountered this in android emulator (Android 9.0) and on an android phone.

### Steps to Reproduce

1.  In a xamarin.forms shell project, add flyout to AppShell.Xaml
2. `<FlyoutItem FlyoutDisplayOptions="AsMultipleItems">
        <ShellContent Title="browse" ContentT

[2019-10-14 00:48] bmacombe commented on #4459
Submitted a PR that I think will address this, but needed to use a Border to get control over individual corner radius instead of the current UWP rectangle.

[2019-10-14 01:42] monetelli commented on #7982
SOLUTION:
<img alt="react-native-gifted-chat" src="https://i.pinimg.com/originals/16/52/6d/16526d6fb587fbb2a3eaef630393e6d4.png" width="960" height="350" />
 </a>

[2019-10-14 04:25] luismts commented on #7982
No, it's not. The secondary button is in a submenu.

Like this one
![image](https://user-images.githubusercontent.com/20643876/66729377-0c54fc00-ee19-11e9-87c1-4235a344714d.png)

[2019-10-14 04:56] monetelli commented on #7982
You're right, wait for it to be resolved.

[2019-10-14 04:56] monetelli commented on #7982
You're right, wait for it to be resolved.

[2019-10-14 05:08] jrahma opened #7989 "NavigationPage.TitleView for PushModalAsync"
Hi,

It will be great if you add **NavigationPage.TitleView** for PushModalAsync because Title is needed and required for any page, PushAsync or PushModalAsync

It doesn't make sense not to have the NavigationPage.TitleView for PushModalAsync and make user draw the title using Grid's Rows

Hope this will be available soon..

Thanks,
Jassim

[2019-10-14 05:34] Muthukumaran-G opened #7990 "[XAMARIN-FORMS-WPF] StackOverFlowException throws when added a custom Layout<View> as content of ScrollView"
### Description
Greetings,

We at Syncfusion have started implementation for providing support in Xamarin.Forms WPF platform for our controls. We have noticed that when a simple custom Layout<View> is added as a content for ScrollView, it throws with StackOverFlowException, while the same structure works well and good in all other platforms. We have attached a simple sample showcasing the issue. C

[2019-10-14 06:00] Happypig375 commented on #7973
Just look at his profile... The amount of low-quality PRs amazes me.

[2019-10-14 06:33] jfversluis commented on #7938
I'm very sorry, but I'm still not sure what it is that you are requesting specifically.

Could you add a more extensive description of what feature you are requesting and what you would need it to do? Thank you

[2019-10-14 06:37] jfversluis commented on #7100
That is great to hear! 4.3 stable should be here pretty soon. I will close this for now, if you have an issue coming up again, please feel free to reopen or open a new one, referring to this one. Thanks!

[2019-10-14 06:37] #7100 closed

[2019-10-14 06:42] jfversluis commented on #7841
Ah, right. I'm guessing that GitHub does not show the tags in there that are marked as pre-release. Unfortunately, that is not something we can influence.

[2019-10-14 06:45] jfversluis commented on #7982
Duplicate of #6127

[2019-10-14 06:45] #7982 closed

[2019-10-14 06:47] kimbirkelund commented on #6760
I've the same issue, and it is quite critical as I can't easily change the layout to avoid it (the page has a ControlTemplate and I'm translating the button outside the pages bounds, into the ControlTemplate area).

How you found a workaround or something?

I've tried with an AbsoluteLayout and that appears to have the same issue.

[2019-10-14 06:48] jfversluis commented on #7973
Hey @sakshamtaneja21, we'd love to have a look at your new proposal, but in the current state it is kind of hard to understand what you mean. Because of that, I'm closing this one for now.

When you open a new one (or reopen this one) please make sure to give it an appropriate title and extensive description and remove any text that is in the template but does not correspond to your idea.

Thanks!

[2019-10-14 06:48] #7973 closed

[2019-10-14 06:57] jfversluis commented on #4114
Confirmed what @krdmllr is saying, seems to work in current version.

Thank you for paying attention Konrad!

[2019-10-14 06:57] #4114 closed

[2019-10-14 07:06] jfversluis commented on #7967
Hi @Sebastian1989101, thanks for the report!

Unfortunately, I don't see this happening. With or without Dark Mode enabled. See the screenshot below showing 4.2 latest installed and a picker with a red background.

![image](https://user-images.githubusercontent.com/939291/66733939-890bc880-ee61-11e9-95c7-ec8bee287c73.png)

I've added my reproduction project [here](https://github.com/xamarin/Xamari

[2019-10-14 07:09] StephaneDelcroix commented on #5919
I might have fixed that in the past weeks, need to reevaluate (I fixed something related to binding and string conversions, for sure, but I don't know if it fixes this case)

[2019-10-14 07:19] jfversluis commented on #7963
Seems like this was never implemented, now there is a PR to do that!

[2019-10-14 07:23] Balasubramanian93 opened #7992 "Datepicker is not opened when we call Datepicker.Focus() in UWP"
### Description

Datepicker is not opened when we call Datepicker.Focus() in **UWP**. I have tried to open the date picker dialog on a button click by calling Datepicket.Focust() method. Note: This is working as expected in Android and iOS.

### Steps to Reproduce

1. Run the attached sample.
2. Click the button "Button"

### Expected Behavior

Datepicker dialog should be opened.

### Actual Behav

[2019-10-14 07:23] jfversluis commented on #6760
Unfortunately, I did not find any workaround. If you do, it would be great if you could share it here!

[2019-10-14 07:39] jfversluis commented on #4284
As indicated by @krdmllr this seems to work with the current version. If you find that this is not the case. Please open another issue or feel free to reopen this one. Thanks!

[2019-10-14 07:39] #4284 closed

[2019-10-14 07:41] dansiegel commented on #7938
I’m going to make an assumption here. My guess is this issue will ultimately be a duplicate. @llzz19851985 is PR #6558 what you’re really looking for there on Android?

[2019-10-14 07:42] jfversluis commented on #6491
It might not have made it into the last release. New versions of the Xamarin.Forms packages should be released soon, please retest with those when they come.

[2019-10-14 07:43] jfversluis commented on #7017
See my comment here: https://github.com/xamarin/Xamarin.Forms/issues/6491#issuecomment-541534617

[2019-10-14 07:46] jfversluis commented on #7949
Thanks @DennisWelu, I've seen that. The weird thing about that code is: the `Layer.Content` wants a `CGImage` not an `NSImage`

[2019-10-14 07:48] jfversluis commented on #6261
Thanks for letting us know @lambo-murcielago. As mentioned in my comment, would it be possible to open a new issue where you provide all the info and a reproduction project for us to look at?

Thanks!

[2019-10-14 07:50] emmanuelvanmeerbeeck3factr commented on #7051
I'd like to work on this.

[2019-10-14 07:52] jfversluis commented on #7051
Awesome @emmanuelvanmeerbeeck3factr, looking forward to the PR!

[2019-10-14 08:13] jfversluis commented on #7951
Duplicate of #7709

[2019-10-14 08:13] #7951 closed

[2019-10-14 08:26] jfversluis commented on #7952
Hi @eincioch, I've tried to create a reproduction myself since you didn't add one. But I can't seem to be able to match this behavior.

Would you mind adding a reproduction project that shows this?

Thanks!

[2019-10-14 08:41] jfversluis commented on #7992
Confirmed that this is happening. As discussed in #5159, ultimately we want to move away from doing this with focus, but for the time being that is the way to go.

[2019-10-14 08:47] StephaneDelcroix commented on #7980
/cc @mgoertz-msft

[2019-10-14 08:49] jfversluis commented on #2668
See comment on the PR I had opened for this: https://github.com/xamarin/Xamarin.Forms/pull/7948#issuecomment-541553857

You might want to find another solution instead of using a `TableView` for this.

[2019-10-14 08:49] #2668 closed

[2019-10-14 08:53] Balasubramanian93 commented on #7992
Hi @jfversluis , Can this issue be addressed in the next pre release atleast for UWP?

[2019-10-14 08:55] jfversluis commented on #7992
@Balasubramanian93, I wish I could say yes, but the truth is that at this time I'm no sure when work on this will be done and when it will be included. Whenever the status is updated you will see it here.

[2019-10-14 09:03] jfversluis commented on #7934
I was already thinking of drafting up a spec around this. But maybe if you already have something or want to incorporate your learnings maybe that is something you could do? Or, I'm happy to do it, but if you could provide me with some input? I'll ping you on Slack to have a little chat about it.

[2019-10-14 09:07] kimbirkelund opened #7993 "[Bug] CollectionView.Scrolled event offset isn't correctly reset when items change"
### Description

When changing the contents of the `CollectionView.ItemsSource` while scrolled down into the list, the `ItemsViewScrolledEventArgs.VerticalOffset` is correctly updated.

### Steps to Reproduce

1. Run attached project
2. Press the Fill button
3. Scroll in the list (notice the VerticalOffset label updates to show position)
4. Press Empty button
5. Repeat from 2 at you leasure

### E

[2019-10-14 09:16] jfversluis commented on #5159
@gilles-leblanc did you try the latest 4.2 version (or 4.3-pre) the fix for this should be incorporated in there?

[2019-10-14 09:16] kimbirkelund commented on #6760
While I haven't found a proper workaround it turned the ControlTemplate didn't actually exacerbate the problem. So I was able to solve it by combining negative margin with positive padding like so:

[code]

The important part is the fact that `Margin` is used on the `Grid` the expand it to fill more than is actually needed and `Padding` is then used to fix the positioning (where `Margin` would nor

[2019-10-14 09:20] jfversluis commented on #7969
When you make the image smaller, the size between them also becomes smaller. So, it seems that while `AspectFit` is used for the actual representation of the image, the control holding the image still has the height of the original size?

[2019-10-14 09:37] OmerHmead opened #7994 "[Bug] selection view for CellView Not working On ios 13 when using CachingStrategy="RecycleElement" or CachingStrategy="RecycleElementAndDataTemplate""
### Description
When I try to customize the selection view for the view cell using  ViewCellRenderer the selection works fine only when the list view CachingStrategy="RetainElement"

[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/3723791/App1.zip)

### Steps to Reproduce

1. Download the sample project and run it
2. Make a selection to any item in the list view by tapping the cell

###

[2019-10-14 10:02] ili opened #7995 "[Bug] WPF ListViewRenderer fails on item tapped with empty item source"
### Description

If you will subscribe `ItemTapped` event on `ListView` with empty items you will receive `ArgumentOutOfRangeException`

[code]

### Steps to Reproduce

1.  Add `ListView` to the form
2.  Bind it's `ItemSaource` to an empty list
3.  Subscribe `ItemTatted`
4.  Click the list at runtime
5.  ArgumentOutOfRangeException

### Expected Behavior

No exception, no event.

### Actual Behavi

[2019-10-14 10:10] sunilpatil919 opened #7996 "[Bug] Xamarin.Forms.Entry does not enter decimal when binding a float/double and decimal to it"
### Description
[Bug] Xamarin.Forms.Entry does not enter decimal when binding a float/double and decimal to it
### Steps to Reproduce

1. Take Entry.
2.  Binding decimal variable to it.
3.  if enter with one number and the enter decimal.
4. it not taking decimal after any number but first decimal then number it taking.

### Expected Behavior

### Actual Behavior

### Basic Information
not working

[2019-10-14 10:27] manishkungwani commented on #5889
@GnanaPriyaNamasivayam The sample url is no longer valid, if you can share the sample project, I would like to investigate and help.

[2019-10-14 11:55] davidbritch opened #7997 "[Bug] CarouselView VisibleViews property is always null"
### Description

In a `CarouselView` the `VisibleViews` property is always `null`. This is because there's no code in the 4.3 branch that ever sets the property.

[2019-10-14 12:09] DennisWelu commented on #7949
I'm just lofting out observations from casual review of the changes, but I do see it grabbing the `CGImage` from the `NSImage` here https://github.com/xamarin/Xamarin.Forms/commit/ce148bf4c81f7d1da5ef74c7a2a43cca6ca73331#diff-d1473c83345d2991d27d0b7cb03cf161L112 to set the layer `Contents`. With the updated structure of the renderer I'm not sure how to best make it adjust between the different asp

[2019-10-14 12:21] jfversluis commented on #7915
Apparently this is not something we can fix but a "limitation" of C#. See this [StackOverflow answer](https://stackoverflow.com/a/44758841/1506387) for example.

When I rewrite it to convert from UTF-32, it starts working

![Screenshot 2019-10-14 at 14 20 23](https://user-images.githubusercontent.com/939291/66750845-d69e2a80-ee8d-11e9-9b5c-8048a6c3ef6c.png)

[2019-10-14 12:21] #7915 closed

[2019-10-14 12:22] mdmota commented on #6810
this bug still not fix in XF4.3.0.778476-pre3

[2019-10-14 12:39] jfversluis commented on #7949
Wow it must've been Friday afternoon... It simply has a `CGImage` property 😅.

Implemented it like this and now they all work again. Thanks for the second pair of eyes! I'll open the PR right after this.

[2019-10-14 12:57] DennisWelu commented on #7949
Awesome! Thanks @jfversluis!

[2019-10-14 13:27] FabienBehra38 commented on #3754
Hello, anyone found a soluce to this issue ?

[2019-10-14 13:30] ionixjunior commented on #5919
Hi @StephaneDelcroix, I already created a test for this and the problem still happens. My test: https://github.com/ionixjunior/Xamarin.Forms/commit/40f7602d53727f0f87632ed37be6606ec0153225

[2019-10-14 13:31] Sangeetha-Raju commented on #5889
@manishkungwani , Please check the below attached the sample .
 https://www.syncfusion.com/downloads/support/directtrac/general/ze/XamarinListView-1300947348.zip

[2019-10-14 13:31] MickLesk opened #7999 "[Bug] Attribute "android:XXXXX" has already been defined"
### Description
I have updated my project to Xamarin Forms 4.3.0.851321-pre3. When I wanted to build the Android version of my app, I got the error that several attributes are already defined.  I looked at the generated "values.xml" and there e.g. "android:translationX" is present several times.

Values.xml --> https://www.protectedtext.com/gjfrjzrj (Password: 1234)

I have already deleted the obj

[2019-10-14 13:32] Sangeetha-Raju commented on #5889
@manishkungwani , Kindly check the attached sample below.

[XamarinListView.zip](https://github.com/xamarin/Xamarin.Forms/files/3724610/XamarinListView.zip)

[2019-10-14 14:06] berlamont commented on #7027
Same Crash, almost identical stack trace for me on latest stable xf

[2019-10-14 14:18] maexsp commented on #6579
Also run into the same problem. This is a very old issue and very annoying bug. Please fix or improve this soon. Writing Apps for an international customer base gets very disappointing with this bug.

[2019-10-14 14:22] #7952 closed

[2019-10-14 14:57] davidbritch opened #8000 "[Bug] CarouselView layout inconsistent across platforms for NumberOfSideItems=1"
### Description

I want to produce a CarouselView that (1) has multiple items on a page at once, and (2) left aligns on the page at all times. Here's my code:

[code]

Unfortunately this code produces different layouts on iOS and Android.

iOS:

First item is centre aligned by default, and there are two items on screen:

![Simulator Screen Shot - iPhone X - 2019-10-14 at 15 34 39](https://user-ima

[2019-10-14 15:04] SachinCS1992 commented on #7751
I have this issue with latest VS for Windows (16.3.4) and VS for Mac (8.3.3 build 8).

Upgrading XF version from 4.1.0.673156 to latest XF (4.2.0.848062 at the time) fixed the issue.

[2019-10-14 15:24] eincioch commented on #7952
the problem was because of the image I used, the company's marketing design, but it was already solved

[2019-10-14 15:31] ryl commented on #1529
@jfversluis Take a look at the UI test I created in this pull request (https://github.com/xamarin/Xamarin.Forms/pull/5237/files#diff-420d1f5f1ff2e21615eb786f50ef8328). Using the AccessibilityDelegate, I am able to find a variety of elements using their AutomationId, but their Name + HelpText is still read out correctly by TalkBack. My original bug report was only focused on buttons, so I'm not sur

[2019-10-14 15:38] mgoertz-msft commented on #7980
Thanks. I created a bug for it in the VS repo: Bug 1001715: [xamarin/Xamarin.Forms] [Bug] "Go to definition" option does not work with MergedDictionaries (#7980)

[2019-10-14 16:20] PureWeen commented on #7323
https://github.com/xamarin/Xamarin.Forms/pull/7367 has been merged but it's only a piece to the puzzle so don't expect for the warning to disappear

It's still going to require linker fixes inside the Xamarin.Forms SDK and Xamarin.IOS SDK
- https://github.com/xamarin/Xamarin.Forms/tree/ios_linker
- And then some additional linker fixes inside the Xamarin.iOS SDK itself

[2019-10-14 16:34] Drise13 opened #8002 "[Bug] [iOS] iOS refuses to link with error MT5209"
### Description
After several weeks with no developer activity, our Xamarin iOS build suddenly is refusing to link due to a MT5209 error: Native linking error: framework not found AppKit. The documentation has a * where any helpful information would be found: https://docs.microsoft.com/en-us/xamarin/ios/troubleshooting/mtouch-errors#mt5209-native-linking-error-

### Basic Information

- Version wi

[2019-10-14 16:37] henriqueu96 commented on #5626
I couldn't reproduce either

[2019-10-14 16:47] techduggu commented on #3798
Already on it. Will be raising it soon!

[2019-10-14 16:54] SirJohnK commented on #5232
Could we please get an update on this? (really, really want this!)

[2019-10-14 17:45] PureWeen commented on #5500
For some reason none of these handlers are firing when this is deployed to a physical device
https://github.com/xamarin/Xamarin.Forms/blob/5d010511c6fc49fe185f010c17fa9249820ad3d2/Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs#L180

I tested a native Xamarin.IOS application and the events fire there so not sure yet why it's different for us :-/

[2019-10-14 17:54] jfversluis commented on #7952
Great to hear! Thank you for letting us know

[2019-10-14 19:19] martijnlentink opened #8003 "[Bug][Android] In Picture in Picture mode bindings stop syncing"
### Description
Enabling PIP-mode on Android causes bindings to stop syncing. This is probably because Xamarin considers the app backgrounded.

### Steps to Reproduce

1. Implement OnPictureInPictureModeChanged in FormsApplicationActivity
2. Create a binding, for example an automatically incremented number that binds to Label.Text
3. Enter PIP mode and observe that the binding stops syncing

### E

[2019-10-14 19:19] Drise13 commented on #8002
We've narrowed it down to when we added [this ](https://github.com/SimonCropp/TextCopy) nuget package for our WPF desktop build.

[2019-10-14 19:19] #8002 closed

[2019-10-14 19:37] sthewissen opened #8004 "[Enhancement] Add a ScaleXTo and ScaleYTo animation extension method"
## Summary
Currently, the `ScaleXTo` and `ScaleYTo` extension methods are not there. However, counterparts for rotations are available. For consistency's sake, it would be nice to be able to use these as well.

## API Changes

In order to facilitate this, two additional methods need to be added to the `ViewExtensions.cs` class. They will animate the `ScaleX` and `ScaleY` properties accordingly.

[2019-10-14 19:40] sthewissen commented on #8004
Working on this right now on a live stream to see if I can PR this :)

[2019-10-14 20:13] PureWeen commented on #7860
@jfversluis it's probably part of the AppCompatButton as well.

Not sure if we want to change this behavior for non material

[2019-10-14 20:42] vsfeedback opened #8005 "iOS - Master Detail Page always displays"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/763810/ios-master-detail-page-always-displays.html)._

---
<p>We are using a MasterDetailPage for a hamburger menu on an iPad app with a binding of the IsPresented property to a variable of the associated class. When running the app on a simulator on iOS 13, the menu is alw

[2019-10-14 20:42] vsfeedback opened #8006 "Xamarin Forms - ListView Context Actions generate a crash on iOS when the list view is within a CellView of a TableView"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/771265/xamarin-forms-listview-context-actions-generate-a.html)._

---
I could reproduced the bug I found out on my application using the ListView Interactivity sample provide on Microsoft docs website.
From that sample, I just surrounded the listview with a TableView (HasUn

[2019-10-14 21:27] norton287 commented on #7556
@PureWeen  when will this fix be released?

[2019-10-14 21:28] Nullstr1ng commented on #3172
I'd like to also request for a feature that this CollectionView does not stretch up on the entire screen and just use the height depends on the number of item.

I am trying to have a multple lists in view
i.e
**Purchases**
<Items 1>
**Deductions**
<items 2>
Total
total
tot

but Items 1 and 2 (a CollectionView) just took too much height even if the I only have 3 or 4 items and there is a BIIIIIIIII

[2019-10-14 21:38] lachlanwgordon commented on #7690
Excellent, thank @PureWeen this fixed my problem. It's useful to know I've got a choice between behaviours on iOS.

[2019-10-14 22:27] PureWeen opened #8008 "[Bug] Removing Shell Item can cause Shell to try and set a MenuItem as the default visible item"
### Description

If you have a Shell structure that goes

- ShellItem 1
- MenuItem
- ShellItem 2

And you try to remove ShellItem 1 then Shell will act like "MenuItem" has been selected so that it can be set as the default page

### Expected Behavior
Shell Item 2 should become the default page

### Actual Behavior

MenuItem is clicked which usually triggers a command like a page push and then Shel

[2019-10-14 23:25] hartez commented on #3172
I think what you are looking for may be [Bindable Layouts](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/layouts/bindable-layouts).

[2019-10-15 01:01] jrahma commented on #5106
Hope this will be implemented soon

[2019-10-15 01:08] brepetti opened #8012 "[Bug] [Xaml] Compiled Binding - Value Cannot Be Null"
When trying to add compiled binding to existing project we keep getting "Value Cannot be Null, parameter name: type" in the Error List.  There is no other information so we cannot track down what is causing this.

I cannot replicate in a brand new project so we have no idea whats causing this.

Here is output in diagnostics mode:

Pages\HomeDashboardPage.xaml : error : Value cannot be null.
4>

[2019-10-15 02:17] wangyankun33 opened #8013 "[Bug] Xamarin.Forms Similar to android function setNextFocus with Entry"
### Description
I have a requirement to set the focus switching order of the entry.
### Steps to Reproduce

1. Create 3 entries, such as A, B, C
2. By setting A.setNextFocus(B), B.setNextFocus(C)
3. When A clicks enter, the focus will automatically switch to B, not triggered by the Completed event.

### Basic Information

- Xamarin.Forms version:4.2.0.618605-pre2
- IDE:Visual Studio Professional 2

[2019-10-15 02:52] adrianknight89 commented on #5966
Has the team reached any consensus as to how long-sitting PRs should be treated? Also, this spec seems more focused on features than bug fixes. We need to be able to quickly merge bug fixes (~50% of active PRs) as well.

[2019-10-15 05:26] #6963 closed

[2019-10-15 05:26] #7792 closed

[2019-10-15 05:26] #7837 closed

[2019-10-15 05:26] #5784 closed

[2019-10-15 07:15] john-heaven opened #8015 "VerticalScrollBarVisibility=“Always” not working in Xamarin Android"
### Description
I have a ScrollView in Xamarin Forms , when set `VerticalScrollBarVisibility` be `Always `  it doesn't work .Even though the content size is over the size of scrollview .

### Steps to Reproduce

1. Create a Xamarin Forms Apllication.
2. In xaml add ScrollView with a content view.
3. Run in Android simulator.

[code]

### Actual Behavior

![untitled](https://user-images.githubuserc

[2019-10-15 07:23] Nullstr1ng commented on #3172
Hey! Exactly what I need. Since when BindableLayouts existed?

[2019-10-15 07:54] MickLesk opened #8016 "[Enhancement] Xamarin Forms - Shared PDF-Viewer"
## Summary
A useful PDF viewer as shared code (Xamarin Forms) would be advantageous. Here I see an extreme weakness of Xamarin Forms. The PDF viewer (using the example: pdfJS from Mozilla) should be able to handle various basic functions, e.g. "Pinch-To-Zoom", "Rotate", "Notes", "Number of pages", "Search function" and a correct integration in iOS / WPF / Android / UWP.
Example: https://mozilla.gi

[2019-10-15 08:12] john-heaven opened #8017 "[Bug] Xamarin slider custom renderer DragCompleted event not working in iOS"
### Description
I am trying to put in function an IOS custom renderer for Slider control. Due to wrapping class SlideriOS the event are not firing and I need DragCompleted event. I have a try with `TouchDragExit` , `TouchDragOutside `method , however they all not working .

[code]

It works in Android, how can I fire the DragCompleted event for the slider control in iOS?

### Expected Behavior
![2

[2019-10-15 08:30] techduggu commented on #7985
Hi @jsuarezruiz / @PureWeen ,

I tried to reproduce this issue with official Shell Sample 'Xaminals' initially with version v.4.2.0.709249 (purposely as I know that it has broken FlyoutBehavior as per https://github.com/xamarin/Xamarin.Forms/issues/7656#issuecomment-537648518) and as expected, it didn't work.

I then upgraded 'Xaminals' to latest stable version v.4.2.0.848062 (considering your [PR

[2019-10-15 08:30] adrianknight89 commented on #7993
I knew this was going to come up at some point. :) See #8018.

[2019-10-15 08:35] techduggu commented on #7985
This is with Xamarin.Forms (master) branch (where Flyout Behavior is working as expected):

![image](https://user-images.githubusercontent.com/17450941/66814698-acfc0680-ef54-11e9-9a2e-db84b4a00c5f.png)

[2019-10-15 08:40] techduggu commented on #7985
This is with Xaminals (v.4.2.0.848062) (where Flyout Behavior is not working as expected):

![image](https://user-images.githubusercontent.com/17450941/66815151-64911880-ef55-11e9-91b7-fb35db2f8bca.png)

[2019-10-15 08:46] nirbil commented on #7691
[CanGoApp.zip](https://github.com/xamarin/Xamarin.Forms/files/3728073/CanGoApp.zip)
Attached an example project.
Do the following to reproduce two buggy scenarios:

Scenario 1:
1. Start either the UWP or Android app
2. Click the 'Go to Angular App' button. The WebView navigates to an angular app page, the 'Go Back' and 'Go Forward' buttons are red ✅
3. Click some link inside that page. The WebView

[2019-10-15 09:07] tonyfonager commented on #7520
Yes, thanks for fixing it - any idea when it will be released in stable version ?

[2019-10-15 09:24] techduggu commented on #7985
Reg. this question -

Just watched @jfversluis yesterday's stream recording and now it's clear. So 'master' branch contains future release changes (probably v.4.4) and may be that's the reason I'm not able to reproduce this bug with master branch. So, Does it mean this issue fix will be available with future versions? (I think it might be blocker for the people using the latest stable version v.4.

[2019-10-15 09:26] qhu91it commented on #2735
Hi, I don't know why but I get this error

Visual Studio Professional 2019 for Mac Version 8.3.3 (build 8)
Xamarin.iOS Version: 13.4.0.2
Xamarin.Android Version: 10.0.3.0

[2019-10-15 09:34] thisdarktao commented on #7520
@samhouts Any official word on this yet? This is still 'To Do' in the `CollectionView` project.

[2019-10-15 09:37] jfversluis commented on #7520
@thisdarktao is the issue fixed for you as well? What is the "official word" you are waiting for if you don't mind me asking? This issue is probably fixed because of another underlaying problem but wasn't referenced as such, that's why it's still open but already seems fixed. Typically you should not have to worry about the status it has on our boards 🙂

@tonyfonager the stable should arrive prett

[2019-10-15 09:41] #7520 closed

[2019-10-15 10:02] shanranm commented on #7989
TitleView is attached property of NavigationPage.
PushAsync also doesnt show TitleView if its not inside a NavigationPage.

[2019-10-15 10:07] SOliasS opened #8021 "[Bug] Requesting Permission on Android on SubPages inside Shell faulty behavior"
### Description
I´m using Plugin.Permissions which uses:

`ActivityCompat.RequestPermissions(activity, permissionsToRequest.ToArray(), permissioncode);`

To request permissions on Android.
When using it on a normal Page:
1. OnDisappearing will get triggered when the Permission request window/Dialog opens
2. After the request ist handled and the request window closes OnAppearing get´s triggered

Th

[2019-10-15 10:10] decv86 commented on #1711
:(

[2019-10-15 10:18] matteopiccioni commented on #7877
I am almost sure that the issues is not on ObservableCollection
The problem is triggered changing the ObserableCollection that trigger the viewcell update.
The problem was inside the ViewCell on the Button control (the exception report ButtonRenderer)
I modify my ViewCell replacing Button with <StackLayout> and <StackLayout.GestureRecognizers>
and now the problem is gone.

In my code I had a listv

[2019-10-15 10:40] rehan-saleh opened #8022 "[Bug] Font icons"
### Description
Font icon does not appear on screen

### Steps to Reproduce
1. Add ttf file in Android/Assets and iOS/Resources folder
2. Add FontIcons class in your project which contains the properties having value font icon code
[code]
3. Register the font in App.xaml.cs
[code]
4. Use IconImageSource from AP.MobileToolkit.Fonts
[code]

### Expected Behavior
Font icon should display on all platf

[2019-10-15 10:45] #8022 closed

[2019-10-15 10:57] acaliaro commented on #7833
I think there is something wrong.

I have modified a xaml file adding some Entries with x:Name... the error appears but I can debug without problem, but when I change the configuration to "Release" and try to recompile the solution, the errror block the compilation.

Closed VS2019, deleted bin and obj, now it works

[2019-10-15 11:24] jfversluis commented on #7877
Thank you for letting me know @matteopiccioni! Coincidentally, today I had someone approach me with the exact same problem. I will try to work with them to reproduce it and hopefully get to the bottom of this.

This info certainly helps!

[2019-10-15 12:05] MhAllan commented on #3722
Too slow startup, any updates on this?

[2019-10-15 12:13] jfversluis commented on #7076
I have created a reproduction with just Xamarin.Forms components and then it does seem to work fine. So, is the problem only showing when using this SyncFusion control? Because if so, I'm starting to believe the problem might be somewhere in there.

[Repro7076.zip](https://github.com/xamarin/Xamarin.Forms/files/3729135/Repro7076.zip)

[2019-10-15 12:23] PaulAnderson02 commented on #7076
HI @jfversluis ,

Thanks for the update. I'm from Syncfusion and we don't have any source code changes at our end. The same source worked fine in the below version and not working in the latest Xamarin.Forms version.

**Version with issue: Xamarin.Forms version 4.1.0.618606 and 4.0.0.618610 (but it worked in previous version 4.1.0.581479)

Working version: Xamarin.Forms 4.1.0.581479 and v4.0.0.540

[2019-10-15 12:28] joduss commented on #3246
For those who would still have this issue:

Don't use `x:Type` but `Type`.

[code]

[2019-10-15 13:17] dimigithub commented on #7505
Same issue. We are considering not putting our UWP into production for our end-users because of this bug.

[2019-10-15 14:27] jfversluis commented on #1529
It looks like `AccessibilityDelegate` is available on the `View` object, so I guess it would be available on all visual elements and we can use this to create a solution for this while retaining both the AutomationId functionality as well as gaining accessibility?

[2019-10-15 15:04] jfversluis commented on #7927
I've tried to reproduce this with a simple project, but I seem unable to. Scrolling seems to just work.

Could you maybe add a reproduction project showing this problem? Thanks!

[2019-10-15 15:28] bmacombe commented on #6474
I believe the issue here is that prior to Win 10 1809, the button control did not support corner radius.  The radius was only being set on the content control hosted by the button.  So when the background of the button changed when not enabled, it expands beyond the content control.

To test I changed the Win 10 targets to 1809 and set the corner radius property of the button as well as the conten

[2019-10-15 15:36] UnreachableCode commented on #4233
Is an EventHandler that fires before the animation is executed possible? Something like `BeforeStarted`? This looks very powerful!

[2019-10-15 15:49] jingliancui commented on #6996
@samhouts hi,samhouts,can you tell me about which version will fix this issue?
Now I have to use binding and pub/sub to control the global color of the fountimagesource

[2019-10-15 15:52] DottorPagliaccius commented on #6011
same here

[2019-10-15 15:53] rmarinho commented on #6475
Hi, can you still replicate the issue?

Can you remove the layout on the CarouselPage? I think this was a old sample not using the correct linear layout.

[2019-10-15 15:55] Mikilll94 opened #8028 "[Bug] When using WkWebViewRenderer, links with "target = _blank" do not respond"
### Description

In Xamarin.Forms it is documented that on iOS you can use `WkWebViewRenderer` instead of `UIWebView` which will be deprecated in near future.

https://docs.microsoft.com/pl-pl/xamarin/xamarin-forms/user-interface/webview?tabs=windows#performance

However when using `WkWebViewRenderer` there is a serious problem that when tapping on links with `target =  _blank` nothing happens. An

[2019-10-15 15:55] s-bhavin-shah commented on #7323
So what version of XamarinForms has this fixed?

[2019-10-15 16:13] ryl commented on #1529
That's my impression so far. The UI test works with button, switch, and image so far. I imagine it might work for others, but I haven't had the opportunity to try out ALL of them.

[2019-10-15 16:25] JKennedy24 commented on #6475
taking the Layout of the page works perfectly

Thanks!

[2019-10-15 16:25] #6475 closed

[2019-10-15 17:16] bmacombe commented on #7992
I've got an idea on how to address this, working up something now and will post a draft PR for the DatePicker only to get some feedback.  Hopefully yet today.

[2019-10-15 17:31] jcmanke opened #8029 "[Bug] Dialog theming issues with Android dark mode"
### Description

When using an Android device that supports dark mode (i.e. Android 10) and styles inheriting from `Theme.AppCompat.DayNight`, the alert presented by `Page.DisplayAlert` has a white background instead of dark gray when the device is in dark mode, resulting in unreadable text.

I believe this has something to do with the use of `Android.App.AlertDialog` rather than `Android.Support.

[2019-10-15 18:05] adrianknight89 commented on #7996
@sunilpatil919 Would be great if you could attach a minimal reproduction project to expedite verification.

[2019-10-15 18:32] #7851 closed

[2019-10-15 19:15] jfversluis commented on #7323
@s-bhavin-shah, we need to go through multiple stages and steps to fix this and put this away for good. Therefore this is not fixed in a certain Xamarin.Forms version at this point. I just want to reiterate that there is no reason for concern at this point. The message from Apple is just a warning for now and will be a warning for some good time to come.

By the time the warning becomes Apple reje

[2019-10-15 19:22] jrahma commented on #7989
Every page should have an option to have or not to have a title and Modal pages are not exceptions no matter what is the reason for not having

HAving the developer to draw the title using Grids or Stacklayout shows that there is something missing in Xamarin Forms and there is a space for improvement

[2019-10-15 19:27] adrianknight89 commented on #7969
There is nothing wrong with `ItemSpacing`. If you give the top level `Grid` a background color, you'll see that item spacing is accurate. I suspect that the issue is a combination of faulty grid auto row height calculation, image aspect size, and potentially `CollectionView` item size calculation.

@HobDev For the time being, I suggest that you data bind the width/height of the image or its contai

[2019-10-15 19:33] adrianknight89 commented on #7917
@westermost Are you wrapping a `WebView` with a `ScrollView`? Even if you prevent bouncing in `ScrollView`, you might see the inherent HTML scrollview bounce instead. In general, you shouldn't combine the two together. I agree that a repro should be attached.

[2019-10-15 19:43] PureWeen commented on #7556
@norton287 Hopefully in the next week

Builds still need to go through some internal testing but we're anxious to get this out

[2019-10-15 19:45] adrianknight89 commented on #7765
I don't think this is possible with default keyboards unless Xamarin provides a custom keyboard implementation. The only thing we could do is change the app locale, but that could affect so many other things like UI language and clock representation. Also, if an app forced users to use a specific language keyboard, then they can be thrown off by that.

[2019-10-15 19:46] norton287 commented on #7556
@PureWeen Thanks for the update!

From: PMheart <notifications@github.com>
Reply-To: "xamarin/Xamarin.Forms" <reply@reply.github.com>
Date: Tuesday, October 15, 2019 at 2:43 PM
To: "xamarin/Xamarin.Forms" <Xamarin.Forms@noreply.github.com>
Cc: norton287 <norton287@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [xamarin/Xamarin.Forms] masterbehavior.popover not being observed in Xama

[2019-10-15 20:34] adrianknight89 commented on #7350
My phone has gotten only 13.1.3 so far, and I can see the issue described here. So, if I understand you correctly, your published apps still use 12 and that's why they are working as expected?

[2019-10-15 21:00] mnidhk commented on #7350
Correct! So for apps, compiled with ios12, there is a patch by Apple automatically. New compiled apps with iOS 13 are still affected with this issue, also in beta 13.2.

[2019-10-15 21:58] jrahma opened #8030 "Label.Text is ruining my multi lines text"
Hi,

I am using below to get Multi-line Label which is working fine except it also consider the spaces before the text although it's just given for XAML align purpose and not for paragraph alignment just like all the other XAML indents

The result of the code is also attached as screenshot

[code]

![Screenshot_20191016_015445_com softnames zeeraapp](https://user-images.githubusercontent.com/62362

[2019-10-15 22:22] PureWeen commented on #5500
For now this should fix
https://github.com/xamarin/Xamarin.Forms/pull/8011

Here's the root of the problem being investigated by the iOS team
https://github.com/xamarin/xamarin-macios/issues/7235

[2019-10-15 22:24] PureWeen commented on #4606
I want to live Sambot!!!

[2019-10-15 23:14] PureWeen commented on #7985
@techduggu Thank you for looking into this one!!!

Same... Which I'm currently confused about :-/
I tested against the latest nightly and it's broken there so I'm thinking it's some ordering of initialization that's causing this but not sure yet.

[2019-10-16 00:40] PureWeen commented on #7985
Alright it looks like when you use ContentTemplate the flyout is calculated too early before the content page is renderered so it fails to walk up the tree and find the effective value :-/

If you define the default page inside the ShellContent opposed to in the ContentTemplate that should let you work around it for now

[2019-10-16 01:17] adrianknight89 commented on #7350
OK. I submitted a PR to fix this issue.

[2019-10-16 01:20] codingL3gend commented on #1529
i'd be willing to look further into this as well. I did an initial implementation using the AccessiblityDelegate but it didn't overwrite the speech the way i wanted it to. Also with changes in android and how it does accessiblity after updates it causes issues with my initial solution outlined above; which resulted in going with the worst case route of having a build for automation and one for acc

[2019-10-16 02:01] kingces95 commented on #8012
Can you please add a solution that reproduces this issue? Thanks!

[2019-10-16 02:08] kingces95 commented on #8028
Any chance you should attach that simple reproduction? I'll re-create it if not, but when we get a bunch of bugs to go through not having to create reproductions really saves us a bunch of time! Thanks!

[2019-10-16 02:55] adrianknight89 commented on #6999
@raindeer Hi, sorry I forgot about this...

Here's the Android implementation:

[code]

[code]

This one translates the view on the x axis to point 0. For other properties, you'll need to swap the corresponding Android property names. Make sure to notify Forms of the final change in the `AnimationEnd` event.

iOS is a bit tricky. I'm sure there is a better way to do this.

[code]
On iOS, you need

[2019-10-16 05:13] HobDev commented on #7969
What i didn't understand is that an image causes this issue but the another one not.

[2019-10-16 06:22] Nijamudeen-Mohamed commented on #7433
Any update on this?

[2019-10-16 06:40] StephaneDelcroix commented on #8030
All white spaces, of any type, of any length, should be treated as a single white-space, unless wrapped in CDATA section. But you'll loose your CR in the process, too. Is that what you'd like ? how does it behave on UWP or WPF ?

[2019-10-16 06:44] jrahma commented on #8030
I don't have UWP nor WPF

It should not add all this space when I just indent it for arranging purpose only

[2019-10-16 06:57] chris-parker-bliss commented on #7599
Is there any workaround to this, other than making the `WebView` this first child element?

[2019-10-16 07:05] MJRomka opened #8035 "SanFrancisco (.SFUIText, .SFUI-Regular) fonts issue in iOS 13"
After updating to iOS 13 my fonts failed. In my App.xaml I had:

[code]
It all worked fine until I updated my device to iOS 13.

I debugged iOS project and find out that font names could be changed to: .SFUI-Regular, .SFUI-Semibold - but these do not work neither. Also I tried updating to the latest Xamarin version - no luck.

How can I use these 3 font families in the newest iOS version?

[2019-10-16 07:41] kelvincwk commented on #5210
Same here with latest version 4.2.0.848062

[2019-10-16 07:45] Mikilll94 commented on #8028
Here is the reproduction project:
[App1.zip](https://github.com/xamarin/Xamarin.Forms/files/3733027/App1.zip)

Run it and click on Facebook logo:
![image](https://user-images.githubusercontent.com/17653648/66898466-8cd25300-eff9-11e9-9e2b-35727457746a.png)

As you will notice nothing happens

[2019-10-16 08:00] jrahma opened #8036 "Include XAML File"
Hi,

Please add an option to include a file such as the <?php include ?> in PHP

This helps for example when you want to ave a Navigation.TitleView for several pages and you want to keep it in one file instead of copying pasting the same code in every page and later when you want to change you will have to go again and change in all

This can be something like this:

`<%Include MyTitle.xaml %>
`

[2019-10-16 08:24] GalaxiaGuy commented on #8015
It appears the Android implementation just doesn't do everything necessary for `Always` to work.

Based on this:

https://stackoverflow.com/questions/5702502/how-to-always-show-scrollbar

Adding (the C# version of) `setScrollBarFadeDuration(0);` or `setScrollbarFadingEnabled(false);` to the renderer might do the trick.

[2019-10-16 08:26] xamarindevelopervietnam commented on #8035
same here!

[2019-10-16 08:31] LeoJHarris commented on #7844
Experiencing the same issue with Xamarin Forms 4.2.0.848062, scrolling away and back results in weird cropping and cutting of label text.

[2019-10-16 08:57] StephaneDelcroix commented on #8036
Thanks for this proposal. Unfortunately, this would break compatibility with the XAML language, and so we won't support it.

For your particular case, you probably should define a custom control for your TitleView, and reuse it. the syntax will be as short as what you expect

[2019-10-16 08:57] #8036 closed

[2019-10-16 09:12] Johnvan opened #12556 "How to Time Picker Set to Binding Value"
Why can't I set the xaml Control TimePicker to the database field Date as follows, the result is 00:00:00 or 12:00:00 if Format is Format="HH:mm"

<TimePicker x:Name="_timePicker2" Format  ="hh:mm" Time="{Binding Date}" ></TimePicker>

Otherwise TimePicker works as far as Setting the time manually.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-16 09:41] PaulVrugt commented on #7843
This issue is not limited to UWP. I have the exact same issue in Android. I thought I was just being an idiot and could not find the right padding property to set. But being unable to remove the spacing makes the collectionview unusable in my case

[2019-10-16 10:01] juanmalm commented on #4996
Hello,

On UWP: PositionChanged, CurrentItemChanged and Scrolled events are NOT being fired when CarouselView is manipulated via UI. I'm using Xamarin.Forms 4.3.0.851321-pre3

[2019-10-16 10:27] ColeXm commented on #3150
I have the same issue on scrollview , IsClippedToBounds  does not work even i took the solution in the link : https://bugzilla.xamarin.com/show_bug.cgi?id=59448  .

[2019-10-16 11:25] Nadeem-Hashmi commented on #7416
Hi,
I am facing the same issue in IOS Top Tabs.
How to fix this?

[2019-10-16 11:27] pardont opened #8038 "[Bug] [WPF]ImageButton with source from resource throw System.InvalidOperationException"
[TestWpfImageButton.zip](https://github.com/xamarin/Xamarin.Forms/files/3734024/TestWpfImageButton.zip)

#8025 # Description
Set ImageButton.Source with ImageSource from resource in page constructor on WPF platform, System.InvalidOperationException will be throwed when page apprearing.

### Steps to Reproduce
1.  add ImageButton to page xaml
2.  set ImageButton.Source = ImageSource.FromResource(""

[2019-10-16 12:31] ianthetechie commented on #7679
I have noticed this issue as well. This will likely delay shipping of our app if it isn't fixed soon as this looks awful.

[2019-10-16 12:51] jfversluis commented on #7679
There is a PR attached to this issue that possibly fixes it. While we are processing that, you might be able to look at the code and turn it into a solution useable through a custom renderer so you won't be blocked.

[2019-10-16 12:52] ianthetechie commented on #7679
Ooh, fantastic. Thanks; I'll look into that.

[2019-10-16 13:03] mateuswolkmer commented on #7833
This issue is also happening here since I last updated the Xamarin package. I always receive multiple errors (with different element names) when building: `Position 82:38. An element with the name "residueSelectionHeader" already exists in this NameScope`.
Doing a search for the term it only appears in the XAML its declared, and in the CodeBehind where I add GestureRecognizers to it:
![image](http

[2019-10-16 13:05] breyed opened #8039 "[Bug] WPF ListView ArgumentOutOfRangeException when tapped"
In WPF, if you tap the first item in a ListView with grouping enabled, the following unhandled exception is thrown:

Clicking with the mouse works. The exception only occurs when using a touchscreen.

Call stack:
[code]

[2019-10-16 13:07] jfversluis commented on #7992
Let us know how it goes @bmacombe!

[2019-10-16 13:24] breyed opened #8040 "[Bug] [WPF] Action sheets don't handle touch"
In WPF, for an action sheet created with `Page.DisplayActionSheet`, none of its buttons do anything when tapped using a touchscreen.

[2019-10-16 13:27] breyed commented on #8040
Never mind; there appears to have been something outside the app blocking touch on certain parts of the screen.

[2019-10-16 13:27] #8040 closed

[2019-10-16 13:44] baileysnead opened #8041 "iOS13: Xamarin.Forms SearchBar BackgroundColor not behaving properly"
### Description
Since iOS13 update, setting the BackgroundColor property of the Xamarin.Forms SearchBar sets both the search bar border and the text-field fill to the same color. I want these two aspects to be different colors for contrast reasons.

### Steps to Reproduce

`<SearchBar BackgroundColor="Gray"></SearchBar>`

### Expected Behavior
Outer box to search bar is gray, inner text field is w

[2019-10-16 13:56] adrianknight89 commented on #8041
I've noticed this (or something similar) recently when testing the gallery app on iOS13.

[2019-10-16 14:26] anaselhajjaji opened #8042 "[Bug] Images not shown correctly while using GTK#"
All the details are present on:
https://github.com/jsuarezruiz/xamarin-forms-gtk-movies-sample/issues/1

[2019-10-16 14:45] acaliaro commented on #6700
I think to have the same problem but I am not able to reproduce it

Package: com.XXX.XXXXXX
Version Code: 64
Version Name: 2.0.0
Android: 6.0.1
Android Build: 01-21-04.1-MN-00
Manufacturer: Zebra Technologies
Model: TC51
CrashReporter Key: 7c562aad-e1a9-47e6-8040-d9a82a160020
Date: undefined

Xamarin Exception Stack:
System.InvalidOperationException: Sequence contains no elements
  at System.Linq.

[2019-10-16 15:07] acaliaro opened #8044 "Java.Lang.IllegalArgumentException: View=DecorView@480ddcc[] not attached to window manager"
### Description
An XF application crash on Android
### Steps to Reproduce
unknown
### Expected Behavior
don't crash
### Actual Behavior
Package: com.xxx.xxx
Version Code: 64
Version Name: 2.0.0
Android: 7.1.2
Android Build: 01-01-49.00-NN-U12-STD
Manufacturer: Zebra Technologies
Model: TC51
CrashReporter Key: b292a407-28c7-4ba4-9acf-9ec3a7109266
Date: undefined

Xamarin Exception Stack:
Java.Lang.

[2019-10-16 15:24] StephaneDelcroix commented on #8030
could you please rephrase this as an enhancement ? thanks

[2019-10-16 15:25] StephaneDelcroix commented on #8030
related to #6934

[2019-10-16 15:48] tiseidel opened #8045 "[Bug] Forms.ListView CachingStrategy affects iOS Keyboard overlapping."
### Description
My basic Xamarin.Forms layout is as follows:

[code]

With ListView.CachingStrategie = **RetainElement**, the ListView scrolls up to the element, so that it's not overlapped by the keyboard if a entry is selected. The RetainElement led to some other problems, so i wanted to go with RecyleElement.
But, with  ListView.CachingStrategie = **RecycleElement** the mechanism doesn't work o

[2019-10-16 15:52] larsoad commented on #7416
If you include this file (change extension to .cs): [FixedShellSectionRootHeader.txt](https://github.com/xamarin/Xamarin.Forms/files/3735200/FixedShellSectionRootHeader.txt) in your ios project it should at least keep your app from crashing but the tabs will still not scroll correctly.

The fix is simple (the null check on line 22) but getting it injected is a pain because you can't target the rel

[2019-10-16 16:15] PureWeen commented on #7985
@techduggu I'll get it

I should have a PR today or tomorrow. Thanks again for all the exploration

[2019-10-16 16:32] FIELDPOINT commented on #2233
Any updates? Still waiting.

[2019-10-16 16:46] #7888 closed

[2019-10-16 16:46] #7865 closed

[2019-10-16 16:46] #7993 closed

[2019-10-16 16:51] bmacombe commented on #7992
Ran into some complications...still working on it.  UWP handles these flyouts different then I was expecting based on wpf and silver light.  I totally agree having a show method in xf vs on focus would be great!

[2019-10-16 16:56] theo-albers commented on #7833
After the latest Visual Studio 16.3.1 update, I don't get this exception during runtime anymore. However I noticed the problem kind of still exists during debugtime. I see red squiggles under named elements when I debug the App on Android, with hot reload enabled and after having modified the XAML during debug. I guess hot reload tries to reload the same XAML in the same context and detects duplic

[2019-10-16 18:16] FIELDPOINT commented on #4695
Any updates on this?

[2019-10-16 18:45] PureWeen commented on #5500
In the mean time if you want to fix this locally

- Create a custom Renderer for material Editor
[assembly: ExportRenderer(typeof(Xamarin.Forms.Editor), typeof(CustomEditorRenderer), new[] { typeof(VisualMarker.Material) })]
- Override OnElementChanged
- And just store the TextView into a local variable on the class

That should stop the TextView from getting GC'd

[2019-10-16 19:02] theapphideaway commented on #2233
I havent heard anything, would love to get notified if this is fixed.

On Wed, Oct 16, 2019, 2:51 PM Mr-Pearce <notifications@github.com> wrote:

[2019-10-16 19:05] kingces95 commented on #8045
If you have a reproduction, could you please attach it? We can re-create it but if you've already got one then it saves us a bunch of time as the time to re-creating the repros really adds up for all the issues! Thanks.

[2019-10-16 19:06] kingces95 commented on #8044
Could you please attach a solution that reproduces this issue? Thanks!

[2019-10-16 19:08] kingces95 commented on #8039
Can you please attach a small solution that reproduces this issue? Thanks!

[2019-10-16 19:12] 15mgm15 commented on #4715
@georgethms10 Did you found a solution for this?

[2019-10-16 19:14] 15mgm15 commented on #6700
@acaliaro By any chance do you have a solution for this?

[2019-10-16 19:14] kingces95 commented on #7954
I bet this has to do with the `async` and not the use of WebView (other than that it's returning data asynchronously).

[2019-10-16 19:31] breyed commented on #8039
Sorry, but I don't have one. I've used WPF as a debug-only project since the preview came out, since it starts up super-fast and has great debugging. So I've only seen the issue on our production app. The behavior has been the same ever since the first WPF preview version. If it doesn't repro readily for you in an existing test project, let me know and I can put together an isolated repro.

[2019-10-16 19:46] marcojak commented on #2233
This is very annoying.
I'm having the same issue on iOS.
I don't get how is possible that no one fixed it or at least had a look at it.

[2019-10-16 19:52] acaliaro commented on #6700
absolutely no

[2019-10-16 20:01] Jalroka commented on #7556
Is the fix available currently in preview 4.3.0.85 or the nightly builds?

[2019-10-16 20:35] kingces95 commented on #7956
Verified the following BP is not hit. Also, just typing in to the search bar is busted on the reproduction. Expected to be able to type more than one character but actually the second character does not appear.

![image](https://user-images.githubusercontent.com/4120386/66956742-a4610a00-f000-11e9-9dfd-cb9affaad2df.png)

[2019-10-16 20:37] kingces95 commented on #7965
Would you mind attaching the reproduction solution/project to the bug. Thanks!

[2019-10-16 20:44] kingces95 commented on #7990
![image](https://user-images.githubusercontent.com/4120386/66957420-eb033400-f001-11e9-8284-7a72242e7d07.png)

[2019-10-16 20:45] kingces95 commented on #7995
Can you please attach the solution/project which reproduces the bug to this issue? Thanks.

[2019-10-16 20:53] acaliaro commented on #7934
I think should be very interesting trying to add other features like text recognition...

[2019-10-16 20:54] kingces95 commented on #7994
On master, when I click on an element and get a popup on iOS 13 with Recycle enabled. Is that unexpected or expected behavior?

![image](https://user-images.githubusercontent.com/4120386/66958088-2baf7d00-f003-11e9-9526-a13b67a545ec.png)

[2019-10-16 20:55] davidbuckleyni commented on #7934
Yes that would be great esp like of business cards and credit cards.

On Wed, 16 Oct 2019, 21:54 Alessandro Caliaro, <notifications@github.com>
wrote:

[2019-10-16 21:01] bmacombe commented on #7992
@jfversluis  Quick preview of what I'm thinking.

In the Renderer override OnElementFocusChangeRequested, since this will only be called when Focus() is called on the picker.  This then ignores all the focus events from the native uwp control.  Which will keep the flyout from opening on things like tabbing through controls, etc.  So it will only display on a call to the XF Focus method.  Pretty mu

[2019-10-16 21:05] FIELDPOINT commented on #6498
ANy updates?

[2019-10-16 21:57] bmacombe commented on #7992
Of course the above method, doesn't actually update the original datepicker value.  I'm sure I could bind it...I'm really struggling to find a way to activate the UWP DatePicker Click handling.

[2019-10-16 22:06] kingces95 commented on #7999
Please attach the app that builds and provide the steps you take to upgrade so that it unexpectedly no longer builds.

[2019-10-16 22:14] kingces95 commented on #8000
![image](https://user-images.githubusercontent.com/4120386/66963097-81d5ed80-f00e-11e9-9420-738557616b8d.png)

[2019-10-16 22:15] kingces95 commented on #8003
Could you please attach a project/solution that reproduces the issue? Thanks!

[2019-10-16 22:16] kingces95 commented on #8006
Can you please attach the project/solution that you derived from the sample that reproduces the issue? Thanks!

[2019-10-16 22:21] kingces95 commented on #8015
[App15.zip](https://github.com/xamarin/Xamarin.Forms/files/3736605/App15.zip)

[2019-10-16 23:39] arctouch-oberdanbitencourt commented on #5612
Hey @samhouts I took the liberty to create a PR before asking to work on this. 😬

[2019-10-17 00:00] skadookkunnan commented on #6908
We are also getting this issue in random. It was not happening while we were at the XF 3.x SDK. We recently moved to XF 4.2 SR3 and this started to showing up. Also, it is not reproducible all the time in our case.

There is no log we get in the console while this happens, so, not able to identify the real problem and give a fix.

Is there a hacky fix someone has done for this?

[2019-10-17 01:22] kingces95 commented on #8021
[8021.zip](https://github.com/xamarin/Xamarin.Forms/files/3737015/8021.zip)

[code]

[2019-10-17 01:24] kingces95 commented on #8021
The above log is generated using the zip I attached by clicking on Tab2 then back to Tab1 then Test then Test again, the accepting permissions then Back.

It's unexpected that `Tab1 OnAppearing` occurs before `SubPage1 OnDisappearing`. The opposite is expected.

[2019-10-17 01:48] goneale commented on #7751
I suffered this issue too... and wow, having running a Xamarin project for many years now, I thought Xamarin was updating always via Visual Studio updates. Completely didn't realise there would be Nuget packages to make sure are up to date too...

**As per @SachinCS1992 said, updating to 4.2.0.848062 today worked for me too.**

[2019-10-17 02:19] observer1 opened #8053 "[Bug] Listview on wpf takes takes a lot to clear when changing itemsource"
### Description
Listview on WPF takes a lot to clear thounsands of items
### Steps to Reproduce

1. Create a listview and fill with thousands of items
2. Change the itemsource to a list of the same type but empty
3. It will take a lot of time

### Expected Behavior
The listview should clear instantly
### Actual Behavior
The listview takes a lot of time to clear
### Basic Information

- Version wit

[2019-10-17 02:26] scriptBoris opened #8054 "How detect pressed software button NavigationBack?"
No way how catch pressed software button NavigationBack.
![image](https://user-images.githubusercontent.com/29772096/66972894-a55d6e80-f0c8-11e9-805d-3684ba1a0c3d.png)

[2019-10-17 02:42] observer1 opened #8055 "[Bug] Listview takes a lot to fill on Gtk"
### Description
On Gtk a listview with itemsource with thousands of items takes a lot to fill
### Steps to Reproduce

1. Fill a list with thousands of items
2. Set the listview itemssource to the list
3. It will take a lot to fill

### Expected Behavior
The listview should fill much faster
### Actual Behavior
The listview is filled progressively and very slow
### Basic Information

- Version with

[2019-10-17 03:18] bmacombe commented on #7992
@jfversluis I've opened a draft PR for review my approach to this issue, a review at your convenience
would be greatly appreciated.

[2019-10-17 03:24] Magendanz commented on #7268
So, I think the underlying problem here is with animation.  This is on by default, so just calling `ScrollTo(item)` will attempt to animate to the target item.  For me this usually fails.

However, if you call with the `animate` parameter set to **false**, it works as expected.

[2019-10-17 06:42] Sangeetha-Raju commented on #7797
Any update on this?

[2019-10-17 06:59] begreal commented on #6908
i made a workaround which works pretty well. i've set the height of the ListView to the height of the device display. i am getting this information from Xamarin.Essentials. here is the codeline for the workaround:

                ProductsListView.HeightRequest = DeviceDisplay.MainDisplayInfo.Height;

[2019-10-17 07:30] #5606 closed

[2019-10-17 07:32] #5612 closed

[2019-10-17 08:00] StephaneDelcroix commented on #7833
@theo-albers, @mateuswolkmer: intelisense squiggles while debugging looks like HotReload messages. the current version of HR doesn't work well with forms>4.2, the next release will fix that.

[2019-10-17 08:09] PrvnKmr commented on #3010
Any update on this? I am working on a requirement where the push page animation is expected to show the previous page underneath, till the transition completes. So, essentially the second page needs to be transparent over the first page while it slides in when pushed, so that the page below it (first page ) is still partially visible.

[2019-10-17 08:33] amr-moomen opened #8058 "[Bug] Random Disappearance and miss alignment in text while scrolling up and down when using "ListViewCachingStrategy: RecycleElement""
### Description
when scrolling down and up again labels randomly truncated and miss alignment
but  when " <ListViewCachingStrategy>RecycleElement</ListViewCachingStrategy> " is commented the issue seems to be solved

### Steps to Reproduce

1. Add a ListView with ListViewCachingStrategy=RecycleElement.
2. Within ListView use a label.
3. scroll down and up again.

### Expected Behavior

Labels are

[2019-10-17 08:52] REDECODE commented on #7751
Same issue for me in:

- VS2019 (16.3.5)
- Xamarin Android SDK 10.0.3.0
- target Android version 9.0
- Xamarin Forms 3.6.0.709228 (android support library 28.0.0.1, tested even with 28.0.0.3)

any workaround?

[2019-10-17 09:02] xmesaj2 opened #8059 "[Enhancement] Shell TabBar Icon customization"
## Summary
Allow to choose rendering mode, change tint with selected image, scale XY.

## API Changes
Both platforms allow to implement this, I don't know about UWP:

iOS:
- [ ] Expose SelectedIcon Property of TabBar to new XAML property as ImageSource
- [ ] Allow to set UIImage rendering mode.
- [ ] Preferably also UIImage scaling size with CGRect could be added

Android:
- [ ] Allow to set TintL

[2019-10-17 09:49] jfversluis commented on #7505
@SamuelDebruyn @dimigithub do you have any additional information on this at all? Anything can help :)

I'm trying to look into this and experimenting with what it could be, but so far nothing.

[2019-10-17 09:50] Darlingtone commented on #6486
@PureWeen  if it's meaningless then it shouldn't be there in the first place, what's the point of allowing me to override it if you're not going to execute the overriding code.

if it's an excess baggage from the base Page class i believe it can be hidden, however I think there might be some good use case for the OnAppearing

[2019-10-17 10:05] sthewissen commented on #8017
I can probably take a look at this.

[2019-10-17 10:49] #2237 closed

[2019-10-17 10:53] krdmllr opened #8060 "[Enhancement] Change ControlGallery shared issue project to .netstandard"
## Summary
The ControlGallery shared issue project currently has the "Shared" project type. The problem with this is, that files are referenced explicitly which leads to merge conflicts when adding a new issue page.
![Screenshot_20191017-124708~2](https://user-images.githubusercontent.com/11095003/67002789-ebbcc880-f0dc-11e9-8403-f396060d432a.png)
Switching to netstandard with the new project sdk