[2018-02-06 08:39] andreinitescu commented on #1673
My suggestion is to add a bindable property on the `Map` class to be able to customize the pin:

[code]

By default it's null, and the Map uses the current pin today.

[2018-02-06 08:45] andreinitescu commented on #1775
@hartez I am very confused how you guys mark items as ready for implementation. If this issue has not yet been approved, why is it in "Ready for implementation" queue?

[2018-02-06 08:46] workgroupengineering commented on #1782
Hi @StephaneDelcroix ,
thank you for explaining.
I have found [this](https://github.com/firstfloorsoftware/xcc/wiki) project that comes close to what I want.

[2018-02-06 08:46] #1782 closed

[2018-02-06 09:14] andreinitescu opened #1801 "[Enhancement] Add SelectionMode property to ListView"
### Rationale

Allow customization of the `ListView` selection mode.

### Implementation

Add a new bindable property called `SelectionMode`:

[code]

[code]

The default value of `SelectionMode` property will be `Single` to reflect today's selection mode which is single selection.

`None` will stop the highlight from appearing when a row is tapped.

When `SelectionMode` property is set to `None`,

[2018-02-06 09:25] andreinitescu commented on #1797
I think a key principle should be:
1. For any class/property/method must check if making it public/virtual would break anything. Never make it closed unless there's really a good reason.
2. If it breaks something, how complicated would it be to fix it so that it doesn't break it anymore
3. If it doesn't break, obviously make it accessible or overridable

From a framework perspective, breaking chan

[2018-02-06 10:22] StephaneDelcroix commented on #1686
In theory, yes. But do you have any numbers ?

[2018-02-06 10:36] andreinitescu commented on #1686
I don't have any numbers, but there never have been any coming the from XF team either :) for things like "fast renderers" or other optimizations.

I think we can agree it might make a difference at least from memory point of view due to no subscription to `INotifyPropertyChanged` or `INotifyCollectionChanged`. I'm thinking especially about pages which are basically forms with lots of `Labels`.

[2018-02-06 10:49] #1682 closed

[2018-02-06 10:58] rmarinho commented on #1688
I think we should close this and just look at  #1716

[2018-02-06 11:00] andreinitescu commented on #1686
An interesting aspect of using OneTime binding: no memory leak, because there's no subscription.

[2018-02-06 11:15] andreinitescu commented on #1730
In my opinion, this control should not have any UI, but have just methods/events/properties for functionality. It should be similar to the idea of `MediaElement` (another ticket)

[2018-02-06 11:31] andreinitescu opened #1802 "[Enhancement] Compiled bindings"
### Rationale

Compile bindings is a way to have compiler generate static code for a data binding rather than using dynamic data binding that depends on reflection (which is notoriously slow).

Have something similar to the "x:Bind" compiled bindings in Windows 10. This would bring some very very nice performance improvements.

See https://channel9.msdn.com/Events/Build/2015/3-635

### Implementat

[2018-02-06 11:58] andreinitescu opened #1803 "[Enhancement] Add FallbackValue and TargetNullValue properties to BindingBase"
### Rationale

The two binding properties are very handy in situations when the binding is not available or the source is null. It eliminates the need to create value converters or add unnecessary code in the view-model.

`FallbackValue`:  Gets or sets the value to use when **the binding is unable to return a value**.
`TargetNullValue`:  Gets or sets the value that is used in the target when **the

[2018-02-06 12:12] andreinitescu commented on #1718
Can we move this one from "In Progress" ? I suggest having a column called "Under discussion" or something with issues which are under discussion by the team. Otherwise things fall through the cracks for ever like on Bugzilla.

[2018-02-06 12:40] justanotherandy opened #1804 "[iOS] Large titles on iOS11 do not apply custom LargeTitleTextAttributes"
### Description

When applying custom title styles to large titles in iOS 11 by defining custom LargeTitleTextAttributes, the app does not apply these custom styles and instead shows the default large title style.

### Steps to Reproduce

1. Create a Xamarin Forms app
2. Enable large titles on iOS 11
3. Add custom LargeTitleTextAttributes into FinishedLaunching inside AppDelegate.cs
3. App will st

[2018-02-06 13:22] migueldeicaza commented on #1797
We strive to never break working code.   Every time we do that, a portion of our users are affected and get very upset.

Semantic versioning does not solve the ecosystem problem.   Yes, we can roll out new versions and break code, but we also leave an entire ecosystem behind, users behind, code behind.

So we work very hard to avoid this, with the rare exception that happens.

What we will do is s

[2018-02-06 13:28] DottorPagliaccius commented on #1520
Same problem here :( Any workaround?

[2018-02-06 14:13] rmarinho commented on #1696
Yeah this a a diferente feature, specific to Android, the other, my proposal is to implement for all platforms.

[2018-02-06 14:31] rmarinho commented on #1693
Close this in favor of #1775

[2018-02-06 14:31] #1693 closed

[2018-02-06 14:48] davidortinau commented on #1775
I believe this is what we're discussing? https://github.com/XamFormsExtended/Xfx.Controls via @ChaseFlorrel

[2018-02-06 14:49] adrianknight89 commented on #1802
This is actually on the [roadmap](https://github.com/xamarin/Xamarin.Forms/wiki/Feature-Roadmap).

[2018-02-06 14:56] r-a-y-w commented on #1439
😔 *Sigh* Guess it'll take another month for someone to tackle this, and by then it won't happen anyways. Where is the Win 8.1. nightly? Guess there is none, as a maintainer would've answered instead of ignoring us.

@davidortinau @pauldipietro @samhouts @rmarinho Guess, a simple cherry-pick, minor 2.5 release (although critical bug), etc. is too much work for one of the maintainers?

[2018-02-06 14:58] andreinitescu commented on #1802
@adrianknight89 perfect, it means my issue here makes sense

[2018-02-06 15:04] henricm commented on #1717
Started working on this and think I got the property added to `InputView` and I updated the `EntryRenderer` is so `TextReadingOrder` is updated as described above. I'm now testing with some Arabic and English texts set in the Entry control. However, it looks like we may also need to also update the `TextAlignment` property when updating `TextReadingOrder` for it to have any effect.  For example th

[2018-02-06 15:31] ChaseFlorell commented on #1775
Android has a control baked in that you can use, it's pretty nice. iOS was a bit of a cluster to build out. I'm still not totally happy with my implementation but at least it works. I do +1 this request though because it's great to have an autocomplete control.

[2018-02-06 15:34] sander1095 commented on #1801
You could improve this idea by allowing the user to select multiple items but I don't know how difficult that would be to implement

[2018-02-06 15:54] spouliot opened #1806 "EntryCell Text Binding fails when iOS Auto-corrects text when the EntryCell loses focus (clicking outside of Entry)"
_From @garie on January 20, 2018 21:48_

This may be the same or a related issue to [Bug 42096](https://bugzilla.xamarin.com/show_bug.cgi?id=42096).

### Steps to Reproduce

1. Make sure that Auto-Correction is enabled on the iOS device/sim in Settings -> General -> Keyboard. And if using a simulator, do not use the Hardware keyboard as you will not get auto-correction suggestions when using the H

[2018-02-06 15:54] spouliot commented on #1806
_From @timrisi on January 22, 2018 18:46_

What version of Xamarin.Forms are you using?

[2018-02-06 15:54] spouliot commented on #1806
_From @garie on January 23, 2018 13:8_

`<package id="Xamarin.Forms" version="2.4.0.18342" targetFramework="xamarinios10" />`

[2018-02-06 15:54] spouliot commented on #1806
_From @garie on January 23, 2018 13:10_

Also updated to latest available `<package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="xamarinios10" />` and issue still occurs.

[2018-02-06 15:57] Paul-Brenner-Tangoe opened #1807 "[iOS] Hidden NavigationBar causes layout to adjust when navigating"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Migrating a 2+ year old bug here - https://bugzilla.xamarin.com/show_bug.cgi?id=36721

When a page is pushed with a hidden navigation bar, the layout is adjusted by the height of the hidden navigation bar.

### Steps to Reproduce

1.  Run the project on an iOS simulator
2. Press the button t

[2018-02-06 16:16] henricm commented on #1717
Realize I'm not sure how we should verify that this actually works. Is there anyone that could provide some more details?
For example, if we set an Arabic text and set FlowDirection to LeftToRight and then set the TextReadingOrder to DetectFromContent (which should cause some kind of direction switch to RightToLeft). What would be the expected behaviour? Should the text align right/left? Should sp

[2018-02-06 16:40] alistair23 commented on #1439
They are getting close. There is a new 2.5 tag (https://github.com/xamarin/Xamarin.Forms/releases/tag/release-2.5.0-sr4). There just aren't any builds available via NuGet yet

[2018-02-06 17:01] hartez commented on #1775
@andreinitescu TBH, I'm as confused as you are.

[2018-02-06 17:04] StephaneDelcroix commented on #1714
how do you add that button to a `Page` ? what if I don't want it on bottom, but bottom-left ? How do I make it disappear while scrolling, and reappearing when I'm done scrolling (or any other event) ?

[2018-02-06 17:04] davidortinau commented on #1714
fyi - https://alexdunn.org/2017/04/26/xamarin-controls-xamarin-forms-floatingactionbutton-including-ios/

[2018-02-06 17:05] peterwake commented on #1439
It .. feels .. so .. close.

The whole reason we chose Xamarin over React Native was UWP support because it was bought by Microsoft. Aaargh!

[2018-02-06 17:06] hartez commented on #1775
I'm liking the name "SuggestionView" less and less; I'm wondering if we shouldn't just call this "ComboBox".

[2018-02-06 17:34] adrianknight89 commented on #1802
I think it'd be great if there was a voting system so we could help decide what's on vNext. Right now, it's entirely up to the team to decide which features have priority.

[2018-02-06 18:15] PureWeen commented on #1683
Some UWP observations

- UWP has a concept of Sentence Capitalization but it's enabled indirectly various permutations of input scope (https://docs.microsoft.com/en-us/windows/uwp/design/input/use-input-scope-to-change-the-touch-keyboard) or by setting IsSpellCheckEnabled. But we most likely can't depend on that property as it conflicts with
https://github.com/xamarin/Xamarin.Forms/issues/1660.

-

[2018-02-06 18:23] hartez commented on #1775
Instead of making developers handle the TextChanged event, does it make sense to add an `ICommand UpdateItemsCommand` property? If UpdateItemsCommand is set and can be executed, it's executed (with the text entry control's Text value as a parameter) whenever the text changes.

We'd still make TextChanged available, this would just be a more convenient interface which doesn't _require_ dealing with

[2018-02-06 18:29] CZEMacLeod opened #1809 "Enhancement Request: Slider with multiple markers [Range / Current/Target]"
## Summary
Provide enhanced sliders allowing for multiple markers, either to support a range (2 markers where Min <= Lower <= Upper <= Max) or current and target (current value is not selectable/slidable). This would be of use where the item being controlled by the slider takes time to respond.

## API Changes

I would suggest a MultiSlider base class which could (optionally) take a number of mark

[2018-02-06 18:30] ChaseFlorell commented on #1775
In my implementation, I added a `SortinAlgorithm` that could be bound from ViewModel. Similar approach as a Command I suppose.

[2018-02-06 18:37] hartez commented on #1683
On Windows that's a system setting (under Typing). So I think we let the OS handle that.

[2018-02-06 18:46] hartez commented on #1683
It looks like auto-capitalization of sentences is also a system setting for Windows 10. So I think instead of emulating it (which might conflict with the system setting), we should just ignore that value on UWP and log a warning (Xamarin.Forms.Internals.Log) if we're in Debug mode saying something like "this value has no effect on this OS".

And then we document the heck out of that.

[2018-02-06 18:52] kzu opened #1810 "Generated code does not contain the version of the tools used to generate it"
When building a XF app, the generated code ends up with attributes like:

[code]

Which make it harder to tell which version of the tasks generated the given code.

Also, the code is annotated with `XamlG`, but the method is completely rewritten by the `XamlC` afterwards, so it's also sort of missleading :(

[2018-02-06 18:57] kzu opened #1811 "XamlC Generated InitializeComponent code does not reuse XamlServiceProvider instances"
### Description

An inspection of the `InitializeComponent` rewriting done by `XamlC` shows that lots of `XamlServiceProvider`s are instantiated but are never used, even if types are added to it.

### Steps to Reproduce

1. Clone https://github.com/Microsoft/SmartHotel360-mobile-desktop-apps
2. Build
3. Open src\SmartHotel.Clients\SmartHotel.Clients\bin\Debug\netstandard1.4\SmartHotel.Clients.Core

[2018-02-06 19:00] dotMorten commented on #1673
I find that terrible limited. I want pins to look different.
TBH I'd rather I could add a set of polygons, polylines and points. Each can have their own styling. It'll give the most flexibility for a bunch of scenarios, and if I want to add a pin with a circle around it, I'll just add one point and one circular polyline. I get the convenience of just having it in one simple pin-class but it's also

[2018-02-06 19:19] bmacombe commented on #1673
@dotMorten That is similar to what I was thinking.  I've used ArcEngine and ThinkGeo's mapsuite package for many years.  I was thinking something like a layer, with geometry features defined in WKB with attributes and styles.

What I wonder is many if the apps implemented in Forms are not doing the complicated GIS, but just need to quickly show locations on a map.  Business locations, delivery rad

[2018-02-06 19:24] Paul-Brenner-Tangoe opened #1812 "Button text does not truncate"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Migrating https://bugzilla.xamarin.com/show_bug.cgi?id=59262

Button text does not truncate. If the buttons are in a grid, on Android, it works, on iOS it does not.
If the buttons are in a stacklayout, it does not work on both Android and iOS.

### Steps to Reproduce

1. Run app
Note that on

[2018-02-06 19:28] dotMorten commented on #1673
@bmacombe I guess you could also argue that this would be taking it too far for a simple map control, and might be hard to make work well cross-platform with the native map controls under them. The better approach might be to just support pins, as this is the most common scenario.
If you then need to do more advanced GIS scenarios, perhaps this isn't the control for you, and you could use somethin

[2018-02-06 19:29] samhouts opened #1813 "`BindableObject.ClearValue()` does not clear the context of the BindableProperty"
### Description

`IsSet()` returns `true` after `ClearValue()` is called on a `BindableProperty`.

### Steps to Reproduce

Unit test can be found at https://github.com/xamarin/Xamarin.Forms/pull/1570/commits/f27e18771cdea0c204d898b90903c2e5eb71fb5b (#1570)

### Expected Behavior

`IsSet()` returns `false` after `ClearValue()` is called on a `BindableProperty`.

### Actual Behavior

`IsSet()` retur

[2018-02-06 19:31] StephaneDelcroix commented on #1813
I'll investigate and see if there's a good reason for the current behavior. if not, I'll fix

[2018-02-06 19:33] samhouts opened #1814 "Move `CornerRadius` to `BorderElement`"
### Description

`CornerRadius` will be used for CSS. This property is now (as of #1570) shared by `Button` and `Frame`, so it can be moved to the common `BorderElement` class.

[2018-02-06 19:34] bmacombe commented on #1673
@dotMorten Thanks for the Shameless Plug!  I didn't know that existed!

[2018-02-06 19:46] samhouts commented on #1695
Related to #1814

[2018-02-06 19:47] robinsonbuitron commented on #1475
I have the same issue.

[2018-02-06 19:51] StephaneDelcroix commented on #1695
Related to #1754

[2018-02-06 20:03] bmacombe commented on #1673
While not reaching the level of complexity and features available from ESRI, it actually is fairly easy to draw simple geometry (points, lines and polygons) on the native map controls.  It could still be a useful feature for simple mapping needs.

Just some examples below on the basic conversion from an NTS Polygon to a platform polygon for thought.  I left Android out for now...because it's a mes

[2018-02-06 20:38] StephaneDelcroix opened #1815 "Add docs to Xamarin.Flex"

[2018-02-06 20:45] programmation commented on #1714
@samhouts @davidortinau Please consider adding an ApplicationPage and corresponding ApplicationRenderer to expose the RootViewController/equivalent. It would make _many_ things easy that are currently impossible.

[2018-02-06 21:14] andreinitescu commented on #1802
@adrianknight89 I hope you agree compiled bindings needs no voting. But I see what you're saying and I agree.

[2018-02-06 21:45] BradChase2011 opened #1816 "[macOS] ScrollView doesnt support Horizontal Orientation and doesnt default to Start."
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
ScrollView on macOS does not currently support Horizontal scrolling and the scrolling currently sits at the end when the Content is over drawn.

### Steps to Reproduce

-End Scroll
1.  Place scroll on View, fill with a larger content.
2. Scroll will go to End.

-Horizontal Scroll
1.  Place s

[2018-02-06 21:58] davidortinau commented on #1802
We already have [Compiled Bindings](https://developer.xamarin.com/guides/xamarin-forms/application-fundamentals/data-binding/compiled-bindings/) and `x:Bind` is in progress.

Is there more to this proposal that wouldn't be covered on those?

@StephaneDelcroix thoughts?

[2018-02-06 22:04] davidortinau commented on #1802
@adrianknight89 I'm open to seeing some voting. @pauldipietro has some ideas we are entertaining.

You're accounting for the direct feedback from hundreds of developers, working hands-on with companies, talking to the community and contributors here, the forums, and of course the twitter-verse. You make it sound like we're huddled off in an underground bunker (though I don't dismiss it may feel th

[2018-02-06 22:24] alistair23 commented on #1439
History seems to show that it takes up to three days from a tag to get a release. We are now overdue for a release, by roughly a day.

Assuming the release means that we can get the package via NuGet. We should be seeing it extremely soon.

[2018-02-06 22:33] BradChase2011 opened #1819 "[macOS] DatePicker & TimePicker dont report IsFocused and use old DateTime."
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
DatePicker & TimePicker are not reporting IsFocused to the Forms controls.
The DateTime being reported back is the old value.  The macOS control doesnt update until after the event completes.

### Steps to Reproduce

-IsFocused
1. Attach to the focused event on the Forms controls.

-Old Date

[2018-02-06 23:09] BradChase2011 opened #1821 "[macOS] TapGesture assigned on a parent blocks children input controls (Picker) from receiving input."
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Assigning a TapGesture to a parent layout will cause the children to not receive input from the mouse.  You can for instance drag on a picker's button but it will not open normally by clicking.

The idea is to probe it instead of blocking it.

### Steps to Reproduce

1. Add Grid
2. Assign Ta

[2018-02-06 23:18] j4m3z0r commented on #1610
@BradChase2011 Ha, that's a neat trick! I just tried it out in my application and this is about a million times better! The drop-downs I have in my application are all < 10 options, and at that scale there's no issue with performance. I haven't tried it with substantially more, but I also probably wouldn't use a drop-down if I needed to select from substantially more options than that.

To be cert

[2018-02-06 23:52] hartez commented on #1717
As I understand it, [DetectFromContent for TextReadingOrder should not affect alignment](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.textreadingorder#Remarks).

[2018-02-07 00:03] hartez commented on #1775
I've added some more properties to the original proposal to make it clear that this will include all the stuff you'd expect from something so similar to an Entry.

@rmarinho Suggested adding `DisplayMemberPath`; the idea is that in the absence of a DataTemplate, this property specifies the property on the source to display in the options. For UWP, we'd simply pass this through to the AutoSuggestBo

[2018-02-07 00:39] charlesroddie commented on #1809
The current options for this are https://github.com/halkar/xamarin-range-slider and the SyncFusion range slider.

[2018-02-07 01:33] adrianknight89 commented on #1802
@davidortinau I apologize if my wording came out wrong, but I actually did not mean the team ignores everybody and goes cowboy shooting bugs/features on its own. Obviously, there is a lot of feedback mechanism, and I'd claim that this repository is one of the most welcoming / least dismissing of community contributions on GitHub.

However, I still stand by the team having the ultimate say (which i

[2018-02-07 03:10] ravinderjangra commented on #1660
@hartez should it be added in entry and editor both. or we can add in some common interface?

[2018-02-07 05:54] arvindrajachourasiya opened #1823 "System.AccessViolationException' occurred in Unknown Module"
![vsissue2](https://user-images.githubusercontent.com/19743421/35900700-59c601d6-0bf9-11e8-8de3-cf412ab482b6.png)
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
An unhandled exception of type 'System.AccessViolationException' occurred in Unknown Module.
Attempted to read or write protected memory. This is often an indication that other m

[2018-02-07 07:51] alanag13 commented on #1676
@jassmith hit a bit of snag here -- since Android doesn't provide a getter for `IsAllCaps`, and the default value of the control could vary based on the theme, how do I determine what the default should be?

I could just pick an arbitrary default and not change the renderer until `SetAllCaps` is explicitly called, but then calls to `GetIsAllCaps` could return a potentially misleading (incorrect) v

[2018-02-07 08:28] #1591 closed

[2018-02-07 08:35] StephaneDelcroix commented on #1802
close this, for the reason you invoked, and because the thread has seriously derailed, again.

[2018-02-07 08:35] #1802 closed

[2018-02-07 08:43] #1686 closed

[2018-02-07 08:55] henricm commented on #1717
Ah - I see now. Makes sense I guess. Will try to wrap up and create a PR.

[2018-02-07 10:07] nicolas-garcia opened #1825 "Style with multiple setters in XAML won't compile"
### Description
Hi!
I am new to Xamarin.Form, I come from WPF world. Currently, I struggle with this issue, and I am not sure its a real one. Am I missing something huge? If so, I am so sorry for opening this issue.

### Steps to Reproduce

1. Create a new Xamarin.Form project, .Net Standard 2.0
2. In `App.xaml`, add a new style with two setters:
[code]
3. In `App.xaml.cs`, add the xaml compilatio

[2018-02-07 11:25] MitchBomcanhao commented on #1806
We've had a similar issue for quite a long time now, across multiple versions of xamarin up to latest 2.5.0-sr3
A text field where you type something and autocorrect suggests a change. you then tap a button that removes focus from the field and it'll change the text to show the autocorrected entry, but the field data actually saved the non-corrected text.

[2018-02-07 12:34] StephaneDelcroix commented on #1825
I can confirm the bug on the version you're using (-sr3). It's no longer there on `2.6.0.162115-nightly`. I'm trying to figure if the fix for this is present in the upcoming -sr4 or not...

[2018-02-07 12:59] rmarinho commented on #1610
Good feedback guys, i also like it, i m going to do more tests. @BradChase2011 i think is fine if you PR this. for us to comment on

[2018-02-07 13:05] davidortinau commented on #1802
@adrianknight89 I hear you and I'm always looking for ways to improve.

Awesome! I'm very pleased to hear that. Not everything is going to be rainbows and butterflies, but as long as we're all working towards the better of the project then we'll have success.

One does not necessarily mean the other in every case. Some work, such as CSS and FlexLayout, may have occurred over the course of months,

[2018-02-07 13:07] davidortinau commented on #1802
@andreinitescu I think this is something caught in the transition from managing dev tasks internally to GitHub Issues and Projects. We definitely have some room to improve. I'll see what needs to be done to get in sync.

[2018-02-07 13:19] migueldeicaza commented on #1802
Voting wise: we discussed a possibility- we can add reactions to the top post.

As for actual feature scheduling that is a more complex topic, it is a decision based on how much time we devote, when it stabilizes, and what vehicle we ship it on.   In recent years we have embraced developing features in branches and merging when they are ready.

[2018-02-07 13:59] #1815 closed

[2018-02-07 14:42] GalaxiaGuy commented on #1518
Sadly, I don't have a small repro available, but I thought I'd share I seem to be getting this issue and it is not during OnDestroy (as in #1490) nor am I setting the MainPage more than once (as in #1355).

My stack trace looks very similar to the one from @jerone
[code]

[2018-02-07 14:43] adrianknight89 commented on #1393
@alexOffice Can you attach a minimalist reproduction project instead of just the code snippets?

[2018-02-07 14:45] GalaxiaGuy commented on #1518
In case it is useful, I've seen it on

Nexus 5X - 8.0
Pixel - 7.1
Xperia XZ Premium - 7.1

[2018-02-07 16:22] andreinitescu commented on #1802
@davidortinau @migueldeicaza Supporting everything from the compiled bindings in Windows 10 might take longer, but adding at least the basic support for `x:Bind` is added to XF should be more than beneficially.

The work which was done for XAML-C should provide more than enough background and knowledge to be able to at least generate static code which calls a public property defined on the derived

[2018-02-07 16:28] andreinitescu commented on #1802
Also, like I said above, there should be issues created for items on the roadmap.  And I wish this ticket wasn't closed and didn't become a place for conversation....

[2018-02-07 16:35] BradChase2011 commented on #1610
Great, Ill put the code up as is for now.  There can definitely be some performance additions at a later point but it shouldnt be any slower than the current one.

[2018-02-07 17:21] shivagurunathan opened #1830 "Application breaks while using picker."
Hi ,

While using picker in the project, we get a breaking issue with the following callstack.

Note: We use Xamarin version 2.4.0.280

**01-19 09:14:06.127 I/MonoDroid( 4730): System.NullReferenceException: Object reference not set to an instance of an object.
01-19 09:14:06.127 I/MonoDroid( 4730):   at Xamarin.Forms.Platform.Android.PickerRenderer.<OnClick>b__11_2 (System.Object sender, System.E

[2018-02-07 19:52] pauldipietro commented on #1428
Seems to not reproduce on an S8, so yes, closing.

[2018-02-07 19:52] #1428 closed

[2018-02-07 20:11] alanag13 commented on #1676
I got some inspiration after I saw what @rmarinho did here: https://github.com/xamarin/Xamarin.Forms/pull/1829/files

Basically I'll just use an enum of default, true, false rather than a bool and that should take care of this.

[2018-02-07 20:27] bentmar commented on #1698
![androiddraw](https://user-images.githubusercontent.com/10244000/35939778-774b5f4a-0c4d-11e8-836b-7275bd7e932b.gif)
I added an attachableprop to NavigationPage (bool) and adjusted the layout depending on it.
But this is for android only, would you even accept a PR that just covers one platform or is it better if i make is as a platformspecific property?

[2018-02-07 20:53] davidortinau commented on #1434
Closed by #470 #983

[2018-02-07 20:53] #1434 closed

[2018-02-07 20:59] davidortinau commented on #1435
Closed by #1216 #1226 #1244

[2018-02-07 23:31] fernandovm opened #1834 "Clicks/taps stops works after Content property changes in OnAppearing on Xamarin.Forms iOS!"
### Description

After a change that I do in the first execution of OnAppearing of a ContentPage the clicks/taps does not works. The change is very simple: I create a new StackLayout (S1) and set it to Content property of the ContentPage. Inside the S1 I create two StackLayout (S2 e S3). Inside S2 I put the old Content (S0) property of ContentPage and in S3 I put another new StackLayout with a Lab

[2018-02-07 23:44] EmilAlipiev opened #1835 "Using AOT + Bundle into native assemblies duplicates nuget packages into APK?"
I tried using AOT and LLVM to reduce start up time in my xamarin forms app on android. It really made trick. I had around 10-12secs and now google firebase reports between 2-7secs based on the device as shown below.

![image](https://user-images.githubusercontent.com/10422347/35947583-d6bbf29e-0c68-11e8-8875-6c4b55297b69.png)

What my settings are as followings; - Link SDK and User assemblies - Bu

[2018-02-08 00:48] kingces95 commented on #1795
Hm, can't get this running with a debug build. Looks like the warnings may be hanging the build. And I cannot disable them. Sigh.

@timrisi any chance you could try install the nightly and clean out some of the warnings?

https://www.myget.org/F/xamarinforms-ci/api/v2

[2018-02-08 03:33] owlstack commented on #1573
@StephaneDelcroix @PureWeen I was able to get this issue resolved. You can close the issue.

The issue I had was I have upgraded only two projects in my solution when I should have upgraded all projects to the same Xamarin.Forms version as suggested by Stephane.

[2018-02-08 03:34] #1573 closed

[2018-02-08 05:14] ameser83 commented on #1475
Same Issue VS 2017

[2018-02-08 06:15] timrisi commented on #1795
I'll try it out

[2018-02-08 08:32] timrisi commented on #1795
I haven't had the time yet to clean up warnings (and for some reason, if I load up the project in VS on windows I get over 2000 warnings.  Just over 30 in VSfM.   Mostly stuff like
[code]
Never seen those before this.  I did at least have time to install the nightly and try it with that.  Builds fine for me (debug, iPhone Simulator), still gets the same crash using the nightly version of XF.

I'll

[2018-02-08 09:49] RalphJacobson commented on #1353
Hi @jassmith

This is becoming a real problem for us now, do you know when this will be resolved?

Thanks

[2018-02-08 09:53] thomasgalliker commented on #1396
Any progress on this bug? I'm having several mobile app projects suffering this issue.

[2018-02-08 11:23] rmarinho commented on #1654
@knocte that would prevent also yeah, but if using Menus we now recommend just leave the Storyboard. About 2.6 we are not ready for that release yet. Still working on some features with the community. We also need more testing so make sure you give it a try.

[2018-02-08 11:36] DineshBabuYadav opened #1839 "Layout is not done properly in MasterDetail page and Carousel page."
### Description
I have came with Layout issue in two pages.

**MasterDetailPage:**
I have a **MasterDetail page** which contains 2 buttons in the master page, load the content page when click Page1 button, which contains label loaded inside the **ScrollView**, I have try to **Re-Layout** the label from one position to another position when click the **Layout button**, but layout is not working.

*

[2018-02-08 11:46] Nijamudeen-Mohamed commented on #1796
Hi Rui Marinho,

**About the attached sample:**
We have added SfSchedule control (Custom Control) in a tabbed page and we have set Month view in that. It has a support to display the appointments/events in the inline view of SfSchedule month view.

You can check our documentation to know further about the inline view of month view in the SfSchedule.
https://help.syncfusion.com/xamarin/sfschedule/m

[2018-02-08 12:58] EmilAlipiev opened #1840 "Embedded images are not renamed on VS2017 as on the local drive"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

I came across with a strange issue. I am not sure if that is bug fo  xamarin.forms,  .net standard 2.0 or VS 2017. please feel free to move to correct repository.
Basically changing renaming file on the disk is not refreshed in VS 2017 and there is no refresh button or right click action as

[2018-02-08 13:31] #1798 closed

[2018-02-08 13:32] #1810 closed

[2018-02-08 14:06] charlesroddie commented on #1692
Is this thread a request to make https://github.com/martijn00/XamarinMediaManager official, or to copy over code from that project, or to write a new forms media player from scratch?

[2018-02-08 14:43] MattRames commented on #1406
From this https://github.com/xamarin/Xamarin.Forms/pull/1157 it looks like there is a legacy mode that will allow the old behavior.

MyList.On<Windows>().SetSelectionMode(ListViewSelectionMode.Inaccessible);

This bug can more than likely be closed.

[2018-02-08 15:05] netapau commented on #1688
@dhaligas  I worked on it a bit here, I added an enumeration, a bindable property and I would like to do some renderers but I do not know if I'm on the right track
https://github.com/netapau/Xamarin.Forms/blob/cf3f167aa0abd6a66360b78e148a1e2aaa4aa919/Xamarin.Forms.Core/ToolbarItem.cs#L1

[2018-02-08 15:17] dhaligas commented on #1835
@EmilAlipiev check this out https://xamarinhelp.com/reducing-app-file-size-xamarin-forms/

this line will reduce size of your app
[code]

[2018-02-08 15:20] EmilAlipiev commented on #1835
@dhaligas  please read the whole question. I am not asking how to reduce the size (I am already using it). I am reporting duplication.

[2018-02-08 15:30] ahmedalejo commented on #1688
Hi @rmarinho  #1716 TitleView looks more promising and empowering

[2018-02-08 16:12] dhaligas commented on #1835
yes the title was misleading

[2018-02-08 16:16] dhaligas commented on #1835
also this would be a Xamarin.Android / Mono issue.  @jonpryor might have some insight into this.

[2018-02-08 16:19] cschwarz commented on #1406
Have you tested it with the reproduction sample?

It still logs:
Item Selected Fired.
Tap Gesture Command Fired.

[2018-02-08 16:26] clovs opened #1841 "MasterDetailPage need feature"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

### Steps to Reproduce

1. Implement a MasterDetailPage
2. Figure it out that you can't change the width of the MasterDetailPage
3. Realize that you can't get the MasterDetailPage from right to left
4. Dawn on that you never gonna get two side menu.

### Expected Behavior

### Actual Behavi

[2018-02-08 16:27] rmarinho opened #1842 "[Nuget] Add .Design dll's back"
### Description

Nightly and packages from master are not producing the .Design dll's with metadata info for VisualStudio, we need to add those projects back to the .sln and add the .dlls to the nupkg.

[2018-02-08 16:33] ChaseFlorell commented on #1775
@hartez @rmarinho with a `DisplayMemberPath`, what happens if someone just wants to send a List of Strings ?

[2018-02-08 17:09] MattRames commented on #1406
It's workable in my case because I'm just using ItemTapped to execute a command.

[code]

[2018-02-08 17:09] dhaligas commented on #1719
@samhouts will this allow both left and right toolbar items? we need the ability to have both.

below is exactly what forms needs to allow

![image](https://user-images.githubusercontent.com/923696/35987099-7a920ca8-0cc0-11e8-91ce-2e93221fcd41.png)

[2018-02-08 17:27] samhouts commented on #1719
@dhaligas Yes, that's the idea.

[2018-02-08 17:45] grammatn commented on #1542
@PureWeen sorry but I don't have the time to do this. I could send you in private a part of it. Can we do this?

[2018-02-08 18:22] rmarinho commented on #1775
it ignores does a ToString() of the BindingContext, think it should not fail.

[2018-02-08 18:25] jassmith commented on #1750
Assigning almcgo as this is not really a forms issue but more of a storyboard issue. I think this is actually expected behavior as iOS supports different colorspaces.

[2018-02-08 18:26] jassmith commented on #1787
Closing as fixed (and invalid for the forms project)

[2018-02-08 18:26] #1787 closed

[2018-02-08 18:30] jassmith commented on #1646
Are you using forms to create a splashscreen maybe?

[2018-02-08 18:33] alanag13 opened #1843 "[Enhancement] Allow custom headers to be used when ImageSource is a URI"
# Rationale

It is common for network resources to require authentication, cookies, api keys, etc to download content, including images. Currently it is not possible to display an `Image` from a network location using XAML unless it is available completely anonymously with no non-standard headers set.

Some forum posts:
https://forums.xamarin.com/discussion/25890/image-source-http-credentials
http

[2018-02-08 18:38] #1599 closed

[2018-02-08 18:41] jassmith commented on #1542
Send your reproduction to jas@microsoft.com

Full disclosure, full app reproductions are much lower in the priority queue however due to the increased effort in debugging.

[2018-02-08 18:42] alanmcgovern commented on #1750
This particular issue does look like a mismatched colorspace. We don't currently expose an easy way to alter the colourspace, but it is on the roadmap.

For now can you can open your storyboard in Xcode and access the colorspace selector like this: http://recordit.co/JAVdR1FHjh . If you want things to match you will have to use the same RGB values and the same colorspace for both controls. There i

[2018-02-08 18:43] jassmith commented on #1750
Closing as invalid

[2018-02-08 18:43] #1750 closed

[2018-02-08 18:47] jassmith commented on #1525
Closed due to inactivity

[2018-02-08 18:47] #1525 closed

[2018-02-08 18:48] jassmith commented on #1555
Closed due to inactivity

[2018-02-08 18:48] #1555 closed

[2018-02-08 18:48] jassmith commented on #1536
Closed due to inactivity

[2018-02-08 18:48] #1536 closed

[2018-02-08 18:48] jassmith commented on #1505
Closed due to inactivity

[2018-02-08 18:48] #1505 closed

[2018-02-08 18:49] jassmith commented on #1492
Closed due to inactivity

[2018-02-08 18:49] #1492 closed

[2018-02-08 18:51] jassmith commented on #1518
Thank you for the updates, i am adding this to the work queue however I do not have a lot of confidence we will figure out the issue without a reduced repro.

[2018-02-08 18:58] jassmith commented on #1379
New versions of Forms will often require the latest SDK to build with. This is just the nature of doing lightup. To build with the latest version of Forms you need to keep your xamarin sdk and xcode sdk's up to date.

[2018-02-08 18:58] #1379 closed

[2018-02-08 19:00] #1375 closed

[2018-02-08 19:01] jassmith commented on #1460
Closing due to inactivity

[2018-02-08 19:01] #1460 closed

[2018-02-08 19:03] jassmith commented on #1459
Closing due to inactivity

[2018-02-08 19:03] #1459 closed

[2018-02-08 19:03] jassmith commented on #1462
Closing due to inactivity

[2018-02-08 19:03] #1462 closed

[2018-02-08 19:03] jassmith commented on #1796
Thank you :)

[2018-02-08 19:27] jerone commented on #1518
[**@jassmith**](https://github.com/jassmith) commented on [Feb 8, 2018, 7:51 PM GMT+1](https://github.com/xamarin/Xamarin.Forms/issues/1518#issuecomment-364211220 "2018-02-08T18:51:11Z - Replied by Github Reply Comments"):

https://github.com/xamarin/Xamarin.Forms/issues/1355 contains an reproduction link, [is confirmed](https://github.com/xamarin/Xamarin.Forms/issues/1355#issuecomment-355443179)

[2018-02-08 19:38] jassmith commented on #1840
This isn't a Xamarin.Forms issue and unfortuantely there is nothing we can do to fix it :/

[2018-02-08 19:38] #1840 closed

[2018-02-08 19:49] jassmith commented on #1835
Assigning to android team and moving to invalid on Forms team triage board

[2018-02-08 19:53] jonpryor commented on #1835
Those libraries, such as `libaot-System.Core.dll.so`, are the AOT output for the assemblies used by your app. They are there because you enabled AOT for your project.

["Bundle assemblies into native code"](https://developer.xamarin.com/guides/android/deployment,_testing,_and_metrics/release-prep/#Bundle_Assemblies_into_Native_Code) does *not* mean "AOT". It means "copy the assembly contents into

[2018-02-08 20:07] PureWeen commented on #1683
Initial spec/implementation used an enum

[code]

After implementing it with the above enum I realized that this didn't quite capture the intent. Using this enum comes across as a text transformation instead of affecting the keyboard. Plus we already have a Keyboard flag for Sentences so using the enum above would have made this configurable in two different places.

[2018-02-08 20:13] jassmith commented on #1834
This is an order of operations issue in the iOS backend it seems. Technically this is not a supported operation you are performing.

You are doing the following things

1) Grabbing the current Page.Content, storing into currentContent variable
2) Packing currentContent variable into a new hierarchy <--- error happens here
3) Setting new hierarchy as Content

If you null out Content right after ste

[2018-02-08 20:13] #1834 closed

[2018-02-08 20:15] jassmith commented on #1834
Like this:
var currentContent = this.Content;
this.Content = null;

[2018-02-08 20:19] jerone commented on #1557
Possible duplicate: https://github.com/xamarin/Xamarin.Forms/issues/1396.

[2018-02-08 20:25] alanag13 commented on #1843
Another thought on this, would it make sense to allow devs to define their own full `HttpClient` and not just the headers?

[2018-02-08 20:47] therealjohn commented on #1731
I started this in #1844. The intent of this F100 issue was just for programmatic checks and did not cover things like `d:DesignHeight` etc. I believe those enhancements are more complex and out of scope for this enhancement.

[2018-02-08 20:51] FreedCapybara opened #1845 "[Question] Custom ImageHandler not running"
### Description
**tl;dr;**
**My custom ImageHandler isn't running.**

I'm trying to implement a sharing mechanism where the user can pick an image from their picture gallery/library, render it to a view to add some branding overlays, and serialize the view to a bitmap/UIImage for sharing.

Everything works great except that StreamImageSources are still in a state of loading at the time of serializ

[2018-02-08 20:53] jassmith commented on #1830
Can you confirm this happens with the AppCompat backend as well? The non AppCompat is considered on life-support.

[2018-02-08 21:18] ianvink opened #1846 "Fast Renders accessing Disposed object - Crash"
### Description
Xamarin Forms 2.5 re consistenly recieve this error in Android when we force the Orientation of the page to Landscape then to Portrait in code.

[code]

### Steps to Reproduce
Set the MainActivity to ScreenOrientation = ScreenOrientation.Portrait
Add a Navigation Page
Add Two Pages
PageOne force it to Portrait in code with this:
[code]
Navigate to Page Two and Allow it to do Orient

[2018-02-08 21:18] Paul-Brenner-Tangoe opened #1847 "LineBreakMode does nothing when label is in grid"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Migrating this 1 year old bug here - https://bugzilla.xamarin.com/show_bug.cgi?id=52631

In a simple grid with two labels, the first label has a long string of text. If you set LineBreakMode to tail truncate on this label, it doesn't truncate. Instead the first label overlaps the second labe

[2018-02-08 22:08] jassmith commented on #1847
By my testing this is working as expected. The auto-columns make zero effort to fit into the screen size as they are not specced to. The super wide auto columns will just push off the edge of the screen. Obviously when you span the first label into the second column they will overlap labels. And since the colums can and do expand beyond screen size you will not see truncation.

While I can underst

[2018-02-08 22:08] #1847 closed

[2018-02-08 22:09] jassmith commented on #1823
I cant reproduce this. Can you please provide a reproduction case?

[2018-02-08 22:12] kingces95 commented on #1477
@seankanderson Were you able to reduce the reproduction?

[2018-02-08 22:26] ianvink commented on #1846
I discovered it happens much "less" when I set the List Views on PageOne to CachingStrategy="RecycleElement"

[2018-02-08 22:33] jassmith commented on #1812
Looks like minimum size request comes back different on the different platforms. Not sure we can fix this without breaking backcompat sadly.

[2018-02-08 22:45] jassmith commented on #1807
As I recall it is iOS that moves things around because we cant flow under the bar. Im not sure if we can fix this but I hope we can.

[2018-02-08 23:18] jassmith opened #1848 "Improve XAMLC Compilation performance"
No idea how, stephane can figure that out. The goal is just to profile and improve XAMLC performance.

[2018-02-08 23:22] kingces95 commented on #1795
Got it built/deployed on the latest nightly on my update iPhone 8 and I see no repro. Maybe it got fixed. Please let us know if you still see the crash.

[2018-02-08 23:43] jassmith commented on #1799
Do you have a repro case?

[2018-02-08 23:45] jassmith commented on #1735
Interesting. wonder what is different about the small devices that causes this. I think just the dpi/size disparity overloads the screen at last.

[2018-02-08 23:51] jassmith commented on #1846
Looks like this is caused by a cell be recycled incorrectly. This is why RecycleElements reduces the occurrence of the issue. A reproduction case would be *incredibly* useful. This is not the first report of the issue however the others also do not have a boiled down repro case :/

[2018-02-09 00:08] kingces95 commented on #1539
Committed before epoch.

[2018-02-09 00:31] seankanderson commented on #1477
I was not able to get around to stripping out all of the dependencies.  Got really busy with other stuff and left that bug on the back burner in the hopes it would be resolved by another (possibly separate or unrelated) bug fix.  Unfortunately I have been torn away from mobile development for the time being.

I did notice in further testing that the bug is not limited to a single list item.  It fa

[2018-02-09 00:39] #1625 closed

[2018-02-09 08:06] adamped commented on #1843
I like the idea of exposing the HttpClient but not sure of the implementation.

[2018-02-09 09:44] kishorupare opened #1851 "System.ComponentModel.DataAnnotations throws exception on IOS Actual Device"
I have use System.ComponentModel.DataAnnotations in portable class project. This work great in Android Actual Device but failed on IOS actual device. In IOS emulator it work great but not on Actual iPhone. It thows deployment error as

Could not AOT the assembly '/Users/rnr_mac/Library/Caches/Xamarin/mtbs/builds/RujulERP_Mobile.iOS/43d2ca3e2c725a70d6f4c6086aa946e8/obj/iPhone/Debug/mtouch-cache/64/

[2018-02-09 10:25] dellis1972 commented on #1622
Adb Logcat output below.
So the null ref exception is happening at [1].
Looking at the Resource.Designer.cs file the raw output is correctly added and removed from that file when it is removed/add to/from the project. The file is correctly removed and added to the zip.
The assembly is also being fast deployed and does not contain the resource in its compiled code.
I cannot repo in a non Xamarin.Fo

[2018-02-09 10:33] #1717 closed

[2018-02-09 10:35] #1539 closed

[2018-02-09 12:09] nodoid opened #1852 "Map renderer giving 0 size with MoveToRegion"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Android map renderer giving 0 size for Map
### Steps to Reproduce

1. Create a custom map
2. Move away from the map
3. Come back to the map

### Expected Behavior
The renderer displays the map

### Actual Behavior
Xamarin.Forms MapRenderer: MoveToRegion exception: Java.Lang.IllegalStateExcep

[2018-02-09 12:30] gramland commented on #1539
Thank you everyone

[2018-02-09 13:16] lengk opened #1853 "ContentPage and ContentView Interface"
## Suggestion

Seeing as these both have the Content property, would it be possible to create an interface between them so that methods can be referenced to handle both.

I'm not sure if there are other views that have Content property but they could be included too.

I'd like to create a method that could be used on a [`ContentView`](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Fo

[2018-02-09 14:08] Paul-Brenner-Tangoe commented on #1812
If you find you cannot fix this without breaking backwards compatibility, please give us a "CalculateSizesCorrectly" flag we can set so that we don't have to deal with this bug the entire life of forms.

[2018-02-09 14:22] mtcanning commented on #1353
@jassmith

We have an app where this is also happening.  Our work around right now is to make sure the keyboard is being closed by tapping Return rather than tapping off of the keyboard onto the screen.  Another work around is to have the user toggle the switch on a particular page first before entering any other data.  Any update world be appreciated.  Thanks.

[2018-02-09 15:28] Paul-Brenner-Tangoe commented on #1847
@jassmith Could you clarify? I am a little confused. you say "The auto-columns make zero effort to fit into the screen size as they are not specced to" but the [docs](https://developer.xamarin.com/guides/xamarin-forms/user-interface/layouts/grid/#Rows_and_Columns) say that auto

So with two labels in a grid with two columns, without column span set, I would interpret that to mean "fit the labels s

[2018-02-09 16:14] FreedCapybara commented on #1845
Thanks for the quick reply.

Clearly I must be missing something because I was able to reproduce the issue with this repo https://github.com/FreedCapybara/XFImageHandlerRepro

**Files of interest:**

_Shared project_
* ImageSources/ByteArrayImageSource.cs
* ViewModels/AboutViewModel.cs

_iOS project_
* Renderers/ByteArrayImageSourceHandler.cs
* Main.cs (includes the assembly definition)

**Steps t

[2018-02-09 16:30] alanag13 commented on #1843
@adamped yeah, the example above definitely wouldnt apply for `HttpClient`. I might file a separate proposal for that. If it gets some attention it seems like it would be a better solution.

[2018-02-09 18:19] flamecrow commented on #1396
Can confirm, this is happening on Android Emulator and Device

[2018-02-09 18:21] Paul-Brenner-Tangoe opened #1855 "[Android] Setting visibility to gone for for TabLayout does not reclaim space"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Migrating https://bugzilla.xamarin.com/show_bug.cgi?id=56305 here.

I'm trying to hide the tabs in TabLayout when a page is pushed. When I set visibility to gone, the tabs are hidden but space is not reclaimed. Please see repro.

Note: this is fixed in this PR (https://github.com/xamarin/Xam

[2018-02-09 19:18] andreinitescu opened #1856 "[Enhancement] Add brush support for background"
### Rationale

Many times there's a need to have a gradient brush, especially on a `Page`. Using images is not an option.

### Summary

Add `Background` property to `VisualElement`:

`public Brush Background { get; set; }`

where `Brush` is a `public abstract class Brush`.

Type of brushes:

`public class SolidColorBrush: Brush`
`public class GradientBrush: Brush`
`public class LinearGradientBrush

[2018-02-09 19:18] jamesmontemagno opened #1857 "Extend Command to handle Tasks"
I have updated my issue here to be a bit more verbose.

### Description
Today, the Xamarin.Forms implementation of [ICommand](https://github.com/xamarin/Xamarin.Forms/blob/46c25a2edbf257153d7bb33d2ac3997a3718e3ee/Xamarin.Forms.Core/Command.cs) only takes in a Action<T> as the method to execute:

[code]

This works great when we are only working with simple methods that don't have to worry about as

[2018-02-09 19:24] MKuckert commented on #1857
The Mvx implementation is pretty good with support for Cancellation and locking against multiple calls of the same Command

[2018-02-09 19:25] andreinitescu commented on #1857
Just my 2 cents: it's easy to add an utility class class which creates an `ICommand` from a `Task`:
`public ICommand CreateCommand(Task t) {  return new Command(async () => await t);  }`
The actual issue is if you want to have cancellable commands.

[2018-02-09 19:50] Osmosis311 commented on #1857
@andreinitescu can you provide a more complete example of that? :-) . Thanks!

[2018-02-09 20:11] #1835 closed

[2018-02-09 20:11] andreinitescu commented on #1857
@Osmosis311
[code]

The implementation within `t` should make sure it catches all exceptions.

[2018-02-09 20:18] CZEMacLeod commented on #1857
The NuGet package [Nito.Mvvm.Async](https://www.nuget.org/packages/Nito.Mvvm.Async/1.0.0-pre-03) supports this too - [Mvvm.Async](https://github.com/StephenCleary/Mvvm.Async)
It is NetStandard based and works very well. @StephenCleary

[2018-02-09 20:22] brianlagunas commented on #1857
I think this is something best left out of Xamarin.Forms.  An "async command" is misleading at best. In fact it gives you a (false) impression that you did your code correctly, while actually it provides you no guarantees.  With an async command you start some asynchronous process in your application which executes independently of the main (GUI) thread of the program. This is no different from st

[2018-02-09 20:37] andreinitescu commented on #1857
@brianlagunas well said. My example above was just for the sake of it. I personally never quite understood the reason for async commands

[2018-02-09 21:13] jassmith commented on #1857
This doesn't really belong in core but in a community project. Forms does not ship an MVVM toolkit, but instead strives to work with MVVM toolkits in general.

[2018-02-09 21:16] brianlagunas commented on #1857
@jassmith agreed, and there are already a number of OSS projects that have this.  Nito.Mvvm.Async being a great option.

[2018-02-09 21:16] jassmith commented on #1856
Brushes are not trivial to support on all platforms. In fact they will really slow things down quite a bit. We intentionally limited ourselves to flat colors for this reason.

That said Im not opposed to someone doing some serious research on the topic assuming they are aware that unless the results are really good this is a pretty unlikely patch to be taken.

[2018-02-09 21:26] jamesmontemagno commented on #1857
I have re-phrased my original proposal and idea here a bit more.

[2018-02-09 21:27] jassmith commented on #1852
Do you have a reproduction or set of steps? I can't seem to cause this behavior. My maps are working fine.

[2018-02-09 21:40] brianlagunas commented on #1857
@jamesmontemagno You definitely can't modify the existing Command to implement async calls.  This is definitely a no go.  If you did this, then the ICommand.Execute would be an `async void` in order to call your actual Task delegate.  That means you would break every single Command implementation out there. To illustrate this, this test that should pass would actually fail:
[code]
That test valida

[2018-02-09 21:45] jamesmontemagno commented on #1857
I do believe that this is closer to what I am looking for, however if we do implement a form of this AsyncCommand is it possible to improve this type of experience. Does the AsyncCommand need to handle things better async type of stuff?

Or is what we are saying is the way to do it totally is:

[code]

But with this helper command we would just make the API prettier and not change the functionalit

[2018-02-09 21:59] brianlagunas commented on #1857
I think if you were to provide a class called AsyncCommand, you would inherently open it up for many more async type features such a cancelling, possible dispatching of data from one thread to the UI, determining task completion, exception handling, managing what happens if the button is clicked more than once, etc.  At that point, your at some fully baked async command infrastructure like Mr. Cle

[2018-02-09 22:06] ghuntley commented on #1857
Don't. No.

[2018-02-09 22:50] kingces95 commented on #1548
Drat. Getting `The "GenerateJavaStubs" task failed unexpectedly.` on latest nightly with latest android SDK.

[2018-02-09 22:54] kingces95 commented on #1600
@JellisHogenbijl I cannot decompress the zip file. Windows tells me it's "invalid".

[2018-02-09 22:55] jassmith commented on #1851
This issue was moved to xamarin/xamarin-macios#3449

[2018-02-09 22:55] #1851 closed

[2018-02-10 02:41] timrisi commented on #1795
Still crashing on 2.6.0.170883-nightly

[2018-02-10 06:03] andreinitescu commented on #1856
@jassmith I appreciate the honest feedback, it's important to know you won't accept if someone do a PR for this. In this case I will close this.

Can you please share more how it will "slow things down quite a bit"? The way I envisioned this to work is to just add to renderers to draw a gradient using `CALayer` on iOS, `android.graphics.LinearGradient` on Android, `LinearGradientBrush` on UWP.

[2018-02-10 07:06] lightwaver commented on #1857
We also use a AsyncCommand for correctly handling long taking actions with a common errorhandling.
And our Command implementation also blocks the concurrent invocation by using the CanExecute property and thats the most important feature for us.
It cleans up the ViewModel code and makes it more stable.
I personally like a common exception handling for not expected exceptions to prevent a app from

[2018-02-10 08:59] andreinitescu commented on #1857
@lightwaver Can you give an example what you use the async command for?  Do you bind a Button's Command to an async command for example? Because in this situation the async doesn't help, the data-binding in XF calls Execute on the command, which is not async.

[2018-02-10 13:30] StephenCleary commented on #1857
I actually agree with keeping this out of Xamarin.Forms, too. One of the problems with AsyncCommand is that it can mean a lot of different things to different <s>people</s> projects, and there isn't a consensus yet around what the desired API looks like. I have (breaking) updates planned for mine in Nito.Mvvm.Async; it's very much a pattern in flux, even after several years.

[2018-02-10 14:53] aleksandrsmyk commented on #1857
Asynchronous Commands can not be implemented as a stable feature from Xamarin Forms team, until a lot of asynchronous support will be provided from the .Net.

[2018-02-10 15:56] lightwaver commented on #1857
@andreinitescu We a common implementation, that allowes to execute async calls (most of the times REST-calls to the backend) that are not directly transparent to the ViewModel, because it's wrapped through business logic classes. To have a easy and common binding and exeption handling we created a AsyncCommand that implements ICommand.

It simply sets the CanExecute to false (and calls the CanExec

[2018-02-10 16:01] MisterJimson commented on #1646
I do have a splash screen.

[2018-02-10 19:01] jt-github opened #1858 "Slider and thumb can detach on android in certain circumstances"
### Description
In short, 90 degree rotated Slider elements are limited in height to their available horizontal space (and perhaps this is true for other objects, too).

The issue I have encountered is the same as the one in this forum post:
https://forums.xamarin.com/discussion/69180/vertical-slider-takes-horizontal-space-as-lenght
While the forum post provides some example code, I've created my

[2018-02-10 21:55] programmation commented on #1857
The basic problem with async commands in current .NET is that you have to start them at some point with an `async void` function call. If I have understood things correctly, I think this means exceptions won't pass back to the caller across the `async void` invocation, but instead risk taking down the entire application.
Having read https://github.com/dotnet/roslyn/issues/13897 I wonder if (for Xa

[2018-02-11 07:13] lightwaver commented on #1857
Yes that's what I meant...
the very often used lambda in the code when creating the Command nearly never implements a correct try catch block and that stays there even if the code behind gets more complex over time.
And the try...catch blocks including logging and all that stuff bloats up the code to get unreadable and copy/paste errors happen
-> no clean code, faulty exception handling and all th

[2018-02-11 10:45] Shaboo opened #1860 "[Forms][Android][custom rendrerer]android.widget.LinearLayout cannot be cast to android.widget.ImageView"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
in Xamarin Forms, I have a content page, inside it, I have an image with gesture recognise like following,

[code]

In android project, I have a custom renderer to make the Taps on tabbed page in bottom, so When I call
the following function:
[code]
the following exception is thrown
`Java.La

[2018-02-12 07:02] SeppyMoose commented on #1586
Same issue, been unable to build project due to this issue. It is a complete show stopper for any builds, haven't been able to build for over a month.

[2018-02-12 08:22] JellisHogenbijl commented on #1600
Created a new zip, let me know if you still have issues opening this zip.
[DataTemplateSelector.zip](https://github.com/xamarin/Xamarin.Forms/files/1715649/DataTemplateSelector.zip)

[2018-02-12 08:46] #1436 closed

[2018-02-12 10:16] r-a-y-w commented on #1439
10 days old... Hmm, really don't get this release process, unless they want to add more to the release?

[2018-02-12 10:44] sander1095 commented on #1439
Can't this issue get re-opened until it is actually released?

[2018-02-12 10:50] StephaneDelcroix commented on #1858
Rotation, Scale, and other transforms do not affect the control bounding box.

[2018-02-12 11:07] bulente commented on #1595
It is working if you change the device locale from Andoid's settings but if you want to change the locale from the code like below, it doesn't work and fallbacks to English.

[code]

[code]

[2018-02-12 11:49] CamelCaseMaster commented on #1586
just do this if consolidating forms alone don't work for ya:
-consolidate all forms plugins inside the solution (for each project)
-clean solution
-close vs & delete bin/obj folders manually
-remove packages folder in your solution folder
-remove the .nuget ( local nugets cache usually big in size like +3Gb) folder in C:\User\Username\ or Home location in mac
-open solution & restore nuget package

[2018-02-12 13:57] jt-github commented on #1858
Is that a limitation of the underlying operating system(s) or is it something within Xamarin.Forms?  If it's the former, there is little to be done.  If it's the latter, then I understand that changing the control's bounding box after a transform would be more of a challenge from a core coding perspective, but the current behavior is so fantastically counterintuitive it makes transforms almost wor

[2018-02-12 15:59] alanag13 commented on #1632
I have Android, iOS, and UWP working for this here: https://github.com/XamarinFormsCommunity/Xamarin.Forms/tree/feature/1632-label-underline-strike. I think I can tackle this for all the platforms -- expect a PR later this week 😄

[2018-02-12 16:09] adamivancza commented on #1380
FYI: in order to make the workaround above work you might need to restart your VS. That happened for me with VS for Mac.

[2018-02-12 18:13] alistair23 commented on #1439
Yeah, I'm a little confused too. You can't change a tag in git (It is technically possible, but it's such a bad idea that no one ever would) so they aren't going to add anything to it. I'm not sure what we are waiting for.

[2018-02-12 18:23] Paul-Brenner-Tangoe opened #1862 "[Enhancement] Give us a real MinimumWidthRequest / MinimumHeightRequest"
### Rationale
MinimumWidthRequest & height does not do what it sounds like. There was a PR to fix it, but it was closed as it would be a breaking change. I understand the reason to not want to do a breaking change, but the issue shouldn't just be ignored.

see:
https://github.com/xamarin/Xamarin.Forms/pull/386
https://forums.xamarin.com/discussion/84885/rejected-obsolete-minimum-width-height-reque

[2018-02-12 19:35] tchadwick commented on #1406
The problem is, in iOS and Android we respond to on list item taps as well as individual buttons on the list items.  So without re-writting our iOS and Android apps, we need individual tap gestures firing before the item selected.

[2018-02-12 19:48] Paul-Brenner-Tangoe opened #1863 "[Enhancement] Add support for loading and displaying SVG images in Xamarin.Forms"
Migrating this 2+ year old request here - https://bugzilla.xamarin.com/show_bug.cgi?id=29677

### Rationale
There is a long rationale in the bugzilla report for this, but the gist is it is a pain to have to handle multiple image sizes in our projects, using a SVG makes handling images less of a pain.

See this post from 2014 for a discussion on SVG support: https://forums.xamarin.com/discussion/17

[2018-02-12 19:52] ddobrev commented on #1863
To be precise: this works but for Android 5+ only. The reason is that your renderers do not call the necessary compat-code (Android support libraries) for older versions.

[2018-02-12 20:02] 5yunus2efendi opened #1864 "[WPF] Xamarin.Forms WPF load local html throw ArgumentException with message "Relative URIs are not allowed""
### Description

Load local html with the following code will throw ``ArgumentException`` with message "Relative URIs are not allowed":
[code]

### Steps to Reproduce

1. Create Xamarin.Forms project
2. Follow instruction [how to create Xamarin.Forms WPF](https://javiersuarezruiz.wordpress.com/2018/01/15/xamarin-forms-aplicaciones-wpf/)
3.  Add WebView control and use above code

### Expected Beha

[2018-02-12 20:32] kpronz commented on #1435
I'm still seeing this issue in Xamarin.Forms v2.5.0.122203.  How do I get the version of code that this is fixed in?

Thanks.

[2018-02-12 20:36] Paul-Brenner-Tangoe opened #1865 "[iOS] Header template ignores layout options"
### Description
Migrating https://bugzilla.xamarin.com/show_bug.cgi?id=58503 here

I have a StackLayout set to CenterAndExpand on a ListView Header Template.

It works as expected on Android, the stack layout is centered in the header. On iOS it is not centered. It also ignores margin on iOS.

### Steps to Reproduce
1. Run app, note the text is centered on Android, and that it is not on iOS

### E

[2018-02-12 22:49] PureWeen commented on #1865
![image](https://user-images.githubusercontent.com/5375137/36124172-4f89894c-100c-11e8-8454-fa78588289f4.png)

[2018-02-12 23:18] mattregul opened #1869 "[Android, PCL] - ImageLoaderSourceHandler: Could not retrieve image or image data was invalid"
### Description
- On Android, using the latest Forms and a PCL project... a XAML ImageCell with a hardcoded ImageSource ```may``` timeout and return an error.

- Appears to work as expected with Shared or .NET Standard solutions

- Only tested in simulation

[code]

- [Link to full output log](output.txt)
[code]
---

### Steps to Reproduce

1.  Using [repo](https://github.com/mattregul/XF_ImageCel

[2018-02-13 00:10] jassmith commented on #1862
Thats what WidthRequest/HeightRequest do if you set the Minimum's equal to them.

[2018-02-13 00:11] #1862 closed

[2018-02-13 00:28] PureWeen commented on #1860
@Shaboo   can you attach a minimal reproduction please?

[2018-02-13 02:29] PureWeen opened #1872 "[Android] Fix Vector Drawables to work with pre api 21"
### Description
Currently if you use a Vector Drawable with a pre lollipop device it causes the application to crash

### Steps to Reproduce

Create a Vector Drawable and use it with a Xamarin Forms Image
Attached project works

### Expected Behavior
On pre lollipop it should load the image. If it proves too problematic to get these working on pre lollipop then the app should at least not crash.

[2018-02-13 02:33] PureWeen commented on #1863
@ddobrev   I was able to reproduce the issue you are referring to in pre android 5 but I think this particular issue is more about supporting just straight SVG files and less about the Vector Drawables

I created this issue
https://github.com/xamarin/Xamarin.Forms/issues/1872

around what you are referring to

I'm going to close this particular issue and recommend using 3rd party plugins for strai

[2018-02-13 02:33] #1863 closed

[2018-02-13 05:00] PureWeen commented on #1864
[issues1864.zip](https://github.com/xamarin/Xamarin.Forms/files/1718699/issues1864.zip)

[2018-02-13 05:42] kntiwary commented on #1435
As  I matter of fact, I am also facing the same Issue. This has not been
resolved in the current build.

On Tue, Feb 13, 2018 at 2:02 AM, kpronz <notifications@github.com> wrote:

[2018-02-13 05:53] 5yunus2efendi commented on #1864
I am still confuse, what xamarin.forms version should I use to test prelease, is it 3.0.x or 2.6.x? I see that xf 3.0.x has `Xamarin.Forms.Platform.WPF` merged to it and 2.6.x hasn't

[2018-02-13 06:00] 5yunus2efendi commented on #1864
For now my solution was to create my own WebView renderer and copy the all [WebViewRenderer](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.WPF/Renderers/WebViewRenderer.cs), make a change from https://github.com/xamarin/Xamarin.Forms/blob/b96f65bdd9e7e931971338b122a8940e2a35ccc7/Xamarin.Forms.Platform.WPF/Renderers/WebViewRenderer.cs#L74-L77 to
[code]

[2018-02-13 06:50] Sun3 commented on #1475
Same Issue VS 2017 with iPhone 6 Plus

[2018-02-13 06:53] ilkeSylmz commented on #1435
I am also having the same problem

[2018-02-13 08:19] ThumbGen commented on #1435
Everybody has the exception, except the Xamarin guys :) The original bugzilla entry (opened in September 2017) was abandoned, now this issue too...

[2018-02-13 08:39] ilkeSylmz commented on #1435
Just a workaround, modifying HasUnevenRows and CachingStrategy and additionally defining row height solves the problem, not a perfect solution though :)

[2018-02-13 08:50] ThumbGen commented on #1435
The workaround is unfortunately not always feasible (same as using List instead of ObservableCollection which might also address the issue AFAIK)

[2018-02-13 09:08] kntiwary commented on #1435
True, I already tried  adding row height and hasUneven low, it didn't
worked though. Moreover it impacts my UI design.

On Tue, Feb 13, 2018 at 2:20 PM, ThumbGen <notifications@github.com> wrote:

[2018-02-13 09:35] ilkeSylmz commented on #1435
I got it solved but same here, it impacts the ui design.

[2018-02-13 09:46] ninaada commented on #1595
@bulente Exactly! It doesn't change in runtime like that.

[2018-02-13 10:27] mohachouch commented on #1864
Hello,

Version 3.0.0-ci0011 is a version that was created before adding the project to Xamarin Forms main project.

It is no longer necessary to use AppVeyor but use the nigltly build of Xamarin Forms. https://blog.xamarin.com/try-the-latest-in-xamarin-forms-with-nightly-builds/

Regarding the bug, I'm going to watch this.

Thanks for your report

[2018-02-13 10:38] 5yunus2efendi commented on #1864
Ok, looking forward for this!

[2018-02-13 11:33] olegpidsadnyi opened #1874 "OnAppearing is called for all the pages in the NavigationStack when resuming the Android app"
### Description
When resuming the Android app (turning the screen on) OnAppearing is called for all the pages in the current NavigationStack, not only the last one.
When navigating back OnAppearing is not called for the page, because it was already called previously by mistake.

### Steps to Reproduce

0. PushAsyncModal(new NavigationPage())
1. Navigation.PushAsync(page1),  Navigation.PushAsync(pa

[2018-02-13 13:09] GamesAgeddon commented on #1435
Same here. Still struggling with this issue.

[2018-02-13 16:04] andreinitescu commented on #1801
@sander1095 Let's not get ahead of ourselves :) You're right, but let's do this in phases maybe, or it will never be done.

[2018-02-13 16:05] duzenko commented on #1424
Excuse me, what is the release version that has this fixed?

[2018-02-13 16:43] PureWeen commented on #1874
[issue1874-PushImmediately.zip](https://github.com/xamarin/Xamarin.Forms/files/1720749/issue1874-PushImmediately.zip)

@olegpidsadnyi   can you attach a reproduction? I did notice some OnAppearing oddities on Android if you push pages immediately after setting the MainPage but none of those oddities included an OnAppearing call for multiple pages when I turned the app off and then on again

The re

[2018-02-13 17:09] sander1095 commented on #1801
Sounds good! :D

[2018-02-13 18:51] jassmith commented on #1858
Pre-layout transforms can't be added to the toolkit by modifying the existing layout mechanisms for fairly obvious reasons (it would be a huge breaking change).

In order to achieve what you want the way I would do it is to make a ContentView subclass that rotates its child and overrides the layout call to transpose the width and height passed. You may also want to mess around with the measure ove

[2018-02-13 19:46] alistair23 commented on #1439
Apparently they just changed the tag.... I don't think I've ever seen that done before. The git documentation literately describes that as "The insane thing".

Now I guess there is no way to know how close we are.

[2018-02-13 20:26] olegpidsadnyi commented on #1874
OK, @PureWeen. Here is the file:
[Reproduce.zip](https://github.com/xamarin/Xamarin.Forms/files/1721551/Reproduce.zip)

One thing I missed is that the NavigationStack is pushed modally. Basically I have an app which is Master-Detail page and I don't want to remove it out of the App.MainPage anymore.
Then I have a small wizard which I push modally and can cancel or complete that flow and finally di

[2018-02-13 20:33] M4gp13 commented on #1787
Hi I believe I'm getting the same issue. I've tried the suggested fixes with no luck. I've attached my csproj. Any ideas?

[Uploading GameHookUP.Android.rar…]()

[2018-02-13 20:52] VincentDondain opened #1876 "Xamarin.forms custom label do not refresh size on binding update in iOs"
_From @Seekeer on February 13, 2018 18:15_

### Steps to Reproduce

1. Create custom label.
2. Set binding to some text, which is inited afte constructor initialization.

### Expected Behavior
Text displayed
### Actual Behavior
Control width/height isn't updated. Ordinary label works just fine with same binding.

### Environment
iOs

[code]

### Example Project (If Possible)
[IosLabelTest 2.zip](h

[2018-02-13 20:54] dreeanic opened #1877 "[Android] Forms.Maps Memory Leak"
On Android, Map instances don't seem to be completely destroyed. Easiest way to reproduce is to push a Page containing a Map and then move back and forth a number of times.

The behaviour is the same as the one described here: https://bugzilla.xamarin.com/show_bug.cgi?id=39489, but the out of memory crash happens after more iterations. For example, testing on a LGE Nexus 5 API 21 leads to the foll

[2018-02-13 21:27] #1848 closed

[2018-02-13 21:37] runnerdev commented on #1435
I gave up on a fix for this issue and implemented a custom label renderer to protect against the app crashing by catching and ignoring the exception in overrides for both OnElementPropertyChanged and OnElementChanged.

Not ideal but so far the UI appears to render correctly without crashes.

[2018-02-13 21:38] jcmanke opened #1878 "[UWP] Setting SearchBar.CancelButtonColor affects all SearchBars on page"
### Description

While admittedly a questionable design choice (I only discovered it on a test page for a custom control), putting multiple search bars on a page with different CancelButtonColors results in only the value of the last SearchBar's CancelButtonColor being applied to every SearchBar on the page.

### Steps to Reproduce

1. Make a page with several SearchBars
2. Set the CancelButtonCol

[2018-02-13 21:51] jcmanke commented on #1878
Reproduction: https://github.com/jcmanke/Xamarin.Forms.Issue1878

[2018-02-14 00:02] davidortinau commented on #1439
Rebuilding for QA. Expecting to ship as soon as it's approved.

[2018-02-14 00:10] jamesmontemagno commented on #1787
The latest version 1.5.X has these improvements when moving around files in the IDE

[2018-02-14 01:41] rachelmoor opened #1879 "Forms Picker is setting SelectedItem=null after switching ItemSource"
### Description
This bug https://bugzilla.xamarin.com/show_bug.cgi?id=57912 was not moved to GitHub.

My ViewModel is bound to a Xamarin Forms picker. When my Model updates the ViewModel with a new ItemSource and SelectedItem, the ItemSource is correctly set and the SelectedItem is set initially, and then there is an erroneous call setting the SelectedItem to null. Switching the order of the XAML

[2018-02-14 08:50] awattar commented on #1725
Hi Shane,

Thanks for the answer. The main issue is that we cannot use
DependencyService before forms init because DS is checking some internal
things that are set in Forms Init method. The only way now to deal with it
is to replace DS with other container - for example unity. What I'm
suggesting is to move DS related init from Forms init to some other place
that will be available to DS without ne

[2018-02-14 12:30] boguslawblonski commented on #1778
I aslo used Rg.Plugins.Popup for that

[2018-02-14 12:42] JavierMoraCasas commented on #1355
I've the same issue when app is from background, i've set the start point of the app again and crash, any news about this?

[2018-02-14 14:48] RalphJacobson opened #1883 "[iOS] Random SIGSEGV & SIGTRAP crashes."
### Description

I'm receiving the following crash reports from HockeyApp for iOS:

- SIGTRAP - see [SIGTRAP.txt](https://github.com/xamarin/Xamarin.Forms/files/1724371/SIGTRAP.txt)
- SIGSEGV - Selector name found in current argument registers: _tintColorUpdating - see [SIGSEGV.txt](https://github.com/xamarin/Xamarin.Forms/files/1724375/SIGSEGV.txt)

I have no idea how to trace these issues.  Any

[2018-02-14 15:12] rmarinho commented on #1883
Hi, thanks for the report but we will need at least a sample to look at try to reproduce on our side.

[2018-02-14 15:20] rmarinho commented on #1435
Can someone give me another repo to look?! @runnerdev @GamesAgeddon @ThumbGen   thanks

[2018-02-14 15:37] runnerdev commented on #1435
I don't have an example available for access but this is the same as this new issue which does.
https://github.com/xamarin/Xamarin.Forms/issues/1795

[2018-02-14 16:54] kntiwary commented on #1435
Yes, it's the same bug with different bug number.

On Feb 14, 2018 9:07 PM, "runnerdev" <notifications@github.com> wrote:

I don't have an example available for access but this is the same as this
new issue which does.
#1795 <https://github.com/xamarin/Xamarin.Forms/issues/1795>

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/xam

[2018-02-14 17:05] farcasclaudiu commented on #1435
Please have a look on my sample above,

The issue is still happening :(

[2018-02-14 17:14] rmarinho commented on #1586
You shold not need this step:

[2018-02-14 18:10] shivagurunathan commented on #1830
This bug still does exists on non AppCompat forms application.

[2018-02-14 18:24] jassmith commented on #1847
Auto basically sizes the column to be the desired size of the element, if that happens to be wider than the grid itself, thats what it does. In other words Auto makes no consideration for "available space" at all, star does.

[2018-02-14 18:53] hartez commented on #1660
@ravinderjangra `InputView` is a common ancestor of Entry and Editor, so adding it there would cover both cases.

[2018-02-14 18:57] dazinator opened #1886 "Xamarin.Forms.Pages dependes on modernhttpclient?"
### Description

When targeting `netstandard,` I get this build warning:

This is seemingly because Xamarin.Forms.Pages has this dependency on ModernHttpClient? Why is this dependency needed? Does Xamarin.Forms.Pages make web calls? The nuget package isn't built for netstandard yet.

However this is a fork that is: https://github.com/alexrainman/ModernHttpClient

Can you consider dropping this dep

[2018-02-14 19:01] rmarinho commented on #1886
We need to update that Project

[2018-02-14 19:34] alistair23 commented on #1439
Woo! The release is made. I can see he package here: https://github.com/xamarin/Xamarin.Forms/releases/tag/release-2.5.0-sr4

[2018-02-14 19:40] Paul-Brenner-Tangoe opened #1887 "[iOS] HidesBottomBarWhenPushed does nothing"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Migrating https://bugzilla.xamarin.com/show_bug.cgi?id=56072 here

I have a tabbed page with a page and a page in a navigation controller. On the page with the navigation controller, there is a button that will do a push to another page. When the page is pushed I want to remove the tab bar.

[2018-02-14 19:46] alistair23 commented on #1439
I manually downloaded it and it fixes the problem for me :)

[2018-02-14 19:58] Seekeer commented on #1876
I am sorry. Problem is with our custom renderer. We forgot to call base method in propertychanged.
Please close issue.

[2018-02-14 20:21] #1876 closed

[2018-02-14 21:47] renzska opened #1888 "Updating to Xamarin.Forms. 2.5.0.274780 installs a ton of image icons into icons/mac and icons/win."
### Description

Updating to Xamarin.Forms. 2.5.0.274780 installs a ton of image icons into icons/mac and icons/win in every project that references Xamarin.Forms. Depending on the number of projects, this can take awhile as it does it for every project that references it. It does this for both iOS and Android based projects.

Are these files necessary?

### Steps to Reproduce

1. Update to Xamari

[2018-02-14 22:09] samhouts commented on #1888
fixed by 15ec58a

[2018-02-14 22:09] #1888 closed

[2018-02-14 22:26] jassmith commented on #1888
Yup I fucked that up, Im terribly sorry. There was a configuration issue on my machine that caused it to not show up (though there were some warning I didn't see). I absolutely should have caught this.

[2018-02-14 22:52] gstevenson commented on #1353
For what it's worth, we're encountering this too. Same setup with a few different fields with different keyboard types.

[2018-02-15 02:50] MenNoWar commented on #1475
Same with iphone SE  and VS2017

[2018-02-15 07:35] RalphJacobson commented on #1883
Hi, thanks for the reply.

I was able to symbolicate the stack trace for the SIGTRAP crash, see [SIGTRAP symbolicated.txt](https://github.com/xamarin/Xamarin.Forms/files/1726707/SIGTRAP.symbolicated.txt)

I don't have the dSYM's for the SIGSEGV crash anymore.

Hope this helps.

[2018-02-15 08:02] sander1095 commented on #1401
The bug has been fixed in a new release

https://github.com/xamarin/Xamarin.Forms/releases/tag/release-2.5.0-sr4

[2018-02-15 08:04] Shaboo commented on #1860
solved after updated the following packages to latest version: 26.1.0.1
Xamarin.Android.Support.Design
Xamarin.Android.Support.v4
Xamarin.Android.Support.v7.AppCompat
Xamarin.Android.Support.v7.CardView
Xamarin.Android.Support.v7.MediaRouter

[2018-02-15 08:07] StephaneDelcroix commented on #1853
what's your use case ?

[2018-02-15 08:38] vishnuprasadDH opened #1890 "MasterBehaviour is not working as expected in UWP platform"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
I setup a MasterDetailPage as the main UI template for my Xamarin.Form application which is supposed to work in UWP , iOS and Android and kindly consider this bug i'm reporting only on UWP platform as i dont check this issues much on other platforms say iOS and Android.

Problem : I set the

[2018-02-15 09:15] MarcosCobena opened #1891 "XAMLC fails with DataTrigger"
### Description

Using a DataTrigger where Value references an enum fails at XAMLC time.

### Steps to Reproduce

1. Unzip attached [DataTriggerBug.zip](https://github.com/xamarin/Xamarin.Forms/files/1726971/DataTriggerBug.zip)
2. Open contained sol. and build it

### Expected Behavior

Build succeeded.

### Actual Behavior

Build failed:

[code]

### Basic Information

- Version with issue: 2.5.0

[2018-02-15 10:08] r-a-y-w commented on #1439
@alistair23 Saw there's already an sr5 release, minor fix https://github.com/xamarin/Xamarin.Forms/releases/tag/release-2.5.0-sr5

[2018-02-15 11:05] #1860 closed

[2018-02-15 12:10] #1690 closed

[2018-02-15 12:32] uwantfries commented on #1435
I have also got this. I need uneven rows due to the nature of the data :(
XF:2.5.0.122203

Can we get fix for this plz?

[2018-02-15 12:47] lengk commented on #1853
I'm trying to create a method that displays information over the current content of the view.

I've managed to get it working with a ContentPage. I take the current `Content` and put it into
 a new AbsoluteLayout which I then assign as the new content. Then I push whatever I want to show on top of that. I'm using the CarouselViewPage plugin on some of my pages and I'd like to do the same on the Co

[2018-02-15 13:23] nodoid opened #1893 "Scaling broken on UWP"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Scaling is broken on UWP

### Steps to Reproduce

Please see https://bugzilla.xamarin.com/show_bug.cgi?id=60879

You can also see this issue by running
https://github.com/xamarin/xamarin-forms-samples/tree/master/XamlSamples
And running Slider Transforms

### Expected Behavior
Scaling should

[2018-02-15 13:48] therealjohn opened #1894 "NavigationPage.Navigation.PopToRoot(false) does not show RootPage on MacOS"
_From @KlaasTroost on February 15, 2018 13:37_

### Steps to Reproduce

1. Create Xamarin Forms project
2. Add MacOS
3. add a MasterDetailPage
4. Add a NavigationPage to the Detail page
5. Push 5 pages using the Navigation property.
6. At the end Close all pages with Navigation.PopToRoot(true)

### Expected Behavior
My expectation was that my first (the root) page would show up.

### Actual Behavi

[2018-02-15 13:55] davidortinau commented on #1664
@tsjdev-apps @hartez @jassmith are we moving forward with this, or going a different direction? I'm not clear from the discussion. Issue is currently marked "In Progress".

[2018-02-15 15:48] #1878 closed

[2018-02-15 15:50] #1821 closed

[2018-02-15 15:54] MarcusSpecht commented on #1316
@bruzkovsky Version 2.5.0.122203 seems to be avaiable through [nuget](https://www.nuget.org/packages/Xamarin.Forms/2.5.0.122203).

[2018-02-15 16:10] bruzkovsky commented on #1316
@MarcusSpecht  You are right. It just takes a really long time until the versions are listed on nuget. SR4 was released yesterday, still no sign on nuget... 😕

[2018-02-15 16:32] rmarinho commented on #1893
Hi i have looked at the reproducion, and can see the difference, but there's just to much custom code to proper identify the issue. Can you start with a blank app, and just add the smallest reproducion to show the scaling issue.

Thanks

[2018-02-15 16:45] rmarinho commented on #1887
The way we wrap the Page inside another ViewController when pushing on UIViewControlelr will not allow this to work.

This is could be done with a platform specific for iOS, i will set this as a enhancememnt

[2018-02-15 16:52] MisterJimson commented on #1646
Bit more detail. Seems to happen when we are navigating away from MasterDetail to a screen that does not have a MasterDetail page.

For us when the user logs out we see this https://gist.github.com/MisterJimson/dac690fb913782d84ccd12ab105d8c33

[2018-02-15 17:28] #1819 closed

[2018-02-15 17:29] #1461 closed

[2018-02-15 18:13] rxelizondo opened #1895 "Any plans for taking Xamarin Forms to the Web now that WebAssembly is here?"
I know it is easier said that done but I was wondering if taking Xamarin Forms to the web is on the radar or not. It’s my understanding that WebAssembly could help make this a reality with relative ease. It also helps that all the work revolving around the Blazor project could probably be reused to help bring Xamarin forms to the Web (just a guess).

So, have you guys consider doing this?

Thanks.

[2018-02-15 18:37] tpetrina commented on #1895
WebAssembly means that the code compiles into JavaScript. While this can be done for business logic, what you mean is creating a web backend for Xamarin.Forms. This means that all the semantics of the Xamarin.Forms controls are mapped to DOM elements which is quite tricky.

Take a look at https://github.com/praeclarum/Ooui.

[2018-02-15 18:44] timrisi commented on #1795
Has anyone had a chance to look at this anymore?  This is affecting numerous users on my current version of my app on the App Store, and I haven't managed to find a workaround yet.

[2018-02-15 18:48] sichy commented on #1714
Made this for IOS and Droid sometime ago, can port to Forms. Let me know how to pick/reserve this ticket to contribute and do PR then once done.

[2018-02-15 18:52] sichy commented on #1689
Can do this one too. Simple.

[2018-02-15 19:10] rxelizondo commented on #1895
Actually, creating a back-end for Xamarin.Forms that is mapped to DOM (HTML) elements is something that I think should be avoided (with a passion!). I am thinking more along the lines of taking the HTML Canvas control approach, basically, a canvas control that takes over the whole browser screen and draws the form elements directly into it (no other HTML / CSS involved). This is much the same way

[2018-02-15 21:46] hartez commented on #1664
@davidortinau First we need an answer on what the original intent was. Is "Rounded Image" an image in a circle, or is it an image with rounded corners? The proposal is written for the latter, but it includes a link to Motz's ImageCirclePlugin, which suggests the former. Do you know which one was intended?

[2018-02-15 22:10] adrianknight89 commented on #1895
I've been out of the loop with web development for a while. Is drawing UI controls on Canvas a recommended approach now by W3C instead of leveraging existing HTML controls?

...

OK, some discussion here: https://stackoverflow.com/questions/6856953/does-it-make-sense-to-create-canvas-based-ui-components

Looks like a big downside is search engines cannot crawl Canvas content.

[2018-02-15 22:49] #1816 closed

[2018-02-15 22:51] programmation commented on #1853
I'd recommend also looking at `ControlTemplate`s.

[2018-02-15 23:07] ldw9981 commented on #1362
thanks TWINSBaltiya.
i spend one day.

[2018-02-15 23:49] #1679 closed

[2018-02-15 23:49] renzska commented on #1888
Thanks for resolving this so quickly. Look forward to the new version on NuGet.

[2018-02-16 01:18] rxelizondo commented on #1895
Thanks for the link @adrianknight89. Very interesting to see that this topic have been discussed for years now.

Assuming that no real technical limitations exist for using the Canvas control for this purpose. It seems to me that most if not all of issues that people are complaining about can be easily solved. I may be wrong, but it sure looks like it. But even if they are hard or impossible to so

[2018-02-16 01:53] vhugogarcia commented on #1888
Thanks for resolving this @jassmith I was just starting my new app at this time and it started to download those icons.

Once we upgrade to the latest version, the icons should be removed or should we remove them manually?

Regards,
Victor

[2018-02-16 02:57] jassmith commented on #1888
they should auto-remove themselves, if they dont just delete them. They are intended for a different thing but the IDE support isn't in place yet.

[2018-02-16 03:07] jassmith commented on #1664
We need to move this one back to the drawing board, honestly both need to apply. Further there is another F100 bug already in existence that seems to cover this.

[2018-02-16 03:08] jassmith commented on #1646
I can't seem to whittle this one down, a repro case would go a long way. I do believe its likely a race condition with the splashscreen created using Forms. Can you maybe detail exactly how you do that for me?

[2018-02-16 03:12] jassmith commented on #1353
I'm moving this up to the top of the priority queue now. I can't give an ETA on a fix because I don't know what is wrong yet.

[2018-02-16 03:14] jassmith commented on #1830
Im sorry are you saying the bug exists on AppCompat as well? It should have a different stack trace on AppCompat.

[2018-02-16 04:12] AwsomeCode commented on #1600
I am also having the same issue.

[2018-02-16 04:26] AceCoderLaura opened #1897 "Bug 60966 - Can't Navigate To The Same Page Twice"
**COPIED FROM:** https://bugzilla.xamarin.com/show_bug.cgi?id=60966

_Laura:_

_Melbourne Developer:_

[2018-02-16 08:07] JellisHogenbijl commented on #1548
Is this something that should/could be solved in the app or is it something that needs to be fixed in Xamarin?

[2018-02-16 09:11] Depechie commented on #1662
The UWP code is up on the Xamarin Forms Community Toolkit:
https://github.com/xamarin/XamarinCommunityToolkit/blob/dev/src/Effects/Effects/Platforms/UWP/Switch/SwitchChangeColor.cs

[2018-02-16 09:19] anurbecirovic commented on #1631
Any update on this? I have the same issue.

[2018-02-16 10:02] OPunktSchmidt opened #1898 "Samsung Device, Numeric Keyboard -> No comma, dot event not fired"
### Description

When i create an entry with keyboardtype numeric and run my app on samsung devices, the keyboard shows not a comma key (,). It only shows a dot key (.). But when i press the dot key, the TextChanged event is not fired.

We confirmed this behavior on a Samsung Galaxy Tab A (2016) and Samsung A5. When we install an other keyboard than the standard samsung keyboard (like SwiftKey) it

[2018-02-16 10:22] #1813 closed

[2018-02-16 10:37] #1696 closed

[2018-02-16 10:39] #1660 closed

[2018-02-16 10:40] gstevenson commented on #1353
Thanks @jassmith. Just been looking at some of our crash logs, and this is currently our highest crash. If it helps, here's a breakdown of devices and iOS versions we're seeing it on:

![image](https://user-images.githubusercontent.com/2399213/36303922-bdc9ac1a-1305-11e8-84f8-78c69614ad84.png)

[2018-02-16 13:48] r-a-y-w commented on #1439
NuGet Release is available now 💯
Thanks all and especially @davidortinau & @samhouts for making this happen!!!

[2018-02-16 13:56] MisterJimson commented on #1646
The splash screen shouldn't be called here. This is on logout, where we go to our login screen. The splash screen only displays on app start.

[2018-02-16 15:17] Nixon-Joseph opened #1900 "Xamarin ios ListView ObservableCollection<myClass>. Collection.Add() throwing 'Index # is greater than the number of rows #' exception"
### Description
Xamarin ios ListView ObservableCollection<myClass>. Collection.Add() throwing 'Index "11" is greater than the number of rows "10"' exception.

Not using groups - found bugzilla report [here](https://bugzilla.xamarin.com/show_bug.cgi?id=59896) supposedly fixed in my version.

[code]

Stack Trace
[code]

### Steps to Reproduce

1.  Create item list and set it's ItemSource to Observab

[2018-02-16 15:18] Nixon-Joseph commented on #1900
Sorry, can't seem to figure out the code formatting.

[2018-02-16 15:47] Nixon-Joseph commented on #1900
Able to Avoid the exception by circumventing modifying the list directly (via Add).

[code]

This is absolutely not a fix, but it allows me to continue debugging my app without an exception. It's not performant at all, and it comes with some bugginess, but no exception.

[2018-02-16 16:05] hartez opened #1901 "[Enhancement] 'IsSelectionEnabled' on ListView"
## Rationale

A common question about the Xamarin.Forms ListView is how to disable selection. Current methods require custom renderers and/or handling the ItemSelected event by de-selecting the item. This is a common enough request that we should simply provide a property to handle it.

## Implementation

ListView will need a new bindable property `IsSelectionEnabled`. The default value will be `t

[2018-02-16 16:42] andreinitescu commented on #1901
@hartez I already submitted this one https://github.com/xamarin/Xamarin.Forms/issues/1801
I think having an enum instead of a bool flag makes it easier to extend it in the future for multiple selection.

[2018-02-16 17:27] hartez commented on #1901
@andreinitescu Somehow I missed that when I look for proposals. And after talking with Shane about it and thinking some more, you're right - the enum is a better option. Gonna close this one.

[2018-02-16 17:27] #1901 closed

[2018-02-16 17:30] hartez commented on #1801
This needs more detail about what happens when SelectionMode is set to None. I'd propose the following:

When this property is set to `None`, tapping/clicking on items in the ListView will no longer select them; the `ItemSelected` event will not fire, and the value of the `SelectedItem` property will remain null.

If the `SelectedItem` property is set when `SelectionMode` transitions to `None`, Se

[2018-02-16 18:48] jassmith commented on #1897
Any reason you can't remove pages that are currently in the back stack before trying to add them to the back stack a second time?

What your demo does is what I would call continuous forward navigation. The app never expects the user to hit "back" because the navigation tree has cycles. You need to break the cycles by removing the old page before adding it to the backstack again.

[2018-02-16 18:57] jassmith commented on #1646
Without a basic repro case this will be very hard to track down. This is caused by a Page coming up in an android event after we believe it should be gone. This is not a good thing, but I can't cause it in my testing :(

[2018-02-16 18:59] jassmith commented on #1353
@gstevenson it would help a lot more if we knew you had say iOS 10 users who were never seeing the issue or something like that.

[2018-02-16 18:59] jkastner opened #1903 "InputTransparent Does Not Handle Keyboard Input"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
When a control, such as a button, has InputTransparent set to true, mouse interaction is disabled as expected. However, Keyboard interaction is still possible, as when a user 'tabs' onto the control and presses the keyboard to activate the button.

### Steps to Reproduce

1. Create a Button

[2018-02-16 19:04] #1691 closed

[2018-02-16 19:31] scastria opened #1904 "GestureRecognizer on cell template causes iOS crash when using ObservableCollection"
### Description
A custom cell template with a GestureRecognizer attached causes iOS crash when using ObservbableCollection

### Steps to Reproduce

Use attached sample program:

1. Launch sample app
2. Verify items are loaded after 3 seconds
3. Click the Fav button on the right to verify it prints out debug information to console
4. Click Refresh toolbar button
5. Crash!

### Expected Behavior
No

[2018-02-16 21:19] dhindrik opened #1905 "Pull to refresh doesn't work if iOS 11 large titles is enabled"
### Description
Pull to refresh doesn't work if iOS 11 large titles is enabled. If I disable large titles it works.

### Steps to Reproduce

Implement large titles like in my blog post, http://danielhindrikes.se/xamarin/ios-11-large-titles-in-xamarin-forms-apps/

### Expected Behavior
Listview to refresh

### Actual Behavior
Nothing happens

### Basic Information

- Version with issue: 2.5.0.28055

[2018-02-16 22:18] jassmith commented on #1795
We're still looking at this

[2018-02-16 22:19] jassmith commented on #1435
Closing this issue and moving future discussion to #1795 which has a more up to date repro that hits master.

[2018-02-16 22:19] #1435 closed

[2018-02-16 22:31] fwanjohi commented on #1340
This is great. I have been looking for this. How do you go about getting an update on your computer when this feature is completed?

[2018-02-16 22:50] timrisi commented on #1795
Experimenting more with this yesterday and this morning, it looks like PR1569 fixes the problem.  I pulled the source and made the single change of adding the
[code]
in the ListViewRenderer and it seems to be working fine without crashing in the simulator for me.  I haven't been able to test it on device yet because I'm getting a code sign error that I'm still trying to figure out.  I'll update ag

[2018-02-16 22:52] jassmith commented on #1795
Excellent thank you, that might save me a lot of time as I was about to switch over to this on tuesday :)

[2018-02-16 23:17] rmarinho commented on #1903
Seems the logic thing to do here is to set IsEnabled to false on the button , or bind the command to the view model and handle the CanExecute action. InputTansparent is related with overlay of components not tab stop. I think the best we can do is mark this as a Enhancement for tab stop feature on Xamarin.Forms

[2018-02-16 23:23] rmarinho commented on #1903
We should review this when we pick #1700

[2018-02-16 23:25] rmarinho commented on #1700
We should add support for UWP, macOS, GTK, WPF and maybe tizen

[2018-02-16 23:27] jassmith commented on #1898
What language do you have set?

[2018-02-16 23:48] jassmith commented on #1670
Hey checking in to see if this is still being worked on. If not we are going to move it back to being up for grabs.

[2018-02-16 23:51] bmacombe commented on #1670
Its done...PR is in the community fork.  Let me know what I need to do

[2018-02-16 23:53] jassmith commented on #1632
kickass, cant wait to see a PR

[2018-02-16 23:54] jassmith commented on #1661
Hey @alanag13, you still working on this? If not we can move it back to the ready for work column

[2018-02-16 23:55] jassmith commented on #1708
Hey @jsuarezruiz, you still working on this? If not we can move it back to the ready for work column

[2018-02-16 23:56] jassmith commented on #1678
Hey @almirvuk, you still working on this? If not we can move it back to the ready for work column

[2018-02-16 23:56] jassmith commented on #1666
Hey @alanag13, you still working on this? If not we can move it back to the ready for work column

[2018-02-16 23:57] alanag13 commented on #1661
I am, I was just waiting for my other PR to be merged since I knew it would conflict with this one. I'll have something soon.

[2018-02-16 23:57] jassmith commented on #1676
@alanag13 sounds great, sorry I didn't see your response! Looking forward to the PR.

[2018-02-16 23:58] jassmith commented on #1661
Thanks a bunch amigo

[2018-02-16 23:59] bmacombe commented on #1670
https://github.com/XamarinFormsCommunity/Xamarin.Forms/pull/6

[2018-02-16 23:59] jassmith commented on #1670
Can you see why we are not getting the PR upstreamed please? The community fork cant be merged wholesale so we need to receive your PR upstream somehow.

[2018-02-17 00:00] jassmith commented on #1670
Thank you for the link, I will add a review there :)

[2018-02-17 00:00] bmacombe commented on #1670
Thanks!  I'll take a look...my first time contributing like this, so I'm a bit lost :)

[2018-02-17 00:09] jassmith commented on #1719
@netapau you still working on this?

[2018-02-17 00:10] jassmith commented on #1699
@alanag13 hows it going? :) You sure got a lot of these. Still planning on this one?

[2018-02-17 00:10] alanag13 commented on #1666
Yeah like I said I basically have this already done, it just needs some tweaking. I should be able to get in within a couple weeks if that's okay.

[2018-02-17 00:11] jassmith commented on #1705
@Depechie still planning on working on this? If not we can move it back to the ready for implementation column

[2018-02-17 00:14] alanag13 commented on #1699
You might notice a pattern: I've done a lot of webview customizations :-).

Yup, though I do have a question on this one -- how should I handle platforms where this feature cannot be implemented (API for running JavaScript returns void?) Just do nothing? NotImplementedException?

[2018-02-17 00:16] rmarinho commented on #1900
Can you give us a better reproduction, I have tried a sample with the version you specified and the code you suggest that adds items and it doesn't crash.

[TestRecognizerCrash.zip](https://github.com/xamarin/Xamarin.Forms/files/1733215/TestRecognizerCrash.zip)

[2018-02-17 00:38] jassmith commented on #1729
@ctartamella still working on this?

[2018-02-17 00:39] PureWeen commented on #1705
@Depechie   if you're still planning to work on this take note of the additional notes in *Backward Compatibility*

[2018-02-17 00:41] jassmith commented on #1699
return null

[2018-02-17 00:42] jassmith commented on #1666
Thats fine, you might get another checkup message before then, we're just trying to make sure we keep this all organized :)

[2018-02-17 00:44] bmacombe commented on #1670
I'll clean up the code in the community fork based on the review and then create a PR here.

[2018-02-17 00:44] jassmith commented on #1702
@llevera just confirming you are still looking into this :) If not we can move it back to the ready for work column

[2018-02-17 00:55] jassmith commented on #1711
@michaeldwan just doing a quick checkup to see if you are still working on this. If not we can add it back to the available pool.

[2018-02-17 00:56] jassmith commented on #1706
@michaeldwan still planning on doing this? We can move this back to available if not. Looks like you are 90% of the way there already anyway.

[2018-02-17 01:07] timrisi commented on #1795
Got the code signing figured out (gogo keychain issues).  Built and ran it on device and it looks to be working successfully there without crashing as well.  It also seems to fix a long-standing issue I've had with searching in a ListView (if you typed too fast).    I am still getting another long-standing crash when searching in a Grouped ListView and having 0 results, but that's a different issu

[2018-02-17 05:35] almirvuk commented on #1678
Had some problems :( , I am planning to finish it by the end of tommorow, is that ok?

[2018-02-17 05:56] jassmith commented on #1795
Shoot me a link

[2018-02-17 05:58] jassmith commented on #1678
More than OK :)

I am just checking in to make sure we're not losing track of things. Thank you for your efforts!

[2018-02-17 06:03] timrisi commented on #1795
https://github.com/xamarin/Xamarin.Forms/pull/1569

[2018-02-17 06:11] andreinitescu commented on #1801
@hartez I edited the description. Do we have a 100% green light on this? @jassmith ?

[2018-02-17 07:05] jassmith commented on #1801
Nope, anything in backlog does not have greenlight. This one isn't on the F100 list either so its unlikely to be bumped out of backlog very quickly as we go through the ones that are marked F100. I will send the issue up the flagpole however and see what shimmies back on down.

[2018-02-17 07:05] jassmith commented on #1795
Sorry I meant your other crash

[2018-02-17 07:06] AwsomeCode opened #1906 "Unfocuse issue with Entry in listview"
### Description
I have a ListView with ViewCells in my ContentPage. Each ViewCell has a CustomEntry (that I have created).
I want control if the user leaves the Entry empty. If he leaves the Entry empty, I would like to leave the last value that Entry has had.
The easiest solution for me is using Focused and Unfocused events. But the behaviour between events is very strange.

### Steps to Reproduc

[2018-02-17 07:17] timrisi commented on #1795
Ooh, haha.  I haven't created an issue for that one myself.  It looks like the same basic issue as https://bugzilla.xamarin.com/show_bug.cgi?id=59412.  I have a grouped ListView with only 1 group showing, when searching it frequently crashes if the search result contains 0 items.  SearchBar has the Text property bound to a string, setter for the string calls a method that filters what's in the col

[2018-02-17 07:24] andreinitescu commented on #1801
@jassmith I don't understand your last sentence.
As someone who wants to become a contributor, it's not clear to me the flow from from a proposed enhancement ticket to one which has been greenlight'ed and it's ready for someone to pickup and be implemented.
Looking at https://github.com/xamarin/Xamarin.Forms/blob/master/CONTRIBUTING.md it talks about "Accepted".  But I can't see any "Accepted" tag

[2018-02-17 08:02] jassmith commented on #1795
If you want to do me a favor at some point file it. It will go into the triage queue automatically when you do :)

[2018-02-17 08:03] jassmith commented on #1801
I mean I will raise the enhancement with the PM team to see what they think.

The Contributing.md is WAY out of date. It needs to be updated. Sorry. Use this board: https://github.com/xamarin/Xamarin.Forms/projects/5

Pick anything in the ready for implementation column

[2018-02-17 08:31] andreinitescu commented on #1856
pinging @jassmith

[2018-02-17 12:49] netapau commented on #1719
@jassmith
I think someone a little more experienced should take it.
I was able to advance to the creation of the enumeration and modification of ToolbarItem
Here are my questions: do you have to make new renderers?
Do we have to work at Page.cs?
For the first time I look in this code I can not advance anymore.

[2018-02-17 15:04] OPunktSchmidt commented on #1898
German

[2018-02-17 15:10] githubderek commented on #1475
Same issue here.  just want to provide some more details about the issue.

 I have Visual Studio Enterprise 2017 Version 15.5.6 with

- Xamarin - 4.8.0.760;
- Xamarin Design - 4.8.188;
- Xamarin.Android SDK - 8.1.5.0;
- Xamarin.iIS and Xamarin.Mac SDK - 11.6.1..4

Xamarin Live Player app downloaded  from iOS App Store is version 1.0.252, it is running on iPhone X (iOS 11.2.5)

### **Procedure**
Cr

[2018-02-17 15:35] ozielguimaraes opened #1907 "Editor Placeholder/PlaceholderColor"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Why Editor doesn't have a property Placeholder and PlaceholderColor?

### Steps to Reproduce

1. Missing property Placeholder
2. Missing property PlaceholderColor

### Expected Behavior
Placeholder and PlaceholderColor properties for Editor as the Entry element.

### Actual Behavior

### Bas

[2018-02-17 17:40] arevellfraedom commented on #1702
Yep, still working on it (ableit sporadically). First PR shouldn't be far away

[2018-02-17 18:31] PureWeen commented on #1695
Some work I'm doing currently related to borders
https://github.com/xamarin/Xamarin.Forms/issues/1724

I realize this ticket expands on the concept of borders but I just wanted to make whoever works on this aware

On Android I've generalized
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/ButtonBackgroundTracker.cs

so it can essentially be applied to any Androi

[2018-02-17 19:13] jassmith commented on #1702
Awesome thanks!

[2018-02-17 19:16] jassmith commented on #1856
On android you will pay a significant performance penalty for those brushes even if you using a LinearGradient drawable. Drawables aint that cheap :/ Further there will be a desire for us to add the newly introduced brush type to more and more locations, many of which can't be easily supported.

[2018-02-17 19:16] jassmith commented on #1856
Thanks for the ping btw, I had missed this

[2018-02-17 19:17] jassmith commented on #1719
The answers are no and no to both, though the second would be ideally a yes for an optimal implementation. I have moved this back to the available for implementation column

[2018-02-17 19:19] dhaligas commented on #1719
@jassmith i need this .. do I have to modify the NavigationPageRenderer to make this work?

[2018-02-17 19:23] jassmith commented on #1898
Upon review this is an issue with the custom Samsung keyboards themselves. They do not respect the current locale and thus result in the wrong keys being displayed. I don't think there is any way for us to fix this however I would be excited to hear if there is one.

The best advice I can give is don't use a numeric keyboard on samsung phones on locales that use a , separator :/

[2018-02-17 19:23] #1898 closed

[2018-02-17 19:31] jassmith commented on #1719
@dhaligas the implementation of this for iOS is straightforward and similar on ANdroid/UWP

1) Implement the PlatformSpecific API as shown in the spec.

2) Go to https://github.com/xamarin/Xamarin.Forms/blob/6668ff6458b8587a39333ce1ca5fd6ae5f285a7e/Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs#L1008 and modify such that there are now 3 lists. The `primaries` list needs to be split int

[2018-02-17 19:58] jsuarezruiz commented on #1708
@jassmith  I focused earlier on the CornerRadius of the BoxView and I'm still working on it. At the moment I have a version for Android, iOS and UWP. I need to implement in GTK, macOS and WPF. On the other hand, in the current implementation I use ViewCell in the DataTemplate and I'm not sure if we wants to avoid or there's no problem.
I try to have it as soon as possible, although if someone from

[2018-02-17 20:28] andreinitescu commented on #1856
@jassmith I'm not sure I am following you, but I don't think anyone expects Xamarin Forms to support brushes in a way which is more performant than the native.

[2018-02-17 20:42] jassmith commented on #1708
No rush, Im just doing check ins to make sure we don't lose track of things or get people duplicating efforts, if you are still working on it super :)

If you want to post up your partial work so far, great :) We would take the implementation on Android/iOS/UWP as is.

[2018-02-17 20:44] jassmith commented on #1856
I wish I believe that was true...

Regardless I think the bigger issue is once we introduce the Brush type there would be a strong push to move the Brush type everywhere possible, which would result in a lot of deprecated API/ABI.

We're in a pretty tough spot with Brush.

[2018-02-17 20:46] jassmith commented on #1856
I wonder what it would take to put a Foreground/Background brush on every control and make them inherit properly. There would be a doozy of spec to write around that...

[2018-02-17 21:00] PureWeen opened #1908 "[Android] Use drawables from resources opposed to creating bitmaps in order to improve performance"
### Description
@jonathanpeppers outlines some issues here with how images are loaded with Android

http://jonathanpeppers.com/Blog/xamarin-forms-performance-on-android

On android if we use a Drawable when present instead of the bitmap this helps with reuse of the same image.

Also looking into caching the Resource Ids against the names might be useful as the ResourceManager currently uses reflec

[2018-02-17 21:10] softsan opened #1909 "Xamarin.forms 2.5.0.280555 and android circle button issue"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Updated to new xamarin.forms nuget package and we have some issue regarding button on android. please see attached image.

XAML:

[code]
ButtonRenderer on Android:

[code]
### Steps to Reproduce

1.
2.
3.

### Expected Behavior
Circle button
### Actual Behavior
slightly rectangular button (p

[2018-02-17 21:25] dhaligas commented on #1719
@jassmith the iOS one seems simple and I am able to do it without modifying the core.  But android seems like you have to get into the internals of NavigationPageRenderer to support this

[2018-02-17 22:10] bmacombe commented on #1670
https://github.com/xamarin/Xamarin.Forms/pull/1910

PR with the requested changes from jassmith's review.

[2018-02-17 23:13] jashif commented on #1909
I too had the same issue. Button Height is not changing even if we set Height Request  to a value.

[2018-02-18 03:06] gregmercer opened #1911 "iOS ListView items Layout View Rendering"
# iOS ListView with Layout View Rendering

### Description

Update: I've added a screenshot, mov and stacktrace. All are located on the following repo.
https://github.com/gregmercer/ListFrames4

On iOS the Slots are not rendered (or invisible?). Displays a blank open space where the Slots should have been rendered.

### UI Structure

[code]

Not using groups

### Code @
https://github.com/gregmerc

[2018-02-18 09:32] Depechie commented on #1705
@jassmith @PureWeen sorry guys... bit swamped with other work :/
Still want to tackle this, bit indeed need some time to sit down and do it right. So for now yes, please, move it back to Ready for implementation.
Sorry...

[2018-02-18 09:45] maxvodoo opened #1912 "WPF: ContentPage icon remains after navigation"
### ContentPage icon remains after navigation

### Steps to Reproduce

1. Create project with two content pages
2. add some icons to them
3. navigate between them

### Expected Behavior
every ContetPage must show it's icons only
### Actual Behavior
icons remains from the previous page
### Basic Information

- Version with issue:
- Last known good version:
- IDE: vs2017
- Platform Target Frameworks

[2018-02-18 10:03] jassmith commented on #1705
No problem amigo, no hard feelings at all. We're just making sure stuff is being tracked :)

[2018-02-18 13:16] jerone commented on #1702
Some logic for elements with padding has already been setup up in https://github.com/xamarin/Xamarin.Forms/pull/1276, where it is implemented in `Frame`, `Layout` and `Page`.

Wondering if `IPaddingElement` should/could be extended to all `View`/`VisualElement`'s... to be in sync with [`Margin`](https://github.com/xamarin/Xamarin.Forms/pull/1207#issue-147279007).

[2018-02-18 13:50] AnaChips opened #1913 "GUI Contribution"
### Description
When a developer develops a app in Xamarin, the Business logic is written in C# and the UI is coded manually through XAML. Untill the app runs on a emulaor/device, the developer has only a vague idea(imagination) of the UI developed. Thus this project focuses on building "the GUI based design element" in Xamarin-forms. (It is inspired by android studio).

### Expected Behavior
![im

[2018-02-18 18:16] alanag13 commented on #1678
On iOS you can use: https://developer.xamarin.com/api/property/MonoTouch.UIKit.UIView.UserInteractionEnabled/

On Android you can use:
https://developer.xamarin.com/api/property/Android.Views.View.Focusable/

These will prevent text from being edited without changing the respective controls' appearances.

[2018-02-18 19:26] jonathanpeppers commented on #1908
I think using `Drawable` is a good idea here, but I'm wondering if there is a different way to implement this.

`ImageViewExtensions` is `internal`... Does that mean that third party components or developer's custom renderers can't take advantage of this change? It makes me think that breaking changes are required here to make the best improvements...

So some ideas here:
1. This PR might be good

[2018-02-18 19:55] jassmith commented on #1702
Not everything needs a padding. What does the padding a Switch do? You mgiht think it makes sense to just generate blank space around the switch, but thats more of a Margin job. Margins work externally to the control, but there is nothing internal to a switch on which the Padding could work...

[2018-02-18 20:12] andreinitescu commented on #1702
@jassmith The same thing which UWP's Padding property does on ToggleSwitch. I think the best explanation is in the remarks of the Control's Padding property:

Of course, Xamarin has no template for Switch but I think the idea should be similar. Padding on some Xamarin Forms control could just not do anything.

I wish in Xamarin Forms Padding property was on View.

[2018-02-18 20:16] llevera commented on #1702
This is a little devil's advocate, but surely the padding of any control would be apparent if a background colour is set (and can be applied in a reasonable way)?

[2018-02-18 20:17] andreinitescu opened #1914 "[Enahacement] [Documentation] Update the Element class hierarchy diagram"
### Rationale

I found myself looking many times to the hierarchy diagram from here https://developer.xamarin.com/api/type/Xamarin.Forms.Element/. I think it's a great reference for developers. And I am sure I not the only one who thinks the same.
But the diagram hasn't been updated to include newer classes like TemplatedPage, TemplatedView, or TableView.

I wish it included all classes.

Also, I

[2018-02-18 20:18] llevera commented on #1702
BTW, this change is relatively simple except for the fact that image buttons are implemented by manipulating the insets/paddings (in non-trivial ways, esp for Android). So doing this change while maintaining that functionality is the hard bit.

[2018-02-18 20:22] andreinitescu commented on #1702
By the way, this guy things the same, albeit it's a very old article back in the dark days when Margin didn't exist on View *_shrugging_* http://blog.tpcware.com/2014/09/xamarin-xaml-vs-microsoft-xaml-the-devil-is-in-the-details/

[2018-02-18 21:58] AlexF12004Roma commented on #1790
Is there a workaround for this issue?
I cannot publish any UWP app with share option due to this bug?

[2018-02-18 22:27] almirvuk commented on #1678
Thanks! @alanag13, @PureWeen I implemented also for WPF and MacOS, I am also planing to finish Tizen and GTK if that is possible... so is that ok? (asking because in intro to this Enhancement there are Android, iOS and UWP)

[2018-02-19 00:59] INHack20 commented on #1424
+1

[2018-02-19 01:14] procopio opened #1915 "Can't change RelativeLayout Constraints after update to Xamarin.Forms 2.4"
### Description
Can't change RelativeLayout Constraints after update to Xamarin.Forms 2.4
The problem can be reproduced using official Xamarin.Forms Layout Demos
The box on this demo is not moving anymore.
I use this to position views when user rotate screen on my app.

### Steps to Reproduce
1. download official Xamarin.Forms Layout Demos (https://developer.xamarin.com/samples/xamarin-forms/UserI

[2018-02-19 02:39] alanag13 commented on #1632
I'm waiting on #1850 for some parts of this, this will also allow the last remaining platform (GTK) to work. Once that is merged I can add Spans and CSS to my PR. The base functionality I have working on everything besides GTK.

[2018-02-19 11:19] nbsoftware commented on #1518
Hmmm... I am experiencing this crash too - catched by AppCenter since last release.
Not sure to understand what is triggering it.
Happening on different flavours of devices and OSses (4.4.2, 7.0)

[code]

[2018-02-19 13:06] RathanakumarSekar opened #1918 "Previewer doesn't work for custom components in Xamarin.forms.Android"
### Description

While we checking the XAML previewer for custom components in Xamarin.Forms.Android  InvalidcastException occurred in previewer window. In iOS it works good.

For you reference i have attached the screen shot image.

Please check the same issue from your side and let me know if you have any concern on this.

### Basic Information

- Version with issue:  2.5.0.280555

- IDE:
- Plat

[2018-02-19 13:55] Nixon-Joseph commented on #1900
@rmarinho Hey thanks for the response. I'll try to get something up today.

[2018-02-19 13:57] jkastner commented on #1903
The reason we didn't go for the IsEnabled option in the first place was to avoid having to restyle the control, but that makes sense. I appreciate the suggestion on the CanExecute callback - that's the approach we're taking to workaround this problem.

I'd still suggest it be fixed, in addition to the TabStop support, as it's not obvious that a user could still access the transparent control throu

[2018-02-19 15:02] SamuelDebruyn opened #1919 "Bindings ignore the current culture when converting between types"
### Description

Bindings ignore the culture set in the current thread when converting a variable to another type if needed. As a result, users with a culture with a decimal separator other than a dot (e.g. a comma) cannot type the decimal separator in an entry bound to a single or a double.

The bug is at [this line](https://github.com/xamarin/Xamarin.Forms/blob/0b2bbb03d497e77b73d4b669ee916e148e

[2018-02-19 16:24] Paul-Brenner-Tangoe opened #1921 "Updating FontAttributes breaks the layout"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
When an item is new, I have the strings bold. After a user taps the item, I set the text to not be bold, to show it has been read. Doing this messes up the layout (see repro, bug is hard to explain)

### Steps to Reproduce

Run app
Tap the first item in the list, then go back
Repeat this for

[2018-02-19 18:16] Amine-Smahi opened #1922 "Visual Studio 2017 (v15.5.6) Create an empty solution (0 Projects)"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
After creating a Xamarin.Forms project using visual studio 2017 i get an empty solution, but when i create an xamarin.android project then it works, it seems like there is a problem with xamarin.forms, i installed everything xamarin needs from the bootstraper.
### Steps to Reproduce

1. New

[2018-02-19 20:17] Paul-Brenner-Tangoe opened #1924 "StackLayout with large HeightRequest overflows boundary of containing StackLayout"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Migrating https://bugzilla.xamarin.com/show_bug.cgi?id=42727 here

From the bugzilla report:
I've got a Label in a StackLayout in a StackLayout:

Due to the large HeightRequest the inner StackLayout fills the whole space available. But if we remove its child Label, the StackLayout grows beyo

[2018-02-19 21:27] philmoz commented on #1909
While it's good that Xamarin (finally) tries to honour the Button class BorderRadius and BorderWidth on Android, the implementation is seriously broken.

In the image below (from 2.5.0.280555) the buttons should fill the grey box and be round - on Android the size is wrong and the border is not round.
The Android button also has what appears to be a shadow at the bottom although this may be an art

[2018-02-19 21:46] derekwheeler-tylertech opened #1925 "mono-symbolicate errors (on iOS only): "Warning: MVID directory does not exist: ...""
### Description

 We have several Xamarin.Forms apps that are instrumented with the HockeyApp SDK to send crash reports. The build environment is Visual Studio 2017 on Windows 10 with local builds for android and remote builds to a Mac for iOS builds. We've recently gotten the android versions to build in such a way that they produce the needed .mSym files and have been successful in using mono-sy

[2018-02-19 22:27] #1663 closed

[2018-02-19 22:33] PureWeen commented on #1790
I posted some workarounds for some scenarios here
https://github.com/xamarin/Xamarin.Forms/issues/1783

[2018-02-19 22:43] PureWeen commented on #1908
Yea I could definitely see it being useful to split up the logic in *UpdateBitmap* method and providing some useful extension that's like   *FormsImage.ToAndroidDrawable() *

This is what I was thinking would be ideal as well but I'll have to see the viability of doing that :-)  I've asked internally about it.

I found this bindings project which has some decent use
https://github.com/beraybentese

[2018-02-19 23:37] mll opened #1927 "iOS ListViewRenderer has a bug in row insertion/deletion logic."
### Description

See commit 1f770f65886213e28677092ccea355ee799cfa51 (the current commit on master at the time of writing).

The code in Xamarin.Forms/Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs: 532-544
reads:

			switch (e.Action)
			{
				case NotifyCollectionChangedAction.Add:

					UpdateEstimatedRowHeight();
					if (e.NewStartingIndex == -1 || groupReset)
						goto case Notify

[2018-02-20 00:24] rookiejava commented on #1678
On Tizen you can use [`AllowFocus()`](https://developer.tizen.org/dev-guide/csapi/api/ElmSharp.Widget.html#ElmSharp_Widget_AllowFocus_System_Boolean_).

[2018-02-20 00:46] rookiejava commented on #1700
On tizen, it seems that you can use [`SetNextFocusObject()`](https://developer.tizen.org/dev-guide/csapi/api/ElmSharp.Widget.html#ElmSharp_Widget_SetNextFocusObject_ElmSharp_EvasObject_ElmSharp_FocusDirection_) and  [`FocusNext()`](https://developer.tizen.org/dev-guide/csapi/api/ElmSharp.Widget.html#ElmSharp_Widget_FocusNext_ElmSharp_FocusDirection_) appropriately.

[2018-02-20 07:29] almirvuk commented on #1678
Nice, thanks @rookiejava! I am very happy for my progress (as first time XF contributor), I will need day or two more to complete this :)

[2018-02-20 08:06] ansydor commented on #1393
Sorry if it's not minimal enough
But it can be reproduced.
[IssueReproduce.zip](https://github.com/xamarin/Xamarin.Forms/files/1739277/IssueReproduce.zip)

[2018-02-20 08:27] ansydor commented on #1393
Here is a place, where you can see the behavior with a break point, it fires multiple times
[code]

[2018-02-20 08:29] jfversluis commented on #1719
For Android it's basically the same as @jassmith describes, but then here I guess?

https://github.com/xamarin/Xamarin.Forms/blob/c18e85ee434d7bacb730215fecf15acc0230917f/Xamarin.Forms.Platform.Android/Platform.cs#L383

[2018-02-20 08:33] oussamabonnor1 commented on #1922
i am currently having the same issue, i hope they fix it soon.

[2018-02-20 08:52] benjs opened #1928 "Creating a project with a dash in the name does not update the standard namespace"
### Description
When creating a project with a dash in the name, the standard namespace is not updated.

### Steps to Reproduce

1. Create a Cross-Platform .Net Standard Xamarin project with a dash in the name, for example "project-name"
2. Create a file, for example "ViewModelBase.cs"
3. Multiple Errors appear (because of the dash)

### Expected Behavior
When creating the project with the name "p

[2018-02-20 10:12] ravinderjangra commented on #1732
@StephaneDelcroix  This has already been closed. so please close this. so no one start working on it.
https://github.com/xamarin/Xamarin.Forms/pull/84

[2018-02-20 11:04] IamSaravana1994 opened #1930 "Empty space displays on iPad instead of plotting WebView when HeightRequest of WebView is about 29000"
### Description

Empty space displays on iPad instead of plotting WebView when HeightRequest of WebView is about 29000.

### Steps to Reproduce

1. Create Xamarin.Forms project and render WebView inside Frame inside StackLayout inside ScrollView.
2. Set HeightRequest about 29000 to WebView Frame.
3. Test this in iPad devices only.

### Expected Behavior

WebView should be rendered in output even i

[2018-02-20 11:14] StephaneDelcroix commented on #1732
@ravinderjangra that's different

[2018-02-20 11:18] ravinderjangra commented on #1732
@StephaneDelcroix TextColor and BackgroundColor are already added In PR. for what more options we can provide to user for customization? any suggestions?

[2018-02-20 11:55] juepiezhongren commented on #1789
@Mike-EEE Avalonia is really a nice experiment

[2018-02-20 15:27] bahrman commented on #1614
The description of this bug only tells half the story.  If the page is initially rendered in landscape mode, then the picker is displayed, then the device is rotated to portrait mode, the toolbar will be displayed above the picker with a gap between the picker and the toolbar.  An easy way to reproduce this is to create an app with a start page containing a button that navigates to a second page t

[2018-02-20 16:37] Mirksar opened #1931 "Xamarin Forms on Android: ScrollView on ListView header crashes app when closing page"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
In a page with this structure:

        <ListView>
            <ListView.Header>
                <ScrollView Orientation="Horizontal">
                    <StackLayout Orientation="Horizontal">
                        <BoxView Color="Green ">
                        </BoxView>

[2018-02-20 17:20] #1426 closed

[2018-02-20 17:20] #1438 closed

[2018-02-20 17:48] ammarMheir opened #1932 "Adding both TapGestureRecognizer and ContextActions to ViewCell will result in ContextActions not responding"
### Description

When working with ViewCells, adding ContextAction by itself will result in a successful build and expected functionality. However when both a TapGestureRecognizer and ContextActions is set on the same ViewCell, only the TapGestureRecognizer will respond and ContextActions no longer work.

A previous bug has been reported but apparently resolved:

https://bugzilla.xamarin.com/show_

[2018-02-20 18:19] dhaligas commented on #1719
@jfversluis on android there is the Toolbar.NavigationIcon that can be used to set the Left Toolbar Item but that is buried in the NavigationPageRenderer.  This only allows one item which is fine for left Left Toolbar Items the majority of the time

[2018-02-20 18:23] hartez commented on #1932
@ammarMheir Are you seeing this behavior on _both_ iOS and Android?

[2018-02-20 18:55] samhouts commented on #1353
I've used the sample code from @RalphJacobson (https://github.com/xamarin/Xamarin.Forms/issues/1353#issuecomment-350660860) as well as the test project from @aleksandrsmyk (https://github.com/xamarin/Xamarin.Forms/issues/1353#issuecomment-351983335), and I have been unable to reproduce the issue at all. Thinking that this was likely a sporadic issue, I tested the scenario repeatedly for more than

[2018-02-20 19:02] jimmgarrido commented on #1922
This is most likely an issue with the template creation rather than Xamarin.Forms itself. Is this a new VS install? Can you create a new Xamarin.Forms project but unselect the Android platform to see if that works? And please also attach the logs from Help > Xamarin > Zips Logs.

Thanks!

[2018-02-20 19:09] rmarinho commented on #1842
fixed by #1884

[2018-02-20 19:09] #1842 closed

[2018-02-20 19:10] rmarinho commented on #1654
This is fixed on nightly and next release

[2018-02-20 19:10] #1654 closed

[2018-02-20 19:30] jfversluis commented on #1719
@dhaligas I didn't really look into it, but NavigationIcon sounds like it can hold just one?

[2018-02-20 19:48] jassmith commented on #1719
Upon further review I was too hasty with my statements about Android. The API will need to be modified to only allow one icon for Android and to make it clear its an override for the back button.

[2018-02-20 20:21] robertsundstrom opened #1933 "GTK: App Lifecycle events have not been implemented"
## Rationale
For GTK+, the app lifecycle events have not been implemented.

The following methods should be invoked on the ```Application``` object from ```Xamarin.Forms.Platform.GTK.FormsWindow``` in order to invoke the corresponding lifecycle event handlers:

* SendStart();
* SendResume();
* SendSleep();

Some of them doesn't seem to fit in the window-based paradigm, as also is the case with the

[2018-02-20 21:33] Paul-Brenner-Tangoe opened #1934 "Label is clipped when inside a StackLayout with another Label using TrailTruncation"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Migrating this 2+ year old bug here - https://bugzilla.xamarin.com/show_bug.cgi?id=34943

With two labels inside a StackLayout (horizontal), 1 of them will be clipped if the other is too long and gets the ellipses from a TrailTruncation WrapMode setting.

### Steps to Reproduce

Run sample
N

[2018-02-21 02:40] knocte commented on #1654
Hey Rui, by next release you mean 2.5.0.280555 which was uploaded to Nuget.org 5 days ago?

[2018-02-21 03:41] hartez commented on #1654
@knocte I think he means the next major or minor release. 2.5.0.280555 was just a service release for 2.5.

[2018-02-21 09:54] daves1992 opened #1936 "System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary."
### Description

Since using asynchronous calls to our web services I am now getting this exception every so often.

Literally performing the same operation replicates it 10% of the time: Launch App > Click on MasterDetailPage > Select Settings Page (Tabbed page with 2 pages).

The other 90% of the time everything works as expected.

Every now and again it will throw an object reference not set to

[2018-02-21 10:10] charlesroddie commented on #1623
I propose splitting this into two issues:
1. Use CompositionTarget.Rendering events on Windows in the relevant places in the repo. This should fix choppy animations that people complain about on UWP.
2. Expose a Rendering event in Xamarin.Forms. This will allow users to draw things once a frame.

[2018-02-21 10:19] charlesroddie opened #1937 "[UWP] Choppy animation"
### Description

Animation is choppy on UWP [link1](https://forums.xamarin.com/discussion/113862/uwp-animation-performance-issues) [link2](https://forums.xamarin.com/discussion/90173/uwp-animation-performance-with-xamarin-forms) [link3](https://forums.xamarin.com/discussion/comment/266814#Comment_266748).

### Expected Behavior

60 fps (if that is the screen refresh rate)

### Actual Behavior

24-

[2018-02-21 10:28] charlesroddie opened #1938 "Expose a rendering event in Xamarin.Forms"
It is standard to use timer on Xamarin.Forms to do somthing once a frame ([example](https://forums.xamarin.com/discussion/100569/how-to-animate-a-simple-smooth-rotation)), but this fails because of [slow timers](https://github.com/xamarin/Xamarin.Forms/issues/1623) on Windows and is not the best approach in any case.

A rendering event exposed in Xamarin.Forms would be a much better approach.

Thi

[2018-02-21 10:29] charlesroddie commented on #1623
Created the two issues so I will close this issue, which was getting overcomplicated.

[2018-02-21 10:56] daves1992 commented on #1936
I think I have whittled this down to performing two dependency calls essentially at the same time after app load which would explain the duplication.

The first page in the tab page was going off and syncing the settings using the webservices implementation while the second page also went off and retrieved a data list.

[2018-02-21 13:35] veryhumble opened #1939 "ArgumentOutOfRangeException on clearing a group on a grouped ListView on Android"
### Description
Crash on Android on clearing items in a group added to the ItemSource of a ListView.
I get a `ArgumentOutOfRangeException` with a stacktrace in the `Xamarin.Forms` namespace instead.

On iOS it works just fine.

### Steps to Reproduce
A & B are lists of items created in the constructor, empty
X is the list of lists binded to the ListView

1. Fill list A with Items
2. Add list A & B

[2018-02-21 13:50] MisterJimson commented on #1646
I'll see if I can strip down our app to a reproducible sample.

[2018-02-21 14:26] henricm commented on #1672
Should implementation be UWP only? If so, should the Bindable properties be added to a WindowsSpecific View class or shared View class?

[2018-02-21 17:31] djcparker commented on #1632
@jassmith  - I'd like to see Subscript and Superscript as well.  Can this Enhancement be extended or should it be raised as another one?   The use case I have is for things like  Ug  where the g is scripted  or the tm and (r) symbols.

[2018-02-21 17:49] joseluisct commented on #1483
I have this issue also, it happens after upgrade to Xamarin Forms 2.5

I've been testing the conditions of this to happen and it happens when:
· The page is a NavigationPage.

But if it's a ContentPage it works OK, even putting the NavigationPage as Detail of MasterDetail, it works OK.

[2018-02-21 18:16] rmarinho commented on #1654
yeah thanks @hartez , @knocte  it will be in the next pre release we ship.

[2018-02-21 18:48] jassmith commented on #1632
There is already an open PR, another change would need a new enhancement opened

[2018-02-21 18:51] andreinitescu commented on #1632
FontAttributes enum is used by Button too. I assume support for Underline and Strike will work for Button too?

[2018-02-21 18:54] jassmith commented on #1632
It would be ideal but we are willing to take that as an errata for the initial PR rather than gate on it.

[2018-02-21 18:55] davidortinau commented on #1913
Thanks for the mock. I can say with certainty that many many Xamarin.Forms developers would welcome design tools.

As this is not the domain of Xamarin.Forms itself, but rather that of developer tools, I'm closing this issue. If you undertake building a designer for Xamarin.Forms, please keep us posted on your progress!

[2018-02-21 18:55] #1913 closed

[2018-02-21 19:07] #1665 closed

[2018-02-21 19:44] xamoulin opened #1940 "[iOS] ImageCell command triggered when raising CanExecuteChanged"
### Description

The command bound to an ImageCell is executed when CanExecuteChanged is raised while the cell is selected on iOS. It work as expected on Android.

### Steps to Reproduce

1. Bind a command to items of a ListView
2. In the Execute method of the command, raise CanExecuteChanged (with CanExecute = false)
3. Still in the Execute method, raise CanExecuteChanged (with CanExecute = true)

[2018-02-21 19:52] pauldipietro opened #1942 "[Android] Attached Touch Listener events do not dispatch to immediate parent Grid Renderer View on Android when Child fakes handled"
Migrated from https://bugzilla.xamarin.com/show_bug.cgi?id=60823

### Description

Touch listeners attached by a user do not dispatch to the parent view when the child element has "fake" handled an Event

Grid
-- Label

Label fake handles OnTouchEvent which causes the parent view during the DispatchTouchEvents phase to not call OnTouch on Listeners attach via *SetTouchListener* . *OnTouchEvent* is

[2018-02-21 20:28] Teame81 commented on #1527
Still won't work for me in on Windows in VS 2017 on a crossplatform with Android, iOS and Universal Windows.

[2018-02-21 20:30] samhouts commented on #1906
I am unclear about the issue reported here. I have created a sample project that shows that an Entry will fire the Focused event when it is tapped on and will fire the Unfocused event when you tap away. Your expected behavior seems to indicate that you want both events to fire when you tap on the Entry. I'm not sure that this makes sense, and it would be a significant breaking change. Can you expl

[2018-02-21 20:55] Paul-Brenner-Tangoe opened #1943 "Slider crashes when Minimum value greater than zero and set before Max value in XAML"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
Migrating https://bugzilla.xamarin.com/show_bug.cgi?id=43435 here

The difference between the working and crashing versions is the order of the Minimum and Maximum properties in the XAML. Note that if Minimum is set to zero, the order is no longer an issue.

### Steps to Reproduce

Run app,

[2018-02-22 01:10] samhouts commented on #1911
I downloaded the project and ran it on both Android and iOS. I didn't notice any missing slots. Can you provide screenshots to illustrate the behavior you're describing? Thanks!

[2018-02-22 01:33] alanag13 commented on #1632
My current PR actually puts these on their own enum instead of FontAttributes. You can see my reasons for this I the comments. https://github.com/XamarinFormsCommunity/Xamarin.Forms/pull/9.
That being said I do also call out in the same comment that Buttons are probably the only other control that I see being frequently used for this, so I'm willing to give support for them a run.

[2018-02-22 03:52] AceCoderLaura commented on #1897
@jassmith Of course we could remove it from the back stack, but that would ruin the backwards navigation, we've tried this in practise and it makes navigating the application confusing.

This is _**not**_ a long-term solution.

[2018-02-22 04:09] AceCoderLaura opened #1944 "Can't Intercept Software Back Button"
### Description
Software back button doesn't use the same code paths as the hardware back button. This leads to unexpected behaviour on Android (and from what I've read, iOS).

### Steps to Reproduce

1. Override the "OnBackButtonPressed()" method on MasterDetailPage.
2. Run application on Android and navigate to a detail page in the MasterDetailPage.
3. Press the "Back" arrow on the command bar.

[2018-02-22 04:09] CZEMacLeod commented on #1943
I had a similar issue in pure code with something like
[code]
I had to change it to
[code]
I have a feeling that the blocks/errors should not be raised until it is fully initialized.
Also what if you want a slider going from 100->0?

[2018-02-22 05:37] DineshBabuYadav commented on #1839
Any update on this ?

[2018-02-22 06:25] SridharanGajendran opened #1945 "Unable to retrieve the margin set in the DataTemplate"
### Description

### Steps to Reproduce

Xamarin.Forms.View templateLayout = listView.ItemTemplate.CreateContent() as Xamarin.Forms.View;

IVisualElementRenderer render = templateLayout.GetOrCreateRenderer();

When created the renderer, in UWP, I am not able to get the margin of the data template.

### Expected Behavior
Need to get the margin value set for the root panel in the data template.
###

[2018-02-22 07:13] ravi1124339 opened #1946 "the screen reader doesn't read text on screen like label's and other images, It only reads interactive elements like buttons."
### The screen reader is not reading non interactive element like Labels and Images. If you have any sample code which can help me with this, please share that.

### Steps to Reproduce

1. Create a label and provide AutomationProperties
2. Start the narrator for Windows 10 or JAWS 18
3. Run the project on Local Machine.

### Expected Behavior
The narrator should read the text written in the Label,

[2018-02-22 07:26] jassmith commented on #1632
Mmm a shame we have competing implementations here. At the moment I tend to lean towards not introducing a new type here. Bold/italic are not fundamentally different to underline/strikethrough if you ask me.

That said I need to reassess the situation. You make some valid points and ultimately this is about API not implementation details. I would like to have a design meeting with you involved if

[2018-02-22 07:31] AwsomeCode commented on #1906
Hi,
Thanks for creating issue project.
There are 2 issue in project you provided.

### To reproduce issue 1
Tap on first entry in the list item. //Typing cursor is before text.
Tap again first entry after text. //Typing cursor will move after text.
Delete '0'
Tap on second entry in the list item.

### Expected Behaviour 1
Typing cursor should be on second entry

### Actual Behaviour 1
![screenshot

[2018-02-22 07:34] jassmith commented on #1897
Unfortunately this is a straight up limitation coming from the underlying toolkit. Navigation.Push makes to this call here: https://developer.apple.com/documentation/uikit/uinavigationcontroller/1621887-pushviewcontroller

As you can see they plainly state that attempting to push a view controller which is already on the back stack will throw an exception. So to support this concept I would have t

[2018-02-22 07:44] andreinitescu commented on #1632
I'm for a separate TextDecorations enum, just so we're inline with Windows XAML

[2018-02-22 09:13] muhaym commented on #1316
[code]

Position 23:22. No property, bindable property, or event found for 'HasShadow', or mismatching type between value and property.

Tried with Xamarin Forms 2.5.0.280555 and 2.5.0.122203, Can't Build the Project after converting from PCL to .NET Standard.

[2018-02-22 09:15] StephaneDelcroix commented on #1316
@muhaym please open a new issue with your repro attached. thanks

[2018-02-22 09:23] StanSuc commented on #1353
Happened once while doing internal tests on iPhone 7 plus with 11.2.5 - Xamarin.iOS 11.6.1.4
Was not able to reproduce it anymore

NSInternalInconsistencyException: Exception raised while auto-deactivating <UIImpactFeedbackGenerator: 0x1c4301a70: prepared=0> for style 2: force deactivating <UIImpactFeedbackGenerator: 0x1c4301a70: prepared=0> with style TurnOn which is not active (activationCount =

[2018-02-22 09:28] muhaym commented on #1316
@StephaneDelcroix Is there any way to share repo offline. Since I am not able to recreate the issue in fresh project

[2018-02-22 09:38] IamSaravana1994 commented on #1930
Additional info, we are receiving memory related warnings when crash occurs.

[2018-02-22 10:21] davidbritch opened #1947 "Multiple compiled bindings errors in XAML only returns a single compiler error"
### Description

When a XAML file contains multiple binding errors, using compiled bindings, it would beneficial if the compiler would report an error for each binding error.

### Steps to Reproduce

1. Build the attached sample.

### Expected Behavior

Sample fails to build and reports 3 binding errors in DataTemplateCompiledBindingsPage.

### Actual Behavior

Sample fails to build and reports 1

[2018-02-22 10:28] davidbritch opened #1948 "[enhancement] Incorporate line number into compiled bindings error message"
### Description

When a XAML file contains a binding error, which is reported when using compiled bindings, the error message doesn't specify the line number in the XAML file that contains the binding error.

### Steps to Reproduce

1. Build the attached sample.

### Expected Behavior

Sample fails to build and returns an error message indicating the line in the XAML file containing the binding er

[2018-02-22 10:42] davidbritch opened #1949 "Firing INPC on compiled bindings isn't updating the UI"
### Description

When using compiled bindings, firing INPC on properties that views on the UI bind to isn't resulting in an updated UI.

If you switch off compiled bindings, the page works as expected.

### Steps to Reproduce

1. Run the attached sample.
2. On the CompiledBindings page enter some text in the Entry.

### Expected Behavior

Entered text is stored in the CompiledBindingsViewModel.Tex

[2018-02-22 12:04] sdebruyn opened #1950 "Add a way to set RaiseOnEqual flag in bindable property to true"
### Description

Bindable properties are not set when the original value reference equals the new value. Xamarin.Forms includes an internal flag `SetValueFlags.RaiseOnEqual` to change this behavior. While this flag is correctly checked when applying a new value, there is no way to enable this flag.

### Steps to Reproduce

1. Create a bindable property
2. Set the value of the property
3. Explicitl

[2018-02-22 12:24] #1707 closed

[2018-02-22 13:20] rudyspano opened #1951 "Image with Source as Url not displayed with exception when inside a Grid Not Visible then Visible on Android"
### Description
An image with a source set to an url wrapped in a Grid with IsVisible=False is not Displayed when its parent Grid is set to True on Runtime (via Binding in my case). Moreover, an exception in Application Output is written:

Image Loading: Error getting stream for http://xxxx.png: System.Threading.Tasks.TaskCanceledException: A task was canceled.
  at System.Runtime.CompilerServices

[2018-02-22 13:42] lateralusX commented on #1705
PR including fix for this issue, #1952.

[2018-02-22 13:49] rudyspano commented on #1951
Careless mistake

[2018-02-22 13:49] #1951 closed

[2018-02-22 14:20] nodoid opened #1953 "Scaling broken with current Forms (WidthRequest property)"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description
I am setting a static property which gets the physical screen size from the device. This is then applied to the WidthRequest property of a button. The request is being ignored.

### Steps to Reproduce

1. Download and build the following source https://www.dropbox.com/s/o2m5piotj39kr6t/dynam

[2018-02-22 14:20] nodoid commented on #1893
https://www.dropbox.com/s/o2m5piotj39kr6t/dynamicsize.zip?dl=0 - minimal example

[2018-02-22 14:32] henricm commented on #1672
I have started implemented this and I've got the basics to work.
So far I've put the bindable properties in the shared `VisualElement` class and updated the Windows `VisualElementRenderer`. I've tried it on Label and Button classes and it seems to work as expected. I have a few questions:

1. In which class do we want these properties - is `VisualElement` the right way to go?
2. Should we place th

[2018-02-22 14:43] twinee opened #1954 "Buttons do not adhere to styles set on android"
### Description
The buttons on android devices no longer adhere to button styles set using the styles resources. They are now narrower and display a shadow, no matter what style is set. Custom button renderers which set the StateListAnimator & Elevation properties also have no effect.

### Steps to Reproduce
1. Update Xamarin.Forms nuget package to 2.5.0.280555
2. Set a buttonStyle using styles.xm

[2018-02-22 14:44] Nixon-Joseph commented on #1900
@rmarinho I was able to get a code sample throwing the same exception. Let me know if anything doesn't work for you. All you should need to do to get it to work is load it up on an ios emu, and scroll.
[App3.zip](https://github.com/xamarin/Xamarin.Forms/files/1748319/App3.zip)

[2018-02-22 15:08] dazinator opened #1955 "MenuItem - Icon - Allow any ImageSource"
When adding a `ToolbarItem` it's `Icon` property has to be a `FileImageSource`. This means I can't use third party image sources that provide, for example, svg support.

Would you consider relaxing the constraint to `ImageSource` so we can use  for example `SvgImageSource` ?

[2018-02-22 15:47] bulente opened #1956 "CornerRadius problem with 2.5.0.280555"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

warning CS0618: 'Button.BorderRadius' is obsolete: 'BorderRadius is obsolete as of 2.5.0. Please use CornerRadius instead.'

### Steps to Reproduce

1. Replace the BorderRadius with CornerRadius in the PCL code

### Expected Behavior
Both iOS and Droid works without problem

### Actual Beha

[2018-02-22 15:52] prahna opened #1957 "Error "opcode" encountered"
### Description
Hey guys, I am trying to do something similar to OnPlatform but for DeviceOrientations. I have seen the implementation of the OnPlatform and decided to do something similar. But unfortunately, when I add the declaration of my new OnOrientation class, I get this "error : opcode" with absolutely no information.
Here is the code that generates the error :
[code]

As soon as I comment

[2018-02-22 15:53] gregmercer commented on #1911
Hi Samantha,

I've added a screenshot, mov file and a stack trace for the issue. All of
these files can be found at:

https://github.com/gregmercer/ListFrames4

Thanks,
Greg

On Wed, Feb 21, 2018 at 5:10 PM, Samantha Houts <notifications@github.com>
wrote:

[2018-02-22 16:10] almirvuk commented on #1678
@jassmith I made pull request to community repository, I am working on docs and some small improvements. I will make PR on official one in day or two 🙂

[2018-02-22 16:26] migueldeicaza commented on #1895
Hello,

We would love to reuse the work from Frank Krueger has done on Ooui on the server and bring it to the webassembly client.

So the answer is yes - we want to bring this, will close this to clear the backlog of bugs, as we will also be tracking this separately.

[2018-02-22 16:26] #1895 closed

[2018-02-22 16:48] FrankChen021 opened #1958 "use of XamlCompilation attribute leads to 'unable to resolve mscorlib' compliation warning"
### Description
if we add `[XamlCompilation(XamlCompilationOptions.Compile)]` to a Xamarin form to enable form compilation, a compilation warning shows that mscorlib conflicts as below:

### Steps to Reproduce

it's very easy to reproduce this bug
1.  create a cross-platform app(Xamarin.Forms) project with the vs2017 wizard. choose `Android` platform, and use the `.NET Standard` share strategy.
2.

[2018-02-22 16:53] yamachu opened #1959 "Crashes by shrinking page using FlexLayout on macOS"
### Description

Crash when FlexLayout that does not meet height criteria appears.

### Steps to Reproduce

1. Generate ContentPage using FlexLayout that direction is column
2. Set one or more FlexLayout set property Basis
3. Shrink main window until its height close to 0
4. It will throw `System.ArgumentException`

### Expected Behavior

Handle this exception

### Actual Behavior

Throw exception

[2018-02-22 17:51] samhouts commented on #1918
Can you be more specific about the custom components that you're using? If you could provide a reproduction project, that would be helpful. Thanks.

[2018-02-22 18:19] syvers147 opened #1961 "Live player closing on phone when debugging"
### Description

I have been following the xamarin book supplied by xamarin. The black cats application is causing the live player to simply shut down on my phone with no error messages.

Unless the code in the book is incorrect there must be a bug when accessing resources.

### Steps to Reproduce

1.  Down load Black Cats Solution from your xamarin book here

https://developer.xamarin.com/guides/

[2018-02-22 18:26] samhouts commented on #1938
We had a similar conversation on https://forums.xamarin.com/discussion/84510/improved-life-cycle-support. Is this the behavior that you need? Thanks.

[2018-02-22 18:30] samhouts commented on #1936
Do you have a reproduction project you can share with us? It'll be difficult to diagnose anything on our side without it. Thanks.

[2018-02-22 18:33] samhouts commented on #1939
Please provide a reproduction project, if possible. Thanks!

[2018-02-22 18:45] samhouts commented on #1944
We had a similar discussion here. Is this what you're looking for? https://forums.xamarin.com/discussion/100287/allow-a-single-place-to-handle-back-button-requests-with-async-support

[2018-02-22 18:47] samhouts commented on #1945
Can you provide a reproduction project that shows what you're trying to do? Thanks

[2018-02-22 18:50] samhouts commented on #1956
I think you might need to do a clean, uninstall from device, and rebuild, redeploy. Also ensure that your Android project was properly updated to the newest version.

[2018-02-22 18:56] samhouts commented on #1954
Can you provide a reproduction so we can be sure we're fixing the right issue? Thanks

[2018-02-22 19:41] samhouts commented on #1957
How did you implement `OnOrientation`? Did you set up a `TypeConverter`? Can you share your code? Thanks

[2018-02-22 19:48] samhouts commented on #1577
@owlstack Were you able to put together a sample project? Thanks

[2018-02-22 19:55] samhouts commented on #1526
@Knots23 Please reopen this issue if you're able to provide a new reproduction that will help us diagnose any issue. Thank you!

[2018-02-22 19:55] #1526 closed

[2018-02-22 19:57] samhouts commented on #1585
@StanleyBroo Please reopen this issue if you are able to provide the information requested by Stephane. Thank you!

[2018-02-22 19:57] #1585 closed

[2018-02-22 19:59] samhouts commented on #1919
Possibly related to #1595

[2018-02-22 20:03] SamuelDebruyn commented on #1919
As far as I understand it's not the same issue. This issue occurs regardless of the bundle assemblies option. In the XF source code, InvariantCulture is used instead of the current thread culture so I guess the bundle assemblies option doesn't affect this?

[2018-02-22 20:04] samhouts commented on #1751
@rafaelpereira-mobrj Have you had a chance to get a repro ready yet? Thanks

[2018-02-22 20:04] samhouts commented on #1755
@nestor-nov Have you had a chance to together a reproduction project? Thanks

[2018-02-22 20:07] samhouts commented on #1906
Related to #1600

[2018-02-22 20:08] samhouts commented on #1823
@arvindrajachourasiya Have you been able to create a reproduction project? Thanks

[2018-02-22 20:08] samhouts commented on #1799
@xiangzLL Have you been able to create a reproduction project? Thanks

[2018-02-22 20:16] samhouts commented on #1542
@grammatn I don't think we've received your reproduction code yet. When you send it, please be sure to notify us in this ticket. Thanks!

[2018-02-22 20:53] jassmith commented on #1678
Awesome

[2018-02-22 21:17] nestor-nov commented on #1755
I'll provide it next week.

[2018-02-22 22:11] PureWeen opened #1963 "AbsoluteLayout content does not fill all available space on some devices"
### Description
Work that's been done on this for Android

https://bugzilla.xamarin.com/show_bug.cgi?id=40092
https://github.com/xamarin/Xamarin.Forms/pull/1761

### Steps to Reproduce

Test the following repro project on an ipad air 2 in landscape
[AbsoluteLayoutTest.zip](https://github.com/xamarin/Xamarin.Forms/files/1749755/AbsoluteLayoutTest.zip)

### Expected Behavior
There should not be a re

[2018-02-22 23:13] AceCoderLaura commented on #1944
@samhouts Yeah that's pretty much exactly our issue. The aforementioned callback needs to be added to the codebase or the existing method needs to be enhanced to include events from the software back button.

[2018-02-22 23:16] MelbourneDeveloper commented on #1897
@jassmith , I see your point, but this doesn't change the fact that there is an issue and there needs to be a solution to this problem. We will rephrase the problem in a different way and open a new ticket. The basic issue is this:

To mint a new page we have to create a bunch of resources. It costs performance to do so, and then when we are finished with the page, we need to unhook any object ref

[2018-02-22 23:16] charlesroddie commented on #1938
I don't think so as these events need to be once per frame (usually 60fps) while those are rarer.

The intention is to do animation in SkiaSharp and I am not completely sure if refresh information should be derived from Xamarin Forms or from SkiaSharp. @mattleibow is this issue better off in SkiaSharp?

[2018-02-22 23:28] jassmith commented on #1897
Please dont file a new bug, I will re-open this bug if you modify it better match what would be a reasonable suggestion.

[2018-02-22 23:37] jassmith commented on #1897
Here is my suggestion:

1) We add an API lets say

[code]

Then you can do the following:

[code]

You can subscribe to events on the NavigationPage to see when `myPage` is popped and re-insert it at its last location. You will need to do that bookkeeping yourself, however this will be much faster because there is no renderer recreation.

That said, if you try to do this where you push the same pa

[2018-02-23 00:06] rookiejava commented on #1662
On tizen,
```control.SetPartColor("bg_on",color);```

[2018-02-23 00:14] MelbourneDeveloper opened #1965 "HeightRequest Doesn't Change Editor Size - UWP"
### Description
If an Editor (and probably other controls) is in an Auto sized row on UWP, and the HeightRequest is changed to 0, the control is not resized, but the RowDefinition's height **_is_** changed.

### Steps to Reproduce
1. Clone this repo https://ChristianFindlay@bitbucket.org/ChristianFindlay/xamarin-forms-scratch.git
2. Open the solution and run the UWP App
3. Click Auto Test Page
4.

[2018-02-23 00:22] MelbourneDeveloper commented on #1937
Can confirm that animations are terrible in UWP. We have a sidebar menu that collapses and opens. You can see visually that it does so in about 4-5 steps. It looks terrible.

[2018-02-23 00:25] josephca88 commented on #1830
@jassmith,,

I hope you could help us. But the issue persist on Non-AppCompat FormsApplication. Our project doesn't use the AppCompat at the first place. As we know, the bug on the picker was only been fixed under the AppCompat Forms of Xamarin but not on the Non-AppCompat.

Following the steps from @shivagurunathan, you can easily reproduce the issue from the sample application provided by him.

[2018-02-23 00:44] jassmith commented on #1830
[code]

Should get you going right away.  The non-AppCompat backend is hitting end of life really and while I am confirming this bug it won't get prioritized very high considering our already stretched resources.

[2018-02-23 00:46] josephca88 commented on #1830
You have provided a code snippet. However, I have no idea where should the code to be put on?

Can you please let us know. Thanks

[2018-02-23 00:49] jassmith commented on #1830
Place it in your Android project heads AssemblyInfo.cs

Realistically you can put it at the top of any old file, it doesn't matter. It's an assembly level attribute.

[2018-02-23 00:52] jassmith commented on #1830
Eh I just realized that will probably crash, worth a try however

[2018-02-23 00:56] josephca88 commented on #1830
What do you mean that it will crash? In what particular instance?

Thanks.

[2018-02-23 01:07] jassmith commented on #1830
Trying to use the new AppCompat renderer with the old backend. More than likely it will complain its not in an AppCompat activity. This is not 100% for sure, but it is the most likely outcome.

[2018-02-23 01:19] samhouts commented on #1839
@DineshBabuYadav It does seem unexpected that the behavior is different.

May I ask what your goal is for triggering a layout in this way?

[2018-02-23 02:00] josephca88 commented on #1830
After the test with the provided snippet applied, still experiencing the crash issue.

Here is the crash dump.

02-23 09:59:56.594 I/MonoDroid( 5574):   at Xamarin.Forms.Platform.Android.PickerRenderer.<OnClick>b__10_2 (System.Object sender, System.EventArgs args) [0x00000] in C:\BuildAgent2\work\aad494dc9bc9783\Xamarin.Forms.Platform.Android\Renderers\PickerRenderer.cs:139
02-23 09:59:56.594 I/Mo

[2018-02-23 02:10] MelbourneDeveloper commented on #1897
@jassmith , I've read over this a few times. Essentially what you are suggesting here is really what @AceCoderLaura has been asking for. The only difference being that we flag the page with a value of RendererRetainMode.Retain . I guess that would be OK, but it seems like a bit of overkill. Surely, you know if a page has ever been rendered before, and if the programmer is trying to Push it again,

[2018-02-23 02:24] MelbourneDeveloper commented on #1897
@jassmith , really, the question is more like this:

If you were a new developer coming in to Xamarin Forms now, and you had these requirements:

- App must have back functionality
- App must never create a page unnecessarily (i.e. it should always recycle the first page on the back stack when there are more than 5 pages in the back stack)

**_How would you go about it?_**

Surely other people wou

[2018-02-23 02:49] bill2004158 commented on #1909
[Android] the new version(2.5.0.280555) added some padding for the button.

[2018-02-23 03:36] AceCoderLaura commented on #1897
_**We want singleton pages without sacrificing the backwards navigation.**_

[2018-02-23 03:52] MelbourneDeveloper opened #1966 "ListView - No Indication When DataTemplate Error Occurred"
### Description
When XAML is rendered dynamically inside controls like ListView with a DataTemplate, there is often no visual indication that the parsing/rendering has failed. Moreover, if the element doesn't end up getting rendered, it can cause the app to crash. Also, clicking on a ListView item that did not correctly render will crash the app. This is a problem with ListView, but probably happe

[2018-02-23 03:55] programmation commented on #1897
I think the fact that Xamarin Forms does page-based navigation instead of viewmodel-based navigation may be working against it here. Navigating by viewmodel, you can cache pages (much as ListView caches cells) and simply (re-)apply the viewmodel binding context while maintaining back stack out of the viewmodels. XF's page-based navigation makes that much harder because it's starting at the wrong e

[2018-02-23 04:00] FrankChen021 commented on #1958
I checked the diagnostic log of msbuild with/without `XamlCompilationOption`, the only difference is that there is a dependency to mscorlib 4.0.0 detected and it can't be resolved because currently it's built for Android, the mscorlib should be 2.0.5 shipped by Mono.

it took me some hours to dig out what happened if it's compiled with `XamlCompilationOption`.  I checked the IL DASM. i found the `

[2018-02-23 04:03] MelbourneDeveloper commented on #1948
Yeah, we also need the line and column number when there is an exception dynamically rendering XAML inside the app as well. In Silverlight, when there is a XAML error, we get the line and column editor. That allows our XML syntax highlighting control to move the cursor to where the XAML bug is like in Visual Studio. It's very useful so you don't have to sift through tonnes of XAML.

[2018-02-23 04:04] MelbourneDeveloper commented on #1955
This was a problem for us as well. In fact, we had to bend over backwards to replace the UWP control's XAML template simply for the purpose of adding a non-silhouette image in to the control. And, that's just one platform.

[2018-02-23 04:42] breyed commented on #1366
The activity indicator can also gets stuck even if the app remains in the foreground. If you navigation away from the page with the list view and then navigate back, the activity indicator no longer animates.

[2018-02-23 06:25] Swathi-Gopal opened #1967 "Custom view rendering issue while converting view from Xamarin Forms to native Xamarin.Android"
Bug report best practices: https://github.com/xamarin/Xamarin.Forms/wiki/Submitting-Issues

### Description

Adding a custom view to the UI doesn’t occupy the entire space (loaded a grid containing 3 labels Subject, Notes, Location within a frame). A frame is set with Padding property and Grid is loaded into Frame such that the grid inside the frame doesn’t occupy the space accordingly.

We have s

[2018-02-23 06:42] bulente commented on #1956
@samhouts, uninstall from device and rebuild-redeploy solved the problem, thanks.

[2018-02-23 06:42] #1956 closed

[2018-02-23 07:17] Dhaval8087 opened #1968 "Xamarin.Forms Android Pushnotification FCM OnMessageReceived not fired when app is background."
[###] Description
We have Implemented a PN for Xamarin.Forms Application using Azure Notification Hub, it's perfectly fine in IOS.
In Android we received the PN and when is running then OnMessageReceived event fired and it's working but when my app is in background and when I clicked on Notification it will just open the App not fired the OnMessageReceived Event.

### Expected Behavior
When App is

[2018-02-23 07:59] FrankChen021 commented on #1958
i also try to fix this problem, but i have not come up with a solution. i remove some the code for IL generation so that the final `InitializeComponent ` looks like

[code]

it's very strange that **dependency to mscorlib 4.0.0.0 still exists**. IL DASM provided by Visual Studio shows that code in the method has no dependency to mscorlib but System.Runtime

[code]

while the IL decompiled by JetBr

[2018-02-23 08:09] jassmith commented on #1897
_**bold italics just make this harder for me to read, please stop that...**_

You are all worried about how Xamarin.Forms should work if it were a standalone toolkit, it is not. It is however fundamentally limited by the behavior of the toolkits it is a projection of.

I will attempt to address your concerns here but let me state a guiding principle. Xamarin.Forms must strive to never "hack" featu

[2018-02-23 08:12] StephaneDelcroix commented on #1948
@MelbourneDeveloper error reporting for dynamically loaded xaml is another topic. please open a new issue.

[2018-02-23 08:16] StephaneDelcroix commented on #1958
this should be fixed by #1899, but I need to confirm that.

[2018-02-23 08:25] StephaneDelcroix commented on #1732
BackgroundColor and TextColor properties applies to the Entry-like control that's part of the `Picker`, not the the dropdownlist part. this is what this issue is about.

[2018-02-23 08:26] twinee commented on #1954
i'll try to get to it tomorrow!

[2018-02-23 09:15] RalphJacobson commented on #1883
Turns out @rmarinho was right, just needed exception handling around some 3rd party lib and the problems went away. Thanks.

[2018-02-23 09:15] #1883 closed

[2018-02-23 09:28] RalphJacobson commented on #1353
Definitely not a sporadic issue, I can replicate this consistently every time on different devices with Xamarin.iOS 11.6.1.4.
Please follow my steps to replicate to the T, especially point 2 "Scroll the view up to make the switch visible (without closing the keyboard.)"

[2018-02-23 09:44] RalphJacobson commented on #1353
@samhouts just tested it on a Plus and could not replicate the issue.  Use any other device that's not a Plus.

[2018-02-23 10:12] veryhumble commented on #1939
èt voilà: https://github.com/veryhumble/xamarin-bugreports

Actually the issue seems to be different than what I described initially. I found out that as soon as I use a `GroupHeaderTemplate` using a `DataTemplateSelector` I get the said Exception on Android but not on iOS. If no selector is used, it works.

[2018-02-23 11:08] MsXam commented on #1424
So **two** months on from when I originally raised this critical issue - its still not fixed.

FYI - This is fixed in **2.3.4.270** and **2.4.0.280**. - any releases of XF after these versions , things just went downhill on all platforms ... from _**gesture recognizers**_ not working still on Android when wrapped inside a few containers to events not firing if a **_background color_** is set ?!!

[2018-02-23 12:05] grammatn commented on #1542
Sorry, I forgot it. Now I sent the code. Thank you for the reminder.

[2018-02-23 13:54] davidortinau commented on #1424
I'm reviewing this today and will work to get you this fix. We have definitely missed something here, and I deeply apologize. As anyone has issues like this that appear critical that you feel are not getting the attention and movement you require, please please please let me know. Email is probably the best: david.ortinau@microsoft.com.

I'm looking into why this issue isn't labeled as a regressio

[2018-02-23 14:06] opcodewriter commented on #1424
I like how Xamarin team has time to make private calls (new PR move?), but there's no time for anything which actual matters: making sure issues are addressed and nothing continues to fall through the cracks, like it always has.
To me anybody, any company, any developer who uses Xamarin Forms is a masochist. The whole "cross platform" "write once" idea goes down the toilet with all the issues in t

[2018-02-23 14:30] nodoid commented on #1965
Could be related to #1953

[2018-02-23 14:31] JR-Fire commented on #1536
Same problems, again with J5. We're currently unable to upgrade to Xamarin.Forms 2.5 because of building problems with another plugin.

[2018-02-23 14:38] OpenInformaticaTrading commented on #1475
Same here, Visual Studio 2017

[2018-02-23 14:55] opcodewriter commented on #1424
Sorry. I love Xamarin. I just hope things will get much better, and sooner.

[2018-02-23 15:28] sayedihashimi commented on #1943
A customer I'm working with has also run into this. He said it took him **about an hour** to figure out he needed to set `Maximum` before `Minimum`. Also he stated that when developing in XAML with UWP there was no such requirement for Maximum to be before Minimum.

[2018-02-23 15:37] davidortinau commented on #1414
I've tested this again in the nightly build and can no longer reproduce the crash with the provided code. 2.6.0.211236-nightly

[2018-02-23 15:39] davidortinau commented on #1424
I've tested this using the project on #1414 with 2.6.0.211236-nightly, and I'm no longer able to reproduce the crash. If this isn't the case for others here, please let me know.

I'm raising this issue with engineering to get the fix into a release.

[2018-02-23 15:50] prahna commented on #1957
Hi, this is the implementation of the OnOrientation class.

`

    [ContentProperty("Value")]
    public class OrientationValue
    {
        public DeviceOrientations Orientation { get; set; }

        public object Value { get; set; }
    }

    [ContentProperty("Orientations")]
    public class OnOrientation<T>
    {
        public IValueConverter ValueConverter { get; set; }

        public T

[2018-02-23 15:52] alanag13 commented on #1632
@jassmith I sent you a message on this, just wanted to make sure you saw in case one of your email filters swallowed it :-)

[2018-02-23 15:54] dhaligas commented on #1719
@jassmith I have to do this now.  is there a way to hack this in on Android with a renderer or effect?

[2018-02-23 17:29] samhouts commented on #1909
It did. That was intentional because default Android buttons have that padding, and we want all of your buttons to look as similar as possible. #1935 will add a platform specific that you can use to remove that default padding.

[2018-02-23 17:31] samhouts commented on #1956
Awesome! Thanks! :)

[2018-02-23 17:37] samhouts commented on #1353
Hmm, interesting. I'm not using a Plus, and I believe I did follow the instructions to a T repeatedly. I see every behavior described except for `#6.  Boom`.

Are you deploying in release mode? There has to be some other variable here that's different; we just need to find it. :)

[2018-02-23 18:23] samhouts commented on #1839
Duplicate of #1421, #1764. In future, you are welcome to reopen the old issue with new information instead of creating new ones. We do watch them when the status changes. :)

[2018-02-23 18:24] samhouts commented on #1764
Closing in favor of #1839

[2018-02-23 18:24] #1764 closed

[2018-02-23 19:15] samhouts commented on #1968
I believe this is expected. Please refer to https://developer.xamarin.com/guides/android/data-and-cloud-services/google-messaging/remote-notifications-with-fcm/#Implement_FirebaseMessagingService.

Thanks!

[2018-02-23 19:15] #1968 closed

[2018-02-23 19:44] samhouts commented on #1967
The reproduction doesn't render anything on the screen for me except for the `GreenYellow` background, so I can't verify if this is the problem or not, BUT...

The Xamarin.Forms layout code uses the bounds of the Parent to determine the maximum space the View can occupy. When Views are added to Pages in Forms, the Parent is automatically set. Here, you are circumventing that by creating a `CustomV

[2018-02-23 19:50] samhouts commented on #1471
When you say "Add Nuget Packages to Xamarin Forms Solution", which nuget packages are you referring to? Can you reproduce this with a brand new Xamarin.Forms solution, or does it only seem to happen to your project? Thanks

[2018-02-23 20:06] jassmith commented on #1536
I would need a lot more detail that what you are providing. You need to open a new bug and provide detail, ideally provide a reproduction case too.

[2018-02-23 20:07] JR-Fire commented on #1536
Ok, what do you want me to provide? I\ll open a new bug but I'd rather give you all the info you need in advance.

[2018-02-23 20:07] jassmith commented on #1632
It did, thanks for the ping

[2018-02-23 20:14] jassmith commented on #1536
Bugs with minimal reproduction cases and clear definitions get resolved far quicker than any other type of bug.

Good bug reports have:

- A clear *specific* issue
- A reproduction case (this is usually a small project)
- A good explanation of what the expected behavior is

So in this case I think "every user action in our app takes forever and is glitchy, even typing on the keyboard and opening t

[2018-02-23 21:00] latsson commented on #1471
Is not this a bug in visual studio that has been fixed? Can't find the bug report right now though.

[2018-02-23 23:10] samhouts commented on #1845
Your handler does run, actually. The problem is that you are awaiting a Task that is never started, so it will never return.

You can just change your handler to this, and it works like a charm:
[code]

Thanks!

[2018-02-23 23:10] #1845 closed

[2018-02-23 23:32] samhouts commented on #1930
May I ask what you are trying to achieve with such a large HeightRequest? Thanks

[2018-02-23 23:35] samhouts commented on #1924
It is an interesting behavior, and I believe it's due to Labels reporting back their height after rendering to resize their parents due to word-wrapping, etc.

May I ask what your use case is for wanting the inner StackLayout to overflow in all cases?

Thanks

[2018-02-23 23:47] samhouts commented on #1927
Probably related to #1900

[2018-02-24 00:00] samhouts commented on #1342
Probably related to #1927

[2018-02-24 00:11] samhouts commented on #1542
This looks to be the same issue as #1342. There's a workaround on that thread. This is probably related to #1927.

[2018-02-24 01:41] adrianknight89 commented on #1404
@Maxgamerboy1 The reproduction file is too big (87Mb). Can you re-upload after removing bin and obj folders from all four projects?

[2018-02-24 06:05] PureWeen commented on #1471
This might be a bug with the Android linker

I've seen it come up when you have nugets that still include PCL libraries  or pre-netstandard 2.0 libraries and you add them into  a netstandard 2.0 projects. I'm still running up against this issue with the Azure IoT libraries

https://github.com/Azure/azure-iot-sdk-csharp/issues/197

I fixed it their by just recompiling them against NetStandard 2.0

[2018-02-24 14:32] Maxgamerboy1 commented on #1404
As requested by @adrianknight89 https://drive.google.com/file/d/1BMG8SUTtaYnDH4FPWFHUK5bFeqt3ly3z/view?usp=sharing
That should do the trick!

[2018-02-24 20:06] ExzaSolutions commented on #1471
Hi,our appsize was 107mb on Android.
While our competitions size was less than 15mb.
We use progaurd and linking against sdk assemblies and got it down to 42MB +-.
Then the error started to popup.
It took  a week to figure this out and fix it.
I found this very counter productive,especially when you have deadlines.
In the end it was a good learning curve, that is till the next surprise.
We still n

[2018-02-25 03:52] programmation commented on #1897
@jassmith That was not what I was referring to. In mentioning ViewModel-based navigation I was not thinking about undirected travel around an app's various views. Instead I was suggesting that in the context of a navigation that we want to operate like a stack, ViewModel-based navigation makes it easier to push a ViewModel onto the stack, and then decide how to display it - either by creating a Pa

[2018-02-25 05:11] FreedCapybara commented on #1845
Oh man, that was all? I figured I must have had some of the Xamarin details messed up. Thanks for catching my derp!

I create Sainthood as a Service in your honor 🙏
http://shaas.azurewebsites.net?imageUrl=https://avatars2.githubusercontent.com/u/7827070?s=460&v=4

[2018-02-25 06:40] opcodewriter commented on #1968
@Dhaval8087 Next time please do not open issues related to anything but Xamarin Forms. This repository is not your Stack Overflow.

[2018-02-25 09:57] shbhsu commented on #1475
Same Issue Visual Studio 2017 15.5.7

[2018-02-25 10:02] amihailes commented on #1475
I confirm for VS 2017 15.5.7.
________________________________
From: shbhsu <notifications@github.com>
Sent: Sunday, February 25, 2018 10:57 AM
To: xamarin/Xamarin.Forms
Cc: amihailes; Comment
Subject: Re: [xamarin/Xamarin.Forms] Live Player Build Does Not Access Xamarin Namespace (#1475)

Same Issue Visual Studio 2017 15.5.7

—
You are receiving this because you commented.
Reply to this email dir

[2018-02-25 21:03] philmoz commented on #1909
What happened to the philosophy of not making changes that break existing code?
I don't care what default buttons do on Android, I want a my XAML layouts to look consistent across iOS and Android, I don't want to have to add a 'platform specific' setting to every button just to get rid of some arbitrary default padding.
If I set Padding="0" I expect there to be no padding, pure and simple.

[2018-02-25 22:26] MelbourneDeveloper commented on #1953
This may or may not be related to https://github.com/xamarin/Xamarin.Forms/issues/1965

But, I only started investigating these issues because I have a problem in Android in one App. If there is an ListView on screen in an Auto RowDefinition, on UWP the row shrinks and expands appropriately. But, on Android, the row is always expanded which it shouldn't be. I've tried hard to recreate the bug, but

[2018-02-25 22:28] MelbourneDeveloper commented on #1961
We can't get Live Player to run at all on Android.

[2018-02-25 22:30] MelbourneDeveloper commented on #1944
Is this bug accepted yet? It's a big issue. What more information is needed?

[2018-02-26 03:00] MelbourneDeveloper commented on #1897
@jassmith

This doesn't fill me with much confidence. I'm also worried about further bloating and bifurcating the Xamarin Forms codebase. I do understand that there are underlying constraints that you have to work with. But, Xamarin Forms is a layer on top of the lower level components, so it needs to be robust and uniform across platforms.

Currently, our XF UWP app leaks memory like crazy. This

[2018-02-26 07:36] syvers147 commented on #1961
If you comment all the code inside the using block it might open in live player. What I did to confirm where the error is coming from is first comment out the using block of code and run in live player, this worked and opened a blank page (you could stick a label in or something to show it really is working).

 Next I copied the code to get the stream into its own line of code so just simply:

Str

[2018-02-26 08:11] RalphJacobson commented on #1353
@samhouts you are using an actual device and not a simulator, correct?

Perhaps @jassmith can show you how to replicate?

[2018-02-26 09:21] SamuelDebruyn opened #1975 "[iOS] ListView throws NRE when grouping enabled and data changed"
### Description

The ListView renderer for iOS throws a `NullReferenceException` when the bound data is updated after the ListView was disposed (no longer in navigation stack) and grouping and short names are enabled.

### Steps to Reproduce

1. Create a ListView, enable grouping and use databinding
1. Navigate to a different page, removing the current page from the backstack
1. Update the data th

[2018-02-26 11:06] #1683 closed

[2018-02-26 11:29] wasaczd commented on #1373
The problem still persists (XF 2.5.0.280555) and becomes more and more annoying :-(

[2018-02-26 11:48] #1739 closed

[2018-02-26 13:39] drznathou commented on #1353
@samhouts I've ran into this issue in release mode only on real device

[2018-02-26 13:48] AndreiMisiukevich opened #1977 "[Android] PanGestureRecognizer doesn't work with ScrollView/ListView and TapGesture"
Hi Xamarin

//Here is pseudocode below
var parent = new AbsoluteLayout(); // Has got PAN gesture
var child = new AbsoluteLayout(); // Has got TAP gesture OR ScrollView/ListView
parent.Children.Add(child);

So, in those cases we lose ability to handle PanGesture, because Scroller/TapGesture prevent pan touches..

[2018-02-26 16:14] alanag13 commented on #1632
@jassmith I sent you a follow-up with specific times that work for me, just pinging you again to ensure visibility :-)

[2018-02-26 16:27] hartez opened #1978 "[Enhancement] More error information from XAMLC when missing OnPlatform tag"
### Description

If I'm using the `OnPlatform` feature in XAML and forget the <OnPlatform> tag, the XAMLC error message is not very helpful in diagnosing the problem. For example if I do the following:

[code]

The error from XAMLC is just `Sequence contains no elements`. In XAMLG, the runtime error includes XmlLineInfo, which gives me a clue where to start looking for the problem.

### Steps to R

[2018-02-26 18:40] jassmith commented on #1909
Thats why its a platform specific. We have to assume that the old padding behavior is the expected behavior for existing code.

[2018-02-26 18:41] Paul-Brenner-Tangoe commented on #1924
@samhouts I have not experienced this one myself, I just migrated it because it seemed like something that should be fixed. I think the expected behavior would be that it should not overflow in all cases.

[2018-02-26 18:49] jassmith commented on #1897
@MelbourneDeveloper

Thats exactly why we support push navigation rather than undirected navigation. We can uniformly support push navigation.

Our stance on this is firm. We will not be supporting features wildly against what the underlying toolkits support. I am trying to work with you to get what you want, but I do need to work with you to come to an acceptable point where we can commit to supp

[2018-02-26 18:50] jassmith commented on #1897
@programmation
Ah I see what you meant now. Yes we are not going to add an MVVM toolkit which is what would be required to implement what you are speaking of. I have pushed for that to be part of a Xamarin.Forms.MVVM nuget many times but generally always get rebuked. If we did have such a thing we could make what you are speaking of a reality which would help a bit.

[2018-02-26 19:12] jassmith commented on #1353
@RalphJacobson I will try to replicate again. Release mode may be required as I recall... I only ever got it to do it once after fucking with it for 20+ minutes.

[2018-02-26 19:37] samhouts commented on #1940
Can you provide a more complete reproduction project that shows how you have bound the command to the ListView items? Thanks!

[2018-02-26 21:20] #1670 closed

[2018-02-26 22:12] rachelmoor commented on #1879
@samhouts @rmarinho Why was this removed?

[2018-02-26 22:30] jassmith commented on #1879
Its already in the enhancements board :)

[2018-02-26 22:36] rachelmoor commented on #1879
I'm sorry but I'm having issues finding it! Would you mind linking it?

![image](https://user-images.githubusercontent.com/13911774/36699703-56b805b2-1b02-11e8-929e-3f65e54f059d.png)

[2018-02-26 22:37] jassmith commented on #1879
Its awaiting triage in the board :)

[2018-02-26 23:52] bobtheotherbuilder commented on #1518
+1 sadly...

[2018-02-27 00:26] samhouts commented on #1954
Related to #1909

[2018-02-27 00:37] samhouts commented on #1909
@philmoz Are you setting Padding = 0 in a custom renderer or in the Android styles? The Xamarin.Forms Button doesn't have a Padding property, so I just want to be clear about what settings you're using for your buttons. Thanks :)

[2018-02-27 01:14] Corneliuskruger commented on #1353
I am currently having this same issue. If your keyboard is displayed and you touch the switch, the keyboard closes. If you then touch the switch again to change its state, the app will crash after 7 seconds.

If you close the keyboard by any other means it does not seem to crash.

My Layout is basically an image, an Editor and a Switch in a StackLayout in a ScrollView.

Hoping this will help you r

[2018-02-27 06:39] HarshitaGhosh opened #1979 "While opening a list item app crashed"
Receive this error from hockey app:

StackLayout.LayoutChildren
android.runtime.JavaProxyThrowable: System.NullReferenceException: Object reference not set to an instance of an object

Xamarin caused by: android.runtime.JavaProxyThrowable: System.NullReferenceException: Object reference not set to an instance of an object
Xamarin.Forms.StackLayout.LayoutChildren(double x, double y, double width, d

[2018-02-27 08:26] drznathou commented on #1353
@Corneliuskruger Interesting...  I also have a a
[code]
I don't know how the issue happened in my case since it crashed on a client device. But the scenario you mentionned seams to be real

[2018-02-27 08:29] olegpidsadnyi opened #1980 "TableView with ViewCell off by one rendering error when using Label.IsEnabled binding"
### Description

I'm using TableView for the menu in the Master Page (MasterDetailPage.Master) and I want to grey-out one of the items. ViewCell.IsEnabled="{Binding IsAdmin}" is not enough because child elements are not greyed out.
So I've put the binding on the label inside the cell as well: <Label IsEnabled="{Binding IsAdmin}" />

Instead the previous item is greyed out. If I swap them places so

[2018-02-27 10:31] #1623 closed

[2018-02-27 10:49] StephaneDelcroix commented on #1978
FYI: XamlG is not the tool used at runtime. XamlG is the generator for the partial code behind class

[2018-02-27 12:33] DineshBabuYadav commented on #1839
@samhouts ,

We have already provided the replication procedure with very simple sample to replicate the mentioned issue and provided much needed information about the issue in other bug reports #1421, #1764.

However, we will describe the scenario again for a keen clearance to you and help us to sort out from this issue,

In MasterDetailPage, we have some kind of options in master page say page1b

[2018-02-27 12:39] Selvamz commented on #1839
@samhouts, We are from Syncfusion and this issue occurs on Syncfusion ListView component. In our SfListView, we have re-layout (recycle) the items while scrolling.

[2018-02-27 13:41] StephaneDelcroix commented on #1957
I tried to reproduce your issue on both 2.5 and our nightly, and the Xaml (or whatever I was able to extrapole from your snippets) compiles just fine.

please come up with the smallest piece of reproducible test case, and reopen the ticket.

[2018-02-27 13:41] #1957 closed

[2018-02-27 14:01] akgulebubekir opened #1983 "typo issue: string and property name is not same"
it shold be "ClassStyles"

https://github.com/xamarin/Xamarin.Forms/blob/185d1ce6adb83dd652552afbca337186a80f2a03/Xamarin.Forms.Core/MergedStyle.cs#L59

[2018-02-27 14:57] StephaneDelcroix commented on #1983
in this case, it could be "foo" that it wouldn't change a think. that property is only used internally and so the name doesn't matters

[2018-02-27 14:57] #1983 closed

[2018-02-27 15:00] alanag13 commented on #1661
@cwraks zooming in wkwebview is enabled by default. If you comment out everything related to the scroll view you should be good.

[2018-02-27 15:02] simyco opened #1986 "TapGestureRecognizer not fire for items inside cells when list appears"
### Description
TapGestureRecognizer not fire in Android devices after list appears, if i scroll the list and tap the area the gesture will fire, in iOS everything works fine
### Steps to Reproduce
I've a code like this:

[code]

### Expected Behavior
The gesture fires when item tapped
### Actual Behavior
Nothing happens when item tapped
### Basic Information

- Version with issue: 2.5.0.280555
-

[2018-02-27 15:03] alanag13 commented on #1661
If that doesn't work it's possible that another control you have is capturing your input and interfering. In particular, since wkwebview comes with it's own scroll view "attached" you shouldn't have to add one yourself.

[2018-02-27 15:07] alanag13 commented on #1661
Another gotcha here is that sites will not zoom if their `meta viewport` html tag is set to disallow this.

[2018-02-27 15:51] biapar commented on #1527
not work.
VS 2017 15.5.7

[2018-02-27 16:25] Corneliuskruger commented on #1353
@drznathou I have almost the exact same layout.

As I said before, it only happened if you touched the switch when the keyboard was open. So I devised a play to "Hide" the switch while the keyboard is open.

I was able to implement a work around for this. Here is the steps:

[code]

Add Focused and Unfocused event handlers to Editor control.
In Editor_Focused set InputTransparent on the stackpanel

[2018-02-27 18:47] jvansickle-cei opened #1988 "[macOS] Entry does not accept common key commands"
### Description

Entry elements do not accept standard text entry key combinations such as ⌘a, ⌘c, and ⌘v.

### Steps to Reproduce

1. Add Entry to a xaml layout
2. Click into Entry
3. Attempt copy, paste, select all key combinations

### Expected Behavior

Standard key combinations out of the box

### Actual Behavior

No standard key combinations

### Basic Information

- Version with issue: 2.4.

[2018-02-27 19:19] Amine-Smahi commented on #1922
Yes @jimmgarrido this is a new install, i did create  a new Xamarin.Forms project but unselect the Android platform and it didnt solve the problem , i stil get 0 projects

[2018-02-27 19:45] cwraks commented on #1661
Brilliant! Many thanks @alanag13 for leading me in the right direction! The webpage that was being rendered did have this '<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">'. So I eventually found out that you could use the "IgnoresViewportScaleLimits" property on the WkWebViewConfiguration to ignore the meta viewport, and now it pinches to zoom beautifully!

[2018-02-27 22:54] Kizari commented on #1490
Having this issue as well.

Seems to occur consistently when certain devices manually close the app (i.e. open the running processes drawer and swipe the app away), which leads me to believe it is related to OnDestroy in this instance as well. Users have a bad habit of doing this which in turn crashes the app and stops the background work from functioning as expected, leading to a poor user experi

[2018-02-28 01:16] samhouts commented on #1961
I believe this is a limitation of the LivePlayer at this time. Thank you!

[2018-02-28 01:16] #1961 closed

[2018-02-28 04:02] franzdevel opened #1989 "Disappearing ActivityIndicators in TableView on iOS"
### Description

On iOS, when scrolling through a Xamarin.Forms.TableView whose cells include running ActivityIndicators, those ActivityIndicators sometimes become invisible.

### Steps to Reproduce

1. Run attached project on iOS simulator or device (I tested on iPhone 8 / iOS 11.2 simulator and on iPhone 4s / iOS 9.3.5 device)
2. In the displayed list, scroll up and down.

### Expected Behavior

[2018-02-28 06:35] Parmendrakumar opened #1991 "Navigation bar disable when Xamarin.forms update 2.4.0 to 2.5.0.280555"
### Description
Unable to see NavigationBar with X.F 2.5.0.280555
### Steps to Reproduce

1.  Update Xamarin.Forms package version 2.5.0.280555
2.  Deploy to Android device

### Expected Behavior
Navigation Bar should be display
### Actual Behavior
Navigation bar disappear when update to X.F package version.
### Basic Information
Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Upda

[2018-02-28 06:43] Parmendrakumar commented on #1991
On Login page I am using:
   Navigation.InsertPageBefore(new StoresList(),this);
   await Navigation.PopAsync().ConfigureAwait(true);

My ListViewpage Design:

<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml" BackgroundColor="AliceBlue"
            x:Name="Page" NavigationPage.HasN

[2018-02-28 08:35] syvers147 commented on #1961
Sorry, what is the limitation?

Live player works on Android so is the limitation when trying to access a file? It says in the notes that your side cannot even get Live Player working so I don't know if you mean it wont work altogether or just that it is when accessing files.

I cannot believe you have just dismissed the whole issue in that manner.  I am speaking to Xamarin employees here aren't I

[2018-02-28 09:20] GamesAgeddon opened #1992 "[iOS] ListView throws NRE during rotating the device (iPhoneX)"
### Description

The ListView renderer for iOS throws a `NullReferenceException` during rotating the device. Especially if you use a iPhoneX

### Steps to Reproduce

1. Create a ListView
2. Rotate the device

### Expected Behavior

Nothing happens.

### Actual Behavior

The ListView renderer for iOS throws a `NullReferenceException`.

### Basic Information

- Version with issue: `2.5.0.122203` and